<% content_for :sidebar do %>
  <p>
    <%= link_to image_tag('acrobat.gif', alt: 'Adobe Reader', class: 'no-border'), 'http://www.adobe.com/products/acrobat/readstep2.html' %>
    <%= t('printable_directories.make_sure_you_have_adobe_html', url: "http://www.adobe.com/products/acrobat/readstep2.html" ) %>
  </p>
<% end %>

<p>
  <%= t('printable_directories.were_are_building_custom_pdf') %>
</p>
