<div class="chapter" id="Nahum-001">
  <h2>Nahum 1</h2>
  <span class="verse" title="Nahum 1:1" id="Nahum-1-1">An oracle about Nineveh. The book of the vision of Nahum the Elkoshite.</span>
  <span class="verse" title="Nahum 1:2" id="Nahum-1-2">Yahweh is a jealous God and avenges. Yahweh avenges and is full of wrath. Yahweh takes vengeance on his adversaries, and he maintains wrath against his enemies.</span>
  <span class="verse" title="Nahum 1:3" id="Nahum-1-3">Yahweh is slow to anger, and great in power, and will by no means leave the guilty unpunished. Yahweh has his way in the whirlwind and in the storm, and the clouds are the dust of his feet.</span>
  <span class="verse" title="Nahum 1:4" id="Nahum-1-4">He rebukes the sea, and makes it dry, and dries up all the rivers. Bashan languishes, and Carmel; and the flower of Lebanon languishes.</span>
  <span class="verse" title="Nahum 1:5" id="Nahum-1-5">The mountains quake before him, and the hills melt away. The earth trembles at his presence, yes, the world, and all who dwell in it.</span>
  <span class="verse" title="Nahum 1:6" id="Nahum-1-6">Who can stand before his indignation? Who can endure the fierceness of his anger? His wrath is poured out like fire, and the rocks are broken apart by him.</span>
  <span class="verse" title="Nahum 1:7" id="Nahum-1-7">Yahweh is good, a stronghold in the day of trouble; and he knows those who take refuge in him.</span>
  <span class="verse" title="Nahum 1:8" id="Nahum-1-8">But with an overflowing flood, he will make a full end of her place, and will pursue his enemies into darkness.</span>
  <span class="verse" title="Nahum 1:9" id="Nahum-1-9">What do you plot against Yahweh? He will make a full end. Affliction won&#8217;t rise up the second time.</span>
  <span class="verse" title="Nahum 1:10" id="Nahum-1-10">For entangled like thorns, and drunken as with their drink, they are consumed utterly like dry stubble.</span>
  <span class="verse" title="Nahum 1:11" id="Nahum-1-11">There is one gone forth out of you, who devises evil against Yahweh, who counsels wickedness.</span>
  <span class="verse" title="Nahum 1:12" id="Nahum-1-12">Thus says Yahweh: &#8220;Though they be in full strength, and likewise many, even so they will be cut down, and he shall pass away. Though I have afflicted you, I will afflict you no more.</span>
  <span class="verse" title="Nahum 1:13" id="Nahum-1-13">Now will I break his yoke from off you, and will burst your bonds apart.&#8221;</span>
  <span class="verse" title="Nahum 1:14" id="Nahum-1-14">Yahweh has commanded concerning you: &#8220;No more descendants will bear your name. Out of the house of your gods, will I cut off the engraved image and the molten image. I will make your grave, for you are vile.&#8221;</span>
  <span class="verse" title="Nahum 1:15" id="Nahum-1-15">Behold, on the mountains the feet of him who brings good news, who publishes peace! Keep your feasts, Judah! Perform your vows, for the wicked one will no more pass through you. He is utterly cut off.</span>
</div>