<div class="chapter" id="Nahum-002">
  <h2>Nahum 2</h2>
  <span class="verse" title="Nahum 2:1" id="Nahum-2-1">He who dashes in pieces has come up against you. Keep the fortress! Watch the way! Strengthen your waist! Fortify your power mightily!</span>
  <span class="verse" title="Nahum 2:2" id="Nahum-2-2">For Yahweh restores the excellency of Jacob, as the excellency of Israel; for the destroyers have destroyed them, and ruined their vine branches.</span>
  <span class="verse" title="Nahum 2:3" id="Nahum-2-3">The shield of his mighty men is made red. The valiant men are in scarlet. The chariots flash with steel in the day of his preparation, and the pine spears are brandished.</span>
  <span class="verse" title="Nahum 2:4" id="Nahum-2-4">The chariots rage in the streets. They rush back and forth in the broad ways. Their appearance is like torches. They run like the lightnings.</span>
  <span class="verse" title="Nahum 2:5" id="Nahum-2-5">He summons his picked troops. They stumble on their way. They dash to its wall, and the protective shield is put in place.</span>
  <span class="verse" title="Nahum 2:6" id="Nahum-2-6">The gates of the rivers are opened, and the palace is dissolved.</span>
  <span class="verse" title="Nahum 2:7" id="Nahum-2-7">It is decreed: she is uncovered, she is carried away; and her handmaids moan as with the voice of doves, beating on their breasts.</span>
  <span class="verse" title="Nahum 2:8" id="Nahum-2-8">But Nineveh has been from of old like a pool of water, yet they flee away. &#8220;Stop! Stop!&#8221; they cry, but no one looks back.</span>
  <span class="verse" title="Nahum 2:9" id="Nahum-2-9">Take the spoil of silver. Take the spoil of gold, for there is no end of the store, the glory of all goodly furniture.</span>
  <span class="verse" title="Nahum 2:10" id="Nahum-2-10">She is empty, void, and waste. The heart melts, the knees knock together, their bodies and faces have grown pale.</span>
  <span class="verse" title="Nahum 2:11" id="Nahum-2-11">Where is the den of the lions, and the feeding place of the young lions, where the lion and the lioness walked, the lion&#8217;s cubs, and no one made them afraid?</span>
  <span class="verse" title="Nahum 2:12" id="Nahum-2-12">The lion tore in pieces enough for his cubs, and strangled for his lionesses, and filled his caves with the kill, and his dens with prey.</span>
  <span class="verse" title="Nahum 2:13" id="Nahum-2-13">&#8220;Behold, I am against you,&#8221; says Yahweh of Armies, &#8220;and I will burn her chariots in the smoke, and the sword will devour your young lions; and I will cut off your prey from the earth, and the voice of your messengers will no longer be heard.&#8221;</span>
</div>