<div class="chapter" id="Nahum-003">
  <h2>Nahum 3</h2>
  <span class="verse" title="Nahum 3:1" id="Nahum-3-1">Woe to the bloody city! It is all full of lies and robbery. The prey doesn&#8217;t depart.</span>
  <span class="verse" title="Nahum 3:2" id="Nahum-3-2">The noise of the whip, the noise of the rattling of wheels, prancing horses, and bounding chariots,</span>
  <span class="verse" title="Nahum 3:3" id="Nahum-3-3">the horseman mounting, and the flashing sword, the glittering spear, and a multitude of slain, and a great heap of corpses, and there is no end of the bodies. They stumble on their bodies,</span>
  <span class="verse" title="Nahum 3:4" id="Nahum-3-4">because of the multitude of the prostitution of the alluring prostitute, the mistress of witchcraft, who sells nations through her prostitution, and families through her witchcraft.</span>
  <span class="verse" title="Nahum 3:5" id="Nahum-3-5">&#8220;Behold, I am against you,&#8221; says Yahweh of Armies, &#8220;and I will lift your skirts over your face. I will show the nations your nakedness, and the kingdoms your shame.</span>
  <span class="verse" title="Nahum 3:6" id="Nahum-3-6">I will throw abominable filth on you, and make you vile, and will set you a spectacle.</span>
  <span class="verse" title="Nahum 3:7" id="Nahum-3-7">It will happen that all those who look at you will flee from you, and say, &#8216;Nineveh is laid waste! Who will mourn for her?&#8217; Where will I seek comforters for you?&#8221;</span>
  <span class="verse" title="Nahum 3:8" id="Nahum-3-8">Are you better than No-Amon, who was situated among the rivers, who had the waters around her; whose rampart was the sea, and her wall was of the sea?</span>
  <span class="verse" title="Nahum 3:9" id="Nahum-3-9">Cush and Egypt were her boundless strength. Put and Libya were her helpers.</span>
  <span class="verse" title="Nahum 3:10" id="Nahum-3-10">Yet was she carried away. She went into captivity. Her young children also were dashed in pieces at the head of all the streets, and they cast lots for her honorable men, and all her great men were bound in chains.</span>
  <span class="verse" title="Nahum 3:11" id="Nahum-3-11">You also will be drunken. You will be hidden. You also will seek a stronghold because of the enemy.</span>
  <span class="verse" title="Nahum 3:12" id="Nahum-3-12">All your fortresses will be like fig trees with the first-ripe figs: if they are shaken, they fall into the mouth of the eater.</span>
  <span class="verse" title="Nahum 3:13" id="Nahum-3-13">Behold, your troops in your midst are women. The gates of your land are set wide open to your enemies. The fire has devoured your bars.</span>
  <span class="verse" title="Nahum 3:14" id="Nahum-3-14">Draw water for the siege. Strengthen your fortresses. Go into the clay, and tread the mortar. Make the brick kiln strong.</span>
  <span class="verse" title="Nahum 3:15" id="Nahum-3-15">There the fire will devour you. The sword will cut you off. It will devour you like the grasshopper. Multiply like grasshoppers. Multiply like the locust.</span>
  <span class="verse" title="Nahum 3:16" id="Nahum-3-16">You have increased your merchants more than the stars of the skies. The grasshopper strips, and flees away.</span>
  <span class="verse" title="Nahum 3:17" id="Nahum-3-17">Your guards are like the locusts, and your officials like the swarms of locusts, which settle on the walls on a cold day, but when the sun appears, they flee away, and their place is not known where they are.</span>
  <span class="verse" title="Nahum 3:18" id="Nahum-3-18">Your shepherds slumber, king of Assyria. Your nobles lie down. Your people are scattered on the mountains, and there is no one to gather them.</span>
  <span class="verse" title="Nahum 3:19" id="Nahum-3-19">There is no healing your wound, for your injury is fatal. All who hear the report of you clap their hands over you; for who hasn&#8217;t felt your endless cruelty?</span>
</div>