<h1>Sorry, but...</h1>

<p>
  We've found your record in our database, but it appears your current
  status doesn't indicate you're a member or regular attender.
  <strong>Don't worry</strong>; if we're in error, we'd like to fix it.
  Please choose one of the following options to help us get our
  records up-to-date:
</p>

<ul>
  <li>
    <%= link_to 'Verify by birthday.', verify_birthday_path %><br/>
    These submissions are reviewed by a real person and may take a few
    days to be approved.
  </li>
  <li>
    Call the church office at <%= Setting.get(:contact, :church_office_phone) %> during church office hours.
  </li>
</ul>