<h1>What is a Home Group?</h1>

<p>Your &ldquo;Home Group&rdquo; is the group you are most intimately involved with,
aka family group, small group, etc. By setting your home group appropriately, you will see activity
from others on your home page. Blog posts, email messages, and prayer requests will be
visible to you on your &ldquo;Recently&rdquo; tab as soon as you sign in.</p>

<p>Also, activity from people in your home group is available to you in your
activity &ldquo;feed.&rdquo;</p>
