<h1>Unauthorized</h1>

<p>
  We're very sorry, but your account is not authorized to sign into this site.
  One of the following may be the reason you cannot sign in:
</p>

<ul>
  <li>
    <strong>You may not be considered a regular attender or member of this church.</strong><br/>
    If you believe this to be in error, <em>please let us know!</em> You may call the
    church office at: <%=h Setting.get(:contact, :church_office_phone) %>
  </li>
  <li>
    <strong>You may be under 13 years of age.</strong><br/>
    If this is the case, please don't give up just yet! You can still sign in if you
    get a parent or guardian to sign and authorize your account.
  </li>
  <li>
    <strong>There may be some problem with your account that we need to talk to you about.</strong><br/>
    Please call the church office at: <%=h Setting.get(:contact, :church_office_phone) %>
  </li>
</ul>