<div class="chapter" id="1 John-002">
  <h2>1 John 2</h2>
  <span class="verse" title="1 John 2:1" id="1_John-2-1">My little children, I write these things to you so that you may not sin. If anyone sins, we have a Counselor with the Father, Jesus Christ, the righteous.</span>
  <span class="verse" title="1 John 2:2" id="1_John-2-2">And he is the atoning sacrifice for our sins, and not for ours only, but also for the whole world.</span>
  <span class="verse" title="1 John 2:3" id="1_John-2-3">This is how we know that we know him: if we keep his commandments.</span>
  <span class="verse" title="1 John 2:4" id="1_John-2-4">One who says, &#8220;I know him,&#8221; and doesn&#8217;t keep his commandments, is a liar, and the truth isn&#8217;t in him.</span>
  <span class="verse" title="1 John 2:5" id="1_John-2-5">But whoever keeps his word, God&#8217;s love has most certainly been perfected in him. This is how we know that we are in him:</span>
  <span class="verse" title="1 John 2:6" id="1_John-2-6">he who says he remains in him ought himself also to walk just like he walked.</span>
  <span class="verse" title="1 John 2:7" id="1_John-2-7">Brothers, I write no new commandment to you, but an old commandment which you had from the beginning. The old commandment is the word which you heard from the beginning.</span>
  <span class="verse" title="1 John 2:8" id="1_John-2-8">Again, I write a new commandment to you, which is true in him and in you; because the darkness is passing away, and the true light already shines.</span>
  <span class="verse" title="1 John 2:9" id="1_John-2-9">He who says he is in the light and hates his brother, is in the darkness even until now.</span>
  <span class="verse" title="1 John 2:10" id="1_John-2-10">He who loves his brother remains in the light, and there is no occasion for stumbling in him.</span>
  <span class="verse" title="1 John 2:11" id="1_John-2-11">But he who hates his brother is in the darkness, and walks in the darkness, and doesn&#8217;t know where he is going, because the darkness has blinded his eyes.</span>
  <span class="verse" title="1 John 2:12" id="1_John-2-12">I write to you, little children, because your sins are forgiven you for his name&#8217;s sake.</span>
  <span class="verse" title="1 John 2:13" id="1_John-2-13">I write to you, fathers, because you know him who is from the beginning. I write to you, young men, because you have overcome the evil one. I write to you, little children, because you know the Father.</span>
  <span class="verse" title="1 John 2:14" id="1_John-2-14">I have written to you, fathers, because you know him who is from the beginning. I have written to you, young men, because you are strong, and the word of God remains in you, and you have overcome the evil one.</span>
  <span class="verse" title="1 John 2:15" id="1_John-2-15">Don&#8217;t love the world, neither the things that are in the world. If anyone loves the world, the Father&#8217;s love isn&#8217;t in him.</span>
  <span class="verse" title="1 John 2:16" id="1_John-2-16">For all that is in the world, the lust of the flesh, the lust of the eyes, and the pride of life, isn&#8217;t the Father&#8217;s, but is the world&#8217;s.</span>
  <span class="verse" title="1 John 2:17" id="1_John-2-17">The world is passing away with its lusts, but he who does God&#8217;s will remains forever.</span>
  <span class="verse" title="1 John 2:18" id="1_John-2-18">Little children, these are the end times, and as you heard that the Antichrist is coming, even now many antichrists have arisen. By this we know that it is the final hour.</span>
  <span class="verse" title="1 John 2:19" id="1_John-2-19">They went out from us, but they didn&#8217;t belong to us; for if they had belonged to us, they would have continued with us. But they left, that they might be revealed that none of them belong to us.</span>
  <span class="verse" title="1 John 2:20" id="1_John-2-20">You have an anointing from the Holy One, and you all have knowledge.</span>
  <span class="verse" title="1 John 2:21" id="1_John-2-21">I have not written to you because you don&#8217;t know the truth, but because you know it, and because no lie is of the truth.</span>
  <span class="verse" title="1 John 2:22" id="1_John-2-22">Who is the liar but he who denies that Jesus is the Christ? This is the Antichrist, he who denies the Father and the Son.</span>
  <span class="verse" title="1 John 2:23" id="1_John-2-23">Whoever denies the Son, the same doesn&#8217;t have the Father. He who confesses the Son has the Father also.</span>
  <span class="verse" title="1 John 2:24" id="1_John-2-24">Therefore, as for you, let that remain in you which you heard from the beginning. If that which you heard from the beginning remains in you, you also will remain in the Son, and in the Father.</span>
  <span class="verse" title="1 John 2:25" id="1_John-2-25">This is the promise which he promised us, the eternal life.</span>
  <span class="verse" title="1 John 2:26" id="1_John-2-26">These things I have written to you concerning those who would lead you astray.</span>
  <span class="verse" title="1 John 2:27" id="1_John-2-27">As for you, the anointing which you received from him remains in you, and you don&#8217;t need for anyone to teach you. But as his anointing teaches you concerning all things, and is true, and is no lie, and even as it taught you, you will remain in him.</span>
  <span class="verse" title="1 John 2:28" id="1_John-2-28">Now, little children, remain in him, that when he appears, we may have boldness, and not be ashamed before him at his coming.</span>
  <span class="verse" title="1 John 2:29" id="1_John-2-29">If you know that he is righteous, you know that everyone who practices righteousness is born of him.</span>
</div>