<div class="chapter" id="1 John-003">
  <h2>1 John 3</h2>
  <span class="verse" title="1 John 3:1" id="1_John-3-1">Behold, how great a love the Father has bestowed on us, that we should be called children of God! For this cause the world doesn&#8217;t know us, because it didn&#8217;t know him.</span>
  <span class="verse" title="1 John 3:2" id="1_John-3-2">Beloved, now we are children of God, and it is not yet revealed what we will be. But we know that, when he is revealed, we will be like him; for we will see him just as he is.</span>
  <span class="verse" title="1 John 3:3" id="1_John-3-3">Everyone who has this hope set on him purifies himself, even as he is pure.</span>
  <span class="verse" title="1 John 3:4" id="1_John-3-4">Everyone who sins also commits lawlessness. Sin is lawlessness.</span>
  <span class="verse" title="1 John 3:5" id="1_John-3-5">You know that he was revealed to take away our sins, and in him is no sin.</span>
  <span class="verse" title="1 John 3:6" id="1_John-3-6">Whoever remains in him doesn&#8217;t sin. Whoever sins hasn&#8217;t seen him, neither knows him.</span>
  <span class="verse" title="1 John 3:7" id="1_John-3-7">Little children, let no one lead you astray. He who does righteousness is righteous, even as he is righteous.</span>
  <span class="verse" title="1 John 3:8" id="1_John-3-8">He who sins is of the devil, for the devil has been sinning from the beginning. To this end the Son of God was revealed, that he might destroy the works of the devil.</span>
  <span class="verse" title="1 John 3:9" id="1_John-3-9">Whoever is born of God doesn&#8217;t commit sin, because his seed remains in him; and he can&#8217;t sin, because he is born of God.</span>
  <span class="verse" title="1 John 3:10" id="1_John-3-10">In this the children of God are revealed, and the children of the devil. Whoever doesn&#8217;t do righteousness is not of God, neither is he who doesn&#8217;t love his brother.</span>
  <span class="verse" title="1 John 3:11" id="1_John-3-11">For this is the message which you heard from the beginning, that we should love one another;</span>
  <span class="verse" title="1 John 3:12" id="1_John-3-12">unlike Cain, who was of the evil one, and killed his brother. Why did he kill him? Because his works were evil, and his brother&#8217;s righteous.</span>
  <span class="verse" title="1 John 3:13" id="1_John-3-13">Don&#8217;t be surprised, my brothers, if the world hates you.</span>
  <span class="verse" title="1 John 3:14" id="1_John-3-14">We know that we have passed out of death into life, because we love the brothers. He who doesn&#8217;t love his brother remains in death.</span>
  <span class="verse" title="1 John 3:15" id="1_John-3-15">Whoever hates his brother is a murderer, and you know that no murderer has eternal life remaining in him.</span>
  <span class="verse" title="1 John 3:16" id="1_John-3-16">By this we know love, because he laid down his life for us. And we ought to lay down our lives for the brothers.</span>
  <span class="verse" title="1 John 3:17" id="1_John-3-17">But whoever has the world&#8217;s goods, and sees his brother in need, and closes his heart of compassion against him, how does the love of God remain in him?</span>
  <span class="verse" title="1 John 3:18" id="1_John-3-18">My little children, let&#8217;s not love in word only, neither with the tongue only, but in deed and truth.</span>
  <span class="verse" title="1 John 3:19" id="1_John-3-19">And by this we know that we are of the truth, and persuade our hearts before him,</span>
  <span class="verse" title="1 John 3:20" id="1_John-3-20">because if our heart condemns us, God is greater than our heart, and knows all things.</span>
  <span class="verse" title="1 John 3:21" id="1_John-3-21">Beloved, if our hearts don&#8217;t condemn us, we have boldness toward God;</span>
  <span class="verse" title="1 John 3:22" id="1_John-3-22">and whatever we ask, we receive from him, because we keep his commandments and do the things that are pleasing in his sight.</span>
  <span class="verse" title="1 John 3:23" id="1_John-3-23">This is his commandment, that we should believe in the name of his Son, Jesus Christ, and love one another, even as he commanded.</span>
  <span class="verse" title="1 John 3:24" id="1_John-3-24">He who keeps his commandments remains in him, and he in him. By this we know that he remains in us, by the Spirit which he gave us.</span>
</div>