<div class="chapter" id="1 John-004">
  <h2>1 John 4</h2>
  <span class="verse" title="1 John 4:1" id="1_John-4-1">Beloved, don&#8217;t believe every spirit, but test the spirits, whether they are of God, because many false prophets have gone out into the world.</span>
  <span class="verse" title="1 John 4:2" id="1_John-4-2">By this you know the Spirit of God: every spirit who confesses that Jesus Christ has come in the flesh is of God,</span>
  <span class="verse" title="1 John 4:3" id="1_John-4-3">and every spirit who doesn&#8217;t confess that Jesus Christ has come in the flesh is not of God, and this is the spirit of the Antichrist, of whom you have heard that it comes. Now it is in the world already.</span>
  <span class="verse" title="1 John 4:4" id="1_John-4-4">You are of God, little children, and have overcome them; because greater is he who is in you than he who is in the world.</span>
  <span class="verse" title="1 John 4:5" id="1_John-4-5">They are of the world. Therefore they speak of the world, and the world hears them.</span>
  <span class="verse" title="1 John 4:6" id="1_John-4-6">We are of God. He who knows God listens to us. He who is not of God doesn&#8217;t listen to us. By this we know the spirit of truth, and the spirit of error.</span>
  <span class="verse" title="1 John 4:7" id="1_John-4-7">Beloved, let us love one another, for love is of God; and everyone who loves is born of God, and knows God.</span>
  <span class="verse" title="1 John 4:8" id="1_John-4-8">He who doesn&#8217;t love doesn&#8217;t know God, for God is love.</span>
  <span class="verse" title="1 John 4:9" id="1_John-4-9">By this God&#8217;s love was revealed in us, that God has sent his one and only Son into the world that we might live through him.</span>
  <span class="verse" title="1 John 4:10" id="1_John-4-10">In this is love, not that we loved God, but that he loved us, and sent his Son as the atoning sacrifice for our sins.</span>
  <span class="verse" title="1 John 4:11" id="1_John-4-11">Beloved, if God loved us in this way, we also ought to love one another.</span>
  <span class="verse" title="1 John 4:12" id="1_John-4-12">No one has seen God at any time. If we love one another, God remains in us, and his love has been perfected in us.</span>
  <span class="verse" title="1 John 4:13" id="1_John-4-13">By this we know that we remain in him and he in us, because he has given us of his Spirit.</span>
  <span class="verse" title="1 John 4:14" id="1_John-4-14">We have seen and testify that the Father has sent the Son as the Savior of the world.</span>
  <span class="verse" title="1 John 4:15" id="1_John-4-15">Whoever confesses that Jesus is the Son of God, God remains in him, and he in God.</span>
  <span class="verse" title="1 John 4:16" id="1_John-4-16">We know and have believed the love which God has for us. God is love, and he who remains in love remains in God, and God remains in him.</span>
  <span class="verse" title="1 John 4:17" id="1_John-4-17">In this love has been made perfect among us, that we may have boldness in the day of judgment, because as he is, even so are we in this world.</span>
  <span class="verse" title="1 John 4:18" id="1_John-4-18">There is no fear in love; but perfect love casts out fear, because fear has punishment. He who fears is not made perfect in love.</span>
  <span class="verse" title="1 John 4:19" id="1_John-4-19">We love him, because he first loved us.</span>
  <span class="verse" title="1 John 4:20" id="1_John-4-20">If a man says, &#8220;I love God,&#8221; and hates his brother, he is a liar; for he who doesn&#8217;t love his brother whom he has seen, how can he love God whom he has not seen?</span>
  <span class="verse" title="1 John 4:21" id="1_John-4-21">This commandment we have from him, that he who loves God should also love his brother.</span>
</div>