<div class="chapter" id="1 John-005">
  <h2>1 John 5</h2>
  <span class="verse" title="1 John 5:1" id="1_John-5-1">Whoever believes that Jesus is the Christ is born of God. Whoever loves the Father also loves the child who is born of him.</span>
  <span class="verse" title="1 John 5:2" id="1_John-5-2">By this we know that we love the children of God, when we love God and keep his commandments.</span>
  <span class="verse" title="1 John 5:3" id="1_John-5-3">For this is the love of God, that we keep his commandments. His commandments are not grievous.</span>
  <span class="verse" title="1 John 5:4" id="1_John-5-4">For whatever is born of God overcomes the world. This is the victory that has overcome the world: your faith.</span>
  <span class="verse" title="1 John 5:5" id="1_John-5-5">Who is he who overcomes the world, but he who believes that Jesus is the Son of God?</span>
  <span class="verse" title="1 John 5:6" id="1_John-5-6">This is he who came by water and blood, Jesus Christ; not with the water only, but with the water and the blood. It is the Spirit who testifies, because the Spirit is the truth.</span>
  <span class="verse" title="1 John 5:7" id="1_John-5-7">For there are three who testify:</span>
  <span class="verse" title="1 John 5:8" id="1_John-5-8">the Spirit, the water, and the blood; and the three agree as one.</span>
  <span class="verse" title="1 John 5:9" id="1_John-5-9">If we receive the witness of men, the witness of God is greater; for this is God&#8217;s testimony which he has testified concerning his Son.</span>
  <span class="verse" title="1 John 5:10" id="1_John-5-10">He who believes in the Son of God has the testimony in himself. He who doesn&#8217;t believe God has made him a liar, because he has not believed in the testimony that God has given concerning his Son.</span>
  <span class="verse" title="1 John 5:11" id="1_John-5-11">The testimony is this, that God gave to us eternal life, and this life is in his Son.</span>
  <span class="verse" title="1 John 5:12" id="1_John-5-12">He who has the Son has the life. He who doesn&#8217;t have God&#8217;s Son doesn&#8217;t have the life.</span>
  <span class="verse" title="1 John 5:13" id="1_John-5-13">These things I have written to you who believe in the name of the Son of God, that you may know that you have eternal life, and that you may continue to believe in the name of the Son of God.</span>
  <span class="verse" title="1 John 5:14" id="1_John-5-14">This is the boldness which we have toward him, that, if we ask anything according to his will, he listens to us.</span>
  <span class="verse" title="1 John 5:15" id="1_John-5-15">And if we know that he listens to us, whatever we ask, we know that we have the petitions which we have asked of him.</span>
  <span class="verse" title="1 John 5:16" id="1_John-5-16">If anyone sees his brother sinning a sin not leading to death, he shall ask, and God will give him life for those who sin not leading to death. There is a sin leading to death. I don&#8217;t say that he should make a request concerning this.</span>
  <span class="verse" title="1 John 5:17" id="1_John-5-17">All unrighteousness is sin, and there is a sin not leading to death.</span>
  <span class="verse" title="1 John 5:18" id="1_John-5-18">We know that whoever is born of God doesn&#8217;t sin, but he who was born of God keeps himself, and the evil one doesn&#8217;t touch him.</span>
  <span class="verse" title="1 John 5:19" id="1_John-5-19">We know that we are of God, and the whole world lies in the power of the evil one.</span>
  <span class="verse" title="1 John 5:20" id="1_John-5-20">We know that the Son of God has come, and has given us an understanding, that we know him who is true, and we are in him who is true, in his Son Jesus Christ. This is the true God, and eternal life.</span>
  <span class="verse" title="1 John 5:21" id="1_John-5-21">Little children, keep yourselves from idols.</span>
</div>