<div class="chapter" id="Exodus-001">
  <h2>Exodus 1</h2>
  <span class="verse" title="Exodus 1:1" id="Exodus-1-1">Now these are the names of the sons of Israel, who came into Egypt (every man and his household came with Jacob):</span>
  <span class="verse" title="Exodus 1:2" id="Exodus-1-2">Reuben, Simeon, Levi, and Judah,</span>
  <span class="verse" title="Exodus 1:3" id="Exodus-1-3">Issachar, Zebulun, and Benjamin,</span>
  <span class="verse" title="Exodus 1:4" id="Exodus-1-4">Dan and Naphtali, Gad and Asher.</span>
  <span class="verse" title="Exodus 1:5" id="Exodus-1-5">All the souls who came out of Jacob&#8217;s body were seventy souls, and Joseph was in Egypt already.</span>
  <span class="verse" title="Exodus 1:6" id="Exodus-1-6">Joseph died, as did all his brothers, and all that generation.</span>
  <span class="verse" title="Exodus 1:7" id="Exodus-1-7">The children of Israel were fruitful, and increased abundantly, and multiplied, and grew exceedingly mighty; and the land was filled with them.</span>
  <span class="verse" title="Exodus 1:8" id="Exodus-1-8">Now there arose a new king over Egypt, who didn&#8217;t know Joseph.</span>
  <span class="verse" title="Exodus 1:9" id="Exodus-1-9">He said to his people, &#8220;Behold, the people of the children of Israel are more and mightier than we.</span>
  <span class="verse" title="Exodus 1:10" id="Exodus-1-10">Come, let us deal wisely with them, lest they multiply, and it happen that when any war breaks out, they also join themselves to our enemies, and fight against us, and escape out of the land.&#8221;</span>
  <span class="verse" title="Exodus 1:11" id="Exodus-1-11">Therefore they set taskmasters over them to afflict them with their burdens. They built storage cities for Pharaoh: Pithom and Raamses.</span>
  <span class="verse" title="Exodus 1:12" id="Exodus-1-12">But the more they afflicted them, the more they multiplied and the more they spread out. They were grieved because of the children of Israel.</span>
  <span class="verse" title="Exodus 1:13" id="Exodus-1-13">The Egyptians ruthlessly made the children of Israel serve,</span>
  <span class="verse" title="Exodus 1:14" id="Exodus-1-14">and they made their lives bitter with hard service, in mortar and in brick, and in all kinds of service in the field, all their service, in which they ruthlessly made them serve.</span>
  <span class="verse" title="Exodus 1:15" id="Exodus-1-15">The king of Egypt spoke to the Hebrew midwives, of whom the name of the one was Shiphrah, and the name of the other Puah,</span>
  <span class="verse" title="Exodus 1:16" id="Exodus-1-16">and he said, &#8220;When you perform the duty of a midwife to the Hebrew women, and see them on the birth stool; if it is a son, then you shall kill him; but if it is a daughter, then she shall live.&#8221;</span>
  <span class="verse" title="Exodus 1:17" id="Exodus-1-17">But the midwives feared God, and didn&#8217;t do what the king of Egypt commanded them, but saved the baby boys alive.</span>
  <span class="verse" title="Exodus 1:18" id="Exodus-1-18">The king of Egypt called for the midwives, and said to them, &#8220;Why have you done this thing, and have saved the boys alive?&#8221;</span>
  <span class="verse" title="Exodus 1:19" id="Exodus-1-19">The midwives said to Pharaoh, &#8220;Because the Hebrew women aren&#8217;t like the Egyptian women; for they are vigorous, and give birth before the midwife comes to them.&#8221;</span>
  <span class="verse" title="Exodus 1:20" id="Exodus-1-20">God dealt well with the midwives, and the people multiplied, and grew very mighty.</span>
  <span class="verse" title="Exodus 1:21" id="Exodus-1-21">It happened, because the midwives feared God, that he gave them families.</span>
  <span class="verse" title="Exodus 1:22" id="Exodus-1-22">Pharaoh commanded all his people, saying, &#8220;You shall cast every son who is born into the river, and every daughter you shall save alive.&#8221;</span>
</div>