<div class="chapter" id="Exodus-002">
  <h2>Exodus 2</h2>
  <span class="verse" title="Exodus 2:1" id="Exodus-2-1">A man of the house of Levi went and took a daughter of Levi as his wife.</span>
  <span class="verse" title="Exodus 2:2" id="Exodus-2-2">The woman conceived, and bore a son. When she saw that he was a fine child, she hid him three months.</span>
  <span class="verse" title="Exodus 2:3" id="Exodus-2-3">When she could no longer hide him, she took a papyrus basket for him, and coated it with tar and with pitch. She put the child in it, and laid it in the reeds by the river&#8217;s bank.</span>
  <span class="verse" title="Exodus 2:4" id="Exodus-2-4">His sister stood far off, to see what would be done to him.</span>
  <span class="verse" title="Exodus 2:5" id="Exodus-2-5">Pharaoh&#8217;s daughter came down to bathe at the river. Her maidens walked along by the riverside. She saw the basket among the reeds, and sent her handmaid to get it.</span>
  <span class="verse" title="Exodus 2:6" id="Exodus-2-6">She opened it, and saw the child, and behold, the baby cried. She had compassion on him, and said, &#8220;This is one of the Hebrews&#8217; children.&#8221;</span>
  <span class="verse" title="Exodus 2:7" id="Exodus-2-7">Then his sister said to Pharaoh&#8217;s daughter, &#8220;Should I go and call a nurse for you from the Hebrew women, that she may nurse the child for you?&#8221;</span>
  <span class="verse" title="Exodus 2:8" id="Exodus-2-8">Pharaoh&#8217;s daughter said to her, &#8220;Go.&#8221; The maiden went and called the child&#8217;s mother.</span>
  <span class="verse" title="Exodus 2:9" id="Exodus-2-9">Pharaoh&#8217;s daughter said to her, &#8220;Take this child away, and nurse him for me, and I will give you your wages.&#8221; The woman took the child, and nursed it.</span>
  <span class="verse" title="Exodus 2:10" id="Exodus-2-10">The child grew, and she brought him to Pharaoh&#8217;s daughter, and he became her son. She named him Moses, and said, &#8220;Because I drew him out of the water.&#8221;</span>
  <span class="verse" title="Exodus 2:11" id="Exodus-2-11">It happened in those days, when Moses had grown up, that he went out to his brothers, and looked at their burdens. He saw an Egyptian striking a Hebrew, one of his brothers.</span>
  <span class="verse" title="Exodus 2:12" id="Exodus-2-12">He looked this way and that way, and when he saw that there was no one, he killed the Egyptian, and hid him in the sand.</span>
  <span class="verse" title="Exodus 2:13" id="Exodus-2-13">He went out the second day, and behold, two men of the Hebrews were fighting with each other. He said to him who did the wrong, &#8220;Why do you strike your fellow?&#8221;</span>
  <span class="verse" title="Exodus 2:14" id="Exodus-2-14">He said, &#8220;Who made you a prince and a judge over us? Do you plan to kill me, as you killed the Egyptian?&#8221; Moses was afraid, and said, &#8220;Surely this thing is known.&#8221;</span>
  <span class="verse" title="Exodus 2:15" id="Exodus-2-15">Now when Pharaoh heard this thing, he sought to kill Moses. But Moses fled from the face of Pharaoh, and lived in the land of Midian, and he sat down by a well.</span>
  <span class="verse" title="Exodus 2:16" id="Exodus-2-16">Now the priest of Midian had seven daughters. They came and drew water, and filled the troughs to water their father&#8217;s flock.</span>
  <span class="verse" title="Exodus 2:17" id="Exodus-2-17">The shepherds came and drove them away; but Moses stood up and helped them, and watered their flock.</span>
  <span class="verse" title="Exodus 2:18" id="Exodus-2-18">When they came to Reuel, their father, he said, &#8220;How is it that you have returned so early today?&#8221;</span>
  <span class="verse" title="Exodus 2:19" id="Exodus-2-19">They said, &#8220;An Egyptian delivered us out of the hand of the shepherds, and moreover he drew water for us, and watered the flock.&#8221;</span>
  <span class="verse" title="Exodus 2:20" id="Exodus-2-20">He said to his daughters, &#8220;Where is he? Why is it that you have left the man? Call him, that he may eat bread.&#8221;</span>
  <span class="verse" title="Exodus 2:21" id="Exodus-2-21">Moses was content to dwell with the man. He gave Moses Zipporah, his daughter.</span>
  <span class="verse" title="Exodus 2:22" id="Exodus-2-22">She bore a son, and he named him Gershom, for he said, &#8220;I have lived as a foreigner in a foreign land.&#8221;</span>
  <span class="verse" title="Exodus 2:23" id="Exodus-2-23">It happened in the course of those many days, that the king of Egypt died, and the children of Israel sighed because of the bondage, and they cried, and their cry came up to God because of the bondage.</span>
  <span class="verse" title="Exodus 2:24" id="Exodus-2-24">God heard their groaning, and God remembered his covenant with Abraham, with Isaac, and with Jacob.</span>
  <span class="verse" title="Exodus 2:25" id="Exodus-2-25">God saw the children of Israel, and God was concerned about them.</span>
</div>