<div class="chapter" id="Exodus-004">
  <h2>Exodus 4</h2>
  <span class="verse" title="Exodus 4:1" id="Exodus-4-1">Moses answered, &#8220;But, behold, they will not believe me, nor listen to my voice; for they will say, &#8216;Yahweh has not appeared to you.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 4:2" id="Exodus-4-2">Yahweh said to him, &#8220;What is that in your hand?&#8221; He said, &#8220;A rod.&#8221;</span>
  <span class="verse" title="Exodus 4:3" id="Exodus-4-3">He said, &#8220;Throw it on the ground.&#8221; He threw it on the ground, and it became a snake; and Moses ran away from it.</span>
  <span class="verse" title="Exodus 4:4" id="Exodus-4-4">Yahweh said to Moses, &#8220;Stretch out your hand, and take it by the tail.&#8221; He stretched out his hand, and took hold of it, and it became a rod in his hand.</span>
  <span class="verse" title="Exodus 4:5" id="Exodus-4-5">&#8220;That they may believe that Yahweh, the God of their fathers, the God of Abraham, the God of Isaac, and the God of Jacob, has appeared to you.&#8221;</span>
  <span class="verse" title="Exodus 4:6" id="Exodus-4-6">Yahweh said furthermore to him, &#8220;Now put your hand inside your cloak.&#8221; He put his hand inside his cloak, and when he took it out, behold, his hand was leprous, as white as snow.</span>
  <span class="verse" title="Exodus 4:7" id="Exodus-4-7">He said, &#8220;Put your hand inside your cloak again.&#8221; He put his hand inside his cloak again, and when he took it out of his cloak, behold, it had turned again as his other flesh.</span>
  <span class="verse" title="Exodus 4:8" id="Exodus-4-8">&#8220;It will happen, if they will neither believe you nor listen to the voice of the first sign, that they will believe the voice of the latter sign.</span>
  <span class="verse" title="Exodus 4:9" id="Exodus-4-9">It will happen, if they will not believe even these two signs, neither listen to your voice, that you shall take of the water of the river, and pour it on the dry land. The water which you take out of the river will become blood on the dry land.&#8221;</span>
  <span class="verse" title="Exodus 4:10" id="Exodus-4-10">Moses said to Yahweh, &#8220;O Lord, I am not eloquent, neither before now, nor since you have spoken to your servant; for I am slow of speech, and of a slow tongue.&#8221;</span>
  <span class="verse" title="Exodus 4:11" id="Exodus-4-11">Yahweh said to him, &#8220;Who made man&#8217;s mouth? Or who makes one mute, or deaf, or seeing, or blind? Isn&#8217;t it I, Yahweh?</span>
  <span class="verse" title="Exodus 4:12" id="Exodus-4-12">Now therefore go, and I will be with your mouth, and teach you what you shall speak.&#8221;</span>
  <span class="verse" title="Exodus 4:13" id="Exodus-4-13">He said, &#8220;Oh, Lord, please send someone else.&#8221;</span>
  <span class="verse" title="Exodus 4:14" id="Exodus-4-14">The anger of Yahweh was kindled against Moses, and he said, &#8220;What about Aaron, your brother, the Levite? I know that he can speak well. Also, behold, he comes out to meet you. When he sees you, he will be glad in his heart.</span>
  <span class="verse" title="Exodus 4:15" id="Exodus-4-15">You shall speak to him, and put the words in his mouth. I will be with your mouth, and with his mouth, and will teach you what you shall do.</span>
  <span class="verse" title="Exodus 4:16" id="Exodus-4-16">He will be your spokesman to the people; and it will happen, that he will be to you a mouth, and you will be to him as God.</span>
  <span class="verse" title="Exodus 4:17" id="Exodus-4-17">You shall take this rod in your hand, with which you shall do the signs.&#8221;</span>
  <span class="verse" title="Exodus 4:18" id="Exodus-4-18">Moses went and returned to Jethro his father-in-law, and said to him, &#8220;Please let me go and return to my brothers who are in Egypt, and see whether they are still alive.&#8221; Jethro said to Moses, &#8220;Go in peace.&#8221;</span>
  <span class="verse" title="Exodus 4:19" id="Exodus-4-19">Yahweh said to Moses in Midian, &#8220;Go, return into Egypt; for all the men who sought your life are dead.&#8221;</span>
  <span class="verse" title="Exodus 4:20" id="Exodus-4-20">Moses took his wife and his sons, and set them on a donkey, and he returned to the land of Egypt. Moses took God&#8217;s rod in his hand.</span>
  <span class="verse" title="Exodus 4:21" id="Exodus-4-21">Yahweh said to Moses, &#8220;When you go back into Egypt, see that you do before Pharaoh all the wonders which I have put in your hand, but I will harden his heart and he will not let the people go.</span>
  <span class="verse" title="Exodus 4:22" id="Exodus-4-22">You shall tell Pharaoh, &#8216;Thus says Yahweh, Israel is my son, my firstborn,</span>
  <span class="verse" title="Exodus 4:23" id="Exodus-4-23">and I have said to you, &#8220;Let my son go, that he may serve me;&#8221; and you have refused to let him go. Behold, I will kill your son, your firstborn.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 4:24" id="Exodus-4-24">It happened on the way at a lodging place, that Yahweh met Moses and wanted to kill him.</span>
  <span class="verse" title="Exodus 4:25" id="Exodus-4-25">Then Zipporah took a flint, and cut off the foreskin of her son, and cast it at his feet; and she said, &#8220;Surely you are a bridegroom of blood to me.&#8221;</span>
  <span class="verse" title="Exodus 4:26" id="Exodus-4-26">So he let him alone. Then she said, &#8220;You are a bridegroom of blood,&#8221; because of the circumcision.</span>
  <span class="verse" title="Exodus 4:27" id="Exodus-4-27">Yahweh said to Aaron, &#8220;Go into the wilderness to meet Moses.&#8221; He went, and met him on God&#8217;s mountain, and kissed him.</span>
  <span class="verse" title="Exodus 4:28" id="Exodus-4-28">Moses told Aaron all the words of Yahweh with which he had sent him, and all the signs with which he had instructed him.</span>
  <span class="verse" title="Exodus 4:29" id="Exodus-4-29">Moses and Aaron went and gathered together all the elders of the children of Israel.</span>
  <span class="verse" title="Exodus 4:30" id="Exodus-4-30">Aaron spoke all the words which Yahweh had spoken to Moses, and did the signs in the sight of the people.</span>
  <span class="verse" title="Exodus 4:31" id="Exodus-4-31">The people believed, and when they heard that Yahweh had visited the children of Israel, and that he had seen their affliction, then they bowed their heads and worshiped.</span>
</div>