<div class="chapter" id="Exodus-005">
  <h2>Exodus 5</h2>
  <span class="verse" title="Exodus 5:1" id="Exodus-5-1">Afterward Moses and Aaron came, and said to Pharaoh, &#8220;This is what Yahweh, the God of Israel, says, &#8216;Let my people go, that they may hold a feast to me in the wilderness.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 5:2" id="Exodus-5-2">Pharaoh said, &#8220;Who is Yahweh, that I should listen to his voice to let Israel go? I don&#8217;t know Yahweh, and moreover I will not let Israel go.&#8221;</span>
  <span class="verse" title="Exodus 5:3" id="Exodus-5-3">They said, &#8220;The God of the Hebrews has met with us. Please let us go three days&#8217; journey into the wilderness, and sacrifice to Yahweh, our God, lest he fall on us with pestilence, or with the sword.&#8221;</span>
  <span class="verse" title="Exodus 5:4" id="Exodus-5-4">The king of Egypt said to them, &#8220;Why do you, Moses and Aaron, take the people from their work? Get back to your burdens!&#8221;</span>
  <span class="verse" title="Exodus 5:5" id="Exodus-5-5">Pharaoh said, &#8220;Behold, the people of the land are now many, and you make them rest from their burdens.&#8221;</span>
  <span class="verse" title="Exodus 5:6" id="Exodus-5-6">The same day Pharaoh commanded the taskmasters of the people, and their officers, saying,</span>
  <span class="verse" title="Exodus 5:7" id="Exodus-5-7">&#8220;You shall no longer give the people straw to make brick, as before. Let them go and gather straw for themselves.</span>
  <span class="verse" title="Exodus 5:8" id="Exodus-5-8">The number of the bricks, which they made before, you require from them. You shall not diminish anything of it, for they are idle; therefore they cry, saying, &#8216;Let us go and sacrifice to our God.&#8217;</span>
  <span class="verse" title="Exodus 5:9" id="Exodus-5-9">Let heavier work be laid on the men, that they may labor therein; and don&#8217;t let them pay any attention to lying words.&#8221;</span>
  <span class="verse" title="Exodus 5:10" id="Exodus-5-10">The taskmasters of the people went out, and their officers, and they spoke to the people, saying, &#8220;This is what Pharaoh says: &#8216;I will not give you straw.</span>
  <span class="verse" title="Exodus 5:11" id="Exodus-5-11">Go yourselves, get straw where you can find it, for nothing of your work shall be diminished.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 5:12" id="Exodus-5-12">So the people were scattered abroad throughout all the land of Egypt to gather stubble for straw.</span>
  <span class="verse" title="Exodus 5:13" id="Exodus-5-13">The taskmasters were urgent saying, &#8220;Fulfill your work quota daily, as when there was straw!&#8221;</span>
  <span class="verse" title="Exodus 5:14" id="Exodus-5-14">The officers of the children of Israel, whom Pharaoh&#8217;s taskmasters had set over them, were beaten, and demanded, &#8220;Why haven&#8217;t you fulfilled your quota both yesterday and today, in making brick as before?&#8221;</span>
  <span class="verse" title="Exodus 5:15" id="Exodus-5-15">Then the officers of the children of Israel came and cried to Pharaoh, saying, &#8220;Why do you deal this way with your servants?</span>
  <span class="verse" title="Exodus 5:16" id="Exodus-5-16">No straw is given to your servants, and they tell us, &#8216;Make brick!&#8217; and behold, your servants are beaten; but the fault is in your own people.&#8221;</span>
  <span class="verse" title="Exodus 5:17" id="Exodus-5-17">But he said, &#8220;You are idle! You are idle! Therefore you say, &#8216;Let us go and sacrifice to Yahweh.&#8217;</span>
  <span class="verse" title="Exodus 5:18" id="Exodus-5-18">Go therefore now, and work, for no straw shall be given to you, yet you shall deliver the same number of bricks!&#8221;</span>
  <span class="verse" title="Exodus 5:19" id="Exodus-5-19">The officers of the children of Israel saw that they were in trouble, when it was said, &#8220;You shall not diminish anything from your daily quota of bricks!&#8221;</span>
  <span class="verse" title="Exodus 5:20" id="Exodus-5-20">They met Moses and Aaron, who stood in the way, as they came out from Pharaoh:</span>
  <span class="verse" title="Exodus 5:21" id="Exodus-5-21">and they said to them, &#8220;May Yahweh look at you, and judge, because you have made us a stench to be abhorred in the eyes of Pharaoh, and in the eyes of his servants, to put a sword in their hand to kill us.&#8221;</span>
  <span class="verse" title="Exodus 5:22" id="Exodus-5-22">Moses returned to Yahweh, and said, &#8220;Lord, why have you brought trouble on this people? Why is it that you have sent me?</span>
  <span class="verse" title="Exodus 5:23" id="Exodus-5-23">For since I came to Pharaoh to speak in your name, he has brought trouble on this people; neither have you delivered your people at all.&#8221;</span>
</div>