<div class="chapter" id="Exodus-006">
  <h2>Exodus 6</h2>
  <span class="verse" title="Exodus 6:1" id="Exodus-6-1">Yahweh said to Moses, &#8220;Now you shall see what I will do to Pharaoh, for by a strong hand he shall let them go, and by a strong hand he shall drive them out of his land.&#8221;</span>
  <span class="verse" title="Exodus 6:2" id="Exodus-6-2">God spoke to Moses, and said to him, &#8220;I am Yahweh;</span>
  <span class="verse" title="Exodus 6:3" id="Exodus-6-3">and I appeared to Abraham, to Isaac, and to Jacob, as God Almighty; but by my name Yahweh I was not known to them.</span>
  <span class="verse" title="Exodus 6:4" id="Exodus-6-4">I have also established my covenant with them, to give them the land of Canaan, the land of their travels, in which they lived as aliens.</span>
  <span class="verse" title="Exodus 6:5" id="Exodus-6-5">Moreover I have heard the groaning of the children of Israel, whom the Egyptians keep in bondage, and I have remembered my covenant.</span>
  <span class="verse" title="Exodus 6:6" id="Exodus-6-6">Therefore tell the children of Israel, &#8216;I am Yahweh, and I will bring you out from under the burdens of the Egyptians, and I will rid you out of their bondage, and I will redeem you with an outstretched arm, and with great judgments:</span>
  <span class="verse" title="Exodus 6:7" id="Exodus-6-7">and I will take you to me for a people, and I will be to you a God; and you shall know that I am Yahweh your God, who brings you out from under the burdens of the Egyptians.</span>
  <span class="verse" title="Exodus 6:8" id="Exodus-6-8">I will bring you into the land which I swore to give to Abraham, to Isaac, and to Jacob; and I will give it to you for a heritage: I am Yahweh.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 6:9" id="Exodus-6-9">Moses spoke so to the children of Israel, but they didn&#8217;t listen to Moses for anguish of spirit, and for cruel bondage.</span>
  <span class="verse" title="Exodus 6:10" id="Exodus-6-10">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Exodus 6:11" id="Exodus-6-11">&#8220;Go in, speak to Pharaoh king of Egypt, that he let the children of Israel go out of his land.&#8221;</span>
  <span class="verse" title="Exodus 6:12" id="Exodus-6-12">Moses spoke before Yahweh, saying, &#8220;Behold, the children of Israel haven&#8217;t listened to me. How then shall Pharaoh listen to me, who am of uncircumcised lips?&#8221;</span>
  <span class="verse" title="Exodus 6:13" id="Exodus-6-13">Yahweh spoke to Moses and to Aaron, and gave them a command to the children of Israel, and to Pharaoh king of Egypt, to bring the children of Israel out of the land of Egypt.</span>
  <span class="verse" title="Exodus 6:14" id="Exodus-6-14">These are the heads of their fathers&#8217; houses. The sons of Reuben the firstborn of Israel: Hanoch, and Pallu, Hezron, and Carmi; these are the families of Reuben.</span>
  <span class="verse" title="Exodus 6:15" id="Exodus-6-15">The sons of Simeon: Jemuel, and Jamin, and Ohad, and Jachin, and Zohar, and Shaul the son of a Canaanite woman; these are the families of Simeon.</span>
  <span class="verse" title="Exodus 6:16" id="Exodus-6-16">These are the names of the sons of Levi according to their generations: Gershon, and Kohath, and Merari; and the years of the life of Levi were one hundred thirty-seven years.</span>
  <span class="verse" title="Exodus 6:17" id="Exodus-6-17">The sons of Gershon: Libni and Shimei, according to their families.</span>
  <span class="verse" title="Exodus 6:18" id="Exodus-6-18">The sons of Kohath: Amram, and Izhar, and Hebron, and Uzziel; and the years of the life of Kohath were one hundred thirty-three years.</span>
  <span class="verse" title="Exodus 6:19" id="Exodus-6-19">The sons of Merari: Mahli and Mushi. These are the families of the Levites according to their generations.</span>
  <span class="verse" title="Exodus 6:20" id="Exodus-6-20">Amram took Jochebed his father&#8217;s sister to himself as wife; and she bore him Aaron and Moses: and the years of the life of Amram were a hundred and thirty-seven years.</span>
  <span class="verse" title="Exodus 6:21" id="Exodus-6-21">The sons of Izhar: Korah, and Nepheg, and Zichri.</span>
  <span class="verse" title="Exodus 6:22" id="Exodus-6-22">The sons of Uzziel: Mishael, and Elzaphan, and Sithri.</span>
  <span class="verse" title="Exodus 6:23" id="Exodus-6-23">Aaron took Elisheba, the daughter of Amminadab, the sister of Nahshon, as his wife; and she bore him Nadab and Abihu, Eleazar and Ithamar.</span>
  <span class="verse" title="Exodus 6:24" id="Exodus-6-24">The sons of Korah: Assir, and Elkanah, and Abiasaph; these are the families of the Korahites.</span>
  <span class="verse" title="Exodus 6:25" id="Exodus-6-25">Eleazar Aaron&#8217;s son took one of the daughters of Putiel as his wife; and she bore him Phinehas. These are the heads of the fathers&#8217; houses of the Levites according to their families.</span>
  <span class="verse" title="Exodus 6:26" id="Exodus-6-26">These are that Aaron and Moses, to whom Yahweh said, &#8220;Bring out the children of Israel from the land of Egypt according to their armies.&#8221;</span>
  <span class="verse" title="Exodus 6:27" id="Exodus-6-27">These are those who spoke to Pharaoh king of Egypt, to bring out the children of Israel from Egypt. These are that Moses and Aaron.</span>
  <span class="verse" title="Exodus 6:28" id="Exodus-6-28">It happened on the day when Yahweh spoke to Moses in the land of Egypt,</span>
  <span class="verse" title="Exodus 6:29" id="Exodus-6-29">that Yahweh spoke to Moses, saying, &#8220;I am Yahweh. Speak to Pharaoh king of Egypt all that I speak to you.&#8221;</span>
  <span class="verse" title="Exodus 6:30" id="Exodus-6-30">Moses said before Yahweh, &#8220;Behold, I am of uncircumcised lips, and how shall Pharaoh listen to me?&#8221;</span>
</div>