<div class="chapter" id="Exodus-007">
  <h2>Exodus 7</h2>
  <span class="verse" title="Exodus 7:1" id="Exodus-7-1">Yahweh said to Moses, &#8220;Behold, I have made you as God to Pharaoh; and Aaron your brother shall be your prophet.</span>
  <span class="verse" title="Exodus 7:2" id="Exodus-7-2">You shall speak all that I command you; and Aaron your brother shall speak to Pharaoh, that he let the children of Israel go out of his land.</span>
  <span class="verse" title="Exodus 7:3" id="Exodus-7-3">I will harden Pharaoh&#8217;s heart, and multiply my signs and my wonders in the land of Egypt.</span>
  <span class="verse" title="Exodus 7:4" id="Exodus-7-4">But Pharaoh will not listen to you, and I will lay my hand on Egypt, and bring out my armies, my people the children of Israel, out of the land of Egypt by great judgments.</span>
  <span class="verse" title="Exodus 7:5" id="Exodus-7-5">The Egyptians shall know that I am Yahweh, when I stretch out my hand on Egypt, and bring out the children of Israel from among them.&#8221;</span>
  <span class="verse" title="Exodus 7:6" id="Exodus-7-6">Moses and Aaron did so. As Yahweh commanded them, so they did.</span>
  <span class="verse" title="Exodus 7:7" id="Exodus-7-7">Moses was eighty years old, and Aaron eighty-three years old, when they spoke to Pharaoh.</span>
  <span class="verse" title="Exodus 7:8" id="Exodus-7-8">Yahweh spoke to Moses and to Aaron, saying,</span>
  <span class="verse" title="Exodus 7:9" id="Exodus-7-9">&#8220;When Pharaoh speaks to you, saying, &#8216;Perform a miracle!&#8217; then you shall tell Aaron, &#8216;Take your rod, and cast it down before Pharaoh, that it become a serpent.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 7:10" id="Exodus-7-10">Moses and Aaron went in to Pharaoh, and they did so, as Yahweh had commanded: and Aaron cast down his rod before Pharaoh and before his servants, and it became a serpent.</span>
  <span class="verse" title="Exodus 7:11" id="Exodus-7-11">Then Pharaoh also called for the wise men and the sorcerers. They also, the magicians of Egypt, did the same thing with their enchantments.</span>
  <span class="verse" title="Exodus 7:12" id="Exodus-7-12">For they each cast down their rods, and they became serpents: but Aaron&#8217;s rod swallowed up their rods.</span>
  <span class="verse" title="Exodus 7:13" id="Exodus-7-13">Pharaoh&#8217;s heart was hardened, and he didn&#8217;t listen to them; as Yahweh had spoken.</span>
  <span class="verse" title="Exodus 7:14" id="Exodus-7-14">Yahweh said to Moses, &#8220;Pharaoh&#8217;s heart is stubborn. He refuses to let the people go.</span>
  <span class="verse" title="Exodus 7:15" id="Exodus-7-15">Go to Pharaoh in the morning. Behold, he goes out to the water; and you shall stand by the river&#8217;s bank to meet him; and the rod which was turned to a serpent you shall take in your hand.</span>
  <span class="verse" title="Exodus 7:16" id="Exodus-7-16">You shall tell him, &#8216;Yahweh, the God of the Hebrews, has sent me to you, saying, &#8220;Let my people go, that they may serve me in the wilderness:&#8221; and behold, until now you haven&#8217;t listened.</span>
  <span class="verse" title="Exodus 7:17" id="Exodus-7-17">Thus says Yahweh, &#8220;In this you shall know that I am Yahweh. Behold, I will strike with the rod that is in my hand on the waters which are in the river, and they shall be turned to blood.</span>
  <span class="verse" title="Exodus 7:18" id="Exodus-7-18">The fish that are in the river shall die, and the river shall become foul; and the Egyptians shall loathe to drink water from the river.&#8221;&#8217;&#8221;</span>
  <span class="verse" title="Exodus 7:19" id="Exodus-7-19">Yahweh said to Moses, &#8220;Tell Aaron, &#8216;Take your rod, and stretch out your hand over the waters of Egypt, over their rivers, over their streams, and over their pools, and over all their ponds of water, that they may become blood; and there shall be blood throughout all the land of Egypt, both in vessels of wood and in vessels of stone.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 7:20" id="Exodus-7-20">Moses and Aaron did so, as Yahweh commanded; and he lifted up the rod, and struck the waters that were in the river, in the sight of Pharaoh, and in the sight of his servants; and all the waters that were in the river were turned to blood.</span>
  <span class="verse" title="Exodus 7:21" id="Exodus-7-21">The fish that were in the river died; and the river became foul, and the Egyptians couldn&#8217;t drink water from the river; and the blood was throughout all the land of Egypt.</span>
  <span class="verse" title="Exodus 7:22" id="Exodus-7-22">The magicians of Egypt did the same thing with their enchantments; and Pharaoh&#8217;s heart was hardened, and he didn&#8217;t listen to them; as Yahweh had spoken.</span>
  <span class="verse" title="Exodus 7:23" id="Exodus-7-23">Pharaoh turned and went into his house, and he didn&#8217;t even take this to heart.</span>
  <span class="verse" title="Exodus 7:24" id="Exodus-7-24">All the Egyptians dug around the river for water to drink; for they couldn&#8217;t drink of the water of the river.</span>
  <span class="verse" title="Exodus 7:25" id="Exodus-7-25">Seven days were fulfilled, after Yahweh had struck the river.</span>
</div>