<div class="chapter" id="Exodus-009">
  <h2>Exodus 9</h2>
  <span class="verse" title="Exodus 9:1" id="Exodus-9-1">Then Yahweh said to Moses, &#8220;Go in to Pharaoh, and tell him, &#8216;This is what Yahweh, the God of the Hebrews, says: &#8220;Let my people go, that they may serve me.</span>
  <span class="verse" title="Exodus 9:2" id="Exodus-9-2">For if you refuse to let them go, and hold them still,</span>
  <span class="verse" title="Exodus 9:3" id="Exodus-9-3">behold, the hand of Yahweh is on your livestock which are in the field, on the horses, on the donkeys, on the camels, on the herds, and on the flocks with a very grievous pestilence.</span>
  <span class="verse" title="Exodus 9:4" id="Exodus-9-4">Yahweh will make a distinction between the livestock of Israel and the livestock of Egypt; and nothing shall die of all that belongs to the children of Israel.&#8221;&#8217;&#8221;</span>
  <span class="verse" title="Exodus 9:5" id="Exodus-9-5">Yahweh appointed a set time, saying, &#8220;Tomorrow Yahweh shall do this thing in the land.&#8221;</span>
  <span class="verse" title="Exodus 9:6" id="Exodus-9-6">Yahweh did that thing on the next day; and all the livestock of Egypt died, but of the livestock of the children of Israel, not one died.</span>
  <span class="verse" title="Exodus 9:7" id="Exodus-9-7">Pharaoh sent, and, behold, there was not so much as one of the livestock of the Israelites dead. But the heart of Pharaoh was stubborn, and he didn&#8217;t let the people go.</span>
  <span class="verse" title="Exodus 9:8" id="Exodus-9-8">Yahweh said to Moses and to Aaron, &#8220;Take to you handfuls of ashes of the furnace, and let Moses sprinkle it toward the sky in the sight of Pharaoh.</span>
  <span class="verse" title="Exodus 9:9" id="Exodus-9-9">It shall become small dust over all the land of Egypt, and shall be a boil breaking out with boils on man and on animal, throughout all the land of Egypt.&#8221;</span>
  <span class="verse" title="Exodus 9:10" id="Exodus-9-10">They took ashes of the furnace, and stood before Pharaoh; and Moses sprinkled it up toward the sky; and it became a boil breaking out with boils on man and on animal.</span>
  <span class="verse" title="Exodus 9:11" id="Exodus-9-11">The magicians couldn&#8217;t stand before Moses because of the boils; for the boils were on the magicians, and on all the Egyptians.</span>
  <span class="verse" title="Exodus 9:12" id="Exodus-9-12">Yahweh hardened the heart of Pharaoh, and he didn&#8217;t listen to them, as Yahweh had spoken to Moses.</span>
  <span class="verse" title="Exodus 9:13" id="Exodus-9-13">Yahweh said to Moses, &#8220;Rise up early in the morning, and stand before Pharaoh, and tell him, &#8216;This is what Yahweh, the God of the Hebrews, says: &#8220;Let my people go, that they may serve me.</span>
  <span class="verse" title="Exodus 9:14" id="Exodus-9-14">For this time I will send all my plagues against your heart, against your officials, and against your people; that you may know that there is none like me in all the earth.</span>
  <span class="verse" title="Exodus 9:15" id="Exodus-9-15">For now I would have stretched out my hand, and struck you and your people with pestilence, and you would have been cut off from the earth;</span>
  <span class="verse" title="Exodus 9:16" id="Exodus-9-16">but indeed for this cause I have made you stand: to show you my power, and that my name may be declared throughout all the earth;</span>
  <span class="verse" title="Exodus 9:17" id="Exodus-9-17">as you still exalt yourself against my people, that you won&#8217;t let them go.</span>
  <span class="verse" title="Exodus 9:18" id="Exodus-9-18">Behold, tomorrow about this time I will cause it to rain a very grievous hail, such as has not been in Egypt since the day it was founded even until now.</span>
  <span class="verse" title="Exodus 9:19" id="Exodus-9-19">Now therefore command that all of your livestock and all that you have in the field be brought into shelter. Every man and animal that is found in the field, and isn&#8217;t brought home, the hail shall come down on them, and they shall die.&#8221;&#8217;&#8221;</span>
  <span class="verse" title="Exodus 9:20" id="Exodus-9-20">Those who feared the word of Yahweh among the servants of Pharaoh made their servants and their livestock flee into the houses.</span>
  <span class="verse" title="Exodus 9:21" id="Exodus-9-21">Whoever didn&#8217;t respect the word of Yahweh left his servants and his livestock in the field.</span>
  <span class="verse" title="Exodus 9:22" id="Exodus-9-22">Yahweh said to Moses, &#8220;Stretch out your hand toward the sky, that there may be hail in all the land of Egypt, on man, and on animal, and on every herb of the field, throughout the land of Egypt.&#8221;</span>
  <span class="verse" title="Exodus 9:23" id="Exodus-9-23">Moses stretched out his rod toward the heavens, and Yahweh sent thunder, hail, and lightning flashed down to the earth. Yahweh rained hail on the land of Egypt.</span>
  <span class="verse" title="Exodus 9:24" id="Exodus-9-24">So there was very severe hail, and lightning mixed with the hail, such as had not been in all the land of Egypt since it became a nation.</span>
  <span class="verse" title="Exodus 9:25" id="Exodus-9-25">The hail struck throughout all the land of Egypt all that was in the field, both man and animal; and the hail struck every herb of the field, and broke every tree of the field.</span>
  <span class="verse" title="Exodus 9:26" id="Exodus-9-26">Only in the land of Goshen, where the children of Israel were, there was no hail.</span>
  <span class="verse" title="Exodus 9:27" id="Exodus-9-27">Pharaoh sent, and called for Moses and Aaron, and said to them, &#8220;I have sinned this time. Yahweh is righteous, and I and my people are wicked.</span>
  <span class="verse" title="Exodus 9:28" id="Exodus-9-28">Pray to Yahweh; for there has been enough of mighty thunderings and hail. I will let you go, and you shall stay no longer.&#8221;</span>
  <span class="verse" title="Exodus 9:29" id="Exodus-9-29">Moses said to him, &#8220;As soon as I have gone out of the city, I will spread abroad my hands to Yahweh. The thunders shall cease, neither shall there be any more hail; that you may know that the earth is Yahweh&#8217;s.</span>
  <span class="verse" title="Exodus 9:30" id="Exodus-9-30">But as for you and your servants, I know that you don&#8217;t yet fear Yahweh God.&#8221;</span>
  <span class="verse" title="Exodus 9:31" id="Exodus-9-31">The flax and the barley were struck, for the barley was in the ear, and the flax was in bloom.</span>
  <span class="verse" title="Exodus 9:32" id="Exodus-9-32">But the wheat and the spelt were not struck, for they had not grown up.</span>
  <span class="verse" title="Exodus 9:33" id="Exodus-9-33">Moses went out of the city from Pharaoh, and spread abroad his hands to Yahweh; and the thunders and hail ceased, and the rain was not poured on the earth.</span>
  <span class="verse" title="Exodus 9:34" id="Exodus-9-34">When Pharaoh saw that the rain and the hail and the thunders were ceased, he sinned yet more, and hardened his heart, he and his servants.</span>
  <span class="verse" title="Exodus 9:35" id="Exodus-9-35">The heart of Pharaoh was hardened, and he didn&#8217;t let the children of Israel go, just as Yahweh had spoken through Moses.</span>
</div>