<div class="chapter" id="Exodus-011">
  <h2>Exodus 11</h2>
  <span class="verse" title="Exodus 11:1" id="Exodus-11-1">Yahweh said to Moses, &#8220;Yet one plague more will I bring on Pharaoh, and on Egypt; afterwards he will let you go. When he lets you go, he will surely thrust you out altogether.</span>
  <span class="verse" title="Exodus 11:2" id="Exodus-11-2">Speak now in the ears of the people, and let them ask every man of his neighbor, and every woman of her neighbor, jewels of silver, and jewels of gold.&#8221;</span>
  <span class="verse" title="Exodus 11:3" id="Exodus-11-3">Yahweh gave the people favor in the sight of the Egyptians. Moreover the man Moses was very great in the land of Egypt, in the sight of Pharaoh&#8217;s servants, and in the sight of the people.</span>
  <span class="verse" title="Exodus 11:4" id="Exodus-11-4">Moses said, &#8220;This is what Yahweh says: &#8216;About midnight I will go out into the midst of Egypt,</span>
  <span class="verse" title="Exodus 11:5" id="Exodus-11-5">and all the firstborn in the land of Egypt shall die, from the firstborn of Pharaoh who sits on his throne, even to the firstborn of the female servant who is behind the mill; and all the firstborn of livestock.</span>
  <span class="verse" title="Exodus 11:6" id="Exodus-11-6">There shall be a great cry throughout all the land of Egypt, such as there has not been, nor shall be any more.</span>
  <span class="verse" title="Exodus 11:7" id="Exodus-11-7">But against any of the children of Israel a dog won&#8217;t even bark or move its tongue, against man or animal; that you may know that Yahweh makes a distinction between the Egyptians and Israel.</span>
  <span class="verse" title="Exodus 11:8" id="Exodus-11-8">All these your servants shall come down to me, and bow down themselves to me, saying, &#8220;Get out, with all the people who follow you;&#8221; and after that I will go out.&#8217;&#8221; He went out from Pharaoh in hot anger.</span>
  <span class="verse" title="Exodus 11:9" id="Exodus-11-9">Yahweh said to Moses, &#8220;Pharaoh won&#8217;t listen to you, that my wonders may be multiplied in the land of Egypt.&#8221;</span>
  <span class="verse" title="Exodus 11:10" id="Exodus-11-10">Moses and Aaron did all these wonders before Pharaoh, and Yahweh hardened Pharaoh&#8217;s heart, and he didn&#8217;t let the children of Israel go out of his land.</span>
</div>