<div class="chapter" id="Exodus-013">
  <h2>Exodus 13</h2>
  <span class="verse" title="Exodus 13:1" id="Exodus-13-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Exodus 13:2" id="Exodus-13-2">&#8220;Sanctify to me all of the firstborn, whatever opens the womb among the children of Israel, both of man and of animal. It is mine.&#8221;</span>
  <span class="verse" title="Exodus 13:3" id="Exodus-13-3">Moses said to the people, &#8220;Remember this day, in which you came out from Egypt, out of the house of bondage; for by strength of hand Yahweh brought you out from this place. No leavened bread shall be eaten.</span>
  <span class="verse" title="Exodus 13:4" id="Exodus-13-4">This day you go out in the month Abib.</span>
  <span class="verse" title="Exodus 13:5" id="Exodus-13-5">It shall be, when Yahweh shall bring you into the land of the Canaanite, and the Hittite, and the Amorite, and the Hivite, and the Jebusite, which he swore to your fathers to give you, a land flowing with milk and honey, that you shall keep this service in this month.</span>
  <span class="verse" title="Exodus 13:6" id="Exodus-13-6">Seven days you shall eat unleavened bread, and in the seventh day shall be a feast to Yahweh.</span>
  <span class="verse" title="Exodus 13:7" id="Exodus-13-7">Unleavened bread shall be eaten throughout the seven days; and no leavened bread shall be seen with you, neither shall yeast be seen with you, in all your borders.</span>
  <span class="verse" title="Exodus 13:8" id="Exodus-13-8">You shall tell your son in that day, saying, &#8216;It is because of that which Yahweh did for me when I came out of Egypt.&#8217;</span>
  <span class="verse" title="Exodus 13:9" id="Exodus-13-9">It shall be for a sign to you on your hand, and for a memorial between your eyes, that the law of Yahweh may be in your mouth; for with a strong hand Yahweh has brought you out of Egypt.</span>
  <span class="verse" title="Exodus 13:10" id="Exodus-13-10">You shall therefore keep this ordinance in its season from year to year.</span>
  <span class="verse" title="Exodus 13:11" id="Exodus-13-11">&#8220;It shall be, when Yahweh shall bring you into the land of the Canaanite, as he swore to you and to your fathers, and shall give it you,</span>
  <span class="verse" title="Exodus 13:12" id="Exodus-13-12">that you shall set apart to Yahweh all that opens the womb, and every firstborn which you have that comes from an animal. The males shall be Yahweh&#8217;s.</span>
  <span class="verse" title="Exodus 13:13" id="Exodus-13-13">Every firstborn of a donkey you shall redeem with a lamb; and if you will not redeem it, then you shall break its neck; and you shall redeem all the firstborn of man among your sons.</span>
  <span class="verse" title="Exodus 13:14" id="Exodus-13-14">It shall be, when your son asks you in time to come, saying, &#8216;What is this?&#8217; that you shall tell him, &#8216;By strength of hand Yahweh brought us out from Egypt, from the house of bondage;</span>
  <span class="verse" title="Exodus 13:15" id="Exodus-13-15">and it happened, when Pharaoh would hardly let us go, that Yahweh killed all the firstborn in the land of Egypt, both the firstborn of man, and the firstborn of animal. Therefore I sacrifice to Yahweh all that opens the womb, being males; but all the firstborn of my sons I redeem.&#8217;</span>
  <span class="verse" title="Exodus 13:16" id="Exodus-13-16">It shall be for a sign on your hand, and for symbols between your eyes: for by strength of hand Yahweh brought us out of Egypt.&#8221;</span>
  <span class="verse" title="Exodus 13:17" id="Exodus-13-17">It happened, when Pharaoh had let the people go, that God didn&#8217;t lead them by the way of the land of the Philistines, although that was near; for God said, &#8220;Lest perhaps the people change their minds when they see war, and they return to Egypt;&#8221;</span>
  <span class="verse" title="Exodus 13:18" id="Exodus-13-18">but God led the people around by the way of the wilderness by the Red Sea; and the children of Israel went up armed out of the land of Egypt.</span>
  <span class="verse" title="Exodus 13:19" id="Exodus-13-19">Moses took the bones of Joseph with him, for he had made the children of Israel swear, saying, &#8220;God will surely visit you, and you shall carry up my bones away from here with you.&#8221;</span>
  <span class="verse" title="Exodus 13:20" id="Exodus-13-20">They took their journey from Succoth, and encamped in Etham, in the edge of the wilderness.</span>
  <span class="verse" title="Exodus 13:21" id="Exodus-13-21">Yahweh went before them by day in a pillar of cloud, to lead them on their way, and by night in a pillar of fire, to give them light, that they might go by day and by night:</span>
  <span class="verse" title="Exodus 13:22" id="Exodus-13-22">the pillar of cloud by day, and the pillar of fire by night, didn&#8217;t depart from before the people.</span>
</div>