<div class="chapter" id="Exodus-017">
  <h2>Exodus 17</h2>
  <span class="verse" title="Exodus 17:1" id="Exodus-17-1">All the congregation of the children of Israel traveled from the wilderness of Sin, by their journeys, according to Yahweh&#8217;s commandment, and encamped in Rephidim; but there was no water for the people to drink.</span>
  <span class="verse" title="Exodus 17:2" id="Exodus-17-2">Therefore the people quarreled with Moses, and said, &#8220;Give us water to drink.&#8221; Moses said to them, &#8220;Why do you quarrel with me? Why do you test Yahweh?&#8221;</span>
  <span class="verse" title="Exodus 17:3" id="Exodus-17-3">The people were thirsty for water there; and the people murmured against Moses, and said, &#8220;Why have you brought us up out of Egypt, to kill us, our children, and our livestock with thirst?&#8221;</span>
  <span class="verse" title="Exodus 17:4" id="Exodus-17-4">Moses cried to Yahweh, saying, &#8220;What shall I do with these people? They are almost ready to stone me.&#8221;</span>
  <span class="verse" title="Exodus 17:5" id="Exodus-17-5">Yahweh said to Moses, &#8220;Walk on before the people, and take the elders of Israel with you, and take the rod in your hand with which you struck the Nile, and go.</span>
  <span class="verse" title="Exodus 17:6" id="Exodus-17-6">Behold, I will stand before you there on the rock in Horeb. You shall strike the rock, and water will come out of it, that the people may drink.&#8221; Moses did so in the sight of the elders of Israel.</span>
  <span class="verse" title="Exodus 17:7" id="Exodus-17-7">He called the name of the place Massah, and Meribah, because the children of Israel quarreled, and because they tested Yahweh, saying, &#8220;Is Yahweh among us, or not?&#8221;</span>
  <span class="verse" title="Exodus 17:8" id="Exodus-17-8">Then Amalek came and fought with Israel in Rephidim.</span>
  <span class="verse" title="Exodus 17:9" id="Exodus-17-9">Moses said to Joshua, &#8220;Choose men for us, and go out, fight with Amalek. Tomorrow I will stand on the top of the hill with God&#8217;s rod in my hand.&#8221;</span>
  <span class="verse" title="Exodus 17:10" id="Exodus-17-10">So Joshua did as Moses had told him, and fought with Amalek; and Moses, Aaron, and Hur went up to the top of the hill.</span>
  <span class="verse" title="Exodus 17:11" id="Exodus-17-11">It happened, when Moses held up his hand, that Israel prevailed; and when he let down his hand, Amalek prevailed.</span>
  <span class="verse" title="Exodus 17:12" id="Exodus-17-12">But Moses&#8217; hands were heavy; and they took a stone, and put it under him, and he sat on it. Aaron and Hur held up his hands, the one on the one side, and the other on the other side. His hands were steady until sunset.</span>
  <span class="verse" title="Exodus 17:13" id="Exodus-17-13">Joshua defeated Amalek and his people with the edge of the sword.</span>
  <span class="verse" title="Exodus 17:14" id="Exodus-17-14">Yahweh said to Moses, &#8220;Write this for a memorial in a book, and rehearse it in the ears of Joshua: that I will utterly blot out the memory of Amalek from under the sky.&#8221;</span>
  <span class="verse" title="Exodus 17:15" id="Exodus-17-15">Moses built an altar, and called its name Yahweh our Banner.</span>
  <span class="verse" title="Exodus 17:16" id="Exodus-17-16">He said, &#8220;Yah has sworn: &#8216;Yahweh will have war with Amalek from generation to generation.&#8217;&#8221;</span>
</div>