<div class="chapter" id="Exodus-018">
  <h2>Exodus 18</h2>
  <span class="verse" title="Exodus 18:1" id="Exodus-18-1">Now Jethro, the priest of Midian, Moses&#8217; father-in-law, heard of all that God had done for Moses, and for Israel his people, how that Yahweh had brought Israel out of Egypt.</span>
  <span class="verse" title="Exodus 18:2" id="Exodus-18-2">Jethro, Moses&#8217; father-in-law, received Zipporah, Moses&#8217; wife, after he had sent her away,</span>
  <span class="verse" title="Exodus 18:3" id="Exodus-18-3">and her two sons. The name of one son was Gershom, for Moses said, &#8220;I have lived as a foreigner in a foreign land&#8221;.</span>
  <span class="verse" title="Exodus 18:4" id="Exodus-18-4">The name of the other was Eliezer, for he said, &#8220;My father&#8217;s God was my help and delivered me from Pharaoh&#8217;s sword.&#8221;</span>
  <span class="verse" title="Exodus 18:5" id="Exodus-18-5">Jethro, Moses&#8217; father-in-law, came with his sons and his wife to Moses into the wilderness where he was encamped, at the Mountain of God.</span>
  <span class="verse" title="Exodus 18:6" id="Exodus-18-6">He said to Moses, &#8220;I, your father-in-law Jethro, have come to you with your wife, and her two sons with her.&#8221;</span>
  <span class="verse" title="Exodus 18:7" id="Exodus-18-7">Moses went out to meet his father-in-law, and bowed and kissed him. They asked each other of their welfare, and they came into the tent.</span>
  <span class="verse" title="Exodus 18:8" id="Exodus-18-8">Moses told his father-in-law all that Yahweh had done to Pharaoh and to the Egyptians for Israel&#8217;s sake, all the hardships that had come on them on the way, and how Yahweh delivered them.</span>
  <span class="verse" title="Exodus 18:9" id="Exodus-18-9">Jethro rejoiced for all the goodness which Yahweh had done to Israel, in that he had delivered them out of the hand of the Egyptians.</span>
  <span class="verse" title="Exodus 18:10" id="Exodus-18-10">Jethro said, &#8220;Blessed be Yahweh, who has delivered you out of the hand of the Egyptians, and out of the hand of Pharaoh; who has delivered the people from under the hand of the Egyptians.</span>
  <span class="verse" title="Exodus 18:11" id="Exodus-18-11">Now I know that Yahweh is greater than all gods because of the thing in which they dealt arrogantly against them.&#8221;</span>
  <span class="verse" title="Exodus 18:12" id="Exodus-18-12">Jethro, Moses&#8217; father-in-law, took a burnt offering and sacrifices for God. Aaron came with all of the elders of Israel, to eat bread with Moses&#8217; father-in-law before God.</span>
  <span class="verse" title="Exodus 18:13" id="Exodus-18-13">It happened on the next day, that Moses sat to judge the people, and the people stood around Moses from the morning to the evening.</span>
  <span class="verse" title="Exodus 18:14" id="Exodus-18-14">When Moses&#8217; father-in-law saw all that he did to the people, he said, &#8220;What is this thing that you do for the people? Why do you sit alone, and all the people stand around you from morning to evening?&#8221;</span>
  <span class="verse" title="Exodus 18:15" id="Exodus-18-15">Moses said to his father-in-law, &#8220;Because the people come to me to inquire of God.</span>
  <span class="verse" title="Exodus 18:16" id="Exodus-18-16">When they have a matter, they come to me, and I judge between a man and his neighbor, and I make them know the statutes of God, and his laws.&#8221;</span>
  <span class="verse" title="Exodus 18:17" id="Exodus-18-17">Moses&#8217; father-in-law said to him, &#8220;The thing that you do is not good.</span>
  <span class="verse" title="Exodus 18:18" id="Exodus-18-18">You will surely wear away, both you, and this people that is with you; for the thing is too heavy for you. You are not able to perform it yourself alone.</span>
  <span class="verse" title="Exodus 18:19" id="Exodus-18-19">Listen now to my voice. I will give you counsel, and God be with you. You represent the people before God, and bring the causes to God.</span>
  <span class="verse" title="Exodus 18:20" id="Exodus-18-20">You shall teach them the statutes and the laws, and shall show them the way in which they must walk, and the work that they must do.</span>
  <span class="verse" title="Exodus 18:21" id="Exodus-18-21">Moreover you shall provide out of all the people able men, such as fear God: men of truth, hating unjust gain; and place such over them, to be rulers of thousands, rulers of hundreds, rulers of fifties, and rulers of tens.</span>
  <span class="verse" title="Exodus 18:22" id="Exodus-18-22">Let them judge the people at all times. It shall be that every great matter they shall bring to you, but every small matter they shall judge themselves. So shall it be easier for you, and they shall share the load with you.</span>
  <span class="verse" title="Exodus 18:23" id="Exodus-18-23">If you will do this thing, and God commands you so, then you will be able to endure, and all of these people also will go to their place in peace.&#8221;</span>
  <span class="verse" title="Exodus 18:24" id="Exodus-18-24">So Moses listened to the voice of his father-in-law, and did all that he had said.</span>
  <span class="verse" title="Exodus 18:25" id="Exodus-18-25">Moses chose able men out of all Israel, and made them heads over the people, rulers of thousands, rulers of hundreds, rulers of fifties, and rulers of tens.</span>
  <span class="verse" title="Exodus 18:26" id="Exodus-18-26">They judged the people at all times. They brought the hard causes to Moses, but every small matter they judged themselves.</span>
  <span class="verse" title="Exodus 18:27" id="Exodus-18-27">Moses let his father-in-law depart, and he went his way into his own land.</span>
</div>