<div class="chapter" id="Exodus-019">
  <h2>Exodus 19</h2>
  <span class="verse" title="Exodus 19:1" id="Exodus-19-1">In the third month after the children of Israel had gone out of the land of Egypt, on that same day they came into the wilderness of Sinai.</span>
  <span class="verse" title="Exodus 19:2" id="Exodus-19-2">When they had departed from Rephidim, and had come to the wilderness of Sinai, they encamped in the wilderness; and there Israel encamped before the mountain.</span>
  <span class="verse" title="Exodus 19:3" id="Exodus-19-3">Moses went up to God, and Yahweh called to him out of the mountain, saying, &#8220;This is what you shall tell the house of Jacob, and tell the children of Israel:</span>
  <span class="verse" title="Exodus 19:4" id="Exodus-19-4">&#8216;You have seen what I did to the Egyptians, and how I bore you on eagles&#8217; wings, and brought you to myself.</span>
  <span class="verse" title="Exodus 19:5" id="Exodus-19-5">Now therefore, if you will indeed obey my voice, and keep my covenant, then you shall be my own possession from among all peoples; for all the earth is mine;</span>
  <span class="verse" title="Exodus 19:6" id="Exodus-19-6">and you shall be to me a kingdom of priests, and a holy nation.&#8217; These are the words which you shall speak to the children of Israel.&#8221;</span>
  <span class="verse" title="Exodus 19:7" id="Exodus-19-7">Moses came and called for the elders of the people, and set before them all these words which Yahweh commanded him.</span>
  <span class="verse" title="Exodus 19:8" id="Exodus-19-8">All the people answered together, and said, &#8220;All that Yahweh has spoken we will do.&#8221; Moses reported the words of the people to Yahweh.</span>
  <span class="verse" title="Exodus 19:9" id="Exodus-19-9">Yahweh said to Moses, &#8220;Behold, I come to you in a thick cloud, that the people may hear when I speak with you, and may also believe you forever.&#8221; Moses told the words of the people to Yahweh.</span>
  <span class="verse" title="Exodus 19:10" id="Exodus-19-10">Yahweh said to Moses, &#8220;Go to the people, and sanctify them today and tomorrow, and let them wash their garments,</span>
  <span class="verse" title="Exodus 19:11" id="Exodus-19-11">and be ready against the third day; for on the third day Yahweh will come down in the sight of all the people on Mount Sinai.</span>
  <span class="verse" title="Exodus 19:12" id="Exodus-19-12">You shall set bounds to the people all around, saying, &#8216;Be careful that you don&#8217;t go up onto the mountain, or touch its border. Whoever touches the mountain shall be surely put to death.</span>
  <span class="verse" title="Exodus 19:13" id="Exodus-19-13">No hand shall touch him, but he shall surely be stoned or shot through; whether it is animal or man, he shall not live.&#8217; When the trumpet sounds long, they shall come up to the mountain.&#8221;</span>
  <span class="verse" title="Exodus 19:14" id="Exodus-19-14">Moses went down from the mountain to the people, and sanctified the people; and they washed their clothes.</span>
  <span class="verse" title="Exodus 19:15" id="Exodus-19-15">He said to the people, &#8220;Be ready by the third day. Don&#8217;t have sexual relations with a woman.&#8221;</span>
  <span class="verse" title="Exodus 19:16" id="Exodus-19-16">It happened on the third day, when it was morning, that there were thunders and lightnings, and a thick cloud on the mountain, and the sound of an exceedingly loud trumpet; and all the people who were in the camp trembled.</span>
  <span class="verse" title="Exodus 19:17" id="Exodus-19-17">Moses led the people out of the camp to meet God; and they stood at the lower part of the mountain.</span>
  <span class="verse" title="Exodus 19:18" id="Exodus-19-18">Mount Sinai, all it, smoked, because Yahweh descended on it in fire; and its smoke ascended like the smoke of a furnace, and the whole mountain quaked greatly.</span>
  <span class="verse" title="Exodus 19:19" id="Exodus-19-19">When the sound of the trumpet grew louder and louder, Moses spoke, and God answered him by a voice.</span>
  <span class="verse" title="Exodus 19:20" id="Exodus-19-20">Yahweh came down on Mount Sinai, to the top of the mountain. Yahweh called Moses to the top of the mountain, and Moses went up.</span>
  <span class="verse" title="Exodus 19:21" id="Exodus-19-21">Yahweh said to Moses, &#8220;Go down, warn the people, lest they break through to Yahweh to gaze, and many of them perish.</span>
  <span class="verse" title="Exodus 19:22" id="Exodus-19-22">Let the priests also, who come near to Yahweh, sanctify themselves, lest Yahweh break forth on them.&#8221;</span>
  <span class="verse" title="Exodus 19:23" id="Exodus-19-23">Moses said to Yahweh, &#8220;The people can&#8217;t come up to Mount Sinai, for you warned us, saying, &#8216;Set bounds around the mountain, and sanctify it.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 19:24" id="Exodus-19-24">Yahweh said to him, &#8220;Go down and you shall bring Aaron up with you, but don&#8217;t let the priests and the people break through to come up to Yahweh, lest he break forth on them.&#8221;</span>
  <span class="verse" title="Exodus 19:25" id="Exodus-19-25">So Moses went down to the people, and told them.</span>
</div>