<div class="chapter" id="Exodus-020">
  <h2>Exodus 20</h2>
  <span class="verse" title="Exodus 20:1" id="Exodus-20-1">God spoke all these words, saying,</span>
  <span class="verse" title="Exodus 20:2" id="Exodus-20-2">&#8220;I am Yahweh your God, who brought you out of the land of Egypt, out of the house of bondage.</span>
  <span class="verse" title="Exodus 20:3" id="Exodus-20-3">&#8220;You shall have no other gods before me.</span>
  <span class="verse" title="Exodus 20:4" id="Exodus-20-4">&#8220;You shall not make for yourselves an idol, nor any image of anything that is in the heavens above, or that is in the earth beneath, or that is in the water under the earth:</span>
  <span class="verse" title="Exodus 20:5" id="Exodus-20-5">you shall not bow yourself down to them, nor serve them, for I, Yahweh your God, am a jealous God, visiting the iniquity of the fathers on the children, on the third and on the fourth generation of those who hate me,</span>
  <span class="verse" title="Exodus 20:6" id="Exodus-20-6">and showing loving kindness to thousands of those who love me and keep my commandments.</span>
  <span class="verse" title="Exodus 20:7" id="Exodus-20-7">&#8220;You shall not take the name of Yahweh your God in vain, for Yahweh will not hold him guiltless who takes his name in vain.</span>
  <span class="verse" title="Exodus 20:8" id="Exodus-20-8">&#8220;Remember the Sabbath day, to keep it holy.</span>
  <span class="verse" title="Exodus 20:9" id="Exodus-20-9">You shall labor six days, and do all your work,</span>
  <span class="verse" title="Exodus 20:10" id="Exodus-20-10">but the seventh day is a Sabbath to Yahweh your God. You shall not do any work in it, you, nor your son, nor your daughter, your male servant, nor your female servant, nor your livestock, nor your stranger who is within your gates;</span>
  <span class="verse" title="Exodus 20:11" id="Exodus-20-11">for in six days Yahweh made heaven and earth, the sea, and all that is in them, and rested the seventh day; therefore Yahweh blessed the Sabbath day, and made it holy.</span>
  <span class="verse" title="Exodus 20:12" id="Exodus-20-12">&#8220;Honor your father and your mother, that your days may be long in the land which Yahweh your God gives you.</span>
  <span class="verse" title="Exodus 20:13" id="Exodus-20-13">&#8220;You shall not murder.</span>
  <span class="verse" title="Exodus 20:14" id="Exodus-20-14">&#8220;You shall not commit adultery.</span>
  <span class="verse" title="Exodus 20:15" id="Exodus-20-15">&#8220;You shall not steal.</span>
  <span class="verse" title="Exodus 20:16" id="Exodus-20-16">&#8220;You shall not give false testimony against your neighbor.</span>
  <span class="verse" title="Exodus 20:17" id="Exodus-20-17">&#8220;You shall not covet your neighbor&#8217;s house. You shall not covet your neighbor&#8217;s wife, nor his male servant, nor his female servant, nor his ox, nor his donkey, nor anything that is your neighbor&#8217;s.&#8221;</span>
  <span class="verse" title="Exodus 20:18" id="Exodus-20-18">All the people perceived the thunderings, the lightnings, the sound of the trumpet, and the mountain smoking. When the people saw it, they trembled, and stayed at a distance.</span>
  <span class="verse" title="Exodus 20:19" id="Exodus-20-19">They said to Moses, &#8220;Speak with us yourself, and we will listen; but don&#8217;t let God speak with us, lest we die.&#8221;</span>
  <span class="verse" title="Exodus 20:20" id="Exodus-20-20">Moses said to the people, &#8220;Don&#8217;t be afraid, for God has come to test you, and that his fear may be before you, that you won&#8217;t sin.&#8221;</span>
  <span class="verse" title="Exodus 20:21" id="Exodus-20-21">The people stayed at a distance, and Moses drew near to the thick darkness where God was.</span>
  <span class="verse" title="Exodus 20:22" id="Exodus-20-22">Yahweh said to Moses, &#8220;This is what you shall tell the children of Israel: &#8216;You yourselves have seen that I have talked with you from heaven.</span>
  <span class="verse" title="Exodus 20:23" id="Exodus-20-23">You shall most certainly not make alongside of me gods of silver, or gods of gold for yourselves.</span>
  <span class="verse" title="Exodus 20:24" id="Exodus-20-24">You shall make an altar of earth for me, and shall sacrifice on it your burnt offerings and your peace offerings, your sheep and your cattle. In every place where I record my name I will come to you and I will bless you.</span>
  <span class="verse" title="Exodus 20:25" id="Exodus-20-25">If you make me an altar of stone, you shall not build it of cut stones; for if you lift up your tool on it, you have polluted it.</span>
  <span class="verse" title="Exodus 20:26" id="Exodus-20-26">Neither shall you go up by steps to my altar, that your nakedness may not be exposed to it.&#8217;</span>
</div>