<div class="chapter" id="Exodus-021">
  <h2>Exodus 21</h2>
  <span class="verse" title="Exodus 21:1" id="Exodus-21-1">&#8220;Now these are the ordinances which you shall set before them.</span>
  <span class="verse" title="Exodus 21:2" id="Exodus-21-2">&#8220;If you buy a Hebrew servant, he shall serve six years and in the seventh he shall go out free without paying anything.</span>
  <span class="verse" title="Exodus 21:3" id="Exodus-21-3">If he comes in by himself, he shall go out by himself. If he is married, then his wife shall go out with him.</span>
  <span class="verse" title="Exodus 21:4" id="Exodus-21-4">If his master gives him a wife and she bears him sons or daughters, the wife and her children shall be her master&#8217;s, and he shall go out by himself.</span>
  <span class="verse" title="Exodus 21:5" id="Exodus-21-5">But if the servant shall plainly say, &#8216;I love my master, my wife, and my children. I will not go out free;&#8217;</span>
  <span class="verse" title="Exodus 21:6" id="Exodus-21-6">then his master shall bring him to God, and shall bring him to the door or to the doorpost, and his master shall bore his ear through with an awl, and he shall serve him for ever.</span>
  <span class="verse" title="Exodus 21:7" id="Exodus-21-7">&#8220;If a man sells his daughter to be a female servant, she shall not go out as the male servants do.</span>
  <span class="verse" title="Exodus 21:8" id="Exodus-21-8">If she doesn&#8217;t please her master, who has married her to himself, then he shall let her be redeemed. He shall have no right to sell her to a foreign people, since he has dealt deceitfully with her.</span>
  <span class="verse" title="Exodus 21:9" id="Exodus-21-9">If he marries her to his son, he shall deal with her as a daughter.</span>
  <span class="verse" title="Exodus 21:10" id="Exodus-21-10">If he takes another wife to himself, he shall not diminish her food, her clothing, and her marital rights.</span>
  <span class="verse" title="Exodus 21:11" id="Exodus-21-11">If he doesn&#8217;t do these three things for her, she may go free without paying any money.</span>
  <span class="verse" title="Exodus 21:12" id="Exodus-21-12">&#8220;One who strikes a man so that he dies shall surely be put to death,</span>
  <span class="verse" title="Exodus 21:13" id="Exodus-21-13">but not if it is unintentional, but God allows it to happen: then I will appoint you a place where he shall flee.</span>
  <span class="verse" title="Exodus 21:14" id="Exodus-21-14">If a man schemes and comes presumptuously on his neighbor to kill him, you shall take him from my altar, that he may die.</span>
  <span class="verse" title="Exodus 21:15" id="Exodus-21-15">&#8220;Anyone who attacks his father or his mother shall be surely put to death.</span>
  <span class="verse" title="Exodus 21:16" id="Exodus-21-16">&#8220;Anyone who kidnaps someone and sells him, or if he is found in his hand, he shall surely be put to death.</span>
  <span class="verse" title="Exodus 21:17" id="Exodus-21-17">&#8220;Anyone who curses his father or his mother shall surely be put to death.</span>
  <span class="verse" title="Exodus 21:18" id="Exodus-21-18">&#8220;If men quarrel and one strikes the other with a stone, or with his fist, and he doesn&#8217;t die, but is confined to bed;</span>
  <span class="verse" title="Exodus 21:19" id="Exodus-21-19">if he rises again and walks around with his staff, then he who struck him shall be cleared: only he shall pay for the loss of his time, and shall provide for his healing until he is thoroughly healed.</span>
  <span class="verse" title="Exodus 21:20" id="Exodus-21-20">&#8220;If a man strikes his servant or his maid with a rod, and he dies under his hand, he shall surely be punished.</span>
  <span class="verse" title="Exodus 21:21" id="Exodus-21-21">Notwithstanding, if he gets up after a day or two, he shall not be punished, for he is his property.</span>
  <span class="verse" title="Exodus 21:22" id="Exodus-21-22">&#8220;If men fight and hurt a pregnant woman so that she gives birth prematurely, and yet no harm follows, he shall be surely fined as much as the woman&#8217;s husband demands and the judges allow.</span>
  <span class="verse" title="Exodus 21:23" id="Exodus-21-23">But if any harm follows, then you must take life for life,</span>
  <span class="verse" title="Exodus 21:24" id="Exodus-21-24">eye for eye, tooth for tooth, hand for hand, foot for foot,</span>
  <span class="verse" title="Exodus 21:25" id="Exodus-21-25">burning for burning, wound for wound, and bruise for bruise.</span>
  <span class="verse" title="Exodus 21:26" id="Exodus-21-26">&#8220;If a man strikes his servant&#8217;s eye, or his maid&#8217;s eye, and destroys it, he shall let him go free for his eye&#8217;s sake.</span>
  <span class="verse" title="Exodus 21:27" id="Exodus-21-27">If he strikes out his male servant&#8217;s tooth, or his female servant&#8217;s tooth, he shall let him go free for his tooth&#8217;s sake.</span>
  <span class="verse" title="Exodus 21:28" id="Exodus-21-28">&#8220;If a bull gores a man or a woman to death, the bull shall surely be stoned, and its flesh shall not be eaten; but the owner of the bull shall not be held responsible.</span>
  <span class="verse" title="Exodus 21:29" id="Exodus-21-29">But if the bull had a habit of goring in the past, and it has been testified to its owner, and he has not kept it in, but it has killed a man or a woman, the bull shall be stoned, and its owner shall also be put to death.</span>
  <span class="verse" title="Exodus 21:30" id="Exodus-21-30">If a ransom is laid on him, then he shall give for the redemption of his life whatever is laid on him.</span>
  <span class="verse" title="Exodus 21:31" id="Exodus-21-31">Whether it has gored a son or has gored a daughter, according to this judgment it shall be done to him.</span>
  <span class="verse" title="Exodus 21:32" id="Exodus-21-32">If the bull gores a male servant or a female servant, thirty shekels of silver shall be given to their master, and the ox shall be stoned.</span>
  <span class="verse" title="Exodus 21:33" id="Exodus-21-33">&#8220;If a man opens a pit, or if a man digs a pit and doesn&#8217;t cover it, and a bull or a donkey falls into it,</span>
  <span class="verse" title="Exodus 21:34" id="Exodus-21-34">the owner of the pit shall make it good. He shall give money to its owner, and the dead animal shall be his.</span>
  <span class="verse" title="Exodus 21:35" id="Exodus-21-35">&#8220;If one man&#8217;s bull injures another&#8217;s, so that it dies, then they shall sell the live bull, and divide its price; and they shall also divide the dead animal.</span>
  <span class="verse" title="Exodus 21:36" id="Exodus-21-36">Or if it is known that the bull was in the habit of goring in the past, and its owner has not kept it in, he shall surely pay bull for bull, and the dead animal shall be his own.</span>
</div>