<div class="chapter" id="Exodus-022">
  <h2>Exodus 22</h2>
  <span class="verse" title="Exodus 22:1" id="Exodus-22-1">&#8220;If a man steals an ox or a sheep, and kills it, or sells it; he shall pay five oxen for an ox, and four sheep for a sheep.</span>
  <span class="verse" title="Exodus 22:2" id="Exodus-22-2">If the thief is found breaking in, and is struck so that he dies, there shall be no guilt of bloodshed for him.</span>
  <span class="verse" title="Exodus 22:3" id="Exodus-22-3">If the sun has risen on him, guilt of bloodshed shall be for him; he shall make restitution. If he has nothing, then he shall be sold for his theft.</span>
  <span class="verse" title="Exodus 22:4" id="Exodus-22-4">If the stolen property is found in his hand alive, whether it is ox, donkey, or sheep, he shall pay double.</span>
  <span class="verse" title="Exodus 22:5" id="Exodus-22-5">&#8220;If a man causes a field or vineyard to be eaten, and lets his animal loose, and it grazes in another man&#8217;s field, he shall make restitution from the best of his own field, and from the best of his own vineyard.</span>
  <span class="verse" title="Exodus 22:6" id="Exodus-22-6">&#8220;If fire breaks out, and catches in thorns so that the shocks of grain, or the standing grain, or the field are consumed; he who kindled the fire shall surely make restitution.</span>
  <span class="verse" title="Exodus 22:7" id="Exodus-22-7">&#8220;If a man delivers to his neighbor money or stuff to keep, and it is stolen out of the man&#8217;s house; if the thief is found, he shall pay double.</span>
  <span class="verse" title="Exodus 22:8" id="Exodus-22-8">If the thief isn&#8217;t found, then the master of the house shall come near to God, to find out if he hasn&#8217;t put his hand to his neighbor&#8217;s goods.</span>
  <span class="verse" title="Exodus 22:9" id="Exodus-22-9">For every matter of trespass, whether it be for ox, for donkey, for sheep, for clothing, or for any kind of lost thing, about which one says, &#8216;This is mine,&#8217; the cause of both parties shall come before God. He whom God condemns shall pay double to his neighbor.</span>
  <span class="verse" title="Exodus 22:10" id="Exodus-22-10">&#8220;If a man delivers to his neighbor a donkey, an ox, a sheep, or any animal to keep, and it dies or is injured, or driven away, no man seeing it;</span>
  <span class="verse" title="Exodus 22:11" id="Exodus-22-11">the oath of Yahweh shall be between them both, whether he hasn&#8217;t put his hand to his neighbor&#8217;s goods; and its owner shall accept it, and he shall not make restitution.</span>
  <span class="verse" title="Exodus 22:12" id="Exodus-22-12">But if it is stolen from him, he shall make restitution to its owner.</span>
  <span class="verse" title="Exodus 22:13" id="Exodus-22-13">If it is torn in pieces, let him bring it for evidence. He shall not make good that which was torn.</span>
  <span class="verse" title="Exodus 22:14" id="Exodus-22-14">&#8220;If a man borrows anything of his neighbor&#8217;s, and it is injured, or dies, its owner not being with it, he shall surely make restitution.</span>
  <span class="verse" title="Exodus 22:15" id="Exodus-22-15">If its owner is with it, he shall not make it good. If it is a leased thing, it came for its lease.</span>
  <span class="verse" title="Exodus 22:16" id="Exodus-22-16">&#8220;If a man entices a virgin who isn&#8217;t pledged to be married, and lies with her, he shall surely pay a dowry for her to be his wife.</span>
  <span class="verse" title="Exodus 22:17" id="Exodus-22-17">If her father utterly refuses to give her to him, he shall pay money according to the dowry of virgins.</span>
  <span class="verse" title="Exodus 22:18" id="Exodus-22-18">&#8220;You shall not allow a sorceress to live.</span>
  <span class="verse" title="Exodus 22:19" id="Exodus-22-19">&#8220;Whoever has sex with an animal shall surely be put to death.</span>
  <span class="verse" title="Exodus 22:20" id="Exodus-22-20">&#8220;He who sacrifices to any god, except to Yahweh only, shall be utterly destroyed.</span>
  <span class="verse" title="Exodus 22:21" id="Exodus-22-21">&#8220;You shall not wrong an alien, neither shall you oppress him, for you were aliens in the land of Egypt.</span>
  <span class="verse" title="Exodus 22:22" id="Exodus-22-22">&#8220;You shall not take advantage of any widow or fatherless child.</span>
  <span class="verse" title="Exodus 22:23" id="Exodus-22-23">If you take advantage of them at all, and they cry at all to me, I will surely hear their cry;</span>
  <span class="verse" title="Exodus 22:24" id="Exodus-22-24">and my wrath will grow hot, and I will kill you with the sword; and your wives shall be widows, and your children fatherless.</span>
  <span class="verse" title="Exodus 22:25" id="Exodus-22-25">&#8220;If you lend money to any of my people with you who is poor, you shall not be to him as a creditor; neither shall you charge him interest.</span>
  <span class="verse" title="Exodus 22:26" id="Exodus-22-26">If you take your neighbor&#8217;s garment as collateral, you shall restore it to him before the sun goes down,</span>
  <span class="verse" title="Exodus 22:27" id="Exodus-22-27">for that is his only covering, it is his garment for his skin. What would he sleep in? It will happen, when he cries to me, that I will hear, for I am gracious.</span>
  <span class="verse" title="Exodus 22:28" id="Exodus-22-28">&#8220;You shall not blaspheme God, nor curse a ruler of your people.</span>
  <span class="verse" title="Exodus 22:29" id="Exodus-22-29">&#8220;You shall not delay to offer from your harvest and from the outflow of your presses. &#8220;You shall give the firstborn of your sons to me.</span>
  <span class="verse" title="Exodus 22:30" id="Exodus-22-30">You shall do likewise with your cattle and with your sheep. Seven days it shall be with its mother, then on the eighth day you shall give it to me.</span>
  <span class="verse" title="Exodus 22:31" id="Exodus-22-31">&#8220;You shall be holy men to me, therefore you shall not eat any flesh that is torn by animals in the field. You shall cast it to the dogs.</span>
</div>