<div class="chapter" id="Exodus-023">
  <h2>Exodus 23</h2>
  <span class="verse" title="Exodus 23:1" id="Exodus-23-1">&#8220;You shall not spread a false report. Don&#8217;t join your hand with the wicked to be a malicious witness.</span>
  <span class="verse" title="Exodus 23:2" id="Exodus-23-2">&#8220;You shall not follow a crowd to do evil; neither shall you testify in court to side with a multitude to pervert justice;</span>
  <span class="verse" title="Exodus 23:3" id="Exodus-23-3">neither shall you favor a poor man in his cause.</span>
  <span class="verse" title="Exodus 23:4" id="Exodus-23-4">&#8220;If you meet your enemy&#8217;s ox or his donkey going astray, you shall surely bring it back to him again.</span>
  <span class="verse" title="Exodus 23:5" id="Exodus-23-5">If you see the donkey of him who hates you fallen down under his burden, don&#8217;t leave him, you shall surely help him with it.</span>
  <span class="verse" title="Exodus 23:6" id="Exodus-23-6">&#8220;You shall not deny justice to your poor people in their lawsuits.</span>
  <span class="verse" title="Exodus 23:7" id="Exodus-23-7">&#8220;Keep far from a false charge, and don&#8217;t kill the innocent and righteous: for I will not justify the wicked.</span>
  <span class="verse" title="Exodus 23:8" id="Exodus-23-8">&#8220;You shall take no bribe, for a bribe blinds those who have sight and perverts the words of the righteous.</span>
  <span class="verse" title="Exodus 23:9" id="Exodus-23-9">&#8220;You shall not oppress an alien, for you know the heart of an alien, since you were aliens in the land of Egypt.</span>
  <span class="verse" title="Exodus 23:10" id="Exodus-23-10">&#8220;For six years you shall sow your land, and shall gather in its increase,</span>
  <span class="verse" title="Exodus 23:11" id="Exodus-23-11">but the seventh year you shall let it rest and lie fallow, that the poor of your people may eat; and what they leave the animal of the field shall eat. In the same way, you shall deal with your vineyard and with your olive grove.</span>
  <span class="verse" title="Exodus 23:12" id="Exodus-23-12">&#8220;Six days you shall do your work, and on the seventh day you shall rest, that your ox and your donkey may have rest, and the son of your handmaid, and the alien may be refreshed.</span>
  <span class="verse" title="Exodus 23:13" id="Exodus-23-13">&#8220;Be careful to do all things that I have said to you; and don&#8217;t invoke the name of other gods, neither let them be heard out of your mouth.</span>
  <span class="verse" title="Exodus 23:14" id="Exodus-23-14">&#8220;You shall observe a feast to me three times a year.</span>
  <span class="verse" title="Exodus 23:15" id="Exodus-23-15">You shall observe the feast of unleavened bread. Seven days you shall eat unleavened bread, as I commanded you, at the time appointed in the month Abib (for in it you came out from Egypt), and no one shall appear before me empty.</span>
  <span class="verse" title="Exodus 23:16" id="Exodus-23-16">And the feast of harvest, the first fruits of your labors, which you sow in the field: and the feast of harvest, at the end of the year, when you gather in your labors out of the field.</span>
  <span class="verse" title="Exodus 23:17" id="Exodus-23-17">Three times in the year all your males shall appear before the Lord Yahweh.</span>
  <span class="verse" title="Exodus 23:18" id="Exodus-23-18">&#8220;You shall not offer the blood of my sacrifice with leavened bread, neither shall the fat of my feast remain all night until the morning.</span>
  <span class="verse" title="Exodus 23:19" id="Exodus-23-19">The first of the first fruits of your ground you shall bring into the house of Yahweh your God. &#8220;You shall not boil a young goat in its mother&#8217;s milk.</span>
  <span class="verse" title="Exodus 23:20" id="Exodus-23-20">&#8220;Behold, I send an angel before you, to keep you by the way, and to bring you into the place which I have prepared.</span>
  <span class="verse" title="Exodus 23:21" id="Exodus-23-21">Pay attention to him, and listen to his voice. Don&#8217;t provoke him, for he will not pardon your disobedience, for my name is in him.</span>
  <span class="verse" title="Exodus 23:22" id="Exodus-23-22">But if you indeed listen to his voice, and do all that I speak, then I will be an enemy to your enemies, and an adversary to your adversaries.</span>
  <span class="verse" title="Exodus 23:23" id="Exodus-23-23">For my angel shall go before you, and bring you in to the Amorite, the Hittite, the Perizzite, the Canaanite, the Hivite, and the Jebusite; and I will cut them off.</span>
  <span class="verse" title="Exodus 23:24" id="Exodus-23-24">You shall not bow down to their gods, nor serve them, nor follow their practices, but you shall utterly overthrow them and demolish their pillars.</span>
  <span class="verse" title="Exodus 23:25" id="Exodus-23-25">You shall serve Yahweh your God, and he will bless your bread and your water, and I will take sickness away from your midst.</span>
  <span class="verse" title="Exodus 23:26" id="Exodus-23-26">No one will miscarry or be barren in your land. I will fulfill the number of your days.</span>
  <span class="verse" title="Exodus 23:27" id="Exodus-23-27">I will send my terror before you, and will confuse all the people to whom you come, and I will make all your enemies turn their backs to you.</span>
  <span class="verse" title="Exodus 23:28" id="Exodus-23-28">I will send the hornet before you, which will drive out the Hivite, the Canaanite, and the Hittite, from before you.</span>
  <span class="verse" title="Exodus 23:29" id="Exodus-23-29">I will not drive them out from before you in one year, lest the land become desolate, and the animals of the field multiply against you.</span>
  <span class="verse" title="Exodus 23:30" id="Exodus-23-30">Little by little I will drive them out from before you, until you have increased and inherit the land.</span>
  <span class="verse" title="Exodus 23:31" id="Exodus-23-31">I will set your border from the Red Sea even to the sea of the Philistines, and from the wilderness to the River; for I will deliver the inhabitants of the land into your hand, and you shall drive them out before you.</span>
  <span class="verse" title="Exodus 23:32" id="Exodus-23-32">You shall make no covenant with them, nor with their gods.</span>
  <span class="verse" title="Exodus 23:33" id="Exodus-23-33">They shall not dwell in your land, lest they make you sin against me, for if you serve their gods, it will surely be a snare to you.&#8221;</span>
</div>