<div class="chapter" id="Exodus-024">
  <h2>Exodus 24</h2>
  <span class="verse" title="Exodus 24:1" id="Exodus-24-1">He said to Moses, &#8220;Come up to Yahweh, you, and Aaron, Nadab, and Abihu, and seventy of the elders of Israel; and worship from a distance.</span>
  <span class="verse" title="Exodus 24:2" id="Exodus-24-2">Moses alone shall come near to Yahweh, but they shall not come near, neither shall the people go up with him.&#8221;</span>
  <span class="verse" title="Exodus 24:3" id="Exodus-24-3">Moses came and told the people all the words of Yahweh, and all the ordinances; and all the people answered with one voice, and said, &#8220;All the words which Yahweh has spoken will we do.&#8221;</span>
  <span class="verse" title="Exodus 24:4" id="Exodus-24-4">Moses wrote all the words of Yahweh, and rose up early in the morning, and built an altar under the mountain, and twelve pillars for the twelve tribes of Israel.</span>
  <span class="verse" title="Exodus 24:5" id="Exodus-24-5">He sent young men of the children of Israel, who offered burnt offerings and sacrificed peace offerings of cattle to Yahweh.</span>
  <span class="verse" title="Exodus 24:6" id="Exodus-24-6">Moses took half of the blood and put it in basins, and half of the blood he sprinkled on the altar.</span>
  <span class="verse" title="Exodus 24:7" id="Exodus-24-7">He took the book of the covenant and read it in the hearing of the people, and they said, &#8220;All that Yahweh has spoken will we do, and be obedient.&#8221;</span>
  <span class="verse" title="Exodus 24:8" id="Exodus-24-8">Moses took the blood, and sprinkled it on the people, and said, &#8220;Look, this is the blood of the covenant, which Yahweh has made with you concerning all these words.&#8221;</span>
  <span class="verse" title="Exodus 24:9" id="Exodus-24-9">Then Moses, Aaron, Nadab, Abihu, and seventy of the elders of Israel went up.</span>
  <span class="verse" title="Exodus 24:10" id="Exodus-24-10">They saw the God of Israel. Under his feet was like a paved work of sapphire stone, like the skies for clearness.</span>
  <span class="verse" title="Exodus 24:11" id="Exodus-24-11">He didn&#8217;t lay his hand on the nobles of the children of Israel. They saw God, and ate and drank.</span>
  <span class="verse" title="Exodus 24:12" id="Exodus-24-12">Yahweh said to Moses, &#8220;Come up to me on the mountain, and stay here, and I will give you the tables of stone with the law and the commands that I have written, that you may teach them.&#8221;</span>
  <span class="verse" title="Exodus 24:13" id="Exodus-24-13">Moses rose up with Joshua, his servant, and Moses went up onto God&#8217;s Mountain.</span>
  <span class="verse" title="Exodus 24:14" id="Exodus-24-14">He said to the elders, &#8220;Wait here for us, until we come again to you. Behold, Aaron and Hur are with you. Whoever is involved in a dispute can go to them.&#8221;</span>
  <span class="verse" title="Exodus 24:15" id="Exodus-24-15">Moses went up on the mountain, and the cloud covered the mountain.</span>
  <span class="verse" title="Exodus 24:16" id="Exodus-24-16">The glory of Yahweh settled on Mount Sinai, and the cloud covered it six days. The seventh day he called to Moses out of the midst of the cloud.</span>
  <span class="verse" title="Exodus 24:17" id="Exodus-24-17">The appearance of the glory of Yahweh was like devouring fire on the top of the mountain in the eyes of the children of Israel.</span>
  <span class="verse" title="Exodus 24:18" id="Exodus-24-18">Moses entered into the midst of the cloud, and went up on the mountain; and Moses was on the mountain forty days and forty nights.</span>
</div>