<div class="chapter" id="Exodus-025">
  <h2>Exodus 25</h2>
  <span class="verse" title="Exodus 25:1" id="Exodus-25-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Exodus 25:2" id="Exodus-25-2">&#8220;Speak to the children of Israel, that they take an offering for me. From everyone whose heart makes him willing you shall take my offering.</span>
  <span class="verse" title="Exodus 25:3" id="Exodus-25-3">This is the offering which you shall take from them: gold, silver, brass,</span>
  <span class="verse" title="Exodus 25:4" id="Exodus-25-4">blue, purple, scarlet, fine linen, goats&#8217; hair,</span>
  <span class="verse" title="Exodus 25:5" id="Exodus-25-5">rams&#8217; skins dyed red, sea cow hides, acacia wood,</span>
  <span class="verse" title="Exodus 25:6" id="Exodus-25-6">oil for the light, spices for the anointing oil and for the sweet incense,</span>
  <span class="verse" title="Exodus 25:7" id="Exodus-25-7">onyx stones, and stones to be set for the ephod and for the breastplate.</span>
  <span class="verse" title="Exodus 25:8" id="Exodus-25-8">Let them make me a sanctuary, that I may dwell among them.</span>
  <span class="verse" title="Exodus 25:9" id="Exodus-25-9">According to all that I show you, the pattern of the tabernacle, and the pattern of all of its furniture, even so you shall make it.</span>
  <span class="verse" title="Exodus 25:10" id="Exodus-25-10">&#8220;They shall make an ark of acacia wood. Its length shall be two and a half cubits, its breadth a cubit and a half, and a cubit and a half its height.</span>
  <span class="verse" title="Exodus 25:11" id="Exodus-25-11">You shall overlay it with pure gold. You shall overlay it inside and outside, and you shall make a gold molding around it.</span>
  <span class="verse" title="Exodus 25:12" id="Exodus-25-12">You shall cast four rings of gold for it, and put them in its four feet. Two rings shall be on the one side of it, and two rings on the other side of it.</span>
  <span class="verse" title="Exodus 25:13" id="Exodus-25-13">You shall make poles of acacia wood, and overlay them with gold.</span>
  <span class="verse" title="Exodus 25:14" id="Exodus-25-14">You shall put the poles into the rings on the sides of the ark to carry the ark.</span>
  <span class="verse" title="Exodus 25:15" id="Exodus-25-15">The poles shall be in the rings of the ark. They shall not be taken from it.</span>
  <span class="verse" title="Exodus 25:16" id="Exodus-25-16">You shall put the testimony which I shall give you into the ark.</span>
  <span class="verse" title="Exodus 25:17" id="Exodus-25-17">You shall make a mercy seat of pure gold. Two and a half cubits shall be its length, and a cubit and a half its breadth.</span>
  <span class="verse" title="Exodus 25:18" id="Exodus-25-18">You shall make two cherubim of hammered gold. You shall make them at the two ends of the mercy seat.</span>
  <span class="verse" title="Exodus 25:19" id="Exodus-25-19">Make one cherub at the one end, and one cherub at the other end. You shall make the cherubim on its two ends of one piece with the mercy seat.</span>
  <span class="verse" title="Exodus 25:20" id="Exodus-25-20">The cherubim shall spread out their wings upward, covering the mercy seat with their wings, with their faces toward one another. The faces of the cherubim shall be toward the mercy seat.</span>
  <span class="verse" title="Exodus 25:21" id="Exodus-25-21">You shall put the mercy seat on top of the ark, and in the ark you shall put the testimony that I will give you.</span>
  <span class="verse" title="Exodus 25:22" id="Exodus-25-22">There I will meet with you, and I will tell you from above the mercy seat, from between the two cherubim which are on the ark of the testimony, all that I command you for the children of Israel.</span>
  <span class="verse" title="Exodus 25:23" id="Exodus-25-23">&#8220;You shall make a table of acacia wood. Two cubits shall be its length, and a cubit its breadth, and one and a half cubits its height.</span>
  <span class="verse" title="Exodus 25:24" id="Exodus-25-24">You shall overlay it with pure gold, and make a gold molding around it.</span>
  <span class="verse" title="Exodus 25:25" id="Exodus-25-25">You shall make a rim of a handbreadth around it. You shall make a golden molding on its rim around it.</span>
  <span class="verse" title="Exodus 25:26" id="Exodus-25-26">You shall make four rings of gold for it, and put the rings in the four corners that are on its four feet.</span>
  <span class="verse" title="Exodus 25:27" id="Exodus-25-27">the rings shall be close to the rim, for places for the poles to carry the table.</span>
  <span class="verse" title="Exodus 25:28" id="Exodus-25-28">You shall make the poles of acacia wood, and overlay them with gold, that the table may be carried with them.</span>
  <span class="verse" title="Exodus 25:29" id="Exodus-25-29">You shall make its dishes, its spoons, its ladles, and its bowls to pour out offerings with. You shall make them of pure gold.</span>
  <span class="verse" title="Exodus 25:30" id="Exodus-25-30">You shall set bread of the presence on the table before me always.</span>
  <span class="verse" title="Exodus 25:31" id="Exodus-25-31">&#8220;You shall make a lampstand of pure gold. Of hammered work shall the lampstand be made, even its base, its shaft, its cups, its buds, and its flowers, shall be of one piece with it.</span>
  <span class="verse" title="Exodus 25:32" id="Exodus-25-32">There shall be six branches going out of its sides: three branches of the lampstand out of its one side, and three branches of the lampstand out of its other side;</span>
  <span class="verse" title="Exodus 25:33" id="Exodus-25-33">three cups made like almond blossoms in one branch, a bud and a flower; and three cups made like almond blossoms in the other branch, a bud and a flower, so for the six branches going out of the lampstand;</span>
  <span class="verse" title="Exodus 25:34" id="Exodus-25-34">and in the lampstand four cups made like almond blossoms, its buds and its flowers;</span>
  <span class="verse" title="Exodus 25:35" id="Exodus-25-35">and a bud under two branches of one piece with it, and a bud under two branches of one piece with it, and a bud under two branches of one piece with it, for the six branches going out of the lampstand.</span>
  <span class="verse" title="Exodus 25:36" id="Exodus-25-36">Their buds and their branches shall be of one piece with it, all of it one beaten work of pure gold.</span>
  <span class="verse" title="Exodus 25:37" id="Exodus-25-37">You shall make its lamps seven, and they shall light its lamps to give light to the space in front of it.</span>
  <span class="verse" title="Exodus 25:38" id="Exodus-25-38">Its snuffers and its snuff dishes shall be of pure gold.</span>
  <span class="verse" title="Exodus 25:39" id="Exodus-25-39">It shall be made of a talent of pure gold, with all these accessories.</span>
  <span class="verse" title="Exodus 25:40" id="Exodus-25-40">See that you make them after their pattern, which has been shown to you on the mountain.</span>
</div>