<div class="chapter" id="Exodus-026">
  <h2>Exodus 26</h2>
  <span class="verse" title="Exodus 26:1" id="Exodus-26-1">&#8220;Moreover you shall make the tabernacle with ten curtains; of fine twined linen, and blue, and purple, and scarlet, with cherubim. The work of the skillful workman you shall make them.</span>
  <span class="verse" title="Exodus 26:2" id="Exodus-26-2">The length of each curtain shall be twenty-eight cubits, and the breadth of each curtain four cubits: all the curtains shall have one measure.</span>
  <span class="verse" title="Exodus 26:3" id="Exodus-26-3">Five curtains shall be coupled together one to another; and the other five curtains shall be coupled one to another.</span>
  <span class="verse" title="Exodus 26:4" id="Exodus-26-4">You shall make loops of blue on the edge of the one curtain from the edge in the coupling; and likewise you shall make in the edge of the curtain that is outmost in the second coupling.</span>
  <span class="verse" title="Exodus 26:5" id="Exodus-26-5">You shall make fifty loops in the one curtain, and you shall make fifty loops in the edge of the curtain that is in the second coupling. The loops shall be opposite one to another.</span>
  <span class="verse" title="Exodus 26:6" id="Exodus-26-6">You shall make fifty clasps of gold, and couple the curtains one to another with the clasps: and the tabernacle shall be a unit.</span>
  <span class="verse" title="Exodus 26:7" id="Exodus-26-7">&#8220;You shall make curtains of goats&#8217; hair for a covering over the tabernacle. You shall make them eleven curtains.</span>
  <span class="verse" title="Exodus 26:8" id="Exodus-26-8">The length of each curtain shall be thirty cubits, and the breadth of each curtain four cubits: the eleven curtains shall have one measure.</span>
  <span class="verse" title="Exodus 26:9" id="Exodus-26-9">You shall couple five curtains by themselves, and six curtains by themselves, and shall double over the sixth curtain in the forefront of the tent.</span>
  <span class="verse" title="Exodus 26:10" id="Exodus-26-10">You shall make fifty loops on the edge of the one curtain that is outmost in the coupling, and fifty loops on the edge of the curtain which is outmost in the second coupling.</span>
  <span class="verse" title="Exodus 26:11" id="Exodus-26-11">You shall make fifty clasps of brass, and put the clasps into the loops, and couple the tent together, that it may be one.</span>
  <span class="verse" title="Exodus 26:12" id="Exodus-26-12">The overhanging part that remains of the curtains of the tent, the half curtain that remains, shall hang over the back of the tabernacle.</span>
  <span class="verse" title="Exodus 26:13" id="Exodus-26-13">The cubit on the one side, and the cubit on the other side, of that which remains in the length of the curtains of the tent, shall hang over the sides of the tabernacle on this side and on that side, to cover it.</span>
  <span class="verse" title="Exodus 26:14" id="Exodus-26-14">You shall make a covering for the tent of rams&#8217; skins dyed red, and a covering of sea cow hides above.</span>
  <span class="verse" title="Exodus 26:15" id="Exodus-26-15">&#8220;You shall make the boards for the tabernacle of acacia wood, standing up.</span>
  <span class="verse" title="Exodus 26:16" id="Exodus-26-16">Ten cubits shall be the length of a board, and one and a half cubits the breadth of each board.</span>
  <span class="verse" title="Exodus 26:17" id="Exodus-26-17">There shall be two tenons in each board, joined to one another: thus you shall make for all the boards of the tabernacle.</span>
  <span class="verse" title="Exodus 26:18" id="Exodus-26-18">You shall make the boards for the tabernacle, twenty boards for the south side southward.</span>
  <span class="verse" title="Exodus 26:19" id="Exodus-26-19">You shall make forty sockets of silver under the twenty boards; two sockets under one board for its two tenons, and two sockets under another board for its two tenons.</span>
  <span class="verse" title="Exodus 26:20" id="Exodus-26-20">For the second side of the tabernacle, on the north side, twenty boards,</span>
  <span class="verse" title="Exodus 26:21" id="Exodus-26-21">and their forty sockets of silver; two sockets under one board, and two sockets under another board.</span>
  <span class="verse" title="Exodus 26:22" id="Exodus-26-22">For the far part of the tabernacle westward you shall make six boards.</span>
  <span class="verse" title="Exodus 26:23" id="Exodus-26-23">You shall make two boards for the corners of the tabernacle in the far part.</span>
  <span class="verse" title="Exodus 26:24" id="Exodus-26-24">They shall be double beneath, and in the same way they shall be whole to its top to one ring: thus shall it be for them both; they shall be for the two corners.</span>
  <span class="verse" title="Exodus 26:25" id="Exodus-26-25">There shall be eight boards, and their sockets of silver, sixteen sockets; two sockets under one board, and two sockets under another board.</span>
  <span class="verse" title="Exodus 26:26" id="Exodus-26-26">&#8220;You shall make bars of acacia wood: five for the boards of the one side of the tabernacle,</span>
  <span class="verse" title="Exodus 26:27" id="Exodus-26-27">and five bars for the boards of the other side of the tabernacle, and five bars for the boards of the side of the tabernacle, for the far part westward.</span>
  <span class="verse" title="Exodus 26:28" id="Exodus-26-28">The middle bar in the midst of the boards shall pass through from end to end.</span>
  <span class="verse" title="Exodus 26:29" id="Exodus-26-29">You shall overlay the boards with gold, and make their rings of gold for places for the bars: and you shall overlay the bars with gold.</span>
  <span class="verse" title="Exodus 26:30" id="Exodus-26-30">You shall set up the tabernacle according to the way that it was shown to you on the mountain.</span>
  <span class="verse" title="Exodus 26:31" id="Exodus-26-31">&#8220;You shall make a veil of blue, and purple, and scarlet, and fine twined linen, with cherubim. The work of the skillful workman shall it be made.</span>
  <span class="verse" title="Exodus 26:32" id="Exodus-26-32">You shall hang it on four pillars of acacia overlaid with gold; their hooks shall be of gold, on four sockets of silver.</span>
  <span class="verse" title="Exodus 26:33" id="Exodus-26-33">You shall hang up the veil under the clasps, and shall bring the ark of the testimony in there within the veil: and the veil shall separate the holy place from the most holy for you.</span>
  <span class="verse" title="Exodus 26:34" id="Exodus-26-34">You shall put the mercy seat on the ark of the testimony in the most holy place.</span>
  <span class="verse" title="Exodus 26:35" id="Exodus-26-35">You shall set the table outside the veil, and the lampstand over against the table on the side of the tabernacle toward the south: and you shall put the table on the north side.</span>
  <span class="verse" title="Exodus 26:36" id="Exodus-26-36">&#8220;You shall make a screen for the door of the Tent, of blue, and purple, and scarlet, and fine twined linen, the work of the embroiderer.</span>
  <span class="verse" title="Exodus 26:37" id="Exodus-26-37">You shall make for the screen five pillars of acacia, and overlay them with gold: their hooks shall be of gold: and you shall cast five sockets of brass for them.</span>
</div>