<div class="chapter" id="Exodus-027">
  <h2>Exodus 27</h2>
  <span class="verse" title="Exodus 27:1" id="Exodus-27-1">&#8220;You shall make the altar of acacia wood, five cubits long, and five cubits broad; the altar shall be foursquare: and its height shall be three cubits.</span>
  <span class="verse" title="Exodus 27:2" id="Exodus-27-2">You shall make its horns on its four corners; its horns shall be of one piece with it; and you shall overlay it with brass.</span>
  <span class="verse" title="Exodus 27:3" id="Exodus-27-3">You shall make its pots to take away its ashes, its shovels, its basins, its flesh hooks, and its fire pans: all its vessels you shall make of brass.</span>
  <span class="verse" title="Exodus 27:4" id="Exodus-27-4">You shall make a grating for it of network of brass: and on the net you shall make four bronze rings in its four corners.</span>
  <span class="verse" title="Exodus 27:5" id="Exodus-27-5">You shall put it under the ledge around the altar beneath, that the net may reach halfway up the altar.</span>
  <span class="verse" title="Exodus 27:6" id="Exodus-27-6">You shall make poles for the altar, poles of acacia wood, and overlay them with brass.</span>
  <span class="verse" title="Exodus 27:7" id="Exodus-27-7">Its poles shall be put into the rings, and the poles shall be on the two sides of the altar, when carrying it.</span>
  <span class="verse" title="Exodus 27:8" id="Exodus-27-8">You shall make it with hollow planks. They shall make it as it has been shown you on the mountain.</span>
  <span class="verse" title="Exodus 27:9" id="Exodus-27-9">&#8220;You shall make the court of the tabernacle: for the south side southward there shall be hangings for the court of fine twined linen one hundred cubits long for one side:</span>
  <span class="verse" title="Exodus 27:10" id="Exodus-27-10">and its pillars shall be twenty, and their sockets twenty, of brass; the hooks of the pillars and their fillets shall be of silver.</span>
  <span class="verse" title="Exodus 27:11" id="Exodus-27-11">Likewise for the north side in length there shall be hangings one hundred cubits long, and its pillars twenty, and their sockets twenty, of brass; the hooks of the pillars, and their fillets, of silver.</span>
  <span class="verse" title="Exodus 27:12" id="Exodus-27-12">For the breadth of the court on the west side shall be hangings of fifty cubits; their pillars ten, and their sockets ten.</span>
  <span class="verse" title="Exodus 27:13" id="Exodus-27-13">The breadth of the court on the east side eastward shall be fifty cubits.</span>
  <span class="verse" title="Exodus 27:14" id="Exodus-27-14">The hangings for the one side of the gate shall be fifteen cubits; their pillars three, and their sockets three.</span>
  <span class="verse" title="Exodus 27:15" id="Exodus-27-15">For the other side shall be hangings of fifteen cubits; their pillars three, and their sockets three.</span>
  <span class="verse" title="Exodus 27:16" id="Exodus-27-16">For the gate of the court shall be a screen of twenty cubits, of blue, and purple, and scarlet, and fine twined linen, the work of the embroiderer; their pillars four, and their sockets four.</span>
  <span class="verse" title="Exodus 27:17" id="Exodus-27-17">All the pillars of the court around shall be filleted with silver; their hooks of silver, and their sockets of brass.</span>
  <span class="verse" title="Exodus 27:18" id="Exodus-27-18">The length of the court shall be one hundred cubits, and the breadth fifty every where, and the height five cubits, of fine twined linen, and their sockets of brass.</span>
  <span class="verse" title="Exodus 27:19" id="Exodus-27-19">All the instruments of the tabernacle in all its service, and all its pins, and all the pins of the court, shall be of brass.</span>
  <span class="verse" title="Exodus 27:20" id="Exodus-27-20">&#8220;You shall command the children of Israel, that they bring to you pure olive oil beaten for the light, to cause a lamp to burn continually.</span>
  <span class="verse" title="Exodus 27:21" id="Exodus-27-21">In the Tent of Meeting, outside the veil which is before the testimony, Aaron and his sons shall keep it in order from evening to morning before Yahweh: it shall be a statute forever throughout their generations on the behalf of the children of Israel.</span>
</div>