<div class="chapter" id="Exodus-029">
  <h2>Exodus 29</h2>
  <span class="verse" title="Exodus 29:1" id="Exodus-29-1">&#8220;This is the thing that you shall do to them to make them holy, to minister to me in the priest&#8217;s office: take one young bull and two rams without blemish,</span>
  <span class="verse" title="Exodus 29:2" id="Exodus-29-2">unleavened bread, unleavened cakes mixed with oil, and unleavened wafers anointed with oil: you shall make them of fine wheat flour.</span>
  <span class="verse" title="Exodus 29:3" id="Exodus-29-3">You shall put them into one basket, and bring them in the basket, with the bull and the two rams.</span>
  <span class="verse" title="Exodus 29:4" id="Exodus-29-4">You shall bring Aaron and his sons to the door of the Tent of Meeting, and shall wash them with water.</span>
  <span class="verse" title="Exodus 29:5" id="Exodus-29-5">You shall take the garments, and put on Aaron the coat, the robe of the ephod, the ephod, and the breastplate, and clothe him with the skillfully woven band of the ephod;</span>
  <span class="verse" title="Exodus 29:6" id="Exodus-29-6">and you shall set the turban on his head, and put the holy crown on the turban.</span>
  <span class="verse" title="Exodus 29:7" id="Exodus-29-7">Then you shall take the anointing oil, and pour it on his head, and anoint him.</span>
  <span class="verse" title="Exodus 29:8" id="Exodus-29-8">You shall bring his sons, and put coats on them.</span>
  <span class="verse" title="Exodus 29:9" id="Exodus-29-9">You shall clothe them with belts, Aaron and his sons, and bind headbands on them: and they shall have the priesthood by a perpetual statute: and you shall consecrate Aaron and his sons.</span>
  <span class="verse" title="Exodus 29:10" id="Exodus-29-10">&#8220;You shall bring the bull before the Tent of Meeting: and Aaron and his sons shall lay their hands on the head of the bull.</span>
  <span class="verse" title="Exodus 29:11" id="Exodus-29-11">You shall kill the bull before Yahweh, at the door of the Tent of Meeting.</span>
  <span class="verse" title="Exodus 29:12" id="Exodus-29-12">You shall take of the blood of the bull, and put it on the horns of the altar with your finger; and you shall pour out all the blood at the base of the altar.</span>
  <span class="verse" title="Exodus 29:13" id="Exodus-29-13">You shall take all the fat that covers the innards, the cover of the liver, the two kidneys, and the fat that is on them, and burn them on the altar.</span>
  <span class="verse" title="Exodus 29:14" id="Exodus-29-14">But the flesh of the bull, and its skin, and its dung, you shall burn with fire outside of the camp: it is a sin offering.</span>
  <span class="verse" title="Exodus 29:15" id="Exodus-29-15">&#8220;You shall also take the one ram; and Aaron and his sons shall lay their hands on the head of the ram.</span>
  <span class="verse" title="Exodus 29:16" id="Exodus-29-16">You shall kill the ram, and you shall take its blood, and sprinkle it around on the altar.</span>
  <span class="verse" title="Exodus 29:17" id="Exodus-29-17">You shall cut the ram into its pieces, and wash its innards, and its legs, and put them with its pieces, and with its head.</span>
  <span class="verse" title="Exodus 29:18" id="Exodus-29-18">You shall burn the whole ram on the altar: it is a burnt offering to Yahweh; it is a pleasant aroma, an offering made by fire to Yahweh.</span>
  <span class="verse" title="Exodus 29:19" id="Exodus-29-19">&#8220;You shall take the other ram; and Aaron and his sons shall lay their hands on the head of the ram.</span>
  <span class="verse" title="Exodus 29:20" id="Exodus-29-20">Then you shall kill the ram, and take some of its blood, and put it on the tip of the right ear of Aaron, and on the tip of the right ear of his sons, and on the thumb of their right hand, and on the big toe of their right foot, and sprinkle the blood around on the altar.</span>
  <span class="verse" title="Exodus 29:21" id="Exodus-29-21">You shall take of the blood that is on the altar, and of the anointing oil, and sprinkle it on Aaron, and on his garments, and on his sons, and on the garments of his sons with him: and he shall be made holy, and his garments, and his sons, and his sons&#8217; garments with him.</span>
  <span class="verse" title="Exodus 29:22" id="Exodus-29-22">Also you shall take some of the ram&#8217;s fat, the fat tail, the fat that covers the innards, the cover of the liver, the two kidneys, the fat that is on them, and the right thigh (for it is a ram of consecration),</span>
  <span class="verse" title="Exodus 29:23" id="Exodus-29-23">and one loaf of bread, one cake of oiled bread, and one wafer out of the basket of unleavened bread that is before Yahweh.</span>
  <span class="verse" title="Exodus 29:24" id="Exodus-29-24">You shall put all of this in Aaron&#8217;s hands, and in his sons&#8217; hands, and shall wave them for a wave offering before Yahweh.</span>
  <span class="verse" title="Exodus 29:25" id="Exodus-29-25">You shall take them from their hands, and burn them on the altar on the burnt offering, for a pleasant aroma before Yahweh: it is an offering made by fire to Yahweh.</span>
  <span class="verse" title="Exodus 29:26" id="Exodus-29-26">&#8220;You shall take the breast of Aaron&#8217;s ram of consecration, and wave it for a wave offering before Yahweh: and it shall be your portion.</span>
  <span class="verse" title="Exodus 29:27" id="Exodus-29-27">You shall sanctify the breast of the wave offering, and the thigh of the wave offering, which is waved, and which is heaved up, of the ram of consecration, even of that which is for Aaron, and of that which is for his sons:</span>
  <span class="verse" title="Exodus 29:28" id="Exodus-29-28">and it shall be for Aaron and his sons as their portion forever from the children of Israel; for it is a wave offering: and it shall be a wave offering from the children of Israel of the sacrifices of their peace offerings, even their wave offering to Yahweh.</span>
  <span class="verse" title="Exodus 29:29" id="Exodus-29-29">&#8220;The holy garments of Aaron shall be for his sons after him, to be anointed in them, and to be consecrated in them.</span>
  <span class="verse" title="Exodus 29:30" id="Exodus-29-30">Seven days shall the son who is priest in his place put them on, when he comes into the Tent of Meeting to minister in the holy place.</span>
  <span class="verse" title="Exodus 29:31" id="Exodus-29-31">&#8220;You shall take the ram of consecration, and boil its flesh in a holy place.</span>
  <span class="verse" title="Exodus 29:32" id="Exodus-29-32">Aaron and his sons shall eat the flesh of the ram, and the bread that is in the basket, at the door of the Tent of Meeting.</span>
  <span class="verse" title="Exodus 29:33" id="Exodus-29-33">They shall eat those things with which atonement was made, to consecrate and sanctify them: but a stranger shall not eat of it, because they are holy.</span>
  <span class="verse" title="Exodus 29:34" id="Exodus-29-34">If anything of the flesh of the consecration, or of the bread, remains to the morning, then you shall burn the remainder with fire: it shall not be eaten, because it is holy.</span>
  <span class="verse" title="Exodus 29:35" id="Exodus-29-35">&#8220;You shall do so to Aaron, and to his sons, according to all that I have commanded you. You shall consecrate them seven days.</span>
  <span class="verse" title="Exodus 29:36" id="Exodus-29-36">Every day you shall offer the bull of sin offering for atonement: and you shall cleanse the altar, when you make atonement for it; and you shall anoint it, to sanctify it.</span>
  <span class="verse" title="Exodus 29:37" id="Exodus-29-37">Seven days you shall make atonement for the altar, and sanctify it: and the altar shall be most holy; whatever touches the altar shall be holy.</span>
  <span class="verse" title="Exodus 29:38" id="Exodus-29-38">&#8220;Now this is that which you shall offer on the altar: two lambs a year old day by day continually.</span>
  <span class="verse" title="Exodus 29:39" id="Exodus-29-39">The one lamb you shall offer in the morning; and the other lamb you shall offer at evening:</span>
  <span class="verse" title="Exodus 29:40" id="Exodus-29-40">and with the one lamb a tenth part of an ephah of fine flour mixed with the fourth part of a hin of beaten oil, and the fourth part of a hin of wine for a drink offering.</span>
  <span class="verse" title="Exodus 29:41" id="Exodus-29-41">The other lamb you shall offer at evening, and shall do to it according to the meal offering of the morning, and according to its drink offering, for a pleasant aroma, an offering made by fire to Yahweh.</span>
  <span class="verse" title="Exodus 29:42" id="Exodus-29-42">It shall be a continual burnt offering throughout your generations at the door of the Tent of Meeting before Yahweh, where I will meet with you, to speak there to you.</span>
  <span class="verse" title="Exodus 29:43" id="Exodus-29-43">There I will meet with the children of Israel; and the place shall be sanctified by my glory.</span>
  <span class="verse" title="Exodus 29:44" id="Exodus-29-44">I will sanctify the Tent of Meeting and the altar: Aaron also and his sons I will sanctify, to minister to me in the priest&#8217;s office.</span>
  <span class="verse" title="Exodus 29:45" id="Exodus-29-45">I will dwell among the children of Israel, and will be their God.</span>
  <span class="verse" title="Exodus 29:46" id="Exodus-29-46">They shall know that I am Yahweh their God, who brought them forth out of the land of Egypt, that I might dwell among them: I am Yahweh their God.</span>
</div>