<div class="chapter" id="Exodus-030">
  <h2>Exodus 30</h2>
  <span class="verse" title="Exodus 30:1" id="Exodus-30-1">&#8220;You shall make an altar to burn incense on. You shall make it of acacia wood.</span>
  <span class="verse" title="Exodus 30:2" id="Exodus-30-2">Its length shall be a cubit, and its breadth a cubit. It shall be square, and its height shall be two cubits. Its horns shall be of one piece with it.</span>
  <span class="verse" title="Exodus 30:3" id="Exodus-30-3">You shall overlay it with pure gold, its top, its sides around it, and its horns; and you shall make a gold molding around it.</span>
  <span class="verse" title="Exodus 30:4" id="Exodus-30-4">You shall make two golden rings for it under its molding; on its two ribs, on its two sides you shall make them; and they shall be for places for poles with which to bear it.</span>
  <span class="verse" title="Exodus 30:5" id="Exodus-30-5">You shall make the poles of acacia wood, and overlay them with gold.</span>
  <span class="verse" title="Exodus 30:6" id="Exodus-30-6">You shall put it before the veil that is by the ark of the testimony, before the mercy seat that is over the testimony, where I will meet with you.</span>
  <span class="verse" title="Exodus 30:7" id="Exodus-30-7">Aaron shall burn incense of sweet spices on it every morning. When he tends the lamps, he shall burn it.</span>
  <span class="verse" title="Exodus 30:8" id="Exodus-30-8">When Aaron lights the lamps at evening, he shall burn it, a perpetual incense before Yahweh throughout your generations.</span>
  <span class="verse" title="Exodus 30:9" id="Exodus-30-9">You shall offer no strange incense on it, nor burnt offering, nor meal offering; and you shall pour no drink offering on it.</span>
  <span class="verse" title="Exodus 30:10" id="Exodus-30-10">Aaron shall make atonement on its horns once in the year; with the blood of the sin offering of atonement once in the year he shall make atonement for it throughout your generations. It is most holy to Yahweh.&#8221;</span>
  <span class="verse" title="Exodus 30:11" id="Exodus-30-11">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Exodus 30:12" id="Exodus-30-12">&#8220;When you take a census of the children of Israel, according to those who are numbered among them, then each man shall give a ransom for his soul to Yahweh, when you number them; that there be no plague among them when you number them.</span>
  <span class="verse" title="Exodus 30:13" id="Exodus-30-13">They shall give this, everyone who passes over to those who are numbered, half a shekel after the shekel of the sanctuary; (the shekel is twenty gerahs;) half a shekel for an offering to Yahweh.</span>
  <span class="verse" title="Exodus 30:14" id="Exodus-30-14">Everyone who passes over to those who are numbered, from twenty years old and upward, shall give the offering to Yahweh.</span>
  <span class="verse" title="Exodus 30:15" id="Exodus-30-15">The rich shall not give more, and the poor shall not give less, than the half shekel, when they give the offering of Yahweh, to make atonement for your souls.</span>
  <span class="verse" title="Exodus 30:16" id="Exodus-30-16">You shall take the atonement money from the children of Israel, and shall appoint it for the service of the Tent of Meeting; that it may be a memorial for the children of Israel before Yahweh, to make atonement for your souls.&#8221;</span>
  <span class="verse" title="Exodus 30:17" id="Exodus-30-17">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Exodus 30:18" id="Exodus-30-18">&#8220;You shall also make a basin of brass, and its base of brass, in which to wash. You shall put it between the Tent of Meeting and the altar, and you shall put water in it.</span>
  <span class="verse" title="Exodus 30:19" id="Exodus-30-19">Aaron and his sons shall wash their hands and their feet in it.</span>
  <span class="verse" title="Exodus 30:20" id="Exodus-30-20">When they go into the Tent of Meeting, they shall wash with water, that they not die; or when they come near to the altar to minister, to burn an offering made by fire to Yahweh.</span>
  <span class="verse" title="Exodus 30:21" id="Exodus-30-21">So they shall wash their hands and their feet, that they not die: and it shall be a statute forever to them, even to him and to his descendants throughout their generations.&#8221;</span>
  <span class="verse" title="Exodus 30:22" id="Exodus-30-22">Moreover Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Exodus 30:23" id="Exodus-30-23">&#8220;Also take fine spices: of liquid myrrh, five hundred shekels; and of fragrant cinnamon half as much, even two hundred and fifty; and of fragrant cane, two hundred and fifty;</span>
  <span class="verse" title="Exodus 30:24" id="Exodus-30-24">and of cassia five hundred, after the shekel of the sanctuary; and a hin of olive oil.</span>
  <span class="verse" title="Exodus 30:25" id="Exodus-30-25">You shall make it a holy anointing oil, a perfume compounded after the art of the perfumer: it shall be a holy anointing oil.</span>
  <span class="verse" title="Exodus 30:26" id="Exodus-30-26">You shall use it to anoint the Tent of Meeting, the ark of the testimony,</span>
  <span class="verse" title="Exodus 30:27" id="Exodus-30-27">the table and all its articles, the lampstand and its accessories, the altar of incense,</span>
  <span class="verse" title="Exodus 30:28" id="Exodus-30-28">the altar of burnt offering with all its utensils, and the basin with its base.</span>
  <span class="verse" title="Exodus 30:29" id="Exodus-30-29">You shall sanctify them, that they may be most holy. Whatever touches them shall be holy.</span>
  <span class="verse" title="Exodus 30:30" id="Exodus-30-30">You shall anoint Aaron and his sons, and sanctify them, that they may minister to me in the priest&#8217;s office.</span>
  <span class="verse" title="Exodus 30:31" id="Exodus-30-31">You shall speak to the children of Israel, saying, &#8216;This shall be a holy anointing oil to me throughout your generations.</span>
  <span class="verse" title="Exodus 30:32" id="Exodus-30-32">It shall not be poured on man&#8217;s flesh, neither shall you make any like it, according to its composition: it is holy. It shall be holy to you.</span>
  <span class="verse" title="Exodus 30:33" id="Exodus-30-33">Whoever compounds any like it, or whoever puts any of it on a stranger, he shall be cut off from his people.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 30:34" id="Exodus-30-34">Yahweh said to Moses, &#8220;Take to yourself sweet spices, gum resin, and onycha, and galbanum; sweet spices with pure frankincense: there shall be an equal weight of each;</span>
  <span class="verse" title="Exodus 30:35" id="Exodus-30-35">and you shall make incense of it, a perfume after the art of the perfumer, seasoned with salt, pure and holy:</span>
  <span class="verse" title="Exodus 30:36" id="Exodus-30-36">and you shall beat some of it very small, and put some of it before the testimony in the Tent of Meeting, where I will meet with you. It shall be to you most holy.</span>
  <span class="verse" title="Exodus 30:37" id="Exodus-30-37">The incense which you shall make, according to its composition you shall not make for yourselves: it shall be to you holy for Yahweh.</span>
  <span class="verse" title="Exodus 30:38" id="Exodus-30-38">Whoever shall make any like that, to smell of it, he shall be cut off from his people.&#8221;</span>
</div>