<div class="chapter" id="Exodus-031">
  <h2>Exodus 31</h2>
  <span class="verse" title="Exodus 31:1" id="Exodus-31-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Exodus 31:2" id="Exodus-31-2">&#8220;Behold, I have called by name Bezalel the son of Uri, the son of Hur, of the tribe of Judah:</span>
  <span class="verse" title="Exodus 31:3" id="Exodus-31-3">and I have filled him with the Spirit of God, in wisdom, and in understanding, and in knowledge, and in all kinds of workmanship,</span>
  <span class="verse" title="Exodus 31:4" id="Exodus-31-4">to devise skillful works, to work in gold, and in silver, and in brass,</span>
  <span class="verse" title="Exodus 31:5" id="Exodus-31-5">and in cutting of stones for setting, and in carving of wood, to work in all kinds of workmanship.</span>
  <span class="verse" title="Exodus 31:6" id="Exodus-31-6">I, behold, I have appointed with him Oholiab, the son of Ahisamach, of the tribe of Dan; and in the heart of all who are wise-hearted I have put wisdom, that they may make all that I have commanded you:</span>
  <span class="verse" title="Exodus 31:7" id="Exodus-31-7">the Tent of Meeting, the ark of the testimony, the mercy seat that is on it, all the furniture of the Tent,</span>
  <span class="verse" title="Exodus 31:8" id="Exodus-31-8">the table and its vessels, the pure lampstand with all its vessels, the altar of incense,</span>
  <span class="verse" title="Exodus 31:9" id="Exodus-31-9">the altar of burnt offering with all its vessels, the basin and its base,</span>
  <span class="verse" title="Exodus 31:10" id="Exodus-31-10">the finely worked garments—the holy garments for Aaron the priest—the garments of his sons to minister in the priest&#8217;s office,</span>
  <span class="verse" title="Exodus 31:11" id="Exodus-31-11">the anointing oil, and the incense of sweet spices for the holy place: according to all that I have commanded you they shall do.&#8221;</span>
  <span class="verse" title="Exodus 31:12" id="Exodus-31-12">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Exodus 31:13" id="Exodus-31-13">&#8220;Speak also to the children of Israel, saying, &#8216;Most certainly you shall keep my Sabbaths: for it is a sign between me and you throughout your generations; that you may know that I am Yahweh who sanctifies you.</span>
  <span class="verse" title="Exodus 31:14" id="Exodus-31-14">You shall keep the Sabbath therefore; for it is holy to you. Everyone who profanes it shall surely be put to death; for whoever does any work therein, that soul shall be cut off from among his people.</span>
  <span class="verse" title="Exodus 31:15" id="Exodus-31-15">Six days shall work be done, but on the seventh day is a Sabbath of solemn rest, holy to Yahweh. Whoever does any work on the Sabbath day shall surely be put to death.</span>
  <span class="verse" title="Exodus 31:16" id="Exodus-31-16">Therefore the children of Israel shall keep the Sabbath, to observe the Sabbath throughout their generations, for a perpetual covenant.</span>
  <span class="verse" title="Exodus 31:17" id="Exodus-31-17">It is a sign between me and the children of Israel forever; for in six days Yahweh made heaven and earth, and on the seventh day he rested, and was refreshed.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 31:18" id="Exodus-31-18">He gave to Moses, when he finished speaking with him on Mount Sinai, the two tablets of the testimony, stone tablets, written with God&#8217;s finger.</span>
</div>