<div class="chapter" id="Exodus-033">
  <h2>Exodus 33</h2>
  <span class="verse" title="Exodus 33:1" id="Exodus-33-1">Yahweh spoke to Moses, &#8220;Depart, go up from here, you and the people that you have brought up out of the land of Egypt, to the land of which I swore to Abraham, to Isaac, and to Jacob, saying, &#8216;I will give it to your seed.&#8217;</span>
  <span class="verse" title="Exodus 33:2" id="Exodus-33-2">I will send an angel before you; and I will drive out the Canaanite, the Amorite, and the Hittite, and the Perizzite, the Hivite, and the Jebusite:</span>
  <span class="verse" title="Exodus 33:3" id="Exodus-33-3">to a land flowing with milk and honey: for I will not go up in the midst of you, for you are a stiff-necked people, lest I consume you in the way.&#8221;</span>
  <span class="verse" title="Exodus 33:4" id="Exodus-33-4">When the people heard this evil news, they mourned: and no one put on his jewelry.</span>
  <span class="verse" title="Exodus 33:5" id="Exodus-33-5">Yahweh said to Moses, &#8220;Tell the children of Israel, &#8216;You are a stiff-necked people. If I were to go up into your midst for one moment, I would consume you. Therefore now take off your jewelry from you, that I may know what to do to you.&#8217;&#8221;</span>
  <span class="verse" title="Exodus 33:6" id="Exodus-33-6">The children of Israel stripped themselves of their jewelry from Mount Horeb onward.</span>
  <span class="verse" title="Exodus 33:7" id="Exodus-33-7">Now Moses used to take the tent and to pitch it outside the camp, far away from the camp, and he called it &#8220;The Tent of Meeting.&#8221; It happened that everyone who sought Yahweh went out to the Tent of Meeting, which was outside the camp.</span>
  <span class="verse" title="Exodus 33:8" id="Exodus-33-8">It happened that when Moses went out to the Tent, that all the people rose up, and stood, everyone at their tent door, and watched Moses, until he had gone into the Tent.</span>
  <span class="verse" title="Exodus 33:9" id="Exodus-33-9">It happened, when Moses entered into the Tent, that the pillar of cloud descended, stood at the door of the Tent, and spoke with Moses.</span>
  <span class="verse" title="Exodus 33:10" id="Exodus-33-10">All the people saw the pillar of cloud stand at the door of the Tent, and all the people rose up and worshiped, everyone at their tent door.</span>
  <span class="verse" title="Exodus 33:11" id="Exodus-33-11">Yahweh spoke to Moses face to face, as a man speaks to his friend. He turned again into the camp, but his servant Joshua, the son of Nun, a young man, didn&#8217;t depart out of the Tent.</span>
  <span class="verse" title="Exodus 33:12" id="Exodus-33-12">Moses said to Yahweh, &#8220;Behold, you tell me, &#8216;Bring up this people:&#8217; and you haven&#8217;t let me know whom you will send with me. Yet you have said, &#8216;I know you by name, and you have also found favor in my sight.&#8217;</span>
  <span class="verse" title="Exodus 33:13" id="Exodus-33-13">Now therefore, if I have found favor in your sight, please show me now your ways, that I may know you, so that I may find favor in your sight: and consider that this nation is your people.&#8221;</span>
  <span class="verse" title="Exodus 33:14" id="Exodus-33-14">He said, &#8220;My presence will go with you, and I will give you rest.&#8221;</span>
  <span class="verse" title="Exodus 33:15" id="Exodus-33-15">He said to him, &#8220;If your presence doesn&#8217;t go with me, don&#8217;t carry us up from here.</span>
  <span class="verse" title="Exodus 33:16" id="Exodus-33-16">For how would people know that I have found favor in your sight, I and your people? Isn&#8217;t it in that you go with us, so that we are separated, I and your people, from all the people who are on the surface of the earth?&#8221;</span>
  <span class="verse" title="Exodus 33:17" id="Exodus-33-17">Yahweh said to Moses, &#8220;I will do this thing also that you have spoken; for you have found favor in my sight, and I know you by name.&#8221;</span>
  <span class="verse" title="Exodus 33:18" id="Exodus-33-18">He said, &#8220;Please show me your glory.&#8221;</span>
  <span class="verse" title="Exodus 33:19" id="Exodus-33-19">He said, &#8220;I will make all my goodness pass before you, and will proclaim the name of Yahweh before you. I will be gracious to whom I will be gracious, and will show mercy on whom I will show mercy.&#8221;</span>
  <span class="verse" title="Exodus 33:20" id="Exodus-33-20">He said, &#8220;You cannot see my face, for man may not see me and live.&#8221;</span>
  <span class="verse" title="Exodus 33:21" id="Exodus-33-21">Yahweh also said, &#8220;Behold, there is a place by me, and you shall stand on the rock.</span>
  <span class="verse" title="Exodus 33:22" id="Exodus-33-22">It will happen, while my glory passes by, that I will put you in a cleft of the rock, and will cover you with my hand until I have passed by;</span>
  <span class="verse" title="Exodus 33:23" id="Exodus-33-23">then I will take away my hand, and you will see my back; but my face shall not be seen.&#8221;</span>
</div>