<div class="chapter" id="Exodus-036">
  <h2>Exodus 36</h2>
  <span class="verse" title="Exodus 36:1" id="Exodus-36-1">&#8220;Bezalel and Oholiab shall work with every wise-hearted man, in whom Yahweh has put wisdom and understanding to know how to work all the work for the service of the sanctuary, according to all that Yahweh has commanded.&#8221;</span>
  <span class="verse" title="Exodus 36:2" id="Exodus-36-2">Moses called Bezalel and Oholiab, and every wise-hearted man, in whose heart Yahweh had put wisdom, even everyone whose heart stirred him up to come to the work to do it:</span>
  <span class="verse" title="Exodus 36:3" id="Exodus-36-3">and they received from Moses all the offering which the children of Israel had brought for the work of the service of the sanctuary, with which to make it. They brought yet to him freewill offerings every morning.</span>
  <span class="verse" title="Exodus 36:4" id="Exodus-36-4">All the wise men, who performed all the work of the sanctuary, each came from his work which they did.</span>
  <span class="verse" title="Exodus 36:5" id="Exodus-36-5">They spoke to Moses, saying, &#8220;The people bring much more than enough for the service of the work which Yahweh commanded to make.&#8221;</span>
  <span class="verse" title="Exodus 36:6" id="Exodus-36-6">Moses gave commandment, and they caused it to be proclaimed throughout the camp, saying, &#8220;Let neither man nor woman make anything else for the offering for the sanctuary.&#8221; So the people were restrained from bringing.</span>
  <span class="verse" title="Exodus 36:7" id="Exodus-36-7">For the stuff they had was sufficient for all the work to make it, and too much.</span>
  <span class="verse" title="Exodus 36:8" id="Exodus-36-8">All the wise-hearted men among those who did the work made the tabernacle with ten curtains; of fine twined linen, blue, purple, and scarlet, with cherubim, the work of the skillful workman, they made them.</span>
  <span class="verse" title="Exodus 36:9" id="Exodus-36-9">The length of each curtain was twenty-eight cubits, and the breadth of each curtain four cubits. All the curtains had one measure.</span>
  <span class="verse" title="Exodus 36:10" id="Exodus-36-10">He coupled five curtains to one another, and the other five curtains he coupled one to another.</span>
  <span class="verse" title="Exodus 36:11" id="Exodus-36-11">He made loops of blue on the edge of the one curtain from the edge in the coupling. Likewise he made in the edge of the curtain that was outmost in the second coupling.</span>
  <span class="verse" title="Exodus 36:12" id="Exodus-36-12">He made fifty loops in the one curtain, and he made fifty loops in the edge of the curtain that was in the second coupling. The loops were opposite one to another.</span>
  <span class="verse" title="Exodus 36:13" id="Exodus-36-13">He made fifty clasps of gold, and coupled the curtains one to another with the clasps: so the tabernacle was a unit.</span>
  <span class="verse" title="Exodus 36:14" id="Exodus-36-14">He made curtains of goats&#8217; hair for a covering over the tabernacle. He made them eleven curtains.</span>
  <span class="verse" title="Exodus 36:15" id="Exodus-36-15">The length of each curtain was thirty cubits, and four cubits the breadth of each curtain. The eleven curtains had one measure.</span>
  <span class="verse" title="Exodus 36:16" id="Exodus-36-16">He coupled five curtains by themselves, and six curtains by themselves.</span>
  <span class="verse" title="Exodus 36:17" id="Exodus-36-17">He made fifty loops on the edge of the curtain that was outmost in the coupling, and he made fifty loops on the edge of the curtain which was outmost in the second coupling.</span>
  <span class="verse" title="Exodus 36:18" id="Exodus-36-18">He made fifty clasps of brass to couple the tent together, that it might be a unit.</span>
  <span class="verse" title="Exodus 36:19" id="Exodus-36-19">He made a covering for the tent of rams&#8217; skins dyed red, and a covering of sea cow hides above.</span>
  <span class="verse" title="Exodus 36:20" id="Exodus-36-20">He made the boards for the tabernacle of acacia wood, standing up.</span>
  <span class="verse" title="Exodus 36:21" id="Exodus-36-21">Ten cubits was the length of a board, and a cubit and a half the breadth of each board.</span>
  <span class="verse" title="Exodus 36:22" id="Exodus-36-22">Each board had two tenons, joined one to another. He made all the boards of the tabernacle this way.</span>
  <span class="verse" title="Exodus 36:23" id="Exodus-36-23">He made the boards for the tabernacle: twenty boards for the south side southward.</span>
  <span class="verse" title="Exodus 36:24" id="Exodus-36-24">He made forty sockets of silver under the twenty boards; two sockets under one board for its two tenons, and two sockets under another board for its two tenons.</span>
  <span class="verse" title="Exodus 36:25" id="Exodus-36-25">For the second side of the tabernacle, on the north side, he made twenty boards,</span>
  <span class="verse" title="Exodus 36:26" id="Exodus-36-26">and their forty sockets of silver; two sockets under one board, and two sockets under another board.</span>
  <span class="verse" title="Exodus 36:27" id="Exodus-36-27">For the far part of the tabernacle westward he made six boards.</span>
  <span class="verse" title="Exodus 36:28" id="Exodus-36-28">He made two boards for the corners of the tabernacle in the far part.</span>
  <span class="verse" title="Exodus 36:29" id="Exodus-36-29">They were double beneath, and in the same way they were all the way to its top to one ring. He did this to both of them in the two corners.</span>
  <span class="verse" title="Exodus 36:30" id="Exodus-36-30">There were eight boards, and their sockets of silver, sixteen sockets; under every board two sockets.</span>
  <span class="verse" title="Exodus 36:31" id="Exodus-36-31">He made bars of acacia wood; five for the boards of the one side of the tabernacle,</span>
  <span class="verse" title="Exodus 36:32" id="Exodus-36-32">and five bars for the boards of the other side of the tabernacle, and five bars for the boards of the tabernacle for the hinder part westward.</span>
  <span class="verse" title="Exodus 36:33" id="Exodus-36-33">He made the middle bar to pass through in the midst of the boards from the one end to the other.</span>
  <span class="verse" title="Exodus 36:34" id="Exodus-36-34">He overlaid the boards with gold, and made their rings of gold for places for the bars, and overlaid the bars with gold.</span>
  <span class="verse" title="Exodus 36:35" id="Exodus-36-35">He made the veil of blue, purple, scarlet, and fine twined linen: with cherubim. He made it the work of a skillful workman.</span>
  <span class="verse" title="Exodus 36:36" id="Exodus-36-36">He made four pillars of acacia for it, and overlaid them with gold. Their hooks were of gold. He cast four sockets of silver for them.</span>
  <span class="verse" title="Exodus 36:37" id="Exodus-36-37">He made a screen for the door of the tent, of blue, purple, scarlet, and fine twined linen, the work of an embroiderer;</span>
  <span class="verse" title="Exodus 36:38" id="Exodus-36-38">and the five pillars of it with their hooks. He overlaid their capitals and their fillets with gold, and their five sockets were of brass.</span>
</div>