<div class="chapter" id="Exodus-037">
  <h2>Exodus 37</h2>
  <span class="verse" title="Exodus 37:1" id="Exodus-37-1">Bezalel made the ark of acacia wood. Its length was two and a half cubits, and its breadth a cubit and a half, and a cubit and a half its height.</span>
  <span class="verse" title="Exodus 37:2" id="Exodus-37-2">He overlaid it with pure gold inside and outside, and made a molding of gold for it around it.</span>
  <span class="verse" title="Exodus 37:3" id="Exodus-37-3">He cast four rings of gold for it, in its four feet; even two rings on its one side, and two rings on its other side.</span>
  <span class="verse" title="Exodus 37:4" id="Exodus-37-4">He made poles of acacia wood, and overlaid them with gold.</span>
  <span class="verse" title="Exodus 37:5" id="Exodus-37-5">He put the poles into the rings on the sides of the ark, to bear the ark.</span>
  <span class="verse" title="Exodus 37:6" id="Exodus-37-6">He made a mercy seat of pure gold. Its length was two and a half cubits, and a cubit and a half its breadth.</span>
  <span class="verse" title="Exodus 37:7" id="Exodus-37-7">He made two cherubim of gold. He made them of beaten work, at the two ends of the mercy seat;</span>
  <span class="verse" title="Exodus 37:8" id="Exodus-37-8">one cherub at the one end, and one cherub at the other end. He made the cherubim of one piece with the mercy seat at its two ends.</span>
  <span class="verse" title="Exodus 37:9" id="Exodus-37-9">The cherubim spread out their wings on high, covering the mercy seat with their wings, with their faces toward one another. The faces of the cherubim were toward the mercy seat.</span>
  <span class="verse" title="Exodus 37:10" id="Exodus-37-10">He made the table of acacia wood. Its length was two cubits, and its breadth was a cubit, and its height was a cubit and a half.</span>
  <span class="verse" title="Exodus 37:11" id="Exodus-37-11">He overlaid it with pure gold, and made a gold molding around it.</span>
  <span class="verse" title="Exodus 37:12" id="Exodus-37-12">He made a border of a handbreadth around it, and made a golden molding on its border around it.</span>
  <span class="verse" title="Exodus 37:13" id="Exodus-37-13">He cast four rings of gold for it, and put the rings in the four corners that were on its four feet.</span>
  <span class="verse" title="Exodus 37:14" id="Exodus-37-14">The rings were close by the border, the places for the poles to carry the table.</span>
  <span class="verse" title="Exodus 37:15" id="Exodus-37-15">He made the poles of acacia wood, and overlaid them with gold, to carry the table.</span>
  <span class="verse" title="Exodus 37:16" id="Exodus-37-16">He made the vessels which were on the table, its dishes, its spoons, its bowls, and its pitchers with which to pour out, of pure gold.</span>
  <span class="verse" title="Exodus 37:17" id="Exodus-37-17">He made the lampstand of pure gold. He made the lampstand of beaten work. Its base, its shaft, its cups, its buds, and its flowers were of one piece with it.</span>
  <span class="verse" title="Exodus 37:18" id="Exodus-37-18">There were six branches going out of its sides: three branches of the lampstand out of its one side, and three branches of the lampstand out of its other side:</span>
  <span class="verse" title="Exodus 37:19" id="Exodus-37-19">three cups made like almond blossoms in one branch, a bud and a flower, and three cups made like almond blossoms in the other branch, a bud and a flower: so for the six branches going out of the lampstand.</span>
  <span class="verse" title="Exodus 37:20" id="Exodus-37-20">In the lampstand were four cups made like almond blossoms, its buds and its flowers;</span>
  <span class="verse" title="Exodus 37:21" id="Exodus-37-21">and a bud under two branches of one piece with it, and a bud under two branches of one piece with it, and a bud under two branches of one piece with it, for the six branches going out of it.</span>
  <span class="verse" title="Exodus 37:22" id="Exodus-37-22">Their buds and their branches were of one piece with it. The whole thing was one beaten work of pure gold.</span>
  <span class="verse" title="Exodus 37:23" id="Exodus-37-23">He made its seven lamps, and its snuffers, and its snuff dishes, of pure gold.</span>
  <span class="verse" title="Exodus 37:24" id="Exodus-37-24">He made it of a talent of pure gold, with all its vessels.</span>
  <span class="verse" title="Exodus 37:25" id="Exodus-37-25">He made the altar of incense of acacia wood. It was square: its length was a cubit, and its breadth a cubit. Its height was two cubits. Its horns were of one piece with it.</span>
  <span class="verse" title="Exodus 37:26" id="Exodus-37-26">He overlaid it with pure gold, its top, its sides around it, and its horns. He made a gold molding around it.</span>
  <span class="verse" title="Exodus 37:27" id="Exodus-37-27">He made two golden rings for it under its molding crown, on its two ribs, on its two sides, for places for poles with which to carry it.</span>
  <span class="verse" title="Exodus 37:28" id="Exodus-37-28">He made the poles of acacia wood, and overlaid them with gold.</span>
  <span class="verse" title="Exodus 37:29" id="Exodus-37-29">He made the holy anointing oil and the pure incense of sweet spices, after the art of the perfumer.</span>
</div>