<div class="chapter" id="Exodus-038">
  <h2>Exodus 38</h2>
  <span class="verse" title="Exodus 38:1" id="Exodus-38-1">He made the altar of burnt offering of acacia wood. It was square. Its length was five cubits, its breadth was five cubits, and its height was three cubits.</span>
  <span class="verse" title="Exodus 38:2" id="Exodus-38-2">He made its horns on its four corners. Its horns were of one piece with it, and he overlaid it with brass.</span>
  <span class="verse" title="Exodus 38:3" id="Exodus-38-3">He made all the vessels of the altar, the pots, the shovels, the basins, the forks, and the fire pans. He made all its vessels of brass.</span>
  <span class="verse" title="Exodus 38:4" id="Exodus-38-4">He made for the altar a grating of a network of brass, under the ledge around it beneath, reaching halfway up.</span>
  <span class="verse" title="Exodus 38:5" id="Exodus-38-5">He cast four rings for the four ends of brass grating, to be places for the poles.</span>
  <span class="verse" title="Exodus 38:6" id="Exodus-38-6">He made the poles of acacia wood, and overlaid them with brass.</span>
  <span class="verse" title="Exodus 38:7" id="Exodus-38-7">He put the poles into the rings on the sides of the altar, with which to carry it. He made it hollow with planks.</span>
  <span class="verse" title="Exodus 38:8" id="Exodus-38-8">He made the basin of brass, and its base of brass, out of the mirrors of the ministering women who ministered at the door of the Tent of Meeting.</span>
  <span class="verse" title="Exodus 38:9" id="Exodus-38-9">He made the court: for the south side southward the hangings of the court were of fine twined linen, one hundred cubits;</span>
  <span class="verse" title="Exodus 38:10" id="Exodus-38-10">their pillars were twenty, and their sockets twenty, of brass; the hooks of the pillars and their fillets were of silver.</span>
  <span class="verse" title="Exodus 38:11" id="Exodus-38-11">For the north side one hundred cubits, their pillars twenty, and their sockets twenty, of brass; the hooks of the pillars, and their fillets, of silver.</span>
  <span class="verse" title="Exodus 38:12" id="Exodus-38-12">For the west side were hangings of fifty cubits, their pillars ten, and their sockets ten; the hooks of the pillars, and their fillets, of silver.</span>
  <span class="verse" title="Exodus 38:13" id="Exodus-38-13">For the east side eastward fifty cubits.</span>
  <span class="verse" title="Exodus 38:14" id="Exodus-38-14">The hangings for the one side were fifteen cubits; their pillars three, and their sockets three;</span>
  <span class="verse" title="Exodus 38:15" id="Exodus-38-15">and so for the other side: on this hand and that hand by the gate of the court were hangings of fifteen cubits; their pillars three, and their sockets three.</span>
  <span class="verse" title="Exodus 38:16" id="Exodus-38-16">All the hangings around the court were of fine twined linen.</span>
  <span class="verse" title="Exodus 38:17" id="Exodus-38-17">The sockets for the pillars were of brass. The hooks of the pillars and their fillets were of silver; and the overlaying of their capitals, of silver; and all the pillars of the court were filleted with silver.</span>
  <span class="verse" title="Exodus 38:18" id="Exodus-38-18">The screen for the gate of the court was the work of the embroiderer, of blue, purple, scarlet, and fine twined linen. Twenty cubits was the length, and the height in the breadth was five cubits, like to the hangings of the court.</span>
  <span class="verse" title="Exodus 38:19" id="Exodus-38-19">Their pillars were four, and their sockets four, of brass; their hooks of silver, and the overlaying of their capitals, and their fillets, of silver.</span>
  <span class="verse" title="Exodus 38:20" id="Exodus-38-20">All the pins of the tabernacle, and around the court, were of brass.</span>
  <span class="verse" title="Exodus 38:21" id="Exodus-38-21">This is the amount of material used for the tabernacle, even the Tabernacle of the Testimony, as they were counted, according to the commandment of Moses, for the service of the Levites, by the hand of Ithamar, the son of Aaron the priest.</span>
  <span class="verse" title="Exodus 38:22" id="Exodus-38-22">Bezalel the son of Uri, the son of Hur, of the tribe of Judah, made all that Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 38:23" id="Exodus-38-23">With him was Oholiab, the son of Ahisamach, of the tribe of Dan, an engraver, and a skillful workman, and an embroiderer in blue, in purple, in scarlet, and in fine linen.</span>
  <span class="verse" title="Exodus 38:24" id="Exodus-38-24">All the gold that was used for the work in all the work of the sanctuary, even the gold of the offering, was twenty-nine talents, and seven hundred thirty shekels, after the shekel of the sanctuary.</span>
  <span class="verse" title="Exodus 38:25" id="Exodus-38-25">The silver of those who were numbered of the congregation was one hundred talents, and one thousand seven hundred seventy-five shekels, after the shekel of the sanctuary:</span>
  <span class="verse" title="Exodus 38:26" id="Exodus-38-26">a beka a head, that is, half a shekel, after the shekel of the sanctuary, for everyone who passed over to those who were numbered, from twenty years old and upward, for six hundred three thousand five hundred fifty men.</span>
  <span class="verse" title="Exodus 38:27" id="Exodus-38-27">The one hundred talents of silver were for casting the sockets of the sanctuary, and the sockets of the veil; one hundred sockets for the one hundred talents, a talent for a socket.</span>
  <span class="verse" title="Exodus 38:28" id="Exodus-38-28">Of the one thousand seven hundred seventy-five shekels he made hooks for the pillars, overlaid their capitals, and made fillets for them.</span>
  <span class="verse" title="Exodus 38:29" id="Exodus-38-29">The brass of the offering was seventy talents, and two thousand four hundred shekels.</span>
  <span class="verse" title="Exodus 38:30" id="Exodus-38-30">With this he made the sockets to the door of the Tent of Meeting, the bronze altar, the bronze grating for it, all the vessels of the altar,</span>
  <span class="verse" title="Exodus 38:31" id="Exodus-38-31">the sockets around the court, the sockets of the gate of the court, all the pins of the tabernacle, and all the pins around the court.</span>
</div>