<div class="chapter" id="Exodus-039">
  <h2>Exodus 39</h2>
  <span class="verse" title="Exodus 39:1" id="Exodus-39-1">Of the blue, purple, and scarlet, they made finely worked garments, for ministering in the holy place, and made the holy garments for Aaron; as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 39:2" id="Exodus-39-2">He made the ephod of gold, blue, purple, scarlet, and fine twined linen.</span>
  <span class="verse" title="Exodus 39:3" id="Exodus-39-3">They beat the gold into thin plates, and cut it into wires, to work it in the blue, in the purple, in the scarlet, and in the fine linen, the work of the skillful workman.</span>
  <span class="verse" title="Exodus 39:4" id="Exodus-39-4">They made shoulder straps for it, joined together. At the two ends it was joined together.</span>
  <span class="verse" title="Exodus 39:5" id="Exodus-39-5">The skillfully woven band that was on it, with which to fasten it on, was of the same piece, like its work; of gold, of blue, purple, scarlet, and fine twined linen; as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 39:6" id="Exodus-39-6">They worked the onyx stones, enclosed in settings of gold, engraved with the engravings of a signet, according to the names of the children of Israel.</span>
  <span class="verse" title="Exodus 39:7" id="Exodus-39-7">He put them on the shoulder straps of the ephod, to be stones of memorial for the children of Israel, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 39:8" id="Exodus-39-8">He made the breastplate, the work of a skillful workman, like the work of the ephod; of gold, of blue, purple, scarlet, and fine twined linen.</span>
  <span class="verse" title="Exodus 39:9" id="Exodus-39-9">It was square. They made the breastplate double. Its length was a span, and its breadth a span, being double.</span>
  <span class="verse" title="Exodus 39:10" id="Exodus-39-10">They set in it four rows of stones. A row of ruby, topaz, and beryl was the first row;</span>
  <span class="verse" title="Exodus 39:11" id="Exodus-39-11">and the second row, a turquoise, a sapphire, and an emerald;</span>
  <span class="verse" title="Exodus 39:12" id="Exodus-39-12">and the third row, a jacinth, an agate, and an amethyst;</span>
  <span class="verse" title="Exodus 39:13" id="Exodus-39-13">and the fourth row, a chrysolite, an onyx, and a jasper. They were enclosed in gold settings.</span>
  <span class="verse" title="Exodus 39:14" id="Exodus-39-14">The stones were according to the names of the children of Israel, twelve, according to their names; like the engravings of a signet, everyone according to his name, for the twelve tribes.</span>
  <span class="verse" title="Exodus 39:15" id="Exodus-39-15">They made on the breastplate chains like cords, of braided work of pure gold.</span>
  <span class="verse" title="Exodus 39:16" id="Exodus-39-16">They made two settings of gold, and two gold rings, and put the two rings on the two ends of the breastplate.</span>
  <span class="verse" title="Exodus 39:17" id="Exodus-39-17">They put the two braided chains of gold in the two rings at the ends of the breastplate.</span>
  <span class="verse" title="Exodus 39:18" id="Exodus-39-18">The other two ends of the two braided chains they put on the two settings, and put them on the shoulder straps of the ephod, in its front.</span>
  <span class="verse" title="Exodus 39:19" id="Exodus-39-19">They made two rings of gold, and put them on the two ends of the breastplate, on its edge, which was toward the side of the ephod inward.</span>
  <span class="verse" title="Exodus 39:20" id="Exodus-39-20">They made two rings of gold, and put them on the two shoulder straps of the ephod underneath, in its front, close by its coupling, above the skillfully woven band of the ephod.</span>
  <span class="verse" title="Exodus 39:21" id="Exodus-39-21">They bound the breastplate by its rings to the rings of the ephod with a lace of blue, that it might be on the skillfully woven band of the ephod, and that the breastplate might not come loose from the ephod, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 39:22" id="Exodus-39-22">He made the robe of the ephod of woven work, all of blue.</span>
  <span class="verse" title="Exodus 39:23" id="Exodus-39-23">The opening of the robe in its midst was like the opening of a coat of mail, with a binding around its opening, that it should not be torn.</span>
  <span class="verse" title="Exodus 39:24" id="Exodus-39-24">They made on the skirts of the robe pomegranates of blue, purple, scarlet, and twined linen.</span>
  <span class="verse" title="Exodus 39:25" id="Exodus-39-25">They made bells of pure gold, and put the bells between the pomegranates around the skirts of the robe, between the pomegranates;</span>
  <span class="verse" title="Exodus 39:26" id="Exodus-39-26">a bell and a pomegranate, a bell and a pomegranate, around the skirts of the robe, to minister in, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 39:27" id="Exodus-39-27">They made the coats of fine linen of woven work for Aaron, and for his sons,</span>
  <span class="verse" title="Exodus 39:28" id="Exodus-39-28">and the turban of fine linen, and the linen headbands of fine linen, and the linen breeches of fine twined linen,</span>
  <span class="verse" title="Exodus 39:29" id="Exodus-39-29">and the sash of fine twined linen, and blue, and purple, and scarlet, the work of the embroiderer, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 39:30" id="Exodus-39-30">They made the plate of the holy crown of pure gold, and wrote on it a writing, like the engravings of a signet: &#8220;HOLY TO YAHWEH.&#8221;</span>
  <span class="verse" title="Exodus 39:31" id="Exodus-39-31">They tied to it a lace of blue, to fasten it on the turban above, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 39:32" id="Exodus-39-32">Thus all the work of the tabernacle of the Tent of Meeting was finished. The children of Israel did according to all that Yahweh commanded Moses; so they did.</span>
  <span class="verse" title="Exodus 39:33" id="Exodus-39-33">They brought the tabernacle to Moses, the tent, with all its furniture, its clasps, its boards, its bars, its pillars, its sockets,</span>
  <span class="verse" title="Exodus 39:34" id="Exodus-39-34">the covering of rams&#8217; skins dyed red, the covering of sea cow hides, the veil of the screen,</span>
  <span class="verse" title="Exodus 39:35" id="Exodus-39-35">the ark of the testimony with its poles, the mercy seat,</span>
  <span class="verse" title="Exodus 39:36" id="Exodus-39-36">the table, all its vessels, the show bread,</span>
  <span class="verse" title="Exodus 39:37" id="Exodus-39-37">the pure lampstand, its lamps, even the lamps to be set in order, all its vessels, the oil for the light,</span>
  <span class="verse" title="Exodus 39:38" id="Exodus-39-38">the golden altar, the anointing oil, the sweet incense, the screen for the door of the Tent,</span>
  <span class="verse" title="Exodus 39:39" id="Exodus-39-39">the bronze altar, its grating of brass, its poles, all of its vessels, the basin and its base,</span>
  <span class="verse" title="Exodus 39:40" id="Exodus-39-40">the hangings of the court, its pillars, its sockets, the screen for the gate of the court, its cords, its pins, all the instruments of the service of the tabernacle, for the Tent of Meeting,</span>
  <span class="verse" title="Exodus 39:41" id="Exodus-39-41">the finely worked garments for ministering in the holy place, the holy garments for Aaron the priest, and the garments of his sons, to minister in the priest&#8217;s office.</span>
  <span class="verse" title="Exodus 39:42" id="Exodus-39-42">According to all that Yahweh commanded Moses, so the children of Israel did all the work.</span>
  <span class="verse" title="Exodus 39:43" id="Exodus-39-43">Moses saw all the work, and behold, they had done it as Yahweh had commanded, even so had they done it: and Moses blessed them.</span>
</div>