<div class="chapter" id="Exodus-040">
  <h2>Exodus 40</h2>
  <span class="verse" title="Exodus 40:1" id="Exodus-40-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Exodus 40:2" id="Exodus-40-2">&#8220;On the first day of the first month you shall raise up the tabernacle of the Tent of Meeting.</span>
  <span class="verse" title="Exodus 40:3" id="Exodus-40-3">You shall put the ark of the testimony in it, and you shall screen the ark with the veil.</span>
  <span class="verse" title="Exodus 40:4" id="Exodus-40-4">You shall bring in the table, and set in order the things that are on it. You shall bring in the lampstand, and light its lamps.</span>
  <span class="verse" title="Exodus 40:5" id="Exodus-40-5">You shall set the golden altar for incense before the ark of the testimony, and put the screen of the door to the tabernacle.</span>
  <span class="verse" title="Exodus 40:6" id="Exodus-40-6">&#8220;You shall set the altar of burnt offering before the door of the tabernacle of the Tent of Meeting.</span>
  <span class="verse" title="Exodus 40:7" id="Exodus-40-7">You shall set the basin between the Tent of Meeting and the altar, and shall put water therein.</span>
  <span class="verse" title="Exodus 40:8" id="Exodus-40-8">You shall set up the court around it, and hang up the screen of the gate of the court.</span>
  <span class="verse" title="Exodus 40:9" id="Exodus-40-9">&#8220;You shall take the anointing oil, and anoint the tabernacle, and all that is in it, and shall make it holy, and all its furniture: and it will be holy.</span>
  <span class="verse" title="Exodus 40:10" id="Exodus-40-10">You shall anoint the altar of burnt offering, with all its vessels, and sanctify the altar: and the altar will be most holy.</span>
  <span class="verse" title="Exodus 40:11" id="Exodus-40-11">You shall anoint the basin and its base, and sanctify it.</span>
  <span class="verse" title="Exodus 40:12" id="Exodus-40-12">&#8220;You shall bring Aaron and his sons to the door of the Tent of Meeting, and shall wash them with water.</span>
  <span class="verse" title="Exodus 40:13" id="Exodus-40-13">You shall put on Aaron the holy garments; and you shall anoint him, and sanctify him, that he may minister to me in the priest&#8217;s office.</span>
  <span class="verse" title="Exodus 40:14" id="Exodus-40-14">You shall bring his sons, and put coats on them.</span>
  <span class="verse" title="Exodus 40:15" id="Exodus-40-15">You shall anoint them, as you anointed their father, that they may minister to me in the priest&#8217;s office. Their anointing shall be to them for an everlasting priesthood throughout their generations.&#8221;</span>
  <span class="verse" title="Exodus 40:16" id="Exodus-40-16">Moses did so. According to all that Yahweh commanded him, so he did.</span>
  <span class="verse" title="Exodus 40:17" id="Exodus-40-17">It happened in the first month in the second year, on the first day of the month, that the tabernacle was raised up.</span>
  <span class="verse" title="Exodus 40:18" id="Exodus-40-18">Moses raised up the tabernacle, and laid its sockets, and set up its boards, and put in its bars, and raised up its pillars.</span>
  <span class="verse" title="Exodus 40:19" id="Exodus-40-19">He spread the covering over the tent, and put the roof of the tabernacle above on it, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 40:20" id="Exodus-40-20">He took and put the testimony into the ark, and set the poles on the ark, and put the mercy seat above on the ark.</span>
  <span class="verse" title="Exodus 40:21" id="Exodus-40-21">He brought the ark into the tabernacle, and set up the veil of the screen, and screened the ark of the testimony, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 40:22" id="Exodus-40-22">He put the table in the Tent of Meeting, on the side of the tabernacle northward, outside of the veil.</span>
  <span class="verse" title="Exodus 40:23" id="Exodus-40-23">He set the bread in order on it before Yahweh, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 40:24" id="Exodus-40-24">He put the lampstand in the Tent of Meeting, opposite the table, on the side of the tabernacle southward.</span>
  <span class="verse" title="Exodus 40:25" id="Exodus-40-25">He lit the lamps before Yahweh, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 40:26" id="Exodus-40-26">He put the golden altar in the Tent of Meeting before the veil;</span>
  <span class="verse" title="Exodus 40:27" id="Exodus-40-27">and he burnt incense of sweet spices on it, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 40:28" id="Exodus-40-28">He put up the screen of the door to the tabernacle.</span>
  <span class="verse" title="Exodus 40:29" id="Exodus-40-29">He set the altar of burnt offering at the door of the tabernacle of the Tent of Meeting, and offered on it the burnt offering and the meal offering, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 40:30" id="Exodus-40-30">He set the basin between the Tent of Meeting and the altar, and put water therein, with which to wash.</span>
  <span class="verse" title="Exodus 40:31" id="Exodus-40-31">Moses, Aaron, and his sons washed their hands and their feet there.</span>
  <span class="verse" title="Exodus 40:32" id="Exodus-40-32">When they went into the Tent of Meeting, and when they came near to the altar, they washed, as Yahweh commanded Moses.</span>
  <span class="verse" title="Exodus 40:33" id="Exodus-40-33">He raised up the court around the tabernacle and the altar, and set up the screen of the gate of the court. So Moses finished the work.</span>
  <span class="verse" title="Exodus 40:34" id="Exodus-40-34">Then the cloud covered the Tent of Meeting, and the glory of Yahweh filled the tabernacle.</span>
  <span class="verse" title="Exodus 40:35" id="Exodus-40-35">Moses wasn&#8217;t able to enter into the Tent of Meeting, because the cloud stayed on it, and Yahweh&#8217;s glory filled the tabernacle.</span>
  <span class="verse" title="Exodus 40:36" id="Exodus-40-36">When the cloud was taken up from over the tabernacle, the children of Israel went onward, throughout all their journeys;</span>
  <span class="verse" title="Exodus 40:37" id="Exodus-40-37">but if the cloud wasn&#8217;t taken up, then they didn&#8217;t travel until the day that it was taken up.</span>
  <span class="verse" title="Exodus 40:38" id="Exodus-40-38">For the cloud of Yahweh was on the tabernacle by day, and there was fire in the cloud by night, in the sight of all the house of Israel, throughout all their journeys.</span>
</div>