<div class="chapter" id="Isaiah-004">
  <h2>Isaiah 4</h2>
  <span class="verse" title="Isaiah 4:1" id="Isaiah-4-1">Seven women shall take hold of one man in that day, saying, &#8220;We will eat our own bread, and wear our own clothing: only let us be called by your name. Take away our reproach.&#8221;</span>
  <span class="verse" title="Isaiah 4:2" id="Isaiah-4-2">In that day, Yahweh&#8217;s branch will be beautiful and glorious, and the fruit of the land will be the beauty and glory of the survivors of Israel.</span>
  <span class="verse" title="Isaiah 4:3" id="Isaiah-4-3">It will happen, that he who is left in Zion, and he who remains in Jerusalem, shall be called holy, even everyone who is written among the living in Jerusalem;</span>
  <span class="verse" title="Isaiah 4:4" id="Isaiah-4-4">when the Lord shall have washed away the filth of the daughters of Zion, and shall have purged the blood of Jerusalem from its midst, by the spirit of justice, and by the spirit of burning.</span>
  <span class="verse" title="Isaiah 4:5" id="Isaiah-4-5">Yahweh will create over the whole habitation of Mount Zion, and over her assemblies, a cloud and smoke by day, and the shining of a flaming fire by night; for over all the glory will be a canopy.</span>
  <span class="verse" title="Isaiah 4:6" id="Isaiah-4-6">There will be a pavilion for a shade in the daytime from the heat, and for a refuge and for a shelter from storm and from rain.</span>
</div>