<div class="chapter" id="Isaiah-007">
  <h2>Isaiah 7</h2>
  <span class="verse" title="Isaiah 7:1" id="Isaiah-7-1">It happened in the days of Ahaz the son of Jotham, the son of Uzziah, king of Judah, that Rezin the king of Syria, and Pekah the son of Remaliah, king of Israel, went up to Jerusalem to war against it, but could not prevail against it.</span>
  <span class="verse" title="Isaiah 7:2" id="Isaiah-7-2">It was told the house of David, saying, &#8220;Syria is allied with Ephraim.&#8221; His heart trembled, and the heart of his people, as the trees of the forest tremble with the wind.</span>
  <span class="verse" title="Isaiah 7:3" id="Isaiah-7-3">Then Yahweh said to Isaiah, &#8220;Go out now to meet Ahaz, you, and Shearjashub your son, at the end of the conduit of the upper pool, on the highway of the fuller&#8217;s field.</span>
  <span class="verse" title="Isaiah 7:4" id="Isaiah-7-4">Tell him, &#8216;Be careful, and keep calm. Don&#8217;t be afraid, neither let your heart be faint because of these two tails of smoking torches, for the fierce anger of Rezin and Syria, and of the son of Remaliah.</span>
  <span class="verse" title="Isaiah 7:5" id="Isaiah-7-5">Because Syria, Ephraim, and the son of Remaliah, have plotted evil against you, saying,</span>
  <span class="verse" title="Isaiah 7:6" id="Isaiah-7-6">&#8220;Let&#8217;s go up against Judah, and tear it apart, and let&#8217;s divide it among ourselves, and set up a king in its midst, even the son of Tabeel.&#8221;</span>
  <span class="verse" title="Isaiah 7:7" id="Isaiah-7-7">This is what the Lord Yahweh says: &#8220;It shall not stand, neither shall it happen.&#8221;</span>
  <span class="verse" title="Isaiah 7:8" id="Isaiah-7-8">For the head of Syria is Damascus, and the head of Damascus is Rezin; and within sixty-five years Ephraim shall be broken in pieces, so that it shall not be a people;</span>
  <span class="verse" title="Isaiah 7:9" id="Isaiah-7-9">and the head of Ephraim is Samaria, and the head of Samaria is Remaliah&#8217;s son. If you will not believe, surely you shall not be established.&#8217;&#8221;</span>
  <span class="verse" title="Isaiah 7:10" id="Isaiah-7-10">Yahweh spoke again to Ahaz, saying,</span>
  <span class="verse" title="Isaiah 7:11" id="Isaiah-7-11">&#8220;Ask a sign of Yahweh your God; ask it either in the depth, or in the height above.&#8221;</span>
  <span class="verse" title="Isaiah 7:12" id="Isaiah-7-12">But Ahaz said, &#8220;I will not ask, neither will I tempt Yahweh.&#8221;</span>
  <span class="verse" title="Isaiah 7:13" id="Isaiah-7-13">He said, &#8220;Listen now, house of David. Is it not enough for you to try the patience of men, that you will try the patience of my God also?</span>
  <span class="verse" title="Isaiah 7:14" id="Isaiah-7-14">Therefore the Lord himself will give you a sign. Behold, the virgin will conceive, and bear a son, and shall call his name Immanuel.</span>
  <span class="verse" title="Isaiah 7:15" id="Isaiah-7-15">He shall eat butter and honey when he knows to refuse the evil, and choose the good.</span>
  <span class="verse" title="Isaiah 7:16" id="Isaiah-7-16">For before the child knows to refuse the evil, and choose the good, the land whose two kings you abhor shall be forsaken.</span>
  <span class="verse" title="Isaiah 7:17" id="Isaiah-7-17">Yahweh will bring on you, on your people, and on your father&#8217;s house, days that have not come, from the day that Ephraim departed from Judah; even the king of Assyria.</span>
  <span class="verse" title="Isaiah 7:18" id="Isaiah-7-18">It will happen in that day that Yahweh will whistle for the fly that is in the uttermost part of the rivers of Egypt, and for the bee that is in the land of Assyria.</span>
  <span class="verse" title="Isaiah 7:19" id="Isaiah-7-19">They shall come, and shall all rest in the desolate valleys, in the clefts of the rocks, on all thorn hedges, and on all pastures.</span>
  <span class="verse" title="Isaiah 7:20" id="Isaiah-7-20">In that day the Lord will shave with a razor that is hired in the parts beyond the River, even with the king of Assyria, the head and the hair of the feet; and it shall also consume the beard.</span>
  <span class="verse" title="Isaiah 7:21" id="Isaiah-7-21">It shall happen in that day that a man shall keep alive a young cow, and two sheep;</span>
  <span class="verse" title="Isaiah 7:22" id="Isaiah-7-22">and it shall happen, that because of the abundance of milk which they shall give he shall eat butter: for everyone will eat butter and honey that is left in the midst of the land.</span>
  <span class="verse" title="Isaiah 7:23" id="Isaiah-7-23">It will happen in that day that every place where there were a thousand vines at a thousand silver shekels, shall be for briers and thorns.</span>
  <span class="verse" title="Isaiah 7:24" id="Isaiah-7-24">People will go there with arrows and with bow, because all the land will be briers and thorns.</span>
  <span class="verse" title="Isaiah 7:25" id="Isaiah-7-25">All the hills that were cultivated with the hoe, you shall not come there for fear of briers and thorns; but it shall be for the sending forth of oxen, and for the treading of sheep.&#8221;</span>
</div>