<div class="chapter" id="Isaiah-008">
  <h2>Isaiah 8</h2>
  <span class="verse" title="Isaiah 8:1" id="Isaiah-8-1">Yahweh said to me, &#8220;Take a large tablet, and write on it with a man&#8217;s pen, &#8216;For Maher Shalal Hash Baz;&#8217;</span>
  <span class="verse" title="Isaiah 8:2" id="Isaiah-8-2">and I will take for myself faithful witnesses to testify: Uriah the priest, and Zechariah the son of Jeberechiah.&#8221;</span>
  <span class="verse" title="Isaiah 8:3" id="Isaiah-8-3">I went to the prophetess, and she conceived, and bore a son. Then Yahweh said to me, &#8220;Call his name &#8216;Maher Shalal Hash Baz.&#8217;</span>
  <span class="verse" title="Isaiah 8:4" id="Isaiah-8-4">For before the child knows how to say, &#8216;My father,&#8217; and, &#8216;My mother,&#8217; the riches of Damascus and the spoil of Samaria will be carried away by the king of Assyria.&#8221;</span>
  <span class="verse" title="Isaiah 8:5" id="Isaiah-8-5">Yahweh spoke to me yet again, saying,</span>
  <span class="verse" title="Isaiah 8:6" id="Isaiah-8-6">&#8220;Because this people have refused the waters of Shiloah that go softly, and rejoice in Rezin and Remaliah&#8217;s son;</span>
  <span class="verse" title="Isaiah 8:7" id="Isaiah-8-7">now therefore, behold, the Lord brings upon them the mighty flood waters of the River: the king of Assyria and all his glory. It will come up over all its channels, and go over all its banks.</span>
  <span class="verse" title="Isaiah 8:8" id="Isaiah-8-8">It will sweep onward into Judah. It will overflow and pass through; it will reach even to the neck; and the stretching out of its wings will fill the breadth of your land, Immanuel.</span>
  <span class="verse" title="Isaiah 8:9" id="Isaiah-8-9">Make an uproar, you peoples, and be broken in pieces! Listen, all you from far countries: dress for battle, and be shattered! Dress for battle, and be shattered!</span>
  <span class="verse" title="Isaiah 8:10" id="Isaiah-8-10">Take counsel together, and it will be brought to nothing; speak the word, and it will not stand: for God is with us.&#8221;</span>
  <span class="verse" title="Isaiah 8:11" id="Isaiah-8-11">For Yahweh spoke thus to me with a strong hand, and instructed me not to walk in the way of this people, saying,</span>
  <span class="verse" title="Isaiah 8:12" id="Isaiah-8-12">&#8220;Don&#8217;t say, &#8216;A conspiracy!&#8217; concerning all about which this people say, &#8216;A conspiracy!&#8217; neither fear their threats, nor be terrorized.</span>
  <span class="verse" title="Isaiah 8:13" id="Isaiah-8-13">Yahweh of Armies is who you must respect as holy. He is the one you must fear. He is the one you must dread.</span>
  <span class="verse" title="Isaiah 8:14" id="Isaiah-8-14">He will be a sanctuary, but for both houses of Israel, he will be a trap and a snare for the inhabitants of Jerusalem.</span>
  <span class="verse" title="Isaiah 8:15" id="Isaiah-8-15">Many will stumble over it, fall, be broken, be snared, and be captured.&#8221;</span>
  <span class="verse" title="Isaiah 8:16" id="Isaiah-8-16">Wrap up the testimony. Seal the law among my disciples.</span>
  <span class="verse" title="Isaiah 8:17" id="Isaiah-8-17">I will wait for Yahweh, who hides his face from the house of Jacob, and I will look for him.</span>
  <span class="verse" title="Isaiah 8:18" id="Isaiah-8-18">Behold, I and the children whom Yahweh has given me are for signs and for wonders in Israel from Yahweh of Armies, who dwells in Mount Zion.</span>
  <span class="verse" title="Isaiah 8:19" id="Isaiah-8-19">When they tell you, &#8220;Consult with those who have familiar spirits and with the wizards, who chirp and who mutter:&#8221; shouldn&#8217;t a people consult with their God? Should they consult the dead on behalf of the living?</span>
  <span class="verse" title="Isaiah 8:20" id="Isaiah-8-20">Turn to the law and to the testimony! If they don&#8217;t speak according to this word, surely there is no morning for them.</span>
  <span class="verse" title="Isaiah 8:21" id="Isaiah-8-21">They will pass through it, very distressed and hungry; and it will happen that when they are hungry, they will worry, and curse by their king and by their God. They will turn their faces upward,</span>
  <span class="verse" title="Isaiah 8:22" id="Isaiah-8-22">and look to the earth, and see distress, darkness, and the gloom of anguish. They will be driven into thick darkness.</span>
</div>