<div class="chapter" id="Isaiah-010">
  <h2>Isaiah 10</h2>
  <span class="verse" title="Isaiah 10:1" id="Isaiah-10-1">Woe to those who decree unrighteous decrees, and to the writers who write oppressive decrees;</span>
  <span class="verse" title="Isaiah 10:2" id="Isaiah-10-2">to deprive the needy from justice, and to rob the poor among my people of their rights, that widows may be their spoil, and that they may make the fatherless their prey!</span>
  <span class="verse" title="Isaiah 10:3" id="Isaiah-10-3">What will you do in the day of visitation, and in the desolation which will come from afar? To whom will you flee for help? Where will you leave your wealth?</span>
  <span class="verse" title="Isaiah 10:4" id="Isaiah-10-4">They will only bow down under the prisoners,<br/> <span class="indent">&nbsp;&nbsp;</span>and will fall under the slain.<br/>   For all this his anger is not turned away,<br/> <span class="indent">&nbsp;&nbsp;</span>but his hand is stretched out still.<br/></span>
  <span class="verse" title="Isaiah 10:5" id="Isaiah-10-5">Alas Assyrian, the rod of my anger, the staff in whose hand is my indignation!</span>
  <span class="verse" title="Isaiah 10:6" id="Isaiah-10-6">I will send him against a profane nation, and against the people who anger me will I give him a command to take the spoil and to take the prey, and to tread them down like the mire of the streets.</span>
  <span class="verse" title="Isaiah 10:7" id="Isaiah-10-7">However he doesn&#8217;t mean so, neither does his heart think so; but it is in his heart to destroy, and to cut off not a few nations.</span>
  <span class="verse" title="Isaiah 10:8" id="Isaiah-10-8">For he says, &#8220;Aren&#8217;t all of my princes kings?</span>
  <span class="verse" title="Isaiah 10:9" id="Isaiah-10-9">Isn&#8217;t Calno like Carchemish? Isn&#8217;t Hamath like Arpad? Isn&#8217;t Samaria like Damascus?&#8221;</span>
  <span class="verse" title="Isaiah 10:10" id="Isaiah-10-10">As my hand has found the kingdoms of the idols, whose engraved images exceeded those of Jerusalem and of Samaria;</span>
  <span class="verse" title="Isaiah 10:11" id="Isaiah-10-11">shall I not, as I have done to Samaria and her idols, so do to Jerusalem and her idols?</span>
  <span class="verse" title="Isaiah 10:12" id="Isaiah-10-12">Therefore it will happen that, when the Lord has performed his whole work on Mount Zion and on Jerusalem, I will punish the fruit of the willful proud heart of the king of Assyria, and the insolence of his haughty looks.</span>
  <span class="verse" title="Isaiah 10:13" id="Isaiah-10-13">For he has said, &#8220;By the strength of my hand I have done it, and by my wisdom; for I have understanding: and I have removed the boundaries of the peoples, and have robbed their treasures. Like a valiant man I have brought down their rulers.</span>
  <span class="verse" title="Isaiah 10:14" id="Isaiah-10-14">My hand has found the riches of the peoples like a nest, and like one gathers eggs that are abandoned, have I gathered all the earth. There was no one who moved their wing, or that opened their mouth, or chirped.&#8221;</span>
  <span class="verse" title="Isaiah 10:15" id="Isaiah-10-15">Should an axe brag against him who chops with it? Should a saw exalt itself above him who saws with it? As if a rod should lift those who lift it up, or as if a staff should lift up someone who is not wood.</span>
  <span class="verse" title="Isaiah 10:16" id="Isaiah-10-16">Therefore the Lord, Yahweh of Armies, will send among his fat ones leanness; and under his glory a burning will be kindled like the burning of fire.</span>
  <span class="verse" title="Isaiah 10:17" id="Isaiah-10-17">The light of Israel will be for a fire, and his Holy One for a flame; and it will burn and devour his thorns and his briers in one day.</span>
  <span class="verse" title="Isaiah 10:18" id="Isaiah-10-18">He will consume the glory of his forest, and of his fruitful field, both soul and body. It will be as when a standard bearer faints.</span>
  <span class="verse" title="Isaiah 10:19" id="Isaiah-10-19">The remnant of the trees of his forest shall be few, so that a child could write their number.</span>
  <span class="verse" title="Isaiah 10:20" id="Isaiah-10-20">It will come to pass in that day that the remnant of Israel, and those who have escaped from the house of Jacob will no more again lean on him who struck them, but shall lean on Yahweh, the Holy One of Israel, in truth.</span>
  <span class="verse" title="Isaiah 10:21" id="Isaiah-10-21">A remnant will return, even the remnant of Jacob, to the mighty God.</span>
  <span class="verse" title="Isaiah 10:22" id="Isaiah-10-22">For though your people, Israel, are like the sand of the sea, only a remnant of them will return. A destruction is determined, overflowing with righteousness.</span>
  <span class="verse" title="Isaiah 10:23" id="Isaiah-10-23">For the Lord, Yahweh of Armies, will make a full end, and that determined, in the midst of all the earth.</span>
  <span class="verse" title="Isaiah 10:24" id="Isaiah-10-24">Therefore the Lord, Yahweh of Armies, says &#8220;My people who dwell in Zion, don&#8217;t be afraid of the Assyrian, though he strike you with the rod, and lift up his staff against you, as Egypt did.</span>
  <span class="verse" title="Isaiah 10:25" id="Isaiah-10-25">For yet a very little while, and the indignation against you will be accomplished, and my anger will be directed to his destruction.&#8221;</span>
  <span class="verse" title="Isaiah 10:26" id="Isaiah-10-26">Yahweh of Armies will stir up a scourge against him, as in the slaughter of Midian at the rock of Oreb. His rod will be over the sea, and he will lift it up like he did against Egypt.</span>
  <span class="verse" title="Isaiah 10:27" id="Isaiah-10-27">It will happen in that day, that his burden will depart from off your shoulder, and his yoke from off your neck, and the yoke shall be destroyed because of the anointing oil.</span>
  <span class="verse" title="Isaiah 10:28" id="Isaiah-10-28">He has come to Aiath. He has passed through Migron. At Michmash he stores his baggage.</span>
  <span class="verse" title="Isaiah 10:29" id="Isaiah-10-29">They have gone over the pass. They have taken up their lodging at Geba. Ramah trembles. Gibeah of Saul has fled.</span>
  <span class="verse" title="Isaiah 10:30" id="Isaiah-10-30">Cry aloud with your voice, daughter of Gallim! Listen, Laishah! You poor Anathoth!</span>
  <span class="verse" title="Isaiah 10:31" id="Isaiah-10-31">Madmenah is a fugitive. The inhabitants of Gebim flee for safety.</span>
  <span class="verse" title="Isaiah 10:32" id="Isaiah-10-32">This very day he will halt at Nob. He shakes his hand at the mountain of the daughter of Zion, the hill of Jerusalem.</span>
  <span class="verse" title="Isaiah 10:33" id="Isaiah-10-33">Behold, the Lord, Yahweh of Armies, will lop the boughs with terror. The tall will be cut down, and the lofty will be brought low.</span>
  <span class="verse" title="Isaiah 10:34" id="Isaiah-10-34">He will cut down the thickets of the forest with iron, and Lebanon will fall by the Mighty One.</span>
</div>