<div class="chapter" id="Isaiah-012">
  <h2>Isaiah 12</h2>
  <span class="verse" title="Isaiah 12:1" id="Isaiah-12-1">In that day you will say, &#8220;I will give thanks to you, Yahweh; for though you were angry with me, your anger has turned away and you comfort me.</span>
  <span class="verse" title="Isaiah 12:2" id="Isaiah-12-2">Behold, God is my salvation. I will trust, and will not be afraid; for Yah, Yahweh, is my strength and song; and he has become my salvation.&#8221;</span>
  <span class="verse" title="Isaiah 12:3" id="Isaiah-12-3">Therefore with joy you will draw water out of the wells of salvation.</span>
  <span class="verse" title="Isaiah 12:4" id="Isaiah-12-4">In that day you will say, &#8220;Give thanks to Yahweh! Call on his name. Declare his doings among the peoples. Proclaim that his name is exalted!</span>
  <span class="verse" title="Isaiah 12:5" id="Isaiah-12-5">Sing to Yahweh, for he has done excellent things! Let this be known in all the earth!</span>
  <span class="verse" title="Isaiah 12:6" id="Isaiah-12-6">Cry aloud and shout, you inhabitant of Zion; for the Holy One of Israel is great in the midst of you!&#8221;</span>
</div>