<div class="chapter" id="Isaiah-013">
  <h2>Isaiah 13</h2>
  <span class="verse" title="Isaiah 13:1" id="Isaiah-13-1">The burden of Babylon, which Isaiah the son of Amoz saw:</span>
  <span class="verse" title="Isaiah 13:2" id="Isaiah-13-2">Set up a banner on the bare mountain! Lift up your voice to them! Wave your hand, that they may go into the gates of the nobles.</span>
  <span class="verse" title="Isaiah 13:3" id="Isaiah-13-3">I have commanded my consecrated ones; yes, I have called my mighty men for my anger, even my proudly exulting ones.</span>
  <span class="verse" title="Isaiah 13:4" id="Isaiah-13-4">The noise of a multitude is in the mountains, as of a great people; the noise of an uproar of the kingdoms of the nations gathered together! Yahweh of Armies is mustering the army for the battle.</span>
  <span class="verse" title="Isaiah 13:5" id="Isaiah-13-5">They come from a far country, from the uttermost part of heaven, even Yahweh, and the weapons of his indignation, to destroy the whole land.</span>
  <span class="verse" title="Isaiah 13:6" id="Isaiah-13-6">Wail; for the day of Yahweh is at hand! It will come as destruction from the Almighty.</span>
  <span class="verse" title="Isaiah 13:7" id="Isaiah-13-7">Therefore all hands will be feeble, and everyone&#8217;s heart will melt.</span>
  <span class="verse" title="Isaiah 13:8" id="Isaiah-13-8">They will be dismayed. Pangs and sorrows will seize them. They will be in pain like a woman in labor. They will look in amazement one at another. Their faces will be faces of flame.</span>
  <span class="verse" title="Isaiah 13:9" id="Isaiah-13-9">Behold, the day of Yahweh comes, cruel, with wrath and fierce anger; to make the land a desolation, and to destroy its sinners out of it.</span>
  <span class="verse" title="Isaiah 13:10" id="Isaiah-13-10">For the stars of the sky and its constellations will not give their light. The sun will be darkened in its going forth, and the moon will not cause its light to shine.</span>
  <span class="verse" title="Isaiah 13:11" id="Isaiah-13-11">I will punish the world for their evil, and the wicked for their iniquity. I will cause the arrogance of the proud to cease, and will humble the haughtiness of the terrible.</span>
  <span class="verse" title="Isaiah 13:12" id="Isaiah-13-12">I will make people more rare than fine gold, even a person than the pure gold of Ophir.</span>
  <span class="verse" title="Isaiah 13:13" id="Isaiah-13-13">Therefore I will make the heavens tremble, and the earth will be shaken out of its place in the wrath of Yahweh of Armies, and in the day of his fierce anger.</span>
  <span class="verse" title="Isaiah 13:14" id="Isaiah-13-14">It will happen that like a hunted gazelle, and like sheep that no one gathers, they will each turn to their own people, and will each flee to their own land.</span>
  <span class="verse" title="Isaiah 13:15" id="Isaiah-13-15">Everyone who is found will be thrust through. Everyone who is captured will fall by the sword.</span>
  <span class="verse" title="Isaiah 13:16" id="Isaiah-13-16">Their infants also will be dashed in pieces before their eyes. Their houses will be ransacked, and their wives raped.</span>
  <span class="verse" title="Isaiah 13:17" id="Isaiah-13-17">Behold, I will stir up the Medes against them, who will not value silver, and as for gold, they will not delight in it.</span>
  <span class="verse" title="Isaiah 13:18" id="Isaiah-13-18">Their bows will dash the young men in pieces; and they shall have no pity on the fruit of the womb. Their eyes will not spare children.</span>
  <span class="verse" title="Isaiah 13:19" id="Isaiah-13-19">Babylon, the glory of kingdoms, the beauty of the Chaldeans&#8217; pride, will be like when God overthrew Sodom and Gomorrah.</span>
  <span class="verse" title="Isaiah 13:20" id="Isaiah-13-20">It will never be inhabited, neither will it be lived in from generation to generation. The Arabian will not pitch a tent there, neither will shepherds make their flocks lie down there.</span>
  <span class="verse" title="Isaiah 13:21" id="Isaiah-13-21">But wild animals of the desert will lie there, and their houses will be full of jackals. Ostriches will dwell there, and wild goats will frolic there.</span>
  <span class="verse" title="Isaiah 13:22" id="Isaiah-13-22">Wolves will cry in their castles, and jackals in the pleasant palaces. Her time is near to come, and her days will not be prolonged.</span>
</div>