<div class="chapter" id="Isaiah-014">
  <h2>Isaiah 14</h2>
  <span class="verse" title="Isaiah 14:1" id="Isaiah-14-1">For Yahweh will have compassion on Jacob, and will yet choose Israel, and set them in their own land. The foreigner will join himself with them, and they will unite with the house of Jacob.</span>
  <span class="verse" title="Isaiah 14:2" id="Isaiah-14-2">The peoples will take them, and bring them to their place. The house of Israel will possess them in Yahweh&#8217;s land for servants and for handmaids. They will take as captives those whose captives they were; and they shall rule over their oppressors.</span>
  <span class="verse" title="Isaiah 14:3" id="Isaiah-14-3">It will happen in the day that Yahweh will give you rest from your sorrow, from your trouble, and from the hard service in which you were made to serve,</span>
  <span class="verse" title="Isaiah 14:4" id="Isaiah-14-4">that you will take up this parable against the king of Babylon, and say, &#8220;How the oppressor has ceased! The golden city has ceased!&#8221;</span>
  <span class="verse" title="Isaiah 14:5" id="Isaiah-14-5">Yahweh has broken the staff of the wicked, the scepter of the rulers,</span>
  <span class="verse" title="Isaiah 14:6" id="Isaiah-14-6">who struck the peoples in wrath with a continual stroke, who ruled the nations in anger, with a persecution that none restrained.</span>
  <span class="verse" title="Isaiah 14:7" id="Isaiah-14-7">The whole earth is at rest, and is quiet. They break out song.</span>
  <span class="verse" title="Isaiah 14:8" id="Isaiah-14-8">Yes, the fir trees rejoice with you, with the cedars of Lebanon, saying, &#8220;Since you are humbled, no lumberjack has come up against us.&#8221;</span>
  <span class="verse" title="Isaiah 14:9" id="Isaiah-14-9">Sheol from beneath has moved for you to meet you at your coming. It stirs up the dead for you, even all the rulers of the earth. It has raised up from their thrones all the kings of the nations.</span>
  <span class="verse" title="Isaiah 14:10" id="Isaiah-14-10">They all will answer and ask you, &#8220;Have you also become as weak as we are? Have you become like us?&#8221;</span>
  <span class="verse" title="Isaiah 14:11" id="Isaiah-14-11">Your pomp is brought down to Sheol, with the sound of your stringed instruments. Maggots are spread out under you, and worms cover you.</span>
  <span class="verse" title="Isaiah 14:12" id="Isaiah-14-12">How you have fallen from heaven, morning star, son of the dawn! How you are cut down to the ground, who laid the nations low!</span>
  <span class="verse" title="Isaiah 14:13" id="Isaiah-14-13">You said in your heart, &#8220;I will ascend into heaven! I will exalt my throne above the stars of God! I will sit on the mountain of assembly, in the far north!</span>
  <span class="verse" title="Isaiah 14:14" id="Isaiah-14-14">I will ascend above the heights of the clouds! I will make myself like the Most High!&#8221;</span>
  <span class="verse" title="Isaiah 14:15" id="Isaiah-14-15">Yet you shall be brought down to Sheol, to the depths of the pit.</span>
  <span class="verse" title="Isaiah 14:16" id="Isaiah-14-16">Those who see you will stare at you. They will ponder you, saying, &#8220;Is this the man who made the earth to tremble, who shook kingdoms;</span>
  <span class="verse" title="Isaiah 14:17" id="Isaiah-14-17">who made the world like a wilderness, and overthrew its cities; who didn&#8217;t release his prisoners to their home?&#8221;</span>
  <span class="verse" title="Isaiah 14:18" id="Isaiah-14-18">All the kings of the nations, sleep in glory, everyone in his own house.</span>
  <span class="verse" title="Isaiah 14:19" id="Isaiah-14-19">But you are cast away from your tomb like an abominable branch, clothed with the slain, who are thrust through with the sword, who go down to the stones of the pit; like a dead body trodden under foot.</span>
  <span class="verse" title="Isaiah 14:20" id="Isaiah-14-20">You will not join them in burial, because you have destroyed your land. You have killed your people. The seed of evildoers will not be named forever.</span>
  <span class="verse" title="Isaiah 14:21" id="Isaiah-14-21">Prepare for slaughter of his children because of the iniquity of their fathers, that they not rise up and possess the earth, and fill the surface of the world with cities.</span>
  <span class="verse" title="Isaiah 14:22" id="Isaiah-14-22">&#8220;I will rise up against them,&#8221; says Yahweh of Armies, &#8220;and cut off from Babylon name and remnant, and son and son&#8217;s son,&#8221; says Yahweh.</span>
  <span class="verse" title="Isaiah 14:23" id="Isaiah-14-23">&#8220;I will also make it a possession for the porcupine, and pools of water. I will sweep it with the broom of destruction,&#8221; says Yahweh of Armies.</span>
  <span class="verse" title="Isaiah 14:24" id="Isaiah-14-24">Yahweh of Armies has sworn, saying, &#8220;Surely, as I have thought, so shall it happen; and as I have purposed, so shall it stand:</span>
  <span class="verse" title="Isaiah 14:25" id="Isaiah-14-25">that I will break the Assyrian in my land, and tread him under foot on my mountains. Then his yoke will leave them, and his burden leave their shoulders.</span>
  <span class="verse" title="Isaiah 14:26" id="Isaiah-14-26">This is the plan that is determined for the whole earth. This is the hand that is stretched out over all the nations.</span>
  <span class="verse" title="Isaiah 14:27" id="Isaiah-14-27">For Yahweh of Armies has planned, and who can stop it? His hand is stretched out, and who can turn it back?&#8221;</span>
  <span class="verse" title="Isaiah 14:28" id="Isaiah-14-28">This burden was in the year that king Ahaz died.</span>
  <span class="verse" title="Isaiah 14:29" id="Isaiah-14-29">Don&#8217;t rejoice, O Philistia, all of you, because the rod that struck you is broken; for out of the serpent&#8217;s root an adder will emerge, and his fruit will be a fiery flying serpent.</span>
  <span class="verse" title="Isaiah 14:30" id="Isaiah-14-30">The firstborn of the poor will eat, and the needy will lie down in safety; and I will kill your root with famine, and your remnant will be killed.</span>
  <span class="verse" title="Isaiah 14:31" id="Isaiah-14-31">Howl, gate! Cry, city! You are melted away, Philistia, all of you; for smoke comes out of the north, and there is no straggler in his ranks.</span>
  <span class="verse" title="Isaiah 14:32" id="Isaiah-14-32">What will they answer the messengers of the nation? That Yahweh has founded Zion, and in her the afflicted of his people will take refuge.</span>
</div>