<div class="chapter" id="Isaiah-015">
  <h2>Isaiah 15</h2>
  <span class="verse" title="Isaiah 15:1" id="Isaiah-15-1">The burden of Moab: for in a night, Ar of Moab is laid waste, and brought to nothing; for in a night Kir of Moab is laid waste, and brought to nothing.</span>
  <span class="verse" title="Isaiah 15:2" id="Isaiah-15-2">They have gone up to Bayith, and to Dibon, to the high places, to weep. Moab wails over Nebo and over Medeba. Baldness is on all of their heads. Every beard is cut off.</span>
  <span class="verse" title="Isaiah 15:3" id="Isaiah-15-3">In their streets, they clothe themselves in sackcloth. In their streets and on their housetops, everyone wails, weeping abundantly.</span>
  <span class="verse" title="Isaiah 15:4" id="Isaiah-15-4">Heshbon cries out with Elealeh. Their voice is heard even to Jahaz. Therefore the armed men of Moab cry aloud. Their souls tremble within them.</span>
  <span class="verse" title="Isaiah 15:5" id="Isaiah-15-5">My heart cries out for Moab! Her nobles flee to Zoar, to Eglath Shelishiyah; for they go up by the ascent of Luhith with weeping; for in the way of Horonaim, they raise up a cry of destruction.</span>
  <span class="verse" title="Isaiah 15:6" id="Isaiah-15-6">For the waters of Nimrim will be desolate; for the grass has withered away, the tender grass fails, there is no green thing.</span>
  <span class="verse" title="Isaiah 15:7" id="Isaiah-15-7">Therefore they will carry away the abundance they have gotten, and that which they have stored up, over the brook of the willows.</span>
  <span class="verse" title="Isaiah 15:8" id="Isaiah-15-8">For the cry has gone around the borders of Moab; its wailing to Eglaim, and its wailing to Beer Elim.</span>
  <span class="verse" title="Isaiah 15:9" id="Isaiah-15-9">For the waters of Dimon are full of blood; for I will bring yet more on Dimon, a lion on those of Moab who escape, and on the remnant of the land.</span>
</div>