<div class="chapter" id="Isaiah-017">
  <h2>Isaiah 17</h2>
  <span class="verse" title="Isaiah 17:1" id="Isaiah-17-1">The burden of Damascus: &#8220;Behold, Damascus is taken away from being a city, and it will be a ruinous heap.</span>
  <span class="verse" title="Isaiah 17:2" id="Isaiah-17-2">The cities of Aroer are forsaken. They will be for flocks, which shall lie down, and none shall make them afraid.</span>
  <span class="verse" title="Isaiah 17:3" id="Isaiah-17-3">The fortress shall cease from Ephraim, and the kingdom from Damascus, and the remnant of Syria. They will be as the glory of the children of Israel,&#8221; says Yahweh of Armies.</span>
  <span class="verse" title="Isaiah 17:4" id="Isaiah-17-4">&#8220;It will happen in that day that the glory of Jacob will be made thin, and the fatness of his flesh will become lean.</span>
  <span class="verse" title="Isaiah 17:5" id="Isaiah-17-5">It will be like when the harvester gathers the wheat, and his arm reaps the grain. Yes, it will be like when one gleans grain in the valley of Rephaim.</span>
  <span class="verse" title="Isaiah 17:6" id="Isaiah-17-6">Yet gleanings will be left there, like the shaking of an olive tree, two or three olives in the top of the uppermost bough, four or five in the outermost branches of a fruitful tree,&#8221; says Yahweh, the God of Israel.</span>
  <span class="verse" title="Isaiah 17:7" id="Isaiah-17-7">In that day, people will look to their Maker, and their eyes will have respect for the Holy One of Israel.</span>
  <span class="verse" title="Isaiah 17:8" id="Isaiah-17-8">They will not look to the altars, the work of their hands; neither shall they respect that which their fingers have made, either the Asherim, or the incense altars.</span>
  <span class="verse" title="Isaiah 17:9" id="Isaiah-17-9">In that day, their strong cities will be like the forsaken places in the woods and on the mountain top, which were forsaken from before the children of Israel; and it will be a desolation.</span>
  <span class="verse" title="Isaiah 17:10" id="Isaiah-17-10">For you have forgotten the God of your salvation, and have not remembered the rock of your strength. Therefore you plant pleasant plants, and set out foreign seedlings.</span>
  <span class="verse" title="Isaiah 17:11" id="Isaiah-17-11">In the day of your planting, you hedge it in. In the morning, you make your seed blossom, but the harvest flees away in the day of grief and of desperate sorrow.</span>
  <span class="verse" title="Isaiah 17:12" id="Isaiah-17-12">Ah, the uproar of many peoples, who roar like the roaring of the seas; and the rushing of nations, that rush like the rushing of mighty waters!</span>
  <span class="verse" title="Isaiah 17:13" id="Isaiah-17-13">The nations will rush like the rushing of many waters: but he will rebuke them, and they will flee far off, and will be chased like the chaff of the mountains before the wind, and like the whirling dust before the storm.</span>
  <span class="verse" title="Isaiah 17:14" id="Isaiah-17-14">At evening, behold, terror! Before the morning, they are no more. This is the portion of those who plunder us, and the lot of those who rob us.</span>
</div>