<div class="chapter" id="Isaiah-018">
  <h2>Isaiah 18</h2>
  <span class="verse" title="Isaiah 18:1" id="Isaiah-18-1">Ah, the land of the rustling of wings, which is beyond the rivers of Ethiopia;</span>
  <span class="verse" title="Isaiah 18:2" id="Isaiah-18-2">that sends ambassadors by the sea, even in vessels of papyrus on the waters, saying, &#8220;Go, you swift messengers, to a nation tall and smooth, to a people awesome from their beginning onward, a nation that measures out and treads down, whose land the rivers divide!&#8221;</span>
  <span class="verse" title="Isaiah 18:3" id="Isaiah-18-3">All you inhabitants of the world, and you dwellers on the earth, when a banner is lifted up on the mountains, look! When the trumpet is blown, listen!</span>
  <span class="verse" title="Isaiah 18:4" id="Isaiah-18-4">For Yahweh said to me, &#8220;I will be still, and I will see in my dwelling place, like clear heat in sunshine, like a cloud of dew in the heat of harvest.&#8221;</span>
  <span class="verse" title="Isaiah 18:5" id="Isaiah-18-5">For before the harvest, when the blossom is over, and the flower becomes a ripening grape, he will cut off the sprigs with pruning hooks, and he will cut down and take away the spreading branches.</span>
  <span class="verse" title="Isaiah 18:6" id="Isaiah-18-6">They will be left together for the ravenous birds of the mountains, and for the animals of the earth. The ravenous birds will summer on them, and all the animals of the earth will winter on them.</span>
  <span class="verse" title="Isaiah 18:7" id="Isaiah-18-7">In that time, a present will be brought to Yahweh of Armies from a people tall and smooth, even from a people awesome from their beginning onward, a nation that measures out and treads down, whose land the rivers divide, to the place of the name of Yahweh of Armies, Mount Zion.</span>
</div>