<div class="chapter" id="Isaiah-019">
  <h2>Isaiah 19</h2>
  <span class="verse" title="Isaiah 19:1" id="Isaiah-19-1">The burden of Egypt: &#8220;Behold, Yahweh rides on a swift cloud, and comes to Egypt. The idols of Egypt will tremble at his presence; and the heart of Egypt will melt in its midst.</span>
  <span class="verse" title="Isaiah 19:2" id="Isaiah-19-2">I will stir up the Egyptians against the Egyptians, and they will fight everyone against his brother, and everyone against his neighbor; city against city, and kingdom against kingdom.</span>
  <span class="verse" title="Isaiah 19:3" id="Isaiah-19-3">The spirit of Egypt will fail in its midst. I will destroy its counsel. They will seek the idols, the charmers, those who have familiar spirits, and the wizards.</span>
  <span class="verse" title="Isaiah 19:4" id="Isaiah-19-4">I will give over the Egyptians into the hand of a cruel lord. A fierce king will rule over them,&#8221; says the Lord, Yahweh of Armies.</span>
  <span class="verse" title="Isaiah 19:5" id="Isaiah-19-5">The waters will fail from the sea, and the river will be wasted and become dry.</span>
  <span class="verse" title="Isaiah 19:6" id="Isaiah-19-6">The rivers will become foul. The streams of Egypt will be diminished and dried up. The reeds and flags will wither away.</span>
  <span class="verse" title="Isaiah 19:7" id="Isaiah-19-7">The meadows by the Nile, by the brink of the Nile, and all the sown fields of the Nile, will become dry, be driven away, and be no more.</span>
  <span class="verse" title="Isaiah 19:8" id="Isaiah-19-8">The fishermen will lament, and all those who fish in the Nile will mourn, and those who spread nets on the waters will languish.</span>
  <span class="verse" title="Isaiah 19:9" id="Isaiah-19-9">Moreover those who work in combed flax, and those who weave white cloth, will be confounded.</span>
  <span class="verse" title="Isaiah 19:10" id="Isaiah-19-10">The pillars will be broken in pieces. All those who work for hire will be grieved in soul.</span>
  <span class="verse" title="Isaiah 19:11" id="Isaiah-19-11">The princes of Zoan are utterly foolish. The counsel of the wisest counselors of Pharaoh has become stupid. How do you say to Pharaoh, &#8220;I am the son of the wise, the son of ancient kings?&#8221;</span>
  <span class="verse" title="Isaiah 19:12" id="Isaiah-19-12">Where then are your wise men? Let them tell you now; and let them know what Yahweh of Armies has purposed concerning Egypt.</span>
  <span class="verse" title="Isaiah 19:13" id="Isaiah-19-13">The princes of Zoan have become fools. The princes of Memphis are deceived. They have caused Egypt to go astray, who are the cornerstone of her tribes.</span>
  <span class="verse" title="Isaiah 19:14" id="Isaiah-19-14">Yahweh has mixed a spirit of perverseness in the midst of her; and they have caused Egypt to go astray in all of its works, like a drunken man staggers in his vomit.</span>
  <span class="verse" title="Isaiah 19:15" id="Isaiah-19-15">Neither shall there be any work for Egypt, which head or tail, palm branch or rush, may do.</span>
  <span class="verse" title="Isaiah 19:16" id="Isaiah-19-16">In that day the Egyptians will be like women. They will tremble and fear because of the shaking of the hand of Yahweh of Armies, which he shakes over them.</span>
  <span class="verse" title="Isaiah 19:17" id="Isaiah-19-17">The land of Judah will become a terror to Egypt. Everyone to whom mention is made of it will be afraid, because of the plans of Yahweh of Armies, which he determines against it.</span>
  <span class="verse" title="Isaiah 19:18" id="Isaiah-19-18">In that day, there will be five cities in the land of Egypt that speak the language of Canaan, and swear to Yahweh of Armies. One will be called &#8220;The city of destruction.&#8221;</span>
  <span class="verse" title="Isaiah 19:19" id="Isaiah-19-19">In that day, there will be an altar to Yahweh in the midst of the land of Egypt, and a pillar to Yahweh at its border.</span>
  <span class="verse" title="Isaiah 19:20" id="Isaiah-19-20">It will be for a sign and for a witness to Yahweh of Armies in the land of Egypt; for they will cry to Yahweh because of oppressors, and he will send them a savior and a defender, and he will deliver them.</span>
  <span class="verse" title="Isaiah 19:21" id="Isaiah-19-21">Yahweh will be known to Egypt, and the Egyptians will know Yahweh in that day. Yes, they will worship with sacrifice and offering, and will vow a vow to Yahweh, and will perform it.</span>
  <span class="verse" title="Isaiah 19:22" id="Isaiah-19-22">Yahweh will strike Egypt, striking and healing. They will return to Yahweh, and he will be entreated by them, and will heal them.</span>
  <span class="verse" title="Isaiah 19:23" id="Isaiah-19-23">In that day there will be a highway out of Egypt to Assyria, and the Assyrian shall come into Egypt, and the Egyptian into Assyria; and the Egyptians will worship with the Assyrians.</span>
  <span class="verse" title="Isaiah 19:24" id="Isaiah-19-24">In that day, Israel will be the third with Egypt and with Assyria, a blessing in the midst of the earth;</span>
  <span class="verse" title="Isaiah 19:25" id="Isaiah-19-25">because Yahweh of Armies has blessed them, saying, &#8220;Blessed be Egypt my people, Assyria the work of my hands, and Israel my inheritance.&#8221;</span>
</div>