<div class="chapter" id="Isaiah-020">
  <h2>Isaiah 20</h2>
  <span class="verse" title="Isaiah 20:1" id="Isaiah-20-1">In the year that Tartan came to Ashdod, when Sargon the king of Assyria sent him, and he fought against Ashdod and took it;</span>
  <span class="verse" title="Isaiah 20:2" id="Isaiah-20-2">at that time Yahweh spoke by Isaiah the son of Amoz, saying, &#8220;Go, and loosen the sackcloth from off your waist, and take your shoes from off your feet.&#8221; He did so, walking naked and barefoot.</span>
  <span class="verse" title="Isaiah 20:3" id="Isaiah-20-3">Yahweh said, &#8220;As my servant Isaiah has walked naked and barefoot three years for a sign and a wonder concerning Egypt and concerning Ethiopia,</span>
  <span class="verse" title="Isaiah 20:4" id="Isaiah-20-4">so the king of Assyria will lead away the captives of Egypt and the exiles of Ethiopia, young and old, naked and barefoot, and with buttocks uncovered, to the shame of Egypt.</span>
  <span class="verse" title="Isaiah 20:5" id="Isaiah-20-5">They will be dismayed and confounded, because of Ethiopia their expectation, and of Egypt their glory.</span>
  <span class="verse" title="Isaiah 20:6" id="Isaiah-20-6">The inhabitants of this coast land will say in that day, &#8216;Behold, this is our expectation, where we fled for help to be delivered from the king of Assyria. And we, how will we escape?&#8217;&#8221;</span>
</div>