<div class="chapter" id="Isaiah-021">
  <h2>Isaiah 21</h2>
  <span class="verse" title="Isaiah 21:1" id="Isaiah-21-1">The burden of the wilderness of the sea. As whirlwinds in the South sweep through, it comes from the wilderness, from an awesome land.</span>
  <span class="verse" title="Isaiah 21:2" id="Isaiah-21-2">A grievous vision is declared to me. The treacherous man deals treacherously, and the destroyer destroys. Go up, Elam; attack! I have stopped all of Media&#8217;s sighing.</span>
  <span class="verse" title="Isaiah 21:3" id="Isaiah-21-3">Therefore my thighs are filled with anguish. Pains have taken hold on me, like the pains of a woman in labor. I am in so much pain that I can&#8217;t hear. I so am dismayed that I can&#8217;t see.</span>
  <span class="verse" title="Isaiah 21:4" id="Isaiah-21-4">My heart flutters. Horror has frightened me. The twilight that I desired has been turned into trembling for me.</span>
  <span class="verse" title="Isaiah 21:5" id="Isaiah-21-5">They prepare the table. They set the watch. They eat. They drink. Rise up, you princes, oil the shield!</span>
  <span class="verse" title="Isaiah 21:6" id="Isaiah-21-6">For the Lord said to me, &#8220;Go, set a watchman. Let him declare what he sees.</span>
  <span class="verse" title="Isaiah 21:7" id="Isaiah-21-7">When he sees a troop, horsemen in pairs, a troop of donkeys, a troop of camels, he shall listen diligently with great attentiveness.&#8221;</span>
  <span class="verse" title="Isaiah 21:8" id="Isaiah-21-8">He cried like a lion: &#8220;Lord, I stand continually on the watchtower in the daytime, and every night I stay at my post.</span>
  <span class="verse" title="Isaiah 21:9" id="Isaiah-21-9">Behold, here comes a troop of men, horsemen in pairs.&#8221; He answered, &#8220;Fallen, fallen is Babylon; and all the engraved images of her gods are broken to the ground.</span>
  <span class="verse" title="Isaiah 21:10" id="Isaiah-21-10">You are my threshing, and the grain of my floor!&#8221; That which I have heard from Yahweh of Armies, the God of Israel, I have declared to you.</span>
  <span class="verse" title="Isaiah 21:11" id="Isaiah-21-11">The burden of Dumah. One calls to me out of Seir, &#8220;Watchman, what of the night? Watchman, what of the night?&#8221;</span>
  <span class="verse" title="Isaiah 21:12" id="Isaiah-21-12">The watchman said, &#8220;The morning comes, and also the night. If you will inquire, inquire. Come back again.&#8221;</span>
  <span class="verse" title="Isaiah 21:13" id="Isaiah-21-13">The burden on Arabia. In the forest in Arabia you will lodge, you caravans of Dedanites.</span>
  <span class="verse" title="Isaiah 21:14" id="Isaiah-21-14">They brought water to him who was thirsty. The inhabitants of the land of Tema met the fugitives with their bread.</span>
  <span class="verse" title="Isaiah 21:15" id="Isaiah-21-15">For they fled away from the swords, from the drawn sword, from the bent bow, and from the heat of battle.</span>
  <span class="verse" title="Isaiah 21:16" id="Isaiah-21-16">For the Lord said to me, &#8220;Within a year, as a worker bound by contract would count it, all the glory of Kedar will fail,</span>
  <span class="verse" title="Isaiah 21:17" id="Isaiah-21-17">and the residue of the number of the archers, the mighty men of the children of Kedar, will be few; for Yahweh, the God of Israel, has spoken it.&#8221;</span>
</div>