<div class="chapter" id="Isaiah-022">
  <h2>Isaiah 22</h2>
  <span class="verse" title="Isaiah 22:1" id="Isaiah-22-1">The burden of the valley of vision. What ails you now, that you have all gone up to the housetops?</span>
  <span class="verse" title="Isaiah 22:2" id="Isaiah-22-2">You that are full of shouting, a tumultuous city, a joyous town; your slain are not slain with the sword, neither are they dead in battle.</span>
  <span class="verse" title="Isaiah 22:3" id="Isaiah-22-3">All your rulers fled away together. They were bound by the archers. All who were found by you were bound together. They fled far away.</span>
  <span class="verse" title="Isaiah 22:4" id="Isaiah-22-4">Therefore I said, &#8220;Look away from me. I will weep bitterly. Don&#8217;t labor to comfort me for the destruction of the daughter of my people.</span>
  <span class="verse" title="Isaiah 22:5" id="Isaiah-22-5">For it is a day of confusion, and of treading down, and of perplexity, from the Lord, Yahweh of Armies, in the valley of vision; a breaking down of the walls, and a crying to the mountains.&#8221;</span>
  <span class="verse" title="Isaiah 22:6" id="Isaiah-22-6">Elam carried his quiver, with chariots of men and horsemen; and Kir uncovered the shield.</span>
  <span class="verse" title="Isaiah 22:7" id="Isaiah-22-7">It happened that your choicest valleys were full of chariots, and the horsemen set themselves in array at the gate.</span>
  <span class="verse" title="Isaiah 22:8" id="Isaiah-22-8">He took away the covering of Judah; and you looked in that day to the armor in the house of the forest.</span>
  <span class="verse" title="Isaiah 22:9" id="Isaiah-22-9">You saw the breaches of the city of David, that they were many; and you gathered together the waters of the lower pool.</span>
  <span class="verse" title="Isaiah 22:10" id="Isaiah-22-10">You numbered the houses of Jerusalem, and you broke down the houses to fortify the wall.</span>
  <span class="verse" title="Isaiah 22:11" id="Isaiah-22-11">You also made a reservoir between the two walls for the water of the old pool. But you didn&#8217;t look to him who had done this, neither did you have respect for him who purposed it long ago.</span>
  <span class="verse" title="Isaiah 22:12" id="Isaiah-22-12">In that day, the Lord, Yahweh of Armies, called to weeping, and to mourning, and to baldness, and to dressing in sackcloth:</span>
  <span class="verse" title="Isaiah 22:13" id="Isaiah-22-13">and behold, joy and gladness, killing cattle and killing sheep, eating flesh and drinking wine: &#8220;Let us eat and drink, for tomorrow we will die.&#8221;</span>
  <span class="verse" title="Isaiah 22:14" id="Isaiah-22-14">Yahweh of Armies revealed himself in my ears, &#8220;Surely this iniquity will not be forgiven you until you die,&#8221; says the Lord, Yahweh of Armies.</span>
  <span class="verse" title="Isaiah 22:15" id="Isaiah-22-15">Thus says the Lord, Yahweh of Armies, &#8220;Go, get yourself to this treasurer, even to Shebna, who is over the house, and say,</span>
  <span class="verse" title="Isaiah 22:16" id="Isaiah-22-16">&#8216;What are you doing here? Who has you here, that you have dug out a tomb here?&#8217; Cutting himself out a tomb on high, chiseling a habitation for himself in the rock!&#8221;</span>
  <span class="verse" title="Isaiah 22:17" id="Isaiah-22-17">Behold, Yahweh will overcome you and hurl you away violently. Yes, he will grasp you firmly.</span>
  <span class="verse" title="Isaiah 22:18" id="Isaiah-22-18">He will surely wind you around and around, and throw you like a ball into a large country. There you will die, and there the chariots of your glory will be, you shame of your lord&#8217;s house.</span>
  <span class="verse" title="Isaiah 22:19" id="Isaiah-22-19">I will thrust you from your office. You will be pulled down from your station.</span>
  <span class="verse" title="Isaiah 22:20" id="Isaiah-22-20">It will happen in that day that I will call my servant Eliakim the son of Hilkiah,</span>
  <span class="verse" title="Isaiah 22:21" id="Isaiah-22-21">and I will clothe him with your robe, and strengthen him with your belt. I will commit your government into his hand; and he will be a father to the inhabitants of Jerusalem, and to the house of Judah.</span>
  <span class="verse" title="Isaiah 22:22" id="Isaiah-22-22">I will lay the key of the house of David on his shoulder. He will open, and no one will shut. He will shut, and no one will open.</span>
  <span class="verse" title="Isaiah 22:23" id="Isaiah-22-23">I will fasten him like a nail in a sure place. He will be for a throne of glory to his father&#8217;s house.</span>
  <span class="verse" title="Isaiah 22:24" id="Isaiah-22-24">They will hang on him all the glory of his father&#8217;s house, the offspring and the issue, every small vessel, from the cups even to all the pitchers.</span>
  <span class="verse" title="Isaiah 22:25" id="Isaiah-22-25">&#8220;In that day,&#8221; says Yahweh of Armies, &#8220;the nail that was fastened in a sure place will give way. It will be cut down, and fall. The burden that was on it will be cut off, for Yahweh has spoken it.&#8221;</span>
</div>