<div class="chapter" id="Isaiah-023">
  <h2>Isaiah 23</h2>
  <span class="verse" title="Isaiah 23:1" id="Isaiah-23-1">The burden of Tyre. Howl, you ships of Tarshish! For it is laid waste, so that there is no house, no entering in. From the land of Kittim it is revealed to them.</span>
  <span class="verse" title="Isaiah 23:2" id="Isaiah-23-2">Be still, you inhabitants of the coast, you whom the merchants of Sidon, that pass over the sea, have replenished.</span>
  <span class="verse" title="Isaiah 23:3" id="Isaiah-23-3">On great waters, the seed of the Shihor, the harvest of the Nile, was her revenue. She was the market of nations.</span>
  <span class="verse" title="Isaiah 23:4" id="Isaiah-23-4">Be ashamed, Sidon; for the sea has spoken, the stronghold of the sea, saying, &#8220;I have not travailed, nor brought forth, neither have I nourished young men, nor brought up virgins.&#8221;</span>
  <span class="verse" title="Isaiah 23:5" id="Isaiah-23-5">When the report comes to Egypt, they will be in anguish at the report of Tyre.</span>
  <span class="verse" title="Isaiah 23:6" id="Isaiah-23-6">Pass over to Tarshish! Wail, you inhabitants of the coast!</span>
  <span class="verse" title="Isaiah 23:7" id="Isaiah-23-7">Is this your joyous city, whose antiquity is of ancient days, whose feet carried her far away to travel?</span>
  <span class="verse" title="Isaiah 23:8" id="Isaiah-23-8">Who has planned this against Tyre, the giver of crowns, whose merchants are princes, whose traffickers are the honorable of the earth?</span>
  <span class="verse" title="Isaiah 23:9" id="Isaiah-23-9">Yahweh of Armies has planned it, to stain the pride of all glory, to bring into contempt all the honorable of the earth.</span>
  <span class="verse" title="Isaiah 23:10" id="Isaiah-23-10">Pass through your land like the Nile, daughter of Tarshish. There is no restraint any more.</span>
  <span class="verse" title="Isaiah 23:11" id="Isaiah-23-11">He has stretched out his hand over the sea. He has shaken the kingdoms. Yahweh has ordered the destruction of Canaan&#8217;s strongholds.</span>
  <span class="verse" title="Isaiah 23:12" id="Isaiah-23-12">He said, &#8220;You shall rejoice no more, you oppressed virgin daughter of Sidon. Arise, pass over to Kittim. Even there you will have no rest.&#8221;</span>
  <span class="verse" title="Isaiah 23:13" id="Isaiah-23-13">Behold, the land of the Chaldeans. This people was not. The Assyrians founded it for those who dwell in the wilderness. They set up their towers. They overthrew its palaces. They made it a ruin.</span>
  <span class="verse" title="Isaiah 23:14" id="Isaiah-23-14">Howl, you ships of Tarshish, for your stronghold is laid waste!</span>
  <span class="verse" title="Isaiah 23:15" id="Isaiah-23-15">It will come to pass in that day that Tyre will be forgotten seventy years, according to the days of one king. After the end of seventy years it will be to Tyre like in the song of the prostitute.</span>
  <span class="verse" title="Isaiah 23:16" id="Isaiah-23-16">Take a harp; go about the city, you prostitute that has been forgotten. Make sweet melody. Sing many songs, that you may be remembered.</span>
  <span class="verse" title="Isaiah 23:17" id="Isaiah-23-17">It will happen after the end of seventy years that Yahweh will visit Tyre, and she shall return to her wages, and will play the prostitute with all the kingdoms of the world on the surface of the earth.</span>
  <span class="verse" title="Isaiah 23:18" id="Isaiah-23-18">Her merchandise and her wages will be holiness to Yahweh. It will not be treasured nor laid up; for her merchandise will be for those who dwell before Yahweh, to eat sufficiently, and for durable clothing.</span>
</div>