<div class="chapter" id="Isaiah-024">
  <h2>Isaiah 24</h2>
  <span class="verse" title="Isaiah 24:1" id="Isaiah-24-1">Behold, Yahweh makes the earth empty, makes it waste, turns it upside down, and scatters its inhabitants.</span>
  <span class="verse" title="Isaiah 24:2" id="Isaiah-24-2">It will be as with the people, so with the priest; as with the servant, so with his master; as with the maid, so with her mistress; as with the buyer, so with the seller; as with the creditor, so with the debtor; as with the taker of interest, so with the giver of interest.</span>
  <span class="verse" title="Isaiah 24:3" id="Isaiah-24-3">The earth will be utterly emptied and utterly laid waste; for Yahweh has spoken this word.</span>
  <span class="verse" title="Isaiah 24:4" id="Isaiah-24-4">The earth mourns and fades away. The world languishes and fades away. The lofty people of the earth languish.</span>
  <span class="verse" title="Isaiah 24:5" id="Isaiah-24-5">The earth also is polluted under its inhabitants, because they have transgressed the laws, violated the statutes, and broken the everlasting covenant.</span>
  <span class="verse" title="Isaiah 24:6" id="Isaiah-24-6">Therefore the curse has devoured the earth, and those who dwell therein are found guilty. Therefore the inhabitants of the earth are burned, and few men left.</span>
  <span class="verse" title="Isaiah 24:7" id="Isaiah-24-7">The new wine mourns. The vine languishes. All the merry-hearted sigh.</span>
  <span class="verse" title="Isaiah 24:8" id="Isaiah-24-8">The mirth of tambourines ceases. The sound of those who rejoice ends. The joy of the harp ceases.</span>
  <span class="verse" title="Isaiah 24:9" id="Isaiah-24-9">They will not drink wine with a song. Strong drink will be bitter to those who drink it.</span>
  <span class="verse" title="Isaiah 24:10" id="Isaiah-24-10">The confused city is broken down. Every house is shut up, that no man may come in.</span>
  <span class="verse" title="Isaiah 24:11" id="Isaiah-24-11">There is a crying in the streets because of the wine. All joy is darkened. The mirth of the land is gone.</span>
  <span class="verse" title="Isaiah 24:12" id="Isaiah-24-12">The city is left in desolation, and the gate is struck with destruction.</span>
  <span class="verse" title="Isaiah 24:13" id="Isaiah-24-13">For it will be so in the midst of the earth among the peoples, as the shaking of an olive tree, as the gleanings when the vintage is done.</span>
  <span class="verse" title="Isaiah 24:14" id="Isaiah-24-14">These shall lift up their voice. They will shout for the majesty of Yahweh. They cry aloud from the sea.</span>
  <span class="verse" title="Isaiah 24:15" id="Isaiah-24-15">Therefore glorify Yahweh in the east, even the name of Yahweh, the God of Israel, in the islands of the sea!</span>
  <span class="verse" title="Isaiah 24:16" id="Isaiah-24-16">From the uttermost part of the earth have we heard songs. Glory to the righteous! But I said, &#8220;I pine away! I pine away! woe is me!&#8221; The treacherous have dealt treacherously. Yes, the treacherous have dealt very treacherously.</span>
  <span class="verse" title="Isaiah 24:17" id="Isaiah-24-17">Fear, the pit, and the snare, are on you who inhabitant the earth.</span>
  <span class="verse" title="Isaiah 24:18" id="Isaiah-24-18">It will happen that he who flees from the noise of the fear will fall into the pit; and he who comes up out of the midst of the pit will be taken in the snare; for the windows on high are opened, and the foundations of the earth tremble.</span>
  <span class="verse" title="Isaiah 24:19" id="Isaiah-24-19">The earth is utterly broken. The earth is torn apart. The earth is shaken violently.</span>
  <span class="verse" title="Isaiah 24:20" id="Isaiah-24-20">The earth will stagger like a drunken man, and will sway back and forth like a hammock. Its disobedience will be heavy on it, and it will fall and not rise again.</span>
  <span class="verse" title="Isaiah 24:21" id="Isaiah-24-21">It shall happen in that day that Yahweh will punish the army of the high ones on high, and the kings of the earth on the earth.</span>
  <span class="verse" title="Isaiah 24:22" id="Isaiah-24-22">They shall be gathered together, as prisoners are gathered in the pit, and shall be shut up in the prison; and after many days shall they be visited.</span>
  <span class="verse" title="Isaiah 24:23" id="Isaiah-24-23">Then the moon shall be confounded, and the sun ashamed; for Yahweh of Armies will reign on Mount Zion, and in Jerusalem; and before his elders will be glory.</span>
</div>