<div class="chapter" id="Isaiah-025">
  <h2>Isaiah 25</h2>
  <span class="verse" title="Isaiah 25:1" id="Isaiah-25-1">Yahweh, you are my God. I will exalt you! I will praise your name, for you have done wonderful things, things planned long ago, in complete faithfulness and truth.</span>
  <span class="verse" title="Isaiah 25:2" id="Isaiah-25-2">For you have made a city into a heap, a fortified city into a ruin, a palace of strangers to be no city. It will never be built.</span>
  <span class="verse" title="Isaiah 25:3" id="Isaiah-25-3">Therefore a strong people will glorify you. A city of awesome nations will fear you.</span>
  <span class="verse" title="Isaiah 25:4" id="Isaiah-25-4">For you have been a stronghold to the poor, a stronghold to the needy in his distress, a refuge from the storm, a shade from the heat, when the blast of the dreaded ones is like a storm against the wall.</span>
  <span class="verse" title="Isaiah 25:5" id="Isaiah-25-5">As the heat in a dry place will you bring down the noise of strangers; as the heat by the shade of a cloud, the song of the dreaded ones will be brought low.</span>
  <span class="verse" title="Isaiah 25:6" id="Isaiah-25-6">In this mountain, Yahweh of Armies will make all peoples a feast of fat things, a feast of choice wines, of fat things full of marrow, of well refined choice wines.</span>
  <span class="verse" title="Isaiah 25:7" id="Isaiah-25-7">He will destroy in this mountain the surface of the covering that covers all peoples, and the veil that is spread over all nations.</span>
  <span class="verse" title="Isaiah 25:8" id="Isaiah-25-8">He has swallowed up death forever! The Lord Yahweh will wipe away tears from off all faces. He will take the reproach of his people away from off all the earth, for Yahweh has spoken it.</span>
  <span class="verse" title="Isaiah 25:9" id="Isaiah-25-9">It shall be said in that day, &#8220;Behold, this is our God! We have waited for him, and he will save us! This is Yahweh! We have waited for him. We will be glad and rejoice in his salvation!&#8221;</span>
  <span class="verse" title="Isaiah 25:10" id="Isaiah-25-10">For in this mountain the hand of Yahweh will rest. Moab will be trodden down in his place, even like straw is trodden down in the water of the dunghill.</span>
  <span class="verse" title="Isaiah 25:11" id="Isaiah-25-11">He will spread out his hands in its midst, like one who swims spreads out hands to swim, but his pride will be humbled together with the craft of his hands.</span>
  <span class="verse" title="Isaiah 25:12" id="Isaiah-25-12">He has brought the high fortress of your walls down, laid low, and brought to the ground, even to the dust.</span>
</div>