<div class="chapter" id="Isaiah-026">
  <h2>Isaiah 26</h2>
  <span class="verse" title="Isaiah 26:1" id="Isaiah-26-1">In that day, this song will be sung in the land of Judah:   &#8220;We have a strong city.<br/> <span class="indent">&nbsp;&nbsp;</span>God appoints salvation for walls and bulwarks.<br/></span>
  <span class="verse" title="Isaiah 26:2" id="Isaiah-26-2">Open the gates, that the righteous nation may enter:<br/> <span class="indent">&nbsp;&nbsp;</span>the one which keeps faith.<br/></span>
  <span class="verse" title="Isaiah 26:3" id="Isaiah-26-3">You will keep whoever&#8217;s mind is steadfast in perfect peace,<br/> <span class="indent">&nbsp;&nbsp;</span>because he trusts in you.<br/></span>
  <span class="verse" title="Isaiah 26:4" id="Isaiah-26-4">Trust in Yahweh forever;<br/> <span class="indent">&nbsp;&nbsp;</span>for in Yah, Yahweh, is an everlasting Rock.<br/></span>
  <span class="verse" title="Isaiah 26:5" id="Isaiah-26-5">For he has brought down those who dwell on high, the lofty city.<br/> <span class="indent">&nbsp;&nbsp;</span>He lays it low.<br/> <span class="indent">&nbsp;&nbsp;</span>He lays it low even to the ground.<br/> <span class="indent">&nbsp;&nbsp;</span>He brings it even to the dust.<br/></span>
  <span class="verse" title="Isaiah 26:6" id="Isaiah-26-6">The foot shall tread it down;<br/> <span class="indent">&nbsp;&nbsp;</span>Even the feet of the poor,<br/> <span class="indent">&nbsp;&nbsp;</span>and the steps of the needy.&#8221;<br/></span>
  <span class="verse" title="Isaiah 26:7" id="Isaiah-26-7">The way of the just is uprightness.<br/> <span class="indent">&nbsp;&nbsp;</span>You who are upright make the path of the righteous level.<br/></span>
  <span class="verse" title="Isaiah 26:8" id="Isaiah-26-8"><br/>  Yes, in the way of your judgments, Yahweh, have we waited for you. Your name and your renown are the desire of our soul.</span>
  <span class="verse" title="Isaiah 26:9" id="Isaiah-26-9">With my soul have I desired you in the night. Yes, with my spirit within me will I seek you earnestly; for when your judgments are in the earth, the inhabitants of the world learn righteousness.</span>
  <span class="verse" title="Isaiah 26:10" id="Isaiah-26-10">Let favor be shown to the wicked, yet he will not learn righteousness. In the land of uprightness he will deal wrongfully, and will not see Yahweh&#8217;s majesty.</span>
  <span class="verse" title="Isaiah 26:11" id="Isaiah-26-11">Yahweh, your hand is lifted up, yet they don&#8217;t see; but they will see your zeal for the people, and be disappointed. Yes, fire will consume your adversaries.</span>
  <span class="verse" title="Isaiah 26:12" id="Isaiah-26-12">Yahweh, you will ordain peace for us, for you have also worked all our works for us.</span>
  <span class="verse" title="Isaiah 26:13" id="Isaiah-26-13">Yahweh our God, other lords besides you have had dominion over us, but by you only will we make mention of your name.</span>
  <span class="verse" title="Isaiah 26:14" id="Isaiah-26-14">The dead shall not live. The deceased shall not rise. Therefore have you visited and destroyed them, and caused all memory of them to perish.</span>
  <span class="verse" title="Isaiah 26:15" id="Isaiah-26-15">You have increased the nation, O Yahweh. You have increased the nation! You are glorified! You have enlarged all the borders of the land.</span>
  <span class="verse" title="Isaiah 26:16" id="Isaiah-26-16">Yahweh, in trouble they have visited you. They poured out a prayer when your chastening was on them.</span>
  <span class="verse" title="Isaiah 26:17" id="Isaiah-26-17">Like as a woman with child, who draws near the time of her delivery, is in pain and cries out in her pangs; so we have been before you, Yahweh.</span>
  <span class="verse" title="Isaiah 26:18" id="Isaiah-26-18">We have been with child. We have been in pain. We gave birth, it seems, only to wind. We have not worked any deliverance in the earth; neither have the inhabitants of the world fallen.</span>
  <span class="verse" title="Isaiah 26:19" id="Isaiah-26-19">Your dead shall live. My dead bodies shall arise. Awake and sing, you who dwell in the dust; for your dew is like the dew of herbs, and the earth will cast forth the dead.</span>
  <span class="verse" title="Isaiah 26:20" id="Isaiah-26-20">Come, my people, enter into your rooms, and shut your doors behind you. Hide yourself for a little moment, until the indignation is past.</span>
  <span class="verse" title="Isaiah 26:21" id="Isaiah-26-21">For, behold, Yahweh comes forth out of his place to punish the inhabitants of the earth for their iniquity. The earth also will disclose her blood, and will no longer cover her slain.</span>
</div>