<div class="chapter" id="Isaiah-027">
  <h2>Isaiah 27</h2>
  <span class="verse" title="Isaiah 27:1" id="Isaiah-27-1">In that day, Yahweh with his hard and great and strong sword will punish leviathan, the fleeing serpent, and leviathan the twisted serpent; and he will kill the dragon that is in the sea.</span>
  <span class="verse" title="Isaiah 27:2" id="Isaiah-27-2">In that day, sing to her, &#8220;A pleasant vineyard!</span>
  <span class="verse" title="Isaiah 27:3" id="Isaiah-27-3">I, Yahweh, am its keeper. I will water it every moment. Lest anyone damage it, I will keep it night and day.</span>
  <span class="verse" title="Isaiah 27:4" id="Isaiah-27-4">Wrath is not in me, but if I should find briers and thorns, I would do battle! I would march on them and I would burn them together.</span>
  <span class="verse" title="Isaiah 27:5" id="Isaiah-27-5">Or else let him take hold of my strength, that he may make peace with me. Let him make peace with me.&#8221;</span>
  <span class="verse" title="Isaiah 27:6" id="Isaiah-27-6">In days to come, Jacob will take root. Israel will blossom and bud. They will fill the surface of the world with fruit.</span>
  <span class="verse" title="Isaiah 27:7" id="Isaiah-27-7">Has he struck them as he struck those who struck them? Or are they killed like those who killed them were killed?</span>
  <span class="verse" title="Isaiah 27:8" id="Isaiah-27-8">In measure, when you send them away, you contend with them. He has removed them with his rough blast in the day of the east wind.</span>
  <span class="verse" title="Isaiah 27:9" id="Isaiah-27-9">Therefore, by this the iniquity of Jacob will be forgiven, and this is all the fruit of taking away his sin: that he makes all the stones of the altar as chalk stones that are beaten in pieces, so that the Asherim and the incense altars shall rise no more.</span>
  <span class="verse" title="Isaiah 27:10" id="Isaiah-27-10">For the fortified city is solitary, a habitation deserted and forsaken, like the wilderness. The calf will feed there, and there he will lie down, and consume its branches.</span>
  <span class="verse" title="Isaiah 27:11" id="Isaiah-27-11">When its boughs are withered, they will be broken off. The women will come and set them on fire, for they are a people of no understanding. Therefore he who made them will not have compassion on them, and he who formed them will show them no favor.</span>
  <span class="verse" title="Isaiah 27:12" id="Isaiah-27-12">It will happen in that day, that Yahweh will thresh from the flowing stream of the Euphrates to the brook of Egypt; and you will be gathered one by one, children of Israel.</span>
  <span class="verse" title="Isaiah 27:13" id="Isaiah-27-13">It will happen in that day that a great trumpet will be blown; and those who were ready to perish in the land of Assyria, and those who were outcasts in the land of Egypt, shall come; and they will worship Yahweh in the holy mountain at Jerusalem.</span>
</div>