<div class="chapter" id="Isaiah-028">
  <h2>Isaiah 28</h2>
  <span class="verse" title="Isaiah 28:1" id="Isaiah-28-1">Woe to the crown of pride of the drunkards of Ephraim, and to the fading flower of his glorious beauty, which is on the head of the fertile valley of those who are overcome with wine!</span>
  <span class="verse" title="Isaiah 28:2" id="Isaiah-28-2">Behold, the Lord has a mighty and strong one. Like a storm of hail, a destroying storm, and like a storm of mighty waters overflowing, he will cast them down to the earth with his hand.</span>
  <span class="verse" title="Isaiah 28:3" id="Isaiah-28-3">The crown of pride of the drunkards of Ephraim will be trodden under foot.</span>
  <span class="verse" title="Isaiah 28:4" id="Isaiah-28-4">The fading flower of his glorious beauty, which is on the head of the fertile valley, shall be like the first-ripe fig before the summer; which someone picks and eats as soon as he sees it.</span>
  <span class="verse" title="Isaiah 28:5" id="Isaiah-28-5">In that day, Yahweh of Armies will become a crown of glory, and a diadem of beauty, to the residue of his people;</span>
  <span class="verse" title="Isaiah 28:6" id="Isaiah-28-6">and a spirit of justice to him who sits in judgment, and strength to those who turn back the battle at the gate.</span>
  <span class="verse" title="Isaiah 28:7" id="Isaiah-28-7">They also reel with wine, and stagger with strong drink. The priest and the prophet reel with strong drink. They are swallowed up by wine. They stagger with strong drink. They err in vision. They stumble in judgment.</span>
  <span class="verse" title="Isaiah 28:8" id="Isaiah-28-8">For all tables are completely full of filthy vomit and filthiness.</span>
  <span class="verse" title="Isaiah 28:9" id="Isaiah-28-9">Whom will he teach knowledge? To whom will he explain the message? Those who are weaned from the milk, and drawn from the breasts?</span>
  <span class="verse" title="Isaiah 28:10" id="Isaiah-28-10">For it is precept on precept, precept on precept; line on line, line on line; here a little, there a little.</span>
  <span class="verse" title="Isaiah 28:11" id="Isaiah-28-11">But he will speak to this nation with stammering lips and in another language;</span>
  <span class="verse" title="Isaiah 28:12" id="Isaiah-28-12">to whom he said, &#8220;This is the resting place. Give rest to weary;&#8221; and &#8220;This is the refreshing;&#8221; yet they would not hear.</span>
  <span class="verse" title="Isaiah 28:13" id="Isaiah-28-13">Therefore the word of Yahweh will be to them precept on precept, precept on precept; line on line, line on line; here a little, there a little; that they may go, fall backward, be broken, be snared, and be taken.</span>
  <span class="verse" title="Isaiah 28:14" id="Isaiah-28-14">Therefore hear the word of Yahweh, you scoffers, that rule this people in Jerusalem:</span>
  <span class="verse" title="Isaiah 28:15" id="Isaiah-28-15">&#8220;Because you have said, &#8216;We have made a covenant with death, and with Sheol are we in agreement. When the overflowing scourge passes through, it won&#8217;t come to us; for we have made lies our refuge, and we have hidden ourselves under falsehood.&#8217;&#8221;</span>
  <span class="verse" title="Isaiah 28:16" id="Isaiah-28-16">Therefore thus says the Lord Yahweh, &#8220;Behold, I lay in Zion for a foundation a stone, a tried stone, a precious cornerstone of a sure foundation. He who believes shall not act hastily.</span>
  <span class="verse" title="Isaiah 28:17" id="Isaiah-28-17">I will make justice the measuring line, and righteousness the plumb line. The hail will sweep away the refuge of lies, and the waters will overflow the hiding place.</span>
  <span class="verse" title="Isaiah 28:18" id="Isaiah-28-18">Your covenant with death shall be annulled, and your agreement with Sheol shall not stand. When the overflowing scourge passes through, then you will be trampled down by it.</span>
  <span class="verse" title="Isaiah 28:19" id="Isaiah-28-19">As often as it passes through, it will seize you; for morning by morning it will pass through, by day and by night; and it will be nothing but terror to understand the message.&#8221;</span>
  <span class="verse" title="Isaiah 28:20" id="Isaiah-28-20">For the bed is too short to stretch out on, and the blanket is too narrow to wrap oneself in.</span>
  <span class="verse" title="Isaiah 28:21" id="Isaiah-28-21">For Yahweh will rise up as on Mount Perazim. He will be angry as in the valley of Gibeon; that he may do his work, his unusual work, and bring to pass his act, his extraordinary act.</span>
  <span class="verse" title="Isaiah 28:22" id="Isaiah-28-22">Now therefore don&#8217;t be scoffers, lest your bonds be made strong; for I have heard a decree of destruction from the Lord, Yahweh of Armies, on the whole earth.</span>
  <span class="verse" title="Isaiah 28:23" id="Isaiah-28-23">Give ear, and hear my voice! Listen, and hear my speech!</span>
  <span class="verse" title="Isaiah 28:24" id="Isaiah-28-24">Does he who plows to sow plow continually? Does he keep turning the soil and breaking the clods?</span>
  <span class="verse" title="Isaiah 28:25" id="Isaiah-28-25">When he has leveled its surface, doesn&#8217;t he plant the dill, and scatter the cumin seed, and put in the wheat in rows, the barley in the appointed place, and the spelt in its place?</span>
  <span class="verse" title="Isaiah 28:26" id="Isaiah-28-26">For his God instructs him in right judgment, and teaches him.</span>
  <span class="verse" title="Isaiah 28:27" id="Isaiah-28-27">For the dill are not threshed with a sharp instrument, neither is a cart wheel turned over the cumin; but the dill is beaten out with a stick, and the cumin with a rod.</span>
  <span class="verse" title="Isaiah 28:28" id="Isaiah-28-28">Bread flour must be ground; so he will not always be threshing it. Although he drives the wheel of his threshing cart over it, his horses don&#8217;t grind it.</span>
  <span class="verse" title="Isaiah 28:29" id="Isaiah-28-29">This also comes forth from Yahweh of Armies, who is wonderful in counsel, and excellent in wisdom.</span>
</div>