<div class="chapter" id="Isaiah-039">
  <h2>Isaiah 39</h2>
  <span class="verse" title="Isaiah 39:1" id="Isaiah-39-1">At that time, Merodach Baladan the son of Baladan, king of Babylon, sent letters and a present to Hezekiah; for he heard that he had been sick, and had recovered.</span>
  <span class="verse" title="Isaiah 39:2" id="Isaiah-39-2">Hezekiah was pleased with them, and showed them the house of his precious things, the silver, and the gold, the spices, and the precious oil, and all the house of his armor, and all that was found in his treasures. There was nothing in his house, nor in all his dominion, that Hezekiah didn&#8217;t show them.</span>
  <span class="verse" title="Isaiah 39:3" id="Isaiah-39-3">Then Isaiah the prophet came to king Hezekiah, and asked him, &#8220;What did these men say? Where did they come from to you?&#8221; Hezekiah said, &#8220;They have come from a country far from me, even from Babylon.&#8221;</span>
  <span class="verse" title="Isaiah 39:4" id="Isaiah-39-4">Then he asked, &#8220;What have they seen in your house?&#8221; Hezekiah answered, &#8220;They have seen all that is in my house. There is nothing among my treasures that I have not shown them.&#8221;</span>
  <span class="verse" title="Isaiah 39:5" id="Isaiah-39-5">Then Isaiah said to Hezekiah, &#8220;Hear the word of Yahweh of Armies:</span>
  <span class="verse" title="Isaiah 39:6" id="Isaiah-39-6">&#8216;Behold, the days are coming when all that is in your house, and that which your fathers have stored up until this day, will be carried to Babylon. Nothing will be left,&#8217; says Yahweh.</span>
  <span class="verse" title="Isaiah 39:7" id="Isaiah-39-7">&#8216;They will take away your sons who will issue from you, whom you shall father, and they will be eunuchs in the king of Babylon&#8217;s palace.&#8217;&#8221;</span>
  <span class="verse" title="Isaiah 39:8" id="Isaiah-39-8">Then Hezekiah said to Isaiah, &#8220;Yahweh&#8217;s word which you have spoken is good.&#8221; He said moreover, &#8220;For there will be peace and truth in my days.&#8221;</span>
</div>