<div class="chapter" id="Isaiah-046">
  <h2>Isaiah 46</h2>
  <span class="verse" title="Isaiah 46:1" id="Isaiah-46-1">Bel bows down, Nebo stoops; their idols are on the animals, and on the livestock: the things that you carried about are made a load, a burden to the weary.</span>
  <span class="verse" title="Isaiah 46:2" id="Isaiah-46-2">They stoop, they bow down together; they could not deliver the burden, but themselves have gone into captivity.<br/>   <br/></span>
  <span class="verse" title="Isaiah 46:3" id="Isaiah-46-3">&#8220;Listen to me, house of Jacob, and all the remnant of the house of Israel, that have been borne from their birth, that have been carried from the womb;</span>
  <span class="verse" title="Isaiah 46:4" id="Isaiah-46-4">and even to old age I am he, and even to gray hairs will I carry you. I have made, and I will bear; yes, I will carry, and will deliver.<br/>   <br/></span>
  <span class="verse" title="Isaiah 46:5" id="Isaiah-46-5">&#8220;To whom will you liken me, and make me equal, and compare me, that we may be like?</span>
  <span class="verse" title="Isaiah 46:6" id="Isaiah-46-6">Some pour out gold from the bag, and weigh silver in the balance. They hire a goldsmith, and he makes it a god. They fall down—yes, they worship.</span>
  <span class="verse" title="Isaiah 46:7" id="Isaiah-46-7">They bear it on the shoulder, they carry it, and set it in its place, and it stands, from its place it shall not move: yes, one may cry to it, yet it can not answer, nor save him out of his trouble.<br/>   <br/></span>
  <span class="verse" title="Isaiah 46:8" id="Isaiah-46-8">&#8220;Remember this, and show yourselves men; bring it again to mind, you transgressors.</span>
  <span class="verse" title="Isaiah 46:9" id="Isaiah-46-9">Remember the former things of old: for I am God, and there is none else; I am God, and there is none like me;</span>
  <span class="verse" title="Isaiah 46:10" id="Isaiah-46-10">declaring the end from the beginning, and from ancient times things that are not yet done; saying, My counsel shall stand, and I will do all my pleasure;</span>
  <span class="verse" title="Isaiah 46:11" id="Isaiah-46-11">calling a ravenous bird from the east, the man of my counsel from a far country; yes, I have spoken, I will also bring it to pass; I have purposed, I will also do it.</span>
  <span class="verse" title="Isaiah 46:12" id="Isaiah-46-12">Listen to me, you stout-hearted, who are far from righteousness:</span>
  <span class="verse" title="Isaiah 46:13" id="Isaiah-46-13">I bring near my righteousness, it shall not be far off, and my salvation shall not wait; and I will place salvation in Zion for Israel my glory.<br/>   <br/></span>
</div>