<div class="chapter" id="Isaiah-048">
  <h2>Isaiah 48</h2>
  <span class="verse" title="Isaiah 48:1" id="Isaiah-48-1">&#8220;Hear this, house of Jacob, you who are called by the name of Israel, and have come forth out of the waters of Judah; who swear by the name of Yahweh, and make mention of the God of Israel, but not in truth, nor in righteousness</span>
  <span class="verse" title="Isaiah 48:2" id="Isaiah-48-2">(for they call themselves of the holy city, and stay themselves on the God of Israel; Yahweh of Armies is his name):</span>
  <span class="verse" title="Isaiah 48:3" id="Isaiah-48-3">I have declared the former things from of old; yes, they went forth out of my mouth, and I showed them: suddenly I did them, and they happened.</span>
  <span class="verse" title="Isaiah 48:4" id="Isaiah-48-4">Because I knew that you are obstinate, and your neck is an iron sinew, and your brow brass;</span>
  <span class="verse" title="Isaiah 48:5" id="Isaiah-48-5">therefore I have declared it to you from of old; before it came to pass I showed it to you; lest you should say, &#8216;My idol has done them, and my engraved image, and my molten image, has commanded them.&#8217;</span>
  <span class="verse" title="Isaiah 48:6" id="Isaiah-48-6">You have heard it; see all this; and you, will you not declare it?<br/>   <br/>   &#8220;I have shown you new things from this time, even hidden things, which you have not known.</span>
  <span class="verse" title="Isaiah 48:7" id="Isaiah-48-7">They are created now, and not from of old; and before this day you didn&#8217;t hear them; lest you should say, &#8216;Behold, I knew them.&#8217;<br/></span>
  <span class="verse" title="Isaiah 48:8" id="Isaiah-48-8">Yes, you didn&#8217;t hear; yes, you didn&#8217;t know; yes, from of old your ear was not opened: for I knew that you dealt very treacherously, and was called a transgressor from the womb.</span>
  <span class="verse" title="Isaiah 48:9" id="Isaiah-48-9">For my name&#8217;s sake will I defer my anger, and for my praise will I refrain for you, that I not cut you off.</span>
  <span class="verse" title="Isaiah 48:10" id="Isaiah-48-10">Behold, I have refined you, but not as silver; I have chosen you in the furnace of affliction.</span>
  <span class="verse" title="Isaiah 48:11" id="Isaiah-48-11">For my own sake, for my own sake, will I do it; for how should my name be profaned? I will not give my glory to another.<br/>   <br/></span>
  <span class="verse" title="Isaiah 48:12" id="Isaiah-48-12">&#8220;Listen to me, O Jacob, and Israel my called: I am he; I am the first, I also am the last.</span>
  <span class="verse" title="Isaiah 48:13" id="Isaiah-48-13">Yes, my hand has laid the foundation of the earth, and my right hand has spread out the heavens: when I call to them, they stand up together.<br/>   <br/></span>
  <span class="verse" title="Isaiah 48:14" id="Isaiah-48-14">&#8220;Assemble yourselves, all you, and hear; who among them has declared these things? He whom Yahweh loves shall perform his pleasure on Babylon, and his arm shall be on the Chaldeans.</span>
  <span class="verse" title="Isaiah 48:15" id="Isaiah-48-15">I, even I, have spoken; yes, I have called him; I have brought him, and he shall make his way prosperous.<br/>   <br/></span>
  <span class="verse" title="Isaiah 48:16" id="Isaiah-48-16">&#8220;Come near to me and hear this:  <br/>   &#8220;From the beginning I have not spoken in secret; from the time that it was, there am I.&#8221; Now the Lord Yahweh has sent me, with his Spirit.<br/>   <br/></span>
  <span class="verse" title="Isaiah 48:17" id="Isaiah-48-17">Thus says Yahweh, your Redeemer, the Holy One of Israel: I am Yahweh your God, who teaches you to profit, who leads you by the way that you should go.</span>
  <span class="verse" title="Isaiah 48:18" id="Isaiah-48-18">Oh that you had listened to my commandments! then your peace would have been like a river, and your righteousness like the waves of the sea:</span>
  <span class="verse" title="Isaiah 48:19" id="Isaiah-48-19">your seed also had been as the sand, and the offspring of your body like its grains: his name would not be cut off nor destroyed from before me.</span>
  <span class="verse" title="Isaiah 48:20" id="Isaiah-48-20">Go forth from Babylon, flee from the Chaldeans; with a voice of singing declare, tell this, utter it even to the end of the earth: say, Yahweh has redeemed his servant Jacob.</span>
  <span class="verse" title="Isaiah 48:21" id="Isaiah-48-21">They didn&#8217;t thirst when he led them through the deserts; he caused the waters to flow out of the rock for them; he split the rock also, and the waters gushed out.</span>
  <span class="verse" title="Isaiah 48:22" id="Isaiah-48-22">&#8220;There is no peace,&#8221; says Yahweh, &#8220;for the wicked.&#8221;<br/>   <br/></span>
</div>