<div class="chapter" id="Isaiah-050">
  <h2>Isaiah 50</h2>
  <span class="verse" title="Isaiah 50:1" id="Isaiah-50-1">Thus says Yahweh, &#8220;Where is the bill of your mother&#8217;s divorce, with which I have put her away? or which of my creditors is it to whom I have sold you? Behold, for your iniquities were you sold, and for your transgressions was your mother put away.</span>
  <span class="verse" title="Isaiah 50:2" id="Isaiah-50-2">Why, when I came, was there no man? when I called, was there none to answer? Is my hand shortened at all, that it can&#8217;t redeem? or have I no power to deliver? Behold, at my rebuke I dry up the sea, I make the rivers a wilderness: their fish stink, because there is no water, and die for thirst.</span>
  <span class="verse" title="Isaiah 50:3" id="Isaiah-50-3">I clothe the heavens with blackness, and I make sackcloth their covering.&#8221;<br/>   <br/></span>
  <span class="verse" title="Isaiah 50:4" id="Isaiah-50-4">The Lord Yahweh has given me the tongue of those who are taught, that I may know how to sustain with words him who is weary: he wakens morning by morning, he wakens my ear to hear as those who are taught.</span>
  <span class="verse" title="Isaiah 50:5" id="Isaiah-50-5">The Lord Yahweh has opened my ear, and I was not rebellious, neither turned away backward.</span>
  <span class="verse" title="Isaiah 50:6" id="Isaiah-50-6">I gave my back to the strikers, and my cheeks to those who plucked off the hair; I didn&#8217;t hide my face from shame and spitting.</span>
  <span class="verse" title="Isaiah 50:7" id="Isaiah-50-7">For the Lord Yahweh will help me; therefore I have not been confounded: therefore have I set my face like a flint, and I know that I shall not be disappointed.</span>
  <span class="verse" title="Isaiah 50:8" id="Isaiah-50-8">He is near who justifies me; who will bring charges against me? Let us stand up together: who is my adversary? Let him come near to me.</span>
  <span class="verse" title="Isaiah 50:9" id="Isaiah-50-9">Behold, the Lord Yahweh will help me; who is he who shall condemn me? Behold, all they shall wax old as a garment, the moth shall eat them up.</span>
  <span class="verse" title="Isaiah 50:10" id="Isaiah-50-10">Who is among you who fears Yahweh, who obeys the voice of his servant? He who walks in darkness, and has no light, let him trust in the name of Yahweh, and rely on his God.</span>
  <span class="verse" title="Isaiah 50:11" id="Isaiah-50-11">Behold, all you who kindle a fire, who adorn yourselves with torches around yourselves; walk in the flame of your fire, and among the brands that you have kindled. You shall have this of my hand; you shall lie down in sorrow.<br/>   <br/></span>
</div>