<div class="chapter" id="Isaiah-052">
  <h2>Isaiah 52</h2>
  <span class="verse" title="Isaiah 52:1" id="Isaiah-52-1">Awake, awake, put on your strength, Zion; put on your beautiful garments, Jerusalem, the holy city: for henceforth there shall no more come into you the uncircumcised and the unclean.</span>
  <span class="verse" title="Isaiah 52:2" id="Isaiah-52-2">Shake yourself from the dust! Arise, sit up, Jerusalem! Release yourself from the bonds of your neck, captive daughter of Zion!</span>
  <span class="verse" title="Isaiah 52:3" id="Isaiah-52-3">For thus says Yahweh, &#8220;You were sold for nothing; and you shall be redeemed without money.&#8221;<br/>   <br/></span>
  <span class="verse" title="Isaiah 52:4" id="Isaiah-52-4">For thus says the Lord Yahweh, &#8220;My people went down at the first into Egypt to live there: and the Assyrian has oppressed them without cause.<br/>   <br/></span>
  <span class="verse" title="Isaiah 52:5" id="Isaiah-52-5">&#8220;Now therefore, what do I do here,&#8221; says Yahweh, &#8220;seeing that my people are taken away for nothing? Those who rule over them mock,&#8221; says Yahweh, &#8220;and my name continually all the day is blasphemed.</span>
  <span class="verse" title="Isaiah 52:6" id="Isaiah-52-6">Therefore my people shall know my name. Therefore they shall know in that day that I am he who speaks; behold, it is I.&#8221;<br/>   <br/></span>
  <span class="verse" title="Isaiah 52:7" id="Isaiah-52-7">How beautiful on the mountains are the feet of him who brings good news, who publishes peace, who brings good news of good, who publishes salvation, who says to Zion, &#8220;Your God reigns!&#8221;</span>
  <span class="verse" title="Isaiah 52:8" id="Isaiah-52-8">The voice of your watchmen! they lift up the voice, together do they sing; for they shall see eye to eye, when Yahweh returns to Zion.</span>
  <span class="verse" title="Isaiah 52:9" id="Isaiah-52-9">Break forth into joy, sing together, you waste places of Jerusalem; for Yahweh has comforted his people, he has redeemed Jerusalem.</span>
  <span class="verse" title="Isaiah 52:10" id="Isaiah-52-10">Yahweh has made bare his holy arm in the eyes of all the nations; and all the ends of the earth have seen the salvation of our God.<br/>   <br/></span>
  <span class="verse" title="Isaiah 52:11" id="Isaiah-52-11">Depart, depart, go out from there, touch no unclean thing! Go out of the midst of her! Cleanse yourselves, you who bear the vessels of Yahweh.</span>
  <span class="verse" title="Isaiah 52:12" id="Isaiah-52-12">For you shall not go out in haste, neither shall you go by flight: for Yahweh will go before you; and the God of Israel will be your rear guard.<br/>   <br/></span>
  <span class="verse" title="Isaiah 52:13" id="Isaiah-52-13">Behold, my servant shall deal wisely, he shall be exalted and lifted up, and shall be very high.<br/></span>
  <span class="verse" title="Isaiah 52:14" id="Isaiah-52-14">Like as many were astonished at you (his appearance was marred more than any man, and his form more than the sons of men),<br/></span>
  <span class="verse" title="Isaiah 52:15" id="Isaiah-52-15">so shall he sprinkle many nations; kings shall shut their mouths at him: for that which had not been told them shall they see; and that which they had not heard shall they understand.<br/>   <br/></span>
</div>