<div class="chapter" id="Isaiah-056">
  <h2>Isaiah 56</h2>
  <span class="verse" title="Isaiah 56:1" id="Isaiah-56-1">Thus says Yahweh, &#8220;Keep justice, and do righteousness; for my salvation is near to come, and my righteousness to be revealed.</span>
  <span class="verse" title="Isaiah 56:2" id="Isaiah-56-2">Blessed is the man who does this, and the son of man who holds it fast; who keeps the Sabbath from profaning it, and keeps his hand from doing any evil.&#8221;<br/>   <br/></span>
  <span class="verse" title="Isaiah 56:3" id="Isaiah-56-3">Neither let the foreigner, who has joined himself to Yahweh, speak, saying, &#8220;Yahweh will surely separate me from his people;&#8221; neither let the eunuch say, &#8220;Behold, I am a dry tree.&#8221;<br/>   <br/></span>
  <span class="verse" title="Isaiah 56:4" id="Isaiah-56-4">For thus says Yahweh, &#8220;To the eunuchs who keep my Sabbaths, and choose the things that please me, and hold fast my covenant:</span>
  <span class="verse" title="Isaiah 56:5" id="Isaiah-56-5">to them I will give in my house and within my walls a memorial and a name better than of sons and of daughters; I will give them an everlasting name, that shall not be cut off.</span>
  <span class="verse" title="Isaiah 56:6" id="Isaiah-56-6">Also the foreigners who join themselves to Yahweh, to minister to him, and to love the name of Yahweh, to be his servants, everyone who keeps the Sabbath from profaning it, and holds fast my covenant;</span>
  <span class="verse" title="Isaiah 56:7" id="Isaiah-56-7">even them will I bring to my holy mountain, and make them joyful in my house of prayer: their burnt offerings and their sacrifices shall be accepted on my altar; for my house shall be called a house of prayer for all peoples.&#8221;<br/></span>
  <span class="verse" title="Isaiah 56:8" id="Isaiah-56-8">The Lord Yahweh, who gathers the outcasts of Israel, says, &#8220;Yet will I gather others to him, besides his own who are gathered.&#8221;<br/>   <br/></span>
  <span class="verse" title="Isaiah 56:9" id="Isaiah-56-9">All you animals of the field, come to devour, all you animals in the forest.</span>
  <span class="verse" title="Isaiah 56:10" id="Isaiah-56-10">His watchmen are blind, they are all without knowledge; they are all mute dogs, they can&#8217;t bark; dreaming, lying down, loving to slumber.</span>
  <span class="verse" title="Isaiah 56:11" id="Isaiah-56-11">Yes, the dogs are greedy, they can never have enough; and these are shepherds who can&#8217;t understand: they have all turned to their own way, each one to his gain, from every quarter.</span>
  <span class="verse" title="Isaiah 56:12" id="Isaiah-56-12">&#8220;Come,&#8221; say they, &#8220;I will get wine, and we will fill ourselves with strong drink; and tomorrow shall be as this day, great beyond measure.&#8221;<br/>   <br/></span>
</div>