<div class="chapter" id="Isaiah-062">
  <h2>Isaiah 62</h2>
  <span class="verse" title="Isaiah 62:1" id="Isaiah-62-1">For Zion&#8217;s sake will I not hold my peace, and for Jerusalem&#8217;s sake I will not rest, until her righteousness go forth as brightness, and her salvation as a lamp that burns.</span>
  <span class="verse" title="Isaiah 62:2" id="Isaiah-62-2">The nations shall see your righteousness, and all kings your glory, and you shall be called by a new name, which the mouth of Yahweh shall name.</span>
  <span class="verse" title="Isaiah 62:3" id="Isaiah-62-3">You shall also be a crown of beauty in the hand of Yahweh, and a royal diadem in the hand of your God.</span>
  <span class="verse" title="Isaiah 62:4" id="Isaiah-62-4">You shall no more be termed Forsaken; neither shall your land any more be termed Desolate: but you shall be called Hephzibah, and your land Beulah; for Yahweh delights in you, and your land shall be married.</span>
  <span class="verse" title="Isaiah 62:5" id="Isaiah-62-5">For as a young man marries a virgin, so your sons shall marry you; and as the bridegroom rejoices over the bride, so your God will rejoice over you.</span>
  <span class="verse" title="Isaiah 62:6" id="Isaiah-62-6">I have set watchmen on your walls, Jerusalem; they shall never hold their peace day nor night: you who call on Yahweh, take no rest,</span>
  <span class="verse" title="Isaiah 62:7" id="Isaiah-62-7">and give him no rest, until he establishes, and until he makes Jerusalem a praise in the earth.<br/>   <br/></span>
  <span class="verse" title="Isaiah 62:8" id="Isaiah-62-8">Yahweh has sworn by his right hand, and by the arm of his strength,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Surely I will no more give your grain to be food for your enemies; and foreigners shall not drink your new wine, for which you have labored:</span>
  <span class="verse" title="Isaiah 62:9" id="Isaiah-62-9">but those who have garnered it shall eat it, and praise Yahweh; and those who have gathered it shall drink it in the courts of my sanctuary.&#8221;<br/>   <br/></span>
  <span class="verse" title="Isaiah 62:10" id="Isaiah-62-10">Go through, go through the gates! Prepare the way of the people! Cast up, cast up the highway! Gather out the stones! Lift up a banner for the peoples.</span>
  <span class="verse" title="Isaiah 62:11" id="Isaiah-62-11">Behold, Yahweh has proclaimed to the end of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Say to the daughter of Zion,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;Behold, your salvation comes.<br/>   Behold, his reward is with him,<br/> <span class="indent">&nbsp;&nbsp;</span>and his recompense before him.&#8217;&#8221;<br/></span>
  <span class="verse" title="Isaiah 62:12" id="Isaiah-62-12">They shall call them The holy people, The redeemed of Yahweh: and you shall be called Sought out, A city not forsaken.<br/>   <br/></span>
</div>