<div class="chapter" id="Isaiah-063">
  <h2>Isaiah 63</h2>
  <span class="verse" title="Isaiah 63:1" id="Isaiah-63-1">Who is this who comes from Edom, with dyed garments from Bozrah? this who is glorious in his clothing, marching in the greatness of his strength?<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;It is I who speak in righteousness, mighty to save.&#8221;<br/></span>
  <span class="verse" title="Isaiah 63:2" id="Isaiah-63-2">Why are you red in your clothing, and your garments like him who treads in the wine vat?<br/>   <br/></span>
  <span class="verse" title="Isaiah 63:3" id="Isaiah-63-3">&#8220;I have trodden the winepress alone; and of the peoples there was no man with me: yes, I trod them in my anger, and trampled them in my wrath; and their lifeblood is sprinkled on my garments, and I have stained all my clothing.</span>
  <span class="verse" title="Isaiah 63:4" id="Isaiah-63-4">For the day of vengeance was in my heart, and the year of my redeemed has come.</span>
  <span class="verse" title="Isaiah 63:5" id="Isaiah-63-5">I looked, and there was none to help; and I wondered that there was none to uphold: therefore my own arm brought salvation to me; and my wrath, it upheld me.</span>
  <span class="verse" title="Isaiah 63:6" id="Isaiah-63-6">I trod down the peoples in my anger, and made them drunk in my wrath, and I poured out their lifeblood on the earth.&#8221;<br/>   <br/></span>
  <span class="verse" title="Isaiah 63:7" id="Isaiah-63-7">I will make mention of the loving kindnesses of Yahweh and the praises of Yahweh, according to all that Yahweh has bestowed on us, and the great goodness toward the house of Israel, which he has bestowed on them according to his mercies, and according to the multitude of his loving kindnesses.</span>
  <span class="verse" title="Isaiah 63:8" id="Isaiah-63-8">For he said, &#8220;Surely, they are my people, children who will not deal falsely:&#8221; so he was their Savior.<br/></span>
  <span class="verse" title="Isaiah 63:9" id="Isaiah-63-9">In all their affliction he was afflicted, and the angel of his presence saved them: in his love and in his pity he redeemed them; and he bore them, and carried them all the days of old.</span>
  <span class="verse" title="Isaiah 63:10" id="Isaiah-63-10">But they rebelled, and grieved his holy Spirit: therefore he was turned to be their enemy, and he himself fought against them.<br/>   <br/></span>
  <span class="verse" title="Isaiah 63:11" id="Isaiah-63-11">Then he remembered the days of old, Moses and his people, saying, Where is he who brought them up out of the sea with the shepherds of his flock? where is he who put his holy Spirit in their midst?</span>
  <span class="verse" title="Isaiah 63:12" id="Isaiah-63-12">who caused his glorious arm to go at the right hand of Moses? who divided the waters before them, to make himself an everlasting name?</span>
  <span class="verse" title="Isaiah 63:13" id="Isaiah-63-13">who led them through the depths, as a horse in the wilderness, so that they didn&#8217;t stumble?</span>
  <span class="verse" title="Isaiah 63:14" id="Isaiah-63-14">As the livestock that go down into the valley, the Spirit of Yahweh caused them to rest; so you led your people, to make yourself a glorious name.<br/>   <br/></span>
  <span class="verse" title="Isaiah 63:15" id="Isaiah-63-15">Look down from heaven, and see from the habitation of your holiness and of your glory: where are your zeal and your mighty acts? the yearning of your heart and your compassion is restrained toward me.</span>
  <span class="verse" title="Isaiah 63:16" id="Isaiah-63-16">For you are our Father, though Abraham doesn&#8217;t know us, and Israel does not acknowledge us: you, Yahweh, are our Father; our Redeemer from everlasting is your name.</span>
  <span class="verse" title="Isaiah 63:17" id="Isaiah-63-17">O Yahweh, why do you make us to err from your ways, and harden our heart from your fear? Return for your servants&#8217; sake, the tribes of your inheritance.</span>
  <span class="verse" title="Isaiah 63:18" id="Isaiah-63-18">Your holy people possessed it but a little while: our adversaries have trodden down your sanctuary.</span>
  <span class="verse" title="Isaiah 63:19" id="Isaiah-63-19">We have become as they over whom you never bear rule, as those who were not called by your name.<br/>   <br/></span>
</div>