<div class="chapter" id="Isaiah-064">
  <h2>Isaiah 64</h2>
  <span class="verse" title="Isaiah 64:1" id="Isaiah-64-1">Oh that you would tear the heavens, that you would come down, that the mountains might quake at your presence,</span>
  <span class="verse" title="Isaiah 64:2" id="Isaiah-64-2">as when fire kindles the brushwood, and the fire causes the waters to boil; to make your name known to your adversaries, that the nations may tremble at your presence!</span>
  <span class="verse" title="Isaiah 64:3" id="Isaiah-64-3">When you did awesome things which we didn&#8217;t look for, you came down, the mountains quaked at your presence.</span>
  <span class="verse" title="Isaiah 64:4" id="Isaiah-64-4">For from of old men have not heard, nor perceived by the ear, neither has the eye seen a God besides you, who works for him who waits for him.</span>
  <span class="verse" title="Isaiah 64:5" id="Isaiah-64-5">You meet him who rejoices and works righteousness, those who remember you in your ways. Behold, you were angry, and we sinned. We have been in sin for a long time; and shall we be saved?</span>
  <span class="verse" title="Isaiah 64:6" id="Isaiah-64-6">For we have all become as one who is unclean, and all our righteousness is as a polluted garment: and we all fade as a leaf; and our iniquities, like the wind, take us away.</span>
  <span class="verse" title="Isaiah 64:7" id="Isaiah-64-7">There is none who calls on your name, who stirs up himself to take hold of you; for you have hidden your face from us, and have consumed us by means of our iniquities.<br/>   <br/></span>
  <span class="verse" title="Isaiah 64:8" id="Isaiah-64-8">But now, Yahweh, you are our Father; we are the clay, and you our potter; and we all are the work of your hand.</span>
  <span class="verse" title="Isaiah 64:9" id="Isaiah-64-9">Don&#8217;t be furious, Yahweh, neither remember iniquity forever: see, look, we beg you, we are all your people.</span>
  <span class="verse" title="Isaiah 64:10" id="Isaiah-64-10">Your holy cities are become a wilderness, Zion has become a wilderness, Jerusalem a desolation.</span>
  <span class="verse" title="Isaiah 64:11" id="Isaiah-64-11">Our holy and our beautiful house, where our fathers praised you, is burned with fire; and all our pleasant places are laid waste.</span>
  <span class="verse" title="Isaiah 64:12" id="Isaiah-64-12">Will you refrain yourself for these things, Yahweh? Will you hold your peace, and afflict us very severely?<br/>   <br/></span>
</div>