<div class="chapter" id="Job-001">
  <h2>Job 1</h2>
  <span class="verse" title="Job 1:1" id="Job-1-1">There was a man in the land of Uz, whose name was Job. That man was blameless and upright, and one who feared God, and turned away from evil.</span>
  <span class="verse" title="Job 1:2" id="Job-1-2">There were born to him seven sons and three daughters.</span>
  <span class="verse" title="Job 1:3" id="Job-1-3">His possessions also were seven thousand sheep, three thousand camels, five hundred yoke of oxen, five hundred female donkeys, and a very great household; so that this man was the greatest of all the children of the east.</span>
  <span class="verse" title="Job 1:4" id="Job-1-4">His sons went and held a feast in the house of each one on his birthday; and they sent and called for their three sisters to eat and to drink with them.</span>
  <span class="verse" title="Job 1:5" id="Job-1-5">It was so, when the days of their feasting had run their course, that Job sent and sanctified them, and rose up early in the morning, and offered burnt offerings according to the number of them all. For Job said, &#8220;It may be that my sons have sinned, and renounced God in their hearts.&#8221; Job did so continually.</span>
  <span class="verse" title="Job 1:6" id="Job-1-6">Now it happened on the day when God&#8217;s sons came to present themselves before Yahweh, that Satan also came among them.</span>
  <span class="verse" title="Job 1:7" id="Job-1-7">Yahweh said to Satan, &#8220;Where have you come from?&#8221; Then Satan answered Yahweh, and said, &#8220;From going back and forth in the earth, and from walking up and down in it.&#8221;</span>
  <span class="verse" title="Job 1:8" id="Job-1-8">Yahweh said to Satan, &#8220;Have you considered my servant, Job? For there is none like him in the earth, a blameless and an upright man, one who fears God, and turns away from evil.&#8221;</span>
  <span class="verse" title="Job 1:9" id="Job-1-9">Then Satan answered Yahweh, and said, &#8220;Does Job fear God for nothing?</span>
  <span class="verse" title="Job 1:10" id="Job-1-10">Haven&#8217;t you made a hedge around him, and around his house, and around all that he has, on every side? You have blessed the work of his hands, and his substance is increased in the land.</span>
  <span class="verse" title="Job 1:11" id="Job-1-11">But put forth your hand now, and touch all that he has, and he will renounce you to your face.&#8221;</span>
  <span class="verse" title="Job 1:12" id="Job-1-12">Yahweh said to Satan, &#8220;Behold, all that he has is in your power. Only on himself don&#8217;t put forth your hand.&#8221; So Satan went forth from the presence of Yahweh.</span>
  <span class="verse" title="Job 1:13" id="Job-1-13">It fell on a day when his sons and his daughters were eating and drinking wine in their eldest brother&#8217;s house,</span>
  <span class="verse" title="Job 1:14" id="Job-1-14">that there came a messenger to Job, and said, &#8220;The oxen were plowing, and the donkeys feeding beside them,</span>
  <span class="verse" title="Job 1:15" id="Job-1-15">and the Sabeans attacked, and took them away. Yes, they have killed the servants with the edge of the sword, and I alone have escaped to tell you.&#8221;</span>
  <span class="verse" title="Job 1:16" id="Job-1-16">While he was still speaking, there also came another, and said, &#8220;The fire of God has fallen from the sky, and has burned up the sheep and the servants, and consumed them, and I alone have escaped to tell you.&#8221;</span>
  <span class="verse" title="Job 1:17" id="Job-1-17">While he was still speaking, there came also another, and said, &#8220;The Chaldeans made three bands, and swept down on the camels, and have taken them away, yes, and killed the servants with the edge of the sword; and I alone have escaped to tell you.&#8221;</span>
  <span class="verse" title="Job 1:18" id="Job-1-18">While he was still speaking, there came also another, and said, &#8220;Your sons and your daughters were eating and drinking wine in their eldest brother&#8217;s house,</span>
  <span class="verse" title="Job 1:19" id="Job-1-19">and behold, there came a great wind from the wilderness, and struck the four corners of the house, and it fell on the young men, and they are dead. I alone have escaped to tell you.&#8221;</span>
  <span class="verse" title="Job 1:20" id="Job-1-20">Then Job arose, and tore his robe, and shaved his head, and fell down on the ground, and worshiped.</span>
  <span class="verse" title="Job 1:21" id="Job-1-21">He said, &#8220;Naked I came out of my mother&#8217;s womb, and naked shall I return there. Yahweh gave, and Yahweh has taken away. Blessed be the name of Yahweh.&#8221;</span>
  <span class="verse" title="Job 1:22" id="Job-1-22">In all this, Job did not sin, nor charge God with wrongdoing.</span>
</div>