<div class="chapter" id="Job-002">
  <h2>Job 2</h2>
  <span class="verse" title="Job 2:1" id="Job-2-1">Again it happened on the day when the God&#8217;s sons came to present themselves before Yahweh, that Satan came also among them to present himself before Yahweh.</span>
  <span class="verse" title="Job 2:2" id="Job-2-2">Yahweh said to Satan, &#8220;Where have you come from?&#8221; Satan answered Yahweh, and said, &#8220;From going back and forth in the earth, and from walking up and down in it.&#8221;</span>
  <span class="verse" title="Job 2:3" id="Job-2-3">Yahweh said to Satan, &#8220;Have you considered my servant Job? For there is none like him in the earth, a blameless and an upright man, one who fears God, and turns away from evil. He still maintains his integrity, although you incited me against him, to ruin him without cause.&#8221;</span>
  <span class="verse" title="Job 2:4" id="Job-2-4">Satan answered Yahweh, and said, &#8220;Skin for skin. Yes, all that a man has he will give for his life.</span>
  <span class="verse" title="Job 2:5" id="Job-2-5">But put forth your hand now, and touch his bone and his flesh, and he will renounce you to your face.&#8221;</span>
  <span class="verse" title="Job 2:6" id="Job-2-6">Yahweh said to Satan, &#8220;Behold, he is in your hand. Only spare his life.&#8221;</span>
  <span class="verse" title="Job 2:7" id="Job-2-7">So Satan went forth from the presence of Yahweh, and struck Job with painful sores from the sole of his foot to his head.</span>
  <span class="verse" title="Job 2:8" id="Job-2-8">He took for himself a potsherd to scrape himself with, and he sat among the ashes.</span>
  <span class="verse" title="Job 2:9" id="Job-2-9">Then his wife said to him, &#8220;Do you still maintain your integrity? Renounce God, and die.&#8221;</span>
  <span class="verse" title="Job 2:10" id="Job-2-10">But he said to her, &#8220;You speak as one of the foolish women would speak. What? Shall we receive good at the hand of God, and shall we not receive evil?&#8221; In all this Job didn&#8217;t sin with his lips.</span>
  <span class="verse" title="Job 2:11" id="Job-2-11">Now when Job&#8217;s three friends heard of all this evil that had come on him, they each came from his own place: Eliphaz the Temanite, Bildad the Shuhite, and Zophar the Naamathite, and they made an appointment together to come to sympathize with him and to comfort him.</span>
  <span class="verse" title="Job 2:12" id="Job-2-12">When they lifted up their eyes from a distance, and didn&#8217;t recognize him, they raised their voices, and wept; and they each tore his robe, and sprinkled dust on their heads toward the sky.</span>
  <span class="verse" title="Job 2:13" id="Job-2-13">So they sat down with him on the ground seven days and seven nights, and none spoke a word to him, for they saw that his grief was very great.</span>
</div>