<div class="chapter" id="Job-003">
  <h2>Job 3</h2>
  <span class="verse" title="Job 3:1" id="Job-3-1">After this Job opened his mouth, and cursed the day of his birth.</span>
  <span class="verse" title="Job 3:2" id="Job-3-2">Job answered:</span>
  <span class="verse" title="Job 3:3" id="Job-3-3">&#8220;Let the day perish in which I was born,<br/> <span class="indent">&nbsp;&nbsp;</span>the night which said, &#8216;There is a boy conceived.&#8217;<br/></span>
  <span class="verse" title="Job 3:4" id="Job-3-4">Let that day be darkness.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let God from above seek for it,<br/> <span class="indent">&nbsp;&nbsp;</span>neither let the light shine on it.<br/></span>
  <span class="verse" title="Job 3:5" id="Job-3-5">Let darkness and the shadow of death claim it for their own.<br/> <span class="indent">&nbsp;&nbsp;</span>Let a cloud dwell on it.<br/> <span class="indent">&nbsp;&nbsp;</span>Let all that makes black the day terrify it.<br/></span>
  <span class="verse" title="Job 3:6" id="Job-3-6">As for that night, let thick darkness seize on it.<br/> <span class="indent">&nbsp;&nbsp;</span>Let it not rejoice among the days of the year.<br/> <span class="indent">&nbsp;&nbsp;</span>Let it not come into the number of the months.<br/></span>
  <span class="verse" title="Job 3:7" id="Job-3-7">Behold, let that night be barren.<br/> <span class="indent">&nbsp;&nbsp;</span>Let no joyful voice come therein.<br/></span>
  <span class="verse" title="Job 3:8" id="Job-3-8">Let them curse it who curse the day,<br/> <span class="indent">&nbsp;&nbsp;</span>who are ready to rouse up leviathan.<br/></span>
  <span class="verse" title="Job 3:9" id="Job-3-9">Let the stars of its twilight be dark.<br/> <span class="indent">&nbsp;&nbsp;</span>Let it look for light, but have none,<br/> <span class="indent">&nbsp;&nbsp;</span>neither let it see the eyelids of the morning,<br/></span>
  <span class="verse" title="Job 3:10" id="Job-3-10">because it didn&#8217;t shut up the doors of my mother&#8217;s womb,<br/> <span class="indent">&nbsp;&nbsp;</span>nor did it hide trouble from my eyes.<br/>   <br/></span>
  <span class="verse" title="Job 3:11" id="Job-3-11">&#8220;Why didn&#8217;t I die from the womb?<br/> <span class="indent">&nbsp;&nbsp;</span>Why didn&#8217;t I give up the spirit when my mother bore me?<br/></span>
  <span class="verse" title="Job 3:12" id="Job-3-12">Why did the knees receive me?<br/> <span class="indent">&nbsp;&nbsp;</span>Or why the breast, that I should nurse?<br/></span>
  <span class="verse" title="Job 3:13" id="Job-3-13">For now should I have lain down and been quiet.<br/> <span class="indent">&nbsp;&nbsp;</span>I should have slept, then I would have been at rest,<br/></span>
  <span class="verse" title="Job 3:14" id="Job-3-14">with kings and counselors of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>who built up waste places for themselves;<br/></span>
  <span class="verse" title="Job 3:15" id="Job-3-15">or with princes who had gold,<br/> <span class="indent">&nbsp;&nbsp;</span>who filled their houses with silver:<br/></span>
  <span class="verse" title="Job 3:16" id="Job-3-16">or as a hidden untimely birth I had not been,<br/> <span class="indent">&nbsp;&nbsp;</span>as infants who never saw light.<br/></span>
  <span class="verse" title="Job 3:17" id="Job-3-17">There the wicked cease from troubling.<br/> <span class="indent">&nbsp;&nbsp;</span>There the weary are at rest.<br/></span>
  <span class="verse" title="Job 3:18" id="Job-3-18">There the prisoners are at ease together.<br/> <span class="indent">&nbsp;&nbsp;</span>They don&#8217;t hear the voice of the taskmaster.<br/></span>
  <span class="verse" title="Job 3:19" id="Job-3-19">The small and the great are there.<br/> <span class="indent">&nbsp;&nbsp;</span>The servant is free from his master.<br/>   <br/></span>
  <span class="verse" title="Job 3:20" id="Job-3-20">&#8220;Why is light given to him who is in misery,<br/> <span class="indent">&nbsp;&nbsp;</span>life to the bitter in soul,<br/></span>
  <span class="verse" title="Job 3:21" id="Job-3-21">Who long for death, but it doesn&#8217;t come;<br/> <span class="indent">&nbsp;&nbsp;</span>and dig for it more than for hidden treasures,<br/></span>
  <span class="verse" title="Job 3:22" id="Job-3-22">who rejoice exceedingly,<br/> <span class="indent">&nbsp;&nbsp;</span>and are glad, when they can find the grave?<br/></span>
  <span class="verse" title="Job 3:23" id="Job-3-23">Why is light given to a man whose way is hidden,<br/> <span class="indent">&nbsp;&nbsp;</span>whom God has hedged in?<br/></span>
  <span class="verse" title="Job 3:24" id="Job-3-24">For my sighing comes before I eat.<br/> <span class="indent">&nbsp;&nbsp;</span>My groanings are poured out like water.<br/></span>
  <span class="verse" title="Job 3:25" id="Job-3-25">For the thing which I fear comes on me,<br/> <span class="indent">&nbsp;&nbsp;</span>That which I am afraid of comes to me.<br/></span>
  <span class="verse" title="Job 3:26" id="Job-3-26">I am not at ease, neither am I quiet, neither have I rest;<br/> <span class="indent">&nbsp;&nbsp;</span>but trouble comes.&#8221;<br/></span>
</div>