<div class="chapter" id="Job-004">
  <h2>Job 4</h2>
  <span class="verse" title="Job 4:1" id="Job-4-1">Then Eliphaz the Temanite answered,</span>
  <span class="verse" title="Job 4:2" id="Job-4-2">&#8220;If someone ventures to talk with you, will you be grieved?<br/> <span class="indent">&nbsp;&nbsp;</span>But who can withhold himself from speaking?<br/></span>
  <span class="verse" title="Job 4:3" id="Job-4-3">Behold, you have instructed many,<br/> <span class="indent">&nbsp;&nbsp;</span>you have strengthened the weak hands.<br/></span>
  <span class="verse" title="Job 4:4" id="Job-4-4">Your words have supported him who was falling,<br/> <span class="indent">&nbsp;&nbsp;</span>You have made firm the feeble knees.<br/></span>
  <span class="verse" title="Job 4:5" id="Job-4-5">But now it has come to you, and you faint.<br/> <span class="indent">&nbsp;&nbsp;</span>It touches you, and you are troubled.<br/></span>
  <span class="verse" title="Job 4:6" id="Job-4-6">Isn&#8217;t your piety your confidence?<br/> <span class="indent">&nbsp;&nbsp;</span>Isn&#8217;t the integrity of your ways your hope?<br/>   <br/></span>
  <span class="verse" title="Job 4:7" id="Job-4-7">&#8220;Remember, now, whoever perished, being innocent?<br/> <span class="indent">&nbsp;&nbsp;</span>Or where were the upright cut off?<br/></span>
  <span class="verse" title="Job 4:8" id="Job-4-8">According to what I have seen, those who plow iniquity,<br/> <span class="indent">&nbsp;&nbsp;</span>and sow trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>reap the same.<br/></span>
  <span class="verse" title="Job 4:9" id="Job-4-9">By the breath of God they perish.<br/> <span class="indent">&nbsp;&nbsp;</span>By the blast of his anger are they consumed.<br/></span>
  <span class="verse" title="Job 4:10" id="Job-4-10">The roaring of the lion,<br/> <span class="indent">&nbsp;&nbsp;</span>and the voice of the fierce lion,<br/> <span class="indent">&nbsp;&nbsp;</span>the teeth of the young lions, are broken.<br/></span>
  <span class="verse" title="Job 4:11" id="Job-4-11">The old lion perishes for lack of prey.<br/> <span class="indent">&nbsp;&nbsp;</span>The cubs of the lioness are scattered abroad.<br/>   <br/></span>
  <span class="verse" title="Job 4:12" id="Job-4-12">&#8220;Now a thing was secretly brought to me.<br/> <span class="indent">&nbsp;&nbsp;</span>My ear received a whisper of it.<br/></span>
  <span class="verse" title="Job 4:13" id="Job-4-13">In thoughts from the visions of the night,<br/> <span class="indent">&nbsp;&nbsp;</span>when deep sleep falls on men,<br/></span>
  <span class="verse" title="Job 4:14" id="Job-4-14">fear came on me, and trembling,<br/> <span class="indent">&nbsp;&nbsp;</span>which made all my bones shake.<br/></span>
  <span class="verse" title="Job 4:15" id="Job-4-15">Then a spirit passed before my face.<br/> <span class="indent">&nbsp;&nbsp;</span>The hair of my flesh stood up.<br/></span>
  <span class="verse" title="Job 4:16" id="Job-4-16">It stood still, but I couldn&#8217;t discern its appearance.<br/> <span class="indent">&nbsp;&nbsp;</span>A form was before my eyes.<br/> <span class="indent">&nbsp;&nbsp;</span>Silence, then I heard a voice, saying,<br/></span>
  <span class="verse" title="Job 4:17" id="Job-4-17">&#8216;Shall mortal man be more just than God?<br/> <span class="indent">&nbsp;&nbsp;</span>Shall a man be more pure than his Maker?<br/></span>
  <span class="verse" title="Job 4:18" id="Job-4-18">Behold, he puts no trust in his servants.<br/> <span class="indent">&nbsp;&nbsp;</span>He charges his angels with error.<br/></span>
  <span class="verse" title="Job 4:19" id="Job-4-19">How much more, those who dwell in houses of clay,<br/> <span class="indent">&nbsp;&nbsp;</span>whose foundation is in the dust,<br/> <span class="indent">&nbsp;&nbsp;</span>who are crushed before the moth!<br/></span>
  <span class="verse" title="Job 4:20" id="Job-4-20">Between morning and evening they are destroyed.<br/> <span class="indent">&nbsp;&nbsp;</span>They perish forever without any regarding it.<br/></span>
  <span class="verse" title="Job 4:21" id="Job-4-21">Isn&#8217;t their tent cord plucked up within them?<br/> <span class="indent">&nbsp;&nbsp;</span>They die, and that without wisdom.&#8217;<br/>   <br/></span>
</div>