<div class="chapter" id="Job-005">
  <h2>Job 5</h2>
  <span class="verse" title="Job 5:1" id="Job-5-1">&#8220;Call now; is there any who will answer you?<br/> <span class="indent">&nbsp;&nbsp;</span>To which of the holy ones will you turn?<br/></span>
  <span class="verse" title="Job 5:2" id="Job-5-2">For resentment kills the foolish man,<br/> <span class="indent">&nbsp;&nbsp;</span>and jealousy kills the simple.<br/></span>
  <span class="verse" title="Job 5:3" id="Job-5-3">I have seen the foolish taking root,<br/> <span class="indent">&nbsp;&nbsp;</span>but suddenly I cursed his habitation.<br/></span>
  <span class="verse" title="Job 5:4" id="Job-5-4">His children are far from safety.<br/> <span class="indent">&nbsp;&nbsp;</span>They are crushed in the gate.<br/> <span class="indent">&nbsp;&nbsp;</span>Neither is there any to deliver them,<br/></span>
  <span class="verse" title="Job 5:5" id="Job-5-5">whose harvest the hungry eats up,<br/> <span class="indent">&nbsp;&nbsp;</span>and take it even out of the thorns.<br/> <span class="indent">&nbsp;&nbsp;</span>The snare gapes for their substance.<br/></span>
  <span class="verse" title="Job 5:6" id="Job-5-6">For affliction doesn&#8217;t come forth from the dust,<br/> <span class="indent">&nbsp;&nbsp;</span>neither does trouble spring out of the ground;<br/></span>
  <span class="verse" title="Job 5:7" id="Job-5-7">but man is born to trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>as the sparks fly upward.<br/>   <br/></span>
  <span class="verse" title="Job 5:8" id="Job-5-8">&#8220;But as for me, I would seek God.<br/> <span class="indent">&nbsp;&nbsp;</span>I would commit my cause to God,<br/></span>
  <span class="verse" title="Job 5:9" id="Job-5-9">who does great things that can&#8217;t be fathomed,<br/> <span class="indent">&nbsp;&nbsp;</span>marvelous things without number;<br/></span>
  <span class="verse" title="Job 5:10" id="Job-5-10">who gives rain on the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and sends waters on the fields;<br/></span>
  <span class="verse" title="Job 5:11" id="Job-5-11">so that he sets up on high those who are low,<br/> <span class="indent">&nbsp;&nbsp;</span>those who mourn are exalted to safety.<br/></span>
  <span class="verse" title="Job 5:12" id="Job-5-12">He frustrates the devices of the crafty,<br/> <span class="indent">&nbsp;&nbsp;</span>So that their hands can&#8217;t perform their enterprise.<br/></span>
  <span class="verse" title="Job 5:13" id="Job-5-13">He takes the wise in their own craftiness;<br/> <span class="indent">&nbsp;&nbsp;</span>the counsel of the cunning is carried headlong.<br/></span>
  <span class="verse" title="Job 5:14" id="Job-5-14">They meet with darkness in the day time,<br/> <span class="indent">&nbsp;&nbsp;</span>and grope at noonday as in the night.<br/></span>
  <span class="verse" title="Job 5:15" id="Job-5-15">But he saves from the sword of their mouth,<br/> <span class="indent">&nbsp;&nbsp;</span>even the needy from the hand of the mighty.<br/></span>
  <span class="verse" title="Job 5:16" id="Job-5-16">So the poor has hope,<br/> <span class="indent">&nbsp;&nbsp;</span>and injustice shuts her mouth.<br/>   <br/></span>
  <span class="verse" title="Job 5:17" id="Job-5-17">&#8220;Behold, happy is the man whom God corrects.<br/> <span class="indent">&nbsp;&nbsp;</span>Therefore do not despise the chastening of the Almighty.<br/></span>
  <span class="verse" title="Job 5:18" id="Job-5-18">For he wounds, and binds up.<br/> <span class="indent">&nbsp;&nbsp;</span>He injures, and his hands make whole.<br/></span>
  <span class="verse" title="Job 5:19" id="Job-5-19">He will deliver you in six troubles;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, in seven no evil shall touch you.<br/></span>
  <span class="verse" title="Job 5:20" id="Job-5-20">In famine he will redeem you from death;<br/> <span class="indent">&nbsp;&nbsp;</span>in war, from the power of the sword.<br/></span>
  <span class="verse" title="Job 5:21" id="Job-5-21">You shall be hidden from the scourge of the tongue,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall you be afraid of destruction when it comes.<br/></span>
  <span class="verse" title="Job 5:22" id="Job-5-22">At destruction and famine you shall laugh,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall you be afraid of the animals of the earth.<br/></span>
  <span class="verse" title="Job 5:23" id="Job-5-23">For you shall be allied with the stones of the field.<br/> <span class="indent">&nbsp;&nbsp;</span>The animals of the field shall be at peace with you.<br/></span>
  <span class="verse" title="Job 5:24" id="Job-5-24">You shall know that your tent is in peace.<br/> <span class="indent">&nbsp;&nbsp;</span>You shall visit your fold, and shall miss nothing.<br/></span>
  <span class="verse" title="Job 5:25" id="Job-5-25">You shall know also that your seed shall be great,<br/> <span class="indent">&nbsp;&nbsp;</span>Your offspring as the grass of the earth.<br/></span>
  <span class="verse" title="Job 5:26" id="Job-5-26">You shall come to your grave in a full age,<br/> <span class="indent">&nbsp;&nbsp;</span>like a shock of grain comes in its season.<br/></span>
  <span class="verse" title="Job 5:27" id="Job-5-27">Look this, we have searched it, so it is.<br/> <span class="indent">&nbsp;&nbsp;</span>Hear it, and know it for your good.&#8221;<br/></span>
</div>