<div class="chapter" id="Job-006">
  <h2>Job 6</h2>
  <span class="verse" title="Job 6:1" id="Job-6-1">Then Job answered,</span>
  <span class="verse" title="Job 6:2" id="Job-6-2">&#8220;Oh that my anguish were weighed,<br/> <span class="indent">&nbsp;&nbsp;</span>and all my calamity laid in the balances!<br/></span>
  <span class="verse" title="Job 6:3" id="Job-6-3">For now it would be heavier than the sand of the seas,<br/> <span class="indent">&nbsp;&nbsp;</span>therefore have my words been rash.<br/></span>
  <span class="verse" title="Job 6:4" id="Job-6-4">For the arrows of the Almighty are within me.<br/> <span class="indent">&nbsp;&nbsp;</span>My spirit drinks up their poison.<br/>   The terrors of God set themselves in array against me.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Job 6:5" id="Job-6-5">Does the wild donkey bray when he has grass?<br/>   Or does the ox low over his fodder?<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Job 6:6" id="Job-6-6">Can that which has no flavor be eaten without salt?<br/>   Or is there any taste in the white of an egg?<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Job 6:7" id="Job-6-7">My soul refuses to touch them.<br/>   They are as loathsome food to me.<br/>   <br/></span>
  <span class="verse" title="Job 6:8" id="Job-6-8">&#8220;Oh that I might have my request,<br/> <span class="indent">&nbsp;&nbsp;</span>that God would grant the thing that I long for,<br/></span>
  <span class="verse" title="Job 6:9" id="Job-6-9">even that it would please God to crush me;<br/> <span class="indent">&nbsp;&nbsp;</span>that he would let loose his hand, and cut me off!<br/></span>
  <span class="verse" title="Job 6:10" id="Job-6-10">Be it still my consolation,<br/> <span class="indent">&nbsp;&nbsp;</span>yes, let me exult in pain that doesn&#8217;t spare,<br/> <span class="indent">&nbsp;&nbsp;</span>that I have not denied the words of the Holy One.<br/></span>
  <span class="verse" title="Job 6:11" id="Job-6-11">What is my strength, that I should wait?<br/> <span class="indent">&nbsp;&nbsp;</span>What is my end, that I should be patient?<br/></span>
  <span class="verse" title="Job 6:12" id="Job-6-12">Is my strength the strength of stones?<br/> <span class="indent">&nbsp;&nbsp;</span>Or is my flesh of brass?<br/></span>
  <span class="verse" title="Job 6:13" id="Job-6-13">Isn&#8217;t it that I have no help in me,<br/> <span class="indent">&nbsp;&nbsp;</span>That wisdom is driven quite from me?<br/>   <br/></span>
  <span class="verse" title="Job 6:14" id="Job-6-14">&#8220;To him who is ready to faint, kindness should be shown from his friend;<br/> <span class="indent">&nbsp;&nbsp;</span>even to him who forsakes the fear of the Almighty.<br/></span>
  <span class="verse" title="Job 6:15" id="Job-6-15">My brothers have dealt deceitfully as a brook,<br/> <span class="indent">&nbsp;&nbsp;</span>as the channel of brooks that pass away;<br/></span>
  <span class="verse" title="Job 6:16" id="Job-6-16">Which are black by reason of the ice,<br/> <span class="indent">&nbsp;&nbsp;</span>in which the snow hides itself.<br/></span>
  <span class="verse" title="Job 6:17" id="Job-6-17">In the dry season, they vanish.<br/> <span class="indent">&nbsp;&nbsp;</span>When it is hot, they are consumed out of their place.<br/></span>
  <span class="verse" title="Job 6:18" id="Job-6-18">The caravans that travel beside them turn aside.<br/> <span class="indent">&nbsp;&nbsp;</span>They go up into the waste, and perish.<br/></span>
  <span class="verse" title="Job 6:19" id="Job-6-19">The caravans of Tema looked.<br/> <span class="indent">&nbsp;&nbsp;</span>The companies of Sheba waited for them.<br/></span>
  <span class="verse" title="Job 6:20" id="Job-6-20">They were distressed because they were confident.<br/> <span class="indent">&nbsp;&nbsp;</span>They came there, and were confounded.<br/></span>
  <span class="verse" title="Job 6:21" id="Job-6-21">For now you are nothing.<br/> <span class="indent">&nbsp;&nbsp;</span>You see a terror, and are afraid.<br/></span>
  <span class="verse" title="Job 6:22" id="Job-6-22">Did I say, &#8216;Give to me?&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>or, &#8216;Offer a present for me from your substance?&#8217;<br/></span>
  <span class="verse" title="Job 6:23" id="Job-6-23">or, &#8216;Deliver me from the adversary&#8217;s hand?&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>or, &#8216;Redeem me from the hand of the oppressors?&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 6:24" id="Job-6-24">&#8220;Teach me, and I will hold my peace.<br/> <span class="indent">&nbsp;&nbsp;</span>Cause me to understand wherein I have erred.<br/></span>
  <span class="verse" title="Job 6:25" id="Job-6-25">How forcible are words of uprightness!<br/> <span class="indent">&nbsp;&nbsp;</span>But your reproof, what does it reprove?<br/></span>
  <span class="verse" title="Job 6:26" id="Job-6-26">Do you intend to reprove words,<br/> <span class="indent">&nbsp;&nbsp;</span>since the speeches of one who is desperate are as wind?<br/></span>
  <span class="verse" title="Job 6:27" id="Job-6-27">Yes, you would even cast lots for the fatherless,<br/> <span class="indent">&nbsp;&nbsp;</span>and make merchandise of your friend.<br/></span>
  <span class="verse" title="Job 6:28" id="Job-6-28">Now therefore be pleased to look at me,<br/> <span class="indent">&nbsp;&nbsp;</span>for surely I shall not lie to your face.<br/></span>
  <span class="verse" title="Job 6:29" id="Job-6-29">Please return.<br/> <span class="indent">&nbsp;&nbsp;</span>Let there be no injustice.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, return again.<br/> <span class="indent">&nbsp;&nbsp;</span>My cause is righteous.<br/></span>
  <span class="verse" title="Job 6:30" id="Job-6-30">Is there injustice on my tongue?<br/> <span class="indent">&nbsp;&nbsp;</span>Can&#8217;t my taste discern mischievous things?<br/>   <br/></span>
</div>