<div class="chapter" id="Job-007">
  <h2>Job 7</h2>
  <span class="verse" title="Job 7:1" id="Job-7-1">&#8220;Isn&#8217;t a man forced to labor on earth?<br/> <span class="indent">&nbsp;&nbsp;</span>Aren&#8217;t his days like the days of a hired hand?<br/></span>
  <span class="verse" title="Job 7:2" id="Job-7-2">As a servant who earnestly desires the shadow,<br/> <span class="indent">&nbsp;&nbsp;</span>as a hireling who looks for his wages,<br/></span>
  <span class="verse" title="Job 7:3" id="Job-7-3">so am I made to possess months of misery,<br/> <span class="indent">&nbsp;&nbsp;</span>wearisome nights are appointed to me.<br/></span>
  <span class="verse" title="Job 7:4" id="Job-7-4">When I lie down, I say,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;When shall I arise, and the night be gone?&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>I toss and turn until the dawning of the day.<br/></span>
  <span class="verse" title="Job 7:5" id="Job-7-5">My flesh is clothed with worms and clods of dust.<br/> <span class="indent">&nbsp;&nbsp;</span>My skin closes up, and breaks out afresh.<br/></span>
  <span class="verse" title="Job 7:6" id="Job-7-6">My days are swifter than a weaver&#8217;s shuttle,<br/> <span class="indent">&nbsp;&nbsp;</span>and are spent without hope.<br/></span>
  <span class="verse" title="Job 7:7" id="Job-7-7">Oh remember that my life is a breath.<br/> <span class="indent">&nbsp;&nbsp;</span>My eye shall no more see good.<br/></span>
  <span class="verse" title="Job 7:8" id="Job-7-8">The eye of him who sees me shall see me no more.<br/> <span class="indent">&nbsp;&nbsp;</span>Your eyes shall be on me, but I shall not be.<br/></span>
  <span class="verse" title="Job 7:9" id="Job-7-9">As the cloud is consumed and vanishes away,<br/> <span class="indent">&nbsp;&nbsp;</span>so he who goes down to Sheol shall come up no more.<br/></span>
  <span class="verse" title="Job 7:10" id="Job-7-10">He shall return no more to his house,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall his place know him any more.<br/>   <br/></span>
  <span class="verse" title="Job 7:11" id="Job-7-11">&#8220;Therefore I will not keep silent.<br/> <span class="indent">&nbsp;&nbsp;</span>I will speak in the anguish of my spirit.<br/> <span class="indent">&nbsp;&nbsp;</span>I will complain in the bitterness of my soul.<br/></span>
  <span class="verse" title="Job 7:12" id="Job-7-12">Am I a sea, or a sea monster,<br/> <span class="indent">&nbsp;&nbsp;</span>that you put a guard over me?<br/></span>
  <span class="verse" title="Job 7:13" id="Job-7-13">When I say, &#8216;My bed shall comfort me.<br/> <span class="indent">&nbsp;&nbsp;</span>My couch shall ease my complaint;&#8217;<br/></span>
  <span class="verse" title="Job 7:14" id="Job-7-14">then you scare me with dreams,<br/> <span class="indent">&nbsp;&nbsp;</span>and terrify me through visions:<br/></span>
  <span class="verse" title="Job 7:15" id="Job-7-15">so that my soul chooses strangling,<br/> <span class="indent">&nbsp;&nbsp;</span>death rather than my bones.<br/></span>
  <span class="verse" title="Job 7:16" id="Job-7-16">I loathe my life.<br/> <span class="indent">&nbsp;&nbsp;</span>I don&#8217;t want to live forever.<br/> <span class="indent">&nbsp;&nbsp;</span>Leave me alone, for my days are but a breath.<br/></span>
  <span class="verse" title="Job 7:17" id="Job-7-17">What is man, that you should magnify him,<br/> <span class="indent">&nbsp;&nbsp;</span>that you should set your mind on him,<br/></span>
  <span class="verse" title="Job 7:18" id="Job-7-18">that you should visit him every morning,<br/> <span class="indent">&nbsp;&nbsp;</span>and test him every moment?<br/></span>
  <span class="verse" title="Job 7:19" id="Job-7-19">How long will you not look away from me,<br/> <span class="indent">&nbsp;&nbsp;</span>nor leave me alone until I swallow down my spittle?<br/></span>
  <span class="verse" title="Job 7:20" id="Job-7-20">If I have sinned, what do I do to you, you watcher of men?<br/> <span class="indent">&nbsp;&nbsp;</span>Why have you set me as a mark for you,<br/> <span class="indent">&nbsp;&nbsp;</span>so that I am a burden to myself?<br/></span>
  <span class="verse" title="Job 7:21" id="Job-7-21">Why do you not pardon my disobedience, and take away my iniquity?<br/> <span class="indent">&nbsp;&nbsp;</span>For now shall I lie down in the dust.<br/> <span class="indent">&nbsp;&nbsp;</span>You will seek me diligently, but I shall not be.&#8221;<br/></span>
</div>