<div class="chapter" id="Job-008">
  <h2>Job 8</h2>
  <span class="verse" title="Job 8:1" id="Job-8-1">Then Bildad the Shuhite answered,</span>
  <span class="verse" title="Job 8:2" id="Job-8-2">&#8220;How long will you speak these things?<br/> <span class="indent">&nbsp;&nbsp;</span>Shall the words of your mouth be a mighty wind?<br/></span>
  <span class="verse" title="Job 8:3" id="Job-8-3">Does God pervert justice?<br/> <span class="indent">&nbsp;&nbsp;</span>Or does the Almighty pervert righteousness?<br/></span>
  <span class="verse" title="Job 8:4" id="Job-8-4">If your children have sinned against him,<br/> <span class="indent">&nbsp;&nbsp;</span>He has delivered them into the hand of their disobedience.<br/></span>
  <span class="verse" title="Job 8:5" id="Job-8-5">If you want to seek God diligently,<br/> <span class="indent">&nbsp;&nbsp;</span>make your supplication to the Almighty.<br/></span>
  <span class="verse" title="Job 8:6" id="Job-8-6">If you were pure and upright,<br/> <span class="indent">&nbsp;&nbsp;</span>surely now he would awaken for you,<br/>   and make the habitation of your righteousness prosperous.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Job 8:7" id="Job-8-7">Though your beginning was small,<br/>   yet your latter end would greatly increase.<br/>   <br/></span>
  <span class="verse" title="Job 8:8" id="Job-8-8">&#8220;Please inquire of past generations.<br/> <span class="indent">&nbsp;&nbsp;</span>Find out about the learning of their fathers.<br/></span>
  <span class="verse" title="Job 8:9" id="Job-8-9">(For we are but of yesterday, and know nothing,<br/> <span class="indent">&nbsp;&nbsp;</span>because our days on earth are a shadow.)<br/></span>
  <span class="verse" title="Job 8:10" id="Job-8-10">Shall they not teach you, tell you,<br/> <span class="indent">&nbsp;&nbsp;</span>and utter words out of their heart?<br/>   <br/></span>
  <span class="verse" title="Job 8:11" id="Job-8-11">&#8220;Can the papyrus grow up without mire?<br/> <span class="indent">&nbsp;&nbsp;</span>Can the rushes grow without water?<br/></span>
  <span class="verse" title="Job 8:12" id="Job-8-12">While it is yet in its greenness, not cut down,<br/> <span class="indent">&nbsp;&nbsp;</span>it withers before any other reed.<br/></span>
  <span class="verse" title="Job 8:13" id="Job-8-13">So are the paths of all who forget God.<br/> <span class="indent">&nbsp;&nbsp;</span>The hope of the godless man shall perish,<br/></span>
  <span class="verse" title="Job 8:14" id="Job-8-14">Whose confidence shall break apart,<br/> <span class="indent">&nbsp;&nbsp;</span>Whose trust is a spider&#8217;s web.<br/></span>
  <span class="verse" title="Job 8:15" id="Job-8-15">He shall lean on his house, but it shall not stand.<br/> <span class="indent">&nbsp;&nbsp;</span>He shall cling to it, but it shall not endure.<br/></span>
  <span class="verse" title="Job 8:16" id="Job-8-16">He is green before the sun.<br/> <span class="indent">&nbsp;&nbsp;</span>His shoots go forth over his garden.<br/></span>
  <span class="verse" title="Job 8:17" id="Job-8-17">His roots are wrapped around the rock pile.<br/> <span class="indent">&nbsp;&nbsp;</span>He sees the place of stones.<br/></span>
  <span class="verse" title="Job 8:18" id="Job-8-18">If he is destroyed from his place,<br/> <span class="indent">&nbsp;&nbsp;</span>then it shall deny him, saying, &#8216;I have not seen you.&#8217;<br/></span>
  <span class="verse" title="Job 8:19" id="Job-8-19">Behold, this is the joy of his way:<br/> <span class="indent">&nbsp;&nbsp;</span>out of the earth, others shall spring.<br/>   <br/></span>
  <span class="verse" title="Job 8:20" id="Job-8-20">&#8220;Behold, God will not cast away a blameless man,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will he uphold the evildoers.<br/></span>
  <span class="verse" title="Job 8:21" id="Job-8-21">He will still fill your mouth with laughter,<br/> <span class="indent">&nbsp;&nbsp;</span>your lips with shouting.<br/></span>
  <span class="verse" title="Job 8:22" id="Job-8-22">Those who hate you shall be clothed with shame.<br/> <span class="indent">&nbsp;&nbsp;</span>The tent of the wicked shall be no more.&#8221;<br/></span>
</div>