<div class="chapter" id="Job-009">
  <h2>Job 9</h2>
  <span class="verse" title="Job 9:1" id="Job-9-1">Then Job answered,</span>
  <span class="verse" title="Job 9:2" id="Job-9-2">&#8220;Truly I know that it is so,<br/> <span class="indent">&nbsp;&nbsp;</span>but how can man be just with God?<br/></span>
  <span class="verse" title="Job 9:3" id="Job-9-3">If he is pleased to contend with him,<br/> <span class="indent">&nbsp;&nbsp;</span>he can&#8217;t answer him one time in a thousand.<br/></span>
  <span class="verse" title="Job 9:4" id="Job-9-4">God who is wise in heart, and mighty in strength:<br/> <span class="indent">&nbsp;&nbsp;</span>who has hardened himself against him, and prospered?<br/></span>
  <span class="verse" title="Job 9:5" id="Job-9-5">He removes the mountains, and they don&#8217;t know it,<br/> <span class="indent">&nbsp;&nbsp;</span>when he overturns them in his anger.<br/></span>
  <span class="verse" title="Job 9:6" id="Job-9-6">He shakes the earth out of its place.<br/> <span class="indent">&nbsp;&nbsp;</span>Its pillars tremble.<br/></span>
  <span class="verse" title="Job 9:7" id="Job-9-7">He commands the sun, and it doesn&#8217;t rise,<br/> <span class="indent">&nbsp;&nbsp;</span>and seals up the stars.<br/></span>
  <span class="verse" title="Job 9:8" id="Job-9-8">He alone stretches out the heavens,<br/> <span class="indent">&nbsp;&nbsp;</span>and treads on the waves of the sea.<br/></span>
  <span class="verse" title="Job 9:9" id="Job-9-9">He makes the Bear, Orion, and the Pleiades,<br/> <span class="indent">&nbsp;&nbsp;</span>and the rooms of the south.<br/></span>
  <span class="verse" title="Job 9:10" id="Job-9-10">He does great things past finding out;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, marvelous things without number.<br/></span>
  <span class="verse" title="Job 9:11" id="Job-9-11">Behold, he goes by me, and I don&#8217;t see him.<br/> <span class="indent">&nbsp;&nbsp;</span>He passes on also, but I don&#8217;t perceive him.<br/></span>
  <span class="verse" title="Job 9:12" id="Job-9-12">Behold, he snatches away.<br/> <span class="indent">&nbsp;&nbsp;</span>Who can hinder him?<br/> <span class="indent">&nbsp;&nbsp;</span>Who will ask him, &#8216;What are you doing?&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 9:13" id="Job-9-13">&#8220;God will not withdraw his anger.<br/> <span class="indent">&nbsp;&nbsp;</span>The helpers of Rahab stoop under him.<br/></span>
  <span class="verse" title="Job 9:14" id="Job-9-14">How much less shall I answer him,<br/> <span class="indent">&nbsp;&nbsp;</span>And choose my words to argue with him?<br/></span>
  <span class="verse" title="Job 9:15" id="Job-9-15">Though I were righteous, yet I wouldn&#8217;t answer him.<br/> <span class="indent">&nbsp;&nbsp;</span>I would make supplication to my judge.<br/></span>
  <span class="verse" title="Job 9:16" id="Job-9-16">If I had called, and he had answered me,<br/> <span class="indent">&nbsp;&nbsp;</span>yet I wouldn&#8217;t believe that he listened to my voice.<br/></span>
  <span class="verse" title="Job 9:17" id="Job-9-17">For he breaks me with a storm,<br/> <span class="indent">&nbsp;&nbsp;</span>and multiplies my wounds without cause.<br/></span>
  <span class="verse" title="Job 9:18" id="Job-9-18">He will not allow me to catch my breath,<br/> <span class="indent">&nbsp;&nbsp;</span>but fills me with bitterness.<br/></span>
  <span class="verse" title="Job 9:19" id="Job-9-19">If it is a matter of strength, behold, he is mighty!<br/> <span class="indent">&nbsp;&nbsp;</span>If of justice, &#8216;Who,&#8217; says he, &#8216;will summon me?&#8217;<br/></span>
  <span class="verse" title="Job 9:20" id="Job-9-20">Though I am righteous, my own mouth shall condemn me.<br/> <span class="indent">&nbsp;&nbsp;</span>Though I am blameless, it shall prove me perverse.<br/></span>
  <span class="verse" title="Job 9:21" id="Job-9-21">I am blameless.<br/> <span class="indent">&nbsp;&nbsp;</span>I don&#8217;t respect myself.<br/> <span class="indent">&nbsp;&nbsp;</span>I despise my life.<br/>   <br/></span>
  <span class="verse" title="Job 9:22" id="Job-9-22">&#8220;It is all the same.<br/> <span class="indent">&nbsp;&nbsp;</span>Therefore I say he destroys the blameless and the wicked.<br/></span>
  <span class="verse" title="Job 9:23" id="Job-9-23">If the scourge kills suddenly,<br/> <span class="indent">&nbsp;&nbsp;</span>he will mock at the trial of the innocent.<br/></span>
  <span class="verse" title="Job 9:24" id="Job-9-24">The earth is given into the hand of the wicked.<br/> <span class="indent">&nbsp;&nbsp;</span>He covers the faces of its judges.<br/> <span class="indent">&nbsp;&nbsp;</span>If not he, then who is it?<br/>   <br/></span>
  <span class="verse" title="Job 9:25" id="Job-9-25">&#8220;Now my days are swifter than a runner.<br/> <span class="indent">&nbsp;&nbsp;</span>They flee away, they see no good,<br/></span>
  <span class="verse" title="Job 9:26" id="Job-9-26">They have passed away as the swift ships,<br/> <span class="indent">&nbsp;&nbsp;</span>as the eagle that swoops on the prey.<br/></span>
  <span class="verse" title="Job 9:27" id="Job-9-27">If I say, &#8216;I will forget my complaint,<br/> <span class="indent">&nbsp;&nbsp;</span>I will put off my sad face, and cheer up;&#8217;<br/></span>
  <span class="verse" title="Job 9:28" id="Job-9-28">I am afraid of all my sorrows,<br/> <span class="indent">&nbsp;&nbsp;</span>I know that you will not hold me innocent.<br/></span>
  <span class="verse" title="Job 9:29" id="Job-9-29">I shall be condemned.<br/> <span class="indent">&nbsp;&nbsp;</span>Why then do I labor in vain?<br/></span>
  <span class="verse" title="Job 9:30" id="Job-9-30">If I wash myself with snow,<br/> <span class="indent">&nbsp;&nbsp;</span>and cleanse my hands with lye,<br/></span>
  <span class="verse" title="Job 9:31" id="Job-9-31">yet you will plunge me in the ditch.<br/> <span class="indent">&nbsp;&nbsp;</span>My own clothes shall abhor me.<br/></span>
  <span class="verse" title="Job 9:32" id="Job-9-32">For he is not a man, as I am, that I should answer him,<br/> <span class="indent">&nbsp;&nbsp;</span>that we should come together in judgment.<br/></span>
  <span class="verse" title="Job 9:33" id="Job-9-33">There is no umpire between us,<br/> <span class="indent">&nbsp;&nbsp;</span>that might lay his hand on us both.<br/></span>
  <span class="verse" title="Job 9:34" id="Job-9-34">Let him take his rod away from me.<br/> <span class="indent">&nbsp;&nbsp;</span>Let his terror not make me afraid;<br/></span>
  <span class="verse" title="Job 9:35" id="Job-9-35">then I would speak, and not fear him,<br/> <span class="indent">&nbsp;&nbsp;</span>for I am not so in myself.<br/>   <br/></span>
</div>