<div class="chapter" id="Job-010">
  <h2>Job 10</h2>
  <span class="verse" title="Job 10:1" id="Job-10-1">&#8220;My soul is weary of my life.<br/> <span class="indent">&nbsp;&nbsp;</span>I will give free course to my complaint.<br/> <span class="indent">&nbsp;&nbsp;</span>I will speak in the bitterness of my soul.<br/></span>
  <span class="verse" title="Job 10:2" id="Job-10-2">I will tell God, &#8216;Do not condemn me.<br/> <span class="indent">&nbsp;&nbsp;</span>Show me why you contend with me.<br/></span>
  <span class="verse" title="Job 10:3" id="Job-10-3">Is it good to you that you should oppress,<br/> <span class="indent">&nbsp;&nbsp;</span>that you should despise the work of your hands,<br/> <span class="indent">&nbsp;&nbsp;</span>and smile on the counsel of the wicked?<br/></span>
  <span class="verse" title="Job 10:4" id="Job-10-4">Do you have eyes of flesh?<br/> <span class="indent">&nbsp;&nbsp;</span>Or do you see as man sees?<br/></span>
  <span class="verse" title="Job 10:5" id="Job-10-5">Are your days as the days of mortals,<br/> <span class="indent">&nbsp;&nbsp;</span>or your years as man&#8217;s years,<br/></span>
  <span class="verse" title="Job 10:6" id="Job-10-6">that you inquire after my iniquity,<br/> <span class="indent">&nbsp;&nbsp;</span>and search after my sin?<br/></span>
  <span class="verse" title="Job 10:7" id="Job-10-7">Although you know that I am not wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>there is no one who can deliver out of your hand.<br/>   <br/></span>
  <span class="verse" title="Job 10:8" id="Job-10-8">&#8220;&#8216;Your hands have framed me and fashioned me altogether,<br/> <span class="indent">&nbsp;&nbsp;</span>yet you destroy me.<br/></span>
  <span class="verse" title="Job 10:9" id="Job-10-9">Remember, I beg you, that you have fashioned me as clay.<br/> <span class="indent">&nbsp;&nbsp;</span>Will you bring me into dust again?<br/></span>
  <span class="verse" title="Job 10:10" id="Job-10-10">Haven&#8217;t you poured me out like milk,<br/> <span class="indent">&nbsp;&nbsp;</span>and curdled me like cheese?<br/></span>
  <span class="verse" title="Job 10:11" id="Job-10-11">You have clothed me with skin and flesh,<br/> <span class="indent">&nbsp;&nbsp;</span>and knit me together with bones and sinews.<br/></span>
  <span class="verse" title="Job 10:12" id="Job-10-12">You have granted me life and loving kindness.<br/> <span class="indent">&nbsp;&nbsp;</span>Your visitation has preserved my spirit.<br/></span>
  <span class="verse" title="Job 10:13" id="Job-10-13">Yet you hid these things in your heart.<br/> <span class="indent">&nbsp;&nbsp;</span>I know that this is with you:<br/></span>
  <span class="verse" title="Job 10:14" id="Job-10-14">if I sin, then you mark me.<br/> <span class="indent">&nbsp;&nbsp;</span>You will not acquit me from my iniquity.<br/></span>
  <span class="verse" title="Job 10:15" id="Job-10-15">If I am wicked, woe to me.<br/> <span class="indent">&nbsp;&nbsp;</span>If I am righteous, I still shall not lift up my head,<br/> <span class="indent">&nbsp;&nbsp;</span>being filled with disgrace,<br/> <span class="indent">&nbsp;&nbsp;</span>and conscious of my affliction.<br/></span>
  <span class="verse" title="Job 10:16" id="Job-10-16">If my head is held high, you hunt me like a lion.<br/> <span class="indent">&nbsp;&nbsp;</span>Again you show yourself powerful to me.<br/></span>
  <span class="verse" title="Job 10:17" id="Job-10-17">You renew your witnesses against me,<br/> <span class="indent">&nbsp;&nbsp;</span>and increase your indignation on me.<br/> <span class="indent">&nbsp;&nbsp;</span>Changes and warfare are with me.<br/>   <br/></span>
  <span class="verse" title="Job 10:18" id="Job-10-18">&#8220;&#8216;Why, then, have you brought me forth out of the womb?<br/> <span class="indent">&nbsp;&nbsp;</span>I wish I had given up the spirit, and no eye had seen me.<br/></span>
  <span class="verse" title="Job 10:19" id="Job-10-19">I should have been as though I had not been.<br/> <span class="indent">&nbsp;&nbsp;</span>I should have been carried from the womb to the grave.<br/></span>
  <span class="verse" title="Job 10:20" id="Job-10-20">Aren&#8217;t my days few?<br/> <span class="indent">&nbsp;&nbsp;</span>Cease then.<br/> <span class="indent">&nbsp;&nbsp;</span>Leave me alone, that I may find a little comfort,<br/></span>
  <span class="verse" title="Job 10:21" id="Job-10-21">before I go where I shall not return from,<br/> <span class="indent">&nbsp;&nbsp;</span>to the land of darkness and of the shadow of death;<br/></span>
  <span class="verse" title="Job 10:22" id="Job-10-22">the land dark as midnight,<br/> <span class="indent">&nbsp;&nbsp;</span>of the shadow of death,<br/> <span class="indent">&nbsp;&nbsp;</span>without any order,<br/> <span class="indent">&nbsp;&nbsp;</span>where the light is as midnight.&#8217;&#8221;<br/></span>
</div>