<div class="chapter" id="Job-011">
  <h2>Job 11</h2>
  <span class="verse" title="Job 11:1" id="Job-11-1">Then Zophar, the Naamathite, answered,</span>
  <span class="verse" title="Job 11:2" id="Job-11-2">&#8220;Shouldn&#8217;t the multitude of words be answered?<br/> <span class="indent">&nbsp;&nbsp;</span>Should a man full of talk be justified?<br/></span>
  <span class="verse" title="Job 11:3" id="Job-11-3">Should your boastings make men hold their peace?<br/> <span class="indent">&nbsp;&nbsp;</span>When you mock, shall no man make you ashamed?<br/></span>
  <span class="verse" title="Job 11:4" id="Job-11-4">For you say, &#8216;My doctrine is pure.<br/> <span class="indent">&nbsp;&nbsp;</span>I am clean in your eyes.&#8217;<br/></span>
  <span class="verse" title="Job 11:5" id="Job-11-5">But oh that God would speak,<br/> <span class="indent">&nbsp;&nbsp;</span>and open his lips against you,<br/></span>
  <span class="verse" title="Job 11:6" id="Job-11-6">that he would show you the secrets of wisdom!<br/> <span class="indent">&nbsp;&nbsp;</span>For true wisdom has two sides.<br/> <span class="indent">&nbsp;&nbsp;</span>Know therefore that God exacts of you less than your iniquity deserves.<br/>   <br/></span>
  <span class="verse" title="Job 11:7" id="Job-11-7">&#8220;Can you fathom the mystery of God?<br/> <span class="indent">&nbsp;&nbsp;</span>Or can you probe the limits of the Almighty?<br/></span>
  <span class="verse" title="Job 11:8" id="Job-11-8">They are high as heaven. What can you do?<br/> <span class="indent">&nbsp;&nbsp;</span>They are deeper than Sheol. What can you know?<br/></span>
  <span class="verse" title="Job 11:9" id="Job-11-9">Its measure is longer than the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and broader than the sea.<br/></span>
  <span class="verse" title="Job 11:10" id="Job-11-10">If he passes by, or confines,<br/> <span class="indent">&nbsp;&nbsp;</span>or convenes a court, then who can oppose him?<br/></span>
  <span class="verse" title="Job 11:11" id="Job-11-11">For he knows false men.<br/> <span class="indent">&nbsp;&nbsp;</span>He sees iniquity also, even though he doesn&#8217;t consider it.<br/></span>
  <span class="verse" title="Job 11:12" id="Job-11-12">An empty-headed man becomes wise<br/> <span class="indent">&nbsp;&nbsp;</span>when a man is born as a wild donkey&#8217;s colt.<br/>   <br/></span>
  <span class="verse" title="Job 11:13" id="Job-11-13">&#8220;If you set your heart aright,<br/> <span class="indent">&nbsp;&nbsp;</span>stretch out your hands toward him.<br/></span>
  <span class="verse" title="Job 11:14" id="Job-11-14">If iniquity is in your hand, put it far away.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let unrighteousness dwell in your tents.<br/></span>
  <span class="verse" title="Job 11:15" id="Job-11-15">Surely then you shall lift up your face without spot;<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, you shall be steadfast, and shall not fear:<br/></span>
  <span class="verse" title="Job 11:16" id="Job-11-16">for you shall forget your misery.<br/> <span class="indent">&nbsp;&nbsp;</span>You shall remember it as waters that are passed away.<br/></span>
  <span class="verse" title="Job 11:17" id="Job-11-17">Life shall be clearer than the noonday.<br/> <span class="indent">&nbsp;&nbsp;</span>Though there is darkness, it shall be as the morning.<br/></span>
  <span class="verse" title="Job 11:18" id="Job-11-18">You shall be secure, because there is hope.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, you shall search, and shall take your rest in safety.<br/></span>
  <span class="verse" title="Job 11:19" id="Job-11-19">Also you shall lie down, and none shall make you afraid.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, many shall court your favor.<br/></span>
  <span class="verse" title="Job 11:20" id="Job-11-20">But the eyes of the wicked shall fail.<br/> <span class="indent">&nbsp;&nbsp;</span>They shall have no way to flee.<br/> <span class="indent">&nbsp;&nbsp;</span>Their hope shall be the giving up of the spirit.&#8221;<br/></span>
</div>