<div class="chapter" id="Job-012">
  <h2>Job 12</h2>
  <span class="verse" title="Job 12:1" id="Job-12-1">Then Job answered,</span>
  <span class="verse" title="Job 12:2" id="Job-12-2">&#8220;No doubt, but you are the people,<br/> <span class="indent">&nbsp;&nbsp;</span>and wisdom shall die with you.<br/></span>
  <span class="verse" title="Job 12:3" id="Job-12-3">But I have understanding as well as you;<br/> <span class="indent">&nbsp;&nbsp;</span>I am not inferior to you.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, who doesn&#8217;t know such things as these?<br/></span>
  <span class="verse" title="Job 12:4" id="Job-12-4">I am like one who is a joke to his neighbor,<br/> <span class="indent">&nbsp;&nbsp;</span>I, who called on God, and he answered.<br/> <span class="indent">&nbsp;&nbsp;</span>The just, the blameless man is a joke.<br/></span>
  <span class="verse" title="Job 12:5" id="Job-12-5">In the thought of him who is at ease there is contempt for misfortune.<br/> <span class="indent">&nbsp;&nbsp;</span>It is ready for them whose foot slips.<br/></span>
  <span class="verse" title="Job 12:6" id="Job-12-6">The tents of robbers prosper.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who provoke God are secure,<br/> <span class="indent">&nbsp;&nbsp;</span>who carry their God in their hands.<br/>   <br/></span>
  <span class="verse" title="Job 12:7" id="Job-12-7">&#8220;But ask the animals, now, and they shall teach you;<br/> <span class="indent">&nbsp;&nbsp;</span>the birds of the sky, and they shall tell you.<br/></span>
  <span class="verse" title="Job 12:8" id="Job-12-8">Or speak to the earth, and it shall teach you.<br/> <span class="indent">&nbsp;&nbsp;</span>The fish of the sea shall declare to you.<br/></span>
  <span class="verse" title="Job 12:9" id="Job-12-9">Who doesn&#8217;t know that in all these,<br/> <span class="indent">&nbsp;&nbsp;</span>the hand of Yahweh has done this,<br/></span>
  <span class="verse" title="Job 12:10" id="Job-12-10">in whose hand is the life of every living thing,<br/> <span class="indent">&nbsp;&nbsp;</span>and the breath of all mankind?<br/></span>
  <span class="verse" title="Job 12:11" id="Job-12-11">Doesn&#8217;t the ear try words,<br/> <span class="indent">&nbsp;&nbsp;</span>even as the palate tastes its food?<br/></span>
  <span class="verse" title="Job 12:12" id="Job-12-12">With aged men is wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>in length of days understanding.<br/>   <br/></span>
  <span class="verse" title="Job 12:13" id="Job-12-13">&#8220;With God is wisdom and might.<br/> <span class="indent">&nbsp;&nbsp;</span>He has counsel and understanding.<br/></span>
  <span class="verse" title="Job 12:14" id="Job-12-14">Behold, he breaks down, and it can&#8217;t be built again.<br/> <span class="indent">&nbsp;&nbsp;</span>He imprisons a man, and there can be no release.<br/></span>
  <span class="verse" title="Job 12:15" id="Job-12-15">Behold, he withholds the waters, and they dry up.<br/> <span class="indent">&nbsp;&nbsp;</span>Again, he sends them out, and they overturn the earth.<br/></span>
  <span class="verse" title="Job 12:16" id="Job-12-16">With him is strength and wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>The deceived and the deceiver are his.<br/></span>
  <span class="verse" title="Job 12:17" id="Job-12-17">He leads counselors away stripped.<br/> <span class="indent">&nbsp;&nbsp;</span>He makes judges fools.<br/></span>
  <span class="verse" title="Job 12:18" id="Job-12-18">He loosens the bond of kings.<br/> <span class="indent">&nbsp;&nbsp;</span>He binds their waist with a belt.<br/></span>
  <span class="verse" title="Job 12:19" id="Job-12-19">He leads priests away stripped,<br/> <span class="indent">&nbsp;&nbsp;</span>and overthrows the mighty.<br/></span>
  <span class="verse" title="Job 12:20" id="Job-12-20">He removes the speech of those who are trusted,<br/> <span class="indent">&nbsp;&nbsp;</span>and takes away the understanding of the elders.<br/></span>
  <span class="verse" title="Job 12:21" id="Job-12-21">He pours contempt on princes,<br/> <span class="indent">&nbsp;&nbsp;</span>and loosens the belt of the strong.<br/></span>
  <span class="verse" title="Job 12:22" id="Job-12-22">He uncovers deep things out of darkness,<br/> <span class="indent">&nbsp;&nbsp;</span>and brings out to light the shadow of death.<br/></span>
  <span class="verse" title="Job 12:23" id="Job-12-23">He increases the nations, and he destroys them.<br/> <span class="indent">&nbsp;&nbsp;</span>He enlarges the nations, and he leads them captive.<br/></span>
  <span class="verse" title="Job 12:24" id="Job-12-24">He takes away understanding from the chiefs of the people of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and causes them to wander in a wilderness where there is no way.<br/></span>
  <span class="verse" title="Job 12:25" id="Job-12-25">They grope in the dark without light.<br/> <span class="indent">&nbsp;&nbsp;</span>He makes them stagger like a drunken man.<br/>   <br/></span>
</div>