<div class="chapter" id="Job-013">
  <h2>Job 13</h2>
  <span class="verse" title="Job 13:1" id="Job-13-1">&#8220;Behold, my eye has seen all this.<br/> <span class="indent">&nbsp;&nbsp;</span>My ear has heard and understood it.<br/></span>
  <span class="verse" title="Job 13:2" id="Job-13-2">What you know, I know also.<br/> <span class="indent">&nbsp;&nbsp;</span>I am not inferior to you.<br/>   <br/></span>
  <span class="verse" title="Job 13:3" id="Job-13-3">&#8220;Surely I would speak to the Almighty.<br/> <span class="indent">&nbsp;&nbsp;</span>I desire to reason with God.<br/></span>
  <span class="verse" title="Job 13:4" id="Job-13-4">But you are forgers of lies.<br/> <span class="indent">&nbsp;&nbsp;</span>You are all physicians of no value.<br/></span>
  <span class="verse" title="Job 13:5" id="Job-13-5">Oh that you would be completely silent!<br/> <span class="indent">&nbsp;&nbsp;</span>Then you would be wise.<br/></span>
  <span class="verse" title="Job 13:6" id="Job-13-6">Hear now my reasoning.<br/> <span class="indent">&nbsp;&nbsp;</span>Listen to the pleadings of my lips.<br/></span>
  <span class="verse" title="Job 13:7" id="Job-13-7">Will you speak unrighteously for God,<br/> <span class="indent">&nbsp;&nbsp;</span>and talk deceitfully for him?<br/></span>
  <span class="verse" title="Job 13:8" id="Job-13-8">Will you show partiality to him?<br/> <span class="indent">&nbsp;&nbsp;</span>Will you contend for God?<br/></span>
  <span class="verse" title="Job 13:9" id="Job-13-9">Is it good that he should search you out?<br/> <span class="indent">&nbsp;&nbsp;</span>Or as one deceives a man, will you deceive him?<br/></span>
  <span class="verse" title="Job 13:10" id="Job-13-10">He will surely reprove you<br/> <span class="indent">&nbsp;&nbsp;</span>if you secretly show partiality.<br/></span>
  <span class="verse" title="Job 13:11" id="Job-13-11">Shall not his majesty make you afraid,<br/> <span class="indent">&nbsp;&nbsp;</span>And his dread fall on you?<br/></span>
  <span class="verse" title="Job 13:12" id="Job-13-12">Your memorable sayings are proverbs of ashes,<br/> <span class="indent">&nbsp;&nbsp;</span>Your defenses are defenses of clay.<br/>   <br/></span>
  <span class="verse" title="Job 13:13" id="Job-13-13">&#8220;Be silent, leave me alone, that I may speak.<br/> <span class="indent">&nbsp;&nbsp;</span>Let come on me what will.<br/></span>
  <span class="verse" title="Job 13:14" id="Job-13-14">Why should I take my flesh in my teeth,<br/> <span class="indent">&nbsp;&nbsp;</span>and put my life in my hand?<br/></span>
  <span class="verse" title="Job 13:15" id="Job-13-15">Behold, he will kill me.<br/> <span class="indent">&nbsp;&nbsp;</span>I have no hope.<br/> <span class="indent">&nbsp;&nbsp;</span>Nevertheless, I will maintain my ways before him.<br/></span>
  <span class="verse" title="Job 13:16" id="Job-13-16">This also shall be my salvation,<br/> <span class="indent">&nbsp;&nbsp;</span>that a godless man shall not come before him.<br/></span>
  <span class="verse" title="Job 13:17" id="Job-13-17">Hear diligently my speech.<br/> <span class="indent">&nbsp;&nbsp;</span>Let my declaration be in your ears.<br/></span>
  <span class="verse" title="Job 13:18" id="Job-13-18">See now, I have set my cause in order.<br/> <span class="indent">&nbsp;&nbsp;</span>I know that I am righteous.<br/></span>
  <span class="verse" title="Job 13:19" id="Job-13-19">Who is he who will contend with me?<br/> <span class="indent">&nbsp;&nbsp;</span>For then would I hold my peace and give up the spirit.<br/>   <br/></span>
  <span class="verse" title="Job 13:20" id="Job-13-20">&#8220;Only don&#8217;t do two things to me;<br/> <span class="indent">&nbsp;&nbsp;</span>then I will not hide myself from your face:<br/></span>
  <span class="verse" title="Job 13:21" id="Job-13-21">withdraw your hand far from me;<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t let your terror make me afraid.<br/></span>
  <span class="verse" title="Job 13:22" id="Job-13-22">Then call, and I will answer;<br/> <span class="indent">&nbsp;&nbsp;</span>or let me speak, and you answer me.<br/></span>
  <span class="verse" title="Job 13:23" id="Job-13-23">How many are my iniquities and sins?<br/> <span class="indent">&nbsp;&nbsp;</span>Make me know my disobedience and my sin.<br/></span>
  <span class="verse" title="Job 13:24" id="Job-13-24">Why hide you your face,<br/> <span class="indent">&nbsp;&nbsp;</span>and hold me for your enemy?<br/></span>
  <span class="verse" title="Job 13:25" id="Job-13-25">Will you harass a driven leaf?<br/> <span class="indent">&nbsp;&nbsp;</span>Will you pursue the dry stubble?<br/></span>
  <span class="verse" title="Job 13:26" id="Job-13-26">For you write bitter things against me,<br/> <span class="indent">&nbsp;&nbsp;</span>and make me inherit the iniquities of my youth:<br/></span>
  <span class="verse" title="Job 13:27" id="Job-13-27">You also put my feet in the stocks,<br/> <span class="indent">&nbsp;&nbsp;</span>and mark all my paths.<br/> <span class="indent">&nbsp;&nbsp;</span>You set a bound to the soles of my feet,<br/></span>
  <span class="verse" title="Job 13:28" id="Job-13-28">though I am decaying like a rotten thing,<br/> <span class="indent">&nbsp;&nbsp;</span>like a garment that is moth-eaten.<br/>   <br/></span>
</div>