<div class="chapter" id="Job-014">
  <h2>Job 14</h2>
  <span class="verse" title="Job 14:1" id="Job-14-1">&#8220;Man, who is born of a woman,<br/> <span class="indent">&nbsp;&nbsp;</span>is of few days, and full of trouble.<br/></span>
  <span class="verse" title="Job 14:2" id="Job-14-2">He comes forth like a flower, and is cut down.<br/> <span class="indent">&nbsp;&nbsp;</span>He also flees like a shadow, and doesn&#8217;t continue.<br/></span>
  <span class="verse" title="Job 14:3" id="Job-14-3">Do you open your eyes on such a one,<br/> <span class="indent">&nbsp;&nbsp;</span>and bring me into judgment with you?<br/></span>
  <span class="verse" title="Job 14:4" id="Job-14-4">Who can bring a clean thing out of an unclean?<br/> <span class="indent">&nbsp;&nbsp;</span>Not one.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Job 14:5" id="Job-14-5">Seeing his days are determined,<br/> <span class="indent">&nbsp;&nbsp;</span>the number of his months is with you,<br/> <span class="indent">&nbsp;&nbsp;</span>and you have appointed his bounds that he can&#8217;t pass;<br/></span>
  <span class="verse" title="Job 14:6" id="Job-14-6">Look away from him, that he may rest,<br/> <span class="indent">&nbsp;&nbsp;</span>until he shall accomplish, as a hireling, his day.<br/>   <br/></span>
  <span class="verse" title="Job 14:7" id="Job-14-7">&#8220;For there is hope for a tree,<br/> <span class="indent">&nbsp;&nbsp;</span>If it is cut down, that it will sprout again,<br/> <span class="indent">&nbsp;&nbsp;</span>that the tender branch of it will not cease.<br/></span>
  <span class="verse" title="Job 14:8" id="Job-14-8">Though its root grows old in the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and its stock dies in the ground,<br/></span>
  <span class="verse" title="Job 14:9" id="Job-14-9">yet through the scent of water it will bud,<br/> <span class="indent">&nbsp;&nbsp;</span>and put forth boughs like a plant.<br/></span>
  <span class="verse" title="Job 14:10" id="Job-14-10">But man dies, and is laid low.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, man gives up the spirit, and where is he?<br/></span>
  <span class="verse" title="Job 14:11" id="Job-14-11">As the waters fail from the sea,<br/> <span class="indent">&nbsp;&nbsp;</span>and the river wastes and dries up,<br/></span>
  <span class="verse" title="Job 14:12" id="Job-14-12">so man lies down and doesn&#8217;t rise.<br/> <span class="indent">&nbsp;&nbsp;</span>Until the heavens are no more, they shall not awake,<br/> <span class="indent">&nbsp;&nbsp;</span>nor be roused out of their sleep.<br/>   <br/></span>
  <span class="verse" title="Job 14:13" id="Job-14-13">&#8220;Oh that you would hide me in Sheol,<br/> <span class="indent">&nbsp;&nbsp;</span>that you would keep me secret, until your wrath is past,<br/> <span class="indent">&nbsp;&nbsp;</span>that you would appoint me a set time, and remember me!<br/></span>
  <span class="verse" title="Job 14:14" id="Job-14-14">If a man dies, shall he live again?<br/> <span class="indent">&nbsp;&nbsp;</span>All the days of my warfare would I wait,<br/> <span class="indent">&nbsp;&nbsp;</span>until my release should come.<br/></span>
  <span class="verse" title="Job 14:15" id="Job-14-15">You would call, and I would answer you.<br/> <span class="indent">&nbsp;&nbsp;</span>You would have a desire to the work of your hands.<br/></span>
  <span class="verse" title="Job 14:16" id="Job-14-16">But now you number my steps.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t you watch over my sin?<br/></span>
  <span class="verse" title="Job 14:17" id="Job-14-17">My disobedience is sealed up in a bag.<br/> <span class="indent">&nbsp;&nbsp;</span>You fasten up my iniquity.<br/>   <br/></span>
  <span class="verse" title="Job 14:18" id="Job-14-18">&#8220;But the mountain falling comes to nothing.<br/> <span class="indent">&nbsp;&nbsp;</span>The rock is removed out of its place;<br/></span>
  <span class="verse" title="Job 14:19" id="Job-14-19">The waters wear the stones.<br/> <span class="indent">&nbsp;&nbsp;</span>The torrents of it wash away the dust of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>So you destroy the hope of man.<br/></span>
  <span class="verse" title="Job 14:20" id="Job-14-20">You forever prevail against him, and he departs.<br/> <span class="indent">&nbsp;&nbsp;</span>You change his face, and send him away.<br/></span>
  <span class="verse" title="Job 14:21" id="Job-14-21">His sons come to honor, and he doesn&#8217;t know it.<br/> <span class="indent">&nbsp;&nbsp;</span>They are brought low, but he doesn&#8217;t perceive it of them.<br/></span>
  <span class="verse" title="Job 14:22" id="Job-14-22">But his flesh on him has pain,<br/> <span class="indent">&nbsp;&nbsp;</span>and his soul within him mourns.&#8221;<br/></span>
</div>