<div class="chapter" id="Job-015">
  <h2>Job 15</h2>
  <span class="verse" title="Job 15:1" id="Job-15-1">Then Eliphaz the Temanite answered,</span>
  <span class="verse" title="Job 15:2" id="Job-15-2">&#8220;Should a wise man answer with vain knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>and fill himself with the east wind?<br/></span>
  <span class="verse" title="Job 15:3" id="Job-15-3">Should he reason with unprofitable talk,<br/> <span class="indent">&nbsp;&nbsp;</span>or with speeches with which he can do no good?<br/></span>
  <span class="verse" title="Job 15:4" id="Job-15-4">Yes, you do away with fear,<br/> <span class="indent">&nbsp;&nbsp;</span>and hinder devotion before God.<br/></span>
  <span class="verse" title="Job 15:5" id="Job-15-5">For your iniquity teaches your mouth,<br/> <span class="indent">&nbsp;&nbsp;</span>and you choose the language of the crafty.<br/></span>
  <span class="verse" title="Job 15:6" id="Job-15-6">Your own mouth condemns you, and not I.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, your own lips testify against you.<br/>   <br/></span>
  <span class="verse" title="Job 15:7" id="Job-15-7">&#8220;Are you the first man who was born?<br/> <span class="indent">&nbsp;&nbsp;</span>Or were you brought forth before the hills?<br/></span>
  <span class="verse" title="Job 15:8" id="Job-15-8">Have you heard the secret counsel of God?<br/> <span class="indent">&nbsp;&nbsp;</span>Do you limit wisdom to yourself?<br/></span>
  <span class="verse" title="Job 15:9" id="Job-15-9">What do you know, that we don&#8217;t know?<br/> <span class="indent">&nbsp;&nbsp;</span>What do you understand, which is not in us?<br/></span>
  <span class="verse" title="Job 15:10" id="Job-15-10">With us are both the gray-headed and the very aged men,<br/> <span class="indent">&nbsp;&nbsp;</span>much elder than your father.<br/></span>
  <span class="verse" title="Job 15:11" id="Job-15-11">Are the consolations of God too small for you,<br/> <span class="indent">&nbsp;&nbsp;</span>even the word that is gentle toward you?<br/></span>
  <span class="verse" title="Job 15:12" id="Job-15-12">Why does your heart carry you away?<br/> <span class="indent">&nbsp;&nbsp;</span>Why do your eyes flash,<br/></span>
  <span class="verse" title="Job 15:13" id="Job-15-13">That you turn your spirit against God,<br/> <span class="indent">&nbsp;&nbsp;</span>and let such words go out of your mouth?<br/></span>
  <span class="verse" title="Job 15:14" id="Job-15-14">What is man, that he should be clean?<br/> <span class="indent">&nbsp;&nbsp;</span>What is he who is born of a woman, that he should be righteous?<br/></span>
  <span class="verse" title="Job 15:15" id="Job-15-15">Behold, he puts no trust in his holy ones.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, the heavens are not clean in his sight;<br/></span>
  <span class="verse" title="Job 15:16" id="Job-15-16">how much less one who is abominable and corrupt,<br/> <span class="indent">&nbsp;&nbsp;</span>a man who drinks iniquity like water!<br/>   <br/></span>
  <span class="verse" title="Job 15:17" id="Job-15-17">&#8220;I will show you, listen to me;<br/> <span class="indent">&nbsp;&nbsp;</span>that which I have seen I will declare:<br/></span>
  <span class="verse" title="Job 15:18" id="Job-15-18">(Which wise men have told by their fathers,<br/> <span class="indent">&nbsp;&nbsp;</span>and have not hidden it;<br/></span>
  <span class="verse" title="Job 15:19" id="Job-15-19">to whom alone the land was given,<br/> <span class="indent">&nbsp;&nbsp;</span>and no stranger passed among them):<br/></span>
  <span class="verse" title="Job 15:20" id="Job-15-20">the wicked man writhes in pain all his days,<br/> <span class="indent">&nbsp;&nbsp;</span>even the number of years that are laid up for the oppressor.<br/></span>
  <span class="verse" title="Job 15:21" id="Job-15-21">A sound of terrors is in his ears.<br/> <span class="indent">&nbsp;&nbsp;</span>In prosperity the destroyer shall come on him.<br/></span>
  <span class="verse" title="Job 15:22" id="Job-15-22">He doesn&#8217;t believe that he shall return out of darkness.<br/> <span class="indent">&nbsp;&nbsp;</span>He is waited for by the sword.<br/></span>
  <span class="verse" title="Job 15:23" id="Job-15-23">He wanders abroad for bread, saying, &#8216;Where is it?&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>He knows that the day of darkness is ready at his hand.<br/></span>
  <span class="verse" title="Job 15:24" id="Job-15-24">Distress and anguish make him afraid.<br/> <span class="indent">&nbsp;&nbsp;</span>They prevail against him, as a king ready to the battle.<br/></span>
  <span class="verse" title="Job 15:25" id="Job-15-25">Because he has stretched out his hand against God,<br/> <span class="indent">&nbsp;&nbsp;</span>and behaves himself proudly against the Almighty;<br/></span>
  <span class="verse" title="Job 15:26" id="Job-15-26">he runs at him with a stiff neck,<br/> <span class="indent">&nbsp;&nbsp;</span>with the thick shields of his bucklers;<br/></span>
  <span class="verse" title="Job 15:27" id="Job-15-27">because he has covered his face with his fatness,<br/> <span class="indent">&nbsp;&nbsp;</span>and gathered fat on his thighs.<br/></span>
  <span class="verse" title="Job 15:28" id="Job-15-28">He has lived in desolate cities,<br/> <span class="indent">&nbsp;&nbsp;</span>in houses which no one inhabited,<br/> <span class="indent">&nbsp;&nbsp;</span>which were ready to become heaps.<br/></span>
  <span class="verse" title="Job 15:29" id="Job-15-29">He shall not be rich, neither shall his substance continue,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall their possessions be extended on the earth.<br/></span>
  <span class="verse" title="Job 15:30" id="Job-15-30">He shall not depart out of darkness.<br/> <span class="indent">&nbsp;&nbsp;</span>The flame shall dry up his branches.<br/> <span class="indent">&nbsp;&nbsp;</span>By the breath of God&#8217;s mouth shall he go away.<br/></span>
  <span class="verse" title="Job 15:31" id="Job-15-31">Let him not trust in emptiness, deceiving himself;<br/> <span class="indent">&nbsp;&nbsp;</span>for emptiness shall be his reward.<br/></span>
  <span class="verse" title="Job 15:32" id="Job-15-32">It shall be accomplished before his time.<br/> <span class="indent">&nbsp;&nbsp;</span>His branch shall not be green.<br/></span>
  <span class="verse" title="Job 15:33" id="Job-15-33">He shall shake off his unripe grape as the vine,<br/> <span class="indent">&nbsp;&nbsp;</span>and shall cast off his flower as the olive tree.<br/></span>
  <span class="verse" title="Job 15:34" id="Job-15-34">For the company of the godless shall be barren,<br/> <span class="indent">&nbsp;&nbsp;</span>and fire shall consume the tents of bribery.<br/></span>
  <span class="verse" title="Job 15:35" id="Job-15-35">They conceive mischief, and bring forth iniquity.<br/> <span class="indent">&nbsp;&nbsp;</span>Their heart prepares deceit.&#8221;<br/></span>
</div>