<div class="chapter" id="Job-016">
  <h2>Job 16</h2>
  <span class="verse" title="Job 16:1" id="Job-16-1">Then Job answered,</span>
  <span class="verse" title="Job 16:2" id="Job-16-2">&#8220;I have heard many such things.<br/> <span class="indent">&nbsp;&nbsp;</span>You are all miserable comforters!<br/></span>
  <span class="verse" title="Job 16:3" id="Job-16-3">Shall vain words have an end?<br/> <span class="indent">&nbsp;&nbsp;</span>Or what provokes you that you answer?<br/></span>
  <span class="verse" title="Job 16:4" id="Job-16-4">I also could speak as you do.<br/> <span class="indent">&nbsp;&nbsp;</span>If your soul were in my soul&#8217;s place,<br/> <span class="indent">&nbsp;&nbsp;</span>I could join words together against you,<br/> <span class="indent">&nbsp;&nbsp;</span>and shake my head at you,<br/></span>
  <span class="verse" title="Job 16:5" id="Job-16-5">but I would strengthen you with my mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>The solace of my lips would relieve you.<br/>   <br/></span>
  <span class="verse" title="Job 16:6" id="Job-16-6">&#8220;Though I speak, my grief is not subsided.<br/> <span class="indent">&nbsp;&nbsp;</span>Though I forbear, what am I eased?<br/></span>
  <span class="verse" title="Job 16:7" id="Job-16-7">But now, God, you have surely worn me out.<br/> <span class="indent">&nbsp;&nbsp;</span>You have made desolate all my company.<br/></span>
  <span class="verse" title="Job 16:8" id="Job-16-8">You have shriveled me up. This is a witness against me.<br/> <span class="indent">&nbsp;&nbsp;</span>My leanness rises up against me.<br/> <span class="indent">&nbsp;&nbsp;</span>It testifies to my face.<br/></span>
  <span class="verse" title="Job 16:9" id="Job-16-9">He has torn me in his wrath, and persecuted me.<br/> <span class="indent">&nbsp;&nbsp;</span>He has gnashed on me with his teeth.<br/> <span class="indent">&nbsp;&nbsp;</span>My adversary sharpens his eyes on me.<br/></span>
  <span class="verse" title="Job 16:10" id="Job-16-10">They have gaped on me with their mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>They have struck me on the cheek reproachfully.<br/> <span class="indent">&nbsp;&nbsp;</span>They gather themselves together against me.<br/></span>
  <span class="verse" title="Job 16:11" id="Job-16-11">God delivers me to the ungodly,<br/> <span class="indent">&nbsp;&nbsp;</span>and casts me into the hands of the wicked.<br/></span>
  <span class="verse" title="Job 16:12" id="Job-16-12">I was at ease, and he broke me apart.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, he has taken me by the neck, and dashed me to pieces.<br/> <span class="indent">&nbsp;&nbsp;</span>He has also set me up for his target.<br/></span>
  <span class="verse" title="Job 16:13" id="Job-16-13">His archers surround me.<br/> <span class="indent">&nbsp;&nbsp;</span>He splits my kidneys apart, and does not spare.<br/> <span class="indent">&nbsp;&nbsp;</span>He pours out my gall on the ground.<br/></span>
  <span class="verse" title="Job 16:14" id="Job-16-14">He breaks me with breach on breach.<br/> <span class="indent">&nbsp;&nbsp;</span>He runs on me like a giant.<br/></span>
  <span class="verse" title="Job 16:15" id="Job-16-15">I have sewed sackcloth on my skin,<br/> <span class="indent">&nbsp;&nbsp;</span>and have thrust my horn in the dust.<br/></span>
  <span class="verse" title="Job 16:16" id="Job-16-16">My face is red with weeping.<br/> <span class="indent">&nbsp;&nbsp;</span>Deep darkness is on my eyelids.<br/></span>
  <span class="verse" title="Job 16:17" id="Job-16-17">Although there is no violence in my hands,<br/> <span class="indent">&nbsp;&nbsp;</span>and my prayer is pure.<br/>   <br/></span>
  <span class="verse" title="Job 16:18" id="Job-16-18">&#8220;Earth, don&#8217;t cover my blood.<br/> <span class="indent">&nbsp;&nbsp;</span>Let my cry have no place to rest.<br/></span>
  <span class="verse" title="Job 16:19" id="Job-16-19">Even now, behold, my witness is in heaven.<br/> <span class="indent">&nbsp;&nbsp;</span>He who vouches for me is on high.<br/></span>
  <span class="verse" title="Job 16:20" id="Job-16-20">My friends scoff at me.<br/> <span class="indent">&nbsp;&nbsp;</span>My eyes pour out tears to God,<br/></span>
  <span class="verse" title="Job 16:21" id="Job-16-21">that he would maintain the right of a man with God,<br/> <span class="indent">&nbsp;&nbsp;</span>of a son of man with his neighbor!<br/></span>
  <span class="verse" title="Job 16:22" id="Job-16-22">For when a few years have come,<br/> <span class="indent">&nbsp;&nbsp;</span>I shall go the way of no return.<br/>   <br/></span>
</div>