<div class="chapter" id="Job-017">
  <h2>Job 17</h2>
  <span class="verse" title="Job 17:1" id="Job-17-1">&#8220;My spirit is consumed.<br/> <span class="indent">&nbsp;&nbsp;</span>My days are extinct,<br/> <span class="indent">&nbsp;&nbsp;</span>And the grave is ready for me.<br/></span>
  <span class="verse" title="Job 17:2" id="Job-17-2">Surely there are mockers with me.<br/> <span class="indent">&nbsp;&nbsp;</span>My eye dwells on their provocation.<br/>   <br/></span>
  <span class="verse" title="Job 17:3" id="Job-17-3">&#8220;Now give a pledge, be collateral for me with yourself.<br/> <span class="indent">&nbsp;&nbsp;</span>Who is there who will strike hands with me?<br/></span>
  <span class="verse" title="Job 17:4" id="Job-17-4">For you have hidden their heart from understanding,<br/> <span class="indent">&nbsp;&nbsp;</span>Therefore you shall not exalt them.<br/></span>
  <span class="verse" title="Job 17:5" id="Job-17-5">He who denounces his friends for a prey,<br/> <span class="indent">&nbsp;&nbsp;</span>Even the eyes of his children shall fail.<br/>   <br/></span>
  <span class="verse" title="Job 17:6" id="Job-17-6">&#8220;But he has made me a byword of the people.<br/> <span class="indent">&nbsp;&nbsp;</span>They spit in my face.<br/></span>
  <span class="verse" title="Job 17:7" id="Job-17-7">My eye also is dim by reason of sorrow.<br/> <span class="indent">&nbsp;&nbsp;</span>All my members are as a shadow.<br/></span>
  <span class="verse" title="Job 17:8" id="Job-17-8">Upright men shall be astonished at this.<br/> <span class="indent">&nbsp;&nbsp;</span>The innocent shall stir up himself against the godless.<br/></span>
  <span class="verse" title="Job 17:9" id="Job-17-9">Yet shall the righteous hold on his way.<br/> <span class="indent">&nbsp;&nbsp;</span>He who has clean hands shall grow stronger and stronger.<br/></span>
  <span class="verse" title="Job 17:10" id="Job-17-10">But as for you all, come on now again;<br/> <span class="indent">&nbsp;&nbsp;</span>I shall not find a wise man among you.<br/></span>
  <span class="verse" title="Job 17:11" id="Job-17-11">My days are past, my plans are broken off,<br/> <span class="indent">&nbsp;&nbsp;</span>as are the thoughts of my heart.<br/></span>
  <span class="verse" title="Job 17:12" id="Job-17-12">They change the night into day,<br/> <span class="indent">&nbsp;&nbsp;</span>saying &#8216;The light is near&#8217; in the presence of darkness.<br/></span>
  <span class="verse" title="Job 17:13" id="Job-17-13">If I look for Sheol as my house,<br/> <span class="indent">&nbsp;&nbsp;</span>if I have spread my couch in the darkness,<br/></span>
  <span class="verse" title="Job 17:14" id="Job-17-14">If I have said to corruption, &#8216;You are my father;&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>to the worm, &#8216;My mother,&#8217; and &#8216;my sister;&#8217;<br/></span>
  <span class="verse" title="Job 17:15" id="Job-17-15">where then is my hope?<br/> <span class="indent">&nbsp;&nbsp;</span>as for my hope, who shall see it?<br/></span>
  <span class="verse" title="Job 17:16" id="Job-17-16">Shall it go down with me to the gates of Sheol,<br/> <span class="indent">&nbsp;&nbsp;</span>or descend together into the dust?&#8221;<br/></span>
</div>