<div class="chapter" id="Job-018">
  <h2>Job 18</h2>
  <span class="verse" title="Job 18:1" id="Job-18-1">Then Bildad the Shuhite answered,</span>
  <span class="verse" title="Job 18:2" id="Job-18-2">&#8220;How long will you hunt for words?<br/> <span class="indent">&nbsp;&nbsp;</span>Consider, and afterwards we will speak.<br/></span>
  <span class="verse" title="Job 18:3" id="Job-18-3">Why are we counted as animals,<br/> <span class="indent">&nbsp;&nbsp;</span>which have become unclean in your sight?<br/></span>
  <span class="verse" title="Job 18:4" id="Job-18-4">You who tear yourself in your anger,<br/> <span class="indent">&nbsp;&nbsp;</span>shall the earth be forsaken for you?<br/> <span class="indent">&nbsp;&nbsp;</span>Or shall the rock be removed out of its place?<br/>   <br/></span>
  <span class="verse" title="Job 18:5" id="Job-18-5">&#8220;Yes, the light of the wicked shall be put out,<br/> <span class="indent">&nbsp;&nbsp;</span>The spark of his fire shall not shine.<br/></span>
  <span class="verse" title="Job 18:6" id="Job-18-6">The light shall be dark in his tent.<br/> <span class="indent">&nbsp;&nbsp;</span>His lamp above him shall be put out.<br/></span>
  <span class="verse" title="Job 18:7" id="Job-18-7">The steps of his strength shall be shortened.<br/> <span class="indent">&nbsp;&nbsp;</span>His own counsel shall cast him down.<br/></span>
  <span class="verse" title="Job 18:8" id="Job-18-8">For he is cast into a net by his own feet,<br/> <span class="indent">&nbsp;&nbsp;</span>and he wanders into its mesh.<br/></span>
  <span class="verse" title="Job 18:9" id="Job-18-9">A snare will take him by the heel.<br/> <span class="indent">&nbsp;&nbsp;</span>A trap will catch him.<br/></span>
  <span class="verse" title="Job 18:10" id="Job-18-10">A noose is hidden for him in the ground,<br/> <span class="indent">&nbsp;&nbsp;</span>a trap for him in the way.<br/></span>
  <span class="verse" title="Job 18:11" id="Job-18-11">Terrors shall make him afraid on every side,<br/> <span class="indent">&nbsp;&nbsp;</span>and shall chase him at his heels.<br/></span>
  <span class="verse" title="Job 18:12" id="Job-18-12">His strength shall be famished.<br/> <span class="indent">&nbsp;&nbsp;</span>Calamity shall be ready at his side.<br/></span>
  <span class="verse" title="Job 18:13" id="Job-18-13">The members of his body shall be devoured.<br/> <span class="indent">&nbsp;&nbsp;</span>The firstborn of death shall devour his members.<br/></span>
  <span class="verse" title="Job 18:14" id="Job-18-14">He shall be rooted out of his tent where he trusts.<br/> <span class="indent">&nbsp;&nbsp;</span>He shall be brought to the king of terrors.<br/></span>
  <span class="verse" title="Job 18:15" id="Job-18-15">There shall dwell in his tent that which is none of his.<br/> <span class="indent">&nbsp;&nbsp;</span>Sulfur shall be scattered on his habitation.<br/></span>
  <span class="verse" title="Job 18:16" id="Job-18-16">His roots shall be dried up beneath.<br/> <span class="indent">&nbsp;&nbsp;</span>Above shall his branch be cut off.<br/></span>
  <span class="verse" title="Job 18:17" id="Job-18-17">His memory shall perish from the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>He shall have no name in the street.<br/></span>
  <span class="verse" title="Job 18:18" id="Job-18-18">He shall be driven from light into darkness,<br/> <span class="indent">&nbsp;&nbsp;</span>and chased out of the world.<br/></span>
  <span class="verse" title="Job 18:19" id="Job-18-19">He shall have neither son nor grandson among his people,<br/> <span class="indent">&nbsp;&nbsp;</span>nor any remaining where he lived.<br/></span>
  <span class="verse" title="Job 18:20" id="Job-18-20">Those who come after shall be astonished at his day,<br/> <span class="indent">&nbsp;&nbsp;</span>as those who went before were frightened.<br/></span>
  <span class="verse" title="Job 18:21" id="Job-18-21">Surely such are the dwellings of the unrighteous.<br/> <span class="indent">&nbsp;&nbsp;</span>This is the place of him who doesn&#8217;t know God.&#8221;<br/></span>
</div>