<div class="chapter" id="Job-019">
  <h2>Job 19</h2>
  <span class="verse" title="Job 19:1" id="Job-19-1">Then Job answered,</span>
  <span class="verse" title="Job 19:2" id="Job-19-2">&#8220;How long will you torment me,<br/> <span class="indent">&nbsp;&nbsp;</span>and crush me with words?<br/></span>
  <span class="verse" title="Job 19:3" id="Job-19-3">You have reproached me ten times.<br/> <span class="indent">&nbsp;&nbsp;</span>You aren&#8217;t ashamed that you attack me.<br/></span>
  <span class="verse" title="Job 19:4" id="Job-19-4">If it is true that I have erred,<br/> <span class="indent">&nbsp;&nbsp;</span>my error remains with myself.<br/></span>
  <span class="verse" title="Job 19:5" id="Job-19-5">If indeed you will magnify yourselves against me,<br/> <span class="indent">&nbsp;&nbsp;</span>and plead against me my reproach;<br/></span>
  <span class="verse" title="Job 19:6" id="Job-19-6">know now that God has subverted me,<br/> <span class="indent">&nbsp;&nbsp;</span>and has surrounded me with his net.<br/>   <br/></span>
  <span class="verse" title="Job 19:7" id="Job-19-7">&#8220;Behold, I cry out of wrong, but I am not heard.<br/> <span class="indent">&nbsp;&nbsp;</span>I cry for help, but there is no justice.<br/></span>
  <span class="verse" title="Job 19:8" id="Job-19-8">He has walled up my way so that I can&#8217;t pass,<br/> <span class="indent">&nbsp;&nbsp;</span>and has set darkness in my paths.<br/></span>
  <span class="verse" title="Job 19:9" id="Job-19-9">He has stripped me of my glory,<br/> <span class="indent">&nbsp;&nbsp;</span>and taken the crown from my head.<br/></span>
  <span class="verse" title="Job 19:10" id="Job-19-10">He has broken me down on every side, and I am gone.<br/> <span class="indent">&nbsp;&nbsp;</span>My hope he has plucked up like a tree.<br/></span>
  <span class="verse" title="Job 19:11" id="Job-19-11">He has also kindled his wrath against me.<br/> <span class="indent">&nbsp;&nbsp;</span>He counts me among his adversaries.<br/></span>
  <span class="verse" title="Job 19:12" id="Job-19-12">His troops come on together,<br/> <span class="indent">&nbsp;&nbsp;</span>build a siege ramp against me,<br/> <span class="indent">&nbsp;&nbsp;</span>and encamp around my tent.<br/>   <br/></span>
  <span class="verse" title="Job 19:13" id="Job-19-13">&#8220;He has put my brothers far from me.<br/> <span class="indent">&nbsp;&nbsp;</span>My acquaintances are wholly estranged from me.<br/></span>
  <span class="verse" title="Job 19:14" id="Job-19-14">My relatives have gone away.<br/> <span class="indent">&nbsp;&nbsp;</span>My familiar friends have forgotten me.<br/></span>
  <span class="verse" title="Job 19:15" id="Job-19-15">Those who dwell in my house, and my maids, count me for a stranger.<br/> <span class="indent">&nbsp;&nbsp;</span>I am an alien in their sight.<br/></span>
  <span class="verse" title="Job 19:16" id="Job-19-16">I call to my servant, and he gives me no answer.<br/> <span class="indent">&nbsp;&nbsp;</span>I beg him with my mouth.<br/></span>
  <span class="verse" title="Job 19:17" id="Job-19-17">My breath is offensive to my wife.<br/> <span class="indent">&nbsp;&nbsp;</span>I am loathsome to the children of my own mother.<br/></span>
  <span class="verse" title="Job 19:18" id="Job-19-18">Even young children despise me.<br/> <span class="indent">&nbsp;&nbsp;</span>If I arise, they speak against me.<br/></span>
  <span class="verse" title="Job 19:19" id="Job-19-19">All my familiar friends abhor me.<br/> <span class="indent">&nbsp;&nbsp;</span>They whom I loved have turned against me.<br/></span>
  <span class="verse" title="Job 19:20" id="Job-19-20">My bones stick to my skin and to my flesh.<br/> <span class="indent">&nbsp;&nbsp;</span>I have escaped by the skin of my teeth.<br/>   <br/></span>
  <span class="verse" title="Job 19:21" id="Job-19-21">&#8220;Have pity on me, have pity on me, you my friends;<br/> <span class="indent">&nbsp;&nbsp;</span>for the hand of God has touched me.<br/></span>
  <span class="verse" title="Job 19:22" id="Job-19-22">Why do you persecute me as God,<br/> <span class="indent">&nbsp;&nbsp;</span>and are not satisfied with my flesh?<br/>   <br/></span>
  <span class="verse" title="Job 19:23" id="Job-19-23">&#8220;Oh that my words were now written!<br/> <span class="indent">&nbsp;&nbsp;</span>Oh that they were inscribed in a book!<br/></span>
  <span class="verse" title="Job 19:24" id="Job-19-24">That with an iron pen and lead<br/> <span class="indent">&nbsp;&nbsp;</span>they were engraved in the rock forever!<br/></span>
  <span class="verse" title="Job 19:25" id="Job-19-25">But as for me, I know that my Redeemer lives.<br/> <span class="indent">&nbsp;&nbsp;</span>In the end, he will stand upon the earth.<br/></span>
  <span class="verse" title="Job 19:26" id="Job-19-26">After my skin is destroyed,<br/> <span class="indent">&nbsp;&nbsp;</span>then in my flesh shall I see God,<br/></span>
  <span class="verse" title="Job 19:27" id="Job-19-27">Whom I, even I, shall see on my side.<br/> <span class="indent">&nbsp;&nbsp;</span>My eyes shall see, and not as a stranger.<br/>   <br/>   &#8220;My heart is consumed within me.<br/></span>
  <span class="verse" title="Job 19:28" id="Job-19-28">If you say, &#8216;How we will persecute him!&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>because the root of the matter is found in me,<br/></span>
  <span class="verse" title="Job 19:29" id="Job-19-29">be afraid of the sword,<br/> <span class="indent">&nbsp;&nbsp;</span>for wrath brings the punishments of the sword,<br/> <span class="indent">&nbsp;&nbsp;</span>that you may know there is a judgment.&#8221;<br/></span>
</div>