<div class="chapter" id="Job-020">
  <h2>Job 20</h2>
  <span class="verse" title="Job 20:1" id="Job-20-1">Then Zophar the Naamathite answered,</span>
  <span class="verse" title="Job 20:2" id="Job-20-2">&#8220;Therefore do my thoughts give answer to me,<br/> <span class="indent">&nbsp;&nbsp;</span>even by reason of my haste that is in me.<br/></span>
  <span class="verse" title="Job 20:3" id="Job-20-3">I have heard the reproof which puts me to shame.<br/> <span class="indent">&nbsp;&nbsp;</span>The spirit of my understanding answers me.<br/></span>
  <span class="verse" title="Job 20:4" id="Job-20-4">Don&#8217;t you know this from old time,<br/> <span class="indent">&nbsp;&nbsp;</span>since man was placed on earth,<br/></span>
  <span class="verse" title="Job 20:5" id="Job-20-5">that the triumphing of the wicked is short,<br/> <span class="indent">&nbsp;&nbsp;</span>the joy of the godless but for a moment?<br/></span>
  <span class="verse" title="Job 20:6" id="Job-20-6">Though his height mount up to the heavens,<br/> <span class="indent">&nbsp;&nbsp;</span>and his head reach to the clouds,<br/></span>
  <span class="verse" title="Job 20:7" id="Job-20-7">yet he shall perish forever like his own dung.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who have seen him shall say, &#8216;Where is he?&#8217;<br/></span>
  <span class="verse" title="Job 20:8" id="Job-20-8">He shall fly away as a dream, and shall not be found.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, he shall be chased away like a vision of the night.<br/></span>
  <span class="verse" title="Job 20:9" id="Job-20-9">The eye which saw him shall see him no more,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall his place any more see him.<br/></span>
  <span class="verse" title="Job 20:10" id="Job-20-10">His children shall seek the favor of the poor.<br/> <span class="indent">&nbsp;&nbsp;</span>His hands shall give back his wealth.<br/></span>
  <span class="verse" title="Job 20:11" id="Job-20-11">His bones are full of his youth,<br/> <span class="indent">&nbsp;&nbsp;</span>but youth shall lie down with him in the dust.<br/>   <br/></span>
  <span class="verse" title="Job 20:12" id="Job-20-12">&#8220;Though wickedness is sweet in his mouth,<br/> <span class="indent">&nbsp;&nbsp;</span>though he hide it under his tongue,<br/></span>
  <span class="verse" title="Job 20:13" id="Job-20-13">though he spare it, and will not let it go,<br/> <span class="indent">&nbsp;&nbsp;</span>but keep it still within his mouth;<br/></span>
  <span class="verse" title="Job 20:14" id="Job-20-14">yet his food in his bowels is turned.<br/> <span class="indent">&nbsp;&nbsp;</span>It is cobra venom within him.<br/></span>
  <span class="verse" title="Job 20:15" id="Job-20-15">He has swallowed down riches, and he shall vomit them up again.<br/> <span class="indent">&nbsp;&nbsp;</span>God will cast them out of his belly.<br/></span>
  <span class="verse" title="Job 20:16" id="Job-20-16">He shall suck cobra venom.<br/> <span class="indent">&nbsp;&nbsp;</span>The viper&#8217;s tongue shall kill him.<br/></span>
  <span class="verse" title="Job 20:17" id="Job-20-17">He shall not look at the rivers,<br/> <span class="indent">&nbsp;&nbsp;</span>the flowing streams of honey and butter.<br/></span>
  <span class="verse" title="Job 20:18" id="Job-20-18">That for which he labored he shall restore, and shall not swallow it down.<br/> <span class="indent">&nbsp;&nbsp;</span>According to the substance that he has gotten, he shall not rejoice.<br/></span>
  <span class="verse" title="Job 20:19" id="Job-20-19">For he has oppressed and forsaken the poor.<br/> <span class="indent">&nbsp;&nbsp;</span>He has violently taken away a house, and he shall not build it up.<br/>   <br/></span>
  <span class="verse" title="Job 20:20" id="Job-20-20">&#8220;Because he knew no quietness within him,<br/> <span class="indent">&nbsp;&nbsp;</span>he shall not save anything of that in which he delights.<br/></span>
  <span class="verse" title="Job 20:21" id="Job-20-21">There was nothing left that he didn&#8217;t devour,<br/> <span class="indent">&nbsp;&nbsp;</span>therefore his prosperity shall not endure.<br/></span>
  <span class="verse" title="Job 20:22" id="Job-20-22">In the fullness of his sufficiency, distress shall overtake him.<br/> <span class="indent">&nbsp;&nbsp;</span>The hand of everyone who is in misery shall come on him.<br/></span>
  <span class="verse" title="Job 20:23" id="Job-20-23">When he is about to fill his belly, God will cast the fierceness of his wrath on him.<br/> <span class="indent">&nbsp;&nbsp;</span>It will rain on him while he is eating.<br/></span>
  <span class="verse" title="Job 20:24" id="Job-20-24">He shall flee from the iron weapon.<br/> <span class="indent">&nbsp;&nbsp;</span>The bronze arrow shall strike him through.<br/></span>
  <span class="verse" title="Job 20:25" id="Job-20-25">He draws it forth, and it comes out of his body.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, the glittering point comes out of his liver.<br/> <span class="indent">&nbsp;&nbsp;</span>Terrors are on him.<br/></span>
  <span class="verse" title="Job 20:26" id="Job-20-26">All darkness is laid up for his treasures.<br/> <span class="indent">&nbsp;&nbsp;</span>An unfanned fire shall devour him.<br/> <span class="indent">&nbsp;&nbsp;</span>It shall consume that which is left in his tent.<br/></span>
  <span class="verse" title="Job 20:27" id="Job-20-27">The heavens shall reveal his iniquity.<br/> <span class="indent">&nbsp;&nbsp;</span>The earth shall rise up against him.<br/></span>
  <span class="verse" title="Job 20:28" id="Job-20-28">The increase of his house shall depart.<br/> <span class="indent">&nbsp;&nbsp;</span>They shall rush away in the day of his wrath.<br/></span>
  <span class="verse" title="Job 20:29" id="Job-20-29">This is the portion of a wicked man from God,<br/> <span class="indent">&nbsp;&nbsp;</span>the heritage appointed to him by God.&#8221;<br/></span>
</div>