<div class="chapter" id="Job-021">
  <h2>Job 21</h2>
  <span class="verse" title="Job 21:1" id="Job-21-1">Then Job answered,</span>
  <span class="verse" title="Job 21:2" id="Job-21-2">&#8220;Listen diligently to my speech.<br/> <span class="indent">&nbsp;&nbsp;</span>Let this be your consolation.<br/></span>
  <span class="verse" title="Job 21:3" id="Job-21-3">Allow me, and I also will speak;<br/> <span class="indent">&nbsp;&nbsp;</span>After I have spoken, mock on.<br/></span>
  <span class="verse" title="Job 21:4" id="Job-21-4">As for me, is my complaint to man?<br/> <span class="indent">&nbsp;&nbsp;</span>Why shouldn&#8217;t I be impatient?<br/></span>
  <span class="verse" title="Job 21:5" id="Job-21-5">Look at me, and be astonished.<br/> <span class="indent">&nbsp;&nbsp;</span>Lay your hand on your mouth.<br/></span>
  <span class="verse" title="Job 21:6" id="Job-21-6">When I remember, I am troubled.<br/> <span class="indent">&nbsp;&nbsp;</span>Horror takes hold of my flesh.<br/>   <br/></span>
  <span class="verse" title="Job 21:7" id="Job-21-7">&#8220;Why do the wicked live,<br/> <span class="indent">&nbsp;&nbsp;</span>become old, yes, and grow mighty in power?<br/></span>
  <span class="verse" title="Job 21:8" id="Job-21-8">Their child is established with them in their sight,<br/> <span class="indent">&nbsp;&nbsp;</span>their offspring before their eyes.<br/></span>
  <span class="verse" title="Job 21:9" id="Job-21-9">Their houses are safe from fear,<br/> <span class="indent">&nbsp;&nbsp;</span>neither is the rod of God upon them.<br/></span>
  <span class="verse" title="Job 21:10" id="Job-21-10">Their bulls breed without fail.<br/> <span class="indent">&nbsp;&nbsp;</span>Their cows calve, and don&#8217;t miscarry.<br/></span>
  <span class="verse" title="Job 21:11" id="Job-21-11">They send forth their little ones like a flock.<br/> <span class="indent">&nbsp;&nbsp;</span>Their children dance.<br/></span>
  <span class="verse" title="Job 21:12" id="Job-21-12">They sing to the tambourine and harp,<br/> <span class="indent">&nbsp;&nbsp;</span>and rejoice at the sound of the pipe.<br/></span>
  <span class="verse" title="Job 21:13" id="Job-21-13">They spend their days in prosperity.<br/> <span class="indent">&nbsp;&nbsp;</span>In an instant they go down to Sheol.<br/></span>
  <span class="verse" title="Job 21:14" id="Job-21-14">They tell God, &#8216;Depart from us,<br/> <span class="indent">&nbsp;&nbsp;</span>for we don&#8217;t want to know about your ways.<br/></span>
  <span class="verse" title="Job 21:15" id="Job-21-15">What is the Almighty, that we should serve him?<br/> <span class="indent">&nbsp;&nbsp;</span>What profit should we have, if we pray to him?&#8217;<br/></span>
  <span class="verse" title="Job 21:16" id="Job-21-16">Behold, their prosperity is not in their hand.<br/> <span class="indent">&nbsp;&nbsp;</span>The counsel of the wicked is far from me.<br/>   <br/></span>
  <span class="verse" title="Job 21:17" id="Job-21-17">&#8220;How often is it that the lamp of the wicked is put out,<br/> <span class="indent">&nbsp;&nbsp;</span>that their calamity comes on them,<br/> <span class="indent">&nbsp;&nbsp;</span>that God distributes sorrows in his anger?<br/></span>
  <span class="verse" title="Job 21:18" id="Job-21-18">How often is it that they are as stubble before the wind,<br/> <span class="indent">&nbsp;&nbsp;</span>as chaff that the storm carries away?<br/></span>
  <span class="verse" title="Job 21:19" id="Job-21-19">You say, &#8216;God lays up his iniquity for his children.&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>Let him recompense it to himself, that he may know it.<br/></span>
  <span class="verse" title="Job 21:20" id="Job-21-20">Let his own eyes see his destruction.<br/> <span class="indent">&nbsp;&nbsp;</span>Let him drink of the wrath of the Almighty.<br/></span>
  <span class="verse" title="Job 21:21" id="Job-21-21">For what does he care for his house after him,<br/> <span class="indent">&nbsp;&nbsp;</span>when the number of his months is cut off?<br/>   <br/></span>
  <span class="verse" title="Job 21:22" id="Job-21-22">&#8220;Shall any teach God knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>since he judges those who are high?<br/></span>
  <span class="verse" title="Job 21:23" id="Job-21-23">One dies in his full strength,<br/> <span class="indent">&nbsp;&nbsp;</span>being wholly at ease and quiet.<br/></span>
  <span class="verse" title="Job 21:24" id="Job-21-24">His pails are full of milk.<br/> <span class="indent">&nbsp;&nbsp;</span>The marrow of his bones is moistened.<br/></span>
  <span class="verse" title="Job 21:25" id="Job-21-25">Another dies in bitterness of soul,<br/> <span class="indent">&nbsp;&nbsp;</span>and never tastes of good.<br/></span>
  <span class="verse" title="Job 21:26" id="Job-21-26">They lie down alike in the dust.<br/> <span class="indent">&nbsp;&nbsp;</span>The worm covers them.<br/>   <br/></span>
  <span class="verse" title="Job 21:27" id="Job-21-27">&#8220;Behold, I know your thoughts,<br/> <span class="indent">&nbsp;&nbsp;</span>the devices with which you would wrong me.<br/></span>
  <span class="verse" title="Job 21:28" id="Job-21-28">For you say, &#8216;Where is the house of the prince?<br/> <span class="indent">&nbsp;&nbsp;</span>Where is the tent in which the wicked lived?&#8217;<br/></span>
  <span class="verse" title="Job 21:29" id="Job-21-29">Haven&#8217;t you asked wayfaring men?<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t you know their evidences,<br/></span>
  <span class="verse" title="Job 21:30" id="Job-21-30">that the evil man is reserved to the day of calamity,<br/> <span class="indent">&nbsp;&nbsp;</span>That they are led forth to the day of wrath?<br/></span>
  <span class="verse" title="Job 21:31" id="Job-21-31">Who shall declare his way to his face?<br/> <span class="indent">&nbsp;&nbsp;</span>Who shall repay him what he has done?<br/></span>
  <span class="verse" title="Job 21:32" id="Job-21-32">Yet he will be borne to the grave.<br/> <span class="indent">&nbsp;&nbsp;</span>Men shall keep watch over the tomb.<br/></span>
  <span class="verse" title="Job 21:33" id="Job-21-33">The clods of the valley shall be sweet to him.<br/> <span class="indent">&nbsp;&nbsp;</span>All men shall draw after him,<br/> <span class="indent">&nbsp;&nbsp;</span>as there were innumerable before him.<br/></span>
  <span class="verse" title="Job 21:34" id="Job-21-34">So how can you comfort me with nonsense,<br/> <span class="indent">&nbsp;&nbsp;</span>because in your answers there remains only falsehood?&#8221;<br/></span>
</div>