<div class="chapter" id="Job-022">
  <h2>Job 22</h2>
  <span class="verse" title="Job 22:1" id="Job-22-1">Then Eliphaz the Temanite answered,</span>
  <span class="verse" title="Job 22:2" id="Job-22-2">&#8220;Can a man be profitable to God?<br/> <span class="indent">&nbsp;&nbsp;</span>Surely he who is wise is profitable to himself.<br/></span>
  <span class="verse" title="Job 22:3" id="Job-22-3">Is it any pleasure to the Almighty, that you are righteous?<br/> <span class="indent">&nbsp;&nbsp;</span>Or does it benefit him, that you make your ways perfect?<br/></span>
  <span class="verse" title="Job 22:4" id="Job-22-4">Is it for your piety that he reproves you,<br/> <span class="indent">&nbsp;&nbsp;</span>that he enters with you into judgment?<br/></span>
  <span class="verse" title="Job 22:5" id="Job-22-5">Isn&#8217;t your wickedness great?<br/> <span class="indent">&nbsp;&nbsp;</span>Neither is there any end to your iniquities.<br/></span>
  <span class="verse" title="Job 22:6" id="Job-22-6">For you have taken pledges from your brother for nothing,<br/> <span class="indent">&nbsp;&nbsp;</span>and stripped the naked of their clothing.<br/></span>
  <span class="verse" title="Job 22:7" id="Job-22-7">You haven&#8217;t given water to the weary to drink,<br/> <span class="indent">&nbsp;&nbsp;</span>and you have withheld bread from the hungry.<br/></span>
  <span class="verse" title="Job 22:8" id="Job-22-8">But as for the mighty man, he had the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>The honorable man, he lived in it.<br/></span>
  <span class="verse" title="Job 22:9" id="Job-22-9">You have sent widows away empty,<br/> <span class="indent">&nbsp;&nbsp;</span>and the arms of the fatherless have been broken.<br/></span>
  <span class="verse" title="Job 22:10" id="Job-22-10">Therefore snares are around you.<br/> <span class="indent">&nbsp;&nbsp;</span>Sudden fear troubles you,<br/></span>
  <span class="verse" title="Job 22:11" id="Job-22-11">or darkness, so that you can not see,<br/> <span class="indent">&nbsp;&nbsp;</span>and floods of waters cover you.<br/>   <br/></span>
  <span class="verse" title="Job 22:12" id="Job-22-12">&#8220;Isn&#8217;t God in the heights of heaven?<br/> <span class="indent">&nbsp;&nbsp;</span>See the height of the stars, how high they are!<br/></span>
  <span class="verse" title="Job 22:13" id="Job-22-13">You say, &#8216;What does God know?<br/> <span class="indent">&nbsp;&nbsp;</span>Can he judge through the thick darkness?<br/></span>
  <span class="verse" title="Job 22:14" id="Job-22-14">Thick clouds are a covering to him, so that he doesn&#8217;t see.<br/> <span class="indent">&nbsp;&nbsp;</span>He walks on the vault of the sky.&#8217;<br/></span>
  <span class="verse" title="Job 22:15" id="Job-22-15">Will you keep the old way,<br/> <span class="indent">&nbsp;&nbsp;</span>which wicked men have trodden,<br/></span>
  <span class="verse" title="Job 22:16" id="Job-22-16">who were snatched away before their time,<br/> <span class="indent">&nbsp;&nbsp;</span>whose foundation was poured out as a stream,<br/></span>
  <span class="verse" title="Job 22:17" id="Job-22-17">who said to God, &#8216;Depart from us;&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>and, &#8216;What can the Almighty do for us?&#8217;<br/></span>
  <span class="verse" title="Job 22:18" id="Job-22-18">Yet he filled their houses with good things,<br/> <span class="indent">&nbsp;&nbsp;</span>but the counsel of the wicked is far from me.<br/></span>
  <span class="verse" title="Job 22:19" id="Job-22-19">The righteous see it, and are glad.<br/> <span class="indent">&nbsp;&nbsp;</span>The innocent ridicule them,<br/></span>
  <span class="verse" title="Job 22:20" id="Job-22-20">saying, &#8216;Surely those who rose up against us are cut off.<br/> <span class="indent">&nbsp;&nbsp;</span>The fire has consumed their remnant.&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 22:21" id="Job-22-21">&#8220;Acquaint yourself with him, now, and be at peace.<br/> <span class="indent">&nbsp;&nbsp;</span>Thereby good shall come to you.<br/></span>
  <span class="verse" title="Job 22:22" id="Job-22-22">Please receive instruction from his mouth,<br/> <span class="indent">&nbsp;&nbsp;</span>and lay up his words in your heart.<br/></span>
  <span class="verse" title="Job 22:23" id="Job-22-23">If you return to the Almighty, you shall be built up,<br/> <span class="indent">&nbsp;&nbsp;</span>if you put away unrighteousness far from your tents.<br/></span>
  <span class="verse" title="Job 22:24" id="Job-22-24">Lay your treasure in the dust,<br/> <span class="indent">&nbsp;&nbsp;</span>the gold of Ophir among the stones of the brooks.<br/></span>
  <span class="verse" title="Job 22:25" id="Job-22-25">The Almighty will be your treasure,<br/> <span class="indent">&nbsp;&nbsp;</span>and precious silver to you.<br/></span>
  <span class="verse" title="Job 22:26" id="Job-22-26">For then you will delight yourself in the Almighty,<br/> <span class="indent">&nbsp;&nbsp;</span>and shall lift up your face to God.<br/></span>
  <span class="verse" title="Job 22:27" id="Job-22-27">You shall make your prayer to him, and he will hear you.<br/> <span class="indent">&nbsp;&nbsp;</span>You shall pay your vows.<br/></span>
  <span class="verse" title="Job 22:28" id="Job-22-28">You shall also decree a thing, and it shall be established to you.<br/> <span class="indent">&nbsp;&nbsp;</span>Light shall shine on your ways.<br/></span>
  <span class="verse" title="Job 22:29" id="Job-22-29">When they cast down, you shall say, &#8216;be lifted up.&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>He will save the humble person.<br/></span>
  <span class="verse" title="Job 22:30" id="Job-22-30">He will even deliver him who is not innocent.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, he shall be delivered through the cleanness of your hands.&#8221;<br/></span>
</div>