<div class="chapter" id="Job-023">
  <h2>Job 23</h2>
  <span class="verse" title="Job 23:1" id="Job-23-1">Then Job answered,</span>
  <span class="verse" title="Job 23:2" id="Job-23-2">&#8220;Even today my complaint is rebellious.<br/> <span class="indent">&nbsp;&nbsp;</span>His hand is heavy in spite of my groaning.<br/></span>
  <span class="verse" title="Job 23:3" id="Job-23-3">Oh that I knew where I might find him!<br/> <span class="indent">&nbsp;&nbsp;</span>That I might come even to his seat!<br/></span>
  <span class="verse" title="Job 23:4" id="Job-23-4">I would set my cause in order before him,<br/> <span class="indent">&nbsp;&nbsp;</span>and fill my mouth with arguments.<br/></span>
  <span class="verse" title="Job 23:5" id="Job-23-5">I would know the words which he would answer me,<br/> <span class="indent">&nbsp;&nbsp;</span>and understand what he would tell me.<br/></span>
  <span class="verse" title="Job 23:6" id="Job-23-6">Would he contend with me in the greatness of his power?<br/> <span class="indent">&nbsp;&nbsp;</span>No, but he would listen to me.<br/></span>
  <span class="verse" title="Job 23:7" id="Job-23-7">There the upright might reason with him,<br/> <span class="indent">&nbsp;&nbsp;</span>so I should be delivered forever from my judge.<br/>   <br/></span>
  <span class="verse" title="Job 23:8" id="Job-23-8">&#8220;If I go east, he is not there;<br/> <span class="indent">&nbsp;&nbsp;</span>if west, I can&#8217;t find him;<br/></span>
  <span class="verse" title="Job 23:9" id="Job-23-9">He works to the north, but I can&#8217;t see him.<br/> <span class="indent">&nbsp;&nbsp;</span>He turns south, but I can&#8217;t catch a glimpse of him.<br/></span>
  <span class="verse" title="Job 23:10" id="Job-23-10">But he knows the way that I take.<br/> <span class="indent">&nbsp;&nbsp;</span>When he has tried me, I shall come forth like gold.<br/></span>
  <span class="verse" title="Job 23:11" id="Job-23-11">My foot has held fast to his steps.<br/> <span class="indent">&nbsp;&nbsp;</span>I have kept his way, and not turned aside.<br/></span>
  <span class="verse" title="Job 23:12" id="Job-23-12">I haven&#8217;t gone back from the commandment of his lips.<br/> <span class="indent">&nbsp;&nbsp;</span>I have treasured up the words of his mouth more than my necessary food.<br/></span>
  <span class="verse" title="Job 23:13" id="Job-23-13">But he stands alone, and who can oppose him?<br/> <span class="indent">&nbsp;&nbsp;</span>What his soul desires, even that he does.<br/></span>
  <span class="verse" title="Job 23:14" id="Job-23-14">For he performs that which is appointed for me.<br/> <span class="indent">&nbsp;&nbsp;</span>Many such things are with him.<br/></span>
  <span class="verse" title="Job 23:15" id="Job-23-15">Therefore I am terrified at his presence.<br/> <span class="indent">&nbsp;&nbsp;</span>When I consider, I am afraid of him.<br/></span>
  <span class="verse" title="Job 23:16" id="Job-23-16">For God has made my heart faint.<br/> <span class="indent">&nbsp;&nbsp;</span>The Almighty has terrified me.<br/></span>
  <span class="verse" title="Job 23:17" id="Job-23-17">Because I was not cut off before the darkness,<br/> <span class="indent">&nbsp;&nbsp;</span>neither did he cover the thick darkness from my face.<br/>   <br/></span>
</div>