<div class="chapter" id="Job-025">
  <h2>Job 25</h2>
  <span class="verse" title="Job 25:1" id="Job-25-1">Then Bildad the Shuhite answered,</span>
  <span class="verse" title="Job 25:2" id="Job-25-2">&#8220;Dominion and fear are with him.<br/> <span class="indent">&nbsp;&nbsp;</span>He makes peace in his high places.<br/></span>
  <span class="verse" title="Job 25:3" id="Job-25-3">Can his armies be counted?<br/> <span class="indent">&nbsp;&nbsp;</span>On whom does his light not arise?<br/></span>
  <span class="verse" title="Job 25:4" id="Job-25-4">How then can man be just with God?<br/> <span class="indent">&nbsp;&nbsp;</span>Or how can he who is born of a woman be clean?<br/></span>
  <span class="verse" title="Job 25:5" id="Job-25-5">Behold, even the moon has no brightness,<br/> <span class="indent">&nbsp;&nbsp;</span>and the stars are not pure in his sight;<br/></span>
  <span class="verse" title="Job 25:6" id="Job-25-6">How much less man, who is a worm,<br/> <span class="indent">&nbsp;&nbsp;</span>the son of man, who is a worm!&#8221;<br/></span>
</div>