<div class="chapter" id="Job-026">
  <h2>Job 26</h2>
  <span class="verse" title="Job 26:1" id="Job-26-1">Then Job answered,</span>
  <span class="verse" title="Job 26:2" id="Job-26-2">&#8220;How have you helped him who is without power!<br/> <span class="indent">&nbsp;&nbsp;</span>How have you saved the arm that has no strength!<br/></span>
  <span class="verse" title="Job 26:3" id="Job-26-3">How have you counseled him who has no wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>and plentifully declared sound knowledge!<br/></span>
  <span class="verse" title="Job 26:4" id="Job-26-4">To whom have you uttered words?<br/> <span class="indent">&nbsp;&nbsp;</span>Whose spirit came forth from you?<br/>   <br/></span>
  <span class="verse" title="Job 26:5" id="Job-26-5">&#8220;Those who are deceased tremble,<br/> <span class="indent">&nbsp;&nbsp;</span>those beneath the waters and all that live in them.<br/></span>
  <span class="verse" title="Job 26:6" id="Job-26-6">Sheol is naked before God,<br/> <span class="indent">&nbsp;&nbsp;</span>and Abaddon has no covering.<br/></span>
  <span class="verse" title="Job 26:7" id="Job-26-7">He stretches out the north over empty space,<br/> <span class="indent">&nbsp;&nbsp;</span>and hangs the earth on nothing.<br/></span>
  <span class="verse" title="Job 26:8" id="Job-26-8">He binds up the waters in his thick clouds,<br/> <span class="indent">&nbsp;&nbsp;</span>and the cloud is not burst under them.<br/></span>
  <span class="verse" title="Job 26:9" id="Job-26-9">He encloses the face of his throne,<br/> <span class="indent">&nbsp;&nbsp;</span>and spreads his cloud on it.<br/></span>
  <span class="verse" title="Job 26:10" id="Job-26-10">He has described a boundary on the surface of the waters,<br/> <span class="indent">&nbsp;&nbsp;</span>and to the confines of light and darkness.<br/></span>
  <span class="verse" title="Job 26:11" id="Job-26-11">The pillars of heaven tremble<br/> <span class="indent">&nbsp;&nbsp;</span>and are astonished at his rebuke.<br/></span>
  <span class="verse" title="Job 26:12" id="Job-26-12">He stirs up the sea with his power,<br/> <span class="indent">&nbsp;&nbsp;</span>and by his understanding he strikes through Rahab.<br/></span>
  <span class="verse" title="Job 26:13" id="Job-26-13">By his Spirit the heavens are garnished.<br/> <span class="indent">&nbsp;&nbsp;</span>His hand has pierced the swift serpent.<br/></span>
  <span class="verse" title="Job 26:14" id="Job-26-14">Behold, these are but the outskirts of his ways.<br/> <span class="indent">&nbsp;&nbsp;</span>How small a whisper do we hear of him!<br/> <span class="indent">&nbsp;&nbsp;</span>But the thunder of his power who can understand?&#8221;<br/></span>
</div>