<div class="chapter" id="Job-027">
  <h2>Job 27</h2>
  <span class="verse" title="Job 27:1" id="Job-27-1">Job again took up his parable, and said,</span>
  <span class="verse" title="Job 27:2" id="Job-27-2">&#8220;As God lives, who has taken away my right,<br/> <span class="indent">&nbsp;&nbsp;</span>the Almighty, who has made my soul bitter.<br/></span>
  <span class="verse" title="Job 27:3" id="Job-27-3">(For the length of my life is still in me,<br/> <span class="indent">&nbsp;&nbsp;</span>and the spirit of God is in my nostrils);<br/></span>
  <span class="verse" title="Job 27:4" id="Job-27-4">surely my lips shall not speak unrighteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall my tongue utter deceit.<br/></span>
  <span class="verse" title="Job 27:5" id="Job-27-5">Far be it from me that I should justify you.<br/> <span class="indent">&nbsp;&nbsp;</span>Until I die I will not put away my integrity from me.<br/></span>
  <span class="verse" title="Job 27:6" id="Job-27-6">I hold fast to my righteousness, and will not let it go.<br/> <span class="indent">&nbsp;&nbsp;</span>My heart shall not reproach me so long as I live.<br/>   <br/></span>
  <span class="verse" title="Job 27:7" id="Job-27-7">&#8220;Let my enemy be as the wicked.<br/> <span class="indent">&nbsp;&nbsp;</span>Let him who rises up against me be as the unrighteous.<br/></span>
  <span class="verse" title="Job 27:8" id="Job-27-8">For what is the hope of the godless, when he is cut off, when God takes away his life?<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Job 27:9" id="Job-27-9">Will God hear his cry when trouble comes on him?<br/></span>
  <span class="verse" title="Job 27:10" id="Job-27-10">Will he delight himself in the Almighty,<br/> <span class="indent">&nbsp;&nbsp;</span>and call on God at all times?<br/></span>
  <span class="verse" title="Job 27:11" id="Job-27-11">I will teach you about the hand of God.<br/> <span class="indent">&nbsp;&nbsp;</span>That which is with the Almighty will I not conceal.<br/></span>
  <span class="verse" title="Job 27:12" id="Job-27-12">Behold, all of you have seen it yourselves;<br/> <span class="indent">&nbsp;&nbsp;</span>why then have you become altogether vain?<br/>   <br/></span>
  <span class="verse" title="Job 27:13" id="Job-27-13">&#8220;This is the portion of a wicked man with God,<br/> <span class="indent">&nbsp;&nbsp;</span>the heritage of oppressors, which they receive from the Almighty.<br/></span>
  <span class="verse" title="Job 27:14" id="Job-27-14">If his children are multiplied, it is for the sword.<br/> <span class="indent">&nbsp;&nbsp;</span>His offspring shall not be satisfied with bread.<br/></span>
  <span class="verse" title="Job 27:15" id="Job-27-15">Those who remain of him shall be buried in death.<br/> <span class="indent">&nbsp;&nbsp;</span>His widows shall make no lamentation.<br/></span>
  <span class="verse" title="Job 27:16" id="Job-27-16">Though he heap up silver as the dust,<br/> <span class="indent">&nbsp;&nbsp;</span>and prepare clothing as the clay;<br/></span>
  <span class="verse" title="Job 27:17" id="Job-27-17">he may prepare it, but the just shall put it on,<br/> <span class="indent">&nbsp;&nbsp;</span>and the innocent shall divide the silver.<br/></span>
  <span class="verse" title="Job 27:18" id="Job-27-18">He builds his house as the moth,<br/> <span class="indent">&nbsp;&nbsp;</span>as a booth which the watchman makes.<br/></span>
  <span class="verse" title="Job 27:19" id="Job-27-19">He lies down rich, but he shall not do so again.<br/> <span class="indent">&nbsp;&nbsp;</span>He opens his eyes, and he is not.<br/></span>
  <span class="verse" title="Job 27:20" id="Job-27-20">Terrors overtake him like waters.<br/> <span class="indent">&nbsp;&nbsp;</span>A storm steals him away in the night.<br/></span>
  <span class="verse" title="Job 27:21" id="Job-27-21">The east wind carries him away, and he departs.<br/> <span class="indent">&nbsp;&nbsp;</span>It sweeps him out of his place.<br/></span>
  <span class="verse" title="Job 27:22" id="Job-27-22">For it hurls at him, and does not spare,<br/> <span class="indent">&nbsp;&nbsp;</span>as he flees away from his hand.<br/></span>
  <span class="verse" title="Job 27:23" id="Job-27-23">Men shall clap their hands at him,<br/> <span class="indent">&nbsp;&nbsp;</span>and shall hiss him out of his place.<br/>   <br/></span>
</div>