<div class="chapter" id="Job-028">
  <h2>Job 28</h2>
  <span class="verse" title="Job 28:1" id="Job-28-1">&#8220;Surely there is a mine for silver,<br/> <span class="indent">&nbsp;&nbsp;</span>and a place for gold which they refine.<br/></span>
  <span class="verse" title="Job 28:2" id="Job-28-2">Iron is taken out of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and copper is smelted out of the ore.<br/></span>
  <span class="verse" title="Job 28:3" id="Job-28-3">Man sets an end to darkness,<br/> <span class="indent">&nbsp;&nbsp;</span>and searches out, to the furthest bound,<br/> <span class="indent">&nbsp;&nbsp;</span>the stones of obscurity and of thick darkness.<br/></span>
  <span class="verse" title="Job 28:4" id="Job-28-4">He breaks open a shaft away from where people live.<br/> <span class="indent">&nbsp;&nbsp;</span>They are forgotten by the foot.<br/> <span class="indent">&nbsp;&nbsp;</span>They hang far from men, they swing back and forth.<br/></span>
  <span class="verse" title="Job 28:5" id="Job-28-5">As for the earth, out of it comes bread;<br/> <span class="indent">&nbsp;&nbsp;</span>Underneath it is turned up as it were by fire.<br/></span>
  <span class="verse" title="Job 28:6" id="Job-28-6">Sapphires come from its rocks.<br/> <span class="indent">&nbsp;&nbsp;</span>It has dust of gold.<br/></span>
  <span class="verse" title="Job 28:7" id="Job-28-7">That path no bird of prey knows,<br/> <span class="indent">&nbsp;&nbsp;</span>neither has the falcon&#8217;s eye seen it.<br/></span>
  <span class="verse" title="Job 28:8" id="Job-28-8">The proud animals have not trodden it,<br/> <span class="indent">&nbsp;&nbsp;</span>nor has the fierce lion passed by there.<br/></span>
  <span class="verse" title="Job 28:9" id="Job-28-9">He puts forth his hand on the flinty rock,<br/> <span class="indent">&nbsp;&nbsp;</span>and he overturns the mountains by the roots.<br/></span>
  <span class="verse" title="Job 28:10" id="Job-28-10">He cuts out channels among the rocks.<br/> <span class="indent">&nbsp;&nbsp;</span>His eye sees every precious thing.<br/></span>
  <span class="verse" title="Job 28:11" id="Job-28-11">He binds the streams that they don&#8217;t trickle.<br/> <span class="indent">&nbsp;&nbsp;</span>The thing that is hidden he brings forth to light.<br/>   <br/></span>
  <span class="verse" title="Job 28:12" id="Job-28-12">&#8220;But where shall wisdom be found?<br/> <span class="indent">&nbsp;&nbsp;</span>Where is the place of understanding?<br/></span>
  <span class="verse" title="Job 28:13" id="Job-28-13">Man doesn&#8217;t know its price;<br/> <span class="indent">&nbsp;&nbsp;</span>Neither is it found in the land of the living.<br/></span>
  <span class="verse" title="Job 28:14" id="Job-28-14">The deep says, &#8216;It isn&#8217;t in me.&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>The sea says, &#8216;It isn&#8217;t with me.&#8217;<br/></span>
  <span class="verse" title="Job 28:15" id="Job-28-15">It can&#8217;t be gotten for gold,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall silver be weighed for its price.<br/></span>
  <span class="verse" title="Job 28:16" id="Job-28-16">It can&#8217;t be valued with the gold of Ophir,<br/> <span class="indent">&nbsp;&nbsp;</span>with the precious onyx, or the sapphire.<br/></span>
  <span class="verse" title="Job 28:17" id="Job-28-17">Gold and glass can&#8217;t equal it,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall it be exchanged for jewels of fine gold.<br/></span>
  <span class="verse" title="Job 28:18" id="Job-28-18">No mention shall be made of coral or of crystal.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, the price of wisdom is above rubies.<br/></span>
  <span class="verse" title="Job 28:19" id="Job-28-19">The topaz of Ethiopia shall not equal it,<br/> <span class="indent">&nbsp;&nbsp;</span>Neither shall it be valued with pure gold.<br/></span>
  <span class="verse" title="Job 28:20" id="Job-28-20">Where then does wisdom come from?<br/> <span class="indent">&nbsp;&nbsp;</span>Where is the place of understanding?<br/></span>
  <span class="verse" title="Job 28:21" id="Job-28-21">Seeing it is hidden from the eyes of all living,<br/> <span class="indent">&nbsp;&nbsp;</span>and kept close from the birds of the sky.<br/></span>
  <span class="verse" title="Job 28:22" id="Job-28-22">Destruction and Death say,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;We have heard a rumor of it with our ears.&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 28:23" id="Job-28-23">&#8220;God understands its way,<br/> <span class="indent">&nbsp;&nbsp;</span>and he knows its place.<br/></span>
  <span class="verse" title="Job 28:24" id="Job-28-24">For he looks to the ends of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and sees under the whole sky.<br/></span>
  <span class="verse" title="Job 28:25" id="Job-28-25">He establishes the force of the wind.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, he measures out the waters by measure.<br/></span>
  <span class="verse" title="Job 28:26" id="Job-28-26">When he made a decree for the rain,<br/> <span class="indent">&nbsp;&nbsp;</span>and a way for the lightning of the thunder;<br/></span>
  <span class="verse" title="Job 28:27" id="Job-28-27">then he saw it, and declared it.<br/> <span class="indent">&nbsp;&nbsp;</span>He established it, yes, and searched it out.<br/></span>
  <span class="verse" title="Job 28:28" id="Job-28-28">To man he said,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;Behold, the fear of the Lord, that is wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>To depart from evil is understanding.&#8217;&#8221;<br/></span>
</div>