<div class="chapter" id="Job-029">
  <h2>Job 29</h2>
  <span class="verse" title="Job 29:1" id="Job-29-1">Job again took up his parable, and said,</span>
  <span class="verse" title="Job 29:2" id="Job-29-2">&#8220;Oh that I were as in the months of old,<br/> <span class="indent">&nbsp;&nbsp;</span>as in the days when God watched over me;<br/></span>
  <span class="verse" title="Job 29:3" id="Job-29-3">when his lamp shone on my head,<br/> <span class="indent">&nbsp;&nbsp;</span>and by his light I walked through darkness,<br/></span>
  <span class="verse" title="Job 29:4" id="Job-29-4">as I was in the ripeness of my days,<br/> <span class="indent">&nbsp;&nbsp;</span>when the friendship of God was in my tent,<br/></span>
  <span class="verse" title="Job 29:5" id="Job-29-5">when the Almighty was yet with me,<br/> <span class="indent">&nbsp;&nbsp;</span>and my children were around me,<br/></span>
  <span class="verse" title="Job 29:6" id="Job-29-6">when my steps were washed with butter,<br/> <span class="indent">&nbsp;&nbsp;</span>and the rock poured out streams of oil for me,<br/></span>
  <span class="verse" title="Job 29:7" id="Job-29-7">when I went forth to the city gate,<br/> <span class="indent">&nbsp;&nbsp;</span>when I prepared my seat in the street.<br/></span>
  <span class="verse" title="Job 29:8" id="Job-29-8">The young men saw me and hid themselves.<br/> <span class="indent">&nbsp;&nbsp;</span>The aged rose up and stood.<br/></span>
  <span class="verse" title="Job 29:9" id="Job-29-9">The princes refrained from talking,<br/> <span class="indent">&nbsp;&nbsp;</span>and laid their hand on their mouth.<br/></span>
  <span class="verse" title="Job 29:10" id="Job-29-10">The voice of the nobles was hushed,<br/> <span class="indent">&nbsp;&nbsp;</span>and their tongue stuck to the roof of their mouth.<br/></span>
  <span class="verse" title="Job 29:11" id="Job-29-11">For when the ear heard me, then it blessed me;<br/> <span class="indent">&nbsp;&nbsp;</span>and when the eye saw me, it commended me:<br/></span>
  <span class="verse" title="Job 29:12" id="Job-29-12">Because I delivered the poor who cried,<br/> <span class="indent">&nbsp;&nbsp;</span>and the fatherless also, who had none to help him,<br/></span>
  <span class="verse" title="Job 29:13" id="Job-29-13">the blessing of him who was ready to perish came on me,<br/> <span class="indent">&nbsp;&nbsp;</span>and I caused the widow&#8217;s heart to sing for joy.<br/></span>
  <span class="verse" title="Job 29:14" id="Job-29-14">I put on righteousness, and it clothed me.<br/> <span class="indent">&nbsp;&nbsp;</span>My justice was as a robe and a diadem.<br/></span>
  <span class="verse" title="Job 29:15" id="Job-29-15">I was eyes to the blind,<br/> <span class="indent">&nbsp;&nbsp;</span>and feet to the lame.<br/></span>
  <span class="verse" title="Job 29:16" id="Job-29-16">I was a father to the needy.<br/> <span class="indent">&nbsp;&nbsp;</span>The cause of him who I didn&#8217;t know, I searched out.<br/></span>
  <span class="verse" title="Job 29:17" id="Job-29-17">I broke the jaws of the unrighteous,<br/> <span class="indent">&nbsp;&nbsp;</span>and plucked the prey out of his teeth.<br/></span>
  <span class="verse" title="Job 29:18" id="Job-29-18">Then I said, &#8216;I shall die in my own house,<br/> <span class="indent">&nbsp;&nbsp;</span>I shall number my days as the sand.<br/></span>
  <span class="verse" title="Job 29:19" id="Job-29-19">My root is spread out to the waters.<br/> <span class="indent">&nbsp;&nbsp;</span>The dew lies all night on my branch.<br/></span>
  <span class="verse" title="Job 29:20" id="Job-29-20">My glory is fresh in me.<br/> <span class="indent">&nbsp;&nbsp;</span>My bow is renewed in my hand.&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 29:21" id="Job-29-21">&#8220;Men listened to me, waited,<br/> <span class="indent">&nbsp;&nbsp;</span>and kept silence for my counsel.<br/></span>
  <span class="verse" title="Job 29:22" id="Job-29-22">After my words they didn&#8217;t speak again.<br/> <span class="indent">&nbsp;&nbsp;</span>My speech fell on them.<br/></span>
  <span class="verse" title="Job 29:23" id="Job-29-23">They waited for me as for the rain.<br/> <span class="indent">&nbsp;&nbsp;</span>Their mouths drank as with the spring rain.<br/></span>
  <span class="verse" title="Job 29:24" id="Job-29-24">I smiled on them when they had no confidence.<br/> <span class="indent">&nbsp;&nbsp;</span>They didn&#8217;t reject the light of my face.<br/></span>
  <span class="verse" title="Job 29:25" id="Job-29-25">I chose out their way, and sat as chief.<br/> <span class="indent">&nbsp;&nbsp;</span>I lived as a king in the army,<br/> <span class="indent">&nbsp;&nbsp;</span>as one who comforts the mourners.<br/>   <br/></span>
</div>