<div class="chapter" id="Job-030">
  <h2>Job 30</h2>
  <span class="verse" title="Job 30:1" id="Job-30-1">&#8220;But now those who are younger than I have me in derision,<br/> <span class="indent">&nbsp;&nbsp;</span>whose fathers I would have disdained to put with my sheep dogs.<br/></span>
  <span class="verse" title="Job 30:2" id="Job-30-2">Of what use is the strength of their hands to me,<br/> <span class="indent">&nbsp;&nbsp;</span>men in whom ripe age has perished?<br/></span>
  <span class="verse" title="Job 30:3" id="Job-30-3">They are gaunt from lack and famine.<br/> <span class="indent">&nbsp;&nbsp;</span>They gnaw the dry ground, in the gloom of waste and desolation.<br/></span>
  <span class="verse" title="Job 30:4" id="Job-30-4">They pluck salt herbs by the bushes.<br/> <span class="indent">&nbsp;&nbsp;</span>The roots of the broom are their food.<br/></span>
  <span class="verse" title="Job 30:5" id="Job-30-5">They are driven out from the midst of men.<br/> <span class="indent">&nbsp;&nbsp;</span>They cry after them as after a thief;<br/></span>
  <span class="verse" title="Job 30:6" id="Job-30-6">So that they dwell in frightful valleys,<br/> <span class="indent">&nbsp;&nbsp;</span>and in holes of the earth and of the rocks.<br/></span>
  <span class="verse" title="Job 30:7" id="Job-30-7">Among the bushes they bray;<br/> <span class="indent">&nbsp;&nbsp;</span>and under the nettles they are gathered together.<br/></span>
  <span class="verse" title="Job 30:8" id="Job-30-8">They are children of fools, yes, children of base men.<br/> <span class="indent">&nbsp;&nbsp;</span>They were flogged out of the land.<br/>   <br/></span>
  <span class="verse" title="Job 30:9" id="Job-30-9">&#8220;Now I have become their song.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, I am a byword to them.<br/></span>
  <span class="verse" title="Job 30:10" id="Job-30-10">They abhor me, they stand aloof from me,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t hesitate to spit in my face.<br/></span>
  <span class="verse" title="Job 30:11" id="Job-30-11">For he has untied his cord, and afflicted me;<br/> <span class="indent">&nbsp;&nbsp;</span>and they have thrown off restraint before me.<br/></span>
  <span class="verse" title="Job 30:12" id="Job-30-12">On my right hand rise the rabble.<br/> <span class="indent">&nbsp;&nbsp;</span>They thrust aside my feet,<br/> <span class="indent">&nbsp;&nbsp;</span>They cast up against me their ways of destruction.<br/></span>
  <span class="verse" title="Job 30:13" id="Job-30-13">They mar my path,<br/> <span class="indent">&nbsp;&nbsp;</span>They set forward my calamity,<br/> <span class="indent">&nbsp;&nbsp;</span>without anyone&#8217;s help.<br/></span>
  <span class="verse" title="Job 30:14" id="Job-30-14">As through a wide breach they come,<br/> <span class="indent">&nbsp;&nbsp;</span>in the midst of the ruin they roll themselves in.<br/></span>
  <span class="verse" title="Job 30:15" id="Job-30-15">Terrors have turned on me.<br/> <span class="indent">&nbsp;&nbsp;</span>They chase my honor as the wind.<br/> <span class="indent">&nbsp;&nbsp;</span>My welfare has passed away as a cloud.<br/>   <br/></span>
  <span class="verse" title="Job 30:16" id="Job-30-16">&#8220;Now my soul is poured out within me.<br/> <span class="indent">&nbsp;&nbsp;</span>Days of affliction have taken hold on me.<br/></span>
  <span class="verse" title="Job 30:17" id="Job-30-17">In the night season my bones are pierced in me,<br/> <span class="indent">&nbsp;&nbsp;</span>and the pains that gnaw me take no rest.<br/></span>
  <span class="verse" title="Job 30:18" id="Job-30-18">By great force is my garment disfigured.<br/> <span class="indent">&nbsp;&nbsp;</span>It binds me about as the collar of my coat.<br/></span>
  <span class="verse" title="Job 30:19" id="Job-30-19">He has cast me into the mire.<br/> <span class="indent">&nbsp;&nbsp;</span>I have become like dust and ashes.<br/></span>
  <span class="verse" title="Job 30:20" id="Job-30-20">I cry to you, and you do not answer me.<br/> <span class="indent">&nbsp;&nbsp;</span>I stand up, and you gaze at me.<br/></span>
  <span class="verse" title="Job 30:21" id="Job-30-21">You have turned to be cruel to me.<br/> <span class="indent">&nbsp;&nbsp;</span>With the might of your hand you persecute me.<br/></span>
  <span class="verse" title="Job 30:22" id="Job-30-22">You lift me up to the wind, and drive me with it.<br/> <span class="indent">&nbsp;&nbsp;</span>You dissolve me in the storm.<br/></span>
  <span class="verse" title="Job 30:23" id="Job-30-23">For I know that you will bring me to death,<br/> <span class="indent">&nbsp;&nbsp;</span>To the house appointed for all living.<br/>   <br/></span>
  <span class="verse" title="Job 30:24" id="Job-30-24">&#8220;However doesn&#8217;t one stretch out a hand in his fall?<br/> <span class="indent">&nbsp;&nbsp;</span>Or in his calamity therefore cry for help?<br/></span>
  <span class="verse" title="Job 30:25" id="Job-30-25">Didn&#8217;t I weep for him who was in trouble?<br/> <span class="indent">&nbsp;&nbsp;</span>Wasn&#8217;t my soul grieved for the needy?<br/></span>
  <span class="verse" title="Job 30:26" id="Job-30-26">When I looked for good, then evil came;<br/> <span class="indent">&nbsp;&nbsp;</span>When I waited for light, there came darkness.<br/></span>
  <span class="verse" title="Job 30:27" id="Job-30-27">My heart is troubled, and doesn&#8217;t rest.<br/> <span class="indent">&nbsp;&nbsp;</span>Days of affliction have come on me.<br/></span>
  <span class="verse" title="Job 30:28" id="Job-30-28">I go mourning without the sun.<br/> <span class="indent">&nbsp;&nbsp;</span>I stand up in the assembly, and cry for help.<br/></span>
  <span class="verse" title="Job 30:29" id="Job-30-29">I am a brother to jackals,<br/> <span class="indent">&nbsp;&nbsp;</span>and a companion to ostriches.<br/></span>
  <span class="verse" title="Job 30:30" id="Job-30-30">My skin grows black and peels from me.<br/> <span class="indent">&nbsp;&nbsp;</span>My bones are burned with heat.<br/></span>
  <span class="verse" title="Job 30:31" id="Job-30-31">Therefore my harp has turned to mourning,<br/> <span class="indent">&nbsp;&nbsp;</span>and my pipe into the voice of those who weep.<br/>   <br/></span>
</div>