<div class="chapter" id="Job-031">
  <h2>Job 31</h2>
  <span class="verse" title="Job 31:1" id="Job-31-1">&#8220;I made a covenant with my eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>how then should I look lustfully at a young woman?<br/></span>
  <span class="verse" title="Job 31:2" id="Job-31-2">For what is the portion from God above,<br/> <span class="indent">&nbsp;&nbsp;</span>and the heritage from the Almighty on high?<br/></span>
  <span class="verse" title="Job 31:3" id="Job-31-3">Is it not calamity to the unrighteous,<br/> <span class="indent">&nbsp;&nbsp;</span>and disaster to the workers of iniquity?<br/></span>
  <span class="verse" title="Job 31:4" id="Job-31-4">Doesn&#8217;t he see my ways,<br/> <span class="indent">&nbsp;&nbsp;</span>and number all my steps?<br/>   <br/></span>
  <span class="verse" title="Job 31:5" id="Job-31-5">&#8220;If I have walked with falsehood,<br/> <span class="indent">&nbsp;&nbsp;</span>and my foot has hurried to deceit<br/></span>
  <span class="verse" title="Job 31:6" id="Job-31-6">(let me be weighed in an even balance,<br/> <span class="indent">&nbsp;&nbsp;</span>that God may know my integrity);<br/></span>
  <span class="verse" title="Job 31:7" id="Job-31-7">if my step has turned out of the way,<br/> <span class="indent">&nbsp;&nbsp;</span>if my heart walked after my eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>if any defilement has stuck to my hands,<br/></span>
  <span class="verse" title="Job 31:8" id="Job-31-8">then let me sow, and let another eat.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, let the produce of my field be rooted out.<br/>   <br/></span>
  <span class="verse" title="Job 31:9" id="Job-31-9">&#8220;If my heart has been enticed to a woman,<br/> <span class="indent">&nbsp;&nbsp;</span>and I have laid wait at my neighbor&#8217;s door,<br/></span>
  <span class="verse" title="Job 31:10" id="Job-31-10">then let my wife grind for another,<br/> <span class="indent">&nbsp;&nbsp;</span>and let others sleep with her.<br/></span>
  <span class="verse" title="Job 31:11" id="Job-31-11">For that would be a heinous crime.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, it would be an iniquity to be punished by the judges:<br/></span>
  <span class="verse" title="Job 31:12" id="Job-31-12">For it is a fire that consumes to destruction,<br/> <span class="indent">&nbsp;&nbsp;</span>and would root out all my increase.<br/>   <br/></span>
  <span class="verse" title="Job 31:13" id="Job-31-13">&#8220;If I have despised the cause of my male servant<br/> <span class="indent">&nbsp;&nbsp;</span>or of my female servant,<br/> <span class="indent">&nbsp;&nbsp;</span>when they contended with me;<br/></span>
  <span class="verse" title="Job 31:14" id="Job-31-14">What then shall I do when God rises up?<br/> <span class="indent">&nbsp;&nbsp;</span>When he visits, what shall I answer him?<br/></span>
  <span class="verse" title="Job 31:15" id="Job-31-15">Didn&#8217;t he who made me in the womb make him?<br/> <span class="indent">&nbsp;&nbsp;</span>Didn&#8217;t one fashion us in the womb?<br/>   <br/></span>
  <span class="verse" title="Job 31:16" id="Job-31-16">&#8220;If I have withheld the poor from their desire,<br/> <span class="indent">&nbsp;&nbsp;</span>or have caused the eyes of the widow to fail,<br/></span>
  <span class="verse" title="Job 31:17" id="Job-31-17">or have eaten my morsel alone,<br/> <span class="indent">&nbsp;&nbsp;</span>and the fatherless has not eaten of it<br/></span>
  <span class="verse" title="Job 31:18" id="Job-31-18">(no, from my youth he grew up with me as with a father,<br/> <span class="indent">&nbsp;&nbsp;</span>her have I guided from my mother&#8217;s womb);<br/></span>
  <span class="verse" title="Job 31:19" id="Job-31-19">if I have seen any perish for want of clothing,<br/> <span class="indent">&nbsp;&nbsp;</span>or that the needy had no covering;<br/></span>
  <span class="verse" title="Job 31:20" id="Job-31-20">if his heart hasn&#8217;t blessed me,<br/> <span class="indent">&nbsp;&nbsp;</span>if he hasn&#8217;t been warmed with my sheep&#8217;s fleece;<br/></span>
  <span class="verse" title="Job 31:21" id="Job-31-21">if I have lifted up my hand against the fatherless,<br/> <span class="indent">&nbsp;&nbsp;</span>because I saw my help in the gate,<br/></span>
  <span class="verse" title="Job 31:22" id="Job-31-22">then let my shoulder fall from the shoulder blade,<br/> <span class="indent">&nbsp;&nbsp;</span>and my arm be broken from the bone.<br/></span>
  <span class="verse" title="Job 31:23" id="Job-31-23">For calamity from God is a terror to me.<br/> <span class="indent">&nbsp;&nbsp;</span>Because his majesty, I can do nothing.<br/>   <br/></span>
  <span class="verse" title="Job 31:24" id="Job-31-24">&#8220;If I have made gold my hope,<br/> <span class="indent">&nbsp;&nbsp;</span>and have said to the fine gold, &#8216;You are my confidence;&#8217;<br/></span>
  <span class="verse" title="Job 31:25" id="Job-31-25">If I have rejoiced because my wealth was great,<br/> <span class="indent">&nbsp;&nbsp;</span>and because my hand had gotten much;<br/></span>
  <span class="verse" title="Job 31:26" id="Job-31-26">if I have seen the sun when it shined,<br/> <span class="indent">&nbsp;&nbsp;</span>or the moon moving in splendor,<br/></span>
  <span class="verse" title="Job 31:27" id="Job-31-27">and my heart has been secretly enticed,<br/> <span class="indent">&nbsp;&nbsp;</span>and my hand threw a kiss from my mouth,<br/></span>
  <span class="verse" title="Job 31:28" id="Job-31-28">this also would be an iniquity to be punished by the judges;<br/> <span class="indent">&nbsp;&nbsp;</span>for I should have denied the God who is above.<br/>   <br/></span>
  <span class="verse" title="Job 31:29" id="Job-31-29">&#8220;If I have rejoiced at the destruction of him who hated me,<br/> <span class="indent">&nbsp;&nbsp;</span>or lifted up myself when evil found him;<br/></span>
  <span class="verse" title="Job 31:30" id="Job-31-30">(yes, I have not allowed my mouth to sin<br/> <span class="indent">&nbsp;&nbsp;</span>by asking his life with a curse);<br/></span>
  <span class="verse" title="Job 31:31" id="Job-31-31">if the men of my tent have not said,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;Who can find one who has not been filled with his meat?&#8217;<br/></span>
  <span class="verse" title="Job 31:32" id="Job-31-32">(the foreigner has not lodged in the street,<br/> <span class="indent">&nbsp;&nbsp;</span>but I have opened my doors to the traveler);<br/></span>
  <span class="verse" title="Job 31:33" id="Job-31-33">if like Adam I have covered my transgressions,<br/> <span class="indent">&nbsp;&nbsp;</span>by hiding my iniquity in my heart,<br/></span>
  <span class="verse" title="Job 31:34" id="Job-31-34">because I feared the great multitude,<br/> <span class="indent">&nbsp;&nbsp;</span>and the contempt of families terrified me,<br/> <span class="indent">&nbsp;&nbsp;</span>so that I kept silence, and didn&#8217;t go out of the door—<br/></span>
  <span class="verse" title="Job 31:35" id="Job-31-35">oh that I had one to hear me!<br/> <span class="indent">&nbsp;&nbsp;</span>(behold, here is my signature, let the Almighty answer me);<br/> <span class="indent">&nbsp;&nbsp;</span>let the accuser write my indictment!<br/></span>
  <span class="verse" title="Job 31:36" id="Job-31-36">Surely I would carry it on my shoulder;<br/> <span class="indent">&nbsp;&nbsp;</span>and I would bind it to me as a crown.<br/></span>
  <span class="verse" title="Job 31:37" id="Job-31-37">I would declare to him the number of my steps.<br/> <span class="indent">&nbsp;&nbsp;</span>as a prince would I go near to him.<br/></span>
  <span class="verse" title="Job 31:38" id="Job-31-38">If my land cries out against me,<br/> <span class="indent">&nbsp;&nbsp;</span>and its furrows weep together;<br/></span>
  <span class="verse" title="Job 31:39" id="Job-31-39">if I have eaten its fruits without money,<br/> <span class="indent">&nbsp;&nbsp;</span>or have caused its owners to lose their life,<br/></span>
  <span class="verse" title="Job 31:40" id="Job-31-40">let briars grow instead of wheat,<br/> <span class="indent">&nbsp;&nbsp;</span>and stinkweed instead of barley.&#8221;<br/>  The words of Job are ended.</span>
</div>