<div class="chapter" id="Job-032">
  <h2>Job 32</h2>
  <span class="verse" title="Job 32:1" id="Job-32-1">So these three men ceased to answer Job, because he was righteous in his own eyes.</span>
  <span class="verse" title="Job 32:2" id="Job-32-2">Then the wrath of Elihu the son of Barachel, the Buzite, of the family of Ram, was kindled against Job. His wrath was kindled because he justified himself rather than God.</span>
  <span class="verse" title="Job 32:3" id="Job-32-3">Also his wrath was kindled against his three friends, because they had found no answer, and yet had condemned Job.</span>
  <span class="verse" title="Job 32:4" id="Job-32-4">Now Elihu had waited to speak to Job, because they were elder than he.</span>
  <span class="verse" title="Job 32:5" id="Job-32-5">When Elihu saw that there was no answer in the mouth of these three men, his wrath was kindled.</span>
  <span class="verse" title="Job 32:6" id="Job-32-6">Elihu the son of Barachel the Buzite answered,  &#8220;I am young, and you are very old;<br/> <span class="indent">&nbsp;&nbsp;</span>Therefore I held back, and didn&#8217;t dare show you my opinion.<br/></span>
  <span class="verse" title="Job 32:7" id="Job-32-7">I said, &#8216;Days should speak,<br/> <span class="indent">&nbsp;&nbsp;</span>and multitude of years should teach wisdom.&#8217;<br/></span>
  <span class="verse" title="Job 32:8" id="Job-32-8">But there is a spirit in man,<br/> <span class="indent">&nbsp;&nbsp;</span>and the breath of the Almighty gives them understanding.<br/></span>
  <span class="verse" title="Job 32:9" id="Job-32-9">It is not the great who are wise,<br/> <span class="indent">&nbsp;&nbsp;</span>nor the aged who understand justice.<br/></span>
  <span class="verse" title="Job 32:10" id="Job-32-10">Therefore I said, &#8216;Listen to me;<br/> <span class="indent">&nbsp;&nbsp;</span>I also will show my opinion.&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 32:11" id="Job-32-11">&#8220;Behold, I waited for your words,<br/> <span class="indent">&nbsp;&nbsp;</span>and I listened for your reasoning,<br/> <span class="indent">&nbsp;&nbsp;</span>while you searched out what to say.<br/></span>
  <span class="verse" title="Job 32:12" id="Job-32-12">Yes, I gave you my full attention,<br/> <span class="indent">&nbsp;&nbsp;</span>but there was no one who convinced Job,<br/> <span class="indent">&nbsp;&nbsp;</span>or who answered his words, among you.<br/></span>
  <span class="verse" title="Job 32:13" id="Job-32-13">Beware lest you say, &#8216;We have found wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>God may refute him, not man;&#8217;<br/></span>
  <span class="verse" title="Job 32:14" id="Job-32-14">for he has not directed his words against me;<br/> <span class="indent">&nbsp;&nbsp;</span>neither will I answer him with your speeches.<br/>   <br/></span>
  <span class="verse" title="Job 32:15" id="Job-32-15">&#8220;They are amazed. They answer no more.<br/> <span class="indent">&nbsp;&nbsp;</span>They don&#8217;t have a word to say.<br/></span>
  <span class="verse" title="Job 32:16" id="Job-32-16">Shall I wait, because they don&#8217;t speak,<br/> <span class="indent">&nbsp;&nbsp;</span>because they stand still, and answer no more?<br/></span>
  <span class="verse" title="Job 32:17" id="Job-32-17">I also will answer my part,<br/> <span class="indent">&nbsp;&nbsp;</span>and I also will show my opinion.<br/></span>
  <span class="verse" title="Job 32:18" id="Job-32-18">For I am full of words.<br/> <span class="indent">&nbsp;&nbsp;</span>The spirit within me constrains me.<br/></span>
  <span class="verse" title="Job 32:19" id="Job-32-19">Behold, my breast is as wine which has no vent;<br/> <span class="indent">&nbsp;&nbsp;</span>like new wineskins it is ready to burst.<br/></span>
  <span class="verse" title="Job 32:20" id="Job-32-20">I will speak, that I may be refreshed.<br/> <span class="indent">&nbsp;&nbsp;</span>I will open my lips and answer.<br/></span>
  <span class="verse" title="Job 32:21" id="Job-32-21">Please don&#8217;t let me respect any man&#8217;s person,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will I give flattering titles to any man.<br/></span>
  <span class="verse" title="Job 32:22" id="Job-32-22">For I don&#8217;t know how to give flattering titles;<br/> <span class="indent">&nbsp;&nbsp;</span>or else my Maker would soon take me away.<br/>   <br/></span>
</div>