<div class="chapter" id="Job-033">
  <h2>Job 33</h2>
  <span class="verse" title="Job 33:1" id="Job-33-1">&#8220;However, Job, please hear my speech,<br/> <span class="indent">&nbsp;&nbsp;</span>and listen to all my words.<br/></span>
  <span class="verse" title="Job 33:2" id="Job-33-2">See now, I have opened my mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>My tongue has spoken in my mouth.<br/></span>
  <span class="verse" title="Job 33:3" id="Job-33-3">My words shall utter the uprightness of my heart.<br/> <span class="indent">&nbsp;&nbsp;</span>That which my lips know they shall speak sincerely.<br/></span>
  <span class="verse" title="Job 33:4" id="Job-33-4">The Spirit of God has made me,<br/> <span class="indent">&nbsp;&nbsp;</span>and the breath of the Almighty gives me life.<br/></span>
  <span class="verse" title="Job 33:5" id="Job-33-5">If you can, answer me.<br/> <span class="indent">&nbsp;&nbsp;</span>Set your words in order before me, and stand forth.<br/></span>
  <span class="verse" title="Job 33:6" id="Job-33-6">Behold, I am toward God even as you are.<br/> <span class="indent">&nbsp;&nbsp;</span>I am also formed out of the clay.<br/></span>
  <span class="verse" title="Job 33:7" id="Job-33-7">Behold, my terror shall not make you afraid,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall my pressure be heavy on you.<br/>   <br/></span>
  <span class="verse" title="Job 33:8" id="Job-33-8">&#8220;Surely you have spoken in my hearing,<br/> <span class="indent">&nbsp;&nbsp;</span>I have heard the voice of your words, saying,<br/></span>
  <span class="verse" title="Job 33:9" id="Job-33-9">&#8216;I am clean, without disobedience.<br/> <span class="indent">&nbsp;&nbsp;</span>I am innocent, neither is there iniquity in me.<br/></span>
  <span class="verse" title="Job 33:10" id="Job-33-10">Behold, he finds occasions against me.<br/> <span class="indent">&nbsp;&nbsp;</span>He counts me for his enemy.<br/></span>
  <span class="verse" title="Job 33:11" id="Job-33-11">He puts my feet in the stocks.<br/> <span class="indent">&nbsp;&nbsp;</span>He marks all my paths.&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 33:12" id="Job-33-12">&#8220;Behold, I will answer you. In this you are not just,<br/> <span class="indent">&nbsp;&nbsp;</span>for God is greater than man.<br/></span>
  <span class="verse" title="Job 33:13" id="Job-33-13">Why do you strive against him,<br/> <span class="indent">&nbsp;&nbsp;</span>because he doesn&#8217;t give account of any of his matters?<br/></span>
  <span class="verse" title="Job 33:14" id="Job-33-14">For God speaks once,<br/> <span class="indent">&nbsp;&nbsp;</span>yes twice, though man pays no attention.<br/></span>
  <span class="verse" title="Job 33:15" id="Job-33-15">In a dream, in a vision of the night,<br/> <span class="indent">&nbsp;&nbsp;</span>when deep sleep falls on men,<br/> <span class="indent">&nbsp;&nbsp;</span>in slumbering on the bed;<br/></span>
  <span class="verse" title="Job 33:16" id="Job-33-16">Then he opens the ears of men,<br/> <span class="indent">&nbsp;&nbsp;</span>and seals their instruction,<br/></span>
  <span class="verse" title="Job 33:17" id="Job-33-17">That he may withdraw man from his purpose,<br/> <span class="indent">&nbsp;&nbsp;</span>and hide pride from man.<br/></span>
  <span class="verse" title="Job 33:18" id="Job-33-18">He keeps back his soul from the pit,<br/> <span class="indent">&nbsp;&nbsp;</span>and his life from perishing by the sword.<br/></span>
  <span class="verse" title="Job 33:19" id="Job-33-19">He is chastened also with pain on his bed,<br/> <span class="indent">&nbsp;&nbsp;</span>with continual strife in his bones;<br/></span>
  <span class="verse" title="Job 33:20" id="Job-33-20">So that his life abhors bread,<br/> <span class="indent">&nbsp;&nbsp;</span>and his soul dainty food.<br/></span>
  <span class="verse" title="Job 33:21" id="Job-33-21">His flesh is so consumed away, that it can&#8217;t be seen.<br/> <span class="indent">&nbsp;&nbsp;</span>His bones that were not seen stick out.<br/></span>
  <span class="verse" title="Job 33:22" id="Job-33-22">Yes, his soul draws near to the pit,<br/> <span class="indent">&nbsp;&nbsp;</span>and his life to the destroyers.<br/>   <br/></span>
  <span class="verse" title="Job 33:23" id="Job-33-23">&#8220;If there is beside him an angel,<br/> <span class="indent">&nbsp;&nbsp;</span>an interpreter, one among a thousand,<br/> <span class="indent">&nbsp;&nbsp;</span>to show to man what is right for him;<br/></span>
  <span class="verse" title="Job 33:24" id="Job-33-24">then God is gracious to him, and says,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;Deliver him from going down to the pit,<br/> <span class="indent">&nbsp;&nbsp;</span>I have found a ransom.&#8217;<br/></span>
  <span class="verse" title="Job 33:25" id="Job-33-25">His flesh shall be fresher than a child&#8217;s.<br/> <span class="indent">&nbsp;&nbsp;</span>He returns to the days of his youth.<br/></span>
  <span class="verse" title="Job 33:26" id="Job-33-26">He prays to God, and he is favorable to him,<br/> <span class="indent">&nbsp;&nbsp;</span>so that he sees his face with joy.<br/> <span class="indent">&nbsp;&nbsp;</span>He restores to man his righteousness.<br/></span>
  <span class="verse" title="Job 33:27" id="Job-33-27">He sings before men, and says,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;I have sinned, and perverted that which was right,<br/> <span class="indent">&nbsp;&nbsp;</span>and it didn&#8217;t profit me.<br/></span>
  <span class="verse" title="Job 33:28" id="Job-33-28">He has redeemed my soul from going into the pit.<br/> <span class="indent">&nbsp;&nbsp;</span>My life shall see the light.&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 33:29" id="Job-33-29">&#8220;Behold, God works all these things,<br/> <span class="indent">&nbsp;&nbsp;</span>twice, yes three times, with a man,<br/></span>
  <span class="verse" title="Job 33:30" id="Job-33-30">to bring back his soul from the pit,<br/> <span class="indent">&nbsp;&nbsp;</span>that he may be enlightened with the light of the living.<br/></span>
  <span class="verse" title="Job 33:31" id="Job-33-31">Mark well, Job, and listen to me.<br/> <span class="indent">&nbsp;&nbsp;</span>Hold your peace, and I will speak.<br/></span>
  <span class="verse" title="Job 33:32" id="Job-33-32">If you have anything to say, answer me.<br/> <span class="indent">&nbsp;&nbsp;</span>Speak, for I desire to justify you.<br/></span>
  <span class="verse" title="Job 33:33" id="Job-33-33">If not, listen to me.<br/> <span class="indent">&nbsp;&nbsp;</span>Hold your peace, and I will teach you wisdom.&#8221;<br/></span>
</div>