<div class="chapter" id="Job-034">
  <h2>Job 34</h2>
  <span class="verse" title="Job 34:1" id="Job-34-1">Moreover Elihu answered,</span>
  <span class="verse" title="Job 34:2" id="Job-34-2">&#8220;Hear my words, you wise men.<br/> <span class="indent">&nbsp;&nbsp;</span>Give ear to me, you who have knowledge.<br/></span>
  <span class="verse" title="Job 34:3" id="Job-34-3">For the ear tries words,<br/> <span class="indent">&nbsp;&nbsp;</span>as the palate tastes food.<br/></span>
  <span class="verse" title="Job 34:4" id="Job-34-4">Let us choose for us that which is right.<br/> <span class="indent">&nbsp;&nbsp;</span>Let us know among ourselves what is good.<br/></span>
  <span class="verse" title="Job 34:5" id="Job-34-5">For Job has said, &#8216;I am righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>God has taken away my right:<br/></span>
  <span class="verse" title="Job 34:6" id="Job-34-6">Notwithstanding my right I am considered a liar.<br/> <span class="indent">&nbsp;&nbsp;</span>My wound is incurable, though I am without disobedience.&#8217;<br/></span>
  <span class="verse" title="Job 34:7" id="Job-34-7">What man is like Job,<br/> <span class="indent">&nbsp;&nbsp;</span>who drinks scorn like water,<br/></span>
  <span class="verse" title="Job 34:8" id="Job-34-8">Who goes in company with the workers of iniquity,<br/> <span class="indent">&nbsp;&nbsp;</span>and walks with wicked men?<br/></span>
  <span class="verse" title="Job 34:9" id="Job-34-9">For he has said, &#8216;It profits a man nothing<br/> <span class="indent">&nbsp;&nbsp;</span>that he should delight himself with God.&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 34:10" id="Job-34-10">&#8220;Therefore listen to me, you men of understanding:<br/> <span class="indent">&nbsp;&nbsp;</span>far be it from God, that he should do wickedness,<br/> <span class="indent">&nbsp;&nbsp;</span>from the Almighty, that he should commit iniquity.<br/></span>
  <span class="verse" title="Job 34:11" id="Job-34-11">For the work of a man he will render to him,<br/> <span class="indent">&nbsp;&nbsp;</span>and cause every man to find according to his ways.<br/></span>
  <span class="verse" title="Job 34:12" id="Job-34-12">Yes surely, God will not do wickedly,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will the Almighty pervert justice.<br/></span>
  <span class="verse" title="Job 34:13" id="Job-34-13">Who put him in charge of the earth?<br/> <span class="indent">&nbsp;&nbsp;</span>or who has appointed him over the whole world?<br/></span>
  <span class="verse" title="Job 34:14" id="Job-34-14">If he set his heart on himself,<br/> <span class="indent">&nbsp;&nbsp;</span>If he gathered to himself his spirit and his breath,<br/></span>
  <span class="verse" title="Job 34:15" id="Job-34-15">all flesh would perish together,<br/> <span class="indent">&nbsp;&nbsp;</span>and man would turn again to dust.<br/>   <br/></span>
  <span class="verse" title="Job 34:16" id="Job-34-16">&#8220;If now you have understanding, hear this.<br/> <span class="indent">&nbsp;&nbsp;</span>Listen to the voice of my words.<br/></span>
  <span class="verse" title="Job 34:17" id="Job-34-17">Shall even one who hates justice govern?<br/> <span class="indent">&nbsp;&nbsp;</span>Will you condemn him who is righteous and mighty?—<br/></span>
  <span class="verse" title="Job 34:18" id="Job-34-18">Who says to a king, &#8216;Vile!&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>or to nobles, &#8216;Wicked!&#8217;?<br/></span>
  <span class="verse" title="Job 34:19" id="Job-34-19">Who doesn&#8217;t respect the persons of princes,<br/> <span class="indent">&nbsp;&nbsp;</span>nor respects the rich more than the poor;<br/> <span class="indent">&nbsp;&nbsp;</span>for they all are the work of his hands.<br/></span>
  <span class="verse" title="Job 34:20" id="Job-34-20">In a moment they die, even at midnight.<br/> <span class="indent">&nbsp;&nbsp;</span>The people are shaken and pass away.<br/> <span class="indent">&nbsp;&nbsp;</span>The mighty are taken away without a hand.<br/>   <br/></span>
  <span class="verse" title="Job 34:21" id="Job-34-21">&#8220;For his eyes are on the ways of a man.<br/> <span class="indent">&nbsp;&nbsp;</span>He sees all his goings.<br/></span>
  <span class="verse" title="Job 34:22" id="Job-34-22">There is no darkness, nor thick gloom,<br/> <span class="indent">&nbsp;&nbsp;</span>where the workers of iniquity may hide themselves.<br/></span>
  <span class="verse" title="Job 34:23" id="Job-34-23">For he doesn&#8217;t need to consider a man further,<br/> <span class="indent">&nbsp;&nbsp;</span>that he should go before God in judgment.<br/></span>
  <span class="verse" title="Job 34:24" id="Job-34-24">He breaks in pieces mighty men in ways past finding out,<br/> <span class="indent">&nbsp;&nbsp;</span>and sets others in their place.<br/></span>
  <span class="verse" title="Job 34:25" id="Job-34-25">Therefore he takes knowledge of their works.<br/> <span class="indent">&nbsp;&nbsp;</span>He overturns them in the night, so that they are destroyed.<br/></span>
  <span class="verse" title="Job 34:26" id="Job-34-26">He strikes them as wicked men<br/> <span class="indent">&nbsp;&nbsp;</span>in the open sight of others;<br/></span>
  <span class="verse" title="Job 34:27" id="Job-34-27">because they turned aside from following him,<br/> <span class="indent">&nbsp;&nbsp;</span>and wouldn&#8217;t pay attention to any of his ways,<br/></span>
  <span class="verse" title="Job 34:28" id="Job-34-28">so that they caused the cry of the poor to come to him.<br/> <span class="indent">&nbsp;&nbsp;</span>He heard the cry of the afflicted.<br/></span>
  <span class="verse" title="Job 34:29" id="Job-34-29">When he gives quietness, who then can condemn?<br/> <span class="indent">&nbsp;&nbsp;</span>When he hides his face, who then can see him?<br/> <span class="indent">&nbsp;&nbsp;</span>Alike whether to a nation, or to a man,<br/></span>
  <span class="verse" title="Job 34:30" id="Job-34-30">that the godless man may not reign,<br/> <span class="indent">&nbsp;&nbsp;</span>that there be no one to ensnare the people.<br/>   <br/></span>
  <span class="verse" title="Job 34:31" id="Job-34-31">&#8220;For has any said to God,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;I am guilty, but I will not offend any more.<br/></span>
  <span class="verse" title="Job 34:32" id="Job-34-32">Teach me that which I don&#8217;t see.<br/> <span class="indent">&nbsp;&nbsp;</span>If I have done iniquity, I will do it no more&#8217;?<br/></span>
  <span class="verse" title="Job 34:33" id="Job-34-33">Shall his recompense be as you desire, that you refuse it?<br/> <span class="indent">&nbsp;&nbsp;</span>For you must choose, and not I.<br/> <span class="indent">&nbsp;&nbsp;</span>Therefore speak what you know.<br/></span>
  <span class="verse" title="Job 34:34" id="Job-34-34">Men of understanding will tell me,<br/> <span class="indent">&nbsp;&nbsp;</span>yes, every wise man who hears me:<br/></span>
  <span class="verse" title="Job 34:35" id="Job-34-35">&#8216;Job speaks without knowledge.<br/> <span class="indent">&nbsp;&nbsp;</span>His words are without wisdom.&#8217;<br/></span>
  <span class="verse" title="Job 34:36" id="Job-34-36">I wish that Job were tried to the end,<br/> <span class="indent">&nbsp;&nbsp;</span>because of his answering like wicked men.<br/></span>
  <span class="verse" title="Job 34:37" id="Job-34-37">For he adds rebellion to his sin.<br/> <span class="indent">&nbsp;&nbsp;</span>He claps his hands among us,<br/> <span class="indent">&nbsp;&nbsp;</span>and multiplies his words against God.&#8221;<br/></span>
</div>