<div class="chapter" id="Job-035">
  <h2>Job 35</h2>
  <span class="verse" title="Job 35:1" id="Job-35-1">Moreover Elihu answered,</span>
  <span class="verse" title="Job 35:2" id="Job-35-2">&#8220;Do you think this to be your right,<br/> <span class="indent">&nbsp;&nbsp;</span>or do you say, &#8216;My righteousness is more than God&#8217;s,&#8217;<br/></span>
  <span class="verse" title="Job 35:3" id="Job-35-3">That you ask, &#8216;What advantage will it be to you?<br/> <span class="indent">&nbsp;&nbsp;</span>What profit shall I have, more than if I had sinned?&#8217;<br/></span>
  <span class="verse" title="Job 35:4" id="Job-35-4">I will answer you,<br/> <span class="indent">&nbsp;&nbsp;</span>and your companions with you.<br/></span>
  <span class="verse" title="Job 35:5" id="Job-35-5">Look to the heavens, and see.<br/> <span class="indent">&nbsp;&nbsp;</span>See the skies, which are higher than you.<br/></span>
  <span class="verse" title="Job 35:6" id="Job-35-6">If you have sinned, what effect do you have against him?<br/> <span class="indent">&nbsp;&nbsp;</span>If your transgressions are multiplied, what do you do to him?<br/></span>
  <span class="verse" title="Job 35:7" id="Job-35-7">If you are righteous, what do you give him?<br/> <span class="indent">&nbsp;&nbsp;</span>Or what does he receive from your hand?<br/></span>
  <span class="verse" title="Job 35:8" id="Job-35-8">Your wickedness may hurt a man as you are,<br/> <span class="indent">&nbsp;&nbsp;</span>and your righteousness may profit a son of man.<br/>   <br/></span>
  <span class="verse" title="Job 35:9" id="Job-35-9">&#8220;By reason of the multitude of oppressions they cry out.<br/> <span class="indent">&nbsp;&nbsp;</span>They cry for help by reason of the arm of the mighty.<br/></span>
  <span class="verse" title="Job 35:10" id="Job-35-10">But none says, &#8216;Where is God my Maker,<br/> <span class="indent">&nbsp;&nbsp;</span>who gives songs in the night,<br/></span>
  <span class="verse" title="Job 35:11" id="Job-35-11">who teaches us more than the animals of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and makes us wiser than the birds of the sky?&#8217;<br/></span>
  <span class="verse" title="Job 35:12" id="Job-35-12">There they cry, but none gives answer,<br/> <span class="indent">&nbsp;&nbsp;</span>because of the pride of evil men.<br/></span>
  <span class="verse" title="Job 35:13" id="Job-35-13">Surely God will not hear an empty cry,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will the Almighty regard it.<br/></span>
  <span class="verse" title="Job 35:14" id="Job-35-14">How much less when you say you don&#8217;t see him.<br/> <span class="indent">&nbsp;&nbsp;</span>The cause is before him, and you wait for him!<br/></span>
  <span class="verse" title="Job 35:15" id="Job-35-15">But now, because he has not visited in his anger,<br/> <span class="indent">&nbsp;&nbsp;</span>neither does he greatly regard arrogance.<br/></span>
  <span class="verse" title="Job 35:16" id="Job-35-16">Therefore Job opens his mouth with empty talk,<br/> <span class="indent">&nbsp;&nbsp;</span>and he multiplies words without knowledge.&#8221;<br/></span>
</div>