<div class="chapter" id="Job-036">
  <h2>Job 36</h2>
  <span class="verse" title="Job 36:1" id="Job-36-1">Elihu also continued, and said,</span>
  <span class="verse" title="Job 36:2" id="Job-36-2">&#8220;Bear with me a little, and I will show you;<br/> <span class="indent">&nbsp;&nbsp;</span>for I still have something to say on God&#8217;s behalf.<br/></span>
  <span class="verse" title="Job 36:3" id="Job-36-3">I will get my knowledge from afar,<br/> <span class="indent">&nbsp;&nbsp;</span>and will ascribe righteousness to my Maker.<br/></span>
  <span class="verse" title="Job 36:4" id="Job-36-4">For truly my words are not false.<br/> <span class="indent">&nbsp;&nbsp;</span>One who is perfect in knowledge is with you.<br/>   <br/></span>
  <span class="verse" title="Job 36:5" id="Job-36-5">&#8220;Behold, God is mighty, and doesn&#8217;t despise anyone.<br/> <span class="indent">&nbsp;&nbsp;</span>He is mighty in strength of understanding.<br/></span>
  <span class="verse" title="Job 36:6" id="Job-36-6">He doesn&#8217;t preserve the life of the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>but gives to the afflicted their right.<br/></span>
  <span class="verse" title="Job 36:7" id="Job-36-7">He doesn&#8217;t withdraw his eyes from the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>but with kings on the throne,<br/> <span class="indent">&nbsp;&nbsp;</span>he sets them forever, and they are exalted.<br/></span>
  <span class="verse" title="Job 36:8" id="Job-36-8">If they are bound in fetters,<br/> <span class="indent">&nbsp;&nbsp;</span>and are taken in the cords of afflictions,<br/></span>
  <span class="verse" title="Job 36:9" id="Job-36-9">then he shows them their work,<br/> <span class="indent">&nbsp;&nbsp;</span>and their transgressions, that they have behaved themselves proudly.<br/></span>
  <span class="verse" title="Job 36:10" id="Job-36-10">He also opens their ears to instruction,<br/> <span class="indent">&nbsp;&nbsp;</span>and commands that they return from iniquity.<br/></span>
  <span class="verse" title="Job 36:11" id="Job-36-11">If they listen and serve him,<br/> <span class="indent">&nbsp;&nbsp;</span>they shall spend their days in prosperity,<br/> <span class="indent">&nbsp;&nbsp;</span>and their years in pleasures.<br/></span>
  <span class="verse" title="Job 36:12" id="Job-36-12">But if they don&#8217;t listen, they shall perish by the sword;<br/> <span class="indent">&nbsp;&nbsp;</span>they shall die without knowledge.<br/>   <br/></span>
  <span class="verse" title="Job 36:13" id="Job-36-13">&#8220;But those who are godless in heart lay up anger.<br/> <span class="indent">&nbsp;&nbsp;</span>They don&#8217;t cry for help when he binds them.<br/></span>
  <span class="verse" title="Job 36:14" id="Job-36-14">They die in youth.<br/> <span class="indent">&nbsp;&nbsp;</span>Their life perishes among the unclean.<br/></span>
  <span class="verse" title="Job 36:15" id="Job-36-15">He delivers the afflicted by their affliction,<br/> <span class="indent">&nbsp;&nbsp;</span>and opens their ear in oppression.<br/></span>
  <span class="verse" title="Job 36:16" id="Job-36-16">Yes, he would have allured you out of distress,<br/> <span class="indent">&nbsp;&nbsp;</span>into a broad place, where there is no restriction.<br/> <span class="indent">&nbsp;&nbsp;</span>That which is set on your table would be full of fatness.<br/>   <br/></span>
  <span class="verse" title="Job 36:17" id="Job-36-17">&#8220;But you are full of the judgment of the wicked.<br/> <span class="indent">&nbsp;&nbsp;</span>Judgment and justice take hold of you.<br/></span>
  <span class="verse" title="Job 36:18" id="Job-36-18">Don&#8217;t let riches entice you to wrath,<br/> <span class="indent">&nbsp;&nbsp;</span>neither let the great size of a bribe turn you aside.<br/></span>
  <span class="verse" title="Job 36:19" id="Job-36-19">Would your wealth sustain you in distress,<br/> <span class="indent">&nbsp;&nbsp;</span>or all the might of your strength?<br/></span>
  <span class="verse" title="Job 36:20" id="Job-36-20">Don&#8217;t desire the night,<br/> <span class="indent">&nbsp;&nbsp;</span>when people are cut off in their place.<br/></span>
  <span class="verse" title="Job 36:21" id="Job-36-21">Take heed, don&#8217;t regard iniquity;<br/> <span class="indent">&nbsp;&nbsp;</span>for you have chosen this rather than affliction.<br/></span>
  <span class="verse" title="Job 36:22" id="Job-36-22">Behold, God is exalted in his power.<br/> <span class="indent">&nbsp;&nbsp;</span>Who is a teacher like him?<br/></span>
  <span class="verse" title="Job 36:23" id="Job-36-23">Who has prescribed his way for him?<br/> <span class="indent">&nbsp;&nbsp;</span>Or who can say, &#8216;You have committed unrighteousness?&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 36:24" id="Job-36-24">&#8220;Remember that you magnify his work,<br/> <span class="indent">&nbsp;&nbsp;</span>whereof men have sung.<br/></span>
  <span class="verse" title="Job 36:25" id="Job-36-25">All men have looked thereon.<br/> <span class="indent">&nbsp;&nbsp;</span>Man sees it afar off.<br/></span>
  <span class="verse" title="Job 36:26" id="Job-36-26">Behold, God is great, and we don&#8217;t know him.<br/> <span class="indent">&nbsp;&nbsp;</span>The number of his years is unsearchable.<br/></span>
  <span class="verse" title="Job 36:27" id="Job-36-27">For he draws up the drops of water,<br/> <span class="indent">&nbsp;&nbsp;</span>which distill in rain from his vapor,<br/></span>
  <span class="verse" title="Job 36:28" id="Job-36-28">Which the skies pour down<br/> <span class="indent">&nbsp;&nbsp;</span>and which drop on man abundantly.<br/></span>
  <span class="verse" title="Job 36:29" id="Job-36-29">Yes, can any understand the spreading of the clouds,<br/> <span class="indent">&nbsp;&nbsp;</span>and the thunderings of his pavilion?<br/></span>
  <span class="verse" title="Job 36:30" id="Job-36-30">Behold, he spreads his light around him.<br/> <span class="indent">&nbsp;&nbsp;</span>He covers the bottom of the sea.<br/></span>
  <span class="verse" title="Job 36:31" id="Job-36-31">For by these he judges the people.<br/> <span class="indent">&nbsp;&nbsp;</span>He gives food in abundance.<br/></span>
  <span class="verse" title="Job 36:32" id="Job-36-32">He covers his hands with the lightning,<br/> <span class="indent">&nbsp;&nbsp;</span>and commands it to strike the mark.<br/></span>
  <span class="verse" title="Job 36:33" id="Job-36-33">Its noise tells about him,<br/> <span class="indent">&nbsp;&nbsp;</span>and the livestock also concerning the storm that comes up.<br/>   <br/></span>
</div>