<div class="chapter" id="Job-037">
  <h2>Job 37</h2>
  <span class="verse" title="Job 37:1" id="Job-37-1">&#8220;Yes, at this my heart trembles,<br/> <span class="indent">&nbsp;&nbsp;</span>and is moved out of its place.<br/></span>
  <span class="verse" title="Job 37:2" id="Job-37-2">Hear, oh, hear the noise of his voice,<br/> <span class="indent">&nbsp;&nbsp;</span>the sound that goes out of his mouth.<br/></span>
  <span class="verse" title="Job 37:3" id="Job-37-3">He sends it forth under the whole sky,<br/> <span class="indent">&nbsp;&nbsp;</span>and his lightning to the ends of the earth.<br/></span>
  <span class="verse" title="Job 37:4" id="Job-37-4">After it a voice roars.<br/> <span class="indent">&nbsp;&nbsp;</span>He thunders with the voice of his majesty.<br/> <span class="indent">&nbsp;&nbsp;</span>He doesn&#8217;t hold back anything when his voice is heard.<br/></span>
  <span class="verse" title="Job 37:5" id="Job-37-5">God thunders marvelously with his voice.<br/> <span class="indent">&nbsp;&nbsp;</span>He does great things, which we can&#8217;t comprehend.<br/></span>
  <span class="verse" title="Job 37:6" id="Job-37-6">For he says to the snow, &#8216;Fall on the earth;&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>likewise to the shower of rain,<br/> <span class="indent">&nbsp;&nbsp;</span>and to the showers of his mighty rain.<br/></span>
  <span class="verse" title="Job 37:7" id="Job-37-7">He seals up the hand of every man,<br/> <span class="indent">&nbsp;&nbsp;</span>that all men whom he has made may know it.<br/></span>
  <span class="verse" title="Job 37:8" id="Job-37-8">Then the animals take cover,<br/> <span class="indent">&nbsp;&nbsp;</span>and remain in their dens.<br/></span>
  <span class="verse" title="Job 37:9" id="Job-37-9">Out of its room comes the storm,<br/> <span class="indent">&nbsp;&nbsp;</span>and cold out of the north.<br/></span>
  <span class="verse" title="Job 37:10" id="Job-37-10">By the breath of God, ice is given,<br/> <span class="indent">&nbsp;&nbsp;</span>and the breadth of the waters is frozen.<br/></span>
  <span class="verse" title="Job 37:11" id="Job-37-11">Yes, he loads the thick cloud with moisture.<br/> <span class="indent">&nbsp;&nbsp;</span>He spreads abroad the cloud of his lightning.<br/></span>
  <span class="verse" title="Job 37:12" id="Job-37-12">It is turned around by his guidance,<br/> <span class="indent">&nbsp;&nbsp;</span>that they may do whatever he commands them<br/> <span class="indent">&nbsp;&nbsp;</span>on the surface of the habitable world,<br/></span>
  <span class="verse" title="Job 37:13" id="Job-37-13">Whether it is for correction, or for his land,<br/> <span class="indent">&nbsp;&nbsp;</span>or for loving kindness, that he causes it to come.<br/>   <br/></span>
  <span class="verse" title="Job 37:14" id="Job-37-14">&#8220;Listen to this, Job.<br/> <span class="indent">&nbsp;&nbsp;</span>Stand still, and consider the wondrous works of God.<br/></span>
  <span class="verse" title="Job 37:15" id="Job-37-15">Do you know how God controls them,<br/> <span class="indent">&nbsp;&nbsp;</span>and causes the lightning of his cloud to shine?<br/></span>
  <span class="verse" title="Job 37:16" id="Job-37-16">Do you know the workings of the clouds,<br/> <span class="indent">&nbsp;&nbsp;</span>the wondrous works of him who is perfect in knowledge?<br/></span>
  <span class="verse" title="Job 37:17" id="Job-37-17">You whose clothing is warm,<br/> <span class="indent">&nbsp;&nbsp;</span>when the earth is still by reason of the south wind?<br/></span>
  <span class="verse" title="Job 37:18" id="Job-37-18">Can you, with him, spread out the sky,<br/> <span class="indent">&nbsp;&nbsp;</span>which is strong as a cast metal mirror?<br/></span>
  <span class="verse" title="Job 37:19" id="Job-37-19">Teach us what we shall tell him,<br/> <span class="indent">&nbsp;&nbsp;</span>for we can&#8217;t make our case by reason of darkness.<br/></span>
  <span class="verse" title="Job 37:20" id="Job-37-20">Shall it be told him that I would speak?<br/> <span class="indent">&nbsp;&nbsp;</span>Or should a man wish that he were swallowed up?<br/></span>
  <span class="verse" title="Job 37:21" id="Job-37-21">Now men don&#8217;t see the light which is bright in the skies,<br/> <span class="indent">&nbsp;&nbsp;</span>but the wind passes, and clears them.<br/></span>
  <span class="verse" title="Job 37:22" id="Job-37-22">Out of the north comes golden splendor.<br/> <span class="indent">&nbsp;&nbsp;</span>With God is awesome majesty.<br/></span>
  <span class="verse" title="Job 37:23" id="Job-37-23">We can&#8217;t reach the Almighty.<br/> <span class="indent">&nbsp;&nbsp;</span>He is exalted in power.<br/> <span class="indent">&nbsp;&nbsp;</span>In justice and great righteousness, he will not oppress.<br/></span>
  <span class="verse" title="Job 37:24" id="Job-37-24">Therefore men revere him.<br/> <span class="indent">&nbsp;&nbsp;</span>He doesn&#8217;t regard any who are wise of heart.&#8221;<br/></span>
</div>