<div class="chapter" id="Job-038">
  <h2>Job 38</h2>
  <span class="verse" title="Job 38:1" id="Job-38-1">Then Yahweh answered Job out of the whirlwind,</span>
  <span class="verse" title="Job 38:2" id="Job-38-2">&#8220;Who is this who darkens counsel<br/> <span class="indent">&nbsp;&nbsp;</span>by words without knowledge?<br/></span>
  <span class="verse" title="Job 38:3" id="Job-38-3">Brace yourself like a man,<br/> <span class="indent">&nbsp;&nbsp;</span>for I will question you, then you answer me!<br/>   <br/></span>
  <span class="verse" title="Job 38:4" id="Job-38-4">&#8220;Where were you when I laid the foundations of the earth?<br/> <span class="indent">&nbsp;&nbsp;</span>Declare, if you have understanding.<br/></span>
  <span class="verse" title="Job 38:5" id="Job-38-5">Who determined its measures, if you know?<br/> <span class="indent">&nbsp;&nbsp;</span>Or who stretched the line on it?<br/></span>
  <span class="verse" title="Job 38:6" id="Job-38-6">Whereupon were its foundations fastened?<br/> <span class="indent">&nbsp;&nbsp;</span>Or who laid its cornerstone,<br/></span>
  <span class="verse" title="Job 38:7" id="Job-38-7">when the morning stars sang together,<br/> <span class="indent">&nbsp;&nbsp;</span>and all the sons of God shouted for joy?<br/>   <br/></span>
  <span class="verse" title="Job 38:8" id="Job-38-8">&#8220;Or who shut up the sea with doors,<br/> <span class="indent">&nbsp;&nbsp;</span>when it broke forth from the womb,<br/></span>
  <span class="verse" title="Job 38:9" id="Job-38-9">when I made clouds its garment,<br/> <span class="indent">&nbsp;&nbsp;</span>and wrapped it in thick darkness,<br/></span>
  <span class="verse" title="Job 38:10" id="Job-38-10">marked out for it my bound,<br/> <span class="indent">&nbsp;&nbsp;</span>set bars and doors,<br/></span>
  <span class="verse" title="Job 38:11" id="Job-38-11">and said, &#8216;Here you may come, but no further.<br/> <span class="indent">&nbsp;&nbsp;</span>Here your proud waves shall be stayed?&#8217;<br/>   <br/></span>
  <span class="verse" title="Job 38:12" id="Job-38-12">&#8220;Have you commanded the morning in your days,<br/> <span class="indent">&nbsp;&nbsp;</span>and caused the dawn to know its place;<br/></span>
  <span class="verse" title="Job 38:13" id="Job-38-13">that it might take hold of the ends of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and shake the wicked out of it?<br/></span>
  <span class="verse" title="Job 38:14" id="Job-38-14">It is changed as clay under the seal,<br/> <span class="indent">&nbsp;&nbsp;</span>and stands forth as a garment.<br/></span>
  <span class="verse" title="Job 38:15" id="Job-38-15">From the wicked, their light is withheld.<br/> <span class="indent">&nbsp;&nbsp;</span>The high arm is broken.<br/>   <br/></span>
  <span class="verse" title="Job 38:16" id="Job-38-16">&#8220;Have you entered into the springs of the sea?<br/> <span class="indent">&nbsp;&nbsp;</span>Or have you walked in the recesses of the deep?<br/></span>
  <span class="verse" title="Job 38:17" id="Job-38-17">Have the gates of death been revealed to you?<br/> <span class="indent">&nbsp;&nbsp;</span>Or have you seen the gates of the shadow of death?<br/></span>
  <span class="verse" title="Job 38:18" id="Job-38-18">Have you comprehended the earth in its breadth?<br/> <span class="indent">&nbsp;&nbsp;</span>Declare, if you know it all.<br/>   <br/></span>
  <span class="verse" title="Job 38:19" id="Job-38-19">&#8220;What is the way to the dwelling of light?<br/> <span class="indent">&nbsp;&nbsp;</span>As for darkness, where is its place,<br/></span>
  <span class="verse" title="Job 38:20" id="Job-38-20">that you should take it to its bound,<br/> <span class="indent">&nbsp;&nbsp;</span>that you should discern the paths to its house?<br/></span>
  <span class="verse" title="Job 38:21" id="Job-38-21">Surely you know, for you were born then,<br/> <span class="indent">&nbsp;&nbsp;</span>and the number of your days is great!<br/></span>
  <span class="verse" title="Job 38:22" id="Job-38-22">Have you entered the treasuries of the snow,<br/> <span class="indent">&nbsp;&nbsp;</span>or have you seen the treasures of the hail,<br/></span>
  <span class="verse" title="Job 38:23" id="Job-38-23">which I have reserved against the time of trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>against the day of battle and war?<br/></span>
  <span class="verse" title="Job 38:24" id="Job-38-24">By what way is the lightning distributed,<br/> <span class="indent">&nbsp;&nbsp;</span>or the east wind scattered on the earth?<br/></span>
  <span class="verse" title="Job 38:25" id="Job-38-25">Who has cut a channel for the flood water,<br/> <span class="indent">&nbsp;&nbsp;</span>or the path for the thunderstorm;<br/></span>
  <span class="verse" title="Job 38:26" id="Job-38-26">To cause it to rain on a land where no man is;<br/> <span class="indent">&nbsp;&nbsp;</span>on the wilderness, in which there is no man;<br/></span>
  <span class="verse" title="Job 38:27" id="Job-38-27">to satisfy the waste and desolate ground,<br/> <span class="indent">&nbsp;&nbsp;</span>to cause the tender grass to spring forth?<br/></span>
  <span class="verse" title="Job 38:28" id="Job-38-28">Does the rain have a father?<br/> <span class="indent">&nbsp;&nbsp;</span>Or who fathers the drops of dew?<br/></span>
  <span class="verse" title="Job 38:29" id="Job-38-29">Out of whose womb came the ice?<br/> <span class="indent">&nbsp;&nbsp;</span>The gray frost of the sky, who has given birth to it?<br/></span>
  <span class="verse" title="Job 38:30" id="Job-38-30">The waters become hard like stone,<br/> <span class="indent">&nbsp;&nbsp;</span>when the surface of the deep is frozen.<br/>   <br/></span>
  <span class="verse" title="Job 38:31" id="Job-38-31">&#8220;Can you bind the cluster of the Pleiades,<br/> <span class="indent">&nbsp;&nbsp;</span>or loosen the cords of Orion?<br/></span>
  <span class="verse" title="Job 38:32" id="Job-38-32">Can you lead forth the constellations in their season?<br/> <span class="indent">&nbsp;&nbsp;</span>Or can you guide the Bear with her cubs?<br/></span>
  <span class="verse" title="Job 38:33" id="Job-38-33">Do you know the laws of the heavens?<br/> <span class="indent">&nbsp;&nbsp;</span>Can you establish its dominion over the earth?<br/>   <br/></span>
  <span class="verse" title="Job 38:34" id="Job-38-34">&#8220;Can you lift up your voice to the clouds,<br/> <span class="indent">&nbsp;&nbsp;</span>That abundance of waters may cover you?<br/></span>
  <span class="verse" title="Job 38:35" id="Job-38-35">Can you send forth lightnings, that they may go?<br/> <span class="indent">&nbsp;&nbsp;</span>Do they report to you, &#8216;Here we are?&#8217;<br/></span>
  <span class="verse" title="Job 38:36" id="Job-38-36">Who has put wisdom in the inward parts?<br/> <span class="indent">&nbsp;&nbsp;</span>Or who has given understanding to the mind?<br/></span>
  <span class="verse" title="Job 38:37" id="Job-38-37">Who can number the clouds by wisdom?<br/> <span class="indent">&nbsp;&nbsp;</span>Or who can pour out the bottles of the sky,<br/></span>
  <span class="verse" title="Job 38:38" id="Job-38-38">when the dust runs into a mass,<br/> <span class="indent">&nbsp;&nbsp;</span>and the clods of earth stick together?<br/>   <br/></span>
  <span class="verse" title="Job 38:39" id="Job-38-39">&#8220;Can you hunt the prey for the lioness,<br/> <span class="indent">&nbsp;&nbsp;</span>or satisfy the appetite of the young lions,<br/></span>
  <span class="verse" title="Job 38:40" id="Job-38-40">when they crouch in their dens,<br/> <span class="indent">&nbsp;&nbsp;</span>and lie in wait in the thicket?<br/></span>
  <span class="verse" title="Job 38:41" id="Job-38-41">Who provides for the raven his prey,<br/> <span class="indent">&nbsp;&nbsp;</span>when his young ones cry to God,<br/> <span class="indent">&nbsp;&nbsp;</span>and wander for lack of food?<br/>   <br/></span>
</div>