<div class="chapter" id="Job-039">
  <h2>Job 39</h2>
  <span class="verse" title="Job 39:1" id="Job-39-1">&#8220;Do you know the time when the mountain goats give birth?<br/> <span class="indent">&nbsp;&nbsp;</span>Do you watch when the doe bears fawns?<br/></span>
  <span class="verse" title="Job 39:2" id="Job-39-2">Can you number the months that they fulfill?<br/> <span class="indent">&nbsp;&nbsp;</span>Or do you know the time when they give birth?<br/></span>
  <span class="verse" title="Job 39:3" id="Job-39-3">They bow themselves, they bring forth their young,<br/> <span class="indent">&nbsp;&nbsp;</span>they end their labor pains.<br/></span>
  <span class="verse" title="Job 39:4" id="Job-39-4">Their young ones become strong.<br/> <span class="indent">&nbsp;&nbsp;</span>They grow up in the open field.<br/> <span class="indent">&nbsp;&nbsp;</span>They go forth, and don&#8217;t return again.<br/>   <br/></span>
  <span class="verse" title="Job 39:5" id="Job-39-5">&#8220;Who has set the wild donkey free?<br/> <span class="indent">&nbsp;&nbsp;</span>Or who has loosened the bonds of the swift donkey,<br/></span>
  <span class="verse" title="Job 39:6" id="Job-39-6">Whose home I have made the wilderness,<br/> <span class="indent">&nbsp;&nbsp;</span>and the salt land his dwelling place?<br/></span>
  <span class="verse" title="Job 39:7" id="Job-39-7">He scorns the tumult of the city,<br/> <span class="indent">&nbsp;&nbsp;</span>neither does he hear the shouting of the driver.<br/></span>
  <span class="verse" title="Job 39:8" id="Job-39-8">The range of the mountains is his pasture,<br/> <span class="indent">&nbsp;&nbsp;</span>He searches after every green thing.<br/>   <br/></span>
  <span class="verse" title="Job 39:9" id="Job-39-9">&#8220;Will the wild ox be content to serve you?<br/> <span class="indent">&nbsp;&nbsp;</span>Or will he stay by your feeding trough?<br/></span>
  <span class="verse" title="Job 39:10" id="Job-39-10">Can you hold the wild ox in the furrow with his harness?<br/> <span class="indent">&nbsp;&nbsp;</span>Or will he till the valleys after you?<br/></span>
  <span class="verse" title="Job 39:11" id="Job-39-11">Will you trust him, because his strength is great?<br/> <span class="indent">&nbsp;&nbsp;</span>Or will you leave to him your labor?<br/></span>
  <span class="verse" title="Job 39:12" id="Job-39-12">Will you confide in him, that he will bring home your seed,<br/> <span class="indent">&nbsp;&nbsp;</span>and gather the grain of your threshing floor?<br/>   <br/></span>
  <span class="verse" title="Job 39:13" id="Job-39-13">&#8220;The wings of the ostrich wave proudly;<br/> <span class="indent">&nbsp;&nbsp;</span>but are they the feathers and plumage of love?<br/></span>
  <span class="verse" title="Job 39:14" id="Job-39-14">For she leaves her eggs on the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>warms them in the dust,<br/></span>
  <span class="verse" title="Job 39:15" id="Job-39-15">and forgets that the foot may crush them,<br/> <span class="indent">&nbsp;&nbsp;</span>or that the wild animal may trample them.<br/></span>
  <span class="verse" title="Job 39:16" id="Job-39-16">She deals harshly with her young ones, as if they were not hers.<br/> <span class="indent">&nbsp;&nbsp;</span>Though her labor is in vain, she is without fear,<br/></span>
  <span class="verse" title="Job 39:17" id="Job-39-17">because God has deprived her of wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>neither has he imparted to her understanding.<br/></span>
  <span class="verse" title="Job 39:18" id="Job-39-18">When she lifts up herself on high,<br/> <span class="indent">&nbsp;&nbsp;</span>she scorns the horse and his rider.<br/>   <br/></span>
  <span class="verse" title="Job 39:19" id="Job-39-19">&#8220;Have you given the horse might?<br/> <span class="indent">&nbsp;&nbsp;</span>Have you clothed his neck with a quivering mane?<br/></span>
  <span class="verse" title="Job 39:20" id="Job-39-20">Have you made him to leap as a locust?<br/> <span class="indent">&nbsp;&nbsp;</span>The glory of his snorting is awesome.<br/></span>
  <span class="verse" title="Job 39:21" id="Job-39-21">He paws in the valley, and rejoices in his strength.<br/> <span class="indent">&nbsp;&nbsp;</span>He goes out to meet the armed men.<br/></span>
  <span class="verse" title="Job 39:22" id="Job-39-22">He mocks at fear, and is not dismayed,<br/> <span class="indent">&nbsp;&nbsp;</span>neither does he turn back from the sword.<br/></span>
  <span class="verse" title="Job 39:23" id="Job-39-23">The quiver rattles against him,<br/> <span class="indent">&nbsp;&nbsp;</span>the flashing spear and the javelin.<br/></span>
  <span class="verse" title="Job 39:24" id="Job-39-24">He eats up the ground with fierceness and rage,<br/> <span class="indent">&nbsp;&nbsp;</span>neither does he stand still at the sound of the trumpet.<br/></span>
  <span class="verse" title="Job 39:25" id="Job-39-25">As often as the trumpet sounds he snorts, &#8216;Aha!&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>He smells the battle afar off,<br/> <span class="indent">&nbsp;&nbsp;</span>the thunder of the captains, and the shouting.<br/>   <br/></span>
  <span class="verse" title="Job 39:26" id="Job-39-26">&#8220;Is it by your wisdom that the hawk soars,<br/> <span class="indent">&nbsp;&nbsp;</span>and stretches her wings toward the south?<br/></span>
  <span class="verse" title="Job 39:27" id="Job-39-27">Is it at your command that the eagle mounts up,<br/> <span class="indent">&nbsp;&nbsp;</span>and makes his nest on high?<br/></span>
  <span class="verse" title="Job 39:28" id="Job-39-28">On the cliff he dwells, and makes his home,<br/> <span class="indent">&nbsp;&nbsp;</span>on the point of the cliff, and the stronghold.<br/></span>
  <span class="verse" title="Job 39:29" id="Job-39-29">From there he spies out the prey.<br/> <span class="indent">&nbsp;&nbsp;</span>His eyes see it afar off.<br/></span>
  <span class="verse" title="Job 39:30" id="Job-39-30">His young ones also suck up blood.<br/> <span class="indent">&nbsp;&nbsp;</span>Where the slain are, there he is.&#8221;<br/></span>
</div>