<div class="chapter" id="Job-040">
  <h2>Job 40</h2>
  <span class="verse" title="Job 40:1" id="Job-40-1">Moreover Yahweh answered Job,</span>
  <span class="verse" title="Job 40:2" id="Job-40-2">&#8220;Shall he who argues contend with the Almighty?<br/> <span class="indent">&nbsp;&nbsp;</span>He who argues with God, let him answer it.&#8221;<br/></span>
  <span class="verse" title="Job 40:3" id="Job-40-3">Then Job answered Yahweh,</span>
  <span class="verse" title="Job 40:4" id="Job-40-4">&#8220;Behold, I am of small account. What shall I answer you?<br/> <span class="indent">&nbsp;&nbsp;</span>I lay my hand on my mouth.<br/></span>
  <span class="verse" title="Job 40:5" id="Job-40-5">I have spoken once, and I will not answer;<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, twice, but I will proceed no further.&#8221;<br/></span>
  <span class="verse" title="Job 40:6" id="Job-40-6">Then Yahweh answered Job out of the whirlwind,</span>
  <span class="verse" title="Job 40:7" id="Job-40-7">&#8220;Now brace yourself like a man.<br/> <span class="indent">&nbsp;&nbsp;</span>I will question you, and you will answer me.<br/></span>
  <span class="verse" title="Job 40:8" id="Job-40-8">Will you even annul my judgment?<br/> <span class="indent">&nbsp;&nbsp;</span>Will you condemn me, that you may be justified?<br/></span>
  <span class="verse" title="Job 40:9" id="Job-40-9">Or do you have an arm like God?<br/> <span class="indent">&nbsp;&nbsp;</span>Can you thunder with a voice like him?<br/>   <br/></span>
  <span class="verse" title="Job 40:10" id="Job-40-10">&#8220;Now deck yourself with excellency and dignity.<br/> <span class="indent">&nbsp;&nbsp;</span>Array yourself with honor and majesty.<br/></span>
  <span class="verse" title="Job 40:11" id="Job-40-11">Pour out the fury of your anger.<br/> <span class="indent">&nbsp;&nbsp;</span>Look at everyone who is proud, and bring him low.<br/></span>
  <span class="verse" title="Job 40:12" id="Job-40-12">Look at everyone who is proud, and humble him.<br/> <span class="indent">&nbsp;&nbsp;</span>Crush the wicked in their place.<br/></span>
  <span class="verse" title="Job 40:13" id="Job-40-13">Hide them in the dust together.<br/> <span class="indent">&nbsp;&nbsp;</span>Bind their faces in the hidden place.<br/></span>
  <span class="verse" title="Job 40:14" id="Job-40-14">Then I will also admit to you<br/> <span class="indent">&nbsp;&nbsp;</span>that your own right hand can save you.<br/>   <br/></span>
  <span class="verse" title="Job 40:15" id="Job-40-15">&#8220;See now, behemoth, which I made as well as you.<br/> <span class="indent">&nbsp;&nbsp;</span>He eats grass as an ox.<br/></span>
  <span class="verse" title="Job 40:16" id="Job-40-16">Look now, his strength is in his thighs.<br/> <span class="indent">&nbsp;&nbsp;</span>His force is in the muscles of his belly.<br/></span>
  <span class="verse" title="Job 40:17" id="Job-40-17">He moves his tail like a cedar.<br/> <span class="indent">&nbsp;&nbsp;</span>The sinews of his thighs are knit together.<br/></span>
  <span class="verse" title="Job 40:18" id="Job-40-18">His bones are like tubes of brass.<br/> <span class="indent">&nbsp;&nbsp;</span>His limbs are like bars of iron.<br/></span>
  <span class="verse" title="Job 40:19" id="Job-40-19">He is the chief of the ways of God.<br/> <span class="indent">&nbsp;&nbsp;</span>He who made him gives him his sword.<br/></span>
  <span class="verse" title="Job 40:20" id="Job-40-20">Surely the mountains produce food for him,<br/> <span class="indent">&nbsp;&nbsp;</span>where all the animals of the field play.<br/></span>
  <span class="verse" title="Job 40:21" id="Job-40-21">He lies under the lotus trees,<br/> <span class="indent">&nbsp;&nbsp;</span>in the covert of the reed, and the marsh.<br/></span>
  <span class="verse" title="Job 40:22" id="Job-40-22">The lotuses cover him with their shade.<br/> <span class="indent">&nbsp;&nbsp;</span>The willows of the brook surround him.<br/></span>
  <span class="verse" title="Job 40:23" id="Job-40-23">Behold, if a river overflows, he doesn&#8217;t tremble.<br/> <span class="indent">&nbsp;&nbsp;</span>He is confident, though the Jordan swells even to his mouth.<br/></span>
  <span class="verse" title="Job 40:24" id="Job-40-24">Shall any take him when he is on the watch,<br/> <span class="indent">&nbsp;&nbsp;</span>or pierce through his nose with a snare?<br/>   <br/></span>
</div>