<div class="chapter" id="Job-041">
  <h2>Job 41</h2>
  <span class="verse" title="Job 41:1" id="Job-41-1">&#8220;Can you draw out Leviathan with a fishhook,<br/> <span class="indent">&nbsp;&nbsp;</span>or press down his tongue with a cord?<br/></span>
  <span class="verse" title="Job 41:2" id="Job-41-2">Can you put a rope into his nose,<br/> <span class="indent">&nbsp;&nbsp;</span>or pierce his jaw through with a hook?<br/></span>
  <span class="verse" title="Job 41:3" id="Job-41-3">Will he make many petitions to you,<br/> <span class="indent">&nbsp;&nbsp;</span>or will he speak soft words to you?<br/></span>
  <span class="verse" title="Job 41:4" id="Job-41-4">Will he make a covenant with you,<br/> <span class="indent">&nbsp;&nbsp;</span>that you should take him for a servant forever?<br/></span>
  <span class="verse" title="Job 41:5" id="Job-41-5">Will you play with him as with a bird?<br/> <span class="indent">&nbsp;&nbsp;</span>Or will you bind him for your girls?<br/></span>
  <span class="verse" title="Job 41:6" id="Job-41-6">Will traders barter for him?<br/> <span class="indent">&nbsp;&nbsp;</span>Will they part him among the merchants?<br/></span>
  <span class="verse" title="Job 41:7" id="Job-41-7">Can you fill his skin with barbed irons,<br/> <span class="indent">&nbsp;&nbsp;</span>or his head with fish spears?<br/></span>
  <span class="verse" title="Job 41:8" id="Job-41-8">Lay your hand on him.<br/> <span class="indent">&nbsp;&nbsp;</span>Remember the battle, and do so no more.<br/></span>
  <span class="verse" title="Job 41:9" id="Job-41-9">Behold, the hope of him is in vain.<br/> <span class="indent">&nbsp;&nbsp;</span>Won&#8217;t one be cast down even at the sight of him?<br/></span>
  <span class="verse" title="Job 41:10" id="Job-41-10">None is so fierce that he dare stir him up.<br/> <span class="indent">&nbsp;&nbsp;</span>Who then is he who can stand before me?<br/></span>
  <span class="verse" title="Job 41:11" id="Job-41-11">Who has first given to me, that I should repay him?<br/> <span class="indent">&nbsp;&nbsp;</span>Everything under the heavens is mine.<br/>   <br/></span>
  <span class="verse" title="Job 41:12" id="Job-41-12">&#8220;I will not keep silence concerning his limbs,<br/> <span class="indent">&nbsp;&nbsp;</span>nor his mighty strength, nor his goodly frame.<br/></span>
  <span class="verse" title="Job 41:13" id="Job-41-13">Who can strip off his outer garment?<br/> <span class="indent">&nbsp;&nbsp;</span>Who shall come within his jaws?<br/></span>
  <span class="verse" title="Job 41:14" id="Job-41-14">Who can open the doors of his face?<br/> <span class="indent">&nbsp;&nbsp;</span>Around his teeth is terror.<br/></span>
  <span class="verse" title="Job 41:15" id="Job-41-15">Strong scales are his pride,<br/> <span class="indent">&nbsp;&nbsp;</span>shut up together with a close seal.<br/></span>
  <span class="verse" title="Job 41:16" id="Job-41-16">One is so near to another,<br/> <span class="indent">&nbsp;&nbsp;</span>that no air can come between them.<br/></span>
  <span class="verse" title="Job 41:17" id="Job-41-17">They are joined one to another.<br/> <span class="indent">&nbsp;&nbsp;</span>They stick together, so that they can&#8217;t be pulled apart.<br/></span>
  <span class="verse" title="Job 41:18" id="Job-41-18">His sneezing flashes out light.<br/> <span class="indent">&nbsp;&nbsp;</span>His eyes are like the eyelids of the morning.<br/></span>
  <span class="verse" title="Job 41:19" id="Job-41-19">Out of his mouth go burning torches.<br/> <span class="indent">&nbsp;&nbsp;</span>Sparks of fire leap forth.<br/></span>
  <span class="verse" title="Job 41:20" id="Job-41-20">Out of his nostrils a smoke goes,<br/> <span class="indent">&nbsp;&nbsp;</span>as of a boiling pot over a fire of reeds.<br/></span>
  <span class="verse" title="Job 41:21" id="Job-41-21">His breath kindles coals.<br/> <span class="indent">&nbsp;&nbsp;</span>A flame goes forth from his mouth.<br/></span>
  <span class="verse" title="Job 41:22" id="Job-41-22">There is strength in his neck.<br/> <span class="indent">&nbsp;&nbsp;</span>Terror dances before him.<br/></span>
  <span class="verse" title="Job 41:23" id="Job-41-23">The flakes of his flesh are joined together.<br/> <span class="indent">&nbsp;&nbsp;</span>They are firm on him.<br/> <span class="indent">&nbsp;&nbsp;</span>They can&#8217;t be moved.<br/></span>
  <span class="verse" title="Job 41:24" id="Job-41-24">His heart is as firm as a stone,<br/> <span class="indent">&nbsp;&nbsp;</span>yes, firm as the lower millstone.<br/></span>
  <span class="verse" title="Job 41:25" id="Job-41-25">When he raises himself up, the mighty are afraid.<br/> <span class="indent">&nbsp;&nbsp;</span>They retreat before his thrashing.<br/></span>
  <span class="verse" title="Job 41:26" id="Job-41-26">If one attacks him with the sword, it can&#8217;t prevail;<br/> <span class="indent">&nbsp;&nbsp;</span>nor the spear, the dart, nor the pointed shaft.<br/></span>
  <span class="verse" title="Job 41:27" id="Job-41-27">He counts iron as straw;<br/> <span class="indent">&nbsp;&nbsp;</span>and brass as rotten wood.<br/></span>
  <span class="verse" title="Job 41:28" id="Job-41-28">The arrow can&#8217;t make him flee.<br/> <span class="indent">&nbsp;&nbsp;</span>Sling stones are like chaff to him.<br/></span>
  <span class="verse" title="Job 41:29" id="Job-41-29">Clubs are counted as stubble.<br/> <span class="indent">&nbsp;&nbsp;</span>He laughs at the rushing of the javelin.<br/></span>
  <span class="verse" title="Job 41:30" id="Job-41-30">His undersides are like sharp potsherds,<br/> <span class="indent">&nbsp;&nbsp;</span>leaving a trail in the mud like a threshing sledge.<br/></span>
  <span class="verse" title="Job 41:31" id="Job-41-31">He makes the deep to boil like a pot.<br/> <span class="indent">&nbsp;&nbsp;</span>He makes the sea like a pot of ointment.<br/></span>
  <span class="verse" title="Job 41:32" id="Job-41-32">He makes a path shine after him.<br/> <span class="indent">&nbsp;&nbsp;</span>One would think the deep had white hair.<br/></span>
  <span class="verse" title="Job 41:33" id="Job-41-33">On earth there is not his equal,<br/> <span class="indent">&nbsp;&nbsp;</span>that is made without fear.<br/></span>
  <span class="verse" title="Job 41:34" id="Job-41-34">He sees everything that is high.<br/> <span class="indent">&nbsp;&nbsp;</span>He is king over all the sons of pride.&#8221;<br/></span>
</div>