<div class="chapter" id="Job-042">
  <h2>Job 42</h2>
  <span class="verse" title="Job 42:1" id="Job-42-1">Then Job answered Yahweh,</span>
  <span class="verse" title="Job 42:2" id="Job-42-2">&#8220;I know that you can do all things,<br/> <span class="indent">&nbsp;&nbsp;</span>and that no purpose of yours can be restrained.<br/></span>
  <span class="verse" title="Job 42:3" id="Job-42-3">You asked, &#8216;Who is this who hides counsel without knowledge?&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>therefore I have uttered that which I did not understand,<br/> <span class="indent">&nbsp;&nbsp;</span>things too wonderful for me, which I didn&#8217;t know.<br/></span>
  <span class="verse" title="Job 42:4" id="Job-42-4">You said, &#8216;Listen, now, and I will speak;<br/> <span class="indent">&nbsp;&nbsp;</span>I will question you, and you will answer me.&#8217;<br/></span>
  <span class="verse" title="Job 42:5" id="Job-42-5">I had heard of you by the hearing of the ear,<br/> <span class="indent">&nbsp;&nbsp;</span>but now my eye sees you.<br/></span>
  <span class="verse" title="Job 42:6" id="Job-42-6">Therefore I abhor myself,<br/> <span class="indent">&nbsp;&nbsp;</span>and repent in dust and ashes.&#8221;<br/></span>
  <span class="verse" title="Job 42:7" id="Job-42-7">It was so, that after Yahweh had spoken these words to Job, Yahweh said to Eliphaz the Temanite, &#8220;My wrath is kindled against you, and against your two friends; for you have not spoken of me the thing that is right, as my servant Job has.</span>
  <span class="verse" title="Job 42:8" id="Job-42-8">Now therefore, take to yourselves seven bulls and seven rams, and go to my servant Job, and offer up for yourselves a burnt offering; and my servant Job shall pray for you, for I will accept him, that I not deal with you according to your folly. For you have not spoken of me the thing that is right, as my servant Job has.&#8221;</span>
  <span class="verse" title="Job 42:9" id="Job-42-9">So Eliphaz the Temanite and Bildad the Shuhite and Zophar the Naamathite went, and did what Yahweh commanded them, and Yahweh accepted Job.</span>
  <span class="verse" title="Job 42:10" id="Job-42-10">Yahweh turned the captivity of Job, when he prayed for his friends. Yahweh gave Job twice as much as he had before.</span>
  <span class="verse" title="Job 42:11" id="Job-42-11">Then came there to him all his brothers, and all his sisters, and all those who had been of his acquaintance before, and ate bread with him in his house. They comforted him, and consoled him concerning all the evil that Yahweh had brought on him. Everyone also gave him a piece of money, and everyone a ring of gold.</span>
  <span class="verse" title="Job 42:12" id="Job-42-12">So Yahweh blessed the latter end of Job more than his beginning. He had fourteen thousand sheep, six thousand camels, one thousand yoke of oxen, and a thousand female donkeys.</span>
  <span class="verse" title="Job 42:13" id="Job-42-13">He had also seven sons and three daughters.</span>
  <span class="verse" title="Job 42:14" id="Job-42-14">He called the name of the first, Jemimah; and the name of the second, Keziah; and the name of the third, Keren Happuch.</span>
  <span class="verse" title="Job 42:15" id="Job-42-15">In all the land were no women found so beautiful as the daughters of Job. Their father gave them an inheritance among their brothers.</span>
  <span class="verse" title="Job 42:16" id="Job-42-16">After this Job lived one hundred forty years, and saw his sons, and his sons&#8217; sons, to four generations.</span>
  <span class="verse" title="Job 42:17" id="Job-42-17">So Job died, being old and full of days.</span>
</div>