<div class="chapter" id="John-001">
  <h2>John 1</h2>
  <span class="verse" title="John 1:1" id="John-1-1">In the beginning was the Word, and the Word was with God, and the Word was God.</span>
  <span class="verse" title="John 1:2" id="John-1-2">The same was in the beginning with God.</span>
  <span class="verse" title="John 1:3" id="John-1-3">All things were made through him. Without him was not anything made that has been made.</span>
  <span class="verse" title="John 1:4" id="John-1-4">In him was life, and the life was the light of men.</span>
  <span class="verse" title="John 1:5" id="John-1-5">The light shines in the darkness, and the darkness hasn&#8217;t overcome it.</span>
  <span class="verse" title="John 1:6" id="John-1-6">There came a man, sent from God, whose name was John.</span>
  <span class="verse" title="John 1:7" id="John-1-7">The same came as a witness, that he might testify about the light, that all might believe through him.</span>
  <span class="verse" title="John 1:8" id="John-1-8">He was not the light, but was sent that he might testify about the light.</span>
  <span class="verse" title="John 1:9" id="John-1-9">The true light that enlightens everyone was coming into the world.</span>
  <span class="verse" title="John 1:10" id="John-1-10">He was in the world, and the world was made through him, and the world didn&#8217;t recognize him.</span>
  <span class="verse" title="John 1:11" id="John-1-11">He came to his own, and those who were his own didn&#8217;t receive him.</span>
  <span class="verse" title="John 1:12" id="John-1-12">But as many as received him, to them he gave the right to become God&#8217;s children, to those who believe in his name:</span>
  <span class="verse" title="John 1:13" id="John-1-13">who were born not of blood, nor of the will of the flesh, nor of the will of man, but of God.</span>
  <span class="verse" title="John 1:14" id="John-1-14">The Word became flesh, and lived among us. We saw his glory, such glory as of the one and only Son of the Father, full of grace and truth.</span>
  <span class="verse" title="John 1:15" id="John-1-15">John testified about him. He cried out, saying, &#8220;This was he of whom I said, &#8216;He who comes after me has surpassed me, for he was before me.&#8217;&#8221;</span>
  <span class="verse" title="John 1:16" id="John-1-16">From his fullness we all received grace upon grace.</span>
  <span class="verse" title="John 1:17" id="John-1-17">For the law was given through Moses. Grace and truth were realized through Jesus Christ.</span>
  <span class="verse" title="John 1:18" id="John-1-18">No one has seen God at any time. The one and only Son, who is in the bosom of the Father, he has declared him.</span>
  <span class="verse" title="John 1:19" id="John-1-19">This is John&#8217;s testimony, when the Jews sent priests and Levites from Jerusalem to ask him, &#8220;Who are you?&#8221;</span>
  <span class="verse" title="John 1:20" id="John-1-20">He declared, and didn&#8217;t deny, but he declared, &#8220;I am not the Christ.&#8221;</span>
  <span class="verse" title="John 1:21" id="John-1-21">They asked him, &#8220;What then? Are you Elijah?&#8221; He said, &#8220;I am not.&#8221; &#8220;Are you the prophet?&#8221; He answered, &#8220;No.&#8221;</span>
  <span class="verse" title="John 1:22" id="John-1-22">They said therefore to him, &#8220;Who are you? Give us an answer to take back to those who sent us. What do you say about yourself?&#8221;</span>
  <span class="verse" title="John 1:23" id="John-1-23">He said, &#8220;I am the voice of one crying in the wilderness, &#8216;Make straight the way of the Lord,&#8217; as Isaiah the prophet said.&#8221;</span>
  <span class="verse" title="John 1:24" id="John-1-24">The ones who had been sent were from the Pharisees.</span>
  <span class="verse" title="John 1:25" id="John-1-25">They asked him, &#8220;Why then do you baptize, if you are not the Christ, nor Elijah, nor the prophet?&#8221;</span>
  <span class="verse" title="John 1:26" id="John-1-26">John answered them, &#8220;I baptize in water, but among you stands one whom you don&#8217;t know.</span>
  <span class="verse" title="John 1:27" id="John-1-27">He is the one who comes after me, who is preferred before me, whose sandal strap I&#8217;m not worthy to loosen.&#8221;</span>
  <span class="verse" title="John 1:28" id="John-1-28">These things were done in Bethany beyond the Jordan, where John was baptizing.</span>
  <span class="verse" title="John 1:29" id="John-1-29">The next day, he saw Jesus coming to him, and said, &#8220;Behold, the Lamb of God, who takes away the sin of the world!</span>
  <span class="verse" title="John 1:30" id="John-1-30">This is he of whom I said, &#8216;After me comes a man who is preferred before me, for he was before me.&#8217;</span>
  <span class="verse" title="John 1:31" id="John-1-31">I didn&#8217;t know him, but for this reason I came baptizing in water: that he would be revealed to Israel.&#8221;</span>
  <span class="verse" title="John 1:32" id="John-1-32">John testified, saying, &#8220;I have seen the Spirit descending like a dove out of heaven, and it remained on him.</span>
  <span class="verse" title="John 1:33" id="John-1-33">I didn&#8217;t recognize him, but he who sent me to baptize in water, he said to me, &#8216;On whomever you will see the Spirit descending, and remaining on him, the same is he who baptizes in the Holy Spirit.&#8217;</span>
  <span class="verse" title="John 1:34" id="John-1-34">I have seen, and have testified that this is the Son of God.&#8221;</span>
  <span class="verse" title="John 1:35" id="John-1-35">Again, the next day, John was standing with two of his disciples,</span>
  <span class="verse" title="John 1:36" id="John-1-36">and he looked at Jesus as he walked, and said, &#8220;Behold, the Lamb of God!&#8221;</span>
  <span class="verse" title="John 1:37" id="John-1-37">The two disciples heard him speak, and they followed Jesus.</span>
  <span class="verse" title="John 1:38" id="John-1-38">Jesus turned, and saw them following, and said to them, &#8220;What are you looking for?&#8221; They said to him, &#8220;Rabbi&#8221; (which is to say, being interpreted, Teacher), &#8220;where are you staying?&#8221;</span>
  <span class="verse" title="John 1:39" id="John-1-39">He said to them, &#8220;Come, and see.&#8221; They came and saw where he was staying, and they stayed with him that day. It was about the tenth hour.</span>
  <span class="verse" title="John 1:40" id="John-1-40">One of the two who heard John, and followed him, was Andrew, Simon Peter&#8217;s brother.</span>
  <span class="verse" title="John 1:41" id="John-1-41">He first found his own brother, Simon, and said to him, &#8220;We have found the Messiah!&#8221; (which is, being interpreted, Christ).</span>
  <span class="verse" title="John 1:42" id="John-1-42">He brought him to Jesus. Jesus looked at him, and said, &#8220;You are Simon the son of Jonah. You shall be called Cephas&#8221; (which is by interpretation, Peter).</span>
  <span class="verse" title="John 1:43" id="John-1-43">On the next day, he was determined to go out into Galilee, and he found Philip. Jesus said to him, &#8220;Follow me.&#8221;</span>
  <span class="verse" title="John 1:44" id="John-1-44">Now Philip was from Bethsaida, of the city of Andrew and Peter.</span>
  <span class="verse" title="John 1:45" id="John-1-45">Philip found Nathanael, and said to him, &#8220;We have found him, of whom Moses in the law, and the prophets, wrote: Jesus of Nazareth, the son of Joseph.&#8221;</span>
  <span class="verse" title="John 1:46" id="John-1-46">Nathanael said to him, &#8220;Can any good thing come out of Nazareth?&#8221; Philip said to him, &#8220;Come and see.&#8221;</span>
  <span class="verse" title="John 1:47" id="John-1-47">Jesus saw Nathanael coming to him, and said about him, &#8220;Behold, an Israelite indeed, in whom is no deceit!&#8221;</span>
  <span class="verse" title="John 1:48" id="John-1-48">Nathanael said to him, &#8220;How do you know me?&#8221; Jesus answered him, &#8220;Before Philip called you, when you were under the fig tree, I saw you.&#8221;</span>
  <span class="verse" title="John 1:49" id="John-1-49">Nathanael answered him, &#8220;Rabbi, you are the Son of God! You are King of Israel!&#8221;</span>
  <span class="verse" title="John 1:50" id="John-1-50">Jesus answered him, &#8220;Because I told you, &#8216;I saw you underneath the fig tree,&#8217; do you believe? You will see greater things than these!&#8221;</span>
  <span class="verse" title="John 1:51" id="John-1-51">He said to him, &#8220;Most certainly, I tell you, hereafter you will see heaven opened, and the angels of God ascending and descending on the Son of Man.&#8221;</span>
</div>