<div class="chapter" id="John-002">
  <h2>John 2</h2>
  <span class="verse" title="John 2:1" id="John-2-1">The third day, there was a marriage in Cana of Galilee. Jesus&#8217; mother was there.</span>
  <span class="verse" title="John 2:2" id="John-2-2">Jesus also was invited, with his disciples, to the marriage.</span>
  <span class="verse" title="John 2:3" id="John-2-3">When the wine ran out, Jesus&#8217; mother said to him, &#8220;They have no wine.&#8221;</span>
  <span class="verse" title="John 2:4" id="John-2-4">Jesus said to her, &#8220;Woman, what does that have to do with you and me? My hour has not yet come.&#8221;</span>
  <span class="verse" title="John 2:5" id="John-2-5">His mother said to the servants, &#8220;Whatever he says to you, do it.&#8221;</span>
  <span class="verse" title="John 2:6" id="John-2-6">Now there were six water pots of stone set there after the Jews&#8217; way of purifying, containing two or three metretes apiece.</span>
  <span class="verse" title="John 2:7" id="John-2-7">Jesus said to them, &#8220;Fill the water pots with water.&#8221; They filled them up to the brim.</span>
  <span class="verse" title="John 2:8" id="John-2-8">He said to them, &#8220;Now draw some out, and take it to the ruler of the feast.&#8221; So they took it.</span>
  <span class="verse" title="John 2:9" id="John-2-9">When the ruler of the feast tasted the water now become wine, and didn&#8217;t know where it came from (but the servants who had drawn the water knew), the ruler of the feast called the bridegroom,</span>
  <span class="verse" title="John 2:10" id="John-2-10">and said to him, &#8220;Everyone serves the good wine first, and when the guests have drunk freely, then that which is worse. You have kept the good wine until now!&#8221;</span>
  <span class="verse" title="John 2:11" id="John-2-11">This beginning of his signs Jesus did in Cana of Galilee, and revealed his glory; and his disciples believed in him.</span>
  <span class="verse" title="John 2:12" id="John-2-12">After this, he went down to Capernaum, he, and his mother, his brothers, and his disciples; and they stayed there a few days.</span>
  <span class="verse" title="John 2:13" id="John-2-13">The Passover of the Jews was at hand, and Jesus went up to Jerusalem.</span>
  <span class="verse" title="John 2:14" id="John-2-14">He found in the temple those who sold oxen, sheep, and doves, and the changers of money sitting.</span>
  <span class="verse" title="John 2:15" id="John-2-15">He made a whip of cords, and threw all out of the temple, both the sheep and the oxen; and he poured out the changers&#8217; money, and overthrew their tables.</span>
  <span class="verse" title="John 2:16" id="John-2-16">To those who sold the doves, he said, &#8220;Take these things out of here! Don&#8217;t make my Father&#8217;s house a marketplace!&#8221;</span>
  <span class="verse" title="John 2:17" id="John-2-17">His disciples remembered that it was written, &#8220;Zeal for your house will eat me up.&#8221;</span>
  <span class="verse" title="John 2:18" id="John-2-18">The Jews therefore answered him, &#8220;What sign do you show us, seeing that you do these things?&#8221;</span>
  <span class="verse" title="John 2:19" id="John-2-19">Jesus answered them, &#8220;Destroy this temple, and in three days I will raise it up.&#8221;</span>
  <span class="verse" title="John 2:20" id="John-2-20">The Jews therefore said, &#8220;It took forty-six years to build this temple! Will you raise it up in three days?&#8221;</span>
  <span class="verse" title="John 2:21" id="John-2-21">But he spoke of the temple of his body.</span>
  <span class="verse" title="John 2:22" id="John-2-22">When therefore he was raised from the dead, his disciples remembered that he said this, and they believed the Scripture, and the word which Jesus had said.</span>
  <span class="verse" title="John 2:23" id="John-2-23">Now when he was in Jerusalem at the Passover, during the feast, many believed in his name, observing his signs which he did.</span>
  <span class="verse" title="John 2:24" id="John-2-24">But Jesus didn&#8217;t trust himself to them, because he knew everyone,</span>
  <span class="verse" title="John 2:25" id="John-2-25">and because he didn&#8217;t need for anyone to testify concerning man; for he himself knew what was in man.</span>
</div>