<div class="chapter" id="John-003">
  <h2>John 3</h2>
  <span class="verse" title="John 3:1" id="John-3-1">Now there was a man of the Pharisees named Nicodemus, a ruler of the Jews.</span>
  <span class="verse" title="John 3:2" id="John-3-2">The same came to him by night, and said to him, &#8220;Rabbi, we know that you are a teacher come from God, for no one can do these signs that you do, unless God is with him.&#8221;</span>
  <span class="verse" title="John 3:3" id="John-3-3">Jesus answered him, &#8220;Most certainly, I tell you, unless one is born anew, he can&#8217;t see the Kingdom of God.&#8221;</span>
  <span class="verse" title="John 3:4" id="John-3-4">Nicodemus said to him, &#8220;How can a man be born when he is old? Can he enter a second time into his mother&#8217;s womb, and be born?&#8221;</span>
  <span class="verse" title="John 3:5" id="John-3-5">Jesus answered, &#8220;Most certainly I tell you, unless one is born of water and spirit, he can&#8217;t enter into the Kingdom of God!</span>
  <span class="verse" title="John 3:6" id="John-3-6">That which is born of the flesh is flesh. That which is born of the Spirit is spirit.</span>
  <span class="verse" title="John 3:7" id="John-3-7">Don&#8217;t marvel that I said to you, &#8216;You must be born anew.&#8217;</span>
  <span class="verse" title="John 3:8" id="John-3-8">The wind blows where it wants to, and you hear its sound, but don&#8217;t know where it comes from and where it is going. So is everyone who is born of the Spirit.&#8221;</span>
  <span class="verse" title="John 3:9" id="John-3-9">Nicodemus answered him, &#8220;How can these things be?&#8221;</span>
  <span class="verse" title="John 3:10" id="John-3-10">Jesus answered him, &#8220;Are you the teacher of Israel, and don&#8217;t understand these things?</span>
  <span class="verse" title="John 3:11" id="John-3-11">Most certainly I tell you, we speak that which we know, and testify of that which we have seen, and you don&#8217;t receive our witness.</span>
  <span class="verse" title="John 3:12" id="John-3-12">If I told you earthly things and you don&#8217;t believe, how will you believe if I tell you heavenly things?</span>
  <span class="verse" title="John 3:13" id="John-3-13">No one has ascended into heaven, but he who descended out of heaven, the Son of Man, who is in heaven.</span>
  <span class="verse" title="John 3:14" id="John-3-14">As Moses lifted up the serpent in the wilderness, even so must the Son of Man be lifted up,</span>
  <span class="verse" title="John 3:15" id="John-3-15">that whoever believes in him should not perish, but have eternal life.</span>
  <span class="verse" title="John 3:16" id="John-3-16">For God so loved the world, that he gave his one and only Son, that whoever believes in him should not perish, but have eternal life.</span>
  <span class="verse" title="John 3:17" id="John-3-17">For God didn&#8217;t send his Son into the world to judge the world, but that the world should be saved through him.</span>
  <span class="verse" title="John 3:18" id="John-3-18">He who believes in him is not judged. He who doesn&#8217;t believe has been judged already, because he has not believed in the name of the one and only Son of God.</span>
  <span class="verse" title="John 3:19" id="John-3-19">This is the judgment, that the light has come into the world, and men loved the darkness rather than the light; for their works were evil.</span>
  <span class="verse" title="John 3:20" id="John-3-20">For everyone who does evil hates the light, and doesn&#8217;t come to the light, lest his works would be exposed.</span>
  <span class="verse" title="John 3:21" id="John-3-21">But he who does the truth comes to the light, that his works may be revealed, that they have been done in God.&#8221;</span>
  <span class="verse" title="John 3:22" id="John-3-22">After these things, Jesus came with his disciples into the land of Judea. He stayed there with them, and baptized.</span>
  <span class="verse" title="John 3:23" id="John-3-23">John also was baptizing in Enon near Salim, because there was much water there. They came, and were baptized.</span>
  <span class="verse" title="John 3:24" id="John-3-24">For John was not yet thrown into prison.</span>
  <span class="verse" title="John 3:25" id="John-3-25">There arose therefore a questioning on the part of John&#8217;s disciples with some Jews about purification.</span>
  <span class="verse" title="John 3:26" id="John-3-26">They came to John, and said to him, &#8220;Rabbi, he who was with you beyond the Jordan, to whom you have testified, behold, the same baptizes, and everyone is coming to him.&#8221;</span>
  <span class="verse" title="John 3:27" id="John-3-27">John answered, &#8220;A man can receive nothing, unless it has been given him from heaven.</span>
  <span class="verse" title="John 3:28" id="John-3-28">You yourselves testify that I said, &#8216;I am not the Christ,&#8217; but, &#8216;I have been sent before him.&#8217;</span>
  <span class="verse" title="John 3:29" id="John-3-29">He who has the bride is the bridegroom; but the friend of the bridegroom, who stands and hears him, rejoices greatly because of the bridegroom&#8217;s voice. This, my joy, therefore is made full.</span>
  <span class="verse" title="John 3:30" id="John-3-30">He must increase, but I must decrease.</span>
  <span class="verse" title="John 3:31" id="John-3-31">He who comes from above is above all. He who is from the earth belongs to the earth, and speaks of the earth. He who comes from heaven is above all.</span>
  <span class="verse" title="John 3:32" id="John-3-32">What he has seen and heard, of that he testifies; and no one receives his witness.</span>
  <span class="verse" title="John 3:33" id="John-3-33">He who has received his witness has set his seal to this, that God is true.</span>
  <span class="verse" title="John 3:34" id="John-3-34">For he whom God has sent speaks the words of God; for God gives the Spirit without measure.</span>
  <span class="verse" title="John 3:35" id="John-3-35">The Father loves the Son, and has given all things into his hand.</span>
  <span class="verse" title="John 3:36" id="John-3-36">One who believes in the Son has eternal life, but one who disobeys the Son won&#8217;t see life, but the wrath of God remains on him.&#8221;</span>
</div>