<div class="chapter" id="John-004">
  <h2>John 4</h2>
  <span class="verse" title="John 4:1" id="John-4-1">Therefore when the Lord knew that the Pharisees had heard that Jesus was making and baptizing more disciples than John</span>
  <span class="verse" title="John 4:2" id="John-4-2">(although Jesus himself didn&#8217;t baptize, but his disciples),</span>
  <span class="verse" title="John 4:3" id="John-4-3">he left Judea, and departed into Galilee.</span>
  <span class="verse" title="John 4:4" id="John-4-4">He needed to pass through Samaria.</span>
  <span class="verse" title="John 4:5" id="John-4-5">So he came to a city of Samaria, called Sychar, near the parcel of ground that Jacob gave to his son, Joseph.</span>
  <span class="verse" title="John 4:6" id="John-4-6">Jacob&#8217;s well was there. Jesus therefore, being tired from his journey, sat down by the well. It was about the sixth hour.</span>
  <span class="verse" title="John 4:7" id="John-4-7">A woman of Samaria came to draw water. Jesus said to her, &#8220;Give me a drink.&#8221;</span>
  <span class="verse" title="John 4:8" id="John-4-8">For his disciples had gone away into the city to buy food.</span>
  <span class="verse" title="John 4:9" id="John-4-9">The Samaritan woman therefore said to him, &#8220;How is it that you, being a Jew, ask for a drink from me, a Samaritan woman?&#8221; (For Jews have no dealings with Samaritans.)</span>
  <span class="verse" title="John 4:10" id="John-4-10">Jesus answered her, &#8220;If you knew the gift of God, and who it is who says to you, &#8216;Give me a drink,&#8217; you would have asked him, and he would have given you living water.&#8221;</span>
  <span class="verse" title="John 4:11" id="John-4-11">The woman said to him, &#8220;Sir, you have nothing to draw with, and the well is deep. From where then have you that living water?</span>
  <span class="verse" title="John 4:12" id="John-4-12">Are you greater than our father, Jacob, who gave us the well, and drank of it himself, as did his children, and his livestock?&#8221;</span>
  <span class="verse" title="John 4:13" id="John-4-13">Jesus answered her, &#8220;Everyone who drinks of this water will thirst again,</span>
  <span class="verse" title="John 4:14" id="John-4-14">but whoever drinks of the water that I will give him will never thirst again; but the water that I will give him will become in him a well of water springing up to eternal life.&#8221;</span>
  <span class="verse" title="John 4:15" id="John-4-15">The woman said to him, &#8220;Sir, give me this water, so that I don&#8217;t get thirsty, neither come all the way here to draw.&#8221;</span>
  <span class="verse" title="John 4:16" id="John-4-16">Jesus said to her, &#8220;Go, call your husband, and come here.&#8221;</span>
  <span class="verse" title="John 4:17" id="John-4-17">The woman answered, &#8220;I have no husband.&#8221; Jesus said to her, &#8220;You said well, &#8216;I have no husband,&#8217;</span>
  <span class="verse" title="John 4:18" id="John-4-18">for you have had five husbands; and he whom you now have is not your husband. This you have said truly.&#8221;</span>
  <span class="verse" title="John 4:19" id="John-4-19">The woman said to him, &#8220;Sir, I perceive that you are a prophet.</span>
  <span class="verse" title="John 4:20" id="John-4-20">Our fathers worshiped in this mountain, and you Jews say that in Jerusalem is the place where people ought to worship.&#8221;</span>
  <span class="verse" title="John 4:21" id="John-4-21">Jesus said to her, &#8220;Woman, believe me, the hour comes, when neither in this mountain, nor in Jerusalem, will you worship the Father.</span>
  <span class="verse" title="John 4:22" id="John-4-22">You worship that which you don&#8217;t know. We worship that which we know; for salvation is from the Jews.</span>
  <span class="verse" title="John 4:23" id="John-4-23">But the hour comes, and now is, when the true worshippers will worship the Father in spirit and truth, for the Father seeks such to be his worshippers.</span>
  <span class="verse" title="John 4:24" id="John-4-24">God is spirit, and those who worship him must worship in spirit and truth.&#8221;</span>
  <span class="verse" title="John 4:25" id="John-4-25">The woman said to him, &#8220;I know that Messiah comes,&#8221; (he who is called Christ). &#8220;When he has come, he will declare to us all things.&#8221;</span>
  <span class="verse" title="John 4:26" id="John-4-26">Jesus said to her, &#8220;I am he, the one who speaks to you.&#8221;</span>
  <span class="verse" title="John 4:27" id="John-4-27">At this, his disciples came. They marveled that he was speaking with a woman; yet no one said, &#8220;What are you looking for?&#8221; or, &#8220;Why do you speak with her?&#8221;</span>
  <span class="verse" title="John 4:28" id="John-4-28">So the woman left her water pot, and went away into the city, and said to the people,</span>
  <span class="verse" title="John 4:29" id="John-4-29">&#8220;Come, see a man who told me everything that I did. Can this be the Christ?&#8221;</span>
  <span class="verse" title="John 4:30" id="John-4-30">They went out of the city, and were coming to him.</span>
  <span class="verse" title="John 4:31" id="John-4-31">In the meanwhile, the disciples urged him, saying, &#8220;Rabbi, eat.&#8221;</span>
  <span class="verse" title="John 4:32" id="John-4-32">But he said to them, &#8220;I have food to eat that you don&#8217;t know about.&#8221;</span>
  <span class="verse" title="John 4:33" id="John-4-33">The disciples therefore said one to another, &#8220;Has anyone brought him something to eat?&#8221;</span>
  <span class="verse" title="John 4:34" id="John-4-34">Jesus said to them, &#8220;My food is to do the will of him who sent me, and to accomplish his work.</span>
  <span class="verse" title="John 4:35" id="John-4-35">Don&#8217;t you say, &#8216;There are yet four months until the harvest?&#8217; Behold, I tell you, lift up your eyes, and look at the fields, that they are white for harvest already.</span>
  <span class="verse" title="John 4:36" id="John-4-36">He who reaps receives wages, and gathers fruit to eternal life; that both he who sows and he who reaps may rejoice together.</span>
  <span class="verse" title="John 4:37" id="John-4-37">For in this the saying is true, &#8216;One sows, and another reaps.&#8217;</span>
  <span class="verse" title="John 4:38" id="John-4-38">I sent you to reap that for which you haven&#8217;t labored. Others have labored, and you have entered into their labor.&#8221;</span>
  <span class="verse" title="John 4:39" id="John-4-39">From that city many of the Samaritans believed in him because of the word of the woman, who testified, &#8220;He told me everything that I did.&#8221;</span>
  <span class="verse" title="John 4:40" id="John-4-40">So when the Samaritans came to him, they begged him to stay with them. He stayed there two days.</span>
  <span class="verse" title="John 4:41" id="John-4-41">Many more believed because of his word.</span>
  <span class="verse" title="John 4:42" id="John-4-42">They said to the woman, &#8220;Now we believe, not because of your speaking; for we have heard for ourselves, and know that this is indeed the Christ, the Savior of the world.&#8221;</span>
  <span class="verse" title="John 4:43" id="John-4-43">After the two days he went out from there and went into Galilee.</span>
  <span class="verse" title="John 4:44" id="John-4-44">For Jesus himself testified that a prophet has no honor in his own country.</span>
  <span class="verse" title="John 4:45" id="John-4-45">So when he came into Galilee, the Galileans received him, having seen all the things that he did in Jerusalem at the feast, for they also went to the feast.</span>
  <span class="verse" title="John 4:46" id="John-4-46">Jesus came therefore again to Cana of Galilee, where he made the water into wine. There was a certain nobleman whose son was sick at Capernaum.</span>
  <span class="verse" title="John 4:47" id="John-4-47">When he heard that Jesus had come out of Judea into Galilee, he went to him, and begged him that he would come down and heal his son, for he was at the point of death.</span>
  <span class="verse" title="John 4:48" id="John-4-48">Jesus therefore said to him, &#8220;Unless you see signs and wonders, you will in no way believe.&#8221;</span>
  <span class="verse" title="John 4:49" id="John-4-49">The nobleman said to him, &#8220;Sir, come down before my child dies.&#8221;</span>
  <span class="verse" title="John 4:50" id="John-4-50">Jesus said to him, &#8220;Go your way. Your son lives.&#8221; The man believed the word that Jesus spoke to him, and he went his way.</span>
  <span class="verse" title="John 4:51" id="John-4-51">As he was now going down, his servants met him and reported, saying &#8220;Your child lives!&#8221;</span>
  <span class="verse" title="John 4:52" id="John-4-52">So he inquired of them the hour when he began to get better. They said therefore to him, &#8220;Yesterday at the seventh hour, the fever left him.&#8221;</span>
  <span class="verse" title="John 4:53" id="John-4-53">So the father knew that it was at that hour in which Jesus said to him, &#8220;Your son lives.&#8221; He believed, as did his whole house.</span>
  <span class="verse" title="John 4:54" id="John-4-54">This is again the second sign that Jesus did, having come out of Judea into Galilee.</span>
</div>