<div class="chapter" id="John-005">
  <h2>John 5</h2>
  <span class="verse" title="John 5:1" id="John-5-1">After these things, there was a feast of the Jews, and Jesus went up to Jerusalem.</span>
  <span class="verse" title="John 5:2" id="John-5-2">Now in Jerusalem by the sheep gate, there is a pool, which is called in Hebrew, &#8220;Bethesda,&#8221; having five porches.</span>
  <span class="verse" title="John 5:3" id="John-5-3">In these lay a great multitude of those who were sick, blind, lame, or paralyzed, waiting for the moving of the water;</span>
  <span class="verse" title="John 5:4" id="John-5-4">for an angel went down at certain times into the pool, and stirred up the water. Whoever stepped in first after the stirring of the water was made whole of whatever disease he had.</span>
  <span class="verse" title="John 5:5" id="John-5-5">A certain man was there, who had been sick for thirty-eight years.</span>
  <span class="verse" title="John 5:6" id="John-5-6">When Jesus saw him lying there, and knew that he had been sick for a long time, he asked him, &#8220;Do you want to be made well?&#8221;</span>
  <span class="verse" title="John 5:7" id="John-5-7">The sick man answered him, &#8220;Sir, I have no one to put me into the pool when the water is stirred up, but while I&#8217;m coming, another steps down before me.&#8221;</span>
  <span class="verse" title="John 5:8" id="John-5-8">Jesus said to him, &#8220;Arise, take up your mat, and walk.&#8221;</span>
  <span class="verse" title="John 5:9" id="John-5-9">Immediately, the man was made well, and took up his mat and walked. Now it was the Sabbath on that day.</span>
  <span class="verse" title="John 5:10" id="John-5-10">So the Jews said to him who was cured, &#8220;It is the Sabbath. It is not lawful for you to carry the mat.&#8221;</span>
  <span class="verse" title="John 5:11" id="John-5-11">He answered them, &#8220;He who made me well, the same said to me, &#8216;Take up your mat, and walk.&#8217;&#8221;</span>
  <span class="verse" title="John 5:12" id="John-5-12">Then they asked him, &#8220;Who is the man who said to you, &#8216;Take up your mat, and walk&#8217;?&#8221;</span>
  <span class="verse" title="John 5:13" id="John-5-13">But he who was healed didn&#8217;t know who it was, for Jesus had withdrawn, a crowd being in the place.</span>
  <span class="verse" title="John 5:14" id="John-5-14">Afterward Jesus found him in the temple, and said to him, &#8220;Behold, you are made well. Sin no more, so that nothing worse happens to you.&#8221;</span>
  <span class="verse" title="John 5:15" id="John-5-15">The man went away, and told the Jews that it was Jesus who had made him well.</span>
  <span class="verse" title="John 5:16" id="John-5-16">For this cause the Jews persecuted Jesus, and sought to kill him, because he did these things on the Sabbath.</span>
  <span class="verse" title="John 5:17" id="John-5-17">But Jesus answered them, &#8220;My Father is still working, so I am working, too.&#8221;</span>
  <span class="verse" title="John 5:18" id="John-5-18">For this cause therefore the Jews sought all the more to kill him, because he not only broke the Sabbath, but also called God his own Father, making himself equal with God.</span>
  <span class="verse" title="John 5:19" id="John-5-19">Jesus therefore answered them, &#8220;Most certainly, I tell you, the Son can do nothing of himself, but what he sees the Father doing. For whatever things he does, these the Son also does likewise.</span>
  <span class="verse" title="John 5:20" id="John-5-20">For the Father has affection for the Son, and shows him all things that he himself does. He will show him greater works than these, that you may marvel.</span>
  <span class="verse" title="John 5:21" id="John-5-21">For as the Father raises the dead and gives them life, even so the Son also gives life to whom he desires.</span>
  <span class="verse" title="John 5:22" id="John-5-22">For the Father judges no one, but he has given all judgment to the Son,</span>
  <span class="verse" title="John 5:23" id="John-5-23">that all may honor the Son, even as they honor the Father. He who doesn&#8217;t honor the Son doesn&#8217;t honor the Father who sent him.</span>
  <span class="verse" title="John 5:24" id="John-5-24">&#8220;Most certainly I tell you, he who hears my word, and believes him who sent me, has eternal life, and doesn&#8217;t come into judgment, but has passed out of death into life.</span>
  <span class="verse" title="John 5:25" id="John-5-25">Most certainly, I tell you, the hour comes, and now is, when the dead will hear the Son of God&#8217;s voice; and those who hear will live.</span>
  <span class="verse" title="John 5:26" id="John-5-26">For as the Father has life in himself, even so he gave to the Son also to have life in himself.</span>
  <span class="verse" title="John 5:27" id="John-5-27">He also gave him authority to execute judgment, because he is a son of man.</span>
  <span class="verse" title="John 5:28" id="John-5-28">Don&#8217;t marvel at this, for the hour comes, in which all that are in the tombs will hear his voice,</span>
  <span class="verse" title="John 5:29" id="John-5-29">and will come out; those who have done good, to the resurrection of life; and those who have done evil, to the resurrection of judgment.</span>
  <span class="verse" title="John 5:30" id="John-5-30">I can of myself do nothing. As I hear, I judge, and my judgment is righteous; because I don&#8217;t seek my own will, but the will of my Father who sent me.</span>
  <span class="verse" title="John 5:31" id="John-5-31">&#8220;If I testify about myself, my witness is not valid.</span>
  <span class="verse" title="John 5:32" id="John-5-32">It is another who testifies about me. I know that the testimony which he testifies about me is true.</span>
  <span class="verse" title="John 5:33" id="John-5-33">You have sent to John, and he has testified to the truth.</span>
  <span class="verse" title="John 5:34" id="John-5-34">But the testimony which I receive is not from man. However, I say these things that you may be saved.</span>
  <span class="verse" title="John 5:35" id="John-5-35">He was the burning and shining lamp, and you were willing to rejoice for a while in his light.</span>
  <span class="verse" title="John 5:36" id="John-5-36">But the testimony which I have is greater than that of John, for the works which the Father gave me to accomplish, the very works that I do, testify about me, that the Father has sent me.</span>
  <span class="verse" title="John 5:37" id="John-5-37">The Father himself, who sent me, has testified about me. You have neither heard his voice at any time, nor seen his form.</span>
  <span class="verse" title="John 5:38" id="John-5-38">You don&#8217;t have his word living in you; because you don&#8217;t believe him whom he sent.</span>
  <span class="verse" title="John 5:39" id="John-5-39">&#8220;You search the Scriptures, because you think that in them you have eternal life; and these are they which testify about me.</span>
  <span class="verse" title="John 5:40" id="John-5-40">Yet you will not come to me, that you may have life.</span>
  <span class="verse" title="John 5:41" id="John-5-41">I don&#8217;t receive glory from men.</span>
  <span class="verse" title="John 5:42" id="John-5-42">But I know you, that you don&#8217;t have God&#8217;s love in yourselves.</span>
  <span class="verse" title="John 5:43" id="John-5-43">I have come in my Father&#8217;s name, and you don&#8217;t receive me. If another comes in his own name, you will receive him.</span>
  <span class="verse" title="John 5:44" id="John-5-44">How can you believe, who receive glory from one another, and you don&#8217;t seek the glory that comes from the only God?</span>
  <span class="verse" title="John 5:45" id="John-5-45">&#8220;Don&#8217;t think that I will accuse you to the Father. There is one who accuses you, even Moses, on whom you have set your hope.</span>
  <span class="verse" title="John 5:46" id="John-5-46">For if you believed Moses, you would believe me; for he wrote about me.</span>
  <span class="verse" title="John 5:47" id="John-5-47">But if you don&#8217;t believe his writings, how will you believe my words?&#8221;</span>
</div>