<div class="chapter" id="John-006">
  <h2>John 6</h2>
  <span class="verse" title="John 6:1" id="John-6-1">After these things, Jesus went away to the other side of the sea of Galilee, which is also called the Sea of Tiberias.</span>
  <span class="verse" title="John 6:2" id="John-6-2">A great multitude followed him, because they saw his signs which he did on those who were sick.</span>
  <span class="verse" title="John 6:3" id="John-6-3">Jesus went up into the mountain, and he sat there with his disciples.</span>
  <span class="verse" title="John 6:4" id="John-6-4">Now the Passover, the feast of the Jews, was at hand.</span>
  <span class="verse" title="John 6:5" id="John-6-5">Jesus therefore lifting up his eyes, and seeing that a great multitude was coming to him, said to Philip, &#8220;Where are we to buy bread, that these may eat?&#8221;</span>
  <span class="verse" title="John 6:6" id="John-6-6">This he said to test him, for he himself knew what he would do.</span>
  <span class="verse" title="John 6:7" id="John-6-7">Philip answered him, &#8220;Two hundred denarii worth of bread is not sufficient for them, that everyone of them may receive a little.&#8221;</span>
  <span class="verse" title="John 6:8" id="John-6-8">One of his disciples, Andrew, Simon Peter&#8217;s brother, said to him,</span>
  <span class="verse" title="John 6:9" id="John-6-9">&#8220;There is a boy here who has five barley loaves and two fish, but what are these among so many?&#8221;</span>
  <span class="verse" title="John 6:10" id="John-6-10">Jesus said, &#8220;Have the people sit down.&#8221; Now there was much grass in that place. So the men sat down, in number about five thousand.</span>
  <span class="verse" title="John 6:11" id="John-6-11">Jesus took the loaves; and having given thanks, he distributed to the disciples, and the disciples to those who were sitting down; likewise also of the fish as much as they desired.</span>
  <span class="verse" title="John 6:12" id="John-6-12">When they were filled, he said to his disciples, &#8220;Gather up the broken pieces which are left over, that nothing be lost.&#8221;</span>
  <span class="verse" title="John 6:13" id="John-6-13">So they gathered them up, and filled twelve baskets with broken pieces from the five barley loaves, which were left over by those who had eaten.</span>
  <span class="verse" title="John 6:14" id="John-6-14">When therefore the people saw the sign which Jesus did, they said, &#8220;This is truly the prophet who comes into the world.&#8221;</span>
  <span class="verse" title="John 6:15" id="John-6-15">Jesus therefore, perceiving that they were about to come and take him by force, to make him king, withdrew again to the mountain by himself.</span>
  <span class="verse" title="John 6:16" id="John-6-16">When evening came, his disciples went down to the sea,</span>
  <span class="verse" title="John 6:17" id="John-6-17">and they entered into the boat, and were going over the sea to Capernaum. It was now dark, and Jesus had not come to them.</span>
  <span class="verse" title="John 6:18" id="John-6-18">The sea was tossed by a great wind blowing.</span>
  <span class="verse" title="John 6:19" id="John-6-19">When therefore they had rowed about twenty-five or thirty stadia, they saw Jesus walking on the sea, and drawing near to the boat; and they were afraid.</span>
  <span class="verse" title="John 6:20" id="John-6-20">But he said to them, &#8220;It is I. Don&#8217;t be afraid.&#8221;</span>
  <span class="verse" title="John 6:21" id="John-6-21">They were willing therefore to receive him into the boat. Immediately the boat was at the land where they were going.</span>
  <span class="verse" title="John 6:22" id="John-6-22">On the next day, the multitude that stood on the other side of the sea saw that there was no other boat there, except the one in which his disciples had embarked, and that Jesus hadn&#8217;t entered with his disciples into the boat, but his disciples had gone away alone.</span>
  <span class="verse" title="John 6:23" id="John-6-23">However boats from Tiberias came near to the place where they ate the bread after the Lord had given thanks.</span>
  <span class="verse" title="John 6:24" id="John-6-24">When the multitude therefore saw that Jesus wasn&#8217;t there, nor his disciples, they themselves got into the boats, and came to Capernaum, seeking Jesus.</span>
  <span class="verse" title="John 6:25" id="John-6-25">When they found him on the other side of the sea, they asked him, &#8220;Rabbi, when did you come here?&#8221;</span>
  <span class="verse" title="John 6:26" id="John-6-26">Jesus answered them, &#8220;Most certainly I tell you, you seek me, not because you saw signs, but because you ate of the loaves, and were filled.</span>
  <span class="verse" title="John 6:27" id="John-6-27">Don&#8217;t work for the food which perishes, but for the food which remains to eternal life, which the Son of Man will give to you. For God the Father has sealed him.&#8221;</span>
  <span class="verse" title="John 6:28" id="John-6-28">They said therefore to him, &#8220;What must we do, that we may work the works of God?&#8221;</span>
  <span class="verse" title="John 6:29" id="John-6-29">Jesus answered them, &#8220;This is the work of God, that you believe in him whom he has sent.&#8221;</span>
  <span class="verse" title="John 6:30" id="John-6-30">They said therefore to him, &#8220;What then do you do for a sign, that we may see, and believe you? What work do you do?</span>
  <span class="verse" title="John 6:31" id="John-6-31">Our fathers ate the manna in the wilderness. As it is written, &#8216;He gave them bread out of heaven to eat.&#8217;&#8221;</span>
  <span class="verse" title="John 6:32" id="John-6-32">Jesus therefore said to them, &#8220;Most certainly, I tell you, it wasn&#8217;t Moses who gave you the bread out of heaven, but my Father gives you the true bread out of heaven.</span>
  <span class="verse" title="John 6:33" id="John-6-33">For the bread of God is that which comes down out of heaven, and gives life to the world.&#8221;</span>
  <span class="verse" title="John 6:34" id="John-6-34">They said therefore to him, &#8220;Lord, always give us this bread.&#8221;</span>
  <span class="verse" title="John 6:35" id="John-6-35">Jesus said to them, &#8220;I am the bread of life. He who comes to me will not be hungry, and he who believes in me will never be thirsty.</span>
  <span class="verse" title="John 6:36" id="John-6-36">But I told you that you have seen me, and yet you don&#8217;t believe.</span>
  <span class="verse" title="John 6:37" id="John-6-37">All those whom the Father gives me will come to me. He who comes to me I will in no way throw out.</span>
  <span class="verse" title="John 6:38" id="John-6-38">For I have come down from heaven, not to do my own will, but the will of him who sent me.</span>
  <span class="verse" title="John 6:39" id="John-6-39">This is the will of my Father who sent me, that of all he has given to me I should lose nothing, but should raise him up at the last day.</span>
  <span class="verse" title="John 6:40" id="John-6-40">This is the will of the one who sent me, that everyone who sees the Son, and believes in him, should have eternal life; and I will raise him up at the last day.&#8221;</span>
  <span class="verse" title="John 6:41" id="John-6-41">The Jews therefore murmured concerning him, because he said, &#8220;I am the bread which came down out of heaven.&#8221;</span>
  <span class="verse" title="John 6:42" id="John-6-42">They said, &#8220;Isn&#8217;t this Jesus, the son of Joseph, whose father and mother we know? How then does he say, &#8216;I have come down out of heaven?&#8217;&#8221;</span>
  <span class="verse" title="John 6:43" id="John-6-43">Therefore Jesus answered them, &#8220;Don&#8217;t murmur among yourselves.</span>
  <span class="verse" title="John 6:44" id="John-6-44">No one can come to me unless the Father who sent me draws him, and I will raise him up in the last day.</span>
  <span class="verse" title="John 6:45" id="John-6-45">It is written in the prophets, &#8216;They will all be taught by God.&#8217; Therefore everyone who hears from the Father, and has learned, comes to me.</span>
  <span class="verse" title="John 6:46" id="John-6-46">Not that anyone has seen the Father, except he who is from God. He has seen the Father.</span>
  <span class="verse" title="John 6:47" id="John-6-47">Most certainly, I tell you, he who believes in me has eternal life.</span>
  <span class="verse" title="John 6:48" id="John-6-48">I am the bread of life.</span>
  <span class="verse" title="John 6:49" id="John-6-49">Your fathers ate the manna in the wilderness, and they died.</span>
  <span class="verse" title="John 6:50" id="John-6-50">This is the bread which comes down out of heaven, that anyone may eat of it and not die.</span>
  <span class="verse" title="John 6:51" id="John-6-51">I am the living bread which came down out of heaven. If anyone eats of this bread, he will live forever. Yes, the bread which I will give for the life of the world is my flesh.&#8221;</span>
  <span class="verse" title="John 6:52" id="John-6-52">The Jews therefore contended with one another, saying, &#8220;How can this man give us his flesh to eat?&#8221;</span>
  <span class="verse" title="John 6:53" id="John-6-53">Jesus therefore said to them, &#8220;Most certainly I tell you, unless you eat the flesh of the Son of Man and drink his blood, you don&#8217;t have life in yourselves.</span>
  <span class="verse" title="John 6:54" id="John-6-54">He who eats my flesh and drinks my blood has eternal life, and I will raise him up at the last day.</span>
  <span class="verse" title="John 6:55" id="John-6-55">For my flesh is food indeed, and my blood is drink indeed.</span>
  <span class="verse" title="John 6:56" id="John-6-56">He who eats my flesh and drinks my blood lives in me, and I in him.</span>
  <span class="verse" title="John 6:57" id="John-6-57">As the living Father sent me, and I live because of the Father; so he who feeds on me, he will also live because of me.</span>
  <span class="verse" title="John 6:58" id="John-6-58">This is the bread which came down out of heaven—not as our fathers ate the manna, and died. He who eats this bread will live forever.&#8221;</span>
  <span class="verse" title="John 6:59" id="John-6-59">He said these things in the synagogue, as he taught in Capernaum.</span>
  <span class="verse" title="John 6:60" id="John-6-60">Therefore many of his disciples, when they heard this, said, &#8220;This is a hard saying! Who can listen to it?&#8221;</span>
  <span class="verse" title="John 6:61" id="John-6-61">But Jesus knowing in himself that his disciples murmured at this, said to them, &#8220;Does this cause you to stumble?</span>
  <span class="verse" title="John 6:62" id="John-6-62">Then what if you would see the Son of Man ascending to where he was before?</span>
  <span class="verse" title="John 6:63" id="John-6-63">It is the spirit who gives life. The flesh profits nothing. The words that I speak to you are spirit, and are life.</span>
  <span class="verse" title="John 6:64" id="John-6-64">But there are some of you who don&#8217;t believe.&#8221; For Jesus knew from the beginning who they were who didn&#8217;t believe, and who it was who would betray him.</span>
  <span class="verse" title="John 6:65" id="John-6-65">He said, &#8220;For this cause have I said to you that no one can come to me, unless it is given to him by my Father.&#8221;</span>
  <span class="verse" title="John 6:66" id="John-6-66">At this, many of his disciples went back, and walked no more with him.</span>
  <span class="verse" title="John 6:67" id="John-6-67">Jesus said therefore to the twelve, &#8220;You don&#8217;t also want to go away, do you?&#8221;</span>
  <span class="verse" title="John 6:68" id="John-6-68">Simon Peter answered him, &#8220;Lord, to whom would we go? You have the words of eternal life.</span>
  <span class="verse" title="John 6:69" id="John-6-69">We have come to believe and know that you are the Christ, the Son of the living God.&#8221;</span>
  <span class="verse" title="John 6:70" id="John-6-70">Jesus answered them, &#8220;Didn&#8217;t I choose you, the twelve, and one of you is a devil?&#8221;</span>
  <span class="verse" title="John 6:71" id="John-6-71">Now he spoke of Judas, the son of Simon Iscariot, for it was he who would betray him, being one of the twelve.</span>
</div>