<div class="chapter" id="John-007">
  <h2>John 7</h2>
  <span class="verse" title="John 7:1" id="John-7-1">After these things, Jesus was walking in Galilee, for he wouldn&#8217;t walk in Judea, because the Jews sought to kill him.</span>
  <span class="verse" title="John 7:2" id="John-7-2">Now the feast of the Jews, the Feast of Booths, was at hand.</span>
  <span class="verse" title="John 7:3" id="John-7-3">His brothers therefore said to him, &#8220;Depart from here, and go into Judea, that your disciples also may see your works which you do.</span>
  <span class="verse" title="John 7:4" id="John-7-4">For no one does anything in secret, and himself seeks to be known openly. If you do these things, reveal yourself to the world.&#8221;</span>
  <span class="verse" title="John 7:5" id="John-7-5">For even his brothers didn&#8217;t believe in him.</span>
  <span class="verse" title="John 7:6" id="John-7-6">Jesus therefore said to them, &#8220;My time has not yet come, but your time is always ready.</span>
  <span class="verse" title="John 7:7" id="John-7-7">The world can&#8217;t hate you, but it hates me, because I testify about it, that its works are evil.</span>
  <span class="verse" title="John 7:8" id="John-7-8">You go up to the feast. I am not yet going up to this feast, because my time is not yet fulfilled.&#8221;</span>
  <span class="verse" title="John 7:9" id="John-7-9">Having said these things to them, he stayed in Galilee.</span>
  <span class="verse" title="John 7:10" id="John-7-10">But when his brothers had gone up to the feast, then he also went up, not publicly, but as it were in secret.</span>
  <span class="verse" title="John 7:11" id="John-7-11">The Jews therefore sought him at the feast, and said, &#8220;Where is he?&#8221;</span>
  <span class="verse" title="John 7:12" id="John-7-12">There was much murmuring among the multitudes concerning him. Some said, &#8220;He is a good man.&#8221; Others said, &#8220;Not so, but he leads the multitude astray.&#8221;</span>
  <span class="verse" title="John 7:13" id="John-7-13">Yet no one spoke openly of him for fear of the Jews.</span>
  <span class="verse" title="John 7:14" id="John-7-14">But when it was now the midst of the feast, Jesus went up into the temple and taught.</span>
  <span class="verse" title="John 7:15" id="John-7-15">The Jews therefore marveled, saying, &#8220;How does this man know letters, having never been educated?&#8221;</span>
  <span class="verse" title="John 7:16" id="John-7-16">Jesus therefore answered them, &#8220;My teaching is not mine, but his who sent me.</span>
  <span class="verse" title="John 7:17" id="John-7-17">If anyone desires to do his will, he will know about the teaching, whether it is from God, or if I am speaking from myself.</span>
  <span class="verse" title="John 7:18" id="John-7-18">He who speaks from himself seeks his own glory, but he who seeks the glory of him who sent him is true, and no unrighteousness is in him.</span>
  <span class="verse" title="John 7:19" id="John-7-19">Didn&#8217;t Moses give you the law, and yet none of you keeps the law? Why do you seek to kill me?&#8221;</span>
  <span class="verse" title="John 7:20" id="John-7-20">The multitude answered, &#8220;You have a demon! Who seeks to kill you?&#8221;</span>
  <span class="verse" title="John 7:21" id="John-7-21">Jesus answered them, &#8220;I did one work, and you all marvel because of it.</span>
  <span class="verse" title="John 7:22" id="John-7-22">Moses has given you circumcision (not that it is of Moses, but of the fathers), and on the Sabbath you circumcise a boy.</span>
  <span class="verse" title="John 7:23" id="John-7-23">If a boy receives circumcision on the Sabbath, that the law of Moses may not be broken, are you angry with me, because I made a man completely healthy on the Sabbath?</span>
  <span class="verse" title="John 7:24" id="John-7-24">Don&#8217;t judge according to appearance, but judge righteous judgment.&#8221;</span>
  <span class="verse" title="John 7:25" id="John-7-25">Therefore some of them of Jerusalem said, &#8220;Isn&#8217;t this he whom they seek to kill?</span>
  <span class="verse" title="John 7:26" id="John-7-26">Behold, he speaks openly, and they say nothing to him. Can it be that the rulers indeed know that this is truly the Christ?</span>
  <span class="verse" title="John 7:27" id="John-7-27">However we know where this man comes from, but when the Christ comes, no one will know where he comes from.&#8221;</span>
  <span class="verse" title="John 7:28" id="John-7-28">Jesus therefore cried out in the temple, teaching and saying, &#8220;You both know me, and know where I am from. I have not come of myself, but he who sent me is true, whom you don&#8217;t know.</span>
  <span class="verse" title="John 7:29" id="John-7-29">I know him, because I am from him, and he sent me.&#8221;</span>
  <span class="verse" title="John 7:30" id="John-7-30">They sought therefore to take him; but no one laid a hand on him, because his hour had not yet come.</span>
  <span class="verse" title="John 7:31" id="John-7-31">But of the multitude, many believed in him. They said, &#8220;When the Christ comes, he won&#8217;t do more signs than those which this man has done, will he?&#8221;</span>
  <span class="verse" title="John 7:32" id="John-7-32">The Pharisees heard the multitude murmuring these things concerning him, and the chief priests and the Pharisees sent officers to arrest him.</span>
  <span class="verse" title="John 7:33" id="John-7-33">Then Jesus said, &#8220;I will be with you a little while longer, then I go to him who sent me.</span>
  <span class="verse" title="John 7:34" id="John-7-34">You will seek me, and won&#8217;t find me; and where I am, you can&#8217;t come.&#8221;</span>
  <span class="verse" title="John 7:35" id="John-7-35">The Jews therefore said among themselves, &#8220;Where will this man go that we won&#8217;t find him? Will he go to the Dispersion among the Greeks, and teach the Greeks?</span>
  <span class="verse" title="John 7:36" id="John-7-36">What is this word that he said, &#8216;You will seek me, and won&#8217;t find me; and where I am, you can&#8217;t come&#8217;?&#8221;</span>
  <span class="verse" title="John 7:37" id="John-7-37">Now on the last and greatest day of the feast, Jesus stood and cried out, &#8220;If anyone is thirsty, let him come to me and drink!</span>
  <span class="verse" title="John 7:38" id="John-7-38">He who believes in me, as the Scripture has said, from within him will flow rivers of living water.&#8221;</span>
  <span class="verse" title="John 7:39" id="John-7-39">But he said this about the Spirit, which those believing in him were to receive. For the Holy Spirit was not yet given, because Jesus wasn&#8217;t yet glorified.</span>
  <span class="verse" title="John 7:40" id="John-7-40">Many of the multitude therefore, when they heard these words, said, &#8220;This is truly the prophet.&#8221;</span>
  <span class="verse" title="John 7:41" id="John-7-41">Others said, &#8220;This is the Christ.&#8221; But some said, &#8220;What, does the Christ come out of Galilee?</span>
  <span class="verse" title="John 7:42" id="John-7-42">Hasn&#8217;t the Scripture said that the Christ comes of the seed of David, and from Bethlehem, the village where David was?&#8221;</span>
  <span class="verse" title="John 7:43" id="John-7-43">So there arose a division in the multitude because of him.</span>
  <span class="verse" title="John 7:44" id="John-7-44">Some of them would have arrested him, but no one laid hands on him.</span>
  <span class="verse" title="John 7:45" id="John-7-45">The officers therefore came to the chief priests and Pharisees, and they said to them, &#8220;Why didn&#8217;t you bring him?&#8221;</span>
  <span class="verse" title="John 7:46" id="John-7-46">The officers answered, &#8220;No man ever spoke like this man!&#8221;</span>
  <span class="verse" title="John 7:47" id="John-7-47">The Pharisees therefore answered them, &#8220;You aren&#8217;t also led astray, are you?</span>
  <span class="verse" title="John 7:48" id="John-7-48">Have any of the rulers believed in him, or of the Pharisees?</span>
  <span class="verse" title="John 7:49" id="John-7-49">But this multitude that doesn&#8217;t know the law is accursed.&#8221;</span>
  <span class="verse" title="John 7:50" id="John-7-50">Nicodemus (he who came to him by night, being one of them) said to them,</span>
  <span class="verse" title="John 7:51" id="John-7-51">&#8220;Does our law judge a man, unless it first hears from him personally and knows what he does?&#8221;</span>
  <span class="verse" title="John 7:52" id="John-7-52">They answered him, &#8220;Are you also from Galilee? Search, and see that no prophet has arisen out of Galilee.&#8221;</span>
  <span class="verse" title="John 7:53" id="John-7-53">Everyone went to his own house,</span>
</div>