<div class="chapter" id="John-008">
  <h2>John 8</h2>
  <span class="verse" title="John 8:1" id="John-8-1">but Jesus went to the Mount of Olives.</span>
  <span class="verse" title="John 8:2" id="John-8-2">Now very early in the morning, he came again into the temple, and all the people came to him. He sat down, and taught them.</span>
  <span class="verse" title="John 8:3" id="John-8-3">The scribes and the Pharisees brought a woman taken in adultery. Having set her in the midst,</span>
  <span class="verse" title="John 8:4" id="John-8-4">they told him, &#8220;Teacher, we found this woman in adultery, in the very act.</span>
  <span class="verse" title="John 8:5" id="John-8-5">Now in our law, Moses commanded us to stone such. What then do you say about her?&#8221;</span>
  <span class="verse" title="John 8:6" id="John-8-6">They said this testing him, that they might have something to accuse him of. But Jesus stooped down, and wrote on the ground with his finger.</span>
  <span class="verse" title="John 8:7" id="John-8-7">But when they continued asking him, he looked up and said to them, &#8220;He who is without sin among you, let him throw the first stone at her.&#8221;</span>
  <span class="verse" title="John 8:8" id="John-8-8">Again he stooped down, and with his finger wrote on the ground.</span>
  <span class="verse" title="John 8:9" id="John-8-9">They, when they heard it, being convicted by their conscience, went out one by one, beginning from the oldest, even to the last. Jesus was left alone with the woman where she was, in the middle.</span>
  <span class="verse" title="John 8:10" id="John-8-10">Jesus, standing up, saw her and said, &#8220;Woman, where are your accusers? Did no one condemn you?&#8221;</span>
  <span class="verse" title="John 8:11" id="John-8-11">She said, &#8220;No one, Lord.&#8221; Jesus said, &#8220;Neither do I condemn you. Go your way. From now on, sin no more.&#8221;</span>
  <span class="verse" title="John 8:12" id="John-8-12">Again, therefore, Jesus spoke to them, saying, &#8220;I am the light of the world. He who follows me will not walk in the darkness, but will have the light of life.&#8221;</span>
  <span class="verse" title="John 8:13" id="John-8-13">The Pharisees therefore said to him, &#8220;You testify about yourself. Your testimony is not valid.&#8221;</span>
  <span class="verse" title="John 8:14" id="John-8-14">Jesus answered them, &#8220;Even if I testify about myself, my testimony is true, for I know where I came from, and where I am going; but you don&#8217;t know where I came from, or where I am going.</span>
  <span class="verse" title="John 8:15" id="John-8-15">You judge according to the flesh. I judge no one.</span>
  <span class="verse" title="John 8:16" id="John-8-16">Even if I do judge, my judgment is true, for I am not alone, but I am with the Father who sent me.</span>
  <span class="verse" title="John 8:17" id="John-8-17">It&#8217;s also written in your law that the testimony of two people is valid.</span>
  <span class="verse" title="John 8:18" id="John-8-18">I am one who testifies about myself, and the Father who sent me testifies about me.&#8221;</span>
  <span class="verse" title="John 8:19" id="John-8-19">They said therefore to him, &#8220;Where is your Father?&#8221; Jesus answered, &#8220;You know neither me, nor my Father. If you knew me, you would know my Father also.&#8221;</span>
  <span class="verse" title="John 8:20" id="John-8-20">Jesus spoke these words in the treasury, as he taught in the temple. Yet no one arrested him, because his hour had not yet come.</span>
  <span class="verse" title="John 8:21" id="John-8-21">Jesus said therefore again to them, &#8220;I am going away, and you will seek me, and you will die in your sins. Where I go, you can&#8217;t come.&#8221;</span>
  <span class="verse" title="John 8:22" id="John-8-22">The Jews therefore said, &#8220;Will he kill himself, that he says, &#8216;Where I am going, you can&#8217;t come?&#8217;&#8221;</span>
  <span class="verse" title="John 8:23" id="John-8-23">He said to them, &#8220;You are from beneath. I am from above. You are of this world. I am not of this world.</span>
  <span class="verse" title="John 8:24" id="John-8-24">I said therefore to you that you will die in your sins; for unless you believe that I am he, you will die in your sins.&#8221;</span>
  <span class="verse" title="John 8:25" id="John-8-25">They said therefore to him, &#8220;Who are you?&#8221; Jesus said to them, &#8220;Just what I have been saying to you from the beginning.</span>
  <span class="verse" title="John 8:26" id="John-8-26">I have many things to speak and to judge concerning you. However he who sent me is true; and the things which I heard from him, these I say to the world.&#8221;</span>
  <span class="verse" title="John 8:27" id="John-8-27">They didn&#8217;t understand that he spoke to them about the Father.</span>
  <span class="verse" title="John 8:28" id="John-8-28">Jesus therefore said to them, &#8220;When you have lifted up the Son of Man, then you will know that I am he, and I do nothing of myself, but as my Father taught me, I say these things.</span>
  <span class="verse" title="John 8:29" id="John-8-29">He who sent me is with me. The Father hasn&#8217;t left me alone, for I always do the things that are pleasing to him.&#8221;</span>
  <span class="verse" title="John 8:30" id="John-8-30">As he spoke these things, many believed in him.</span>
  <span class="verse" title="John 8:31" id="John-8-31">Jesus therefore said to those Jews who had believed him, &#8220;If you remain in my word, then you are truly my disciples.</span>
  <span class="verse" title="John 8:32" id="John-8-32">You will know the truth, and the truth will make you free.&#8221;</span>
  <span class="verse" title="John 8:33" id="John-8-33">They answered him, &#8220;We are Abraham&#8217;s seed, and have never been in bondage to anyone. How do you say, &#8216;You will be made free?&#8217;&#8221;</span>
  <span class="verse" title="John 8:34" id="John-8-34">Jesus answered them, &#8220;Most certainly I tell you, everyone who commits sin is the bondservant of sin.</span>
  <span class="verse" title="John 8:35" id="John-8-35">A bondservant doesn&#8217;t live in the house forever. A son remains forever.</span>
  <span class="verse" title="John 8:36" id="John-8-36">If therefore the Son makes you free, you will be free indeed.</span>
  <span class="verse" title="John 8:37" id="John-8-37">I know that you are Abraham&#8217;s seed, yet you seek to kill me, because my word finds no place in you.</span>
  <span class="verse" title="John 8:38" id="John-8-38">I say the things which I have seen with my Father; and you also do the things which you have seen with your father.&#8221;</span>
  <span class="verse" title="John 8:39" id="John-8-39">They answered him, &#8220;Our father is Abraham.&#8221; Jesus said to them, &#8220;If you were Abraham&#8217;s children, you would do the works of Abraham.</span>
  <span class="verse" title="John 8:40" id="John-8-40">But now you seek to kill me, a man who has told you the truth, which I heard from God. Abraham didn&#8217;t do this.</span>
  <span class="verse" title="John 8:41" id="John-8-41">You do the works of your father.&#8221; They said to him, &#8220;We were not born of sexual immorality. We have one Father, God.&#8221;</span>
  <span class="verse" title="John 8:42" id="John-8-42">Therefore Jesus said to them, &#8220;If God were your father, you would love me, for I came out and have come from God. For I haven&#8217;t come of myself, but he sent me.</span>
  <span class="verse" title="John 8:43" id="John-8-43">Why don&#8217;t you understand my speech? Because you can&#8217;t hear my word.</span>
  <span class="verse" title="John 8:44" id="John-8-44">You are of your father, the devil, and you want to do the desires of your father. He was a murderer from the beginning, and doesn&#8217;t stand in the truth, because there is no truth in him. When he speaks a lie, he speaks on his own; for he is a liar, and its father.</span>
  <span class="verse" title="John 8:45" id="John-8-45">But because I tell the truth, you don&#8217;t believe me.</span>
  <span class="verse" title="John 8:46" id="John-8-46">Which of you convicts me of sin? If I tell the truth, why do you not believe me?</span>
  <span class="verse" title="John 8:47" id="John-8-47">He who is of God hears the words of God. For this cause you don&#8217;t hear, because you are not of God.&#8221;</span>
  <span class="verse" title="John 8:48" id="John-8-48">Then the Jews answered him, &#8220;Don&#8217;t we say well that you are a Samaritan, and have a demon?&#8221;</span>
  <span class="verse" title="John 8:49" id="John-8-49">Jesus answered, &#8220;I don&#8217;t have a demon, but I honor my Father, and you dishonor me.</span>
  <span class="verse" title="John 8:50" id="John-8-50">But I don&#8217;t seek my own glory. There is one who seeks and judges.</span>
  <span class="verse" title="John 8:51" id="John-8-51">Most certainly, I tell you, if a person keeps my word, he will never see death.&#8221;</span>
  <span class="verse" title="John 8:52" id="John-8-52">Then the Jews said to him, &#8220;Now we know that you have a demon. Abraham died, and the prophets; and you say, &#8216;If a man keeps my word, he will never taste of death.&#8217;</span>
  <span class="verse" title="John 8:53" id="John-8-53">Are you greater than our father, Abraham, who died? The prophets died. Who do you make yourself out to be?&#8221;</span>
  <span class="verse" title="John 8:54" id="John-8-54">Jesus answered, &#8220;If I glorify myself, my glory is nothing. It is my Father who glorifies me, of whom you say that he is our God.</span>
  <span class="verse" title="John 8:55" id="John-8-55">You have not known him, but I know him. If I said, &#8216;I don&#8217;t know him,&#8217; I would be like you, a liar. But I know him, and keep his word.</span>
  <span class="verse" title="John 8:56" id="John-8-56">Your father Abraham rejoiced to see my day. He saw it, and was glad.&#8221;</span>
  <span class="verse" title="John 8:57" id="John-8-57">The Jews therefore said to him, &#8220;You are not yet fifty years old, and have you seen Abraham?&#8221;</span>
  <span class="verse" title="John 8:58" id="John-8-58">Jesus said to them, &#8220;Most certainly, I tell you, before Abraham came into existence, I AM.&#8221;</span>
  <span class="verse" title="John 8:59" id="John-8-59">Therefore they took up stones to throw at him, but Jesus was hidden, and went out of the temple, having gone through their midst, and so passed by.</span>
</div>