<div class="chapter" id="John-009">
  <h2>John 9</h2>
  <span class="verse" title="John 9:1" id="John-9-1">As he passed by, he saw a man blind from birth.</span>
  <span class="verse" title="John 9:2" id="John-9-2">His disciples asked him, &#8220;Rabbi, who sinned, this man or his parents, that he was born blind?&#8221;</span>
  <span class="verse" title="John 9:3" id="John-9-3">Jesus answered, &#8220;Neither did this man sin, nor his parents; but, that the works of God might be revealed in him.</span>
  <span class="verse" title="John 9:4" id="John-9-4">I must work the works of him who sent me, while it is day. The night is coming, when no one can work.</span>
  <span class="verse" title="John 9:5" id="John-9-5">While I am in the world, I am the light of the world.&#8221;</span>
  <span class="verse" title="John 9:6" id="John-9-6">When he had said this, he spat on the ground, made mud with the saliva, anointed the blind man&#8217;s eyes with the mud,</span>
  <span class="verse" title="John 9:7" id="John-9-7">and said to him, &#8220;Go, wash in the pool of Siloam&#8221; (which means &#8220;Sent&#8221;). So he went away, washed, and came back seeing.</span>
  <span class="verse" title="John 9:8" id="John-9-8">The neighbors therefore, and those who saw that he was blind before, said, &#8220;Isn&#8217;t this he who sat and begged?&#8221;</span>
  <span class="verse" title="John 9:9" id="John-9-9">Others were saying, &#8220;It is he.&#8221; Still others were saying, &#8220;He looks like him.&#8221; He said, &#8220;I am he.&#8221;</span>
  <span class="verse" title="John 9:10" id="John-9-10">They therefore were asking him, &#8220;How were your eyes opened?&#8221;</span>
  <span class="verse" title="John 9:11" id="John-9-11">He answered, &#8220;A man called Jesus made mud, anointed my eyes, and said to me, &#8216;Go to the pool of Siloam, and wash.&#8217; So I went away and washed, and I received sight.&#8221;</span>
  <span class="verse" title="John 9:12" id="John-9-12">Then they asked him, &#8220;Where is he?&#8221; He said, &#8220;I don&#8217;t know.&#8221;</span>
  <span class="verse" title="John 9:13" id="John-9-13">They brought him who had been blind to the Pharisees.</span>
  <span class="verse" title="John 9:14" id="John-9-14">It was a Sabbath when Jesus made the mud and opened his eyes.</span>
  <span class="verse" title="John 9:15" id="John-9-15">Again therefore the Pharisees also asked him how he received his sight. He said to them, &#8220;He put mud on my eyes, I washed, and I see.&#8221;</span>
  <span class="verse" title="John 9:16" id="John-9-16">Some therefore of the Pharisees said, &#8220;This man is not from God, because he doesn&#8217;t keep the Sabbath.&#8221; Others said, &#8220;How can a man who is a sinner do such signs?&#8221; There was division among them.</span>
  <span class="verse" title="John 9:17" id="John-9-17">Therefore they asked the blind man again, &#8220;What do you say about him, because he opened your eyes?&#8221; He said, &#8220;He is a prophet.&#8221;</span>
  <span class="verse" title="John 9:18" id="John-9-18">The Jews therefore did not believe concerning him, that he had been blind, and had received his sight, until they called the parents of him who had received his sight,</span>
  <span class="verse" title="John 9:19" id="John-9-19">and asked them, &#8220;Is this your son, whom you say was born blind? How then does he now see?&#8221;</span>
  <span class="verse" title="John 9:20" id="John-9-20">His parents answered them, &#8220;We know that this is our son, and that he was born blind;</span>
  <span class="verse" title="John 9:21" id="John-9-21">but how he now sees, we don&#8217;t know; or who opened his eyes, we don&#8217;t know. He is of age. Ask him. He will speak for himself.&#8221;</span>
  <span class="verse" title="John 9:22" id="John-9-22">His parents said these things because they feared the Jews; for the Jews had already agreed that if any man would confess him as Christ, he would be put out of the synagogue.</span>
  <span class="verse" title="John 9:23" id="John-9-23">Therefore his parents said, &#8220;He is of age. Ask him.&#8221;</span>
  <span class="verse" title="John 9:24" id="John-9-24">So they called the man who was blind a second time, and said to him, &#8220;Give glory to God. We know that this man is a sinner.&#8221;</span>
  <span class="verse" title="John 9:25" id="John-9-25">He therefore answered, &#8220;I don&#8217;t know if he is a sinner. One thing I do know: that though I was blind, now I see.&#8221;</span>
  <span class="verse" title="John 9:26" id="John-9-26">They said to him again, &#8220;What did he do to you? How did he open your eyes?&#8221;</span>
  <span class="verse" title="John 9:27" id="John-9-27">He answered them, &#8220;I told you already, and you didn&#8217;t listen. Why do you want to hear it again? You don&#8217;t also want to become his disciples, do you?&#8221;</span>
  <span class="verse" title="John 9:28" id="John-9-28">They insulted him and said, &#8220;You are his disciple, but we are disciples of Moses.</span>
  <span class="verse" title="John 9:29" id="John-9-29">We know that God has spoken to Moses. But as for this man, we don&#8217;t know where he comes from.&#8221;</span>
  <span class="verse" title="John 9:30" id="John-9-30">The man answered them, &#8220;How amazing! You don&#8217;t know where he comes from, yet he opened my eyes.</span>
  <span class="verse" title="John 9:31" id="John-9-31">We know that God doesn&#8217;t listen to sinners, but if anyone is a worshipper of God, and does his will, he listens to him.</span>
  <span class="verse" title="John 9:32" id="John-9-32">Since the world began it has never been heard of that anyone opened the eyes of someone born blind.</span>
  <span class="verse" title="John 9:33" id="John-9-33">If this man were not from God, he could do nothing.&#8221;</span>
  <span class="verse" title="John 9:34" id="John-9-34">They answered him, &#8220;You were altogether born in sins, and do you teach us?&#8221; They threw him out.</span>
  <span class="verse" title="John 9:35" id="John-9-35">Jesus heard that they had thrown him out, and finding him, he said, &#8220;Do you believe in the Son of God?&#8221;</span>
  <span class="verse" title="John 9:36" id="John-9-36">He answered, &#8220;Who is he, Lord, that I may believe in him?&#8221;</span>
  <span class="verse" title="John 9:37" id="John-9-37">Jesus said to him, &#8220;You have both seen him, and it is he who speaks with you.&#8221;</span>
  <span class="verse" title="John 9:38" id="John-9-38">He said, &#8220;Lord, I believe!&#8221; and he worshiped him.</span>
  <span class="verse" title="John 9:39" id="John-9-39">Jesus said, &#8220;I came into this world for judgment, that those who don&#8217;t see may see; and that those who see may become blind.&#8221;</span>
  <span class="verse" title="John 9:40" id="John-9-40">Those of the Pharisees who were with him heard these things, and said to him, &#8220;Are we also blind?&#8221;</span>
  <span class="verse" title="John 9:41" id="John-9-41">Jesus said to them, &#8220;If you were blind, you would have no sin; but now you say, &#8216;We see.&#8217; Therefore your sin remains.</span>
</div>