<div class="chapter" id="John-010">
  <h2>John 10</h2>
  <span class="verse" title="John 10:1" id="John-10-1">&#8220;Most certainly, I tell you, one who doesn&#8217;t enter by the door into the sheep fold, but climbs up some other way, the same is a thief and a robber.</span>
  <span class="verse" title="John 10:2" id="John-10-2">But one who enters in by the door is the shepherd of the sheep.</span>
  <span class="verse" title="John 10:3" id="John-10-3">The gatekeeper opens the gate for him, and the sheep listen to his voice. He calls his own sheep by name, and leads them out.</span>
  <span class="verse" title="John 10:4" id="John-10-4">Whenever he brings out his own sheep, he goes before them, and the sheep follow him, for they know his voice.</span>
  <span class="verse" title="John 10:5" id="John-10-5">They will by no means follow a stranger, but will flee from him; for they don&#8217;t know the voice of strangers.&#8221;</span>
  <span class="verse" title="John 10:6" id="John-10-6">Jesus spoke this parable to them, but they didn&#8217;t understand what he was telling them.</span>
  <span class="verse" title="John 10:7" id="John-10-7">Jesus therefore said to them again, &#8220;Most certainly, I tell you, I am the sheep&#8217;s door.</span>
  <span class="verse" title="John 10:8" id="John-10-8">All who came before me are thieves and robbers, but the sheep didn&#8217;t listen to them.</span>
  <span class="verse" title="John 10:9" id="John-10-9">I am the door. If anyone enters in by me, he will be saved, and will go in and go out, and will find pasture.</span>
  <span class="verse" title="John 10:10" id="John-10-10">The thief only comes to steal, kill, and destroy. I came that they may have life, and may have it abundantly.</span>
  <span class="verse" title="John 10:11" id="John-10-11">I am the good shepherd. The good shepherd lays down his life for the sheep.</span>
  <span class="verse" title="John 10:12" id="John-10-12">He who is a hired hand, and not a shepherd, who doesn&#8217;t own the sheep, sees the wolf coming, leaves the sheep, and flees. The wolf snatches the sheep, and scatters them.</span>
  <span class="verse" title="John 10:13" id="John-10-13">The hired hand flees because he is a hired hand, and doesn&#8217;t care for the sheep.</span>
  <span class="verse" title="John 10:14" id="John-10-14">I am the good shepherd. I know my own, and I&#8217;m known by my own;</span>
  <span class="verse" title="John 10:15" id="John-10-15">even as the Father knows me, and I know the Father. I lay down my life for the sheep.</span>
  <span class="verse" title="John 10:16" id="John-10-16">I have other sheep, which are not of this fold. I must bring them also, and they will hear my voice. They will become one flock with one shepherd.</span>
  <span class="verse" title="John 10:17" id="John-10-17">Therefore the Father loves me, because I lay down my life, that I may take it again.</span>
  <span class="verse" title="John 10:18" id="John-10-18">No one takes it away from me, but I lay it down by myself. I have power to lay it down, and I have power to take it again. I received this commandment from my Father.&#8221;</span>
  <span class="verse" title="John 10:19" id="John-10-19">Therefore a division arose again among the Jews because of these words.</span>
  <span class="verse" title="John 10:20" id="John-10-20">Many of them said, &#8220;He has a demon, and is insane! Why do you listen to him?&#8221;</span>
  <span class="verse" title="John 10:21" id="John-10-21">Others said, &#8220;These are not the sayings of one possessed by a demon. It isn&#8217;t possible for a demon to open the eyes of the blind, is it?&#8221;</span>
  <span class="verse" title="John 10:22" id="John-10-22">It was the Feast of the Dedication at Jerusalem.</span>
  <span class="verse" title="John 10:23" id="John-10-23">It was winter, and Jesus was walking in the temple, in Solomon&#8217;s porch.</span>
  <span class="verse" title="John 10:24" id="John-10-24">The Jews therefore came around him and said to him, &#8220;How long will you hold us in suspense? If you are the Christ, tell us plainly.&#8221;</span>
  <span class="verse" title="John 10:25" id="John-10-25">Jesus answered them, &#8220;I told you, and you don&#8217;t believe. The works that I do in my Father&#8217;s name, these testify about me.</span>
  <span class="verse" title="John 10:26" id="John-10-26">But you don&#8217;t believe, because you are not of my sheep, as I told you.</span>
  <span class="verse" title="John 10:27" id="John-10-27">My sheep hear my voice, and I know them, and they follow me.</span>
  <span class="verse" title="John 10:28" id="John-10-28">I give eternal life to them. They will never perish, and no one will snatch them out of my hand.</span>
  <span class="verse" title="John 10:29" id="John-10-29">My Father, who has given them to me, is greater than all. No one is able to snatch them out of my Father&#8217;s hand.</span>
  <span class="verse" title="John 10:30" id="John-10-30">I and the Father are one.&#8221;</span>
  <span class="verse" title="John 10:31" id="John-10-31">Therefore Jews took up stones again to stone him.</span>
  <span class="verse" title="John 10:32" id="John-10-32">Jesus answered them, &#8220;I have shown you many good works from my Father. For which of those works do you stone me?&#8221;</span>
  <span class="verse" title="John 10:33" id="John-10-33">The Jews answered him, &#8220;We don&#8217;t stone you for a good work, but for blasphemy: because you, being a man, make yourself God.&#8221;</span>
  <span class="verse" title="John 10:34" id="John-10-34">Jesus answered them, &#8220;Isn&#8217;t it written in your law, &#8216;I said, you are gods?&#8217;</span>
  <span class="verse" title="John 10:35" id="John-10-35">If he called them gods, to whom the word of God came (and the Scripture can&#8217;t be broken),</span>
  <span class="verse" title="John 10:36" id="John-10-36">do you say of him whom the Father sanctified and sent into the world, &#8216;You blaspheme,&#8217; because I said, &#8216;I am the Son of God?&#8217;</span>
  <span class="verse" title="John 10:37" id="John-10-37">If I don&#8217;t do the works of my Father, don&#8217;t believe me.</span>
  <span class="verse" title="John 10:38" id="John-10-38">But if I do them, though you don&#8217;t believe me, believe the works; that you may know and believe that the Father is in me, and I in the Father.&#8221;</span>
  <span class="verse" title="John 10:39" id="John-10-39">They sought again to seize him, and he went out of their hand.</span>
  <span class="verse" title="John 10:40" id="John-10-40">He went away again beyond the Jordan into the place where John was baptizing at first, and there he stayed.</span>
  <span class="verse" title="John 10:41" id="John-10-41">Many came to him. They said, &#8220;John indeed did no sign, but everything that John said about this man is true.&#8221;</span>
  <span class="verse" title="John 10:42" id="John-10-42">Many believed in him there.</span>
</div>