<div class="chapter" id="John-011">
  <h2>John 11</h2>
  <span class="verse" title="John 11:1" id="John-11-1">Now a certain man was sick, Lazarus from Bethany, of the village of Mary and her sister, Martha.</span>
  <span class="verse" title="John 11:2" id="John-11-2">It was that Mary who had anointed the Lord with ointment, and wiped his feet with her hair, whose brother, Lazarus, was sick.</span>
  <span class="verse" title="John 11:3" id="John-11-3">The sisters therefore sent to him, saying, &#8220;Lord, behold, he for whom you have great affection is sick.&#8221;</span>
  <span class="verse" title="John 11:4" id="John-11-4">But when Jesus heard it, he said, &#8220;This sickness is not to death, but for the glory of God, that God&#8217;s Son may be glorified by it.&#8221;</span>
  <span class="verse" title="John 11:5" id="John-11-5">Now Jesus loved Martha, and her sister, and Lazarus.</span>
  <span class="verse" title="John 11:6" id="John-11-6">When therefore he heard that he was sick, he stayed two days in the place where he was.</span>
  <span class="verse" title="John 11:7" id="John-11-7">Then after this he said to the disciples, &#8220;Let&#8217;s go into Judea again.&#8221;</span>
  <span class="verse" title="John 11:8" id="John-11-8">The disciples told him, &#8220;Rabbi, the Jews were just trying to stone you, and are you going there again?&#8221;</span>
  <span class="verse" title="John 11:9" id="John-11-9">Jesus answered, &#8220;Aren&#8217;t there twelve hours of daylight? If a man walks in the day, he doesn&#8217;t stumble, because he sees the light of this world.</span>
  <span class="verse" title="John 11:10" id="John-11-10">But if a man walks in the night, he stumbles, because the light isn&#8217;t in him.&#8221;</span>
  <span class="verse" title="John 11:11" id="John-11-11">He said these things, and after that, he said to them, &#8220;Our friend, Lazarus, has fallen asleep, but I am going so that I may awake him out of sleep.&#8221;</span>
  <span class="verse" title="John 11:12" id="John-11-12">The disciples therefore said, &#8220;Lord, if he has fallen asleep, he will recover.&#8221;</span>
  <span class="verse" title="John 11:13" id="John-11-13">Now Jesus had spoken of his death, but they thought that he spoke of taking rest in sleep.</span>
  <span class="verse" title="John 11:14" id="John-11-14">So Jesus said to them plainly then, &#8220;Lazarus is dead.</span>
  <span class="verse" title="John 11:15" id="John-11-15">I am glad for your sakes that I was not there, so that you may believe. Nevertheless, let&#8217;s go to him.&#8221;</span>
  <span class="verse" title="John 11:16" id="John-11-16">Thomas therefore, who is called Didymus, said to his fellow disciples, &#8220;Let&#8217;s go also, that we may die with him.&#8221;</span>
  <span class="verse" title="John 11:17" id="John-11-17">So when Jesus came, he found that he had been in the tomb four days already.</span>
  <span class="verse" title="John 11:18" id="John-11-18">Now Bethany was near Jerusalem, about fifteen stadia away.</span>
  <span class="verse" title="John 11:19" id="John-11-19">Many of the Jews had joined the women around Martha and Mary, to console them concerning their brother.</span>
  <span class="verse" title="John 11:20" id="John-11-20">Then when Martha heard that Jesus was coming, she went and met him, but Mary stayed in the house.</span>
  <span class="verse" title="John 11:21" id="John-11-21">Therefore Martha said to Jesus, &#8220;Lord, if you would have been here, my brother wouldn&#8217;t have died.</span>
  <span class="verse" title="John 11:22" id="John-11-22">Even now I know that, whatever you ask of God, God will give you.&#8221;</span>
  <span class="verse" title="John 11:23" id="John-11-23">Jesus said to her, &#8220;Your brother will rise again.&#8221;</span>
  <span class="verse" title="John 11:24" id="John-11-24">Martha said to him, &#8220;I know that he will rise again in the resurrection at the last day.&#8221;</span>
  <span class="verse" title="John 11:25" id="John-11-25">Jesus said to her, &#8220;I am the resurrection and the life. He who believes in me will still live, even if he dies.</span>
  <span class="verse" title="John 11:26" id="John-11-26">Whoever lives and believes in me will never die. Do you believe this?&#8221;</span>
  <span class="verse" title="John 11:27" id="John-11-27">She said to him, &#8220;Yes, Lord. I have come to believe that you are the Christ, God&#8217;s Son, he who comes into the world.&#8221;</span>
  <span class="verse" title="John 11:28" id="John-11-28">When she had said this, she went away, and called Mary, her sister, secretly, saying, &#8220;The Teacher is here, and is calling you.&#8221;</span>
  <span class="verse" title="John 11:29" id="John-11-29">When she heard this, she arose quickly, and went to him.</span>
  <span class="verse" title="John 11:30" id="John-11-30">Now Jesus had not yet come into the village, but was in the place where Martha met him.</span>
  <span class="verse" title="John 11:31" id="John-11-31">Then the Jews who were with her in the house, and were consoling her, when they saw Mary, that she rose up quickly and went out, followed her, saying, &#8220;She is going to the tomb to weep there.&#8221;</span>
  <span class="verse" title="John 11:32" id="John-11-32">Therefore when Mary came to where Jesus was, and saw him, she fell down at his feet, saying to him, &#8220;Lord, if you would have been here, my brother wouldn&#8217;t have died.&#8221;</span>
  <span class="verse" title="John 11:33" id="John-11-33">When Jesus therefore saw her weeping, and the Jews weeping who came with her, he groaned in the spirit, and was troubled,</span>
  <span class="verse" title="John 11:34" id="John-11-34">and said, &#8220;Where have you laid him?&#8221; They told him, &#8220;Lord, come and see.&#8221;</span>
  <span class="verse" title="John 11:35" id="John-11-35">Jesus wept.</span>
  <span class="verse" title="John 11:36" id="John-11-36">The Jews therefore said, &#8220;See how much affection he had for him!&#8221;</span>
  <span class="verse" title="John 11:37" id="John-11-37">Some of them said, &#8220;Couldn&#8217;t this man, who opened the eyes of him who was blind, have also kept this man from dying?&#8221;</span>
  <span class="verse" title="John 11:38" id="John-11-38">Jesus therefore, again groaning in himself, came to the tomb. Now it was a cave, and a stone lay against it.</span>
  <span class="verse" title="John 11:39" id="John-11-39">Jesus said, &#8220;Take away the stone.&#8221; Martha, the sister of him who was dead, said to him, &#8220;Lord, by this time there is a stench, for he has been dead four days.&#8221;</span>
  <span class="verse" title="John 11:40" id="John-11-40">Jesus said to her, &#8220;Didn&#8217;t I tell you that if you believed, you would see God&#8217;s glory?&#8221;</span>
  <span class="verse" title="John 11:41" id="John-11-41">So they took away the stone from the place where the dead man was lying. Jesus lifted up his eyes, and said, &#8220;Father, I thank you that you listened to me.</span>
  <span class="verse" title="John 11:42" id="John-11-42">I know that you always listen to me, but because of the multitude that stands around I said this, that they may believe that you sent me.&#8221;</span>
  <span class="verse" title="John 11:43" id="John-11-43">When he had said this, he cried with a loud voice, &#8220;Lazarus, come out!&#8221;</span>
  <span class="verse" title="John 11:44" id="John-11-44">He who was dead came out, bound hand and foot with wrappings, and his face was wrapped around with a cloth. Jesus said to them, &#8220;Free him, and let him go.&#8221;</span>
  <span class="verse" title="John 11:45" id="John-11-45">Therefore many of the Jews, who came to Mary and saw what Jesus did, believed in him.</span>
  <span class="verse" title="John 11:46" id="John-11-46">But some of them went away to the Pharisees, and told them the things which Jesus had done.</span>
  <span class="verse" title="John 11:47" id="John-11-47">The chief priests therefore and the Pharisees gathered a council, and said, &#8220;What are we doing? For this man does many signs.</span>
  <span class="verse" title="John 11:48" id="John-11-48">If we leave him alone like this, everyone will believe in him, and the Romans will come and take away both our place and our nation.&#8221;</span>
  <span class="verse" title="John 11:49" id="John-11-49">But a certain one of them, Caiaphas, being high priest that year, said to them, &#8220;You know nothing at all,</span>
  <span class="verse" title="John 11:50" id="John-11-50">nor do you consider that it is advantageous for us that one man should die for the people, and that the whole nation not perish.&#8221;</span>
  <span class="verse" title="John 11:51" id="John-11-51">Now he didn&#8217;t say this of himself, but being high priest that year, he prophesied that Jesus would die for the nation,</span>
  <span class="verse" title="John 11:52" id="John-11-52">and not for the nation only, but that he might also gather together into one the children of God who are scattered abroad.</span>
  <span class="verse" title="John 11:53" id="John-11-53">So from that day forward they took counsel that they might put him to death.</span>
  <span class="verse" title="John 11:54" id="John-11-54">Jesus therefore walked no more openly among the Jews, but departed from there into the country near the wilderness, to a city called Ephraim. He stayed there with his disciples.</span>
  <span class="verse" title="John 11:55" id="John-11-55">Now the Passover of the Jews was at hand. Many went up from the country to Jerusalem before the Passover, to purify themselves.</span>
  <span class="verse" title="John 11:56" id="John-11-56">Then they sought for Jesus and spoke one with another, as they stood in the temple, &#8220;What do you think—that he isn&#8217;t coming to the feast at all?&#8221;</span>
  <span class="verse" title="John 11:57" id="John-11-57">Now the chief priests and the Pharisees had commanded that if anyone knew where he was, he should report it, that they might seize him.</span>
</div>