<div class="chapter" id="John-012">
  <h2>John 12</h2>
  <span class="verse" title="John 12:1" id="John-12-1">Then six days before the Passover, Jesus came to Bethany, where Lazarus was, who had been dead, whom he raised from the dead.</span>
  <span class="verse" title="John 12:2" id="John-12-2">So they made him a supper there. Martha served, but Lazarus was one of those who sat at the table with him.</span>
  <span class="verse" title="John 12:3" id="John-12-3">Mary, therefore, took a pound of ointment of pure nard, very precious, and anointed the feet of Jesus, and wiped his feet with her hair. The house was filled with the fragrance of the ointment.</span>
  <span class="verse" title="John 12:4" id="John-12-4">Then Judas Iscariot, Simon&#8217;s son, one of his disciples, who would betray him, said,</span>
  <span class="verse" title="John 12:5" id="John-12-5">&#8220;Why wasn&#8217;t this ointment sold for three hundred denarii, and given to the poor?&#8221;</span>
  <span class="verse" title="John 12:6" id="John-12-6">Now he said this, not because he cared for the poor, but because he was a thief, and having the money box, used to steal what was put into it.</span>
  <span class="verse" title="John 12:7" id="John-12-7">But Jesus said, &#8220;Leave her alone. She has kept this for the day of my burial.</span>
  <span class="verse" title="John 12:8" id="John-12-8">For you always have the poor with you, but you don&#8217;t always have me.&#8221;</span>
  <span class="verse" title="John 12:9" id="John-12-9">A large crowd therefore of the Jews learned that he was there, and they came, not for Jesus&#8217; sake only, but that they might see Lazarus also, whom he had raised from the dead.</span>
  <span class="verse" title="John 12:10" id="John-12-10">But the chief priests conspired to put Lazarus to death also,</span>
  <span class="verse" title="John 12:11" id="John-12-11">because on account of him many of the Jews went away and believed in Jesus.</span>
  <span class="verse" title="John 12:12" id="John-12-12">On the next day a great multitude had come to the feast. When they heard that Jesus was coming to Jerusalem,</span>
  <span class="verse" title="John 12:13" id="John-12-13">they took the branches of the palm trees, and went out to meet him, and cried out, &#8220;Hosanna! Blessed is he who comes in the name of the Lord, the King of Israel!&#8221;</span>
  <span class="verse" title="John 12:14" id="John-12-14">Jesus, having found a young donkey, sat on it. As it is written,</span>
  <span class="verse" title="John 12:15" id="John-12-15">&#8220;Don&#8217;t be afraid, daughter of Zion. Behold, your King comes, sitting on a donkey&#8217;s colt.&#8221;</span>
  <span class="verse" title="John 12:16" id="John-12-16">His disciples didn&#8217;t understand these things at first, but when Jesus was glorified, then they remembered that these things were written about him, and that they had done these things to him.</span>
  <span class="verse" title="John 12:17" id="John-12-17">The multitude therefore that was with him when he called Lazarus out of the tomb, and raised him from the dead, was testifying about it.</span>
  <span class="verse" title="John 12:18" id="John-12-18">For this cause also the multitude went and met him, because they heard that he had done this sign.</span>
  <span class="verse" title="John 12:19" id="John-12-19">The Pharisees therefore said among themselves, &#8220;See how you accomplish nothing. Behold, the world has gone after him.&#8221;</span>
  <span class="verse" title="John 12:20" id="John-12-20">Now there were certain Greeks among those that went up to worship at the feast.</span>
  <span class="verse" title="John 12:21" id="John-12-21">These, therefore, came to Philip, who was from Bethsaida of Galilee, and asked him, saying, &#8220;Sir, we want to see Jesus.&#8221;</span>
  <span class="verse" title="John 12:22" id="John-12-22">Philip came and told Andrew, and in turn, Andrew came with Philip, and they told Jesus.</span>
  <span class="verse" title="John 12:23" id="John-12-23">Jesus answered them, &#8220;The time has come for the Son of Man to be glorified.</span>
  <span class="verse" title="John 12:24" id="John-12-24">Most certainly I tell you, unless a grain of wheat falls into the earth and dies, it remains by itself alone. But if it dies, it bears much fruit.</span>
  <span class="verse" title="John 12:25" id="John-12-25">He who loves his life will lose it. He who hates his life in this world will keep it to eternal life.</span>
  <span class="verse" title="John 12:26" id="John-12-26">If anyone serves me, let him follow me. Where I am, there will my servant also be. If anyone serves me, the Father will honor him.</span>
  <span class="verse" title="John 12:27" id="John-12-27">&#8220;Now my soul is troubled. What shall I say? &#8216;Father, save me from this time?&#8217; But for this cause I came to this time.</span>
  <span class="verse" title="John 12:28" id="John-12-28">Father, glorify your name!&#8221; Then there came a voice out of the sky, saying, &#8220;I have both glorified it, and will glorify it again.&#8221;</span>
  <span class="verse" title="John 12:29" id="John-12-29">The multitude therefore, who stood by and heard it, said that it had thundered. Others said, &#8220;An angel has spoken to him.&#8221;</span>
  <span class="verse" title="John 12:30" id="John-12-30">Jesus answered, &#8220;This voice hasn&#8217;t come for my sake, but for your sakes.</span>
  <span class="verse" title="John 12:31" id="John-12-31">Now is the judgment of this world. Now the prince of this world will be cast out.</span>
  <span class="verse" title="John 12:32" id="John-12-32">And I, if I am lifted up from the earth, will draw all people to myself.&#8221;</span>
  <span class="verse" title="John 12:33" id="John-12-33">But he said this, signifying by what kind of death he should die.</span>
  <span class="verse" title="John 12:34" id="John-12-34">The multitude answered him, &#8220;We have heard out of the law that the Christ remains forever. How do you say, &#8216;The Son of Man must be lifted up?&#8217; Who is this Son of Man?&#8221;</span>
  <span class="verse" title="John 12:35" id="John-12-35">Jesus therefore said to them, &#8220;Yet a little while the light is with you. Walk while you have the light, that darkness doesn&#8217;t overtake you. He who walks in the darkness doesn&#8217;t know where he is going.</span>
  <span class="verse" title="John 12:36" id="John-12-36">While you have the light, believe in the light, that you may become children of light.&#8221; Jesus said these things, and he departed and hid himself from them.</span>
  <span class="verse" title="John 12:37" id="John-12-37">But though he had done so many signs before them, yet they didn&#8217;t believe in him,</span>
  <span class="verse" title="John 12:38" id="John-12-38">that the word of Isaiah the prophet might be fulfilled, which he spoke,  &#8220;Lord, who has believed our report?<br/> <span class="indent">&nbsp;&nbsp;</span>To whom has the arm of the Lord been revealed?&#8221;<br/></span>
  <span class="verse" title="John 12:39" id="John-12-39">For this cause they couldn&#8217;t believe, for Isaiah said again,</span>
  <span class="verse" title="John 12:40" id="John-12-40">&#8220;He has blinded their eyes and he hardened their heart,<br/> <span class="indent">&nbsp;&nbsp;</span>lest they should see with their eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>and perceive with their heart,<br/> <span class="indent">&nbsp;&nbsp;</span>and would turn,<br/> <span class="indent">&nbsp;&nbsp;</span>and I would heal them.&#8221;<br/></span>
  <span class="verse" title="John 12:41" id="John-12-41">Isaiah said these things when he saw his glory, and spoke of him.</span>
  <span class="verse" title="John 12:42" id="John-12-42">Nevertheless even of the rulers many believed in him, but because of the Pharisees they didn&#8217;t confess it, so that they wouldn&#8217;t be put out of the synagogue,</span>
  <span class="verse" title="John 12:43" id="John-12-43">for they loved men&#8217;s praise more than God&#8217;s praise.</span>
  <span class="verse" title="John 12:44" id="John-12-44">Jesus cried out and said, &#8220;Whoever believes in me, believes not in me, but in him who sent me.</span>
  <span class="verse" title="John 12:45" id="John-12-45">He who sees me sees him who sent me.</span>
  <span class="verse" title="John 12:46" id="John-12-46">I have come as a light into the world, that whoever believes in me may not remain in the darkness.</span>
  <span class="verse" title="John 12:47" id="John-12-47">If anyone listens to my sayings, and doesn&#8217;t believe, I don&#8217;t judge him. For I came not to judge the world, but to save the world.</span>
  <span class="verse" title="John 12:48" id="John-12-48">He who rejects me, and doesn&#8217;t receive my sayings, has one who judges him. The word that I spoke, the same will judge him in the last day.</span>
  <span class="verse" title="John 12:49" id="John-12-49">For I spoke not from myself, but the Father who sent me, he gave me a commandment, what I should say, and what I should speak.</span>
  <span class="verse" title="John 12:50" id="John-12-50">I know that his commandment is eternal life. The things therefore which I speak, even as the Father has said to me, so I speak.&#8221;</span>
</div>