<div class="chapter" id="John-013">
  <h2>John 13</h2>
  <span class="verse" title="John 13:1" id="John-13-1">Now before the feast of the Passover, Jesus, knowing that his time had come that he would depart from this world to the Father, having loved his own who were in the world, he loved them to the end.</span>
  <span class="verse" title="John 13:2" id="John-13-2">During supper, the devil having already put into the heart of Judas Iscariot, Simon&#8217;s son, to betray him,</span>
  <span class="verse" title="John 13:3" id="John-13-3">Jesus, knowing that the Father had given all things into his hands, and that he came forth from God, and was going to God,</span>
  <span class="verse" title="John 13:4" id="John-13-4">arose from supper, and laid aside his outer garments. He took a towel, and wrapped a towel around his waist.</span>
  <span class="verse" title="John 13:5" id="John-13-5">Then he poured water into the basin, and began to wash the disciples&#8217; feet, and to wipe them with the towel that was wrapped around him.</span>
  <span class="verse" title="John 13:6" id="John-13-6">Then he came to Simon Peter. He said to him, &#8220;Lord, do you wash my feet?&#8221;</span>
  <span class="verse" title="John 13:7" id="John-13-7">Jesus answered him, &#8220;You don&#8217;t know what I am doing now, but you will understand later.&#8221;</span>
  <span class="verse" title="John 13:8" id="John-13-8">Peter said to him, &#8220;You will never wash my feet!&#8221; Jesus answered him, &#8220;If I don&#8217;t wash you, you have no part with me.&#8221;</span>
  <span class="verse" title="John 13:9" id="John-13-9">Simon Peter said to him, &#8220;Lord, not my feet only, but also my hands and my head!&#8221;</span>
  <span class="verse" title="John 13:10" id="John-13-10">Jesus said to him, &#8220;Someone who has bathed only needs to have his feet washed, but is completely clean. You are clean, but not all of you.&#8221;</span>
  <span class="verse" title="John 13:11" id="John-13-11">For he knew him who would betray him, therefore he said, &#8220;You are not all clean.&#8221;</span>
  <span class="verse" title="John 13:12" id="John-13-12">So when he had washed their feet, put his outer garment back on, and sat down again, he said to them, &#8220;Do you know what I have done to you?</span>
  <span class="verse" title="John 13:13" id="John-13-13">You call me, &#8216;Teacher&#8217; and &#8216;Lord.&#8217; You say so correctly, for so I am.</span>
  <span class="verse" title="John 13:14" id="John-13-14">If I then, the Lord and the Teacher, have washed your feet, you also ought to wash one another&#8217;s feet.</span>
  <span class="verse" title="John 13:15" id="John-13-15">For I have given you an example, that you also should do as I have done to you.</span>
  <span class="verse" title="John 13:16" id="John-13-16">Most certainly I tell you, a servant is not greater than his lord, neither one who is sent greater than he who sent him.</span>
  <span class="verse" title="John 13:17" id="John-13-17">If you know these things, blessed are you if you do them.</span>
  <span class="verse" title="John 13:18" id="John-13-18">I don&#8217;t speak concerning all of you. I know whom I have chosen. But that the Scripture may be fulfilled, &#8216;He who eats bread with me has lifted up his heel against me.&#8217;</span>
  <span class="verse" title="John 13:19" id="John-13-19">From now on, I tell you before it happens, that when it happens, you may believe that I am he.</span>
  <span class="verse" title="John 13:20" id="John-13-20">Most certainly I tell you, he who receives whomever I send, receives me; and he who receives me, receives him who sent me.&#8221;</span>
  <span class="verse" title="John 13:21" id="John-13-21">When Jesus had said this, he was troubled in spirit, and testified, &#8220;Most certainly I tell you that one of you will betray me.&#8221;</span>
  <span class="verse" title="John 13:22" id="John-13-22">The disciples looked at one another, perplexed about whom he spoke.</span>
  <span class="verse" title="John 13:23" id="John-13-23">One of his disciples, whom Jesus loved, was at the table, leaning against Jesus&#8217; breast.</span>
  <span class="verse" title="John 13:24" id="John-13-24">Simon Peter therefore beckoned to him, and said to him, &#8220;Tell us who it is of whom he speaks.&#8221;</span>
  <span class="verse" title="John 13:25" id="John-13-25">He, leaning back, as he was, on Jesus&#8217; breast, asked him, &#8220;Lord, who is it?&#8221;</span>
  <span class="verse" title="John 13:26" id="John-13-26">Jesus therefore answered, &#8220;It is he to whom I will give this piece of bread when I have dipped it.&#8221; So when he had dipped the piece of bread, he gave it to Judas, the son of Simon Iscariot.</span>
  <span class="verse" title="John 13:27" id="John-13-27">After the piece of bread, then Satan entered into him. Then Jesus said to him, &#8220;What you do, do quickly.&#8221;</span>
  <span class="verse" title="John 13:28" id="John-13-28">Now no man at the table knew why he said this to him.</span>
  <span class="verse" title="John 13:29" id="John-13-29">For some thought, because Judas had the money box, that Jesus said to him, &#8220;Buy what things we need for the feast,&#8221; or that he should give something to the poor.</span>
  <span class="verse" title="John 13:30" id="John-13-30">Therefore, having received that morsel, he went out immediately. It was night.</span>
  <span class="verse" title="John 13:31" id="John-13-31">When he had gone out, Jesus said, &#8220;Now the Son of Man has been glorified, and God has been glorified in him.</span>
  <span class="verse" title="John 13:32" id="John-13-32">If God has been glorified in him, God will also glorify him in himself, and he will glorify him immediately.</span>
  <span class="verse" title="John 13:33" id="John-13-33">Little children, I will be with you a little while longer. You will seek me, and as I said to the Jews, &#8216;Where I am going, you can&#8217;t come,&#8217; so now I tell you.</span>
  <span class="verse" title="John 13:34" id="John-13-34">A new commandment I give to you, that you love one another, just like I have loved you; that you also love one another.</span>
  <span class="verse" title="John 13:35" id="John-13-35">By this everyone will know that you are my disciples, if you have love for one another.&#8221;</span>
  <span class="verse" title="John 13:36" id="John-13-36">Simon Peter said to him, &#8220;Lord, where are you going?&#8221; Jesus answered, &#8220;Where I am going, you can&#8217;t follow now, but you will follow afterwards.&#8221;</span>
  <span class="verse" title="John 13:37" id="John-13-37">Peter said to him, &#8220;Lord, why can&#8217;t I follow you now? I will lay down my life for you.&#8221;</span>
  <span class="verse" title="John 13:38" id="John-13-38">Jesus answered him, &#8220;Will you lay down your life for me? Most certainly I tell you, the rooster won&#8217;t crow until you have denied me three times.</span>
</div>