<div class="chapter" id="John-014">
  <h2>John 14</h2>
  <span class="verse" title="John 14:1" id="John-14-1">&#8220;Don&#8217;t let your heart be troubled. Believe in God. Believe also in me.</span>
  <span class="verse" title="John 14:2" id="John-14-2">In my Father&#8217;s house are many homes. If it weren&#8217;t so, I would have told you. I am going to prepare a place for you.</span>
  <span class="verse" title="John 14:3" id="John-14-3">If I go and prepare a place for you, I will come again, and will receive you to myself; that where I am, you may be there also.</span>
  <span class="verse" title="John 14:4" id="John-14-4">Where I go, you know, and you know the way.&#8221;</span>
  <span class="verse" title="John 14:5" id="John-14-5">Thomas said to him, &#8220;Lord, we don&#8217;t know where you are going. How can we know the way?&#8221;</span>
  <span class="verse" title="John 14:6" id="John-14-6">Jesus said to him, &#8220;I am the way, the truth, and the life. No one comes to the Father, except through me.</span>
  <span class="verse" title="John 14:7" id="John-14-7">If you had known me, you would have known my Father also. From now on, you know him, and have seen him.&#8221;</span>
  <span class="verse" title="John 14:8" id="John-14-8">Philip said to him, &#8220;Lord, show us the Father, and that will be enough for us.&#8221;</span>
  <span class="verse" title="John 14:9" id="John-14-9">Jesus said to him, &#8220;Have I been with you such a long time, and do you not know me, Philip? He who has seen me has seen the Father. How do you say, &#8216;Show us the Father?&#8217;</span>
  <span class="verse" title="John 14:10" id="John-14-10">Don&#8217;t you believe that I am in the Father, and the Father in me? The words that I tell you, I speak not from myself; but the Father who lives in me does his works.</span>
  <span class="verse" title="John 14:11" id="John-14-11">Believe me that I am in the Father, and the Father in me; or else believe me for the very works&#8217; sake.</span>
  <span class="verse" title="John 14:12" id="John-14-12">Most certainly I tell you, he who believes in me, the works that I do, he will do also; and he will do greater works than these, because I am going to my Father.</span>
  <span class="verse" title="John 14:13" id="John-14-13">Whatever you will ask in my name, that will I do, that the Father may be glorified in the Son.</span>
  <span class="verse" title="John 14:14" id="John-14-14">If you will ask anything in my name, I will do it.</span>
  <span class="verse" title="John 14:15" id="John-14-15">If you love me, keep my commandments.</span>
  <span class="verse" title="John 14:16" id="John-14-16">I will pray to the Father, and he will give you another Counselor, that he may be with you forever,—</span>
  <span class="verse" title="John 14:17" id="John-14-17">the Spirit of truth, whom the world can&#8217;t receive; for it doesn&#8217;t see him, neither knows him. You know him, for he lives with you, and will be in you.</span>
  <span class="verse" title="John 14:18" id="John-14-18">I will not leave you orphans. I will come to you.</span>
  <span class="verse" title="John 14:19" id="John-14-19">Yet a little while, and the world will see me no more; but you will see me. Because I live, you will live also.</span>
  <span class="verse" title="John 14:20" id="John-14-20">In that day you will know that I am in my Father, and you in me, and I in you.</span>
  <span class="verse" title="John 14:21" id="John-14-21">One who has my commandments, and keeps them, that person is one who loves me. One who loves me will be loved by my Father, and I will love him, and will reveal myself to him.&#8221;</span>
  <span class="verse" title="John 14:22" id="John-14-22">Judas (not Iscariot) said to him, &#8220;Lord, what has happened that you are about to reveal yourself to us, and not to the world?&#8221;</span>
  <span class="verse" title="John 14:23" id="John-14-23">Jesus answered him, &#8220;If a man loves me, he will keep my word. My Father will love him, and we will come to him, and make our home with him.</span>
  <span class="verse" title="John 14:24" id="John-14-24">He who doesn&#8217;t love me doesn&#8217;t keep my words. The word which you hear isn&#8217;t mine, but the Father&#8217;s who sent me.</span>
  <span class="verse" title="John 14:25" id="John-14-25">I have said these things to you, while still living with you.</span>
  <span class="verse" title="John 14:26" id="John-14-26">But the Counselor, the Holy Spirit, whom the Father will send in my name, he will teach you all things, and will remind you of all that I said to you.</span>
  <span class="verse" title="John 14:27" id="John-14-27">Peace I leave with you. My peace I give to you; not as the world gives, give I to you. Don&#8217;t let your heart be troubled, neither let it be fearful.</span>
  <span class="verse" title="John 14:28" id="John-14-28">You heard how I told you, &#8216;I go away, and I come to you.&#8217; If you loved me, you would have rejoiced, because I said &#8216;I am going to my Father;&#8217; for the Father is greater than I.</span>
  <span class="verse" title="John 14:29" id="John-14-29">Now I have told you before it happens so that, when it happens, you may believe.</span>
  <span class="verse" title="John 14:30" id="John-14-30">I will no more speak much with you, for the prince of the world comes, and he has nothing in me.</span>
  <span class="verse" title="John 14:31" id="John-14-31">But that the world may know that I love the Father, and as the Father commanded me, even so I do. Arise, let us go from here.</span>
</div>