<div class="chapter" id="John-015">
  <h2>John 15</h2>
  <span class="verse" title="John 15:1" id="John-15-1">&#8220;I am the true vine, and my Father is the farmer.</span>
  <span class="verse" title="John 15:2" id="John-15-2">Every branch in me that doesn&#8217;t bear fruit, he takes away. Every branch that bears fruit, he prunes, that it may bear more fruit.</span>
  <span class="verse" title="John 15:3" id="John-15-3">You are already pruned clean because of the word which I have spoken to you.</span>
  <span class="verse" title="John 15:4" id="John-15-4">Remain in me, and I in you. As the branch can&#8217;t bear fruit by itself, unless it remains in the vine, so neither can you, unless you remain in me.</span>
  <span class="verse" title="John 15:5" id="John-15-5">I am the vine. You are the branches. He who remains in me, and I in him, the same bears much fruit, for apart from me you can do nothing.</span>
  <span class="verse" title="John 15:6" id="John-15-6">If a man doesn&#8217;t remain in me, he is thrown out as a branch, and is withered; and they gather them, throw them into the fire, and they are burned.</span>
  <span class="verse" title="John 15:7" id="John-15-7">If you remain in me, and my words remain in you, you will ask whatever you desire, and it will be done for you.</span>
  <span class="verse" title="John 15:8" id="John-15-8">&#8220;In this is my Father glorified, that you bear much fruit; and so you will be my disciples.</span>
  <span class="verse" title="John 15:9" id="John-15-9">Even as the Father has loved me, I also have loved you. Remain in my love.</span>
  <span class="verse" title="John 15:10" id="John-15-10">If you keep my commandments, you will remain in my love; even as I have kept my Father&#8217;s commandments, and remain in his love.</span>
  <span class="verse" title="John 15:11" id="John-15-11">I have spoken these things to you, that my joy may remain in you, and that your joy may be made full.</span>
  <span class="verse" title="John 15:12" id="John-15-12">&#8220;This is my commandment, that you love one another, even as I have loved you.</span>
  <span class="verse" title="John 15:13" id="John-15-13">Greater love has no one than this, that someone lay down his life for his friends.</span>
  <span class="verse" title="John 15:14" id="John-15-14">You are my friends, if you do whatever I command you.</span>
  <span class="verse" title="John 15:15" id="John-15-15">No longer do I call you servants, for the servant doesn&#8217;t know what his lord does. But I have called you friends, for everything that I heard from my Father, I have made known to you.</span>
  <span class="verse" title="John 15:16" id="John-15-16">You didn&#8217;t choose me, but I chose you, and appointed you, that you should go and bear fruit, and that your fruit should remain; that whatever you will ask of the Father in my name, he may give it to you.</span>
  <span class="verse" title="John 15:17" id="John-15-17">&#8220;I command these things to you, that you may love one another.</span>
  <span class="verse" title="John 15:18" id="John-15-18">If the world hates you, you know that it has hated me before it hated you.</span>
  <span class="verse" title="John 15:19" id="John-15-19">If you were of the world, the world would love its own. But because you are not of the world, since I chose you out of the world, therefore the world hates you.</span>
  <span class="verse" title="John 15:20" id="John-15-20">Remember the word that I said to you: &#8216;A servant is not greater than his lord.&#8217; If they persecuted me, they will also persecute you. If they kept my word, they will keep yours also.</span>
  <span class="verse" title="John 15:21" id="John-15-21">But all these things will they do to you for my name&#8217;s sake, because they don&#8217;t know him who sent me.</span>
  <span class="verse" title="John 15:22" id="John-15-22">If I had not come and spoken to them, they would not have had sin; but now they have no excuse for their sin.</span>
  <span class="verse" title="John 15:23" id="John-15-23">He who hates me, hates my Father also.</span>
  <span class="verse" title="John 15:24" id="John-15-24">If I hadn&#8217;t done among them the works which no one else did, they wouldn&#8217;t have had sin. But now have they seen and also hated both me and my Father.</span>
  <span class="verse" title="John 15:25" id="John-15-25">But this happened so that the word may be fulfilled which was written in their law, &#8216;They hated me without a cause.&#8217;</span>
  <span class="verse" title="John 15:26" id="John-15-26">&#8220;When the Counselor has come, whom I will send to you from the Father, the Spirit of truth, who proceeds from the Father, he will testify about me.</span>
  <span class="verse" title="John 15:27" id="John-15-27">You will also testify, because you have been with me from the beginning.</span>
</div>