<div class="chapter" id="John-016">
  <h2>John 16</h2>
  <span class="verse" title="John 16:1" id="John-16-1">&#8220;These things have I spoken to you, so that you wouldn&#8217;t be caused to stumble.</span>
  <span class="verse" title="John 16:2" id="John-16-2">They will put you out of the synagogues. Yes, the time comes that whoever kills you will think that he offers service to God.</span>
  <span class="verse" title="John 16:3" id="John-16-3">They will do these things because they have not known the Father, nor me.</span>
  <span class="verse" title="John 16:4" id="John-16-4">But I have told you these things, so that when the time comes, you may remember that I told you about them. I didn&#8217;t tell you these things from the beginning, because I was with you.</span>
  <span class="verse" title="John 16:5" id="John-16-5">But now I am going to him who sent me, and none of you asks me, &#8216;Where are you going?&#8217;</span>
  <span class="verse" title="John 16:6" id="John-16-6">But because I have told you these things, sorrow has filled your heart.</span>
  <span class="verse" title="John 16:7" id="John-16-7">Nevertheless I tell you the truth: It is to your advantage that I go away, for if I don&#8217;t go away, the Counselor won&#8217;t come to you. But if I go, I will send him to you.</span>
  <span class="verse" title="John 16:8" id="John-16-8">When he has come, he will convict the world about sin, about righteousness, and about judgment;</span>
  <span class="verse" title="John 16:9" id="John-16-9">about sin, because they don&#8217;t believe in me;</span>
  <span class="verse" title="John 16:10" id="John-16-10">about righteousness, because I am going to my Father, and you won&#8217;t see me any more;</span>
  <span class="verse" title="John 16:11" id="John-16-11">about judgment, because the prince of this world has been judged.</span>
  <span class="verse" title="John 16:12" id="John-16-12">&#8220;I have yet many things to tell you, but you can&#8217;t bear them now.</span>
  <span class="verse" title="John 16:13" id="John-16-13">However when he, the Spirit of truth, has come, he will guide you into all truth, for he will not speak from himself; but whatever he hears, he will speak. He will declare to you things that are coming.</span>
  <span class="verse" title="John 16:14" id="John-16-14">He will glorify me, for he will take from what is mine, and will declare it to you.</span>
  <span class="verse" title="John 16:15" id="John-16-15">All things whatever the Father has are mine; therefore I said that he takes of mine, and will declare it to you.</span>
  <span class="verse" title="John 16:16" id="John-16-16">A little while, and you will not see me. Again a little while, and you will see me.&#8221;</span>
  <span class="verse" title="John 16:17" id="John-16-17">Some of his disciples therefore said to one another, &#8220;What is this that he says to us, &#8216;A little while, and you won&#8217;t see me, and again a little while, and you will see me;&#8217; and, &#8216;Because I go to the Father?&#8217;&#8221;</span>
  <span class="verse" title="John 16:18" id="John-16-18">They said therefore, &#8220;What is this that he says, &#8216;A little while?&#8217; We don&#8217;t know what he is saying.&#8221;</span>
  <span class="verse" title="John 16:19" id="John-16-19">Therefore Jesus perceived that they wanted to ask him, and he said to them, &#8220;Do you inquire among yourselves concerning this, that I said, &#8216;A little while, and you won&#8217;t see me, and again a little while, and you will see me?&#8217;</span>
  <span class="verse" title="John 16:20" id="John-16-20">Most certainly I tell you, that you will weep and lament, but the world will rejoice. You will be sorrowful, but your sorrow will be turned into joy.</span>
  <span class="verse" title="John 16:21" id="John-16-21">A woman, when she gives birth, has sorrow, because her time has come. But when she has delivered the child, she doesn&#8217;t remember the anguish any more, for the joy that a human being is born into the world.</span>
  <span class="verse" title="John 16:22" id="John-16-22">Therefore you now have sorrow, but I will see you again, and your heart will rejoice, and no one will take your joy away from you.</span>
  <span class="verse" title="John 16:23" id="John-16-23">&#8220;In that day you will ask me no questions. Most certainly I tell you, whatever you may ask of the Father in my name, he will give it to you.</span>
  <span class="verse" title="John 16:24" id="John-16-24">Until now, you have asked nothing in my name. Ask, and you will receive, that your joy may be made full.</span>
  <span class="verse" title="John 16:25" id="John-16-25">I have spoken these things to you in figures of speech. But the time is coming when I will no more speak to you in figures of speech, but will tell you plainly about the Father.</span>
  <span class="verse" title="John 16:26" id="John-16-26">In that day you will ask in my name; and I don&#8217;t say to you, that I will pray to the Father for you,</span>
  <span class="verse" title="John 16:27" id="John-16-27">for the Father himself loves you, because you have loved me, and have believed that I came forth from God.</span>
  <span class="verse" title="John 16:28" id="John-16-28">I came out from the Father, and have come into the world. Again, I leave the world, and go to the Father.&#8221;</span>
  <span class="verse" title="John 16:29" id="John-16-29">His disciples said to him, &#8220;Behold, now you speak plainly, and speak no figures of speech.</span>
  <span class="verse" title="John 16:30" id="John-16-30">Now we know that you know all things, and don&#8217;t need for anyone to question you. By this we believe that you came forth from God.&#8221;</span>
  <span class="verse" title="John 16:31" id="John-16-31">Jesus answered them, &#8220;Do you now believe?</span>
  <span class="verse" title="John 16:32" id="John-16-32">Behold, the time is coming, yes, and has now come, that you will be scattered, everyone to his own place, and you will leave me alone. Yet I am not alone, because the Father is with me.</span>
  <span class="verse" title="John 16:33" id="John-16-33">I have told you these things, that in me you may have peace. In the world you have oppression; but cheer up! I have overcome the world.&#8221;</span>
</div>