<div class="chapter" id="John-017">
  <h2>John 17</h2>
  <span class="verse" title="John 17:1" id="John-17-1">Jesus said these things, and lifting up his eyes to heaven, he said, &#8220;Father, the time has come. Glorify your Son, that your Son may also glorify you;</span>
  <span class="verse" title="John 17:2" id="John-17-2">even as you gave him authority over all flesh, he will give eternal life to all whom you have given him.</span>
  <span class="verse" title="John 17:3" id="John-17-3">This is eternal life, that they should know you, the only true God, and him whom you sent, Jesus Christ.</span>
  <span class="verse" title="John 17:4" id="John-17-4">I glorified you on the earth. I have accomplished the work which you have given me to do.</span>
  <span class="verse" title="John 17:5" id="John-17-5">Now, Father, glorify me with your own self with the glory which I had with you before the world existed.</span>
  <span class="verse" title="John 17:6" id="John-17-6">I revealed your name to the people whom you have given me out of the world. They were yours, and you have given them to me. They have kept your word.</span>
  <span class="verse" title="John 17:7" id="John-17-7">Now they have known that all things whatever you have given me are from you,</span>
  <span class="verse" title="John 17:8" id="John-17-8">for the words which you have given me I have given to them, and they received them, and knew for sure that I came forth from you, and they have believed that you sent me.</span>
  <span class="verse" title="John 17:9" id="John-17-9">I pray for them. I don&#8217;t pray for the world, but for those whom you have given me, for they are yours.</span>
  <span class="verse" title="John 17:10" id="John-17-10">All things that are mine are yours, and yours are mine, and I am glorified in them.</span>
  <span class="verse" title="John 17:11" id="John-17-11">I am no more in the world, but these are in the world, and I am coming to you. Holy Father, keep them through your name which you have given me, that they may be one, even as we are.</span>
  <span class="verse" title="John 17:12" id="John-17-12">While I was with them in the world, I kept them in your name. Those whom you have given me I have kept. None of them is lost, except the son of destruction, that the Scripture might be fulfilled.</span>
  <span class="verse" title="John 17:13" id="John-17-13">But now I come to you, and I say these things in the world, that they may have my joy made full in themselves.</span>
  <span class="verse" title="John 17:14" id="John-17-14">I have given them your word. The world hated them, because they are not of the world, even as I am not of the world.</span>
  <span class="verse" title="John 17:15" id="John-17-15">I pray not that you would take them from the world, but that you would keep them from the evil one.</span>
  <span class="verse" title="John 17:16" id="John-17-16">They are not of the world even as I am not of the world.</span>
  <span class="verse" title="John 17:17" id="John-17-17">Sanctify them in your truth. Your word is truth.</span>
  <span class="verse" title="John 17:18" id="John-17-18">As you sent me into the world, even so I have sent them into the world.</span>
  <span class="verse" title="John 17:19" id="John-17-19">For their sakes I sanctify myself, that they themselves also may be sanctified in truth.</span>
  <span class="verse" title="John 17:20" id="John-17-20">Not for these only do I pray, but for those also who believe in me through their word,</span>
  <span class="verse" title="John 17:21" id="John-17-21">that they may all be one; even as you, Father, are in me, and I in you, that they also may be one in us; that the world may believe that you sent me.</span>
  <span class="verse" title="John 17:22" id="John-17-22">The glory which you have given me, I have given to them; that they may be one, even as we are one;</span>
  <span class="verse" title="John 17:23" id="John-17-23">I in them, and you in me, that they may be perfected into one; that the world may know that you sent me, and loved them, even as you loved me.</span>
  <span class="verse" title="John 17:24" id="John-17-24">Father, I desire that they also whom you have given me be with me where I am, that they may see my glory, which you have given me, for you loved me before the foundation of the world.</span>
  <span class="verse" title="John 17:25" id="John-17-25">Righteous Father, the world hasn&#8217;t known you, but I knew you; and these knew that you sent me.</span>
  <span class="verse" title="John 17:26" id="John-17-26">I made known to them your name, and will make it known; that the love with which you loved me may be in them, and I in them.&#8221;</span>
</div>