<div class="chapter" id="John-018">
  <h2>John 18</h2>
  <span class="verse" title="John 18:1" id="John-18-1">When Jesus had spoken these words, he went out with his disciples over the brook Kidron, where there was a garden, into which he and his disciples entered.</span>
  <span class="verse" title="John 18:2" id="John-18-2">Now Judas, who betrayed him, also knew the place, for Jesus often met there with his disciples.</span>
  <span class="verse" title="John 18:3" id="John-18-3">Judas then, having taken a detachment of soldiers and officers from the chief priests and the Pharisees, came there with lanterns, torches, and weapons.</span>
  <span class="verse" title="John 18:4" id="John-18-4">Jesus therefore, knowing all the things that were happening to him, went forth, and said to them, &#8220;Who are you looking for?&#8221;</span>
  <span class="verse" title="John 18:5" id="John-18-5">They answered him, &#8220;Jesus of Nazareth.&#8221; Jesus said to them, &#8220;I am he.&#8221; Judas also, who betrayed him, was standing with them.</span>
  <span class="verse" title="John 18:6" id="John-18-6">When therefore he said to them, &#8220;I am he,&#8221; they went backward, and fell to the ground.</span>
  <span class="verse" title="John 18:7" id="John-18-7">Again therefore he asked them, &#8220;Who are you looking for?&#8221; They said, &#8220;Jesus of Nazareth.&#8221;</span>
  <span class="verse" title="John 18:8" id="John-18-8">Jesus answered, &#8220;I told you that I am he. If therefore you seek me, let these go their way,&#8221;</span>
  <span class="verse" title="John 18:9" id="John-18-9">that the word might be fulfilled which he spoke, &#8220;Of those whom you have given me, I have lost none.&#8221;</span>
  <span class="verse" title="John 18:10" id="John-18-10">Simon Peter therefore, having a sword, drew it, and struck the high priest&#8217;s servant, and cut off his right ear. The servant&#8217;s name was Malchus.</span>
  <span class="verse" title="John 18:11" id="John-18-11">Jesus therefore said to Peter, &#8220;Put the sword into its sheath. The cup which the Father has given me, shall I not surely drink it?&#8221;</span>
  <span class="verse" title="John 18:12" id="John-18-12">So the detachment, the commanding officer, and the officers of the Jews, seized Jesus and bound him,</span>
  <span class="verse" title="John 18:13" id="John-18-13">and led him to Annas first, for he was father-in-law to Caiaphas, who was high priest that year.</span>
  <span class="verse" title="John 18:14" id="John-18-14">Now it was Caiaphas who advised the Jews that it was expedient that one man should perish for the people.</span>
  <span class="verse" title="John 18:15" id="John-18-15">Simon Peter followed Jesus, as did another disciple. Now that disciple was known to the high priest, and entered in with Jesus into the court of the high priest;</span>
  <span class="verse" title="John 18:16" id="John-18-16">but Peter was standing at the door outside. So the other disciple, who was known to the high priest, went out and spoke to her who kept the door, and brought in Peter.</span>
  <span class="verse" title="John 18:17" id="John-18-17">Then the maid who kept the door said to Peter, &#8220;Are you also one of this man&#8217;s disciples?&#8221; He said, &#8220;I am not.&#8221;</span>
  <span class="verse" title="John 18:18" id="John-18-18">Now the servants and the officers were standing there, having made a fire of coals, for it was cold. They were warming themselves. Peter was with them, standing and warming himself.</span>
  <span class="verse" title="John 18:19" id="John-18-19">The high priest therefore asked Jesus about his disciples, and about his teaching.</span>
  <span class="verse" title="John 18:20" id="John-18-20">Jesus answered him, &#8220;I spoke openly to the world. I always taught in synagogues, and in the temple, where the Jews always meet. I said nothing in secret.</span>
  <span class="verse" title="John 18:21" id="John-18-21">Why do you ask me? Ask those who have heard me what I said to them. Behold, these know the things which I said.&#8221;</span>
  <span class="verse" title="John 18:22" id="John-18-22">When he had said this, one of the officers standing by slapped Jesus with his hand, saying, &#8220;Do you answer the high priest like that?&#8221;</span>
  <span class="verse" title="John 18:23" id="John-18-23">Jesus answered him, &#8220;If I have spoken evil, testify of the evil; but if well, why do you beat me?&#8221;</span>
  <span class="verse" title="John 18:24" id="John-18-24">Annas sent him bound to Caiaphas, the high priest.</span>
  <span class="verse" title="John 18:25" id="John-18-25">Now Simon Peter was standing and warming himself. They said therefore to him, &#8220;You aren&#8217;t also one of his disciples, are you?&#8221; He denied it, and said, &#8220;I am not.&#8221;</span>
  <span class="verse" title="John 18:26" id="John-18-26">One of the servants of the high priest, being a relative of him whose ear Peter had cut off, said, &#8220;Didn&#8217;t I see you in the garden with him?&#8221;</span>
  <span class="verse" title="John 18:27" id="John-18-27">Peter therefore denied it again, and immediately the rooster crowed.</span>
  <span class="verse" title="John 18:28" id="John-18-28">They led Jesus therefore from Caiaphas into the Praetorium. It was early, and they themselves didn&#8217;t enter into the Praetorium, that they might not be defiled, but might eat the Passover.</span>
  <span class="verse" title="John 18:29" id="John-18-29">Pilate therefore went out to them, and said, &#8220;What accusation do you bring against this man?&#8221;</span>
  <span class="verse" title="John 18:30" id="John-18-30">They answered him, &#8220;If this man weren&#8217;t an evildoer, we wouldn&#8217;t have delivered him up to you.&#8221;</span>
  <span class="verse" title="John 18:31" id="John-18-31">Pilate therefore said to them, &#8220;Take him yourselves, and judge him according to your law.&#8221; Therefore the Jews said to him, &#8220;It is not lawful for us to put anyone to death,&#8221;</span>
  <span class="verse" title="John 18:32" id="John-18-32">that the word of Jesus might be fulfilled, which he spoke, signifying by what kind of death he should die.</span>
  <span class="verse" title="John 18:33" id="John-18-33">Pilate therefore entered again into the Praetorium, called Jesus, and said to him, &#8220;Are you the King of the Jews?&#8221;</span>
  <span class="verse" title="John 18:34" id="John-18-34">Jesus answered him, &#8220;Do you say this by yourself, or did others tell you about me?&#8221;</span>
  <span class="verse" title="John 18:35" id="John-18-35">Pilate answered, &#8220;I&#8217;m not a Jew, am I? Your own nation and the chief priests delivered you to me. What have you done?&#8221;</span>
  <span class="verse" title="John 18:36" id="John-18-36">Jesus answered, &#8220;My Kingdom is not of this world. If my Kingdom were of this world, then my servants would fight, that I wouldn&#8217;t be delivered to the Jews. But now my Kingdom is not from here.&#8221;</span>
  <span class="verse" title="John 18:37" id="John-18-37">Pilate therefore said to him, &#8220;Are you a king then?&#8221; Jesus answered, &#8220;You say that I am a king. For this reason I have been born, and for this reason I have come into the world, that I should testify to the truth. Everyone who is of the truth listens to my voice.&#8221;</span>
  <span class="verse" title="John 18:38" id="John-18-38">Pilate said to him, &#8220;What is truth?&#8221; When he had said this, he went out again to the Jews, and said to them, &#8220;I find no basis for a charge against him.</span>
  <span class="verse" title="John 18:39" id="John-18-39">But you have a custom, that I should release someone to you at the Passover. Therefore do you want me to release to you the King of the Jews?&#8221;</span>
  <span class="verse" title="John 18:40" id="John-18-40">Then they all shouted again, saying, &#8220;Not this man, but Barabbas!&#8221; Now Barabbas was a robber.</span>
</div>