<div class="chapter" id="John-019">
  <h2>John 19</h2>
  <span class="verse" title="John 19:1" id="John-19-1">So Pilate then took Jesus, and flogged him.</span>
  <span class="verse" title="John 19:2" id="John-19-2">The soldiers twisted thorns into a crown, and put it on his head, and dressed him in a purple garment.</span>
  <span class="verse" title="John 19:3" id="John-19-3">They kept saying, &#8220;Hail, King of the Jews!&#8221; and they kept slapping him.</span>
  <span class="verse" title="John 19:4" id="John-19-4">Then Pilate went out again, and said to them, &#8220;Behold, I bring him out to you, that you may know that I find no basis for a charge against him.&#8221;</span>
  <span class="verse" title="John 19:5" id="John-19-5">Jesus therefore came out, wearing the crown of thorns and the purple garment. Pilate said to them, &#8220;Behold, the man!&#8221;</span>
  <span class="verse" title="John 19:6" id="John-19-6">When therefore the chief priests and the officers saw him, they shouted, saying, &#8220;Crucify! Crucify!&#8221; Pilate said to them, &#8220;Take him yourselves, and crucify him, for I find no basis for a charge against him.&#8221;</span>
  <span class="verse" title="John 19:7" id="John-19-7">The Jews answered him, &#8220;We have a law, and by our law he ought to die, because he made himself the Son of God.&#8221;</span>
  <span class="verse" title="John 19:8" id="John-19-8">When therefore Pilate heard this saying, he was more afraid.</span>
  <span class="verse" title="John 19:9" id="John-19-9">He entered into the Praetorium again, and said to Jesus, &#8220;Where are you from?&#8221; But Jesus gave him no answer.</span>
  <span class="verse" title="John 19:10" id="John-19-10">Pilate therefore said to him, &#8220;Aren&#8217;t you speaking to me? Don&#8217;t you know that I have power to release you, and have power to crucify you?&#8221;</span>
  <span class="verse" title="John 19:11" id="John-19-11">Jesus answered, &#8220;You would have no power at all against me, unless it were given to you from above. Therefore he who delivered me to you has greater sin.&#8221;</span>
  <span class="verse" title="John 19:12" id="John-19-12">At this, Pilate was seeking to release him, but the Jews cried out, saying, &#8220;If you release this man, you aren&#8217;t Caesar&#8217;s friend! Everyone who makes himself a king speaks against Caesar!&#8221;</span>
  <span class="verse" title="John 19:13" id="John-19-13">When Pilate therefore heard these words, he brought Jesus out, and sat down on the judgment seat at a place called &#8220;The Pavement,&#8221; but in Hebrew, &#8220;Gabbatha.&#8221;</span>
  <span class="verse" title="John 19:14" id="John-19-14">Now it was the Preparation Day of the Passover, at about the sixth hour. He said to the Jews, &#8220;Behold, your King!&#8221;</span>
  <span class="verse" title="John 19:15" id="John-19-15">They cried out, &#8220;Away with him! Away with him! Crucify him!&#8221; Pilate said to them, &#8220;Shall I crucify your King?&#8221; The chief priests answered, &#8220;We have no king but Caesar!&#8221;</span>
  <span class="verse" title="John 19:16" id="John-19-16">So then he delivered him to them to be crucified. So they took Jesus and led him away.</span>
  <span class="verse" title="John 19:17" id="John-19-17">He went out, bearing his cross, to the place called &#8220;The Place of a Skull,&#8221; which is called in Hebrew, &#8220;Golgotha,&#8221;</span>
  <span class="verse" title="John 19:18" id="John-19-18">where they crucified him, and with him two others, on either side one, and Jesus in the middle.</span>
  <span class="verse" title="John 19:19" id="John-19-19">Pilate wrote a title also, and put it on the cross. There was written, &#8220;JESUS OF NAZARETH, THE KING OF THE JEWS.&#8221;</span>
  <span class="verse" title="John 19:20" id="John-19-20">Therefore many of the Jews read this title, for the place where Jesus was crucified was near the city; and it was written in Hebrew, in Latin, and in Greek.</span>
  <span class="verse" title="John 19:21" id="John-19-21">The chief priests of the Jews therefore said to Pilate, &#8220;Don&#8217;t write, &#8216;The King of the Jews,&#8217; but, &#8216;he said, I am King of the Jews.&#8217;&#8221;</span>
  <span class="verse" title="John 19:22" id="John-19-22">Pilate answered, &#8220;What I have written, I have written.&#8221;</span>
  <span class="verse" title="John 19:23" id="John-19-23">Then the soldiers, when they had crucified Jesus, took his garments and made four parts, to every soldier a part; and also the coat. Now the coat was without seam, woven from the top throughout.</span>
  <span class="verse" title="John 19:24" id="John-19-24">Then they said to one another, &#8220;Let&#8217;s not tear it, but cast lots for it to decide whose it will be,&#8221; that the Scripture might be fulfilled, which says,  &#8220;They parted my garments among them.<br/> <span class="indent">&nbsp;&nbsp;</span>For my cloak they cast lots.&#8221;<br/>  Therefore the soldiers did these things.</span>
  <span class="verse" title="John 19:25" id="John-19-25">But there were standing by the cross of Jesus his mother, and his mother&#8217;s sister, Mary the wife of Clopas, and Mary Magdalene.</span>
  <span class="verse" title="John 19:26" id="John-19-26">Therefore when Jesus saw his mother, and the disciple whom he loved standing there, he said to his mother, &#8220;Woman, behold your son!&#8221;</span>
  <span class="verse" title="John 19:27" id="John-19-27">Then he said to the disciple, &#8220;Behold, your mother!&#8221; From that hour, the disciple took her to his own home.</span>
  <span class="verse" title="John 19:28" id="John-19-28">After this, Jesus, seeing that all things were now finished, that the Scripture might be fulfilled, said, &#8220;I am thirsty.&#8221;</span>
  <span class="verse" title="John 19:29" id="John-19-29">Now a vessel full of vinegar was set there; so they put a sponge full of the vinegar on hyssop, and held it at his mouth.</span>
  <span class="verse" title="John 19:30" id="John-19-30">When Jesus therefore had received the vinegar, he said, &#8220;It is finished.&#8221; He bowed his head, and gave up his spirit.</span>
  <span class="verse" title="John 19:31" id="John-19-31">Therefore the Jews, because it was the Preparation Day, so that the bodies wouldn&#8217;t remain on the cross on the Sabbath (for that Sabbath was a special one), asked of Pilate that their legs might be broken, and that they might be taken away.</span>
  <span class="verse" title="John 19:32" id="John-19-32">Therefore the soldiers came, and broke the legs of the first, and of the other who was crucified with him;</span>
  <span class="verse" title="John 19:33" id="John-19-33">but when they came to Jesus, and saw that he was already dead, they didn&#8217;t break his legs.</span>
  <span class="verse" title="John 19:34" id="John-19-34">However one of the soldiers pierced his side with a spear, and immediately blood and water came out.</span>
  <span class="verse" title="John 19:35" id="John-19-35">He who has seen has testified, and his testimony is true. He knows that he tells the truth, that you may believe.</span>
  <span class="verse" title="John 19:36" id="John-19-36">For these things happened, that the Scripture might be fulfilled, &#8220;A bone of him will not be broken.&#8221;</span>
  <span class="verse" title="John 19:37" id="John-19-37">Again another Scripture says, &#8220;They will look on him whom they pierced.&#8221;</span>
  <span class="verse" title="John 19:38" id="John-19-38">After these things, Joseph of Arimathaea, being a disciple of Jesus, but secretly for fear of the Jews, asked of Pilate that he might take away Jesus&#8217; body. Pilate gave him permission. He came therefore and took away his body.</span>
  <span class="verse" title="John 19:39" id="John-19-39">Nicodemus, who at first came to Jesus by night, also came bringing a mixture of myrrh and aloes, about a hundred Roman pounds.</span>
  <span class="verse" title="John 19:40" id="John-19-40">So they took Jesus&#8217; body, and bound it in linen cloths with the spices, as the custom of the Jews is to bury.</span>
  <span class="verse" title="John 19:41" id="John-19-41">Now in the place where he was crucified there was a garden. In the garden was a new tomb in which no man had ever yet been laid.</span>
  <span class="verse" title="John 19:42" id="John-19-42">Then because of the Jews&#8217; Preparation Day (for the tomb was near at hand) they laid Jesus there.</span>
</div>