<div class="chapter" id="John-020">
  <h2>John 20</h2>
  <span class="verse" title="John 20:1" id="John-20-1">Now on the first day of the week, Mary Magdalene went early, while it was still dark, to the tomb, and saw the stone taken away from the tomb.</span>
  <span class="verse" title="John 20:2" id="John-20-2">Therefore she ran and came to Simon Peter, and to the other disciple whom Jesus loved, and said to them, &#8220;They have taken away the Lord out of the tomb, and we don&#8217;t know where they have laid him!&#8221;</span>
  <span class="verse" title="John 20:3" id="John-20-3">Therefore Peter and the other disciple went out, and they went toward the tomb.</span>
  <span class="verse" title="John 20:4" id="John-20-4">They both ran together. The other disciple outran Peter, and came to the tomb first.</span>
  <span class="verse" title="John 20:5" id="John-20-5">Stooping and looking in, he saw the linen cloths lying, yet he didn&#8217;t enter in.</span>
  <span class="verse" title="John 20:6" id="John-20-6">Then Simon Peter came, following him, and entered into the tomb. He saw the linen cloths lying,</span>
  <span class="verse" title="John 20:7" id="John-20-7">and the cloth that had been on his head, not lying with the linen cloths, but rolled up in a place by itself.</span>
  <span class="verse" title="John 20:8" id="John-20-8">So then the other disciple who came first to the tomb also entered in, and he saw and believed.</span>
  <span class="verse" title="John 20:9" id="John-20-9">For as yet they didn&#8217;t know the Scripture, that he must rise from the dead.</span>
  <span class="verse" title="John 20:10" id="John-20-10">So the disciples went away again to their own homes.</span>
  <span class="verse" title="John 20:11" id="John-20-11">But Mary was standing outside at the tomb weeping. So, as she wept, she stooped and looked into the tomb,</span>
  <span class="verse" title="John 20:12" id="John-20-12">and she saw two angels in white sitting, one at the head, and one at the feet, where the body of Jesus had lain.</span>
  <span class="verse" title="John 20:13" id="John-20-13">They told her, &#8220;Woman, why are you weeping?&#8221; She said to them, &#8220;Because they have taken away my Lord, and I don&#8217;t know where they have laid him.&#8221;</span>
  <span class="verse" title="John 20:14" id="John-20-14">When she had said this, she turned around and saw Jesus standing, and didn&#8217;t know that it was Jesus.</span>
  <span class="verse" title="John 20:15" id="John-20-15">Jesus said to her, &#8220;Woman, why are you weeping? Who are you looking for?&#8221; She, supposing him to be the gardener, said to him, &#8220;Sir, if you have carried him away, tell me where you have laid him, and I will take him away.&#8221;</span>
  <span class="verse" title="John 20:16" id="John-20-16">Jesus said to her, &#8220;Mary.&#8221; She turned and said to him, &#8220;Rabboni!&#8221; which is to say, &#8220;Teacher!&#8221;</span>
  <span class="verse" title="John 20:17" id="John-20-17">Jesus said to her, &#8220;Don&#8217;t hold me, for I haven&#8217;t yet ascended to my Father; but go to my brothers, and tell them, &#8216;I am ascending to my Father and your Father, to my God and your God.&#8217;&#8221;</span>
  <span class="verse" title="John 20:18" id="John-20-18">Mary Magdalene came and told the disciples that she had seen the Lord, and that he had said these things to her.</span>
  <span class="verse" title="John 20:19" id="John-20-19">When therefore it was evening, on that day, the first day of the week, and when the doors were locked where the disciples were assembled, for fear of the Jews, Jesus came and stood in the midst, and said to them, &#8220;Peace be to you.&#8221;</span>
  <span class="verse" title="John 20:20" id="John-20-20">When he had said this, he showed them his hands and his side. The disciples therefore were glad when they saw the Lord.</span>
  <span class="verse" title="John 20:21" id="John-20-21">Jesus therefore said to them again, &#8220;Peace be to you. As the Father has sent me, even so I send you.&#8221;</span>
  <span class="verse" title="John 20:22" id="John-20-22">When he had said this, he breathed on them, and said to them, &#8220;Receive the Holy Spirit!</span>
  <span class="verse" title="John 20:23" id="John-20-23">If you forgive anyone&#8217;s sins, they have been forgiven them. If you retain anyone&#8217;s sins, they have been retained.&#8221;</span>
  <span class="verse" title="John 20:24" id="John-20-24">But Thomas, one of the twelve, called Didymus, wasn&#8217;t with them when Jesus came.</span>
  <span class="verse" title="John 20:25" id="John-20-25">The other disciples therefore said to him, &#8220;We have seen the Lord!&#8221; But he said to them, &#8220;Unless I see in his hands the print of the nails, and put my hand into his side, I will not believe.&#8221;</span>
  <span class="verse" title="John 20:26" id="John-20-26">After eight days again his disciples were inside, and Thomas was with them. Jesus came, the doors being locked, and stood in the midst, and said, &#8220;Peace be to you.&#8221;</span>
  <span class="verse" title="John 20:27" id="John-20-27">Then he said to Thomas, &#8220;Reach here your finger, and see my hands. Reach here your hand, and put it into my side. Don&#8217;t be unbelieving, but believing.&#8221;</span>
  <span class="verse" title="John 20:28" id="John-20-28">Thomas answered him, &#8220;My Lord and my God!&#8221;</span>
  <span class="verse" title="John 20:29" id="John-20-29">Jesus said to him, &#8220;Because you have seen me, you have believed. Blessed are those who have not seen, and have believed.&#8221;</span>
  <span class="verse" title="John 20:30" id="John-20-30">Therefore Jesus did many other signs in the presence of his disciples, which are not written in this book;</span>
  <span class="verse" title="John 20:31" id="John-20-31">but these are written, that you may believe that Jesus is the Christ, the Son of God, and that believing you may have life in his name.</span>
</div>