<div class="chapter" id="Esther-004">
  <h2>Esther 4</h2>
  <span class="verse" title="Esther 4:1" id="Esther-4-1">Now when Mordecai found out all that was done, Mordecai tore his clothes, and put on sackcloth with ashes, and went out into the midst of the city, and wailed loudly and a bitterly.</span>
  <span class="verse" title="Esther 4:2" id="Esther-4-2">He came even before the king&#8217;s gate, for no one is allowed inside the king&#8217;s gate clothed with sackcloth.</span>
  <span class="verse" title="Esther 4:3" id="Esther-4-3">In every province, wherever the king&#8217;s commandment and his decree came, there was great mourning among the Jews, and fasting, and weeping, and wailing; and many lay in sackcloth and ashes.</span>
  <span class="verse" title="Esther 4:4" id="Esther-4-4">Esther&#8217;s maidens and her eunuchs came and told her this, and the queen was exceedingly grieved. She sent clothing to Mordecai, to replace his sackcloth; but he didn&#8217;t receive it.</span>
  <span class="verse" title="Esther 4:5" id="Esther-4-5">Then Esther called for Hathach, one of the king&#8217;s eunuchs, whom he had appointed to attend her, and commanded him to go to Mordecai, to find out what this was, and why it was.</span>
  <span class="verse" title="Esther 4:6" id="Esther-4-6">So Hathach went out to Mordecai, to city square which was before the king&#8217;s gate.</span>
  <span class="verse" title="Esther 4:7" id="Esther-4-7">Mordecai told him of all that had happened to him, and the exact sum of the money that Haman had promised to pay to the king&#8217;s treasuries for the destruction of the Jews.</span>
  <span class="verse" title="Esther 4:8" id="Esther-4-8">He also gave him the copy of the writing of the decree that was given out in Shushan to destroy them, to show it to Esther, and to declare it to her, and to urge her to go in to the king, to make supplication to him, and to make request before him, for her people.</span>
  <span class="verse" title="Esther 4:9" id="Esther-4-9">Hathach came and told Esther the words of Mordecai.</span>
  <span class="verse" title="Esther 4:10" id="Esther-4-10">Then Esther spoke to Hathach, and gave him a message to Mordecai:</span>
  <span class="verse" title="Esther 4:11" id="Esther-4-11">&#8220;All the king&#8217;s servants, and the people of the king&#8217;s provinces, know, that whoever, whether man or woman, comes to the king into the inner court without being called, there is one law for him, that he be put to death, except those to whom the king might hold out the golden scepter, that he may live. I have not been called to come in to the king these thirty days.&#8221;</span>
  <span class="verse" title="Esther 4:12" id="Esther-4-12">They told to Mordecai Esther&#8217;s words.</span>
  <span class="verse" title="Esther 4:13" id="Esther-4-13">Then Mordecai asked them return answer to Esther, &#8220;Don&#8217;t think to yourself that you will escape in the king&#8217;s house any more than all the Jews.</span>
  <span class="verse" title="Esther 4:14" id="Esther-4-14">For if you remain silent now, then relief and deliverance will come to the Jews from another place, but you and your father&#8217;s house will perish. Who knows if you haven&#8217;t come to the kingdom for such a time as this?&#8221;</span>
  <span class="verse" title="Esther 4:15" id="Esther-4-15">Then Esther asked them to answer Mordecai,</span>
  <span class="verse" title="Esther 4:16" id="Esther-4-16">&#8220;Go, gather together all the Jews who are present in Shushan, and fast for me, and neither eat nor drink three days, night or day. I and my maidens will also fast the same way. Then I will go in to the king, which is against the law; and if I perish, I perish.&#8221;</span>
  <span class="verse" title="Esther 4:17" id="Esther-4-17">So Mordecai went his way, and did according to all that Esther had commanded him.</span>
</div>