<div class="chapter" id="Esther-007">
  <h2>Esther 7</h2>
  <span class="verse" title="Esther 7:1" id="Esther-7-1">So the king and Haman came to banquet with Esther the queen.</span>
  <span class="verse" title="Esther 7:2" id="Esther-7-2">The king said again to Esther on the second day at the banquet of wine, &#8220;What is your petition, queen Esther? It shall be granted you. What is your request? Even to the half of the kingdom it shall be performed.&#8221;</span>
  <span class="verse" title="Esther 7:3" id="Esther-7-3">Then Esther the queen answered, &#8220;If I have found favor in your sight, O king, and if it please the king, let my life be given me at my petition, and my people at my request.</span>
  <span class="verse" title="Esther 7:4" id="Esther-7-4">For we are sold, I and my people, to be destroyed, to be slain, and to perish. But if we had been sold for bondservants and bondmaids, I would have held my peace, although the adversary could not have compensated for the king&#8217;s loss.&#8221;</span>
  <span class="verse" title="Esther 7:5" id="Esther-7-5">Then King Ahasuerus said to Esther the queen, &#8220;Who is he, and where is he who dared presume in his heart to do so?&#8221;</span>
  <span class="verse" title="Esther 7:6" id="Esther-7-6">Esther said, &#8220;An adversary and an enemy, even this wicked Haman!&#8221; Then Haman was afraid before the king and the queen.</span>
  <span class="verse" title="Esther 7:7" id="Esther-7-7">The king arose in his wrath from the banquet of wine and went into the palace garden. Haman stood up to make request for his life to Esther the queen; for he saw that there was evil determined against him by the king.</span>
  <span class="verse" title="Esther 7:8" id="Esther-7-8">Then the king returned out of the palace garden into the place of the banquet of wine; and Haman had fallen on the couch where Esther was. Then the king said, &#8220;Will he even assault the queen in front of me in the house?&#8221; As the word went out of the king&#8217;s mouth, they covered Haman&#8217;s face.</span>
  <span class="verse" title="Esther 7:9" id="Esther-7-9">Then Harbonah, one of the eunuchs who were with the king said, &#8220;Behold, the gallows fifty cubits high, which Haman has made for Mordecai, who spoke good for the king, is standing at Haman&#8217;s house.&#8221; The king said, &#8220;Hang him on it!&#8221;</span>
  <span class="verse" title="Esther 7:10" id="Esther-7-10">So they hanged Haman on the gallows that he had prepared for Mordecai. Then was the king&#8217;s wrath pacified.</span>
</div>