<div class="chapter" id="Esther-010">
  <h2>Esther 10</h2>
  <span class="verse" title="Esther 10:1" id="Esther-10-1">King Ahasuerus laid a tribute on the land, and on the islands of the sea.</span>
  <span class="verse" title="Esther 10:2" id="Esther-10-2">All the acts of his power and of his might, and the full account of the greatness of Mordecai, to which the king advanced him, aren&#8217;t they written in the book of the chronicles of the kings of Media and Persia?</span>
  <span class="verse" title="Esther 10:3" id="Esther-10-3">For Mordecai the Jew was next to King Ahasuerus, and great among the Jews, and accepted by the multitude of his brothers, seeking the good of his people, and speaking peace to all his descendants.</span>
</div>