<div class="chapter" id="Genesis-001">
  <h2>Genesis 1</h2>
  <span class="verse" title="Genesis 1:1" id="Genesis-1-1">In the beginning God created the heavens and the earth.</span>
  <span class="verse" title="Genesis 1:2" id="Genesis-1-2">Now the earth was formless and empty. Darkness was on the surface of the deep. God&#8217;s Spirit was hovering over the surface of the waters.</span>
  <span class="verse" title="Genesis 1:3" id="Genesis-1-3">God said, &#8220;Let there be light,&#8221; and there was light.</span>
  <span class="verse" title="Genesis 1:4" id="Genesis-1-4">God saw the light, and saw that it was good. God divided the light from the darkness.</span>
  <span class="verse" title="Genesis 1:5" id="Genesis-1-5">God called the light &#8220;day,&#8221; and the darkness he called &#8220;night.&#8221; There was evening and there was morning, one day.</span>
  <span class="verse" title="Genesis 1:6" id="Genesis-1-6">God said, &#8220;Let there be an expanse in the middle of the waters, and let it divide the waters from the waters.&#8221;</span>
  <span class="verse" title="Genesis 1:7" id="Genesis-1-7">God made the expanse, and divided the waters which were under the expanse from the waters which were above the expanse; and it was so.</span>
  <span class="verse" title="Genesis 1:8" id="Genesis-1-8">God called the expanse &#8220;sky.&#8221; There was evening and there was morning, a second day.</span>
  <span class="verse" title="Genesis 1:9" id="Genesis-1-9">God said, &#8220;Let the waters under the sky be gathered together to one place, and let the dry land appear;&#8221; and it was so.</span>
  <span class="verse" title="Genesis 1:10" id="Genesis-1-10">God called the dry land &#8220;earth,&#8221; and the gathering together of the waters he called &#8220;seas.&#8221; God saw that it was good.</span>
  <span class="verse" title="Genesis 1:11" id="Genesis-1-11">God said, &#8220;Let the earth yield grass, herbs yielding seed, and fruit trees bearing fruit after their kind, with its seed in it, on the earth;&#8221; and it was so.</span>
  <span class="verse" title="Genesis 1:12" id="Genesis-1-12">The earth yielded grass, herbs yielding seed after their kind, and trees bearing fruit, with its seed in it, after their kind; and God saw that it was good.</span>
  <span class="verse" title="Genesis 1:13" id="Genesis-1-13">There was evening and there was morning, a third day.</span>
  <span class="verse" title="Genesis 1:14" id="Genesis-1-14">God said, &#8220;Let there be lights in the expanse of sky to divide the day from the night; and let them be for signs, and for seasons, and for days and years;</span>
  <span class="verse" title="Genesis 1:15" id="Genesis-1-15">and let them be for lights in the expanse of sky to give light on the earth;&#8221; and it was so.</span>
  <span class="verse" title="Genesis 1:16" id="Genesis-1-16">God made the two great lights: the greater light to rule the day, and the lesser light to rule the night. He also made the stars.</span>
  <span class="verse" title="Genesis 1:17" id="Genesis-1-17">God set them in the expanse of sky to give light to the earth,</span>
  <span class="verse" title="Genesis 1:18" id="Genesis-1-18">and to rule over the day and over the night, and to divide the light from the darkness. God saw that it was good.</span>
  <span class="verse" title="Genesis 1:19" id="Genesis-1-19">There was evening and there was morning, a fourth day.</span>
  <span class="verse" title="Genesis 1:20" id="Genesis-1-20">God said, &#8220;Let the waters swarm with swarms of living creatures, and let birds fly above the earth in the open expanse of sky.&#8221;</span>
  <span class="verse" title="Genesis 1:21" id="Genesis-1-21">God created the large sea creatures, and every living creature that moves, with which the waters swarmed, after their kind, and every winged bird after its kind. God saw that it was good.</span>
  <span class="verse" title="Genesis 1:22" id="Genesis-1-22">God blessed them, saying, &#8220;Be fruitful, and multiply, and fill the waters in the seas, and let birds multiply on the earth.&#8221;</span>
  <span class="verse" title="Genesis 1:23" id="Genesis-1-23">There was evening and there was morning, a fifth day.</span>
  <span class="verse" title="Genesis 1:24" id="Genesis-1-24">God said, &#8220;Let the earth produce living creatures after their kind, livestock, creeping things, and animals of the earth after their kind;&#8221; and it was so.</span>
  <span class="verse" title="Genesis 1:25" id="Genesis-1-25">God made the animals of the earth after their kind, and the livestock after their kind, and everything that creeps on the ground after its kind. God saw that it was good.</span>
  <span class="verse" title="Genesis 1:26" id="Genesis-1-26">God said, &#8220;Let us make man in our image, after our likeness: and let them have dominion over the fish of the sea, and over the birds of the sky, and over the livestock, and over all the earth, and over every creeping thing that creeps on the earth.&#8221;</span>
  <span class="verse" title="Genesis 1:27" id="Genesis-1-27">God created man in his own image. In God&#8217;s image he created him; male and female he created them.</span>
  <span class="verse" title="Genesis 1:28" id="Genesis-1-28">God blessed them. God said to them, &#8220;Be fruitful, multiply, fill the earth, and subdue it. Have dominion over the fish of the sea, over the birds of the sky, and over every living thing that moves on the earth.&#8221;</span>
  <span class="verse" title="Genesis 1:29" id="Genesis-1-29">God said, &#8220;Behold, I have given you every herb yielding seed, which is on the surface of all the earth, and every tree, which bears fruit yielding seed. It will be your food.</span>
  <span class="verse" title="Genesis 1:30" id="Genesis-1-30">To every animal of the earth, and to every bird of the sky, and to everything that creeps on the earth, in which there is life, I have given every green herb for food;&#8221; and it was so.</span>
  <span class="verse" title="Genesis 1:31" id="Genesis-1-31">God saw everything that he had made, and, behold, it was very good. There was evening and there was morning, a sixth day.</span>
</div>