<div class="chapter" id="Genesis-002">
  <h2>Genesis 2</h2>
  <span class="verse" title="Genesis 2:1" id="Genesis-2-1">The heavens and the earth were finished, and all their vast array.</span>
  <span class="verse" title="Genesis 2:2" id="Genesis-2-2">On the seventh day God finished his work which he had made; and he rested on the seventh day from all his work which he had made.</span>
  <span class="verse" title="Genesis 2:3" id="Genesis-2-3">God blessed the seventh day, and made it holy, because he rested in it from all his work which he had created and made.</span>
  <span class="verse" title="Genesis 2:4" id="Genesis-2-4">This is the history of the generations of the heavens and of the earth when they were created, in the day that Yahweh God made the earth and the heavens.</span>
  <span class="verse" title="Genesis 2:5" id="Genesis-2-5">No plant of the field was yet in the earth, and no herb of the field had yet sprung up; for Yahweh God had not caused it to rain on the earth. There was not a man to till the ground,</span>
  <span class="verse" title="Genesis 2:6" id="Genesis-2-6">but a mist went up from the earth, and watered the whole surface of the ground.</span>
  <span class="verse" title="Genesis 2:7" id="Genesis-2-7">Yahweh God formed man from the dust of the ground, and breathed into his nostrils the breath of life; and man became a living soul.</span>
  <span class="verse" title="Genesis 2:8" id="Genesis-2-8">Yahweh God planted a garden eastward, in Eden, and there he put the man whom he had formed.</span>
  <span class="verse" title="Genesis 2:9" id="Genesis-2-9">Out of the ground Yahweh God made every tree to grow that is pleasant to the sight, and good for food; the tree of life also in the middle of the garden, and the tree of the knowledge of good and evil.</span>
  <span class="verse" title="Genesis 2:10" id="Genesis-2-10">A river went out of Eden to water the garden; and from there it was parted, and became four heads.</span>
  <span class="verse" title="Genesis 2:11" id="Genesis-2-11">The name of the first is Pishon: this is the one which flows through the whole land of Havilah, where there is gold;</span>
  <span class="verse" title="Genesis 2:12" id="Genesis-2-12">and the gold of that land is good. There is aromatic resin and the onyx stone.</span>
  <span class="verse" title="Genesis 2:13" id="Genesis-2-13">The name of the second river is Gihon: the same river that flows through the whole land of Cush.</span>
  <span class="verse" title="Genesis 2:14" id="Genesis-2-14">The name of the third river is Hiddekel: this is the one which flows in front of Assyria. The fourth river is the Euphrates.</span>
  <span class="verse" title="Genesis 2:15" id="Genesis-2-15">Yahweh God took the man, and put him into the garden of Eden to dress it and to keep it.</span>
  <span class="verse" title="Genesis 2:16" id="Genesis-2-16">Yahweh God commanded the man, saying, &#8220;Of every tree of the garden you may freely eat;</span>
  <span class="verse" title="Genesis 2:17" id="Genesis-2-17">but of the tree of the knowledge of good and evil, you shall not eat of it; for in the day that you eat of it you will surely die.&#8221;</span>
  <span class="verse" title="Genesis 2:18" id="Genesis-2-18">Yahweh God said, &#8220;It is not good that the man should be alone; I will make him a helper suitable for him.&#8221;</span>
  <span class="verse" title="Genesis 2:19" id="Genesis-2-19">Out of the ground Yahweh God formed every animal of the field, and every bird of the sky, and brought them to the man to see what he would call them. Whatever the man called every living creature, that was its name.</span>
  <span class="verse" title="Genesis 2:20" id="Genesis-2-20">The man gave names to all livestock, and to the birds of the sky, and to every animal of the field; but for man there was not found a helper suitable for him.</span>
  <span class="verse" title="Genesis 2:21" id="Genesis-2-21">Yahweh God caused a deep sleep to fall on the man, and he slept; and he took one of his ribs, and closed up the flesh in its place.</span>
  <span class="verse" title="Genesis 2:22" id="Genesis-2-22">He made the rib, which Yahweh God had taken from the man, into a woman, and brought her to the man.</span>
  <span class="verse" title="Genesis 2:23" id="Genesis-2-23">The man said, &#8220;This is now bone of my bones, and flesh of my flesh. She will be called &#8216;woman,&#8217; because she was taken out of Man.&#8221;</span>
  <span class="verse" title="Genesis 2:24" id="Genesis-2-24">Therefore a man will leave his father and his mother, and will join with his wife, and they will be one flesh.</span>
  <span class="verse" title="Genesis 2:25" id="Genesis-2-25">They were both naked, the man and his wife, and were not ashamed.</span>
</div>