<div class="chapter" id="Genesis-004">
  <h2>Genesis 4</h2>
  <span class="verse" title="Genesis 4:1" id="Genesis-4-1">The man knew Eve his wife. She conceived, and gave birth to Cain, and said, &#8220;I have gotten a man with Yahweh&#8217;s help.&#8221;</span>
  <span class="verse" title="Genesis 4:2" id="Genesis-4-2">Again she gave birth, to Cain&#8217;s brother Abel. Abel was a keeper of sheep, but Cain was a tiller of the ground.</span>
  <span class="verse" title="Genesis 4:3" id="Genesis-4-3">As time passed, it happened that Cain brought an offering to Yahweh from the fruit of the ground.</span>
  <span class="verse" title="Genesis 4:4" id="Genesis-4-4">Abel also brought some of the firstborn of his flock and of its fat. Yahweh respected Abel and his offering,</span>
  <span class="verse" title="Genesis 4:5" id="Genesis-4-5">but he didn&#8217;t respect Cain and his offering. Cain was very angry, and the expression on his face fell.</span>
  <span class="verse" title="Genesis 4:6" id="Genesis-4-6">Yahweh said to Cain, &#8220;Why are you angry? Why has the expression of your face fallen?</span>
  <span class="verse" title="Genesis 4:7" id="Genesis-4-7">If you do well, will it not be lifted up? If you don&#8217;t do well, sin crouches at the door. Its desire is for you, but you are to rule over it.&#8221;</span>
  <span class="verse" title="Genesis 4:8" id="Genesis-4-8">Cain said to Abel, his brother, &#8220;Let&#8217;s go into the field.&#8221; It happened when they were in the field, that Cain rose up against Abel, his brother, and killed him.</span>
  <span class="verse" title="Genesis 4:9" id="Genesis-4-9">Yahweh said to Cain, &#8220;Where is Abel, your brother?&#8221; He said, &#8220;I don&#8217;t know. Am I my brother&#8217;s keeper?&#8221;</span>
  <span class="verse" title="Genesis 4:10" id="Genesis-4-10">Yahweh said, &#8220;What have you done? The voice of your brother&#8217;s blood cries to me from the ground.</span>
  <span class="verse" title="Genesis 4:11" id="Genesis-4-11">Now you are cursed because of the ground, which has opened its mouth to receive your brother&#8217;s blood from your hand.</span>
  <span class="verse" title="Genesis 4:12" id="Genesis-4-12">From now on, when you till the ground, it won&#8217;t yield its strength to you. You shall be a fugitive and a wanderer in the earth.&#8221;</span>
  <span class="verse" title="Genesis 4:13" id="Genesis-4-13">Cain said to Yahweh, &#8220;My punishment is greater than I can bear.</span>
  <span class="verse" title="Genesis 4:14" id="Genesis-4-14">Behold, you have driven me out this day from the surface of the ground. I will be hidden from your face, and I will be a fugitive and a wanderer in the earth. It will happen that whoever finds me will kill me.&#8221;</span>
  <span class="verse" title="Genesis 4:15" id="Genesis-4-15">Yahweh said to him, &#8220;Therefore whoever slays Cain, vengeance will be taken on him sevenfold.&#8221; Yahweh appointed a sign for Cain, lest any finding him should strike him.</span>
  <span class="verse" title="Genesis 4:16" id="Genesis-4-16">Cain went out from Yahweh&#8217;s presence, and lived in the land of Nod, east of Eden.</span>
  <span class="verse" title="Genesis 4:17" id="Genesis-4-17">Cain knew his wife. She conceived, and gave birth to Enoch. He built a city, and called the name of the city, after the name of his son, Enoch.</span>
  <span class="verse" title="Genesis 4:18" id="Genesis-4-18">To Enoch was born Irad. Irad became the father of Mehujael. Mehujael became the father of Methushael. Methushael became the father of Lamech.</span>
  <span class="verse" title="Genesis 4:19" id="Genesis-4-19">Lamech took two wives: the name of the one was Adah, and the name of the other Zillah.</span>
  <span class="verse" title="Genesis 4:20" id="Genesis-4-20">Adah gave birth to Jabal, who was the father of those who dwell in tents and have livestock.</span>
  <span class="verse" title="Genesis 4:21" id="Genesis-4-21">His brother&#8217;s name was Jubal, who was the father of all who handle the harp and pipe.</span>
  <span class="verse" title="Genesis 4:22" id="Genesis-4-22">Zillah also gave birth to Tubal Cain, the forger of every cutting instrument of brass and iron. Tubal Cain&#8217;s sister was Naamah.</span>
  <span class="verse" title="Genesis 4:23" id="Genesis-4-23">Lamech said to his wives,  &#8220;Adah and Zillah, hear my voice.<br/> <span class="indent">&nbsp;&nbsp;</span>You wives of Lamech, listen to my speech,<br/>   for I have slain a man for wounding me,<br/> <span class="indent">&nbsp;&nbsp;</span>a young man for bruising me.<br/></span>
  <span class="verse" title="Genesis 4:24" id="Genesis-4-24">If Cain will be avenged seven times,<br/> <span class="indent">&nbsp;&nbsp;</span>truly Lamech seventy-seven times.&#8221;<br/></span>
  <span class="verse" title="Genesis 4:25" id="Genesis-4-25">Adam knew his wife again. She gave birth to a son, and named him Seth, &#8220;for God has appointed me another child instead of Abel, for Cain killed him.&#8221;</span>
  <span class="verse" title="Genesis 4:26" id="Genesis-4-26">There was also born a son to Seth, and he named him Enosh. Then men began to call on Yahweh&#8217;s name.</span>
</div>