<div class="chapter" id="Genesis-005">
  <h2>Genesis 5</h2>
  <span class="verse" title="Genesis 5:1" id="Genesis-5-1">This is the book of the generations of Adam. In the day that God created man, he made him in God&#8217;s likeness.</span>
  <span class="verse" title="Genesis 5:2" id="Genesis-5-2">He created them male and female, and blessed them, and called their name &#8220;Adam,&#8221; in the day when they were created.</span>
  <span class="verse" title="Genesis 5:3" id="Genesis-5-3">Adam lived one hundred thirty years, and became the father of a son in his own likeness, after his image, and named him Seth.</span>
  <span class="verse" title="Genesis 5:4" id="Genesis-5-4">The days of Adam after he became the father of Seth were eight hundred years, and he became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 5:5" id="Genesis-5-5">All the days that Adam lived were nine hundred thirty years, then he died.</span>
  <span class="verse" title="Genesis 5:6" id="Genesis-5-6">Seth lived one hundred five years, and became the father of Enosh.</span>
  <span class="verse" title="Genesis 5:7" id="Genesis-5-7">Seth lived after he became the father of Enosh eight hundred seven years, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 5:8" id="Genesis-5-8">All the days of Seth were nine hundred twelve years, then he died.</span>
  <span class="verse" title="Genesis 5:9" id="Genesis-5-9">Enosh lived ninety years, and became the father of Kenan.</span>
  <span class="verse" title="Genesis 5:10" id="Genesis-5-10">Enosh lived after he became the father of Kenan, eight hundred fifteen years, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 5:11" id="Genesis-5-11">All the days of Enosh were nine hundred five years, then he died.</span>
  <span class="verse" title="Genesis 5:12" id="Genesis-5-12">Kenan lived seventy years, and became the father of Mahalalel.</span>
  <span class="verse" title="Genesis 5:13" id="Genesis-5-13">Kenan lived after he became the father of Mahalalel eight hundred forty years, and became the father of sons and daughters</span>
  <span class="verse" title="Genesis 5:14" id="Genesis-5-14">and all the days of Kenan were nine hundred ten years, then he died.</span>
  <span class="verse" title="Genesis 5:15" id="Genesis-5-15">Mahalalel lived sixty-five years, and became the father of Jared.</span>
  <span class="verse" title="Genesis 5:16" id="Genesis-5-16">Mahalalel lived after he became the father of Jared eight hundred thirty years, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 5:17" id="Genesis-5-17">All the days of Mahalalel were eight hundred ninety-five years, then he died.</span>
  <span class="verse" title="Genesis 5:18" id="Genesis-5-18">Jared lived one hundred sixty-two years, and became the father of Enoch.</span>
  <span class="verse" title="Genesis 5:19" id="Genesis-5-19">Jared lived after he became the father of Enoch eight hundred years, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 5:20" id="Genesis-5-20">All the days of Jared were nine hundred sixty-two years, then he died.</span>
  <span class="verse" title="Genesis 5:21" id="Genesis-5-21">Enoch lived sixty-five years, and became the father of Methuselah.</span>
  <span class="verse" title="Genesis 5:22" id="Genesis-5-22">Enoch walked with God after he became the father of Methuselah three hundred years, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 5:23" id="Genesis-5-23">All the days of Enoch were three hundred sixty-five years.</span>
  <span class="verse" title="Genesis 5:24" id="Genesis-5-24">Enoch walked with God, and he was not, for God took him.</span>
  <span class="verse" title="Genesis 5:25" id="Genesis-5-25">Methuselah lived one hundred eighty-seven years, and became the father of Lamech.</span>
  <span class="verse" title="Genesis 5:26" id="Genesis-5-26">Methuselah lived after he became the father of Lamech seven hundred eighty-two years, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 5:27" id="Genesis-5-27">All the days of Methuselah were nine hundred sixty-nine years, then he died.</span>
  <span class="verse" title="Genesis 5:28" id="Genesis-5-28">Lamech lived one hundred eighty-two years, and became the father of a son,</span>
  <span class="verse" title="Genesis 5:29" id="Genesis-5-29">and he named him Noah, saying, &#8220;This same will comfort us in our work and in the toil of our hands, because of the ground which Yahweh has cursed.&#8221;</span>
  <span class="verse" title="Genesis 5:30" id="Genesis-5-30">Lamech lived after he became the father of Noah five hundred ninety-five years, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 5:31" id="Genesis-5-31">All the days of Lamech were seven hundred seventy-seven years, then he died.</span>
  <span class="verse" title="Genesis 5:32" id="Genesis-5-32">Noah was five hundred years old, and Noah became the father of Shem, Ham, and Japheth.</span>
</div>