<div class="chapter" id="Genesis-006">
  <h2>Genesis 6</h2>
  <span class="verse" title="Genesis 6:1" id="Genesis-6-1">It happened, when men began to multiply on the surface of the ground, and daughters were born to them,</span>
  <span class="verse" title="Genesis 6:2" id="Genesis-6-2">that God&#8217;s sons saw that men&#8217;s daughters were beautiful, and they took for themselves wives of all that they chose.</span>
  <span class="verse" title="Genesis 6:3" id="Genesis-6-3">Yahweh said, &#8220;My Spirit will not strive with man forever, because he also is flesh; yet will his days be one hundred twenty years.&#8221;</span>
  <span class="verse" title="Genesis 6:4" id="Genesis-6-4">The Nephilim were in the earth in those days, and also after that, when God&#8217;s sons came in to men&#8217;s daughters. They bore children to them. Those were the mighty men who were of old, men of renown.</span>
  <span class="verse" title="Genesis 6:5" id="Genesis-6-5">Yahweh saw that the wickedness of man was great in the earth, and that every imagination of the thoughts of his heart was only evil continually.</span>
  <span class="verse" title="Genesis 6:6" id="Genesis-6-6">Yahweh was sorry that he had made man on the earth, and it grieved him in his heart.</span>
  <span class="verse" title="Genesis 6:7" id="Genesis-6-7">Yahweh said, &#8220;I will destroy man whom I have created from the surface of the ground; man, along with animals, creeping things, and birds of the sky; for I am sorry that I have made them.&#8221;</span>
  <span class="verse" title="Genesis 6:8" id="Genesis-6-8">But Noah found favor in Yahweh&#8217;s eyes.</span>
  <span class="verse" title="Genesis 6:9" id="Genesis-6-9">This is the history of the generations of Noah. Noah was a righteous man, blameless among the people of his time. Noah walked with God.</span>
  <span class="verse" title="Genesis 6:10" id="Genesis-6-10">Noah became the father of three sons: Shem, Ham, and Japheth.</span>
  <span class="verse" title="Genesis 6:11" id="Genesis-6-11">The earth was corrupt before God, and the earth was filled with violence.</span>
  <span class="verse" title="Genesis 6:12" id="Genesis-6-12">God saw the earth, and saw that it was corrupt, for all flesh had corrupted their way on the earth.</span>
  <span class="verse" title="Genesis 6:13" id="Genesis-6-13">God said to Noah, &#8220;The end of all flesh has come before me, for the earth is filled with violence through them. Behold, I will destroy them with the earth.</span>
  <span class="verse" title="Genesis 6:14" id="Genesis-6-14">Make a ship of gopher wood. You shall make rooms in the ship, and shall seal it inside and outside with pitch.</span>
  <span class="verse" title="Genesis 6:15" id="Genesis-6-15">This is how you shall make it. The length of the ship will be three hundred cubits, its breadth fifty cubits, and its height thirty cubits.</span>
  <span class="verse" title="Genesis 6:16" id="Genesis-6-16">You shall make a roof in the ship, and you shall finish it to a cubit upward. You shall set the door of the ship in its side. You shall make it with lower, second, and third levels.</span>
  <span class="verse" title="Genesis 6:17" id="Genesis-6-17">I, even I, do bring the flood of waters on this earth, to destroy all flesh having the breath of life from under the sky. Everything that is in the earth will die.</span>
  <span class="verse" title="Genesis 6:18" id="Genesis-6-18">But I will establish my covenant with you. You shall come into the ship, you, your sons, your wife, and your sons&#8217; wives with you.</span>
  <span class="verse" title="Genesis 6:19" id="Genesis-6-19">Of every living thing of all flesh, you shall bring two of every sort into the ship, to keep them alive with you. They shall be male and female.</span>
  <span class="verse" title="Genesis 6:20" id="Genesis-6-20">Of the birds after their kind, of the livestock after their kind, of every creeping thing of the ground after its kind, two of every sort shall come to you, to keep them alive.</span>
  <span class="verse" title="Genesis 6:21" id="Genesis-6-21">Take with you of all food that is eaten, and gather it to yourself; and it will be for food for you, and for them.&#8221;</span>
  <span class="verse" title="Genesis 6:22" id="Genesis-6-22">Thus Noah did. According to all that God commanded him, so he did.</span>
</div>