<div class="chapter" id="Genesis-007">
  <h2>Genesis 7</h2>
  <span class="verse" title="Genesis 7:1" id="Genesis-7-1">Yahweh said to Noah, &#8220;Come with all of your household into the ship, for I have seen your righteousness before me in this generation.</span>
  <span class="verse" title="Genesis 7:2" id="Genesis-7-2">You shall take seven pairs of every clean animal with you, the male and his female. Of the animals that are not clean, take two, the male and his female.</span>
  <span class="verse" title="Genesis 7:3" id="Genesis-7-3">Also of the birds of the sky, seven and seven, male and female, to keep seed alive on the surface of all the earth.</span>
  <span class="verse" title="Genesis 7:4" id="Genesis-7-4">In seven days, I will cause it to rain on the earth for forty days and forty nights. Every living thing that I have made, I will destroy from the surface of the ground.&#8221;</span>
  <span class="verse" title="Genesis 7:5" id="Genesis-7-5">Noah did everything that Yahweh commanded him.</span>
  <span class="verse" title="Genesis 7:6" id="Genesis-7-6">Noah was six hundred years old when the flood of waters came on the earth.</span>
  <span class="verse" title="Genesis 7:7" id="Genesis-7-7">Noah went into the ship with his sons, his wife, and his sons&#8217; wives, because of the waters of the flood.</span>
  <span class="verse" title="Genesis 7:8" id="Genesis-7-8">Clean animals, animals that are not clean, birds, and everything that creeps on the ground</span>
  <span class="verse" title="Genesis 7:9" id="Genesis-7-9">went by pairs to Noah into the ship, male and female, as God commanded Noah.</span>
  <span class="verse" title="Genesis 7:10" id="Genesis-7-10">It happened after the seven days, that the waters of the flood came on the earth.</span>
  <span class="verse" title="Genesis 7:11" id="Genesis-7-11">In the six hundredth year of Noah&#8217;s life, in the second month, on the seventeenth day of the month, on the same day all the fountains of the great deep were burst open, and the sky&#8217;s windows were opened.</span>
  <span class="verse" title="Genesis 7:12" id="Genesis-7-12">The rain was on the earth forty days and forty nights.</span>
  <span class="verse" title="Genesis 7:13" id="Genesis-7-13">In the same day Noah, and Shem, Ham, and Japheth, the sons of Noah, and Noah&#8217;s wife, and the three wives of his sons with them, entered into the ship;</span>
  <span class="verse" title="Genesis 7:14" id="Genesis-7-14">they, and every animal after its kind, all the livestock after their kind, every creeping thing that creeps on the earth after its kind, and every bird after its kind, every bird of every sort.</span>
  <span class="verse" title="Genesis 7:15" id="Genesis-7-15">They went to Noah into the ship, by pairs of all flesh with the breath of life in them.</span>
  <span class="verse" title="Genesis 7:16" id="Genesis-7-16">Those who went in, went in male and female of all flesh, as God commanded him; and Yahweh shut him in.</span>
  <span class="verse" title="Genesis 7:17" id="Genesis-7-17">The flood was forty days on the earth. The waters increased, and lifted up the ship, and it was lifted up above the earth.</span>
  <span class="verse" title="Genesis 7:18" id="Genesis-7-18">The waters prevailed, and increased greatly on the earth; and the ship floated on the surface of the waters.</span>
  <span class="verse" title="Genesis 7:19" id="Genesis-7-19">The waters prevailed exceedingly on the earth. All the high mountains that were under the whole sky were covered.</span>
  <span class="verse" title="Genesis 7:20" id="Genesis-7-20">The waters prevailed fifteen cubits upward, and the mountains were covered.</span>
  <span class="verse" title="Genesis 7:21" id="Genesis-7-21">All flesh died that moved on the earth, including birds, livestock, animals, every creeping thing that creeps on the earth, and every man.</span>
  <span class="verse" title="Genesis 7:22" id="Genesis-7-22">All in whose nostrils was the breath of the spirit of life, of all that was on the dry land, died.</span>
  <span class="verse" title="Genesis 7:23" id="Genesis-7-23">Every living thing was destroyed that was on the surface of the ground, including man, livestock, creeping things, and birds of the sky. They were destroyed from the earth. Only Noah was left, and those who were with him in the ship.</span>
  <span class="verse" title="Genesis 7:24" id="Genesis-7-24">The waters prevailed on the earth one hundred fifty days.</span>
</div>