<div class="chapter" id="Genesis-008">
  <h2>Genesis 8</h2>
  <span class="verse" title="Genesis 8:1" id="Genesis-8-1">God remembered Noah, all the animals, and all the livestock that were with him in the ship; and God made a wind to pass over the earth. The waters subsided.</span>
  <span class="verse" title="Genesis 8:2" id="Genesis-8-2">The deep&#8217;s fountains and the sky&#8217;s windows were also stopped, and the rain from the sky was restrained.</span>
  <span class="verse" title="Genesis 8:3" id="Genesis-8-3">The waters receded from the earth continually. After the end of one hundred fifty days the waters decreased.</span>
  <span class="verse" title="Genesis 8:4" id="Genesis-8-4">The ship rested in the seventh month, on the seventeenth day of the month, on Ararat&#8217;s mountains.</span>
  <span class="verse" title="Genesis 8:5" id="Genesis-8-5">The waters receded continually until the tenth month. In the tenth month, on the first day of the month, the tops of the mountains were seen.</span>
  <span class="verse" title="Genesis 8:6" id="Genesis-8-6">It happened at the end of forty days, that Noah opened the window of the ship which he had made,</span>
  <span class="verse" title="Genesis 8:7" id="Genesis-8-7">and he sent out a raven. It went back and forth, until the waters were dried up from the earth.</span>
  <span class="verse" title="Genesis 8:8" id="Genesis-8-8">He sent out a dove from him, to see if the waters were abated from the surface of the ground,</span>
  <span class="verse" title="Genesis 8:9" id="Genesis-8-9">but the dove found no place to rest her foot, and she returned to him into the ship; for the waters were on the surface of the whole earth. He put out his hand, and took her, and brought her to him into the ship.</span>
  <span class="verse" title="Genesis 8:10" id="Genesis-8-10">He stayed yet another seven days; and again he sent the dove out of the ship.</span>
  <span class="verse" title="Genesis 8:11" id="Genesis-8-11">The dove came back to him at evening, and, behold, in her mouth was an olive leaf plucked off. So Noah knew that the waters were abated from the earth.</span>
  <span class="verse" title="Genesis 8:12" id="Genesis-8-12">He stayed yet another seven days, and sent out the dove; and she didn&#8217;t return to him any more.</span>
  <span class="verse" title="Genesis 8:13" id="Genesis-8-13">It happened in the six hundred first year, in the first month, the first day of the month, the waters were dried up from the earth. Noah removed the covering of the ship, and looked. He saw that the surface of the ground was dried.</span>
  <span class="verse" title="Genesis 8:14" id="Genesis-8-14">In the second month, on the twenty-seventh day of the month, the earth was dry.</span>
  <span class="verse" title="Genesis 8:15" id="Genesis-8-15">God spoke to Noah, saying,</span>
  <span class="verse" title="Genesis 8:16" id="Genesis-8-16">&#8220;Go out of the ship, you, and your wife, and your sons, and your sons&#8217; wives with you.</span>
  <span class="verse" title="Genesis 8:17" id="Genesis-8-17">Bring out with you every living thing that is with you of all flesh, including birds, livestock, and every creeping thing that creeps on the earth, that they may breed abundantly in the earth, and be fruitful, and multiply on the earth.&#8221;</span>
  <span class="verse" title="Genesis 8:18" id="Genesis-8-18">Noah went out, with his sons, his wife, and his sons&#8217; wives with him.</span>
  <span class="verse" title="Genesis 8:19" id="Genesis-8-19">Every animal, every creeping thing, and every bird, whatever moves on the earth, after their families, went out of the ship.</span>
  <span class="verse" title="Genesis 8:20" id="Genesis-8-20">Noah built an altar to Yahweh, and took of every clean animal, and of every clean bird, and offered burnt offerings on the altar.</span>
  <span class="verse" title="Genesis 8:21" id="Genesis-8-21">Yahweh smelled the pleasant aroma. Yahweh said in his heart, &#8220;I will not again curse the ground any more for man&#8217;s sake, because the imagination of man&#8217;s heart is evil from his youth; neither will I ever again strike everything living, as I have done.</span>
  <span class="verse" title="Genesis 8:22" id="Genesis-8-22">While the earth remains, seed time and harvest, and cold and heat, and summer and winter, and day and night shall not cease.&#8221;</span>
</div>