<div class="chapter" id="Genesis-009">
  <h2>Genesis 9</h2>
  <span class="verse" title="Genesis 9:1" id="Genesis-9-1">God blessed Noah and his sons, and said to them, &#8220;Be fruitful, and multiply, and replenish the earth.</span>
  <span class="verse" title="Genesis 9:2" id="Genesis-9-2">The fear of you and the dread of you will be on every animal of the earth, and on every bird of the sky. Everything that the ground teems with, and all the fish of the sea are delivered into your hand.</span>
  <span class="verse" title="Genesis 9:3" id="Genesis-9-3">Every moving thing that lives will be food for you. As the green herb, I have given everything to you.</span>
  <span class="verse" title="Genesis 9:4" id="Genesis-9-4">But flesh with its life, its blood, you shall not eat.</span>
  <span class="verse" title="Genesis 9:5" id="Genesis-9-5">I will surely require your blood of your lives. At the hand of every animal I will require it. At the hand of man, even at the hand of every man&#8217;s brother, I will require the life of man.</span>
  <span class="verse" title="Genesis 9:6" id="Genesis-9-6">Whoever sheds man&#8217;s blood, his blood will be shed by man, for God made man in his own image.</span>
  <span class="verse" title="Genesis 9:7" id="Genesis-9-7">Be fruitful and multiply. Increase abundantly in the earth, and multiply in it.&#8221;</span>
  <span class="verse" title="Genesis 9:8" id="Genesis-9-8">God spoke to Noah and to his sons with him, saying,</span>
  <span class="verse" title="Genesis 9:9" id="Genesis-9-9">&#8220;As for me, behold, I establish my covenant with you, and with your offspring after you,</span>
  <span class="verse" title="Genesis 9:10" id="Genesis-9-10">and with every living creature that is with you: the birds, the livestock, and every animal of the earth with you, of all that go out of the ship, even every animal of the earth.</span>
  <span class="verse" title="Genesis 9:11" id="Genesis-9-11">I will establish my covenant with you: all flesh will not be cut off any more by the waters of the flood, neither will there ever again be a flood to destroy the earth.&#8221;</span>
  <span class="verse" title="Genesis 9:12" id="Genesis-9-12">God said, &#8220;This is the token of the covenant which I make between me and you and every living creature that is with you, for perpetual generations:</span>
  <span class="verse" title="Genesis 9:13" id="Genesis-9-13">I set my rainbow in the cloud, and it will be for a sign of a covenant between me and the earth.</span>
  <span class="verse" title="Genesis 9:14" id="Genesis-9-14">It will happen, when I bring a cloud over the earth, that the rainbow will be seen in the cloud,</span>
  <span class="verse" title="Genesis 9:15" id="Genesis-9-15">and I will remember my covenant, which is between me and you and every living creature of all flesh, and the waters will no more become a flood to destroy all flesh.</span>
  <span class="verse" title="Genesis 9:16" id="Genesis-9-16">The rainbow will be in the cloud. I will look at it, that I may remember the everlasting covenant between God and every living creature of all flesh that is on the earth.&#8221;</span>
  <span class="verse" title="Genesis 9:17" id="Genesis-9-17">God said to Noah, &#8220;This is the token of the covenant which I have established between me and all flesh that is on the earth.&#8221;</span>
  <span class="verse" title="Genesis 9:18" id="Genesis-9-18">The sons of Noah who went out from the ship were Shem, Ham, and Japheth. Ham is the father of Canaan.</span>
  <span class="verse" title="Genesis 9:19" id="Genesis-9-19">These three were the sons of Noah, and from these, the whole earth was populated.</span>
  <span class="verse" title="Genesis 9:20" id="Genesis-9-20">Noah began to be a farmer, and planted a vineyard.</span>
  <span class="verse" title="Genesis 9:21" id="Genesis-9-21">He drank of the wine and got drunk. He was uncovered within his tent.</span>
  <span class="verse" title="Genesis 9:22" id="Genesis-9-22">Ham, the father of Canaan, saw the nakedness of his father, and told his two brothers outside.</span>
  <span class="verse" title="Genesis 9:23" id="Genesis-9-23">Shem and Japheth took a garment, and laid it on both their shoulders, went in backwards, and covered the nakedness of their father. Their faces were backwards, and they didn&#8217;t see their father&#8217;s nakedness.</span>
  <span class="verse" title="Genesis 9:24" id="Genesis-9-24">Noah awoke from his wine, and knew what his youngest son had done to him.</span>
  <span class="verse" title="Genesis 9:25" id="Genesis-9-25">He said,  &#8220;Canaan is cursed.<br/> <span class="indent">&nbsp;&nbsp;</span>He will be servant of servants to his brothers.&#8221;<br/></span>
  <span class="verse" title="Genesis 9:26" id="Genesis-9-26">He said,  &#8220;Blessed be Yahweh, the God of Shem.<br/> <span class="indent">&nbsp;&nbsp;</span>Let Canaan be his servant.<br/></span>
  <span class="verse" title="Genesis 9:27" id="Genesis-9-27">May God enlarge Japheth.<br/> <span class="indent">&nbsp;&nbsp;</span>Let him dwell in the tents of Shem.<br/> <span class="indent">&nbsp;&nbsp;</span>Let Canaan be his servant.&#8221;<br/></span>
  <span class="verse" title="Genesis 9:28" id="Genesis-9-28">Noah lived three hundred fifty years after the flood.</span>
  <span class="verse" title="Genesis 9:29" id="Genesis-9-29">All the days of Noah were nine hundred fifty years, then he died.</span>
</div>