<div class="chapter" id="Genesis-010">
  <h2>Genesis 10</h2>
  <span class="verse" title="Genesis 10:1" id="Genesis-10-1">Now this is the history of the generations of the sons of Noah and of Shem, Ham, and Japheth. Sons were born to them after the flood.</span>
  <span class="verse" title="Genesis 10:2" id="Genesis-10-2">The sons of Japheth: Gomer, Magog, Madai, Javan, Tubal, Meshech, and Tiras.</span>
  <span class="verse" title="Genesis 10:3" id="Genesis-10-3">The sons of Gomer: Ashkenaz, Riphath, and Togarmah.</span>
  <span class="verse" title="Genesis 10:4" id="Genesis-10-4">The sons of Javan: Elishah, Tarshish, Kittim, and Dodanim.</span>
  <span class="verse" title="Genesis 10:5" id="Genesis-10-5">Of these were the islands of the nations divided in their lands, everyone after his language, after their families, in their nations.</span>
  <span class="verse" title="Genesis 10:6" id="Genesis-10-6">The sons of Ham: Cush, Mizraim, Put, and Canaan.</span>
  <span class="verse" title="Genesis 10:7" id="Genesis-10-7">The sons of Cush: Seba, Havilah, Sabtah, Raamah, and Sabteca. The sons of Raamah: Sheba and Dedan.</span>
  <span class="verse" title="Genesis 10:8" id="Genesis-10-8">Cush became the father of Nimrod. He began to be a mighty one in the earth.</span>
  <span class="verse" title="Genesis 10:9" id="Genesis-10-9">He was a mighty hunter before Yahweh. Therefore it is said, &#8220;Like Nimrod, a mighty hunter before Yahweh.&#8221;</span>
  <span class="verse" title="Genesis 10:10" id="Genesis-10-10">The beginning of his kingdom was Babel, Erech, Accad, and Calneh, in the land of Shinar.</span>
  <span class="verse" title="Genesis 10:11" id="Genesis-10-11">Out of that land he went into Assyria, and built Nineveh, Rehoboth Ir, Calah,</span>
  <span class="verse" title="Genesis 10:12" id="Genesis-10-12">and Resen between Nineveh and Calah (the same is the great city).</span>
  <span class="verse" title="Genesis 10:13" id="Genesis-10-13">Mizraim became the father of Ludim, Anamim, Lehabim, Naphtuhim,</span>
  <span class="verse" title="Genesis 10:14" id="Genesis-10-14">Pathrusim, Casluhim (which the Philistines descended from), and Caphtorim.</span>
  <span class="verse" title="Genesis 10:15" id="Genesis-10-15">Canaan became the father of Sidon (his firstborn), Heth,</span>
  <span class="verse" title="Genesis 10:16" id="Genesis-10-16">the Jebusite, the Amorite, the Girgashite,</span>
  <span class="verse" title="Genesis 10:17" id="Genesis-10-17">the Hivite, the Arkite, the Sinite,</span>
  <span class="verse" title="Genesis 10:18" id="Genesis-10-18">the Arvadite, the Zemarite, and the Hamathite. Afterward the families of the Canaanites were spread abroad.</span>
  <span class="verse" title="Genesis 10:19" id="Genesis-10-19">The border of the Canaanites was from Sidon, as you go toward Gerar, to Gaza; as you go toward Sodom, Gomorrah, Admah, and Zeboiim, to Lasha.</span>
  <span class="verse" title="Genesis 10:20" id="Genesis-10-20">These are the sons of Ham, after their families, after their languages, in their lands, in their nations.</span>
  <span class="verse" title="Genesis 10:21" id="Genesis-10-21">To Shem, the father of all the children of Eber, the elder brother of Japheth, to him also were children born.</span>
  <span class="verse" title="Genesis 10:22" id="Genesis-10-22">The sons of Shem: Elam, Asshur, Arpachshad, Lud, and Aram.</span>
  <span class="verse" title="Genesis 10:23" id="Genesis-10-23">The sons of Aram: Uz, Hul, Gether, and Mash.</span>
  <span class="verse" title="Genesis 10:24" id="Genesis-10-24">Arpachshad became the father of Shelah. Shelah became the father of Eber.</span>
  <span class="verse" title="Genesis 10:25" id="Genesis-10-25">To Eber were born two sons. The name of the one was Peleg, for in his days the earth was divided. His brother&#8217;s name was Joktan.</span>
  <span class="verse" title="Genesis 10:26" id="Genesis-10-26">Joktan became the father of Almodad, Sheleph, Hazarmaveth, Jerah,</span>
  <span class="verse" title="Genesis 10:27" id="Genesis-10-27">Hadoram, Uzal, Diklah,</span>
  <span class="verse" title="Genesis 10:28" id="Genesis-10-28">Obal, Abimael, Sheba,</span>
  <span class="verse" title="Genesis 10:29" id="Genesis-10-29">Ophir, Havilah, and Jobab. All these were the sons of Joktan.</span>
  <span class="verse" title="Genesis 10:30" id="Genesis-10-30">Their dwelling was from Mesha, as you go toward Sephar, the mountain of the east.</span>
  <span class="verse" title="Genesis 10:31" id="Genesis-10-31">These are the sons of Shem, after their families, after their languages, in their lands, after their nations.</span>
  <span class="verse" title="Genesis 10:32" id="Genesis-10-32">These are the families of the sons of Noah, after their generations, in their nations. Of these were the nations divided in the earth after the flood.</span>
</div>