<div class="chapter" id="Genesis-011">
  <h2>Genesis 11</h2>
  <span class="verse" title="Genesis 11:1" id="Genesis-11-1">The whole earth was of one language and of one speech.</span>
  <span class="verse" title="Genesis 11:2" id="Genesis-11-2">It happened, as they traveled east, that they found a plain in the land of Shinar, and they lived there.</span>
  <span class="verse" title="Genesis 11:3" id="Genesis-11-3">They said one to another, &#8220;Come, let&#8217;s make bricks, and burn them thoroughly.&#8221; They had brick for stone, and they used tar for mortar.</span>
  <span class="verse" title="Genesis 11:4" id="Genesis-11-4">They said, &#8220;Come, let&#8217;s build ourselves a city, and a tower whose top reaches to the sky, and let&#8217;s make ourselves a name, lest we be scattered abroad on the surface of the whole earth.&#8221;</span>
  <span class="verse" title="Genesis 11:5" id="Genesis-11-5">Yahweh came down to see the city and the tower, which the children of men built.</span>
  <span class="verse" title="Genesis 11:6" id="Genesis-11-6">Yahweh said, &#8220;Behold, they are one people, and they have all one language, and this is what they begin to do. Now nothing will be withheld from them, which they intend to do.</span>
  <span class="verse" title="Genesis 11:7" id="Genesis-11-7">Come, let&#8217;s go down, and there confuse their language, that they may not understand one another&#8217;s speech.&#8221;</span>
  <span class="verse" title="Genesis 11:8" id="Genesis-11-8">So Yahweh scattered them abroad from there on the surface of all the earth. They stopped building the city.</span>
  <span class="verse" title="Genesis 11:9" id="Genesis-11-9">Therefore its name was called Babel, because there Yahweh confused the language of all the earth. From there, Yahweh scattered them abroad on the surface of all the earth.</span>
  <span class="verse" title="Genesis 11:10" id="Genesis-11-10">This is the history of the generations of Shem. Shem was one hundred years old and became the father of Arpachshad two years after the flood.</span>
  <span class="verse" title="Genesis 11:11" id="Genesis-11-11">Shem lived five hundred years after he became the father of Arpachshad, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 11:12" id="Genesis-11-12">Arpachshad lived thirty-five years and became the father of Shelah.</span>
  <span class="verse" title="Genesis 11:13" id="Genesis-11-13">Arpachshad lived four hundred three years after he became the father of Shelah, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 11:14" id="Genesis-11-14">Shelah lived thirty years, and became the father of Eber:</span>
  <span class="verse" title="Genesis 11:15" id="Genesis-11-15">and Shelah lived four hundred three years after he became the father of Eber, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 11:16" id="Genesis-11-16">Eber lived thirty-four years, and became the father of Peleg.</span>
  <span class="verse" title="Genesis 11:17" id="Genesis-11-17">Eber lived four hundred thirty years after he became the father of Peleg, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 11:18" id="Genesis-11-18">Peleg lived thirty years, and became the father of Reu.</span>
  <span class="verse" title="Genesis 11:19" id="Genesis-11-19">Peleg lived two hundred nine years after he became the father of Reu, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 11:20" id="Genesis-11-20">Reu lived thirty-two years, and became the father of Serug.</span>
  <span class="verse" title="Genesis 11:21" id="Genesis-11-21">Reu lived two hundred seven years after he became the father of Serug, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 11:22" id="Genesis-11-22">Serug lived thirty years, and became the father of Nahor.</span>
  <span class="verse" title="Genesis 11:23" id="Genesis-11-23">Serug lived two hundred years after he became the father of Nahor, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 11:24" id="Genesis-11-24">Nahor lived twenty-nine years, and became the father of Terah.</span>
  <span class="verse" title="Genesis 11:25" id="Genesis-11-25">Nahor lived one hundred nineteen years after he became the father of Terah, and became the father of sons and daughters.</span>
  <span class="verse" title="Genesis 11:26" id="Genesis-11-26">Terah lived seventy years, and became the father of Abram, Nahor, and Haran.</span>
  <span class="verse" title="Genesis 11:27" id="Genesis-11-27">Now this is the history of the generations of Terah. Terah became the father of Abram, Nahor, and Haran. Haran became the father of Lot.</span>
  <span class="verse" title="Genesis 11:28" id="Genesis-11-28">Haran died before his father Terah in the land of his birth, in Ur of the Chaldees.</span>
  <span class="verse" title="Genesis 11:29" id="Genesis-11-29">Abram and Nahor took wives. The name of Abram&#8217;s wife was Sarai, and the name of Nahor&#8217;s wife, Milcah, the daughter of Haran who was also the father of Iscah.</span>
  <span class="verse" title="Genesis 11:30" id="Genesis-11-30">Sarai was barren. She had no child.</span>
  <span class="verse" title="Genesis 11:31" id="Genesis-11-31">Terah took Abram his son, Lot the son of Haran, his son&#8217;s son, and Sarai his daughter-in-law, his son Abram&#8217;s wife. They went from Ur of the Chaldees, to go into the land of Canaan. They came to Haran and lived there.</span>
  <span class="verse" title="Genesis 11:32" id="Genesis-11-32">The days of Terah were two hundred five years. Terah died in Haran.</span>
</div>