<div class="chapter" id="Genesis-012">
  <h2>Genesis 12</h2>
  <span class="verse" title="Genesis 12:1" id="Genesis-12-1">Now Yahweh said to Abram, &#8220;Get out of your country, and from your relatives, and from your father&#8217;s house, to the land that I will show you.</span>
  <span class="verse" title="Genesis 12:2" id="Genesis-12-2">I will make of you a great nation. I will bless you and make your name great. You will be a blessing.</span>
  <span class="verse" title="Genesis 12:3" id="Genesis-12-3">I will bless those who bless you, and I will curse him who curses you. All of the families of the earth will be blessed in you.&#8221;</span>
  <span class="verse" title="Genesis 12:4" id="Genesis-12-4">So Abram went, as Yahweh had spoken to him. Lot went with him. Abram was seventy-five years old when he departed out of Haran.</span>
  <span class="verse" title="Genesis 12:5" id="Genesis-12-5">Abram took Sarai his wife, Lot his brother&#8217;s son, all their substance that they had gathered, and the souls whom they had gotten in Haran, and they went to go into the land of Canaan. Into the land of Canaan they came.</span>
  <span class="verse" title="Genesis 12:6" id="Genesis-12-6">Abram passed through the land to the place of Shechem, to the oak of Moreh. The Canaanite was then in the land.</span>
  <span class="verse" title="Genesis 12:7" id="Genesis-12-7">Yahweh appeared to Abram and said, &#8220;I will give this land to your seed.&#8221; He built an altar there to Yahweh, who appeared to him.</span>
  <span class="verse" title="Genesis 12:8" id="Genesis-12-8">He left from there to the mountain on the east of Bethel, and pitched his tent, having Bethel on the west, and Ai on the east. There he built an altar to Yahweh and called on the name of Yahweh.</span>
  <span class="verse" title="Genesis 12:9" id="Genesis-12-9">Abram traveled, going on still toward the South.</span>
  <span class="verse" title="Genesis 12:10" id="Genesis-12-10">There was a famine in the land. Abram went down into Egypt to live as a foreigner there, for the famine was severe in the land.</span>
  <span class="verse" title="Genesis 12:11" id="Genesis-12-11">It happened, when he had come near to enter Egypt, that he said to Sarai his wife, &#8220;See now, I know that you are a beautiful woman to look at.</span>
  <span class="verse" title="Genesis 12:12" id="Genesis-12-12">It will happen, when the Egyptians will see you, that they will say, &#8216;This is his wife.&#8217; They will kill me, but they will save you alive.</span>
  <span class="verse" title="Genesis 12:13" id="Genesis-12-13">Please say that you are my sister, that it may be well with me for your sake, and that my soul may live because of you.&#8221;</span>
  <span class="verse" title="Genesis 12:14" id="Genesis-12-14">It happened that when Abram had come into Egypt, the Egyptians saw that the woman was very beautiful.</span>
  <span class="verse" title="Genesis 12:15" id="Genesis-12-15">The princes of Pharaoh saw her, and praised her to Pharaoh; and the woman was taken into Pharaoh&#8217;s house.</span>
  <span class="verse" title="Genesis 12:16" id="Genesis-12-16">He dealt well with Abram for her sake. He had sheep, cattle, male donkeys, male servants, female servants, female donkeys, and camels.</span>
  <span class="verse" title="Genesis 12:17" id="Genesis-12-17">Yahweh plagued Pharaoh and his house with great plagues because of Sarai, Abram&#8217;s wife.</span>
  <span class="verse" title="Genesis 12:18" id="Genesis-12-18">Pharaoh called Abram and said, &#8220;What is this that you have done to me? Why didn&#8217;t you tell me that she was your wife?</span>
  <span class="verse" title="Genesis 12:19" id="Genesis-12-19">Why did you say, &#8216;She is my sister,&#8217; so that I took her to be my wife? Now therefore, see your wife, take her, and go your way.&#8221;</span>
  <span class="verse" title="Genesis 12:20" id="Genesis-12-20">Pharaoh commanded men concerning him, and they brought him on the way with his wife and all that he had.</span>
</div>