<div class="chapter" id="Genesis-013">
  <h2>Genesis 13</h2>
  <span class="verse" title="Genesis 13:1" id="Genesis-13-1">Abram went up out of Egypt: he, his wife, all that he had, and Lot with him, into the South.</span>
  <span class="verse" title="Genesis 13:2" id="Genesis-13-2">Abram was very rich in livestock, in silver, and in gold.</span>
  <span class="verse" title="Genesis 13:3" id="Genesis-13-3">He went on his journeys from the South even to Bethel, to the place where his tent had been at the beginning, between Bethel and Ai,</span>
  <span class="verse" title="Genesis 13:4" id="Genesis-13-4">to the place of the altar, which he had made there at the first. There Abram called on the name of Yahweh.</span>
  <span class="verse" title="Genesis 13:5" id="Genesis-13-5">Lot also, who went with Abram, had flocks, and herds, and tents.</span>
  <span class="verse" title="Genesis 13:6" id="Genesis-13-6">The land was not able to bear them, that they might live together: for their substance was great, so that they could not live together.</span>
  <span class="verse" title="Genesis 13:7" id="Genesis-13-7">There was a strife between the herdsmen of Abram&#8217;s livestock and the herdsmen of Lot&#8217;s livestock: and the Canaanite and the Perizzite lived in the land at that time.</span>
  <span class="verse" title="Genesis 13:8" id="Genesis-13-8">Abram said to Lot, &#8220;Please, let there be no strife between me and you, and between my herdsmen and your herdsmen; for we are relatives.</span>
  <span class="verse" title="Genesis 13:9" id="Genesis-13-9">Isn&#8217;t the whole land before you? Please separate yourself from me. If you go to the left hand, then I will go to the right. Or if you go to the right hand, then I will go to the left.&#8221;</span>
  <span class="verse" title="Genesis 13:10" id="Genesis-13-10">Lot lifted up his eyes, and saw all the plain of the Jordan, that it was well-watered everywhere, before Yahweh destroyed Sodom and Gomorrah, like the garden of Yahweh, like the land of Egypt, as you go to Zoar.</span>
  <span class="verse" title="Genesis 13:11" id="Genesis-13-11">So Lot chose the Plain of the Jordan for himself. Lot traveled east, and they separated themselves the one from the other.</span>
  <span class="verse" title="Genesis 13:12" id="Genesis-13-12">Abram lived in the land of Canaan, and Lot lived in the cities of the plain, and moved his tent as far as Sodom.</span>
  <span class="verse" title="Genesis 13:13" id="Genesis-13-13">Now the men of Sodom were exceedingly wicked and sinners against Yahweh.</span>
  <span class="verse" title="Genesis 13:14" id="Genesis-13-14">Yahweh said to Abram, after Lot was separated from him, &#8220;Now, lift up your eyes, and look from the place where you are, northward and southward and eastward and westward,</span>
  <span class="verse" title="Genesis 13:15" id="Genesis-13-15">for all the land which you see, I will give to you, and to your offspring forever.</span>
  <span class="verse" title="Genesis 13:16" id="Genesis-13-16">I will make your offspring as the dust of the earth, so that if a man can number the dust of the earth, then your seed may also be numbered.</span>
  <span class="verse" title="Genesis 13:17" id="Genesis-13-17">Arise, walk through the land in its length and in its breadth; for I will give it to you.&#8221;</span>
  <span class="verse" title="Genesis 13:18" id="Genesis-13-18">Abram moved his tent, and came and lived by the oaks of Mamre, which are in Hebron, and built an altar there to Yahweh.</span>
</div>