<div class="chapter" id="Genesis-014">
  <h2>Genesis 14</h2>
  <span class="verse" title="Genesis 14:1" id="Genesis-14-1">It happened in the days of Amraphel, king of Shinar, Arioch, king of Ellasar, Chedorlaomer, king of Elam, and Tidal, king of Goiim,</span>
  <span class="verse" title="Genesis 14:2" id="Genesis-14-2">that they made war with Bera, king of Sodom, and with Birsha, king of Gomorrah, Shinab, king of Admah, and Shemeber, king of Zeboiim, and the king of Bela (the same is Zoar).</span>
  <span class="verse" title="Genesis 14:3" id="Genesis-14-3">All these joined together in the valley of Siddim (the same is the Salt Sea).</span>
  <span class="verse" title="Genesis 14:4" id="Genesis-14-4">Twelve years they served Chedorlaomer, and in the thirteenth year, they rebelled.</span>
  <span class="verse" title="Genesis 14:5" id="Genesis-14-5">In the fourteenth year Chedorlaomer came, and the kings who were with him, and struck the Rephaim in Ashteroth Karnaim, and the Zuzim in Ham, and the Emim in Shaveh Kiriathaim,</span>
  <span class="verse" title="Genesis 14:6" id="Genesis-14-6">and the Horites in their Mount Seir, to Elparan, which is by the wilderness.</span>
  <span class="verse" title="Genesis 14:7" id="Genesis-14-7">They returned, and came to En Mishpat (the same is Kadesh), and struck all the country of the Amalekites, and also the Amorites, that lived in Hazazon Tamar.</span>
  <span class="verse" title="Genesis 14:8" id="Genesis-14-8">The king of Sodom, and the king of Gomorrah, and the king of Admah, and the king of Zeboiim, and the king of Bela (the same is Zoar) went out; and they set the battle in array against them in the valley of Siddim;</span>
  <span class="verse" title="Genesis 14:9" id="Genesis-14-9">against Chedorlaomer king of Elam, and Tidal king of Goiim, and Amraphel king of Shinar, and Arioch king of Ellasar; four kings against the five.</span>
  <span class="verse" title="Genesis 14:10" id="Genesis-14-10">Now the valley of Siddim was full of tar pits; and the kings of Sodom and Gomorrah fled, and they fell there, and those who remained fled to the hills.</span>
  <span class="verse" title="Genesis 14:11" id="Genesis-14-11">They took all the goods of Sodom and Gomorrah, and all their food, and went their way.</span>
  <span class="verse" title="Genesis 14:12" id="Genesis-14-12">They took Lot, Abram&#8217;s brother&#8217;s son, who lived in Sodom, and his goods, and departed.</span>
  <span class="verse" title="Genesis 14:13" id="Genesis-14-13">One who had escaped came and told Abram, the Hebrew. Now he lived by the oaks of Mamre, the Amorite, brother of Eshcol, and brother of Aner; and these were allies of Abram.</span>
  <span class="verse" title="Genesis 14:14" id="Genesis-14-14">When Abram heard that his relative was taken captive, he led out his trained men, born in his house, three hundred and eighteen, and pursued as far as Dan.</span>
  <span class="verse" title="Genesis 14:15" id="Genesis-14-15">He divided himself against them by night, he and his servants, and struck them, and pursued them to Hobah, which is on the left hand of Damascus.</span>
  <span class="verse" title="Genesis 14:16" id="Genesis-14-16">He brought back all the goods, and also brought back his relative, Lot, and his goods, and the women also, and the people.</span>
  <span class="verse" title="Genesis 14:17" id="Genesis-14-17">The king of Sodom went out to meet him, after his return from the slaughter of Chedorlaomer and the kings who were with him, at the valley of Shaveh (that is, the King&#8217;s Valley).</span>
  <span class="verse" title="Genesis 14:18" id="Genesis-14-18">Melchizedek king of Salem brought out bread and wine: and he was priest of God Most High.</span>
  <span class="verse" title="Genesis 14:19" id="Genesis-14-19">He blessed him, and said, &#8220;Blessed be Abram of God Most High, possessor of heaven and earth:</span>
  <span class="verse" title="Genesis 14:20" id="Genesis-14-20">and blessed be God Most High, who has delivered your enemies into your hand.&#8221; Abram gave him a tenth of all.</span>
  <span class="verse" title="Genesis 14:21" id="Genesis-14-21">The king of Sodom said to Abram, &#8220;Give me the people, and take the goods to yourself.&#8221;</span>
  <span class="verse" title="Genesis 14:22" id="Genesis-14-22">Abram said to the king of Sodom, &#8220;I have lifted up my hand to Yahweh, God Most High, possessor of heaven and earth,</span>
  <span class="verse" title="Genesis 14:23" id="Genesis-14-23">that I will not take a thread nor a sandal strap nor anything that is yours, lest you should say, &#8216;I have made Abram rich.&#8217;</span>
  <span class="verse" title="Genesis 14:24" id="Genesis-14-24">I will accept nothing from you except that which the young men have eaten, and the portion of the men who went with me: Aner, Eshcol, and Mamre. Let them take their portion.&#8221;</span>
</div>