<div class="chapter" id="Genesis-015">
  <h2>Genesis 15</h2>
  <span class="verse" title="Genesis 15:1" id="Genesis-15-1">After these things the word of Yahweh came to Abram in a vision, saying, &#8220;Don&#8217;t be afraid, Abram. I am your shield, your exceedingly great reward.&#8221;</span>
  <span class="verse" title="Genesis 15:2" id="Genesis-15-2">Abram said, &#8220;Lord Yahweh, what will you give me, since I go childless, and he who will inherit my estate is Eliezer of Damascus?&#8221;</span>
  <span class="verse" title="Genesis 15:3" id="Genesis-15-3">Abram said, &#8220;Behold, to me you have given no seed: and, behold, one born in my house is my heir.&#8221;</span>
  <span class="verse" title="Genesis 15:4" id="Genesis-15-4">Behold, the word of Yahweh came to him, saying, &#8220;This man will not be your heir, but he who will come out of your own body will be your heir.&#8221;</span>
  <span class="verse" title="Genesis 15:5" id="Genesis-15-5">Yahweh brought him outside, and said, &#8220;Look now toward the sky, and count the stars, if you are able to count them.&#8221; He said to Abram, &#8220;So shall your seed be.&#8221;</span>
  <span class="verse" title="Genesis 15:6" id="Genesis-15-6">He believed in Yahweh; and he reckoned it to him for righteousness.</span>
  <span class="verse" title="Genesis 15:7" id="Genesis-15-7">He said to him, &#8220;I am Yahweh who brought you out of Ur of the Chaldees, to give you this land to inherit it.&#8221;</span>
  <span class="verse" title="Genesis 15:8" id="Genesis-15-8">He said, &#8220;Lord Yahweh, how will I know that I will inherit it?&#8221;</span>
  <span class="verse" title="Genesis 15:9" id="Genesis-15-9">He said to him, &#8220;Bring me a heifer three years old, a female goat three years old, a ram three years old, a turtledove, and a young pigeon.&#8221;</span>
  <span class="verse" title="Genesis 15:10" id="Genesis-15-10">He brought him all of these, and divided them in the middle, and laid each half opposite the other; but he didn&#8217;t divide the birds.</span>
  <span class="verse" title="Genesis 15:11" id="Genesis-15-11">The birds of prey came down on the carcasses, and Abram drove them away.</span>
  <span class="verse" title="Genesis 15:12" id="Genesis-15-12">When the sun was going down, a deep sleep fell on Abram. Now terror and great darkness fell on him.</span>
  <span class="verse" title="Genesis 15:13" id="Genesis-15-13">He said to Abram, &#8220;Know for sure that your seed will live as foreigners in a land that is not theirs, and will serve them. They will afflict them four hundred years.</span>
  <span class="verse" title="Genesis 15:14" id="Genesis-15-14">I will also judge that nation, whom they will serve. Afterward they will come out with great wealth,</span>
  <span class="verse" title="Genesis 15:15" id="Genesis-15-15">but you will go to your fathers in peace. You will be buried in a good old age.</span>
  <span class="verse" title="Genesis 15:16" id="Genesis-15-16">In the fourth generation they will come here again, for the iniquity of the Amorite is not yet full.&#8221;</span>
  <span class="verse" title="Genesis 15:17" id="Genesis-15-17">It came to pass that, when the sun went down, and it was dark, behold, a smoking furnace, and a flaming torch passed between these pieces.</span>
  <span class="verse" title="Genesis 15:18" id="Genesis-15-18">In that day Yahweh made a covenant with Abram, saying, &#8220;To your seed I have given this land, from the river of Egypt to the great river, the river Euphrates:</span>
  <span class="verse" title="Genesis 15:19" id="Genesis-15-19">the Kenites, the Kenizzites, the Kadmonites,</span>
  <span class="verse" title="Genesis 15:20" id="Genesis-15-20">the Hittites, the Perizzites, the Rephaim,</span>
  <span class="verse" title="Genesis 15:21" id="Genesis-15-21">the Amorites, the Canaanites, the Girgashites, and the Jebusites.&#8221;</span>
</div>