<div class="chapter" id="Genesis-016">
  <h2>Genesis 16</h2>
  <span class="verse" title="Genesis 16:1" id="Genesis-16-1">Now Sarai, Abram&#8217;s wife, bore him no children. She had a handmaid, an Egyptian, whose name was Hagar.</span>
  <span class="verse" title="Genesis 16:2" id="Genesis-16-2">Sarai said to Abram, &#8220;See now, Yahweh has restrained me from bearing. Please go in to my handmaid. It may be that I will obtain children by her.&#8221; Abram listened to the voice of Sarai.</span>
  <span class="verse" title="Genesis 16:3" id="Genesis-16-3">Sarai, Abram&#8217;s wife, took Hagar the Egyptian, her handmaid, after Abram had lived ten years in the land of Canaan, and gave her to Abram her husband to be his wife.</span>
  <span class="verse" title="Genesis 16:4" id="Genesis-16-4">He went in to Hagar, and she conceived. When she saw that she had conceived, her mistress was despised in her eyes.</span>
  <span class="verse" title="Genesis 16:5" id="Genesis-16-5">Sarai said to Abram, &#8220;This wrong is your fault. I gave my handmaid into your bosom, and when she saw that she had conceived, I was despised in her eyes. Yahweh judge between me and you.&#8221;</span>
  <span class="verse" title="Genesis 16:6" id="Genesis-16-6">But Abram said to Sarai, &#8220;Behold, your maid is in your hand. Do to her whatever is good in your eyes.&#8221; Sarai dealt harshly with her, and she fled from her face.</span>
  <span class="verse" title="Genesis 16:7" id="Genesis-16-7">The angel of Yahweh found her by a fountain of water in the wilderness, by the fountain in the way to Shur.</span>
  <span class="verse" title="Genesis 16:8" id="Genesis-16-8">He said, &#8220;Hagar, Sarai&#8217;s handmaid, where did you come from? Where are you going?&#8221; She said, &#8220;I am fleeing from the face of my mistress Sarai.&#8221;</span>
  <span class="verse" title="Genesis 16:9" id="Genesis-16-9">The angel of Yahweh said to her, &#8220;Return to your mistress, and submit yourself under her hands.&#8221;</span>
  <span class="verse" title="Genesis 16:10" id="Genesis-16-10">The angel of Yahweh said to her, &#8220;I will greatly multiply your seed, that they will not be numbered for multitude.&#8221;</span>
  <span class="verse" title="Genesis 16:11" id="Genesis-16-11">The angel of Yahweh said to her, &#8220;Behold, you are with child, and will bear a son. You shall call his name Ishmael, because Yahweh has heard your affliction.</span>
  <span class="verse" title="Genesis 16:12" id="Genesis-16-12">He will be like a wild donkey among men. His hand will be against every man, and every man&#8217;s hand against him. He will live opposite all of his brothers.&#8221;</span>
  <span class="verse" title="Genesis 16:13" id="Genesis-16-13">She called the name of Yahweh who spoke to her, &#8220;You are a God who sees,&#8221; for she said, &#8220;Have I even stayed alive after seeing him?&#8221;</span>
  <span class="verse" title="Genesis 16:14" id="Genesis-16-14">Therefore the well was called Beer Lahai Roi. Behold, it is between Kadesh and Bered.</span>
  <span class="verse" title="Genesis 16:15" id="Genesis-16-15">Hagar bore a son for Abram. Abram called the name of his son, whom Hagar bore, Ishmael.</span>
  <span class="verse" title="Genesis 16:16" id="Genesis-16-16">Abram was eighty-six years old when Hagar bore Ishmael to Abram.</span>
</div>