<div class="chapter" id="Genesis-017">
  <h2>Genesis 17</h2>
  <span class="verse" title="Genesis 17:1" id="Genesis-17-1">When Abram was ninety-nine years old, Yahweh appeared to Abram, and said to him, &#8220;I am God Almighty. Walk before me, and be blameless.</span>
  <span class="verse" title="Genesis 17:2" id="Genesis-17-2">I will make my covenant between me and you, and will multiply you exceedingly.&#8221;</span>
  <span class="verse" title="Genesis 17:3" id="Genesis-17-3">Abram fell on his face. God talked with him, saying,</span>
  <span class="verse" title="Genesis 17:4" id="Genesis-17-4">&#8220;As for me, behold, my covenant is with you. You will be the father of a multitude of nations.</span>
  <span class="verse" title="Genesis 17:5" id="Genesis-17-5">Neither will your name any more be called Abram, but your name will be Abraham; for I have made you the father of a multitude of nations.</span>
  <span class="verse" title="Genesis 17:6" id="Genesis-17-6">I will make you exceedingly fruitful, and I will make nations of you. Kings will come out of you.</span>
  <span class="verse" title="Genesis 17:7" id="Genesis-17-7">I will establish my covenant between me and you and your seed after you throughout their generations for an everlasting covenant, to be a God to you and to your seed after you.</span>
  <span class="verse" title="Genesis 17:8" id="Genesis-17-8">I will give to you, and to your seed after you, the land where you are traveling, all the land of Canaan, for an everlasting possession. I will be their God.&#8221;</span>
  <span class="verse" title="Genesis 17:9" id="Genesis-17-9">God said to Abraham, &#8220;As for you, you will keep my covenant, you and your seed after you throughout their generations.</span>
  <span class="verse" title="Genesis 17:10" id="Genesis-17-10">This is my covenant, which you shall keep, between me and you and your seed after you. Every male among you shall be circumcised.</span>
  <span class="verse" title="Genesis 17:11" id="Genesis-17-11">You shall be circumcised in the flesh of your foreskin. It will be a token of the covenant between me and you.</span>
  <span class="verse" title="Genesis 17:12" id="Genesis-17-12">He who is eight days old will be circumcised among you, every male throughout your generations, he who is born in the house, or bought with money from any foreigner who is not of your seed.</span>
  <span class="verse" title="Genesis 17:13" id="Genesis-17-13">He who is born in your house, and he who is bought with your money, must be circumcised. My covenant will be in your flesh for an everlasting covenant.</span>
  <span class="verse" title="Genesis 17:14" id="Genesis-17-14">The uncircumcised male who is not circumcised in the flesh of his foreskin, that soul shall be cut off from his people. He has broken my covenant.&#8221;</span>
  <span class="verse" title="Genesis 17:15" id="Genesis-17-15">God said to Abraham, &#8220;As for Sarai your wife, you shall not call her name Sarai, but her name will be Sarah.</span>
  <span class="verse" title="Genesis 17:16" id="Genesis-17-16">I will bless her, and moreover I will give you a son by her. Yes, I will bless her, and she will be a mother of nations. Kings of peoples will come from her.&#8221;</span>
  <span class="verse" title="Genesis 17:17" id="Genesis-17-17">Then Abraham fell on his face, and laughed, and said in his heart, &#8220;Will a child be born to him who is one hundred years old? Will Sarah, who is ninety years old, give birth?&#8221;</span>
  <span class="verse" title="Genesis 17:18" id="Genesis-17-18">Abraham said to God, &#8220;Oh that Ishmael might live before you!&#8221;</span>
  <span class="verse" title="Genesis 17:19" id="Genesis-17-19">God said, &#8220;No, but Sarah, your wife, will bear you a son. You shall call his name Isaac. I will establish my covenant with him for an everlasting covenant for his seed after him.</span>
  <span class="verse" title="Genesis 17:20" id="Genesis-17-20">As for Ishmael, I have heard you. Behold, I have blessed him, and will make him fruitful, and will multiply him exceedingly. He will become the father of twelve princes, and I will make him a great nation.</span>
  <span class="verse" title="Genesis 17:21" id="Genesis-17-21">But my covenant I establish with Isaac, whom Sarah will bear to you at this set time next year.&#8221;</span>
  <span class="verse" title="Genesis 17:22" id="Genesis-17-22">When he finished talking with him, God went up from Abraham.</span>
  <span class="verse" title="Genesis 17:23" id="Genesis-17-23">Abraham took Ishmael his son, all who were born in his house, and all who were bought with his money; every male among the men of Abraham&#8217;s house, and circumcised the flesh of their foreskin in the same day, as God had said to him.</span>
  <span class="verse" title="Genesis 17:24" id="Genesis-17-24">Abraham was ninety-nine years old, when he was circumcised in the flesh of his foreskin.</span>
  <span class="verse" title="Genesis 17:25" id="Genesis-17-25">Ishmael, his son, was thirteen years old when he was circumcised in the flesh of his foreskin.</span>
  <span class="verse" title="Genesis 17:26" id="Genesis-17-26">In the same day both Abraham and Ishmael, his son, were circumcised.</span>
  <span class="verse" title="Genesis 17:27" id="Genesis-17-27">All the men of his house, those born in the house, and those bought with money of a foreigner, were circumcised with him.</span>
</div>