<div class="chapter" id="Genesis-018">
  <h2>Genesis 18</h2>
  <span class="verse" title="Genesis 18:1" id="Genesis-18-1">Yahweh appeared to him by the oaks of Mamre, as he sat in the tent door in the heat of the day.</span>
  <span class="verse" title="Genesis 18:2" id="Genesis-18-2">He lifted up his eyes and looked, and saw that three men stood opposite him. When he saw them, he ran to meet them from the tent door, and bowed himself to the earth,</span>
  <span class="verse" title="Genesis 18:3" id="Genesis-18-3">and said, &#8220;My lord, if now I have found favor in your sight, please don&#8217;t go away from your servant.</span>
  <span class="verse" title="Genesis 18:4" id="Genesis-18-4">Now let a little water be fetched, wash your feet, and rest yourselves under the tree.</span>
  <span class="verse" title="Genesis 18:5" id="Genesis-18-5">I will get a morsel of bread so you can refresh your heart. After that you may go your way, now that you have come to your servant.&#8221; They said, &#8220;Very well, do as you have said.&#8221;</span>
  <span class="verse" title="Genesis 18:6" id="Genesis-18-6">Abraham hurried into the tent to Sarah, and said, &#8220;Quickly prepare three measures of fine meal, knead it, and make cakes.&#8221;</span>
  <span class="verse" title="Genesis 18:7" id="Genesis-18-7">Abraham ran to the herd, and fetched a tender and good calf, and gave it to the servant. He hurried to dress it.</span>
  <span class="verse" title="Genesis 18:8" id="Genesis-18-8">He took butter, milk, and the calf which he had dressed, and set it before them. He stood by them under the tree, and they ate.</span>
  <span class="verse" title="Genesis 18:9" id="Genesis-18-9">They asked him, &#8220;Where is Sarah, your wife?&#8221; He said, &#8220;See, in the tent.&#8221;</span>
  <span class="verse" title="Genesis 18:10" id="Genesis-18-10">He said, &#8220;I will certainly return to you when the season comes round. Behold, Sarah your wife will have a son.&#8221; Sarah heard in the tent door, which was behind him.</span>
  <span class="verse" title="Genesis 18:11" id="Genesis-18-11">Now Abraham and Sarah were old, well advanced in age. Sarah had passed the age of childbearing.</span>
  <span class="verse" title="Genesis 18:12" id="Genesis-18-12">Sarah laughed within herself, saying, &#8220;After I have grown old will I have pleasure, my lord being old also?&#8221;</span>
  <span class="verse" title="Genesis 18:13" id="Genesis-18-13">Yahweh said to Abraham, &#8220;Why did Sarah laugh, saying, &#8216;Will I really bear a child, yet I am old?&#8217;</span>
  <span class="verse" title="Genesis 18:14" id="Genesis-18-14">Is anything too hard for Yahweh? At the set time I will return to you, when the season comes round, and Sarah will have a son.&#8221;</span>
  <span class="verse" title="Genesis 18:15" id="Genesis-18-15">Then Sarah denied, saying, &#8220;I didn&#8217;t laugh,&#8221; for she was afraid. He said, &#8220;No, but you did laugh.&#8221;</span>
  <span class="verse" title="Genesis 18:16" id="Genesis-18-16">The men rose up from there, and looked toward Sodom. Abraham went with them to see them on their way.</span>
  <span class="verse" title="Genesis 18:17" id="Genesis-18-17">Yahweh said, &#8220;Will I hide from Abraham what I do,</span>
  <span class="verse" title="Genesis 18:18" id="Genesis-18-18">since Abraham has surely become a great and mighty nation, and all the nations of the earth will be blessed in him?</span>
  <span class="verse" title="Genesis 18:19" id="Genesis-18-19">For I have known him, to the end that he may command his children and his household after him, that they may keep the way of Yahweh, to do righteousness and justice; to the end that Yahweh may bring on Abraham that which he has spoken of him.&#8221;</span>
  <span class="verse" title="Genesis 18:20" id="Genesis-18-20">Yahweh said, &#8220;Because the cry of Sodom and Gomorrah is great, and because their sin is very grievous,</span>
  <span class="verse" title="Genesis 18:21" id="Genesis-18-21">I will go down now, and see whether their deeds are as bad as the reports which have come to me. If not, I will know.&#8221;</span>
  <span class="verse" title="Genesis 18:22" id="Genesis-18-22">The men turned from there, and went toward Sodom, but Abraham stood yet before Yahweh.</span>
  <span class="verse" title="Genesis 18:23" id="Genesis-18-23">Abraham drew near, and said, &#8220;Will you consume the righteous with the wicked?</span>
  <span class="verse" title="Genesis 18:24" id="Genesis-18-24">What if there are fifty righteous within the city? Will you consume and not spare the place for the fifty righteous who are in it?</span>
  <span class="verse" title="Genesis 18:25" id="Genesis-18-25">Be it far from you to do things like that, to kill the righteous with the wicked, so that the righteous should be like the wicked. May that be far from you. Shouldn&#8217;t the Judge of all the earth do right?&#8221;</span>
  <span class="verse" title="Genesis 18:26" id="Genesis-18-26">Yahweh said, &#8220;If I find in Sodom fifty righteous within the city, then I will spare all the place for their sake.&#8221;</span>
  <span class="verse" title="Genesis 18:27" id="Genesis-18-27">Abraham answered, &#8220;See now, I have taken it on myself to speak to the Lord, who am but dust and ashes.</span>
  <span class="verse" title="Genesis 18:28" id="Genesis-18-28">What if there will lack five of the fifty righteous? Will you destroy all the city for lack of five?&#8221; He said, &#8220;I will not destroy it, if I find forty-five there.&#8221;</span>
  <span class="verse" title="Genesis 18:29" id="Genesis-18-29">He spoke to him yet again, and said, &#8220;What if there are forty found there?&#8221; He said, &#8220;I will not do it for the forty&#8217;s sake.&#8221;</span>
  <span class="verse" title="Genesis 18:30" id="Genesis-18-30">He said, &#8220;Oh don&#8217;t let the Lord be angry, and I will speak. What if there are thirty found there?&#8221; He said, &#8220;I will not do it, if I find thirty there.&#8221;</span>
  <span class="verse" title="Genesis 18:31" id="Genesis-18-31">He said, &#8220;See now, I have taken it on myself to speak to the Lord. What if there are twenty found there?&#8221; He said, &#8220;I will not destroy it for the twenty&#8217;s sake.&#8221;</span>
  <span class="verse" title="Genesis 18:32" id="Genesis-18-32">He said, &#8220;Oh don&#8217;t let the Lord be angry, and I will speak just once more. What if ten are found there?&#8221; He said, &#8220;I will not destroy it for the ten&#8217;s sake.&#8221;</span>
  <span class="verse" title="Genesis 18:33" id="Genesis-18-33">Yahweh went his way, as soon as he had finished communing with Abraham, and Abraham returned to his place.</span>
</div>