<div class="chapter" id="Genesis-020">
  <h2>Genesis 20</h2>
  <span class="verse" title="Genesis 20:1" id="Genesis-20-1">Abraham traveled from there toward the land of the South, and lived between Kadesh and Shur. He lived as a foreigner in Gerar.</span>
  <span class="verse" title="Genesis 20:2" id="Genesis-20-2">Abraham said about Sarah his wife, &#8220;She is my sister.&#8221; Abimelech king of Gerar sent, and took Sarah.</span>
  <span class="verse" title="Genesis 20:3" id="Genesis-20-3">But God came to Abimelech in a dream of the night, and said to him, &#8220;Behold, you are a dead man, because of the woman whom you have taken. For she is a man&#8217;s wife.&#8221;</span>
  <span class="verse" title="Genesis 20:4" id="Genesis-20-4">Now Abimelech had not come near her. He said, &#8220;Lord, will you kill even a righteous nation?</span>
  <span class="verse" title="Genesis 20:5" id="Genesis-20-5">Didn&#8217;t he tell me, &#8216;She is my sister?&#8217; She, even she herself, said, &#8216;He is my brother.&#8217; In the integrity of my heart and the innocence of my hands have I done this.&#8221;</span>
  <span class="verse" title="Genesis 20:6" id="Genesis-20-6">God said to him in the dream, &#8220;Yes, I know that in the integrity of your heart you have done this, and I also withheld you from sinning against me. Therefore I didn&#8217;t allow you to touch her.</span>
  <span class="verse" title="Genesis 20:7" id="Genesis-20-7">Now therefore, restore the man&#8217;s wife. For he is a prophet, and he will pray for you, and you will live. If you don&#8217;t restore her, know for sure that you will die, you, and all who are yours.&#8221;</span>
  <span class="verse" title="Genesis 20:8" id="Genesis-20-8">Abimelech rose early in the morning, and called all his servants, and told all these things in their ear. The men were very scared.</span>
  <span class="verse" title="Genesis 20:9" id="Genesis-20-9">Then Abimelech called Abraham, and said to him, &#8220;What have you done to us? How have I sinned against you, that you have brought on me and on my kingdom a great sin? You have done deeds to me that ought not to be done!&#8221;</span>
  <span class="verse" title="Genesis 20:10" id="Genesis-20-10">Abimelech said to Abraham, &#8220;What did you see, that you have done this thing?&#8221;</span>
  <span class="verse" title="Genesis 20:11" id="Genesis-20-11">Abraham said, &#8220;Because I thought, &#8216;Surely the fear of God is not in this place. They will kill me for my wife&#8217;s sake.&#8217;</span>
  <span class="verse" title="Genesis 20:12" id="Genesis-20-12">Besides, she is indeed my sister, the daughter of my father, but not the daughter of my mother; and she became my wife.</span>
  <span class="verse" title="Genesis 20:13" id="Genesis-20-13">It happened, when God caused me to wander from my father&#8217;s house, that I said to her, &#8216;This is your kindness which you shall show to me. Everywhere that we go, say of me, &#8220;He is my brother.&#8221;&#8217;&#8221;</span>
  <span class="verse" title="Genesis 20:14" id="Genesis-20-14">Abimelech took sheep and cattle, male servants and female servants, and gave them to Abraham, and restored Sarah, his wife, to him.</span>
  <span class="verse" title="Genesis 20:15" id="Genesis-20-15">Abimelech said, &#8220;Behold, my land is before you. Dwell where it pleases you.&#8221;</span>
  <span class="verse" title="Genesis 20:16" id="Genesis-20-16">To Sarah he said, &#8220;Behold, I have given your brother a thousand pieces of silver. Behold, it is for you a covering of the eyes to all that are with you. In front of all you are vindicated.&#8221;</span>
  <span class="verse" title="Genesis 20:17" id="Genesis-20-17">Abraham prayed to God. God healed Abimelech, and his wife, and his female servants, and they bore children.</span>
  <span class="verse" title="Genesis 20:18" id="Genesis-20-18">For Yahweh had closed up tight all the wombs of the house of Abimelech, because of Sarah, Abraham&#8217;s wife.</span>
</div>