<div class="chapter" id="Genesis-021">
  <h2>Genesis 21</h2>
  <span class="verse" title="Genesis 21:1" id="Genesis-21-1">Yahweh visited Sarah as he had said, and Yahweh did to Sarah as he had spoken.</span>
  <span class="verse" title="Genesis 21:2" id="Genesis-21-2">Sarah conceived, and bore Abraham a son in his old age, at the set time of which God had spoken to him.</span>
  <span class="verse" title="Genesis 21:3" id="Genesis-21-3">Abraham called his son who was born to him, whom Sarah bore to him, Isaac.</span>
  <span class="verse" title="Genesis 21:4" id="Genesis-21-4">Abraham circumcised his son, Isaac, when he was eight days old, as God had commanded him.</span>
  <span class="verse" title="Genesis 21:5" id="Genesis-21-5">Abraham was one hundred years old when his son, Isaac, was born to him.</span>
  <span class="verse" title="Genesis 21:6" id="Genesis-21-6">Sarah said, &#8220;God has made me laugh. Everyone who hears will laugh with me.&#8221;</span>
  <span class="verse" title="Genesis 21:7" id="Genesis-21-7">She said, &#8220;Who would have said to Abraham, that Sarah would nurse children? For I have borne him a son in his old age.&#8221;</span>
  <span class="verse" title="Genesis 21:8" id="Genesis-21-8">The child grew, and was weaned. Abraham made a great feast on the day that Isaac was weaned.</span>
  <span class="verse" title="Genesis 21:9" id="Genesis-21-9">Sarah saw the son of Hagar the Egyptian, whom she had borne to Abraham, mocking.</span>
  <span class="verse" title="Genesis 21:10" id="Genesis-21-10">Therefore she said to Abraham, &#8220;Cast out this handmaid and her son! For the son of this handmaid will not be heir with my son, Isaac.&#8221;</span>
  <span class="verse" title="Genesis 21:11" id="Genesis-21-11">The thing was very grievous in Abraham&#8217;s sight on account of his son.</span>
  <span class="verse" title="Genesis 21:12" id="Genesis-21-12">God said to Abraham, &#8220;Don&#8217;t let it be grievous in your sight because of the boy, and because of your handmaid. In all that Sarah says to you, listen to her voice. For from Isaac will your seed be called.</span>
  <span class="verse" title="Genesis 21:13" id="Genesis-21-13">I will also make a nation of the son of the handmaid, because he is your seed.&#8221;</span>
  <span class="verse" title="Genesis 21:14" id="Genesis-21-14">Abraham rose up early in the morning, and took bread and a bottle of water, and gave it to Hagar, putting it on her shoulder; and gave her the child, and sent her away. She departed, and wandered in the wilderness of Beersheba.</span>
  <span class="verse" title="Genesis 21:15" id="Genesis-21-15">The water in the bottle was spent, and she cast the child under one of the shrubs.</span>
  <span class="verse" title="Genesis 21:16" id="Genesis-21-16">She went and sat down opposite him, a good way off, about a bow shot away. For she said, &#8220;Don&#8217;t let me see the death of the child.&#8221; She sat over against him, and lifted up her voice, and wept.</span>
  <span class="verse" title="Genesis 21:17" id="Genesis-21-17">God heard the voice of the boy. The angel of God called to Hagar out of the sky, and said to her, &#8220;What ails you, Hagar? Don&#8217;t be afraid. For God has heard the voice of the boy where he is.</span>
  <span class="verse" title="Genesis 21:18" id="Genesis-21-18">Get up, lift up the boy, and hold him in your hand. For I will make him a great nation.&#8221;</span>
  <span class="verse" title="Genesis 21:19" id="Genesis-21-19">God opened her eyes, and she saw a well of water. She went, filled the bottle with water, and gave the boy drink.</span>
  <span class="verse" title="Genesis 21:20" id="Genesis-21-20">God was with the boy, and he grew. He lived in the wilderness, and became, as he grew up, an archer.</span>
  <span class="verse" title="Genesis 21:21" id="Genesis-21-21">He lived in the wilderness of Paran. His mother took a wife for him out of the land of Egypt.</span>
  <span class="verse" title="Genesis 21:22" id="Genesis-21-22">It happened at that time, that Abimelech and Phicol the captain of his army spoke to Abraham, saying, &#8220;God is with you in all that you do.</span>
  <span class="verse" title="Genesis 21:23" id="Genesis-21-23">Now, therefore, swear to me here by God that you will not deal falsely with me, nor with my son, nor with my son&#8217;s son. But according to the kindness that I have done to you, you shall do to me, and to the land in which you have lived as a foreigner.&#8221;</span>
  <span class="verse" title="Genesis 21:24" id="Genesis-21-24">Abraham said, &#8220;I will swear.&#8221;</span>
  <span class="verse" title="Genesis 21:25" id="Genesis-21-25">Abraham complained to Abimelech because of a water well, which Abimelech&#8217;s servants had violently taken away.</span>
  <span class="verse" title="Genesis 21:26" id="Genesis-21-26">Abimelech said, &#8220;I don&#8217;t know who has done this thing. You didn&#8217;t tell me, neither did I hear of it, until today.&#8221;</span>
  <span class="verse" title="Genesis 21:27" id="Genesis-21-27">Abraham took sheep and cattle, and gave them to Abimelech. Those two made a covenant.</span>
  <span class="verse" title="Genesis 21:28" id="Genesis-21-28">Abraham set seven ewe lambs of the flock by themselves.</span>
  <span class="verse" title="Genesis 21:29" id="Genesis-21-29">Abimelech said to Abraham, &#8220;What do these seven ewe lambs which you have set by themselves mean?&#8221;</span>
  <span class="verse" title="Genesis 21:30" id="Genesis-21-30">He said, &#8220;You shall take these seven ewe lambs from my hand, that it may be a witness to me, that I have dug this well.&#8221;</span>
  <span class="verse" title="Genesis 21:31" id="Genesis-21-31">Therefore he called that place Beersheba, because they both swore there.</span>
  <span class="verse" title="Genesis 21:32" id="Genesis-21-32">So they made a covenant at Beersheba. Abimelech rose up with Phicol, the captain of his army, and they returned into the land of the Philistines.</span>
  <span class="verse" title="Genesis 21:33" id="Genesis-21-33">Abraham planted a tamarisk tree in Beersheba, and called there on the name of Yahweh, the Everlasting God.</span>
  <span class="verse" title="Genesis 21:34" id="Genesis-21-34">Abraham lived as a foreigner in the land of the Philistines many days.</span>
</div>