<div class="chapter" id="Genesis-022">
  <h2>Genesis 22</h2>
  <span class="verse" title="Genesis 22:1" id="Genesis-22-1">It happened after these things, that God tested Abraham, and said to him, &#8220;Abraham!&#8221; He said, &#8220;Here I am.&#8221;</span>
  <span class="verse" title="Genesis 22:2" id="Genesis-22-2">He said, &#8220;Now take your son, your only son, whom you love, even Isaac, and go into the land of Moriah. Offer him there for a burnt offering on one of the mountains which I will tell you of.&#8221;</span>
  <span class="verse" title="Genesis 22:3" id="Genesis-22-3">Abraham rose early in the morning, and saddled his donkey, and took two of his young men with him, and Isaac his son. He split the wood for the burnt offering, and rose up, and went to the place of which God had told him.</span>
  <span class="verse" title="Genesis 22:4" id="Genesis-22-4">On the third day Abraham lifted up his eyes, and saw the place far off.</span>
  <span class="verse" title="Genesis 22:5" id="Genesis-22-5">Abraham said to his young men, &#8220;Stay here with the donkey. The boy and I will go yonder. We will worship, and come back to you.&#8221;</span>
  <span class="verse" title="Genesis 22:6" id="Genesis-22-6">Abraham took the wood of the burnt offering and laid it on Isaac his son. He took in his hand the fire and the knife. They both went together.</span>
  <span class="verse" title="Genesis 22:7" id="Genesis-22-7">Isaac spoke to Abraham his father, and said, &#8220;My father?&#8221; He said, &#8220;Here I am, my son.&#8221; He said, &#8220;Here is the fire and the wood, but where is the lamb for a burnt offering?&#8221;</span>
  <span class="verse" title="Genesis 22:8" id="Genesis-22-8">Abraham said, &#8220;God will provide himself the lamb for a burnt offering, my son.&#8221; So they both went together.</span>
  <span class="verse" title="Genesis 22:9" id="Genesis-22-9">They came to the place which God had told him of. Abraham built the altar there, and laid the wood in order, bound Isaac his son, and laid him on the altar, on the wood.</span>
  <span class="verse" title="Genesis 22:10" id="Genesis-22-10">Abraham stretched out his hand, and took the knife to kill his son.</span>
  <span class="verse" title="Genesis 22:11" id="Genesis-22-11">The angel of Yahweh called to him out of the sky, and said, &#8220;Abraham, Abraham!&#8221; He said, &#8220;Here I am.&#8221;</span>
  <span class="verse" title="Genesis 22:12" id="Genesis-22-12">He said, &#8220;Don&#8217;t lay your hand on the boy, neither do anything to him. For now I know that you fear God, since you have not withheld your son, your only son, from me.&#8221;</span>
  <span class="verse" title="Genesis 22:13" id="Genesis-22-13">Abraham lifted up his eyes, and looked, and saw that behind him was a ram caught in the thicket by his horns. Abraham went and took the ram, and offered him up for a burnt offering instead of his son.</span>
  <span class="verse" title="Genesis 22:14" id="Genesis-22-14">Abraham called the name of that place Yahweh Will Provide. As it is said to this day, &#8220;On Yahweh&#8217;s mountain, it will be provided.&#8221;</span>
  <span class="verse" title="Genesis 22:15" id="Genesis-22-15">The angel of Yahweh called to Abraham a second time out of the sky,</span>
  <span class="verse" title="Genesis 22:16" id="Genesis-22-16">and said, &#8220;I have sworn by myself, says Yahweh, because you have done this thing, and have not withheld your son, your only son,</span>
  <span class="verse" title="Genesis 22:17" id="Genesis-22-17">that I will bless you greatly, and I will multiply your seed greatly like the stars of the heavens, and like the sand which is on the seashore. Your seed will possess the gate of his enemies.</span>
  <span class="verse" title="Genesis 22:18" id="Genesis-22-18">In your seed will all the nations of the earth be blessed, because you have obeyed my voice.&#8221;</span>
  <span class="verse" title="Genesis 22:19" id="Genesis-22-19">So Abraham returned to his young men, and they rose up and went together to Beersheba. Abraham lived at Beersheba.</span>
  <span class="verse" title="Genesis 22:20" id="Genesis-22-20">It happened after these things, that it was told Abraham, saying, &#8220;Behold, Milcah, she also has borne children to your brother Nahor:</span>
  <span class="verse" title="Genesis 22:21" id="Genesis-22-21">Uz his firstborn, Buz his brother, Kemuel the father of Aram,</span>
  <span class="verse" title="Genesis 22:22" id="Genesis-22-22">Chesed, Hazo, Pildash, Jidlaph, and Bethuel.&#8221;</span>
  <span class="verse" title="Genesis 22:23" id="Genesis-22-23">Bethuel became the father of Rebekah. These eight Milcah bore to Nahor, Abraham&#8217;s brother.</span>
  <span class="verse" title="Genesis 22:24" id="Genesis-22-24">His concubine, whose name was Reumah, also bore Tebah, Gaham, Tahash, and Maacah.</span>
</div>