<div class="chapter" id="Genesis-023">
  <h2>Genesis 23</h2>
  <span class="verse" title="Genesis 23:1" id="Genesis-23-1">Sarah lived one hundred twenty-seven years. This was the length of Sarah&#8217;s life.</span>
  <span class="verse" title="Genesis 23:2" id="Genesis-23-2">Sarah died in Kiriath Arba (the same is Hebron), in the land of Canaan. Abraham came to mourn for Sarah, and to weep for her.</span>
  <span class="verse" title="Genesis 23:3" id="Genesis-23-3">Abraham rose up from before his dead, and spoke to the children of Heth, saying,</span>
  <span class="verse" title="Genesis 23:4" id="Genesis-23-4">&#8220;I am a stranger and a foreigner living with you. Give me a possession of a burying-place with you, that I may bury my dead out of my sight.&#8221;</span>
  <span class="verse" title="Genesis 23:5" id="Genesis-23-5">The children of Heth answered Abraham, saying to him,</span>
  <span class="verse" title="Genesis 23:6" id="Genesis-23-6">&#8220;Hear us, my lord. You are a prince of God among us. Bury your dead in the best of our tombs. None of us will withhold from you his tomb. Bury your dead.&#8221;</span>
  <span class="verse" title="Genesis 23:7" id="Genesis-23-7">Abraham rose up, and bowed himself to the people of the land, even to the children of Heth.</span>
  <span class="verse" title="Genesis 23:8" id="Genesis-23-8">He talked with them, saying, &#8220;If it be your mind that I should bury my dead out of my sight, hear me, and entreat for me to Ephron the son of Zohar,</span>
  <span class="verse" title="Genesis 23:9" id="Genesis-23-9">that he may give me the cave of Machpelah, which he has, which is in the end of his field. For the full price let him give it to me among you for a possession of a burying-place.&#8221;</span>
  <span class="verse" title="Genesis 23:10" id="Genesis-23-10">Now Ephron was sitting in the middle of the children of Heth. Ephron the Hittite answered Abraham in the hearing of the children of Heth, even of all who went in at the gate of his city, saying,</span>
  <span class="verse" title="Genesis 23:11" id="Genesis-23-11">&#8220;No, my lord, hear me. I give you the field, and I give you the cave that is in it. In the presence of the children of my people I give it to you. Bury your dead.&#8221;</span>
  <span class="verse" title="Genesis 23:12" id="Genesis-23-12">Abraham bowed himself down before the people of the land.</span>
  <span class="verse" title="Genesis 23:13" id="Genesis-23-13">He spoke to Ephron in the audience of the people of the land, saying, &#8220;But if you will, please hear me. I will give the price of the field. Take it from me, and I will bury my dead there.&#8221;</span>
  <span class="verse" title="Genesis 23:14" id="Genesis-23-14">Ephron answered Abraham, saying to him,</span>
  <span class="verse" title="Genesis 23:15" id="Genesis-23-15">&#8220;My lord, listen to me. What is a piece of land worth four hundred shekels of silver between me and you? Therefore bury your dead.&#8221;</span>
  <span class="verse" title="Genesis 23:16" id="Genesis-23-16">Abraham listened to Ephron. Abraham weighed to Ephron the silver which he had named in the audience of the children of Heth, four hundred shekels of silver, according to the current merchants&#8217; standard.</span>
  <span class="verse" title="Genesis 23:17" id="Genesis-23-17">So the field of Ephron, which was in Machpelah, which was before Mamre, the field, the cave which was in it, and all the trees that were in the field, that were in all of its borders, were deeded</span>
  <span class="verse" title="Genesis 23:18" id="Genesis-23-18">to Abraham for a possession in the presence of the children of Heth, before all who went in at the gate of his city.</span>
  <span class="verse" title="Genesis 23:19" id="Genesis-23-19">After this, Abraham buried Sarah his wife in the cave of the field of Machpelah before Mamre (that is, Hebron), in the land of Canaan.</span>
  <span class="verse" title="Genesis 23:20" id="Genesis-23-20">The field, and the cave that is in it, were deeded to Abraham for a possession of a burying place by the children of Heth.</span>
</div>