<div class="chapter" id="Genesis-025">
  <h2>Genesis 25</h2>
  <span class="verse" title="Genesis 25:1" id="Genesis-25-1">Abraham took another wife, and her name was Keturah.</span>
  <span class="verse" title="Genesis 25:2" id="Genesis-25-2">She bore him Zimran, Jokshan, Medan, Midian, Ishbak, and Shuah.</span>
  <span class="verse" title="Genesis 25:3" id="Genesis-25-3">Jokshan became the father of Sheba, and Dedan. The sons of Dedan were Asshurim, Letushim, and Leummim.</span>
  <span class="verse" title="Genesis 25:4" id="Genesis-25-4">The sons of Midian: Ephah, Epher, Hanoch, Abida, and Eldaah. All these were the children of Keturah.</span>
  <span class="verse" title="Genesis 25:5" id="Genesis-25-5">Abraham gave all that he had to Isaac,</span>
  <span class="verse" title="Genesis 25:6" id="Genesis-25-6">but to the sons of Abraham&#8217;s concubines, Abraham gave gifts. He sent them away from Isaac his son, while he yet lived, eastward, to the east country.</span>
  <span class="verse" title="Genesis 25:7" id="Genesis-25-7">These are the days of the years of Abraham&#8217;s life which he lived: one hundred seventy-five years.</span>
  <span class="verse" title="Genesis 25:8" id="Genesis-25-8">Abraham gave up the spirit, and died in a good old age, an old man, and full of years, and was gathered to his people.</span>
  <span class="verse" title="Genesis 25:9" id="Genesis-25-9">Isaac and Ishmael, his sons, buried him in the cave of Machpelah, in the field of Ephron, the son of Zohar the Hittite, which is before Mamre,</span>
  <span class="verse" title="Genesis 25:10" id="Genesis-25-10">the field which Abraham purchased of the children of Heth. Abraham was buried there with Sarah, his wife.</span>
  <span class="verse" title="Genesis 25:11" id="Genesis-25-11">It happened after the death of Abraham that God blessed Isaac, his son. Isaac lived by Beer Lahai Roi.</span>
  <span class="verse" title="Genesis 25:12" id="Genesis-25-12">Now this is the history of the generations of Ishmael, Abraham&#8217;s son, whom Hagar the Egyptian, Sarah&#8217;s handmaid, bore to Abraham.</span>
  <span class="verse" title="Genesis 25:13" id="Genesis-25-13">These are the names of the sons of Ishmael, by their names, according to the order of their birth: the firstborn of Ishmael, Nebaioth, then Kedar, Adbeel, Mibsam,</span>
  <span class="verse" title="Genesis 25:14" id="Genesis-25-14">Mishma, Dumah, Massa,</span>
  <span class="verse" title="Genesis 25:15" id="Genesis-25-15">Hadad, Tema, Jetur, Naphish, and Kedemah.</span>
  <span class="verse" title="Genesis 25:16" id="Genesis-25-16">These are the sons of Ishmael, and these are their names, by their villages, and by their encampments: twelve princes, according to their nations.</span>
  <span class="verse" title="Genesis 25:17" id="Genesis-25-17">These are the years of the life of Ishmael: one hundred thirty-seven years. He gave up the spirit and died, and was gathered to his people.</span>
  <span class="verse" title="Genesis 25:18" id="Genesis-25-18">They lived from Havilah to Shur that is before Egypt, as you go toward Assyria. He lived opposite all his relatives.</span>
  <span class="verse" title="Genesis 25:19" id="Genesis-25-19">This is the history of the generations of Isaac, Abraham&#8217;s son. Abraham became the father of Isaac.</span>
  <span class="verse" title="Genesis 25:20" id="Genesis-25-20">Isaac was forty years old when he took Rebekah, the daughter of Bethuel the Syrian of Paddan Aram, the sister of Laban the Syrian, to be his wife.</span>
  <span class="verse" title="Genesis 25:21" id="Genesis-25-21">Isaac entreated Yahweh for his wife, because she was barren. Yahweh was entreated by him, and Rebekah his wife conceived.</span>
  <span class="verse" title="Genesis 25:22" id="Genesis-25-22">The children struggled together within her. She said, &#8220;If it be so, why do I live?&#8221; She went to inquire of Yahweh.</span>
  <span class="verse" title="Genesis 25:23" id="Genesis-25-23">Yahweh said to her,  &#8220;Two nations are in your womb.<br/>   Two peoples will be separated from your body.<br/>   The one people will be stronger than the other people.<br/>   The elder will serve the younger.&#8221;<br/></span>
  <span class="verse" title="Genesis 25:24" id="Genesis-25-24">When her days to be delivered were fulfilled, behold, there were twins in her womb.</span>
  <span class="verse" title="Genesis 25:25" id="Genesis-25-25">The first came out red all over, like a hairy garment. They named him Esau.</span>
  <span class="verse" title="Genesis 25:26" id="Genesis-25-26">After that, his brother came out, and his hand had hold on Esau&#8217;s heel. He was named Jacob. Isaac was sixty years old when she bore them.</span>
  <span class="verse" title="Genesis 25:27" id="Genesis-25-27">The boys grew. Esau was a skillful hunter, a man of the field. Jacob was a quiet man, living in tents.</span>
  <span class="verse" title="Genesis 25:28" id="Genesis-25-28">Now Isaac loved Esau, because he ate his venison. Rebekah loved Jacob.</span>
  <span class="verse" title="Genesis 25:29" id="Genesis-25-29">Jacob boiled stew. Esau came in from the field, and he was famished.</span>
  <span class="verse" title="Genesis 25:30" id="Genesis-25-30">Esau said to Jacob, &#8220;Please feed me with that same red stew, for I am famished.&#8221; Therefore his name was called Edom.</span>
  <span class="verse" title="Genesis 25:31" id="Genesis-25-31">Jacob said, &#8220;First, sell me your birthright.&#8221;</span>
  <span class="verse" title="Genesis 25:32" id="Genesis-25-32">Esau said, &#8220;Behold, I am about to die. What good is the birthright to me?&#8221;</span>
  <span class="verse" title="Genesis 25:33" id="Genesis-25-33">Jacob said, &#8220;Swear to me first.&#8221; He swore to him. He sold his birthright to Jacob.</span>
  <span class="verse" title="Genesis 25:34" id="Genesis-25-34">Jacob gave Esau bread and stew of lentils. He ate and drank, rose up, and went his way. So Esau despised his birthright.</span>
</div>