<div class="chapter" id="Genesis-026">
  <h2>Genesis 26</h2>
  <span class="verse" title="Genesis 26:1" id="Genesis-26-1">There was a famine in the land, besides the first famine that was in the days of Abraham. Isaac went to Abimelech king of the Philistines, to Gerar.</span>
  <span class="verse" title="Genesis 26:2" id="Genesis-26-2">Yahweh appeared to him, and said, &#8220;Don&#8217;t go down into Egypt. Live in the land I will tell you about.</span>
  <span class="verse" title="Genesis 26:3" id="Genesis-26-3">Live in this land, and I will be with you, and will bless you. For to you, and to your seed, I will give all these lands, and I will establish the oath which I swore to Abraham your father.</span>
  <span class="verse" title="Genesis 26:4" id="Genesis-26-4">I will multiply your seed as the stars of the sky, and will give to your seed all these lands. In your seed will all the nations of the earth be blessed,</span>
  <span class="verse" title="Genesis 26:5" id="Genesis-26-5">because Abraham obeyed my voice, and kept my requirements, my commandments, my statutes, and my laws.&#8221;</span>
  <span class="verse" title="Genesis 26:6" id="Genesis-26-6">Isaac lived in Gerar.</span>
  <span class="verse" title="Genesis 26:7" id="Genesis-26-7">The men of the place asked him about his wife. He said, &#8220;She is my sister,&#8221; for he was afraid to say, &#8220;My wife,&#8221; lest, he thought, &#8220;the men of the place might kill me for Rebekah, because she is beautiful to look at.&#8221;</span>
  <span class="verse" title="Genesis 26:8" id="Genesis-26-8">It happened, when he had been there a long time, that Abimelech king of the Philistines looked out at a window, and saw, and, behold, Isaac was caressing Rebekah, his wife.</span>
  <span class="verse" title="Genesis 26:9" id="Genesis-26-9">Abimelech called Isaac, and said, &#8220;Behold, surely she is your wife. Why did you say, &#8216;She is my sister?&#8217;&#8221; Isaac said to him, &#8220;Because I said, &#8216;Lest I die because of her.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 26:10" id="Genesis-26-10">Abimelech said, &#8220;What is this you have done to us? One of the people might easily have lain with your wife, and you would have brought guilt on us!&#8221;</span>
  <span class="verse" title="Genesis 26:11" id="Genesis-26-11">Abimelech commanded all the people, saying, &#8220;He who touches this man or his wife will surely be put to death.&#8221;</span>
  <span class="verse" title="Genesis 26:12" id="Genesis-26-12">Isaac sowed in that land, and reaped in the same year one hundred times what he planted. Yahweh blessed him.</span>
  <span class="verse" title="Genesis 26:13" id="Genesis-26-13">The man grew great, and grew more and more until he became very great.</span>
  <span class="verse" title="Genesis 26:14" id="Genesis-26-14">He had possessions of flocks, possessions of herds, and a great household. The Philistines envied him.</span>
  <span class="verse" title="Genesis 26:15" id="Genesis-26-15">Now all the wells which his father&#8217;s servants had dug in the days of Abraham his father, the Philistines had stopped, and filled with earth.</span>
  <span class="verse" title="Genesis 26:16" id="Genesis-26-16">Abimelech said to Isaac, &#8220;Go from us, for you are much mightier than we.&#8221;</span>
  <span class="verse" title="Genesis 26:17" id="Genesis-26-17">Isaac departed from there, encamped in the valley of Gerar, and lived there.</span>
  <span class="verse" title="Genesis 26:18" id="Genesis-26-18">Isaac dug again the wells of water, which they had dug in the days of Abraham his father. For the Philistines had stopped them after the death of Abraham. He called their names after the names by which his father had called them.</span>
  <span class="verse" title="Genesis 26:19" id="Genesis-26-19">Isaac&#8217;s servants dug in the valley, and found there a well of springing water.</span>
  <span class="verse" title="Genesis 26:20" id="Genesis-26-20">The herdsmen of Gerar argued with Isaac&#8217;s herdsmen, saying, &#8220;The water is ours.&#8221; He called the name of the well Esek, because they contended with him.</span>
  <span class="verse" title="Genesis 26:21" id="Genesis-26-21">They dug another well, and they argued over that, also. He called its name Sitnah.</span>
  <span class="verse" title="Genesis 26:22" id="Genesis-26-22">He left that place, and dug another well. They didn&#8217;t argue over that one. He called it Rehoboth. He said, &#8220;For now Yahweh has made room for us, and we will be fruitful in the land.&#8221;</span>
  <span class="verse" title="Genesis 26:23" id="Genesis-26-23">He went up from there to Beersheba.</span>
  <span class="verse" title="Genesis 26:24" id="Genesis-26-24">Yahweh appeared to him the same night, and said, &#8220;I am the God of Abraham your father. Don&#8217;t be afraid, for I am with you, and will bless you, and multiply your seed for my servant Abraham&#8217;s sake.&#8221;</span>
  <span class="verse" title="Genesis 26:25" id="Genesis-26-25">He built an altar there, and called on the name of Yahweh, and pitched his tent there. There Isaac&#8217;s servants dug a well.</span>
  <span class="verse" title="Genesis 26:26" id="Genesis-26-26">Then Abimelech went to him from Gerar, and Ahuzzath his friend, and Phicol the captain of his army.</span>
  <span class="verse" title="Genesis 26:27" id="Genesis-26-27">Isaac said to them, &#8220;Why have you come to me, since you hate me, and have sent me away from you?&#8221;</span>
  <span class="verse" title="Genesis 26:28" id="Genesis-26-28">They said, &#8220;We saw plainly that Yahweh was with you. We said, &#8216;Let there now be an oath between us, even between us and you, and let us make a covenant with you,</span>
  <span class="verse" title="Genesis 26:29" id="Genesis-26-29">that you will do us no harm, as we have not touched you, and as we have done to you nothing but good, and have sent you away in peace.&#8217; You are now the blessed of Yahweh.&#8221;</span>
  <span class="verse" title="Genesis 26:30" id="Genesis-26-30">He made them a feast, and they ate and drank.</span>
  <span class="verse" title="Genesis 26:31" id="Genesis-26-31">They rose up some time in the morning, and swore one to another. Isaac sent them away, and they departed from him in peace.</span>
  <span class="verse" title="Genesis 26:32" id="Genesis-26-32">It happened the same day, that Isaac&#8217;s servants came, and told him concerning the well which they had dug, and said to him, &#8220;We have found water.&#8221;</span>
  <span class="verse" title="Genesis 26:33" id="Genesis-26-33">He called it Shibah. Therefore the name of the city is Beersheba to this day.</span>
  <span class="verse" title="Genesis 26:34" id="Genesis-26-34">When Esau was forty years old, he took as wife Judith, the daughter of Beeri the Hittite, and Basemath, the daughter of Elon the Hittite.</span>
  <span class="verse" title="Genesis 26:35" id="Genesis-26-35">They grieved Isaac&#8217;s and Rebekah&#8217;s spirits.</span>
</div>