<div class="chapter" id="Genesis-028">
  <h2>Genesis 28</h2>
  <span class="verse" title="Genesis 28:1" id="Genesis-28-1">Isaac called Jacob, blessed him, and commanded him, &#8220;You shall not take a wife of the daughters of Canaan.</span>
  <span class="verse" title="Genesis 28:2" id="Genesis-28-2">Arise, go to Paddan Aram, to the house of Bethuel your mother&#8217;s father. Take a wife from there from the daughters of Laban, your mother&#8217;s brother.</span>
  <span class="verse" title="Genesis 28:3" id="Genesis-28-3">May God Almighty bless you, and make you fruitful, and multiply you, that you may be a company of peoples,</span>
  <span class="verse" title="Genesis 28:4" id="Genesis-28-4">and give you the blessing of Abraham, to you, and to your seed with you, that you may inherit the land where you travel, which God gave to Abraham.&#8221;</span>
  <span class="verse" title="Genesis 28:5" id="Genesis-28-5">Isaac sent Jacob away. He went to Paddan Aram to Laban, son of Bethuel the Syrian, Rebekah&#8217;s brother, Jacob&#8217;s and Esau&#8217;s mother.</span>
  <span class="verse" title="Genesis 28:6" id="Genesis-28-6">Now Esau saw that Isaac had blessed Jacob and sent him away to Paddan Aram, to take him a wife from there, and that as he blessed him he gave him a command, saying, &#8220;You shall not take a wife of the daughters of Canaan,&#8221;</span>
  <span class="verse" title="Genesis 28:7" id="Genesis-28-7">and that Jacob obeyed his father and his mother, and was gone to Paddan Aram.</span>
  <span class="verse" title="Genesis 28:8" id="Genesis-28-8">Esau saw that the daughters of Canaan didn&#8217;t please Isaac, his father.</span>
  <span class="verse" title="Genesis 28:9" id="Genesis-28-9">Esau went to Ishmael, and took, besides the wives that he had, Mahalath the daughter of Ishmael, Abraham&#8217;s son, the sister of Nebaioth, to be his wife.</span>
  <span class="verse" title="Genesis 28:10" id="Genesis-28-10">Jacob went out from Beersheba, and went toward Haran.</span>
  <span class="verse" title="Genesis 28:11" id="Genesis-28-11">He came to a certain place, and stayed there all night, because the sun had set. He took one of the stones of the place, and put it under his head, and lay down in that place to sleep.</span>
  <span class="verse" title="Genesis 28:12" id="Genesis-28-12">He dreamed. Behold, a stairway set upon the earth, and its top reached to heaven. Behold, the angels of God ascending and descending on it.</span>
  <span class="verse" title="Genesis 28:13" id="Genesis-28-13">Behold, Yahweh stood above it, and said, &#8220;I am Yahweh, the God of Abraham your father, and the God of Isaac. The land whereon you lie, to you will I give it, and to your seed.</span>
  <span class="verse" title="Genesis 28:14" id="Genesis-28-14">Your seed will be as the dust of the earth, and you will spread abroad to the west, and to the east, and to the north, and to the south. In you and in your seed will all the families of the earth be blessed.</span>
  <span class="verse" title="Genesis 28:15" id="Genesis-28-15">Behold, I am with you, and will keep you, wherever you go, and will bring you again into this land. For I will not leave you, until I have done that which I have spoken of to you.&#8221;</span>
  <span class="verse" title="Genesis 28:16" id="Genesis-28-16">Jacob awakened out of his sleep, and he said, &#8220;Surely Yahweh is in this place, and I didn&#8217;t know it.&#8221;</span>
  <span class="verse" title="Genesis 28:17" id="Genesis-28-17">He was afraid, and said, &#8220;How dreadful is this place! This is none other than God&#8217;s house, and this is the gate of heaven.&#8221;</span>
  <span class="verse" title="Genesis 28:18" id="Genesis-28-18">Jacob rose up early in the morning, and took the stone that he had put under his head, and set it up for a pillar, and poured oil on its top.</span>
  <span class="verse" title="Genesis 28:19" id="Genesis-28-19">He called the name of that place Bethel, but the name of the city was Luz at the first.</span>
  <span class="verse" title="Genesis 28:20" id="Genesis-28-20">Jacob vowed a vow, saying, &#8220;If God will be with me, and will keep me in this way that I go, and will give me bread to eat, and clothing to put on,</span>
  <span class="verse" title="Genesis 28:21" id="Genesis-28-21">so that I come again to my father&#8217;s house in peace, and Yahweh will be my God,</span>
  <span class="verse" title="Genesis 28:22" id="Genesis-28-22">then this stone, which I have set up for a pillar, will be God&#8217;s house. Of all that you will give me I will surely give the tenth to you.&#8221;</span>
</div>