<div class="chapter" id="Genesis-029">
  <h2>Genesis 29</h2>
  <span class="verse" title="Genesis 29:1" id="Genesis-29-1">Then Jacob went on his journey, and came to the land of the children of the east.</span>
  <span class="verse" title="Genesis 29:2" id="Genesis-29-2">He looked, and behold, a well in the field, and, behold, three flocks of sheep lying there by it. For out of that well they watered the flocks. The stone on the well&#8217;s mouth was large.</span>
  <span class="verse" title="Genesis 29:3" id="Genesis-29-3">There all the flocks were gathered. They rolled the stone from the well&#8217;s mouth, and watered the sheep, and put the stone again on the well&#8217;s mouth in its place.</span>
  <span class="verse" title="Genesis 29:4" id="Genesis-29-4">Jacob said to them, &#8220;My relatives, where are you from?&#8221; They said, &#8220;We are from Haran.&#8221;</span>
  <span class="verse" title="Genesis 29:5" id="Genesis-29-5">He said to them, &#8220;Do you know Laban, the son of Nahor?&#8221; They said, &#8220;We know him.&#8221;</span>
  <span class="verse" title="Genesis 29:6" id="Genesis-29-6">He said to them, &#8220;Is it well with him?&#8221; They said, &#8220;It is well. See, Rachel, his daughter, is coming with the sheep.&#8221;</span>
  <span class="verse" title="Genesis 29:7" id="Genesis-29-7">He said, &#8220;Behold, it is still the middle of the day, not time to gather the livestock together. Water the sheep, and go and feed them.&#8221;</span>
  <span class="verse" title="Genesis 29:8" id="Genesis-29-8">They said, &#8220;We can&#8217;t, until all the flocks are gathered together, and they roll the stone from the well&#8217;s mouth. Then we water the sheep.&#8221;</span>
  <span class="verse" title="Genesis 29:9" id="Genesis-29-9">While he was yet speaking with them, Rachel came with her father&#8217;s sheep, for she kept them.</span>
  <span class="verse" title="Genesis 29:10" id="Genesis-29-10">It happened, when Jacob saw Rachel the daughter of Laban, his mother&#8217;s brother, and the sheep of Laban, his mother&#8217;s brother, that Jacob went near, and rolled the stone from the well&#8217;s mouth, and watered the flock of Laban his mother&#8217;s brother.</span>
  <span class="verse" title="Genesis 29:11" id="Genesis-29-11">Jacob kissed Rachel, and lifted up his voice, and wept.</span>
  <span class="verse" title="Genesis 29:12" id="Genesis-29-12">Jacob told Rachel that he was her father&#8217;s brother, and that he was Rebekah&#8217;s son. She ran and told her father.</span>
  <span class="verse" title="Genesis 29:13" id="Genesis-29-13">It happened, when Laban heard the news of Jacob, his sister&#8217;s son, that he ran to meet Jacob, and embraced him, and kissed him, and brought him to his house. Jacob told Laban all these things.</span>
  <span class="verse" title="Genesis 29:14" id="Genesis-29-14">Laban said to him, &#8220;Surely you are my bone and my flesh.&#8221; He lived with him for a month.</span>
  <span class="verse" title="Genesis 29:15" id="Genesis-29-15">Laban said to Jacob, &#8220;Because you are my brother, should you therefore serve me for nothing? Tell me, what will your wages be?&#8221;</span>
  <span class="verse" title="Genesis 29:16" id="Genesis-29-16">Laban had two daughters. The name of the elder was Leah, and the name of the younger was Rachel.</span>
  <span class="verse" title="Genesis 29:17" id="Genesis-29-17">Leah&#8217;s eyes were weak, but Rachel was beautiful in form and attractive.</span>
  <span class="verse" title="Genesis 29:18" id="Genesis-29-18">Jacob loved Rachel. He said, &#8220;I will serve you seven years for Rachel, your younger daughter.&#8221;</span>
  <span class="verse" title="Genesis 29:19" id="Genesis-29-19">Laban said, &#8220;It is better that I give her to you, than that I should give her to another man. Stay with me.&#8221;</span>
  <span class="verse" title="Genesis 29:20" id="Genesis-29-20">Jacob served seven years for Rachel. They seemed to him but a few days, for the love he had for her.</span>
  <span class="verse" title="Genesis 29:21" id="Genesis-29-21">Jacob said to Laban, &#8220;Give me my wife, for my days are fulfilled, that I may go in to her.&#8221;</span>
  <span class="verse" title="Genesis 29:22" id="Genesis-29-22">Laban gathered together all the men of the place, and made a feast.</span>
  <span class="verse" title="Genesis 29:23" id="Genesis-29-23">It happened in the evening, that he took Leah his daughter, and brought her to him. He went in to her.</span>
  <span class="verse" title="Genesis 29:24" id="Genesis-29-24">Laban gave Zilpah his handmaid to his daughter Leah for a handmaid.</span>
  <span class="verse" title="Genesis 29:25" id="Genesis-29-25">It happened in the morning that, behold, it was Leah. He said to Laban, &#8220;What is this you have done to me? Didn&#8217;t I serve with you for Rachel? Why then have you deceived me?&#8221;</span>
  <span class="verse" title="Genesis 29:26" id="Genesis-29-26">Laban said, &#8220;It is not done so in our place, to give the younger before the firstborn.</span>
  <span class="verse" title="Genesis 29:27" id="Genesis-29-27">Fulfill the week of this one, and we will give you the other also for the service which you will serve with me yet seven other years.&#8221;</span>
  <span class="verse" title="Genesis 29:28" id="Genesis-29-28">Jacob did so, and fulfilled her week. He gave him Rachel his daughter as wife.</span>
  <span class="verse" title="Genesis 29:29" id="Genesis-29-29">Laban gave to Rachel his daughter Bilhah, his handmaid, to be her handmaid.</span>
  <span class="verse" title="Genesis 29:30" id="Genesis-29-30">He went in also to Rachel, and he loved also Rachel more than Leah, and served with him yet seven other years.</span>
  <span class="verse" title="Genesis 29:31" id="Genesis-29-31">Yahweh saw that Leah was hated, and he opened her womb, but Rachel was barren.</span>
  <span class="verse" title="Genesis 29:32" id="Genesis-29-32">Leah conceived, and bore a son, and she named him Reuben. For she said, &#8220;Because Yahweh has looked at my affliction. For now my husband will love me.&#8221;</span>
  <span class="verse" title="Genesis 29:33" id="Genesis-29-33">She conceived again, and bore a son, and said, &#8220;Because Yahweh has heard that I am hated, he has therefore given me this son also.&#8221; She named him Simeon.</span>
  <span class="verse" title="Genesis 29:34" id="Genesis-29-34">She conceived again, and bore a son. Said, &#8220;Now this time will my husband be joined to me, because I have borne him three sons.&#8221; Therefore was his name called Levi.</span>
  <span class="verse" title="Genesis 29:35" id="Genesis-29-35">She conceived again, and bore a son. She said, &#8220;This time will I praise Yahweh.&#8221; Therefore she named him Judah. Then she stopped bearing.</span>
</div>