<div class="chapter" id="Genesis-030">
  <h2>Genesis 30</h2>
  <span class="verse" title="Genesis 30:1" id="Genesis-30-1">When Rachel saw that she bore Jacob no children, Rachel envied her sister. She said to Jacob, &#8220;Give me children, or else I will die.&#8221;</span>
  <span class="verse" title="Genesis 30:2" id="Genesis-30-2">Jacob&#8217;s anger was kindled against Rachel, and he said, &#8220;Am I in God&#8217;s place, who has withheld from you the fruit of the womb?&#8221;</span>
  <span class="verse" title="Genesis 30:3" id="Genesis-30-3">She said, &#8220;Behold, my maid Bilhah. Go in to her, that she may bear on my knees, and I also may obtain children by her.&#8221;</span>
  <span class="verse" title="Genesis 30:4" id="Genesis-30-4">She gave him Bilhah her handmaid as wife, and Jacob went in to her.</span>
  <span class="verse" title="Genesis 30:5" id="Genesis-30-5">Bilhah conceived, and bore Jacob a son.</span>
  <span class="verse" title="Genesis 30:6" id="Genesis-30-6">Rachel said, &#8220;God has judged me, and has also heard my voice, and has given me a son.&#8221; Therefore called she his name Dan.</span>
  <span class="verse" title="Genesis 30:7" id="Genesis-30-7">Bilhah, Rachel&#8217;s handmaid, conceived again, and bore Jacob a second son.</span>
  <span class="verse" title="Genesis 30:8" id="Genesis-30-8">Rachel said, &#8220;With mighty wrestlings have I wrestled with my sister, and have prevailed.&#8221; She named him Naphtali.</span>
  <span class="verse" title="Genesis 30:9" id="Genesis-30-9">When Leah saw that she had finished bearing, she took Zilpah, her handmaid, and gave her to Jacob as a wife.</span>
  <span class="verse" title="Genesis 30:10" id="Genesis-30-10">Zilpah, Leah&#8217;s handmaid, bore Jacob a son.</span>
  <span class="verse" title="Genesis 30:11" id="Genesis-30-11">Leah said, &#8220;How fortunate!&#8221; She named him Gad.</span>
  <span class="verse" title="Genesis 30:12" id="Genesis-30-12">Zilpah, Leah&#8217;s handmaid, bore Jacob a second son.</span>
  <span class="verse" title="Genesis 30:13" id="Genesis-30-13">Leah said, &#8220;Happy am I, for the daughters will call me happy.&#8221; She named him Asher.</span>
  <span class="verse" title="Genesis 30:14" id="Genesis-30-14">Reuben went in the days of wheat harvest, and found mandrakes in the field, and brought them to his mother, Leah. Then Rachel said to Leah, &#8220;Please give me some of your son&#8217;s mandrakes.&#8221;</span>
  <span class="verse" title="Genesis 30:15" id="Genesis-30-15">She said to her, &#8220;Is it a small matter that you have taken away my husband? Would you take away my son&#8217;s mandrakes, also?&#8221; Rachel said, &#8220;Therefore he will lie with you tonight for your son&#8217;s mandrakes.&#8221;</span>
  <span class="verse" title="Genesis 30:16" id="Genesis-30-16">Jacob came from the field in the evening, and Leah went out to meet him, and said, &#8220;You must come in to me; for I have surely hired you with my son&#8217;s mandrakes.&#8221; He lay with her that night.</span>
  <span class="verse" title="Genesis 30:17" id="Genesis-30-17">God listened to Leah, and she conceived, and bore Jacob a fifth son.</span>
  <span class="verse" title="Genesis 30:18" id="Genesis-30-18">Leah said, &#8220;God has given me my hire, because I gave my handmaid to my husband.&#8221; She named him Issachar.</span>
  <span class="verse" title="Genesis 30:19" id="Genesis-30-19">Leah conceived again, and bore a sixth son to Jacob.</span>
  <span class="verse" title="Genesis 30:20" id="Genesis-30-20">Leah said, &#8220;God has endowed me with a good dowry. Now my husband will live with me, because I have borne him six sons.&#8221; She named him Zebulun.</span>
  <span class="verse" title="Genesis 30:21" id="Genesis-30-21">Afterwards, she bore a daughter, and named her Dinah.</span>
  <span class="verse" title="Genesis 30:22" id="Genesis-30-22">God remembered Rachel, and God listened to her, and opened her womb.</span>
  <span class="verse" title="Genesis 30:23" id="Genesis-30-23">She conceived, bore a son, and said, &#8220;God has taken away my reproach.&#8221;</span>
  <span class="verse" title="Genesis 30:24" id="Genesis-30-24">She named him Joseph, saying, &#8220;May Yahweh add another son to me.&#8221;</span>
  <span class="verse" title="Genesis 30:25" id="Genesis-30-25">It happened, when Rachel had borne Joseph, that Jacob said to Laban, &#8220;Send me away, that I may go to my own place, and to my country.</span>
  <span class="verse" title="Genesis 30:26" id="Genesis-30-26">Give me my wives and my children for whom I have served you, and let me go; for you know my service with which I have served you.&#8221;</span>
  <span class="verse" title="Genesis 30:27" id="Genesis-30-27">Laban said to him, &#8220;If now I have found favor in your eyes, stay here, for I have divined that Yahweh has blessed me for your sake.&#8221;</span>
  <span class="verse" title="Genesis 30:28" id="Genesis-30-28">He said, &#8220;Appoint me your wages, and I will give it.&#8221;</span>
  <span class="verse" title="Genesis 30:29" id="Genesis-30-29">He said to him, &#8220;You know how I have served you, and how your livestock have fared with me.</span>
  <span class="verse" title="Genesis 30:30" id="Genesis-30-30">For it was little which you had before I came, and it has increased to a multitude. Yahweh has blessed you wherever I turned. Now when will I provide for my own house also?&#8221;</span>
  <span class="verse" title="Genesis 30:31" id="Genesis-30-31">He said, &#8220;What shall I give you?&#8221; Jacob said, &#8220;You shall not give me anything. If you will do this thing for me, I will again feed your flock and keep it.</span>
  <span class="verse" title="Genesis 30:32" id="Genesis-30-32">I will pass through all your flock today, removing from there every speckled and spotted one, and every black one among the sheep, and the spotted and speckled among the goats. This will be my hire.</span>
  <span class="verse" title="Genesis 30:33" id="Genesis-30-33">So my righteousness will answer for me hereafter, when you come concerning my hire that is before you. Every one that is not speckled and spotted among the goats, and black among the sheep, that might be with me, will be counted stolen.&#8221;</span>
  <span class="verse" title="Genesis 30:34" id="Genesis-30-34">Laban said, &#8220;Behold, let it be according to your word.&#8221;</span>
  <span class="verse" title="Genesis 30:35" id="Genesis-30-35">That day, he removed the male goats that were streaked and spotted, and all the female goats that were speckled and spotted, every one that had white in it, and all the black ones among the sheep, and gave them into the hand of his sons.</span>
  <span class="verse" title="Genesis 30:36" id="Genesis-30-36">He set three days&#8217; journey between himself and Jacob, and Jacob fed the rest of Laban&#8217;s flocks.</span>
  <span class="verse" title="Genesis 30:37" id="Genesis-30-37">Jacob took to himself rods of fresh poplar, almond, plane tree, peeled white streaks in them, and made the white appear which was in the rods.</span>
  <span class="verse" title="Genesis 30:38" id="Genesis-30-38">He set the rods which he had peeled opposite the flocks in the gutters in the watering-troughs where the flocks came to drink. They conceived when they came to drink.</span>
  <span class="verse" title="Genesis 30:39" id="Genesis-30-39">The flocks conceived before the rods, and the flocks produced streaked, speckled, and spotted.</span>
  <span class="verse" title="Genesis 30:40" id="Genesis-30-40">Jacob separated the lambs, and set the faces of the flocks toward the streaked and all the black in the flock of Laban: and he put his own droves apart, and didn&#8217;t put them into Laban&#8217;s flock.</span>
  <span class="verse" title="Genesis 30:41" id="Genesis-30-41">It happened, whenever the stronger of the flock conceived, that Jacob laid the rods before the eyes of the flock in the gutters, that they might conceive among the rods;</span>
  <span class="verse" title="Genesis 30:42" id="Genesis-30-42">but when the flock were feeble, he didn&#8217;t put them in. So the feebler were Laban&#8217;s, and the stronger Jacob&#8217;s.</span>
  <span class="verse" title="Genesis 30:43" id="Genesis-30-43">The man increased exceedingly, and had large flocks, female servants and male servants, and camels and donkeys.</span>
</div>