<div class="chapter" id="Genesis-031">
  <h2>Genesis 31</h2>
  <span class="verse" title="Genesis 31:1" id="Genesis-31-1">He heard the words of Laban&#8217;s sons, saying, &#8220;Jacob has taken away all that was our father&#8217;s. From that which was our father&#8217;s, has he gotten all this wealth.&#8221;</span>
  <span class="verse" title="Genesis 31:2" id="Genesis-31-2">Jacob saw the expression on Laban&#8217;s face, and, behold, it was not toward him as before.</span>
  <span class="verse" title="Genesis 31:3" id="Genesis-31-3">Yahweh said to Jacob, &#8220;Return to the land of your fathers, and to your relatives, and I will be with you.&#8221;</span>
  <span class="verse" title="Genesis 31:4" id="Genesis-31-4">Jacob sent and called Rachel and Leah to the field to his flock,</span>
  <span class="verse" title="Genesis 31:5" id="Genesis-31-5">and said to them, &#8220;I see the expression on your father&#8217;s face, that it is not toward me as before; but the God of my father has been with me.</span>
  <span class="verse" title="Genesis 31:6" id="Genesis-31-6">You know that I have served your father with all of my strength.</span>
  <span class="verse" title="Genesis 31:7" id="Genesis-31-7">Your father has deceived me, and changed my wages ten times, but God didn&#8217;t allow him to hurt me.</span>
  <span class="verse" title="Genesis 31:8" id="Genesis-31-8">If he said this, &#8216;The speckled will be your wages,&#8217; then all the flock bore speckled. If he said this, &#8216;The streaked will be your wages,&#8217; then all the flock bore streaked.</span>
  <span class="verse" title="Genesis 31:9" id="Genesis-31-9">Thus God has taken away your father&#8217;s livestock, and given them to me.</span>
  <span class="verse" title="Genesis 31:10" id="Genesis-31-10">It happened during mating season that I lifted up my eyes, and saw in a dream, and behold, the male goats which leaped on the flock were streaked, speckled, and grizzled.</span>
  <span class="verse" title="Genesis 31:11" id="Genesis-31-11">The angel of God said to me in the dream, &#8216;Jacob,&#8217; and I said, &#8216;Here I am.&#8217;</span>
  <span class="verse" title="Genesis 31:12" id="Genesis-31-12">He said, &#8216;Now lift up your eyes, and behold, all the male goats which leap on the flock are streaked, speckled, and grizzled, for I have seen all that Laban does to you.</span>
  <span class="verse" title="Genesis 31:13" id="Genesis-31-13">I am the God of Bethel, where you anointed a pillar, where you vowed a vow to me. Now arise, get out from this land, and return to the land of your birth.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 31:14" id="Genesis-31-14">Rachel and Leah answered him, &#8220;Is there yet any portion or inheritance for us in our father&#8217;s house?</span>
  <span class="verse" title="Genesis 31:15" id="Genesis-31-15">Aren&#8217;t we accounted by him as foreigners? For he has sold us, and has also quite devoured our money.</span>
  <span class="verse" title="Genesis 31:16" id="Genesis-31-16">For all the riches which God has taken away from our father, that is ours and our children&#8217;s. Now then, whatever God has said to you, do.&#8221;</span>
  <span class="verse" title="Genesis 31:17" id="Genesis-31-17">Then Jacob rose up, and set his sons and his wives on the camels,</span>
  <span class="verse" title="Genesis 31:18" id="Genesis-31-18">and he took away all his livestock, and all his possessions which he had gathered, including the livestock which he had gained in Paddan Aram, to go to Isaac his father, to the land of Canaan.</span>
  <span class="verse" title="Genesis 31:19" id="Genesis-31-19">Now Laban had gone to shear his sheep: and Rachel stole the teraphim that were her father&#8217;s.</span>
  <span class="verse" title="Genesis 31:20" id="Genesis-31-20">Jacob deceived Laban the Syrian, in that he didn&#8217;t tell him that he was running away.</span>
  <span class="verse" title="Genesis 31:21" id="Genesis-31-21">So he fled with all that he had. He rose up, passed over the River, and set his face toward the mountain of Gilead.</span>
  <span class="verse" title="Genesis 31:22" id="Genesis-31-22">Laban was told on the third day that Jacob had fled.</span>
  <span class="verse" title="Genesis 31:23" id="Genesis-31-23">He took his relatives with him, and pursued after him seven days&#8217; journey. He overtook him in the mountain of Gilead.</span>
  <span class="verse" title="Genesis 31:24" id="Genesis-31-24">God came to Laban, the Syrian, in a dream of the night, and said to him, &#8220;Take heed to yourself that you don&#8217;t speak to Jacob either good or bad.&#8221;</span>
  <span class="verse" title="Genesis 31:25" id="Genesis-31-25">Laban caught up with Jacob. Now Jacob had pitched his tent in the mountain, and Laban with his relatives encamped in the mountain of Gilead.</span>
  <span class="verse" title="Genesis 31:26" id="Genesis-31-26">Laban said to Jacob, &#8220;What have you done, that you have deceived me, and carried away my daughters like captives of the sword?</span>
  <span class="verse" title="Genesis 31:27" id="Genesis-31-27">Why did you flee secretly, and deceive me, and didn&#8217;t tell me, that I might have sent you away with mirth and with songs, with tambourine and with harp;</span>
  <span class="verse" title="Genesis 31:28" id="Genesis-31-28">and didn&#8217;t allow me to kiss my sons and my daughters? Now have you done foolishly.</span>
  <span class="verse" title="Genesis 31:29" id="Genesis-31-29">It is in the power of my hand to hurt you, but the God of your father spoke to me last night, saying, &#8216;Take heed to yourself that you don&#8217;t speak to Jacob either good or bad.&#8217;</span>
  <span class="verse" title="Genesis 31:30" id="Genesis-31-30">Now, you want to be gone, because you greatly longed for your father&#8217;s house, but why have you stolen my gods?&#8221;</span>
  <span class="verse" title="Genesis 31:31" id="Genesis-31-31">Jacob answered Laban, &#8220;Because I was afraid, for I said, &#8216;Lest you should take your daughters from me by force.&#8217;</span>
  <span class="verse" title="Genesis 31:32" id="Genesis-31-32">Anyone you find your gods with shall not live. Before our relatives, discern what is yours with me, and take it.&#8221; For Jacob didn&#8217;t know that Rachel had stolen them.</span>
  <span class="verse" title="Genesis 31:33" id="Genesis-31-33">Laban went into Jacob&#8217;s tent, into Leah&#8217;s tent, and into the tent of the two female servants; but he didn&#8217;t find them. He went out of Leah&#8217;s tent, and entered into Rachel&#8217;s tent.</span>
  <span class="verse" title="Genesis 31:34" id="Genesis-31-34">Now Rachel had taken the teraphim, put them in the camel&#8217;s saddle, and sat on them. Laban felt about all the tent, but didn&#8217;t find them.</span>
  <span class="verse" title="Genesis 31:35" id="Genesis-31-35">She said to her father, &#8220;Don&#8217;t let my lord be angry that I can&#8217;t rise up before you; for I&#8217;m having my period.&#8221; He searched, but didn&#8217;t find the teraphim.</span>
  <span class="verse" title="Genesis 31:36" id="Genesis-31-36">Jacob was angry, and argued with Laban. Jacob answered Laban, &#8220;What is my trespass? What is my sin, that you have hotly pursued after me?</span>
  <span class="verse" title="Genesis 31:37" id="Genesis-31-37">Now that you have felt around in all my stuff, what have you found of all your household stuff? Set it here before my relatives and your relatives, that they may judge between us two.</span>
  <span class="verse" title="Genesis 31:38" id="Genesis-31-38">&#8220;These twenty years I have been with you. Your ewes and your female goats have not cast their young, and I haven&#8217;t eaten the rams of your flocks.</span>
  <span class="verse" title="Genesis 31:39" id="Genesis-31-39">That which was torn of animals, I didn&#8217;t bring to you. I bore its loss. Of my hand you required it, whether stolen by day or stolen by night.</span>
  <span class="verse" title="Genesis 31:40" id="Genesis-31-40">This was my situation: in the day the drought consumed me, and the frost by night; and my sleep fled from my eyes.</span>
  <span class="verse" title="Genesis 31:41" id="Genesis-31-41">These twenty years I have been in your house. I served you fourteen years for your two daughters, and six years for your flock, and you have changed my wages ten times.</span>
  <span class="verse" title="Genesis 31:42" id="Genesis-31-42">Unless the God of my father, the God of Abraham, and the fear of Isaac, had been with me, surely now you would have sent me away empty. God has seen my affliction and the labor of my hands, and rebuked you last night.&#8221;</span>
  <span class="verse" title="Genesis 31:43" id="Genesis-31-43">Laban answered Jacob, &#8220;The daughters are my daughters, the children are my children, the flocks are my flocks, and all that you see is mine: and what can I do this day to these my daughters, or to their children whom they have borne?</span>
  <span class="verse" title="Genesis 31:44" id="Genesis-31-44">Now come, let us make a covenant, you and I; and let it be for a witness between me and you.&#8221;</span>
  <span class="verse" title="Genesis 31:45" id="Genesis-31-45">Jacob took a stone, and set it up for a pillar.</span>
  <span class="verse" title="Genesis 31:46" id="Genesis-31-46">Jacob said to his relatives, &#8220;Gather stones.&#8221; They took stones, and made a heap. They ate there by the heap.</span>
  <span class="verse" title="Genesis 31:47" id="Genesis-31-47">Laban called it Jegar Sahadutha, but Jacob called it Galeed.</span>
  <span class="verse" title="Genesis 31:48" id="Genesis-31-48">Laban said, &#8220;This heap is witness between me and you this day.&#8221; Therefore it was named Galeed</span>
  <span class="verse" title="Genesis 31:49" id="Genesis-31-49">and Mizpah, for he said, &#8220;Yahweh watch between me and you, when we are absent one from another.</span>
  <span class="verse" title="Genesis 31:50" id="Genesis-31-50">If you afflict my daughters, or if you take wives besides my daughters, no man is with us; behold, God is witness between me and you.&#8221;</span>
  <span class="verse" title="Genesis 31:51" id="Genesis-31-51">Laban said to Jacob, &#8220;See this heap, and see the pillar, which I have set between me and you.</span>
  <span class="verse" title="Genesis 31:52" id="Genesis-31-52">May this heap be a witness, and the pillar be a witness, that I will not pass over this heap to you, and that you will not pass over this heap and this pillar to me, for harm.</span>
  <span class="verse" title="Genesis 31:53" id="Genesis-31-53">The God of Abraham, and the God of Nahor, the God of their father, judge between us.&#8221; Then Jacob swore by the fear of his father, Isaac.</span>
  <span class="verse" title="Genesis 31:54" id="Genesis-31-54">Jacob offered a sacrifice in the mountain, and called his relatives to eat bread. They ate bread, and stayed all night in the mountain.</span>
  <span class="verse" title="Genesis 31:55" id="Genesis-31-55">Early in the morning, Laban rose up, and kissed his sons and his daughters, and blessed them. Laban departed and returned to his place.</span>
</div>