<div class="chapter" id="Genesis-032">
  <h2>Genesis 32</h2>
  <span class="verse" title="Genesis 32:1" id="Genesis-32-1">Jacob went on his way, and the angels of God met him.</span>
  <span class="verse" title="Genesis 32:2" id="Genesis-32-2">When he saw them, Jacob said, &#8220;This is God&#8217;s army.&#8221; He called the name of that place Mahanaim.</span>
  <span class="verse" title="Genesis 32:3" id="Genesis-32-3">Jacob sent messengers in front of him to Esau, his brother, to the land of Seir, the field of Edom.</span>
  <span class="verse" title="Genesis 32:4" id="Genesis-32-4">He commanded them, saying, &#8220;This is what you shall tell my lord, Esau: &#8216;This is what your servant, Jacob, says. I have lived as a foreigner with Laban, and stayed until now.</span>
  <span class="verse" title="Genesis 32:5" id="Genesis-32-5">I have cattle, donkeys, flocks, male servants, and female servants. I have sent to tell my lord, that I may find favor in your sight.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 32:6" id="Genesis-32-6">The messengers returned to Jacob, saying, &#8220;We came to your brother Esau. Not only that, but he comes to meet you, and four hundred men with him.&#8221;</span>
  <span class="verse" title="Genesis 32:7" id="Genesis-32-7">Then Jacob was greatly afraid and was distressed. He divided the people who were with him, and the flocks, and the herds, and the camels, into two companies;</span>
  <span class="verse" title="Genesis 32:8" id="Genesis-32-8">and he said, &#8220;If Esau comes to the one company, and strikes it, then the company which is left will escape.&#8221;</span>
  <span class="verse" title="Genesis 32:9" id="Genesis-32-9">Jacob said, &#8220;God of my father Abraham, and God of my father Isaac, Yahweh, who said to me, &#8216;Return to your country, and to your relatives, and I will do you good,&#8217;</span>
  <span class="verse" title="Genesis 32:10" id="Genesis-32-10">I am not worthy of the least of all the loving kindnesses, and of all the truth, which you have shown to your servant; for with just my staff I passed over this Jordan; and now I have become two companies.</span>
  <span class="verse" title="Genesis 32:11" id="Genesis-32-11">Please deliver me from the hand of my brother, from the hand of Esau: for I fear him, lest he come and strike me, and the mothers with the children.</span>
  <span class="verse" title="Genesis 32:12" id="Genesis-32-12">You said, &#8216;I will surely do you good, and make your seed as the sand of the sea, which can&#8217;t be numbered because there are so many.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 32:13" id="Genesis-32-13">He lodged there that night, and took from that which he had with him, a present for Esau, his brother:</span>
  <span class="verse" title="Genesis 32:14" id="Genesis-32-14">two hundred female goats and twenty male goats, two hundred ewes and twenty rams,</span>
  <span class="verse" title="Genesis 32:15" id="Genesis-32-15">thirty milk camels and their colts, forty cows, ten bulls, twenty female donkeys and ten foals.</span>
  <span class="verse" title="Genesis 32:16" id="Genesis-32-16">He delivered them into the hands of his servants, every herd by itself, and said to his servants, &#8220;Pass over before me, and put a space between herd and herd.&#8221;</span>
  <span class="verse" title="Genesis 32:17" id="Genesis-32-17">He commanded the foremost, saying, &#8220;When Esau, my brother, meets you, and asks you, saying, &#8216;Whose are you? Where are you going? Whose are these before you?&#8217;</span>
  <span class="verse" title="Genesis 32:18" id="Genesis-32-18">Then you shall say, &#8216;They are your servant, Jacob&#8217;s. It is a present sent to my lord, Esau. Behold, he also is behind us.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 32:19" id="Genesis-32-19">He commanded also the second, and the third, and all that followed the herds, saying, &#8220;This is how you shall speak to Esau, when you find him.</span>
  <span class="verse" title="Genesis 32:20" id="Genesis-32-20">You shall say, &#8216;Not only that, but behold, your servant, Jacob, is behind us.&#8217;&#8221; For, he said, &#8220;I will appease him with the present that goes before me, and afterward I will see his face. Perhaps he will accept me.&#8221;</span>
  <span class="verse" title="Genesis 32:21" id="Genesis-32-21">So the present passed over before him, and he himself lodged that night in the camp.</span>
  <span class="verse" title="Genesis 32:22" id="Genesis-32-22">He rose up that night, and took his two wives, and his two handmaids, and his eleven sons, and passed over the ford of the Jabbok.</span>
  <span class="verse" title="Genesis 32:23" id="Genesis-32-23">He took them, and sent them over the stream, and sent over that which he had.</span>
  <span class="verse" title="Genesis 32:24" id="Genesis-32-24">Jacob was left alone, and wrestled with a man there until the breaking of the day.</span>
  <span class="verse" title="Genesis 32:25" id="Genesis-32-25">When he saw that he didn&#8217;t prevail against him, he touched the hollow of his thigh, and the hollow of Jacob&#8217;s thigh was strained, as he wrestled.</span>
  <span class="verse" title="Genesis 32:26" id="Genesis-32-26">The man said, &#8220;Let me go, for the day breaks.&#8221; Jacob said, &#8220;I won&#8217;t let you go, unless you bless me.&#8221;</span>
  <span class="verse" title="Genesis 32:27" id="Genesis-32-27">He said to him, &#8220;What is your name?&#8221; He said, &#8220;Jacob.&#8221;</span>
  <span class="verse" title="Genesis 32:28" id="Genesis-32-28">He said, &#8220;Your name will no longer be called Jacob, but Israel; for you have fought with God and with men, and have prevailed.&#8221;</span>
  <span class="verse" title="Genesis 32:29" id="Genesis-32-29">Jacob asked him, &#8220;Please tell me your name.&#8221; He said, &#8220;Why is it that you ask what my name is?&#8221; He blessed him there.</span>
  <span class="verse" title="Genesis 32:30" id="Genesis-32-30">Jacob called the name of the place Peniel: for, he said, &#8220;I have seen God face to face, and my life is preserved.&#8221;</span>
  <span class="verse" title="Genesis 32:31" id="Genesis-32-31">The sun rose on him as he passed over Peniel, and he limped because of his thigh.</span>
  <span class="verse" title="Genesis 32:32" id="Genesis-32-32">Therefore the children of Israel don&#8217;t eat the sinew of the hip, which is on the hollow of the thigh, to this day, because he touched the hollow of Jacob&#8217;s thigh in the sinew of the hip.</span>
</div>