<div class="chapter" id="Genesis-033">
  <h2>Genesis 33</h2>
  <span class="verse" title="Genesis 33:1" id="Genesis-33-1">Jacob lifted up his eyes, and looked, and, behold, Esau was coming, and with him four hundred men. He divided the children between Leah, Rachel, and the two handmaids.</span>
  <span class="verse" title="Genesis 33:2" id="Genesis-33-2">He put the handmaids and their children in front, Leah and her children after, and Rachel and Joseph at the rear.</span>
  <span class="verse" title="Genesis 33:3" id="Genesis-33-3">He himself passed over in front of them, and bowed himself to the ground seven times, until he came near to his brother.</span>
  <span class="verse" title="Genesis 33:4" id="Genesis-33-4">Esau ran to meet him, embraced him, fell on his neck, kissed him, and they wept.</span>
  <span class="verse" title="Genesis 33:5" id="Genesis-33-5">He lifted up his eyes, and saw the women and the children; and said, &#8220;Who are these with you?&#8221; He said, &#8220;The children whom God has graciously given your servant.&#8221;</span>
  <span class="verse" title="Genesis 33:6" id="Genesis-33-6">Then the handmaids came near with their children, and they bowed themselves.</span>
  <span class="verse" title="Genesis 33:7" id="Genesis-33-7">Leah also and her children came near, and bowed themselves. After them, Joseph came near with Rachel, and they bowed themselves.</span>
  <span class="verse" title="Genesis 33:8" id="Genesis-33-8">Esau said, &#8220;What do you mean by all this company which I met?&#8221; Jacob said, &#8220;To find favor in the sight of my lord.&#8221;</span>
  <span class="verse" title="Genesis 33:9" id="Genesis-33-9">Esau said, &#8220;I have enough, my brother; let that which you have be yours.&#8221;</span>
  <span class="verse" title="Genesis 33:10" id="Genesis-33-10">Jacob said, &#8220;Please, no, if I have now found favor in your sight, then receive my present at my hand, because I have seen your face, as one sees the face of God, and you were pleased with me.</span>
  <span class="verse" title="Genesis 33:11" id="Genesis-33-11">Please take the gift that I brought to you, because God has dealt graciously with me, and because I have enough.&#8221; He urged him, and he took it.</span>
  <span class="verse" title="Genesis 33:12" id="Genesis-33-12">Esau said, &#8220;Let us take our journey, and let us go, and I will go before you.&#8221;</span>
  <span class="verse" title="Genesis 33:13" id="Genesis-33-13">Jacob said to him, &#8220;My lord knows that the children are tender, and that the flocks and herds with me have their young, and if they overdrive them one day, all the flocks will die.</span>
  <span class="verse" title="Genesis 33:14" id="Genesis-33-14">Please let my lord pass over before his servant, and I will lead on gently, according to the pace of the livestock that are before me and according to the pace of the children, until I come to my lord to Seir.&#8221;</span>
  <span class="verse" title="Genesis 33:15" id="Genesis-33-15">Esau said, &#8220;Let me now leave with you some of the folk who are with me.&#8221; He said, &#8220;Why? Let me find favor in the sight of my lord.&#8221;</span>
  <span class="verse" title="Genesis 33:16" id="Genesis-33-16">So Esau returned that day on his way to Seir.</span>
  <span class="verse" title="Genesis 33:17" id="Genesis-33-17">Jacob traveled to Succoth, built himself a house, and made shelters for his livestock. Therefore the name of the place is called Succoth.</span>
  <span class="verse" title="Genesis 33:18" id="Genesis-33-18">Jacob came in peace to the city of Shechem, which is in the land of Canaan, when he came from Paddan Aram; and encamped before the city.</span>
  <span class="verse" title="Genesis 33:19" id="Genesis-33-19">He bought the parcel of ground where he had spread his tent, at the hand of the children of Hamor, Shechem&#8217;s father, for one hundred pieces of money.</span>
  <span class="verse" title="Genesis 33:20" id="Genesis-33-20">He erected an altar there, and called it El Elohe Israel.</span>
</div>