<div class="chapter" id="Genesis-034">
  <h2>Genesis 34</h2>
  <span class="verse" title="Genesis 34:1" id="Genesis-34-1">Dinah, the daughter of Leah, whom she bore to Jacob, went out to see the daughters of the land.</span>
  <span class="verse" title="Genesis 34:2" id="Genesis-34-2">Shechem the son of Hamor the Hivite, the prince of the land, saw her. He took her, lay with her, and humbled her.</span>
  <span class="verse" title="Genesis 34:3" id="Genesis-34-3">His soul joined to Dinah, the daughter of Jacob, and he loved the young lady, and spoke kindly to the young lady.</span>
  <span class="verse" title="Genesis 34:4" id="Genesis-34-4">Shechem spoke to his father, Hamor, saying, &#8220;Get me this young lady as a wife.&#8221;</span>
  <span class="verse" title="Genesis 34:5" id="Genesis-34-5">Now Jacob heard that he had defiled Dinah, his daughter; and his sons were with his livestock in the field. Jacob held his peace until they came.</span>
  <span class="verse" title="Genesis 34:6" id="Genesis-34-6">Hamor the father of Shechem went out to Jacob to talk with him.</span>
  <span class="verse" title="Genesis 34:7" id="Genesis-34-7">The sons of Jacob came in from the field when they heard it. The men were grieved, and they were very angry, because he had done folly in Israel in lying with Jacob&#8217;s daughter; a which thing ought not to be done.</span>
  <span class="verse" title="Genesis 34:8" id="Genesis-34-8">Hamor talked with them, saying, &#8220;The soul of my son, Shechem, longs for your daughter. Please give her to him as a wife.</span>
  <span class="verse" title="Genesis 34:9" id="Genesis-34-9">Make marriages with us. Give your daughters to us, and take our daughters for yourselves.</span>
  <span class="verse" title="Genesis 34:10" id="Genesis-34-10">You shall dwell with us, and the land will be before you. Live and trade in it, and get possessions in it.&#8221;</span>
  <span class="verse" title="Genesis 34:11" id="Genesis-34-11">Shechem said to her father and to her brothers, &#8220;Let me find favor in your eyes, and whatever you will tell me I will give.</span>
  <span class="verse" title="Genesis 34:12" id="Genesis-34-12">Ask me a great amount for a dowry, and I will give whatever you ask of me, but give me the young lady as a wife.&#8221;</span>
  <span class="verse" title="Genesis 34:13" id="Genesis-34-13">The sons of Jacob answered Shechem and Hamor his father with deceit, and spoke, because he had defiled Dinah their sister,</span>
  <span class="verse" title="Genesis 34:14" id="Genesis-34-14">and said to them, &#8220;We can&#8217;t do this thing, to give our sister to one who is uncircumcised; for that is a reproach to us.</span>
  <span class="verse" title="Genesis 34:15" id="Genesis-34-15">Only on this condition will we consent to you. If you will be as we are, that every male of you be circumcised;</span>
  <span class="verse" title="Genesis 34:16" id="Genesis-34-16">then will we give our daughters to you, and we will take your daughters to us, and we will dwell with you, and we will become one people.</span>
  <span class="verse" title="Genesis 34:17" id="Genesis-34-17">But if you will not listen to us, to be circumcised, then we will take our sister, and we will be gone.&#8221;</span>
  <span class="verse" title="Genesis 34:18" id="Genesis-34-18">Their words pleased Hamor and Shechem, Hamor&#8217;s son.</span>
  <span class="verse" title="Genesis 34:19" id="Genesis-34-19">The young man didn&#8217;t wait to do this thing, because he had delight in Jacob&#8217;s daughter, and he was honored above all the house of his father.</span>
  <span class="verse" title="Genesis 34:20" id="Genesis-34-20">Hamor and Shechem, his son, came to the gate of their city, and talked with the men of their city, saying,</span>
  <span class="verse" title="Genesis 34:21" id="Genesis-34-21">&#8220;These men are peaceful with us. Therefore let them live in the land and trade in it. For behold, the land is large enough for them. Let us take their daughters to us for wives, and let us give them our daughters.</span>
  <span class="verse" title="Genesis 34:22" id="Genesis-34-22">Only on this condition will the men consent to us to live with us, to become one people, if every male among us is circumcised, as they are circumcised.</span>
  <span class="verse" title="Genesis 34:23" id="Genesis-34-23">Won&#8217;t their livestock and their possessions and all their animals be ours? Only let us give our consent to them, and they will dwell with us.&#8221;</span>
  <span class="verse" title="Genesis 34:24" id="Genesis-34-24">All who went out of the gate of his city listened to Hamor, and to Shechem his son; and every male was circumcised, all who went out of the gate of his city.</span>
  <span class="verse" title="Genesis 34:25" id="Genesis-34-25">It happened on the third day, when they were sore, that two of Jacob&#8217;s sons, Simeon and Levi, Dinah&#8217;s brothers, each took his sword, came upon the unsuspecting city, and killed all the males.</span>
  <span class="verse" title="Genesis 34:26" id="Genesis-34-26">They killed Hamor and Shechem, his son, with the edge of the sword, and took Dinah out of Shechem&#8217;s house, and went away.</span>
  <span class="verse" title="Genesis 34:27" id="Genesis-34-27">Jacob&#8217;s sons came on the dead, and plundered the city, because they had defiled their sister.</span>
  <span class="verse" title="Genesis 34:28" id="Genesis-34-28">They took their flocks, their herds, their donkeys, that which was in the city, that which was in the field,</span>
  <span class="verse" title="Genesis 34:29" id="Genesis-34-29">and all their wealth. They took captive all their little ones and their wives, and took as plunder everything that was in the house.</span>
  <span class="verse" title="Genesis 34:30" id="Genesis-34-30">Jacob said to Simeon and Levi, &#8220;You have troubled me, to make me odious to the inhabitants of the land, among the Canaanites and the Perizzites. I am few in number. They will gather themselves together against me and strike me, and I will be destroyed, I and my house.&#8221;</span>
  <span class="verse" title="Genesis 34:31" id="Genesis-34-31">They said, &#8220;Should he deal with our sister as with a prostitute?&#8221;</span>
</div>