<div class="chapter" id="Genesis-035">
  <h2>Genesis 35</h2>
  <span class="verse" title="Genesis 35:1" id="Genesis-35-1">God said to Jacob, &#8220;Arise, go up to Bethel, and live there. Make there an altar to God, who appeared to you when you fled from the face of Esau your brother.&#8221;</span>
  <span class="verse" title="Genesis 35:2" id="Genesis-35-2">Then Jacob said to his household, and to all who were with him, &#8220;Put away the foreign gods that are among you, purify yourselves, change your garments.</span>
  <span class="verse" title="Genesis 35:3" id="Genesis-35-3">Let us arise, and go up to Bethel. I will make there an altar to God, who answered me in the day of my distress, and was with me in the way which I went.&#8221;</span>
  <span class="verse" title="Genesis 35:4" id="Genesis-35-4">They gave to Jacob all the foreign gods which were in their hands, and the rings which were in their ears; and Jacob hid them under the oak which was by Shechem.</span>
  <span class="verse" title="Genesis 35:5" id="Genesis-35-5">They traveled, and a terror of God was on the cities that were around them, and they didn&#8217;t pursue the sons of Jacob.</span>
  <span class="verse" title="Genesis 35:6" id="Genesis-35-6">So Jacob came to Luz (that is, Bethel), which is in the land of Canaan, he and all the people who were with him.</span>
  <span class="verse" title="Genesis 35:7" id="Genesis-35-7">He built an altar there, and called the place El Beth El; because there God was revealed to him, when he fled from the face of his brother.</span>
  <span class="verse" title="Genesis 35:8" id="Genesis-35-8">Deborah, Rebekah&#8217;s nurse, died, and she was buried below Bethel under the oak; and its name was called Allon Bacuth.</span>
  <span class="verse" title="Genesis 35:9" id="Genesis-35-9">God appeared to Jacob again, when he came from Paddan Aram, and blessed him.</span>
  <span class="verse" title="Genesis 35:10" id="Genesis-35-10">God said to him, &#8220;Your name is Jacob. Your name shall not be Jacob any more, but your name will be Israel.&#8221; He named him Israel.</span>
  <span class="verse" title="Genesis 35:11" id="Genesis-35-11">God said to him, &#8220;I am God Almighty. Be fruitful and multiply. A nation and a company of nations will be from you, and kings will come out of your body.</span>
  <span class="verse" title="Genesis 35:12" id="Genesis-35-12">The land which I gave to Abraham and Isaac, I will give it to you, and to your seed after you will I give the land.&#8221;</span>
  <span class="verse" title="Genesis 35:13" id="Genesis-35-13">God went up from him in the place where he spoke with him.</span>
  <span class="verse" title="Genesis 35:14" id="Genesis-35-14">Jacob set up a pillar in the place where he spoke with him, a pillar of stone. He poured out a drink offering on it, and poured oil on it.</span>
  <span class="verse" title="Genesis 35:15" id="Genesis-35-15">Jacob called the name of the place where God spoke with him &#8220;Bethel.&#8221;</span>
  <span class="verse" title="Genesis 35:16" id="Genesis-35-16">They traveled from Bethel. There was still some distance to come to Ephrath, and Rachel travailed. She had hard labor.</span>
  <span class="verse" title="Genesis 35:17" id="Genesis-35-17">When she was in hard labor, the midwife said to her, &#8220;Don&#8217;t be afraid, for now you will have another son.&#8221;</span>
  <span class="verse" title="Genesis 35:18" id="Genesis-35-18">It happened, as her soul was departing (for she died), that she named him Benoni, but his father named him Benjamin.</span>
  <span class="verse" title="Genesis 35:19" id="Genesis-35-19">Rachel died, and was buried in the way to Ephrath (the same is Bethlehem).</span>
  <span class="verse" title="Genesis 35:20" id="Genesis-35-20">Jacob set up a pillar on her grave. The same is the Pillar of Rachel&#8217;s grave to this day.</span>
  <span class="verse" title="Genesis 35:21" id="Genesis-35-21">Israel traveled, and spread his tent beyond the tower of Eder.</span>
  <span class="verse" title="Genesis 35:22" id="Genesis-35-22">It happened, while Israel lived in that land, that Reuben went and lay with Bilhah, his father&#8217;s concubine, and Israel heard of it. Now the sons of Jacob were twelve.</span>
  <span class="verse" title="Genesis 35:23" id="Genesis-35-23">The sons of Leah: Reuben (Jacob&#8217;s firstborn), Simeon, Levi, Judah, Issachar, and Zebulun.</span>
  <span class="verse" title="Genesis 35:24" id="Genesis-35-24">The sons of Rachel: Joseph and Benjamin.</span>
  <span class="verse" title="Genesis 35:25" id="Genesis-35-25">The sons of Bilhah (Rachel&#8217;s handmaid): Dan and Naphtali.</span>
  <span class="verse" title="Genesis 35:26" id="Genesis-35-26">The sons of Zilpah (Leah&#8217;s handmaid): Gad and Asher. These are the sons of Jacob, who were born to him in Paddan Aram.</span>
  <span class="verse" title="Genesis 35:27" id="Genesis-35-27">Jacob came to Isaac his father, to Mamre, to Kiriath Arba (which is Hebron), where Abraham and Isaac lived as foreigners.</span>
  <span class="verse" title="Genesis 35:28" id="Genesis-35-28">The days of Isaac were one hundred eighty years.</span>
  <span class="verse" title="Genesis 35:29" id="Genesis-35-29">Isaac gave up the spirit, and died, and was gathered to his people, old and full of days. Esau and Jacob, his sons, buried him.</span>
</div>