<div class="chapter" id="Genesis-036">
  <h2>Genesis 36</h2>
  <span class="verse" title="Genesis 36:1" id="Genesis-36-1">Now this is the history of the generations of Esau (that is, Edom).</span>
  <span class="verse" title="Genesis 36:2" id="Genesis-36-2">Esau took his wives from the daughters of Canaan: Adah the daughter of Elon, the Hittite; and Oholibamah the daughter of Anah, the daughter of Zibeon, the Hivite;</span>
  <span class="verse" title="Genesis 36:3" id="Genesis-36-3">and Basemath, Ishmael&#8217;s daughter, sister of Nebaioth.</span>
  <span class="verse" title="Genesis 36:4" id="Genesis-36-4">Adah bore to Esau Eliphaz. Basemath bore Reuel.</span>
  <span class="verse" title="Genesis 36:5" id="Genesis-36-5">Oholibamah bore Jeush, Jalam, and Korah. These are the sons of Esau, who were born to him in the land of Canaan.</span>
  <span class="verse" title="Genesis 36:6" id="Genesis-36-6">Esau took his wives, his sons, his daughters, and all the members of his household, with his livestock, all his animals, and all his possessions, which he had gathered in the land of Canaan, and went into a land away from his brother Jacob.</span>
  <span class="verse" title="Genesis 36:7" id="Genesis-36-7">For their substance was too great for them to dwell together, and the land of their travels couldn&#8217;t bear them because of their livestock.</span>
  <span class="verse" title="Genesis 36:8" id="Genesis-36-8">Esau lived in the hill country of Seir. Esau is Edom.</span>
  <span class="verse" title="Genesis 36:9" id="Genesis-36-9">This is the history of the generations of Esau the father of the Edomites in the hill country of Seir:</span>
  <span class="verse" title="Genesis 36:10" id="Genesis-36-10">these are the names of Esau&#8217;s sons: Eliphaz, the son of Adah, the wife of Esau; and Reuel, the son of Basemath, the wife of Esau.</span>
  <span class="verse" title="Genesis 36:11" id="Genesis-36-11">The sons of Eliphaz were Teman, Omar, Zepho, and Gatam, and Kenaz.</span>
  <span class="verse" title="Genesis 36:12" id="Genesis-36-12">Timna was concubine to Eliphaz, Esau&#8217;s son; and she bore to Eliphaz Amalek. These are the sons of Adah, Esau&#8217;s wife.</span>
  <span class="verse" title="Genesis 36:13" id="Genesis-36-13">These are the sons of Reuel: Nahath, Zerah, Shammah, and Mizzah. These were the sons of Basemath, Esau&#8217;s wife.</span>
  <span class="verse" title="Genesis 36:14" id="Genesis-36-14">These were the sons of Oholibamah, the daughter of Anah, the daughter of Zibeon, Esau&#8217;s wife: she bore to Esau Jeush, Jalam, and Korah.</span>
  <span class="verse" title="Genesis 36:15" id="Genesis-36-15">These are the chiefs of the sons of Esau: the sons of Eliphaz the firstborn of Esau: chief Teman, chief Omar, chief Zepho, chief Kenaz,</span>
  <span class="verse" title="Genesis 36:16" id="Genesis-36-16">chief Korah, chief Gatam, chief Amalek: these are the chiefs who came of Eliphaz in the land of Edom; these are the sons of Adah.</span>
  <span class="verse" title="Genesis 36:17" id="Genesis-36-17">These are the sons of Reuel, Esau&#8217;s son: chief Nahath, chief Zerah, chief Shammah, chief Mizzah: these are the chiefs who came of Reuel in the land of Edom; these are the sons of Basemath, Esau&#8217;s wife.</span>
  <span class="verse" title="Genesis 36:18" id="Genesis-36-18">These are the sons of Oholibamah, Esau&#8217;s wife: chief Jeush, chief Jalam, chief Korah: these are the chiefs who came of Oholibamah the daughter of Anah, Esau&#8217;s wife.</span>
  <span class="verse" title="Genesis 36:19" id="Genesis-36-19">These are the sons of Esau (that is, Edom), and these are their chiefs.</span>
  <span class="verse" title="Genesis 36:20" id="Genesis-36-20">These are the sons of Seir the Horite, the inhabitants of the land: Lotan, Shobal, Zibeon, Anah,</span>
  <span class="verse" title="Genesis 36:21" id="Genesis-36-21">Dishon, Ezer, and Dishan. These are the chiefs who came of the Horites, the children of Seir in the land of Edom.</span>
  <span class="verse" title="Genesis 36:22" id="Genesis-36-22">The children of Lotan were Hori and Heman. Lotan&#8217;s sister was Timna.</span>
  <span class="verse" title="Genesis 36:23" id="Genesis-36-23">These are the children of Shobal: Alvan, Manahath, Ebal, Shepho, and Onam.</span>
  <span class="verse" title="Genesis 36:24" id="Genesis-36-24">These are the children of Zibeon: Aiah and Anah. This is Anah who found the hot springs in the wilderness, as he fed the donkeys of Zibeon his father.</span>
  <span class="verse" title="Genesis 36:25" id="Genesis-36-25">These are the children of Anah: Dishon and Oholibamah, the daughter of Anah.</span>
  <span class="verse" title="Genesis 36:26" id="Genesis-36-26">These are the children of Dishon: Hemdan, Eshban, Ithran, and Cheran.</span>
  <span class="verse" title="Genesis 36:27" id="Genesis-36-27">These are the children of Ezer: Bilhan, Zaavan, and Akan.</span>
  <span class="verse" title="Genesis 36:28" id="Genesis-36-28">These are the children of Dishan: Uz and Aran.</span>
  <span class="verse" title="Genesis 36:29" id="Genesis-36-29">These are the chiefs who came of the Horites: chief Lotan, chief Shobal, chief Zibeon, chief Anah,</span>
  <span class="verse" title="Genesis 36:30" id="Genesis-36-30">chief Dishon, chief Ezer, and chief Dishan: these are the chiefs who came of the Horites, according to their chiefs in the land of Seir.</span>
  <span class="verse" title="Genesis 36:31" id="Genesis-36-31">These are the kings who reigned in the land of Edom, before any king reigned over the children of Israel.</span>
  <span class="verse" title="Genesis 36:32" id="Genesis-36-32">Bela, the son of Beor, reigned in Edom. The name of his city was Dinhabah.</span>
  <span class="verse" title="Genesis 36:33" id="Genesis-36-33">Bela died, and Jobab, the son of Zerah of Bozrah, reigned in his place.</span>
  <span class="verse" title="Genesis 36:34" id="Genesis-36-34">Jobab died, and Husham of the land of the Temanites reigned in his place.</span>
  <span class="verse" title="Genesis 36:35" id="Genesis-36-35">Husham died, and Hadad, the son of Bedad, who struck Midian in the field of Moab, reigned in his place. The name of his city was Avith.</span>
  <span class="verse" title="Genesis 36:36" id="Genesis-36-36">Hadad died, and Samlah of Masrekah reigned in his place.</span>
  <span class="verse" title="Genesis 36:37" id="Genesis-36-37">Samlah died, and Shaul of Rehoboth by the river, reigned in his place.</span>
  <span class="verse" title="Genesis 36:38" id="Genesis-36-38">Shaul died, and Baal Hanan, the son of Achbor reigned in his place.</span>
  <span class="verse" title="Genesis 36:39" id="Genesis-36-39">Baal Hanan the son of Achbor died, and Hadar reigned in his place. The name of his city was Pau. His wife&#8217;s name was Mehetabel, the daughter of Matred, the daughter of Mezahab.</span>
  <span class="verse" title="Genesis 36:40" id="Genesis-36-40">These are the names of the chiefs who came from Esau, according to their families, after their places, and by their names: chief Timna, chief Alvah, chief Jetheth,</span>
  <span class="verse" title="Genesis 36:41" id="Genesis-36-41">chief Oholibamah, chief Elah, chief Pinon,</span>
  <span class="verse" title="Genesis 36:42" id="Genesis-36-42">chief Kenaz, chief Teman, chief Mibzar,</span>
  <span class="verse" title="Genesis 36:43" id="Genesis-36-43">chief Magdiel, and chief Iram. These are the chiefs of Edom, according to their habitations in the land of their possession. This is Esau, the father of the Edomites.</span>
</div>