<div class="chapter" id="Genesis-037">
  <h2>Genesis 37</h2>
  <span class="verse" title="Genesis 37:1" id="Genesis-37-1">Jacob lived in the land of his father&#8217;s travels, in the land of Canaan.</span>
  <span class="verse" title="Genesis 37:2" id="Genesis-37-2">This is the history of the generations of Jacob. Joseph, being seventeen years old, was feeding the flock with his brothers. He was a boy with the sons of Bilhah and Zilpah, his father&#8217;s wives. Joseph brought an evil report of them to their father.</span>
  <span class="verse" title="Genesis 37:3" id="Genesis-37-3">Now Israel loved Joseph more than all his children, because he was the son of his old age, and he made him a coat of many colors.</span>
  <span class="verse" title="Genesis 37:4" id="Genesis-37-4">His brothers saw that their father loved him more than all his brothers, and they hated him, and couldn&#8217;t speak peaceably to him.</span>
  <span class="verse" title="Genesis 37:5" id="Genesis-37-5">Joseph dreamed a dream, and he told it to his brothers, and they hated him all the more.</span>
  <span class="verse" title="Genesis 37:6" id="Genesis-37-6">He said to them, &#8220;Please hear this dream which I have dreamed:</span>
  <span class="verse" title="Genesis 37:7" id="Genesis-37-7">for behold, we were binding sheaves in the field, and behold, my sheaf arose and also stood upright; and behold, your sheaves came around, and bowed down to my sheaf.&#8221;</span>
  <span class="verse" title="Genesis 37:8" id="Genesis-37-8">His brothers said to him, &#8220;Will you indeed reign over us? Or will you indeed have dominion over us?&#8221; They hated him all the more for his dreams and for his words.</span>
  <span class="verse" title="Genesis 37:9" id="Genesis-37-9">He dreamed yet another dream, and told it to his brothers, and said, &#8220;Behold, I have dreamed yet another dream: and behold, the sun and the moon and eleven stars bowed down to me.&#8221;</span>
  <span class="verse" title="Genesis 37:10" id="Genesis-37-10">He told it to his father and to his brothers. His father rebuked him, and said to him, &#8220;What is this dream that you have dreamed? Will I and your mother and your brothers indeed come to bow ourselves down to you to the earth?&#8221;</span>
  <span class="verse" title="Genesis 37:11" id="Genesis-37-11">His brothers envied him, but his father kept this saying in mind.</span>
  <span class="verse" title="Genesis 37:12" id="Genesis-37-12">His brothers went to feed their father&#8217;s flock in Shechem.</span>
  <span class="verse" title="Genesis 37:13" id="Genesis-37-13">Israel said to Joseph, &#8220;Aren&#8217;t your brothers feeding the flock in Shechem? Come, and I will send you to them.&#8221; He said to him, &#8220;Here I am.&#8221;</span>
  <span class="verse" title="Genesis 37:14" id="Genesis-37-14">He said to him, &#8220;Go now, see whether it is well with your brothers, and well with the flock; and bring me word again.&#8221; So he sent him out of the valley of Hebron, and he came to Shechem.</span>
  <span class="verse" title="Genesis 37:15" id="Genesis-37-15">A certain man found him, and behold, he was wandering in the field. The man asked him, &#8220;What are you looking for?&#8221;</span>
  <span class="verse" title="Genesis 37:16" id="Genesis-37-16">He said, &#8220;I am looking for my brothers. Tell me, please, where they are feeding the flock.&#8221;</span>
  <span class="verse" title="Genesis 37:17" id="Genesis-37-17">The man said, &#8220;They have left here, for I heard them say, &#8216;Let us go to Dothan.&#8217;&#8221; Joseph went after his brothers, and found them in Dothan.</span>
  <span class="verse" title="Genesis 37:18" id="Genesis-37-18">They saw him afar off, and before he came near to them, they conspired against him to kill him.</span>
  <span class="verse" title="Genesis 37:19" id="Genesis-37-19">They said one to another, &#8220;Behold, this dreamer comes.</span>
  <span class="verse" title="Genesis 37:20" id="Genesis-37-20">Come now therefore, and let&#8217;s kill him, and cast him into one of the pits, and we will say, &#8216;An evil animal has devoured him.&#8217; We will see what will become of his dreams.&#8221;</span>
  <span class="verse" title="Genesis 37:21" id="Genesis-37-21">Reuben heard it, and delivered him out of their hand, and said, &#8220;Let&#8217;s not take his life.&#8221;</span>
  <span class="verse" title="Genesis 37:22" id="Genesis-37-22">Reuben said to them, &#8220;Shed no blood. Throw him into this pit that is in the wilderness, but lay no hand on him&#8221;—that he might deliver him out of their hand, to restore him to his father.</span>
  <span class="verse" title="Genesis 37:23" id="Genesis-37-23">It happened, when Joseph came to his brothers, that they stripped Joseph of his coat, the coat of many colors that was on him;</span>
  <span class="verse" title="Genesis 37:24" id="Genesis-37-24">and they took him, and threw him into the pit. The pit was empty. There was no water in it.</span>
  <span class="verse" title="Genesis 37:25" id="Genesis-37-25">They sat down to eat bread, and they lifted up their eyes and looked, and saw a caravan of Ishmaelites was coming from Gilead, with their camels bearing spices and balm and myrrh, going to carry it down to Egypt.</span>
  <span class="verse" title="Genesis 37:26" id="Genesis-37-26">Judah said to his brothers, &#8220;What profit is it if we kill our brother and conceal his blood?</span>
  <span class="verse" title="Genesis 37:27" id="Genesis-37-27">Come, and let&#8217;s sell him to the Ishmaelites, and not let our hand be on him; for he is our brother, our flesh.&#8221; His brothers listened to him.</span>
  <span class="verse" title="Genesis 37:28" id="Genesis-37-28">Midianites who were merchants passed by, and they drew and lifted up Joseph out of the pit, and sold Joseph to the Ishmaelites for twenty pieces of silver. They brought Joseph into Egypt.</span>
  <span class="verse" title="Genesis 37:29" id="Genesis-37-29">Reuben returned to the pit; and saw that Joseph wasn&#8217;t in the pit; and he tore his clothes.</span>
  <span class="verse" title="Genesis 37:30" id="Genesis-37-30">He returned to his brothers, and said, &#8220;The child is no more; and I, where will I go?&#8221;</span>
  <span class="verse" title="Genesis 37:31" id="Genesis-37-31">They took Joseph&#8217;s coat, and killed a male goat, and dipped the coat in the blood.</span>
  <span class="verse" title="Genesis 37:32" id="Genesis-37-32">They took the coat of many colors, and they brought it to their father, and said, &#8220;We have found this. Examine it, now, whether it is your son&#8217;s coat or not.&#8221;</span>
  <span class="verse" title="Genesis 37:33" id="Genesis-37-33">He recognized it, and said, &#8220;It is my son&#8217;s coat. An evil animal has devoured him. Joseph is without doubt torn in pieces.&#8221;</span>
  <span class="verse" title="Genesis 37:34" id="Genesis-37-34">Jacob tore his clothes, and put sackcloth on his waist, and mourned for his son many days.</span>
  <span class="verse" title="Genesis 37:35" id="Genesis-37-35">All his sons and all his daughters rose up to comfort him, but he refused to be comforted. He said, &#8220;For I will go down to Sheol to my son mourning.&#8221; His father wept for him.</span>
  <span class="verse" title="Genesis 37:36" id="Genesis-37-36">The Midianites sold him into Egypt to Potiphar, an officer of Pharaoh&#8217;s, the captain of the guard.</span>
</div>