<div class="chapter" id="Genesis-038">
  <h2>Genesis 38</h2>
  <span class="verse" title="Genesis 38:1" id="Genesis-38-1">It happened at that time, that Judah went down from his brothers, and visited a certain Adullamite, whose name was Hirah.</span>
  <span class="verse" title="Genesis 38:2" id="Genesis-38-2">Judah saw there a daughter of a certain Canaanite whose name was Shua. He took her, and went in to her.</span>
  <span class="verse" title="Genesis 38:3" id="Genesis-38-3">She conceived, and bore a son; and he named him Er.</span>
  <span class="verse" title="Genesis 38:4" id="Genesis-38-4">She conceived again, and bore a son; and she named him Onan.</span>
  <span class="verse" title="Genesis 38:5" id="Genesis-38-5">She yet again bore a son, and named him Shelah: and he was at Chezib, when she bore him.</span>
  <span class="verse" title="Genesis 38:6" id="Genesis-38-6">Judah took a wife for Er, his firstborn, and her name was Tamar.</span>
  <span class="verse" title="Genesis 38:7" id="Genesis-38-7">Er, Judah&#8217;s firstborn, was wicked in the sight of Yahweh. Yahweh killed him.</span>
  <span class="verse" title="Genesis 38:8" id="Genesis-38-8">Judah said to Onan, &#8220;Go in to your brother&#8217;s wife, and perform the duty of a husband&#8217;s brother to her, and raise up seed to your brother.&#8221;</span>
  <span class="verse" title="Genesis 38:9" id="Genesis-38-9">Onan knew that the seed wouldn&#8217;t be his; and it happened, when he went in to his brother&#8217;s wife, that he spilled it on the ground, lest he should give seed to his brother.</span>
  <span class="verse" title="Genesis 38:10" id="Genesis-38-10">The thing which he did was evil in the sight of Yahweh, and he killed him also.</span>
  <span class="verse" title="Genesis 38:11" id="Genesis-38-11">Then Judah said to Tamar, his daughter-in-law, &#8220;Remain a widow in your father&#8217;s house, until Shelah, my son, is grown up;&#8221; for he said, &#8220;Lest he also die, like his brothers.&#8221; Tamar went and lived in her father&#8217;s house.</span>
  <span class="verse" title="Genesis 38:12" id="Genesis-38-12">After many days, Shua&#8217;s daughter, the wife of Judah, died. Judah was comforted, and went up to his sheepshearers to Timnah, he and his friend Hirah, the Adullamite.</span>
  <span class="verse" title="Genesis 38:13" id="Genesis-38-13">It was told Tamar, saying, &#8220;Behold, your father-in-law is going up to Timnah to shear his sheep.&#8221;</span>
  <span class="verse" title="Genesis 38:14" id="Genesis-38-14">She took off of her the garments of her widowhood, and covered herself with her veil, and wrapped herself, and sat in the gate of Enaim, which is by the way to Timnah; for she saw that Shelah was grown up, and she wasn&#8217;t given to him as a wife.</span>
  <span class="verse" title="Genesis 38:15" id="Genesis-38-15">When Judah saw her, he thought that she was a prostitute, for she had covered her face.</span>
  <span class="verse" title="Genesis 38:16" id="Genesis-38-16">He turned to her by the way, and said, &#8220;Please come, let me come in to you,&#8221; for he didn&#8217;t know that she was his daughter-in-law. She said, &#8220;What will you give me, that you may come in to me?&#8221;</span>
  <span class="verse" title="Genesis 38:17" id="Genesis-38-17">He said, &#8220;I will send you a young goat from the flock.&#8221; She said, &#8220;Will you give me a pledge, until you send it?&#8221;</span>
  <span class="verse" title="Genesis 38:18" id="Genesis-38-18">He said, &#8220;What pledge will I give you?&#8221; She said, &#8220;Your signet and your cord, and your staff that is in your hand.&#8221; He gave them to her, and came in to her, and she conceived by him.</span>
  <span class="verse" title="Genesis 38:19" id="Genesis-38-19">She arose, and went away, and put off her veil from her, and put on the garments of her widowhood.</span>
  <span class="verse" title="Genesis 38:20" id="Genesis-38-20">Judah sent the young goat by the hand of his friend, the Adullamite, to receive the pledge from the woman&#8217;s hand, but he didn&#8217;t find her.</span>
  <span class="verse" title="Genesis 38:21" id="Genesis-38-21">Then he asked the men of her place, saying, &#8220;Where is the prostitute, that was at Enaim by the road?&#8221; They said, &#8220;There has been no prostitute here.&#8221;</span>
  <span class="verse" title="Genesis 38:22" id="Genesis-38-22">He returned to Judah, and said, &#8220;I haven&#8217;t found her; and also the men of the place said, &#8216;There has been no prostitute here.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 38:23" id="Genesis-38-23">Judah said, &#8220;Let her keep it, lest we be shamed. Behold, I sent this young goat, and you haven&#8217;t found her.&#8221;</span>
  <span class="verse" title="Genesis 38:24" id="Genesis-38-24">It happened about three months later, that it was told Judah, saying, &#8220;Tamar, your daughter-in-law, has played the prostitute; and moreover, behold, she is with child by prostitution.&#8221; Judah said, &#8220;Bring her out, and let her be burnt.&#8221;</span>
  <span class="verse" title="Genesis 38:25" id="Genesis-38-25">When she was brought out, she sent to her father-in-law, saying, &#8220;By the man, whose these are, I am with child.&#8221; She also said, &#8220;Please discern whose are these—the signet, and the cords, and the staff.&#8221;</span>
  <span class="verse" title="Genesis 38:26" id="Genesis-38-26">Judah acknowledged them, and said, &#8220;She is more righteous than I, because I didn&#8217;t give her to Shelah, my son.&#8221; He knew her again no more.</span>
  <span class="verse" title="Genesis 38:27" id="Genesis-38-27">It happened in the time of her travail, that behold, twins were in her womb.</span>
  <span class="verse" title="Genesis 38:28" id="Genesis-38-28">When she travailed, one put out a hand, and the midwife took and tied a scarlet thread on his hand, saying, &#8220;This came out first.&#8221;</span>
  <span class="verse" title="Genesis 38:29" id="Genesis-38-29">It happened, as he drew back his hand, that behold, his brother came out, and she said, &#8220;Why have you made a breach for yourself?&#8221; Therefore his name was called Perez.</span>
  <span class="verse" title="Genesis 38:30" id="Genesis-38-30">Afterward his brother came out, that had the scarlet thread on his hand, and his name was called Zerah.</span>
</div>