<div class="chapter" id="Genesis-039">
  <h2>Genesis 39</h2>
  <span class="verse" title="Genesis 39:1" id="Genesis-39-1">Joseph was brought down to Egypt. Potiphar, an officer of Pharaoh&#8217;s, the captain of the guard, an Egyptian, bought him from the hand of the Ishmaelites that had brought him down there.</span>
  <span class="verse" title="Genesis 39:2" id="Genesis-39-2">Yahweh was with Joseph, and he was a prosperous man. He was in the house of his master the Egyptian.</span>
  <span class="verse" title="Genesis 39:3" id="Genesis-39-3">His master saw that Yahweh was with him, and that Yahweh made all that he did prosper in his hand.</span>
  <span class="verse" title="Genesis 39:4" id="Genesis-39-4">Joseph found favor in his sight. He ministered to him, and he made him overseer over his house, and all that he had he put into his hand.</span>
  <span class="verse" title="Genesis 39:5" id="Genesis-39-5">It happened from the time that he made him overseer in his house, and over all that he had, that Yahweh blessed the Egyptian&#8217;s house for Joseph&#8217;s sake; and the blessing of Yahweh was on all that he had, in the house and in the field.</span>
  <span class="verse" title="Genesis 39:6" id="Genesis-39-6">He left all that he had in Joseph&#8217;s hand. He didn&#8217;t concern himself with anything, except for the food which he ate. Joseph was well-built and handsome.</span>
  <span class="verse" title="Genesis 39:7" id="Genesis-39-7">It happened after these things, that his master&#8217;s wife cast her eyes on Joseph; and she said, &#8220;Lie with me.&#8221;</span>
  <span class="verse" title="Genesis 39:8" id="Genesis-39-8">But he refused, and said to his master&#8217;s wife, &#8220;Behold, my master doesn&#8217;t know what is with me in the house, and he has put all that he has into my hand.</span>
  <span class="verse" title="Genesis 39:9" id="Genesis-39-9">He isn&#8217;t greater in this house than I, neither has he kept back anything from me but you, because you are his wife. How then can I do this great wickedness, and sin against God?&#8221;</span>
  <span class="verse" title="Genesis 39:10" id="Genesis-39-10">As she spoke to Joseph day by day, he didn&#8217;t listen to her, to lie by her, or to be with her.</span>
  <span class="verse" title="Genesis 39:11" id="Genesis-39-11">About this time, he went into the house to do his work, and there were none of the men of the house inside.</span>
  <span class="verse" title="Genesis 39:12" id="Genesis-39-12">She caught him by his garment, saying, &#8220;Lie with me!&#8221; He left his garment in her hand, and ran outside.</span>
  <span class="verse" title="Genesis 39:13" id="Genesis-39-13">When she saw that he had left his garment in her hand, and had run outside,</span>
  <span class="verse" title="Genesis 39:14" id="Genesis-39-14">she called to the men of her house, and spoke to them, saying, &#8220;Behold, he has brought in a Hebrew to us to mock us. He came in to me to lie with me, and I cried with a loud voice.</span>
  <span class="verse" title="Genesis 39:15" id="Genesis-39-15">It happened, when he heard that I lifted up my voice and cried, that he left his garment by me, and ran outside.&#8221;</span>
  <span class="verse" title="Genesis 39:16" id="Genesis-39-16">She laid up his garment by her, until his master came home.</span>
  <span class="verse" title="Genesis 39:17" id="Genesis-39-17">She spoke to him according to these words, saying, &#8220;The Hebrew servant, whom you have brought to us, came in to me to mock me,</span>
  <span class="verse" title="Genesis 39:18" id="Genesis-39-18">and it happened, as I lifted up my voice and cried, that he left his garment by me, and ran outside.&#8221;</span>
  <span class="verse" title="Genesis 39:19" id="Genesis-39-19">It happened, when his master heard the words of his wife, which she spoke to him, saying, &#8220;This is what your servant did to me,&#8221; that his wrath was kindled.</span>
  <span class="verse" title="Genesis 39:20" id="Genesis-39-20">Joseph&#8217;s master took him, and put him into the prison, the place where the king&#8217;s prisoners were bound, and he was there in custody.</span>
  <span class="verse" title="Genesis 39:21" id="Genesis-39-21">But Yahweh was with Joseph, and showed kindness to him, and gave him favor in the sight of the keeper of the prison.</span>
  <span class="verse" title="Genesis 39:22" id="Genesis-39-22">The keeper of the prison committed to Joseph&#8217;s hand all the prisoners who were in the prison. Whatever they did there, he was responsible for it.</span>
  <span class="verse" title="Genesis 39:23" id="Genesis-39-23">The keeper of the prison didn&#8217;t look after anything that was under his hand, because Yahweh was with him; and that which he did, Yahweh made it prosper.</span>
</div>