<div class="chapter" id="Genesis-040">
  <h2>Genesis 40</h2>
  <span class="verse" title="Genesis 40:1" id="Genesis-40-1">It happened after these things, that the butler of the king of Egypt and his baker offended their lord, the king of Egypt.</span>
  <span class="verse" title="Genesis 40:2" id="Genesis-40-2">Pharaoh was angry with his two officers, the chief cupbearer and the chief baker.</span>
  <span class="verse" title="Genesis 40:3" id="Genesis-40-3">He put them in custody in the house of the captain of the guard, into the prison, the place where Joseph was bound.</span>
  <span class="verse" title="Genesis 40:4" id="Genesis-40-4">The captain of the guard assigned them to Joseph, and he took care of them. They stayed in prison many days.</span>
  <span class="verse" title="Genesis 40:5" id="Genesis-40-5">They both dreamed a dream, each man his dream, in one night, each man according to the interpretation of his dream, the cupbearer and the baker of the king of Egypt, who were bound in the prison.</span>
  <span class="verse" title="Genesis 40:6" id="Genesis-40-6">Joseph came in to them in the morning, and saw them, and saw that they were sad.</span>
  <span class="verse" title="Genesis 40:7" id="Genesis-40-7">He asked Pharaoh&#8217;s officers who were with him in custody in his master&#8217;s house, saying, &#8220;Why do you look so sad today?&#8221;</span>
  <span class="verse" title="Genesis 40:8" id="Genesis-40-8">They said to him, &#8220;We have dreamed a dream, and there is no one who can interpret it.&#8221; Joseph said to them, &#8220;Don&#8217;t interpretations belong to God? Please tell it to me.&#8221;</span>
  <span class="verse" title="Genesis 40:9" id="Genesis-40-9">The chief cupbearer told his dream to Joseph, and said to him, &#8220;In my dream, behold, a vine was in front of me,</span>
  <span class="verse" title="Genesis 40:10" id="Genesis-40-10">and in the vine were three branches. It was as though it budded, it blossomed, and its clusters produced ripe grapes.</span>
  <span class="verse" title="Genesis 40:11" id="Genesis-40-11">Pharaoh&#8217;s cup was in my hand; and I took the grapes, and pressed them into Pharaoh&#8217;s cup, and I gave the cup into Pharaoh&#8217;s hand.&#8221;</span>
  <span class="verse" title="Genesis 40:12" id="Genesis-40-12">Joseph said to him, &#8220;This is its interpretation: the three branches are three days.</span>
  <span class="verse" title="Genesis 40:13" id="Genesis-40-13">Within three more days, Pharaoh will lift up your head, and restore you to your office. You will give Pharaoh&#8217;s cup into his hand, the way you did when you were his cupbearer.</span>
  <span class="verse" title="Genesis 40:14" id="Genesis-40-14">But remember me when it will be well with you, and please show kindness to me, and make mention of me to Pharaoh, and bring me out of this house.</span>
  <span class="verse" title="Genesis 40:15" id="Genesis-40-15">For indeed, I was stolen away out of the land of the Hebrews, and here also have I done nothing that they should put me into the dungeon.&#8221;</span>
  <span class="verse" title="Genesis 40:16" id="Genesis-40-16">When the chief baker saw that the interpretation was good, he said to Joseph, &#8220;I also was in my dream, and behold, three baskets of white bread were on my head.</span>
  <span class="verse" title="Genesis 40:17" id="Genesis-40-17">In the uppermost basket there was all kinds of baked food for Pharaoh, and the birds ate them out of the basket on my head.&#8221;</span>
  <span class="verse" title="Genesis 40:18" id="Genesis-40-18">Joseph answered, &#8220;This is its interpretation. The three baskets are three days.</span>
  <span class="verse" title="Genesis 40:19" id="Genesis-40-19">Within three more days, Pharaoh will lift up your head from off you, and will hang you on a tree; and the birds will eat your flesh from off you.&#8221;</span>
  <span class="verse" title="Genesis 40:20" id="Genesis-40-20">It happened the third day, which was Pharaoh&#8217;s birthday, that he made a feast for all his servants, and he lifted up the head of the chief cupbearer and the head of the chief baker among his servants.</span>
  <span class="verse" title="Genesis 40:21" id="Genesis-40-21">He restored the chief cupbearer to his position again, and he gave the cup into Pharaoh&#8217;s hand;</span>
  <span class="verse" title="Genesis 40:22" id="Genesis-40-22">but he hanged the chief baker, as Joseph had interpreted to them.</span>
  <span class="verse" title="Genesis 40:23" id="Genesis-40-23">Yet the chief cupbearer didn&#8217;t remember Joseph, but forgot him.</span>
</div>