<div class="chapter" id="Genesis-041">
  <h2>Genesis 41</h2>
  <span class="verse" title="Genesis 41:1" id="Genesis-41-1">It happened at the end of two full years, that Pharaoh dreamed: and behold, he stood by the river.</span>
  <span class="verse" title="Genesis 41:2" id="Genesis-41-2">Behold, there came up out of the river seven cattle, sleek and fat, and they fed in the marsh grass.</span>
  <span class="verse" title="Genesis 41:3" id="Genesis-41-3">Behold, seven other cattle came up after them out of the river, ugly and thin, and stood by the other cattle on the brink of the river.</span>
  <span class="verse" title="Genesis 41:4" id="Genesis-41-4">The ugly and thin cattle ate up the seven sleek and fat cattle. So Pharaoh awoke.</span>
  <span class="verse" title="Genesis 41:5" id="Genesis-41-5">He slept and dreamed a second time: and behold, seven heads of grain came up on one stalk, healthy and good.</span>
  <span class="verse" title="Genesis 41:6" id="Genesis-41-6">Behold, seven heads of grain, thin and blasted with the east wind, sprung up after them.</span>
  <span class="verse" title="Genesis 41:7" id="Genesis-41-7">The thin heads of grain swallowed up the seven healthy and full ears. Pharaoh awoke, and behold, it was a dream.</span>
  <span class="verse" title="Genesis 41:8" id="Genesis-41-8">It happened in the morning that his spirit was troubled, and he sent and called for all of Egypt&#8217;s magicians and wise men. Pharaoh told them his dreams, but there was no one who could interpret them to Pharaoh.</span>
  <span class="verse" title="Genesis 41:9" id="Genesis-41-9">Then the chief cupbearer spoke to Pharaoh, saying, &#8220;I remember my faults today.</span>
  <span class="verse" title="Genesis 41:10" id="Genesis-41-10">Pharaoh was angry with his servants, and put me in custody in the house of the captain of the guard, me and the chief baker.</span>
  <span class="verse" title="Genesis 41:11" id="Genesis-41-11">We dreamed a dream in one night, I and he. We dreamed each man according to the interpretation of his dream.</span>
  <span class="verse" title="Genesis 41:12" id="Genesis-41-12">There was with us there a young man, a Hebrew, servant to the captain of the guard, and we told him, and he interpreted to us our dreams. To each man according to his dream he interpreted.</span>
  <span class="verse" title="Genesis 41:13" id="Genesis-41-13">It happened, as he interpreted to us, so it was: he restored me to my office, and he hanged him.&#8221;</span>
  <span class="verse" title="Genesis 41:14" id="Genesis-41-14">Then Pharaoh sent and called Joseph, and they brought him hastily out of the dungeon. He shaved himself, changed his clothing, and came in to Pharaoh.</span>
  <span class="verse" title="Genesis 41:15" id="Genesis-41-15">Pharaoh said to Joseph, &#8220;I have dreamed a dream, and there is no one who can interpret it. I have heard it said of you, that when you hear a dream you can interpret it.&#8221;</span>
  <span class="verse" title="Genesis 41:16" id="Genesis-41-16">Joseph answered Pharaoh, saying, &#8220;It isn&#8217;t in me. God will give Pharaoh an answer of peace.&#8221;</span>
  <span class="verse" title="Genesis 41:17" id="Genesis-41-17">Pharaoh spoke to Joseph, &#8220;In my dream, behold, I stood on the brink of the river:</span>
  <span class="verse" title="Genesis 41:18" id="Genesis-41-18">and behold, there came up out of the river seven cattle, fat and sleek. They fed in the marsh grass,</span>
  <span class="verse" title="Genesis 41:19" id="Genesis-41-19">and behold, seven other cattle came up after them, poor and very ugly and thin, such as I never saw in all the land of Egypt for ugliness.</span>
  <span class="verse" title="Genesis 41:20" id="Genesis-41-20">The thin and ugly cattle ate up the first seven fat cattle,</span>
  <span class="verse" title="Genesis 41:21" id="Genesis-41-21">and when they had eaten them up, it couldn&#8217;t be known that they had eaten them, but they were still ugly, as at the beginning. So I awoke.</span>
  <span class="verse" title="Genesis 41:22" id="Genesis-41-22">I saw in my dream, and behold, seven heads of grain came up on one stalk, full and good:</span>
  <span class="verse" title="Genesis 41:23" id="Genesis-41-23">and behold, seven heads of grain, withered, thin, and blasted with the east wind, sprung up after them.</span>
  <span class="verse" title="Genesis 41:24" id="Genesis-41-24">The thin heads of grain swallowed up the seven good heads of grain. I told it to the magicians, but there was no one who could explain it to me.&#8221;</span>
  <span class="verse" title="Genesis 41:25" id="Genesis-41-25">Joseph said to Pharaoh, &#8220;The dream of Pharaoh is one. What God is about to do he has declared to Pharaoh.</span>
  <span class="verse" title="Genesis 41:26" id="Genesis-41-26">The seven good cattle are seven years; and the seven good heads of grain are seven years. The dream is one.</span>
  <span class="verse" title="Genesis 41:27" id="Genesis-41-27">The seven thin and ugly cattle that came up after them are seven years, and also the seven empty heads of grain blasted with the east wind; they will be seven years of famine.</span>
  <span class="verse" title="Genesis 41:28" id="Genesis-41-28">That is the thing which I spoke to Pharaoh. What God is about to do he has shown to Pharaoh.</span>
  <span class="verse" title="Genesis 41:29" id="Genesis-41-29">Behold, there come seven years of great plenty throughout all the land of Egypt.</span>
  <span class="verse" title="Genesis 41:30" id="Genesis-41-30">There will arise after them seven years of famine, and all the plenty will be forgotten in the land of Egypt. The famine will consume the land,</span>
  <span class="verse" title="Genesis 41:31" id="Genesis-41-31">and the plenty will not be known in the land by reason of that famine which follows; for it will be very grievous.</span>
  <span class="verse" title="Genesis 41:32" id="Genesis-41-32">The dream was doubled to Pharaoh, because the thing is established by God, and God will shortly bring it to pass.</span>
  <span class="verse" title="Genesis 41:33" id="Genesis-41-33">&#8220;Now therefore let Pharaoh look for a discreet and wise man, and set him over the land of Egypt.</span>
  <span class="verse" title="Genesis 41:34" id="Genesis-41-34">Let Pharaoh do this, and let him appoint overseers over the land, and take up the fifth part of the land of Egypt&#8217;s produce in the seven plenteous years.</span>
  <span class="verse" title="Genesis 41:35" id="Genesis-41-35">Let them gather all the food of these good years that come, and lay up grain under the hand of Pharaoh for food in the cities, and let them keep it.</span>
  <span class="verse" title="Genesis 41:36" id="Genesis-41-36">The food will be for a store to the land against the seven years of famine, which will be in the land of Egypt; that the land not perish through the famine.&#8221;</span>
  <span class="verse" title="Genesis 41:37" id="Genesis-41-37">The thing was good in the eyes of Pharaoh, and in the eyes of all his servants.</span>
  <span class="verse" title="Genesis 41:38" id="Genesis-41-38">Pharaoh said to his servants, &#8220;Can we find such a one as this, a man in whom is the Spirit of God?&#8221;</span>
  <span class="verse" title="Genesis 41:39" id="Genesis-41-39">Pharaoh said to Joseph, &#8220;Because God has shown you all of this, there is none so discreet and wise as you.</span>
  <span class="verse" title="Genesis 41:40" id="Genesis-41-40">You shall be over my house, and according to your word will all my people be ruled. Only in the throne I will be greater than you.&#8221;</span>
  <span class="verse" title="Genesis 41:41" id="Genesis-41-41">Pharaoh said to Joseph, &#8220;Behold, I have set you over all the land of Egypt.&#8221;</span>
  <span class="verse" title="Genesis 41:42" id="Genesis-41-42">Pharaoh took off his signet ring from his hand, and put it on Joseph&#8217;s hand, and arrayed him in robes of fine linen, and put a gold chain about his neck,</span>
  <span class="verse" title="Genesis 41:43" id="Genesis-41-43">and he made him to ride in the second chariot which he had. They cried before him, &#8220;Bow the knee!&#8221; He set him over all the land of Egypt.</span>
  <span class="verse" title="Genesis 41:44" id="Genesis-41-44">Pharaoh said to Joseph, &#8220;I am Pharaoh, and without you shall no man lift up his hand or his foot in all the land of Egypt.&#8221;</span>
  <span class="verse" title="Genesis 41:45" id="Genesis-41-45">Pharaoh called Joseph&#8217;s name Zaphenath-Paneah; and he gave him Asenath, the daughter of Potiphera priest of On as a wife. Joseph went out over the land of Egypt.</span>
  <span class="verse" title="Genesis 41:46" id="Genesis-41-46">Joseph was thirty years old when he stood before Pharaoh king of Egypt. Joseph went out from the presence of Pharaoh, and went throughout all the land of Egypt.</span>
  <span class="verse" title="Genesis 41:47" id="Genesis-41-47">In the seven plenteous years the earth produced abundantly.</span>
  <span class="verse" title="Genesis 41:48" id="Genesis-41-48">He gathered up all the food of the seven years which were in the land of Egypt, and laid up the food in the cities: the food of the field, which was around every city, he laid up in the same.</span>
  <span class="verse" title="Genesis 41:49" id="Genesis-41-49">Joseph laid up grain as the sand of the sea, very much, until he stopped counting, for it was without number.</span>
  <span class="verse" title="Genesis 41:50" id="Genesis-41-50">To Joseph were born two sons before the year of famine came, whom Asenath, the daughter of Potiphera priest of On, bore to him.</span>
  <span class="verse" title="Genesis 41:51" id="Genesis-41-51">Joseph called the name of the firstborn Manasseh, &#8220;For,&#8221; he said, &#8220;God has made me forget all my toil, and all my father&#8217;s house.&#8221;</span>
  <span class="verse" title="Genesis 41:52" id="Genesis-41-52">The name of the second, he called Ephraim: &#8220;For God has made me fruitful in the land of my affliction.&#8221;</span>
  <span class="verse" title="Genesis 41:53" id="Genesis-41-53">The seven years of plenty, that were in the land of Egypt, came to an end.</span>
  <span class="verse" title="Genesis 41:54" id="Genesis-41-54">The seven years of famine began to come, just as Joseph had said. There was famine in all lands, but in all the land of Egypt there was bread.</span>
  <span class="verse" title="Genesis 41:55" id="Genesis-41-55">When all the land of Egypt was famished, the people cried to Pharaoh for bread, and Pharaoh said to all the Egyptians, &#8220;Go to Joseph. What he says to you, do.&#8221;</span>
  <span class="verse" title="Genesis 41:56" id="Genesis-41-56">The famine was over all the surface of the earth. Joseph opened all the store houses, and sold to the Egyptians. The famine was severe in the land of Egypt.</span>
  <span class="verse" title="Genesis 41:57" id="Genesis-41-57">All countries came into Egypt, to Joseph, to buy grain, because the famine was severe in all the earth.</span>
</div>