<div class="chapter" id="Genesis-042">
  <h2>Genesis 42</h2>
  <span class="verse" title="Genesis 42:1" id="Genesis-42-1">Now Jacob saw that there was grain in Egypt, and Jacob said to his sons, &#8220;Why do you look at one another?&#8221;</span>
  <span class="verse" title="Genesis 42:2" id="Genesis-42-2">He said, &#8220;Behold, I have heard that there is grain in Egypt. Go down there, and buy for us from there, so that we may live, and not die.&#8221;</span>
  <span class="verse" title="Genesis 42:3" id="Genesis-42-3">Joseph&#8217;s ten brothers went down to buy grain from Egypt.</span>
  <span class="verse" title="Genesis 42:4" id="Genesis-42-4">But Jacob didn&#8217;t send Benjamin, Joseph&#8217;s brother, with his brothers; for he said, &#8220;Lest perhaps harm happen to him.&#8221;</span>
  <span class="verse" title="Genesis 42:5" id="Genesis-42-5">The sons of Israel came to buy among those who came, for the famine was in the land of Canaan.</span>
  <span class="verse" title="Genesis 42:6" id="Genesis-42-6">Joseph was the governor over the land. It was he who sold to all the people of the land. Joseph&#8217;s brothers came, and bowed themselves down to him with their faces to the earth.</span>
  <span class="verse" title="Genesis 42:7" id="Genesis-42-7">Joseph saw his brothers, and he recognized them, but acted like a stranger to them, and spoke roughly with them. He said to them, &#8220;Where did you come from?&#8221; They said, &#8220;From the land of Canaan to buy food.&#8221;</span>
  <span class="verse" title="Genesis 42:8" id="Genesis-42-8">Joseph recognized his brothers, but they didn&#8217;t recognize him.</span>
  <span class="verse" title="Genesis 42:9" id="Genesis-42-9">Joseph remembered the dreams which he dreamed about them, and said to them, &#8220;You are spies! You have come to see the nakedness of the land.&#8221;</span>
  <span class="verse" title="Genesis 42:10" id="Genesis-42-10">They said to him, &#8220;No, my lord, but your servants have come to buy food.</span>
  <span class="verse" title="Genesis 42:11" id="Genesis-42-11">We are all one man&#8217;s sons; we are honest men. Your servants are not spies.&#8221;</span>
  <span class="verse" title="Genesis 42:12" id="Genesis-42-12">He said to them, &#8220;No, but you have come to see the nakedness of the land!&#8221;</span>
  <span class="verse" title="Genesis 42:13" id="Genesis-42-13">They said, &#8220;We, your servants, are twelve brothers, the sons of one man in the land of Canaan; and behold, the youngest is this day with our father, and one is no more.&#8221;</span>
  <span class="verse" title="Genesis 42:14" id="Genesis-42-14">Joseph said to them, &#8220;It is like I told you, saying, &#8216;You are spies!&#8217;</span>
  <span class="verse" title="Genesis 42:15" id="Genesis-42-15">By this you shall be tested. By the life of Pharaoh, you shall not go out from here, unless your youngest brother comes here.</span>
  <span class="verse" title="Genesis 42:16" id="Genesis-42-16">Send one of you, and let him get your brother, and you shall be bound, that your words may be tested, whether there is truth in you, or else by the life of Pharaoh surely you are spies.&#8221;</span>
  <span class="verse" title="Genesis 42:17" id="Genesis-42-17">He put them all together into custody for three days.</span>
  <span class="verse" title="Genesis 42:18" id="Genesis-42-18">Joseph said to them the third day, &#8220;Do this, and live, for I fear God.</span>
  <span class="verse" title="Genesis 42:19" id="Genesis-42-19">If you are honest men, then let one of your brothers be bound in your prison; but you go, carry grain for the famine of your houses.</span>
  <span class="verse" title="Genesis 42:20" id="Genesis-42-20">Bring your youngest brother to me; so will your words be verified, and you won&#8217;t die.&#8221; They did so.</span>
  <span class="verse" title="Genesis 42:21" id="Genesis-42-21">They said one to another, &#8220;We are certainly guilty concerning our brother, in that we saw the distress of his soul, when he begged us, and we wouldn&#8217;t listen. Therefore this distress has come upon us.&#8221;</span>
  <span class="verse" title="Genesis 42:22" id="Genesis-42-22">Reuben answered them, saying, &#8220;Didn&#8217;t I tell you, saying, &#8216;Don&#8217;t sin against the child,&#8217; and you wouldn&#8217;t listen? Therefore also, behold, his blood is required.&#8221;</span>
  <span class="verse" title="Genesis 42:23" id="Genesis-42-23">They didn&#8217;t know that Joseph understood them; for there was an interpreter between them.</span>
  <span class="verse" title="Genesis 42:24" id="Genesis-42-24">He turned himself away from them, and wept. Then he returned to them, and spoke to them, and took Simeon from among them, and bound him before their eyes.</span>
  <span class="verse" title="Genesis 42:25" id="Genesis-42-25">Then Joseph gave a command to fill their bags with grain, and to restore each man&#8217;s money into his sack, and to give them food for the way. So it was done to them.</span>
  <span class="verse" title="Genesis 42:26" id="Genesis-42-26">They loaded their donkeys with their grain, and departed from there.</span>
  <span class="verse" title="Genesis 42:27" id="Genesis-42-27">As one of them opened his sack to give his donkey food in the lodging place, he saw his money. Behold, it was in the mouth of his sack.</span>
  <span class="verse" title="Genesis 42:28" id="Genesis-42-28">He said to his brothers, &#8220;My money is restored! Behold, it is in my sack!&#8221; Their hearts failed them, and they turned trembling one to another, saying, &#8220;What is this that God has done to us?&#8221;</span>
  <span class="verse" title="Genesis 42:29" id="Genesis-42-29">They came to Jacob their father, to the land of Canaan, and told him all that had happened to them, saying,</span>
  <span class="verse" title="Genesis 42:30" id="Genesis-42-30">&#8220;The man, the lord of the land, spoke roughly with us, and took us for spies of the country.</span>
  <span class="verse" title="Genesis 42:31" id="Genesis-42-31">We said to him, &#8216;We are honest men. We are no spies.</span>
  <span class="verse" title="Genesis 42:32" id="Genesis-42-32">We are twelve brothers, sons of our father; one is no more, and the youngest is this day with our father in the land of Canaan.&#8217;</span>
  <span class="verse" title="Genesis 42:33" id="Genesis-42-33">The man, the lord of the land, said to us, &#8216;By this I will know that you are honest men: leave one of your brothers with me, and take grain for the famine of your houses, and go your way.</span>
  <span class="verse" title="Genesis 42:34" id="Genesis-42-34">Bring your youngest brother to me. Then I will know that you are not spies, but that you are honest men. So I will deliver your brother to you, and you shall trade in the land.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 42:35" id="Genesis-42-35">It happened as they emptied their sacks, that behold, each man&#8217;s bundle of money was in his sack. When they and their father saw their bundles of money, they were afraid.</span>
  <span class="verse" title="Genesis 42:36" id="Genesis-42-36">Jacob, their father, said to them, &#8220;You have bereaved me of my children! Joseph is no more, Simeon is no more, and you want to take Benjamin away. All these things are against me.&#8221;</span>
  <span class="verse" title="Genesis 42:37" id="Genesis-42-37">Reuben spoke to his father, saying, &#8220;Kill my two sons, if I don&#8217;t bring him to you. Entrust him to my care, and I will bring him to you again.&#8221;</span>
  <span class="verse" title="Genesis 42:38" id="Genesis-42-38">He said, &#8220;My son shall not go down with you; for his brother is dead, and he only is left. If harm happens to him along the way in which you go, then you will bring down my gray hairs with sorrow to Sheol.&#8221;</span>
</div>