<div class="chapter" id="Genesis-043">
  <h2>Genesis 43</h2>
  <span class="verse" title="Genesis 43:1" id="Genesis-43-1">The famine was severe in the land.</span>
  <span class="verse" title="Genesis 43:2" id="Genesis-43-2">It happened, when they had eaten up the grain which they had brought out of Egypt, their father said to them, &#8220;Go again, buy us a little more food.&#8221;</span>
  <span class="verse" title="Genesis 43:3" id="Genesis-43-3">Judah spoke to him, saying, &#8220;The man solemnly warned us, saying, &#8216;You shall not see my face, unless your brother is with you.&#8217;</span>
  <span class="verse" title="Genesis 43:4" id="Genesis-43-4">If you&#8217;ll send our brother with us, we&#8217;ll go down and buy you food,</span>
  <span class="verse" title="Genesis 43:5" id="Genesis-43-5">but if you&#8217;ll not send him, we&#8217;ll not go down, for the man said to us, &#8216;You shall not see my face, unless your brother is with you.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 43:6" id="Genesis-43-6">Israel said, &#8220;Why did you treat me so badly, telling the man that you had another brother?&#8221;</span>
  <span class="verse" title="Genesis 43:7" id="Genesis-43-7">They said, &#8220;The man asked directly concerning ourselves, and concerning our relatives, saying, &#8216;Is your father still alive? Have you another brother?&#8217; We just answered his questions. Is there any way we could know that he would say, &#8216;Bring your brother down?&#8217;&#8221;</span>
  <span class="verse" title="Genesis 43:8" id="Genesis-43-8">Judah said to Israel, his father, &#8220;Send the boy with me, and we&#8217;ll get up and go, so that we may live, and not die, both we, and you, and also our little ones.</span>
  <span class="verse" title="Genesis 43:9" id="Genesis-43-9">I&#8217;ll be collateral for him. From my hand will you require him. If I don&#8217;t bring him to you, and set him before you, then let me bear the blame forever,</span>
  <span class="verse" title="Genesis 43:10" id="Genesis-43-10">for if we hadn&#8217;t delayed, surely we would have returned a second time by now.&#8221;</span>
  <span class="verse" title="Genesis 43:11" id="Genesis-43-11">Their father, Israel, said to them, &#8220;If it must be so, then do this. Take from the choice fruits of the land in your bags, and carry down a present for the man, a little balm, a little honey, spices and myrrh, nuts, and almonds;</span>
  <span class="verse" title="Genesis 43:12" id="Genesis-43-12">and take double money in your hand, and take back the money that was returned in the mouth of your sacks. Perhaps it was an oversight.</span>
  <span class="verse" title="Genesis 43:13" id="Genesis-43-13">Take your brother also, get up, and return to the man.</span>
  <span class="verse" title="Genesis 43:14" id="Genesis-43-14">May God Almighty give you mercy before the man, that he may release to you your other brother and Benjamin. If I am bereaved of my children, I am bereaved.&#8221;</span>
  <span class="verse" title="Genesis 43:15" id="Genesis-43-15">The men took that present, and they took double money in their hand, and Benjamin; and got up, went down to Egypt, and stood before Joseph.</span>
  <span class="verse" title="Genesis 43:16" id="Genesis-43-16">When Joseph saw Benjamin with them, he said to the steward of his house, &#8220;Bring the men into the house, and butcher an animal, and prepare; for the men will dine with me at noon.&#8221;</span>
  <span class="verse" title="Genesis 43:17" id="Genesis-43-17">The man did as Joseph commanded, and the man brought the men to Joseph&#8217;s house.</span>
  <span class="verse" title="Genesis 43:18" id="Genesis-43-18">The men were afraid, because they were brought to Joseph&#8217;s house; and they said, &#8220;Because of the money that was returned in our sacks at the first time, we&#8217;re brought in; that he may seek occasion against us, attack us, and seize us as slaves, along with our donkeys.&#8221;</span>
  <span class="verse" title="Genesis 43:19" id="Genesis-43-19">They came near to the steward of Joseph&#8217;s house, and they spoke to him at the door of the house,</span>
  <span class="verse" title="Genesis 43:20" id="Genesis-43-20">and said, &#8220;Oh, my lord, we indeed came down the first time to buy food.</span>
  <span class="verse" title="Genesis 43:21" id="Genesis-43-21">When we came to the lodging place, we opened our sacks, and behold, each man&#8217;s money was in the mouth of his sack, our money in full weight. We have brought it back in our hand.</span>
  <span class="verse" title="Genesis 43:22" id="Genesis-43-22">We have brought down other money in our hand to buy food. We don&#8217;t know who put our money in our sacks.&#8221;</span>
  <span class="verse" title="Genesis 43:23" id="Genesis-43-23">He said, &#8220;Peace be to you. Don&#8217;t be afraid. Your God, and the God of your father, has given you treasure in your sacks. I received your money.&#8221; He brought Simeon out to them.</span>
  <span class="verse" title="Genesis 43:24" id="Genesis-43-24">The man brought the men into Joseph&#8217;s house, and gave them water, and they washed their feet. He gave their donkeys fodder.</span>
  <span class="verse" title="Genesis 43:25" id="Genesis-43-25">They prepared the present for Joseph&#8217;s coming at noon, for they heard that they should eat bread there.</span>
  <span class="verse" title="Genesis 43:26" id="Genesis-43-26">When Joseph came home, they brought him the present which was in their hand into the house, and bowed themselves down to him to the earth.</span>
  <span class="verse" title="Genesis 43:27" id="Genesis-43-27">He asked them of their welfare, and said, &#8220;Is your father well, the old man of whom you spoke? Is he yet alive?&#8221;</span>
  <span class="verse" title="Genesis 43:28" id="Genesis-43-28">They said, &#8220;Your servant, our father, is well. He is still alive.&#8221; They bowed down humbly.</span>
  <span class="verse" title="Genesis 43:29" id="Genesis-43-29">He lifted up his eyes, and saw Benjamin, his brother, his mother&#8217;s son, and said, &#8220;Is this your youngest brother, of whom you spoke to me?&#8221; He said, &#8220;God be gracious to you, my son.&#8221;</span>
  <span class="verse" title="Genesis 43:30" id="Genesis-43-30">Joseph hurried, for his heart yearned over his brother; and he sought a place to weep. He entered into his room, and wept there.</span>
  <span class="verse" title="Genesis 43:31" id="Genesis-43-31">He washed his face, and came out. He controlled himself, and said, &#8220;Serve the meal.&#8221;</span>
  <span class="verse" title="Genesis 43:32" id="Genesis-43-32">They served him by himself, and them by themselves, and the Egyptians, that ate with him, by themselves, because the Egyptians don&#8217;t eat bread with the Hebrews, for that is an abomination to the Egyptians.</span>
  <span class="verse" title="Genesis 43:33" id="Genesis-43-33">They sat before him, the firstborn according to his birthright, and the youngest according to his youth, and the men marveled one with another.</span>
  <span class="verse" title="Genesis 43:34" id="Genesis-43-34">He sent portions to them from before him, but Benjamin&#8217;s portion was five times as much as any of theirs. They drank, and were merry with him.</span>
</div>