<div class="chapter" id="Genesis-044">
  <h2>Genesis 44</h2>
  <span class="verse" title="Genesis 44:1" id="Genesis-44-1">He commanded the steward of his house, saying, &#8220;Fill the men&#8217;s sacks with food, as much as they can carry, and put each man&#8217;s money in his sack&#8217;s mouth.</span>
  <span class="verse" title="Genesis 44:2" id="Genesis-44-2">Put my cup, the silver cup, in the sack&#8217;s mouth of the youngest, with his grain money.&#8221; He did according to the word that Joseph had spoken.</span>
  <span class="verse" title="Genesis 44:3" id="Genesis-44-3">As soon as the morning was light, the men were sent away, they and their donkeys.</span>
  <span class="verse" title="Genesis 44:4" id="Genesis-44-4">When they had gone out of the city, and were not yet far off, Joseph said to his steward, &#8220;Up, follow after the men. When you overtake them, ask them, &#8216;Why have you rewarded evil for good?</span>
  <span class="verse" title="Genesis 44:5" id="Genesis-44-5">Isn&#8217;t this that from which my lord drinks, and by which he indeed divines? You have done evil in so doing.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 44:6" id="Genesis-44-6">He overtook them, and he spoke these words to them.</span>
  <span class="verse" title="Genesis 44:7" id="Genesis-44-7">They said to him, &#8220;Why does my lord speak such words as these? Far be it from your servants that they should do such a thing!</span>
  <span class="verse" title="Genesis 44:8" id="Genesis-44-8">Behold, the money, which we found in our sacks&#8217; mouths, we brought again to you out of the land of Canaan. How then should we steal silver or gold out of your lord&#8217;s house?</span>
  <span class="verse" title="Genesis 44:9" id="Genesis-44-9">With whomever of your servants it is found, let him die, and we also will be my lord&#8217;s bondservants.&#8221;</span>
  <span class="verse" title="Genesis 44:10" id="Genesis-44-10">He said, &#8220;Now also let it be according to your words: he with whom it is found will be my bondservant; and you will be blameless.&#8221;</span>
  <span class="verse" title="Genesis 44:11" id="Genesis-44-11">Then they hurried, and each man took his sack down to the ground, and each man opened his sack.</span>
  <span class="verse" title="Genesis 44:12" id="Genesis-44-12">He searched, beginning with the eldest, and ending at the youngest. The cup was found in Benjamin&#8217;s sack.</span>
  <span class="verse" title="Genesis 44:13" id="Genesis-44-13">Then they tore their clothes, and each man loaded his donkey, and returned to the city.</span>
  <span class="verse" title="Genesis 44:14" id="Genesis-44-14">Judah and his brothers came to Joseph&#8217;s house, and he was still there. They fell on the ground before him.</span>
  <span class="verse" title="Genesis 44:15" id="Genesis-44-15">Joseph said to them, &#8220;What deed is this that you have done? Don&#8217;t you know that such a man as I can indeed divine?&#8221;</span>
  <span class="verse" title="Genesis 44:16" id="Genesis-44-16">Judah said, &#8220;What will we tell my lord? What will we speak? Or how will we clear ourselves? God has found out the iniquity of your servants. Behold, we are my lord&#8217;s bondservants, both we, and he also in whose hand the cup is found.&#8221;</span>
  <span class="verse" title="Genesis 44:17" id="Genesis-44-17">He said, &#8220;Far be it from me that I should do so. The man in whose hand the cup is found, he will be my bondservant; but as for you, go up in peace to your father.&#8221;</span>
  <span class="verse" title="Genesis 44:18" id="Genesis-44-18">Then Judah came near to him, and said, &#8220;Oh, my lord, please let your servant speak a word in my lord&#8217;s ears, and don&#8217;t let your anger burn against your servant; for you are even as Pharaoh.</span>
  <span class="verse" title="Genesis 44:19" id="Genesis-44-19">My lord asked his servants, saying, &#8216;Have you a father, or a brother?&#8217;</span>
  <span class="verse" title="Genesis 44:20" id="Genesis-44-20">We said to my lord, &#8216;We have a father, an old man, and a child of his old age, a little one; and his brother is dead, and he alone is left of his mother; and his father loves him.&#8217;</span>
  <span class="verse" title="Genesis 44:21" id="Genesis-44-21">You said to your servants, &#8216;Bring him down to me, that I may set my eyes on him.&#8217;</span>
  <span class="verse" title="Genesis 44:22" id="Genesis-44-22">We said to my lord, &#8216;The boy can&#8217;t leave his father: for if he should leave his father, his father would die.&#8217;</span>
  <span class="verse" title="Genesis 44:23" id="Genesis-44-23">You said to your servants, &#8216;Unless your youngest brother comes down with you, you will see my face no more.&#8217;</span>
  <span class="verse" title="Genesis 44:24" id="Genesis-44-24">It happened when we came up to your servant my father, we told him the words of my lord.</span>
  <span class="verse" title="Genesis 44:25" id="Genesis-44-25">Our father said, &#8216;Go again, buy us a little food.&#8217;</span>
  <span class="verse" title="Genesis 44:26" id="Genesis-44-26">We said, &#8216;We can&#8217;t go down. If our youngest brother is with us, then we will go down: for we may not see the man&#8217;s face, unless our youngest brother is with us.&#8217;</span>
  <span class="verse" title="Genesis 44:27" id="Genesis-44-27">Your servant, my father, said to us, &#8216;You know that my wife bore me two sons:</span>
  <span class="verse" title="Genesis 44:28" id="Genesis-44-28">and the one went out from me, and I said, &#8220;Surely he is torn in pieces;&#8221; and I haven&#8217;t seen him since.</span>
  <span class="verse" title="Genesis 44:29" id="Genesis-44-29">If you take this one also from me, and harm happens to him, you will bring down my gray hairs with sorrow to Sheol.&#8217;</span>
  <span class="verse" title="Genesis 44:30" id="Genesis-44-30">Now therefore when I come to your servant my father, and the boy is not with us; since his life is bound up in the boy&#8217;s life;</span>
  <span class="verse" title="Genesis 44:31" id="Genesis-44-31">it will happen, when he sees that the boy is no more, that he will die. Your servants will bring down the gray hairs of your servant, our father, with sorrow to Sheol.</span>
  <span class="verse" title="Genesis 44:32" id="Genesis-44-32">For your servant became collateral for the boy to my father, saying, &#8216;If I don&#8217;t bring him to you, then I will bear the blame to my father forever.&#8217;</span>
  <span class="verse" title="Genesis 44:33" id="Genesis-44-33">Now therefore, please let your servant stay instead of the boy, a bondservant to my lord; and let the boy go up with his brothers.</span>
  <span class="verse" title="Genesis 44:34" id="Genesis-44-34">For how will I go up to my father, if the boy isn&#8217;t with me?—lest I see the evil that will come on my father.&#8221;</span>
</div>