<div class="chapter" id="Genesis-045">
  <h2>Genesis 45</h2>
  <span class="verse" title="Genesis 45:1" id="Genesis-45-1">Then Joseph couldn&#8217;t control himself before all those who stood before him, and he cried, &#8220;Cause everyone to go out from me!&#8221; No one else stood with him, while Joseph made himself known to his brothers.</span>
  <span class="verse" title="Genesis 45:2" id="Genesis-45-2">He wept aloud. The Egyptians heard, and the house of Pharaoh heard.</span>
  <span class="verse" title="Genesis 45:3" id="Genesis-45-3">Joseph said to his brothers, &#8220;I am Joseph! Does my father still live?&#8221; His brothers couldn&#8217;t answer him; for they were terrified at his presence.</span>
  <span class="verse" title="Genesis 45:4" id="Genesis-45-4">Joseph said to his brothers, &#8220;Come near to me, please.&#8221; They came near. &#8220;He said, I am Joseph, your brother, whom you sold into Egypt.</span>
  <span class="verse" title="Genesis 45:5" id="Genesis-45-5">Now don&#8217;t be grieved, nor angry with yourselves, that you sold me here, for God sent me before you to preserve life.</span>
  <span class="verse" title="Genesis 45:6" id="Genesis-45-6">For these two years the famine has been in the land, and there are yet five years, in which there will be neither plowing nor harvest.</span>
  <span class="verse" title="Genesis 45:7" id="Genesis-45-7">God sent me before you to preserve for you a remnant in the earth, and to save you alive by a great deliverance.</span>
  <span class="verse" title="Genesis 45:8" id="Genesis-45-8">So now it wasn&#8217;t you who sent me here, but God, and he has made me a father to Pharaoh, lord of all his house, and ruler over all the land of Egypt.</span>
  <span class="verse" title="Genesis 45:9" id="Genesis-45-9">Hurry, and go up to my father, and tell him, &#8216;This is what your son Joseph says, &#8220;God has made me lord of all Egypt. Come down to me. Don&#8217;t wait.</span>
  <span class="verse" title="Genesis 45:10" id="Genesis-45-10">You shall dwell in the land of Goshen, and you will be near to me, you, your children, your children&#8217;s children, your flocks, your herds, and all that you have.</span>
  <span class="verse" title="Genesis 45:11" id="Genesis-45-11">There I will nourish you; for there are yet five years of famine; lest you come to poverty, you, and your household, and all that you have.&#8221;&#8217;</span>
  <span class="verse" title="Genesis 45:12" id="Genesis-45-12">Behold, your eyes see, and the eyes of my brother Benjamin, that it is my mouth that speaks to you.</span>
  <span class="verse" title="Genesis 45:13" id="Genesis-45-13">You shall tell my father of all my glory in Egypt, and of all that you have seen. You shall hurry and bring my father down here.&#8221;</span>
  <span class="verse" title="Genesis 45:14" id="Genesis-45-14">He fell on his brother Benjamin&#8217;s neck, and wept, and Benjamin wept on his neck.</span>
  <span class="verse" title="Genesis 45:15" id="Genesis-45-15">He kissed all his brothers, and wept on them. After that his brothers talked with him.</span>
  <span class="verse" title="Genesis 45:16" id="Genesis-45-16">The report of it was heard in Pharaoh&#8217;s house, saying, &#8220;Joseph&#8217;s brothers have come.&#8221; It pleased Pharaoh well, and his servants.</span>
  <span class="verse" title="Genesis 45:17" id="Genesis-45-17">Pharaoh said to Joseph, &#8220;Tell your brothers, &#8216;Do this. Load your animals, and go, travel to the land of Canaan.</span>
  <span class="verse" title="Genesis 45:18" id="Genesis-45-18">Take your father and your households, and come to me, and I will give you the good of the land of Egypt, and you will eat the fat of the land.&#8217;</span>
  <span class="verse" title="Genesis 45:19" id="Genesis-45-19">Now you are commanded: do this. Take wagons out of the land of Egypt for your little ones, and for your wives, and bring your father, and come.</span>
  <span class="verse" title="Genesis 45:20" id="Genesis-45-20">Also, don&#8217;t concern yourselves about your belongings, for the good of all of the land of Egypt is yours.&#8221;</span>
  <span class="verse" title="Genesis 45:21" id="Genesis-45-21">The sons of Israel did so. Joseph gave them wagons, according to the commandment of Pharaoh, and gave them provision for the way.</span>
  <span class="verse" title="Genesis 45:22" id="Genesis-45-22">He gave each one of them changes of clothing, but to Benjamin he gave three hundred pieces of silver and five changes of clothing.</span>
  <span class="verse" title="Genesis 45:23" id="Genesis-45-23">He sent the following to his father: ten donkeys loaded with the good things of Egypt, and ten female donkeys loaded with grain and bread and provision for his father by the way.</span>
  <span class="verse" title="Genesis 45:24" id="Genesis-45-24">So he sent his brothers away, and they departed. He said to them, &#8220;See that you don&#8217;t quarrel on the way.&#8221;</span>
  <span class="verse" title="Genesis 45:25" id="Genesis-45-25">They went up out of Egypt, and came into the land of Canaan, to Jacob their father.</span>
  <span class="verse" title="Genesis 45:26" id="Genesis-45-26">They told him, saying, &#8220;Joseph is still alive, and he is ruler over all the land of Egypt.&#8221; His heart fainted, for he didn&#8217;t believe them.</span>
  <span class="verse" title="Genesis 45:27" id="Genesis-45-27">They told him all the words of Joseph, which he had said to them. When he saw the wagons which Joseph had sent to carry him, the spirit of Jacob, their father, revived.</span>
  <span class="verse" title="Genesis 45:28" id="Genesis-45-28">Israel said, &#8220;It is enough. Joseph my son is still alive. I will go and see him before I die.&#8221;</span>
</div>