<div class="chapter" id="Genesis-046">
  <h2>Genesis 46</h2>
  <span class="verse" title="Genesis 46:1" id="Genesis-46-1">Israel traveled with all that he had, and came to Beersheba, and offered sacrifices to the God of his father, Isaac.</span>
  <span class="verse" title="Genesis 46:2" id="Genesis-46-2">God spoke to Israel in the visions of the night, and said, &#8220;Jacob, Jacob!&#8221; He said, &#8220;Here I am.&#8221;</span>
  <span class="verse" title="Genesis 46:3" id="Genesis-46-3">He said, &#8220;I am God, the God of your father. Don&#8217;t be afraid to go down into Egypt, for there I will make of you a great nation.</span>
  <span class="verse" title="Genesis 46:4" id="Genesis-46-4">I will go down with you into Egypt. I will also surely bring you up again. Joseph will close your eyes.&#8221;</span>
  <span class="verse" title="Genesis 46:5" id="Genesis-46-5">Jacob rose up from Beersheba, and the sons of Israel carried Jacob, their father, their little ones, and their wives, in the wagons which Pharaoh had sent to carry him.</span>
  <span class="verse" title="Genesis 46:6" id="Genesis-46-6">They took their livestock, and their goods, which they had gotten in the land of Canaan, and came into Egypt—Jacob, and all his seed with him,</span>
  <span class="verse" title="Genesis 46:7" id="Genesis-46-7">his sons, and his sons&#8217; sons with him, his daughters, and his sons&#8217; daughters, and he brought all his seed with him into Egypt.</span>
  <span class="verse" title="Genesis 46:8" id="Genesis-46-8">These are the names of the children of Israel, who came into Egypt, Jacob and his sons: Reuben, Jacob&#8217;s firstborn.</span>
  <span class="verse" title="Genesis 46:9" id="Genesis-46-9">The sons of Reuben: Hanoch, Pallu, Hezron, and Carmi.</span>
  <span class="verse" title="Genesis 46:10" id="Genesis-46-10">The sons of Simeon: Jemuel, Jamin, Ohad, Jachin, Zohar, and Shaul the son of a Canaanite woman.</span>
  <span class="verse" title="Genesis 46:11" id="Genesis-46-11">The sons of Levi: Gershon, Kohath, and Merari.</span>
  <span class="verse" title="Genesis 46:12" id="Genesis-46-12">The sons of Judah: Er, Onan, Shelah, Perez, and Zerah; but Er and Onan died in the land of Canaan. The sons of Perez were Hezron and Hamul.</span>
  <span class="verse" title="Genesis 46:13" id="Genesis-46-13">The sons of Issachar: Tola, Puvah, Iob, and Shimron.</span>
  <span class="verse" title="Genesis 46:14" id="Genesis-46-14">The sons of Zebulun: Sered, Elon, and Jahleel.</span>
  <span class="verse" title="Genesis 46:15" id="Genesis-46-15">These are the sons of Leah, whom she bore to Jacob in Paddan Aram, with his daughter Dinah. All the souls of his sons and his daughters were thirty-three.</span>
  <span class="verse" title="Genesis 46:16" id="Genesis-46-16">The sons of Gad: Ziphion, Haggi, Shuni, Ezbon, Eri, Arodi, and Areli.</span>
  <span class="verse" title="Genesis 46:17" id="Genesis-46-17">The sons of Asher: Imnah, Ishvah, Ishvi, Beriah, and Serah their sister. The sons of Beriah: Heber and Malchiel.</span>
  <span class="verse" title="Genesis 46:18" id="Genesis-46-18">These are the sons of Zilpah, whom Laban gave to Leah, his daughter, and these she bore to Jacob, even sixteen souls.</span>
  <span class="verse" title="Genesis 46:19" id="Genesis-46-19">The sons of Rachel, Jacob&#8217;s wife: Joseph and Benjamin.</span>
  <span class="verse" title="Genesis 46:20" id="Genesis-46-20">To Joseph in the land of Egypt were born Manasseh and Ephraim, whom Asenath, the daughter of Potiphera, priest of On, bore to him.</span>
  <span class="verse" title="Genesis 46:21" id="Genesis-46-21">The sons of Benjamin: Bela, Becher, Ashbel, Gera, Naaman, Ehi, Rosh, Muppim, Huppim, and Ard.</span>
  <span class="verse" title="Genesis 46:22" id="Genesis-46-22">These are the sons of Rachel, who were born to Jacob: all the souls were fourteen.</span>
  <span class="verse" title="Genesis 46:23" id="Genesis-46-23">The son of Dan: Hushim.</span>
  <span class="verse" title="Genesis 46:24" id="Genesis-46-24">The sons of Naphtali: Jahzeel, Guni, Jezer, and Shillem.</span>
  <span class="verse" title="Genesis 46:25" id="Genesis-46-25">These are the sons of Bilhah, whom Laban gave to Rachel, his daughter, and these she bore to Jacob: all the souls were seven.</span>
  <span class="verse" title="Genesis 46:26" id="Genesis-46-26">All the souls who came with Jacob into Egypt, who were his direct descendants, besides Jacob&#8217;s sons&#8217; wives, all the souls were sixty-six.</span>
  <span class="verse" title="Genesis 46:27" id="Genesis-46-27">The sons of Joseph, who were born to him in Egypt, were two souls. All the souls of the house of Jacob, who came into Egypt, were seventy.</span>
  <span class="verse" title="Genesis 46:28" id="Genesis-46-28">He sent Judah before him to Joseph, to show the way before him to Goshen, and they came into the land of Goshen.</span>
  <span class="verse" title="Genesis 46:29" id="Genesis-46-29">Joseph prepared his chariot, and went up to meet Israel, his father, in Goshen. He presented himself to him, and fell on his neck, and wept on his neck a good while.</span>
  <span class="verse" title="Genesis 46:30" id="Genesis-46-30">Israel said to Joseph, &#8220;Now let me die, since I have seen your face, that you are still alive.&#8221;</span>
  <span class="verse" title="Genesis 46:31" id="Genesis-46-31">Joseph said to his brothers, and to his father&#8217;s house, &#8220;I will go up, and speak with Pharaoh, and will tell him, &#8216;My brothers, and my father&#8217;s house, who were in the land of Canaan, have come to me.</span>
  <span class="verse" title="Genesis 46:32" id="Genesis-46-32">These men are shepherds, for they have been keepers of livestock, and they have brought their flocks, and their herds, and all that they have.&#8217;</span>
  <span class="verse" title="Genesis 46:33" id="Genesis-46-33">It will happen, when Pharaoh summons you, and will say, &#8216;What is your occupation?&#8217;</span>
  <span class="verse" title="Genesis 46:34" id="Genesis-46-34">that you shall say, &#8216;Your servants have been keepers of livestock from our youth even until now, both we, and our fathers:&#8217; that you may dwell in the land of Goshen; for every shepherd is an abomination to the Egyptians.&#8221;</span>
</div>