<div class="chapter" id="Genesis-050">
  <h2>Genesis 50</h2>
  <span class="verse" title="Genesis 50:1" id="Genesis-50-1">Joseph fell on his father&#8217;s face, wept on him, and kissed him.</span>
  <span class="verse" title="Genesis 50:2" id="Genesis-50-2">Joseph commanded his servants, the physicians, to embalm his father; and the physicians embalmed Israel.</span>
  <span class="verse" title="Genesis 50:3" id="Genesis-50-3">Forty days were fulfilled for him, for that is how many the days it takes to embalm. The Egyptians wept for him for seventy days.</span>
  <span class="verse" title="Genesis 50:4" id="Genesis-50-4">When the days of weeping for him were past, Joseph spoke to the house of Pharaoh, saying, &#8220;If now I have found favor in your eyes, please speak in the ears of Pharaoh, saying,</span>
  <span class="verse" title="Genesis 50:5" id="Genesis-50-5">&#8216;My father made me swear, saying, &#8220;Behold, I am dying. Bury me in my grave which I have dug for myself in the land of Canaan.&#8221; Now therefore, please let me go up and bury my father, and I will come again.&#8217;&#8221;</span>
  <span class="verse" title="Genesis 50:6" id="Genesis-50-6">Pharaoh said, &#8220;Go up, and bury your father, just like he made you swear.&#8221;</span>
  <span class="verse" title="Genesis 50:7" id="Genesis-50-7">Joseph went up to bury his father; and with him went up all the servants of Pharaoh, the elders of his house, all the elders of the land of Egypt,</span>
  <span class="verse" title="Genesis 50:8" id="Genesis-50-8">all the house of Joseph, his brothers, and his father&#8217;s house. Only their little ones, their flocks, and their herds, they left in the land of Goshen.</span>
  <span class="verse" title="Genesis 50:9" id="Genesis-50-9">There went up with him both chariots and horsemen. It was a very great company.</span>
  <span class="verse" title="Genesis 50:10" id="Genesis-50-10">They came to the threshing floor of Atad, which is beyond the Jordan, and there they lamented with a very great and severe lamentation. He mourned for his father seven days.</span>
  <span class="verse" title="Genesis 50:11" id="Genesis-50-11">When the inhabitants of the land, the Canaanites, saw the mourning in the floor of Atad, they said, &#8220;This is a grievous mourning by the Egyptians.&#8221; Therefore, its name was called Abel Mizraim, which is beyond the Jordan.</span>
  <span class="verse" title="Genesis 50:12" id="Genesis-50-12">His sons did to him just as he commanded them,</span>
  <span class="verse" title="Genesis 50:13" id="Genesis-50-13">for his sons carried him into the land of Canaan, and buried him in the cave of the field of Machpelah, which Abraham bought with the field, for a possession of a burial site, from Ephron the Hittite, before Mamre.</span>
  <span class="verse" title="Genesis 50:14" id="Genesis-50-14">Joseph returned into Egypt—he, and his brothers, and all that went up with him to bury his father, after he had buried his father.</span>
  <span class="verse" title="Genesis 50:15" id="Genesis-50-15">When Joseph&#8217;s brothers saw that their father was dead, they said, &#8220;It may be that Joseph will hate us, and will fully pay us back for all of the evil which we did to him.&#8221;</span>
  <span class="verse" title="Genesis 50:16" id="Genesis-50-16">They sent a message to Joseph, saying, &#8220;Your father commanded before he died, saying,</span>
  <span class="verse" title="Genesis 50:17" id="Genesis-50-17">&#8216;You shall tell Joseph, &#8220;Now please forgive the disobedience of your brothers, and their sin, because they did evil to you.&#8221;&#8217; Now, please forgive the disobedience of the servants of the God of your father.&#8221; Joseph wept when they spoke to him.</span>
  <span class="verse" title="Genesis 50:18" id="Genesis-50-18">His brothers also went and fell down before his face; and they said, &#8220;Behold, we are your servants.&#8221;</span>
  <span class="verse" title="Genesis 50:19" id="Genesis-50-19">Joseph said to them, &#8220;Don&#8217;t be afraid, for am I in the place of God?</span>
  <span class="verse" title="Genesis 50:20" id="Genesis-50-20">As for you, you meant evil against me, but God meant it for good, to bring to pass, as it is this day, to save many people alive.</span>
  <span class="verse" title="Genesis 50:21" id="Genesis-50-21">Now therefore don&#8217;t be afraid. I will nourish you and your little ones.&#8221; He comforted them, and spoke kindly to them.</span>
  <span class="verse" title="Genesis 50:22" id="Genesis-50-22">Joseph lived in Egypt, he, and his father&#8217;s house. Joseph lived one hundred ten years.</span>
  <span class="verse" title="Genesis 50:23" id="Genesis-50-23">Joseph saw Ephraim&#8217;s children to the third generation. The children also of Machir, the son of Manasseh, were born on Joseph&#8217;s knees.</span>
  <span class="verse" title="Genesis 50:24" id="Genesis-50-24">Joseph said to his brothers, &#8220;I am dying, but God will surely visit you, and bring you up out of this land to the land which he swore to Abraham, to Isaac, and to Jacob.&#8221;</span>
  <span class="verse" title="Genesis 50:25" id="Genesis-50-25">Joseph took an oath of the children of Israel, saying, &#8220;God will surely visit you, and you shall carry up my bones from here.&#8221;</span>
  <span class="verse" title="Genesis 50:26" id="Genesis-50-26">So Joseph died, being one hundred ten years old, and they embalmed him, and he was put in a coffin in Egypt.</span>
</div>