<div class="chapter" id="2 Samuel-005">
  <h2>2 Samuel 5</h2>
  <span class="verse" title="2 Samuel 5:1" id="2_Samuel-5-1">Then came all the tribes of Israel to David to Hebron, and spoke, saying, &#8220;Behold, we are your bone and your flesh.</span>
  <span class="verse" title="2 Samuel 5:2" id="2_Samuel-5-2">In times past, when Saul was king over us, it was you who led out and brought in Israel. Yahweh said to you, &#8216;You shall be shepherd of my people Israel, and you shall be prince over Israel.&#8217;&#8221;</span>
  <span class="verse" title="2 Samuel 5:3" id="2_Samuel-5-3">So all the elders of Israel came to the king to Hebron; and king David made a covenant with them in Hebron before Yahweh; and they anointed David king over Israel.</span>
  <span class="verse" title="2 Samuel 5:4" id="2_Samuel-5-4">David was thirty years old when he began to reign, and he reigned forty years.</span>
  <span class="verse" title="2 Samuel 5:5" id="2_Samuel-5-5">In Hebron he reigned over Judah seven years and six months; and in Jerusalem he reigned thirty-three years over all Israel and Judah.</span>
  <span class="verse" title="2 Samuel 5:6" id="2_Samuel-5-6">The king and his men went to Jerusalem against the Jebusites, the inhabitants of the land, who spoke to David, saying, &#8220;Unless you take away the blind and the lame, you shall not come in here;&#8221; thinking, &#8220;David can&#8217;t come in here.&#8221;</span>
  <span class="verse" title="2 Samuel 5:7" id="2_Samuel-5-7">Nevertheless David took the stronghold of Zion; the same is the city of David.</span>
  <span class="verse" title="2 Samuel 5:8" id="2_Samuel-5-8">David said on that day, &#8220;Whoever strikes the Jebusites, let him get up to the watercourse, and strike the lame and the blind, who are hated by David&#8217;s soul.&#8221; Therefore they say, &#8220;The blind and the lame can&#8217;t come into the house.&#8221;</span>
  <span class="verse" title="2 Samuel 5:9" id="2_Samuel-5-9">David lived in the stronghold, and called it the city of David. David built around from Millo and inward.</span>
  <span class="verse" title="2 Samuel 5:10" id="2_Samuel-5-10">David grew greater and greater; for Yahweh, the God of Armies, was with him.</span>
  <span class="verse" title="2 Samuel 5:11" id="2_Samuel-5-11">Hiram king of Tyre sent messengers to David, and cedar trees, and carpenters, and masons; and they built David a house.</span>
  <span class="verse" title="2 Samuel 5:12" id="2_Samuel-5-12">David perceived that Yahweh had established him king over Israel, and that he had exalted his kingdom for his people Israel&#8217;s sake.</span>
  <span class="verse" title="2 Samuel 5:13" id="2_Samuel-5-13">David took him more concubines and wives out of Jerusalem, after he had come from Hebron; and there were yet sons and daughters born to David.</span>
  <span class="verse" title="2 Samuel 5:14" id="2_Samuel-5-14">These are the names of those who were born to him in Jerusalem: Shammua, and Shobab, and Nathan, and Solomon,</span>
  <span class="verse" title="2 Samuel 5:15" id="2_Samuel-5-15">and Ibhar, and Elishua, and Nepheg, and Japhia,</span>
  <span class="verse" title="2 Samuel 5:16" id="2_Samuel-5-16">and Elishama, and Eliada, and Eliphelet.</span>
  <span class="verse" title="2 Samuel 5:17" id="2_Samuel-5-17">When the Philistines heard that they had anointed David king over Israel, all the Philistines went up to seek David; and David heard of it, and went down to the stronghold.</span>
  <span class="verse" title="2 Samuel 5:18" id="2_Samuel-5-18">Now the Philistines had come and spread themselves in the valley of Rephaim.</span>
  <span class="verse" title="2 Samuel 5:19" id="2_Samuel-5-19">David inquired of Yahweh, saying, &#8220;Shall I go up against the Philistines? Will you deliver them into my hand?&#8221; Yahweh said to David, &#8220;Go up; for I will certainly deliver the Philistines into your hand.&#8221;</span>
  <span class="verse" title="2 Samuel 5:20" id="2_Samuel-5-20">David came to Baal Perazim, and David struck them there; and he said, &#8220;Yahweh has broken my enemies before me, like the breach of waters.&#8221; Therefore he called the name of that place Baal Perazim.</span>
  <span class="verse" title="2 Samuel 5:21" id="2_Samuel-5-21">They left their images there; and David and his men took them away.</span>
  <span class="verse" title="2 Samuel 5:22" id="2_Samuel-5-22">The Philistines came up yet again, and spread themselves in the valley of Rephaim.</span>
  <span class="verse" title="2 Samuel 5:23" id="2_Samuel-5-23">When David inquired of Yahweh, he said, &#8220;You shall not go up. Circle around behind them, and attack them over against the mulberry trees.</span>
  <span class="verse" title="2 Samuel 5:24" id="2_Samuel-5-24">It shall be, when you hear the sound of marching in the tops of the mulberry trees, that then you shall stir yourself up; for then Yahweh has gone out before you to strike the army of the Philistines.&#8221;</span>
  <span class="verse" title="2 Samuel 5:25" id="2_Samuel-5-25">David did so, as Yahweh commanded him, and struck the Philistines from Geba until you come to Gezer.</span>
</div>