<div class="chapter" id="2 Samuel-006">
  <h2>2 Samuel 6</h2>
  <span class="verse" title="2 Samuel 6:1" id="2_Samuel-6-1">David again gathered together all the chosen men of Israel, thirty thousand.</span>
  <span class="verse" title="2 Samuel 6:2" id="2_Samuel-6-2">David arose, and went with all the people who were with him, from Baale Judah, to bring up from there the ark of God, which is called by the Name, even the name of Yahweh of Armies who sits above the cherubim.</span>
  <span class="verse" title="2 Samuel 6:3" id="2_Samuel-6-3">They set the ark of God on a new cart, and brought it out of the house of Abinadab that was in the hill: and Uzzah and Ahio, the sons of Abinadab, drove the new cart.</span>
  <span class="verse" title="2 Samuel 6:4" id="2_Samuel-6-4">They brought it out of the house of Abinadab, which was in the hill, with the ark of God: and Ahio went before the ark.</span>
  <span class="verse" title="2 Samuel 6:5" id="2_Samuel-6-5">David and all the house of Israel played before Yahweh with all kinds of instruments made of fir wood, and with harps, and with stringed instruments, and with tambourines, and with castanets, and with cymbals.</span>
  <span class="verse" title="2 Samuel 6:6" id="2_Samuel-6-6">When they came to the threshing floor of Nacon, Uzzah reached for the ark of God, and took hold of it; for the cattle stumbled.</span>
  <span class="verse" title="2 Samuel 6:7" id="2_Samuel-6-7">The anger of Yahweh was kindled against Uzzah; and God struck him there for his error; and there he died by the ark of God.</span>
  <span class="verse" title="2 Samuel 6:8" id="2_Samuel-6-8">David was displeased, because Yahweh had broken forth on Uzzah; and he called that place Perez Uzzah, to this day.</span>
  <span class="verse" title="2 Samuel 6:9" id="2_Samuel-6-9">David was afraid of Yahweh that day; and he said, &#8220;How shall the ark of Yahweh come to me?&#8221;</span>
  <span class="verse" title="2 Samuel 6:10" id="2_Samuel-6-10">So David would not move the ark of Yahweh to be with him in the city of David; but David carried it aside into the house of Obed-Edom the Gittite.</span>
  <span class="verse" title="2 Samuel 6:11" id="2_Samuel-6-11">The ark of Yahweh remained in the house of Obed-Edom the Gittite three months: and Yahweh blessed Obed-Edom, and all his house.</span>
  <span class="verse" title="2 Samuel 6:12" id="2_Samuel-6-12">It was told king David, saying, &#8220;Yahweh has blessed the house of Obed-Edom, and all that pertains to him, because of the ark of God.&#8221; David went and brought up the ark of God from the house of Obed-Edom into the city of David with joy.</span>
  <span class="verse" title="2 Samuel 6:13" id="2_Samuel-6-13">It was so, that, when those who bore the ark of Yahweh had gone six paces, he sacrificed an ox and a fattened calf.</span>
  <span class="verse" title="2 Samuel 6:14" id="2_Samuel-6-14">David danced before Yahweh with all his might; and David was clothed in a linen ephod.</span>
  <span class="verse" title="2 Samuel 6:15" id="2_Samuel-6-15">So David and all the house of Israel brought up the ark of Yahweh with shouting, and with the sound of the trumpet.</span>
  <span class="verse" title="2 Samuel 6:16" id="2_Samuel-6-16">It was so, as the ark of Yahweh came into the city of David, that Michal the daughter of Saul looked out at the window, and saw king David leaping and dancing before Yahweh; and she despised him in her heart.</span>
  <span class="verse" title="2 Samuel 6:17" id="2_Samuel-6-17">They brought in the ark of Yahweh, and set it in its place, in the midst of the tent that David had pitched for it; and David offered burnt offerings and peace offerings before Yahweh.</span>
  <span class="verse" title="2 Samuel 6:18" id="2_Samuel-6-18">When David had made an end of offering the burnt offering and the peace offerings, he blessed the people in the name of Yahweh of Armies.</span>
  <span class="verse" title="2 Samuel 6:19" id="2_Samuel-6-19">He gave to all the people, even among the whole multitude of Israel, both to men and women, to everyone a portion of bread, dates, and raisins. So all the people departed everyone to his house.</span>
  <span class="verse" title="2 Samuel 6:20" id="2_Samuel-6-20">Then David returned to bless his household. Michal the daughter of Saul came out to meet David, and said, &#8220;How glorious the king of Israel was today, who uncovered himself today in the eyes of the handmaids of his servants, as one of the vain fellows shamelessly uncovers himself!&#8221;</span>
  <span class="verse" title="2 Samuel 6:21" id="2_Samuel-6-21">David said to Michal, &#8220;It was before Yahweh, who chose me above your father, and above all his house, to appoint me prince over the people of Yahweh, over Israel. Therefore will I celebrate before Yahweh.</span>
  <span class="verse" title="2 Samuel 6:22" id="2_Samuel-6-22">I will be yet more vile than this, and will be base in my own sight. But of the handmaids of whom you have spoken, they shall honor me.&#8221;</span>
  <span class="verse" title="2 Samuel 6:23" id="2_Samuel-6-23">Michal the daughter of Saul had no child to the day of her death.</span>
</div>