<div class="chapter" id="2 Samuel-008">
  <h2>2 Samuel 8</h2>
  <span class="verse" title="2 Samuel 8:1" id="2_Samuel-8-1">After this it happened that David struck the Philistines, and subdued them: and David took the bridle of the mother city out of the hand of the Philistines.</span>
  <span class="verse" title="2 Samuel 8:2" id="2_Samuel-8-2">He struck Moab, and measured them with the line, making them to lie down on the ground; and he measured two lines to put to death, and one full line to keep alive. The Moabites became servants to David, and brought tribute.</span>
  <span class="verse" title="2 Samuel 8:3" id="2_Samuel-8-3">David struck also Hadadezer the son of Rehob, king of Zobah, as he went to recover his dominion at the River.</span>
  <span class="verse" title="2 Samuel 8:4" id="2_Samuel-8-4">David took from him one thousand seven hundred horsemen, and twenty thousand footmen: and David hamstrung all the chariot horses, but reserved of them for one hundred chariots.</span>
  <span class="verse" title="2 Samuel 8:5" id="2_Samuel-8-5">When the Syrians of Damascus came to help Hadadezer king of Zobah, David struck of the Syrians two and twenty thousand men.</span>
  <span class="verse" title="2 Samuel 8:6" id="2_Samuel-8-6">Then David put garrisons in Syria of Damascus; and the Syrians became servants to David, and brought tribute. Yahweh gave victory to David wherever he went.</span>
  <span class="verse" title="2 Samuel 8:7" id="2_Samuel-8-7">David took the shields of gold that were on the servants of Hadadezer, and brought them to Jerusalem.</span>
  <span class="verse" title="2 Samuel 8:8" id="2_Samuel-8-8">From Betah and from Berothai, cities of Hadadezer, king David took exceeding much brass.</span>
  <span class="verse" title="2 Samuel 8:9" id="2_Samuel-8-9">When Toi king of Hamath heard that David had struck all the army of Hadadezer,</span>
  <span class="verse" title="2 Samuel 8:10" id="2_Samuel-8-10">then Toi sent Joram his son to king David, to Greet him, and to bless him, because he had fought against Hadadezer and struck him: for Hadadezer had wars with Toi. Joram brought with him vessels of silver, and vessels of gold, and vessels of brass:</span>
  <span class="verse" title="2 Samuel 8:11" id="2_Samuel-8-11">King David also dedicated these to Yahweh, with the silver and gold that he dedicated of all the nations which he subdued;</span>
  <span class="verse" title="2 Samuel 8:12" id="2_Samuel-8-12">of Syria, and of Moab, and of the children of Ammon, and of the Philistines, and of Amalek, and of the spoil of Hadadezer, son of Rehob, king of Zobah.</span>
  <span class="verse" title="2 Samuel 8:13" id="2_Samuel-8-13">David earned a reputation when he returned from smiting the Syrians in the Valley of Salt, even eighteen thousand men.</span>
  <span class="verse" title="2 Samuel 8:14" id="2_Samuel-8-14">He put garrisons in Edom; throughout all Edom put he garrisons, and all the Edomites became servants to David. Yahweh gave victory to David wherever he went.</span>
  <span class="verse" title="2 Samuel 8:15" id="2_Samuel-8-15">David reigned over all Israel; and David executed justice and righteousness to all his people.</span>
  <span class="verse" title="2 Samuel 8:16" id="2_Samuel-8-16">Joab the son of Zeruiah was over the army; and Jehoshaphat the son of Ahilud was recorder;</span>
  <span class="verse" title="2 Samuel 8:17" id="2_Samuel-8-17">and Zadok the son of Ahitub, and Ahimelech the son of Abiathar, were priests; and Seraiah was scribe;</span>
  <span class="verse" title="2 Samuel 8:18" id="2_Samuel-8-18">and Benaiah the son of Jehoiada was over the Cherethites and the Pelethites; and David&#8217;s sons were chief ministers.</span>
</div>