<div class="chapter" id="2 Samuel-009">
  <h2>2 Samuel 9</h2>
  <span class="verse" title="2 Samuel 9:1" id="2_Samuel-9-1">David said, &#8220;Is there yet any who is left of the house of Saul, that I may show him kindness for Jonathan&#8217;s sake?&#8221;</span>
  <span class="verse" title="2 Samuel 9:2" id="2_Samuel-9-2">There was of the house of Saul a servant whose name was Ziba, and they called him to David; and the king said to him, &#8220;Are you Ziba?&#8221; He said, &#8220;Your servant is he.&#8221;</span>
  <span class="verse" title="2 Samuel 9:3" id="2_Samuel-9-3">The king said, &#8220;Is there not yet any of the house of Saul, that I may show the kindness of God to him?&#8221; Ziba said to the king, &#8220;Jonathan has yet a son, who is lame of his feet.&#8221;</span>
  <span class="verse" title="2 Samuel 9:4" id="2_Samuel-9-4">The king said to him, &#8220;Where is he?&#8221; Ziba said to the king, &#8220;Behold, he is in the house of Machir the son of Ammiel, in Lo Debar.&#8221;</span>
  <span class="verse" title="2 Samuel 9:5" id="2_Samuel-9-5">Then king David sent, and fetched him out of the house of Machir the son of Ammiel, from Lo Debar.</span>
  <span class="verse" title="2 Samuel 9:6" id="2_Samuel-9-6">Mephibosheth, the son of Jonathan, the son of Saul, came to David, and fell on his face, and showed respect. David said, &#8220;Mephibosheth.&#8221; He answered, &#8220;Behold, your servant!&#8221;</span>
  <span class="verse" title="2 Samuel 9:7" id="2_Samuel-9-7">David said to him, &#8220;Don&#8217;t be afraid of him; for I will surely show you kindness for Jonathan your father&#8217;s sake, and will restore to you all the land of Saul your father. You shall eat bread at my table continually.&#8221;</span>
  <span class="verse" title="2 Samuel 9:8" id="2_Samuel-9-8">He bowed down, and said, &#8220;What is your servant, that you should look on such a dead dog as I am?&#8221;</span>
  <span class="verse" title="2 Samuel 9:9" id="2_Samuel-9-9">Then the king called to Ziba, Saul&#8217;s servant, and said to him, &#8220;All that pertained to Saul and to all his house have I given to your master&#8217;s son.</span>
  <span class="verse" title="2 Samuel 9:10" id="2_Samuel-9-10">You shall till the land for him, you, and your sons, and your servants; and you shall bring in the harvest, that your master&#8217;s son may have bread to eat: but Mephibosheth your master&#8217;s son shall eat bread always at my table.&#8221; Now Ziba had fifteen sons and twenty servants.</span>
  <span class="verse" title="2 Samuel 9:11" id="2_Samuel-9-11">Then Ziba said to the king, &#8220;According to all that my lord the king commands his servant, so your shall servant do.&#8221; So Mephibosheth ate at the king&#8217;s table, like one of the king&#8217;s sons.</span>
  <span class="verse" title="2 Samuel 9:12" id="2_Samuel-9-12">Mephibosheth had a young son, whose name was Mica. All that lived in the house of Ziba were servants to Mephibosheth.</span>
  <span class="verse" title="2 Samuel 9:13" id="2_Samuel-9-13">So Mephibosheth lived in Jerusalem; for he ate continually at the king&#8217;s table. He was lame in both his feet.</span>
</div>