<div class="chapter" id="2 Samuel-023">
  <h2>2 Samuel 23</h2>
  <span class="verse" title="2 Samuel 23:1" id="2_Samuel-23-1">Now these are the last words of David.  David the son of Jesse says,<br/> <span class="indent">&nbsp;&nbsp;</span>the man who was raised on high says,<br/> <span class="indent">&nbsp;&nbsp;</span>the anointed of the God of Jacob,<br/> <span class="indent">&nbsp;&nbsp;</span>the sweet psalmist of Israel:<br/></span>
  <span class="verse" title="2 Samuel 23:2" id="2_Samuel-23-2">&#8220;The Spirit of Yahweh spoke by me.<br/> <span class="indent">&nbsp;&nbsp;</span>His word was on my tongue.<br/></span>
  <span class="verse" title="2 Samuel 23:3" id="2_Samuel-23-3">The God of Israel said,<br/> <span class="indent">&nbsp;&nbsp;</span>the Rock of Israel spoke to me,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;One who rules over men righteously,<br/> <span class="indent">&nbsp;&nbsp;</span>who rules in the fear of God,<br/></span>
  <span class="verse" title="2 Samuel 23:4" id="2_Samuel-23-4">shall be as the light of the morning, when the sun rises,<br/> <span class="indent">&nbsp;&nbsp;</span>a morning without clouds,<br/> <span class="indent">&nbsp;&nbsp;</span>when the tender grass springs out of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>through clear shining after rain.&#8217;<br/></span>
  <span class="verse" title="2 Samuel 23:5" id="2_Samuel-23-5">Most certainly my house is not so with God,<br/> <span class="indent">&nbsp;&nbsp;</span>yet he has made with me an everlasting covenant,<br/> <span class="indent">&nbsp;&nbsp;</span>ordered in all things, and sure,<br/> <span class="indent">&nbsp;&nbsp;</span>for it is all my salvation, and all my desire,<br/> <span class="indent">&nbsp;&nbsp;</span>although he doesn&#8217;t make it grow.<br/></span>
  <span class="verse" title="2 Samuel 23:6" id="2_Samuel-23-6">But all of the ungodly shall be as thorns to be thrust away,<br/> <span class="indent">&nbsp;&nbsp;</span>because they can&#8217;t be taken with the hand,<br/></span>
  <span class="verse" title="2 Samuel 23:7" id="2_Samuel-23-7">But the man who touches them must be armed with iron and the staff of a spear.<br/>   They shall be utterly burned with fire in their place.&#8221;<br/></span>
  <span class="verse" title="2 Samuel 23:8" id="2_Samuel-23-8">These are the names of the mighty men whom David had: Josheb Basshebeth a Tahchemonite, chief of the captains; the same was Adino the Eznite, against eight hundred slain at one time.</span>
  <span class="verse" title="2 Samuel 23:9" id="2_Samuel-23-9">After him was Eleazar the son of Dodai the son of an Ahohite, one of the three mighty men with David, when they defied the Philistines who were there gathered together to battle, and the men of Israel were gone away.</span>
  <span class="verse" title="2 Samuel 23:10" id="2_Samuel-23-10">He arose, and struck the Philistines until his hand was weary, and his hand froze to the sword; and Yahweh worked a great victory that day; and the people returned after him only to take spoil.</span>
  <span class="verse" title="2 Samuel 23:11" id="2_Samuel-23-11">After him was Shammah the son of Agee a Hararite. The Philistines were gathered together into a troop, where there was a plot of ground full of lentils; and the people fled from the Philistines.</span>
  <span class="verse" title="2 Samuel 23:12" id="2_Samuel-23-12">But he stood in the midst of the plot, and defended it, and killed the Philistines; and Yahweh worked a great victory.</span>
  <span class="verse" title="2 Samuel 23:13" id="2_Samuel-23-13">Three of the thirty chief men went down, and came to David in the harvest time to the cave of Adullam; and the troop of the Philistines was encamped in the valley of Rephaim.</span>
  <span class="verse" title="2 Samuel 23:14" id="2_Samuel-23-14">David was then in the stronghold; and the garrison of the Philistines was then in Bethlehem.</span>
  <span class="verse" title="2 Samuel 23:15" id="2_Samuel-23-15">David longed, and said, &#8220;Oh that one would give me water to drink of the well of Bethlehem, which is by the gate!&#8221;</span>
  <span class="verse" title="2 Samuel 23:16" id="2_Samuel-23-16">The three mighty men broke through the army of the Philistines, and drew water out of the well of Bethlehem, that was by the gate, and took it, and brought it to David: but he would not drink of it, but poured it out to Yahweh.</span>
  <span class="verse" title="2 Samuel 23:17" id="2_Samuel-23-17">He said, &#8220;Be it far from me, Yahweh, that I should do this! Isn&#8217;t it the blood of the men who went in jeopardy of their lives?&#8221; Therefore he would not drink it. The three mighty men did these things.</span>
  <span class="verse" title="2 Samuel 23:18" id="2_Samuel-23-18">Abishai, the brother of Joab, the son of Zeruiah, was chief of the three. He lifted up his spear against three hundred and killed them, and had a name among the three.</span>
  <span class="verse" title="2 Samuel 23:19" id="2_Samuel-23-19">Wasn&#8217;t he most honorable of the three? therefore he was made their captain: however he didn&#8217;t attain to the three.</span>
  <span class="verse" title="2 Samuel 23:20" id="2_Samuel-23-20">Benaiah the son of Jehoiada, the son of a valiant man of Kabzeel, who had done mighty deeds, he killed the two sons of Ariel of Moab: he went down also and killed a lion in the midst of a pit in time of snow.</span>
  <span class="verse" title="2 Samuel 23:21" id="2_Samuel-23-21">He killed an Egyptian, a goodly man: and the Egyptian had a spear in his hand; but he went down to him with a staff, and plucked the spear out of the Egyptian&#8217;s hand, and killed him with his own spear.</span>
  <span class="verse" title="2 Samuel 23:22" id="2_Samuel-23-22">Benaiah the son of Jehoiada did these things, and had a name among the three mighty men.</span>
  <span class="verse" title="2 Samuel 23:23" id="2_Samuel-23-23">He was more honorable than the thirty, but he didn&#8217;t attain to the three. David set him over his guard.</span>
  <span class="verse" title="2 Samuel 23:24" id="2_Samuel-23-24">Asahel the brother of Joab was one of the thirty; Elhanan the son of Dodo of Bethlehem,</span>
  <span class="verse" title="2 Samuel 23:25" id="2_Samuel-23-25">Shammah the Harodite, Elika the Harodite,</span>
  <span class="verse" title="2 Samuel 23:26" id="2_Samuel-23-26">Helez the Paltite, Ira the son of Ikkesh the Tekoite,</span>
  <span class="verse" title="2 Samuel 23:27" id="2_Samuel-23-27">Abiezer the Anathothite, Mebunnai the Hushathite,</span>
  <span class="verse" title="2 Samuel 23:28" id="2_Samuel-23-28">Zalmon the Ahohite, Maharai the Netophathite,</span>
  <span class="verse" title="2 Samuel 23:29" id="2_Samuel-23-29">Heleb the son of Baanah the Netophathite, Ittai the son of Ribai of Gibeah of the children of Benjamin,</span>
  <span class="verse" title="2 Samuel 23:30" id="2_Samuel-23-30">Benaiah a Pirathonite, Hiddai of the brooks of Gaash.</span>
  <span class="verse" title="2 Samuel 23:31" id="2_Samuel-23-31">Abialbon the Arbathite, Azmaveth the Barhumite,</span>
  <span class="verse" title="2 Samuel 23:32" id="2_Samuel-23-32">Eliahba the Shaalbonite, the sons of Jashen, Jonathan,</span>
  <span class="verse" title="2 Samuel 23:33" id="2_Samuel-23-33">Shammah the Hararite, Ahiam the son of Sharar the Ararite,</span>
  <span class="verse" title="2 Samuel 23:34" id="2_Samuel-23-34">Eliphelet the son of Ahasbai, the son of the Maacathite, Eliam the son of Ahithophel the Gilonite,</span>
  <span class="verse" title="2 Samuel 23:35" id="2_Samuel-23-35">Hezro the Carmelite, Paarai the Arbite,</span>
  <span class="verse" title="2 Samuel 23:36" id="2_Samuel-23-36">Igal the son of Nathan of Zobah, Bani the Gadite,</span>
  <span class="verse" title="2 Samuel 23:37" id="2_Samuel-23-37">Zelek the Ammonite, Naharai the Beerothite, armor bearers to Joab the son of Zeruiah,</span>
  <span class="verse" title="2 Samuel 23:38" id="2_Samuel-23-38">Ira the Ithrite, Gareb the Ithrite,</span>
  <span class="verse" title="2 Samuel 23:39" id="2_Samuel-23-39">Uriah the Hittite: thirty-seven in all.</span>
</div>