<% if message.attachments.any? %>
  <p>
    <strong>Attachments:</strong><br/>
    <% message.attachments.each do |attachment| %>
      <%= link_to image_tag('attachment.gif', :alt => 'Attachment', :class => 'icon'), view_message_attachment_path(attachment) %>
      <%= link_to attachment.name, view_message_attachment_path(attachment) %>
      (<%= number_to_human_size attachment.file_size %>)
      <br/>
    <% end %>
  </p>
<% end %>