<% if @message.to %>
  <h1>Email Message to <%=h @message.to.name %></h1>
  <p>
    This will send a <em>private</em> email.
  </p>
<% elsif @message.group %>
  <h1>Group Message to <%=h @message.group.name %></h1>
  <p>
    This will send an email to <%=h @message.group.name %>.
    <% unless @group.private? %>
      <strong>This group is not private, so messages posted here will be visible by people who aren't members of this group.</strong>
    <% end %>
  </p>
<% end %>

<%= render :partial => 'form_with_preview' %>
