<div class="chapter" id="Jeremiah-001">
  <h2>Jeremiah 1</h2>
  <span class="verse" title="Jeremiah 1:1" id="Jeremiah-1-1">The words of Jeremiah the son of Hilkiah, of the priests who were in Anathoth in the land of Benjamin:</span>
  <span class="verse" title="Jeremiah 1:2" id="Jeremiah-1-2">to whom the word of Yahweh came in the days of Josiah the son of Amon, king of Judah, in the thirteenth year of his reign.</span>
  <span class="verse" title="Jeremiah 1:3" id="Jeremiah-1-3">It came also in the days of Jehoiakim the son of Josiah, king of Judah, to the end of the eleventh year of Zedekiah, the son of Josiah, king of Judah, to the carrying away of Jerusalem captive in the fifth month.</span>
  <span class="verse" title="Jeremiah 1:4" id="Jeremiah-1-4">Now the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Jeremiah 1:5" id="Jeremiah-1-5">&#8220;Before I formed you in the belly, I knew you. Before you came forth out of the womb, I sanctified you. I have appointed you a prophet to the nations.&#8221;</span>
  <span class="verse" title="Jeremiah 1:6" id="Jeremiah-1-6">Then I said, &#8220;Ah, Lord Yahweh! Behold, I don&#8217;t know how to speak; for I am a child.&#8221;</span>
  <span class="verse" title="Jeremiah 1:7" id="Jeremiah-1-7">But Yahweh said to me, &#8220;Don&#8217;t say, &#8216;I am a child;&#8217; for to whoever I shall send you, you shall go, and whatever I shall command you, you shall speak.</span>
  <span class="verse" title="Jeremiah 1:8" id="Jeremiah-1-8">Don&#8217;t be afraid because of them; for I am with you to deliver you,&#8221; says Yahweh.</span>
  <span class="verse" title="Jeremiah 1:9" id="Jeremiah-1-9">Then Yahweh put forth his hand, and touched my mouth; and Yahweh said to me, &#8220;Behold, I have put my words in your mouth.</span>
  <span class="verse" title="Jeremiah 1:10" id="Jeremiah-1-10">Behold, I have this day set you over the nations and over the kingdoms, to pluck up and to break down and to destroy and to overthrow, to build and to plant.&#8221;</span>
  <span class="verse" title="Jeremiah 1:11" id="Jeremiah-1-11">Moreover the word of Yahweh came to me, saying, &#8220;Jeremiah, what do you see?&#8221; I said, &#8220;I see a branch of an almond tree.&#8221;</span>
  <span class="verse" title="Jeremiah 1:12" id="Jeremiah-1-12">Then Yahweh said to me, &#8220;You have seen well; for I watch over my word to perform it.&#8221;</span>
  <span class="verse" title="Jeremiah 1:13" id="Jeremiah-1-13">The word of Yahweh came to me the second time, saying, &#8220;What do you see?&#8221; I said, &#8220;I see a boiling caldron; and it is tipping away from the north.&#8221;</span>
  <span class="verse" title="Jeremiah 1:14" id="Jeremiah-1-14">Then Yahweh said to me, &#8220;Out of the north evil will break out on all the inhabitants of the land.</span>
  <span class="verse" title="Jeremiah 1:15" id="Jeremiah-1-15">For, behold, I will call all the families of the kingdoms of the north,&#8221; says Yahweh; &#8220;and they shall come, and they shall each set his throne at the entrance of the gates of Jerusalem, and against all its walls all around, and against all the cities of Judah.</span>
  <span class="verse" title="Jeremiah 1:16" id="Jeremiah-1-16">I will utter my judgments against them touching all their wickedness, in that they have forsaken me, and have burned incense to other gods, and worshiped the works of their own hands.</span>
  <span class="verse" title="Jeremiah 1:17" id="Jeremiah-1-17">&#8220;You therefore put your belt on your waist, arise, and speak to them all that I command you. Don&#8217;t be dismayed at them, lest I dismay you before them.</span>
  <span class="verse" title="Jeremiah 1:18" id="Jeremiah-1-18">For, behold, I have made you this day a fortified city, and an iron pillar, and bronze walls, against the whole land, against the kings of Judah, against its princes, against its priests, and against the people of the land.</span>
  <span class="verse" title="Jeremiah 1:19" id="Jeremiah-1-19">They will fight against you; but they will not prevail against you; for I am with you,&#8221; says Yahweh, &#8220;to deliver you.&#8221;</span>
</div>