<div class="chapter" id="Jeremiah-010">
  <h2>Jeremiah 10</h2>
  <span class="verse" title="Jeremiah 10:1" id="Jeremiah-10-1">Hear the word which Yahweh speaks to you, house of Israel!</span>
  <span class="verse" title="Jeremiah 10:2" id="Jeremiah-10-2">Thus says Yahweh, &#8220;Don&#8217;t learn the way of the nations, and don&#8217;t be dismayed at the signs of the sky; for the nations are dismayed at them.</span>
  <span class="verse" title="Jeremiah 10:3" id="Jeremiah-10-3">For the customs of the peoples are vanity; for one cuts a tree out of the forest, the work of the hands of the workman with the axe.</span>
  <span class="verse" title="Jeremiah 10:4" id="Jeremiah-10-4">They deck it with silver and with gold; they fasten it with nails and with hammers, that it not move.</span>
  <span class="verse" title="Jeremiah 10:5" id="Jeremiah-10-5">They are like a palm tree, of turned work, and don&#8217;t speak: they must be carried, because they can&#8217;t go. Don&#8217;t be afraid of them; for they can&#8217;t do evil, neither is it in them to do good.&#8221;</span>
  <span class="verse" title="Jeremiah 10:6" id="Jeremiah-10-6">There is none like you, Yahweh; you are great, and your name is great in might.</span>
  <span class="verse" title="Jeremiah 10:7" id="Jeremiah-10-7">Who should not fear you, King of the nations? For it appertains to you; because among all the wise men of the nations, and in all their royal estate, there is none like you.</span>
  <span class="verse" title="Jeremiah 10:8" id="Jeremiah-10-8">But they are together brutish and foolish: the instruction of idols! it is but a stock.</span>
  <span class="verse" title="Jeremiah 10:9" id="Jeremiah-10-9">There is silver beaten into plates, which is brought from Tarshish, and gold from Uphaz, the work of the artificer and of the hands of the goldsmith; blue and purple for their clothing; they are all the work of skillful men.</span>
  <span class="verse" title="Jeremiah 10:10" id="Jeremiah-10-10">But Yahweh is the true God; he is the living God, and an everlasting King: at his wrath the earth trembles, and the nations are not able to withstand his indignation.</span>
  <span class="verse" title="Jeremiah 10:11" id="Jeremiah-10-11">You shall say this to them: The gods that have not made the heavens and the earth, these shall perish from the earth, and from under the heavens.</span>
  <span class="verse" title="Jeremiah 10:12" id="Jeremiah-10-12">He has made the earth by his power, he has established the world by his wisdom, and by his understanding has he stretched out the heavens:</span>
  <span class="verse" title="Jeremiah 10:13" id="Jeremiah-10-13">when he utters his voice, there is a tumult of waters in the heavens, and he causes the vapors to ascend from the ends of the earth; he makes lightnings for the rain, and brings forth the wind out of his treasuries.</span>
  <span class="verse" title="Jeremiah 10:14" id="Jeremiah-10-14">Every man has become brutish and without knowledge; every goldsmith is disappointed by his engraved image; for his molten image is falsehood, and there is no breath in them.</span>
  <span class="verse" title="Jeremiah 10:15" id="Jeremiah-10-15">They are vanity, a work of delusion: in the time of their visitation they shall perish.</span>
  <span class="verse" title="Jeremiah 10:16" id="Jeremiah-10-16">The portion of Jacob is not like these; for he is the former of all things; and Israel is the tribe of his inheritance: Yahweh of Armies is his name.</span>
  <span class="verse" title="Jeremiah 10:17" id="Jeremiah-10-17">Gather up your wares out of the land, you who live under siege.</span>
  <span class="verse" title="Jeremiah 10:18" id="Jeremiah-10-18">For thus says Yahweh, Behold, I will sling out the inhabitants of the land at this time, and will distress them, that they may feel it.</span>
  <span class="verse" title="Jeremiah 10:19" id="Jeremiah-10-19">Woe is me because of my hurt! my wound is grievous: but I said, Truly this is my grief, and I must bear it.</span>
  <span class="verse" title="Jeremiah 10:20" id="Jeremiah-10-20">My tent is destroyed, and all my cords are broken: my children are gone forth from me, and they are no more: there is none to spread my tent any more, and to set up my curtains.</span>
  <span class="verse" title="Jeremiah 10:21" id="Jeremiah-10-21">For the shepherds are become brutish, and have not inquired of Yahweh: therefore they have not prospered, and all their flocks are scattered.</span>
  <span class="verse" title="Jeremiah 10:22" id="Jeremiah-10-22">The voice of news, behold, it comes, and a great commotion out of the north country, to make the cities of Judah a desolation, a dwelling place of jackals.</span>
  <span class="verse" title="Jeremiah 10:23" id="Jeremiah-10-23">Yahweh, I know that the way of man is not in himself: it is not in man who walks to direct his steps.</span>
  <span class="verse" title="Jeremiah 10:24" id="Jeremiah-10-24">Yahweh, correct me, but in measure: not in your anger, lest you bring me to nothing.</span>
  <span class="verse" title="Jeremiah 10:25" id="Jeremiah-10-25">Pour out your wrath on the nations that don&#8217;t know you, and on the families that don&#8217;t call on your name: for they have devoured Jacob, yes, they have devoured him and consumed him, and have laid waste his habitation.</span>
</div>