<div class="chapter" id="Jeremiah-013">
  <h2>Jeremiah 13</h2>
  <span class="verse" title="Jeremiah 13:1" id="Jeremiah-13-1">Thus says Yahweh to me, Go, and buy yourself a linen belt, and put it on your waist, and don&#8217;t put it in water.</span>
  <span class="verse" title="Jeremiah 13:2" id="Jeremiah-13-2">So I bought a belt according to the word of Yahweh, and put it on my waist.</span>
  <span class="verse" title="Jeremiah 13:3" id="Jeremiah-13-3">The word of Yahweh came to me the second time, saying,</span>
  <span class="verse" title="Jeremiah 13:4" id="Jeremiah-13-4">Take the belt that you have bought, which is on your waist, and arise, go to the Euphrates, and hide it there in a cleft of the rock.</span>
  <span class="verse" title="Jeremiah 13:5" id="Jeremiah-13-5">So I went, and hid it by the Euphrates, as Yahweh commanded me.</span>
  <span class="verse" title="Jeremiah 13:6" id="Jeremiah-13-6">It happened after many days, that Yahweh said to me, Arise, go to the Euphrates, and take the belt from there, which I commanded you to hide there.</span>
  <span class="verse" title="Jeremiah 13:7" id="Jeremiah-13-7">Then I went to the Euphrates, and dug, and took the belt from the place where I had hidden it; and behold, the belt was marred, it was profitable for nothing.</span>
  <span class="verse" title="Jeremiah 13:8" id="Jeremiah-13-8">Then the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Jeremiah 13:9" id="Jeremiah-13-9">Thus says Yahweh, In this way I will mar the pride of Judah, and the great pride of Jerusalem.</span>
  <span class="verse" title="Jeremiah 13:10" id="Jeremiah-13-10">This evil people, who refuse to hear my words, who walk in the stubbornness of their heart, and are gone after other gods to serve them, and to worship them, shall even be as this belt, which is profitable for nothing.</span>
  <span class="verse" title="Jeremiah 13:11" id="Jeremiah-13-11">For as the belt clings to the waist of a man, so have I caused to cling to me the whole house of Israel and the whole house of Judah, says Yahweh; that they may be to me for a people, and for a name, and for a praise, and for a glory: but they would not hear.</span>
  <span class="verse" title="Jeremiah 13:12" id="Jeremiah-13-12">Therefore you shall speak to them this word: Thus says Yahweh, the God of Israel, Every bottle shall be filled with wine: and they shall tell you, Do we not certainly know that every bottle shall be filled with wine?</span>
  <span class="verse" title="Jeremiah 13:13" id="Jeremiah-13-13">Then you shall tell them, Thus says Yahweh, Behold, I will fill all the inhabitants of this land, even the kings who sit on David&#8217;s throne, and the priests, and the prophets, and all the inhabitants of Jerusalem, with drunkenness.</span>
  <span class="verse" title="Jeremiah 13:14" id="Jeremiah-13-14">I will dash them one against another, even the fathers and the sons together, says Yahweh: I will not pity, nor spare, nor have compassion, that I should not destroy them.</span>
  <span class="verse" title="Jeremiah 13:15" id="Jeremiah-13-15">Hear, and give ear; don&#8217;t be proud; for Yahweh has spoken.</span>
  <span class="verse" title="Jeremiah 13:16" id="Jeremiah-13-16">Give glory to Yahweh your God, before he causes darkness, and before your feet stumble on the dark mountains, and, while you look for light, he turns it into the shadow of death, and makes it gross darkness.</span>
  <span class="verse" title="Jeremiah 13:17" id="Jeremiah-13-17">But if you will not hear it, my soul shall weep in secret for your pride; and my eye shall weep bitterly, and run down with tears, because Yahweh&#8217;s flock is taken captive.</span>
  <span class="verse" title="Jeremiah 13:18" id="Jeremiah-13-18">Say to the king and to the queen mother, Humble yourselves, sit down; for your headdresses have come down, even the crown of your glory.</span>
  <span class="verse" title="Jeremiah 13:19" id="Jeremiah-13-19">The cities of the South are shut up, and there is none to open them: Judah is carried away captive, all of it; it is wholly carried away captive.</span>
  <span class="verse" title="Jeremiah 13:20" id="Jeremiah-13-20">Lift up your eyes, and see those who come from the north: where is the flock that was given you, your beautiful flock?</span>
  <span class="verse" title="Jeremiah 13:21" id="Jeremiah-13-21">What will you say, when he shall set over you as head those whom you have yourself taught to be friends to you? shall not sorrows take hold of you, as of a woman in travail?</span>
  <span class="verse" title="Jeremiah 13:22" id="Jeremiah-13-22">If you say in your heart, Why are these things come on me? for the greatness of your iniquity are your skirts uncovered, and your heels suffer violence.</span>
  <span class="verse" title="Jeremiah 13:23" id="Jeremiah-13-23">Can the Ethiopian change his skin, or the leopard his spots? then may you also do good, who are accustomed to do evil.</span>
  <span class="verse" title="Jeremiah 13:24" id="Jeremiah-13-24">Therefore will I scatter them, as the stubble that passes away, by the wind of the wilderness.</span>
  <span class="verse" title="Jeremiah 13:25" id="Jeremiah-13-25">This is your lot, the portion measured to you from me, says Yahweh; because you have forgotten me, and trusted in falsehood.</span>
  <span class="verse" title="Jeremiah 13:26" id="Jeremiah-13-26">Therefore will I also uncover your skirts on your face, and your shame shall appear.</span>
  <span class="verse" title="Jeremiah 13:27" id="Jeremiah-13-27">I have seen your abominations, even your adulteries, and your neighing, the lewdness of your prostitution, on the hills in the field. Woe to you, Jerusalem! You will not be made clean; how long shall it yet be?</span>
</div>