<div class="chapter" id="Jeremiah-018">
  <h2>Jeremiah 18</h2>
  <span class="verse" title="Jeremiah 18:1" id="Jeremiah-18-1">The word which came to Jeremiah from Yahweh, saying,</span>
  <span class="verse" title="Jeremiah 18:2" id="Jeremiah-18-2">Arise, and go down to the potter&#8217;s house, and there I will cause you to hear my words.</span>
  <span class="verse" title="Jeremiah 18:3" id="Jeremiah-18-3">Then I went down to the potter&#8217;s house, and behold, he was making a work on the wheels.</span>
  <span class="verse" title="Jeremiah 18:4" id="Jeremiah-18-4">When the vessel that he made of the clay was marred in the hand of the potter, he made it again another vessel, as seemed good to the potter to make it.</span>
  <span class="verse" title="Jeremiah 18:5" id="Jeremiah-18-5">Then the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Jeremiah 18:6" id="Jeremiah-18-6">House of Israel, can&#8217;t I do with you as this potter? says Yahweh. Behold, as the clay in the potter&#8217;s hand, so are you in my hand, house of Israel.</span>
  <span class="verse" title="Jeremiah 18:7" id="Jeremiah-18-7">At what instant I shall speak concerning a nation, and concerning a kingdom, to pluck up and to break down and to destroy it;</span>
  <span class="verse" title="Jeremiah 18:8" id="Jeremiah-18-8">if that nation, concerning which I have spoken, turn from their evil, I will repent of the evil that I thought to do to them.</span>
  <span class="verse" title="Jeremiah 18:9" id="Jeremiah-18-9">At what instant I shall speak concerning a nation, and concerning a kingdom, to build and to plant it;</span>
  <span class="verse" title="Jeremiah 18:10" id="Jeremiah-18-10">if they do that which is evil in my sight, that they not obey my voice, then I will repent of the good, with which I said I would benefit them.</span>
  <span class="verse" title="Jeremiah 18:11" id="Jeremiah-18-11">Now therefore, speak to the men of Judah, and to the inhabitants of Jerusalem, saying, Thus says Yahweh: Behold, I frame evil against you, and devise a device against you: return you now everyone from his evil way, and amend your ways and your doings.</span>
  <span class="verse" title="Jeremiah 18:12" id="Jeremiah-18-12">But they say, It is in vain; for we will walk after our own devices, and we will do everyone after the stubbornness of his evil heart.</span>
  <span class="verse" title="Jeremiah 18:13" id="Jeremiah-18-13">Therefore thus says Yahweh: Ask now among the nations, who has heard such things; the virgin of Israel has done a very horrible thing.</span>
  <span class="verse" title="Jeremiah 18:14" id="Jeremiah-18-14">Shall the snow of Lebanon fail from the rock of the field? Shall the cold waters that flow down from afar be dried up?</span>
  <span class="verse" title="Jeremiah 18:15" id="Jeremiah-18-15">For my people have forgotten me, they have burned incense to false gods; and they have been made to stumble in their ways, in the ancient paths, to walk in byways, in a way not built up;</span>
  <span class="verse" title="Jeremiah 18:16" id="Jeremiah-18-16">to make their land an astonishment, and a perpetual hissing; everyone who passes thereby shall be astonished, and shake his head.</span>
  <span class="verse" title="Jeremiah 18:17" id="Jeremiah-18-17">I will scatter them as with an east wind before the enemy; I will show them the back, and not the face, in the day of their calamity.</span>
  <span class="verse" title="Jeremiah 18:18" id="Jeremiah-18-18">Then they said, Come, and let us devise devices against Jeremiah; for the law shall not perish from the priest, nor counsel from the wise, nor the word from the prophet. Come, and let us strike him with the tongue, and let us not give heed to any of his words.</span>
  <span class="verse" title="Jeremiah 18:19" id="Jeremiah-18-19">Give heed to me, Yahweh, and listen to the voice of those who contend with me.</span>
  <span class="verse" title="Jeremiah 18:20" id="Jeremiah-18-20">Shall evil be recompensed for good? for they have dug a pit for my soul. Remember how I stood before you to speak good for them, to turn away your wrath from them.</span>
  <span class="verse" title="Jeremiah 18:21" id="Jeremiah-18-21">Therefore deliver up their children to the famine, and give them over to the power of the sword; and let their wives become childless, and widows; and let their men be slain of death, and their young men struck of the sword in battle.</span>
  <span class="verse" title="Jeremiah 18:22" id="Jeremiah-18-22">Let a cry be heard from their houses, when you shall bring a troop suddenly on them; for they have dug a pit to take me, and hid snares for my feet.</span>
  <span class="verse" title="Jeremiah 18:23" id="Jeremiah-18-23">Yet, Yahweh, you know all their counsel against me to kill me; don&#8217;t forgive their iniquity, neither blot out their sin from your sight; but let them be overthrown before you; deal you with them in the time of your anger.</span>
</div>