<div class="chapter" id="Jeremiah-022">
  <h2>Jeremiah 22</h2>
  <span class="verse" title="Jeremiah 22:1" id="Jeremiah-22-1">Thus said Yahweh: Go down to the house of the king of Judah, and speak there this word,</span>
  <span class="verse" title="Jeremiah 22:2" id="Jeremiah-22-2">Say, Hear the word of Yahweh, king of Judah, who sits on the throne of David, you, and your servants, and your people who enter in by these gates.</span>
  <span class="verse" title="Jeremiah 22:3" id="Jeremiah-22-3">Thus says Yahweh: Execute justice and righteousness, and deliver him who is robbed out of the hand of the oppressor: and do no wrong, do no violence, to the foreigner, the fatherless, nor the widow; neither shed innocent blood in this place.</span>
  <span class="verse" title="Jeremiah 22:4" id="Jeremiah-22-4">For if you do this thing indeed, then shall there enter in by the gates of this house kings sitting on the throne of David, riding in chariots and on horses, he, and his servants, and his people.</span>
  <span class="verse" title="Jeremiah 22:5" id="Jeremiah-22-5">But if you will not hear these words, I swear by myself, says Yahweh, that this house shall become a desolation.</span>
  <span class="verse" title="Jeremiah 22:6" id="Jeremiah-22-6">For thus says Yahweh concerning the house of the king of Judah: You are Gilead to me, the head of Lebanon. Yet surely I will make you a wilderness, cities which are not inhabited.</span>
  <span class="verse" title="Jeremiah 22:7" id="Jeremiah-22-7">I will prepare destroyers against you, everyone with his weapons; and they shall cut down your choice cedars, and cast them into the fire.</span>
  <span class="verse" title="Jeremiah 22:8" id="Jeremiah-22-8">Many nations shall pass by this city, and they shall say every man to his neighbor, Why has Yahweh done thus to this great city?</span>
  <span class="verse" title="Jeremiah 22:9" id="Jeremiah-22-9">Then they shall answer, Because they forsook the covenant of Yahweh their God, and worshiped other gods, and served them.</span>
  <span class="verse" title="Jeremiah 22:10" id="Jeremiah-22-10">Don&#8217;t weep for the dead, neither bemoan him; but weep bitterly for him who goes away; for he shall return no more, nor see his native country.</span>
  <span class="verse" title="Jeremiah 22:11" id="Jeremiah-22-11">For thus says Yahweh touching Shallum the son of Josiah, king of Judah, who reigned instead of Josiah his father, and who went forth out of this place: He shall not return there any more.</span>
  <span class="verse" title="Jeremiah 22:12" id="Jeremiah-22-12">But in the place where they have led him captive, there shall he die, and he shall see this land no more.</span>
  <span class="verse" title="Jeremiah 22:13" id="Jeremiah-22-13">Woe to him who builds his house by unrighteousness, and his rooms by injustice; who uses his neighbor&#8217;s service without wages, and doesn&#8217;t give him his hire;</span>
  <span class="verse" title="Jeremiah 22:14" id="Jeremiah-22-14">who says, I will build me a wide house and spacious rooms, and cuts him out windows; and it is ceiling with cedar, and painted with vermilion.</span>
  <span class="verse" title="Jeremiah 22:15" id="Jeremiah-22-15">Shall you reign, because you strive to excel in cedar? Didn&#8217;t your father eat and drink, and do justice and righteousness? then it was well with him.</span>
  <span class="verse" title="Jeremiah 22:16" id="Jeremiah-22-16">He judged the cause of the poor and needy; then it was well. Wasn&#8217;t this to know me? says Yahweh.</span>
  <span class="verse" title="Jeremiah 22:17" id="Jeremiah-22-17">But your eyes and your heart are not but for your covetousness, and for shedding innocent blood, and for oppression, and for violence, to do it.</span>
  <span class="verse" title="Jeremiah 22:18" id="Jeremiah-22-18">Therefore thus says Yahweh concerning Jehoiakim the son of Josiah, king of Judah: they shall not lament for him, saying, Ah my brother! or, Ah sister! They shall not lament for him, saying Ah lord! or, Ah his glory!</span>
  <span class="verse" title="Jeremiah 22:19" id="Jeremiah-22-19">He shall be buried with the burial of a donkey, drawn and cast forth beyond the gates of Jerusalem.</span>
  <span class="verse" title="Jeremiah 22:20" id="Jeremiah-22-20">Go up to Lebanon, and cry; and lift up your voice in Bashan, and cry from Abarim; for all your lovers are destroyed.</span>
  <span class="verse" title="Jeremiah 22:21" id="Jeremiah-22-21">I spoke to you in your prosperity; but you said, I will not hear. This has been your way from your youth, that you didn&#8217;t obey my voice.</span>
  <span class="verse" title="Jeremiah 22:22" id="Jeremiah-22-22">The wind shall feed all your shepherds, and your lovers shall go into captivity: surely then you will be ashamed and confounded for all your wickedness.</span>
  <span class="verse" title="Jeremiah 22:23" id="Jeremiah-22-23">Inhabitant of Lebanon, who makes your nest in the cedars, how greatly to be pitied you will be when pangs come on you, the pain as of a woman in travail!</span>
  <span class="verse" title="Jeremiah 22:24" id="Jeremiah-22-24">As I live, says Yahweh, though Coniah the son of Jehoiakim king of Judah were the signet on my right hand, yet would I pluck you there;</span>
  <span class="verse" title="Jeremiah 22:25" id="Jeremiah-22-25">and I will give you into the hand of those who seek your life, and into the hand of them of whom you are afraid, even into the hand of Nebuchadnezzar king of Babylon, and into the hand of the Chaldeans.</span>
  <span class="verse" title="Jeremiah 22:26" id="Jeremiah-22-26">I will cast you out, and your mother who bore you, into another country, where you were not born; and there you will die.</span>
  <span class="verse" title="Jeremiah 22:27" id="Jeremiah-22-27">But to the land whereunto their soul longs to return, there shall they not return.</span>
  <span class="verse" title="Jeremiah 22:28" id="Jeremiah-22-28">Is this man Coniah a despised broken vessel? is he a vessel in which none delights? why are they cast out, he and his seed, and are cast into the land which they don&#8217;t know?</span>
  <span class="verse" title="Jeremiah 22:29" id="Jeremiah-22-29">O earth, earth, earth, hear the word of Yahweh.</span>
  <span class="verse" title="Jeremiah 22:30" id="Jeremiah-22-30">Thus says Yahweh, Write you this man childless, a man who shall not prosper in his days; for no more shall a man of his seed prosper, sitting on the throne of David, and ruling in Judah.</span>
</div>