<div class="chapter" id="Jeremiah-024">
  <h2>Jeremiah 24</h2>
  <span class="verse" title="Jeremiah 24:1" id="Jeremiah-24-1">Yahweh showed me, and behold, two baskets of figs set before the temple of Yahweh, after that Nebuchadnezzar king of Babylon had carried away captive Jeconiah the son of Jehoiakim, king of Judah, and the princes of Judah, with the craftsmen and smiths, from Jerusalem, and had brought them to Babylon.</span>
  <span class="verse" title="Jeremiah 24:2" id="Jeremiah-24-2">One basket had very good figs, like the figs that are first-ripe; and the other basket had very bad figs, which could not be eaten, they were so bad.</span>
  <span class="verse" title="Jeremiah 24:3" id="Jeremiah-24-3">Then Yahweh said to me, What do you see, Jeremiah? I said, Figs; the good figs, very good; and the bad, very bad, that can&#8217;t be eaten, they are so bad.</span>
  <span class="verse" title="Jeremiah 24:4" id="Jeremiah-24-4">The word of Yahweh came to me, saying,</span>
  <span class="verse" title="Jeremiah 24:5" id="Jeremiah-24-5">Thus says Yahweh, the God of Israel: Like these good figs, so will I regard the captives of Judah, whom I have sent out of this place into the land of the Chaldeans, for good.</span>
  <span class="verse" title="Jeremiah 24:6" id="Jeremiah-24-6">For I will set my eyes on them for good, and I will bring them again to this land: and I will build them, and not pull them down; and I will plant them, and not pluck them up.</span>
  <span class="verse" title="Jeremiah 24:7" id="Jeremiah-24-7">I will give them a heart to know me, that I am Yahweh: and they shall be my people, and I will be their God; for they shall return to me with their whole heart.</span>
  <span class="verse" title="Jeremiah 24:8" id="Jeremiah-24-8">As the bad figs, which can&#8217;t be eaten, they are so bad, surely thus says Yahweh, So will I give up Zedekiah the king of Judah, and his princes, and the residue of Jerusalem, who remain in this land, and those who dwell in the land of Egypt,</span>
  <span class="verse" title="Jeremiah 24:9" id="Jeremiah-24-9">I will even give them up to be tossed back and forth among all the kingdoms of the earth for evil; to be a reproach and a proverb, a taunt and a curse, in all places where I shall drive them.</span>
  <span class="verse" title="Jeremiah 24:10" id="Jeremiah-24-10">I will send the sword, the famine, and the pestilence, among them, until they be consumed from off the land that I gave to them and to their fathers.</span>
</div>