<div class="chapter" id="Jeremiah-045">
  <h2>Jeremiah 45</h2>
  <span class="verse" title="Jeremiah 45:1" id="Jeremiah-45-1">The message that Jeremiah the prophet spoke to Baruch the son of Neriah, when he wrote these words in a book at the mouth of Jeremiah, in the fourth year of Jehoiakim the son of Josiah, king of Judah, saying,</span>
  <span class="verse" title="Jeremiah 45:2" id="Jeremiah-45-2">Thus says Yahweh, the God of Israel, to you, Baruch:</span>
  <span class="verse" title="Jeremiah 45:3" id="Jeremiah-45-3">You said, Woe is me now! for Yahweh has added sorrow to my pain; I am weary with my groaning, and I find no rest.</span>
  <span class="verse" title="Jeremiah 45:4" id="Jeremiah-45-4">You shall tell him, Thus says Yahweh: Behold, that which I have built will I break down, and that which I have planted I will pluck up; and this in the whole land.</span>
  <span class="verse" title="Jeremiah 45:5" id="Jeremiah-45-5">Do you seek great things for yourself? Don&#8217;t seek them; for, behold, I will bring evil on all flesh, says Yahweh; but your life will I give to you for a prey in all places where you go.</span>
</div>