<div class="chapter" id="Jeremiah-047">
  <h2>Jeremiah 47</h2>
  <span class="verse" title="Jeremiah 47:1" id="Jeremiah-47-1">The word of Yahweh that came to Jeremiah the prophet concerning the Philistines, before that Pharaoh struck Gaza.</span>
  <span class="verse" title="Jeremiah 47:2" id="Jeremiah-47-2">Thus says Yahweh: Behold, waters rise up out of the north, and shall become an overflowing stream, and shall overflow the land and all that is therein, the city and those who dwell therein; and the men shall cry, and all the inhabitants of the land shall wail.</span>
  <span class="verse" title="Jeremiah 47:3" id="Jeremiah-47-3">At the noise of the stamping of the hoofs of his strong ones, at the rushing of his chariots, at the rumbling of his wheels, the fathers don&#8217;t look back to their children for feebleness of hands;</span>
  <span class="verse" title="Jeremiah 47:4" id="Jeremiah-47-4">because of the day that comes to destroy all the Philistines, to cut off from Tyre and Sidon every helper who remains: for Yahweh will destroy the Philistines, the remnant of the isle of Caphtor.</span>
  <span class="verse" title="Jeremiah 47:5" id="Jeremiah-47-5">Baldness has come on Gaza; Ashkelon is brought to nothing, the remnant of their valley: how long will you cut yourself?</span>
  <span class="verse" title="Jeremiah 47:6" id="Jeremiah-47-6">You sword of Yahweh, how long will it be before you be quiet? Put up yourself into your scabbard; rest, and be still.</span>
  <span class="verse" title="Jeremiah 47:7" id="Jeremiah-47-7">How can you be quiet, since Yahweh has given you a command? Against Ashkelon, and against the seashore, there has he appointed it.</span>
</div>