<div class="chapter" id="Jeremiah-048">
  <h2>Jeremiah 48</h2>
  <span class="verse" title="Jeremiah 48:1" id="Jeremiah-48-1">Of Moab. Thus says Yahweh of Armies, the God of Israel: Woe to Nebo! for it is laid waste; Kiriathaim is disappointed, it is taken; Misgab is put to shame and broken down.</span>
  <span class="verse" title="Jeremiah 48:2" id="Jeremiah-48-2">The praise of Moab is no more; in Heshbon they have devised evil against her: Come, and let us cut her off from being a nation. You also, Madmen, shall be brought to silence: the sword shall pursue you.</span>
  <span class="verse" title="Jeremiah 48:3" id="Jeremiah-48-3">The sound of a cry from Horonaim, desolation and great destruction!</span>
  <span class="verse" title="Jeremiah 48:4" id="Jeremiah-48-4">Moab is destroyed; her little ones have caused a cry to be heard.</span>
  <span class="verse" title="Jeremiah 48:5" id="Jeremiah-48-5">For by the ascent of Luhith with continual weeping shall they go up; for at the descent of Horonaim they have heard the distress of the cry of destruction.</span>
  <span class="verse" title="Jeremiah 48:6" id="Jeremiah-48-6">Flee, save your lives, and be like the heath in the wilderness.</span>
  <span class="verse" title="Jeremiah 48:7" id="Jeremiah-48-7">For, because you have trusted in your works and in your treasures, you also shall be taken: and Chemosh shall go forth into captivity, his priests and his princes together.</span>
  <span class="verse" title="Jeremiah 48:8" id="Jeremiah-48-8">The destroyer shall come on every city, and no city shall escape; the valley also shall perish, and the plain shall be destroyed; as Yahweh has spoken.</span>
  <span class="verse" title="Jeremiah 48:9" id="Jeremiah-48-9">Give wings to Moab, that she may fly and get her away: and her cities shall become a desolation, without any to dwell therein.</span>
  <span class="verse" title="Jeremiah 48:10" id="Jeremiah-48-10">Cursed is he who does the work of Yahweh negligently; and cursed is he who keeps back his sword from blood.</span>
  <span class="verse" title="Jeremiah 48:11" id="Jeremiah-48-11">Moab has been at ease from his youth, and he has settled on his lees, and has not been emptied from vessel to vessel, neither has he gone into captivity: therefore his taste remains in him, and his scent is not changed.</span>
  <span class="verse" title="Jeremiah 48:12" id="Jeremiah-48-12">Therefore, behold, the days come, says Yahweh, that I will send to him those who pour off, and they shall pour him off; and they shall empty his vessels, and break their bottles in pieces.</span>
  <span class="verse" title="Jeremiah 48:13" id="Jeremiah-48-13">Moab shall be ashamed of Chemosh, as the house of Israel was ashamed of Bethel their confidence.</span>
  <span class="verse" title="Jeremiah 48:14" id="Jeremiah-48-14">How do you say, We are mighty men, and valiant men for the war?</span>
  <span class="verse" title="Jeremiah 48:15" id="Jeremiah-48-15">Moab is laid waste, and they are gone up into his cities, and his chosen young men are gone down to the slaughter, says the King, whose name is Yahweh of Armies.</span>
  <span class="verse" title="Jeremiah 48:16" id="Jeremiah-48-16">The calamity of Moab is near to come, and his affliction hurries fast.</span>
  <span class="verse" title="Jeremiah 48:17" id="Jeremiah-48-17">All you who are around him, bemoan him, and all you who know his name; say, How is the strong staff broken, the beautiful rod!</span>
  <span class="verse" title="Jeremiah 48:18" id="Jeremiah-48-18">You daughter who dwells in Dibon, come down from your glory, and sit in thirst; for the destroyer of Moab has come up against you, he has destroyed your strongholds.</span>
  <span class="verse" title="Jeremiah 48:19" id="Jeremiah-48-19">Inhabitant of Aroer, stand by the way, and watch: ask him who flees, and her who escapes; say, What has been done?</span>
  <span class="verse" title="Jeremiah 48:20" id="Jeremiah-48-20">Moab is disappointed; for it is broken down: wail and cry; tell it by the Arnon, that Moab is laid waste.</span>
  <span class="verse" title="Jeremiah 48:21" id="Jeremiah-48-21">Judgment has come on the plain country, on Holon, and on Jahzah, and on Mephaath,</span>
  <span class="verse" title="Jeremiah 48:22" id="Jeremiah-48-22">and on Dibon, and on Nebo, and on Beth Diblathaim,</span>
  <span class="verse" title="Jeremiah 48:23" id="Jeremiah-48-23">and on Kiriathaim, and on Beth Gamul, and on Beth Meon,</span>
  <span class="verse" title="Jeremiah 48:24" id="Jeremiah-48-24">and on Kerioth, and on Bozrah, and on all the cities of the land of Moab, far or near.</span>
  <span class="verse" title="Jeremiah 48:25" id="Jeremiah-48-25">The horn of Moab is cut off, and his arm is broken, says Yahweh.</span>
  <span class="verse" title="Jeremiah 48:26" id="Jeremiah-48-26">Make him drunken; for he magnified himself against Yahweh: and Moab shall wallow in his vomit, and he also shall be in derision.</span>
  <span class="verse" title="Jeremiah 48:27" id="Jeremiah-48-27">For wasn&#8217;t Israel a derision to you? was he found among thieves? for as often as you speak of him, you shake your head.</span>
  <span class="verse" title="Jeremiah 48:28" id="Jeremiah-48-28">You inhabitants of Moab, leave the cities, and dwell in the rock; and be like the dove that makes her nest over the mouth of the abyss.</span>
  <span class="verse" title="Jeremiah 48:29" id="Jeremiah-48-29">We have heard of the pride of Moab. He is very proud; his loftiness, and his pride, and his arrogance, and the haughtiness of his heart.</span>
  <span class="verse" title="Jeremiah 48:30" id="Jeremiah-48-30">I know his wrath, says Yahweh, that it is nothing; his boastings have worked nothing.</span>
  <span class="verse" title="Jeremiah 48:31" id="Jeremiah-48-31">Therefore will I wail for Moab; yes, I will cry out for all Moab: for the men of Kir Heres shall they mourn.</span>
  <span class="verse" title="Jeremiah 48:32" id="Jeremiah-48-32">With more than the weeping of Jazer will I weep for you, vine of Sibmah: your branches passed over the sea, they reached even to the sea of Jazer: on your summer fruits and on your vintage the destroyer is fallen.</span>
  <span class="verse" title="Jeremiah 48:33" id="Jeremiah-48-33">Gladness and joy is taken away from the fruitful field and from the land of Moab; and I have caused wine to cease from the wine presses: none shall tread with shouting; the shouting shall be no shouting.</span>
  <span class="verse" title="Jeremiah 48:34" id="Jeremiah-48-34">From the cry of Heshbon even to Elealeh, even to Jahaz have they uttered their voice, from Zoar even to Horonaim, to Eglath Shelishiyah: for the waters of Nimrim also shall become desolate.</span>
  <span class="verse" title="Jeremiah 48:35" id="Jeremiah-48-35">Moreover I will cause to cease in Moab, says Yahweh, him who offers in the high place, and him who burns incense to his gods.</span>
  <span class="verse" title="Jeremiah 48:36" id="Jeremiah-48-36">Therefore my heart sounds for Moab like pipes, and my heart sounds like pipes for the men of Kir Heres: therefore the abundance that he has gotten is perished.</span>
  <span class="verse" title="Jeremiah 48:37" id="Jeremiah-48-37">For every head is bald, and every beard clipped: on all the hands are cuttings, and on the waist sackcloth.</span>
  <span class="verse" title="Jeremiah 48:38" id="Jeremiah-48-38">On all the housetops of Moab and in its streets there is lamentation every where; for I have broken Moab like a vessel in which none delights, says Yahweh.</span>
  <span class="verse" title="Jeremiah 48:39" id="Jeremiah-48-39">How it is broken down! How they wail! How Moab has turned the back with shame! So shall Moab become a derision and a terror to all who are around him.</span>
  <span class="verse" title="Jeremiah 48:40" id="Jeremiah-48-40">For thus says Yahweh: Behold, he shall fly as an eagle, and shall spread out his wings against Moab.</span>
  <span class="verse" title="Jeremiah 48:41" id="Jeremiah-48-41">Kerioth is taken, and the strongholds are seized, and the heart of the mighty men of Moab at that day shall be as the heart of a woman in her pangs.</span>
  <span class="verse" title="Jeremiah 48:42" id="Jeremiah-48-42">Moab shall be destroyed from being a people, because he has magnified himself against Yahweh.</span>
  <span class="verse" title="Jeremiah 48:43" id="Jeremiah-48-43">Fear, and the pit, and the snare, are on you, inhabitant of Moab, says Yahweh.</span>
  <span class="verse" title="Jeremiah 48:44" id="Jeremiah-48-44">He who flees from the fear shall fall into the pit; and he who gets up out of the pit shall be taken in the snare: for I will bring on him, even on Moab, the year of their visitation, says Yahweh.</span>
  <span class="verse" title="Jeremiah 48:45" id="Jeremiah-48-45">Those who fled stand without strength under the shadow of Heshbon; for a fire is gone forth out of Heshbon, and a flame from the midst of Sihon, and has devoured the corner of Moab, and the crown of the head of the tumultuous ones.</span>
  <span class="verse" title="Jeremiah 48:46" id="Jeremiah-48-46">Woe to you, O Moab! the people of Chemosh is undone; for your sons are taken away captive, and your daughters into captivity.</span>
  <span class="verse" title="Jeremiah 48:47" id="Jeremiah-48-47">Yet will I bring back the captivity of Moab in the latter days, says Yahweh. Thus far is the judgment of Moab.</span>
</div>