<div class="chapter" id="3 John-001">
  <h2>3 John 1</h2>
  <span class="verse" title="3 John 1:1" id="3_John-1-1">The elder to Gaius the beloved, whom I love in truth.</span>
  <span class="verse" title="3 John 1:2" id="3_John-1-2">Beloved, I pray that you may prosper in all things and be healthy, even as your soul prospers.</span>
  <span class="verse" title="3 John 1:3" id="3_John-1-3">For I rejoiced greatly, when brothers came and testified about your truth, even as you walk in truth.</span>
  <span class="verse" title="3 John 1:4" id="3_John-1-4">I have no greater joy than this, to hear about my children walking in truth.</span>
  <span class="verse" title="3 John 1:5" id="3_John-1-5">Beloved, you do a faithful work in whatever you accomplish for those who are brothers and strangers.</span>
  <span class="verse" title="3 John 1:6" id="3_John-1-6">They have testified about your love before the assembly. You will do well to send them forward on their journey in a way worthy of God,</span>
  <span class="verse" title="3 John 1:7" id="3_John-1-7">because for the sake of the Name they went out, taking nothing from the Gentiles.</span>
  <span class="verse" title="3 John 1:8" id="3_John-1-8">We therefore ought to receive such, that we may be fellow workers for the truth.</span>
  <span class="verse" title="3 John 1:9" id="3_John-1-9">I wrote to the assembly, but Diotrephes, who loves to be first among them, doesn&#8217;t accept what we say.</span>
  <span class="verse" title="3 John 1:10" id="3_John-1-10">Therefore, if I come, I will call attention to his deeds which he does, unjustly accusing us with wicked words. Not content with this, neither does he himself receive the brothers, and those who would, he forbids and throws out of the assembly.</span>
  <span class="verse" title="3 John 1:11" id="3_John-1-11">Beloved, don&#8217;t imitate that which is evil, but that which is good. He who does good is of God. He who does evil hasn&#8217;t seen God.</span>
  <span class="verse" title="3 John 1:12" id="3_John-1-12">Demetrius has the testimony of all, and of the truth itself; yes, we also testify, and you know that our testimony is true.</span>
  <span class="verse" title="3 John 1:13" id="3_John-1-13">I had many things to write to you, but I am unwilling to write to you with ink and pen;</span>
  <span class="verse" title="3 John 1:14" id="3_John-1-14">but I hope to see you soon, and we will speak face to face. Peace be to you. The friends greet you. Greet the friends by name.</span>
</div>