<div class="chapter" id="Titus-001">
  <h2>Titus 1</h2>
  <span class="verse" title="Titus 1:1" id="Titus-1-1">Paul, a servant of God, and an apostle of Jesus Christ, according to the faith of God&#8217;s chosen ones, and the knowledge of the truth which is according to godliness,</span>
  <span class="verse" title="Titus 1:2" id="Titus-1-2">in hope of eternal life, which God, who can&#8217;t lie, promised before time began;</span>
  <span class="verse" title="Titus 1:3" id="Titus-1-3">but in his own time revealed his word in the message with which I was entrusted according to the commandment of God our Savior;</span>
  <span class="verse" title="Titus 1:4" id="Titus-1-4">to Titus, my true child according to a common faith: Grace, mercy, and peace from God the Father and the Lord Jesus Christ our Savior.</span>
  <span class="verse" title="Titus 1:5" id="Titus-1-5">I left you in Crete for this reason, that you would set in order the things that were lacking, and appoint elders in every city, as I directed you;</span>
  <span class="verse" title="Titus 1:6" id="Titus-1-6">if anyone is blameless, the husband of one wife, having children who believe, who are not accused of loose or unruly behavior.</span>
  <span class="verse" title="Titus 1:7" id="Titus-1-7">For the overseer must be blameless, as God&#8217;s steward; not self-pleasing, not easily angered, not given to wine, not violent, not greedy for dishonest gain;</span>
  <span class="verse" title="Titus 1:8" id="Titus-1-8">but given to hospitality, a lover of good, sober minded, fair, holy, self-controlled;</span>
  <span class="verse" title="Titus 1:9" id="Titus-1-9">holding to the faithful word which is according to the teaching, that he may be able to exhort in the sound doctrine, and to convict those who contradict him.</span>
  <span class="verse" title="Titus 1:10" id="Titus-1-10">For there are also many unruly men, vain talkers and deceivers, especially those of the circumcision,</span>
  <span class="verse" title="Titus 1:11" id="Titus-1-11">whose mouths must be stopped; men who overthrow whole houses, teaching things which they ought not, for dishonest gain&#8217;s sake.</span>
  <span class="verse" title="Titus 1:12" id="Titus-1-12">One of them, a prophet of their own, said, &#8220;Cretans are always liars, evil beasts, and idle gluttons.&#8221;</span>
  <span class="verse" title="Titus 1:13" id="Titus-1-13">This testimony is true. For this cause, reprove them sharply, that they may be sound in the faith,</span>
  <span class="verse" title="Titus 1:14" id="Titus-1-14">not paying attention to Jewish fables and commandments of men who turn away from the truth.</span>
  <span class="verse" title="Titus 1:15" id="Titus-1-15">To the pure, all things are pure; but to those who are defiled and unbelieving, nothing is pure; but both their mind and their conscience are defiled.</span>
  <span class="verse" title="Titus 1:16" id="Titus-1-16">They profess that they know God, but by their works they deny him, being abominable, disobedient, and unfit for any good work.</span>
</div>