<div class="chapter" id="Titus-002">
  <h2>Titus 2</h2>
  <span class="verse" title="Titus 2:1" id="Titus-2-1">But say the things which fit sound doctrine,</span>
  <span class="verse" title="Titus 2:2" id="Titus-2-2">that older men should be temperate, sensible, sober minded, sound in faith, in love, and in patience:</span>
  <span class="verse" title="Titus 2:3" id="Titus-2-3">and that older women likewise be reverent in behavior, not slanderers nor enslaved to much wine, teachers of that which is good;</span>
  <span class="verse" title="Titus 2:4" id="Titus-2-4">that they may train the young women to love their husbands, to love their children,</span>
  <span class="verse" title="Titus 2:5" id="Titus-2-5">to be sober minded, chaste, workers at home, kind, being in subjection to their own husbands, that God&#8217;s word may not be blasphemed.</span>
  <span class="verse" title="Titus 2:6" id="Titus-2-6">Likewise, exhort the younger men to be sober minded;</span>
  <span class="verse" title="Titus 2:7" id="Titus-2-7">in all things showing yourself an example of good works; in your teaching showing integrity, seriousness, incorruptibility,</span>
  <span class="verse" title="Titus 2:8" id="Titus-2-8">and soundness of speech that can&#8217;t be condemned; that he who opposes you may be ashamed, having no evil thing to say about us.</span>
  <span class="verse" title="Titus 2:9" id="Titus-2-9">Exhort servants to be in subjection to their own masters, and to be well-pleasing in all things; not contradicting;</span>
  <span class="verse" title="Titus 2:10" id="Titus-2-10">not stealing, but showing all good fidelity; that they may adorn the doctrine of God, our Savior, in all things.</span>
  <span class="verse" title="Titus 2:11" id="Titus-2-11">For the grace of God has appeared, bringing salvation to all men,</span>
  <span class="verse" title="Titus 2:12" id="Titus-2-12">instructing us to the intent that, denying ungodliness and worldly lusts, we would live soberly, righteously, and godly in this present world;</span>
  <span class="verse" title="Titus 2:13" id="Titus-2-13">looking for the blessed hope and appearing of the glory of our great God and Savior, Jesus Christ;</span>
  <span class="verse" title="Titus 2:14" id="Titus-2-14">who gave himself for us, that he might redeem us from all iniquity, and purify for himself a people for his own possession, zealous for good works.</span>
  <span class="verse" title="Titus 2:15" id="Titus-2-15">Say these things and exhort and reprove with all authority. Let no man despise you.</span>
</div>