<div class="chapter" id="Titus-003">
  <h2>Titus 3</h2>
  <span class="verse" title="Titus 3:1" id="Titus-3-1">Remind them to be in subjection to rulers and to authorities, to be obedient, to be ready for every good work,</span>
  <span class="verse" title="Titus 3:2" id="Titus-3-2">to speak evil of no one, not to be contentious, to be gentle, showing all humility toward all men.</span>
  <span class="verse" title="Titus 3:3" id="Titus-3-3">For we were also once foolish, disobedient, deceived, serving various lusts and pleasures, living in malice and envy, hateful, and hating one another.</span>
  <span class="verse" title="Titus 3:4" id="Titus-3-4">But when the kindness of God our Savior and his love toward mankind appeared,</span>
  <span class="verse" title="Titus 3:5" id="Titus-3-5">not by works of righteousness, which we did ourselves, but according to his mercy, he saved us, through the washing of regeneration and renewing by the Holy Spirit,</span>
  <span class="verse" title="Titus 3:6" id="Titus-3-6">whom he poured out on us richly, through Jesus Christ our Savior;</span>
  <span class="verse" title="Titus 3:7" id="Titus-3-7">that, being justified by his grace, we might be made heirs according to the hope of eternal life.</span>
  <span class="verse" title="Titus 3:8" id="Titus-3-8">This saying is faithful, and concerning these things I desire that you affirm confidently, so that those who have believed God may be careful to maintain good works. These things are good and profitable to men;</span>
  <span class="verse" title="Titus 3:9" id="Titus-3-9">but shun foolish questionings, genealogies, strife, and disputes about the law; for they are unprofitable and vain.</span>
  <span class="verse" title="Titus 3:10" id="Titus-3-10">Avoid a factious man after a first and second warning;</span>
  <span class="verse" title="Titus 3:11" id="Titus-3-11">knowing that such a one is perverted, and sins, being self-condemned.</span>
  <span class="verse" title="Titus 3:12" id="Titus-3-12">When I send Artemas to you, or Tychicus, be diligent to come to me to Nicopolis, for I have determined to winter there.</span>
  <span class="verse" title="Titus 3:13" id="Titus-3-13">Send Zenas, the lawyer, and Apollos on their journey speedily, that nothing may be lacking for them.</span>
  <span class="verse" title="Titus 3:14" id="Titus-3-14">Let our people also learn to maintain good works for necessary uses, that they may not be unfruitful.</span>
  <span class="verse" title="Titus 3:15" id="Titus-3-15">All who are with me greet you. Greet those who love us in faith. Grace be with you all. Amen.</span>
</div>