<div class="chapter" id="Luke-001">
  <h2>Luke 1</h2>
  <span class="verse" title="Luke 1:1" id="Luke-1-1">Since many have undertaken to set in order a narrative concerning those matters which have been fulfilled among us,</span>
  <span class="verse" title="Luke 1:2" id="Luke-1-2">even as those who from the beginning were eyewitnesses and servants of the word delivered them to us,</span>
  <span class="verse" title="Luke 1:3" id="Luke-1-3">it seemed good to me also, having traced the course of all things accurately from the first, to write to you in order, most excellent Theophilus;</span>
  <span class="verse" title="Luke 1:4" id="Luke-1-4">that you might know the certainty concerning the things in which you were instructed.</span>
  <span class="verse" title="Luke 1:5" id="Luke-1-5">There was in the days of Herod, the king of Judea, a certain priest named Zacharias, of the priestly division of Abijah. He had a wife of the daughters of Aaron, and her name was Elizabeth.</span>
  <span class="verse" title="Luke 1:6" id="Luke-1-6">They were both righteous before God, walking blamelessly in all the commandments and ordinances of the Lord.</span>
  <span class="verse" title="Luke 1:7" id="Luke-1-7">But they had no child, because Elizabeth was barren, and they both were well advanced in years.</span>
  <span class="verse" title="Luke 1:8" id="Luke-1-8">Now it happened, while he executed the priest&#8217;s office before God in the order of his division,</span>
  <span class="verse" title="Luke 1:9" id="Luke-1-9">according to the custom of the priest&#8217;s office, his lot was to enter into the temple of the Lord and burn incense.</span>
  <span class="verse" title="Luke 1:10" id="Luke-1-10">The whole multitude of the people were praying outside at the hour of incense.</span>
  <span class="verse" title="Luke 1:11" id="Luke-1-11">An angel of the Lord appeared to him, standing on the right side of the altar of incense.</span>
  <span class="verse" title="Luke 1:12" id="Luke-1-12">Zacharias was troubled when he saw him, and fear fell upon him.</span>
  <span class="verse" title="Luke 1:13" id="Luke-1-13">But the angel said to him, &#8220;Don&#8217;t be afraid, Zacharias, because your request has been heard, and your wife, Elizabeth, will bear you a son, and you shall call his name John.</span>
  <span class="verse" title="Luke 1:14" id="Luke-1-14">You will have joy and gladness; and many will rejoice at his birth.</span>
  <span class="verse" title="Luke 1:15" id="Luke-1-15">For he will be great in the sight of the Lord, and he will drink no wine nor strong drink. He will be filled with the Holy Spirit, even from his mother&#8217;s womb.</span>
  <span class="verse" title="Luke 1:16" id="Luke-1-16">He will turn many of the children of Israel to the Lord, their God.</span>
  <span class="verse" title="Luke 1:17" id="Luke-1-17">He will go before him in the spirit and power of Elijah, &#8216;to turn the hearts of the fathers to the children,&#8217; and the disobedient to the wisdom of the just; to prepare a people prepared for the Lord.&#8221;</span>
  <span class="verse" title="Luke 1:18" id="Luke-1-18">Zacharias said to the angel, &#8220;How can I be sure of this? For I am an old man, and my wife is well advanced in years.&#8221;</span>
  <span class="verse" title="Luke 1:19" id="Luke-1-19">The angel answered him, &#8220;I am Gabriel, who stands in the presence of God. I was sent to speak to you, and to bring you this good news.</span>
  <span class="verse" title="Luke 1:20" id="Luke-1-20">Behold, you will be silent and not able to speak, until the day that these things will happen, because you didn&#8217;t believe my words, which will be fulfilled in their proper time.&#8221;</span>
  <span class="verse" title="Luke 1:21" id="Luke-1-21">The people were waiting for Zacharias, and they marveled that he delayed in the temple.</span>
  <span class="verse" title="Luke 1:22" id="Luke-1-22">When he came out, he could not speak to them, and they perceived that he had seen a vision in the temple. He continued making signs to them, and remained mute.</span>
  <span class="verse" title="Luke 1:23" id="Luke-1-23">It happened, when the days of his service were fulfilled, he departed to his house.</span>
  <span class="verse" title="Luke 1:24" id="Luke-1-24">After these days Elizabeth, his wife, conceived, and she hid herself five months, saying,</span>
  <span class="verse" title="Luke 1:25" id="Luke-1-25">&#8220;Thus has the Lord done to me in the days in which he looked at me, to take away my reproach among men.&#8221;</span>
  <span class="verse" title="Luke 1:26" id="Luke-1-26">Now in the sixth month, the angel Gabriel was sent from God to a city of Galilee, named Nazareth,</span>
  <span class="verse" title="Luke 1:27" id="Luke-1-27">to a virgin pledged to be married to a man whose name was Joseph, of the house of David. The virgin&#8217;s name was Mary.</span>
  <span class="verse" title="Luke 1:28" id="Luke-1-28">Having come in, the angel said to her, &#8220;Rejoice, you highly favored one! The Lord is with you. Blessed are you among women!&#8221;</span>
  <span class="verse" title="Luke 1:29" id="Luke-1-29">But when she saw him, she was greatly troubled at the saying, and considered what kind of salutation this might be.</span>
  <span class="verse" title="Luke 1:30" id="Luke-1-30">The angel said to her, &#8220;Don&#8217;t be afraid, Mary, for you have found favor with God.</span>
  <span class="verse" title="Luke 1:31" id="Luke-1-31">Behold, you will conceive in your womb, and bring forth a son, and will call his name &#8216;Jesus.&#8217;</span>
  <span class="verse" title="Luke 1:32" id="Luke-1-32">He will be great, and will be called the Son of the Most High. The Lord God will give him the throne of his father, David,</span>
  <span class="verse" title="Luke 1:33" id="Luke-1-33">and he will reign over the house of Jacob forever. There will be no end to his Kingdom.&#8221;</span>
  <span class="verse" title="Luke 1:34" id="Luke-1-34">Mary said to the angel, &#8220;How can this be, seeing I am a virgin?&#8221;</span>
  <span class="verse" title="Luke 1:35" id="Luke-1-35">The angel answered her, &#8220;The Holy Spirit will come on you, and the power of the Most High will overshadow you. Therefore also the holy one who is born from you will be called the Son of God.</span>
  <span class="verse" title="Luke 1:36" id="Luke-1-36">Behold, Elizabeth, your relative, also has conceived a son in her old age; and this is the sixth month with her who was called barren.</span>
  <span class="verse" title="Luke 1:37" id="Luke-1-37">For everything spoken by God is possible.&#8221;</span>
  <span class="verse" title="Luke 1:38" id="Luke-1-38">Mary said, &#8220;Behold, the handmaid of the Lord; be it to me according to your word.&#8221; The angel departed from her.</span>
  <span class="verse" title="Luke 1:39" id="Luke-1-39">Mary arose in those days and went into the hill country with haste, into a city of Judah,</span>
  <span class="verse" title="Luke 1:40" id="Luke-1-40">and entered into the house of Zacharias and greeted Elizabeth.</span>
  <span class="verse" title="Luke 1:41" id="Luke-1-41">It happened, when Elizabeth heard Mary&#8217;s greeting, that the baby leaped in her womb, and Elizabeth was filled with the Holy Spirit.</span>
  <span class="verse" title="Luke 1:42" id="Luke-1-42">She called out with a loud voice, and said, &#8220;Blessed are you among women, and blessed is the fruit of your womb!</span>
  <span class="verse" title="Luke 1:43" id="Luke-1-43">Why am I so favored, that the mother of my Lord should come to me?</span>
  <span class="verse" title="Luke 1:44" id="Luke-1-44">For behold, when the voice of your greeting came into my ears, the baby leaped in my womb for joy!</span>
  <span class="verse" title="Luke 1:45" id="Luke-1-45">Blessed is she who believed, for there will be a fulfillment of the things which have been spoken to her from the Lord!&#8221;</span>
  <span class="verse" title="Luke 1:46" id="Luke-1-46">Mary said,  &#8220;My soul magnifies the Lord.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:47" id="Luke-1-47">My spirit has rejoiced in God my Savior,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:48" id="Luke-1-48">for he has looked at the humble state of his handmaid.<br/>   For behold, from now on, all generations will call me blessed.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:49" id="Luke-1-49">For he who is mighty has done great things for me.<br/> <span class="indent">&nbsp;&nbsp;</span>Holy is his name.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:50" id="Luke-1-50">His mercy is for generations of generations on those who fear him.<br/></span>
  <span class="verse" title="Luke 1:51" id="Luke-1-51">He has shown strength with his arm.<br/> <span class="indent">&nbsp;&nbsp;</span>He has scattered the proud in the imagination of their hearts.<br/></span>
  <span class="verse" title="Luke 1:52" id="Luke-1-52">He has put down princes from their thrones.<br/> <span class="indent">&nbsp;&nbsp;</span>And has exalted the lowly.<br/></span>
  <span class="verse" title="Luke 1:53" id="Luke-1-53">He has filled the hungry with good things.<br/> <span class="indent">&nbsp;&nbsp;</span>He has sent the rich away empty.<br/></span>
  <span class="verse" title="Luke 1:54" id="Luke-1-54">He has given help to Israel, his servant, that he might remember mercy,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:55" id="Luke-1-55">As he spoke to our fathers,<br/> <span class="indent">&nbsp;&nbsp;</span>to Abraham and his seed forever.&#8221;<br/></span>
  <span class="verse" title="Luke 1:56" id="Luke-1-56">Mary stayed with her about three months, and then returned to her house.</span>
  <span class="verse" title="Luke 1:57" id="Luke-1-57">Now the time that Elizabeth should give birth was fulfilled, and she brought forth a son.</span>
  <span class="verse" title="Luke 1:58" id="Luke-1-58">Her neighbors and her relatives heard that the Lord had magnified his mercy towards her, and they rejoiced with her.</span>
  <span class="verse" title="Luke 1:59" id="Luke-1-59">It happened on the eighth day, that they came to circumcise the child; and they would have called him Zacharias, after the name of the father.</span>
  <span class="verse" title="Luke 1:60" id="Luke-1-60">His mother answered, &#8220;Not so; but he will be called John.&#8221;</span>
  <span class="verse" title="Luke 1:61" id="Luke-1-61">They said to her, &#8220;There is no one among your relatives who is called by this name.&#8221;</span>
  <span class="verse" title="Luke 1:62" id="Luke-1-62">They made signs to his father, what he would have him called.</span>
  <span class="verse" title="Luke 1:63" id="Luke-1-63">He asked for a writing tablet, and wrote, &#8220;His name is John.&#8221; They all marveled.</span>
  <span class="verse" title="Luke 1:64" id="Luke-1-64">His mouth was opened immediately, and his tongue freed, and he spoke, blessing God.</span>
  <span class="verse" title="Luke 1:65" id="Luke-1-65">Fear came on all who lived around them, and all these sayings were talked about throughout all the hill country of Judea.</span>
  <span class="verse" title="Luke 1:66" id="Luke-1-66">All who heard them laid them up in their heart, saying, &#8220;What then will this child be?&#8221; The hand of the Lord was with him.</span>
  <span class="verse" title="Luke 1:67" id="Luke-1-67">His father, Zacharias, was filled with the Holy Spirit, and prophesied, saying,</span>
  <span class="verse" title="Luke 1:68" id="Luke-1-68">&#8220;Blessed be the Lord, the God of Israel,<br/> <span class="indent">&nbsp;&nbsp;</span>for he has visited and worked redemption for his people;<br/></span>
  <span class="verse" title="Luke 1:69" id="Luke-1-69">and has raised up a horn of salvation for us in the house of his servant David<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:70" id="Luke-1-70">(as he spoke by the mouth of his holy prophets who have been from of old),<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:71" id="Luke-1-71">salvation from our enemies, and from the hand of all who hate us;<br/></span>
  <span class="verse" title="Luke 1:72" id="Luke-1-72">to show mercy towards our fathers,<br/> <span class="indent">&nbsp;&nbsp;</span>to remember his holy covenant,<br/></span>
  <span class="verse" title="Luke 1:73" id="Luke-1-73">the oath which he spoke to Abraham, our father,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:74" id="Luke-1-74">to grant to us that we, being delivered out of the hand of our enemies,<br/> <span class="indent">&nbsp;&nbsp;</span>should serve him without fear,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:75" id="Luke-1-75">In holiness and righteousness before him all the days of our life.<br/></span>
  <span class="verse" title="Luke 1:76" id="Luke-1-76">And you, child, will be called a prophet of the Most High,<br/> <span class="indent">&nbsp;&nbsp;</span>for you will go before the face of the Lord to prepare his ways,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:77" id="Luke-1-77">to give knowledge of salvation to his people by the remission of their sins,<br/></span>
  <span class="verse" title="Luke 1:78" id="Luke-1-78">because of the tender mercy of our God,<br/> <span class="indent">&nbsp;&nbsp;</span>whereby the dawn from on high will visit us,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 1:79" id="Luke-1-79">to shine on those who sit in darkness and the shadow of death;<br/> <span class="indent">&nbsp;&nbsp;</span>to guide our feet into the way of peace.&#8221;<br/></span>
  <span class="verse" title="Luke 1:80" id="Luke-1-80">The child was growing, and becoming strong in spirit, and was in the desert until the day of his public appearance to Israel.</span>
</div>