<div class="chapter" id="Luke-002">
  <h2>Luke 2</h2>
  <span class="verse" title="Luke 2:1" id="Luke-2-1">Now it happened in those days, that a decree went out from Caesar Augustus that all the world should be enrolled.</span>
  <span class="verse" title="Luke 2:2" id="Luke-2-2">This was the first enrollment made when Quirinius was governor of Syria.</span>
  <span class="verse" title="Luke 2:3" id="Luke-2-3">All went to enroll themselves, everyone to his own city.</span>
  <span class="verse" title="Luke 2:4" id="Luke-2-4">Joseph also went up from Galilee, out of the city of Nazareth, into Judea, to the city of David, which is called Bethlehem, because he was of the house and family of David;</span>
  <span class="verse" title="Luke 2:5" id="Luke-2-5">to enroll himself with Mary, who was pledged to be married to him as wife, being pregnant.</span>
  <span class="verse" title="Luke 2:6" id="Luke-2-6">It happened, while they were there, that the day had come that she should give birth.</span>
  <span class="verse" title="Luke 2:7" id="Luke-2-7">She brought forth her firstborn son, and she wrapped him in bands of cloth, and laid him in a feeding trough, because there was no room for them in the inn.</span>
  <span class="verse" title="Luke 2:8" id="Luke-2-8">There were shepherds in the same country staying in the field, and keeping watch by night over their flock.</span>
  <span class="verse" title="Luke 2:9" id="Luke-2-9">Behold, an angel of the Lord stood by them, and the glory of the Lord shone around them, and they were terrified.</span>
  <span class="verse" title="Luke 2:10" id="Luke-2-10">The angel said to them, &#8220;Don&#8217;t be afraid, for behold, I bring you good news of great joy which will be to all the people.</span>
  <span class="verse" title="Luke 2:11" id="Luke-2-11">For there is born to you, this day, in the city of David, a Savior, who is Christ the Lord.</span>
  <span class="verse" title="Luke 2:12" id="Luke-2-12">This is the sign to you: you will find a baby wrapped in strips of cloth, lying in a feeding trough.&#8221;</span>
  <span class="verse" title="Luke 2:13" id="Luke-2-13">Suddenly, there was with the angel a multitude of the heavenly army praising God, and saying,</span>
  <span class="verse" title="Luke 2:14" id="Luke-2-14">&#8220;Glory to God in the highest,<br/> <span class="indent">&nbsp;&nbsp;</span>on earth peace, good will toward men.&#8221;<br/></span>
  <span class="verse" title="Luke 2:15" id="Luke-2-15">It happened, when the angels went away from them into the sky, that the shepherds said one to another, &#8220;Let&#8217;s go to Bethlehem, now, and see this thing that has happened, which the Lord has made known to us.&#8221;</span>
  <span class="verse" title="Luke 2:16" id="Luke-2-16">They came with haste, and found both Mary and Joseph, and the baby was lying in the feeding trough.</span>
  <span class="verse" title="Luke 2:17" id="Luke-2-17">When they saw it, they publicized widely the saying which was spoken to them about this child.</span>
  <span class="verse" title="Luke 2:18" id="Luke-2-18">All who heard it wondered at the things which were spoken to them by the shepherds.</span>
  <span class="verse" title="Luke 2:19" id="Luke-2-19">But Mary kept all these sayings, pondering them in her heart.</span>
  <span class="verse" title="Luke 2:20" id="Luke-2-20">The shepherds returned, glorifying and praising God for all the things that they had heard and seen, just as it was told them.</span>
  <span class="verse" title="Luke 2:21" id="Luke-2-21">When eight days were fulfilled for the circumcision of the child, his name was called Jesus, which was given by the angel before he was conceived in the womb.</span>
  <span class="verse" title="Luke 2:22" id="Luke-2-22">When the days of their purification according to the law of Moses were fulfilled, they brought him up to Jerusalem, to present him to the Lord</span>
  <span class="verse" title="Luke 2:23" id="Luke-2-23">(as it is written in the law of the Lord, &#8220;Every male who opens the womb shall be called holy to the Lord&#8221;),</span>
  <span class="verse" title="Luke 2:24" id="Luke-2-24">and to offer a sacrifice according to that which is said in the law of the Lord, &#8220;A pair of turtledoves, or two young pigeons.&#8221;</span>
  <span class="verse" title="Luke 2:25" id="Luke-2-25">Behold, there was a man in Jerusalem whose name was Simeon. This man was righteous and devout, looking for the consolation of Israel, and the Holy Spirit was on him.</span>
  <span class="verse" title="Luke 2:26" id="Luke-2-26">It had been revealed to him by the Holy Spirit that he should not see death before he had seen the Lord&#8217;s Christ.</span>
  <span class="verse" title="Luke 2:27" id="Luke-2-27">He came in the Spirit into the temple. When the parents brought in the child, Jesus, that they might do concerning him according to the custom of the law,</span>
  <span class="verse" title="Luke 2:28" id="Luke-2-28">then he received him into his arms, and blessed God, and said,</span>
  <span class="verse" title="Luke 2:29" id="Luke-2-29">&#8220;Now you are releasing your servant, Master,<br/> <span class="indent">&nbsp;&nbsp;</span>according to your word, in peace;<br/></span>
  <span class="verse" title="Luke 2:30" id="Luke-2-30">for my eyes have seen your salvation,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 2:31" id="Luke-2-31">which you have prepared before the face of all peoples;<br/></span>
  <span class="verse" title="Luke 2:32" id="Luke-2-32">a light for revelation to the nations,<br/> <span class="indent">&nbsp;&nbsp;</span>and the glory of your people Israel.&#8221;<br/></span>
  <span class="verse" title="Luke 2:33" id="Luke-2-33">Joseph and his mother were marveling at the things which were spoken concerning him,</span>
  <span class="verse" title="Luke 2:34" id="Luke-2-34">and Simeon blessed them, and said to Mary, his mother, &#8220;Behold, this child is set for the falling and the rising of many in Israel, and for a sign which is spoken against.</span>
  <span class="verse" title="Luke 2:35" id="Luke-2-35">Yes, a sword will pierce through your own soul, that the thoughts of many hearts may be revealed.&#8221;</span>
  <span class="verse" title="Luke 2:36" id="Luke-2-36">There was one Anna, a prophetess, the daughter of Phanuel, of the tribe of Asher (she was of a great age, having lived with a husband seven years from her virginity,</span>
  <span class="verse" title="Luke 2:37" id="Luke-2-37">and she had been a widow for about eighty-four years), who didn&#8217;t depart from the temple, worshipping with fastings and petitions night and day.</span>
  <span class="verse" title="Luke 2:38" id="Luke-2-38">Coming up at that very hour, she gave thanks to the Lord, and spoke of him to all those who were looking for redemption in Jerusalem.</span>
  <span class="verse" title="Luke 2:39" id="Luke-2-39">When they had accomplished all things that were according to the law of the Lord, they returned into Galilee, to their own city, Nazareth.</span>
  <span class="verse" title="Luke 2:40" id="Luke-2-40">The child was growing, and was becoming strong in spirit, being filled with wisdom, and the grace of God was upon him.</span>
  <span class="verse" title="Luke 2:41" id="Luke-2-41">His parents went every year to Jerusalem at the feast of the Passover.</span>
  <span class="verse" title="Luke 2:42" id="Luke-2-42">When he was twelve years old, they went up to Jerusalem according to the custom of the feast,</span>
  <span class="verse" title="Luke 2:43" id="Luke-2-43">and when they had fulfilled the days, as they were returning, the boy Jesus stayed behind in Jerusalem. Joseph and his mother didn&#8217;t know it,</span>
  <span class="verse" title="Luke 2:44" id="Luke-2-44">but supposing him to be in the company, they went a day&#8217;s journey, and they looked for him among their relatives and acquaintances.</span>
  <span class="verse" title="Luke 2:45" id="Luke-2-45">When they didn&#8217;t find him, they returned to Jerusalem, looking for him.</span>
  <span class="verse" title="Luke 2:46" id="Luke-2-46">It happened after three days they found him in the temple, sitting in the midst of the teachers, both listening to them, and asking them questions.</span>
  <span class="verse" title="Luke 2:47" id="Luke-2-47">All who heard him were amazed at his understanding and his answers.</span>
  <span class="verse" title="Luke 2:48" id="Luke-2-48">When they saw him, they were astonished, and his mother said to him, &#8220;Son, why have you treated us this way? Behold, your father and I were anxiously looking for you.&#8221;</span>
  <span class="verse" title="Luke 2:49" id="Luke-2-49">He said to them, &#8220;Why were you looking for me? Didn&#8217;t you know that I must be in my Father&#8217;s house?&#8221;</span>
  <span class="verse" title="Luke 2:50" id="Luke-2-50">They didn&#8217;t understand the saying which he spoke to them.</span>
  <span class="verse" title="Luke 2:51" id="Luke-2-51">And he went down with them, and came to Nazareth. He was subject to them, and his mother kept all these sayings in her heart.</span>
  <span class="verse" title="Luke 2:52" id="Luke-2-52">And Jesus increased in wisdom and stature, and in favor with God and men.</span>
</div>