<div class="chapter" id="Luke-003">
  <h2>Luke 3</h2>
  <span class="verse" title="Luke 3:1" id="Luke-3-1">Now in the fifteenth year of the reign of Tiberius Caesar, Pontius Pilate being governor of Judea, and Herod being tetrarch of Galilee, and his brother Philip tetrarch of the region of Ituraea and Trachonitis, and Lysanias tetrarch of Abilene,</span>
  <span class="verse" title="Luke 3:2" id="Luke-3-2">in the high priesthood of Annas and Caiaphas, the word of God came to John, the son of Zacharias, in the wilderness.</span>
  <span class="verse" title="Luke 3:3" id="Luke-3-3">He came into all the region around the Jordan, preaching the baptism of repentance for remission of sins.</span>
  <span class="verse" title="Luke 3:4" id="Luke-3-4">As it is written in the book of the words of Isaiah the prophet,  &#8220;The voice of one crying in the wilderness,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;Make ready the way of the Lord.<br/>   Make his paths straight.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 3:5" id="Luke-3-5">Every valley will be filled.<br/>   Every mountain and hill will be brought low.<br/> <span class="indent">&nbsp;&nbsp;</span>The crooked will become straight,<br/> <span class="indent">&nbsp;&nbsp;</span>and the rough ways smooth.<br/></span>
  <span class="verse" title="Luke 3:6" id="Luke-3-6">All flesh will see God&#8217;s salvation.&#8217;&#8221;<br/></span>
  <span class="verse" title="Luke 3:7" id="Luke-3-7">He said therefore to the multitudes who went out to be baptized by him, &#8220;You offspring of vipers, who warned you to flee from the wrath to come?</span>
  <span class="verse" title="Luke 3:8" id="Luke-3-8">Bring forth therefore fruits worthy of repentance, and don&#8217;t begin to say among yourselves, &#8216;We have Abraham for our father;&#8217; for I tell you that God is able to raise up children to Abraham from these stones!</span>
  <span class="verse" title="Luke 3:9" id="Luke-3-9">Even now the axe also lies at the root of the trees. Every tree therefore that doesn&#8217;t bring forth good fruit is cut down, and thrown into the fire.&#8221;</span>
  <span class="verse" title="Luke 3:10" id="Luke-3-10">The multitudes asked him, &#8220;What then must we do?&#8221;</span>
  <span class="verse" title="Luke 3:11" id="Luke-3-11">He answered them, &#8220;He who has two coats, let him give to him who has none. He who has food, let him do likewise.&#8221;</span>
  <span class="verse" title="Luke 3:12" id="Luke-3-12">Tax collectors also came to be baptized, and they said to him, &#8220;Teacher, what must we do?&#8221;</span>
  <span class="verse" title="Luke 3:13" id="Luke-3-13">He said to them, &#8220;Collect no more than that which is appointed to you.&#8221;</span>
  <span class="verse" title="Luke 3:14" id="Luke-3-14">Soldiers also asked him, saying, &#8220;What about us? What must we do?&#8221; He said to them, &#8220;Extort from no one by violence, neither accuse anyone wrongfully. Be content with your wages.&#8221;</span>
  <span class="verse" title="Luke 3:15" id="Luke-3-15">As the people were in expectation, and all men reasoned in their hearts concerning John, whether perhaps he was the Christ,</span>
  <span class="verse" title="Luke 3:16" id="Luke-3-16">John answered them all, &#8220;I indeed baptize you with water, but he comes who is mightier than I, the latchet of whose sandals I am not worthy to loosen. He will baptize you in the Holy Spirit and fire,</span>
  <span class="verse" title="Luke 3:17" id="Luke-3-17">whose fan is in his hand, and he will thoroughly cleanse his threshing floor, and will gather the wheat into his barn; but he will burn up the chaff with unquenchable fire.&#8221;</span>
  <span class="verse" title="Luke 3:18" id="Luke-3-18">Then with many other exhortations he preached good news to the people,</span>
  <span class="verse" title="Luke 3:19" id="Luke-3-19">but Herod the tetrarch, being reproved by him for Herodias, his brother&#8217;s wife, and for all the evil things which Herod had done,</span>
  <span class="verse" title="Luke 3:20" id="Luke-3-20">added this also to them all, that he shut up John in prison.</span>
  <span class="verse" title="Luke 3:21" id="Luke-3-21">Now it happened, when all the people were baptized, Jesus also had been baptized, and was praying. The sky was opened,</span>
  <span class="verse" title="Luke 3:22" id="Luke-3-22">and the Holy Spirit descended in a bodily form as a dove on him; and a voice came out of the sky, saying &#8220;You are my beloved Son. In you I am well pleased.&#8221;</span>
  <span class="verse" title="Luke 3:23" id="Luke-3-23">Jesus himself, when he began to teach, was about thirty years old, being the son (as was supposed) of Joseph, the son of Heli,</span>
  <span class="verse" title="Luke 3:24" id="Luke-3-24">the son of Matthat, the son of Levi, the son of Melchi, the son of Jannai, the son of Joseph,</span>
  <span class="verse" title="Luke 3:25" id="Luke-3-25">the son of Mattathias, the son of Amos, the son of Nahum, the son of Esli, the son of Naggai,</span>
  <span class="verse" title="Luke 3:26" id="Luke-3-26">the son of Maath, the son of Mattathias, the son of Semein, the son of Joseph, the son of Judah,</span>
  <span class="verse" title="Luke 3:27" id="Luke-3-27">the son of Joanan, the son of Rhesa, the son of Zerubbabel, the son of Shealtiel, the son of Neri,</span>
  <span class="verse" title="Luke 3:28" id="Luke-3-28">the son of Melchi, the son of Addi, the son of Cosam, the son of Elmodam, the son of Er,</span>
  <span class="verse" title="Luke 3:29" id="Luke-3-29">the son of Jose, the son of Eliezer, the son of Jorim, the son of Matthat, the son of Levi,</span>
  <span class="verse" title="Luke 3:30" id="Luke-3-30">the son of Simeon, the son of Judah, the son of Joseph, the son of Jonan, the son of Eliakim,</span>
  <span class="verse" title="Luke 3:31" id="Luke-3-31">the son of Melea, the son of Menan, the son of Mattatha, the son of Nathan, the son of David,</span>
  <span class="verse" title="Luke 3:32" id="Luke-3-32">the son of Jesse, the son of Obed, the son of Boaz, the son of Salmon, the son of Nahshon,</span>
  <span class="verse" title="Luke 3:33" id="Luke-3-33">the son of Amminadab, the son of Aram, the son of Hezron, the son of Perez, the son of Judah,</span>
  <span class="verse" title="Luke 3:34" id="Luke-3-34">the son of Jacob, the son of Isaac, the son of Abraham, the son of Terah, the son of Nahor,</span>
  <span class="verse" title="Luke 3:35" id="Luke-3-35">the son of Serug, the son of Reu, the son of Peleg, the son of Eber, the son of Shelah,</span>
  <span class="verse" title="Luke 3:36" id="Luke-3-36">the son of Cainan, the son of Arphaxad, the son of Shem, the son of Noah, the son of Lamech,</span>
  <span class="verse" title="Luke 3:37" id="Luke-3-37">the son of Methuselah, the son of Enoch, the son of Jared, the son of Mahalaleel, the son of Cainan,</span>
  <span class="verse" title="Luke 3:38" id="Luke-3-38">the son of Enos, the son of Seth, the son of Adam, the son of God.</span>
</div>