<div class="chapter" id="Luke-004">
  <h2>Luke 4</h2>
  <span class="verse" title="Luke 4:1" id="Luke-4-1">Jesus, full of the Holy Spirit, returned from the Jordan, and was led by the Spirit into the wilderness</span>
  <span class="verse" title="Luke 4:2" id="Luke-4-2">for forty days, being tempted by the devil. He ate nothing in those days. Afterward, when they were completed, he was hungry.</span>
  <span class="verse" title="Luke 4:3" id="Luke-4-3">The devil said to him, &#8220;If you are the Son of God, command this stone to become bread.&#8221;</span>
  <span class="verse" title="Luke 4:4" id="Luke-4-4">Jesus answered him, saying, &#8220;It is written, &#8216;Man shall not live by bread alone, but by every word of God.&#8217;&#8221;</span>
  <span class="verse" title="Luke 4:5" id="Luke-4-5">The devil, leading him up on a high mountain, showed him all the kingdoms of the world in a moment of time.</span>
  <span class="verse" title="Luke 4:6" id="Luke-4-6">The devil said to him, &#8220;I will give you all this authority, and their glory, for it has been delivered to me; and I give it to whomever I want.</span>
  <span class="verse" title="Luke 4:7" id="Luke-4-7">If you therefore will worship before me, it will all be yours.&#8221;</span>
  <span class="verse" title="Luke 4:8" id="Luke-4-8">Jesus answered him, &#8220;Get behind me Satan! For it is written, &#8216;You shall worship the Lord your God, and you shall serve him only.&#8217;&#8221;</span>
  <span class="verse" title="Luke 4:9" id="Luke-4-9">He led him to Jerusalem, and set him on the pinnacle of the temple, and said to him, &#8220;If you are the Son of God, cast yourself down from here,</span>
  <span class="verse" title="Luke 4:10" id="Luke-4-10">for it is written,  &#8216;He will put his angels in charge of you, to guard you;&#8217;<br/></span>
  <span class="verse" title="Luke 4:11" id="Luke-4-11">and,  &#8216;On their hands they will bear you up,<br/> <span class="indent">&nbsp;&nbsp;</span>lest perhaps you dash your foot against a stone.&#8217;&#8221;<br/></span>
  <span class="verse" title="Luke 4:12" id="Luke-4-12">Jesus answering, said to him, &#8220;It has been said, &#8216;You shall not tempt the Lord your God.&#8217;&#8221;</span>
  <span class="verse" title="Luke 4:13" id="Luke-4-13">When the devil had completed every temptation, he departed from him until another time.</span>
  <span class="verse" title="Luke 4:14" id="Luke-4-14">Jesus returned in the power of the Spirit into Galilee, and news about him spread through all the surrounding area.</span>
  <span class="verse" title="Luke 4:15" id="Luke-4-15">He taught in their synagogues, being glorified by all.</span>
  <span class="verse" title="Luke 4:16" id="Luke-4-16">He came to Nazareth, where he had been brought up. He entered, as was his custom, into the synagogue on the Sabbath day, and stood up to read.</span>
  <span class="verse" title="Luke 4:17" id="Luke-4-17">The book of the prophet Isaiah was handed to him. He opened the book, and found the place where it was written,</span>
  <span class="verse" title="Luke 4:18" id="Luke-4-18">&#8220;The Spirit of the Lord is on me,<br/> <span class="indent">&nbsp;&nbsp;</span>because he has anointed me to preach good news to the poor.<br/>   He has sent me to heal the brokenhearted,<br/> <span class="indent">&nbsp;&nbsp;</span>to proclaim release to the captives,<br/> <span class="indent">&nbsp;&nbsp;</span>recovering of sight to the blind,<br/> <span class="indent">&nbsp;&nbsp;</span>to deliver those who are crushed,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 4:19" id="Luke-4-19">and to proclaim the acceptable year of the Lord.&#8221;<br/></span>
  <span class="verse" title="Luke 4:20" id="Luke-4-20">He closed the book, gave it back to the attendant, and sat down. The eyes of all in the synagogue were fastened on him.</span>
  <span class="verse" title="Luke 4:21" id="Luke-4-21">He began to tell them, &#8220;Today, this Scripture has been fulfilled in your hearing.&#8221;</span>
  <span class="verse" title="Luke 4:22" id="Luke-4-22">All testified about him, and wondered at the gracious words which proceeded out of his mouth, and they said, &#8220;Isn&#8217;t this Joseph&#8217;s son?&#8221;</span>
  <span class="verse" title="Luke 4:23" id="Luke-4-23">He said to them, &#8220;Doubtless you will tell me this parable, &#8216;Physician, heal yourself! Whatever we have heard done at Capernaum, do also here in your hometown.&#8217;&#8221;</span>
  <span class="verse" title="Luke 4:24" id="Luke-4-24">He said, &#8220;Most certainly I tell you, no prophet is acceptable in his hometown.</span>
  <span class="verse" title="Luke 4:25" id="Luke-4-25">But truly I tell you, there were many widows in Israel in the days of Elijah, when the sky was shut up three years and six months, when a great famine came over all the land.</span>
  <span class="verse" title="Luke 4:26" id="Luke-4-26">Elijah was sent to none of them, except to Zarephath, in the land of Sidon, to a woman who was a widow.</span>
  <span class="verse" title="Luke 4:27" id="Luke-4-27">There were many lepers in Israel in the time of Elisha the prophet, yet not one of them was cleansed, except Naaman, the Syrian.&#8221;</span>
  <span class="verse" title="Luke 4:28" id="Luke-4-28">They were all filled with wrath in the synagogue, as they heard these things.</span>
  <span class="verse" title="Luke 4:29" id="Luke-4-29">They rose up, threw him out of the city, and led him to the brow of the hill that their city was built on, that they might throw him off the cliff.</span>
  <span class="verse" title="Luke 4:30" id="Luke-4-30">But he, passing through their midst, went his way.</span>
  <span class="verse" title="Luke 4:31" id="Luke-4-31">He came down to Capernaum, a city of Galilee. He was teaching them on the Sabbath day,</span>
  <span class="verse" title="Luke 4:32" id="Luke-4-32">and they were astonished at his teaching, for his word was with authority.</span>
  <span class="verse" title="Luke 4:33" id="Luke-4-33">In the synagogue there was a man who had a spirit of an unclean demon, and he cried out with a loud voice,</span>
  <span class="verse" title="Luke 4:34" id="Luke-4-34">saying, &#8220;Ah! what have we to do with you, Jesus of Nazareth? Have you come to destroy us? I know you who you are: the Holy One of God!&#8221;</span>
  <span class="verse" title="Luke 4:35" id="Luke-4-35">Jesus rebuked him, saying, &#8220;Be silent, and come out of him!&#8221; When the demon had thrown him down in their midst, he came out of him, having done him no harm.</span>
  <span class="verse" title="Luke 4:36" id="Luke-4-36">Amazement came on all, and they spoke together, one with another, saying, &#8220;What is this word? For with authority and power he commands the unclean spirits, and they come out!&#8221;</span>
  <span class="verse" title="Luke 4:37" id="Luke-4-37">News about him went out into every place of the surrounding region.</span>
  <span class="verse" title="Luke 4:38" id="Luke-4-38">He rose up from the synagogue, and entered into Simon&#8217;s house. Simon&#8217;s mother-in-law was afflicted with a great fever, and they begged him for her.</span>
  <span class="verse" title="Luke 4:39" id="Luke-4-39">He stood over her, and rebuked the fever; and it left her. Immediately she rose up and served them.</span>
  <span class="verse" title="Luke 4:40" id="Luke-4-40">When the sun was setting, all those who had any sick with various diseases brought them to him; and he laid his hands on every one of them, and healed them.</span>
  <span class="verse" title="Luke 4:41" id="Luke-4-41">Demons also came out from many, crying out, and saying, &#8220;You are the Christ, the Son of God!&#8221; Rebuking them, he didn&#8217;t allow them to speak, because they knew that he was the Christ.</span>
  <span class="verse" title="Luke 4:42" id="Luke-4-42">When it was day, he departed and went into an uninhabited place, and the multitudes looked for him, and came to him, and held on to him, so that he wouldn&#8217;t go away from them.</span>
  <span class="verse" title="Luke 4:43" id="Luke-4-43">But he said to them, &#8220;I must preach the good news of the Kingdom of God to the other cities also. For this reason I have been sent.&#8221;</span>
  <span class="verse" title="Luke 4:44" id="Luke-4-44">He was preaching in the synagogues of Galilee.</span>
</div>