<div class="chapter" id="Luke-005">
  <h2>Luke 5</h2>
  <span class="verse" title="Luke 5:1" id="Luke-5-1">Now it happened, while the multitude pressed on him and heard the word of God, that he was standing by the lake of Gennesaret.</span>
  <span class="verse" title="Luke 5:2" id="Luke-5-2">He saw two boats standing by the lake, but the fishermen had gone out of them, and were washing their nets.</span>
  <span class="verse" title="Luke 5:3" id="Luke-5-3">He entered into one of the boats, which was Simon&#8217;s, and asked him to put out a little from the land. He sat down and taught the multitudes from the boat.</span>
  <span class="verse" title="Luke 5:4" id="Luke-5-4">When he had finished speaking, he said to Simon, &#8220;Put out into the deep, and let down your nets for a catch.&#8221;</span>
  <span class="verse" title="Luke 5:5" id="Luke-5-5">Simon answered him, &#8220;Master, we worked all night, and took nothing; but at your word I will let down the net.&#8221;</span>
  <span class="verse" title="Luke 5:6" id="Luke-5-6">When they had done this, they caught a great multitude of fish, and their net was breaking.</span>
  <span class="verse" title="Luke 5:7" id="Luke-5-7">They beckoned to their partners in the other boat, that they should come and help them. They came, and filled both boats, so that they began to sink.</span>
  <span class="verse" title="Luke 5:8" id="Luke-5-8">But Simon Peter, when he saw it, fell down at Jesus&#8217; knees, saying, &#8220;Depart from me, for I am a sinful man, Lord.&#8221;</span>
  <span class="verse" title="Luke 5:9" id="Luke-5-9">For he was amazed, and all who were with him, at the catch of fish which they had caught;</span>
  <span class="verse" title="Luke 5:10" id="Luke-5-10">and so also were James and John, sons of Zebedee, who were partners with Simon. Jesus said to Simon, &#8220;Don&#8217;t be afraid. From now on you will be catching people alive.&#8221;</span>
  <span class="verse" title="Luke 5:11" id="Luke-5-11">When they had brought their boats to land, they left everything, and followed him.</span>
  <span class="verse" title="Luke 5:12" id="Luke-5-12">It happened, while he was in one of the cities, behold, there was a man full of leprosy. When he saw Jesus, he fell on his face, and begged him, saying, &#8220;Lord, if you want to, you can make me clean.&#8221;</span>
  <span class="verse" title="Luke 5:13" id="Luke-5-13">He stretched out his hand, and touched him, saying, &#8220;I want to. Be made clean.&#8221; Immediately the leprosy left him.</span>
  <span class="verse" title="Luke 5:14" id="Luke-5-14">He commanded him to tell no one, &#8220;But go your way, and show yourself to the priest, and offer for your cleansing according to what Moses commanded, for a testimony to them.&#8221;</span>
  <span class="verse" title="Luke 5:15" id="Luke-5-15">But the report concerning him spread much more, and great multitudes came together to hear, and to be healed by him of their infirmities.</span>
  <span class="verse" title="Luke 5:16" id="Luke-5-16">But he withdrew himself into the desert, and prayed.</span>
  <span class="verse" title="Luke 5:17" id="Luke-5-17">It happened on one of those days, that he was teaching; and there were Pharisees and teachers of the law sitting by, who had come out of every village of Galilee, Judea, and Jerusalem. The power of the Lord was with him to heal them.</span>
  <span class="verse" title="Luke 5:18" id="Luke-5-18">Behold, men brought a paralyzed man on a cot, and they sought to bring him in to lay before Jesus.</span>
  <span class="verse" title="Luke 5:19" id="Luke-5-19">Not finding a way to bring him in because of the multitude, they went up to the housetop, and let him down through the tiles with his cot into the midst before Jesus.</span>
  <span class="verse" title="Luke 5:20" id="Luke-5-20">Seeing their faith, he said to him, &#8220;Man, your sins are forgiven you.&#8221;</span>
  <span class="verse" title="Luke 5:21" id="Luke-5-21">The scribes and the Pharisees began to reason, saying, &#8220;Who is this that speaks blasphemies? Who can forgive sins, but God alone?&#8221;</span>
  <span class="verse" title="Luke 5:22" id="Luke-5-22">But Jesus, perceiving their thoughts, answered them, &#8220;Why are you reasoning so in your hearts?</span>
  <span class="verse" title="Luke 5:23" id="Luke-5-23">Which is easier to say, &#8216;Your sins are forgiven you;&#8217; or to say, &#8216;Arise and walk?&#8217;</span>
  <span class="verse" title="Luke 5:24" id="Luke-5-24">But that you may know that the Son of Man has authority on earth to forgive sins&#8221; (he said to the paralyzed man), &#8220;I tell you, arise, and take up your cot, and go to your house.&#8221;</span>
  <span class="verse" title="Luke 5:25" id="Luke-5-25">Immediately he rose up before them, and took up that which he was laying on, and departed to his house, glorifying God.</span>
  <span class="verse" title="Luke 5:26" id="Luke-5-26">Amazement took hold on all, and they glorified God. They were filled with fear, saying, &#8220;We have seen strange things today.&#8221;</span>
  <span class="verse" title="Luke 5:27" id="Luke-5-27">After these things he went out, and saw a tax collector named Levi sitting at the tax office, and said to him, &#8220;Follow me!&#8221;</span>
  <span class="verse" title="Luke 5:28" id="Luke-5-28">He left everything, and rose up and followed him.</span>
  <span class="verse" title="Luke 5:29" id="Luke-5-29">Levi made a great feast for him in his house. There was a great crowd of tax collectors and others who were reclining with them.</span>
  <span class="verse" title="Luke 5:30" id="Luke-5-30">Their scribes and the Pharisees murmured against his disciples, saying, &#8220;Why do you eat and drink with the tax collectors and sinners?&#8221;</span>
  <span class="verse" title="Luke 5:31" id="Luke-5-31">Jesus answered them, &#8220;Those who are healthy have no need for a physician, but those who are sick do.</span>
  <span class="verse" title="Luke 5:32" id="Luke-5-32">I have not come to call the righteous, but sinners to repentance.&#8221;</span>
  <span class="verse" title="Luke 5:33" id="Luke-5-33">They said to him, &#8220;Why do John&#8217;s disciples often fast and pray, likewise also the disciples of the Pharisees, but yours eat and drink?&#8221;</span>
  <span class="verse" title="Luke 5:34" id="Luke-5-34">He said to them, &#8220;Can you make the friends of the bridegroom fast, while the bridegroom is with them?</span>
  <span class="verse" title="Luke 5:35" id="Luke-5-35">But the days will come when the bridegroom will be taken away from them. Then they will fast in those days.&#8221;</span>
  <span class="verse" title="Luke 5:36" id="Luke-5-36">He also told a parable to them. &#8220;No one puts a piece from a new garment on an old garment, or else he will tear the new, and also the piece from the new will not match the old.</span>
  <span class="verse" title="Luke 5:37" id="Luke-5-37">No one puts new wine into old wineskins, or else the new wine will burst the skins, and it will be spilled, and the skins will be destroyed.</span>
  <span class="verse" title="Luke 5:38" id="Luke-5-38">But new wine must be put into fresh wineskins, and both are preserved.</span>
  <span class="verse" title="Luke 5:39" id="Luke-5-39">No man having drunk old wine immediately desires new, for he says, &#8216;The old is better.&#8217;&#8221;</span>
</div>