<div class="chapter" id="Luke-006">
  <h2>Luke 6</h2>
  <span class="verse" title="Luke 6:1" id="Luke-6-1">Now it happened on the second Sabbath after the first, that he was going through the grain fields. His disciples plucked the heads of grain, and ate, rubbing them in their hands.</span>
  <span class="verse" title="Luke 6:2" id="Luke-6-2">But some of the Pharisees said to them, &#8220;Why do you do that which is not lawful to do on the Sabbath day?&#8221;</span>
  <span class="verse" title="Luke 6:3" id="Luke-6-3">Jesus, answering them, said, &#8220;Haven&#8217;t you read what David did when he was hungry, he, and those who were with him;</span>
  <span class="verse" title="Luke 6:4" id="Luke-6-4">how he entered into the house of God, and took and ate the show bread, and gave also to those who were with him, which is not lawful to eat except for the priests alone?&#8221;</span>
  <span class="verse" title="Luke 6:5" id="Luke-6-5">He said to them, &#8220;The Son of Man is lord of the Sabbath.&#8221;</span>
  <span class="verse" title="Luke 6:6" id="Luke-6-6">It also happened on another Sabbath that he entered into the synagogue and taught. There was a man there, and his right hand was withered.</span>
  <span class="verse" title="Luke 6:7" id="Luke-6-7">The scribes and the Pharisees watched him, to see whether he would heal on the Sabbath, that they might find an accusation against him.</span>
  <span class="verse" title="Luke 6:8" id="Luke-6-8">But he knew their thoughts; and he said to the man who had the withered hand, &#8220;Rise up, and stand in the middle.&#8221; He arose and stood.</span>
  <span class="verse" title="Luke 6:9" id="Luke-6-9">Then Jesus said to them, &#8220;I will ask you something: Is it lawful on the Sabbath to do good, or to do harm? To save a life, or to kill?&#8221;</span>
  <span class="verse" title="Luke 6:10" id="Luke-6-10">He looked around at them all, and said to the man, &#8220;Stretch out your hand.&#8221; He did, and his hand was restored as sound as the other.</span>
  <span class="verse" title="Luke 6:11" id="Luke-6-11">But they were filled with rage, and talked with one another about what they might do to Jesus.</span>
  <span class="verse" title="Luke 6:12" id="Luke-6-12">It happened in these days, that he went out to the mountain to pray, and he continued all night in prayer to God.</span>
  <span class="verse" title="Luke 6:13" id="Luke-6-13">When it was day, he called his disciples, and from them he chose twelve, whom he also named apostles:</span>
  <span class="verse" title="Luke 6:14" id="Luke-6-14">Simon, whom he also named Peter; Andrew, his brother; James; John; Philip; Bartholomew;</span>
  <span class="verse" title="Luke 6:15" id="Luke-6-15">Matthew; Thomas; James, the son of Alphaeus; Simon, who was called the Zealot;</span>
  <span class="verse" title="Luke 6:16" id="Luke-6-16">Judas the son of James; and Judas Iscariot, who also became a traitor.</span>
  <span class="verse" title="Luke 6:17" id="Luke-6-17">He came down with them, and stood on a level place, with a crowd of his disciples, and a great number of the people from all Judea and Jerusalem, and the sea coast of Tyre and Sidon, who came to hear him and to be healed of their diseases;</span>
  <span class="verse" title="Luke 6:18" id="Luke-6-18">as well as those who were troubled by unclean spirits, and they were being healed.</span>
  <span class="verse" title="Luke 6:19" id="Luke-6-19">All the multitude sought to touch him, for power came out from him and healed them all.</span>
  <span class="verse" title="Luke 6:20" id="Luke-6-20">He lifted up his eyes to his disciples, and said,   &#8220;Blessed are you who are poor,<br/> <span class="indent">&nbsp;&nbsp;</span>for yours is the Kingdom of God.<br/></span>
  <span class="verse" title="Luke 6:21" id="Luke-6-21">Blessed are you who hunger now,<br/> <span class="indent">&nbsp;&nbsp;</span>for you will be filled.<br/>   Blessed are you who weep now,<br/> <span class="indent">&nbsp;&nbsp;</span>for you will laugh.<br/></span>
  <span class="verse" title="Luke 6:22" id="Luke-6-22">Blessed are you when men shall hate you, and when they shall exclude and mock you, and throw out your name as evil, for the Son of Man&#8217;s sake.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 6:23" id="Luke-6-23">Rejoice in that day, and leap for joy, for behold, your reward is great in heaven, for their fathers did the same thing to the prophets.<br/>   <br/></span>
  <span class="verse" title="Luke 6:24" id="Luke-6-24">&#8220;But woe to you who are rich!<br/> <span class="indent">&nbsp;&nbsp;</span>For you have received your consolation.<br/></span>
  <span class="verse" title="Luke 6:25" id="Luke-6-25">Woe to you, you who are full now,<br/> <span class="indent">&nbsp;&nbsp;</span>for you will be hungry.<br/>   Woe to you who laugh now,<br/> <span class="indent">&nbsp;&nbsp;</span>for you will mourn and weep.<br/></span>
  <span class="verse" title="Luke 6:26" id="Luke-6-26">Woe, when men speak well of you,<br/> <span class="indent">&nbsp;&nbsp;</span>for their fathers did the same thing to the false prophets.<br/></span>
  <span class="verse" title="Luke 6:27" id="Luke-6-27">&#8220;But I tell you who hear: love your enemies, do good to those who hate you,</span>
  <span class="verse" title="Luke 6:28" id="Luke-6-28">bless those who curse you, and pray for those who mistreat you.</span>
  <span class="verse" title="Luke 6:29" id="Luke-6-29">To him who strikes you on the cheek, offer also the other; and from him who takes away your cloak, don&#8217;t withhold your coat also.</span>
  <span class="verse" title="Luke 6:30" id="Luke-6-30">Give to everyone who asks you, and don&#8217;t ask him who takes away your goods to give them back again.</span>
  <span class="verse" title="Luke 6:31" id="Luke-6-31">&#8220;As you would like people to do to you, do exactly so to them.</span>
  <span class="verse" title="Luke 6:32" id="Luke-6-32">If you love those who love you, what credit is that to you? For even sinners love those who love them.</span>
  <span class="verse" title="Luke 6:33" id="Luke-6-33">If you do good to those who do good to you, what credit is that to you? For even sinners do the same.</span>
  <span class="verse" title="Luke 6:34" id="Luke-6-34">If you lend to those from whom you hope to receive, what credit is that to you? Even sinners lend to sinners, to receive back as much.</span>
  <span class="verse" title="Luke 6:35" id="Luke-6-35">But love your enemies, and do good, and lend, expecting nothing back; and your reward will be great, and you will be children of the Most High; for he is kind toward the unthankful and evil.</span>
  <span class="verse" title="Luke 6:36" id="Luke-6-36">Therefore be merciful,<br/> <span class="indent">&nbsp;&nbsp;</span>even as your Father is also merciful.<br/></span>
  <span class="verse" title="Luke 6:37" id="Luke-6-37">Don&#8217;t judge,<br/> <span class="indent">&nbsp;&nbsp;</span>and you won&#8217;t be judged.<br/>   Don&#8217;t condemn,<br/> <span class="indent">&nbsp;&nbsp;</span>and you won&#8217;t be condemned.<br/>   Set free,<br/> <span class="indent">&nbsp;&nbsp;</span>and you will be set free.<br/></span>
  <span class="verse" title="Luke 6:38" id="Luke-6-38">&#8220;Give, and it will be given to you: good measure, pressed down, shaken together, and running over, will be given to you. For with the same measure you measure it will be measured back to you.&#8221;</span>
  <span class="verse" title="Luke 6:39" id="Luke-6-39">He spoke a parable to them. &#8220;Can the blind guide the blind? Won&#8217;t they both fall into a pit?</span>
  <span class="verse" title="Luke 6:40" id="Luke-6-40">A disciple is not above his teacher, but everyone when he is fully trained will be like his teacher.</span>
  <span class="verse" title="Luke 6:41" id="Luke-6-41">Why do you see the speck of chaff that is in your brother&#8217;s eye, but don&#8217;t consider the beam that is in your own eye?</span>
  <span class="verse" title="Luke 6:42" id="Luke-6-42">Or how can you tell your brother, &#8216;Brother, let me remove the speck of chaff that is in your eye,&#8217; when you yourself don&#8217;t see the beam that is in your own eye? You hypocrite! First remove the beam from your own eye, and then you can see clearly to remove the speck of chaff that is in your brother&#8217;s eye.</span>
  <span class="verse" title="Luke 6:43" id="Luke-6-43">For there is no good tree that brings forth rotten fruit; nor again a rotten tree that brings forth good fruit.</span>
  <span class="verse" title="Luke 6:44" id="Luke-6-44">For each tree is known by its own fruit. For people don&#8217;t gather figs from thorns, nor do they gather grapes from a bramble bush.</span>
  <span class="verse" title="Luke 6:45" id="Luke-6-45">The good man out of the good treasure of his heart brings out that which is good, and the evil man out of the evil treasure of his heart brings out that which is evil, for out of the abundance of the heart, his mouth speaks.</span>
  <span class="verse" title="Luke 6:46" id="Luke-6-46">&#8220;Why do you call me, &#8216;Lord, Lord,&#8217; and don&#8217;t do the things which I say?</span>
  <span class="verse" title="Luke 6:47" id="Luke-6-47">Everyone who comes to me, and hears my words, and does them, I will show you who he is like.</span>
  <span class="verse" title="Luke 6:48" id="Luke-6-48">He is like a man building a house, who dug and went deep, and laid a foundation on the rock. When a flood arose, the stream broke against that house, and could not shake it, because it was founded on the rock.</span>
  <span class="verse" title="Luke 6:49" id="Luke-6-49">But he who hears, and doesn&#8217;t do, is like a man who built a house on the earth without a foundation, against which the stream broke, and immediately it fell, and the ruin of that house was great.&#8221;</span>
</div>