<div class="chapter" id="Luke-007">
  <h2>Luke 7</h2>
  <span class="verse" title="Luke 7:1" id="Luke-7-1">After he had finished speaking in the hearing of the people, he entered into Capernaum.</span>
  <span class="verse" title="Luke 7:2" id="Luke-7-2">A certain centurion&#8217;s servant, who was dear to him, was sick and at the point of death.</span>
  <span class="verse" title="Luke 7:3" id="Luke-7-3">When he heard about Jesus, he sent to him elders of the Jews, asking him to come and save his servant.</span>
  <span class="verse" title="Luke 7:4" id="Luke-7-4">When they came to Jesus, they begged him earnestly, saying, &#8220;He is worthy for you to do this for him,</span>
  <span class="verse" title="Luke 7:5" id="Luke-7-5">for he loves our nation, and he built our synagogue for us.&#8221;</span>
  <span class="verse" title="Luke 7:6" id="Luke-7-6">Jesus went with them. When he was now not far from the house, the centurion sent friends to him, saying to him, &#8220;Lord, don&#8217;t trouble yourself, for I am not worthy for you to come under my roof.</span>
  <span class="verse" title="Luke 7:7" id="Luke-7-7">Therefore I didn&#8217;t even think myself worthy to come to you; but say the word, and my servant will be healed.</span>
  <span class="verse" title="Luke 7:8" id="Luke-7-8">For I also am a man placed under authority, having under myself soldiers. I tell this one, &#8216;Go!&#8217; and he goes; and to another, &#8216;Come!&#8217; and he comes; and to my servant, &#8216;Do this,&#8217; and he does it.&#8221;</span>
  <span class="verse" title="Luke 7:9" id="Luke-7-9">When Jesus heard these things, he marveled at him, and turned and said to the multitude who followed him, &#8220;I tell you, I have not found such great faith, no, not in Israel.&#8221;</span>
  <span class="verse" title="Luke 7:10" id="Luke-7-10">Those who were sent, returning to the house, found that the servant who had been sick was well.</span>
  <span class="verse" title="Luke 7:11" id="Luke-7-11">It happened soon afterwards, that he went to a city called Nain. Many of his disciples, along with a great multitude, went with him.</span>
  <span class="verse" title="Luke 7:12" id="Luke-7-12">Now when he drew near to the gate of the city, behold, one who was dead was carried out, the only son of his mother, and she was a widow. Many people of the city were with her.</span>
  <span class="verse" title="Luke 7:13" id="Luke-7-13">When the Lord saw her, he had compassion on her, and said to her, &#8220;Don&#8217;t cry.&#8221;</span>
  <span class="verse" title="Luke 7:14" id="Luke-7-14">He came near and touched the coffin, and the bearers stood still. He said, &#8220;Young man, I tell you, arise!&#8221;</span>
  <span class="verse" title="Luke 7:15" id="Luke-7-15">He who was dead sat up, and began to speak. And he gave him to his mother.</span>
  <span class="verse" title="Luke 7:16" id="Luke-7-16">Fear took hold of all, and they glorified God, saying, &#8220;A great prophet has arisen among us!&#8221; and, &#8220;God has visited his people!&#8221;</span>
  <span class="verse" title="Luke 7:17" id="Luke-7-17">This report went out concerning him in the whole of Judea, and in all the surrounding region.</span>
  <span class="verse" title="Luke 7:18" id="Luke-7-18">The disciples of John told him about all these things.</span>
  <span class="verse" title="Luke 7:19" id="Luke-7-19">John, calling to himself two of his disciples, sent them to Jesus, saying, &#8220;Are you the one who is coming, or should we look for another?&#8221;</span>
  <span class="verse" title="Luke 7:20" id="Luke-7-20">When the men had come to him, they said, &#8220;John the Baptizer has sent us to you, saying, &#8216;Are you he who comes, or should we look for another?&#8217;&#8221;</span>
  <span class="verse" title="Luke 7:21" id="Luke-7-21">In that hour he cured many of diseases and plagues and evil spirits; and to many who were blind he gave sight.</span>
  <span class="verse" title="Luke 7:22" id="Luke-7-22">Jesus answered them, &#8220;Go and tell John the things which you have seen and heard: that the blind receive their sight, the lame walk, the lepers are cleansed, the deaf hear, the dead are raised up, and the poor have good news preached to them.</span>
  <span class="verse" title="Luke 7:23" id="Luke-7-23">Blessed is he who finds no occasion for stumbling in me.&#8221;</span>
  <span class="verse" title="Luke 7:24" id="Luke-7-24">When John&#8217;s messengers had departed, he began to tell the multitudes about John, &#8220;What did you go out into the wilderness to see? A reed shaken by the wind?</span>
  <span class="verse" title="Luke 7:25" id="Luke-7-25">But what did you go out to see? A man clothed in soft clothing? Behold, those who are gorgeously dressed, and live delicately, are in kings&#8217; courts.</span>
  <span class="verse" title="Luke 7:26" id="Luke-7-26">But what did you go out to see? A prophet? Yes, I tell you, and much more than a prophet.</span>
  <span class="verse" title="Luke 7:27" id="Luke-7-27">This is he of whom it is written,  &#8216;Behold, I send my messenger before your face,<br/> <span class="indent">&nbsp;&nbsp;</span>who will prepare your way before you.&#8217;<br/></span>
  <span class="verse" title="Luke 7:28" id="Luke-7-28">&#8220;For I tell you, among those who are born of women there is not a greater prophet than John the Baptizer, yet he who is least in the Kingdom of God is greater than he.&#8221;</span>
  <span class="verse" title="Luke 7:29" id="Luke-7-29">When all the people and the tax collectors heard this, they declared God to be just, having been baptized with John&#8217;s baptism.</span>
  <span class="verse" title="Luke 7:30" id="Luke-7-30">But the Pharisees and the lawyers rejected the counsel of God, not being baptized by him themselves.</span>
  <span class="verse" title="Luke 7:31" id="Luke-7-31">&#8220;To what then will I liken the people of this generation? What are they like?</span>
  <span class="verse" title="Luke 7:32" id="Luke-7-32">They are like children who sit in the marketplace, and call one to another, saying, &#8216;We piped to you, and you didn&#8217;t dance. We mourned, and you didn&#8217;t weep.&#8217;</span>
  <span class="verse" title="Luke 7:33" id="Luke-7-33">For John the Baptizer came neither eating bread nor drinking wine, and you say, &#8216;He has a demon.&#8217;</span>
  <span class="verse" title="Luke 7:34" id="Luke-7-34">The Son of Man has come eating and drinking, and you say, &#8216;Behold, a gluttonous man, and a drunkard; a friend of tax collectors and sinners!&#8217;</span>
  <span class="verse" title="Luke 7:35" id="Luke-7-35">Wisdom is justified by all her children.&#8221;</span>
  <span class="verse" title="Luke 7:36" id="Luke-7-36">One of the Pharisees invited him to eat with him. He entered into the Pharisee&#8217;s house, and sat at the table.</span>
  <span class="verse" title="Luke 7:37" id="Luke-7-37">Behold, a woman in the city who was a sinner, when she knew that he was reclining in the Pharisee&#8217;s house, she brought an alabaster jar of ointment.</span>
  <span class="verse" title="Luke 7:38" id="Luke-7-38">Standing behind at his feet weeping, she began to wet his feet with her tears, and she wiped them with the hair of her head, kissed his feet, and anointed them with the ointment.</span>
  <span class="verse" title="Luke 7:39" id="Luke-7-39">Now when the Pharisee who had invited him saw it, he said to himself, &#8220;This man, if he were a prophet, would have perceived who and what kind of woman this is who touches him, that she is a sinner.&#8221;</span>
  <span class="verse" title="Luke 7:40" id="Luke-7-40">Jesus answered him, &#8220;Simon, I have something to tell you.&#8221; He said, &#8220;Teacher, say on.&#8221;</span>
  <span class="verse" title="Luke 7:41" id="Luke-7-41">&#8220;A certain lender had two debtors. The one owed five hundred denarii, and the other fifty.</span>
  <span class="verse" title="Luke 7:42" id="Luke-7-42">When they couldn&#8217;t pay, he forgave them both. Which of them therefore will love him most?&#8221;</span>
  <span class="verse" title="Luke 7:43" id="Luke-7-43">Simon answered, &#8220;He, I suppose, to whom he forgave the most.&#8221; He said to him, &#8220;You have judged correctly.&#8221;</span>
  <span class="verse" title="Luke 7:44" id="Luke-7-44">Turning to the woman, he said to Simon, &#8220;Do you see this woman? I entered into your house, and you gave me no water for my feet, but she has wet my feet with her tears, and wiped them with the hair of her head.</span>
  <span class="verse" title="Luke 7:45" id="Luke-7-45">You gave me no kiss, but she, since the time I came in, has not ceased to kiss my feet.</span>
  <span class="verse" title="Luke 7:46" id="Luke-7-46">You didn&#8217;t anoint my head with oil, but she has anointed my feet with ointment.</span>
  <span class="verse" title="Luke 7:47" id="Luke-7-47">Therefore I tell you, her sins, which are many, are forgiven, for she loved much. But to whom little is forgiven, the same loves little.&#8221;</span>
  <span class="verse" title="Luke 7:48" id="Luke-7-48">He said to her, &#8220;Your sins are forgiven.&#8221;</span>
  <span class="verse" title="Luke 7:49" id="Luke-7-49">Those who sat at the table with him began to say to themselves, &#8220;Who is this who even forgives sins?&#8221;</span>
  <span class="verse" title="Luke 7:50" id="Luke-7-50">He said to the woman, &#8220;Your faith has saved you. Go in peace.&#8221;</span>
</div>