<div class="chapter" id="Luke-008">
  <h2>Luke 8</h2>
  <span class="verse" title="Luke 8:1" id="Luke-8-1">It happened soon afterwards, that he went about through cities and villages, preaching and bringing the good news of the Kingdom of God. With him were the twelve,</span>
  <span class="verse" title="Luke 8:2" id="Luke-8-2">and certain women who had been healed of evil spirits and infirmities: Mary who was called Magdalene, from whom seven demons had gone out;</span>
  <span class="verse" title="Luke 8:3" id="Luke-8-3">and Joanna, the wife of Chuzas, Herod&#8217;s steward; Susanna; and many others; who served them from their possessions.</span>
  <span class="verse" title="Luke 8:4" id="Luke-8-4">When a great multitude came together, and people from every city were coming to him, he spoke by a parable.</span>
  <span class="verse" title="Luke 8:5" id="Luke-8-5">&#8220;The farmer went out to sow his seed. As he sowed, some fell along the road, and it was trampled under foot, and the birds of the sky devoured it.</span>
  <span class="verse" title="Luke 8:6" id="Luke-8-6">Other seed fell on the rock, and as soon as it grew, it withered away, because it had no moisture.</span>
  <span class="verse" title="Luke 8:7" id="Luke-8-7">Other fell amid the thorns, and the thorns grew with it, and choked it.</span>
  <span class="verse" title="Luke 8:8" id="Luke-8-8">Other fell into the good ground, and grew, and brought forth fruit one hundred times.&#8221; As he said these things, he called out, &#8220;He who has ears to hear, let him hear!&#8221;</span>
  <span class="verse" title="Luke 8:9" id="Luke-8-9">Then his disciples asked him, &#8220;What does this parable mean?&#8221;</span>
  <span class="verse" title="Luke 8:10" id="Luke-8-10">He said, &#8220;To you it is given to know the mysteries of the Kingdom of God, but to the rest in parables; that &#8216;seeing they may not see, and hearing they may not understand.&#8217;</span>
  <span class="verse" title="Luke 8:11" id="Luke-8-11">Now the parable is this: The seed is the word of God.</span>
  <span class="verse" title="Luke 8:12" id="Luke-8-12">Those along the road are those who hear, then the devil comes, and takes away the word from their heart, that they may not believe and be saved.</span>
  <span class="verse" title="Luke 8:13" id="Luke-8-13">Those on the rock are they who, when they hear, receive the word with joy; but these have no root, who believe for a while, then fall away in time of temptation.</span>
  <span class="verse" title="Luke 8:14" id="Luke-8-14">That which fell among the thorns, these are those who have heard, and as they go on their way they are choked with cares, riches, and pleasures of life, and bring no fruit to maturity.</span>
  <span class="verse" title="Luke 8:15" id="Luke-8-15">That in the good ground, these are such as in an honest and good heart, having heard the word, hold it tightly, and bring forth fruit with patience.</span>
  <span class="verse" title="Luke 8:16" id="Luke-8-16">&#8220;No one, when he has lit a lamp, covers it with a container, or puts it under a bed; but puts it on a stand, that those who enter in may see the light.</span>
  <span class="verse" title="Luke 8:17" id="Luke-8-17">For nothing is hidden, that will not be revealed; nor anything secret, that will not be known and come to light.</span>
  <span class="verse" title="Luke 8:18" id="Luke-8-18">Be careful therefore how you hear. For whoever has, to him will be given; and whoever doesn&#8217;t have, from him will be taken away even that which he thinks he has.&#8221;</span>
  <span class="verse" title="Luke 8:19" id="Luke-8-19">His mother and brothers came to him, and they could not come near him for the crowd.</span>
  <span class="verse" title="Luke 8:20" id="Luke-8-20">It was told him by some saying, &#8220;Your mother and your brothers stand outside, desiring to see you.&#8221;</span>
  <span class="verse" title="Luke 8:21" id="Luke-8-21">But he answered them, &#8220;My mother and my brothers are these who hear the word of God, and do it.&#8221;</span>
  <span class="verse" title="Luke 8:22" id="Luke-8-22">Now it happened on one of those days, that he entered into a boat, himself and his disciples, and he said to them, &#8220;Let&#8217;s go over to the other side of the lake.&#8221; So they launched out.</span>
  <span class="verse" title="Luke 8:23" id="Luke-8-23">But as they sailed, he fell asleep. A wind storm came down on the lake, and they were taking on dangerous amounts of water.</span>
  <span class="verse" title="Luke 8:24" id="Luke-8-24">They came to him, and awoke him, saying, &#8220;Master, master, we are dying!&#8221; He awoke, and rebuked the wind and the raging of the water, and they ceased, and it was calm.</span>
  <span class="verse" title="Luke 8:25" id="Luke-8-25">He said to them, &#8220;Where is your faith?&#8221; Being afraid they marveled, saying one to another, &#8220;Who is this, then, that he commands even the winds and the water, and they obey him?&#8221;</span>
  <span class="verse" title="Luke 8:26" id="Luke-8-26">They arrived at the country of the Gadarenes, which is opposite Galilee.</span>
  <span class="verse" title="Luke 8:27" id="Luke-8-27">When Jesus stepped ashore, a certain man out of the city who had demons for a long time met him. He wore no clothes, and didn&#8217;t live in a house, but in the tombs.</span>
  <span class="verse" title="Luke 8:28" id="Luke-8-28">When he saw Jesus, he cried out, and fell down before him, and with a loud voice said, &#8220;What do I have to do with you, Jesus, you Son of the Most High God? I beg you, don&#8217;t torment me!&#8221;</span>
  <span class="verse" title="Luke 8:29" id="Luke-8-29">For Jesus was commanding the unclean spirit to come out of the man. For the unclean spirit had often seized the man. He was kept under guard, and bound with chains and fetters. Breaking the bands apart, he was driven by the demon into the desert.</span>
  <span class="verse" title="Luke 8:30" id="Luke-8-30">Jesus asked him, &#8220;What is your name?&#8221; He said, &#8220;Legion,&#8221; for many demons had entered into him.</span>
  <span class="verse" title="Luke 8:31" id="Luke-8-31">They begged him that he would not command them to go into the abyss.</span>
  <span class="verse" title="Luke 8:32" id="Luke-8-32">Now there was there a herd of many pigs feeding on the mountain, and they begged him that he would allow them to enter into those. He allowed them.</span>
  <span class="verse" title="Luke 8:33" id="Luke-8-33">The demons came out from the man, and entered into the pigs, and the herd rushed down the steep bank into the lake, and were drowned.</span>
  <span class="verse" title="Luke 8:34" id="Luke-8-34">When those who fed them saw what had happened, they fled, and told it in the city and in the country.</span>
  <span class="verse" title="Luke 8:35" id="Luke-8-35">People went out to see what had happened. They came to Jesus, and found the man from whom the demons had gone out, sitting at Jesus&#8217; feet, clothed and in his right mind; and they were afraid.</span>
  <span class="verse" title="Luke 8:36" id="Luke-8-36">Those who saw it told them how he who had been possessed by demons was healed.</span>
  <span class="verse" title="Luke 8:37" id="Luke-8-37">All the people of the surrounding country of the Gadarenes asked him to depart from them, for they were very much afraid. He entered into the boat, and returned.</span>
  <span class="verse" title="Luke 8:38" id="Luke-8-38">But the man from whom the demons had gone out begged him that he might go with him, but Jesus sent him away, saying,</span>
  <span class="verse" title="Luke 8:39" id="Luke-8-39">&#8220;Return to your house, and declare what great things God has done for you.&#8221; He went his way, proclaiming throughout the whole city what great things Jesus had done for him.</span>
  <span class="verse" title="Luke 8:40" id="Luke-8-40">It happened, when Jesus returned, that the multitude welcomed him, for they were all waiting for him.</span>
  <span class="verse" title="Luke 8:41" id="Luke-8-41">Behold, there came a man named Jairus, and he was a ruler of the synagogue. He fell down at Jesus&#8217; feet, and begged him to come into his house,</span>
  <span class="verse" title="Luke 8:42" id="Luke-8-42">for he had an only daughter, about twelve years of age, and she was dying. But as he went, the multitudes pressed against him.</span>
  <span class="verse" title="Luke 8:43" id="Luke-8-43">A woman who had a flow of blood for twelve years, who had spent all her living on physicians, and could not be healed by any,</span>
  <span class="verse" title="Luke 8:44" id="Luke-8-44">came behind him, and touched the fringe of his cloak, and immediately the flow of her blood stopped.</span>
  <span class="verse" title="Luke 8:45" id="Luke-8-45">Jesus said, &#8220;Who touched me?&#8221; When all denied it, Peter and those with him said, &#8220;Master, the multitudes press and jostle you, and you say, &#8216;Who touched me?&#8217;&#8221;</span>
  <span class="verse" title="Luke 8:46" id="Luke-8-46">But Jesus said, &#8220;Someone did touch me, for I perceived that power has gone out of me.&#8221;</span>
  <span class="verse" title="Luke 8:47" id="Luke-8-47">When the woman saw that she was not hidden, she came trembling, and falling down before him declared to him in the presence of all the people the reason why she had touched him, and how she was healed immediately.</span>
  <span class="verse" title="Luke 8:48" id="Luke-8-48">He said to her, &#8220;Daughter, cheer up. Your faith has made you well. Go in peace.&#8221;</span>
  <span class="verse" title="Luke 8:49" id="Luke-8-49">While he still spoke, one from the ruler of the synagogue&#8217;s house came, saying to him, &#8220;Your daughter is dead. Don&#8217;t trouble the Teacher.&#8221;</span>
  <span class="verse" title="Luke 8:50" id="Luke-8-50">But Jesus hearing it, answered him, &#8220;Don&#8217;t be afraid. Only believe, and she will be healed.&#8221;</span>
  <span class="verse" title="Luke 8:51" id="Luke-8-51">When he came to the house, he didn&#8217;t allow anyone to enter in, except Peter, John, James, the father of the child, and her mother.</span>
  <span class="verse" title="Luke 8:52" id="Luke-8-52">All were weeping and mourning her, but he said, &#8220;Don&#8217;t weep. She isn&#8217;t dead, but sleeping.&#8221;</span>
  <span class="verse" title="Luke 8:53" id="Luke-8-53">They were ridiculing him, knowing that she was dead.</span>
  <span class="verse" title="Luke 8:54" id="Luke-8-54">But he put them all outside, and taking her by the hand, he called, saying, &#8220;Child, arise!&#8221;</span>
  <span class="verse" title="Luke 8:55" id="Luke-8-55">Her spirit returned, and she rose up immediately. He commanded that something be given to her to eat.</span>
  <span class="verse" title="Luke 8:56" id="Luke-8-56">Her parents were amazed, but he commanded them to tell no one what had been done.</span>
</div>