<div class="chapter" id="Luke-009">
  <h2>Luke 9</h2>
  <span class="verse" title="Luke 9:1" id="Luke-9-1">He called the twelve together, and gave them power and authority over all demons, and to cure diseases.</span>
  <span class="verse" title="Luke 9:2" id="Luke-9-2">He sent them forth to preach the Kingdom of God, and to heal the sick.</span>
  <span class="verse" title="Luke 9:3" id="Luke-9-3">He said to them, &#8220;Take nothing for your journey—neither staffs, nor wallet, nor bread, nor money; neither have two coats apiece.</span>
  <span class="verse" title="Luke 9:4" id="Luke-9-4">Into whatever house you enter, stay there, and depart from there.</span>
  <span class="verse" title="Luke 9:5" id="Luke-9-5">As many as don&#8217;t receive you, when you depart from that city, shake off even the dust from your feet for a testimony against them.&#8221;</span>
  <span class="verse" title="Luke 9:6" id="Luke-9-6">They departed, and went throughout the villages, preaching the Good News, and healing everywhere.</span>
  <span class="verse" title="Luke 9:7" id="Luke-9-7">Now Herod the tetrarch heard of all that was done by him; and he was very perplexed, because it was said by some that John had risen from the dead,</span>
  <span class="verse" title="Luke 9:8" id="Luke-9-8">and by some that Elijah had appeared, and by others that one of the old prophets had risen again.</span>
  <span class="verse" title="Luke 9:9" id="Luke-9-9">Herod said, &#8220;John I beheaded, but who is this, about whom I hear such things?&#8221; He sought to see him.</span>
  <span class="verse" title="Luke 9:10" id="Luke-9-10">The apostles, when they had returned, told him what things they had done. He took them, and withdrew apart to a deserted place of a city called Bethsaida.</span>
  <span class="verse" title="Luke 9:11" id="Luke-9-11">But the multitudes, perceiving it, followed him. He welcomed them, and spoke to them of the Kingdom of God, and he cured those who needed healing.</span>
  <span class="verse" title="Luke 9:12" id="Luke-9-12">The day began to wear away; and the twelve came, and said to him, &#8220;Send the multitude away, that they may go into the surrounding villages and farms, and lodge, and get food, for we are here in a deserted place.&#8221;</span>
  <span class="verse" title="Luke 9:13" id="Luke-9-13">But he said to them, &#8220;You give them something to eat.&#8221; They said, &#8220;We have no more than five loaves and two fish, unless we should go and buy food for all these people.&#8221;</span>
  <span class="verse" title="Luke 9:14" id="Luke-9-14">For they were about five thousand men. He said to his disciples, &#8220;Make them sit down in groups of about fifty each.&#8221;</span>
  <span class="verse" title="Luke 9:15" id="Luke-9-15">They did so, and made them all sit down.</span>
  <span class="verse" title="Luke 9:16" id="Luke-9-16">He took the five loaves and the two fish, and looking up to the sky, he blessed them, and broke them, and gave them to the disciples to set before the multitude.</span>
  <span class="verse" title="Luke 9:17" id="Luke-9-17">They ate, and were all filled. They gathered up twelve baskets of broken pieces that were left over.</span>
  <span class="verse" title="Luke 9:18" id="Luke-9-18">It happened, as he was praying alone, that the disciples were with him, and he asked them, &#8220;Who do the multitudes say that I am?&#8221;</span>
  <span class="verse" title="Luke 9:19" id="Luke-9-19">They answered, &#8220;&#8216;John the Baptizer,&#8217; but others say, &#8216;Elijah,&#8217; and others, that one of the old prophets is risen again.&#8221;</span>
  <span class="verse" title="Luke 9:20" id="Luke-9-20">He said to them, &#8220;But who do you say that I am?&#8221; Peter answered, &#8220;The Christ of God.&#8221;</span>
  <span class="verse" title="Luke 9:21" id="Luke-9-21">But he warned them, and commanded them to tell this to no one,</span>
  <span class="verse" title="Luke 9:22" id="Luke-9-22">saying, &#8220;The Son of Man must suffer many things, and be rejected by the elders, chief priests, and scribes, and be killed, and the third day be raised up.&#8221;</span>
  <span class="verse" title="Luke 9:23" id="Luke-9-23">He said to all, &#8220;If anyone desires to come after me, let him deny himself, take up his cross, and follow me.</span>
  <span class="verse" title="Luke 9:24" id="Luke-9-24">For whoever desires to save his life will lose it, but whoever will lose his life for my sake, the same will save it.</span>
  <span class="verse" title="Luke 9:25" id="Luke-9-25">For what does it profit a man if he gains the whole world, and loses or forfeits his own self?</span>
  <span class="verse" title="Luke 9:26" id="Luke-9-26">For whoever will be ashamed of me and of my words, of him will the Son of Man be ashamed, when he comes in his glory, and the glory of the Father, and of the holy angels.</span>
  <span class="verse" title="Luke 9:27" id="Luke-9-27">But I tell you the truth: There are some of those who stand here, who will in no way taste of death, until they see the Kingdom of God.&#8221;</span>
  <span class="verse" title="Luke 9:28" id="Luke-9-28">It happened about eight days after these sayings, that he took with him Peter, John, and James, and went up onto the mountain to pray.</span>
  <span class="verse" title="Luke 9:29" id="Luke-9-29">As he was praying, the appearance of his face was altered, and his clothing became white and dazzling.</span>
  <span class="verse" title="Luke 9:30" id="Luke-9-30">Behold, two men were talking with him, who were Moses and Elijah,</span>
  <span class="verse" title="Luke 9:31" id="Luke-9-31">who appeared in glory, and spoke of his departure, which he was about to accomplish at Jerusalem.</span>
  <span class="verse" title="Luke 9:32" id="Luke-9-32">Now Peter and those who were with him were heavy with sleep, but when they were fully awake, they saw his glory, and the two men who stood with him.</span>
  <span class="verse" title="Luke 9:33" id="Luke-9-33">It happened, as they were parting from him, that Peter said to Jesus, &#8220;Master, it is good for us to be here. Let&#8217;s make three tents: one for you, and one for Moses, and one for Elijah,&#8221; not knowing what he said.</span>
  <span class="verse" title="Luke 9:34" id="Luke-9-34">While he said these things, a cloud came and overshadowed them, and they were afraid as they entered into the cloud.</span>
  <span class="verse" title="Luke 9:35" id="Luke-9-35">A voice came out of the cloud, saying, &#8220;This is my beloved Son. Listen to him!&#8221;</span>
  <span class="verse" title="Luke 9:36" id="Luke-9-36">When the voice came, Jesus was found alone. They were silent, and told no one in those days any of the things which they had seen.</span>
  <span class="verse" title="Luke 9:37" id="Luke-9-37">It happened on the next day, when they had come down from the mountain, that a great multitude met him.</span>
  <span class="verse" title="Luke 9:38" id="Luke-9-38">Behold, a man from the crowd called out, saying, &#8220;Teacher, I beg you to look at my son, for he is my only child.</span>
  <span class="verse" title="Luke 9:39" id="Luke-9-39">Behold, a spirit takes him, he suddenly cries out, and it convulses him so that he foams, and it hardly departs from him, bruising him severely.</span>
  <span class="verse" title="Luke 9:40" id="Luke-9-40">I begged your disciples to cast it out, and they couldn&#8217;t.&#8221;</span>
  <span class="verse" title="Luke 9:41" id="Luke-9-41">Jesus answered, &#8220;Faithless and perverse generation, how long shall I be with you and bear with you? Bring your son here.&#8221;</span>
  <span class="verse" title="Luke 9:42" id="Luke-9-42">While he was still coming, the demon threw him down and convulsed him violently. But Jesus rebuked the unclean spirit, and healed the boy, and gave him back to his father.</span>
  <span class="verse" title="Luke 9:43" id="Luke-9-43">They were all astonished at the majesty of God. But while all were marveling at all the things which Jesus did, he said to his disciples,</span>
  <span class="verse" title="Luke 9:44" id="Luke-9-44">&#8220;Let these words sink into your ears, for the Son of Man will be delivered up into the hands of men.&#8221;</span>
  <span class="verse" title="Luke 9:45" id="Luke-9-45">But they didn&#8217;t understand this saying. It was concealed from them, that they should not perceive it, and they were afraid to ask him about this saying.</span>
  <span class="verse" title="Luke 9:46" id="Luke-9-46">There arose an argument among them about which of them was the greatest.</span>
  <span class="verse" title="Luke 9:47" id="Luke-9-47">Jesus, perceiving the reasoning of their hearts, took a little child, and set him by his side,</span>
  <span class="verse" title="Luke 9:48" id="Luke-9-48">and said to them, &#8220;Whoever receives this little child in my name receives me. Whoever receives me receives him who sent me. For whoever is least among you all, this one will be great.&#8221;</span>
  <span class="verse" title="Luke 9:49" id="Luke-9-49">John answered, &#8220;Master, we saw someone casting out demons in your name, and we forbade him, because he doesn&#8217;t follow with us.&#8221;</span>
  <span class="verse" title="Luke 9:50" id="Luke-9-50">Jesus said to him, &#8220;Don&#8217;t forbid him, for he who is not against us is for us.&#8221;</span>
  <span class="verse" title="Luke 9:51" id="Luke-9-51">It came to pass, when the days were near that he should be taken up, he intently set his face to go to Jerusalem,</span>
  <span class="verse" title="Luke 9:52" id="Luke-9-52">and sent messengers before his face. They went, and entered into a village of the Samaritans, so as to prepare for him.</span>
  <span class="verse" title="Luke 9:53" id="Luke-9-53">They didn&#8217;t receive him, because he was traveling with his face set towards Jerusalem.</span>
  <span class="verse" title="Luke 9:54" id="Luke-9-54">When his disciples, James and John, saw this, they said, &#8220;Lord, do you want us to command fire to come down from the sky, and destroy them, just as Elijah did?&#8221;</span>
  <span class="verse" title="Luke 9:55" id="Luke-9-55">But he turned and rebuked them, &#8220;You don&#8217;t know of what kind of spirit you are.</span>
  <span class="verse" title="Luke 9:56" id="Luke-9-56">For the Son of Man didn&#8217;t come to destroy men&#8217;s lives, but to save them.&#8221; They went to another village.</span>
  <span class="verse" title="Luke 9:57" id="Luke-9-57">As they went on the way, a certain man said to him, &#8220;I want to follow you wherever you go, Lord.&#8221;</span>
  <span class="verse" title="Luke 9:58" id="Luke-9-58">Jesus said to him, &#8220;The foxes have holes, and the birds of the sky have nests, but the Son of Man has no place to lay his head.&#8221;</span>
  <span class="verse" title="Luke 9:59" id="Luke-9-59">He said to another, &#8220;Follow me!&#8221; But he said, &#8220;Lord, allow me first to go and bury my father.&#8221;</span>
  <span class="verse" title="Luke 9:60" id="Luke-9-60">But Jesus said to him, &#8220;Leave the dead to bury their own dead, but you go and announce the Kingdom of God.&#8221;</span>
  <span class="verse" title="Luke 9:61" id="Luke-9-61">Another also said, &#8220;I want to follow you, Lord, but first allow me to say good-bye to those who are at my house.&#8221;</span>
  <span class="verse" title="Luke 9:62" id="Luke-9-62">But Jesus said to him, &#8220;No one, having put his hand to the plow, and looking back, is fit for the Kingdom of God.&#8221;</span>
</div>