<div class="chapter" id="Luke-010">
  <h2>Luke 10</h2>
  <span class="verse" title="Luke 10:1" id="Luke-10-1">Now after these things, the Lord also appointed seventy others, and sent them two by two ahead of him into every city and place, where he was about to come.</span>
  <span class="verse" title="Luke 10:2" id="Luke-10-2">Then he said to them, &#8220;The harvest is indeed plentiful, but the laborers are few. Pray therefore to the Lord of the harvest, that he may send out laborers into his harvest.</span>
  <span class="verse" title="Luke 10:3" id="Luke-10-3">Go your ways. Behold, I send you out as lambs among wolves.</span>
  <span class="verse" title="Luke 10:4" id="Luke-10-4">Carry no purse, nor wallet, nor sandals. Greet no one on the way.</span>
  <span class="verse" title="Luke 10:5" id="Luke-10-5">Into whatever house you enter, first say, &#8216;Peace be to this house.&#8217;</span>
  <span class="verse" title="Luke 10:6" id="Luke-10-6">If a son of peace is there, your peace will rest on him; but if not, it will return to you.</span>
  <span class="verse" title="Luke 10:7" id="Luke-10-7">Remain in that same house, eating and drinking the things they give, for the laborer is worthy of his wages. Don&#8217;t go from house to house.</span>
  <span class="verse" title="Luke 10:8" id="Luke-10-8">Into whatever city you enter, and they receive you, eat the things that are set before you.</span>
  <span class="verse" title="Luke 10:9" id="Luke-10-9">Heal the sick who are therein, and tell them, &#8216;The Kingdom of God has come near to you.&#8217;</span>
  <span class="verse" title="Luke 10:10" id="Luke-10-10">But into whatever city you enter, and they don&#8217;t receive you, go out into its streets and say,</span>
  <span class="verse" title="Luke 10:11" id="Luke-10-11">&#8216;Even the dust from your city that clings to us, we wipe off against you. Nevertheless know this, that the Kingdom of God has come near to you.&#8217;</span>
  <span class="verse" title="Luke 10:12" id="Luke-10-12">I tell you, it will be more tolerable in that day for Sodom than for that city.</span>
  <span class="verse" title="Luke 10:13" id="Luke-10-13">&#8220;Woe to you, Chorazin! Woe to you, Bethsaida! For if the mighty works had been done in Tyre and Sidon which were done in you, they would have repented long ago, sitting in sackcloth and ashes.</span>
  <span class="verse" title="Luke 10:14" id="Luke-10-14">But it will be more tolerable for Tyre and Sidon in the judgment than for you.</span>
  <span class="verse" title="Luke 10:15" id="Luke-10-15">You, Capernaum, who are exalted to heaven, will be brought down to Hades.</span>
  <span class="verse" title="Luke 10:16" id="Luke-10-16">Whoever listens to you listens to me, and whoever rejects you rejects me. Whoever rejects me rejects him who sent me.&#8221;</span>
  <span class="verse" title="Luke 10:17" id="Luke-10-17">The seventy returned with joy, saying, &#8220;Lord, even the demons are subject to us in your name!&#8221;</span>
  <span class="verse" title="Luke 10:18" id="Luke-10-18">He said to them, &#8220;I saw Satan having fallen like lightning from heaven.</span>
  <span class="verse" title="Luke 10:19" id="Luke-10-19">Behold, I give you authority to tread on serpents and scorpions, and over all the power of the enemy. Nothing will in any way hurt you.</span>
  <span class="verse" title="Luke 10:20" id="Luke-10-20">Nevertheless, don&#8217;t rejoice in this, that the spirits are subject to you, but rejoice that your names are written in heaven.&#8221;</span>
  <span class="verse" title="Luke 10:21" id="Luke-10-21">In that same hour Jesus rejoiced in the Holy Spirit, and said, &#8220;I thank you, O Father, Lord of heaven and earth, that you have hidden these things from the wise and understanding, and revealed them to little children. Yes, Father, for so it was well-pleasing in your sight.&#8221;</span>
  <span class="verse" title="Luke 10:22" id="Luke-10-22">Turning to the disciples, he said, &#8220;All things have been delivered to me by my Father. No one knows who the Son is, except the Father, and who the Father is, except the Son, and he to whomever the Son desires to reveal him.&#8221;</span>
  <span class="verse" title="Luke 10:23" id="Luke-10-23">Turning to the disciples, he said privately, &#8220;Blessed are the eyes which see the things that you see,</span>
  <span class="verse" title="Luke 10:24" id="Luke-10-24">for I tell you that many prophets and kings desired to see the things which you see, and didn&#8217;t see them, and to hear the things which you hear, and didn&#8217;t hear them.&#8221;</span>
  <span class="verse" title="Luke 10:25" id="Luke-10-25">Behold, a certain lawyer stood up and tested him, saying, &#8220;Teacher, what shall I do to inherit eternal life?&#8221;</span>
  <span class="verse" title="Luke 10:26" id="Luke-10-26">He said to him, &#8220;What is written in the law? How do you read it?&#8221;</span>
  <span class="verse" title="Luke 10:27" id="Luke-10-27">He answered, &#8220;You shall love the Lord your God with all your heart, with all your soul, with all your strength, and with all your mind; and your neighbor as yourself.&#8221;</span>
  <span class="verse" title="Luke 10:28" id="Luke-10-28">He said to him, &#8220;You have answered correctly. Do this, and you will live.&#8221;</span>
  <span class="verse" title="Luke 10:29" id="Luke-10-29">But he, desiring to justify himself, asked Jesus, &#8220;Who is my neighbor?&#8221;</span>
  <span class="verse" title="Luke 10:30" id="Luke-10-30">Jesus answered, &#8220;A certain man was going down from Jerusalem to Jericho, and he fell among robbers, who both stripped him and beat him, and departed, leaving him half dead.</span>
  <span class="verse" title="Luke 10:31" id="Luke-10-31">By chance a certain priest was going down that way. When he saw him, he passed by on the other side.</span>
  <span class="verse" title="Luke 10:32" id="Luke-10-32">In the same way a Levite also, when he came to the place, and saw him, passed by on the other side.</span>
  <span class="verse" title="Luke 10:33" id="Luke-10-33">But a certain Samaritan, as he traveled, came where he was. When he saw him, he was moved with compassion,</span>
  <span class="verse" title="Luke 10:34" id="Luke-10-34">came to him, and bound up his wounds, pouring on oil and wine. He set him on his own animal, and brought him to an inn, and took care of him.</span>
  <span class="verse" title="Luke 10:35" id="Luke-10-35">On the next day, when he departed, he took out two denarii, and gave them to the host, and said to him, &#8216;Take care of him. Whatever you spend beyond that, I will repay you when I return.&#8217;</span>
  <span class="verse" title="Luke 10:36" id="Luke-10-36">Now which of these three do you think seemed to be a neighbor to him who fell among the robbers?&#8221;</span>
  <span class="verse" title="Luke 10:37" id="Luke-10-37">He said, &#8220;He who showed mercy on him.&#8221; Then Jesus said to him, &#8220;Go and do likewise.&#8221;</span>
  <span class="verse" title="Luke 10:38" id="Luke-10-38">It happened as they went on their way, he entered into a certain village, and a certain woman named Martha received him into her house.</span>
  <span class="verse" title="Luke 10:39" id="Luke-10-39">She had a sister called Mary, who also sat at Jesus&#8217; feet, and heard his word.</span>
  <span class="verse" title="Luke 10:40" id="Luke-10-40">But Martha was distracted with much serving, and she came up to him, and said, &#8220;Lord, don&#8217;t you care that my sister left me to serve alone? Ask her therefore to help me.&#8221;</span>
  <span class="verse" title="Luke 10:41" id="Luke-10-41">Jesus answered her, &#8220;Martha, Martha, you are anxious and troubled about many things,</span>
  <span class="verse" title="Luke 10:42" id="Luke-10-42">but one thing is needed. Mary has chosen the good part, which will not be taken away from her.&#8221;</span>
</div>