<div class="chapter" id="Luke-011">
  <h2>Luke 11</h2>
  <span class="verse" title="Luke 11:1" id="Luke-11-1">It happened, that when he finished praying in a certain place, one of his disciples said to him, &#8220;Lord, teach us to pray, just as John also taught his disciples.&#8221;</span>
  <span class="verse" title="Luke 11:2" id="Luke-11-2">He said to them, &#8220;When you pray, say,  &#8216;Our Father in heaven,<br/> <span class="indent">&nbsp;&nbsp;</span>may your name be kept holy.<br/>   May your Kingdom come.<br/> <span class="indent">&nbsp;&nbsp;</span>May your will be done on earth, as it is in heaven.<br/></span>
  <span class="verse" title="Luke 11:3" id="Luke-11-3">Give us day by day our daily bread.<br/></span>
  <span class="verse" title="Luke 11:4" id="Luke-11-4">Forgive us our sins,<br/> <span class="indent">&nbsp;&nbsp;</span>for we ourselves also forgive everyone who is indebted to us.<br/>   Bring us not into temptation,<br/> <span class="indent">&nbsp;&nbsp;</span>but deliver us from the evil one.&#8217;&#8221;<br/></span>
  <span class="verse" title="Luke 11:5" id="Luke-11-5">He said to them, &#8220;Which of you, if you go to a friend at midnight, and tell him, &#8216;Friend, lend me three loaves of bread,</span>
  <span class="verse" title="Luke 11:6" id="Luke-11-6">for a friend of mine has come to me from a journey, and I have nothing to set before him,&#8217;</span>
  <span class="verse" title="Luke 11:7" id="Luke-11-7">and he from within will answer and say, &#8216;Don&#8217;t bother me. The door is now shut, and my children are with me in bed. I can&#8217;t get up and give it to you&#8217;?</span>
  <span class="verse" title="Luke 11:8" id="Luke-11-8">I tell you, although he will not rise and give it to him because he is his friend, yet because of his persistence, he will get up and give him as many as he needs.</span>
  <span class="verse" title="Luke 11:9" id="Luke-11-9">&#8220;I tell you, keep asking, and it will be given you. Keep seeking, and you will find. Keep knocking, and it will be opened to you.</span>
  <span class="verse" title="Luke 11:10" id="Luke-11-10">For everyone who asks receives. He who seeks finds. To him who knocks it will be opened.</span>
  <span class="verse" title="Luke 11:11" id="Luke-11-11">&#8220;Which of you fathers, if your son asks for bread, will give him a stone? Or if he asks for a fish, he won&#8217;t give him a snake instead of a fish, will he?</span>
  <span class="verse" title="Luke 11:12" id="Luke-11-12">Or if he asks for an egg, he won&#8217;t give him a scorpion, will he?</span>
  <span class="verse" title="Luke 11:13" id="Luke-11-13">If you then, being evil, know how to give good gifts to your children, how much more will your heavenly Father give the Holy Spirit to those who ask him?&#8221;</span>
  <span class="verse" title="Luke 11:14" id="Luke-11-14">He was casting out a demon, and it was mute. It happened, when the demon had gone out, the mute man spoke; and the multitudes marveled.</span>
  <span class="verse" title="Luke 11:15" id="Luke-11-15">But some of them said, &#8220;He casts out demons by Beelzebul, the prince of the demons.&#8221;</span>
  <span class="verse" title="Luke 11:16" id="Luke-11-16">Others, testing him, sought from him a sign from heaven.</span>
  <span class="verse" title="Luke 11:17" id="Luke-11-17">But he, knowing their thoughts, said to them, &#8220;Every kingdom divided against itself is brought to desolation. A house divided against itself falls.</span>
  <span class="verse" title="Luke 11:18" id="Luke-11-18">If Satan also is divided against himself, how will his kingdom stand? For you say that I cast out demons by Beelzebul.</span>
  <span class="verse" title="Luke 11:19" id="Luke-11-19">But if I cast out demons by Beelzebul, by whom do your children cast them out? Therefore will they be your judges.</span>
  <span class="verse" title="Luke 11:20" id="Luke-11-20">But if I by the finger of God cast out demons, then the Kingdom of God has come to you.</span>
  <span class="verse" title="Luke 11:21" id="Luke-11-21">&#8220;When the strong man, fully armed, guards his own dwelling, his goods are safe.</span>
  <span class="verse" title="Luke 11:22" id="Luke-11-22">But when someone stronger attacks him and overcomes him, he takes from him his whole armor in which he trusted, and divides his spoils.</span>
  <span class="verse" title="Luke 11:23" id="Luke-11-23">&#8220;He that is not with me is against me. He who doesn&#8217;t gather with me scatters.</span>
  <span class="verse" title="Luke 11:24" id="Luke-11-24">The unclean spirit, when he has gone out of the man, passes through dry places, seeking rest, and finding none, he says, &#8216;I will turn back to my house from which I came out.&#8217;</span>
  <span class="verse" title="Luke 11:25" id="Luke-11-25">When he returns, he finds it swept and put in order.</span>
  <span class="verse" title="Luke 11:26" id="Luke-11-26">Then he goes, and takes seven other spirits more evil than himself, and they enter in and dwell there. The last state of that man becomes worse than the first.&#8221;</span>
  <span class="verse" title="Luke 11:27" id="Luke-11-27">It came to pass, as he said these things, a certain woman out of the multitude lifted up her voice, and said to him, &#8220;Blessed is the womb that bore you, and the breasts which nursed you!&#8221;</span>
  <span class="verse" title="Luke 11:28" id="Luke-11-28">But he said, &#8220;On the contrary, blessed are those who hear the word of God, and keep it.&#8221;</span>
  <span class="verse" title="Luke 11:29" id="Luke-11-29">When the multitudes were gathering together to him, he began to say, &#8220;This is an evil generation. It seeks after a sign. No sign will be given to it but the sign of Jonah, the prophet.</span>
  <span class="verse" title="Luke 11:30" id="Luke-11-30">For even as Jonah became a sign to the Ninevites, so will also the Son of Man be to this generation.</span>
  <span class="verse" title="Luke 11:31" id="Luke-11-31">The Queen of the South will rise up in the judgment with the men of this generation, and will condemn them: for she came from the ends of the earth to hear the wisdom of Solomon; and behold, one greater than Solomon is here.</span>
  <span class="verse" title="Luke 11:32" id="Luke-11-32">The men of Nineveh will stand up in the judgment with this generation, and will condemn it: for they repented at the preaching of Jonah, and behold, one greater than Jonah is here.</span>
  <span class="verse" title="Luke 11:33" id="Luke-11-33">&#8220;No one, when he has lit a lamp, puts it in a cellar or under a basket, but on a stand, that those who come in may see the light.</span>
  <span class="verse" title="Luke 11:34" id="Luke-11-34">The lamp of the body is the eye. Therefore when your eye is good, your whole body is also full of light; but when it is evil, your body also is full of darkness.</span>
  <span class="verse" title="Luke 11:35" id="Luke-11-35">Therefore see whether the light that is in you isn&#8217;t darkness.</span>
  <span class="verse" title="Luke 11:36" id="Luke-11-36">If therefore your whole body is full of light, having no part dark, it will be wholly full of light, as when the lamp with its bright shining gives you light.&#8221;</span>
  <span class="verse" title="Luke 11:37" id="Luke-11-37">Now as he spoke, a certain Pharisee asked him to dine with him. He went in, and sat at the table.</span>
  <span class="verse" title="Luke 11:38" id="Luke-11-38">When the Pharisee saw it, he marveled that he had not first washed himself before dinner.</span>
  <span class="verse" title="Luke 11:39" id="Luke-11-39">The Lord said to him, &#8220;Now you Pharisees cleanse the outside of the cup and of the platter, but your inward part is full of extortion and wickedness.</span>
  <span class="verse" title="Luke 11:40" id="Luke-11-40">You foolish ones, didn&#8217;t he who made the outside make the inside also?</span>
  <span class="verse" title="Luke 11:41" id="Luke-11-41">But give for gifts to the needy those things which are within, and behold, all things will be clean to you.</span>
  <span class="verse" title="Luke 11:42" id="Luke-11-42">But woe to you Pharisees! For you tithe mint and rue and every herb, but you bypass justice and the love of God. You ought to have done these, and not to have left the other undone.</span>
  <span class="verse" title="Luke 11:43" id="Luke-11-43">Woe to you Pharisees! For you love the best seats in the synagogues, and the greetings in the marketplaces.</span>
  <span class="verse" title="Luke 11:44" id="Luke-11-44">Woe to you, scribes and Pharisees, hypocrites! For you are like hidden graves, and the men who walk over them don&#8217;t know it.&#8221;</span>
  <span class="verse" title="Luke 11:45" id="Luke-11-45">One of the lawyers answered him, &#8220;Teacher, in saying this you insult us also.&#8221;</span>
  <span class="verse" title="Luke 11:46" id="Luke-11-46">He said, &#8220;Woe to you lawyers also! For you load men with burdens that are difficult to carry, and you yourselves won&#8217;t even lift one finger to help carry those burdens.</span>
  <span class="verse" title="Luke 11:47" id="Luke-11-47">Woe to you! For you build the tombs of the prophets, and your fathers killed them.</span>
  <span class="verse" title="Luke 11:48" id="Luke-11-48">So you testify and consent to the works of your fathers. For they killed them, and you build their tombs.</span>
  <span class="verse" title="Luke 11:49" id="Luke-11-49">Therefore also the wisdom of God said, &#8216;I will send to them prophets and apostles; and some of them they will kill and persecute,</span>
  <span class="verse" title="Luke 11:50" id="Luke-11-50">that the blood of all the prophets, which was shed from the foundation of the world, may be required of this generation;</span>
  <span class="verse" title="Luke 11:51" id="Luke-11-51">from the blood of Abel to the blood of Zachariah, who perished between the altar and the sanctuary.&#8217; Yes, I tell you, it will be required of this generation.</span>
  <span class="verse" title="Luke 11:52" id="Luke-11-52">Woe to you lawyers! For you took away the key of knowledge. You didn&#8217;t enter in yourselves, and those who were entering in, you hindered.&#8221;</span>
  <span class="verse" title="Luke 11:53" id="Luke-11-53">As he said these things to them, the scribes and the Pharisees began to be terribly angry, and to draw many things out of him;</span>
  <span class="verse" title="Luke 11:54" id="Luke-11-54">lying in wait for him, and seeking to catch him in something he might say, that they might accuse him.</span>
</div>