<div class="chapter" id="Luke-012">
  <h2>Luke 12</h2>
  <span class="verse" title="Luke 12:1" id="Luke-12-1">Meanwhile, when a multitude of many thousands had gathered together, so much so that they trampled on each other, he began to tell his disciples first of all, &#8220;Beware of the yeast of the Pharisees, which is hypocrisy.</span>
  <span class="verse" title="Luke 12:2" id="Luke-12-2">But there is nothing covered up, that will not be revealed, nor hidden, that will not be known.</span>
  <span class="verse" title="Luke 12:3" id="Luke-12-3">Therefore whatever you have said in the darkness will be heard in the light. What you have spoken in the ear in the inner rooms will be proclaimed on the housetops.</span>
  <span class="verse" title="Luke 12:4" id="Luke-12-4">&#8220;I tell you, my friends, don&#8217;t be afraid of those who kill the body, and after that have no more that they can do.</span>
  <span class="verse" title="Luke 12:5" id="Luke-12-5">But I will warn you whom you should fear. Fear him, who after he has killed, has power to cast into Gehenna. Yes, I tell you, fear him.</span>
  <span class="verse" title="Luke 12:6" id="Luke-12-6">&#8220;Aren&#8217;t five sparrows sold for two assaria coins? Not one of them is forgotten by God.</span>
  <span class="verse" title="Luke 12:7" id="Luke-12-7">But the very hairs of your head are all numbered. Therefore don&#8217;t be afraid. You are of more value than many sparrows.</span>
  <span class="verse" title="Luke 12:8" id="Luke-12-8">&#8220;I tell you, everyone who confesses me before men, him will the Son of Man also confess before the angels of God;</span>
  <span class="verse" title="Luke 12:9" id="Luke-12-9">but he who denies me in the presence of men will be denied in the presence of the angels of God.</span>
  <span class="verse" title="Luke 12:10" id="Luke-12-10">Everyone who speaks a word against the Son of Man will be forgiven, but those who blaspheme against the Holy Spirit will not be forgiven.</span>
  <span class="verse" title="Luke 12:11" id="Luke-12-11">When they bring you before the synagogues, the rulers, and the authorities, don&#8217;t be anxious how or what you will answer, or what you will say;</span>
  <span class="verse" title="Luke 12:12" id="Luke-12-12">for the Holy Spirit will teach you in that same hour what you must say.&#8221;</span>
  <span class="verse" title="Luke 12:13" id="Luke-12-13">One of the multitude said to him, &#8220;Teacher, tell my brother to divide the inheritance with me.&#8221;</span>
  <span class="verse" title="Luke 12:14" id="Luke-12-14">But he said to him, &#8220;Man, who made me a judge or an arbitrator over you?&#8221;</span>
  <span class="verse" title="Luke 12:15" id="Luke-12-15">He said to them, &#8220;Beware! Keep yourselves from covetousness, for a man&#8217;s life doesn&#8217;t consist of the abundance of the things which he possesses.&#8221;</span>
  <span class="verse" title="Luke 12:16" id="Luke-12-16">He spoke a parable to them, saying, &#8220;The ground of a certain rich man brought forth abundantly.</span>
  <span class="verse" title="Luke 12:17" id="Luke-12-17">He reasoned within himself, saying, &#8216;What will I do, because I don&#8217;t have room to store my crops?&#8217;</span>
  <span class="verse" title="Luke 12:18" id="Luke-12-18">He said, &#8216;This is what I will do. I will pull down my barns, and build bigger ones, and there I will store all my grain and my goods.</span>
  <span class="verse" title="Luke 12:19" id="Luke-12-19">I will tell my soul, &#8220;Soul, you have many goods laid up for many years. Take your ease, eat, drink, be merry.&#8221;&#8217;</span>
  <span class="verse" title="Luke 12:20" id="Luke-12-20">&#8220;But God said to him, &#8216;You foolish one, tonight your soul is required of you. The things which you have prepared—whose will they be?&#8217;</span>
  <span class="verse" title="Luke 12:21" id="Luke-12-21">So is he who lays up treasure for himself, and is not rich toward God.&#8221;</span>
  <span class="verse" title="Luke 12:22" id="Luke-12-22">He said to his disciples, &#8220;Therefore I tell you, don&#8217;t be anxious for your life, what you will eat, nor yet for your body, what you will wear.</span>
  <span class="verse" title="Luke 12:23" id="Luke-12-23">Life is more than food, and the body is more than clothing.</span>
  <span class="verse" title="Luke 12:24" id="Luke-12-24">Consider the ravens: they don&#8217;t sow, they don&#8217;t reap, they have no warehouse or barn, and God feeds them. How much more valuable are you than birds!</span>
  <span class="verse" title="Luke 12:25" id="Luke-12-25">Which of you by being anxious can add a cubit to his height?</span>
  <span class="verse" title="Luke 12:26" id="Luke-12-26">If then you aren&#8217;t able to do even the least things, why are you anxious about the rest?</span>
  <span class="verse" title="Luke 12:27" id="Luke-12-27">Consider the lilies, how they grow. They don&#8217;t toil, neither do they spin; yet I tell you, even Solomon in all his glory was not arrayed like one of these.</span>
  <span class="verse" title="Luke 12:28" id="Luke-12-28">But if this is how God clothes the grass in the field, which today exists, and tomorrow is cast into the oven, how much more will he clothe you, O you of little faith?</span>
  <span class="verse" title="Luke 12:29" id="Luke-12-29">Don&#8217;t seek what you will eat or what you will drink; neither be anxious.</span>
  <span class="verse" title="Luke 12:30" id="Luke-12-30">For the nations of the world seek after all of these things, but your Father knows that you need these things.</span>
  <span class="verse" title="Luke 12:31" id="Luke-12-31">But seek God&#8217;s Kingdom, and all these things will be added to you.</span>
  <span class="verse" title="Luke 12:32" id="Luke-12-32">Don&#8217;t be afraid, little flock, for it is your Father&#8217;s good pleasure to give you the Kingdom.</span>
  <span class="verse" title="Luke 12:33" id="Luke-12-33">Sell that which you have, and give gifts to the needy. Make for yourselves purses which don&#8217;t grow old, a treasure in the heavens that doesn&#8217;t fail, where no thief approaches, neither moth destroys.</span>
  <span class="verse" title="Luke 12:34" id="Luke-12-34">For where your treasure is, there will your heart be also.</span>
  <span class="verse" title="Luke 12:35" id="Luke-12-35">&#8220;Let your waist be dressed and your lamps burning.</span>
  <span class="verse" title="Luke 12:36" id="Luke-12-36">Be like men watching for their lord, when he returns from the marriage feast; that, when he comes and knocks, they may immediately open to him.</span>
  <span class="verse" title="Luke 12:37" id="Luke-12-37">Blessed are those servants, whom the lord will find watching when he comes. Most certainly I tell you, that he will dress himself, and make them recline, and will come and serve them.</span>
  <span class="verse" title="Luke 12:38" id="Luke-12-38">They will be blessed if he comes in the second or third watch, and finds them so.</span>
  <span class="verse" title="Luke 12:39" id="Luke-12-39">But know this, that if the master of the house had known in what hour the thief was coming, he would have watched, and not allowed his house to be broken into.</span>
  <span class="verse" title="Luke 12:40" id="Luke-12-40">Therefore be ready also, for the Son of Man is coming in an hour that you don&#8217;t expect him.&#8221;</span>
  <span class="verse" title="Luke 12:41" id="Luke-12-41">Peter said to him, &#8220;Lord, are you telling this parable to us, or to everybody?&#8221;</span>
  <span class="verse" title="Luke 12:42" id="Luke-12-42">The Lord said, &#8220;Who then is the faithful and wise steward, whom his lord will set over his household, to give them their portion of food at the right times?</span>
  <span class="verse" title="Luke 12:43" id="Luke-12-43">Blessed is that servant whom his lord will find doing so when he comes.</span>
  <span class="verse" title="Luke 12:44" id="Luke-12-44">Truly I tell you, that he will set him over all that he has.</span>
  <span class="verse" title="Luke 12:45" id="Luke-12-45">But if that servant says in his heart, &#8216;My lord delays his coming,&#8217; and begins to beat the menservants and the maidservants, and to eat and drink, and to be drunken,</span>
  <span class="verse" title="Luke 12:46" id="Luke-12-46">then the lord of that servant will come in a day when he isn&#8217;t expecting him, and in an hour that he doesn&#8217;t know, and will cut him in two, and place his portion with the unfaithful.</span>
  <span class="verse" title="Luke 12:47" id="Luke-12-47">That servant, who knew his lord&#8217;s will, and didn&#8217;t prepare, nor do what he wanted, will be beaten with many stripes,</span>
  <span class="verse" title="Luke 12:48" id="Luke-12-48">but he who didn&#8217;t know, and did things worthy of stripes, will be beaten with few stripes. To whomever much is given, of him will much be required; and to whom much was entrusted, of him more will be asked.</span>
  <span class="verse" title="Luke 12:49" id="Luke-12-49">&#8220;I came to throw fire on the earth. I wish it were already kindled.</span>
  <span class="verse" title="Luke 12:50" id="Luke-12-50">But I have a baptism to be baptized with, and how distressed I am until it is accomplished!</span>
  <span class="verse" title="Luke 12:51" id="Luke-12-51">Do you think that I have come to give peace in the earth? I tell you, no, but rather division.</span>
  <span class="verse" title="Luke 12:52" id="Luke-12-52">For from now on, there will be five in one house divided, three against two, and two against three.</span>
  <span class="verse" title="Luke 12:53" id="Luke-12-53">They will be divided, father against son, and son against father; mother against daughter, and daughter against her mother; mother-in-law against her daughter-in-law, and daughter-in-law against her mother-in-law.&#8221;</span>
  <span class="verse" title="Luke 12:54" id="Luke-12-54">He said to the multitudes also, &#8220;When you see a cloud rising from the west, immediately you say, &#8216;A shower is coming,&#8217; and so it happens.</span>
  <span class="verse" title="Luke 12:55" id="Luke-12-55">When a south wind blows, you say, &#8216;There will be a scorching heat,&#8217; and it happens.</span>
  <span class="verse" title="Luke 12:56" id="Luke-12-56">You hypocrites! You know how to interpret the appearance of the earth and the sky, but how is it that you don&#8217;t interpret this time?</span>
  <span class="verse" title="Luke 12:57" id="Luke-12-57">Why don&#8217;t you judge for yourselves what is right?</span>
  <span class="verse" title="Luke 12:58" id="Luke-12-58">For when you are going with your adversary before the magistrate, try diligently on the way to be released from him, lest perhaps he drag you to the judge, and the judge deliver you to the officer, and the officer throw you into prison.</span>
  <span class="verse" title="Luke 12:59" id="Luke-12-59">I tell you, you will by no means get out of there, until you have paid the very last penny.&#8221;</span>
</div>