<div class="chapter" id="Luke-013">
  <h2>Luke 13</h2>
  <span class="verse" title="Luke 13:1" id="Luke-13-1">Now there were some present at the same time who told him about the Galileans, whose blood Pilate had mixed with their sacrifices.</span>
  <span class="verse" title="Luke 13:2" id="Luke-13-2">Jesus answered them, &#8220;Do you think that these Galileans were worse sinners than all the other Galileans, because they suffered such things?</span>
  <span class="verse" title="Luke 13:3" id="Luke-13-3">I tell you, no, but unless you repent, you will all perish in the same way.</span>
  <span class="verse" title="Luke 13:4" id="Luke-13-4">Or those eighteen, on whom the tower in Siloam fell, and killed them; do you think that they were worse offenders than all the men who dwell in Jerusalem?</span>
  <span class="verse" title="Luke 13:5" id="Luke-13-5">I tell you, no, but, unless you repent, you will all perish in the same way.&#8221;</span>
  <span class="verse" title="Luke 13:6" id="Luke-13-6">He spoke this parable. &#8220;A certain man had a fig tree planted in his vineyard, and he came seeking fruit on it, and found none.</span>
  <span class="verse" title="Luke 13:7" id="Luke-13-7">He said to the vine dresser, &#8216;Behold, these three years I have come looking for fruit on this fig tree, and found none. Cut it down. Why does it waste the soil?&#8217;</span>
  <span class="verse" title="Luke 13:8" id="Luke-13-8">He answered, &#8216;Lord, leave it alone this year also, until I dig around it, and fertilize it.</span>
  <span class="verse" title="Luke 13:9" id="Luke-13-9">If it bears fruit, fine; but if not, after that, you can cut it down.&#8217;&#8221;</span>
  <span class="verse" title="Luke 13:10" id="Luke-13-10">He was teaching in one of the synagogues on the Sabbath day.</span>
  <span class="verse" title="Luke 13:11" id="Luke-13-11">Behold, there was a woman who had a spirit of infirmity eighteen years, and she was bent over, and could in no way straighten herself up.</span>
  <span class="verse" title="Luke 13:12" id="Luke-13-12">When Jesus saw her, he called her, and said to her, &#8220;Woman, you are freed from your infirmity.&#8221;</span>
  <span class="verse" title="Luke 13:13" id="Luke-13-13">He laid his hands on her, and immediately she stood up straight, and glorified God.</span>
  <span class="verse" title="Luke 13:14" id="Luke-13-14">The ruler of the synagogue, being indignant because Jesus had healed on the Sabbath, said to the multitude, &#8220;There are six days in which men ought to work. Therefore come on those days and be healed, and not on the Sabbath day!&#8221;</span>
  <span class="verse" title="Luke 13:15" id="Luke-13-15">Therefore the Lord answered him, &#8220;You hypocrites! Doesn&#8217;t each one of you free his ox or his donkey from the stall on the Sabbath, and lead him away to water?</span>
  <span class="verse" title="Luke 13:16" id="Luke-13-16">Ought not this woman, being a daughter of Abraham, whom Satan had bound eighteen long years, be freed from this bondage on the Sabbath day?&#8221;</span>
  <span class="verse" title="Luke 13:17" id="Luke-13-17">As he said these things, all his adversaries were disappointed, and all the multitude rejoiced for all the glorious things that were done by him.</span>
  <span class="verse" title="Luke 13:18" id="Luke-13-18">He said, &#8220;What is the Kingdom of God like? To what shall I compare it?</span>
  <span class="verse" title="Luke 13:19" id="Luke-13-19">It is like a grain of mustard seed, which a man took, and put in his own garden. It grew, and became a large tree, and the birds of the sky lodged in its branches.&#8221;</span>
  <span class="verse" title="Luke 13:20" id="Luke-13-20">Again he said, &#8220;To what shall I compare the Kingdom of God?</span>
  <span class="verse" title="Luke 13:21" id="Luke-13-21">It is like yeast, which a woman took and hid in three measures of flour, until it was all leavened.&#8221;</span>
  <span class="verse" title="Luke 13:22" id="Luke-13-22">He went on his way through cities and villages, teaching, and traveling on to Jerusalem.</span>
  <span class="verse" title="Luke 13:23" id="Luke-13-23">One said to him, &#8220;Lord, are they few who are saved?&#8221; He said to them,</span>
  <span class="verse" title="Luke 13:24" id="Luke-13-24">&#8220;Strive to enter in by the narrow door, for many, I tell you, will seek to enter in, and will not be able.</span>
  <span class="verse" title="Luke 13:25" id="Luke-13-25">When once the master of the house has risen up, and has shut the door, and you begin to stand outside, and to knock at the door, saying, &#8216;Lord, Lord, open to us!&#8217; then he will answer and tell you, &#8216;I don&#8217;t know you or where you come from.&#8217;</span>
  <span class="verse" title="Luke 13:26" id="Luke-13-26">Then you will begin to say, &#8216;We ate and drank in your presence, and you taught in our streets.&#8217;</span>
  <span class="verse" title="Luke 13:27" id="Luke-13-27">He will say, &#8216;I tell you, I don&#8217;t know where you come from. Depart from me, all you workers of iniquity.&#8217;</span>
  <span class="verse" title="Luke 13:28" id="Luke-13-28">There will be weeping and gnashing of teeth, when you see Abraham, Isaac, Jacob, and all the prophets, in the Kingdom of God, and yourselves being thrown outside.</span>
  <span class="verse" title="Luke 13:29" id="Luke-13-29">They will come from the east, west, north, and south, and will sit down in the Kingdom of God.</span>
  <span class="verse" title="Luke 13:30" id="Luke-13-30">Behold, there are some who are last who will be first, and there are some who are first who will be last.&#8221;</span>
  <span class="verse" title="Luke 13:31" id="Luke-13-31">On that same day, some Pharisees came, saying to him, &#8220;Get out of here, and go away, for Herod wants to kill you.&#8221;</span>
  <span class="verse" title="Luke 13:32" id="Luke-13-32">He said to them, &#8220;Go and tell that fox, &#8216;Behold, I cast out demons and perform cures today and tomorrow, and the third day I complete my mission.</span>
  <span class="verse" title="Luke 13:33" id="Luke-13-33">Nevertheless I must go on my way today and tomorrow and the next day, for it can&#8217;t be that a prophet perish outside of Jerusalem.&#8217;</span>
  <span class="verse" title="Luke 13:34" id="Luke-13-34">&#8220;Jerusalem, Jerusalem, that kills the prophets, and stones those who are sent to her! How often I wanted to gather your children together, like a hen gathers her own brood under her wings, and you refused!</span>
  <span class="verse" title="Luke 13:35" id="Luke-13-35">Behold, your house is left to you desolate. I tell you, you will not see me, until you say, &#8216;Blessed is he who comes in the name of the Lord!&#8217;&#8221;</span>
</div>