<div class="chapter" id="Luke-014">
  <h2>Luke 14</h2>
  <span class="verse" title="Luke 14:1" id="Luke-14-1">It happened, when he went into the house of one of the rulers of the Pharisees on a Sabbath to eat bread, that they were watching him.</span>
  <span class="verse" title="Luke 14:2" id="Luke-14-2">Behold, a certain man who had dropsy was in front of him.</span>
  <span class="verse" title="Luke 14:3" id="Luke-14-3">Jesus, answering, spoke to the lawyers and Pharisees, saying, &#8220;Is it lawful to heal on the Sabbath?&#8221;</span>
  <span class="verse" title="Luke 14:4" id="Luke-14-4">But they were silent. He took him, and healed him, and let him go.</span>
  <span class="verse" title="Luke 14:5" id="Luke-14-5">He answered them, &#8220;Which of you, if your son or an ox fell into a well, wouldn&#8217;t immediately pull him out on a Sabbath day?&#8221;</span>
  <span class="verse" title="Luke 14:6" id="Luke-14-6">They couldn&#8217;t answer him regarding these things.</span>
  <span class="verse" title="Luke 14:7" id="Luke-14-7">He spoke a parable to those who were invited, when he noticed how they chose the best seats, and said to them,</span>
  <span class="verse" title="Luke 14:8" id="Luke-14-8">&#8220;When you are invited by anyone to a marriage feast, don&#8217;t sit in the best seat, since perhaps someone more honorable than you might be invited by him,</span>
  <span class="verse" title="Luke 14:9" id="Luke-14-9">and he who invited both of you would come and tell you, &#8216;Make room for this person.&#8217; Then you would begin, with shame, to take the lowest place.</span>
  <span class="verse" title="Luke 14:10" id="Luke-14-10">But when you are invited, go and sit in the lowest place, so that when he who invited you comes, he may tell you, &#8216;Friend, move up higher.&#8217; Then you will be honored in the presence of all who sit at the table with you.</span>
  <span class="verse" title="Luke 14:11" id="Luke-14-11">For everyone who exalts himself will be humbled, and whoever humbles himself will be exalted.&#8221;</span>
  <span class="verse" title="Luke 14:12" id="Luke-14-12">He also said to the one who had invited him, &#8220;When you make a dinner or a supper, don&#8217;t call your friends, nor your brothers, nor your kinsmen, nor rich neighbors, or perhaps they might also return the favor, and pay you back.</span>
  <span class="verse" title="Luke 14:13" id="Luke-14-13">But when you make a feast, ask the poor, the maimed, the lame, or the blind;</span>
  <span class="verse" title="Luke 14:14" id="Luke-14-14">and you will be blessed, because they don&#8217;t have the resources to repay you. For you will be repaid in the resurrection of the righteous.&#8221;</span>
  <span class="verse" title="Luke 14:15" id="Luke-14-15">When one of those who sat at the table with him heard these things, he said to him, &#8220;Blessed is he who will feast in the Kingdom of God!&#8221;</span>
  <span class="verse" title="Luke 14:16" id="Luke-14-16">But he said to him, &#8220;A certain man made a great supper, and he invited many people.</span>
  <span class="verse" title="Luke 14:17" id="Luke-14-17">He sent out his servant at supper time to tell those who were invited, &#8216;Come, for everything is ready now.&#8217;</span>
  <span class="verse" title="Luke 14:18" id="Luke-14-18">They all as one began to make excuses. &#8220;The first said to him, &#8216;I have bought a field, and I must go and see it. Please have me excused.&#8217;</span>
  <span class="verse" title="Luke 14:19" id="Luke-14-19">&#8220;Another said, &#8216;I have bought five yoke of oxen, and I must go try them out. Please have me excused.&#8217;</span>
  <span class="verse" title="Luke 14:20" id="Luke-14-20">&#8220;Another said, &#8216;I have married a wife, and therefore I can&#8217;t come.&#8217;</span>
  <span class="verse" title="Luke 14:21" id="Luke-14-21">&#8220;That servant came, and told his lord these things. Then the master of the house, being angry, said to his servant, &#8216;Go out quickly into the streets and lanes of the city, and bring in the poor, maimed, blind, and lame.&#8217;</span>
  <span class="verse" title="Luke 14:22" id="Luke-14-22">&#8220;The servant said, &#8216;Lord, it is done as you commanded, and there is still room.&#8217;</span>
  <span class="verse" title="Luke 14:23" id="Luke-14-23">&#8220;The lord said to the servant, &#8216;Go out into the highways and hedges, and compel them to come in, that my house may be filled.</span>
  <span class="verse" title="Luke 14:24" id="Luke-14-24">For I tell you that none of those men who were invited will taste of my supper.&#8217;&#8221;</span>
  <span class="verse" title="Luke 14:25" id="Luke-14-25">Now great multitudes were going with him. He turned and said to them,</span>
  <span class="verse" title="Luke 14:26" id="Luke-14-26">&#8220;If anyone comes to me, and doesn&#8217;t disregard his own father, mother, wife, children, brothers, and sisters, yes, and his own life also, he can&#8217;t be my disciple.</span>
  <span class="verse" title="Luke 14:27" id="Luke-14-27">Whoever doesn&#8217;t bear his own cross, and come after me, can&#8217;t be my disciple.</span>
  <span class="verse" title="Luke 14:28" id="Luke-14-28">For which of you, desiring to build a tower, doesn&#8217;t first sit down and count the cost, to see if he has enough to complete it?</span>
  <span class="verse" title="Luke 14:29" id="Luke-14-29">Or perhaps, when he has laid a foundation, and is not able to finish, everyone who sees begins to mock him,</span>
  <span class="verse" title="Luke 14:30" id="Luke-14-30">saying, &#8216;This man began to build, and wasn&#8217;t able to finish.&#8217;</span>
  <span class="verse" title="Luke 14:31" id="Luke-14-31">Or what king, as he goes to encounter another king in war, will not sit down first and consider whether he is able with ten thousand to meet him who comes against him with twenty thousand?</span>
  <span class="verse" title="Luke 14:32" id="Luke-14-32">Or else, while the other is yet a great way off, he sends an envoy, and asks for conditions of peace.</span>
  <span class="verse" title="Luke 14:33" id="Luke-14-33">So therefore whoever of you who doesn&#8217;t renounce all that he has, he can&#8217;t be my disciple.</span>
  <span class="verse" title="Luke 14:34" id="Luke-14-34">Salt is good, but if the salt becomes flat and tasteless, with what do you season it?</span>
  <span class="verse" title="Luke 14:35" id="Luke-14-35">It is fit neither for the soil nor for the manure pile. It is thrown out. He who has ears to hear, let him hear.&#8221;</span>
</div>