<div class="chapter" id="Luke-015">
  <h2>Luke 15</h2>
  <span class="verse" title="Luke 15:1" id="Luke-15-1">Now all the tax collectors and sinners were coming close to him to hear him.</span>
  <span class="verse" title="Luke 15:2" id="Luke-15-2">The Pharisees and the scribes murmured, saying, &#8220;This man welcomes sinners, and eats with them.&#8221;</span>
  <span class="verse" title="Luke 15:3" id="Luke-15-3">He told them this parable.</span>
  <span class="verse" title="Luke 15:4" id="Luke-15-4">&#8220;Which of you men, if you had one hundred sheep, and lost one of them, wouldn&#8217;t leave the ninety-nine in the wilderness, and go after the one that was lost, until he found it?</span>
  <span class="verse" title="Luke 15:5" id="Luke-15-5">When he has found it, he carries it on his shoulders, rejoicing.</span>
  <span class="verse" title="Luke 15:6" id="Luke-15-6">When he comes home, he calls together his friends and his neighbors, saying to them, &#8216;Rejoice with me, for I have found my sheep which was lost!&#8217;</span>
  <span class="verse" title="Luke 15:7" id="Luke-15-7">I tell you that even so there will be more joy in heaven over one sinner who repents, than over ninety-nine righteous people who need no repentance.</span>
  <span class="verse" title="Luke 15:8" id="Luke-15-8">Or what woman, if she had ten drachma coins, if she lost one drachma coin, wouldn&#8217;t light a lamp, sweep the house, and seek diligently until she found it?</span>
  <span class="verse" title="Luke 15:9" id="Luke-15-9">When she has found it, she calls together her friends and neighbors, saying, &#8216;Rejoice with me, for I have found the drachma which I had lost.&#8217;</span>
  <span class="verse" title="Luke 15:10" id="Luke-15-10">Even so, I tell you, there is joy in the presence of the angels of God over one sinner repenting.&#8221;</span>
  <span class="verse" title="Luke 15:11" id="Luke-15-11">He said, &#8220;A certain man had two sons.</span>
  <span class="verse" title="Luke 15:12" id="Luke-15-12">The younger of them said to his father, &#8216;Father, give me my share of your property.&#8217; He divided his livelihood between them.</span>
  <span class="verse" title="Luke 15:13" id="Luke-15-13">Not many days after, the younger son gathered all of this together and traveled into a far country. There he wasted his property with riotous living.</span>
  <span class="verse" title="Luke 15:14" id="Luke-15-14">When he had spent all of it, there arose a severe famine in that country, and he began to be in need.</span>
  <span class="verse" title="Luke 15:15" id="Luke-15-15">He went and joined himself to one of the citizens of that country, and he sent him into his fields to feed pigs.</span>
  <span class="verse" title="Luke 15:16" id="Luke-15-16">He wanted to fill his belly with the husks that the pigs ate, but no one gave him any.</span>
  <span class="verse" title="Luke 15:17" id="Luke-15-17">But when he came to himself he said, &#8216;How many hired servants of my father&#8217;s have bread enough to spare, and I&#8217;m dying with hunger!</span>
  <span class="verse" title="Luke 15:18" id="Luke-15-18">I will get up and go to my father, and will tell him, &#8220;Father, I have sinned against heaven, and in your sight.</span>
  <span class="verse" title="Luke 15:19" id="Luke-15-19">I am no more worthy to be called your son. Make me as one of your hired servants.&#8221;&#8217;</span>
  <span class="verse" title="Luke 15:20" id="Luke-15-20">&#8220;He arose, and came to his father. But while he was still far off, his father saw him, and was moved with compassion, and ran, and fell on his neck, and kissed him.</span>
  <span class="verse" title="Luke 15:21" id="Luke-15-21">The son said to him, &#8216;Father, I have sinned against heaven, and in your sight. I am no longer worthy to be called your son.&#8217;</span>
  <span class="verse" title="Luke 15:22" id="Luke-15-22">&#8220;But the father said to his servants, &#8216;Bring out the best robe, and put it on him. Put a ring on his hand, and shoes on his feet.</span>
  <span class="verse" title="Luke 15:23" id="Luke-15-23">Bring the fattened calf, kill it, and let us eat, and celebrate;</span>
  <span class="verse" title="Luke 15:24" id="Luke-15-24">for this, my son, was dead, and is alive again. He was lost, and is found.&#8217; They began to celebrate.</span>
  <span class="verse" title="Luke 15:25" id="Luke-15-25">&#8220;Now his elder son was in the field. As he came near to the house, he heard music and dancing.</span>
  <span class="verse" title="Luke 15:26" id="Luke-15-26">He called one of the servants to him, and asked what was going on.</span>
  <span class="verse" title="Luke 15:27" id="Luke-15-27">He said to him, &#8216;Your brother has come, and your father has killed the fattened calf, because he has received him back safe and healthy.&#8217;</span>
  <span class="verse" title="Luke 15:28" id="Luke-15-28">But he was angry, and would not go in. Therefore his father came out, and begged him.</span>
  <span class="verse" title="Luke 15:29" id="Luke-15-29">But he answered his father, &#8216;Behold, these many years I have served you, and I never disobeyed a commandment of yours, but you never gave me a goat, that I might celebrate with my friends.</span>
  <span class="verse" title="Luke 15:30" id="Luke-15-30">But when this, your son, came, who has devoured your living with prostitutes, you killed the fattened calf for him.&#8217;</span>
  <span class="verse" title="Luke 15:31" id="Luke-15-31">&#8220;He said to him, &#8216;Son, you are always with me, and all that is mine is yours.</span>
  <span class="verse" title="Luke 15:32" id="Luke-15-32">But it was appropriate to celebrate and be glad, for this, your brother, was dead, and is alive again. He was lost, and is found.&#8217;&#8221;</span>
</div>