<div class="chapter" id="Luke-016">
  <h2>Luke 16</h2>
  <span class="verse" title="Luke 16:1" id="Luke-16-1">He also said to his disciples, &#8220;There was a certain rich man who had a manager. An accusation was made to him that this man was wasting his possessions.</span>
  <span class="verse" title="Luke 16:2" id="Luke-16-2">He called him, and said to him, &#8216;What is this that I hear about you? Give an accounting of your management, for you can no longer be manager.&#8217;</span>
  <span class="verse" title="Luke 16:3" id="Luke-16-3">&#8220;The manager said within himself, &#8216;What will I do, seeing that my lord is taking away the management position from me? I don&#8217;t have strength to dig. I am ashamed to beg.</span>
  <span class="verse" title="Luke 16:4" id="Luke-16-4">I know what I will do, so that when I am removed from management, they may receive me into their houses.&#8217;</span>
  <span class="verse" title="Luke 16:5" id="Luke-16-5">Calling each one of his lord&#8217;s debtors to him, he said to the first, &#8216;How much do you owe to my lord?&#8217;</span>
  <span class="verse" title="Luke 16:6" id="Luke-16-6">He said, &#8216;A hundred batos of oil.&#8217; He said to him, &#8216;Take your bill, and sit down quickly and write fifty.&#8217;</span>
  <span class="verse" title="Luke 16:7" id="Luke-16-7">Then he said to another, &#8216;How much do you owe?&#8217; He said, &#8216;A hundred cors of wheat.&#8217; He said to him, &#8216;Take your bill, and write eighty.&#8217;</span>
  <span class="verse" title="Luke 16:8" id="Luke-16-8">&#8220;His lord commended the dishonest manager because he had done wisely, for the children of this world are, in their own generation, wiser than the children of the light.</span>
  <span class="verse" title="Luke 16:9" id="Luke-16-9">I tell you, make for yourselves friends by means of unrighteous mammon, so that when you fail, they may receive you into the eternal tents.</span>
  <span class="verse" title="Luke 16:10" id="Luke-16-10">He who is faithful in a very little is faithful also in much. He who is dishonest in a very little is also dishonest in much.</span>
  <span class="verse" title="Luke 16:11" id="Luke-16-11">If therefore you have not been faithful in the unrighteous mammon, who will commit to your trust the true riches?</span>
  <span class="verse" title="Luke 16:12" id="Luke-16-12">If you have not been faithful in that which is another&#8217;s, who will give you that which is your own?</span>
  <span class="verse" title="Luke 16:13" id="Luke-16-13">No servant can serve two masters, for either he will hate the one, and love the other; or else he will hold to one, and despise the other. You aren&#8217;t able to serve God and mammon.&#8221;</span>
  <span class="verse" title="Luke 16:14" id="Luke-16-14">The Pharisees, who were lovers of money, also heard all these things, and they scoffed at him.</span>
  <span class="verse" title="Luke 16:15" id="Luke-16-15">He said to them, &#8220;You are those who justify yourselves in the sight of men, but God knows your hearts. For that which is exalted among men is an abomination in the sight of God.</span>
  <span class="verse" title="Luke 16:16" id="Luke-16-16">The law and the prophets were until John. From that time the Good News of the Kingdom of God is preached, and everyone is forcing his way into it.</span>
  <span class="verse" title="Luke 16:17" id="Luke-16-17">But it is easier for heaven and earth to pass away, than for one tiny stroke of a pen in the law to fall.</span>
  <span class="verse" title="Luke 16:18" id="Luke-16-18">Everyone who divorces his wife, and marries another, commits adultery. He who marries one who is divorced from a husband commits adultery.</span>
  <span class="verse" title="Luke 16:19" id="Luke-16-19">&#8220;Now there was a certain rich man, and he was clothed in purple and fine linen, living in luxury every day.</span>
  <span class="verse" title="Luke 16:20" id="Luke-16-20">A certain beggar, named Lazarus, was laid at his gate, full of sores,</span>
  <span class="verse" title="Luke 16:21" id="Luke-16-21">and desiring to be fed with the crumbs that fell from the rich man&#8217;s table. Yes, even the dogs came and licked his sores.</span>
  <span class="verse" title="Luke 16:22" id="Luke-16-22">It happened that the beggar died, and that he was carried away by the angels to Abraham&#8217;s bosom. The rich man also died, and was buried.</span>
  <span class="verse" title="Luke 16:23" id="Luke-16-23">In Hades, he lifted up his eyes, being in torment, and saw Abraham far off, and Lazarus at his bosom.</span>
  <span class="verse" title="Luke 16:24" id="Luke-16-24">He cried and said, &#8216;Father Abraham, have mercy on me, and send Lazarus, that he may dip the tip of his finger in water, and cool my tongue! For I am in anguish in this flame.&#8217;</span>
  <span class="verse" title="Luke 16:25" id="Luke-16-25">&#8220;But Abraham said, &#8216;Son, remember that you, in your lifetime, received your good things, and Lazarus, in the same way, bad things. But now here he is comforted and you are in anguish.</span>
  <span class="verse" title="Luke 16:26" id="Luke-16-26">Besides all this, between us and you there is a great gulf fixed, that those who want to pass from here to you are not able, and that none may cross over from there to us.&#8217;</span>
  <span class="verse" title="Luke 16:27" id="Luke-16-27">&#8220;He said, &#8216;I ask you therefore, father, that you would send him to my father&#8217;s house;</span>
  <span class="verse" title="Luke 16:28" id="Luke-16-28">for I have five brothers, that he may testify to them, so they won&#8217;t also come into this place of torment.&#8217;</span>
  <span class="verse" title="Luke 16:29" id="Luke-16-29">&#8220;But Abraham said to him, &#8216;They have Moses and the prophets. Let them listen to them.&#8217;</span>
  <span class="verse" title="Luke 16:30" id="Luke-16-30">&#8220;He said, &#8216;No, father Abraham, but if one goes to them from the dead, they will repent.&#8217;</span>
  <span class="verse" title="Luke 16:31" id="Luke-16-31">&#8220;He said to him, &#8216;If they don&#8217;t listen to Moses and the prophets, neither will they be persuaded if one rises from the dead.&#8217;&#8221;</span>
</div>