<div class="chapter" id="Luke-017">
  <h2>Luke 17</h2>
  <span class="verse" title="Luke 17:1" id="Luke-17-1">He said to the disciples, &#8220;It is impossible that no occasions of stumbling should come, but woe to him through whom they come!</span>
  <span class="verse" title="Luke 17:2" id="Luke-17-2">It would be better for him if a millstone were hung around his neck, and he were thrown into the sea, rather than that he should cause one of these little ones to stumble.</span>
  <span class="verse" title="Luke 17:3" id="Luke-17-3">Be careful. If your brother sins against you, rebuke him. If he repents, forgive him.</span>
  <span class="verse" title="Luke 17:4" id="Luke-17-4">If he sins against you seven times in the day, and seven times returns, saying, &#8216;I repent,&#8217; you shall forgive him.&#8221;</span>
  <span class="verse" title="Luke 17:5" id="Luke-17-5">The apostles said to the Lord, &#8220;Increase our faith.&#8221;</span>
  <span class="verse" title="Luke 17:6" id="Luke-17-6">The Lord said, &#8220;If you had faith like a grain of mustard seed, you would tell this sycamore tree, &#8216;Be uprooted, and be planted in the sea,&#8217; and it would obey you.</span>
  <span class="verse" title="Luke 17:7" id="Luke-17-7">But who is there among you, having a servant plowing or keeping sheep, that will say, when he comes in from the field, &#8216;Come immediately and sit down at the table,&#8217;</span>
  <span class="verse" title="Luke 17:8" id="Luke-17-8">and will not rather tell him, &#8216;Prepare my supper, clothe yourself properly, and serve me, while I eat and drink. Afterward you shall eat and drink&#8217;?</span>
  <span class="verse" title="Luke 17:9" id="Luke-17-9">Does he thank that servant because he did the things that were commanded? I think not.</span>
  <span class="verse" title="Luke 17:10" id="Luke-17-10">Even so you also, when you have done all the things that are commanded you, say, &#8216;We are unworthy servants. We have done our duty.&#8217;&#8221;</span>
  <span class="verse" title="Luke 17:11" id="Luke-17-11">It happened as he was on his way to Jerusalem, that he was passing along the borders of Samaria and Galilee.</span>
  <span class="verse" title="Luke 17:12" id="Luke-17-12">As he entered into a certain village, ten men who were lepers met him, who stood at a distance.</span>
  <span class="verse" title="Luke 17:13" id="Luke-17-13">They lifted up their voices, saying, &#8220;Jesus, Master, have mercy on us!&#8221;</span>
  <span class="verse" title="Luke 17:14" id="Luke-17-14">When he saw them, he said to them, &#8220;Go and show yourselves to the priests.&#8221; It happened that as they went, they were cleansed.</span>
  <span class="verse" title="Luke 17:15" id="Luke-17-15">One of them, when he saw that he was healed, turned back, glorifying God with a loud voice.</span>
  <span class="verse" title="Luke 17:16" id="Luke-17-16">He fell on his face at Jesus&#8217; feet, giving him thanks; and he was a Samaritan.</span>
  <span class="verse" title="Luke 17:17" id="Luke-17-17">Jesus answered, &#8220;Weren&#8217;t the ten cleansed? But where are the nine?</span>
  <span class="verse" title="Luke 17:18" id="Luke-17-18">Were there none found who returned to give glory to God, except this stranger?&#8221;</span>
  <span class="verse" title="Luke 17:19" id="Luke-17-19">Then he said to him, &#8220;Get up, and go your way. Your faith has healed you.&#8221;</span>
  <span class="verse" title="Luke 17:20" id="Luke-17-20">Being asked by the Pharisees when the Kingdom of God would come, he answered them, &#8220;The Kingdom of God doesn&#8217;t come with observation;</span>
  <span class="verse" title="Luke 17:21" id="Luke-17-21">neither will they say, &#8216;Look, here!&#8217; or, &#8216;Look, there!&#8217; for behold, the Kingdom of God is within you.&#8221;</span>
  <span class="verse" title="Luke 17:22" id="Luke-17-22">He said to the disciples, &#8220;The days will come, when you will desire to see one of the days of the Son of Man, and you will not see it.</span>
  <span class="verse" title="Luke 17:23" id="Luke-17-23">They will tell you, &#8216;Look, here!&#8217; or &#8216;Look, there!&#8217; Don&#8217;t go away, nor follow after them,</span>
  <span class="verse" title="Luke 17:24" id="Luke-17-24">for as the lightning, when it flashes out of the one part under the sky, shines to the other part under the sky; so will the Son of Man be in his day.</span>
  <span class="verse" title="Luke 17:25" id="Luke-17-25">But first, he must suffer many things and be rejected by this generation.</span>
  <span class="verse" title="Luke 17:26" id="Luke-17-26">As it happened in the days of Noah, even so will it be also in the days of the Son of Man.</span>
  <span class="verse" title="Luke 17:27" id="Luke-17-27">They ate, they drank, they married, they were given in marriage, until the day that Noah entered into the ship, and the flood came, and destroyed them all.</span>
  <span class="verse" title="Luke 17:28" id="Luke-17-28">Likewise, even as it happened in the days of Lot: they ate, they drank, they bought, they sold, they planted, they built;</span>
  <span class="verse" title="Luke 17:29" id="Luke-17-29">but in the day that Lot went out from Sodom, it rained fire and sulfur from the sky, and destroyed them all.</span>
  <span class="verse" title="Luke 17:30" id="Luke-17-30">It will be the same way in the day that the Son of Man is revealed.</span>
  <span class="verse" title="Luke 17:31" id="Luke-17-31">In that day, he who will be on the housetop, and his goods in the house, let him not go down to take them away. Let him who is in the field likewise not turn back.</span>
  <span class="verse" title="Luke 17:32" id="Luke-17-32">Remember Lot&#8217;s wife!</span>
  <span class="verse" title="Luke 17:33" id="Luke-17-33">Whoever seeks to save his life loses it, but whoever loses his life preserves it.</span>
  <span class="verse" title="Luke 17:34" id="Luke-17-34">I tell you, in that night there will be two people in one bed. The one will be taken, and the other will be left.</span>
  <span class="verse" title="Luke 17:35" id="Luke-17-35">There will be two grinding grain together. One will be taken, and the other will be left.&#8221;</span>
  <span class="verse" title="Luke 17:37" id="Luke-17-37">They, answering, asked him, &#8220;Where, Lord?&#8221; He said to them, &#8220;Where the body is, there will the vultures also be gathered together.&#8221;</span>
</div>