<div class="chapter" id="Luke-018">
  <h2>Luke 18</h2>
  <span class="verse" title="Luke 18:1" id="Luke-18-1">He also spoke a parable to them that they must always pray, and not give up,</span>
  <span class="verse" title="Luke 18:2" id="Luke-18-2">saying, &#8220;There was a judge in a certain city who didn&#8217;t fear God, and didn&#8217;t respect man.</span>
  <span class="verse" title="Luke 18:3" id="Luke-18-3">A widow was in that city, and she often came to him, saying, &#8216;Defend me from my adversary!&#8217;</span>
  <span class="verse" title="Luke 18:4" id="Luke-18-4">He wouldn&#8217;t for a while, but afterward he said to himself, &#8216;Though I neither fear God, nor respect man,</span>
  <span class="verse" title="Luke 18:5" id="Luke-18-5">yet because this widow bothers me, I will defend her, or else she will wear me out by her continual coming.&#8217;&#8221;</span>
  <span class="verse" title="Luke 18:6" id="Luke-18-6">The Lord said, &#8220;Listen to what the unrighteous judge says.</span>
  <span class="verse" title="Luke 18:7" id="Luke-18-7">Won&#8217;t God avenge his chosen ones, who are crying out to him day and night, and yet he exercises patience with them?</span>
  <span class="verse" title="Luke 18:8" id="Luke-18-8">I tell you that he will avenge them quickly. Nevertheless, when the Son of Man comes, will he find faith on the earth?&#8221;</span>
  <span class="verse" title="Luke 18:9" id="Luke-18-9">He spoke also this parable to certain people who were convinced of their own righteousness, and who despised all others.</span>
  <span class="verse" title="Luke 18:10" id="Luke-18-10">&#8220;Two men went up into the temple to pray; one was a Pharisee, and the other was a tax collector.</span>
  <span class="verse" title="Luke 18:11" id="Luke-18-11">The Pharisee stood and prayed to himself like this: &#8216;God, I thank you, that I am not like the rest of men, extortioners, unrighteous, adulterers, or even like this tax collector.</span>
  <span class="verse" title="Luke 18:12" id="Luke-18-12">I fast twice a week. I give tithes of all that I get.&#8217;</span>
  <span class="verse" title="Luke 18:13" id="Luke-18-13">But the tax collector, standing far away, wouldn&#8217;t even lift up his eyes to heaven, but beat his breast, saying, &#8216;God, be merciful to me, a sinner!&#8217;</span>
  <span class="verse" title="Luke 18:14" id="Luke-18-14">I tell you, this man went down to his house justified rather than the other; for everyone who exalts himself will be humbled, but he who humbles himself will be exalted.&#8221;</span>
  <span class="verse" title="Luke 18:15" id="Luke-18-15">They were also bringing their babies to him, that he might touch them. But when the disciples saw it, they rebuked them.</span>
  <span class="verse" title="Luke 18:16" id="Luke-18-16">Jesus summoned them, saying, &#8220;Allow the little children to come to me, and don&#8217;t hinder them, for the Kingdom of God belongs to such as these.</span>
  <span class="verse" title="Luke 18:17" id="Luke-18-17">Most certainly, I tell you, whoever doesn&#8217;t receive the Kingdom of God like a little child, he will in no way enter into it.&#8221;</span>
  <span class="verse" title="Luke 18:18" id="Luke-18-18">A certain ruler asked him, saying, &#8220;Good Teacher, what shall I do to inherit eternal life?&#8221;</span>
  <span class="verse" title="Luke 18:19" id="Luke-18-19">Jesus asked him, &#8220;Why do you call me good? No one is good, except one—God.</span>
  <span class="verse" title="Luke 18:20" id="Luke-18-20">You know the commandments: &#8216;Don&#8217;t commit adultery,&#8217; &#8216;Don&#8217;t murder,&#8217; &#8216;Don&#8217;t steal,&#8217; &#8216;Don&#8217;t give false testimony,&#8217; &#8216;Honor your father and your mother.&#8217;&#8221;</span>
  <span class="verse" title="Luke 18:21" id="Luke-18-21">He said, &#8220;I have observed all these things from my youth up.&#8221;</span>
  <span class="verse" title="Luke 18:22" id="Luke-18-22">When Jesus heard these things, he said to him, &#8220;You still lack one thing. Sell all that you have, and distribute it to the poor. You will have treasure in heaven. Come, follow me.&#8221;</span>
  <span class="verse" title="Luke 18:23" id="Luke-18-23">But when he heard these things, he became very sad, for he was very rich.</span>
  <span class="verse" title="Luke 18:24" id="Luke-18-24">Jesus, seeing that he became very sad, said, &#8220;How hard it is for those who have riches to enter into the Kingdom of God!</span>
  <span class="verse" title="Luke 18:25" id="Luke-18-25">For it is easier for a camel to enter in through a needle&#8217;s eye, than for a rich man to enter into the Kingdom of God.&#8221;</span>
  <span class="verse" title="Luke 18:26" id="Luke-18-26">Those who heard it said, &#8220;Then who can be saved?&#8221;</span>
  <span class="verse" title="Luke 18:27" id="Luke-18-27">But he said, &#8220;The things which are impossible with men are possible with God.&#8221;</span>
  <span class="verse" title="Luke 18:28" id="Luke-18-28">Peter said, &#8220;Look, we have left everything, and followed you.&#8221;</span>
  <span class="verse" title="Luke 18:29" id="Luke-18-29">He said to them, &#8220;Most certainly I tell you, there is no one who has left house, or wife, or brothers, or parents, or children, for the Kingdom of God&#8217;s sake,</span>
  <span class="verse" title="Luke 18:30" id="Luke-18-30">who will not receive many times more in this time, and in the world to come, eternal life.&#8221;</span>
  <span class="verse" title="Luke 18:31" id="Luke-18-31">He took the twelve aside, and said to them, &#8220;Behold, we are going up to Jerusalem, and all the things that are written through the prophets concerning the Son of Man will be completed.</span>
  <span class="verse" title="Luke 18:32" id="Luke-18-32">For he will be delivered up to the Gentiles, will be mocked, treated shamefully, and spit on.</span>
  <span class="verse" title="Luke 18:33" id="Luke-18-33">They will scourge and kill him. On the third day, he will rise again.&#8221;</span>
  <span class="verse" title="Luke 18:34" id="Luke-18-34">They understood none of these things. This saying was hidden from them, and they didn&#8217;t understand the things that were said.</span>
  <span class="verse" title="Luke 18:35" id="Luke-18-35">It happened, as he came near Jericho, a certain blind man sat by the road, begging.</span>
  <span class="verse" title="Luke 18:36" id="Luke-18-36">Hearing a multitude going by, he asked what this meant.</span>
  <span class="verse" title="Luke 18:37" id="Luke-18-37">They told him that Jesus of Nazareth was passing by.</span>
  <span class="verse" title="Luke 18:38" id="Luke-18-38">He cried out, &#8220;Jesus, you son of David, have mercy on me!&#8221;</span>
  <span class="verse" title="Luke 18:39" id="Luke-18-39">Those who led the way rebuked him, that he should be quiet; but he cried out all the more, &#8220;You son of David, have mercy on me!&#8221;</span>
  <span class="verse" title="Luke 18:40" id="Luke-18-40">Standing still, Jesus commanded him to be brought to him. When he had come near, he asked him,</span>
  <span class="verse" title="Luke 18:41" id="Luke-18-41">&#8220;What do you want me to do?&#8221; He said, &#8220;Lord, that I may see again.&#8221;</span>
  <span class="verse" title="Luke 18:42" id="Luke-18-42">Jesus said to him, &#8220;Receive your sight. Your faith has healed you.&#8221;</span>
  <span class="verse" title="Luke 18:43" id="Luke-18-43">Immediately he received his sight, and followed him, glorifying God. All the people, when they saw it, praised God.</span>
</div>