<div class="chapter" id="Luke-019">
  <h2>Luke 19</h2>
  <span class="verse" title="Luke 19:1" id="Luke-19-1">He entered and was passing through Jericho.</span>
  <span class="verse" title="Luke 19:2" id="Luke-19-2">There was a man named Zacchaeus. He was a chief tax collector, and he was rich.</span>
  <span class="verse" title="Luke 19:3" id="Luke-19-3">He was trying to see who Jesus was, and couldn&#8217;t because of the crowd, because he was short.</span>
  <span class="verse" title="Luke 19:4" id="Luke-19-4">He ran on ahead, and climbed up into a sycamore tree to see him, for he was to pass that way.</span>
  <span class="verse" title="Luke 19:5" id="Luke-19-5">When Jesus came to the place, he looked up and saw him, and said to him, &#8220;Zacchaeus, hurry and come down, for today I must stay at your house.&#8221;</span>
  <span class="verse" title="Luke 19:6" id="Luke-19-6">He hurried, came down, and received him joyfully.</span>
  <span class="verse" title="Luke 19:7" id="Luke-19-7">When they saw it, they all murmured, saying, &#8220;He has gone in to lodge with a man who is a sinner.&#8221;</span>
  <span class="verse" title="Luke 19:8" id="Luke-19-8">Zacchaeus stood and said to the Lord, &#8220;Behold, Lord, half of my goods I give to the poor. If I have wrongfully exacted anything of anyone, I restore four times as much.&#8221;</span>
  <span class="verse" title="Luke 19:9" id="Luke-19-9">Jesus said to him, &#8220;Today, salvation has come to this house, because he also is a son of Abraham.</span>
  <span class="verse" title="Luke 19:10" id="Luke-19-10">For the Son of Man came to seek and to save that which was lost.&#8221;</span>
  <span class="verse" title="Luke 19:11" id="Luke-19-11">As they heard these things, he went on and told a parable, because he was near Jerusalem, and they supposed that the Kingdom of God would be revealed immediately.</span>
  <span class="verse" title="Luke 19:12" id="Luke-19-12">He said therefore, &#8220;A certain nobleman went into a far country to receive for himself a kingdom, and to return.</span>
  <span class="verse" title="Luke 19:13" id="Luke-19-13">He called ten servants of his, and gave them ten mina coins, and told them, &#8216;Conduct business until I come.&#8217;</span>
  <span class="verse" title="Luke 19:14" id="Luke-19-14">But his citizens hated him, and sent an envoy after him, saying, &#8216;We don&#8217;t want this man to reign over us.&#8217;</span>
  <span class="verse" title="Luke 19:15" id="Luke-19-15">&#8220;It happened when he had come back again, having received the kingdom, that he commanded these servants, to whom he had given the money, to be called to him, that he might know what they had gained by conducting business.</span>
  <span class="verse" title="Luke 19:16" id="Luke-19-16">The first came before him, saying, &#8216;Lord, your mina has made ten more minas.&#8217;</span>
  <span class="verse" title="Luke 19:17" id="Luke-19-17">&#8220;He said to him, &#8216;Well done, you good servant! Because you were found faithful with very little, you shall have authority over ten cities.&#8217;</span>
  <span class="verse" title="Luke 19:18" id="Luke-19-18">&#8220;The second came, saying, &#8216;Your mina, Lord, has made five minas.&#8217;</span>
  <span class="verse" title="Luke 19:19" id="Luke-19-19">&#8220;So he said to him, &#8216;And you are to be over five cities.&#8217;</span>
  <span class="verse" title="Luke 19:20" id="Luke-19-20">Another came, saying, &#8216;Lord, behold, your mina, which I kept laid away in a handkerchief,</span>
  <span class="verse" title="Luke 19:21" id="Luke-19-21">for I feared you, because you are an exacting man. You take up that which you didn&#8217;t lay down, and reap that which you didn&#8217;t sow.&#8217;</span>
  <span class="verse" title="Luke 19:22" id="Luke-19-22">&#8220;He said to him, &#8216;Out of your own mouth will I judge you, you wicked servant! You knew that I am an exacting man, taking up that which I didn&#8217;t lay down, and reaping that which I didn&#8217;t sow.</span>
  <span class="verse" title="Luke 19:23" id="Luke-19-23">Then why didn&#8217;t you deposit my money in the bank, and at my coming, I might have earned interest on it?&#8217;</span>
  <span class="verse" title="Luke 19:24" id="Luke-19-24">He said to those who stood by, &#8216;Take the mina away from him, and give it to him who has the ten minas.&#8217;</span>
  <span class="verse" title="Luke 19:25" id="Luke-19-25">&#8220;They said to him, &#8216;Lord, he has ten minas!&#8217;</span>
  <span class="verse" title="Luke 19:26" id="Luke-19-26">&#8216;For I tell you that to everyone who has, will more be given; but from him who doesn&#8217;t have, even that which he has will be taken away from him.</span>
  <span class="verse" title="Luke 19:27" id="Luke-19-27">But bring those enemies of mine who didn&#8217;t want me to reign over them here, and kill them before me.&#8217;&#8221;</span>
  <span class="verse" title="Luke 19:28" id="Luke-19-28">Having said these things, he went on ahead, going up to Jerusalem.</span>
  <span class="verse" title="Luke 19:29" id="Luke-19-29">It happened, when he drew near to Bethsphage and Bethany, at the mountain that is called Olivet, he sent two of his disciples,</span>
  <span class="verse" title="Luke 19:30" id="Luke-19-30">saying, &#8220;Go your way into the village on the other side, in which, as you enter, you will find a colt tied, whereon no man ever yet sat. Untie it, and bring it.</span>
  <span class="verse" title="Luke 19:31" id="Luke-19-31">If anyone asks you, &#8216;Why are you untying it?&#8217; say to him: &#8216;The Lord needs it.&#8217;&#8221;</span>
  <span class="verse" title="Luke 19:32" id="Luke-19-32">Those who were sent went away, and found things just as he had told them.</span>
  <span class="verse" title="Luke 19:33" id="Luke-19-33">As they were untying the colt, its owners said to them, &#8220;Why are you untying the colt?&#8221;</span>
  <span class="verse" title="Luke 19:34" id="Luke-19-34">They said, &#8220;The Lord needs it.&#8221;</span>
  <span class="verse" title="Luke 19:35" id="Luke-19-35">They brought it to Jesus. They threw their cloaks on the colt, and set Jesus on them.</span>
  <span class="verse" title="Luke 19:36" id="Luke-19-36">As he went, they spread their cloaks in the way.</span>
  <span class="verse" title="Luke 19:37" id="Luke-19-37">As he was now getting near, at the descent of the Mount of Olives, the whole multitude of the disciples began to rejoice and praise God with a loud voice for all the mighty works which they had seen,</span>
  <span class="verse" title="Luke 19:38" id="Luke-19-38">saying, &#8220;Blessed is the King who comes in the name of the Lord! Peace in heaven, and glory in the highest!&#8221;</span>
  <span class="verse" title="Luke 19:39" id="Luke-19-39">Some of the Pharisees from the multitude said to him, &#8220;Teacher, rebuke your disciples!&#8221;</span>
  <span class="verse" title="Luke 19:40" id="Luke-19-40">He answered them, &#8220;I tell you that if these were silent, the stones would cry out.&#8221;</span>
  <span class="verse" title="Luke 19:41" id="Luke-19-41">When he drew near, he saw the city and wept over it,</span>
  <span class="verse" title="Luke 19:42" id="Luke-19-42">saying, &#8220;If you, even you, had known today the things which belong to your peace! But now, they are hidden from your eyes.</span>
  <span class="verse" title="Luke 19:43" id="Luke-19-43">For the days will come on you, when your enemies will throw up a barricade against you, surround you, hem you in on every side,</span>
  <span class="verse" title="Luke 19:44" id="Luke-19-44">and will dash you and your children within you to the ground. They will not leave in you one stone on another, because you didn&#8217;t know the time of your visitation.&#8221;</span>
  <span class="verse" title="Luke 19:45" id="Luke-19-45">He entered into the temple, and began to drive out those who bought and sold in it,</span>
  <span class="verse" title="Luke 19:46" id="Luke-19-46">saying to them, &#8220;It is written, &#8216;My house is a house of prayer,&#8217; but you have made it a &#8216;den of robbers&#8217;!&#8221;</span>
  <span class="verse" title="Luke 19:47" id="Luke-19-47">He was teaching daily in the temple, but the chief priests and the scribes and the leading men among the people sought to destroy him.</span>
  <span class="verse" title="Luke 19:48" id="Luke-19-48">They couldn&#8217;t find what they might do, for all the people hung on to every word that he said.</span>
</div>