<div class="chapter" id="Luke-020">
  <h2>Luke 20</h2>
  <span class="verse" title="Luke 20:1" id="Luke-20-1">It happened on one of those days, as he was teaching the people in the temple and preaching the Good News, that the priests and scribes came to him with the elders.</span>
  <span class="verse" title="Luke 20:2" id="Luke-20-2">They asked him, &#8220;Tell us: by what authority do you do these things? Or who is giving you this authority?&#8221;</span>
  <span class="verse" title="Luke 20:3" id="Luke-20-3">He answered them, &#8220;I also will ask you one question. Tell me:</span>
  <span class="verse" title="Luke 20:4" id="Luke-20-4">the baptism of John, was it from heaven, or from men?&#8221;</span>
  <span class="verse" title="Luke 20:5" id="Luke-20-5">They reasoned with themselves, saying, &#8220;If we say, &#8216;From heaven,&#8217; he will say, &#8216;Why didn&#8217;t you believe him?&#8217;</span>
  <span class="verse" title="Luke 20:6" id="Luke-20-6">But if we say, &#8216;From men,&#8217; all the people will stone us, for they are persuaded that John was a prophet.&#8221;</span>
  <span class="verse" title="Luke 20:7" id="Luke-20-7">They answered that they didn&#8217;t know where it was from.</span>
  <span class="verse" title="Luke 20:8" id="Luke-20-8">Jesus said to them, &#8220;Neither will I tell you by what authority I do these things.&#8221;</span>
  <span class="verse" title="Luke 20:9" id="Luke-20-9">He began to tell the people this parable. &#8220;A man planted a vineyard, and rented it out to some farmers, and went into another country for a long time.</span>
  <span class="verse" title="Luke 20:10" id="Luke-20-10">At the proper season, he sent a servant to the farmers to collect his share of the fruit of the vineyard. But the farmers beat him, and sent him away empty.</span>
  <span class="verse" title="Luke 20:11" id="Luke-20-11">He sent yet another servant, and they also beat him, and treated him shamefully, and sent him away empty.</span>
  <span class="verse" title="Luke 20:12" id="Luke-20-12">He sent yet a third, and they also wounded him, and threw him out.</span>
  <span class="verse" title="Luke 20:13" id="Luke-20-13">The lord of the vineyard said, &#8216;What shall I do? I will send my beloved son. It may be that seeing him, they will respect him.&#8217;</span>
  <span class="verse" title="Luke 20:14" id="Luke-20-14">&#8220;But when the farmers saw him, they reasoned among themselves, saying, &#8216;This is the heir. Come, let&#8217;s kill him, that the inheritance may be ours.&#8217;</span>
  <span class="verse" title="Luke 20:15" id="Luke-20-15">They threw him out of the vineyard, and killed him. What therefore will the lord of the vineyard do to them?</span>
  <span class="verse" title="Luke 20:16" id="Luke-20-16">He will come and destroy these farmers, and will give the vineyard to others.&#8221; When they heard it, they said, &#8220;May it never be!&#8221;</span>
  <span class="verse" title="Luke 20:17" id="Luke-20-17">But he looked at them, and said, &#8220;Then what is this that is written,  &#8216;The stone which the builders rejected,<br/> <span class="indent">&nbsp;&nbsp;</span>the same was made the chief cornerstone?&#8217;<br/></span>
  <span class="verse" title="Luke 20:18" id="Luke-20-18">Everyone who falls on that stone will be broken to pieces,<br/> <span class="indent">&nbsp;&nbsp;</span>but it will crush whomever it falls on to dust.&#8221;<br/></span>
  <span class="verse" title="Luke 20:19" id="Luke-20-19">The chief priests and the scribes sought to lay hands on him that very hour, but they feared the people—for they knew he had spoken this parable against them.</span>
  <span class="verse" title="Luke 20:20" id="Luke-20-20">They watched him, and sent out spies, who pretended to be righteous, that they might trap him in something he said, so as to deliver him up to the power and authority of the governor.</span>
  <span class="verse" title="Luke 20:21" id="Luke-20-21">They asked him, &#8220;Teacher, we know that you say and teach what is right, and aren&#8217;t partial to anyone, but truly teach the way of God.</span>
  <span class="verse" title="Luke 20:22" id="Luke-20-22">Is it lawful for us to pay taxes to Caesar, or not?&#8221;</span>
  <span class="verse" title="Luke 20:23" id="Luke-20-23">But he perceived their craftiness, and said to them, &#8220;Why do you test me?</span>
  <span class="verse" title="Luke 20:24" id="Luke-20-24">Show me a denarius. Whose image and inscription are on it?&#8221; They answered, &#8220;Caesar&#8217;s.&#8221;</span>
  <span class="verse" title="Luke 20:25" id="Luke-20-25">He said to them, &#8220;Then give to Caesar the things that are Caesar&#8217;s, and to God the things that are God&#8217;s.&#8221;</span>
  <span class="verse" title="Luke 20:26" id="Luke-20-26">They weren&#8217;t able to trap him in his words before the people. They marveled at his answer, and were silent.</span>
  <span class="verse" title="Luke 20:27" id="Luke-20-27">Some of the Sadducees came to him, those who deny that there is a resurrection.</span>
  <span class="verse" title="Luke 20:28" id="Luke-20-28">They asked him, &#8220;Teacher, Moses wrote to us that if a man&#8217;s brother dies having a wife, and he is childless, his brother should take the wife, and raise up children for his brother.</span>
  <span class="verse" title="Luke 20:29" id="Luke-20-29">There were therefore seven brothers. The first took a wife, and died childless.</span>
  <span class="verse" title="Luke 20:30" id="Luke-20-30">The second took her as wife, and he died childless.</span>
  <span class="verse" title="Luke 20:31" id="Luke-20-31">The third took her, and likewise the seven all left no children, and died.</span>
  <span class="verse" title="Luke 20:32" id="Luke-20-32">Afterward the woman also died.</span>
  <span class="verse" title="Luke 20:33" id="Luke-20-33">Therefore in the resurrection whose wife of them will she be? For the seven had her as a wife.&#8221;</span>
  <span class="verse" title="Luke 20:34" id="Luke-20-34">Jesus said to them, &#8220;The children of this age marry, and are given in marriage.</span>
  <span class="verse" title="Luke 20:35" id="Luke-20-35">But those who are considered worthy to attain to that age and the resurrection from the dead, neither marry, nor are given in marriage.</span>
  <span class="verse" title="Luke 20:36" id="Luke-20-36">For they can&#8217;t die any more, for they are like the angels, and are children of God, being children of the resurrection.</span>
  <span class="verse" title="Luke 20:37" id="Luke-20-37">But that the dead are raised, even Moses showed at the bush, when he called the Lord &#8216;The God of Abraham, the God of Isaac, and the God of Jacob.&#8217;</span>
  <span class="verse" title="Luke 20:38" id="Luke-20-38">Now he is not the God of the dead, but of the living, for all are alive to him.&#8221;</span>
  <span class="verse" title="Luke 20:39" id="Luke-20-39">Some of the scribes answered, &#8220;Teacher, you speak well.&#8221;</span>
  <span class="verse" title="Luke 20:40" id="Luke-20-40">They didn&#8217;t dare to ask him any more questions.</span>
  <span class="verse" title="Luke 20:41" id="Luke-20-41">He said to them, &#8220;Why do they say that the Christ is David&#8217;s son?</span>
  <span class="verse" title="Luke 20:42" id="Luke-20-42">David himself says in the book of Psalms,  &#8216;The Lord said to my Lord,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Sit at my right hand,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Luke 20:43" id="Luke-20-43">until I make your enemies the footstool of your feet.&#8221;&#8217;<br/></span>
  <span class="verse" title="Luke 20:44" id="Luke-20-44">&#8220;David therefore calls him Lord, so how is he his son?&#8221;</span>
  <span class="verse" title="Luke 20:45" id="Luke-20-45">In the hearing of all the people, he said to his disciples,</span>
  <span class="verse" title="Luke 20:46" id="Luke-20-46">&#8220;Beware of the scribes, who like to walk in long robes, and love greetings in the marketplaces, the best seats in the synagogues, and the best places at feasts;</span>
  <span class="verse" title="Luke 20:47" id="Luke-20-47">who devour widows&#8217; houses, and for a pretense make long prayers: these will receive greater condemnation.&#8221;</span>
</div>