<div class="chapter" id="Luke-021">
  <h2>Luke 21</h2>
  <span class="verse" title="Luke 21:1" id="Luke-21-1">He looked up, and saw the rich people who were putting their gifts into the treasury.</span>
  <span class="verse" title="Luke 21:2" id="Luke-21-2">He saw a certain poor widow casting in two small brass coins.</span>
  <span class="verse" title="Luke 21:3" id="Luke-21-3">He said, &#8220;Truly I tell you, this poor widow put in more than all of them,</span>
  <span class="verse" title="Luke 21:4" id="Luke-21-4">for all these put in gifts for God from their abundance, but she, out of her poverty, put in all that she had to live on.&#8221;</span>
  <span class="verse" title="Luke 21:5" id="Luke-21-5">As some were talking about the temple and how it was decorated with beautiful stones and gifts, he said,</span>
  <span class="verse" title="Luke 21:6" id="Luke-21-6">&#8220;As for these things which you see, the days will come, in which there will not be left here one stone on another that will not be thrown down.&#8221;</span>
  <span class="verse" title="Luke 21:7" id="Luke-21-7">They asked him, &#8220;Teacher, so when will these things be? What is the sign that these things are about to happen?&#8221;</span>
  <span class="verse" title="Luke 21:8" id="Luke-21-8">He said, &#8220;Watch out that you don&#8217;t get led astray, for many will come in my name, saying, &#8216;I am he,&#8217; and, &#8216;The time is at hand.&#8217; Therefore don&#8217;t follow them.</span>
  <span class="verse" title="Luke 21:9" id="Luke-21-9">When you hear of wars and disturbances, don&#8217;t be terrified, for these things must happen first, but the end won&#8217;t come immediately.&#8221;</span>
  <span class="verse" title="Luke 21:10" id="Luke-21-10">Then he said to them, &#8220;Nation will rise against nation, and kingdom against kingdom.</span>
  <span class="verse" title="Luke 21:11" id="Luke-21-11">There will be great earthquakes, famines, and plagues in various places. There will be terrors and great signs from heaven.</span>
  <span class="verse" title="Luke 21:12" id="Luke-21-12">But before all these things, they will lay their hands on you and will persecute you, delivering you up to synagogues and prisons, bringing you before kings and governors for my name&#8217;s sake.</span>
  <span class="verse" title="Luke 21:13" id="Luke-21-13">It will turn out as a testimony for you.</span>
  <span class="verse" title="Luke 21:14" id="Luke-21-14">Settle it therefore in your hearts not to meditate beforehand how to answer,</span>
  <span class="verse" title="Luke 21:15" id="Luke-21-15">for I will give you a mouth and wisdom which all your adversaries will not be able to withstand or to contradict.</span>
  <span class="verse" title="Luke 21:16" id="Luke-21-16">You will be handed over even by parents, brothers, relatives, and friends. They will cause some of you to be put to death.</span>
  <span class="verse" title="Luke 21:17" id="Luke-21-17">You will be hated by all men for my name&#8217;s sake.</span>
  <span class="verse" title="Luke 21:18" id="Luke-21-18">And not a hair of your head will perish.</span>
  <span class="verse" title="Luke 21:19" id="Luke-21-19">&#8220;By your endurance you will win your lives.</span>
  <span class="verse" title="Luke 21:20" id="Luke-21-20">&#8220;But when you see Jerusalem surrounded by armies, then know that its desolation is at hand.</span>
  <span class="verse" title="Luke 21:21" id="Luke-21-21">Then let those who are in Judea flee to the mountains. Let those who are in the midst of her depart. Let those who are in the country not enter therein.</span>
  <span class="verse" title="Luke 21:22" id="Luke-21-22">For these are days of vengeance, that all things which are written may be fulfilled.</span>
  <span class="verse" title="Luke 21:23" id="Luke-21-23">Woe to those who are pregnant and to those who nurse infants in those days! For there will be great distress in the land, and wrath to this people.</span>
  <span class="verse" title="Luke 21:24" id="Luke-21-24">They will fall by the edge of the sword, and will be led captive into all the nations. Jerusalem will be trampled down by the Gentiles, until the times of the Gentiles are fulfilled.</span>
  <span class="verse" title="Luke 21:25" id="Luke-21-25">There will be signs in the sun, moon, and stars; and on the earth anxiety of nations, in perplexity for the roaring of the sea and the waves;</span>
  <span class="verse" title="Luke 21:26" id="Luke-21-26">men fainting for fear, and for expectation of the things which are coming on the world: for the powers of the heavens will be shaken.</span>
  <span class="verse" title="Luke 21:27" id="Luke-21-27">Then they will see the Son of Man coming in a cloud with power and great glory.</span>
  <span class="verse" title="Luke 21:28" id="Luke-21-28">But when these things begin to happen, look up, and lift up your heads, because your redemption is near.&#8221;</span>
  <span class="verse" title="Luke 21:29" id="Luke-21-29">He told them a parable. &#8220;See the fig tree, and all the trees.</span>
  <span class="verse" title="Luke 21:30" id="Luke-21-30">When they are already budding, you see it and know by your own selves that the summer is already near.</span>
  <span class="verse" title="Luke 21:31" id="Luke-21-31">Even so you also, when you see these things happening, know that the Kingdom of God is near.</span>
  <span class="verse" title="Luke 21:32" id="Luke-21-32">Most certainly I tell you, this generation will not pass away until all things are accomplished.</span>
  <span class="verse" title="Luke 21:33" id="Luke-21-33">Heaven and earth will pass away, but my words will by no means pass away.</span>
  <span class="verse" title="Luke 21:34" id="Luke-21-34">&#8220;So be careful, or your hearts will be loaded down with carousing, drunkenness, and cares of this life, and that day will come on you suddenly.</span>
  <span class="verse" title="Luke 21:35" id="Luke-21-35">For it will come like a snare on all those who dwell on the surface of all the earth.</span>
  <span class="verse" title="Luke 21:36" id="Luke-21-36">Therefore be watchful all the time, praying that you may be counted worthy to escape all these things that will happen, and to stand before the Son of Man.&#8221;</span>
  <span class="verse" title="Luke 21:37" id="Luke-21-37">Every day Jesus was teaching in the temple, and every night he would go out and spend the night on the mountain that is called Olivet.</span>
  <span class="verse" title="Luke 21:38" id="Luke-21-38">All the people came early in the morning to him in the temple to hear him.</span>
</div>