<div class="chapter" id="Luke-022">
  <h2>Luke 22</h2>
  <span class="verse" title="Luke 22:1" id="Luke-22-1">Now the feast of unleavened bread, which is called the Passover, drew near.</span>
  <span class="verse" title="Luke 22:2" id="Luke-22-2">The chief priests and the scribes sought how they might put him to death, for they feared the people.</span>
  <span class="verse" title="Luke 22:3" id="Luke-22-3">Satan entered into Judas, who was surnamed Iscariot, who was numbered with the twelve.</span>
  <span class="verse" title="Luke 22:4" id="Luke-22-4">He went away, and talked with the chief priests and captains about how he might deliver him to them.</span>
  <span class="verse" title="Luke 22:5" id="Luke-22-5">They were glad, and agreed to give him money.</span>
  <span class="verse" title="Luke 22:6" id="Luke-22-6">He consented, and sought an opportunity to deliver him to them in the absence of the multitude.</span>
  <span class="verse" title="Luke 22:7" id="Luke-22-7">The day of unleavened bread came, on which the Passover must be sacrificed.</span>
  <span class="verse" title="Luke 22:8" id="Luke-22-8">He sent Peter and John, saying, &#8220;Go and prepare the Passover for us, that we may eat.&#8221;</span>
  <span class="verse" title="Luke 22:9" id="Luke-22-9">They said to him, &#8220;Where do you want us to prepare?&#8221;</span>
  <span class="verse" title="Luke 22:10" id="Luke-22-10">He said to them, &#8220;Behold, when you have entered into the city, a man carrying a pitcher of water will meet you. Follow him into the house which he enters.</span>
  <span class="verse" title="Luke 22:11" id="Luke-22-11">Tell the master of the house, &#8216;The Teacher says to you, &#8220;Where is the guest room, where I may eat the Passover with my disciples?&#8221;&#8217;</span>
  <span class="verse" title="Luke 22:12" id="Luke-22-12">He will show you a large, furnished upper room. Make preparations there.&#8221;</span>
  <span class="verse" title="Luke 22:13" id="Luke-22-13">They went, found things as he had told them, and they prepared the Passover.</span>
  <span class="verse" title="Luke 22:14" id="Luke-22-14">When the hour had come, he sat down with the twelve apostles.</span>
  <span class="verse" title="Luke 22:15" id="Luke-22-15">He said to them, &#8220;I have earnestly desired to eat this Passover with you before I suffer,</span>
  <span class="verse" title="Luke 22:16" id="Luke-22-16">for I tell you, I will no longer by any means eat of it until it is fulfilled in the Kingdom of God.&#8221;</span>
  <span class="verse" title="Luke 22:17" id="Luke-22-17">He received a cup, and when he had given thanks, he said, &#8220;Take this, and share it among yourselves,</span>
  <span class="verse" title="Luke 22:18" id="Luke-22-18">for I tell you, I will not drink at all again from the fruit of the vine, until the Kingdom of God comes.&#8221;</span>
  <span class="verse" title="Luke 22:19" id="Luke-22-19">He took bread, and when he had given thanks, he broke it, and gave to them, saying, &#8220;This is my body which is given for you. Do this in memory of me.&#8221;</span>
  <span class="verse" title="Luke 22:20" id="Luke-22-20">Likewise, he took the cup after supper, saying, &#8220;This cup is the new covenant in my blood, which is poured out for you.</span>
  <span class="verse" title="Luke 22:21" id="Luke-22-21">But behold, the hand of him who betrays me is with me on the table.</span>
  <span class="verse" title="Luke 22:22" id="Luke-22-22">The Son of Man indeed goes, as it has been determined, but woe to that man through whom he is betrayed!&#8221;</span>
  <span class="verse" title="Luke 22:23" id="Luke-22-23">They began to question among themselves, which of them it was who would do this thing.</span>
  <span class="verse" title="Luke 22:24" id="Luke-22-24">There arose also a contention among them, which of them was considered to be greatest.</span>
  <span class="verse" title="Luke 22:25" id="Luke-22-25">He said to them, &#8220;The kings of the nations lord it over them, and those who have authority over them are called &#8216;benefactors.&#8217;</span>
  <span class="verse" title="Luke 22:26" id="Luke-22-26">But not so with you. But one who is the greater among you, let him become as the younger, and one who is governing, as one who serves.</span>
  <span class="verse" title="Luke 22:27" id="Luke-22-27">For who is greater, one who sits at the table, or one who serves? Isn&#8217;t it he who sits at the table? But I am in the midst of you as one who serves.</span>
  <span class="verse" title="Luke 22:28" id="Luke-22-28">But you are those who have continued with me in my trials.</span>
  <span class="verse" title="Luke 22:29" id="Luke-22-29">I confer on you a kingdom, even as my Father conferred on me,</span>
  <span class="verse" title="Luke 22:30" id="Luke-22-30">that you may eat and drink at my table in my Kingdom. You will sit on thrones, judging the twelve tribes of Israel.&#8221;</span>
  <span class="verse" title="Luke 22:31" id="Luke-22-31">The Lord said, &#8220;Simon, Simon, behold, Satan asked to have you, that he might sift you as wheat,</span>
  <span class="verse" title="Luke 22:32" id="Luke-22-32">but I prayed for you, that your faith wouldn&#8217;t fail. You, when once you have turned again, establish your brothers.&#8221;</span>
  <span class="verse" title="Luke 22:33" id="Luke-22-33">He said to him, &#8220;Lord, I am ready to go with you both to prison and to death!&#8221;</span>
  <span class="verse" title="Luke 22:34" id="Luke-22-34">He said, &#8220;I tell you, Peter, the rooster will by no means crow today until you deny that you know me three times.&#8221;</span>
  <span class="verse" title="Luke 22:35" id="Luke-22-35">He said to them, &#8220;When I sent you out without purse, and wallet, and shoes, did you lack anything?&#8221; They said, &#8220;Nothing.&#8221;</span>
  <span class="verse" title="Luke 22:36" id="Luke-22-36">Then he said to them, &#8220;But now, whoever has a purse, let him take it, and likewise a wallet. Whoever has none, let him sell his cloak, and buy a sword.</span>
  <span class="verse" title="Luke 22:37" id="Luke-22-37">For I tell you that this which is written must still be fulfilled in me: &#8216;He was counted with transgressors.&#8217; For that which concerns me has an end.&#8221;</span>
  <span class="verse" title="Luke 22:38" id="Luke-22-38">They said, &#8220;Lord, behold, here are two swords.&#8221; He said to them, &#8220;That is enough.&#8221;</span>
  <span class="verse" title="Luke 22:39" id="Luke-22-39">He came out, and went, as his custom was, to the Mount of Olives. His disciples also followed him.</span>
  <span class="verse" title="Luke 22:40" id="Luke-22-40">When he was at the place, he said to them, &#8220;Pray that you don&#8217;t enter into temptation.&#8221;</span>
  <span class="verse" title="Luke 22:41" id="Luke-22-41">He was withdrawn from them about a stone&#8217;s throw, and he knelt down and prayed,</span>
  <span class="verse" title="Luke 22:42" id="Luke-22-42">saying, &#8220;Father, if you are willing, remove this cup from me. Nevertheless, not my will, but yours, be done.&#8221;</span>
  <span class="verse" title="Luke 22:43" id="Luke-22-43">An angel from heaven appeared to him, strengthening him.</span>
  <span class="verse" title="Luke 22:44" id="Luke-22-44">Being in agony he prayed more earnestly. His sweat became like great drops of blood falling down on the ground.</span>
  <span class="verse" title="Luke 22:45" id="Luke-22-45">When he rose up from his prayer, he came to the disciples, and found them sleeping because of grief,</span>
  <span class="verse" title="Luke 22:46" id="Luke-22-46">and said to them, &#8220;Why do you sleep? Rise and pray that you may not enter into temptation.&#8221;</span>
  <span class="verse" title="Luke 22:47" id="Luke-22-47">While he was still speaking, behold, a multitude, and he who was called Judas, one of the twelve, was leading them. He came near to Jesus to kiss him.</span>
  <span class="verse" title="Luke 22:48" id="Luke-22-48">But Jesus said to him, &#8220;Judas, do you betray the Son of Man with a kiss?&#8221;</span>
  <span class="verse" title="Luke 22:49" id="Luke-22-49">When those who were around him saw what was about to happen, they said to him, &#8220;Lord, shall we strike with the sword?&#8221;</span>
  <span class="verse" title="Luke 22:50" id="Luke-22-50">A certain one of them struck the servant of the high priest, and cut off his right ear.</span>
  <span class="verse" title="Luke 22:51" id="Luke-22-51">But Jesus answered, &#8220;Let me at least do this&#8221;—and he touched his ear, and healed him.</span>
  <span class="verse" title="Luke 22:52" id="Luke-22-52">Jesus said to the chief priests, captains of the temple, and elders, who had come against him, &#8220;Have you come out as against a robber, with swords and clubs?</span>
  <span class="verse" title="Luke 22:53" id="Luke-22-53">When I was with you in the temple daily, you didn&#8217;t stretch out your hands against me. But this is your hour, and the power of darkness.&#8221;</span>
  <span class="verse" title="Luke 22:54" id="Luke-22-54">They seized him, and led him away, and brought him into the high priest&#8217;s house. But Peter followed from a distance.</span>
  <span class="verse" title="Luke 22:55" id="Luke-22-55">When they had kindled a fire in the middle of the courtyard, and had sat down together, Peter sat among them.</span>
  <span class="verse" title="Luke 22:56" id="Luke-22-56">A certain servant girl saw him as he sat in the light, and looking intently at him, said, &#8220;This man also was with him.&#8221;</span>
  <span class="verse" title="Luke 22:57" id="Luke-22-57">He denied Jesus, saying, &#8220;Woman, I don&#8217;t know him.&#8221;</span>
  <span class="verse" title="Luke 22:58" id="Luke-22-58">After a little while someone else saw him, and said, &#8220;You also are one of them!&#8221; But Peter answered, &#8220;Man, I am not!&#8221;</span>
  <span class="verse" title="Luke 22:59" id="Luke-22-59">After about one hour passed, another confidently affirmed, saying, &#8220;Truly this man also was with him, for he is a Galilean!&#8221;</span>
  <span class="verse" title="Luke 22:60" id="Luke-22-60">But Peter said, &#8220;Man, I don&#8217;t know what you are talking about!&#8221; Immediately, while he was still speaking, a rooster crowed.</span>
  <span class="verse" title="Luke 22:61" id="Luke-22-61">The Lord turned, and looked at Peter. Then Peter remembered the Lord&#8217;s word, how he said to him, &#8220;Before the rooster crows you will deny me three times.&#8221;</span>
  <span class="verse" title="Luke 22:62" id="Luke-22-62">He went out, and wept bitterly.</span>
  <span class="verse" title="Luke 22:63" id="Luke-22-63">The men who held Jesus mocked him and beat him.</span>
  <span class="verse" title="Luke 22:64" id="Luke-22-64">Having blindfolded him, they struck him on the face and asked him, &#8220;Prophesy! Who is the one who struck you?&#8221;</span>
  <span class="verse" title="Luke 22:65" id="Luke-22-65">They spoke many other things against him, insulting him.</span>
  <span class="verse" title="Luke 22:66" id="Luke-22-66">As soon as it was day, the assembly of the elders of the people was gathered together, both chief priests and scribes, and they led him away into their council, saying,</span>
  <span class="verse" title="Luke 22:67" id="Luke-22-67">&#8220;If you are the Christ, tell us.&#8221; But he said to them, &#8220;If I tell you, you won&#8217;t believe,</span>
  <span class="verse" title="Luke 22:68" id="Luke-22-68">and if I ask, you will in no way answer me or let me go.</span>
  <span class="verse" title="Luke 22:69" id="Luke-22-69">From now on, the Son of Man will be seated at the right hand of the power of God.&#8221;</span>
  <span class="verse" title="Luke 22:70" id="Luke-22-70">They all said, &#8220;Are you then the Son of God?&#8221; He said to them, &#8220;You say it, because I am.&#8221;</span>
  <span class="verse" title="Luke 22:71" id="Luke-22-71">They said, &#8220;Why do we need any more witness? For we ourselves have heard from his own mouth!&#8221;</span>
</div>