<div class="chapter" id="Luke-023">
  <h2>Luke 23</h2>
  <span class="verse" title="Luke 23:1" id="Luke-23-1">The whole company of them rose up and brought him before Pilate.</span>
  <span class="verse" title="Luke 23:2" id="Luke-23-2">They began to accuse him, saying, &#8220;We found this man perverting the nation, forbidding paying taxes to Caesar, and saying that he himself is Christ, a king.&#8221;</span>
  <span class="verse" title="Luke 23:3" id="Luke-23-3">Pilate asked him, &#8220;Are you the King of the Jews?&#8221; He answered him, &#8220;So you say.&#8221;</span>
  <span class="verse" title="Luke 23:4" id="Luke-23-4">Pilate said to the chief priests and the multitudes, &#8220;I find no basis for a charge against this man.&#8221;</span>
  <span class="verse" title="Luke 23:5" id="Luke-23-5">But they insisted, saying, &#8220;He stirs up the people, teaching throughout all Judea, beginning from Galilee even to this place.&#8221;</span>
  <span class="verse" title="Luke 23:6" id="Luke-23-6">But when Pilate heard Galilee mentioned, he asked if the man was a Galilean.</span>
  <span class="verse" title="Luke 23:7" id="Luke-23-7">When he found out that he was in Herod&#8217;s jurisdiction, he sent him to Herod, who was also in Jerusalem during those days.</span>
  <span class="verse" title="Luke 23:8" id="Luke-23-8">Now when Herod saw Jesus, he was exceedingly glad, for he had wanted to see him for a long time, because he had heard many things about him. He hoped to see some miracle done by him.</span>
  <span class="verse" title="Luke 23:9" id="Luke-23-9">He questioned him with many words, but he gave no answers.</span>
  <span class="verse" title="Luke 23:10" id="Luke-23-10">The chief priests and the scribes stood, vehemently accusing him.</span>
  <span class="verse" title="Luke 23:11" id="Luke-23-11">Herod with his soldiers humiliated him and mocked him. Dressing him in luxurious clothing, they sent him back to Pilate.</span>
  <span class="verse" title="Luke 23:12" id="Luke-23-12">Herod and Pilate became friends with each other that very day, for before that they were enemies with each other.</span>
  <span class="verse" title="Luke 23:13" id="Luke-23-13">Pilate called together the chief priests and the rulers and the people,</span>
  <span class="verse" title="Luke 23:14" id="Luke-23-14">and said to them, &#8220;You brought this man to me as one that perverts the people, and see, I have examined him before you, and found no basis for a charge against this man concerning those things of which you accuse him.</span>
  <span class="verse" title="Luke 23:15" id="Luke-23-15">Neither has Herod, for I sent you to him, and see, nothing worthy of death has been done by him.</span>
  <span class="verse" title="Luke 23:16" id="Luke-23-16">I will therefore chastise him and release him.&#8221;</span>
  <span class="verse" title="Luke 23:17" id="Luke-23-17">Now he had to release one prisoner to them at the feast.</span>
  <span class="verse" title="Luke 23:18" id="Luke-23-18">But they all cried out together, saying, &#8220;Away with this man! Release to us Barabbas!&#8221;—</span>
  <span class="verse" title="Luke 23:19" id="Luke-23-19">one who was thrown into prison for a certain revolt in the city, and for murder.</span>
  <span class="verse" title="Luke 23:20" id="Luke-23-20">Then Pilate spoke to them again, wanting to release Jesus,</span>
  <span class="verse" title="Luke 23:21" id="Luke-23-21">but they shouted, saying, &#8220;Crucify! Crucify him!&#8221;</span>
  <span class="verse" title="Luke 23:22" id="Luke-23-22">He said to them the third time, &#8220;Why? What evil has this man done? I have found no capital crime in him. I will therefore chastise him and release him.&#8221;</span>
  <span class="verse" title="Luke 23:23" id="Luke-23-23">But they were urgent with loud voices, asking that he might be crucified. Their voices and the voices of the chief priests prevailed.</span>
  <span class="verse" title="Luke 23:24" id="Luke-23-24">Pilate decreed that what they asked for should be done.</span>
  <span class="verse" title="Luke 23:25" id="Luke-23-25">He released him who had been thrown into prison for insurrection and murder, for whom they asked, but he delivered Jesus up to their will.</span>
  <span class="verse" title="Luke 23:26" id="Luke-23-26">When they led him away, they grabbed one Simon of Cyrene, coming from the country, and laid on him the cross, to carry it after Jesus.</span>
  <span class="verse" title="Luke 23:27" id="Luke-23-27">A great multitude of the people followed him, including women who also mourned and lamented him.</span>
  <span class="verse" title="Luke 23:28" id="Luke-23-28">But Jesus, turning to them, said, &#8220;Daughters of Jerusalem, don&#8217;t weep for me, but weep for yourselves and for your children.</span>
  <span class="verse" title="Luke 23:29" id="Luke-23-29">For behold, the days are coming in which they will say, &#8216;Blessed are the barren, the wombs that never bore, and the breasts that never nursed.&#8217;</span>
  <span class="verse" title="Luke 23:30" id="Luke-23-30">Then they will begin to tell the mountains, &#8216;Fall on us!&#8217; and tell the hills, &#8216;Cover us.&#8217;</span>
  <span class="verse" title="Luke 23:31" id="Luke-23-31">For if they do these things in the green tree, what will be done in the dry?&#8221;</span>
  <span class="verse" title="Luke 23:32" id="Luke-23-32">There were also others, two criminals, led with him to be put to death.</span>
  <span class="verse" title="Luke 23:33" id="Luke-23-33">When they came to the place that is called The Skull, they crucified him there with the criminals, one on the right and the other on the left.</span>
  <span class="verse" title="Luke 23:34" id="Luke-23-34">Jesus said, &#8220;Father, forgive them, for they don&#8217;t know what they are doing.&#8221; Dividing his garments among them, they cast lots.</span>
  <span class="verse" title="Luke 23:35" id="Luke-23-35">The people stood watching. The rulers with them also scoffed at him, saying, &#8220;He saved others. Let him save himself, if this is the Christ of God, his chosen one!&#8221;</span>
  <span class="verse" title="Luke 23:36" id="Luke-23-36">The soldiers also mocked him, coming to him and offering him vinegar,</span>
  <span class="verse" title="Luke 23:37" id="Luke-23-37">and saying, &#8220;If you are the King of the Jews, save yourself!&#8221;</span>
  <span class="verse" title="Luke 23:38" id="Luke-23-38">An inscription was also written over him in letters of Greek, Latin, and Hebrew: &#8220;THIS IS THE KING OF THE JEWS.&#8221;</span>
  <span class="verse" title="Luke 23:39" id="Luke-23-39">One of the criminals who was hanged insulted him, saying, &#8220;If you are the Christ, save yourself and us!&#8221;</span>
  <span class="verse" title="Luke 23:40" id="Luke-23-40">But the other answered, and rebuking him said, &#8220;Don&#8217;t you even fear God, seeing you are under the same condemnation?</span>
  <span class="verse" title="Luke 23:41" id="Luke-23-41">And we indeed justly, for we receive the due reward for our deeds, but this man has done nothing wrong.&#8221;</span>
  <span class="verse" title="Luke 23:42" id="Luke-23-42">He said to Jesus, &#8220;Lord, remember me when you come into your Kingdom.&#8221;</span>
  <span class="verse" title="Luke 23:43" id="Luke-23-43">Jesus said to him, &#8220;Assuredly I tell you, today you will be with me in Paradise.&#8221;</span>
  <span class="verse" title="Luke 23:44" id="Luke-23-44">It was now about the sixth hour, and darkness came over the whole land until the ninth hour.</span>
  <span class="verse" title="Luke 23:45" id="Luke-23-45">The sun was darkened, and the veil of the temple was torn in two.</span>
  <span class="verse" title="Luke 23:46" id="Luke-23-46">Jesus, crying with a loud voice, said, &#8220;Father, into your hands I commit my spirit!&#8221; Having said this, he breathed his last.</span>
  <span class="verse" title="Luke 23:47" id="Luke-23-47">When the centurion saw what was done, he glorified God, saying, &#8220;Certainly this was a righteous man.&#8221;</span>
  <span class="verse" title="Luke 23:48" id="Luke-23-48">All the multitudes that came together to see this, when they saw the things that were done, returned home beating their breasts.</span>
  <span class="verse" title="Luke 23:49" id="Luke-23-49">All his acquaintances, and the women who followed with him from Galilee, stood at a distance, watching these things.</span>
  <span class="verse" title="Luke 23:50" id="Luke-23-50">Behold, a man named Joseph, who was a member of the council, a good and righteous man</span>
  <span class="verse" title="Luke 23:51" id="Luke-23-51">(he had not consented to their counsel and deed), from Arimathaea, a city of the Jews, who was also waiting for the Kingdom of God:</span>
  <span class="verse" title="Luke 23:52" id="Luke-23-52">this man went to Pilate, and asked for Jesus&#8217; body.</span>
  <span class="verse" title="Luke 23:53" id="Luke-23-53">He took it down, and wrapped it in a linen cloth, and laid him in a tomb that was cut in stone, where no one had ever been laid.</span>
  <span class="verse" title="Luke 23:54" id="Luke-23-54">It was the day of the Preparation, and the Sabbath was drawing near.</span>
  <span class="verse" title="Luke 23:55" id="Luke-23-55">The women, who had come with him out of Galilee, followed after, and saw the tomb, and how his body was laid.</span>
  <span class="verse" title="Luke 23:56" id="Luke-23-56">They returned, and prepared spices and ointments. On the Sabbath they rested according to the commandment.</span>
</div>