<div class="chapter" id="Luke-024">
  <h2>Luke 24</h2>
  <span class="verse" title="Luke 24:1" id="Luke-24-1">But on the first day of the week, at early dawn, they and some others came to the tomb, bringing the spices which they had prepared.</span>
  <span class="verse" title="Luke 24:2" id="Luke-24-2">They found the stone rolled away from the tomb.</span>
  <span class="verse" title="Luke 24:3" id="Luke-24-3">They entered in, and didn&#8217;t find the Lord Jesus&#8217; body.</span>
  <span class="verse" title="Luke 24:4" id="Luke-24-4">It happened, while they were greatly perplexed about this, behold, two men stood by them in dazzling clothing.</span>
  <span class="verse" title="Luke 24:5" id="Luke-24-5">Becoming terrified, they bowed their faces down to the earth. They said to them, &#8220;Why do you seek the living among the dead?</span>
  <span class="verse" title="Luke 24:6" id="Luke-24-6">He isn&#8217;t here, but is risen. Remember what he told you when he was still in Galilee,</span>
  <span class="verse" title="Luke 24:7" id="Luke-24-7">saying that the Son of Man must be delivered up into the hands of sinful men, and be crucified, and the third day rise again?&#8221;</span>
  <span class="verse" title="Luke 24:8" id="Luke-24-8">They remembered his words,</span>
  <span class="verse" title="Luke 24:9" id="Luke-24-9">returned from the tomb, and told all these things to the eleven, and to all the rest.</span>
  <span class="verse" title="Luke 24:10" id="Luke-24-10">Now they were Mary Magdalene, Joanna, and Mary the mother of James. The other women with them told these things to the apostles.</span>
  <span class="verse" title="Luke 24:11" id="Luke-24-11">These words seemed to them to be nonsense, and they didn&#8217;t believe them.</span>
  <span class="verse" title="Luke 24:12" id="Luke-24-12">But Peter got up and ran to the tomb. Stooping and looking in, he saw the strips of linen lying by themselves, and he departed to his home, wondering what had happened.</span>
  <span class="verse" title="Luke 24:13" id="Luke-24-13">Behold, two of them were going that very day to a village named Emmaus, which was sixty stadia from Jerusalem.</span>
  <span class="verse" title="Luke 24:14" id="Luke-24-14">They talked with each other about all of these things which had happened.</span>
  <span class="verse" title="Luke 24:15" id="Luke-24-15">It happened, while they talked and questioned together, that Jesus himself came near, and went with them.</span>
  <span class="verse" title="Luke 24:16" id="Luke-24-16">But their eyes were kept from recognizing him.</span>
  <span class="verse" title="Luke 24:17" id="Luke-24-17">He said to them, &#8220;What are you talking about as you walk, and are sad?&#8221;</span>
  <span class="verse" title="Luke 24:18" id="Luke-24-18">One of them, named Cleopas, answered him, &#8220;Are you the only stranger in Jerusalem who doesn&#8217;t know the things which have happened there in these days?&#8221;</span>
  <span class="verse" title="Luke 24:19" id="Luke-24-19">He said to them, &#8220;What things?&#8221; They said to him, &#8220;The things concerning Jesus, the Nazarene, who was a prophet mighty in deed and word before God and all the people;</span>
  <span class="verse" title="Luke 24:20" id="Luke-24-20">and how the chief priests and our rulers delivered him up to be condemned to death, and crucified him.</span>
  <span class="verse" title="Luke 24:21" id="Luke-24-21">But we were hoping that it was he who would redeem Israel. Yes, and besides all this, it is now the third day since these things happened.</span>
  <span class="verse" title="Luke 24:22" id="Luke-24-22">Also, certain women of our company amazed us, having arrived early at the tomb;</span>
  <span class="verse" title="Luke 24:23" id="Luke-24-23">and when they didn&#8217;t find his body, they came saying that they had also seen a vision of angels, who said that he was alive.</span>
  <span class="verse" title="Luke 24:24" id="Luke-24-24">Some of us went to the tomb, and found it just like the women had said, but they didn&#8217;t see him.&#8221;</span>
  <span class="verse" title="Luke 24:25" id="Luke-24-25">He said to them, &#8220;Foolish men, and slow of heart to believe in all that the prophets have spoken!</span>
  <span class="verse" title="Luke 24:26" id="Luke-24-26">Didn&#8217;t the Christ have to suffer these things and to enter into his glory?&#8221;</span>
  <span class="verse" title="Luke 24:27" id="Luke-24-27">Beginning from Moses and from all the prophets, he explained to them in all the Scriptures the things concerning himself.</span>
  <span class="verse" title="Luke 24:28" id="Luke-24-28">They drew near to the village, where they were going, and he acted like he would go further.</span>
  <span class="verse" title="Luke 24:29" id="Luke-24-29">They urged him, saying, &#8220;Stay with us, for it is almost evening, and the day is almost over.&#8221; He went in to stay with them.</span>
  <span class="verse" title="Luke 24:30" id="Luke-24-30">It happened, that when he had sat down at the table with them, he took the bread and gave thanks. Breaking it, he gave to them.</span>
  <span class="verse" title="Luke 24:31" id="Luke-24-31">Their eyes were opened, and they recognized him, and he vanished out of their sight.</span>
  <span class="verse" title="Luke 24:32" id="Luke-24-32">They said one to another, &#8220;Weren&#8217;t our hearts burning within us, while he spoke to us along the way, and while he opened the Scriptures to us?&#8221;</span>
  <span class="verse" title="Luke 24:33" id="Luke-24-33">They rose up that very hour, returned to Jerusalem, and found the eleven gathered together, and those who were with them,</span>
  <span class="verse" title="Luke 24:34" id="Luke-24-34">saying, &#8220;The Lord is risen indeed, and has appeared to Simon!&#8221;</span>
  <span class="verse" title="Luke 24:35" id="Luke-24-35">They related the things that happened along the way, and how he was recognized by them in the breaking of the bread.</span>
  <span class="verse" title="Luke 24:36" id="Luke-24-36">As they said these things, Jesus himself stood among them, and said to them, &#8220;Peace be to you.&#8221;</span>
  <span class="verse" title="Luke 24:37" id="Luke-24-37">But they were terrified and filled with fear, and supposed that they had seen a spirit.</span>
  <span class="verse" title="Luke 24:38" id="Luke-24-38">He said to them, &#8220;Why are you troubled? Why do doubts arise in your hearts?</span>
  <span class="verse" title="Luke 24:39" id="Luke-24-39">See my hands and my feet, that it is truly me. Touch me and see, for a spirit doesn&#8217;t have flesh and bones, as you see that I have.&#8221;</span>
  <span class="verse" title="Luke 24:40" id="Luke-24-40">When he had said this, he showed them his hands and his feet.</span>
  <span class="verse" title="Luke 24:41" id="Luke-24-41">While they still didn&#8217;t believe for joy, and wondered, he said to them, &#8220;Do you have anything here to eat?&#8221;</span>
  <span class="verse" title="Luke 24:42" id="Luke-24-42">They gave him a piece of a broiled fish and some honeycomb.</span>
  <span class="verse" title="Luke 24:43" id="Luke-24-43">He took them, and ate in front of them.</span>
  <span class="verse" title="Luke 24:44" id="Luke-24-44">He said to them, &#8220;This is what I told you, while I was still with you, that all things which are written in the law of Moses, the prophets, and the psalms, concerning me must be fulfilled.&#8221;</span>
  <span class="verse" title="Luke 24:45" id="Luke-24-45">Then he opened their minds, that they might understand the Scriptures.</span>
  <span class="verse" title="Luke 24:46" id="Luke-24-46">He said to them, &#8220;Thus it is written, and thus it was necessary for the Christ to suffer and to rise from the dead the third day,</span>
  <span class="verse" title="Luke 24:47" id="Luke-24-47">and that repentance and remission of sins should be preached in his name to all the nations, beginning at Jerusalem.</span>
  <span class="verse" title="Luke 24:48" id="Luke-24-48">You are witnesses of these things.</span>
  <span class="verse" title="Luke 24:49" id="Luke-24-49">Behold, I send forth the promise of my Father on you. But wait in the city of Jerusalem until you are clothed with power from on high.&#8221;</span>
  <span class="verse" title="Luke 24:50" id="Luke-24-50">He led them out as far as Bethany, and he lifted up his hands, and blessed them.</span>
  <span class="verse" title="Luke 24:51" id="Luke-24-51">It happened, while he blessed them, that he withdrew from them, and was carried up into heaven.</span>
  <span class="verse" title="Luke 24:52" id="Luke-24-52">They worshiped him, and returned to Jerusalem with great joy,</span>
  <span class="verse" title="Luke 24:53" id="Luke-24-53">and were continually in the temple, praising and blessing God. Amen.</span>
</div>