<h1>No Users</h1>

<p>There are no users in the system.</p>

<% if @show_help %>
  <p>
    You may create the first user by running the command:
    <code>rake onebody:new_user <% unless Site.current.default? %>SITE="<%=h Site.current.name %>"<% end %></code>
  </p>
<% end %>
