<div class="chapter" id="Philemon-001">
  <h2>Philemon 1</h2>
  <span class="verse" title="Philemon 1:1" id="Philemon-1-1">Paul, a prisoner of Christ Jesus, and Timothy our brother, to Philemon, our beloved fellow worker,</span>
  <span class="verse" title="Philemon 1:2" id="Philemon-1-2">to the beloved Apphia, to Archippus, our fellow soldier, and to the assembly in your house:</span>
  <span class="verse" title="Philemon 1:3" id="Philemon-1-3">Grace to you and peace from God our Father and the Lord Jesus Christ.</span>
  <span class="verse" title="Philemon 1:4" id="Philemon-1-4">I thank my God always, making mention of you in my prayers,</span>
  <span class="verse" title="Philemon 1:5" id="Philemon-1-5">hearing of your love, and of the faith which you have toward the Lord Jesus, and toward all the saints;</span>
  <span class="verse" title="Philemon 1:6" id="Philemon-1-6">that the fellowship of your faith may become effective, in the knowledge of every good thing which is in us in Christ Jesus.</span>
  <span class="verse" title="Philemon 1:7" id="Philemon-1-7">For we have much joy and comfort in your love, because the hearts of the saints have been refreshed through you, brother.</span>
  <span class="verse" title="Philemon 1:8" id="Philemon-1-8">Therefore, though I have all boldness in Christ to command you that which is appropriate,</span>
  <span class="verse" title="Philemon 1:9" id="Philemon-1-9">yet for love&#8217;s sake I rather beg, being such a one as Paul, the aged, but also a prisoner of Jesus Christ.</span>
  <span class="verse" title="Philemon 1:10" id="Philemon-1-10">I beg you for my child, whom I have become the father of in my chains, Onesimus,</span>
  <span class="verse" title="Philemon 1:11" id="Philemon-1-11">who once was useless to you, but now is useful to you and to me.</span>
  <span class="verse" title="Philemon 1:12" id="Philemon-1-12">I am sending him back. Therefore receive him, that is, my own heart,</span>
  <span class="verse" title="Philemon 1:13" id="Philemon-1-13">whom I desired to keep with me, that on your behalf he might serve me in my chains for the Good News.</span>
  <span class="verse" title="Philemon 1:14" id="Philemon-1-14">But I was willing to do nothing without your consent, that your goodness would not be as of necessity, but of free will.</span>
  <span class="verse" title="Philemon 1:15" id="Philemon-1-15">For perhaps he was therefore separated from you for a while, that you would have him forever,</span>
  <span class="verse" title="Philemon 1:16" id="Philemon-1-16">no longer as a slave, but more than a slave, a beloved brother, especially to me, but how much rather to you, both in the flesh and in the Lord.</span>
  <span class="verse" title="Philemon 1:17" id="Philemon-1-17">If then you count me a partner, receive him as you would receive me.</span>
  <span class="verse" title="Philemon 1:18" id="Philemon-1-18">But if he has wronged you at all, or owes you anything, put that to my account.</span>
  <span class="verse" title="Philemon 1:19" id="Philemon-1-19">I, Paul, write this with my own hand: I will repay it (not to mention to you that you owe to me even your own self besides).</span>
  <span class="verse" title="Philemon 1:20" id="Philemon-1-20">Yes, brother, let me have joy from you in the Lord. Refresh my heart in the Lord.</span>
  <span class="verse" title="Philemon 1:21" id="Philemon-1-21">Having confidence in your obedience, I write to you, knowing that you will do even beyond what I say.</span>
  <span class="verse" title="Philemon 1:22" id="Philemon-1-22">Also, prepare a guest room for me, for I hope that through your prayers I will be restored to you.</span>
  <span class="verse" title="Philemon 1:23" id="Philemon-1-23">Epaphras, my fellow prisoner in Christ Jesus, greets you,</span>
  <span class="verse" title="Philemon 1:24" id="Philemon-1-24">as do Mark, Aristarchus, Demas, and Luke, my fellow workers.</span>
  <span class="verse" title="Philemon 1:25" id="Philemon-1-25">The grace of our Lord Jesus Christ be with your spirit. Amen.</span>
</div>