- @title = 'Parsing Your File'

%p
  Please wait while we parse your file.

%p
  = icon 'fa fa-circle-o-notch fa-spin fa-5x'

:javascript
  setInterval(function() {
    $.getJSON('#{administration_import_path(@import, format: :json)}', function(data) {
      if (data.status != 'pending') location.reload();
    });
  }, 5000);
