.bundle
db/*.sql
db/*.backup.*
tmp
.DS_Store
setup-authorized-ip
setup-secret
config/database.yml
config/database.yml.backup
config/secrets.yml
config/email.yml
config/locale
config/deploy/production.rb
config/newrelic.yml
public/images/logo*
public/system/production
public/system/development
public/system/test
public/stylesheets/all.css
public/javascripts/all.js
config/query_reviewer.yml
vendor/plugins/query_reviewer
pkg
*.deb
script/package
.idea
.vagrant
Vagrantfile.local
.gem
coverage
cache.tar.gz
/public/packs
/public/packs-test
/node_modules
