log/*.log
db/*.db
tmp
pkg
.DS_Store
db/schema.rb
db/photos/**/*.jpg
db/publications/*
db/attachments/*
db/*.sql
setup-authorized-ip
setup-secret
config/database.yml
config/database.yml.backup
db/*.backup.*
Scheduler.pid
config/deploy.rb
plugins/checkin/enable
cache/views/*
public/images/cedarridge
public/javascripts/cedarridge
public/stylesheets/cedarridge
themes/cedarridge
test/fixtures/settings.yml
