env:
- DB=pg
- DB=mysql
language: ruby
rvm:
- 2.3.3
before_install:
- 'echo -e ''test:\n  adapter: mysql2\n  database: onebody_test\n  username: root\n  encoding:
  utf8mb4'' > config/database.yml.mysql'
- 'echo -e ''test:\n  adapter: postgresql\n  database: onebody_test\n  username: postgres\n  encoding:
  unicode'' > config/database.yml.pg'
- 'sed -i "s/#gem ''pg''/gem ''pg''/" Gemfile'
- 'cp config/database.yml.$DB config/database.yml'
- 'sed -i "/# --SKIP-TRAVIS--/,/# --END-SKIP-TRAVIS--/d" spec/models/*.rb'
bundler_args: "--without development production"
cache:
  yarn: true
  bundler: true
sudo: false
services:
- mysql
- postgresql
script:
- RAILS_ENV=test bundle exec rake --trace db:migrate
- bundle exec rspec
before_script:
- 'echo -e ''test:\n  secret_token: abc123\n  secret_key_base: 123abc'' > config/secrets.yml'
- mysql -e 'create database onebody_test'
- psql -c 'create database onebody_test;' -U postgres
- 'bundle exec rails webpacker:compile'
notifications:
  slack:
    secure: k8ryQIZOiUVSo2pA0noNA/nwJbDvCejrxwls9bjJMF8WOObwd0BnhMh//iEnOdzdF5Z6MyF0tHgVuOtBa71QwVbMoufAK4X7I7ykLu0pVCWwhm13Gg1Ij7xi2cPT7+B/IyoKhRcEKEYwMlzV9CuispMMDoS3pHC2bMRxGSRYwTI=
