<div class="chapter" id="Acts-001">
  <h2>Acts 1</h2>
  <span class="verse" title="Acts 1:1" id="Acts-1-1">The first book I wrote, Theophilus, concerned all that Jesus began both to do and to teach,</span>
  <span class="verse" title="Acts 1:2" id="Acts-1-2">until the day in which he was received up, after he had given commandment through the Holy Spirit to the apostles whom he had chosen.</span>
  <span class="verse" title="Acts 1:3" id="Acts-1-3">To these he also showed himself alive after he suffered, by many proofs, appearing to them over a period of forty days, and speaking about God&#8217;s Kingdom.</span>
  <span class="verse" title="Acts 1:4" id="Acts-1-4">Being assembled together with them, he commanded them, &#8220;Don&#8217;t depart from Jerusalem, but wait for the promise of the Father, which you heard from me.</span>
  <span class="verse" title="Acts 1:5" id="Acts-1-5">For John indeed baptized in water, but you will be baptized in the Holy Spirit not many days from now.&#8221;</span>
  <span class="verse" title="Acts 1:6" id="Acts-1-6">Therefore, when they had come together, they asked him, &#8220;Lord, are you now restoring the kingdom to Israel?&#8221;</span>
  <span class="verse" title="Acts 1:7" id="Acts-1-7">He said to them, &#8220;It isn&#8217;t for you to know times or seasons which the Father has set within his own authority.</span>
  <span class="verse" title="Acts 1:8" id="Acts-1-8">But you will receive power when the Holy Spirit has come upon you. You will be witnesses to me in Jerusalem, in all Judea and Samaria, and to the uttermost parts of the earth.&#8221;</span>
  <span class="verse" title="Acts 1:9" id="Acts-1-9">When he had said these things, as they were looking, he was taken up, and a cloud received him out of their sight.</span>
  <span class="verse" title="Acts 1:10" id="Acts-1-10">While they were looking steadfastly into the sky as he went, behold, two men stood by them in white clothing,</span>
  <span class="verse" title="Acts 1:11" id="Acts-1-11">who also said, &#8220;You men of Galilee, why do you stand looking into the sky? This Jesus, who was received up from you into the sky will come back in the same way as you saw him going into the sky.&#8221;</span>
  <span class="verse" title="Acts 1:12" id="Acts-1-12">Then they returned to Jerusalem from the mountain called Olivet, which is near Jerusalem, a Sabbath day&#8217;s journey away.</span>
  <span class="verse" title="Acts 1:13" id="Acts-1-13">When they had come in, they went up into the upper room, where they were staying; that is Peter, John, James, Andrew, Philip, Thomas, Bartholomew, Matthew, James the son of Alphaeus, Simon the Zealot, and Judas the son of James.</span>
  <span class="verse" title="Acts 1:14" id="Acts-1-14">All these with one accord continued steadfastly in prayer and supplication, along with the women, and Mary the mother of Jesus, and with his brothers.</span>
  <span class="verse" title="Acts 1:15" id="Acts-1-15">In these days, Peter stood up in the midst of the disciples (and the number of names was about one hundred twenty), and said,</span>
  <span class="verse" title="Acts 1:16" id="Acts-1-16">&#8220;Brothers, it was necessary that this Scripture should be fulfilled, which the Holy Spirit spoke before by the mouth of David concerning Judas, who was guide to those who took Jesus.</span>
  <span class="verse" title="Acts 1:17" id="Acts-1-17">For he was numbered with us, and received his portion in this ministry.</span>
  <span class="verse" title="Acts 1:18" id="Acts-1-18">Now this man obtained a field with the reward for his wickedness, and falling headlong, his body burst open, and all his intestines gushed out.</span>
  <span class="verse" title="Acts 1:19" id="Acts-1-19">It became known to everyone who lived in Jerusalem that in their language that field was called &#8216;Akeldama,&#8217; that is, &#8216;The field of blood.&#8217;</span>
  <span class="verse" title="Acts 1:20" id="Acts-1-20">For it is written in the book of Psalms,  &#8216;Let his habitation be made desolate.<br/> <span class="indent">&nbsp;&nbsp;</span>Let no one dwell therein;&#8217;<br/>  and,  &#8216;Let another take his office.&#8217;<br/></span>
  <span class="verse" title="Acts 1:21" id="Acts-1-21">&#8220;Of the men therefore who have accompanied us all the time that the Lord Jesus went in and out among us,</span>
  <span class="verse" title="Acts 1:22" id="Acts-1-22">beginning from the baptism of John, to the day that he was received up from us, of these one must become a witness with us of his resurrection.&#8221;</span>
  <span class="verse" title="Acts 1:23" id="Acts-1-23">They put forward two, Joseph called Barsabbas, who was surnamed Justus, and Matthias.</span>
  <span class="verse" title="Acts 1:24" id="Acts-1-24">They prayed, and said, &#8220;You, Lord, who know the hearts of all men, show which one of these two you have chosen</span>
  <span class="verse" title="Acts 1:25" id="Acts-1-25">to take part in this ministry and apostleship from which Judas fell away, that he might go to his own place.&#8221;</span>
  <span class="verse" title="Acts 1:26" id="Acts-1-26">They drew lots for them, and the lot fell on Matthias, and he was numbered with the eleven apostles.</span>
</div>