<div class="chapter" id="Acts-002">
  <h2>Acts 2</h2>
  <span class="verse" title="Acts 2:1" id="Acts-2-1">Now when the day of Pentecost had come, they were all with one accord in one place.</span>
  <span class="verse" title="Acts 2:2" id="Acts-2-2">Suddenly there came from the sky a sound like the rushing of a mighty wind, and it filled all the house where they were sitting.</span>
  <span class="verse" title="Acts 2:3" id="Acts-2-3">Tongues like fire appeared and were distributed to them, and one sat on each of them.</span>
  <span class="verse" title="Acts 2:4" id="Acts-2-4">They were all filled with the Holy Spirit, and began to speak with other languages, as the Spirit gave them the ability to speak.</span>
  <span class="verse" title="Acts 2:5" id="Acts-2-5">Now there were dwelling in Jerusalem Jews, devout men, from every nation under the sky.</span>
  <span class="verse" title="Acts 2:6" id="Acts-2-6">When this sound was heard, the multitude came together, and were bewildered, because everyone heard them speaking in his own language.</span>
  <span class="verse" title="Acts 2:7" id="Acts-2-7">They were all amazed and marveled, saying to one another, &#8220;Behold, aren&#8217;t all these who speak Galileans?</span>
  <span class="verse" title="Acts 2:8" id="Acts-2-8">How do we hear, everyone in our own native language?</span>
  <span class="verse" title="Acts 2:9" id="Acts-2-9">Parthians, Medes, Elamites, and people from Mesopotamia, Judea, Cappadocia, Pontus, Asia,</span>
  <span class="verse" title="Acts 2:10" id="Acts-2-10">Phrygia, Pamphylia, Egypt, the parts of Libya around Cyrene, visitors from Rome, both Jews and proselytes,</span>
  <span class="verse" title="Acts 2:11" id="Acts-2-11">Cretans and Arabians: we hear them speaking in our languages the mighty works of God!&#8221;</span>
  <span class="verse" title="Acts 2:12" id="Acts-2-12">They were all amazed, and were perplexed, saying one to another, &#8220;What does this mean?&#8221;</span>
  <span class="verse" title="Acts 2:13" id="Acts-2-13">Others, mocking, said, &#8220;They are filled with new wine.&#8221;</span>
  <span class="verse" title="Acts 2:14" id="Acts-2-14">But Peter, standing up with the eleven, lifted up his voice, and spoke out to them, &#8220;You men of Judea, and all you who dwell at Jerusalem, let this be known to you, and listen to my words.</span>
  <span class="verse" title="Acts 2:15" id="Acts-2-15">For these aren&#8217;t drunken, as you suppose, seeing it is only the third hour of the day.</span>
  <span class="verse" title="Acts 2:16" id="Acts-2-16">But this is what has been spoken through the prophet Joel:</span>
  <span class="verse" title="Acts 2:17" id="Acts-2-17">&#8216;It will be in the last days, says God,<br/> <span class="indent">&nbsp;&nbsp;</span>that I will pour out my Spirit on all flesh.<br/>   Your sons and your daughters will prophesy.<br/> <span class="indent">&nbsp;&nbsp;</span>Your young men will see visions.<br/> <span class="indent">&nbsp;&nbsp;</span>Your old men will dream dreams.<br/></span>
  <span class="verse" title="Acts 2:18" id="Acts-2-18">Yes, and on my servants and on my handmaidens in those days,<br/> <span class="indent">&nbsp;&nbsp;</span>I will pour out my Spirit, and they will prophesy.<br/></span>
  <span class="verse" title="Acts 2:19" id="Acts-2-19">I will show wonders in the sky above,<br/> <span class="indent">&nbsp;&nbsp;</span>and signs on the earth beneath;<br/> <span class="indent">&nbsp;&nbsp;</span>blood, and fire, and billows of smoke.<br/></span>
  <span class="verse" title="Acts 2:20" id="Acts-2-20">The sun will be turned into darkness,<br/> <span class="indent">&nbsp;&nbsp;</span>and the moon into blood,<br/> <span class="indent">&nbsp;&nbsp;</span>before the great and glorious day of the Lord comes.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Acts 2:21" id="Acts-2-21">It will be, that whoever will call on the name of the Lord will be saved.&#8217;<br/></span>
  <span class="verse" title="Acts 2:22" id="Acts-2-22">&#8220;Men of Israel, hear these words! Jesus of Nazareth, a man approved by God to you by mighty works and wonders and signs which God did by him in the midst of you, even as you yourselves know,</span>
  <span class="verse" title="Acts 2:23" id="Acts-2-23">him, being delivered up by the determined counsel and foreknowledge of God, you have taken by the hand of lawless men, crucified and killed;</span>
  <span class="verse" title="Acts 2:24" id="Acts-2-24">whom God raised up, having freed him from the agony of death, because it was not possible that he should be held by it.</span>
  <span class="verse" title="Acts 2:25" id="Acts-2-25">For David says concerning him,  &#8216;I saw the Lord always before my face,<br/> <span class="indent">&nbsp;&nbsp;</span>For he is on my right hand, that I should not be moved.<br/></span>
  <span class="verse" title="Acts 2:26" id="Acts-2-26">Therefore my heart was glad, and my tongue rejoiced.<br/> <span class="indent">&nbsp;&nbsp;</span>Moreover my flesh also will dwell in hope;<br/></span>
  <span class="verse" title="Acts 2:27" id="Acts-2-27">because you will not leave my soul in Hades,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will you allow your Holy One to see decay.<br/></span>
  <span class="verse" title="Acts 2:28" id="Acts-2-28">You made known to me the ways of life.<br/> <span class="indent">&nbsp;&nbsp;</span>You will make me full of gladness with your presence.&#8217;<br/></span>
  <span class="verse" title="Acts 2:29" id="Acts-2-29">&#8220;Brothers, I may tell you freely of the patriarch David, that he both died and was buried, and his tomb is with us to this day.</span>
  <span class="verse" title="Acts 2:30" id="Acts-2-30">Therefore, being a prophet, and knowing that God had sworn with an oath to him that of the fruit of his body, according to the flesh, he would raise up the Christ to sit on his throne,</span>
  <span class="verse" title="Acts 2:31" id="Acts-2-31">he foreseeing this spoke about the resurrection of the Christ, that neither was his soul left in Hades, nor did his flesh see decay.</span>
  <span class="verse" title="Acts 2:32" id="Acts-2-32">This Jesus God raised up, to which we all are witnesses.</span>
  <span class="verse" title="Acts 2:33" id="Acts-2-33">Being therefore exalted by the right hand of God, and having received from the Father the promise of the Holy Spirit, he has poured out this, which you now see and hear.</span>
  <span class="verse" title="Acts 2:34" id="Acts-2-34">For David didn&#8217;t ascend into the heavens, but he says himself,  &#8216;The Lord said to my Lord, &#8220;Sit by my right hand,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Acts 2:35" id="Acts-2-35">until I make your enemies a footstool for your feet.&#8221;&#8217;<br/></span>
  <span class="verse" title="Acts 2:36" id="Acts-2-36">&#8220;Let all the house of Israel therefore know certainly that God has made him both Lord and Christ, this Jesus whom you crucified.&#8221;</span>
  <span class="verse" title="Acts 2:37" id="Acts-2-37">Now when they heard this, they were cut to the heart, and said to Peter and the rest of the apostles, &#8220;Brothers, what shall we do?&#8221;</span>
  <span class="verse" title="Acts 2:38" id="Acts-2-38">Peter said to them, &#8220;Repent, and be baptized, every one of you, in the name of Jesus Christ for the forgiveness of sins, and you will receive the gift of the Holy Spirit.</span>
  <span class="verse" title="Acts 2:39" id="Acts-2-39">For the promise is to you, and to your children, and to all who are far off, even as many as the Lord our God will call to himself.&#8221;</span>
  <span class="verse" title="Acts 2:40" id="Acts-2-40">With many other words he testified, and exhorted them, saying, &#8220;Save yourselves from this crooked generation!&#8221;</span>
  <span class="verse" title="Acts 2:41" id="Acts-2-41">Then those who gladly received his word were baptized. There were added that day about three thousand souls.</span>
  <span class="verse" title="Acts 2:42" id="Acts-2-42">They continued steadfastly in the apostles&#8217; teaching and fellowship, in the breaking of bread, and prayer.</span>
  <span class="verse" title="Acts 2:43" id="Acts-2-43">Fear came on every soul, and many wonders and signs were done through the apostles.</span>
  <span class="verse" title="Acts 2:44" id="Acts-2-44">All who believed were together, and had all things in common.</span>
  <span class="verse" title="Acts 2:45" id="Acts-2-45">They sold their possessions and goods, and distributed them to all, according as anyone had need.</span>
  <span class="verse" title="Acts 2:46" id="Acts-2-46">Day by day, continuing steadfastly with one accord in the temple, and breaking bread at home, they took their food with gladness and singleness of heart,</span>
  <span class="verse" title="Acts 2:47" id="Acts-2-47">praising God, and having favor with all the people. The Lord added to the assembly day by day those who were being saved.</span>
</div>