<div class="chapter" id="Acts-003">
  <h2>Acts 3</h2>
  <span class="verse" title="Acts 3:1" id="Acts-3-1">Peter and John were going up into the temple at the hour of prayer, the ninth hour.</span>
  <span class="verse" title="Acts 3:2" id="Acts-3-2">A certain man who was lame from his mother&#8217;s womb was being carried, whom they laid daily at the door of the temple which is called Beautiful, to ask gifts for the needy of those who entered into the temple.</span>
  <span class="verse" title="Acts 3:3" id="Acts-3-3">Seeing Peter and John about to go into the temple, he asked to receive gifts for the needy.</span>
  <span class="verse" title="Acts 3:4" id="Acts-3-4">Peter, fastening his eyes on him, with John, said, &#8220;Look at us.&#8221;</span>
  <span class="verse" title="Acts 3:5" id="Acts-3-5">He listened to them, expecting to receive something from them.</span>
  <span class="verse" title="Acts 3:6" id="Acts-3-6">But Peter said, &#8220;Silver and gold have I none, but what I have, that I give you. In the name of Jesus Christ of Nazareth, get up and walk!&#8221;</span>
  <span class="verse" title="Acts 3:7" id="Acts-3-7">He took him by the right hand, and raised him up. Immediately his feet and his ankle bones received strength.</span>
  <span class="verse" title="Acts 3:8" id="Acts-3-8">Leaping up, he stood, and began to walk. He entered with them into the temple, walking, leaping, and praising God.</span>
  <span class="verse" title="Acts 3:9" id="Acts-3-9">All the people saw him walking and praising God.</span>
  <span class="verse" title="Acts 3:10" id="Acts-3-10">They recognized him, that it was he who used to sit begging for gifts for the needy at the Beautiful Gate of the temple. They were filled with wonder and amazement at what had happened to him.</span>
  <span class="verse" title="Acts 3:11" id="Acts-3-11">As the lame man who was healed held on to Peter and John, all the people ran together to them in the porch that is called Solomon&#8217;s, greatly wondering.</span>
  <span class="verse" title="Acts 3:12" id="Acts-3-12">When Peter saw it, he responded to the people, &#8220;You men of Israel, why do you marvel at this man? Why do you fasten your eyes on us, as though by our own power or godliness we had made him walk?</span>
  <span class="verse" title="Acts 3:13" id="Acts-3-13">The God of Abraham, Isaac, and Jacob, the God of our fathers, has glorified his Servant Jesus, whom you delivered up, and denied in the presence of Pilate, when he had determined to release him.</span>
  <span class="verse" title="Acts 3:14" id="Acts-3-14">But you denied the Holy and Righteous One, and asked for a murderer to be granted to you,</span>
  <span class="verse" title="Acts 3:15" id="Acts-3-15">and killed the Prince of life, whom God raised from the dead, to which we are witnesses.</span>
  <span class="verse" title="Acts 3:16" id="Acts-3-16">By faith in his name, his name has made this man strong, whom you see and know. Yes, the faith which is through him has given him this perfect soundness in the presence of you all.</span>
  <span class="verse" title="Acts 3:17" id="Acts-3-17">&#8220;Now, brothers, I know that you did this in ignorance, as did also your rulers.</span>
  <span class="verse" title="Acts 3:18" id="Acts-3-18">But the things which God announced by the mouth of all his prophets, that Christ should suffer, he thus fulfilled.</span>
  <span class="verse" title="Acts 3:19" id="Acts-3-19">&#8220;Repent therefore, and turn again, that your sins may be blotted out, so that there may come times of refreshing from the presence of the Lord,</span>
  <span class="verse" title="Acts 3:20" id="Acts-3-20">and that he may send Christ Jesus, who was ordained for you before,</span>
  <span class="verse" title="Acts 3:21" id="Acts-3-21">whom heaven must receive until the times of restoration of all things, which God spoke long ago by the mouth of his holy prophets.</span>
  <span class="verse" title="Acts 3:22" id="Acts-3-22">For Moses indeed said to the fathers, &#8216;The Lord God will raise up a prophet for you from among your brothers, like me. You shall listen to him in all things whatever he says to you.</span>
  <span class="verse" title="Acts 3:23" id="Acts-3-23">It will be, that every soul that will not listen to that prophet will be utterly destroyed from among the people.&#8217;</span>
  <span class="verse" title="Acts 3:24" id="Acts-3-24">Yes, and all the prophets from Samuel and those who followed after, as many as have spoken, they also told of these days.</span>
  <span class="verse" title="Acts 3:25" id="Acts-3-25">You are the children of the prophets, and of the covenant which God made with our fathers, saying to Abraham, &#8216;In your seed will all the families of the earth be blessed.&#8217;</span>
  <span class="verse" title="Acts 3:26" id="Acts-3-26">God, having raised up his servant, Jesus, sent him to you first, to bless you, in turning away everyone of you from your wickedness.&#8221;</span>
</div>