<div class="chapter" id="Acts-004">
  <h2>Acts 4</h2>
  <span class="verse" title="Acts 4:1" id="Acts-4-1">As they spoke to the people, the priests and the captain of the temple and the Sadducees came to them,</span>
  <span class="verse" title="Acts 4:2" id="Acts-4-2">being upset because they taught the people and proclaimed in Jesus the resurrection from the dead.</span>
  <span class="verse" title="Acts 4:3" id="Acts-4-3">They laid hands on them, and put them in custody until the next day, for it was now evening.</span>
  <span class="verse" title="Acts 4:4" id="Acts-4-4">But many of those who heard the word believed, and the number of the men came to be about five thousand.</span>
  <span class="verse" title="Acts 4:5" id="Acts-4-5">It happened in the morning, that their rulers, elders, and scribes were gathered together in Jerusalem.</span>
  <span class="verse" title="Acts 4:6" id="Acts-4-6">Annas the high priest was there, with Caiaphas, John, Alexander, and as many as were relatives of the high priest.</span>
  <span class="verse" title="Acts 4:7" id="Acts-4-7">When they had stood them in the middle of them, they inquired, &#8220;By what power, or in what name, have you done this?&#8221;</span>
  <span class="verse" title="Acts 4:8" id="Acts-4-8">Then Peter, filled with the Holy Spirit, said to them, &#8220;You rulers of the people, and elders of Israel,</span>
  <span class="verse" title="Acts 4:9" id="Acts-4-9">if we are examined today concerning a good deed done to a crippled man, by what means this man has been healed,</span>
  <span class="verse" title="Acts 4:10" id="Acts-4-10">be it known to you all, and to all the people of Israel, that in the name of Jesus Christ of Nazareth, whom you crucified, whom God raised from the dead, in him does this man stand here before you whole.</span>
  <span class="verse" title="Acts 4:11" id="Acts-4-11">He is &#8216;the stone which was regarded as worthless by you, the builders, which has become the head of the corner.&#8217;</span>
  <span class="verse" title="Acts 4:12" id="Acts-4-12">There is salvation in none other, for neither is there any other name under heaven, that is given among men, by which we must be saved!&#8221;</span>
  <span class="verse" title="Acts 4:13" id="Acts-4-13">Now when they saw the boldness of Peter and John, and had perceived that they were unlearned and ignorant men, they marveled. They recognized that they had been with Jesus.</span>
  <span class="verse" title="Acts 4:14" id="Acts-4-14">Seeing the man who was healed standing with them, they could say nothing against it.</span>
  <span class="verse" title="Acts 4:15" id="Acts-4-15">But when they had commanded them to go aside out of the council, they conferred among themselves,</span>
  <span class="verse" title="Acts 4:16" id="Acts-4-16">saying, &#8220;What shall we do to these men? Because indeed a notable miracle has been done through them, as can be plainly seen by all who dwell in Jerusalem, and we can&#8217;t deny it.</span>
  <span class="verse" title="Acts 4:17" id="Acts-4-17">But so that this spreads no further among the people, let&#8217;s threaten them, that from now on they don&#8217;t speak to anyone in this name.&#8221;</span>
  <span class="verse" title="Acts 4:18" id="Acts-4-18">They called them, and commanded them not to speak at all nor teach in the name of Jesus.</span>
  <span class="verse" title="Acts 4:19" id="Acts-4-19">But Peter and John answered them, &#8220;Whether it is right in the sight of God to listen to you rather than to God, judge for yourselves,</span>
  <span class="verse" title="Acts 4:20" id="Acts-4-20">for we can&#8217;t help telling the things which we saw and heard.&#8221;</span>
  <span class="verse" title="Acts 4:21" id="Acts-4-21">When they had further threatened them, they let them go, finding no way to punish them, because of the people; for everyone glorified God for that which was done.</span>
  <span class="verse" title="Acts 4:22" id="Acts-4-22">For the man on whom this miracle of healing was performed was more than forty years old.</span>
  <span class="verse" title="Acts 4:23" id="Acts-4-23">Being let go, they came to their own company, and reported all that the chief priests and the elders had said to them.</span>
  <span class="verse" title="Acts 4:24" id="Acts-4-24">When they heard it, they lifted up their voice to God with one accord, and said, &#8220;O Lord, you are God, who made the heaven, the earth, the sea, and all that is in them;</span>
  <span class="verse" title="Acts 4:25" id="Acts-4-25">who by the mouth of your servant, David, said,  &#8216;Why do the nations rage,<br/> <span class="indent">&nbsp;&nbsp;</span>and the peoples plot a vain thing?<br/></span>
  <span class="verse" title="Acts 4:26" id="Acts-4-26">The kings of the earth take a stand,<br/> <span class="indent">&nbsp;&nbsp;</span>and the rulers take council together,<br/> <span class="indent">&nbsp;&nbsp;</span>against the Lord, and against his Christ.&#8217;<br/></span>
  <span class="verse" title="Acts 4:27" id="Acts-4-27">&#8220;For truly, in this city against your holy servant, Jesus, whom you anointed, both Herod and Pontius Pilate, with the Gentiles and the people of Israel, were gathered together</span>
  <span class="verse" title="Acts 4:28" id="Acts-4-28">to do whatever your hand and your council foreordained to happen.</span>
  <span class="verse" title="Acts 4:29" id="Acts-4-29">Now, Lord, look at their threats, and grant to your servants to speak your word with all boldness,</span>
  <span class="verse" title="Acts 4:30" id="Acts-4-30">while you stretch out your hand to heal; and that signs and wonders may be done through the name of your holy Servant Jesus.&#8221;</span>
  <span class="verse" title="Acts 4:31" id="Acts-4-31">When they had prayed, the place was shaken where they were gathered together. They were all filled with the Holy Spirit, and they spoke the word of God with boldness.</span>
  <span class="verse" title="Acts 4:32" id="Acts-4-32">The multitude of those who believed were of one heart and soul. Not one of them claimed that anything of the things which he possessed was his own, but they had all things in common.</span>
  <span class="verse" title="Acts 4:33" id="Acts-4-33">With great power, the apostles gave their testimony of the resurrection of the Lord Jesus. Great grace was on them all.</span>
  <span class="verse" title="Acts 4:34" id="Acts-4-34">For neither was there among them any who lacked, for as many as were owners of lands or houses sold them, and brought the proceeds of the things that were sold,</span>
  <span class="verse" title="Acts 4:35" id="Acts-4-35">and laid them at the apostles&#8217; feet, and distribution was made to each, according as anyone had need.</span>
  <span class="verse" title="Acts 4:36" id="Acts-4-36">Joses, who by the apostles was surnamed Barnabas (which is, being interpreted, Son of Encouragement), a Levite, a man of Cyprus by race,</span>
  <span class="verse" title="Acts 4:37" id="Acts-4-37">having a field, sold it, and brought the money and laid it at the apostles&#8217; feet.</span>
</div>