<div class="chapter" id="Acts-005">
  <h2>Acts 5</h2>
  <span class="verse" title="Acts 5:1" id="Acts-5-1">But a certain man named Ananias, with Sapphira, his wife, sold a possession,</span>
  <span class="verse" title="Acts 5:2" id="Acts-5-2">and kept back part of the price, his wife also being aware of it, and brought a certain part, and laid it at the apostles&#8217; feet.</span>
  <span class="verse" title="Acts 5:3" id="Acts-5-3">But Peter said, &#8220;Ananias, why has Satan filled your heart to lie to the Holy Spirit, and to keep back part of the price of the land?</span>
  <span class="verse" title="Acts 5:4" id="Acts-5-4">While you kept it, didn&#8217;t it remain your own? After it was sold, wasn&#8217;t it in your power? How is it that you have conceived this thing in your heart? You haven&#8217;t lied to men, but to God.&#8221;</span>
  <span class="verse" title="Acts 5:5" id="Acts-5-5">Ananias, hearing these words, fell down and died. Great fear came on all who heard these things.</span>
  <span class="verse" title="Acts 5:6" id="Acts-5-6">The young men arose and wrapped him up, and they carried him out and buried him.</span>
  <span class="verse" title="Acts 5:7" id="Acts-5-7">About three hours later, his wife, not knowing what had happened, came in.</span>
  <span class="verse" title="Acts 5:8" id="Acts-5-8">Peter answered her, &#8220;Tell me whether you sold the land for so much.&#8221; She said, &#8220;Yes, for so much.&#8221;</span>
  <span class="verse" title="Acts 5:9" id="Acts-5-9">But Peter asked her, &#8220;How is it that you have agreed together to tempt the Spirit of the Lord? Behold, the feet of those who have buried your husband are at the door, and they will carry you out.&#8221;</span>
  <span class="verse" title="Acts 5:10" id="Acts-5-10">She fell down immediately at his feet, and died. The young men came in and found her dead, and they carried her out and buried her by her husband.</span>
  <span class="verse" title="Acts 5:11" id="Acts-5-11">Great fear came on the whole assembly, and on all who heard these things.</span>
  <span class="verse" title="Acts 5:12" id="Acts-5-12">By the hands of the apostles many signs and wonders were done among the people. They were all with one accord in Solomon&#8217;s porch.</span>
  <span class="verse" title="Acts 5:13" id="Acts-5-13">None of the rest dared to join them, however the people honored them.</span>
  <span class="verse" title="Acts 5:14" id="Acts-5-14">More believers were added to the Lord, multitudes of both men and women.</span>
  <span class="verse" title="Acts 5:15" id="Acts-5-15">They even carried out the sick into the streets, and laid them on cots and mattresses, so that as Peter came by, at the least his shadow might overshadow some of them.</span>
  <span class="verse" title="Acts 5:16" id="Acts-5-16">Multitudes also came together from the cities around Jerusalem, bringing sick people, and those who were tormented by unclean spirits: and they were all healed.</span>
  <span class="verse" title="Acts 5:17" id="Acts-5-17">But the high priest rose up, and all those who were with him (which is the sect of the Sadducees), and they were filled with jealousy,</span>
  <span class="verse" title="Acts 5:18" id="Acts-5-18">and laid hands on the apostles, and put them in public custody.</span>
  <span class="verse" title="Acts 5:19" id="Acts-5-19">But an angel of the Lord opened the prison doors by night, and brought them out, and said,</span>
  <span class="verse" title="Acts 5:20" id="Acts-5-20">&#8220;Go stand and speak in the temple to the people all the words of this life.&#8221;</span>
  <span class="verse" title="Acts 5:21" id="Acts-5-21">When they heard this, they entered into the temple about daybreak, and taught. But the high priest came, and those who were with him, and called the council together, and all the senate of the children of Israel, and sent to the prison to have them brought.</span>
  <span class="verse" title="Acts 5:22" id="Acts-5-22">But the officers who came didn&#8217;t find them in the prison. They returned and reported,</span>
  <span class="verse" title="Acts 5:23" id="Acts-5-23">&#8220;We found the prison shut and locked, and the guards standing before the doors, but when we opened them, we found no one inside!&#8221;</span>
  <span class="verse" title="Acts 5:24" id="Acts-5-24">Now when the high priest, the captain of the temple, and the chief priests heard these words, they were very perplexed about them and what might become of this.</span>
  <span class="verse" title="Acts 5:25" id="Acts-5-25">One came and told them, &#8220;Behold, the men whom you put in prison are in the temple, standing and teaching the people.&#8221;</span>
  <span class="verse" title="Acts 5:26" id="Acts-5-26">Then the captain went with the officers, and brought them without violence, for they were afraid that the people might stone them.</span>
  <span class="verse" title="Acts 5:27" id="Acts-5-27">When they had brought them, they set them before the council. The high priest questioned them,</span>
  <span class="verse" title="Acts 5:28" id="Acts-5-28">saying, &#8220;Didn&#8217;t we strictly command you not to teach in this name? Behold, you have filled Jerusalem with your teaching, and intend to bring this man&#8217;s blood on us.&#8221;</span>
  <span class="verse" title="Acts 5:29" id="Acts-5-29">But Peter and the apostles answered, &#8220;We must obey God rather than men.</span>
  <span class="verse" title="Acts 5:30" id="Acts-5-30">The God of our fathers raised up Jesus, whom you killed, hanging him on a tree.</span>
  <span class="verse" title="Acts 5:31" id="Acts-5-31">God exalted him with his right hand to be a Prince and a Savior, to give repentance to Israel, and remission of sins.</span>
  <span class="verse" title="Acts 5:32" id="Acts-5-32">We are His witnesses of these things; and so also is the Holy Spirit, whom God has given to those who obey him.&#8221;</span>
  <span class="verse" title="Acts 5:33" id="Acts-5-33">But they, when they heard this, were cut to the heart, and determined to kill them.</span>
  <span class="verse" title="Acts 5:34" id="Acts-5-34">But one stood up in the council, a Pharisee named Gamaliel, a teacher of the law, honored by all the people, and commanded to put the apostles out for a little while.</span>
  <span class="verse" title="Acts 5:35" id="Acts-5-35">He said to them, &#8220;You men of Israel, be careful concerning these men, what you are about to do.</span>
  <span class="verse" title="Acts 5:36" id="Acts-5-36">For before these days Theudas rose up, making himself out to be somebody; to whom a number of men, about four hundred, joined themselves: who was slain; and all, as many as obeyed him, were dispersed, and came to nothing.</span>
  <span class="verse" title="Acts 5:37" id="Acts-5-37">After this man, Judas of Galilee rose up in the days of the enrollment, and drew away some people after him. He also perished, and all, as many as obeyed him, were scattered abroad.</span>
  <span class="verse" title="Acts 5:38" id="Acts-5-38">Now I tell you, withdraw from these men, and leave them alone. For if this counsel or this work is of men, it will be overthrown.</span>
  <span class="verse" title="Acts 5:39" id="Acts-5-39">But if it is of God, you will not be able to overthrow it, and you would be found even to be fighting against God!&#8221;</span>
  <span class="verse" title="Acts 5:40" id="Acts-5-40">They agreed with him. Summoning the apostles, they beat them and commanded them not to speak in the name of Jesus, and let them go.</span>
  <span class="verse" title="Acts 5:41" id="Acts-5-41">They therefore departed from the presence of the council, rejoicing that they were counted worthy to suffer dishonor for Jesus&#8217; name.</span>
  <span class="verse" title="Acts 5:42" id="Acts-5-42">Every day, in the temple and at home, they never stopped teaching and preaching Jesus, the Christ.</span>
</div>