<div class="chapter" id="Acts-006">
  <h2>Acts 6</h2>
  <span class="verse" title="Acts 6:1" id="Acts-6-1">Now in those days, when the number of the disciples was multiplying, a complaint arose from the Hellenists against the Hebrews, because their widows were neglected in the daily service.</span>
  <span class="verse" title="Acts 6:2" id="Acts-6-2">The twelve summoned the multitude of the disciples and said, &#8220;It is not appropriate for us to forsake the word of God and serve tables.</span>
  <span class="verse" title="Acts 6:3" id="Acts-6-3">Therefore select from among you, brothers, seven men of good report, full of the Holy Spirit and of wisdom, whom we may appoint over this business.</span>
  <span class="verse" title="Acts 6:4" id="Acts-6-4">But we will continue steadfastly in prayer and in the ministry of the word.&#8221;</span>
  <span class="verse" title="Acts 6:5" id="Acts-6-5">These words pleased the whole multitude. They chose Stephen, a man full of faith and of the Holy Spirit, Philip, Prochorus, Nicanor, Timon, Parmenas, and Nicolaus, a proselyte of Antioch;</span>
  <span class="verse" title="Acts 6:6" id="Acts-6-6">whom they set before the apostles. When they had prayed, they laid their hands on them.</span>
  <span class="verse" title="Acts 6:7" id="Acts-6-7">The word of God increased and the number of the disciples multiplied in Jerusalem exceedingly. A great company of the priests were obedient to the faith.</span>
  <span class="verse" title="Acts 6:8" id="Acts-6-8">Stephen, full of faith and power, performed great wonders and signs among the people.</span>
  <span class="verse" title="Acts 6:9" id="Acts-6-9">But some of those who were of the synagogue called &#8220;The Libertines,&#8221; and of the Cyrenians, of the Alexandrians, and of those of Cilicia and Asia arose, disputing with Stephen.</span>
  <span class="verse" title="Acts 6:10" id="Acts-6-10">They weren&#8217;t able to withstand the wisdom and the Spirit by which he spoke.</span>
  <span class="verse" title="Acts 6:11" id="Acts-6-11">Then they secretly induced men to say, &#8220;We have heard him speak blasphemous words against Moses and God.&#8221;</span>
  <span class="verse" title="Acts 6:12" id="Acts-6-12">They stirred up the people, the elders, and the scribes, and came against him and seized him, and brought him in to the council,</span>
  <span class="verse" title="Acts 6:13" id="Acts-6-13">and set up false witnesses who said, &#8220;This man never stops speaking blasphemous words against this holy place and the law.</span>
  <span class="verse" title="Acts 6:14" id="Acts-6-14">For we have heard him say that this Jesus of Nazareth will destroy this place, and will change the customs which Moses delivered to us.&#8221;</span>
  <span class="verse" title="Acts 6:15" id="Acts-6-15">All who sat in the council, fastening their eyes on him, saw his face like it was the face of an angel.</span>
</div>