<div class="chapter" id="Acts-008">
  <h2>Acts 8</h2>
  <span class="verse" title="Acts 8:1" id="Acts-8-1">Saul was consenting to his death. A great persecution arose against the assembly which was in Jerusalem in that day. They were all scattered abroad throughout the regions of Judea and Samaria, except for the apostles.</span>
  <span class="verse" title="Acts 8:2" id="Acts-8-2">Devout men buried Stephen, and lamented greatly over him.</span>
  <span class="verse" title="Acts 8:3" id="Acts-8-3">But Saul ravaged the assembly, entering into every house, and dragged both men and women off to prison.</span>
  <span class="verse" title="Acts 8:4" id="Acts-8-4">Therefore those who were scattered abroad went around preaching the word.</span>
  <span class="verse" title="Acts 8:5" id="Acts-8-5">Philip went down to the city of Samaria, and proclaimed to them the Christ.</span>
  <span class="verse" title="Acts 8:6" id="Acts-8-6">The multitudes listened with one accord to the things that were spoken by Philip, when they heard and saw the signs which he did.</span>
  <span class="verse" title="Acts 8:7" id="Acts-8-7">For unclean spirits came out of many of those who had them. They came out, crying with a loud voice. Many who had been paralyzed and lame were healed.</span>
  <span class="verse" title="Acts 8:8" id="Acts-8-8">There was great joy in that city.</span>
  <span class="verse" title="Acts 8:9" id="Acts-8-9">But there was a certain man, Simon by name, who used to practice sorcery in the city, and amazed the people of Samaria, making himself out to be some great one,</span>
  <span class="verse" title="Acts 8:10" id="Acts-8-10">to whom they all listened, from the least to the greatest, saying, &#8220;This man is that great power of God.&#8221;</span>
  <span class="verse" title="Acts 8:11" id="Acts-8-11">They listened to him, because for a long time he had amazed them with his sorceries.</span>
  <span class="verse" title="Acts 8:12" id="Acts-8-12">But when they believed Philip preaching good news concerning the Kingdom of God and the name of Jesus Christ, they were baptized, both men and women.</span>
  <span class="verse" title="Acts 8:13" id="Acts-8-13">Simon himself also believed. Being baptized, he continued with Philip. Seeing signs and great miracles occurring, he was amazed.</span>
  <span class="verse" title="Acts 8:14" id="Acts-8-14">Now when the apostles who were at Jerusalem heard that Samaria had received the word of God, they sent Peter and John to them,</span>
  <span class="verse" title="Acts 8:15" id="Acts-8-15">who, when they had come down, prayed for them, that they might receive the Holy Spirit;</span>
  <span class="verse" title="Acts 8:16" id="Acts-8-16">for as yet he had fallen on none of them. They had only been baptized in the name of Christ Jesus.</span>
  <span class="verse" title="Acts 8:17" id="Acts-8-17">Then they laid their hands on them, and they received the Holy Spirit.</span>
  <span class="verse" title="Acts 8:18" id="Acts-8-18">Now when Simon saw that the Holy Spirit was given through the laying on of the apostles&#8217; hands, he offered them money,</span>
  <span class="verse" title="Acts 8:19" id="Acts-8-19">saying, &#8220;Give me also this power, that whomever I lay my hands on may receive the Holy Spirit.&#8221;</span>
  <span class="verse" title="Acts 8:20" id="Acts-8-20">But Peter said to him, &#8220;May your silver perish with you, because you thought you could obtain the gift of God with money!</span>
  <span class="verse" title="Acts 8:21" id="Acts-8-21">You have neither part nor lot in this matter, for your heart isn&#8217;t right before God.</span>
  <span class="verse" title="Acts 8:22" id="Acts-8-22">Repent therefore of this, your wickedness, and ask God if perhaps the thought of your heart may be forgiven you.</span>
  <span class="verse" title="Acts 8:23" id="Acts-8-23">For I see that you are in the gall of bitterness and in the bondage of iniquity.&#8221;</span>
  <span class="verse" title="Acts 8:24" id="Acts-8-24">Simon answered, &#8220;Pray for me to the Lord, that none of the things which you have spoken happen to me.&#8221;</span>
  <span class="verse" title="Acts 8:25" id="Acts-8-25">They therefore, when they had testified and spoken the word of the Lord, returned to Jerusalem, and preached the Good News to many villages of the Samaritans.</span>
  <span class="verse" title="Acts 8:26" id="Acts-8-26">But an angel of the Lord spoke to Philip, saying, &#8220;Arise, and go toward the south to the way that goes down from Jerusalem to Gaza. This is a desert.&#8221;</span>
  <span class="verse" title="Acts 8:27" id="Acts-8-27">He arose and went; and behold, there was a man of Ethiopia, a eunuch of great authority under Candace, queen of the Ethiopians, who was over all her treasure, who had come to Jerusalem to worship.</span>
  <span class="verse" title="Acts 8:28" id="Acts-8-28">He was returning and sitting in his chariot, and was reading the prophet Isaiah.</span>
  <span class="verse" title="Acts 8:29" id="Acts-8-29">The Spirit said to Philip, &#8220;Go near, and join yourself to this chariot.&#8221;</span>
  <span class="verse" title="Acts 8:30" id="Acts-8-30">Philip ran to him, and heard him reading Isaiah the prophet, and said, &#8220;Do you understand what you are reading?&#8221;</span>
  <span class="verse" title="Acts 8:31" id="Acts-8-31">He said, &#8220;How can I, unless someone explains it to me?&#8221; He begged Philip to come up and sit with him.</span>
  <span class="verse" title="Acts 8:32" id="Acts-8-32">Now the passage of the Scripture which he was reading was this,  &#8220;He was led as a sheep to the slaughter.<br/> <span class="indent">&nbsp;&nbsp;</span>As a lamb before his shearer is silent,<br/> <span class="indent">&nbsp;&nbsp;</span>so he doesn&#8217;t open his mouth.<br/></span>
  <span class="verse" title="Acts 8:33" id="Acts-8-33">In his humiliation, his judgment was taken away.<br/> <span class="indent">&nbsp;&nbsp;</span>Who will declare His generation?<br/> <span class="indent">&nbsp;&nbsp;</span>For his life is taken from the earth.&#8221;<br/></span>
  <span class="verse" title="Acts 8:34" id="Acts-8-34">The eunuch answered Philip, &#8220;Who is the prophet talking about? About himself, or about someone else?&#8221;</span>
  <span class="verse" title="Acts 8:35" id="Acts-8-35">Philip opened his mouth, and beginning from this Scripture, preached to him Jesus.</span>
  <span class="verse" title="Acts 8:36" id="Acts-8-36">As they went on the way, they came to some water, and the eunuch said, &#8220;Behold, here is water. What is keeping me from being baptized?&#8221;</span>
  <span class="verse" title="Acts 8:38" id="Acts-8-38">He commanded the chariot to stand still, and they both went down into the water, both Philip and the eunuch, and he baptized him.</span>
  <span class="verse" title="Acts 8:39" id="Acts-8-39">When they came up out of the water, the Spirit of the Lord caught Philip away, and the eunuch didn&#8217;t see him any more, for he went on his way rejoicing.</span>
  <span class="verse" title="Acts 8:40" id="Acts-8-40">But Philip was found at Azotus. Passing through, he preached the Good News to all the cities, until he came to Caesarea.</span>
</div>