<div class="chapter" id="Acts-009">
  <h2>Acts 9</h2>
  <span class="verse" title="Acts 9:1" id="Acts-9-1">But Saul, still breathing threats and slaughter against the disciples of the Lord, went to the high priest,</span>
  <span class="verse" title="Acts 9:2" id="Acts-9-2">and asked for letters from him to the synagogues of Damascus, that if he found any who were of the Way, whether men or women, he might bring them bound to Jerusalem.</span>
  <span class="verse" title="Acts 9:3" id="Acts-9-3">As he traveled, it happened that he got close to Damascus, and suddenly a light from the sky shone around him.</span>
  <span class="verse" title="Acts 9:4" id="Acts-9-4">He fell on the earth, and heard a voice saying to him, &#8220;Saul, Saul, why do you persecute me?&#8221;</span>
  <span class="verse" title="Acts 9:5" id="Acts-9-5">He said, &#8220;Who are you, Lord?&#8221; The Lord said, &#8220;I am Jesus, whom you are persecuting.</span>
  <span class="verse" title="Acts 9:6" id="Acts-9-6">But rise up, and enter into the city, and you will be told what you must do.&#8221;</span>
  <span class="verse" title="Acts 9:7" id="Acts-9-7">The men who traveled with him stood speechless, hearing the sound, but seeing no one.</span>
  <span class="verse" title="Acts 9:8" id="Acts-9-8">Saul arose from the ground, and when his eyes were opened, he saw no one. They led him by the hand, and brought him into Damascus.</span>
  <span class="verse" title="Acts 9:9" id="Acts-9-9">He was without sight for three days, and neither ate nor drank.</span>
  <span class="verse" title="Acts 9:10" id="Acts-9-10">Now there was a certain disciple at Damascus named Ananias. The Lord said to him in a vision, &#8220;Ananias!&#8221; He said, &#8220;Behold, it&#8217;s me, Lord.&#8221;</span>
  <span class="verse" title="Acts 9:11" id="Acts-9-11">The Lord said to him, &#8220;Arise, and go to the street which is called Straight, and inquire in the house of Judah for one named Saul, a man of Tarsus. For behold, he is praying,</span>
  <span class="verse" title="Acts 9:12" id="Acts-9-12">and in a vision he has seen a man named Ananias coming in, and laying his hands on him, that he might receive his sight.&#8221;</span>
  <span class="verse" title="Acts 9:13" id="Acts-9-13">But Ananias answered, &#8220;Lord, I have heard from many about this man, how much evil he did to your saints at Jerusalem.</span>
  <span class="verse" title="Acts 9:14" id="Acts-9-14">Here he has authority from the chief priests to bind all who call on your name.&#8221;</span>
  <span class="verse" title="Acts 9:15" id="Acts-9-15">But the Lord said to him, &#8220;Go your way, for he is my chosen vessel to bear my name before the nations and kings, and the children of Israel.</span>
  <span class="verse" title="Acts 9:16" id="Acts-9-16">For I will show him how many things he must suffer for my name&#8217;s sake.&#8221;</span>
  <span class="verse" title="Acts 9:17" id="Acts-9-17">Ananias departed, and entered into the house. Laying his hands on him, he said, &#8220;Brother Saul, the Lord, who appeared to you on the road by which you came, has sent me, that you may receive your sight, and be filled with the Holy Spirit.&#8221;</span>
  <span class="verse" title="Acts 9:18" id="Acts-9-18">Immediately something like scales fell from his eyes, and he received his sight. He arose and was baptized.</span>
  <span class="verse" title="Acts 9:19" id="Acts-9-19">He took food and was strengthened. Saul stayed several days with the disciples who were at Damascus.</span>
  <span class="verse" title="Acts 9:20" id="Acts-9-20">Immediately in the synagogues he proclaimed the Christ, that he is the Son of God.</span>
  <span class="verse" title="Acts 9:21" id="Acts-9-21">All who heard him were amazed, and said, &#8220;Isn&#8217;t this he who in Jerusalem made havoc of those who called on this name? And he had come here intending to bring them bound before the chief priests!&#8221;</span>
  <span class="verse" title="Acts 9:22" id="Acts-9-22">But Saul increased more in strength, and confounded the Jews who lived at Damascus, proving that this is the Christ.</span>
  <span class="verse" title="Acts 9:23" id="Acts-9-23">When many days were fulfilled, the Jews conspired together to kill him,</span>
  <span class="verse" title="Acts 9:24" id="Acts-9-24">but their plot became known to Saul. They watched the gates both day and night that they might kill him,</span>
  <span class="verse" title="Acts 9:25" id="Acts-9-25">but his disciples took him by night, and let him down through the wall, lowering him in a basket.</span>
  <span class="verse" title="Acts 9:26" id="Acts-9-26">When Saul had come to Jerusalem, he tried to join himself to the disciples; but they were all afraid of him, not believing that he was a disciple.</span>
  <span class="verse" title="Acts 9:27" id="Acts-9-27">But Barnabas took him, and brought him to the apostles, and declared to them how he had seen the Lord in the way, and that he had spoken to him, and how at Damascus he had preached boldly in the name of Jesus.</span>
  <span class="verse" title="Acts 9:28" id="Acts-9-28">He was with them entering into Jerusalem,</span>
  <span class="verse" title="Acts 9:29" id="Acts-9-29">preaching boldly in the name of the Lord Jesus. He spoke and disputed against the Hellenists, but they were seeking to kill him.</span>
  <span class="verse" title="Acts 9:30" id="Acts-9-30">When the brothers knew it, they brought him down to Caesarea, and sent him off to Tarsus.</span>
  <span class="verse" title="Acts 9:31" id="Acts-9-31">So the assemblies throughout all Judea and Galilee and Samaria had peace, and were built up. They were multiplied, walking in the fear of the Lord and in the comfort of the Holy Spirit.</span>
  <span class="verse" title="Acts 9:32" id="Acts-9-32">It happened, as Peter went throughout all those parts, he came down also to the saints who lived at Lydda.</span>
  <span class="verse" title="Acts 9:33" id="Acts-9-33">There he found a certain man named Aeneas, who had been bedridden for eight years, because he was paralyzed.</span>
  <span class="verse" title="Acts 9:34" id="Acts-9-34">Peter said to him, &#8220;Aeneas, Jesus Christ heals you. Get up and make your bed!&#8221; Immediately he arose.</span>
  <span class="verse" title="Acts 9:35" id="Acts-9-35">All who lived at Lydda and in Sharon saw him, and they turned to the Lord.</span>
  <span class="verse" title="Acts 9:36" id="Acts-9-36">Now there was at Joppa a certain disciple named Tabitha, which when translated, means Dorcas. This woman was full of good works and acts of mercy which she did.</span>
  <span class="verse" title="Acts 9:37" id="Acts-9-37">It happened in those days that she fell sick, and died. When they had washed her, they laid her in an upper room.</span>
  <span class="verse" title="Acts 9:38" id="Acts-9-38">As Lydda was near Joppa, the disciples, hearing that Peter was there, sent two men to him, imploring him not to delay in coming to them.</span>
  <span class="verse" title="Acts 9:39" id="Acts-9-39">Peter got up and went with them. When he had come, they brought him into the upper room. All the widows stood by him weeping, and showing the coats and garments which Dorcas had made while she was with them.</span>
  <span class="verse" title="Acts 9:40" id="Acts-9-40">Peter put them all out, and kneeled down and prayed. Turning to the body, he said, &#8220;Tabitha, get up!&#8221; She opened her eyes, and when she saw Peter, she sat up.</span>
  <span class="verse" title="Acts 9:41" id="Acts-9-41">He gave her his hand, and raised her up. Calling the saints and widows, he presented her alive.</span>
  <span class="verse" title="Acts 9:42" id="Acts-9-42">And it became known throughout all Joppa, and many believed in the Lord.</span>
  <span class="verse" title="Acts 9:43" id="Acts-9-43">It happened, that he stayed many days in Joppa with one Simon, a tanner.</span>
</div>