<div class="chapter" id="Acts-010">
  <h2>Acts 10</h2>
  <span class="verse" title="Acts 10:1" id="Acts-10-1">Now there was a certain man in Caesarea, Cornelius by name, a centurion of what was called the Italian Regiment,</span>
  <span class="verse" title="Acts 10:2" id="Acts-10-2">a devout man, and one who feared God with all his house, who gave gifts for the needy generously to the people, and always prayed to God.</span>
  <span class="verse" title="Acts 10:3" id="Acts-10-3">At about the ninth hour of the day, he clearly saw in a vision an angel of God coming to him, and saying to him, &#8220;Cornelius!&#8221;</span>
  <span class="verse" title="Acts 10:4" id="Acts-10-4">He, fastening his eyes on him, and being frightened, said, &#8220;What is it, Lord?&#8221; He said to him, &#8220;Your prayers and your gifts to the needy have gone up for a memorial before God.</span>
  <span class="verse" title="Acts 10:5" id="Acts-10-5">Now send men to Joppa, and get Simon, who is surnamed Peter.</span>
  <span class="verse" title="Acts 10:6" id="Acts-10-6">He lodges with one Simon, a tanner, whose house is by the seaside.&#8221;</span>
  <span class="verse" title="Acts 10:7" id="Acts-10-7">When the angel who spoke to him had departed, Cornelius called two of his household servants and a devout soldier of those who waited on him continually.</span>
  <span class="verse" title="Acts 10:8" id="Acts-10-8">Having explained everything to them, he sent them to Joppa.</span>
  <span class="verse" title="Acts 10:9" id="Acts-10-9">Now on the next day as they were on their journey, and got close to the city, Peter went up on the housetop to pray at about noon.</span>
  <span class="verse" title="Acts 10:10" id="Acts-10-10">He became hungry and desired to eat, but while they were preparing, he fell into a trance.</span>
  <span class="verse" title="Acts 10:11" id="Acts-10-11">He saw heaven opened and a certain container descending to him, like a great sheet let down by four corners on the earth,</span>
  <span class="verse" title="Acts 10:12" id="Acts-10-12">in which were all kinds of four-footed animals of the earth, wild animals, reptiles, and birds of the sky.</span>
  <span class="verse" title="Acts 10:13" id="Acts-10-13">A voice came to him, &#8220;Rise, Peter, kill and eat!&#8221;</span>
  <span class="verse" title="Acts 10:14" id="Acts-10-14">But Peter said, &#8220;Not so, Lord; for I have never eaten anything that is common or unclean.&#8221;</span>
  <span class="verse" title="Acts 10:15" id="Acts-10-15">A voice came to him again the second time, &#8220;What God has cleansed, you must not call unclean.&#8221;</span>
  <span class="verse" title="Acts 10:16" id="Acts-10-16">This was done three times, and immediately the vessel was received up into heaven.</span>
  <span class="verse" title="Acts 10:17" id="Acts-10-17">Now while Peter was very perplexed in himself what the vision which he had seen might mean, behold, the men who were sent by Cornelius, having made inquiry for Simon&#8217;s house, stood before the gate,</span>
  <span class="verse" title="Acts 10:18" id="Acts-10-18">and called and asked whether Simon, who was surnamed Peter, was lodging there.</span>
  <span class="verse" title="Acts 10:19" id="Acts-10-19">While Peter was pondering the vision, the Spirit said to him, &#8220;Behold, three men seek you.</span>
  <span class="verse" title="Acts 10:20" id="Acts-10-20">But arise, get down, and go with them, doubting nothing; for I have sent them.&#8221;</span>
  <span class="verse" title="Acts 10:21" id="Acts-10-21">Peter went down to the men, and said, &#8220;Behold, I am he whom you seek. Why have you come?&#8221;</span>
  <span class="verse" title="Acts 10:22" id="Acts-10-22">They said, &#8220;Cornelius, a centurion, a righteous man and one who fears God, and well spoken of by all the nation of the Jews, was directed by a holy angel to invite you to his house, and to listen to what you say.&#8221;</span>
  <span class="verse" title="Acts 10:23" id="Acts-10-23">So he called them in and lodged them. On the next day Peter arose and went out with them, and some of the brothers from Joppa accompanied him.</span>
  <span class="verse" title="Acts 10:24" id="Acts-10-24">On the next day they entered into Caesarea. Cornelius was waiting for them, having called together his relatives and his near friends.</span>
  <span class="verse" title="Acts 10:25" id="Acts-10-25">When it happened that Peter entered, Cornelius met him, fell down at his feet, and worshiped him.</span>
  <span class="verse" title="Acts 10:26" id="Acts-10-26">But Peter raised him up, saying, &#8220;Stand up! I myself am also a man.&#8221;</span>
  <span class="verse" title="Acts 10:27" id="Acts-10-27">As he talked with him, he went in and found many gathered together.</span>
  <span class="verse" title="Acts 10:28" id="Acts-10-28">He said to them, &#8220;You yourselves know how it is an unlawful thing for a man who is a Jew to join himself or come to one of another nation, but God has shown me that I shouldn&#8217;t call any man unholy or unclean.</span>
  <span class="verse" title="Acts 10:29" id="Acts-10-29">Therefore also I came without complaint when I was sent for. I ask therefore, why did you send for me?&#8221;</span>
  <span class="verse" title="Acts 10:30" id="Acts-10-30">Cornelius said, &#8220;Four days ago, I was fasting until this hour, and at the ninth hour, I prayed in my house, and behold, a man stood before me in bright clothing,</span>
  <span class="verse" title="Acts 10:31" id="Acts-10-31">and said, &#8216;Cornelius, your prayer is heard, and your gifts to the needy are remembered in the sight of God.</span>
  <span class="verse" title="Acts 10:32" id="Acts-10-32">Send therefore to Joppa, and summon Simon, who is surnamed Peter. He lodges in the house of Simon a tanner, by the seaside. When he comes, he will speak to you.&#8217;</span>
  <span class="verse" title="Acts 10:33" id="Acts-10-33">Therefore I sent to you at once, and it was good of you to come. Now therefore we are all here present in the sight of God to hear all things that have been commanded you by God.&#8221;</span>
  <span class="verse" title="Acts 10:34" id="Acts-10-34">Peter opened his mouth and said, &#8220;Truly I perceive that God doesn&#8217;t show favoritism;</span>
  <span class="verse" title="Acts 10:35" id="Acts-10-35">but in every nation he who fears him and works righteousness is acceptable to him.</span>
  <span class="verse" title="Acts 10:36" id="Acts-10-36">The word which he sent to the children of Israel, preaching good news of peace by Jesus Christ—he is Lord of all—</span>
  <span class="verse" title="Acts 10:37" id="Acts-10-37">you yourselves know what happened, which was proclaimed throughout all Judea, beginning from Galilee, after the baptism which John preached;</span>
  <span class="verse" title="Acts 10:38" id="Acts-10-38">even Jesus of Nazareth, how God anointed him with the Holy Spirit and with power, who went about doing good and healing all who were oppressed by the devil, for God was with him.</span>
  <span class="verse" title="Acts 10:39" id="Acts-10-39">We are witnesses of everything he did both in the country of the Jews, and in Jerusalem; whom they also killed, hanging him on a tree.</span>
  <span class="verse" title="Acts 10:40" id="Acts-10-40">God raised him up the third day, and gave him to be revealed,</span>
  <span class="verse" title="Acts 10:41" id="Acts-10-41">not to all the people, but to witnesses who were chosen before by God, to us, who ate and drank with him after he rose from the dead.</span>
  <span class="verse" title="Acts 10:42" id="Acts-10-42">He commanded us to preach to the people and to testify that this is he who is appointed by God as the Judge of the living and the dead.</span>
  <span class="verse" title="Acts 10:43" id="Acts-10-43">All the prophets testify about him, that through his name everyone who believes in him will receive remission of sins.&#8221;</span>
  <span class="verse" title="Acts 10:44" id="Acts-10-44">While Peter was still speaking these words, the Holy Spirit fell on all those who heard the word.</span>
  <span class="verse" title="Acts 10:45" id="Acts-10-45">They of the circumcision who believed were amazed, as many as came with Peter, because the gift of the Holy Spirit was also poured out on the Gentiles.</span>
  <span class="verse" title="Acts 10:46" id="Acts-10-46">For they heard them speaking in other languages and magnifying God. Then Peter answered,</span>
  <span class="verse" title="Acts 10:47" id="Acts-10-47">&#8220;Can any man forbid the water, that these who have received the Holy Spirit as well as we should not be baptized?&#8221;</span>
  <span class="verse" title="Acts 10:48" id="Acts-10-48">He commanded them to be baptized in the name of Jesus Christ. Then they asked him to stay some days.</span>
</div>