<div class="chapter" id="Acts-011">
  <h2>Acts 11</h2>
  <span class="verse" title="Acts 11:1" id="Acts-11-1">Now the apostles and the brothers who were in Judea heard that the Gentiles had also received the word of God.</span>
  <span class="verse" title="Acts 11:2" id="Acts-11-2">When Peter had come up to Jerusalem, those who were of the circumcision contended with him,</span>
  <span class="verse" title="Acts 11:3" id="Acts-11-3">saying, &#8220;You went in to uncircumcised men, and ate with them!&#8221;</span>
  <span class="verse" title="Acts 11:4" id="Acts-11-4">But Peter began, and explained to them in order, saying,</span>
  <span class="verse" title="Acts 11:5" id="Acts-11-5">&#8220;I was in the city of Joppa praying, and in a trance I saw a vision: a certain container descending, like it was a great sheet let down from heaven by four corners. It came as far as me.</span>
  <span class="verse" title="Acts 11:6" id="Acts-11-6">When I had looked intently at it, I considered, and saw the four-footed animals of the earth, wild animals, creeping things, and birds of the sky.</span>
  <span class="verse" title="Acts 11:7" id="Acts-11-7">I also heard a voice saying to me, &#8216;Rise, Peter, kill and eat!&#8217;</span>
  <span class="verse" title="Acts 11:8" id="Acts-11-8">But I said, &#8216;Not so, Lord, for nothing unholy or unclean has ever entered into my mouth.&#8217;</span>
  <span class="verse" title="Acts 11:9" id="Acts-11-9">But a voice answered me the second time out of heaven, &#8216;What God has cleansed, don&#8217;t you call unclean.&#8217;</span>
  <span class="verse" title="Acts 11:10" id="Acts-11-10">This was done three times, and all were drawn up again into heaven.</span>
  <span class="verse" title="Acts 11:11" id="Acts-11-11">Behold, immediately three men stood before the house where I was, having been sent from Caesarea to me.</span>
  <span class="verse" title="Acts 11:12" id="Acts-11-12">The Spirit told me to go with them, without discriminating. These six brothers also accompanied me, and we entered into the man&#8217;s house.</span>
  <span class="verse" title="Acts 11:13" id="Acts-11-13">He told us how he had seen the angel standing in his house, and saying to him, &#8216;Send to Joppa, and get Simon, whose surname is Peter,</span>
  <span class="verse" title="Acts 11:14" id="Acts-11-14">who will speak to you words by which you will be saved, you and all your house.&#8217;</span>
  <span class="verse" title="Acts 11:15" id="Acts-11-15">As I began to speak, the Holy Spirit fell on them, even as on us at the beginning.</span>
  <span class="verse" title="Acts 11:16" id="Acts-11-16">I remembered the word of the Lord, how he said, &#8216;John indeed baptized in water, but you will be baptized in the Holy Spirit.&#8217;</span>
  <span class="verse" title="Acts 11:17" id="Acts-11-17">If then God gave to them the same gift as us, when we believed in the Lord Jesus Christ, who was I, that I could withstand God?&#8221;</span>
  <span class="verse" title="Acts 11:18" id="Acts-11-18">When they heard these things, they held their peace, and glorified God, saying, &#8220;Then God has also granted to the Gentiles repentance to life!&#8221;</span>
  <span class="verse" title="Acts 11:19" id="Acts-11-19">They therefore who were scattered abroad by the oppression that arose about Stephen traveled as far as Phoenicia, Cyprus, and Antioch, speaking the word to no one except to Jews only.</span>
  <span class="verse" title="Acts 11:20" id="Acts-11-20">But there were some of them, men of Cyprus and Cyrene, who, when they had come to Antioch, spoke to the Hellenists, preaching the Lord Jesus.</span>
  <span class="verse" title="Acts 11:21" id="Acts-11-21">The hand of the Lord was with them, and a great number believed and turned to the Lord.</span>
  <span class="verse" title="Acts 11:22" id="Acts-11-22">The report concerning them came to the ears of the assembly which was in Jerusalem. They sent out Barnabas to go as far as Antioch,</span>
  <span class="verse" title="Acts 11:23" id="Acts-11-23">who, when he had come, and had seen the grace of God, was glad. He exhorted them all, that with purpose of heart they should remain near to the Lord.</span>
  <span class="verse" title="Acts 11:24" id="Acts-11-24">For he was a good man, and full of the Holy Spirit and of faith, and many people were added to the Lord.</span>
  <span class="verse" title="Acts 11:25" id="Acts-11-25">Barnabas went out to Tarsus to look for Saul.</span>
  <span class="verse" title="Acts 11:26" id="Acts-11-26">When he had found him, he brought him to Antioch. It happened, that for a whole year they were gathered together with the assembly, and taught many people. The disciples were first called Christians in Antioch.</span>
  <span class="verse" title="Acts 11:27" id="Acts-11-27">Now in these days, prophets came down from Jerusalem to Antioch.</span>
  <span class="verse" title="Acts 11:28" id="Acts-11-28">One of them named Agabus stood up, and indicated by the Spirit that there should be a great famine all over the world, which also happened in the days of Claudius.</span>
  <span class="verse" title="Acts 11:29" id="Acts-11-29">As any of the disciples had plenty, each determined to send relief to the brothers who lived in Judea;</span>
  <span class="verse" title="Acts 11:30" id="Acts-11-30">which they also did, sending it to the elders by the hands of Barnabas and Saul.</span>
</div>