<div class="chapter" id="Acts-012">
  <h2>Acts 12</h2>
  <span class="verse" title="Acts 12:1" id="Acts-12-1">Now about that time, King Herod stretched out his hands to oppress some of the assembly.</span>
  <span class="verse" title="Acts 12:2" id="Acts-12-2">He killed James, the brother of John, with the sword.</span>
  <span class="verse" title="Acts 12:3" id="Acts-12-3">When he saw that it pleased the Jews, he proceeded to seize Peter also. This was during the days of unleavened bread.</span>
  <span class="verse" title="Acts 12:4" id="Acts-12-4">When he had arrested him, he put him in prison, and delivered him to four squads of four soldiers each to guard him, intending to bring him out to the people after the Passover.</span>
  <span class="verse" title="Acts 12:5" id="Acts-12-5">Peter therefore was kept in the prison, but constant prayer was made by the assembly to God for him.</span>
  <span class="verse" title="Acts 12:6" id="Acts-12-6">The same night when Herod was about to bring him out, Peter was sleeping between two soldiers, bound with two chains. Guards in front of the door kept the prison.</span>
  <span class="verse" title="Acts 12:7" id="Acts-12-7">And behold, an angel of the Lord stood by him, and a light shone in the cell. He struck Peter on the side, and woke him up, saying, &#8220;Stand up quickly!&#8221; His chains fell off from his hands.</span>
  <span class="verse" title="Acts 12:8" id="Acts-12-8">The angel said to him, &#8220;Get dressed and put on your sandals.&#8221; He did so. He said to him, &#8220;Put on your cloak, and follow me.&#8221;</span>
  <span class="verse" title="Acts 12:9" id="Acts-12-9">And he went out and followed him. He didn&#8217;t know that what was being done by the angel was real, but thought he saw a vision.</span>
  <span class="verse" title="Acts 12:10" id="Acts-12-10">When they were past the first and the second guard, they came to the iron gate that leads into the city, which opened to them by itself. They went out, and went down one street, and immediately the angel departed from him.</span>
  <span class="verse" title="Acts 12:11" id="Acts-12-11">When Peter had come to himself, he said, &#8220;Now I truly know that the Lord has sent out his angel and delivered me out of the hand of Herod, and from everything the Jewish people were expecting.&#8221;</span>
  <span class="verse" title="Acts 12:12" id="Acts-12-12">Thinking about that, he came to the house of Mary, the mother of John whose surname was Mark, where many were gathered together and were praying.</span>
  <span class="verse" title="Acts 12:13" id="Acts-12-13">When Peter knocked at the door of the gate, a maid named Rhoda came to answer.</span>
  <span class="verse" title="Acts 12:14" id="Acts-12-14">When she recognized Peter&#8217;s voice, she didn&#8217;t open the gate for joy, but ran in, and reported that Peter was standing in front of the gate.</span>
  <span class="verse" title="Acts 12:15" id="Acts-12-15">They said to her, &#8220;You are crazy!&#8221; But she insisted that it was so. They said, &#8220;It is his angel.&#8221;</span>
  <span class="verse" title="Acts 12:16" id="Acts-12-16">But Peter continued knocking. When they had opened, they saw him, and were amazed.</span>
  <span class="verse" title="Acts 12:17" id="Acts-12-17">But he, beckoning to them with his hand to be silent, declared to them how the Lord had brought him out of the prison. He said, &#8220;Tell these things to James, and to the brothers.&#8221; Then he departed, and went to another place.</span>
  <span class="verse" title="Acts 12:18" id="Acts-12-18">Now as soon as it was day, there was no small stir among the soldiers about what had become of Peter.</span>
  <span class="verse" title="Acts 12:19" id="Acts-12-19">When Herod had sought for him, and didn&#8217;t find him, he examined the guards, and commanded that they should be put to death. He went down from Judea to Caesarea, and stayed there.</span>
  <span class="verse" title="Acts 12:20" id="Acts-12-20">Now Herod was very angry with the people of Tyre and Sidon. They came with one accord to him, and, having made Blastus, the king&#8217;s personal aide, their friend, they asked for peace, because their country depended on the king&#8217;s country for food.</span>
  <span class="verse" title="Acts 12:21" id="Acts-12-21">On an appointed day, Herod dressed himself in royal clothing, sat on the throne, and gave a speech to them.</span>
  <span class="verse" title="Acts 12:22" id="Acts-12-22">The people shouted, &#8220;The voice of a god, and not of a man!&#8221;</span>
  <span class="verse" title="Acts 12:23" id="Acts-12-23">Immediately an angel of the Lord struck him, because he didn&#8217;t give God the glory, and he was eaten by worms and died.</span>
  <span class="verse" title="Acts 12:24" id="Acts-12-24">But the word of God grew and multiplied.</span>
  <span class="verse" title="Acts 12:25" id="Acts-12-25">Barnabas and Saul returned to Jerusalem, when they had fulfilled their service, also taking with them John whose surname was Mark.</span>
</div>