<div class="chapter" id="Acts-013">
  <h2>Acts 13</h2>
  <span class="verse" title="Acts 13:1" id="Acts-13-1">Now in the assembly that was at Antioch there were some prophets and teachers: Barnabas, Simeon who was called Niger, Lucius of Cyrene, Manaen the foster brother of Herod the tetrarch, and Saul.</span>
  <span class="verse" title="Acts 13:2" id="Acts-13-2">As they served the Lord and fasted, the Holy Spirit said, &#8220;Separate Barnabas and Saul for me, for the work to which I have called them.&#8221;</span>
  <span class="verse" title="Acts 13:3" id="Acts-13-3">Then, when they had fasted and prayed and laid their hands on them, they sent them away.</span>
  <span class="verse" title="Acts 13:4" id="Acts-13-4">So, being sent out by the Holy Spirit, they went down to Seleucia. From there they sailed to Cyprus.</span>
  <span class="verse" title="Acts 13:5" id="Acts-13-5">When they were at Salamis, they proclaimed the word of God in the Jewish synagogues. They had also John as their attendant.</span>
  <span class="verse" title="Acts 13:6" id="Acts-13-6">When they had gone through the island to Paphos, they found a certain sorcerer, a false prophet, a Jew, whose name was Bar Jesus,</span>
  <span class="verse" title="Acts 13:7" id="Acts-13-7">who was with the proconsul, Sergius Paulus, a man of understanding. This man summoned Barnabas and Saul, and sought to hear the word of God.</span>
  <span class="verse" title="Acts 13:8" id="Acts-13-8">But Elymas the sorcerer (for so is his name by interpretation) withstood them, seeking to turn aside the proconsul from the faith.</span>
  <span class="verse" title="Acts 13:9" id="Acts-13-9">But Saul, who is also called Paul, filled with the Holy Spirit, fastened his eyes on him,</span>
  <span class="verse" title="Acts 13:10" id="Acts-13-10">and said, &#8220;Full of all deceit and all cunning, you son of the devil, you enemy of all righteousness, will you not cease to pervert the right ways of the Lord?</span>
  <span class="verse" title="Acts 13:11" id="Acts-13-11">Now, behold, the hand of the Lord is on you, and you will be blind, not seeing the sun for a season!&#8221; Immediately a mist and darkness fell on him. He went around seeking someone to lead him by the hand.</span>
  <span class="verse" title="Acts 13:12" id="Acts-13-12">Then the proconsul, when he saw what was done, believed, being astonished at the teaching of the Lord.</span>
  <span class="verse" title="Acts 13:13" id="Acts-13-13">Now Paul and his company set sail from Paphos, and came to Perga in Pamphylia. John departed from them and returned to Jerusalem.</span>
  <span class="verse" title="Acts 13:14" id="Acts-13-14">But they, passing on from Perga, came to Antioch of Pisidia. They went into the synagogue on the Sabbath day, and sat down.</span>
  <span class="verse" title="Acts 13:15" id="Acts-13-15">After the reading of the law and the prophets, the rulers of the synagogue sent to them, saying, &#8220;Brothers, if you have any word of exhortation for the people, speak.&#8221;</span>
  <span class="verse" title="Acts 13:16" id="Acts-13-16">Paul stood up, and beckoning with his hand said, &#8220;Men of Israel, and you who fear God, listen.</span>
  <span class="verse" title="Acts 13:17" id="Acts-13-17">The God of this people chose our fathers, and exalted the people when they stayed as aliens in the land of Egypt, and with an uplifted arm, he led them out of it.</span>
  <span class="verse" title="Acts 13:18" id="Acts-13-18">For a period of about forty years he put up with them in the wilderness.</span>
  <span class="verse" title="Acts 13:19" id="Acts-13-19">When he had destroyed seven nations in the land of Canaan, he gave them their land for an inheritance, for about four hundred fifty years.</span>
  <span class="verse" title="Acts 13:20" id="Acts-13-20">After these things he gave them judges until Samuel the prophet.</span>
  <span class="verse" title="Acts 13:21" id="Acts-13-21">Afterward they asked for a king, and God gave to them Saul the son of Kish, a man of the tribe of Benjamin, for forty years.</span>
  <span class="verse" title="Acts 13:22" id="Acts-13-22">When he had removed him, he raised up David to be their king, to whom he also testified, &#8216;I have found David the son of Jesse, a man after my heart, who will do all my will.&#8217;</span>
  <span class="verse" title="Acts 13:23" id="Acts-13-23">From this man&#8217;s seed, God has brought salvation to Israel according to his promise,</span>
  <span class="verse" title="Acts 13:24" id="Acts-13-24">before his coming, when John had first preached the baptism of repentance to Israel.</span>
  <span class="verse" title="Acts 13:25" id="Acts-13-25">As John was fulfilling his course, he said, &#8216;What do you suppose that I am? I am not he. But behold, one comes after me the sandals of whose feet I am not worthy to untie.&#8217;</span>
  <span class="verse" title="Acts 13:26" id="Acts-13-26">Brothers, children of the stock of Abraham, and those among you who fear God, the word of this salvation is sent out to you.</span>
  <span class="verse" title="Acts 13:27" id="Acts-13-27">For those who dwell in Jerusalem, and their rulers, because they didn&#8217;t know him, nor the voices of the prophets which are read every Sabbath, fulfilled them by condemning him.</span>
  <span class="verse" title="Acts 13:28" id="Acts-13-28">Though they found no cause for death, they still asked Pilate to have him killed.</span>
  <span class="verse" title="Acts 13:29" id="Acts-13-29">When they had fulfilled all things that were written about him, they took him down from the tree, and laid him in a tomb.</span>
  <span class="verse" title="Acts 13:30" id="Acts-13-30">But God raised him from the dead,</span>
  <span class="verse" title="Acts 13:31" id="Acts-13-31">and he was seen for many days by those who came up with him from Galilee to Jerusalem, who are his witnesses to the people.</span>
  <span class="verse" title="Acts 13:32" id="Acts-13-32">We bring you good news of the promise made to the fathers,</span>
  <span class="verse" title="Acts 13:33" id="Acts-13-33">that God has fulfilled the same to us, their children, in that he raised up Jesus. As it is also written in the second psalm,  &#8216;You are my Son.<br/> <span class="indent">&nbsp;&nbsp;</span>Today I have become your father.&#8217;<br/></span>
  <span class="verse" title="Acts 13:34" id="Acts-13-34">&#8220;Concerning that he raised him up from the dead, now no more to return to corruption, he has spoken thus: &#8216;I will give you the holy and sure blessings of David.&#8217;</span>
  <span class="verse" title="Acts 13:35" id="Acts-13-35">Therefore he says also in another psalm, &#8216;You will not allow your Holy One to see decay.&#8217;</span>
  <span class="verse" title="Acts 13:36" id="Acts-13-36">For David, after he had in his own generation served the counsel of God, fell asleep, and was laid with his fathers, and saw decay.</span>
  <span class="verse" title="Acts 13:37" id="Acts-13-37">But he whom God raised up saw no decay.</span>
  <span class="verse" title="Acts 13:38" id="Acts-13-38">Be it known to you therefore, brothers, that through this man is proclaimed to you remission of sins,</span>
  <span class="verse" title="Acts 13:39" id="Acts-13-39">and by him everyone who believes is justified from all things, from which you could not be justified by the law of Moses.</span>
  <span class="verse" title="Acts 13:40" id="Acts-13-40">Beware therefore, lest that come on you which is spoken in the prophets:</span>
  <span class="verse" title="Acts 13:41" id="Acts-13-41">&#8216;Behold, you scoffers, and wonder, and perish;<br/> <span class="indent">&nbsp;&nbsp;</span>for I work a work in your days,<br/> <span class="indent">&nbsp;&nbsp;</span>a work which you will in no way believe, if one declares it to you.&#8217;&#8221;<br/></span>
  <span class="verse" title="Acts 13:42" id="Acts-13-42">So when the Jews went out of the synagogue, the Gentiles begged that these words might be preached to them the next Sabbath.</span>
  <span class="verse" title="Acts 13:43" id="Acts-13-43">Now when the synagogue broke up, many of the Jews and of the devout proselytes followed Paul and Barnabas; who, speaking to them, urged them to continue in the grace of God.</span>
  <span class="verse" title="Acts 13:44" id="Acts-13-44">The next Sabbath almost the whole city was gathered together to hear the word of God.</span>
  <span class="verse" title="Acts 13:45" id="Acts-13-45">But when the Jews saw the multitudes, they were filled with jealousy, and contradicted the things which were spoken by Paul, and blasphemed.</span>
  <span class="verse" title="Acts 13:46" id="Acts-13-46">Paul and Barnabas spoke out boldly, and said, &#8220;It was necessary that God&#8217;s word should be spoken to you first. Since indeed you thrust it from you, and judge yourselves unworthy of eternal life, behold, we turn to the Gentiles.</span>
  <span class="verse" title="Acts 13:47" id="Acts-13-47">For so has the Lord commanded us, saying,  &#8216;I have set you as a light for the Gentiles,<br/> <span class="indent">&nbsp;&nbsp;</span>that you should bring salvation to the uttermost parts of the earth.&#8217;&#8221;<br/></span>
  <span class="verse" title="Acts 13:48" id="Acts-13-48">As the Gentiles heard this, they were glad, and glorified the word of God. As many as were appointed to eternal life believed.</span>
  <span class="verse" title="Acts 13:49" id="Acts-13-49">The Lord&#8217;s word was spread abroad throughout all the region.</span>
  <span class="verse" title="Acts 13:50" id="Acts-13-50">But the Jews stirred up the devout and prominent women and the chief men of the city, and stirred up a persecution against Paul and Barnabas, and threw them out of their borders.</span>
  <span class="verse" title="Acts 13:51" id="Acts-13-51">But they shook off the dust of their feet against them, and came to Iconium.</span>
  <span class="verse" title="Acts 13:52" id="Acts-13-52">The disciples were filled with joy with the Holy Spirit.</span>
</div>