<div class="chapter" id="Acts-014">
  <h2>Acts 14</h2>
  <span class="verse" title="Acts 14:1" id="Acts-14-1">It happened in Iconium that they entered together into the synagogue of the Jews, and so spoke that a great multitude both of Jews and of Greeks believed.</span>
  <span class="verse" title="Acts 14:2" id="Acts-14-2">But the disbelieving Jews stirred up and embittered the souls of the Gentiles against the brothers.</span>
  <span class="verse" title="Acts 14:3" id="Acts-14-3">Therefore they stayed there a long time, speaking boldly in the Lord, who testified to the word of his grace, granting signs and wonders to be done by their hands.</span>
  <span class="verse" title="Acts 14:4" id="Acts-14-4">But the multitude of the city was divided. Part sided with the Jews, and part with the apostles.</span>
  <span class="verse" title="Acts 14:5" id="Acts-14-5">When some of both the Gentiles and the Jews, with their rulers, made a violent attempt to mistreat and stone them,</span>
  <span class="verse" title="Acts 14:6" id="Acts-14-6">they became aware of it, and fled to the cities of Lycaonia, Lystra, Derbe, and the surrounding region.</span>
  <span class="verse" title="Acts 14:7" id="Acts-14-7">There they preached the Good News.</span>
  <span class="verse" title="Acts 14:8" id="Acts-14-8">At Lystra a certain man sat, impotent in his feet, a cripple from his mother&#8217;s womb, who never had walked.</span>
  <span class="verse" title="Acts 14:9" id="Acts-14-9">He was listening to Paul speaking, who, fastening eyes on him, and seeing that he had faith to be made whole,</span>
  <span class="verse" title="Acts 14:10" id="Acts-14-10">said with a loud voice, &#8220;Stand upright on your feet!&#8221; He leaped up and walked.</span>
  <span class="verse" title="Acts 14:11" id="Acts-14-11">When the multitude saw what Paul had done, they lifted up their voice, saying in the language of Lycaonia, &#8220;The gods have come down to us in the likeness of men!&#8221;</span>
  <span class="verse" title="Acts 14:12" id="Acts-14-12">They called Barnabas &#8220;Jupiter,&#8221; and Paul &#8220;Mercury,&#8221; because he was the chief speaker.</span>
  <span class="verse" title="Acts 14:13" id="Acts-14-13">The priest of Jupiter, whose temple was in front of their city, brought oxen and garlands to the gates, and would have made a sacrifice along with the multitudes.</span>
  <span class="verse" title="Acts 14:14" id="Acts-14-14">But when the apostles, Barnabas and Paul, heard of it, they tore their clothes, and sprang into the multitude, crying out,</span>
  <span class="verse" title="Acts 14:15" id="Acts-14-15">&#8220;Men, why are you doing these things? We also are men of like passions with you, and bring you good news, that you should turn from these vain things to the living God, who made the sky and the earth and the sea, and all that is in them;</span>
  <span class="verse" title="Acts 14:16" id="Acts-14-16">who in the generations gone by allowed all the nations to walk in their own ways.</span>
  <span class="verse" title="Acts 14:17" id="Acts-14-17">Yet he didn&#8217;t leave himself without witness, in that he did good and gave you rains from the sky and fruitful seasons, filling our hearts with food and gladness.&#8221;</span>
  <span class="verse" title="Acts 14:18" id="Acts-14-18">Even saying these things, they hardly stopped the multitudes from making a sacrifice to them.</span>
  <span class="verse" title="Acts 14:19" id="Acts-14-19">But some Jews from Antioch and Iconium came there, and having persuaded the multitudes, they stoned Paul, and dragged him out of the city, supposing that he was dead.</span>
  <span class="verse" title="Acts 14:20" id="Acts-14-20">But as the disciples stood around him, he rose up, and entered into the city. On the next day he went out with Barnabas to Derbe.</span>
  <span class="verse" title="Acts 14:21" id="Acts-14-21">When they had preached the Good News to that city, and had made many disciples, they returned to Lystra, Iconium, and Antioch,</span>
  <span class="verse" title="Acts 14:22" id="Acts-14-22">confirming the souls of the disciples, exhorting them to continue in the faith, and that through many afflictions we must enter into the Kingdom of God.</span>
  <span class="verse" title="Acts 14:23" id="Acts-14-23">When they had appointed elders for them in every assembly, and had prayed with fasting, they commended them to the Lord, on whom they had believed.</span>
  <span class="verse" title="Acts 14:24" id="Acts-14-24">They passed through Pisidia, and came to Pamphylia.</span>
  <span class="verse" title="Acts 14:25" id="Acts-14-25">When they had spoken the word in Perga, they went down to Attalia.</span>
  <span class="verse" title="Acts 14:26" id="Acts-14-26">From there they sailed to Antioch, from where they had been committed to the grace of God for the work which they had fulfilled.</span>
  <span class="verse" title="Acts 14:27" id="Acts-14-27">When they had arrived, and had gathered the assembly together, they reported all the things that God had done with them, and that he had opened a door of faith to the nations.</span>
  <span class="verse" title="Acts 14:28" id="Acts-14-28">They stayed there with the disciples for a long time.</span>
</div>