<div class="chapter" id="Acts-015">
  <h2>Acts 15</h2>
  <span class="verse" title="Acts 15:1" id="Acts-15-1">Some men came down from Judea and taught the brothers, &#8220;Unless you are circumcised after the custom of Moses, you can&#8217;t be saved.&#8221;</span>
  <span class="verse" title="Acts 15:2" id="Acts-15-2">Therefore when Paul and Barnabas had no small discord and discussion with them, they appointed Paul and Barnabas, and some others of them, to go up to Jerusalem to the apostles and elders about this question.</span>
  <span class="verse" title="Acts 15:3" id="Acts-15-3">They, being sent on their way by the assembly, passed through both Phoenicia and Samaria, declaring the conversion of the Gentiles. They caused great joy to all the brothers.</span>
  <span class="verse" title="Acts 15:4" id="Acts-15-4">When they had come to Jerusalem, they were received by the assembly and the apostles and the elders, and they reported all things that God had done with them.</span>
  <span class="verse" title="Acts 15:5" id="Acts-15-5">But some of the sect of the Pharisees who believed rose up, saying, &#8220;It is necessary to circumcise them, and to command them to keep the law of Moses.&#8221;</span>
  <span class="verse" title="Acts 15:6" id="Acts-15-6">The apostles and the elders were gathered together to see about this matter.</span>
  <span class="verse" title="Acts 15:7" id="Acts-15-7">When there had been much discussion, Peter rose up and said to them, &#8220;Brothers, you know that a good while ago God made a choice among you, that by my mouth the nations should hear the word of the Good News, and believe.</span>
  <span class="verse" title="Acts 15:8" id="Acts-15-8">God, who knows the heart, testified about them, giving them the Holy Spirit, just like he did to us.</span>
  <span class="verse" title="Acts 15:9" id="Acts-15-9">He made no distinction between us and them, cleansing their hearts by faith.</span>
  <span class="verse" title="Acts 15:10" id="Acts-15-10">Now therefore why do you tempt God, that you should put a yoke on the neck of the disciples which neither our fathers nor we were able to bear?</span>
  <span class="verse" title="Acts 15:11" id="Acts-15-11">But we believe that we are saved through the grace of the Lord Jesus, just as they are.&#8221;</span>
  <span class="verse" title="Acts 15:12" id="Acts-15-12">All the multitude kept silence, and they listened to Barnabas and Paul reporting what signs and wonders God had done among the nations through them.</span>
  <span class="verse" title="Acts 15:13" id="Acts-15-13">After they were silent, James answered, &#8220;Brothers, listen to me.</span>
  <span class="verse" title="Acts 15:14" id="Acts-15-14">Simeon has reported how God first visited the nations, to take out of them a people for his name.</span>
  <span class="verse" title="Acts 15:15" id="Acts-15-15">This agrees with the words of the prophets. As it is written,</span>
  <span class="verse" title="Acts 15:16" id="Acts-15-16">&#8216;After these things I will return.<br/> <span class="indent">&nbsp;&nbsp;</span>I will again build the tabernacle of David, which has fallen.<br/> <span class="indent">&nbsp;&nbsp;</span>I will again build its ruins.<br/>   I will set it up,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Acts 15:17" id="Acts-15-17">That the rest of men may seek after the Lord;<br/> <span class="indent">&nbsp;&nbsp;</span>All the Gentiles who are called by my name,<br/>   Says the Lord, who does all these things.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Acts 15:18" id="Acts-15-18">All his works are known to God from eternity.&#8217;<br/></span>
  <span class="verse" title="Acts 15:19" id="Acts-15-19">&#8220;Therefore my judgment is that we don&#8217;t trouble those from among the Gentiles who turn to God,</span>
  <span class="verse" title="Acts 15:20" id="Acts-15-20">but that we write to them that they abstain from the pollution of idols, from sexual immorality, from what is strangled, and from blood.</span>
  <span class="verse" title="Acts 15:21" id="Acts-15-21">For Moses from generations of old has in every city those who preach him, being read in the synagogues every Sabbath.&#8221;</span>
  <span class="verse" title="Acts 15:22" id="Acts-15-22">Then it seemed good to the apostles and the elders, with the whole assembly, to choose men out of their company, and send them to Antioch with Paul and Barnabas: Judas called Barsabbas, and Silas, chief men among the brothers.</span>
  <span class="verse" title="Acts 15:23" id="Acts-15-23">They wrote these things by their hand: &#8220;The apostles, the elders, and the brothers, to the brothers who are of the Gentiles in Antioch, Syria, and Cilicia: greetings.</span>
  <span class="verse" title="Acts 15:24" id="Acts-15-24">Because we have heard that some who went out from us have troubled you with words, unsettling your souls, saying, &#8216;You must be circumcised and keep the law,&#8217; to whom we gave no commandment;</span>
  <span class="verse" title="Acts 15:25" id="Acts-15-25">it seemed good to us, having come to one accord, to choose out men and send them to you with our beloved Barnabas and Paul,</span>
  <span class="verse" title="Acts 15:26" id="Acts-15-26">men who have risked their lives for the name of our Lord Jesus Christ.</span>
  <span class="verse" title="Acts 15:27" id="Acts-15-27">We have sent therefore Judas and Silas, who themselves will also tell you the same things by word of mouth.</span>
  <span class="verse" title="Acts 15:28" id="Acts-15-28">For it seemed good to the Holy Spirit, and to us, to lay no greater burden on you than these necessary things:</span>
  <span class="verse" title="Acts 15:29" id="Acts-15-29">that you abstain from things sacrificed to idols, from blood, from things strangled, and from sexual immorality, from which if you keep yourselves, it will be well with you. Farewell.&#8221;</span>
  <span class="verse" title="Acts 15:30" id="Acts-15-30">So, when they were sent off, they came to Antioch. Having gathered the multitude together, they delivered the letter.</span>
  <span class="verse" title="Acts 15:31" id="Acts-15-31">When they had read it, they rejoiced over the encouragement.</span>
  <span class="verse" title="Acts 15:32" id="Acts-15-32">Judas and Silas, also being prophets themselves, encouraged the brothers with many words, and strengthened them.</span>
  <span class="verse" title="Acts 15:33" id="Acts-15-33">After they had spent some time there, they were sent back with greetings from the brothers to the apostles.</span>
  <span class="verse" title="Acts 15:35" id="Acts-15-35">But Paul and Barnabas stayed in Antioch, teaching and preaching the word of the Lord, with many others also.</span>
  <span class="verse" title="Acts 15:36" id="Acts-15-36">After some days Paul said to Barnabas, &#8220;Let&#8217;s return now and visit our brothers in every city in which we proclaimed the word of the Lord, to see how they are doing.&#8221;</span>
  <span class="verse" title="Acts 15:37" id="Acts-15-37">Barnabas planned to take John, who was called Mark, with them also.</span>
  <span class="verse" title="Acts 15:38" id="Acts-15-38">But Paul didn&#8217;t think that it was a good idea to take with them someone who had withdrawn from them in Pamphylia, and didn&#8217;t go with them to do the work.</span>
  <span class="verse" title="Acts 15:39" id="Acts-15-39">Then the contention grew so sharp that they separated from each other. Barnabas took Mark with him, and sailed away to Cyprus,</span>
  <span class="verse" title="Acts 15:40" id="Acts-15-40">but Paul chose Silas, and went out, being commended by the brothers to the grace of God.</span>
  <span class="verse" title="Acts 15:41" id="Acts-15-41">He went through Syria and Cilicia, strengthening the assemblies.</span>
</div>