<div class="chapter" id="Acts-016">
  <h2>Acts 16</h2>
  <span class="verse" title="Acts 16:1" id="Acts-16-1">He came to Derbe and Lystra: and behold, a certain disciple was there, named Timothy, the son of a Jewess who believed; but his father was a Greek.</span>
  <span class="verse" title="Acts 16:2" id="Acts-16-2">The brothers who were at Lystra and Iconium gave a good testimony about him.</span>
  <span class="verse" title="Acts 16:3" id="Acts-16-3">Paul wanted to have him go out with him, and he took and circumcised him because of the Jews who were in those parts; for they all knew that his father was a Greek.</span>
  <span class="verse" title="Acts 16:4" id="Acts-16-4">As they went on their way through the cities, they delivered the decrees to them to keep which had been ordained by the apostles and elders who were at Jerusalem.</span>
  <span class="verse" title="Acts 16:5" id="Acts-16-5">So the assemblies were strengthened in the faith, and increased in number daily.</span>
  <span class="verse" title="Acts 16:6" id="Acts-16-6">When they had gone through the region of Phrygia and Galatia, they were forbidden by the Holy Spirit to speak the word in Asia.</span>
  <span class="verse" title="Acts 16:7" id="Acts-16-7">When they had come opposite Mysia, they tried to go into Bithynia, but the Spirit didn&#8217;t allow them.</span>
  <span class="verse" title="Acts 16:8" id="Acts-16-8">Passing by Mysia, they came down to Troas.</span>
  <span class="verse" title="Acts 16:9" id="Acts-16-9">A vision appeared to Paul in the night. There was a man of Macedonia standing, begging him, and saying, &#8220;Come over into Macedonia and help us.&#8221;</span>
  <span class="verse" title="Acts 16:10" id="Acts-16-10">When he had seen the vision, immediately we sought to go out to Macedonia, concluding that the Lord had called us to preach the Good News to them.</span>
  <span class="verse" title="Acts 16:11" id="Acts-16-11">Setting sail therefore from Troas, we made a straight course to Samothrace, and the day following to Neapolis;</span>
  <span class="verse" title="Acts 16:12" id="Acts-16-12">and from there to Philippi, which is a city of Macedonia, the foremost of the district, a Roman colony. We were staying some days in this city.</span>
  <span class="verse" title="Acts 16:13" id="Acts-16-13">On the Sabbath day we went forth outside of the city by a riverside, where we supposed there was a place of prayer, and we sat down, and spoke to the women who had come together.</span>
  <span class="verse" title="Acts 16:14" id="Acts-16-14">A certain woman named Lydia, a seller of purple, of the city of Thyatira, one who worshiped God, heard us; whose heart the Lord opened to listen to the things which were spoken by Paul.</span>
  <span class="verse" title="Acts 16:15" id="Acts-16-15">When she and her household were baptized, she begged us, saying, &#8220;If you have judged me to be faithful to the Lord, come into my house, and stay.&#8221; So she persuaded us.</span>
  <span class="verse" title="Acts 16:16" id="Acts-16-16">It happened, as we were going to prayer, that a certain girl having a spirit of divination met us, who brought her masters much gain by fortune telling.</span>
  <span class="verse" title="Acts 16:17" id="Acts-16-17">Following Paul and us, she cried out, &#8220;These men are servants of the Most High God, who proclaim to us a way of salvation!&#8221;</span>
  <span class="verse" title="Acts 16:18" id="Acts-16-18">She was doing this for many days. But Paul, becoming greatly annoyed, turned and said to the spirit, &#8220;I command you in the name of Jesus Christ to come out of her!&#8221; It came out that very hour.</span>
  <span class="verse" title="Acts 16:19" id="Acts-16-19">But when her masters saw that the hope of their gain was gone, they seized Paul and Silas, and dragged them into the marketplace before the rulers.</span>
  <span class="verse" title="Acts 16:20" id="Acts-16-20">When they had brought them to the magistrates, they said, &#8220;These men, being Jews, are agitating our city,</span>
  <span class="verse" title="Acts 16:21" id="Acts-16-21">and set forth customs which it is not lawful for us to accept or to observe, being Romans.&#8221;</span>
  <span class="verse" title="Acts 16:22" id="Acts-16-22">The multitude rose up together against them, and the magistrates tore their clothes off of them, and commanded them to be beaten with rods.</span>
  <span class="verse" title="Acts 16:23" id="Acts-16-23">When they had laid many stripes on them, they threw them into prison, charging the jailer to keep them safely,</span>
  <span class="verse" title="Acts 16:24" id="Acts-16-24">who, having received such a command, threw them into the inner prison, and secured their feet in the stocks.</span>
  <span class="verse" title="Acts 16:25" id="Acts-16-25">But about midnight Paul and Silas were praying and singing hymns to God, and the prisoners were listening to them.</span>
  <span class="verse" title="Acts 16:26" id="Acts-16-26">Suddenly there was a great earthquake, so that the foundations of the prison were shaken; and immediately all the doors were opened, and everyone&#8217;s bonds were loosened.</span>
  <span class="verse" title="Acts 16:27" id="Acts-16-27">The jailer, being roused out of sleep and seeing the prison doors open, drew his sword and was about to kill himself, supposing that the prisoners had escaped.</span>
  <span class="verse" title="Acts 16:28" id="Acts-16-28">But Paul cried with a loud voice, saying, &#8220;Don&#8217;t harm yourself, for we are all here!&#8221;</span>
  <span class="verse" title="Acts 16:29" id="Acts-16-29">He called for lights and sprang in, and, fell down trembling before Paul and Silas,</span>
  <span class="verse" title="Acts 16:30" id="Acts-16-30">and brought them out and said, &#8220;Sirs, what must I do to be saved?&#8221;</span>
  <span class="verse" title="Acts 16:31" id="Acts-16-31">They said, &#8220;Believe in the Lord Jesus Christ, and you will be saved, you and your household.&#8221;</span>
  <span class="verse" title="Acts 16:32" id="Acts-16-32">They spoke the word of the Lord to him, and to all who were in his house.</span>
  <span class="verse" title="Acts 16:33" id="Acts-16-33">He took them the same hour of the night, and washed their stripes, and was immediately baptized, he and all his household.</span>
  <span class="verse" title="Acts 16:34" id="Acts-16-34">He brought them up into his house, and set food before them, and rejoiced greatly, with all his household, having believed in God.</span>
  <span class="verse" title="Acts 16:35" id="Acts-16-35">But when it was day, the magistrates sent the sergeants, saying, &#8220;Let those men go.&#8221;</span>
  <span class="verse" title="Acts 16:36" id="Acts-16-36">The jailer reported these words to Paul, saying, &#8220;The magistrates have sent to let you go; now therefore come out, and go in peace.&#8221;</span>
  <span class="verse" title="Acts 16:37" id="Acts-16-37">But Paul said to them, &#8220;They have beaten us publicly, without a trial, men who are Romans, and have cast us into prison! Do they now release us secretly? No, most certainly, but let them come themselves and bring us out!&#8221;</span>
  <span class="verse" title="Acts 16:38" id="Acts-16-38">The sergeants reported these words to the magistrates, and they were afraid when they heard that they were Romans,</span>
  <span class="verse" title="Acts 16:39" id="Acts-16-39">and they came and begged them. When they had brought them out, they asked them to depart from the city.</span>
  <span class="verse" title="Acts 16:40" id="Acts-16-40">They went out of the prison, and entered into Lydia&#8217;s house. When they had seen the brothers, they encouraged them, and departed.</span>
</div>