<div class="chapter" id="Acts-017">
  <h2>Acts 17</h2>
  <span class="verse" title="Acts 17:1" id="Acts-17-1">Now when they had passed through Amphipolis and Apollonia, they came to Thessalonica, where there was a Jewish synagogue.</span>
  <span class="verse" title="Acts 17:2" id="Acts-17-2">Paul, as was his custom, went in to them, and for three Sabbath days reasoned with them from the Scriptures,</span>
  <span class="verse" title="Acts 17:3" id="Acts-17-3">explaining and demonstrating that the Christ had to suffer and rise again from the dead, and saying, &#8220;This Jesus, whom I proclaim to you, is the Christ.&#8221;</span>
  <span class="verse" title="Acts 17:4" id="Acts-17-4">Some of them were persuaded, and joined Paul and Silas, of the devout Greeks a great multitude, and not a few of the chief women.</span>
  <span class="verse" title="Acts 17:5" id="Acts-17-5">But the unpersuaded Jews took along some wicked men from the marketplace, and gathering a crowd, set the city in an uproar. Assaulting the house of Jason, they sought to bring them out to the people.</span>
  <span class="verse" title="Acts 17:6" id="Acts-17-6">When they didn&#8217;t find them, they dragged Jason and certain brothers before the rulers of the city, crying, &#8220;These who have turned the world upside down have come here also,</span>
  <span class="verse" title="Acts 17:7" id="Acts-17-7">whom Jason has received. These all act contrary to the decrees of Caesar, saying that there is another king, Jesus!&#8221;</span>
  <span class="verse" title="Acts 17:8" id="Acts-17-8">The multitude and the rulers of the city were troubled when they heard these things.</span>
  <span class="verse" title="Acts 17:9" id="Acts-17-9">When they had taken security from Jason and the rest, they let them go.</span>
  <span class="verse" title="Acts 17:10" id="Acts-17-10">The brothers immediately sent Paul and Silas away by night to Beroea. When they arrived, they went into the Jewish synagogue.</span>
  <span class="verse" title="Acts 17:11" id="Acts-17-11">Now these were more noble than those in Thessalonica, in that they received the word with all readiness of the mind, examining the Scriptures daily to see whether these things were so.</span>
  <span class="verse" title="Acts 17:12" id="Acts-17-12">Many of them therefore believed; also of the prominent Greek women, and not a few men.</span>
  <span class="verse" title="Acts 17:13" id="Acts-17-13">But when the Jews of Thessalonica had knowledge that the word of God was proclaimed by Paul at Beroea also, they came there likewise, agitating the multitudes.</span>
  <span class="verse" title="Acts 17:14" id="Acts-17-14">Then the brothers immediately sent out Paul to go as far as to the sea, and Silas and Timothy still stayed there.</span>
  <span class="verse" title="Acts 17:15" id="Acts-17-15">But those who escorted Paul brought him as far as Athens. Receiving a commandment to Silas and Timothy that they should come to him very quickly, they departed.</span>
  <span class="verse" title="Acts 17:16" id="Acts-17-16">Now while Paul waited for them at Athens, his spirit was provoked within him as he saw the city full of idols.</span>
  <span class="verse" title="Acts 17:17" id="Acts-17-17">So he reasoned in the synagogue with the Jews and the devout persons, and in the marketplace every day with those who met him.</span>
  <span class="verse" title="Acts 17:18" id="Acts-17-18">Some of the Epicurean and Stoic philosophers also were conversing with him. Some said, &#8220;What does this babbler want to say?&#8221; Others said, &#8220;He seems to be advocating foreign deities,&#8221; because he preached Jesus and the resurrection.</span>
  <span class="verse" title="Acts 17:19" id="Acts-17-19">They took hold of him, and brought him to the Areopagus, saying, &#8220;May we know what this new teaching is, which is spoken by you?</span>
  <span class="verse" title="Acts 17:20" id="Acts-17-20">For you bring certain strange things to our ears. We want to know therefore what these things mean.&#8221;</span>
  <span class="verse" title="Acts 17:21" id="Acts-17-21">Now all the Athenians and the strangers living there spent their time in nothing else, but either to tell or to hear some new thing.</span>
  <span class="verse" title="Acts 17:22" id="Acts-17-22">Paul stood in the middle of the Areopagus, and said, &#8220;You men of Athens, I perceive that you are very religious in all things.</span>
  <span class="verse" title="Acts 17:23" id="Acts-17-23">For as I passed along, and observed the objects of your worship, I found also an altar with this inscription: &#8216;TO AN UNKNOWN GOD.&#8217; What therefore you worship in ignorance, this I announce to you.</span>
  <span class="verse" title="Acts 17:24" id="Acts-17-24">The God who made the world and all things in it, he, being Lord of heaven and earth, doesn&#8217;t dwell in temples made with hands,</span>
  <span class="verse" title="Acts 17:25" id="Acts-17-25">neither is he served by men&#8217;s hands, as though he needed anything, seeing he himself gives to all life and breath, and all things.</span>
  <span class="verse" title="Acts 17:26" id="Acts-17-26">He made from one blood every nation of men to dwell on all the surface of the earth, having determined appointed seasons, and the boundaries of their dwellings,</span>
  <span class="verse" title="Acts 17:27" id="Acts-17-27">that they should seek the Lord, if perhaps they might reach out for him and find him, though he is not far from each one of us.</span>
  <span class="verse" title="Acts 17:28" id="Acts-17-28">&#8216;For in him we live, and move, and have our being.&#8217; As some of your own poets have said, &#8216;For we are also his offspring.&#8217;</span>
  <span class="verse" title="Acts 17:29" id="Acts-17-29">Being then the offspring of God, we ought not to think that the Divine Nature is like gold, or silver, or stone, engraved by art and design of man.</span>
  <span class="verse" title="Acts 17:30" id="Acts-17-30">The times of ignorance therefore God overlooked. But now he commands that all people everywhere should repent,</span>
  <span class="verse" title="Acts 17:31" id="Acts-17-31">because he has appointed a day in which he will judge the world in righteousness by the man whom he has ordained; of which he has given assurance to all men, in that he has raised him from the dead.&#8221;</span>
  <span class="verse" title="Acts 17:32" id="Acts-17-32">Now when they heard of the resurrection of the dead, some mocked; but others said, &#8220;We want to hear you again concerning this.&#8221;</span>
  <span class="verse" title="Acts 17:33" id="Acts-17-33">Thus Paul went out from among them.</span>
  <span class="verse" title="Acts 17:34" id="Acts-17-34">But certain men joined with him, and believed, among whom also was Dionysius the Areopagite, and a woman named Damaris, and others with them.</span>
</div>