<div class="chapter" id="Acts-018">
  <h2>Acts 18</h2>
  <span class="verse" title="Acts 18:1" id="Acts-18-1">After these things Paul departed from Athens, and came to Corinth.</span>
  <span class="verse" title="Acts 18:2" id="Acts-18-2">He found a certain Jew named Aquila, a man of Pontus by race, who had recently come from Italy, with his wife Priscilla, because Claudius had commanded all the Jews to depart from Rome. He came to them,</span>
  <span class="verse" title="Acts 18:3" id="Acts-18-3">and because he practiced the same trade, he lived with them and worked, for by trade they were tent makers.</span>
  <span class="verse" title="Acts 18:4" id="Acts-18-4">He reasoned in the synagogue every Sabbath, and persuaded Jews and Greeks.</span>
  <span class="verse" title="Acts 18:5" id="Acts-18-5">But when Silas and Timothy came down from Macedonia, Paul was compelled by the Spirit, testifying to the Jews that Jesus was the Christ.</span>
  <span class="verse" title="Acts 18:6" id="Acts-18-6">When they opposed him and blasphemed, he shook out his clothing and said to them, &#8220;Your blood be on your own heads! I am clean. From now on, I will go to the Gentiles!&#8221;</span>
  <span class="verse" title="Acts 18:7" id="Acts-18-7">He departed there, and went into the house of a certain man named Justus, one who worshiped God, whose house was next door to the synagogue.</span>
  <span class="verse" title="Acts 18:8" id="Acts-18-8">Crispus, the ruler of the synagogue, believed in the Lord with all his house. Many of the Corinthians, when they heard, believed and were baptized.</span>
  <span class="verse" title="Acts 18:9" id="Acts-18-9">The Lord said to Paul in the night by a vision, &#8220;Don&#8217;t be afraid, but speak and don&#8217;t be silent;</span>
  <span class="verse" title="Acts 18:10" id="Acts-18-10">for I am with you, and no one will attack you to harm you, for I have many people in this city.&#8221;</span>
  <span class="verse" title="Acts 18:11" id="Acts-18-11">He lived there a year and six months, teaching the word of God among them.</span>
  <span class="verse" title="Acts 18:12" id="Acts-18-12">But when Gallio was proconsul of Achaia, the Jews with one accord rose up against Paul and brought him before the judgment seat,</span>
  <span class="verse" title="Acts 18:13" id="Acts-18-13">saying, &#8220;This man persuades men to worship God contrary to the law.&#8221;</span>
  <span class="verse" title="Acts 18:14" id="Acts-18-14">But when Paul was about to open his mouth, Gallio said to the Jews, &#8220;If indeed it were a matter of wrong or of wicked crime, you Jews, it would be reasonable that I should bear with you;</span>
  <span class="verse" title="Acts 18:15" id="Acts-18-15">but if they are questions about words and names and your own law, look to it yourselves. For I don&#8217;t want to be a judge of these matters.&#8221;</span>
  <span class="verse" title="Acts 18:16" id="Acts-18-16">He drove them from the judgment seat.</span>
  <span class="verse" title="Acts 18:17" id="Acts-18-17">Then all the Greeks laid hold on Sosthenes, the ruler of the synagogue, and beat him before the judgment seat. Gallio didn&#8217;t care about any of these things.</span>
  <span class="verse" title="Acts 18:18" id="Acts-18-18">Paul, having stayed after this many more days, took his leave of the brothers, and sailed from there for Syria, together with Priscilla and Aquila. He shaved his head in Cenchreae, for he had a vow.</span>
  <span class="verse" title="Acts 18:19" id="Acts-18-19">He came to Ephesus, and he left them there; but he himself entered into the synagogue, and reasoned with the Jews.</span>
  <span class="verse" title="Acts 18:20" id="Acts-18-20">When they asked him to stay with them a longer time, he declined;</span>
  <span class="verse" title="Acts 18:21" id="Acts-18-21">but taking his leave of them, and saying, &#8220;I must by all means keep this coming feast in Jerusalem, but I will return again to you if God wills,&#8221; he set sail from Ephesus.</span>
  <span class="verse" title="Acts 18:22" id="Acts-18-22">When he had landed at Caesarea, he went up and greeted the assembly, and went down to Antioch.</span>
  <span class="verse" title="Acts 18:23" id="Acts-18-23">Having spent some time there, he departed, and went through the region of Galatia, and Phrygia, in order, establishing all the disciples.</span>
  <span class="verse" title="Acts 18:24" id="Acts-18-24">Now a certain Jew named Apollos, an Alexandrian by race, an eloquent man, came to Ephesus. He was mighty in the Scriptures.</span>
  <span class="verse" title="Acts 18:25" id="Acts-18-25">This man had been instructed in the way of the Lord; and being fervent in spirit, he spoke and taught accurately the things concerning Jesus, although he knew only the baptism of John.</span>
  <span class="verse" title="Acts 18:26" id="Acts-18-26">He began to speak boldly in the synagogue. But when Priscilla and Aquila heard him, they took him aside, and explained to him the way of God more accurately.</span>
  <span class="verse" title="Acts 18:27" id="Acts-18-27">When he had determined to pass over into Achaia, the brothers encouraged him, and wrote to the disciples to receive him. When he had come, he greatly helped those who had believed through grace;</span>
  <span class="verse" title="Acts 18:28" id="Acts-18-28">for he powerfully refuted the Jews, publicly showing by the Scriptures that Jesus was the Christ.</span>
</div>