<div class="chapter" id="Acts-019">
  <h2>Acts 19</h2>
  <span class="verse" title="Acts 19:1" id="Acts-19-1">It happened that, while Apollos was at Corinth, Paul, having passed through the upper country, came to Ephesus, and found certain disciples.</span>
  <span class="verse" title="Acts 19:2" id="Acts-19-2">He said to them, &#8220;Did you receive the Holy Spirit when you believed?&#8221; They said to him, &#8220;No, we haven&#8217;t even heard that there is a Holy Spirit.&#8221;</span>
  <span class="verse" title="Acts 19:3" id="Acts-19-3">He said, &#8220;Into what then were you baptized?&#8221; They said, &#8220;Into John&#8217;s baptism.&#8221;</span>
  <span class="verse" title="Acts 19:4" id="Acts-19-4">Paul said, &#8220;John indeed baptized with the baptism of repentance, saying to the people that they should believe in the one who would come after him, that is, in Jesus.&#8221;</span>
  <span class="verse" title="Acts 19:5" id="Acts-19-5">When they heard this, they were baptized in the name of the Lord Jesus.</span>
  <span class="verse" title="Acts 19:6" id="Acts-19-6">When Paul had laid his hands on them, the Holy Spirit came on them, and they spoke with other languages and prophesied.</span>
  <span class="verse" title="Acts 19:7" id="Acts-19-7">They were about twelve men in all.</span>
  <span class="verse" title="Acts 19:8" id="Acts-19-8">He entered into the synagogue, and spoke boldly for a period of three months, reasoning and persuading about the things concerning the Kingdom of God.</span>
  <span class="verse" title="Acts 19:9" id="Acts-19-9">But when some were hardened and disobedient, speaking evil of the Way before the multitude, he departed from them, and separated the disciples, reasoning daily in the school of Tyrannus.</span>
  <span class="verse" title="Acts 19:10" id="Acts-19-10">This continued for two years, so that all those who lived in Asia heard the word of the Lord Jesus, both Jews and Greeks.</span>
  <span class="verse" title="Acts 19:11" id="Acts-19-11">God worked special miracles by the hands of Paul,</span>
  <span class="verse" title="Acts 19:12" id="Acts-19-12">so that even handkerchiefs or aprons were carried away from his body to the sick, and the evil spirits went out.</span>
  <span class="verse" title="Acts 19:13" id="Acts-19-13">But some of the itinerant Jews, exorcists, took on themselves to invoke over those who had the evil spirits the name of the Lord Jesus, saying, &#8220;We adjure you by Jesus whom Paul preaches.&#8221;</span>
  <span class="verse" title="Acts 19:14" id="Acts-19-14">There were seven sons of one Sceva, a Jewish chief priest, who did this.</span>
  <span class="verse" title="Acts 19:15" id="Acts-19-15">The evil spirit answered, &#8220;Jesus I know, and Paul I know, but who are you?&#8221;</span>
  <span class="verse" title="Acts 19:16" id="Acts-19-16">The man in whom the evil spirit was leaped on them, and overpowered them, and prevailed against them, so that they fled out of that house naked and wounded.</span>
  <span class="verse" title="Acts 19:17" id="Acts-19-17">This became known to all, both Jews and Greeks, who lived at Ephesus. Fear fell on them all, and the name of the Lord Jesus was magnified.</span>
  <span class="verse" title="Acts 19:18" id="Acts-19-18">Many also of those who had believed came, confessing, and declaring their deeds.</span>
  <span class="verse" title="Acts 19:19" id="Acts-19-19">Many of those who practiced magical arts brought their books together and burned them in the sight of all. They counted their price, and found it to be fifty thousand pieces of silver.</span>
  <span class="verse" title="Acts 19:20" id="Acts-19-20">So the word of the Lord was growing and becoming mighty.</span>
  <span class="verse" title="Acts 19:21" id="Acts-19-21">Now after these things had ended, Paul determined in the spirit, when he had passed through Macedonia and Achaia, to go to Jerusalem, saying, &#8220;After I have been there, I must also see Rome.&#8221;</span>
  <span class="verse" title="Acts 19:22" id="Acts-19-22">Having sent into Macedonia two of those who served him, Timothy and Erastus, he himself stayed in Asia for a while.</span>
  <span class="verse" title="Acts 19:23" id="Acts-19-23">About that time there arose no small stir concerning the Way.</span>
  <span class="verse" title="Acts 19:24" id="Acts-19-24">For a certain man named Demetrius, a silversmith, who made silver shrines of Artemis, brought no little business to the craftsmen,</span>
  <span class="verse" title="Acts 19:25" id="Acts-19-25">whom he gathered together, with the workmen of like occupation, and said, &#8220;Sirs, you know that by this business we have our wealth.</span>
  <span class="verse" title="Acts 19:26" id="Acts-19-26">You see and hear, that not at Ephesus alone, but almost throughout all Asia, this Paul has persuaded and turned away many people, saying that they are no gods, that are made with hands.</span>
  <span class="verse" title="Acts 19:27" id="Acts-19-27">Not only is there danger that this our trade come into disrepute, but also that the temple of the great goddess Artemis will be counted as nothing, and her majesty destroyed, whom all Asia and the world worships.&#8221;</span>
  <span class="verse" title="Acts 19:28" id="Acts-19-28">When they heard this they were filled with anger, and cried out, saying, &#8220;Great is Artemis of the Ephesians!&#8221;</span>
  <span class="verse" title="Acts 19:29" id="Acts-19-29">The whole city was filled with confusion, and they rushed with one accord into the theater, having seized Gaius and Aristarchus, men of Macedonia, Paul&#8217;s companions in travel.</span>
  <span class="verse" title="Acts 19:30" id="Acts-19-30">When Paul wanted to enter in to the people, the disciples didn&#8217;t allow him.</span>
  <span class="verse" title="Acts 19:31" id="Acts-19-31">Certain also of the Asiarchs, being his friends, sent to him and begged him not to venture into the theater.</span>
  <span class="verse" title="Acts 19:32" id="Acts-19-32">Some therefore cried one thing, and some another, for the assembly was in confusion. Most of them didn&#8217;t know why they had come together.</span>
  <span class="verse" title="Acts 19:33" id="Acts-19-33">They brought Alexander out of the multitude, the Jews putting him forward. Alexander beckoned with his hand, and would have made a defense to the people.</span>
  <span class="verse" title="Acts 19:34" id="Acts-19-34">But when they perceived that he was a Jew, all with one voice for a time of about two hours cried out, &#8220;Great is Artemis of the Ephesians!&#8221;</span>
  <span class="verse" title="Acts 19:35" id="Acts-19-35">When the town clerk had quieted the multitude, he said, &#8220;You men of Ephesus, what man is there who doesn&#8217;t know that the city of the Ephesians is temple keeper of the great goddess Artemis, and of the image which fell down from Zeus?</span>
  <span class="verse" title="Acts 19:36" id="Acts-19-36">Seeing then that these things can&#8217;t be denied, you ought to be quiet, and to do nothing rash.</span>
  <span class="verse" title="Acts 19:37" id="Acts-19-37">For you have brought these men here, who are neither robbers of temples nor blasphemers of your goddess.</span>
  <span class="verse" title="Acts 19:38" id="Acts-19-38">If therefore Demetrius and the craftsmen who are with him have a matter against anyone, the courts are open, and there are proconsuls. Let them press charges against one another.</span>
  <span class="verse" title="Acts 19:39" id="Acts-19-39">But if you seek anything about other matters, it will be settled in the regular assembly.</span>
  <span class="verse" title="Acts 19:40" id="Acts-19-40">For indeed we are in danger of being accused concerning this day&#8217;s riot, there being no cause. Concerning it, we wouldn&#8217;t be able to give an account of this commotion.&#8221;</span>
  <span class="verse" title="Acts 19:41" id="Acts-19-41">When he had thus spoken, he dismissed the assembly.</span>
</div>