<div class="chapter" id="Acts-020">
  <h2>Acts 20</h2>
  <span class="verse" title="Acts 20:1" id="Acts-20-1">After the uproar had ceased, Paul sent for the disciples, took leave of them, and departed to go into Macedonia.</span>
  <span class="verse" title="Acts 20:2" id="Acts-20-2">When he had gone through those parts, and had encouraged them with many words, he came into Greece.</span>
  <span class="verse" title="Acts 20:3" id="Acts-20-3">When he had spent three months there, and a plot was made against him by Jews as he was about to set sail for Syria, he determined to return through Macedonia.</span>
  <span class="verse" title="Acts 20:4" id="Acts-20-4">These accompanied him as far as Asia: Sopater of Beroea; Aristarchus and Secundus of the Thessalonians; Gaius of Derbe; Timothy; and Tychicus and Trophimus of Asia.</span>
  <span class="verse" title="Acts 20:5" id="Acts-20-5">But these had gone ahead, and were waiting for us at Troas.</span>
  <span class="verse" title="Acts 20:6" id="Acts-20-6">We sailed away from Philippi after the days of Unleavened Bread, and came to them at Troas in five days, where we stayed seven days.</span>
  <span class="verse" title="Acts 20:7" id="Acts-20-7">On the first day of the week, when the disciples were gathered together to break bread, Paul talked with them, intending to depart on the next day, and continued his speech until midnight.</span>
  <span class="verse" title="Acts 20:8" id="Acts-20-8">There were many lights in the upper room where we were gathered together.</span>
  <span class="verse" title="Acts 20:9" id="Acts-20-9">A certain young man named Eutychus sat in the window, weighed down with deep sleep. As Paul spoke still longer, being weighed down by his sleep, he fell down from the third story, and was taken up dead.</span>
  <span class="verse" title="Acts 20:10" id="Acts-20-10">Paul went down, and fell upon him, and embracing him said, &#8220;Don&#8217;t be troubled, for his life is in him.&#8221;</span>
  <span class="verse" title="Acts 20:11" id="Acts-20-11">When he had gone up, and had broken bread, and eaten, and had talked with them a long while, even until break of day, he departed.</span>
  <span class="verse" title="Acts 20:12" id="Acts-20-12">They brought the boy in alive, and were greatly comforted.</span>
  <span class="verse" title="Acts 20:13" id="Acts-20-13">But we who went ahead to the ship set sail for Assos, intending to take Paul aboard there, for he had so arranged, intending himself to go by land.</span>
  <span class="verse" title="Acts 20:14" id="Acts-20-14">When he met us at Assos, we took him aboard, and came to Mitylene.</span>
  <span class="verse" title="Acts 20:15" id="Acts-20-15">Sailing from there, we came the following day opposite Chios. The next day we touched at Samos and stayed at Trogyllium, and the day after we came to Miletus.</span>
  <span class="verse" title="Acts 20:16" id="Acts-20-16">For Paul had determined to sail past Ephesus, that he might not have to spend time in Asia; for he was hastening, if it were possible for him, to be in Jerusalem on the day of Pentecost.</span>
  <span class="verse" title="Acts 20:17" id="Acts-20-17">From Miletus he sent to Ephesus, and called to himself the elders of the assembly.</span>
  <span class="verse" title="Acts 20:18" id="Acts-20-18">When they had come to him, he said to them, &#8220;You yourselves know, from the first day that I set foot in Asia, how I was with you all the time,</span>
  <span class="verse" title="Acts 20:19" id="Acts-20-19">serving the Lord with all humility, with many tears, and with trials which happened to me by the plots of the Jews;</span>
  <span class="verse" title="Acts 20:20" id="Acts-20-20">how I didn&#8217;t shrink from declaring to you anything that was profitable, teaching you publicly and from house to house,</span>
  <span class="verse" title="Acts 20:21" id="Acts-20-21">testifying both to Jews and to Greeks repentance toward God, and faith toward our Lord Jesus.</span>
  <span class="verse" title="Acts 20:22" id="Acts-20-22">Now, behold, I go bound by the Spirit to Jerusalem, not knowing what will happen to me there;</span>
  <span class="verse" title="Acts 20:23" id="Acts-20-23">except that the Holy Spirit testifies in every city, saying that bonds and afflictions wait for me.</span>
  <span class="verse" title="Acts 20:24" id="Acts-20-24">But these things don&#8217;t count; nor do I hold my life dear to myself, so that I may finish my race with joy, and the ministry which I received from the Lord Jesus, to fully testify to the Good News of the grace of God.</span>
  <span class="verse" title="Acts 20:25" id="Acts-20-25">&#8220;Now, behold, I know that you all, among whom I went about preaching the Kingdom of God, will see my face no more.</span>
  <span class="verse" title="Acts 20:26" id="Acts-20-26">Therefore I testify to you this day that I am clean from the blood of all men,</span>
  <span class="verse" title="Acts 20:27" id="Acts-20-27">for I didn&#8217;t shrink from declaring to you the whole counsel of God.</span>
  <span class="verse" title="Acts 20:28" id="Acts-20-28">Take heed, therefore, to yourselves, and to all the flock, in which the Holy Spirit has made you overseers, to shepherd the assembly of the Lord and God which he purchased with his own blood.</span>
  <span class="verse" title="Acts 20:29" id="Acts-20-29">For I know that after my departure, vicious wolves will enter in among you, not sparing the flock.</span>
  <span class="verse" title="Acts 20:30" id="Acts-20-30">Men will arise from among your own selves, speaking perverse things, to draw away the disciples after them.</span>
  <span class="verse" title="Acts 20:31" id="Acts-20-31">Therefore watch, remembering that for a period of three years I didn&#8217;t cease to admonish everyone night and day with tears.</span>
  <span class="verse" title="Acts 20:32" id="Acts-20-32">Now, brothers, I entrust you to God, and to the word of his grace, which is able to build up, and to give you the inheritance among all those who are sanctified.</span>
  <span class="verse" title="Acts 20:33" id="Acts-20-33">I coveted no one&#8217;s silver, or gold, or clothing.</span>
  <span class="verse" title="Acts 20:34" id="Acts-20-34">You yourselves know that these hands served my necessities, and those who were with me.</span>
  <span class="verse" title="Acts 20:35" id="Acts-20-35">In all things I gave you an example, that so laboring you ought to help the weak, and to remember the words of the Lord Jesus, that he himself said, &#8216;It is more blessed to give than to receive.&#8217;&#8221;</span>
  <span class="verse" title="Acts 20:36" id="Acts-20-36">When he had spoken these things, he knelt down and prayed with them all.</span>
  <span class="verse" title="Acts 20:37" id="Acts-20-37">They all wept a lot, and fell on Paul&#8217;s neck and kissed him,</span>
  <span class="verse" title="Acts 20:38" id="Acts-20-38">sorrowing most of all because of the word which he had spoken, that they should see his face no more. And they accompanied him to the ship.</span>
</div>