<div class="chapter" id="Acts-021">
  <h2>Acts 21</h2>
  <span class="verse" title="Acts 21:1" id="Acts-21-1">When it happened that we had parted from them and had set sail, we came with a straight course to Cos, and the next day to Rhodes, and from there to Patara.</span>
  <span class="verse" title="Acts 21:2" id="Acts-21-2">Having found a ship crossing over to Phoenicia, we went aboard, and set sail.</span>
  <span class="verse" title="Acts 21:3" id="Acts-21-3">When we had come in sight of Cyprus, leaving it on the left hand, we sailed to Syria, and landed at Tyre, for there the ship was to unload her cargo.</span>
  <span class="verse" title="Acts 21:4" id="Acts-21-4">Having found disciples, we stayed there seven days. These said to Paul through the Spirit, that he should not go up to Jerusalem.</span>
  <span class="verse" title="Acts 21:5" id="Acts-21-5">When it happened that we had accomplished the days, we departed and went on our journey. They all, with wives and children, brought us on our way until we were out of the city. Kneeling down on the beach, we prayed.</span>
  <span class="verse" title="Acts 21:6" id="Acts-21-6">After saying goodbye to each other, we went on board the ship, and they returned home again.</span>
  <span class="verse" title="Acts 21:7" id="Acts-21-7">When we had finished the voyage from Tyre, we arrived at Ptolemais. We greeted the brothers, and stayed with them one day.</span>
  <span class="verse" title="Acts 21:8" id="Acts-21-8">On the next day, we, who were Paul&#8217;s companions, departed, and came to Caesarea. We entered into the house of Philip the evangelist, who was one of the seven, and stayed with him.</span>
  <span class="verse" title="Acts 21:9" id="Acts-21-9">Now this man had four virgin daughters who prophesied.</span>
  <span class="verse" title="Acts 21:10" id="Acts-21-10">As we stayed there some days, a certain prophet named Agabus came down from Judea.</span>
  <span class="verse" title="Acts 21:11" id="Acts-21-11">Coming to us, and taking Paul&#8217;s belt, he bound his own feet and hands, and said, &#8220;Thus says the Holy Spirit: &#8216;So will the Jews at Jerusalem bind the man who owns this belt, and will deliver him into the hands of the Gentiles.&#8217;&#8221;</span>
  <span class="verse" title="Acts 21:12" id="Acts-21-12">When we heard these things, both we and they of that place begged him not to go up to Jerusalem.</span>
  <span class="verse" title="Acts 21:13" id="Acts-21-13">Then Paul answered, &#8220;What are you doing, weeping and breaking my heart? For I am ready not only to be bound, but also to die at Jerusalem for the name of the Lord Jesus.&#8221;</span>
  <span class="verse" title="Acts 21:14" id="Acts-21-14">When he would not be persuaded, we ceased, saying, &#8220;The Lord&#8217;s will be done.&#8221;</span>
  <span class="verse" title="Acts 21:15" id="Acts-21-15">After these days we took up our baggage and went up to Jerusalem.</span>
  <span class="verse" title="Acts 21:16" id="Acts-21-16">Some of the disciples from Caesarea also went with us, bringing one Mnason of Cyprus, an early disciple, with whom we would stay.</span>
  <span class="verse" title="Acts 21:17" id="Acts-21-17">When we had come to Jerusalem, the brothers received us gladly.</span>
  <span class="verse" title="Acts 21:18" id="Acts-21-18">The day following, Paul went in with us to James; and all the elders were present.</span>
  <span class="verse" title="Acts 21:19" id="Acts-21-19">When he had greeted them, he reported one by one the things which God had worked among the Gentiles through his ministry.</span>
  <span class="verse" title="Acts 21:20" id="Acts-21-20">They, when they heard it, glorified God. They said to him, &#8220;You see, brother, how many thousands there are among the Jews of those who have believed, and they are all zealous for the law.</span>
  <span class="verse" title="Acts 21:21" id="Acts-21-21">They have been informed about you, that you teach all the Jews who are among the Gentiles to forsake Moses, telling them not to circumcise their children neither to walk after the customs.</span>
  <span class="verse" title="Acts 21:22" id="Acts-21-22">What then? The assembly must certainly meet, for they will hear that you have come.</span>
  <span class="verse" title="Acts 21:23" id="Acts-21-23">Therefore do what we tell you. We have four men who have taken a vow.</span>
  <span class="verse" title="Acts 21:24" id="Acts-21-24">Take them, and purify yourself with them, and pay their expenses for them, that they may shave their heads. Then all will know that there is no truth in the things that they have been informed about you, but that you yourself also walk keeping the law.</span>
  <span class="verse" title="Acts 21:25" id="Acts-21-25">But concerning the Gentiles who believe, we have written our decision that they should observe no such thing, except that they should keep themselves from food offered to idols, from blood, from strangled things, and from sexual immorality.&#8221;</span>
  <span class="verse" title="Acts 21:26" id="Acts-21-26">Then Paul took the men, and the next day, purified himself and went with them into the temple, declaring the fulfillment of the days of purification, until the offering was offered for every one of them.</span>
  <span class="verse" title="Acts 21:27" id="Acts-21-27">When the seven days were almost completed, the Jews from Asia, when they saw him in the temple, stirred up all the multitude and laid hands on him,</span>
  <span class="verse" title="Acts 21:28" id="Acts-21-28">crying out, &#8220;Men of Israel, help! This is the man who teaches all men everywhere against the people, and the law, and this place. Moreover, he also brought Greeks into the temple, and has defiled this holy place!&#8221;</span>
  <span class="verse" title="Acts 21:29" id="Acts-21-29">For they had seen Trophimus, the Ephesian, with him in the city, and they supposed that Paul had brought him into the temple.</span>
  <span class="verse" title="Acts 21:30" id="Acts-21-30">All the city was moved, and the people ran together. They seized Paul and dragged him out of the temple. Immediately the doors were shut.</span>
  <span class="verse" title="Acts 21:31" id="Acts-21-31">As they were trying to kill him, news came up to the commanding officer of the regiment that all Jerusalem was in an uproar.</span>
  <span class="verse" title="Acts 21:32" id="Acts-21-32">Immediately he took soldiers and centurions, and ran down to them. They, when they saw the chief captain and the soldiers, stopped beating Paul.</span>
  <span class="verse" title="Acts 21:33" id="Acts-21-33">Then the commanding officer came near, arrested him, commanded him to be bound with two chains, and inquired who he was and what he had done.</span>
  <span class="verse" title="Acts 21:34" id="Acts-21-34">Some shouted one thing, and some another, among the crowd. When he couldn&#8217;t find out the truth because of the noise, he commanded him to be brought into the barracks.</span>
  <span class="verse" title="Acts 21:35" id="Acts-21-35">When he came to the stairs, it happened that he was carried by the soldiers because of the violence of the crowd;</span>
  <span class="verse" title="Acts 21:36" id="Acts-21-36">for the multitude of the people followed after, crying out, &#8220;Away with him!&#8221;</span>
  <span class="verse" title="Acts 21:37" id="Acts-21-37">As Paul was about to be brought into the barracks, he asked the commanding officer, &#8220;May I speak to you?&#8221; He said, &#8220;Do you know Greek?</span>
  <span class="verse" title="Acts 21:38" id="Acts-21-38">Aren&#8217;t you then the Egyptian, who before these days stirred up to sedition and led out into the wilderness the four thousand men of the Assassins?&#8221;</span>
  <span class="verse" title="Acts 21:39" id="Acts-21-39">But Paul said, &#8220;I am a Jew, from Tarsus in Cilicia, a citizen of no insignificant city. I beg you, allow me to speak to the people.&#8221;</span>
  <span class="verse" title="Acts 21:40" id="Acts-21-40">When he had given him permission, Paul, standing on the stairs, beckoned with his hand to the people. When there was a great silence, he spoke to them in the Hebrew language, saying,</span>
</div>