<div class="chapter" id="Acts-022">
  <h2>Acts 22</h2>
  <span class="verse" title="Acts 22:1" id="Acts-22-1">&#8220;Brothers and fathers, listen to the defense which I now make to you.&#8221;</span>
  <span class="verse" title="Acts 22:2" id="Acts-22-2">When they heard that he spoke to them in the Hebrew language, they were even more quiet. He said,</span>
  <span class="verse" title="Acts 22:3" id="Acts-22-3">&#8220;I am indeed a Jew, born in Tarsus of Cilicia, but brought up in this city at the feet of Gamaliel, instructed according to the strict tradition of the law of our fathers, being zealous for God, even as you all are this day.</span>
  <span class="verse" title="Acts 22:4" id="Acts-22-4">I persecuted this Way to the death, binding and delivering into prisons both men and women.</span>
  <span class="verse" title="Acts 22:5" id="Acts-22-5">As also the high priest and all the council of the elders testify, from whom also I received letters to the brothers, and traveled to Damascus to bring them also who were there to Jerusalem in bonds to be punished.</span>
  <span class="verse" title="Acts 22:6" id="Acts-22-6">It happened that, as I made my journey, and came close to Damascus, about noon, suddenly there shone from the sky a great light around me.</span>
  <span class="verse" title="Acts 22:7" id="Acts-22-7">I fell to the ground, and heard a voice saying to me, &#8216;Saul, Saul, why are you persecuting me?&#8217;</span>
  <span class="verse" title="Acts 22:8" id="Acts-22-8">I answered, &#8216;Who are you, Lord?&#8217; He said to me, &#8216;I am Jesus of Nazareth, whom you persecute.&#8217;</span>
  <span class="verse" title="Acts 22:9" id="Acts-22-9">&#8220;Those who were with me indeed saw the light and were afraid, but they didn&#8217;t understand the voice of him who spoke to me.</span>
  <span class="verse" title="Acts 22:10" id="Acts-22-10">I said, &#8216;What shall I do, Lord?&#8217; The Lord said to me, &#8216;Arise, and go into Damascus. There you will be told about all things which are appointed for you to do.&#8217;</span>
  <span class="verse" title="Acts 22:11" id="Acts-22-11">When I couldn&#8217;t see for the glory of that light, being led by the hand of those who were with me, I came into Damascus.</span>
  <span class="verse" title="Acts 22:12" id="Acts-22-12">One Ananias, a devout man according to the law, well reported of by all the Jews who lived in Damascus,</span>
  <span class="verse" title="Acts 22:13" id="Acts-22-13">came to me, and standing by me said to me, &#8216;Brother Saul, receive your sight!&#8217; In that very hour I looked up at him.</span>
  <span class="verse" title="Acts 22:14" id="Acts-22-14">He said, &#8216;The God of our fathers has appointed you to know his will, and to see the Righteous One, and to hear a voice from his mouth.</span>
  <span class="verse" title="Acts 22:15" id="Acts-22-15">For you will be a witness for him to all men of what you have seen and heard.</span>
  <span class="verse" title="Acts 22:16" id="Acts-22-16">Now why do you wait? Arise, be baptized, and wash away your sins, calling on the name of the Lord.&#8217;</span>
  <span class="verse" title="Acts 22:17" id="Acts-22-17">&#8220;It happened that, when I had returned to Jerusalem, and while I prayed in the temple, I fell into a trance,</span>
  <span class="verse" title="Acts 22:18" id="Acts-22-18">and saw him saying to me, &#8216;Hurry and get out of Jerusalem quickly, because they will not receive testimony concerning me from you.&#8217;</span>
  <span class="verse" title="Acts 22:19" id="Acts-22-19">I said, &#8216;Lord, they themselves know that I imprisoned and beat in every synagogue those who believed in you.</span>
  <span class="verse" title="Acts 22:20" id="Acts-22-20">When the blood of Stephen, your witness, was shed, I also was standing by, and consenting to his death, and guarding the cloaks of those who killed him.&#8217;</span>
  <span class="verse" title="Acts 22:21" id="Acts-22-21">&#8220;He said to me, &#8216;Depart, for I will send you out far from here to the Gentiles.&#8217;&#8221;</span>
  <span class="verse" title="Acts 22:22" id="Acts-22-22">They listened to him until he said that; then they lifted up their voice, and said, &#8220;Rid the earth of this fellow, for he isn&#8217;t fit to live!&#8221;</span>
  <span class="verse" title="Acts 22:23" id="Acts-22-23">As they cried out, and threw off their cloaks, and threw dust into the air,</span>
  <span class="verse" title="Acts 22:24" id="Acts-22-24">the commanding officer commanded him to be brought into the barracks, ordering him to be examined by scourging, that he might know for what crime they shouted against him like that.</span>
  <span class="verse" title="Acts 22:25" id="Acts-22-25">When they had tied him up with thongs, Paul asked the centurion who stood by, &#8220;Is it lawful for you to scourge a man who is a Roman, and not found guilty?&#8221;</span>
  <span class="verse" title="Acts 22:26" id="Acts-22-26">When the centurion heard it, he went to the commanding officer and told him, &#8220;Watch what you are about to do, for this man is a Roman!&#8221;</span>
  <span class="verse" title="Acts 22:27" id="Acts-22-27">The commanding officer came and asked him, &#8220;Tell me, are you a Roman?&#8221; He said, &#8220;Yes.&#8221;</span>
  <span class="verse" title="Acts 22:28" id="Acts-22-28">The commanding officer answered, &#8220;I bought my citizenship for a great price.&#8221; Paul said, &#8220;But I was born a Roman.&#8221;</span>
  <span class="verse" title="Acts 22:29" id="Acts-22-29">Immediately those who were about to examine him departed from him, and the commanding officer also was afraid when he realized that he was a Roman, because he had bound him.</span>
  <span class="verse" title="Acts 22:30" id="Acts-22-30">But on the next day, desiring to know the truth about why he was accused by the Jews, he freed him from the bonds, and commanded the chief priests and all the council to come together, and brought Paul down and set him before them.</span>
</div>