<div class="chapter" id="Acts-023">
  <h2>Acts 23</h2>
  <span class="verse" title="Acts 23:1" id="Acts-23-1">Paul, looking steadfastly at the council, said, &#8220;Brothers, I have lived before God in all good conscience until this day.&#8221;</span>
  <span class="verse" title="Acts 23:2" id="Acts-23-2">The high priest, Ananias, commanded those who stood by him to strike him on the mouth.</span>
  <span class="verse" title="Acts 23:3" id="Acts-23-3">Then Paul said to him, &#8220;God will strike you, you whitewashed wall! Do you sit to judge me according to the law, and command me to be struck contrary to the law?&#8221;</span>
  <span class="verse" title="Acts 23:4" id="Acts-23-4">Those who stood by said, &#8220;Do you malign God&#8217;s high priest?&#8221;</span>
  <span class="verse" title="Acts 23:5" id="Acts-23-5">Paul said, &#8220;I didn&#8217;t know, brothers, that he was high priest. For it is written, &#8216;You shall not speak evil of a ruler of your people.&#8217;&#8221;</span>
  <span class="verse" title="Acts 23:6" id="Acts-23-6">But when Paul perceived that the one part were Sadducees and the other Pharisees, he cried out in the council, &#8220;Men and brothers, I am a Pharisee, a son of Pharisees. Concerning the hope and resurrection of the dead I am being judged!&#8221;</span>
  <span class="verse" title="Acts 23:7" id="Acts-23-7">When he had said this, an argument arose between the Pharisees and Sadducees, and the assembly was divided.</span>
  <span class="verse" title="Acts 23:8" id="Acts-23-8">For the Sadducees say that there is no resurrection, nor angel, nor spirit; but the Pharisees confess all of these.</span>
  <span class="verse" title="Acts 23:9" id="Acts-23-9">A great clamor arose, and some of the scribes of the Pharisees part stood up, and contended, saying, &#8220;We find no evil in this man. But if a spirit or angel has spoken to him, let&#8217;s not fight against God!&#8221;</span>
  <span class="verse" title="Acts 23:10" id="Acts-23-10">When a great argument arose, the commanding officer, fearing that Paul would be torn in pieces by them, commanded the soldiers to go down and take him by force from among them, and bring him into the barracks.</span>
  <span class="verse" title="Acts 23:11" id="Acts-23-11">The following night, the Lord stood by him, and said, &#8220;Cheer up, Paul, for as you have testified about me at Jerusalem, so you must testify also at Rome.&#8221;</span>
  <span class="verse" title="Acts 23:12" id="Acts-23-12">When it was day, some of the Jews banded together, and bound themselves under a curse, saying that they would neither eat nor drink until they had killed Paul.</span>
  <span class="verse" title="Acts 23:13" id="Acts-23-13">There were more than forty people who had made this conspiracy.</span>
  <span class="verse" title="Acts 23:14" id="Acts-23-14">They came to the chief priests and the elders, and said, &#8220;We have bound ourselves under a great curse, to taste nothing until we have killed Paul.</span>
  <span class="verse" title="Acts 23:15" id="Acts-23-15">Now therefore, you with the council inform the commanding officer that he should bring him down to you tomorrow, as though you were going to judge his case more exactly. We are ready to kill him before he comes near.&#8221;</span>
  <span class="verse" title="Acts 23:16" id="Acts-23-16">But Paul&#8217;s sister&#8217;s son heard of their lying in wait, and he came and entered into the barracks and told Paul.</span>
  <span class="verse" title="Acts 23:17" id="Acts-23-17">Paul summoned one of the centurions, and said, &#8220;Bring this young man to the commanding officer, for he has something to tell him.&#8221;</span>
  <span class="verse" title="Acts 23:18" id="Acts-23-18">So he took him, and brought him to the commanding officer, and said, &#8220;Paul, the prisoner, summoned me and asked me to bring this young man to you, who has something to tell you.&#8221;</span>
  <span class="verse" title="Acts 23:19" id="Acts-23-19">The commanding officer took him by the hand, and going aside, asked him privately, &#8220;What is it that you have to tell me?&#8221;</span>
  <span class="verse" title="Acts 23:20" id="Acts-23-20">He said, &#8220;The Jews have agreed to ask you to bring Paul down to the council tomorrow, as though intending to inquire somewhat more accurately concerning him.</span>
  <span class="verse" title="Acts 23:21" id="Acts-23-21">Therefore don&#8217;t yield to them, for more than forty men lie in wait for him, who have bound themselves under a curse neither to eat nor to drink until they have killed him. Now they are ready, looking for the promise from you.&#8221;</span>
  <span class="verse" title="Acts 23:22" id="Acts-23-22">So the commanding officer let the young man go, charging him, &#8220;Tell no one that you have revealed these things to me.&#8221;</span>
  <span class="verse" title="Acts 23:23" id="Acts-23-23">He called to himself two of the centurions, and said, &#8220;Prepare two hundred soldiers to go as far as Caesarea, with seventy horsemen, and two hundred men armed with spears, at the third hour of the night.&#8221;</span>
  <span class="verse" title="Acts 23:24" id="Acts-23-24">He asked them to provide animals, that they might set Paul on one, and bring him safely to Felix the governor.</span>
  <span class="verse" title="Acts 23:25" id="Acts-23-25">He wrote a letter like this:</span>
  <span class="verse" title="Acts 23:26" id="Acts-23-26">&#8220;Claudius Lysias to the most excellent governor Felix: Greetings.</span>
  <span class="verse" title="Acts 23:27" id="Acts-23-27">&#8220;This man was seized by the Jews, and was about to be killed by them, when I came with the soldiers and rescued him, having learned that he was a Roman.</span>
  <span class="verse" title="Acts 23:28" id="Acts-23-28">Desiring to know the cause why they accused him, I brought him down to their council.</span>
  <span class="verse" title="Acts 23:29" id="Acts-23-29">I found him to be accused about questions of their law, but not to be charged with anything worthy of death or of imprisonment.</span>
  <span class="verse" title="Acts 23:30" id="Acts-23-30">When I was told that the Jews lay in wait for the man, I sent him to you immediately, charging his accusers also to bring their accusations against him before you. Farewell.&#8221;</span>
  <span class="verse" title="Acts 23:31" id="Acts-23-31">So the soldiers, carrying out their orders, took Paul and brought him by night to Antipatris.</span>
  <span class="verse" title="Acts 23:32" id="Acts-23-32">But on the next day they left the horsemen to go with him, and returned to the barracks.</span>
  <span class="verse" title="Acts 23:33" id="Acts-23-33">When they came to Caesarea and delivered the letter to the governor, they also presented Paul to him.</span>
  <span class="verse" title="Acts 23:34" id="Acts-23-34">When the governor had read it, he asked what province he was from. When he understood that he was from Cilicia, he said,</span>
  <span class="verse" title="Acts 23:35" id="Acts-23-35">&#8220;I will hear you fully when your accusers also arrive.&#8221; He commanded that he be kept in Herod&#8217;s palace.</span>
</div>