<div class="chapter" id="Acts-024">
  <h2>Acts 24</h2>
  <span class="verse" title="Acts 24:1" id="Acts-24-1">After five days, the high priest, Ananias, came down with certain elders and an orator, one Tertullus. They informed the governor against Paul.</span>
  <span class="verse" title="Acts 24:2" id="Acts-24-2">When he was called, Tertullus began to accuse him, saying, &#8220;Seeing that by you we enjoy much peace, and that excellent measures are coming to this nation,</span>
  <span class="verse" title="Acts 24:3" id="Acts-24-3">we accept it in all ways and in all places, most excellent Felix, with all thankfulness.</span>
  <span class="verse" title="Acts 24:4" id="Acts-24-4">But, that I don&#8217;t delay you, I entreat you to bear with us and hear a few words.</span>
  <span class="verse" title="Acts 24:5" id="Acts-24-5">For we have found this man to be a plague, an instigator of insurrections among all the Jews throughout the world, and a ringleader of the sect of the Nazarenes.</span>
  <span class="verse" title="Acts 24:6" id="Acts-24-6">He even tried to profane the temple, and we arrested him.</span>
  <span class="verse" title="Acts 24:8" id="Acts-24-8">By examining him yourself you may ascertain all these things of which we accuse him.&#8221;</span>
  <span class="verse" title="Acts 24:9" id="Acts-24-9">The Jews also joined in the attack, affirming that these things were so.</span>
  <span class="verse" title="Acts 24:10" id="Acts-24-10">When the governor had beckoned to him to speak, Paul answered, &#8220;Because I know that you have been a judge of this nation for many years, I cheerfully make my defense,</span>
  <span class="verse" title="Acts 24:11" id="Acts-24-11">seeing that you can recognize that it is not more than twelve days since I went up to worship at Jerusalem.</span>
  <span class="verse" title="Acts 24:12" id="Acts-24-12">In the temple they didn&#8217;t find me disputing with anyone or stirring up a crowd, either in the synagogues, or in the city.</span>
  <span class="verse" title="Acts 24:13" id="Acts-24-13">Nor can they prove to you the things of which they now accuse me.</span>
  <span class="verse" title="Acts 24:14" id="Acts-24-14">But this I confess to you, that after the Way, which they call a sect, so I serve the God of our fathers, believing all things which are according to the law, and which are written in the prophets;</span>
  <span class="verse" title="Acts 24:15" id="Acts-24-15">having hope toward God, which these also themselves look for, that there will be a resurrection of the dead, both of the just and unjust.</span>
  <span class="verse" title="Acts 24:16" id="Acts-24-16">Herein I also practice always having a conscience void of offense toward God and men.</span>
  <span class="verse" title="Acts 24:17" id="Acts-24-17">Now after some years, I came to bring gifts for the needy to my nation, and offerings;</span>
  <span class="verse" title="Acts 24:18" id="Acts-24-18">amid which certain Jews from Asia found me purified in the temple, not with a mob, nor with turmoil.</span>
  <span class="verse" title="Acts 24:19" id="Acts-24-19">They ought to have been here before you, and to make accusation, if they had anything against me.</span>
  <span class="verse" title="Acts 24:20" id="Acts-24-20">Or else let these men themselves say what injustice they found in me when I stood before the council,</span>
  <span class="verse" title="Acts 24:21" id="Acts-24-21">unless it is for this one thing that I cried standing among them, &#8216;Concerning the resurrection of the dead I am being judged before you today!&#8217;&#8221;</span>
  <span class="verse" title="Acts 24:22" id="Acts-24-22">But Felix, having more exact knowledge concerning the Way, deferred them, saying, &#8220;When Lysias, the commanding officer, comes down, I will decide your case.&#8221;</span>
  <span class="verse" title="Acts 24:23" id="Acts-24-23">He ordered the centurion that Paul should be kept in custody, and should have some privileges, and not to forbid any of his friends to serve him or to visit him.</span>
  <span class="verse" title="Acts 24:24" id="Acts-24-24">But after some days, Felix came with Drusilla, his wife, who was a Jewess, and sent for Paul, and heard him concerning the faith in Christ Jesus.</span>
  <span class="verse" title="Acts 24:25" id="Acts-24-25">As he reasoned about righteousness, self-control, and the judgment to come, Felix was terrified, and answered, &#8220;Go your way for this time, and when it is convenient for me, I will summon you.&#8221;</span>
  <span class="verse" title="Acts 24:26" id="Acts-24-26">Meanwhile, he also hoped that money would be given to him by Paul, that he might release him. Therefore also he sent for him more often, and talked with him.</span>
  <span class="verse" title="Acts 24:27" id="Acts-24-27">But when two years were fulfilled, Felix was succeeded by Porcius Festus, and desiring to gain favor with the Jews, Felix left Paul in bonds.</span>
</div>