<div class="chapter" id="Acts-025">
  <h2>Acts 25</h2>
  <span class="verse" title="Acts 25:1" id="Acts-25-1">Festus therefore, having come into the province, after three days went up to Jerusalem from Caesarea.</span>
  <span class="verse" title="Acts 25:2" id="Acts-25-2">Then the high priest and the principal men of the Jews informed him against Paul, and they begged him,</span>
  <span class="verse" title="Acts 25:3" id="Acts-25-3">asking a favor against him, that he would summon him to Jerusalem; plotting to kill him on the way.</span>
  <span class="verse" title="Acts 25:4" id="Acts-25-4">However Festus answered that Paul should be kept in custody at Caesarea, and that he himself was about to depart shortly.</span>
  <span class="verse" title="Acts 25:5" id="Acts-25-5">&#8220;Let them therefore,&#8221; said he, &#8220;that are in power among you go down with me, and if there is anything wrong in the man, let them accuse him.&#8221;</span>
  <span class="verse" title="Acts 25:6" id="Acts-25-6">When he had stayed among them more than ten days, he went down to Caesarea, and on the next day he sat on the judgment seat, and commanded Paul to be brought.</span>
  <span class="verse" title="Acts 25:7" id="Acts-25-7">When he had come, the Jews who had come down from Jerusalem stood around him, bringing against him many and grievous charges which they could not prove,</span>
  <span class="verse" title="Acts 25:8" id="Acts-25-8">while he said in his defense, &#8220;Neither against the law of the Jews, nor against the temple, nor against Caesar, have I sinned at all.&#8221;</span>
  <span class="verse" title="Acts 25:9" id="Acts-25-9">But Festus, desiring to gain favor with the Jews, answered Paul and said, &#8220;Are you willing to go up to Jerusalem, and be judged by me there concerning these things?&#8221;</span>
  <span class="verse" title="Acts 25:10" id="Acts-25-10">But Paul said, &#8220;I am standing before Caesar&#8217;s judgment seat, where I ought to be tried. I have done no wrong to the Jews, as you also know very well.</span>
  <span class="verse" title="Acts 25:11" id="Acts-25-11">For if I have done wrong, and have committed anything worthy of death, I don&#8217;t refuse to die; but if none of those things is true that they accuse me of, no one can give me up to them. I appeal to Caesar!&#8221;</span>
  <span class="verse" title="Acts 25:12" id="Acts-25-12">Then Festus, when he had conferred with the council, answered, &#8220;You have appealed to Caesar. To Caesar you shall go.&#8221;</span>
  <span class="verse" title="Acts 25:13" id="Acts-25-13">Now when some days had passed, King Agrippa and Bernice arrived at Caesarea, and greeted Festus.</span>
  <span class="verse" title="Acts 25:14" id="Acts-25-14">As he stayed there many days, Festus laid Paul&#8217;s case before the king, saying, &#8220;There is a certain man left a prisoner by Felix;</span>
  <span class="verse" title="Acts 25:15" id="Acts-25-15">about whom, when I was at Jerusalem, the chief priests and the elders of the Jews informed me, asking for a sentence against him.</span>
  <span class="verse" title="Acts 25:16" id="Acts-25-16">To whom I answered that it is not the custom of the Romans to give up any man to destruction, before the accused has met the accusers face to face, and has had opportunity to make his defense concerning the matter laid against him.</span>
  <span class="verse" title="Acts 25:17" id="Acts-25-17">When therefore they had come together here, I didn&#8217;t delay, but on the next day sat on the judgment seat, and commanded the man to be brought.</span>
  <span class="verse" title="Acts 25:18" id="Acts-25-18">Concerning whom, when the accusers stood up, they brought no charge of such things as I supposed;</span>
  <span class="verse" title="Acts 25:19" id="Acts-25-19">but had certain questions against him about their own religion, and about one Jesus, who was dead, whom Paul affirmed to be alive.</span>
  <span class="verse" title="Acts 25:20" id="Acts-25-20">Being perplexed how to inquire concerning these things, I asked whether he was willing to go to Jerusalem and there be judged concerning these matters.</span>
  <span class="verse" title="Acts 25:21" id="Acts-25-21">But when Paul had appealed to be kept for the decision of the emperor, I commanded him to be kept until I could send him to Caesar.&#8221;</span>
  <span class="verse" title="Acts 25:22" id="Acts-25-22">Agrippa said to Festus, &#8220;I also would like to hear the man myself.&#8221; &#8220;Tomorrow,&#8221; he said, &#8220;you shall hear him.&#8221;</span>
  <span class="verse" title="Acts 25:23" id="Acts-25-23">So on the next day, when Agrippa and Bernice had come with great pomp, and they had entered into the place of hearing with the commanding officers and principal men of the city, at the command of Festus, Paul was brought in.</span>
  <span class="verse" title="Acts 25:24" id="Acts-25-24">Festus said, &#8220;King Agrippa, and all men who are here present with us, you see this man, about whom all the multitude of the Jews petitioned me, both at Jerusalem and here, crying that he ought not to live any longer.</span>
  <span class="verse" title="Acts 25:25" id="Acts-25-25">But when I found that he had committed nothing worthy of death, and as he himself appealed to the emperor I determined to send him.</span>
  <span class="verse" title="Acts 25:26" id="Acts-25-26">Of whom I have no certain thing to write to my lord. Therefore I have brought him forth before you, and especially before you, King Agrippa, that, after examination, I may have something to write.</span>
  <span class="verse" title="Acts 25:27" id="Acts-25-27">For it seems to me unreasonable, in sending a prisoner, not to also specify the charges against him.&#8221;</span>
</div>