<div class="chapter" id="Acts-026">
  <h2>Acts 26</h2>
  <span class="verse" title="Acts 26:1" id="Acts-26-1">Agrippa said to Paul, &#8220;You may speak for yourself.&#8221; Then Paul stretched out his hand, and made his defense.</span>
  <span class="verse" title="Acts 26:2" id="Acts-26-2">&#8220;I think myself happy, King Agrippa, that I am to make my defense before you this day concerning all the things that I am accused by the Jews,</span>
  <span class="verse" title="Acts 26:3" id="Acts-26-3">especially because you are expert in all customs and questions which are among the Jews. Therefore I beg you to hear me patiently.</span>
  <span class="verse" title="Acts 26:4" id="Acts-26-4">&#8220;Indeed, all the Jews know my way of life from my youth up, which was from the beginning among my own nation and at Jerusalem;</span>
  <span class="verse" title="Acts 26:5" id="Acts-26-5">having known me from the first, if they are willing to testify, that after the strictest sect of our religion I lived a Pharisee.</span>
  <span class="verse" title="Acts 26:6" id="Acts-26-6">Now I stand here to be judged for the hope of the promise made by God to our fathers,</span>
  <span class="verse" title="Acts 26:7" id="Acts-26-7">which our twelve tribes, earnestly serving night and day, hope to attain. Concerning this hope I am accused by the Jews, King Agrippa!</span>
  <span class="verse" title="Acts 26:8" id="Acts-26-8">Why is it judged incredible with you, if God does raise the dead?</span>
  <span class="verse" title="Acts 26:9" id="Acts-26-9">&#8220;I myself most certainly thought that I ought to do many things contrary to the name of Jesus of Nazareth.</span>
  <span class="verse" title="Acts 26:10" id="Acts-26-10">This I also did in Jerusalem. I both shut up many of the saints in prisons, having received authority from the chief priests, and when they were put to death I gave my vote against them.</span>
  <span class="verse" title="Acts 26:11" id="Acts-26-11">Punishing them often in all the synagogues, I tried to make them blaspheme. Being exceedingly enraged against them, I persecuted them even to foreign cities.</span>
  <span class="verse" title="Acts 26:12" id="Acts-26-12">&#8220;Whereupon as I traveled to Damascus with the authority and commission from the chief priests,</span>
  <span class="verse" title="Acts 26:13" id="Acts-26-13">at noon, O king, I saw on the way a light from the sky, brighter than the sun, shining around me and those who traveled with me.</span>
  <span class="verse" title="Acts 26:14" id="Acts-26-14">When we had all fallen to the earth, I heard a voice saying to me in the Hebrew language, &#8216;Saul, Saul, why are you persecuting me? It is hard for you to kick against the goads.&#8217;</span>
  <span class="verse" title="Acts 26:15" id="Acts-26-15">&#8220;I said, &#8216;Who are you, Lord?&#8217; &#8220;He said, &#8216;I am Jesus, whom you are persecuting.</span>
  <span class="verse" title="Acts 26:16" id="Acts-26-16">But arise, and stand on your feet, for I have appeared to you for this purpose: to appoint you a servant and a witness both of the things which you have seen, and of the things which I will reveal to you;</span>
  <span class="verse" title="Acts 26:17" id="Acts-26-17">delivering you from the people, and from the Gentiles, to whom I send you,</span>
  <span class="verse" title="Acts 26:18" id="Acts-26-18">to open their eyes, that they may turn from darkness to light and from the power of Satan to God, that they may receive remission of sins and an inheritance among those who are sanctified by faith in me.&#8217;</span>
  <span class="verse" title="Acts 26:19" id="Acts-26-19">&#8220;Therefore, King Agrippa, I was not disobedient to the heavenly vision,</span>
  <span class="verse" title="Acts 26:20" id="Acts-26-20">but declared first to them of Damascus, at Jerusalem, and throughout all the country of Judea, and also to the Gentiles, that they should repent and turn to God, doing works worthy of repentance.</span>
  <span class="verse" title="Acts 26:21" id="Acts-26-21">For this reason the Jews seized me in the temple, and tried to kill me.</span>
  <span class="verse" title="Acts 26:22" id="Acts-26-22">Having therefore obtained the help that is from God, I stand to this day testifying both to small and great, saying nothing but what the prophets and Moses said would happen,</span>
  <span class="verse" title="Acts 26:23" id="Acts-26-23">how the Christ must suffer, and how, by the resurrection of the dead, he would be first to proclaim light both to these people and to the Gentiles.&#8221;</span>
  <span class="verse" title="Acts 26:24" id="Acts-26-24">As he thus made his defense, Festus said with a loud voice, &#8220;Paul, you are crazy! Your great learning is driving you insane!&#8221;</span>
  <span class="verse" title="Acts 26:25" id="Acts-26-25">But he said, &#8220;I am not crazy, most excellent Festus, but boldly declare words of truth and reasonableness.</span>
  <span class="verse" title="Acts 26:26" id="Acts-26-26">For the king knows of these things, to whom also I speak freely. For I am persuaded that none of these things is hidden from him, for this has not been done in a corner.</span>
  <span class="verse" title="Acts 26:27" id="Acts-26-27">King Agrippa, do you believe the prophets? I know that you believe.&#8221;</span>
  <span class="verse" title="Acts 26:28" id="Acts-26-28">Agrippa said to Paul, &#8220;With a little persuasion are you trying to make me a Christian?&#8221;</span>
  <span class="verse" title="Acts 26:29" id="Acts-26-29">Paul said, &#8220;I pray to God, that whether with little or with much, not only you, but also all that hear me this day, might become such as I am, except for these bonds.&#8221;</span>
  <span class="verse" title="Acts 26:30" id="Acts-26-30">The king rose up with the governor, and Bernice, and those who sat with them.</span>
  <span class="verse" title="Acts 26:31" id="Acts-26-31">When they had withdrawn, they spoke one to another, saying, &#8220;This man does nothing worthy of death or of bonds.&#8221;</span>
  <span class="verse" title="Acts 26:32" id="Acts-26-32">Agrippa said to Festus, &#8220;This man might have been set free if he had not appealed to Caesar.&#8221;</span>
</div>