<div class="chapter" id="Acts-027">
  <h2>Acts 27</h2>
  <span class="verse" title="Acts 27:1" id="Acts-27-1">When it was determined that we should sail for Italy, they delivered Paul and certain other prisoners to a centurion named Julius, of the Augustan band.</span>
  <span class="verse" title="Acts 27:2" id="Acts-27-2">Embarking in a ship of Adramyttium, which was about to sail to places on the coast of Asia, we put to sea; Aristarchus, a Macedonian of Thessalonica, being with us.</span>
  <span class="verse" title="Acts 27:3" id="Acts-27-3">The next day, we touched at Sidon. Julius treated Paul kindly, and gave him permission to go to his friends and refresh himself.</span>
  <span class="verse" title="Acts 27:4" id="Acts-27-4">Putting to sea from there, we sailed under the lee of Cyprus, because the winds were contrary.</span>
  <span class="verse" title="Acts 27:5" id="Acts-27-5">When we had sailed across the sea which is off Cilicia and Pamphylia, we came to Myra, a city of Lycia.</span>
  <span class="verse" title="Acts 27:6" id="Acts-27-6">There the centurion found a ship of Alexandria sailing for Italy, and he put us on board.</span>
  <span class="verse" title="Acts 27:7" id="Acts-27-7">When we had sailed slowly many days, and had come with difficulty opposite Cnidus, the wind not allowing us further, we sailed under the lee of Crete, opposite Salmone.</span>
  <span class="verse" title="Acts 27:8" id="Acts-27-8">With difficulty sailing along it we came to a certain place called Fair Havens, near the city of Lasea.</span>
  <span class="verse" title="Acts 27:9" id="Acts-27-9">When much time had passed and the voyage was now dangerous, because the Fast had now already gone by, Paul admonished them,</span>
  <span class="verse" title="Acts 27:10" id="Acts-27-10">and said to them, &#8220;Sirs, I perceive that the voyage will be with injury and much loss, not only of the cargo and the ship, but also of our lives.&#8221;</span>
  <span class="verse" title="Acts 27:11" id="Acts-27-11">But the centurion gave more heed to the master and to the owner of the ship than to those things which were spoken by Paul.</span>
  <span class="verse" title="Acts 27:12" id="Acts-27-12">Because the haven was not suitable to winter in, the majority advised going to sea from there, if by any means they could reach Phoenix, and winter there, which is a port of Crete, looking northeast and southeast.</span>
  <span class="verse" title="Acts 27:13" id="Acts-27-13">When the south wind blew softly, supposing that they had obtained their purpose, they weighed anchor and sailed along Crete, close to shore.</span>
  <span class="verse" title="Acts 27:14" id="Acts-27-14">But before long, a stormy wind beat down from shore, which is called Euroclydon.</span>
  <span class="verse" title="Acts 27:15" id="Acts-27-15">When the ship was caught, and couldn&#8217;t face the wind, we gave way to it, and were driven along.</span>
  <span class="verse" title="Acts 27:16" id="Acts-27-16">Running under the lee of a small island called Clauda, we were able, with difficulty, to secure the boat.</span>
  <span class="verse" title="Acts 27:17" id="Acts-27-17">After they had hoisted it up, they used cables to help reinforce the ship. Fearing that they would run aground on the Syrtis sand bars, they lowered the sea anchor, and so were driven along.</span>
  <span class="verse" title="Acts 27:18" id="Acts-27-18">As we labored exceedingly with the storm, the next day they began to throw things overboard.</span>
  <span class="verse" title="Acts 27:19" id="Acts-27-19">On the third day, they threw out the ship&#8217;s tackle with their own hands.</span>
  <span class="verse" title="Acts 27:20" id="Acts-27-20">When neither sun nor stars shone on us for many days, and no small storm pressed on us, all hope that we would be saved was now taken away.</span>
  <span class="verse" title="Acts 27:21" id="Acts-27-21">When they had been long without food, Paul stood up in the middle of them, and said, &#8220;Sirs, you should have listened to me, and not have set sail from Crete, and have gotten this injury and loss.</span>
  <span class="verse" title="Acts 27:22" id="Acts-27-22">Now I exhort you to cheer up, for there will be no loss of life among you, but only of the ship.</span>
  <span class="verse" title="Acts 27:23" id="Acts-27-23">For there stood by me this night an angel, belonging to the God whose I am and whom I serve,</span>
  <span class="verse" title="Acts 27:24" id="Acts-27-24">saying, &#8216;Don&#8217;t be afraid, Paul. You must stand before Caesar. Behold, God has granted you all those who sail with you.&#8217;</span>
  <span class="verse" title="Acts 27:25" id="Acts-27-25">Therefore, sirs, cheer up! For I believe God, that it will be just as it has been spoken to me.</span>
  <span class="verse" title="Acts 27:26" id="Acts-27-26">But we must run aground on a certain island.&#8221;</span>
  <span class="verse" title="Acts 27:27" id="Acts-27-27">But when the fourteenth night had come, as we were driven back and forth in the Adriatic Sea, about midnight the sailors surmised that they were drawing near to some land.</span>
  <span class="verse" title="Acts 27:28" id="Acts-27-28">They took soundings, and found twenty fathoms. After a little while, they took soundings again, and found fifteen fathoms.</span>
  <span class="verse" title="Acts 27:29" id="Acts-27-29">Fearing that we would run aground on rocky ground, they let go four anchors from the stern, and wished for daylight.</span>
  <span class="verse" title="Acts 27:30" id="Acts-27-30">As the sailors were trying to flee out of the ship, and had lowered the boat into the sea, pretending that they would lay out anchors from the bow,</span>
  <span class="verse" title="Acts 27:31" id="Acts-27-31">Paul said to the centurion and to the soldiers, &#8220;Unless these stay in the ship, you can&#8217;t be saved.&#8221;</span>
  <span class="verse" title="Acts 27:32" id="Acts-27-32">Then the soldiers cut away the ropes of the boat, and let it fall off.</span>
  <span class="verse" title="Acts 27:33" id="Acts-27-33">While the day was coming on, Paul begged them all to take some food, saying, &#8220;This day is the fourteenth day that you wait and continue fasting, having taken nothing.</span>
  <span class="verse" title="Acts 27:34" id="Acts-27-34">Therefore I beg you to take some food, for this is for your safety; for not a hair will perish from any of your heads.&#8221;</span>
  <span class="verse" title="Acts 27:35" id="Acts-27-35">When he had said this, and had taken bread, he gave thanks to God in the presence of all, and he broke it, and began to eat.</span>
  <span class="verse" title="Acts 27:36" id="Acts-27-36">Then they all cheered up, and they also took food.</span>
  <span class="verse" title="Acts 27:37" id="Acts-27-37">In all, we were two hundred seventy-six souls on the ship.</span>
  <span class="verse" title="Acts 27:38" id="Acts-27-38">When they had eaten enough, they lightened the ship, throwing out the wheat into the sea.</span>
  <span class="verse" title="Acts 27:39" id="Acts-27-39">When it was day, they didn&#8217;t recognize the land, but they noticed a certain bay with a beach, and they decided to try to drive the ship onto it.</span>
  <span class="verse" title="Acts 27:40" id="Acts-27-40">Casting off the anchors, they left them in the sea, at the same time untying the rudder ropes. Hoisting up the foresail to the wind, they made for the beach.</span>
  <span class="verse" title="Acts 27:41" id="Acts-27-41">But coming to a place where two seas met, they ran the vessel aground. The bow struck and remained immovable, but the stern began to break up by the violence of the waves.</span>
  <span class="verse" title="Acts 27:42" id="Acts-27-42">The soldiers&#8217; counsel was to kill the prisoners, so that none of them would swim out and escape.</span>
  <span class="verse" title="Acts 27:43" id="Acts-27-43">But the centurion, desiring to save Paul, stopped them from their purpose, and commanded that those who could swim should throw themselves overboard first to go toward the land;</span>
  <span class="verse" title="Acts 27:44" id="Acts-27-44">and the rest should follow, some on planks, and some on other things from the ship. So it happened that they all escaped safely to the land.</span>
</div>