<div class="chapter" id="2 Chronicles-003">
  <h2>2 Chronicles 3</h2>
  <span class="verse" title="2 Chronicles 3:1" id="2_Chronicles-3-1">Then Solomon began to build the house of Yahweh at Jerusalem on Mount Moriah, where Yahweh appeared to David his father, which he prepared in the place that David had appointed, in the threshing floor of Ornan the Jebusite.</span>
  <span class="verse" title="2 Chronicles 3:2" id="2_Chronicles-3-2">He began to build in the second day of the second month, in the fourth year of his reign.</span>
  <span class="verse" title="2 Chronicles 3:3" id="2_Chronicles-3-3">Now these are the foundations which Solomon laid for the building of the house of God. The length by cubits after the first measure was sixty cubits, and the breadth twenty cubits.</span>
  <span class="verse" title="2 Chronicles 3:4" id="2_Chronicles-3-4">The porch that was in front, its length, according to the breadth of the house, was twenty cubits, and the height one hundred twenty; and he overlaid it within with pure gold.</span>
  <span class="verse" title="2 Chronicles 3:5" id="2_Chronicles-3-5">The greater house he made a ceiling with fir wood, which he overlaid with fine gold, and ornamented it with palm trees and chains.</span>
  <span class="verse" title="2 Chronicles 3:6" id="2_Chronicles-3-6">He garnished the house with precious stones for beauty: and the gold was gold of Parvaim.</span>
  <span class="verse" title="2 Chronicles 3:7" id="2_Chronicles-3-7">He overlaid also the house, the beams, the thresholds, and its walls, and its doors, with gold; and engraved cherubim on the walls.</span>
  <span class="verse" title="2 Chronicles 3:8" id="2_Chronicles-3-8">He made the most holy house: its length, according to the breadth of the house, was twenty cubits, and its breadth twenty cubits; and he overlaid it with fine gold, amounting to six hundred talents.</span>
  <span class="verse" title="2 Chronicles 3:9" id="2_Chronicles-3-9">The weight of the nails was fifty shekels of gold. He overlaid the upper rooms with gold.</span>
  <span class="verse" title="2 Chronicles 3:10" id="2_Chronicles-3-10">In the most holy house he made two cherubim of image work; and they overlaid them with gold.</span>
  <span class="verse" title="2 Chronicles 3:11" id="2_Chronicles-3-11">The wings of the cherubim were twenty cubits long: the wing of the one was five cubits, reaching to the wall of the house; and the other wing was five cubits, reaching to the wing of the other cherub.</span>
  <span class="verse" title="2 Chronicles 3:12" id="2_Chronicles-3-12">The wing of the other cherub was five cubits, reaching to the wall of the house; and the other wing was five cubits, joining to the wing of the other cherub.</span>
  <span class="verse" title="2 Chronicles 3:13" id="2_Chronicles-3-13">The wings of these cherubim spread themselves forth twenty cubits: and they stood on their feet, and their faces were toward the house.</span>
  <span class="verse" title="2 Chronicles 3:14" id="2_Chronicles-3-14">He made the veil of blue, and purple, and crimson, and fine linen, and ornamented it with cherubim.</span>
  <span class="verse" title="2 Chronicles 3:15" id="2_Chronicles-3-15">Also he made before the house two pillars of thirty-five cubits high, and the capital that was on the top of each of them was five cubits.</span>
  <span class="verse" title="2 Chronicles 3:16" id="2_Chronicles-3-16">He made chains in the oracle, and put them on the tops of the pillars; and he made one hundred pomegranates, and put them on the chains.</span>
  <span class="verse" title="2 Chronicles 3:17" id="2_Chronicles-3-17">He set up the pillars before the temple, one on the right hand, and the other on the left; and called the name of that on the right hand Jachin, and the name of that on the left Boaz.</span>
</div>