<div class="chapter" id="2 Chronicles-004">
  <h2>2 Chronicles 4</h2>
  <span class="verse" title="2 Chronicles 4:1" id="2_Chronicles-4-1">Then he made an altar of brass, twenty cubits its length, and twenty cubits its breadth, and ten cubits its height.</span>
  <span class="verse" title="2 Chronicles 4:2" id="2_Chronicles-4-2">Also he made the molten sea of ten cubits from brim to brim, round in compass; and its height was five cubits; and a line of thirty cubits encircled it.</span>
  <span class="verse" title="2 Chronicles 4:3" id="2_Chronicles-4-3">Under it was the likeness of oxen, which encircled it, for ten cubits, encircling the sea. The oxen were in two rows, cast when it was cast.</span>
  <span class="verse" title="2 Chronicles 4:4" id="2_Chronicles-4-4">It stood on twelve oxen, three looking toward the north, and three looking toward the west, and three looking toward the south, and three looking toward the east: and the sea was set on them above, and all their hinder parts were inward.</span>
  <span class="verse" title="2 Chronicles 4:5" id="2_Chronicles-4-5">It was a handbreadth thick; and its brim was worked like the brim of a cup, like the flower of a lily: it received and held three thousand baths.</span>
  <span class="verse" title="2 Chronicles 4:6" id="2_Chronicles-4-6">He made also ten basins, and put five on the right hand, and five on the left, to wash in them; such things as belonged to the burnt offering they washed in them; but the sea was for the priests to wash in.</span>
  <span class="verse" title="2 Chronicles 4:7" id="2_Chronicles-4-7">He made the ten lampstands of gold according to the ordinance concerning them; and he set them in the temple, five on the right hand, and five on the left.</span>
  <span class="verse" title="2 Chronicles 4:8" id="2_Chronicles-4-8">He made also ten tables, and placed them in the temple, five on the right side, and five on the left. He made one hundred basins of gold.</span>
  <span class="verse" title="2 Chronicles 4:9" id="2_Chronicles-4-9">Furthermore he made the court of the priests, and the great court, and doors for the court, and overlaid their doors with brass.</span>
  <span class="verse" title="2 Chronicles 4:10" id="2_Chronicles-4-10">He set the sea on the right side of the house eastward, toward the south.</span>
  <span class="verse" title="2 Chronicles 4:11" id="2_Chronicles-4-11">Huram made the pots, and the shovels, and the basins. So Huram made an end of doing the work that he did for king Solomon in the house of God:</span>
  <span class="verse" title="2 Chronicles 4:12" id="2_Chronicles-4-12">the two pillars, and the bowls, and the two capitals which were on the top of the pillars, and the two networks to cover the two bowls of the capitals that were on the top of the pillars,</span>
  <span class="verse" title="2 Chronicles 4:13" id="2_Chronicles-4-13">and the four hundred pomegranates for the two networks; two rows of pomegranates for each network, to cover the two bowls of the capitals that were on the pillars.</span>
  <span class="verse" title="2 Chronicles 4:14" id="2_Chronicles-4-14">He made also the bases, and the basins made he on the bases;</span>
  <span class="verse" title="2 Chronicles 4:15" id="2_Chronicles-4-15">one sea, and the twelve oxen under it.</span>
  <span class="verse" title="2 Chronicles 4:16" id="2_Chronicles-4-16">Huram his father also made the pots, the shovels, the forks, and all its vessels for king Solomon for the house of Yahweh of bright brass.</span>
  <span class="verse" title="2 Chronicles 4:17" id="2_Chronicles-4-17">The king cast them in the plain of the Jordan, in the clay ground between Succoth and Zeredah.</span>
  <span class="verse" title="2 Chronicles 4:18" id="2_Chronicles-4-18">Thus Solomon made all these vessels in great abundance: for the weight of the brass could not be found out.</span>
  <span class="verse" title="2 Chronicles 4:19" id="2_Chronicles-4-19">Solomon made all the vessels that were in the house of God, the golden altar also, and the tables with the show bread on them;</span>
  <span class="verse" title="2 Chronicles 4:20" id="2_Chronicles-4-20">and the lampstands with their lamps, to burn according to the ordinance before the oracle, of pure gold;</span>
  <span class="verse" title="2 Chronicles 4:21" id="2_Chronicles-4-21">and the flowers, and the lamps, and the tongs, of gold, and that perfect gold;</span>
  <span class="verse" title="2 Chronicles 4:22" id="2_Chronicles-4-22">and the snuffers, and the basins, and the spoons, and the fire pans, of pure gold: and as for the entry of the house, the inner doors of it for the most holy place, and the doors of the main hall of the temple were of gold.</span>
</div>