<div class="chapter" id="2 Chronicles-011">
  <h2>2 Chronicles 11</h2>
  <span class="verse" title="2 Chronicles 11:1" id="2_Chronicles-11-1">When Rehoboam had come to Jerusalem, he assembled the house of Judah and Benjamin, one hundred eighty thousand chosen men, who were warriors, to fight against Israel, to bring the kingdom again to Rehoboam.</span>
  <span class="verse" title="2 Chronicles 11:2" id="2_Chronicles-11-2">But the word of Yahweh came to Shemaiah the man of God, saying,</span>
  <span class="verse" title="2 Chronicles 11:3" id="2_Chronicles-11-3">&#8220;Speak to Rehoboam the son of Solomon, king of Judah, and to all Israel in Judah and Benjamin, saying,</span>
  <span class="verse" title="2 Chronicles 11:4" id="2_Chronicles-11-4">&#8216;Thus says Yahweh, &#8220;You shall not go up, nor fight against your brothers! Return every man to his house; for this thing is of me.&#8221;&#8217;&#8221; So they listened to the words of Yahweh, and returned from going against Jeroboam.</span>
  <span class="verse" title="2 Chronicles 11:5" id="2_Chronicles-11-5">Rehoboam lived in Jerusalem, and built cities for defense in Judah.</span>
  <span class="verse" title="2 Chronicles 11:6" id="2_Chronicles-11-6">He built Bethlehem, and Etam, and Tekoa,</span>
  <span class="verse" title="2 Chronicles 11:7" id="2_Chronicles-11-7">Beth Zur, and Soco, and Adullam,</span>
  <span class="verse" title="2 Chronicles 11:8" id="2_Chronicles-11-8">and Gath, and Mareshah, and Ziph,</span>
  <span class="verse" title="2 Chronicles 11:9" id="2_Chronicles-11-9">and Adoraim, and Lachish, and Azekah,</span>
  <span class="verse" title="2 Chronicles 11:10" id="2_Chronicles-11-10">and Zorah, and Aijalon, and Hebron, which are in Judah and in Benjamin, fortified cities.</span>
  <span class="verse" title="2 Chronicles 11:11" id="2_Chronicles-11-11">He fortified the strongholds, and put captains in them, and stores of food, and oil and wine.</span>
  <span class="verse" title="2 Chronicles 11:12" id="2_Chronicles-11-12">He put shields and spears in every city, and made them exceeding strong. Judah and Benjamin belonged to him.</span>
  <span class="verse" title="2 Chronicles 11:13" id="2_Chronicles-11-13">The priests and the Levites who were in all Israel resorted to him out of all their border.</span>
  <span class="verse" title="2 Chronicles 11:14" id="2_Chronicles-11-14">For the Levites left their suburbs and their possession, and came to Judah and Jerusalem: for Jeroboam and his sons cast them off, that they should not execute the priest&#8217;s office to Yahweh;</span>
  <span class="verse" title="2 Chronicles 11:15" id="2_Chronicles-11-15">and he appointed him priests for the high places, and for the male goats, and for the calves which he had made.</span>
  <span class="verse" title="2 Chronicles 11:16" id="2_Chronicles-11-16">After them, out of all the tribes of Israel, such as set their hearts to seek Yahweh, the God of Israel, came to Jerusalem to sacrifice to Yahweh, the God of their fathers.</span>
  <span class="verse" title="2 Chronicles 11:17" id="2_Chronicles-11-17">So they strengthened the kingdom of Judah, and made Rehoboam the son of Solomon strong, three years; for they walked three years in the way of David and Solomon.</span>
  <span class="verse" title="2 Chronicles 11:18" id="2_Chronicles-11-18">Rehoboam took him a wife, Mahalath the daughter of Jerimoth the son of David, and of Abihail the daughter of Eliab the son of Jesse;</span>
  <span class="verse" title="2 Chronicles 11:19" id="2_Chronicles-11-19">and she bore him sons: Jeush, and Shemariah, and Zaham.</span>
  <span class="verse" title="2 Chronicles 11:20" id="2_Chronicles-11-20">After her he took Maacah the daughter of Absalom; and she bore him Abijah, and Attai, and Ziza, and Shelomith.</span>
  <span class="verse" title="2 Chronicles 11:21" id="2_Chronicles-11-21">Rehoboam loved Maacah the daughter of Absalom above all his wives and his concubines: (for he took eighteen wives, and sixty concubines, and became the father of twenty-eight sons and sixty daughters.)</span>
  <span class="verse" title="2 Chronicles 11:22" id="2_Chronicles-11-22">Rehoboam appointed Abijah the son of Maacah to be chief, the prince among his brothers; for he intended to make him king.</span>
  <span class="verse" title="2 Chronicles 11:23" id="2_Chronicles-11-23">He dealt wisely, and dispersed of all his sons throughout all the lands of Judah and Benjamin, to every fortified city: and he gave them food in abundance. He sought for them many wives.</span>
</div>