<div class="chapter" id="2 Chronicles-014">
  <h2>2 Chronicles 14</h2>
  <span class="verse" title="2 Chronicles 14:1" id="2_Chronicles-14-1">So Abijah slept with his fathers, and they buried him in the city of David; and Asa his son reigned in his place. In his days the land was quiet ten years.</span>
  <span class="verse" title="2 Chronicles 14:2" id="2_Chronicles-14-2">Asa did that which was good and right in the eyes of Yahweh his God:</span>
  <span class="verse" title="2 Chronicles 14:3" id="2_Chronicles-14-3">for he took away the foreign altars, and the high places, and broke down the pillars, and cut down the Asherim,</span>
  <span class="verse" title="2 Chronicles 14:4" id="2_Chronicles-14-4">and commanded Judah to seek Yahweh, the God of their fathers, and to do the law and the commandment.</span>
  <span class="verse" title="2 Chronicles 14:5" id="2_Chronicles-14-5">Also he took away out of all the cities of Judah the high places and the sun images: and the kingdom was quiet before him.</span>
  <span class="verse" title="2 Chronicles 14:6" id="2_Chronicles-14-6">He built fortified cities in Judah; for the land was quiet, and he had no war in those years, because Yahweh had given him rest.</span>
  <span class="verse" title="2 Chronicles 14:7" id="2_Chronicles-14-7">For he said to Judah, &#8220;Let us build these cities, and make walls around them, with towers, gates, and bars. The land is yet before us, because we have sought Yahweh our God; we have sought him, and he has given us rest on every side.&#8221; So they built and prospered.</span>
  <span class="verse" title="2 Chronicles 14:8" id="2_Chronicles-14-8">Asa had an army that bore bucklers and spears, out of Judah three hundred thousand; and out of Benjamin, that bore shields and drew bows, two hundred eighty thousand: all these were mighty men of valor.</span>
  <span class="verse" title="2 Chronicles 14:9" id="2_Chronicles-14-9">There came out against them Zerah the Ethiopian with an army of a million troops, and three hundred chariots; and he came to Mareshah.</span>
  <span class="verse" title="2 Chronicles 14:10" id="2_Chronicles-14-10">Then Asa went out to meet him, and they set the battle in array in the valley of Zephathah at Mareshah.</span>
  <span class="verse" title="2 Chronicles 14:11" id="2_Chronicles-14-11">Asa cried to Yahweh his God, and said, &#8220;Yahweh, there is none besides you to help, between the mighty and him who has no strength. Help us, Yahweh our God; for we rely on you, and in your name are we come against this multitude. Yahweh, you are our God. Don&#8217;t let man prevail against you.&#8221;</span>
  <span class="verse" title="2 Chronicles 14:12" id="2_Chronicles-14-12">So Yahweh struck the Ethiopians before Asa, and before Judah; and the Ethiopians fled.</span>
  <span class="verse" title="2 Chronicles 14:13" id="2_Chronicles-14-13">Asa and the people who were with him pursued them to Gerar: and there fell of the Ethiopians so many that they could not recover themselves; for they were destroyed before Yahweh, and before his army; and they carried away very much booty.</span>
  <span class="verse" title="2 Chronicles 14:14" id="2_Chronicles-14-14">They struck all the cities around Gerar; for the fear of Yahweh came on them: and they despoiled all the cities; for there was much spoil in them.</span>
  <span class="verse" title="2 Chronicles 14:15" id="2_Chronicles-14-15">They struck also the tents of livestock, and carried away sheep in abundance, and camels, and returned to Jerusalem.</span>
</div>