<div class="chapter" id="2 Chronicles-015">
  <h2>2 Chronicles 15</h2>
  <span class="verse" title="2 Chronicles 15:1" id="2_Chronicles-15-1">The Spirit of God came on Azariah the son of Oded:</span>
  <span class="verse" title="2 Chronicles 15:2" id="2_Chronicles-15-2">and he went out to meet Asa, and said to him, &#8220;Hear me, Asa, and all Judah and Benjamin! Yahweh is with you, while you are with him; and if you seek him, he will be found by you; but if you forsake him, he will forsake you.</span>
  <span class="verse" title="2 Chronicles 15:3" id="2_Chronicles-15-3">Now for a long time Israel was without the true God, and without a teaching priest, and without law.</span>
  <span class="verse" title="2 Chronicles 15:4" id="2_Chronicles-15-4">But when in their distress they turned to Yahweh, the God of Israel, and sought him, he was found by them.</span>
  <span class="verse" title="2 Chronicles 15:5" id="2_Chronicles-15-5">In those times there was no peace to him who went out, nor to him who came in; but great troubles were on all the inhabitants of the lands.</span>
  <span class="verse" title="2 Chronicles 15:6" id="2_Chronicles-15-6">They were broken in pieces, nation against nation, and city against city; for God troubled them with all adversity.</span>
  <span class="verse" title="2 Chronicles 15:7" id="2_Chronicles-15-7">But you be strong, and don&#8217;t let your hands be slack; for your work shall be rewarded.&#8221;</span>
  <span class="verse" title="2 Chronicles 15:8" id="2_Chronicles-15-8">When Asa heard these words, and the prophecy of Oded the prophet, he took courage, and put away the abominations out of all the land of Judah and Benjamin, and out of the cities which he had taken from the hill country of Ephraim; and he renewed the altar of Yahweh, that was before the porch of Yahweh.</span>
  <span class="verse" title="2 Chronicles 15:9" id="2_Chronicles-15-9">He gathered all Judah and Benjamin, and those who lived with them out of Ephraim and Manasseh, and out of Simeon: for they fell to him out of Israel in abundance, when they saw that Yahweh his God was with him.</span>
  <span class="verse" title="2 Chronicles 15:10" id="2_Chronicles-15-10">So they gathered themselves together at Jerusalem in the third month, in the fifteenth year of the reign of Asa.</span>
  <span class="verse" title="2 Chronicles 15:11" id="2_Chronicles-15-11">They sacrificed to Yahweh in that day, of the spoil which they had brought, seven hundred head of cattle and seven thousand sheep.</span>
  <span class="verse" title="2 Chronicles 15:12" id="2_Chronicles-15-12">They entered into the covenant to seek Yahweh, the God of their fathers, with all their heart and with all their soul;</span>
  <span class="verse" title="2 Chronicles 15:13" id="2_Chronicles-15-13">and that whoever would not seek Yahweh, the God of Israel, should be put to death, whether small or great, whether man or woman.</span>
  <span class="verse" title="2 Chronicles 15:14" id="2_Chronicles-15-14">They swore to Yahweh with a loud voice, and with shouting, and with trumpets, and with cornets.</span>
  <span class="verse" title="2 Chronicles 15:15" id="2_Chronicles-15-15">All Judah rejoiced at the oath; for they had sworn with all their heart, and sought him with their whole desire; and he was found of them: and Yahweh gave them rest all around.</span>
  <span class="verse" title="2 Chronicles 15:16" id="2_Chronicles-15-16">Also Maacah, the mother of Asa the king, he removed from being queen, because she had made an abominable image for an Asherah; and Asa cut down her image, and made dust of it, and burnt it at the brook Kidron.</span>
  <span class="verse" title="2 Chronicles 15:17" id="2_Chronicles-15-17">But the high places were not taken away out of Israel: nevertheless the heart of Asa was perfect all his days.</span>
  <span class="verse" title="2 Chronicles 15:18" id="2_Chronicles-15-18">He brought into the house of God the things that his father had dedicated, and that he himself had dedicated, silver, and gold, and vessels.</span>
  <span class="verse" title="2 Chronicles 15:19" id="2_Chronicles-15-19">There was no more war to the five and thirtieth year of the reign of Asa.</span>
</div>