<div class="chapter" id="2 Chronicles-017">
  <h2>2 Chronicles 17</h2>
  <span class="verse" title="2 Chronicles 17:1" id="2_Chronicles-17-1">Jehoshaphat his son reigned in his place, and strengthened himself against Israel.</span>
  <span class="verse" title="2 Chronicles 17:2" id="2_Chronicles-17-2">He placed forces in all the fortified cities of Judah, and set garrisons in the land of Judah, and in the cities of Ephraim, which Asa his father had taken.</span>
  <span class="verse" title="2 Chronicles 17:3" id="2_Chronicles-17-3">Yahweh was with Jehoshaphat, because he walked in the first ways of his father David, and didn&#8217;t seek the Baals,</span>
  <span class="verse" title="2 Chronicles 17:4" id="2_Chronicles-17-4">but sought to the God of his father, and walked in his commandments, and not after the doings of Israel.</span>
  <span class="verse" title="2 Chronicles 17:5" id="2_Chronicles-17-5">Therefore Yahweh established the kingdom in his hand; and all Judah brought to Jehoshaphat tribute; and he had riches and honor in abundance.</span>
  <span class="verse" title="2 Chronicles 17:6" id="2_Chronicles-17-6">His heart was lifted up in the ways of Yahweh: and furthermore he took away the high places and the Asherim out of Judah.</span>
  <span class="verse" title="2 Chronicles 17:7" id="2_Chronicles-17-7">Also in the third year of his reign he sent his princes, even Ben Hail, and Obadiah, and Zechariah, and Nethanel, and Micaiah, to teach in the cities of Judah;</span>
  <span class="verse" title="2 Chronicles 17:8" id="2_Chronicles-17-8">and with them the Levites, even Shemaiah, and Nethaniah, and Zebadiah, and Asahel, and Shemiramoth, and Jehonathan, and Adonijah, and Tobijah, and Tobadonijah, the Levites; and with them Elishama and Jehoram, the priests.</span>
  <span class="verse" title="2 Chronicles 17:9" id="2_Chronicles-17-9">They taught in Judah, having the book of the law of Yahweh with them; and they went about throughout all the cities of Judah, and taught among the people.</span>
  <span class="verse" title="2 Chronicles 17:10" id="2_Chronicles-17-10">The fear of Yahweh fell on all the kingdoms of the lands that were around Judah, so that they made no war against Jehoshaphat.</span>
  <span class="verse" title="2 Chronicles 17:11" id="2_Chronicles-17-11">Some of the Philistines brought Jehoshaphat presents, and silver for tribute; the Arabians also brought him flocks, seven thousand and seven hundred rams, and seven thousand and seven hundred male goats.</span>
  <span class="verse" title="2 Chronicles 17:12" id="2_Chronicles-17-12">Jehoshaphat grew great exceedingly; and he built in Judah castles and cities of store.</span>
  <span class="verse" title="2 Chronicles 17:13" id="2_Chronicles-17-13">He had many works in the cities of Judah; and men of war, mighty men of valor, in Jerusalem.</span>
  <span class="verse" title="2 Chronicles 17:14" id="2_Chronicles-17-14">This was the numbering of them according to their fathers&#8217; houses: Of Judah, the captains of thousands: Adnah the captain, and with him mighty men of valor three hundred thousand;</span>
  <span class="verse" title="2 Chronicles 17:15" id="2_Chronicles-17-15">and next to him Jehohanan the captain, and with him two hundred eighty thousand;</span>
  <span class="verse" title="2 Chronicles 17:16" id="2_Chronicles-17-16">and next to him Amasiah the son of Zichri, who willingly offered himself to Yahweh; and with him two hundred thousand mighty men of valor.</span>
  <span class="verse" title="2 Chronicles 17:17" id="2_Chronicles-17-17">Of Benjamin: Eliada a mighty man of valor, and with him two hundred thousand armed with bow and shield;</span>
  <span class="verse" title="2 Chronicles 17:18" id="2_Chronicles-17-18">and next to him Jehozabad and with him one hundred eighty thousand ready prepared for war.</span>
  <span class="verse" title="2 Chronicles 17:19" id="2_Chronicles-17-19">These were those who waited on the king, besides those whom the king put in the fortified cities throughout all Judah.</span>
</div>