<div class="chapter" id="2 Chronicles-027">
  <h2>2 Chronicles 27</h2>
  <span class="verse" title="2 Chronicles 27:1" id="2_Chronicles-27-1">Jotham was twenty-five years old when he began to reign; and he reigned sixteen years in Jerusalem: and his mother&#8217;s name was Jerushah the daughter of Zadok.</span>
  <span class="verse" title="2 Chronicles 27:2" id="2_Chronicles-27-2">He did that which was right in the eyes of Yahweh, according to all that his father Uzziah had done: however he didn&#8217;t enter into the temple of Yahweh. The people still did corruptly.</span>
  <span class="verse" title="2 Chronicles 27:3" id="2_Chronicles-27-3">He built the upper gate of the house of Yahweh, and on the wall of Ophel he built much.</span>
  <span class="verse" title="2 Chronicles 27:4" id="2_Chronicles-27-4">Moreover he built cities in the hill country of Judah, and in the forests he built castles and towers.</span>
  <span class="verse" title="2 Chronicles 27:5" id="2_Chronicles-27-5">He fought also with the king of the children of Ammon, and prevailed against them. The children of Ammon gave him the same year one hundred talents of silver, and ten thousand measures of wheat, and ten thousand of barley. The children of Ammon gave that much to him in the second year also, and in the third.</span>
  <span class="verse" title="2 Chronicles 27:6" id="2_Chronicles-27-6">So Jotham became mighty, because he ordered his ways before Yahweh his God.</span>
  <span class="verse" title="2 Chronicles 27:7" id="2_Chronicles-27-7">Now the rest of the acts of Jotham, and all his wars, and his ways, behold, they are written in the book of the kings of Israel and Judah.</span>
  <span class="verse" title="2 Chronicles 27:8" id="2_Chronicles-27-8">He was five and twenty years old when he began to reign, and reigned sixteen years in Jerusalem.</span>
  <span class="verse" title="2 Chronicles 27:9" id="2_Chronicles-27-9">Jotham slept with his fathers, and they buried him in the city of David: and Ahaz his son reigned in his place.</span>
</div>