= link_to formatted_dossier_report_path('csv', @report), class: 'btn btn-info' do
  = icon 'fa fa-download'
  CSV
= link_to formatted_dossier_report_path('xls', @report), class: 'btn btn-info' do
  = icon 'fa fa-download'
  XLS
