<% if @person.show_attribute_to?(attribute, @logged_in) %>
  <li>
    <% if @person.respond_to?("share_#{attribute}?") and
      not @person.send("share_#{attribute}?") and
      @logged_in.can_edit?(@person) %>
      <div class="thumbnail">
        <% if @person.memberships.count('*', :conditions => ["share_#{attribute} = ?", true]) > 0 %>
          <%= image_tag('lock_partial.gif', :alt => 'private but shared with some group members', :class => 'icon') %>
        <% else %>
          <%= image_tag('lock.gif', :alt => 'completely private', :class => 'icon') %>
        <% end %>
      </div>
    <% end %>
    <%= block_given? ? yield : value %>
  </li>
<% end %>
