<% Setting.get(:features, :custom_person_fields).each_with_index do |field, index| %>
  <% if field.include?('*') or @logged_in.admin?(:edit_profiles) %>
    <% field = field.sub(/\*/, '') %>
    <br/>
    <label><%=h field %></label>
    <% if field =~ /[Dd]ate/ %>
      <%= date_field_tag "person[custom_fields][#{index}]", @person.custom_fields[index] %>
    <% else %>
      <%= text_field_tag "person[custom_fields][#{index}]", @person.custom_fields[index] %>
    <% end %>
  <% end %>
<% end %>