<li><%= link_to image_tag('pencil.png', :alt => t('privacies.edit_profile'), :class => 'icon') + ' ' + t('privacies.edit_profile'), edit_person_path(@person) %></li>
<li><%= link_to image_tag('lock.png', :alt => t('privacies.privacy_settings'), :class => 'icon') + ' ' + t('privacies.privacy_settings'), edit_person_privacy_path(@person, :anchor => "p#{@person.id}") %></li>
