<%= javascript_include_tag 'dragdrop.js' %>

<table width="100%">
  <tbody id="edit_services_table_body">
    <%= render partial: "edit_services_table_body" %>
  </tbody>
</table>

<%= button_to(t('Done'), person_path(@person), method: :get) %>
