<li><%= link_to image_tag('pencil.png', :alt => 'Edit Profile', :class => 'icon') + ' Edit Profile', edit_person_path(@person) %></li>
<li><%= link_to image_tag('lock.png', :alt => 'Privacy Settings', :class => 'icon') + ' Privacy Settings', edit_person_privacy_path(@person, :anchor => "p#{@person.id}") %></li>
