<% if @family_people.length > 1 %>
  <h3><%= t('people.family') %></h3>
  <ul class="family">
    <% @family_people.each do |person| %>
      <li class="nowrap">
        <%= content_tag :a, href: person_path(person) do %>
          <%= render partial: 'people/thumbnail', locals: {person: person} %><br/>
          <%= person.first_name %>
          <% unless person.visible? %>
            <span class="lock-icon-small"></span>
          <% end %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>
