<% if @person.friendships.count > 0 %>
  <h2>Friends</h2>
  <table>
    <% @person.friends.each do |friend| %>
      <tr>
        <td>
          <a href="<%= url_for :action => 'view', :id => friend %>">
            <%= render :partial => 'thumbnail', :locals => {:person => friend} %>
          </a>
        </td>
        <td class="friend">
          <%= link_to h(friend.name), person_url(:id => friend) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
