<% if Setting.get(:features, :friends) %>
  <% if @logged_in.friend? @person %>
    <li><%= link_to image_tag('user_delete.png', :alt => I18n.t('friends.remove_from_friends'), :class => 'icon') + ' ' + I18n.t('friends.remove_from_friends'), person_friend_path(@logged_in, @person), :method => 'delete', :confirm => I18n.t('are_you_sure') %></li>
  <% elsif @logged_in.can_request_friendship_with?(@person) %>
    <li><%= link_to_remote image_tag('contact_add.gif', :alt => I18n.t('friends.add_to_friends'), :class => 'icon') + ' ' + I18n.t('friends.add_to_friends'), {:url => person_friends_path(@logged_in, :friend_id => @person), :loading => "$('add_friend_#{@person.id}').innerHTML += '<img src=\"/images/spinner_small.gif\" class=\"icon\"/>';", :confirm => I18n.t('friends.add_friend_are_you_sure')}, :class => 'discreet', :id => "add_friend_#{@person.id}" %></li>
  <% elsif @logged_in.friendship_waiting_on? @person %>
    <li><em><%= I18n.t('friends.friend_request_pending') %></em></li>
  <% end %>
<% end %>
