<% if Setting.get(:features, :friends) %>
  <% if @logged_in.friend? @person %>
    <li><%= link_to 'Remove from Friends', remove_friend_url(:id => @person), :method => :post, :confirm => 'Are you sure?' %></li>
  <% elsif @logged_in.can_request_friendship_with?(@person) %>
    <li><%= link_to_remote image_tag('contact_add.gif', :alt => 'Add to Friends', :class => 'icon') + ' Add to Friends', {:url => add_friend_url(:id => @person), :loading => "$('add_friend_#{@person.id}').innerHTML += '<img src=\"/images/spinner_small.gif\" class=\"icon\"/>';", :confirm => 'Are you sure? An email will be sent to this person requesting friendship.'}, :class => 'discreet', :id => "add_friend_#{@person.id}" %></li>
  <% elsif @logged_in.friendship_waiting_on? @person %>
    <li><em>friend request pending</em></li>
  <% end %>
<% end %>
