<h2 class="tab" id="info"><%= image_tag('information.png', :alt => I18n.t('people.info'), :class => 'icon') %> <%= I18n.t('people.info') %></h2>
<div class="section">
  <%= render :partial => 'details' %>
</div>
