<p>
  <%= image_tag('lock.png', :alt => t('privacies.not_sharing'), :class => 'icon') %>
  <%= t('privacies.you_have_activity_sharing_disabled_html', :url => person_privacy_path(@logged_in, :anchor => "p#{@logged_in.id}")) %>
</p>
