<p>
  <%= image_tag('lock.png', :alt => 'Not Sharing', :class => 'icon') %>
  You have activity sharing disabled in your
  <%= link_to 'privacy settings', person_privacy_path(@logged_in) + "#p#{@logged_in.id}" %>,
  so things you share here will only display on your profile.
</p>
