- if @logged_in.can_update?(@person) and @person.updates.pending.count > 0
  %p
    = t('people.update_to_profile_is')
    - if @logged_in.admin?(:edit_profiles)
      = link_to t('people.pending_approval'), administration_updates_path
    - else
      = t('people.pending_approval')
