<div>
  <% if @person.has_photo? %>
    <%= link_to image_tag(photo_with_size_path(@person, :size => 'medium', :type => 'person'), :alt => h(@person.name)),
      photo_with_size_path(@person, :size => 'large', :type => 'person'), :back => url_for(params) %>
  <% else %>
    <%= render :partial => 'people/silhouette' %>
    <% if me? and (params[:controller] == 'people' and params[:action] == 'show') %>
      <br/>
      <%= link_to image_tag('person_picture.gif', :alt => 'Upload your picture.', :class => 'icon') + ' Upload Your Picture', edit_person_path %>
    <% end %>
  <% end %>
</div>
