<p>
  <% @people.each do |person| %>
    <%= check_box_tag 'people[]', person.id, false, :class => 'checkbox' %>
    <%= render :partial => 'people/link', :locals => {:person => person} %>
    <br/>
  <% end %>
</p>