<% if ['male', 'boy', 'man'].include? @person.gender.to_s.downcase %>
  <%= image_tag 'man.gif', :alt => @person.name %>
<% elsif ['female', 'girl', 'woman'].include? @person.gender.to_s.downcase %>
  <%= image_tag 'woman.gif', :alt => @person.name %>
<% end %>