<% if person.has_photo? %>
  <%= image_tag url_for(:action => 'photo', :id => "#{person.id}.tn.jpg"), :alt => person.name, :class => 'no-border' %>
<% else %>
  <% if ['male', 'boy', 'man'].include? person.gender.to_s.downcase %>
    <%= image_tag 'man.tn.gif', :alt => person.name, :class => 'no-border' %>
  <% elsif ['female', 'girl', 'woman'].include? person.gender.to_s.downcase %>
    <%= image_tag 'woman.tn.gif', :alt => person.name, :class => 'no-border' %>
  <% end %>
<% end %>