<% content_for :wide do %>
  <% @person.pictures.each do |picture| %>
    <div class="picture">
      <%= link_to image_tag(picture_photo_path("#{picture.id}.medium.jpg"), :alt => 'click to enlarge'), picture, :title => 'click to enlarge' %>
    </div>
  <% end %>

  <% if @person.pictures.count == 0 %>
    <p><em>This event doesn't have any pictures yet.</em></p>
  <% end %>
<% end %>