<% @person.pictures.each do |picture| %>
  <div class="picture">
    <%= link_to image_tag(picture.photo.url(:medium), alt: t('pictures.click_to_enlarge')), picture, title: t('pictures.click_to_enlarge') %>
  </div>
<% end %>

<% if @person.pictures.count == 0 %>
  <p><em><%= t('people.this_event_doesnt_have_pictures') %></em></p>
<% end %>
