<div style="width:75px;float:right;text-align:right;">
  <%= link_to_function '[' + t('close') + ']', '$("#popup").hide()', :class => 'discreet' %>
</div>

<% unless @family %>
  <div class="warning"><%= t('people.no_family_for_this_person') %></div>
<% end %>

<h2><%= @person.name %></h2>

<%= render :partial => 'details' %>
