<h1><%=h @person.name %></h1>

<table>
  <% if @person.home_phone.to_s.any? %>
    <tr><td>Home Phone:</td><td><%= number_to_phone @person.home_phone, :area_code => true %></td></tr>
  <% end %>
</table>

<h2>Groups</h2>
<%= render :partial => 'groups/person_groups' %>
