<div style="width:75px;float:right;text-align:right;">
  <%= link_to_function '[' + I18n.t('close') + ']', 'Element.hide("popup")', :class => 'discreet' %>
</div>

<h2><%=h @person.name %></h2>

<% if @person.has_photo? or not @family.has_photo? %>
  <%= render :partial => 'photo' %>
<% else %>
  <%= render :partial => 'families/photo' %>
<% end %>