<% content_for :subnav do %>
  <%= link_to 'Events', :controller => 'events' %>
  <%= link_to 'Pictures', :controller => 'pictures' %>
  <%= link_to 'Verses', :controller => 'verses' %>
  <%= link_to 'Recipes', :controller => 'recipes' %>
  <% if NEWS_URL %><%= link_to 'News', NEWS_URL %><% end %>
  <% if @logged_in.admin?(:manage_music) or @logged_in.music_access? %>
    <%= link_to 'Music', :controller => 'music' %>
  <% end %>
<% end %>
