<% content_for :subnav do %>
  <%= link_to 'Events', :controller => 'events' %>
  <%= link_to 'Pictures', :controller => 'pictures' %>
  <%= link_to 'Verses', :controller => 'verses' %>
  <%= link_to 'Recipes', :controller => 'recipes' %>
  <%= link_to 'Music', :controller => 'music' %>
<% end %>
