<div class="chapter" id="1 Chronicles-001">
  <h2>1 Chronicles 1</h2>
  <span class="verse" title="1 Chronicles 1:1" id="1_Chronicles-1-1">Adam, Seth, Enosh,</span>
  <span class="verse" title="1 Chronicles 1:2" id="1_Chronicles-1-2">Kenan, Mahalalel, Jared,</span>
  <span class="verse" title="1 Chronicles 1:3" id="1_Chronicles-1-3">Enoch, Methuselah, Lamech,</span>
  <span class="verse" title="1 Chronicles 1:4" id="1_Chronicles-1-4">Noah, Shem, Ham, and Japheth.</span>
  <span class="verse" title="1 Chronicles 1:5" id="1_Chronicles-1-5">The sons of Japheth: Gomer, and Magog, and Madai, and Javan, and Tubal, and Meshech, and Tiras.</span>
  <span class="verse" title="1 Chronicles 1:6" id="1_Chronicles-1-6">The sons of Gomer: Ashkenaz, and Diphath, and Togarmah.</span>
  <span class="verse" title="1 Chronicles 1:7" id="1_Chronicles-1-7">The sons of Javan: Elishah, and Tarshish, Kittim, and Rodanim.</span>
  <span class="verse" title="1 Chronicles 1:8" id="1_Chronicles-1-8">The sons of Ham: Cush, and Mizraim, Put, and Canaan.</span>
  <span class="verse" title="1 Chronicles 1:9" id="1_Chronicles-1-9">The sons of Cush: Seba, and Havilah, and Sabta, and Raama, and Sabteca. The sons of Raamah: Sheba, and Dedan.</span>
  <span class="verse" title="1 Chronicles 1:10" id="1_Chronicles-1-10">Cush became the father of Nimrod; he began to be a mighty one in the earth.</span>
  <span class="verse" title="1 Chronicles 1:11" id="1_Chronicles-1-11">Mizraim became the father of Ludim, and Anamim, and Lehabim, and Naphtuhim,</span>
  <span class="verse" title="1 Chronicles 1:12" id="1_Chronicles-1-12">and Pathrusim, and Casluhim (where the Philistines came from), and Caphtorim.</span>
  <span class="verse" title="1 Chronicles 1:13" id="1_Chronicles-1-13">Canaan became the father of Sidon his firstborn, and Heth,</span>
  <span class="verse" title="1 Chronicles 1:14" id="1_Chronicles-1-14">and the Jebusite, and the Amorite, and the Girgashite,</span>
  <span class="verse" title="1 Chronicles 1:15" id="1_Chronicles-1-15">and the Hivite, and the Arkite, and the Sinite,</span>
  <span class="verse" title="1 Chronicles 1:16" id="1_Chronicles-1-16">and the Arvadite, and the Zemarite, and the Hamathite.</span>
  <span class="verse" title="1 Chronicles 1:17" id="1_Chronicles-1-17">The sons of Shem: Elam, and Asshur, and Arpachshad, and Lud, and Aram, and Uz, and Hul, and Gether, and Meshech.</span>
  <span class="verse" title="1 Chronicles 1:18" id="1_Chronicles-1-18">Arpachshad became the father of Shelah, and Shelah became the father of Eber.</span>
  <span class="verse" title="1 Chronicles 1:19" id="1_Chronicles-1-19">To Eber were born two sons: the name of the one was Peleg; for in his days the earth was divided; and his brother&#8217;s name was Joktan.</span>
  <span class="verse" title="1 Chronicles 1:20" id="1_Chronicles-1-20">Joktan became the father of Almodad, and Sheleph, and Hazarmaveth, and Jerah,</span>
  <span class="verse" title="1 Chronicles 1:21" id="1_Chronicles-1-21">and Hadoram, and Uzal, and Diklah,</span>
  <span class="verse" title="1 Chronicles 1:22" id="1_Chronicles-1-22">and Ebal, and Abimael, and Sheba,</span>
  <span class="verse" title="1 Chronicles 1:23" id="1_Chronicles-1-23">and Ophir, and Havilah, and Jobab. All these were the sons of Joktan.</span>
  <span class="verse" title="1 Chronicles 1:24" id="1_Chronicles-1-24">Shem, Arpachshad, Shelah,</span>
  <span class="verse" title="1 Chronicles 1:25" id="1_Chronicles-1-25">Eber, Peleg, Reu,</span>
  <span class="verse" title="1 Chronicles 1:26" id="1_Chronicles-1-26">Serug, Nahor, Terah,</span>
  <span class="verse" title="1 Chronicles 1:27" id="1_Chronicles-1-27">Abram (the same is Abraham).</span>
  <span class="verse" title="1 Chronicles 1:28" id="1_Chronicles-1-28">The sons of Abraham: Isaac, and Ishmael.</span>
  <span class="verse" title="1 Chronicles 1:29" id="1_Chronicles-1-29">These are their generations: the firstborn of Ishmael, Nebaioth; then Kedar, and Adbeel, and Mibsam,</span>
  <span class="verse" title="1 Chronicles 1:30" id="1_Chronicles-1-30">Mishma, and Dumah, Massa, Hadad, and Tema,</span>
  <span class="verse" title="1 Chronicles 1:31" id="1_Chronicles-1-31">Jetur, Naphish, and Kedemah. These are the sons of Ishmael.</span>
  <span class="verse" title="1 Chronicles 1:32" id="1_Chronicles-1-32">The sons of Keturah, Abraham&#8217;s concubine: she bore Zimran, and Jokshan, and Medan, and Midian, and Ishbak, and Shuah. The sons of Jokshan: Sheba, and Dedan.</span>
  <span class="verse" title="1 Chronicles 1:33" id="1_Chronicles-1-33">The sons of Midian: Ephah, and Epher, and Hanoch, and Abida, and Eldaah. All these were the sons of Keturah.</span>
  <span class="verse" title="1 Chronicles 1:34" id="1_Chronicles-1-34">Abraham became the father of Isaac. The sons of Isaac: Esau, and Israel.</span>
  <span class="verse" title="1 Chronicles 1:35" id="1_Chronicles-1-35">The sons of Esau: Eliphaz, Reuel, and Jeush, and Jalam, and Korah.</span>
  <span class="verse" title="1 Chronicles 1:36" id="1_Chronicles-1-36">The sons of Eliphaz: Teman, and Omar, Zephi, and Gatam, Kenaz, and Timna, and Amalek.</span>
  <span class="verse" title="1 Chronicles 1:37" id="1_Chronicles-1-37">The sons of Reuel: Nahath, Zerah, Shammah, and Mizzah.</span>
  <span class="verse" title="1 Chronicles 1:38" id="1_Chronicles-1-38">The sons of Seir: Lotan, and Shobal, and Zibeon, and Anah, and Dishon, and Ezer, and Dishan.</span>
  <span class="verse" title="1 Chronicles 1:39" id="1_Chronicles-1-39">The sons of Lotan: Hori, and Homam; and Timna was Lotan&#8217;s sister.</span>
  <span class="verse" title="1 Chronicles 1:40" id="1_Chronicles-1-40">The sons of Shobal: Alian, and Manahath, and Ebal, Shephi, and Onam. The sons of Zibeon: Aiah, and Anah.</span>
  <span class="verse" title="1 Chronicles 1:41" id="1_Chronicles-1-41">The sons of Anah: Dishon. The sons of Dishon: Hamran, and Eshban, and Ithran, and Cheran.</span>
  <span class="verse" title="1 Chronicles 1:42" id="1_Chronicles-1-42">The sons of Ezer: Bilhan, and Zaavan, Jaakan. The sons of Dishan: Uz, and Aran.</span>
  <span class="verse" title="1 Chronicles 1:43" id="1_Chronicles-1-43">Now these are the kings who reigned in the land of Edom, before there reigned any king over the children of Israel: Bela the son of Beor; and the name of his city was Dinhabah.</span>
  <span class="verse" title="1 Chronicles 1:44" id="1_Chronicles-1-44">Bela died, and Jobab the son of Zerah of Bozrah reigned in his place.</span>
  <span class="verse" title="1 Chronicles 1:45" id="1_Chronicles-1-45">Jobab died, and Husham of the land of the Temanites reigned in his place.</span>
  <span class="verse" title="1 Chronicles 1:46" id="1_Chronicles-1-46">Husham died, and Hadad the son of Bedad, who struck Midian in the field of Moab, reigned in his place; and the name of his city was Avith.</span>
  <span class="verse" title="1 Chronicles 1:47" id="1_Chronicles-1-47">Hadad died, and Samlah of Masrekah reigned in his place.</span>
  <span class="verse" title="1 Chronicles 1:48" id="1_Chronicles-1-48">Samlah died, and Shaul of Rehoboth by the River reigned in his place.</span>
  <span class="verse" title="1 Chronicles 1:49" id="1_Chronicles-1-49">Shaul died, and Baal Hanan the son of Achbor reigned in his place.</span>
  <span class="verse" title="1 Chronicles 1:50" id="1_Chronicles-1-50">Baal Hanan died, and Hadad reigned in his place; and the name of his city was Pai: and his wife&#8217;s name was Mehetabel, the daughter of Matred, the daughter of Mezahab.</span>
  <span class="verse" title="1 Chronicles 1:51" id="1_Chronicles-1-51">Hadad died. The chiefs of Edom were: chief Timna, chief Aliah, chief Jetheth,</span>
  <span class="verse" title="1 Chronicles 1:52" id="1_Chronicles-1-52">chief Oholibamah, chief Elah, chief Pinon,</span>
  <span class="verse" title="1 Chronicles 1:53" id="1_Chronicles-1-53">chief Kenaz, chief Teman, chief Mibzar,</span>
  <span class="verse" title="1 Chronicles 1:54" id="1_Chronicles-1-54">chief Magdiel, chief Iram. These are the chiefs of Edom.</span>
</div>