<div class="chapter" id="1 Chronicles-002">
  <h2>1 Chronicles 2</h2>
  <span class="verse" title="1 Chronicles 2:1" id="1_Chronicles-2-1">These are the sons of Israel: Reuben, Simeon, Levi, and Judah, Issachar, and Zebulun,</span>
  <span class="verse" title="1 Chronicles 2:2" id="1_Chronicles-2-2">Dan, Joseph, and Benjamin, Naphtali, Gad, and Asher.</span>
  <span class="verse" title="1 Chronicles 2:3" id="1_Chronicles-2-3">The sons of Judah: Er, and Onan, and Shelah; which three were born to him of Shua&#8217;s daughter the Canaanitess. Er, Judah&#8217;s firstborn, was wicked in the sight of Yahweh; and he killed him.</span>
  <span class="verse" title="1 Chronicles 2:4" id="1_Chronicles-2-4">Tamar his daughter-in-law bore him Perez and Zerah. All the sons of Judah were five.</span>
  <span class="verse" title="1 Chronicles 2:5" id="1_Chronicles-2-5">The sons of Perez: Hezron, and Hamul.</span>
  <span class="verse" title="1 Chronicles 2:6" id="1_Chronicles-2-6">The sons of Zerah: Zimri, and Ethan, and Heman, and Calcol, and Dara; five of them in all.</span>
  <span class="verse" title="1 Chronicles 2:7" id="1_Chronicles-2-7">The sons of Carmi: Achar, the troubler of Israel, who committed a trespass in the devoted thing.</span>
  <span class="verse" title="1 Chronicles 2:8" id="1_Chronicles-2-8">The sons of Ethan: Azariah.</span>
  <span class="verse" title="1 Chronicles 2:9" id="1_Chronicles-2-9">The sons also of Hezron, who were born to him: Jerahmeel, and Ram, and Chelubai.</span>
  <span class="verse" title="1 Chronicles 2:10" id="1_Chronicles-2-10">Ram became the father of Amminadab, and Amminadab became the father of Nahshon, prince of the children of Judah;</span>
  <span class="verse" title="1 Chronicles 2:11" id="1_Chronicles-2-11">and Nahshon became the father of Salma, and Salma became the father of Boaz,</span>
  <span class="verse" title="1 Chronicles 2:12" id="1_Chronicles-2-12">and Boaz became the father of Obed, and Obed became the father of Jesse;</span>
  <span class="verse" title="1 Chronicles 2:13" id="1_Chronicles-2-13">and Jesse became the father of his firstborn Eliab, and Abinadab the second, and Shimea the third,</span>
  <span class="verse" title="1 Chronicles 2:14" id="1_Chronicles-2-14">Nethanel the fourth, Raddai the fifth,</span>
  <span class="verse" title="1 Chronicles 2:15" id="1_Chronicles-2-15">Ozem the sixth, David the seventh;</span>
  <span class="verse" title="1 Chronicles 2:16" id="1_Chronicles-2-16">and their sisters were Zeruiah and Abigail. The sons of Zeruiah: Abishai, and Joab, and Asahel, three.</span>
  <span class="verse" title="1 Chronicles 2:17" id="1_Chronicles-2-17">Abigail bore Amasa; and the father of Amasa was Jether the Ishmaelite.</span>
  <span class="verse" title="1 Chronicles 2:18" id="1_Chronicles-2-18">Caleb the son of Hezron became the father of children of Azubah his wife, and of Jerioth; and these were her sons: Jesher, and Shobab, and Ardon.</span>
  <span class="verse" title="1 Chronicles 2:19" id="1_Chronicles-2-19">Azubah died, and Caleb took to him Ephrath, who bore him Hur.</span>
  <span class="verse" title="1 Chronicles 2:20" id="1_Chronicles-2-20">Hur became the father of Uri, and Uri became the father of Bezalel.</span>
  <span class="verse" title="1 Chronicles 2:21" id="1_Chronicles-2-21">Afterward Hezron went in to the daughter of Machir the father of Gilead, whom he took as wife when he was sixty years old; and she bore him Segub.</span>
  <span class="verse" title="1 Chronicles 2:22" id="1_Chronicles-2-22">Segub became the father of Jair, who had twenty-three cities in the land of Gilead.</span>
  <span class="verse" title="1 Chronicles 2:23" id="1_Chronicles-2-23">Geshur and Aram took the towns of Jair from them, with Kenath, and its villages, even sixty cities. All these were the sons of Machir the father of Gilead.</span>
  <span class="verse" title="1 Chronicles 2:24" id="1_Chronicles-2-24">After that Hezron was dead in Caleb Ephrathah, then Abijah Hezron&#8217;s wife bore him Ashhur the father of Tekoa.</span>
  <span class="verse" title="1 Chronicles 2:25" id="1_Chronicles-2-25">The sons of Jerahmeel the firstborn of Hezron were Ram the firstborn, and Bunah, and Oren, and Ozem, Ahijah.</span>
  <span class="verse" title="1 Chronicles 2:26" id="1_Chronicles-2-26">Jerahmeel had another wife, whose name was Atarah; she was the mother of Onam.</span>
  <span class="verse" title="1 Chronicles 2:27" id="1_Chronicles-2-27">The sons of Ram the firstborn of Jerahmeel were Maaz, and Jamin, and Eker.</span>
  <span class="verse" title="1 Chronicles 2:28" id="1_Chronicles-2-28">The sons of Onam were Shammai, and Jada. The sons of Shammai: Nadab, and Abishur.</span>
  <span class="verse" title="1 Chronicles 2:29" id="1_Chronicles-2-29">The name of the wife of Abishur was Abihail; and she bore him Ahban, and Molid.</span>
  <span class="verse" title="1 Chronicles 2:30" id="1_Chronicles-2-30">The sons of Nadab: Seled, and Appaim; but Seled died without children.</span>
  <span class="verse" title="1 Chronicles 2:31" id="1_Chronicles-2-31">The sons of Appaim: Ishi. The sons of Ishi: Sheshan. The sons of Sheshan: Ahlai.</span>
  <span class="verse" title="1 Chronicles 2:32" id="1_Chronicles-2-32">The sons of Jada the brother of Shammai: Jether, and Jonathan; and Jether died without children.</span>
  <span class="verse" title="1 Chronicles 2:33" id="1_Chronicles-2-33">The sons of Jonathan: Peleth, and Zaza. These were the sons of Jerahmeel.</span>
  <span class="verse" title="1 Chronicles 2:34" id="1_Chronicles-2-34">Now Sheshan had no sons, but daughters. Sheshan had a servant, an Egyptian, whose name was Jarha.</span>
  <span class="verse" title="1 Chronicles 2:35" id="1_Chronicles-2-35">Sheshan gave his daughter to Jarha his servant as wife; and she bore him Attai.</span>
  <span class="verse" title="1 Chronicles 2:36" id="1_Chronicles-2-36">Attai became the father of Nathan, and Nathan became the father of Zabad,</span>
  <span class="verse" title="1 Chronicles 2:37" id="1_Chronicles-2-37">and Zabad became the father of Ephlal, and Ephlal became the father of Obed,</span>
  <span class="verse" title="1 Chronicles 2:38" id="1_Chronicles-2-38">and Obed became the father of Jehu, and Jehu became the father of Azariah,</span>
  <span class="verse" title="1 Chronicles 2:39" id="1_Chronicles-2-39">and Azariah became the father of Helez, and Helez became the father of Eleasah,</span>
  <span class="verse" title="1 Chronicles 2:40" id="1_Chronicles-2-40">and Eleasah became the father of Sismai, and Sismai became the father of Shallum,</span>
  <span class="verse" title="1 Chronicles 2:41" id="1_Chronicles-2-41">and Shallum became the father of Jekamiah, and Jekamiah became the father of Elishama.</span>
  <span class="verse" title="1 Chronicles 2:42" id="1_Chronicles-2-42">The sons of Caleb the brother of Jerahmeel were Mesha his firstborn, who was the father of Ziph; and the sons of Mareshah the father of Hebron.</span>
  <span class="verse" title="1 Chronicles 2:43" id="1_Chronicles-2-43">The sons of Hebron: Korah, and Tappuah, and Rekem, and Shema.</span>
  <span class="verse" title="1 Chronicles 2:44" id="1_Chronicles-2-44">Shema became the father of Raham, the father of Jorkeam; and Rekem became the father of Shammai.</span>
  <span class="verse" title="1 Chronicles 2:45" id="1_Chronicles-2-45">The son of Shammai was Maon; and Maon was the father of Beth Zur.</span>
  <span class="verse" title="1 Chronicles 2:46" id="1_Chronicles-2-46">Ephah, Caleb&#8217;s concubine, bore Haran, and Moza, and Gazez; and Haran became the father of Gazez.</span>
  <span class="verse" title="1 Chronicles 2:47" id="1_Chronicles-2-47">The sons of Jahdai: Regem, and Jothan, and Geshan, and Pelet, and Ephah, and Shaaph.</span>
  <span class="verse" title="1 Chronicles 2:48" id="1_Chronicles-2-48">Maacah, Caleb&#8217;s concubine, bore Sheber and Tirhanah.</span>
  <span class="verse" title="1 Chronicles 2:49" id="1_Chronicles-2-49">She bore also Shaaph the father of Madmannah, Sheva the father of Machbena, and the father of Gibea; and the daughter of Caleb was Achsah.</span>
  <span class="verse" title="1 Chronicles 2:50" id="1_Chronicles-2-50">These were the sons of Caleb, the son of Hur, the firstborn of Ephrathah: Shobal the father of Kiriath Jearim,</span>
  <span class="verse" title="1 Chronicles 2:51" id="1_Chronicles-2-51">Salma the father of Bethlehem, Hareph the father of Beth Gader.</span>
  <span class="verse" title="1 Chronicles 2:52" id="1_Chronicles-2-52">Shobal the father of Kiriath Jearim had sons: Haroeh, half of the Menuhoth.</span>
  <span class="verse" title="1 Chronicles 2:53" id="1_Chronicles-2-53">The families of Kiriath Jearim: The Ithrites, and the Puthites, and the Shumathites, and the Mishraites; of them came the Zorathites and the Eshtaolites.</span>
  <span class="verse" title="1 Chronicles 2:54" id="1_Chronicles-2-54">The sons of Salma: Bethlehem, and the Netophathites, Atroth Beth Joab, and half of the Manahathites, the Zorites.</span>
  <span class="verse" title="1 Chronicles 2:55" id="1_Chronicles-2-55">The families of scribes who lived at Jabez: the Tirathites, the Shimeathites, the Sucathites. These are the Kenites who came of Hammath, the father of the house of Rechab.</span>
</div>