<div class="chapter" id="1 Chronicles-003">
  <h2>1 Chronicles 3</h2>
  <span class="verse" title="1 Chronicles 3:1" id="1_Chronicles-3-1">Now these were the sons of David, who were born to him in Hebron: the firstborn, Amnon, of Ahinoam the Jezreelitess; the second, Daniel, of Abigail the Carmelitess;</span>
  <span class="verse" title="1 Chronicles 3:2" id="1_Chronicles-3-2">the third, Absalom the son of Maacah the daughter of Talmai king of Geshur; the fourth, Adonijah the son of Haggith;</span>
  <span class="verse" title="1 Chronicles 3:3" id="1_Chronicles-3-3">the fifth, Shephatiah of Abital; the sixth, Ithream by Eglah his wife:</span>
  <span class="verse" title="1 Chronicles 3:4" id="1_Chronicles-3-4">six were born to him in Hebron; and there he reigned seven years and six months. In Jerusalem he reigned thirty-three years;</span>
  <span class="verse" title="1 Chronicles 3:5" id="1_Chronicles-3-5">and these were born to him in Jerusalem: Shimea, and Shobab, and Nathan, and Solomon, four, of Bathshua the daughter of Ammiel;</span>
  <span class="verse" title="1 Chronicles 3:6" id="1_Chronicles-3-6">and Ibhar, and Elishama, and Eliphelet,</span>
  <span class="verse" title="1 Chronicles 3:7" id="1_Chronicles-3-7">and Nogah, and Nepheg, and Japhia,</span>
  <span class="verse" title="1 Chronicles 3:8" id="1_Chronicles-3-8">and Elishama, and Eliada, and Eliphelet, nine.</span>
  <span class="verse" title="1 Chronicles 3:9" id="1_Chronicles-3-9">All these were the sons of David, besides the sons of the concubines; and Tamar was their sister.</span>
  <span class="verse" title="1 Chronicles 3:10" id="1_Chronicles-3-10">Solomon&#8217;s son was Rehoboam, Abijah his son, Asa his son, Jehoshaphat his son,</span>
  <span class="verse" title="1 Chronicles 3:11" id="1_Chronicles-3-11">Joram his son, Ahaziah his son, Joash his son,</span>
  <span class="verse" title="1 Chronicles 3:12" id="1_Chronicles-3-12">Amaziah his son, Azariah his son, Jotham his son,</span>
  <span class="verse" title="1 Chronicles 3:13" id="1_Chronicles-3-13">Ahaz his son, Hezekiah his son, Manasseh his son,</span>
  <span class="verse" title="1 Chronicles 3:14" id="1_Chronicles-3-14">Amon his son, Josiah his son.</span>
  <span class="verse" title="1 Chronicles 3:15" id="1_Chronicles-3-15">The sons of Josiah: the firstborn Johanan, the second Jehoiakim, the third Zedekiah, the fourth Shallum.</span>
  <span class="verse" title="1 Chronicles 3:16" id="1_Chronicles-3-16">The sons of Jehoiakim: Jeconiah his son, Zedekiah his son.</span>
  <span class="verse" title="1 Chronicles 3:17" id="1_Chronicles-3-17">The sons of Jeconiah, the captive: Shealtiel his son,</span>
  <span class="verse" title="1 Chronicles 3:18" id="1_Chronicles-3-18">and Malchiram, and Pedaiah, and Shenazzar, Jekamiah, Hoshama, and Nedabiah.</span>
  <span class="verse" title="1 Chronicles 3:19" id="1_Chronicles-3-19">The sons of Pedaiah: Zerubbabel, and Shimei. The sons of Zerubbabel: Meshullam, and Hananiah; and Shelomith was their sister;</span>
  <span class="verse" title="1 Chronicles 3:20" id="1_Chronicles-3-20">and Hashubah, and Ohel, and Berechiah, and Hasadiah, Jushab Hesed, five.</span>
  <span class="verse" title="1 Chronicles 3:21" id="1_Chronicles-3-21">The sons of Hananiah: Pelatiah, and Jeshaiah; the sons of Rephaiah, the sons of Arnan, the sons of Obadiah, the sons of Shecaniah.</span>
  <span class="verse" title="1 Chronicles 3:22" id="1_Chronicles-3-22">The sons of Shecaniah: Shemaiah. The sons of Shemaiah: Hattush, and Igal, and Bariah, and Neariah, and Shaphat, six.</span>
  <span class="verse" title="1 Chronicles 3:23" id="1_Chronicles-3-23">The sons of Neariah: Elioenai, and Hizkiah, and Azrikam, three.</span>
  <span class="verse" title="1 Chronicles 3:24" id="1_Chronicles-3-24">The sons of Elioenai: Hodaviah, and Eliashib, and Pelaiah, and Akkub, and Johanan, and Delaiah, and Anani, seven.</span>
</div>