<div class="chapter" id="1 Chronicles-004">
  <h2>1 Chronicles 4</h2>
  <span class="verse" title="1 Chronicles 4:1" id="1_Chronicles-4-1">The sons of Judah: Perez, Hezron, and Carmi, and Hur, and Shobal.</span>
  <span class="verse" title="1 Chronicles 4:2" id="1_Chronicles-4-2">Reaiah the son of Shobal became the father of Jahath; and Jahath became the father of Ahumai and Lahad. These are the families of the Zorathites.</span>
  <span class="verse" title="1 Chronicles 4:3" id="1_Chronicles-4-3">These were the sons of the father of Etam: Jezreel, and Ishma, and Idbash; and the name of their sister was Hazzelelponi;</span>
  <span class="verse" title="1 Chronicles 4:4" id="1_Chronicles-4-4">and Penuel the father of Gedor, and Ezer the father of Hushah. These are the sons of Hur, the firstborn of Ephrathah, the father of Bethlehem.</span>
  <span class="verse" title="1 Chronicles 4:5" id="1_Chronicles-4-5">Ashhur the father of Tekoa had two wives, Helah and Naarah.</span>
  <span class="verse" title="1 Chronicles 4:6" id="1_Chronicles-4-6">Naarah bore him Ahuzzam, and Hepher, and Temeni, and Haahashtari. These were the sons of Naarah.</span>
  <span class="verse" title="1 Chronicles 4:7" id="1_Chronicles-4-7">The sons of Helah were Zereth, Izhar, and Ethnan.</span>
  <span class="verse" title="1 Chronicles 4:8" id="1_Chronicles-4-8">Hakkoz became the father of Anub, and Zobebah, and the families of Aharhel the son of Harum.</span>
  <span class="verse" title="1 Chronicles 4:9" id="1_Chronicles-4-9">Jabez was more honorable than his brothers: and his mother named him Jabez, saying, &#8220;Because I bore him with sorrow.&#8221;</span>
  <span class="verse" title="1 Chronicles 4:10" id="1_Chronicles-4-10">Jabez called on the God of Israel, saying, &#8220;Oh that you would bless me indeed, and enlarge my border, and that your hand might be with me, and that you would keep me from evil, that it not be to my sorrow!&#8221; God granted him that which he requested.</span>
  <span class="verse" title="1 Chronicles 4:11" id="1_Chronicles-4-11">Chelub the brother of Shuhah became the father of Mehir, who was the father of Eshton.</span>
  <span class="verse" title="1 Chronicles 4:12" id="1_Chronicles-4-12">Eshton became the father of Beth Rapha, and Paseah, and Tehinnah the father of Ir Nahash. These are the men of Recah.</span>
  <span class="verse" title="1 Chronicles 4:13" id="1_Chronicles-4-13">The sons of Kenaz: Othniel, and Seraiah. The sons of Othniel: Hathath.</span>
  <span class="verse" title="1 Chronicles 4:14" id="1_Chronicles-4-14">Meonothai became the father of Ophrah: and Seraiah became the father of Joab the father of Ge Harashim; for they were craftsmen.</span>
  <span class="verse" title="1 Chronicles 4:15" id="1_Chronicles-4-15">The sons of Caleb the son of Jephunneh: Iru, Elah, and Naam; and the sons of Elah; and Kenaz.</span>
  <span class="verse" title="1 Chronicles 4:16" id="1_Chronicles-4-16">The sons of Jehallelel: Ziph, and Ziphah, Tiria, and Asarel.</span>
  <span class="verse" title="1 Chronicles 4:17" id="1_Chronicles-4-17">The sons of Ezrah: Jether, and Mered, and Epher, and Jalon; and she bore Miriam, and Shammai, and Ishbah the father of Eshtemoa.</span>
  <span class="verse" title="1 Chronicles 4:18" id="1_Chronicles-4-18">His wife the Jewess bore Jered the father of Gedor, and Heber the father of Soco, and Jekuthiel the father of Zanoah. These are the sons of Bithiah the daughter of Pharaoh, whom Mered took.</span>
  <span class="verse" title="1 Chronicles 4:19" id="1_Chronicles-4-19">The sons of the wife of Hodiah, the sister of Naham, were the father of Keilah the Garmite, and Eshtemoa the Maacathite.</span>
  <span class="verse" title="1 Chronicles 4:20" id="1_Chronicles-4-20">The sons of Shimon: Amnon, and Rinnah, Ben Hanan, and Tilon. The sons of Ishi: Zoheth, and Ben Zoheth.</span>
  <span class="verse" title="1 Chronicles 4:21" id="1_Chronicles-4-21">The sons of Shelah the son of Judah: Er the father of Lecah, and Laadah the father of Mareshah, and the families of the house of those who worked fine linen, of the house of Ashbea;</span>
  <span class="verse" title="1 Chronicles 4:22" id="1_Chronicles-4-22">and Jokim, and the men of Cozeba, and Joash, and Saraph, who had dominion in Moab, and Jashubilehem. The records are ancient.</span>
  <span class="verse" title="1 Chronicles 4:23" id="1_Chronicles-4-23">These were the potters, and the inhabitants of Netaim and Gederah: there they lived with the king for his work.</span>
  <span class="verse" title="1 Chronicles 4:24" id="1_Chronicles-4-24">The sons of Simeon: Nemuel, and Jamin, Jarib, Zerah, Shaul;</span>
  <span class="verse" title="1 Chronicles 4:25" id="1_Chronicles-4-25">Shallum his son, Mibsam his son, Mishma his son.</span>
  <span class="verse" title="1 Chronicles 4:26" id="1_Chronicles-4-26">The sons of Mishma: Hammuel his son, Zaccur his son, Shimei his son.</span>
  <span class="verse" title="1 Chronicles 4:27" id="1_Chronicles-4-27">Shimei had sixteen sons and six daughters; but his brothers didn&#8217;t have many children, neither did all their family multiply like the children of Judah.</span>
  <span class="verse" title="1 Chronicles 4:28" id="1_Chronicles-4-28">They lived at Beersheba, and Moladah, and Hazarshual,</span>
  <span class="verse" title="1 Chronicles 4:29" id="1_Chronicles-4-29">and at Bilhah, and at Ezem, and at Tolad,</span>
  <span class="verse" title="1 Chronicles 4:30" id="1_Chronicles-4-30">and at Bethuel, and at Hormah, and at Ziklag,</span>
  <span class="verse" title="1 Chronicles 4:31" id="1_Chronicles-4-31">and at Beth Marcaboth, and Hazar Susim, and at Beth Biri, and at Shaaraim. These were their cities to the reign of David.</span>
  <span class="verse" title="1 Chronicles 4:32" id="1_Chronicles-4-32">Their villages were Etam, and Ain, Rimmon, and Tochen, and Ashan, five cities;</span>
  <span class="verse" title="1 Chronicles 4:33" id="1_Chronicles-4-33">and all their villages that were around the same cities, to Baal. These were their habitations, and they have their genealogy.</span>
  <span class="verse" title="1 Chronicles 4:34" id="1_Chronicles-4-34">Meshobab, and Jamlech, and Joshah the son of Amaziah,</span>
  <span class="verse" title="1 Chronicles 4:35" id="1_Chronicles-4-35">and Joel, and Jehu the son of Joshibiah, the son of Seraiah, the son of Asiel,</span>
  <span class="verse" title="1 Chronicles 4:36" id="1_Chronicles-4-36">and Elioenai, and Jaakobah, and Jeshohaiah, and Asaiah, and Adiel, and Jesimiel, and Benaiah,</span>
  <span class="verse" title="1 Chronicles 4:37" id="1_Chronicles-4-37">and Ziza the son of Shiphi, the son of Allon, the son of Jedaiah, the son of Shimri, the son of Shemaiah—</span>
  <span class="verse" title="1 Chronicles 4:38" id="1_Chronicles-4-38">these mentioned by name were princes in their families: and their fathers&#8217; houses increased greatly.</span>
  <span class="verse" title="1 Chronicles 4:39" id="1_Chronicles-4-39">They went to the entrance of Gedor, even to the east side of the valley, to seek pasture for their flocks.</span>
  <span class="verse" title="1 Chronicles 4:40" id="1_Chronicles-4-40">They found fat pasture and good, and the land was wide, and quiet, and peaceable; for those who lived there before were of Ham.</span>
  <span class="verse" title="1 Chronicles 4:41" id="1_Chronicles-4-41">These written by name came in the days of Hezekiah king of Judah, and struck their tents, and the Meunim who were found there, and destroyed them utterly to this day, and lived in their place; because there was pasture there for their flocks.</span>
  <span class="verse" title="1 Chronicles 4:42" id="1_Chronicles-4-42">Some of them, even of the sons of Simeon, five hundred men, went to Mount Seir, having for their captains Pelatiah, and Neariah, and Rephaiah, and Uzziel, the sons of Ishi.</span>
  <span class="verse" title="1 Chronicles 4:43" id="1_Chronicles-4-43">They struck the remnant of the Amalekites who escaped, and have lived there to this day.</span>
</div>