<div class="chapter" id="1 Chronicles-005">
  <h2>1 Chronicles 5</h2>
  <span class="verse" title="1 Chronicles 5:1" id="1_Chronicles-5-1">The sons of Reuben the firstborn of Israel (for he was the firstborn; but, because he defiled his father&#8217;s couch, his birthright was given to the sons of Joseph the son of Israel; and the genealogy is not to be reckoned after the birthright.</span>
  <span class="verse" title="1 Chronicles 5:2" id="1_Chronicles-5-2">For Judah prevailed above his brothers, and of him came the prince; but the birthright was Joseph&#8217;s:)</span>
  <span class="verse" title="1 Chronicles 5:3" id="1_Chronicles-5-3">the sons of Reuben the firstborn of Israel: Hanoch, and Pallu, Hezron, and Carmi.</span>
  <span class="verse" title="1 Chronicles 5:4" id="1_Chronicles-5-4">The sons of Joel: Shemaiah his son, Gog his son, Shimei his son,</span>
  <span class="verse" title="1 Chronicles 5:5" id="1_Chronicles-5-5">Micah his son, Reaiah his son, Baal his son,</span>
  <span class="verse" title="1 Chronicles 5:6" id="1_Chronicles-5-6">Beerah his son, whom Tilgath Pilneser king of Assyria carried away captive: he was prince of the Reubenites.</span>
  <span class="verse" title="1 Chronicles 5:7" id="1_Chronicles-5-7">His brothers by their families, when the genealogy of their generations was reckoned: the chief, Jeiel, and Zechariah,</span>
  <span class="verse" title="1 Chronicles 5:8" id="1_Chronicles-5-8">and Bela the son of Azaz, the son of Shema, the son of Joel, who lived in Aroer, even to Nebo and Baal Meon:</span>
  <span class="verse" title="1 Chronicles 5:9" id="1_Chronicles-5-9">and eastward he lived even to the entrance of the wilderness from the river Euphrates, because their livestock were multiplied in the land of Gilead.</span>
  <span class="verse" title="1 Chronicles 5:10" id="1_Chronicles-5-10">In the days of Saul, they made war with the Hagrites, who fell by their hand; and they lived in their tents throughout all the land east of Gilead.</span>
  <span class="verse" title="1 Chronicles 5:11" id="1_Chronicles-5-11">The sons of Gad lived over against them, in the land of Bashan to Salecah:</span>
  <span class="verse" title="1 Chronicles 5:12" id="1_Chronicles-5-12">Joel the chief, and Shapham the second, and Janai, and Shaphat in Bashan.</span>
  <span class="verse" title="1 Chronicles 5:13" id="1_Chronicles-5-13">Their brothers of their fathers&#8217; houses: Michael, and Meshullam, and Sheba, and Jorai, and Jacan, and Zia, and Eber, seven.</span>
  <span class="verse" title="1 Chronicles 5:14" id="1_Chronicles-5-14">These were the sons of Abihail, the son of Huri, the son of Jaroah, the son of Gilead, the son of Michael, the son of Jeshishai, the son of Jahdo, the son of Buz;</span>
  <span class="verse" title="1 Chronicles 5:15" id="1_Chronicles-5-15">Ahi the son of Abdiel, the son of Guni, chief of their fathers&#8217; houses.</span>
  <span class="verse" title="1 Chronicles 5:16" id="1_Chronicles-5-16">They lived in Gilead in Bashan, and in its towns, and in all the suburbs of Sharon, as far as their borders.</span>
  <span class="verse" title="1 Chronicles 5:17" id="1_Chronicles-5-17">All these were reckoned by genealogies in the days of Jotham king of Judah, and in the days of Jeroboam king of Israel.</span>
  <span class="verse" title="1 Chronicles 5:18" id="1_Chronicles-5-18">The sons of Reuben, and the Gadites, and the half-tribe of Manasseh, of valiant men, men able to bear buckler and sword, and to shoot with bow, and skillful in war, were forty-four thousand seven hundred and sixty, that were able to go forth to war.</span>
  <span class="verse" title="1 Chronicles 5:19" id="1_Chronicles-5-19">They made war with the Hagrites, with Jetur, and Naphish, and Nodab.</span>
  <span class="verse" title="1 Chronicles 5:20" id="1_Chronicles-5-20">They were helped against them, and the Hagrites were delivered into their hand, and all who were with them; for they cried to God in the battle, and he was entreated of them, because they put their trust in him.</span>
  <span class="verse" title="1 Chronicles 5:21" id="1_Chronicles-5-21">They took away their livestock; of their camels fifty thousand, and of sheep two hundred fifty thousand, and of donkeys two thousand, and of men one hundred thousand.</span>
  <span class="verse" title="1 Chronicles 5:22" id="1_Chronicles-5-22">For there fell many slain, because the war was of God. They lived in their place until the captivity.</span>
  <span class="verse" title="1 Chronicles 5:23" id="1_Chronicles-5-23">The children of the half-tribe of Manasseh lived in the land: they increased from Bashan to Baal Hermon and Senir and Mount Hermon.</span>
  <span class="verse" title="1 Chronicles 5:24" id="1_Chronicles-5-24">These were the heads of their fathers&#8217; houses: even Epher, and Ishi, and Eliel, and Azriel, and Jeremiah, and Hodaviah, and Jahdiel, mighty men of valor, famous men, heads of their fathers&#8217; houses.</span>
  <span class="verse" title="1 Chronicles 5:25" id="1_Chronicles-5-25">They trespassed against the God of their fathers, and played the prostitute after the gods of the peoples of the land, whom God destroyed before them.</span>
  <span class="verse" title="1 Chronicles 5:26" id="1_Chronicles-5-26">The God of Israel stirred up the spirit of Pul king of Assyria, and the spirit of Tilgath Pilneser king of Assyria, and he carried them away, even the Reubenites, and the Gadites, and the half-tribe of Manasseh, and brought them to Halah, and Habor, and Hara, and to the river of Gozan, to this day.</span>
</div>