<div class="chapter" id="1 Chronicles-006">
  <h2>1 Chronicles 6</h2>
  <span class="verse" title="1 Chronicles 6:1" id="1_Chronicles-6-1">The sons of Levi: Gershon, Kohath, and Merari.</span>
  <span class="verse" title="1 Chronicles 6:2" id="1_Chronicles-6-2">The sons of Kohath: Amram, Izhar, and Hebron, and Uzziel.</span>
  <span class="verse" title="1 Chronicles 6:3" id="1_Chronicles-6-3">The children of Amram: Aaron, and Moses, and Miriam. The sons of Aaron: Nadab, and Abihu, Eleazar, and Ithamar.</span>
  <span class="verse" title="1 Chronicles 6:4" id="1_Chronicles-6-4">Eleazar became the father of Phinehas, Phinehas became the father of Abishua,</span>
  <span class="verse" title="1 Chronicles 6:5" id="1_Chronicles-6-5">and Abishua became the father of Bukki, and Bukki became the father of Uzzi,</span>
  <span class="verse" title="1 Chronicles 6:6" id="1_Chronicles-6-6">and Uzzi became the father of Zerahiah, and Zerahiah became the father of Meraioth,</span>
  <span class="verse" title="1 Chronicles 6:7" id="1_Chronicles-6-7">Meraioth became the father of Amariah, and Amariah became the father of Ahitub,</span>
  <span class="verse" title="1 Chronicles 6:8" id="1_Chronicles-6-8">and Ahitub became the father of Zadok, and Zadok became the father of Ahimaaz,</span>
  <span class="verse" title="1 Chronicles 6:9" id="1_Chronicles-6-9">and Ahimaaz became the father of Azariah, and Azariah became the father of Johanan,</span>
  <span class="verse" title="1 Chronicles 6:10" id="1_Chronicles-6-10">and Johanan became the father of Azariah, (he it is who executed the priest&#8217;s office in the house that Solomon built in Jerusalem),</span>
  <span class="verse" title="1 Chronicles 6:11" id="1_Chronicles-6-11">and Azariah became the father of Amariah, and Amariah became the father of Ahitub,</span>
  <span class="verse" title="1 Chronicles 6:12" id="1_Chronicles-6-12">and Ahitub became the father of Zadok, and Zadok became the father of Shallum,</span>
  <span class="verse" title="1 Chronicles 6:13" id="1_Chronicles-6-13">and Shallum became the father of Hilkiah, and Hilkiah became the father of Azariah,</span>
  <span class="verse" title="1 Chronicles 6:14" id="1_Chronicles-6-14">and Azariah became the father of Seraiah, and Seraiah became the father of Jehozadak;</span>
  <span class="verse" title="1 Chronicles 6:15" id="1_Chronicles-6-15">Jehozadak went into captivity, when Yahweh carried away Judah and Jerusalem by the hand of Nebuchadnezzar.</span>
  <span class="verse" title="1 Chronicles 6:16" id="1_Chronicles-6-16">The sons of Levi: Gershom, Kohath, and Merari.</span>
  <span class="verse" title="1 Chronicles 6:17" id="1_Chronicles-6-17">These are the names of the sons of Gershom: Libni and Shimei.</span>
  <span class="verse" title="1 Chronicles 6:18" id="1_Chronicles-6-18">The sons of Kohath were Amram, and Izhar, and Hebron, and Uzziel.</span>
  <span class="verse" title="1 Chronicles 6:19" id="1_Chronicles-6-19">The sons of Merari: Mahli and Mushi. These are the families of the Levites according to their fathers&#8217; households.</span>
  <span class="verse" title="1 Chronicles 6:20" id="1_Chronicles-6-20">Of Gershom: Libni his son, Jahath his son, Zimmah his son,</span>
  <span class="verse" title="1 Chronicles 6:21" id="1_Chronicles-6-21">Joah his son, Iddo his son, Zerah his son, Jeatherai his son.</span>
  <span class="verse" title="1 Chronicles 6:22" id="1_Chronicles-6-22">The sons of Kohath: Amminadab his son, Korah his son, Assir his son,</span>
  <span class="verse" title="1 Chronicles 6:23" id="1_Chronicles-6-23">Elkanah his son, and Ebiasaph his son, and Assir his son,</span>
  <span class="verse" title="1 Chronicles 6:24" id="1_Chronicles-6-24">Tahath his son, Uriel his son, Uzziah his son, and Shaul his son.</span>
  <span class="verse" title="1 Chronicles 6:25" id="1_Chronicles-6-25">The sons of Elkanah: Amasai, and Ahimoth.</span>
  <span class="verse" title="1 Chronicles 6:26" id="1_Chronicles-6-26">As for Elkanah, the sons of Elkanah: Zophai his son, and Nahath his son,</span>
  <span class="verse" title="1 Chronicles 6:27" id="1_Chronicles-6-27">Eliab his son, Jeroham his son, Elkanah his son.</span>
  <span class="verse" title="1 Chronicles 6:28" id="1_Chronicles-6-28">The sons of Samuel: the firstborn Joel, and the second Abijah.</span>
  <span class="verse" title="1 Chronicles 6:29" id="1_Chronicles-6-29">The sons of Merari: Mahli, Libni his son, Shimei his son, Uzzah his son,</span>
  <span class="verse" title="1 Chronicles 6:30" id="1_Chronicles-6-30">Shimea his son, Haggiah his son, Asaiah his son.</span>
  <span class="verse" title="1 Chronicles 6:31" id="1_Chronicles-6-31">These are they whom David set over the service of song in the house of Yahweh, after that the ark had rest.</span>
  <span class="verse" title="1 Chronicles 6:32" id="1_Chronicles-6-32">They ministered with song before the tabernacle of the Tent of Meeting, until Solomon had built the house of Yahweh in Jerusalem: and they waited on their office according to their order.</span>
  <span class="verse" title="1 Chronicles 6:33" id="1_Chronicles-6-33">These are those who waited, and their sons. Of the sons of the Kohathites: Heman the singer, the son of Joel, the son of Samuel,</span>
  <span class="verse" title="1 Chronicles 6:34" id="1_Chronicles-6-34">the son of Elkanah, the son of Jeroham, the son of Eliel, the son of Toah,</span>
  <span class="verse" title="1 Chronicles 6:35" id="1_Chronicles-6-35">the son of Zuph, the son of Elkanah, the son of Mahath, the son of Amasai,</span>
  <span class="verse" title="1 Chronicles 6:36" id="1_Chronicles-6-36">the son of Elkanah, the son of Joel, the son of Azariah, the son of Zephaniah,</span>
  <span class="verse" title="1 Chronicles 6:37" id="1_Chronicles-6-37">the son of Tahath, the son of Assir, the son of Ebiasaph, the son of Korah,</span>
  <span class="verse" title="1 Chronicles 6:38" id="1_Chronicles-6-38">the son of Izhar, the son of Kohath, the son of Levi, the son of Israel.</span>
  <span class="verse" title="1 Chronicles 6:39" id="1_Chronicles-6-39">His brother Asaph, who stood on his right hand, even Asaph the son of Berechiah, the son of Shimea,</span>
  <span class="verse" title="1 Chronicles 6:40" id="1_Chronicles-6-40">the son of Michael, the son of Baaseiah, the son of Malchijah,</span>
  <span class="verse" title="1 Chronicles 6:41" id="1_Chronicles-6-41">the son of Ethni, the son of Zerah, the son of Adaiah,</span>
  <span class="verse" title="1 Chronicles 6:42" id="1_Chronicles-6-42">the son of Ethan, the son of Zimmah, the son of Shimei,</span>
  <span class="verse" title="1 Chronicles 6:43" id="1_Chronicles-6-43">the son of Jahath, the son of Gershom, the son of Levi.</span>
  <span class="verse" title="1 Chronicles 6:44" id="1_Chronicles-6-44">On the left hand their brothers the sons of Merari: Ethan the son of Kishi, the son of Abdi, the son of Malluch,</span>
  <span class="verse" title="1 Chronicles 6:45" id="1_Chronicles-6-45">the son of Hashabiah, the son of Amaziah, the son of Hilkiah,</span>
  <span class="verse" title="1 Chronicles 6:46" id="1_Chronicles-6-46">the son of Amzi, the son of Bani, the son of Shemer,</span>
  <span class="verse" title="1 Chronicles 6:47" id="1_Chronicles-6-47">the son of Mahli, the son of Mushi, the son of Merari, the son of Levi.</span>
  <span class="verse" title="1 Chronicles 6:48" id="1_Chronicles-6-48">Their brothers the Levites were appointed for all the service of the tabernacle of the house of God.</span>
  <span class="verse" title="1 Chronicles 6:49" id="1_Chronicles-6-49">But Aaron and his sons offered on the altar of burnt offering, and on the altar of incense, for all the work of the most holy place, and to make atonement for Israel, according to all that Moses the servant of God had commanded.</span>
  <span class="verse" title="1 Chronicles 6:50" id="1_Chronicles-6-50">These are the sons of Aaron: Eleazar his son, Phinehas his son, Abishua his son,</span>
  <span class="verse" title="1 Chronicles 6:51" id="1_Chronicles-6-51">Bukki his son, Uzzi his son, Zerahiah his son,</span>
  <span class="verse" title="1 Chronicles 6:52" id="1_Chronicles-6-52">Meraioth his son, Amariah his son, Ahitub his son,</span>
  <span class="verse" title="1 Chronicles 6:53" id="1_Chronicles-6-53">Zadok his son, Ahimaaz his son.</span>
  <span class="verse" title="1 Chronicles 6:54" id="1_Chronicles-6-54">Now these are their dwelling places according to their encampments in their borders: to the sons of Aaron, of the families of the Kohathites (for theirs was the first lot),</span>
  <span class="verse" title="1 Chronicles 6:55" id="1_Chronicles-6-55">to them they gave Hebron in the land of Judah, and its suburbs around it;</span>
  <span class="verse" title="1 Chronicles 6:56" id="1_Chronicles-6-56">but the fields of the city, and its villages, they gave to Caleb the son of Jephunneh.</span>
  <span class="verse" title="1 Chronicles 6:57" id="1_Chronicles-6-57">To the sons of Aaron they gave the cities of refuge, Hebron; Libnah also with its suburbs, and Jattir, and Eshtemoa with its suburbs,</span>
  <span class="verse" title="1 Chronicles 6:58" id="1_Chronicles-6-58">and Hilen with its suburbs, Debir with its suburbs,</span>
  <span class="verse" title="1 Chronicles 6:59" id="1_Chronicles-6-59">and Ashan with its suburbs, and Beth Shemesh with its suburbs;</span>
  <span class="verse" title="1 Chronicles 6:60" id="1_Chronicles-6-60">and out of the tribe of Benjamin, Geba with its suburbs, and Allemeth with its suburbs, and Anathoth with its suburbs. All their cities throughout their families were thirteen cities.</span>
  <span class="verse" title="1 Chronicles 6:61" id="1_Chronicles-6-61">To the rest of the sons of Kohath were given by lot, out of the family of the tribe, out of the half-tribe, the half of Manasseh, ten cities.</span>
  <span class="verse" title="1 Chronicles 6:62" id="1_Chronicles-6-62">To the sons of Gershom, according to their families, out of the tribe of Issachar, and out of the tribe of Asher, and out of the tribe of Naphtali, and out of the tribe of Manasseh in Bashan, thirteen cities.</span>
  <span class="verse" title="1 Chronicles 6:63" id="1_Chronicles-6-63">To the sons of Merari were given by lot, according to their families, out of the tribe of Reuben, and out of the tribe of Gad, and out of the tribe of Zebulun, twelve cities.</span>
  <span class="verse" title="1 Chronicles 6:64" id="1_Chronicles-6-64">The children of Israel gave to the Levites the cities with their suburbs.</span>
  <span class="verse" title="1 Chronicles 6:65" id="1_Chronicles-6-65">They gave by lot out of the tribe of the children of Judah, and out of the tribe of the children of Simeon, and out of the tribe of the children of Benjamin, these cities which are mentioned by name.</span>
  <span class="verse" title="1 Chronicles 6:66" id="1_Chronicles-6-66">Some of the families of the sons of Kohath had cities of their borders out of the tribe of Ephraim.</span>
  <span class="verse" title="1 Chronicles 6:67" id="1_Chronicles-6-67">They gave to them the cities of refuge, Shechem in the hill country of Ephraim with its suburbs; Gezer also with its suburbs,</span>
  <span class="verse" title="1 Chronicles 6:68" id="1_Chronicles-6-68">and Jokmeam with its suburbs, and Beth Horon with its suburbs,</span>
  <span class="verse" title="1 Chronicles 6:69" id="1_Chronicles-6-69">and Aijalon with its suburbs, and Gath Rimmon with its suburbs;</span>
  <span class="verse" title="1 Chronicles 6:70" id="1_Chronicles-6-70">and out of the half-tribe of Manasseh, Aner with its suburbs, and Bileam with its suburbs, for the rest of the family of the sons of Kohath.</span>
  <span class="verse" title="1 Chronicles 6:71" id="1_Chronicles-6-71">To the sons of Gershom were given, out of the family of the half-tribe of Manasseh, Golan in Bashan with its suburbs, and Ashtaroth with its suburbs;</span>
  <span class="verse" title="1 Chronicles 6:72" id="1_Chronicles-6-72">and out of the tribe of Issachar, Kedesh with its suburbs, Daberath with its suburbs,</span>
  <span class="verse" title="1 Chronicles 6:73" id="1_Chronicles-6-73">and Ramoth with its suburbs, and Anem with its suburbs;</span>
  <span class="verse" title="1 Chronicles 6:74" id="1_Chronicles-6-74">and out of the tribe of Asher, Mashal with its suburbs, and Abdon with its suburbs,</span>
  <span class="verse" title="1 Chronicles 6:75" id="1_Chronicles-6-75">and Hukok with its suburbs, and Rehob with its suburbs;</span>
  <span class="verse" title="1 Chronicles 6:76" id="1_Chronicles-6-76">and out of the tribe of Naphtali, Kedesh in Galilee with its suburbs, and Hammon with its suburbs, and Kiriathaim with its suburbs.</span>
  <span class="verse" title="1 Chronicles 6:77" id="1_Chronicles-6-77">To the rest of the Levites, the sons of Merari, were given, out of the tribe of Zebulun, Rimmono with its suburbs, Tabor with its suburbs;</span>
  <span class="verse" title="1 Chronicles 6:78" id="1_Chronicles-6-78">and beyond the Jordan at Jericho, on the east side of the Jordan, were given them, out of the tribe of Reuben, Bezer in the wilderness with its suburbs, and Jahzah with its suburbs,</span>
  <span class="verse" title="1 Chronicles 6:79" id="1_Chronicles-6-79">and Kedemoth with its suburbs, and Mephaath with its suburbs;</span>
  <span class="verse" title="1 Chronicles 6:80" id="1_Chronicles-6-80">and out of the tribe of Gad, Ramoth in Gilead with its suburbs, and Mahanaim with its suburbs,</span>
  <span class="verse" title="1 Chronicles 6:81" id="1_Chronicles-6-81">and Heshbon with its suburbs, and Jazer with its suburbs.</span>
</div>