<div class="chapter" id="1 Chronicles-008">
  <h2>1 Chronicles 8</h2>
  <span class="verse" title="1 Chronicles 8:1" id="1_Chronicles-8-1">Benjamin became the father of Bela his firstborn, Ashbel the second, and Aharah the third,</span>
  <span class="verse" title="1 Chronicles 8:2" id="1_Chronicles-8-2">Nohah the fourth, and Rapha the fifth.</span>
  <span class="verse" title="1 Chronicles 8:3" id="1_Chronicles-8-3">Bela had sons: Addar, and Gera, and Abihud,</span>
  <span class="verse" title="1 Chronicles 8:4" id="1_Chronicles-8-4">and Abishua, and Naaman, and Ahoah,</span>
  <span class="verse" title="1 Chronicles 8:5" id="1_Chronicles-8-5">and Gera, and Shephuphan, and Huram.</span>
  <span class="verse" title="1 Chronicles 8:6" id="1_Chronicles-8-6">These are the sons of Ehud: these are the heads of fathers&#8217; households of the inhabitants of Geba, and they carried them captive to Manahath:</span>
  <span class="verse" title="1 Chronicles 8:7" id="1_Chronicles-8-7">and Naaman, and Ahijah, and Gera, he carried them captive: and he became the father of Uzza and Ahihud.</span>
  <span class="verse" title="1 Chronicles 8:8" id="1_Chronicles-8-8">Shaharaim became the father of children in the field of Moab, after he had sent them away; Hushim and Baara were his wives.</span>
  <span class="verse" title="1 Chronicles 8:9" id="1_Chronicles-8-9">He became the father of Hodesh his wife, Jobab, and Zibia, and Mesha, and Malcam,</span>
  <span class="verse" title="1 Chronicles 8:10" id="1_Chronicles-8-10">and Jeuz, and Shachia, and Mirmah. These were his sons, heads of fathers&#8217; households.</span>
  <span class="verse" title="1 Chronicles 8:11" id="1_Chronicles-8-11">Of Hushim he became the father of Abitub and Elpaal.</span>
  <span class="verse" title="1 Chronicles 8:12" id="1_Chronicles-8-12">The sons of Elpaal: Eber, and Misham, and Shemed, who built Ono and Lod, with its towns;</span>
  <span class="verse" title="1 Chronicles 8:13" id="1_Chronicles-8-13">and Beriah, and Shema, who were heads of fathers&#8217; households of the inhabitants of Aijalon, who put to flight the inhabitants of Gath;</span>
  <span class="verse" title="1 Chronicles 8:14" id="1_Chronicles-8-14">and Ahio, Shashak, and Jeremoth,</span>
  <span class="verse" title="1 Chronicles 8:15" id="1_Chronicles-8-15">and Zebadiah, and Arad, and Eder,</span>
  <span class="verse" title="1 Chronicles 8:16" id="1_Chronicles-8-16">and Michael, and Ishpah, and Joha, the sons of Beriah,</span>
  <span class="verse" title="1 Chronicles 8:17" id="1_Chronicles-8-17">and Zebadiah, and Meshullam, and Hizki, and Heber,</span>
  <span class="verse" title="1 Chronicles 8:18" id="1_Chronicles-8-18">and Ishmerai, and Izliah, and Jobab, the sons of Elpaal,</span>
  <span class="verse" title="1 Chronicles 8:19" id="1_Chronicles-8-19">and Jakim, and Zichri, and Zabdi,</span>
  <span class="verse" title="1 Chronicles 8:20" id="1_Chronicles-8-20">and Elienai, and Zillethai, and Eliel,</span>
  <span class="verse" title="1 Chronicles 8:21" id="1_Chronicles-8-21">and Adaiah, and Beraiah, and Shimrath, the sons of Shimei,</span>
  <span class="verse" title="1 Chronicles 8:22" id="1_Chronicles-8-22">and Ishpan, and Eber, and Eliel,</span>
  <span class="verse" title="1 Chronicles 8:23" id="1_Chronicles-8-23">and Abdon, and Zichri, and Hanan,</span>
  <span class="verse" title="1 Chronicles 8:24" id="1_Chronicles-8-24">and Hananiah, and Elam, and Anthothijah,</span>
  <span class="verse" title="1 Chronicles 8:25" id="1_Chronicles-8-25">and Iphdeiah, and Penuel, the sons of Shashak,</span>
  <span class="verse" title="1 Chronicles 8:26" id="1_Chronicles-8-26">and Shamsherai, and Shehariah, and Athaliah,</span>
  <span class="verse" title="1 Chronicles 8:27" id="1_Chronicles-8-27">and Jaareshiah, and Elijah, and Zichri, the sons of Jeroham.</span>
  <span class="verse" title="1 Chronicles 8:28" id="1_Chronicles-8-28">These were heads of fathers&#8217; households throughout their generations, chief men: these lived in Jerusalem.</span>
  <span class="verse" title="1 Chronicles 8:29" id="1_Chronicles-8-29">In Gibeon there lived the father of Gibeon, whose wife&#8217;s name was Maacah;</span>
  <span class="verse" title="1 Chronicles 8:30" id="1_Chronicles-8-30">and his firstborn son Abdon, and Zur, and Kish, and Baal, and Nadab,</span>
  <span class="verse" title="1 Chronicles 8:31" id="1_Chronicles-8-31">and Gedor, and Ahio, and Zecher.</span>
  <span class="verse" title="1 Chronicles 8:32" id="1_Chronicles-8-32">Mikloth became the father of Shimeah. They also lived with their brothers in Jerusalem, over against their brothers.</span>
  <span class="verse" title="1 Chronicles 8:33" id="1_Chronicles-8-33">Ner became the father of Kish; and Kish became the father of Saul; and Saul became the father of Jonathan, and Malchishua, and Abinadab, and Eshbaal.</span>
  <span class="verse" title="1 Chronicles 8:34" id="1_Chronicles-8-34">The son of Jonathan was Merib Baal; and Merib Baal became the father of Micah.</span>
  <span class="verse" title="1 Chronicles 8:35" id="1_Chronicles-8-35">The sons of Micah: Pithon, and Melech, and Tarea, and Ahaz.</span>
  <span class="verse" title="1 Chronicles 8:36" id="1_Chronicles-8-36">Ahaz became the father of Jehoaddah; and Jehoaddah became the father of Alemeth, and Azmaveth, and Zimri; and Zimri became the father of Moza.</span>
  <span class="verse" title="1 Chronicles 8:37" id="1_Chronicles-8-37">Moza became the father of Binea; Raphah was his son, Eleasah his son, Azel his son.</span>
  <span class="verse" title="1 Chronicles 8:38" id="1_Chronicles-8-38">Azel had six sons, whose names are these: Azrikam, Bocheru, and Ishmael, and Sheariah, and Obadiah, and Hanan. All these were the sons of Azel.</span>
  <span class="verse" title="1 Chronicles 8:39" id="1_Chronicles-8-39">The sons of Eshek his brother: Ulam his firstborn, Jeush the second, and Eliphelet the third.</span>
  <span class="verse" title="1 Chronicles 8:40" id="1_Chronicles-8-40">The sons of Ulam were mighty men of valor, archers, and had many sons, and sons&#8217; sons, one hundred fifty. All these were of the sons of Benjamin.</span>
</div>