<div class="chapter" id="1 Chronicles-009">
  <h2>1 Chronicles 9</h2>
  <span class="verse" title="1 Chronicles 9:1" id="1_Chronicles-9-1">So all Israel were reckoned by genealogies; and behold, they are written in the book of the kings of Israel: and Judah was carried away captive to Babylon for their disobedience.</span>
  <span class="verse" title="1 Chronicles 9:2" id="1_Chronicles-9-2">Now the first inhabitants who lived in their possessions in their cities were Israel, the priests, the Levites, and the Nethinim.</span>
  <span class="verse" title="1 Chronicles 9:3" id="1_Chronicles-9-3">In Jerusalem lived of the children of Judah, and of the children of Benjamin, and of the children of Ephraim and Manasseh:</span>
  <span class="verse" title="1 Chronicles 9:4" id="1_Chronicles-9-4">Uthai the son of Ammihud, the son of Omri, the son of Imri, the son of Bani, of the children of Perez the son of Judah.</span>
  <span class="verse" title="1 Chronicles 9:5" id="1_Chronicles-9-5">Of the Shilonites: Asaiah the firstborn, and his sons.</span>
  <span class="verse" title="1 Chronicles 9:6" id="1_Chronicles-9-6">Of the sons of Zerah: Jeuel, and their brothers, six hundred ninety.</span>
  <span class="verse" title="1 Chronicles 9:7" id="1_Chronicles-9-7">Of the sons of Benjamin: Sallu the son of Meshullam, the son of Hodaviah, the son of Hassenuah,</span>
  <span class="verse" title="1 Chronicles 9:8" id="1_Chronicles-9-8">and Ibneiah the son of Jeroham, and Elah the son of Uzzi, the son of Michri, and Meshullam the son of Shephatiah, the son of Reuel, the son of Ibnijah;</span>
  <span class="verse" title="1 Chronicles 9:9" id="1_Chronicles-9-9">and their brothers, according to their generations, nine hundred fifty-six. All these men were heads of fathers&#8217; households by their fathers&#8217; houses.</span>
  <span class="verse" title="1 Chronicles 9:10" id="1_Chronicles-9-10">Of the priests: Jedaiah, and Jehoiarib, Jachin,</span>
  <span class="verse" title="1 Chronicles 9:11" id="1_Chronicles-9-11">and Azariah the son of Hilkiah, the son of Meshullam, the son of Zadok, the son of Meraioth, the son of Ahitub, the ruler of the house of God;</span>
  <span class="verse" title="1 Chronicles 9:12" id="1_Chronicles-9-12">and Adaiah the son of Jeroham, the son of Pashhur, the son of Malchijah, and Maasai the son of Adiel, the son of Jahzerah, the son of Meshullam, the son of Meshillemith, the son of Immer;</span>
  <span class="verse" title="1 Chronicles 9:13" id="1_Chronicles-9-13">and their brothers, heads of their fathers&#8217; houses, one thousand seven hundred sixty; very able men for the work of the service of the house of God.</span>
  <span class="verse" title="1 Chronicles 9:14" id="1_Chronicles-9-14">Of the Levites: Shemaiah the son of Hasshub, the son of Azrikam, the son of Hashabiah, of the sons of Merari;</span>
  <span class="verse" title="1 Chronicles 9:15" id="1_Chronicles-9-15">and Bakbakkar, Heresh, and Galal, and Mattaniah the son of Mica, the son of Zichri, the son of Asaph,</span>
  <span class="verse" title="1 Chronicles 9:16" id="1_Chronicles-9-16">and Obadiah the son of Shemaiah, the son of Galal, the son of Jeduthun, and Berechiah the son of Asa, the son of Elkanah, who lived in the villages of the Netophathites.</span>
  <span class="verse" title="1 Chronicles 9:17" id="1_Chronicles-9-17">The porters: Shallum, and Akkub, and Talmon, and Ahiman, and their brothers (Shallum was the chief),</span>
  <span class="verse" title="1 Chronicles 9:18" id="1_Chronicles-9-18">who previously served in the king&#8217;s gate eastward: they were the porters for the camp of the children of Levi.</span>
  <span class="verse" title="1 Chronicles 9:19" id="1_Chronicles-9-19">Shallum the son of Kore, the son of Ebiasaph, the son of Korah, and his brothers, of his father&#8217;s house, the Korahites, were over the work of the service, keepers of the thresholds of the tent: and their fathers had been over the camp of Yahweh, keepers of the entry.</span>
  <span class="verse" title="1 Chronicles 9:20" id="1_Chronicles-9-20">Phinehas the son of Eleazar was ruler over them in time past, and Yahweh was with him.</span>
  <span class="verse" title="1 Chronicles 9:21" id="1_Chronicles-9-21">Zechariah the son of Meshelemiah was porter of the door of the Tent of Meeting.</span>
  <span class="verse" title="1 Chronicles 9:22" id="1_Chronicles-9-22">All these who were chosen to be porters in the thresholds were two hundred and twelve. These were reckoned by genealogy in their villages, whom David and Samuel the seer ordained in their office of trust.</span>
  <span class="verse" title="1 Chronicles 9:23" id="1_Chronicles-9-23">So they and their children had the oversight of the gates of the house of Yahweh, even the house of the tent, by wards.</span>
  <span class="verse" title="1 Chronicles 9:24" id="1_Chronicles-9-24">On the four sides were the porters, toward the east, west, north, and south.</span>
  <span class="verse" title="1 Chronicles 9:25" id="1_Chronicles-9-25">Their brothers, in their villages, were to come in every seven days from time to time to be with them:</span>
  <span class="verse" title="1 Chronicles 9:26" id="1_Chronicles-9-26">for the four chief porters, who were Levites, were in an office of trust, and were over the rooms and over the treasuries in the house of God.</span>
  <span class="verse" title="1 Chronicles 9:27" id="1_Chronicles-9-27">They lodged around the house of God, because that duty was on them; and to them pertained its opening morning by morning.</span>
  <span class="verse" title="1 Chronicles 9:28" id="1_Chronicles-9-28">Certain of them were in charge of the vessels of service; for by count were these brought in and by count were these taken out.</span>
  <span class="verse" title="1 Chronicles 9:29" id="1_Chronicles-9-29">Some of them also were appointed over the furniture, and over all the vessels of the sanctuary, and over the fine flour, and the wine, and the oil, and the frankincense, and the spices.</span>
  <span class="verse" title="1 Chronicles 9:30" id="1_Chronicles-9-30">Some of the sons of the priests prepared the confection of the spices.</span>
  <span class="verse" title="1 Chronicles 9:31" id="1_Chronicles-9-31">Mattithiah, one of the Levites, who was the firstborn of Shallum the Korahite, had the office of trust over the things that were baked in pans.</span>
  <span class="verse" title="1 Chronicles 9:32" id="1_Chronicles-9-32">Some of their brothers, of the sons of the Kohathites, were over the show bread, to prepare it every Sabbath.</span>
  <span class="verse" title="1 Chronicles 9:33" id="1_Chronicles-9-33">These are the singers, heads of fathers&#8217; households of the Levites, who lived in the rooms and were free from other service; for they were employed in their work day and night.</span>
  <span class="verse" title="1 Chronicles 9:34" id="1_Chronicles-9-34">These were heads of fathers&#8217; households of the Levites, throughout their generations, chief men: these lived at Jerusalem.</span>
  <span class="verse" title="1 Chronicles 9:35" id="1_Chronicles-9-35">In Gibeon there lived the father of Gibeon, Jeiel, whose wife&#8217;s name was Maacah:</span>
  <span class="verse" title="1 Chronicles 9:36" id="1_Chronicles-9-36">and his firstborn son Abdon, and Zur, and Kish, and Baal, and Ner, and Nadab,</span>
  <span class="verse" title="1 Chronicles 9:37" id="1_Chronicles-9-37">and Gedor, and Ahio, and Zechariah, and Mikloth.</span>
  <span class="verse" title="1 Chronicles 9:38" id="1_Chronicles-9-38">Mikloth became the father of Shimeam. They also lived with their brothers in Jerusalem, over against their brothers.</span>
  <span class="verse" title="1 Chronicles 9:39" id="1_Chronicles-9-39">Ner became the father of Kish; and Kish became the father of Saul; and Saul became the father of Jonathan, and Malchishua, and Abinadab, and Eshbaal.</span>
  <span class="verse" title="1 Chronicles 9:40" id="1_Chronicles-9-40">The son of Jonathan was Merib Baal; and Merib Baal became the father of Micah.</span>
  <span class="verse" title="1 Chronicles 9:41" id="1_Chronicles-9-41">The sons of Micah: Pithon, and Melech, and Tahrea, and Ahaz.</span>
  <span class="verse" title="1 Chronicles 9:42" id="1_Chronicles-9-42">Ahaz became the father of Jarah; and Jarah became the father of Alemeth, and Azmaveth, and Zimri; and Zimri became the father of Moza;</span>
  <span class="verse" title="1 Chronicles 9:43" id="1_Chronicles-9-43">and Moza became the father of Binea; and Rephaiah his son, Eleasah his son, Azel his son.</span>
  <span class="verse" title="1 Chronicles 9:44" id="1_Chronicles-9-44">Azel had six sons, whose names are these: Azrikam, Bocheru, and Ishmael, and Sheariah, and Obadiah, and Hanan: these were the sons of Azel.</span>
</div>