<div class="chapter" id="1 Chronicles-010">
  <h2>1 Chronicles 10</h2>
  <span class="verse" title="1 Chronicles 10:1" id="1_Chronicles-10-1">Now the Philistines fought against Israel: and the men of Israel fled from before the Philistines, and fell down slain on Mount Gilboa.</span>
  <span class="verse" title="1 Chronicles 10:2" id="1_Chronicles-10-2">The Philistines followed hard after Saul and after his sons; and the Philistines killed Jonathan, and Abinadab, and Malchishua, the sons of Saul.</span>
  <span class="verse" title="1 Chronicles 10:3" id="1_Chronicles-10-3">The battle went hard against Saul, and the archers overtook him; and he was distressed by reason of the archers.</span>
  <span class="verse" title="1 Chronicles 10:4" id="1_Chronicles-10-4">Then Saul said to his armor bearer, &#8220;Draw your sword, and thrust me through with it, lest these uncircumcised come and abuse me.&#8221; But his armor bearer would not; for he was terrified. Therefore Saul took his sword, and fell on it.</span>
  <span class="verse" title="1 Chronicles 10:5" id="1_Chronicles-10-5">When his armor bearer saw that Saul was dead, he likewise fell on his sword, and died.</span>
  <span class="verse" title="1 Chronicles 10:6" id="1_Chronicles-10-6">So Saul died, and his three sons; and all his house died together.</span>
  <span class="verse" title="1 Chronicles 10:7" id="1_Chronicles-10-7">When all the men of Israel who were in the valley saw that they fled, and that Saul and his sons were dead, they forsook their cities, and fled; and the Philistines came and lived in them.</span>
  <span class="verse" title="1 Chronicles 10:8" id="1_Chronicles-10-8">It happened on the next day, when the Philistines came to strip the slain, that they found Saul and his sons fallen on Mount Gilboa.</span>
  <span class="verse" title="1 Chronicles 10:9" id="1_Chronicles-10-9">They stripped him, and took his head, and his armor, and sent into the land of the Philistines all around, to carry the news to their idols, and to the people.</span>
  <span class="verse" title="1 Chronicles 10:10" id="1_Chronicles-10-10">They put his armor in the house of their gods, and fastened his head in the house of Dagon.</span>
  <span class="verse" title="1 Chronicles 10:11" id="1_Chronicles-10-11">When all Jabesh Gilead heard all that the Philistines had done to Saul,</span>
  <span class="verse" title="1 Chronicles 10:12" id="1_Chronicles-10-12">all the valiant men arose, and took away the body of Saul, and the bodies of his sons, and brought them to Jabesh, and buried their bones under the oak in Jabesh, and fasted seven days.</span>
  <span class="verse" title="1 Chronicles 10:13" id="1_Chronicles-10-13">So Saul died for his trespass which he committed against Yahweh, because of the word of Yahweh, which he didn&#8217;t keep; and also because he asked counsel of one who had a familiar spirit, to inquire,</span>
  <span class="verse" title="1 Chronicles 10:14" id="1_Chronicles-10-14">and didn&#8217;t inquire of Yahweh: therefore he killed him, and turned the kingdom to David the son of Jesse.</span>
</div>