<div class="chapter" id="1 Chronicles-011">
  <h2>1 Chronicles 11</h2>
  <span class="verse" title="1 Chronicles 11:1" id="1_Chronicles-11-1">Then all Israel gathered themselves to David to Hebron, saying, &#8220;Behold, we are your bone and your flesh.</span>
  <span class="verse" title="1 Chronicles 11:2" id="1_Chronicles-11-2">In times past, even when Saul was king, it was you who led out and brought in Israel. Yahweh your God said to you, &#8216;You shall be shepherd of my people Israel, and you shall be prince over my people Israel.&#8217;&#8221;</span>
  <span class="verse" title="1 Chronicles 11:3" id="1_Chronicles-11-3">So all the elders of Israel came to the king to Hebron; and David made a covenant with them in Hebron before Yahweh; and they anointed David king over Israel, according to the word of Yahweh by Samuel.</span>
  <span class="verse" title="1 Chronicles 11:4" id="1_Chronicles-11-4">David and all Israel went to Jerusalem (the same is Jebus); and the Jebusites, the inhabitants of the land, were there.</span>
  <span class="verse" title="1 Chronicles 11:5" id="1_Chronicles-11-5">The inhabitants of Jebus said to David, &#8220;You shall not come in here.&#8221; Nevertheless David took the stronghold of Zion. The same is the city of David.</span>
  <span class="verse" title="1 Chronicles 11:6" id="1_Chronicles-11-6">David said, &#8220;Whoever strikes the Jebusites first shall be chief and captain.&#8221; Joab the son of Zeruiah went up first, and was made chief.</span>
  <span class="verse" title="1 Chronicles 11:7" id="1_Chronicles-11-7">David lived in the stronghold; therefore they called it the city of David.</span>
  <span class="verse" title="1 Chronicles 11:8" id="1_Chronicles-11-8">He built the city all around, from Millo even around; and Joab repaired the rest of the city.</span>
  <span class="verse" title="1 Chronicles 11:9" id="1_Chronicles-11-9">David grew greater and greater; for Yahweh of Armies was with him.</span>
  <span class="verse" title="1 Chronicles 11:10" id="1_Chronicles-11-10">Now these are the chief of the mighty men whom David had, who showed themselves strong with him in his kingdom, together with all Israel, to make him king, according to the word of Yahweh concerning Israel.</span>
  <span class="verse" title="1 Chronicles 11:11" id="1_Chronicles-11-11">This is the number of the mighty men whom David had: Jashobeam, the son of a Hachmonite, the chief of the thirty; he lifted up his spear against three hundred and killed them at one time.</span>
  <span class="verse" title="1 Chronicles 11:12" id="1_Chronicles-11-12">After him was Eleazar the son of Dodo, the Ahohite, who was one of the three mighty men.</span>
  <span class="verse" title="1 Chronicles 11:13" id="1_Chronicles-11-13">He was with David at Pasdammim, and there the Philistines were gathered together to battle, where there was a plot of ground full of barley; and the people fled from before the Philistines.</span>
  <span class="verse" title="1 Chronicles 11:14" id="1_Chronicles-11-14">They stood in the midst of the plot, and defended it, and killed the Philistines; and Yahweh saved them by a great victory.</span>
  <span class="verse" title="1 Chronicles 11:15" id="1_Chronicles-11-15">Three of the thirty chief men went down to the rock to David, into the cave of Adullam; and the army of the Philistines were encamped in the valley of Rephaim.</span>
  <span class="verse" title="1 Chronicles 11:16" id="1_Chronicles-11-16">David was then in the stronghold, and the garrison of the Philistines was then in Bethlehem.</span>
  <span class="verse" title="1 Chronicles 11:17" id="1_Chronicles-11-17">David longed, and said, &#8220;Oh that one would give me water to drink of the well of Bethlehem, which is by the gate!&#8221;</span>
  <span class="verse" title="1 Chronicles 11:18" id="1_Chronicles-11-18">The three broke through the army of the Philistines, and drew water out of the well of Bethlehem, that was by the gate, and took it, and brought it to David: but David would not drink of it, but poured it out to Yahweh,</span>
  <span class="verse" title="1 Chronicles 11:19" id="1_Chronicles-11-19">and said, &#8220;My God forbid it me, that I should do this! Shall I drink the blood of these men who have put their lives in jeopardy?&#8221; For they risked their lives to bring it. Therefore he would not drink it. The three mighty men did these things.</span>
  <span class="verse" title="1 Chronicles 11:20" id="1_Chronicles-11-20">Abishai, the brother of Joab, he was chief of the three; for he lifted up his spear against three hundred and killed them, and had a name among the three.</span>
  <span class="verse" title="1 Chronicles 11:21" id="1_Chronicles-11-21">Of the three, he was more honorable than the two, and was made their captain: however he didn&#8217;t attain to the three.</span>
  <span class="verse" title="1 Chronicles 11:22" id="1_Chronicles-11-22">Benaiah the son of Jehoiada, the son of a valiant man of Kabzeel, who had done mighty deeds, he killed the two sons of Ariel of Moab: he went down also and killed a lion in the midst of a pit in time of snow.</span>
  <span class="verse" title="1 Chronicles 11:23" id="1_Chronicles-11-23">He killed an Egyptian, a man of great stature, five cubits high; and in the Egyptian&#8217;s hand was a spear like a weaver&#8217;s beam; and he went down to him with a staff, and plucked the spear out of the Egyptian&#8217;s hand, and killed him with his own spear.</span>
  <span class="verse" title="1 Chronicles 11:24" id="1_Chronicles-11-24">Benaiah the son of Jehoiada did these things, and had a name among the three mighty men.</span>
  <span class="verse" title="1 Chronicles 11:25" id="1_Chronicles-11-25">Behold, he was more honorable than the thirty, but he didn&#8217;t attain to the three: and David set him over his guard.</span>
  <span class="verse" title="1 Chronicles 11:26" id="1_Chronicles-11-26">Also the mighty men of the armies: Asahel the brother of Joab, Elhanan the son of Dodo of Bethlehem,</span>
  <span class="verse" title="1 Chronicles 11:27" id="1_Chronicles-11-27">Shammoth the Harorite, Helez the Pelonite,</span>
  <span class="verse" title="1 Chronicles 11:28" id="1_Chronicles-11-28">Ira the son of Ikkesh the Tekoite, Abiezer the Anathothite,</span>
  <span class="verse" title="1 Chronicles 11:29" id="1_Chronicles-11-29">Sibbecai the Hushathite, Ilai the Ahohite,</span>
  <span class="verse" title="1 Chronicles 11:30" id="1_Chronicles-11-30">Maharai the Netophathite, Heled the son of Baanah the Netophathite,</span>
  <span class="verse" title="1 Chronicles 11:31" id="1_Chronicles-11-31">Ithai the son of Ribai of Gibeah of the children of Benjamin, Benaiah the Pirathonite,</span>
  <span class="verse" title="1 Chronicles 11:32" id="1_Chronicles-11-32">Hurai of the brooks of Gaash, Abiel the Arbathite,</span>
  <span class="verse" title="1 Chronicles 11:33" id="1_Chronicles-11-33">Azmaveth the Baharumite, Eliahba the Shaalbonite,</span>
  <span class="verse" title="1 Chronicles 11:34" id="1_Chronicles-11-34">the sons of Hashem the Gizonite, Jonathan the son of Shagee the Hararite,</span>
  <span class="verse" title="1 Chronicles 11:35" id="1_Chronicles-11-35">Ahiam the son of Sacar the Hararite, Eliphal the son of Ur,</span>
  <span class="verse" title="1 Chronicles 11:36" id="1_Chronicles-11-36">Hepher the Mecherathite, Ahijah the Pelonite,</span>
  <span class="verse" title="1 Chronicles 11:37" id="1_Chronicles-11-37">Hezro the Carmelite, Naarai the son of Ezbai,</span>
  <span class="verse" title="1 Chronicles 11:38" id="1_Chronicles-11-38">Joel the brother of Nathan, Mibhar the son of Hagri,</span>
  <span class="verse" title="1 Chronicles 11:39" id="1_Chronicles-11-39">Zelek the Ammonite, Naharai the Berothite, the armor bearer of Joab the son of Zeruiah,</span>
  <span class="verse" title="1 Chronicles 11:40" id="1_Chronicles-11-40">Ira the Ithrite, Gareb the Ithrite,</span>
  <span class="verse" title="1 Chronicles 11:41" id="1_Chronicles-11-41">Uriah the Hittite, Zabad the son of Ahlai,</span>
  <span class="verse" title="1 Chronicles 11:42" id="1_Chronicles-11-42">Adina the son of Shiza the Reubenite, a chief of the Reubenites, and thirty with him,</span>
  <span class="verse" title="1 Chronicles 11:43" id="1_Chronicles-11-43">Hanan the son of Maacah, and Joshaphat the Mithnite,</span>
  <span class="verse" title="1 Chronicles 11:44" id="1_Chronicles-11-44">Uzzia the Ashterathite, Shama and Jeiel the sons of Hotham the Aroerite,</span>
  <span class="verse" title="1 Chronicles 11:45" id="1_Chronicles-11-45">Jediael the son of Shimri, and Joha his brother, the Tizite,</span>
  <span class="verse" title="1 Chronicles 11:46" id="1_Chronicles-11-46">Eliel the Mahavite, and Jeribai, and Joshaviah, the sons of Elnaam, and Ithmah the Moabite,</span>
  <span class="verse" title="1 Chronicles 11:47" id="1_Chronicles-11-47">Eliel, and Obed, and Jaasiel the Mezobaite.</span>
</div>