<div class="chapter" id="1 Chronicles-013">
  <h2>1 Chronicles 13</h2>
  <span class="verse" title="1 Chronicles 13:1" id="1_Chronicles-13-1">David consulted with the captains of thousands and of hundreds, even with every leader.</span>
  <span class="verse" title="1 Chronicles 13:2" id="1_Chronicles-13-2">David said to all the assembly of Israel, &#8220;If it seems good to you, and if it is of Yahweh our God, let us send abroad everywhere to our brothers who are left in all the land of Israel, with whom the priests and Levites are in their cities that have suburbs, that they may gather themselves to us;</span>
  <span class="verse" title="1 Chronicles 13:3" id="1_Chronicles-13-3">and let us bring again the ark of our God to us. For we didn&#8217;t seek it in the days of Saul.&#8221;</span>
  <span class="verse" title="1 Chronicles 13:4" id="1_Chronicles-13-4">All the assembly said that they would do so; for the thing was right in the eyes of all the people.</span>
  <span class="verse" title="1 Chronicles 13:5" id="1_Chronicles-13-5">So David assembled all Israel together, from the Shihor the brook of Egypt even to the entrance of Hamath, to bring the ark of God from Kiriath Jearim.</span>
  <span class="verse" title="1 Chronicles 13:6" id="1_Chronicles-13-6">David went up, and all Israel, to Baalah, that is, to Kiriath Jearim, which belonged to Judah, to bring up from there the ark of God Yahweh that sits above the cherubim, that is called by the Name.</span>
  <span class="verse" title="1 Chronicles 13:7" id="1_Chronicles-13-7">They carried the ark of God on a new cart, and brought it out of the house of Abinadab: and Uzza and Ahio drove the cart.</span>
  <span class="verse" title="1 Chronicles 13:8" id="1_Chronicles-13-8">David and all Israel played before God with all their might, even with songs, and with harps, and with stringed instruments, and with tambourines, and with cymbals, and with trumpets.</span>
  <span class="verse" title="1 Chronicles 13:9" id="1_Chronicles-13-9">When they came to the threshing floor of Chidon, Uzza put forth his hand to hold the ark; for the oxen stumbled.</span>
  <span class="verse" title="1 Chronicles 13:10" id="1_Chronicles-13-10">The anger of Yahweh was kindled against Uzza, and he struck him, because he put forth his hand to the ark; and there he died before God.</span>
  <span class="verse" title="1 Chronicles 13:11" id="1_Chronicles-13-11">David was displeased, because Yahweh had broken forth on Uzza; and he called that place Perez Uzza, to this day.</span>
  <span class="verse" title="1 Chronicles 13:12" id="1_Chronicles-13-12">David was afraid of God that day, saying, &#8220;How shall I bring the ark of God home to me?&#8221;</span>
  <span class="verse" title="1 Chronicles 13:13" id="1_Chronicles-13-13">So David didn&#8217;t move the ark to him into the city of David, but carried it aside into the house of Obed-Edom the Gittite.</span>
  <span class="verse" title="1 Chronicles 13:14" id="1_Chronicles-13-14">The ark of God remained with the family of Obed-Edom in his house three months: and Yahweh blessed the house of Obed-Edom, and all that he had.</span>
</div>