<div class="chapter" id="1 Chronicles-014">
  <h2>1 Chronicles 14</h2>
  <span class="verse" title="1 Chronicles 14:1" id="1_Chronicles-14-1">Hiram king of Tyre sent messengers to David, and cedar trees, and masons, and carpenters, to build him a house.</span>
  <span class="verse" title="1 Chronicles 14:2" id="1_Chronicles-14-2">David perceived that Yahweh had established him king over Israel; for his kingdom was exalted on high, for his people Israel&#8217;s sake.</span>
  <span class="verse" title="1 Chronicles 14:3" id="1_Chronicles-14-3">David took more wives at Jerusalem; and David became the father of more sons and daughters.</span>
  <span class="verse" title="1 Chronicles 14:4" id="1_Chronicles-14-4">These are the names of the children whom he had in Jerusalem: Shammua, and Shobab, Nathan, and Solomon,</span>
  <span class="verse" title="1 Chronicles 14:5" id="1_Chronicles-14-5">and Ibhar, and Elishua, and Elpelet,</span>
  <span class="verse" title="1 Chronicles 14:6" id="1_Chronicles-14-6">and Nogah, and Nepheg, and Japhia,</span>
  <span class="verse" title="1 Chronicles 14:7" id="1_Chronicles-14-7">and Elishama, and Beeliada, and Eliphelet.</span>
  <span class="verse" title="1 Chronicles 14:8" id="1_Chronicles-14-8">When the Philistines heard that David was anointed king over all Israel, all the Philistines went up to seek David: and David heard of it, and went out against them.</span>
  <span class="verse" title="1 Chronicles 14:9" id="1_Chronicles-14-9">Now the Philistines had come and made a raid in the valley of Rephaim.</span>
  <span class="verse" title="1 Chronicles 14:10" id="1_Chronicles-14-10">David inquired of God, saying, &#8220;Shall I go up against the Philistines? Will you deliver them into my hand?&#8221; Yahweh said to him, &#8220;Go up; for I will deliver them into your hand.&#8221;</span>
  <span class="verse" title="1 Chronicles 14:11" id="1_Chronicles-14-11">So they came up to Baal Perazim, and David struck them there; and David said, God has broken my enemies by my hand, like the breach of waters. Therefore they called the name of that place Baal Perazim.</span>
  <span class="verse" title="1 Chronicles 14:12" id="1_Chronicles-14-12">They left their gods there; and David gave commandment, and they were burned with fire.</span>
  <span class="verse" title="1 Chronicles 14:13" id="1_Chronicles-14-13">The Philistines yet again made a raid in the valley.</span>
  <span class="verse" title="1 Chronicles 14:14" id="1_Chronicles-14-14">David inquired again of God; and God said to him, &#8220;You shall not go up after them. Turn away from them, and come on them over against the mulberry trees.</span>
  <span class="verse" title="1 Chronicles 14:15" id="1_Chronicles-14-15">It shall be, when you hear the sound of marching in the tops of the mulberry trees, that then you shall go out to battle; for God has gone out before you to strike the army of the Philistines.&#8221;</span>
  <span class="verse" title="1 Chronicles 14:16" id="1_Chronicles-14-16">David did as God commanded him: and they struck the army of the Philistines from Gibeon even to Gezer.</span>
  <span class="verse" title="1 Chronicles 14:17" id="1_Chronicles-14-17">The fame of David went out into all lands; and Yahweh brought the fear of him on all nations.</span>
</div>