<div class="chapter" id="1 Chronicles-015">
  <h2>1 Chronicles 15</h2>
  <span class="verse" title="1 Chronicles 15:1" id="1_Chronicles-15-1">David made him houses in the city of David; and he prepared a place for the ark of God, and pitched for it a tent.</span>
  <span class="verse" title="1 Chronicles 15:2" id="1_Chronicles-15-2">Then David said, &#8220;No one ought to carry the ark of God but the Levites. For Yahweh has chosen them to carry the ark of God, and to minister to him forever.&#8221;</span>
  <span class="verse" title="1 Chronicles 15:3" id="1_Chronicles-15-3">David assembled all Israel at Jerusalem, to bring up the ark of Yahweh to its place, which he had prepared for it.</span>
  <span class="verse" title="1 Chronicles 15:4" id="1_Chronicles-15-4">David gathered together the sons of Aaron, and the Levites:</span>
  <span class="verse" title="1 Chronicles 15:5" id="1_Chronicles-15-5">of the sons of Kohath, Uriel the chief, and his brothers one hundred twenty;</span>
  <span class="verse" title="1 Chronicles 15:6" id="1_Chronicles-15-6">of the sons of Merari, Asaiah the chief, and his brothers two hundred twenty;</span>
  <span class="verse" title="1 Chronicles 15:7" id="1_Chronicles-15-7">of the sons of Gershom, Joel the chief, and his brothers one hundred thirty;</span>
  <span class="verse" title="1 Chronicles 15:8" id="1_Chronicles-15-8">of the sons of Elizaphan, Shemaiah the chief, and his brothers two hundred;</span>
  <span class="verse" title="1 Chronicles 15:9" id="1_Chronicles-15-9">of the sons of Hebron, Eliel the chief, and his brothers eighty;</span>
  <span class="verse" title="1 Chronicles 15:10" id="1_Chronicles-15-10">of the sons of Uzziel, Amminadab the chief, and his brothers one hundred twelve.</span>
  <span class="verse" title="1 Chronicles 15:11" id="1_Chronicles-15-11">David called for Zadok and Abiathar the priests, and for the Levites, for Uriel, Asaiah, and Joel, Shemaiah, and Eliel, and Amminadab,</span>
  <span class="verse" title="1 Chronicles 15:12" id="1_Chronicles-15-12">and said to them, &#8220;You are the heads of the fathers&#8217; households of the Levites. Sanctify yourselves, both you and your brothers, that you may bring up the ark of Yahweh, the God of Israel, to the place that I have prepared for it.</span>
  <span class="verse" title="1 Chronicles 15:13" id="1_Chronicles-15-13">For because you didn&#8217;t carry it at first, Yahweh our God made broke out against us, because we didn&#8217;t seek him according to the ordinance.&#8221;</span>
  <span class="verse" title="1 Chronicles 15:14" id="1_Chronicles-15-14">So the priests and the Levites sanctified themselves to bring up the ark of Yahweh, the God of Israel.</span>
  <span class="verse" title="1 Chronicles 15:15" id="1_Chronicles-15-15">The children of the Levites bore the ark of God on their shoulders with the poles thereon, as Moses commanded according to the word of Yahweh.</span>
  <span class="verse" title="1 Chronicles 15:16" id="1_Chronicles-15-16">David spoke to the chief of the Levites to appoint their brothers the singers, with instruments of music, stringed instruments and harps and cymbals, sounding aloud and lifting up the voice with joy.</span>
  <span class="verse" title="1 Chronicles 15:17" id="1_Chronicles-15-17">So the Levites appointed Heman the son of Joel; and of his brothers, Asaph the son of Berechiah; and of the sons of Merari their brothers, Ethan the son of Kushaiah;</span>
  <span class="verse" title="1 Chronicles 15:18" id="1_Chronicles-15-18">and with them their brothers of the second degree, Zechariah, Ben, and Jaaziel, and Shemiramoth, and Jehiel, and Unni, Eliab, and Benaiah, and Maaseiah, and Mattithiah, and Eliphelehu, and Mikneiah, and Obed-Edom, and Jeiel, the doorkeepers.</span>
  <span class="verse" title="1 Chronicles 15:19" id="1_Chronicles-15-19">So the singers, Heman, Asaph, and Ethan, were given cymbals of brass to sound aloud;</span>
  <span class="verse" title="1 Chronicles 15:20" id="1_Chronicles-15-20">and Zechariah, and Aziel, and Shemiramoth, and Jehiel, and Unni, and Eliab, and Maaseiah, and Benaiah, with stringed instruments set to Alamoth;</span>
  <span class="verse" title="1 Chronicles 15:21" id="1_Chronicles-15-21">and Mattithiah, and Eliphelehu, and Mikneiah, and Obed-Edom, and Jeiel, and Azaziah, with harps tuned to the eight-stringed lyre, to lead.</span>
  <span class="verse" title="1 Chronicles 15:22" id="1_Chronicles-15-22">Chenaniah, chief of the Levites, was over the song: he instructed about the song, because he was skillful.</span>
  <span class="verse" title="1 Chronicles 15:23" id="1_Chronicles-15-23">Berechiah and Elkanah were doorkeepers for the ark.</span>
  <span class="verse" title="1 Chronicles 15:24" id="1_Chronicles-15-24">Shebaniah, and Joshaphat, and Nethanel, and Amasai, and Zechariah, and Benaiah, and Eliezer, the priests, blew the trumpets before the ark of God: and Obed-Edom and Jehiah were doorkeepers for the ark.</span>
  <span class="verse" title="1 Chronicles 15:25" id="1_Chronicles-15-25">So David, and the elders of Israel, and the captains over thousands, went to bring up the ark of the covenant of Yahweh out of the house of Obed-Edom with joy.</span>
  <span class="verse" title="1 Chronicles 15:26" id="1_Chronicles-15-26">It happened, when God helped the Levites who bore the ark of the covenant of Yahweh, that they sacrificed seven bulls and seven rams.</span>
  <span class="verse" title="1 Chronicles 15:27" id="1_Chronicles-15-27">David was clothed with a robe of fine linen, and all the Levites who bore the ark, and the singers, and Chenaniah the master of the song with the singers: and David had on him an ephod of linen.</span>
  <span class="verse" title="1 Chronicles 15:28" id="1_Chronicles-15-28">Thus all Israel brought up the ark of the covenant of Yahweh with shouting, and with sound of the cornet, and with trumpets, and with cymbals, sounding aloud with stringed instruments and harps.</span>
  <span class="verse" title="1 Chronicles 15:29" id="1_Chronicles-15-29">It happened, as the ark of the covenant of Yahweh came to the city of David, that Michal the daughter of Saul looked out at the window, and saw king David dancing and playing; and she despised him in her heart.</span>
</div>