<div class="chapter" id="1 Chronicles-020">
  <h2>1 Chronicles 20</h2>
  <span class="verse" title="1 Chronicles 20:1" id="1_Chronicles-20-1">It happened, at the time of the return of the year, at the time when kings go out, that Joab led forth the army, and wasted the country of the children of Ammon, and came and besieged Rabbah. But David stayed at Jerusalem. Joab struck Rabbah, and overthrew it.</span>
  <span class="verse" title="1 Chronicles 20:2" id="1_Chronicles-20-2">David took the crown of their king from off his head, and found it to weigh a talent of gold, and there were precious stones in it; and it was set on David&#8217;s head: and he brought forth the spoil of the city, exceeding much.</span>
  <span class="verse" title="1 Chronicles 20:3" id="1_Chronicles-20-3">He brought forth the people who were therein, and cut them with saws, and with iron picks, and with axes. David did so to all the cities of the children of Ammon. David and all the people returned to Jerusalem.</span>
  <span class="verse" title="1 Chronicles 20:4" id="1_Chronicles-20-4">It happened after this, that there arose war at Gezer with the Philistines: then Sibbecai the Hushathite killed Sippai, of the sons of the giant; and they were subdued.</span>
  <span class="verse" title="1 Chronicles 20:5" id="1_Chronicles-20-5">There was again war with the Philistines; and Elhanan the son of Jair killed Lahmi the brother of Goliath the Gittite, the staff of whose spear was like a weaver&#8217;s beam.</span>
  <span class="verse" title="1 Chronicles 20:6" id="1_Chronicles-20-6">There was again war at Gath, where there was a man of great stature, whose fingers and toes were twenty-four, six on each hand, and six on each foot; and he also was born to the giant.</span>
  <span class="verse" title="1 Chronicles 20:7" id="1_Chronicles-20-7">When he defied Israel, Jonathan the son of Shimea David&#8217;s brother killed him.</span>
  <span class="verse" title="1 Chronicles 20:8" id="1_Chronicles-20-8">These were born to the giant in Gath; and they fell by the hand of David, and by the hand of his servants.</span>
</div>