<div class="chapter" id="1 Chronicles-024">
  <h2>1 Chronicles 24</h2>
  <span class="verse" title="1 Chronicles 24:1" id="1_Chronicles-24-1">These were the divisions of the sons of Aaron. The sons of Aaron: Nadab and Abihu, Eleazar and Ithamar.</span>
  <span class="verse" title="1 Chronicles 24:2" id="1_Chronicles-24-2">But Nadab and Abihu died before their father, and had no children: therefore Eleazar and Ithamar executed the priest&#8217;s office.</span>
  <span class="verse" title="1 Chronicles 24:3" id="1_Chronicles-24-3">David with Zadok of the sons of Eleazar, and Ahimelech of the sons of Ithamar, divided them according to their ordering in their service.</span>
  <span class="verse" title="1 Chronicles 24:4" id="1_Chronicles-24-4">There were more chief men found of the sons of Eleazar than of the sons of Ithamar; and they were divided like this: of the sons of Eleazar there were sixteen, heads of fathers&#8217; houses; and of the sons of Ithamar, according to their fathers&#8217; houses, eight.</span>
  <span class="verse" title="1 Chronicles 24:5" id="1_Chronicles-24-5">Thus were they divided impartially by drawing lots; for there were princes of the sanctuary, and princes of God, both of the sons of Eleazar, and of the sons of Ithamar.</span>
  <span class="verse" title="1 Chronicles 24:6" id="1_Chronicles-24-6">Shemaiah the son of Nethanel the scribe, who was of the Levites, wrote them in the presence of the king, and the princes, and Zadok the priest, and Ahimelech the son of Abiathar, and the heads of the fathers&#8217; households of the priests and of the Levites; one fathers&#8217; house being taken for Eleazar, and one taken for Ithamar.</span>
  <span class="verse" title="1 Chronicles 24:7" id="1_Chronicles-24-7">Now the first lot came forth to Jehoiarib, the second to Jedaiah,</span>
  <span class="verse" title="1 Chronicles 24:8" id="1_Chronicles-24-8">the third to Harim, the fourth to Seorim,</span>
  <span class="verse" title="1 Chronicles 24:9" id="1_Chronicles-24-9">the fifth to Malchijah, the sixth to Mijamin,</span>
  <span class="verse" title="1 Chronicles 24:10" id="1_Chronicles-24-10">the seventh to Hakkoz, the eighth to Abijah,</span>
  <span class="verse" title="1 Chronicles 24:11" id="1_Chronicles-24-11">the ninth to Jeshua, the tenth to Shecaniah,</span>
  <span class="verse" title="1 Chronicles 24:12" id="1_Chronicles-24-12">the eleventh to Eliashib, the twelfth to Jakim,</span>
  <span class="verse" title="1 Chronicles 24:13" id="1_Chronicles-24-13">the thirteenth to Huppah, the fourteenth to Jeshebeab,</span>
  <span class="verse" title="1 Chronicles 24:14" id="1_Chronicles-24-14">the fifteenth to Bilgah, the sixteenth to Immer,</span>
  <span class="verse" title="1 Chronicles 24:15" id="1_Chronicles-24-15">the seventeenth to Hezir, the eighteenth to Happizzez,</span>
  <span class="verse" title="1 Chronicles 24:16" id="1_Chronicles-24-16">the nineteenth to Pethahiah, the twentieth to Jehezkel,</span>
  <span class="verse" title="1 Chronicles 24:17" id="1_Chronicles-24-17">the twenty-first to Jachin, the twenty-second to Gamul,</span>
  <span class="verse" title="1 Chronicles 24:18" id="1_Chronicles-24-18">the twenty-third to Delaiah, the twenty-fourth to Maaziah.</span>
  <span class="verse" title="1 Chronicles 24:19" id="1_Chronicles-24-19">This was their ordering in their service, to come into the house of Yahweh according to the ordinance given to them by Aaron their father, as Yahweh, the God of Israel, had commanded him.</span>
  <span class="verse" title="1 Chronicles 24:20" id="1_Chronicles-24-20">Of the rest of the sons of Levi: of the sons of Amram, Shubael; of the sons of Shubael, Jehdeiah.</span>
  <span class="verse" title="1 Chronicles 24:21" id="1_Chronicles-24-21">Of Rehabiah: of the sons of Rehabiah, Isshiah the chief.</span>
  <span class="verse" title="1 Chronicles 24:22" id="1_Chronicles-24-22">Of the Izharites, Shelomoth; of the sons of Shelomoth, Jahath.</span>
  <span class="verse" title="1 Chronicles 24:23" id="1_Chronicles-24-23">The sons of Hebron: Jeriah, Amariah the second, Jahaziel the third, Jekameam the fourth.</span>
  <span class="verse" title="1 Chronicles 24:24" id="1_Chronicles-24-24">The sons of Uzziel, Micah; of the sons of Micah, Shamir.</span>
  <span class="verse" title="1 Chronicles 24:25" id="1_Chronicles-24-25">The brother of Micah, Isshiah; of the sons of Isshiah, Zechariah.</span>
  <span class="verse" title="1 Chronicles 24:26" id="1_Chronicles-24-26">The sons of Merari: Mahli and Mushi; the sons of Jaaziah: Beno.</span>
  <span class="verse" title="1 Chronicles 24:27" id="1_Chronicles-24-27">The sons of Merari: of Jaaziah, Beno, and Shoham, and Zaccur, and Ibri.</span>
  <span class="verse" title="1 Chronicles 24:28" id="1_Chronicles-24-28">Of Mahli: Eleazar, who had no sons.</span>
  <span class="verse" title="1 Chronicles 24:29" id="1_Chronicles-24-29">Of Kish; the sons of Kish: Jerahmeel.</span>
  <span class="verse" title="1 Chronicles 24:30" id="1_Chronicles-24-30">The sons of Mushi: Mahli, and Eder, and Jerimoth. These were the sons of the Levites after their fathers&#8217; houses.</span>
  <span class="verse" title="1 Chronicles 24:31" id="1_Chronicles-24-31">These likewise cast lots even as their brothers the sons of Aaron in the presence of David the king, and Zadok, and Ahimelech, and the heads of the fathers&#8217; households of the priests and of the Levites; the fathers&#8217; households of the chief even as those of his younger brother.</span>
</div>