<div class="chapter" id="1 Chronicles-025">
  <h2>1 Chronicles 25</h2>
  <span class="verse" title="1 Chronicles 25:1" id="1_Chronicles-25-1">Moreover, David and the captains of the army set apart for the service certain of the sons of Asaph, and of Heman, and of Jeduthun, who should prophesy with harps, with stringed instruments, and with cymbals: and the number of those who did the work according to their service was:</span>
  <span class="verse" title="1 Chronicles 25:2" id="1_Chronicles-25-2">of the sons of Asaph: Zaccur, and Joseph, and Nethaniah, and Asharelah, the sons of Asaph, under the hand of Asaph, who prophesied after the order of the king.</span>
  <span class="verse" title="1 Chronicles 25:3" id="1_Chronicles-25-3">Of Jeduthun; the sons of Jeduthun: Gedaliah, and Zeri, and Jeshaiah, Hashabiah, and Mattithiah, six, under the hands of their father Jeduthun with the harp, who prophesied in giving thanks and praising Yahweh.</span>
  <span class="verse" title="1 Chronicles 25:4" id="1_Chronicles-25-4">Of Heman; the sons of Heman: Bukkiah, Mattaniah, Uzziel, Shebuel, and Jerimoth, Hananiah, Hanani, Eliathah, Giddalti, and Romamti-Ezer, Joshbekashah, Mallothi, Hothir, Mahazioth.</span>
  <span class="verse" title="1 Chronicles 25:5" id="1_Chronicles-25-5">All these were the sons of Heman the king&#8217;s seer in the words of God, to lift up the horn. God gave to Heman fourteen sons and three daughters.</span>
  <span class="verse" title="1 Chronicles 25:6" id="1_Chronicles-25-6">All these were under the hands of their father for song in the house of Yahweh, with cymbals, stringed instruments, and harps, for the service of the house of God; Asaph, Jeduthun, and Heman being under the order of the king.</span>
  <span class="verse" title="1 Chronicles 25:7" id="1_Chronicles-25-7">The number of them, with their brothers who were instructed in singing to Yahweh, even all who were skillful, was two hundred eighty-eight.</span>
  <span class="verse" title="1 Chronicles 25:8" id="1_Chronicles-25-8">They cast lots for their offices, all alike, as well the small as the great, the teacher as the scholar.</span>
  <span class="verse" title="1 Chronicles 25:9" id="1_Chronicles-25-9">Now the first lot came forth for Asaph to Joseph: the second to Gedaliah; he and his brothers and sons were twelve:</span>
  <span class="verse" title="1 Chronicles 25:10" id="1_Chronicles-25-10">the third to Zaccur, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:11" id="1_Chronicles-25-11">the fourth to Izri, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:12" id="1_Chronicles-25-12">the fifth to Nethaniah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:13" id="1_Chronicles-25-13">the sixth to Bukkiah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:14" id="1_Chronicles-25-14">the seventh to Jesharelah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:15" id="1_Chronicles-25-15">the eighth to Jeshaiah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:16" id="1_Chronicles-25-16">the ninth to Mattaniah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:17" id="1_Chronicles-25-17">the tenth to Shimei, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:18" id="1_Chronicles-25-18">the eleventh to Azarel, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:19" id="1_Chronicles-25-19">the twelfth to Hashabiah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:20" id="1_Chronicles-25-20">for the thirteenth, Shubael, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:21" id="1_Chronicles-25-21">for the fourteenth, Mattithiah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:22" id="1_Chronicles-25-22">for the fifteenth to Jeremoth, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:23" id="1_Chronicles-25-23">for the sixteenth to Hananiah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:24" id="1_Chronicles-25-24">for the seventeenth to Joshbekashah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:25" id="1_Chronicles-25-25">for the eighteenth to Hanani, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:26" id="1_Chronicles-25-26">for the nineteenth to Mallothi, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:27" id="1_Chronicles-25-27">for the twentieth to Eliathah, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:28" id="1_Chronicles-25-28">for the one and twentieth to Hothir, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:29" id="1_Chronicles-25-29">for the two and twentieth to Giddalti, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:30" id="1_Chronicles-25-30">for the three and twentieth to Mahazioth, his sons and his brothers, twelve:</span>
  <span class="verse" title="1 Chronicles 25:31" id="1_Chronicles-25-31">for the four and twentieth to Romamti-Ezer, his sons and his brothers, twelve.</span>
</div>