<div class="chapter" id="1 Chronicles-026">
  <h2>1 Chronicles 26</h2>
  <span class="verse" title="1 Chronicles 26:1" id="1_Chronicles-26-1">For the divisions of the doorkeepers: of the Korahites, Meshelemiah the son of Kore, of the sons of Asaph.</span>
  <span class="verse" title="1 Chronicles 26:2" id="1_Chronicles-26-2">Meshelemiah had sons: Zechariah the firstborn, Jediael the second, Zebadiah the third, Jathniel the fourth,</span>
  <span class="verse" title="1 Chronicles 26:3" id="1_Chronicles-26-3">Elam the fifth, Jehohanan the sixth, Eliehoenai the seventh.</span>
  <span class="verse" title="1 Chronicles 26:4" id="1_Chronicles-26-4">Obed-Edom had sons: Shemaiah the firstborn, Jehozabad the second, Joah the third, and Sacar the fourth, and Nethanel the fifth,</span>
  <span class="verse" title="1 Chronicles 26:5" id="1_Chronicles-26-5">Ammiel the sixth, Issachar the seventh, Peullethai the eighth; for God blessed him.</span>
  <span class="verse" title="1 Chronicles 26:6" id="1_Chronicles-26-6">Also to Shemaiah his son were sons born, who ruled over the house of their father; for they were mighty men of valor.</span>
  <span class="verse" title="1 Chronicles 26:7" id="1_Chronicles-26-7">The sons of Shemaiah: Othni, and Rephael, and Obed, Elzabad, whose brothers were valiant men, Elihu, and Semachiah.</span>
  <span class="verse" title="1 Chronicles 26:8" id="1_Chronicles-26-8">All these were of the sons of Obed-Edom: they and their sons and their brothers, able men in strength for the service; sixty-two of Obed-Edom.</span>
  <span class="verse" title="1 Chronicles 26:9" id="1_Chronicles-26-9">Meshelemiah had sons and brothers, valiant men, eighteen.</span>
  <span class="verse" title="1 Chronicles 26:10" id="1_Chronicles-26-10">Also Hosah, of the children of Merari, had sons: Shimri the chief, (for though he was not the firstborn, yet his father made him chief),</span>
  <span class="verse" title="1 Chronicles 26:11" id="1_Chronicles-26-11">Hilkiah the second, Tebaliah the third, Zechariah the fourth: all the sons and brothers of Hosah were thirteen.</span>
  <span class="verse" title="1 Chronicles 26:12" id="1_Chronicles-26-12">Of these were the divisions of the doorkeepers, even of the chief men, having offices like their brothers, to minister in the house of Yahweh.</span>
  <span class="verse" title="1 Chronicles 26:13" id="1_Chronicles-26-13">They cast lots, the small as well as the great, according to their fathers&#8217; houses, for every gate.</span>
  <span class="verse" title="1 Chronicles 26:14" id="1_Chronicles-26-14">The lot eastward fell to Shelemiah. Then for Zechariah his son, a wise counselor, they cast lots; and his lot came out northward.</span>
  <span class="verse" title="1 Chronicles 26:15" id="1_Chronicles-26-15">To Obed-Edom southward; and to his sons the storehouse.</span>
  <span class="verse" title="1 Chronicles 26:16" id="1_Chronicles-26-16">To Shuppim and Hosah westward, by the gate of Shallecheth, at the causeway that goes up, watch against watch.</span>
  <span class="verse" title="1 Chronicles 26:17" id="1_Chronicles-26-17">Eastward were six Levites, northward four a day, southward four a day, and for the storehouse two and two.</span>
  <span class="verse" title="1 Chronicles 26:18" id="1_Chronicles-26-18">For Parbar westward, four at the causeway, and two at Parbar.</span>
  <span class="verse" title="1 Chronicles 26:19" id="1_Chronicles-26-19">These were the divisions of the doorkeepers; of the sons of the Korahites, and of the sons of Merari.</span>
  <span class="verse" title="1 Chronicles 26:20" id="1_Chronicles-26-20">Of the Levites, Ahijah was over the treasures of the house of God, and over the treasures of the dedicated things.</span>
  <span class="verse" title="1 Chronicles 26:21" id="1_Chronicles-26-21">The sons of Ladan, the sons of the Gershonites belonging to Ladan, the heads of the fathers&#8217; households belonging to Ladan the Gershonite: Jehieli.</span>
  <span class="verse" title="1 Chronicles 26:22" id="1_Chronicles-26-22">The sons of Jehieli: Zetham, and Joel his brother, over the treasures of the house of Yahweh.</span>
  <span class="verse" title="1 Chronicles 26:23" id="1_Chronicles-26-23">Of the Amramites, of the Izharites, of the Hebronites, of the Uzzielites:</span>
  <span class="verse" title="1 Chronicles 26:24" id="1_Chronicles-26-24">and Shebuel the son of Gershom, the son of Moses, was ruler over the treasures.</span>
  <span class="verse" title="1 Chronicles 26:25" id="1_Chronicles-26-25">His brothers: of Eliezer, Rehabiah his son, and Jeshaiah his son, and Joram his son, and Zichri his son, and Shelomoth his son.</span>
  <span class="verse" title="1 Chronicles 26:26" id="1_Chronicles-26-26">This Shelomoth and his brothers were over all the treasures of the dedicated things, which David the king, and the heads of the fathers&#8217; households, the captains over thousands and hundreds, and the captains of the army, had dedicated.</span>
  <span class="verse" title="1 Chronicles 26:27" id="1_Chronicles-26-27">They dedicated some of the spoil won in battles to repair the house of Yahweh.</span>
  <span class="verse" title="1 Chronicles 26:28" id="1_Chronicles-26-28">All that Samuel the seer, and Saul the son of Kish, and Abner the son of Ner, and Joab the son of Zeruiah, had dedicated, whoever had dedicated anything, it was under the hand of Shelomoth, and of his brothers.</span>
  <span class="verse" title="1 Chronicles 26:29" id="1_Chronicles-26-29">Of the Izharites, Chenaniah and his sons were for the outward business over Israel, for officers and judges.</span>
  <span class="verse" title="1 Chronicles 26:30" id="1_Chronicles-26-30">Of the Hebronites, Hashabiah and his brothers, men of valor, one thousand seven hundred, had the oversight of Israel beyond the Jordan westward, for all the business of Yahweh, and for the service of the king.</span>
  <span class="verse" title="1 Chronicles 26:31" id="1_Chronicles-26-31">Of the Hebronites was Jerijah the chief, even of the Hebronites, according to their generations by fathers&#8217; households. In the fortieth year of the reign of David they were sought for, and there were found among them mighty men of valor at Jazer of Gilead.</span>
  <span class="verse" title="1 Chronicles 26:32" id="1_Chronicles-26-32">His brothers, men of valor, were two thousand seven hundred, heads of fathers&#8217; households, whom king David made overseers over the Reubenites, and the Gadites, and the half-tribe of the Manassites, for every matter pertaining to God, and for the affairs of the king.</span>
</div>