<div class="chapter" id="1 Chronicles-027">
  <h2>1 Chronicles 27</h2>
  <span class="verse" title="1 Chronicles 27:1" id="1_Chronicles-27-1">Now the children of Israel after their number, the heads of fathers&#8217; households and the captains of thousands and of hundreds, and their officers who served the king, in any matter of the divisions which came in and went out month by month throughout all the months of the year—of every division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:2" id="1_Chronicles-27-2">Over the first division for the first month was Jashobeam the son of Zabdiel: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:3" id="1_Chronicles-27-3">He was of the children of Perez, the chief of all the captains of the army for the first month.</span>
  <span class="verse" title="1 Chronicles 27:4" id="1_Chronicles-27-4">Over the division of the second month was Dodai the Ahohite, and his division; and Mikloth the ruler: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:5" id="1_Chronicles-27-5">The third captain of the army for the third month was Benaiah, the son of Jehoiada the priest, chief: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:6" id="1_Chronicles-27-6">This is that Benaiah, who was the mighty man of the thirty, and over the thirty: and of his division was Ammizabad his son.</span>
  <span class="verse" title="1 Chronicles 27:7" id="1_Chronicles-27-7">The fourth captain for the fourth month was Asahel the brother of Joab, and Zebadiah his son after him: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:8" id="1_Chronicles-27-8">The fifth captain for this fifth month was Shamhuth the Izrahite: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:9" id="1_Chronicles-27-9">The sixth captain for the sixth month was Ira the son of Ikkesh the Tekoite: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:10" id="1_Chronicles-27-10">The seventh captain for the seventh month was Helez the Pelonite, of the children of Ephraim: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:11" id="1_Chronicles-27-11">The eighth captain for the eighth month was Sibbecai the Hushathite, of the Zerahites: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:12" id="1_Chronicles-27-12">The ninth captain for the ninth month was Abiezer the Anathothite, of the Benjamites: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:13" id="1_Chronicles-27-13">The tenth captain for the tenth month was Maharai the Netophathite, of the Zerahites: and in his division were Twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:14" id="1_Chronicles-27-14">The eleventh captain for the eleventh month was Benaiah the Pirathonite, of the children of Ephraim: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:15" id="1_Chronicles-27-15">The twelfth captain for the twelfth month was Heldai the Netophathite, of Othniel: and in his division were twenty-four thousand.</span>
  <span class="verse" title="1 Chronicles 27:16" id="1_Chronicles-27-16">Furthermore over the tribes of Israel: of the Reubenites was Eliezer the son of Zichri the ruler: of the Simeonites, Shephatiah the son of Maacah:</span>
  <span class="verse" title="1 Chronicles 27:17" id="1_Chronicles-27-17">of Levi, Hashabiah the son of Kemuel: of Aaron, Zadok:</span>
  <span class="verse" title="1 Chronicles 27:18" id="1_Chronicles-27-18">of Judah, Elihu, one of the brothers of David: of Issachar, Omri the son of Michael:</span>
  <span class="verse" title="1 Chronicles 27:19" id="1_Chronicles-27-19">of Zebulun, Ishmaiah the son of Obadiah: of Naphtali, Jeremoth the son of Azriel:</span>
  <span class="verse" title="1 Chronicles 27:20" id="1_Chronicles-27-20">of the children of Ephraim, Hoshea the son of Azaziah: of the half-tribe of Manasseh, Joel the son of Pedaiah:</span>
  <span class="verse" title="1 Chronicles 27:21" id="1_Chronicles-27-21">of the half-tribe of Manasseh in Gilead, Iddo the son of Zechariah: of Benjamin, Jaasiel the son of Abner:</span>
  <span class="verse" title="1 Chronicles 27:22" id="1_Chronicles-27-22">of Dan, Azarel the son of Jeroham. These were the captains of the tribes of Israel.</span>
  <span class="verse" title="1 Chronicles 27:23" id="1_Chronicles-27-23">But David didn&#8217;t take the number of them from twenty years old and under, because Yahweh had said he would increase Israel like the stars of the sky.</span>
  <span class="verse" title="1 Chronicles 27:24" id="1_Chronicles-27-24">Joab the son of Zeruiah began to number, but didn&#8217;t finish; and there came wrath for this on Israel; neither was the number put into the account in the chronicles of king David.</span>
  <span class="verse" title="1 Chronicles 27:25" id="1_Chronicles-27-25">Over the king&#8217;s treasures was Azmaveth the son of Adiel: and over the treasures in the fields, in the cities, and in the villages, and in the towers, was Jonathan the son of Uzziah:</span>
  <span class="verse" title="1 Chronicles 27:26" id="1_Chronicles-27-26">Over those who did the work of the field for tillage of the ground was Ezri the son of Chelub:</span>
  <span class="verse" title="1 Chronicles 27:27" id="1_Chronicles-27-27">and over the vineyards was Shimei the Ramathite: and over the increase of the vineyards for the winecellars was Zabdi the Shiphmite:</span>
  <span class="verse" title="1 Chronicles 27:28" id="1_Chronicles-27-28">and over the olive trees and the sycamore trees that were in the lowland was Baal Hanan the Gederite: and over the cellars of oil was Joash:</span>
  <span class="verse" title="1 Chronicles 27:29" id="1_Chronicles-27-29">and over the herds that fed in Sharon was Shitrai the Sharonite: and over the herds that were in the valleys was Shaphat the son of Adlai:</span>
  <span class="verse" title="1 Chronicles 27:30" id="1_Chronicles-27-30">and over the camels was Obil the Ishmaelite: and over the donkeys was Jehdeiah the Meronothite: and over the flocks was Jaziz the Hagrite.</span>
  <span class="verse" title="1 Chronicles 27:31" id="1_Chronicles-27-31">All these were the rulers of the substance which was king David&#8217;s.</span>
  <span class="verse" title="1 Chronicles 27:32" id="1_Chronicles-27-32">Also Jonathan, David&#8217;s uncle, was a counselor, a man of understanding, and a scribe: and Jehiel the son of Hachmoni was with the king&#8217;s sons:</span>
  <span class="verse" title="1 Chronicles 27:33" id="1_Chronicles-27-33">Ahithophel was the king&#8217;s counselor: and Hushai the Archite was the king&#8217;s friend:</span>
  <span class="verse" title="1 Chronicles 27:34" id="1_Chronicles-27-34">and after Ahithophel was Jehoiada the son of Benaiah, and Abiathar: and the captain of the king&#8217;s army was Joab.</span>
</div>