<div class="chapter" id="Jude-001">
  <h2>Jude 1</h2>
  <span class="verse" title="Jude 1:1" id="Jude-1-1">Jude, a servant of Jesus Christ, and brother of James, to those who are called, sanctified by God the Father, and kept for Jesus Christ:</span>
  <span class="verse" title="Jude 1:2" id="Jude-1-2">Mercy to you and peace and love be multiplied.</span>
  <span class="verse" title="Jude 1:3" id="Jude-1-3">Beloved, while I was very eager to write to you about our common salvation, I was constrained to write to you exhorting you to contend earnestly for the faith which was once for all delivered to the saints.</span>
  <span class="verse" title="Jude 1:4" id="Jude-1-4">For there are certain men who crept in secretly, even those who were long ago written about for this condemnation: ungodly men, turning the grace of our God into indecency, and denying our only Master, God, and Lord, Jesus Christ.</span>
  <span class="verse" title="Jude 1:5" id="Jude-1-5">Now I desire to remind you, though you already know this, that the Lord, having saved a people out of the land of Egypt, afterward destroyed those who didn&#8217;t believe.</span>
  <span class="verse" title="Jude 1:6" id="Jude-1-6">Angels who didn&#8217;t keep their first domain, but deserted their own dwelling place, he has kept in everlasting bonds under darkness for the judgment of the great day.</span>
  <span class="verse" title="Jude 1:7" id="Jude-1-7">Even as Sodom and Gomorrah, and the cities around them, having, in the same way as these, given themselves over to sexual immorality and gone after strange flesh, are set forth as an example, suffering the punishment of eternal fire.</span>
  <span class="verse" title="Jude 1:8" id="Jude-1-8">Yet in the same way, these also in their dreaming defile the flesh, despise authority, and slander celestial beings.</span>
  <span class="verse" title="Jude 1:9" id="Jude-1-9">But Michael, the archangel, when contending with the devil and arguing about the body of Moses, dared not bring against him an abusive condemnation, but said, &#8220;May the Lord rebuke you!&#8221;</span>
  <span class="verse" title="Jude 1:10" id="Jude-1-10">But these speak evil of whatever things they don&#8217;t know. What they understand naturally, like the creatures without reason, they are destroyed in these things.</span>
  <span class="verse" title="Jude 1:11" id="Jude-1-11">Woe to them! For they went in the way of Cain, and ran riotously in the error of Balaam for hire, and perished in Korah&#8217;s rebellion.</span>
  <span class="verse" title="Jude 1:12" id="Jude-1-12">These are hidden rocky reefs in your love feasts when they feast with you, shepherds who without fear feed themselves; clouds without water, carried along by winds; autumn leaves without fruit, twice dead, plucked up by the roots;</span>
  <span class="verse" title="Jude 1:13" id="Jude-1-13">wild waves of the sea, foaming out their own shame; wandering stars, for whom the blackness of darkness has been reserved forever.</span>
  <span class="verse" title="Jude 1:14" id="Jude-1-14">About these also Enoch, the seventh from Adam, prophesied, saying, &#8220;Behold, the Lord came with ten thousands of his holy ones,</span>
  <span class="verse" title="Jude 1:15" id="Jude-1-15">to execute judgment on all, and to convict all the ungodly of all their works of ungodliness which they have done in an ungodly way, and of all the hard things which ungodly sinners have spoken against him.&#8221;</span>
  <span class="verse" title="Jude 1:16" id="Jude-1-16">These are murmurers and complainers, walking after their lusts (and their mouth speaks proud things), showing respect of persons to gain advantage.</span>
  <span class="verse" title="Jude 1:17" id="Jude-1-17">But you, beloved, remember the words which have been spoken before by the apostles of our Lord Jesus Christ.</span>
  <span class="verse" title="Jude 1:18" id="Jude-1-18">They said to you that &#8220;In the last time there will be mockers, walking after their own ungodly lusts.&#8221;</span>
  <span class="verse" title="Jude 1:19" id="Jude-1-19">These are they who cause divisions, and are sensual, not having the Spirit.</span>
  <span class="verse" title="Jude 1:20" id="Jude-1-20">But you, beloved, keep building up yourselves on your most holy faith, praying in the Holy Spirit.</span>
  <span class="verse" title="Jude 1:21" id="Jude-1-21">Keep yourselves in the love of God, looking for the mercy of our Lord Jesus Christ to eternal life.</span>
  <span class="verse" title="Jude 1:22" id="Jude-1-22">On some have compassion, making a distinction,</span>
  <span class="verse" title="Jude 1:23" id="Jude-1-23">and some save, snatching them out of the fire with fear, hating even the clothing stained by the flesh.</span>
  <span class="verse" title="Jude 1:24" id="Jude-1-24">Now to him who is able to keep them from stumbling, and to present you faultless before the presence of his glory in great joy,</span>
  <span class="verse" title="Jude 1:25" id="Jude-1-25">to God our Savior, who alone is wise, be glory and majesty, dominion and power, both now and forever. Amen.</span>
</div>