<div class="chapter" id="1 Samuel-001">
  <h2>1 Samuel 1</h2>
  <span class="verse" title="1 Samuel 1:1" id="1_Samuel-1-1">Now there was a certain man of Ramathaim Zophim, of the hill country of Ephraim, and his name was Elkanah, the son of Jeroham, the son of Elihu, the son of Tohu, the son of Zuph, an Ephraimite:</span>
  <span class="verse" title="1 Samuel 1:2" id="1_Samuel-1-2">and he had two wives; the name of the one was Hannah, and the name of other Peninnah: and Peninnah had children, but Hannah had no children.</span>
  <span class="verse" title="1 Samuel 1:3" id="1_Samuel-1-3">This man went up out of his city from year to year to worship and to sacrifice to Yahweh of Armies in Shiloh. The two sons of Eli, Hophni and Phinehas, priests to Yahweh, were there.</span>
  <span class="verse" title="1 Samuel 1:4" id="1_Samuel-1-4">When the day came that Elkanah sacrificed, he gave to Peninnah his wife, and to all her sons and her daughters, portions:</span>
  <span class="verse" title="1 Samuel 1:5" id="1_Samuel-1-5">but to Hannah he gave a double portion; for he loved Hannah, but Yahweh had shut up her womb.</span>
  <span class="verse" title="1 Samuel 1:6" id="1_Samuel-1-6">Her rival provoked her severely, to make her fret, because Yahweh had shut up her womb.</span>
  <span class="verse" title="1 Samuel 1:7" id="1_Samuel-1-7">As he did so year by year, when she went up to the house of Yahweh, so she provoked her; therefore she wept, and didn&#8217;t eat.</span>
  <span class="verse" title="1 Samuel 1:8" id="1_Samuel-1-8">Elkanah her husband said to her, &#8220;Hannah, why do you weep? Why don&#8217;t you eat? Why is your heart grieved? Am I not better to you than ten sons?&#8221;</span>
  <span class="verse" title="1 Samuel 1:9" id="1_Samuel-1-9">So Hannah rose up after they had eaten in Shiloh, and after they had drunk. Now Eli the priest was sitting on his seat by the doorpost of the temple of Yahweh.</span>
  <span class="verse" title="1 Samuel 1:10" id="1_Samuel-1-10">She was in bitterness of soul, and prayed to Yahweh, and wept bitterly.</span>
  <span class="verse" title="1 Samuel 1:11" id="1_Samuel-1-11">She vowed a vow, and said, &#8220;Yahweh of Armies, if you will indeed look on the affliction of your handmaid, and remember me, and not forget your handmaid, but will give to your handmaid a boy, then I will give him to Yahweh all the days of his life, and no razor shall come on his head.&#8221;</span>
  <span class="verse" title="1 Samuel 1:12" id="1_Samuel-1-12">It happened, as she continued praying before Yahweh, that Eli saw her mouth.</span>
  <span class="verse" title="1 Samuel 1:13" id="1_Samuel-1-13">Now Hannah spoke in her heart. Only her lips moved, but her voice was not heard. Therefore Eli thought she had been drunken.</span>
  <span class="verse" title="1 Samuel 1:14" id="1_Samuel-1-14">Eli said to her, &#8220;How long will you be drunken? Put away your wine from you.&#8221;</span>
  <span class="verse" title="1 Samuel 1:15" id="1_Samuel-1-15">Hannah answered, &#8220;No, my lord, I am a woman of a sorrowful spirit. I have drunk neither wine nor strong drink, but I poured out my soul before Yahweh.</span>
  <span class="verse" title="1 Samuel 1:16" id="1_Samuel-1-16">Don&#8217;t count your handmaid for a wicked woman; for I have been speaking out of the abundance of my complaint and my provocation.&#8221;</span>
  <span class="verse" title="1 Samuel 1:17" id="1_Samuel-1-17">Then Eli answered, &#8220;Go in peace; and may the God of Israel grant your petition that you have asked of him.&#8221;</span>
  <span class="verse" title="1 Samuel 1:18" id="1_Samuel-1-18">She said, &#8220;Let your handmaid find favor in your sight.&#8221; So the woman went her way, and ate; and her facial expression wasn&#8217;t sad any more.</span>
  <span class="verse" title="1 Samuel 1:19" id="1_Samuel-1-19">They rose up in the morning early, and worshiped before Yahweh, and returned, and came to their house to Ramah: and Elkanah knew Hannah his wife; and Yahweh remembered her.</span>
  <span class="verse" title="1 Samuel 1:20" id="1_Samuel-1-20">It happened, when the time had come, that Hannah conceived, and bore a son; and she named him Samuel, saying, &#8220;Because I have asked him of Yahweh.&#8221;</span>
  <span class="verse" title="1 Samuel 1:21" id="1_Samuel-1-21">The man Elkanah, and all his house, went up to offer to Yahweh the yearly sacrifice, and his vow.</span>
  <span class="verse" title="1 Samuel 1:22" id="1_Samuel-1-22">But Hannah didn&#8217;t go up; for she said to her husband, &#8220;Not until the child is weaned; then I will bring him, that he may appear before Yahweh, and stay there forever.&#8221;</span>
  <span class="verse" title="1 Samuel 1:23" id="1_Samuel-1-23">Elkanah her husband said to her, &#8220;Do what seems good to you. Wait until you have weaned him; only may Yahweh establish his word.&#8221; So the woman waited and nursed her son, until she weaned him.</span>
  <span class="verse" title="1 Samuel 1:24" id="1_Samuel-1-24">When she had weaned him, she took him up with her, with three bulls, and one ephah of meal, and a bottle of wine, and brought him to Yahweh&#8217;s house in Shiloh. The child was young.</span>
  <span class="verse" title="1 Samuel 1:25" id="1_Samuel-1-25">They killed the bull, and brought the child to Eli.</span>
  <span class="verse" title="1 Samuel 1:26" id="1_Samuel-1-26">She said, &#8220;Oh, my lord, as your soul lives, my lord, I am the woman who stood by you here, praying to Yahweh.</span>
  <span class="verse" title="1 Samuel 1:27" id="1_Samuel-1-27">For this child I prayed; and Yahweh has given me my petition which I asked of him.</span>
  <span class="verse" title="1 Samuel 1:28" id="1_Samuel-1-28">Therefore also I have granted him to Yahweh. As long as he lives he is granted to Yahweh.&#8221; He worshiped Yahweh there.</span>
</div>