<div class="chapter" id="1 Samuel-003">
  <h2>1 Samuel 3</h2>
  <span class="verse" title="1 Samuel 3:1" id="1_Samuel-3-1">The child Samuel ministered to Yahweh before Eli. The word of Yahweh was precious in those days; there was no frequent vision.</span>
  <span class="verse" title="1 Samuel 3:2" id="1_Samuel-3-2">It happened at that time, when Eli was laid down in his place (now his eyes had begun to grow dim, so that he could not see),</span>
  <span class="verse" title="1 Samuel 3:3" id="1_Samuel-3-3">and the lamp of God hadn&#8217;t yet gone out, and Samuel had laid down in the temple of Yahweh, where the ark of God was;</span>
  <span class="verse" title="1 Samuel 3:4" id="1_Samuel-3-4">that Yahweh called Samuel; and he said, &#8220;Here I am.&#8221;</span>
  <span class="verse" title="1 Samuel 3:5" id="1_Samuel-3-5">He ran to Eli, and said, &#8220;Here I am; for you called me.&#8221; He said, &#8220;I didn&#8217;t call; lie down again.&#8221; He went and lay down.</span>
  <span class="verse" title="1 Samuel 3:6" id="1_Samuel-3-6">Yahweh called yet again, &#8220;Samuel!&#8221; Samuel arose and went to Eli, and said, &#8220;Here I am; for you called me.&#8221; He answered, &#8220;I didn&#8217;t call, my son; lie down again.&#8221;</span>
  <span class="verse" title="1 Samuel 3:7" id="1_Samuel-3-7">Now Samuel didn&#8217;t yet know Yahweh, neither was the word of Yahweh yet revealed to him.</span>
  <span class="verse" title="1 Samuel 3:8" id="1_Samuel-3-8">Yahweh called Samuel again the third time. He arose and went to Eli, and said, &#8220;Here I am; for you called me.&#8221; Eli perceived that Yahweh had called the child.</span>
  <span class="verse" title="1 Samuel 3:9" id="1_Samuel-3-9">Therefore Eli said to Samuel, &#8220;Go, lie down: and it shall be, if he calls you, that you shall say, &#8216;Speak, Yahweh; for your servant hears.&#8217;&#8221; So Samuel went and lay down in his place.</span>
  <span class="verse" title="1 Samuel 3:10" id="1_Samuel-3-10">Yahweh came, and stood, and called as at other times, &#8220;Samuel! Samuel!&#8221; Then Samuel said, &#8220;Speak; for your servant hears.&#8221;</span>
  <span class="verse" title="1 Samuel 3:11" id="1_Samuel-3-11">Yahweh said to Samuel, &#8220;Behold, I will do a thing in Israel, at which both the ears of everyone who hears it shall tingle.</span>
  <span class="verse" title="1 Samuel 3:12" id="1_Samuel-3-12">In that day I will perform against Eli all that I have spoken concerning his house, from the beginning even to the end.</span>
  <span class="verse" title="1 Samuel 3:13" id="1_Samuel-3-13">For I have told him that I will judge his house forever, for the iniquity which he knew, because his sons brought a curse on themselves, and he didn&#8217;t restrain them.</span>
  <span class="verse" title="1 Samuel 3:14" id="1_Samuel-3-14">Therefore I have sworn to the house of Eli, that the iniquity of Eli&#8217;s house shall not be removed with sacrifice nor offering forever.&#8221;</span>
  <span class="verse" title="1 Samuel 3:15" id="1_Samuel-3-15">Samuel lay until the morning, and opened the doors of the house of Yahweh. Samuel feared to show Eli the vision.</span>
  <span class="verse" title="1 Samuel 3:16" id="1_Samuel-3-16">Then Eli called Samuel, and said, &#8220;Samuel, my son!&#8221; He said, &#8220;Here I am.&#8221;</span>
  <span class="verse" title="1 Samuel 3:17" id="1_Samuel-3-17">He said, &#8220;What is the thing that he has spoken to you? Please don&#8217;t hide it from me. God do so to you, and more also, if you hide anything from me of all the things that he spoke to you.&#8221;</span>
  <span class="verse" title="1 Samuel 3:18" id="1_Samuel-3-18">Samuel told him every bit, and hid nothing from him. He said, &#8220;It is Yahweh. Let him do what seems good to him.&#8221;</span>
  <span class="verse" title="1 Samuel 3:19" id="1_Samuel-3-19">Samuel grew, and Yahweh was with him, and let none of his words fall to the ground.</span>
  <span class="verse" title="1 Samuel 3:20" id="1_Samuel-3-20">All Israel from Dan even to Beersheba knew that Samuel was established to be a prophet of Yahweh.</span>
  <span class="verse" title="1 Samuel 3:21" id="1_Samuel-3-21">Yahweh appeared again in Shiloh; for Yahweh revealed himself to Samuel in Shiloh by the word of Yahweh.</span>
</div>