<div class="chapter" id="1 Samuel-007">
  <h2>1 Samuel 7</h2>
  <span class="verse" title="1 Samuel 7:1" id="1_Samuel-7-1">The men of Kiriath Jearim came, and fetched up the ark of Yahweh, and brought it into the house of Abinadab in the hill, and sanctified Eleazar his son to keep the ark of Yahweh.</span>
  <span class="verse" title="1 Samuel 7:2" id="1_Samuel-7-2">It happened, from the day that the ark stayed in Kiriath Jearim, that the time was long; for it was twenty years: and all the house of Israel lamented after Yahweh.</span>
  <span class="verse" title="1 Samuel 7:3" id="1_Samuel-7-3">Samuel spoke to all the house of Israel, saying, &#8220;If you do return to Yahweh with all your heart, then put away the foreign gods and the Ashtaroth from among you, and direct your hearts to Yahweh, and serve him only; and he will deliver you out of the hand of the Philistines.&#8221;</span>
  <span class="verse" title="1 Samuel 7:4" id="1_Samuel-7-4">Then the children of Israel removed the Baals and the Ashtaroth, and served Yahweh only.</span>
  <span class="verse" title="1 Samuel 7:5" id="1_Samuel-7-5">Samuel said, &#8220;Gather all Israel to Mizpah, and I will pray for you to Yahweh.&#8221;</span>
  <span class="verse" title="1 Samuel 7:6" id="1_Samuel-7-6">They gathered together to Mizpah, and drew water, and poured it out before Yahweh, and fasted on that day, and said there, &#8220;We have sinned against Yahweh.&#8221; Samuel judged the children of Israel in Mizpah.</span>
  <span class="verse" title="1 Samuel 7:7" id="1_Samuel-7-7">When the Philistines heard that the children of Israel were gathered together at Mizpah, the lords of the Philistines went up against Israel. When the children of Israel heard it, they were afraid of the Philistines.</span>
  <span class="verse" title="1 Samuel 7:8" id="1_Samuel-7-8">The children of Israel said to Samuel, &#8220;Don&#8217;t cease to cry to Yahweh our God for us, that he will save us out of the hand of the Philistines.&#8221;</span>
  <span class="verse" title="1 Samuel 7:9" id="1_Samuel-7-9">Samuel took a suckling lamb, and offered it for a whole burnt offering to Yahweh: and Samuel cried to Yahweh for Israel; and Yahweh answered him.</span>
  <span class="verse" title="1 Samuel 7:10" id="1_Samuel-7-10">As Samuel was offering up the burnt offering, the Philistines drew near to battle against Israel; but Yahweh thundered with a great thunder on that day on the Philistines, and confused them; and they were struck down before Israel.</span>
  <span class="verse" title="1 Samuel 7:11" id="1_Samuel-7-11">The men of Israel went out of Mizpah, and pursued the Philistines, and struck them, until they came under Beth Kar.</span>
  <span class="verse" title="1 Samuel 7:12" id="1_Samuel-7-12">Then Samuel took a stone, and set it between Mizpah and Shen, and called its name Ebenezer, saying, &#8220;Yahweh helped us until now.&#8221;</span>
  <span class="verse" title="1 Samuel 7:13" id="1_Samuel-7-13">So the Philistines were subdued, and they came no more within the border of Israel. The hand of Yahweh was against the Philistines all the days of Samuel.</span>
  <span class="verse" title="1 Samuel 7:14" id="1_Samuel-7-14">The cities which the Philistines had taken from Israel were restored to Israel, from Ekron even to Gath; and Israel recovered its border out of the hand of the Philistines. There was peace between Israel and the Amorites.</span>
  <span class="verse" title="1 Samuel 7:15" id="1_Samuel-7-15">Samuel judged Israel all the days of his life.</span>
  <span class="verse" title="1 Samuel 7:16" id="1_Samuel-7-16">He went from year to year in circuit to Bethel and Gilgal, and Mizpah; and he judged Israel in all those places.</span>
  <span class="verse" title="1 Samuel 7:17" id="1_Samuel-7-17">His return was to Ramah, for there was his house; and there he judged Israel: and he built there an altar to Yahweh.</span>
</div>