<div class="chapter" id="1 Samuel-008">
  <h2>1 Samuel 8</h2>
  <span class="verse" title="1 Samuel 8:1" id="1_Samuel-8-1">It happened, when Samuel was old, that he made his sons judges over Israel.</span>
  <span class="verse" title="1 Samuel 8:2" id="1_Samuel-8-2">Now the name of his firstborn was Joel; and the name of his second, Abijah: they were judges in Beersheba.</span>
  <span class="verse" title="1 Samuel 8:3" id="1_Samuel-8-3">His sons didn&#8217;t walk in his ways, but turned aside after lucre, and took bribes, and perverted justice.</span>
  <span class="verse" title="1 Samuel 8:4" id="1_Samuel-8-4">Then all the elders of Israel gathered themselves together, and came to Samuel to Ramah;</span>
  <span class="verse" title="1 Samuel 8:5" id="1_Samuel-8-5">and they said to him, &#8220;Behold, you are old, and your sons don&#8217;t walk in your ways: now make us a king to judge us like all the nations.&#8221;</span>
  <span class="verse" title="1 Samuel 8:6" id="1_Samuel-8-6">But the thing displeased Samuel, when they said, &#8220;Give us a king to judge us.&#8221; Samuel prayed to Yahweh.</span>
  <span class="verse" title="1 Samuel 8:7" id="1_Samuel-8-7">Yahweh said to Samuel, &#8220;Listen to the voice of the people in all that they tell you; for they have not rejected you, but they have rejected me, that I should not be king over them.</span>
  <span class="verse" title="1 Samuel 8:8" id="1_Samuel-8-8">According to all the works which they have done since the day that I brought them up out of Egypt even to this day, in that they have forsaken me, and served other gods, so do they also to you.</span>
  <span class="verse" title="1 Samuel 8:9" id="1_Samuel-8-9">Now therefore listen to their voice: however you shall protest solemnly to them, and shall show them the way of the king who shall reign over them.&#8221;</span>
  <span class="verse" title="1 Samuel 8:10" id="1_Samuel-8-10">Samuel told all the words of Yahweh to the people who asked of him a king.</span>
  <span class="verse" title="1 Samuel 8:11" id="1_Samuel-8-11">He said, &#8220;This will be the way of the king who shall reign over you: he will take your sons, and appoint them to him, for his chariots, and to be his horsemen; and they shall run before his chariots;</span>
  <span class="verse" title="1 Samuel 8:12" id="1_Samuel-8-12">and he will appoint them to him for captains of thousands, and captains of fifties; and he will assign some to plow his ground, and to reap his harvest, and to make his instruments of war, and the instruments of his chariots.</span>
  <span class="verse" title="1 Samuel 8:13" id="1_Samuel-8-13">He will take your daughters to be perfumers, and to be cooks, and to be bakers.</span>
  <span class="verse" title="1 Samuel 8:14" id="1_Samuel-8-14">He will take your fields, and your vineyards, and your olive groves, even their best, and give them to his servants.</span>
  <span class="verse" title="1 Samuel 8:15" id="1_Samuel-8-15">He will take the tenth of your seed, and of your vineyards, and give to his officers, and to his servants.</span>
  <span class="verse" title="1 Samuel 8:16" id="1_Samuel-8-16">He will take your male servants, and your female servants, and your best young men, and your donkeys, and put them to his work.</span>
  <span class="verse" title="1 Samuel 8:17" id="1_Samuel-8-17">He will take the tenth of your flocks: and you shall be his servants.</span>
  <span class="verse" title="1 Samuel 8:18" id="1_Samuel-8-18">You shall cry out in that day because of your king whom you shall have chosen you; and Yahweh will not answer you in that day.&#8221;</span>
  <span class="verse" title="1 Samuel 8:19" id="1_Samuel-8-19">But the people refused to listen to the voice of Samuel; and they said, &#8220;No; but we will have a king over us,</span>
  <span class="verse" title="1 Samuel 8:20" id="1_Samuel-8-20">that we also may be like all the nations, and that our king may judge us, and go out before us, and fight our battles.&#8221;</span>
  <span class="verse" title="1 Samuel 8:21" id="1_Samuel-8-21">Samuel heard all the words of the people, and he rehearsed them in the ears of Yahweh.</span>
  <span class="verse" title="1 Samuel 8:22" id="1_Samuel-8-22">Yahweh said to Samuel, &#8220;Listen to their voice, and make them a king.&#8221; Samuel said to the men of Israel, &#8220;Every man go to his city.&#8221;</span>
</div>