<div class="chapter" id="1 Samuel-027">
  <h2>1 Samuel 27</h2>
  <span class="verse" title="1 Samuel 27:1" id="1_Samuel-27-1">David said in his heart, &#8220;I shall now perish one day by the hand of Saul. There is nothing better for me than that I should escape into the land of the Philistines; and Saul will despair of me, to seek me any more in all the borders of Israel. So shall I escape out of his hand.&#8221;</span>
  <span class="verse" title="1 Samuel 27:2" id="1_Samuel-27-2">David arose, and passed over, he and the six hundred men who were with him, to Achish the son of Maoch, king of Gath.</span>
  <span class="verse" title="1 Samuel 27:3" id="1_Samuel-27-3">David lived with Achish at Gath, he and his men, every man with his household, even David with his two wives, Ahinoam the Jezreelitess, and Abigail the Carmelitess, Nabal&#8217;s wife.</span>
  <span class="verse" title="1 Samuel 27:4" id="1_Samuel-27-4">It was told Saul that David was fled to Gath: and he sought no more again for him.</span>
  <span class="verse" title="1 Samuel 27:5" id="1_Samuel-27-5">David said to Achish, &#8220;If now I have found favor in your eyes, let them give me a place in one of the cities in the country, that I may dwell there. For why should your servant dwell in the royal city with you?&#8221;</span>
  <span class="verse" title="1 Samuel 27:6" id="1_Samuel-27-6">Then Achish gave him Ziklag that day: why Ziklag pertains to the kings of Judah to this day.</span>
  <span class="verse" title="1 Samuel 27:7" id="1_Samuel-27-7">The number of the days that David lived in the country of the Philistines was a full year and four months.</span>
  <span class="verse" title="1 Samuel 27:8" id="1_Samuel-27-8">David and his men went up, and made a raid on the Geshurites, and the Girzites, and the Amalekites; for those were the inhabitants of the land, who were of old, as you go to Shur, even to the land of Egypt.</span>
  <span class="verse" title="1 Samuel 27:9" id="1_Samuel-27-9">David struck the land, and saved neither man nor woman alive, and took away the sheep, and the cattle, and the donkeys, and the camels, and the clothing; and he returned, and came to Achish.</span>
  <span class="verse" title="1 Samuel 27:10" id="1_Samuel-27-10">Achish said, &#8220;Against whom have you made a raid today?&#8221; David said, &#8220;Against the South of Judah, against the South of the Jerahmeelites, and against the South of the Kenites.&#8221;</span>
  <span class="verse" title="1 Samuel 27:11" id="1_Samuel-27-11">David saved neither man nor woman alive, to bring them to Gath, saying, &#8220;Lest they should tell of us, saying, &#8216;David this, and this has been his way all the time he has lived in the country of the Philistines.&#8217;&#8221;</span>
  <span class="verse" title="1 Samuel 27:12" id="1_Samuel-27-12">Achish believed David, saying, &#8220;He has made his people Israel utterly to abhor him. Therefore he shall be my servant forever.&#8221;</span>
</div>