<div class="chapter" id="1 Samuel-031">
  <h2>1 Samuel 31</h2>
  <span class="verse" title="1 Samuel 31:1" id="1_Samuel-31-1">Now the Philistines fought against Israel: and the men of Israel fled from before the Philistines, and fell down slain on Mount Gilboa.</span>
  <span class="verse" title="1 Samuel 31:2" id="1_Samuel-31-2">The Philistines followed hard on Saul and on his sons; and the Philistines killed Jonathan, and Abinadab, and Malchishua, the sons of Saul.</span>
  <span class="verse" title="1 Samuel 31:3" id="1_Samuel-31-3">The battle went hard against Saul, and the archers overtook him; and he was greatly distressed by reason of the archers.</span>
  <span class="verse" title="1 Samuel 31:4" id="1_Samuel-31-4">Then Saul said to his armor bearer, &#8220;Draw your sword, and thrust me through with it, lest these uncircumcised come and thrust me through, and abuse me!&#8221; But his armor bearer would not; for he was terrified. Therefore Saul took his sword, and fell on it.</span>
  <span class="verse" title="1 Samuel 31:5" id="1_Samuel-31-5">When his armor bearer saw that Saul was dead, he likewise fell on his sword, and died with him.</span>
  <span class="verse" title="1 Samuel 31:6" id="1_Samuel-31-6">So Saul died, and his three sons, and his armor bearer, and all his men, that same day together.</span>
  <span class="verse" title="1 Samuel 31:7" id="1_Samuel-31-7">When the men of Israel who were on the other side of the valley, and those who were beyond the Jordan, saw that the men of Israel fled, and that Saul and his sons were dead, they forsook the cities, and fled; and the Philistines came and lived in them.</span>
  <span class="verse" title="1 Samuel 31:8" id="1_Samuel-31-8">It happened on the next day, when the Philistines came to strip the slain, that they found Saul and his three sons fallen on Mount Gilboa.</span>
  <span class="verse" title="1 Samuel 31:9" id="1_Samuel-31-9">They cut off his head, and stripped off his armor, and sent into the land of the Philistines all around, to carry the news to the house of their idols, and to the people.</span>
  <span class="verse" title="1 Samuel 31:10" id="1_Samuel-31-10">They put his armor in the house of the Ashtaroth; and they fastened his body to the wall of Beth Shan.</span>
  <span class="verse" title="1 Samuel 31:11" id="1_Samuel-31-11">When the inhabitants of Jabesh Gilead heard concerning him that which the Philistines had done to Saul,</span>
  <span class="verse" title="1 Samuel 31:12" id="1_Samuel-31-12">all the valiant men arose, and went all night, and took the body of Saul and the bodies of his sons from the wall of Beth Shan; and they came to Jabesh, and burnt them there.</span>
  <span class="verse" title="1 Samuel 31:13" id="1_Samuel-31-13">They took their bones, and buried them under the tamarisk tree in Jabesh, and fasted seven days.</span>
</div>