<div class="chapter" id="Amos-007">
  <h2>Amos 7</h2>
  <span class="verse" title="Amos 7:1" id="Amos-7-1">Thus the Lord Yahweh showed me: and behold, he formed locusts in the beginning of the shooting up of the latter growth; and behold, it was the latter growth after the king&#8217;s harvest.</span>
  <span class="verse" title="Amos 7:2" id="Amos-7-2">It happened that, when they made an end of eating the grass of the land, then I said, &#8220;Lord Yahweh, forgive, I beg you! How could Jacob stand? For he is small.&#8221;</span>
  <span class="verse" title="Amos 7:3" id="Amos-7-3">Yahweh relented concerning this. &#8220;It shall not be,&#8221; says Yahweh.</span>
  <span class="verse" title="Amos 7:4" id="Amos-7-4">Thus the Lord Yahweh showed me and behold, the Lord Yahweh called for judgment by fire; and it dried up the great deep, and would have devoured the land.</span>
  <span class="verse" title="Amos 7:5" id="Amos-7-5">Then I said, &#8220;Lord Yahweh, stop, I beg you! How could Jacob stand? For he is small.&#8221;</span>
  <span class="verse" title="Amos 7:6" id="Amos-7-6">Yahweh relented concerning this. &#8220;This also shall not be,&#8221; says the Lord Yahweh.</span>
  <span class="verse" title="Amos 7:7" id="Amos-7-7">Thus he showed me and behold, the Lord stood beside a wall made by a plumb line, with a plumb line in his hand.</span>
  <span class="verse" title="Amos 7:8" id="Amos-7-8">Yahweh said to me, &#8220;Amos, what do you see?&#8221; I said, &#8220;A plumb line.&#8221; Then the Lord said, &#8220;Behold, I will set a plumb line in the midst of my people Israel. I will not again pass by them any more.</span>
  <span class="verse" title="Amos 7:9" id="Amos-7-9">The high places of Isaac will be desolate, the sanctuaries of Israel will be laid waste; and I will rise against the house of Jeroboam with the sword.&#8221;</span>
  <span class="verse" title="Amos 7:10" id="Amos-7-10">Then Amaziah the priest of Bethel sent to Jeroboam king of Israel, saying, &#8220;Amos has conspired against you in the midst of the house of Israel. The land is not able to bear all his words.</span>
  <span class="verse" title="Amos 7:11" id="Amos-7-11">For Amos says, &#8216;Jeroboam will die by the sword, and Israel shall surely be led away captive out of his land.&#8217;&#8221;</span>
  <span class="verse" title="Amos 7:12" id="Amos-7-12">Amaziah also said to Amos, &#8220;You seer, go, flee away into the land of Judah, and there eat bread, and prophesy there:</span>
  <span class="verse" title="Amos 7:13" id="Amos-7-13">but don&#8217;t prophesy again any more at Bethel; for it is the king&#8217;s sanctuary, and it is a royal house!&#8221;</span>
  <span class="verse" title="Amos 7:14" id="Amos-7-14">Then Amos answered Amaziah, &#8220;I was no prophet, neither was I a prophet&#8217;s son; but I was a herdsman, and a farmer of sycamore figs;</span>
  <span class="verse" title="Amos 7:15" id="Amos-7-15">and Yahweh took me from following the flock, and Yahweh said to me, &#8216;Go, prophesy to my people Israel.&#8217;</span>
  <span class="verse" title="Amos 7:16" id="Amos-7-16">Now therefore listen to the word of Yahweh: &#8216;You say, Don&#8217;t prophesy against Israel, and don&#8217;t preach against the house of Isaac.&#8217;</span>
  <span class="verse" title="Amos 7:17" id="Amos-7-17">Therefore thus says Yahweh: &#8216;Your wife shall be a prostitute in the city, and your sons and your daughters shall fall by the sword, and your land shall be divided by line; and you yourself shall die in a land that is unclean, and Israel shall surely be led away captive out of his land.&#8217;&#8221;</span>
</div>