<div class="chapter" id="1 Kings-004">
  <h2>1 Kings 4</h2>
  <span class="verse" title="1 Kings 4:1" id="1_Kings-4-1">King Solomon was king over all Israel.</span>
  <span class="verse" title="1 Kings 4:2" id="1_Kings-4-2">These were the princes whom he had: Azariah the son of Zadok, the priest;</span>
  <span class="verse" title="1 Kings 4:3" id="1_Kings-4-3">Elihoreph and Ahijah, the sons of Shisha, scribes; Jehoshaphat the son of Ahilud, the recorder;</span>
  <span class="verse" title="1 Kings 4:4" id="1_Kings-4-4">and Benaiah the son of Jehoiada was over the army; and Zadok and Abiathar were priests;</span>
  <span class="verse" title="1 Kings 4:5" id="1_Kings-4-5">and Azariah the son of Nathan was over the officers; and Zabud the son of Nathan was chief minister, the king&#8217;s friend;</span>
  <span class="verse" title="1 Kings 4:6" id="1_Kings-4-6">and Ahishar was over the household; and Adoniram the son of Abda was over the men subject to forced labor.</span>
  <span class="verse" title="1 Kings 4:7" id="1_Kings-4-7">Solomon had twelve officers over all Israel, who provided food for the king and his household: each man had to make provision for a month in the year.</span>
  <span class="verse" title="1 Kings 4:8" id="1_Kings-4-8">These are their names: Ben Hur, in the hill country of Ephraim;</span>
  <span class="verse" title="1 Kings 4:9" id="1_Kings-4-9">Ben Deker, in Makaz, and in Shaalbim, and Beth Shemesh, and Elon Beth Hanan;</span>
  <span class="verse" title="1 Kings 4:10" id="1_Kings-4-10">Ben Hesed, in Arubboth (to him belonged Socoh, and all the land of Hepher);</span>
  <span class="verse" title="1 Kings 4:11" id="1_Kings-4-11">Ben Abinadab, in all the height of Dor (he had Taphath the daughter of Solomon as wife);</span>
  <span class="verse" title="1 Kings 4:12" id="1_Kings-4-12">Baana the son of Ahilud, in Taanach and Megiddo, and all Beth Shean which is beside Zarethan, beneath Jezreel, from Beth Shean to Abel Meholah, as far as beyond Jokmeam;</span>
  <span class="verse" title="1 Kings 4:13" id="1_Kings-4-13">Ben Geber, in Ramoth Gilead (to him belonged the towns of Jair the son of Manasseh, which are in Gilead; to him belonged the region of Argob, which is in Bashan, sixty great cities with walls and bronze bars);</span>
  <span class="verse" title="1 Kings 4:14" id="1_Kings-4-14">Ahinadab the son of Iddo, in Mahanaim;</span>
  <span class="verse" title="1 Kings 4:15" id="1_Kings-4-15">Ahimaaz, in Naphtali (he also took Basemath the daughter of Solomon as wife);</span>
  <span class="verse" title="1 Kings 4:16" id="1_Kings-4-16">Baana the son of Hushai, in Asher and Bealoth;</span>
  <span class="verse" title="1 Kings 4:17" id="1_Kings-4-17">Jehoshaphat the son of Paruah, in Issachar;</span>
  <span class="verse" title="1 Kings 4:18" id="1_Kings-4-18">Shimei the son of Ela, in Benjamin;</span>
  <span class="verse" title="1 Kings 4:19" id="1_Kings-4-19">Geber the son of Uri, in the land of Gilead, the country of Sihon king of the Amorites and of Og king of Bashan; and he was the only officer who was in the land.</span>
  <span class="verse" title="1 Kings 4:20" id="1_Kings-4-20">Judah and Israel were many as the sand which is by the sea in multitude, eating and drinking and making merry.</span>
  <span class="verse" title="1 Kings 4:21" id="1_Kings-4-21">Solomon ruled over all the kingdoms from the River to the land of the Philistines, and to the border of Egypt: they brought tribute, and served Solomon all the days of his life.</span>
  <span class="verse" title="1 Kings 4:22" id="1_Kings-4-22">Solomon&#8217;s provision for one day was thirty measures of fine flour, and sixty measures of meal,</span>
  <span class="verse" title="1 Kings 4:23" id="1_Kings-4-23">ten head of fat cattle, and twenty head of cattle out of the pastures, and one hundred sheep, besides harts, and gazelles, and roebucks, and fattened fowl.</span>
  <span class="verse" title="1 Kings 4:24" id="1_Kings-4-24">For he had dominion over all on this side the River, from Tiphsah even to Gaza, over all the kings on this side the River: and he had peace on all sides around him.</span>
  <span class="verse" title="1 Kings 4:25" id="1_Kings-4-25">Judah and Israel lived safely, every man under his vine and under his fig tree, from Dan even to Beersheba, all the days of Solomon.</span>
  <span class="verse" title="1 Kings 4:26" id="1_Kings-4-26">Solomon had forty thousand stalls of horses for his chariots, and twelve thousand horsemen.</span>
  <span class="verse" title="1 Kings 4:27" id="1_Kings-4-27">Those officers provided food for king Solomon, and for all who came to king Solomon&#8217;s table, every man in his month; they let nothing be lacking.</span>
  <span class="verse" title="1 Kings 4:28" id="1_Kings-4-28">Barley also and straw for the horses and swift steeds brought they to the place where the officers were, every man according to his duty.</span>
  <span class="verse" title="1 Kings 4:29" id="1_Kings-4-29">God gave Solomon wisdom and understanding exceeding much, and very great understanding, even as the sand that is on the seashore.</span>
  <span class="verse" title="1 Kings 4:30" id="1_Kings-4-30">Solomon&#8217;s wisdom excelled the wisdom of all the children of the east, and all the wisdom of Egypt.</span>
  <span class="verse" title="1 Kings 4:31" id="1_Kings-4-31">For he was wiser than all men; than Ethan the Ezrahite, and Heman, and Calcol, and Darda, the sons of Mahol: and his fame was in all the nations all around.</span>
  <span class="verse" title="1 Kings 4:32" id="1_Kings-4-32">He spoke three thousand proverbs; and his songs were one thousand five.</span>
  <span class="verse" title="1 Kings 4:33" id="1_Kings-4-33">He spoke of trees, from the cedar that is in Lebanon even to the hyssop that springs out of the wall; he spoke also of animals, and of birds, and of creeping things, and of fish.</span>
  <span class="verse" title="1 Kings 4:34" id="1_Kings-4-34">There came of all peoples to hear the wisdom of Solomon, from all kings of the earth, who had heard of his wisdom.</span>
</div>