<div class="chapter" id="1 Kings-005">
  <h2>1 Kings 5</h2>
  <span class="verse" title="1 Kings 5:1" id="1_Kings-5-1">Hiram king of Tyre sent his servants to Solomon; for he had heard that they had anointed him king in the place of his father: for Hiram was ever a lover of David.</span>
  <span class="verse" title="1 Kings 5:2" id="1_Kings-5-2">Solomon sent to Hiram, saying,</span>
  <span class="verse" title="1 Kings 5:3" id="1_Kings-5-3">&#8220;You know how that David my father could not build a house for the name of Yahweh his God for the wars which were about him on every side, until Yahweh put them under the soles of his feet.</span>
  <span class="verse" title="1 Kings 5:4" id="1_Kings-5-4">But now Yahweh my God has given me rest on every side. There is neither adversary, nor evil occurrence.</span>
  <span class="verse" title="1 Kings 5:5" id="1_Kings-5-5">Behold, I purpose to build a house for the name of Yahweh my God, as Yahweh spoke to David my father, saying, &#8216;Your son, whom I will set on your throne in your place, he shall build the house for my name.&#8217;</span>
  <span class="verse" title="1 Kings 5:6" id="1_Kings-5-6">Now therefore command that they cut me cedar trees out of Lebanon. My servants shall be with your servants; and I will give you wages for your servants according to all that you shall say. For you know that there is not among us any who knows how to cut timber like the Sidonians.&#8221;</span>
  <span class="verse" title="1 Kings 5:7" id="1_Kings-5-7">It happened, when Hiram heard the words of Solomon, that he rejoiced greatly, and said, &#8220;Blessed is Yahweh this day, who has given to David a wise son over this great people.&#8221;</span>
  <span class="verse" title="1 Kings 5:8" id="1_Kings-5-8">Hiram sent to Solomon, saying, &#8220;I have heard the message which you have sent to me. I will do all your desire concerning timber of cedar, and concerning timber of fir.</span>
  <span class="verse" title="1 Kings 5:9" id="1_Kings-5-9">My servants shall bring them down from Lebanon to the sea. I will make them into rafts to go by sea to the place that you shall appoint me, and will cause them to be broken up there, and you shall receive them. You shall accomplish my desire, in giving food for my household.&#8221;</span>
  <span class="verse" title="1 Kings 5:10" id="1_Kings-5-10">So Hiram gave Solomon timber of cedar and timber of fir according to all his desire.</span>
  <span class="verse" title="1 Kings 5:11" id="1_Kings-5-11">Solomon gave Hiram twenty thousand measures of wheat for food to his household, and twenty measures of pure oil. Solomon gave this to Hiram year by year.</span>
  <span class="verse" title="1 Kings 5:12" id="1_Kings-5-12">Yahweh gave Solomon wisdom, as he promised him; and there was peace between Hiram and Solomon; and they two made a treaty together.</span>
  <span class="verse" title="1 Kings 5:13" id="1_Kings-5-13">King Solomon raised a levy out of all Israel; and the levy was thirty thousand men.</span>
  <span class="verse" title="1 Kings 5:14" id="1_Kings-5-14">He sent them to Lebanon, ten thousand a month by courses; a month they were in Lebanon, and two months at home; and Adoniram was over the men subject to forced labor.</span>
  <span class="verse" title="1 Kings 5:15" id="1_Kings-5-15">Solomon had seventy thousand who bore burdens, and eighty thousand who were stone cutters in the mountains;</span>
  <span class="verse" title="1 Kings 5:16" id="1_Kings-5-16">besides Solomon&#8217;s chief officers who were over the work, three thousand and three hundred, who bore rule over the people who labored in the work.</span>
  <span class="verse" title="1 Kings 5:17" id="1_Kings-5-17">The king commanded, and they cut out great stones, costly stones, to lay the foundation of the house with worked stone.</span>
  <span class="verse" title="1 Kings 5:18" id="1_Kings-5-18">Solomon&#8217;s builders and Hiram&#8217;s builders and the Gebalites cut them, and prepared the timber and the stones to build the house.</span>
</div>