<div class="chapter" id="1 Kings-006">
  <h2>1 Kings 6</h2>
  <span class="verse" title="1 Kings 6:1" id="1_Kings-6-1">It happened in the four hundred and eightieth year after the children of Israel had come out of the land of Egypt, in the fourth year of Solomon&#8217;s reign over Israel, in the month Ziv, which is the second month, that he began to build the house of Yahweh.</span>
  <span class="verse" title="1 Kings 6:2" id="1_Kings-6-2">The house which king Solomon built for Yahweh, its length was sixty cubits, and its breadth twenty, and its height thirty cubits.</span>
  <span class="verse" title="1 Kings 6:3" id="1_Kings-6-3">The porch before the temple of the house, twenty cubits was its length, according to the breadth of the house. Ten cubits was its breadth before the house.</span>
  <span class="verse" title="1 Kings 6:4" id="1_Kings-6-4">For the house he made windows of fixed lattice work.</span>
  <span class="verse" title="1 Kings 6:5" id="1_Kings-6-5">Against the wall of the house he built stories all around, against the walls of the house all around, both of the temple and of the oracle; and he made side rooms all around.</span>
  <span class="verse" title="1 Kings 6:6" id="1_Kings-6-6">The nethermost story was five cubits broad, and the middle was six cubits broad, and the third was seven cubits broad; for on the outside he made offsets in the wall of the house all around, that the beams should not have hold in the walls of the house.</span>
  <span class="verse" title="1 Kings 6:7" id="1_Kings-6-7">The house, when it was in building, was built of stone prepared at the quarry; and there was neither hammer nor axe nor any tool of iron heard in the house, while it was in building.</span>
  <span class="verse" title="1 Kings 6:8" id="1_Kings-6-8">The door for the middle side rooms was in the right side of the house: and they went up by winding stairs into the middle story, and out of the middle into the third.</span>
  <span class="verse" title="1 Kings 6:9" id="1_Kings-6-9">So he built the house, and finished it; and he covered the house with beams and planks of cedar.</span>
  <span class="verse" title="1 Kings 6:10" id="1_Kings-6-10">He built the stories against all the house, each five cubits high: and they rested on the house with timber of cedar.</span>
  <span class="verse" title="1 Kings 6:11" id="1_Kings-6-11">The word of Yahweh came to Solomon, saying,</span>
  <span class="verse" title="1 Kings 6:12" id="1_Kings-6-12">&#8220;Concerning this house which you are building, if you will walk in my statutes, and execute my ordinances, and keep all my commandments to walk in them; then will I establish my word with you, which I spoke to David your father.</span>
  <span class="verse" title="1 Kings 6:13" id="1_Kings-6-13">I will dwell among the children of Israel, and will not forsake my people Israel.&#8221;</span>
  <span class="verse" title="1 Kings 6:14" id="1_Kings-6-14">So Solomon built the house, and finished it.</span>
  <span class="verse" title="1 Kings 6:15" id="1_Kings-6-15">He built the walls of the house within with boards of cedar: from the floor of the house to the walls of the ceiling, he covered them on the inside with wood; and he covered the floor of the house with boards of fir.</span>
  <span class="verse" title="1 Kings 6:16" id="1_Kings-6-16">He built twenty cubits on the hinder part of the house with boards of cedar from the floor to the ceiling: he built them for it within, for an oracle, even for the most holy place.</span>
  <span class="verse" title="1 Kings 6:17" id="1_Kings-6-17">In front of the temple sanctuary was forty cubits.</span>
  <span class="verse" title="1 Kings 6:18" id="1_Kings-6-18">There was cedar on the house within, carved with buds and open flowers: all was cedar; there was no stone seen.</span>
  <span class="verse" title="1 Kings 6:19" id="1_Kings-6-19">He prepared an oracle in the midst of the house within, to set there the ark of the covenant of Yahweh.</span>
  <span class="verse" title="1 Kings 6:20" id="1_Kings-6-20">Within the oracle was twenty cubits in length, and twenty cubits in breadth, and twenty cubits in its height; and he overlaid it with pure gold: and he covered the altar with cedar.</span>
  <span class="verse" title="1 Kings 6:21" id="1_Kings-6-21">So Solomon overlaid the house within with pure gold: and he drew chains of gold across before the oracle; and he overlaid it with gold.</span>
  <span class="verse" title="1 Kings 6:22" id="1_Kings-6-22">The whole house he overlaid with gold, until all the house was finished: also the whole altar that belonged to the oracle he overlaid with gold.</span>
  <span class="verse" title="1 Kings 6:23" id="1_Kings-6-23">In the oracle he made two cherubim of olive wood, each ten cubits high.</span>
  <span class="verse" title="1 Kings 6:24" id="1_Kings-6-24">Five cubits was the one wing of the cherub, and five cubits the other wing of the cherub: from the uttermost part of the one wing to the uttermost part of the other were ten cubits.</span>
  <span class="verse" title="1 Kings 6:25" id="1_Kings-6-25">The other cherub was ten cubits: both the cherubim were of one measure and one form.</span>
  <span class="verse" title="1 Kings 6:26" id="1_Kings-6-26">The height of the one cherub was ten cubits, and so was it of the other cherub.</span>
  <span class="verse" title="1 Kings 6:27" id="1_Kings-6-27">He set the cherubim within the inner house; and the wings of the cherubim were stretched forth, so that the wing of the one touched the one wall, and the wing of the other cherub touched the other wall; and their wings touched one another in the midst of the house.</span>
  <span class="verse" title="1 Kings 6:28" id="1_Kings-6-28">He overlaid the cherubim with gold.</span>
  <span class="verse" title="1 Kings 6:29" id="1_Kings-6-29">He carved all the walls of the house around with carved figures of cherubim and palm trees and open flowers, inside and outside.</span>
  <span class="verse" title="1 Kings 6:30" id="1_Kings-6-30">The floor of the house he overlaid with gold, inside and outside.</span>
  <span class="verse" title="1 Kings 6:31" id="1_Kings-6-31">For the entrance of the oracle he made doors of olive wood: the lintel and door posts were a fifth part of the wall.</span>
  <span class="verse" title="1 Kings 6:32" id="1_Kings-6-32">So he made two doors of olive wood; and he carved on them carvings of cherubim and palm trees and open flowers, and overlaid them with gold; and he spread the gold on the cherubim, and on the palm trees.</span>
  <span class="verse" title="1 Kings 6:33" id="1_Kings-6-33">So also made he for the entrance of the temple door posts of olive wood, out of a fourth part of the wall;</span>
  <span class="verse" title="1 Kings 6:34" id="1_Kings-6-34">and two doors of fir wood: the two leaves of the one door were folding, and the two leaves of the other door were folding.</span>
  <span class="verse" title="1 Kings 6:35" id="1_Kings-6-35">He carved cherubim and palm trees and open flowers; and he overlaid them with gold fitted on the engraved work.</span>
  <span class="verse" title="1 Kings 6:36" id="1_Kings-6-36">He built the inner court with three courses of cut stone, and a course of cedar beams.</span>
  <span class="verse" title="1 Kings 6:37" id="1_Kings-6-37">In the fourth year was the foundation of the house of Yahweh laid, in the month Ziv.</span>
  <span class="verse" title="1 Kings 6:38" id="1_Kings-6-38">In the eleventh year, in the month Bul, which is the eighth month, was the house finished throughout all its parts, and according to all its fashion. So was he seven years in building it.</span>
</div>