<div class="chapter" id="1 Kings-015">
  <h2>1 Kings 15</h2>
  <span class="verse" title="1 Kings 15:1" id="1_Kings-15-1">Now in the eighteenth year of king Jeroboam the son of Nebat began Abijam to reign over Judah.</span>
  <span class="verse" title="1 Kings 15:2" id="1_Kings-15-2">He reigned three years in Jerusalem: and his mother&#8217;s name was Maacah the daughter of Abishalom.</span>
  <span class="verse" title="1 Kings 15:3" id="1_Kings-15-3">He walked in all the sins of his father, which he had done before him; and his heart was not perfect with Yahweh his God, as the heart of David his father.</span>
  <span class="verse" title="1 Kings 15:4" id="1_Kings-15-4">Nevertheless for David&#8217;s sake, Yahweh his God gave him a lamp in Jerusalem, to set up his son after him, and to establish Jerusalem;</span>
  <span class="verse" title="1 Kings 15:5" id="1_Kings-15-5">because David did that which was right in the eyes of Yahweh, and didn&#8217;t turn aside from anything that he commanded him all the days of his life, except only in the matter of Uriah the Hittite.</span>
  <span class="verse" title="1 Kings 15:6" id="1_Kings-15-6">Now there was war between Rehoboam and Jeroboam all the days of his life.</span>
  <span class="verse" title="1 Kings 15:7" id="1_Kings-15-7">The rest of the acts of Abijam, and all that he did, aren&#8217;t they written in the book of the chronicles of the kings of Judah? There was war between Abijam and Jeroboam.</span>
  <span class="verse" title="1 Kings 15:8" id="1_Kings-15-8">Abijam slept with his fathers; and they buried him in the city of David: and Asa his son reigned in his place.</span>
  <span class="verse" title="1 Kings 15:9" id="1_Kings-15-9">In the twentieth year of Jeroboam king of Israel began Asa to reign over Judah.</span>
  <span class="verse" title="1 Kings 15:10" id="1_Kings-15-10">He reigned forty-one years in Jerusalem: and his mother&#8217;s name was Maacah the daughter of Abishalom.</span>
  <span class="verse" title="1 Kings 15:11" id="1_Kings-15-11">Asa did that which was right in the eyes of Yahweh, as did David his father.</span>
  <span class="verse" title="1 Kings 15:12" id="1_Kings-15-12">He put away the sodomites out of the land, and removed all the idols that his fathers had made.</span>
  <span class="verse" title="1 Kings 15:13" id="1_Kings-15-13">Also Maacah his mother he removed from being queen, because she had made an abominable image for an Asherah; and Asa cut down her image, and burnt it at the brook Kidron.</span>
  <span class="verse" title="1 Kings 15:14" id="1_Kings-15-14">But the high places were not taken away: nevertheless the heart of Asa was perfect with Yahweh all his days.</span>
  <span class="verse" title="1 Kings 15:15" id="1_Kings-15-15">He brought into the house of Yahweh the things that his father had dedicated, and the things that himself had dedicated, silver, and gold, and vessels.</span>
  <span class="verse" title="1 Kings 15:16" id="1_Kings-15-16">There was war between Asa and Baasha king of Israel all their days.</span>
  <span class="verse" title="1 Kings 15:17" id="1_Kings-15-17">Baasha king of Israel went up against Judah, and built Ramah, that he might not allow anyone to go out or come in to Asa king of Judah.</span>
  <span class="verse" title="1 Kings 15:18" id="1_Kings-15-18">Then Asa took all the silver and the gold that were left in the treasures of the house of Yahweh, and the treasures of the king&#8217;s house, and delivered them into the hand of his servants; and king Asa sent them to Ben Hadad, the son of Tabrimmon, the son of Hezion, king of Syria, who lived at Damascus, saying,</span>
  <span class="verse" title="1 Kings 15:19" id="1_Kings-15-19">&#8220;There is a treaty between me and you, between my father and your father. Behold, I have sent to you a present of silver and gold. Go, break your treaty with Baasha king of Israel, that he may depart from me.&#8221;</span>
  <span class="verse" title="1 Kings 15:20" id="1_Kings-15-20">Ben Hadad listened to king Asa, and sent the captains of his armies against the cities of Israel, and struck Ijon, and Dan, and Abel Beth Maacah, and all Chinneroth, with all the land of Naphtali.</span>
  <span class="verse" title="1 Kings 15:21" id="1_Kings-15-21">It happened, when Baasha heard of it, that he left off building Ramah, and lived in Tirzah.</span>
  <span class="verse" title="1 Kings 15:22" id="1_Kings-15-22">Then king Asa made a proclamation to all Judah; none was exempted: and they carried away the stones of Ramah, and its timber, with which Baasha had built; and king Asa built therewith Geba of Benjamin, and Mizpah.</span>
  <span class="verse" title="1 Kings 15:23" id="1_Kings-15-23">Now the rest of all the acts of Asa, and all his might, and all that he did, and the cities which he built, aren&#8217;t they written in the book of the chronicles of the kings of Judah? But in the time of his old age he was diseased in his feet.</span>
  <span class="verse" title="1 Kings 15:24" id="1_Kings-15-24">Asa slept with his fathers, and was buried with his fathers in the city of David his father; and Jehoshaphat his son reigned in his place.</span>
  <span class="verse" title="1 Kings 15:25" id="1_Kings-15-25">Nadab the son of Jeroboam began to reign over Israel in the second year of Asa king of Judah; and he reigned over Israel two years.</span>
  <span class="verse" title="1 Kings 15:26" id="1_Kings-15-26">He did that which was evil in the sight of Yahweh, and walked in the way of his father, and in his sin with which he made Israel to sin.</span>
  <span class="verse" title="1 Kings 15:27" id="1_Kings-15-27">Baasha the son of Ahijah, of the house of Issachar, conspired against him; and Baasha struck him at Gibbethon, which belonged to the Philistines; for Nadab and all Israel were laying siege to Gibbethon.</span>
  <span class="verse" title="1 Kings 15:28" id="1_Kings-15-28">Even in the third year of Asa king of Judah, Baasha killed him, and reigned in his place.</span>
  <span class="verse" title="1 Kings 15:29" id="1_Kings-15-29">It happened that, as soon as he was king, he struck all the house of Jeroboam: he didn&#8217;t leave to Jeroboam any who breathed, until he had destroyed him; according to the saying of Yahweh, which he spoke by his servant Ahijah the Shilonite;</span>
  <span class="verse" title="1 Kings 15:30" id="1_Kings-15-30">for the sins of Jeroboam which he sinned, and with which he made Israel to sin, because of his provocation with which he provoked Yahweh, the God of Israel, to anger.</span>
  <span class="verse" title="1 Kings 15:31" id="1_Kings-15-31">Now the rest of the acts of Nadab, and all that he did, aren&#8217;t they written in the book of the chronicles of the kings of Israel?</span>
  <span class="verse" title="1 Kings 15:32" id="1_Kings-15-32">There was war between Asa and Baasha king of Israel all their days.</span>
  <span class="verse" title="1 Kings 15:33" id="1_Kings-15-33">In the third year of Asa king of Judah, Baasha the son of Ahijah began to reign over all Israel in Tirzah for twenty-four years.</span>
  <span class="verse" title="1 Kings 15:34" id="1_Kings-15-34">He did that which was evil in the sight of Yahweh, and walked in the way of Jeroboam, and in his sin with which he made Israel to sin.</span>
</div>