<div class="chapter" id="1 Kings-017">
  <h2>1 Kings 17</h2>
  <span class="verse" title="1 Kings 17:1" id="1_Kings-17-1">Elijah the Tishbite, who was of the foreigners of Gilead, said to Ahab, &#8220;As Yahweh, the God of Israel, lives, before whom I stand, there shall not be dew nor rain these years, but according to my word.&#8221;</span>
  <span class="verse" title="1 Kings 17:2" id="1_Kings-17-2">The word of Yahweh came to him, saying,</span>
  <span class="verse" title="1 Kings 17:3" id="1_Kings-17-3">&#8220;Go away from here, turn eastward, and hide yourself by the brook Cherith, that is before the Jordan.</span>
  <span class="verse" title="1 Kings 17:4" id="1_Kings-17-4">It shall be, that you shall drink of the brook. I have commanded the ravens to feed you there.&#8221;</span>
  <span class="verse" title="1 Kings 17:5" id="1_Kings-17-5">So he went and did according to the word of Yahweh; for he went and lived by the brook Cherith, that is before the Jordan.</span>
  <span class="verse" title="1 Kings 17:6" id="1_Kings-17-6">The ravens brought him bread and flesh in the morning, and bread and flesh in the evening; and he drank of the brook.</span>
  <span class="verse" title="1 Kings 17:7" id="1_Kings-17-7">It happened after a while, that the brook dried up, because there was no rain in the land.</span>
  <span class="verse" title="1 Kings 17:8" id="1_Kings-17-8">The word of Yahweh came to him, saying,</span>
  <span class="verse" title="1 Kings 17:9" id="1_Kings-17-9">&#8220;Arise, go to Zarephath, which belongs to Sidon, and stay there. Behold, I have commanded a widow there to sustain you.&#8221;</span>
  <span class="verse" title="1 Kings 17:10" id="1_Kings-17-10">So he arose and went to Zarephath; and when he came to the gate of the city, behold, a widow was there gathering sticks: and he called to her, and said, &#8220;Please get me a little water in a vessel, that I may drink.&#8221;</span>
  <span class="verse" title="1 Kings 17:11" id="1_Kings-17-11">As she was going to get it, he called to her, and said, &#8220;Please bring me a morsel of bread in your hand.&#8221;</span>
  <span class="verse" title="1 Kings 17:12" id="1_Kings-17-12">She said, &#8220;As Yahweh your God lives, I don&#8217;t have a cake, but a handful of meal in the jar, and a little oil in the jar. Behold, I am gathering two sticks, that I may go in and bake it for me and my son, that we may eat it, and die.&#8221;</span>
  <span class="verse" title="1 Kings 17:13" id="1_Kings-17-13">Elijah said to her, &#8220;Don&#8217;t be afraid. Go and do as you have said; but make me of it a little cake first, and bring it out to me, and afterward make some for you and for your son.</span>
  <span class="verse" title="1 Kings 17:14" id="1_Kings-17-14">For thus says Yahweh, the God of Israel, &#8216;The jar of meal shall not empty, neither shall the jar of oil fail, until the day that Yahweh sends rain on the earth.&#8217;&#8221;</span>
  <span class="verse" title="1 Kings 17:15" id="1_Kings-17-15">She went and did according to the saying of Elijah: and she, and he, and her house, ate many days.</span>
  <span class="verse" title="1 Kings 17:16" id="1_Kings-17-16">The jar of meal didn&#8217;t empty, neither did the jar of oil fail, according to the word of Yahweh, which he spoke by Elijah.</span>
  <span class="verse" title="1 Kings 17:17" id="1_Kings-17-17">It happened after these things, that the son of the woman, the mistress of the house, fell sick; and his sickness was so severe, that there was no breath left in him.</span>
  <span class="verse" title="1 Kings 17:18" id="1_Kings-17-18">She said to Elijah, &#8220;What have I to do with you, you man of God? You have come to me to bring my sin to memory, and to kill my son!&#8221;</span>
  <span class="verse" title="1 Kings 17:19" id="1_Kings-17-19">He said to her, &#8220;Give me your son.&#8221; He took him out of her bosom, and carried him up into the room where he stayed, and laid him on his own bed.</span>
  <span class="verse" title="1 Kings 17:20" id="1_Kings-17-20">He cried to Yahweh, and said, &#8220;Yahweh my God, have you also brought evil on the widow with whom I stay, by killing her son?&#8221;</span>
  <span class="verse" title="1 Kings 17:21" id="1_Kings-17-21">He stretched himself on the child three times, and cried to Yahweh, and said, &#8220;Yahweh my God, please let this child&#8217;s soul come into him again.&#8221;</span>
  <span class="verse" title="1 Kings 17:22" id="1_Kings-17-22">Yahweh listened to the voice of Elijah; and the soul of the child came into him again, and he revived.</span>
  <span class="verse" title="1 Kings 17:23" id="1_Kings-17-23">Elijah took the child, and brought him down out of the room into the house, and delivered him to his mother; and Elijah said, &#8220;Behold, your son lives.&#8221;</span>
  <span class="verse" title="1 Kings 17:24" id="1_Kings-17-24">The woman said to Elijah, &#8220;Now I know that you are a man of God, and that the word of Yahweh in your mouth is truth.&#8221;</span>
</div>