<h1>Not Local Or Secret Not Given</h1>

<p>Since you're running OneBody in "setup" mode, you must either access this site locally
(from the same computer) or provide the setup <em>secret</em>.</p>

<p>The secret can be found in the file <code><%=h @secret_file_path %></code>.
  Just copy and paste it in the field below.</p>

<% form_tag setup_authorize_ip_url do %>
  <p><%= text_field_tag :setup_secret %></p>
  <p><%= submit_tag 'Authorize Me!' %></p>
<% end %>