<p class="highlight">A previous friend request between you and <%= @person.name %> was turned down.</p>

<p><strong>Don't be discouraged!</strong> It's possible <%= @person.first_name %> doesn't
remember you, or that they didn't understand the question they were being asked by this site
(perhaps they're not as technically saavy as you).</p>
