<table class="spaced">
  <% slots = range_of_hours(@first, @last).group_by { |h| h.strftime('%Y/%m/%d') } %>
  <% range_of_days(@first, @last).each do |day| %>
    <%
      num_slots = slots[day.strftime('%Y/%m/%d')].length
      taken = @count_per_day[day.strftime('%Y/%m/%d')] ? @count_per_day[day.strftime('%Y/%m/%d')].length : 0
      percent = (taken / num_slots.to_f * 100).to_i
    %>
    <tr>
      <td style="text-align:right;"><%= link_to day.strftime('%A'), :anchor => day.strftime('%Y%m%d') %>
      <td style="line-height:15px;font-size:11px;color:#333;">
        <div style="width:<%= [1, percent].max %>px;background:url(/images/bar.gif) top left repeat-x;height:15px;padding:0;float:left;text-align:right;">
          <% if percent > 40 %><%= percent %>%&nbsp;<% end %>
        </div>
        <% if percent <= 40 %>&nbsp;<%= percent %>%<% end %>
      </td>
  <% end %>
</table>

