 <!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <p style="border-top:1px solid #ccc;margin-top:15px;padding-top:15px;">
<%=raw t('notifier.email_verification.intro', site: Setting.get(:name, :site)) %><br/><br/>

<%=raw t('notifier.email_verification.instruction') %><br/><br/>

<%=raw "#{Setting.get(:url, :site)}account/verify_code?id=#{@verification.id}&code=#{@verification.code}" %><br/><br/>

<%=raw t('notifier.email_verification.footer',
         name: Setting.get(:name, :community),
         phone: Setting.get(:contact, :community_office_phone)).gsub(/\n/, "<br/>\n") %>
		 </p>
  </body>
</html>