<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <p style="margin-top:15px;padding-top:15px;font-size:12px; font-family:courier new,courier,monospace;">
<%=raw t('notifier.email_update.intro', person: @person.name) %>
  </p>
  <p style="border-top:1px solid #ccc;margin-top:15px;padding-top:15px;font-size:12px; font-family:courier new,courier,monospace;">
<a href ="mailto:<%=raw @person.email %>"><%=raw @person.email %></a>
  </p>
  </body>
</html>
