<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
  <p style="margin-top:15px;padding-top:15px;font-size:12px; font-family:courier new,courier,monospace;">
<%=raw t('notifier.friend_request.intro',
         person: @person.name,
         site: Setting.get(:name, :site)) %>
  </p>
  <p style="border-top:1px solid #ccc;margin-top:15px;padding-top:15px;font-size:12px; font-family:courier new,courier,monospace;">
<%=raw t('notifier.friend_request.instruction') %><br/>

<%= link_to "#{Setting.get(:url, :site)}people/#{@friend.id}/friends", "#{Setting.get(:url, :site)}people/#{@friend.id}/friends" %>
  </p>
  </body>
</html>