<div class="chapter" id="Psalms-001">
  <h2>Psalm 1</h2>
  <span class="verse" title="Psalm 1:1" id="Psalm-1-1">Blessed is the man who doesn&#8217;t walk in the counsel of the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>nor stand in the way of sinners,<br/> <span class="indent">&nbsp;&nbsp;</span>nor sit in the seat of scoffers;<br/></span>
  <span class="verse" title="Psalm 1:2" id="Psalm-1-2">but his delight is in Yahweh&#8217;s law.<br/> <span class="indent">&nbsp;&nbsp;</span>On his law he meditates day and night.<br/></span>
  <span class="verse" title="Psalm 1:3" id="Psalm-1-3">He will be like a tree planted by the streams of water,<br/> <span class="indent">&nbsp;&nbsp;</span>that brings forth its fruit in its season,<br/> <span class="indent">&nbsp;&nbsp;</span>whose leaf also does not wither.<br/> <span class="indent">&nbsp;&nbsp;</span>Whatever he does shall prosper.<br/></span>
  <span class="verse" title="Psalm 1:4" id="Psalm-1-4">The wicked are not so,<br/> <span class="indent">&nbsp;&nbsp;</span>but are like the chaff which the wind drives away.<br/></span>
  <span class="verse" title="Psalm 1:5" id="Psalm-1-5">Therefore the wicked shall not stand in the judgment,<br/> <span class="indent">&nbsp;&nbsp;</span>nor sinners in the congregation of the righteous.<br/></span>
  <span class="verse" title="Psalm 1:6" id="Psalm-1-6">For Yahweh knows the way of the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>but the way of the wicked shall perish.<br/></span>
</div>