<div class="chapter" id="Psalms-002">
  <h2>Psalm 2</h2>
  <span class="verse" title="Psalm 2:1" id="Psalm-2-1">Why do the nations rage,<br/> <span class="indent">&nbsp;&nbsp;</span>and the peoples plot a vain thing?<br/></span>
  <span class="verse" title="Psalm 2:2" id="Psalm-2-2">The kings of the earth take a stand,<br/> <span class="indent">&nbsp;&nbsp;</span>and the rulers take counsel together,<br/> <span class="indent">&nbsp;&nbsp;</span>against Yahweh, and against his Anointed, saying,<br/></span>
  <span class="verse" title="Psalm 2:3" id="Psalm-2-3">&#8220;Let&#8217;s break their bonds apart,<br/> <span class="indent">&nbsp;&nbsp;</span>and cast their cords from us.&#8221;<br/></span>
  <span class="verse" title="Psalm 2:4" id="Psalm-2-4">He who sits in the heavens will laugh.<br/> <span class="indent">&nbsp;&nbsp;</span>The Lord will have them in derision.<br/></span>
  <span class="verse" title="Psalm 2:5" id="Psalm-2-5">Then he will speak to them in his anger,<br/> <span class="indent">&nbsp;&nbsp;</span>and terrify them in his wrath:<br/></span>
  <span class="verse" title="Psalm 2:6" id="Psalm-2-6">&#8220;Yet I have set my King on my holy hill of Zion.&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 2:7" id="Psalm-2-7">I will tell of the decree.<br/>   Yahweh said to me, &#8220;You are my son.<br/> <span class="indent">&nbsp;&nbsp;</span>Today I have become your father.<br/></span>
  <span class="verse" title="Psalm 2:8" id="Psalm-2-8">Ask of me, and I will give the nations for your inheritance,<br/> <span class="indent">&nbsp;&nbsp;</span>the uttermost parts of the earth for your possession.<br/></span>
  <span class="verse" title="Psalm 2:9" id="Psalm-2-9">You shall break them with a rod of iron.<br/> <span class="indent">&nbsp;&nbsp;</span>You shall dash them in pieces like a potter&#8217;s vessel.&#8221;<br/></span>
  <span class="verse" title="Psalm 2:10" id="Psalm-2-10">Now therefore be wise, you kings.<br/> <span class="indent">&nbsp;&nbsp;</span>Be instructed, you judges of the earth.<br/></span>
  <span class="verse" title="Psalm 2:11" id="Psalm-2-11">Serve Yahweh with fear,<br/> <span class="indent">&nbsp;&nbsp;</span>and rejoice with trembling.<br/></span>
  <span class="verse" title="Psalm 2:12" id="Psalm-2-12">Give sincere homage to the Son, lest he be angry, and you perish in the way,<br/> <span class="indent">&nbsp;&nbsp;</span>for his wrath will soon be kindled.<br/> <span class="indent">&nbsp;&nbsp;</span>Blessed are all those who take refuge in him.<br/></span>
</div>