<div class="chapter" id="Psalms-003">
  <h2>Psalm 3</h2>
  <span class="verse" title="Psalm 3:1" id="Psalm-3-1">Yahweh, how my adversaries have increased!<br/> <span class="indent">&nbsp;&nbsp;</span>Many are those who rise up against me.<br/></span>
  <span class="verse" title="Psalm 3:2" id="Psalm-3-2">Many there are who say of my soul,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;There is no help for him in God.&#8221;<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 3:3" id="Psalm-3-3">But you, Yahweh, are a shield around me,<br/> <span class="indent">&nbsp;&nbsp;</span>my glory, and the one who lifts up my head.<br/></span>
  <span class="verse" title="Psalm 3:4" id="Psalm-3-4">I cry to Yahweh with my voice,<br/> <span class="indent">&nbsp;&nbsp;</span>and he answers me out of his holy hill.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 3:5" id="Psalm-3-5">I laid myself down and slept.<br/> <span class="indent">&nbsp;&nbsp;</span>I awakened; for Yahweh sustains me.<br/></span>
  <span class="verse" title="Psalm 3:6" id="Psalm-3-6">I will not be afraid of tens of thousands of people<br/> <span class="indent">&nbsp;&nbsp;</span>who have set themselves against me on every side.<br/></span>
  <span class="verse" title="Psalm 3:7" id="Psalm-3-7">Arise, Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>Save me, my God!<br/>   For you have struck all of my enemies on the cheek bone.<br/> <span class="indent">&nbsp;&nbsp;</span>You have broken the teeth of the wicked.<br/></span>
  <span class="verse" title="Psalm 3:8" id="Psalm-3-8">Salvation belongs to Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Your blessing be on your people.<br/>   <br/>   Selah.<br/>   <br/></span>
</div>