<div class="chapter" id="Psalms-004">
  <h2>Psalm 4</h2>
  <span class="verse" title="Psalm 4:1" id="Psalm-4-1">Answer me when I call, God of my righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>Give me relief from my distress.<br/> <span class="indent">&nbsp;&nbsp;</span>Have mercy on me, and hear my prayer.<br/></span>
  <span class="verse" title="Psalm 4:2" id="Psalm-4-2">You sons of men, how long shall my glory be turned into dishonor?<br/> <span class="indent">&nbsp;&nbsp;</span>Will you love vanity, and seek after falsehood?<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 4:3" id="Psalm-4-3">But know that Yahweh has set apart for himself him who is godly:<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh will hear when I call to him.<br/></span>
  <span class="verse" title="Psalm 4:4" id="Psalm-4-4">Stand in awe, and don&#8217;t sin.<br/> <span class="indent">&nbsp;&nbsp;</span>Search your own heart on your bed, and be still.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 4:5" id="Psalm-4-5">Offer the sacrifices of righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>Put your trust in Yahweh.<br/></span>
  <span class="verse" title="Psalm 4:6" id="Psalm-4-6">Many say, &#8220;Who will show us any good?&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, let the light of your face shine on us.<br/></span>
  <span class="verse" title="Psalm 4:7" id="Psalm-4-7">You have put gladness in my heart,<br/> <span class="indent">&nbsp;&nbsp;</span>more than when their grain and their new wine are increased.<br/></span>
  <span class="verse" title="Psalm 4:8" id="Psalm-4-8">In peace I will both lay myself down and sleep,<br/> <span class="indent">&nbsp;&nbsp;</span>for you, Yahweh alone, make me live in safety.<br/></span>
</div>