<div class="chapter" id="Psalms-006">
  <h2>Psalm 6</h2>
  <span class="verse" title="Psalm 6:1" id="Psalm-6-1">Yahweh, don&#8217;t rebuke me in your anger,<br/> <span class="indent">&nbsp;&nbsp;</span>neither discipline me in your wrath.<br/></span>
  <span class="verse" title="Psalm 6:2" id="Psalm-6-2">Have mercy on me, Yahweh, for I am faint.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, heal me, for my bones are troubled.<br/></span>
  <span class="verse" title="Psalm 6:3" id="Psalm-6-3">My soul is also in great anguish.<br/> <span class="indent">&nbsp;&nbsp;</span>But you, Yahweh—how long?<br/></span>
  <span class="verse" title="Psalm 6:4" id="Psalm-6-4">Return, Yahweh. Deliver my soul,<br/> <span class="indent">&nbsp;&nbsp;</span>and save me for your loving kindness&#8217; sake.<br/></span>
  <span class="verse" title="Psalm 6:5" id="Psalm-6-5">For in death there is no memory of you.<br/> <span class="indent">&nbsp;&nbsp;</span>In Sheol, who shall give you thanks?<br/></span>
  <span class="verse" title="Psalm 6:6" id="Psalm-6-6">I am weary with my groaning.<br/> <span class="indent">&nbsp;&nbsp;</span>Every night I flood my bed.<br/> <span class="indent">&nbsp;&nbsp;</span>I drench my couch with my tears.<br/></span>
  <span class="verse" title="Psalm 6:7" id="Psalm-6-7">My eye wastes away because of grief.<br/> <span class="indent">&nbsp;&nbsp;</span>It grows old because of all my adversaries.<br/></span>
  <span class="verse" title="Psalm 6:8" id="Psalm-6-8">Depart from me, all you workers of iniquity,<br/> <span class="indent">&nbsp;&nbsp;</span>for Yahweh has heard the voice of my weeping.<br/></span>
  <span class="verse" title="Psalm 6:9" id="Psalm-6-9">Yahweh has heard my supplication.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh accepts my prayer.<br/></span>
  <span class="verse" title="Psalm 6:10" id="Psalm-6-10">May all my enemies be ashamed and dismayed.<br/> <span class="indent">&nbsp;&nbsp;</span>They shall turn back, they shall be disgraced suddenly.<br/></span>
</div>