<div class="chapter" id="Psalms-007">
  <h2>Psalm 7</h2>
  <span class="verse" title="Psalm 7:1" id="Psalm-7-1">Yahweh, my God, I take refuge in you.<br/> <span class="indent">&nbsp;&nbsp;</span>Save me from all those who pursue me, and deliver me,<br/></span>
  <span class="verse" title="Psalm 7:2" id="Psalm-7-2">lest they tear apart my soul like a lion,<br/> <span class="indent">&nbsp;&nbsp;</span>ripping it in pieces, while there is none to deliver.<br/></span>
  <span class="verse" title="Psalm 7:3" id="Psalm-7-3">Yahweh, my God, if I have done this,<br/> <span class="indent">&nbsp;&nbsp;</span>if there is iniquity in my hands,<br/></span>
  <span class="verse" title="Psalm 7:4" id="Psalm-7-4">if I have rewarded evil to him who was at peace with me<br/> <span class="indent">&nbsp;&nbsp;</span>(yes, if I have delivered him who without cause was my adversary),<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 7:5" id="Psalm-7-5">let the enemy pursue my soul, and overtake it;<br/>   yes, let him tread my life down to the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and lay my glory in the dust.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 7:6" id="Psalm-7-6">Arise, Yahweh, in your anger.<br/> <span class="indent">&nbsp;&nbsp;</span>Lift up yourself against the rage of my adversaries.<br/>   Awake for me. You have commanded judgment.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 7:7" id="Psalm-7-7">Let the congregation of the peoples surround you.<br/> <span class="indent">&nbsp;&nbsp;</span>Rule over them on high.<br/></span>
  <span class="verse" title="Psalm 7:8" id="Psalm-7-8">Yahweh administers judgment to the peoples.<br/> <span class="indent">&nbsp;&nbsp;</span>Judge me, Yahweh, according to my righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>and to my integrity that is in me.<br/></span>
  <span class="verse" title="Psalm 7:9" id="Psalm-7-9">Oh let the wickedness of the wicked come to an end,<br/> <span class="indent">&nbsp;&nbsp;</span>but establish the righteous;<br/> <span class="indent">&nbsp;&nbsp;</span>their minds and hearts are searched by the righteous God.<br/></span>
  <span class="verse" title="Psalm 7:10" id="Psalm-7-10">My shield is with God,<br/> <span class="indent">&nbsp;&nbsp;</span>who saves the upright in heart.<br/></span>
  <span class="verse" title="Psalm 7:11" id="Psalm-7-11">God is a righteous judge,<br/> <span class="indent">&nbsp;&nbsp;</span>yes, a God who has indignation every day.<br/></span>
  <span class="verse" title="Psalm 7:12" id="Psalm-7-12">If a man doesn&#8217;t relent, he will sharpen his sword;<br/> <span class="indent">&nbsp;&nbsp;</span>he has bent and strung his bow.<br/></span>
  <span class="verse" title="Psalm 7:13" id="Psalm-7-13">He has also prepared for himself the instruments of death.<br/> <span class="indent">&nbsp;&nbsp;</span>He makes ready his flaming arrows.<br/></span>
  <span class="verse" title="Psalm 7:14" id="Psalm-7-14">Behold, he travails with iniquity.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, he has conceived mischief,<br/> <span class="indent">&nbsp;&nbsp;</span>and brought forth falsehood.<br/></span>
  <span class="verse" title="Psalm 7:15" id="Psalm-7-15">He has dug a hole,<br/> <span class="indent">&nbsp;&nbsp;</span>and has fallen into the pit which he made.<br/></span>
  <span class="verse" title="Psalm 7:16" id="Psalm-7-16">The trouble he causes shall return to his own head.<br/> <span class="indent">&nbsp;&nbsp;</span>His violence shall come down on the crown of his own head.<br/></span>
  <span class="verse" title="Psalm 7:17" id="Psalm-7-17">I will give thanks to Yahweh according to his righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>and will sing praise to the name of Yahweh Most High.<br/></span>
</div>