<div class="chapter" id="Psalms-008">
  <h2>Psalm 8</h2>
  <span class="verse" title="Psalm 8:1" id="Psalm-8-1">Yahweh, our Lord, how majestic is your name in all the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>who has set your glory above the heavens!<br/></span>
  <span class="verse" title="Psalm 8:2" id="Psalm-8-2">From the lips of babes and infants you have established strength,<br/> <span class="indent">&nbsp;&nbsp;</span>because of your adversaries, that you might silence the enemy and the avenger.<br/></span>
  <span class="verse" title="Psalm 8:3" id="Psalm-8-3">When I consider your heavens, the work of your fingers,<br/> <span class="indent">&nbsp;&nbsp;</span>the moon and the stars, which you have ordained;<br/></span>
  <span class="verse" title="Psalm 8:4" id="Psalm-8-4">what is man, that you think of him?<br/> <span class="indent">&nbsp;&nbsp;</span>What is the son of man, that you care for him?<br/></span>
  <span class="verse" title="Psalm 8:5" id="Psalm-8-5">For you have made him a little lower than God,<br/> <span class="indent">&nbsp;&nbsp;</span>and crowned him with glory and honor.<br/></span>
  <span class="verse" title="Psalm 8:6" id="Psalm-8-6">You make him ruler over the works of your hands.<br/> <span class="indent">&nbsp;&nbsp;</span>You have put all things under his feet:<br/></span>
  <span class="verse" title="Psalm 8:7" id="Psalm-8-7">All sheep and cattle,<br/> <span class="indent">&nbsp;&nbsp;</span>yes, and the animals of the field,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 8:8" id="Psalm-8-8">The birds of the sky, the fish of the sea,<br/> <span class="indent">&nbsp;&nbsp;</span>and whatever passes through the paths of the seas.<br/></span>
  <span class="verse" title="Psalm 8:9" id="Psalm-8-9">Yahweh, our Lord,<br/> <span class="indent">&nbsp;&nbsp;</span>how majestic is your name in all the earth!<br/></span>
</div>