<div class="chapter" id="Psalms-011">
  <h2>Psalm 11</h2>
  <span class="verse" title="Psalm 11:1" id="Psalm-11-1">In Yahweh, I take refuge.<br/> <span class="indent">&nbsp;&nbsp;</span>How can you say to my soul, &#8220;Flee as a bird to your mountain!&#8221;<br/></span>
  <span class="verse" title="Psalm 11:2" id="Psalm-11-2">For, behold, the wicked bend their bows.<br/> <span class="indent">&nbsp;&nbsp;</span>They set their arrows on the strings,<br/> <span class="indent">&nbsp;&nbsp;</span>that they may shoot in darkness at the upright in heart.<br/></span>
  <span class="verse" title="Psalm 11:3" id="Psalm-11-3">If the foundations are destroyed,<br/> <span class="indent">&nbsp;&nbsp;</span>what can the righteous do?<br/></span>
  <span class="verse" title="Psalm 11:4" id="Psalm-11-4">Yahweh is in his holy temple.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh is on his throne in heaven.<br/>   His eyes observe.<br/> <span class="indent">&nbsp;&nbsp;</span>His eyes examine the children of men.<br/></span>
  <span class="verse" title="Psalm 11:5" id="Psalm-11-5">Yahweh examines the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>but the wicked and him who loves violence his soul hates.<br/></span>
  <span class="verse" title="Psalm 11:6" id="Psalm-11-6">On the wicked he will rain blazing coals;<br/> <span class="indent">&nbsp;&nbsp;</span>fire, sulfur, and scorching wind shall be the portion of their cup.<br/></span>
  <span class="verse" title="Psalm 11:7" id="Psalm-11-7">For Yahweh is righteous.<br/> <span class="indent">&nbsp;&nbsp;</span>He loves righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>The upright shall see his face.<br/></span>
</div>