<div class="chapter" id="Psalms-012">
  <h2>Psalm 12</h2>
  <span class="verse" title="Psalm 12:1" id="Psalm-12-1">Help, Yahweh; for the godly man ceases.<br/> <span class="indent">&nbsp;&nbsp;</span>For the faithful fail from among the children of men.<br/></span>
  <span class="verse" title="Psalm 12:2" id="Psalm-12-2">Everyone lies to his neighbor.<br/> <span class="indent">&nbsp;&nbsp;</span>They speak with flattering lips, and with a double heart.<br/></span>
  <span class="verse" title="Psalm 12:3" id="Psalm-12-3">May Yahweh cut off all flattering lips,<br/> <span class="indent">&nbsp;&nbsp;</span>and the tongue that boasts,<br/></span>
  <span class="verse" title="Psalm 12:4" id="Psalm-12-4">who have said, &#8220;With our tongue we will prevail.<br/> <span class="indent">&nbsp;&nbsp;</span>Our lips are our own.<br/> <span class="indent">&nbsp;&nbsp;</span>Who is lord over us?&#8221;<br/></span>
  <span class="verse" title="Psalm 12:5" id="Psalm-12-5">&#8220;Because of the oppression of the weak and because of the groaning of the needy,<br/> <span class="indent">&nbsp;&nbsp;</span>I will now arise,&#8221; says Yahweh;<br/>   &#8220;I will set him in safety from those who malign him.&#8221;<br/></span>
  <span class="verse" title="Psalm 12:6" id="Psalm-12-6">The words of Yahweh are flawless words,<br/> <span class="indent">&nbsp;&nbsp;</span>as silver refined in a clay furnace, purified seven times.<br/></span>
  <span class="verse" title="Psalm 12:7" id="Psalm-12-7">You will keep them, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>You will preserve them from this generation forever.<br/></span>
  <span class="verse" title="Psalm 12:8" id="Psalm-12-8">The wicked walk on every side,<br/> <span class="indent">&nbsp;&nbsp;</span>when what is vile is exalted among the sons of men.<br/></span>
</div>