<div class="chapter" id="Psalms-013">
  <h2>Psalm 13</h2>
  <span class="verse" title="Psalm 13:1" id="Psalm-13-1">How long, Yahweh?<br/> <span class="indent">&nbsp;&nbsp;</span>Will you forget me forever?<br/> <span class="indent">&nbsp;&nbsp;</span>How long will you hide your face from me?<br/></span>
  <span class="verse" title="Psalm 13:2" id="Psalm-13-2">How long shall I take counsel in my soul,<br/> <span class="indent">&nbsp;&nbsp;</span>having sorrow in my heart every day?<br/> <span class="indent">&nbsp;&nbsp;</span>How long shall my enemy triumph over me?<br/></span>
  <span class="verse" title="Psalm 13:3" id="Psalm-13-3">Behold, and answer me, Yahweh, my God.<br/> <span class="indent">&nbsp;&nbsp;</span>Give light to my eyes, lest I sleep in death;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 13:4" id="Psalm-13-4">Lest my enemy say, &#8220;I have prevailed against him;&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>Lest my adversaries rejoice when I fall.<br/>   <br/></span>
  <span class="verse" title="Psalm 13:5" id="Psalm-13-5">But I trust in your loving kindness.<br/> <span class="indent">&nbsp;&nbsp;</span>My heart rejoices in your salvation.<br/></span>
  <span class="verse" title="Psalm 13:6" id="Psalm-13-6">I will sing to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>because he has been good to me.<br/></span>
</div>