<div class="chapter" id="Psalms-014">
  <h2>Psalm 14</h2>
  <span class="verse" title="Psalm 14:1" id="Psalm-14-1">The fool has said in his heart, &#8220;There is no God.&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>They are corrupt.<br/> <span class="indent">&nbsp;&nbsp;</span>They have done abominable works.<br/> <span class="indent">&nbsp;&nbsp;</span>There is none who does good.<br/></span>
  <span class="verse" title="Psalm 14:2" id="Psalm-14-2">Yahweh looked down from heaven on the children of men,<br/> <span class="indent">&nbsp;&nbsp;</span>to see if there were any who understood,<br/> <span class="indent">&nbsp;&nbsp;</span>who sought after God.<br/></span>
  <span class="verse" title="Psalm 14:3" id="Psalm-14-3">They have all gone aside.<br/> <span class="indent">&nbsp;&nbsp;</span>They have together become corrupt.<br/> <span class="indent">&nbsp;&nbsp;</span>There is none who does good, no, not one.<br/></span>
  <span class="verse" title="Psalm 14:4" id="Psalm-14-4">Have all the workers of iniquity no knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>who eat up my people as they eat bread,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t call on Yahweh?<br/></span>
  <span class="verse" title="Psalm 14:5" id="Psalm-14-5">There they were in great fear,<br/> <span class="indent">&nbsp;&nbsp;</span>for God is in the generation of the righteous.<br/></span>
  <span class="verse" title="Psalm 14:6" id="Psalm-14-6">You frustrate the plan of the poor,<br/> <span class="indent">&nbsp;&nbsp;</span>because Yahweh is his refuge.<br/></span>
  <span class="verse" title="Psalm 14:7" id="Psalm-14-7">Oh that the salvation of Israel would come out of Zion!<br/> <span class="indent">&nbsp;&nbsp;</span>When Yahweh restores the fortunes of his people,<br/> <span class="indent">&nbsp;&nbsp;</span>then Jacob shall rejoice, and Israel shall be glad.<br/></span>
</div>