<div class="chapter" id="Psalms-015">
  <h2>Psalm 15</h2>
  <span class="verse" title="Psalm 15:1" id="Psalm-15-1">Yahweh, who shall dwell in your sanctuary?<br/> <span class="indent">&nbsp;&nbsp;</span>Who shall live on your holy hill?<br/></span>
  <span class="verse" title="Psalm 15:2" id="Psalm-15-2">He who walks blamelessly does what is right,<br/> <span class="indent">&nbsp;&nbsp;</span>and speaks truth in his heart;<br/></span>
  <span class="verse" title="Psalm 15:3" id="Psalm-15-3">He who doesn&#8217;t slander with his tongue,<br/> <span class="indent">&nbsp;&nbsp;</span>nor does evil to his friend,<br/> <span class="indent">&nbsp;&nbsp;</span>nor casts slurs against his fellow man;<br/></span>
  <span class="verse" title="Psalm 15:4" id="Psalm-15-4">In whose eyes a vile man is despised,<br/> <span class="indent">&nbsp;&nbsp;</span>but who honors those who fear Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span>he who keeps an oath even when it hurts, and doesn&#8217;t change;<br/></span>
  <span class="verse" title="Psalm 15:5" id="Psalm-15-5">he who doesn&#8217;t lend out his money for usury,<br/> <span class="indent">&nbsp;&nbsp;</span>nor take a bribe against the innocent.<br/>   <br/>   He who does these things shall never be shaken.<br/></span>
</div>