<div class="chapter" id="Psalms-016">
  <h2>Psalm 16</h2>
  <span class="verse" title="Psalm 16:1" id="Psalm-16-1">Preserve me, God, for in you do I take refuge.<br/></span>
  <span class="verse" title="Psalm 16:2" id="Psalm-16-2">My soul, you have said to Yahweh, &#8220;You are my Lord.<br/> <span class="indent">&nbsp;&nbsp;</span>Apart from you I have no good thing.&#8221;<br/></span>
  <span class="verse" title="Psalm 16:3" id="Psalm-16-3">As for the saints who are in the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>they are the excellent ones in whom is all my delight.<br/>   <br/></span>
  <span class="verse" title="Psalm 16:4" id="Psalm-16-4">Their sorrows shall be multiplied who give gifts to another god.<br/> <span class="indent">&nbsp;&nbsp;</span>Their drink offerings of blood I will not offer,<br/> <span class="indent">&nbsp;&nbsp;</span>nor take their names on my lips.<br/></span>
  <span class="verse" title="Psalm 16:5" id="Psalm-16-5">Yahweh assigned my portion and my cup.<br/> <span class="indent">&nbsp;&nbsp;</span>You made my lot secure.<br/>   <br/></span>
  <span class="verse" title="Psalm 16:6" id="Psalm-16-6">The lines have fallen to me in pleasant places.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, I have a good inheritance.<br/></span>
  <span class="verse" title="Psalm 16:7" id="Psalm-16-7">I will bless Yahweh, who has given me counsel.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, my heart instructs me in the night seasons.<br/></span>
  <span class="verse" title="Psalm 16:8" id="Psalm-16-8">I have set Yahweh always before me.<br/> <span class="indent">&nbsp;&nbsp;</span>Because he is at my right hand, I shall not be moved.<br/></span>
  <span class="verse" title="Psalm 16:9" id="Psalm-16-9">Therefore my heart is glad, and my tongue rejoices.<br/> <span class="indent">&nbsp;&nbsp;</span>My body shall also dwell in safety.<br/></span>
  <span class="verse" title="Psalm 16:10" id="Psalm-16-10">For you will not leave my soul in Sheol,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will you allow your holy one to see corruption.<br/></span>
  <span class="verse" title="Psalm 16:11" id="Psalm-16-11">You will show me the path of life.<br/> <span class="indent">&nbsp;&nbsp;</span>In your presence is fullness of joy.<br/>   In your right hand there are pleasures forevermore.<br/></span>
</div>