<div class="chapter" id="Psalms-017">
  <h2>Psalm 17</h2>
  <span class="verse" title="Psalm 17:1" id="Psalm-17-1">Hear, Yahweh, my righteous plea;<br/> <span class="indent">&nbsp;&nbsp;</span>Give ear to my prayer, that doesn&#8217;t go out of deceitful lips.<br/></span>
  <span class="verse" title="Psalm 17:2" id="Psalm-17-2">Let my sentence come forth from your presence.<br/> <span class="indent">&nbsp;&nbsp;</span>Let your eyes look on equity.<br/></span>
  <span class="verse" title="Psalm 17:3" id="Psalm-17-3">You have proved my heart.<br/> <span class="indent">&nbsp;&nbsp;</span>You have visited me in the night.<br/> <span class="indent">&nbsp;&nbsp;</span>You have tried me, and found nothing.<br/> <span class="indent">&nbsp;&nbsp;</span>I have resolved that my mouth shall not disobey.<br/></span>
  <span class="verse" title="Psalm 17:4" id="Psalm-17-4">As for the works of men, by the word of your lips,<br/> <span class="indent">&nbsp;&nbsp;</span>I have kept myself from the ways of the violent.<br/></span>
  <span class="verse" title="Psalm 17:5" id="Psalm-17-5">My steps have held fast to your paths.<br/> <span class="indent">&nbsp;&nbsp;</span>My feet have not slipped.<br/></span>
  <span class="verse" title="Psalm 17:6" id="Psalm-17-6">I have called on you, for you will answer me, God.<br/> <span class="indent">&nbsp;&nbsp;</span>Turn your ear to me.<br/> <span class="indent">&nbsp;&nbsp;</span>Hear my speech.<br/></span>
  <span class="verse" title="Psalm 17:7" id="Psalm-17-7">Show your marvelous loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>you who save those who take refuge by your right hand from their enemies.<br/></span>
  <span class="verse" title="Psalm 17:8" id="Psalm-17-8">Keep me as the apple of your eye.<br/> <span class="indent">&nbsp;&nbsp;</span>Hide me under the shadow of your wings,<br/></span>
  <span class="verse" title="Psalm 17:9" id="Psalm-17-9">from the wicked who oppress me,<br/> <span class="indent">&nbsp;&nbsp;</span>my deadly enemies, who surround me.<br/></span>
  <span class="verse" title="Psalm 17:10" id="Psalm-17-10">They close up their callous hearts.<br/> <span class="indent">&nbsp;&nbsp;</span>With their mouth they speak proudly.<br/></span>
  <span class="verse" title="Psalm 17:11" id="Psalm-17-11">They have now surrounded us in our steps.<br/> <span class="indent">&nbsp;&nbsp;</span>They set their eyes to cast us down to the earth.<br/></span>
  <span class="verse" title="Psalm 17:12" id="Psalm-17-12">He is like a lion that is greedy of his prey,<br/> <span class="indent">&nbsp;&nbsp;</span>as it were a young lion lurking in secret places.<br/></span>
  <span class="verse" title="Psalm 17:13" id="Psalm-17-13">Arise, Yahweh, confront him.<br/> <span class="indent">&nbsp;&nbsp;</span>Cast him down.<br/> <span class="indent">&nbsp;&nbsp;</span>Deliver my soul from the wicked by your sword;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 17:14" id="Psalm-17-14">from men by your hand, Yahweh,<br/>   from men of the world, whose portion is in this life.<br/>   You fill the belly of your cherished ones.<br/> <span class="indent">&nbsp;&nbsp;</span>Your sons have plenty,<br/> <span class="indent">&nbsp;&nbsp;</span>and they store up wealth for their children.<br/></span>
  <span class="verse" title="Psalm 17:15" id="Psalm-17-15">As for me, I shall see your face in righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>I shall be satisfied, when I awake, with seeing your form.<br/></span>
</div>