<div class="chapter" id="Psalms-019">
  <h2>Psalm 19</h2>
  <span class="verse" title="Psalm 19:1" id="Psalm-19-1">The heavens declare the glory of God.<br/> <span class="indent">&nbsp;&nbsp;</span>The expanse shows his handiwork.<br/></span>
  <span class="verse" title="Psalm 19:2" id="Psalm-19-2">Day after day they pour forth speech,<br/> <span class="indent">&nbsp;&nbsp;</span>and night after night they display knowledge.<br/></span>
  <span class="verse" title="Psalm 19:3" id="Psalm-19-3">There is no speech nor language,<br/> <span class="indent">&nbsp;&nbsp;</span>where their voice is not heard.<br/></span>
  <span class="verse" title="Psalm 19:4" id="Psalm-19-4">Their voice has gone out through all the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>their words to the end of the world.<br/>   In them he has set a tent for the sun,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 19:5" id="Psalm-19-5">which is as a bridegroom coming out of his room,<br/> <span class="indent">&nbsp;&nbsp;</span>like a strong man rejoicing to run his course.<br/></span>
  <span class="verse" title="Psalm 19:6" id="Psalm-19-6">His going forth is from the end of the heavens,<br/> <span class="indent">&nbsp;&nbsp;</span>his circuit to its ends;<br/> <span class="indent">&nbsp;&nbsp;</span>There is nothing hidden from its heat.<br/></span>
  <span class="verse" title="Psalm 19:7" id="Psalm-19-7">Yahweh&#8217;s law is perfect, restoring the soul.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh&#8217;s testimony is sure, making wise the simple.<br/></span>
  <span class="verse" title="Psalm 19:8" id="Psalm-19-8">Yahweh&#8217;s precepts are right, rejoicing the heart.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh&#8217;s commandment is pure, enlightening the eyes.<br/></span>
  <span class="verse" title="Psalm 19:9" id="Psalm-19-9">The fear of Yahweh is clean, enduring forever.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh&#8217;s ordinances are true, and righteous altogether.<br/></span>
  <span class="verse" title="Psalm 19:10" id="Psalm-19-10">More to be desired are they than gold, yes, than much fine gold;<br/> <span class="indent">&nbsp;&nbsp;</span>sweeter also than honey and the extract of the honeycomb.<br/></span>
  <span class="verse" title="Psalm 19:11" id="Psalm-19-11">Moreover by them is your servant warned.<br/> <span class="indent">&nbsp;&nbsp;</span>In keeping them there is great reward.<br/></span>
  <span class="verse" title="Psalm 19:12" id="Psalm-19-12">Who can discern his errors?<br/> <span class="indent">&nbsp;&nbsp;</span>Forgive me from hidden errors.<br/>   <br/></span>
  <span class="verse" title="Psalm 19:13" id="Psalm-19-13">Keep back your servant also from presumptuous sins.<br/> <span class="indent">&nbsp;&nbsp;</span>Let them not have dominion over me.<br/>   Then I will be upright.<br/> <span class="indent">&nbsp;&nbsp;</span>I will be blameless and innocent of great transgression.<br/></span>
  <span class="verse" title="Psalm 19:14" id="Psalm-19-14">Let the words of my mouth and the meditation of my heart<br/> <span class="indent">&nbsp;&nbsp;</span>be acceptable in your sight,<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, my rock, and my redeemer.<br/></span>
</div>