<div class="chapter" id="Psalms-020">
  <h2>Psalm 20</h2>
  <span class="verse" title="Psalm 20:1" id="Psalm-20-1">May Yahweh answer you in the day of trouble.<br/> <span class="indent">&nbsp;&nbsp;</span>May the name of the God of Jacob set you up on high,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 20:2" id="Psalm-20-2">send you help from the sanctuary,<br/> <span class="indent">&nbsp;&nbsp;</span>grant you support from Zion,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 20:3" id="Psalm-20-3">remember all your offerings,<br/> <span class="indent">&nbsp;&nbsp;</span>and accept your burnt sacrifice.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 20:4" id="Psalm-20-4">May He grant you your heart&#8217;s desire,<br/> <span class="indent">&nbsp;&nbsp;</span>and fulfill all your counsel.<br/></span>
  <span class="verse" title="Psalm 20:5" id="Psalm-20-5">We will triumph in your salvation.<br/> <span class="indent">&nbsp;&nbsp;</span>In the name of our God, we will set up our banners.<br/> <span class="indent">&nbsp;&nbsp;</span>May Yahweh grant all your requests.<br/></span>
  <span class="verse" title="Psalm 20:6" id="Psalm-20-6">Now I know that Yahweh saves his anointed.<br/> <span class="indent">&nbsp;&nbsp;</span>He will answer him from his holy heaven,<br/> <span class="indent">&nbsp;&nbsp;</span>with the saving strength of his right hand.<br/></span>
  <span class="verse" title="Psalm 20:7" id="Psalm-20-7">Some trust in chariots, and some in horses,<br/> <span class="indent">&nbsp;&nbsp;</span>but we trust the name of Yahweh our God.<br/></span>
  <span class="verse" title="Psalm 20:8" id="Psalm-20-8">They are bowed down and fallen,<br/> <span class="indent">&nbsp;&nbsp;</span>but we rise up, and stand upright.<br/></span>
  <span class="verse" title="Psalm 20:9" id="Psalm-20-9">Save, Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>Let the King answer us when we call!<br/></span>
</div>