<div class="chapter" id="Psalms-021">
  <h2>Psalm 21</h2>
  <span class="verse" title="Psalm 21:1" id="Psalm-21-1">The king rejoices in your strength, Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>How greatly he rejoices in your salvation!<br/></span>
  <span class="verse" title="Psalm 21:2" id="Psalm-21-2">You have given him his heart&#8217;s desire,<br/> <span class="indent">&nbsp;&nbsp;</span>and have not withheld the request of his lips.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 21:3" id="Psalm-21-3">For you meet him with the blessings of goodness.<br/> <span class="indent">&nbsp;&nbsp;</span>You set a crown of fine gold on his head.<br/></span>
  <span class="verse" title="Psalm 21:4" id="Psalm-21-4">He asked life of you, you gave it to him,<br/> <span class="indent">&nbsp;&nbsp;</span>even length of days forever and ever.<br/></span>
  <span class="verse" title="Psalm 21:5" id="Psalm-21-5">His glory is great in your salvation.<br/> <span class="indent">&nbsp;&nbsp;</span>You lay honor and majesty on him.<br/></span>
  <span class="verse" title="Psalm 21:6" id="Psalm-21-6">For you make him most blessed forever.<br/> <span class="indent">&nbsp;&nbsp;</span>You make him glad with joy in your presence.<br/></span>
  <span class="verse" title="Psalm 21:7" id="Psalm-21-7">For the king trusts in Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Through the loving kindness of the Most High, he shall not be moved.<br/></span>
  <span class="verse" title="Psalm 21:8" id="Psalm-21-8">Your hand will find out all of your enemies.<br/> <span class="indent">&nbsp;&nbsp;</span>Your right hand will find out those who hate you.<br/></span>
  <span class="verse" title="Psalm 21:9" id="Psalm-21-9">You will make them as a fiery furnace in the time of your anger.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh will swallow them up in his wrath.<br/> <span class="indent">&nbsp;&nbsp;</span>The fire shall devour them.<br/></span>
  <span class="verse" title="Psalm 21:10" id="Psalm-21-10">You will destroy their descendants from the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>their posterity from among the children of men.<br/></span>
  <span class="verse" title="Psalm 21:11" id="Psalm-21-11">For they intended evil against you.<br/> <span class="indent">&nbsp;&nbsp;</span>They plotted evil against you which cannot succeed.<br/></span>
  <span class="verse" title="Psalm 21:12" id="Psalm-21-12">For you will make them turn their back,<br/> <span class="indent">&nbsp;&nbsp;</span>when you aim drawn bows at their face.<br/></span>
  <span class="verse" title="Psalm 21:13" id="Psalm-21-13">Be exalted, Yahweh, in your strength,<br/> <span class="indent">&nbsp;&nbsp;</span>so we will sing and praise your power.<br/></span>
</div>