<div class="chapter" id="Psalms-023">
  <h2>Psalm 23</h2>
  <span class="verse" title="Psalm 23:1" id="Psalm-23-1">Yahweh is my shepherd:<br/> <span class="indent">&nbsp;&nbsp;</span>I shall lack nothing.<br/></span>
  <span class="verse" title="Psalm 23:2" id="Psalm-23-2">He makes me lie down in green pastures.<br/> <span class="indent">&nbsp;&nbsp;</span>He leads me beside still waters.<br/></span>
  <span class="verse" title="Psalm 23:3" id="Psalm-23-3">He restores my soul.<br/> <span class="indent">&nbsp;&nbsp;</span>He guides me in the paths of righteousness for his name&#8217;s sake.<br/></span>
  <span class="verse" title="Psalm 23:4" id="Psalm-23-4">Even though I walk through the valley of the shadow of death,<br/> <span class="indent">&nbsp;&nbsp;</span>I will fear no evil, for you are with me.<br/> <span class="indent">&nbsp;&nbsp;</span>Your rod and your staff, they comfort me.<br/></span>
  <span class="verse" title="Psalm 23:5" id="Psalm-23-5">You prepare a table before me in the presence of my enemies.<br/>   You anoint my head with oil.<br/> <span class="indent">&nbsp;&nbsp;</span>My cup runs over.<br/></span>
  <span class="verse" title="Psalm 23:6" id="Psalm-23-6">Surely goodness and loving kindness shall follow me all the days of my life,<br/> <span class="indent">&nbsp;&nbsp;</span>and I will dwell in Yahweh&#8217;s house forever.<br/></span>
</div>