<div class="chapter" id="Psalms-024">
  <h2>Psalm 24</h2>
  <span class="verse" title="Psalm 24:1" id="Psalm-24-1">The earth is Yahweh&#8217;s, with its fullness;<br/> <span class="indent">&nbsp;&nbsp;</span>the world, and those who dwell therein.<br/></span>
  <span class="verse" title="Psalm 24:2" id="Psalm-24-2">For he has founded it on the seas,<br/> <span class="indent">&nbsp;&nbsp;</span>and established it on the floods.<br/>   <br/></span>
  <span class="verse" title="Psalm 24:3" id="Psalm-24-3">Who may ascend to Yahweh&#8217;s hill?<br/> <span class="indent">&nbsp;&nbsp;</span>Who may stand in his holy place?<br/></span>
  <span class="verse" title="Psalm 24:4" id="Psalm-24-4">He who has clean hands and a pure heart;<br/> <span class="indent">&nbsp;&nbsp;</span>who has not lifted up his soul to falsehood,<br/> <span class="indent">&nbsp;&nbsp;</span>and has not sworn deceitfully.<br/></span>
  <span class="verse" title="Psalm 24:5" id="Psalm-24-5">He shall receive a blessing from Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>righteousness from the God of his salvation.<br/></span>
  <span class="verse" title="Psalm 24:6" id="Psalm-24-6">This is the generation of those who seek Him,<br/> <span class="indent">&nbsp;&nbsp;</span>who seek your face—even Jacob.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 24:7" id="Psalm-24-7">Lift up your heads, you gates!<br/> <span class="indent">&nbsp;&nbsp;</span>Be lifted up, you everlasting doors,<br/> <span class="indent">&nbsp;&nbsp;</span>and the King of glory will come in.<br/></span>
  <span class="verse" title="Psalm 24:8" id="Psalm-24-8">Who is the King of glory?<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh strong and mighty,<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh mighty in battle.<br/></span>
  <span class="verse" title="Psalm 24:9" id="Psalm-24-9">Lift up your heads, you gates;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, lift them up, you everlasting doors,<br/> <span class="indent">&nbsp;&nbsp;</span>and the King of glory will come in.<br/></span>
  <span class="verse" title="Psalm 24:10" id="Psalm-24-10">Who is this King of glory?<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh of Armies is the King of glory!<br/>   <br/>   Selah.<br/>   <br/></span>
</div>