<div class="chapter" id="Psalms-025">
  <h2>Psalm 25</h2>
  <span class="verse" title="Psalm 25:1" id="Psalm-25-1">To you, Yahweh, do I lift up my soul.<br/></span>
  <span class="verse" title="Psalm 25:2" id="Psalm-25-2">My God, I have trusted in you.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let me be shamed.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let my enemies triumph over me.<br/></span>
  <span class="verse" title="Psalm 25:3" id="Psalm-25-3">Yes, no one who waits for you shall be shamed.<br/> <span class="indent">&nbsp;&nbsp;</span>They shall be shamed who deal treacherously without cause.<br/>   <br/></span>
  <span class="verse" title="Psalm 25:4" id="Psalm-25-4">Show me your ways, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Teach me your paths.<br/></span>
  <span class="verse" title="Psalm 25:5" id="Psalm-25-5">Guide me in your truth, and teach me,<br/> <span class="indent">&nbsp;&nbsp;</span>For you are the God of my salvation,<br/> <span class="indent">&nbsp;&nbsp;</span>I wait for you all day long.<br/></span>
  <span class="verse" title="Psalm 25:6" id="Psalm-25-6">Yahweh, remember your tender mercies and your loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>for they are from old times.<br/></span>
  <span class="verse" title="Psalm 25:7" id="Psalm-25-7">Don&#8217;t remember the sins of my youth, nor my transgressions.<br/> <span class="indent">&nbsp;&nbsp;</span>Remember me according to your loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>for your goodness&#8217; sake, Yahweh.<br/></span>
  <span class="verse" title="Psalm 25:8" id="Psalm-25-8">Good and upright is Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>therefore he will instruct sinners in the way.<br/></span>
  <span class="verse" title="Psalm 25:9" id="Psalm-25-9">He will guide the humble in justice.<br/> <span class="indent">&nbsp;&nbsp;</span>He will teach the humble his way.<br/></span>
  <span class="verse" title="Psalm 25:10" id="Psalm-25-10">All the paths of Yahweh are loving kindness and truth<br/> <span class="indent">&nbsp;&nbsp;</span>to such as keep his covenant and his testimonies.<br/></span>
  <span class="verse" title="Psalm 25:11" id="Psalm-25-11">For your name&#8217;s sake, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>pardon my iniquity, for it is great.<br/></span>
  <span class="verse" title="Psalm 25:12" id="Psalm-25-12">What man is he who fears Yahweh?<br/> <span class="indent">&nbsp;&nbsp;</span>He shall instruct him in the way that he shall choose.<br/></span>
  <span class="verse" title="Psalm 25:13" id="Psalm-25-13">His soul shall dwell at ease.<br/> <span class="indent">&nbsp;&nbsp;</span>His seed shall inherit the land.<br/></span>
  <span class="verse" title="Psalm 25:14" id="Psalm-25-14">The friendship of Yahweh is with those who fear him.<br/> <span class="indent">&nbsp;&nbsp;</span>He will show them his covenant.<br/>   <br/></span>
  <span class="verse" title="Psalm 25:15" id="Psalm-25-15">My eyes are ever on Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>for he will pluck my feet out of the net.<br/></span>
  <span class="verse" title="Psalm 25:16" id="Psalm-25-16">Turn to me, and have mercy on me,<br/> <span class="indent">&nbsp;&nbsp;</span>for I am desolate and afflicted.<br/></span>
  <span class="verse" title="Psalm 25:17" id="Psalm-25-17">The troubles of my heart are enlarged.<br/> <span class="indent">&nbsp;&nbsp;</span>Oh bring me out of my distresses.<br/></span>
  <span class="verse" title="Psalm 25:18" id="Psalm-25-18">Consider my affliction and my travail.<br/> <span class="indent">&nbsp;&nbsp;</span>Forgive all my sins.<br/></span>
  <span class="verse" title="Psalm 25:19" id="Psalm-25-19">Consider my enemies, for they are many.<br/> <span class="indent">&nbsp;&nbsp;</span>They hate me with cruel hatred.<br/></span>
  <span class="verse" title="Psalm 25:20" id="Psalm-25-20">Oh keep my soul, and deliver me.<br/> <span class="indent">&nbsp;&nbsp;</span>Let me not be disappointed, for I take refuge in you.<br/></span>
  <span class="verse" title="Psalm 25:21" id="Psalm-25-21">Let integrity and uprightness preserve me,<br/> <span class="indent">&nbsp;&nbsp;</span>for I wait for you.<br/></span>
  <span class="verse" title="Psalm 25:22" id="Psalm-25-22">Redeem Israel, God,<br/> <span class="indent">&nbsp;&nbsp;</span>out all of his troubles.<br/></span>
</div>