<div class="chapter" id="Psalms-026">
  <h2>Psalm 26</h2>
  <span class="verse" title="Psalm 26:1" id="Psalm-26-1">Judge me, Yahweh, for I have walked in my integrity.<br/> <span class="indent">&nbsp;&nbsp;</span>I have trusted also in Yahweh without wavering.<br/></span>
  <span class="verse" title="Psalm 26:2" id="Psalm-26-2">Examine me, Yahweh, and prove me.<br/> <span class="indent">&nbsp;&nbsp;</span>Try my heart and my mind.<br/></span>
  <span class="verse" title="Psalm 26:3" id="Psalm-26-3">For your loving kindness is before my eyes.<br/> <span class="indent">&nbsp;&nbsp;</span>I have walked in your truth.<br/></span>
  <span class="verse" title="Psalm 26:4" id="Psalm-26-4">I have not sat with deceitful men,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will I go in with hypocrites.<br/></span>
  <span class="verse" title="Psalm 26:5" id="Psalm-26-5">I hate the assembly of evildoers,<br/> <span class="indent">&nbsp;&nbsp;</span>and will not sit with the wicked.<br/></span>
  <span class="verse" title="Psalm 26:6" id="Psalm-26-6">I will wash my hands in innocence,<br/> <span class="indent">&nbsp;&nbsp;</span>so I will go about your altar, Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 26:7" id="Psalm-26-7">that I may make the voice of thanksgiving to be heard,<br/> <span class="indent">&nbsp;&nbsp;</span>and tell of all your wondrous works.<br/></span>
  <span class="verse" title="Psalm 26:8" id="Psalm-26-8">Yahweh, I love the habitation of your house,<br/> <span class="indent">&nbsp;&nbsp;</span>the place where your glory dwells.<br/></span>
  <span class="verse" title="Psalm 26:9" id="Psalm-26-9">Don&#8217;t gather my soul with sinners,<br/> <span class="indent">&nbsp;&nbsp;</span>nor my life with bloodthirsty men;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 26:10" id="Psalm-26-10">in whose hands is wickedness,<br/> <span class="indent">&nbsp;&nbsp;</span>their right hand is full of bribes.<br/>   <br/></span>
  <span class="verse" title="Psalm 26:11" id="Psalm-26-11">But as for me, I will walk in my integrity.<br/> <span class="indent">&nbsp;&nbsp;</span>Redeem me, and be merciful to me.<br/></span>
  <span class="verse" title="Psalm 26:12" id="Psalm-26-12">My foot stands in an even place.<br/> <span class="indent">&nbsp;&nbsp;</span>In the congregations I will bless Yahweh.<br/></span>
</div>