<div class="chapter" id="Psalms-029">
  <h2>Psalm 29</h2>
  <span class="verse" title="Psalm 29:1" id="Psalm-29-1">Ascribe to Yahweh, you sons of the mighty,<br/> <span class="indent">&nbsp;&nbsp;</span>ascribe to Yahweh glory and strength.<br/></span>
  <span class="verse" title="Psalm 29:2" id="Psalm-29-2">Ascribe to Yahweh the glory due to his name.<br/> <span class="indent">&nbsp;&nbsp;</span>Worship Yahweh in holy array.<br/>   <br/></span>
  <span class="verse" title="Psalm 29:3" id="Psalm-29-3">Yahweh&#8217;s voice is on the waters.<br/> <span class="indent">&nbsp;&nbsp;</span>The God of glory thunders, even Yahweh on many waters.<br/></span>
  <span class="verse" title="Psalm 29:4" id="Psalm-29-4">Yahweh&#8217;s voice is powerful.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh&#8217;s voice is full of majesty.<br/></span>
  <span class="verse" title="Psalm 29:5" id="Psalm-29-5">The voice of Yahweh breaks the cedars.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, Yahweh breaks in pieces the cedars of Lebanon.<br/></span>
  <span class="verse" title="Psalm 29:6" id="Psalm-29-6">He makes them also to skip like a calf;<br/> <span class="indent">&nbsp;&nbsp;</span>Lebanon and Sirion like a young, wild ox.<br/></span>
  <span class="verse" title="Psalm 29:7" id="Psalm-29-7">Yahweh&#8217;s voice strikes with flashes of lightning.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 29:8" id="Psalm-29-8">Yahweh&#8217;s voice shakes the wilderness.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh shakes the wilderness of Kadesh.<br/></span>
  <span class="verse" title="Psalm 29:9" id="Psalm-29-9">Yahweh&#8217;s voice makes the deer calve,<br/> <span class="indent">&nbsp;&nbsp;</span>and strips the forests bare.<br/> <span class="indent">&nbsp;&nbsp;</span>In his temple everything says, &#8220;Glory!&#8221;<br/>   <br/></span>
  <span class="verse" title="Psalm 29:10" id="Psalm-29-10">Yahweh sat enthroned at the Flood.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, Yahweh sits as King forever.<br/></span>
  <span class="verse" title="Psalm 29:11" id="Psalm-29-11">Yahweh will give strength to his people.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh will bless his people with peace.<br/></span>
</div>