<div class="chapter" id="Psalms-030">
  <h2>Psalm 30</h2>
  <span class="verse" title="Psalm 30:1" id="Psalm-30-1">I will extol you, Yahweh, for you have raised me up,<br/> <span class="indent">&nbsp;&nbsp;</span>and have not made my foes to rejoice over me.<br/></span>
  <span class="verse" title="Psalm 30:2" id="Psalm-30-2">Yahweh my God, I cried to you,<br/>   and you have healed me.<br/></span>
  <span class="verse" title="Psalm 30:3" id="Psalm-30-3">Yahweh, you have brought up my soul from Sheol.<br/> <span class="indent">&nbsp;&nbsp;</span>You have kept me alive, that I should not go down to the pit.<br/></span>
  <span class="verse" title="Psalm 30:4" id="Psalm-30-4">Sing praise to Yahweh, you saints of his.<br/> <span class="indent">&nbsp;&nbsp;</span>Give thanks to his holy name.<br/></span>
  <span class="verse" title="Psalm 30:5" id="Psalm-30-5">For his anger is but for a moment.<br/> <span class="indent">&nbsp;&nbsp;</span>His favor is for a lifetime.<br/>   Weeping may stay for the night,<br/> <span class="indent">&nbsp;&nbsp;</span>but joy comes in the morning.<br/></span>
  <span class="verse" title="Psalm 30:6" id="Psalm-30-6">As for me, I said in my prosperity,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;I shall never be moved.&#8221;<br/></span>
  <span class="verse" title="Psalm 30:7" id="Psalm-30-7">You, Yahweh, when you favored me, made my mountain stand strong;<br/> <span class="indent">&nbsp;&nbsp;</span>but when you hid your face, I was troubled.<br/></span>
  <span class="verse" title="Psalm 30:8" id="Psalm-30-8">I cried to you, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>To Yahweh I made supplication:<br/></span>
  <span class="verse" title="Psalm 30:9" id="Psalm-30-9">&#8220;What profit is there in my destruction, if I go down to the pit?<br/> <span class="indent">&nbsp;&nbsp;</span>Shall the dust praise you?<br/> <span class="indent">&nbsp;&nbsp;</span>Shall it declare your truth?<br/></span>
  <span class="verse" title="Psalm 30:10" id="Psalm-30-10">Hear, Yahweh, and have mercy on me.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, be my helper.&#8221;<br/></span>
  <span class="verse" title="Psalm 30:11" id="Psalm-30-11">You have turned my mourning into dancing for me.<br/> <span class="indent">&nbsp;&nbsp;</span>You have removed my sackcloth, and clothed me with gladness,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 30:12" id="Psalm-30-12">To the end that my heart may sing praise to you, and not be silent.<br/>   Yahweh my God, I will give thanks to you forever!<br/></span>
</div>