<div class="chapter" id="Psalms-032">
  <h2>Psalm 32</h2>
  <span class="verse" title="Psalm 32:1" id="Psalm-32-1">Blessed is he whose disobedience is forgiven,<br/> <span class="indent">&nbsp;&nbsp;</span>whose sin is covered.<br/></span>
  <span class="verse" title="Psalm 32:2" id="Psalm-32-2">Blessed is the man to whom Yahweh doesn&#8217;t impute iniquity,<br/> <span class="indent">&nbsp;&nbsp;</span>in whose spirit there is no deceit.<br/></span>
  <span class="verse" title="Psalm 32:3" id="Psalm-32-3">When I kept silence, my bones wasted away through my groaning all day long.<br/></span>
  <span class="verse" title="Psalm 32:4" id="Psalm-32-4">For day and night your hand was heavy on me.<br/> <span class="indent">&nbsp;&nbsp;</span>My strength was sapped in the heat of summer.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 32:5" id="Psalm-32-5">I acknowledged my sin to you.<br/> <span class="indent">&nbsp;&nbsp;</span>I didn&#8217;t hide my iniquity.<br/>   I said, I will confess my transgressions to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>and you forgave the iniquity of my sin.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 32:6" id="Psalm-32-6">For this, let everyone who is godly pray to you in a time when you may be found.<br/> <span class="indent">&nbsp;&nbsp;</span>Surely when the great waters overflow, they shall not reach to him.<br/></span>
  <span class="verse" title="Psalm 32:7" id="Psalm-32-7">You are my hiding place.<br/> <span class="indent">&nbsp;&nbsp;</span>You will preserve me from trouble.<br/> <span class="indent">&nbsp;&nbsp;</span>You will surround me with songs of deliverance.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 32:8" id="Psalm-32-8">I will instruct you and teach you in the way which you shall go.<br/> <span class="indent">&nbsp;&nbsp;</span>I will counsel you with my eye on you.<br/></span>
  <span class="verse" title="Psalm 32:9" id="Psalm-32-9">Don&#8217;t be like the horse, or like the mule, which have no understanding,<br/> <span class="indent">&nbsp;&nbsp;</span>who are controlled by bit and bridle, or else they will not come near to you.<br/></span>
  <span class="verse" title="Psalm 32:10" id="Psalm-32-10">Many sorrows come to the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>but loving kindness shall surround him who trusts in Yahweh.<br/></span>
  <span class="verse" title="Psalm 32:11" id="Psalm-32-11">Be glad in Yahweh, and rejoice, you righteous!<br/> <span class="indent">&nbsp;&nbsp;</span>Shout for joy, all you who are upright in heart!<br/></span>
</div>