<div class="chapter" id="Psalms-033">
  <h2>Psalm 33</h2>
  <span class="verse" title="Psalm 33:1" id="Psalm-33-1">Rejoice in Yahweh, you righteous!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise is fitting for the upright.<br/></span>
  <span class="verse" title="Psalm 33:2" id="Psalm-33-2">Give thanks to Yahweh with the lyre.<br/> <span class="indent">&nbsp;&nbsp;</span>Sing praises to him with the harp of ten strings.<br/></span>
  <span class="verse" title="Psalm 33:3" id="Psalm-33-3">Sing to him a new song.<br/> <span class="indent">&nbsp;&nbsp;</span>Play skillfully with a shout of joy!<br/></span>
  <span class="verse" title="Psalm 33:4" id="Psalm-33-4">For the word of Yahweh is right.<br/> <span class="indent">&nbsp;&nbsp;</span>All his work is done in faithfulness.<br/></span>
  <span class="verse" title="Psalm 33:5" id="Psalm-33-5">He loves righteousness and justice.<br/> <span class="indent">&nbsp;&nbsp;</span>The earth is full of the loving kindness of Yahweh.<br/></span>
  <span class="verse" title="Psalm 33:6" id="Psalm-33-6">By Yahweh&#8217;s word, the heavens were made;<br/> <span class="indent">&nbsp;&nbsp;</span>all their army by the breath of his mouth.<br/></span>
  <span class="verse" title="Psalm 33:7" id="Psalm-33-7">He gathers the waters of the sea together as a heap.<br/> <span class="indent">&nbsp;&nbsp;</span>He lays up the deeps in storehouses.<br/></span>
  <span class="verse" title="Psalm 33:8" id="Psalm-33-8">Let all the earth fear Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Let all the inhabitants of the world stand in awe of him.<br/></span>
  <span class="verse" title="Psalm 33:9" id="Psalm-33-9">For he spoke, and it was done.<br/> <span class="indent">&nbsp;&nbsp;</span>He commanded, and it stood firm.<br/></span>
  <span class="verse" title="Psalm 33:10" id="Psalm-33-10">Yahweh brings the counsel of the nations to nothing.<br/> <span class="indent">&nbsp;&nbsp;</span>He makes the thoughts of the peoples to be of no effect.<br/></span>
  <span class="verse" title="Psalm 33:11" id="Psalm-33-11">The counsel of Yahweh stands fast forever,<br/> <span class="indent">&nbsp;&nbsp;</span>the thoughts of his heart to all generations.<br/></span>
  <span class="verse" title="Psalm 33:12" id="Psalm-33-12">Blessed is the nation whose God is Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>the people whom he has chosen for his own inheritance.<br/></span>
  <span class="verse" title="Psalm 33:13" id="Psalm-33-13">Yahweh looks from heaven.<br/> <span class="indent">&nbsp;&nbsp;</span>He sees all the sons of men.<br/></span>
  <span class="verse" title="Psalm 33:14" id="Psalm-33-14">From the place of his habitation he looks out on all the inhabitants of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 33:15" id="Psalm-33-15">he who fashions all of their hearts;<br/> <span class="indent">&nbsp;&nbsp;</span>and he considers all of their works.<br/></span>
  <span class="verse" title="Psalm 33:16" id="Psalm-33-16">There is no king saved by the multitude of an army.<br/> <span class="indent">&nbsp;&nbsp;</span>A mighty man is not delivered by great strength.<br/></span>
  <span class="verse" title="Psalm 33:17" id="Psalm-33-17">A horse is a vain thing for safety,<br/> <span class="indent">&nbsp;&nbsp;</span>neither does he deliver any by his great power.<br/></span>
  <span class="verse" title="Psalm 33:18" id="Psalm-33-18">Behold, Yahweh&#8217;s eye is on those who fear him,<br/> <span class="indent">&nbsp;&nbsp;</span>on those who hope in his loving kindness;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 33:19" id="Psalm-33-19">to deliver their soul from death,<br/> <span class="indent">&nbsp;&nbsp;</span>to keep them alive in famine.<br/></span>
  <span class="verse" title="Psalm 33:20" id="Psalm-33-20">Our soul has waited for Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>He is our help and our shield.<br/></span>
  <span class="verse" title="Psalm 33:21" id="Psalm-33-21">For our heart rejoices in him,<br/> <span class="indent">&nbsp;&nbsp;</span>because we have trusted in his holy name.<br/></span>
  <span class="verse" title="Psalm 33:22" id="Psalm-33-22">Let your loving kindness be on us, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>since we have hoped in you.<br/></span>
</div>