<div class="chapter" id="Psalms-034">
  <h2>Psalm 34</h2>
  <span class="verse" title="Psalm 34:1" id="Psalm-34-1">I will bless Yahweh at all times.<br/> <span class="indent">&nbsp;&nbsp;</span>His praise will always be in my mouth.<br/></span>
  <span class="verse" title="Psalm 34:2" id="Psalm-34-2">My soul shall boast in Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>The humble shall hear of it, and be glad.<br/></span>
  <span class="verse" title="Psalm 34:3" id="Psalm-34-3">Oh magnify Yahweh with me.<br/> <span class="indent">&nbsp;&nbsp;</span>Let us exalt his name together.<br/></span>
  <span class="verse" title="Psalm 34:4" id="Psalm-34-4">I sought Yahweh, and he answered me,<br/> <span class="indent">&nbsp;&nbsp;</span>and delivered me from all my fears.<br/></span>
  <span class="verse" title="Psalm 34:5" id="Psalm-34-5">They looked to him, and were radiant.<br/> <span class="indent">&nbsp;&nbsp;</span>Their faces shall never be covered with shame.<br/></span>
  <span class="verse" title="Psalm 34:6" id="Psalm-34-6">This poor man cried, and Yahweh heard him,<br/> <span class="indent">&nbsp;&nbsp;</span>and saved him out of all his troubles.<br/></span>
  <span class="verse" title="Psalm 34:7" id="Psalm-34-7">The angel of Yahweh encamps around those who fear him,<br/> <span class="indent">&nbsp;&nbsp;</span>and delivers them.<br/></span>
  <span class="verse" title="Psalm 34:8" id="Psalm-34-8">Oh taste and see that Yahweh is good.<br/> <span class="indent">&nbsp;&nbsp;</span>Blessed is the man who takes refuge in him.<br/></span>
  <span class="verse" title="Psalm 34:9" id="Psalm-34-9">Oh fear Yahweh, you his saints,<br/> <span class="indent">&nbsp;&nbsp;</span>for there is no lack with those who fear him.<br/></span>
  <span class="verse" title="Psalm 34:10" id="Psalm-34-10">The young lions do lack, and suffer hunger,<br/> <span class="indent">&nbsp;&nbsp;</span>but those who seek Yahweh shall not lack any good thing.<br/>   <br/></span>
  <span class="verse" title="Psalm 34:11" id="Psalm-34-11">Come, you children, listen to me.<br/> <span class="indent">&nbsp;&nbsp;</span>I will teach you the fear of Yahweh.<br/></span>
  <span class="verse" title="Psalm 34:12" id="Psalm-34-12">Who is someone who desires life,<br/> <span class="indent">&nbsp;&nbsp;</span>and loves many days, that he may see good?<br/></span>
  <span class="verse" title="Psalm 34:13" id="Psalm-34-13">Keep your tongue from evil,<br/> <span class="indent">&nbsp;&nbsp;</span>and your lips from speaking lies.<br/></span>
  <span class="verse" title="Psalm 34:14" id="Psalm-34-14">Depart from evil, and do good.<br/> <span class="indent">&nbsp;&nbsp;</span>seek peace, and pursue it.<br/></span>
  <span class="verse" title="Psalm 34:15" id="Psalm-34-15">Yahweh&#8217;s eyes are toward the righteous.<br/> <span class="indent">&nbsp;&nbsp;</span>His ears listen to their cry.<br/></span>
  <span class="verse" title="Psalm 34:16" id="Psalm-34-16">Yahweh&#8217;s face is against those who do evil,<br/> <span class="indent">&nbsp;&nbsp;</span>to cut off their memory from the earth.<br/></span>
  <span class="verse" title="Psalm 34:17" id="Psalm-34-17">The righteous cry, and Yahweh hears,<br/> <span class="indent">&nbsp;&nbsp;</span>and delivers them out of all their troubles.<br/></span>
  <span class="verse" title="Psalm 34:18" id="Psalm-34-18">Yahweh is near to those who have a broken heart,<br/> <span class="indent">&nbsp;&nbsp;</span>and saves those who have a crushed spirit.<br/></span>
  <span class="verse" title="Psalm 34:19" id="Psalm-34-19">Many are the afflictions of the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>but Yahweh delivers him out of them all.<br/></span>
  <span class="verse" title="Psalm 34:20" id="Psalm-34-20">He protects all of his bones.<br/> <span class="indent">&nbsp;&nbsp;</span>Not one of them is broken.<br/></span>
  <span class="verse" title="Psalm 34:21" id="Psalm-34-21">Evil shall kill the wicked.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who hate the righteous shall be condemned.<br/></span>
  <span class="verse" title="Psalm 34:22" id="Psalm-34-22">Yahweh redeems the soul of his servants.<br/> <span class="indent">&nbsp;&nbsp;</span>None of those who take refuge in him shall be condemned.<br/></span>
</div>