<div class="chapter" id="Psalms-036">
  <h2>Psalm 36</h2>
  <span class="verse" title="Psalm 36:1" id="Psalm-36-1">An oracle is within my heart about the disobedience of the wicked:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;There is no fear of God before his eyes.&#8221;<br/></span>
  <span class="verse" title="Psalm 36:2" id="Psalm-36-2">For he flatters himself in his own eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>too much to detect and hate his sin.<br/></span>
  <span class="verse" title="Psalm 36:3" id="Psalm-36-3">The words of his mouth are iniquity and deceit.<br/> <span class="indent">&nbsp;&nbsp;</span>He has ceased to be wise and to do good.<br/></span>
  <span class="verse" title="Psalm 36:4" id="Psalm-36-4">He plots iniquity on his bed.<br/> <span class="indent">&nbsp;&nbsp;</span>He sets himself in a way that is not good.<br/> <span class="indent">&nbsp;&nbsp;</span>He doesn&#8217;t abhor evil.<br/>   <br/></span>
  <span class="verse" title="Psalm 36:5" id="Psalm-36-5">Your loving kindness, Yahweh, is in the heavens.<br/> <span class="indent">&nbsp;&nbsp;</span>Your faithfulness reaches to the skies.<br/></span>
  <span class="verse" title="Psalm 36:6" id="Psalm-36-6">Your righteousness is like the mountains of God.<br/> <span class="indent">&nbsp;&nbsp;</span>Your judgments are like a great deep.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, you preserve man and animal.<br/></span>
  <span class="verse" title="Psalm 36:7" id="Psalm-36-7">How precious is your loving kindness, God!<br/> <span class="indent">&nbsp;&nbsp;</span>The children of men take refuge under the shadow of your wings.<br/></span>
  <span class="verse" title="Psalm 36:8" id="Psalm-36-8">They shall be abundantly satisfied with the abundance of your house.<br/> <span class="indent">&nbsp;&nbsp;</span>You will make them drink of the river of your pleasures.<br/></span>
  <span class="verse" title="Psalm 36:9" id="Psalm-36-9">For with you is the spring of life.<br/> <span class="indent">&nbsp;&nbsp;</span>In your light shall we see light.<br/></span>
  <span class="verse" title="Psalm 36:10" id="Psalm-36-10">Oh continue your loving kindness to those who know you,<br/> <span class="indent">&nbsp;&nbsp;</span>your righteousness to the upright in heart.<br/></span>
  <span class="verse" title="Psalm 36:11" id="Psalm-36-11">Don&#8217;t let the foot of pride come against me.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let the hand of the wicked drive me away.<br/></span>
  <span class="verse" title="Psalm 36:12" id="Psalm-36-12">There the workers of iniquity are fallen.<br/> <span class="indent">&nbsp;&nbsp;</span>They are thrust down, and shall not be able to rise.<br/></span>
</div>