<div class="chapter" id="Psalms-038">
  <h2>Psalm 38</h2>
  <span class="verse" title="Psalm 38:1" id="Psalm-38-1">Yahweh, don&#8217;t rebuke me in your wrath,<br/> <span class="indent">&nbsp;&nbsp;</span>neither chasten me in your hot displeasure.<br/></span>
  <span class="verse" title="Psalm 38:2" id="Psalm-38-2">For your arrows have pierced me,<br/> <span class="indent">&nbsp;&nbsp;</span>your hand presses hard on me.<br/></span>
  <span class="verse" title="Psalm 38:3" id="Psalm-38-3">There is no soundness in my flesh because of your indignation,<br/> <span class="indent">&nbsp;&nbsp;</span>neither is there any health in my bones because of my sin.<br/></span>
  <span class="verse" title="Psalm 38:4" id="Psalm-38-4">For my iniquities have gone over my head.<br/> <span class="indent">&nbsp;&nbsp;</span>As a heavy burden, they are too heavy for me.<br/></span>
  <span class="verse" title="Psalm 38:5" id="Psalm-38-5">My wounds are loathsome and corrupt,<br/> <span class="indent">&nbsp;&nbsp;</span>because of my foolishness.<br/></span>
  <span class="verse" title="Psalm 38:6" id="Psalm-38-6">I am pained and bowed down greatly.<br/> <span class="indent">&nbsp;&nbsp;</span>I go mourning all day long.<br/></span>
  <span class="verse" title="Psalm 38:7" id="Psalm-38-7">For my waist is filled with burning.<br/> <span class="indent">&nbsp;&nbsp;</span>There is no soundness in my flesh.<br/></span>
  <span class="verse" title="Psalm 38:8" id="Psalm-38-8">I am faint and severely bruised.<br/> <span class="indent">&nbsp;&nbsp;</span>I have groaned by reason of the anguish of my heart.<br/></span>
  <span class="verse" title="Psalm 38:9" id="Psalm-38-9">Lord, all my desire is before you.<br/> <span class="indent">&nbsp;&nbsp;</span>My groaning is not hidden from you.<br/></span>
  <span class="verse" title="Psalm 38:10" id="Psalm-38-10">My heart throbs.<br/> <span class="indent">&nbsp;&nbsp;</span>My strength fails me.<br/> <span class="indent">&nbsp;&nbsp;</span>As for the light of my eyes, it has also left me.<br/></span>
  <span class="verse" title="Psalm 38:11" id="Psalm-38-11">My lovers and my friends stand aloof from my plague.<br/> <span class="indent">&nbsp;&nbsp;</span>My kinsmen stand far away.<br/></span>
  <span class="verse" title="Psalm 38:12" id="Psalm-38-12">They also who seek after my life lay snares.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who seek my hurt speak mischievous things,<br/> <span class="indent">&nbsp;&nbsp;</span>and meditate deceits all day long.<br/></span>
  <span class="verse" title="Psalm 38:13" id="Psalm-38-13">But I, as a deaf man, don&#8217;t hear.<br/> <span class="indent">&nbsp;&nbsp;</span>I am as a mute man who doesn&#8217;t open his mouth.<br/></span>
  <span class="verse" title="Psalm 38:14" id="Psalm-38-14">Yes, I am as a man who doesn&#8217;t hear,<br/> <span class="indent">&nbsp;&nbsp;</span>in whose mouth are no reproofs.<br/></span>
  <span class="verse" title="Psalm 38:15" id="Psalm-38-15">For in you, Yahweh, do I hope.<br/> <span class="indent">&nbsp;&nbsp;</span>You will answer, Lord my God.<br/></span>
  <span class="verse" title="Psalm 38:16" id="Psalm-38-16">For I said, &#8220;Don&#8217;t let them gloat over me,<br/> <span class="indent">&nbsp;&nbsp;</span>or exalt themselves over me when my foot slips.&#8221;<br/></span>
  <span class="verse" title="Psalm 38:17" id="Psalm-38-17">For I am ready to fall.<br/> <span class="indent">&nbsp;&nbsp;</span>My pain is continually before me.<br/></span>
  <span class="verse" title="Psalm 38:18" id="Psalm-38-18">For I will declare my iniquity.<br/> <span class="indent">&nbsp;&nbsp;</span>I will be sorry for my sin.<br/></span>
  <span class="verse" title="Psalm 38:19" id="Psalm-38-19">But my enemies are vigorous and many.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who hate me without reason are numerous.<br/></span>
  <span class="verse" title="Psalm 38:20" id="Psalm-38-20">They who also render evil for good are adversaries to me,<br/> <span class="indent">&nbsp;&nbsp;</span>because I follow what is good.<br/></span>
  <span class="verse" title="Psalm 38:21" id="Psalm-38-21">Don&#8217;t forsake me, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>My God, don&#8217;t be far from me.<br/></span>
  <span class="verse" title="Psalm 38:22" id="Psalm-38-22">Hurry to help me,<br/> <span class="indent">&nbsp;&nbsp;</span>Lord, my salvation.<br/></span>
</div>