<div class="chapter" id="Psalms-041">
  <h2>Psalm 41</h2>
  <span class="verse" title="Psalm 41:1" id="Psalm-41-1">Blessed is he who considers the poor.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh will deliver him in the day of evil.<br/></span>
  <span class="verse" title="Psalm 41:2" id="Psalm-41-2">Yahweh will preserve him, and keep him alive.<br/> <span class="indent">&nbsp;&nbsp;</span>He shall be blessed on the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and he will not surrender him to the will of his enemies.<br/></span>
  <span class="verse" title="Psalm 41:3" id="Psalm-41-3">Yahweh will sustain him on his sickbed,<br/> <span class="indent">&nbsp;&nbsp;</span>and restore him from his bed of illness.<br/></span>
  <span class="verse" title="Psalm 41:4" id="Psalm-41-4">I said, &#8220;Yahweh, have mercy on me!<br/> <span class="indent">&nbsp;&nbsp;</span>Heal me, for I have sinned against you.&#8221;<br/></span>
  <span class="verse" title="Psalm 41:5" id="Psalm-41-5">My enemies speak evil against me:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;When will he die, and his name perish?&#8221;<br/></span>
  <span class="verse" title="Psalm 41:6" id="Psalm-41-6">If he comes to see me, he speaks falsehood.<br/> <span class="indent">&nbsp;&nbsp;</span>His heart gathers iniquity to itself.<br/> <span class="indent">&nbsp;&nbsp;</span>When he goes abroad, he tells it.<br/></span>
  <span class="verse" title="Psalm 41:7" id="Psalm-41-7">All who hate me whisper together against me.<br/> <span class="indent">&nbsp;&nbsp;</span>They imagine the worst for me.<br/></span>
  <span class="verse" title="Psalm 41:8" id="Psalm-41-8">&#8220;An evil disease,&#8221; they say, &#8220;has afflicted him.<br/> <span class="indent">&nbsp;&nbsp;</span>Now that he lies he shall rise up no more.&#8221;<br/></span>
  <span class="verse" title="Psalm 41:9" id="Psalm-41-9">Yes, my own familiar friend, in whom I trusted,<br/> <span class="indent">&nbsp;&nbsp;</span>who ate bread with me,<br/> <span class="indent">&nbsp;&nbsp;</span>has lifted up his heel against me.<br/>   <br/></span>
  <span class="verse" title="Psalm 41:10" id="Psalm-41-10">But you, Yahweh, have mercy on me, and raise me up,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may repay them.<br/></span>
  <span class="verse" title="Psalm 41:11" id="Psalm-41-11">By this I know that you delight in me,<br/> <span class="indent">&nbsp;&nbsp;</span>because my enemy doesn&#8217;t triumph over me.<br/></span>
  <span class="verse" title="Psalm 41:12" id="Psalm-41-12">As for me, you uphold me in my integrity,<br/> <span class="indent">&nbsp;&nbsp;</span>and set me in your presence forever.<br/>   <br/></span>
  <span class="verse" title="Psalm 41:13" id="Psalm-41-13">Blessed be Yahweh, the God of Israel,<br/> <span class="indent">&nbsp;&nbsp;</span>from everlasting and to everlasting!<br/>   Amen and amen.<br/>   BOOK II</span>
</div>