<div class="chapter" id="Psalms-043">
  <h2>Psalm 43</h2>
  <span class="verse" title="Psalm 43:1" id="Psalm-43-1">Vindicate me, God, and plead my cause against an ungodly nation.<br/> <span class="indent">&nbsp;&nbsp;</span>Oh, deliver me from deceitful and wicked men.<br/></span>
  <span class="verse" title="Psalm 43:2" id="Psalm-43-2">For you are the God of my strength. Why have you rejected me?<br/> <span class="indent">&nbsp;&nbsp;</span>Why do I go mourning because of the oppression of the enemy?<br/></span>
  <span class="verse" title="Psalm 43:3" id="Psalm-43-3">Oh, send out your light and your truth.<br/> <span class="indent">&nbsp;&nbsp;</span>Let them lead me.<br/> <span class="indent">&nbsp;&nbsp;</span>Let them bring me to your holy hill,<br/> <span class="indent">&nbsp;&nbsp;</span>To your tents.<br/></span>
  <span class="verse" title="Psalm 43:4" id="Psalm-43-4">Then I will go to the altar of God,<br/> <span class="indent">&nbsp;&nbsp;</span>to God, my exceeding joy.<br/>   I will praise you on the harp, God, my God.<br/></span>
  <span class="verse" title="Psalm 43:5" id="Psalm-43-5">Why are you in despair, my soul?<br/> <span class="indent">&nbsp;&nbsp;</span>Why are you disturbed within me?<br/>   Hope in God!<br/> <span class="indent">&nbsp;&nbsp;</span>For I shall still praise him:<br/> <span class="indent">&nbsp;&nbsp;</span>my Savior, my helper, and my God.<br/></span>
</div>