<div class="chapter" id="Psalms-045">
  <h2>Psalm 45</h2>
  <span class="verse" title="Psalm 45:1" id="Psalm-45-1">My heart overflows with a noble theme.<br/> <span class="indent">&nbsp;&nbsp;</span>I recite my verses for the king.<br/> <span class="indent">&nbsp;&nbsp;</span>My tongue is like the pen of a skillful writer.<br/></span>
  <span class="verse" title="Psalm 45:2" id="Psalm-45-2">You are the most excellent of the sons of men.<br/> <span class="indent">&nbsp;&nbsp;</span>Grace has anointed your lips,<br/> <span class="indent">&nbsp;&nbsp;</span>therefore God has blessed you forever.<br/></span>
  <span class="verse" title="Psalm 45:3" id="Psalm-45-3">Strap your sword on your thigh, mighty one:<br/> <span class="indent">&nbsp;&nbsp;</span>your splendor and your majesty.<br/></span>
  <span class="verse" title="Psalm 45:4" id="Psalm-45-4">In your majesty ride on victoriously on behalf of truth, humility, and righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>Let your right hand display awesome deeds.<br/></span>
  <span class="verse" title="Psalm 45:5" id="Psalm-45-5">Your arrows are sharp.<br/> <span class="indent">&nbsp;&nbsp;</span>The nations fall under you, with arrows in the heart of the king&#8217;s enemies.<br/></span>
  <span class="verse" title="Psalm 45:6" id="Psalm-45-6">Your throne, God, is forever and ever.<br/> <span class="indent">&nbsp;&nbsp;</span>A scepter of equity is the scepter of your kingdom.<br/></span>
  <span class="verse" title="Psalm 45:7" id="Psalm-45-7">You have loved righteousness, and hated wickedness.<br/> <span class="indent">&nbsp;&nbsp;</span>Therefore God, your God, has anointed you with the oil of gladness above your fellows.<br/></span>
  <span class="verse" title="Psalm 45:8" id="Psalm-45-8">All your garments smell like myrrh, aloes, and cassia.<br/> <span class="indent">&nbsp;&nbsp;</span>Out of ivory palaces stringed instruments have made you glad.<br/></span>
  <span class="verse" title="Psalm 45:9" id="Psalm-45-9">Kings&#8217; daughters are among your honorable women.<br/> <span class="indent">&nbsp;&nbsp;</span>At your right hand the queen stands in gold of Ophir.<br/></span>
  <span class="verse" title="Psalm 45:10" id="Psalm-45-10">Listen, daughter, consider, and turn your ear.<br/> <span class="indent">&nbsp;&nbsp;</span>Forget your own people, and also your father&#8217;s house.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 45:11" id="Psalm-45-11">So the king will desire your beauty,<br/> <span class="indent">&nbsp;&nbsp;</span>honor him, for he is your lord.<br/></span>
  <span class="verse" title="Psalm 45:12" id="Psalm-45-12">The daughter of Tyre comes with a gift.<br/> <span class="indent">&nbsp;&nbsp;</span>The rich among the people entreat your favor.<br/></span>
  <span class="verse" title="Psalm 45:13" id="Psalm-45-13">The princess inside is all glorious.<br/> <span class="indent">&nbsp;&nbsp;</span>Her clothing is interwoven with gold.<br/></span>
  <span class="verse" title="Psalm 45:14" id="Psalm-45-14">She shall be led to the king in embroidered work.<br/> <span class="indent">&nbsp;&nbsp;</span>The virgins, her companions who follow her, shall be brought to you.<br/></span>
  <span class="verse" title="Psalm 45:15" id="Psalm-45-15">With gladness and rejoicing they shall be led.<br/> <span class="indent">&nbsp;&nbsp;</span>They shall enter into the king&#8217;s palace.<br/></span>
  <span class="verse" title="Psalm 45:16" id="Psalm-45-16">Your sons will take the place of your fathers.<br/> <span class="indent">&nbsp;&nbsp;</span>You shall make them princes in all the earth.<br/></span>
  <span class="verse" title="Psalm 45:17" id="Psalm-45-17">I will make your name to be remembered in all generations.<br/> <span class="indent">&nbsp;&nbsp;</span>Therefore the peoples shall give you thanks forever and ever.<br/></span>
</div>