<div class="chapter" id="Psalms-046">
  <h2>Psalm 46</h2>
  <span class="verse" title="Psalm 46:1" id="Psalm-46-1">God is our refuge and strength,<br/> <span class="indent">&nbsp;&nbsp;</span>a very present help in trouble.<br/></span>
  <span class="verse" title="Psalm 46:2" id="Psalm-46-2">Therefore we won&#8217;t be afraid, though the earth changes,<br/> <span class="indent">&nbsp;&nbsp;</span>though the mountains are shaken into the heart of the seas;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 46:3" id="Psalm-46-3">though its waters roar and are troubled,<br/> <span class="indent">&nbsp;&nbsp;</span>though the mountains tremble with their swelling.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 46:4" id="Psalm-46-4">There is a river, the streams of which make the city of God glad,<br/> <span class="indent">&nbsp;&nbsp;</span>the holy place of the tents of the Most High.<br/></span>
  <span class="verse" title="Psalm 46:5" id="Psalm-46-5">God is in her midst. She shall not be moved.<br/> <span class="indent">&nbsp;&nbsp;</span>God will help her at dawn.<br/></span>
  <span class="verse" title="Psalm 46:6" id="Psalm-46-6">The nations raged. The kingdoms were moved.<br/> <span class="indent">&nbsp;&nbsp;</span>He lifted his voice, and the earth melted.<br/></span>
  <span class="verse" title="Psalm 46:7" id="Psalm-46-7">Yahweh of Armies is with us.<br/> <span class="indent">&nbsp;&nbsp;</span>The God of Jacob is our refuge.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 46:8" id="Psalm-46-8">Come, see Yahweh&#8217;s works,<br/> <span class="indent">&nbsp;&nbsp;</span>what desolations he has made in the earth.<br/></span>
  <span class="verse" title="Psalm 46:9" id="Psalm-46-9">He makes wars cease to the end of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>He breaks the bow, and shatters the spear.<br/> <span class="indent">&nbsp;&nbsp;</span>He burns the chariots in the fire.<br/></span>
  <span class="verse" title="Psalm 46:10" id="Psalm-46-10">&#8220;Be still, and know that I am God.<br/> <span class="indent">&nbsp;&nbsp;</span>I will be exalted among the nations.<br/> <span class="indent">&nbsp;&nbsp;</span>I will be exalted in the earth.&#8221;<br/></span>
  <span class="verse" title="Psalm 46:11" id="Psalm-46-11">Yahweh of Armies is with us.<br/> <span class="indent">&nbsp;&nbsp;</span>The God of Jacob is our refuge.<br/>   <br/>   Selah.<br/></span>
</div>