<div class="chapter" id="Psalms-047">
  <h2>Psalm 47</h2>
  <span class="verse" title="Psalm 47:1" id="Psalm-47-1">Oh clap your hands, all you nations.<br/> <span class="indent">&nbsp;&nbsp;</span>Shout to God with the voice of triumph!<br/></span>
  <span class="verse" title="Psalm 47:2" id="Psalm-47-2">For Yahweh Most High is awesome.<br/> <span class="indent">&nbsp;&nbsp;</span>He is a great King over all the earth.<br/></span>
  <span class="verse" title="Psalm 47:3" id="Psalm-47-3">He subdues nations under us,<br/> <span class="indent">&nbsp;&nbsp;</span>and peoples under our feet.<br/></span>
  <span class="verse" title="Psalm 47:4" id="Psalm-47-4">He chooses our inheritance for us,<br/> <span class="indent">&nbsp;&nbsp;</span>the glory of Jacob whom he loved.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 47:5" id="Psalm-47-5">God has gone up with a shout,<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh with the sound of a trumpet.<br/></span>
  <span class="verse" title="Psalm 47:6" id="Psalm-47-6">Sing praise to God, sing praises.<br/> <span class="indent">&nbsp;&nbsp;</span>Sing praises to our King, sing praises.<br/></span>
  <span class="verse" title="Psalm 47:7" id="Psalm-47-7">For God is the King of all the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>Sing praises with understanding.<br/></span>
  <span class="verse" title="Psalm 47:8" id="Psalm-47-8">God reigns over the nations.<br/> <span class="indent">&nbsp;&nbsp;</span>God sits on his holy throne.<br/></span>
  <span class="verse" title="Psalm 47:9" id="Psalm-47-9">The princes of the peoples are gathered together,<br/>   the people of the God of Abraham.<br/> <span class="indent">&nbsp;&nbsp;</span>For the shields of the earth belong to God.<br/> <span class="indent">&nbsp;&nbsp;</span>He is greatly exalted!<br/></span>
</div>