<div class="chapter" id="Psalms-048">
  <h2>Psalm 48</h2>
  <span class="verse" title="Psalm 48:1" id="Psalm-48-1">Great is Yahweh, and greatly to be praised,<br/> <span class="indent">&nbsp;&nbsp;</span>in the city of our God, in his holy mountain.<br/></span>
  <span class="verse" title="Psalm 48:2" id="Psalm-48-2">Beautiful in elevation, the joy of the whole earth,<br/> <span class="indent">&nbsp;&nbsp;</span>is Mount Zion, on the north sides,<br/> <span class="indent">&nbsp;&nbsp;</span>the city of the great King.<br/></span>
  <span class="verse" title="Psalm 48:3" id="Psalm-48-3">God has shown himself in her citadels as a refuge.<br/></span>
  <span class="verse" title="Psalm 48:4" id="Psalm-48-4">For, behold, the kings assembled themselves,<br/> <span class="indent">&nbsp;&nbsp;</span>they passed by together.<br/></span>
  <span class="verse" title="Psalm 48:5" id="Psalm-48-5">They saw it, then they were amazed.<br/> <span class="indent">&nbsp;&nbsp;</span>They were dismayed.<br/> <span class="indent">&nbsp;&nbsp;</span>They hurried away.<br/></span>
  <span class="verse" title="Psalm 48:6" id="Psalm-48-6">Trembling took hold of them there,<br/> <span class="indent">&nbsp;&nbsp;</span>pain, as of a woman in travail.<br/></span>
  <span class="verse" title="Psalm 48:7" id="Psalm-48-7">With the east wind, you break the ships of Tarshish.<br/></span>
  <span class="verse" title="Psalm 48:8" id="Psalm-48-8">As we have heard, so we have seen,<br/> <span class="indent">&nbsp;&nbsp;</span>in the city of Yahweh of Armies, in the city of our God.<br/>   God will establish it forever.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 48:9" id="Psalm-48-9">We have thought about your loving kindness, God,<br/> <span class="indent">&nbsp;&nbsp;</span>in the midst of your temple.<br/></span>
  <span class="verse" title="Psalm 48:10" id="Psalm-48-10">As is your name, God,<br/> <span class="indent">&nbsp;&nbsp;</span>so is your praise to the ends of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>Your right hand is full of righteousness.<br/></span>
  <span class="verse" title="Psalm 48:11" id="Psalm-48-11">Let Mount Zion be glad!<br/> <span class="indent">&nbsp;&nbsp;</span>Let the daughters of Judah rejoice,<br/> <span class="indent">&nbsp;&nbsp;</span>Because of your judgments.<br/></span>
  <span class="verse" title="Psalm 48:12" id="Psalm-48-12">Walk about Zion, and go around her.<br/> <span class="indent">&nbsp;&nbsp;</span>Number its towers.<br/></span>
  <span class="verse" title="Psalm 48:13" id="Psalm-48-13">Mark well her bulwarks.<br/> <span class="indent">&nbsp;&nbsp;</span>Consider her palaces,<br/> <span class="indent">&nbsp;&nbsp;</span>that you may tell it to the next generation.<br/></span>
  <span class="verse" title="Psalm 48:14" id="Psalm-48-14">For this God is our God forever and ever.<br/> <span class="indent">&nbsp;&nbsp;</span>He will be our guide even to death.<br/></span>
</div>