<div class="chapter" id="Psalms-049">
  <h2>Psalm 49</h2>
  <span class="verse" title="Psalm 49:1" id="Psalm-49-1">Hear this, all you peoples.<br/> <span class="indent">&nbsp;&nbsp;</span>Listen, all you inhabitants of the world,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 49:2" id="Psalm-49-2">both low and high,<br/> <span class="indent">&nbsp;&nbsp;</span>rich and poor together.<br/></span>
  <span class="verse" title="Psalm 49:3" id="Psalm-49-3">My mouth will speak words of wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>My heart shall utter understanding.<br/></span>
  <span class="verse" title="Psalm 49:4" id="Psalm-49-4">I will incline my ear to a proverb.<br/> <span class="indent">&nbsp;&nbsp;</span>I will open my riddle on the harp.<br/></span>
  <span class="verse" title="Psalm 49:5" id="Psalm-49-5">Why should I fear in the days of evil,<br/> <span class="indent">&nbsp;&nbsp;</span>when iniquity at my heels surrounds me?<br/></span>
  <span class="verse" title="Psalm 49:6" id="Psalm-49-6">Those who trust in their wealth,<br/> <span class="indent">&nbsp;&nbsp;</span>and boast in the multitude of their riches—<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 49:7" id="Psalm-49-7">none of them can by any means redeem his brother,<br/> <span class="indent">&nbsp;&nbsp;</span>nor give God a ransom for him.<br/></span>
  <span class="verse" title="Psalm 49:8" id="Psalm-49-8">For the redemption of their life is costly,<br/> <span class="indent">&nbsp;&nbsp;</span>no payment is ever enough,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 49:9" id="Psalm-49-9">That he should live on forever,<br/> <span class="indent">&nbsp;&nbsp;</span>that he should not see corruption.<br/></span>
  <span class="verse" title="Psalm 49:10" id="Psalm-49-10">For he sees that wise men die;<br/> <span class="indent">&nbsp;&nbsp;</span>likewise the fool and the senseless perish,<br/> <span class="indent">&nbsp;&nbsp;</span>and leave their wealth to others.<br/></span>
  <span class="verse" title="Psalm 49:11" id="Psalm-49-11">Their inward thought is that their houses will endure forever,<br/> <span class="indent">&nbsp;&nbsp;</span>and their dwelling places to all generations.<br/> <span class="indent">&nbsp;&nbsp;</span>They name their lands after themselves.<br/></span>
  <span class="verse" title="Psalm 49:12" id="Psalm-49-12">But man, despite his riches, doesn&#8217;t endure.<br/> <span class="indent">&nbsp;&nbsp;</span>He is like the animals that perish.<br/>   <br/></span>
  <span class="verse" title="Psalm 49:13" id="Psalm-49-13">This is the destiny of those who are foolish,<br/> <span class="indent">&nbsp;&nbsp;</span>and of those who approve their sayings.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 49:14" id="Psalm-49-14">They are appointed as a flock for Sheol.<br/> <span class="indent">&nbsp;&nbsp;</span>Death shall be their shepherd.<br/>   The upright shall have dominion over them in the morning.<br/> <span class="indent">&nbsp;&nbsp;</span>Their beauty shall decay in Sheol,<br/> <span class="indent">&nbsp;&nbsp;</span>far from their mansion.<br/></span>
  <span class="verse" title="Psalm 49:15" id="Psalm-49-15">But God will redeem my soul from the power of Sheol,<br/> <span class="indent">&nbsp;&nbsp;</span>for he will receive me.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 49:16" id="Psalm-49-16">Don&#8217;t be afraid when a man is made rich,<br/> <span class="indent">&nbsp;&nbsp;</span>when the glory of his house is increased.<br/></span>
  <span class="verse" title="Psalm 49:17" id="Psalm-49-17">For when he dies he shall carry nothing away.<br/> <span class="indent">&nbsp;&nbsp;</span>His glory shall not descend after him.<br/></span>
  <span class="verse" title="Psalm 49:18" id="Psalm-49-18">Though while he lived he blessed his soul—<br/> <span class="indent">&nbsp;&nbsp;</span>and men praise you when you do well for yourself—<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 49:19" id="Psalm-49-19">he shall go to the generation of his fathers.<br/> <span class="indent">&nbsp;&nbsp;</span>They shall never see the light.<br/></span>
  <span class="verse" title="Psalm 49:20" id="Psalm-49-20">A man who has riches without understanding,<br/> <span class="indent">&nbsp;&nbsp;</span>is like the animals that perish.<br/></span>
</div>