<div class="chapter" id="Psalms-050">
  <h2>Psalm 50</h2>
  <span class="verse" title="Psalm 50:1" id="Psalm-50-1">The Mighty One, God, Yahweh, speaks,<br/> <span class="indent">&nbsp;&nbsp;</span>and calls the earth from sunrise to sunset.<br/></span>
  <span class="verse" title="Psalm 50:2" id="Psalm-50-2">Out of Zion, the perfection of beauty,<br/> <span class="indent">&nbsp;&nbsp;</span>God shines forth.<br/></span>
  <span class="verse" title="Psalm 50:3" id="Psalm-50-3">Our God comes, and does not keep silent.<br/> <span class="indent">&nbsp;&nbsp;</span>A fire devours before him.<br/> <span class="indent">&nbsp;&nbsp;</span>It is very stormy around him.<br/></span>
  <span class="verse" title="Psalm 50:4" id="Psalm-50-4">He calls to the heavens above,<br/> <span class="indent">&nbsp;&nbsp;</span>to the earth, that he may judge his people:<br/></span>
  <span class="verse" title="Psalm 50:5" id="Psalm-50-5">&#8220;Gather my saints together to me,<br/> <span class="indent">&nbsp;&nbsp;</span>those who have made a covenant with me by sacrifice.&#8221;<br/></span>
  <span class="verse" title="Psalm 50:6" id="Psalm-50-6">The heavens shall declare his righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>for God himself is judge.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 50:7" id="Psalm-50-7">&#8220;Hear, my people, and I will speak;<br/> <span class="indent">&nbsp;&nbsp;</span>Israel, and I will testify against you.<br/>   I am God, your God.<br/></span>
  <span class="verse" title="Psalm 50:8" id="Psalm-50-8">I don&#8217;t rebuke you for your sacrifices.<br/> <span class="indent">&nbsp;&nbsp;</span>Your burnt offerings are continually before me.<br/></span>
  <span class="verse" title="Psalm 50:9" id="Psalm-50-9">I have no need for a bull from your stall,<br/> <span class="indent">&nbsp;&nbsp;</span>nor male goats from your pens.<br/></span>
  <span class="verse" title="Psalm 50:10" id="Psalm-50-10">For every animal of the forest is mine,<br/> <span class="indent">&nbsp;&nbsp;</span>and the livestock on a thousand hills.<br/></span>
  <span class="verse" title="Psalm 50:11" id="Psalm-50-11">I know all the birds of the mountains.<br/> <span class="indent">&nbsp;&nbsp;</span>The wild animals of the field are mine.<br/></span>
  <span class="verse" title="Psalm 50:12" id="Psalm-50-12">If I were hungry, I would not tell you,<br/> <span class="indent">&nbsp;&nbsp;</span>for the world is mine, and all that is in it.<br/></span>
  <span class="verse" title="Psalm 50:13" id="Psalm-50-13">Will I eat the flesh of bulls,<br/> <span class="indent">&nbsp;&nbsp;</span>or drink the blood of goats?<br/></span>
  <span class="verse" title="Psalm 50:14" id="Psalm-50-14">Offer to God the sacrifice of thanksgiving.<br/> <span class="indent">&nbsp;&nbsp;</span>Pay your vows to the Most High.<br/></span>
  <span class="verse" title="Psalm 50:15" id="Psalm-50-15">Call on me in the day of trouble.<br/> <span class="indent">&nbsp;&nbsp;</span>I will deliver you, and you will honor me.&#8221;<br/>   <br/></span>
  <span class="verse" title="Psalm 50:16" id="Psalm-50-16">But to the wicked God says,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;What right do you have to declare my statutes,<br/> <span class="indent">&nbsp;&nbsp;</span>that you have taken my covenant on your lips,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 50:17" id="Psalm-50-17">since you hate instruction,<br/> <span class="indent">&nbsp;&nbsp;</span>and throw my words behind you?<br/></span>
  <span class="verse" title="Psalm 50:18" id="Psalm-50-18">When you saw a thief, you consented with him,<br/> <span class="indent">&nbsp;&nbsp;</span>and have participated with adulterers.<br/>   <br/></span>
  <span class="verse" title="Psalm 50:19" id="Psalm-50-19">&#8220;You give your mouth to evil.<br/> <span class="indent">&nbsp;&nbsp;</span>Your tongue frames deceit.<br/></span>
  <span class="verse" title="Psalm 50:20" id="Psalm-50-20">You sit and speak against your brother.<br/> <span class="indent">&nbsp;&nbsp;</span>You slander your own mother&#8217;s son.<br/></span>
  <span class="verse" title="Psalm 50:21" id="Psalm-50-21">You have done these things, and I kept silent.<br/> <span class="indent">&nbsp;&nbsp;</span>You thought that I was just like you.<br/> <span class="indent">&nbsp;&nbsp;</span>I will rebuke you, and accuse you in front of your eyes.<br/>   <br/></span>
  <span class="verse" title="Psalm 50:22" id="Psalm-50-22">&#8220;Now consider this, you who forget God,<br/> <span class="indent">&nbsp;&nbsp;</span>lest I tear you into pieces, and there be none to deliver.<br/></span>
  <span class="verse" title="Psalm 50:23" id="Psalm-50-23">Whoever offers the sacrifice of thanksgiving glorifies me,<br/> <span class="indent">&nbsp;&nbsp;</span>and prepares his way so that I will show God&#8217;s salvation to him.&#8221;<br/></span>
</div>