<div class="chapter" id="Psalms-051">
  <h2>Psalm 51</h2>
  <span class="verse" title="Psalm 51:1" id="Psalm-51-1">Have mercy on me, God, according to your loving kindness.<br/> <span class="indent">&nbsp;&nbsp;</span>According to the multitude of your tender mercies, blot out my transgressions.<br/></span>
  <span class="verse" title="Psalm 51:2" id="Psalm-51-2">Wash me thoroughly from my iniquity.<br/> <span class="indent">&nbsp;&nbsp;</span>Cleanse me from my sin.<br/></span>
  <span class="verse" title="Psalm 51:3" id="Psalm-51-3">For I know my transgressions.<br/> <span class="indent">&nbsp;&nbsp;</span>My sin is constantly before me.<br/></span>
  <span class="verse" title="Psalm 51:4" id="Psalm-51-4">Against you, and you only, have I sinned,<br/> <span class="indent">&nbsp;&nbsp;</span>and done that which is evil in your sight;<br/>   that you may be proved right when you speak,<br/> <span class="indent">&nbsp;&nbsp;</span>and justified when you judge.<br/></span>
  <span class="verse" title="Psalm 51:5" id="Psalm-51-5">Behold, I was brought forth in iniquity.<br/> <span class="indent">&nbsp;&nbsp;</span>In sin my mother conceived me.<br/></span>
  <span class="verse" title="Psalm 51:6" id="Psalm-51-6">Behold, you desire truth in the inward parts.<br/> <span class="indent">&nbsp;&nbsp;</span>You teach me wisdom in the inmost place.<br/></span>
  <span class="verse" title="Psalm 51:7" id="Psalm-51-7">Purify me with hyssop, and I will be clean.<br/> <span class="indent">&nbsp;&nbsp;</span>Wash me, and I will be whiter than snow.<br/></span>
  <span class="verse" title="Psalm 51:8" id="Psalm-51-8">Let me hear joy and gladness,<br/> <span class="indent">&nbsp;&nbsp;</span>That the bones which you have broken may rejoice.<br/></span>
  <span class="verse" title="Psalm 51:9" id="Psalm-51-9">Hide your face from my sins,<br/> <span class="indent">&nbsp;&nbsp;</span>and blot out all of my iniquities.<br/></span>
  <span class="verse" title="Psalm 51:10" id="Psalm-51-10">Create in me a clean heart, O God.<br/> <span class="indent">&nbsp;&nbsp;</span>Renew a right spirit within me.<br/></span>
  <span class="verse" title="Psalm 51:11" id="Psalm-51-11">Don&#8217;t throw me from your presence,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t take your holy Spirit from me.<br/></span>
  <span class="verse" title="Psalm 51:12" id="Psalm-51-12">Restore to me the joy of your salvation.<br/> <span class="indent">&nbsp;&nbsp;</span>Uphold me with a willing spirit.<br/></span>
  <span class="verse" title="Psalm 51:13" id="Psalm-51-13">Then I will teach transgressors your ways.<br/> <span class="indent">&nbsp;&nbsp;</span>Sinners shall be converted to you.<br/></span>
  <span class="verse" title="Psalm 51:14" id="Psalm-51-14">Deliver me from bloodguiltiness, O God, the God of my salvation.<br/> <span class="indent">&nbsp;&nbsp;</span>My tongue shall sing aloud of your righteousness.<br/></span>
  <span class="verse" title="Psalm 51:15" id="Psalm-51-15">Lord, open my lips.<br/> <span class="indent">&nbsp;&nbsp;</span>My mouth shall declare your praise.<br/></span>
  <span class="verse" title="Psalm 51:16" id="Psalm-51-16">For you don&#8217;t delight in sacrifice, or else I would give it.<br/> <span class="indent">&nbsp;&nbsp;</span>You have no pleasure in burnt offering.<br/></span>
  <span class="verse" title="Psalm 51:17" id="Psalm-51-17">The sacrifices of God are a broken spirit.<br/> <span class="indent">&nbsp;&nbsp;</span>A broken and contrite heart, O God, you will not despise.<br/>   <br/></span>
  <span class="verse" title="Psalm 51:18" id="Psalm-51-18">Do well in your good pleasure to Zion.<br/> <span class="indent">&nbsp;&nbsp;</span>Build the walls of Jerusalem.<br/></span>
  <span class="verse" title="Psalm 51:19" id="Psalm-51-19">Then you will delight in the sacrifices of righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>in burnt offerings and in whole burnt offerings.<br/>   Then they will offer bulls on your altar.<br/></span>
</div>