<div class="chapter" id="Psalms-052">
  <h2>Psalm 52</h2>
  <span class="verse" title="Psalm 52:1" id="Psalm-52-1">Why do you boast of mischief, mighty man?<br/> <span class="indent">&nbsp;&nbsp;</span>God&#8217;s loving kindness endures continually.<br/></span>
  <span class="verse" title="Psalm 52:2" id="Psalm-52-2">Your tongue plots destruction,<br/> <span class="indent">&nbsp;&nbsp;</span>like a sharp razor, working deceitfully.<br/></span>
  <span class="verse" title="Psalm 52:3" id="Psalm-52-3">You love evil more than good,<br/> <span class="indent">&nbsp;&nbsp;</span>lying rather than speaking the truth.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 52:4" id="Psalm-52-4">You love all devouring words,<br/> <span class="indent">&nbsp;&nbsp;</span>you deceitful tongue.<br/></span>
  <span class="verse" title="Psalm 52:5" id="Psalm-52-5">God will likewise destroy you forever.<br/> <span class="indent">&nbsp;&nbsp;</span>He will take you up, and pluck you out of your tent,<br/> <span class="indent">&nbsp;&nbsp;</span>and root you out of the land of the living.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 52:6" id="Psalm-52-6">The righteous also will see it, and fear,<br/> <span class="indent">&nbsp;&nbsp;</span>and laugh at him, saying,<br/></span>
  <span class="verse" title="Psalm 52:7" id="Psalm-52-7">&#8220;Behold, this is the man who didn&#8217;t make God his strength,<br/> <span class="indent">&nbsp;&nbsp;</span>but trusted in the abundance of his riches,<br/> <span class="indent">&nbsp;&nbsp;</span>and strengthened himself in his wickedness.&#8221;<br/></span>
  <span class="verse" title="Psalm 52:8" id="Psalm-52-8">But as for me, I am like a green olive tree in God&#8217;s house.<br/> <span class="indent">&nbsp;&nbsp;</span>I trust in God&#8217;s loving kindness forever and ever.<br/></span>
  <span class="verse" title="Psalm 52:9" id="Psalm-52-9">I will give you thanks forever, because you have done it.<br/> <span class="indent">&nbsp;&nbsp;</span>I will hope in your name, for it is good,<br/> <span class="indent">&nbsp;&nbsp;</span>in the presence of your saints.<br/></span>
</div>