<div class="chapter" id="Psalms-054">
  <h2>Psalm 54</h2>
  <span class="verse" title="Psalm 54:1" id="Psalm-54-1">Save me, God, by your name.<br/> <span class="indent">&nbsp;&nbsp;</span>Vindicate me in your might.<br/></span>
  <span class="verse" title="Psalm 54:2" id="Psalm-54-2">Hear my prayer, God.<br/> <span class="indent">&nbsp;&nbsp;</span>Listen to the words of my mouth.<br/></span>
  <span class="verse" title="Psalm 54:3" id="Psalm-54-3">For strangers have risen up against me.<br/> <span class="indent">&nbsp;&nbsp;</span>Violent men have sought after my soul.<br/> <span class="indent">&nbsp;&nbsp;</span>They haven&#8217;t set God before them.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 54:4" id="Psalm-54-4">Behold, God is my helper.<br/> <span class="indent">&nbsp;&nbsp;</span>The Lord is the one who sustains my soul.<br/></span>
  <span class="verse" title="Psalm 54:5" id="Psalm-54-5">He will repay the evil to my enemies.<br/> <span class="indent">&nbsp;&nbsp;</span>Destroy them in your truth.<br/></span>
  <span class="verse" title="Psalm 54:6" id="Psalm-54-6">With a free will offering, I will sacrifice to you.<br/> <span class="indent">&nbsp;&nbsp;</span>I will give thanks to your name, Yahweh, for it is good.<br/></span>
  <span class="verse" title="Psalm 54:7" id="Psalm-54-7">For he has delivered me out of all trouble.<br/> <span class="indent">&nbsp;&nbsp;</span>My eye has seen triumph over my enemies.<br/></span>
</div>