<div class="chapter" id="Psalms-056">
  <h2>Psalm 56</h2>
  <span class="verse" title="Psalm 56:1" id="Psalm-56-1">Be merciful to me, God, for man wants to swallow me up.<br/> <span class="indent">&nbsp;&nbsp;</span>All day long, he attacks and oppresses me.<br/></span>
  <span class="verse" title="Psalm 56:2" id="Psalm-56-2">My enemies want to swallow me up all day long,<br/> <span class="indent">&nbsp;&nbsp;</span>for they are many who fight proudly against me.<br/></span>
  <span class="verse" title="Psalm 56:3" id="Psalm-56-3">When I am afraid,<br/> <span class="indent">&nbsp;&nbsp;</span>I will put my trust in you.<br/></span>
  <span class="verse" title="Psalm 56:4" id="Psalm-56-4">In God, I praise his word.<br/> <span class="indent">&nbsp;&nbsp;</span>In God, I put my trust.<br/>   I will not be afraid.<br/> <span class="indent">&nbsp;&nbsp;</span>What can flesh do to me?<br/></span>
  <span class="verse" title="Psalm 56:5" id="Psalm-56-5">All day long they twist my words.<br/> <span class="indent">&nbsp;&nbsp;</span>All their thoughts are against me for evil.<br/></span>
  <span class="verse" title="Psalm 56:6" id="Psalm-56-6">They conspire and lurk,<br/> <span class="indent">&nbsp;&nbsp;</span>watching my steps, they are eager to take my life.<br/></span>
  <span class="verse" title="Psalm 56:7" id="Psalm-56-7">Shall they escape by iniquity?<br/> <span class="indent">&nbsp;&nbsp;</span>In anger cast down the peoples, God.<br/></span>
  <span class="verse" title="Psalm 56:8" id="Psalm-56-8">You number my wanderings.<br/> <span class="indent">&nbsp;&nbsp;</span>You put my tears into your bottle.<br/> <span class="indent">&nbsp;&nbsp;</span>Aren&#8217;t they in your book?<br/></span>
  <span class="verse" title="Psalm 56:9" id="Psalm-56-9">Then my enemies shall turn back in the day that I call.<br/> <span class="indent">&nbsp;&nbsp;</span>I know this, that God is for me.<br/></span>
  <span class="verse" title="Psalm 56:10" id="Psalm-56-10">In God, I will praise his word.<br/> <span class="indent">&nbsp;&nbsp;</span>In Yahweh, I will praise his word.<br/></span>
  <span class="verse" title="Psalm 56:11" id="Psalm-56-11">I have put my trust in God.<br/> <span class="indent">&nbsp;&nbsp;</span>I will not be afraid.<br/> <span class="indent">&nbsp;&nbsp;</span>What can man do to me?<br/></span>
  <span class="verse" title="Psalm 56:12" id="Psalm-56-12">Your vows are on me, God.<br/> <span class="indent">&nbsp;&nbsp;</span>I will give thank offerings to you.<br/></span>
  <span class="verse" title="Psalm 56:13" id="Psalm-56-13">For you have delivered my soul from death,<br/> <span class="indent">&nbsp;&nbsp;</span>and prevented my feet from falling,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may walk before God in the light of the living.<br/></span>
</div>