<div class="chapter" id="Psalms-057">
  <h2>Psalm 57</h2>
  <span class="verse" title="Psalm 57:1" id="Psalm-57-1">Be merciful to me, God, be merciful to me,<br/> <span class="indent">&nbsp;&nbsp;</span>for my soul takes refuge in you.<br/>   Yes, in the shadow of your wings, I will take refuge,<br/> <span class="indent">&nbsp;&nbsp;</span>until disaster has passed.<br/></span>
  <span class="verse" title="Psalm 57:2" id="Psalm-57-2">I cry out to God Most High,<br/>   to God who accomplishes my requests for me.<br/></span>
  <span class="verse" title="Psalm 57:3" id="Psalm-57-3">He will send from heaven, and save me,<br/> <span class="indent">&nbsp;&nbsp;</span>he rebukes the one who is pursuing me.<br/>   <br/>   Selah.<br/>   <br/>   God will send out his loving kindness and his truth.<br/></span>
  <span class="verse" title="Psalm 57:4" id="Psalm-57-4">My soul is among lions.<br/> <span class="indent">&nbsp;&nbsp;</span>I lie among those who are set on fire,<br/> <span class="indent">&nbsp;&nbsp;</span>even the sons of men, whose teeth are spears and arrows,<br/> <span class="indent">&nbsp;&nbsp;</span>and their tongue a sharp sword.<br/></span>
  <span class="verse" title="Psalm 57:5" id="Psalm-57-5">Be exalted, God, above the heavens!<br/> <span class="indent">&nbsp;&nbsp;</span>Let your glory be above all the earth!<br/>   <br/></span>
  <span class="verse" title="Psalm 57:6" id="Psalm-57-6">They have prepared a net for my steps.<br/> <span class="indent">&nbsp;&nbsp;</span>My soul is bowed down.<br/>   They dig a pit before me.<br/> <span class="indent">&nbsp;&nbsp;</span>They fall into its midst themselves.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 57:7" id="Psalm-57-7">My heart is steadfast, God, my heart is steadfast.<br/> <span class="indent">&nbsp;&nbsp;</span>I will sing, yes, I will sing praises.<br/></span>
  <span class="verse" title="Psalm 57:8" id="Psalm-57-8">Wake up, my glory! Wake up, psaltery and harp!<br/> <span class="indent">&nbsp;&nbsp;</span>I will wake up the dawn.<br/></span>
  <span class="verse" title="Psalm 57:9" id="Psalm-57-9">I will give thanks to you, Lord, among the peoples.<br/> <span class="indent">&nbsp;&nbsp;</span>I will sing praises to you among the nations.<br/></span>
  <span class="verse" title="Psalm 57:10" id="Psalm-57-10">For your great loving kindness reaches to the heavens,<br/> <span class="indent">&nbsp;&nbsp;</span>and your truth to the skies.<br/></span>
  <span class="verse" title="Psalm 57:11" id="Psalm-57-11">Be exalted, God, above the heavens.<br/> <span class="indent">&nbsp;&nbsp;</span>Let your glory be over all the earth.<br/></span>
</div>