<div class="chapter" id="Psalms-058">
  <h2>Psalm 58</h2>
  <span class="verse" title="Psalm 58:1" id="Psalm-58-1">Do you indeed speak righteousness, silent ones?<br/> <span class="indent">&nbsp;&nbsp;</span>Do you judge blamelessly, you sons of men?<br/></span>
  <span class="verse" title="Psalm 58:2" id="Psalm-58-2">No, in your heart you plot injustice.<br/> <span class="indent">&nbsp;&nbsp;</span>You measure out the violence of your hands in the earth.<br/></span>
  <span class="verse" title="Psalm 58:3" id="Psalm-58-3">The wicked go astray from the womb.<br/> <span class="indent">&nbsp;&nbsp;</span>They are wayward as soon as they are born, speaking lies.<br/></span>
  <span class="verse" title="Psalm 58:4" id="Psalm-58-4">Their poison is like the poison of a snake;<br/> <span class="indent">&nbsp;&nbsp;</span>like a deaf cobra that stops its ear,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 58:5" id="Psalm-58-5">which doesn&#8217;t listen to the voice of charmers,<br/> <span class="indent">&nbsp;&nbsp;</span>no matter how skillful the charmer may be.<br/></span>
  <span class="verse" title="Psalm 58:6" id="Psalm-58-6">Break their teeth, God, in their mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>Break out the great teeth of the young lions, Yahweh.<br/></span>
  <span class="verse" title="Psalm 58:7" id="Psalm-58-7">Let them vanish as water that flows away.<br/> <span class="indent">&nbsp;&nbsp;</span>When they draw the bow, let their arrows be made blunt.<br/></span>
  <span class="verse" title="Psalm 58:8" id="Psalm-58-8">Let them be like a snail which melts and passes away,<br/> <span class="indent">&nbsp;&nbsp;</span>like the stillborn child, who has not seen the sun.<br/></span>
  <span class="verse" title="Psalm 58:9" id="Psalm-58-9">Before your pots can feel the heat of the thorns,<br/> <span class="indent">&nbsp;&nbsp;</span>he will sweep away the green and the burning alike.<br/></span>
  <span class="verse" title="Psalm 58:10" id="Psalm-58-10">The righteous shall rejoice when he sees the vengeance.<br/> <span class="indent">&nbsp;&nbsp;</span>He shall wash his feet in the blood of the wicked;<br/></span>
  <span class="verse" title="Psalm 58:11" id="Psalm-58-11">so that men shall say, &#8220;Most certainly there is a reward for the righteous.<br/> <span class="indent">&nbsp;&nbsp;</span>Most certainly there is a God who judges the earth.&#8221;<br/></span>
</div>