<div class="chapter" id="Psalms-060">
  <h2>Psalm 60</h2>
  <span class="verse" title="Psalm 60:1" id="Psalm-60-1">God, you have rejected us.<br/> <span class="indent">&nbsp;&nbsp;</span>You have broken us down.<br/>   You have been angry.<br/> <span class="indent">&nbsp;&nbsp;</span>Restore us, again.<br/></span>
  <span class="verse" title="Psalm 60:2" id="Psalm-60-2">You have made the land tremble.<br/> <span class="indent">&nbsp;&nbsp;</span>You have torn it.<br/>   Mend its fractures,<br/> <span class="indent">&nbsp;&nbsp;</span>for it quakes.<br/></span>
  <span class="verse" title="Psalm 60:3" id="Psalm-60-3">You have shown your people hard things.<br/> <span class="indent">&nbsp;&nbsp;</span>You have made us drink the wine that makes us stagger.<br/></span>
  <span class="verse" title="Psalm 60:4" id="Psalm-60-4">You have given a banner to those who fear you,<br/> <span class="indent">&nbsp;&nbsp;</span>that it may be displayed because of the truth.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 60:5" id="Psalm-60-5">So that your beloved may be delivered,<br/> <span class="indent">&nbsp;&nbsp;</span>save with your right hand, and answer us.<br/></span>
  <span class="verse" title="Psalm 60:6" id="Psalm-60-6">God has spoken from his sanctuary:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;I will triumph.<br/> <span class="indent">&nbsp;&nbsp;</span>I will divide Shechem,<br/> <span class="indent">&nbsp;&nbsp;</span>and measure out the valley of Succoth.<br/></span>
  <span class="verse" title="Psalm 60:7" id="Psalm-60-7">Gilead is mine, and Manasseh is mine.<br/> <span class="indent">&nbsp;&nbsp;</span>Ephraim also is the defense of my head.<br/> <span class="indent">&nbsp;&nbsp;</span>Judah is my scepter.<br/></span>
  <span class="verse" title="Psalm 60:8" id="Psalm-60-8">Moab is my wash basin.<br/> <span class="indent">&nbsp;&nbsp;</span>I will throw my shoe on Edom.<br/> <span class="indent">&nbsp;&nbsp;</span>I shout in triumph over Philistia.&#8221;<br/>   <br/></span>
  <span class="verse" title="Psalm 60:9" id="Psalm-60-9">Who will bring me into the strong city?<br/> <span class="indent">&nbsp;&nbsp;</span>Who has led me to Edom?<br/></span>
  <span class="verse" title="Psalm 60:10" id="Psalm-60-10">Haven&#8217;t you, God, rejected us?<br/> <span class="indent">&nbsp;&nbsp;</span>You don&#8217;t go out with our armies, God.<br/></span>
  <span class="verse" title="Psalm 60:11" id="Psalm-60-11">Give us help against the adversary,<br/> <span class="indent">&nbsp;&nbsp;</span>for the help of man is vain.<br/></span>
  <span class="verse" title="Psalm 60:12" id="Psalm-60-12">Through God we shall do valiantly,<br/> <span class="indent">&nbsp;&nbsp;</span>for it is he who will tread down our adversaries.<br/></span>
</div>