<div class="chapter" id="Psalms-061">
  <h2>Psalm 61</h2>
  <span class="verse" title="Psalm 61:1" id="Psalm-61-1">Hear my cry, God.<br/> <span class="indent">&nbsp;&nbsp;</span>Listen to my prayer.<br/></span>
  <span class="verse" title="Psalm 61:2" id="Psalm-61-2">From the end of the earth, I will call to you, when my heart is overwhelmed.<br/> <span class="indent">&nbsp;&nbsp;</span>Lead me to the rock that is higher than I.<br/></span>
  <span class="verse" title="Psalm 61:3" id="Psalm-61-3">For you have been a refuge for me,<br/> <span class="indent">&nbsp;&nbsp;</span>a strong tower from the enemy.<br/></span>
  <span class="verse" title="Psalm 61:4" id="Psalm-61-4">I will dwell in your tent forever.<br/> <span class="indent">&nbsp;&nbsp;</span>I will take refuge in the shelter of your wings.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 61:5" id="Psalm-61-5">For you, God, have heard my vows.<br/> <span class="indent">&nbsp;&nbsp;</span>You have given me the heritage of those who fear your name.<br/></span>
  <span class="verse" title="Psalm 61:6" id="Psalm-61-6">You will prolong the king&#8217;s life;<br/> <span class="indent">&nbsp;&nbsp;</span>his years shall be for generations.<br/></span>
  <span class="verse" title="Psalm 61:7" id="Psalm-61-7">He shall be enthroned in God&#8217;s presence forever.<br/> <span class="indent">&nbsp;&nbsp;</span>Appoint your loving kindness and truth, that they may preserve him.<br/></span>
  <span class="verse" title="Psalm 61:8" id="Psalm-61-8">So I will sing praise to your name forever,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may fulfill my vows daily.<br/></span>
</div>