<div class="chapter" id="Psalms-062">
  <h2>Psalm 62</h2>
  <span class="verse" title="Psalm 62:1" id="Psalm-62-1">My soul rests in God alone.<br/> <span class="indent">&nbsp;&nbsp;</span>My salvation is from him.<br/></span>
  <span class="verse" title="Psalm 62:2" id="Psalm-62-2">He alone is my rock and my salvation, my fortress—<br/> <span class="indent">&nbsp;&nbsp;</span>I will never be greatly shaken.<br/></span>
  <span class="verse" title="Psalm 62:3" id="Psalm-62-3">How long will you assault a man,<br/> <span class="indent">&nbsp;&nbsp;</span>would all of you throw him down,<br/> <span class="indent">&nbsp;&nbsp;</span>Like a leaning wall, like a tottering fence?<br/></span>
  <span class="verse" title="Psalm 62:4" id="Psalm-62-4">They fully intend to throw him down from his lofty place.<br/> <span class="indent">&nbsp;&nbsp;</span>They delight in lies.<br/> <span class="indent">&nbsp;&nbsp;</span>They bless with their mouth, but they curse inwardly.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 62:5" id="Psalm-62-5">My soul, wait in silence for God alone,<br/> <span class="indent">&nbsp;&nbsp;</span>for my expectation is from him.<br/></span>
  <span class="verse" title="Psalm 62:6" id="Psalm-62-6">He alone is my rock and my salvation, my fortress.<br/> <span class="indent">&nbsp;&nbsp;</span>I will not be shaken.<br/></span>
  <span class="verse" title="Psalm 62:7" id="Psalm-62-7">With God is my salvation and my honor.<br/> <span class="indent">&nbsp;&nbsp;</span>The rock of my strength, and my refuge, is in God.<br/></span>
  <span class="verse" title="Psalm 62:8" id="Psalm-62-8">Trust in him at all times, you people.<br/> <span class="indent">&nbsp;&nbsp;</span>Pour out your heart before him.<br/> <span class="indent">&nbsp;&nbsp;</span>God is a refuge for us.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 62:9" id="Psalm-62-9">Surely men of low degree are just a breath,<br/> <span class="indent">&nbsp;&nbsp;</span>and men of high degree are a lie.<br/>   In the balances they will go up.<br/> <span class="indent">&nbsp;&nbsp;</span>They are together lighter than a breath.<br/></span>
  <span class="verse" title="Psalm 62:10" id="Psalm-62-10">Don&#8217;t trust in oppression.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t become vain in robbery.<br/>   If riches increase,<br/> <span class="indent">&nbsp;&nbsp;</span>don&#8217;t set your heart on them.<br/></span>
  <span class="verse" title="Psalm 62:11" id="Psalm-62-11">God has spoken once;<br/> <span class="indent">&nbsp;&nbsp;</span>twice I have heard this,<br/> <span class="indent">&nbsp;&nbsp;</span>that power belongs to God.<br/></span>
  <span class="verse" title="Psalm 62:12" id="Psalm-62-12">Also to you, Lord, belongs loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>for you reward every man according to his work.<br/></span>
</div>