<div class="chapter" id="Psalms-063">
  <h2>Psalm 63</h2>
  <span class="verse" title="Psalm 63:1" id="Psalm-63-1">God, you are my God.<br/> <span class="indent">&nbsp;&nbsp;</span>I will earnestly seek you.<br/>   My soul thirsts for you.<br/> <span class="indent">&nbsp;&nbsp;</span>My flesh longs for you,<br/> <span class="indent">&nbsp;&nbsp;</span>in a dry and weary land, where there is no water.<br/></span>
  <span class="verse" title="Psalm 63:2" id="Psalm-63-2">So I have seen you in the sanctuary,<br/> <span class="indent">&nbsp;&nbsp;</span>watching your power and your glory.<br/></span>
  <span class="verse" title="Psalm 63:3" id="Psalm-63-3">Because your loving kindness is better than life,<br/> <span class="indent">&nbsp;&nbsp;</span>my lips shall praise you.<br/></span>
  <span class="verse" title="Psalm 63:4" id="Psalm-63-4">So I will bless you while I live.<br/> <span class="indent">&nbsp;&nbsp;</span>I will lift up my hands in your name.<br/></span>
  <span class="verse" title="Psalm 63:5" id="Psalm-63-5">My soul shall be satisfied as with the richest food.<br/> <span class="indent">&nbsp;&nbsp;</span>My mouth shall praise you with joyful lips,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 63:6" id="Psalm-63-6">when I remember you on my bed,<br/> <span class="indent">&nbsp;&nbsp;</span>and think about you in the night watches.<br/></span>
  <span class="verse" title="Psalm 63:7" id="Psalm-63-7">For you have been my help.<br/> <span class="indent">&nbsp;&nbsp;</span>I will rejoice in the shadow of your wings.<br/></span>
  <span class="verse" title="Psalm 63:8" id="Psalm-63-8">My soul stays close to you.<br/> <span class="indent">&nbsp;&nbsp;</span>Your right hand holds me up.<br/></span>
  <span class="verse" title="Psalm 63:9" id="Psalm-63-9">But those who seek my soul, to destroy it,<br/> <span class="indent">&nbsp;&nbsp;</span>shall go into the lower parts of the earth.<br/></span>
  <span class="verse" title="Psalm 63:10" id="Psalm-63-10">They shall be given over to the power of the sword.<br/> <span class="indent">&nbsp;&nbsp;</span>They shall be jackal food.<br/></span>
  <span class="verse" title="Psalm 63:11" id="Psalm-63-11">But the king shall rejoice in God.<br/> <span class="indent">&nbsp;&nbsp;</span>Everyone who swears by him will praise him,<br/> <span class="indent">&nbsp;&nbsp;</span>for the mouth of those who speak lies shall be silenced.<br/></span>
</div>