<div class="chapter" id="Psalms-064">
  <h2>Psalm 64</h2>
  <span class="verse" title="Psalm 64:1" id="Psalm-64-1">Hear my voice, God, in my complaint.<br/> <span class="indent">&nbsp;&nbsp;</span>Preserve my life from fear of the enemy.<br/></span>
  <span class="verse" title="Psalm 64:2" id="Psalm-64-2">Hide me from the conspiracy of the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>from the noisy crowd of the ones doing evil;<br/></span>
  <span class="verse" title="Psalm 64:3" id="Psalm-64-3">who sharpen their tongue like a sword,<br/> <span class="indent">&nbsp;&nbsp;</span>and aim their arrows, deadly words,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 64:4" id="Psalm-64-4">to shoot innocent men from ambushes.<br/> <span class="indent">&nbsp;&nbsp;</span>They shoot at him suddenly and fearlessly.<br/></span>
  <span class="verse" title="Psalm 64:5" id="Psalm-64-5">They encourage themselves in evil plans.<br/> <span class="indent">&nbsp;&nbsp;</span>They talk about laying snares secretly.<br/> <span class="indent">&nbsp;&nbsp;</span>They say, &#8220;Who will see them?&#8221;<br/></span>
  <span class="verse" title="Psalm 64:6" id="Psalm-64-6">They plot injustice, saying, &#8220;We have made a perfect plan!&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>Surely man&#8217;s mind and heart are cunning.<br/></span>
  <span class="verse" title="Psalm 64:7" id="Psalm-64-7">But God will shoot at them.<br/> <span class="indent">&nbsp;&nbsp;</span>They will be suddenly struck down with an arrow.<br/></span>
  <span class="verse" title="Psalm 64:8" id="Psalm-64-8">Their own tongues shall ruin them.<br/> <span class="indent">&nbsp;&nbsp;</span>All who see them will shake their heads.<br/></span>
  <span class="verse" title="Psalm 64:9" id="Psalm-64-9">All mankind shall be afraid.<br/> <span class="indent">&nbsp;&nbsp;</span>They shall declare the work of God,<br/> <span class="indent">&nbsp;&nbsp;</span>and shall wisely ponder what he has done.<br/></span>
  <span class="verse" title="Psalm 64:10" id="Psalm-64-10">The righteous shall be glad in Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>and shall take refuge in him.<br/> <span class="indent">&nbsp;&nbsp;</span>All the upright in heart shall praise him!<br/></span>
</div>