<div class="chapter" id="Psalms-067">
  <h2>Psalm 67</h2>
  <span class="verse" title="Psalm 67:1" id="Psalm-67-1">May God be merciful to us, bless us,<br/> <span class="indent">&nbsp;&nbsp;</span>and cause his face to shine on us.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 67:2" id="Psalm-67-2">That your way may be known on earth,<br/> <span class="indent">&nbsp;&nbsp;</span>and your salvation among all nations,<br/></span>
  <span class="verse" title="Psalm 67:3" id="Psalm-67-3">let the peoples praise you, God.<br/> <span class="indent">&nbsp;&nbsp;</span>Let all the peoples praise you.<br/></span>
  <span class="verse" title="Psalm 67:4" id="Psalm-67-4">Oh let the nations be glad and sing for joy,<br/> <span class="indent">&nbsp;&nbsp;</span>for you will judge the peoples with equity,<br/> <span class="indent">&nbsp;&nbsp;</span>and govern the nations on earth.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 67:5" id="Psalm-67-5">Let the peoples praise you, God.<br/> <span class="indent">&nbsp;&nbsp;</span>Let all the peoples praise you.<br/></span>
  <span class="verse" title="Psalm 67:6" id="Psalm-67-6">The earth has yielded its increase.<br/> <span class="indent">&nbsp;&nbsp;</span>God, even our own God, will bless us.<br/></span>
  <span class="verse" title="Psalm 67:7" id="Psalm-67-7">God will bless us.<br/> <span class="indent">&nbsp;&nbsp;</span>All the ends of the earth shall fear him.<br/></span>
</div>