<div class="chapter" id="Psalms-070">
  <h2>Psalm 70</h2>
  <span class="verse" title="Psalm 70:1" id="Psalm-70-1">Hurry, God, to deliver me.<br/> <span class="indent">&nbsp;&nbsp;</span>Come quickly to help me, Yahweh.<br/></span>
  <span class="verse" title="Psalm 70:2" id="Psalm-70-2">Let them be disappointed and confounded who seek my soul.<br/> <span class="indent">&nbsp;&nbsp;</span>Let those who desire my ruin be turned back in disgrace.<br/></span>
  <span class="verse" title="Psalm 70:3" id="Psalm-70-3">Let them be turned because of their shame<br/> <span class="indent">&nbsp;&nbsp;</span>Who say, &#8220;Aha! Aha!&#8221;<br/></span>
  <span class="verse" title="Psalm 70:4" id="Psalm-70-4">Let all those who seek you rejoice and be glad in you.<br/> <span class="indent">&nbsp;&nbsp;</span>Let those who love your salvation continually say,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Let God be exalted!&#8221;<br/></span>
  <span class="verse" title="Psalm 70:5" id="Psalm-70-5">But I am poor and needy.<br/> <span class="indent">&nbsp;&nbsp;</span>Come to me quickly, God.<br/>   You are my help and my deliverer.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, don&#8217;t delay.<br/>   <br/></span>
</div>