<div class="chapter" id="Psalms-072">
  <h2>Psalm 72</h2>
  <span class="verse" title="Psalm 72:1" id="Psalm-72-1">God, give the king your justice;<br/> <span class="indent">&nbsp;&nbsp;</span>your righteousness to the royal son.<br/></span>
  <span class="verse" title="Psalm 72:2" id="Psalm-72-2">He will judge your people with righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>and your poor with justice.<br/></span>
  <span class="verse" title="Psalm 72:3" id="Psalm-72-3">The mountains shall bring prosperity to the people.<br/> <span class="indent">&nbsp;&nbsp;</span>The hills bring the fruit of righteousness.<br/></span>
  <span class="verse" title="Psalm 72:4" id="Psalm-72-4">He will judge the poor of the people.<br/> <span class="indent">&nbsp;&nbsp;</span>He will save the children of the needy,<br/> <span class="indent">&nbsp;&nbsp;</span>and will break the oppressor in pieces.<br/></span>
  <span class="verse" title="Psalm 72:5" id="Psalm-72-5">They shall fear you while the sun endures;<br/> <span class="indent">&nbsp;&nbsp;</span>and as long as the moon, throughout all generations.<br/></span>
  <span class="verse" title="Psalm 72:6" id="Psalm-72-6">He will come down like rain on the mown grass,<br/> <span class="indent">&nbsp;&nbsp;</span>as showers that water the earth.<br/></span>
  <span class="verse" title="Psalm 72:7" id="Psalm-72-7">In his days, the righteous shall flourish,<br/> <span class="indent">&nbsp;&nbsp;</span>and abundance of peace, until the moon is no more.<br/></span>
  <span class="verse" title="Psalm 72:8" id="Psalm-72-8">He shall have dominion also from sea to sea,<br/> <span class="indent">&nbsp;&nbsp;</span>from the River to the ends of the earth.<br/></span>
  <span class="verse" title="Psalm 72:9" id="Psalm-72-9">Those who dwell in the wilderness shall bow before him.<br/> <span class="indent">&nbsp;&nbsp;</span>His enemies shall lick the dust.<br/></span>
  <span class="verse" title="Psalm 72:10" id="Psalm-72-10">The kings of Tarshish and of the islands will bring tribute.<br/> <span class="indent">&nbsp;&nbsp;</span>The kings of Sheba and Seba shall offer gifts.<br/></span>
  <span class="verse" title="Psalm 72:11" id="Psalm-72-11">Yes, all kings shall fall down before him.<br/> <span class="indent">&nbsp;&nbsp;</span>All nations shall serve him.<br/></span>
  <span class="verse" title="Psalm 72:12" id="Psalm-72-12">For he will deliver the needy when he cries;<br/> <span class="indent">&nbsp;&nbsp;</span>the poor, who has no helper.<br/></span>
  <span class="verse" title="Psalm 72:13" id="Psalm-72-13">He will have pity on the poor and needy.<br/> <span class="indent">&nbsp;&nbsp;</span>He will save the souls of the needy.<br/></span>
  <span class="verse" title="Psalm 72:14" id="Psalm-72-14">He will redeem their soul from oppression and violence.<br/> <span class="indent">&nbsp;&nbsp;</span>Their blood will be precious in his sight.<br/></span>
  <span class="verse" title="Psalm 72:15" id="Psalm-72-15">They shall live, and to him shall be given of the gold of Sheba.<br/> <span class="indent">&nbsp;&nbsp;</span>Men shall pray for him continually.<br/> <span class="indent">&nbsp;&nbsp;</span>They shall bless him all day long.<br/></span>
  <span class="verse" title="Psalm 72:16" id="Psalm-72-16">Abundance of grain shall be throughout the land.<br/> <span class="indent">&nbsp;&nbsp;</span>Its fruit sways like Lebanon.<br/> <span class="indent">&nbsp;&nbsp;</span>Let it flourish, thriving like the grass of the field.<br/></span>
  <span class="verse" title="Psalm 72:17" id="Psalm-72-17">His name endures forever.<br/> <span class="indent">&nbsp;&nbsp;</span>His name continues as long as the sun.<br/>   Men shall be blessed by him.<br/> <span class="indent">&nbsp;&nbsp;</span>All nations will call him blessed.<br/></span>
  <span class="verse" title="Psalm 72:18" id="Psalm-72-18">Praise be to Yahweh God, the God of Israel,<br/> <span class="indent">&nbsp;&nbsp;</span>who alone does marvelous deeds.<br/></span>
  <span class="verse" title="Psalm 72:19" id="Psalm-72-19">Blessed be his glorious name forever!<br/> <span class="indent">&nbsp;&nbsp;</span>Let the whole earth be filled with his glory!<br/>   Amen and amen.<br/>   <br/></span>
  <span class="verse" title="Psalm 72:20" id="Psalm-72-20">This ends the prayers by David, the son of Jesse.<br/>   BOOK III</span>
</div>