<div class="chapter" id="Psalms-073">
  <h2>Psalm 73</h2>
  <span class="verse" title="Psalm 73:1" id="Psalm-73-1">Surely God is good to Israel,<br/> <span class="indent">&nbsp;&nbsp;</span>to those who are pure in heart.<br/></span>
  <span class="verse" title="Psalm 73:2" id="Psalm-73-2">But as for me, my feet were almost gone.<br/> <span class="indent">&nbsp;&nbsp;</span>My steps had nearly slipped.<br/></span>
  <span class="verse" title="Psalm 73:3" id="Psalm-73-3">For I was envious of the arrogant,<br/> <span class="indent">&nbsp;&nbsp;</span>when I saw the prosperity of the wicked.<br/></span>
  <span class="verse" title="Psalm 73:4" id="Psalm-73-4">For there are no struggles in their death,<br/> <span class="indent">&nbsp;&nbsp;</span>but their strength is firm.<br/></span>
  <span class="verse" title="Psalm 73:5" id="Psalm-73-5">They are free from burdens of men,<br/> <span class="indent">&nbsp;&nbsp;</span>neither are they plagued like other men.<br/></span>
  <span class="verse" title="Psalm 73:6" id="Psalm-73-6">Therefore pride is like a chain around their neck.<br/> <span class="indent">&nbsp;&nbsp;</span>Violence covers them like a garment.<br/></span>
  <span class="verse" title="Psalm 73:7" id="Psalm-73-7">Their eyes bulge with fat.<br/> <span class="indent">&nbsp;&nbsp;</span>Their minds pass the limits of conceit.<br/></span>
  <span class="verse" title="Psalm 73:8" id="Psalm-73-8">They scoff and speak with malice.<br/> <span class="indent">&nbsp;&nbsp;</span>In arrogance, they threaten oppression.<br/></span>
  <span class="verse" title="Psalm 73:9" id="Psalm-73-9">They have set their mouth in the heavens.<br/> <span class="indent">&nbsp;&nbsp;</span>Their tongue walks through the earth.<br/></span>
  <span class="verse" title="Psalm 73:10" id="Psalm-73-10">Therefore their people return to them,<br/> <span class="indent">&nbsp;&nbsp;</span>and they drink up waters of abundance.<br/></span>
  <span class="verse" title="Psalm 73:11" id="Psalm-73-11">They say, &#8220;How does God know?<br/> <span class="indent">&nbsp;&nbsp;</span>Is there knowledge in the Most High?&#8221;<br/></span>
  <span class="verse" title="Psalm 73:12" id="Psalm-73-12">Behold, these are the wicked.<br/> <span class="indent">&nbsp;&nbsp;</span>Being always at ease, they increase in riches.<br/></span>
  <span class="verse" title="Psalm 73:13" id="Psalm-73-13">Surely in vain I have cleansed my heart,<br/> <span class="indent">&nbsp;&nbsp;</span>and washed my hands in innocence,<br/></span>
  <span class="verse" title="Psalm 73:14" id="Psalm-73-14">For all day long have I been plagued,<br/> <span class="indent">&nbsp;&nbsp;</span>and punished every morning.<br/></span>
  <span class="verse" title="Psalm 73:15" id="Psalm-73-15">If I had said, &#8220;I will speak thus;&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>behold, I would have betrayed the generation of your children.<br/></span>
  <span class="verse" title="Psalm 73:16" id="Psalm-73-16">When I tried to understand this,<br/> <span class="indent">&nbsp;&nbsp;</span>it was too painful for me;<br/></span>
  <span class="verse" title="Psalm 73:17" id="Psalm-73-17">Until I entered God&#8217;s sanctuary,<br/> <span class="indent">&nbsp;&nbsp;</span>and considered their latter end.<br/></span>
  <span class="verse" title="Psalm 73:18" id="Psalm-73-18">Surely you set them in slippery places.<br/> <span class="indent">&nbsp;&nbsp;</span>You throw them down to destruction.<br/></span>
  <span class="verse" title="Psalm 73:19" id="Psalm-73-19">How they are suddenly destroyed!<br/> <span class="indent">&nbsp;&nbsp;</span>They are completely swept away with terrors.<br/></span>
  <span class="verse" title="Psalm 73:20" id="Psalm-73-20">As a dream when one wakes up,<br/> <span class="indent">&nbsp;&nbsp;</span>so, Lord, when you awake, you will despise their fantasies.<br/></span>
  <span class="verse" title="Psalm 73:21" id="Psalm-73-21">For my soul was grieved.<br/> <span class="indent">&nbsp;&nbsp;</span>I was embittered in my heart.<br/></span>
  <span class="verse" title="Psalm 73:22" id="Psalm-73-22">I was so senseless and ignorant.<br/> <span class="indent">&nbsp;&nbsp;</span>I was a brute beast before you.<br/></span>
  <span class="verse" title="Psalm 73:23" id="Psalm-73-23">Nevertheless, I am continually with you.<br/> <span class="indent">&nbsp;&nbsp;</span>You have held my right hand.<br/></span>
  <span class="verse" title="Psalm 73:24" id="Psalm-73-24">You will guide me with your counsel,<br/> <span class="indent">&nbsp;&nbsp;</span>and afterward receive me to glory.<br/></span>
  <span class="verse" title="Psalm 73:25" id="Psalm-73-25">Whom do I have in heaven?<br/> <span class="indent">&nbsp;&nbsp;</span>There is no one on earth whom I desire besides you.<br/></span>
  <span class="verse" title="Psalm 73:26" id="Psalm-73-26">My flesh and my heart fails,<br/> <span class="indent">&nbsp;&nbsp;</span>but God is the strength of my heart and my portion forever.<br/></span>
  <span class="verse" title="Psalm 73:27" id="Psalm-73-27">For, behold, those who are far from you shall perish.<br/> <span class="indent">&nbsp;&nbsp;</span>You have destroyed all those who are unfaithful to you.<br/></span>
  <span class="verse" title="Psalm 73:28" id="Psalm-73-28">But it is good for me to come close to God.<br/> <span class="indent">&nbsp;&nbsp;</span>I have made the Lord Yahweh my refuge,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may tell of all your works.<br/></span>
</div>