<div class="chapter" id="Psalms-074">
  <h2>Psalm 74</h2>
  <span class="verse" title="Psalm 74:1" id="Psalm-74-1">God, why have you rejected us forever?<br/> <span class="indent">&nbsp;&nbsp;</span>Why does your anger smolder against the sheep of your pasture?<br/></span>
  <span class="verse" title="Psalm 74:2" id="Psalm-74-2">Remember your congregation, which you purchased of old,<br/> <span class="indent">&nbsp;&nbsp;</span>which you have redeemed to be the tribe of your inheritance;<br/> <span class="indent">&nbsp;&nbsp;</span>Mount Zion, in which you have lived.<br/></span>
  <span class="verse" title="Psalm 74:3" id="Psalm-74-3">Lift up your feet to the perpetual ruins,<br/> <span class="indent">&nbsp;&nbsp;</span>all the evil that the enemy has done in the sanctuary.<br/></span>
  <span class="verse" title="Psalm 74:4" id="Psalm-74-4">Your adversaries have roared in the midst of your assembly.<br/> <span class="indent">&nbsp;&nbsp;</span>They have set up their standards as signs.<br/></span>
  <span class="verse" title="Psalm 74:5" id="Psalm-74-5">They behaved like men wielding axes,<br/> <span class="indent">&nbsp;&nbsp;</span>cutting through a thicket of trees.<br/></span>
  <span class="verse" title="Psalm 74:6" id="Psalm-74-6">Now they break all its carved work down with hatchet and hammers.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 74:7" id="Psalm-74-7">They have burned your sanctuary to the ground.<br/> <span class="indent">&nbsp;&nbsp;</span>They have profaned the dwelling place of your Name.<br/></span>
  <span class="verse" title="Psalm 74:8" id="Psalm-74-8">They said in their heart, &#8220;We will crush them completely.&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>They have burned up all the places in the land where God was worshiped.<br/></span>
  <span class="verse" title="Psalm 74:9" id="Psalm-74-9">We see no miraculous signs.<br/> <span class="indent">&nbsp;&nbsp;</span>There is no longer any prophet,<br/> <span class="indent">&nbsp;&nbsp;</span>neither is there among us anyone who knows how long.<br/></span>
  <span class="verse" title="Psalm 74:10" id="Psalm-74-10">How long, God, shall the adversary reproach?<br/> <span class="indent">&nbsp;&nbsp;</span>Shall the enemy blaspheme your name forever?<br/></span>
  <span class="verse" title="Psalm 74:11" id="Psalm-74-11">Why do you draw back your hand, even your right hand?<br/> <span class="indent">&nbsp;&nbsp;</span>Take it out of your pocket and consume them!<br/></span>
  <span class="verse" title="Psalm 74:12" id="Psalm-74-12">Yet God is my King of old,<br/> <span class="indent">&nbsp;&nbsp;</span>working salvation in the midst of the earth.<br/></span>
  <span class="verse" title="Psalm 74:13" id="Psalm-74-13">You divided the sea by your strength.<br/> <span class="indent">&nbsp;&nbsp;</span>You broke the heads of the sea monsters in the waters.<br/></span>
  <span class="verse" title="Psalm 74:14" id="Psalm-74-14">You broke the heads of Leviathan in pieces.<br/> <span class="indent">&nbsp;&nbsp;</span>You gave him as food to people and desert creatures.<br/></span>
  <span class="verse" title="Psalm 74:15" id="Psalm-74-15">You opened up spring and stream.<br/> <span class="indent">&nbsp;&nbsp;</span>You dried up mighty rivers.<br/></span>
  <span class="verse" title="Psalm 74:16" id="Psalm-74-16">The day is yours, the night is also yours.<br/> <span class="indent">&nbsp;&nbsp;</span>You have prepared the light and the sun.<br/></span>
  <span class="verse" title="Psalm 74:17" id="Psalm-74-17">You have set all the boundaries of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>You have made summer and winter.<br/>   <br/></span>
  <span class="verse" title="Psalm 74:18" id="Psalm-74-18">Remember this, that the enemy has mocked you, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Foolish people have blasphemed your name.<br/></span>
  <span class="verse" title="Psalm 74:19" id="Psalm-74-19">Don&#8217;t deliver the soul of your dove to wild beasts.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t forget the life of your poor forever.<br/></span>
  <span class="verse" title="Psalm 74:20" id="Psalm-74-20">Honor your covenant,<br/> <span class="indent">&nbsp;&nbsp;</span>for haunts of violence fill the dark places of the earth.<br/></span>
  <span class="verse" title="Psalm 74:21" id="Psalm-74-21">Don&#8217;t let the oppressed return ashamed.<br/> <span class="indent">&nbsp;&nbsp;</span>Let the poor and needy praise your name.<br/></span>
  <span class="verse" title="Psalm 74:22" id="Psalm-74-22">Arise, God! Plead your own cause.<br/> <span class="indent">&nbsp;&nbsp;</span>Remember how the foolish man mocks you all day.<br/></span>
  <span class="verse" title="Psalm 74:23" id="Psalm-74-23">Don&#8217;t forget the voice of your adversaries.<br/> <span class="indent">&nbsp;&nbsp;</span>The tumult of those who rise up against you ascends continually.<br/></span>
</div>