<div class="chapter" id="Psalms-075">
  <h2>Psalm 75</h2>
  <span class="verse" title="Psalm 75:1" id="Psalm-75-1">We give thanks to you, God.<br/> <span class="indent">&nbsp;&nbsp;</span>We give thanks, for your Name is near.<br/> <span class="indent">&nbsp;&nbsp;</span>Men tell about your wondrous works.<br/>   <br/></span>
  <span class="verse" title="Psalm 75:2" id="Psalm-75-2">When I choose the appointed time,<br/> <span class="indent">&nbsp;&nbsp;</span>I will judge blamelessly.<br/></span>
  <span class="verse" title="Psalm 75:3" id="Psalm-75-3">The earth and all its inhabitants quake.<br/> <span class="indent">&nbsp;&nbsp;</span>I firmly hold its pillars.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 75:4" id="Psalm-75-4">I said to the arrogant, &#8220;Don&#8217;t boast!&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>I said to the wicked, &#8220;Don&#8217;t lift up the horn.<br/></span>
  <span class="verse" title="Psalm 75:5" id="Psalm-75-5">Don&#8217;t lift up your horn on high.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t speak with a stiff neck.&#8221;<br/></span>
  <span class="verse" title="Psalm 75:6" id="Psalm-75-6">For neither from the east, nor from the west,<br/> <span class="indent">&nbsp;&nbsp;</span>nor yet from the south, comes exaltation.<br/></span>
  <span class="verse" title="Psalm 75:7" id="Psalm-75-7">But God is the judge.<br/> <span class="indent">&nbsp;&nbsp;</span>He puts down one, and lifts up another.<br/></span>
  <span class="verse" title="Psalm 75:8" id="Psalm-75-8">For in the hand of Yahweh there is a cup,<br/> <span class="indent">&nbsp;&nbsp;</span>full of foaming wine mixed with spices.<br/>   He pours it out.<br/> <span class="indent">&nbsp;&nbsp;</span>Indeed the wicked of the earth drink and drink it to its very dregs.<br/>   <br/></span>
  <span class="verse" title="Psalm 75:9" id="Psalm-75-9">But I will declare this forever:<br/> <span class="indent">&nbsp;&nbsp;</span>I will sing praises to the God of Jacob.<br/></span>
  <span class="verse" title="Psalm 75:10" id="Psalm-75-10">I will cut off all the horns of the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>but the horns of the righteous shall be lifted up.<br/></span>
</div>