<div class="chapter" id="Psalms-076">
  <h2>Psalm 76</h2>
  <span class="verse" title="Psalm 76:1" id="Psalm-76-1">In Judah, God is known.<br/> <span class="indent">&nbsp;&nbsp;</span>His name is great in Israel.<br/></span>
  <span class="verse" title="Psalm 76:2" id="Psalm-76-2">His tabernacle is also in Salem;<br/> <span class="indent">&nbsp;&nbsp;</span>His dwelling place in Zion.<br/></span>
  <span class="verse" title="Psalm 76:3" id="Psalm-76-3">There he broke the flaming arrows of the bow,<br/> <span class="indent">&nbsp;&nbsp;</span>the shield, and the sword, and the weapons of war.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 76:4" id="Psalm-76-4">Glorious are you, and excellent,<br/> <span class="indent">&nbsp;&nbsp;</span>more than mountains of game.<br/></span>
  <span class="verse" title="Psalm 76:5" id="Psalm-76-5">Valiant men lie plundered,<br/> <span class="indent">&nbsp;&nbsp;</span>they have slept their last sleep.<br/> <span class="indent">&nbsp;&nbsp;</span>None of the men of war can lift their hands.<br/></span>
  <span class="verse" title="Psalm 76:6" id="Psalm-76-6">At your rebuke, God of Jacob,<br/> <span class="indent">&nbsp;&nbsp;</span>both chariot and horse are cast into a deep sleep.<br/></span>
  <span class="verse" title="Psalm 76:7" id="Psalm-76-7">You, even you, are to be feared.<br/> <span class="indent">&nbsp;&nbsp;</span>Who can stand in your sight when you are angry?<br/></span>
  <span class="verse" title="Psalm 76:8" id="Psalm-76-8">You pronounced judgment from heaven.<br/> <span class="indent">&nbsp;&nbsp;</span>The earth feared, and was silent,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 76:9" id="Psalm-76-9">when God arose to judgment,<br/> <span class="indent">&nbsp;&nbsp;</span>to save all the afflicted ones of the earth.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 76:10" id="Psalm-76-10">Surely the wrath of man praises you.<br/> <span class="indent">&nbsp;&nbsp;</span>The survivors of your wrath are restrained.<br/></span>
  <span class="verse" title="Psalm 76:11" id="Psalm-76-11">Make vows to Yahweh your God, and fulfill them!<br/> <span class="indent">&nbsp;&nbsp;</span>Let all of his neighbors bring presents to him who is to be feared.<br/></span>
  <span class="verse" title="Psalm 76:12" id="Psalm-76-12">He will cut off the spirit of princes.<br/> <span class="indent">&nbsp;&nbsp;</span>He is feared by the kings of the earth.<br/></span>
</div>