<div class="chapter" id="Psalms-080">
  <h2>Psalm 80</h2>
  <span class="verse" title="Psalm 80:1" id="Psalm-80-1">Hear us, Shepherd of Israel,<br/> <span class="indent">&nbsp;&nbsp;</span>you who lead Joseph like a flock,<br/> <span class="indent">&nbsp;&nbsp;</span>you who sit above the cherubim, shine forth.<br/></span>
  <span class="verse" title="Psalm 80:2" id="Psalm-80-2">Before Ephraim and Benjamin and Manasseh, stir up your might!<br/> <span class="indent">&nbsp;&nbsp;</span>Come to save us!<br/></span>
  <span class="verse" title="Psalm 80:3" id="Psalm-80-3">Turn us again, God.<br/> <span class="indent">&nbsp;&nbsp;</span>Cause your face to shine,<br/> <span class="indent">&nbsp;&nbsp;</span>and we will be saved.<br/>   <br/></span>
  <span class="verse" title="Psalm 80:4" id="Psalm-80-4">Yahweh God of Armies,<br/> <span class="indent">&nbsp;&nbsp;</span>How long will you be angry against the prayer of your people?<br/></span>
  <span class="verse" title="Psalm 80:5" id="Psalm-80-5">You have fed them with the bread of tears,<br/> <span class="indent">&nbsp;&nbsp;</span>and given them tears to drink in large measure.<br/></span>
  <span class="verse" title="Psalm 80:6" id="Psalm-80-6">You make us a source of contention to our neighbors.<br/> <span class="indent">&nbsp;&nbsp;</span>Our enemies laugh among themselves.<br/></span>
  <span class="verse" title="Psalm 80:7" id="Psalm-80-7">Turn us again, God of Armies.<br/> <span class="indent">&nbsp;&nbsp;</span>Cause your face to shine,<br/> <span class="indent">&nbsp;&nbsp;</span>and we will be saved.<br/></span>
  <span class="verse" title="Psalm 80:8" id="Psalm-80-8">You brought a vine out of Egypt.<br/> <span class="indent">&nbsp;&nbsp;</span>You drove out the nations, and planted it.<br/></span>
  <span class="verse" title="Psalm 80:9" id="Psalm-80-9">You cleared the ground for it.<br/> <span class="indent">&nbsp;&nbsp;</span>It took deep root, and filled the land.<br/></span>
  <span class="verse" title="Psalm 80:10" id="Psalm-80-10">The mountains were covered with its shadow.<br/> <span class="indent">&nbsp;&nbsp;</span>Its boughs were like God&#8217;s cedars.<br/></span>
  <span class="verse" title="Psalm 80:11" id="Psalm-80-11">It sent out its branches to the sea,<br/> <span class="indent">&nbsp;&nbsp;</span>Its shoots to the River.<br/></span>
  <span class="verse" title="Psalm 80:12" id="Psalm-80-12">Why have you broken down its walls,<br/> <span class="indent">&nbsp;&nbsp;</span>so that all those who pass by the way pluck it?<br/></span>
  <span class="verse" title="Psalm 80:13" id="Psalm-80-13">The boar out of the wood ravages it.<br/> <span class="indent">&nbsp;&nbsp;</span>The wild animals of the field feed on it.<br/></span>
  <span class="verse" title="Psalm 80:14" id="Psalm-80-14">Turn again, we beg you, God of Armies.<br/> <span class="indent">&nbsp;&nbsp;</span>Look down from heaven, and see, and visit this vine,<br/></span>
  <span class="verse" title="Psalm 80:15" id="Psalm-80-15">the stock which your right hand planted,<br/> <span class="indent">&nbsp;&nbsp;</span>the branch that you made strong for yourself.<br/></span>
  <span class="verse" title="Psalm 80:16" id="Psalm-80-16">It&#8217;s burned with fire.<br/> <span class="indent">&nbsp;&nbsp;</span>It&#8217;s cut down.<br/> <span class="indent">&nbsp;&nbsp;</span>They perish at your rebuke.<br/></span>
  <span class="verse" title="Psalm 80:17" id="Psalm-80-17">Let your hand be on the man of your right hand,<br/> <span class="indent">&nbsp;&nbsp;</span>on the son of man whom you made strong for yourself.<br/></span>
  <span class="verse" title="Psalm 80:18" id="Psalm-80-18">So we will not turn away from you.<br/> <span class="indent">&nbsp;&nbsp;</span>Revive us, and we will call on your name.<br/></span>
  <span class="verse" title="Psalm 80:19" id="Psalm-80-19">Turn us again, Yahweh God of Armies.<br/> <span class="indent">&nbsp;&nbsp;</span>Cause your face to shine, and we will be saved.<br/></span>
</div>