<div class="chapter" id="Psalms-081">
  <h2>Psalm 81</h2>
  <span class="verse" title="Psalm 81:1" id="Psalm-81-1">Sing aloud to God, our strength!<br/> <span class="indent">&nbsp;&nbsp;</span>Make a joyful shout to the God of Jacob!<br/></span>
  <span class="verse" title="Psalm 81:2" id="Psalm-81-2">Raise a song, and bring here the tambourine,<br/> <span class="indent">&nbsp;&nbsp;</span>the pleasant lyre with the harp.<br/></span>
  <span class="verse" title="Psalm 81:3" id="Psalm-81-3">Blow the trumpet at the New Moon,<br/> <span class="indent">&nbsp;&nbsp;</span>at the full moon, on our feast day.<br/></span>
  <span class="verse" title="Psalm 81:4" id="Psalm-81-4">For it is a statute for Israel,<br/> <span class="indent">&nbsp;&nbsp;</span>an ordinance of the God of Jacob.<br/></span>
  <span class="verse" title="Psalm 81:5" id="Psalm-81-5">He appointed it in Joseph for a testimony,<br/> <span class="indent">&nbsp;&nbsp;</span>when he went out over the land of Egypt,<br/> <span class="indent">&nbsp;&nbsp;</span>I heard a language that I didn&#8217;t know.<br/></span>
  <span class="verse" title="Psalm 81:6" id="Psalm-81-6">&#8220;I removed his shoulder from the burden.<br/> <span class="indent">&nbsp;&nbsp;</span>His hands were freed from the basket.<br/></span>
  <span class="verse" title="Psalm 81:7" id="Psalm-81-7">You called in trouble, and I delivered you.<br/> <span class="indent">&nbsp;&nbsp;</span>I answered you in the secret place of thunder.<br/> <span class="indent">&nbsp;&nbsp;</span>I tested you at the waters of Meribah.&#8221;<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 81:8" id="Psalm-81-8">&#8220;Hear, my people, and I will testify to you,<br/> <span class="indent">&nbsp;&nbsp;</span>Israel, if you would listen to me!<br/></span>
  <span class="verse" title="Psalm 81:9" id="Psalm-81-9">There shall be no strange god in you,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall you worship any foreign god.<br/></span>
  <span class="verse" title="Psalm 81:10" id="Psalm-81-10">I am Yahweh, your God,<br/> <span class="indent">&nbsp;&nbsp;</span>who brought you up out of the land of Egypt.<br/> <span class="indent">&nbsp;&nbsp;</span>Open your mouth wide, and I will fill it.<br/></span>
  <span class="verse" title="Psalm 81:11" id="Psalm-81-11">But my people didn&#8217;t listen to my voice.<br/> <span class="indent">&nbsp;&nbsp;</span>Israel desired none of me.<br/></span>
  <span class="verse" title="Psalm 81:12" id="Psalm-81-12">So I let them go after the stubbornness of their hearts,<br/> <span class="indent">&nbsp;&nbsp;</span>that they might walk in their own counsels.<br/></span>
  <span class="verse" title="Psalm 81:13" id="Psalm-81-13">Oh that my people would listen to me,<br/> <span class="indent">&nbsp;&nbsp;</span>that Israel would walk in my ways!<br/></span>
  <span class="verse" title="Psalm 81:14" id="Psalm-81-14">I would soon subdue their enemies,<br/> <span class="indent">&nbsp;&nbsp;</span>and turn my hand against their adversaries.<br/></span>
  <span class="verse" title="Psalm 81:15" id="Psalm-81-15">The haters of Yahweh would cringe before him,<br/> <span class="indent">&nbsp;&nbsp;</span>and their punishment would last forever.<br/></span>
  <span class="verse" title="Psalm 81:16" id="Psalm-81-16">But he would have also fed them with the finest of the wheat.<br/> <span class="indent">&nbsp;&nbsp;</span>I will satisfy you with honey out of the rock.&#8221;<br/></span>
</div>