<div class="chapter" id="Psalms-082">
  <h2>Psalm 82</h2>
  <span class="verse" title="Psalm 82:1" id="Psalm-82-1">God presides in the great assembly.<br/> <span class="indent">&nbsp;&nbsp;</span>He judges among the gods.<br/></span>
  <span class="verse" title="Psalm 82:2" id="Psalm-82-2">&#8220;How long will you judge unjustly,<br/> <span class="indent">&nbsp;&nbsp;</span>and show partiality to the wicked?&#8221;<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 82:3" id="Psalm-82-3">&#8220;Defend the weak, the poor, and the fatherless.<br/> <span class="indent">&nbsp;&nbsp;</span>Maintain the rights of the poor and oppressed.<br/></span>
  <span class="verse" title="Psalm 82:4" id="Psalm-82-4">Rescue the weak and needy.<br/> <span class="indent">&nbsp;&nbsp;</span>Deliver them out of the hand of the wicked.&#8221;<br/></span>
  <span class="verse" title="Psalm 82:5" id="Psalm-82-5">They don&#8217;t know, neither do they understand.<br/> <span class="indent">&nbsp;&nbsp;</span>They walk back and forth in darkness.<br/> <span class="indent">&nbsp;&nbsp;</span>All the foundations of the earth are shaken.<br/></span>
  <span class="verse" title="Psalm 82:6" id="Psalm-82-6">I said, &#8220;You are gods,<br/> <span class="indent">&nbsp;&nbsp;</span>all of you are sons of the Most High.<br/></span>
  <span class="verse" title="Psalm 82:7" id="Psalm-82-7">Nevertheless you shall die like men,<br/> <span class="indent">&nbsp;&nbsp;</span>and fall like one of the rulers.&#8221;<br/></span>
  <span class="verse" title="Psalm 82:8" id="Psalm-82-8">Arise, God, judge the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>for you inherit all of the nations.<br/></span>
</div>