<div class="chapter" id="Psalms-083">
  <h2>Psalm 83</h2>
  <span class="verse" title="Psalm 83:1" id="Psalm-83-1">God, don&#8217;t keep silent.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t keep silent,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t be still, God.<br/></span>
  <span class="verse" title="Psalm 83:2" id="Psalm-83-2">For, behold, your enemies are stirred up.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who hate you have lifted up their heads.<br/></span>
  <span class="verse" title="Psalm 83:3" id="Psalm-83-3">They conspire with cunning against your people.<br/> <span class="indent">&nbsp;&nbsp;</span>They plot against your cherished ones.<br/></span>
  <span class="verse" title="Psalm 83:4" id="Psalm-83-4">&#8220;Come,&#8221; they say, &#8220;and let&#8217;s destroy them as a nation,<br/> <span class="indent">&nbsp;&nbsp;</span>that the name of Israel may be remembered no more.&#8221;<br/></span>
  <span class="verse" title="Psalm 83:5" id="Psalm-83-5">For they have conspired together with one mind.<br/> <span class="indent">&nbsp;&nbsp;</span>They form an alliance against you.<br/></span>
  <span class="verse" title="Psalm 83:6" id="Psalm-83-6">The tents of Edom and the Ishmaelites;<br/> <span class="indent">&nbsp;&nbsp;</span>Moab, and the Hagrites;<br/></span>
  <span class="verse" title="Psalm 83:7" id="Psalm-83-7">Gebal, Ammon, and Amalek;<br/> <span class="indent">&nbsp;&nbsp;</span>Philistia with the inhabitants of Tyre;<br/></span>
  <span class="verse" title="Psalm 83:8" id="Psalm-83-8">Assyria also is joined with them.<br/> <span class="indent">&nbsp;&nbsp;</span>They have helped the children of Lot.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 83:9" id="Psalm-83-9">Do to them as you did to Midian,<br/> <span class="indent">&nbsp;&nbsp;</span>as to Sisera, as to Jabin, at the river Kishon;<br/></span>
  <span class="verse" title="Psalm 83:10" id="Psalm-83-10">who perished at Endor,<br/> <span class="indent">&nbsp;&nbsp;</span>who became as dung for the earth.<br/></span>
  <span class="verse" title="Psalm 83:11" id="Psalm-83-11">Make their nobles like Oreb and Zeeb;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, all their princes like Zebah and Zalmunna;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 83:12" id="Psalm-83-12">who said, &#8220;Let us take possession of God&#8217;s pasturelands.&#8221;<br/></span>
  <span class="verse" title="Psalm 83:13" id="Psalm-83-13">My God, make them like tumbleweed;<br/> <span class="indent">&nbsp;&nbsp;</span>like chaff before the wind.<br/></span>
  <span class="verse" title="Psalm 83:14" id="Psalm-83-14">As the fire that burns the forest,<br/> <span class="indent">&nbsp;&nbsp;</span>as the flame that sets the mountains on fire,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 83:15" id="Psalm-83-15">so pursue them with your tempest,<br/> <span class="indent">&nbsp;&nbsp;</span>and terrify them with your storm.<br/></span>
  <span class="verse" title="Psalm 83:16" id="Psalm-83-16">Fill their faces with confusion,<br/> <span class="indent">&nbsp;&nbsp;</span>that they may seek your name, Yahweh.<br/></span>
  <span class="verse" title="Psalm 83:17" id="Psalm-83-17">Let them be disappointed and dismayed forever.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, let them be confounded and perish;<br/></span>
  <span class="verse" title="Psalm 83:18" id="Psalm-83-18">that they may know that you alone, whose name is Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>are the Most High over all the earth.<br/></span>
</div>