<div class="chapter" id="Psalms-084">
  <h2>Psalm 84</h2>
  <span class="verse" title="Psalm 84:1" id="Psalm-84-1">How lovely are your dwellings,<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh of Armies!<br/></span>
  <span class="verse" title="Psalm 84:2" id="Psalm-84-2">My soul longs, and even faints for the courts of Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>My heart and my flesh cry out for the living God.<br/></span>
  <span class="verse" title="Psalm 84:3" id="Psalm-84-3">Yes, the sparrow has found a home,<br/> <span class="indent">&nbsp;&nbsp;</span>and the swallow a nest for herself, where she may have her young,<br/> <span class="indent">&nbsp;&nbsp;</span>near your altars, Yahweh of Armies, my King, and my God.<br/></span>
  <span class="verse" title="Psalm 84:4" id="Psalm-84-4">Blessed are those who dwell in your house.<br/> <span class="indent">&nbsp;&nbsp;</span>They are always praising you.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 84:5" id="Psalm-84-5">Blessed are those whose strength is in you;<br/> <span class="indent">&nbsp;&nbsp;</span>who have set their hearts on a pilgrimage.<br/></span>
  <span class="verse" title="Psalm 84:6" id="Psalm-84-6">Passing through the valley of Weeping, they make it a place of springs.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, the autumn rain covers it with blessings.<br/></span>
  <span class="verse" title="Psalm 84:7" id="Psalm-84-7">They go from strength to strength.<br/> <span class="indent">&nbsp;&nbsp;</span>Everyone of them appears before God in Zion.<br/></span>
  <span class="verse" title="Psalm 84:8" id="Psalm-84-8">Yahweh, God of Armies, hear my prayer.<br/> <span class="indent">&nbsp;&nbsp;</span>Listen, God of Jacob.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 84:9" id="Psalm-84-9">Behold, God our shield,<br/> <span class="indent">&nbsp;&nbsp;</span>look at the face of your anointed.<br/></span>
  <span class="verse" title="Psalm 84:10" id="Psalm-84-10">For a day in your courts is better than a thousand.<br/> <span class="indent">&nbsp;&nbsp;</span>I would rather be a doorkeeper in the house of my God,<br/> <span class="indent">&nbsp;&nbsp;</span>than to dwell in the tents of wickedness.<br/></span>
  <span class="verse" title="Psalm 84:11" id="Psalm-84-11">For Yahweh God is a sun and a shield.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh will give grace and glory.<br/> <span class="indent">&nbsp;&nbsp;</span>He withholds no good thing from those who walk blamelessly.<br/></span>
  <span class="verse" title="Psalm 84:12" id="Psalm-84-12">Yahweh of Armies,<br/> <span class="indent">&nbsp;&nbsp;</span>blessed is the man who trusts in you.<br/></span>
</div>