<div class="chapter" id="Psalms-085">
  <h2>Psalm 85</h2>
  <span class="verse" title="Psalm 85:1" id="Psalm-85-1">Yahweh, you have been favorable to your land.<br/> <span class="indent">&nbsp;&nbsp;</span>You have restored the fortunes of Jacob.<br/></span>
  <span class="verse" title="Psalm 85:2" id="Psalm-85-2">You have forgiven the iniquity of your people.<br/> <span class="indent">&nbsp;&nbsp;</span>You have covered all their sin.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 85:3" id="Psalm-85-3">You have taken away all your wrath.<br/> <span class="indent">&nbsp;&nbsp;</span>You have turned from the fierceness of your anger.<br/></span>
  <span class="verse" title="Psalm 85:4" id="Psalm-85-4">Turn us, God of our salvation,<br/> <span class="indent">&nbsp;&nbsp;</span>and cause your indignation toward us to cease.<br/></span>
  <span class="verse" title="Psalm 85:5" id="Psalm-85-5">Will you be angry with us forever?<br/> <span class="indent">&nbsp;&nbsp;</span>Will you draw out your anger to all generations?<br/></span>
  <span class="verse" title="Psalm 85:6" id="Psalm-85-6">Won&#8217;t you revive us again,<br/> <span class="indent">&nbsp;&nbsp;</span>that your people may rejoice in you?<br/></span>
  <span class="verse" title="Psalm 85:7" id="Psalm-85-7">Show us your loving kindness, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Grant us your salvation.<br/></span>
  <span class="verse" title="Psalm 85:8" id="Psalm-85-8">I will hear what God, Yahweh, will speak,<br/> <span class="indent">&nbsp;&nbsp;</span>for he will speak peace to his people, his saints;<br/> <span class="indent">&nbsp;&nbsp;</span>but let them not turn again to folly.<br/></span>
  <span class="verse" title="Psalm 85:9" id="Psalm-85-9">Surely his salvation is near those who fear him,<br/> <span class="indent">&nbsp;&nbsp;</span>that glory may dwell in our land.<br/></span>
  <span class="verse" title="Psalm 85:10" id="Psalm-85-10">Mercy and truth meet together.<br/> <span class="indent">&nbsp;&nbsp;</span>Righteousness and peace have kissed each other.<br/></span>
  <span class="verse" title="Psalm 85:11" id="Psalm-85-11">Truth springs out of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>Righteousness has looked down from heaven.<br/></span>
  <span class="verse" title="Psalm 85:12" id="Psalm-85-12">Yes, Yahweh will give that which is good.<br/> <span class="indent">&nbsp;&nbsp;</span>Our land will yield its increase.<br/></span>
  <span class="verse" title="Psalm 85:13" id="Psalm-85-13">Righteousness goes before him,<br/> <span class="indent">&nbsp;&nbsp;</span>And prepares the way for his steps.<br/></span>
</div>