<div class="chapter" id="Psalms-087">
  <h2>Psalm 87</h2>
  <span class="verse" title="Psalm 87:1" id="Psalm-87-1">His foundation is in the holy mountains.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 87:2" id="Psalm-87-2">Yahweh loves the gates of Zion more than all the dwellings of Jacob.<br/></span>
  <span class="verse" title="Psalm 87:3" id="Psalm-87-3">Glorious things are spoken about you, city of God.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 87:4" id="Psalm-87-4">I will record Rahab and Babylon among those who acknowledge me.<br/> <span class="indent">&nbsp;&nbsp;</span>Behold, Philistia, Tyre, and also Ethiopia:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;This one was born there.&#8221;<br/></span>
  <span class="verse" title="Psalm 87:5" id="Psalm-87-5">Yes, of Zion it will be said, &#8220;This one and that one was born in her;&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>the Most High himself will establish her.<br/></span>
  <span class="verse" title="Psalm 87:6" id="Psalm-87-6">Yahweh will count, when he writes up the peoples,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;This one was born there.&#8221;<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 87:7" id="Psalm-87-7">Those who sing as well as those who dance say,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;All my springs are in you.&#8221;<br/></span>
</div>