<div class="chapter" id="Psalms-088">
  <h2>Psalm 88</h2>
  <span class="verse" title="Psalm 88:1" id="Psalm-88-1">Yahweh, the God of my salvation,<br/> <span class="indent">&nbsp;&nbsp;</span>I have cried day and night before you.<br/></span>
  <span class="verse" title="Psalm 88:2" id="Psalm-88-2">Let my prayer enter into your presence.<br/> <span class="indent">&nbsp;&nbsp;</span>Turn your ear to my cry.<br/></span>
  <span class="verse" title="Psalm 88:3" id="Psalm-88-3">For my soul is full of troubles.<br/> <span class="indent">&nbsp;&nbsp;</span>My life draws near to Sheol.<br/></span>
  <span class="verse" title="Psalm 88:4" id="Psalm-88-4">I am counted among those who go down into the pit.<br/> <span class="indent">&nbsp;&nbsp;</span>I am like a man who has no help,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 88:5" id="Psalm-88-5">set apart among the dead,<br/> <span class="indent">&nbsp;&nbsp;</span>like the slain who lie in the grave,<br/> <span class="indent">&nbsp;&nbsp;</span>whom you remember no more.<br/> <span class="indent">&nbsp;&nbsp;</span>They are cut off from your hand.<br/></span>
  <span class="verse" title="Psalm 88:6" id="Psalm-88-6">You have laid me in the lowest pit,<br/> <span class="indent">&nbsp;&nbsp;</span>in the darkest depths.<br/></span>
  <span class="verse" title="Psalm 88:7" id="Psalm-88-7">Your wrath lies heavily on me.<br/> <span class="indent">&nbsp;&nbsp;</span>You have afflicted me with all your waves.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 88:8" id="Psalm-88-8">You have taken my friends from me.<br/> <span class="indent">&nbsp;&nbsp;</span>You have made me an abomination to them.<br/> <span class="indent">&nbsp;&nbsp;</span>I am confined, and I can&#8217;t escape.<br/></span>
  <span class="verse" title="Psalm 88:9" id="Psalm-88-9">My eyes are dim from grief.<br/> <span class="indent">&nbsp;&nbsp;</span>I have called on you daily, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>I have spread out my hands to you.<br/></span>
  <span class="verse" title="Psalm 88:10" id="Psalm-88-10">Do you show wonders to the dead?<br/> <span class="indent">&nbsp;&nbsp;</span>Do the dead rise up and praise you?<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 88:11" id="Psalm-88-11">Is your loving kindness declared in the grave?<br/> <span class="indent">&nbsp;&nbsp;</span>Or your faithfulness in Destruction?<br/></span>
  <span class="verse" title="Psalm 88:12" id="Psalm-88-12">Are your wonders made known in the dark?<br/> <span class="indent">&nbsp;&nbsp;</span>Or your righteousness in the land of forgetfulness?<br/></span>
  <span class="verse" title="Psalm 88:13" id="Psalm-88-13">But to you, Yahweh, I have cried.<br/> <span class="indent">&nbsp;&nbsp;</span>In the morning, my prayer comes before you.<br/></span>
  <span class="verse" title="Psalm 88:14" id="Psalm-88-14">Yahweh, why do you reject my soul?<br/> <span class="indent">&nbsp;&nbsp;</span>Why do you hide your face from me?<br/></span>
  <span class="verse" title="Psalm 88:15" id="Psalm-88-15">I am afflicted and ready to die from my youth up.<br/> <span class="indent">&nbsp;&nbsp;</span>While I suffer your terrors, I am distracted.<br/></span>
  <span class="verse" title="Psalm 88:16" id="Psalm-88-16">Your fierce wrath has gone over me.<br/> <span class="indent">&nbsp;&nbsp;</span>Your terrors have cut me off.<br/></span>
  <span class="verse" title="Psalm 88:17" id="Psalm-88-17">They came around me like water all day long.<br/> <span class="indent">&nbsp;&nbsp;</span>They completely engulfed me.<br/></span>
  <span class="verse" title="Psalm 88:18" id="Psalm-88-18">You have put lover and friend far from me,<br/> <span class="indent">&nbsp;&nbsp;</span>and my friends into darkness.<br/></span>
</div>