<div class="chapter" id="Psalms-089">
  <h2>Psalm 89</h2>
  <span class="verse" title="Psalm 89:1" id="Psalm-89-1">I will sing of the loving kindness of Yahweh forever.<br/> <span class="indent">&nbsp;&nbsp;</span>With my mouth, I will make known your faithfulness to all generations.<br/></span>
  <span class="verse" title="Psalm 89:2" id="Psalm-89-2">I indeed declare, &#8220;Love stands firm forever.<br/> <span class="indent">&nbsp;&nbsp;</span>You established the heavens.<br/> <span class="indent">&nbsp;&nbsp;</span>Your faithfulness is in them.&#8221;<br/>   <br/></span>
  <span class="verse" title="Psalm 89:3" id="Psalm-89-3">&#8220;I have made a covenant with my chosen one,<br/> <span class="indent">&nbsp;&nbsp;</span>I have sworn to David, my servant,<br/></span>
  <span class="verse" title="Psalm 89:4" id="Psalm-89-4">&#8216;I will establish your seed forever,<br/> <span class="indent">&nbsp;&nbsp;</span>and build up your throne to all generations.&#8217;&#8221;<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 89:5" id="Psalm-89-5">The heavens will praise your wonders, Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span>your faithfulness also in the assembly of the holy ones.<br/></span>
  <span class="verse" title="Psalm 89:6" id="Psalm-89-6">For who in the skies can be compared to Yahweh?<br/> <span class="indent">&nbsp;&nbsp;</span>Who among the sons of the heavenly beings is like Yahweh,<br/></span>
  <span class="verse" title="Psalm 89:7" id="Psalm-89-7">a very awesome God in the council of the holy ones,<br/> <span class="indent">&nbsp;&nbsp;</span>to be feared above all those who are around him?<br/></span>
  <span class="verse" title="Psalm 89:8" id="Psalm-89-8">Yahweh, God of Armies, who is a mighty one, like you?<br/> <span class="indent">&nbsp;&nbsp;</span>Yah, your faithfulness is around you.<br/></span>
  <span class="verse" title="Psalm 89:9" id="Psalm-89-9">You rule the pride of the sea.<br/> <span class="indent">&nbsp;&nbsp;</span>When its waves rise up, you calm them.<br/></span>
  <span class="verse" title="Psalm 89:10" id="Psalm-89-10">You have broken Rahab in pieces, like one of the slain.<br/> <span class="indent">&nbsp;&nbsp;</span>You have scattered your enemies with your mighty arm.<br/></span>
  <span class="verse" title="Psalm 89:11" id="Psalm-89-11">The heavens are yours.<br/> <span class="indent">&nbsp;&nbsp;</span>The earth also is yours;<br/> <span class="indent">&nbsp;&nbsp;</span>the world and its fullness.<br/> <span class="indent">&nbsp;&nbsp;</span>You have founded them.<br/></span>
  <span class="verse" title="Psalm 89:12" id="Psalm-89-12">The north and the south, you have created them.<br/> <span class="indent">&nbsp;&nbsp;</span>Tabor and Hermon rejoice in your name.<br/></span>
  <span class="verse" title="Psalm 89:13" id="Psalm-89-13">You have a mighty arm.<br/> <span class="indent">&nbsp;&nbsp;</span>Your hand is strong, and your right hand is exalted.<br/></span>
  <span class="verse" title="Psalm 89:14" id="Psalm-89-14">Righteousness and justice are the foundation of your throne.<br/> <span class="indent">&nbsp;&nbsp;</span>Loving kindness and truth go before your face.<br/></span>
  <span class="verse" title="Psalm 89:15" id="Psalm-89-15">Blessed are the people who learn to acclaim you.<br/> <span class="indent">&nbsp;&nbsp;</span>They walk in the light of your presence, Yahweh.<br/></span>
  <span class="verse" title="Psalm 89:16" id="Psalm-89-16">In your name they rejoice all day.<br/> <span class="indent">&nbsp;&nbsp;</span>In your righteousness, they are exalted.<br/></span>
  <span class="verse" title="Psalm 89:17" id="Psalm-89-17">For you are the glory of their strength.<br/> <span class="indent">&nbsp;&nbsp;</span>In your favor, our horn will be exalted.<br/></span>
  <span class="verse" title="Psalm 89:18" id="Psalm-89-18">For our shield belongs to Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span>our king to the Holy One of Israel.<br/></span>
  <span class="verse" title="Psalm 89:19" id="Psalm-89-19">Then you spoke in vision to your saints,<br/> <span class="indent">&nbsp;&nbsp;</span>and said, &#8220;I have bestowed strength on the warrior.<br/> <span class="indent">&nbsp;&nbsp;</span>I have exalted a young man from the people.<br/></span>
  <span class="verse" title="Psalm 89:20" id="Psalm-89-20">I have found David, my servant.<br/> <span class="indent">&nbsp;&nbsp;</span>I have anointed him with my holy oil,<br/></span>
  <span class="verse" title="Psalm 89:21" id="Psalm-89-21">with whom my hand shall be established.<br/> <span class="indent">&nbsp;&nbsp;</span>My arm will also strengthen him.<br/></span>
  <span class="verse" title="Psalm 89:22" id="Psalm-89-22">No enemy will tax him.<br/> <span class="indent">&nbsp;&nbsp;</span>No wicked man will oppress him.<br/></span>
  <span class="verse" title="Psalm 89:23" id="Psalm-89-23">I will beat down his adversaries before him,<br/> <span class="indent">&nbsp;&nbsp;</span>and strike those who hate him.<br/></span>
  <span class="verse" title="Psalm 89:24" id="Psalm-89-24">But my faithfulness and my loving kindness will be with him.<br/> <span class="indent">&nbsp;&nbsp;</span>In my name, his horn will be exalted.<br/></span>
  <span class="verse" title="Psalm 89:25" id="Psalm-89-25">I will set his hand also on the sea,<br/> <span class="indent">&nbsp;&nbsp;</span>and his right hand on the rivers.<br/></span>
  <span class="verse" title="Psalm 89:26" id="Psalm-89-26">He will call to me, &#8216;You are my Father,<br/> <span class="indent">&nbsp;&nbsp;</span>my God, and the rock of my salvation!&#8217;<br/></span>
  <span class="verse" title="Psalm 89:27" id="Psalm-89-27">I will also appoint him my firstborn,<br/> <span class="indent">&nbsp;&nbsp;</span>the highest of the kings of the earth.<br/></span>
  <span class="verse" title="Psalm 89:28" id="Psalm-89-28">I will keep my loving kindness for him forevermore.<br/> <span class="indent">&nbsp;&nbsp;</span>My covenant will stand firm with him.<br/></span>
  <span class="verse" title="Psalm 89:29" id="Psalm-89-29">I will also make his seed endure forever,<br/> <span class="indent">&nbsp;&nbsp;</span>and his throne as the days of heaven.<br/></span>
  <span class="verse" title="Psalm 89:30" id="Psalm-89-30">If his children forsake my law,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t walk in my ordinances;<br/></span>
  <span class="verse" title="Psalm 89:31" id="Psalm-89-31">if they break my statutes,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t keep my commandments;<br/></span>
  <span class="verse" title="Psalm 89:32" id="Psalm-89-32">then I will punish their sin with the rod,<br/> <span class="indent">&nbsp;&nbsp;</span>and their iniquity with stripes.<br/></span>
  <span class="verse" title="Psalm 89:33" id="Psalm-89-33">But I will not completely take my loving kindness from him,<br/> <span class="indent">&nbsp;&nbsp;</span>nor allow my faithfulness to fail.<br/></span>
  <span class="verse" title="Psalm 89:34" id="Psalm-89-34">I will not break my covenant,<br/> <span class="indent">&nbsp;&nbsp;</span>nor alter what my lips have uttered.<br/></span>
  <span class="verse" title="Psalm 89:35" id="Psalm-89-35">Once have I sworn by my holiness,<br/> <span class="indent">&nbsp;&nbsp;</span>I will not lie to David.<br/></span>
  <span class="verse" title="Psalm 89:36" id="Psalm-89-36">His seed will endure forever,<br/> <span class="indent">&nbsp;&nbsp;</span>his throne like the sun before me.<br/></span>
  <span class="verse" title="Psalm 89:37" id="Psalm-89-37">It will be established forever like the moon,<br/> <span class="indent">&nbsp;&nbsp;</span>the faithful witness in the sky.&#8221;<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 89:38" id="Psalm-89-38">But you have rejected and spurned.<br/> <span class="indent">&nbsp;&nbsp;</span>You have been angry with your anointed.<br/></span>
  <span class="verse" title="Psalm 89:39" id="Psalm-89-39">You have renounced the covenant of your servant.<br/> <span class="indent">&nbsp;&nbsp;</span>You have defiled his crown in the dust.<br/></span>
  <span class="verse" title="Psalm 89:40" id="Psalm-89-40">You have broken down all his hedges.<br/> <span class="indent">&nbsp;&nbsp;</span>You have brought his strongholds to ruin.<br/></span>
  <span class="verse" title="Psalm 89:41" id="Psalm-89-41">All who pass by the way rob him.<br/>   He has become a reproach to his neighbors.<br/></span>
  <span class="verse" title="Psalm 89:42" id="Psalm-89-42">You have exalted the right hand of his adversaries.<br/> <span class="indent">&nbsp;&nbsp;</span>You have made all of his enemies rejoice.<br/></span>
  <span class="verse" title="Psalm 89:43" id="Psalm-89-43">Yes, you turn back the edge of his sword,<br/> <span class="indent">&nbsp;&nbsp;</span>and haven&#8217;t supported him in battle.<br/></span>
  <span class="verse" title="Psalm 89:44" id="Psalm-89-44">You have ended his splendor,<br/> <span class="indent">&nbsp;&nbsp;</span>and thrown his throne down to the ground.<br/></span>
  <span class="verse" title="Psalm 89:45" id="Psalm-89-45">You have shortened the days of his youth.<br/> <span class="indent">&nbsp;&nbsp;</span>You have covered him with shame.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 89:46" id="Psalm-89-46">How long, Yahweh?<br/> <span class="indent">&nbsp;&nbsp;</span>Will you hide yourself forever?<br/> <span class="indent">&nbsp;&nbsp;</span>Will your wrath burn like fire?<br/></span>
  <span class="verse" title="Psalm 89:47" id="Psalm-89-47">Remember how short my time is!<br/> <span class="indent">&nbsp;&nbsp;</span>For what vanity have you created all the children of men!<br/></span>
  <span class="verse" title="Psalm 89:48" id="Psalm-89-48">What man is he who shall live and not see death,<br/> <span class="indent">&nbsp;&nbsp;</span>who shall deliver his soul from the power of Sheol?<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 89:49" id="Psalm-89-49">Lord, where are your former loving kindnesses,<br/> <span class="indent">&nbsp;&nbsp;</span>which you swore to David in your faithfulness?<br/></span>
  <span class="verse" title="Psalm 89:50" id="Psalm-89-50">Remember, Lord, the reproach of your servants,<br/> <span class="indent">&nbsp;&nbsp;</span>how I bear in my heart the taunts of all the mighty peoples,<br/></span>
  <span class="verse" title="Psalm 89:51" id="Psalm-89-51">With which your enemies have mocked, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>with which they have mocked the footsteps of your anointed one.<br/>   <br/></span>
  <span class="verse" title="Psalm 89:52" id="Psalm-89-52">Blessed be Yahweh forevermore.<br/>   Amen, and Amen.<br/>   BOOK IV</span>
</div>