<div class="chapter" id="Psalms-090">
  <h2>Psalm 90</h2>
  <span class="verse" title="Psalm 90:1" id="Psalm-90-1">Lord, you have been our dwelling place for all generations.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 90:2" id="Psalm-90-2">Before the mountains were brought forth,<br/> <span class="indent">&nbsp;&nbsp;</span>before you had formed the earth and the world,<br/> <span class="indent">&nbsp;&nbsp;</span>even from everlasting to everlasting, you are God.<br/></span>
  <span class="verse" title="Psalm 90:3" id="Psalm-90-3">You turn man to destruction, saying,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Return, you children of men.&#8221;<br/></span>
  <span class="verse" title="Psalm 90:4" id="Psalm-90-4">For a thousand years in your sight are just like yesterday when it is past,<br/> <span class="indent">&nbsp;&nbsp;</span>like a watch in the night.<br/></span>
  <span class="verse" title="Psalm 90:5" id="Psalm-90-5">You sweep them away as they sleep.<br/> <span class="indent">&nbsp;&nbsp;</span>In the morning they sprout like new grass.<br/></span>
  <span class="verse" title="Psalm 90:6" id="Psalm-90-6">In the morning it sprouts and springs up.<br/> <span class="indent">&nbsp;&nbsp;</span>By evening, it is withered and dry.<br/></span>
  <span class="verse" title="Psalm 90:7" id="Psalm-90-7">For we are consumed in your anger.<br/> <span class="indent">&nbsp;&nbsp;</span>We are troubled in your wrath.<br/></span>
  <span class="verse" title="Psalm 90:8" id="Psalm-90-8">You have set our iniquities before you,<br/> <span class="indent">&nbsp;&nbsp;</span>our secret sins in the light of your presence.<br/></span>
  <span class="verse" title="Psalm 90:9" id="Psalm-90-9">For all our days have passed away in your wrath.<br/> <span class="indent">&nbsp;&nbsp;</span>We bring our years to an end as a sigh.<br/></span>
  <span class="verse" title="Psalm 90:10" id="Psalm-90-10">The days of our years are seventy,<br/> <span class="indent">&nbsp;&nbsp;</span>or even by reason of strength eighty years;<br/> <span class="indent">&nbsp;&nbsp;</span>yet their pride is but labor and sorrow,<br/> <span class="indent">&nbsp;&nbsp;</span>for it passes quickly, and we fly away.<br/></span>
  <span class="verse" title="Psalm 90:11" id="Psalm-90-11">Who knows the power of your anger,<br/> <span class="indent">&nbsp;&nbsp;</span>your wrath according to the fear that is due to you?<br/></span>
  <span class="verse" title="Psalm 90:12" id="Psalm-90-12">So teach us to number our days,<br/> <span class="indent">&nbsp;&nbsp;</span>that we may gain a heart of wisdom.<br/></span>
  <span class="verse" title="Psalm 90:13" id="Psalm-90-13">Relent, Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>How long?<br/> <span class="indent">&nbsp;&nbsp;</span>Have compassion on your servants!<br/></span>
  <span class="verse" title="Psalm 90:14" id="Psalm-90-14">Satisfy us in the morning with your loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>that we may rejoice and be glad all our days.<br/></span>
  <span class="verse" title="Psalm 90:15" id="Psalm-90-15">Make us glad for as many days as you have afflicted us,<br/> <span class="indent">&nbsp;&nbsp;</span>for as many years as we have seen evil.<br/></span>
  <span class="verse" title="Psalm 90:16" id="Psalm-90-16">Let your work appear to your servants;<br/> <span class="indent">&nbsp;&nbsp;</span>your glory to their children.<br/></span>
  <span class="verse" title="Psalm 90:17" id="Psalm-90-17">Let the favor of the Lord our God be on us;<br/> <span class="indent">&nbsp;&nbsp;</span>establish the work of our hands for us;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, establish the work of our hands.<br/></span>
</div>