<div class="chapter" id="Psalms-091">
  <h2>Psalm 91</h2>
  <span class="verse" title="Psalm 91:1" id="Psalm-91-1">He who dwells in the secret place of the Most High<br/> <span class="indent">&nbsp;&nbsp;</span>will rest in the shadow of the Almighty.<br/></span>
  <span class="verse" title="Psalm 91:2" id="Psalm-91-2">I will say of Yahweh, &#8220;He is my refuge and my fortress;<br/> <span class="indent">&nbsp;&nbsp;</span>my God, in whom I trust.&#8221;<br/></span>
  <span class="verse" title="Psalm 91:3" id="Psalm-91-3">For he will deliver you from the snare of the fowler,<br/> <span class="indent">&nbsp;&nbsp;</span>and from the deadly pestilence.<br/></span>
  <span class="verse" title="Psalm 91:4" id="Psalm-91-4">He will cover you with his feathers.<br/> <span class="indent">&nbsp;&nbsp;</span>Under his wings you will take refuge.<br/> <span class="indent">&nbsp;&nbsp;</span>His faithfulness is your shield and rampart.<br/></span>
  <span class="verse" title="Psalm 91:5" id="Psalm-91-5">You shall not be afraid of the terror by night,<br/> <span class="indent">&nbsp;&nbsp;</span>nor of the arrow that flies by day;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 91:6" id="Psalm-91-6">nor of the pestilence that walks in darkness,<br/> <span class="indent">&nbsp;&nbsp;</span>nor of the destruction that wastes at noonday.<br/></span>
  <span class="verse" title="Psalm 91:7" id="Psalm-91-7">A thousand may fall at your side,<br/> <span class="indent">&nbsp;&nbsp;</span>and ten thousand at your right hand;<br/> <span class="indent">&nbsp;&nbsp;</span>but it will not come near you.<br/></span>
  <span class="verse" title="Psalm 91:8" id="Psalm-91-8">You will only look with your eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>and see the recompense of the wicked.<br/></span>
  <span class="verse" title="Psalm 91:9" id="Psalm-91-9">Because you have made Yahweh your refuge,<br/> <span class="indent">&nbsp;&nbsp;</span>and the Most High your dwelling place,<br/></span>
  <span class="verse" title="Psalm 91:10" id="Psalm-91-10">no evil shall happen to you,<br/> <span class="indent">&nbsp;&nbsp;</span>neither shall any plague come near your dwelling.<br/></span>
  <span class="verse" title="Psalm 91:11" id="Psalm-91-11">For he will put his angels in charge of you,<br/> <span class="indent">&nbsp;&nbsp;</span>to guard you in all your ways.<br/></span>
  <span class="verse" title="Psalm 91:12" id="Psalm-91-12">They will bear you up in their hands,<br/> <span class="indent">&nbsp;&nbsp;</span>so that you won&#8217;t dash your foot against a stone.<br/></span>
  <span class="verse" title="Psalm 91:13" id="Psalm-91-13">You will tread on the lion and cobra.<br/> <span class="indent">&nbsp;&nbsp;</span>You will trample the young lion and the serpent underfoot.<br/></span>
  <span class="verse" title="Psalm 91:14" id="Psalm-91-14">&#8220;Because he has set his love on me, therefore I will deliver him.<br/> <span class="indent">&nbsp;&nbsp;</span>I will set him on high, because he has known my name.<br/></span>
  <span class="verse" title="Psalm 91:15" id="Psalm-91-15">He will call on me, and I will answer him.<br/> <span class="indent">&nbsp;&nbsp;</span>I will be with him in trouble.<br/> <span class="indent">&nbsp;&nbsp;</span>I will deliver him, and honor him.<br/></span>
  <span class="verse" title="Psalm 91:16" id="Psalm-91-16">I will satisfy him with long life,<br/> <span class="indent">&nbsp;&nbsp;</span>and show him my salvation.&#8221;<br/></span>
</div>