<div class="chapter" id="Psalms-092">
  <h2>Psalm 92</h2>
  <span class="verse" title="Psalm 92:1" id="Psalm-92-1">It is a good thing to give thanks to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>to sing praises to your name, Most High;<br/></span>
  <span class="verse" title="Psalm 92:2" id="Psalm-92-2">to proclaim your loving kindness in the morning,<br/> <span class="indent">&nbsp;&nbsp;</span>and your faithfulness every night,<br/></span>
  <span class="verse" title="Psalm 92:3" id="Psalm-92-3">with the ten-stringed lute, with the harp,<br/> <span class="indent">&nbsp;&nbsp;</span>and with the melody of the lyre.<br/></span>
  <span class="verse" title="Psalm 92:4" id="Psalm-92-4">For you, Yahweh, have made me glad through your work.<br/> <span class="indent">&nbsp;&nbsp;</span>I will triumph in the works of your hands.<br/></span>
  <span class="verse" title="Psalm 92:5" id="Psalm-92-5">How great are your works, Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>Your thoughts are very deep.<br/></span>
  <span class="verse" title="Psalm 92:6" id="Psalm-92-6">A senseless man doesn&#8217;t know,<br/> <span class="indent">&nbsp;&nbsp;</span>neither does a fool understand this:<br/></span>
  <span class="verse" title="Psalm 92:7" id="Psalm-92-7">though the wicked spring up as the grass,<br/> <span class="indent">&nbsp;&nbsp;</span>and all the evildoers flourish,<br/> <span class="indent">&nbsp;&nbsp;</span>they will be destroyed forever.<br/></span>
  <span class="verse" title="Psalm 92:8" id="Psalm-92-8">But you, Yahweh, are on high forevermore.<br/></span>
  <span class="verse" title="Psalm 92:9" id="Psalm-92-9">For, behold, your enemies, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>for, behold, your enemies shall perish.<br/> <span class="indent">&nbsp;&nbsp;</span>All the evildoers will be scattered.<br/></span>
  <span class="verse" title="Psalm 92:10" id="Psalm-92-10">But you have exalted my horn like that of the wild ox.<br/> <span class="indent">&nbsp;&nbsp;</span>I am anointed with fresh oil.<br/></span>
  <span class="verse" title="Psalm 92:11" id="Psalm-92-11">My eye has also seen my enemies.<br/> <span class="indent">&nbsp;&nbsp;</span>My ears have heard of the wicked enemies who rise up against me.<br/></span>
  <span class="verse" title="Psalm 92:12" id="Psalm-92-12">The righteous shall flourish like the palm tree.<br/> <span class="indent">&nbsp;&nbsp;</span>He will grow like a cedar in Lebanon.<br/></span>
  <span class="verse" title="Psalm 92:13" id="Psalm-92-13">They are planted in Yahweh&#8217;s house.<br/> <span class="indent">&nbsp;&nbsp;</span>They will flourish in our God&#8217;s courts.<br/></span>
  <span class="verse" title="Psalm 92:14" id="Psalm-92-14">They will still bring forth fruit in old age.<br/> <span class="indent">&nbsp;&nbsp;</span>They will be full of sap and green,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 92:15" id="Psalm-92-15">to show that Yahweh is upright.<br/>   He is my rock,<br/> <span class="indent">&nbsp;&nbsp;</span>and there is no unrighteousness in him.<br/></span>
</div>