<div class="chapter" id="Psalms-093">
  <h2>Psalm 93</h2>
  <span class="verse" title="Psalm 93:1" id="Psalm-93-1">Yahweh reigns!<br/> <span class="indent">&nbsp;&nbsp;</span>He is clothed with majesty!<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh is armed with strength.<br/>   The world also is established.<br/> <span class="indent">&nbsp;&nbsp;</span>It can&#8217;t be moved.<br/></span>
  <span class="verse" title="Psalm 93:2" id="Psalm-93-2">Your throne is established from long ago.<br/> <span class="indent">&nbsp;&nbsp;</span>You are from everlasting.<br/></span>
  <span class="verse" title="Psalm 93:3" id="Psalm-93-3">The floods have lifted up, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>the floods have lifted up their voice.<br/> <span class="indent">&nbsp;&nbsp;</span>The floods lift up their waves.<br/></span>
  <span class="verse" title="Psalm 93:4" id="Psalm-93-4">Above the voices of many waters,<br/> <span class="indent">&nbsp;&nbsp;</span>the mighty breakers of the sea,<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh on high is mighty.<br/></span>
  <span class="verse" title="Psalm 93:5" id="Psalm-93-5">Your statutes stand firm.<br/> <span class="indent">&nbsp;&nbsp;</span>Holiness adorns your house,<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, forevermore.<br/></span>
</div>