<div class="chapter" id="Psalms-094">
  <h2>Psalm 94</h2>
  <span class="verse" title="Psalm 94:1" id="Psalm-94-1">Yahweh, you God to whom vengeance belongs,<br/> <span class="indent">&nbsp;&nbsp;</span>you God to whom vengeance belongs, shine forth.<br/></span>
  <span class="verse" title="Psalm 94:2" id="Psalm-94-2">Rise up, you judge of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>Pay back the proud what they deserve.<br/></span>
  <span class="verse" title="Psalm 94:3" id="Psalm-94-3">Yahweh, how long will the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>how long will the wicked triumph?<br/></span>
  <span class="verse" title="Psalm 94:4" id="Psalm-94-4">They pour out arrogant words.<br/> <span class="indent">&nbsp;&nbsp;</span>All the evildoers boast.<br/></span>
  <span class="verse" title="Psalm 94:5" id="Psalm-94-5">They break your people in pieces, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>and afflict your heritage.<br/></span>
  <span class="verse" title="Psalm 94:6" id="Psalm-94-6">They kill the widow and the alien,<br/> <span class="indent">&nbsp;&nbsp;</span>and murder the fatherless.<br/></span>
  <span class="verse" title="Psalm 94:7" id="Psalm-94-7">They say, &#8220;Yah will not see,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will Jacob&#8217;s God consider.&#8221;<br/></span>
  <span class="verse" title="Psalm 94:8" id="Psalm-94-8">Consider, you senseless among the people;<br/> <span class="indent">&nbsp;&nbsp;</span>you fools, when will you be wise?<br/></span>
  <span class="verse" title="Psalm 94:9" id="Psalm-94-9">He who implanted the ear, won&#8217;t he hear?<br/> <span class="indent">&nbsp;&nbsp;</span>He who formed the eye, won&#8217;t he see?<br/></span>
  <span class="verse" title="Psalm 94:10" id="Psalm-94-10">He who disciplines the nations, won&#8217;t he punish?<br/> <span class="indent">&nbsp;&nbsp;</span>He who teaches man knows.<br/></span>
  <span class="verse" title="Psalm 94:11" id="Psalm-94-11">Yahweh knows the thoughts of man,<br/> <span class="indent">&nbsp;&nbsp;</span>that they are futile.<br/></span>
  <span class="verse" title="Psalm 94:12" id="Psalm-94-12">Blessed is the man whom you discipline, Yah,<br/> <span class="indent">&nbsp;&nbsp;</span>and teach out of your law;<br/></span>
  <span class="verse" title="Psalm 94:13" id="Psalm-94-13">that you may give him rest from the days of adversity,<br/> <span class="indent">&nbsp;&nbsp;</span>until the pit is dug for the wicked.<br/></span>
  <span class="verse" title="Psalm 94:14" id="Psalm-94-14">For Yahweh won&#8217;t reject his people,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will he forsake his inheritance.<br/></span>
  <span class="verse" title="Psalm 94:15" id="Psalm-94-15">For judgment will return to righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>All the upright in heart shall follow it.<br/></span>
  <span class="verse" title="Psalm 94:16" id="Psalm-94-16">Who will rise up for me against the wicked?<br/> <span class="indent">&nbsp;&nbsp;</span>Who will stand up for me against the evildoers?<br/></span>
  <span class="verse" title="Psalm 94:17" id="Psalm-94-17">Unless Yahweh had been my help,<br/> <span class="indent">&nbsp;&nbsp;</span>my soul would have soon lived in silence.<br/></span>
  <span class="verse" title="Psalm 94:18" id="Psalm-94-18">When I said, &#8220;My foot is slipping!&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>Your loving kindness, Yahweh, held me up.<br/></span>
  <span class="verse" title="Psalm 94:19" id="Psalm-94-19">In the multitude of my thoughts within me,<br/> <span class="indent">&nbsp;&nbsp;</span>your comforts delight my soul.<br/></span>
  <span class="verse" title="Psalm 94:20" id="Psalm-94-20">Shall the throne of wickedness have fellowship with you,<br/> <span class="indent">&nbsp;&nbsp;</span>which brings about mischief by statute?<br/></span>
  <span class="verse" title="Psalm 94:21" id="Psalm-94-21">They gather themselves together against the soul of the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>and condemn the innocent blood.<br/></span>
  <span class="verse" title="Psalm 94:22" id="Psalm-94-22">But Yahweh has been my high tower,<br/> <span class="indent">&nbsp;&nbsp;</span>my God, the rock of my refuge.<br/></span>
  <span class="verse" title="Psalm 94:23" id="Psalm-94-23">He has brought on them their own iniquity,<br/> <span class="indent">&nbsp;&nbsp;</span>and will cut them off in their own wickedness.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, our God, will cut them off.<br/></span>
</div>