<div class="chapter" id="Psalms-095">
  <h2>Psalm 95</h2>
  <span class="verse" title="Psalm 95:1" id="Psalm-95-1">Oh come, let&#8217;s sing to Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Let&#8217;s shout aloud to the rock of our salvation!<br/></span>
  <span class="verse" title="Psalm 95:2" id="Psalm-95-2">Let&#8217;s come before his presence with thanksgiving.<br/> <span class="indent">&nbsp;&nbsp;</span>Let&#8217;s extol him with songs!<br/></span>
  <span class="verse" title="Psalm 95:3" id="Psalm-95-3">For Yahweh is a great God,<br/> <span class="indent">&nbsp;&nbsp;</span>a great King above all gods.<br/></span>
  <span class="verse" title="Psalm 95:4" id="Psalm-95-4">In his hand are the deep places of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>The heights of the mountains are also his.<br/></span>
  <span class="verse" title="Psalm 95:5" id="Psalm-95-5">The sea is his, and he made it.<br/> <span class="indent">&nbsp;&nbsp;</span>His hands formed the dry land.<br/></span>
  <span class="verse" title="Psalm 95:6" id="Psalm-95-6">Oh come, let&#8217;s worship and bow down.<br/> <span class="indent">&nbsp;&nbsp;</span>Let&#8217;s kneel before Yahweh, our Maker,<br/></span>
  <span class="verse" title="Psalm 95:7" id="Psalm-95-7">for he is our God.<br/> <span class="indent">&nbsp;&nbsp;</span>We are the people of his pasture,<br/> <span class="indent">&nbsp;&nbsp;</span>and the sheep in his care.<br/>   Today, oh that you would hear his voice!<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 95:8" id="Psalm-95-8">Don&#8217;t harden your heart, as at Meribah,<br/> <span class="indent">&nbsp;&nbsp;</span>as in the day of Massah in the wilderness,<br/></span>
  <span class="verse" title="Psalm 95:9" id="Psalm-95-9">when your fathers tempted me,<br/> <span class="indent">&nbsp;&nbsp;</span>tested me, and saw my work.<br/></span>
  <span class="verse" title="Psalm 95:10" id="Psalm-95-10">Forty long years I was grieved with that generation,<br/> <span class="indent">&nbsp;&nbsp;</span>and said, &#8220;It is a people that errs in their heart.<br/> <span class="indent">&nbsp;&nbsp;</span>They have not known my ways.&#8221;<br/></span>
  <span class="verse" title="Psalm 95:11" id="Psalm-95-11">Therefore I swore in my wrath,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;They won&#8217;t enter into my rest.&#8221;<br/></span>
</div>