<div class="chapter" id="Psalms-096">
  <h2>Psalm 96</h2>
  <span class="verse" title="Psalm 96:1" id="Psalm-96-1">Sing to Yahweh a new song!<br/> <span class="indent">&nbsp;&nbsp;</span>Sing to Yahweh, all the earth.<br/></span>
  <span class="verse" title="Psalm 96:2" id="Psalm-96-2">Sing to Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>Bless his name!<br/> <span class="indent">&nbsp;&nbsp;</span>Proclaim his salvation from day to day!<br/></span>
  <span class="verse" title="Psalm 96:3" id="Psalm-96-3">Declare his glory among the nations,<br/> <span class="indent">&nbsp;&nbsp;</span>his marvelous works among all the peoples.<br/></span>
  <span class="verse" title="Psalm 96:4" id="Psalm-96-4">For great is Yahweh, and greatly to be praised!<br/> <span class="indent">&nbsp;&nbsp;</span>He is to be feared above all gods.<br/></span>
  <span class="verse" title="Psalm 96:5" id="Psalm-96-5">For all the gods of the peoples are idols,<br/> <span class="indent">&nbsp;&nbsp;</span>but Yahweh made the heavens.<br/></span>
  <span class="verse" title="Psalm 96:6" id="Psalm-96-6">Honor and majesty are before him.<br/> <span class="indent">&nbsp;&nbsp;</span>Strength and beauty are in his sanctuary.<br/></span>
  <span class="verse" title="Psalm 96:7" id="Psalm-96-7">Ascribe to Yahweh, you families of nations,<br/> <span class="indent">&nbsp;&nbsp;</span>ascribe to Yahweh glory and strength.<br/></span>
  <span class="verse" title="Psalm 96:8" id="Psalm-96-8">Ascribe to Yahweh the glory due to his name.<br/> <span class="indent">&nbsp;&nbsp;</span>Bring an offering, and come into his courts.<br/></span>
  <span class="verse" title="Psalm 96:9" id="Psalm-96-9">Worship Yahweh in holy array.<br/> <span class="indent">&nbsp;&nbsp;</span>Tremble before him, all the earth.<br/></span>
  <span class="verse" title="Psalm 96:10" id="Psalm-96-10">Say among the nations, &#8220;Yahweh reigns.&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>The world is also established.<br/> <span class="indent">&nbsp;&nbsp;</span>It can&#8217;t be moved.<br/> <span class="indent">&nbsp;&nbsp;</span>He will judge the peoples with equity.<br/></span>
  <span class="verse" title="Psalm 96:11" id="Psalm-96-11">Let the heavens be glad, and let the earth rejoice.<br/> <span class="indent">&nbsp;&nbsp;</span>Let the sea roar, and its fullness!<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 96:12" id="Psalm-96-12">Let the field and all that is in it exult!<br/> <span class="indent">&nbsp;&nbsp;</span>Then all the trees of the woods shall sing for joy<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 96:13" id="Psalm-96-13">before Yahweh; for he comes,<br/> <span class="indent">&nbsp;&nbsp;</span>for he comes to judge the earth.<br/>   He will judge the world with righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>the peoples with his truth.<br/></span>
</div>