<div class="chapter" id="Psalms-097">
  <h2>Psalm 97</h2>
  <span class="verse" title="Psalm 97:1" id="Psalm-97-1">Yahweh reigns!<br/> <span class="indent">&nbsp;&nbsp;</span>Let the earth rejoice!<br/> <span class="indent">&nbsp;&nbsp;</span>Let the multitude of islands be glad!<br/></span>
  <span class="verse" title="Psalm 97:2" id="Psalm-97-2">Clouds and darkness are around him.<br/> <span class="indent">&nbsp;&nbsp;</span>Righteousness and justice are the foundation of his throne.<br/></span>
  <span class="verse" title="Psalm 97:3" id="Psalm-97-3">A fire goes before him,<br/> <span class="indent">&nbsp;&nbsp;</span>and burns up his adversaries on every side.<br/></span>
  <span class="verse" title="Psalm 97:4" id="Psalm-97-4">His lightning lights up the world.<br/> <span class="indent">&nbsp;&nbsp;</span>The earth sees, and trembles.<br/></span>
  <span class="verse" title="Psalm 97:5" id="Psalm-97-5">The mountains melt like wax at the presence of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>at the presence of the Lord of the whole earth.<br/></span>
  <span class="verse" title="Psalm 97:6" id="Psalm-97-6">The heavens declare his righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>All the peoples have seen his glory.<br/></span>
  <span class="verse" title="Psalm 97:7" id="Psalm-97-7">Let all them be shamed who serve engraved images,<br/> <span class="indent">&nbsp;&nbsp;</span>who boast in their idols.<br/> <span class="indent">&nbsp;&nbsp;</span>Worship him, all you gods!<br/></span>
  <span class="verse" title="Psalm 97:8" id="Psalm-97-8">Zion heard and was glad.<br/> <span class="indent">&nbsp;&nbsp;</span>The daughters of Judah rejoiced,<br/> <span class="indent">&nbsp;&nbsp;</span>because of your judgments, Yahweh.<br/></span>
  <span class="verse" title="Psalm 97:9" id="Psalm-97-9">For you, Yahweh, are most high above all the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>You are exalted far above all gods.<br/></span>
  <span class="verse" title="Psalm 97:10" id="Psalm-97-10">You who love Yahweh, hate evil.<br/> <span class="indent">&nbsp;&nbsp;</span>He preserves the souls of his saints.<br/> <span class="indent">&nbsp;&nbsp;</span>He delivers them out of the hand of the wicked.<br/></span>
  <span class="verse" title="Psalm 97:11" id="Psalm-97-11">Light is sown for the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>and gladness for the upright in heart.<br/></span>
  <span class="verse" title="Psalm 97:12" id="Psalm-97-12">Be glad in Yahweh, you righteous people!<br/> <span class="indent">&nbsp;&nbsp;</span>Give thanks to his holy Name.<br/></span>
</div>