<div class="chapter" id="Psalms-098">
  <h2>Psalm 98</h2>
  <span class="verse" title="Psalm 98:1" id="Psalm-98-1">Sing to Yahweh a new song,<br/> <span class="indent">&nbsp;&nbsp;</span>for he has done marvelous things!<br/> <span class="indent">&nbsp;&nbsp;</span>His right hand, and his holy arm, have worked salvation for him.<br/></span>
  <span class="verse" title="Psalm 98:2" id="Psalm-98-2">Yahweh has made known his salvation.<br/> <span class="indent">&nbsp;&nbsp;</span>He has openly shown his righteousness in the sight of the nations.<br/></span>
  <span class="verse" title="Psalm 98:3" id="Psalm-98-3">He has remembered his loving kindness and his faithfulness toward the house of Israel.<br/> <span class="indent">&nbsp;&nbsp;</span>All the ends of the earth have seen the salvation of our God.<br/></span>
  <span class="verse" title="Psalm 98:4" id="Psalm-98-4">Make a joyful noise to Yahweh, all the earth!<br/> <span class="indent">&nbsp;&nbsp;</span>Burst out and sing for joy, yes, sing praises!<br/></span>
  <span class="verse" title="Psalm 98:5" id="Psalm-98-5">Sing praises to Yahweh with the harp,<br/> <span class="indent">&nbsp;&nbsp;</span>with the harp and the voice of melody.<br/></span>
  <span class="verse" title="Psalm 98:6" id="Psalm-98-6">With trumpets and sound of the ram&#8217;s horn,<br/> <span class="indent">&nbsp;&nbsp;</span>make a joyful noise before the King, Yahweh.<br/></span>
  <span class="verse" title="Psalm 98:7" id="Psalm-98-7">Let the sea roar with its fullness;<br/> <span class="indent">&nbsp;&nbsp;</span>the world, and those who dwell therein.<br/></span>
  <span class="verse" title="Psalm 98:8" id="Psalm-98-8">Let the rivers clap their hands.<br/> <span class="indent">&nbsp;&nbsp;</span>Let the mountains sing for joy together.<br/></span>
  <span class="verse" title="Psalm 98:9" id="Psalm-98-9">Let them sing before Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>for he comes to judge the earth.<br/>   He will judge the world with righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>and the peoples with equity.<br/></span>
</div>