<div class="chapter" id="Psalms-099">
  <h2>Psalm 99</h2>
  <span class="verse" title="Psalm 99:1" id="Psalm-99-1">Yahweh reigns! Let the peoples tremble.<br/> <span class="indent">&nbsp;&nbsp;</span>He sits enthroned among the cherubim.<br/> <span class="indent">&nbsp;&nbsp;</span>Let the earth be moved.<br/></span>
  <span class="verse" title="Psalm 99:2" id="Psalm-99-2">Yahweh is great in Zion.<br/> <span class="indent">&nbsp;&nbsp;</span>He is high above all the peoples.<br/></span>
  <span class="verse" title="Psalm 99:3" id="Psalm-99-3">Let them praise your great and awesome name.<br/> <span class="indent">&nbsp;&nbsp;</span>He is Holy!<br/>   <br/></span>
  <span class="verse" title="Psalm 99:4" id="Psalm-99-4">The King&#8217;s strength also loves justice.<br/> <span class="indent">&nbsp;&nbsp;</span>You do establish equity.<br/> <span class="indent">&nbsp;&nbsp;</span>You execute justice and righteousness in Jacob.<br/></span>
  <span class="verse" title="Psalm 99:5" id="Psalm-99-5">Exalt Yahweh our God.<br/> <span class="indent">&nbsp;&nbsp;</span>Worship at his footstool.<br/> <span class="indent">&nbsp;&nbsp;</span>He is Holy!<br/></span>
  <span class="verse" title="Psalm 99:6" id="Psalm-99-6">Moses and Aaron were among his priests,<br/> <span class="indent">&nbsp;&nbsp;</span>Samuel among those who call on his name;<br/> <span class="indent">&nbsp;&nbsp;</span>they called on Yahweh, and he answered them.<br/></span>
  <span class="verse" title="Psalm 99:7" id="Psalm-99-7">He spoke to them in the pillar of cloud.<br/> <span class="indent">&nbsp;&nbsp;</span>They kept his testimonies,<br/> <span class="indent">&nbsp;&nbsp;</span>the statute that he gave them.<br/></span>
  <span class="verse" title="Psalm 99:8" id="Psalm-99-8">You answered them, Yahweh our God.<br/> <span class="indent">&nbsp;&nbsp;</span>You are a God who forgave them,<br/> <span class="indent">&nbsp;&nbsp;</span>although you took vengeance for their doings.<br/></span>
  <span class="verse" title="Psalm 99:9" id="Psalm-99-9">Exalt Yahweh, our God.<br/> <span class="indent">&nbsp;&nbsp;</span>Worship at his holy hill,<br/> <span class="indent">&nbsp;&nbsp;</span>for Yahweh, our God, is holy!<br/></span>
</div>