<div class="chapter" id="Psalms-101">
  <h2>Psalm 101</h2>
  <span class="verse" title="Psalm 101:1" id="Psalm-101-1">I will sing of loving kindness and justice.<br/> <span class="indent">&nbsp;&nbsp;</span>To you, Yahweh, I will sing praises.<br/></span>
  <span class="verse" title="Psalm 101:2" id="Psalm-101-2">I will be careful to live a blameless life.<br/> <span class="indent">&nbsp;&nbsp;</span>When will you come to me?<br/> <span class="indent">&nbsp;&nbsp;</span>I will walk within my house with a blameless heart.<br/></span>
  <span class="verse" title="Psalm 101:3" id="Psalm-101-3">I will set no vile thing before my eyes.<br/> <span class="indent">&nbsp;&nbsp;</span>I hate the deeds of faithless men.<br/> <span class="indent">&nbsp;&nbsp;</span>They will not cling to me.<br/></span>
  <span class="verse" title="Psalm 101:4" id="Psalm-101-4">A perverse heart will be far from me.<br/> <span class="indent">&nbsp;&nbsp;</span>I will have nothing to do with evil.<br/></span>
  <span class="verse" title="Psalm 101:5" id="Psalm-101-5">I will silence whoever secretly slanders his neighbor.<br/> <span class="indent">&nbsp;&nbsp;</span>I won&#8217;t tolerate one who is haughty and conceited.<br/></span>
  <span class="verse" title="Psalm 101:6" id="Psalm-101-6">My eyes will be on the faithful of the land,<br/> <span class="indent">&nbsp;&nbsp;</span>that they may dwell with me.<br/>   He who walks in a perfect way,<br/> <span class="indent">&nbsp;&nbsp;</span>he will serve me.<br/></span>
  <span class="verse" title="Psalm 101:7" id="Psalm-101-7">He who practices deceit won&#8217;t dwell within my house.<br/> <span class="indent">&nbsp;&nbsp;</span>He who speaks falsehood won&#8217;t be established before my eyes.<br/></span>
  <span class="verse" title="Psalm 101:8" id="Psalm-101-8">Morning by morning, I will destroy all the wicked of the land;<br/> <span class="indent">&nbsp;&nbsp;</span>to cut off all the workers of iniquity from Yahweh&#8217;s city.<br/></span>
</div>