<div class="chapter" id="Psalms-102">
  <h2>Psalm 102</h2>
  <span class="verse" title="Psalm 102:1" id="Psalm-102-1">Hear my prayer, Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>Let my cry come to you.<br/></span>
  <span class="verse" title="Psalm 102:2" id="Psalm-102-2">Don&#8217;t hide your face from me in the day of my distress.<br/> <span class="indent">&nbsp;&nbsp;</span>Turn your ear to me.<br/> <span class="indent">&nbsp;&nbsp;</span>Answer me quickly in the day when I call.<br/></span>
  <span class="verse" title="Psalm 102:3" id="Psalm-102-3">For my days consume away like smoke.<br/> <span class="indent">&nbsp;&nbsp;</span>My bones are burned as a torch.<br/></span>
  <span class="verse" title="Psalm 102:4" id="Psalm-102-4">My heart is blighted like grass, and withered,<br/> <span class="indent">&nbsp;&nbsp;</span>for I forget to eat my bread.<br/></span>
  <span class="verse" title="Psalm 102:5" id="Psalm-102-5">By reason of the voice of my groaning,<br/> <span class="indent">&nbsp;&nbsp;</span>my bones stick to my skin.<br/></span>
  <span class="verse" title="Psalm 102:6" id="Psalm-102-6">I am like a pelican of the wilderness.<br/> <span class="indent">&nbsp;&nbsp;</span>I have become as an owl of the waste places.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 102:7" id="Psalm-102-7">I watch, and have become like a sparrow that is alone on the housetop.<br/></span>
  <span class="verse" title="Psalm 102:8" id="Psalm-102-8">My enemies reproach me all day.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who are mad at me use my name as a curse.<br/></span>
  <span class="verse" title="Psalm 102:9" id="Psalm-102-9">For I have eaten ashes like bread,<br/> <span class="indent">&nbsp;&nbsp;</span>and mixed my drink with tears,<br/></span>
  <span class="verse" title="Psalm 102:10" id="Psalm-102-10">Because of your indignation and your wrath,<br/> <span class="indent">&nbsp;&nbsp;</span>for you have taken me up, and thrown me away.<br/></span>
  <span class="verse" title="Psalm 102:11" id="Psalm-102-11">My days are like a long shadow.<br/> <span class="indent">&nbsp;&nbsp;</span>I have withered like grass.<br/>   <br/></span>
  <span class="verse" title="Psalm 102:12" id="Psalm-102-12">But you, Yahweh, will remain forever;<br/> <span class="indent">&nbsp;&nbsp;</span>your renown endures to all generations.<br/></span>
  <span class="verse" title="Psalm 102:13" id="Psalm-102-13">You will arise and have mercy on Zion;<br/> <span class="indent">&nbsp;&nbsp;</span>for it is time to have pity on her.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, the set time has come.<br/></span>
  <span class="verse" title="Psalm 102:14" id="Psalm-102-14">For your servants take pleasure in her stones,<br/> <span class="indent">&nbsp;&nbsp;</span>and have pity on her dust.<br/></span>
  <span class="verse" title="Psalm 102:15" id="Psalm-102-15">So the nations will fear the name of Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span>all the kings of the earth your glory.<br/></span>
  <span class="verse" title="Psalm 102:16" id="Psalm-102-16">For Yahweh has built up Zion.<br/> <span class="indent">&nbsp;&nbsp;</span>He has appeared in his glory.<br/></span>
  <span class="verse" title="Psalm 102:17" id="Psalm-102-17">He has responded to the prayer of the destitute,<br/> <span class="indent">&nbsp;&nbsp;</span>and has not despised their prayer.<br/></span>
  <span class="verse" title="Psalm 102:18" id="Psalm-102-18">This will be written for the generation to come.<br/> <span class="indent">&nbsp;&nbsp;</span>A people which will be created will praise Yah.<br/></span>
  <span class="verse" title="Psalm 102:19" id="Psalm-102-19">For he has looked down from the height of his sanctuary.<br/> <span class="indent">&nbsp;&nbsp;</span>From heaven, Yahweh saw the earth;<br/></span>
  <span class="verse" title="Psalm 102:20" id="Psalm-102-20">to hear the groans of the prisoner;<br/> <span class="indent">&nbsp;&nbsp;</span>to free those who are condemned to death;<br/></span>
  <span class="verse" title="Psalm 102:21" id="Psalm-102-21">that men may declare the name of Yahweh in Zion,<br/> <span class="indent">&nbsp;&nbsp;</span>and his praise in Jerusalem;<br/></span>
  <span class="verse" title="Psalm 102:22" id="Psalm-102-22">when the peoples are gathered together,<br/> <span class="indent">&nbsp;&nbsp;</span>the kingdoms, to serve Yahweh.<br/>   <br/></span>
  <span class="verse" title="Psalm 102:23" id="Psalm-102-23">He weakened my strength along the course.<br/> <span class="indent">&nbsp;&nbsp;</span>He shortened my days.<br/></span>
  <span class="verse" title="Psalm 102:24" id="Psalm-102-24">I said, &#8220;My God, don&#8217;t take me away in the midst of my days.<br/> <span class="indent">&nbsp;&nbsp;</span>Your years are throughout all generations.<br/></span>
  <span class="verse" title="Psalm 102:25" id="Psalm-102-25">Of old, you laid the foundation of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>The heavens are the work of your hands.<br/></span>
  <span class="verse" title="Psalm 102:26" id="Psalm-102-26">They will perish, but you will endure.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, all of them will wear out like a garment.<br/> <span class="indent">&nbsp;&nbsp;</span>You will change them like a cloak, and they will be changed.<br/></span>
  <span class="verse" title="Psalm 102:27" id="Psalm-102-27">But you are the same.<br/> <span class="indent">&nbsp;&nbsp;</span>Your years will have no end.<br/></span>
  <span class="verse" title="Psalm 102:28" id="Psalm-102-28">The children of your servants will continue.<br/> <span class="indent">&nbsp;&nbsp;</span>Their seed will be established before you.&#8221;<br/></span>
</div>