<div class="chapter" id="Psalms-103">
  <h2>Psalm 103</h2>
  <span class="verse" title="Psalm 103:1" id="Psalm-103-1">Praise Yahweh, my soul!<br/> <span class="indent">&nbsp;&nbsp;</span>All that is within me, praise his holy name!<br/></span>
  <span class="verse" title="Psalm 103:2" id="Psalm-103-2">Praise Yahweh, my soul,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t forget all his benefits;<br/></span>
  <span class="verse" title="Psalm 103:3" id="Psalm-103-3">who forgives all your sins;<br/> <span class="indent">&nbsp;&nbsp;</span>who heals all your diseases;<br/></span>
  <span class="verse" title="Psalm 103:4" id="Psalm-103-4">who redeems your life from destruction;<br/> <span class="indent">&nbsp;&nbsp;</span>who crowns you with loving kindness and tender mercies;<br/></span>
  <span class="verse" title="Psalm 103:5" id="Psalm-103-5">who satisfies your desire with good things,<br/> <span class="indent">&nbsp;&nbsp;</span>so that your youth is renewed like the eagle&#8217;s.<br/></span>
  <span class="verse" title="Psalm 103:6" id="Psalm-103-6">Yahweh executes righteous acts,<br/> <span class="indent">&nbsp;&nbsp;</span>and justice for all who are oppressed.<br/></span>
  <span class="verse" title="Psalm 103:7" id="Psalm-103-7">He made known his ways to Moses,<br/> <span class="indent">&nbsp;&nbsp;</span>his deeds to the children of Israel.<br/></span>
  <span class="verse" title="Psalm 103:8" id="Psalm-103-8">Yahweh is merciful and gracious,<br/> <span class="indent">&nbsp;&nbsp;</span>slow to anger, and abundant in loving kindness.<br/></span>
  <span class="verse" title="Psalm 103:9" id="Psalm-103-9">He will not always accuse;<br/> <span class="indent">&nbsp;&nbsp;</span>neither will he stay angry forever.<br/></span>
  <span class="verse" title="Psalm 103:10" id="Psalm-103-10">He has not dealt with us according to our sins,<br/> <span class="indent">&nbsp;&nbsp;</span>nor repaid us for our iniquities.<br/></span>
  <span class="verse" title="Psalm 103:11" id="Psalm-103-11">For as the heavens are high above the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>so great is his loving kindness toward those who fear him.<br/></span>
  <span class="verse" title="Psalm 103:12" id="Psalm-103-12">As far as the east is from the west,<br/> <span class="indent">&nbsp;&nbsp;</span>so far has he removed our transgressions from us.<br/></span>
  <span class="verse" title="Psalm 103:13" id="Psalm-103-13">Like a father has compassion on his children,<br/> <span class="indent">&nbsp;&nbsp;</span>so Yahweh has compassion on those who fear him.<br/></span>
  <span class="verse" title="Psalm 103:14" id="Psalm-103-14">For he knows how we are made.<br/> <span class="indent">&nbsp;&nbsp;</span>He remembers that we are dust.<br/></span>
  <span class="verse" title="Psalm 103:15" id="Psalm-103-15">As for man, his days are like grass.<br/> <span class="indent">&nbsp;&nbsp;</span>As a flower of the field, so he flourishes.<br/></span>
  <span class="verse" title="Psalm 103:16" id="Psalm-103-16">For the wind passes over it, and it is gone.<br/> <span class="indent">&nbsp;&nbsp;</span>Its place remembers it no more.<br/></span>
  <span class="verse" title="Psalm 103:17" id="Psalm-103-17">But Yahweh&#8217;s loving kindness is from everlasting to everlasting with those who fear him,<br/> <span class="indent">&nbsp;&nbsp;</span>his righteousness to children&#8217;s children;<br/></span>
  <span class="verse" title="Psalm 103:18" id="Psalm-103-18">to those who keep his covenant,<br/> <span class="indent">&nbsp;&nbsp;</span>to those who remember to obey his precepts.<br/></span>
  <span class="verse" title="Psalm 103:19" id="Psalm-103-19">Yahweh has established his throne in the heavens.<br/> <span class="indent">&nbsp;&nbsp;</span>His kingdom rules over all.<br/></span>
  <span class="verse" title="Psalm 103:20" id="Psalm-103-20">Praise Yahweh, you angels of his,<br/> <span class="indent">&nbsp;&nbsp;</span>who are mighty in strength, who fulfill his word,<br/> <span class="indent">&nbsp;&nbsp;</span>obeying the voice of his word.<br/></span>
  <span class="verse" title="Psalm 103:21" id="Psalm-103-21">Praise Yahweh, all you armies of his,<br/> <span class="indent">&nbsp;&nbsp;</span>you servants of his, who do his pleasure.<br/></span>
  <span class="verse" title="Psalm 103:22" id="Psalm-103-22">Praise Yahweh, all you works of his,<br/> <span class="indent">&nbsp;&nbsp;</span>in all places of his dominion.<br/> <span class="indent">&nbsp;&nbsp;</span>Praise Yahweh, my soul!<br/></span>
</div>