<div class="chapter" id="Psalms-104">
  <h2>Psalm 104</h2>
  <span class="verse" title="Psalm 104:1" id="Psalm-104-1">Bless Yahweh, my soul.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, my God, you are very great.<br/> <span class="indent">&nbsp;&nbsp;</span>You are clothed with honor and majesty.<br/></span>
  <span class="verse" title="Psalm 104:2" id="Psalm-104-2">He covers himself with light as with a garment.<br/> <span class="indent">&nbsp;&nbsp;</span>He stretches out the heavens like a curtain.<br/></span>
  <span class="verse" title="Psalm 104:3" id="Psalm-104-3">He lays the beams of his rooms in the waters.<br/> <span class="indent">&nbsp;&nbsp;</span>He makes the clouds his chariot.<br/> <span class="indent">&nbsp;&nbsp;</span>He walks on the wings of the wind.<br/></span>
  <span class="verse" title="Psalm 104:4" id="Psalm-104-4">He makes his messengers winds;<br/> <span class="indent">&nbsp;&nbsp;</span>his servants flames of fire.<br/></span>
  <span class="verse" title="Psalm 104:5" id="Psalm-104-5">He laid the foundations of the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>that it should not be moved forever.<br/></span>
  <span class="verse" title="Psalm 104:6" id="Psalm-104-6">You covered it with the deep as with a cloak.<br/> <span class="indent">&nbsp;&nbsp;</span>The waters stood above the mountains.<br/></span>
  <span class="verse" title="Psalm 104:7" id="Psalm-104-7">At your rebuke they fled.<br/> <span class="indent">&nbsp;&nbsp;</span>At the voice of your thunder they hurried away.<br/></span>
  <span class="verse" title="Psalm 104:8" id="Psalm-104-8">The mountains rose,<br/> <span class="indent">&nbsp;&nbsp;</span>the valleys sank down,<br/> <span class="indent">&nbsp;&nbsp;</span>to the place which you had assigned to them.<br/></span>
  <span class="verse" title="Psalm 104:9" id="Psalm-104-9">You have set a boundary that they may not pass over;<br/> <span class="indent">&nbsp;&nbsp;</span>that they don&#8217;t turn again to cover the earth.<br/></span>
  <span class="verse" title="Psalm 104:10" id="Psalm-104-10">He sends forth springs into the valleys.<br/> <span class="indent">&nbsp;&nbsp;</span>They run among the mountains.<br/></span>
  <span class="verse" title="Psalm 104:11" id="Psalm-104-11">They give drink to every animal of the field.<br/> <span class="indent">&nbsp;&nbsp;</span>The wild donkeys quench their thirst.<br/></span>
  <span class="verse" title="Psalm 104:12" id="Psalm-104-12">The birds of the sky nest by them.<br/> <span class="indent">&nbsp;&nbsp;</span>They sing among the branches.<br/></span>
  <span class="verse" title="Psalm 104:13" id="Psalm-104-13">He waters the mountains from his rooms.<br/> <span class="indent">&nbsp;&nbsp;</span>The earth is filled with the fruit of your works.<br/></span>
  <span class="verse" title="Psalm 104:14" id="Psalm-104-14">He causes the grass to grow for the livestock,<br/> <span class="indent">&nbsp;&nbsp;</span>and plants for man to cultivate,<br/> <span class="indent">&nbsp;&nbsp;</span>that he may bring forth food out of the earth:<br/></span>
  <span class="verse" title="Psalm 104:15" id="Psalm-104-15">wine that makes glad the heart of man,<br/> <span class="indent">&nbsp;&nbsp;</span>oil to make his face to shine,<br/> <span class="indent">&nbsp;&nbsp;</span>and bread that strengthens man&#8217;s heart.<br/></span>
  <span class="verse" title="Psalm 104:16" id="Psalm-104-16">Yahweh&#8217;s trees are well watered,<br/> <span class="indent">&nbsp;&nbsp;</span>the cedars of Lebanon, which he has planted;<br/></span>
  <span class="verse" title="Psalm 104:17" id="Psalm-104-17">where the birds make their nests.<br/> <span class="indent">&nbsp;&nbsp;</span>The stork makes its home in the fir trees.<br/></span>
  <span class="verse" title="Psalm 104:18" id="Psalm-104-18">The high mountains are for the wild goats.<br/> <span class="indent">&nbsp;&nbsp;</span>The rocks are a refuge for the rock badgers.<br/></span>
  <span class="verse" title="Psalm 104:19" id="Psalm-104-19">He appointed the moon for seasons.<br/> <span class="indent">&nbsp;&nbsp;</span>The sun knows when to set.<br/></span>
  <span class="verse" title="Psalm 104:20" id="Psalm-104-20">You make darkness, and it is night,<br/> <span class="indent">&nbsp;&nbsp;</span>in which all the animals of the forest prowl.<br/></span>
  <span class="verse" title="Psalm 104:21" id="Psalm-104-21">The young lions roar after their prey,<br/> <span class="indent">&nbsp;&nbsp;</span>and seek their food from God.<br/></span>
  <span class="verse" title="Psalm 104:22" id="Psalm-104-22">The sun rises, and they steal away,<br/> <span class="indent">&nbsp;&nbsp;</span>and lay down in their dens.<br/></span>
  <span class="verse" title="Psalm 104:23" id="Psalm-104-23">Man goes forth to his work,<br/> <span class="indent">&nbsp;&nbsp;</span>to his labor until the evening.<br/></span>
  <span class="verse" title="Psalm 104:24" id="Psalm-104-24">Yahweh, how many are your works!<br/> <span class="indent">&nbsp;&nbsp;</span>In wisdom have you made them all.<br/> <span class="indent">&nbsp;&nbsp;</span>The earth is full of your riches.<br/></span>
  <span class="verse" title="Psalm 104:25" id="Psalm-104-25">There is the sea, great and wide,<br/> <span class="indent">&nbsp;&nbsp;</span>in which are innumerable living things,<br/> <span class="indent">&nbsp;&nbsp;</span>both small and large animals.<br/></span>
  <span class="verse" title="Psalm 104:26" id="Psalm-104-26">There the ships go,<br/> <span class="indent">&nbsp;&nbsp;</span>and leviathan, whom you formed to play there.<br/></span>
  <span class="verse" title="Psalm 104:27" id="Psalm-104-27">These all wait for you,<br/> <span class="indent">&nbsp;&nbsp;</span>that you may give them their food in due season.<br/></span>
  <span class="verse" title="Psalm 104:28" id="Psalm-104-28">You give to them; they gather.<br/> <span class="indent">&nbsp;&nbsp;</span>You open your hand; they are satisfied with good.<br/></span>
  <span class="verse" title="Psalm 104:29" id="Psalm-104-29">You hide your face: they are troubled;<br/> <span class="indent">&nbsp;&nbsp;</span>you take away their breath: they die, and return to the dust.<br/></span>
  <span class="verse" title="Psalm 104:30" id="Psalm-104-30">You send forth your Spirit: they are created.<br/> <span class="indent">&nbsp;&nbsp;</span>You renew the face of the ground.<br/></span>
  <span class="verse" title="Psalm 104:31" id="Psalm-104-31">Let the glory of Yahweh endure forever.<br/> <span class="indent">&nbsp;&nbsp;</span>Let Yahweh rejoice in his works.<br/></span>
  <span class="verse" title="Psalm 104:32" id="Psalm-104-32">He looks at the earth, and it trembles.<br/> <span class="indent">&nbsp;&nbsp;</span>He touches the mountains, and they smoke.<br/></span>
  <span class="verse" title="Psalm 104:33" id="Psalm-104-33">I will sing to Yahweh as long as I live.<br/> <span class="indent">&nbsp;&nbsp;</span>I will sing praise to my God while I have any being.<br/></span>
  <span class="verse" title="Psalm 104:34" id="Psalm-104-34">Let your meditation be sweet to him.<br/> <span class="indent">&nbsp;&nbsp;</span>I will rejoice in Yahweh.<br/></span>
  <span class="verse" title="Psalm 104:35" id="Psalm-104-35">Let sinners be consumed out of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>Let the wicked be no more.<br/> <span class="indent">&nbsp;&nbsp;</span>Bless Yahweh, my soul.<br/> <span class="indent">&nbsp;&nbsp;</span>Praise Yah!<br/></span>
</div>