<div class="chapter" id="Psalms-105">
  <h2>Psalm 105</h2>
  <span class="verse" title="Psalm 105:1" id="Psalm-105-1">Give thanks to Yahweh! Call on his name!<br/> <span class="indent">&nbsp;&nbsp;</span>Make his doings known among the peoples.<br/></span>
  <span class="verse" title="Psalm 105:2" id="Psalm-105-2">Sing to him, sing praises to him!<br/> <span class="indent">&nbsp;&nbsp;</span>Tell of all his marvelous works.<br/></span>
  <span class="verse" title="Psalm 105:3" id="Psalm-105-3">Glory in his holy name.<br/> <span class="indent">&nbsp;&nbsp;</span>Let the heart of those who seek Yahweh rejoice.<br/></span>
  <span class="verse" title="Psalm 105:4" id="Psalm-105-4">Seek Yahweh and his strength.<br/> <span class="indent">&nbsp;&nbsp;</span>Seek his face forever more.<br/></span>
  <span class="verse" title="Psalm 105:5" id="Psalm-105-5">Remember his marvelous works that he has done;<br/> <span class="indent">&nbsp;&nbsp;</span>his wonders, and the judgments of his mouth,<br/></span>
  <span class="verse" title="Psalm 105:6" id="Psalm-105-6">you seed of Abraham, his servant,<br/> <span class="indent">&nbsp;&nbsp;</span>you children of Jacob, his chosen ones.<br/></span>
  <span class="verse" title="Psalm 105:7" id="Psalm-105-7">He is Yahweh, our God.<br/> <span class="indent">&nbsp;&nbsp;</span>His judgments are in all the earth.<br/></span>
  <span class="verse" title="Psalm 105:8" id="Psalm-105-8">He has remembered his covenant forever,<br/> <span class="indent">&nbsp;&nbsp;</span>the word which he commanded to a thousand generations,<br/></span>
  <span class="verse" title="Psalm 105:9" id="Psalm-105-9">the covenant which he made with Abraham,<br/> <span class="indent">&nbsp;&nbsp;</span>his oath to Isaac,<br/></span>
  <span class="verse" title="Psalm 105:10" id="Psalm-105-10">and confirmed the same to Jacob for a statute;<br/> <span class="indent">&nbsp;&nbsp;</span>to Israel for an everlasting covenant,<br/></span>
  <span class="verse" title="Psalm 105:11" id="Psalm-105-11">saying, &#8220;To you I will give the land of Canaan,<br/> <span class="indent">&nbsp;&nbsp;</span>the lot of your inheritance;&#8221;<br/></span>
  <span class="verse" title="Psalm 105:12" id="Psalm-105-12">when they were but a few men in number,<br/> <span class="indent">&nbsp;&nbsp;</span>yes, very few, and foreigners in it.<br/></span>
  <span class="verse" title="Psalm 105:13" id="Psalm-105-13">They went about from nation to nation,<br/> <span class="indent">&nbsp;&nbsp;</span>from one kingdom to another people.<br/></span>
  <span class="verse" title="Psalm 105:14" id="Psalm-105-14">He allowed no one to do them wrong.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, he reproved kings for their sakes,<br/></span>
  <span class="verse" title="Psalm 105:15" id="Psalm-105-15">&#8220;Don&#8217;t touch my anointed ones!<br/> <span class="indent">&nbsp;&nbsp;</span>Do my prophets no harm!&#8221;<br/></span>
  <span class="verse" title="Psalm 105:16" id="Psalm-105-16">He called for a famine on the land.<br/> <span class="indent">&nbsp;&nbsp;</span>He destroyed the food supplies.<br/></span>
  <span class="verse" title="Psalm 105:17" id="Psalm-105-17">He sent a man before them.<br/> <span class="indent">&nbsp;&nbsp;</span>Joseph was sold for a slave.<br/></span>
  <span class="verse" title="Psalm 105:18" id="Psalm-105-18">They bruised his feet with shackles.<br/> <span class="indent">&nbsp;&nbsp;</span>His neck was locked in irons,<br/></span>
  <span class="verse" title="Psalm 105:19" id="Psalm-105-19">until the time that his word happened,<br/> <span class="indent">&nbsp;&nbsp;</span>and Yahweh&#8217;s word proved him true.<br/></span>
  <span class="verse" title="Psalm 105:20" id="Psalm-105-20">The king sent and freed him;<br/> <span class="indent">&nbsp;&nbsp;</span>even the ruler of peoples, and let him go free.<br/></span>
  <span class="verse" title="Psalm 105:21" id="Psalm-105-21">He made him lord of his house,<br/> <span class="indent">&nbsp;&nbsp;</span>and ruler of all of his possessions;<br/></span>
  <span class="verse" title="Psalm 105:22" id="Psalm-105-22">to discipline his princes at his pleasure,<br/> <span class="indent">&nbsp;&nbsp;</span>and to teach his elders wisdom.<br/></span>
  <span class="verse" title="Psalm 105:23" id="Psalm-105-23">Israel also came into Egypt.<br/> <span class="indent">&nbsp;&nbsp;</span>Jacob lived in the land of Ham.<br/></span>
  <span class="verse" title="Psalm 105:24" id="Psalm-105-24">He increased his people greatly,<br/> <span class="indent">&nbsp;&nbsp;</span>and made them stronger than their adversaries.<br/></span>
  <span class="verse" title="Psalm 105:25" id="Psalm-105-25">He turned their heart to hate his people,<br/> <span class="indent">&nbsp;&nbsp;</span>to conspire against his servants.<br/></span>
  <span class="verse" title="Psalm 105:26" id="Psalm-105-26">He sent Moses, his servant,<br/> <span class="indent">&nbsp;&nbsp;</span>and Aaron, whom he had chosen.<br/></span>
  <span class="verse" title="Psalm 105:27" id="Psalm-105-27">They performed miracles among them,<br/> <span class="indent">&nbsp;&nbsp;</span>and wonders in the land of Ham.<br/></span>
  <span class="verse" title="Psalm 105:28" id="Psalm-105-28">He sent darkness, and made it dark.<br/> <span class="indent">&nbsp;&nbsp;</span>They didn&#8217;t rebel against his words.<br/></span>
  <span class="verse" title="Psalm 105:29" id="Psalm-105-29">He turned their waters into blood,<br/> <span class="indent">&nbsp;&nbsp;</span>and killed their fish.<br/></span>
  <span class="verse" title="Psalm 105:30" id="Psalm-105-30">Their land swarmed with frogs,<br/> <span class="indent">&nbsp;&nbsp;</span>even in the rooms of their kings.<br/></span>
  <span class="verse" title="Psalm 105:31" id="Psalm-105-31">He spoke, and swarms of flies came,<br/> <span class="indent">&nbsp;&nbsp;</span>and lice in all their borders.<br/></span>
  <span class="verse" title="Psalm 105:32" id="Psalm-105-32">He gave them hail for rain,<br/> <span class="indent">&nbsp;&nbsp;</span>with lightning in their land.<br/></span>
  <span class="verse" title="Psalm 105:33" id="Psalm-105-33">He struck their vines and also their fig trees,<br/> <span class="indent">&nbsp;&nbsp;</span>and shattered the trees of their country.<br/></span>
  <span class="verse" title="Psalm 105:34" id="Psalm-105-34">He spoke, and the locusts came,<br/> <span class="indent">&nbsp;&nbsp;</span>and the grasshoppers, without number,<br/></span>
  <span class="verse" title="Psalm 105:35" id="Psalm-105-35">ate up every plant in their land;<br/> <span class="indent">&nbsp;&nbsp;</span>and ate up the fruit of their ground.<br/></span>
  <span class="verse" title="Psalm 105:36" id="Psalm-105-36">He struck also all the firstborn in their land,<br/> <span class="indent">&nbsp;&nbsp;</span>the first fruits of all their manhood.<br/></span>
  <span class="verse" title="Psalm 105:37" id="Psalm-105-37">He brought them forth with silver and gold.<br/> <span class="indent">&nbsp;&nbsp;</span>There was not one feeble person among his tribes.<br/></span>
  <span class="verse" title="Psalm 105:38" id="Psalm-105-38">Egypt was glad when they departed,<br/> <span class="indent">&nbsp;&nbsp;</span>for the fear of them had fallen on them.<br/></span>
  <span class="verse" title="Psalm 105:39" id="Psalm-105-39">He spread a cloud for a covering,<br/> <span class="indent">&nbsp;&nbsp;</span>fire to give light in the night.<br/></span>
  <span class="verse" title="Psalm 105:40" id="Psalm-105-40">They asked, and he brought quails,<br/> <span class="indent">&nbsp;&nbsp;</span>and satisfied them with the bread of the sky.<br/></span>
  <span class="verse" title="Psalm 105:41" id="Psalm-105-41">He opened the rock, and waters gushed out.<br/> <span class="indent">&nbsp;&nbsp;</span>They ran as a river in the dry places.<br/></span>
  <span class="verse" title="Psalm 105:42" id="Psalm-105-42">For he remembered his holy word,<br/> <span class="indent">&nbsp;&nbsp;</span>and Abraham, his servant.<br/></span>
  <span class="verse" title="Psalm 105:43" id="Psalm-105-43">He brought forth his people with joy,<br/> <span class="indent">&nbsp;&nbsp;</span>his chosen with singing.<br/></span>
  <span class="verse" title="Psalm 105:44" id="Psalm-105-44">He gave them the lands of the nations.<br/> <span class="indent">&nbsp;&nbsp;</span>They took the labor of the peoples in possession,<br/></span>
  <span class="verse" title="Psalm 105:45" id="Psalm-105-45">that they might keep his statutes,<br/> <span class="indent">&nbsp;&nbsp;</span>and observe his laws.<br/> <span class="indent">&nbsp;&nbsp;</span>Praise Yah!<br/></span>
</div>