<div class="chapter" id="Psalms-107">
  <h2>Psalm 107</h2>
  <span class="verse" title="Psalm 107:1" id="Psalm-107-1">Give thanks to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>for he is good,<br/>   for his loving kindness endures forever.<br/></span>
  <span class="verse" title="Psalm 107:2" id="Psalm-107-2">Let the redeemed by Yahweh say so,<br/> <span class="indent">&nbsp;&nbsp;</span>whom he has redeemed from the hand of the adversary,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 107:3" id="Psalm-107-3">And gathered out of the lands,<br/> <span class="indent">&nbsp;&nbsp;</span>from the east and from the west,<br/> <span class="indent">&nbsp;&nbsp;</span>from the north and from the south.<br/></span>
  <span class="verse" title="Psalm 107:4" id="Psalm-107-4">They wandered in the wilderness in a desert way.<br/> <span class="indent">&nbsp;&nbsp;</span>They found no city to live in.<br/></span>
  <span class="verse" title="Psalm 107:5" id="Psalm-107-5">Hungry and thirsty,<br/> <span class="indent">&nbsp;&nbsp;</span>their soul fainted in them.<br/></span>
  <span class="verse" title="Psalm 107:6" id="Psalm-107-6">Then they cried to Yahweh in their trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>and he delivered them out of their distresses,<br/></span>
  <span class="verse" title="Psalm 107:7" id="Psalm-107-7">he led them also by a straight way,<br/> <span class="indent">&nbsp;&nbsp;</span>that they might go to a city to live in.<br/></span>
  <span class="verse" title="Psalm 107:8" id="Psalm-107-8">Let them praise Yahweh for his loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>for his wonderful works to the children of men!<br/>   <br/></span>
  <span class="verse" title="Psalm 107:9" id="Psalm-107-9">For he satisfies the longing soul.<br/> <span class="indent">&nbsp;&nbsp;</span>He fills the hungry soul with good.<br/></span>
  <span class="verse" title="Psalm 107:10" id="Psalm-107-10">Some sat in darkness and in the shadow of death,<br/> <span class="indent">&nbsp;&nbsp;</span>being bound in affliction and iron,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 107:11" id="Psalm-107-11">because they rebelled against the words of God,<br/> <span class="indent">&nbsp;&nbsp;</span>and condemned the counsel of the Most High.<br/></span>
  <span class="verse" title="Psalm 107:12" id="Psalm-107-12">Therefore he brought down their heart with labor.<br/> <span class="indent">&nbsp;&nbsp;</span>They fell down, and there was none to help.<br/></span>
  <span class="verse" title="Psalm 107:13" id="Psalm-107-13">Then they cried to Yahweh in their trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>and he saved them out of their distresses.<br/></span>
  <span class="verse" title="Psalm 107:14" id="Psalm-107-14">He brought them out of darkness and the shadow of death,<br/> <span class="indent">&nbsp;&nbsp;</span>and broke their bonds in sunder.<br/></span>
  <span class="verse" title="Psalm 107:15" id="Psalm-107-15">Let them praise Yahweh for his loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>for his wonderful works to the children of men!<br/>   <br/></span>
  <span class="verse" title="Psalm 107:16" id="Psalm-107-16">For he has broken the gates of brass,<br/> <span class="indent">&nbsp;&nbsp;</span>and cut through bars of iron.<br/></span>
  <span class="verse" title="Psalm 107:17" id="Psalm-107-17">Fools are afflicted because of their disobedience,<br/> <span class="indent">&nbsp;&nbsp;</span>and because of their iniquities.<br/></span>
  <span class="verse" title="Psalm 107:18" id="Psalm-107-18">Their soul abhors all kinds of food.<br/> <span class="indent">&nbsp;&nbsp;</span>They draw near to the gates of death.<br/></span>
  <span class="verse" title="Psalm 107:19" id="Psalm-107-19">Then they cry to Yahweh in their trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>he saves them out of their distresses.<br/></span>
  <span class="verse" title="Psalm 107:20" id="Psalm-107-20">He sends his word, and heals them,<br/> <span class="indent">&nbsp;&nbsp;</span>and delivers them from their graves.<br/></span>
  <span class="verse" title="Psalm 107:21" id="Psalm-107-21">Let them praise Yahweh for his loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>for his wonderful works to the children of men!<br/>   <br/></span>
  <span class="verse" title="Psalm 107:22" id="Psalm-107-22">Let them offer the sacrifices of thanksgiving,<br/> <span class="indent">&nbsp;&nbsp;</span>and declare his works with singing.<br/></span>
  <span class="verse" title="Psalm 107:23" id="Psalm-107-23">Those who go down to the sea in ships,<br/> <span class="indent">&nbsp;&nbsp;</span>who do business in great waters;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 107:24" id="Psalm-107-24">These see Yahweh&#8217;s works,<br/> <span class="indent">&nbsp;&nbsp;</span>and his wonders in the deep.<br/></span>
  <span class="verse" title="Psalm 107:25" id="Psalm-107-25">For he commands, and raises the stormy wind,<br/> <span class="indent">&nbsp;&nbsp;</span>which lifts up its waves.<br/></span>
  <span class="verse" title="Psalm 107:26" id="Psalm-107-26">They mount up to the sky; they go down again to the depths.<br/> <span class="indent">&nbsp;&nbsp;</span>Their soul melts away because of trouble.<br/></span>
  <span class="verse" title="Psalm 107:27" id="Psalm-107-27">They reel back and forth, and stagger like a drunken man,<br/> <span class="indent">&nbsp;&nbsp;</span>and are at their wits&#8217; end.<br/></span>
  <span class="verse" title="Psalm 107:28" id="Psalm-107-28">Then they cry to Yahweh in their trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>and he brings them out of their distress.<br/></span>
  <span class="verse" title="Psalm 107:29" id="Psalm-107-29">He makes the storm a calm,<br/> <span class="indent">&nbsp;&nbsp;</span>so that its waves are still.<br/></span>
  <span class="verse" title="Psalm 107:30" id="Psalm-107-30">Then they are glad because it is calm,<br/> <span class="indent">&nbsp;&nbsp;</span>so he brings them to their desired haven.<br/></span>
  <span class="verse" title="Psalm 107:31" id="Psalm-107-31">Let them praise Yahweh for his loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>for his wonderful works for the children of men!<br/>   <br/></span>
  <span class="verse" title="Psalm 107:32" id="Psalm-107-32">Let them exalt him also in the assembly of the people,<br/> <span class="indent">&nbsp;&nbsp;</span>and praise him in the seat of the elders.<br/></span>
  <span class="verse" title="Psalm 107:33" id="Psalm-107-33">He turns rivers into a desert,<br/> <span class="indent">&nbsp;&nbsp;</span>water springs into a thirsty ground,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 107:34" id="Psalm-107-34">and a fruitful land into a salt waste,<br/> <span class="indent">&nbsp;&nbsp;</span>for the wickedness of those who dwell in it.<br/></span>
  <span class="verse" title="Psalm 107:35" id="Psalm-107-35">He turns a desert into a pool of water,<br/> <span class="indent">&nbsp;&nbsp;</span>and a dry land into water springs.<br/></span>
  <span class="verse" title="Psalm 107:36" id="Psalm-107-36">There he makes the hungry live,<br/> <span class="indent">&nbsp;&nbsp;</span>that they may prepare a city to live in,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 107:37" id="Psalm-107-37">sow fields, plant vineyards,<br/> <span class="indent">&nbsp;&nbsp;</span>and reap the fruits of increase.<br/></span>
  <span class="verse" title="Psalm 107:38" id="Psalm-107-38">He blesses them also, so that they are multiplied greatly.<br/> <span class="indent">&nbsp;&nbsp;</span>He doesn&#8217;t allow their livestock to decrease.<br/></span>
  <span class="verse" title="Psalm 107:39" id="Psalm-107-39">Again, they are diminished and bowed down<br/> <span class="indent">&nbsp;&nbsp;</span>through oppression, trouble, and sorrow.<br/></span>
  <span class="verse" title="Psalm 107:40" id="Psalm-107-40">He pours contempt on princes,<br/> <span class="indent">&nbsp;&nbsp;</span>and causes them to wander in a trackless waste.<br/></span>
  <span class="verse" title="Psalm 107:41" id="Psalm-107-41">Yet he lifts the needy out of their affliction,<br/> <span class="indent">&nbsp;&nbsp;</span>and increases their families like a flock.<br/></span>
  <span class="verse" title="Psalm 107:42" id="Psalm-107-42">The upright will see it, and be glad.<br/> <span class="indent">&nbsp;&nbsp;</span>All the wicked will shut their mouths.<br/></span>
  <span class="verse" title="Psalm 107:43" id="Psalm-107-43">Whoever is wise will pay attention to these things.<br/> <span class="indent">&nbsp;&nbsp;</span>They will consider the loving kindnesses of Yahweh.<br/></span>
</div>