<div class="chapter" id="Psalms-109">
  <h2>Psalm 109</h2>
  <span class="verse" title="Psalm 109:1" id="Psalm-109-1">God of my praise, don&#8217;t remain silent,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 109:2" id="Psalm-109-2">for they have opened the mouth of the wicked and the mouth of deceit against me.<br/> <span class="indent">&nbsp;&nbsp;</span>They have spoken to me with a lying tongue.<br/></span>
  <span class="verse" title="Psalm 109:3" id="Psalm-109-3">They have also surrounded me with words of hatred,<br/> <span class="indent">&nbsp;&nbsp;</span>and fought against me without a cause.<br/></span>
  <span class="verse" title="Psalm 109:4" id="Psalm-109-4">In return for my love, they are my adversaries;<br/> <span class="indent">&nbsp;&nbsp;</span>but I am in prayer.<br/></span>
  <span class="verse" title="Psalm 109:5" id="Psalm-109-5">They have rewarded me evil for good,<br/> <span class="indent">&nbsp;&nbsp;</span>and hatred for my love.<br/></span>
  <span class="verse" title="Psalm 109:6" id="Psalm-109-6">Set a wicked man over him.<br/> <span class="indent">&nbsp;&nbsp;</span>Let an adversary stand at his right hand.<br/></span>
  <span class="verse" title="Psalm 109:7" id="Psalm-109-7">When he is judged, let him come forth guilty.<br/> <span class="indent">&nbsp;&nbsp;</span>Let his prayer be turned into sin.<br/></span>
  <span class="verse" title="Psalm 109:8" id="Psalm-109-8">Let his days be few.<br/> <span class="indent">&nbsp;&nbsp;</span>Let another take his office.<br/></span>
  <span class="verse" title="Psalm 109:9" id="Psalm-109-9">Let his children be fatherless,<br/> <span class="indent">&nbsp;&nbsp;</span>and his wife a widow.<br/></span>
  <span class="verse" title="Psalm 109:10" id="Psalm-109-10">Let his children be wandering beggars.<br/> <span class="indent">&nbsp;&nbsp;</span>Let them be sought from their ruins.<br/></span>
  <span class="verse" title="Psalm 109:11" id="Psalm-109-11">Let the creditor seize all that he has.<br/> <span class="indent">&nbsp;&nbsp;</span>Let strangers plunder the fruit of his labor.<br/></span>
  <span class="verse" title="Psalm 109:12" id="Psalm-109-12">Let there be no one to extend kindness to him,<br/> <span class="indent">&nbsp;&nbsp;</span>neither let there be anyone to have pity on his fatherless children.<br/></span>
  <span class="verse" title="Psalm 109:13" id="Psalm-109-13">Let his posterity be cut off.<br/> <span class="indent">&nbsp;&nbsp;</span>In the generation following let their name be blotted out.<br/></span>
  <span class="verse" title="Psalm 109:14" id="Psalm-109-14">Let the iniquity of his fathers be remembered by Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let the sin of his mother be blotted out.<br/></span>
  <span class="verse" title="Psalm 109:15" id="Psalm-109-15">Let them be before Yahweh continually,<br/> <span class="indent">&nbsp;&nbsp;</span>that he may cut off their memory from the earth;<br/></span>
  <span class="verse" title="Psalm 109:16" id="Psalm-109-16">because he didn&#8217;t remember to show kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>but persecuted the poor and needy man,<br/> <span class="indent">&nbsp;&nbsp;</span>the broken in heart, to kill them.<br/></span>
  <span class="verse" title="Psalm 109:17" id="Psalm-109-17">Yes, he loved cursing, and it came to him.<br/> <span class="indent">&nbsp;&nbsp;</span>He didn&#8217;t delight in blessing, and it was far from him.<br/></span>
  <span class="verse" title="Psalm 109:18" id="Psalm-109-18">He clothed himself also with cursing as with his garment.<br/> <span class="indent">&nbsp;&nbsp;</span>It came into his inward parts like water,<br/> <span class="indent">&nbsp;&nbsp;</span>like oil into his bones.<br/></span>
  <span class="verse" title="Psalm 109:19" id="Psalm-109-19">Let it be to him as the clothing with which he covers himself,<br/> <span class="indent">&nbsp;&nbsp;</span>for the belt that is always around him.<br/></span>
  <span class="verse" title="Psalm 109:20" id="Psalm-109-20">This is the reward of my adversaries from Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>of those who speak evil against my soul.<br/>   <br/></span>
  <span class="verse" title="Psalm 109:21" id="Psalm-109-21">But deal with me, Yahweh the Lord, for your name&#8217;s sake,<br/> <span class="indent">&nbsp;&nbsp;</span>because your loving kindness is good, deliver me;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 109:22" id="Psalm-109-22">for I am poor and needy.<br/> <span class="indent">&nbsp;&nbsp;</span>My heart is wounded within me.<br/></span>
  <span class="verse" title="Psalm 109:23" id="Psalm-109-23">I fade away like an evening shadow.<br/> <span class="indent">&nbsp;&nbsp;</span>I am shaken off like a locust.<br/></span>
  <span class="verse" title="Psalm 109:24" id="Psalm-109-24">My knees are weak through fasting.<br/> <span class="indent">&nbsp;&nbsp;</span>My body is thin and lacks fat.<br/></span>
  <span class="verse" title="Psalm 109:25" id="Psalm-109-25">I have also become a reproach to them.<br/> <span class="indent">&nbsp;&nbsp;</span>When they see me, they shake their head.<br/></span>
  <span class="verse" title="Psalm 109:26" id="Psalm-109-26">Help me, Yahweh, my God.<br/> <span class="indent">&nbsp;&nbsp;</span>Save me according to your loving kindness;<br/></span>
  <span class="verse" title="Psalm 109:27" id="Psalm-109-27">that they may know that this is your hand;<br/> <span class="indent">&nbsp;&nbsp;</span>that you, Yahweh, have done it.<br/></span>
  <span class="verse" title="Psalm 109:28" id="Psalm-109-28">They may curse, but you bless.<br/> <span class="indent">&nbsp;&nbsp;</span>When they arise, they will be shamed,<br/> <span class="indent">&nbsp;&nbsp;</span>but your servant shall rejoice.<br/></span>
  <span class="verse" title="Psalm 109:29" id="Psalm-109-29">Let my adversaries be clothed with dishonor.<br/> <span class="indent">&nbsp;&nbsp;</span>Let them cover themselves with their own shame as with a robe.<br/></span>
  <span class="verse" title="Psalm 109:30" id="Psalm-109-30">I will give great thanks to Yahweh with my mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, I will praise him among the multitude.<br/></span>
  <span class="verse" title="Psalm 109:31" id="Psalm-109-31">For he will stand at the right hand of the needy,<br/> <span class="indent">&nbsp;&nbsp;</span>to save him from those who judge his soul.<br/></span>
</div>