<div class="chapter" id="Psalms-110">
  <h2>Psalm 110</h2>
  <span class="verse" title="Psalm 110:1" id="Psalm-110-1">Yahweh says to my Lord, &#8220;Sit at my right hand,<br/> <span class="indent">&nbsp;&nbsp;</span>until I make your enemies your footstool for your feet.&#8221;<br/></span>
  <span class="verse" title="Psalm 110:2" id="Psalm-110-2">Yahweh will send forth the rod of your strength out of Zion.<br/> <span class="indent">&nbsp;&nbsp;</span>Rule in the midst of your enemies.<br/></span>
  <span class="verse" title="Psalm 110:3" id="Psalm-110-3">Your people offer themselves willingly in the day of your power, in holy array.<br/> <span class="indent">&nbsp;&nbsp;</span>Out of the womb of the morning, you have the dew of your youth.<br/></span>
  <span class="verse" title="Psalm 110:4" id="Psalm-110-4">Yahweh has sworn, and will not change his mind:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;You are a priest forever in the order of Melchizedek.&#8221;<br/></span>
  <span class="verse" title="Psalm 110:5" id="Psalm-110-5">The Lord is at your right hand.<br/> <span class="indent">&nbsp;&nbsp;</span>He will crush kings in the day of his wrath.<br/></span>
  <span class="verse" title="Psalm 110:6" id="Psalm-110-6">He will judge among the nations.<br/> <span class="indent">&nbsp;&nbsp;</span>He will heap up dead bodies.<br/> <span class="indent">&nbsp;&nbsp;</span>He will crush the ruler of the whole earth.<br/></span>
  <span class="verse" title="Psalm 110:7" id="Psalm-110-7">He will drink of the brook in the way;<br/>   therefore he will lift up his head.<br/></span>
</div>