<div class="chapter" id="Psalms-111">
  <h2>Psalm 111</h2>
  <span class="verse" title="Psalm 111:1" id="Psalm-111-1">Praise Yah!<br/> <span class="indent">&nbsp;&nbsp;</span>I will give thanks to Yahweh with my whole heart,<br/> <span class="indent">&nbsp;&nbsp;</span>in the council of the upright, and in the congregation.<br/></span>
  <span class="verse" title="Psalm 111:2" id="Psalm-111-2">Yahweh&#8217;s works are great,<br/> <span class="indent">&nbsp;&nbsp;</span>pondered by all those who delight in them.<br/></span>
  <span class="verse" title="Psalm 111:3" id="Psalm-111-3">His work is honor and majesty.<br/> <span class="indent">&nbsp;&nbsp;</span>His righteousness endures forever.<br/></span>
  <span class="verse" title="Psalm 111:4" id="Psalm-111-4">He has caused his wonderful works to be remembered.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh is gracious and merciful.<br/></span>
  <span class="verse" title="Psalm 111:5" id="Psalm-111-5">He has given food to those who fear him.<br/> <span class="indent">&nbsp;&nbsp;</span>He always remembers his covenant.<br/></span>
  <span class="verse" title="Psalm 111:6" id="Psalm-111-6">He has shown his people the power of his works,<br/> <span class="indent">&nbsp;&nbsp;</span>in giving them the heritage of the nations.<br/></span>
  <span class="verse" title="Psalm 111:7" id="Psalm-111-7">The works of his hands are truth and justice.<br/> <span class="indent">&nbsp;&nbsp;</span>All his precepts are sure.<br/></span>
  <span class="verse" title="Psalm 111:8" id="Psalm-111-8">They are established forever and ever.<br/> <span class="indent">&nbsp;&nbsp;</span>They are done in truth and uprightness.<br/></span>
  <span class="verse" title="Psalm 111:9" id="Psalm-111-9">He has sent redemption to his people.<br/> <span class="indent">&nbsp;&nbsp;</span>He has ordained his covenant forever.<br/> <span class="indent">&nbsp;&nbsp;</span>His name is holy and awesome!<br/></span>
  <span class="verse" title="Psalm 111:10" id="Psalm-111-10">The fear of Yahweh is the beginning of wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>All those who do his work have a good understanding.<br/>   His praise endures forever!<br/></span>
</div>