<div class="chapter" id="Psalms-112">
  <h2>Psalm 112</h2>
  <span class="verse" title="Psalm 112:1" id="Psalm-112-1">Praise Yah!<br/> <span class="indent">&nbsp;&nbsp;</span>Blessed is the man who fears Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>who delights greatly in his commandments.<br/></span>
  <span class="verse" title="Psalm 112:2" id="Psalm-112-2">His seed will be mighty in the land.<br/> <span class="indent">&nbsp;&nbsp;</span>The generation of the upright will be blessed.<br/></span>
  <span class="verse" title="Psalm 112:3" id="Psalm-112-3">Wealth and riches are in his house.<br/> <span class="indent">&nbsp;&nbsp;</span>His righteousness endures forever.<br/></span>
  <span class="verse" title="Psalm 112:4" id="Psalm-112-4">Light dawns in the darkness for the upright,<br/> <span class="indent">&nbsp;&nbsp;</span>gracious, merciful, and righteous.<br/></span>
  <span class="verse" title="Psalm 112:5" id="Psalm-112-5">It is well with the man who deals graciously and lends.<br/> <span class="indent">&nbsp;&nbsp;</span>He will maintain his cause in judgment.<br/></span>
  <span class="verse" title="Psalm 112:6" id="Psalm-112-6">For he will never be shaken.<br/> <span class="indent">&nbsp;&nbsp;</span>The righteous will be remembered forever.<br/></span>
  <span class="verse" title="Psalm 112:7" id="Psalm-112-7">He will not be afraid of evil news.<br/> <span class="indent">&nbsp;&nbsp;</span>His heart is steadfast, trusting in Yahweh.<br/></span>
  <span class="verse" title="Psalm 112:8" id="Psalm-112-8">His heart is established.<br/> <span class="indent">&nbsp;&nbsp;</span>He will not be afraid in the end when he sees his adversaries.<br/></span>
  <span class="verse" title="Psalm 112:9" id="Psalm-112-9">He has dispersed, he has given to the poor.<br/> <span class="indent">&nbsp;&nbsp;</span>His righteousness endures forever.<br/> <span class="indent">&nbsp;&nbsp;</span>His horn will be exalted with honor.<br/></span>
  <span class="verse" title="Psalm 112:10" id="Psalm-112-10">The wicked will see it, and be grieved.<br/> <span class="indent">&nbsp;&nbsp;</span>He shall gnash with his teeth, and melt away.<br/> <span class="indent">&nbsp;&nbsp;</span>The desire of the wicked will perish.<br/></span>
</div>