<div class="chapter" id="Psalms-113">
  <h2>Psalm 113</h2>
  <span class="verse" title="Psalm 113:1" id="Psalm-113-1">Praise Yah!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise, you servants of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>praise the name of Yahweh.<br/></span>
  <span class="verse" title="Psalm 113:2" id="Psalm-113-2">Blessed be the name of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>from this time forth and forevermore.<br/></span>
  <span class="verse" title="Psalm 113:3" id="Psalm-113-3">From the rising of the sun to the going down of the same,<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh&#8217;s name is to be praised.<br/></span>
  <span class="verse" title="Psalm 113:4" id="Psalm-113-4">Yahweh is high above all nations,<br/> <span class="indent">&nbsp;&nbsp;</span>his glory above the heavens.<br/></span>
  <span class="verse" title="Psalm 113:5" id="Psalm-113-5">Who is like Yahweh, our God,<br/> <span class="indent">&nbsp;&nbsp;</span>who has his seat on high,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 113:6" id="Psalm-113-6">Who stoops down to see in heaven and in the earth?<br/></span>
  <span class="verse" title="Psalm 113:7" id="Psalm-113-7">He raises up the poor out of the dust.<br/> <span class="indent">&nbsp;&nbsp;</span>Lifts up the needy from the ash heap;<br/></span>
  <span class="verse" title="Psalm 113:8" id="Psalm-113-8">that he may set him with princes,<br/> <span class="indent">&nbsp;&nbsp;</span>even with the princes of his people.<br/></span>
  <span class="verse" title="Psalm 113:9" id="Psalm-113-9">He settles the barren woman in her home,<br/> <span class="indent">&nbsp;&nbsp;</span>as a joyful mother of children.<br/>   Praise Yah!<br/></span>
</div>