<div class="chapter" id="Psalms-114">
  <h2>Psalm 114</h2>
  <span class="verse" title="Psalm 114:1" id="Psalm-114-1">When Israel went forth out of Egypt,<br/> <span class="indent">&nbsp;&nbsp;</span>the house of Jacob from a people of foreign language;<br/></span>
  <span class="verse" title="Psalm 114:2" id="Psalm-114-2">Judah became his sanctuary,<br/> <span class="indent">&nbsp;&nbsp;</span>Israel his dominion.<br/></span>
  <span class="verse" title="Psalm 114:3" id="Psalm-114-3">The sea saw it, and fled.<br/> <span class="indent">&nbsp;&nbsp;</span>The Jordan was driven back.<br/></span>
  <span class="verse" title="Psalm 114:4" id="Psalm-114-4">The mountains skipped like rams,<br/> <span class="indent">&nbsp;&nbsp;</span>the little hills like lambs.<br/></span>
  <span class="verse" title="Psalm 114:5" id="Psalm-114-5">What was it, you sea, that you fled?<br/> <span class="indent">&nbsp;&nbsp;</span>You Jordan, that you turned back?<br/></span>
  <span class="verse" title="Psalm 114:6" id="Psalm-114-6">You mountains, that you skipped like rams;<br/> <span class="indent">&nbsp;&nbsp;</span>you little hills, like lambs?<br/></span>
  <span class="verse" title="Psalm 114:7" id="Psalm-114-7">Tremble, you earth, at the presence of the Lord,<br/> <span class="indent">&nbsp;&nbsp;</span>at the presence of the God of Jacob,<br/></span>
  <span class="verse" title="Psalm 114:8" id="Psalm-114-8">who turned the rock into a pool of water,<br/> <span class="indent">&nbsp;&nbsp;</span>the flint into a spring of waters.<br/></span>
</div>