<div class="chapter" id="Psalms-115">
  <h2>Psalm 115</h2>
  <span class="verse" title="Psalm 115:1" id="Psalm-115-1">Not to us, Yahweh, not to us,<br/> <span class="indent">&nbsp;&nbsp;</span>but to your name give glory,<br/> <span class="indent">&nbsp;&nbsp;</span>for your loving kindness, and for your truth&#8217;s sake.<br/></span>
  <span class="verse" title="Psalm 115:2" id="Psalm-115-2">Why should the nations say,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Where is their God, now?&#8221;<br/></span>
  <span class="verse" title="Psalm 115:3" id="Psalm-115-3">But our God is in the heavens.<br/> <span class="indent">&nbsp;&nbsp;</span>He does whatever he pleases.<br/></span>
  <span class="verse" title="Psalm 115:4" id="Psalm-115-4">Their idols are silver and gold,<br/> <span class="indent">&nbsp;&nbsp;</span>the work of men&#8217;s hands.<br/></span>
  <span class="verse" title="Psalm 115:5" id="Psalm-115-5">They have mouths, but they don&#8217;t speak.<br/> <span class="indent">&nbsp;&nbsp;</span>They have eyes, but they don&#8217;t see.<br/></span>
  <span class="verse" title="Psalm 115:6" id="Psalm-115-6">They have ears, but they don&#8217;t hear.<br/> <span class="indent">&nbsp;&nbsp;</span>They have noses, but they don&#8217;t smell.<br/></span>
  <span class="verse" title="Psalm 115:7" id="Psalm-115-7">They have hands, but they don&#8217;t feel.<br/> <span class="indent">&nbsp;&nbsp;</span>They have feet, but they don&#8217;t walk,<br/> <span class="indent">&nbsp;&nbsp;</span>neither do they speak through their throat.<br/></span>
  <span class="verse" title="Psalm 115:8" id="Psalm-115-8">Those who make them will be like them;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, everyone who trusts in them.<br/></span>
  <span class="verse" title="Psalm 115:9" id="Psalm-115-9">Israel, trust in Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>He is their help and their shield.<br/></span>
  <span class="verse" title="Psalm 115:10" id="Psalm-115-10">House of Aaron, trust in Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>He is their help and their shield.<br/></span>
  <span class="verse" title="Psalm 115:11" id="Psalm-115-11">You who fear Yahweh, trust in Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>He is their help and their shield.<br/></span>
  <span class="verse" title="Psalm 115:12" id="Psalm-115-12">Yahweh remembers us. He will bless us.<br/> <span class="indent">&nbsp;&nbsp;</span>He will bless the house of Israel.<br/> <span class="indent">&nbsp;&nbsp;</span>He will bless the house of Aaron.<br/></span>
  <span class="verse" title="Psalm 115:13" id="Psalm-115-13">He will bless those who fear Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>both small and great.<br/></span>
  <span class="verse" title="Psalm 115:14" id="Psalm-115-14">May Yahweh increase you more and more,<br/> <span class="indent">&nbsp;&nbsp;</span>you and your children.<br/></span>
  <span class="verse" title="Psalm 115:15" id="Psalm-115-15">Blessed are you by Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>who made heaven and earth.<br/></span>
  <span class="verse" title="Psalm 115:16" id="Psalm-115-16">The heavens are the heavens of Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span>but the earth has he given to the children of men.<br/></span>
  <span class="verse" title="Psalm 115:17" id="Psalm-115-17">The dead don&#8217;t praise Yah,<br/> <span class="indent">&nbsp;&nbsp;</span>neither any who go down into silence;<br/></span>
  <span class="verse" title="Psalm 115:18" id="Psalm-115-18">But we will bless Yah,<br/> <span class="indent">&nbsp;&nbsp;</span>from this time forth and forevermore.<br/>   Praise Yah!<br/></span>
</div>