<div class="chapter" id="Psalms-116">
  <h2>Psalm 116</h2>
  <span class="verse" title="Psalm 116:1" id="Psalm-116-1">I love Yahweh, because he listens to my voice,<br/> <span class="indent">&nbsp;&nbsp;</span>and my cries for mercy.<br/></span>
  <span class="verse" title="Psalm 116:2" id="Psalm-116-2">Because he has turned his ear to me,<br/> <span class="indent">&nbsp;&nbsp;</span>therefore I will call on him as long as I live.<br/></span>
  <span class="verse" title="Psalm 116:3" id="Psalm-116-3">The cords of death surrounded me,<br/> <span class="indent">&nbsp;&nbsp;</span>the pains of Sheol got a hold of me.<br/> <span class="indent">&nbsp;&nbsp;</span>I found trouble and sorrow.<br/></span>
  <span class="verse" title="Psalm 116:4" id="Psalm-116-4">Then I called on the name of Yahweh:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Yahweh, I beg you, deliver my soul.&#8221;<br/></span>
  <span class="verse" title="Psalm 116:5" id="Psalm-116-5">Yahweh is Gracious and righteous.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, our God is merciful.<br/></span>
  <span class="verse" title="Psalm 116:6" id="Psalm-116-6">Yahweh preserves the simple.<br/> <span class="indent">&nbsp;&nbsp;</span>I was brought low, and he saved me.<br/></span>
  <span class="verse" title="Psalm 116:7" id="Psalm-116-7">Return to your rest, my soul,<br/> <span class="indent">&nbsp;&nbsp;</span>for Yahweh has dealt bountifully with you.<br/></span>
  <span class="verse" title="Psalm 116:8" id="Psalm-116-8">For you have delivered my soul from death,<br/> <span class="indent">&nbsp;&nbsp;</span>my eyes from tears,<br/> <span class="indent">&nbsp;&nbsp;</span>and my feet from falling.<br/></span>
  <span class="verse" title="Psalm 116:9" id="Psalm-116-9">I will walk before Yahweh in the land of the living.<br/></span>
  <span class="verse" title="Psalm 116:10" id="Psalm-116-10">I believed, therefore I said,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;I was greatly afflicted.&#8221;<br/></span>
  <span class="verse" title="Psalm 116:11" id="Psalm-116-11">I said in my haste,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;All men are liars.&#8221;<br/></span>
  <span class="verse" title="Psalm 116:12" id="Psalm-116-12">What will I give to Yahweh for all his benefits toward me?<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 116:13" id="Psalm-116-13">I will take the cup of salvation, and call on the name of Yahweh.<br/></span>
  <span class="verse" title="Psalm 116:14" id="Psalm-116-14">I will pay my vows to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>yes, in the presence of all his people.<br/></span>
  <span class="verse" title="Psalm 116:15" id="Psalm-116-15">Precious in the sight of Yahweh is the death of his saints.<br/></span>
  <span class="verse" title="Psalm 116:16" id="Psalm-116-16">Yahweh, truly I am your servant.<br/> <span class="indent">&nbsp;&nbsp;</span>I am your servant, the son of your handmaid.<br/> <span class="indent">&nbsp;&nbsp;</span>You have freed me from my chains.<br/></span>
  <span class="verse" title="Psalm 116:17" id="Psalm-116-17">I will offer to you the sacrifice of thanksgiving,<br/> <span class="indent">&nbsp;&nbsp;</span>and will call on the name of Yahweh.<br/></span>
  <span class="verse" title="Psalm 116:18" id="Psalm-116-18">I will pay my vows to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>yes, in the presence of all his people,<br/></span>
  <span class="verse" title="Psalm 116:19" id="Psalm-116-19">in the courts of Yahweh&#8217;s house,<br/> <span class="indent">&nbsp;&nbsp;</span>in the midst of you, Jerusalem.<br/>   Praise Yah!<br/></span>
</div>