<div class="chapter" id="Psalms-118">
  <h2>Psalm 118</h2>
  <span class="verse" title="Psalm 118:1" id="Psalm-118-1">Give thanks to Yahweh, for he is good,<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever.<br/></span>
  <span class="verse" title="Psalm 118:2" id="Psalm-118-2">Let Israel now say<br/> <span class="indent">&nbsp;&nbsp;</span>that his loving kindness endures forever.<br/></span>
  <span class="verse" title="Psalm 118:3" id="Psalm-118-3">Let the house of Aaron now say<br/> <span class="indent">&nbsp;&nbsp;</span>that his loving kindness endures forever.<br/></span>
  <span class="verse" title="Psalm 118:4" id="Psalm-118-4">Now let those who fear Yahweh say<br/> <span class="indent">&nbsp;&nbsp;</span>that his loving kindness endures forever.<br/></span>
  <span class="verse" title="Psalm 118:5" id="Psalm-118-5">Out of my distress, I called on Yah.<br/> <span class="indent">&nbsp;&nbsp;</span>Yah answered me with freedom.<br/></span>
  <span class="verse" title="Psalm 118:6" id="Psalm-118-6">Yahweh is on my side. I will not be afraid.<br/> <span class="indent">&nbsp;&nbsp;</span>What can man do to me?<br/></span>
  <span class="verse" title="Psalm 118:7" id="Psalm-118-7">Yahweh is on my side among those who help me.<br/> <span class="indent">&nbsp;&nbsp;</span>Therefore I will look in triumph at those who hate me.<br/></span>
  <span class="verse" title="Psalm 118:8" id="Psalm-118-8">It is better to take refuge in Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>than to put confidence in man.<br/></span>
  <span class="verse" title="Psalm 118:9" id="Psalm-118-9">It is better to take refuge in Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>than to put confidence in princes.<br/></span>
  <span class="verse" title="Psalm 118:10" id="Psalm-118-10">All the nations surrounded me,<br/> <span class="indent">&nbsp;&nbsp;</span>but in the name of Yahweh, I cut them off.<br/></span>
  <span class="verse" title="Psalm 118:11" id="Psalm-118-11">They surrounded me, yes, they surrounded me.<br/> <span class="indent">&nbsp;&nbsp;</span>In the name of Yahweh I indeed cut them off.<br/></span>
  <span class="verse" title="Psalm 118:12" id="Psalm-118-12">They surrounded me like bees.<br/> <span class="indent">&nbsp;&nbsp;</span>They are quenched like the burning thorns.<br/> <span class="indent">&nbsp;&nbsp;</span>In the name of Yahweh I cut them off.<br/></span>
  <span class="verse" title="Psalm 118:13" id="Psalm-118-13">You pushed me back hard, to make me fall,<br/> <span class="indent">&nbsp;&nbsp;</span>but Yahweh helped me.<br/></span>
  <span class="verse" title="Psalm 118:14" id="Psalm-118-14">Yah is my strength and song.<br/> <span class="indent">&nbsp;&nbsp;</span>He has become my salvation.<br/></span>
  <span class="verse" title="Psalm 118:15" id="Psalm-118-15">The voice of rejoicing and salvation is in the tents of the righteous.<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;The right hand of Yahweh does valiantly.<br/></span>
  <span class="verse" title="Psalm 118:16" id="Psalm-118-16">The right hand of Yahweh is exalted!<br/> <span class="indent">&nbsp;&nbsp;</span>The right hand of Yahweh does valiantly!&#8221;<br/></span>
  <span class="verse" title="Psalm 118:17" id="Psalm-118-17">I will not die, but live,<br/> <span class="indent">&nbsp;&nbsp;</span>and declare Yah&#8217;s works.<br/></span>
  <span class="verse" title="Psalm 118:18" id="Psalm-118-18">Yah has punished me severely,<br/> <span class="indent">&nbsp;&nbsp;</span>but he has not given me over to death.<br/></span>
  <span class="verse" title="Psalm 118:19" id="Psalm-118-19">Open to me the gates of righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>I will enter into them.<br/> <span class="indent">&nbsp;&nbsp;</span>I will give thanks to Yah.<br/></span>
  <span class="verse" title="Psalm 118:20" id="Psalm-118-20">This is the gate of Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span>the righteous will enter into it.<br/></span>
  <span class="verse" title="Psalm 118:21" id="Psalm-118-21">I will give thanks to you, for you have answered me,<br/> <span class="indent">&nbsp;&nbsp;</span>and have become my salvation.<br/></span>
  <span class="verse" title="Psalm 118:22" id="Psalm-118-22">The stone which the builders rejected has become the head of the corner.<br/></span>
  <span class="verse" title="Psalm 118:23" id="Psalm-118-23">This is Yahweh&#8217;s doing.<br/> <span class="indent">&nbsp;&nbsp;</span>It is marvelous in our eyes.<br/></span>
  <span class="verse" title="Psalm 118:24" id="Psalm-118-24">This is the day that Yahweh has made.<br/> <span class="indent">&nbsp;&nbsp;</span>We will rejoice and be glad in it!<br/></span>
  <span class="verse" title="Psalm 118:25" id="Psalm-118-25">Save us now, we beg you, Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, we beg you, send prosperity now.<br/></span>
  <span class="verse" title="Psalm 118:26" id="Psalm-118-26">Blessed is he who comes in the name of Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>We have blessed you out of the house of Yahweh.<br/></span>
  <span class="verse" title="Psalm 118:27" id="Psalm-118-27">Yahweh is God, and he has given us light.<br/> <span class="indent">&nbsp;&nbsp;</span>Bind the sacrifice with cords, even to the horns of the altar.<br/></span>
  <span class="verse" title="Psalm 118:28" id="Psalm-118-28">You are my God, and I will give thanks to you.<br/> <span class="indent">&nbsp;&nbsp;</span>You are my God, I will exalt you.<br/></span>
  <span class="verse" title="Psalm 118:29" id="Psalm-118-29">Oh give thanks to Yahweh, for he is good,<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever.<br/>   <br/></span>
</div>