<div class="chapter" id="Psalms-119">
  <h2>Psalm 119</h2>
  <span class="verse" title="Psalm 119:1" id="Psalm-119-1">Blessed are those whose ways are blameless,<br/> <span class="indent">&nbsp;&nbsp;</span>who walk according to Yahweh&#8217;s law.<br/></span>
  <span class="verse" title="Psalm 119:2" id="Psalm-119-2">Blessed are those who keep his statutes,<br/> <span class="indent">&nbsp;&nbsp;</span>who seek him with their whole heart.<br/></span>
  <span class="verse" title="Psalm 119:3" id="Psalm-119-3">Yes, they do nothing wrong.<br/> <span class="indent">&nbsp;&nbsp;</span>They walk in his ways.<br/></span>
  <span class="verse" title="Psalm 119:4" id="Psalm-119-4">You have commanded your precepts,<br/> <span class="indent">&nbsp;&nbsp;</span>that we should fully obey them.<br/></span>
  <span class="verse" title="Psalm 119:5" id="Psalm-119-5">Oh that my ways were steadfast<br/> <span class="indent">&nbsp;&nbsp;</span>to obey your statutes!<br/></span>
  <span class="verse" title="Psalm 119:6" id="Psalm-119-6">Then I wouldn&#8217;t be disappointed,<br/> <span class="indent">&nbsp;&nbsp;</span>when I consider all of your commandments.<br/></span>
  <span class="verse" title="Psalm 119:7" id="Psalm-119-7">I will give thanks to you with uprightness of heart,<br/> <span class="indent">&nbsp;&nbsp;</span>when I learn your righteous judgments.<br/></span>
  <span class="verse" title="Psalm 119:8" id="Psalm-119-8">I will observe your statutes.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t utterly forsake me.<br/>   <br/>   BET<br/>   <br/></span>
  <span class="verse" title="Psalm 119:9" id="Psalm-119-9">How can a young man keep his way pure?<br/> <span class="indent">&nbsp;&nbsp;</span>By living according to your word.<br/></span>
  <span class="verse" title="Psalm 119:10" id="Psalm-119-10">With my whole heart, I have sought you.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let me wander from your commandments.<br/></span>
  <span class="verse" title="Psalm 119:11" id="Psalm-119-11">I have hidden your word in my heart,<br/> <span class="indent">&nbsp;&nbsp;</span>that I might not sin against you.<br/></span>
  <span class="verse" title="Psalm 119:12" id="Psalm-119-12">Blessed are you, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Teach me your statutes.<br/></span>
  <span class="verse" title="Psalm 119:13" id="Psalm-119-13">With my lips,<br/> <span class="indent">&nbsp;&nbsp;</span>I have declared all the ordinances of your mouth.<br/></span>
  <span class="verse" title="Psalm 119:14" id="Psalm-119-14">I have rejoiced in the way of your testimonies,<br/> <span class="indent">&nbsp;&nbsp;</span>as much as in all riches.<br/></span>
  <span class="verse" title="Psalm 119:15" id="Psalm-119-15">I will meditate on your precepts,<br/> <span class="indent">&nbsp;&nbsp;</span>and consider your ways.<br/></span>
  <span class="verse" title="Psalm 119:16" id="Psalm-119-16">I will delight myself in your statutes.<br/> <span class="indent">&nbsp;&nbsp;</span>I will not forget your word.<br/>   <br/>   GIMEL<br/>   <br/></span>
  <span class="verse" title="Psalm 119:17" id="Psalm-119-17">Do good to your servant.<br/> <span class="indent">&nbsp;&nbsp;</span>I will live and I will obey your word.<br/></span>
  <span class="verse" title="Psalm 119:18" id="Psalm-119-18">Open my eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may see wondrous things out of your law.<br/></span>
  <span class="verse" title="Psalm 119:19" id="Psalm-119-19">I am a stranger on the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t hide your commandments from me.<br/></span>
  <span class="verse" title="Psalm 119:20" id="Psalm-119-20">My soul is consumed with longing for your ordinances at all times.<br/></span>
  <span class="verse" title="Psalm 119:21" id="Psalm-119-21">You have rebuked the proud who are cursed,<br/> <span class="indent">&nbsp;&nbsp;</span>who wander from your commandments.<br/></span>
  <span class="verse" title="Psalm 119:22" id="Psalm-119-22">Take reproach and contempt away from me,<br/> <span class="indent">&nbsp;&nbsp;</span>for I have kept your statutes.<br/></span>
  <span class="verse" title="Psalm 119:23" id="Psalm-119-23">Though princes sit and slander me,<br/> <span class="indent">&nbsp;&nbsp;</span>your servant will meditate on your statutes.<br/></span>
  <span class="verse" title="Psalm 119:24" id="Psalm-119-24">Indeed your statutes are my delight,<br/> <span class="indent">&nbsp;&nbsp;</span>and my counselors.<br/>   <br/>   DALED<br/>   <br/></span>
  <span class="verse" title="Psalm 119:25" id="Psalm-119-25">My soul is laid low in the dust.<br/> <span class="indent">&nbsp;&nbsp;</span>Revive me according to your word!<br/></span>
  <span class="verse" title="Psalm 119:26" id="Psalm-119-26">I declared my ways, and you answered me.<br/> <span class="indent">&nbsp;&nbsp;</span>Teach me your statutes.<br/></span>
  <span class="verse" title="Psalm 119:27" id="Psalm-119-27">Let me understand the teaching of your precepts!<br/> <span class="indent">&nbsp;&nbsp;</span>Then I will meditate on your wondrous works.<br/></span>
  <span class="verse" title="Psalm 119:28" id="Psalm-119-28">My soul is weary with sorrow:<br/> <span class="indent">&nbsp;&nbsp;</span>strengthen me according to your word.<br/></span>
  <span class="verse" title="Psalm 119:29" id="Psalm-119-29">Keep me from the way of deceit.<br/> <span class="indent">&nbsp;&nbsp;</span>Grant me your law graciously!<br/></span>
  <span class="verse" title="Psalm 119:30" id="Psalm-119-30">I have chosen the way of truth.<br/> <span class="indent">&nbsp;&nbsp;</span>I have set your ordinances before me.<br/></span>
  <span class="verse" title="Psalm 119:31" id="Psalm-119-31">I cling to your statutes, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let me be disappointed.<br/></span>
  <span class="verse" title="Psalm 119:32" id="Psalm-119-32">I run in the path of your commandments,<br/> <span class="indent">&nbsp;&nbsp;</span>for you have set my heart free.<br/>   <br/>   HEY<br/>   <br/></span>
  <span class="verse" title="Psalm 119:33" id="Psalm-119-33">Teach me, Yahweh, the way of your statutes.<br/> <span class="indent">&nbsp;&nbsp;</span>I will keep them to the end.<br/></span>
  <span class="verse" title="Psalm 119:34" id="Psalm-119-34">Give me understanding, and I will keep your law.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, I will obey it with my whole heart.<br/></span>
  <span class="verse" title="Psalm 119:35" id="Psalm-119-35">Direct me in the path of your commandments,<br/> <span class="indent">&nbsp;&nbsp;</span>for I delight in them.<br/></span>
  <span class="verse" title="Psalm 119:36" id="Psalm-119-36">Turn my heart toward your statutes,<br/> <span class="indent">&nbsp;&nbsp;</span>not toward selfish gain.<br/></span>
  <span class="verse" title="Psalm 119:37" id="Psalm-119-37">Turn my eyes away from looking at worthless things.<br/> <span class="indent">&nbsp;&nbsp;</span>Revive me in your ways.<br/></span>
  <span class="verse" title="Psalm 119:38" id="Psalm-119-38">Fulfill your promise to your servant,<br/> <span class="indent">&nbsp;&nbsp;</span>that you may be feared.<br/></span>
  <span class="verse" title="Psalm 119:39" id="Psalm-119-39">Take away my disgrace that I dread,<br/> <span class="indent">&nbsp;&nbsp;</span>for your ordinances are good.<br/></span>
  <span class="verse" title="Psalm 119:40" id="Psalm-119-40">Behold, I long for your precepts!<br/> <span class="indent">&nbsp;&nbsp;</span>Revive me in your righteousness.<br/>   <br/>   WAW<br/>   <br/></span>
  <span class="verse" title="Psalm 119:41" id="Psalm-119-41">Let your loving kindness also come to me, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>your salvation, according to your word.<br/></span>
  <span class="verse" title="Psalm 119:42" id="Psalm-119-42">So I will have an answer for him who reproaches me,<br/> <span class="indent">&nbsp;&nbsp;</span>for I trust in your word.<br/></span>
  <span class="verse" title="Psalm 119:43" id="Psalm-119-43">Don&#8217;t snatch the word of truth out of my mouth,<br/> <span class="indent">&nbsp;&nbsp;</span>for I put my hope in your ordinances.<br/></span>
  <span class="verse" title="Psalm 119:44" id="Psalm-119-44">So I will obey your law continually,<br/> <span class="indent">&nbsp;&nbsp;</span>forever and ever.<br/></span>
  <span class="verse" title="Psalm 119:45" id="Psalm-119-45">I will walk in liberty,<br/> <span class="indent">&nbsp;&nbsp;</span>for I have sought your precepts.<br/></span>
  <span class="verse" title="Psalm 119:46" id="Psalm-119-46">I will also speak of your statutes before kings,<br/> <span class="indent">&nbsp;&nbsp;</span>and will not be disappointed.<br/></span>
  <span class="verse" title="Psalm 119:47" id="Psalm-119-47">I will delight myself in your commandments,<br/> <span class="indent">&nbsp;&nbsp;</span>because I love them.<br/></span>
  <span class="verse" title="Psalm 119:48" id="Psalm-119-48">I reach out my hands for your commandments, which I love.<br/> <span class="indent">&nbsp;&nbsp;</span>I will meditate on your statutes.<br/>   <br/>   ZAYIN<br/>   <br/></span>
  <span class="verse" title="Psalm 119:49" id="Psalm-119-49">Remember your word to your servant,<br/> <span class="indent">&nbsp;&nbsp;</span>because you gave me hope.<br/></span>
  <span class="verse" title="Psalm 119:50" id="Psalm-119-50">This is my comfort in my affliction,<br/> <span class="indent">&nbsp;&nbsp;</span>for your word has revived me.<br/></span>
  <span class="verse" title="Psalm 119:51" id="Psalm-119-51">The arrogant mock me excessively,<br/> <span class="indent">&nbsp;&nbsp;</span>but I don&#8217;t swerve from your law.<br/></span>
  <span class="verse" title="Psalm 119:52" id="Psalm-119-52">I remember your ordinances of old, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>and have comforted myself.<br/></span>
  <span class="verse" title="Psalm 119:53" id="Psalm-119-53">Indignation has taken hold on me,<br/> <span class="indent">&nbsp;&nbsp;</span>because of the wicked who forsake your law.<br/></span>
  <span class="verse" title="Psalm 119:54" id="Psalm-119-54">Your statutes have been my songs,<br/> <span class="indent">&nbsp;&nbsp;</span>in the house where I live.<br/></span>
  <span class="verse" title="Psalm 119:55" id="Psalm-119-55">I have remembered your name, Yahweh, in the night,<br/> <span class="indent">&nbsp;&nbsp;</span>and I obey your law.<br/></span>
  <span class="verse" title="Psalm 119:56" id="Psalm-119-56">This is my way,<br/> <span class="indent">&nbsp;&nbsp;</span>that I keep your precepts.<br/>   <br/>   CHET<br/>   <br/></span>
  <span class="verse" title="Psalm 119:57" id="Psalm-119-57">Yahweh is my portion.<br/> <span class="indent">&nbsp;&nbsp;</span>I promised to obey your words.<br/></span>
  <span class="verse" title="Psalm 119:58" id="Psalm-119-58">I sought your favor with my whole heart.<br/> <span class="indent">&nbsp;&nbsp;</span>Be merciful to me according to your word.<br/></span>
  <span class="verse" title="Psalm 119:59" id="Psalm-119-59">I considered my ways,<br/> <span class="indent">&nbsp;&nbsp;</span>and turned my steps to your statutes.<br/></span>
  <span class="verse" title="Psalm 119:60" id="Psalm-119-60">I will hurry, and not delay,<br/> <span class="indent">&nbsp;&nbsp;</span>to obey your commandments.<br/></span>
  <span class="verse" title="Psalm 119:61" id="Psalm-119-61">The ropes of the wicked bind me,<br/> <span class="indent">&nbsp;&nbsp;</span>but I won&#8217;t forget your law.<br/></span>
  <span class="verse" title="Psalm 119:62" id="Psalm-119-62">At midnight I will rise to give thanks to you,<br/> <span class="indent">&nbsp;&nbsp;</span>because of your righteous ordinances.<br/></span>
  <span class="verse" title="Psalm 119:63" id="Psalm-119-63">I am a friend of all those who fear you,<br/> <span class="indent">&nbsp;&nbsp;</span>of those who observe your precepts.<br/></span>
  <span class="verse" title="Psalm 119:64" id="Psalm-119-64">The earth is full of your loving kindness, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Teach me your statutes.<br/>   <br/>   TET<br/>   <br/></span>
  <span class="verse" title="Psalm 119:65" id="Psalm-119-65">Do good to your servant,<br/> <span class="indent">&nbsp;&nbsp;</span>according to your word, Yahweh.<br/></span>
  <span class="verse" title="Psalm 119:66" id="Psalm-119-66">Teach me good judgment and knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>for I believe in your commandments.<br/></span>
  <span class="verse" title="Psalm 119:67" id="Psalm-119-67">Before I was afflicted, I went astray;<br/> <span class="indent">&nbsp;&nbsp;</span>but now I observe your word.<br/></span>
  <span class="verse" title="Psalm 119:68" id="Psalm-119-68">You are good, and do good.<br/> <span class="indent">&nbsp;&nbsp;</span>Teach me your statutes.<br/></span>
  <span class="verse" title="Psalm 119:69" id="Psalm-119-69">The proud have smeared a lie upon me.<br/> <span class="indent">&nbsp;&nbsp;</span>With my whole heart, I will keep your precepts.<br/></span>
  <span class="verse" title="Psalm 119:70" id="Psalm-119-70">Their heart is as callous as the fat,<br/> <span class="indent">&nbsp;&nbsp;</span>but I delight in your law.<br/></span>
  <span class="verse" title="Psalm 119:71" id="Psalm-119-71">It is good for me that I have been afflicted,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may learn your statutes.<br/></span>
  <span class="verse" title="Psalm 119:72" id="Psalm-119-72">The law of your mouth is better to me than thousands of pieces of gold and silver.<br/>   <br/>   YUD<br/>   <br/></span>
  <span class="verse" title="Psalm 119:73" id="Psalm-119-73">Your hands have made me and formed me.<br/> <span class="indent">&nbsp;&nbsp;</span>Give me understanding, that I may learn your commandments.<br/></span>
  <span class="verse" title="Psalm 119:74" id="Psalm-119-74">Those who fear you will see me and be glad,<br/> <span class="indent">&nbsp;&nbsp;</span>because I have put my hope in your word.<br/></span>
  <span class="verse" title="Psalm 119:75" id="Psalm-119-75">Yahweh, I know that your judgments are righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>that in faithfulness you have afflicted me.<br/></span>
  <span class="verse" title="Psalm 119:76" id="Psalm-119-76">Please let your loving kindness be for my comfort,<br/> <span class="indent">&nbsp;&nbsp;</span>according to your word to your servant.<br/></span>
  <span class="verse" title="Psalm 119:77" id="Psalm-119-77">Let your tender mercies come to me, that I may live;<br/> <span class="indent">&nbsp;&nbsp;</span>for your law is my delight.<br/></span>
  <span class="verse" title="Psalm 119:78" id="Psalm-119-78">Let the proud be disappointed, for they have overthrown me wrongfully.<br/> <span class="indent">&nbsp;&nbsp;</span>I will meditate on your precepts.<br/></span>
  <span class="verse" title="Psalm 119:79" id="Psalm-119-79">Let those who fear you turn to me.<br/> <span class="indent">&nbsp;&nbsp;</span>They will know your statutes.<br/></span>
  <span class="verse" title="Psalm 119:80" id="Psalm-119-80">Let my heart be blameless toward your decrees,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may not be disappointed.<br/>   <br/>   KAF<br/>   <br/></span>
  <span class="verse" title="Psalm 119:81" id="Psalm-119-81">My soul faints for your salvation.<br/> <span class="indent">&nbsp;&nbsp;</span>I hope in your word.<br/></span>
  <span class="verse" title="Psalm 119:82" id="Psalm-119-82">My eyes fail for your word.<br/> <span class="indent">&nbsp;&nbsp;</span>I say, &#8220;When will you comfort me?&#8221;<br/></span>
  <span class="verse" title="Psalm 119:83" id="Psalm-119-83">For I have become like a wineskin in the smoke.<br/> <span class="indent">&nbsp;&nbsp;</span>I don&#8217;t forget your statutes.<br/></span>
  <span class="verse" title="Psalm 119:84" id="Psalm-119-84">How many are the days of your servant?<br/> <span class="indent">&nbsp;&nbsp;</span>When will you execute judgment on those who persecute me?<br/></span>
  <span class="verse" title="Psalm 119:85" id="Psalm-119-85">The proud have dug pits for me,<br/> <span class="indent">&nbsp;&nbsp;</span>contrary to your law.<br/></span>
  <span class="verse" title="Psalm 119:86" id="Psalm-119-86">All of your commandments are faithful.<br/> <span class="indent">&nbsp;&nbsp;</span>They persecute me wrongfully.<br/> <span class="indent">&nbsp;&nbsp;</span>Help me!<br/></span>
  <span class="verse" title="Psalm 119:87" id="Psalm-119-87">They had almost wiped me from the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>but I didn&#8217;t forsake your precepts.<br/></span>
  <span class="verse" title="Psalm 119:88" id="Psalm-119-88">Preserve my life according to your loving kindness,<br/> <span class="indent">&nbsp;&nbsp;</span>so I will obey the statutes of your mouth.<br/>   <br/>   LAMED<br/>   <br/></span>
  <span class="verse" title="Psalm 119:89" id="Psalm-119-89">Yahweh, your word is settled in heaven forever.<br/></span>
  <span class="verse" title="Psalm 119:90" id="Psalm-119-90">Your faithfulness is to all generations.<br/> <span class="indent">&nbsp;&nbsp;</span>You have established the earth, and it remains.<br/></span>
  <span class="verse" title="Psalm 119:91" id="Psalm-119-91">Your laws remain to this day,<br/> <span class="indent">&nbsp;&nbsp;</span>for all things serve you.<br/></span>
  <span class="verse" title="Psalm 119:92" id="Psalm-119-92">Unless your law had been my delight,<br/> <span class="indent">&nbsp;&nbsp;</span>I would have perished in my affliction.<br/></span>
  <span class="verse" title="Psalm 119:93" id="Psalm-119-93">I will never forget your precepts,<br/> <span class="indent">&nbsp;&nbsp;</span>for with them, you have revived me.<br/></span>
  <span class="verse" title="Psalm 119:94" id="Psalm-119-94">I am yours.<br/> <span class="indent">&nbsp;&nbsp;</span>Save me, for I have sought your precepts.<br/></span>
  <span class="verse" title="Psalm 119:95" id="Psalm-119-95">The wicked have waited for me, to destroy me.<br/> <span class="indent">&nbsp;&nbsp;</span>I will consider your statutes.<br/></span>
  <span class="verse" title="Psalm 119:96" id="Psalm-119-96">I have seen a limit to all perfection,<br/> <span class="indent">&nbsp;&nbsp;</span>but your commands are boundless.<br/>   <br/>   MEM<br/>   <br/></span>
  <span class="verse" title="Psalm 119:97" id="Psalm-119-97">How I love your law!<br/> <span class="indent">&nbsp;&nbsp;</span>It is my meditation all day.<br/></span>
  <span class="verse" title="Psalm 119:98" id="Psalm-119-98">Your commandments make me wiser than my enemies,<br/> <span class="indent">&nbsp;&nbsp;</span>for your commandments are always with me.<br/></span>
  <span class="verse" title="Psalm 119:99" id="Psalm-119-99">I have more understanding than all my teachers,<br/> <span class="indent">&nbsp;&nbsp;</span>for your testimonies are my meditation.<br/></span>
  <span class="verse" title="Psalm 119:100" id="Psalm-119-100">I understand more than the aged,<br/> <span class="indent">&nbsp;&nbsp;</span>because I have kept your precepts.<br/></span>
  <span class="verse" title="Psalm 119:101" id="Psalm-119-101">I have kept my feet from every evil way,<br/> <span class="indent">&nbsp;&nbsp;</span>that I might observe your word.<br/></span>
  <span class="verse" title="Psalm 119:102" id="Psalm-119-102">I have not turned aside from your ordinances,<br/> <span class="indent">&nbsp;&nbsp;</span>for you have taught me.<br/></span>
  <span class="verse" title="Psalm 119:103" id="Psalm-119-103">How sweet are your promises to my taste,<br/> <span class="indent">&nbsp;&nbsp;</span>more than honey to my mouth!<br/></span>
  <span class="verse" title="Psalm 119:104" id="Psalm-119-104">Through your precepts, I get understanding;<br/> <span class="indent">&nbsp;&nbsp;</span>therefore I hate every false way.<br/>   <br/>   NUN<br/>   <br/></span>
  <span class="verse" title="Psalm 119:105" id="Psalm-119-105">Your word is a lamp to my feet,<br/> <span class="indent">&nbsp;&nbsp;</span>and a light for my path.<br/></span>
  <span class="verse" title="Psalm 119:106" id="Psalm-119-106">I have sworn, and have confirmed it,<br/> <span class="indent">&nbsp;&nbsp;</span>that I will obey your righteous ordinances.<br/></span>
  <span class="verse" title="Psalm 119:107" id="Psalm-119-107">I am afflicted very much.<br/> <span class="indent">&nbsp;&nbsp;</span>Revive me, Yahweh, according to your word.<br/></span>
  <span class="verse" title="Psalm 119:108" id="Psalm-119-108">Accept, I beg you, the willing offerings of my mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh, teach me your ordinances.<br/></span>
  <span class="verse" title="Psalm 119:109" id="Psalm-119-109">My soul is continually in my hand,<br/> <span class="indent">&nbsp;&nbsp;</span>yet I won&#8217;t forget your law.<br/></span>
  <span class="verse" title="Psalm 119:110" id="Psalm-119-110">The wicked have laid a snare for me,<br/> <span class="indent">&nbsp;&nbsp;</span>yet I haven&#8217;t gone astray from your precepts.<br/></span>
  <span class="verse" title="Psalm 119:111" id="Psalm-119-111">I have taken your testimonies as a heritage forever,<br/> <span class="indent">&nbsp;&nbsp;</span>for they are the joy of my heart.<br/></span>
  <span class="verse" title="Psalm 119:112" id="Psalm-119-112">I have set my heart to perform your statutes forever,<br/> <span class="indent">&nbsp;&nbsp;</span>even to the end.<br/>   <br/>   SAMEKH<br/>   <br/></span>
  <span class="verse" title="Psalm 119:113" id="Psalm-119-113">I hate double-minded men,<br/> <span class="indent">&nbsp;&nbsp;</span>but I love your law.<br/></span>
  <span class="verse" title="Psalm 119:114" id="Psalm-119-114">You are my hiding place and my shield.<br/> <span class="indent">&nbsp;&nbsp;</span>I hope in your word.<br/></span>
  <span class="verse" title="Psalm 119:115" id="Psalm-119-115">Depart from me, you evildoers,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may keep the commandments of my God.<br/></span>
  <span class="verse" title="Psalm 119:116" id="Psalm-119-116">Uphold me according to your word, that I may live.<br/> <span class="indent">&nbsp;&nbsp;</span>Let me not be ashamed of my hope.<br/></span>
  <span class="verse" title="Psalm 119:117" id="Psalm-119-117">Hold me up, and I will be safe,<br/> <span class="indent">&nbsp;&nbsp;</span>and will have respect for your statutes continually.<br/></span>
  <span class="verse" title="Psalm 119:118" id="Psalm-119-118">You reject all those who stray from your statutes,<br/> <span class="indent">&nbsp;&nbsp;</span>for their deceit is in vain.<br/></span>
  <span class="verse" title="Psalm 119:119" id="Psalm-119-119">You put away all the wicked of the earth like dross.<br/> <span class="indent">&nbsp;&nbsp;</span>Therefore I love your testimonies.<br/></span>
  <span class="verse" title="Psalm 119:120" id="Psalm-119-120">My flesh trembles for fear of you.<br/> <span class="indent">&nbsp;&nbsp;</span>I am afraid of your judgments.<br/>   <br/>   AYIN<br/>   <br/></span>
  <span class="verse" title="Psalm 119:121" id="Psalm-119-121">I have done what is just and righteous.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t leave me to my oppressors.<br/></span>
  <span class="verse" title="Psalm 119:122" id="Psalm-119-122">Ensure your servant&#8217;s well-being.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let the proud oppress me.<br/></span>
  <span class="verse" title="Psalm 119:123" id="Psalm-119-123">My eyes fail looking for your salvation,<br/> <span class="indent">&nbsp;&nbsp;</span>for your righteous word.<br/></span>
  <span class="verse" title="Psalm 119:124" id="Psalm-119-124">Deal with your servant according to your loving kindness.<br/> <span class="indent">&nbsp;&nbsp;</span>Teach me your statutes.<br/></span>
  <span class="verse" title="Psalm 119:125" id="Psalm-119-125">I am your servant. Give me understanding,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may know your testimonies.<br/></span>
  <span class="verse" title="Psalm 119:126" id="Psalm-119-126">It is time to act, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>for they break your law.<br/></span>
  <span class="verse" title="Psalm 119:127" id="Psalm-119-127">Therefore I love your commandments more than gold,<br/> <span class="indent">&nbsp;&nbsp;</span>yes, more than pure gold.<br/></span>
  <span class="verse" title="Psalm 119:128" id="Psalm-119-128">Therefore I consider all of your precepts to be right.<br/> <span class="indent">&nbsp;&nbsp;</span>I hate every false way.<br/>   <br/>   PEY<br/>   <br/></span>
  <span class="verse" title="Psalm 119:129" id="Psalm-119-129">Your testimonies are wonderful,<br/> <span class="indent">&nbsp;&nbsp;</span>therefore my soul keeps them.<br/></span>
  <span class="verse" title="Psalm 119:130" id="Psalm-119-130">The entrance of your words gives light.<br/> <span class="indent">&nbsp;&nbsp;</span>It gives understanding to the simple.<br/></span>
  <span class="verse" title="Psalm 119:131" id="Psalm-119-131">I opened my mouth wide and panted,<br/> <span class="indent">&nbsp;&nbsp;</span>for I longed for your commandments.<br/></span>
  <span class="verse" title="Psalm 119:132" id="Psalm-119-132">Turn to me, and have mercy on me,<br/> <span class="indent">&nbsp;&nbsp;</span>as you always do to those who love your name.<br/></span>
  <span class="verse" title="Psalm 119:133" id="Psalm-119-133">Establish my footsteps in your word.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let any iniquity have dominion over me.<br/></span>
  <span class="verse" title="Psalm 119:134" id="Psalm-119-134">Redeem me from the oppression of man,<br/> <span class="indent">&nbsp;&nbsp;</span>so I will observe your precepts.<br/></span>
  <span class="verse" title="Psalm 119:135" id="Psalm-119-135">Make your face shine on your servant.<br/> <span class="indent">&nbsp;&nbsp;</span>Teach me your statutes.<br/></span>
  <span class="verse" title="Psalm 119:136" id="Psalm-119-136">Streams of tears run down my eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>because they don&#8217;t observe your law.<br/>   <br/>   TZADI<br/>   <br/></span>
  <span class="verse" title="Psalm 119:137" id="Psalm-119-137">You are righteous, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Your judgments are upright.<br/></span>
  <span class="verse" title="Psalm 119:138" id="Psalm-119-138">You have commanded your statutes in righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>They are fully trustworthy.<br/></span>
  <span class="verse" title="Psalm 119:139" id="Psalm-119-139">My zeal wears me out,<br/> <span class="indent">&nbsp;&nbsp;</span>because my enemies ignore your words.<br/></span>
  <span class="verse" title="Psalm 119:140" id="Psalm-119-140">Your promises have been thoroughly tested,<br/> <span class="indent">&nbsp;&nbsp;</span>and your servant loves them.<br/></span>
  <span class="verse" title="Psalm 119:141" id="Psalm-119-141">I am small and despised.<br/> <span class="indent">&nbsp;&nbsp;</span>I don&#8217;t forget your precepts.<br/></span>
  <span class="verse" title="Psalm 119:142" id="Psalm-119-142">Your righteousness is an everlasting righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>Your law is truth.<br/></span>
  <span class="verse" title="Psalm 119:143" id="Psalm-119-143">Trouble and anguish have taken hold of me.<br/> <span class="indent">&nbsp;&nbsp;</span>Your commandments are my delight.<br/></span>
  <span class="verse" title="Psalm 119:144" id="Psalm-119-144">Your testimonies are righteous forever.<br/> <span class="indent">&nbsp;&nbsp;</span>Give me understanding, that I may live.<br/>   <br/>   KUF<br/>   <br/></span>
  <span class="verse" title="Psalm 119:145" id="Psalm-119-145">I have called with my whole heart.<br/> <span class="indent">&nbsp;&nbsp;</span>Answer me, Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>I will keep your statutes.<br/></span>
  <span class="verse" title="Psalm 119:146" id="Psalm-119-146">I have called to you. Save me!<br/> <span class="indent">&nbsp;&nbsp;</span>I will obey your statutes.<br/></span>
  <span class="verse" title="Psalm 119:147" id="Psalm-119-147">I rise before dawn and cry for help.<br/> <span class="indent">&nbsp;&nbsp;</span>I put my hope in your words.<br/></span>
  <span class="verse" title="Psalm 119:148" id="Psalm-119-148">My eyes stay open through the night watches,<br/> <span class="indent">&nbsp;&nbsp;</span>that I might meditate on your word.<br/></span>
  <span class="verse" title="Psalm 119:149" id="Psalm-119-149">Hear my voice according to your loving kindness.<br/> <span class="indent">&nbsp;&nbsp;</span>Revive me, Yahweh, according to your ordinances.<br/></span>
  <span class="verse" title="Psalm 119:150" id="Psalm-119-150">They draw near who follow after wickedness.<br/> <span class="indent">&nbsp;&nbsp;</span>They are far from your law.<br/></span>
  <span class="verse" title="Psalm 119:151" id="Psalm-119-151">You are near, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>All your commandments are truth.<br/></span>
  <span class="verse" title="Psalm 119:152" id="Psalm-119-152">Of old I have known from your testimonies,<br/> <span class="indent">&nbsp;&nbsp;</span>that you have founded them forever.<br/>   <br/>   RESH<br/>   <br/></span>
  <span class="verse" title="Psalm 119:153" id="Psalm-119-153">Consider my affliction, and deliver me,<br/> <span class="indent">&nbsp;&nbsp;</span>for I don&#8217;t forget your law.<br/></span>
  <span class="verse" title="Psalm 119:154" id="Psalm-119-154">Plead my cause, and redeem me!<br/> <span class="indent">&nbsp;&nbsp;</span>Revive me according to your promise.<br/></span>
  <span class="verse" title="Psalm 119:155" id="Psalm-119-155">Salvation is far from the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>for they don&#8217;t seek your statutes.<br/></span>
  <span class="verse" title="Psalm 119:156" id="Psalm-119-156">Great are your tender mercies, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Revive me according to your ordinances.<br/></span>
  <span class="verse" title="Psalm 119:157" id="Psalm-119-157">Many are my persecutors and my adversaries.<br/> <span class="indent">&nbsp;&nbsp;</span>I haven&#8217;t swerved from your testimonies.<br/></span>
  <span class="verse" title="Psalm 119:158" id="Psalm-119-158">I look at the faithless with loathing,<br/> <span class="indent">&nbsp;&nbsp;</span>because they don&#8217;t observe your word.<br/></span>
  <span class="verse" title="Psalm 119:159" id="Psalm-119-159">Consider how I love your precepts.<br/> <span class="indent">&nbsp;&nbsp;</span>Revive me, Yahweh, according to your loving kindness.<br/></span>
  <span class="verse" title="Psalm 119:160" id="Psalm-119-160">All of your words are truth.<br/> <span class="indent">&nbsp;&nbsp;</span>Every one of your righteous ordinances endures forever.<br/>   <br/>   SIN AND SHIN<br/>   <br/></span>
  <span class="verse" title="Psalm 119:161" id="Psalm-119-161">Princes have persecuted me without a cause,<br/> <span class="indent">&nbsp;&nbsp;</span>but my heart stands in awe of your words.<br/></span>
  <span class="verse" title="Psalm 119:162" id="Psalm-119-162">I rejoice at your word,<br/> <span class="indent">&nbsp;&nbsp;</span>as one who finds great spoil.<br/></span>
  <span class="verse" title="Psalm 119:163" id="Psalm-119-163">I hate and abhor falsehood.<br/> <span class="indent">&nbsp;&nbsp;</span>I love your law.<br/></span>
  <span class="verse" title="Psalm 119:164" id="Psalm-119-164">Seven times a day, I praise you,<br/> <span class="indent">&nbsp;&nbsp;</span>because of your righteous ordinances.<br/></span>
  <span class="verse" title="Psalm 119:165" id="Psalm-119-165">Those who love your law have great peace.<br/> <span class="indent">&nbsp;&nbsp;</span>Nothing causes them to stumble.<br/></span>
  <span class="verse" title="Psalm 119:166" id="Psalm-119-166">I have hoped for your salvation, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>I have done your commandments.<br/></span>
  <span class="verse" title="Psalm 119:167" id="Psalm-119-167">My soul has observed your testimonies.<br/> <span class="indent">&nbsp;&nbsp;</span>I love them exceedingly.<br/></span>
  <span class="verse" title="Psalm 119:168" id="Psalm-119-168">I have obeyed your precepts and your testimonies,<br/> <span class="indent">&nbsp;&nbsp;</span>for all my ways are before you.<br/>   <br/>   TAV<br/>   <br/></span>
  <span class="verse" title="Psalm 119:169" id="Psalm-119-169">Let my cry come before you, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Give me understanding according to your word.<br/></span>
  <span class="verse" title="Psalm 119:170" id="Psalm-119-170">Let my supplication come before you.<br/> <span class="indent">&nbsp;&nbsp;</span>Deliver me according to your word.<br/></span>
  <span class="verse" title="Psalm 119:171" id="Psalm-119-171">Let my lips utter praise,<br/> <span class="indent">&nbsp;&nbsp;</span>for you teach me your statutes.<br/></span>
  <span class="verse" title="Psalm 119:172" id="Psalm-119-172">Let my tongue sing of your word,<br/> <span class="indent">&nbsp;&nbsp;</span>for all your commandments are righteousness.<br/></span>
  <span class="verse" title="Psalm 119:173" id="Psalm-119-173">Let your hand be ready to help me,<br/> <span class="indent">&nbsp;&nbsp;</span>for I have chosen your precepts.<br/></span>
  <span class="verse" title="Psalm 119:174" id="Psalm-119-174">I have longed for your salvation, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Your law is my delight.<br/></span>
  <span class="verse" title="Psalm 119:175" id="Psalm-119-175">Let my soul live, that I may praise you.<br/> <span class="indent">&nbsp;&nbsp;</span>Let your ordinances help me.<br/></span>
  <span class="verse" title="Psalm 119:176" id="Psalm-119-176">I have gone astray like a lost sheep.<br/> <span class="indent">&nbsp;&nbsp;</span>Seek your servant, for I don&#8217;t forget your commandments.<br/></span>
</div>