<div class="chapter" id="Psalms-120">
  <h2>Psalm 120</h2>
  <span class="verse" title="Psalm 120:1" id="Psalm-120-1">In my distress, I cried to Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>He answered me.<br/></span>
  <span class="verse" title="Psalm 120:2" id="Psalm-120-2">Deliver my soul, Yahweh, from lying lips,<br/> <span class="indent">&nbsp;&nbsp;</span>from a deceitful tongue.<br/></span>
  <span class="verse" title="Psalm 120:3" id="Psalm-120-3">What will be given to you, and what will be done more to you,<br/> <span class="indent">&nbsp;&nbsp;</span>you deceitful tongue?<br/></span>
  <span class="verse" title="Psalm 120:4" id="Psalm-120-4">Sharp arrows of the mighty,<br/> <span class="indent">&nbsp;&nbsp;</span>with coals of juniper.<br/></span>
  <span class="verse" title="Psalm 120:5" id="Psalm-120-5">Woe is me, that I live in Meshech,<br/> <span class="indent">&nbsp;&nbsp;</span>that I dwell among the tents of Kedar!<br/></span>
  <span class="verse" title="Psalm 120:6" id="Psalm-120-6">My soul has had her dwelling too long<br/> <span class="indent">&nbsp;&nbsp;</span>with him who hates peace.<br/></span>
  <span class="verse" title="Psalm 120:7" id="Psalm-120-7">I am for peace,<br/> <span class="indent">&nbsp;&nbsp;</span>but when I speak, they are for war.<br/></span>
</div>