<div class="chapter" id="Psalms-122">
  <h2>Psalm 122</h2>
  <span class="verse" title="Psalm 122:1" id="Psalm-122-1">I was glad when they said to me,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Let&#8217;s go to Yahweh&#8217;s house!&#8221;<br/></span>
  <span class="verse" title="Psalm 122:2" id="Psalm-122-2">Our feet are standing within your gates, Jerusalem;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 122:3" id="Psalm-122-3">Jerusalem, that is built as a city that is compact together;<br/></span>
  <span class="verse" title="Psalm 122:4" id="Psalm-122-4">where the tribes go up, even Yah&#8217;s tribes,<br/> <span class="indent">&nbsp;&nbsp;</span>according to an ordinance for Israel,<br/> <span class="indent">&nbsp;&nbsp;</span>to give thanks to the name of Yahweh.<br/></span>
  <span class="verse" title="Psalm 122:5" id="Psalm-122-5">For there are set thrones for judgment,<br/> <span class="indent">&nbsp;&nbsp;</span>the thrones of David&#8217;s house.<br/></span>
  <span class="verse" title="Psalm 122:6" id="Psalm-122-6">Pray for the peace of Jerusalem.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who love you will prosper.<br/></span>
  <span class="verse" title="Psalm 122:7" id="Psalm-122-7">Peace be within your walls,<br/> <span class="indent">&nbsp;&nbsp;</span>and prosperity within your palaces.<br/></span>
  <span class="verse" title="Psalm 122:8" id="Psalm-122-8">For my brothers&#8217; and companions&#8217; sakes,<br/> <span class="indent">&nbsp;&nbsp;</span>I will now say, &#8220;Peace be within you.&#8221;<br/></span>
  <span class="verse" title="Psalm 122:9" id="Psalm-122-9">For the sake of the house of Yahweh our God,<br/> <span class="indent">&nbsp;&nbsp;</span>I will seek your good.<br/></span>
</div>