<div class="chapter" id="Psalms-123">
  <h2>Psalm 123</h2>
  <span class="verse" title="Psalm 123:1" id="Psalm-123-1">To you I do lift up my eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>you who sit in the heavens.<br/></span>
  <span class="verse" title="Psalm 123:2" id="Psalm-123-2">Behold, as the eyes of servants look to the hand of their master,<br/> <span class="indent">&nbsp;&nbsp;</span>as the eyes of a maid to the hand of her mistress;<br/> <span class="indent">&nbsp;&nbsp;</span>so our eyes look to Yahweh, our God,<br/> <span class="indent">&nbsp;&nbsp;</span>until he has mercy on us.<br/></span>
  <span class="verse" title="Psalm 123:3" id="Psalm-123-3">Have mercy on us, Yahweh, have mercy on us,<br/> <span class="indent">&nbsp;&nbsp;</span>for we have endured much contempt.<br/></span>
  <span class="verse" title="Psalm 123:4" id="Psalm-123-4">Our soul is exceedingly filled with the scoffing of those who are at ease,<br/> <span class="indent">&nbsp;&nbsp;</span>with the contempt of the proud.<br/></span>
</div>