<div class="chapter" id="Psalms-124">
  <h2>Psalm 124</h2>
  <span class="verse" title="Psalm 124:1" id="Psalm-124-1">If it had not been Yahweh who was on our side,<br/> <span class="indent">&nbsp;&nbsp;</span>let Israel now say,<br/></span>
  <span class="verse" title="Psalm 124:2" id="Psalm-124-2">if it had not been Yahweh who was on our side,<br/> <span class="indent">&nbsp;&nbsp;</span>when men rose up against us;<br/></span>
  <span class="verse" title="Psalm 124:3" id="Psalm-124-3">then they would have swallowed us up alive,<br/> <span class="indent">&nbsp;&nbsp;</span>when their wrath was kindled against us;<br/></span>
  <span class="verse" title="Psalm 124:4" id="Psalm-124-4">then the waters would have overwhelmed us,<br/> <span class="indent">&nbsp;&nbsp;</span>the stream would have gone over our soul;<br/></span>
  <span class="verse" title="Psalm 124:5" id="Psalm-124-5">then the proud waters would have gone over our soul.<br/></span>
  <span class="verse" title="Psalm 124:6" id="Psalm-124-6">Blessed be Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>who has not given us as a prey to their teeth.<br/></span>
  <span class="verse" title="Psalm 124:7" id="Psalm-124-7">Our soul has escaped like a bird out of the fowler&#8217;s snare.<br/> <span class="indent">&nbsp;&nbsp;</span>The snare is broken, and we have escaped.<br/></span>
  <span class="verse" title="Psalm 124:8" id="Psalm-124-8">Our help is in the name of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>who made heaven and earth.<br/></span>
</div>