<div class="chapter" id="Psalms-125">
  <h2>Psalm 125</h2>
  <span class="verse" title="Psalm 125:1" id="Psalm-125-1">Those who trust in Yahweh are as Mount Zion,<br/> <span class="indent">&nbsp;&nbsp;</span>which can&#8217;t be moved, but remains forever.<br/></span>
  <span class="verse" title="Psalm 125:2" id="Psalm-125-2">As the mountains surround Jerusalem,<br/> <span class="indent">&nbsp;&nbsp;</span>so Yahweh surrounds his people from this time forth and forevermore.<br/></span>
  <span class="verse" title="Psalm 125:3" id="Psalm-125-3">For the scepter of wickedness won&#8217;t remain over the allotment of the righteous;<br/> <span class="indent">&nbsp;&nbsp;</span>so that the righteous won&#8217;t use their hands to do evil.<br/></span>
  <span class="verse" title="Psalm 125:4" id="Psalm-125-4">Do good, Yahweh, to those who are good,<br/> <span class="indent">&nbsp;&nbsp;</span>to those who are upright in their hearts.<br/></span>
  <span class="verse" title="Psalm 125:5" id="Psalm-125-5">But as for those who turn aside to their crooked ways,<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh will lead them away with the workers of iniquity.<br/>   Peace be on Israel.<br/></span>
</div>