<div class="chapter" id="Psalms-126">
  <h2>Psalm 126</h2>
  <span class="verse" title="Psalm 126:1" id="Psalm-126-1">When Yahweh brought back those who returned to Zion,<br/> <span class="indent">&nbsp;&nbsp;</span>we were like those who dream.<br/></span>
  <span class="verse" title="Psalm 126:2" id="Psalm-126-2">Then our mouth was filled with laughter,<br/> <span class="indent">&nbsp;&nbsp;</span>and our tongue with singing.<br/>   Then they said among the nations,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Yahweh has done great things for them.&#8221;<br/></span>
  <span class="verse" title="Psalm 126:3" id="Psalm-126-3">Yahweh has done great things for us,<br/> <span class="indent">&nbsp;&nbsp;</span>and we are glad.<br/></span>
  <span class="verse" title="Psalm 126:4" id="Psalm-126-4">Restore our fortunes again, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>like the streams in the Negev.<br/></span>
  <span class="verse" title="Psalm 126:5" id="Psalm-126-5">Those who sow in tears will reap in joy.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 126:6" id="Psalm-126-6">He who goes out weeping, carrying seed for sowing,<br/> <span class="indent">&nbsp;&nbsp;</span>will certainly come again with joy, carrying his sheaves.<br/></span>
</div>