<div class="chapter" id="Psalms-127">
  <h2>Psalm 127</h2>
  <span class="verse" title="Psalm 127:1" id="Psalm-127-1">Unless Yahweh builds the house,<br/> <span class="indent">&nbsp;&nbsp;</span>they labor in vain who build it.<br/>   Unless Yahweh watches over the city,<br/> <span class="indent">&nbsp;&nbsp;</span>the watchman guards it in vain.<br/></span>
  <span class="verse" title="Psalm 127:2" id="Psalm-127-2">It is vain for you to rise up early,<br/> <span class="indent">&nbsp;&nbsp;</span>to stay up late,<br/> <span class="indent">&nbsp;&nbsp;</span>eating the bread of toil;<br/> <span class="indent">&nbsp;&nbsp;</span>for he gives sleep to his loved ones.<br/></span>
  <span class="verse" title="Psalm 127:3" id="Psalm-127-3">Behold, children are a heritage of Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>The fruit of the womb is his reward.<br/></span>
  <span class="verse" title="Psalm 127:4" id="Psalm-127-4">As arrows in the hand of a mighty man,<br/> <span class="indent">&nbsp;&nbsp;</span>so are the children of youth.<br/></span>
  <span class="verse" title="Psalm 127:5" id="Psalm-127-5">Happy is the man who has his quiver full of them.<br/> <span class="indent">&nbsp;&nbsp;</span>They won&#8217;t be disappointed when they speak with their enemies in the gate.<br/></span>
</div>