<div class="chapter" id="Psalms-128">
  <h2>Psalm 128</h2>
  <span class="verse" title="Psalm 128:1" id="Psalm-128-1">Blessed is everyone who fears Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>who walks in his ways.<br/></span>
  <span class="verse" title="Psalm 128:2" id="Psalm-128-2">For you will eat the labor of your hands.<br/> <span class="indent">&nbsp;&nbsp;</span>You will be happy, and it will be well with you.<br/></span>
  <span class="verse" title="Psalm 128:3" id="Psalm-128-3">Your wife will be as a fruitful vine,<br/> <span class="indent">&nbsp;&nbsp;</span>in the innermost parts of your house;<br/> <span class="indent">&nbsp;&nbsp;</span>your children like olive plants,<br/> <span class="indent">&nbsp;&nbsp;</span>around your table.<br/></span>
  <span class="verse" title="Psalm 128:4" id="Psalm-128-4">Behold, thus is the man blessed who fears Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 128:5" id="Psalm-128-5">May Yahweh bless you out of Zion,<br/> <span class="indent">&nbsp;&nbsp;</span>and may you see the good of Jerusalem all the days of your life.<br/></span>
  <span class="verse" title="Psalm 128:6" id="Psalm-128-6">Yes, may you see your children&#8217;s children.<br/> <span class="indent">&nbsp;&nbsp;</span>Peace be upon Israel.<br/></span>
</div>