<div class="chapter" id="Psalms-129">
  <h2>Psalm 129</h2>
  <span class="verse" title="Psalm 129:1" id="Psalm-129-1">Many times they have afflicted me from my youth up.<br/> <span class="indent">&nbsp;&nbsp;</span>Let Israel now say,<br/></span>
  <span class="verse" title="Psalm 129:2" id="Psalm-129-2">many times they have afflicted me from my youth up,<br/> <span class="indent">&nbsp;&nbsp;</span>yet they have not prevailed against me.<br/></span>
  <span class="verse" title="Psalm 129:3" id="Psalm-129-3">The plowers plowed on my back.<br/> <span class="indent">&nbsp;&nbsp;</span>They made their furrows long.<br/></span>
  <span class="verse" title="Psalm 129:4" id="Psalm-129-4">Yahweh is righteous.<br/> <span class="indent">&nbsp;&nbsp;</span>He has cut apart the cords of the wicked.<br/></span>
  <span class="verse" title="Psalm 129:5" id="Psalm-129-5">Let them be disappointed and turned backward,<br/> <span class="indent">&nbsp;&nbsp;</span>all those who hate Zion.<br/></span>
  <span class="verse" title="Psalm 129:6" id="Psalm-129-6">Let them be as the grass on the housetops,<br/> <span class="indent">&nbsp;&nbsp;</span>which withers before it grows up;<br/></span>
  <span class="verse" title="Psalm 129:7" id="Psalm-129-7">with which the reaper doesn&#8217;t fill his hand,<br/> <span class="indent">&nbsp;&nbsp;</span>nor he who binds sheaves, his bosom.<br/></span>
  <span class="verse" title="Psalm 129:8" id="Psalm-129-8">Neither do those who go by say,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;The blessing of Yahweh be on you.<br/> <span class="indent">&nbsp;&nbsp;</span>We bless you in the name of Yahweh.&#8221;<br/></span>
</div>