<div class="chapter" id="Psalms-130">
  <h2>Psalm 130</h2>
  <span class="verse" title="Psalm 130:1" id="Psalm-130-1">Out of the depths I have cried to you, Yahweh.<br/></span>
  <span class="verse" title="Psalm 130:2" id="Psalm-130-2">Lord, hear my voice.<br/> <span class="indent">&nbsp;&nbsp;</span>Let your ears be attentive to the voice of my petitions.<br/></span>
  <span class="verse" title="Psalm 130:3" id="Psalm-130-3">If you, Yah, kept a record of sins,<br/> <span class="indent">&nbsp;&nbsp;</span>Lord, who could stand?<br/></span>
  <span class="verse" title="Psalm 130:4" id="Psalm-130-4">But there is forgiveness with you,<br/> <span class="indent">&nbsp;&nbsp;</span>therefore you are feared.<br/></span>
  <span class="verse" title="Psalm 130:5" id="Psalm-130-5">I wait for Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>My soul waits.<br/> <span class="indent">&nbsp;&nbsp;</span>I hope in his word.<br/></span>
  <span class="verse" title="Psalm 130:6" id="Psalm-130-6">My soul longs for the Lord more than watchmen long for the morning;<br/> <span class="indent">&nbsp;&nbsp;</span>more than watchmen for the morning.<br/></span>
  <span class="verse" title="Psalm 130:7" id="Psalm-130-7">Israel, hope in Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>for with Yahweh there is loving kindness.<br/> <span class="indent">&nbsp;&nbsp;</span>With him is abundant redemption.<br/></span>
  <span class="verse" title="Psalm 130:8" id="Psalm-130-8">He will redeem Israel from all their sins.<br/></span>
</div>