<div class="chapter" id="Psalms-131">
  <h2>Psalm 131</h2>
  <span class="verse" title="Psalm 131:1" id="Psalm-131-1">Yahweh, my heart isn&#8217;t haughty, nor my eyes lofty;<br/> <span class="indent">&nbsp;&nbsp;</span>nor do I concern myself with great matters,<br/> <span class="indent">&nbsp;&nbsp;</span>or things too wonderful for me.<br/></span>
  <span class="verse" title="Psalm 131:2" id="Psalm-131-2">Surely I have stilled and quieted my soul,<br/> <span class="indent">&nbsp;&nbsp;</span>like a weaned child with his mother,<br/> <span class="indent">&nbsp;&nbsp;</span>like a weaned child is my soul within me.<br/></span>
  <span class="verse" title="Psalm 131:3" id="Psalm-131-3">Israel, hope in Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>from this time forth and forevermore.<br/></span>
</div>