<div class="chapter" id="Psalms-132">
  <h2>Psalm 132</h2>
  <span class="verse" title="Psalm 132:1" id="Psalm-132-1">Yahweh, remember David and all his affliction,<br/></span>
  <span class="verse" title="Psalm 132:2" id="Psalm-132-2">how he swore to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>and vowed to the Mighty One of Jacob:<br/></span>
  <span class="verse" title="Psalm 132:3" id="Psalm-132-3">&#8220;Surely I will not come into the structure of my house,<br/> <span class="indent">&nbsp;&nbsp;</span>nor go up into my bed;<br/></span>
  <span class="verse" title="Psalm 132:4" id="Psalm-132-4">I will not give sleep to my eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>or slumber to my eyelids;<br/></span>
  <span class="verse" title="Psalm 132:5" id="Psalm-132-5">until I find out a place for Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>a dwelling for the Mighty One of Jacob.&#8221;<br/></span>
  <span class="verse" title="Psalm 132:6" id="Psalm-132-6">Behold, we heard of it in Ephrathah.<br/> <span class="indent">&nbsp;&nbsp;</span>We found it in the field of Jaar:<br/></span>
  <span class="verse" title="Psalm 132:7" id="Psalm-132-7">&#8220;We will go into his dwelling place.<br/> <span class="indent">&nbsp;&nbsp;</span>We will worship at his footstool.<br/></span>
  <span class="verse" title="Psalm 132:8" id="Psalm-132-8">Arise, Yahweh, into your resting place;<br/> <span class="indent">&nbsp;&nbsp;</span>you, and the ark of your strength.<br/></span>
  <span class="verse" title="Psalm 132:9" id="Psalm-132-9">Let your priest be clothed with righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>Let your saints shout for joy!&#8221;<br/></span>
  <span class="verse" title="Psalm 132:10" id="Psalm-132-10">For your servant David&#8217;s sake,<br/> <span class="indent">&nbsp;&nbsp;</span>don&#8217;t turn away the face of your anointed one.<br/></span>
  <span class="verse" title="Psalm 132:11" id="Psalm-132-11">Yahweh has sworn to David in truth.<br/> <span class="indent">&nbsp;&nbsp;</span>He will not turn from it:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;I will set the fruit of your body on your throne.<br/></span>
  <span class="verse" title="Psalm 132:12" id="Psalm-132-12">If your children will keep my covenant,<br/> <span class="indent">&nbsp;&nbsp;</span>my testimony that I will teach them,<br/> <span class="indent">&nbsp;&nbsp;</span>their children also will sit on your throne forevermore.&#8221;<br/></span>
  <span class="verse" title="Psalm 132:13" id="Psalm-132-13">For Yahweh has chosen Zion.<br/> <span class="indent">&nbsp;&nbsp;</span>He has desired it for his habitation.<br/></span>
  <span class="verse" title="Psalm 132:14" id="Psalm-132-14">&#8220;This is my resting place forever.<br/> <span class="indent">&nbsp;&nbsp;</span>Here I will live, for I have desired it.<br/></span>
  <span class="verse" title="Psalm 132:15" id="Psalm-132-15">I will abundantly bless her provision.<br/> <span class="indent">&nbsp;&nbsp;</span>I will satisfy her poor with bread.<br/></span>
  <span class="verse" title="Psalm 132:16" id="Psalm-132-16">Her priests I will also clothe with salvation.<br/> <span class="indent">&nbsp;&nbsp;</span>Her saints will shout aloud for joy.<br/></span>
  <span class="verse" title="Psalm 132:17" id="Psalm-132-17">There I will make the horn of David to bud.<br/> <span class="indent">&nbsp;&nbsp;</span>I have ordained a lamp for my anointed.<br/></span>
  <span class="verse" title="Psalm 132:18" id="Psalm-132-18">I will clothe his enemies with shame,<br/> <span class="indent">&nbsp;&nbsp;</span>but on himself, his crown will be resplendent.&#8221;<br/></span>
</div>