<div class="chapter" id="Psalms-134">
  <h2>Psalm 134</h2>
  <span class="verse" title="Psalm 134:1" id="Psalm-134-1">Look! Praise Yahweh, all you servants of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>who stand by night in Yahweh&#8217;s house!<br/></span>
  <span class="verse" title="Psalm 134:2" id="Psalm-134-2">Lift up your hands in the sanctuary.<br/> <span class="indent">&nbsp;&nbsp;</span>Praise Yahweh!<br/></span>
  <span class="verse" title="Psalm 134:3" id="Psalm-134-3">May Yahweh bless you from Zion;<br/> <span class="indent">&nbsp;&nbsp;</span>even he who made heaven and earth.<br/></span>
</div>