<div class="chapter" id="Psalms-135">
  <h2>Psalm 135</h2>
  <span class="verse" title="Psalm 135:1" id="Psalm-135-1">Praise Yah!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise the name of Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise him, you servants of Yahweh,<br/></span>
  <span class="verse" title="Psalm 135:2" id="Psalm-135-2">you who stand in the house of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>in the courts of our God&#8217;s house.<br/></span>
  <span class="verse" title="Psalm 135:3" id="Psalm-135-3">Praise Yah, for Yahweh is good.<br/> <span class="indent">&nbsp;&nbsp;</span>Sing praises to his name, for that is pleasant.<br/></span>
  <span class="verse" title="Psalm 135:4" id="Psalm-135-4">For Yah has chosen Jacob for himself;<br/> <span class="indent">&nbsp;&nbsp;</span>Israel for his own possession.<br/></span>
  <span class="verse" title="Psalm 135:5" id="Psalm-135-5">For I know that Yahweh is great,<br/> <span class="indent">&nbsp;&nbsp;</span>that our Lord is above all gods.<br/></span>
  <span class="verse" title="Psalm 135:6" id="Psalm-135-6">Whatever Yahweh pleased, that he has done,<br/> <span class="indent">&nbsp;&nbsp;</span>in heaven and in earth, in the seas and in all deeps;<br/></span>
  <span class="verse" title="Psalm 135:7" id="Psalm-135-7">who causes the clouds to rise from the ends of the earth;<br/> <span class="indent">&nbsp;&nbsp;</span>who makes lightnings with the rain;<br/> <span class="indent">&nbsp;&nbsp;</span>who brings forth the wind out of his treasuries;<br/></span>
  <span class="verse" title="Psalm 135:8" id="Psalm-135-8">Who struck the firstborn of Egypt,<br/> <span class="indent">&nbsp;&nbsp;</span>both of man and animal;<br/></span>
  <span class="verse" title="Psalm 135:9" id="Psalm-135-9">Who sent signs and wonders into the midst of you, Egypt,<br/> <span class="indent">&nbsp;&nbsp;</span>on Pharaoh, and on all his servants;<br/></span>
  <span class="verse" title="Psalm 135:10" id="Psalm-135-10">who struck many nations,<br/> <span class="indent">&nbsp;&nbsp;</span>and killed mighty kings,<br/></span>
  <span class="verse" title="Psalm 135:11" id="Psalm-135-11">Sihon king of the Amorites,<br/> <span class="indent">&nbsp;&nbsp;</span>Og king of Bashan,<br/> <span class="indent">&nbsp;&nbsp;</span>and all the kingdoms of Canaan,<br/></span>
  <span class="verse" title="Psalm 135:12" id="Psalm-135-12">and gave their land for a heritage,<br/> <span class="indent">&nbsp;&nbsp;</span>a heritage to Israel, his people.<br/></span>
  <span class="verse" title="Psalm 135:13" id="Psalm-135-13">Your name, Yahweh, endures forever;<br/> <span class="indent">&nbsp;&nbsp;</span>your renown, Yahweh, throughout all generations.<br/></span>
  <span class="verse" title="Psalm 135:14" id="Psalm-135-14">For Yahweh will judge his people,<br/> <span class="indent">&nbsp;&nbsp;</span>and have compassion on his servants.<br/></span>
  <span class="verse" title="Psalm 135:15" id="Psalm-135-15">The idols of the nations are silver and gold,<br/> <span class="indent">&nbsp;&nbsp;</span>the work of men&#8217;s hands.<br/></span>
  <span class="verse" title="Psalm 135:16" id="Psalm-135-16">They have mouths, but they can&#8217;t speak.<br/> <span class="indent">&nbsp;&nbsp;</span>They have eyes, but they can&#8217;t see.<br/></span>
  <span class="verse" title="Psalm 135:17" id="Psalm-135-17">They have ears, but they can&#8217;t hear;<br/> <span class="indent">&nbsp;&nbsp;</span>neither is there any breath in their mouths.<br/></span>
  <span class="verse" title="Psalm 135:18" id="Psalm-135-18">Those who make them will be like them;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, everyone who trusts in them.<br/></span>
  <span class="verse" title="Psalm 135:19" id="Psalm-135-19">House of Israel, praise Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>House of Aaron, praise Yahweh!<br/></span>
  <span class="verse" title="Psalm 135:20" id="Psalm-135-20">House of Levi, praise Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>You who fear Yahweh, praise Yahweh!<br/></span>
  <span class="verse" title="Psalm 135:21" id="Psalm-135-21">Blessed be Yahweh from Zion,<br/> <span class="indent">&nbsp;&nbsp;</span>Who dwells at Jerusalem.<br/>   Praise Yah!<br/></span>
</div>