<div class="chapter" id="Psalms-136">
  <h2>Psalm 136</h2>
  <span class="verse" title="Psalm 136:1" id="Psalm-136-1">Give thanks to Yahweh, for he is good;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever.<br/></span>
  <span class="verse" title="Psalm 136:2" id="Psalm-136-2">Give thanks to the God of gods;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever.<br/></span>
  <span class="verse" title="Psalm 136:3" id="Psalm-136-3">Give thanks to the Lord of lords;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:4" id="Psalm-136-4">To him who alone does great wonders;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:5" id="Psalm-136-5">To him who by understanding made the heavens;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:6" id="Psalm-136-6">To him who spread out the earth above the waters;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:7" id="Psalm-136-7">To him who made the great lights;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:8" id="Psalm-136-8">The sun to rule by day;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:9" id="Psalm-136-9">The moon and stars to rule by night;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:10" id="Psalm-136-10">To him who struck down the Egyptian firstborn;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:11" id="Psalm-136-11">And brought out Israel from among them;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:12" id="Psalm-136-12">With a strong hand, and with an outstretched arm;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:13" id="Psalm-136-13">To him who divided the Red Sea apart;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:14" id="Psalm-136-14">And made Israel to pass through its midst;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:15" id="Psalm-136-15">But overthrew Pharaoh and his army in the Red Sea;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:16" id="Psalm-136-16">To him who led his people through the wilderness;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:17" id="Psalm-136-17">To him who struck great kings;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:18" id="Psalm-136-18">And killed mighty kings;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:19" id="Psalm-136-19">Sihon king of the Amorites;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:20" id="Psalm-136-20">Og king of Bashan;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:21" id="Psalm-136-21">And gave their land as an inheritance;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:22" id="Psalm-136-22">Even a heritage to Israel his servant;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:23" id="Psalm-136-23">Who remembered us in our low estate;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever;<br/></span>
  <span class="verse" title="Psalm 136:24" id="Psalm-136-24">And has delivered us from our adversaries;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever:<br/></span>
  <span class="verse" title="Psalm 136:25" id="Psalm-136-25">Who gives food to every creature;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever.<br/></span>
  <span class="verse" title="Psalm 136:26" id="Psalm-136-26">Oh give thanks to the God of heaven;<br/> <span class="indent">&nbsp;&nbsp;</span>for his loving kindness endures forever.<br/>    <br/></span>
</div>