<div class="chapter" id="Psalms-137">
  <h2>Psalm 137</h2>
  <span class="verse" title="Psalm 137:1" id="Psalm-137-1">By the rivers of Babylon, there we sat down.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, we wept, when we remembered Zion.<br/></span>
  <span class="verse" title="Psalm 137:2" id="Psalm-137-2">On the willows in its midst,<br/> <span class="indent">&nbsp;&nbsp;</span>we hung up our harps.<br/></span>
  <span class="verse" title="Psalm 137:3" id="Psalm-137-3">For there, those who led us captive asked us for songs.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who tormented us demanded songs of joy:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Sing us one of the songs of Zion!&#8221;<br/></span>
  <span class="verse" title="Psalm 137:4" id="Psalm-137-4">How can we sing Yahweh&#8217;s song in a foreign land?<br/></span>
  <span class="verse" title="Psalm 137:5" id="Psalm-137-5">If I forget you, Jerusalem,<br/> <span class="indent">&nbsp;&nbsp;</span>let my right hand forget its skill.<br/></span>
  <span class="verse" title="Psalm 137:6" id="Psalm-137-6">Let my tongue stick to the roof of my mouth if I don&#8217;t remember you;<br/> <span class="indent">&nbsp;&nbsp;</span>if I don&#8217;t prefer Jerusalem above my chief joy.<br/></span>
  <span class="verse" title="Psalm 137:7" id="Psalm-137-7">Remember, Yahweh, against the children of Edom,<br/> <span class="indent">&nbsp;&nbsp;</span>the day of Jerusalem;<br/> <span class="indent">&nbsp;&nbsp;</span>who said, &#8220;Raze it!<br/> <span class="indent">&nbsp;&nbsp;</span>Raze it even to its foundation!&#8221;<br/></span>
  <span class="verse" title="Psalm 137:8" id="Psalm-137-8">Daughter of Babylon, doomed to destruction,<br/> <span class="indent">&nbsp;&nbsp;</span>he will be happy who rewards you,<br/> <span class="indent">&nbsp;&nbsp;</span>as you have served us.<br/></span>
  <span class="verse" title="Psalm 137:9" id="Psalm-137-9">Happy shall he be,<br/> <span class="indent">&nbsp;&nbsp;</span>who takes and dashes your little ones against the rock.<br/></span>
</div>