<div class="chapter" id="Psalms-138">
  <h2>Psalm 138</h2>
  <span class="verse" title="Psalm 138:1" id="Psalm-138-1">I will give you thanks with my whole heart.<br/> <span class="indent">&nbsp;&nbsp;</span>Before the gods, I will sing praises to you.<br/></span>
  <span class="verse" title="Psalm 138:2" id="Psalm-138-2">I will bow down toward your holy temple,<br/> <span class="indent">&nbsp;&nbsp;</span>and give thanks to your Name for your loving kindness and for your truth;<br/> <span class="indent">&nbsp;&nbsp;</span>for you have exalted your Name and your Word above all.<br/></span>
  <span class="verse" title="Psalm 138:3" id="Psalm-138-3">In the day that I called, you answered me.<br/> <span class="indent">&nbsp;&nbsp;</span>You encouraged me with strength in my soul.<br/></span>
  <span class="verse" title="Psalm 138:4" id="Psalm-138-4">All the kings of the earth will give you thanks, Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>for they have heard the words of your mouth.<br/></span>
  <span class="verse" title="Psalm 138:5" id="Psalm-138-5">Yes, they will sing of the ways of Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span>for great is Yahweh&#8217;s glory.<br/></span>
  <span class="verse" title="Psalm 138:6" id="Psalm-138-6">For though Yahweh is high, yet he looks after the lowly;<br/> <span class="indent">&nbsp;&nbsp;</span>but the proud, he knows from afar.<br/></span>
  <span class="verse" title="Psalm 138:7" id="Psalm-138-7">Though I walk in the midst of trouble, you will revive me.<br/> <span class="indent">&nbsp;&nbsp;</span>You will stretch forth your hand against the wrath of my enemies.<br/> <span class="indent">&nbsp;&nbsp;</span>Your right hand will save me.<br/></span>
  <span class="verse" title="Psalm 138:8" id="Psalm-138-8">Yahweh will fulfill that which concerns me;<br/> <span class="indent">&nbsp;&nbsp;</span>your loving kindness, Yahweh, endures forever.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t forsake the works of your own hands.<br/></span>
</div>