<div class="chapter" id="Psalms-139">
  <h2>Psalm 139</h2>
  <span class="verse" title="Psalm 139:1" id="Psalm-139-1">Yahweh, you have searched me,<br/> <span class="indent">&nbsp;&nbsp;</span>and you know me.<br/></span>
  <span class="verse" title="Psalm 139:2" id="Psalm-139-2">You know my sitting down and my rising up.<br/> <span class="indent">&nbsp;&nbsp;</span>You perceive my thoughts from afar.<br/></span>
  <span class="verse" title="Psalm 139:3" id="Psalm-139-3">You search out my path and my lying down,<br/> <span class="indent">&nbsp;&nbsp;</span>and are acquainted with all my ways.<br/></span>
  <span class="verse" title="Psalm 139:4" id="Psalm-139-4">For there is not a word on my tongue,<br/> <span class="indent">&nbsp;&nbsp;</span>but, behold, Yahweh, you know it altogether.<br/></span>
  <span class="verse" title="Psalm 139:5" id="Psalm-139-5">You hem me in behind and before.<br/> <span class="indent">&nbsp;&nbsp;</span>You laid your hand on me.<br/></span>
  <span class="verse" title="Psalm 139:6" id="Psalm-139-6">This knowledge is beyond me.<br/> <span class="indent">&nbsp;&nbsp;</span>It&#8217;s lofty.<br/> <span class="indent">&nbsp;&nbsp;</span>I can&#8217;t attain it.<br/></span>
  <span class="verse" title="Psalm 139:7" id="Psalm-139-7">Where could I go from your Spirit?<br/> <span class="indent">&nbsp;&nbsp;</span>Or where could I flee from your presence?<br/></span>
  <span class="verse" title="Psalm 139:8" id="Psalm-139-8">If I ascend up into heaven, you are there.<br/> <span class="indent">&nbsp;&nbsp;</span>If I make my bed in Sheol, behold, you are there!<br/></span>
  <span class="verse" title="Psalm 139:9" id="Psalm-139-9">If I take the wings of the dawn,<br/> <span class="indent">&nbsp;&nbsp;</span>and settle in the uttermost parts of the sea;<br/></span>
  <span class="verse" title="Psalm 139:10" id="Psalm-139-10">Even there your hand will lead me,<br/> <span class="indent">&nbsp;&nbsp;</span>and your right hand will hold me.<br/></span>
  <span class="verse" title="Psalm 139:11" id="Psalm-139-11">If I say, &#8220;Surely the darkness will overwhelm me;<br/> <span class="indent">&nbsp;&nbsp;</span>the light around me will be night;&#8221;<br/></span>
  <span class="verse" title="Psalm 139:12" id="Psalm-139-12">even the darkness doesn&#8217;t hide from you,<br/> <span class="indent">&nbsp;&nbsp;</span>but the night shines as the day.<br/> <span class="indent">&nbsp;&nbsp;</span>The darkness is like light to you.<br/></span>
  <span class="verse" title="Psalm 139:13" id="Psalm-139-13">For you formed my inmost being.<br/> <span class="indent">&nbsp;&nbsp;</span>You knit me together in my mother&#8217;s womb.<br/></span>
  <span class="verse" title="Psalm 139:14" id="Psalm-139-14">I will give thanks to you,<br/> <span class="indent">&nbsp;&nbsp;</span>for I am fearfully and wonderfully made.<br/>   Your works are wonderful.<br/> <span class="indent">&nbsp;&nbsp;</span>My soul knows that very well.<br/></span>
  <span class="verse" title="Psalm 139:15" id="Psalm-139-15">My frame wasn&#8217;t hidden from you,<br/> <span class="indent">&nbsp;&nbsp;</span>when I was made in secret,<br/> <span class="indent">&nbsp;&nbsp;</span>woven together in the depths of the earth.<br/></span>
  <span class="verse" title="Psalm 139:16" id="Psalm-139-16">Your eyes saw my body.<br/> <span class="indent">&nbsp;&nbsp;</span>In your book they were all written,<br/> <span class="indent">&nbsp;&nbsp;</span>the days that were ordained for me,<br/> <span class="indent">&nbsp;&nbsp;</span>when as yet there were none of them.<br/></span>
  <span class="verse" title="Psalm 139:17" id="Psalm-139-17">How precious to me are your thoughts, God!<br/> <span class="indent">&nbsp;&nbsp;</span>How vast is their sum!<br/></span>
  <span class="verse" title="Psalm 139:18" id="Psalm-139-18">If I would count them, they are more in number than the sand.<br/> <span class="indent">&nbsp;&nbsp;</span>When I wake up, I am still with you.<br/></span>
  <span class="verse" title="Psalm 139:19" id="Psalm-139-19">If only you, God, would kill the wicked.<br/> <span class="indent">&nbsp;&nbsp;</span>Get away from me, you bloodthirsty men!<br/></span>
  <span class="verse" title="Psalm 139:20" id="Psalm-139-20">For they speak against you wickedly.<br/> <span class="indent">&nbsp;&nbsp;</span>Your enemies take your name in vain.<br/></span>
  <span class="verse" title="Psalm 139:21" id="Psalm-139-21">Yahweh, don&#8217;t I hate those who hate you?<br/> <span class="indent">&nbsp;&nbsp;</span>Am I not grieved with those who rise up against you?<br/></span>
  <span class="verse" title="Psalm 139:22" id="Psalm-139-22">I hate them with perfect hatred.<br/> <span class="indent">&nbsp;&nbsp;</span>They have become my enemies.<br/></span>
  <span class="verse" title="Psalm 139:23" id="Psalm-139-23">Search me, God, and know my heart.<br/> <span class="indent">&nbsp;&nbsp;</span>Try me, and know my thoughts.<br/></span>
  <span class="verse" title="Psalm 139:24" id="Psalm-139-24">See if there is any wicked way in me,<br/> <span class="indent">&nbsp;&nbsp;</span>and lead me in the everlasting way.<br/></span>
</div>