<div class="chapter" id="Psalms-140">
  <h2>Psalm 140</h2>
  <span class="verse" title="Psalm 140:1" id="Psalm-140-1">Deliver me, Yahweh, from the evil man.<br/> <span class="indent">&nbsp;&nbsp;</span>Preserve me from the violent man;<br/></span>
  <span class="verse" title="Psalm 140:2" id="Psalm-140-2">those who devise mischief in their hearts.<br/> <span class="indent">&nbsp;&nbsp;</span>They continually gather themselves together for war.<br/></span>
  <span class="verse" title="Psalm 140:3" id="Psalm-140-3">They have sharpened their tongues like a serpent.<br/> <span class="indent">&nbsp;&nbsp;</span>Viper&#8217;s poison is under their lips.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 140:4" id="Psalm-140-4">Yahweh, keep me from the hands of the wicked.<br/> <span class="indent">&nbsp;&nbsp;</span>Preserve me from the violent men who have determined to trip my feet.<br/></span>
  <span class="verse" title="Psalm 140:5" id="Psalm-140-5">The proud have hidden a snare for me,<br/> <span class="indent">&nbsp;&nbsp;</span>they have spread the cords of a net by the path.<br/> <span class="indent">&nbsp;&nbsp;</span>They have set traps for me.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 140:6" id="Psalm-140-6">I said to Yahweh, &#8220;You are my God.&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>Listen to the cry of my petitions, Yahweh.<br/></span>
  <span class="verse" title="Psalm 140:7" id="Psalm-140-7">Yahweh, the Lord, the strength of my salvation,<br/> <span class="indent">&nbsp;&nbsp;</span>you have covered my head in the day of battle.<br/></span>
  <span class="verse" title="Psalm 140:8" id="Psalm-140-8">Yahweh, don&#8217;t grant the desires of the wicked.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let their evil plans succeed, or they will become proud.<br/>   <br/>   Selah.<br/>   <br/></span>
  <span class="verse" title="Psalm 140:9" id="Psalm-140-9">As for the head of those who surround me,<br/> <span class="indent">&nbsp;&nbsp;</span>let the mischief of their own lips cover them.<br/></span>
  <span class="verse" title="Psalm 140:10" id="Psalm-140-10">Let burning coals fall on them.<br/> <span class="indent">&nbsp;&nbsp;</span>Let them be thrown into the fire,<br/> <span class="indent">&nbsp;&nbsp;</span>into miry pits, from where they never rise.<br/></span>
  <span class="verse" title="Psalm 140:11" id="Psalm-140-11">An evil speaker won&#8217;t be established in the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>Evil will hunt the violent man to overthrow him.<br/></span>
  <span class="verse" title="Psalm 140:12" id="Psalm-140-12">I know that Yahweh will maintain the cause of the afflicted,<br/> <span class="indent">&nbsp;&nbsp;</span>and justice for the needy.<br/></span>
  <span class="verse" title="Psalm 140:13" id="Psalm-140-13">Surely the righteous will give thanks to your name.<br/> <span class="indent">&nbsp;&nbsp;</span>The upright will dwell in your presence.<br/></span>
</div>