<div class="chapter" id="Psalms-141">
  <h2>Psalm 141</h2>
  <span class="verse" title="Psalm 141:1" id="Psalm-141-1">Yahweh, I have called on you.<br/> <span class="indent">&nbsp;&nbsp;</span>Come to me quickly!<br/> <span class="indent">&nbsp;&nbsp;</span>Listen to my voice when I call to you.<br/></span>
  <span class="verse" title="Psalm 141:2" id="Psalm-141-2">Let my prayer be set before you like incense;<br/> <span class="indent">&nbsp;&nbsp;</span>the lifting up of my hands like the evening sacrifice.<br/></span>
  <span class="verse" title="Psalm 141:3" id="Psalm-141-3">Set a watch, Yahweh, before my mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>Keep the door of my lips.<br/></span>
  <span class="verse" title="Psalm 141:4" id="Psalm-141-4">Don&#8217;t incline my heart to any evil thing,<br/> <span class="indent">&nbsp;&nbsp;</span>to practice deeds of wickedness with men who work iniquity.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let me eat of their delicacies.<br/></span>
  <span class="verse" title="Psalm 141:5" id="Psalm-141-5">Let the righteous strike me, it is kindness;<br/> <span class="indent">&nbsp;&nbsp;</span>let him reprove me, it is like oil on the head;<br/> <span class="indent">&nbsp;&nbsp;</span>don&#8217;t let my head refuse it;<br/> <span class="indent">&nbsp;&nbsp;</span>Yet my prayer is always against evil deeds.<br/></span>
  <span class="verse" title="Psalm 141:6" id="Psalm-141-6">Their judges are thrown down by the sides of the rock.<br/> <span class="indent">&nbsp;&nbsp;</span>They will hear my words, for they are well spoken.<br/></span>
  <span class="verse" title="Psalm 141:7" id="Psalm-141-7">&#8220;As when one plows and breaks up the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>our bones are scattered at the mouth of Sheol.&#8221;<br/></span>
  <span class="verse" title="Psalm 141:8" id="Psalm-141-8">For my eyes are on you, Yahweh, the Lord.<br/> <span class="indent">&nbsp;&nbsp;</span>In you, I take refuge.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t leave my soul destitute.<br/></span>
  <span class="verse" title="Psalm 141:9" id="Psalm-141-9">Keep me from the snare which they have laid for me,<br/> <span class="indent">&nbsp;&nbsp;</span>from the traps of the workers of iniquity.<br/></span>
  <span class="verse" title="Psalm 141:10" id="Psalm-141-10">Let the wicked fall together into their own nets,<br/> <span class="indent">&nbsp;&nbsp;</span>while I pass by.<br/></span>
</div>