<div class="chapter" id="Psalms-142">
  <h2>Psalm 142</h2>
  <span class="verse" title="Psalm 142:1" id="Psalm-142-1">I cry with my voice to Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>With my voice, I ask Yahweh for mercy.<br/></span>
  <span class="verse" title="Psalm 142:2" id="Psalm-142-2">I pour out my complaint before him.<br/> <span class="indent">&nbsp;&nbsp;</span>I tell him my troubles.<br/></span>
  <span class="verse" title="Psalm 142:3" id="Psalm-142-3">When my spirit was overwhelmed within me,<br/> <span class="indent">&nbsp;&nbsp;</span>you knew my path.<br/>   In the way in which I walk,<br/> <span class="indent">&nbsp;&nbsp;</span>they have hidden a snare for me.<br/></span>
  <span class="verse" title="Psalm 142:4" id="Psalm-142-4">Look on my right, and see;<br/> <span class="indent">&nbsp;&nbsp;</span>for there is no one who is concerned for me.<br/> <span class="indent">&nbsp;&nbsp;</span>Refuge has fled from me.<br/> <span class="indent">&nbsp;&nbsp;</span>No one cares for my soul.<br/></span>
  <span class="verse" title="Psalm 142:5" id="Psalm-142-5">I cried to you, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>I said, &#8220;You are my refuge,<br/> <span class="indent">&nbsp;&nbsp;</span>my portion in the land of the living.&#8221;<br/></span>
  <span class="verse" title="Psalm 142:6" id="Psalm-142-6">Listen to my cry,<br/> <span class="indent">&nbsp;&nbsp;</span>for I am in desperate need.<br/>   deliver me from my persecutors,<br/> <span class="indent">&nbsp;&nbsp;</span>For they are stronger than me.<br/></span>
  <span class="verse" title="Psalm 142:7" id="Psalm-142-7">Bring my soul out of prison,<br/> <span class="indent">&nbsp;&nbsp;</span>that I may give thanks to your name.<br/>   The righteous will surround me,<br/> <span class="indent">&nbsp;&nbsp;</span>for you will be good to me.<br/></span>
</div>