<div class="chapter" id="Psalms-144">
  <h2>Psalm 144</h2>
  <span class="verse" title="Psalm 144:1" id="Psalm-144-1">Blessed be Yahweh, my rock,<br/> <span class="indent">&nbsp;&nbsp;</span>who teaches my hands to war,<br/> <span class="indent">&nbsp;&nbsp;</span>and my fingers to battle:<br/></span>
  <span class="verse" title="Psalm 144:2" id="Psalm-144-2">my loving kindness, my fortress,<br/> <span class="indent">&nbsp;&nbsp;</span>my high tower, my deliverer,<br/> <span class="indent">&nbsp;&nbsp;</span>my shield, and he in whom I take refuge;<br/> <span class="indent">&nbsp;&nbsp;</span>who subdues my people under me.<br/></span>
  <span class="verse" title="Psalm 144:3" id="Psalm-144-3">Yahweh, what is man, that you care for him?<br/> <span class="indent">&nbsp;&nbsp;</span>Or the son of man, that you think of him?<br/></span>
  <span class="verse" title="Psalm 144:4" id="Psalm-144-4">Man is like a breath.<br/> <span class="indent">&nbsp;&nbsp;</span>His days are like a shadow that passes away.<br/></span>
  <span class="verse" title="Psalm 144:5" id="Psalm-144-5">Part your heavens, Yahweh, and come down.<br/> <span class="indent">&nbsp;&nbsp;</span>Touch the mountains, and they will smoke.<br/></span>
  <span class="verse" title="Psalm 144:6" id="Psalm-144-6">Throw out lightning, and scatter them.<br/> <span class="indent">&nbsp;&nbsp;</span>Send out your arrows, and rout them.<br/></span>
  <span class="verse" title="Psalm 144:7" id="Psalm-144-7">Stretch out your hand from above,<br/> <span class="indent">&nbsp;&nbsp;</span>rescue me, and deliver me out of great waters,<br/> <span class="indent">&nbsp;&nbsp;</span>out of the hands of foreigners;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 144:8" id="Psalm-144-8">whose mouths speak deceit,<br/> <span class="indent">&nbsp;&nbsp;</span>Whose right hand is a right hand of falsehood.<br/></span>
  <span class="verse" title="Psalm 144:9" id="Psalm-144-9">I will sing a new song to you, God.<br/> <span class="indent">&nbsp;&nbsp;</span>On a ten-stringed lyre, I will sing praises to you.<br/></span>
  <span class="verse" title="Psalm 144:10" id="Psalm-144-10">You are he who gives salvation to kings,<br/> <span class="indent">&nbsp;&nbsp;</span>who rescues David, his servant, from the deadly sword.<br/></span>
  <span class="verse" title="Psalm 144:11" id="Psalm-144-11">Rescue me, and deliver me out of the hands of foreigners,<br/> <span class="indent">&nbsp;&nbsp;</span>whose mouths speak deceit,<br/> <span class="indent">&nbsp;&nbsp;</span>whose right hand is a right hand of falsehood.<br/>   <br/></span>
  <span class="verse" title="Psalm 144:12" id="Psalm-144-12">Then our sons will be like well-nurtured plants,<br/> <span class="indent">&nbsp;&nbsp;</span>our daughters like pillars carved to adorn a palace.<br/></span>
  <span class="verse" title="Psalm 144:13" id="Psalm-144-13">Our barns are full, filled with all kinds of provision.<br/> <span class="indent">&nbsp;&nbsp;</span>Our sheep bring forth thousands and ten thousands in our fields.<br/></span>
  <span class="verse" title="Psalm 144:14" id="Psalm-144-14">Our oxen will pull heavy loads.<br/> <span class="indent">&nbsp;&nbsp;</span>There is no breaking in, and no going away,<br/> <span class="indent">&nbsp;&nbsp;</span>and no outcry in our streets.<br/></span>
  <span class="verse" title="Psalm 144:15" id="Psalm-144-15">Happy are the people who are in such a situation.<br/> <span class="indent">&nbsp;&nbsp;</span>Happy are the people whose God is Yahweh.<br/></span>
</div>