<div class="chapter" id="Psalms-145">
  <h2>Psalm 145</h2>
  <span class="verse" title="Psalm 145:1" id="Psalm-145-1">I will exalt you, my God, the King.<br/> <span class="indent">&nbsp;&nbsp;</span>I will praise your name forever and ever.<br/></span>
  <span class="verse" title="Psalm 145:2" id="Psalm-145-2">Every day I will praise you.<br/> <span class="indent">&nbsp;&nbsp;</span>I will extol your name forever and ever.<br/></span>
  <span class="verse" title="Psalm 145:3" id="Psalm-145-3">Great is Yahweh, and greatly to be praised!<br/> <span class="indent">&nbsp;&nbsp;</span>His greatness is unsearchable.<br/></span>
  <span class="verse" title="Psalm 145:4" id="Psalm-145-4">One generation will commend your works to another,<br/> <span class="indent">&nbsp;&nbsp;</span>and will declare your mighty acts.<br/></span>
  <span class="verse" title="Psalm 145:5" id="Psalm-145-5">Of the glorious majesty of your honor,<br/> <span class="indent">&nbsp;&nbsp;</span>of your wondrous works, I will meditate.<br/></span>
  <span class="verse" title="Psalm 145:6" id="Psalm-145-6">Men will speak of the might of your awesome acts.<br/> <span class="indent">&nbsp;&nbsp;</span>I will declare your greatness.<br/></span>
  <span class="verse" title="Psalm 145:7" id="Psalm-145-7">They will utter the memory of your great goodness,<br/> <span class="indent">&nbsp;&nbsp;</span>and will sing of your righteousness.<br/></span>
  <span class="verse" title="Psalm 145:8" id="Psalm-145-8">Yahweh is gracious, merciful,<br/> <span class="indent">&nbsp;&nbsp;</span>slow to anger, and of great loving kindness.<br/></span>
  <span class="verse" title="Psalm 145:9" id="Psalm-145-9">Yahweh is good to all.<br/> <span class="indent">&nbsp;&nbsp;</span>His tender mercies are over all his works.<br/></span>
  <span class="verse" title="Psalm 145:10" id="Psalm-145-10">All your works will give thanks to you, Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Your saints will extol you.<br/></span>
  <span class="verse" title="Psalm 145:11" id="Psalm-145-11">They will speak of the glory of your kingdom,<br/> <span class="indent">&nbsp;&nbsp;</span>and talk about your power;<br/></span>
  <span class="verse" title="Psalm 145:12" id="Psalm-145-12">to make known to the sons of men his mighty acts,<br/> <span class="indent">&nbsp;&nbsp;</span>the glory of the majesty of his kingdom.<br/></span>
  <span class="verse" title="Psalm 145:13" id="Psalm-145-13">Your kingdom is an everlasting kingdom.<br/> <span class="indent">&nbsp;&nbsp;</span>Your dominion endures throughout all generations.<br/>    Yahweh is faithful in all his words,<br/> <span class="indent">&nbsp;&nbsp;</span>and loving in all his deeds.<br/></span>
  <span class="verse" title="Psalm 145:14" id="Psalm-145-14">Yahweh upholds all who fall,<br/> <span class="indent">&nbsp;&nbsp;</span>and raises up all those who are bowed down.<br/></span>
  <span class="verse" title="Psalm 145:15" id="Psalm-145-15">The eyes of all wait for you.<br/> <span class="indent">&nbsp;&nbsp;</span>You give them their food in due season.<br/></span>
  <span class="verse" title="Psalm 145:16" id="Psalm-145-16">You open your hand,<br/> <span class="indent">&nbsp;&nbsp;</span>and satisfy the desire of every living thing.<br/></span>
  <span class="verse" title="Psalm 145:17" id="Psalm-145-17">Yahweh is righteous in all his ways,<br/> <span class="indent">&nbsp;&nbsp;</span>and gracious in all his works.<br/></span>
  <span class="verse" title="Psalm 145:18" id="Psalm-145-18">Yahweh is near to all those who call on him,<br/> <span class="indent">&nbsp;&nbsp;</span>to all who call on him in truth.<br/></span>
  <span class="verse" title="Psalm 145:19" id="Psalm-145-19">He will fulfill the desire of those who fear him.<br/> <span class="indent">&nbsp;&nbsp;</span>He also will hear their cry, and will save them.<br/></span>
  <span class="verse" title="Psalm 145:20" id="Psalm-145-20">Yahweh preserves all those who love him,<br/> <span class="indent">&nbsp;&nbsp;</span>but all the wicked he will destroy.<br/></span>
  <span class="verse" title="Psalm 145:21" id="Psalm-145-21">My mouth will speak the praise of Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>Let all flesh bless his holy name forever and ever.<br/></span>
</div>