<div class="chapter" id="Psalms-146">
  <h2>Psalm 146</h2>
  <span class="verse" title="Psalm 146:1" id="Psalm-146-1">Praise Yah!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise Yahweh, my soul.<br/></span>
  <span class="verse" title="Psalm 146:2" id="Psalm-146-2">While I live, I will praise Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>I will sing praises to my God as long as I exist.<br/></span>
  <span class="verse" title="Psalm 146:3" id="Psalm-146-3">Don&#8217;t put your trust in princes,<br/> <span class="indent">&nbsp;&nbsp;</span>each a son of man in whom there is no help.<br/></span>
  <span class="verse" title="Psalm 146:4" id="Psalm-146-4">His spirit departs, and he returns to the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>In that very day, his thoughts perish.<br/></span>
  <span class="verse" title="Psalm 146:5" id="Psalm-146-5">Happy is he who has the God of Jacob for his help,<br/> <span class="indent">&nbsp;&nbsp;</span>whose hope is in Yahweh, his God:<br/></span>
  <span class="verse" title="Psalm 146:6" id="Psalm-146-6">who made heaven and earth,<br/> <span class="indent">&nbsp;&nbsp;</span>the sea, and all that is in them;<br/> <span class="indent">&nbsp;&nbsp;</span>who keeps truth forever;<br/></span>
  <span class="verse" title="Psalm 146:7" id="Psalm-146-7">who executes justice for the oppressed;<br/> <span class="indent">&nbsp;&nbsp;</span>who gives food to the hungry.<br/>   Yahweh frees the prisoners.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Psalm 146:8" id="Psalm-146-8">Yahweh opens the eyes of the blind.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh raises up those who are bowed down.<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh loves the righteous.<br/></span>
  <span class="verse" title="Psalm 146:9" id="Psalm-146-9">Yahweh preserves the foreigners.<br/> <span class="indent">&nbsp;&nbsp;</span>He upholds the fatherless and widow,<br/> <span class="indent">&nbsp;&nbsp;</span>but the way of the wicked he turns upside down.<br/></span>
  <span class="verse" title="Psalm 146:10" id="Psalm-146-10">Yahweh will reign forever;<br/> <span class="indent">&nbsp;&nbsp;</span>your God, O Zion, to all generations.<br/>   Praise Yah!<br/></span>
</div>