<div class="chapter" id="Psalms-147">
  <h2>Psalm 147</h2>
  <span class="verse" title="Psalm 147:1" id="Psalm-147-1">Praise Yah,<br/> <span class="indent">&nbsp;&nbsp;</span>for it is good to sing praises to our God;<br/> <span class="indent">&nbsp;&nbsp;</span>for it is pleasant and fitting to praise him.<br/></span>
  <span class="verse" title="Psalm 147:2" id="Psalm-147-2">Yahweh builds up Jerusalem.<br/> <span class="indent">&nbsp;&nbsp;</span>He gathers together the outcasts of Israel.<br/></span>
  <span class="verse" title="Psalm 147:3" id="Psalm-147-3">He heals the broken in heart,<br/> <span class="indent">&nbsp;&nbsp;</span>and binds up their wounds.<br/></span>
  <span class="verse" title="Psalm 147:4" id="Psalm-147-4">He counts the number of the stars.<br/> <span class="indent">&nbsp;&nbsp;</span>He calls them all by their names.<br/></span>
  <span class="verse" title="Psalm 147:5" id="Psalm-147-5">Great is our Lord, and mighty in power.<br/> <span class="indent">&nbsp;&nbsp;</span>His understanding is infinite.<br/></span>
  <span class="verse" title="Psalm 147:6" id="Psalm-147-6">Yahweh upholds the humble.<br/> <span class="indent">&nbsp;&nbsp;</span>He brings the wicked down to the ground.<br/></span>
  <span class="verse" title="Psalm 147:7" id="Psalm-147-7">Sing to Yahweh with thanksgiving.<br/> <span class="indent">&nbsp;&nbsp;</span>Sing praises on the harp to our God,<br/></span>
  <span class="verse" title="Psalm 147:8" id="Psalm-147-8">who covers the sky with clouds,<br/> <span class="indent">&nbsp;&nbsp;</span>who prepares rain for the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>who makes grass grow on the mountains.<br/></span>
  <span class="verse" title="Psalm 147:9" id="Psalm-147-9">He provides food for the livestock,<br/> <span class="indent">&nbsp;&nbsp;</span>and for the young ravens when they call.<br/></span>
  <span class="verse" title="Psalm 147:10" id="Psalm-147-10">He doesn&#8217;t delight in the strength of the horse.<br/> <span class="indent">&nbsp;&nbsp;</span>He takes no pleasure in the legs of a man.<br/></span>
  <span class="verse" title="Psalm 147:11" id="Psalm-147-11">Yahweh takes pleasure in those who fear him,<br/> <span class="indent">&nbsp;&nbsp;</span>in those who hope in his loving kindness.<br/></span>
  <span class="verse" title="Psalm 147:12" id="Psalm-147-12">Praise Yahweh, Jerusalem!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise your God, Zion!<br/></span>
  <span class="verse" title="Psalm 147:13" id="Psalm-147-13">For he has strengthened the bars of your gates.<br/> <span class="indent">&nbsp;&nbsp;</span>He has blessed your children within you.<br/></span>
  <span class="verse" title="Psalm 147:14" id="Psalm-147-14">He makes peace in your borders.<br/> <span class="indent">&nbsp;&nbsp;</span>He fills you with the finest of the wheat.<br/></span>
  <span class="verse" title="Psalm 147:15" id="Psalm-147-15">He sends out his commandment to the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>His word runs very swiftly.<br/></span>
  <span class="verse" title="Psalm 147:16" id="Psalm-147-16">He gives snow like wool,<br/> <span class="indent">&nbsp;&nbsp;</span>and scatters frost like ashes.<br/></span>
  <span class="verse" title="Psalm 147:17" id="Psalm-147-17">He hurls down his hail like pebbles.<br/> <span class="indent">&nbsp;&nbsp;</span>Who can stand before his cold?<br/></span>
  <span class="verse" title="Psalm 147:18" id="Psalm-147-18">He sends out his word, and melts them.<br/> <span class="indent">&nbsp;&nbsp;</span>He causes his wind to blow, and the waters flow.<br/></span>
  <span class="verse" title="Psalm 147:19" id="Psalm-147-19">He shows his word to Jacob;<br/> <span class="indent">&nbsp;&nbsp;</span>his statutes and his ordinances to Israel.<br/></span>
  <span class="verse" title="Psalm 147:20" id="Psalm-147-20">He has not done this for just any nation.<br/> <span class="indent">&nbsp;&nbsp;</span>They don&#8217;t know his ordinances.<br/>   Praise Yah!<br/></span>
</div>