<div class="chapter" id="Psalms-148">
  <h2>Psalm 148</h2>
  <span class="verse" title="Psalm 148:1" id="Psalm-148-1">Praise Yah!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise Yahweh from the heavens!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise him in the heights!<br/></span>
  <span class="verse" title="Psalm 148:2" id="Psalm-148-2">Praise him, all his angels!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise him, all his army!<br/></span>
  <span class="verse" title="Psalm 148:3" id="Psalm-148-3">Praise him, sun and moon!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise him, all you shining stars!<br/></span>
  <span class="verse" title="Psalm 148:4" id="Psalm-148-4">Praise him, you heavens of heavens,<br/> <span class="indent">&nbsp;&nbsp;</span>You waters that are above the heavens.<br/></span>
  <span class="verse" title="Psalm 148:5" id="Psalm-148-5">Let them praise the name of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>For he commanded, and they were created.<br/></span>
  <span class="verse" title="Psalm 148:6" id="Psalm-148-6">He has also established them forever and ever.<br/> <span class="indent">&nbsp;&nbsp;</span>He has made a decree which will not pass away.<br/></span>
  <span class="verse" title="Psalm 148:7" id="Psalm-148-7">Praise Yahweh from the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>you great sea creatures, and all depths!<br/></span>
  <span class="verse" title="Psalm 148:8" id="Psalm-148-8">Lightning and hail, snow and clouds;<br/> <span class="indent">&nbsp;&nbsp;</span>stormy wind, fulfilling his word;<br/></span>
  <span class="verse" title="Psalm 148:9" id="Psalm-148-9">mountains and all hills;<br/> <span class="indent">&nbsp;&nbsp;</span>fruit trees and all cedars;<br/></span>
  <span class="verse" title="Psalm 148:10" id="Psalm-148-10">wild animals and all livestock;<br/> <span class="indent">&nbsp;&nbsp;</span>small creatures and flying birds;<br/></span>
  <span class="verse" title="Psalm 148:11" id="Psalm-148-11">kings of the earth and all peoples;<br/> <span class="indent">&nbsp;&nbsp;</span>princes and all judges of the earth;<br/></span>
  <span class="verse" title="Psalm 148:12" id="Psalm-148-12">both young men and maidens;<br/> <span class="indent">&nbsp;&nbsp;</span>old men and children:<br/></span>
  <span class="verse" title="Psalm 148:13" id="Psalm-148-13">let them praise the name of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>for his name alone is exalted.<br/> <span class="indent">&nbsp;&nbsp;</span>His glory is above the earth and the heavens.<br/></span>
  <span class="verse" title="Psalm 148:14" id="Psalm-148-14">He has lifted up the horn of his people,<br/> <span class="indent">&nbsp;&nbsp;</span>the praise of all his saints;<br/> <span class="indent">&nbsp;&nbsp;</span>even of the children of Israel, a people near to him.<br/>   Praise Yah!<br/></span>
</div>