<div class="chapter" id="Psalms-149">
  <h2>Psalm 149</h2>
  <span class="verse" title="Psalm 149:1" id="Psalm-149-1">Praise Yahweh!<br/> <span class="indent">&nbsp;&nbsp;</span>Sing to Yahweh a new song,<br/> <span class="indent">&nbsp;&nbsp;</span>his praise in the assembly of the saints.<br/></span>
  <span class="verse" title="Psalm 149:2" id="Psalm-149-2">Let Israel rejoice in him who made them.<br/> <span class="indent">&nbsp;&nbsp;</span>Let the children of Zion be joyful in their King.<br/></span>
  <span class="verse" title="Psalm 149:3" id="Psalm-149-3">Let them praise his name in the dance!<br/> <span class="indent">&nbsp;&nbsp;</span>Let them sing praises to him with tambourine and harp!<br/></span>
  <span class="verse" title="Psalm 149:4" id="Psalm-149-4">For Yahweh takes pleasure in his people.<br/> <span class="indent">&nbsp;&nbsp;</span>He crowns the humble with salvation.<br/></span>
  <span class="verse" title="Psalm 149:5" id="Psalm-149-5">Let the saints rejoice in honor.<br/> <span class="indent">&nbsp;&nbsp;</span>Let them sing for joy on their beds.<br/></span>
  <span class="verse" title="Psalm 149:6" id="Psalm-149-6">May the high praises of God be in their mouths,<br/> <span class="indent">&nbsp;&nbsp;</span>and a two-edged sword in their hand;<br/></span>
  <span class="verse" title="Psalm 149:7" id="Psalm-149-7">To execute vengeance on the nations,<br/> <span class="indent">&nbsp;&nbsp;</span>and punishments on the peoples;<br/></span>
  <span class="verse" title="Psalm 149:8" id="Psalm-149-8">To bind their kings with chains,<br/> <span class="indent">&nbsp;&nbsp;</span>and their nobles with fetters of iron;<br/></span>
  <span class="verse" title="Psalm 149:9" id="Psalm-149-9">to execute on them the written judgment.<br/> <span class="indent">&nbsp;&nbsp;</span>All his saints have this honor.<br/>   Praise Yah!<br/></span>
</div>