<div class="chapter" id="Psalms-150">
  <h2>Psalm 150</h2>
  <span class="verse" title="Psalm 150:1" id="Psalm-150-1">Praise Yah!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise God in his sanctuary!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise him in his heavens for his acts of power!<br/></span>
  <span class="verse" title="Psalm 150:2" id="Psalm-150-2">Praise him for his mighty acts!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise him according to his excellent greatness!<br/></span>
  <span class="verse" title="Psalm 150:3" id="Psalm-150-3">Praise him with the sounding of the trumpet!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise him with harp and lyre!<br/></span>
  <span class="verse" title="Psalm 150:4" id="Psalm-150-4">Praise him with tambourine and dancing!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise him with stringed instruments and flute!<br/></span>
  <span class="verse" title="Psalm 150:5" id="Psalm-150-5">Praise him with loud cymbals!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise him with resounding cymbals!<br/></span>
  <span class="verse" title="Psalm 150:6" id="Psalm-150-6">Let everything that has breath praise Yah!<br/> <span class="indent">&nbsp;&nbsp;</span>Praise Yah!<br/></span>
</div>