<div class="chapter" id="Judges-001">
  <h2>Judges 1</h2>
  <span class="verse" title="Judges 1:1" id="Judges-1-1">It happened after the death of Joshua, the children of Israel asked of Yahweh, saying, &#8220;Who should go up for us first against the Canaanites, to fight against them?&#8221;</span>
  <span class="verse" title="Judges 1:2" id="Judges-1-2">Yahweh said, &#8220;Judah shall go up. Behold, I have delivered the land into his hand.&#8221;</span>
  <span class="verse" title="Judges 1:3" id="Judges-1-3">Judah said to Simeon his brother, &#8220;Come up with me into my lot, that we may fight against the Canaanites; and I likewise will go with you into your lot.&#8221; So Simeon went with him.</span>
  <span class="verse" title="Judges 1:4" id="Judges-1-4">Judah went up; and Yahweh delivered the Canaanites and the Perizzites into their hand: and they struck of them in Bezek ten thousand men.</span>
  <span class="verse" title="Judges 1:5" id="Judges-1-5">They found Adoni-Bezek in Bezek; and they fought against him, and they struck the Canaanites and the Perizzites.</span>
  <span class="verse" title="Judges 1:6" id="Judges-1-6">But Adoni-Bezek fled; and they pursued after him, and caught him, and cut off his thumbs and his great toes.</span>
  <span class="verse" title="Judges 1:7" id="Judges-1-7">Adoni-Bezek said, &#8220;Seventy kings, having their thumbs and their great toes cut off, scavenged under my table: as I have done, so God has requited me.&#8221; They brought him to Jerusalem, and he died there.</span>
  <span class="verse" title="Judges 1:8" id="Judges-1-8">The children of Judah fought against Jerusalem, and took it, and struck it with the edge of the sword, and set the city on fire.</span>
  <span class="verse" title="Judges 1:9" id="Judges-1-9">Afterward the children of Judah went down to fight against the Canaanites who lived in the hill country, and in the South, and in the lowland.</span>
  <span class="verse" title="Judges 1:10" id="Judges-1-10">Judah went against the Canaanites who lived in Hebron (now the name of Hebron before was Kiriath Arba); and they struck Sheshai, and Ahiman, and Talmai.</span>
  <span class="verse" title="Judges 1:11" id="Judges-1-11">From there he went against the inhabitants of Debir. (Now the name of Debir before was Kiriath Sepher.)</span>
  <span class="verse" title="Judges 1:12" id="Judges-1-12">Caleb said, &#8220;He who strikes Kiriath Sepher, and takes it, to him will I give Achsah my daughter as wife.&#8221;</span>
  <span class="verse" title="Judges 1:13" id="Judges-1-13">Othniel the son of Kenaz, Caleb&#8217;s younger brother, took it: and he gave him Achsah his daughter as wife.</span>
  <span class="verse" title="Judges 1:14" id="Judges-1-14">It happened, when she came, that she got him to ask her father for a field: and she alighted from off her donkey; and Caleb said to her, &#8220;What would you like?&#8221;</span>
  <span class="verse" title="Judges 1:15" id="Judges-1-15">She said to him, &#8220;Give me a blessing; for that you have set me in the land of the South, give me also springs of water.&#8221; Then Caleb gave her the upper springs and the lower springs.</span>
  <span class="verse" title="Judges 1:16" id="Judges-1-16">The children of the Kenite, Moses&#8217; brother-in-law, went up out of the city of palm trees with the children of Judah into the wilderness of Judah, which is in the south of Arad; and they went and lived with the people.</span>
  <span class="verse" title="Judges 1:17" id="Judges-1-17">Judah went with Simeon his brother, and they struck the Canaanites who inhabited Zephath, and utterly destroyed it. The name of the city was called Hormah.</span>
  <span class="verse" title="Judges 1:18" id="Judges-1-18">Also Judah took Gaza with its border, and Ashkelon with its border, and Ekron with its border.</span>
  <span class="verse" title="Judges 1:19" id="Judges-1-19">Yahweh was with Judah; and drove out the inhabitants of the hill country; for he could not drive out the inhabitants of the valley, because they had chariots of iron.</span>
  <span class="verse" title="Judges 1:20" id="Judges-1-20">They gave Hebron to Caleb, as Moses had spoken: and he drove out there the three sons of Anak.</span>
  <span class="verse" title="Judges 1:21" id="Judges-1-21">The children of Benjamin did not drive out the Jebusites who inhabited Jerusalem; but the Jebusites dwell with the children of Benjamin in Jerusalem to this day.</span>
  <span class="verse" title="Judges 1:22" id="Judges-1-22">The house of Joseph, they also went up against Bethel; and Yahweh was with them.</span>
  <span class="verse" title="Judges 1:23" id="Judges-1-23">The house of Joseph sent to spy out Bethel. (Now the name of the city before was Luz.)</span>
  <span class="verse" title="Judges 1:24" id="Judges-1-24">The watchers saw a man come forth out of the city, and they said to him, &#8220;Please show us the entrance into the city, and we will deal kindly with you.&#8221;</span>
  <span class="verse" title="Judges 1:25" id="Judges-1-25">He showed them the entrance into the city; and they struck the city with the edge of the sword; but they let the man go and all his family.</span>
  <span class="verse" title="Judges 1:26" id="Judges-1-26">The man went into the land of the Hittites, and built a city, and called its name Luz, which is its name to this day.</span>
  <span class="verse" title="Judges 1:27" id="Judges-1-27">Manasseh did not drive out the inhabitants of Beth Shean and its towns, nor Taanach and its towns, nor the inhabitants of Dor and its towns, nor the inhabitants of Ibleam and its towns, nor the inhabitants of Megiddo and its towns; but the Canaanites would dwell in that land.</span>
  <span class="verse" title="Judges 1:28" id="Judges-1-28">It happened, when Israel had grown strong, that they put the Canaanites to forced labor, and did not utterly drive them out.</span>
  <span class="verse" title="Judges 1:29" id="Judges-1-29">Ephraim didn&#8217;t drive out the Canaanites who lived in Gezer; but the Canaanites lived in Gezer among them.</span>
  <span class="verse" title="Judges 1:30" id="Judges-1-30">Zebulun didn&#8217;t drive out the inhabitants of Kitron, nor the inhabitants of Nahalol; but the Canaanites lived among them, and became subject to forced labor.</span>
  <span class="verse" title="Judges 1:31" id="Judges-1-31">Asher didn&#8217;t drive out the inhabitants of Acco, nor the inhabitants of Sidon, nor of Ahlab, nor of Achzib, nor of Helbah, nor of Aphik, nor of Rehob;</span>
  <span class="verse" title="Judges 1:32" id="Judges-1-32">but the Asherites lived among the Canaanites, the inhabitants of the land; for they did not drive them out.</span>
  <span class="verse" title="Judges 1:33" id="Judges-1-33">Naphtali didn&#8217;t drive out the inhabitants of Beth Shemesh, nor the inhabitants of Beth Anath; but he lived among the Canaanites, the inhabitants of the land: nevertheless the inhabitants of Beth Shemesh and of Beth Anath became subject to forced labor.</span>
  <span class="verse" title="Judges 1:34" id="Judges-1-34">The Amorites forced the children of Dan into the hill country; for they would not allow them to come down to the valley;</span>
  <span class="verse" title="Judges 1:35" id="Judges-1-35">but the Amorites would dwell in Mount Heres, in Aijalon, and in Shaalbim: yet the hand of the house of Joseph prevailed, so that they became subject to forced labor.</span>
  <span class="verse" title="Judges 1:36" id="Judges-1-36">The border of the Amorites was from the ascent of Akrabbim, from the rock, and upward.</span>
</div>