<div class="chapter" id="Judges-002">
  <h2>Judges 2</h2>
  <span class="verse" title="Judges 2:1" id="Judges-2-1">The angel of Yahweh came up from Gilgal to Bochim. He said, &#8220;I made you to go up out of Egypt, and have brought you to the land which I swore to your fathers; and I said, &#8216;I will never break my covenant with you:</span>
  <span class="verse" title="Judges 2:2" id="Judges-2-2">and you shall make no covenant with the inhabitants of this land; you shall break down their altars.&#8217; But you have not listened to my voice: why have you done this?</span>
  <span class="verse" title="Judges 2:3" id="Judges-2-3">Therefore I also said, I will not drive them out from before you; but they shall be in your sides, and their gods shall be a snare to you.&#8221;</span>
  <span class="verse" title="Judges 2:4" id="Judges-2-4">It happened, when the angel of Yahweh spoke these words to all the children of Israel, that the people lifted up their voice, and wept.</span>
  <span class="verse" title="Judges 2:5" id="Judges-2-5">They called the name of that place Bochim: and they sacrificed there to Yahweh.</span>
  <span class="verse" title="Judges 2:6" id="Judges-2-6">Now when Joshua had sent the people away, the children of Israel went every man to his inheritance to possess the land.</span>
  <span class="verse" title="Judges 2:7" id="Judges-2-7">The people served Yahweh all the days of Joshua, and all the days of the elders who outlived Joshua, who had seen all the great work of Yahweh that he had worked for Israel.</span>
  <span class="verse" title="Judges 2:8" id="Judges-2-8">Joshua the son of Nun, the servant of Yahweh, died, being one hundred ten years old.</span>
  <span class="verse" title="Judges 2:9" id="Judges-2-9">They buried him in the border of his inheritance in Timnath Heres, in the hill country of Ephraim, on the north of the mountain of Gaash.</span>
  <span class="verse" title="Judges 2:10" id="Judges-2-10">Also all that generation were gathered to their fathers: and there arose another generation after them, who didn&#8217;t know Yahweh, nor yet the work which he had worked for Israel.</span>
  <span class="verse" title="Judges 2:11" id="Judges-2-11">The children of Israel did that which was evil in the sight of Yahweh, and served the Baals;</span>
  <span class="verse" title="Judges 2:12" id="Judges-2-12">and they forsook Yahweh, the God of their fathers, who brought them out of the land of Egypt, and followed other gods, of the gods of the peoples who were around them, and bowed themselves down to them: and they provoked Yahweh to anger.</span>
  <span class="verse" title="Judges 2:13" id="Judges-2-13">They forsook Yahweh, and served Baal and the Ashtaroth.</span>
  <span class="verse" title="Judges 2:14" id="Judges-2-14">The anger of Yahweh was kindled against Israel, and he delivered them into the hands of spoilers who despoiled them; and he sold them into the hands of their enemies all around, so that they could not any longer stand before their enemies.</span>
  <span class="verse" title="Judges 2:15" id="Judges-2-15">Wherever they went out, the hand of Yahweh was against them for evil, as Yahweh had spoken, and as Yahweh had sworn to them: and they were very distressed.</span>
  <span class="verse" title="Judges 2:16" id="Judges-2-16">Yahweh raised up judges, who saved them out of the hand of those who despoiled them.</span>
  <span class="verse" title="Judges 2:17" id="Judges-2-17">Yet they didn&#8217;t listen to their judges; for they played the prostitute after other gods, and bowed themselves down to them: they turned aside quickly out of the way in which their fathers walked, obeying the commandments of Yahweh. They didn&#8217;t do so.</span>
  <span class="verse" title="Judges 2:18" id="Judges-2-18">When Yahweh raised them up judges, then Yahweh was with the judge, and saved them out of the hand of their enemies all the days of the judge: for it grieved Yahweh because of their groaning by reason of those who oppressed them and troubled them.</span>
  <span class="verse" title="Judges 2:19" id="Judges-2-19">But it happened, when the judge was dead, that they turned back, and dealt more corruptly than their fathers, in following other gods to serve them, and to bow down to them; they didn&#8217;t cease from their doings, nor from their stubborn way.</span>
  <span class="verse" title="Judges 2:20" id="Judges-2-20">The anger of Yahweh was kindled against Israel; and he said, &#8220;Because this nation have transgressed my covenant which I commanded their fathers, and have not listened to my voice;</span>
  <span class="verse" title="Judges 2:21" id="Judges-2-21">I also will not henceforth drive out any from before them of the nations that Joshua left when he died;</span>
  <span class="verse" title="Judges 2:22" id="Judges-2-22">that by them I may prove Israel, whether they will keep the way of Yahweh to walk therein, as their fathers kept it, or not.&#8221;</span>
  <span class="verse" title="Judges 2:23" id="Judges-2-23">So Yahweh left those nations, without driving them out hastily; neither delivered he them into the hand of Joshua.</span>
</div>