<div class="chapter" id="Judges-003">
  <h2>Judges 3</h2>
  <span class="verse" title="Judges 3:1" id="Judges-3-1">Now these are the nations which Yahweh left, to prove Israel by them, even as many as had not known all the wars of Canaan;</span>
  <span class="verse" title="Judges 3:2" id="Judges-3-2">only that the generations of the children of Israel might know, to teach them war, at the least such as before knew nothing of it:</span>
  <span class="verse" title="Judges 3:3" id="Judges-3-3">the five lords of the Philistines, and all the Canaanites, and the Sidonians, and the Hivites who lived on Mount Lebanon, from Mount Baal Hermon to the entrance of Hamath.</span>
  <span class="verse" title="Judges 3:4" id="Judges-3-4">They were left to test Israel by them, to know whether they would listen to the commandments of Yahweh, which he commanded their fathers by Moses.</span>
  <span class="verse" title="Judges 3:5" id="Judges-3-5">The children of Israel lived among the Canaanites, the Hittites, and the Amorites, and the Perizzites, and the Hivites, and the Jebusites:</span>
  <span class="verse" title="Judges 3:6" id="Judges-3-6">and they took their daughters to be their wives, and gave their own daughters to their sons and served their gods.</span>
  <span class="verse" title="Judges 3:7" id="Judges-3-7">The children of Israel did that which was evil in the sight of Yahweh, and forgot Yahweh their God, and served the Baals and the Asheroth.</span>
  <span class="verse" title="Judges 3:8" id="Judges-3-8">Therefore the anger of Yahweh was kindled against Israel, and he sold them into the hand of Cushan Rishathaim king of Mesopotamia: and the children of Israel served Cushan Rishathaim eight years.</span>
  <span class="verse" title="Judges 3:9" id="Judges-3-9">When the children of Israel cried to Yahweh, Yahweh raised up a savior to the children of Israel, who saved them, even Othniel the son of Kenaz, Caleb&#8217;s younger brother.</span>
  <span class="verse" title="Judges 3:10" id="Judges-3-10">The Spirit of Yahweh came on him, and he judged Israel; and he went out to war, and Yahweh delivered Cushan Rishathaim king of Mesopotamia into his hand: and his hand prevailed against Cushan Rishathaim.</span>
  <span class="verse" title="Judges 3:11" id="Judges-3-11">The land had rest forty years. Othniel the son of Kenaz died.</span>
  <span class="verse" title="Judges 3:12" id="Judges-3-12">The children of Israel again did that which was evil in the sight of Yahweh: and Yahweh strengthened Eglon the king of Moab against Israel, because they had done that which was evil in the sight of Yahweh.</span>
  <span class="verse" title="Judges 3:13" id="Judges-3-13">He gathered to him the children of Ammon and Amalek; and he went and struck Israel, and they possessed the city of palm trees.</span>
  <span class="verse" title="Judges 3:14" id="Judges-3-14">The children of Israel served Eglon the king of Moab eighteen years.</span>
  <span class="verse" title="Judges 3:15" id="Judges-3-15">But when the children of Israel cried to Yahweh, Yahweh raised them up a savior, Ehud the son of Gera, the Benjamite, a man left-handed. The children of Israel sent tribute by him to Eglon the king of Moab.</span>
  <span class="verse" title="Judges 3:16" id="Judges-3-16">Ehud made him a sword which had two edges, a cubit in length; and he wore it under his clothing on his right thigh.</span>
  <span class="verse" title="Judges 3:17" id="Judges-3-17">He offered the tribute to Eglon king of Moab: now Eglon was a very fat man.</span>
  <span class="verse" title="Judges 3:18" id="Judges-3-18">When he had made an end of offering the tribute, he sent away the people who bore the tribute.</span>
  <span class="verse" title="Judges 3:19" id="Judges-3-19">But he himself turned back from the quarries that were by Gilgal, and said, &#8220;I have a secret errand to you, king.&#8221; The king said, &#8220;Keep silence!&#8221; All who stood by him went out from him.</span>
  <span class="verse" title="Judges 3:20" id="Judges-3-20">Ehud came to him; and he was sitting by himself alone in the cool upper room. Ehud said, &#8220;I have a message from God to you.&#8221; He arose out of his seat.</span>
  <span class="verse" title="Judges 3:21" id="Judges-3-21">Ehud put forth his left hand, and took the sword from his right thigh, and thrust it into his body:</span>
  <span class="verse" title="Judges 3:22" id="Judges-3-22">and the handle also went in after the blade; and the fat closed on the blade, for he didn&#8217;t draw the sword out of his body; and it came out behind.</span>
  <span class="verse" title="Judges 3:23" id="Judges-3-23">Then Ehud went forth into the porch, and shut the doors of the upper room on him, and locked them.</span>
  <span class="verse" title="Judges 3:24" id="Judges-3-24">Now when he was gone out, his servants came; and they saw, and behold, the doors of the upper room were locked; and they said, &#8220;Surely he is covering his feet in the upper room.&#8221;</span>
  <span class="verse" title="Judges 3:25" id="Judges-3-25">They waited until they were ashamed; and behold, he didn&#8217;t open the doors of the upper room: therefore they took the key, and opened them, and behold, their lord was fallen down dead on the earth.</span>
  <span class="verse" title="Judges 3:26" id="Judges-3-26">Ehud escaped while they waited, and passed beyond the quarries, and escaped to Seirah.</span>
  <span class="verse" title="Judges 3:27" id="Judges-3-27">It happened, when he had come, that he blew a trumpet in the hill country of Ephraim; and the children of Israel went down with him from the hill country, and he before them.</span>
  <span class="verse" title="Judges 3:28" id="Judges-3-28">He said to them, &#8220;Follow me; for Yahweh has delivered your enemies the Moabites into your hand.&#8221; They followed him, and took the fords of the Jordan against the Moabites, and didn&#8217;t allow any man to pass over.</span>
  <span class="verse" title="Judges 3:29" id="Judges-3-29">They struck of Moab at that time about ten thousand men, every lusty man, and every man of valor; and there escaped not a man.</span>
  <span class="verse" title="Judges 3:30" id="Judges-3-30">So Moab was subdued that day under the hand of Israel. The land had rest eighty years.</span>
  <span class="verse" title="Judges 3:31" id="Judges-3-31">After him was Shamgar the son of Anath, who struck of the Philistines six hundred men with an oxgoad: and he also saved Israel.</span>
</div>