<div class="chapter" id="Judges-008">
  <h2>Judges 8</h2>
  <span class="verse" title="Judges 8:1" id="Judges-8-1">The men of Ephraim said to him, &#8220;Why have you treated us this way, that you didn&#8217;t call us, when you went to fight with Midian?&#8221; They rebuked him sharply.</span>
  <span class="verse" title="Judges 8:2" id="Judges-8-2">He said to them, &#8220;What have I now done in comparison with you? Isn&#8217;t the gleaning of the grapes of Ephraim better than the vintage of Abiezer?</span>
  <span class="verse" title="Judges 8:3" id="Judges-8-3">God has delivered into your hand the princes of Midian, Oreb and Zeeb! What was I able to do in comparison with you?&#8221; Then their anger was abated toward him, when he had said that.</span>
  <span class="verse" title="Judges 8:4" id="Judges-8-4">Gideon came to the Jordan, and passed over, he, and the three hundred men who were with him, faint, yet pursuing.</span>
  <span class="verse" title="Judges 8:5" id="Judges-8-5">He said to the men of Succoth, &#8220;Please give loaves of bread to the people who follow me; for they are faint, and I am pursuing after Zebah and Zalmunna, the kings of Midian.&#8221;</span>
  <span class="verse" title="Judges 8:6" id="Judges-8-6">The princes of Succoth said, &#8220;Are the hands of Zebah and Zalmunna now in your hand, that we should give bread to your army?&#8221;</span>
  <span class="verse" title="Judges 8:7" id="Judges-8-7">Gideon said, &#8220;Therefore when Yahweh has delivered Zebah and Zalmunna into my hand, then I will tear your flesh with the thorns of the wilderness and with briers.&#8221;</span>
  <span class="verse" title="Judges 8:8" id="Judges-8-8">He went up there to Penuel, and spoke to them in the same way; and the men of Penuel answered him as the men of Succoth had answered.</span>
  <span class="verse" title="Judges 8:9" id="Judges-8-9">He spoke also to the men of Penuel, saying, &#8220;When I come again in peace, I will break down this tower.&#8221;</span>
  <span class="verse" title="Judges 8:10" id="Judges-8-10">Now Zebah and Zalmunna were in Karkor, and their armies with them, about fifteen thousand men, all who were left of all the army of the children of the east; for there fell one hundred twenty thousand men who drew sword.</span>
  <span class="verse" title="Judges 8:11" id="Judges-8-11">Gideon went up by the way of those who lived in tents on the east of Nobah and Jogbehah, and struck the army; for the army was secure.</span>
  <span class="verse" title="Judges 8:12" id="Judges-8-12">Zebah and Zalmunna fled; and he pursued after them; and he took the two kings of Midian, Zebah and Zalmunna, and confused all the army.</span>
  <span class="verse" title="Judges 8:13" id="Judges-8-13">Gideon the son of Joash returned from the battle from the ascent of Heres.</span>
  <span class="verse" title="Judges 8:14" id="Judges-8-14">He caught a young man of the men of Succoth, and inquired of him: and he described for him the princes of Succoth, and its elders, seventy-seven men.</span>
  <span class="verse" title="Judges 8:15" id="Judges-8-15">He came to the men of Succoth, and said, &#8220;See Zebah and Zalmunna, concerning whom you taunted me, saying, &#8216;Are the hands of Zebah and Zalmunna now in your hand, that we should give bread to your men who are weary?&#8217;&#8221;</span>
  <span class="verse" title="Judges 8:16" id="Judges-8-16">He took the elders of the city, and thorns of the wilderness and briers, and with them he taught the men of Succoth.</span>
  <span class="verse" title="Judges 8:17" id="Judges-8-17">He broke down the tower of Penuel, and killed the men of the city.</span>
  <span class="verse" title="Judges 8:18" id="Judges-8-18">Then he said to Zebah and Zalmunna, &#8220;What kind of men were they whom you killed at Tabor?&#8221; They answered, &#8220;They were like you. Each one resembled the children of a king.&#8221;</span>
  <span class="verse" title="Judges 8:19" id="Judges-8-19">He said, &#8220;They were my brothers, the sons of my mother. As Yahweh lives, if you had saved them alive, I would not kill you.&#8221;</span>
  <span class="verse" title="Judges 8:20" id="Judges-8-20">He said to Jether his firstborn, &#8220;Get up, and kill them!&#8221; But the youth didn&#8217;t draw his sword; for he was afraid, because he was yet a youth.</span>
  <span class="verse" title="Judges 8:21" id="Judges-8-21">Then Zebah and Zalmunna said, &#8220;Rise and fall on us; for as the man is, so is his strength.&#8221; Gideon arose, and killed Zebah and Zalmunna, and took the crescents that were on their camels&#8217; necks.</span>
  <span class="verse" title="Judges 8:22" id="Judges-8-22">Then the men of Israel said to Gideon, &#8220;Rule over us, both you, and your son, and your son&#8217;s son also; for you have saved us out of the hand of Midian.&#8221;</span>
  <span class="verse" title="Judges 8:23" id="Judges-8-23">Gideon said to them, &#8220;I will not rule over you, neither shall my son rule over you. Yahweh shall rule over you.&#8221;</span>
  <span class="verse" title="Judges 8:24" id="Judges-8-24">Gideon said to them, &#8220;I would make a request of you, that you would give me every man the earrings of his spoil.&#8221; (For they had golden earrings, because they were Ishmaelites.)</span>
  <span class="verse" title="Judges 8:25" id="Judges-8-25">They answered, &#8220;We will willingly give them.&#8221; They spread a garment, and every man threw the earrings of his spoil into it.</span>
  <span class="verse" title="Judges 8:26" id="Judges-8-26">The weight of the golden earrings that he requested was one thousand and seven hundred shekels of gold, besides the crescents, and the pendants, and the purple clothing that was on the kings of Midian, and besides the chains that were about their camels&#8217; necks.</span>
  <span class="verse" title="Judges 8:27" id="Judges-8-27">Gideon made an ephod of it, and put it in his city, even in Ophrah: and all Israel played the prostitute after it there; and it became a snare to Gideon, and to his house.</span>
  <span class="verse" title="Judges 8:28" id="Judges-8-28">So Midian was subdued before the children of Israel, and they lifted up their heads no more. The land had rest forty years in the days of Gideon.</span>
  <span class="verse" title="Judges 8:29" id="Judges-8-29">Jerubbaal the son of Joash went and lived in his own house.</span>
  <span class="verse" title="Judges 8:30" id="Judges-8-30">Gideon had seventy sons conceived from his body; for he had many wives.</span>
  <span class="verse" title="Judges 8:31" id="Judges-8-31">His concubine who was in Shechem, she also bore him a son, and he named him Abimelech.</span>
  <span class="verse" title="Judges 8:32" id="Judges-8-32">Gideon the son of Joash died in a good old age, and was buried in the tomb of Joash his father, in Ophrah of the Abiezrites.</span>
  <span class="verse" title="Judges 8:33" id="Judges-8-33">It happened, as soon as Gideon was dead, that the children of Israel turned again, and played the prostitute after the Baals, and made Baal Berith their god.</span>
  <span class="verse" title="Judges 8:34" id="Judges-8-34">The children of Israel didn&#8217;t remember Yahweh their God, who had delivered them out of the hand of all their enemies on every side;</span>
  <span class="verse" title="Judges 8:35" id="Judges-8-35">neither did they show kindness to the house of Jerubbaal, Gideon, according to all the goodness which he had shown to Israel.</span>
</div>