<div class="chapter" id="Judges-010">
  <h2>Judges 10</h2>
  <span class="verse" title="Judges 10:1" id="Judges-10-1">After Abimelech there arose to save Israel Tola the son of Puah, the son of Dodo, a man of Issachar; and he lived in Shamir in the hill country of Ephraim.</span>
  <span class="verse" title="Judges 10:2" id="Judges-10-2">He judged Israel twenty-three years, and died, and was buried in Shamir.</span>
  <span class="verse" title="Judges 10:3" id="Judges-10-3">After him arose Jair, the Gileadite; and he judged Israel twenty-two years.</span>
  <span class="verse" title="Judges 10:4" id="Judges-10-4">He had thirty sons who rode on thirty donkey colts, and they had thirty cities, which are called Havvoth Jair to this day, which are in the land of Gilead.</span>
  <span class="verse" title="Judges 10:5" id="Judges-10-5">Jair died, and was buried in Kamon.</span>
  <span class="verse" title="Judges 10:6" id="Judges-10-6">The children of Israel again did that which was evil in the sight of Yahweh, and served the Baals, and the Ashtaroth, and the gods of Syria, and the gods of Sidon, and the gods of Moab, and the gods of the children of Ammon, and the gods of the Philistines; and they forsook Yahweh, and didn&#8217;t serve him.</span>
  <span class="verse" title="Judges 10:7" id="Judges-10-7">The anger of Yahweh was kindled against Israel, and he sold them into the hand of the Philistines, and into the hand of the children of Ammon.</span>
  <span class="verse" title="Judges 10:8" id="Judges-10-8">They troubled and oppressed the children of Israel that year. For eighteen years, they oppressed all the children of Israel that were beyond the Jordan in the land of the Amorites, which is in Gilead.</span>
  <span class="verse" title="Judges 10:9" id="Judges-10-9">The children of Ammon passed over the Jordan to fight also against Judah, and against Benjamin, and against the house of Ephraim; so that Israel was very distressed.</span>
  <span class="verse" title="Judges 10:10" id="Judges-10-10">The children of Israel cried to Yahweh, saying, &#8220;We have sinned against you, even because we have forsaken our God, and have served the Baals.&#8221;</span>
  <span class="verse" title="Judges 10:11" id="Judges-10-11">Yahweh said to the children of Israel, &#8220;Didn&#8217;t I save you from the Egyptians, and from the Amorites, from the children of Ammon, and from the Philistines?</span>
  <span class="verse" title="Judges 10:12" id="Judges-10-12">The Sidonians also, and the Amalekites, and the Maonites, oppressed you; and you cried to me, and I saved you out of their hand.</span>
  <span class="verse" title="Judges 10:13" id="Judges-10-13">Yet you have forsaken me, and served other gods: therefore I will save you no more.</span>
  <span class="verse" title="Judges 10:14" id="Judges-10-14">Go and cry to the gods which you have chosen. Let them save you in the time of your distress!&#8221;</span>
  <span class="verse" title="Judges 10:15" id="Judges-10-15">The children of Israel said to Yahweh, &#8220;We have sinned: do you to us whatever seems good to you; only deliver us, please, this day.&#8221;</span>
  <span class="verse" title="Judges 10:16" id="Judges-10-16">They put away the foreign gods from among them, and served Yahweh; and his soul was grieved for the misery of Israel.</span>
  <span class="verse" title="Judges 10:17" id="Judges-10-17">Then the children of Ammon were gathered together, and encamped in Gilead. The children of Israel assembled themselves together, and encamped in Mizpah.</span>
  <span class="verse" title="Judges 10:18" id="Judges-10-18">The people, the princes of Gilead, said one to another, &#8220;What man is he who will begin to fight against the children of Ammon? He shall be head over all the inhabitants of Gilead.&#8221;</span>
</div>