<div class="chapter" id="Judges-012">
  <h2>Judges 12</h2>
  <span class="verse" title="Judges 12:1" id="Judges-12-1">The men of Ephraim were gathered together, and passed northward; and they said to Jephthah, &#8220;Why did you pass over to fight against the children of Ammon, and didn&#8217;t call us to go with you? We will burn your house around you with fire!&#8221;</span>
  <span class="verse" title="Judges 12:2" id="Judges-12-2">Jephthah said to them, &#8220;I and my people were at great strife with the children of Ammon; and when I called you, you didn&#8217;t save me out of their hand.</span>
  <span class="verse" title="Judges 12:3" id="Judges-12-3">When I saw that you didn&#8217;t save me, I put my life in my hand, and passed over against the children of Ammon, and Yahweh delivered them into my hand. Why then have you come up to me this day, to fight against me?&#8221;</span>
  <span class="verse" title="Judges 12:4" id="Judges-12-4">Then Jephthah gathered together all the men of Gilead, and fought with Ephraim; and the men of Gilead struck Ephraim, because they said, &#8220;You are fugitives of Ephraim, you Gileadites, in the midst of Ephraim, and in the midst of Manasseh.&#8221;</span>
  <span class="verse" title="Judges 12:5" id="Judges-12-5">The Gileadites took the fords of the Jordan against the Ephraimites. It was so, that when the fugitives of Ephraim said, &#8220;Let me go over,&#8221; the men of Gilead said to him, &#8220;Are you an Ephraimite?&#8221; If he said, &#8220;No;&#8221;</span>
  <span class="verse" title="Judges 12:6" id="Judges-12-6">then they said to him, &#8220;Now say &#8216;Shibboleth;&#8217;&#8221; and he said &#8220;Sibboleth;&#8221; for he couldn&#8217;t manage to pronounce it right: then they siezed him, and killed him at the fords of the Jordan. At that time, forty-two thousand of Ephraim fell.</span>
  <span class="verse" title="Judges 12:7" id="Judges-12-7">Jephthah judged Israel six years. Then Jephthah the Gileadite died, and was buried in the cities of Gilead.</span>
  <span class="verse" title="Judges 12:8" id="Judges-12-8">After him Ibzan of Bethlehem judged Israel.</span>
  <span class="verse" title="Judges 12:9" id="Judges-12-9">He had thirty sons; and thirty daughters he sent abroad, and thirty daughters he brought in from abroad for his sons. He judged Israel seven years.</span>
  <span class="verse" title="Judges 12:10" id="Judges-12-10">Ibzan died, and was buried at Bethlehem.</span>
  <span class="verse" title="Judges 12:11" id="Judges-12-11">After him Elon the Zebulunite judged Israel; and he judged Israel ten years.</span>
  <span class="verse" title="Judges 12:12" id="Judges-12-12">Elon the Zebulunite died, and was buried in Aijalon in the land of Zebulun.</span>
  <span class="verse" title="Judges 12:13" id="Judges-12-13">After him Abdon the son of Hillel the Pirathonite judged Israel.</span>
  <span class="verse" title="Judges 12:14" id="Judges-12-14">He had forty sons and thirty sons&#8217; sons, who rode on seventy donkey colts: and he judged Israel eight years.</span>
  <span class="verse" title="Judges 12:15" id="Judges-12-15">Abdon the son of Hillel the Pirathonite died, and was buried in Pirathon in the land of Ephraim, in the hill country of the Amalekites.</span>
</div>