<div class="chapter" id="Judges-013">
  <h2>Judges 13</h2>
  <span class="verse" title="Judges 13:1" id="Judges-13-1">The children of Israel again did that which was evil in the sight of Yahweh; and Yahweh delivered them into the hand of the Philistines forty years.</span>
  <span class="verse" title="Judges 13:2" id="Judges-13-2">There was a certain man of Zorah, of the family of the Danites, whose name was Manoah; and his wife was barren, and didn&#8217;t bear.</span>
  <span class="verse" title="Judges 13:3" id="Judges-13-3">The angel of Yahweh appeared to the woman, and said to her, &#8220;See now, you are barren, and don&#8217;t bear; but you shall conceive, and bear a son.</span>
  <span class="verse" title="Judges 13:4" id="Judges-13-4">Now therefore please beware and drink no wine nor strong drink, and don&#8217;t eat any unclean thing:</span>
  <span class="verse" title="Judges 13:5" id="Judges-13-5">for, behold, you shall conceive, and bear a son; and no razor shall come on his head; for the child shall be a Nazirite to God from the womb: and he shall begin to save Israel out of the hand of the Philistines.&#8221;</span>
  <span class="verse" title="Judges 13:6" id="Judges-13-6">Then the woman came and told her husband, saying, &#8220;A man of God came to me, and his face was like the face of the angel of God, very awesome; and I didn&#8217;t ask him where he was from, neither did he tell me his name:</span>
  <span class="verse" title="Judges 13:7" id="Judges-13-7">but he said to me, &#8216;Behold, you shall conceive, and bear a son; and now drink no wine nor strong drink, and eat not any unclean thing; for the child shall be a Nazirite to God from the womb to the day of his death.&#8217;&#8221;</span>
  <span class="verse" title="Judges 13:8" id="Judges-13-8">Then Manoah entreated Yahweh, and said, &#8220;Oh, Lord, please let the man of God whom you did send come again to us, and teach us what we shall do to the child who shall be born.&#8221;</span>
  <span class="verse" title="Judges 13:9" id="Judges-13-9">God listened to the voice of Manoah; and the angel of God came again to the woman as she sat in the field: but Manoah, her husband, wasn&#8217;t with her.</span>
  <span class="verse" title="Judges 13:10" id="Judges-13-10">The woman made haste, and ran, and told her husband, and said to him, &#8220;Behold, the man has appeared to me, who came to me that day.&#8221;</span>
  <span class="verse" title="Judges 13:11" id="Judges-13-11">Manoah arose, and went after his wife, and came to the man, and said to him, &#8220;Are you the man who spoke to the woman?&#8221; He said, &#8220;I am.&#8221;</span>
  <span class="verse" title="Judges 13:12" id="Judges-13-12">Manoah said, &#8220;Now let your words happen. What shall the child&#8217;s way of life and mission be?&#8221;</span>
  <span class="verse" title="Judges 13:13" id="Judges-13-13">The angel of Yahweh said to Manoah, &#8220;Of all that I said to the woman let her beware.</span>
  <span class="verse" title="Judges 13:14" id="Judges-13-14">She may not eat of anything that comes of the vine, neither let her drink wine or strong drink, nor eat any unclean thing; all that I commanded her let her observe.&#8221;</span>
  <span class="verse" title="Judges 13:15" id="Judges-13-15">Manoah said to the angel of Yahweh, &#8220;Please, let us detain you, that we may make a young goat ready for you.&#8221;</span>
  <span class="verse" title="Judges 13:16" id="Judges-13-16">The angel of Yahweh said to Manoah, &#8220;Though you detain me, I won&#8217;t eat of your bread; and if you will prepare a burnt offering, you must offer it to Yahweh.&#8221; For Manoah didn&#8217;t know that he was the angel of Yahweh.</span>
  <span class="verse" title="Judges 13:17" id="Judges-13-17">Manoah said to the angel of Yahweh, &#8220;What is your name, that when your words happen, we may honor you?&#8221;</span>
  <span class="verse" title="Judges 13:18" id="Judges-13-18">The angel of Yahweh said to him, &#8220;Why do you ask about my name, since it is wonderful?&#8221;</span>
  <span class="verse" title="Judges 13:19" id="Judges-13-19">So Manoah took the young goat with the meal offering, and offered it on the rock to Yahweh. Then the angel did a wonderful thing as Manoah and his wife looked on.</span>
  <span class="verse" title="Judges 13:20" id="Judges-13-20">For it happened, when the flame went up toward the sky from off the altar, that the angel of Yahweh ascended in the flame of the altar: and Manoah and his wife looked on; and they fell on their faces to the ground.</span>
  <span class="verse" title="Judges 13:21" id="Judges-13-21">But the angel of Yahweh didn&#8217;t appear to Manoah or to his wife any more. Then Manoah knew that he was the angel of Yahweh.</span>
  <span class="verse" title="Judges 13:22" id="Judges-13-22">Manoah said to his wife, &#8220;We shall surely die, because we have seen God.&#8221;</span>
  <span class="verse" title="Judges 13:23" id="Judges-13-23">But his wife said to him, &#8220;If Yahweh were pleased to kill us, he wouldn&#8217;t have received a burnt offering and a meal offering at our hand, neither would he have shown us all these things, nor would at this time have told such things as these.&#8221;</span>
  <span class="verse" title="Judges 13:24" id="Judges-13-24">The woman bore a son, and named him Samson: and the child grew, and Yahweh blessed him.</span>
  <span class="verse" title="Judges 13:25" id="Judges-13-25">The Spirit of Yahweh began to move him in Mahaneh Dan, between Zorah and Eshtaol.</span>
</div>