<div class="chapter" id="Judges-017">
  <h2>Judges 17</h2>
  <span class="verse" title="Judges 17:1" id="Judges-17-1">There was a man of the hill country of Ephraim, whose name was Micah.</span>
  <span class="verse" title="Judges 17:2" id="Judges-17-2">He said to his mother, &#8220;The eleven hundred pieces of silver that were taken from you, about which you uttered a curse, and also spoke it in my ears, behold, the silver is with me; I took it.&#8221; His mother said, &#8220;Blessed be my son of Yahweh.&#8221;</span>
  <span class="verse" title="Judges 17:3" id="Judges-17-3">He restored the eleven hundred pieces of silver to his mother; and his mother said, &#8220;I most certainly dedicate the silver to Yahweh from my hand for my son, to make an engraved image and a molten image. Now therefore I will restore it to you.&#8221;</span>
  <span class="verse" title="Judges 17:4" id="Judges-17-4">When he restored the money to his mother, his mother took two hundred pieces of silver, and gave them to the founder, who made of it an engraved image and a molten image: and it was in the house of Micah.</span>
  <span class="verse" title="Judges 17:5" id="Judges-17-5">The man Micah had a house of gods, and he made an ephod, and teraphim, and consecrated one of his sons, who became his priest.</span>
  <span class="verse" title="Judges 17:6" id="Judges-17-6">In those days there was no king in Israel: every man did that which was right in his own eyes.</span>
  <span class="verse" title="Judges 17:7" id="Judges-17-7">There was a young man out of Bethlehem Judah, of the family of Judah, who was a Levite; and he lived there.</span>
  <span class="verse" title="Judges 17:8" id="Judges-17-8">The man departed out of the city, out of Bethlehem Judah, to live where he could find a place, and he came to the hill country of Ephraim to the house of Micah, as he traveled.</span>
  <span class="verse" title="Judges 17:9" id="Judges-17-9">Micah said to him, &#8220;Where did you come from?&#8221; He said to him, &#8220;I am a Levite of Bethlehem Judah, and I am looking for a place to live.&#8221;</span>
  <span class="verse" title="Judges 17:10" id="Judges-17-10">Micah said to him, &#8220;Dwell with me, and be to me a father and a priest, and I will give you ten pieces of silver per year, a suit of clothing, and your food.&#8221; So the Levite went in.</span>
  <span class="verse" title="Judges 17:11" id="Judges-17-11">The Levite was content to dwell with the man; and the young man was to him as one of his sons.</span>
  <span class="verse" title="Judges 17:12" id="Judges-17-12">Micah consecrated the Levite, and the young man became his priest, and was in the house of Micah.</span>
  <span class="verse" title="Judges 17:13" id="Judges-17-13">Then Micah said, &#8220;Now know I that Yahweh will do good to me, since I have a Levite to my priest.&#8221;</span>
</div>