.col-md-8
    %h3
        =@meeting_membership_type.name
    - if @members.none?
        No members
    - else
        - i = 0
        - @members.each do |person|
            %div= link_to person.name, person

.col-md-4
    .box.box-info
        .box-header
            %h3.box-title= 'Rename Meeting Membership Type'
        .box-body
            = render partial: 'form'

    = link_to 'Back to All Types', administration_meeting_membership_types_path, class: 'btn btn-warning'