<h1>Group Membership Requests</h1>

<table>
  <% @reqs_by_group.each do |group, reqs| %>
    <tr>
      <td><%= link_to group.name, group_url(:id => group) %></td>
      <td><%= link_to "#{reqs.length} #{reqs.length == 1 ? 'request' : 'requests'}", :controller => 'groups', :action => 'membership_requests', :id => group %></td>
    </tr>
  <% end %>
</table>