<div class="chapter" id="1 Peter-002">
  <h2>1 Peter 2</h2>
  <span class="verse" title="1 Peter 2:1" id="1_Peter-2-1">Putting away therefore all wickedness, all deceit, hypocrisies, envies, and all evil speaking,</span>
  <span class="verse" title="1 Peter 2:2" id="1_Peter-2-2">as newborn babies, long for the pure milk of the Word, that you may grow thereby,</span>
  <span class="verse" title="1 Peter 2:3" id="1_Peter-2-3">if indeed you have tasted that the Lord is gracious:</span>
  <span class="verse" title="1 Peter 2:4" id="1_Peter-2-4">coming to him, a living stone, rejected indeed by men, but chosen by God, precious.</span>
  <span class="verse" title="1 Peter 2:5" id="1_Peter-2-5">You also, as living stones, are built up as a spiritual house, to be a holy priesthood, to offer up spiritual sacrifices, acceptable to God through Jesus Christ.</span>
  <span class="verse" title="1 Peter 2:6" id="1_Peter-2-6">Because it is contained in Scripture,  &#8220;Behold, I lay in Zion a chief cornerstone, chosen, and precious:<br/> <span class="indent">&nbsp;&nbsp;</span>He who believes in him will not be disappointed.&#8221;<br/></span>
  <span class="verse" title="1 Peter 2:7" id="1_Peter-2-7">For you who believe therefore is the honor, but for those who are disobedient,  &#8220;The stone which the builders rejected,<br/> <span class="indent">&nbsp;&nbsp;</span>has become the chief cornerstone,&#8221;<br/></span>
  <span class="verse" title="1 Peter 2:8" id="1_Peter-2-8">and,  &#8220;a stone of stumbling, and a rock of offense.&#8221;<br/>  For they stumble at the word, being disobedient, to which also they were appointed.</span>
  <span class="verse" title="1 Peter 2:9" id="1_Peter-2-9">But you are a chosen race, a royal priesthood, a holy nation, a people for God&#8217;s own possession, that you may proclaim the excellence of him who called you out of darkness into his marvelous light:</span>
  <span class="verse" title="1 Peter 2:10" id="1_Peter-2-10">who in time past were no people, but now are God&#8217;s people, who had not obtained mercy, but now have obtained mercy.</span>
  <span class="verse" title="1 Peter 2:11" id="1_Peter-2-11">Beloved, I beg you as foreigners and pilgrims, to abstain from fleshly lusts, which war against the soul;</span>
  <span class="verse" title="1 Peter 2:12" id="1_Peter-2-12">having good behavior among the nations, so in that of which they speak against you as evildoers, they may by your good works, which they see, glorify God in the day of visitation.</span>
  <span class="verse" title="1 Peter 2:13" id="1_Peter-2-13">Therefore subject yourselves to every ordinance of man for the Lord&#8217;s sake: whether to the king, as supreme;</span>
  <span class="verse" title="1 Peter 2:14" id="1_Peter-2-14">or to governors, as sent by him for vengeance on evildoers and for praise to those who do well.</span>
  <span class="verse" title="1 Peter 2:15" id="1_Peter-2-15">For this is the will of God, that by well-doing you should put to silence the ignorance of foolish men:</span>
  <span class="verse" title="1 Peter 2:16" id="1_Peter-2-16">as free, and not using your freedom for a cloak of wickedness, but as bondservants of God.</span>
  <span class="verse" title="1 Peter 2:17" id="1_Peter-2-17">Honor all men. Love the brotherhood. Fear God. Honor the king.</span>
  <span class="verse" title="1 Peter 2:18" id="1_Peter-2-18">Servants, be in subjection to your masters with all fear; not only to the good and gentle, but also to the wicked.</span>
  <span class="verse" title="1 Peter 2:19" id="1_Peter-2-19">For it is commendable if someone endures pain, suffering unjustly, because of conscience toward God.</span>
  <span class="verse" title="1 Peter 2:20" id="1_Peter-2-20">For what glory is it if, when you sin, you patiently endure beating? But if, when you do well, you patiently endure suffering, this is commendable with God.</span>
  <span class="verse" title="1 Peter 2:21" id="1_Peter-2-21">For to this you were called, because Christ also suffered for us, leaving you an example, that you should follow his steps,</span>
  <span class="verse" title="1 Peter 2:22" id="1_Peter-2-22">who did not sin, &#8220;neither was deceit found in his mouth.&#8221;</span>
  <span class="verse" title="1 Peter 2:23" id="1_Peter-2-23">Who, when he was cursed, didn&#8217;t curse back. When he suffered, didn&#8217;t threaten, but committed himself to him who judges righteously;</span>
  <span class="verse" title="1 Peter 2:24" id="1_Peter-2-24">who his own self bore our sins in his body on the tree, that we, having died to sins, might live to righteousness; by whose stripes you were healed.</span>
  <span class="verse" title="1 Peter 2:25" id="1_Peter-2-25">For you were going astray like sheep; but now have returned to the Shepherd and Overseer of your souls.</span>
</div>