<div class="chapter" id="1 Peter-003">
  <h2>1 Peter 3</h2>
  <span class="verse" title="1 Peter 3:1" id="1_Peter-3-1">In the same way, wives, be in subjection to your own husbands; so that, even if any don&#8217;t obey the Word, they may be won by the behavior of their wives without a word;</span>
  <span class="verse" title="1 Peter 3:2" id="1_Peter-3-2">seeing your pure behavior in fear.</span>
  <span class="verse" title="1 Peter 3:3" id="1_Peter-3-3">Let your beauty be not just the outward adorning of braiding the hair, and of wearing jewels of gold, or of putting on fine clothing;</span>
  <span class="verse" title="1 Peter 3:4" id="1_Peter-3-4">but in the hidden person of the heart, in the incorruptible adornment of a gentle and quiet spirit, which is in the sight of God very precious.</span>
  <span class="verse" title="1 Peter 3:5" id="1_Peter-3-5">For this is how the holy women before, who hoped in God also adorned themselves, being in subjection to their own husbands:</span>
  <span class="verse" title="1 Peter 3:6" id="1_Peter-3-6">as Sarah obeyed Abraham, calling him lord, whose children you now are, if you do well, and are not put in fear by any terror.</span>
  <span class="verse" title="1 Peter 3:7" id="1_Peter-3-7">You husbands, in the same way, live with your wives according to knowledge, giving honor to the woman, as to the weaker vessel, as being also joint heirs of the grace of life; that your prayers may not be hindered.</span>
  <span class="verse" title="1 Peter 3:8" id="1_Peter-3-8">Finally, be all like-minded, compassionate, loving as brothers, tenderhearted, courteous,</span>
  <span class="verse" title="1 Peter 3:9" id="1_Peter-3-9">not rendering evil for evil, or insult for insult; but instead blessing; knowing that to this were you called, that you may inherit a blessing.</span>
  <span class="verse" title="1 Peter 3:10" id="1_Peter-3-10">For,  &#8220;He who would love life,<br/> <span class="indent">&nbsp;&nbsp;</span>and see good days,<br/>   let him keep his tongue from evil,<br/> <span class="indent">&nbsp;&nbsp;</span>and his lips from speaking deceit.<br/></span>
  <span class="verse" title="1 Peter 3:11" id="1_Peter-3-11">Let him turn away from evil, and do good.<br/> <span class="indent">&nbsp;&nbsp;</span>Let him seek peace, and pursue it.<br/></span>
  <span class="verse" title="1 Peter 3:12" id="1_Peter-3-12">For the eyes of the Lord are on the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>and his ears open to their prayer;<br/> <span class="indent">&nbsp;&nbsp;</span>but the face of the Lord is against those who do evil.&#8221;<br/></span>
  <span class="verse" title="1 Peter 3:13" id="1_Peter-3-13">Now who is he who will harm you, if you become imitators of that which is good?</span>
  <span class="verse" title="1 Peter 3:14" id="1_Peter-3-14">But even if you should suffer for righteousness&#8217; sake, you are blessed. &#8220;Don&#8217;t fear what they fear, neither be troubled.&#8221;</span>
  <span class="verse" title="1 Peter 3:15" id="1_Peter-3-15">But sanctify the Lord God in your hearts; and always be ready to give an answer to everyone who asks you a reason concerning the hope that is in you, with humility and fear:</span>
  <span class="verse" title="1 Peter 3:16" id="1_Peter-3-16">having a good conscience; that, while you are spoken against as evildoers, they may be disappointed who curse your good way of life in Christ.</span>
  <span class="verse" title="1 Peter 3:17" id="1_Peter-3-17">For it is better, if it is God&#8217;s will, that you suffer for doing well than for doing evil.</span>
  <span class="verse" title="1 Peter 3:18" id="1_Peter-3-18">Because Christ also suffered for sins once, the righteous for the unrighteous, that he might bring you to God; being put to death in the flesh, but made alive in the spirit;</span>
  <span class="verse" title="1 Peter 3:19" id="1_Peter-3-19">in which he also went and preached to the spirits in prison,</span>
  <span class="verse" title="1 Peter 3:20" id="1_Peter-3-20">who before were disobedient, when God waited patiently in the days of Noah, while the ship was being built. In it, few, that is, eight souls, were saved through water.</span>
  <span class="verse" title="1 Peter 3:21" id="1_Peter-3-21">This is a symbol of baptism, which now saves you—not the putting away of the filth of the flesh, but the answer of a good conscience toward God, through the resurrection of Jesus Christ,</span>
  <span class="verse" title="1 Peter 3:22" id="1_Peter-3-22">who is at the right hand of God, having gone into heaven, angels and authorities and powers being made subject to him.</span>
</div>