<div class="chapter" id="1 Peter-004">
  <h2>1 Peter 4</h2>
  <span class="verse" title="1 Peter 4:1" id="1_Peter-4-1">Forasmuch then as Christ suffered for us in the flesh, arm yourselves also with the same mind; for he who has suffered in the flesh has ceased from sin;</span>
  <span class="verse" title="1 Peter 4:2" id="1_Peter-4-2">that you no longer should live the rest of your time in the flesh for the lusts of men, but for the will of God.</span>
  <span class="verse" title="1 Peter 4:3" id="1_Peter-4-3">For we have spent enough of our past time doing the desire of the Gentiles, and having walked in lewdness, lusts, drunken binges, orgies, carousings, and abominable idolatries.</span>
  <span class="verse" title="1 Peter 4:4" id="1_Peter-4-4">They think it is strange that you don&#8217;t run with them into the same excess of riot, blaspheming:</span>
  <span class="verse" title="1 Peter 4:5" id="1_Peter-4-5">who will give account to him who is ready to judge the living and the dead.</span>
  <span class="verse" title="1 Peter 4:6" id="1_Peter-4-6">For to this end the Good News was preached even to the dead, that they might be judged indeed as men in the flesh, but live as to God in the spirit.</span>
  <span class="verse" title="1 Peter 4:7" id="1_Peter-4-7">But the end of all things is near. Therefore be of sound mind, self-controlled, and sober in prayer.</span>
  <span class="verse" title="1 Peter 4:8" id="1_Peter-4-8">And above all things be earnest in your love among yourselves, for love covers a multitude of sins.</span>
  <span class="verse" title="1 Peter 4:9" id="1_Peter-4-9">Be hospitable to one another without grumbling.</span>
  <span class="verse" title="1 Peter 4:10" id="1_Peter-4-10">As each has received a gift, employ it in serving one another, as good managers of the grace of God in its various forms.</span>
  <span class="verse" title="1 Peter 4:11" id="1_Peter-4-11">If anyone speaks, let it be as it were the very words of God. If anyone serves, let it be as of the strength which God supplies, that in all things God may be glorified through Jesus Christ, to whom belong the glory and the dominion forever and ever. Amen.</span>
  <span class="verse" title="1 Peter 4:12" id="1_Peter-4-12">Beloved, don&#8217;t be astonished at the fiery trial which has come upon you, to test you, as though a strange thing happened to you.</span>
  <span class="verse" title="1 Peter 4:13" id="1_Peter-4-13">But because you are partakers of Christ&#8217;s sufferings, rejoice; that at the revelation of his glory you also may rejoice with exceeding joy.</span>
  <span class="verse" title="1 Peter 4:14" id="1_Peter-4-14">If you are insulted for the name of Christ, you are blessed; because the Spirit of glory and of God rests on you. On their part he is blasphemed, but on your part he is glorified.</span>
  <span class="verse" title="1 Peter 4:15" id="1_Peter-4-15">For let none of you suffer as a murderer, or a thief, or an evil doer, or a meddler in other men&#8217;s matters.</span>
  <span class="verse" title="1 Peter 4:16" id="1_Peter-4-16">But if one of you suffers for being a Christian, let him not be ashamed; but let him glorify God in this matter.</span>
  <span class="verse" title="1 Peter 4:17" id="1_Peter-4-17">For the time has come for judgment to begin with the household of God. If it begins first with us, what will happen to those who don&#8217;t obey the Good News of God?</span>
  <span class="verse" title="1 Peter 4:18" id="1_Peter-4-18">&#8220;If it is hard for the righteous to be saved, what will happen to the ungodly and the sinner?&#8221;</span>
  <span class="verse" title="1 Peter 4:19" id="1_Peter-4-19">Therefore let them also who suffer according to the will of God in doing good entrust their souls to him, as to a faithful Creator.</span>
</div>