<div class="chapter" id="1 Peter-005">
  <h2>1 Peter 5</h2>
  <span class="verse" title="1 Peter 5:1" id="1_Peter-5-1">I exhort the elders among you, as a fellow elder, and a witness of the sufferings of Christ, and who will also share in the glory that will be revealed.</span>
  <span class="verse" title="1 Peter 5:2" id="1_Peter-5-2">Shepherd the flock of God which is among you, exercising the oversight, not under compulsion, but voluntarily, not for dishonest gain, but willingly;</span>
  <span class="verse" title="1 Peter 5:3" id="1_Peter-5-3">neither as lording it over those entrusted to you, but making yourselves examples to the flock.</span>
  <span class="verse" title="1 Peter 5:4" id="1_Peter-5-4">When the chief Shepherd is revealed, you will receive the crown of glory that doesn&#8217;t fade away.</span>
  <span class="verse" title="1 Peter 5:5" id="1_Peter-5-5">Likewise, you younger ones, be subject to the elder. Yes, all of you clothe yourselves with humility, to subject yourselves to one another; for &#8220;God resists the proud, but gives grace to the humble.&#8221;</span>
  <span class="verse" title="1 Peter 5:6" id="1_Peter-5-6">Humble yourselves therefore under the mighty hand of God, that he may exalt you in due time;</span>
  <span class="verse" title="1 Peter 5:7" id="1_Peter-5-7">casting all your worries on him, because he cares for you.</span>
  <span class="verse" title="1 Peter 5:8" id="1_Peter-5-8">Be sober and self-controlled. Be watchful. Your adversary, the devil, walks around like a roaring lion, seeking whom he may devour.</span>
  <span class="verse" title="1 Peter 5:9" id="1_Peter-5-9">Withstand him steadfast in your faith, knowing that your brothers who are in the world are undergoing the same sufferings.</span>
  <span class="verse" title="1 Peter 5:10" id="1_Peter-5-10">But may the God of all grace, who called you to his eternal glory by Christ Jesus, after you have suffered a little while, perfect, establish, strengthen, and settle you.</span>
  <span class="verse" title="1 Peter 5:11" id="1_Peter-5-11">To him be the glory and the power forever and ever. Amen.</span>
  <span class="verse" title="1 Peter 5:12" id="1_Peter-5-12">Through Silvanus, our faithful brother, as I consider him, I have written to you briefly, exhorting, and testifying that this is the true grace of God in which you stand.</span>
  <span class="verse" title="1 Peter 5:13" id="1_Peter-5-13">She who is in Babylon, chosen together with you, greets you; and so does Mark, my son.</span>
  <span class="verse" title="1 Peter 5:14" id="1_Peter-5-14">Greet one another with a kiss of love. Peace be to you all who are in Christ Jesus. Amen.</span>
</div>