.row{ style: 'margin-top:50px' }
  .col-md-push-4.col-md-4.text-center
    .callout.callout-warning
      %p= t('checkin.interface.run_setup.intro')
      %p= link_to t('checkin.interface.run_setup.button'), administration_checkin_times_path, class: 'btn btn-warning'
