<h1>CRCC | Recipes</h1>
  
         <%= link_to "Create new recipe", 
                      :controller => "recipes", 
                      :action => "edit" %><br />
         <%= link_to "Show all recipes", 
                      :controller => "recipes", 
                      :action => "list" %>

<p>Store, Share, and Retrieve your recipes from one location.</p>
