<h1>Recipes</h1>

<p>Share your favorite recipes with the <%= CHURCH_NAME %> family.</p>

<%= render :partial => 'shares/subnav' %>
  
<% if @recipes.any? %>
  <%= render :partial => 'list' %>
<% else %>
  <p><em>No recipes yet!</em></p>
<% end %>

<p><%= link_to "New Recipe", :controller => "recipes", :action => "edit" %></p>
