<% content_for :subnav do %>
  <li><%= link_to image_tag('plus.png', :alt => 'Add a recipe.', :class => 'icon') + ' Add a Recipe', new_recipe_path %></li>
<% end %>

<h1>Recipes</h1>

<p>Share your favorite recipes with the <%= Setting.get(:name, :community) %> family.</p>

<% content_for :sidebar do %>
  <h2>Tags</h2>
  <div class="tag-cloud">
    <% tag_cloud @tags, %w(size1 size2 size3 size4) do |tag, css_class| %>
      <%= link_to tag.name, tag, :class => css_class %>
    <% end %>
    <% if @tags.empty? %>
      <em>no tags yet</em>
    <% end %>
  </div>
<% end %>

<% if @recipes.any? %>
  <%= render :partial => 'list', :locals => {:recipes => @recipes} %>
<% else %>
  <p><em>No recipes yet!</em></p>
<% end %>
