<div class="chapter" id="Hebrews-001">
  <h2>Hebrews 1</h2>
  <span class="verse" title="Hebrews 1:1" id="Hebrews-1-1">God, having in the past spoken to the fathers through the prophets at many times and in various ways,</span>
  <span class="verse" title="Hebrews 1:2" id="Hebrews-1-2">has at the end of these days spoken to us by his Son, whom he appointed heir of all things, through whom also he made the worlds.</span>
  <span class="verse" title="Hebrews 1:3" id="Hebrews-1-3">His Son is the radiance of his glory, the very image of his substance, and upholding all things by the word of his power, when he had by himself made purification for our sins, sat down on the right hand of the Majesty on high;</span>
  <span class="verse" title="Hebrews 1:4" id="Hebrews-1-4">having become so much better than the angels, as he has inherited a more excellent name than they have.</span>
  <span class="verse" title="Hebrews 1:5" id="Hebrews-1-5">For to which of the angels did he say at any time,   &#8220;You are my Son.<br/> <span class="indent">&nbsp;&nbsp;</span>Today have I become your father?&#8221;<br/>  and again,   &#8220;I will be to him a Father,<br/> <span class="indent">&nbsp;&nbsp;</span>and he will be to me a Son?&#8221;<br/></span>
  <span class="verse" title="Hebrews 1:6" id="Hebrews-1-6">Again, when he brings in the firstborn into the world he says, &#8220;Let all the angels of God worship him.&#8221;</span>
  <span class="verse" title="Hebrews 1:7" id="Hebrews-1-7">Of the angels he says,  &#8220;Who makes his angels winds,<br/> <span class="indent">&nbsp;&nbsp;</span>and his servants a flame of fire.&#8221;<br/></span>
  <span class="verse" title="Hebrews 1:8" id="Hebrews-1-8">But of the Son he says,  &#8220;Your throne, O God, is forever and ever.<br/> <span class="indent">&nbsp;&nbsp;</span>The scepter of uprightness is the scepter of your Kingdom.<br/></span>
  <span class="verse" title="Hebrews 1:9" id="Hebrews-1-9">You have loved righteousness, and hated iniquity;<br/> <span class="indent">&nbsp;&nbsp;</span>therefore God, your God, has anointed you with the oil of gladness above your fellows.&#8221;<br/></span>
  <span class="verse" title="Hebrews 1:10" id="Hebrews-1-10">And,  &#8220;You, Lord, in the beginning, laid the foundation of the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>The heavens are the works of your hands.<br/></span>
  <span class="verse" title="Hebrews 1:11" id="Hebrews-1-11">They will perish, but you continue.<br/> <span class="indent">&nbsp;&nbsp;</span>They all will grow old like a garment does.<br/></span>
  <span class="verse" title="Hebrews 1:12" id="Hebrews-1-12">As a mantle, you will roll them up,<br/> <span class="indent">&nbsp;&nbsp;</span>and they will be changed;<br/>   but you are the same.<br/> <span class="indent">&nbsp;&nbsp;</span>Your years will not fail.&#8221;<br/></span>
  <span class="verse" title="Hebrews 1:13" id="Hebrews-1-13">But which of the angels has he told at any time,  &#8220;Sit at my right hand,<br/> <span class="indent">&nbsp;&nbsp;</span>until I make your enemies the footstool of your feet?&#8221;<br/></span>
  <span class="verse" title="Hebrews 1:14" id="Hebrews-1-14">Aren&#8217;t they all serving spirits, sent out to do service for the sake of those who will inherit salvation?</span>
</div>