<div class="chapter" id="Hebrews-002">
  <h2>Hebrews 2</h2>
  <span class="verse" title="Hebrews 2:1" id="Hebrews-2-1">Therefore we ought to pay greater attention to the things that were heard, lest perhaps we drift away.</span>
  <span class="verse" title="Hebrews 2:2" id="Hebrews-2-2">For if the word spoken through angels proved steadfast, and every transgression and disobedience received a just recompense;</span>
  <span class="verse" title="Hebrews 2:3" id="Hebrews-2-3">how will we escape if we neglect so great a salvation—which at the first having been spoken through the Lord, was confirmed to us by those who heard;</span>
  <span class="verse" title="Hebrews 2:4" id="Hebrews-2-4">God also testifying with them, both by signs and wonders, by various works of power, and by gifts of the Holy Spirit, according to his own will?</span>
  <span class="verse" title="Hebrews 2:5" id="Hebrews-2-5">For he didn&#8217;t subject the world to come, of which we speak, to angels.</span>
  <span class="verse" title="Hebrews 2:6" id="Hebrews-2-6">But one has somewhere testified, saying,  &#8220;What is man, that you think of him?<br/> <span class="indent">&nbsp;&nbsp;</span>Or the son of man, that you care for him?<br/></span>
  <span class="verse" title="Hebrews 2:7" id="Hebrews-2-7">You made him a little lower than the angels.<br/> <span class="indent">&nbsp;&nbsp;</span>You crowned him with glory and honor.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Hebrews 2:8" id="Hebrews-2-8">You have put all things in subjection under his feet.&#8221;<br/>  For in that he subjected all things to him, he left nothing that is not subject to him. But now we don&#8217;t see all things subjected to him, yet.</span>
  <span class="verse" title="Hebrews 2:9" id="Hebrews-2-9">But we see him who has been made a little lower than the angels, Jesus, because of the suffering of death crowned with glory and honor, that by the grace of God he should taste of death for everyone.</span>
  <span class="verse" title="Hebrews 2:10" id="Hebrews-2-10">For it became him, for whom are all things, and through whom are all things, in bringing many children to glory, to make the author of their salvation perfect through sufferings.</span>
  <span class="verse" title="Hebrews 2:11" id="Hebrews-2-11">For both he who sanctifies and those who are sanctified are all from one, for which cause he is not ashamed to call them brothers,</span>
  <span class="verse" title="Hebrews 2:12" id="Hebrews-2-12">saying,  &#8220;I will declare your name to my brothers.<br/> <span class="indent">&nbsp;&nbsp;</span>In the midst of the congregation I will sing your praise.&#8221;<br/></span>
  <span class="verse" title="Hebrews 2:13" id="Hebrews-2-13">Again, &#8220;I will put my trust in him.&#8221; Again, &#8220;Behold, here I am with the children whom God has given me.&#8221;</span>
  <span class="verse" title="Hebrews 2:14" id="Hebrews-2-14">Since then the children have shared in flesh and blood, he also himself in the same way partook of the same, that through death he might bring to nothing him who had the power of death, that is, the devil,</span>
  <span class="verse" title="Hebrews 2:15" id="Hebrews-2-15">and might deliver all of them who through fear of death were all their lifetime subject to bondage.</span>
  <span class="verse" title="Hebrews 2:16" id="Hebrews-2-16">For most certainly, he doesn&#8217;t give help to angels, but he gives help to the seed of Abraham.</span>
  <span class="verse" title="Hebrews 2:17" id="Hebrews-2-17">Therefore he was obligated in all things to be made like his brothers, that he might become a merciful and faithful high priest in things pertaining to God, to make atonement for the sins of the people.</span>
  <span class="verse" title="Hebrews 2:18" id="Hebrews-2-18">For in that he himself has suffered being tempted, he is able to help those who are tempted.</span>
</div>