<div class="chapter" id="Hebrews-003">
  <h2>Hebrews 3</h2>
  <span class="verse" title="Hebrews 3:1" id="Hebrews-3-1">Therefore, holy brothers, partakers of a heavenly calling, consider the Apostle and High Priest of our confession, Jesus;</span>
  <span class="verse" title="Hebrews 3:2" id="Hebrews-3-2">who was faithful to him who appointed him, as also was Moses in all his house.</span>
  <span class="verse" title="Hebrews 3:3" id="Hebrews-3-3">For he has been counted worthy of more glory than Moses, inasmuch as he who built the house has more honor than the house.</span>
  <span class="verse" title="Hebrews 3:4" id="Hebrews-3-4">For every house is built by someone; but he who built all things is God.</span>
  <span class="verse" title="Hebrews 3:5" id="Hebrews-3-5">Moses indeed was faithful in all his house as a servant, for a testimony of those things which were afterward to be spoken,</span>
  <span class="verse" title="Hebrews 3:6" id="Hebrews-3-6">but Christ is faithful as a Son over his house; whose house we are, if we hold fast our confidence and the glorying of our hope firm to the end.</span>
  <span class="verse" title="Hebrews 3:7" id="Hebrews-3-7">Therefore, even as the Holy Spirit says,   &#8220;Today if you will hear his voice,<br/></span>
  <span class="verse" title="Hebrews 3:8" id="Hebrews-3-8">don&#8217;t harden your hearts, as in the rebellion,<br/> <span class="indent">&nbsp;&nbsp;</span>like as in the day of the trial in the wilderness,<br/></span>
  <span class="verse" title="Hebrews 3:9" id="Hebrews-3-9">where your fathers tested me by proving me,<br/> <span class="indent">&nbsp;&nbsp;</span>and saw my works for forty years.<br/></span>
  <span class="verse" title="Hebrews 3:10" id="Hebrews-3-10">Therefore I was displeased with that generation,<br/> <span class="indent">&nbsp;&nbsp;</span>and said, &#8216;They always err in their heart,<br/> <span class="indent">&nbsp;&nbsp;</span>but they didn&#8217;t know my ways;&#8217;<br/></span>
  <span class="verse" title="Hebrews 3:11" id="Hebrews-3-11">as I swore in my wrath,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;They will not enter into my rest.&#8217;&#8221;<br/></span>
  <span class="verse" title="Hebrews 3:12" id="Hebrews-3-12">Beware, brothers, lest perhaps there be in any one of you an evil heart of unbelief, in falling away from the living God;</span>
  <span class="verse" title="Hebrews 3:13" id="Hebrews-3-13">but exhort one another day by day, so long as it is called &#8220;today;&#8221; lest any one of you be hardened by the deceitfulness of sin.</span>
  <span class="verse" title="Hebrews 3:14" id="Hebrews-3-14">For we have become partakers of Christ, if we hold fast the beginning of our confidence firm to the end:</span>
  <span class="verse" title="Hebrews 3:15" id="Hebrews-3-15">while it is said,  &#8220;Today if you will hear his voice,<br/> <span class="indent">&nbsp;&nbsp;</span>don&#8217;t harden your hearts, as in the rebellion.&#8221;<br/></span>
  <span class="verse" title="Hebrews 3:16" id="Hebrews-3-16">For who, when they heard, rebelled? No, didn&#8217;t all those who came out of Egypt by Moses?</span>
  <span class="verse" title="Hebrews 3:17" id="Hebrews-3-17">With whom was he displeased forty years? Wasn&#8217;t it with those who sinned, whose bodies fell in the wilderness?</span>
  <span class="verse" title="Hebrews 3:18" id="Hebrews-3-18">To whom did he swear that they wouldn&#8217;t enter into his rest, but to those who were disobedient?</span>
  <span class="verse" title="Hebrews 3:19" id="Hebrews-3-19">We see that they were not able to enter in because of unbelief.</span>
</div>