<div class="chapter" id="Hebrews-004">
  <h2>Hebrews 4</h2>
  <span class="verse" title="Hebrews 4:1" id="Hebrews-4-1">Let us fear therefore, lest perhaps anyone of you should seem to have come short of a promise of entering into his rest.</span>
  <span class="verse" title="Hebrews 4:2" id="Hebrews-4-2">For indeed we have had good news preached to us, even as they also did, but the word they heard didn&#8217;t profit them, because it wasn&#8217;t mixed with faith by those who heard.</span>
  <span class="verse" title="Hebrews 4:3" id="Hebrews-4-3">For we who have believed do enter into that rest, even as he has said, &#8220;As I swore in my wrath, they will not enter into my rest;&#8221; although the works were finished from the foundation of the world.</span>
  <span class="verse" title="Hebrews 4:4" id="Hebrews-4-4">For he has said this somewhere about the seventh day, &#8220;God rested on the seventh day from all his works;&#8221;</span>
  <span class="verse" title="Hebrews 4:5" id="Hebrews-4-5">and in this place again, &#8220;They will not enter into my rest.&#8221;</span>
  <span class="verse" title="Hebrews 4:6" id="Hebrews-4-6">Seeing therefore it remains that some should enter therein, and they to whom the good news was before preached failed to enter in because of disobedience,</span>
  <span class="verse" title="Hebrews 4:7" id="Hebrews-4-7">he again defines a certain day, today, saying through David so long a time afterward (just as has been said),  &#8220;Today if you will hear his voice,<br/> <span class="indent">&nbsp;&nbsp;</span>don&#8217;t harden your hearts.&#8221;<br/></span>
  <span class="verse" title="Hebrews 4:8" id="Hebrews-4-8">For if Joshua had given them rest, he would not have spoken afterward of another day.</span>
  <span class="verse" title="Hebrews 4:9" id="Hebrews-4-9">There remains therefore a Sabbath rest for the people of God.</span>
  <span class="verse" title="Hebrews 4:10" id="Hebrews-4-10">For he who has entered into his rest has himself also rested from his works, as God did from his.</span>
  <span class="verse" title="Hebrews 4:11" id="Hebrews-4-11">Let us therefore give diligence to enter into that rest, lest anyone fall after the same example of disobedience.</span>
  <span class="verse" title="Hebrews 4:12" id="Hebrews-4-12">For the word of God is living, and active, and sharper than any two-edged sword, and piercing even to the dividing of soul and spirit, of both joints and marrow, and is able to discern the thoughts and intentions of the heart.</span>
  <span class="verse" title="Hebrews 4:13" id="Hebrews-4-13">There is no creature that is hidden from his sight, but all things are naked and laid open before the eyes of him with whom we have to do.</span>
  <span class="verse" title="Hebrews 4:14" id="Hebrews-4-14">Having then a great high priest, who has passed through the heavens, Jesus, the Son of God, let us hold tightly to our confession.</span>
  <span class="verse" title="Hebrews 4:15" id="Hebrews-4-15">For we don&#8217;t have a high priest who can&#8217;t be touched with the feeling of our infirmities, but one who has been in all points tempted like we are, yet without sin.</span>
  <span class="verse" title="Hebrews 4:16" id="Hebrews-4-16">Let us therefore draw near with boldness to the throne of grace, that we may receive mercy, and may find grace for help in time of need.</span>
</div>