<div class="chapter" id="Hebrews-005">
  <h2>Hebrews 5</h2>
  <span class="verse" title="Hebrews 5:1" id="Hebrews-5-1">For every high priest, being taken from among men, is appointed for men in things pertaining to God, that he may offer both gifts and sacrifices for sins.</span>
  <span class="verse" title="Hebrews 5:2" id="Hebrews-5-2">The high priest can deal gently with those who are ignorant and going astray, because he himself is also surrounded with weakness.</span>
  <span class="verse" title="Hebrews 5:3" id="Hebrews-5-3">Because of this, he must offer sacrifices for sins for the people, as well as for himself.</span>
  <span class="verse" title="Hebrews 5:4" id="Hebrews-5-4">Nobody takes this honor on himself, but he is called by God, just like Aaron was.</span>
  <span class="verse" title="Hebrews 5:5" id="Hebrews-5-5">So also Christ didn&#8217;t glorify himself to be made a high priest, but it was he who said to him,  &#8220;You are my Son.<br/> <span class="indent">&nbsp;&nbsp;</span>Today I have become your father.&#8221;<br/></span>
  <span class="verse" title="Hebrews 5:6" id="Hebrews-5-6">As he says also in another place,  &#8220;You are a priest forever,<br/> <span class="indent">&nbsp;&nbsp;</span>after the order of Melchizedek.&#8221;<br/></span>
  <span class="verse" title="Hebrews 5:7" id="Hebrews-5-7">He, in the days of his flesh, having offered up prayers and petitions with strong crying and tears to him who was able to save him from death, and having been heard for his godly fear,</span>
  <span class="verse" title="Hebrews 5:8" id="Hebrews-5-8">though he was a Son, yet learned obedience by the things which he suffered.</span>
  <span class="verse" title="Hebrews 5:9" id="Hebrews-5-9">Having been made perfect, he became to all of those who obey him the author of eternal salvation,</span>
  <span class="verse" title="Hebrews 5:10" id="Hebrews-5-10">named by God a high priest after the order of Melchizedek.</span>
  <span class="verse" title="Hebrews 5:11" id="Hebrews-5-11">About him we have many words to say, and hard to interpret, seeing you have become dull of hearing.</span>
  <span class="verse" title="Hebrews 5:12" id="Hebrews-5-12">For although by this time you should be teachers, you again need to have someone teach you the rudiments of the first principles of the oracles of God. You have come to need milk, and not solid food.</span>
  <span class="verse" title="Hebrews 5:13" id="Hebrews-5-13">For everyone who lives on milk is not experienced in the word of righteousness, for he is a baby.</span>
  <span class="verse" title="Hebrews 5:14" id="Hebrews-5-14">But solid food is for those who are full grown, who by reason of use have their senses exercised to discern good and evil.</span>
</div>