<div class="chapter" id="Hebrews-006">
  <h2>Hebrews 6</h2>
  <span class="verse" title="Hebrews 6:1" id="Hebrews-6-1">Therefore leaving the teaching of the first principles of Christ, let us press on to perfection—not laying again a foundation of repentance from dead works, of faith toward God,</span>
  <span class="verse" title="Hebrews 6:2" id="Hebrews-6-2">of the teaching of baptisms, of laying on of hands, of resurrection of the dead, and of eternal judgment.</span>
  <span class="verse" title="Hebrews 6:3" id="Hebrews-6-3">This will we do, if God permits.</span>
  <span class="verse" title="Hebrews 6:4" id="Hebrews-6-4">For concerning those who were once enlightened and tasted of the heavenly gift, and were made partakers of the Holy Spirit,</span>
  <span class="verse" title="Hebrews 6:5" id="Hebrews-6-5">and tasted the good word of God, and the powers of the age to come,</span>
  <span class="verse" title="Hebrews 6:6" id="Hebrews-6-6">and then fell away, it is impossible to renew them again to repentance; seeing they crucify the Son of God for themselves again, and put him to open shame.</span>
  <span class="verse" title="Hebrews 6:7" id="Hebrews-6-7">For the land which has drunk the rain that comes often on it, and brings forth a crop suitable for them for whose sake it is also tilled, receives blessing from God;</span>
  <span class="verse" title="Hebrews 6:8" id="Hebrews-6-8">but if it bears thorns and thistles, it is rejected and near being cursed, whose end is to be burned.</span>
  <span class="verse" title="Hebrews 6:9" id="Hebrews-6-9">But, beloved, we are persuaded of better things for you, and things that accompany salvation, even though we speak like this.</span>
  <span class="verse" title="Hebrews 6:10" id="Hebrews-6-10">For God is not unrighteous, so as to forget your work and the labor of love which you showed toward his name, in that you served the saints, and still do serve them.</span>
  <span class="verse" title="Hebrews 6:11" id="Hebrews-6-11">We desire that each one of you may show the same diligence to the fullness of hope even to the end,</span>
  <span class="verse" title="Hebrews 6:12" id="Hebrews-6-12">that you won&#8217;t be sluggish, but imitators of those who through faith and patience inherited the promises.</span>
  <span class="verse" title="Hebrews 6:13" id="Hebrews-6-13">For when God made a promise to Abraham, since he could swear by none greater, he swore by himself,</span>
  <span class="verse" title="Hebrews 6:14" id="Hebrews-6-14">saying, &#8220;Surely blessing I will bless you, and multiplying I will multiply you.&#8221;</span>
  <span class="verse" title="Hebrews 6:15" id="Hebrews-6-15">Thus, having patiently endured, he obtained the promise.</span>
  <span class="verse" title="Hebrews 6:16" id="Hebrews-6-16">For men indeed swear by a greater one, and in every dispute of theirs the oath is final for confirmation.</span>
  <span class="verse" title="Hebrews 6:17" id="Hebrews-6-17">In this way God, being determined to show more abundantly to the heirs of the promise the immutability of his counsel, interposed with an oath;</span>
  <span class="verse" title="Hebrews 6:18" id="Hebrews-6-18">that by two immutable things, in which it is impossible for God to lie, we may have a strong encouragement, who have fled for refuge to take hold of the hope set before us.</span>
  <span class="verse" title="Hebrews 6:19" id="Hebrews-6-19">This hope we have as an anchor of the soul, a hope both sure and steadfast and entering into that which is within the veil;</span>
  <span class="verse" title="Hebrews 6:20" id="Hebrews-6-20">where as a forerunner Jesus entered for us, having become a high priest forever after the order of Melchizedek.</span>
</div>