<div class="chapter" id="Hebrews-007">
  <h2>Hebrews 7</h2>
  <span class="verse" title="Hebrews 7:1" id="Hebrews-7-1">For this Melchizedek, king of Salem, priest of God Most High, who met Abraham returning from the slaughter of the kings and blessed him,</span>
  <span class="verse" title="Hebrews 7:2" id="Hebrews-7-2">to whom also Abraham divided a tenth part of all (being first, by interpretation, king of righteousness, and then also king of Salem, which is king of peace;</span>
  <span class="verse" title="Hebrews 7:3" id="Hebrews-7-3">without father, without mother, without genealogy, having neither beginning of days nor end of life, but made like the Son of God), remains a priest continually.</span>
  <span class="verse" title="Hebrews 7:4" id="Hebrews-7-4">Now consider how great this man was, to whom even Abraham, the patriarch, gave a tenth out of the best spoils.</span>
  <span class="verse" title="Hebrews 7:5" id="Hebrews-7-5">They indeed of the sons of Levi who receive the priest&#8217;s office have a commandment to take tithes of the people according to the law, that is, of their brothers, though these have come out of the body of Abraham,</span>
  <span class="verse" title="Hebrews 7:6" id="Hebrews-7-6">but he whose genealogy is not counted from them has accepted tithes from Abraham, and has blessed him who has the promises.</span>
  <span class="verse" title="Hebrews 7:7" id="Hebrews-7-7">But without any dispute the lesser is blessed by the greater.</span>
  <span class="verse" title="Hebrews 7:8" id="Hebrews-7-8">Here people who die receive tithes, but there one receives tithes of whom it is testified that he lives.</span>
  <span class="verse" title="Hebrews 7:9" id="Hebrews-7-9">We can say that through Abraham even Levi, who receives tithes, has paid tithes,</span>
  <span class="verse" title="Hebrews 7:10" id="Hebrews-7-10">for he was yet in the body of his father when Melchizedek met him.</span>
  <span class="verse" title="Hebrews 7:11" id="Hebrews-7-11">Now if there were perfection through the Levitical priesthood (for under it the people have received the law), what further need was there for another priest to arise after the order of Melchizedek, and not be called after the order of Aaron?</span>
  <span class="verse" title="Hebrews 7:12" id="Hebrews-7-12">For the priesthood being changed, there is of necessity a change made also in the law.</span>
  <span class="verse" title="Hebrews 7:13" id="Hebrews-7-13">For he of whom these things are said belongs to another tribe, from which no one has officiated at the altar.</span>
  <span class="verse" title="Hebrews 7:14" id="Hebrews-7-14">For it is evident that our Lord has sprung out of Judah, about which tribe Moses spoke nothing concerning priesthood.</span>
  <span class="verse" title="Hebrews 7:15" id="Hebrews-7-15">This is yet more abundantly evident, if after the likeness of Melchizedek there arises another priest,</span>
  <span class="verse" title="Hebrews 7:16" id="Hebrews-7-16">who has been made, not after the law of a fleshly commandment, but after the power of an endless life:</span>
  <span class="verse" title="Hebrews 7:17" id="Hebrews-7-17">for it is testified,  &#8220;You are a priest forever,<br/> <span class="indent">&nbsp;&nbsp;</span>according to the order of Melchizedek.&#8221;<br/></span>
  <span class="verse" title="Hebrews 7:18" id="Hebrews-7-18">For there is an annulling of a foregoing commandment because of its weakness and uselessness</span>
  <span class="verse" title="Hebrews 7:19" id="Hebrews-7-19">(for the law made nothing perfect), and a bringing in of a better hope, through which we draw near to God.</span>
  <span class="verse" title="Hebrews 7:20" id="Hebrews-7-20">Inasmuch as he was not made priest without the taking of an oath</span>
  <span class="verse" title="Hebrews 7:21" id="Hebrews-7-21">(for they indeed have been made priests without an oath), but he with an oath by him that says of him,  &#8220;The Lord swore and will not change his mind,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;You are a priest forever,<br/> <span class="indent">&nbsp;&nbsp;</span>according to the order of Melchizedek.&#8217;&#8221;<br/></span>
  <span class="verse" title="Hebrews 7:22" id="Hebrews-7-22">By so much, Jesus has become the collateral of a better covenant.</span>
  <span class="verse" title="Hebrews 7:23" id="Hebrews-7-23">Many, indeed, have been made priests, because they are hindered from continuing by death.</span>
  <span class="verse" title="Hebrews 7:24" id="Hebrews-7-24">But he, because he lives forever, has his priesthood unchangeable.</span>
  <span class="verse" title="Hebrews 7:25" id="Hebrews-7-25">Therefore he is also able to save to the uttermost those who draw near to God through him, seeing that he lives forever to make intercession for them.</span>
  <span class="verse" title="Hebrews 7:26" id="Hebrews-7-26">For such a high priest was fitting for us: holy, guiltless, undefiled, separated from sinners, and made higher than the heavens;</span>
  <span class="verse" title="Hebrews 7:27" id="Hebrews-7-27">who doesn&#8217;t need, like those high priests, to offer up sacrifices daily, first for his own sins, and then for the sins of the people. For he did this once for all, when he offered up himself.</span>
  <span class="verse" title="Hebrews 7:28" id="Hebrews-7-28">For the law appoints men as high priests who have weakness, but the word of the oath which came after the law appoints a Son forever who has been perfected.</span>
</div>