<div class="chapter" id="Hebrews-009">
  <h2>Hebrews 9</h2>
  <span class="verse" title="Hebrews 9:1" id="Hebrews-9-1">Now indeed even the first covenant had ordinances of divine service, and an earthly sanctuary.</span>
  <span class="verse" title="Hebrews 9:2" id="Hebrews-9-2">For a tabernacle was prepared. In the first part were the lampstand, the table, and the show bread; which is called the Holy Place.</span>
  <span class="verse" title="Hebrews 9:3" id="Hebrews-9-3">After the second veil was the tabernacle which is called the Holy of Holies,</span>
  <span class="verse" title="Hebrews 9:4" id="Hebrews-9-4">having a golden altar of incense, and the ark of the covenant overlaid on all sides with gold, in which was a golden pot holding the manna, Aaron&#8217;s rod that budded, and the tablets of the covenant;</span>
  <span class="verse" title="Hebrews 9:5" id="Hebrews-9-5">and above it cherubim of glory overshadowing the mercy seat, of which things we can&#8217;t speak now in detail.</span>
  <span class="verse" title="Hebrews 9:6" id="Hebrews-9-6">Now these things having been thus prepared, the priests go in continually into the first tabernacle, accomplishing the services,</span>
  <span class="verse" title="Hebrews 9:7" id="Hebrews-9-7">but into the second the high priest alone, once in the year, not without blood, which he offers for himself, and for the errors of the people.</span>
  <span class="verse" title="Hebrews 9:8" id="Hebrews-9-8">The Holy Spirit is indicating this, that the way into the Holy Place wasn&#8217;t yet revealed while the first tabernacle was still standing;</span>
  <span class="verse" title="Hebrews 9:9" id="Hebrews-9-9">which is a symbol of the present age, where gifts and sacrifices are offered that are incapable, concerning the conscience, of making the worshipper perfect;</span>
  <span class="verse" title="Hebrews 9:10" id="Hebrews-9-10">being only (with meats and drinks and various washings) fleshly ordinances, imposed until a time of reformation.</span>
  <span class="verse" title="Hebrews 9:11" id="Hebrews-9-11">But Christ having come as a high priest of the coming good things, through the greater and more perfect tabernacle, not made with hands, that is to say, not of this creation,</span>
  <span class="verse" title="Hebrews 9:12" id="Hebrews-9-12">nor yet through the blood of goats and calves, but through his own blood, entered in once for all into the Holy Place, having obtained eternal redemption.</span>
  <span class="verse" title="Hebrews 9:13" id="Hebrews-9-13">For if the blood of goats and bulls, and the ashes of a heifer sprinkling those who have been defiled, sanctify to the cleanness of the flesh:</span>
  <span class="verse" title="Hebrews 9:14" id="Hebrews-9-14">how much more will the blood of Christ, who through the eternal Spirit offered himself without blemish to God, cleanse your conscience from dead works to serve the living God?</span>
  <span class="verse" title="Hebrews 9:15" id="Hebrews-9-15">For this reason he is the mediator of a new covenant, since a death has occurred for the redemption of the transgressions that were under the first covenant, that those who have been called may receive the promise of the eternal inheritance.</span>
  <span class="verse" title="Hebrews 9:16" id="Hebrews-9-16">For where a last will and testament is, there must of necessity be the death of him who made it.</span>
  <span class="verse" title="Hebrews 9:17" id="Hebrews-9-17">For a will is in force where there has been death, for it is never in force while he who made it lives.</span>
  <span class="verse" title="Hebrews 9:18" id="Hebrews-9-18">Therefore even the first covenant has not been dedicated without blood.</span>
  <span class="verse" title="Hebrews 9:19" id="Hebrews-9-19">For when every commandment had been spoken by Moses to all the people according to the law, he took the blood of the calves and the goats, with water and scarlet wool and hyssop, and sprinkled both the book itself and all the people,</span>
  <span class="verse" title="Hebrews 9:20" id="Hebrews-9-20">saying, &#8220;This is the blood of the covenant which God has commanded you.&#8221;</span>
  <span class="verse" title="Hebrews 9:21" id="Hebrews-9-21">Moreover he sprinkled the tabernacle and all the vessels of the ministry in the same way with the blood.</span>
  <span class="verse" title="Hebrews 9:22" id="Hebrews-9-22">According to the law, nearly everything is cleansed with blood, and apart from shedding of blood there is no remission.</span>
  <span class="verse" title="Hebrews 9:23" id="Hebrews-9-23">It was necessary therefore that the copies of the things in the heavens should be cleansed with these; but the heavenly things themselves with better sacrifices than these.</span>
  <span class="verse" title="Hebrews 9:24" id="Hebrews-9-24">For Christ hasn&#8217;t entered into holy places made with hands, which are representations of the true, but into heaven itself, now to appear in the presence of God for us;</span>
  <span class="verse" title="Hebrews 9:25" id="Hebrews-9-25">nor yet that he should offer himself often, as the high priest enters into the holy place year by year with blood not his own,</span>
  <span class="verse" title="Hebrews 9:26" id="Hebrews-9-26">or else he must have suffered often since the foundation of the world. But now once at the end of the ages, he has been revealed to put away sin by the sacrifice of himself.</span>
  <span class="verse" title="Hebrews 9:27" id="Hebrews-9-27">Inasmuch as it is appointed for men to die once, and after this, judgment,</span>
  <span class="verse" title="Hebrews 9:28" id="Hebrews-9-28">so Christ also, having been offered once to bear the sins of many, will appear a second time, without sin, to those who are eagerly waiting for him for salvation.</span>
</div>