<div class="chapter" id="Hebrews-010">
  <h2>Hebrews 10</h2>
  <span class="verse" title="Hebrews 10:1" id="Hebrews-10-1">For the law, having a shadow of the good to come, not the very image of the things, can never with the same sacrifices year by year, which they offer continually, make perfect those who draw near.</span>
  <span class="verse" title="Hebrews 10:2" id="Hebrews-10-2">Or else wouldn&#8217;t they have ceased to be offered, because the worshippers, having been once cleansed, would have had no more consciousness of sins?</span>
  <span class="verse" title="Hebrews 10:3" id="Hebrews-10-3">But in those sacrifices there is a yearly reminder of sins.</span>
  <span class="verse" title="Hebrews 10:4" id="Hebrews-10-4">For it is impossible that the blood of bulls and goats should take away sins.</span>
  <span class="verse" title="Hebrews 10:5" id="Hebrews-10-5">Therefore when he comes into the world, he says,  &#8220;Sacrifice and offering you didn&#8217;t desire,<br/> <span class="indent">&nbsp;&nbsp;</span>but you prepared a body for me;<br/></span>
  <span class="verse" title="Hebrews 10:6" id="Hebrews-10-6">You had no pleasure in whole burnt offerings and sacrifices for sin.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Hebrews 10:7" id="Hebrews-10-7">Then I said, &#8216;Behold, I have come (in the scroll of the book it is written of me)<br/> <span class="indent">&nbsp;&nbsp;</span>to do your will, O God.&#8217;&#8221;<br/></span>
  <span class="verse" title="Hebrews 10:8" id="Hebrews-10-8">Previously saying, &#8220;Sacrifices and offerings and whole burnt offerings and sacrifices for sin you didn&#8217;t desire, neither had pleasure in them&#8221; (those which are offered according to the law),</span>
  <span class="verse" title="Hebrews 10:9" id="Hebrews-10-9">then he has said, &#8220;Behold, I have come to do your will.&#8221; He takes away the first, that he may establish the second,</span>
  <span class="verse" title="Hebrews 10:10" id="Hebrews-10-10">by which will we have been sanctified through the offering of the body of Jesus Christ once for all.</span>
  <span class="verse" title="Hebrews 10:11" id="Hebrews-10-11">Every priest indeed stands day by day serving and often offering the same sacrifices, which can never take away sins,</span>
  <span class="verse" title="Hebrews 10:12" id="Hebrews-10-12">but he, when he had offered one sacrifice for sins forever, sat down on the right hand of God;</span>
  <span class="verse" title="Hebrews 10:13" id="Hebrews-10-13">from that time waiting until his enemies are made the footstool of his feet.</span>
  <span class="verse" title="Hebrews 10:14" id="Hebrews-10-14">For by one offering he has perfected forever those who are being sanctified.</span>
  <span class="verse" title="Hebrews 10:15" id="Hebrews-10-15">The Holy Spirit also testifies to us, for after saying,</span>
  <span class="verse" title="Hebrews 10:16" id="Hebrews-10-16">&#8220;This is the covenant that I will make with them:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;After those days,&#8217; says the Lord,<br/>   &#8216;I will put my laws on their heart,<br/> <span class="indent">&nbsp;&nbsp;</span>I will also write them on their mind;&#8217;&#8221;<br/>  then he says,</span>
  <span class="verse" title="Hebrews 10:17" id="Hebrews-10-17">&#8220;I will remember their sins and their iniquities no more.&#8221;<br/></span>
  <span class="verse" title="Hebrews 10:18" id="Hebrews-10-18">Now where remission of these is, there is no more offering for sin.</span>
  <span class="verse" title="Hebrews 10:19" id="Hebrews-10-19">Having therefore, brothers, boldness to enter into the holy place by the blood of Jesus,</span>
  <span class="verse" title="Hebrews 10:20" id="Hebrews-10-20">by the way which he dedicated for us, a new and living way, through the veil, that is to say, his flesh;</span>
  <span class="verse" title="Hebrews 10:21" id="Hebrews-10-21">and having a great priest over the house of God,</span>
  <span class="verse" title="Hebrews 10:22" id="Hebrews-10-22">let&#8217;s draw near with a true heart in fullness of faith, having our hearts sprinkled from an evil conscience, and having our body washed with pure water,</span>
  <span class="verse" title="Hebrews 10:23" id="Hebrews-10-23">let us hold fast the confession of our hope without wavering; for he who promised is faithful.</span>
  <span class="verse" title="Hebrews 10:24" id="Hebrews-10-24">Let us consider how to provoke one another to love and good works,</span>
  <span class="verse" title="Hebrews 10:25" id="Hebrews-10-25">not forsaking our own assembling together, as the custom of some is, but exhorting one another; and so much the more, as you see the Day approaching.</span>
  <span class="verse" title="Hebrews 10:26" id="Hebrews-10-26">For if we sin willfully after we have received the knowledge of the truth, there remains no more a sacrifice for sins,</span>
  <span class="verse" title="Hebrews 10:27" id="Hebrews-10-27">but a certain fearful expectation of judgment, and a fierceness of fire which will devour the adversaries.</span>
  <span class="verse" title="Hebrews 10:28" id="Hebrews-10-28">A man who disregards Moses&#8217; law dies without compassion on the word of two or three witnesses.</span>
  <span class="verse" title="Hebrews 10:29" id="Hebrews-10-29">How much worse punishment, do you think, will he be judged worthy of, who has trodden under foot the Son of God, and has counted the blood of the covenant with which he was sanctified an unholy thing, and has insulted the Spirit of grace?</span>
  <span class="verse" title="Hebrews 10:30" id="Hebrews-10-30">For we know him who said, &#8220;Vengeance belongs to me,&#8221; says the Lord, &#8220;I will repay.&#8221; Again, &#8220;The Lord will judge his people.&#8221;</span>
  <span class="verse" title="Hebrews 10:31" id="Hebrews-10-31">It is a fearful thing to fall into the hands of the living God.</span>
  <span class="verse" title="Hebrews 10:32" id="Hebrews-10-32">But remember the former days, in which, after you were enlightened, you endured a great struggle with sufferings;</span>
  <span class="verse" title="Hebrews 10:33" id="Hebrews-10-33">partly, being exposed to both reproaches and oppressions; and partly, becoming partakers with those who were treated so.</span>
  <span class="verse" title="Hebrews 10:34" id="Hebrews-10-34">For you both had compassion on me in my chains, and joyfully accepted the plundering of your possessions, knowing that you have for yourselves a better possession and an enduring one in the heavens.</span>
  <span class="verse" title="Hebrews 10:35" id="Hebrews-10-35">Therefore don&#8217;t throw away your boldness, which has a great reward.</span>
  <span class="verse" title="Hebrews 10:36" id="Hebrews-10-36">For you need endurance so that, having done the will of God, you may receive the promise.</span>
  <span class="verse" title="Hebrews 10:37" id="Hebrews-10-37">&#8220;In a very little while,<br/> <span class="indent">&nbsp;&nbsp;</span>he who comes will come, and will not wait.<br/></span>
  <span class="verse" title="Hebrews 10:38" id="Hebrews-10-38">But the righteous will live by faith.<br/> <span class="indent">&nbsp;&nbsp;</span>If he shrinks back, my soul has no pleasure in him.&#8221;<br/></span>
  <span class="verse" title="Hebrews 10:39" id="Hebrews-10-39">But we are not of those who shrink back to destruction, but of those who have faith to the saving of the soul.</span>
</div>