<div class="chapter" id="Hebrews-011">
  <h2>Hebrews 11</h2>
  <span class="verse" title="Hebrews 11:1" id="Hebrews-11-1">Now faith is assurance of things hoped for, proof of things not seen.</span>
  <span class="verse" title="Hebrews 11:2" id="Hebrews-11-2">For by this, the elders obtained testimony.</span>
  <span class="verse" title="Hebrews 11:3" id="Hebrews-11-3">By faith, we understand that the universe has been framed by the word of God, so that what is seen has not been made out of things which are visible.</span>
  <span class="verse" title="Hebrews 11:4" id="Hebrews-11-4">By faith, Abel offered to God a more excellent sacrifice than Cain, through which he had testimony given to him that he was righteous, God testifying with respect to his gifts; and through it he, being dead, still speaks.</span>
  <span class="verse" title="Hebrews 11:5" id="Hebrews-11-5">By faith, Enoch was taken away, so that he wouldn&#8217;t see death, and he was not found, because God translated him. For he has had testimony given to him that before his translation he had been well pleasing to God.</span>
  <span class="verse" title="Hebrews 11:6" id="Hebrews-11-6">Without faith it is impossible to be well pleasing to him, for he who comes to God must believe that he exists, and that he is a rewarder of those who seek him.</span>
  <span class="verse" title="Hebrews 11:7" id="Hebrews-11-7">By faith, Noah, being warned about things not yet seen, moved with godly fear, prepared a ship for the saving of his house, through which he condemned the world, and became heir of the righteousness which is according to faith.</span>
  <span class="verse" title="Hebrews 11:8" id="Hebrews-11-8">By faith, Abraham, when he was called, obeyed to go out to the place which he was to receive for an inheritance. He went out, not knowing where he went.</span>
  <span class="verse" title="Hebrews 11:9" id="Hebrews-11-9">By faith, he lived as an alien in the land of promise, as in a land not his own, dwelling in tents, with Isaac and Jacob, the heirs with him of the same promise.</span>
  <span class="verse" title="Hebrews 11:10" id="Hebrews-11-10">For he looked for the city which has the foundations, whose builder and maker is God.</span>
  <span class="verse" title="Hebrews 11:11" id="Hebrews-11-11">By faith, even Sarah herself received power to conceive, and she bore a child when she was past age, since she counted him faithful who had promised.</span>
  <span class="verse" title="Hebrews 11:12" id="Hebrews-11-12">Therefore as many as the stars of the sky in multitude, and as innumerable as the sand which is by the sea shore, were fathered by one man, and him as good as dead.</span>
  <span class="verse" title="Hebrews 11:13" id="Hebrews-11-13">These all died in faith, not having received the promises, but having seen them and embraced them from afar, and having confessed that they were strangers and pilgrims on the earth.</span>
  <span class="verse" title="Hebrews 11:14" id="Hebrews-11-14">For those who say such things make it clear that they are seeking a country of their own.</span>
  <span class="verse" title="Hebrews 11:15" id="Hebrews-11-15">If indeed they had been thinking of that country from which they went out, they would have had enough time to return.</span>
  <span class="verse" title="Hebrews 11:16" id="Hebrews-11-16">But now they desire a better country, that is, a heavenly one. Therefore God is not ashamed of them, to be called their God, for he has prepared a city for them.</span>
  <span class="verse" title="Hebrews 11:17" id="Hebrews-11-17">By faith, Abraham, being tested, offered up Isaac. Yes, he who had gladly received the promises was offering up his one and only son;</span>
  <span class="verse" title="Hebrews 11:18" id="Hebrews-11-18">even he to whom it was said, &#8220;In Isaac will your seed be called;&#8221;</span>
  <span class="verse" title="Hebrews 11:19" id="Hebrews-11-19">concluding that God is able to raise up even from the dead. Figuratively speaking, he also did receive him back from the dead.</span>
  <span class="verse" title="Hebrews 11:20" id="Hebrews-11-20">By faith, Isaac blessed Jacob and Esau, even concerning things to come.</span>
  <span class="verse" title="Hebrews 11:21" id="Hebrews-11-21">By faith, Jacob, when he was dying, blessed each of the sons of Joseph, and worshiped, leaning on the top of his staff.</span>
  <span class="verse" title="Hebrews 11:22" id="Hebrews-11-22">By faith, Joseph, when his end was near, made mention of the departure of the children of Israel; and gave instructions concerning his bones.</span>
  <span class="verse" title="Hebrews 11:23" id="Hebrews-11-23">By faith, Moses, when he was born, was hidden for three months by his parents, because they saw that he was a beautiful child, and they were not afraid of the king&#8217;s commandment.</span>
  <span class="verse" title="Hebrews 11:24" id="Hebrews-11-24">By faith, Moses, when he had grown up, refused to be called the son of Pharaoh&#8217;s daughter,</span>
  <span class="verse" title="Hebrews 11:25" id="Hebrews-11-25">choosing rather to share ill treatment with God&#8217;s people, than to enjoy the pleasures of sin for a time;</span>
  <span class="verse" title="Hebrews 11:26" id="Hebrews-11-26">accounting the reproach of Christ greater riches than the treasures of Egypt; for he looked to the reward.</span>
  <span class="verse" title="Hebrews 11:27" id="Hebrews-11-27">By faith, he left Egypt, not fearing the wrath of the king; for he endured, as seeing him who is invisible.</span>
  <span class="verse" title="Hebrews 11:28" id="Hebrews-11-28">By faith, he kept the Passover, and the sprinkling of the blood, that the destroyer of the firstborn should not touch them.</span>
  <span class="verse" title="Hebrews 11:29" id="Hebrews-11-29">By faith, they passed through the Red Sea as on dry land. When the Egyptians tried to do so, they were swallowed up.</span>
  <span class="verse" title="Hebrews 11:30" id="Hebrews-11-30">By faith, the walls of Jericho fell down, after they had been encircled for seven days.</span>
  <span class="verse" title="Hebrews 11:31" id="Hebrews-11-31">By faith, Rahab the prostitute, didn&#8217;t perish with those who were disobedient, having received the spies in peace.</span>
  <span class="verse" title="Hebrews 11:32" id="Hebrews-11-32">What more shall I say? For the time would fail me if I told of Gideon, Barak, Samson, Jephthah, David, Samuel, and the prophets;</span>
  <span class="verse" title="Hebrews 11:33" id="Hebrews-11-33">who, through faith subdued kingdoms, worked out righteousness, obtained promises, stopped the mouths of lions,</span>
  <span class="verse" title="Hebrews 11:34" id="Hebrews-11-34">quenched the power of fire, escaped the edge of the sword, from weakness were made strong, grew mighty in war, and caused foreign armies to flee.</span>
  <span class="verse" title="Hebrews 11:35" id="Hebrews-11-35">Women received their dead by resurrection. Others were tortured, not accepting their deliverance, that they might obtain a better resurrection.</span>
  <span class="verse" title="Hebrews 11:36" id="Hebrews-11-36">Others were tried by mocking and scourging, yes, moreover by bonds and imprisonment.</span>
  <span class="verse" title="Hebrews 11:37" id="Hebrews-11-37">They were stoned. They were sawn apart. They were tempted. They were slain with the sword. They went around in sheep skins and in goat skins; being destitute, afflicted, ill-treated</span>
  <span class="verse" title="Hebrews 11:38" id="Hebrews-11-38">(of whom the world was not worthy), wandering in deserts, mountains, caves, and the holes of the earth.</span>
  <span class="verse" title="Hebrews 11:39" id="Hebrews-11-39">These all, having had testimony given to them through their faith, didn&#8217;t receive the promise,</span>
  <span class="verse" title="Hebrews 11:40" id="Hebrews-11-40">God having provided some better thing concerning us, so that apart from us they should not be made perfect.</span>
</div>