<div class="chapter" id="Hebrews-012">
  <h2>Hebrews 12</h2>
  <span class="verse" title="Hebrews 12:1" id="Hebrews-12-1">Therefore let us also, seeing we are surrounded by so great a cloud of witnesses, lay aside every weight and the sin which so easily entangles us, and let us run with patience the race that is set before us,</span>
  <span class="verse" title="Hebrews 12:2" id="Hebrews-12-2">looking to Jesus, the author and perfecter of faith, who for the joy that was set before him endured the cross, despising its shame, and has sat down at the right hand of the throne of God.</span>
  <span class="verse" title="Hebrews 12:3" id="Hebrews-12-3">For consider him who has endured such contradiction of sinners against himself, that you don&#8217;t grow weary, fainting in your souls.</span>
  <span class="verse" title="Hebrews 12:4" id="Hebrews-12-4">You have not yet resisted to blood, striving against sin;</span>
  <span class="verse" title="Hebrews 12:5" id="Hebrews-12-5">and you have forgotten the exhortation which reasons with you as with children,  &#8220;My son, don&#8217;t take lightly the chastening of the Lord,<br/> <span class="indent">&nbsp;&nbsp;</span>nor faint when you are reproved by him;<br/></span>
  <span class="verse" title="Hebrews 12:6" id="Hebrews-12-6">For whom the Lord loves, he chastens,<br/> <span class="indent">&nbsp;&nbsp;</span>and scourges every son whom he receives.&#8221;<br/></span>
  <span class="verse" title="Hebrews 12:7" id="Hebrews-12-7">It is for discipline that you endure. God deals with you as with children, for what son is there whom his father doesn&#8217;t discipline?</span>
  <span class="verse" title="Hebrews 12:8" id="Hebrews-12-8">But if you are without discipline, of which all have been made partakers, then are you illegitimate, and not children.</span>
  <span class="verse" title="Hebrews 12:9" id="Hebrews-12-9">Furthermore, we had the fathers of our flesh to chasten us, and we paid them respect. Shall we not much rather be in subjection to the Father of spirits, and live?</span>
  <span class="verse" title="Hebrews 12:10" id="Hebrews-12-10">For they indeed, for a few days, punished us as seemed good to them; but he for our profit, that we may be partakers of his holiness.</span>
  <span class="verse" title="Hebrews 12:11" id="Hebrews-12-11">All chastening seems for the present to be not joyous but grievous; yet afterward it yields the peaceful fruit of righteousness to those who have been exercised thereby.</span>
  <span class="verse" title="Hebrews 12:12" id="Hebrews-12-12">Therefore, lift up the hands that hang down and the feeble knees,</span>
  <span class="verse" title="Hebrews 12:13" id="Hebrews-12-13">and make straight paths for your feet, so that which is lame may not be dislocated, but rather be healed.</span>
  <span class="verse" title="Hebrews 12:14" id="Hebrews-12-14">Follow after peace with all men, and the sanctification without which no man will see the Lord,</span>
  <span class="verse" title="Hebrews 12:15" id="Hebrews-12-15">looking carefully lest there be any man who falls short of the grace of God; lest any root of bitterness springing up trouble you, and many be defiled by it;</span>
  <span class="verse" title="Hebrews 12:16" id="Hebrews-12-16">lest there be any sexually immoral person, or profane person, like Esau, who sold his birthright for one meal.</span>
  <span class="verse" title="Hebrews 12:17" id="Hebrews-12-17">For you know that even when he afterward desired to inherit the blessing, he was rejected, for he found no place for a change of mind though he sought it diligently with tears.</span>
  <span class="verse" title="Hebrews 12:18" id="Hebrews-12-18">For you have not come to a mountain that might be touched, and that burned with fire, and to blackness, darkness, storm,</span>
  <span class="verse" title="Hebrews 12:19" id="Hebrews-12-19">the sound of a trumpet, and the voice of words; which those who heard it begged that not one more word should be spoken to them,</span>
  <span class="verse" title="Hebrews 12:20" id="Hebrews-12-20">for they could not stand that which was commanded, &#8220;If even an animal touches the mountain, it shall be stoned;&#8221;</span>
  <span class="verse" title="Hebrews 12:21" id="Hebrews-12-21">and so fearful was the appearance, that Moses said, &#8220;I am terrified and trembling.&#8221;</span>
  <span class="verse" title="Hebrews 12:22" id="Hebrews-12-22">But you have come to Mount Zion, and to the city of the living God, the heavenly Jerusalem, and to innumerable multitudes of angels,</span>
  <span class="verse" title="Hebrews 12:23" id="Hebrews-12-23">to the general assembly and assembly of the firstborn who are enrolled in heaven, to God the Judge of all, to the spirits of just men made perfect,</span>
  <span class="verse" title="Hebrews 12:24" id="Hebrews-12-24">to Jesus, the mediator of a new covenant, and to the blood of sprinkling that speaks better than that of Abel.</span>
  <span class="verse" title="Hebrews 12:25" id="Hebrews-12-25">See that you don&#8217;t refuse him who speaks. For if they didn&#8217;t escape when they refused him who warned on the earth, how much more will we not escape who turn away from him who warns from heaven,</span>
  <span class="verse" title="Hebrews 12:26" id="Hebrews-12-26">whose voice shook the earth then, but now he has promised, saying, &#8220;Yet once more I will shake not only the earth, but also the heavens.&#8221;</span>
  <span class="verse" title="Hebrews 12:27" id="Hebrews-12-27">This phrase, &#8220;Yet once more,&#8221; signifies the removing of those things that are shaken, as of things that have been made, that those things which are not shaken may remain.</span>
  <span class="verse" title="Hebrews 12:28" id="Hebrews-12-28">Therefore, receiving a Kingdom that can&#8217;t be shaken, let us have grace, through which we serve God acceptably, with reverence and awe,</span>
  <span class="verse" title="Hebrews 12:29" id="Hebrews-12-29">for our God is a consuming fire.</span>
</div>