<div class="chapter" id="Hebrews-013">
  <h2>Hebrews 13</h2>
  <span class="verse" title="Hebrews 13:1" id="Hebrews-13-1">Let brotherly love continue.</span>
  <span class="verse" title="Hebrews 13:2" id="Hebrews-13-2">Don&#8217;t forget to show hospitality to strangers, for in doing so, some have entertained angels without knowing it.</span>
  <span class="verse" title="Hebrews 13:3" id="Hebrews-13-3">Remember those who are in bonds, as bound with them; and those who are ill-treated, since you are also in the body.</span>
  <span class="verse" title="Hebrews 13:4" id="Hebrews-13-4">Let marriage be held in honor among all, and let the bed be undefiled: but God will judge the sexually immoral and adulterers.</span>
  <span class="verse" title="Hebrews 13:5" id="Hebrews-13-5">Be free from the love of money, content with such things as you have, for he has said, &#8220;I will in no way leave you, neither will I in any way forsake you.&#8221;</span>
  <span class="verse" title="Hebrews 13:6" id="Hebrews-13-6">So that with good courage we say,  &#8220;The Lord is my helper. I will not fear.<br/> <span class="indent">&nbsp;&nbsp;</span>What can man do to me?&#8221;<br/></span>
  <span class="verse" title="Hebrews 13:7" id="Hebrews-13-7">Remember your leaders, men who spoke to you the word of God, and considering the results of their conduct, imitate their faith.</span>
  <span class="verse" title="Hebrews 13:8" id="Hebrews-13-8">Jesus Christ is the same yesterday, today, and forever.</span>
  <span class="verse" title="Hebrews 13:9" id="Hebrews-13-9">Don&#8217;t be carried away by various and strange teachings, for it is good that the heart be established by grace, not by food, through which those who were so occupied were not benefited.</span>
  <span class="verse" title="Hebrews 13:10" id="Hebrews-13-10">We have an altar from which those who serve the holy tabernacle have no right to eat.</span>
  <span class="verse" title="Hebrews 13:11" id="Hebrews-13-11">For the bodies of those animals, whose blood is brought into the holy place by the high priest as an offering for sin, are burned outside of the camp.</span>
  <span class="verse" title="Hebrews 13:12" id="Hebrews-13-12">Therefore Jesus also, that he might sanctify the people through his own blood, suffered outside of the gate.</span>
  <span class="verse" title="Hebrews 13:13" id="Hebrews-13-13">Let us therefore go out to him outside of the camp, bearing his reproach.</span>
  <span class="verse" title="Hebrews 13:14" id="Hebrews-13-14">For we don&#8217;t have here an enduring city, but we seek that which is to come.</span>
  <span class="verse" title="Hebrews 13:15" id="Hebrews-13-15">Through him, then, let us offer up a sacrifice of praise to God continually, that is, the fruit of lips which proclaim allegiance to his name.</span>
  <span class="verse" title="Hebrews 13:16" id="Hebrews-13-16">But don&#8217;t forget to be doing good and sharing, for with such sacrifices God is well pleased.</span>
  <span class="verse" title="Hebrews 13:17" id="Hebrews-13-17">Obey your leaders and submit to them, for they watch on behalf of your souls, as those who will give account, that they may do this with joy, and not with groaning, for that would be unprofitable for you.</span>
  <span class="verse" title="Hebrews 13:18" id="Hebrews-13-18">Pray for us, for we are persuaded that we have a good conscience, desiring to live honorably in all things.</span>
  <span class="verse" title="Hebrews 13:19" id="Hebrews-13-19">I strongly urge you to do this, that I may be restored to you sooner.</span>
  <span class="verse" title="Hebrews 13:20" id="Hebrews-13-20">Now may the God of peace, who brought again from the dead the great shepherd of the sheep with the blood of an eternal covenant, our Lord Jesus,</span>
  <span class="verse" title="Hebrews 13:21" id="Hebrews-13-21">make you complete in every good work to do his will, working in you that which is well pleasing in his sight, through Jesus Christ, to whom be the glory forever and ever. Amen.</span>
  <span class="verse" title="Hebrews 13:22" id="Hebrews-13-22">But I exhort you, brothers, endure the word of exhortation, for I have written to you in few words.</span>
  <span class="verse" title="Hebrews 13:23" id="Hebrews-13-23">Know that our brother Timothy has been freed, with whom, if he comes shortly, I will see you.</span>
  <span class="verse" title="Hebrews 13:24" id="Hebrews-13-24">Greet all of your leaders and all the saints. The Italians greet you.</span>
  <span class="verse" title="Hebrews 13:25" id="Hebrews-13-25">Grace be with you all. Amen.</span>
</div>