<div class="chapter" id="2 John-001">
  <h2>2 John 1</h2>
  <span class="verse" title="2 John 1:1" id="2_John-1-1">The elder, to the chosen lady and her children, whom I love in truth; and not I only, but also all those who know the truth;</span>
  <span class="verse" title="2 John 1:2" id="2_John-1-2">for the truth&#8217;s sake, which remains in us, and it will be with us forever:</span>
  <span class="verse" title="2 John 1:3" id="2_John-1-3">Grace, mercy, and peace will be with us, from God the Father, and from the Lord Jesus Christ, the Son of the Father, in truth and love.</span>
  <span class="verse" title="2 John 1:4" id="2_John-1-4">I rejoice greatly that I have found some of your children walking in truth, even as we have been commanded by the Father.</span>
  <span class="verse" title="2 John 1:5" id="2_John-1-5">Now I beg you, dear lady, not as though I wrote to you a new commandment, but that which we had from the beginning, that we love one another.</span>
  <span class="verse" title="2 John 1:6" id="2_John-1-6">This is love, that we should walk according to his commandments. This is the commandment, even as you heard from the beginning, that you should walk in it.</span>
  <span class="verse" title="2 John 1:7" id="2_John-1-7">For many deceivers have gone out into the world, those who don&#8217;t confess that Jesus Christ came in the flesh. This is the deceiver and the Antichrist.</span>
  <span class="verse" title="2 John 1:8" id="2_John-1-8">Watch yourselves, that we don&#8217;t lose the things which we have accomplished, but that we receive a full reward.</span>
  <span class="verse" title="2 John 1:9" id="2_John-1-9">Whoever transgresses and doesn&#8217;t remain in the teaching of Christ, doesn&#8217;t have God. He who remains in the teaching, the same has both the Father and the Son.</span>
  <span class="verse" title="2 John 1:10" id="2_John-1-10">If anyone comes to you, and doesn&#8217;t bring this teaching, don&#8217;t receive him into your house, and don&#8217;t welcome him,</span>
  <span class="verse" title="2 John 1:11" id="2_John-1-11">for he who welcomes him participates in his evil works.</span>
  <span class="verse" title="2 John 1:12" id="2_John-1-12">Having many things to write to you, I don&#8217;t want to do so with paper and ink, but I hope to come to you, and to speak face to face, that our joy may be made full.</span>
  <span class="verse" title="2 John 1:13" id="2_John-1-13">The children of your chosen sister greet you. Amen.</span>
</div>