<% form_remote_for @family do |form| %>
  <p>
    Scan Card:
    <%= form.text_field :barcode_id, :size => 20 %>
    <%= form.submit 'Save' %>
  </p>
  <p><em>Remember, this card number is not to be written down or given to any
    unauthorized persons.</em></p>
<% end %>
