<div>
  <% if @family.has_photo? %>
    <%= link_to image_tag(medium_family_photo_path(@family, :m => @family.updated_at.to_s(:number)), :alt => h(@family.name)),
      defined?(url) ? url : large_family_photo_path(@family, :back => request.request_uri) %>
    <% elsif params[:action] == 'edit' %>
      <%= image_tag 'family.jpg', :alt => @family.name %>
    <% end %>
</div>
