<div class="chapter" id="Ruth-001">
  <h2>Ruth 1</h2>
  <span class="verse" title="Ruth 1:1" id="Ruth-1-1">It happened in the days when the judges judged, that there was a famine in the land. A certain man of Bethlehem Judah went to live in the country of Moab, he, and his wife, and his two sons.</span>
  <span class="verse" title="Ruth 1:2" id="Ruth-1-2">The name of the man was Elimelech, and the name of his wife Naomi, and the name of his two sons Mahlon and Chilion, Ephrathites of Bethlehem Judah. They came into the country of Moab, and continued there.</span>
  <span class="verse" title="Ruth 1:3" id="Ruth-1-3">Elimelech, Naomi&#8217;s husband, died; and she was left, and her two sons.</span>
  <span class="verse" title="Ruth 1:4" id="Ruth-1-4">They took them wives of the women of Moab; the name of the one was Orpah, and the name of the other Ruth: and they lived there about ten years.</span>
  <span class="verse" title="Ruth 1:5" id="Ruth-1-5">Mahlon and Chilion both died, and the woman was bereaved of her two children and of her husband.</span>
  <span class="verse" title="Ruth 1:6" id="Ruth-1-6">Then she arose with her daughters-in-law, that she might return from the country of Moab: for she had heard in the country of Moab how that Yahweh had visited his people in giving them bread.</span>
  <span class="verse" title="Ruth 1:7" id="Ruth-1-7">She went forth out of the place where she was, and her two daughters-in-law with her; and they went on the way to return to the land of Judah.</span>
  <span class="verse" title="Ruth 1:8" id="Ruth-1-8">Naomi said to her two daughters-in-law, &#8220;Go, return each of you to her mother&#8217;s house: Yahweh deal kindly with you, as you have dealt with the dead, and with me.</span>
  <span class="verse" title="Ruth 1:9" id="Ruth-1-9">Yahweh grant you that you may find rest, each of you in the house of her husband.&#8221; Then she kissed them, and they lifted up their voice, and wept.</span>
  <span class="verse" title="Ruth 1:10" id="Ruth-1-10">They said to her, &#8220;No, but we will return with you to your people.&#8221;</span>
  <span class="verse" title="Ruth 1:11" id="Ruth-1-11">Naomi said, &#8220;Go back, my daughters. Why do you want to go with me? Do I still have sons in my womb, that they may be your husbands?</span>
  <span class="verse" title="Ruth 1:12" id="Ruth-1-12">Go back, my daughters, go your way; for I am too old to have a husband. If I should say, &#8216;I have hope,&#8217; if I should even have a husband tonight, and should also bear sons;</span>
  <span class="verse" title="Ruth 1:13" id="Ruth-1-13">would you then wait until they were grown? Would you then refrain from having husbands? No, my daughters, for it grieves me much for your sakes, for the hand of Yahweh has gone out against me.&#8221;</span>
  <span class="verse" title="Ruth 1:14" id="Ruth-1-14">They lifted up their voice, and wept again: and Orpah kissed her mother-in-law, but Ruth joined with her.</span>
  <span class="verse" title="Ruth 1:15" id="Ruth-1-15">She said, &#8220;Behold, your sister-in-law has gone back to her people, and to her god. Follow your sister-in-law.&#8221;</span>
  <span class="verse" title="Ruth 1:16" id="Ruth-1-16">Ruth said, &#8220;Don&#8217;t entreat me to leave you, and to return from following after you, for where you go, I will go; and where you lodge, I will lodge; your people shall be my people, and your God my God;</span>
  <span class="verse" title="Ruth 1:17" id="Ruth-1-17">where you die, will I die, and there will I be buried. Yahweh do so to me, and more also, if anything but death part you and me.&#8221;</span>
  <span class="verse" title="Ruth 1:18" id="Ruth-1-18">When she saw that she was steadfastly minded to go with her, she left off speaking to her.</span>
  <span class="verse" title="Ruth 1:19" id="Ruth-1-19">So they two went until they came to Bethlehem. It happened, when they had come to Bethlehem, that all the city was moved about them, and they asked, &#8220;Is this Naomi?&#8221;</span>
  <span class="verse" title="Ruth 1:20" id="Ruth-1-20">She said to them, &#8220;Don&#8217;t call me Naomi. Call me Mara; for the Almighty has dealt very bitterly with me.</span>
  <span class="verse" title="Ruth 1:21" id="Ruth-1-21">I went out full, and Yahweh has brought me home again empty; why do you call me Naomi, since Yahweh has testified against me, and the Almighty has afflicted me?&#8221;</span>
  <span class="verse" title="Ruth 1:22" id="Ruth-1-22">So Naomi returned, and Ruth the Moabitess, her daughter-in-law, with her, who returned out of the country of Moab: and they came to Bethlehem in the beginning of barley harvest.</span>
</div>