<div class="chapter" id="Ruth-003">
  <h2>Ruth 3</h2>
  <span class="verse" title="Ruth 3:1" id="Ruth-3-1">Naomi her mother-in-law said to her, &#8220;My daughter, shall I not seek rest for you, that it may be well with you?</span>
  <span class="verse" title="Ruth 3:2" id="Ruth-3-2">Now isn&#8217;t Boaz our kinsman, with whose maidens you were? Behold, he winnows barley tonight in the threshing floor.</span>
  <span class="verse" title="Ruth 3:3" id="Ruth-3-3">Therefore wash yourself, anoint yourself, get dressed, and go down to the threshing floor, but don&#8217;t make yourself known to the man until he has finished eating and drinking.</span>
  <span class="verse" title="Ruth 3:4" id="Ruth-3-4">It shall be, when he lies down, that you shall mark the place where he shall lie, and you shall go in, and uncover his feet, and lay down; then he will tell you what you shall do.&#8221;</span>
  <span class="verse" title="Ruth 3:5" id="Ruth-3-5">She said to her, &#8220;All that you say I will do.&#8221;</span>
  <span class="verse" title="Ruth 3:6" id="Ruth-3-6">She went down to the threshing floor, and did according to all that her mother-in-law told her.</span>
  <span class="verse" title="Ruth 3:7" id="Ruth-3-7">When Boaz had eaten and drunk, and his heart was merry, he went to lie down at the end of the heap of grain. She came softly, uncovered his feet, and laid her down.</span>
  <span class="verse" title="Ruth 3:8" id="Ruth-3-8">It happened at midnight, that the man was startled and turned himself; and behold, a woman lay at his feet.</span>
  <span class="verse" title="Ruth 3:9" id="Ruth-3-9">He said, &#8220;Who are you?&#8221; She answered, &#8220;I am Ruth your handmaid. Therefore spread your skirt over your handmaid; for you are a near kinsman.&#8221;</span>
  <span class="verse" title="Ruth 3:10" id="Ruth-3-10">He said, &#8220;Blessed are you by Yahweh, my daughter. You have shown more kindness in the latter end than at the beginning, inasmuch as you didn&#8217;t follow young men, whether poor or rich.</span>
  <span class="verse" title="Ruth 3:11" id="Ruth-3-11">Now, my daughter, don&#8217;t be afraid; I will do to you all that you say; for all the city of my people does know that you are a worthy woman.</span>
  <span class="verse" title="Ruth 3:12" id="Ruth-3-12">Now it is true that I am a near kinsman; however there is a kinsman nearer than I.</span>
  <span class="verse" title="Ruth 3:13" id="Ruth-3-13">Stay this night, and it shall be in the morning, that if he will perform for you the part of a kinsman, well; let him do the kinsman&#8217;s part. But if he will not do the part of a kinsman for you, then will I do the part of a kinsman for you, as Yahweh lives. Lie down until the morning.&#8221;</span>
  <span class="verse" title="Ruth 3:14" id="Ruth-3-14">She lay at his feet until the morning. She rose up before one could discern another. For he said, &#8220;Let it not be known that the woman came to the threshing floor.&#8221;</span>
  <span class="verse" title="Ruth 3:15" id="Ruth-3-15">He said, &#8220;Bring the mantle that is on you, and hold it.&#8221; She held it; and he measured six measures of barley, and laid it on her; and he went into the city.</span>
  <span class="verse" title="Ruth 3:16" id="Ruth-3-16">When she came to her mother-in-law, she said, &#8220;How did it go, my daughter?&#8221; She told her all that the man had done to her.</span>
  <span class="verse" title="Ruth 3:17" id="Ruth-3-17">She said, &#8220;He gave me these six measures of barley; for he said, &#8216;Don&#8217;t go empty to your mother-in-law.&#8217;&#8221;</span>
  <span class="verse" title="Ruth 3:18" id="Ruth-3-18">Then she said, &#8220;Sit still, my daughter, until you know how the matter will fall; for the man will not rest, until he has finished the thing this day.&#8221;</span>
</div>