<div class="chapter" id="Ruth-004">
  <h2>Ruth 4</h2>
  <span class="verse" title="Ruth 4:1" id="Ruth-4-1">Now Boaz went up to the gate, and sat down there. Behold, the near kinsman of whom Boaz spoke came by; to whom he said, &#8220;Come over here, friend, and sit down!&#8221; He turned aside, and sat down.</span>
  <span class="verse" title="Ruth 4:2" id="Ruth-4-2">He took ten men of the elders of the city, and said, &#8220;Sit down here.&#8221; They sat down.</span>
  <span class="verse" title="Ruth 4:3" id="Ruth-4-3">He said to the near kinsman, &#8220;Naomi, who has come back out of the country of Moab, is selling the parcel of land, which was our brother Elimelech&#8217;s.</span>
  <span class="verse" title="Ruth 4:4" id="Ruth-4-4">I thought to disclose it to you, saying, &#8216;Buy it before those who sit here, and before the elders of my people.&#8217; If you will redeem it, redeem it; but if you will not redeem it, then tell me, that I may know. For there is no one to redeem it besides you; and I am after you.&#8221; He said, &#8220;I will redeem it.&#8221;</span>
  <span class="verse" title="Ruth 4:5" id="Ruth-4-5">Then Boaz said, &#8220;On the day you buy the field from the hand of Naomi, you must buy it also from Ruth the Moabitess, the wife of the dead, to raise up the name of the dead on his inheritance.&#8221;</span>
  <span class="verse" title="Ruth 4:6" id="Ruth-4-6">The near kinsman said, &#8220;I can&#8217;t redeem it for myself, lest I mar my own inheritance. Take my right of redemption for yourself; for I can&#8217;t redeem it.&#8221;</span>
  <span class="verse" title="Ruth 4:7" id="Ruth-4-7">Now this was the custom in former time in Israel concerning redeeming and concerning exchanging, to confirm all things: a man took off his shoe, and gave it to his neighbor; and this was the way of attestation in Israel.</span>
  <span class="verse" title="Ruth 4:8" id="Ruth-4-8">So the near kinsman said to Boaz, &#8220;Buy it for yourself.&#8221; He took off his shoe.</span>
  <span class="verse" title="Ruth 4:9" id="Ruth-4-9">Boaz said to the elders, and to all the people, &#8220;You are witnesses this day, that I have bought all that was Elimelech&#8217;s, and all that was Chilion&#8217;s and Mahlon&#8217;s, from the hand of Naomi.</span>
  <span class="verse" title="Ruth 4:10" id="Ruth-4-10">Moreover Ruth the Moabitess, the wife of Mahlon, I have purchased to be my wife, to raise up the name of the dead on his inheritance, that the name of the dead not be cut off from among his brothers, and from the gate of his place. You are witnesses this day.&#8221;</span>
  <span class="verse" title="Ruth 4:11" id="Ruth-4-11">All the people who were in the gate, and the elders, said, &#8220;We are witnesses. May Yahweh make the woman who has come into your house like Rachel and like Leah, which two built the house of Israel; and treat you worthily in Ephrathah, and be famous in Bethlehem.</span>
  <span class="verse" title="Ruth 4:12" id="Ruth-4-12">Let your house be like the house of Perez, whom Tamar bore to Judah, of the seed which Yahweh shall give you of this young woman.&#8221;</span>
  <span class="verse" title="Ruth 4:13" id="Ruth-4-13">So Boaz took Ruth, and she became his wife; and he went in to her, and Yahweh gave her conception, and she bore a son.</span>
  <span class="verse" title="Ruth 4:14" id="Ruth-4-14">The women said to Naomi, &#8220;Blessed be Yahweh, who has not left you this day without a near kinsman; and let his name be famous in Israel.</span>
  <span class="verse" title="Ruth 4:15" id="Ruth-4-15">He shall be to you a restorer of life, and sustain you in your old age, for your daughter-in-law, who loves you, who is better to you than seven sons, has borne him.&#8221;</span>
  <span class="verse" title="Ruth 4:16" id="Ruth-4-16">Naomi took the child, and laid it in her bosom, and became nurse to it.</span>
  <span class="verse" title="Ruth 4:17" id="Ruth-4-17">The women, her neighbors, gave him a name, saying, &#8220;There is a son born to Naomi;&#8221; and they named him Obed. He is the father of Jesse, the father of David.</span>
  <span class="verse" title="Ruth 4:18" id="Ruth-4-18">Now this is the history of the generations of Perez: Perez became the father of Hezron,</span>
  <span class="verse" title="Ruth 4:19" id="Ruth-4-19">and Hezron became the father of Ram, and Ram became the father of Amminadab,</span>
  <span class="verse" title="Ruth 4:20" id="Ruth-4-20">and Amminadab became the father of Nahshon, and Nahshon became the father of Salmon,</span>
  <span class="verse" title="Ruth 4:21" id="Ruth-4-21">and Salmon became the father of Boaz, and Boaz became the father of Obed,</span>
  <span class="verse" title="Ruth 4:22" id="Ruth-4-22">and Obed became the father of Jesse, and Jesse became the father of David.</span>
</div>