		  <fieldset>
		    <legend>Service Categories</legend>
				<ul id="service_categories">
				<% @services.each do |s| %>
				  <%= render :partial => "/service_categories/service_category", :locals => {:service_category => s} %>
				<% end %>
				</ul>
			  <% if @logged_in.admin? # FIXME this check may not be necessary %>
					<p><%= image_tag('edit.gif', :class => 'icon') %>&nbsp;<%= link_to_remote 'Edit',
					  {:url => batch_edit_service_categories_path, :method => :get}, {:title => "edit service categories"} %></p>
			  <% end %>
		  </fieldset>
