#bible-lookup {
	border: none;
	margin-top: 50px;
}

#bible-content {
	padding: 0 25px 0 50px;
}

#scratchpad {
}

#highlighted_reference {
	margin-bottom: 20px;
}

.verse:hover {
	background-color: #ffc;
}

.verse {
  position: relative;
}

.verse .reference {
  display: none;
}

.verse:hover .reference {
	display: block;
  float: left;
  margin-left: -60px;
  width: 50px;
  display: block;
  text-align: right;
}

.selected-verse {
	background-color: #ffc;
}

.indent {
	display: block;
	float: left;
	width: 20px;
}