.icon {
  vertical-align: middle;
}

li .thumbnail {
  float: left;
  margin: 0 5px 0 0;
}

li .byline, li .detail {
  font-size: .75em;
  font-weight: normal;
}

.info table td {
  text-align: left;
}

html { background-color: #4e8bc1; }

div.body { 
  color: black;
  background: #fff;
  border: 1px solid #B4B4B4;
  font: bold 17px Helvetica;
  padding: 15px;
  margin: 15px 10px 17px 10px;
  -webkit-border-radius: 8px;
}

div.body ul {
  border: none;
  list-style: disc outside none;
}

