@import "public/stylesheets/jquery.ui.scss";

$dark:      #333;
$light:     #eee;
$common:    #333;
$footer:    $light - 75;
$primary:   #5F9128;
$secondary: #3286B5;
$nav:       #e4e4e4;
$alert:     #f66;
$highlight-background: #c0e8ff;
$comment-background: #fec;
$notice:    #fec;
$metric:    $primary;
$warn:      #f93;
$critical:  #FF1B0D;

$heading-font: "Century Gothic", "Tw Cen MT", Futura, "URW Gothic L", Arial, sans-serif;
$body-font:    "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;

$body-font-color: $dark + 40;

@mixin gradient($top:#fff, $bottom:#eee) {
  background-repeat: no-repeat;
  background: $top;
  background: -moz-linear-gradient(top, $top 0%, $bottom 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$top), color-stop(100%,$bottom));
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#{$top}', endColorstr='#{$bottom}', GradientType=0 );
}
@mixin radialgradient($inner:#fff, $outer:#eee) {
  background-color: $outer;
  background: -moz-radial-gradient(center bottom 90deg, circle farthest-side, $inner 0%, $outer 50%);
  background: -webkit-gradient(radial, center bottom, 0, center bottom, 300, from($inner), to($outer));
}
@mixin shadow($x:0px, $y:2px, $blur:5px, $opacity:.5) {
  -webkit-box-shadow: $x $y $blur rgba(0, 0, 0, $opacity);
  -moz-box-shadow: $x $y $blur rgba(0, 0, 0, $opacity);
  box-shadow: $x $y $blur rgba(0, 0, 0, $opacity);
}
@mixin curve($radius:8px) {
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  -khtml-border-radius: $radius;
  border-radius: $radius;
}
@mixin topcurve($radius:8px) {
  -moz-border-radius-topleft: $radius;
  -moz-border-radius-topright: $radius;
  -webkit-border-top-left-radius: $radius;
  -webkit-border-top-right-radius: $radius;
  -khtml-border-top-radius: $radius;
  -khtml-border-left-radius: $radius;
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

/* CSS Reset */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }
td { vertical-align: top; }
body { line-height: 1; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
/* remember to define focus styles! */
:focus { outline: 0; }
/* remember to highlight inserts somehow! */
ins { text-decoration: none; }
del { text-decoration: line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse: collapse; border-spacing: 0; }

/* Site Styles */

.curved { @include curve }
.shadowed { @include shadow }
.clear { clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0 }

body {
  background-color: #fff;
  margin: 0;
  font-family: $body-font;
  color: $body-font-color;
}
h1, h2, h3 {
  font-family: $heading-font;
  margin-bottom: 15px;
}
h2 {
  font-size: 20pt;
  font-weight: normal;
  margin-top: 30px;
}
h2:first-child {
  margin-top: 0;
}
h3 {
  font-size: 14pt;
  font-weight: normal;
  border-bottom: 1px solid $light - 20;
  margin: 40px 0 20px 0;
  padding-bottom: 5px;
}
h3:first-child {
  margin-top: 0;
}
h4 {
  font-weight: normal;
  font-family: $body-font;
  margin-bottom: 5px;
}
ul.list, ol.list, .page-body ul, .page-body ol, .news-item ul, .news-item ol {
  padding-left: 20px;
  margin: 10px 0;
  li {
    margin-bottom: 10px;
  }
}
p {
  margin-bottom: 15px;
}
a {
  color: $dark;
  &:hover {
    color: $secondary;
  }
}
input[type=""], input[type=text], input[type=password], textarea {
  border: 1px solid $light - 20;
  padding: 6px;
  @include curve(4px);
}
input.defaulted {
  color: $light - 75;
}
textarea {
  font-family: $body-font;
}
label {
  display: block;
}
label.inline {
  display: inline;
}
fieldset {
  margin-bottom: 15px;
  legend {
    font-weight: bold;
  }
}

#common {
  font-family: $heading-font;
  @include gradient($common+20, $common);
  padding: 15px;
  color: $light;
}
#common-nav {
  float: right;
  margin: 6px 25px;
  color: $light - 70;
  a {
    color: $light - 70;
  }
  list-style: none;
  font-size: 10pt;
  li {
    display: inline;
    display: inline-block;
    margin-right: 5px;
  }
  li.platform:after {
    content: " \00a0/";
  }
  li:after {
    content: " \00a0·";
  }
  li:last-child:after {
    content: "";
  }
}
#search {
  float: right;
  input {
    border: none;
    @include curve(12px);
    padding: 4px 8px;
    background-color: $dark+75;
    color: $light;
    text-align: center;
  }
}
#nav {
  font-family: $heading-font;
  @include radialgradient($nav + 30, $nav);
  border-bottom: 1px solid $light - 20;
  z-index: 2;
  position: relative;
  @include shadow(0px, -5px, 10px, .3);
  .heading {
    padding: 25px 0 10px 0;
  }
  h1 {
    color: $primary;
    font-size: 24pt;
    font-weight: normal;
    margin-bottom: 10px;
  }
  .tagline {
    font-size: 11pt;
    color: edgevalue($nav, 100);
    margin-bottom: 10px;
  }
  .buttons {
    float: right;
    text-align: left;
    vertical-align: top;
    width: 610px;
    margin-top: 45px;
    list-style: none;
    font-size: 11pt;
    li {
      display: inline;
      display: inline-block;
      text-align: center;
      vertical-align: top;
      margin: 0 35px 0 0;
      div {
        height: 30px;
      }
      a.button {
        padding: 8px 12px 8px 12px;
        &:hover, &.active {
          @include gradient($secondary+50, $secondary);
          color: edgevalue($secondary);
        }
      }
      .sub {
        margin-top: 5px;
        a {
          text-align: left;
          color: $dark + 50;
          text-decoration: none;
        }
      }
      a.sub:hover {
        color: $secondary;
      }
    }
  }
}
#notice {
  background-color: $notice;
  padding: 4px;
  text-align: center;
}
#main {
  margin-top: 45px;
  line-height: 1.3;
  font-size: .85em;
  min-height: 500px;
}
#footer {
  clear: left;
  border-top: 1px solid $light - 20;
  padding: 25px;
  margin-top: 50px;
  text-align: center;
  font-size: 10pt;
  color: $footer;
  a {
    color: $footer;
  }
}
#map {
  margin-bottom: 20px;
}
#cal-container {
  margin-bottom: 30px;
}

.inner {
  width: 960px;
  margin: 0 auto;
}

.left-sidebar {
  float: left;
  width: 285px;
  margin: 0 40px 50px 0;
  padding: 0 25px 25px 0;
  background-color: #fff;
}

.right-sidebar {
  float: right;
  width: 300px;
  margin: 0 0 50px 50px;
  padding: 0 0 25px 25px;
  background-color: #fff;
}

.accommodate-left-sidebar {
  width: 600px;
  float: left;
}

.loading-centered {
  text-align: center;
  width: 300px;
  margin: 150px auto;
}

.profile {
  .profile-sidebar {
    float: left;
    width: 300px;
  }
  h2 {
    font-weight: normal;
    margin: 20px 0 0 0;
    font-family: $heading-font;
    font-size: 18pt;
    padding-bottom: 5px;
    border-bottom: 1px solid $light - 20;
    strong {
      font-size: 22pt;
    }
  }
  .profile-body {
    margin-left: 350px;
  }
  .profile-details {
    margin: 30px 0;
    color: $body-font-color + 35;
    list-style: none;
    a {
      color: $body-font-color + 35;
      &:hover {
        color: $secondary;
      }
    }
    li {
      display: inline;
      display: inline-block;
      margin: 0 25px 15px 0;
    }
    li.icon {
      margin-right: 10px;
      img {
        vertical-align: middle;
      }
    }
    .new-line {
      display: block;
    }
  }
  h4 {
    font-family: $body-font;
    font-weight: bold;
    display: inline;
  }
  h4:after {
    content: " /";
  }
}
.profile-pic {
  img {
    display: block;
    margin: 0 0 25px -7px;
    padding: 6px;
    border: 1px solid $light - 20;
  }
  a {
    text-decoration: none;
  }
  padding-bottom: 10px;
}
.family {
  list-style: none;
  li {
    display: inline;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
    font-size: smaller;
    a {
      text-decoration: none;
    }
  }
}
.edit-picture .profile-pic {
  float: left;
  margin: 0 20px 20px 0;
}
.favorites-group {
  margin-bottom: 15px;
}
.favorites-inline {
  display: inline;
  list-style: none;
  li {
    white-space: nowrap;
    display: inline;
    a {
      text-decoration: none;
    }
  }
  li:after {
    content: " ·";
  }
  li:last-child:after {
    content: "";
  }
}
.quotes {
  list-style-type: none;
  li {
    font-style: italic;
    a {
      font-style: normal;
    }
  }
}
.spaced-labels {
  label {
    margin-top: 15px;
  }
}

.silhouette-man {
  background: url(/images/clean/manoutline.png) top left no-repeat;
  width: 292px;
  height: 120px;
  padding-top: 80px;
  text-align: center;
}
.silhouette-woman {
  background: url(/images/clean/womanoutline.png) top left no-repeat;
  width: 292px;
  height: 120px;
  padding-top: 80px;
  text-align: center;
}
.silhouette-group {
  background: url(/images/clean/group.png) top left no-repeat;
  width: 292px;
  height: 110px;
  padding-top: 80px;
  text-align: center;
}
.errorExplanation {
  h3 {
    border: none;
    color: $alert;
  }
  border: 1px solid $light - 20;
  @include shadow;
  padding: 10px;
  margin-bottom: 20px;
}

/* Search */

#search-page {
  text-align: center;
  margin-top: 100px;
  h2.search-heading {
    color: $primary;
    font-size: 24pt;
    width: 400px;
    margin: 0 auto 25px auto;
  }
  .search-field {
    font-size: 12pt;
    padding: 4px;
    width: 400px;
  }
  .links {
    margin-top: 75px;
    list-style: none;
    text-align: center;
    li {
      display: inline;
      display: inline-block;
      margin: 0 10px;
    }
  }
}
#searching {
  font-size: 14pt;
  display: none;
}
.search-results {
  td, th {
    padding: 0 15px;
    vertical-align: middle;
    text-align: left;
  }
}

/* Share */

.share {
  margin-bottom: 25px;
  width: 600px;
  textarea {
    width: 588px;
  }
  .cancel-link {
    float: right;
    text-align: right;
    a {
      margin-right: -15px;
    }
  }
  .share-type {
    display: none;
  }
  .share-selector {
    padding: 2px;
    margin-bottom: 8px;
    list-style: none;
    li {
      display: inline;
      display: inline-block;
      margin-right: 15px;
      a {
        text-decoration: none;
      }
      a.active {
        color: $primary;
      }
    }
  }
}
.left-sidebar {
  .share {
    width: 270px;
    #share-starter {
      width: 270px;
    }
    textarea {
      width: 270px;
    }
  }
}

/* Style Editor */

.style-editor-palettes {
  margin-top: 135px;
}
.style-editor-heading {
  margin-top: 125px;
}
#colorpicker {
  float: right;
  margin-top: -35px;
}

/* Icons */

.icon {
  border: none;
  background-color: transparent;
  vertical-align: middle;
}

.big-icon {
  vertical-align: middle;
  float: left;
  margin-right: 10px;
}

@mixin icon-sprite($x, $y) {
  padding-left: 15px;
  background: url(/images/clean/icons.png?201011091342) $x $y no-repeat;
  min-width: 10px;
  height: 16px;
}


.add-icon        { @include icon-sprite(0px,   -3px) }
.edit-icon       { @include icon-sprite(0px,  -23px) }
.lock-icon       { @include icon-sprite(0px,  -43px) }
.lock-icon-small { @include icon-sprite(0px,  -48px) }
.comment-icon    { @include icon-sprite(0px,  -69px) } /* up just a bit */
.comment2-icon   { @include icon-sprite(0px,  -63px) }
.dots-icon       { @include icon-sprite(0px,  -83px) }
.people-icon     { @include icon-sprite(0px, -103px) }
.money-icon      { @include icon-sprite(0px, -123px) }
.feed-icon       { @include icon-sprite(0px, -143px) }
.right-icon      { @include icon-sprite(0px, -163px) }
.left-icon       { @include icon-sprite(0px, -183px) }
.picture-icon    { @include icon-sprite(0px, -203px) }
.file-icon       { @include icon-sprite(0px, -223px) }
.verse-icon      { @include icon-sprite(0px, -243px) }
.delete-icon     { @include icon-sprite(0px, -259px) } /* down a bit */
.email-icon      { @include icon-sprite(0px, -283px) }
.heart-icon      { @include icon-sprite(0px, -303px) }
.rotate-cw-icon  { @include icon-sprite(0px, -323px) }
.rotate-ccw-icon { @include icon-sprite(0px, -343px) }
.updown-icon     { @include icon-sprite(0px, -363px) }
.alert-icon      { @include icon-sprite(0px, -383px) }
.news-icon       { @include icon-sprite(0px, -403px) }
.podcast-icon    { @include icon-sprite(0px, -423px) }

/* Buttons */

ul.buttons {
  list-style: none;
  margin-bottom: 25px;
  li {
    display: inline;
    display: inline-block;
    text-align: center;
    margin: 0 25px 0 0;
  }
}
a.button, input[type=submit] {
  @include gradient($light, $light - 50);
  @include curve(4px);
  @include shadow;
  font-family: $heading-font;
  font-size: 1.2em;
  padding: 6px 8px 4px 8px;
  color: $dark;
  text-decoration: none;
  border: none;
  &:hover, &.active, &.primary:hover {
    @include gradient($primary+50, $primary);
    color: edgevalue($primary);
  }
  &.primary {
    @include gradient($secondary+50, $secondary);
    color: edgevalue($secondary);
  }
}

/* Tags */

.tags {
  list-style: none;
  margin-bottom: 10px;
  li {
    display: inline;
    margin-right: 10px;
  }
}
.tag-cloud {
  a {
    text-decoration: none;
  }
  .size1 { font-size: 8pt;  }
  .size2 { font-size: 12pt; }
  .size3 { font-size: 16pt; }
  .size4 { font-size: 20pt; }
}

/* Verses */

.verse {
  margin-bottom: 25px;
  .verse-heading {
    font-size: 14pt;
    border-bottom: none;
    margin-bottom: 5px;
  }
  .saved-by {
    font-size: 11pt;
  }
  .verse-body {
  }
  .comment-summary {
    margin-top: 10px;
    font-style: italic;
    background-color: $comment-background;
    padding: 3px;
  }
}

/* Groups */

.hidden-group {
  display: none;
}
.form-field-hint {
  width: 300px;
  float: left;
  margin-left: -350px;
  text-align: right;
  clear: left;
}
#map-preview {
}

/* Messages */

.quoted-content {
  margin: 10px 0;
}

/* Pictures */

@mixin picture {
  padding: 4px;
  border: 1px solid $light - 20;
  margin: 4px;
  @include shadow(0px, 2px, 10px, .25);
}
.picture {
  @include picture;
}
.albums {
  td {
    padding: 0 20px 10px 0;
    vertical-align: middle;
  }
}

/* News */

.news-item {
  h3 {
    border: none;
  }
}

.news-item-meta {
  font-size: smaller;
  margin: -20px 0 10px 0;
  &, a {
    color: $light - 50;
  }
}

.left-sidebar .news-item-meta {
  margin-top: 0;
}

.news-item-controls {
  margin-top: 20px;
}

.news-item-body {
  margin-top: 20px;
}

/* Stream */

.stream-item {
  margin-bottom: 25px;
  h3 {
    margin-bottom: 10px;
    border: none;
  }
  ul, ol {
    padding-left: 20px;
    margin: 10px 0;
  }
  .stream-item-meta {
    line-height: 1em;
    float: left;
    width: 32px;
    text-align: right;
  }
  .stream-item-body {
    margin-left: 50px;
    p, ol, ul {
      margin-bottom: 15px;
    }
  }
  .stream-item-spacer {
    height: 5px;
  }
  .new-comment {
    visibility: hidden;
  }
  .stream-item-timestamp {
    font-size: smaller;
    margin-bottom: 10px;
  }
  .stream-item-group-link {
    margin-top: -20px;
    margin-bottom: 40px;
    margin-left: 50px;
    a {
      color: $light - 50;
      font-size: smaller;
    }
  }
  .stream-pic {
    @include picture;
  }
  &:hover .new-comment {
    visibility: visible;
  }
}

table.comments {
  margin: 20px 0;
  padding: 15px;
  background-color: $comment-background;
  td {
    padding: 5px;
    h4 {
      white-space: nowrap;
    }
  }
}

/* Admin Dashboard */

.admin-chart {
  border: 1px solid $light - 10;
  @include curve;
  padding: 20px;
  width: 245px;
  height: 150px;
  float: left;
  margin: 0 10px 10px 0;
  &:hover {
    border-color: $primary;
  }
}
.metrics {
  a.admin-metric {
    text-decoration: none;
    background-color: $light;
    border: 1px solid $light - 10;
    @include curve;
    float: left;
    width: 116px;
    height: 100px;
    padding: 10px;
    margin: 0 11px 11px 0;
    text-align: center;
    span {
      color: $metric;
      display: block;
      font-style: normal;
      font-size: 32pt;
    }
    &:hover, &:hover span {
      color: $primary;
    }
    &:hover {
      border-color: $primary;
    }
  }
  a.warn span {
    color: $warn;
  }
  a.critical span {
    color: $critical;
  }
}

/* Admin Updates */

.update table {
  margin: 15px 0;
  .actions td {
    padding-top: 10px;
  }
}

/* Popup Menus */

.popup-menu {
  list-style: none;
  li {
    margin-bottom: 3px;
  }
  li.divider {
    height: 1px;
    margin: 6px 0;
    border-top: 1px solid $light - 20;
  }
  a {
    text-decoration: none;
  }
}
.qtip-wrapper {
  @include shadow;
}

/* Generic Styles */

.margin-top     { margin-top:     15px; }
.margin-bottom  { margin-bottom:  15px; }
.margin-left    { margin-left:    15px; }
.margin-right   { margin-right:   15px; }

.double-margin-top     { margin-top:     30px; }
.double-margin-bottom  { margin-bottom:  30px; }
.double-margin-left    { margin-left:    30px; }
.double-margin-right   { margin-right:   30px; }

.padding-top    { padding-top:    15px; }
.padding-bottom { padding-bottom: 15px; }
.padding-left   { padding-left:   15px; }
.padding-right  { padding-right:  15px; }

.line-top       { border-top:    1px solid $light - 20; }
.line-bottom    { border-bottom: 1px solid $light - 20; }
.line-left      { border-left:   1px solid $light - 20; }
.line-right     { border-right:  1px solid $light - 20; }

table.spaced td, table.spaced th {
  padding: 0 20px 10px 0;
  text-align: left;
}

table.members {
  width: 100%;
  .detail {
    td {
      padding-bottom: 0;
    }
  }
  .description {
    color: $light - 50;
  }
  td, th {
    text-align: left;
    padding: 0 20px 15px 0;
  }
  td.label {
    width: 150px;
  }
  .icon {
    width: 32px;
    padding: 0 10px 5px 0;
  }
  .action {
    width: 10px;
  }
  h3 {
    margin: 15px 0 0 0;
  }
  h3.first {
    margin-top: 0;
  }
  label {
    display: block;
    margin-top: 4px;
  }
  label.inline {
    display: inline;
    margin: 0;
  }
  .subsection td {
    font-style: italic;
  }
}

.strong {
  font-weight: bold;
}

.alert {
  background-color: $alert + 100;
  padding: 10px;
  @include shadow;
  margin-bottom: 25px;
}

.highlight {
  background-color: $highlight-background;
  padding: 10px;
  @include shadow;
  margin-bottom: 25px;
}

.heading-action {
  float: right;
  margin-top: -45px;
}

.small {
  font-size: smaller;
}

.discreet, .discreet a {
  color: $light - 50;
}

.very-strong {
  color: red;
  font-weight: bold;
}

.centered {
  text-align: center;
}

.pagination {
  margin: 25px 0;
  em {
    font-style: normal;
    border: 1px solid $light - 20;
    padding: 3px;
  }
  a {
    padding: 3px;
  }
  .disabled {
    color: $light - 50;
  }
}

.color-preview {
  display: inline-block;
  width: 20px;
}

a.styleless {
  text-decoration: none;
}

p.divider {
  height: 1px;
  margin: 6px 0;
  border-top: 1px solid $light - 20;
}

.nowrap {
  white-space: nowrap;
}
