h2.tab {
  height: 19px;
}

h2.tab div {
  margin-left: 9px;
  margin-right: 0px;
  margin-bottom: 0px;
  padding: 1px 10px 0px 10px;
  border-left: 1px solid #ccc;
  border-top: 1px solid #ccc;
  border-right: 1px solid #ccc;
  cursor: pointer;
  float: left;
  height: 17px;
  /* Remove the following if you don't want rounded corners (Mozilla only). */
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-topright: 7px;
  -webkit-border-top-left-radius: 7px;
  -webkit-border-top-right-radius: 7px;
}

h2.tab div.not-selected {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  color: #999;
}

h2.tab div.selected {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

h2.tab {
  border-bottom: none;
  font-weight: bold;
  font-size: 100%;
  margin-bottom: 0px;
  font-style: normal;
}

div.section {
  border-top: 1px solid #ccc;
  padding: 5px;
  margin-top: 0;
}
