<div class="chapter" id="Galatians-001">
  <h2>Galatians 1</h2>
  <span class="verse" title="Galatians 1:1" id="Galatians-1-1">Paul, an apostle (not from men, neither through man, but through Jesus Christ, and God the Father, who raised him from the dead),</span>
  <span class="verse" title="Galatians 1:2" id="Galatians-1-2">and all the brothers who are with me, to the assemblies of Galatia:</span>
  <span class="verse" title="Galatians 1:3" id="Galatians-1-3">Grace to you and peace from God the Father, and our Lord Jesus Christ,</span>
  <span class="verse" title="Galatians 1:4" id="Galatians-1-4">who gave himself for our sins, that he might deliver us out of this present evil age, according to the will of our God and Father—</span>
  <span class="verse" title="Galatians 1:5" id="Galatians-1-5">to whom be the glory forever and ever. Amen.</span>
  <span class="verse" title="Galatians 1:6" id="Galatians-1-6">I marvel that you are so quickly deserting him who called you in the grace of Christ to a different &#8220;good news&#8221;;</span>
  <span class="verse" title="Galatians 1:7" id="Galatians-1-7">and there isn&#8217;t another &#8220;good news.&#8221; Only there are some who trouble you, and want to pervert the Good News of Christ.</span>
  <span class="verse" title="Galatians 1:8" id="Galatians-1-8">But even though we, or an angel from heaven, should preach to you any &#8220;good news&#8221; other than that which we preached to you, let him be cursed.</span>
  <span class="verse" title="Galatians 1:9" id="Galatians-1-9">As we have said before, so I now say again: if any man preaches to you any &#8220;good news&#8221; other than that which you received, let him be cursed.</span>
  <span class="verse" title="Galatians 1:10" id="Galatians-1-10">For am I now seeking the favor of men, or of God? Or am I striving to please men? For if I were still pleasing men, I wouldn&#8217;t be a servant of Christ.</span>
  <span class="verse" title="Galatians 1:11" id="Galatians-1-11">But I make known to you, brothers, concerning the Good News which was preached by me, that it is not according to man.</span>
  <span class="verse" title="Galatians 1:12" id="Galatians-1-12">For neither did I receive it from man, nor was I taught it, but it came to me through revelation of Jesus Christ.</span>
  <span class="verse" title="Galatians 1:13" id="Galatians-1-13">For you have heard of my way of living in time past in the Jews&#8217; religion, how that beyond measure I persecuted the assembly of God, and ravaged it.</span>
  <span class="verse" title="Galatians 1:14" id="Galatians-1-14">I advanced in the Jews&#8217; religion beyond many of my own age among my countrymen, being more exceedingly zealous for the traditions of my fathers.</span>
  <span class="verse" title="Galatians 1:15" id="Galatians-1-15">But when it was the good pleasure of God, who separated me from my mother&#8217;s womb, and called me through his grace,</span>
  <span class="verse" title="Galatians 1:16" id="Galatians-1-16">to reveal his Son in me, that I might preach him among the Gentiles, I didn&#8217;t immediately confer with flesh and blood,</span>
  <span class="verse" title="Galatians 1:17" id="Galatians-1-17">nor did I go up to Jerusalem to those who were apostles before me, but I went away into Arabia. Then I returned to Damascus.</span>
  <span class="verse" title="Galatians 1:18" id="Galatians-1-18">Then after three years I went up to Jerusalem to visit Peter, and stayed with him fifteen days.</span>
  <span class="verse" title="Galatians 1:19" id="Galatians-1-19">But of the other apostles I saw no one, except James, the Lord&#8217;s brother.</span>
  <span class="verse" title="Galatians 1:20" id="Galatians-1-20">Now about the things which I write to you, behold, before God, I&#8217;m not lying.</span>
  <span class="verse" title="Galatians 1:21" id="Galatians-1-21">Then I came to the regions of Syria and Cilicia.</span>
  <span class="verse" title="Galatians 1:22" id="Galatians-1-22">I was still unknown by face to the assemblies of Judea which were in Christ,</span>
  <span class="verse" title="Galatians 1:23" id="Galatians-1-23">but they only heard: &#8220;He who once persecuted us now preaches the faith that he once tried to destroy.&#8221;</span>
  <span class="verse" title="Galatians 1:24" id="Galatians-1-24">And they glorified God in me.</span>
</div>