<div class="chapter" id="Galatians-002">
  <h2>Galatians 2</h2>
  <span class="verse" title="Galatians 2:1" id="Galatians-2-1">Then after a period of fourteen years I went up again to Jerusalem with Barnabas, taking Titus also with me.</span>
  <span class="verse" title="Galatians 2:2" id="Galatians-2-2">I went up by revelation, and I laid before them the Good News which I preach among the Gentiles, but privately before those who were respected, for fear that I might be running, or had run, in vain.</span>
  <span class="verse" title="Galatians 2:3" id="Galatians-2-3">But not even Titus, who was with me, being a Greek, was compelled to be circumcised.</span>
  <span class="verse" title="Galatians 2:4" id="Galatians-2-4">This was because of the false brothers secretly brought in, who stole in to spy out our liberty which we have in Christ Jesus, that they might bring us into bondage;</span>
  <span class="verse" title="Galatians 2:5" id="Galatians-2-5">to whom we gave no place in the way of subjection, not for an hour, that the truth of the Good News might continue with you.</span>
  <span class="verse" title="Galatians 2:6" id="Galatians-2-6">But from those who were reputed to be important (whatever they were, it makes no difference to me; God doesn&#8217;t show partiality to man)—they, I say, who were respected imparted nothing to me,</span>
  <span class="verse" title="Galatians 2:7" id="Galatians-2-7">but to the contrary, when they saw that I had been entrusted with the Good News for the uncircumcision, even as Peter with the Good News for the circumcision</span>
  <span class="verse" title="Galatians 2:8" id="Galatians-2-8">(for he who appointed Peter to the apostleship of the circumcision appointed me also to the Gentiles);</span>
  <span class="verse" title="Galatians 2:9" id="Galatians-2-9">and when they perceived the grace that was given to me, James and Cephas and John, they who were reputed to be pillars, gave to me and Barnabas the right hand of fellowship, that we should go to the Gentiles, and they to the circumcision.</span>
  <span class="verse" title="Galatians 2:10" id="Galatians-2-10">They only asked us to remember the poor—which very thing I was also zealous to do.</span>
  <span class="verse" title="Galatians 2:11" id="Galatians-2-11">But when Peter came to Antioch, I resisted him to his face, because he stood condemned.</span>
  <span class="verse" title="Galatians 2:12" id="Galatians-2-12">For before some people came from James, he ate with the Gentiles. But when they came, he drew back and separated himself, fearing those who were of the circumcision.</span>
  <span class="verse" title="Galatians 2:13" id="Galatians-2-13">And the rest of the Jews joined him in his hypocrisy; so that even Barnabas was carried away with their hypocrisy.</span>
  <span class="verse" title="Galatians 2:14" id="Galatians-2-14">But when I saw that they didn&#8217;t walk uprightly according to the truth of the Good News, I said to Peter before them all, &#8220;If you, being a Jew, live as the Gentiles do, and not as the Jews do, why do you compel the Gentiles to live as the Jews do?</span>
  <span class="verse" title="Galatians 2:15" id="Galatians-2-15">&#8220;We, being Jews by nature, and not Gentile sinners,</span>
  <span class="verse" title="Galatians 2:16" id="Galatians-2-16">yet knowing that a man is not justified by the works of the law but through faith in Jesus Christ, even we believed in Christ Jesus, that we might be justified by faith in Christ, and not by the works of the law, because no flesh will be justified by the works of the law.</span>
  <span class="verse" title="Galatians 2:17" id="Galatians-2-17">But if, while we sought to be justified in Christ, we ourselves also were found sinners, is Christ a servant of sin? Certainly not!</span>
  <span class="verse" title="Galatians 2:18" id="Galatians-2-18">For if I build up again those things which I destroyed, I prove myself a law-breaker.</span>
  <span class="verse" title="Galatians 2:19" id="Galatians-2-19">For I, through the law, died to the law, that I might live to God.</span>
  <span class="verse" title="Galatians 2:20" id="Galatians-2-20">I have been crucified with Christ, and it is no longer I that live, but Christ living in me. That life which I now live in the flesh, I live by faith in the Son of God, who loved me, and gave himself up for me.</span>
  <span class="verse" title="Galatians 2:21" id="Galatians-2-21">I don&#8217;t make void the grace of God. For if righteousness is through the law, then Christ died for nothing!&#8221;</span>
</div>