<div class="chapter" id="Galatians-003">
  <h2>Galatians 3</h2>
  <span class="verse" title="Galatians 3:1" id="Galatians-3-1">Foolish Galatians, who has bewitched you not to obey the truth, before whose eyes Jesus Christ was openly set forth among you as crucified?</span>
  <span class="verse" title="Galatians 3:2" id="Galatians-3-2">I just want to learn this from you. Did you receive the Spirit by the works of the law, or by hearing of faith?</span>
  <span class="verse" title="Galatians 3:3" id="Galatians-3-3">Are you so foolish? Having begun in the Spirit, are you now completed in the flesh?</span>
  <span class="verse" title="Galatians 3:4" id="Galatians-3-4">Did you suffer so many things in vain, if it is indeed in vain?</span>
  <span class="verse" title="Galatians 3:5" id="Galatians-3-5">He therefore who supplies the Spirit to you, and works miracles among you, does he do it by the works of the law, or by hearing of faith?</span>
  <span class="verse" title="Galatians 3:6" id="Galatians-3-6">Even as Abraham &#8220;believed God, and it was counted to him for righteousness.&#8221;</span>
  <span class="verse" title="Galatians 3:7" id="Galatians-3-7">Know therefore that those who are of faith, the same are children of Abraham.</span>
  <span class="verse" title="Galatians 3:8" id="Galatians-3-8">The Scripture, foreseeing that God would justify the Gentiles by faith, preached the Good News beforehand to Abraham, saying, &#8220;In you all the nations will be blessed.&#8221;</span>
  <span class="verse" title="Galatians 3:9" id="Galatians-3-9">So then, those who are of faith are blessed with the faithful Abraham.</span>
  <span class="verse" title="Galatians 3:10" id="Galatians-3-10">For as many as are of the works of the law are under a curse. For it is written, &#8220;Cursed is everyone who doesn&#8217;t continue in all things that are written in the book of the law, to do them.&#8221;</span>
  <span class="verse" title="Galatians 3:11" id="Galatians-3-11">Now that no man is justified by the law before God is evident, for, &#8220;The righteous will live by faith.&#8221;</span>
  <span class="verse" title="Galatians 3:12" id="Galatians-3-12">The law is not of faith, but, &#8220;The man who does them will live by them.&#8221;</span>
  <span class="verse" title="Galatians 3:13" id="Galatians-3-13">Christ redeemed us from the curse of the law, having become a curse for us. For it is written, &#8220;Cursed is everyone who hangs on a tree,&#8221;</span>
  <span class="verse" title="Galatians 3:14" id="Galatians-3-14">that the blessing of Abraham might come on the Gentiles through Christ Jesus; that we might receive the promise of the Spirit through faith.</span>
  <span class="verse" title="Galatians 3:15" id="Galatians-3-15">Brothers, speaking of human terms, though it is only a man&#8217;s covenant, yet when it has been confirmed, no one makes it void, or adds to it.</span>
  <span class="verse" title="Galatians 3:16" id="Galatians-3-16">Now the promises were spoken to Abraham and to his seed. He doesn&#8217;t say, &#8220;To seeds,&#8221; as of many, but as of one, &#8220;To your seed,&#8221; which is Christ.</span>
  <span class="verse" title="Galatians 3:17" id="Galatians-3-17">Now I say this. A covenant confirmed beforehand by God in Christ, the law, which came four hundred thirty years after, does not annul, so as to make the promise of no effect.</span>
  <span class="verse" title="Galatians 3:18" id="Galatians-3-18">For if the inheritance is of the law, it is no more of promise; but God has granted it to Abraham by promise.</span>
  <span class="verse" title="Galatians 3:19" id="Galatians-3-19">What then is the law? It was added because of transgressions, until the seed should come to whom the promise has been made. It was ordained through angels by the hand of a mediator.</span>
  <span class="verse" title="Galatians 3:20" id="Galatians-3-20">Now a mediator is not between one, but God is one.</span>
  <span class="verse" title="Galatians 3:21" id="Galatians-3-21">Is the law then against the promises of God? Certainly not! For if there had been a law given which could make alive, most certainly righteousness would have been of the law.</span>
  <span class="verse" title="Galatians 3:22" id="Galatians-3-22">But the Scriptures imprisoned all things under sin, that the promise by faith in Jesus Christ might be given to those who believe.</span>
  <span class="verse" title="Galatians 3:23" id="Galatians-3-23">But before faith came, we were kept in custody under the law, confined for the faith which should afterwards be revealed.</span>
  <span class="verse" title="Galatians 3:24" id="Galatians-3-24">So that the law has become our tutor to bring us to Christ, that we might be justified by faith.</span>
  <span class="verse" title="Galatians 3:25" id="Galatians-3-25">But now that faith has come, we are no longer under a tutor.</span>
  <span class="verse" title="Galatians 3:26" id="Galatians-3-26">For you are all children of God, through faith in Christ Jesus.</span>
  <span class="verse" title="Galatians 3:27" id="Galatians-3-27">For as many of you as were baptized into Christ have put on Christ.</span>
  <span class="verse" title="Galatians 3:28" id="Galatians-3-28">There is neither Jew nor Greek, there is neither slave nor free man, there is neither male nor female; for you are all one in Christ Jesus.</span>
  <span class="verse" title="Galatians 3:29" id="Galatians-3-29">If you are Christ&#8217;s, then you are Abraham&#8217;s seed and heirs according to promise.</span>
</div>