<div class="chapter" id="Galatians-004">
  <h2>Galatians 4</h2>
  <span class="verse" title="Galatians 4:1" id="Galatians-4-1">But I say that so long as the heir is a child, he is no different from a bondservant, though he is lord of all;</span>
  <span class="verse" title="Galatians 4:2" id="Galatians-4-2">but is under guardians and stewards until the day appointed by the father.</span>
  <span class="verse" title="Galatians 4:3" id="Galatians-4-3">So we also, when we were children, were held in bondage under the elemental principles of the world.</span>
  <span class="verse" title="Galatians 4:4" id="Galatians-4-4">But when the fullness of the time came, God sent out his Son, born to a woman, born under the law,</span>
  <span class="verse" title="Galatians 4:5" id="Galatians-4-5">that he might redeem those who were under the law, that we might receive the adoption of children.</span>
  <span class="verse" title="Galatians 4:6" id="Galatians-4-6">And because you are children, God sent out the Spirit of his Son into your hearts, crying, &#8220;Abba, Father!&#8221;</span>
  <span class="verse" title="Galatians 4:7" id="Galatians-4-7">So you are no longer a bondservant, but a son; and if a son, then an heir of God through Christ.</span>
  <span class="verse" title="Galatians 4:8" id="Galatians-4-8">However at that time, not knowing God, you were in bondage to those who by nature are not gods.</span>
  <span class="verse" title="Galatians 4:9" id="Galatians-4-9">But now that you have come to know God, or rather to be known by God, why do you turn back again to the weak and miserable elemental principles, to which you desire to be in bondage all over again?</span>
  <span class="verse" title="Galatians 4:10" id="Galatians-4-10">You observe days, months, seasons, and years.</span>
  <span class="verse" title="Galatians 4:11" id="Galatians-4-11">I am afraid for you, that I might have wasted my labor for you.</span>
  <span class="verse" title="Galatians 4:12" id="Galatians-4-12">I beg you, brothers, become as I am, for I also have become as you are. You did me no wrong,</span>
  <span class="verse" title="Galatians 4:13" id="Galatians-4-13">but you know that because of weakness of the flesh I preached the Good News to you the first time.</span>
  <span class="verse" title="Galatians 4:14" id="Galatians-4-14">That which was a temptation to you in my flesh, you didn&#8217;t despise nor reject; but you received me as an angel of God, even as Christ Jesus.</span>
  <span class="verse" title="Galatians 4:15" id="Galatians-4-15">What was the blessing you enjoyed? For I testify to you that, if possible, you would have plucked out your eyes and given them to me.</span>
  <span class="verse" title="Galatians 4:16" id="Galatians-4-16">So then, have I become your enemy by telling you the truth?</span>
  <span class="verse" title="Galatians 4:17" id="Galatians-4-17">They zealously seek you in no good way. No, they desire to alienate you, that you may seek them.</span>
  <span class="verse" title="Galatians 4:18" id="Galatians-4-18">But it is always good to be zealous in a good cause, and not only when I am present with you.</span>
  <span class="verse" title="Galatians 4:19" id="Galatians-4-19">My little children, of whom I am again in travail until Christ is formed in you—</span>
  <span class="verse" title="Galatians 4:20" id="Galatians-4-20">but I could wish to be present with you now, and to change my tone, for I am perplexed about you.</span>
  <span class="verse" title="Galatians 4:21" id="Galatians-4-21">Tell me, you that desire to be under the law, don&#8217;t you listen to the law?</span>
  <span class="verse" title="Galatians 4:22" id="Galatians-4-22">For it is written that Abraham had two sons, one by the handmaid, and one by the free woman.</span>
  <span class="verse" title="Galatians 4:23" id="Galatians-4-23">However, the son by the handmaid was born according to the flesh, but the son by the free woman was born through promise.</span>
  <span class="verse" title="Galatians 4:24" id="Galatians-4-24">These things contain an allegory, for these are two covenants. One is from Mount Sinai, bearing children to bondage, which is Hagar.</span>
  <span class="verse" title="Galatians 4:25" id="Galatians-4-25">For this Hagar is Mount Sinai in Arabia, and answers to the Jerusalem that exists now, for she is in bondage with her children.</span>
  <span class="verse" title="Galatians 4:26" id="Galatians-4-26">But the Jerusalem that is above is free, which is the mother of us all.</span>
  <span class="verse" title="Galatians 4:27" id="Galatians-4-27">For it is written,  &#8220;Rejoice, you barren who don&#8217;t bear.<br/> <span class="indent">&nbsp;&nbsp;</span>Break forth and shout, you that don&#8217;t travail.<br/> <span class="indent">&nbsp;&nbsp;</span>For more are the children of the desolate than of her who has a husband.&#8221;<br/></span>
  <span class="verse" title="Galatians 4:28" id="Galatians-4-28">Now we, brothers, as Isaac was, are children of promise.</span>
  <span class="verse" title="Galatians 4:29" id="Galatians-4-29">But as then, he who was born according to the flesh persecuted him who was born according to the Spirit, so also it is now.</span>
  <span class="verse" title="Galatians 4:30" id="Galatians-4-30">However what does the Scripture say? &#8220;Throw out the handmaid and her son, for the son of the handmaid will not inherit with the son of the free woman.&#8221;</span>
  <span class="verse" title="Galatians 4:31" id="Galatians-4-31">So then, brothers, we are not children of a handmaid, but of the free woman.</span>
</div>