<div class="chapter" id="Galatians-005">
  <h2>Galatians 5</h2>
  <span class="verse" title="Galatians 5:1" id="Galatians-5-1">Stand firm therefore in the liberty by which Christ has made us free, and don&#8217;t be entangled again with a yoke of bondage.</span>
  <span class="verse" title="Galatians 5:2" id="Galatians-5-2">Behold, I, Paul, tell you that if you receive circumcision, Christ will profit you nothing.</span>
  <span class="verse" title="Galatians 5:3" id="Galatians-5-3">Yes, I testify again to every man who receives circumcision, that he is a debtor to do the whole law.</span>
  <span class="verse" title="Galatians 5:4" id="Galatians-5-4">You are alienated from Christ, you who desire to be justified by the law. You have fallen away from grace.</span>
  <span class="verse" title="Galatians 5:5" id="Galatians-5-5">For we, through the Spirit, by faith wait for the hope of righteousness.</span>
  <span class="verse" title="Galatians 5:6" id="Galatians-5-6">For in Christ Jesus neither circumcision amounts to anything, nor uncircumcision, but faith working through love.</span>
  <span class="verse" title="Galatians 5:7" id="Galatians-5-7">You were running well! Who interfered with you that you should not obey the truth?</span>
  <span class="verse" title="Galatians 5:8" id="Galatians-5-8">This persuasion is not from him who calls you.</span>
  <span class="verse" title="Galatians 5:9" id="Galatians-5-9">A little yeast grows through the whole lump.</span>
  <span class="verse" title="Galatians 5:10" id="Galatians-5-10">I have confidence toward you in the Lord that you will think no other way. But he who troubles you will bear his judgment, whoever he is.</span>
  <span class="verse" title="Galatians 5:11" id="Galatians-5-11">But I, brothers, if I still preach circumcision, why am I still persecuted? Then the stumbling block of the cross has been removed.</span>
  <span class="verse" title="Galatians 5:12" id="Galatians-5-12">I wish that those who disturb you would cut themselves off.</span>
  <span class="verse" title="Galatians 5:13" id="Galatians-5-13">For you, brothers, were called for freedom. Only don&#8217;t use your freedom for gain to the flesh, but through love be servants to one another.</span>
  <span class="verse" title="Galatians 5:14" id="Galatians-5-14">For the whole law is fulfilled in one word, in this: &#8220;You shall love your neighbor as yourself.&#8221;</span>
  <span class="verse" title="Galatians 5:15" id="Galatians-5-15">But if you bite and devour one another, be careful that you don&#8217;t consume one another.</span>
  <span class="verse" title="Galatians 5:16" id="Galatians-5-16">But I say, walk by the Spirit, and you won&#8217;t fulfill the lust of the flesh.</span>
  <span class="verse" title="Galatians 5:17" id="Galatians-5-17">For the flesh lusts against the Spirit, and the Spirit against the flesh; and these are contrary to one another, that you may not do the things that you desire.</span>
  <span class="verse" title="Galatians 5:18" id="Galatians-5-18">But if you are led by the Spirit, you are not under the law.</span>
  <span class="verse" title="Galatians 5:19" id="Galatians-5-19">Now the works of the flesh are obvious, which are: adultery, sexual immorality, uncleanness, lustfulness,</span>
  <span class="verse" title="Galatians 5:20" id="Galatians-5-20">idolatry, sorcery, hatred, strife, jealousies, outbursts of anger, rivalries, divisions, heresies,</span>
  <span class="verse" title="Galatians 5:21" id="Galatians-5-21">envyings, murders, drunkenness, orgies, and things like these; of which I forewarn you, even as I also forewarned you, that those who practice such things will not inherit the Kingdom of God.</span>
  <span class="verse" title="Galatians 5:22" id="Galatians-5-22">But the fruit of the Spirit is love, joy, peace, patience, kindness, goodness, faith,</span>
  <span class="verse" title="Galatians 5:23" id="Galatians-5-23">gentleness, and self-control. Against such things there is no law.</span>
  <span class="verse" title="Galatians 5:24" id="Galatians-5-24">Those who belong to Christ have crucified the flesh with its passions and lusts.</span>
  <span class="verse" title="Galatians 5:25" id="Galatians-5-25">If we live by the Spirit, let&#8217;s also walk by the Spirit.</span>
  <span class="verse" title="Galatians 5:26" id="Galatians-5-26">Let&#8217;s not become conceited, provoking one another, and envying one another.</span>
</div>