<div class="chapter" id="Haggai-001">
  <h2>Haggai 1</h2>
  <span class="verse" title="Haggai 1:1" id="Haggai-1-1">In the second year of Darius the king, in the sixth month, in the first day of the month, the Word of Yahweh came by Haggai, the prophet, to Zerubbabel, the son of Shealtiel, governor of Judah, and to Joshua, the son of Jehozadak, the high priest, saying,</span>
  <span class="verse" title="Haggai 1:2" id="Haggai-1-2">&#8220;This is what Yahweh of Armies says: These people say, &#8216;The time hasn&#8217;t yet come, the time for Yahweh&#8217;s house to be built.&#8217;&#8221;</span>
  <span class="verse" title="Haggai 1:3" id="Haggai-1-3">Then the Word of Yahweh came by Haggai, the prophet, saying,</span>
  <span class="verse" title="Haggai 1:4" id="Haggai-1-4">&#8220;Is it a time for you yourselves to dwell in your paneled houses, while this house lies waste?</span>
  <span class="verse" title="Haggai 1:5" id="Haggai-1-5">Now therefore this is what Yahweh of Armies says: Consider your ways.</span>
  <span class="verse" title="Haggai 1:6" id="Haggai-1-6">You have sown much, and bring in little. You eat, but you don&#8217;t have enough. You drink, but you aren&#8217;t filled with drink. You clothe yourselves, but no one is warm, and he who earns wages earns wages to put them into a bag with holes in it.&#8221;</span>
  <span class="verse" title="Haggai 1:7" id="Haggai-1-7">This is what Yahweh of Armies says: &#8220;Consider your ways.</span>
  <span class="verse" title="Haggai 1:8" id="Haggai-1-8">Go up to the mountain, bring wood, and build the house. I will take pleasure in it, and I will be glorified,&#8221; says Yahweh.</span>
  <span class="verse" title="Haggai 1:9" id="Haggai-1-9">&#8220;You looked for much, and, behold, it came to little; and when you brought it home, I blew it away. Why?&#8221; says Yahweh of Armies, &#8220;Because of my house that lies waste, while each of you is busy with his own house.</span>
  <span class="verse" title="Haggai 1:10" id="Haggai-1-10">Therefore for your sake the heavens withhold the dew, and the earth withholds its fruit.</span>
  <span class="verse" title="Haggai 1:11" id="Haggai-1-11">I called for a drought on the land, on the mountains, on the grain, on the new wine, on the oil, on that which the ground brings forth, on men, on livestock, and on all the labor of the hands.&#8221;</span>
  <span class="verse" title="Haggai 1:12" id="Haggai-1-12">Then Zerubbabel, the son of Shealtiel, and Joshua, the son of Jehozadak, the high priest, with all the remnant of the people, obeyed the voice of Yahweh, their God, and the words of Haggai, the prophet, as Yahweh, their God, had sent him; and the people feared Yahweh.</span>
  <span class="verse" title="Haggai 1:13" id="Haggai-1-13">Then Haggai, Yahweh&#8217;s messenger, spoke Yahweh&#8217;s message to the people, saying, &#8220;I am with you,&#8221; says Yahweh.</span>
  <span class="verse" title="Haggai 1:14" id="Haggai-1-14">Yahweh stirred up the spirit of Zerubbabel, the son of Shealtiel, governor of Judah, and the spirit of Joshua, the son of Jehozadak, the high priest, and the spirit of all the remnant of the people; and they came and worked on the house of Yahweh of Armies, their God,</span>
  <span class="verse" title="Haggai 1:15" id="Haggai-1-15">in the twenty-fourth day of the month, in the sixth month, in the second year of Darius the king.</span>
</div>