<div class="chapter" id="Haggai-002">
  <h2>Haggai 2</h2>
  <span class="verse" title="Haggai 2:1" id="Haggai-2-1">In the seventh month, in the twenty-first day of the month, the Word of Yahweh came by Haggai the prophet, saying,</span>
  <span class="verse" title="Haggai 2:2" id="Haggai-2-2">&#8220;Speak now to Zerubbabel, the son of Shealtiel, governor of Judah, and to Joshua, the son of Jehozadak, the high priest, and to the remnant of the people, saying,</span>
  <span class="verse" title="Haggai 2:3" id="Haggai-2-3">&#8216;Who is left among you who saw this house in its former glory? How do you see it now? Isn&#8217;t it in your eyes as nothing?</span>
  <span class="verse" title="Haggai 2:4" id="Haggai-2-4">Yet now be strong, Zerubbabel,&#8217; says Yahweh. &#8216;Be strong, Joshua, son of Jehozadak, the high priest. Be strong, all you people of the land,&#8217; says Yahweh, &#8216;and work, for I am with you,&#8217; says Yahweh of Armies.</span>
  <span class="verse" title="Haggai 2:5" id="Haggai-2-5">This is the word that I covenanted with you when you came out of Egypt, and my Spirit lived among you. &#8216;Don&#8217;t be afraid.&#8217;</span>
  <span class="verse" title="Haggai 2:6" id="Haggai-2-6">For this is what Yahweh of Armies says: &#8216;Yet once, it is a little while, and I will shake the heavens, the earth, the sea, and the dry land;</span>
  <span class="verse" title="Haggai 2:7" id="Haggai-2-7">and I will shake all nations. The precious things of all nations will come, and I will fill this house with glory, says Yahweh of Armies.</span>
  <span class="verse" title="Haggai 2:8" id="Haggai-2-8">The silver is mine, and the gold is mine,&#8217; says Yahweh of Armies.</span>
  <span class="verse" title="Haggai 2:9" id="Haggai-2-9">&#8216;The latter glory of this house will be greater than the former,&#8217; says Yahweh of Armies; &#8216;and in this place will I give peace,&#8217; says Yahweh of Armies.&#8221;</span>
  <span class="verse" title="Haggai 2:10" id="Haggai-2-10">In the twenty-fourth day of the ninth month, in the second year of Darius, the Word of Yahweh came by Haggai the prophet, saying,</span>
  <span class="verse" title="Haggai 2:11" id="Haggai-2-11">&#8220;Thus says Yahweh of Armies: Ask now the priests concerning the law, saying,</span>
  <span class="verse" title="Haggai 2:12" id="Haggai-2-12">&#8216;If someone carries holy meat in the fold of his garment, and with his fold touches bread, stew, wine, oil, or any food, will it become holy?&#8217;&#8221; The priests answered, &#8220;No.&#8221;</span>
  <span class="verse" title="Haggai 2:13" id="Haggai-2-13">Then Haggai said, &#8220;If one who is unclean by reason of a dead body touch any of these, will it be unclean?&#8221; The priests answered, &#8220;It will be unclean.&#8221;</span>
  <span class="verse" title="Haggai 2:14" id="Haggai-2-14">Then Haggai answered, &#8220;&#8216;So is this people, and so is this nation before me,&#8217; says Yahweh; &#8216;and so is every work of their hands. That which they offer there is unclean.</span>
  <span class="verse" title="Haggai 2:15" id="Haggai-2-15">Now, please consider from this day and backward, before a stone was laid on a stone in the temple of Yahweh.</span>
  <span class="verse" title="Haggai 2:16" id="Haggai-2-16">Through all that time, when one came to a heap of twenty measures, there were only ten. When one came to the wine vat to draw out fifty, there were only twenty.</span>
  <span class="verse" title="Haggai 2:17" id="Haggai-2-17">I struck you with blight, mildew, and hail in all the work of your hands; yet you didn&#8217;t turn to me,&#8217; says Yahweh.</span>
  <span class="verse" title="Haggai 2:18" id="Haggai-2-18">&#8216;Consider, please, from this day and backward, from the twenty-fourth day of the ninth month, since the day that the foundation of Yahweh&#8217;s temple was laid, consider it.</span>
  <span class="verse" title="Haggai 2:19" id="Haggai-2-19">Is the seed yet in the barn? Yes, the vine, the fig tree, the pomegranate, and the olive tree haven&#8217;t brought forth. From this day will I bless you.&#8217;&#8221;</span>
  <span class="verse" title="Haggai 2:20" id="Haggai-2-20">The Word of Yahweh came the second time to Haggai in the twenty-fourth day of the month, saying,</span>
  <span class="verse" title="Haggai 2:21" id="Haggai-2-21">&#8220;Speak to Zerubbabel, governor of Judah, saying, &#8216;I will shake the heavens and the earth.</span>
  <span class="verse" title="Haggai 2:22" id="Haggai-2-22">I will overthrow the throne of kingdoms. I will destroy the strength of the kingdoms of the nations. I will overthrow the chariots, and those who ride in them. The horses and their riders will come down, everyone by the sword of his brother.</span>
  <span class="verse" title="Haggai 2:23" id="Haggai-2-23">In that day, says Yahweh of Armies, will I take you, Zerubbabel, my servant, the son of Shealtiel,&#8217; says Yahweh, &#8216;and will make you as a signet, for I have chosen you,&#8217; says Yahweh of Armies.&#8221;</span>
</div>