<% if @logged_in.can_edit?(@group) %>
  <div id="group-tab-menu" style="display:none;">
    <ul class="popup-menu">
      <% if @logged_in.can_edit?(@group) %>
        <li><%= link_to t('menus.group.edit'), edit_group_path(@group), class: 'edit-icon' %></li>
        <li><%= link_to t('menus.group.delete'), group_path(@group), method: :delete, data: { confirm: t('are_you_sure') }, class: 'delete-icon' %></li>
      <% end %>
    </ul>
  </div>
<% end %>
