<ul>
  <% @group.people.each do |person| %>
    <% if @logged_in.sees? person %>
      <%= link_to person.name, :controller => 'people', :action => 'view', :id => person %>
      <% if @group.admin?(person, true) %>(admin)<% end %>
      <br/>
    <% end %>
  <% end %>
</ul>
