<ul>
  <% @group.people_names_and_ids.each do |person| %>
    <% if person and @logged_in.sees? person %>
      <%= render :partial => 'people/link', :locals => {:person => person} %>
      <% if @group.admin?(person, true) %>(admin)<% end %>
      <% if @group.admin?(@logged_in) and (person.email.to_s.empty? or !@group.get_options_for(person).get_email?) %>
        <em>no mail</em>
      <% end %>
      <br/>
    <% end %>
  <% end %>
</ul>
