<div>
  <% if @group.has_photo? %>
    <%= image_tag photo_with_size_path(@group, :size => 'medium', :type => 'group'), :alt => @group.name %>
  <% else %>
    <%= image_tag 'group.jpg', :alt => @group.name %>
  <% end %>
</div>