<div>
  <% if @group.has_photo? %>
    <%= image_tag medium_group_photo_path(@group), :alt => @group.name %>
  <% elsif @logged_in.can_edit?(@group) and params[:controller] == 'groups' and params[:action] == 'show' %>
    <div id="group-pic" onclick="location.href = '<%= edit_group_path %>#picture'">
      <%= link_to image_tag('picture.png', :alt => I18n.t('groups.change_this_picture'), :class => 'icon') + '<br/>' + I18n.t('groups.change') + '<br/>' + I18n.t('groups.this_picture'), edit_group_path + '#picture' %>
    </div>
  <% else %>
    <%= image_tag 'group.jpg', :alt => @group.name %>
  <% end %>
</div>
