<div>
  <% if @group.has_photo? %>
    <%= image_tag group_photo_path("#{@group.id}.medium.jpg"), :alt => @group.name %>
  <% else %>
    <%= image_tag 'group.jpg', :alt => @group.name %>
  <% end %>
</div>