- @main_class = 'middle'

%div
  %h1.text-center Check Your Email!

  %p.text-center
    = icon 'fa fa-envelope', style: 'font-size:100pt;color:#5cb85c;'

  %p To verify your information, please open your email and open the message you just received from us. Click the link inside to keep going with your registration...
