<div class="chapter" id="1 Timothy-001">
  <h2>1 Timothy 1</h2>
  <span class="verse" title="1 Timothy 1:1" id="1_Timothy-1-1">Paul, an apostle of Christ Jesus according to the commandment of God our Savior, and Christ Jesus our hope;</span>
  <span class="verse" title="1 Timothy 1:2" id="1_Timothy-1-2">to Timothy, my true child in faith: Grace, mercy, and peace, from God our Father and Christ Jesus our Lord.</span>
  <span class="verse" title="1 Timothy 1:3" id="1_Timothy-1-3">As I urged you when I was going into Macedonia, stay at Ephesus that you might command certain men not to teach a different doctrine,</span>
  <span class="verse" title="1 Timothy 1:4" id="1_Timothy-1-4">neither to pay attention to myths and endless genealogies, which cause disputes, rather than God&#8217;s stewardship, which is in faith—</span>
  <span class="verse" title="1 Timothy 1:5" id="1_Timothy-1-5">but the goal of this command is love, out of a pure heart and a good conscience and sincere faith;</span>
  <span class="verse" title="1 Timothy 1:6" id="1_Timothy-1-6">from which things some, having missed the mark, have turned aside to vain talking;</span>
  <span class="verse" title="1 Timothy 1:7" id="1_Timothy-1-7">desiring to be teachers of the law, though they understand neither what they say, nor about what they strongly affirm.</span>
  <span class="verse" title="1 Timothy 1:8" id="1_Timothy-1-8">But we know that the law is good, if a man uses it lawfully,</span>
  <span class="verse" title="1 Timothy 1:9" id="1_Timothy-1-9">as knowing this, that law is not made for a righteous man, but for the lawless and insubordinate, for the ungodly and sinners, for the unholy and profane, for murderers of fathers and murderers of mothers, for manslayers,</span>
  <span class="verse" title="1 Timothy 1:10" id="1_Timothy-1-10">for the sexually immoral, for homosexuals, for slave-traders, for liars, for perjurers, and for any other thing contrary to the sound doctrine;</span>
  <span class="verse" title="1 Timothy 1:11" id="1_Timothy-1-11">according to the Good News of the glory of the blessed God, which was committed to my trust.</span>
  <span class="verse" title="1 Timothy 1:12" id="1_Timothy-1-12">And I thank him who enabled me, Christ Jesus our Lord, because he counted me faithful, appointing me to service;</span>
  <span class="verse" title="1 Timothy 1:13" id="1_Timothy-1-13">although I was before a blasphemer, a persecutor, and insolent. However, I obtained mercy, because I did it ignorantly in unbelief.</span>
  <span class="verse" title="1 Timothy 1:14" id="1_Timothy-1-14">The grace of our Lord abounded exceedingly with faith and love which is in Christ Jesus.</span>
  <span class="verse" title="1 Timothy 1:15" id="1_Timothy-1-15">The saying is faithful and worthy of all acceptance, that Christ Jesus came into the world to save sinners; of whom I am chief.</span>
  <span class="verse" title="1 Timothy 1:16" id="1_Timothy-1-16">However, for this cause I obtained mercy, that in me first, Jesus Christ might display all his patience, for an example of those who were going to believe in him for eternal life.</span>
  <span class="verse" title="1 Timothy 1:17" id="1_Timothy-1-17">Now to the King eternal, immortal, invisible, to God who alone is wise, be honor and glory forever and ever. Amen.</span>
  <span class="verse" title="1 Timothy 1:18" id="1_Timothy-1-18">This instruction I commit to you, my child Timothy, according to the prophecies which led the way to you, that by them you may wage the good warfare;</span>
  <span class="verse" title="1 Timothy 1:19" id="1_Timothy-1-19">holding faith and a good conscience; which some having thrust away made a shipwreck concerning the faith;</span>
  <span class="verse" title="1 Timothy 1:20" id="1_Timothy-1-20">of whom is Hymenaeus and Alexander; whom I delivered to Satan, that they might be taught not to blaspheme.</span>
</div>