<div class="chapter" id="1 Timothy-002">
  <h2>1 Timothy 2</h2>
  <span class="verse" title="1 Timothy 2:1" id="1_Timothy-2-1">I exhort therefore, first of all, that petitions, prayers, intercessions, and givings of thanks, be made for all men:</span>
  <span class="verse" title="1 Timothy 2:2" id="1_Timothy-2-2">for kings and all who are in high places; that we may lead a tranquil and quiet life in all godliness and reverence.</span>
  <span class="verse" title="1 Timothy 2:3" id="1_Timothy-2-3">For this is good and acceptable in the sight of God our Savior;</span>
  <span class="verse" title="1 Timothy 2:4" id="1_Timothy-2-4">who desires all people to be saved and come to full knowledge of the truth.</span>
  <span class="verse" title="1 Timothy 2:5" id="1_Timothy-2-5">For there is one God, and one mediator between God and men, the man Christ Jesus,</span>
  <span class="verse" title="1 Timothy 2:6" id="1_Timothy-2-6">who gave himself as a ransom for all; the testimony in its own times;</span>
  <span class="verse" title="1 Timothy 2:7" id="1_Timothy-2-7">to which I was appointed a preacher and an apostle (I am telling the truth in Christ, not lying), a teacher of the Gentiles in faith and truth.</span>
  <span class="verse" title="1 Timothy 2:8" id="1_Timothy-2-8">I desire therefore that the men in every place pray, lifting up holy hands without anger and doubting.</span>
  <span class="verse" title="1 Timothy 2:9" id="1_Timothy-2-9">In the same way, that women also adorn themselves in decent clothing, with modesty and propriety; not just with braided hair, gold, pearls, or expensive clothing;</span>
  <span class="verse" title="1 Timothy 2:10" id="1_Timothy-2-10">but (which becomes women professing godliness) with good works.</span>
  <span class="verse" title="1 Timothy 2:11" id="1_Timothy-2-11">Let a woman learn in quietness with all subjection.</span>
  <span class="verse" title="1 Timothy 2:12" id="1_Timothy-2-12">But I don&#8217;t permit a woman to teach, nor to exercise authority over a man, but to be in quietness.</span>
  <span class="verse" title="1 Timothy 2:13" id="1_Timothy-2-13">For Adam was first formed, then Eve.</span>
  <span class="verse" title="1 Timothy 2:14" id="1_Timothy-2-14">Adam wasn&#8217;t deceived, but the woman, being deceived, has fallen into disobedience;</span>
  <span class="verse" title="1 Timothy 2:15" id="1_Timothy-2-15">but she will be saved through her childbearing, if they continue in faith, love, and sanctification with sobriety.</span>
</div>