<div class="chapter" id="1 Timothy-003">
  <h2>1 Timothy 3</h2>
  <span class="verse" title="1 Timothy 3:1" id="1_Timothy-3-1">This is a faithful saying: if a man seeks the office of an overseer, he desires a good work.</span>
  <span class="verse" title="1 Timothy 3:2" id="1_Timothy-3-2">The overseer therefore must be without reproach, the husband of one wife, temperate, sensible, modest, hospitable, good at teaching;</span>
  <span class="verse" title="1 Timothy 3:3" id="1_Timothy-3-3">not a drinker, not violent, not greedy for money, but gentle, not quarrelsome, not covetous;</span>
  <span class="verse" title="1 Timothy 3:4" id="1_Timothy-3-4">one who rules his own house well, having children in subjection with all reverence;</span>
  <span class="verse" title="1 Timothy 3:5" id="1_Timothy-3-5">(but if a man doesn&#8217;t know how to rule his own house, how will he take care of the assembly of God?)</span>
  <span class="verse" title="1 Timothy 3:6" id="1_Timothy-3-6">not a new convert, lest being puffed up he fall into the same condemnation as the devil.</span>
  <span class="verse" title="1 Timothy 3:7" id="1_Timothy-3-7">Moreover he must have good testimony from those who are outside, to avoid falling into reproach and the snare of the devil.</span>
  <span class="verse" title="1 Timothy 3:8" id="1_Timothy-3-8">Servants, in the same way, must be reverent, not double-tongued, not addicted to much wine, not greedy for money;</span>
  <span class="verse" title="1 Timothy 3:9" id="1_Timothy-3-9">holding the mystery of the faith in a pure conscience.</span>
  <span class="verse" title="1 Timothy 3:10" id="1_Timothy-3-10">Let them also first be tested; then let them serve if they are blameless.</span>
  <span class="verse" title="1 Timothy 3:11" id="1_Timothy-3-11">Their wives in the same way must be reverent, not slanderers, temperate, faithful in all things.</span>
  <span class="verse" title="1 Timothy 3:12" id="1_Timothy-3-12">Let servants be husbands of one wife, ruling their children and their own houses well.</span>
  <span class="verse" title="1 Timothy 3:13" id="1_Timothy-3-13">For those who have served well gain for themselves a good standing, and great boldness in the faith which is in Christ Jesus.</span>
  <span class="verse" title="1 Timothy 3:14" id="1_Timothy-3-14">These things I write to you, hoping to come to you shortly;</span>
  <span class="verse" title="1 Timothy 3:15" id="1_Timothy-3-15">but if I wait long, that you may know how men ought to behave themselves in the house of God, which is the assembly of the living God, the pillar and ground of the truth.</span>
  <span class="verse" title="1 Timothy 3:16" id="1_Timothy-3-16">Without controversy, the mystery of godliness is great:  God was revealed in the flesh,<br/> <span class="indent">&nbsp;&nbsp;</span>justified in the spirit,<br/> <span class="indent">&nbsp;&nbsp;</span>seen by angels,<br/> <span class="indent">&nbsp;&nbsp;</span>preached among the nations,<br/> <span class="indent">&nbsp;&nbsp;</span>believed on in the world,<br/> <span class="indent">&nbsp;&nbsp;</span>and received up in glory.<br/></span>
</div>