<div class="chapter" id="1 Timothy-004">
  <h2>1 Timothy 4</h2>
  <span class="verse" title="1 Timothy 4:1" id="1_Timothy-4-1">But the Spirit says expressly that in later times some will fall away from the faith, paying attention to seducing spirits and doctrines of demons,</span>
  <span class="verse" title="1 Timothy 4:2" id="1_Timothy-4-2">through the hypocrisy of men who speak lies, branded in their own conscience as with a hot iron;</span>
  <span class="verse" title="1 Timothy 4:3" id="1_Timothy-4-3">forbidding marriage and commanding to abstain from foods which God created to be received with thanksgiving by those who believe and know the truth.</span>
  <span class="verse" title="1 Timothy 4:4" id="1_Timothy-4-4">For every creature of God is good, and nothing is to be rejected, if it is received with thanksgiving.</span>
  <span class="verse" title="1 Timothy 4:5" id="1_Timothy-4-5">For it is sanctified through the word of God and prayer.</span>
  <span class="verse" title="1 Timothy 4:6" id="1_Timothy-4-6">If you instruct the brothers of these things, you will be a good servant of Christ Jesus, nourished in the words of the faith, and of the good doctrine which you have followed.</span>
  <span class="verse" title="1 Timothy 4:7" id="1_Timothy-4-7">But refuse profane and old wives&#8217; fables. Exercise yourself toward godliness.</span>
  <span class="verse" title="1 Timothy 4:8" id="1_Timothy-4-8">For bodily exercise has some value, but godliness has value in all things, having the promise of the life which is now, and of that which is to come.</span>
  <span class="verse" title="1 Timothy 4:9" id="1_Timothy-4-9">This saying is faithful and worthy of all acceptance.</span>
  <span class="verse" title="1 Timothy 4:10" id="1_Timothy-4-10">For to this end we both labor and suffer reproach, because we have set our trust in the living God, who is the Savior of all men, especially of those who believe.</span>
  <span class="verse" title="1 Timothy 4:11" id="1_Timothy-4-11">Command and teach these things.</span>
  <span class="verse" title="1 Timothy 4:12" id="1_Timothy-4-12">Let no man despise your youth; but be an example to those who believe, in word, in your way of life, in love, in spirit, in faith, and in purity.</span>
  <span class="verse" title="1 Timothy 4:13" id="1_Timothy-4-13">Until I come, pay attention to reading, to exhortation, and to teaching.</span>
  <span class="verse" title="1 Timothy 4:14" id="1_Timothy-4-14">Don&#8217;t neglect the gift that is in you, which was given to you by prophecy, with the laying on of the hands of the elders.</span>
  <span class="verse" title="1 Timothy 4:15" id="1_Timothy-4-15">Be diligent in these things. Give yourself wholly to them, that your progress may be revealed to all.</span>
  <span class="verse" title="1 Timothy 4:16" id="1_Timothy-4-16">Pay attention to yourself, and to your teaching. Continue in these things, for in doing this you will save both yourself and those who hear you.</span>
</div>