<div class="chapter" id="1 Timothy-005">
  <h2>1 Timothy 5</h2>
  <span class="verse" title="1 Timothy 5:1" id="1_Timothy-5-1">Don&#8217;t rebuke an older man, but exhort him as a father; the younger men as brothers;</span>
  <span class="verse" title="1 Timothy 5:2" id="1_Timothy-5-2">the elder women as mothers; the younger as sisters, in all purity.</span>
  <span class="verse" title="1 Timothy 5:3" id="1_Timothy-5-3">Honor widows who are widows indeed.</span>
  <span class="verse" title="1 Timothy 5:4" id="1_Timothy-5-4">But if any widow has children or grandchildren, let them learn first to show piety towards their own family, and to repay their parents, for this is acceptable in the sight of God.</span>
  <span class="verse" title="1 Timothy 5:5" id="1_Timothy-5-5">Now she who is a widow indeed, and desolate, has her hope set on God, and continues in petitions and prayers night and day.</span>
  <span class="verse" title="1 Timothy 5:6" id="1_Timothy-5-6">But she who gives herself to pleasure is dead while she lives.</span>
  <span class="verse" title="1 Timothy 5:7" id="1_Timothy-5-7">Also command these things, that they may be without reproach.</span>
  <span class="verse" title="1 Timothy 5:8" id="1_Timothy-5-8">But if anyone doesn&#8217;t provide for his own, and especially his own household, he has denied the faith, and is worse than an unbeliever.</span>
  <span class="verse" title="1 Timothy 5:9" id="1_Timothy-5-9">Let no one be enrolled as a widow under sixty years old, having been the wife of one man,</span>
  <span class="verse" title="1 Timothy 5:10" id="1_Timothy-5-10">being approved by good works, if she has brought up children, if she has been hospitable to strangers, if she has washed the saints&#8217; feet, if she has relieved the afflicted, and if she has diligently followed every good work.</span>
  <span class="verse" title="1 Timothy 5:11" id="1_Timothy-5-11">But refuse younger widows, for when they have grown wanton against Christ, they desire to marry;</span>
  <span class="verse" title="1 Timothy 5:12" id="1_Timothy-5-12">having condemnation, because they have rejected their first pledge.</span>
  <span class="verse" title="1 Timothy 5:13" id="1_Timothy-5-13">Besides, they also learn to be idle, going about from house to house. Not only idle, but also gossips and busybodies, saying things which they ought not.</span>
  <span class="verse" title="1 Timothy 5:14" id="1_Timothy-5-14">I desire therefore that the younger widows marry, bear children, rule the household, and give no occasion to the adversary for insulting.</span>
  <span class="verse" title="1 Timothy 5:15" id="1_Timothy-5-15">For already some have turned aside after Satan.</span>
  <span class="verse" title="1 Timothy 5:16" id="1_Timothy-5-16">If any man or woman who believes has widows, let them relieve them, and don&#8217;t let the assembly be burdened; that it might relieve those who are widows indeed.</span>
  <span class="verse" title="1 Timothy 5:17" id="1_Timothy-5-17">Let the elders who rule well be counted worthy of double honor, especially those who labor in the word and in teaching.</span>
  <span class="verse" title="1 Timothy 5:18" id="1_Timothy-5-18">For the Scripture says, &#8220;You shall not muzzle the ox when it treads out the grain.&#8221; And, &#8220;The laborer is worthy of his wages.&#8221;</span>
  <span class="verse" title="1 Timothy 5:19" id="1_Timothy-5-19">Don&#8217;t receive an accusation against an elder, except at the word of two or three witnesses.</span>
  <span class="verse" title="1 Timothy 5:20" id="1_Timothy-5-20">Those who sin, reprove in the sight of all, that the rest also may be in fear.</span>
  <span class="verse" title="1 Timothy 5:21" id="1_Timothy-5-21">I command you in the sight of God, and Christ Jesus, and the chosen angels, that you observe these things without prejudice, doing nothing by partiality.</span>
  <span class="verse" title="1 Timothy 5:22" id="1_Timothy-5-22">Lay hands hastily on no one, neither be a participant in other men&#8217;s sins. Keep yourself pure.</span>
  <span class="verse" title="1 Timothy 5:23" id="1_Timothy-5-23">Be no longer a drinker of water only, but use a little wine for your stomach&#8217;s sake and your frequent infirmities.</span>
  <span class="verse" title="1 Timothy 5:24" id="1_Timothy-5-24">Some men&#8217;s sins are evident, preceding them to judgment, and some also follow later.</span>
  <span class="verse" title="1 Timothy 5:25" id="1_Timothy-5-25">In the same way also there are good works that are obvious, and those that are otherwise can&#8217;t be hidden.</span>
</div>