<div class="chapter" id="1 Timothy-006">
  <h2>1 Timothy 6</h2>
  <span class="verse" title="1 Timothy 6:1" id="1_Timothy-6-1">Let as many as are bondservants under the yoke count their own masters worthy of all honor, that the name of God and the doctrine not be blasphemed.</span>
  <span class="verse" title="1 Timothy 6:2" id="1_Timothy-6-2">Those who have believing masters, let them not despise them, because they are brothers, but rather let them serve them, because those who partake of the benefit are believing and beloved. Teach and exhort these things.</span>
  <span class="verse" title="1 Timothy 6:3" id="1_Timothy-6-3">If anyone teaches a different doctrine, and doesn&#8217;t consent to sound words, the words of our Lord Jesus Christ, and to the doctrine which is according to godliness,</span>
  <span class="verse" title="1 Timothy 6:4" id="1_Timothy-6-4">he is conceited, knowing nothing, but obsessed with arguments, disputes, and word battles, from which come envy, strife, insulting, evil suspicions,</span>
  <span class="verse" title="1 Timothy 6:5" id="1_Timothy-6-5">constant friction of people of corrupt minds and destitute of the truth, who suppose that godliness is a means of gain. Withdraw yourself from such.</span>
  <span class="verse" title="1 Timothy 6:6" id="1_Timothy-6-6">But godliness with contentment is great gain.</span>
  <span class="verse" title="1 Timothy 6:7" id="1_Timothy-6-7">For we brought nothing into the world, and we certainly can&#8217;t carry anything out.</span>
  <span class="verse" title="1 Timothy 6:8" id="1_Timothy-6-8">But having food and clothing, we will be content with that.</span>
  <span class="verse" title="1 Timothy 6:9" id="1_Timothy-6-9">But those who are determined to be rich fall into a temptation and a snare and many foolish and harmful lusts, such as drown men in ruin and destruction.</span>
  <span class="verse" title="1 Timothy 6:10" id="1_Timothy-6-10">For the love of money is a root of all kinds of evil. Some have been led astray from the faith in their greed, and have pierced themselves through with many sorrows.</span>
  <span class="verse" title="1 Timothy 6:11" id="1_Timothy-6-11">But you, man of God, flee these things, and follow after righteousness, godliness, faith, love, patience, and gentleness.</span>
  <span class="verse" title="1 Timothy 6:12" id="1_Timothy-6-12">Fight the good fight of faith. Lay hold of the eternal life to which you were called, and you confessed the good confession in the sight of many witnesses.</span>
  <span class="verse" title="1 Timothy 6:13" id="1_Timothy-6-13">I command you before God, who gives life to all things, and before Christ Jesus, who before Pontius Pilate testified the good confession,</span>
  <span class="verse" title="1 Timothy 6:14" id="1_Timothy-6-14">that you keep the commandment without spot, blameless, until the appearing of our Lord Jesus Christ;</span>
  <span class="verse" title="1 Timothy 6:15" id="1_Timothy-6-15">which in its own times he will show, who is the blessed and only Ruler, the King of kings, and Lord of lords;</span>
  <span class="verse" title="1 Timothy 6:16" id="1_Timothy-6-16">who alone has immortality, dwelling in unapproachable light; whom no man has seen, nor can see: to whom be honor and eternal power. Amen.</span>
  <span class="verse" title="1 Timothy 6:17" id="1_Timothy-6-17">Charge those who are rich in this present world that they not be haughty, nor have their hope set on the uncertainty of riches, but on the living God, who richly provides us with everything to enjoy;</span>
  <span class="verse" title="1 Timothy 6:18" id="1_Timothy-6-18">that they do good, that they be rich in good works, that they be ready to distribute, willing to communicate;</span>
  <span class="verse" title="1 Timothy 6:19" id="1_Timothy-6-19">laying up in store for themselves a good foundation against the time to come, that they may lay hold of eternal life.</span>
  <span class="verse" title="1 Timothy 6:20" id="1_Timothy-6-20">Timothy, guard that which is committed to you, turning away from the empty chatter and oppositions of the knowledge which is falsely so called;</span>
  <span class="verse" title="1 Timothy 6:21" id="1_Timothy-6-21">which some professing have erred concerning the faith. Grace be with you. Amen.</span>
</div>