<div class="chapter" id="2 Thessalonians-001">
  <h2>2 Thessalonians 1</h2>
  <span class="verse" title="2 Thessalonians 1:1" id="2_Thessalonians-1-1">Paul, Silvanus, and Timothy, to the assembly of the Thessalonians in God our Father, and the Lord Jesus Christ:</span>
  <span class="verse" title="2 Thessalonians 1:2" id="2_Thessalonians-1-2">Grace to you and peace from God our Father and the Lord Jesus Christ.</span>
  <span class="verse" title="2 Thessalonians 1:3" id="2_Thessalonians-1-3">We are bound to always give thanks to God for you, brothers, even as it is appropriate, because your faith grows exceedingly, and the love of each and every one of you towards one another abounds;</span>
  <span class="verse" title="2 Thessalonians 1:4" id="2_Thessalonians-1-4">so that we ourselves boast about you in the assemblies of God for your patience and faith in all your persecutions and in the afflictions which you endure.</span>
  <span class="verse" title="2 Thessalonians 1:5" id="2_Thessalonians-1-5">This is an obvious sign of the righteous judgment of God, to the end that you may be counted worthy of the Kingdom of God, for which you also suffer.</span>
  <span class="verse" title="2 Thessalonians 1:6" id="2_Thessalonians-1-6">Since it is a righteous thing with God to repay affliction to those who afflict you,</span>
  <span class="verse" title="2 Thessalonians 1:7" id="2_Thessalonians-1-7">and to give relief to you who are afflicted with us, when the Lord Jesus is revealed from heaven with his mighty angels in flaming fire,</span>
  <span class="verse" title="2 Thessalonians 1:8" id="2_Thessalonians-1-8">giving vengeance to those who don&#8217;t know God, and to those who don&#8217;t obey the Good News of our Lord Jesus,</span>
  <span class="verse" title="2 Thessalonians 1:9" id="2_Thessalonians-1-9">who will pay the penalty: eternal destruction from the face of the Lord and from the glory of his might,</span>
  <span class="verse" title="2 Thessalonians 1:10" id="2_Thessalonians-1-10">when he comes to be glorified in his saints, and to be admired among all those who have believed (because our testimony to you was believed) in that day.</span>
  <span class="verse" title="2 Thessalonians 1:11" id="2_Thessalonians-1-11">To this end we also pray always for you, that our God may count you worthy of your calling, and fulfill every desire of goodness and work of faith, with power;</span>
  <span class="verse" title="2 Thessalonians 1:12" id="2_Thessalonians-1-12">that the name of our Lord Jesus may be glorified in you, and you in him, according to the grace of our God and the Lord Jesus Christ.</span>
</div>