<div class="chapter" id="2 Thessalonians-002">
  <h2>2 Thessalonians 2</h2>
  <span class="verse" title="2 Thessalonians 2:1" id="2_Thessalonians-2-1">Now, brothers, concerning the coming of our Lord Jesus Christ, and our gathering together to him, we ask you</span>
  <span class="verse" title="2 Thessalonians 2:2" id="2_Thessalonians-2-2">not to be quickly shaken in your mind, nor yet be troubled, either by spirit, or by word, or by letter as from us, saying that the day of Christ had come.</span>
  <span class="verse" title="2 Thessalonians 2:3" id="2_Thessalonians-2-3">Let no one deceive you in any way. For it will not be, unless the departure comes first, and the man of sin is revealed, the son of destruction,</span>
  <span class="verse" title="2 Thessalonians 2:4" id="2_Thessalonians-2-4">he who opposes and exalts himself against all that is called God or that is worshiped; so that he sits as God in the temple of God, setting himself up as God.</span>
  <span class="verse" title="2 Thessalonians 2:5" id="2_Thessalonians-2-5">Don&#8217;t you remember that, when I was still with you, I told you these things?</span>
  <span class="verse" title="2 Thessalonians 2:6" id="2_Thessalonians-2-6">Now you know what is restraining him, to the end that he may be revealed in his own season.</span>
  <span class="verse" title="2 Thessalonians 2:7" id="2_Thessalonians-2-7">For the mystery of lawlessness already works. Only there is one who restrains now, until he is taken out of the way.</span>
  <span class="verse" title="2 Thessalonians 2:8" id="2_Thessalonians-2-8">Then the lawless one will be revealed, whom the Lord will kill with the breath of his mouth, and destroy by the manifestation of his coming;</span>
  <span class="verse" title="2 Thessalonians 2:9" id="2_Thessalonians-2-9">even he whose coming is according to the working of Satan with all power and signs and lying wonders,</span>
  <span class="verse" title="2 Thessalonians 2:10" id="2_Thessalonians-2-10">and with all deception of wickedness for those who are being lost, because they didn&#8217;t receive the love of the truth, that they might be saved.</span>
  <span class="verse" title="2 Thessalonians 2:11" id="2_Thessalonians-2-11">Because of this, God sends them a working of error, that they should believe a lie;</span>
  <span class="verse" title="2 Thessalonians 2:12" id="2_Thessalonians-2-12">that they all might be judged who didn&#8217;t believe the truth, but had pleasure in unrighteousness.</span>
  <span class="verse" title="2 Thessalonians 2:13" id="2_Thessalonians-2-13">But we are bound to always give thanks to God for you, brothers loved by the Lord, because God chose you from the beginning for salvation through sanctification of the Spirit and belief in the truth;</span>
  <span class="verse" title="2 Thessalonians 2:14" id="2_Thessalonians-2-14">to which he called you through our Good News, for the obtaining of the glory of our Lord Jesus Christ.</span>
  <span class="verse" title="2 Thessalonians 2:15" id="2_Thessalonians-2-15">So then, brothers, stand firm, and hold the traditions which you were taught by us, whether by word, or by letter.</span>
  <span class="verse" title="2 Thessalonians 2:16" id="2_Thessalonians-2-16">Now our Lord Jesus Christ himself, and God our Father, who loved us and gave us eternal comfort and good hope through grace,</span>
  <span class="verse" title="2 Thessalonians 2:17" id="2_Thessalonians-2-17">comfort your hearts and establish you in every good work and word.</span>
</div>