<div class="chapter" id="2 Thessalonians-003">
  <h2>2 Thessalonians 3</h2>
  <span class="verse" title="2 Thessalonians 3:1" id="2_Thessalonians-3-1">Finally, brothers, pray for us, that the word of the Lord may spread rapidly and be glorified, even as also with you;</span>
  <span class="verse" title="2 Thessalonians 3:2" id="2_Thessalonians-3-2">and that we may be delivered from unreasonable and evil men; for not all have faith.</span>
  <span class="verse" title="2 Thessalonians 3:3" id="2_Thessalonians-3-3">But the Lord is faithful, who will establish you, and guard you from the evil one.</span>
  <span class="verse" title="2 Thessalonians 3:4" id="2_Thessalonians-3-4">We have confidence in the Lord concerning you, that you both do and will do the things we command.</span>
  <span class="verse" title="2 Thessalonians 3:5" id="2_Thessalonians-3-5">May the Lord direct your hearts into the love of God, and into the patience of Christ.</span>
  <span class="verse" title="2 Thessalonians 3:6" id="2_Thessalonians-3-6">Now we command you, brothers, in the name of our Lord Jesus Christ, that you withdraw yourselves from every brother who walks in rebellion, and not after the tradition which they received from us.</span>
  <span class="verse" title="2 Thessalonians 3:7" id="2_Thessalonians-3-7">For you know how you ought to imitate us. For we didn&#8217;t behave ourselves rebelliously among you,</span>
  <span class="verse" title="2 Thessalonians 3:8" id="2_Thessalonians-3-8">neither did we eat bread from anyone&#8217;s hand without paying for it, but in labor and travail worked night and day, that we might not burden any of you;</span>
  <span class="verse" title="2 Thessalonians 3:9" id="2_Thessalonians-3-9">not because we don&#8217;t have the right, but to make ourselves an example to you, that you should imitate us.</span>
  <span class="verse" title="2 Thessalonians 3:10" id="2_Thessalonians-3-10">For even when we were with you, we commanded you this: &#8220;If anyone will not work, neither let him eat.&#8221;</span>
  <span class="verse" title="2 Thessalonians 3:11" id="2_Thessalonians-3-11">For we hear of some who walk among you in rebellion, who don&#8217;t work at all, but are busybodies.</span>
  <span class="verse" title="2 Thessalonians 3:12" id="2_Thessalonians-3-12">Now those who are that way, we command and exhort in the Lord Jesus Christ, that with quietness they work, and eat their own bread.</span>
  <span class="verse" title="2 Thessalonians 3:13" id="2_Thessalonians-3-13">But you, brothers, don&#8217;t be weary in doing well.</span>
  <span class="verse" title="2 Thessalonians 3:14" id="2_Thessalonians-3-14">If any man doesn&#8217;t obey our word in this letter, note that man, that you have no company with him, to the end that he may be ashamed.</span>
  <span class="verse" title="2 Thessalonians 3:15" id="2_Thessalonians-3-15">Don&#8217;t count him as an enemy, but admonish him as a brother.</span>
  <span class="verse" title="2 Thessalonians 3:16" id="2_Thessalonians-3-16">Now may the Lord of peace himself give you peace at all times in all ways. The Lord be with you all.</span>
  <span class="verse" title="2 Thessalonians 3:17" id="2_Thessalonians-3-17">The greeting of me, Paul, with my own hand, which is the sign in every letter: this is how I write.</span>
  <span class="verse" title="2 Thessalonians 3:18" id="2_Thessalonians-3-18">The grace of our Lord Jesus Christ be with you all. Amen.</span>
</div>