<% content_for :sidebar do %>
  <p>
    <%= link_to image_tag('acrobat.gif', :alt => 'Adobe Reader', :class => 'no-border'), 'http://www.adobe.com/products/acrobat/readstep2.html' %>
    Make sure you have <%= link_to 'Adobe Reader', 'http://www.adobe.com/products/acrobat/readstep2.html' %>
    or another program that can view PDF files.
  </p>
<% end %>

<p id="status" style="display:none;">
  We're building your custom PDF right now. It will take a little while, but probably
  not more than a minute. <strong>Do not close your browser or go to another page.</strong><br/>
  <%= image_tag 'spinner.gif', :alt => 'loading', :class => 'no-border', :id => 'spinner' %>
</p>

<% form_remote_tag :url => {:action => 'directory_to_pdf', :generate => true}, :html => {:id => 'generate_form'} do %>
  <p>Click the button below to generate your custom PDF file.</p>
  <p><%= submit_tag 'Generate my Printable Directory' %></p>
<% end %>