<% if stream_item.person %>
  <span class="nowrap">
    <a href="<%= url_for stream_item.person %>">
      <%= image_tag stream_item.person.photo.exists? ? stream_item.person.photo.url(:tn) : (stream_item.person.gender == 'Female' ? 'woman.tn.gif' : 'man.tn.gif'),
        :alt => stream_item.person.name %>
    </a>
  </span>
<% else %>
  <%= image_tag 'man.tn.gif', :alt => '' %>
<% end %>
