<% content_for :toolbar do %>
  <h1>Home</h1>
  <%= link_to 'Sign Out', session_path, :method => :delete, :class => 'button leftButton' %>
<% end %>

<ul>
  <li class="arrow"><%= link_to image_tag('user.png', :alt => 'Profile', :class => 'thumbnail', :width => 16, :height => 16) + @logged_in.name, @logged_in, :style => 'right:45px;' %></li>
  <li class="arrow"><%= link_to image_tag('magnifier.png', :alt => 'Search', :class => 'thumbnail', :width => 16, :height => 16) + 'Search for People', new_search_path %></li>
</ul>

<%= render :partial => 'streams/stream_items_iphone' %>
