= form_for @attachment, html: {multipart: true, style: 'width:400px;border:none;'} do |form|
  = form.hidden_field :group_id
  .form-group
    = file_field_tag 'attachment[file]', id: 'attachment_file'
  .form-group
    = form.button t('attachments.upload_file'), class: 'btn btn-success'
