- @title = t('generated_files.building')

#build_loading
  .progress.progress-striped.active
    .progress-bar{ role: 'progressbar', 'aria-valuenow' => 100, 'aria-valuemin' => 0, 'aria-valuemax' => 100, style: 'width: 100%' }

- content_for(:js) do
  :javascript
    $.get('#{escape_javascript generated_file_path(params[:id], format: :js, count: 0)}')
