<div class="loading-centered">
  <h2 id="build_heading"><%= t('generated_files.building') %></h2>
  <p id="build_loading"><%= image_tag 'spinner.gif', alt: t('generated_files.building') %></p>
</div>

<script type="text/javascript">
  setTimeout(function(){ $.get('<%= escape_javascript generated_file_path(params[:id], format: :js, count: 1) %>') }, 10000);
</script>
