<div class="chapter" id="1 Thessalonians-003">
  <h2>1 Thessalonians 3</h2>
  <span class="verse" title="1 Thessalonians 3:1" id="1_Thessalonians-3-1">Therefore, when we couldn&#8217;t stand it any longer, we thought it good to be left behind at Athens alone,</span>
  <span class="verse" title="1 Thessalonians 3:2" id="1_Thessalonians-3-2">and sent Timothy, our brother and God&#8217;s servant in the Good News of Christ, to establish you, and to comfort you concerning your faith;</span>
  <span class="verse" title="1 Thessalonians 3:3" id="1_Thessalonians-3-3">that no one be moved by these afflictions. For you know that we are appointed to this task.</span>
  <span class="verse" title="1 Thessalonians 3:4" id="1_Thessalonians-3-4">For most certainly, when we were with you, we told you beforehand that we are to suffer affliction, even as it happened, and you know.</span>
  <span class="verse" title="1 Thessalonians 3:5" id="1_Thessalonians-3-5">For this cause I also, when I couldn&#8217;t stand it any longer, sent that I might know your faith, for fear that by any means the tempter had tempted you, and our labor would have been in vain.</span>
  <span class="verse" title="1 Thessalonians 3:6" id="1_Thessalonians-3-6">But when Timothy came just now to us from you, and brought us glad news of your faith and love, and that you have good memories of us always, longing to see us, even as we also long to see you;</span>
  <span class="verse" title="1 Thessalonians 3:7" id="1_Thessalonians-3-7">for this cause, brothers, we were comforted over you in all our distress and affliction through your faith.</span>
  <span class="verse" title="1 Thessalonians 3:8" id="1_Thessalonians-3-8">For now we live, if you stand fast in the Lord.</span>
  <span class="verse" title="1 Thessalonians 3:9" id="1_Thessalonians-3-9">For what thanksgiving can we render again to God for you, for all the joy with which we rejoice for your sakes before our God;</span>
  <span class="verse" title="1 Thessalonians 3:10" id="1_Thessalonians-3-10">night and day praying exceedingly that we may see your face, and may perfect that which is lacking in your faith?</span>
  <span class="verse" title="1 Thessalonians 3:11" id="1_Thessalonians-3-11">Now may our God and Father himself, and our Lord Jesus Christ, direct our way to you;</span>
  <span class="verse" title="1 Thessalonians 3:12" id="1_Thessalonians-3-12">and the Lord make you to increase and abound in love one toward another, and toward all men, even as we also do toward you,</span>
  <span class="verse" title="1 Thessalonians 3:13" id="1_Thessalonians-3-13">to the end he may establish your hearts blameless in holiness before our God and Father, at the coming of our Lord Jesus with all his saints.</span>
</div>