<div class="chapter" id="1 Thessalonians-004">
  <h2>1 Thessalonians 4</h2>
  <span class="verse" title="1 Thessalonians 4:1" id="1_Thessalonians-4-1">Finally then, brothers, we beg and exhort you in the Lord Jesus, that as you received from us how you ought to walk and to please God, that you abound more and more.</span>
  <span class="verse" title="1 Thessalonians 4:2" id="1_Thessalonians-4-2">For you know what instructions we gave you through the Lord Jesus.</span>
  <span class="verse" title="1 Thessalonians 4:3" id="1_Thessalonians-4-3">For this is the will of God: your sanctification, that you abstain from sexual immorality,</span>
  <span class="verse" title="1 Thessalonians 4:4" id="1_Thessalonians-4-4">that each one of you know how to possess himself of his own vessel in sanctification and honor,</span>
  <span class="verse" title="1 Thessalonians 4:5" id="1_Thessalonians-4-5">not in the passion of lust, even as the Gentiles who don&#8217;t know God;</span>
  <span class="verse" title="1 Thessalonians 4:6" id="1_Thessalonians-4-6">that no one should take advantage of and wrong a brother or sister in this matter; because the Lord is an avenger in all these things, as also we forewarned you and testified.</span>
  <span class="verse" title="1 Thessalonians 4:7" id="1_Thessalonians-4-7">For God called us not for uncleanness, but in sanctification.</span>
  <span class="verse" title="1 Thessalonians 4:8" id="1_Thessalonians-4-8">Therefore he who rejects this doesn&#8217;t reject man, but God, who has also given his Holy Spirit to you.</span>
  <span class="verse" title="1 Thessalonians 4:9" id="1_Thessalonians-4-9">But concerning brotherly love, you have no need that one write to you. For you yourselves are taught by God to love one another,</span>
  <span class="verse" title="1 Thessalonians 4:10" id="1_Thessalonians-4-10">for indeed you do it toward all the brothers who are in all Macedonia. But we exhort you, brothers, that you abound more and more;</span>
  <span class="verse" title="1 Thessalonians 4:11" id="1_Thessalonians-4-11">and that you make it your ambition to lead a quiet life, and to do your own business, and to work with your own hands, even as we instructed you;</span>
  <span class="verse" title="1 Thessalonians 4:12" id="1_Thessalonians-4-12">that you may walk properly toward those who are outside, and may have need of nothing.</span>
  <span class="verse" title="1 Thessalonians 4:13" id="1_Thessalonians-4-13">But we don&#8217;t want you to be ignorant, brothers, concerning those who have fallen asleep, so that you don&#8217;t grieve like the rest, who have no hope.</span>
  <span class="verse" title="1 Thessalonians 4:14" id="1_Thessalonians-4-14">For if we believe that Jesus died and rose again, even so God will bring with him those who have fallen asleep in Jesus.</span>
  <span class="verse" title="1 Thessalonians 4:15" id="1_Thessalonians-4-15">For this we tell you by the word of the Lord, that we who are alive, who are left to the coming of the Lord, will in no way precede those who have fallen asleep.</span>
  <span class="verse" title="1 Thessalonians 4:16" id="1_Thessalonians-4-16">For the Lord himself will descend from heaven with a shout, with the voice of the archangel, and with God&#8217;s trumpet. The dead in Christ will rise first,</span>
  <span class="verse" title="1 Thessalonians 4:17" id="1_Thessalonians-4-17">then we who are alive, who are left, will be caught up together with them in the clouds, to meet the Lord in the air. So we will be with the Lord forever.</span>
  <span class="verse" title="1 Thessalonians 4:18" id="1_Thessalonians-4-18">Therefore comfort one another with these words.</span>
</div>