<div class="chapter" id="1 Thessalonians-005">
  <h2>1 Thessalonians 5</h2>
  <span class="verse" title="1 Thessalonians 5:1" id="1_Thessalonians-5-1">But concerning the times and the seasons, brothers, you have no need that anything be written to you.</span>
  <span class="verse" title="1 Thessalonians 5:2" id="1_Thessalonians-5-2">For you yourselves know well that the day of the Lord comes like a thief in the night.</span>
  <span class="verse" title="1 Thessalonians 5:3" id="1_Thessalonians-5-3">For when they are saying, &#8220;Peace and safety,&#8221; then sudden destruction will come on them, like birth pains on a pregnant woman; and they will in no way escape.</span>
  <span class="verse" title="1 Thessalonians 5:4" id="1_Thessalonians-5-4">But you, brothers, aren&#8217;t in darkness, that the day should overtake you like a thief.</span>
  <span class="verse" title="1 Thessalonians 5:5" id="1_Thessalonians-5-5">You are all children of light, and children of the day. We don&#8217;t belong to the night, nor to darkness,</span>
  <span class="verse" title="1 Thessalonians 5:6" id="1_Thessalonians-5-6">so then let&#8217;s not sleep, as the rest do, but let&#8217;s watch and be sober.</span>
  <span class="verse" title="1 Thessalonians 5:7" id="1_Thessalonians-5-7">For those who sleep, sleep in the night, and those who are drunk are drunk in the night.</span>
  <span class="verse" title="1 Thessalonians 5:8" id="1_Thessalonians-5-8">But let us, since we belong to the day, be sober, putting on the breastplate of faith and love, and, for a helmet, the hope of salvation.</span>
  <span class="verse" title="1 Thessalonians 5:9" id="1_Thessalonians-5-9">For God didn&#8217;t appoint us to wrath, but to the obtaining of salvation through our Lord Jesus Christ,</span>
  <span class="verse" title="1 Thessalonians 5:10" id="1_Thessalonians-5-10">who died for us, that, whether we wake or sleep, we should live together with him.</span>
  <span class="verse" title="1 Thessalonians 5:11" id="1_Thessalonians-5-11">Therefore exhort one another, and build each other up, even as you also do.</span>
  <span class="verse" title="1 Thessalonians 5:12" id="1_Thessalonians-5-12">But we beg you, brothers, to know those who labor among you, and are over you in the Lord, and admonish you,</span>
  <span class="verse" title="1 Thessalonians 5:13" id="1_Thessalonians-5-13">and to respect and honor them in love for their work&#8217;s sake. Be at peace among yourselves.</span>
  <span class="verse" title="1 Thessalonians 5:14" id="1_Thessalonians-5-14">We exhort you, brothers, admonish the disorderly, encourage the fainthearted, support the weak, be patient toward all.</span>
  <span class="verse" title="1 Thessalonians 5:15" id="1_Thessalonians-5-15">See that no one returns evil for evil to anyone, but always follow after that which is good, for one another, and for all.</span>
  <span class="verse" title="1 Thessalonians 5:16" id="1_Thessalonians-5-16">Rejoice always.</span>
  <span class="verse" title="1 Thessalonians 5:17" id="1_Thessalonians-5-17">Pray without ceasing.</span>
  <span class="verse" title="1 Thessalonians 5:18" id="1_Thessalonians-5-18">In everything give thanks, for this is the will of God in Christ Jesus toward you.</span>
  <span class="verse" title="1 Thessalonians 5:19" id="1_Thessalonians-5-19">Don&#8217;t quench the Spirit.</span>
  <span class="verse" title="1 Thessalonians 5:20" id="1_Thessalonians-5-20">Don&#8217;t despise prophesies.</span>
  <span class="verse" title="1 Thessalonians 5:21" id="1_Thessalonians-5-21">Test all things, and hold firmly that which is good.</span>
  <span class="verse" title="1 Thessalonians 5:22" id="1_Thessalonians-5-22">Abstain from every form of evil.</span>
  <span class="verse" title="1 Thessalonians 5:23" id="1_Thessalonians-5-23">May the God of peace himself sanctify you completely. May your whole spirit, soul, and body be preserved blameless at the coming of our Lord Jesus Christ.</span>
  <span class="verse" title="1 Thessalonians 5:24" id="1_Thessalonians-5-24">He who calls you is faithful, who will also do it.</span>
  <span class="verse" title="1 Thessalonians 5:25" id="1_Thessalonians-5-25">Brothers, pray for us.</span>
  <span class="verse" title="1 Thessalonians 5:26" id="1_Thessalonians-5-26">Greet all the brothers with a holy kiss.</span>
  <span class="verse" title="1 Thessalonians 5:27" id="1_Thessalonians-5-27">I solemnly command you by the Lord that this letter be read to all the holy brothers.</span>
  <span class="verse" title="1 Thessalonians 5:28" id="1_Thessalonians-5-28">The grace of our Lord Jesus Christ be with you. Amen.</span>
</div>