<% if params[:controller] == 'news' %>
  <h2 class="headline"><%= link_to news_item.title, news_item %></h2>
  <%= news_item.body %>
<% else %>
  <p style="font-weight:bold;">
    <%! link_to h(news_item.title), news_item %>
    <%= link_to h(news_item.title), news_item.link %>
  </p>
<% end %>
<div class="comment-summary">
  <%= render :partial => 'comments/comment_summary', :locals => {:object => news_item} %>
</div>