<h1>News</h1>

<p>All news here is also available here: <%= link_to NEWS_SIMPLE_URL, NEWS_URL %></p>

<% @news_items.each do |news_item| %>
  <%= render :partial => 'news_item', :locals => {:news_item => news_item} %>
<% end %>