headlines = <%= @headlines.inspect %>;
current_headline = 0;
function update_headline() {
  var h = headlines[current_headline];
  Element.hide('news_headlines');
  Element.update('news_headlines', '<a href="' + h[1] + '">' + truncate(h[0]) + '</a>');
  new Effect.Appear('news_headlines');
  current_headline++;
  if(current_headline >= headlines.length) current_headline = 0;
  setTimeout('update_headline()', 8000)
}
if($('news_headlines')) {
  setTimeout('update_headline()', 3000);
}

function truncate(text, length) {
  var length = length || 25;
  if(text.length > length) text = text.substring(0, length) + '...';
  return text
}
