<% content_for :sidebar do %>
  <h3><%= @news_item.title %></h3>
  <%= render partial: 'news_item_meta', locals: {news_item: @news_item, controls: true} %>
<% end %>

<div class="news-item">
  <%= sanitize_html @news_item.body %>
</div>

<p>
  <%= link_to t('news.return_to_news'), news_path %>
</p>
