<% content_for :subnav do %>
  <li><%= link_to image_tag('newspaper.png', :alt => I18n.t('news.all_news'), :class => 'icon') + ' ' + I18n.t('news.all_news'), news_path %></li>
<% end %>

<%= render :partial => 'news_item', :object => @news_item %>

<p>
  <%= link_to '&laquo; ' + I18n.t('news.return_to_news'), news_path %>
</p>
