<% content_for :subnav do %>
  <li><%= link_to image_tag('newspaper.png', :alt => 'All News', :class => 'icon') + ' All News', news_path %></li>
<% end %>

<%= render :partial => 'news_item', :object => @news_item %>

<p>
  <%= link_to '&laquo; return to News', news_path %>
</p>
