<p><%= link_to '&laquo; more news', :action => 'index' %></p>

<h1><%=h @news_item.title %></h1>

<p class="discreet">
  Published
  <%= @news_item.published.strftime '%B %d, %Y %I:%M %p' %>
</p>

<%= @news_item.body %>

<h2>Comments</h2>
<%= render :partial => 'comments/comments', :locals => {:comments => @news_item.comments, :params => {:news_item_id => @news_item}, :intro => 'about this news item.'} %>