<p>
  Bem vindo ao {{ site_name }}! Esta janela irá te levar por um rápido passeio pelo site.
</p>

<h2>Aba Início</h2>

<p>
  A aba de início é o lugar que você pode encontrar as mais recentes notícias, fotos, versículos, notas
  e mais de todas as pessoas que você segue no site. Clique no 
  <img src="/images/add_small.gif" class="icon"/> para compartilhar algo que você possui.
</p>

<p>
  Para importar itens automaticamente de outras redes sociais que você participa, clique nos ícones
  <img src="/images/facebook.png" alt="Conectar com o Facebook" class="icon"/>,
  <img src="/images/twitter.png" alt="Conectar com o Twitter" class="icon"/>
  e outros ícones similares no lado direito da página.
</p>

<h3>Feed</h3>

<p>
  Se você usa uma ferramenta de agregação como o <a href="http://reader.google.com">Google Reader</a>
  para seguir os seus blogs e notícias favoritos, você pode obter o endereço do feed ao
  clicar no ícone <img src="/images/feed_small.png" alt="Feed" class="icon"/>.
</p>

<h3>Explore</h3>

<p>
  Fique a vontade para explorar esta página e compartilhar algo. Quando você tiver terminado,
  clique na aba <strong>Perfil</strong> para continuar o passeio.
</p>

<div style="padding-top:5px;float:right;text-align:right;width:200px;">
  <a href="/tour?stop=true"><img src="/images/control_stop_blue.png" width="16" height="16" alt="Parar Passeio" class="icon"/></a>
  <a href="/tour?stop=true">Não mostrar isto novamente</a>
</div>
<p style="margin-bottom:0;border-top:1px solid #555;padding-top:5px;" width="16" height="16" onclick="if(Modalbox.MBoverlay.style.display=='none')location.reload()">
  Aba Início
  &middot;
  <a href="/people">Próximo</a>
  <a href="/people"><img src="/images/control_fastforward_blue.png" width="16" height="16" alt="Próximo Tema" class="icon"/></a>
</p>
