<p>
  Este é a sua página de perfil &mdash; a página que tem tudo sobre você.
  Aqui você irá ver as suas atividades recentes no site,
  coisas que você compartilhou e notas que outros te enviaram.
</p>

<p>
  Na parte esquerda estão os links para a sua família, grupos e
  outras pessoas que você segue.
</p>

<h3>Sobre você</h3>

<p>
  Alguém procurando por você no site irá ver esta página
  como você também provavalmente faz ao procurar as pessoas. 
  Você pode confirmar que as suas informações de contato e outros 
  detalhes estão atualizados ao clicar no 
  <img src="/images/pencil.png" class="icon"/> "Editar Perfil".
  Lá você pode carregar uma foto sua, mudar o seu celular, listar os seus livros
  favoritos e muito mais. <em>Compartilhe a quantidade de informações que você desejar.</em>
</p>

<h3>Privacidade</h3>

<p>
  Você pode esconder facilmente partes das suas informações
  ao clicar nas <img src="/images/lock.png" class="icon"/>
  "Configurações de Privacidade."
</p>

<div style="padding-top:5px;float:right;text-align:right;width:200px;">
  <a href="/tour?stop=true"><img src="/images/control_stop_blue.png" width="16" height="16" alt="Parar Passeio" class="icon"/></a>
  <a href="/tour?stop=true">Não mostrar isto novamente</a>
</div>
<p style="margin-bottom:0;border-top:1px solid #555;padding-top:5px;" onclick="if(Modalbox.MBoverlay.style.display=='none')location.reload()">
  <a href="/stream"><img src="/images/control_rewind_blue.png" width="16" height="16" alt="Tema Anterior" class="icon"/></a>
  Aba Perfil
  &middot;
  <a href="/groups">Próximo</a>
  <a href="/groups"><img src="/images/control_fastforward_blue.png" width="16" height="16" alt="Próximo Tema" class="icon"/></a>
</p>
