<p>
  This is your profile page &mdash; the page all about you.
  Here you'll see your own most recent activity on the site,
  things you've shared, and notes that others have sent to
  you.
</p>

<p>
  On the left are links to your family, groups, and
  other people you're keeping track of.
</p>

<h3>About You</h3>

<p>
  Someone looking for you on the site will see this page
  mostly the same way you do. You can ensure your contact
  information and other details about you are up-to-date
  by clicking <img src="/images/pencil.png" class="icon"/>
  "Edit Profile." There you can upload a picture of yourself,
  change your mobile phone number, list your favorite books,
  and much more. <em>Share as little or as much as you want.</em>
</p>

<h3>Privacy</h3>

<p>
  You can quickly and easily hide parts of your information
  by clicking <img src="/images/lock.png" class="icon"/>
  "Privacy Settings."
</p>

<div style="padding-top:5px;float:right;text-align:right;width:200px;">
  <a href="/tour?stop=true"><img src="/images/control_stop_blue.png" width="16" height="16" alt="Stop Tour" class="icon"/></a>
  <a href="/tour?stop=true">Don't show this again</a>
</div>
<p style="margin-bottom:0;border-top:1px solid #555;padding-top:5px;" onclick="if(Modalbox.MBoverlay.style.display=='none')location.reload()">
  <a href="/stream"><img src="/images/control_rewind_blue.png" width="16" height="16" alt="Previous Tour Location" class="icon"/></a>
  Profile Tab
  &middot;
  <a href="/groups">Next</a>
  <a href="/groups"><img src="/images/control_fastforward_blue.png" width="16" height="16" alt="Next Tour Location" class="icon"/></a>
</p>
