<p>
  Connect with people by interest, geography, age, etc. by joining a group. You can browse
  through the groups or search by name.
</p>

<p>
  If your group isn't listed, create a new one by clicking the
  <img src="/images/add_small.gif" class="icon"/> icon.
</p>

<h3>Features</h3>

<p>
  Each group, depending on its setup, can act as a email mailing list,
  group blog, and group calendar. Group members can easily share pictures,
  and more.
</p>

<h2>Last Stop</h2>

<p>
  You've reached the end of the tour. Click the
  <a href="/tour?stop=true"><img src="/images/control_stop_blue.png" alt="Stop Tour" class="icon"/></a>
  icon to get rid of this popup and start using the site!
</p>

<div style="padding-top:5px;float:right;text-align:right;width:200px;">
  <a href="/tour?stop=true"><img src="/images/control_stop_blue.png" alt="Stop Tour" class="icon"/></a>
  <a href="/tour?stop=true">Don't show this again</a>
</div>
<p style="margin-bottom:0;border-top:1px solid #555;padding-top:5px;" onclick="if(Modalbox.MBoverlay.style.display=='none')location.reload()">
  <a href="/search/new"><img src="/images/control_rewind_blue.png" alt="Previous Tour Location" class="icon"/></a>
  Groups Tab
</p>
