<p>
  Connect with people by interest, location, age, etc. by joining a group. You can browse
  through the groups or search by name.
</p>

<p>
  If your group isn't listed, create a new one by clicking the
  <img src="/images/add_small.gif" class="icon"/> icon.
</p>

<h3>Features</h3>

<p>
  Each group, depending on its setup, can act as a email mailing list,
  group blog, and group calendar. Group members can easily share pictures
  and more.
</p>

<div style="padding-top:5px;float:right;text-align:right;width:200px;">
  <a href="/tour?stop=true"><img src="/images/control_stop_blue.png" width="16" height="16" alt="Stop Tour" class="icon"/></a>
  <a href="/tour?stop=true">Don't show this again</a>
</div>
<p style="margin-bottom:0;border-top:1px solid #555;padding-top:5px;" onclick="if(Modalbox.MBoverlay.style.display=='none')location.reload()">
  <a href="/search/new"><img src="/images/control_rewind_blue.png" width="16" height="16" alt="Previous Tour Location" class="icon"/></a>
  Groups Tab
  &middot;
  <a href="/search/new">Next</a>
  <a href="/search/new"><img src="/images/control_fastforward_blue.png" width="16" height="16" alt="Next Tour Location" class="icon"/></a>
</p>
