<p>
  Finding people couldn't be easier! You can quickly and easily find just
  who you're looking for by entering any or all of their name in the search
  field on the left.
</p>

<p>
  The search feature is very flexible: You can narrow your search by gender, city, and more.
</p>

<h3>Other Features</h3>

<p>
  Business Directory<br/>
  Print a copy of the Directory
</p>

<div style="padding-top:5px;float:right;text-align:right;width:200px;">
  <a href="/tour?stop=true"><img src="/images/control_stop_blue.png" alt="Stop Tour" class="icon"/></a>
  <a href="/tour?stop=true">Don't show this again</a>
</div>
<p style="margin-bottom:0;border-top:1px solid #555;padding-top:5px;" onclick="if(Modalbox.MBoverlay.style.display=='none')location.reload()">
  <a href="/people"><img src="/images/control_rewind_blue.png" alt="Previous Tour Location" class="icon"/></a>
  Directory Tab
  <a href="/groups"><img src="/images/control_fastforward_blue.png" alt="Next Tour Location" class="icon"/></a>
</p>
