<p>
  Encontrar pessoas não poderia ser mais fácil! Você pode facilmente encontrar
  quem você está procurando ao entrar com qualquer parte do nome no campos busca
  à esquerda.
</p>

<p>
  A funcionalidade de busca é muito flexível: Você pode fazer a busca por sexo, cidade e mais.
</p>

<h3>Outras características</h3>

<p>
  Diretório de Negócios<br/>
  Imprima uma cópia do Diretório
</p>

<h2>Última Parada</h2>

<p>
  Você chegou ao final do passeio. Clique no
  <a href="/tour?stop=true"><img src="/images/control_stop_blue.png" alt="Parar Passeio" class="icon"/></a>
  para sair desta janela e começar o uso do site!
</p>

<div style="padding-top:5px;float:right;text-align:right;width:200px;">
  <a href="/tour?stop=true"><img src="/images/control_stop_blue.png" width="16" height="16" alt="Parar Passeio" class="icon"/></a>
  <a href="/tour?stop=true">Não mostrar isto novamente</a>
</div>
<p style="margin-bottom:0;border-top:1px solid #555;padding-top:5px;" onclick="if(Modalbox.MBoverlay.style.display=='none')location.reload()">
  <a href="/people"><img src="/images/control_rewind_blue.png" width="16" height="16" alt="Tema Anterior" class="icon"/></a>
  Aba Diretório
</p>
