<p class="highlight">
  Select people for name tags by clicking <%= image_tag 'nametag_add.gif', :alt => 'Select Icon', :class => 'icon' %>
  below. When you are finished, <%= link_to 'click here', done_selecting_for_nametags_url %>.
</p>