<h1>Checkin Name Tags</h1>

<p>Selected people:</p>

<% if @selected.any? %>
  <ul>
    <% @selected.each do |person| %>
      <li>
        <%= link_to person.name, person_url(:id => person) %>
        <%= link_to image_tag('remove.gif', :alt => 'Unselect Person', :class => 'icon'), remove_nametag_url(:id => person), :post => true %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p><em>No people have been selected yet.</em></p>
<% end %>

<p><%= link_to image_tag('add_small.gif', :alt => 'Select People for Name Tags', :class => 'icon') + ' Add', select_for_nametags_url %></p>
<% if @selected.any? %>
  <p><%= link_to image_tag('print_small.gif', :alt => 'Print Name Tags', :class => 'icon') + ' Print', print_nametags_url %></p>
<% end %>