<div class="chapter" id="Ezra-001">
  <h2>Ezra 1</h2>
  <span class="verse" title="Ezra 1:1" id="Ezra-1-1">Now in the first year of Cyrus king of Persia, that the word of Yahweh by the mouth of Jeremiah might be accomplished, Yahweh stirred up the spirit of Cyrus king of Persia, so that he made a proclamation throughout all his kingdom, and put it also in writing, saying,</span>
  <span class="verse" title="Ezra 1:2" id="Ezra-1-2">&#8220;Thus says Cyrus king of Persia, &#8216;Yahweh, the God of heaven, has given me all the kingdoms of the earth; and he has commanded me to build him a house in Jerusalem, which is in Judah.</span>
  <span class="verse" title="Ezra 1:3" id="Ezra-1-3">Whoever there is among you of all his people, may his God be with him, and let him go up to Jerusalem, which is in Judah, and build the house of Yahweh, the God of Israel (he is God), which is in Jerusalem.</span>
  <span class="verse" title="Ezra 1:4" id="Ezra-1-4">Whoever is left, in any place where he lives, let the men of his place help him with silver, with gold, with goods, and with animals, besides the freewill offering for the house of God which is in Jerusalem.&#8217;&#8221;</span>
  <span class="verse" title="Ezra 1:5" id="Ezra-1-5">Then the heads of fathers&#8217; households of Judah and Benjamin, and the priests, and the Levites, even all whose spirit God had stirred to go up rose up to build the house of Yahweh which is in Jerusalem.</span>
  <span class="verse" title="Ezra 1:6" id="Ezra-1-6">All those who were around them strengthened their hands with vessels of silver, with gold, with goods, and with animals, and with precious things, besides all that was willingly offered.</span>
  <span class="verse" title="Ezra 1:7" id="Ezra-1-7">Also Cyrus the king brought forth the vessels of the house of Yahweh, which Nebuchadnezzar had brought out of Jerusalem, and had put in the house of his gods;</span>
  <span class="verse" title="Ezra 1:8" id="Ezra-1-8">even those, Cyrus king of Persia brought out by the hand of Mithredath the treasurer, and numbered them to Sheshbazzar, the prince of Judah.</span>
  <span class="verse" title="Ezra 1:9" id="Ezra-1-9">This is the number of them: thirty platters of gold, one thousand platters of silver, twenty-nine knives,</span>
  <span class="verse" title="Ezra 1:10" id="Ezra-1-10">thirty bowls of gold, silver bowls of a second sort four hundred and ten, and other vessels one thousand.</span>
  <span class="verse" title="Ezra 1:11" id="Ezra-1-11">All the vessels of gold and of silver were five thousand and four hundred. Sheshbazzar brought all these up, when the captives were brought up from Babylon to Jerusalem.</span>
</div>