<div class="chapter" id="Ezra-002">
  <h2>Ezra 2</h2>
  <span class="verse" title="Ezra 2:1" id="Ezra-2-1">Now these are the children of the province, who went up out of the captivity of those who had been carried away, whom Nebuchadnezzar the king of Babylon had carried away to Babylon, and who returned to Jerusalem and Judah, everyone to his city;</span>
  <span class="verse" title="Ezra 2:2" id="Ezra-2-2">who came with Zerubbabel, Jeshua, Nehemiah, Seraiah, Reelaiah, Mordecai, Bilshan, Mispar, Bigvai, Rehum, Baanah. The number of the men of the people of Israel:</span>
  <span class="verse" title="Ezra 2:3" id="Ezra-2-3">The children of Parosh, two thousand one hundred seventy-two.</span>
  <span class="verse" title="Ezra 2:4" id="Ezra-2-4">The children of Shephatiah, three hundred seventy-two.</span>
  <span class="verse" title="Ezra 2:5" id="Ezra-2-5">The children of Arah, seven hundred seventy-five.</span>
  <span class="verse" title="Ezra 2:6" id="Ezra-2-6">The children of Pahathmoab, of the children of Jeshua and Joab, two thousand eight hundred twelve.</span>
  <span class="verse" title="Ezra 2:7" id="Ezra-2-7">The children of Elam, one thousand two hundred fifty-four.</span>
  <span class="verse" title="Ezra 2:8" id="Ezra-2-8">The children of Zattu, nine hundred forty-five.</span>
  <span class="verse" title="Ezra 2:9" id="Ezra-2-9">The children of Zaccai, seven hundred sixty.</span>
  <span class="verse" title="Ezra 2:10" id="Ezra-2-10">The children of Bani, six hundred forty-two.</span>
  <span class="verse" title="Ezra 2:11" id="Ezra-2-11">The children of Bebai, six hundred twenty-three.</span>
  <span class="verse" title="Ezra 2:12" id="Ezra-2-12">The children of Azgad, one thousand two hundred twenty-two.</span>
  <span class="verse" title="Ezra 2:13" id="Ezra-2-13">The children of Adonikam, six hundred sixty-six.</span>
  <span class="verse" title="Ezra 2:14" id="Ezra-2-14">The children of Bigvai, two thousand fifty-six.</span>
  <span class="verse" title="Ezra 2:15" id="Ezra-2-15">The children of Adin, four hundred fifty-four.</span>
  <span class="verse" title="Ezra 2:16" id="Ezra-2-16">The children of Ater, of Hezekiah, ninety-eight.</span>
  <span class="verse" title="Ezra 2:17" id="Ezra-2-17">The children of Bezai, three hundred twenty-three.</span>
  <span class="verse" title="Ezra 2:18" id="Ezra-2-18">The children of Jorah, one hundred twelve.</span>
  <span class="verse" title="Ezra 2:19" id="Ezra-2-19">The children of Hashum, two hundred twenty-three.</span>
  <span class="verse" title="Ezra 2:20" id="Ezra-2-20">The children of Gibbar, ninety-five.</span>
  <span class="verse" title="Ezra 2:21" id="Ezra-2-21">The children of Bethlehem, one hundred twenty-three.</span>
  <span class="verse" title="Ezra 2:22" id="Ezra-2-22">The men of Netophah, fifty-six.</span>
  <span class="verse" title="Ezra 2:23" id="Ezra-2-23">The men of Anathoth, one hundred twenty-eight.</span>
  <span class="verse" title="Ezra 2:24" id="Ezra-2-24">The children of Azmaveth, forty-two.</span>
  <span class="verse" title="Ezra 2:25" id="Ezra-2-25">The children of Kiriath Arim, Chephirah, and Beeroth, seven hundred forty-three.</span>
  <span class="verse" title="Ezra 2:26" id="Ezra-2-26">The children of Ramah and Geba, six hundred twenty-one.</span>
  <span class="verse" title="Ezra 2:27" id="Ezra-2-27">The men of Michmas, one hundred twenty-two.</span>
  <span class="verse" title="Ezra 2:28" id="Ezra-2-28">The men of Bethel and Ai, two hundred twenty-three.</span>
  <span class="verse" title="Ezra 2:29" id="Ezra-2-29">The children of Nebo, fifty-two.</span>
  <span class="verse" title="Ezra 2:30" id="Ezra-2-30">The children of Magbish, one hundred fifty-six.</span>
  <span class="verse" title="Ezra 2:31" id="Ezra-2-31">The children of the other Elam, one thousand two hundred fifty-four.</span>
  <span class="verse" title="Ezra 2:32" id="Ezra-2-32">The children of Harim, three hundred twenty.</span>
  <span class="verse" title="Ezra 2:33" id="Ezra-2-33">The children of Lod, Hadid, and Ono, seven hundred twenty-five.</span>
  <span class="verse" title="Ezra 2:34" id="Ezra-2-34">The children of Jericho, three hundred forty-five.</span>
  <span class="verse" title="Ezra 2:35" id="Ezra-2-35">The children of Senaah, three thousand six hundred thirty.</span>
  <span class="verse" title="Ezra 2:36" id="Ezra-2-36">The priests: the children of Jedaiah, of the house of Jeshua, nine hundred seventy-three.</span>
  <span class="verse" title="Ezra 2:37" id="Ezra-2-37">The children of Immer, one thousand fifty-two.</span>
  <span class="verse" title="Ezra 2:38" id="Ezra-2-38">The children of Pashhur, one thousand two hundred forty-seven.</span>
  <span class="verse" title="Ezra 2:39" id="Ezra-2-39">The children of Harim, one thousand seventeen.</span>
  <span class="verse" title="Ezra 2:40" id="Ezra-2-40">The Levites: the children of Jeshua and Kadmiel, of the children of Hodaviah, seventy-four.</span>
  <span class="verse" title="Ezra 2:41" id="Ezra-2-41">The singers: the children of Asaph, one hundred twenty-eight.</span>
  <span class="verse" title="Ezra 2:42" id="Ezra-2-42">The children of the porters: the children of Shallum, the children of Ater, the children of Talmon, the children of Akkub, the children of Hatita, the children of Shobai, in all one hundred thirty-nine.</span>
  <span class="verse" title="Ezra 2:43" id="Ezra-2-43">The Nethinim: the children of Ziha, the children of Hasupha, the children of Tabbaoth,</span>
  <span class="verse" title="Ezra 2:44" id="Ezra-2-44">the children of Keros, the children of Siaha, the children of Padon,</span>
  <span class="verse" title="Ezra 2:45" id="Ezra-2-45">the children of Lebanah, the children of Hagabah, the children of Akkub,</span>
  <span class="verse" title="Ezra 2:46" id="Ezra-2-46">the children of Hagab, the children of Shamlai, the children of Hanan,</span>
  <span class="verse" title="Ezra 2:47" id="Ezra-2-47">the children of Giddel, the children of Gahar, the children of Reaiah,</span>
  <span class="verse" title="Ezra 2:48" id="Ezra-2-48">the children of Rezin, the children of Nekoda, the children of Gazzam,</span>
  <span class="verse" title="Ezra 2:49" id="Ezra-2-49">the children of Uzza, the children of Paseah, the children of Besai,</span>
  <span class="verse" title="Ezra 2:50" id="Ezra-2-50">the children of Asnah, the children of Meunim, the children of Nephisim,</span>
  <span class="verse" title="Ezra 2:51" id="Ezra-2-51">the children of Bakbuk, the children of Hakupha, the children of Harhur,</span>
  <span class="verse" title="Ezra 2:52" id="Ezra-2-52">the children of Bazluth, the children of Mehida, the children of Harsha,</span>
  <span class="verse" title="Ezra 2:53" id="Ezra-2-53">the children of Barkos, the children of Sisera, the children of Temah,</span>
  <span class="verse" title="Ezra 2:54" id="Ezra-2-54">the children of Neziah, the children of Hatipha.</span>
  <span class="verse" title="Ezra 2:55" id="Ezra-2-55">The children of Solomon&#8217;s servants: the children of Sotai, the children of Hassophereth, the children of Peruda,</span>
  <span class="verse" title="Ezra 2:56" id="Ezra-2-56">the children of Jaalah, the children of Darkon, the children of Giddel,</span>
  <span class="verse" title="Ezra 2:57" id="Ezra-2-57">the children of Shephatiah, the children of Hattil, the children of Pochereth Hazzebaim, the children of Ami.</span>
  <span class="verse" title="Ezra 2:58" id="Ezra-2-58">All the Nethinim, and the children of Solomon&#8217;s servants, were three hundred ninety-two.</span>
  <span class="verse" title="Ezra 2:59" id="Ezra-2-59">These were those who went up from Tel Melah, Tel Harsha, Cherub, Addan, and Immer; but they could not show their fathers&#8217; houses, and their seed, whether they were of Israel:</span>
  <span class="verse" title="Ezra 2:60" id="Ezra-2-60">the children of Delaiah, the children of Tobiah, the children of Nekoda, six hundred fifty-two.</span>
  <span class="verse" title="Ezra 2:61" id="Ezra-2-61">Of the children of the priests: the children of Habaiah, the children of Hakkoz, the children of Barzillai, who took a wife of the daughters of Barzillai the Gileadite, and was called after their name.</span>
  <span class="verse" title="Ezra 2:62" id="Ezra-2-62">These sought their place among those who were registered by genealogy, but they were not found: therefore were they deemed polluted and put from the priesthood.</span>
  <span class="verse" title="Ezra 2:63" id="Ezra-2-63">The governor said to them, that they should not eat of the most holy things, until there stood up a priest with Urim and with Thummim.</span>
  <span class="verse" title="Ezra 2:64" id="Ezra-2-64">The whole assembly together was forty-two thousand three hundred sixty,</span>
  <span class="verse" title="Ezra 2:65" id="Ezra-2-65">besides their male servants and their female servants, of whom there were seven thousand three hundred thirty-seven: and they had two hundred singing men and singing women.</span>
  <span class="verse" title="Ezra 2:66" id="Ezra-2-66">Their horses were seven hundred thirty-six; their mules, two hundred forty-five;</span>
  <span class="verse" title="Ezra 2:67" id="Ezra-2-67">their camels, four hundred thirty-five; their donkeys, six thousand seven hundred and twenty.</span>
  <span class="verse" title="Ezra 2:68" id="Ezra-2-68">Some of the heads of fathers&#8217; households, when they came to the house of Yahweh which is in Jerusalem, offered willingly for the house of God to set it up in its place:</span>
  <span class="verse" title="Ezra 2:69" id="Ezra-2-69">they gave after their ability into the treasury of the work sixty-one thousand darics of gold, and five thousand minas of silver, and one hundred priests&#8217; garments.</span>
  <span class="verse" title="Ezra 2:70" id="Ezra-2-70">So the priests, and the Levites, and some of the people, and the singers, and the porters, and the Nethinim, lived in their cities, and all Israel in their cities.</span>
</div>