<div class="chapter" id="Ezra-007">
  <h2>Ezra 7</h2>
  <span class="verse" title="Ezra 7:1" id="Ezra-7-1">Now after these things, in the reign of Artaxerxes king of Persia, Ezra the son of Seraiah, the son of Azariah, the son of Hilkiah,</span>
  <span class="verse" title="Ezra 7:2" id="Ezra-7-2">the son of Shallum, the son of Zadok, the son of Ahitub,</span>
  <span class="verse" title="Ezra 7:3" id="Ezra-7-3">the son of Amariah, the son of Azariah, the son of Meraioth,</span>
  <span class="verse" title="Ezra 7:4" id="Ezra-7-4">the son of Zerahiah, the son of Uzzi, the son of Bukki,</span>
  <span class="verse" title="Ezra 7:5" id="Ezra-7-5">the son of Abishua, the son of Phinehas, the son of Eleazar, the son of Aaron the chief priest;</span>
  <span class="verse" title="Ezra 7:6" id="Ezra-7-6">this Ezra went up from Babylon: and he was a ready scribe in the law of Moses, which Yahweh, the God of Israel, had given; and the king granted him all his request, according to the hand of Yahweh his God on him.</span>
  <span class="verse" title="Ezra 7:7" id="Ezra-7-7">There went up some of the children of Israel, and of the priests, and the Levites, and the singers, and the porters, and the Nethinim, to Jerusalem, in the seventh year of Artaxerxes the king.</span>
  <span class="verse" title="Ezra 7:8" id="Ezra-7-8">He came to Jerusalem in the fifth month, which was in the seventh year of the king.</span>
  <span class="verse" title="Ezra 7:9" id="Ezra-7-9">For on the first day of the first month began he to go up from Babylon; and on the first day of the fifth month came he to Jerusalem, according to the good hand of his God on him.</span>
  <span class="verse" title="Ezra 7:10" id="Ezra-7-10">For Ezra had set his heart to seek the law of Yahweh, and to do it, and to teach in Israel statutes and ordinances.</span>
  <span class="verse" title="Ezra 7:11" id="Ezra-7-11">Now this is the copy of the letter that the king Artaxerxes gave to Ezra the priest, the scribe, even the scribe of the words of the commandments of Yahweh, and of his statutes to Israel:</span>
  <span class="verse" title="Ezra 7:12" id="Ezra-7-12">Artaxerxes, king of kings, to Ezra the priest, the scribe of the law of the God of heaven, perfect and so forth.</span>
  <span class="verse" title="Ezra 7:13" id="Ezra-7-13">I make a decree, that all those of the people of Israel, and their priests and the Levites, in my realm, who are minded of their own free will to go to Jerusalem, go with you.</span>
  <span class="verse" title="Ezra 7:14" id="Ezra-7-14">Because you are sent of the king and his seven counselors, to inquire concerning Judah and Jerusalem, according to the law of your God which is in your hand,</span>
  <span class="verse" title="Ezra 7:15" id="Ezra-7-15">and to carry the silver and gold, which the king and his counselors have freely offered to the God of Israel, whose habitation is in Jerusalem,</span>
  <span class="verse" title="Ezra 7:16" id="Ezra-7-16">and all the silver and gold that you shall find in all the province of Babylon, with the freewill offering of the people, and of the priests, offering willingly for the house of their God which is in Jerusalem;</span>
  <span class="verse" title="Ezra 7:17" id="Ezra-7-17">therefore you shall with all diligence buy with this money bulls, rams, lambs, with their meal offerings and their drink offerings, and shall offer them on the altar of the house of your God which is in Jerusalem.</span>
  <span class="verse" title="Ezra 7:18" id="Ezra-7-18">Whatever shall seem good to you and to your brothers to do with the rest of the silver and the gold, do that after the will of your God.</span>
  <span class="verse" title="Ezra 7:19" id="Ezra-7-19">The vessels that are given to you for the service of the house of your God, deliver before the God of Jerusalem.</span>
  <span class="verse" title="Ezra 7:20" id="Ezra-7-20">Whatever more shall be needful for the house of your God, which you shall have occasion to bestow, bestow it out of the king&#8217;s treasure house.</span>
  <span class="verse" title="Ezra 7:21" id="Ezra-7-21">I, even I Artaxerxes the king, do make a decree to all the treasurers who are beyond the River, that whatever Ezra the priest, the scribe of the law of the God of heaven, shall require of you, it be done with all diligence,</span>
  <span class="verse" title="Ezra 7:22" id="Ezra-7-22">to one hundred talents of silver, and to one hundred measures of wheat, and to one hundred baths of wine, and to one hundred baths of oil, and salt without prescribing how much.</span>
  <span class="verse" title="Ezra 7:23" id="Ezra-7-23">Whatever is commanded by the God of heaven, let it be done exactly for the house of the God of heaven; for why should there be wrath against the realm of the king and his sons?</span>
  <span class="verse" title="Ezra 7:24" id="Ezra-7-24">Also we inform you, that touching any of the priests and Levites, the singers, porters, Nethinim, or servants of this house of God, it shall not be lawful to impose tribute, custom, or toll, on them.</span>
  <span class="verse" title="Ezra 7:25" id="Ezra-7-25">You, Ezra, after the wisdom of your God who is in your hand, appoint magistrates and judges, who may judge all the people who are beyond the River, all such as know the laws of your God; and teach him who doesn&#8217;t know them.</span>
  <span class="verse" title="Ezra 7:26" id="Ezra-7-26">Whoever will not do the law of your God, and the law of the king, let judgment be executed on him with all diligence, whether it be to death, or to banishment, or to confiscation of goods, or to imprisonment.</span>
  <span class="verse" title="Ezra 7:27" id="Ezra-7-27">Blessed be Yahweh, the God of our fathers, who has put such a thing as this in the king&#8217;s heart, to beautify the house of Yahweh which is in Jerusalem;</span>
  <span class="verse" title="Ezra 7:28" id="Ezra-7-28">and has extended loving kindness to me before the king, and his counselors, and before all the king&#8217;s mighty princes. I was strengthened according to the hand of Yahweh my God on me, and I gathered together out of Israel chief men to go up with me.</span>
</div>