<div class="chapter" id="Ezra-008">
  <h2>Ezra 8</h2>
  <span class="verse" title="Ezra 8:1" id="Ezra-8-1">Now these are the heads of their fathers&#8217; households, and this is the genealogy of those who went up with me from Babylon, in the reign of Artaxerxes the king:</span>
  <span class="verse" title="Ezra 8:2" id="Ezra-8-2">Of the sons of Phinehas, Gershom. Of the sons of Ithamar, Daniel. Of the sons of David, Hattush.</span>
  <span class="verse" title="Ezra 8:3" id="Ezra-8-3">Of the sons of Shecaniah, of the sons of Parosh, Zechariah; and with him were reckoned by genealogy of the males one hundred fifty.</span>
  <span class="verse" title="Ezra 8:4" id="Ezra-8-4">Of the sons of Pahathmoab, Eliehoenai the son of Zerahiah; and with him two hundred males.</span>
  <span class="verse" title="Ezra 8:5" id="Ezra-8-5">Of the sons of Shecaniah, the son of Jahaziel; and with him three hundred males.</span>
  <span class="verse" title="Ezra 8:6" id="Ezra-8-6">Of the sons of Adin, Ebed the son of Jonathan; and with him fifty males.</span>
  <span class="verse" title="Ezra 8:7" id="Ezra-8-7">Of the sons of Elam, Jeshaiah the son of Athaliah; and with him seventy males.</span>
  <span class="verse" title="Ezra 8:8" id="Ezra-8-8">Of the sons of Shephatiah, Zebadiah the son of Michael; and with him eighty males.</span>
  <span class="verse" title="Ezra 8:9" id="Ezra-8-9">Of the sons of Joab, Obadiah the son of Jehiel; and with him two hundred and eighteen males.</span>
  <span class="verse" title="Ezra 8:10" id="Ezra-8-10">Of the sons of Shelomith, the son of Josiphiah; and with him one hundred sixty males.</span>
  <span class="verse" title="Ezra 8:11" id="Ezra-8-11">Of the sons of Bebai, Zechariah the son of Bebai; and with him twenty-eight males.</span>
  <span class="verse" title="Ezra 8:12" id="Ezra-8-12">Of the sons of Azgad, Johanan the son of Hakkatan; and with him one hundred ten males.</span>
  <span class="verse" title="Ezra 8:13" id="Ezra-8-13">Of the sons of Adonikam, who were the last; and these are their names: Eliphelet, Jeuel, and Shemaiah; and with them sixty males.</span>
  <span class="verse" title="Ezra 8:14" id="Ezra-8-14">Of the sons of Bigvai, Uthai and Zabbud; and with them seventy males.</span>
  <span class="verse" title="Ezra 8:15" id="Ezra-8-15">I gathered them together to the river that runs to Ahava; and there we encamped three days: and I viewed the people, and the priests, and found there none of the sons of Levi.</span>
  <span class="verse" title="Ezra 8:16" id="Ezra-8-16">Then sent I for Eliezer, for Ariel, for Shemaiah, and for Elnathan, and for Jarib, and for Elnathan, and for Nathan, and for Zechariah, and for Meshullam, chief men; also for Joiarib, and for Elnathan, who were teachers.</span>
  <span class="verse" title="Ezra 8:17" id="Ezra-8-17">I sent them forth to Iddo the chief at the place Casiphia; and I told them what they should tell Iddo, and his brothers the Nethinim, at the place Casiphia, that they should bring to us ministers for the house of our God.</span>
  <span class="verse" title="Ezra 8:18" id="Ezra-8-18">According to the good hand of our God on us they brought us a man of discretion, of the sons of Mahli, the son of Levi, the son of Israel; and Sherebiah, with his sons and his brothers, eighteen;</span>
  <span class="verse" title="Ezra 8:19" id="Ezra-8-19">and Hashabiah, and with him Jeshaiah of the sons of Merari, his brothers and their sons, twenty;</span>
  <span class="verse" title="Ezra 8:20" id="Ezra-8-20">and of the Nethinim, whom David and the princes had given for the service of the Levites, two hundred and twenty Nethinim: all of them were mentioned by name.</span>
  <span class="verse" title="Ezra 8:21" id="Ezra-8-21">Then I proclaimed a fast there, at the river Ahava, that we might humble ourselves before our God, to seek of him a straight way for us, and for our little ones, and for all our substance.</span>
  <span class="verse" title="Ezra 8:22" id="Ezra-8-22">For I was ashamed to ask of the king a band of soldiers and horsemen to help us against the enemy in the way, because we had spoken to the king, saying, &#8220;The hand of our God is on all those who seek him, for good; but his power and his wrath is against all those who forsake him.&#8221;</span>
  <span class="verse" title="Ezra 8:23" id="Ezra-8-23">So we fasted and begged our God for this: and he was entreated of us.</span>
  <span class="verse" title="Ezra 8:24" id="Ezra-8-24">Then I set apart twelve of the chiefs of the priests, even Sherebiah, Hashabiah, and ten of their brothers with them,</span>
  <span class="verse" title="Ezra 8:25" id="Ezra-8-25">and weighed to them the silver, and the gold, and the vessels, even the offering for the house of our God, which the king, and his counselors, and his princes, and all Israel there present, had offered:</span>
  <span class="verse" title="Ezra 8:26" id="Ezra-8-26">I weighed into their hand six hundred fifty talents of silver, and silver vessels one hundred talents; of gold one hundred talents;</span>
  <span class="verse" title="Ezra 8:27" id="Ezra-8-27">and twenty bowls of gold, of one thousand darics; and two vessels of fine bright brass, precious as gold.</span>
  <span class="verse" title="Ezra 8:28" id="Ezra-8-28">I said to them, &#8220;You are holy to Yahweh, and the vessels are holy; and the silver and the gold are a freewill offering to Yahweh, the God of your fathers.</span>
  <span class="verse" title="Ezra 8:29" id="Ezra-8-29">Watch, and keep them, until you weigh them before the chiefs of the priests and the Levites, and the princes of the fathers&#8217; households of Israel, at Jerusalem, in the rooms of the house of Yahweh.&#8221;</span>
  <span class="verse" title="Ezra 8:30" id="Ezra-8-30">So the priests and the Levites received the weight of the silver and the gold, and the vessels, to bring them to Jerusalem to the house of our God.</span>
  <span class="verse" title="Ezra 8:31" id="Ezra-8-31">Then we departed from the river Ahava on the twelfth day of the first month, to go to Jerusalem: and the hand of our God was on us, and he delivered us from the hand of the enemy and the bandit by the way.</span>
  <span class="verse" title="Ezra 8:32" id="Ezra-8-32">We came to Jerusalem, and stayed there three days.</span>
  <span class="verse" title="Ezra 8:33" id="Ezra-8-33">On the fourth day the silver and the gold and the vessels were weighed in the house of our God into the hand of Meremoth the son of Uriah the priest; and with him was Eleazar the son of Phinehas; and with them was Jozabad the son of Jeshua, and Noadiah the son of Binnui, the Levite;</span>
  <span class="verse" title="Ezra 8:34" id="Ezra-8-34">the whole by number and by weight: and all the weight was written at that time.</span>
  <span class="verse" title="Ezra 8:35" id="Ezra-8-35">The children of the captivity, who had come out of exile, offered burnt offerings to the God of Israel, twelve bulls for all Israel, ninety-six rams, seventy-seven lambs, and twelve male goats for a sin offering: all this was a burnt offering to Yahweh.</span>
  <span class="verse" title="Ezra 8:36" id="Ezra-8-36">They delivered the king&#8217;s commissions to the king&#8217;s satraps, and to the governors beyond the River: and they furthered the people and the house of God.</span>
</div>