<div class="chapter" id="Ezra-010">
  <h2>Ezra 10</h2>
  <span class="verse" title="Ezra 10:1" id="Ezra-10-1">Now while Ezra prayed and made confession, weeping and casting himself down before the house of God, there was gathered together to him out of Israel a very great assembly of men and women and children; for the people wept very bitterly.</span>
  <span class="verse" title="Ezra 10:2" id="Ezra-10-2">Shecaniah the son of Jehiel, one of the sons of Elam, answered Ezra, &#8220;We have trespassed against our God, and have married foreign women of the peoples of the land. Yet now there is hope for Israel concerning this thing.</span>
  <span class="verse" title="Ezra 10:3" id="Ezra-10-3">Now therefore let us make a covenant with our God to put away all the wives, and such as are born of them, according to the counsel of my lord, and of those who tremble at the commandment of our God. Let it be done according to the law.</span>
  <span class="verse" title="Ezra 10:4" id="Ezra-10-4">Arise; for the matter belongs to you, and we are with you. Be courageous, and do it.&#8221;</span>
  <span class="verse" title="Ezra 10:5" id="Ezra-10-5">Then Ezra arose, and made the chiefs of the priests, the Levites, and all Israel, to swear that they would do according to this word. So they swore.</span>
  <span class="verse" title="Ezra 10:6" id="Ezra-10-6">Then Ezra rose up from before the house of God, and went into the room of Jehohanan the son of Eliashib: and when he came there, he ate no bread, nor drank water; for he mourned because of their trespass of the captivity.</span>
  <span class="verse" title="Ezra 10:7" id="Ezra-10-7">They made proclamation throughout Judah and Jerusalem to all the children of the captivity, that they should gather themselves together to Jerusalem;</span>
  <span class="verse" title="Ezra 10:8" id="Ezra-10-8">and that whoever didn&#8217;t come within three days, according to the counsel of the princes and the elders, all his substance should be forfeited, and himself separated from the assembly of the captivity.</span>
  <span class="verse" title="Ezra 10:9" id="Ezra-10-9">Then all the men of Judah and Benjamin gathered themselves together to Jerusalem within the three days; it was the ninth month, on the twentieth day of the month: and all the people sat in the broad place before the house of God, trembling because of this matter, and for the great rain.</span>
  <span class="verse" title="Ezra 10:10" id="Ezra-10-10">Ezra the priest stood up, and said to them, &#8220;You have trespassed, and have married foreign women, to increase the guilt of Israel.</span>
  <span class="verse" title="Ezra 10:11" id="Ezra-10-11">Now therefore make confession to Yahweh, the God of your fathers, and do his pleasure; and separate yourselves from the peoples of the land, and from the foreign women.&#8221;</span>
  <span class="verse" title="Ezra 10:12" id="Ezra-10-12">Then all the assembly answered with a loud voice, &#8220;As you have said concerning us, so must we do.</span>
  <span class="verse" title="Ezra 10:13" id="Ezra-10-13">But the people are many, and it is a time of much rain, and we are not able to stand outside; neither is this a work of one day or two; for we have greatly transgressed in this matter.</span>
  <span class="verse" title="Ezra 10:14" id="Ezra-10-14">Let now our princes be appointed for all the assembly, and let all those who are in our cities who have married foreign women come at appointed times, and with them the elders of every city, and its judges, until the fierce wrath of our God be turned from us, until this matter is resolved.&#8221;</span>
  <span class="verse" title="Ezra 10:15" id="Ezra-10-15">Only Jonathan the son of Asahel and Jahzeiah the son of Tikvah stood up against this; and Meshullam and Shabbethai the Levite helped them.</span>
  <span class="verse" title="Ezra 10:16" id="Ezra-10-16">The children of the captivity did so. Ezra the priest, with certain heads of fathers&#8217; households, after their fathers&#8217; houses, and all of them by their names, were set apart; and they sat down in the first day of the tenth month to examine the matter.</span>
  <span class="verse" title="Ezra 10:17" id="Ezra-10-17">They made an end with all the men who had married foreign women by the first day of the first month.</span>
  <span class="verse" title="Ezra 10:18" id="Ezra-10-18">Among the sons of the priests there were found who had married foreign women: of the sons of Jeshua, the son of Jozadak, and his brothers, Maaseiah, and Eliezer, and Jarib, and Gedaliah.</span>
  <span class="verse" title="Ezra 10:19" id="Ezra-10-19">They gave their hand that they would put away their wives; and being guilty, they offered a ram of the flock for their guilt.</span>
  <span class="verse" title="Ezra 10:20" id="Ezra-10-20">Of the sons of Immer: Hanani and Zebadiah.</span>
  <span class="verse" title="Ezra 10:21" id="Ezra-10-21">Of the sons of Harim: Maaseiah, and Elijah, and Shemaiah, and Jehiel, and Uzziah.</span>
  <span class="verse" title="Ezra 10:22" id="Ezra-10-22">Of the sons of Pashhur: Elioenai, Maaseiah, Ishmael, Nethanel, Jozabad, and Elasah.</span>
  <span class="verse" title="Ezra 10:23" id="Ezra-10-23">Of the Levites: Jozabad, and Shimei, and Kelaiah (the same is Kelita), Pethahiah, Judah, and Eliezer.</span>
  <span class="verse" title="Ezra 10:24" id="Ezra-10-24">Of the singers: Eliashib. Of the porters: Shallum, and Telem, and Uri.</span>
  <span class="verse" title="Ezra 10:25" id="Ezra-10-25">Of Israel: Of the sons of Parosh: Ramiah, and Izziah, and Malchijah, and Mijamin, and Eleazar, and Malchijah, and Benaiah.</span>
  <span class="verse" title="Ezra 10:26" id="Ezra-10-26">Of the sons of Elam: Mattaniah, Zechariah, and Jehiel, and Abdi, and Jeremoth, and Elijah.</span>
  <span class="verse" title="Ezra 10:27" id="Ezra-10-27">Of the sons of Zattu: Elioenai, Eliashib, Mattaniah, and Jeremoth, and Zabad, and Aziza.</span>
  <span class="verse" title="Ezra 10:28" id="Ezra-10-28">Of the sons of Bebai: Jehohanan, Hananiah, Zabbai, Athlai.</span>
  <span class="verse" title="Ezra 10:29" id="Ezra-10-29">Of the sons of Bani: Meshullam, Malluch, and Adaiah, Jashub, and Sheal, Jeremoth.</span>
  <span class="verse" title="Ezra 10:30" id="Ezra-10-30">Of the sons of Pahathmoab: Adna, and Chelal, Benaiah, Maaseiah, Mattaniah, Bezalel, and Binnui, and Manasseh.</span>
  <span class="verse" title="Ezra 10:31" id="Ezra-10-31">Of the sons of Harim: Eliezer, Isshijah, Malchijah, Shemaiah, Shimeon,</span>
  <span class="verse" title="Ezra 10:32" id="Ezra-10-32">Benjamin, Malluch, Shemariah.</span>
  <span class="verse" title="Ezra 10:33" id="Ezra-10-33">Of the sons of Hashum: Mattenai, Mattattah, Zabad, Eliphelet, Jeremai, Manasseh, Shimei.</span>
  <span class="verse" title="Ezra 10:34" id="Ezra-10-34">Of the sons of Bani: Maadai, Amram, and Uel,</span>
  <span class="verse" title="Ezra 10:35" id="Ezra-10-35">Benaiah, Bedeiah, Cheluhi,</span>
  <span class="verse" title="Ezra 10:36" id="Ezra-10-36">Vaniah, Meremoth, Eliashib,</span>
  <span class="verse" title="Ezra 10:37" id="Ezra-10-37">Mattaniah, Mattenai, and Jaasu,</span>
  <span class="verse" title="Ezra 10:38" id="Ezra-10-38">and Bani, and Binnui, Shimei,</span>
  <span class="verse" title="Ezra 10:39" id="Ezra-10-39">and Shelemiah, and Nathan, and Adaiah,</span>
  <span class="verse" title="Ezra 10:40" id="Ezra-10-40">Machnadebai, Shashai, Sharai,</span>
  <span class="verse" title="Ezra 10:41" id="Ezra-10-41">Azarel, and Shelemiah, Shemariah,</span>
  <span class="verse" title="Ezra 10:42" id="Ezra-10-42">Shallum, Amariah, Joseph.</span>
  <span class="verse" title="Ezra 10:43" id="Ezra-10-43">Of the sons of Nebo: Jeiel, Mattithiah, Zabad, Zebina, Iddo, and Joel, Benaiah.</span>
  <span class="verse" title="Ezra 10:44" id="Ezra-10-44">All these had taken foreign wives; and some of them had wives by whom they had children.</span>
</div>