<div class="chapter" id="1 Corinthians-001">
  <h2>1 Corinthians 1</h2>
  <span class="verse" title="1 Corinthians 1:1" id="1_Corinthians-1-1">Paul, called to be an apostle of Jesus Christ through the will of God, and our brother Sosthenes,</span>
  <span class="verse" title="1 Corinthians 1:2" id="1_Corinthians-1-2">to the assembly of God which is at Corinth; those who are sanctified in Christ Jesus, called to be saints, with all who call on the name of our Lord Jesus Christ in every place, both theirs and ours:</span>
  <span class="verse" title="1 Corinthians 1:3" id="1_Corinthians-1-3">Grace to you and peace from God our Father and the Lord Jesus Christ.</span>
  <span class="verse" title="1 Corinthians 1:4" id="1_Corinthians-1-4">I always thank my God concerning you, for the grace of God which was given you in Christ Jesus;</span>
  <span class="verse" title="1 Corinthians 1:5" id="1_Corinthians-1-5">that in everything you were enriched in him, in all speech and all knowledge;</span>
  <span class="verse" title="1 Corinthians 1:6" id="1_Corinthians-1-6">even as the testimony of Christ was confirmed in you:</span>
  <span class="verse" title="1 Corinthians 1:7" id="1_Corinthians-1-7">so that you come behind in no gift; waiting for the revelation of our Lord Jesus Christ;</span>
  <span class="verse" title="1 Corinthians 1:8" id="1_Corinthians-1-8">who will also confirm you until the end, blameless in the day of our Lord Jesus Christ.</span>
  <span class="verse" title="1 Corinthians 1:9" id="1_Corinthians-1-9">God is faithful, through whom you were called into the fellowship of his Son, Jesus Christ, our Lord.</span>
  <span class="verse" title="1 Corinthians 1:10" id="1_Corinthians-1-10">Now I beg you, brothers, through the name of our Lord, Jesus Christ, that you all speak the same thing and that there be no divisions among you, but that you be perfected together in the same mind and in the same judgment.</span>
  <span class="verse" title="1 Corinthians 1:11" id="1_Corinthians-1-11">For it has been reported to me concerning you, my brothers, by those who are from Chloe&#8217;s household, that there are contentions among you.</span>
  <span class="verse" title="1 Corinthians 1:12" id="1_Corinthians-1-12">Now I mean this, that each one of you says, &#8220;I follow Paul,&#8221; &#8220;I follow Apollos,&#8221; &#8220;I follow Cephas,&#8221; and, &#8220;I follow Christ.&#8221;</span>
  <span class="verse" title="1 Corinthians 1:13" id="1_Corinthians-1-13">Is Christ divided? Was Paul crucified for you? Or were you baptized into the name of Paul?</span>
  <span class="verse" title="1 Corinthians 1:14" id="1_Corinthians-1-14">I thank God that I baptized none of you, except Crispus and Gaius,</span>
  <span class="verse" title="1 Corinthians 1:15" id="1_Corinthians-1-15">so that no one should say that I had baptized you into my own name.</span>
  <span class="verse" title="1 Corinthians 1:16" id="1_Corinthians-1-16">(I also baptized the household of Stephanas; besides them, I don&#8217;t know whether I baptized any other.)</span>
  <span class="verse" title="1 Corinthians 1:17" id="1_Corinthians-1-17">For Christ sent me not to baptize, but to preach the Good News—not in wisdom of words, so that the cross of Christ wouldn&#8217;t be made void.</span>
  <span class="verse" title="1 Corinthians 1:18" id="1_Corinthians-1-18">For the word of the cross is foolishness to those who are dying, but to us who are saved it is the power of God.</span>
  <span class="verse" title="1 Corinthians 1:19" id="1_Corinthians-1-19">For it is written,  &#8220;I will destroy the wisdom of the wise,<br/> <span class="indent">&nbsp;&nbsp;</span>I will bring the discernment of the discerning to nothing.&#8221;<br/></span>
  <span class="verse" title="1 Corinthians 1:20" id="1_Corinthians-1-20">Where is the wise? Where is the scribe? Where is the lawyer of this world? Hasn&#8217;t God made foolish the wisdom of this world?</span>
  <span class="verse" title="1 Corinthians 1:21" id="1_Corinthians-1-21">For seeing that in the wisdom of God, the world through its wisdom didn&#8217;t know God, it was God&#8217;s good pleasure through the foolishness of the preaching to save those who believe.</span>
  <span class="verse" title="1 Corinthians 1:22" id="1_Corinthians-1-22">For Jews ask for signs, Greeks seek after wisdom,</span>
  <span class="verse" title="1 Corinthians 1:23" id="1_Corinthians-1-23">but we preach Christ crucified; a stumbling block to Jews, and foolishness to Greeks,</span>
  <span class="verse" title="1 Corinthians 1:24" id="1_Corinthians-1-24">but to those who are called, both Jews and Greeks, Christ is the power of God and the wisdom of God.</span>
  <span class="verse" title="1 Corinthians 1:25" id="1_Corinthians-1-25">Because the foolishness of God is wiser than men, and the weakness of God is stronger than men.</span>
  <span class="verse" title="1 Corinthians 1:26" id="1_Corinthians-1-26">For you see your calling, brothers, that not many are wise according to the flesh, not many mighty, and not many noble;</span>
  <span class="verse" title="1 Corinthians 1:27" id="1_Corinthians-1-27">but God chose the foolish things of the world that he might put to shame those who are wise. God chose the weak things of the world, that he might put to shame the things that are strong;</span>
  <span class="verse" title="1 Corinthians 1:28" id="1_Corinthians-1-28">and God chose the lowly things of the world, and the things that are despised, and the things that are not, that he might bring to nothing the things that are:</span>
  <span class="verse" title="1 Corinthians 1:29" id="1_Corinthians-1-29">that no flesh should boast before God.</span>
  <span class="verse" title="1 Corinthians 1:30" id="1_Corinthians-1-30">But of him, you are in Christ Jesus, who was made to us wisdom from God, and righteousness and sanctification, and redemption:</span>
  <span class="verse" title="1 Corinthians 1:31" id="1_Corinthians-1-31">that, according as it is written, &#8220;He who boasts, let him boast in the Lord.&#8221;</span>
</div>