<div class="chapter" id="1 Corinthians-002">
  <h2>1 Corinthians 2</h2>
  <span class="verse" title="1 Corinthians 2:1" id="1_Corinthians-2-1">When I came to you, brothers, I didn&#8217;t come with excellence of speech or of wisdom, proclaiming to you the testimony of God.</span>
  <span class="verse" title="1 Corinthians 2:2" id="1_Corinthians-2-2">For I determined not to know anything among you, except Jesus Christ, and him crucified.</span>
  <span class="verse" title="1 Corinthians 2:3" id="1_Corinthians-2-3">I was with you in weakness, in fear, and in much trembling.</span>
  <span class="verse" title="1 Corinthians 2:4" id="1_Corinthians-2-4">My speech and my preaching were not in persuasive words of human wisdom, but in demonstration of the Spirit and of power,</span>
  <span class="verse" title="1 Corinthians 2:5" id="1_Corinthians-2-5">that your faith wouldn&#8217;t stand in the wisdom of men, but in the power of God.</span>
  <span class="verse" title="1 Corinthians 2:6" id="1_Corinthians-2-6">We speak wisdom, however, among those who are full grown; yet a wisdom not of this world, nor of the rulers of this world, who are coming to nothing.</span>
  <span class="verse" title="1 Corinthians 2:7" id="1_Corinthians-2-7">But we speak God&#8217;s wisdom in a mystery, the wisdom that has been hidden, which God foreordained before the worlds for our glory,</span>
  <span class="verse" title="1 Corinthians 2:8" id="1_Corinthians-2-8">which none of the rulers of this world has known. For had they known it, they wouldn&#8217;t have crucified the Lord of glory.</span>
  <span class="verse" title="1 Corinthians 2:9" id="1_Corinthians-2-9">But as it is written,  &#8220;Things which an eye didn&#8217;t see, and an ear didn&#8217;t hear,<br/> <span class="indent">&nbsp;&nbsp;</span>which didn&#8217;t enter into the heart of man,<br/>   these God has prepared for those who love him.&#8221;<br/></span>
  <span class="verse" title="1 Corinthians 2:10" id="1_Corinthians-2-10">But to us, God revealed them through the Spirit. For the Spirit searches all things, yes, the deep things of God.</span>
  <span class="verse" title="1 Corinthians 2:11" id="1_Corinthians-2-11">For who among men knows the things of a man, except the spirit of the man, which is in him? Even so, no one knows the things of God, except God&#8217;s Spirit.</span>
  <span class="verse" title="1 Corinthians 2:12" id="1_Corinthians-2-12">But we received, not the spirit of the world, but the Spirit which is from God, that we might know the things that were freely given to us by God.</span>
  <span class="verse" title="1 Corinthians 2:13" id="1_Corinthians-2-13">Which things also we speak, not in words which man&#8217;s wisdom teaches, but which the Holy Spirit teaches, comparing spiritual things with spiritual things.</span>
  <span class="verse" title="1 Corinthians 2:14" id="1_Corinthians-2-14">Now the natural man doesn&#8217;t receive the things of God&#8217;s Spirit, for they are foolishness to him, and he can&#8217;t know them, because they are spiritually discerned.</span>
  <span class="verse" title="1 Corinthians 2:15" id="1_Corinthians-2-15">But he who is spiritual discerns all things, and he himself is judged by no one.</span>
  <span class="verse" title="1 Corinthians 2:16" id="1_Corinthians-2-16">&#8220;For who has known the mind of the Lord, that he should instruct him?&#8221; But we have Christ&#8217;s mind.</span>
</div>