<div class="chapter" id="1 Corinthians-003">
  <h2>1 Corinthians 3</h2>
  <span class="verse" title="1 Corinthians 3:1" id="1_Corinthians-3-1">Brothers, I couldn&#8217;t speak to you as to spiritual, but as to fleshly, as to babies in Christ.</span>
  <span class="verse" title="1 Corinthians 3:2" id="1_Corinthians-3-2">I fed you with milk, not with meat; for you weren&#8217;t yet ready. Indeed, not even now are you ready,</span>
  <span class="verse" title="1 Corinthians 3:3" id="1_Corinthians-3-3">for you are still fleshly. For insofar as there is jealousy, strife, and factions among you, aren&#8217;t you fleshly, and don&#8217;t you walk in the ways of men?</span>
  <span class="verse" title="1 Corinthians 3:4" id="1_Corinthians-3-4">For when one says, &#8220;I follow Paul,&#8221; and another, &#8220;I follow Apollos,&#8221; aren&#8217;t you fleshly?</span>
  <span class="verse" title="1 Corinthians 3:5" id="1_Corinthians-3-5">Who then is Apollos, and who is Paul, but servants through whom you believed; and each as the Lord gave to him?</span>
  <span class="verse" title="1 Corinthians 3:6" id="1_Corinthians-3-6">I planted. Apollos watered. But God gave the increase.</span>
  <span class="verse" title="1 Corinthians 3:7" id="1_Corinthians-3-7">So then neither he who plants is anything, nor he who waters, but God who gives the increase.</span>
  <span class="verse" title="1 Corinthians 3:8" id="1_Corinthians-3-8">Now he who plants and he who waters are the same, but each will receive his own reward according to his own labor.</span>
  <span class="verse" title="1 Corinthians 3:9" id="1_Corinthians-3-9">For we are God&#8217;s fellow workers. You are God&#8217;s farming, God&#8217;s building.</span>
  <span class="verse" title="1 Corinthians 3:10" id="1_Corinthians-3-10">According to the grace of God which was given to me, as a wise master builder I laid a foundation, and another builds on it. But let each man be careful how he builds on it.</span>
  <span class="verse" title="1 Corinthians 3:11" id="1_Corinthians-3-11">For no one can lay any other foundation than that which has been laid, which is Jesus Christ.</span>
  <span class="verse" title="1 Corinthians 3:12" id="1_Corinthians-3-12">But if anyone builds on the foundation with gold, silver, costly stones, wood, hay, or stubble;</span>
  <span class="verse" title="1 Corinthians 3:13" id="1_Corinthians-3-13">each man&#8217;s work will be revealed. For the Day will declare it, because it is revealed in fire; and the fire itself will test what sort of work each man&#8217;s work is.</span>
  <span class="verse" title="1 Corinthians 3:14" id="1_Corinthians-3-14">If any man&#8217;s work remains which he built on it, he will receive a reward.</span>
  <span class="verse" title="1 Corinthians 3:15" id="1_Corinthians-3-15">If any man&#8217;s work is burned, he will suffer loss, but he himself will be saved, but as through fire.</span>
  <span class="verse" title="1 Corinthians 3:16" id="1_Corinthians-3-16">Don&#8217;t you know that you are a temple of God, and that God&#8217;s Spirit lives in you?</span>
  <span class="verse" title="1 Corinthians 3:17" id="1_Corinthians-3-17">If anyone destroys the temple of God, God will destroy him; for God&#8217;s temple is holy, which you are.</span>
  <span class="verse" title="1 Corinthians 3:18" id="1_Corinthians-3-18">Let no one deceive himself. If anyone thinks that he is wise among you in this world, let him become a fool, that he may become wise.</span>
  <span class="verse" title="1 Corinthians 3:19" id="1_Corinthians-3-19">For the wisdom of this world is foolishness with God. For it is written, &#8220;He has taken the wise in their craftiness.&#8221;</span>
  <span class="verse" title="1 Corinthians 3:20" id="1_Corinthians-3-20">And again, &#8220;The Lord knows the reasoning of the wise, that it is worthless.&#8221;</span>
  <span class="verse" title="1 Corinthians 3:21" id="1_Corinthians-3-21">Therefore let no one boast in men. For all things are yours,</span>
  <span class="verse" title="1 Corinthians 3:22" id="1_Corinthians-3-22">whether Paul, or Apollos, or Cephas, or the world, or life, or death, or things present, or things to come. All are yours,</span>
  <span class="verse" title="1 Corinthians 3:23" id="1_Corinthians-3-23">and you are Christ&#8217;s, and Christ is God&#8217;s.</span>
</div>