<div class="chapter" id="1 Corinthians-004">
  <h2>1 Corinthians 4</h2>
  <span class="verse" title="1 Corinthians 4:1" id="1_Corinthians-4-1">So let a man think of us as Christ&#8217;s servants, and stewards of God&#8217;s mysteries.</span>
  <span class="verse" title="1 Corinthians 4:2" id="1_Corinthians-4-2">Here, moreover, it is required of stewards, that they be found faithful.</span>
  <span class="verse" title="1 Corinthians 4:3" id="1_Corinthians-4-3">But with me it is a very small thing that I should be judged by you, or by man&#8217;s judgment. Yes, I don&#8217;t judge my own self.</span>
  <span class="verse" title="1 Corinthians 4:4" id="1_Corinthians-4-4">For I know nothing against myself. Yet I am not justified by this, but he who judges me is the Lord.</span>
  <span class="verse" title="1 Corinthians 4:5" id="1_Corinthians-4-5">Therefore judge nothing before the time, until the Lord comes, who will both bring to light the hidden things of darkness, and reveal the counsels of the hearts. Then each man will get his praise from God.</span>
  <span class="verse" title="1 Corinthians 4:6" id="1_Corinthians-4-6">Now these things, brothers, I have in a figure transferred to myself and Apollos for your sakes, that in us you might learn not to think beyond the things which are written, that none of you be puffed up against one another.</span>
  <span class="verse" title="1 Corinthians 4:7" id="1_Corinthians-4-7">For who makes you different? And what do you have that you didn&#8217;t receive? But if you did receive it, why do you boast as if you had not received it?</span>
  <span class="verse" title="1 Corinthians 4:8" id="1_Corinthians-4-8">You are already filled. You have already become rich. You have come to reign without us. Yes, and I wish that you did reign, that we also might reign with you.</span>
  <span class="verse" title="1 Corinthians 4:9" id="1_Corinthians-4-9">For, I think that God has displayed us, the apostles, last of all, like men sentenced to death. For we are made a spectacle to the world, both to angels and men.</span>
  <span class="verse" title="1 Corinthians 4:10" id="1_Corinthians-4-10">We are fools for Christ&#8217;s sake, but you are wise in Christ. We are weak, but you are strong. You have honor, but we have dishonor.</span>
  <span class="verse" title="1 Corinthians 4:11" id="1_Corinthians-4-11">Even to this present hour we hunger, thirst, are naked, are beaten, and have no certain dwelling place.</span>
  <span class="verse" title="1 Corinthians 4:12" id="1_Corinthians-4-12">We toil, working with our own hands. When people curse us, we bless. Being persecuted, we endure.</span>
  <span class="verse" title="1 Corinthians 4:13" id="1_Corinthians-4-13">Being defamed, we entreat. We are made as the filth of the world, the dirt wiped off by all, even until now.</span>
  <span class="verse" title="1 Corinthians 4:14" id="1_Corinthians-4-14">I don&#8217;t write these things to shame you, but to admonish you as my beloved children.</span>
  <span class="verse" title="1 Corinthians 4:15" id="1_Corinthians-4-15">For though you have ten thousand tutors in Christ, yet not many fathers. For in Christ Jesus, I became your father through the Good News.</span>
  <span class="verse" title="1 Corinthians 4:16" id="1_Corinthians-4-16">I beg you therefore, be imitators of me.</span>
  <span class="verse" title="1 Corinthians 4:17" id="1_Corinthians-4-17">Because of this I have sent Timothy to you, who is my beloved and faithful child in the Lord, who will remind you of my ways which are in Christ, even as I teach everywhere in every assembly.</span>
  <span class="verse" title="1 Corinthians 4:18" id="1_Corinthians-4-18">Now some are puffed up, as though I were not coming to you.</span>
  <span class="verse" title="1 Corinthians 4:19" id="1_Corinthians-4-19">But I will come to you shortly, if the Lord is willing. And I will know, not the word of those who are puffed up, but the power.</span>
  <span class="verse" title="1 Corinthians 4:20" id="1_Corinthians-4-20">For the Kingdom of God is not in word, but in power.</span>
  <span class="verse" title="1 Corinthians 4:21" id="1_Corinthians-4-21">What do you want? Shall I come to you with a rod, or in love and a spirit of gentleness?</span>
</div>