<div class="chapter" id="1 Corinthians-005">
  <h2>1 Corinthians 5</h2>
  <span class="verse" title="1 Corinthians 5:1" id="1_Corinthians-5-1">It is actually reported that there is sexual immorality among you, and such sexual immorality as is not even named among the Gentiles, that one has his father&#8217;s wife.</span>
  <span class="verse" title="1 Corinthians 5:2" id="1_Corinthians-5-2">You are puffed up, and didn&#8217;t rather mourn, that he who had done this deed might be removed from among you.</span>
  <span class="verse" title="1 Corinthians 5:3" id="1_Corinthians-5-3">For I most certainly, as being absent in body but present in spirit, have already, as though I were present, judged him who has done this thing.</span>
  <span class="verse" title="1 Corinthians 5:4" id="1_Corinthians-5-4">In the name of our Lord Jesus Christ, you being gathered together, and my spirit, with the power of our Lord Jesus Christ,</span>
  <span class="verse" title="1 Corinthians 5:5" id="1_Corinthians-5-5">are to deliver such a one to Satan for the destruction of the flesh, that the spirit may be saved in the day of the Lord Jesus.</span>
  <span class="verse" title="1 Corinthians 5:6" id="1_Corinthians-5-6">Your boasting is not good. Don&#8217;t you know that a little yeast leavens the whole lump?</span>
  <span class="verse" title="1 Corinthians 5:7" id="1_Corinthians-5-7">Purge out the old yeast, that you may be a new lump, even as you are unleavened. For indeed Christ, our Passover, has been sacrificed in our place.</span>
  <span class="verse" title="1 Corinthians 5:8" id="1_Corinthians-5-8">Therefore let us keep the feast, not with old yeast, neither with the yeast of malice and wickedness, but with the unleavened bread of sincerity and truth.</span>
  <span class="verse" title="1 Corinthians 5:9" id="1_Corinthians-5-9">I wrote to you in my letter to have no company with sexual sinners;</span>
  <span class="verse" title="1 Corinthians 5:10" id="1_Corinthians-5-10">yet not at all meaning with the sexual sinners of this world, or with the covetous and extortioners, or with idolaters; for then you would have to leave the world.</span>
  <span class="verse" title="1 Corinthians 5:11" id="1_Corinthians-5-11">But as it is, I wrote to you not to associate with anyone who is called a brother who is a sexual sinner, or covetous, or an idolater, or a slanderer, or a drunkard, or an extortioner. Don&#8217;t even eat with such a person.</span>
  <span class="verse" title="1 Corinthians 5:12" id="1_Corinthians-5-12">For what have I to do with also judging those who are outside? Don&#8217;t you judge those who are within?</span>
  <span class="verse" title="1 Corinthians 5:13" id="1_Corinthians-5-13">But those who are outside, God judges. &#8220;Put away the wicked man from among yourselves.&#8221;</span>
</div>