<div class="chapter" id="1 Corinthians-006">
  <h2>1 Corinthians 6</h2>
  <span class="verse" title="1 Corinthians 6:1" id="1_Corinthians-6-1">Dare any of you, having a matter against his neighbor, go to law before the unrighteous, and not before the saints?</span>
  <span class="verse" title="1 Corinthians 6:2" id="1_Corinthians-6-2">Don&#8217;t you know that the saints will judge the world? And if the world is judged by you, are you unworthy to judge the smallest matters?</span>
  <span class="verse" title="1 Corinthians 6:3" id="1_Corinthians-6-3">Don&#8217;t you know that we will judge angels? How much more, things that pertain to this life?</span>
  <span class="verse" title="1 Corinthians 6:4" id="1_Corinthians-6-4">If then, you have to judge things pertaining to this life, do you set them to judge who are of no account in the assembly?</span>
  <span class="verse" title="1 Corinthians 6:5" id="1_Corinthians-6-5">I say this to move you to shame. Isn&#8217;t there even one wise man among you who would be able to decide between his brothers?</span>
  <span class="verse" title="1 Corinthians 6:6" id="1_Corinthians-6-6">But brother goes to law with brother, and that before unbelievers!</span>
  <span class="verse" title="1 Corinthians 6:7" id="1_Corinthians-6-7">Therefore it is already altogether a defect in you, that you have lawsuits one with another. Why not rather be wronged? Why not rather be defrauded?</span>
  <span class="verse" title="1 Corinthians 6:8" id="1_Corinthians-6-8">No, but you yourselves do wrong, and defraud, and that against your brothers.</span>
  <span class="verse" title="1 Corinthians 6:9" id="1_Corinthians-6-9">Or don&#8217;t you know that the unrighteous will not inherit the Kingdom of God? Don&#8217;t be deceived. Neither the sexually immoral, nor idolaters, nor adulterers, nor male prostitutes, nor homosexuals,</span>
  <span class="verse" title="1 Corinthians 6:10" id="1_Corinthians-6-10">nor thieves, nor covetous, nor drunkards, nor slanderers, nor extortioners, will inherit the Kingdom of God.</span>
  <span class="verse" title="1 Corinthians 6:11" id="1_Corinthians-6-11">Such were some of you, but you were washed. But you were sanctified. But you were justified in the name of the Lord Jesus, and in the Spirit of our God.</span>
  <span class="verse" title="1 Corinthians 6:12" id="1_Corinthians-6-12">&#8220;All things are lawful for me,&#8221; but not all things are expedient. &#8220;All things are lawful for me,&#8221; but I will not be brought under the power of anything.</span>
  <span class="verse" title="1 Corinthians 6:13" id="1_Corinthians-6-13">&#8220;Foods for the belly, and the belly for foods,&#8221; but God will bring to nothing both it and them. But the body is not for sexual immorality, but for the Lord; and the Lord for the body.</span>
  <span class="verse" title="1 Corinthians 6:14" id="1_Corinthians-6-14">Now God raised up the Lord, and will also raise us up by his power.</span>
  <span class="verse" title="1 Corinthians 6:15" id="1_Corinthians-6-15">Don&#8217;t you know that your bodies are members of Christ? Shall I then take the members of Christ, and make them members of a prostitute? May it never be!</span>
  <span class="verse" title="1 Corinthians 6:16" id="1_Corinthians-6-16">Or don&#8217;t you know that he who is joined to a prostitute is one body? For, &#8220;The two,&#8221; says he, &#8220;will become one flesh.&#8221;</span>
  <span class="verse" title="1 Corinthians 6:17" id="1_Corinthians-6-17">But he who is joined to the Lord is one spirit.</span>
  <span class="verse" title="1 Corinthians 6:18" id="1_Corinthians-6-18">Flee sexual immorality! &#8220;Every sin that a man does is outside the body,&#8221; but he who commits sexual immorality sins against his own body.</span>
  <span class="verse" title="1 Corinthians 6:19" id="1_Corinthians-6-19">Or don&#8217;t you know that your body is a temple of the Holy Spirit which is in you, which you have from God? You are not your own,</span>
  <span class="verse" title="1 Corinthians 6:20" id="1_Corinthians-6-20">for you were bought with a price. Therefore glorify God in your body and in your spirit, which are God&#8217;s.</span>
</div>