<div class="chapter" id="1 Corinthians-007">
  <h2>1 Corinthians 7</h2>
  <span class="verse" title="1 Corinthians 7:1" id="1_Corinthians-7-1">Now concerning the things about which you wrote to me: it is good for a man not to touch a woman.</span>
  <span class="verse" title="1 Corinthians 7:2" id="1_Corinthians-7-2">But, because of sexual immoralities, let each man have his own wife, and let each woman have her own husband.</span>
  <span class="verse" title="1 Corinthians 7:3" id="1_Corinthians-7-3">Let the husband render to his wife the affection owed her, and likewise also the wife to her husband.</span>
  <span class="verse" title="1 Corinthians 7:4" id="1_Corinthians-7-4">The wife doesn&#8217;t have authority over her own body, but the husband. Likewise also the husband doesn&#8217;t have authority over his own body, but the wife.</span>
  <span class="verse" title="1 Corinthians 7:5" id="1_Corinthians-7-5">Don&#8217;t deprive one another, unless it is by consent for a season, that you may give yourselves to fasting and prayer, and may be together again, that Satan doesn&#8217;t tempt you because of your lack of self-control.</span>
  <span class="verse" title="1 Corinthians 7:6" id="1_Corinthians-7-6">But this I say by way of concession, not of commandment.</span>
  <span class="verse" title="1 Corinthians 7:7" id="1_Corinthians-7-7">Yet I wish that all men were like me. However each man has his own gift from God, one of this kind, and another of that kind.</span>
  <span class="verse" title="1 Corinthians 7:8" id="1_Corinthians-7-8">But I say to the unmarried and to widows, it is good for them if they remain even as I am.</span>
  <span class="verse" title="1 Corinthians 7:9" id="1_Corinthians-7-9">But if they don&#8217;t have self-control, let them marry. For it&#8217;s better to marry than to burn.</span>
  <span class="verse" title="1 Corinthians 7:10" id="1_Corinthians-7-10">But to the married I command—not I, but the Lord—that the wife not leave her husband</span>
  <span class="verse" title="1 Corinthians 7:11" id="1_Corinthians-7-11">(but if she departs, let her remain unmarried, or else be reconciled to her husband), and that the husband not leave his wife.</span>
  <span class="verse" title="1 Corinthians 7:12" id="1_Corinthians-7-12">But to the rest I—not the Lord—say, if any brother has an unbelieving wife, and she is content to live with him, let him not leave her.</span>
  <span class="verse" title="1 Corinthians 7:13" id="1_Corinthians-7-13">The woman who has an unbelieving husband, and he is content to live with her, let her not leave her husband.</span>
  <span class="verse" title="1 Corinthians 7:14" id="1_Corinthians-7-14">For the unbelieving husband is sanctified in the wife, and the unbelieving wife is sanctified in the husband. Otherwise your children would be unclean, but now they are holy.</span>
  <span class="verse" title="1 Corinthians 7:15" id="1_Corinthians-7-15">Yet if the unbeliever departs, let there be separation. The brother or the sister is not under bondage in such cases, but God has called us in peace.</span>
  <span class="verse" title="1 Corinthians 7:16" id="1_Corinthians-7-16">For how do you know, wife, whether you will save your husband? Or how do you know, husband, whether you will save your wife?</span>
  <span class="verse" title="1 Corinthians 7:17" id="1_Corinthians-7-17">Only, as the Lord has distributed to each man, as God has called each, so let him walk. So I command in all the assemblies.</span>
  <span class="verse" title="1 Corinthians 7:18" id="1_Corinthians-7-18">Was anyone called having been circumcised? Let him not become uncircumcised. Has anyone been called in uncircumcision? Let him not be circumcised.</span>
  <span class="verse" title="1 Corinthians 7:19" id="1_Corinthians-7-19">Circumcision is nothing, and uncircumcision is nothing, but the keeping of the commandments of God.</span>
  <span class="verse" title="1 Corinthians 7:20" id="1_Corinthians-7-20">Let each man stay in that calling in which he was called.</span>
  <span class="verse" title="1 Corinthians 7:21" id="1_Corinthians-7-21">Were you called being a bondservant? Don&#8217;t let that bother you, but if you get an opportunity to become free, use it.</span>
  <span class="verse" title="1 Corinthians 7:22" id="1_Corinthians-7-22">For he who was called in the Lord being a bondservant is the Lord&#8217;s free man. Likewise he who was called being free is Christ&#8217;s bondservant.</span>
  <span class="verse" title="1 Corinthians 7:23" id="1_Corinthians-7-23">You were bought with a price. Don&#8217;t become bondservants of men.</span>
  <span class="verse" title="1 Corinthians 7:24" id="1_Corinthians-7-24">Brothers, let each man, in whatever condition he was called, stay in that condition with God.</span>
  <span class="verse" title="1 Corinthians 7:25" id="1_Corinthians-7-25">Now concerning virgins, I have no commandment from the Lord, but I give my judgment as one who has obtained mercy from the Lord to be trustworthy.</span>
  <span class="verse" title="1 Corinthians 7:26" id="1_Corinthians-7-26">I think that it is good therefore, because of the distress that is on us, that it is good for a man to be as he is.</span>
  <span class="verse" title="1 Corinthians 7:27" id="1_Corinthians-7-27">Are you bound to a wife? Don&#8217;t seek to be freed. Are you free from a wife? Don&#8217;t seek a wife.</span>
  <span class="verse" title="1 Corinthians 7:28" id="1_Corinthians-7-28">But if you marry, you have not sinned. If a virgin marries, she has not sinned. Yet such will have oppression in the flesh, and I want to spare you.</span>
  <span class="verse" title="1 Corinthians 7:29" id="1_Corinthians-7-29">But I say this, brothers: the time is short, that from now on, both those who have wives may be as though they had none;</span>
  <span class="verse" title="1 Corinthians 7:30" id="1_Corinthians-7-30">and those who weep, as though they didn&#8217;t weep; and those who rejoice, as though they didn&#8217;t rejoice; and those who buy, as though they didn&#8217;t possess;</span>
  <span class="verse" title="1 Corinthians 7:31" id="1_Corinthians-7-31">and those who use the world, as not using it to the fullest. For the mode of this world passes away.</span>
  <span class="verse" title="1 Corinthians 7:32" id="1_Corinthians-7-32">But I desire to have you to be free from cares. He who is unmarried is concerned for the things of the Lord, how he may please the Lord;</span>
  <span class="verse" title="1 Corinthians 7:33" id="1_Corinthians-7-33">but he who is married is concerned about the things of the world, how he may please his wife.</span>
  <span class="verse" title="1 Corinthians 7:34" id="1_Corinthians-7-34">There is also a difference between a wife and a virgin. The unmarried woman cares about the things of the Lord, that she may be holy both in body and in spirit. But she who is married cares about the things of the world—how she may please her husband.</span>
  <span class="verse" title="1 Corinthians 7:35" id="1_Corinthians-7-35">This I say for your own profit; not that I may ensnare you, but for that which is appropriate, and that you may attend to the Lord without distraction.</span>
  <span class="verse" title="1 Corinthians 7:36" id="1_Corinthians-7-36">But if any man thinks that he is behaving inappropriately toward his virgin, if she is past the flower of her age, and if need so requires, let him do what he desires. He doesn&#8217;t sin. Let them marry.</span>
  <span class="verse" title="1 Corinthians 7:37" id="1_Corinthians-7-37">But he who stands steadfast in his heart, having no necessity, but has power over his own heart, to keep his own virgin, does well.</span>
  <span class="verse" title="1 Corinthians 7:38" id="1_Corinthians-7-38">So then both he who gives his own virgin in marriage does well, and he who doesn&#8217;t give her in marriage does better.</span>
  <span class="verse" title="1 Corinthians 7:39" id="1_Corinthians-7-39">A wife is bound by law for as long as her husband lives; but if the husband is dead, she is free to be married to whomever she desires, only in the Lord.</span>
  <span class="verse" title="1 Corinthians 7:40" id="1_Corinthians-7-40">But she is happier if she stays as she is, in my judgment, and I think that I also have God&#8217;s Spirit.</span>
</div>