<div class="chapter" id="1 Corinthians-008">
  <h2>1 Corinthians 8</h2>
  <span class="verse" title="1 Corinthians 8:1" id="1_Corinthians-8-1">Now concerning things sacrificed to idols: We know that we all have knowledge. Knowledge puffs up, but love builds up.</span>
  <span class="verse" title="1 Corinthians 8:2" id="1_Corinthians-8-2">But if anyone thinks that he knows anything, he doesn&#8217;t yet know as he ought to know.</span>
  <span class="verse" title="1 Corinthians 8:3" id="1_Corinthians-8-3">But if anyone loves God, the same is known by him.</span>
  <span class="verse" title="1 Corinthians 8:4" id="1_Corinthians-8-4">Therefore concerning the eating of things sacrificed to idols, we know that no idol is anything in the world, and that there is no other God but one.</span>
  <span class="verse" title="1 Corinthians 8:5" id="1_Corinthians-8-5">For though there are things that are called &#8220;gods,&#8221; whether in the heavens or on earth; as there are many &#8220;gods&#8221; and many &#8220;lords;&#8221;</span>
  <span class="verse" title="1 Corinthians 8:6" id="1_Corinthians-8-6">yet to us there is one God, the Father, of whom are all things, and we for him; and one Lord, Jesus Christ, through whom are all things, and we live through him.</span>
  <span class="verse" title="1 Corinthians 8:7" id="1_Corinthians-8-7">However, that knowledge isn&#8217;t in all men. But some, with consciousness of the idol until now, eat as of a thing sacrificed to an idol, and their conscience, being weak, is defiled.</span>
  <span class="verse" title="1 Corinthians 8:8" id="1_Corinthians-8-8">But food will not commend us to God. For neither, if we don&#8217;t eat, are we the worse; nor, if we eat, are we the better.</span>
  <span class="verse" title="1 Corinthians 8:9" id="1_Corinthians-8-9">But be careful that by no means does this liberty of yours become a stumbling block to the weak.</span>
  <span class="verse" title="1 Corinthians 8:10" id="1_Corinthians-8-10">For if a man sees you who have knowledge sitting in an idol&#8217;s temple, won&#8217;t his conscience, if he is weak, be emboldened to eat things sacrificed to idols?</span>
  <span class="verse" title="1 Corinthians 8:11" id="1_Corinthians-8-11">And through your knowledge, he who is weak perishes, the brother for whose sake Christ died.</span>
  <span class="verse" title="1 Corinthians 8:12" id="1_Corinthians-8-12">Thus, sinning against the brothers, and wounding their conscience when it is weak, you sin against Christ.</span>
  <span class="verse" title="1 Corinthians 8:13" id="1_Corinthians-8-13">Therefore, if food causes my brother to stumble, I will eat no meat forevermore, that I don&#8217;t cause my brother to stumble.</span>
</div>