<div class="chapter" id="1 Corinthians-009">
  <h2>1 Corinthians 9</h2>
  <span class="verse" title="1 Corinthians 9:1" id="1_Corinthians-9-1">Am I not free? Am I not an apostle? Haven&#8217;t I seen Jesus Christ, our Lord? Aren&#8217;t you my work in the Lord?</span>
  <span class="verse" title="1 Corinthians 9:2" id="1_Corinthians-9-2">If to others I am not an apostle, yet at least I am to you; for you are the seal of my apostleship in the Lord.</span>
  <span class="verse" title="1 Corinthians 9:3" id="1_Corinthians-9-3">My defense to those who examine me is this.</span>
  <span class="verse" title="1 Corinthians 9:4" id="1_Corinthians-9-4">Have we no right to eat and to drink?</span>
  <span class="verse" title="1 Corinthians 9:5" id="1_Corinthians-9-5">Have we no right to take along a wife who is a believer, even as the rest of the apostles, and the brothers of the Lord, and Cephas?</span>
  <span class="verse" title="1 Corinthians 9:6" id="1_Corinthians-9-6">Or have only Barnabas and I no right to not work?</span>
  <span class="verse" title="1 Corinthians 9:7" id="1_Corinthians-9-7">What soldier ever serves at his own expense? Who plants a vineyard, and doesn&#8217;t eat of its fruit? Or who feeds a flock, and doesn&#8217;t drink from the flock&#8217;s milk?</span>
  <span class="verse" title="1 Corinthians 9:8" id="1_Corinthians-9-8">Do I speak these things according to the ways of men? Or doesn&#8217;t the law also say the same thing?</span>
  <span class="verse" title="1 Corinthians 9:9" id="1_Corinthians-9-9">For it is written in the law of Moses, &#8220;You shall not muzzle an ox while it treads out the grain.&#8221; Is it for the oxen that God cares,</span>
  <span class="verse" title="1 Corinthians 9:10" id="1_Corinthians-9-10">or does he say it assuredly for our sake? Yes, it was written for our sake, because he who plows ought to plow in hope, and he who threshes in hope should partake of his hope.</span>
  <span class="verse" title="1 Corinthians 9:11" id="1_Corinthians-9-11">If we sowed to you spiritual things, is it a great thing if we reap your fleshly things?</span>
  <span class="verse" title="1 Corinthians 9:12" id="1_Corinthians-9-12">If others partake of this right over you, don&#8217;t we yet more? Nevertheless we did not use this right, but we bear all things, that we may cause no hindrance to the Good News of Christ.</span>
  <span class="verse" title="1 Corinthians 9:13" id="1_Corinthians-9-13">Don&#8217;t you know that those who serve around sacred things eat from the things of the temple, and those who wait on the altar have their portion with the altar?</span>
  <span class="verse" title="1 Corinthians 9:14" id="1_Corinthians-9-14">Even so the Lord ordained that those who proclaim the Good News should live from the Good News.</span>
  <span class="verse" title="1 Corinthians 9:15" id="1_Corinthians-9-15">But I have used none of these things, and I don&#8217;t write these things that it may be done so in my case; for I would rather die, than that anyone should make my boasting void.</span>
  <span class="verse" title="1 Corinthians 9:16" id="1_Corinthians-9-16">For if I preach the Good News, I have nothing to boast about; for necessity is laid on me; but woe is to me, if I don&#8217;t preach the Good News.</span>
  <span class="verse" title="1 Corinthians 9:17" id="1_Corinthians-9-17">For if I do this of my own will, I have a reward. But if not of my own will, I have a stewardship entrusted to me.</span>
  <span class="verse" title="1 Corinthians 9:18" id="1_Corinthians-9-18">What then is my reward? That, when I preach the Good News, I may present the Good News of Christ without charge, so as not to abuse my authority in the Good News.</span>
  <span class="verse" title="1 Corinthians 9:19" id="1_Corinthians-9-19">For though I was free from all, I brought myself under bondage to all, that I might gain the more.</span>
  <span class="verse" title="1 Corinthians 9:20" id="1_Corinthians-9-20">To the Jews I became as a Jew, that I might gain Jews; to those who are under the law, as under the law, that I might gain those who are under the law;</span>
  <span class="verse" title="1 Corinthians 9:21" id="1_Corinthians-9-21">to those who are without law, as without law (not being without law toward God, but under law toward Christ), that I might win those who are without law.</span>
  <span class="verse" title="1 Corinthians 9:22" id="1_Corinthians-9-22">To the weak I became as weak, that I might gain the weak. I have become all things to all men, that I may by all means save some.</span>
  <span class="verse" title="1 Corinthians 9:23" id="1_Corinthians-9-23">Now I do this for the sake of the Good News, that I may be a joint partaker of it.</span>
  <span class="verse" title="1 Corinthians 9:24" id="1_Corinthians-9-24">Don&#8217;t you know that those who run in a race all run, but one receives the prize? Run like that, that you may win.</span>
  <span class="verse" title="1 Corinthians 9:25" id="1_Corinthians-9-25">Every man who strives in the games exercises self-control in all things. Now they do it to receive a corruptible crown, but we an incorruptible.</span>
  <span class="verse" title="1 Corinthians 9:26" id="1_Corinthians-9-26">I therefore run like that, as not uncertainly. I fight like that, as not beating the air,</span>
  <span class="verse" title="1 Corinthians 9:27" id="1_Corinthians-9-27">but I beat my body and bring it into submission, lest by any means, after I have preached to others, I myself should be rejected.</span>
</div>