<div class="chapter" id="1 Corinthians-011">
  <h2>1 Corinthians 11</h2>
  <span class="verse" title="1 Corinthians 11:1" id="1_Corinthians-11-1">Be imitators of me, even as I also am of Christ.</span>
  <span class="verse" title="1 Corinthians 11:2" id="1_Corinthians-11-2">Now I praise you, brothers, that you remember me in all things, and hold firm the traditions, even as I delivered them to you.</span>
  <span class="verse" title="1 Corinthians 11:3" id="1_Corinthians-11-3">But I would have you know that the head of every man is Christ, and the head of the woman is the man, and the head of Christ is God.</span>
  <span class="verse" title="1 Corinthians 11:4" id="1_Corinthians-11-4">Every man praying or prophesying, having his head covered, dishonors his head.</span>
  <span class="verse" title="1 Corinthians 11:5" id="1_Corinthians-11-5">But every woman praying or prophesying with her head unveiled dishonors her head. For it is one and the same thing as if she were shaved.</span>
  <span class="verse" title="1 Corinthians 11:6" id="1_Corinthians-11-6">For if a woman is not covered, let her also be shorn. But if it is shameful for a woman to be shorn or shaved, let her be covered.</span>
  <span class="verse" title="1 Corinthians 11:7" id="1_Corinthians-11-7">For a man indeed ought not to have his head covered, because he is the image and glory of God, but the woman is the glory of the man.</span>
  <span class="verse" title="1 Corinthians 11:8" id="1_Corinthians-11-8">For man is not from woman, but woman from man;</span>
  <span class="verse" title="1 Corinthians 11:9" id="1_Corinthians-11-9">for neither was man created for the woman, but woman for the man.</span>
  <span class="verse" title="1 Corinthians 11:10" id="1_Corinthians-11-10">For this cause the woman ought to have authority on her head, because of the angels.</span>
  <span class="verse" title="1 Corinthians 11:11" id="1_Corinthians-11-11">Nevertheless, neither is the woman independent of the man, nor the man independent of the woman, in the Lord.</span>
  <span class="verse" title="1 Corinthians 11:12" id="1_Corinthians-11-12">For as woman came from man, so a man also comes through a woman; but all things are from God.</span>
  <span class="verse" title="1 Corinthians 11:13" id="1_Corinthians-11-13">Judge for yourselves. Is it appropriate that a woman pray to God unveiled?</span>
  <span class="verse" title="1 Corinthians 11:14" id="1_Corinthians-11-14">Doesn&#8217;t even nature itself teach you that if a man has long hair, it is a dishonor to him?</span>
  <span class="verse" title="1 Corinthians 11:15" id="1_Corinthians-11-15">But if a woman has long hair, it is a glory to her, for her hair is given to her for a covering.</span>
  <span class="verse" title="1 Corinthians 11:16" id="1_Corinthians-11-16">But if any man seems to be contentious, we have no such custom, neither do God&#8217;s assemblies.</span>
  <span class="verse" title="1 Corinthians 11:17" id="1_Corinthians-11-17">But in giving you this command, I don&#8217;t praise you, that you come together not for the better but for the worse.</span>
  <span class="verse" title="1 Corinthians 11:18" id="1_Corinthians-11-18">For first of all, when you come together in the assembly, I hear that divisions exist among you, and I partly believe it.</span>
  <span class="verse" title="1 Corinthians 11:19" id="1_Corinthians-11-19">For there also must be factions among you, that those who are approved may be revealed among you.</span>
  <span class="verse" title="1 Corinthians 11:20" id="1_Corinthians-11-20">When therefore you assemble yourselves together, it is not the Lord&#8217;s supper that you eat.</span>
  <span class="verse" title="1 Corinthians 11:21" id="1_Corinthians-11-21">For in your eating each one takes his own supper first. One is hungry, and another is drunken.</span>
  <span class="verse" title="1 Corinthians 11:22" id="1_Corinthians-11-22">What, don&#8217;t you have houses to eat and to drink in? Or do you despise God&#8217;s assembly, and put them to shame who don&#8217;t have? What shall I tell you? Shall I praise you? In this I don&#8217;t praise you.</span>
  <span class="verse" title="1 Corinthians 11:23" id="1_Corinthians-11-23">For I received from the Lord that which also I delivered to you, that the Lord Jesus on the night in which he was betrayed took bread.</span>
  <span class="verse" title="1 Corinthians 11:24" id="1_Corinthians-11-24">When he had given thanks, he broke it, and said, &#8220;Take, eat. This is my body, which is broken for you. Do this in memory of me.&#8221;</span>
  <span class="verse" title="1 Corinthians 11:25" id="1_Corinthians-11-25">In the same way he also took the cup, after supper, saying, &#8220;This cup is the new covenant in my blood. Do this, as often as you drink, in memory of me.&#8221;</span>
  <span class="verse" title="1 Corinthians 11:26" id="1_Corinthians-11-26">For as often as you eat this bread and drink this cup, you proclaim the Lord&#8217;s death until he comes.</span>
  <span class="verse" title="1 Corinthians 11:27" id="1_Corinthians-11-27">Therefore whoever eats this bread or drinks the Lord&#8217;s cup in a way unworthy of the Lord will be guilty of the body and the blood of the Lord.</span>
  <span class="verse" title="1 Corinthians 11:28" id="1_Corinthians-11-28">But let a man examine himself, and so let him eat of the bread, and drink of the cup.</span>
  <span class="verse" title="1 Corinthians 11:29" id="1_Corinthians-11-29">For he who eats and drinks in an unworthy way eats and drinks judgment to himself, if he doesn&#8217;t discern the Lord&#8217;s body.</span>
  <span class="verse" title="1 Corinthians 11:30" id="1_Corinthians-11-30">For this cause many among you are weak and sickly, and not a few sleep.</span>
  <span class="verse" title="1 Corinthians 11:31" id="1_Corinthians-11-31">For if we discerned ourselves, we wouldn&#8217;t be judged.</span>
  <span class="verse" title="1 Corinthians 11:32" id="1_Corinthians-11-32">But when we are judged, we are punished by the Lord, that we may not be condemned with the world.</span>
  <span class="verse" title="1 Corinthians 11:33" id="1_Corinthians-11-33">Therefore, my brothers, when you come together to eat, wait for one another.</span>
  <span class="verse" title="1 Corinthians 11:34" id="1_Corinthians-11-34">But if anyone is hungry, let him eat at home, lest your coming together be for judgment. The rest I will set in order whenever I come.</span>
</div>