<div class="chapter" id="1 Corinthians-012">
  <h2>1 Corinthians 12</h2>
  <span class="verse" title="1 Corinthians 12:1" id="1_Corinthians-12-1">Now concerning spiritual things, brothers, I don&#8217;t want you to be ignorant.</span>
  <span class="verse" title="1 Corinthians 12:2" id="1_Corinthians-12-2">You know that when you were heathen, you were led away to those mute idols, however you might be led.</span>
  <span class="verse" title="1 Corinthians 12:3" id="1_Corinthians-12-3">Therefore I make known to you that no man speaking by God&#8217;s Spirit says, &#8220;Jesus is accursed.&#8221; No one can say, &#8220;Jesus is Lord,&#8221; but by the Holy Spirit.</span>
  <span class="verse" title="1 Corinthians 12:4" id="1_Corinthians-12-4">Now there are various kinds of gifts, but the same Spirit.</span>
  <span class="verse" title="1 Corinthians 12:5" id="1_Corinthians-12-5">There are various kinds of service, and the same Lord.</span>
  <span class="verse" title="1 Corinthians 12:6" id="1_Corinthians-12-6">There are various kinds of workings, but the same God, who works all things in all.</span>
  <span class="verse" title="1 Corinthians 12:7" id="1_Corinthians-12-7">But to each one is given the manifestation of the Spirit for the profit of all.</span>
  <span class="verse" title="1 Corinthians 12:8" id="1_Corinthians-12-8">For to one is given through the Spirit the word of wisdom, and to another the word of knowledge, according to the same Spirit;</span>
  <span class="verse" title="1 Corinthians 12:9" id="1_Corinthians-12-9">to another faith, by the same Spirit; and to another gifts of healings, by the same Spirit;</span>
  <span class="verse" title="1 Corinthians 12:10" id="1_Corinthians-12-10">and to another workings of miracles; and to another prophecy; and to another discerning of spirits; to another different kinds of languages; and to another the interpretation of languages.</span>
  <span class="verse" title="1 Corinthians 12:11" id="1_Corinthians-12-11">But the one and the same Spirit works all of these, distributing to each one separately as he desires.</span>
  <span class="verse" title="1 Corinthians 12:12" id="1_Corinthians-12-12">For as the body is one, and has many members, and all the members of the body, being many, are one body; so also is Christ.</span>
  <span class="verse" title="1 Corinthians 12:13" id="1_Corinthians-12-13">For in one Spirit we were all baptized into one body, whether Jews or Greeks, whether bond or free; and were all given to drink into one Spirit.</span>
  <span class="verse" title="1 Corinthians 12:14" id="1_Corinthians-12-14">For the body is not one member, but many.</span>
  <span class="verse" title="1 Corinthians 12:15" id="1_Corinthians-12-15">If the foot would say, &#8220;Because I&#8217;m not the hand, I&#8217;m not part of the body,&#8221; it is not therefore not part of the body.</span>
  <span class="verse" title="1 Corinthians 12:16" id="1_Corinthians-12-16">If the ear would say, &#8220;Because I&#8217;m not the eye, I&#8217;m not part of the body,&#8221; it&#8217;s not therefore not part of the body.</span>
  <span class="verse" title="1 Corinthians 12:17" id="1_Corinthians-12-17">If the whole body were an eye, where would the hearing be? If the whole were hearing, where would the smelling be?</span>
  <span class="verse" title="1 Corinthians 12:18" id="1_Corinthians-12-18">But now God has set the members, each one of them, in the body, just as he desired.</span>
  <span class="verse" title="1 Corinthians 12:19" id="1_Corinthians-12-19">If they were all one member, where would the body be?</span>
  <span class="verse" title="1 Corinthians 12:20" id="1_Corinthians-12-20">But now they are many members, but one body.</span>
  <span class="verse" title="1 Corinthians 12:21" id="1_Corinthians-12-21">The eye can&#8217;t tell the hand, &#8220;I have no need for you,&#8221; or again the head to the feet, &#8220;I have no need for you.&#8221;</span>
  <span class="verse" title="1 Corinthians 12:22" id="1_Corinthians-12-22">No, much rather, those members of the body which seem to be weaker are necessary.</span>
  <span class="verse" title="1 Corinthians 12:23" id="1_Corinthians-12-23">Those parts of the body which we think to be less honorable, on those we bestow more abundant honor; and our unpresentable parts have more abundant propriety;</span>
  <span class="verse" title="1 Corinthians 12:24" id="1_Corinthians-12-24">whereas our presentable parts have no such need. But God composed the body together, giving more abundant honor to the inferior part,</span>
  <span class="verse" title="1 Corinthians 12:25" id="1_Corinthians-12-25">that there should be no division in the body, but that the members should have the same care for one another.</span>
  <span class="verse" title="1 Corinthians 12:26" id="1_Corinthians-12-26">When one member suffers, all the members suffer with it. Or when one member is honored, all the members rejoice with it.</span>
  <span class="verse" title="1 Corinthians 12:27" id="1_Corinthians-12-27">Now you are the body of Christ, and members individually.</span>
  <span class="verse" title="1 Corinthians 12:28" id="1_Corinthians-12-28">God has set some in the assembly: first apostles, second prophets, third teachers, then miracle workers, then gifts of healings, helps, governments, and various kinds of languages.</span>
  <span class="verse" title="1 Corinthians 12:29" id="1_Corinthians-12-29">Are all apostles? Are all prophets? Are all teachers? Are all miracle workers?</span>
  <span class="verse" title="1 Corinthians 12:30" id="1_Corinthians-12-30">Do all have gifts of healings? Do all speak with various languages? Do all interpret?</span>
  <span class="verse" title="1 Corinthians 12:31" id="1_Corinthians-12-31">But earnestly desire the best gifts. Moreover, I show a most excellent way to you.</span>
</div>