<div class="chapter" id="1 Corinthians-013">
  <h2>1 Corinthians 13</h2>
  <span class="verse" title="1 Corinthians 13:1" id="1_Corinthians-13-1">If I speak with the languages of men and of angels, but don&#8217;t have love, I have become sounding brass, or a clanging cymbal.</span>
  <span class="verse" title="1 Corinthians 13:2" id="1_Corinthians-13-2">If I have the gift of prophecy, and know all mysteries and all knowledge; and if I have all faith, so as to remove mountains, but don&#8217;t have love, I am nothing.</span>
  <span class="verse" title="1 Corinthians 13:3" id="1_Corinthians-13-3">If I dole out all my goods to feed the poor, and if I give my body to be burned, but don&#8217;t have love, it profits me nothing.</span>
  <span class="verse" title="1 Corinthians 13:4" id="1_Corinthians-13-4">Love is patient and is kind; love doesn&#8217;t envy. Love doesn&#8217;t brag, is not proud,</span>
  <span class="verse" title="1 Corinthians 13:5" id="1_Corinthians-13-5">doesn&#8217;t behave itself inappropriately, doesn&#8217;t seek its own way, is not provoked, takes no account of evil;</span>
  <span class="verse" title="1 Corinthians 13:6" id="1_Corinthians-13-6">doesn&#8217;t rejoice in unrighteousness, but rejoices with the truth;</span>
  <span class="verse" title="1 Corinthians 13:7" id="1_Corinthians-13-7">bears all things, believes all things, hopes all things, endures all things.</span>
  <span class="verse" title="1 Corinthians 13:8" id="1_Corinthians-13-8">Love never fails. But where there are prophecies, they will be done away with. Where there are various languages, they will cease. Where there is knowledge, it will be done away with.</span>
  <span class="verse" title="1 Corinthians 13:9" id="1_Corinthians-13-9">For we know in part, and we prophesy in part;</span>
  <span class="verse" title="1 Corinthians 13:10" id="1_Corinthians-13-10">but when that which is complete has come, then that which is partial will be done away with.</span>
  <span class="verse" title="1 Corinthians 13:11" id="1_Corinthians-13-11">When I was a child, I spoke as a child, I felt as a child, I thought as a child. Now that I have become a man, I have put away childish things.</span>
  <span class="verse" title="1 Corinthians 13:12" id="1_Corinthians-13-12">For now we see in a mirror, dimly, but then face to face. Now I know in part, but then I will know fully, even as I was also fully known.</span>
  <span class="verse" title="1 Corinthians 13:13" id="1_Corinthians-13-13">But now faith, hope, and love remain—these three. The greatest of these is love.</span>
</div>