<div class="chapter" id="1 Corinthians-014">
  <h2>1 Corinthians 14</h2>
  <span class="verse" title="1 Corinthians 14:1" id="1_Corinthians-14-1">Follow after love, and earnestly desire spiritual gifts, but especially that you may prophesy.</span>
  <span class="verse" title="1 Corinthians 14:2" id="1_Corinthians-14-2">For he who speaks in another language speaks not to men, but to God; for no one understands; but in the Spirit he speaks mysteries.</span>
  <span class="verse" title="1 Corinthians 14:3" id="1_Corinthians-14-3">But he who prophesies speaks to men for their edification, exhortation, and consolation.</span>
  <span class="verse" title="1 Corinthians 14:4" id="1_Corinthians-14-4">He who speaks in another language edifies himself, but he who prophesies edifies the assembly.</span>
  <span class="verse" title="1 Corinthians 14:5" id="1_Corinthians-14-5">Now I desire to have you all speak with other languages, but rather that you would prophesy. For he is greater who prophesies than he who speaks with other languages, unless he interprets, that the assembly may be built up.</span>
  <span class="verse" title="1 Corinthians 14:6" id="1_Corinthians-14-6">But now, brothers, if I come to you speaking with other languages, what would I profit you, unless I speak to you either by way of revelation, or of knowledge, or of prophesying, or of teaching?</span>
  <span class="verse" title="1 Corinthians 14:7" id="1_Corinthians-14-7">Even things without life, giving a voice, whether pipe or harp, if they didn&#8217;t give a distinction in the sounds, how would it be known what is piped or harped?</span>
  <span class="verse" title="1 Corinthians 14:8" id="1_Corinthians-14-8">For if the trumpet gave an uncertain sound, who would prepare himself for war?</span>
  <span class="verse" title="1 Corinthians 14:9" id="1_Corinthians-14-9">So also you, unless you uttered by the tongue words easy to understand, how would it be known what is spoken? For you would be speaking into the air.</span>
  <span class="verse" title="1 Corinthians 14:10" id="1_Corinthians-14-10">There are, it may be, so many kinds of sounds in the world, and none of them is without meaning.</span>
  <span class="verse" title="1 Corinthians 14:11" id="1_Corinthians-14-11">If then I don&#8217;t know the meaning of the sound, I would be to him who speaks a foreigner, and he who speaks would be a foreigner to me.</span>
  <span class="verse" title="1 Corinthians 14:12" id="1_Corinthians-14-12">So also you, since you are zealous for spiritual gifts, seek that you may abound to the building up of the assembly.</span>
  <span class="verse" title="1 Corinthians 14:13" id="1_Corinthians-14-13">Therefore let him who speaks in another language pray that he may interpret.</span>
  <span class="verse" title="1 Corinthians 14:14" id="1_Corinthians-14-14">For if I pray in another language, my spirit prays, but my understanding is unfruitful.</span>
  <span class="verse" title="1 Corinthians 14:15" id="1_Corinthians-14-15">What is it then? I will pray with the spirit, and I will pray with the understanding also. I will sing with the spirit, and I will sing with the understanding also.</span>
  <span class="verse" title="1 Corinthians 14:16" id="1_Corinthians-14-16">Otherwise if you bless with the spirit, how will he who fills the place of the unlearned say the &#8220;Amen&#8221; at your giving of thanks, seeing he doesn&#8217;t know what you say?</span>
  <span class="verse" title="1 Corinthians 14:17" id="1_Corinthians-14-17">For you most certainly give thanks well, but the other person is not built up.</span>
  <span class="verse" title="1 Corinthians 14:18" id="1_Corinthians-14-18">I thank my God, I speak with other languages more than you all.</span>
  <span class="verse" title="1 Corinthians 14:19" id="1_Corinthians-14-19">However in the assembly I would rather speak five words with my understanding, that I might instruct others also, than ten thousand words in another language.</span>
  <span class="verse" title="1 Corinthians 14:20" id="1_Corinthians-14-20">Brothers, don&#8217;t be children in thoughts, yet in malice be babies, but in thoughts be mature.</span>
  <span class="verse" title="1 Corinthians 14:21" id="1_Corinthians-14-21">In the law it is written, &#8220;By men of strange languages and by the lips of strangers I will speak to this people. Not even thus will they hear me, says the Lord.&#8221;</span>
  <span class="verse" title="1 Corinthians 14:22" id="1_Corinthians-14-22">Therefore other languages are for a sign, not to those who believe, but to the unbelieving; but prophesying is for a sign, not to the unbelieving, but to those who believe.</span>
  <span class="verse" title="1 Corinthians 14:23" id="1_Corinthians-14-23">If therefore the whole assembly is assembled together and all speak with other languages, and unlearned or unbelieving people come in, won&#8217;t they say that you are crazy?</span>
  <span class="verse" title="1 Corinthians 14:24" id="1_Corinthians-14-24">But if all prophesy, and someone unbelieving or unlearned comes in, he is reproved by all, and he is judged by all.</span>
  <span class="verse" title="1 Corinthians 14:25" id="1_Corinthians-14-25">And thus the secrets of his heart are revealed. So he will fall down on his face and worship God, declaring that God is among you indeed.</span>
  <span class="verse" title="1 Corinthians 14:26" id="1_Corinthians-14-26">What is it then, brothers? When you come together, each one of you has a psalm, has a teaching, has a revelation, has another language, has an interpretation. Let all things be done to build each other up.</span>
  <span class="verse" title="1 Corinthians 14:27" id="1_Corinthians-14-27">If any man speaks in another language, let it be two, or at the most three, and in turn; and let one interpret.</span>
  <span class="verse" title="1 Corinthians 14:28" id="1_Corinthians-14-28">But if there is no interpreter, let him keep silent in the assembly, and let him speak to himself, and to God.</span>
  <span class="verse" title="1 Corinthians 14:29" id="1_Corinthians-14-29">Let the prophets speak, two or three, and let the others discern.</span>
  <span class="verse" title="1 Corinthians 14:30" id="1_Corinthians-14-30">But if a revelation is made to another sitting by, let the first keep silent.</span>
  <span class="verse" title="1 Corinthians 14:31" id="1_Corinthians-14-31">For you all can prophesy one by one, that all may learn, and all may be exhorted.</span>
  <span class="verse" title="1 Corinthians 14:32" id="1_Corinthians-14-32">The spirits of the prophets are subject to the prophets,</span>
  <span class="verse" title="1 Corinthians 14:33" id="1_Corinthians-14-33">for God is not a God of confusion, but of peace. As in all the assemblies of the saints,</span>
  <span class="verse" title="1 Corinthians 14:34" id="1_Corinthians-14-34">let your wives keep silent in the assemblies, for it has not been permitted for them to speak; but let them be in subjection, as the law also says.</span>
  <span class="verse" title="1 Corinthians 14:35" id="1_Corinthians-14-35">If they desire to learn anything, let them ask their own husbands at home, for it is shameful for a woman to chatter in the assembly.</span>
  <span class="verse" title="1 Corinthians 14:36" id="1_Corinthians-14-36">What? Was it from you that the word of God went out? Or did it come to you alone?</span>
  <span class="verse" title="1 Corinthians 14:37" id="1_Corinthians-14-37">If any man thinks himself to be a prophet, or spiritual, let him recognize the things which I write to you, that they are the commandment of the Lord.</span>
  <span class="verse" title="1 Corinthians 14:38" id="1_Corinthians-14-38">But if anyone is ignorant, let him be ignorant.</span>
  <span class="verse" title="1 Corinthians 14:39" id="1_Corinthians-14-39">Therefore, brothers, desire earnestly to prophesy, and don&#8217;t forbid speaking with other languages.</span>
  <span class="verse" title="1 Corinthians 14:40" id="1_Corinthians-14-40">Let all things be done decently and in order.</span>
</div>