<div class="chapter" id="1 Corinthians-015">
  <h2>1 Corinthians 15</h2>
  <span class="verse" title="1 Corinthians 15:1" id="1_Corinthians-15-1">Now I declare to you, brothers, the Good News which I preached to you, which also you received, in which you also stand,</span>
  <span class="verse" title="1 Corinthians 15:2" id="1_Corinthians-15-2">by which also you are saved, if you hold firmly the word which I preached to you—unless you believed in vain.</span>
  <span class="verse" title="1 Corinthians 15:3" id="1_Corinthians-15-3">For I delivered to you first of all that which I also received: that Christ died for our sins according to the Scriptures,</span>
  <span class="verse" title="1 Corinthians 15:4" id="1_Corinthians-15-4">that he was buried, that he was raised on the third day according to the Scriptures,</span>
  <span class="verse" title="1 Corinthians 15:5" id="1_Corinthians-15-5">and that he appeared to Cephas, then to the twelve.</span>
  <span class="verse" title="1 Corinthians 15:6" id="1_Corinthians-15-6">Then he appeared to over five hundred brothers at once, most of whom remain until now, but some have also fallen asleep.</span>
  <span class="verse" title="1 Corinthians 15:7" id="1_Corinthians-15-7">Then he appeared to James, then to all the apostles,</span>
  <span class="verse" title="1 Corinthians 15:8" id="1_Corinthians-15-8">and last of all, as to the child born at the wrong time, he appeared to me also.</span>
  <span class="verse" title="1 Corinthians 15:9" id="1_Corinthians-15-9">For I am the least of the apostles, who is not worthy to be called an apostle, because I persecuted the assembly of God.</span>
  <span class="verse" title="1 Corinthians 15:10" id="1_Corinthians-15-10">But by the grace of God I am what I am. His grace which was bestowed on me was not futile, but I worked more than all of them; yet not I, but the grace of God which was with me.</span>
  <span class="verse" title="1 Corinthians 15:11" id="1_Corinthians-15-11">Whether then it is I or they, so we preach, and so you believed.</span>
  <span class="verse" title="1 Corinthians 15:12" id="1_Corinthians-15-12">Now if Christ is preached, that he has been raised from the dead, how do some among you say that there is no resurrection of the dead?</span>
  <span class="verse" title="1 Corinthians 15:13" id="1_Corinthians-15-13">But if there is no resurrection of the dead, neither has Christ been raised.</span>
  <span class="verse" title="1 Corinthians 15:14" id="1_Corinthians-15-14">If Christ has not been raised, then our preaching is in vain, and your faith also is in vain.</span>
  <span class="verse" title="1 Corinthians 15:15" id="1_Corinthians-15-15">Yes, we are found false witnesses of God, because we testified about God that he raised up Christ, whom he didn&#8217;t raise up, if it is so that the dead are not raised.</span>
  <span class="verse" title="1 Corinthians 15:16" id="1_Corinthians-15-16">For if the dead aren&#8217;t raised, neither has Christ been raised.</span>
  <span class="verse" title="1 Corinthians 15:17" id="1_Corinthians-15-17">If Christ has not been raised, your faith is vain; you are still in your sins.</span>
  <span class="verse" title="1 Corinthians 15:18" id="1_Corinthians-15-18">Then they also who are fallen asleep in Christ have perished.</span>
  <span class="verse" title="1 Corinthians 15:19" id="1_Corinthians-15-19">If we have only hoped in Christ in this life, we are of all men most pitiable.</span>
  <span class="verse" title="1 Corinthians 15:20" id="1_Corinthians-15-20">But now Christ has been raised from the dead. He became the first fruits of those who are asleep.</span>
  <span class="verse" title="1 Corinthians 15:21" id="1_Corinthians-15-21">For since death came by man, the resurrection of the dead also came by man.</span>
  <span class="verse" title="1 Corinthians 15:22" id="1_Corinthians-15-22">For as in Adam all die, so also in Christ all will be made alive.</span>
  <span class="verse" title="1 Corinthians 15:23" id="1_Corinthians-15-23">But each in his own order: Christ the first fruits, then those who are Christ&#8217;s, at his coming.</span>
  <span class="verse" title="1 Corinthians 15:24" id="1_Corinthians-15-24">Then the end comes, when he will deliver up the Kingdom to God, even the Father; when he will have abolished all rule and all authority and power.</span>
  <span class="verse" title="1 Corinthians 15:25" id="1_Corinthians-15-25">For he must reign until he has put all his enemies under his feet.</span>
  <span class="verse" title="1 Corinthians 15:26" id="1_Corinthians-15-26">The last enemy that will be abolished is death.</span>
  <span class="verse" title="1 Corinthians 15:27" id="1_Corinthians-15-27">For, &#8220;He put all things in subjection under his feet.&#8221; But when he says, &#8220;All things are put in subjection,&#8221; it is evident that he is excepted who subjected all things to him.</span>
  <span class="verse" title="1 Corinthians 15:28" id="1_Corinthians-15-28">When all things have been subjected to him, then the Son will also himself be subjected to him who subjected all things to him, that God may be all in all.</span>
  <span class="verse" title="1 Corinthians 15:29" id="1_Corinthians-15-29">Or else what will they do who are baptized for the dead? If the dead aren&#8217;t raised at all, why then are they baptized for the dead?</span>
  <span class="verse" title="1 Corinthians 15:30" id="1_Corinthians-15-30">Why do we also stand in jeopardy every hour?</span>
  <span class="verse" title="1 Corinthians 15:31" id="1_Corinthians-15-31">I affirm, by the boasting in you which I have in Christ Jesus our Lord, I die daily.</span>
  <span class="verse" title="1 Corinthians 15:32" id="1_Corinthians-15-32">If I fought with animals at Ephesus for human purposes, what does it profit me? If the dead are not raised, then &#8220;let us eat and drink, for tomorrow we die.&#8221;</span>
  <span class="verse" title="1 Corinthians 15:33" id="1_Corinthians-15-33">Don&#8217;t be deceived! &#8220;Evil companionships corrupt good morals.&#8221;</span>
  <span class="verse" title="1 Corinthians 15:34" id="1_Corinthians-15-34">Wake up righteously, and don&#8217;t sin, for some have no knowledge of God. I say this to your shame.</span>
  <span class="verse" title="1 Corinthians 15:35" id="1_Corinthians-15-35">But someone will say, &#8220;How are the dead raised?&#8221; and, &#8220;With what kind of body do they come?&#8221;</span>
  <span class="verse" title="1 Corinthians 15:36" id="1_Corinthians-15-36">You foolish one, that which you yourself sow is not made alive unless it dies.</span>
  <span class="verse" title="1 Corinthians 15:37" id="1_Corinthians-15-37">That which you sow, you don&#8217;t sow the body that will be, but a bare grain, maybe of wheat, or of some other kind.</span>
  <span class="verse" title="1 Corinthians 15:38" id="1_Corinthians-15-38">But God gives it a body even as it pleased him, and to each seed a body of its own.</span>
  <span class="verse" title="1 Corinthians 15:39" id="1_Corinthians-15-39">All flesh is not the same flesh, but there is one flesh of men, another flesh of animals, another of fish, and another of birds.</span>
  <span class="verse" title="1 Corinthians 15:40" id="1_Corinthians-15-40">There are also celestial bodies, and terrestrial bodies; but the glory of the celestial differs from that of the terrestrial.</span>
  <span class="verse" title="1 Corinthians 15:41" id="1_Corinthians-15-41">There is one glory of the sun, another glory of the moon, and another glory of the stars; for one star differs from another star in glory.</span>
  <span class="verse" title="1 Corinthians 15:42" id="1_Corinthians-15-42">So also is the resurrection of the dead. It is sown in corruption; it is raised in incorruption.</span>
  <span class="verse" title="1 Corinthians 15:43" id="1_Corinthians-15-43">It is sown in dishonor; it is raised in glory. It is sown in weakness; it is raised in power.</span>
  <span class="verse" title="1 Corinthians 15:44" id="1_Corinthians-15-44">It is sown a natural body; it is raised a spiritual body. There is a natural body and there is also a spiritual body.</span>
  <span class="verse" title="1 Corinthians 15:45" id="1_Corinthians-15-45">So also it is written, &#8220;The first man, Adam, became a living soul.&#8221; The last Adam became a life-giving spirit.</span>
  <span class="verse" title="1 Corinthians 15:46" id="1_Corinthians-15-46">However that which is spiritual isn&#8217;t first, but that which is natural, then that which is spiritual.</span>
  <span class="verse" title="1 Corinthians 15:47" id="1_Corinthians-15-47">The first man is of the earth, made of dust. The second man is the Lord from heaven.</span>
  <span class="verse" title="1 Corinthians 15:48" id="1_Corinthians-15-48">As is the one made of dust, such are those who are also made of dust; and as is the heavenly, such are they also that are heavenly.</span>
  <span class="verse" title="1 Corinthians 15:49" id="1_Corinthians-15-49">As we have borne the image of those made of dust, let&#8217;s also bear the image of the heavenly.</span>
  <span class="verse" title="1 Corinthians 15:50" id="1_Corinthians-15-50">Now I say this, brothers, that flesh and blood can&#8217;t inherit the Kingdom of God; neither does corruption inherit incorruption.</span>
  <span class="verse" title="1 Corinthians 15:51" id="1_Corinthians-15-51">Behold, I tell you a mystery. We will not all sleep, but we will all be changed,</span>
  <span class="verse" title="1 Corinthians 15:52" id="1_Corinthians-15-52">in a moment, in the twinkling of an eye, at the last trumpet. For the trumpet will sound, and the dead will be raised incorruptible, and we will be changed.</span>
  <span class="verse" title="1 Corinthians 15:53" id="1_Corinthians-15-53">For this corruptible must put on incorruption, and this mortal must put on immortality.</span>
  <span class="verse" title="1 Corinthians 15:54" id="1_Corinthians-15-54">But when this corruptible will have put on incorruption, and this mortal will have put on immortality, then what is written will happen:   &#8220;Death is swallowed up in victory.&#8221;<br/></span>
  <span class="verse" title="1 Corinthians 15:55" id="1_Corinthians-15-55">&#8220;Death, where is your sting?<br/> <span class="indent">&nbsp;&nbsp;</span> Hades, where is your victory?&#8221;<br/></span>
  <span class="verse" title="1 Corinthians 15:56" id="1_Corinthians-15-56">The sting of death is sin, and the power of sin is the law.</span>
  <span class="verse" title="1 Corinthians 15:57" id="1_Corinthians-15-57">But thanks be to God, who gives us the victory through our Lord Jesus Christ.</span>
  <span class="verse" title="1 Corinthians 15:58" id="1_Corinthians-15-58">Therefore, my beloved brothers, be steadfast, immovable, always abounding in the Lord&#8217;s work, because you know that your labor is not in vain in the Lord.</span>
</div>