<div class="chapter" id="1 Corinthians-016">
  <h2>1 Corinthians 16</h2>
  <span class="verse" title="1 Corinthians 16:1" id="1_Corinthians-16-1">Now concerning the collection for the saints, as I commanded the assemblies of Galatia, you do likewise.</span>
  <span class="verse" title="1 Corinthians 16:2" id="1_Corinthians-16-2">On the first day of the week, let each one of you save, as he may prosper, that no collections be made when I come.</span>
  <span class="verse" title="1 Corinthians 16:3" id="1_Corinthians-16-3">When I arrive, I will send whoever you approve with letters to carry your gracious gift to Jerusalem.</span>
  <span class="verse" title="1 Corinthians 16:4" id="1_Corinthians-16-4">If it is appropriate for me to go also, they will go with me.</span>
  <span class="verse" title="1 Corinthians 16:5" id="1_Corinthians-16-5">But I will come to you when I have passed through Macedonia, for I am passing through Macedonia.</span>
  <span class="verse" title="1 Corinthians 16:6" id="1_Corinthians-16-6">But with you it may be that I will stay, or even winter, that you may send me on my journey wherever I go.</span>
  <span class="verse" title="1 Corinthians 16:7" id="1_Corinthians-16-7">For I do not wish to see you now in passing, but I hope to stay a while with you, if the Lord permits.</span>
  <span class="verse" title="1 Corinthians 16:8" id="1_Corinthians-16-8">But I will stay at Ephesus until Pentecost,</span>
  <span class="verse" title="1 Corinthians 16:9" id="1_Corinthians-16-9">for a great and effective door has opened to me, and there are many adversaries.</span>
  <span class="verse" title="1 Corinthians 16:10" id="1_Corinthians-16-10">Now if Timothy comes, see that he is with you without fear, for he does the work of the Lord, as I also do.</span>
  <span class="verse" title="1 Corinthians 16:11" id="1_Corinthians-16-11">Therefore let no one despise him. But set him forward on his journey in peace, that he may come to me; for I expect him with the brothers.</span>
  <span class="verse" title="1 Corinthians 16:12" id="1_Corinthians-16-12">Now concerning Apollos, the brother, I strongly urged him to come to you with the brothers; and it was not at all his desire to come now; but he will come when he has an opportunity.</span>
  <span class="verse" title="1 Corinthians 16:13" id="1_Corinthians-16-13">Watch! Stand firm in the faith! Be courageous! Be strong!</span>
  <span class="verse" title="1 Corinthians 16:14" id="1_Corinthians-16-14">Let all that you do be done in love.</span>
  <span class="verse" title="1 Corinthians 16:15" id="1_Corinthians-16-15">Now I beg you, brothers (you know the house of Stephanas, that it is the first fruits of Achaia, and that they have set themselves to serve the saints),</span>
  <span class="verse" title="1 Corinthians 16:16" id="1_Corinthians-16-16">that you also be in subjection to such, and to everyone who helps in the work and labors.</span>
  <span class="verse" title="1 Corinthians 16:17" id="1_Corinthians-16-17">I rejoice at the coming of Stephanas, Fortunatus, and Achaicus; for that which was lacking on your part, they supplied.</span>
  <span class="verse" title="1 Corinthians 16:18" id="1_Corinthians-16-18">For they refreshed my spirit and yours. Therefore acknowledge those who are like that.</span>
  <span class="verse" title="1 Corinthians 16:19" id="1_Corinthians-16-19">The assemblies of Asia greet you. Aquila and Priscilla greet you much in the Lord, together with the assembly that is in their house.</span>
  <span class="verse" title="1 Corinthians 16:20" id="1_Corinthians-16-20">All the brothers greet you. Greet one another with a holy kiss.</span>
  <span class="verse" title="1 Corinthians 16:21" id="1_Corinthians-16-21">This greeting is by me, Paul, with my own hand.</span>
  <span class="verse" title="1 Corinthians 16:22" id="1_Corinthians-16-22">If any man doesn&#8217;t love the Lord Jesus Christ, let him be accursed. Come, Lord!</span>
  <span class="verse" title="1 Corinthians 16:23" id="1_Corinthians-16-23">The grace of the Lord Jesus Christ be with you.</span>
  <span class="verse" title="1 Corinthians 16:24" id="1_Corinthians-16-24">My love to all of you in Christ Jesus. Amen.</span>
</div>