<div class="chapter" id="Numbers-001">
  <h2>Numbers 1</h2>
  <span class="verse" title="Numbers 1:1" id="Numbers-1-1">Yahweh spoke to Moses in the wilderness of Sinai, in the Tent of Meeting, on the first day of the second month, in the second year after they had come out of the land of Egypt, saying,</span>
  <span class="verse" title="Numbers 1:2" id="Numbers-1-2">&#8220;Take a census of all the congregation of the children of Israel, by their families, by their fathers&#8217; houses, according to the number of the names, every male, one by one;</span>
  <span class="verse" title="Numbers 1:3" id="Numbers-1-3">from twenty years old and upward, all who are able to go out to war in Israel. You and Aaron shall number them by their divisions.</span>
  <span class="verse" title="Numbers 1:4" id="Numbers-1-4">With you there shall be a man of every tribe; everyone head of his fathers&#8217; house.</span>
  <span class="verse" title="Numbers 1:5" id="Numbers-1-5">These are the names of the men who shall stand with you: Of Reuben: Elizur the son of Shedeur.</span>
  <span class="verse" title="Numbers 1:6" id="Numbers-1-6">Of Simeon: Shelumiel the son of Zurishaddai.</span>
  <span class="verse" title="Numbers 1:7" id="Numbers-1-7">Of Judah: Nahshon the son of Amminadab.</span>
  <span class="verse" title="Numbers 1:8" id="Numbers-1-8">Of Issachar: Nethanel the son of Zuar.</span>
  <span class="verse" title="Numbers 1:9" id="Numbers-1-9">Of Zebulun: Eliab the son of Helon.</span>
  <span class="verse" title="Numbers 1:10" id="Numbers-1-10">Of the children of Joseph: Of Ephraim: Elishama the son of Ammihud. Of Manasseh: Gamaliel the son of Pedahzur.</span>
  <span class="verse" title="Numbers 1:11" id="Numbers-1-11">Of Benjamin: Abidan the son of Gideoni.</span>
  <span class="verse" title="Numbers 1:12" id="Numbers-1-12">Of Dan: Ahiezer the son of Ammishaddai.</span>
  <span class="verse" title="Numbers 1:13" id="Numbers-1-13">Of Asher: Pagiel the son of Ochran.</span>
  <span class="verse" title="Numbers 1:14" id="Numbers-1-14">Of Gad: Eliasaph the son of Deuel.</span>
  <span class="verse" title="Numbers 1:15" id="Numbers-1-15">Of Naphtali: Ahira the son of Enan.&#8221;</span>
  <span class="verse" title="Numbers 1:16" id="Numbers-1-16">These are those who were called of the congregation, the princes of the tribes of their fathers; they were the heads of the thousands of Israel.</span>
  <span class="verse" title="Numbers 1:17" id="Numbers-1-17">Moses and Aaron took these men who are mentioned by name.</span>
  <span class="verse" title="Numbers 1:18" id="Numbers-1-18">They assembled all the congregation together on the first day of the second month; and they declared their ancestry by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, one by one.</span>
  <span class="verse" title="Numbers 1:19" id="Numbers-1-19">As Yahweh commanded Moses, so he numbered them in the wilderness of Sinai.</span>
  <span class="verse" title="Numbers 1:20" id="Numbers-1-20">The children of Reuben, Israel&#8217;s firstborn, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, one by one, every male from twenty years old and upward, all who were able to go out to war;</span>
  <span class="verse" title="Numbers 1:21" id="Numbers-1-21">those who were numbered of them, of the tribe of Reuben, were forty-six thousand five hundred.</span>
  <span class="verse" title="Numbers 1:22" id="Numbers-1-22">Of the children of Simeon, their generations, by their families, by their fathers&#8217; houses, those who were numbered of it, according to the number of the names, one by one, every male from twenty years old and upward, all who were able to go out to war;</span>
  <span class="verse" title="Numbers 1:23" id="Numbers-1-23">those who were numbered of them, of the tribe of Simeon, were fifty-nine thousand three hundred.</span>
  <span class="verse" title="Numbers 1:24" id="Numbers-1-24">Of the children of Gad, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go out to war;</span>
  <span class="verse" title="Numbers 1:25" id="Numbers-1-25">those who were numbered of them, of the tribe of Gad, were forty-five thousand six hundred fifty.</span>
  <span class="verse" title="Numbers 1:26" id="Numbers-1-26">Of the children of Judah, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go out to war;</span>
  <span class="verse" title="Numbers 1:27" id="Numbers-1-27">those who were numbered of them, of the tribe of Judah, were sixty-four thousand six hundred.</span>
  <span class="verse" title="Numbers 1:28" id="Numbers-1-28">Of the children of Issachar, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go out to war;</span>
  <span class="verse" title="Numbers 1:29" id="Numbers-1-29">those who were numbered of them, of the tribe of Issachar, were fifty-four thousand four hundred.</span>
  <span class="verse" title="Numbers 1:30" id="Numbers-1-30">Of the children of Zebulun, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go out to war;</span>
  <span class="verse" title="Numbers 1:31" id="Numbers-1-31">those who were numbered of them, of the tribe of Zebulun, were fifty-seven thousand four hundred.</span>
  <span class="verse" title="Numbers 1:32" id="Numbers-1-32">Of the children of Joseph, of the children of Ephraim, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go out to war;</span>
  <span class="verse" title="Numbers 1:33" id="Numbers-1-33">those who were numbered of them, of the tribe of Ephraim, were forty thousand five hundred.</span>
  <span class="verse" title="Numbers 1:34" id="Numbers-1-34">Of the children of Manasseh, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go out to war;</span>
  <span class="verse" title="Numbers 1:35" id="Numbers-1-35">those who were numbered of them, of the tribe of Manasseh, were thirty-two thousand two hundred.</span>
  <span class="verse" title="Numbers 1:36" id="Numbers-1-36">Of the children of Benjamin, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go out to war;</span>
  <span class="verse" title="Numbers 1:37" id="Numbers-1-37">those who were numbered of them, of the tribe of Benjamin, were thirty-five thousand four hundred.</span>
  <span class="verse" title="Numbers 1:38" id="Numbers-1-38">Of the children of Dan, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go forth to war;</span>
  <span class="verse" title="Numbers 1:39" id="Numbers-1-39">those who were numbered of them, of the tribe of Dan, were sixty-two thousand seven hundred.</span>
  <span class="verse" title="Numbers 1:40" id="Numbers-1-40">Of the children of Asher, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go forth to war;</span>
  <span class="verse" title="Numbers 1:41" id="Numbers-1-41">those who were numbered of them, of the tribe of Asher, were forty-one thousand five hundred.</span>
  <span class="verse" title="Numbers 1:42" id="Numbers-1-42">Of the children of Naphtali, their generations, by their families, by their fathers&#8217; houses, according to the number of the names, from twenty years old and upward, all who were able to go forth to war;</span>
  <span class="verse" title="Numbers 1:43" id="Numbers-1-43">those who were numbered of them, of the tribe of Naphtali, were fifty-three thousand four hundred.</span>
  <span class="verse" title="Numbers 1:44" id="Numbers-1-44">These are those who were numbered, whom Moses and Aaron numbered, and the princes of Israel, being twelve men: they were each one for his fathers&#8217; house.</span>
  <span class="verse" title="Numbers 1:45" id="Numbers-1-45">So all those who were numbered of the children of Israel by their fathers&#8217; houses, from twenty years old and upward, all who were able to go out to war in Israel;</span>
  <span class="verse" title="Numbers 1:46" id="Numbers-1-46">even all those who were numbered were six hundred three thousand five hundred fifty.</span>
  <span class="verse" title="Numbers 1:47" id="Numbers-1-47">But the Levites after the tribe of their fathers were not numbered among them.</span>
  <span class="verse" title="Numbers 1:48" id="Numbers-1-48">For Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 1:49" id="Numbers-1-49">&#8220;Only the tribe of Levi you shall not number, neither shall you take a census of them among the children of Israel;</span>
  <span class="verse" title="Numbers 1:50" id="Numbers-1-50">but appoint the Levites over the Tabernacle of the Testimony, and over all its furnishings, and over all that belongs to it. They shall carry the tabernacle, and all its furnishings; and they shall take care of it, and shall encamp around it.</span>
  <span class="verse" title="Numbers 1:51" id="Numbers-1-51">When the tabernacle is to move, the Levites shall take it down; and when the tabernacle is to be set up, the Levites shall set it up. The stranger who comes near shall be put to death.</span>
  <span class="verse" title="Numbers 1:52" id="Numbers-1-52">The children of Israel shall pitch their tents, every man by his own camp, and every man by his own standard, according to their divisions.</span>
  <span class="verse" title="Numbers 1:53" id="Numbers-1-53">But the Levites shall encamp around the Tabernacle of the Testimony, that there may be no wrath on the congregation of the children of Israel: and the Levites shall be responsible for the Tabernacle of the Testimony.&#8221;</span>
  <span class="verse" title="Numbers 1:54" id="Numbers-1-54">Thus the children of Israel did. According to all that Yahweh commanded Moses, so they did.</span>
</div>