<div class="chapter" id="Numbers-002">
  <h2>Numbers 2</h2>
  <span class="verse" title="Numbers 2:1" id="Numbers-2-1">Yahweh spoke to Moses and to Aaron, saying,</span>
  <span class="verse" title="Numbers 2:2" id="Numbers-2-2">&#8220;The children of Israel shall encamp every man by his own standard, with the banners of their fathers&#8217; houses: at a distance from the Tent of Meeting shall they encamp around it.&#8221;</span>
  <span class="verse" title="Numbers 2:3" id="Numbers-2-3">Those who encamp on the east side toward the sunrise shall be of the standard of the camp of Judah, according to their divisions: and the prince of the children of Judah shall be Nahshon the son of Amminadab.</span>
  <span class="verse" title="Numbers 2:4" id="Numbers-2-4">His division, and those who were numbered of them, were seventy-four thousand six hundred.</span>
  <span class="verse" title="Numbers 2:5" id="Numbers-2-5">Those who encamp next to him shall be the tribe of Issachar: and the prince of the children of Issachar shall be Nethanel the son of Zuar.</span>
  <span class="verse" title="Numbers 2:6" id="Numbers-2-6">His division, and those who were numbered of it, were fifty-four thousand four hundred.</span>
  <span class="verse" title="Numbers 2:7" id="Numbers-2-7">The tribe of Zebulun: and the prince of the children of Zebulun shall be Eliab the son of Helon.</span>
  <span class="verse" title="Numbers 2:8" id="Numbers-2-8">His division, and those who were numbered of it, were fifty-seven thousand four hundred.</span>
  <span class="verse" title="Numbers 2:9" id="Numbers-2-9">All who were numbered of the camp of Judah were one hundred eighty-six thousand four hundred, according to their divisions. They shall set out first.</span>
  <span class="verse" title="Numbers 2:10" id="Numbers-2-10">&#8220;On the south side shall be the standard of the camp of Reuben according to their divisions. The prince of the children of Reuben shall be Elizur the son of Shedeur.</span>
  <span class="verse" title="Numbers 2:11" id="Numbers-2-11">His division, and those who were numbered of it, were forty-six thousand five hundred.</span>
  <span class="verse" title="Numbers 2:12" id="Numbers-2-12">&#8220;Those who encamp next to him shall be the tribe of Simeon. The prince of the children of Simeon shall be Shelumiel the son of Zurishaddai.</span>
  <span class="verse" title="Numbers 2:13" id="Numbers-2-13">His division, and those who were numbered of them, were fifty-nine thousand three hundred.</span>
  <span class="verse" title="Numbers 2:14" id="Numbers-2-14">&#8220;The tribe of Gad: and the prince of the children of Gad shall be Eliasaph the son of Reuel.</span>
  <span class="verse" title="Numbers 2:15" id="Numbers-2-15">His division, and those who were numbered of them, were forty-five thousand six hundred fifty.</span>
  <span class="verse" title="Numbers 2:16" id="Numbers-2-16">&#8220;All who were numbered of the camp of Reuben were one hundred fifty-one thousand four hundred fifty, according to their armies. They shall set out second.</span>
  <span class="verse" title="Numbers 2:17" id="Numbers-2-17">&#8220;Then the Tent of Meeting shall set out, with the camp of the Levites in the midst of the camps. As they encamp, so shall they set out, every man in his place, by their standards.</span>
  <span class="verse" title="Numbers 2:18" id="Numbers-2-18">&#8220;On the west side shall be the standard of the camp of Ephraim according to their divisions: and the prince of the children of Ephraim shall be Elishama the son of Ammihud.</span>
  <span class="verse" title="Numbers 2:19" id="Numbers-2-19">His division, and those who were numbered of them, were forty thousand five hundred.</span>
  <span class="verse" title="Numbers 2:20" id="Numbers-2-20">&#8220;Next to him shall be the tribe of Manasseh: and the prince of the children of Manasseh shall be Gamaliel the son of Pedahzur.</span>
  <span class="verse" title="Numbers 2:21" id="Numbers-2-21">His division, and those who were numbered of them, were thirty-two thousand two hundred.</span>
  <span class="verse" title="Numbers 2:22" id="Numbers-2-22">&#8220;The tribe of Benjamin: and the prince of the children of Benjamin shall be Abidan the son of Gideoni.</span>
  <span class="verse" title="Numbers 2:23" id="Numbers-2-23">His army, and those who were numbered of them, were thirty-five thousand four hundred.</span>
  <span class="verse" title="Numbers 2:24" id="Numbers-2-24">&#8220;All who were numbered of the camp of Ephraim were one hundred eight thousand one hundred, according to their divisions. They shall set out third.</span>
  <span class="verse" title="Numbers 2:25" id="Numbers-2-25">&#8220;On the north side shall be the standard of the camp of Dan according to their divisions: and the prince of the children of Dan shall be Ahiezer the son of Ammishaddai.</span>
  <span class="verse" title="Numbers 2:26" id="Numbers-2-26">His division, and those who were numbered of them, were sixty-two thousand seven hundred.</span>
  <span class="verse" title="Numbers 2:27" id="Numbers-2-27">&#8220;Those who encamp next to him shall be the tribe of Asher: and the prince of the children of Asher shall be Pagiel the son of Ochran.</span>
  <span class="verse" title="Numbers 2:28" id="Numbers-2-28">His division, and those who were numbered of them, were forty-one thousand and five hundred.</span>
  <span class="verse" title="Numbers 2:29" id="Numbers-2-29">&#8220;The tribe of Naphtali: and the prince of the children of Naphtali shall be Ahira the son of Enan.</span>
  <span class="verse" title="Numbers 2:30" id="Numbers-2-30">His division, and those who were numbered of them, were fifty-three thousand four hundred.</span>
  <span class="verse" title="Numbers 2:31" id="Numbers-2-31">&#8220;All who were numbered of the camp of Dan were one hundred fifty-seven thousand six hundred. They shall set out last by their standards.&#8221;</span>
  <span class="verse" title="Numbers 2:32" id="Numbers-2-32">These are those who were numbered of the children of Israel by their fathers&#8217; houses. All who were numbered of the camps according to their armies were six hundred three thousand five hundred fifty.</span>
  <span class="verse" title="Numbers 2:33" id="Numbers-2-33">But the Levites were not numbered among the children of Israel; as Yahweh commanded Moses.</span>
  <span class="verse" title="Numbers 2:34" id="Numbers-2-34">Thus the children of Israel did. According to all that Yahweh commanded Moses, so they encamped by their standards, and so they set out, everyone by their families, according to their fathers&#8217; houses.</span>
</div>