<div class="chapter" id="Numbers-003">
  <h2>Numbers 3</h2>
  <span class="verse" title="Numbers 3:1" id="Numbers-3-1">Now this is the history of the generations of Aaron and Moses in the day that Yahweh spoke with Moses in Mount Sinai.</span>
  <span class="verse" title="Numbers 3:2" id="Numbers-3-2">These are the names of the sons of Aaron: Nadab the firstborn, and Abihu, Eleazar, and Ithamar.</span>
  <span class="verse" title="Numbers 3:3" id="Numbers-3-3">These are the names of the sons of Aaron, the priests who were anointed, whom he consecrated to minister in the priest&#8217;s office.</span>
  <span class="verse" title="Numbers 3:4" id="Numbers-3-4">Nadab and Abihu died before Yahweh, when they offered strange fire before Yahweh, in the wilderness of Sinai, and they had no children. Eleazar and Ithamar ministered in the priest&#8217;s office in the presence of Aaron their father.</span>
  <span class="verse" title="Numbers 3:5" id="Numbers-3-5">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 3:6" id="Numbers-3-6">&#8220;Bring the tribe of Levi near, and set them before Aaron the priest, that they may minister to him.</span>
  <span class="verse" title="Numbers 3:7" id="Numbers-3-7">They shall keep his requirements, and the requirements of the whole congregation before the Tent of Meeting, to do the service of the tabernacle.</span>
  <span class="verse" title="Numbers 3:8" id="Numbers-3-8">They shall keep all the furnishings of the Tent of Meeting, and the obligations of the children of Israel, to do the service of the tabernacle.</span>
  <span class="verse" title="Numbers 3:9" id="Numbers-3-9">You shall give the Levites to Aaron and to his sons. They are wholly given to him on the behalf of the children of Israel.</span>
  <span class="verse" title="Numbers 3:10" id="Numbers-3-10">You shall appoint Aaron and his sons, and they shall keep their priesthood. The stranger who comes near shall be put to death.&#8221;</span>
  <span class="verse" title="Numbers 3:11" id="Numbers-3-11">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 3:12" id="Numbers-3-12">&#8220;Behold, I have taken the Levites from among the children of Israel instead of all the firstborn who open the womb among the children of Israel; and the Levites shall be mine:</span>
  <span class="verse" title="Numbers 3:13" id="Numbers-3-13">for all the firstborn are mine. On the day that I struck down all the firstborn in the land of Egypt I made holy to me all the firstborn in Israel, both man and animal. They shall be mine. I am Yahweh.&#8221;</span>
  <span class="verse" title="Numbers 3:14" id="Numbers-3-14">Yahweh spoke to Moses in the wilderness of Sinai, saying,</span>
  <span class="verse" title="Numbers 3:15" id="Numbers-3-15">&#8220;Count the children of Levi by their fathers&#8217; houses, by their families. You shall count every male from a month old and upward.&#8221;</span>
  <span class="verse" title="Numbers 3:16" id="Numbers-3-16">Moses numbered them according to the word of Yahweh, as he was commanded.</span>
  <span class="verse" title="Numbers 3:17" id="Numbers-3-17">These were the sons of Levi by their names: Gershon, and Kohath, and Merari.</span>
  <span class="verse" title="Numbers 3:18" id="Numbers-3-18">These are the names of the sons of Gershon by their families: Libni and Shimei.</span>
  <span class="verse" title="Numbers 3:19" id="Numbers-3-19">The sons of Kohath by their families: Amram, and Izhar, Hebron, and Uzziel.</span>
  <span class="verse" title="Numbers 3:20" id="Numbers-3-20">The sons of Merari by their families: Mahli and Mushi. These are the families of the Levites according to their fathers&#8217; houses.</span>
  <span class="verse" title="Numbers 3:21" id="Numbers-3-21">Of Gershon was the family of the Libnites, and the family of the Shimeites: these are the families of the Gershonites.</span>
  <span class="verse" title="Numbers 3:22" id="Numbers-3-22">Those who were numbered of them, according to the number of all the males, from a month old and upward, even those who were numbered of them were seven thousand five hundred.</span>
  <span class="verse" title="Numbers 3:23" id="Numbers-3-23">The families of the Gershonites shall encamp behind the tabernacle westward.</span>
  <span class="verse" title="Numbers 3:24" id="Numbers-3-24">The prince of the fathers&#8217; house of the Gershonites shall be Eliasaph the son of Lael.</span>
  <span class="verse" title="Numbers 3:25" id="Numbers-3-25">The duty of the sons of Gershon in the Tent of Meeting shall be the tabernacle, and the tent, its covering, and the screen for the door of the Tent of Meeting,</span>
  <span class="verse" title="Numbers 3:26" id="Numbers-3-26">and the hangings of the court, and the screen for the door of the court, which is by the tabernacle, and around the altar, and its cords for all of its service.</span>
  <span class="verse" title="Numbers 3:27" id="Numbers-3-27">Of Kohath was the family of the Amramites, and the family of the Izharites, and the family of the Hebronites, and the family of the Uzzielites: these are the families of the Kohathites.</span>
  <span class="verse" title="Numbers 3:28" id="Numbers-3-28">According to the number of all the males, from a month old and upward, there were eight thousand six hundred, keeping the requirements of the sanctuary.</span>
  <span class="verse" title="Numbers 3:29" id="Numbers-3-29">The families of the sons of Kohath shall encamp on the south side of the tabernacle.</span>
  <span class="verse" title="Numbers 3:30" id="Numbers-3-30">The prince of the fathers&#8217; house of the families of the Kohathites shall be Elizaphan the son of Uzziel.</span>
  <span class="verse" title="Numbers 3:31" id="Numbers-3-31">Their duty shall be the ark, the table, the lamp stand, the altars, the vessels of the sanctuary with which they minister, and the screen, and all its service.</span>
  <span class="verse" title="Numbers 3:32" id="Numbers-3-32">Eleazar the son of Aaron the priest shall be prince of the princes of the Levites, with the oversight of those who keep the requirements of the sanctuary.</span>
  <span class="verse" title="Numbers 3:33" id="Numbers-3-33">Of Merari was the family of the Mahlites, and the family of the Mushites. These are the families of Merari.</span>
  <span class="verse" title="Numbers 3:34" id="Numbers-3-34">Those who were numbered of them, according to the number of all the males, from a month old and upward, were six thousand two hundred.</span>
  <span class="verse" title="Numbers 3:35" id="Numbers-3-35">The prince of the fathers&#8217; house of the families of Merari was Zuriel the son of Abihail. They shall encamp on the north side of the tabernacle.</span>
  <span class="verse" title="Numbers 3:36" id="Numbers-3-36">The appointed duty of the sons of Merari shall be the tabernacle&#8217;s boards, its bars, its pillars, its sockets, all its instruments, all its service,</span>
  <span class="verse" title="Numbers 3:37" id="Numbers-3-37">the pillars of the court around it, their sockets, their pins, and their cords.</span>
  <span class="verse" title="Numbers 3:38" id="Numbers-3-38">Those who encamp before the tabernacle eastward, in front of the Tent of Meeting toward the sunrise, shall be Moses, and Aaron and his sons, keeping the requirements of the sanctuary for the duty of the children of Israel. The stranger who comes near shall be put to death.</span>
  <span class="verse" title="Numbers 3:39" id="Numbers-3-39">All who were numbered of the Levites, whom Moses and Aaron numbered at the commandment of Yahweh, by their families, all the males from a month old and upward, were twenty-two thousand.</span>
  <span class="verse" title="Numbers 3:40" id="Numbers-3-40">Yahweh said to Moses, &#8220;Number all the firstborn males of the children of Israel from a month old and upward, and take the number of their names.</span>
  <span class="verse" title="Numbers 3:41" id="Numbers-3-41">You shall take the Levites for me (I am Yahweh) instead of all the firstborn among the children of Israel; and the livestock of the Levites instead of all the firstborn among the livestock of the children of Israel.&#8221;</span>
  <span class="verse" title="Numbers 3:42" id="Numbers-3-42">Moses numbered, as Yahweh commanded him, all the firstborn among the children of Israel.</span>
  <span class="verse" title="Numbers 3:43" id="Numbers-3-43">All the firstborn males according to the number of names, from a month old and upward, of those who were numbered of them, were twenty-two thousand two hundred seventy-three.</span>
  <span class="verse" title="Numbers 3:44" id="Numbers-3-44">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 3:45" id="Numbers-3-45">&#8220;Take the Levites instead of all the firstborn among the children of Israel, and the livestock of the Levites instead of their livestock; and the Levites shall be mine. I am Yahweh.</span>
  <span class="verse" title="Numbers 3:46" id="Numbers-3-46">For the redemption of the two hundred seventy-three of the firstborn of the children of Israel, who exceed the number of the Levites,</span>
  <span class="verse" title="Numbers 3:47" id="Numbers-3-47">you shall take five shekels apiece for each one; after the shekel of the sanctuary you shall take them (the shekel is twenty gerahs):</span>
  <span class="verse" title="Numbers 3:48" id="Numbers-3-48">and you shall give the money, with which their remainder is redeemed, to Aaron and to his sons.&#8221;</span>
  <span class="verse" title="Numbers 3:49" id="Numbers-3-49">Moses took the redemption money from those who exceeded the number of those who were redeemed by the Levites;</span>
  <span class="verse" title="Numbers 3:50" id="Numbers-3-50">from the firstborn of the children of Israel he took the money, one thousand three hundred sixty-five shekels, after the shekel of the sanctuary:</span>
  <span class="verse" title="Numbers 3:51" id="Numbers-3-51">and Moses gave the redemption money to Aaron and to his sons, according to the word of Yahweh, as Yahweh commanded Moses.</span>
</div>