<div class="chapter" id="Numbers-006">
  <h2>Numbers 6</h2>
  <span class="verse" title="Numbers 6:1" id="Numbers-6-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 6:2" id="Numbers-6-2">&#8220;Speak to the children of Israel, and tell them: &#8216;When either man or woman shall make a special vow, the vow of a Nazirite, to separate himself to Yahweh,</span>
  <span class="verse" title="Numbers 6:3" id="Numbers-6-3">he shall separate himself from wine and strong drink. He shall drink no vinegar of wine, or vinegar of fermented drink, neither shall he drink any juice of grapes, nor eat fresh grapes or dried.</span>
  <span class="verse" title="Numbers 6:4" id="Numbers-6-4">All the days of his separation he shall eat nothing that is made of the grapevine, from the seeds even to the skins.</span>
  <span class="verse" title="Numbers 6:5" id="Numbers-6-5">&#8220;&#8216;All the days of his vow of separation no razor shall come on his head, until the days are fulfilled, in which he separates himself to Yahweh. He shall be holy. He shall let the locks of the hair of his head grow long.</span>
  <span class="verse" title="Numbers 6:6" id="Numbers-6-6">&#8220;&#8216;All the days that he separates himself to Yahweh he shall not go near a dead body.</span>
  <span class="verse" title="Numbers 6:7" id="Numbers-6-7">He shall not make himself unclean for his father, or for his mother, for his brother, or for his sister, when they die; because his separation to God is on his head.</span>
  <span class="verse" title="Numbers 6:8" id="Numbers-6-8">All the days of his separation he is holy to Yahweh.</span>
  <span class="verse" title="Numbers 6:9" id="Numbers-6-9">&#8220;&#8216;If any man dies very suddenly beside him, and he defiles the head of his separation; then he shall shave his head in the day of his cleansing. On the seventh day he shall shave it.</span>
  <span class="verse" title="Numbers 6:10" id="Numbers-6-10">On the eighth day he shall bring two turtledoves or two young pigeons to the priest, to the door of the Tent of Meeting.</span>
  <span class="verse" title="Numbers 6:11" id="Numbers-6-11">The priest shall offer one for a sin offering, and the other for a burnt offering, and make atonement for him, because he sinned by reason of the dead, and shall make his head holy that same day.</span>
  <span class="verse" title="Numbers 6:12" id="Numbers-6-12">He shall separate to Yahweh the days of his separation, and shall bring a male lamb a year old for a trespass offering; but the former days shall be void, because his separation was defiled.</span>
  <span class="verse" title="Numbers 6:13" id="Numbers-6-13">&#8220;&#8216;This is the law of the Nazirite: when the days of his separation are fulfilled, he shall be brought to the door of the Tent of Meeting,</span>
  <span class="verse" title="Numbers 6:14" id="Numbers-6-14">and he shall offer his offering to Yahweh, one male lamb a year old without blemish for a burnt offering, and one ewe lamb a year old without blemish for a sin offering, and one ram without blemish for peace offerings,</span>
  <span class="verse" title="Numbers 6:15" id="Numbers-6-15">and a basket of unleavened bread, cakes of fine flour mixed with oil, and unleavened wafers anointed with oil, and their meal offering, and their drink offerings.</span>
  <span class="verse" title="Numbers 6:16" id="Numbers-6-16">The priest shall present them before Yahweh, and shall offer his sin offering, and his burnt offering.</span>
  <span class="verse" title="Numbers 6:17" id="Numbers-6-17">He shall offer the ram for a sacrifice of peace offerings to Yahweh, with the basket of unleavened bread. The priest shall offer also its meal offering, and its drink offering.</span>
  <span class="verse" title="Numbers 6:18" id="Numbers-6-18">The Nazirite shall shave the head of his separation at the door of the Tent of Meeting, and shall take the hair of the head of his separation, and put it on the fire which is under the sacrifice of peace offerings.</span>
  <span class="verse" title="Numbers 6:19" id="Numbers-6-19">The priest shall take the boiled shoulder of the ram, and one unleavened cake out of the basket, and one unleavened wafer, and shall put them on the hands of the Nazirite, after he has shaved the head of his separation;</span>
  <span class="verse" title="Numbers 6:20" id="Numbers-6-20">and the priest shall wave them for a wave offering before Yahweh. This is holy for the priest, together with the breast that is waved and the thigh that is offered. After that the Nazirite may drink wine.</span>
  <span class="verse" title="Numbers 6:21" id="Numbers-6-21">&#8220;&#8216;This is the law of the Nazirite who vows, and of his offering to Yahweh for his separation, besides that which he is able to get. According to his vow which he vows, so he must do after the law of his separation.&#8217;&#8221;</span>
  <span class="verse" title="Numbers 6:22" id="Numbers-6-22">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 6:23" id="Numbers-6-23">&#8220;Speak to Aaron and to his sons, saying, &#8216;This is how you shall bless the children of Israel.&#8217; You shall tell them,</span>
  <span class="verse" title="Numbers 6:24" id="Numbers-6-24">&#8216;Yahweh bless you, and keep you.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Numbers 6:25" id="Numbers-6-25">Yahweh make his face to shine on you,<br/> <span class="indent">&nbsp;&nbsp;</span>and be gracious to you.<br/></span>
  <span class="verse" title="Numbers 6:26" id="Numbers-6-26">Yahweh lift up his face toward you,<br/> <span class="indent">&nbsp;&nbsp;</span>and give you peace.&#8217;<br/></span>
  <span class="verse" title="Numbers 6:27" id="Numbers-6-27">&#8220;So they shall put my name on the children of Israel; and I will bless them.&#8221;</span>
</div>