<div class="chapter" id="Numbers-007">
  <h2>Numbers 7</h2>
  <span class="verse" title="Numbers 7:1" id="Numbers-7-1">It happened on the day that Moses had finished setting up the tabernacle, and had anointed it and sanctified it, with all its furniture, and the altar with all its vessels, and had anointed and sanctified them;</span>
  <span class="verse" title="Numbers 7:2" id="Numbers-7-2">that the princes of Israel, the heads of their fathers&#8217; houses, offered. These were the princes of the tribes. These are they who were over those who were numbered:</span>
  <span class="verse" title="Numbers 7:3" id="Numbers-7-3">and they brought their offering before Yahweh, six covered wagons, and twelve oxen; a wagon for every two of the princes, and for each one an ox: and they presented them before the tabernacle.</span>
  <span class="verse" title="Numbers 7:4" id="Numbers-7-4">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 7:5" id="Numbers-7-5">&#8220;Accept these from them, that they may be used in doing the service of the Tent of Meeting; and you shall give them to the Levites, to every man according to his service.&#8221;</span>
  <span class="verse" title="Numbers 7:6" id="Numbers-7-6">Moses took the wagons and the oxen, and gave them to the Levites.</span>
  <span class="verse" title="Numbers 7:7" id="Numbers-7-7">He gave two wagons and four oxen to the sons of Gershon, according to their service:</span>
  <span class="verse" title="Numbers 7:8" id="Numbers-7-8">and he gave four wagons and eight oxen to the sons of Merari, according to their service, under the direction of Ithamar the son of Aaron the priest.</span>
  <span class="verse" title="Numbers 7:9" id="Numbers-7-9">But to the sons of Kohath he gave none, because the service of the sanctuary belonged to them; they carried it on their shoulders.</span>
  <span class="verse" title="Numbers 7:10" id="Numbers-7-10">The princes gave offerings for the dedication of the altar in the day that it was anointed, even the princes gave their offerings before the altar.</span>
  <span class="verse" title="Numbers 7:11" id="Numbers-7-11">Yahweh said to Moses, &#8220;They shall offer their offering, each prince on his day, for the dedication of the altar.&#8221;</span>
  <span class="verse" title="Numbers 7:12" id="Numbers-7-12">He who offered his offering the first day was Nahshon the son of Amminadab, of the tribe of Judah,</span>
  <span class="verse" title="Numbers 7:13" id="Numbers-7-13">and his offering was: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:14" id="Numbers-7-14">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:15" id="Numbers-7-15">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:16" id="Numbers-7-16">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:17" id="Numbers-7-17">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Nahshon the son of Amminadab.</span>
  <span class="verse" title="Numbers 7:18" id="Numbers-7-18">On the second day Nethanel the son of Zuar, prince of Issachar, gave his offering.</span>
  <span class="verse" title="Numbers 7:19" id="Numbers-7-19">He offered for his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:20" id="Numbers-7-20">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:21" id="Numbers-7-21">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:22" id="Numbers-7-22">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:23" id="Numbers-7-23">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, five male lambs a year old. This was the offering of Nethanel the son of Zuar.</span>
  <span class="verse" title="Numbers 7:24" id="Numbers-7-24">On the third day Eliab the son of Helon, prince of the children of Zebulun</span>
  <span class="verse" title="Numbers 7:25" id="Numbers-7-25">gave his offering: one silver platter, the weight of which was a hundred and thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:26" id="Numbers-7-26">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:27" id="Numbers-7-27">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:28" id="Numbers-7-28">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:29" id="Numbers-7-29">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Eliab the son of Helon.</span>
  <span class="verse" title="Numbers 7:30" id="Numbers-7-30">On the fourth day Elizur the son of Shedeur, prince of the children of Reuben</span>
  <span class="verse" title="Numbers 7:31" id="Numbers-7-31">gave his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:32" id="Numbers-7-32">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:33" id="Numbers-7-33">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:34" id="Numbers-7-34">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:35" id="Numbers-7-35">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Elizur the son of Shedeur.</span>
  <span class="verse" title="Numbers 7:36" id="Numbers-7-36">On the fifth day Shelumiel the son of Zurishaddai, prince of the children of Simeon</span>
  <span class="verse" title="Numbers 7:37" id="Numbers-7-37">gave his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:38" id="Numbers-7-38">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:39" id="Numbers-7-39">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:40" id="Numbers-7-40">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:41" id="Numbers-7-41">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old: this was the offering of Shelumiel the son of Zurishaddai.</span>
  <span class="verse" title="Numbers 7:42" id="Numbers-7-42">On the sixth day, Eliasaph the son of Deuel, prince of the children of Gad</span>
  <span class="verse" title="Numbers 7:43" id="Numbers-7-43">gave his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:44" id="Numbers-7-44">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:45" id="Numbers-7-45">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:46" id="Numbers-7-46">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:47" id="Numbers-7-47">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Eliasaph the son of Deuel.</span>
  <span class="verse" title="Numbers 7:48" id="Numbers-7-48">On the seventh day Elishama the son of Ammihud, prince of the children of Ephraim</span>
  <span class="verse" title="Numbers 7:49" id="Numbers-7-49">gave his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:50" id="Numbers-7-50">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:51" id="Numbers-7-51">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:52" id="Numbers-7-52">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:53" id="Numbers-7-53">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Elishama the son of Ammihud.</span>
  <span class="verse" title="Numbers 7:54" id="Numbers-7-54">On the eighth day Gamaliel the son of Pedahzur, prince of the children of Manasseh</span>
  <span class="verse" title="Numbers 7:55" id="Numbers-7-55">gave his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:56" id="Numbers-7-56">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:57" id="Numbers-7-57">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:58" id="Numbers-7-58">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:59" id="Numbers-7-59">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Gamaliel the son of Pedahzur.</span>
  <span class="verse" title="Numbers 7:60" id="Numbers-7-60">On the ninth day Abidan the son of Gideoni, prince of the children of Benjamin</span>
  <span class="verse" title="Numbers 7:61" id="Numbers-7-61">gave his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:62" id="Numbers-7-62">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:63" id="Numbers-7-63">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:64" id="Numbers-7-64">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:65" id="Numbers-7-65">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Abidan the son of Gideoni.</span>
  <span class="verse" title="Numbers 7:66" id="Numbers-7-66">On the tenth day Ahiezer the son of Ammishaddai, prince of the children of Dan</span>
  <span class="verse" title="Numbers 7:67" id="Numbers-7-67">gave his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:68" id="Numbers-7-68">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:69" id="Numbers-7-69">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:70" id="Numbers-7-70">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:71" id="Numbers-7-71">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Ahiezer the son of Ammishaddai.</span>
  <span class="verse" title="Numbers 7:72" id="Numbers-7-72">On the eleventh day Pagiel the son of Ochran, prince of the children of Asher</span>
  <span class="verse" title="Numbers 7:73" id="Numbers-7-73">gave his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:74" id="Numbers-7-74">one golden ladle of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:75" id="Numbers-7-75">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:76" id="Numbers-7-76">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:77" id="Numbers-7-77">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Pagiel the son of Ochran.</span>
  <span class="verse" title="Numbers 7:78" id="Numbers-7-78">On the twelfth day Ahira the son of Enan, prince of the children of Naphtali</span>
  <span class="verse" title="Numbers 7:79" id="Numbers-7-79">gave his offering: one silver platter, the weight of which was one hundred thirty shekels, one silver bowl of seventy shekels, after the shekel of the sanctuary; both of them full of fine flour mixed with oil for a meal offering;</span>
  <span class="verse" title="Numbers 7:80" id="Numbers-7-80">one golden spoon of ten shekels, full of incense;</span>
  <span class="verse" title="Numbers 7:81" id="Numbers-7-81">one young bull, one ram, one male lamb a year old, for a burnt offering;</span>
  <span class="verse" title="Numbers 7:82" id="Numbers-7-82">one male goat for a sin offering;</span>
  <span class="verse" title="Numbers 7:83" id="Numbers-7-83">and for the sacrifice of peace offerings, two head of cattle, five rams, five male goats, and five male lambs a year old. This was the offering of Ahira the son of Enan.</span>
  <span class="verse" title="Numbers 7:84" id="Numbers-7-84">This was the dedication of the altar, on the day when it was anointed, by the princes of Israel: twelve silver platters, twelve silver bowls, twelve golden ladles;</span>
  <span class="verse" title="Numbers 7:85" id="Numbers-7-85">each silver platter weighing one hundred thirty shekels, and each bowl seventy; all the silver of the vessels two thousand four hundred shekels, after the shekel of the sanctuary;</span>
  <span class="verse" title="Numbers 7:86" id="Numbers-7-86">the twelve golden ladles, full of incense, weighing ten shekels apiece, after the shekel of the sanctuary; all the gold of the ladles weighed one hundred twenty shekels;</span>
  <span class="verse" title="Numbers 7:87" id="Numbers-7-87">all the cattle for the burnt offering twelve bulls, the rams twelve, the male lambs a year old twelve, and their meal offering; and the male goats for a sin offering twelve;</span>
  <span class="verse" title="Numbers 7:88" id="Numbers-7-88">and all the cattle for the sacrifice of peace offerings twenty-four bulls, the rams sixty, the male goats sixty, the male lambs a year old sixty. This was the dedication of the altar, after it was anointed.</span>
  <span class="verse" title="Numbers 7:89" id="Numbers-7-89">When Moses went into the Tent of Meeting to speak with Yahweh, he heard his voice speaking to him from above the mercy seat that was on the ark of the Testimony, from between the two cherubim: and he spoke to him.</span>
</div>