<div class="chapter" id="Numbers-008">
  <h2>Numbers 8</h2>
  <span class="verse" title="Numbers 8:1" id="Numbers-8-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 8:2" id="Numbers-8-2">&#8220;Speak to Aaron, and tell him, &#8216;When you light the lamps, the seven lamps shall give light in front of the lampstand.&#8217;&#8221;</span>
  <span class="verse" title="Numbers 8:3" id="Numbers-8-3">Aaron did so. He lit its lamps to light the area in front of the lampstand, as Yahweh commanded Moses.</span>
  <span class="verse" title="Numbers 8:4" id="Numbers-8-4">This was the workmanship of the lampstand, beaten work of gold. From its base to its flowers, it was beaten work: according to the pattern which Yahweh had shown Moses, so he made the lampstand.</span>
  <span class="verse" title="Numbers 8:5" id="Numbers-8-5">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 8:6" id="Numbers-8-6">&#8220;Take the Levites from among the children of Israel, and cleanse them.</span>
  <span class="verse" title="Numbers 8:7" id="Numbers-8-7">You shall do this to them, to cleanse them: sprinkle the water of cleansing on them, let them shave their whole bodies with a razor, and let them wash their clothes, and cleanse themselves.</span>
  <span class="verse" title="Numbers 8:8" id="Numbers-8-8">Then let them take a young bull, and its meal offering, fine flour mixed with oil; and another young bull you shall take for a sin offering.</span>
  <span class="verse" title="Numbers 8:9" id="Numbers-8-9">You shall present the Levites before the Tent of Meeting. You shall assemble the whole congregation of the children of Israel.</span>
  <span class="verse" title="Numbers 8:10" id="Numbers-8-10">You shall present the Levites before Yahweh. The children of Israel shall lay their hands on the Levites,</span>
  <span class="verse" title="Numbers 8:11" id="Numbers-8-11">and Aaron shall offer the Levites before Yahweh for a wave offering, on the behalf of the children of Israel, that it may be theirs to do the service of Yahweh.</span>
  <span class="verse" title="Numbers 8:12" id="Numbers-8-12">&#8220;The Levites shall lay their hands on the heads of the bulls, and you shall offer the one for a sin offering, and the other for a burnt offering to Yahweh, to make atonement for the Levites.</span>
  <span class="verse" title="Numbers 8:13" id="Numbers-8-13">You shall set the Levites before Aaron, and before his sons, and offer them as a wave offering to Yahweh.</span>
  <span class="verse" title="Numbers 8:14" id="Numbers-8-14">Thus you shall separate the Levites from among the children of Israel, and the Levites shall be mine.</span>
  <span class="verse" title="Numbers 8:15" id="Numbers-8-15">&#8220;After that, the Levites shall go in to do the service of the Tent of Meeting: and you shall cleanse them, and offer them as a wave offering.</span>
  <span class="verse" title="Numbers 8:16" id="Numbers-8-16">For they are wholly given to me from among the children of Israel; instead of all who open the womb, even the firstborn of all the children of Israel, I have taken them to me.</span>
  <span class="verse" title="Numbers 8:17" id="Numbers-8-17">For all the firstborn among the children of Israel are mine, both man and animal. On the day that I struck all the firstborn in the land of Egypt, I sanctified them for myself.</span>
  <span class="verse" title="Numbers 8:18" id="Numbers-8-18">I have taken the Levites instead of all the firstborn among the children of Israel.</span>
  <span class="verse" title="Numbers 8:19" id="Numbers-8-19">I have given the Levites as a gift to Aaron and to his sons from among the children of Israel, to do the service of the children of Israel in the Tent of Meeting, and to make atonement for the children of Israel; that there be no plague among the children of Israel, when the children of Israel come near to the sanctuary.&#8221;</span>
  <span class="verse" title="Numbers 8:20" id="Numbers-8-20">Moses, and Aaron, and all the congregation of the children of Israel did so to the Levites. According to all that Yahweh commanded Moses concerning the Levites, so the children of Israel did to them.</span>
  <span class="verse" title="Numbers 8:21" id="Numbers-8-21">The Levites purified themselves from sin, and they washed their clothes; and Aaron offered them for a wave offering before Yahweh; and Aaron made atonement for them to cleanse them.</span>
  <span class="verse" title="Numbers 8:22" id="Numbers-8-22">After that, the Levites went in to do their service in the Tent of Meeting before Aaron, and before his sons: as Yahweh had commanded Moses concerning the Levites, so they did to them.</span>
  <span class="verse" title="Numbers 8:23" id="Numbers-8-23">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 8:24" id="Numbers-8-24">&#8220;This is that which belongs to the Levites: from twenty-five years old and upward they shall go in to wait on the service in the work of the Tent of Meeting;</span>
  <span class="verse" title="Numbers 8:25" id="Numbers-8-25">and from the age of fifty years they shall cease waiting on the work, and shall serve no more,</span>
  <span class="verse" title="Numbers 8:26" id="Numbers-8-26">but shall minister with their brothers in the Tent of Meeting, to perform the duty, and shall do no service. You shall do thus to the Levites concerning their duties.&#8221;</span>
</div>