<div class="chapter" id="Numbers-010">
  <h2>Numbers 10</h2>
  <span class="verse" title="Numbers 10:1" id="Numbers-10-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 10:2" id="Numbers-10-2">&#8220;Make two trumpets of silver. You shall make them of beaten work. You shall use them for the calling of the congregation, and for the journeying of the camps.</span>
  <span class="verse" title="Numbers 10:3" id="Numbers-10-3">When they blow them, all the congregation shall gather themselves to you at the door of the Tent of Meeting.</span>
  <span class="verse" title="Numbers 10:4" id="Numbers-10-4">If they blow just one, then the princes, the heads of the thousands of Israel, shall gather themselves to you.</span>
  <span class="verse" title="Numbers 10:5" id="Numbers-10-5">When you blow an alarm, the camps that lie on the east side shall go forward.</span>
  <span class="verse" title="Numbers 10:6" id="Numbers-10-6">When you blow an alarm the second time, the camps that lie on the south side shall go forward. They shall blow an alarm for their journeys.</span>
  <span class="verse" title="Numbers 10:7" id="Numbers-10-7">But when the assembly is to be gathered together, you shall blow, but you shall not sound an alarm.</span>
  <span class="verse" title="Numbers 10:8" id="Numbers-10-8">&#8220;The sons of Aaron, the priests, shall blow the trumpets. This shall be to you for a statute forever throughout your generations.</span>
  <span class="verse" title="Numbers 10:9" id="Numbers-10-9">When you go to war in your land against the adversary who oppresses you, then you shall sound an alarm with the trumpets. Then you will be remembered before Yahweh your God, and you will be saved from your enemies.</span>
  <span class="verse" title="Numbers 10:10" id="Numbers-10-10">&#8220;Also in the day of your gladness, and in your set feasts, and in the beginnings of your months, you shall blow the trumpets over your burnt offerings, and over the sacrifices of your peace offerings; and they shall be to you for a memorial before your God. I am Yahweh your God.&#8221;</span>
  <span class="verse" title="Numbers 10:11" id="Numbers-10-11">It happened in the second year, in the second month, on the twentieth day of the month, that the cloud was taken up from over the tabernacle of the testimony.</span>
  <span class="verse" title="Numbers 10:12" id="Numbers-10-12">The children of Israel went forward according to their journeys out of the wilderness of Sinai; and the cloud stayed in the wilderness of Paran.</span>
  <span class="verse" title="Numbers 10:13" id="Numbers-10-13">They first went forward according to the commandment of Yahweh by Moses.</span>
  <span class="verse" title="Numbers 10:14" id="Numbers-10-14">First, the standard of the camp of the children of Judah went forward according to their armies. Nahshon the son of Amminadab was over his army.</span>
  <span class="verse" title="Numbers 10:15" id="Numbers-10-15">Nethanel the son of Zuar was over the army of the tribe of the children of Issachar.</span>
  <span class="verse" title="Numbers 10:16" id="Numbers-10-16">Eliab the son of Helon was over the army of the tribe of the children of Zebulun.</span>
  <span class="verse" title="Numbers 10:17" id="Numbers-10-17">The tabernacle was taken down; and the sons of Gershon and the sons of Merari, who bore the tabernacle, went forward.</span>
  <span class="verse" title="Numbers 10:18" id="Numbers-10-18">The standard of the camp of Reuben went forward according to their armies. Elizur the son of Shedeur was over his army.</span>
  <span class="verse" title="Numbers 10:19" id="Numbers-10-19">Shelumiel the son of Zurishaddai was over the army of the tribe of the children of Simeon.</span>
  <span class="verse" title="Numbers 10:20" id="Numbers-10-20">Eliasaph the son of Deuel was over the army of the tribe of the children of Gad.</span>
  <span class="verse" title="Numbers 10:21" id="Numbers-10-21">The Kohathites set forward, bearing the sanctuary. The others set up the tabernacle before they arrived.</span>
  <span class="verse" title="Numbers 10:22" id="Numbers-10-22">The standard of the camp of the children of Ephraim set forward according to their armies. Elishama the son of Ammihud was over his army.</span>
  <span class="verse" title="Numbers 10:23" id="Numbers-10-23">Gamaliel the son of Pedahzur was over the army of the tribe of the children of Manasseh.</span>
  <span class="verse" title="Numbers 10:24" id="Numbers-10-24">Abidan the son of Gideoni was over the army of the tribe of the children of Benjamin.</span>
  <span class="verse" title="Numbers 10:25" id="Numbers-10-25">The standard of the camp of the children of Dan, which was the rear guard of all the camps, set forward according to their armies. Ahiezer the son of Ammishaddai was over his army.</span>
  <span class="verse" title="Numbers 10:26" id="Numbers-10-26">Pagiel the son of Ochran was over the army of the tribe of the children of Asher.</span>
  <span class="verse" title="Numbers 10:27" id="Numbers-10-27">Ahira the son of Enan was over the army of the tribe of the children of Naphtali.</span>
  <span class="verse" title="Numbers 10:28" id="Numbers-10-28">Thus were the travels of the children of Israel according to their armies; and they went forward.</span>
  <span class="verse" title="Numbers 10:29" id="Numbers-10-29">Moses said to Hobab, the son of Reuel the Midianite, Moses&#8217; father-in-law, &#8220;We are journeying to the place of which Yahweh said, &#8216;I will give it to you.&#8217; Come with us, and we will treat you well; for Yahweh has spoken good concerning Israel.&#8221;</span>
  <span class="verse" title="Numbers 10:30" id="Numbers-10-30">He said to him, &#8220;I will not go; but I will depart to my own land, and to my relatives.&#8221;</span>
  <span class="verse" title="Numbers 10:31" id="Numbers-10-31">He said, &#8220;Don&#8217;t leave us, please; because you know how we are to encamp in the wilderness, and you can be our eyes.</span>
  <span class="verse" title="Numbers 10:32" id="Numbers-10-32">It shall be, if you go with us, yes, it shall be, that whatever good Yahweh does to us, we will do the same to you.&#8221;</span>
  <span class="verse" title="Numbers 10:33" id="Numbers-10-33">They set forward from the Mount of Yahweh three days&#8217; journey. The ark of the covenant of Yahweh went before them three days&#8217; journey, to seek out a resting place for them.</span>
  <span class="verse" title="Numbers 10:34" id="Numbers-10-34">The cloud of Yahweh was over them by day, when they set forward from the camp.</span>
  <span class="verse" title="Numbers 10:35" id="Numbers-10-35">It happened, when the ark went forward, that Moses said, &#8220;Rise up, Yahweh, and let your enemies be scattered! Let those who hate you flee before you!&#8221;</span>
  <span class="verse" title="Numbers 10:36" id="Numbers-10-36">When it rested, he said, &#8220;Return, Yahweh, to the ten thousands of the thousands of Israel.&#8221;</span>
</div>