<div class="chapter" id="Numbers-012">
  <h2>Numbers 12</h2>
  <span class="verse" title="Numbers 12:1" id="Numbers-12-1">Miriam and Aaron spoke against Moses because of the Cushite woman whom he had married; for he had married a Cushite woman.</span>
  <span class="verse" title="Numbers 12:2" id="Numbers-12-2">They said, &#8220;Has Yahweh indeed spoken only with Moses? Hasn&#8217;t he spoken also with us?&#8221; And Yahweh heard it.</span>
  <span class="verse" title="Numbers 12:3" id="Numbers-12-3">Now the man Moses was very humble, above all the men who were on the surface of the earth.</span>
  <span class="verse" title="Numbers 12:4" id="Numbers-12-4">Yahweh spoke suddenly to Moses, to Aaron, and to Miriam, &#8220;You three come out to the Tent of Meeting!&#8221; The three of them came out.</span>
  <span class="verse" title="Numbers 12:5" id="Numbers-12-5">Yahweh came down in a pillar of cloud, and stood at the door of the Tent, and called Aaron and Miriam; and they both came forward.</span>
  <span class="verse" title="Numbers 12:6" id="Numbers-12-6">He said, &#8220;Hear now my words. If there is a prophet among you, I Yahweh will make myself known to him in a vision. I will speak with him in a dream.</span>
  <span class="verse" title="Numbers 12:7" id="Numbers-12-7">My servant Moses is not so. He is faithful in all my house.</span>
  <span class="verse" title="Numbers 12:8" id="Numbers-12-8">With him I will speak mouth to mouth, even plainly, and not in riddles; and he shall see Yahweh&#8217;s form. Why then were you not afraid to speak against my servant, against Moses?&#8221;</span>
  <span class="verse" title="Numbers 12:9" id="Numbers-12-9">The anger of Yahweh was kindled against them; and he departed.</span>
  <span class="verse" title="Numbers 12:10" id="Numbers-12-10">The cloud departed from over the Tent; and behold, Miriam was leprous, as white as snow. Aaron looked at Miriam, and behold, she was leprous.</span>
  <span class="verse" title="Numbers 12:11" id="Numbers-12-11">Aaron said to Moses, &#8220;Oh, my lord, please don&#8217;t count this sin against us, in which we have done foolishly, and in which we have sinned.</span>
  <span class="verse" title="Numbers 12:12" id="Numbers-12-12">Let her not, I pray, be as one dead, of whom the flesh is half consumed when he comes out of his mother&#8217;s womb.&#8221;</span>
  <span class="verse" title="Numbers 12:13" id="Numbers-12-13">Moses cried to Yahweh, saying, &#8220;Heal her, God, I beg you!&#8221;</span>
  <span class="verse" title="Numbers 12:14" id="Numbers-12-14">Yahweh said to Moses, &#8220;If her father had but spit in her face, shouldn&#8217;t she be ashamed seven days? Let her be shut up outside of the camp seven days, and after that she shall be brought in again.&#8221;</span>
  <span class="verse" title="Numbers 12:15" id="Numbers-12-15">Miriam was shut up outside of the camp seven days, and the people didn&#8217;t travel until Miriam was brought in again.</span>
  <span class="verse" title="Numbers 12:16" id="Numbers-12-16">Afterward the people traveled from Hazeroth, and encamped in the wilderness of Paran.</span>
</div>