<div class="chapter" id="Numbers-013">
  <h2>Numbers 13</h2>
  <span class="verse" title="Numbers 13:1" id="Numbers-13-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 13:2" id="Numbers-13-2">&#8220;Send men, that they may spy out the land of Canaan, which I give to the children of Israel. Of every tribe of their fathers, you shall send a man, every one a prince among them.&#8221;</span>
  <span class="verse" title="Numbers 13:3" id="Numbers-13-3">Moses sent them from the wilderness of Paran according to the commandment of Yahweh: all of them men who were heads of the children of Israel.</span>
  <span class="verse" title="Numbers 13:4" id="Numbers-13-4">These were their names: Of the tribe of Reuben, Shammua the son of Zaccur.</span>
  <span class="verse" title="Numbers 13:5" id="Numbers-13-5">Of the tribe of Simeon, Shaphat the son of Hori.</span>
  <span class="verse" title="Numbers 13:6" id="Numbers-13-6">Of the tribe of Judah, Caleb the son of Jephunneh.</span>
  <span class="verse" title="Numbers 13:7" id="Numbers-13-7">Of the tribe of Issachar, Igal the son of Joseph.</span>
  <span class="verse" title="Numbers 13:8" id="Numbers-13-8">Of the tribe of Ephraim, Hoshea the son of Nun.</span>
  <span class="verse" title="Numbers 13:9" id="Numbers-13-9">Of the tribe of Benjamin, Palti the son of Raphu.</span>
  <span class="verse" title="Numbers 13:10" id="Numbers-13-10">Of the tribe of Zebulun, Gaddiel the son of Sodi.</span>
  <span class="verse" title="Numbers 13:11" id="Numbers-13-11">Of the tribe of Joseph, of the tribe of Manasseh, Gaddi the son of Susi.</span>
  <span class="verse" title="Numbers 13:12" id="Numbers-13-12">Of the tribe of Dan, Ammiel the son of Gemalli.</span>
  <span class="verse" title="Numbers 13:13" id="Numbers-13-13">Of the tribe of Asher, Sethur the son of Michael.</span>
  <span class="verse" title="Numbers 13:14" id="Numbers-13-14">Of the tribe of Naphtali, Nahbi the son of Vophsi.</span>
  <span class="verse" title="Numbers 13:15" id="Numbers-13-15">Of the tribe of Gad, Geuel the son of Machi.</span>
  <span class="verse" title="Numbers 13:16" id="Numbers-13-16">These are the names of the men who Moses sent to spy out the land. Moses called Hoshea the son of Nun Joshua.</span>
  <span class="verse" title="Numbers 13:17" id="Numbers-13-17">Moses sent them to spy out the land of Canaan, and said to them, &#8220;Go up this way by the South, and go up into the hill country:</span>
  <span class="verse" title="Numbers 13:18" id="Numbers-13-18">and see the land, what it is; and the people who dwell therein, whether they are strong or weak, whether they are few or many;</span>
  <span class="verse" title="Numbers 13:19" id="Numbers-13-19">and what the land is that they dwell in, whether it is good or bad; and what cities they are that they dwell in, whether in camps, or in strongholds;</span>
  <span class="verse" title="Numbers 13:20" id="Numbers-13-20">and what the land is, whether it is fat or lean, whether there is wood therein, or not. Be courageous, and bring of the fruit of the land. Now the time was the time of the first-ripe grapes.&#8221;</span>
  <span class="verse" title="Numbers 13:21" id="Numbers-13-21">So they went up, and spied out the land from the wilderness of Zin to Rehob, to the entrance of Hamath.</span>
  <span class="verse" title="Numbers 13:22" id="Numbers-13-22">They went up by the South, and came to Hebron; and Ahiman, Sheshai, and Talmai, the children of Anak, were there. (Now Hebron was built seven years before Zoan in Egypt.)</span>
  <span class="verse" title="Numbers 13:23" id="Numbers-13-23">They came to the valley of Eshcol, and cut down from there a branch with one cluster of grapes, and they bore it on a staff between two. They also brought some of the pomegranates and figs.</span>
  <span class="verse" title="Numbers 13:24" id="Numbers-13-24">That place was called the valley of Eshcol, because of the cluster which the children of Israel cut down from there.</span>
  <span class="verse" title="Numbers 13:25" id="Numbers-13-25">They returned from spying out the land at the end of forty days.</span>
  <span class="verse" title="Numbers 13:26" id="Numbers-13-26">They went and came to Moses, and to Aaron, and to all the congregation of the children of Israel, to the wilderness of Paran, to Kadesh; and brought back word to them, and to all the congregation, and showed them the fruit of the land.</span>
  <span class="verse" title="Numbers 13:27" id="Numbers-13-27">They told him, and said, &#8220;We came to the land where you sent us; and surely it flows with milk and honey; and this is its fruit.</span>
  <span class="verse" title="Numbers 13:28" id="Numbers-13-28">However the people who dwell in the land are strong, and the cities are fortified and very large. Moreover, we saw the children of Anak there.</span>
  <span class="verse" title="Numbers 13:29" id="Numbers-13-29">Amalek dwells in the land of the South: and the Hittite, and the Jebusite, and the Amorite, dwell in the hill country; and the Canaanite dwells by the sea, and along by the side of the Jordan.&#8221;</span>
  <span class="verse" title="Numbers 13:30" id="Numbers-13-30">Caleb stilled the people before Moses, and said, &#8220;Let us go up at once, and possess it; for we are well able to overcome it.&#8221;</span>
  <span class="verse" title="Numbers 13:31" id="Numbers-13-31">But the men who went up with him said, &#8220;We aren&#8217;t able to go up against the people; for they are stronger than we.&#8221;</span>
  <span class="verse" title="Numbers 13:32" id="Numbers-13-32">They brought up an evil report of the land which they had spied out to the children of Israel, saying, &#8220;The land, through which we have gone to spy it out, is a land that eats up its inhabitants; and all the people who we saw in it are men of great stature.</span>
  <span class="verse" title="Numbers 13:33" id="Numbers-13-33">There we saw the Nephilim, the sons of Anak, who come of the Nephilim: and we were in our own sight as grasshoppers, and so we were in their sight.&#8221;</span>
</div>