<div class="chapter" id="Numbers-014">
  <h2>Numbers 14</h2>
  <span class="verse" title="Numbers 14:1" id="Numbers-14-1">All the congregation lifted up their voice, and cried; and the people wept that night.</span>
  <span class="verse" title="Numbers 14:2" id="Numbers-14-2">All the children of Israel murmured against Moses and against Aaron: and the whole congregation said to them, &#8220;Would that we had died in the land of Egypt! or would that we had died in this wilderness!</span>
  <span class="verse" title="Numbers 14:3" id="Numbers-14-3">Why does Yahweh bring us to this land, to fall by the sword? Our wives and our little ones will be a prey: wouldn&#8217;t it be better for us to return into Egypt?&#8221;</span>
  <span class="verse" title="Numbers 14:4" id="Numbers-14-4">They said one to another, &#8220;Let us make a captain, and let us return into Egypt.&#8221;</span>
  <span class="verse" title="Numbers 14:5" id="Numbers-14-5">Then Moses and Aaron fell on their faces before all the assembly of the congregation of the children of Israel.</span>
  <span class="verse" title="Numbers 14:6" id="Numbers-14-6">Joshua the son of Nun and Caleb the son of Jephunneh, who were of those who spied out the land, tore their clothes:</span>
  <span class="verse" title="Numbers 14:7" id="Numbers-14-7">and they spoke to all the congregation of the children of Israel, saying, &#8220;The land, which we passed through to spy it out, is an exceeding good land.</span>
  <span class="verse" title="Numbers 14:8" id="Numbers-14-8">If Yahweh delights in us, then he will bring us into this land, and give it to us; a land which flows with milk and honey.</span>
  <span class="verse" title="Numbers 14:9" id="Numbers-14-9">Only don&#8217;t rebel against Yahweh, neither fear the people of the land; for they are bread for us: their defense is removed from over them, and Yahweh is with us. Don&#8217;t fear them.&#8221;</span>
  <span class="verse" title="Numbers 14:10" id="Numbers-14-10">But all the congregation threatened to stone them with stones. The glory of Yahweh appeared in the Tent of Meeting to all the children of Israel.</span>
  <span class="verse" title="Numbers 14:11" id="Numbers-14-11">Yahweh said to Moses, &#8220;How long will this people despise me? and how long will they not believe in me, for all the signs which I have worked among them?</span>
  <span class="verse" title="Numbers 14:12" id="Numbers-14-12">I will strike them with the pestilence, and disinherit them, and will make of you a nation greater and mightier than they.&#8221;</span>
  <span class="verse" title="Numbers 14:13" id="Numbers-14-13">Moses said to Yahweh, &#8220;Then the Egyptians will hear it; for you brought up this people in your might from among them;</span>
  <span class="verse" title="Numbers 14:14" id="Numbers-14-14">and they will tell it to the inhabitants of this land. They have heard that you Yahweh are in the midst of this people; for you Yahweh are seen face to face, and your cloud stands over them, and you go before them, in a pillar of cloud by day, and in a pillar of fire by night.</span>
  <span class="verse" title="Numbers 14:15" id="Numbers-14-15">Now if you killed this people as one man, then the nations which have heard the fame of you will speak, saying,</span>
  <span class="verse" title="Numbers 14:16" id="Numbers-14-16">&#8216;Because Yahweh was not able to bring this people into the land which he swore to them, therefore he has slain them in the wilderness.&#8217;</span>
  <span class="verse" title="Numbers 14:17" id="Numbers-14-17">Now please let the power of the Lord be great, according as you have spoken, saying,</span>
  <span class="verse" title="Numbers 14:18" id="Numbers-14-18">&#8216;Yahweh is slow to anger, and abundant in loving kindness, forgiving iniquity and disobedience; and that will by no means clear the guilty, visiting the iniquity of the fathers on the children, on the third and on the fourth generation.&#8217;</span>
  <span class="verse" title="Numbers 14:19" id="Numbers-14-19">Please pardon the iniquity of this people according to the greatness of your loving kindness, and according as you have forgiven this people, from Egypt even until now.&#8221;</span>
  <span class="verse" title="Numbers 14:20" id="Numbers-14-20">Yahweh said, &#8220;I have pardoned according to your word:</span>
  <span class="verse" title="Numbers 14:21" id="Numbers-14-21">but in very deed, as I live, and as all the earth shall be filled with the glory of Yahweh;</span>
  <span class="verse" title="Numbers 14:22" id="Numbers-14-22">because all those men who have seen my glory, and my signs, which I worked in Egypt and in the wilderness, yet have tempted me these ten times, and have not listened to my voice;</span>
  <span class="verse" title="Numbers 14:23" id="Numbers-14-23">surely they shall not see the land which I swore to their fathers, neither shall any of those who despised me see it:</span>
  <span class="verse" title="Numbers 14:24" id="Numbers-14-24">but my servant Caleb, because he had another spirit with him, and has followed me fully, him will I bring into the land into which he went; and his seed shall possess it.</span>
  <span class="verse" title="Numbers 14:25" id="Numbers-14-25">Now the Amalekite and the Canaanite dwell in the valley: tomorrow turn, and go into the wilderness by the way to the Red Sea.&#8221;</span>
  <span class="verse" title="Numbers 14:26" id="Numbers-14-26">Yahweh spoke to Moses and to Aaron, saying,</span>
  <span class="verse" title="Numbers 14:27" id="Numbers-14-27">&#8220;How long shall I bear with this evil congregation, that murmur against me? I have heard the murmurings of the children of Israel, which they murmur against me.</span>
  <span class="verse" title="Numbers 14:28" id="Numbers-14-28">Tell them, &#8216;As I live, says Yahweh, surely as you have spoken in my ears, so will I do to you:</span>
  <span class="verse" title="Numbers 14:29" id="Numbers-14-29">your dead bodies shall fall in this wilderness; and all who were numbered of you, according to your whole number, from twenty years old and upward, who have murmured against me,</span>
  <span class="verse" title="Numbers 14:30" id="Numbers-14-30">surely you shall not come into the land, concerning which I swore that I would make you dwell therein, except Caleb the son of Jephunneh, and Joshua the son of Nun.</span>
  <span class="verse" title="Numbers 14:31" id="Numbers-14-31">But your little ones, that you said should be a prey, them will I bring in, and they shall know the land which you have rejected.</span>
  <span class="verse" title="Numbers 14:32" id="Numbers-14-32">But as for you, your dead bodies shall fall in this wilderness.</span>
  <span class="verse" title="Numbers 14:33" id="Numbers-14-33">Your children shall be wanderers in the wilderness forty years, and shall bear your prostitution, until your dead bodies be consumed in the wilderness.</span>
  <span class="verse" title="Numbers 14:34" id="Numbers-14-34">After the number of the days in which you spied out the land, even forty days, for every day a year, you will bear your iniquities, even forty years, and you will know my alienation.&#8217;</span>
  <span class="verse" title="Numbers 14:35" id="Numbers-14-35">I, Yahweh, have spoken, surely this will I do to all this evil congregation, who are gathered together against me: in this wilderness they shall be consumed, and there they shall die.&#8221;</span>
  <span class="verse" title="Numbers 14:36" id="Numbers-14-36">The men, whom Moses sent to spy out the land, who returned, and made all the congregation to murmur against him, by bringing up an evil report against the land,</span>
  <span class="verse" title="Numbers 14:37" id="Numbers-14-37">even those men who brought up an evil report of the land, died by the plague before Yahweh.</span>
  <span class="verse" title="Numbers 14:38" id="Numbers-14-38">But Joshua the son of Nun, and Caleb the son of Jephunneh, remained alive of those men who went to spy out the land.</span>
  <span class="verse" title="Numbers 14:39" id="Numbers-14-39">Moses told these words to all the children of Israel: and the people mourned greatly.</span>
  <span class="verse" title="Numbers 14:40" id="Numbers-14-40">They rose up early in the morning, and went up to the top of the mountain, saying, &#8220;Behold, we are here, and will go up to the place which Yahweh has promised: for we have sinned.&#8221;</span>
  <span class="verse" title="Numbers 14:41" id="Numbers-14-41">Moses said, &#8220;Why now do you disobey the commandment of Yahweh, since it shall not prosper?</span>
  <span class="verse" title="Numbers 14:42" id="Numbers-14-42">Don&#8217;t go up, for Yahweh isn&#8217;t among you; that you not be struck down before your enemies.</span>
  <span class="verse" title="Numbers 14:43" id="Numbers-14-43">For there the Amalekite and the Canaanite are before you, and you shall fall by the sword: because you are turned back from following Yahweh, therefore Yahweh will not be with you.&#8221;</span>
  <span class="verse" title="Numbers 14:44" id="Numbers-14-44">But they presumed to go up to the top of the mountain: nevertheless the ark of the covenant of Yahweh, and Moses, didn&#8217;t depart out of the camp.</span>
  <span class="verse" title="Numbers 14:45" id="Numbers-14-45">Then the Amalekite came down, and the Canaanite who lived in that mountain, and struck them and beat them down, even to Hormah.</span>
</div>