<div class="chapter" id="Numbers-015">
  <h2>Numbers 15</h2>
  <span class="verse" title="Numbers 15:1" id="Numbers-15-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 15:2" id="Numbers-15-2">&#8220;Speak to the children of Israel, and tell them, &#8216;When you have come into the land of your habitations, which I give to you,</span>
  <span class="verse" title="Numbers 15:3" id="Numbers-15-3">and will make an offering by fire to Yahweh, a burnt offering, or a sacrifice, to accomplish a vow, or as a freewill offering, or in your set feasts, to make a pleasant aroma to Yahweh, of the herd, or of the flock;</span>
  <span class="verse" title="Numbers 15:4" id="Numbers-15-4">then he who offers his offering shall offer to Yahweh a meal offering of a tenth part of an ephah of fine flour mixed with the fourth part of a hin of oil:</span>
  <span class="verse" title="Numbers 15:5" id="Numbers-15-5">and wine for the drink offering, the fourth part of a hin, you shall prepare with the burnt offering, or for the sacrifice, for each lamb.</span>
  <span class="verse" title="Numbers 15:6" id="Numbers-15-6">&#8220;&#8216;Or for a ram, you shall prepare for a meal offering two tenth parts of an ephah of fine flour mixed with the third part of a hin of oil:</span>
  <span class="verse" title="Numbers 15:7" id="Numbers-15-7">and for the drink offering you shall offer the third part of a hin of wine, of a pleasant aroma to Yahweh.</span>
  <span class="verse" title="Numbers 15:8" id="Numbers-15-8">When you prepare a bull for a burnt offering, or for a sacrifice, to accomplish a vow, or for peace offerings to Yahweh;</span>
  <span class="verse" title="Numbers 15:9" id="Numbers-15-9">then shall he offer with the bull a meal offering of three tenth parts of an ephah of fine flour mixed with half a hin of oil:</span>
  <span class="verse" title="Numbers 15:10" id="Numbers-15-10">and you shall offer for the drink offering half a hin of wine, for an offering made by fire, of a pleasant aroma to Yahweh.</span>
  <span class="verse" title="Numbers 15:11" id="Numbers-15-11">Thus shall it be done for each bull, or for each ram, or for each of the male lambs, or of the young goats.</span>
  <span class="verse" title="Numbers 15:12" id="Numbers-15-12">According to the number that you shall prepare, so you shall do to everyone according to their number.</span>
  <span class="verse" title="Numbers 15:13" id="Numbers-15-13">&#8220;&#8216;All who are native-born shall do these things in this way, in offering an offering made by fire, of a pleasant aroma to Yahweh.</span>
  <span class="verse" title="Numbers 15:14" id="Numbers-15-14">If a stranger lives as a foreigner with you, or whoever may be among you throughout your generations, and will offer an offering made by fire, of a pleasant aroma to Yahweh; as you do, so he shall do.</span>
  <span class="verse" title="Numbers 15:15" id="Numbers-15-15">For the assembly, there shall be one statute for you, and for the stranger who lives as a foreigner, a statute forever throughout your generations: as you are, so shall the foreigner be before Yahweh.</span>
  <span class="verse" title="Numbers 15:16" id="Numbers-15-16">One law and one ordinance shall be for you, and for the stranger who lives as a foreigner with you.&#8217;&#8221;</span>
  <span class="verse" title="Numbers 15:17" id="Numbers-15-17">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 15:18" id="Numbers-15-18">&#8220;Speak to the children of Israel, and tell them, &#8216;When you come into the land where I bring you,</span>
  <span class="verse" title="Numbers 15:19" id="Numbers-15-19">then it shall be that when you eat of the bread of the land, you shall offer up a wave offering to Yahweh.</span>
  <span class="verse" title="Numbers 15:20" id="Numbers-15-20">Of the first of your dough you shall offer up a cake for a wave offering: as the wave offering of the threshing floor, so you shall heave it.</span>
  <span class="verse" title="Numbers 15:21" id="Numbers-15-21">Of the first of your dough you shall give to Yahweh a wave offering throughout your generations.</span>
  <span class="verse" title="Numbers 15:22" id="Numbers-15-22">&#8220;&#8216;When you shall err, and not observe all these commandments, which Yahweh has spoken to Moses,</span>
  <span class="verse" title="Numbers 15:23" id="Numbers-15-23">even all that Yahweh has commanded you by Moses, from the day that Yahweh gave commandment, and onward throughout your generations;</span>
  <span class="verse" title="Numbers 15:24" id="Numbers-15-24">then it shall be, if it be done unwittingly, without the knowledge of the congregation, that all the congregation shall offer one young bull for a burnt offering, for a pleasant aroma to Yahweh, with the meal offering of it, and the drink offering of it, according to the ordinance, and one male goat for a sin offering.</span>
  <span class="verse" title="Numbers 15:25" id="Numbers-15-25">The priest shall make atonement for all the congregation of the children of Israel, and they shall be forgiven; for it was an error, and they have brought their offering, an offering made by fire to Yahweh, and their sin offering before Yahweh, for their error:</span>
  <span class="verse" title="Numbers 15:26" id="Numbers-15-26">and all the congregation of the children of Israel shall be forgiven, and the stranger who lives as a foreigner among them; for in respect of all the people it was done unwittingly.</span>
  <span class="verse" title="Numbers 15:27" id="Numbers-15-27">&#8220;&#8216;If one person sins unwittingly, then he shall offer a female goat a year old for a sin offering.</span>
  <span class="verse" title="Numbers 15:28" id="Numbers-15-28">The priest shall make atonement for the soul who errs, when he sins unwittingly, before Yahweh, to make atonement for him; and he shall be forgiven.</span>
  <span class="verse" title="Numbers 15:29" id="Numbers-15-29">You shall have one law for him who does anything unwittingly, for him who is native-born among the children of Israel, and for the stranger who lives as a foreigner among them.</span>
  <span class="verse" title="Numbers 15:30" id="Numbers-15-30">&#8220;&#8216;But the soul who does anything with a high hand, whether he is native-born or a foreigner, the same blasphemes Yahweh; and that soul shall be cut off from among his people.</span>
  <span class="verse" title="Numbers 15:31" id="Numbers-15-31">Because he has despised the word of Yahweh, and has broken his commandment, that soul shall utterly be cut off; his iniquity shall be on him.&#8217;&#8221;</span>
  <span class="verse" title="Numbers 15:32" id="Numbers-15-32">While the children of Israel were in the wilderness, they found a man gathering sticks on the Sabbath day.</span>
  <span class="verse" title="Numbers 15:33" id="Numbers-15-33">Those who found him gathering sticks brought him to Moses and Aaron, and to all the congregation.</span>
  <span class="verse" title="Numbers 15:34" id="Numbers-15-34">They put him in custody, because it had not been declared what should be done to him.</span>
  <span class="verse" title="Numbers 15:35" id="Numbers-15-35">Yahweh said to Moses, &#8220;The man shall surely be put to death: all the congregation shall stone him with stones outside of the camp.&#8221;</span>
  <span class="verse" title="Numbers 15:36" id="Numbers-15-36">All the congregation brought him outside of the camp, and stoned him to death with stones; as Yahweh commanded Moses.</span>
  <span class="verse" title="Numbers 15:37" id="Numbers-15-37">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 15:38" id="Numbers-15-38">&#8220;Speak to the children of Israel, and tell them that they should make themselves fringes in the borders of their garments throughout their generations, and that they put on the fringe of each border a cord of blue:</span>
  <span class="verse" title="Numbers 15:39" id="Numbers-15-39">and it shall be to you for a fringe, that you may look on it, and remember all the commandments of Yahweh, and do them; and that you not follow after your own heart and your own eyes, after which you use to play the prostitute;</span>
  <span class="verse" title="Numbers 15:40" id="Numbers-15-40">that you may remember and do all my commandments, and be holy to your God.</span>
  <span class="verse" title="Numbers 15:41" id="Numbers-15-41">I am Yahweh your God, who brought you out of the land of Egypt, to be your God: I am Yahweh your God.&#8221;</span>
</div>