<div class="chapter" id="Numbers-016">
  <h2>Numbers 16</h2>
  <span class="verse" title="Numbers 16:1" id="Numbers-16-1">Now Korah, the son of Izhar, the son of Kohath, the son of Levi, with Dathan and Abiram, the sons of Eliab, and On, the son of Peleth, sons of Reuben, took men:</span>
  <span class="verse" title="Numbers 16:2" id="Numbers-16-2">and they rose up before Moses, with certain of the children of Israel, two hundred fifty princes of the congregation, called to the assembly, men of renown;</span>
  <span class="verse" title="Numbers 16:3" id="Numbers-16-3">and they assembled themselves together against Moses and against Aaron, and said to them, &#8220;You take too much on yourself, since all the congregation are holy, everyone of them, and Yahweh is among them: why then lift yourselves up above the assembly of Yahweh?&#8221;</span>
  <span class="verse" title="Numbers 16:4" id="Numbers-16-4">When Moses heard it, he fell on his face:</span>
  <span class="verse" title="Numbers 16:5" id="Numbers-16-5">and he spoke to Korah and to all his company, saying, &#8220;In the morning Yahweh will show who are his, and who is holy, and will cause him to come near to him: even him whom he shall choose he will cause to come near to him.</span>
  <span class="verse" title="Numbers 16:6" id="Numbers-16-6">Do this: take censers, Korah, and all his company;</span>
  <span class="verse" title="Numbers 16:7" id="Numbers-16-7">and put fire in them, and put incense on them before Yahweh tomorrow: and it shall be that the man whom Yahweh chooses, he shall be holy. You have gone too far, you sons of Levi!&#8221;</span>
  <span class="verse" title="Numbers 16:8" id="Numbers-16-8">Moses said to Korah, &#8220;Hear now, you sons of Levi!</span>
  <span class="verse" title="Numbers 16:9" id="Numbers-16-9">Is it a small thing to you, that the God of Israel has separated you from the congregation of Israel, to bring you near to himself, to do the service of the tabernacle of Yahweh, and to stand before the congregation to minister to them;</span>
  <span class="verse" title="Numbers 16:10" id="Numbers-16-10">and that he has brought you near, and all your brothers the sons of Levi with you? and do you seek the priesthood also?</span>
  <span class="verse" title="Numbers 16:11" id="Numbers-16-11">Therefore you and all your company are gathered together against Yahweh: and Aaron, what is he that you murmur against him?&#8221;</span>
  <span class="verse" title="Numbers 16:12" id="Numbers-16-12">Moses sent to call Dathan and Abiram, the sons of Eliab; and they said, &#8220;We won&#8217;t come up:</span>
  <span class="verse" title="Numbers 16:13" id="Numbers-16-13">is it a small thing that you have brought us up out of a land flowing with milk and honey, to kill us in the wilderness, but you must also make yourself a prince over us?</span>
  <span class="verse" title="Numbers 16:14" id="Numbers-16-14">Moreover you haven&#8217;t brought us into a land flowing with milk and honey, nor given us inheritance of fields and vineyards: will you put out the eyes of these men? We won&#8217;t come up.&#8221;</span>
  <span class="verse" title="Numbers 16:15" id="Numbers-16-15">Moses was very angry, and said to Yahweh, &#8220;Don&#8217;t respect their offering: I have not taken one donkey from them, neither have I hurt one of them.&#8221;</span>
  <span class="verse" title="Numbers 16:16" id="Numbers-16-16">Moses said to Korah, &#8220;You and all your company go before Yahweh, you, and they, and Aaron, tomorrow:</span>
  <span class="verse" title="Numbers 16:17" id="Numbers-16-17">and each man take his censer, and put incense on them, and each man bring before Yahweh his censer, two hundred fifty censers; you also, and Aaron, each his censer.&#8221;</span>
  <span class="verse" title="Numbers 16:18" id="Numbers-16-18">They each took his censer, and put fire in them, and laid incense thereon, and stood at the door of the Tent of Meeting with Moses and Aaron.</span>
  <span class="verse" title="Numbers 16:19" id="Numbers-16-19">Korah assembled all the congregation against them to the door of the Tent of Meeting: and the glory of Yahweh appeared to all the congregation.</span>
  <span class="verse" title="Numbers 16:20" id="Numbers-16-20">Yahweh spoke to Moses and to Aaron, saying,</span>
  <span class="verse" title="Numbers 16:21" id="Numbers-16-21">&#8220;Separate yourselves from among this congregation, that I may consume them in a moment!&#8221;</span>
  <span class="verse" title="Numbers 16:22" id="Numbers-16-22">They fell on their faces, and said, &#8220;God, the God of the spirits of all flesh, shall one man sin, and will you be angry with all the congregation?&#8221;</span>
  <span class="verse" title="Numbers 16:23" id="Numbers-16-23">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 16:24" id="Numbers-16-24">&#8220;Speak to the congregation, saying, &#8216;Get away from around the tent of Korah, Dathan, and Abiram!&#8217;&#8221;</span>
  <span class="verse" title="Numbers 16:25" id="Numbers-16-25">Moses rose up and went to Dathan and Abiram; and the elders of Israel followed him.</span>
  <span class="verse" title="Numbers 16:26" id="Numbers-16-26">He spoke to the congregation, saying, &#8220;Depart, please, from the tents of these wicked men, and touch nothing of theirs, lest you be consumed in all their sins!&#8221;</span>
  <span class="verse" title="Numbers 16:27" id="Numbers-16-27">So they went away from the tent of Korah, Dathan, and Abiram, on every side: and Dathan and Abiram came out, and stood at the door of their tents, and their wives, and their sons, and their little ones.</span>
  <span class="verse" title="Numbers 16:28" id="Numbers-16-28">Moses said, &#8220;Hereby you shall know that Yahweh has sent me to do all these works; for they are not from my own mind.</span>
  <span class="verse" title="Numbers 16:29" id="Numbers-16-29">If these men die the common death of all men, or if they be visited after the visitation of all men; then Yahweh hasn&#8217;t sent me.</span>
  <span class="verse" title="Numbers 16:30" id="Numbers-16-30">But if Yahweh make a new thing, and the ground open its mouth, and swallow them up, with all that appertain to them, and they go down alive into Sheol; then you shall understand that these men have despised Yahweh.&#8221;</span>
  <span class="verse" title="Numbers 16:31" id="Numbers-16-31">It happened, as he made an end of speaking all these words, that the ground split apart that was under them;</span>
  <span class="verse" title="Numbers 16:32" id="Numbers-16-32">and the earth opened its mouth, and swallowed them up, and their households, and all the men who appertained to Korah, and all their goods.</span>
  <span class="verse" title="Numbers 16:33" id="Numbers-16-33">So they, and all that appertained to them, went down alive into Sheol: and the earth closed on them, and they perished from among the assembly.</span>
  <span class="verse" title="Numbers 16:34" id="Numbers-16-34">All Israel that were around them fled at their cry; for they said, &#8220;Lest the earth swallow us up!&#8221;</span>
  <span class="verse" title="Numbers 16:35" id="Numbers-16-35">Fire came forth from Yahweh, and devoured the two hundred fifty men who offered the incense.</span>
  <span class="verse" title="Numbers 16:36" id="Numbers-16-36">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 16:37" id="Numbers-16-37">&#8220;Speak to Eleazar the son of Aaron the priest, that he take up the censers out of the burning, and scatter the fire yonder; for they are holy,</span>
  <span class="verse" title="Numbers 16:38" id="Numbers-16-38">even the censers of these sinners against their own lives; and let them be made beaten plates for a covering of the altar: for they offered them before Yahweh; therefore they are holy; and they shall be a sign to the children of Israel.&#8221;</span>
  <span class="verse" title="Numbers 16:39" id="Numbers-16-39">Eleazar the priest took the bronze censers, which those who were burnt had offered; and they beat them out for a covering of the altar,</span>
  <span class="verse" title="Numbers 16:40" id="Numbers-16-40">to be a memorial to the children of Israel, to the end that no stranger, who isn&#8217;t of the seed of Aaron, comes near to burn incense before Yahweh; that he not be as Korah, and as his company: as Yahweh spoke to him by Moses.</span>
  <span class="verse" title="Numbers 16:41" id="Numbers-16-41">But on the next day all the congregation of the children of Israel murmured against Moses and against Aaron, saying, &#8220;You have killed Yahweh&#8217;s people!&#8221;</span>
  <span class="verse" title="Numbers 16:42" id="Numbers-16-42">It happened, when the congregation was assembled against Moses and against Aaron, that they looked toward the Tent of Meeting: and behold, the cloud covered it, and the glory of Yahweh appeared.</span>
  <span class="verse" title="Numbers 16:43" id="Numbers-16-43">Moses and Aaron came to the front of the Tent of Meeting.</span>
  <span class="verse" title="Numbers 16:44" id="Numbers-16-44">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 16:45" id="Numbers-16-45">&#8220;Get away from among this congregation, that I may consume them in a moment!&#8221; They fell on their faces.</span>
  <span class="verse" title="Numbers 16:46" id="Numbers-16-46">Moses said to Aaron, &#8220;Take your censer, and put fire from off the altar in it, and lay incense on it, and carry it quickly to the congregation, and make atonement for them; for wrath has gone out from Yahweh! The plague has begun.&#8221;</span>
  <span class="verse" title="Numbers 16:47" id="Numbers-16-47">Aaron did as Moses said, and ran into the midst of the assembly; and behold, the plague has begun among the people: and he put on the incense, and made atonement for the people.</span>
  <span class="verse" title="Numbers 16:48" id="Numbers-16-48">He stood between the dead and the living; and the plague was stayed.</span>
  <span class="verse" title="Numbers 16:49" id="Numbers-16-49">Now those who died by the plague were fourteen thousand and seven hundred, besides those who died about the matter of Korah.</span>
  <span class="verse" title="Numbers 16:50" id="Numbers-16-50">Aaron returned to Moses to the door of the Tent of Meeting: and the plague was stayed.</span>
</div>