<div class="chapter" id="Numbers-017">
  <h2>Numbers 17</h2>
  <span class="verse" title="Numbers 17:1" id="Numbers-17-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 17:2" id="Numbers-17-2">&#8220;Speak to the children of Israel, and take of them rods, one for each fathers&#8217; house, of all their princes according to their fathers&#8217; houses, twelve rods: write every man&#8217;s name on his rod.</span>
  <span class="verse" title="Numbers 17:3" id="Numbers-17-3">You shall write Aaron&#8217;s name on the rod of Levi; for there shall be one rod for each head of their fathers&#8217; houses.</span>
  <span class="verse" title="Numbers 17:4" id="Numbers-17-4">You shall lay them up in the Tent of Meeting before the testimony, where I meet with you.</span>
  <span class="verse" title="Numbers 17:5" id="Numbers-17-5">It shall happen, that the rod of the man whom I shall choose shall bud: and I will make to cease from me the murmurings of the children of Israel, which they murmur against you.&#8221;</span>
  <span class="verse" title="Numbers 17:6" id="Numbers-17-6">Moses spoke to the children of Israel; and all their princes gave him rods, for each prince one, according to their fathers&#8217; houses, even twelve rods: and the rod of Aaron was among their rods.</span>
  <span class="verse" title="Numbers 17:7" id="Numbers-17-7">Moses laid up the rods before Yahweh in the tent of the testimony.</span>
  <span class="verse" title="Numbers 17:8" id="Numbers-17-8">It happened on the next day, that Moses went into the tent of the testimony; and behold, the rod of Aaron for the house of Levi was budded, and put forth buds, and produced blossoms, and bore ripe almonds.</span>
  <span class="verse" title="Numbers 17:9" id="Numbers-17-9">Moses brought out all the rods from before Yahweh to all the children of Israel: and they looked, and took every man his rod.</span>
  <span class="verse" title="Numbers 17:10" id="Numbers-17-10">Yahweh said to Moses, &#8220;Put back the rod of Aaron before the testimony, to be kept for a token against the children of rebellion; that you may make an end of their murmurings against me, that they not die.&#8221;</span>
  <span class="verse" title="Numbers 17:11" id="Numbers-17-11">Moses did so. As Yahweh commanded him, so he did.</span>
  <span class="verse" title="Numbers 17:12" id="Numbers-17-12">The children of Israel spoke to Moses, saying, &#8220;Behold, we perish! We are undone! We are all undone!</span>
  <span class="verse" title="Numbers 17:13" id="Numbers-17-13">Everyone who comes near, who comes near to the tabernacle of Yahweh, dies! Will we all perish?&#8221;</span>
</div>