<div class="chapter" id="Numbers-020">
  <h2>Numbers 20</h2>
  <span class="verse" title="Numbers 20:1" id="Numbers-20-1">The children of Israel, even the whole congregation, came into the wilderness of Zin in the first month: and the people stayed in Kadesh; and Miriam died there, and was buried there.</span>
  <span class="verse" title="Numbers 20:2" id="Numbers-20-2">There was no water for the congregation: and they assembled themselves together against Moses and against Aaron.</span>
  <span class="verse" title="Numbers 20:3" id="Numbers-20-3">The people strove with Moses, and spoke, saying, &#8220;We wish that we had died when our brothers died before Yahweh!</span>
  <span class="verse" title="Numbers 20:4" id="Numbers-20-4">Why have you brought the assembly of Yahweh into this wilderness, that we should die there, we and our animals?</span>
  <span class="verse" title="Numbers 20:5" id="Numbers-20-5">Why have you made us to come up out of Egypt, to bring us in to this evil place? It is no place of seed, or of figs, or of vines, or of pomegranates; neither is there any water to drink.&#8221;</span>
  <span class="verse" title="Numbers 20:6" id="Numbers-20-6">Moses and Aaron went from the presence of the assembly to the door of the Tent of Meeting, and fell on their faces: and the glory of Yahweh appeared to them.</span>
  <span class="verse" title="Numbers 20:7" id="Numbers-20-7">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 20:8" id="Numbers-20-8">&#8220;Take the rod, and assemble the congregation, you, and Aaron your brother, and speak to the rock before their eyes, that it give forth its water; and you shall bring forth to them water out of the rock; so you shall give the congregation and their livestock drink.&#8221;</span>
  <span class="verse" title="Numbers 20:9" id="Numbers-20-9">Moses took the rod from before Yahweh, as he commanded him.</span>
  <span class="verse" title="Numbers 20:10" id="Numbers-20-10">Moses and Aaron gathered the assembly together before the rock, and he said to them, &#8220;Hear now, you rebels; shall we bring you water out of this rock for you?&#8221;</span>
  <span class="verse" title="Numbers 20:11" id="Numbers-20-11">Moses lifted up his hand, and struck the rock with his rod twice: and water came forth abundantly, and the congregation drank, and their livestock.</span>
  <span class="verse" title="Numbers 20:12" id="Numbers-20-12">Yahweh said to Moses and Aaron, &#8220;Because you didn&#8217;t believe in me, to sanctify me in the eyes of the children of Israel, therefore you shall not bring this assembly into the land which I have given them.&#8221;</span>
  <span class="verse" title="Numbers 20:13" id="Numbers-20-13">These are the waters of Meribah; because the children of Israel strove with Yahweh, and he was sanctified in them.</span>
  <span class="verse" title="Numbers 20:14" id="Numbers-20-14">Moses sent messengers from Kadesh to the king of Edom, saying: &#8220;Thus says your brother Israel: You know all the travail that has happened to us:</span>
  <span class="verse" title="Numbers 20:15" id="Numbers-20-15">how our fathers went down into Egypt, and we lived in Egypt a long time; and the Egyptians dealt ill with us, and our fathers:</span>
  <span class="verse" title="Numbers 20:16" id="Numbers-20-16">and when we cried to Yahweh, he heard our voice, and sent an angel, and brought us forth out of Egypt: and behold, we are in Kadesh, a city in the uttermost of your border.</span>
  <span class="verse" title="Numbers 20:17" id="Numbers-20-17">&#8220;Please let us pass through your land: we will not pass through field or through vineyard, neither will we drink of the water of the wells: we will go along the king&#8217;s highway; we will not turn aside to the right hand nor to the left, until we have passed your border.&#8221;</span>
  <span class="verse" title="Numbers 20:18" id="Numbers-20-18">Edom said to him, &#8220;You shall not pass through me, lest I come out with the sword against you.&#8221;</span>
  <span class="verse" title="Numbers 20:19" id="Numbers-20-19">The children of Israel said to him, &#8220;We will go up by the highway; and if we drink of your water, I and my livestock, then will I give its price: let me only, without doing anything else, pass through on my feet.&#8221;</span>
  <span class="verse" title="Numbers 20:20" id="Numbers-20-20">He said, &#8220;You shall not pass through.&#8221; Edom came out against him with many people, and with a strong hand.</span>
  <span class="verse" title="Numbers 20:21" id="Numbers-20-21">Thus Edom refused to give Israel passage through his border, so Israel turned away from him.</span>
  <span class="verse" title="Numbers 20:22" id="Numbers-20-22">They traveled from Kadesh: and the children of Israel, even the whole congregation, came to Mount Hor.</span>
  <span class="verse" title="Numbers 20:23" id="Numbers-20-23">Yahweh spoke to Moses and Aaron in Mount Hor, by the border of the land of Edom, saying,</span>
  <span class="verse" title="Numbers 20:24" id="Numbers-20-24">&#8220;Aaron shall be gathered to his people; for he shall not enter into the land which I have given to the children of Israel, because you rebelled against my word at the waters of Meribah.</span>
  <span class="verse" title="Numbers 20:25" id="Numbers-20-25">Take Aaron and Eleazar his son, and bring them up to Mount Hor;</span>
  <span class="verse" title="Numbers 20:26" id="Numbers-20-26">and strip Aaron of his garments, and put them on Eleazar his son: and Aaron shall be taken, and shall die there.&#8221;</span>
  <span class="verse" title="Numbers 20:27" id="Numbers-20-27">Moses did as Yahweh commanded: and they went up into Mount Hor in the sight of all the congregation.</span>
  <span class="verse" title="Numbers 20:28" id="Numbers-20-28">Moses stripped Aaron of his garments, and put them on Eleazar his son; and Aaron died there on the top of the mountain: and Moses and Eleazar came down from the mountain.</span>
  <span class="verse" title="Numbers 20:29" id="Numbers-20-29">When all the congregation saw that Aaron was dead, they wept for Aaron thirty days, even all the house of Israel.</span>
</div>