<div class="chapter" id="Numbers-025">
  <h2>Numbers 25</h2>
  <span class="verse" title="Numbers 25:1" id="Numbers-25-1">Israel stayed in Shittim; and the people began to play the prostitute with the daughters of Moab:</span>
  <span class="verse" title="Numbers 25:2" id="Numbers-25-2">for they called the people to the sacrifices of their gods; and the people ate, and bowed down to their gods.</span>
  <span class="verse" title="Numbers 25:3" id="Numbers-25-3">Israel joined himself to Baal Peor: and the anger of Yahweh was kindled against Israel.</span>
  <span class="verse" title="Numbers 25:4" id="Numbers-25-4">Yahweh said to Moses, &#8220;Take all the chiefs of the people, and hang them up to Yahweh before the sun, that the fierce anger of Yahweh may turn away from Israel.&#8221;</span>
  <span class="verse" title="Numbers 25:5" id="Numbers-25-5">Moses said to the judges of Israel, &#8220;Everyone kill his men who have joined themselves to Baal Peor.&#8221;</span>
  <span class="verse" title="Numbers 25:6" id="Numbers-25-6">Behold, one of the children of Israel came and brought to his brothers a Midianite woman in the sight of Moses, and in the sight of all the congregation of the children of Israel, while they were weeping at the door of the Tent of Meeting.</span>
  <span class="verse" title="Numbers 25:7" id="Numbers-25-7">When Phinehas, the son of Eleazar, the son of Aaron the priest, saw it, he rose up from the midst of the congregation, and took a spear in his hand;</span>
  <span class="verse" title="Numbers 25:8" id="Numbers-25-8">and he went after the man of Israel into the pavilion, and thrust both of them through, the man of Israel, and the woman through her body. So the plague was stayed from the children of Israel.</span>
  <span class="verse" title="Numbers 25:9" id="Numbers-25-9">Those who died by the plague were twenty-four thousand.</span>
  <span class="verse" title="Numbers 25:10" id="Numbers-25-10">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 25:11" id="Numbers-25-11">&#8220;Phinehas, the son of Eleazar, the son of Aaron the priest, has turned my wrath away from the children of Israel, in that he was jealous with my jealousy among them, so that I didn&#8217;t consume the children of Israel in my jealousy.</span>
  <span class="verse" title="Numbers 25:12" id="Numbers-25-12">Therefore say, &#8216;Behold, I give to him my covenant of peace:</span>
  <span class="verse" title="Numbers 25:13" id="Numbers-25-13">and it shall be to him, and to his seed after him, the covenant of an everlasting priesthood; because he was jealous for his God, and made atonement for the children of Israel.&#8217;&#8221;</span>
  <span class="verse" title="Numbers 25:14" id="Numbers-25-14">Now the name of the man of Israel that was slain, who was slain with the Midianite woman, was Zimri, the son of Salu, a prince of a fathers&#8217; house among the Simeonites.</span>
  <span class="verse" title="Numbers 25:15" id="Numbers-25-15">The name of the Midianite woman who was slain was Cozbi, the daughter of Zur; he was head of the people of a fathers&#8217; house in Midian.</span>
  <span class="verse" title="Numbers 25:16" id="Numbers-25-16">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 25:17" id="Numbers-25-17">&#8220;Harass the Midianites, and strike them;</span>
  <span class="verse" title="Numbers 25:18" id="Numbers-25-18">for they harassed you with their wiles, with which they have deceived you in the matter of Peor, and in the matter of Cozbi, the daughter of the prince of Midian, their sister, who was slain on the day of the plague in the matter of Peor.&#8221;</span>
</div>