<div class="chapter" id="Numbers-026">
  <h2>Numbers 26</h2>
  <span class="verse" title="Numbers 26:1" id="Numbers-26-1">It happened after the plague, that Yahweh spoke to Moses and to Eleazar the son of Aaron the priest, saying,</span>
  <span class="verse" title="Numbers 26:2" id="Numbers-26-2">&#8220;Take a census of all the congregation of the children of Israel, from twenty years old and upward, by their fathers&#8217; houses, all who are able to go forth to war in Israel.&#8221;</span>
  <span class="verse" title="Numbers 26:3" id="Numbers-26-3">Moses and Eleazar the priest spoke with them in the plains of Moab by the Jordan at Jericho, saying,</span>
  <span class="verse" title="Numbers 26:4" id="Numbers-26-4">&#8220;Take a census, from twenty years old and upward; as Yahweh commanded Moses and the children of Israel.&#8221; These are those that came out of the land of Egypt.</span>
  <span class="verse" title="Numbers 26:5" id="Numbers-26-5">Reuben, the firstborn of Israel; the sons of Reuben: of Hanoch, the family of the Hanochites; of Pallu, the family of the Palluites;</span>
  <span class="verse" title="Numbers 26:6" id="Numbers-26-6">of Hezron, the family of the Hezronites; of Carmi, the family of the Carmites.</span>
  <span class="verse" title="Numbers 26:7" id="Numbers-26-7">These are the families of the Reubenites; and those who were numbered of them were forty-three thousand seven hundred thirty.</span>
  <span class="verse" title="Numbers 26:8" id="Numbers-26-8">The sons of Pallu: Eliab.</span>
  <span class="verse" title="Numbers 26:9" id="Numbers-26-9">The sons of Eliab: Nemuel, and Dathan, and Abiram. These are that Dathan and Abiram, who were called of the congregation, who strove against Moses and against Aaron in the company of Korah, when they strove against Yahweh,</span>
  <span class="verse" title="Numbers 26:10" id="Numbers-26-10">and the earth opened its mouth, and swallowed them up together with Korah, when that company died; what time the fire devoured two hundred fifty men, and they became a sign.</span>
  <span class="verse" title="Numbers 26:11" id="Numbers-26-11">Notwithstanding, the sons of Korah didn&#8217;t die.</span>
  <span class="verse" title="Numbers 26:12" id="Numbers-26-12">The sons of Simeon after their families: of Nemuel, the family of the Nemuelites; of Jamin, the family of the Jaminites; of Jachin, the family of the Jachinites;</span>
  <span class="verse" title="Numbers 26:13" id="Numbers-26-13">of Zerah, the family of the Zerahites; of Shaul, the family of the Shaulites.</span>
  <span class="verse" title="Numbers 26:14" id="Numbers-26-14">These are the families of the Simeonites, twenty-two thousand two hundred.</span>
  <span class="verse" title="Numbers 26:15" id="Numbers-26-15">The sons of Gad after their families: of Zephon, the family of the Zephonites; of Haggi, the family of the Haggites; of Shuni, the family of the Shunites;</span>
  <span class="verse" title="Numbers 26:16" id="Numbers-26-16">of Ozni, the family of the Oznites; of Eri, the family of the Erites;</span>
  <span class="verse" title="Numbers 26:17" id="Numbers-26-17">of Arod, the family of the Arodites; of Areli, the family of the Arelites.</span>
  <span class="verse" title="Numbers 26:18" id="Numbers-26-18">These are the families of the sons of Gad according to those who were numbered of them, forty thousand and five hundred.</span>
  <span class="verse" title="Numbers 26:19" id="Numbers-26-19">The sons of Judah: Er and Onan; and Er and Onan died in the land of Canaan.</span>
  <span class="verse" title="Numbers 26:20" id="Numbers-26-20">The sons of Judah after their families were: of Shelah, the family of the Shelanites; of Perez, the family of the Perezites; of Zerah, the family of the Zerahites.</span>
  <span class="verse" title="Numbers 26:21" id="Numbers-26-21">The sons of Perez were: of Hezron, the family of the Hezronites; of Hamul, the family of the Hamulites.</span>
  <span class="verse" title="Numbers 26:22" id="Numbers-26-22">These are the families of Judah according to those who were numbered of them, seventy-six thousand five hundred.</span>
  <span class="verse" title="Numbers 26:23" id="Numbers-26-23">The sons of Issachar after their families: of Tola, the family of the Tolaites; of Puvah, the family of the Punites;</span>
  <span class="verse" title="Numbers 26:24" id="Numbers-26-24">of Jashub, the family of the Jashubites; of Shimron, the family of the Shimronites.</span>
  <span class="verse" title="Numbers 26:25" id="Numbers-26-25">These are the families of Issachar according to those who were numbered of them, sixty-four thousand three hundred.</span>
  <span class="verse" title="Numbers 26:26" id="Numbers-26-26">The sons of Zebulun after their families: of Sered, the family of the Seredites; of Elon, the family of the Elonites; of Jahleel, the family of the Jahleelites.</span>
  <span class="verse" title="Numbers 26:27" id="Numbers-26-27">These are the families of the Zebulunites according to those who were numbered of them, sixty thousand five hundred.</span>
  <span class="verse" title="Numbers 26:28" id="Numbers-26-28">The sons of Joseph after their families: Manasseh and Ephraim.</span>
  <span class="verse" title="Numbers 26:29" id="Numbers-26-29">The sons of Manasseh: of Machir, the family of the Machirites; and Machir became the father of Gilead; of Gilead, the family of the Gileadites.</span>
  <span class="verse" title="Numbers 26:30" id="Numbers-26-30">These are the sons of Gilead: of Iezer, the family of the Iezerites; of Helek, the family of the Helekites;</span>
  <span class="verse" title="Numbers 26:31" id="Numbers-26-31">and Asriel, the family of the Asrielites; and Shechem, the family of the Shechemites;</span>
  <span class="verse" title="Numbers 26:32" id="Numbers-26-32">and Shemida, the family of the Shemidaites; and Hepher, the family of the Hepherites.</span>
  <span class="verse" title="Numbers 26:33" id="Numbers-26-33">Zelophehad the son of Hepher had no sons, but daughters: and the names of the daughters of Zelophehad were Mahlah, and Noah, Hoglah, Milcah, and Tirzah.</span>
  <span class="verse" title="Numbers 26:34" id="Numbers-26-34">These are the families of Manasseh; and those who were numbered of them were fifty-two thousand seven hundred.</span>
  <span class="verse" title="Numbers 26:35" id="Numbers-26-35">These are the sons of Ephraim after their families: of Shuthelah, the family of the Shuthelahites; of Becher, the family of the Becherites; of Tahan, the family of the Tahanites.</span>
  <span class="verse" title="Numbers 26:36" id="Numbers-26-36">These are the sons of Shuthelah: of Eran, the family of the Eranites.</span>
  <span class="verse" title="Numbers 26:37" id="Numbers-26-37">These are the families of the sons of Ephraim according to those who were numbered of them, thirty-two thousand five hundred. These are the sons of Joseph after their families.</span>
  <span class="verse" title="Numbers 26:38" id="Numbers-26-38">The sons of Benjamin after their families: of Bela, the family of the Belaites; of Ashbel, the family of the Ashbelites; of Ahiram, the family of the Ahiramites;</span>
  <span class="verse" title="Numbers 26:39" id="Numbers-26-39">of Shephupham, the family of the Shuphamites; of Hupham, the family of the Huphamites.</span>
  <span class="verse" title="Numbers 26:40" id="Numbers-26-40">The sons of Bela were Ard and Naaman: the family of the Ardites; of Naaman, the family of the Naamites.</span>
  <span class="verse" title="Numbers 26:41" id="Numbers-26-41">These are the sons of Benjamin after their families; and those who were numbered of them were forty-five thousand six hundred.</span>
  <span class="verse" title="Numbers 26:42" id="Numbers-26-42">These are the sons of Dan after their families: of Shuham, the family of the Shuhamites. These are the families of Dan after their families.</span>
  <span class="verse" title="Numbers 26:43" id="Numbers-26-43">All the families of the Shuhamites, according to those who were numbered of them, were sixty-four thousand four hundred.</span>
  <span class="verse" title="Numbers 26:44" id="Numbers-26-44">The sons of Asher after their families: of Imnah, the family of the Imnites; of Ishvi, the family of the Ishvites; of Beriah, the family of the Berites.</span>
  <span class="verse" title="Numbers 26:45" id="Numbers-26-45">Of the sons of Beriah: of Heber, the family of the Heberites; of Malchiel, the family of the Malchielites.</span>
  <span class="verse" title="Numbers 26:46" id="Numbers-26-46">The name of the daughter of Asher was Serah.</span>
  <span class="verse" title="Numbers 26:47" id="Numbers-26-47">These are the families of the sons of Asher according to those who were numbered of them, fifty-three thousand and four hundred.</span>
  <span class="verse" title="Numbers 26:48" id="Numbers-26-48">The sons of Naphtali after their families: of Jahzeel, the family of the Jahzeelites; of Guni, the family of the Gunites;</span>
  <span class="verse" title="Numbers 26:49" id="Numbers-26-49">of Jezer, the family of the Jezerites; of Shillem, the family of the Shillemites.</span>
  <span class="verse" title="Numbers 26:50" id="Numbers-26-50">These are the families of Naphtali according to their families; and those who were numbered of them were forty-five thousand four hundred.</span>
  <span class="verse" title="Numbers 26:51" id="Numbers-26-51">These are those who were numbered of the children of Israel, six hundred one thousand seven hundred thirty.</span>
  <span class="verse" title="Numbers 26:52" id="Numbers-26-52">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 26:53" id="Numbers-26-53">&#8220;To these the land shall be divided for an inheritance according to the number of names.</span>
  <span class="verse" title="Numbers 26:54" id="Numbers-26-54">To the more you shall give the more inheritance, and to the fewer you shall give the less inheritance: to everyone according to those who were numbered of him shall his inheritance be given.</span>
  <span class="verse" title="Numbers 26:55" id="Numbers-26-55">Notwithstanding, the land shall be divided by lot: according to the names of the tribes of their fathers they shall inherit.</span>
  <span class="verse" title="Numbers 26:56" id="Numbers-26-56">According to the lot shall their inheritance be divided between the more and the fewer.&#8221;</span>
  <span class="verse" title="Numbers 26:57" id="Numbers-26-57">These are those who were numbered of the Levites after their families: of Gershon, the family of the Gershonites; of Kohath, the family of the Kohathites; of Merari, the family of the Merarites.</span>
  <span class="verse" title="Numbers 26:58" id="Numbers-26-58">These are the families of Levi: the family of the Libnites, the family of the Hebronites, the family of the Mahlites, the family of the Mushites, the family of the Korahites. Kohath became the father of Amram.</span>
  <span class="verse" title="Numbers 26:59" id="Numbers-26-59">The name of Amram&#8217;s wife was Jochebed, the daughter of Levi, who was born to Levi in Egypt: and she bore to Amram Aaron and Moses, and Miriam their sister.</span>
  <span class="verse" title="Numbers 26:60" id="Numbers-26-60">To Aaron were born Nadab and Abihu, Eleazar and Ithamar.</span>
  <span class="verse" title="Numbers 26:61" id="Numbers-26-61">Nadab and Abihu died, when they offered strange fire before Yahweh.</span>
  <span class="verse" title="Numbers 26:62" id="Numbers-26-62">Those who were numbered of them were twenty-three thousand, every male from a month old and upward: for they were not numbered among the children of Israel, because there was no inheritance given them among the children of Israel.</span>
  <span class="verse" title="Numbers 26:63" id="Numbers-26-63">These are those who were numbered by Moses and Eleazar the priest, who numbered the children of Israel in the plains of Moab by the Jordan at Jericho.</span>
  <span class="verse" title="Numbers 26:64" id="Numbers-26-64">But among these there was not a man of them who were numbered by Moses and Aaron the priest, who numbered the children of Israel in the wilderness of Sinai.</span>
  <span class="verse" title="Numbers 26:65" id="Numbers-26-65">For Yahweh had said of them, They shall surely die in the wilderness. There was not left a man of them, except Caleb the son of Jephunneh, and Joshua the son of Nun.</span>
</div>