<div class="chapter" id="Numbers-027">
  <h2>Numbers 27</h2>
  <span class="verse" title="Numbers 27:1" id="Numbers-27-1">Then drew near the daughters of Zelophehad, the son of Hepher, the son of Gilead, the son of Machir, the son of Manasseh, of the families of Manasseh the son of Joseph; and these are the names of his daughters: Mahlah, Noah, and Hoglah, and Milcah, and Tirzah.</span>
  <span class="verse" title="Numbers 27:2" id="Numbers-27-2">They stood before Moses, and before Eleazar the priest, and before the princes and all the congregation, at the door of the Tent of Meeting, saying,</span>
  <span class="verse" title="Numbers 27:3" id="Numbers-27-3">&#8220;Our father died in the wilderness, and he was not among the company of those who gathered themselves together against Yahweh in the company of Korah: but he died in his own sin; and he had no sons.</span>
  <span class="verse" title="Numbers 27:4" id="Numbers-27-4">Why should the name of our father be taken away from among his family, because he had no son? Give to us a possession among the brothers of our father.&#8221;</span>
  <span class="verse" title="Numbers 27:5" id="Numbers-27-5">Moses brought their cause before Yahweh.</span>
  <span class="verse" title="Numbers 27:6" id="Numbers-27-6">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 27:7" id="Numbers-27-7">&#8220;The daughters of Zelophehad speak right: you shall surely give them a possession of an inheritance among their father&#8217;s brothers; and you shall cause the inheritance of their father to pass to them.</span>
  <span class="verse" title="Numbers 27:8" id="Numbers-27-8">You shall speak to the children of Israel, saying, &#8216;If a man dies, and has no son, then you shall cause his inheritance to pass to his daughter.</span>
  <span class="verse" title="Numbers 27:9" id="Numbers-27-9">If he has no daughter, then you shall give his inheritance to his brothers.</span>
  <span class="verse" title="Numbers 27:10" id="Numbers-27-10">If he has no brothers, then you shall give his inheritance to his father&#8217;s brothers.</span>
  <span class="verse" title="Numbers 27:11" id="Numbers-27-11">If his father has no brothers, then you shall give his inheritance to his kinsman who is next to him of his family, and he shall possess it: and it shall be to the children of Israel a statute and ordinance, as Yahweh commanded Moses.&#8217;&#8221;</span>
  <span class="verse" title="Numbers 27:12" id="Numbers-27-12">Yahweh said to Moses, &#8220;Go up into this mountain of Abarim, and see the land which I have given to the children of Israel.</span>
  <span class="verse" title="Numbers 27:13" id="Numbers-27-13">When you have seen it, you also shall be gathered to your people, as Aaron your brother was gathered;</span>
  <span class="verse" title="Numbers 27:14" id="Numbers-27-14">because you rebelled against my word in the wilderness of Zin, in the strife of the congregation, to sanctify me at the waters before their eyes.&#8221; (These are the waters of Meribah of Kadesh in the wilderness of Zin.)</span>
  <span class="verse" title="Numbers 27:15" id="Numbers-27-15">Moses spoke to Yahweh, saying,</span>
  <span class="verse" title="Numbers 27:16" id="Numbers-27-16">&#8220;Let Yahweh, the God of the spirits of all flesh, appoint a man over the congregation,</span>
  <span class="verse" title="Numbers 27:17" id="Numbers-27-17">who may go out before them, and who may come in before them, and who may lead them out, and who may bring them in; that the congregation of Yahweh not be as sheep which have no shepherd.&#8221;</span>
  <span class="verse" title="Numbers 27:18" id="Numbers-27-18">Yahweh said to Moses, &#8220;Take Joshua the son of Nun, a man in whom is the Spirit, and lay your hand on him;</span>
  <span class="verse" title="Numbers 27:19" id="Numbers-27-19">and set him before Eleazar the priest, and before all the congregation; and commission him in their sight.</span>
  <span class="verse" title="Numbers 27:20" id="Numbers-27-20">You shall put of your honor on him, that all the congregation of the children of Israel may obey.</span>
  <span class="verse" title="Numbers 27:21" id="Numbers-27-21">He shall stand before Eleazar the priest, who shall inquire for him by the judgment of the Urim before Yahweh: at his word shall they go out, and at his word they shall come in, both he, and all the children of Israel with him, even all the congregation.&#8221;</span>
  <span class="verse" title="Numbers 27:22" id="Numbers-27-22">Moses did as Yahweh commanded him; and he took Joshua, and set him before Eleazar the priest, and before all the congregation:</span>
  <span class="verse" title="Numbers 27:23" id="Numbers-27-23">and he laid his hands on him, and commissioned him, as Yahweh spoke by Moses.</span>
</div>