<div class="chapter" id="Numbers-028">
  <h2>Numbers 28</h2>
  <span class="verse" title="Numbers 28:1" id="Numbers-28-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 28:2" id="Numbers-28-2">&#8220;Command the children of Israel, and tell them, &#8216;My offering, my food for my offerings made by fire, of a pleasant aroma to me, you shall observe to offer to me in their due season.&#8217;</span>
  <span class="verse" title="Numbers 28:3" id="Numbers-28-3">You shall tell them, &#8216;This is the offering made by fire which you shall offer to Yahweh: male lambs a year old without blemish, two day by day, for a continual burnt offering.</span>
  <span class="verse" title="Numbers 28:4" id="Numbers-28-4">You shall offer the one lamb in the morning, and you shall offer the other lamb at evening;</span>
  <span class="verse" title="Numbers 28:5" id="Numbers-28-5">with the tenth part of an ephah of fine flour for a meal offering, mixed with the fourth part of a hin of beaten oil.</span>
  <span class="verse" title="Numbers 28:6" id="Numbers-28-6">It is a continual burnt offering, which was ordained in Mount Sinai for a pleasant aroma, an offering made by fire to Yahweh.</span>
  <span class="verse" title="Numbers 28:7" id="Numbers-28-7">Its drink offering shall be the fourth part of a hin for the one lamb. You shall pour out a drink offering of strong drink to Yahweh in the holy place.</span>
  <span class="verse" title="Numbers 28:8" id="Numbers-28-8">The other lamb you shall offer at evening: as the meal offering of the morning, and as the drink offering of it, you shall offer it, an offering made by fire, of a pleasant aroma to Yahweh.</span>
  <span class="verse" title="Numbers 28:9" id="Numbers-28-9">&#8220;&#8216;On the Sabbath day two male lambs a year old without blemish, and two tenth parts of an ephah of fine flour for a meal offering, mixed with oil, and the drink offering of it:</span>
  <span class="verse" title="Numbers 28:10" id="Numbers-28-10">this is the burnt offering of every Sabbath, besides the continual burnt offering, and the drink offering of it.</span>
  <span class="verse" title="Numbers 28:11" id="Numbers-28-11">&#8220;&#8216;In the beginnings of your months you shall offer a burnt offering to Yahweh: two young bulls, and one ram, seven male lambs a year old without blemish;</span>
  <span class="verse" title="Numbers 28:12" id="Numbers-28-12">and three tenth parts of an ephah of fine flour for a meal offering, mixed with oil, for each bull; and two tenth parts of fine flour for a meal offering, mixed with oil, for the one ram;</span>
  <span class="verse" title="Numbers 28:13" id="Numbers-28-13">and a tenth part of fine flour mixed with oil for a meal offering to every lamb; for a burnt offering of a pleasant aroma, an offering made by fire to Yahweh.</span>
  <span class="verse" title="Numbers 28:14" id="Numbers-28-14">Their drink offerings shall be half a hin of wine for a bull, and the third part of a hin for the ram, and the fourth part of a hin for a lamb: this is the burnt offering of every month throughout the months of the year.</span>
  <span class="verse" title="Numbers 28:15" id="Numbers-28-15">One male goat for a sin offering to Yahweh; it shall be offered besides the continual burnt offering, and the drink offering of it.</span>
  <span class="verse" title="Numbers 28:16" id="Numbers-28-16">&#8220;&#8216;In the first month, on the fourteenth day of the month, is Yahweh&#8217;s Passover.</span>
  <span class="verse" title="Numbers 28:17" id="Numbers-28-17">On the fifteenth day of this month shall be a feast: seven days shall unleavened bread be eaten.</span>
  <span class="verse" title="Numbers 28:18" id="Numbers-28-18">In the first day shall be a holy convocation: you shall do no servile work;</span>
  <span class="verse" title="Numbers 28:19" id="Numbers-28-19">but you shall offer an offering made by fire, a burnt offering to Yahweh: two young bulls, and one ram, and seven male lambs a year old; they shall be to you without blemish;</span>
  <span class="verse" title="Numbers 28:20" id="Numbers-28-20">and their meal offering, fine flour mixed with oil: you shall offer three tenth parts for a bull, and two tenth parts for the ram.</span>
  <span class="verse" title="Numbers 28:21" id="Numbers-28-21">You shall offer a tenth part for every lamb of the seven lambs;</span>
  <span class="verse" title="Numbers 28:22" id="Numbers-28-22">and one male goat for a sin offering, to make atonement for you.</span>
  <span class="verse" title="Numbers 28:23" id="Numbers-28-23">You shall offer these besides the burnt offering of the morning, which is for a continual burnt offering.</span>
  <span class="verse" title="Numbers 28:24" id="Numbers-28-24">In this way you shall offer daily, for seven days, the food of the offering made by fire, of a pleasant aroma to Yahweh: it shall be offered besides the continual burnt offering, and the drink offering of it.</span>
  <span class="verse" title="Numbers 28:25" id="Numbers-28-25">On the seventh day you shall have a holy convocation: you shall do no servile work.</span>
  <span class="verse" title="Numbers 28:26" id="Numbers-28-26">&#8220;&#8216;Also in the day of the first fruits, when you offer a new meal offering to Yahweh in your feast of weeks, you shall have a holy convocation; you shall do no servile work;</span>
  <span class="verse" title="Numbers 28:27" id="Numbers-28-27">but you shall offer a burnt offering for a pleasant aroma to Yahweh: two young bulls, one ram, seven male lambs a year old;</span>
  <span class="verse" title="Numbers 28:28" id="Numbers-28-28">and their meal offering, fine flour mixed with oil, three tenth parts for each bull, two tenth parts for the one ram,</span>
  <span class="verse" title="Numbers 28:29" id="Numbers-28-29">a tenth part for every lamb of the seven lambs;</span>
  <span class="verse" title="Numbers 28:30" id="Numbers-28-30">one male goat, to make atonement for you.</span>
  <span class="verse" title="Numbers 28:31" id="Numbers-28-31">Besides the continual burnt offering, and the meal offering of it, you shall offer them (they shall be to you without blemish), and their drink offerings.</span>
</div>