<div class="chapter" id="Numbers-029">
  <h2>Numbers 29</h2>
  <span class="verse" title="Numbers 29:1" id="Numbers-29-1">&#8220;&#8216;In the seventh month, on the first day of the month, you shall have a holy convocation; you shall do no servile work: it is a day of blowing of trumpets to you.</span>
  <span class="verse" title="Numbers 29:2" id="Numbers-29-2">You shall offer a burnt offering for a pleasant aroma to Yahweh: one young bull, one ram, seven male lambs a year old without blemish;</span>
  <span class="verse" title="Numbers 29:3" id="Numbers-29-3">and their meal offering, fine flour mixed with oil, three tenth parts for the bull, two tenth parts for the ram,</span>
  <span class="verse" title="Numbers 29:4" id="Numbers-29-4">and one tenth part for every lamb of the seven lambs;</span>
  <span class="verse" title="Numbers 29:5" id="Numbers-29-5">and one male goat for a sin offering, to make atonement for you;</span>
  <span class="verse" title="Numbers 29:6" id="Numbers-29-6">besides the burnt offering of the new moon, and the meal offering of it, and the continual burnt offering and the meal offering of it, and their drink offerings, according to their ordinance, for a pleasant aroma, an offering made by fire to Yahweh.</span>
  <span class="verse" title="Numbers 29:7" id="Numbers-29-7">&#8220;&#8216;On the tenth day of this seventh month you shall have a holy convocation; and you shall afflict your souls: you shall do no kind of work;</span>
  <span class="verse" title="Numbers 29:8" id="Numbers-29-8">but you shall offer a burnt offering to Yahweh for a pleasant aroma: one young bull, one ram, seven male lambs a year old; they shall be to you without blemish;</span>
  <span class="verse" title="Numbers 29:9" id="Numbers-29-9">and their meal offering, fine flour mixed with oil, three tenth parts for the bull, two tenth parts for the one ram,</span>
  <span class="verse" title="Numbers 29:10" id="Numbers-29-10">a tenth part for every lamb of the seven lambs:</span>
  <span class="verse" title="Numbers 29:11" id="Numbers-29-11">one male goat for a sin offering; besides the sin offering of atonement, and the continual burnt offering, and the meal offering of it, and their drink offerings.</span>
  <span class="verse" title="Numbers 29:12" id="Numbers-29-12">&#8220;&#8216;On the fifteenth day of the seventh month you shall have a holy convocation; you shall do no servile work, and you shall keep a feast to Yahweh seven days:</span>
  <span class="verse" title="Numbers 29:13" id="Numbers-29-13">and you shall offer a burnt offering, an offering made by fire, of a pleasant aroma to Yahweh; thirteen young bulls, two rams, fourteen male lambs a year old; they shall be without blemish;</span>
  <span class="verse" title="Numbers 29:14" id="Numbers-29-14">and their meal offering, fine flour mixed with oil, three tenth parts for every bull of the thirteen bulls, two tenth parts for each ram of the two rams,</span>
  <span class="verse" title="Numbers 29:15" id="Numbers-29-15">and a tenth part for every lamb of the fourteen lambs;</span>
  <span class="verse" title="Numbers 29:16" id="Numbers-29-16">and one male goat for a sin offering, besides the continual burnt offering, the meal offering of it, and the drink offering of it.</span>
  <span class="verse" title="Numbers 29:17" id="Numbers-29-17">&#8220;&#8216;On the second day you shall offer twelve young bulls, two rams, fourteen male lambs a year old without blemish;</span>
  <span class="verse" title="Numbers 29:18" id="Numbers-29-18">and their meal offering and their drink offerings for the bulls, for the rams, and for the lambs, according to their number, after the ordinance;</span>
  <span class="verse" title="Numbers 29:19" id="Numbers-29-19">and one male goat for a sin offering; besides the continual burnt offering, and the meal offering of it, and their drink offerings.</span>
  <span class="verse" title="Numbers 29:20" id="Numbers-29-20">&#8220;&#8216;On the third day eleven bulls, two rams, fourteen male lambs a year old without blemish;</span>
  <span class="verse" title="Numbers 29:21" id="Numbers-29-21">and their meal offering and their drink offerings for the bulls, for the rams, and for the lambs, according to their number, after the ordinance;</span>
  <span class="verse" title="Numbers 29:22" id="Numbers-29-22">and one male goat for a sin offering; besides the continual burnt offering, and the meal offering of it, and the drink offering of it.</span>
  <span class="verse" title="Numbers 29:23" id="Numbers-29-23">&#8220;&#8216;On the fourth day ten bulls, two rams, fourteen male lambs a year old without blemish;</span>
  <span class="verse" title="Numbers 29:24" id="Numbers-29-24">their meal offering and their drink offerings for the bulls, for the rams, and for the lambs, according to their number, after the ordinance;</span>
  <span class="verse" title="Numbers 29:25" id="Numbers-29-25">and one male goat for a sin offering; besides the continual burnt offering, the meal offering of it, and the drink offering of it.</span>
  <span class="verse" title="Numbers 29:26" id="Numbers-29-26">&#8220;&#8216;On the fifth day nine bulls, two rams, fourteen male lambs a year old without blemish;</span>
  <span class="verse" title="Numbers 29:27" id="Numbers-29-27">and their meal offering and their drink offerings for the bulls, for the rams, and for the lambs, according to their number, after the ordinance;</span>
  <span class="verse" title="Numbers 29:28" id="Numbers-29-28">and one male goat for a sin offering, besides the continual burnt offering, and the meal offering of it, and the drink offering of it.</span>
  <span class="verse" title="Numbers 29:29" id="Numbers-29-29">&#8220;&#8216;On the sixth day eight bulls, two rams, fourteen male lambs a year old without blemish;</span>
  <span class="verse" title="Numbers 29:30" id="Numbers-29-30">and their meal offering and their drink offerings for the bulls, for the rams, and for the lambs, according to their number, after the ordinance;</span>
  <span class="verse" title="Numbers 29:31" id="Numbers-29-31">and one male goat for a sin offering; besides the continual burnt offering, the meal offering of it, and the drink offerings of it.</span>
  <span class="verse" title="Numbers 29:32" id="Numbers-29-32">&#8220;&#8216;On the seventh day seven bulls, two rams, fourteen male lambs a year old without blemish;</span>
  <span class="verse" title="Numbers 29:33" id="Numbers-29-33">and their meal offering and their drink offerings for the bulls, for the rams, and for the lambs, according to their number, after the ordinance;</span>
  <span class="verse" title="Numbers 29:34" id="Numbers-29-34">and one male goat for a sin offering; besides the continual burnt offering, the meal offering of it, and the drink offering of it.</span>
  <span class="verse" title="Numbers 29:35" id="Numbers-29-35">&#8220;&#8216;On the eighth day you shall have a solemn assembly: you shall do no servile work;</span>
  <span class="verse" title="Numbers 29:36" id="Numbers-29-36">but you shall offer a burnt offering, an offering made by fire, of a pleasant aroma to Yahweh: one bull, one ram, seven male lambs a year old without blemish;</span>
  <span class="verse" title="Numbers 29:37" id="Numbers-29-37">their meal offering and their drink offerings for the bull, for the ram, and for the lambs, shall be according to their number, after the ordinance:</span>
  <span class="verse" title="Numbers 29:38" id="Numbers-29-38">and one male goat for a sin offering, besides the continual burnt offering, and the meal offering of it, and the drink offering of it.</span>
  <span class="verse" title="Numbers 29:39" id="Numbers-29-39">&#8220;&#8216;You shall offer these to Yahweh in your set feasts, besides your vows, and your freewill offerings, for your burnt offerings, and for your meal offerings, and for your drink offerings, and for your peace offerings.&#8217;&#8221;</span>
  <span class="verse" title="Numbers 29:40" id="Numbers-29-40">Moses told the children of Israel according to all that Yahweh commanded Moses.</span>
</div>