<div class="chapter" id="Numbers-030">
  <h2>Numbers 30</h2>
  <span class="verse" title="Numbers 30:1" id="Numbers-30-1">Moses spoke to the heads of the tribes of the children of Israel, saying, &#8220;This is the thing which Yahweh has commanded.</span>
  <span class="verse" title="Numbers 30:2" id="Numbers-30-2">When a man vows a vow to Yahweh, or swears an oath to bind his soul with a bond, he shall not break his word; he shall do according to all that proceeds out of his mouth.</span>
  <span class="verse" title="Numbers 30:3" id="Numbers-30-3">&#8220;Also when a woman vows a vow to Yahweh, and binds herself by a bond, being in her father&#8217;s house, in her youth,</span>
  <span class="verse" title="Numbers 30:4" id="Numbers-30-4">and her father hears her vow, and her bond with which she has bound her soul, and her father holds his peace at her; then all her vows shall stand, and every bond with which she has bound her soul shall stand.</span>
  <span class="verse" title="Numbers 30:5" id="Numbers-30-5">But if her father disallow her in the day that he hears, none of her vows, or of her bonds with which she has bound her soul, shall stand: and Yahweh will forgive her, because her father disallowed her.</span>
  <span class="verse" title="Numbers 30:6" id="Numbers-30-6">&#8220;If she has a husband, while her vows are on her, or the rash utterance of her lips, with which she has bound her soul,</span>
  <span class="verse" title="Numbers 30:7" id="Numbers-30-7">and her husband hears it, and hold his peace at her in the day that he hears it; then her vows shall stand, and her bonds with which she has bound her soul shall stand.</span>
  <span class="verse" title="Numbers 30:8" id="Numbers-30-8">But if her husband forbids her in the day that he hears it, then he shall make void her vow which is on her, and the rash utterance of her lips, with which she has bound her soul: and Yahweh will forgive her.</span>
  <span class="verse" title="Numbers 30:9" id="Numbers-30-9">&#8220;But the vow of a widow, or of her who is divorced, everything with which she has bound her soul, shall stand against her.</span>
  <span class="verse" title="Numbers 30:10" id="Numbers-30-10">&#8220;If she vowed in her husband&#8217;s house, or bound her soul by a bond with an oath,</span>
  <span class="verse" title="Numbers 30:11" id="Numbers-30-11">and her husband heard it, and held his peace at her, and didn&#8217;t disallow her; then all her vows shall stand, and every bond with which she bound her soul shall stand.</span>
  <span class="verse" title="Numbers 30:12" id="Numbers-30-12">But if her husband made them null and void in the day that he heard them, then whatever proceeded out of her lips concerning her vows, or concerning the bond of her soul, shall not stand: her husband has made them void; and Yahweh will forgive her.</span>
  <span class="verse" title="Numbers 30:13" id="Numbers-30-13">Every vow, and every binding oath to afflict the soul, her husband may establish it, or her husband may make it void.</span>
  <span class="verse" title="Numbers 30:14" id="Numbers-30-14">But if her husband altogether hold his peace at her from day to day, then he establishes all her vows, or all her bonds, which are on her: he has established them, because he held his peace at her in the day that he heard them.</span>
  <span class="verse" title="Numbers 30:15" id="Numbers-30-15">But if he shall make them null and void after that he has heard them, then he shall bear her iniquity.&#8221;</span>
  <span class="verse" title="Numbers 30:16" id="Numbers-30-16">These are the statutes, which Yahweh commanded Moses, between a man and his wife, between a father and his daughter, being in her youth, in her father&#8217;s house.</span>
</div>