<div class="chapter" id="Numbers-031">
  <h2>Numbers 31</h2>
  <span class="verse" title="Numbers 31:1" id="Numbers-31-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 31:2" id="Numbers-31-2">&#8220;Avenge the children of Israel for the Midianites. Afterward you shall be gathered to your people.&#8221;</span>
  <span class="verse" title="Numbers 31:3" id="Numbers-31-3">Moses spoke to the people, saying, &#8220;Arm men from among you for the war, that they may go against Midian, to execute Yahweh&#8217;s vengeance on Midian.</span>
  <span class="verse" title="Numbers 31:4" id="Numbers-31-4">Of every tribe one thousand, throughout all the tribes of Israel, you shall send to the war.&#8221;</span>
  <span class="verse" title="Numbers 31:5" id="Numbers-31-5">So there were delivered, out of the thousands of Israel, a thousand of every tribe, twelve thousand armed for war.</span>
  <span class="verse" title="Numbers 31:6" id="Numbers-31-6">Moses sent them, one thousand of every tribe, to the war, them and Phinehas the son of Eleazar the priest, to the war, with the vessels of the sanctuary and the trumpets for the alarm in his hand.</span>
  <span class="verse" title="Numbers 31:7" id="Numbers-31-7">They warred against Midian, as Yahweh commanded Moses; and they killed every male.</span>
  <span class="verse" title="Numbers 31:8" id="Numbers-31-8">They killed the kings of Midian with the rest of their slain: Evi, and Rekem, and Zur, and Hur, and Reba, the five kings of Midian: Balaam also the son of Beor they killed with the sword.</span>
  <span class="verse" title="Numbers 31:9" id="Numbers-31-9">The children of Israel took captive the women of Midian and their little ones; and all their livestock, and all their flocks, and all their goods, they took for a prey.</span>
  <span class="verse" title="Numbers 31:10" id="Numbers-31-10">All their cities in the places in which they lived, and all their encampments, they burnt with fire.</span>
  <span class="verse" title="Numbers 31:11" id="Numbers-31-11">They took all the spoil, and all the prey, both of man and of animal.</span>
  <span class="verse" title="Numbers 31:12" id="Numbers-31-12">They brought the captives, and the prey, and the spoil, to Moses, and to Eleazar the priest, and to the congregation of the children of Israel, to the camp at the plains of Moab, which are by the Jordan at Jericho.</span>
  <span class="verse" title="Numbers 31:13" id="Numbers-31-13">Moses, and Eleazar the priest, and all the princes of the congregation, went forth to meet them outside of the camp.</span>
  <span class="verse" title="Numbers 31:14" id="Numbers-31-14">Moses was angry with the officers of the army, the captains of thousands and the captains of hundreds, who came from the service of the war.</span>
  <span class="verse" title="Numbers 31:15" id="Numbers-31-15">Moses said to them, &#8220;Have you saved all the women alive?</span>
  <span class="verse" title="Numbers 31:16" id="Numbers-31-16">Behold, these caused the children of Israel, through the counsel of Balaam, to commit trespass against Yahweh in the matter of Peor, and so the plague was among the congregation of Yahweh.</span>
  <span class="verse" title="Numbers 31:17" id="Numbers-31-17">Now therefore kill every male among the little ones, and kill every woman who has known man by lying with him.</span>
  <span class="verse" title="Numbers 31:18" id="Numbers-31-18">But all the girls, who have not known man by lying with him, keep alive for yourselves.</span>
  <span class="verse" title="Numbers 31:19" id="Numbers-31-19">&#8220;Encamp outside of the camp seven days: whoever has killed any person, and whoever has touched any slain, purify yourselves on the third day and on the seventh day, you and your captives.</span>
  <span class="verse" title="Numbers 31:20" id="Numbers-31-20">As to every garment, and all that is made of skin, and all work of goats&#8217; hair, and all things made of wood, you shall purify yourselves.&#8221;</span>
  <span class="verse" title="Numbers 31:21" id="Numbers-31-21">Eleazar the priest said to the men of war who went to the battle, &#8220;This is the statute of the law which Yahweh has commanded Moses:</span>
  <span class="verse" title="Numbers 31:22" id="Numbers-31-22">however the gold, and the silver, the brass, the iron, the tin, and the lead,</span>
  <span class="verse" title="Numbers 31:23" id="Numbers-31-23">everything that may withstand the fire, you shall make to go through the fire, and it shall be clean; nevertheless it shall be purified with the water for impurity: and all that doesn&#8217;t withstand the fire you shall make to go through the water.</span>
  <span class="verse" title="Numbers 31:24" id="Numbers-31-24">You shall wash your clothes on the seventh day, and you shall be clean; and afterward you shall come into the camp.&#8221;</span>
  <span class="verse" title="Numbers 31:25" id="Numbers-31-25">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 31:26" id="Numbers-31-26">&#8220;Take the sum of the prey that was taken, both of man and of animal, you, and Eleazar the priest, and the heads of the fathers&#8217; households of the congregation;</span>
  <span class="verse" title="Numbers 31:27" id="Numbers-31-27">and divide the prey into two parts: between the men skilled in war, who went out to battle, and all the congregation.</span>
  <span class="verse" title="Numbers 31:28" id="Numbers-31-28">Levy a tribute to Yahweh of the men of war who went out to battle: one soul of five hundred; of the persons, of the cattle, of the donkeys, and of the flocks.</span>
  <span class="verse" title="Numbers 31:29" id="Numbers-31-29">Take it of their half, and give it to Eleazar the priest, for Yahweh&#8217;s wave offering.</span>
  <span class="verse" title="Numbers 31:30" id="Numbers-31-30">Of the children of Israel&#8217;s half, you shall take one drawn out of every fifty, of the persons, of the cattle, of the donkeys, and of the flocks, of all the livestock, and give them to the Levites, who perform the duty of the tabernacle of Yahweh.&#8221;</span>
  <span class="verse" title="Numbers 31:31" id="Numbers-31-31">Moses and Eleazar the priest did as Yahweh commanded Moses.</span>
  <span class="verse" title="Numbers 31:32" id="Numbers-31-32">Now the prey, over and above the booty which the men of war took, was six hundred seventy-five thousand sheep,</span>
  <span class="verse" title="Numbers 31:33" id="Numbers-31-33">and seventy-two thousand head of cattle,</span>
  <span class="verse" title="Numbers 31:34" id="Numbers-31-34">and sixty-one thousand donkeys,</span>
  <span class="verse" title="Numbers 31:35" id="Numbers-31-35">and thirty-two thousand persons in all, of the women who had not known man by lying with him.</span>
  <span class="verse" title="Numbers 31:36" id="Numbers-31-36">The half, which was the portion of those who went out to war, was in number three hundred thirty-seven thousand five hundred sheep:</span>
  <span class="verse" title="Numbers 31:37" id="Numbers-31-37">and Yahweh&#8217;s tribute of the sheep was six hundred seventy-five.</span>
  <span class="verse" title="Numbers 31:38" id="Numbers-31-38">The cattle were thirty-six thousand; of which Yahweh&#8217;s tribute was seventy-two.</span>
  <span class="verse" title="Numbers 31:39" id="Numbers-31-39">The donkeys were thirty thousand five hundred; of which Yahweh&#8217;s tribute was sixty-one.</span>
  <span class="verse" title="Numbers 31:40" id="Numbers-31-40">The persons were sixteen thousand; of whom Yahweh&#8217;s tribute was thirty-two persons.</span>
  <span class="verse" title="Numbers 31:41" id="Numbers-31-41">Moses gave the tribute, which was Yahweh&#8217;s wave offering, to Eleazar the priest, as Yahweh commanded Moses.</span>
  <span class="verse" title="Numbers 31:42" id="Numbers-31-42">Of the children of Israel&#8217;s half, which Moses divided off from the men who warred</span>
  <span class="verse" title="Numbers 31:43" id="Numbers-31-43">(now the congregation&#8217;s half was three hundred thirty-seven thousand five hundred sheep,</span>
  <span class="verse" title="Numbers 31:44" id="Numbers-31-44">and thirty-six thousand head of cattle,</span>
  <span class="verse" title="Numbers 31:45" id="Numbers-31-45">and thirty thousand five hundred donkeys,</span>
  <span class="verse" title="Numbers 31:46" id="Numbers-31-46">and sixteen thousand persons),</span>
  <span class="verse" title="Numbers 31:47" id="Numbers-31-47">even of the children of Israel&#8217;s half, Moses took one drawn out of every fifty, both of man and of animal, and gave them to the Levites, who performed the duty of the tabernacle of Yahweh; as Yahweh commanded Moses.</span>
  <span class="verse" title="Numbers 31:48" id="Numbers-31-48">The officers who were over the thousands of the army, the captains of thousands, and the captains of hundreds, came near to Moses;</span>
  <span class="verse" title="Numbers 31:49" id="Numbers-31-49">and they said to Moses, &#8220;Your servants have taken the sum of the men of war who are under our command, and there lacks not one man of us.</span>
  <span class="verse" title="Numbers 31:50" id="Numbers-31-50">We have brought Yahweh&#8217;s offering, what every man has gotten, of jewels of gold, armlets, and bracelets, signet rings, earrings, and necklaces, to make atonement for our souls before Yahweh.&#8221;</span>
  <span class="verse" title="Numbers 31:51" id="Numbers-31-51">Moses and Eleazar the priest took their gold, even all worked jewels.</span>
  <span class="verse" title="Numbers 31:52" id="Numbers-31-52">All the gold of the wave offering that they offered up to Yahweh, of the captains of thousands, and of the captains of hundreds, was sixteen thousand seven hundred fifty shekels.</span>
  <span class="verse" title="Numbers 31:53" id="Numbers-31-53">(The men of war had taken booty, every man for himself.)</span>
  <span class="verse" title="Numbers 31:54" id="Numbers-31-54">Moses and Eleazar the priest took the gold of the captains of thousands and of hundreds, and brought it into the Tent of Meeting, for a memorial for the children of Israel before Yahweh.</span>
</div>