<div class="chapter" id="Numbers-032">
  <h2>Numbers 32</h2>
  <span class="verse" title="Numbers 32:1" id="Numbers-32-1">Now the children of Reuben and the children of Gad had a very great multitude of livestock: and when they saw the land of Jazer, and the land of Gilead, that behold, the place was a place for livestock;</span>
  <span class="verse" title="Numbers 32:2" id="Numbers-32-2">the children of Gad and the children of Reuben came and spoke to Moses, and to Eleazar the priest, and to the princes of the congregation, saying,</span>
  <span class="verse" title="Numbers 32:3" id="Numbers-32-3">&#8220;Ataroth, and Dibon, and Jazer, and Nimrah, and Heshbon, and Elealeh, and Sebam, and Nebo, and Beon,</span>
  <span class="verse" title="Numbers 32:4" id="Numbers-32-4">the land which Yahweh struck before the congregation of Israel, is a land for livestock; and your servants have livestock.&#8221;</span>
  <span class="verse" title="Numbers 32:5" id="Numbers-32-5">They said, &#8220;If we have found favor in your sight, let this land be given to your servants for a possession; don&#8217;t bring us over the Jordan.&#8221;</span>
  <span class="verse" title="Numbers 32:6" id="Numbers-32-6">Moses said to the children of Gad, and to the children of Reuben, &#8220;Shall your brothers go to the war, and shall you sit here?</span>
  <span class="verse" title="Numbers 32:7" id="Numbers-32-7">Why do you discourage the heart of the children of Israel from going over into the land which Yahweh has given them?</span>
  <span class="verse" title="Numbers 32:8" id="Numbers-32-8">Your fathers did so when I sent them from Kadesh Barnea to see the land.</span>
  <span class="verse" title="Numbers 32:9" id="Numbers-32-9">For when they went up to the valley of Eshcol, and saw the land, they discouraged the heart of the children of Israel, that they should not go into the land which Yahweh had given them.</span>
  <span class="verse" title="Numbers 32:10" id="Numbers-32-10">Yahweh&#8217;s anger was kindled in that day, and he swore, saying,</span>
  <span class="verse" title="Numbers 32:11" id="Numbers-32-11">&#8216;Surely none of the men who came up out of Egypt, from twenty years old and upward, shall see the land which I swore to Abraham, to Isaac, and to Jacob; because they have not wholly followed me:</span>
  <span class="verse" title="Numbers 32:12" id="Numbers-32-12">except Caleb the son of Jephunneh the Kenizzite, and Joshua the son of Nun; because they have followed Yahweh completely.&#8217;</span>
  <span class="verse" title="Numbers 32:13" id="Numbers-32-13">Yahweh&#8217;s anger was kindled against Israel, and he made them wander back and forth in the wilderness forty years, until all the generation, who had done evil in the sight of Yahweh, was consumed.</span>
  <span class="verse" title="Numbers 32:14" id="Numbers-32-14">&#8220;Behold, you have risen up in your fathers&#8217; place, an increase of sinful men, to augment yet the fierce anger of Yahweh toward Israel.</span>
  <span class="verse" title="Numbers 32:15" id="Numbers-32-15">For if you turn away from after him, he will yet again leave them in the wilderness; and you will destroy all this people.&#8221;</span>
  <span class="verse" title="Numbers 32:16" id="Numbers-32-16">They came near to him, and said, &#8220;We will build sheepfolds here for our livestock, and cities for our little ones:</span>
  <span class="verse" title="Numbers 32:17" id="Numbers-32-17">but we ourselves will be ready armed to go before the children of Israel, until we have brought them to their place: and our little ones shall dwell in the fortified cities because of the inhabitants of the land.</span>
  <span class="verse" title="Numbers 32:18" id="Numbers-32-18">We will not return to our houses, until the children of Israel have inherited every man his inheritance.</span>
  <span class="verse" title="Numbers 32:19" id="Numbers-32-19">For we will not inherit with them on the other side of the Jordan, and forward; because our inheritance is fallen to us on this side of the Jordan eastward.&#8221;</span>
  <span class="verse" title="Numbers 32:20" id="Numbers-32-20">Moses said to them, &#8220;If you will do this thing, if you will arm yourselves to go before Yahweh to the war,</span>
  <span class="verse" title="Numbers 32:21" id="Numbers-32-21">and every armed man of you will pass over the Jordan before Yahweh, until he has driven out his enemies from before him,</span>
  <span class="verse" title="Numbers 32:22" id="Numbers-32-22">and the land is subdued before Yahweh; then afterward you shall return, and be guiltless towards Yahweh, and towards Israel; and this land shall be to you for a possession before Yahweh.</span>
  <span class="verse" title="Numbers 32:23" id="Numbers-32-23">&#8220;But if you will not do so, behold, you have sinned against Yahweh; and be sure your sin will find you out.</span>
  <span class="verse" title="Numbers 32:24" id="Numbers-32-24">Build cities for your little ones, and folds for your sheep; and do that which has proceeded out of your mouth.&#8221;</span>
  <span class="verse" title="Numbers 32:25" id="Numbers-32-25">The children of Gad and the children of Reuben spoke to Moses, saying, &#8220;Your servants will do as my lord commands.</span>
  <span class="verse" title="Numbers 32:26" id="Numbers-32-26">Our little ones, our wives, our flocks, and all our livestock, shall be there in the cities of Gilead;</span>
  <span class="verse" title="Numbers 32:27" id="Numbers-32-27">but your servants will pass over, every man who is armed for war, before Yahweh to battle, as my lord says.&#8221;</span>
  <span class="verse" title="Numbers 32:28" id="Numbers-32-28">So Moses commanded concerning them to Eleazar the priest, and to Joshua the son of Nun, and to the heads of the fathers&#8217; households of the tribes of the children of Israel.</span>
  <span class="verse" title="Numbers 32:29" id="Numbers-32-29">Moses said to them, &#8220;If the children of Gad and the children of Reuben will pass with you over the Jordan, every man who is armed to battle, before Yahweh, and the land shall be subdued before you; then you shall give them the land of Gilead for a possession:</span>
  <span class="verse" title="Numbers 32:30" id="Numbers-32-30">but if they will not pass over with you armed, they shall have possessions among you in the land of Canaan.&#8221;</span>
  <span class="verse" title="Numbers 32:31" id="Numbers-32-31">The children of Gad and the children of Reuben answered, saying, &#8220;As Yahweh has said to your servants, so will we do.</span>
  <span class="verse" title="Numbers 32:32" id="Numbers-32-32">We will pass over armed before Yahweh into the land of Canaan, and the possession of our inheritance shall remain with us beyond the Jordan.&#8221;</span>
  <span class="verse" title="Numbers 32:33" id="Numbers-32-33">Moses gave to them, even to the children of Gad, and to the children of Reuben, and to the half-tribe of Manasseh the son of Joseph, the kingdom of Sihon king of the Amorites, and the kingdom of Og king of Bashan, the land, according to its cities and borders, even the cities of the surrounding land.</span>
  <span class="verse" title="Numbers 32:34" id="Numbers-32-34">The children of Gad built Dibon, and Ataroth, and Aroer,</span>
  <span class="verse" title="Numbers 32:35" id="Numbers-32-35">and Atrothshophan, and Jazer, and Jogbehah,</span>
  <span class="verse" title="Numbers 32:36" id="Numbers-32-36">and Beth Nimrah, and Beth Haran: fortified cities, and folds for sheep.</span>
  <span class="verse" title="Numbers 32:37" id="Numbers-32-37">The children of Reuben built Heshbon, and Elealeh, and Kiriathaim,</span>
  <span class="verse" title="Numbers 32:38" id="Numbers-32-38">and Nebo, and Baal Meon, (their names being changed), and Sibmah: and they gave other names to the cities which they built.</span>
  <span class="verse" title="Numbers 32:39" id="Numbers-32-39">The children of Machir the son of Manasseh went to Gilead, and took it, and dispossessed the Amorites who were therein.</span>
  <span class="verse" title="Numbers 32:40" id="Numbers-32-40">Moses gave Gilead to Machir the son of Manasseh; and he lived therein.</span>
  <span class="verse" title="Numbers 32:41" id="Numbers-32-41">Jair the son of Manasseh went and took its towns, and called them Havvoth Jair.</span>
  <span class="verse" title="Numbers 32:42" id="Numbers-32-42">Nobah went and took Kenath, and its villages, and called it Nobah, after his own name.</span>
</div>