<div class="chapter" id="Numbers-033">
  <h2>Numbers 33</h2>
  <span class="verse" title="Numbers 33:1" id="Numbers-33-1">These are the journeys of the children of Israel, when they went forth out of the land of Egypt by their armies under the hand of Moses and Aaron.</span>
  <span class="verse" title="Numbers 33:2" id="Numbers-33-2">Moses wrote their goings out according to their journeys by the commandment of Yahweh: and these are their journeys according to their goings out.</span>
  <span class="verse" title="Numbers 33:3" id="Numbers-33-3">They traveled from Rameses in the first month, on the fifteenth day of the first month; on the next day after the Passover the children of Israel went out with a high hand in the sight of all the Egyptians,</span>
  <span class="verse" title="Numbers 33:4" id="Numbers-33-4">while the Egyptians were burying all their firstborn, whom Yahweh had struck among them: on their gods also Yahweh executed judgments.</span>
  <span class="verse" title="Numbers 33:5" id="Numbers-33-5">The children of Israel traveled from Rameses, and encamped in Succoth.</span>
  <span class="verse" title="Numbers 33:6" id="Numbers-33-6">They traveled from Succoth, and encamped in Etham, which is in the edge of the wilderness.</span>
  <span class="verse" title="Numbers 33:7" id="Numbers-33-7">They traveled from Etham, and turned back to Pihahiroth, which is before Baal Zephon: and they encamped before Migdol.</span>
  <span class="verse" title="Numbers 33:8" id="Numbers-33-8">They traveled from before Hahiroth, and passed through the midst of the sea into the wilderness: and they went three days&#8217; journey in the wilderness of Etham, and encamped in Marah.</span>
  <span class="verse" title="Numbers 33:9" id="Numbers-33-9">They traveled from Marah, and came to Elim: and in Elim were twelve springs of water, and seventy palm trees; and they encamped there.</span>
  <span class="verse" title="Numbers 33:10" id="Numbers-33-10">They traveled from Elim, and encamped by the Red Sea.</span>
  <span class="verse" title="Numbers 33:11" id="Numbers-33-11">They traveled from the Red Sea, and encamped in the wilderness of Sin.</span>
  <span class="verse" title="Numbers 33:12" id="Numbers-33-12">They traveled from the wilderness of Sin, and encamped in Dophkah.</span>
  <span class="verse" title="Numbers 33:13" id="Numbers-33-13">They traveled from Dophkah, and encamped in Alush.</span>
  <span class="verse" title="Numbers 33:14" id="Numbers-33-14">They traveled from Alush, and encamped in Rephidim, where there was no water for the people to drink.</span>
  <span class="verse" title="Numbers 33:15" id="Numbers-33-15">They traveled from Rephidim, and encamped in the wilderness of Sinai.</span>
  <span class="verse" title="Numbers 33:16" id="Numbers-33-16">They traveled from the wilderness of Sinai, and encamped in Kibroth Hattaavah.</span>
  <span class="verse" title="Numbers 33:17" id="Numbers-33-17">They traveled from Kibroth Hattaavah, and encamped in Hazeroth.</span>
  <span class="verse" title="Numbers 33:18" id="Numbers-33-18">They traveled from Hazeroth, and encamped in Rithmah.</span>
  <span class="verse" title="Numbers 33:19" id="Numbers-33-19">They traveled from Rithmah, and encamped in Rimmon Perez.</span>
  <span class="verse" title="Numbers 33:20" id="Numbers-33-20">They traveled from Rimmon Perez, and encamped in Libnah.</span>
  <span class="verse" title="Numbers 33:21" id="Numbers-33-21">They traveled from Libnah, and encamped in Rissah.</span>
  <span class="verse" title="Numbers 33:22" id="Numbers-33-22">They traveled from Rissah, and encamped in Kehelathah.</span>
  <span class="verse" title="Numbers 33:23" id="Numbers-33-23">They traveled from Kehelathah, and encamped in Mount Shepher.</span>
  <span class="verse" title="Numbers 33:24" id="Numbers-33-24">They traveled from Mount Shepher, and encamped in Haradah.</span>
  <span class="verse" title="Numbers 33:25" id="Numbers-33-25">They traveled from Haradah, and encamped in Makheloth.</span>
  <span class="verse" title="Numbers 33:26" id="Numbers-33-26">They traveled from Makheloth, and encamped in Tahath.</span>
  <span class="verse" title="Numbers 33:27" id="Numbers-33-27">They traveled from Tahath, and encamped in Terah.</span>
  <span class="verse" title="Numbers 33:28" id="Numbers-33-28">They traveled from Terah, and encamped in Mithkah.</span>
  <span class="verse" title="Numbers 33:29" id="Numbers-33-29">They traveled from Mithkah, and encamped in Hashmonah.</span>
  <span class="verse" title="Numbers 33:30" id="Numbers-33-30">They traveled from Hashmonah, and encamped in Moseroth.</span>
  <span class="verse" title="Numbers 33:31" id="Numbers-33-31">They traveled from Moseroth, and encamped in Bene Jaakan.</span>
  <span class="verse" title="Numbers 33:32" id="Numbers-33-32">They traveled from Bene Jaakan, and encamped in Hor Haggidgad.</span>
  <span class="verse" title="Numbers 33:33" id="Numbers-33-33">They traveled from Hor Haggidgad, and encamped in Jotbathah.</span>
  <span class="verse" title="Numbers 33:34" id="Numbers-33-34">They traveled from Jotbathah, and encamped in Abronah.</span>
  <span class="verse" title="Numbers 33:35" id="Numbers-33-35">They traveled from Abronah, and encamped in Ezion Geber.</span>
  <span class="verse" title="Numbers 33:36" id="Numbers-33-36">They traveled from Ezion Geber, and encamped in the wilderness of Zin (the same is Kadesh).</span>
  <span class="verse" title="Numbers 33:37" id="Numbers-33-37">They traveled from Kadesh, and encamped in Mount Hor, in the edge of the land of Edom.</span>
  <span class="verse" title="Numbers 33:38" id="Numbers-33-38">Aaron the priest went up into Mount Hor at the commandment of Yahweh, and died there, in the fortieth year after the children of Israel had come out of the land of Egypt, in the fifth month, on the first day of the month.</span>
  <span class="verse" title="Numbers 33:39" id="Numbers-33-39">Aaron was one hundred twenty-three years old when he died in Mount Hor.</span>
  <span class="verse" title="Numbers 33:40" id="Numbers-33-40">The Canaanite, the king of Arad, who lived in the South in the land of Canaan, heard of the coming of the children of Israel.</span>
  <span class="verse" title="Numbers 33:41" id="Numbers-33-41">They traveled from Mount Hor, and encamped in Zalmonah.</span>
  <span class="verse" title="Numbers 33:42" id="Numbers-33-42">They traveled from Zalmonah, and encamped in Punon.</span>
  <span class="verse" title="Numbers 33:43" id="Numbers-33-43">They traveled from Punon, and encamped in Oboth.</span>
  <span class="verse" title="Numbers 33:44" id="Numbers-33-44">They traveled from Oboth, and encamped in Iye Abarim, in the border of Moab.</span>
  <span class="verse" title="Numbers 33:45" id="Numbers-33-45">They traveled from Iyim, and encamped in Dibon Gad.</span>
  <span class="verse" title="Numbers 33:46" id="Numbers-33-46">They traveled from Dibon Gad, and encamped in Almon Diblathaim.</span>
  <span class="verse" title="Numbers 33:47" id="Numbers-33-47">They traveled from Almon Diblathaim, and encamped in the mountains of Abarim, before Nebo.</span>
  <span class="verse" title="Numbers 33:48" id="Numbers-33-48">They traveled from the mountains of Abarim, and encamped in the plains of Moab by the Jordan at Jericho.</span>
  <span class="verse" title="Numbers 33:49" id="Numbers-33-49">They encamped by the Jordan, from Beth Jeshimoth even to Abel Shittim in the plains of Moab.</span>
  <span class="verse" title="Numbers 33:50" id="Numbers-33-50">Yahweh spoke to Moses in the plains of Moab by the Jordan at Jericho, saying,</span>
  <span class="verse" title="Numbers 33:51" id="Numbers-33-51">Speak to the children of Israel, and tell them, &#8220;When you pass over the Jordan into the land of Canaan,</span>
  <span class="verse" title="Numbers 33:52" id="Numbers-33-52">then you shall drive out all the inhabitants of the land from before you, destroy all their stone idols, destroy all their molten images, and demolish all their high places.</span>
  <span class="verse" title="Numbers 33:53" id="Numbers-33-53">You shall take possession of the land, and dwell therein; for I have given given the land to you to possess it.</span>
  <span class="verse" title="Numbers 33:54" id="Numbers-33-54">You shall inherit the land by lot according to your families; to the more you shall give the more inheritance, and to the fewer you shall give the less inheritance: wherever the lot falls to any man, that shall be his. You shall inherit according to the tribes of your fathers.</span>
  <span class="verse" title="Numbers 33:55" id="Numbers-33-55">&#8220;But if you do not drive out the inhabitants of the land from before you, then those you let remain of them will be as pricks in your eyes and as thorns in your sides, and they will harass you in the land in which you dwell.</span>
  <span class="verse" title="Numbers 33:56" id="Numbers-33-56">It shall happen that as I thought to do to them, so will I do to you.&#8221;</span>
</div>