<div class="chapter" id="Numbers-034">
  <h2>Numbers 34</h2>
  <span class="verse" title="Numbers 34:1" id="Numbers-34-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 34:2" id="Numbers-34-2">&#8220;Command the children of Israel, and tell them, &#8216;When you come into the land of Canaan (this is the land that shall fall to you for an inheritance, even the land of Canaan according to its borders),</span>
  <span class="verse" title="Numbers 34:3" id="Numbers-34-3">then your south quarter shall be from the wilderness of Zin along by the side of Edom, and your south border shall be from the end of the Salt Sea eastward;</span>
  <span class="verse" title="Numbers 34:4" id="Numbers-34-4">and your border shall turn about southward of the ascent of Akrabbim, and pass along to Zin; and the goings out of it shall be southward of Kadesh Barnea; and it shall go forth to Hazar Addar, and pass along to Azmon;</span>
  <span class="verse" title="Numbers 34:5" id="Numbers-34-5">and the border shall turn about from Azmon to the brook of Egypt, and the goings out of it shall be at the sea.</span>
  <span class="verse" title="Numbers 34:6" id="Numbers-34-6">&#8220;&#8216;For the western border, you shall have the great sea and its border: this shall be your west border.</span>
  <span class="verse" title="Numbers 34:7" id="Numbers-34-7">&#8220;&#8216;This shall be your north border: from the great sea you shall mark out for you Mount Hor;</span>
  <span class="verse" title="Numbers 34:8" id="Numbers-34-8">from Mount Hor you shall mark out to the entrance of Hamath; and the goings out of the border shall be at Zedad;</span>
  <span class="verse" title="Numbers 34:9" id="Numbers-34-9">and the border shall go forth to Ziphron, and the goings out of it shall be at Hazar Enan: this shall be your north border.</span>
  <span class="verse" title="Numbers 34:10" id="Numbers-34-10">&#8220;&#8216;You shall mark out your east border from Hazar Enan to Shepham;</span>
  <span class="verse" title="Numbers 34:11" id="Numbers-34-11">and the border shall go down from Shepham to Riblah, on the east side of Ain; and the border shall go down, and shall reach to the side of the sea of Chinnereth eastward;</span>
  <span class="verse" title="Numbers 34:12" id="Numbers-34-12">and the border shall go down to the Jordan, and the goings out of it shall be at the Salt Sea. This shall be your land according to its borders around it.&#8217;&#8221;</span>
  <span class="verse" title="Numbers 34:13" id="Numbers-34-13">Moses commanded the children of Israel, saying, &#8220;This is the land which you shall inherit by lot, which Yahweh has commanded to give to the nine tribes, and to the half-tribe;</span>
  <span class="verse" title="Numbers 34:14" id="Numbers-34-14">for the tribe of the children of Reuben according to their fathers&#8217; houses, and the tribe of the children of Gad according to their fathers&#8217; houses, have received, and the half-tribe of Manasseh have received, their inheritance:</span>
  <span class="verse" title="Numbers 34:15" id="Numbers-34-15">the two tribes and the half-tribe have received their inheritance beyond the Jordan at Jericho eastward, toward the sunrise.&#8221;</span>
  <span class="verse" title="Numbers 34:16" id="Numbers-34-16">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Numbers 34:17" id="Numbers-34-17">&#8220;These are the names of the men who shall divide the land to you for inheritance: Eleazar the priest, and Joshua the son of Nun.</span>
  <span class="verse" title="Numbers 34:18" id="Numbers-34-18">You shall take one prince of every tribe, to divide the land for inheritance.</span>
  <span class="verse" title="Numbers 34:19" id="Numbers-34-19">These are the names of the men: Of the tribe of Judah, Caleb the son of Jephunneh.</span>
  <span class="verse" title="Numbers 34:20" id="Numbers-34-20">Of the tribe of the children of Simeon, Shemuel the son of Ammihud.</span>
  <span class="verse" title="Numbers 34:21" id="Numbers-34-21">Of the tribe of Benjamin, Elidad the son of Chislon.</span>
  <span class="verse" title="Numbers 34:22" id="Numbers-34-22">Of the tribe of the children of Dan a prince, Bukki the son of Jogli.</span>
  <span class="verse" title="Numbers 34:23" id="Numbers-34-23">Of the children of Joseph: of the tribe of the children of Manasseh a prince, Hanniel the son of Ephod.</span>
  <span class="verse" title="Numbers 34:24" id="Numbers-34-24">Of the tribe of the children of Ephraim a prince, Kemuel the son of Shiphtan.</span>
  <span class="verse" title="Numbers 34:25" id="Numbers-34-25">Of the tribe of the children of Zebulun a prince, Elizaphan the son of Parnach.</span>
  <span class="verse" title="Numbers 34:26" id="Numbers-34-26">Of the tribe of the children of Issachar a prince, Paltiel the son of Azzan.</span>
  <span class="verse" title="Numbers 34:27" id="Numbers-34-27">Of the tribe of the children of Asher a prince, Ahihud the son of Shelomi.</span>
  <span class="verse" title="Numbers 34:28" id="Numbers-34-28">Of the tribe of the children of Naphtali a prince, Pedahel the son of Ammihud.&#8221;</span>
  <span class="verse" title="Numbers 34:29" id="Numbers-34-29">These are they whom Yahweh commanded to divide the inheritance to the children of Israel in the land of Canaan.</span>
</div>