<% content_for :subnav do %>
  <li><%= link_to 'Pages', pages_path %></li>
<% end %>

<h1>Edit Page</h1>

<div style="float:right;width:500px;border-left:1px solid #ccc;padding-left:25px;">
  <%= render :partial => 'attachments' %>
</div>

<%= render :partial => 'form' %>
