<% content_for :sidebar do %><% end %>

<h2><%= t('pages.pages') %></h2>

<ul class="list">
  <% @pages.each do |page| %>
    <li><%= link_to page.title, edit_page_path(page) %></li>
  <% end %>
</ul>
