<div class="chapter" id="Mark-001">
  <h2>Mark 1</h2>
  <span class="verse" title="Mark 1:1" id="Mark-1-1">The beginning of the Good News of Jesus Christ, the Son of God.</span>
  <span class="verse" title="Mark 1:2" id="Mark-1-2">As it is written in the prophets,  &#8220;Behold, I send my messenger before your face,<br/> <span class="indent">&nbsp;&nbsp;</span>who will prepare your way before you.<br/></span>
  <span class="verse" title="Mark 1:3" id="Mark-1-3">The voice of one crying in the wilderness,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8216;Make ready the way of the Lord!<br/> <span class="indent">&nbsp;&nbsp;</span>Make his paths straight!&#8217;&#8221;<br/></span>
  <span class="verse" title="Mark 1:4" id="Mark-1-4">John came baptizing in the wilderness and preaching the baptism of repentance for forgiveness of sins.</span>
  <span class="verse" title="Mark 1:5" id="Mark-1-5">All the country of Judea and all those of Jerusalem went out to him. They were baptized by him in the Jordan river, confessing their sins.</span>
  <span class="verse" title="Mark 1:6" id="Mark-1-6">John was clothed with camel&#8217;s hair and a leather belt around his waist. He ate locusts and wild honey.</span>
  <span class="verse" title="Mark 1:7" id="Mark-1-7">He preached, saying, &#8220;After me comes he who is mightier than I, the thong of whose sandals I am not worthy to stoop down and loosen.</span>
  <span class="verse" title="Mark 1:8" id="Mark-1-8">I baptized you in water, but he will baptize you in the Holy Spirit.&#8221;</span>
  <span class="verse" title="Mark 1:9" id="Mark-1-9">It happened in those days, that Jesus came from Nazareth of Galilee, and was baptized by John in the Jordan.</span>
  <span class="verse" title="Mark 1:10" id="Mark-1-10">Immediately coming up from the water, he saw the heavens parting, and the Spirit descending on him like a dove.</span>
  <span class="verse" title="Mark 1:11" id="Mark-1-11">A voice came out of the sky, &#8220;You are my beloved Son, in whom I am well pleased.&#8221;</span>
  <span class="verse" title="Mark 1:12" id="Mark-1-12">Immediately the Spirit drove him out into the wilderness.</span>
  <span class="verse" title="Mark 1:13" id="Mark-1-13">He was there in the wilderness forty days tempted by Satan. He was with the wild animals; and the angels were serving him.</span>
  <span class="verse" title="Mark 1:14" id="Mark-1-14">Now after John was taken into custody, Jesus came into Galilee, preaching the Good News of the Kingdom of God,</span>
  <span class="verse" title="Mark 1:15" id="Mark-1-15">and saying, &#8220;The time is fulfilled, and the Kingdom of God is at hand! Repent, and believe in the Good News.&#8221;</span>
  <span class="verse" title="Mark 1:16" id="Mark-1-16">Passing along by the sea of Galilee, he saw Simon and Andrew the brother of Simon casting a net into the sea, for they were fishermen.</span>
  <span class="verse" title="Mark 1:17" id="Mark-1-17">Jesus said to them, &#8220;Come after me, and I will make you into fishers for men.&#8221;</span>
  <span class="verse" title="Mark 1:18" id="Mark-1-18">Immediately they left their nets, and followed him.</span>
  <span class="verse" title="Mark 1:19" id="Mark-1-19">Going on a little further from there, he saw James the son of Zebedee, and John, his brother, who were also in the boat mending the nets.</span>
  <span class="verse" title="Mark 1:20" id="Mark-1-20">Immediately he called them, and they left their father, Zebedee, in the boat with the hired servants, and went after him.</span>
  <span class="verse" title="Mark 1:21" id="Mark-1-21">They went into Capernaum, and immediately on the Sabbath day he entered into the synagogue and taught.</span>
  <span class="verse" title="Mark 1:22" id="Mark-1-22">They were astonished at his teaching, for he taught them as having authority, and not as the scribes.</span>
  <span class="verse" title="Mark 1:23" id="Mark-1-23">Immediately there was in their synagogue a man with an unclean spirit, and he cried out,</span>
  <span class="verse" title="Mark 1:24" id="Mark-1-24">saying, &#8220;Ha! What do we have to do with you, Jesus, you Nazarene? Have you come to destroy us? I know you who you are: the Holy One of God!&#8221;</span>
  <span class="verse" title="Mark 1:25" id="Mark-1-25">Jesus rebuked him, saying, &#8220;Be quiet, and come out of him!&#8221;</span>
  <span class="verse" title="Mark 1:26" id="Mark-1-26">The unclean spirit, convulsing him and crying with a loud voice, came out of him.</span>
  <span class="verse" title="Mark 1:27" id="Mark-1-27">They were all amazed, so that they questioned among themselves, saying, &#8220;What is this? A new teaching? For with authority he commands even the unclean spirits, and they obey him!&#8221;</span>
  <span class="verse" title="Mark 1:28" id="Mark-1-28">The report of him went out immediately everywhere into all the region of Galilee and its surrounding area.</span>
  <span class="verse" title="Mark 1:29" id="Mark-1-29">Immediately, when they had come out of the synagogue, they came into the house of Simon and Andrew, with James and John.</span>
  <span class="verse" title="Mark 1:30" id="Mark-1-30">Now Simon&#8217;s wife&#8217;s mother lay sick with a fever, and immediately they told him about her.</span>
  <span class="verse" title="Mark 1:31" id="Mark-1-31">He came and took her by the hand, and raised her up. The fever left her, and she served them.</span>
  <span class="verse" title="Mark 1:32" id="Mark-1-32">At evening, when the sun had set, they brought to him all who were sick, and those who were possessed by demons.</span>
  <span class="verse" title="Mark 1:33" id="Mark-1-33">All the city was gathered together at the door.</span>
  <span class="verse" title="Mark 1:34" id="Mark-1-34">He healed many who were sick with various diseases, and cast out many demons. He didn&#8217;t allow the demons to speak, because they knew him.</span>
  <span class="verse" title="Mark 1:35" id="Mark-1-35">Early in the morning, while it was still dark, he rose up and went out, and departed into a deserted place, and prayed there.</span>
  <span class="verse" title="Mark 1:36" id="Mark-1-36">Simon and those who were with him followed after him;</span>
  <span class="verse" title="Mark 1:37" id="Mark-1-37">and they found him, and told him, &#8220;Everyone is looking for you.&#8221;</span>
  <span class="verse" title="Mark 1:38" id="Mark-1-38">He said to them, &#8220;Let&#8217;s go elsewhere into the next towns, that I may preach there also, because I came out for this reason.&#8221;</span>
  <span class="verse" title="Mark 1:39" id="Mark-1-39">He went into their synagogues throughout all Galilee, preaching and casting out demons.</span>
  <span class="verse" title="Mark 1:40" id="Mark-1-40">A leper came to him, begging him, kneeling down to him, and saying to him, &#8220;If you want to, you can make me clean.&#8221;</span>
  <span class="verse" title="Mark 1:41" id="Mark-1-41">Being moved with compassion, he stretched out his hand, and touched him, and said to him, &#8220;I want to. Be made clean.&#8221;</span>
  <span class="verse" title="Mark 1:42" id="Mark-1-42">When he had said this, immediately the leprosy departed from him, and he was made clean.</span>
  <span class="verse" title="Mark 1:43" id="Mark-1-43">He strictly warned him, and immediately sent him out,</span>
  <span class="verse" title="Mark 1:44" id="Mark-1-44">and said to him, &#8220;See you say nothing to anybody, but go show yourself to the priest, and offer for your cleansing the things which Moses commanded, for a testimony to them.&#8221;</span>
  <span class="verse" title="Mark 1:45" id="Mark-1-45">But he went out, and began to proclaim it much, and to spread about the matter, so that Jesus could no more openly enter into a city, but was outside in desert places: and they came to him from everywhere.</span>
</div>