<div class="chapter" id="Mark-002">
  <h2>Mark 2</h2>
  <span class="verse" title="Mark 2:1" id="Mark-2-1">When he entered again into Capernaum after some days, it was heard that he was in the house.</span>
  <span class="verse" title="Mark 2:2" id="Mark-2-2">Immediately many were gathered together, so that there was no more room, not even around the door; and he spoke the word to them.</span>
  <span class="verse" title="Mark 2:3" id="Mark-2-3">Four people came, carrying a paralytic to him.</span>
  <span class="verse" title="Mark 2:4" id="Mark-2-4">When they could not come near to him for the crowd, they removed the roof where he was. When they had broken it up, they let down the mat that the paralytic was lying on.</span>
  <span class="verse" title="Mark 2:5" id="Mark-2-5">Jesus, seeing their faith, said to the paralytic, &#8220;Son, your sins are forgiven you.&#8221;</span>
  <span class="verse" title="Mark 2:6" id="Mark-2-6">But there were some of the scribes sitting there, and reasoning in their hearts,</span>
  <span class="verse" title="Mark 2:7" id="Mark-2-7">&#8220;Why does this man speak blasphemies like that? Who can forgive sins but God alone?&#8221;</span>
  <span class="verse" title="Mark 2:8" id="Mark-2-8">Immediately Jesus, perceiving in his spirit that they so reasoned within themselves, said to them, &#8220;Why do you reason these things in your hearts?</span>
  <span class="verse" title="Mark 2:9" id="Mark-2-9">Which is easier, to tell the paralytic, &#8216;Your sins are forgiven;&#8217; or to say, &#8216;Arise, and take up your bed, and walk?&#8217;</span>
  <span class="verse" title="Mark 2:10" id="Mark-2-10">But that you may know that the Son of Man has authority on earth to forgive sins&#8221;—he said to the paralytic—</span>
  <span class="verse" title="Mark 2:11" id="Mark-2-11">&#8220;I tell you, arise, take up your mat, and go to your house.&#8221;</span>
  <span class="verse" title="Mark 2:12" id="Mark-2-12">He arose, and immediately took up the mat, and went out in front of them all; so that they were all amazed, and glorified God, saying, &#8220;We never saw anything like this!&#8221;</span>
  <span class="verse" title="Mark 2:13" id="Mark-2-13">He went out again by the seaside. All the multitude came to him, and he taught them.</span>
  <span class="verse" title="Mark 2:14" id="Mark-2-14">As he passed by, he saw Levi, the son of Alphaeus, sitting at the tax office, and he said to him, &#8220;Follow me.&#8221; And he arose and followed him.</span>
  <span class="verse" title="Mark 2:15" id="Mark-2-15">It happened, that he was reclining at the table in his house, and many tax collectors and sinners sat down with Jesus and his disciples, for there were many, and they followed him.</span>
  <span class="verse" title="Mark 2:16" id="Mark-2-16">The scribes and the Pharisees, when they saw that he was eating with the sinners and tax collectors, said to his disciples, &#8220;Why is it that he eats and drinks with tax collectors and sinners?&#8221;</span>
  <span class="verse" title="Mark 2:17" id="Mark-2-17">When Jesus heard it, he said to them, &#8220;Those who are healthy have no need for a physician, but those who are sick. I came not to call the righteous, but sinners to repentance.&#8221;</span>
  <span class="verse" title="Mark 2:18" id="Mark-2-18">John&#8217;s disciples and the Pharisees were fasting, and they came and asked him, &#8220;Why do John&#8217;s disciples and the disciples of the Pharisees fast, but your disciples don&#8217;t fast?&#8221;</span>
  <span class="verse" title="Mark 2:19" id="Mark-2-19">Jesus said to them, &#8220;Can the groomsmen fast while the bridegroom is with them? As long as they have the bridegroom with them, they can&#8217;t fast.</span>
  <span class="verse" title="Mark 2:20" id="Mark-2-20">But the days will come when the bridegroom will be taken away from them, and then will they fast in that day.</span>
  <span class="verse" title="Mark 2:21" id="Mark-2-21">No one sews a piece of unshrunk cloth on an old garment, or else the patch shrinks and the new tears away from the old, and a worse hole is made.</span>
  <span class="verse" title="Mark 2:22" id="Mark-2-22">No one puts new wine into old wineskins, or else the new wine will burst the skins, and the wine pours out, and the skins will be destroyed; but they put new wine into fresh wineskins.&#8221;</span>
  <span class="verse" title="Mark 2:23" id="Mark-2-23">It happened that he was going on the Sabbath day through the grain fields, and his disciples began, as they went, to pluck the ears of grain.</span>
  <span class="verse" title="Mark 2:24" id="Mark-2-24">The Pharisees said to him, &#8220;Behold, why do they do that which is not lawful on the Sabbath day?&#8221;</span>
  <span class="verse" title="Mark 2:25" id="Mark-2-25">He said to them, &#8220;Did you never read what David did, when he had need, and was hungry—he, and those who were with him?</span>
  <span class="verse" title="Mark 2:26" id="Mark-2-26">How he entered into the house of God when Abiathar was high priest, and ate the show bread, which is not lawful to eat except for the priests, and gave also to those who were with him?&#8221;</span>
  <span class="verse" title="Mark 2:27" id="Mark-2-27">He said to them, &#8220;The Sabbath was made for man, not man for the Sabbath.</span>
  <span class="verse" title="Mark 2:28" id="Mark-2-28">Therefore the Son of Man is lord even of the Sabbath.&#8221;</span>
</div>