<div class="chapter" id="Mark-003">
  <h2>Mark 3</h2>
  <span class="verse" title="Mark 3:1" id="Mark-3-1">He entered again into the synagogue, and there was a man there who had his hand withered.</span>
  <span class="verse" title="Mark 3:2" id="Mark-3-2">They watched him, whether he would heal him on the Sabbath day, that they might accuse him.</span>
  <span class="verse" title="Mark 3:3" id="Mark-3-3">He said to the man who had his hand withered, &#8220;Stand up.&#8221;</span>
  <span class="verse" title="Mark 3:4" id="Mark-3-4">He said to them, &#8220;Is it lawful on the Sabbath day to do good, or to do harm? To save a life, or to kill?&#8221; But they were silent.</span>
  <span class="verse" title="Mark 3:5" id="Mark-3-5">When he had looked around at them with anger, being grieved at the hardening of their hearts, he said to the man, &#8220;Stretch out your hand.&#8221; He stretched it out, and his hand was restored as healthy as the other.</span>
  <span class="verse" title="Mark 3:6" id="Mark-3-6">The Pharisees went out, and immediately conspired with the Herodians against him, how they might destroy him.</span>
  <span class="verse" title="Mark 3:7" id="Mark-3-7">Jesus withdrew to the sea with his disciples, and a great multitude followed him from Galilee, from Judea,</span>
  <span class="verse" title="Mark 3:8" id="Mark-3-8">from Jerusalem, from Idumaea, beyond the Jordan, and those from around Tyre and Sidon. A great multitude, hearing what great things he did, came to him.</span>
  <span class="verse" title="Mark 3:9" id="Mark-3-9">He spoke to his disciples that a little boat should stay near him because of the crowd, so that they wouldn&#8217;t press on him.</span>
  <span class="verse" title="Mark 3:10" id="Mark-3-10">For he had healed many, so that as many as had diseases pressed on him that they might touch him.</span>
  <span class="verse" title="Mark 3:11" id="Mark-3-11">The unclean spirits, whenever they saw him, fell down before him, and cried, &#8220;You are the Son of God!&#8221;</span>
  <span class="verse" title="Mark 3:12" id="Mark-3-12">He sternly warned them that they should not make him known.</span>
  <span class="verse" title="Mark 3:13" id="Mark-3-13">He went up into the mountain, and called to himself those whom he wanted, and they went to him.</span>
  <span class="verse" title="Mark 3:14" id="Mark-3-14">He appointed twelve, that they might be with him, and that he might send them out to preach,</span>
  <span class="verse" title="Mark 3:15" id="Mark-3-15">and to have authority to heal sicknesses and to cast out demons:</span>
  <span class="verse" title="Mark 3:16" id="Mark-3-16">Simon, to whom he gave the name Peter;</span>
  <span class="verse" title="Mark 3:17" id="Mark-3-17">James the son of Zebedee; John, the brother of James, and he surnamed them Boanerges, which means, Sons of Thunder;</span>
  <span class="verse" title="Mark 3:18" id="Mark-3-18">Andrew; Philip; Bartholomew; Matthew; Thomas; James, the son of Alphaeus; Thaddaeus; Simon the Zealot;</span>
  <span class="verse" title="Mark 3:19" id="Mark-3-19">and Judas Iscariot, who also betrayed him. He came into a house.</span>
  <span class="verse" title="Mark 3:20" id="Mark-3-20">The multitude came together again, so that they could not so much as eat bread.</span>
  <span class="verse" title="Mark 3:21" id="Mark-3-21">When his friends heard it, they went out to seize him: for they said, &#8220;He is insane.&#8221;</span>
  <span class="verse" title="Mark 3:22" id="Mark-3-22">The scribes who came down from Jerusalem said, &#8220;He has Beelzebul,&#8221; and, &#8220;By the prince of the demons he casts out the demons.&#8221;</span>
  <span class="verse" title="Mark 3:23" id="Mark-3-23">He summoned them, and said to them in parables, &#8220;How can Satan cast out Satan?</span>
  <span class="verse" title="Mark 3:24" id="Mark-3-24">If a kingdom is divided against itself, that kingdom cannot stand.</span>
  <span class="verse" title="Mark 3:25" id="Mark-3-25">If a house is divided against itself, that house cannot stand.</span>
  <span class="verse" title="Mark 3:26" id="Mark-3-26">If Satan has risen up against himself, and is divided, he can&#8217;t stand, but has an end.</span>
  <span class="verse" title="Mark 3:27" id="Mark-3-27">But no one can enter into the house of the strong man to plunder, unless he first binds the strong man; and then he will plunder his house.</span>
  <span class="verse" title="Mark 3:28" id="Mark-3-28">Most certainly I tell you, all sins of the descendants of man will be forgiven, including their blasphemies with which they may blaspheme;</span>
  <span class="verse" title="Mark 3:29" id="Mark-3-29">but whoever may blaspheme against the Holy Spirit never has forgiveness, but is guilty of an eternal sin&#8221;</span>
  <span class="verse" title="Mark 3:30" id="Mark-3-30">—because they said, &#8220;He has an unclean spirit.&#8221;</span>
  <span class="verse" title="Mark 3:31" id="Mark-3-31">His mother and his brothers came, and standing outside, they sent to him, calling him.</span>
  <span class="verse" title="Mark 3:32" id="Mark-3-32">A multitude was sitting around him, and they told him, &#8220;Behold, your mother, your brothers, and your sisters are outside looking for you.&#8221;</span>
  <span class="verse" title="Mark 3:33" id="Mark-3-33">He answered them, &#8220;Who are my mother and my brothers?&#8221;</span>
  <span class="verse" title="Mark 3:34" id="Mark-3-34">Looking around at those who sat around him, he said, &#8220;Behold, my mother and my brothers!</span>
  <span class="verse" title="Mark 3:35" id="Mark-3-35">For whoever does the will of God, the same is my brother, and my sister, and mother.&#8221;</span>
</div>