<div class="chapter" id="Mark-004">
  <h2>Mark 4</h2>
  <span class="verse" title="Mark 4:1" id="Mark-4-1">Again he began to teach by the seaside. A great multitude was gathered to him, so that he entered into a boat in the sea, and sat down. All the multitude were on the land by the sea.</span>
  <span class="verse" title="Mark 4:2" id="Mark-4-2">He taught them many things in parables, and told them in his teaching,</span>
  <span class="verse" title="Mark 4:3" id="Mark-4-3">&#8220;Listen! Behold, the farmer went out to sow,</span>
  <span class="verse" title="Mark 4:4" id="Mark-4-4">and it happened, as he sowed, some seed fell by the road, and the birds came and devoured it.</span>
  <span class="verse" title="Mark 4:5" id="Mark-4-5">Others fell on the rocky ground, where it had little soil, and immediately it sprang up, because it had no depth of soil.</span>
  <span class="verse" title="Mark 4:6" id="Mark-4-6">When the sun had risen, it was scorched; and because it had no root, it withered away.</span>
  <span class="verse" title="Mark 4:7" id="Mark-4-7">Others fell among the thorns, and the thorns grew up, and choked it, and it yielded no fruit.</span>
  <span class="verse" title="Mark 4:8" id="Mark-4-8">Others fell into the good ground, and yielded fruit, growing up and increasing. Some brought forth thirty times, some sixty times, and some one hundred times as much.&#8221;</span>
  <span class="verse" title="Mark 4:9" id="Mark-4-9">He said, &#8220;Whoever has ears to hear, let him hear.&#8221;</span>
  <span class="verse" title="Mark 4:10" id="Mark-4-10">When he was alone, those who were around him with the twelve asked him about the parables.</span>
  <span class="verse" title="Mark 4:11" id="Mark-4-11">He said to them, &#8220;To you is given the mystery of the Kingdom of God, but to those who are outside, all things are done in parables,</span>
  <span class="verse" title="Mark 4:12" id="Mark-4-12">that &#8216;seeing they may see, and not perceive; and hearing they may hear, and not understand; lest perhaps they should turn again, and their sins should be forgiven them.&#8217;&#8221;</span>
  <span class="verse" title="Mark 4:13" id="Mark-4-13">He said to them, &#8220;Don&#8217;t you understand this parable? How will you understand all of the parables?</span>
  <span class="verse" title="Mark 4:14" id="Mark-4-14">The farmer sows the word.</span>
  <span class="verse" title="Mark 4:15" id="Mark-4-15">The ones by the road are the ones where the word is sown; and when they have heard, immediately Satan comes, and takes away the word which has been sown in them.</span>
  <span class="verse" title="Mark 4:16" id="Mark-4-16">These in the same way are those who are sown on the rocky places, who, when they have heard the word, immediately receive it with joy.</span>
  <span class="verse" title="Mark 4:17" id="Mark-4-17">They have no root in themselves, but are short-lived. When oppression or persecution arises because of the word, immediately they stumble.</span>
  <span class="verse" title="Mark 4:18" id="Mark-4-18">Others are those who are sown among the thorns. These are those who have heard the word,</span>
  <span class="verse" title="Mark 4:19" id="Mark-4-19">and the cares of this age, and the deceitfulness of riches, and the lusts of other things entering in choke the word, and it becomes unfruitful.</span>
  <span class="verse" title="Mark 4:20" id="Mark-4-20">Those which were sown on the good ground are those who hear the word, and accept it, and bear fruit, some thirty times, some sixty times, and some one hundred times.&#8221;</span>
  <span class="verse" title="Mark 4:21" id="Mark-4-21">He said to them, &#8220;Is the lamp brought to be put under a basket or under a bed? Isn&#8217;t it put on a stand?</span>
  <span class="verse" title="Mark 4:22" id="Mark-4-22">For there is nothing hidden, except that it should be made known; neither was anything made secret, but that it should come to light.</span>
  <span class="verse" title="Mark 4:23" id="Mark-4-23">If any man has ears to hear, let him hear.&#8221;</span>
  <span class="verse" title="Mark 4:24" id="Mark-4-24">He said to them, &#8220;Take heed what you hear. With whatever measure you measure, it will be measured to you, and more will be given to you who hear.</span>
  <span class="verse" title="Mark 4:25" id="Mark-4-25">For whoever has, to him will more be given, and he who doesn&#8217;t have, even that which he has will be taken away from him.&#8221;</span>
  <span class="verse" title="Mark 4:26" id="Mark-4-26">He said, &#8220;The Kingdom of God is as if a man should cast seed on the earth,</span>
  <span class="verse" title="Mark 4:27" id="Mark-4-27">and should sleep and rise night and day, and the seed should spring up and grow, he doesn&#8217;t know how.</span>
  <span class="verse" title="Mark 4:28" id="Mark-4-28">For the earth bears fruit: first the blade, then the ear, then the full grain in the ear.</span>
  <span class="verse" title="Mark 4:29" id="Mark-4-29">But when the fruit is ripe, immediately he puts forth the sickle, because the harvest has come.&#8221;</span>
  <span class="verse" title="Mark 4:30" id="Mark-4-30">He said, &#8220;How will we liken the Kingdom of God? Or with what parable will we illustrate it?</span>
  <span class="verse" title="Mark 4:31" id="Mark-4-31">It&#8217;s like a grain of mustard seed, which, when it is sown in the earth, though it is less than all the seeds that are on the earth,</span>
  <span class="verse" title="Mark 4:32" id="Mark-4-32">yet when it is sown, grows up, and becomes greater than all the herbs, and puts out great branches, so that the birds of the sky can lodge under its shadow.&#8221;</span>
  <span class="verse" title="Mark 4:33" id="Mark-4-33">With many such parables he spoke the word to them, as they were able to hear it.</span>
  <span class="verse" title="Mark 4:34" id="Mark-4-34">Without a parable he didn&#8217;t speak to them; but privately to his own disciples he explained everything.</span>
  <span class="verse" title="Mark 4:35" id="Mark-4-35">On that day, when evening had come, he said to them, &#8220;Let&#8217;s go over to the other side.&#8221;</span>
  <span class="verse" title="Mark 4:36" id="Mark-4-36">Leaving the multitude, they took him with them, even as he was, in the boat. Other small boats were also with him.</span>
  <span class="verse" title="Mark 4:37" id="Mark-4-37">A big wind storm arose, and the waves beat into the boat, so much that the boat was already filled.</span>
  <span class="verse" title="Mark 4:38" id="Mark-4-38">He himself was in the stern, asleep on the cushion, and they woke him up, and told him, &#8220;Teacher, don&#8217;t you care that we are dying?&#8221;</span>
  <span class="verse" title="Mark 4:39" id="Mark-4-39">He awoke, and rebuked the wind, and said to the sea, &#8220;Peace! Be still!&#8221; The wind ceased, and there was a great calm.</span>
  <span class="verse" title="Mark 4:40" id="Mark-4-40">He said to them, &#8220;Why are you so afraid? How is it that you have no faith?&#8221;</span>
  <span class="verse" title="Mark 4:41" id="Mark-4-41">They were greatly afraid, and said to one another, &#8220;Who then is this, that even the wind and the sea obey him?&#8221;</span>
</div>