<div class="chapter" id="Mark-005">
  <h2>Mark 5</h2>
  <span class="verse" title="Mark 5:1" id="Mark-5-1">They came to the other side of the sea, into the country of the Gadarenes.</span>
  <span class="verse" title="Mark 5:2" id="Mark-5-2">When he had come out of the boat, immediately a man with an unclean spirit met him out of the tombs.</span>
  <span class="verse" title="Mark 5:3" id="Mark-5-3">He lived in the tombs. Nobody could bind him any more, not even with chains,</span>
  <span class="verse" title="Mark 5:4" id="Mark-5-4">because he had been often bound with fetters and chains, and the chains had been torn apart by him, and the fetters broken in pieces. Nobody had the strength to tame him.</span>
  <span class="verse" title="Mark 5:5" id="Mark-5-5">Always, night and day, in the tombs and in the mountains, he was crying out, and cutting himself with stones.</span>
  <span class="verse" title="Mark 5:6" id="Mark-5-6">When he saw Jesus from afar, he ran and bowed down to him,</span>
  <span class="verse" title="Mark 5:7" id="Mark-5-7">and crying out with a loud voice, he said, &#8220;What have I to do with you, Jesus, you Son of the Most High God? I adjure you by God, don&#8217;t torment me.&#8221;</span>
  <span class="verse" title="Mark 5:8" id="Mark-5-8">For he said to him, &#8220;Come out of the man, you unclean spirit!&#8221;</span>
  <span class="verse" title="Mark 5:9" id="Mark-5-9">He asked him, &#8220;What is your name?&#8221; He said to him, &#8220;My name is Legion, for we are many.&#8221;</span>
  <span class="verse" title="Mark 5:10" id="Mark-5-10">He begged him much that he would not send them away out of the country.</span>
  <span class="verse" title="Mark 5:11" id="Mark-5-11">Now on the mountainside there was a great herd of pigs feeding.</span>
  <span class="verse" title="Mark 5:12" id="Mark-5-12">All the demons begged him, saying, &#8220;Send us into the pigs, that we may enter into them.&#8221;</span>
  <span class="verse" title="Mark 5:13" id="Mark-5-13">At once Jesus gave them permission. The unclean spirits came out and entered into the pigs. The herd of about two thousand rushed down the steep bank into the sea, and they were drowned in the sea.</span>
  <span class="verse" title="Mark 5:14" id="Mark-5-14">Those who fed them fled, and told it in the city and in the country. The people came to see what it was that had happened.</span>
  <span class="verse" title="Mark 5:15" id="Mark-5-15">They came to Jesus, and saw him who had been possessed by demons sitting, clothed, and in his right mind, even him who had the legion; and they were afraid.</span>
  <span class="verse" title="Mark 5:16" id="Mark-5-16">Those who saw it declared to them how it happened to him who was possessed by demons, and about the pigs.</span>
  <span class="verse" title="Mark 5:17" id="Mark-5-17">They began to beg him to depart from their region.</span>
  <span class="verse" title="Mark 5:18" id="Mark-5-18">As he was entering into the boat, he who had been possessed by demons begged him that he might be with him.</span>
  <span class="verse" title="Mark 5:19" id="Mark-5-19">He didn&#8217;t allow him, but said to him, &#8220;Go to your house, to your friends, and tell them what great things the Lord has done for you, and how he had mercy on you.&#8221;</span>
  <span class="verse" title="Mark 5:20" id="Mark-5-20">He went his way, and began to proclaim in Decapolis how Jesus had done great things for him, and everyone marveled.</span>
  <span class="verse" title="Mark 5:21" id="Mark-5-21">When Jesus had crossed back over in the boat to the other side, a great multitude was gathered to him; and he was by the sea.</span>
  <span class="verse" title="Mark 5:22" id="Mark-5-22">Behold, one of the rulers of the synagogue, Jairus by name, came; and seeing him, he fell at his feet,</span>
  <span class="verse" title="Mark 5:23" id="Mark-5-23">and begged him much, saying, &#8220;My little daughter is at the point of death. Please come and lay your hands on her, that she may be made healthy, and live.&#8221;</span>
  <span class="verse" title="Mark 5:24" id="Mark-5-24">He went with him, and a great multitude followed him, and they pressed upon him on all sides.</span>
  <span class="verse" title="Mark 5:25" id="Mark-5-25">A certain woman, who had an issue of blood for twelve years,</span>
  <span class="verse" title="Mark 5:26" id="Mark-5-26">and had suffered many things by many physicians, and had spent all that she had, and was no better, but rather grew worse,</span>
  <span class="verse" title="Mark 5:27" id="Mark-5-27">having heard the things concerning Jesus, came up behind him in the crowd, and touched his clothes.</span>
  <span class="verse" title="Mark 5:28" id="Mark-5-28">For she said, &#8220;If I just touch his clothes, I will be made well.&#8221;</span>
  <span class="verse" title="Mark 5:29" id="Mark-5-29">Immediately the flow of her blood was dried up, and she felt in her body that she was healed of her affliction.</span>
  <span class="verse" title="Mark 5:30" id="Mark-5-30">Immediately Jesus, perceiving in himself that the power had gone out from him, turned around in the crowd, and asked, &#8220;Who touched my clothes?&#8221;</span>
  <span class="verse" title="Mark 5:31" id="Mark-5-31">His disciples said to him, &#8220;You see the multitude pressing against you, and you say, &#8216;Who touched me?&#8217;&#8221;</span>
  <span class="verse" title="Mark 5:32" id="Mark-5-32">He looked around to see her who had done this thing.</span>
  <span class="verse" title="Mark 5:33" id="Mark-5-33">But the woman, fearing and trembling, knowing what had been done to her, came and fell down before him, and told him all the truth.</span>
  <span class="verse" title="Mark 5:34" id="Mark-5-34">He said to her, &#8220;Daughter, your faith has made you well. Go in peace, and be cured of your disease.&#8221;</span>
  <span class="verse" title="Mark 5:35" id="Mark-5-35">While he was still speaking, people came from the synagogue ruler&#8217;s house saying, &#8220;Your daughter is dead. Why bother the Teacher any more?&#8221;</span>
  <span class="verse" title="Mark 5:36" id="Mark-5-36">But Jesus, when he heard the message spoken, immediately said to the ruler of the synagogue, &#8220;Don&#8217;t be afraid, only believe.&#8221;</span>
  <span class="verse" title="Mark 5:37" id="Mark-5-37">He allowed no one to follow him, except Peter, James, and John the brother of James.</span>
  <span class="verse" title="Mark 5:38" id="Mark-5-38">He came to the synagogue ruler&#8217;s house, and he saw an uproar, weeping, and great wailing.</span>
  <span class="verse" title="Mark 5:39" id="Mark-5-39">When he had entered in, he said to them, &#8220;Why do you make an uproar and weep? The child is not dead, but is asleep.&#8221;</span>
  <span class="verse" title="Mark 5:40" id="Mark-5-40">They ridiculed him. But he, having put them all out, took the father of the child, her mother, and those who were with him, and went in where the child was lying.</span>
  <span class="verse" title="Mark 5:41" id="Mark-5-41">Taking the child by the hand, he said to her, &#8220;Talitha cumi!&#8221; which means, being interpreted, &#8220;Girl, I tell you, get up!&#8221;</span>
  <span class="verse" title="Mark 5:42" id="Mark-5-42">Immediately the girl rose up and walked, for she was twelve years old. They were amazed with great amazement.</span>
  <span class="verse" title="Mark 5:43" id="Mark-5-43">He strictly ordered them that no one should know this, and commanded that something should be given to her to eat.</span>
</div>