<div class="chapter" id="Mark-006">
  <h2>Mark 6</h2>
  <span class="verse" title="Mark 6:1" id="Mark-6-1">He went out from there. He came into his own country, and his disciples followed him.</span>
  <span class="verse" title="Mark 6:2" id="Mark-6-2">When the Sabbath had come, he began to teach in the synagogue, and many hearing him were astonished, saying, &#8220;Where did this man get these things?&#8221; and, &#8220;What is the wisdom that is given to this man, that such mighty works come about by his hands?</span>
  <span class="verse" title="Mark 6:3" id="Mark-6-3">Isn&#8217;t this the carpenter, the son of Mary, and brother of James, Joses, Judah, and Simon? Aren&#8217;t his sisters here with us?&#8221; They were offended at him.</span>
  <span class="verse" title="Mark 6:4" id="Mark-6-4">Jesus said to them, &#8220;A prophet is not without honor, except in his own country, and among his own relatives, and in his own house.&#8221;</span>
  <span class="verse" title="Mark 6:5" id="Mark-6-5">He could do no mighty work there, except that he laid his hands on a few sick people, and healed them.</span>
  <span class="verse" title="Mark 6:6" id="Mark-6-6">He marveled because of their unbelief. He went around the villages teaching.</span>
  <span class="verse" title="Mark 6:7" id="Mark-6-7">He called to himself the twelve, and began to send them out two by two; and he gave them authority over the unclean spirits.</span>
  <span class="verse" title="Mark 6:8" id="Mark-6-8">He commanded them that they should take nothing for their journey, except a staff only: no bread, no wallet, no money in their purse,</span>
  <span class="verse" title="Mark 6:9" id="Mark-6-9">but to wear sandals, and not put on two tunics.</span>
  <span class="verse" title="Mark 6:10" id="Mark-6-10">He said to them, &#8220;Wherever you enter into a house, stay there until you depart from there.</span>
  <span class="verse" title="Mark 6:11" id="Mark-6-11">Whoever will not receive you nor hear you, as you depart from there, shake off the dust that is under your feet for a testimony against them. Assuredly, I tell you, it will be more tolerable for Sodom and Gomorrah in the day of judgment than for that city!&#8221;</span>
  <span class="verse" title="Mark 6:12" id="Mark-6-12">They went out and preached that people should repent.</span>
  <span class="verse" title="Mark 6:13" id="Mark-6-13">They cast out many demons, and anointed many with oil who were sick, and healed them.</span>
  <span class="verse" title="Mark 6:14" id="Mark-6-14">King Herod heard this, for his name had become known, and he said, &#8220;John the Baptizer has risen from the dead, and therefore these powers are at work in him.&#8221;</span>
  <span class="verse" title="Mark 6:15" id="Mark-6-15">But others said, &#8220;He is Elijah.&#8221; Others said, &#8220;He is a prophet, or like one of the prophets.&#8221;</span>
  <span class="verse" title="Mark 6:16" id="Mark-6-16">But Herod, when he heard this, said, &#8220;This is John, whom I beheaded. He has risen from the dead.&#8221;</span>
  <span class="verse" title="Mark 6:17" id="Mark-6-17">For Herod himself had sent out and arrested John, and bound him in prison for the sake of Herodias, his brother Philip&#8217;s wife, for he had married her.</span>
  <span class="verse" title="Mark 6:18" id="Mark-6-18">For John said to Herod, &#8220;It is not lawful for you to have your brother&#8217;s wife.&#8221;</span>
  <span class="verse" title="Mark 6:19" id="Mark-6-19">Herodias set herself against him, and desired to kill him, but she couldn&#8217;t,</span>
  <span class="verse" title="Mark 6:20" id="Mark-6-20">for Herod feared John, knowing that he was a righteous and holy man, and kept him safe. When he heard him, he did many things, and he heard him gladly.</span>
  <span class="verse" title="Mark 6:21" id="Mark-6-21">Then a convenient day came, that Herod on his birthday made a supper for his nobles, the high officers, and the chief men of Galilee.</span>
  <span class="verse" title="Mark 6:22" id="Mark-6-22">When the daughter of Herodias herself came in and danced, she pleased Herod and those sitting with him. The king said to the young lady, &#8220;Ask me whatever you want, and I will give it to you.&#8221;</span>
  <span class="verse" title="Mark 6:23" id="Mark-6-23">He swore to her, &#8220;Whatever you shall ask of me, I will give you, up to half of my kingdom.&#8221;</span>
  <span class="verse" title="Mark 6:24" id="Mark-6-24">She went out, and said to her mother, &#8220;What shall I ask?&#8221; She said, &#8220;The head of John the Baptizer.&#8221;</span>
  <span class="verse" title="Mark 6:25" id="Mark-6-25">She came in immediately with haste to the king, and asked, &#8220;I want you to give me right now the head of John the Baptizer on a platter.&#8221;</span>
  <span class="verse" title="Mark 6:26" id="Mark-6-26">The king was exceedingly sorry, but for the sake of his oaths, and of his dinner guests, he didn&#8217;t wish to refuse her.</span>
  <span class="verse" title="Mark 6:27" id="Mark-6-27">Immediately the king sent out a soldier of his guard, and commanded to bring John&#8217;s head, and he went and beheaded him in the prison,</span>
  <span class="verse" title="Mark 6:28" id="Mark-6-28">and brought his head on a platter, and gave it to the young lady; and the young lady gave it to her mother.</span>
  <span class="verse" title="Mark 6:29" id="Mark-6-29">When his disciples heard this, they came and took up his corpse, and laid it in a tomb.</span>
  <span class="verse" title="Mark 6:30" id="Mark-6-30">The apostles gathered themselves together to Jesus, and they told him all things, whatever they had done, and whatever they had taught.</span>
  <span class="verse" title="Mark 6:31" id="Mark-6-31">He said to them, &#8220;You come apart into a deserted place, and rest awhile.&#8221; For there were many coming and going, and they had no leisure so much as to eat.</span>
  <span class="verse" title="Mark 6:32" id="Mark-6-32">They went away in the boat to a deserted place by themselves.</span>
  <span class="verse" title="Mark 6:33" id="Mark-6-33">They saw them going, and many recognized him and ran there on foot from all the cities. They arrived before them and came together to him.</span>
  <span class="verse" title="Mark 6:34" id="Mark-6-34">Jesus came out, saw a great multitude, and he had compassion on them, because they were like sheep without a shepherd, and he began to teach them many things.</span>
  <span class="verse" title="Mark 6:35" id="Mark-6-35">When it was late in the day, his disciples came to him, and said, &#8220;This place is deserted, and it is late in the day.</span>
  <span class="verse" title="Mark 6:36" id="Mark-6-36">Send them away, that they may go into the surrounding country and villages, and buy themselves bread, for they have nothing to eat.&#8221;</span>
  <span class="verse" title="Mark 6:37" id="Mark-6-37">But he answered them, &#8220;You give them something to eat.&#8221; They asked him, &#8220;Shall we go and buy two hundred denarii worth of bread, and give them something to eat?&#8221;</span>
  <span class="verse" title="Mark 6:38" id="Mark-6-38">He said to them, &#8220;How many loaves do you have? Go see.&#8221; When they knew, they said, &#8220;Five, and two fish.&#8221;</span>
  <span class="verse" title="Mark 6:39" id="Mark-6-39">He commanded them that everyone should sit down in groups on the green grass.</span>
  <span class="verse" title="Mark 6:40" id="Mark-6-40">They sat down in ranks, by hundreds and by fifties.</span>
  <span class="verse" title="Mark 6:41" id="Mark-6-41">He took the five loaves and the two fish, and looking up to heaven, he blessed and broke the loaves, and he gave to his disciples to set before them, and he divided the two fish among them all.</span>
  <span class="verse" title="Mark 6:42" id="Mark-6-42">They all ate, and were filled.</span>
  <span class="verse" title="Mark 6:43" id="Mark-6-43">They took up twelve baskets full of broken pieces and also of the fish.</span>
  <span class="verse" title="Mark 6:44" id="Mark-6-44">Those who ate the loaves were five thousand men.</span>
  <span class="verse" title="Mark 6:45" id="Mark-6-45">Immediately he made his disciples get into the boat, and to go ahead to the other side, to Bethsaida, while he himself sent the multitude away.</span>
  <span class="verse" title="Mark 6:46" id="Mark-6-46">After he had taken leave of them, he went up the mountain to pray.</span>
  <span class="verse" title="Mark 6:47" id="Mark-6-47">When evening had come, the boat was in the midst of the sea, and he was alone on the land.</span>
  <span class="verse" title="Mark 6:48" id="Mark-6-48">Seeing them distressed in rowing, for the wind was contrary to them, about the fourth watch of the night he came to them, walking on the sea, and he would have passed by them,</span>
  <span class="verse" title="Mark 6:49" id="Mark-6-49">but they, when they saw him walking on the sea, supposed that it was a ghost, and cried out;</span>
  <span class="verse" title="Mark 6:50" id="Mark-6-50">for they all saw him, and were troubled. But he immediately spoke with them, and said to them, &#8220;Cheer up! It is I! Don&#8217;t be afraid.&#8221;</span>
  <span class="verse" title="Mark 6:51" id="Mark-6-51">He got into the boat with them; and the wind ceased, and they were very amazed among themselves, and marveled;</span>
  <span class="verse" title="Mark 6:52" id="Mark-6-52">for they hadn&#8217;t understood about the loaves, but their hearts were hardened.</span>
  <span class="verse" title="Mark 6:53" id="Mark-6-53">When they had crossed over, they came to land at Gennesaret, and moored to the shore.</span>
  <span class="verse" title="Mark 6:54" id="Mark-6-54">When they had come out of the boat, immediately the people recognized him,</span>
  <span class="verse" title="Mark 6:55" id="Mark-6-55">and ran around that whole region, and began to bring those who were sick, on their mats, to where they heard he was.</span>
  <span class="verse" title="Mark 6:56" id="Mark-6-56">Wherever he entered, into villages, or into cities, or into the country, they laid the sick in the marketplaces, and begged him that they might touch just the fringe of his garment; and as many as touched him were made well.</span>
</div>