<div class="chapter" id="Mark-007">
  <h2>Mark 7</h2>
  <span class="verse" title="Mark 7:1" id="Mark-7-1">Then the Pharisees, and some of the scribes gathered together to him, having come from Jerusalem.</span>
  <span class="verse" title="Mark 7:2" id="Mark-7-2">Now when they saw some of his disciples eating bread with defiled, that is, unwashed, hands, they found fault.</span>
  <span class="verse" title="Mark 7:3" id="Mark-7-3">(For the Pharisees, and all the Jews, don&#8217;t eat unless they wash their hands and forearms, holding to the tradition of the elders.</span>
  <span class="verse" title="Mark 7:4" id="Mark-7-4">They don&#8217;t eat when they come from the marketplace, unless they bathe themselves, and there are many other things, which they have received to hold to: washings of cups, pitchers, bronze vessels, and couches.)</span>
  <span class="verse" title="Mark 7:5" id="Mark-7-5">The Pharisees and the scribes asked him, &#8220;Why don&#8217;t your disciples walk according to the tradition of the elders, but eat their bread with unwashed hands?&#8221;</span>
  <span class="verse" title="Mark 7:6" id="Mark-7-6">He answered them, &#8220;Well did Isaiah prophesy of you hypocrites, as it is written,  &#8216;This people honors me with their lips,<br/> <span class="indent">&nbsp;&nbsp;</span>but their heart is far from me.<br/></span>
  <span class="verse" title="Mark 7:7" id="Mark-7-7">But in vain do they worship me,<br/> <span class="indent">&nbsp;&nbsp;</span>teaching as doctrines the commandments of men.&#8217;<br/></span>
  <span class="verse" title="Mark 7:8" id="Mark-7-8">&#8220;For you set aside the commandment of God, and hold tightly to the tradition of men—the washing of pitchers and cups, and you do many other such things.&#8221;</span>
  <span class="verse" title="Mark 7:9" id="Mark-7-9">He said to them, &#8220;Full well do you reject the commandment of God, that you may keep your tradition.</span>
  <span class="verse" title="Mark 7:10" id="Mark-7-10">For Moses said, &#8216;Honor your father and your mother;&#8217; and, &#8216;He who speaks evil of father or mother, let him be put to death.&#8217;</span>
  <span class="verse" title="Mark 7:11" id="Mark-7-11">But you say, &#8216;If a man tells his father or his mother, &#8220;Whatever profit you might have received from me is Corban, that is to say, given to God;&#8221;&#8217;</span>
  <span class="verse" title="Mark 7:12" id="Mark-7-12">then you no longer allow him to do anything for his father or his mother,</span>
  <span class="verse" title="Mark 7:13" id="Mark-7-13">making void the word of God by your tradition, which you have handed down. You do many things like this.&#8221;</span>
  <span class="verse" title="Mark 7:14" id="Mark-7-14">He called all the multitude to himself, and said to them, &#8220;Hear me, all of you, and understand.</span>
  <span class="verse" title="Mark 7:15" id="Mark-7-15">There is nothing from outside of the man, that going into him can defile him; but the things which proceed out of the man are those that defile the man.</span>
  <span class="verse" title="Mark 7:16" id="Mark-7-16">If anyone has ears to hear, let him hear!&#8221;</span>
  <span class="verse" title="Mark 7:17" id="Mark-7-17">When he had entered into a house away from the multitude, his disciples asked him about the parable.</span>
  <span class="verse" title="Mark 7:18" id="Mark-7-18">He said to them, &#8220;Are you thus without understanding also? Don&#8217;t you perceive that whatever goes into the man from outside can&#8217;t defile him,</span>
  <span class="verse" title="Mark 7:19" id="Mark-7-19">because it doesn&#8217;t go into his heart, but into his stomach, then into the latrine, thus purifying all foods?&#8221;</span>
  <span class="verse" title="Mark 7:20" id="Mark-7-20">He said, &#8220;That which proceeds out of the man, that defiles the man.</span>
  <span class="verse" title="Mark 7:21" id="Mark-7-21">For from within, out of the hearts of men, proceed evil thoughts, adulteries, sexual sins, murders, thefts,</span>
  <span class="verse" title="Mark 7:22" id="Mark-7-22">covetings, wickedness, deceit, lustful desires, an evil eye, blasphemy, pride, and foolishness.</span>
  <span class="verse" title="Mark 7:23" id="Mark-7-23">All these evil things come from within, and defile the man.&#8221;</span>
  <span class="verse" title="Mark 7:24" id="Mark-7-24">From there he arose, and went away into the borders of Tyre and Sidon. He entered into a house, and didn&#8217;t want anyone to know it, but he couldn&#8217;t escape notice.</span>
  <span class="verse" title="Mark 7:25" id="Mark-7-25">For a woman, whose little daughter had an unclean spirit, having heard of him, came and fell down at his feet.</span>
  <span class="verse" title="Mark 7:26" id="Mark-7-26">Now the woman was a Greek, a Syrophoenician by race. She begged him that he would cast the demon out of her daughter.</span>
  <span class="verse" title="Mark 7:27" id="Mark-7-27">But Jesus said to her, &#8220;Let the children be filled first, for it is not appropriate to take the children&#8217;s bread and throw it to the dogs.&#8221;</span>
  <span class="verse" title="Mark 7:28" id="Mark-7-28">But she answered him, &#8220;Yes, Lord. Yet even the dogs under the table eat the children&#8217;s crumbs.&#8221;</span>
  <span class="verse" title="Mark 7:29" id="Mark-7-29">He said to her, &#8220;For this saying, go your way. The demon has gone out of your daughter.&#8221;</span>
  <span class="verse" title="Mark 7:30" id="Mark-7-30">She went away to her house, and found the child having been laid on the bed, with the demon gone out.</span>
  <span class="verse" title="Mark 7:31" id="Mark-7-31">Again he departed from the borders of Tyre and Sidon, and came to the sea of Galilee, through the midst of the region of Decapolis.</span>
  <span class="verse" title="Mark 7:32" id="Mark-7-32">They brought to him one who was deaf and had an impediment in his speech. They begged him to lay his hand on him.</span>
  <span class="verse" title="Mark 7:33" id="Mark-7-33">He took him aside from the multitude, privately, and put his fingers into his ears, and he spat, and touched his tongue.</span>
  <span class="verse" title="Mark 7:34" id="Mark-7-34">Looking up to heaven, he sighed, and said to him, &#8220;Ephphatha!&#8221; that is, &#8220;Be opened!&#8221;</span>
  <span class="verse" title="Mark 7:35" id="Mark-7-35">Immediately his ears were opened, and the impediment of his tongue was released, and he spoke clearly.</span>
  <span class="verse" title="Mark 7:36" id="Mark-7-36">He commanded them that they should tell no one, but the more he commanded them, so much the more widely they proclaimed it.</span>
  <span class="verse" title="Mark 7:37" id="Mark-7-37">They were astonished beyond measure, saying, &#8220;He has done all things well. He makes even the deaf hear, and the mute speak!&#8221;</span>
</div>