<div class="chapter" id="Mark-008">
  <h2>Mark 8</h2>
  <span class="verse" title="Mark 8:1" id="Mark-8-1">In those days, when there was a very great multitude, and they had nothing to eat, Jesus called his disciples to himself, and said to them,</span>
  <span class="verse" title="Mark 8:2" id="Mark-8-2">&#8220;I have compassion on the multitude, because they have stayed with me now three days, and have nothing to eat.</span>
  <span class="verse" title="Mark 8:3" id="Mark-8-3">If I send them away fasting to their home, they will faint on the way, for some of them have come a long way.&#8221;</span>
  <span class="verse" title="Mark 8:4" id="Mark-8-4">His disciples answered him, &#8220;From where could one satisfy these people with bread here in a deserted place?&#8221;</span>
  <span class="verse" title="Mark 8:5" id="Mark-8-5">He asked them, &#8220;How many loaves do you have?&#8221; They said, &#8220;Seven.&#8221;</span>
  <span class="verse" title="Mark 8:6" id="Mark-8-6">He commanded the multitude to sit down on the ground, and he took the seven loaves. Having given thanks, he broke them, and gave them to his disciples to serve, and they served the multitude.</span>
  <span class="verse" title="Mark 8:7" id="Mark-8-7">They had a few small fish. Having blessed them, he said to serve these also.</span>
  <span class="verse" title="Mark 8:8" id="Mark-8-8">They ate, and were filled. They took up seven baskets of broken pieces that were left over.</span>
  <span class="verse" title="Mark 8:9" id="Mark-8-9">Those who had eaten were about four thousand. Then he sent them away.</span>
  <span class="verse" title="Mark 8:10" id="Mark-8-10">Immediately he entered into the boat with his disciples, and came into the region of Dalmanutha.</span>
  <span class="verse" title="Mark 8:11" id="Mark-8-11">The Pharisees came out and began to question him, seeking from him a sign from heaven, and testing him.</span>
  <span class="verse" title="Mark 8:12" id="Mark-8-12">He sighed deeply in his spirit, and said, &#8220;Why does this generation seek a sign? Most certainly I tell you, no sign will be given to this generation.&#8221;</span>
  <span class="verse" title="Mark 8:13" id="Mark-8-13">He left them, and again entering into the boat, departed to the other side.</span>
  <span class="verse" title="Mark 8:14" id="Mark-8-14">They forgot to take bread; and they didn&#8217;t have more than one loaf in the boat with them.</span>
  <span class="verse" title="Mark 8:15" id="Mark-8-15">He warned them, saying, &#8220;Take heed: beware of the yeast of the Pharisees and the yeast of Herod.&#8221;</span>
  <span class="verse" title="Mark 8:16" id="Mark-8-16">They reasoned with one another, saying, &#8220;It&#8217;s because we have no bread.&#8221;</span>
  <span class="verse" title="Mark 8:17" id="Mark-8-17">Jesus, perceiving it, said to them, &#8220;Why do you reason that it&#8217;s because you have no bread? Don&#8217;t you perceive yet, neither understand? Is your heart still hardened?</span>
  <span class="verse" title="Mark 8:18" id="Mark-8-18">Having eyes, don&#8217;t you see? Having ears, don&#8217;t you hear? Don&#8217;t you remember?</span>
  <span class="verse" title="Mark 8:19" id="Mark-8-19">When I broke the five loaves among the five thousand, how many baskets full of broken pieces did you take up?&#8221; They told him, &#8220;Twelve.&#8221;</span>
  <span class="verse" title="Mark 8:20" id="Mark-8-20">&#8220;When the seven loaves fed the four thousand, how many baskets full of broken pieces did you take up?&#8221; They told him, &#8220;Seven.&#8221;</span>
  <span class="verse" title="Mark 8:21" id="Mark-8-21">He asked them, &#8220;Don&#8217;t you understand, yet?&#8221;</span>
  <span class="verse" title="Mark 8:22" id="Mark-8-22">He came to Bethsaida. They brought a blind man to him, and begged him to touch him.</span>
  <span class="verse" title="Mark 8:23" id="Mark-8-23">He took hold of the blind man by the hand, and brought him out of the village. When he had spit on his eyes, and laid his hands on him, he asked him if he saw anything.</span>
  <span class="verse" title="Mark 8:24" id="Mark-8-24">He looked up, and said, &#8220;I see men; for I see them like trees walking.&#8221;</span>
  <span class="verse" title="Mark 8:25" id="Mark-8-25">Then again he laid his hands on his eyes. He looked intently, and was restored, and saw everyone clearly.</span>
  <span class="verse" title="Mark 8:26" id="Mark-8-26">He sent him away to his house, saying, &#8220;Don&#8217;t enter into the village, nor tell anyone in the village.&#8221;</span>
  <span class="verse" title="Mark 8:27" id="Mark-8-27">Jesus went out, with his disciples, into the villages of Caesarea Philippi. On the way he asked his disciples, &#8220;Who do men say that I am?&#8221;</span>
  <span class="verse" title="Mark 8:28" id="Mark-8-28">They told him, &#8220;John the Baptizer, and others say Elijah, but others: one of the prophets.&#8221;</span>
  <span class="verse" title="Mark 8:29" id="Mark-8-29">He said to them, &#8220;But who do you say that I am?&#8221; Peter answered, &#8220;You are the Christ.&#8221;</span>
  <span class="verse" title="Mark 8:30" id="Mark-8-30">He commanded them that they should tell no one about him.</span>
  <span class="verse" title="Mark 8:31" id="Mark-8-31">He began to teach them that the Son of Man must suffer many things, and be rejected by the elders, the chief priests, and the scribes, and be killed, and after three days rise again.</span>
  <span class="verse" title="Mark 8:32" id="Mark-8-32">He spoke to them openly. Peter took him, and began to rebuke him.</span>
  <span class="verse" title="Mark 8:33" id="Mark-8-33">But he, turning around, and seeing his disciples, rebuked Peter, and said, &#8220;Get behind me, Satan! For you have in mind not the things of God, but the things of men.&#8221;</span>
  <span class="verse" title="Mark 8:34" id="Mark-8-34">He called the multitude to himself with his disciples, and said to them, &#8220;Whoever wants to come after me, let him deny himself, and take up his cross, and follow me.</span>
  <span class="verse" title="Mark 8:35" id="Mark-8-35">For whoever wants to save his life will lose it; and whoever will lose his life for my sake and the sake of the Good News will save it.</span>
  <span class="verse" title="Mark 8:36" id="Mark-8-36">For what does it profit a man, to gain the whole world, and forfeit his life?</span>
  <span class="verse" title="Mark 8:37" id="Mark-8-37">For what will a man give in exchange for his life?</span>
  <span class="verse" title="Mark 8:38" id="Mark-8-38">For whoever will be ashamed of me and of my words in this adulterous and sinful generation, the Son of Man also will be ashamed of him, when he comes in the glory of his Father with the holy angels.&#8221;</span>
</div>