<div class="chapter" id="Mark-009">
  <h2>Mark 9</h2>
  <span class="verse" title="Mark 9:1" id="Mark-9-1">He said to them, &#8220;Most certainly I tell you, there are some standing here who will in no way taste death until they see the Kingdom of God come with power.&#8221;</span>
  <span class="verse" title="Mark 9:2" id="Mark-9-2">After six days Jesus took with him Peter, James, and John, and brought them up onto a high mountain privately by themselves, and he was changed into another form in front of them.</span>
  <span class="verse" title="Mark 9:3" id="Mark-9-3">His clothing became glistening, exceedingly white, like snow, such as no launderer on earth can whiten them.</span>
  <span class="verse" title="Mark 9:4" id="Mark-9-4">Elijah and Moses appeared to them, and they were talking with Jesus.</span>
  <span class="verse" title="Mark 9:5" id="Mark-9-5">Peter answered Jesus, &#8220;Rabbi, it is good for us to be here. Let&#8217;s make three tents: one for you, one for Moses, and one for Elijah.&#8221;</span>
  <span class="verse" title="Mark 9:6" id="Mark-9-6">For he didn&#8217;t know what to say, for they were very afraid.</span>
  <span class="verse" title="Mark 9:7" id="Mark-9-7">A cloud came, overshadowing them, and a voice came out of the cloud, &#8220;This is my beloved Son. Listen to him.&#8221;</span>
  <span class="verse" title="Mark 9:8" id="Mark-9-8">Suddenly looking around, they saw no one with them any more, except Jesus only.</span>
  <span class="verse" title="Mark 9:9" id="Mark-9-9">As they were coming down from the mountain, he commanded them that they should tell no one what things they had seen, until after the Son of Man had risen from the dead.</span>
  <span class="verse" title="Mark 9:10" id="Mark-9-10">They kept this saying to themselves, questioning what the &#8220;rising from the dead&#8221; meant.</span>
  <span class="verse" title="Mark 9:11" id="Mark-9-11">They asked him, saying, &#8220;Why do the scribes say that Elijah must come first?&#8221;</span>
  <span class="verse" title="Mark 9:12" id="Mark-9-12">He said to them, &#8220;Elijah indeed comes first, and restores all things. How is it written about the Son of Man, that he should suffer many things and be despised?</span>
  <span class="verse" title="Mark 9:13" id="Mark-9-13">But I tell you that Elijah has come, and they have also done to him whatever they wanted to, even as it is written about him.&#8221;</span>
  <span class="verse" title="Mark 9:14" id="Mark-9-14">Coming to the disciples, he saw a great multitude around them, and scribes questioning them.</span>
  <span class="verse" title="Mark 9:15" id="Mark-9-15">Immediately all the multitude, when they saw him, were greatly amazed, and running to him greeted him.</span>
  <span class="verse" title="Mark 9:16" id="Mark-9-16">He asked the scribes, &#8220;What are you asking them?&#8221;</span>
  <span class="verse" title="Mark 9:17" id="Mark-9-17">One of the multitude answered, &#8220;Teacher, I brought to you my son, who has a mute spirit;</span>
  <span class="verse" title="Mark 9:18" id="Mark-9-18">and wherever it seizes him, it throws him down, and he foams at the mouth, and grinds his teeth, and wastes away. I asked your disciples to cast it out, and they weren&#8217;t able.&#8221;</span>
  <span class="verse" title="Mark 9:19" id="Mark-9-19">He answered him, &#8220;Unbelieving generation, how long shall I be with you? How long shall I bear with you? Bring him to me.&#8221;</span>
  <span class="verse" title="Mark 9:20" id="Mark-9-20">They brought him to him, and when he saw him, immediately the spirit convulsed him, and he fell on the ground, wallowing and foaming at the mouth.</span>
  <span class="verse" title="Mark 9:21" id="Mark-9-21">He asked his father, &#8220;How long has it been since this has come to him?&#8221; He said, &#8220;From childhood.</span>
  <span class="verse" title="Mark 9:22" id="Mark-9-22">Often it has cast him both into the fire and into the water, to destroy him. But if you can do anything, have compassion on us, and help us.&#8221;</span>
  <span class="verse" title="Mark 9:23" id="Mark-9-23">Jesus said to him, &#8220;If you can believe, all things are possible to him who believes.&#8221;</span>
  <span class="verse" title="Mark 9:24" id="Mark-9-24">Immediately the father of the child cried out with tears, &#8220;I believe. Help my unbelief!&#8221;</span>
  <span class="verse" title="Mark 9:25" id="Mark-9-25">When Jesus saw that a multitude came running together, he rebuked the unclean spirit, saying to him, &#8220;You mute and deaf spirit, I command you, come out of him, and never enter him again!&#8221;</span>
  <span class="verse" title="Mark 9:26" id="Mark-9-26">Having cried out, and convulsed greatly, it came out of him. The boy became like one dead; so much that most of them said, &#8220;He is dead.&#8221;</span>
  <span class="verse" title="Mark 9:27" id="Mark-9-27">But Jesus took him by the hand, and raised him up; and he arose.</span>
  <span class="verse" title="Mark 9:28" id="Mark-9-28">When he had come into the house, his disciples asked him privately, &#8220;Why couldn&#8217;t we cast it out?&#8221;</span>
  <span class="verse" title="Mark 9:29" id="Mark-9-29">He said to them, &#8220;This kind can come out by nothing, except by prayer and fasting.&#8221;</span>
  <span class="verse" title="Mark 9:30" id="Mark-9-30">They went out from there, and passed through Galilee. He didn&#8217;t want anyone to know it.</span>
  <span class="verse" title="Mark 9:31" id="Mark-9-31">For he was teaching his disciples, and said to them, &#8220;The Son of Man is being handed over to the hands of men, and they will kill him; and when he is killed, on the third day he will rise again.&#8221;</span>
  <span class="verse" title="Mark 9:32" id="Mark-9-32">But they didn&#8217;t understand the saying, and were afraid to ask him.</span>
  <span class="verse" title="Mark 9:33" id="Mark-9-33">He came to Capernaum, and when he was in the house he asked them, &#8220;What were you arguing among yourselves on the way?&#8221;</span>
  <span class="verse" title="Mark 9:34" id="Mark-9-34">But they were silent, for they had disputed one with another on the way about who was the greatest.</span>
  <span class="verse" title="Mark 9:35" id="Mark-9-35">He sat down, and called the twelve; and he said to them, &#8220;If any man wants to be first, he shall be last of all, and servant of all.&#8221;</span>
  <span class="verse" title="Mark 9:36" id="Mark-9-36">He took a little child, and set him in their midst. Taking him in his arms, he said to them,</span>
  <span class="verse" title="Mark 9:37" id="Mark-9-37">&#8220;Whoever receives one such little child in my name, receives me, and whoever receives me, doesn&#8217;t receive me, but him who sent me.&#8221;</span>
  <span class="verse" title="Mark 9:38" id="Mark-9-38">John said to him, &#8220;Teacher, we saw someone who doesn&#8217;t follow us casting out demons in your name; and we forbade him, because he doesn&#8217;t follow us.&#8221;</span>
  <span class="verse" title="Mark 9:39" id="Mark-9-39">But Jesus said, &#8220;Don&#8217;t forbid him, for there is no one who will do a mighty work in my name, and be able quickly to speak evil of me.</span>
  <span class="verse" title="Mark 9:40" id="Mark-9-40">For whoever is not against us is on our side.</span>
  <span class="verse" title="Mark 9:41" id="Mark-9-41">For whoever will give you a cup of water to drink in my name, because you are Christ&#8217;s, most certainly I tell you, he will in no way lose his reward.</span>
  <span class="verse" title="Mark 9:42" id="Mark-9-42">Whoever will cause one of these little ones who believe in me to stumble, it would be better for him if he were thrown into the sea with a millstone hung around his neck.</span>
  <span class="verse" title="Mark 9:43" id="Mark-9-43">If your hand causes you to stumble, cut it off. It is better for you to enter into life maimed, rather than having your two hands to go into Gehenna, into the unquenchable fire,</span>
  <span class="verse" title="Mark 9:44" id="Mark-9-44">&#8216;where their worm doesn&#8217;t die, and the fire is not quenched.&#8217;</span>
  <span class="verse" title="Mark 9:45" id="Mark-9-45">If your foot causes you to stumble, cut it off. It is better for you to enter into life lame, rather than having your two feet to be cast into Gehenna, into the fire that will never be quenched—</span>
  <span class="verse" title="Mark 9:46" id="Mark-9-46">&#8216;where their worm doesn&#8217;t die, and the fire is not quenched.&#8217;</span>
  <span class="verse" title="Mark 9:47" id="Mark-9-47">If your eye causes you to stumble, cast it out. It is better for you to enter into the Kingdom of God with one eye, rather than having two eyes to be cast into the Gehenna of fire,</span>
  <span class="verse" title="Mark 9:48" id="Mark-9-48">&#8216;where their worm doesn&#8217;t die, and the fire is not quenched.&#8217;</span>
  <span class="verse" title="Mark 9:49" id="Mark-9-49">For everyone will be salted with fire, and every sacrifice will be seasoned with salt.</span>
  <span class="verse" title="Mark 9:50" id="Mark-9-50">Salt is good, but if the salt has lost its saltiness, with what will you season it? Have salt in yourselves, and be at peace with one another.&#8221;</span>
</div>