<div class="chapter" id="Mark-010">
  <h2>Mark 10</h2>
  <span class="verse" title="Mark 10:1" id="Mark-10-1">He arose from there and came into the borders of Judea and beyond the Jordan. Multitudes came together to him again. As he usually did, he was again teaching them.</span>
  <span class="verse" title="Mark 10:2" id="Mark-10-2">Pharisees came to him testing him, and asked him, &#8220;Is it lawful for a man to divorce his wife?&#8221;</span>
  <span class="verse" title="Mark 10:3" id="Mark-10-3">He answered, &#8220;What did Moses command you?&#8221;</span>
  <span class="verse" title="Mark 10:4" id="Mark-10-4">They said, &#8220;Moses allowed a certificate of divorce to be written, and to divorce her.&#8221;</span>
  <span class="verse" title="Mark 10:5" id="Mark-10-5">But Jesus said to them, &#8220;For your hardness of heart, he wrote you this commandment.</span>
  <span class="verse" title="Mark 10:6" id="Mark-10-6">But from the beginning of the creation, God made them male and female.</span>
  <span class="verse" title="Mark 10:7" id="Mark-10-7">For this cause a man will leave his father and mother, and will join to his wife,</span>
  <span class="verse" title="Mark 10:8" id="Mark-10-8">and the two will become one flesh, so that they are no longer two, but one flesh.</span>
  <span class="verse" title="Mark 10:9" id="Mark-10-9">What therefore God has joined together, let no man separate.&#8221;</span>
  <span class="verse" title="Mark 10:10" id="Mark-10-10">In the house, his disciples asked him again about the same matter.</span>
  <span class="verse" title="Mark 10:11" id="Mark-10-11">He said to them, &#8220;Whoever divorces his wife, and marries another, commits adultery against her.</span>
  <span class="verse" title="Mark 10:12" id="Mark-10-12">If a woman herself divorces her husband, and marries another, she commits adultery.&#8221;</span>
  <span class="verse" title="Mark 10:13" id="Mark-10-13">They were bringing to him little children, that he should touch them, but the disciples rebuked those who were bringing them.</span>
  <span class="verse" title="Mark 10:14" id="Mark-10-14">But when Jesus saw it, he was moved with indignation, and said to them, &#8220;Allow the little children to come to me! Don&#8217;t forbid them, for the Kingdom of God belongs to such as these.</span>
  <span class="verse" title="Mark 10:15" id="Mark-10-15">Most certainly I tell you, whoever will not receive the Kingdom of God like a little child, he will in no way enter into it.&#8221;</span>
  <span class="verse" title="Mark 10:16" id="Mark-10-16">He took them in his arms, and blessed them, laying his hands on them.</span>
  <span class="verse" title="Mark 10:17" id="Mark-10-17">As he was going out into the way, one ran to him, knelt before him, and asked him, &#8220;Good Teacher, what shall I do that I may inherit eternal life?&#8221;</span>
  <span class="verse" title="Mark 10:18" id="Mark-10-18">Jesus said to him, &#8220;Why do you call me good? No one is good except one—God.</span>
  <span class="verse" title="Mark 10:19" id="Mark-10-19">You know the commandments: &#8216;Do not murder,&#8217; &#8216;Do not commit adultery,&#8217; &#8216;Do not steal,&#8217; &#8216;Do not give false testimony,&#8217; &#8216;Do not defraud,&#8217; &#8216;Honor your father and mother.&#8217;&#8221;</span>
  <span class="verse" title="Mark 10:20" id="Mark-10-20">He said to him, &#8220;Teacher, I have observed all these things from my youth.&#8221;</span>
  <span class="verse" title="Mark 10:21" id="Mark-10-21">Jesus looking at him loved him, and said to him, &#8220;One thing you lack. Go, sell whatever you have, and give to the poor, and you will have treasure in heaven; and come, follow me, taking up the cross.&#8221;</span>
  <span class="verse" title="Mark 10:22" id="Mark-10-22">But his face fell at that saying, and he went away sorrowful, for he was one who had great possessions.</span>
  <span class="verse" title="Mark 10:23" id="Mark-10-23">Jesus looked around, and said to his disciples, &#8220;How difficult it is for those who have riches to enter into the Kingdom of God!&#8221;</span>
  <span class="verse" title="Mark 10:24" id="Mark-10-24">The disciples were amazed at his words. But Jesus answered again, &#8220;Children, how hard is it for those who trust in riches to enter into the Kingdom of God!</span>
  <span class="verse" title="Mark 10:25" id="Mark-10-25">It is easier for a camel to go through a needle&#8217;s eye than for a rich man to enter into the Kingdom of God.&#8221;</span>
  <span class="verse" title="Mark 10:26" id="Mark-10-26">They were exceedingly astonished, saying to him, &#8220;Then who can be saved?&#8221;</span>
  <span class="verse" title="Mark 10:27" id="Mark-10-27">Jesus, looking at them, said, &#8220;With men it is impossible, but not with God, for all things are possible with God.&#8221;</span>
  <span class="verse" title="Mark 10:28" id="Mark-10-28">Peter began to tell him, &#8220;Behold, we have left all, and have followed you.&#8221;</span>
  <span class="verse" title="Mark 10:29" id="Mark-10-29">Jesus said, &#8220;Most certainly I tell you, there is no one who has left house, or brothers, or sisters, or father, or mother, or wife, or children, or land, for my sake, and for the sake of the Good News,</span>
  <span class="verse" title="Mark 10:30" id="Mark-10-30">but he will receive one hundred times more now in this time, houses, brothers, sisters, mothers, children, and land, with persecutions; and in the age to come eternal life.</span>
  <span class="verse" title="Mark 10:31" id="Mark-10-31">But many who are first will be last; and the last first.&#8221;</span>
  <span class="verse" title="Mark 10:32" id="Mark-10-32">They were on the way, going up to Jerusalem; and Jesus was going in front of them, and they were amazed; and those who followed were afraid. He again took the twelve, and began to tell them the things that were going to happen to him.</span>
  <span class="verse" title="Mark 10:33" id="Mark-10-33">&#8220;Behold, we are going up to Jerusalem. The Son of Man will be delivered to the chief priests and the scribes. They will condemn him to death, and will deliver him to the Gentiles.</span>
  <span class="verse" title="Mark 10:34" id="Mark-10-34">They will mock him, spit on him, scourge him, and kill him. On the third day he will rise again.&#8221;</span>
  <span class="verse" title="Mark 10:35" id="Mark-10-35">James and John, the sons of Zebedee, came near to him, saying, &#8220;Teacher, we want you to do for us whatever we will ask.&#8221;</span>
  <span class="verse" title="Mark 10:36" id="Mark-10-36">He said to them, &#8220;What do you want me to do for you?&#8221;</span>
  <span class="verse" title="Mark 10:37" id="Mark-10-37">They said to him, &#8220;Grant to us that we may sit, one at your right hand, and one at your left hand, in your glory.&#8221;</span>
  <span class="verse" title="Mark 10:38" id="Mark-10-38">But Jesus said to them, &#8220;You don&#8217;t know what you are asking. Are you able to drink the cup that I drink, and to be baptized with the baptism that I am baptized with?&#8221;</span>
  <span class="verse" title="Mark 10:39" id="Mark-10-39">They said to him, &#8220;We are able.&#8221; Jesus said to them, &#8220;You shall indeed drink the cup that I drink, and you shall be baptized with the baptism that I am baptized with;</span>
  <span class="verse" title="Mark 10:40" id="Mark-10-40">but to sit at my right hand and at my left hand is not mine to give, but for whom it has been prepared.&#8221;</span>
  <span class="verse" title="Mark 10:41" id="Mark-10-41">When the ten heard it, they began to be indignant towards James and John.</span>
  <span class="verse" title="Mark 10:42" id="Mark-10-42">Jesus summoned them, and said to them, &#8220;You know that they who are recognized as rulers over the nations lord it over them, and their great ones exercise authority over them.</span>
  <span class="verse" title="Mark 10:43" id="Mark-10-43">But it shall not be so among you, but whoever wants to become great among you shall be your servant.</span>
  <span class="verse" title="Mark 10:44" id="Mark-10-44">Whoever of you wants to become first among you, shall be bondservant of all.</span>
  <span class="verse" title="Mark 10:45" id="Mark-10-45">For the Son of Man also came not to be served, but to serve, and to give his life as a ransom for many.&#8221;</span>
  <span class="verse" title="Mark 10:46" id="Mark-10-46">They came to Jericho. As he went out from Jericho, with his disciples and a great multitude, the son of Timaeus, Bartimaeus, a blind beggar, was sitting by the road.</span>
  <span class="verse" title="Mark 10:47" id="Mark-10-47">When he heard that it was Jesus the Nazarene, he began to cry out, and say, &#8220;Jesus, you son of David, have mercy on me!&#8221;</span>
  <span class="verse" title="Mark 10:48" id="Mark-10-48">Many rebuked him, that he should be quiet, but he cried out much more, &#8220;You son of David, have mercy on me!&#8221;</span>
  <span class="verse" title="Mark 10:49" id="Mark-10-49">Jesus stood still, and said, &#8220;Call him.&#8221; They called the blind man, saying to him, &#8220;Cheer up! Get up. He is calling you!&#8221;</span>
  <span class="verse" title="Mark 10:50" id="Mark-10-50">He, casting away his cloak, sprang up, and came to Jesus.</span>
  <span class="verse" title="Mark 10:51" id="Mark-10-51">Jesus asked him, &#8220;What do you want me to do for you?&#8221; The blind man said to him, &#8220;Rabboni, that I may see again.&#8221;</span>
  <span class="verse" title="Mark 10:52" id="Mark-10-52">Jesus said to him, &#8220;Go your way. Your faith has made you well.&#8221; Immediately he received his sight, and followed Jesus in the way.</span>
</div>