<div class="chapter" id="Mark-011">
  <h2>Mark 11</h2>
  <span class="verse" title="Mark 11:1" id="Mark-11-1">When they drew near to Jerusalem, to Bethsphage and Bethany, at the Mount of Olives, he sent two of his disciples,</span>
  <span class="verse" title="Mark 11:2" id="Mark-11-2">and said to them, &#8220;Go your way into the village that is opposite you. Immediately as you enter into it, you will find a young donkey tied, on which no one has sat. Untie him, and bring him.</span>
  <span class="verse" title="Mark 11:3" id="Mark-11-3">If anyone asks you, &#8216;Why are you doing this?&#8217; say, &#8216;The Lord needs him;&#8217; and immediately he will send him back here.&#8221;</span>
  <span class="verse" title="Mark 11:4" id="Mark-11-4">They went away, and found a young donkey tied at the door outside in the open street, and they untied him.</span>
  <span class="verse" title="Mark 11:5" id="Mark-11-5">Some of those who stood there asked them, &#8220;What are you doing, untying the young donkey?&#8221;</span>
  <span class="verse" title="Mark 11:6" id="Mark-11-6">They said to them just as Jesus had said, and they let them go.</span>
  <span class="verse" title="Mark 11:7" id="Mark-11-7">They brought the young donkey to Jesus, and threw their garments on it, and Jesus sat on it.</span>
  <span class="verse" title="Mark 11:8" id="Mark-11-8">Many spread their garments on the way, and others were cutting down branches from the trees, and spreading them on the road.</span>
  <span class="verse" title="Mark 11:9" id="Mark-11-9">Those who went in front, and those who followed, cried out, &#8220;Hosanna! Blessed is he who comes in the name of the Lord!</span>
  <span class="verse" title="Mark 11:10" id="Mark-11-10">Blessed is the kingdom of our father David that is coming in the name of the Lord! Hosanna in the highest!&#8221;</span>
  <span class="verse" title="Mark 11:11" id="Mark-11-11">Jesus entered into the temple in Jerusalem. When he had looked around at everything, it being now evening, he went out to Bethany with the twelve.</span>
  <span class="verse" title="Mark 11:12" id="Mark-11-12">The next day, when they had come out from Bethany, he was hungry.</span>
  <span class="verse" title="Mark 11:13" id="Mark-11-13">Seeing a fig tree afar off having leaves, he came to see if perhaps he might find anything on it. When he came to it, he found nothing but leaves, for it was not the season for figs.</span>
  <span class="verse" title="Mark 11:14" id="Mark-11-14">Jesus told it, &#8220;May no one ever eat fruit from you again!&#8221; and his disciples heard it.</span>
  <span class="verse" title="Mark 11:15" id="Mark-11-15">They came to Jerusalem, and Jesus entered into the temple, and began to throw out those who sold and those who bought in the temple, and overthrew the tables of the money changers, and the seats of those who sold the doves.</span>
  <span class="verse" title="Mark 11:16" id="Mark-11-16">He would not allow anyone to carry a container through the temple.</span>
  <span class="verse" title="Mark 11:17" id="Mark-11-17">He taught, saying to them, &#8220;Isn&#8217;t it written, &#8216;My house will be called a house of prayer for all the nations?&#8217; But you have made it a den of robbers!&#8221;</span>
  <span class="verse" title="Mark 11:18" id="Mark-11-18">The chief priests and the scribes heard it, and sought how they might destroy him. For they feared him, because all the multitude was astonished at his teaching.</span>
  <span class="verse" title="Mark 11:19" id="Mark-11-19">When evening came, he went out of the city.</span>
  <span class="verse" title="Mark 11:20" id="Mark-11-20">As they passed by in the morning, they saw the fig tree withered away from the roots.</span>
  <span class="verse" title="Mark 11:21" id="Mark-11-21">Peter, remembering, said to him, &#8220;Rabbi, look! The fig tree which you cursed has withered away.&#8221;</span>
  <span class="verse" title="Mark 11:22" id="Mark-11-22">Jesus answered them, &#8220;Have faith in God.</span>
  <span class="verse" title="Mark 11:23" id="Mark-11-23">For most certainly I tell you, whoever may tell this mountain, &#8216;Be taken up and cast into the sea,&#8217; and doesn&#8217;t doubt in his heart, but believes that what he says is happening; he shall have whatever he says.</span>
  <span class="verse" title="Mark 11:24" id="Mark-11-24">Therefore I tell you, all things whatever you pray and ask for, believe that you have received them, and you shall have them.</span>
  <span class="verse" title="Mark 11:25" id="Mark-11-25">Whenever you stand praying, forgive, if you have anything against anyone; so that your Father, who is in heaven, may also forgive you your transgressions.</span>
  <span class="verse" title="Mark 11:26" id="Mark-11-26">But if you do not forgive, neither will your Father in heaven forgive your transgressions.&#8221;</span>
  <span class="verse" title="Mark 11:27" id="Mark-11-27">They came again to Jerusalem, and as he was walking in the temple, the chief priests, and the scribes, and the elders came to him,</span>
  <span class="verse" title="Mark 11:28" id="Mark-11-28">and they began saying to him, &#8220;By what authority do you do these things? Or who gave you this authority to do these things?&#8221;</span>
  <span class="verse" title="Mark 11:29" id="Mark-11-29">Jesus said to them, &#8220;I will ask you one question. Answer me, and I will tell you by what authority I do these things.</span>
  <span class="verse" title="Mark 11:30" id="Mark-11-30">The baptism of John—was it from heaven, or from men? Answer me.&#8221;</span>
  <span class="verse" title="Mark 11:31" id="Mark-11-31">They reasoned with themselves, saying, &#8220;If we should say, &#8216;From heaven;&#8217; he will say, &#8216;Why then did you not believe him?&#8217;</span>
  <span class="verse" title="Mark 11:32" id="Mark-11-32">If we should say, &#8216;From men&#8217;&#8221;—they feared the people, for all held John to really be a prophet.</span>
  <span class="verse" title="Mark 11:33" id="Mark-11-33">They answered Jesus, &#8220;We don&#8217;t know.&#8221; Jesus said to them, &#8220;Neither do I tell you by what authority I do these things.&#8221;</span>
</div>