<div class="chapter" id="Mark-012">
  <h2>Mark 12</h2>
  <span class="verse" title="Mark 12:1" id="Mark-12-1">He began to speak to them in parables. &#8220;A man planted a vineyard, put a hedge around it, dug a pit for the winepress, built a tower, rented it out to a farmer, and went into another country.</span>
  <span class="verse" title="Mark 12:2" id="Mark-12-2">When it was time, he sent a servant to the farmer to get from the farmer his share of the fruit of the vineyard.</span>
  <span class="verse" title="Mark 12:3" id="Mark-12-3">They took him, beat him, and sent him away empty.</span>
  <span class="verse" title="Mark 12:4" id="Mark-12-4">Again, he sent another servant to them; and they threw stones at him, wounded him in the head, and sent him away shamefully treated.</span>
  <span class="verse" title="Mark 12:5" id="Mark-12-5">Again he sent another; and they killed him; and many others, beating some, and killing some.</span>
  <span class="verse" title="Mark 12:6" id="Mark-12-6">Therefore still having one, his beloved son, he sent him last to them, saying, &#8216;They will respect my son.&#8217;</span>
  <span class="verse" title="Mark 12:7" id="Mark-12-7">But those farmers said among themselves, &#8216;This is the heir. Come, let&#8217;s kill him, and the inheritance will be ours.&#8217;</span>
  <span class="verse" title="Mark 12:8" id="Mark-12-8">They took him, killed him, and cast him out of the vineyard.</span>
  <span class="verse" title="Mark 12:9" id="Mark-12-9">What therefore will the lord of the vineyard do? He will come and destroy the farmers, and will give the vineyard to others.</span>
  <span class="verse" title="Mark 12:10" id="Mark-12-10">Haven&#8217;t you even read this Scripture:  &#8216;The stone which the builders rejected,<br/> <span class="indent">&nbsp;&nbsp;</span>the same was made the head of the corner.<br/></span>
  <span class="verse" title="Mark 12:11" id="Mark-12-11">This was from the Lord,<br/> <span class="indent">&nbsp;&nbsp;</span>it is marvelous in our eyes&#8217;?&#8221;<br/></span>
  <span class="verse" title="Mark 12:12" id="Mark-12-12">They tried to seize him, but they feared the multitude; for they perceived that he spoke the parable against them. They left him, and went away.</span>
  <span class="verse" title="Mark 12:13" id="Mark-12-13">They sent some of the Pharisees and of the Herodians to him, that they might trap him with words.</span>
  <span class="verse" title="Mark 12:14" id="Mark-12-14">When they had come, they asked him, &#8220;Teacher, we know that you are honest, and don&#8217;t defer to anyone; for you aren&#8217;t partial to anyone, but truly teach the way of God. Is it lawful to pay taxes to Caesar, or not?</span>
  <span class="verse" title="Mark 12:15" id="Mark-12-15">Shall we give, or shall we not give?&#8221; But he, knowing their hypocrisy, said to them, &#8220;Why do you test me? Bring me a denarius, that I may see it.&#8221;</span>
  <span class="verse" title="Mark 12:16" id="Mark-12-16">They brought it. He said to them, &#8220;Whose is this image and inscription?&#8221; They said to him, &#8220;Caesar&#8217;s.&#8221;</span>
  <span class="verse" title="Mark 12:17" id="Mark-12-17">Jesus answered them, &#8220;Render to Caesar the things that are Caesar&#8217;s, and to God the things that are God&#8217;s.&#8221; They marveled greatly at him.</span>
  <span class="verse" title="Mark 12:18" id="Mark-12-18">There came to him Sadducees, who say that there is no resurrection. They asked him, saying,</span>
  <span class="verse" title="Mark 12:19" id="Mark-12-19">&#8220;Teacher, Moses wrote to us, &#8216;If a man&#8217;s brother dies, and leaves a wife behind him, and leaves no children, that his brother should take his wife, and raise up offspring for his brother.&#8217;</span>
  <span class="verse" title="Mark 12:20" id="Mark-12-20">There were seven brothers. The first took a wife, and dying left no offspring.</span>
  <span class="verse" title="Mark 12:21" id="Mark-12-21">The second took her, and died, leaving no children behind him. The third likewise;</span>
  <span class="verse" title="Mark 12:22" id="Mark-12-22">and the seven took her and left no children. Last of all the woman also died.</span>
  <span class="verse" title="Mark 12:23" id="Mark-12-23">In the resurrection, when they rise, whose wife will she be of them? For the seven had her as a wife.&#8221;</span>
  <span class="verse" title="Mark 12:24" id="Mark-12-24">Jesus answered them, &#8220;Isn&#8217;t this because you are mistaken, not knowing the Scriptures, nor the power of God?</span>
  <span class="verse" title="Mark 12:25" id="Mark-12-25">For when they will rise from the dead, they neither marry, nor are given in marriage, but are like angels in heaven.</span>
  <span class="verse" title="Mark 12:26" id="Mark-12-26">But about the dead, that they are raised; haven&#8217;t you read in the book of Moses, about the Bush, how God spoke to him, saying, &#8216;I am the God of Abraham, the God of Isaac, and the God of Jacob&#8217;?</span>
  <span class="verse" title="Mark 12:27" id="Mark-12-27">He is not the God of the dead, but of the living. You are therefore badly mistaken.&#8221;</span>
  <span class="verse" title="Mark 12:28" id="Mark-12-28">One of the scribes came, and heard them questioning together. Knowing that he had answered them well, asked him, &#8220;Which commandment is the greatest of all?&#8221;</span>
  <span class="verse" title="Mark 12:29" id="Mark-12-29">Jesus answered, &#8220;The greatest is, &#8216;Hear, Israel, the Lord our God, the Lord is one:</span>
  <span class="verse" title="Mark 12:30" id="Mark-12-30">you shall love the Lord your God with all your heart, and with all your soul, and with all your mind, and with all your strength.&#8217; This is the first commandment.</span>
  <span class="verse" title="Mark 12:31" id="Mark-12-31">The second is like this, &#8216;You shall love your neighbor as yourself.&#8217; There is no other commandment greater than these.&#8221;</span>
  <span class="verse" title="Mark 12:32" id="Mark-12-32">The scribe said to him, &#8220;Truly, teacher, you have said well that he is one, and there is none other but he,</span>
  <span class="verse" title="Mark 12:33" id="Mark-12-33">and to love him with all the heart, and with all the understanding, with all the soul, and with all the strength, and to love his neighbor as himself, is more important than all whole burnt offerings and sacrifices.&#8221;</span>
  <span class="verse" title="Mark 12:34" id="Mark-12-34">When Jesus saw that he answered wisely, he said to him, &#8220;You are not far from the Kingdom of God.&#8221; No one dared ask him any question after that.</span>
  <span class="verse" title="Mark 12:35" id="Mark-12-35">Jesus responded, as he taught in the temple, &#8220;How is it that the scribes say that the Christ is the son of David?</span>
  <span class="verse" title="Mark 12:36" id="Mark-12-36">For David himself said in the Holy Spirit,  &#8216;The Lord said to my Lord,<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Sit at my right hand,<br/> <span class="indent">&nbsp;&nbsp;</span>until I make your enemies the footstool of your feet.&#8221;&#8217;<br/></span>
  <span class="verse" title="Mark 12:37" id="Mark-12-37">Therefore David himself calls him Lord, so how can he be his son?&#8221; The common people heard him gladly.</span>
  <span class="verse" title="Mark 12:38" id="Mark-12-38">In his teaching he said to them, &#8220;Beware of the scribes, who like to walk in long robes, and to get greetings in the marketplaces,</span>
  <span class="verse" title="Mark 12:39" id="Mark-12-39">and the best seats in the synagogues, and the best places at feasts:</span>
  <span class="verse" title="Mark 12:40" id="Mark-12-40">those who devour widows&#8217; houses, and for a pretense make long prayers. These will receive greater condemnation.&#8221;</span>
  <span class="verse" title="Mark 12:41" id="Mark-12-41">Jesus sat down opposite the treasury, and saw how the multitude cast money into the treasury. Many who were rich cast in much.</span>
  <span class="verse" title="Mark 12:42" id="Mark-12-42">A poor widow came, and she cast in two small brass coins, which equal a quadrans coin.</span>
  <span class="verse" title="Mark 12:43" id="Mark-12-43">He called his disciples to himself, and said to them, &#8220;Most certainly I tell you, this poor widow gave more than all those who are giving into the treasury,</span>
  <span class="verse" title="Mark 12:44" id="Mark-12-44">for they all gave out of their abundance, but she, out of her poverty, gave all that she had to live on.&#8221;</span>
</div>