<div class="chapter" id="Mark-013">
  <h2>Mark 13</h2>
  <span class="verse" title="Mark 13:1" id="Mark-13-1">As he went out of the temple, one of his disciples said to him, &#8220;Teacher, see what kind of stones and what kind of buildings!&#8221;</span>
  <span class="verse" title="Mark 13:2" id="Mark-13-2">Jesus said to him, &#8220;Do you see these great buildings? There will not be left here one stone on another, which will not be thrown down.&#8221;</span>
  <span class="verse" title="Mark 13:3" id="Mark-13-3">As he sat on the Mount of Olives opposite the temple, Peter, James, John, and Andrew asked him privately,</span>
  <span class="verse" title="Mark 13:4" id="Mark-13-4">&#8220;Tell us, when will these things be? What is the sign that these things are all about to be fulfilled?&#8221;</span>
  <span class="verse" title="Mark 13:5" id="Mark-13-5">Jesus, answering, began to tell them, &#8220;Be careful that no one leads you astray.</span>
  <span class="verse" title="Mark 13:6" id="Mark-13-6">For many will come in my name, saying, &#8216;I am he!&#8217; and will lead many astray.</span>
  <span class="verse" title="Mark 13:7" id="Mark-13-7">&#8220;When you hear of wars and rumors of wars, don&#8217;t be troubled. For those must happen, but the end is not yet.</span>
  <span class="verse" title="Mark 13:8" id="Mark-13-8">For nation will rise against nation, and kingdom against kingdom. There will be earthquakes in various places. There will be famines and troubles. These things are the beginning of birth pains.</span>
  <span class="verse" title="Mark 13:9" id="Mark-13-9">But watch yourselves, for they will deliver you up to councils. You will be beaten in synagogues. You will stand before rulers and kings for my sake, for a testimony to them.</span>
  <span class="verse" title="Mark 13:10" id="Mark-13-10">The Good News must first be preached to all the nations.</span>
  <span class="verse" title="Mark 13:11" id="Mark-13-11">When they lead you away and deliver you up, don&#8217;t be anxious beforehand, or premeditate what you will say, but say whatever will be given you in that hour. For it is not you who speak, but the Holy Spirit.</span>
  <span class="verse" title="Mark 13:12" id="Mark-13-12">&#8220;Brother will deliver up brother to death, and the father his child. Children will rise up against parents, and cause them to be put to death.</span>
  <span class="verse" title="Mark 13:13" id="Mark-13-13">You will be hated by all men for my name&#8217;s sake, but he who endures to the end, the same will be saved.</span>
  <span class="verse" title="Mark 13:14" id="Mark-13-14">But when you see the abomination of desolation, spoken of by Daniel the prophet, standing where it ought not (let the reader understand), then let those who are in Judea flee to the mountains,</span>
  <span class="verse" title="Mark 13:15" id="Mark-13-15">and let him who is on the housetop not go down, nor enter in, to take anything out of his house.</span>
  <span class="verse" title="Mark 13:16" id="Mark-13-16">Let him who is in the field not return back to take his cloak.</span>
  <span class="verse" title="Mark 13:17" id="Mark-13-17">But woe to those who are with child and to those who nurse babies in those days!</span>
  <span class="verse" title="Mark 13:18" id="Mark-13-18">Pray that your flight won&#8217;t be in the winter.</span>
  <span class="verse" title="Mark 13:19" id="Mark-13-19">For in those days there will be oppression, such as there has not been the like from the beginning of the creation which God created until now, and never will be.</span>
  <span class="verse" title="Mark 13:20" id="Mark-13-20">Unless the Lord had shortened the days, no flesh would have been saved; but for the sake of the chosen ones, whom he picked out, he shortened the days.</span>
  <span class="verse" title="Mark 13:21" id="Mark-13-21">Then if anyone tells you, &#8216;Look, here is the Christ!&#8217; or, &#8216;Look, there!&#8217; don&#8217;t believe it.</span>
  <span class="verse" title="Mark 13:22" id="Mark-13-22">For there will arise false christs and false prophets, and will show signs and wonders, that they may lead astray, if possible, even the chosen ones.</span>
  <span class="verse" title="Mark 13:23" id="Mark-13-23">But you watch. &#8220;Behold, I have told you all things beforehand.</span>
  <span class="verse" title="Mark 13:24" id="Mark-13-24">But in those days, after that oppression, the sun will be darkened, the moon will not give its light,</span>
  <span class="verse" title="Mark 13:25" id="Mark-13-25">the stars will be falling from the sky, and the powers that are in the heavens will be shaken.</span>
  <span class="verse" title="Mark 13:26" id="Mark-13-26">Then they will see the Son of Man coming in clouds with great power and glory.</span>
  <span class="verse" title="Mark 13:27" id="Mark-13-27">Then he will send out his angels, and will gather together his chosen ones from the four winds, from the ends of the earth to the ends of the sky.</span>
  <span class="verse" title="Mark 13:28" id="Mark-13-28">&#8220;Now from the fig tree, learn this parable. When the branch has now become tender, and puts forth its leaves, you know that the summer is near;</span>
  <span class="verse" title="Mark 13:29" id="Mark-13-29">even so you also, when you see these things coming to pass, know that it is near, at the doors.</span>
  <span class="verse" title="Mark 13:30" id="Mark-13-30">Most certainly I say to you, this generation will not pass away until all these things happen.</span>
  <span class="verse" title="Mark 13:31" id="Mark-13-31">Heaven and earth will pass away, but my words will not pass away.</span>
  <span class="verse" title="Mark 13:32" id="Mark-13-32">But of that day or that hour no one knows, not even the angels in heaven, nor the Son, but only the Father.</span>
  <span class="verse" title="Mark 13:33" id="Mark-13-33">Watch, keep alert, and pray; for you don&#8217;t know when the time is.</span>
  <span class="verse" title="Mark 13:34" id="Mark-13-34">&#8220;It is like a man, traveling to another country, having left his house, and given authority to his servants, and to each one his work, and also commanded the doorkeeper to keep watch.</span>
  <span class="verse" title="Mark 13:35" id="Mark-13-35">Watch therefore, for you don&#8217;t know when the lord of the house is coming, whether at evening, or at midnight, or when the rooster crows, or in the morning;</span>
  <span class="verse" title="Mark 13:36" id="Mark-13-36">lest coming suddenly he might find you sleeping.</span>
  <span class="verse" title="Mark 13:37" id="Mark-13-37">What I tell you, I tell all: Watch.&#8221;</span>
</div>