<div class="chapter" id="Mark-014">
  <h2>Mark 14</h2>
  <span class="verse" title="Mark 14:1" id="Mark-14-1">It was now two days before the feast of the Passover and the unleavened bread, and the chief priests and the scribes sought how they might seize him by deception, and kill him.</span>
  <span class="verse" title="Mark 14:2" id="Mark-14-2">For they said, &#8220;Not during the feast, because there might be a riot of the people.&#8221;</span>
  <span class="verse" title="Mark 14:3" id="Mark-14-3">While he was at Bethany, in the house of Simon the leper, as he sat at the table, a woman came having an alabaster jar of ointment of pure nard—very costly. She broke the jar, and poured it over his head.</span>
  <span class="verse" title="Mark 14:4" id="Mark-14-4">But there were some who were indignant among themselves, saying, &#8220;Why has this ointment been wasted?</span>
  <span class="verse" title="Mark 14:5" id="Mark-14-5">For this might have been sold for more than three hundred denarii, and given to the poor.&#8221; They grumbled against her.</span>
  <span class="verse" title="Mark 14:6" id="Mark-14-6">But Jesus said, &#8220;Leave her alone. Why do you trouble her? She has done a good work for me.</span>
  <span class="verse" title="Mark 14:7" id="Mark-14-7">For you always have the poor with you, and whenever you want to, you can do them good; but you will not always have me.</span>
  <span class="verse" title="Mark 14:8" id="Mark-14-8">She has done what she could. She has anointed my body beforehand for the burying.</span>
  <span class="verse" title="Mark 14:9" id="Mark-14-9">Most certainly I tell you, wherever this Good News may be preached throughout the whole world, that which this woman has done will also be spoken of for a memorial of her.&#8221;</span>
  <span class="verse" title="Mark 14:10" id="Mark-14-10">Judas Iscariot, who was one of the twelve, went away to the chief priests, that he might deliver him to them.</span>
  <span class="verse" title="Mark 14:11" id="Mark-14-11">They, when they heard it, were glad, and promised to give him money. He sought how he might conveniently deliver him.</span>
  <span class="verse" title="Mark 14:12" id="Mark-14-12">On the first day of unleavened bread, when they sacrificed the Passover, his disciples asked him, &#8220;Where do you want us to go and prepare that you may eat the Passover?&#8221;</span>
  <span class="verse" title="Mark 14:13" id="Mark-14-13">He sent two of his disciples, and said to them, &#8220;Go into the city, and there you will meet a man carrying a pitcher of water. Follow him,</span>
  <span class="verse" title="Mark 14:14" id="Mark-14-14">and wherever he enters in, tell the master of the house, &#8216;The Teacher says, &#8220;Where is the guest room, where I may eat the Passover with my disciples?&#8221;&#8217;</span>
  <span class="verse" title="Mark 14:15" id="Mark-14-15">He will himself show you a large upper room furnished and ready. Get ready for us there.&#8221;</span>
  <span class="verse" title="Mark 14:16" id="Mark-14-16">His disciples went out, and came into the city, and found things as he had said to them, and they prepared the Passover.</span>
  <span class="verse" title="Mark 14:17" id="Mark-14-17">When it was evening he came with the twelve.</span>
  <span class="verse" title="Mark 14:18" id="Mark-14-18">As they sat and were eating, Jesus said, &#8220;Most certainly I tell you, one of you will betray me—he who eats with me.&#8221;</span>
  <span class="verse" title="Mark 14:19" id="Mark-14-19">They began to be sorrowful, and to ask him one by one, &#8220;Surely not I?&#8221; And another said, &#8220;Surely not I?&#8221;</span>
  <span class="verse" title="Mark 14:20" id="Mark-14-20">He answered them, &#8220;It is one of the twelve, he who dips with me in the dish.</span>
  <span class="verse" title="Mark 14:21" id="Mark-14-21">For the Son of Man goes, even as it is written about him, but woe to that man by whom the Son of Man is betrayed! It would be better for that man if he had not been born.&#8221;</span>
  <span class="verse" title="Mark 14:22" id="Mark-14-22">As they were eating, Jesus took bread, and when he had blessed, he broke it, and gave to them, and said, &#8220;Take, eat. This is my body.&#8221;</span>
  <span class="verse" title="Mark 14:23" id="Mark-14-23">He took the cup, and when he had given thanks, he gave to them. They all drank of it.</span>
  <span class="verse" title="Mark 14:24" id="Mark-14-24">He said to them, &#8220;This is my blood of the new covenant, which is poured out for many.</span>
  <span class="verse" title="Mark 14:25" id="Mark-14-25">Most certainly I tell you, I will no more drink of the fruit of the vine, until that day when I drink it anew in the Kingdom of God.&#8221;</span>
  <span class="verse" title="Mark 14:26" id="Mark-14-26">When they had sung a hymn, they went out to the Mount of Olives.</span>
  <span class="verse" title="Mark 14:27" id="Mark-14-27">Jesus said to them, &#8220;All of you will be made to stumble because of me tonight, for it is written, &#8216;I will strike the shepherd, and the sheep will be scattered.&#8217;</span>
  <span class="verse" title="Mark 14:28" id="Mark-14-28">However, after I am raised up, I will go before you into Galilee.&#8221;</span>
  <span class="verse" title="Mark 14:29" id="Mark-14-29">But Peter said to him, &#8220;Although all will be offended, yet I will not.&#8221;</span>
  <span class="verse" title="Mark 14:30" id="Mark-14-30">Jesus said to him, &#8220;Most certainly I tell you, that you today, even this night, before the rooster crows twice, you will deny me three times.&#8221;</span>
  <span class="verse" title="Mark 14:31" id="Mark-14-31">But he spoke all the more, &#8220;If I must die with you, I will not deny you.&#8221; They all said the same thing.</span>
  <span class="verse" title="Mark 14:32" id="Mark-14-32">They came to a place which was named Gethsemane. He said to his disciples, &#8220;Sit here, while I pray.&#8221;</span>
  <span class="verse" title="Mark 14:33" id="Mark-14-33">He took with him Peter, James, and John, and began to be greatly troubled and distressed.</span>
  <span class="verse" title="Mark 14:34" id="Mark-14-34">He said to them, &#8220;My soul is exceedingly sorrowful, even to death. Stay here, and watch.&#8221;</span>
  <span class="verse" title="Mark 14:35" id="Mark-14-35">He went forward a little, and fell on the ground, and prayed that, if it were possible, the hour might pass away from him.</span>
  <span class="verse" title="Mark 14:36" id="Mark-14-36">He said, &#8220;Abba, Father, all things are possible to you. Please remove this cup from me. However, not what I desire, but what you desire.&#8221;</span>
  <span class="verse" title="Mark 14:37" id="Mark-14-37">He came and found them sleeping, and said to Peter, &#8220;Simon, are you sleeping? Couldn&#8217;t you watch one hour?</span>
  <span class="verse" title="Mark 14:38" id="Mark-14-38">Watch and pray, that you may not enter into temptation. The spirit indeed is willing, but the flesh is weak.&#8221;</span>
  <span class="verse" title="Mark 14:39" id="Mark-14-39">Again he went away, and prayed, saying the same words.</span>
  <span class="verse" title="Mark 14:40" id="Mark-14-40">Again he returned, and found them sleeping, for their eyes were very heavy, and they didn&#8217;t know what to answer him.</span>
  <span class="verse" title="Mark 14:41" id="Mark-14-41">He came the third time, and said to them, &#8220;Sleep on now, and take your rest. It is enough. The hour has come. Behold, the Son of Man is betrayed into the hands of sinners.</span>
  <span class="verse" title="Mark 14:42" id="Mark-14-42">Arise, let us be going. Behold, he who betrays me is at hand.&#8221;</span>
  <span class="verse" title="Mark 14:43" id="Mark-14-43">Immediately, while he was still speaking, Judas, one of the twelve, came—and with him a multitude with swords and clubs, from the chief priests, the scribes, and the elders.</span>
  <span class="verse" title="Mark 14:44" id="Mark-14-44">Now he who betrayed him had given them a sign, saying, &#8220;Whomever I will kiss, that is he. Seize him, and lead him away safely.&#8221;</span>
  <span class="verse" title="Mark 14:45" id="Mark-14-45">When he had come, immediately he came to him, and said, &#8220;Rabbi! Rabbi!&#8221; and kissed him.</span>
  <span class="verse" title="Mark 14:46" id="Mark-14-46">They laid their hands on him, and seized him.</span>
  <span class="verse" title="Mark 14:47" id="Mark-14-47">But a certain one of those who stood by drew his sword, and struck the servant of the high priest, and cut off his ear.</span>
  <span class="verse" title="Mark 14:48" id="Mark-14-48">Jesus answered them, &#8220;Have you come out, as against a robber, with swords and clubs to seize me?</span>
  <span class="verse" title="Mark 14:49" id="Mark-14-49">I was daily with you in the temple teaching, and you didn&#8217;t arrest me. But this is so that the Scriptures might be fulfilled.&#8221;</span>
  <span class="verse" title="Mark 14:50" id="Mark-14-50">They all left him, and fled.</span>
  <span class="verse" title="Mark 14:51" id="Mark-14-51">A certain young man followed him, having a linen cloth thrown around himself, over his naked body. The young men grabbed him,</span>
  <span class="verse" title="Mark 14:52" id="Mark-14-52">but he left the linen cloth, and fled from them naked.</span>
  <span class="verse" title="Mark 14:53" id="Mark-14-53">They led Jesus away to the high priest. All the chief priests, the elders, and the scribes came together with him.</span>
  <span class="verse" title="Mark 14:54" id="Mark-14-54">Peter had followed him from a distance, until he came into the court of the high priest. He was sitting with the officers, and warming himself in the light of the fire.</span>
  <span class="verse" title="Mark 14:55" id="Mark-14-55">Now the chief priests and the whole council sought witnesses against Jesus to put him to death, and found none.</span>
  <span class="verse" title="Mark 14:56" id="Mark-14-56">For many gave false testimony against him, and their testimony didn&#8217;t agree with each other.</span>
  <span class="verse" title="Mark 14:57" id="Mark-14-57">Some stood up, and gave false testimony against him, saying,</span>
  <span class="verse" title="Mark 14:58" id="Mark-14-58">&#8220;We heard him say, &#8216;I will destroy this temple that is made with hands, and in three days I will build another made without hands.&#8217;&#8221;</span>
  <span class="verse" title="Mark 14:59" id="Mark-14-59">Even so, their testimony did not agree.</span>
  <span class="verse" title="Mark 14:60" id="Mark-14-60">The high priest stood up in the midst, and asked Jesus, &#8220;Have you no answer? What is it which these testify against you?&#8221;</span>
  <span class="verse" title="Mark 14:61" id="Mark-14-61">But he stayed quiet, and answered nothing. Again the high priest asked him, &#8220;Are you the Christ, the Son of the Blessed?&#8221;</span>
  <span class="verse" title="Mark 14:62" id="Mark-14-62">Jesus said, &#8220;I am. You will see the Son of Man sitting at the right hand of Power, and coming with the clouds of the sky.&#8221;</span>
  <span class="verse" title="Mark 14:63" id="Mark-14-63">The high priest tore his clothes, and said, &#8220;What further need have we of witnesses?</span>
  <span class="verse" title="Mark 14:64" id="Mark-14-64">You have heard the blasphemy! What do you think?&#8221; They all condemned him to be worthy of death.</span>
  <span class="verse" title="Mark 14:65" id="Mark-14-65">Some began to spit on him, and to cover his face, and to beat him with fists, and to tell him, &#8220;Prophesy!&#8221; The officers struck him with the palms of their hands.</span>
  <span class="verse" title="Mark 14:66" id="Mark-14-66">As Peter was in the courtyard below, one of the maids of the high priest came,</span>
  <span class="verse" title="Mark 14:67" id="Mark-14-67">and seeing Peter warming himself, she looked at him, and said, &#8220;You were also with the Nazarene, Jesus!&#8221;</span>
  <span class="verse" title="Mark 14:68" id="Mark-14-68">But he denied it, saying, &#8220;I neither know, nor understand what you are saying.&#8221; He went out on the porch, and the rooster crowed.</span>
  <span class="verse" title="Mark 14:69" id="Mark-14-69">The maid saw him, and began again to tell those who stood by, &#8220;This is one of them.&#8221;</span>
  <span class="verse" title="Mark 14:70" id="Mark-14-70">But he again denied it. After a little while again those who stood by said to Peter, &#8220;You truly are one of them, for you are a Galilean, and your speech shows it.&#8221;</span>
  <span class="verse" title="Mark 14:71" id="Mark-14-71">But he began to curse, and to swear, &#8220;I don&#8217;t know this man of whom you speak!&#8221;</span>
  <span class="verse" title="Mark 14:72" id="Mark-14-72">The rooster crowed the second time. Peter remembered the word, how that Jesus said to him, &#8220;Before the rooster crows twice, you will deny me three times.&#8221; When he thought about that, he wept.</span>
</div>