<div class="chapter" id="Mark-015">
  <h2>Mark 15</h2>
  <span class="verse" title="Mark 15:1" id="Mark-15-1">Immediately in the morning the chief priests, with the elders and scribes, and the whole council, held a consultation, and bound Jesus, and carried him away, and delivered him up to Pilate.</span>
  <span class="verse" title="Mark 15:2" id="Mark-15-2">Pilate asked him, &#8220;Are you the King of the Jews?&#8221; He answered, &#8220;So you say.&#8221;</span>
  <span class="verse" title="Mark 15:3" id="Mark-15-3">The chief priests accused him of many things.</span>
  <span class="verse" title="Mark 15:4" id="Mark-15-4">Pilate again asked him, &#8220;Have you no answer? See how many things they testify against you!&#8221;</span>
  <span class="verse" title="Mark 15:5" id="Mark-15-5">But Jesus made no further answer, so that Pilate marveled.</span>
  <span class="verse" title="Mark 15:6" id="Mark-15-6">Now at the feast he used to release to them one prisoner, whom they asked of him.</span>
  <span class="verse" title="Mark 15:7" id="Mark-15-7">There was one called Barabbas, bound with those who had made insurrection, men who in the insurrection had committed murder.</span>
  <span class="verse" title="Mark 15:8" id="Mark-15-8">The multitude, crying aloud, began to ask him to do as he always did for them.</span>
  <span class="verse" title="Mark 15:9" id="Mark-15-9">Pilate answered them, saying, &#8220;Do you want me to release to you the King of the Jews?&#8221;</span>
  <span class="verse" title="Mark 15:10" id="Mark-15-10">For he perceived that for envy the chief priests had delivered him up.</span>
  <span class="verse" title="Mark 15:11" id="Mark-15-11">But the chief priests stirred up the multitude, that he should release Barabbas to them instead.</span>
  <span class="verse" title="Mark 15:12" id="Mark-15-12">Pilate again asked them, &#8220;What then should I do to him whom you call the King of the Jews?&#8221;</span>
  <span class="verse" title="Mark 15:13" id="Mark-15-13">They cried out again, &#8220;Crucify him!&#8221;</span>
  <span class="verse" title="Mark 15:14" id="Mark-15-14">Pilate said to them, &#8220;Why, what evil has he done?&#8221; But they cried out exceedingly, &#8220;Crucify him!&#8221;</span>
  <span class="verse" title="Mark 15:15" id="Mark-15-15">Pilate, wishing to please the multitude, released Barabbas to them, and handed over Jesus, when he had flogged him, to be crucified.</span>
  <span class="verse" title="Mark 15:16" id="Mark-15-16">The soldiers led him away within the court, which is the Praetorium; and they called together the whole cohort.</span>
  <span class="verse" title="Mark 15:17" id="Mark-15-17">They clothed him with purple, and weaving a crown of thorns, they put it on him.</span>
  <span class="verse" title="Mark 15:18" id="Mark-15-18">They began to salute him, &#8220;Hail, King of the Jews!&#8221;</span>
  <span class="verse" title="Mark 15:19" id="Mark-15-19">They struck his head with a reed, and spat on him, and bowing their knees, did homage to him.</span>
  <span class="verse" title="Mark 15:20" id="Mark-15-20">When they had mocked him, they took the purple off of him, and put his own garments on him. They led him out to crucify him.</span>
  <span class="verse" title="Mark 15:21" id="Mark-15-21">They compelled one passing by, coming from the country, Simon of Cyrene, the father of Alexander and Rufus, to go with them, that he might bear his cross.</span>
  <span class="verse" title="Mark 15:22" id="Mark-15-22">They brought him to the place called Golgotha, which is, being interpreted, &#8220;The place of a skull.&#8221;</span>
  <span class="verse" title="Mark 15:23" id="Mark-15-23">They offered him wine mixed with myrrh to drink, but he didn&#8217;t take it.</span>
  <span class="verse" title="Mark 15:24" id="Mark-15-24">Crucifying him, they parted his garments among them, casting lots on them, what each should take.</span>
  <span class="verse" title="Mark 15:25" id="Mark-15-25">It was the third hour, and they crucified him.</span>
  <span class="verse" title="Mark 15:26" id="Mark-15-26">The superscription of his accusation was written over him, &#8220;THE KING OF THE JEWS.&#8221;</span>
  <span class="verse" title="Mark 15:27" id="Mark-15-27">With him they crucified two robbers; one on his right hand, and one on his left.</span>
  <span class="verse" title="Mark 15:28" id="Mark-15-28">The Scripture was fulfilled, which says, &#8220;He was numbered with transgressors.&#8221;</span>
  <span class="verse" title="Mark 15:29" id="Mark-15-29">Those who passed by blasphemed him, wagging their heads, and saying, &#8220;Ha! You who destroy the temple, and build it in three days,</span>
  <span class="verse" title="Mark 15:30" id="Mark-15-30">save yourself, and come down from the cross!&#8221;</span>
  <span class="verse" title="Mark 15:31" id="Mark-15-31">Likewise, also the chief priests mocking among themselves with the scribes said, &#8220;He saved others. He can&#8217;t save himself.</span>
  <span class="verse" title="Mark 15:32" id="Mark-15-32">Let the Christ, the King of Israel, now come down from the cross, that we may see and believe him.&#8221; Those who were crucified with him insulted him.</span>
  <span class="verse" title="Mark 15:33" id="Mark-15-33">When the sixth hour had come, there was darkness over the whole land until the ninth hour.</span>
  <span class="verse" title="Mark 15:34" id="Mark-15-34">At the ninth hour Jesus cried with a loud voice, saying, &#8220;Eloi, Eloi, lama sabachthani?&#8221; which is, being interpreted, &#8220;My God, my God, why have you forsaken me?&#8221;</span>
  <span class="verse" title="Mark 15:35" id="Mark-15-35">Some of those who stood by, when they heard it, said, &#8220;Behold, he is calling Elijah.&#8221;</span>
  <span class="verse" title="Mark 15:36" id="Mark-15-36">One ran, and filling a sponge full of vinegar, put it on a reed, and gave it to him to drink, saying, &#8220;Let him be. Let&#8217;s see whether Elijah comes to take him down.&#8221;</span>
  <span class="verse" title="Mark 15:37" id="Mark-15-37">Jesus cried out with a loud voice, and gave up the spirit.</span>
  <span class="verse" title="Mark 15:38" id="Mark-15-38">The veil of the temple was torn in two from the top to the bottom.</span>
  <span class="verse" title="Mark 15:39" id="Mark-15-39">When the centurion, who stood by opposite him, saw that he cried out like this and breathed his last, he said, &#8220;Truly this man was the Son of God!&#8221;</span>
  <span class="verse" title="Mark 15:40" id="Mark-15-40">There were also women watching from afar, among whom were both Mary Magdalene, and Mary the mother of James the less and of Joses, and Salome;</span>
  <span class="verse" title="Mark 15:41" id="Mark-15-41">who, when he was in Galilee, followed him, and served him; and many other women who came up with him to Jerusalem.</span>
  <span class="verse" title="Mark 15:42" id="Mark-15-42">When evening had now come, because it was the Preparation Day, that is, the day before the Sabbath,</span>
  <span class="verse" title="Mark 15:43" id="Mark-15-43">Joseph of Arimathaea, a prominent council member who also himself was looking for the Kingdom of God, came. He boldly went in to Pilate, and asked for Jesus&#8217; body.</span>
  <span class="verse" title="Mark 15:44" id="Mark-15-44">Pilate marveled if he were already dead; and summoning the centurion, he asked him whether he had been dead long.</span>
  <span class="verse" title="Mark 15:45" id="Mark-15-45">When he found out from the centurion, he granted the body to Joseph.</span>
  <span class="verse" title="Mark 15:46" id="Mark-15-46">He bought a linen cloth, and taking him down, wound him in the linen cloth, and laid him in a tomb which had been cut out of a rock. He rolled a stone against the door of the tomb.</span>
  <span class="verse" title="Mark 15:47" id="Mark-15-47">Mary Magdalene and Mary, the mother of Joses, saw where he was laid.</span>
</div>