<div class="chapter" id="Mark-016">
  <h2>Mark 16</h2>
  <span class="verse" title="Mark 16:1" id="Mark-16-1">When the Sabbath was past, Mary Magdalene, and Mary the mother of James, and Salome, bought spices, that they might come and anoint him.</span>
  <span class="verse" title="Mark 16:2" id="Mark-16-2">Very early on the first day of the week, they came to the tomb when the sun had risen.</span>
  <span class="verse" title="Mark 16:3" id="Mark-16-3">They were saying among themselves, &#8220;Who will roll away the stone from the door of the tomb for us?&#8221;</span>
  <span class="verse" title="Mark 16:4" id="Mark-16-4">for it was very big. Looking up, they saw that the stone was rolled back.</span>
  <span class="verse" title="Mark 16:5" id="Mark-16-5">Entering into the tomb, they saw a young man sitting on the right side, dressed in a white robe, and they were amazed.</span>
  <span class="verse" title="Mark 16:6" id="Mark-16-6">He said to them, &#8220;Don&#8217;t be amazed. You seek Jesus, the Nazarene, who has been crucified. He has risen. He is not here. Behold, the place where they laid him!</span>
  <span class="verse" title="Mark 16:7" id="Mark-16-7">But go, tell his disciples and Peter, &#8216;He goes before you into Galilee. There you will see him, as he said to you.&#8217;&#8221;</span>
  <span class="verse" title="Mark 16:8" id="Mark-16-8">They went out, and fled from the tomb, for trembling and astonishment had come on them. They said nothing to anyone; for they were afraid.</span>
  <span class="verse" title="Mark 16:9" id="Mark-16-9">Now when he had risen early on the first day of the week, he appeared first to Mary Magdalene, from whom he had cast out seven demons.</span>
  <span class="verse" title="Mark 16:10" id="Mark-16-10">She went and told those who had been with him, as they mourned and wept.</span>
  <span class="verse" title="Mark 16:11" id="Mark-16-11">When they heard that he was alive, and had been seen by her, they disbelieved.</span>
  <span class="verse" title="Mark 16:12" id="Mark-16-12">After these things he was revealed in another form to two of them, as they walked, on their way into the country.</span>
  <span class="verse" title="Mark 16:13" id="Mark-16-13">They went away and told it to the rest. They didn&#8217;t believe them, either.</span>
  <span class="verse" title="Mark 16:14" id="Mark-16-14">Afterward he was revealed to the eleven themselves as they sat at the table, and he rebuked them for their unbelief and hardness of heart, because they didn&#8217;t believe those who had seen him after he had risen.</span>
  <span class="verse" title="Mark 16:15" id="Mark-16-15">He said to them, &#8220;Go into all the world, and preach the Good News to the whole creation.</span>
  <span class="verse" title="Mark 16:16" id="Mark-16-16">He who believes and is baptized will be saved; but he who disbelieves will be condemned.</span>
  <span class="verse" title="Mark 16:17" id="Mark-16-17">These signs will accompany those who believe: in my name they will cast out demons; they will speak with new languages;</span>
  <span class="verse" title="Mark 16:18" id="Mark-16-18">they will take up serpents; and if they drink any deadly thing, it will in no way hurt them; they will lay hands on the sick, and they will recover.&#8221;</span>
  <span class="verse" title="Mark 16:19" id="Mark-16-19">So then the Lord, after he had spoken to them, was received up into heaven, and sat down at the right hand of God.</span>
  <span class="verse" title="Mark 16:20" id="Mark-16-20">They went out, and preached everywhere, the Lord working with them, and confirming the word by the signs that followed. Amen.</span>
</div>