<div class="chapter" id="James-001">
  <h2>James 1</h2>
  <span class="verse" title="James 1:1" id="James-1-1">James, a servant of God and of the Lord Jesus Christ, to the twelve tribes which are in the Dispersion: Greetings.</span>
  <span class="verse" title="James 1:2" id="James-1-2">Count it all joy, my brothers, when you fall into various temptations,</span>
  <span class="verse" title="James 1:3" id="James-1-3">knowing that the testing of your faith produces endurance.</span>
  <span class="verse" title="James 1:4" id="James-1-4">Let endurance have its perfect work, that you may be perfect and complete, lacking in nothing.</span>
  <span class="verse" title="James 1:5" id="James-1-5">But if any of you lacks wisdom, let him ask of God, who gives to all liberally and without reproach; and it will be given to him.</span>
  <span class="verse" title="James 1:6" id="James-1-6">But let him ask in faith, without any doubting, for he who doubts is like a wave of the sea, driven by the wind and tossed.</span>
  <span class="verse" title="James 1:7" id="James-1-7">For let that man not think that he will receive anything from the Lord.</span>
  <span class="verse" title="James 1:8" id="James-1-8">He is a double-minded man, unstable in all his ways.</span>
  <span class="verse" title="James 1:9" id="James-1-9">But let the brother in humble circumstances glory in his high position;</span>
  <span class="verse" title="James 1:10" id="James-1-10">and the rich, in that he is made humble, because like the flower in the grass, he will pass away.</span>
  <span class="verse" title="James 1:11" id="James-1-11">For the sun arises with the scorching wind, and withers the grass, and the flower in it falls, and the beauty of its appearance perishes. So also will the rich man fade away in his pursuits.</span>
  <span class="verse" title="James 1:12" id="James-1-12">Blessed is the man who endures temptation, for when he has been approved, he will receive the crown of life, which the Lord promised to those who love him.</span>
  <span class="verse" title="James 1:13" id="James-1-13">Let no man say when he is tempted, &#8220;I am tempted by God,&#8221; for God can&#8217;t be tempted by evil, and he himself tempts no one.</span>
  <span class="verse" title="James 1:14" id="James-1-14">But each one is tempted, when he is drawn away by his own lust, and enticed.</span>
  <span class="verse" title="James 1:15" id="James-1-15">Then the lust, when it has conceived, bears sin; and the sin, when it is full grown, brings forth death.</span>
  <span class="verse" title="James 1:16" id="James-1-16">Don&#8217;t be deceived, my beloved brothers.</span>
  <span class="verse" title="James 1:17" id="James-1-17">Every good gift and every perfect gift is from above, coming down from the Father of lights, with whom can be no variation, nor turning shadow.</span>
  <span class="verse" title="James 1:18" id="James-1-18">Of his own will he brought us forth by the word of truth, that we should be a kind of first fruits of his creatures.</span>
  <span class="verse" title="James 1:19" id="James-1-19">So, then, my beloved brothers, let every man be swift to hear, slow to speak, and slow to anger;</span>
  <span class="verse" title="James 1:20" id="James-1-20">for the anger of man doesn&#8217;t produce the righteousness of God.</span>
  <span class="verse" title="James 1:21" id="James-1-21">Therefore, putting away all filthiness and overflowing of wickedness, receive with humility the implanted word, which is able to save your souls.</span>
  <span class="verse" title="James 1:22" id="James-1-22">But be doers of the word, and not only hearers, deluding your own selves.</span>
  <span class="verse" title="James 1:23" id="James-1-23">For if anyone is a hearer of the word and not a doer, he is like a man looking at his natural face in a mirror;</span>
  <span class="verse" title="James 1:24" id="James-1-24">for he sees himself, and goes away, and immediately forgets what kind of man he was.</span>
  <span class="verse" title="James 1:25" id="James-1-25">But he who looks into the perfect law of freedom, and continues, not being a hearer who forgets, but a doer of the work, this man will be blessed in what he does.</span>
  <span class="verse" title="James 1:26" id="James-1-26">If anyone among you thinks himself to be religious while he doesn&#8217;t bridle his tongue, but deceives his heart, this man&#8217;s religion is worthless.</span>
  <span class="verse" title="James 1:27" id="James-1-27">Pure religion and undefiled before our God and Father is this: to visit the fatherless and widows in their affliction, and to keep oneself unstained by the world.</span>
</div>