<div class="chapter" id="James-002">
  <h2>James 2</h2>
  <span class="verse" title="James 2:1" id="James-2-1">My brothers, don&#8217;t hold the faith of our Lord Jesus Christ of glory with partiality.</span>
  <span class="verse" title="James 2:2" id="James-2-2">For if a man with a gold ring, in fine clothing, comes into your synagogue, and a poor man in filthy clothing also comes in;</span>
  <span class="verse" title="James 2:3" id="James-2-3">and you pay special attention to him who wears the fine clothing, and say, &#8220;Sit here in a good place;&#8221; and you tell the poor man, &#8220;Stand there,&#8221; or &#8220;Sit by my footstool;&#8221;</span>
  <span class="verse" title="James 2:4" id="James-2-4">haven&#8217;t you shown partiality among yourselves, and become judges with evil thoughts?</span>
  <span class="verse" title="James 2:5" id="James-2-5">Listen, my beloved brothers. Didn&#8217;t God choose those who are poor in this world to be rich in faith, and heirs of the Kingdom which he promised to those who love him?</span>
  <span class="verse" title="James 2:6" id="James-2-6">But you have dishonored the poor man. Don&#8217;t the rich oppress you, and personally drag you before the courts?</span>
  <span class="verse" title="James 2:7" id="James-2-7">Don&#8217;t they blaspheme the honorable name by which you are called?</span>
  <span class="verse" title="James 2:8" id="James-2-8">However, if you fulfill the royal law, according to the Scripture, &#8220;You shall love your neighbor as yourself,&#8221; you do well.</span>
  <span class="verse" title="James 2:9" id="James-2-9">But if you show partiality, you commit sin, being convicted by the law as transgressors.</span>
  <span class="verse" title="James 2:10" id="James-2-10">For whoever keeps the whole law, and yet stumbles in one point, he has become guilty of all.</span>
  <span class="verse" title="James 2:11" id="James-2-11">For he who said, &#8220;Do not commit adultery,&#8221; also said, &#8220;Do not commit murder.&#8221; Now if you do not commit adultery, but murder, you have become a transgressor of the law.</span>
  <span class="verse" title="James 2:12" id="James-2-12">So speak, and so do, as men who are to be judged by a law of freedom.</span>
  <span class="verse" title="James 2:13" id="James-2-13">For judgment is without mercy to him who has shown no mercy. Mercy triumphs over judgment.</span>
  <span class="verse" title="James 2:14" id="James-2-14">What good is it, my brothers, if a man says he has faith, but has no works? Can faith save him?</span>
  <span class="verse" title="James 2:15" id="James-2-15">And if a brother or sister is naked and in lack of daily food,</span>
  <span class="verse" title="James 2:16" id="James-2-16">and one of you tells them, &#8220;Go in peace, be warmed and filled;&#8221; and yet you didn&#8217;t give them the things the body needs, what good is it?</span>
  <span class="verse" title="James 2:17" id="James-2-17">Even so faith, if it has no works, is dead in itself.</span>
  <span class="verse" title="James 2:18" id="James-2-18">Yes, a man will say, &#8220;You have faith, and I have works.&#8221; Show me your faith without works, and I by my works will show you my faith.</span>
  <span class="verse" title="James 2:19" id="James-2-19">You believe that God is one. You do well. The demons also believe, and shudder.</span>
  <span class="verse" title="James 2:20" id="James-2-20">But do you want to know, vain man, that faith apart from works is dead?</span>
  <span class="verse" title="James 2:21" id="James-2-21">Wasn&#8217;t Abraham our father justified by works, in that he offered up Isaac his son on the altar?</span>
  <span class="verse" title="James 2:22" id="James-2-22">You see that faith worked with his works, and by works faith was perfected;</span>
  <span class="verse" title="James 2:23" id="James-2-23">and the Scripture was fulfilled which says, &#8220;Abraham believed God, and it was accounted to him as righteousness;&#8221; and he was called the friend of God.</span>
  <span class="verse" title="James 2:24" id="James-2-24">You see then that by works, a man is justified, and not only by faith.</span>
  <span class="verse" title="James 2:25" id="James-2-25">In the same way, wasn&#8217;t Rahab the prostitute also justified by works, in that she received the messengers, and sent them out another way?</span>
  <span class="verse" title="James 2:26" id="James-2-26">For as the body apart from the spirit is dead, even so faith apart from works is dead.</span>
</div>