<div class="chapter" id="James-003">
  <h2>James 3</h2>
  <span class="verse" title="James 3:1" id="James-3-1">Let not many of you be teachers, my brothers, knowing that we will receive heavier judgment.</span>
  <span class="verse" title="James 3:2" id="James-3-2">For in many things we all stumble. If anyone doesn&#8217;t stumble in word, the same is a perfect man, able to bridle the whole body also.</span>
  <span class="verse" title="James 3:3" id="James-3-3">Indeed, we put bits into the horses&#8217; mouths so that they may obey us, and we guide their whole body.</span>
  <span class="verse" title="James 3:4" id="James-3-4">Behold, the ships also, though they are so big and are driven by fierce winds, are yet guided by a very small rudder, wherever the pilot desires.</span>
  <span class="verse" title="James 3:5" id="James-3-5">So the tongue is also a little member, and boasts great things. See how a small fire can spread to a large forest!</span>
  <span class="verse" title="James 3:6" id="James-3-6">And the tongue is a fire. The world of iniquity among our members is the tongue, which defiles the whole body, and sets on fire the course of nature, and is set on fire by Gehenna.</span>
  <span class="verse" title="James 3:7" id="James-3-7">For every kind of animal, bird, creeping thing, and thing in the sea, is tamed, and has been tamed by mankind.</span>
  <span class="verse" title="James 3:8" id="James-3-8">But nobody can tame the tongue. It is a restless evil, full of deadly poison.</span>
  <span class="verse" title="James 3:9" id="James-3-9">With it we bless our God and Father, and with it we curse men, who are made in the image of God.</span>
  <span class="verse" title="James 3:10" id="James-3-10">Out of the same mouth comes forth blessing and cursing. My brothers, these things ought not to be so.</span>
  <span class="verse" title="James 3:11" id="James-3-11">Does a spring send out from the same opening fresh and bitter water?</span>
  <span class="verse" title="James 3:12" id="James-3-12">Can a fig tree, my brothers, yield olives, or a vine figs? Thus no spring yields both salt water and fresh water.</span>
  <span class="verse" title="James 3:13" id="James-3-13">Who is wise and understanding among you? Let him show by his good conduct that his deeds are done in gentleness of wisdom.</span>
  <span class="verse" title="James 3:14" id="James-3-14">But if you have bitter jealousy and selfish ambition in your heart, don&#8217;t boast and don&#8217;t lie against the truth.</span>
  <span class="verse" title="James 3:15" id="James-3-15">This wisdom is not that which comes down from above, but is earthly, sensual, and demonic.</span>
  <span class="verse" title="James 3:16" id="James-3-16">For where jealousy and selfish ambition are, there is confusion and every evil deed.</span>
  <span class="verse" title="James 3:17" id="James-3-17">But the wisdom that is from above is first pure, then peaceful, gentle, reasonable, full of mercy and good fruits, without partiality, and without hypocrisy.</span>
  <span class="verse" title="James 3:18" id="James-3-18">Now the fruit of righteousness is sown in peace by those who make peace.</span>
</div>