<div class="chapter" id="James-004">
  <h2>James 4</h2>
  <span class="verse" title="James 4:1" id="James-4-1">Where do wars and fightings among you come from? Don&#8217;t they come from your pleasures that war in your members?</span>
  <span class="verse" title="James 4:2" id="James-4-2">You lust, and don&#8217;t have. You kill, covet, and can&#8217;t obtain. You fight and make war. You don&#8217;t have, because you don&#8217;t ask.</span>
  <span class="verse" title="James 4:3" id="James-4-3">You ask, and don&#8217;t receive, because you ask with wrong motives, so that you may spend it for your pleasures.</span>
  <span class="verse" title="James 4:4" id="James-4-4">You adulterers and adulteresses, don&#8217;t you know that friendship with the world is enmity with God? Whoever therefore wants to be a friend of the world makes himself an enemy of God.</span>
  <span class="verse" title="James 4:5" id="James-4-5">Or do you think that the Scripture says in vain, &#8220;The Spirit who lives in us yearns jealously&#8221;?</span>
  <span class="verse" title="James 4:6" id="James-4-6">But he gives more grace. Therefore it says, &#8220;God resists the proud, but gives grace to the humble.&#8221;</span>
  <span class="verse" title="James 4:7" id="James-4-7">Be subject therefore to God. But resist the devil, and he will flee from you.</span>
  <span class="verse" title="James 4:8" id="James-4-8">Draw near to God, and he will draw near to you. Cleanse your hands, you sinners; and purify your hearts, you double-minded.</span>
  <span class="verse" title="James 4:9" id="James-4-9">Lament, mourn, and weep. Let your laughter be turned to mourning, and your joy to gloom.</span>
  <span class="verse" title="James 4:10" id="James-4-10">Humble yourselves in the sight of the Lord, and he will exalt you.</span>
  <span class="verse" title="James 4:11" id="James-4-11">Don&#8217;t speak against one another, brothers. He who speaks against a brother and judges his brother, speaks against the law and judges the law. But if you judge the law, you are not a doer of the law, but a judge.</span>
  <span class="verse" title="James 4:12" id="James-4-12">Only one is the lawgiver, who is able to save and to destroy. But who are you to judge another?</span>
  <span class="verse" title="James 4:13" id="James-4-13">Come now, you who say, &#8220;Today or tomorrow let&#8217;s go into this city, and spend a year there, trade, and make a profit.&#8221;</span>
  <span class="verse" title="James 4:14" id="James-4-14">Whereas you don&#8217;t know what your life will be like tomorrow. For what is your life? For you are a vapor, that appears for a little time, and then vanishes away.</span>
  <span class="verse" title="James 4:15" id="James-4-15">For you ought to say, &#8220;If the Lord wills, we will both live, and do this or that.&#8221;</span>
  <span class="verse" title="James 4:16" id="James-4-16">But now you glory in your boasting. All such boasting is evil.</span>
  <span class="verse" title="James 4:17" id="James-4-17">To him therefore who knows to do good, and doesn&#8217;t do it, to him it is sin.</span>
</div>