<div class="chapter" id="James-005">
  <h2>James 5</h2>
  <span class="verse" title="James 5:1" id="James-5-1">Come now, you rich, weep and howl for your miseries that are coming on you.</span>
  <span class="verse" title="James 5:2" id="James-5-2">Your riches are corrupted and your garments are moth-eaten.</span>
  <span class="verse" title="James 5:3" id="James-5-3">Your gold and your silver are corroded, and their corrosion will be for a testimony against you, and will eat your flesh like fire. You have laid up your treasure in the last days.</span>
  <span class="verse" title="James 5:4" id="James-5-4">Behold, the wages of the laborers who mowed your fields, which you have kept back by fraud, cry out, and the cries of those who reaped have entered into the ears of the Lord of Armies.</span>
  <span class="verse" title="James 5:5" id="James-5-5">You have lived delicately on the earth, and taken your pleasure. You have nourished your hearts as in a day of slaughter.</span>
  <span class="verse" title="James 5:6" id="James-5-6">You have condemned, you have murdered the righteous one. He doesn&#8217;t resist you.</span>
  <span class="verse" title="James 5:7" id="James-5-7">Be patient therefore, brothers, until the coming of the Lord. Behold, the farmer waits for the precious fruit of the earth, being patient over it, until it receives the early and late rain.</span>
  <span class="verse" title="James 5:8" id="James-5-8">You also be patient. Establish your hearts, for the coming of the Lord is at hand.</span>
  <span class="verse" title="James 5:9" id="James-5-9">Don&#8217;t grumble, brothers, against one another, so that you won&#8217;t be judged. Behold, the judge stands at the door.</span>
  <span class="verse" title="James 5:10" id="James-5-10">Take, brothers, for an example of suffering and of patience, the prophets who spoke in the name of the Lord.</span>
  <span class="verse" title="James 5:11" id="James-5-11">Behold, we call them blessed who endured. You have heard of the patience of Job, and have seen the Lord in the outcome, and how the Lord is full of compassion and mercy.</span>
  <span class="verse" title="James 5:12" id="James-5-12">But above all things, my brothers, don&#8217;t swear, neither by heaven, nor by the earth, nor by any other oath; but let your &#8220;yes&#8221; be &#8220;yes,&#8221; and your &#8220;no,&#8221; &#8220;no;&#8221; so that you don&#8217;t fall into hypocrisy.</span>
  <span class="verse" title="James 5:13" id="James-5-13">Is any among you suffering? Let him pray. Is any cheerful? Let him sing praises.</span>
  <span class="verse" title="James 5:14" id="James-5-14">Is any among you sick? Let him call for the elders of the assembly, and let them pray over him, anointing him with oil in the name of the Lord,</span>
  <span class="verse" title="James 5:15" id="James-5-15">and the prayer of faith will heal him who is sick, and the Lord will raise him up. If he has committed sins, he will be forgiven.</span>
  <span class="verse" title="James 5:16" id="James-5-16">Confess your offenses to one another, and pray for one another, that you may be healed. The insistent prayer of a righteous person is powerfully effective.</span>
  <span class="verse" title="James 5:17" id="James-5-17">Elijah was a man with a nature like ours, and he prayed earnestly that it might not rain, and it didn&#8217;t rain on the earth for three years and six months.</span>
  <span class="verse" title="James 5:18" id="James-5-18">He prayed again, and the sky gave rain, and the earth brought forth its fruit.</span>
  <span class="verse" title="James 5:19" id="James-5-19">Brothers, if any among you wanders from the truth, and someone turns him back,</span>
  <span class="verse" title="James 5:20" id="James-5-20">let him know that he who turns a sinner from the error of his way will save a soul from death, and will cover a multitude of sins.</span>
</div>