<% if notice = @wall_notice || flash[:wall_notice] %><p class="very-strong"><%=h notice %></p><% end %>
<p>
  <% if me? %>
    <em>The Wall is a place for people to post friendly messages for you and others to see.</em>
  <% else %>
    <%= render :partial => 'walls/wall_post' %>
  <% end %>
</p>
<% if @messages.any? %>
  <%= render :partial => 'walls/messages' %>
  <p>
    <%= link_to 'View all wall messages...', person_wall_path(@person) %>
  </p>
<% else %>
  <p><em>No messages yet!</em></p>
<% end %>
