<h1>Edit Ministry</h1>

<% form_for :ministry, @ministry do |form| %>
  <p>
    <label for="ministry_name">Name of Ministry (required):</label>
    <%= form.text_field :name %><br/>
    <label for="ministry_description">Description:</label>
    <%= form.text_area :description, :rows => 3 %><br/>
    <%= submit_tag 'Save Changes' %>
  </p>
<% end %>