<% content_for :sidebar do %>
  <% if @logged_in.admin? %>
    <p><%= link_to 'Add Ministry', :action => 'edit' %></p>
  <% end %>
  
  <h2>Ministries</h2>
  <p>
    <% @ministries.each do |ministry| %>
      <%= link_to ministry.name, :action => 'view', :id => ministry %>
      <br/>
    <% end %>
  </p>
  <% if @ministries.empty? %><p><em>none yet</em></p><% end %>
<% end %>