<div class="chapter" id="Hosea-001">
  <h2>Hosea 1</h2>
  <span class="verse" title="Hosea 1:1" id="Hosea-1-1">The word of Yahweh that came to Hosea the son of Beeri, in the days of Uzziah, Jotham, Ahaz, and Hezekiah, kings of Judah, and in the days of Jeroboam the son of Joash, king of Israel.</span>
  <span class="verse" title="Hosea 1:2" id="Hosea-1-2">When Yahweh spoke at first by Hosea, Yahweh said to Hosea, &#8220;Go, take for yourself a wife of prostitution and children of unfaithfulness; for the land commits great adultery, forsaking Yahweh.&#8221;</span>
  <span class="verse" title="Hosea 1:3" id="Hosea-1-3">So he went and took Gomer the daughter of Diblaim; and she conceived, and bore him a son.</span>
  <span class="verse" title="Hosea 1:4" id="Hosea-1-4">Yahweh said to him, &#8220;Call his name Jezreel; for yet a little while, and I will avenge the blood of Jezreel on the house of Jehu, and will cause the kingdom of the house of Israel to cease.</span>
  <span class="verse" title="Hosea 1:5" id="Hosea-1-5">It will happen in that day that I will break the bow of Israel in the valley of Jezreel.&#8221;</span>
  <span class="verse" title="Hosea 1:6" id="Hosea-1-6">She conceived again, and bore a daughter. Then he said to him, &#8220;Call her name Lo-Ruhamah; for I will no longer have mercy on the house of Israel, that I should in any way pardon them.</span>
  <span class="verse" title="Hosea 1:7" id="Hosea-1-7">But I will have mercy on the house of Judah, and will save them by Yahweh their God, and will not save them by bow, sword, battle, horses, or horsemen.&#8221;</span>
  <span class="verse" title="Hosea 1:8" id="Hosea-1-8">Now when she had weaned Lo-Ruhamah, she conceived, and bore a son.</span>
  <span class="verse" title="Hosea 1:9" id="Hosea-1-9">He said, &#8220;Call his name Lo-Ammi; for you are not my people, and I will not be yours.</span>
  <span class="verse" title="Hosea 1:10" id="Hosea-1-10">Yet the number of the children of Israel will be as the sand of the sea, which can&#8217;t be measured nor numbered; and it will come to pass that, in the place where it was said to them, &#8216;You are not my people,&#8217; they will be called &#8216;sons of the living God.&#8217;</span>
  <span class="verse" title="Hosea 1:11" id="Hosea-1-11">The children of Judah and the children of Israel will be gathered together, and they will appoint themselves one head, and will go up from the land; for great will be the day of Jezreel.</span>
</div>