<div class="chapter" id="Hosea-003">
  <h2>Hosea 3</h2>
  <span class="verse" title="Hosea 3:1" id="Hosea-3-1">Yahweh said to me, &#8220;Go again, love a woman loved by another, and an adulteress, even as Yahweh loves the children of Israel, though they turn to other gods, and love cakes of raisins.&#8221;</span>
  <span class="verse" title="Hosea 3:2" id="Hosea-3-2">So I bought her for myself for fifteen pieces of silver and a homer and a half of barley.</span>
  <span class="verse" title="Hosea 3:3" id="Hosea-3-3">I said to her, &#8220;You shall stay with me many days. You shall not play the prostitute, and you shall not be with any other man. I will also be so toward you.&#8221;</span>
  <span class="verse" title="Hosea 3:4" id="Hosea-3-4">For the children of Israel shall live many days without king, and without prince, and without sacrifice, and without sacred stone, and without ephod or idols.</span>
  <span class="verse" title="Hosea 3:5" id="Hosea-3-5">Afterward the children of Israel shall return, and seek Yahweh their God, and David their king, and shall come with trembling to Yahweh and to his blessings in the last days.</span>
</div>