<div class="chapter" id="Habakkuk-001">
  <h2>Habakkuk 1</h2>
  <span class="verse" title="Habakkuk 1:1" id="Habakkuk-1-1">The oracle which Habakkuk the prophet saw.</span>
  <span class="verse" title="Habakkuk 1:2" id="Habakkuk-1-2">Yahweh, how long will I cry, and you will not hear? I cry out to you &#8220;Violence!&#8221; and will you not save?</span>
  <span class="verse" title="Habakkuk 1:3" id="Habakkuk-1-3">Why do you show me iniquity, and look at perversity? For destruction and violence are before me. There is strife, and contention rises up.</span>
  <span class="verse" title="Habakkuk 1:4" id="Habakkuk-1-4">Therefore the law is paralyzed, and justice never goes forth; for the wicked surround the righteous; therefore justice goes forth perverted.</span>
  <span class="verse" title="Habakkuk 1:5" id="Habakkuk-1-5">&#8220;Look among the nations, watch, and wonder marvelously; for I am working a work in your days, which you will not believe though it is told you.</span>
  <span class="verse" title="Habakkuk 1:6" id="Habakkuk-1-6">For, behold, I raise up the Chaldeans, that bitter and hasty nation, that march through the breadth of the earth, to possess dwelling places that are not theirs.</span>
  <span class="verse" title="Habakkuk 1:7" id="Habakkuk-1-7">They are feared and dreaded. Their judgment and their dignity proceed from themselves.</span>
  <span class="verse" title="Habakkuk 1:8" id="Habakkuk-1-8">Their horses also are swifter than leopards, and are more fierce than the evening wolves. Their horsemen press proudly on. Yes, their horsemen come from afar. They fly as an eagle that hurries to devour.</span>
  <span class="verse" title="Habakkuk 1:9" id="Habakkuk-1-9">All of them come for violence. Their hordes face the desert. He gathers prisoners like sand.</span>
  <span class="verse" title="Habakkuk 1:10" id="Habakkuk-1-10">Yes, he scoffs at kings, and princes are a derision to him. He laughs at every stronghold, for he builds up an earthen ramp, and takes it.</span>
  <span class="verse" title="Habakkuk 1:11" id="Habakkuk-1-11">Then he sweeps by like the wind, and goes on. He is indeed guilty, whose strength is his god.&#8221;</span>
  <span class="verse" title="Habakkuk 1:12" id="Habakkuk-1-12">Aren&#8217;t you from everlasting, Yahweh my God, my Holy One? We will not die. Yahweh, you have appointed him for judgment. You, Rock, have established him to punish.</span>
  <span class="verse" title="Habakkuk 1:13" id="Habakkuk-1-13">You who have purer eyes than to see evil, and who cannot look on perversity, why do you tolerate those who deal treacherously, and keep silent when the wicked swallows up the man who is more righteous than he,</span>
  <span class="verse" title="Habakkuk 1:14" id="Habakkuk-1-14">and make men like the fish of the sea, like the creeping things, that have no ruler over them?</span>
  <span class="verse" title="Habakkuk 1:15" id="Habakkuk-1-15">He takes up all of them with the hook. He catches them in his net, and gathers them in his dragnet. Therefore he rejoices and is glad.</span>
  <span class="verse" title="Habakkuk 1:16" id="Habakkuk-1-16">Therefore he sacrifices to his net, and burns incense to his dragnet, because by them his life is luxurious, and his food is good.</span>
  <span class="verse" title="Habakkuk 1:17" id="Habakkuk-1-17">Will he therefore continually empty his net, and kill the nations without mercy?</span>
</div>