<div class="chapter" id="Habakkuk-002">
  <h2>Habakkuk 2</h2>
  <span class="verse" title="Habakkuk 2:1" id="Habakkuk-2-1">I will stand at my watch, and set myself on the ramparts, and will look out to see what he will say to me, and what I will answer concerning my complaint.</span>
  <span class="verse" title="Habakkuk 2:2" id="Habakkuk-2-2">Yahweh answered me, &#8220;Write the vision, and make it plain on tablets, that he who runs may read it.</span>
  <span class="verse" title="Habakkuk 2:3" id="Habakkuk-2-3">For the vision is yet for the appointed time, and it hurries toward the end, and won&#8217;t prove false. Though it takes time, wait for it; because it will surely come. It won&#8217;t delay.</span>
  <span class="verse" title="Habakkuk 2:4" id="Habakkuk-2-4">Behold, his soul is puffed up. It is not upright in him, but the righteous will live by his faith.</span>
  <span class="verse" title="Habakkuk 2:5" id="Habakkuk-2-5">Yes, moreover, wine is treacherous. A haughty man who doesn&#8217;t stay at home, who enlarges his desire as Sheol, and he is like death, and can&#8217;t be satisfied, but gathers to himself all nations, and heaps to himself all peoples.</span>
  <span class="verse" title="Habakkuk 2:6" id="Habakkuk-2-6">Won&#8217;t all these take up a parable against him, and a taunting proverb against him, and say, &#8216;Woe to him who increases that which is not his, and who enriches himself by extortion! How long?&#8217;</span>
  <span class="verse" title="Habakkuk 2:7" id="Habakkuk-2-7">Won&#8217;t your debtors rise up suddenly, and wake up those who make you tremble, and you will be their victim?</span>
  <span class="verse" title="Habakkuk 2:8" id="Habakkuk-2-8">Because you have plundered many nations, all the remnant of the peoples will plunder you, because of men&#8217;s blood, and for the violence done to the land, to the city and to all who dwell in it.</span>
  <span class="verse" title="Habakkuk 2:9" id="Habakkuk-2-9">Woe to him who gets an evil gain for his house, that he may set his nest on high, that he may be delivered from the hand of evil!</span>
  <span class="verse" title="Habakkuk 2:10" id="Habakkuk-2-10">You have devised shame to your house, by cutting off many peoples, and have sinned against your soul.</span>
  <span class="verse" title="Habakkuk 2:11" id="Habakkuk-2-11">For the stone will cry out of the wall, and the beam out of the woodwork will answer it.</span>
  <span class="verse" title="Habakkuk 2:12" id="Habakkuk-2-12">Woe to him who builds a town with blood, and establishes a city by iniquity!</span>
  <span class="verse" title="Habakkuk 2:13" id="Habakkuk-2-13">Behold, isn&#8217;t it of Yahweh of Armies that the peoples labor for the fire, and the nations weary themselves for vanity?</span>
  <span class="verse" title="Habakkuk 2:14" id="Habakkuk-2-14">For the earth will be filled with the knowledge of the glory of Yahweh, as the waters cover the sea.</span>
  <span class="verse" title="Habakkuk 2:15" id="Habakkuk-2-15">&#8220;Woe to him who gives his neighbor drink, pouring your inflaming wine until they are drunk, so that you may gaze at their naked bodies!</span>
  <span class="verse" title="Habakkuk 2:16" id="Habakkuk-2-16">You are filled with shame, and not glory. You will also drink, and be exposed! The cup of Yahweh&#8217;s right hand will come around to you, and disgrace will cover your glory.</span>
  <span class="verse" title="Habakkuk 2:17" id="Habakkuk-2-17">For the violence done to Lebanon will overwhelm you, and the destruction of the animals, which made them afraid; because of men&#8217;s blood, and for the violence done to the land, to every city and to those who dwell in them.</span>
  <span class="verse" title="Habakkuk 2:18" id="Habakkuk-2-18">&#8220;What value does the engraved image have, that its maker has engraved it; the molten image, even the teacher of lies, that he who fashions its form trusts in it, to make mute idols?</span>
  <span class="verse" title="Habakkuk 2:19" id="Habakkuk-2-19">Woe to him who says to the wood, &#8216;Awake!&#8217; or to the mute stone, &#8216;Arise!&#8217; Shall this teach? Behold, it is overlaid with gold and silver, and there is no breath at all in its midst.</span>
  <span class="verse" title="Habakkuk 2:20" id="Habakkuk-2-20">But Yahweh is in his holy temple. Let all the earth be silent before him!&#8221;</span>
</div>