<div class="chapter" id="Colossians-002">
  <h2>Colossians 2</h2>
  <span class="verse" title="Colossians 2:1" id="Colossians-2-1">For I desire to have you know how greatly I struggle for you, and for those at Laodicea, and for as many as have not seen my face in the flesh;</span>
  <span class="verse" title="Colossians 2:2" id="Colossians-2-2">that their hearts may be comforted, they being knit together in love, and gaining all riches of the full assurance of understanding, that they may know the mystery of God, both of the Father and of Christ,</span>
  <span class="verse" title="Colossians 2:3" id="Colossians-2-3">in whom are all the treasures of wisdom and knowledge hidden.</span>
  <span class="verse" title="Colossians 2:4" id="Colossians-2-4">Now this I say that no one may delude you with persuasiveness of speech.</span>
  <span class="verse" title="Colossians 2:5" id="Colossians-2-5">For though I am absent in the flesh, yet am I with you in the spirit, rejoicing and seeing your order, and the steadfastness of your faith in Christ.</span>
  <span class="verse" title="Colossians 2:6" id="Colossians-2-6">As therefore you received Christ Jesus, the Lord, walk in him,</span>
  <span class="verse" title="Colossians 2:7" id="Colossians-2-7">rooted and built up in him, and established in the faith, even as you were taught, abounding in it in thanksgiving.</span>
  <span class="verse" title="Colossians 2:8" id="Colossians-2-8">Be careful that you don&#8217;t let anyone rob you through his philosophy and vain deceit, after the tradition of men, after the elements of the world, and not after Christ.</span>
  <span class="verse" title="Colossians 2:9" id="Colossians-2-9">For in him all the fullness of the Godhead dwells bodily,</span>
  <span class="verse" title="Colossians 2:10" id="Colossians-2-10">and in him you are made full, who is the head of all principality and power;</span>
  <span class="verse" title="Colossians 2:11" id="Colossians-2-11">in whom you were also circumcised with a circumcision not made with hands, in the putting off of the body of the sins of the flesh, in the circumcision of Christ;</span>
  <span class="verse" title="Colossians 2:12" id="Colossians-2-12">having been buried with him in baptism, in which you were also raised with him through faith in the working of God, who raised him from the dead.</span>
  <span class="verse" title="Colossians 2:13" id="Colossians-2-13">You were dead through your trespasses and the uncircumcision of your flesh. He made you alive together with him, having forgiven us all our trespasses,</span>
  <span class="verse" title="Colossians 2:14" id="Colossians-2-14">wiping out the handwriting in ordinances which was against us; and he has taken it out of the way, nailing it to the cross;</span>
  <span class="verse" title="Colossians 2:15" id="Colossians-2-15">having stripped the principalities and the powers, he made a show of them openly, triumphing over them in it.</span>
  <span class="verse" title="Colossians 2:16" id="Colossians-2-16">Let no one therefore judge you in eating, or in drinking, or with respect to a feast day or a new moon or a Sabbath day,</span>
  <span class="verse" title="Colossians 2:17" id="Colossians-2-17">which are a shadow of the things to come; but the body is Christ&#8217;s.</span>
  <span class="verse" title="Colossians 2:18" id="Colossians-2-18">Let no one rob you of your prize by a voluntary humility and worshipping of the angels, dwelling in the things which he has not seen, vainly puffed up by his fleshly mind,</span>
  <span class="verse" title="Colossians 2:19" id="Colossians-2-19">and not holding firmly to the Head, from whom all the body, being supplied and knit together through the joints and ligaments, grows with God&#8217;s growth.</span>
  <span class="verse" title="Colossians 2:20" id="Colossians-2-20">If you died with Christ from the elements of the world, why, as though living in the world, do you subject yourselves to ordinances,</span>
  <span class="verse" title="Colossians 2:21" id="Colossians-2-21">&#8220;Don&#8217;t handle, nor taste, nor touch&#8221;</span>
  <span class="verse" title="Colossians 2:22" id="Colossians-2-22">(all of which perish with use), according to the precepts and doctrines of men?</span>
  <span class="verse" title="Colossians 2:23" id="Colossians-2-23">Which things indeed appear like wisdom in self-imposed worship, and humility, and severity to the body; but aren&#8217;t of any value against the indulgence of the flesh.</span>
</div>