<div class="chapter" id="Colossians-003">
  <h2>Colossians 3</h2>
  <span class="verse" title="Colossians 3:1" id="Colossians-3-1">If then you were raised together with Christ, seek the things that are above, where Christ is, seated on the right hand of God.</span>
  <span class="verse" title="Colossians 3:2" id="Colossians-3-2">Set your mind on the things that are above, not on the things that are on the earth.</span>
  <span class="verse" title="Colossians 3:3" id="Colossians-3-3">For you died, and your life is hidden with Christ in God.</span>
  <span class="verse" title="Colossians 3:4" id="Colossians-3-4">When Christ, our life, is revealed, then you will also be revealed with him in glory.</span>
  <span class="verse" title="Colossians 3:5" id="Colossians-3-5">Put to death therefore your members which are on the earth: sexual immorality, uncleanness, depraved passion, evil desire, and covetousness, which is idolatry;</span>
  <span class="verse" title="Colossians 3:6" id="Colossians-3-6">for which things&#8217; sake the wrath of God comes on the children of disobedience.</span>
  <span class="verse" title="Colossians 3:7" id="Colossians-3-7">You also once walked in those, when you lived in them;</span>
  <span class="verse" title="Colossians 3:8" id="Colossians-3-8">but now you also put them all away: anger, wrath, malice, slander, and shameful speaking out of your mouth.</span>
  <span class="verse" title="Colossians 3:9" id="Colossians-3-9">Don&#8217;t lie to one another, seeing that you have put off the old man with his doings,</span>
  <span class="verse" title="Colossians 3:10" id="Colossians-3-10">and have put on the new man, who is being renewed in knowledge after the image of his Creator,</span>
  <span class="verse" title="Colossians 3:11" id="Colossians-3-11">where there can&#8217;t be Greek and Jew, circumcision and uncircumcision, barbarian, Scythian, bondservant, freeman; but Christ is all, and in all.</span>
  <span class="verse" title="Colossians 3:12" id="Colossians-3-12">Put on therefore, as God&#8217;s chosen ones, holy and beloved, a heart of compassion, kindness, lowliness, humility, and perseverance;</span>
  <span class="verse" title="Colossians 3:13" id="Colossians-3-13">bearing with one another, and forgiving each other, if any man has a complaint against any; even as Christ forgave you, so you also do.</span>
  <span class="verse" title="Colossians 3:14" id="Colossians-3-14">Above all these things, walk in love, which is the bond of perfection.</span>
  <span class="verse" title="Colossians 3:15" id="Colossians-3-15">And let the peace of God rule in your hearts, to which also you were called in one body; and be thankful.</span>
  <span class="verse" title="Colossians 3:16" id="Colossians-3-16">Let the word of Christ dwell in you richly; in all wisdom teaching and admonishing one another with psalms, hymns, and spiritual songs, singing with grace in your heart to the Lord.</span>
  <span class="verse" title="Colossians 3:17" id="Colossians-3-17">Whatever you do, in word or in deed, do all in the name of the Lord Jesus, giving thanks to God the Father, through him.</span>
  <span class="verse" title="Colossians 3:18" id="Colossians-3-18">Wives, be in subjection to your husbands, as is fitting in the Lord.</span>
  <span class="verse" title="Colossians 3:19" id="Colossians-3-19">Husbands, love your wives, and don&#8217;t be bitter against them.</span>
  <span class="verse" title="Colossians 3:20" id="Colossians-3-20">Children, obey your parents in all things, for this pleases the Lord.</span>
  <span class="verse" title="Colossians 3:21" id="Colossians-3-21">Fathers, don&#8217;t provoke your children, so that they won&#8217;t be discouraged.</span>
  <span class="verse" title="Colossians 3:22" id="Colossians-3-22">Servants, obey in all things those who are your masters according to the flesh, not just when they are looking, as men pleasers, but in singleness of heart, fearing God.</span>
  <span class="verse" title="Colossians 3:23" id="Colossians-3-23">And whatever you do, work heartily, as for the Lord, and not for men,</span>
  <span class="verse" title="Colossians 3:24" id="Colossians-3-24">knowing that from the Lord you will receive the reward of the inheritance; for you serve the Lord Christ.</span>
  <span class="verse" title="Colossians 3:25" id="Colossians-3-25">But he who does wrong will receive again for the wrong that he has done, and there is no partiality.</span>
</div>