<div class="chapter" id="Colossians-004">
  <h2>Colossians 4</h2>
  <span class="verse" title="Colossians 4:1" id="Colossians-4-1">Masters, give to your servants that which is just and equal, knowing that you also have a Master in heaven.</span>
  <span class="verse" title="Colossians 4:2" id="Colossians-4-2">Continue steadfastly in prayer, watching therein with thanksgiving;</span>
  <span class="verse" title="Colossians 4:3" id="Colossians-4-3">praying together for us also, that God may open to us a door for the word, to speak the mystery of Christ, for which I am also in bonds;</span>
  <span class="verse" title="Colossians 4:4" id="Colossians-4-4">that I may reveal it as I ought to speak.</span>
  <span class="verse" title="Colossians 4:5" id="Colossians-4-5">Walk in wisdom toward those who are outside, redeeming the time.</span>
  <span class="verse" title="Colossians 4:6" id="Colossians-4-6">Let your speech always be with grace, seasoned with salt, that you may know how you ought to answer each one.</span>
  <span class="verse" title="Colossians 4:7" id="Colossians-4-7">All my affairs will be made known to you by Tychicus, the beloved brother, faithful servant, and fellow bondservant in the Lord.</span>
  <span class="verse" title="Colossians 4:8" id="Colossians-4-8">I am sending him to you for this very purpose, that he may know your circumstances and comfort your hearts,</span>
  <span class="verse" title="Colossians 4:9" id="Colossians-4-9">together with Onesimus, the faithful and beloved brother, who is one of you. They will make known to you everything that is going on here.</span>
  <span class="verse" title="Colossians 4:10" id="Colossians-4-10">Aristarchus, my fellow prisoner, greets you, and Mark, the cousin of Barnabas (concerning whom you received commandments, &#8220;if he comes to you, receive him&#8221;),</span>
  <span class="verse" title="Colossians 4:11" id="Colossians-4-11">and Jesus who is called Justus. These are my only fellow workers for the Kingdom of God who are of the circumcision, men who have been a comfort to me.</span>
  <span class="verse" title="Colossians 4:12" id="Colossians-4-12">Epaphras, who is one of you, a servant of Christ, salutes you, always striving for you in his prayers, that you may stand perfect and complete in all the will of God.</span>
  <span class="verse" title="Colossians 4:13" id="Colossians-4-13">For I testify about him, that he has great zeal for you, and for those in Laodicea, and for those in Hierapolis.</span>
  <span class="verse" title="Colossians 4:14" id="Colossians-4-14">Luke, the beloved physician, and Demas greet you.</span>
  <span class="verse" title="Colossians 4:15" id="Colossians-4-15">Greet the brothers who are in Laodicea, and Nymphas, and the assembly that is in his house.</span>
  <span class="verse" title="Colossians 4:16" id="Colossians-4-16">When this letter has been read among you, cause it to be read also in the assembly of the Laodiceans; and that you also read the letter from Laodicea.</span>
  <span class="verse" title="Colossians 4:17" id="Colossians-4-17">Tell Archippus, &#8220;Take heed to the ministry which you have received in the Lord, that you fulfill it.&#8221;</span>
  <span class="verse" title="Colossians 4:18" id="Colossians-4-18">The salutation of me, Paul, with my own hand: remember my bonds. Grace be with you. Amen.</span>
</div>