development:
  adapter: mysql
  database: onebody_dev
  host: localhost
  username: onebody
  password: onebody
test:
  adapter: mysql
  database: onebody_test
  host: localhost
  username: onebody
  password: onebody
production:
  adapter: mysql
  database: onebody
  host: localhost
  username: onebody
  password: onebody
