production:
  adapter: mysql
  database: onebody
  username: root
  password: somethingsecret

development:
  adapter: mysql
  database: onebody_dev
  username: root
  password: somethingsecret

test:
  adapter: mysql
  database: onebody_test
  username: root
  password: somethingsecret