require File.expand_path("../../lib/rvm_cap", __FILE__)

set :rvm_ruby_string, 'ree@onebody'

# point to your server
set :host, 'beonebody.org'

# if you have multiple servers, point these individually
role :web, host
role :db,  host, :primary => true

# point to your github fork if you have one
set :repository, "git://github.com/seven1m/onebody.git"
set :branch, 'stable' # remove this line if you want bleeding edge or you're pointing to your own repo/fork
set :scm, :git

set :application, 'onebody'
set :user, 'deploy'
set :runner, user
set :repository_cache, 'git_cache'
set :deploy_via, :remote_cache
set :deploy_to, "/var/www/apps/#{application}"
set :copy_exclude, %w(test .git)
set :use_sudo, false
set :rvm_type, :user
