set :application, "onebody"

# create a "deploy" user...
# sudo adduser deploy
# sudo mkdir -p /var/www/apps
# sudo chown deploy:deploy /var/www/apps

set :user, 'deploy'
set :runner, user

set :scm, :git
set :repository, "git://github.com/seven1m/onebody.git"
set :repository_cache, 'git_cache'
set :deploy_via, :remote_cache
set :deploy_to, "/var/www/apps/#{application}"

role :app, 'beonebody.org'
role :web, 'beonebody.org'
role :db,  'beonebody.org', :primary => true

set :thin_servers, 1
set :thin_port, 8000
set :rails_env, 'production'
set :use_sudo, false

# see WEBSERVER.textile for help proxying from your webserver to thin.