development:
  secret_token: SOMETHING_RANDOM_HERE
  secret_key_base: SOMETHING_RANDOM_HERE
  mapquest_api_key: "Fmjtd%7Cluur2g6tlu%2Cbx%3Do5-9a8w5z"
test:
  secret_token: SOMETHING_RANDOM_HERE
  secret_key_base: SOMETHING_RANDOM_HERE
  mapquest_api_key: "Fmjtd%7Cluur2g6tlu%2Cbx%3Do5-9a8w5z"
production:
  secret_token: SOMETHING_RANDOM_HERE
  secret_key_base: SOMETHING_RANDOM_HERE
  mapquest_api_key: "Fmjtd%7Cluur2g6tlu%2Cbx%3Do5-9a8w5z"
