development:
  secret_token: SOMETHING_RANDOM_HERE
  secret_key_base: SOMETHING_RANDOM_HERE
  facebook_auth:
    app_id: YOUR_FACEBOOK_LOGIN_APP_ID
    app_secret: YOUR_FACEBOOK_LOGIN_APP_SECRET
test:
  secret_token: SOMETHING_RANDOM_HERE
  secret_key_base: SOMETHING_RANDOM_HERE
  facebook_auth:
    app_id: YOUR_FACEBOOK_LOGIN_APP_ID
    app_secret: YOUR_FACEBOOK_LOGIN_APP_SECRET
production:
  secret_token: SOMETHING_RANDOM_HERE
  secret_key_base: SOMETHING_RANDOM_HERE
  facebook_auth:
    app_id: YOUR_FACEBOOK_LOGIN_APP_ID
    app_secret: YOUR_FACEBOOK_LOGIN_APP_SECRET
