development:
  secret_token: SOMETHING_RANDOM_HERE
  secret_key_base: SOMETHING_RANDOM_HERE
test:
  secret_token: SOMETHING_RANDOM_HERE
  secret_key_base: SOMETHING_RANDOM_HERE
production:
  secret_token: SOMETHING_RANDOM_HERE
  secret_key_base: SOMETHING_RANDOM_HERE
