<div class="chapter" id="Jonah-001">
  <h2>Jonah 1</h2>
  <span class="verse" title="Jonah 1:1" id="Jonah-1-1">Now the word of Yahweh came to Jonah the son of Amittai, saying,</span>
  <span class="verse" title="Jonah 1:2" id="Jonah-1-2">&#8220;Arise, go to Nineveh, that great city, and preach against it, for their wickedness has come up before me.&#8221;</span>
  <span class="verse" title="Jonah 1:3" id="Jonah-1-3">But Jonah rose up to flee to Tarshish from the presence of Yahweh. He went down to Joppa, and found a ship going to Tarshish; so he paid its fare, and went down into it, to go with them to Tarshish from the presence of Yahweh.</span>
  <span class="verse" title="Jonah 1:4" id="Jonah-1-4">But Yahweh sent out a great wind on the sea, and there was a mighty storm on the sea, so that the ship was likely to break up.</span>
  <span class="verse" title="Jonah 1:5" id="Jonah-1-5">Then the mariners were afraid, and every man cried to his god. They threw the cargo that was in the ship into the sea to lighten the ship. But Jonah had gone down into the innermost parts of the ship, and he was laying down, and was fast asleep.</span>
  <span class="verse" title="Jonah 1:6" id="Jonah-1-6">So the shipmaster came to him, and said to him, &#8220;What do you mean, sleeper? Arise, call on your God! Maybe your God will notice us, so that we won&#8217;t perish.&#8221;</span>
  <span class="verse" title="Jonah 1:7" id="Jonah-1-7">They all said to each other, &#8220;Come, let us cast lots, that we may know who is responsible for this evil that is on us.&#8221; So they cast lots, and the lot fell on Jonah.</span>
  <span class="verse" title="Jonah 1:8" id="Jonah-1-8">Then they asked him, &#8220;Tell us, please, for whose cause this evil is on us. What is your occupation? Where do you come from? What is your country? Of what people are you?&#8221;</span>
  <span class="verse" title="Jonah 1:9" id="Jonah-1-9">He said to them, &#8220;I am a Hebrew, and I fear Yahweh, the God of heaven, who has made the sea and the dry land.&#8221;</span>
  <span class="verse" title="Jonah 1:10" id="Jonah-1-10">Then were the men exceedingly afraid, and said to him, &#8220;What is this that you have done?&#8221; For the men knew that he was fleeing from the presence of Yahweh, because he had told them.</span>
  <span class="verse" title="Jonah 1:11" id="Jonah-1-11">Then they said to him, &#8220;What shall we do to you, that the sea may be calm to us?&#8221; For the sea grew more and more stormy.</span>
  <span class="verse" title="Jonah 1:12" id="Jonah-1-12">He said to them, &#8220;Take me up, and throw me into the sea. Then the sea will be calm for you; for I know that because of me this great storm is on you.&#8221;</span>
  <span class="verse" title="Jonah 1:13" id="Jonah-1-13">Nevertheless the men rowed hard to get them back to the land; but they could not, for the sea grew more and more stormy against them.</span>
  <span class="verse" title="Jonah 1:14" id="Jonah-1-14">Therefore they cried to Yahweh, and said, &#8220;We beg you, Yahweh, we beg you, don&#8217;t let us die for this man&#8217;s life, and don&#8217;t lay on us innocent blood; for you, Yahweh, have done as it pleased you.&#8221;</span>
  <span class="verse" title="Jonah 1:15" id="Jonah-1-15">So they took up Jonah, and threw him into the sea; and the sea ceased its raging.</span>
  <span class="verse" title="Jonah 1:16" id="Jonah-1-16">Then the men feared Yahweh exceedingly; and they offered a sacrifice to Yahweh, and made vows.</span>
  <span class="verse" title="Jonah 1:17" id="Jonah-1-17">Yahweh prepared a great fish to swallow up Jonah, and Jonah was in the belly of the fish three days and three nights.</span>
</div>