<div class="chapter" id="Jonah-002">
  <h2>Jonah 2</h2>
  <span class="verse" title="Jonah 2:1" id="Jonah-2-1">Then Jonah prayed to Yahweh, his God, out of the fish&#8217;s belly.</span>
  <span class="verse" title="Jonah 2:2" id="Jonah-2-2">He said,  &#8220;I called because of my affliction to Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>He answered me.<br/>   Out of the belly of Sheol I cried.<br/> <span class="indent">&nbsp;&nbsp;</span>You heard my voice.<br/></span>
  <span class="verse" title="Jonah 2:3" id="Jonah-2-3">For you threw me into the depths,<br/> <span class="indent">&nbsp;&nbsp;</span>in the heart of the seas.<br/>   The flood was all around me.<br/> <span class="indent">&nbsp;&nbsp;</span>All your waves and your billows passed over me.<br/></span>
  <span class="verse" title="Jonah 2:4" id="Jonah-2-4">I said, &#8216;I have been banished from your sight;<br/> <span class="indent">&nbsp;&nbsp;</span>yet I will look again toward your holy temple.&#8217;<br/></span>
  <span class="verse" title="Jonah 2:5" id="Jonah-2-5">The waters surrounded me,<br/> <span class="indent">&nbsp;&nbsp;</span>even to the soul.<br/>   The deep was around me.<br/> <span class="indent">&nbsp;&nbsp;</span>The weeds were wrapped around my head.<br/></span>
  <span class="verse" title="Jonah 2:6" id="Jonah-2-6">I went down to the bottoms of the mountains.<br/> <span class="indent">&nbsp;&nbsp;</span>The earth barred me in forever:<br/> <span class="indent">&nbsp;&nbsp;</span>yet have you brought up my life from the pit, Yahweh my God.<br/>   <br/></span>
  <span class="verse" title="Jonah 2:7" id="Jonah-2-7">&#8220;When my soul fainted within me, I remembered Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>My prayer came in to you, into your holy temple.<br/></span>
  <span class="verse" title="Jonah 2:8" id="Jonah-2-8">Those who regard lying vanities forsake their own mercy.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Jonah 2:9" id="Jonah-2-9">But I will sacrifice to you with the voice of thanksgiving.<br/> <span class="indent">&nbsp;&nbsp;</span>I will pay that which I have vowed.<br/>   Salvation belongs to Yahweh.&#8221;<br/></span>
  <span class="verse" title="Jonah 2:10" id="Jonah-2-10">Yahweh spoke to the fish, and it vomited out Jonah on the dry land.</span>
</div>