<div class="chapter" id="Jonah-003">
  <h2>Jonah 3</h2>
  <span class="verse" title="Jonah 3:1" id="Jonah-3-1">The word of Yahweh came to Jonah the second time, saying,</span>
  <span class="verse" title="Jonah 3:2" id="Jonah-3-2">&#8220;Arise, go to Nineveh, that great city, and preach to it the message that I give you.&#8221;</span>
  <span class="verse" title="Jonah 3:3" id="Jonah-3-3">So Jonah arose, and went to Nineveh, according to the word of Yahweh. Now Nineveh was an exceedingly great city, three days&#8217; journey across.</span>
  <span class="verse" title="Jonah 3:4" id="Jonah-3-4">Jonah began to enter into the city a day&#8217;s journey, and he cried out, and said, &#8220;In forty days, Nineveh will be overthrown!&#8221;</span>
  <span class="verse" title="Jonah 3:5" id="Jonah-3-5">The people of Nineveh believed God; and they proclaimed a fast, and put on sackcloth, from their greatest even to their least.</span>
  <span class="verse" title="Jonah 3:6" id="Jonah-3-6">The news reached the king of Nineveh, and he arose from his throne, and took off his royal robe, covered himself with sackcloth, and sat in ashes.</span>
  <span class="verse" title="Jonah 3:7" id="Jonah-3-7">He made a proclamation and published through Nineveh by the decree of the king and his nobles, saying, &#8220;Let neither man nor animal, herd nor flock, taste anything; let them not feed, nor drink water;</span>
  <span class="verse" title="Jonah 3:8" id="Jonah-3-8">but let them be covered with sackcloth, both man and animal, and let them cry mightily to God. Yes, let them turn everyone from his evil way, and from the violence that is in his hands.</span>
  <span class="verse" title="Jonah 3:9" id="Jonah-3-9">Who knows whether God will not turn and relent, and turn away from his fierce anger, so that we might not perish?&#8221;</span>
  <span class="verse" title="Jonah 3:10" id="Jonah-3-10">God saw their works, that they turned from their evil way. God relented of the disaster which he said he would do to them, and he didn&#8217;t do it.</span>
</div>