<div class="chapter" id="Jonah-004">
  <h2>Jonah 4</h2>
  <span class="verse" title="Jonah 4:1" id="Jonah-4-1">But it displeased Jonah exceedingly, and he was angry.</span>
  <span class="verse" title="Jonah 4:2" id="Jonah-4-2">He prayed to Yahweh, and said, &#8220;Please, Yahweh, wasn&#8217;t this what I said when I was still in my own country? Therefore I hurried to flee to Tarshish, for I knew that you are a gracious God, and merciful, slow to anger, and abundant in loving kindness, and you relent of doing harm.</span>
  <span class="verse" title="Jonah 4:3" id="Jonah-4-3">Therefore now, Yahweh, take, I beg you, my life from me; for it is better for me to die than to live.&#8221;</span>
  <span class="verse" title="Jonah 4:4" id="Jonah-4-4">Yahweh said, &#8220;Is it right for you to be angry?&#8221;</span>
  <span class="verse" title="Jonah 4:5" id="Jonah-4-5">Then Jonah went out of the city, and sat on the east side of the city, and there made himself a booth, and sat under it in the shade, until he might see what would become of the city.</span>
  <span class="verse" title="Jonah 4:6" id="Jonah-4-6">Yahweh God prepared a vine, and made it to come up over Jonah, that it might be a shade over his head, to deliver him from his discomfort. So Jonah was exceedingly glad because of the vine.</span>
  <span class="verse" title="Jonah 4:7" id="Jonah-4-7">But God prepared a worm at dawn the next day, and it chewed on the vine, so that it withered.</span>
  <span class="verse" title="Jonah 4:8" id="Jonah-4-8">It happened, when the sun arose, that God prepared a sultry east wind; and the sun beat on Jonah&#8217;s head, so that he fainted, and requested for himself that he might die, and said, &#8220;It is better for me to die than to live.&#8221;</span>
  <span class="verse" title="Jonah 4:9" id="Jonah-4-9">God said to Jonah, &#8220;Is it right for you to be angry about the vine?&#8221; He said, &#8220;I am right to be angry, even to death.&#8221;</span>
  <span class="verse" title="Jonah 4:10" id="Jonah-4-10">Yahweh said, &#8220;You have been concerned for the vine, for which you have not labored, neither made it grow; which came up in a night, and perished in a night.</span>
  <span class="verse" title="Jonah 4:11" id="Jonah-4-11">Shouldn&#8217;t I be concerned for Nineveh, that great city, in which are more than one hundred twenty thousand persons who can&#8217;t discern between their right hand and their left hand; and also much livestock?&#8221;</span>
</div>