<% @albums.each do |album| %>
  <div class="picture">
    <%= link_to image_tag(album.cover ? medium_picture_path(album.cover) : 'camera.gif', :alt => t('albums.click_to_view')), album, :title => t('albums.click_to_view') %><br/>
    <%= album.name %>
    <% if album.person %>
      <%= t('by') %> <%= link_to album.person.name, album.person %>
    <% end %>
  </div>
<% end %>
<br clear="both"/>
