<table>
  <% @verses.each do |verse| %>
    <tr>
      <td><%= link_to h(verse.reference), verse %></td>
      <td><%= pluralize(verse.people_count, 'person', 'people') %></td>
    </tr>
  <% end %>
</table>
