<table>
  <% @verses.each do |verse| %>
    <tr>
      <td><%= link_to h(verse.reference), verse %></td>
      <td><%= pluralize(verse.people_count, I18n.t("person"), I18n.t("people")) %></td>
    </tr>
  <% end %>
</table>
