<table>
  <% @verses.each do |verse| %>
    <tr>
      <td><%= link_to verse.reference, verse %></td>
      <td><%= t('people_count', count: verse.people_count) %></td>
    </tr>
  <% end %>
</table>
