<div class="verse">
  <div class="verse-heading">
    <strong><%= link_to verse.reference, verse %></strong>
    <% unless @person %>
      <% if (count = verse.people.count) > 0 %>
        saved by <%= t('people_count', :count => count) %>
      <% end %>
    <% end %>
  </div>
  <div class="verse-body">
    <%= verse.text %>
  </div>
  <% unless @person %>
    <div class="comment-summary">
      <%= render :partial => 'comments/comment_summary', :locals => {:object => verse} %>
    </div>
  <% end %>
</div>
