<% content_for :sidebar do %>
  <%= t('contributions.people_not_synced_count', count: @count_unsynced) %>
  <br/>
  <%= link_to t('contributions.update_donor_tools_now'), sync_contributions_path, class: 'right-icon' %>
<% end %>

<h2>Contributions</h2>

<p>
  <%= link_to image_tag('donortools_logo_small.png', alt: t('contributions.go_to_donor_tools'), class: 'icon'), Donortools::Persona.admin_url, target: '_blank' %>
  <%= link_to t('contributions.go_to_donor_tools'), Donortools::Persona.admin_url, target: '_blank' %>
</p>
