<% content_for :sidebar do %>
  <% if @person %>
    <% if params[:family] %>
      <p><%= link_to t('calendars.family_members_enabled'), '?' %></p>
    <% else %>
      <p><%= link_to t('calendars.family_members_disabled'), '?family=true' %></p>
    <% end %>
  <% end %>
<% end %>

<div class="my_calendar" align="center">
  <iframe src="<%= @cal_url %>" style="border: 0" width="800" height="600" frameborder="0"></iframe>
</div>
