<% content_for :subnav do %>
  <% content_for :subnav do %>
    <li><%= link_to image_tag('user.png', :alt => 'Person', :class => 'icon') + ' Back to ' + h(@person.name), @person %></li>
  <% end %>
  <% if params[:family] %>
    <li><%= link_to image_tag('checkmark.png', :alt => 'enabled', :class => 'icon') + ' Family Members: Shown', '?', :style => 'text-decoration:none;' %></li>
  <% else %>
    <li><%= link_to image_tag('remove.gif', :alt => 'disabled', :class => 'icon') + ' Family Members: Not Shown', '?family=true', :style => 'text-decoration:none;' %></li>
  <% end %>
<% end %>

<div class="my_calendar" align="center">
  <iframe src="<%= @cal_url %>" style="border: 0" width="800" height="600" frameborder="0"></iframe>
</div>