<div class="chapter" id="Leviticus-001">
  <h2>Leviticus 1</h2>
  <span class="verse" title="Leviticus 1:1" id="Leviticus-1-1">Yahweh called to Moses, and spoke to him out of the Tent of Meeting, saying,</span>
  <span class="verse" title="Leviticus 1:2" id="Leviticus-1-2">&#8220;Speak to the children of Israel, and tell them, &#8216;When anyone of you offers an offering to Yahweh, you shall offer your offering of the livestock, from the herd and from the flock.</span>
  <span class="verse" title="Leviticus 1:3" id="Leviticus-1-3">&#8220;&#8216;If his offering is a burnt offering from the herd, he shall offer a male without blemish. He shall offer it at the door of the Tent of Meeting, that he may be accepted before Yahweh.</span>
  <span class="verse" title="Leviticus 1:4" id="Leviticus-1-4">He shall lay his hand on the head of the burnt offering, and it shall be accepted for him to make atonement for him.</span>
  <span class="verse" title="Leviticus 1:5" id="Leviticus-1-5">He shall kill the bull before Yahweh. Aaron&#8217;s sons, the priests, shall present the blood and sprinkle the blood around on the altar that is at the door of the Tent of Meeting.</span>
  <span class="verse" title="Leviticus 1:6" id="Leviticus-1-6">He shall flay the burnt offering, and cut it into pieces.</span>
  <span class="verse" title="Leviticus 1:7" id="Leviticus-1-7">The sons of Aaron the priest shall put fire on the altar, and lay wood in order on the fire;</span>
  <span class="verse" title="Leviticus 1:8" id="Leviticus-1-8">and Aaron&#8217;s sons, the priests, shall lay the pieces, the head, and the fat in order on the wood that is on the fire which is on the altar;</span>
  <span class="verse" title="Leviticus 1:9" id="Leviticus-1-9">but its innards and its legs he shall wash with water. The priest shall burn the whole on the altar, for a burnt offering, an offering made by fire, of a pleasant aroma to Yahweh.</span>
  <span class="verse" title="Leviticus 1:10" id="Leviticus-1-10">&#8220;&#8216;If his offering is from the flock, from the sheep, or from the goats, for a burnt offering, he shall offer a male without blemish.</span>
  <span class="verse" title="Leviticus 1:11" id="Leviticus-1-11">He shall kill it on the north side of the altar before Yahweh. Aaron&#8217;s sons, the priests, shall sprinkle its blood around on the altar.</span>
  <span class="verse" title="Leviticus 1:12" id="Leviticus-1-12">He shall cut it into its pieces, with its head and its fat. The priest shall lay them in order on the wood that is on the fire which is on the altar,</span>
  <span class="verse" title="Leviticus 1:13" id="Leviticus-1-13">but the innards and the legs he shall wash with water. The priest shall offer the whole, and burn it on the altar. It is a burnt offering, an offering made by fire, of a pleasant aroma to Yahweh.</span>
  <span class="verse" title="Leviticus 1:14" id="Leviticus-1-14">&#8220;&#8216;If his offering to Yahweh is a burnt offering of birds, then he shall offer his offering of turtledoves, or of young pigeons.</span>
  <span class="verse" title="Leviticus 1:15" id="Leviticus-1-15">The priest shall bring it to the altar, and wring off its head, and burn it on the altar; and its blood shall be drained out on the side of the altar;</span>
  <span class="verse" title="Leviticus 1:16" id="Leviticus-1-16">and he shall take away its crop with its filth, and cast it beside the altar on the east part, in the place of the ashes.</span>
  <span class="verse" title="Leviticus 1:17" id="Leviticus-1-17">He shall tear it by its wings, but shall not divide it apart. The priest shall burn it on the altar, on the wood that is on the fire. It is a burnt offering, an offering made by fire, of a pleasant aroma to Yahweh.</span>
</div>