<div class="chapter" id="Leviticus-002">
  <h2>Leviticus 2</h2>
  <span class="verse" title="Leviticus 2:1" id="Leviticus-2-1">&#8220;&#8216;When anyone offers an offering of a meal offering to Yahweh, his offering shall be of fine flour; and he shall pour oil on it, and put frankincense on it.</span>
  <span class="verse" title="Leviticus 2:2" id="Leviticus-2-2">He shall bring it to Aaron&#8217;s sons, the priests; and he shall take his handful of its fine flour, and of its oil, with all its frankincense; and the priest shall burn its memorial on the altar, an offering made by fire, of a pleasant aroma to Yahweh.</span>
  <span class="verse" title="Leviticus 2:3" id="Leviticus-2-3">That which is left of the meal offering shall be Aaron&#8217;s and his sons&#8217;. It is a most holy thing of the offerings of Yahweh made by fire.</span>
  <span class="verse" title="Leviticus 2:4" id="Leviticus-2-4">&#8220;&#8216;When you offer an offering of a meal offering baked in the oven, it shall be unleavened cakes of fine flour mixed with oil, or unleavened wafers anointed with oil.</span>
  <span class="verse" title="Leviticus 2:5" id="Leviticus-2-5">If your offering is a meal offering of the griddle, it shall be of unleavened fine flour, mixed with oil.</span>
  <span class="verse" title="Leviticus 2:6" id="Leviticus-2-6">You shall cut it in pieces, and pour oil on it. It is a meal offering.</span>
  <span class="verse" title="Leviticus 2:7" id="Leviticus-2-7">If your offering is a meal offering of the pan, it shall be made of fine flour with oil.</span>
  <span class="verse" title="Leviticus 2:8" id="Leviticus-2-8">You shall bring the meal offering that is made of these things to Yahweh: and it shall be presented to the priest, and he shall bring it to the altar.</span>
  <span class="verse" title="Leviticus 2:9" id="Leviticus-2-9">The priest shall take from the meal offering its memorial, and shall burn it on the altar, an offering made by fire, of a pleasant aroma to Yahweh.</span>
  <span class="verse" title="Leviticus 2:10" id="Leviticus-2-10">That which is left of the meal offering shall be Aaron&#8217;s and his sons&#8217;. It is a thing most holy of the offerings of Yahweh made by fire.</span>
  <span class="verse" title="Leviticus 2:11" id="Leviticus-2-11">&#8220;&#8216;No meal offering, which you shall offer to Yahweh, shall be made with yeast; for you shall burn no yeast, nor any honey, as an offering made by fire to Yahweh.</span>
  <span class="verse" title="Leviticus 2:12" id="Leviticus-2-12">As an offering of firstfruits you shall offer them to Yahweh: but they shall not ascend for a pleasant aroma on the altar.</span>
  <span class="verse" title="Leviticus 2:13" id="Leviticus-2-13">Every offering of your meal offering you shall season with salt; neither shall you allow the salt of the covenant of your God to be lacking from your meal offering. With all your offerings you shall offer salt.</span>
  <span class="verse" title="Leviticus 2:14" id="Leviticus-2-14">&#8220;&#8216;If you offer a meal offering of first fruits to Yahweh, you shall offer for the meal offering of your first fruits grain in the ear parched with fire, bruised grain of the fresh ear.</span>
  <span class="verse" title="Leviticus 2:15" id="Leviticus-2-15">You shall put oil on it, and lay frankincense on it: it is a meal offering.</span>
  <span class="verse" title="Leviticus 2:16" id="Leviticus-2-16">The priest shall burn as its memorial, part of its bruised grain, and part of its oil, along with all its frankincense: it is an offering made by fire to Yahweh.</span>
</div>