<div class="chapter" id="Leviticus-003">
  <h2>Leviticus 3</h2>
  <span class="verse" title="Leviticus 3:1" id="Leviticus-3-1">&#8220;&#8216;If his offering is a sacrifice of peace offerings; if he offers it from the herd, whether male or female, he shall offer it without blemish before Yahweh.</span>
  <span class="verse" title="Leviticus 3:2" id="Leviticus-3-2">He shall lay his hand on the head of his offering, and kill it at the door of the Tent of Meeting: and Aaron&#8217;s sons, the priests shall sprinkle the blood around on the altar.</span>
  <span class="verse" title="Leviticus 3:3" id="Leviticus-3-3">He shall offer of the sacrifice of peace offerings an offering made by fire to Yahweh; the fat that covers the innards, and all the fat that is on the innards,</span>
  <span class="verse" title="Leviticus 3:4" id="Leviticus-3-4">and the two kidneys, and the fat that is on them, which is by the loins, and the cover on the liver, with the kidneys, he shall take away.</span>
  <span class="verse" title="Leviticus 3:5" id="Leviticus-3-5">Aaron&#8217;s sons shall burn it on the altar on the burnt offering, which is on the wood that is on the fire: it is an offering made by fire, of a pleasant aroma to Yahweh.</span>
  <span class="verse" title="Leviticus 3:6" id="Leviticus-3-6">&#8220;&#8216;If his offering for a sacrifice of peace offerings to Yahweh is from the flock; male or female, he shall offer it without blemish.</span>
  <span class="verse" title="Leviticus 3:7" id="Leviticus-3-7">If he offers a lamb for his offering, then he shall offer it before Yahweh;</span>
  <span class="verse" title="Leviticus 3:8" id="Leviticus-3-8">and he shall lay his hand on the head of his offering, and kill it before the Tent of Meeting: and Aaron&#8217;s sons shall sprinkle its blood around on the altar.</span>
  <span class="verse" title="Leviticus 3:9" id="Leviticus-3-9">He shall offer from the sacrifice of peace offerings an offering made by fire to Yahweh; its fat, the entire tail fat, he shall take away close to the backbone; and the fat that covers the inwards, and all the fat that is on the inwards,</span>
  <span class="verse" title="Leviticus 3:10" id="Leviticus-3-10">and the two kidneys, and the fat that is on them, which is by the loins, and the cover on the liver, with the kidneys, he shall take away.</span>
  <span class="verse" title="Leviticus 3:11" id="Leviticus-3-11">The priest shall burn it on the altar: it is the food of the offering made by fire to Yahweh.</span>
  <span class="verse" title="Leviticus 3:12" id="Leviticus-3-12">&#8220;&#8216;If his offering is a goat, then he shall offer it before Yahweh:</span>
  <span class="verse" title="Leviticus 3:13" id="Leviticus-3-13">and he shall lay his hand on its head, and kill it before the Tent of Meeting; and the sons of Aaron shall sprinkle its blood around on the altar.</span>
  <span class="verse" title="Leviticus 3:14" id="Leviticus-3-14">He shall offer from it as his offering, an offering made by fire to Yahweh; the fat that covers the innards, and all the fat that is on the innards,</span>
  <span class="verse" title="Leviticus 3:15" id="Leviticus-3-15">and the two kidneys, and the fat that is on them, which is by the loins, and the cover on the liver, with the kidneys, he shall take away.</span>
  <span class="verse" title="Leviticus 3:16" id="Leviticus-3-16">The priest shall burn them on the altar: it is the food of the offering made by fire, for a pleasant aroma; all the fat is Yahweh&#8217;s.</span>
  <span class="verse" title="Leviticus 3:17" id="Leviticus-3-17">&#8220;&#8216;It shall be a perpetual statute throughout your generations in all your dwellings, that you shall eat neither fat nor blood.&#8217;&#8221;</span>
</div>