<div class="chapter" id="Leviticus-007">
  <h2>Leviticus 7</h2>
  <span class="verse" title="Leviticus 7:1" id="Leviticus-7-1">&#8220;&#8216;This is the law of the trespass offering. It is most holy.</span>
  <span class="verse" title="Leviticus 7:2" id="Leviticus-7-2">In the place where they kill the burnt offering, he shall kill the trespass offering; and its blood he shall sprinkle around on the altar.</span>
  <span class="verse" title="Leviticus 7:3" id="Leviticus-7-3">He shall offer all of its fat: the fat tail, and the fat that covers the innards,</span>
  <span class="verse" title="Leviticus 7:4" id="Leviticus-7-4">and the two kidneys, and the fat that is on them, which is by the loins, and the cover on the liver, with the kidneys, shall he take away;</span>
  <span class="verse" title="Leviticus 7:5" id="Leviticus-7-5">and the priest shall burn them on the altar for an offering made by fire to Yahweh: it is a trespass offering.</span>
  <span class="verse" title="Leviticus 7:6" id="Leviticus-7-6">Every male among the priests may eat of it. It shall be eaten in a holy place. It is most holy.</span>
  <span class="verse" title="Leviticus 7:7" id="Leviticus-7-7">&#8220;&#8216;As is the sin offering, so is the trespass offering; there is one law for them. The priest who makes atonement with them shall have it.</span>
  <span class="verse" title="Leviticus 7:8" id="Leviticus-7-8">The priest who offers any man&#8217;s burnt offering, even the priest shall have for himself the skin of the burnt offering which he has offered.</span>
  <span class="verse" title="Leviticus 7:9" id="Leviticus-7-9">Every meal offering that is baked in the oven, and all that is dressed in the pan, and on the griddle, shall be the priest&#8217;s who offers it.</span>
  <span class="verse" title="Leviticus 7:10" id="Leviticus-7-10">Every meal offering, mixed with oil or dry, belongs to all the sons of Aaron, one as well as another.</span>
  <span class="verse" title="Leviticus 7:11" id="Leviticus-7-11">&#8220;&#8216;This is the law of the sacrifice of peace offerings, which one shall offer to Yahweh.</span>
  <span class="verse" title="Leviticus 7:12" id="Leviticus-7-12">If he offers it for a thanksgiving, then he shall offer with the sacrifice of thanksgiving unleavened cakes mixed with oil, and unleavened wafers anointed with oil, and cakes mixed with oil.</span>
  <span class="verse" title="Leviticus 7:13" id="Leviticus-7-13">With cakes of leavened bread he shall offer his offering with the sacrifice of his peace offerings for thanksgiving.</span>
  <span class="verse" title="Leviticus 7:14" id="Leviticus-7-14">Of it he shall offer one out of each offering for a heave offering to Yahweh. It shall be the priest&#8217;s who sprinkles the blood of the peace offerings.</span>
  <span class="verse" title="Leviticus 7:15" id="Leviticus-7-15">The flesh of the sacrifice of his peace offerings for thanksgiving shall be eaten on the day of his offering. He shall not leave any of it until the morning.</span>
  <span class="verse" title="Leviticus 7:16" id="Leviticus-7-16">&#8220;&#8216;But if the sacrifice of his offering is a vow, or a freewill offering, it shall be eaten on the day that he offers his sacrifice; and on the next day what remains of it shall be eaten:</span>
  <span class="verse" title="Leviticus 7:17" id="Leviticus-7-17">but what remains of the flesh of the sacrifice on the third day shall be burned with fire.</span>
  <span class="verse" title="Leviticus 7:18" id="Leviticus-7-18">If any of the flesh of the sacrifice of his peace offerings is eaten on the third day, it will not be accepted, neither shall it be imputed to him who offers it. It will be an abomination, and the soul who eats any of it will bear his iniquity.</span>
  <span class="verse" title="Leviticus 7:19" id="Leviticus-7-19">&#8220;&#8216;The flesh that touches any unclean thing shall not be eaten. It shall be burned with fire. As for the flesh, everyone who is clean may eat it;</span>
  <span class="verse" title="Leviticus 7:20" id="Leviticus-7-20">but the soul who eats of the flesh of the sacrifice of peace offerings, that belongs to Yahweh, having his uncleanness on him, that soul shall be cut off from his people.</span>
  <span class="verse" title="Leviticus 7:21" id="Leviticus-7-21">When anyone touches any unclean thing, the uncleanness of man, or an unclean animal, or any unclean abomination, and eats some of the flesh of the sacrifice of peace offerings, which belong to Yahweh, that soul shall be cut off from his people.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 7:22" id="Leviticus-7-22">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 7:23" id="Leviticus-7-23">&#8220;Speak to the children of Israel, saying, &#8216;You shall eat no fat, of bull, or sheep, or goat.</span>
  <span class="verse" title="Leviticus 7:24" id="Leviticus-7-24">The fat of that which dies of itself, and the fat of that which is torn of animals, may be used for any other service, but you shall in no way eat of it.</span>
  <span class="verse" title="Leviticus 7:25" id="Leviticus-7-25">For whoever eats the fat of the animal, of which men offer an offering made by fire to Yahweh, even the soul who eats it shall be cut off from his people.</span>
  <span class="verse" title="Leviticus 7:26" id="Leviticus-7-26">You shall not eat any blood, whether it is of bird or of animal, in any of your dwellings.</span>
  <span class="verse" title="Leviticus 7:27" id="Leviticus-7-27">Whoever it is who eats any blood, that soul shall be cut off from his people.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 7:28" id="Leviticus-7-28">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 7:29" id="Leviticus-7-29">&#8220;Speak to the children of Israel, saying, &#8216;He who offers the sacrifice of his peace offerings to Yahweh shall bring his offering to Yahweh out of the sacrifice of his peace offerings.</span>
  <span class="verse" title="Leviticus 7:30" id="Leviticus-7-30">With his own hands he shall bring the offerings of Yahweh made by fire. He shall bring the fat with the breast, that the breast may be waved for a wave offering before Yahweh.</span>
  <span class="verse" title="Leviticus 7:31" id="Leviticus-7-31">The priest shall burn the fat on the altar, but the breast shall be Aaron&#8217;s and his sons&#8217;.</span>
  <span class="verse" title="Leviticus 7:32" id="Leviticus-7-32">The right thigh you shall give to the priest for a heave offering out of the sacrifices of your peace offerings.</span>
  <span class="verse" title="Leviticus 7:33" id="Leviticus-7-33">He among the sons of Aaron who offers the blood of the peace offerings, and the fat, shall have the right thigh for a portion.</span>
  <span class="verse" title="Leviticus 7:34" id="Leviticus-7-34">For the waved breast and the heaved thigh I have taken from the children of Israel out of the sacrifices of their peace offerings, and have given them to Aaron the priest and to his sons as their portion forever from the children of Israel.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 7:35" id="Leviticus-7-35">This is the anointing portion of Aaron, and the anointing portion of his sons, out of the offerings of Yahweh made by fire, in the day when he presented them to minister to Yahweh in the priest&#8217;s office;</span>
  <span class="verse" title="Leviticus 7:36" id="Leviticus-7-36">which Yahweh commanded to be given them of the children of Israel, in the day that he anointed them. It is their portion forever throughout their generations.</span>
  <span class="verse" title="Leviticus 7:37" id="Leviticus-7-37">This is the law of the burnt offering, of the meal offering, and of the sin offering, and of the trespass offering, and of the consecration, and of the sacrifice of peace offerings;</span>
  <span class="verse" title="Leviticus 7:38" id="Leviticus-7-38">which Yahweh commanded Moses in Mount Sinai, in the day that he commanded the children of Israel to offer their offerings to Yahweh, in the wilderness of Sinai.</span>
</div>