<div class="chapter" id="Leviticus-008">
  <h2>Leviticus 8</h2>
  <span class="verse" title="Leviticus 8:1" id="Leviticus-8-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 8:2" id="Leviticus-8-2">&#8220;Take Aaron and his sons with him, and the garments, and the anointing oil, and the bull of the sin offering, and the two rams, and the basket of unleavened bread;</span>
  <span class="verse" title="Leviticus 8:3" id="Leviticus-8-3">and assemble all the congregation at the door of the Tent of Meeting.&#8221;</span>
  <span class="verse" title="Leviticus 8:4" id="Leviticus-8-4">Moses did as Yahweh commanded him; and the congregation was assembled at the door of the Tent of Meeting.</span>
  <span class="verse" title="Leviticus 8:5" id="Leviticus-8-5">Moses said to the congregation, &#8220;This is the thing which Yahweh has commanded to be done.&#8221;</span>
  <span class="verse" title="Leviticus 8:6" id="Leviticus-8-6">Moses brought Aaron and his sons, and washed them with water.</span>
  <span class="verse" title="Leviticus 8:7" id="Leviticus-8-7">He put the coat on him, tied the sash on him, clothed him with the robe, put the ephod on him, and he tied the skillfully woven band of the ephod on him, and fastened it to him with it.</span>
  <span class="verse" title="Leviticus 8:8" id="Leviticus-8-8">He placed the breastplate on him; and in the breastplate he put the Urim and the Thummim.</span>
  <span class="verse" title="Leviticus 8:9" id="Leviticus-8-9">He set the turban on his head; and on the turban, in front, he set the golden plate, the holy crown; as Yahweh commanded Moses.</span>
  <span class="verse" title="Leviticus 8:10" id="Leviticus-8-10">Moses took the anointing oil, and anointed the tabernacle and all that was in it, and sanctified them.</span>
  <span class="verse" title="Leviticus 8:11" id="Leviticus-8-11">He sprinkled it on the altar seven times, and anointed the altar and all its vessels, and the basin and its base, to sanctify them.</span>
  <span class="verse" title="Leviticus 8:12" id="Leviticus-8-12">He poured some of the anointing oil on Aaron&#8217;s head, and anointed him, to sanctify him.</span>
  <span class="verse" title="Leviticus 8:13" id="Leviticus-8-13">Moses brought Aaron&#8217;s sons, and clothed them with coats, and tied sashes on them, and put headbands on them; as Yahweh commanded Moses.</span>
  <span class="verse" title="Leviticus 8:14" id="Leviticus-8-14">He brought the bull of the sin offering, and Aaron and his sons laid their hands on the head of the bull of the sin offering.</span>
  <span class="verse" title="Leviticus 8:15" id="Leviticus-8-15">He killed it; and Moses took the blood, and put it around on the horns of the altar with his finger, and purified the altar, and poured out the blood at the base of the altar, and sanctified it, to make atonement for it.</span>
  <span class="verse" title="Leviticus 8:16" id="Leviticus-8-16">He took all the fat that was on the innards, and the cover of the liver, and the two kidneys, and their fat; and Moses burned it on the altar.</span>
  <span class="verse" title="Leviticus 8:17" id="Leviticus-8-17">But the bull, and its skin, and its flesh, and its dung, he burned with fire outside the camp; as Yahweh commanded Moses.</span>
  <span class="verse" title="Leviticus 8:18" id="Leviticus-8-18">He presented the ram of the burnt offering: and Aaron and his sons laid their hands on the head of the ram.</span>
  <span class="verse" title="Leviticus 8:19" id="Leviticus-8-19">He killed it; and Moses sprinkled the blood around on the altar.</span>
  <span class="verse" title="Leviticus 8:20" id="Leviticus-8-20">He cut the ram into its pieces; and Moses burned the head, and the pieces, and the fat.</span>
  <span class="verse" title="Leviticus 8:21" id="Leviticus-8-21">He washed the innards and the legs with water; and Moses burned the whole ram on the altar. It was a burnt offering for a pleasant aroma. It was an offering made by fire to Yahweh; as Yahweh commanded Moses.</span>
  <span class="verse" title="Leviticus 8:22" id="Leviticus-8-22">He presented the other ram, the ram of consecration: and Aaron and his sons laid their hands on the head of the ram.</span>
  <span class="verse" title="Leviticus 8:23" id="Leviticus-8-23">He killed it; and Moses took some of its blood, and put it on the tip of Aaron&#8217;s right ear, and on the thumb of his right hand, and on the great toe of his right foot.</span>
  <span class="verse" title="Leviticus 8:24" id="Leviticus-8-24">He brought Aaron&#8217;s sons; and Moses put some of the blood on the tip of their right ear, and on the thumb of their right hand, and on the great toe of their right foot; and Moses sprinkled the blood around on the altar.</span>
  <span class="verse" title="Leviticus 8:25" id="Leviticus-8-25">He took the fat, and the fat tail, and all the fat that was on the innards, and the cover of the liver, and the two kidneys, and their fat, and the right thigh;</span>
  <span class="verse" title="Leviticus 8:26" id="Leviticus-8-26">and out of the basket of unleavened bread, that was before Yahweh, he took one unleavened cake, and one cake of oiled bread, and one wafer, and placed them on the fat, and on the right thigh.</span>
  <span class="verse" title="Leviticus 8:27" id="Leviticus-8-27">He put all these in Aaron&#8217;s hands and in his sons&#8217; hands, and waved them for a wave offering before Yahweh.</span>
  <span class="verse" title="Leviticus 8:28" id="Leviticus-8-28">Moses took them from their hands, and burned them on the altar on the burnt offering. They were a consecration for a pleasant aroma. It was an offering made by fire to Yahweh.</span>
  <span class="verse" title="Leviticus 8:29" id="Leviticus-8-29">Moses took the breast, and waved it for a wave offering before Yahweh. It was Moses&#8217; portion of the ram of consecration, as Yahweh commanded Moses.</span>
  <span class="verse" title="Leviticus 8:30" id="Leviticus-8-30">Moses took some of the anointing oil, and some of the blood which was on the altar, and sprinkled it on Aaron, on his garments, and on his sons, and on his sons&#8217; garments with him, and sanctified Aaron, his garments, and his sons, and his sons&#8217; garments with him.</span>
  <span class="verse" title="Leviticus 8:31" id="Leviticus-8-31">Moses said to Aaron and to his sons, &#8220;Boil the flesh at the door of the Tent of Meeting, and there eat it and the bread that is in the basket of consecration, as I commanded, saying, &#8216;Aaron and his sons shall eat it.&#8217;</span>
  <span class="verse" title="Leviticus 8:32" id="Leviticus-8-32">What remains of the flesh and of the bread you shall burn with fire.</span>
  <span class="verse" title="Leviticus 8:33" id="Leviticus-8-33">You shall not go out from the door of the Tent of Meeting seven days, until the days of your consecration are fulfilled: for he shall consecrate you seven days.</span>
  <span class="verse" title="Leviticus 8:34" id="Leviticus-8-34">What has been done this day, so Yahweh has commanded to do, to make atonement for you.</span>
  <span class="verse" title="Leviticus 8:35" id="Leviticus-8-35">You shall stay at the door of the Tent of Meeting day and night seven days, and keep Yahweh&#8217;s command, that you don&#8217;t die: for so I am commanded.&#8221;</span>
  <span class="verse" title="Leviticus 8:36" id="Leviticus-8-36">Aaron and his sons did all the things which Yahweh commanded by Moses.</span>
</div>