<div class="chapter" id="Leviticus-009">
  <h2>Leviticus 9</h2>
  <span class="verse" title="Leviticus 9:1" id="Leviticus-9-1">It happened on the eighth day, that Moses called Aaron and his sons, and the elders of Israel;</span>
  <span class="verse" title="Leviticus 9:2" id="Leviticus-9-2">and he said to Aaron, &#8220;Take a calf from the herd for a sin offering, and a ram for a burnt offering, without blemish, and offer them before Yahweh.</span>
  <span class="verse" title="Leviticus 9:3" id="Leviticus-9-3">You shall speak to the children of Israel, saying, &#8216;Take a male goat for a sin offering; and a calf and a lamb, both a year old, without blemish, for a burnt offering;</span>
  <span class="verse" title="Leviticus 9:4" id="Leviticus-9-4">and a bull and a ram for peace offerings, to sacrifice before Yahweh; and a meal offering mixed with oil: for today Yahweh appears to you.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 9:5" id="Leviticus-9-5">They brought what Moses commanded before the Tent of Meeting: and all the congregation drew near and stood before Yahweh.</span>
  <span class="verse" title="Leviticus 9:6" id="Leviticus-9-6">Moses said, &#8220;This is the thing which Yahweh commanded that you should do: and the glory of Yahweh shall appear to you.&#8221;</span>
  <span class="verse" title="Leviticus 9:7" id="Leviticus-9-7">Moses said to Aaron, &#8220;Draw near to the altar, and offer your sin offering, and your burnt offering, and make atonement for yourself, and for the people; and offer the offering of the people, and make atonement for them; as Yahweh commanded.&#8221;</span>
  <span class="verse" title="Leviticus 9:8" id="Leviticus-9-8">So Aaron drew near to the altar, and killed the calf of the sin offering, which was for himself.</span>
  <span class="verse" title="Leviticus 9:9" id="Leviticus-9-9">The sons of Aaron presented the blood to him; and he dipped his finger in the blood, and put it on the horns of the altar, and poured out the blood at the base of the altar:</span>
  <span class="verse" title="Leviticus 9:10" id="Leviticus-9-10">but the fat, and the kidneys, and the cover from the liver of the sin offering, he burned upon the altar; as Yahweh commanded Moses.</span>
  <span class="verse" title="Leviticus 9:11" id="Leviticus-9-11">The flesh and the skin he burned with fire outside the camp.</span>
  <span class="verse" title="Leviticus 9:12" id="Leviticus-9-12">He killed the burnt offering; and Aaron&#8217;s sons delivered the blood to him, and he sprinkled it around on the altar.</span>
  <span class="verse" title="Leviticus 9:13" id="Leviticus-9-13">They delivered the burnt offering to him, piece by piece, and the head: and he burned them upon the altar.</span>
  <span class="verse" title="Leviticus 9:14" id="Leviticus-9-14">He washed the innards and the legs, and burned them on the burnt offering on the altar.</span>
  <span class="verse" title="Leviticus 9:15" id="Leviticus-9-15">He presented the people&#8217;s offering, and took the goat of the sin offering which was for the people, and killed it, and offered it for sin, like the first.</span>
  <span class="verse" title="Leviticus 9:16" id="Leviticus-9-16">He presented the burnt offering, and offered it according to the ordinance.</span>
  <span class="verse" title="Leviticus 9:17" id="Leviticus-9-17">He presented the meal offering, and filled his hand from there, and burned it upon the altar, besides the burnt offering of the morning.</span>
  <span class="verse" title="Leviticus 9:18" id="Leviticus-9-18">He also killed the bull and the ram, the sacrifice of peace offerings, which was for the people: and Aaron&#8217;s sons delivered to him the blood, which he sprinkled around on the altar,</span>
  <span class="verse" title="Leviticus 9:19" id="Leviticus-9-19">and the fat of the bull and of the ram, the fat tail, and that which covers the innards, and the kidneys, and the cover of the liver:</span>
  <span class="verse" title="Leviticus 9:20" id="Leviticus-9-20">and they put the fat upon the breasts, and he burned the fat on the altar:</span>
  <span class="verse" title="Leviticus 9:21" id="Leviticus-9-21">and the breasts and the right thigh Aaron waved for a wave offering before Yahweh, as Moses commanded.</span>
  <span class="verse" title="Leviticus 9:22" id="Leviticus-9-22">Aaron lifted up his hands toward the people, and blessed them; and he came down from offering the sin offering, and the burnt offering, and the peace offerings.</span>
  <span class="verse" title="Leviticus 9:23" id="Leviticus-9-23">Moses and Aaron went into the Tent of Meeting, and came out, and blessed the people: and the glory of Yahweh appeared to all the people.</span>
  <span class="verse" title="Leviticus 9:24" id="Leviticus-9-24">There came forth fire from before Yahweh, and consumed the burnt offering and the fat upon the altar: and when all the people saw it, they shouted, and fell on their faces.</span>
</div>