<div class="chapter" id="Leviticus-011">
  <h2>Leviticus 11</h2>
  <span class="verse" title="Leviticus 11:1" id="Leviticus-11-1">Yahweh spoke to Moses and to Aaron, saying to them,</span>
  <span class="verse" title="Leviticus 11:2" id="Leviticus-11-2">&#8220;Speak to the children of Israel, saying, &#8216;These are the living things which you may eat among all the animals that are on the earth.</span>
  <span class="verse" title="Leviticus 11:3" id="Leviticus-11-3">Whatever parts the hoof, and is cloven-footed, and chews the cud among the animals, that you may eat.</span>
  <span class="verse" title="Leviticus 11:4" id="Leviticus-11-4">&#8220;&#8216;Nevertheless these you shall not eat of those that chew the cud, or of those who part the hoof: the camel, because he chews the cud but doesn&#8217;t have a parted hoof, he is unclean to you.</span>
  <span class="verse" title="Leviticus 11:5" id="Leviticus-11-5">The coney, because he chews the cud but doesn&#8217;t have a parted hoof, he is unclean to you.</span>
  <span class="verse" title="Leviticus 11:6" id="Leviticus-11-6">The hare, because she chews the cud but doesn&#8217;t part the hoof, she is unclean to you.</span>
  <span class="verse" title="Leviticus 11:7" id="Leviticus-11-7">The pig, because he has a split hoof, and is cloven-footed, but doesn&#8217;t chew the cud, he is unclean to you.</span>
  <span class="verse" title="Leviticus 11:8" id="Leviticus-11-8">Of their flesh you shall not eat, and their carcasses you shall not touch; they are unclean to you.</span>
  <span class="verse" title="Leviticus 11:9" id="Leviticus-11-9">&#8220;&#8216;These you may eat of all that are in the waters: whatever has fins and scales in the waters, in the seas, and in the rivers, that you may eat.</span>
  <span class="verse" title="Leviticus 11:10" id="Leviticus-11-10">All that don&#8217;t have fins and scales in the seas, and in the rivers, of all that move in the waters, and of all the living creatures that are in the waters, they are an abomination to you,</span>
  <span class="verse" title="Leviticus 11:11" id="Leviticus-11-11">and you detest them. You shall not eat of their flesh, and you shall detest their carcasses.</span>
  <span class="verse" title="Leviticus 11:12" id="Leviticus-11-12">Whatever has no fins nor scales in the waters, that is an abomination to you.</span>
  <span class="verse" title="Leviticus 11:13" id="Leviticus-11-13">&#8220;&#8216;These you shall detest among the birds; they shall not be eaten, they are an abomination: the eagle, and the vulture, and the black vulture,</span>
  <span class="verse" title="Leviticus 11:14" id="Leviticus-11-14">and the red kite, any kind of black kite,</span>
  <span class="verse" title="Leviticus 11:15" id="Leviticus-11-15">any kind of raven,</span>
  <span class="verse" title="Leviticus 11:16" id="Leviticus-11-16">the horned owl, the screech owl, and the gull, any kind of hawk,</span>
  <span class="verse" title="Leviticus 11:17" id="Leviticus-11-17">the little owl, the cormorant, the great owl,</span>
  <span class="verse" title="Leviticus 11:18" id="Leviticus-11-18">the white owl, the desert owl, the osprey,</span>
  <span class="verse" title="Leviticus 11:19" id="Leviticus-11-19">the stork, any kind of heron, the hoopoe, and the bat.</span>
  <span class="verse" title="Leviticus 11:20" id="Leviticus-11-20">&#8220;&#8216;All flying insects that walk on all fours are an abomination to you.</span>
  <span class="verse" title="Leviticus 11:21" id="Leviticus-11-21">Yet you may eat these: of all winged creeping things that go on all fours, which have legs above their feet, with which to hop on the earth.</span>
  <span class="verse" title="Leviticus 11:22" id="Leviticus-11-22">Even of these you may eat: any kind of locust, any kind of katydid, any kind of cricket, and any kind of grasshopper.</span>
  <span class="verse" title="Leviticus 11:23" id="Leviticus-11-23">But all winged creeping things which have four feet, are an abomination to you.</span>
  <span class="verse" title="Leviticus 11:24" id="Leviticus-11-24">&#8220;&#8216;By these you will become unclean: whoever touches their carcass shall be unclean until the evening.</span>
  <span class="verse" title="Leviticus 11:25" id="Leviticus-11-25">Whoever carries any part of their carcass shall wash his clothes, and be unclean until the evening.</span>
  <span class="verse" title="Leviticus 11:26" id="Leviticus-11-26">&#8220;&#8216;Every animal which parts the hoof, and is not cloven-footed, nor chews the cud, is unclean to you. Everyone who touches them shall be unclean.</span>
  <span class="verse" title="Leviticus 11:27" id="Leviticus-11-27">Whatever goes on its paws, among all animals that go on all fours, they are unclean to you. Whoever touches their carcass shall be unclean until the evening.</span>
  <span class="verse" title="Leviticus 11:28" id="Leviticus-11-28">He who carries their carcass shall wash his clothes, and be unclean until the evening. They are unclean to you.</span>
  <span class="verse" title="Leviticus 11:29" id="Leviticus-11-29">&#8220;&#8216;These are they which are unclean to you among the creeping things that creep on the earth: the weasel, the rat, any kind of great lizard,</span>
  <span class="verse" title="Leviticus 11:30" id="Leviticus-11-30">the gecko, and the monitor lizard, the wall lizard, the skink, and the chameleon.</span>
  <span class="verse" title="Leviticus 11:31" id="Leviticus-11-31">These are they which are unclean to you among all that creep. Whoever touches them when they are dead, shall be unclean until the evening.</span>
  <span class="verse" title="Leviticus 11:32" id="Leviticus-11-32">On whatever any of them falls when they are dead, it shall be unclean; whether it is any vessel of wood, or clothing, or skin, or sack, whatever vessel it is, with which any work is done, it must be put into water, and it shall be unclean until the evening; then it will be clean.</span>
  <span class="verse" title="Leviticus 11:33" id="Leviticus-11-33">Every earthen vessel, into which any of them falls, all that is in it shall be unclean, and you shall break it.</span>
  <span class="verse" title="Leviticus 11:34" id="Leviticus-11-34">All food which may be eaten, that on which water comes, shall be unclean; and all drink that may be drunk in every such vessel shall be unclean.</span>
  <span class="verse" title="Leviticus 11:35" id="Leviticus-11-35">Everything whereupon part of their carcass falls shall be unclean; whether oven, or range for pots, it shall be broken in pieces: they are unclean, and shall be unclean to you.</span>
  <span class="verse" title="Leviticus 11:36" id="Leviticus-11-36">Nevertheless a spring or a cistern in which water is a gathered shall be clean: but that which touches their carcass shall be unclean.</span>
  <span class="verse" title="Leviticus 11:37" id="Leviticus-11-37">If part of their carcass falls on any sowing seed which is to be sown, it is clean.</span>
  <span class="verse" title="Leviticus 11:38" id="Leviticus-11-38">But if water is put on the seed, and part of their carcass falls on it, it is unclean to you.</span>
  <span class="verse" title="Leviticus 11:39" id="Leviticus-11-39">&#8220;&#8216;If any animal, of which you may eat, dies; he who touches its carcass shall be unclean until the evening.</span>
  <span class="verse" title="Leviticus 11:40" id="Leviticus-11-40">He who eats of its carcass shall wash his clothes, and be unclean until the evening. He also who carries its carcass shall wash his clothes, and be unclean until the evening.</span>
  <span class="verse" title="Leviticus 11:41" id="Leviticus-11-41">&#8220;&#8216;Every creeping thing that creeps on the earth is an abomination. It shall not be eaten.</span>
  <span class="verse" title="Leviticus 11:42" id="Leviticus-11-42">Whatever goes on its belly, and whatever goes on all fours, or whatever has many feet, even all creeping things that creep on the earth, them you shall not eat; for they are an abomination.</span>
  <span class="verse" title="Leviticus 11:43" id="Leviticus-11-43">You shall not make yourselves abominable with any creeping thing that creeps, neither shall you make yourselves unclean with them, that you should be defiled thereby.</span>
  <span class="verse" title="Leviticus 11:44" id="Leviticus-11-44">For I am Yahweh your God. Sanctify yourselves therefore, and be holy; for I am holy: neither shall you defile yourselves with any kind of creeping thing that moves on the earth.</span>
  <span class="verse" title="Leviticus 11:45" id="Leviticus-11-45">For I am Yahweh who brought you up out of the land of Egypt, to be your God. You shall therefore be holy, for I am holy.</span>
  <span class="verse" title="Leviticus 11:46" id="Leviticus-11-46">&#8220;&#8216;This is the law of the animal, and of the bird, and of every living creature that moves in the waters, and of every creature that creeps on the earth,</span>
  <span class="verse" title="Leviticus 11:47" id="Leviticus-11-47">to make a distinction between the unclean and the clean, and between the living thing that may be eaten and the living thing that may not be eaten.&#8217;&#8221;</span>
</div>