<div class="chapter" id="Leviticus-012">
  <h2>Leviticus 12</h2>
  <span class="verse" title="Leviticus 12:1" id="Leviticus-12-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 12:2" id="Leviticus-12-2">&#8220;Speak to the children of Israel, saying, &#8216;If a woman conceives, and bears a male child, then she shall be unclean seven days; as in the days of her monthly period she shall be unclean.</span>
  <span class="verse" title="Leviticus 12:3" id="Leviticus-12-3">In the eighth day the flesh of his foreskin shall be circumcised.</span>
  <span class="verse" title="Leviticus 12:4" id="Leviticus-12-4">She shall continue in the blood of purification thirty-three days. She shall not touch any holy thing, nor come into the sanctuary, until the days of her purifying are completed.</span>
  <span class="verse" title="Leviticus 12:5" id="Leviticus-12-5">But if she bears a female child, then she shall be unclean two weeks, as in her period; and she shall continue in the blood of purification sixty-six days.</span>
  <span class="verse" title="Leviticus 12:6" id="Leviticus-12-6">&#8220;&#8216;When the days of her purification are completed, for a son, or for a daughter, she shall bring to the priest at the door of the Tent of Meeting, a year old lamb for a burnt offering, and a young pigeon, or a turtledove, for a sin offering:</span>
  <span class="verse" title="Leviticus 12:7" id="Leviticus-12-7">and he shall offer it before Yahweh, and make atonement for her; and she shall be cleansed from the fountain of her blood. &#8220;&#8216;This is the law for her who bears, whether a male or a female.</span>
  <span class="verse" title="Leviticus 12:8" id="Leviticus-12-8">If she cannot afford a lamb, then she shall take two turtledoves, or two young pigeons; the one for a burnt offering, and the other for a sin offering: and the priest shall make atonement for her, and she shall be clean.&#8217;&#8221;</span>
</div>