<div class="chapter" id="Leviticus-018">
  <h2>Leviticus 18</h2>
  <span class="verse" title="Leviticus 18:1" id="Leviticus-18-1">Yahweh said to Moses,</span>
  <span class="verse" title="Leviticus 18:2" id="Leviticus-18-2">&#8220;Speak to the children of Israel, and say to them, &#8216;I am Yahweh your God.</span>
  <span class="verse" title="Leviticus 18:3" id="Leviticus-18-3">You shall not do as they do in the land of Egypt, where you lived: and you shall not do as they do in the land of Canaan, where I am bringing you; neither shall you walk in their statutes.</span>
  <span class="verse" title="Leviticus 18:4" id="Leviticus-18-4">You shall do my ordinances, and you shall keep my statutes, and walk in them: I am Yahweh your God.</span>
  <span class="verse" title="Leviticus 18:5" id="Leviticus-18-5">You shall therefore keep my statutes and my ordinances; which if a man does, he shall live in them: I am Yahweh.</span>
  <span class="verse" title="Leviticus 18:6" id="Leviticus-18-6">&#8220;&#8216;None of you shall approach anyone who are his close relatives, to uncover their nakedness: I am Yahweh.</span>
  <span class="verse" title="Leviticus 18:7" id="Leviticus-18-7">&#8220;&#8216;You shall not uncover the nakedness of your father, nor the nakedness of your mother: she is your mother. You shall not uncover her nakedness.</span>
  <span class="verse" title="Leviticus 18:8" id="Leviticus-18-8">&#8220;&#8216;You shall not uncover the nakedness of your father&#8217;s wife: it is your father&#8217;s nakedness.</span>
  <span class="verse" title="Leviticus 18:9" id="Leviticus-18-9">&#8220;&#8216;You shall not uncover the nakedness of your sister, the daughter of your father, or the daughter of your mother, whether born at home, or born abroad.</span>
  <span class="verse" title="Leviticus 18:10" id="Leviticus-18-10">&#8220;&#8216;You shall not uncover the nakedness of your son&#8217;s daughter, or of your daughter&#8217;s daughter, even their nakedness: for theirs is your own nakedness.</span>
  <span class="verse" title="Leviticus 18:11" id="Leviticus-18-11">&#8220;&#8216;You shall not uncover the nakedness of your father&#8217;s wife&#8217;s daughter, conceived by your father, since she is your sister.</span>
  <span class="verse" title="Leviticus 18:12" id="Leviticus-18-12">&#8220;&#8216;You shall not uncover the nakedness of your father&#8217;s sister: she is your father&#8217;s near kinswoman.</span>
  <span class="verse" title="Leviticus 18:13" id="Leviticus-18-13">&#8220;&#8216;You shall not uncover the nakedness of your mother&#8217;s sister: for she is your mother&#8217;s near kinswoman.</span>
  <span class="verse" title="Leviticus 18:14" id="Leviticus-18-14">&#8220;&#8216;You shall not uncover the nakedness of your father&#8217;s brother, you shall not approach his wife: she is your aunt.</span>
  <span class="verse" title="Leviticus 18:15" id="Leviticus-18-15">&#8220;&#8216;You shall not uncover the nakedness of your daughter-in-law: she is your son&#8217;s wife. You shall not uncover her nakedness.</span>
  <span class="verse" title="Leviticus 18:16" id="Leviticus-18-16">&#8220;&#8216;You shall not uncover the nakedness of your brother&#8217;s wife: it is your brother&#8217;s nakedness.</span>
  <span class="verse" title="Leviticus 18:17" id="Leviticus-18-17">&#8220;&#8216;You shall not uncover the nakedness of a woman and her daughter. You shall not take her son&#8217;s daughter, or her daughter&#8217;s daughter, to uncover her nakedness; they are near kinswomen: it is wickedness.</span>
  <span class="verse" title="Leviticus 18:18" id="Leviticus-18-18">&#8220;&#8216;You shall not take a wife to her sister, to be a rival, to uncover her nakedness, while her sister is yet alive.</span>
  <span class="verse" title="Leviticus 18:19" id="Leviticus-18-19">&#8220;&#8216;You shall not approach a woman to uncover her nakedness, as long as she is impure by her uncleanness.</span>
  <span class="verse" title="Leviticus 18:20" id="Leviticus-18-20">&#8220;&#8216;You shall not lie carnally with your neighbor&#8217;s wife, and defile yourself with her.</span>
  <span class="verse" title="Leviticus 18:21" id="Leviticus-18-21">&#8220;&#8216;You shall not give any of your children to sacrifice to Molech; neither shall you profane the name of your God: I am Yahweh.</span>
  <span class="verse" title="Leviticus 18:22" id="Leviticus-18-22">&#8220;&#8216;You shall not lie with a man, as with a woman. That is detestable.</span>
  <span class="verse" title="Leviticus 18:23" id="Leviticus-18-23">&#8220;&#8216;You shall not lie with any animal to defile yourself with it; neither shall any woman give herself to an animal, to lie down with it: it is a perversion.</span>
  <span class="verse" title="Leviticus 18:24" id="Leviticus-18-24">&#8220;&#8216;Don&#8217;t defile yourselves in any of these things: for in all these the nations which I am casting out before you were defiled.</span>
  <span class="verse" title="Leviticus 18:25" id="Leviticus-18-25">The land was defiled: therefore I punished its iniquity, and the land vomited out her inhabitants.</span>
  <span class="verse" title="Leviticus 18:26" id="Leviticus-18-26">You therefore shall keep my statutes and my ordinances, and shall not do any of these abominations; neither the native-born, nor the stranger who lives as a foreigner among you;</span>
  <span class="verse" title="Leviticus 18:27" id="Leviticus-18-27">(for all these abominations have the men of the land done, that were before you, and the land became defiled);</span>
  <span class="verse" title="Leviticus 18:28" id="Leviticus-18-28">that the land not vomit you out also, when you defile it, as it vomited out the nation that was before you.</span>
  <span class="verse" title="Leviticus 18:29" id="Leviticus-18-29">&#8220;&#8216;For whoever shall do any of these abominations, even the souls that do them shall be cut off from among their people.</span>
  <span class="verse" title="Leviticus 18:30" id="Leviticus-18-30">Therefore you shall keep my requirements, that you do not practice any of these abominable customs, which were practiced before you, and that you do not defile yourselves with them: I am Yahweh your God.&#8217;&#8221;</span>
</div>