<div class="chapter" id="Leviticus-019">
  <h2>Leviticus 19</h2>
  <span class="verse" title="Leviticus 19:1" id="Leviticus-19-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 19:2" id="Leviticus-19-2">&#8220;Speak to all the congregation of the children of Israel, and tell them, &#8216;You shall be holy; for I Yahweh your God am holy.</span>
  <span class="verse" title="Leviticus 19:3" id="Leviticus-19-3">&#8220;&#8216;Each one of you shall respect his mother and his father. You shall keep my Sabbaths. I am Yahweh your God.</span>
  <span class="verse" title="Leviticus 19:4" id="Leviticus-19-4">&#8220;&#8216;Don&#8217;t turn to idols, nor make molten gods for yourselves. I am Yahweh your God.</span>
  <span class="verse" title="Leviticus 19:5" id="Leviticus-19-5">&#8220;&#8216;When you offer a sacrifice of peace offerings to Yahweh, you shall offer it so that you may be accepted.</span>
  <span class="verse" title="Leviticus 19:6" id="Leviticus-19-6">It shall be eaten the same day you offer it, and on the next day: and if anything remains until the third day, it shall be burned with fire.</span>
  <span class="verse" title="Leviticus 19:7" id="Leviticus-19-7">If it is eaten at all on the third day, it is an abomination. It will not be accepted;</span>
  <span class="verse" title="Leviticus 19:8" id="Leviticus-19-8">but everyone who eats it shall bear his iniquity, because he has profaned the holy thing of Yahweh, and that soul shall be cut off from his people.</span>
  <span class="verse" title="Leviticus 19:9" id="Leviticus-19-9">&#8220;&#8216;When you reap the harvest of your land, you shall not wholly reap the corners of your field, neither shall you gather the gleanings of your harvest.</span>
  <span class="verse" title="Leviticus 19:10" id="Leviticus-19-10">You shall not glean your vineyard, neither shall you gather the fallen grapes of your vineyard; you shall leave them for the poor and for the foreigner. I am Yahweh your God.</span>
  <span class="verse" title="Leviticus 19:11" id="Leviticus-19-11">&#8220;&#8216;You shall not steal. &#8220;&#8216;You shall not lie. &#8220;&#8216;You shall not deceive one another.</span>
  <span class="verse" title="Leviticus 19:12" id="Leviticus-19-12">&#8220;&#8216;You shall not swear by my name falsely, and profane the name of your God. I am Yahweh.</span>
  <span class="verse" title="Leviticus 19:13" id="Leviticus-19-13">&#8220;&#8216;You shall not oppress your neighbor, nor rob him. &#8220;&#8216;The wages of a hired servant shall not remain with you all night until the morning.</span>
  <span class="verse" title="Leviticus 19:14" id="Leviticus-19-14">&#8220;&#8216;You shall not curse the deaf, nor put a stumbling block before the blind; but you shall fear your God. I am Yahweh.</span>
  <span class="verse" title="Leviticus 19:15" id="Leviticus-19-15">&#8220;&#8216;You shall do no injustice in judgment: you shall not be partial to the poor, nor show favoritism to the great; but you shall judge your neighbor in righteousness.</span>
  <span class="verse" title="Leviticus 19:16" id="Leviticus-19-16">&#8220;&#8216;You shall not go up and down as a slanderer among your people. &#8220;&#8216;You shall not endanger the life of your neighbor. I am Yahweh.</span>
  <span class="verse" title="Leviticus 19:17" id="Leviticus-19-17">&#8220;&#8216;You shall not hate your brother in your heart. You shall surely rebuke your neighbor, and not bear sin because of him.</span>
  <span class="verse" title="Leviticus 19:18" id="Leviticus-19-18">&#8220;&#8216;You shall not take vengeance, nor bear any grudge against the children of your people; but you shall love your neighbor as yourself. I am Yahweh.</span>
  <span class="verse" title="Leviticus 19:19" id="Leviticus-19-19">&#8220;&#8216;You shall keep my statutes. &#8220;&#8216;You shall not crossbreed different kinds of animals. &#8220;&#8216;you shall not sow your field with two kinds of seed; &#8220;&#8216;neither shall there come upon on you a garment made of two kinds of material.</span>
  <span class="verse" title="Leviticus 19:20" id="Leviticus-19-20">&#8220;&#8216;If a man lies carnally with a woman who is a slave girl, pledged to be married to another man, and not ransomed, or given her freedom; they shall be punished. They shall not be put to death, because she was not free.</span>
  <span class="verse" title="Leviticus 19:21" id="Leviticus-19-21">He shall bring his trespass offering to Yahweh, to the door of the Tent of Meeting, even a ram for a trespass offering.</span>
  <span class="verse" title="Leviticus 19:22" id="Leviticus-19-22">The priest shall make atonement for him with the ram of the trespass offering before Yahweh for his sin which he has committed: and the sin which he has committed shall be forgiven him.</span>
  <span class="verse" title="Leviticus 19:23" id="Leviticus-19-23">&#8220;&#8216;When you come into the land, and have planted all kinds of trees for food, then you shall count their fruit as forbidden. Three years shall they be forbidden to you. It shall not be eaten.</span>
  <span class="verse" title="Leviticus 19:24" id="Leviticus-19-24">But in the fourth year all its fruit shall be holy, for giving praise to Yahweh.</span>
  <span class="verse" title="Leviticus 19:25" id="Leviticus-19-25">In the fifth year you shall eat its fruit, that it may yield its increase to you. I am Yahweh your God.</span>
  <span class="verse" title="Leviticus 19:26" id="Leviticus-19-26">&#8220;&#8216;You shall not eat any meat with the blood still in it; neither shall you use enchantments, nor practice sorcery.</span>
  <span class="verse" title="Leviticus 19:27" id="Leviticus-19-27">&#8220;&#8216;You shall not cut the hair on the sides of your heads, neither shall you clip off the edge of your beard.</span>
  <span class="verse" title="Leviticus 19:28" id="Leviticus-19-28">&#8220;&#8216;You shall not make any cuttings in your flesh for the dead, nor tattoo any marks on you. I am Yahweh.</span>
  <span class="verse" title="Leviticus 19:29" id="Leviticus-19-29">&#8220;&#8216;Don&#8217;t profane your daughter, to make her a prostitute; lest the land fall to prostitution, and the land become full of wickedness.</span>
  <span class="verse" title="Leviticus 19:30" id="Leviticus-19-30">&#8220;&#8216;You shall keep my Sabbaths, and reverence my sanctuary; I am Yahweh.</span>
  <span class="verse" title="Leviticus 19:31" id="Leviticus-19-31">&#8220;&#8216;Don&#8217;t turn to those who are mediums, nor to the wizards. Don&#8217;t seek them out, to be defiled by them. I am Yahweh your God.</span>
  <span class="verse" title="Leviticus 19:32" id="Leviticus-19-32">&#8220;&#8216;You shall rise up before the gray head, and honor the face of an old man, and you shall fear your God. I am Yahweh.</span>
  <span class="verse" title="Leviticus 19:33" id="Leviticus-19-33">&#8220;&#8216;If a stranger lives as a foreigner with you in your land, you shall not do him wrong.</span>
  <span class="verse" title="Leviticus 19:34" id="Leviticus-19-34">The stranger who lives as a foreigner with you shall be to you as the native-born among you, and you shall love him as yourself; for you lived as foreigners in the land of Egypt. I am Yahweh your God.</span>
  <span class="verse" title="Leviticus 19:35" id="Leviticus-19-35">&#8220;&#8216;You shall do no unrighteousness in judgment, in measures of length, of weight, or of quantity.</span>
  <span class="verse" title="Leviticus 19:36" id="Leviticus-19-36">You shall have just balances, just weights, a just ephah, and a just hin. I am Yahweh your God, who brought you out of the land of Egypt.</span>
  <span class="verse" title="Leviticus 19:37" id="Leviticus-19-37">&#8220;&#8216;You shall observe all my statutes, and all my ordinances, and do them. I am Yahweh.&#8217;&#8221;</span>
</div>