<div class="chapter" id="Leviticus-021">
  <h2>Leviticus 21</h2>
  <span class="verse" title="Leviticus 21:1" id="Leviticus-21-1">Yahweh said to Moses, &#8220;Speak to the priests, the sons of Aaron, and say to them, &#8216;A priest shall not defile himself for the dead among his people;</span>
  <span class="verse" title="Leviticus 21:2" id="Leviticus-21-2">except for his relatives that are near to him: for his mother, for his father, for his son, for his daughter, for his brother,</span>
  <span class="verse" title="Leviticus 21:3" id="Leviticus-21-3">and for his virgin sister who is near to him, who has had no husband; for her he may defile himself.</span>
  <span class="verse" title="Leviticus 21:4" id="Leviticus-21-4">He shall not defile himself, being a chief man among his people, to profane himself.</span>
  <span class="verse" title="Leviticus 21:5" id="Leviticus-21-5">&#8220;&#8216;They shall not shave their heads, neither shall they shave off the corners of their beards, nor make any cuttings in their flesh.</span>
  <span class="verse" title="Leviticus 21:6" id="Leviticus-21-6">They shall be holy to their God, and not profane the name of their God; for they offer the offerings of Yahweh made by fire, the bread of their God; therefore they shall be holy.</span>
  <span class="verse" title="Leviticus 21:7" id="Leviticus-21-7">&#8220;&#8216;They shall not marry a woman who is a prostitute, or profane; neither shall they marry a woman divorced from her husband: for he is holy to his God.</span>
  <span class="verse" title="Leviticus 21:8" id="Leviticus-21-8">You shall sanctify him therefore; for he offers the bread of your God: he shall be holy to you: for I Yahweh, who sanctify you, am holy.</span>
  <span class="verse" title="Leviticus 21:9" id="Leviticus-21-9">&#8220;&#8216;The daughter of any priest, if she profanes herself by playing the prostitute, she profanes her father: she shall be burned with fire.</span>
  <span class="verse" title="Leviticus 21:10" id="Leviticus-21-10">&#8220;&#8216;He who is the high priest among his brothers, upon whose head the anointing oil is poured, and that is consecrated to put on the garments, shall not let the hair of his head hang loose, nor tear his clothes;</span>
  <span class="verse" title="Leviticus 21:11" id="Leviticus-21-11">neither shall he go in to any dead body, nor defile himself for his father, or for his mother;</span>
  <span class="verse" title="Leviticus 21:12" id="Leviticus-21-12">neither shall he go out of the sanctuary, nor profane the sanctuary of his God; for the crown of the anointing oil of his God is upon him. I am Yahweh.</span>
  <span class="verse" title="Leviticus 21:13" id="Leviticus-21-13">&#8220;&#8216;He shall take a wife in her virginity.</span>
  <span class="verse" title="Leviticus 21:14" id="Leviticus-21-14">A widow, or one divorced, or a woman who has been defiled, or a prostitute, these he shall not marry: but a virgin of his own people shall he take as a wife.</span>
  <span class="verse" title="Leviticus 21:15" id="Leviticus-21-15">He shall not profane his seed among his people: for I am Yahweh who sanctifies him.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 21:16" id="Leviticus-21-16">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 21:17" id="Leviticus-21-17">&#8220;Say to Aaron, &#8216;None of your seed throughout their generations who has a blemish, may approach to offer the bread of his God.</span>
  <span class="verse" title="Leviticus 21:18" id="Leviticus-21-18">For whatever man he is that has a blemish, he shall not draw near: a blind man, or a lame, or he who has a flat nose, or any deformity,</span>
  <span class="verse" title="Leviticus 21:19" id="Leviticus-21-19">or a man who has an injured foot, or an injured hand,</span>
  <span class="verse" title="Leviticus 21:20" id="Leviticus-21-20">or hunchbacked, or a dwarf, or one who has a defect in his eye, or an itching disease, or scabs, or who has damaged testicles;</span>
  <span class="verse" title="Leviticus 21:21" id="Leviticus-21-21">no man of the seed of Aaron the priest who has a blemish, shall come near to offer the offerings of Yahweh made by fire. Since he has a blemish, he shall not come near to offer the bread of his God.</span>
  <span class="verse" title="Leviticus 21:22" id="Leviticus-21-22">He shall eat the bread of his God, both of the most holy, and of the holy.</span>
  <span class="verse" title="Leviticus 21:23" id="Leviticus-21-23">He shall not come near to the veil, nor come near to the altar, because he has a blemish; that he may not profane my sanctuaries, for I am Yahweh who sanctifies them.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 21:24" id="Leviticus-21-24">So Moses spoke to Aaron, and to his sons, and to all the children of Israel.</span>
</div>