<div class="chapter" id="Leviticus-022">
  <h2>Leviticus 22</h2>
  <span class="verse" title="Leviticus 22:1" id="Leviticus-22-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 22:2" id="Leviticus-22-2">&#8220;Tell Aaron and his sons to separate themselves from the holy things of the children of Israel, which they make holy to me, and that they not profane my holy name. I am Yahweh.</span>
  <span class="verse" title="Leviticus 22:3" id="Leviticus-22-3">&#8220;Tell them, &#8216;If anyone of all your seed throughout your generations approaches the holy things, which the children of Israel make holy to Yahweh, having his uncleanness on him, that soul shall be cut off from before me. I am Yahweh.</span>
  <span class="verse" title="Leviticus 22:4" id="Leviticus-22-4">&#8220;&#8216;Whoever of the seed of Aaron is a leper or has an issue; he shall not eat of the holy things, until he is clean. Whoever touches anything that is unclean by the dead, or a man whose seed goes from him;</span>
  <span class="verse" title="Leviticus 22:5" id="Leviticus-22-5">or whoever touches any creeping thing, whereby he may be made unclean, or a man of whom he may take uncleanness, whatever uncleanness he has;</span>
  <span class="verse" title="Leviticus 22:6" id="Leviticus-22-6">the person that touches any such shall be unclean until the evening, and shall not eat of the holy things, unless he bathe his body in water.</span>
  <span class="verse" title="Leviticus 22:7" id="Leviticus-22-7">When the sun is down, he shall be clean; and afterward he shall eat of the holy things, because it is his bread.</span>
  <span class="verse" title="Leviticus 22:8" id="Leviticus-22-8">That which dies of itself, or is torn by animals, he shall not eat, defiling himself by it. I am Yahweh.</span>
  <span class="verse" title="Leviticus 22:9" id="Leviticus-22-9">&#8220;&#8216;They shall therefore follow my requirements, lest they bear sin for it, and die therein, if they profane it. I am Yahweh who sanctifies them.</span>
  <span class="verse" title="Leviticus 22:10" id="Leviticus-22-10">&#8220;&#8216;No stranger shall eat of the holy thing: a foreigner living with the priests, or a hired servant, shall not eat of the holy thing.</span>
  <span class="verse" title="Leviticus 22:11" id="Leviticus-22-11">But if a priest buys a slave, purchased by his money, he shall eat of it; and such as are born in his house, they shall eat of his bread.</span>
  <span class="verse" title="Leviticus 22:12" id="Leviticus-22-12">If a priest&#8217;s daughter is married to an outsider, she shall not eat of the heave offering of the holy things.</span>
  <span class="verse" title="Leviticus 22:13" id="Leviticus-22-13">But if a priest&#8217;s daughter is a widow, or divorced, and has no child, and has returned to her father&#8217;s house, as in her youth, she may eat of her father&#8217;s bread: but no stranger shall eat any of it.</span>
  <span class="verse" title="Leviticus 22:14" id="Leviticus-22-14">&#8220;&#8216;If a man eats something holy unwittingly, then he shall add the fifth part of its value to it, and shall give the holy thing to the priest.</span>
  <span class="verse" title="Leviticus 22:15" id="Leviticus-22-15">The priests shall not profane the holy things of the children of Israel, which they offer to Yahweh,</span>
  <span class="verse" title="Leviticus 22:16" id="Leviticus-22-16">and so cause them to bear the iniquity that brings guilt, when they eat their holy things: for I am Yahweh who sanctifies them.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 22:17" id="Leviticus-22-17">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 22:18" id="Leviticus-22-18">&#8220;Speak to Aaron, and to his sons, and to all the children of Israel, and say to them, &#8216;Whoever is of the house of Israel, or of the foreigners in Israel, who offers his offering, whether it be any of their vows, or any of their freewill offerings, which they offer to Yahweh for a burnt offering;</span>
  <span class="verse" title="Leviticus 22:19" id="Leviticus-22-19">that you may be accepted, you shall offer a male without blemish, of the bulls, of the sheep, or of the goats.</span>
  <span class="verse" title="Leviticus 22:20" id="Leviticus-22-20">But whatever has a blemish, that you shall not offer: for it shall not be acceptable for you.</span>
  <span class="verse" title="Leviticus 22:21" id="Leviticus-22-21">Whoever offers a sacrifice of peace offerings to Yahweh to accomplish a vow, or for a freewill offering, of the herd or of the flock, it shall be perfect to be accepted; no blemish shall be therein.</span>
  <span class="verse" title="Leviticus 22:22" id="Leviticus-22-22">Blind, injured, maimed, having a wart, festering, or having a running sore, you shall not offer these to Yahweh, nor make an offering by fire of them on the altar to Yahweh.</span>
  <span class="verse" title="Leviticus 22:23" id="Leviticus-22-23">Either a bull or a lamb that has any deformity or lacking in his parts, that you may offer for a freewill offering; but for a vow it shall not be accepted.</span>
  <span class="verse" title="Leviticus 22:24" id="Leviticus-22-24">That which has its testicles bruised, crushed, broken, or cut, you shall not offer to Yahweh; neither shall you do thus in your land.</span>
  <span class="verse" title="Leviticus 22:25" id="Leviticus-22-25">Neither shall you offer the bread of your God from the hand of a foreigner of any of these; because their corruption is in them. There is a blemish in them. They shall not be accepted for you.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 22:26" id="Leviticus-22-26">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 22:27" id="Leviticus-22-27">&#8220;When a bull, or a sheep, or a goat, is born, then it shall remain seven days with its mother; and from the eighth day and thenceforth it shall be accepted for the offering of an offering made by fire to Yahweh.</span>
  <span class="verse" title="Leviticus 22:28" id="Leviticus-22-28">Whether it is a cow or ewe, you shall not kill it and its young both in one day.</span>
  <span class="verse" title="Leviticus 22:29" id="Leviticus-22-29">&#8220;When you sacrifice a sacrifice of thanksgiving to Yahweh, you shall sacrifice it so that you may be accepted.</span>
  <span class="verse" title="Leviticus 22:30" id="Leviticus-22-30">It shall be eaten on the same day; you shall leave none of it until the morning. I am Yahweh.</span>
  <span class="verse" title="Leviticus 22:31" id="Leviticus-22-31">&#8220;Therefore you shall keep my commandments, and do them. I am Yahweh.</span>
  <span class="verse" title="Leviticus 22:32" id="Leviticus-22-32">You shall not profane my holy name, but I will be made holy among the children of Israel. I am Yahweh who makes you holy,</span>
  <span class="verse" title="Leviticus 22:33" id="Leviticus-22-33">who brought you out of the land of Egypt, to be your God. I am Yahweh.&#8221;</span>
</div>