<div class="chapter" id="Leviticus-024">
  <h2>Leviticus 24</h2>
  <span class="verse" title="Leviticus 24:1" id="Leviticus-24-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 24:2" id="Leviticus-24-2">&#8220;Command the children of Israel, that they bring to you pure olive oil beaten for the light, to cause a lamp to burn continually.</span>
  <span class="verse" title="Leviticus 24:3" id="Leviticus-24-3">Outside of the veil of the Testimony, in the Tent of Meeting, shall Aaron keep it in order from evening to morning before Yahweh continually: it shall be a statute forever throughout your generations.</span>
  <span class="verse" title="Leviticus 24:4" id="Leviticus-24-4">He shall keep in order the lamps on the pure gold lampstand before Yahweh continually.</span>
  <span class="verse" title="Leviticus 24:5" id="Leviticus-24-5">&#8220;You shall take fine flour, and bake twelve cakes of it: two tenth parts of an ephah shall be in one cake.</span>
  <span class="verse" title="Leviticus 24:6" id="Leviticus-24-6">You shall set them in two rows, six on a row, on the pure gold table before Yahweh.</span>
  <span class="verse" title="Leviticus 24:7" id="Leviticus-24-7">You shall put pure frankincense on each row, that it may be to the bread for a memorial, even an offering made by fire to Yahweh.</span>
  <span class="verse" title="Leviticus 24:8" id="Leviticus-24-8">Every Sabbath day he shall set it in order before Yahweh continually. It is on the behalf of the children of Israel an everlasting covenant.</span>
  <span class="verse" title="Leviticus 24:9" id="Leviticus-24-9">It shall be for Aaron and his sons; and they shall eat it in a holy place: for it is most holy to him of the offerings of Yahweh made by fire by a perpetual statute.&#8221;</span>
  <span class="verse" title="Leviticus 24:10" id="Leviticus-24-10">The son of an Israelite woman, whose father was an Egyptian, went out among the children of Israel; and the son of the Israelite woman and a man of Israel strove together in the camp.</span>
  <span class="verse" title="Leviticus 24:11" id="Leviticus-24-11">The son of the Israelite woman blasphemed the Name, and cursed; and they brought him to Moses. His mother&#8217;s name was Shelomith, the daughter of Dibri, of the tribe of Dan.</span>
  <span class="verse" title="Leviticus 24:12" id="Leviticus-24-12">They put him in custody, until the will of Yahweh should be declared to them.</span>
  <span class="verse" title="Leviticus 24:13" id="Leviticus-24-13">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 24:14" id="Leviticus-24-14">&#8220;Bring out of the camp him who cursed; and let all who heard him lay their hands on his head, and let all the congregation stone him.</span>
  <span class="verse" title="Leviticus 24:15" id="Leviticus-24-15">You shall speak to the children of Israel, saying, &#8216;Whoever curses his God shall bear his sin.</span>
  <span class="verse" title="Leviticus 24:16" id="Leviticus-24-16">He who blasphemes the name of Yahweh, he shall surely be put to death; all the congregation shall certainly stone him: the foreigner as well as the native-born, when he blasphemes the Name, shall be put to death.</span>
  <span class="verse" title="Leviticus 24:17" id="Leviticus-24-17">&#8220;&#8216;He who strikes any man mortally shall surely be put to death.</span>
  <span class="verse" title="Leviticus 24:18" id="Leviticus-24-18">He who strikes an animal mortally shall make it good, life for life.</span>
  <span class="verse" title="Leviticus 24:19" id="Leviticus-24-19">If anyone injures his neighbor; as he has done, so shall it be done to him:</span>
  <span class="verse" title="Leviticus 24:20" id="Leviticus-24-20">fracture for fracture, eye for eye, tooth for tooth; as he has injured someone, so shall it be done to him.</span>
  <span class="verse" title="Leviticus 24:21" id="Leviticus-24-21">He who kills an animal shall make it good; and he who kills a man shall be put to death.</span>
  <span class="verse" title="Leviticus 24:22" id="Leviticus-24-22">You shall have one kind of law, for the foreigner as well as the native-born: for I am Yahweh your God.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 24:23" id="Leviticus-24-23">Moses spoke to the children of Israel; and they brought out him who had cursed out of the camp, and stoned him with stones. The children of Israel did as Yahweh commanded Moses.</span>
</div>