<div class="chapter" id="Leviticus-027">
  <h2>Leviticus 27</h2>
  <span class="verse" title="Leviticus 27:1" id="Leviticus-27-1">Yahweh spoke to Moses, saying,</span>
  <span class="verse" title="Leviticus 27:2" id="Leviticus-27-2">&#8220;Speak to the children of Israel, and say to them, &#8216;When a man makes a vow, the persons shall be for Yahweh by your valuation.</span>
  <span class="verse" title="Leviticus 27:3" id="Leviticus-27-3">Your valuation shall be of a male from twenty years old even to sixty years old, even your valuation shall be fifty shekels of silver, after the shekel of the sanctuary.</span>
  <span class="verse" title="Leviticus 27:4" id="Leviticus-27-4">If it is a female, then your valuation shall be thirty shekels.</span>
  <span class="verse" title="Leviticus 27:5" id="Leviticus-27-5">If the person is from five years old even to twenty years old, then your valuation shall be for a male twenty shekels, and for a female ten shekels.</span>
  <span class="verse" title="Leviticus 27:6" id="Leviticus-27-6">If the person is from a month old even to five years old, then your valuation shall be for a male five shekels of silver, and for a female your valuation shall be three shekels of silver.</span>
  <span class="verse" title="Leviticus 27:7" id="Leviticus-27-7">If the person is from sixty years old and upward; if it is a male, then your valuation shall be fifteen shekels, and for a female ten shekels.</span>
  <span class="verse" title="Leviticus 27:8" id="Leviticus-27-8">But if he is poorer than your valuation, then he shall be set before the priest, and the priest shall value him; according to the ability of him who vowed shall the priest value him.</span>
  <span class="verse" title="Leviticus 27:9" id="Leviticus-27-9">&#8220;&#8216;If it is an animal, of which men offer an offering to Yahweh, all that any man gives of such to Yahweh becomes holy.</span>
  <span class="verse" title="Leviticus 27:10" id="Leviticus-27-10">He shall not alter it, nor change it, a good for a bad, or a bad for a good: and if he shall at all change animal for animal, then both it and that for which it is changed shall be holy.</span>
  <span class="verse" title="Leviticus 27:11" id="Leviticus-27-11">If it is any unclean animal, of which they do not offer as an offering to Yahweh, then he shall set the animal before the priest;</span>
  <span class="verse" title="Leviticus 27:12" id="Leviticus-27-12">and the priest shall value it, whether it is good or bad. As you the priest values it, so shall it be.</span>
  <span class="verse" title="Leviticus 27:13" id="Leviticus-27-13">But if he will indeed redeem it, then he shall add the fifth part of it to its valuation.</span>
  <span class="verse" title="Leviticus 27:14" id="Leviticus-27-14">&#8220;&#8216;When a man dedicates his house to be holy to Yahweh, then the priest shall evaluate it, whether it is good or bad: as the priest shall evaluate it, so shall it stand.</span>
  <span class="verse" title="Leviticus 27:15" id="Leviticus-27-15">If he who dedicates it will redeem his house, then he shall add the fifth part of the money of your valuation to it, and it shall be his.</span>
  <span class="verse" title="Leviticus 27:16" id="Leviticus-27-16">&#8220;&#8216;If a man dedicates to Yahweh part of the field of his possession, then your valuation shall be according to the seed for it: the sowing of a homer of barley shall be valued at fifty shekels of silver.</span>
  <span class="verse" title="Leviticus 27:17" id="Leviticus-27-17">If he dedicates his field from the Year of Jubilee, according to your valuation it shall stand.</span>
  <span class="verse" title="Leviticus 27:18" id="Leviticus-27-18">But if he dedicates his field after the Jubilee, then the priest shall reckon to him the money according to the years that remain to the Year of Jubilee; and an abatement shall be made from your valuation.</span>
  <span class="verse" title="Leviticus 27:19" id="Leviticus-27-19">If he who dedicated the field will indeed redeem it, then he shall add the fifth part of the money of your valuation to it, and it shall remain his.</span>
  <span class="verse" title="Leviticus 27:20" id="Leviticus-27-20">If he will not redeem the field, or if he has sold the field to another man, it shall not be redeemed any more;</span>
  <span class="verse" title="Leviticus 27:21" id="Leviticus-27-21">but the field, when it goes out in the Jubilee, shall be holy to Yahweh, as a field devoted; it shall be owned by the priests.</span>
  <span class="verse" title="Leviticus 27:22" id="Leviticus-27-22">&#8220;&#8216;If he dedicates to Yahweh a field which he has bought, which is not of the field of his possession,</span>
  <span class="verse" title="Leviticus 27:23" id="Leviticus-27-23">then the priest shall reckon to him the worth of your valuation up to the Year of Jubilee; and he shall give your valuation on that day, as a holy thing to Yahweh.</span>
  <span class="verse" title="Leviticus 27:24" id="Leviticus-27-24">In the Year of Jubilee the field shall return to him from whom it was bought, even to him to whom the possession of the land belongs.</span>
  <span class="verse" title="Leviticus 27:25" id="Leviticus-27-25">All your valuations shall be according to the shekel of the sanctuary: twenty gerahs to the shekel.</span>
  <span class="verse" title="Leviticus 27:26" id="Leviticus-27-26">&#8220;&#8216;Only the firstborn among animals, which is made a firstborn to Yahweh, no man may dedicate it; whether an ox or sheep, it is Yahweh&#8217;s.</span>
  <span class="verse" title="Leviticus 27:27" id="Leviticus-27-27">If it is an unclean animal, then he shall buy it back according to your valuation, and shall add to it the fifth part of it: or if it isn&#8217;t redeemed, then it shall be sold according to your valuation.</span>
  <span class="verse" title="Leviticus 27:28" id="Leviticus-27-28">&#8220;&#8216;Notwithstanding, no devoted thing, that a man shall devote to Yahweh of all that he has, whether of man or animal, or of the field of his possession, shall be sold or redeemed: every devoted thing is most holy to Yahweh.</span>
  <span class="verse" title="Leviticus 27:29" id="Leviticus-27-29">&#8220;&#8216;No one devoted, who shall be devoted from among men, shall be ransomed; he shall surely be put to death.</span>
  <span class="verse" title="Leviticus 27:30" id="Leviticus-27-30">&#8220;&#8216;All the tithe of the land, whether of the seed of the land or of the fruit of the trees, is Yahweh&#8217;s. It is holy to Yahweh.</span>
  <span class="verse" title="Leviticus 27:31" id="Leviticus-27-31">If a man redeems anything of his tithe, he shall add a fifth part to it.</span>
  <span class="verse" title="Leviticus 27:32" id="Leviticus-27-32">All the tithe of the herds or the flocks, whatever passes under the rod, the tenth shall be holy to Yahweh.</span>
  <span class="verse" title="Leviticus 27:33" id="Leviticus-27-33">He shall not search whether it is good or bad, neither shall he change it: and if he changes it at all, then both it and that for which it is changed shall be holy. It shall not be redeemed.&#8217;&#8221;</span>
  <span class="verse" title="Leviticus 27:34" id="Leviticus-27-34">These are the commandments which Yahweh commanded Moses for the children of Israel on Mount Sinai.</span>
</div>