<h2>Highrise</h2>

<p>To get the "token" for your <a href="http://highrisehq.com">Highrise</a> account, sign in and click the "My Info" link in the top-right of the screen:</p>

<p><%= image_tag 'highrise_my_info.png', :alt => 'My Info' %></p>

<p>On the following screen, click the "Reveal authentication token" link:</p>

<p><%= image_tag 'highrise_reveal.png', :alt => 'Reveal Token' %></p>
