<h2>Highrise</h2>

<p><%= I18n.t("remote_accounts.get_token_sign_in") %></p>

<p><%= image_tag 'highrise_my_info.png', :alt => 'Highrise' %></p>

<p><%= I18n.t('remote_accounts.reveal_token') %></p>

<p><%= image_tag 'highrise_reveal.png', :alt => 'Highrise' %></p>
