<% controller ||= object.class.name.pluralize.downcase %>
<% if object.tags.any? %>
  <ul class="tags">
    <% object.tags.each do |tag| %>
      <li>
        <%= link_to tag.name, tag %>
        <% if params[:controller] == controller %>
          <% if controller == 'verses' %>
            <% url = verse_path(id: object, remove_tag: tag.name) %>
          <% end %>
          <%= link_to '', url,
            :title   => t('delete'),
            :class   => 'delete-icon',
            :method  => 'put',
            data: { confirm: t('tags.confirm_delete') } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <em><%= t('tags.no_tags_yet') %></em>
<% end %>
