<h2><%= t('tags.tag') %>: <%= @tag.name %></h2>

<% if @tag.verses.any? %>
  <h3><%= t('verses.verses') %></h3>
  <% @tag.verses.each do |verse| %>
    <%= render partial: 'verses/verse', locals: {verse: verse} %>
  <% end %>
<% end %>
