<h1>Credits</h1>

<h2>Powered By OneBody</h2>

<p>This site is powered by <a href="http://beonebody.org">OneBody</a>,
an open source online church directory and social networking website.</p>

<p>Visit <a href="http://beonebody.org">beonebody.org</a> for more information.</p>

<h2>Design</h2>

<p>The design of this site is by
<a href="http://www.sixshootermedia.com">Six Shooter Media</a>.</p>

<p>Icons are by <a href="http://famfamfam.com/lab/icons/silk/">FamFamFam</a>.</p>

<h2>Technology</h2>

<ul>
  <li><a href="http://ruby-lang.org/en">Ruby</a> on <a href="http://rubyonrails.com">Rails</a></li>
  <li><a href="http://mysql.org">MySQL</a></li>
</ul>