<div class="chapter" id="2 Corinthians-001">
  <h2>2 Corinthians 1</h2>
  <span class="verse" title="2 Corinthians 1:1" id="2_Corinthians-1-1">Paul, an apostle of Christ Jesus through the will of God, and Timothy our brother, to the assembly of God which is at Corinth, with all the saints who are in the whole of Achaia:</span>
  <span class="verse" title="2 Corinthians 1:2" id="2_Corinthians-1-2">Grace to you and peace from God our Father and the Lord Jesus Christ.</span>
  <span class="verse" title="2 Corinthians 1:3" id="2_Corinthians-1-3">Blessed be the God and Father of our Lord Jesus Christ, the Father of mercies and God of all comfort;</span>
  <span class="verse" title="2 Corinthians 1:4" id="2_Corinthians-1-4">who comforts us in all our affliction, that we may be able to comfort those who are in any affliction, through the comfort with which we ourselves are comforted by God.</span>
  <span class="verse" title="2 Corinthians 1:5" id="2_Corinthians-1-5">For as the sufferings of Christ abound to us, even so our comfort also abounds through Christ.</span>
  <span class="verse" title="2 Corinthians 1:6" id="2_Corinthians-1-6">But if we are afflicted, it is for your comfort and salvation. If we are comforted, it is for your comfort, which produces in you the patient enduring of the same sufferings which we also suffer.</span>
  <span class="verse" title="2 Corinthians 1:7" id="2_Corinthians-1-7">Our hope for you is steadfast, knowing that, since you are partakers of the sufferings, so also are you of the comfort.</span>
  <span class="verse" title="2 Corinthians 1:8" id="2_Corinthians-1-8">For we don&#8217;t desire to have you uninformed, brothers, concerning our affliction which happened to us in Asia, that we were weighed down exceedingly, beyond our power, so much that we despaired even of life.</span>
  <span class="verse" title="2 Corinthians 1:9" id="2_Corinthians-1-9">Yes, we ourselves have had the sentence of death within ourselves, that we should not trust in ourselves, but in God who raises the dead,</span>
  <span class="verse" title="2 Corinthians 1:10" id="2_Corinthians-1-10">who delivered us out of so great a death, and does deliver; on whom we have set our hope that he will also still deliver us;</span>
  <span class="verse" title="2 Corinthians 1:11" id="2_Corinthians-1-11">you also helping together on our behalf by your supplication; that, for the gift bestowed on us by means of many, thanks may be given by many persons on your behalf.</span>
  <span class="verse" title="2 Corinthians 1:12" id="2_Corinthians-1-12">For our boasting is this: the testimony of our conscience, that in holiness and sincerity of God, not in fleshly wisdom but in the grace of God we behaved ourselves in the world, and more abundantly toward you.</span>
  <span class="verse" title="2 Corinthians 1:13" id="2_Corinthians-1-13">For we write no other things to you, than what you read or even acknowledge, and I hope you will acknowledge to the end;</span>
  <span class="verse" title="2 Corinthians 1:14" id="2_Corinthians-1-14">as also you acknowledged us in part, that we are your boasting, even as you also are ours, in the day of our Lord Jesus.</span>
  <span class="verse" title="2 Corinthians 1:15" id="2_Corinthians-1-15">In this confidence, I was determined to come first to you, that you might have a second benefit;</span>
  <span class="verse" title="2 Corinthians 1:16" id="2_Corinthians-1-16">and by you to pass into Macedonia, and again from Macedonia to come to you, and to be sent forward by you on my journey to Judea.</span>
  <span class="verse" title="2 Corinthians 1:17" id="2_Corinthians-1-17">When I therefore was thus determined, did I show fickleness? Or the things that I purpose, do I purpose according to the flesh, that with me there should be the &#8220;Yes, yes&#8221; and the &#8220;No, no?&#8221;</span>
  <span class="verse" title="2 Corinthians 1:18" id="2_Corinthians-1-18">But as God is faithful, our word toward you was not &#8220;Yes and no.&#8221;</span>
  <span class="verse" title="2 Corinthians 1:19" id="2_Corinthians-1-19">For the Son of God, Jesus Christ, who was preached among you by us, by me, Silvanus, and Timothy, was not &#8220;Yes and no,&#8221; but in him is &#8220;Yes.&#8221;</span>
  <span class="verse" title="2 Corinthians 1:20" id="2_Corinthians-1-20">For however many are the promises of God, in him is the &#8220;Yes.&#8221; Therefore also through him is the &#8220;Amen,&#8221; to the glory of God through us.</span>
  <span class="verse" title="2 Corinthians 1:21" id="2_Corinthians-1-21">Now he who establishes us with you in Christ, and anointed us, is God;</span>
  <span class="verse" title="2 Corinthians 1:22" id="2_Corinthians-1-22">who also sealed us, and gave us the down payment of the Spirit in our hearts.</span>
  <span class="verse" title="2 Corinthians 1:23" id="2_Corinthians-1-23">But I call God for a witness to my soul, that I didn&#8217;t come to Corinth to spare you.</span>
  <span class="verse" title="2 Corinthians 1:24" id="2_Corinthians-1-24">Not that we have lordship over your faith, but are fellow workers with you for your joy. For you stand firm in faith.</span>
</div>