<div class="chapter" id="2 Corinthians-002">
  <h2>2 Corinthians 2</h2>
  <span class="verse" title="2 Corinthians 2:1" id="2_Corinthians-2-1">But I determined this for myself, that I would not come to you again in sorrow.</span>
  <span class="verse" title="2 Corinthians 2:2" id="2_Corinthians-2-2">For if I make you sorry, then who will make me glad but he who is made sorry by me?</span>
  <span class="verse" title="2 Corinthians 2:3" id="2_Corinthians-2-3">And I wrote this very thing to you, so that, when I came, I wouldn&#8217;t have sorrow from them of whom I ought to rejoice; having confidence in you all, that my joy would be shared by all of you.</span>
  <span class="verse" title="2 Corinthians 2:4" id="2_Corinthians-2-4">For out of much affliction and anguish of heart I wrote to you with many tears, not that you should be made sorry, but that you might know the love that I have so abundantly for you.</span>
  <span class="verse" title="2 Corinthians 2:5" id="2_Corinthians-2-5">But if any has caused sorrow, he has caused sorrow, not to me, but in part (that I not press too heavily) to you all.</span>
  <span class="verse" title="2 Corinthians 2:6" id="2_Corinthians-2-6">Sufficient to such a one is this punishment which was inflicted by the many;</span>
  <span class="verse" title="2 Corinthians 2:7" id="2_Corinthians-2-7">so that on the contrary you should rather forgive him and comfort him, lest by any means such a one should be swallowed up with his excessive sorrow.</span>
  <span class="verse" title="2 Corinthians 2:8" id="2_Corinthians-2-8">Therefore I beg you to confirm your love toward him.</span>
  <span class="verse" title="2 Corinthians 2:9" id="2_Corinthians-2-9">For to this end I also wrote, that I might know the proof of you, whether you are obedient in all things.</span>
  <span class="verse" title="2 Corinthians 2:10" id="2_Corinthians-2-10">Now I also forgive whomever you forgive anything. For if indeed I have forgiven anything, I have forgiven that one for your sakes in the presence of Christ,</span>
  <span class="verse" title="2 Corinthians 2:11" id="2_Corinthians-2-11">that no advantage may be gained over us by Satan; for we are not ignorant of his schemes.</span>
  <span class="verse" title="2 Corinthians 2:12" id="2_Corinthians-2-12">Now when I came to Troas for the Good News of Christ, and when a door was opened to me in the Lord,</span>
  <span class="verse" title="2 Corinthians 2:13" id="2_Corinthians-2-13">I had no relief for my spirit, because I didn&#8217;t find Titus, my brother, but taking my leave of them, I went out into Macedonia.</span>
  <span class="verse" title="2 Corinthians 2:14" id="2_Corinthians-2-14">Now thanks be to God, who always leads us in triumph in Christ, and reveals through us the sweet aroma of his knowledge in every place.</span>
  <span class="verse" title="2 Corinthians 2:15" id="2_Corinthians-2-15">For we are a sweet aroma of Christ to God, in those who are saved, and in those who perish;</span>
  <span class="verse" title="2 Corinthians 2:16" id="2_Corinthians-2-16">to the one a stench from death to death; to the other a sweet aroma from life to life. Who is sufficient for these things?</span>
  <span class="verse" title="2 Corinthians 2:17" id="2_Corinthians-2-17">For we are not as so many, peddling the word of God. But as of sincerity, but as of God, in the sight of God, we speak in Christ.</span>
</div>