<div class="chapter" id="2 Corinthians-003">
  <h2>2 Corinthians 3</h2>
  <span class="verse" title="2 Corinthians 3:1" id="2_Corinthians-3-1">Are we beginning again to commend ourselves? Or do we need, as do some, letters of commendation to you or from you?</span>
  <span class="verse" title="2 Corinthians 3:2" id="2_Corinthians-3-2">You are our letter, written in our hearts, known and read by all men;</span>
  <span class="verse" title="2 Corinthians 3:3" id="2_Corinthians-3-3">being revealed that you are a letter of Christ, served by us, written not with ink, but with the Spirit of the living God; not in tablets of stone, but in tablets that are hearts of flesh.</span>
  <span class="verse" title="2 Corinthians 3:4" id="2_Corinthians-3-4">Such confidence we have through Christ toward God;</span>
  <span class="verse" title="2 Corinthians 3:5" id="2_Corinthians-3-5">not that we are sufficient of ourselves, to account anything as from ourselves; but our sufficiency is from God;</span>
  <span class="verse" title="2 Corinthians 3:6" id="2_Corinthians-3-6">who also made us sufficient as servants of a new covenant; not of the letter, but of the Spirit. For the letter kills, but the Spirit gives life.</span>
  <span class="verse" title="2 Corinthians 3:7" id="2_Corinthians-3-7">But if the service of death, written engraved on stones, came with glory, so that the children of Israel could not look steadfastly on the face of Moses for the glory of his face; which was passing away:</span>
  <span class="verse" title="2 Corinthians 3:8" id="2_Corinthians-3-8">won&#8217;t service of the Spirit be with much more glory?</span>
  <span class="verse" title="2 Corinthians 3:9" id="2_Corinthians-3-9">For if the service of condemnation has glory, the service of righteousness exceeds much more in glory.</span>
  <span class="verse" title="2 Corinthians 3:10" id="2_Corinthians-3-10">For most certainly that which has been made glorious has not been made glorious in this respect, by reason of the glory that surpasses.</span>
  <span class="verse" title="2 Corinthians 3:11" id="2_Corinthians-3-11">For if that which passes away was with glory, much more that which remains is in glory.</span>
  <span class="verse" title="2 Corinthians 3:12" id="2_Corinthians-3-12">Having therefore such a hope, we use great boldness of speech,</span>
  <span class="verse" title="2 Corinthians 3:13" id="2_Corinthians-3-13">and not as Moses, who put a veil on his face, that the children of Israel wouldn&#8217;t look steadfastly on the end of that which was passing away.</span>
  <span class="verse" title="2 Corinthians 3:14" id="2_Corinthians-3-14">But their minds were hardened, for until this very day at the reading of the old covenant the same veil remains, because in Christ it passes away.</span>
  <span class="verse" title="2 Corinthians 3:15" id="2_Corinthians-3-15">But to this day, when Moses is read, a veil lies on their heart.</span>
  <span class="verse" title="2 Corinthians 3:16" id="2_Corinthians-3-16">But whenever one turns to the Lord, the veil is taken away.</span>
  <span class="verse" title="2 Corinthians 3:17" id="2_Corinthians-3-17">Now the Lord is the Spirit and where the Spirit of the Lord is, there is liberty.</span>
  <span class="verse" title="2 Corinthians 3:18" id="2_Corinthians-3-18">But we all, with unveiled face beholding as in a mirror the glory of the Lord, are transformed into the same image from glory to glory, even as from the Lord, the Spirit.</span>
</div>