<div class="chapter" id="2 Corinthians-004">
  <h2>2 Corinthians 4</h2>
  <span class="verse" title="2 Corinthians 4:1" id="2_Corinthians-4-1">Therefore seeing we have this ministry, even as we obtained mercy, we don&#8217;t faint.</span>
  <span class="verse" title="2 Corinthians 4:2" id="2_Corinthians-4-2">But we have renounced the hidden things of shame, not walking in craftiness, nor handling the word of God deceitfully; but by the manifestation of the truth commending ourselves to every man&#8217;s conscience in the sight of God.</span>
  <span class="verse" title="2 Corinthians 4:3" id="2_Corinthians-4-3">Even if our Good News is veiled, it is veiled in those who perish;</span>
  <span class="verse" title="2 Corinthians 4:4" id="2_Corinthians-4-4">in whom the god of this world has blinded the minds of the unbelieving, that the light of the Good News of the glory of Christ, who is the image of God, should not dawn on them.</span>
  <span class="verse" title="2 Corinthians 4:5" id="2_Corinthians-4-5">For we don&#8217;t preach ourselves, but Christ Jesus as Lord, and ourselves as your servants for Jesus&#8217; sake;</span>
  <span class="verse" title="2 Corinthians 4:6" id="2_Corinthians-4-6">seeing it is God who said, &#8220;Light will shine out of darkness,&#8221; who has shone in our hearts, to give the light of the knowledge of the glory of God in the face of Jesus Christ.</span>
  <span class="verse" title="2 Corinthians 4:7" id="2_Corinthians-4-7">But we have this treasure in clay vessels, that the exceeding greatness of the power may be of God, and not from ourselves.</span>
  <span class="verse" title="2 Corinthians 4:8" id="2_Corinthians-4-8">We are pressed on every side, yet not crushed; perplexed, yet not to despair;</span>
  <span class="verse" title="2 Corinthians 4:9" id="2_Corinthians-4-9">pursued, yet not forsaken; struck down, yet not destroyed;</span>
  <span class="verse" title="2 Corinthians 4:10" id="2_Corinthians-4-10">always carrying in the body the putting to death of the Lord Jesus, that the life of Jesus may also be revealed in our body.</span>
  <span class="verse" title="2 Corinthians 4:11" id="2_Corinthians-4-11">For we who live are always delivered to death for Jesus&#8217; sake, that the life also of Jesus may be revealed in our mortal flesh.</span>
  <span class="verse" title="2 Corinthians 4:12" id="2_Corinthians-4-12">So then death works in us, but life in you.</span>
  <span class="verse" title="2 Corinthians 4:13" id="2_Corinthians-4-13">But having the same spirit of faith, according to that which is written, &#8220;I believed, and therefore I spoke.&#8221; We also believe, and therefore also we speak;</span>
  <span class="verse" title="2 Corinthians 4:14" id="2_Corinthians-4-14">knowing that he who raised the Lord Jesus will raise us also with Jesus, and will present us with you.</span>
  <span class="verse" title="2 Corinthians 4:15" id="2_Corinthians-4-15">For all things are for your sakes, that the grace, being multiplied through the many, may cause the thanksgiving to abound to the glory of God.</span>
  <span class="verse" title="2 Corinthians 4:16" id="2_Corinthians-4-16">Therefore we don&#8217;t faint, but though our outward man is decaying, yet our inward man is renewed day by day.</span>
  <span class="verse" title="2 Corinthians 4:17" id="2_Corinthians-4-17">For our light affliction, which is for the moment, works for us more and more exceedingly an eternal weight of glory;</span>
  <span class="verse" title="2 Corinthians 4:18" id="2_Corinthians-4-18">while we don&#8217;t look at the things which are seen, but at the things which are not seen. For the things which are seen are temporal, but the things which are not seen are eternal.</span>
</div>