<div class="chapter" id="2 Corinthians-005">
  <h2>2 Corinthians 5</h2>
  <span class="verse" title="2 Corinthians 5:1" id="2_Corinthians-5-1">For we know that if the earthly house of our tent is dissolved, we have a building from God, a house not made with hands, eternal, in the heavens.</span>
  <span class="verse" title="2 Corinthians 5:2" id="2_Corinthians-5-2">For most certainly in this we groan, longing to be clothed with our habitation which is from heaven;</span>
  <span class="verse" title="2 Corinthians 5:3" id="2_Corinthians-5-3">if so be that being clothed we will not be found naked.</span>
  <span class="verse" title="2 Corinthians 5:4" id="2_Corinthians-5-4">For indeed we who are in this tent do groan, being burdened; not that we desire to be unclothed, but that we desire to be clothed, that what is mortal may be swallowed up by life.</span>
  <span class="verse" title="2 Corinthians 5:5" id="2_Corinthians-5-5">Now he who made us for this very thing is God, who also gave to us the down payment of the Spirit.</span>
  <span class="verse" title="2 Corinthians 5:6" id="2_Corinthians-5-6">Therefore, we are always confident and know that while we are at home in the body, we are absent from the Lord;</span>
  <span class="verse" title="2 Corinthians 5:7" id="2_Corinthians-5-7">for we walk by faith, not by sight.</span>
  <span class="verse" title="2 Corinthians 5:8" id="2_Corinthians-5-8">We are courageous, I say, and are willing rather to be absent from the body, and to be at home with the Lord.</span>
  <span class="verse" title="2 Corinthians 5:9" id="2_Corinthians-5-9">Therefore also we make it our aim, whether at home or absent, to be well pleasing to him.</span>
  <span class="verse" title="2 Corinthians 5:10" id="2_Corinthians-5-10">For we must all be revealed before the judgment seat of Christ; that each one may receive the things in the body, according to what he has done, whether good or bad.</span>
  <span class="verse" title="2 Corinthians 5:11" id="2_Corinthians-5-11">Knowing therefore the fear of the Lord, we persuade men, but we are revealed to God; and I hope that we are revealed also in your consciences.</span>
  <span class="verse" title="2 Corinthians 5:12" id="2_Corinthians-5-12">For we are not commending ourselves to you again, but speak as giving you occasion of boasting on our behalf, that you may have something to answer those who boast in appearance, and not in heart.</span>
  <span class="verse" title="2 Corinthians 5:13" id="2_Corinthians-5-13">For if we are beside ourselves, it is for God. Or if we are of sober mind, it is for you.</span>
  <span class="verse" title="2 Corinthians 5:14" id="2_Corinthians-5-14">For the love of Christ constrains us; because we judge thus, that one died for all, therefore all died.</span>
  <span class="verse" title="2 Corinthians 5:15" id="2_Corinthians-5-15">He died for all, that those who live should no longer live to themselves, but to him who for their sakes died and rose again.</span>
  <span class="verse" title="2 Corinthians 5:16" id="2_Corinthians-5-16">Therefore we know no one after the flesh from now on. Even though we have known Christ after the flesh, yet now we know him so no more.</span>
  <span class="verse" title="2 Corinthians 5:17" id="2_Corinthians-5-17">Therefore if anyone is in Christ, he is a new creation. The old things have passed away. Behold, all things have become new.</span>
  <span class="verse" title="2 Corinthians 5:18" id="2_Corinthians-5-18">But all things are of God, who reconciled us to himself through Jesus Christ, and gave to us the ministry of reconciliation;</span>
  <span class="verse" title="2 Corinthians 5:19" id="2_Corinthians-5-19">namely, that God was in Christ reconciling the world to himself, not reckoning to them their trespasses, and having committed to us the word of reconciliation.</span>
  <span class="verse" title="2 Corinthians 5:20" id="2_Corinthians-5-20">We are therefore ambassadors on behalf of Christ, as though God were entreating by us: we beg you on behalf of Christ, be reconciled to God.</span>
  <span class="verse" title="2 Corinthians 5:21" id="2_Corinthians-5-21">For him who knew no sin he made to be sin on our behalf; so that in him we might become the righteousness of God.</span>
</div>