<div class="chapter" id="2 Corinthians-006">
  <h2>2 Corinthians 6</h2>
  <span class="verse" title="2 Corinthians 6:1" id="2_Corinthians-6-1">Working together, we entreat also that you not receive the grace of God in vain,</span>
  <span class="verse" title="2 Corinthians 6:2" id="2_Corinthians-6-2">for he says,  &#8220;At an acceptable time I listened to you,<br/>   in a day of salvation I helped you.&#8221;<br/>  Behold, now is the acceptable time. Behold, now is the day of salvation.</span>
  <span class="verse" title="2 Corinthians 6:3" id="2_Corinthians-6-3">We give no occasion of stumbling in anything, that our service may not be blamed,</span>
  <span class="verse" title="2 Corinthians 6:4" id="2_Corinthians-6-4">but in everything commending ourselves, as servants of God, in great endurance, in afflictions, in hardships, in distresses,</span>
  <span class="verse" title="2 Corinthians 6:5" id="2_Corinthians-6-5">in beatings, in imprisonments, in riots, in labors, in watchings, in fastings;</span>
  <span class="verse" title="2 Corinthians 6:6" id="2_Corinthians-6-6">in pureness, in knowledge, in patience, in kindness, in the Holy Spirit, in sincere love,</span>
  <span class="verse" title="2 Corinthians 6:7" id="2_Corinthians-6-7">in the word of truth, in the power of God; by the armor of righteousness on the right hand and on the left,</span>
  <span class="verse" title="2 Corinthians 6:8" id="2_Corinthians-6-8">by glory and dishonor, by evil report and good report; as deceivers, and yet true;</span>
  <span class="verse" title="2 Corinthians 6:9" id="2_Corinthians-6-9">as unknown, and yet well known; as dying, and behold, we live; as punished, and not killed;</span>
  <span class="verse" title="2 Corinthians 6:10" id="2_Corinthians-6-10">as sorrowful, yet always rejoicing; as poor, yet making many rich; as having nothing, and yet possessing all things.</span>
  <span class="verse" title="2 Corinthians 6:11" id="2_Corinthians-6-11">Our mouth is open to you, Corinthians. Our heart is enlarged.</span>
  <span class="verse" title="2 Corinthians 6:12" id="2_Corinthians-6-12">You are not restricted by us, but you are restricted by your own affections.</span>
  <span class="verse" title="2 Corinthians 6:13" id="2_Corinthians-6-13">Now in return, I speak as to my children, you also be open wide.</span>
  <span class="verse" title="2 Corinthians 6:14" id="2_Corinthians-6-14">Don&#8217;t be unequally yoked with unbelievers, for what fellowship have righteousness and iniquity? Or what fellowship has light with darkness?</span>
  <span class="verse" title="2 Corinthians 6:15" id="2_Corinthians-6-15">What agreement has Christ with Belial? Or what portion has a believer with an unbeliever?</span>
  <span class="verse" title="2 Corinthians 6:16" id="2_Corinthians-6-16">What agreement has a temple of God with idols? For you are a temple of the living God. Even as God said, &#8220;I will dwell in them, and walk in them; and I will be their God, and they will be my people.&#8221;</span>
  <span class="verse" title="2 Corinthians 6:17" id="2_Corinthians-6-17">Therefore,  &#8220;&#8216;Come out from among them,<br/> <span class="indent">&nbsp;&nbsp;</span>and be separate,&#8217; says the Lord.<br/>   &#8216;Touch no unclean thing.<br/> <span class="indent">&nbsp;&nbsp;</span>I will receive you.<br/></span>
  <span class="verse" title="2 Corinthians 6:18" id="2_Corinthians-6-18">I will be to you a Father.<br/> <span class="indent">&nbsp;&nbsp;</span>You will be to me sons and daughters,&#8217;<br/>  says the Lord Almighty.&#8221;</span>
</div>