<div class="chapter" id="2 Corinthians-007">
  <h2>2 Corinthians 7</h2>
  <span class="verse" title="2 Corinthians 7:1" id="2_Corinthians-7-1">Having therefore these promises, beloved, let us cleanse ourselves from all defilement of flesh and spirit, perfecting holiness in the fear of God.</span>
  <span class="verse" title="2 Corinthians 7:2" id="2_Corinthians-7-2">Open your hearts to us. We wronged no one. We corrupted no one. We took advantage of no one.</span>
  <span class="verse" title="2 Corinthians 7:3" id="2_Corinthians-7-3">I say this not to condemn you, for I have said before, that you are in our hearts to die together and live together.</span>
  <span class="verse" title="2 Corinthians 7:4" id="2_Corinthians-7-4">Great is my boldness of speech toward you. Great is my boasting on your behalf. I am filled with comfort. I overflow with joy in all our affliction.</span>
  <span class="verse" title="2 Corinthians 7:5" id="2_Corinthians-7-5">For even when we had come into Macedonia, our flesh had no relief, but we were afflicted on every side. Fightings were outside. Fear was inside.</span>
  <span class="verse" title="2 Corinthians 7:6" id="2_Corinthians-7-6">Nevertheless, he who comforts the lowly, God, comforted us by the coming of Titus;</span>
  <span class="verse" title="2 Corinthians 7:7" id="2_Corinthians-7-7">and not by his coming only, but also by the comfort with which he was comforted in you, while he told us of your longing, your mourning, and your zeal for me; so that I rejoiced still more.</span>
  <span class="verse" title="2 Corinthians 7:8" id="2_Corinthians-7-8">For though I made you sorry with my letter, I do not regret it, though I did regret it. For I see that my letter made you sorry, though just for a while.</span>
  <span class="verse" title="2 Corinthians 7:9" id="2_Corinthians-7-9">I now rejoice, not that you were made sorry, but that you were made sorry to repentance. For you were made sorry in a godly way, that you might suffer loss by us in nothing.</span>
  <span class="verse" title="2 Corinthians 7:10" id="2_Corinthians-7-10">For godly sorrow works repentance to salvation, which brings no regret. But the sorrow of the world works death.</span>
  <span class="verse" title="2 Corinthians 7:11" id="2_Corinthians-7-11">For behold, this same thing, that you were made sorry in a godly way, what earnest care it worked in you. Yes, what defense, indignation, fear, longing, zeal, and vengeance! In everything you demonstrated yourselves to be pure in the matter.</span>
  <span class="verse" title="2 Corinthians 7:12" id="2_Corinthians-7-12">So although I wrote to you, I wrote not for his cause that did the wrong, nor for his cause that suffered the wrong, but that your earnest care for us might be revealed in you in the sight of God.</span>
  <span class="verse" title="2 Corinthians 7:13" id="2_Corinthians-7-13">Therefore we have been comforted. In our comfort we rejoiced the more exceedingly for the joy of Titus, because his spirit has been refreshed by you all.</span>
  <span class="verse" title="2 Corinthians 7:14" id="2_Corinthians-7-14">For if in anything I have boasted to him on your behalf, I was not disappointed. But as we spoke all things to you in truth, so our glorying also which I made before Titus was found to be truth.</span>
  <span class="verse" title="2 Corinthians 7:15" id="2_Corinthians-7-15">His affection is more abundantly toward you, while he remembers all of your obedience, how with fear and trembling you received him.</span>
  <span class="verse" title="2 Corinthians 7:16" id="2_Corinthians-7-16">I rejoice that in everything I am confident concerning you.</span>
</div>