<div class="chapter" id="2 Corinthians-008">
  <h2>2 Corinthians 8</h2>
  <span class="verse" title="2 Corinthians 8:1" id="2_Corinthians-8-1">Moreover, brothers, we make known to you the grace of God which has been given in the assemblies of Macedonia;</span>
  <span class="verse" title="2 Corinthians 8:2" id="2_Corinthians-8-2">how that in much proof of affliction the abundance of their joy and their deep poverty abounded to the riches of their liberality.</span>
  <span class="verse" title="2 Corinthians 8:3" id="2_Corinthians-8-3">For according to their power, I testify, yes and beyond their power, they gave of their own accord,</span>
  <span class="verse" title="2 Corinthians 8:4" id="2_Corinthians-8-4">begging us with much entreaty to receive this grace and the fellowship in the service to the saints.</span>
  <span class="verse" title="2 Corinthians 8:5" id="2_Corinthians-8-5">This was not as we had hoped, but first they gave their own selves to the Lord, and to us through the will of God.</span>
  <span class="verse" title="2 Corinthians 8:6" id="2_Corinthians-8-6">So we urged Titus, that as he made a beginning before, so he would also complete in you this grace.</span>
  <span class="verse" title="2 Corinthians 8:7" id="2_Corinthians-8-7">But as you abound in everything, in faith, utterance, knowledge, all earnestness, and in your love to us, see that you also abound in this grace.</span>
  <span class="verse" title="2 Corinthians 8:8" id="2_Corinthians-8-8">I speak not by way of commandment, but as proving through the earnestness of others the sincerity also of your love.</span>
  <span class="verse" title="2 Corinthians 8:9" id="2_Corinthians-8-9">For you know the grace of our Lord Jesus Christ, that, though he was rich, yet for your sakes he became poor, that you through his poverty might become rich.</span>
  <span class="verse" title="2 Corinthians 8:10" id="2_Corinthians-8-10">I give a judgment in this: for this is expedient for you, who were the first to start a year ago, not only to do, but also to be willing.</span>
  <span class="verse" title="2 Corinthians 8:11" id="2_Corinthians-8-11">But now complete the doing also, that as there was the readiness to be willing, so there may be the completion also out of your ability.</span>
  <span class="verse" title="2 Corinthians 8:12" id="2_Corinthians-8-12">For if the readiness is there, it is acceptable according to what you have, not according to what you don&#8217;t have.</span>
  <span class="verse" title="2 Corinthians 8:13" id="2_Corinthians-8-13">For this is not that others may be eased and you distressed,</span>
  <span class="verse" title="2 Corinthians 8:14" id="2_Corinthians-8-14">but for equality. Your abundance at this present time supplies their lack, that their abundance also may become a supply for your lack; that there may be equality.</span>
  <span class="verse" title="2 Corinthians 8:15" id="2_Corinthians-8-15">As it is written, &#8220;He who gathered much had nothing left over, and he who gathered little had no lack.&#8221;</span>
  <span class="verse" title="2 Corinthians 8:16" id="2_Corinthians-8-16">But thanks be to God, who puts the same earnest care for you into the heart of Titus.</span>
  <span class="verse" title="2 Corinthians 8:17" id="2_Corinthians-8-17">For he indeed accepted our exhortation, but being himself very earnest, he went out to you of his own accord.</span>
  <span class="verse" title="2 Corinthians 8:18" id="2_Corinthians-8-18">We have sent together with him the brother whose praise in the Good News is known through all the assemblies.</span>
  <span class="verse" title="2 Corinthians 8:19" id="2_Corinthians-8-19">Not only so, but who was also appointed by the assemblies to travel with us in this grace, which is served by us to the glory of the Lord himself, and to show our readiness.</span>
  <span class="verse" title="2 Corinthians 8:20" id="2_Corinthians-8-20">We are avoiding this, that any man should blame us concerning this abundance which is administered by us.</span>
  <span class="verse" title="2 Corinthians 8:21" id="2_Corinthians-8-21">Having regard for honorable things, not only in the sight of the Lord, but also in the sight of men.</span>
  <span class="verse" title="2 Corinthians 8:22" id="2_Corinthians-8-22">We have sent with them our brother, whom we have many times proved earnest in many things, but now much more earnest, by reason of the great confidence which he has in you.</span>
  <span class="verse" title="2 Corinthians 8:23" id="2_Corinthians-8-23">As for Titus, he is my partner and fellow worker for you. As for our brothers, they are the apostles of the assemblies, the glory of Christ.</span>
  <span class="verse" title="2 Corinthians 8:24" id="2_Corinthians-8-24">Therefore show the proof of your love to them in front of the assemblies, and of our boasting on your behalf.</span>
</div>