<div class="chapter" id="2 Corinthians-009">
  <h2>2 Corinthians 9</h2>
  <span class="verse" title="2 Corinthians 9:1" id="2_Corinthians-9-1">It is indeed unnecessary for me to write to you concerning the service to the saints,</span>
  <span class="verse" title="2 Corinthians 9:2" id="2_Corinthians-9-2">for I know your readiness, of which I boast on your behalf to them of Macedonia, that Achaia has been prepared for a year past. Your zeal has stirred up very many of them.</span>
  <span class="verse" title="2 Corinthians 9:3" id="2_Corinthians-9-3">But I have sent the brothers that our boasting on your behalf may not be in vain in this respect, that, just as I said, you may be prepared,</span>
  <span class="verse" title="2 Corinthians 9:4" id="2_Corinthians-9-4">so that I won&#8217;t by any means, if there come with me any of Macedonia and find you unprepared, we (to say nothing of you) should be disappointed in this confident boasting.</span>
  <span class="verse" title="2 Corinthians 9:5" id="2_Corinthians-9-5">I thought it necessary therefore to entreat the brothers that they would go before to you, and arrange ahead of time the generous gift that you promised before, that the same might be ready as a matter of generosity, and not of greediness.</span>
  <span class="verse" title="2 Corinthians 9:6" id="2_Corinthians-9-6">Remember this: he who sows sparingly will also reap sparingly. He who sows bountifully will also reap bountifully.</span>
  <span class="verse" title="2 Corinthians 9:7" id="2_Corinthians-9-7">Let each man give according as he has determined in his heart; not grudgingly, or under compulsion; for God loves a cheerful giver.</span>
  <span class="verse" title="2 Corinthians 9:8" id="2_Corinthians-9-8">And God is able to make all grace abound to you, that you, always having all sufficiency in everything, may abound to every good work.</span>
  <span class="verse" title="2 Corinthians 9:9" id="2_Corinthians-9-9">As it is written,  &#8220;He has scattered abroad, he has given to the poor.<br/> <span class="indent">&nbsp;&nbsp;</span>His righteousness remains forever.&#8221;<br/></span>
  <span class="verse" title="2 Corinthians 9:10" id="2_Corinthians-9-10">Now may he who supplies seed to the sower and bread for food, supply and multiply your seed for sowing, and increase the fruits of your righteousness;</span>
  <span class="verse" title="2 Corinthians 9:11" id="2_Corinthians-9-11">you being enriched in everything to all liberality, which works through us thanksgiving to God.</span>
  <span class="verse" title="2 Corinthians 9:12" id="2_Corinthians-9-12">For this service of giving that you perform not only makes up for lack among the saints, but abounds also through many givings of thanks to God;</span>
  <span class="verse" title="2 Corinthians 9:13" id="2_Corinthians-9-13">seeing that through the proof given by this service, they glorify God for the obedience of your confession to the Good News of Christ, and for the liberality of your contribution to them and to all;</span>
  <span class="verse" title="2 Corinthians 9:14" id="2_Corinthians-9-14">while they themselves also, with supplication on your behalf, yearn for you by reason of the exceeding grace of God in you.</span>
  <span class="verse" title="2 Corinthians 9:15" id="2_Corinthians-9-15">Now thanks be to God for his unspeakable gift!</span>
</div>