<div class="chapter" id="2 Corinthians-010">
  <h2>2 Corinthians 10</h2>
  <span class="verse" title="2 Corinthians 10:1" id="2_Corinthians-10-1">Now I Paul, myself, entreat you by the humility and gentleness of Christ; I who in your presence am lowly among you, but being absent am bold toward you.</span>
  <span class="verse" title="2 Corinthians 10:2" id="2_Corinthians-10-2">Yes, I beg you that I may not, when present, show courage with the confidence with which I intend to be bold against some, who consider us to be walking according to the flesh.</span>
  <span class="verse" title="2 Corinthians 10:3" id="2_Corinthians-10-3">For though we walk in the flesh, we don&#8217;t wage war according to the flesh;</span>
  <span class="verse" title="2 Corinthians 10:4" id="2_Corinthians-10-4">for the weapons of our warfare are not of the flesh, but mighty before God to the throwing down of strongholds,</span>
  <span class="verse" title="2 Corinthians 10:5" id="2_Corinthians-10-5">throwing down imaginations and every high thing that is exalted against the knowledge of God, and bringing every thought into captivity to the obedience of Christ;</span>
  <span class="verse" title="2 Corinthians 10:6" id="2_Corinthians-10-6">and being in readiness to avenge all disobedience, when your obedience will be made full.</span>
  <span class="verse" title="2 Corinthians 10:7" id="2_Corinthians-10-7">Do you look at things only as they appear in front of your face? If anyone trusts in himself that he is Christ&#8217;s, let him consider this again with himself, that, even as he is Christ&#8217;s, so also we are Christ&#8217;s.</span>
  <span class="verse" title="2 Corinthians 10:8" id="2_Corinthians-10-8">For though I should boast somewhat abundantly concerning our authority, (which the Lord gave for building you up, and not for casting you down) I will not be disappointed,</span>
  <span class="verse" title="2 Corinthians 10:9" id="2_Corinthians-10-9">that I may not seem as if I desire to terrify you by my letters.</span>
  <span class="verse" title="2 Corinthians 10:10" id="2_Corinthians-10-10">For, &#8220;His letters,&#8221; they say, &#8220;are weighty and strong, but his bodily presence is weak, and his speech is despised.&#8221;</span>
  <span class="verse" title="2 Corinthians 10:11" id="2_Corinthians-10-11">Let such a person consider this, that what we are in word by letters when we are absent, such are we also in deed when we are present.</span>
  <span class="verse" title="2 Corinthians 10:12" id="2_Corinthians-10-12">For we are not bold to number or compare ourselves with some of those who commend themselves. But they themselves, measuring themselves by themselves, and comparing themselves with themselves, are without understanding.</span>
  <span class="verse" title="2 Corinthians 10:13" id="2_Corinthians-10-13">But we will not boast beyond proper limits, but within the boundaries with which God appointed to us, which reach even to you.</span>
  <span class="verse" title="2 Corinthians 10:14" id="2_Corinthians-10-14">For we don&#8217;t stretch ourselves too much, as though we didn&#8217;t reach to you. For we came even as far as to you with the Good News of Christ,</span>
  <span class="verse" title="2 Corinthians 10:15" id="2_Corinthians-10-15">not boasting beyond proper limits in other men&#8217;s labors, but having hope that as your faith grows, we will be abundantly enlarged by you in our sphere of influence,</span>
  <span class="verse" title="2 Corinthians 10:16" id="2_Corinthians-10-16">so as to preach the Good News even to the parts beyond you, not to boast in what someone else has already done.</span>
  <span class="verse" title="2 Corinthians 10:17" id="2_Corinthians-10-17">But &#8220;he who boasts, let him boast in the Lord.&#8221;</span>
  <span class="verse" title="2 Corinthians 10:18" id="2_Corinthians-10-18">For it isn&#8217;t he who commends himself who is approved, but whom the Lord commends.</span>
</div>