<div class="chapter" id="2 Corinthians-011">
  <h2>2 Corinthians 11</h2>
  <span class="verse" title="2 Corinthians 11:1" id="2_Corinthians-11-1">I wish that you would bear with me in a little foolishness, but indeed you do bear with me.</span>
  <span class="verse" title="2 Corinthians 11:2" id="2_Corinthians-11-2">For I am jealous over you with a godly jealousy. For I married you to one husband, that I might present you as a pure virgin to Christ.</span>
  <span class="verse" title="2 Corinthians 11:3" id="2_Corinthians-11-3">But I am afraid that somehow, as the serpent deceived Eve in his craftiness, so your minds might be corrupted from the simplicity that is in Christ.</span>
  <span class="verse" title="2 Corinthians 11:4" id="2_Corinthians-11-4">For if he who comes preaches another Jesus, whom we did not preach, or if you receive a different spirit, which you did not receive, or a different &#8220;good news&#8221;, which you did not accept, you put up with that well enough.</span>
  <span class="verse" title="2 Corinthians 11:5" id="2_Corinthians-11-5">For I reckon that I am not at all behind the very best apostles.</span>
  <span class="verse" title="2 Corinthians 11:6" id="2_Corinthians-11-6">But though I am unskilled in speech, yet I am not unskilled in knowledge. No, in every way we have been revealed to you in all things.</span>
  <span class="verse" title="2 Corinthians 11:7" id="2_Corinthians-11-7">Or did I commit a sin in humbling myself that you might be exalted, because I preached to you God&#8217;s Good News free of charge?</span>
  <span class="verse" title="2 Corinthians 11:8" id="2_Corinthians-11-8">I robbed other assemblies, taking wages from them that I might serve you.</span>
  <span class="verse" title="2 Corinthians 11:9" id="2_Corinthians-11-9">When I was present with you and was in need, I wasn&#8217;t a burden on anyone, for the brothers, when they came from Macedonia, supplied the measure of my need. In everything I kept myself from being burdensome to you, and I will continue to do so.</span>
  <span class="verse" title="2 Corinthians 11:10" id="2_Corinthians-11-10">As the truth of Christ is in me, no one will stop me from this boasting in the regions of Achaia.</span>
  <span class="verse" title="2 Corinthians 11:11" id="2_Corinthians-11-11">Why? Because I don&#8217;t love you? God knows.</span>
  <span class="verse" title="2 Corinthians 11:12" id="2_Corinthians-11-12">But what I do, that I will do, that I may cut off occasion from them that desire an occasion, that in which they boast, they may be found even as we.</span>
  <span class="verse" title="2 Corinthians 11:13" id="2_Corinthians-11-13">For such men are false apostles, deceitful workers, masquerading as Christ&#8217;s apostles.</span>
  <span class="verse" title="2 Corinthians 11:14" id="2_Corinthians-11-14">And no wonder, for even Satan masquerades as an angel of light.</span>
  <span class="verse" title="2 Corinthians 11:15" id="2_Corinthians-11-15">It is no great thing therefore if his servants also masquerade as servants of righteousness, whose end will be according to their works.</span>
  <span class="verse" title="2 Corinthians 11:16" id="2_Corinthians-11-16">I say again, let no one think me foolish. But if so, yet receive me as foolish, that I also may boast a little.</span>
  <span class="verse" title="2 Corinthians 11:17" id="2_Corinthians-11-17">That which I speak, I don&#8217;t speak according to the Lord, but as in foolishness, in this confidence of boasting.</span>
  <span class="verse" title="2 Corinthians 11:18" id="2_Corinthians-11-18">Seeing that many boast after the flesh, I will also boast.</span>
  <span class="verse" title="2 Corinthians 11:19" id="2_Corinthians-11-19">For you bear with the foolish gladly, being wise.</span>
  <span class="verse" title="2 Corinthians 11:20" id="2_Corinthians-11-20">For you bear with a man, if he brings you into bondage, if he devours you, if he takes you captive, if he exalts himself, if he strikes you on the face.</span>
  <span class="verse" title="2 Corinthians 11:21" id="2_Corinthians-11-21">I speak by way of disparagement, as though we had been weak. Yet however any is bold (I speak in foolishness), I am bold also.</span>
  <span class="verse" title="2 Corinthians 11:22" id="2_Corinthians-11-22">Are they Hebrews? So am I. Are they Israelites? So am I. Are they the seed of Abraham? So am I.</span>
  <span class="verse" title="2 Corinthians 11:23" id="2_Corinthians-11-23">Are they servants of Christ? (I speak as one beside himself) I am more so; in labors more abundantly, in prisons more abundantly, in stripes above measure, in deaths often.</span>
  <span class="verse" title="2 Corinthians 11:24" id="2_Corinthians-11-24">Five times from the Jews I received forty stripes minus one.</span>
  <span class="verse" title="2 Corinthians 11:25" id="2_Corinthians-11-25">Three times I was beaten with rods. Once I was stoned. Three times I suffered shipwreck. I have been a night and a day in the deep.</span>
  <span class="verse" title="2 Corinthians 11:26" id="2_Corinthians-11-26">I have been in travels often, perils of rivers, perils of robbers, perils from my countrymen, perils from the Gentiles, perils in the city, perils in the wilderness, perils in the sea, perils among false brothers;</span>
  <span class="verse" title="2 Corinthians 11:27" id="2_Corinthians-11-27">in labor and travail, in watchings often, in hunger and thirst, in fastings often, and in cold and nakedness.</span>
  <span class="verse" title="2 Corinthians 11:28" id="2_Corinthians-11-28">Besides those things that are outside, there is that which presses on me daily, anxiety for all the assemblies.</span>
  <span class="verse" title="2 Corinthians 11:29" id="2_Corinthians-11-29">Who is weak, and I am not weak? Who is caused to stumble, and I don&#8217;t burn with indignation?</span>
  <span class="verse" title="2 Corinthians 11:30" id="2_Corinthians-11-30">If I must boast, I will boast of the things that concern my weakness.</span>
  <span class="verse" title="2 Corinthians 11:31" id="2_Corinthians-11-31">The God and Father of the Lord Jesus Christ, he who is blessed forevermore, knows that I don&#8217;t lie.</span>
  <span class="verse" title="2 Corinthians 11:32" id="2_Corinthians-11-32">In Damascus the governor under King Aretas guarded the city of the Damascenes desiring to arrest me.</span>
  <span class="verse" title="2 Corinthians 11:33" id="2_Corinthians-11-33">Through a window I was let down in a basket by the wall, and escaped his hands.</span>
</div>