<div class="chapter" id="2 Corinthians-013">
  <h2>2 Corinthians 13</h2>
  <span class="verse" title="2 Corinthians 13:1" id="2_Corinthians-13-1">This is the third time I am coming to you. &#8220;At the mouth of two or three witnesses shall every word be established.&#8221;</span>
  <span class="verse" title="2 Corinthians 13:2" id="2_Corinthians-13-2">I have said beforehand, and I do say beforehand, as when I was present the second time, so now, being absent, I write to those who have sinned before now, and to all the rest, that, if I come again, I will not spare;</span>
  <span class="verse" title="2 Corinthians 13:3" id="2_Corinthians-13-3">seeing that you seek a proof of Christ who speaks in me; who toward you is not weak, but is powerful in you.</span>
  <span class="verse" title="2 Corinthians 13:4" id="2_Corinthians-13-4">For he was crucified through weakness, yet he lives through the power of God. For we also are weak in him, but we will live with him through the power of God toward you.</span>
  <span class="verse" title="2 Corinthians 13:5" id="2_Corinthians-13-5">Test your own selves, whether you are in the faith. Test your own selves. Or don&#8217;t you know as to your own selves, that Jesus Christ is in you?—unless indeed you are disqualified.</span>
  <span class="verse" title="2 Corinthians 13:6" id="2_Corinthians-13-6">But I hope that you will know that we aren&#8217;t disqualified.</span>
  <span class="verse" title="2 Corinthians 13:7" id="2_Corinthians-13-7">Now I pray to God that you do no evil; not that we may appear approved, but that you may do that which is honorable, though we are as reprobate.</span>
  <span class="verse" title="2 Corinthians 13:8" id="2_Corinthians-13-8">For we can do nothing against the truth, but for the truth.</span>
  <span class="verse" title="2 Corinthians 13:9" id="2_Corinthians-13-9">For we rejoice when we are weak and you are strong. And this we also pray for, even your perfecting.</span>
  <span class="verse" title="2 Corinthians 13:10" id="2_Corinthians-13-10">For this cause I write these things while absent, that I may not deal sharply when present, according to the authority which the Lord gave me for building up, and not for tearing down.</span>
  <span class="verse" title="2 Corinthians 13:11" id="2_Corinthians-13-11">Finally, brothers, rejoice. Be perfected, be comforted, be of the same mind, live in peace, and the God of love and peace will be with you.</span>
  <span class="verse" title="2 Corinthians 13:12" id="2_Corinthians-13-12">Greet one another with a holy kiss.</span>
  <span class="verse" title="2 Corinthians 13:13" id="2_Corinthians-13-13">All the saints greet you.</span>
  <span class="verse" title="2 Corinthians 13:14" id="2_Corinthians-13-14">The grace of the Lord Jesus Christ, the love of God, and the fellowship of the Holy Spirit, be with you all. Amen.</span>
</div>