<div class="chapter" id="Romans-001">
  <h2>Romans 1</h2>
  <span class="verse" title="Romans 1:1" id="Romans-1-1">Paul, a servant of Jesus Christ, called to be an apostle, set apart for the Good News of God,</span>
  <span class="verse" title="Romans 1:2" id="Romans-1-2">which he promised before through his prophets in the holy Scriptures,</span>
  <span class="verse" title="Romans 1:3" id="Romans-1-3">concerning his Son, who was born of the seed of David according to the flesh,</span>
  <span class="verse" title="Romans 1:4" id="Romans-1-4">who was declared to be the Son of God with power, according to the Spirit of holiness, by the resurrection from the dead, Jesus Christ our Lord,</span>
  <span class="verse" title="Romans 1:5" id="Romans-1-5">through whom we received grace and apostleship, for obedience of faith among all the nations, for his name&#8217;s sake;</span>
  <span class="verse" title="Romans 1:6" id="Romans-1-6">among whom you are also called to belong to Jesus Christ;</span>
  <span class="verse" title="Romans 1:7" id="Romans-1-7">to all who are in Rome, beloved of God, called to be saints: Grace to you and peace from God our Father and the Lord Jesus Christ.</span>
  <span class="verse" title="Romans 1:8" id="Romans-1-8">First, I thank my God through Jesus Christ for all of you, that your faith is proclaimed throughout the whole world.</span>
  <span class="verse" title="Romans 1:9" id="Romans-1-9">For God is my witness, whom I serve in my spirit in the Good News of his Son, how unceasingly I make mention of you always in my prayers,</span>
  <span class="verse" title="Romans 1:10" id="Romans-1-10">requesting, if by any means now at last I may be prospered by the will of God to come to you.</span>
  <span class="verse" title="Romans 1:11" id="Romans-1-11">For I long to see you, that I may impart to you some spiritual gift, to the end that you may be established;</span>
  <span class="verse" title="Romans 1:12" id="Romans-1-12">that is, that I with you may be encouraged in you, each of us by the other&#8217;s faith, both yours and mine.</span>
  <span class="verse" title="Romans 1:13" id="Romans-1-13">Now I don&#8217;t desire to have you unaware, brothers, that I often planned to come to you, and was hindered so far, that I might have some fruit among you also, even as among the rest of the Gentiles.</span>
  <span class="verse" title="Romans 1:14" id="Romans-1-14">I am debtor both to Greeks and to foreigners, both to the wise and to the foolish.</span>
  <span class="verse" title="Romans 1:15" id="Romans-1-15">So, as much as is in me, I am eager to preach the Good News to you also who are in Rome.</span>
  <span class="verse" title="Romans 1:16" id="Romans-1-16">For I am not ashamed of the Good News of Christ, for it is the power of God for salvation for everyone who believes; for the Jew first, and also for the Greek.</span>
  <span class="verse" title="Romans 1:17" id="Romans-1-17">For in it is revealed God&#8217;s righteousness from faith to faith. As it is written, &#8220;But the righteous shall live by faith.&#8221;</span>
  <span class="verse" title="Romans 1:18" id="Romans-1-18">For the wrath of God is revealed from heaven against all ungodliness and unrighteousness of men, who suppress the truth in unrighteousness,</span>
  <span class="verse" title="Romans 1:19" id="Romans-1-19">because that which is known of God is revealed in them, for God revealed it to them.</span>
  <span class="verse" title="Romans 1:20" id="Romans-1-20">For the invisible things of him since the creation of the world are clearly seen, being perceived through the things that are made, even his everlasting power and divinity; that they may be without excuse.</span>
  <span class="verse" title="Romans 1:21" id="Romans-1-21">Because, knowing God, they didn&#8217;t glorify him as God, neither gave thanks, but became vain in their reasoning, and their senseless heart was darkened.</span>
  <span class="verse" title="Romans 1:22" id="Romans-1-22">Professing themselves to be wise, they became fools,</span>
  <span class="verse" title="Romans 1:23" id="Romans-1-23">and traded the glory of the incorruptible God for the likeness of an image of corruptible man, and of birds, and four-footed animals, and creeping things.</span>
  <span class="verse" title="Romans 1:24" id="Romans-1-24">Therefore God also gave them up in the lusts of their hearts to uncleanness, that their bodies should be dishonored among themselves,</span>
  <span class="verse" title="Romans 1:25" id="Romans-1-25">who exchanged the truth of God for a lie, and worshiped and served the creature rather than the Creator, who is blessed forever. Amen.</span>
  <span class="verse" title="Romans 1:26" id="Romans-1-26">For this reason, God gave them up to vile passions. For their women changed the natural function into that which is against nature.</span>
  <span class="verse" title="Romans 1:27" id="Romans-1-27">Likewise also the men, leaving the natural function of the woman, burned in their lust toward one another, men doing what is inappropriate with men, and receiving in themselves the due penalty of their error.</span>
  <span class="verse" title="Romans 1:28" id="Romans-1-28">Even as they refused to have God in their knowledge, God gave them up to a reprobate mind, to do those things which are not fitting;</span>
  <span class="verse" title="Romans 1:29" id="Romans-1-29">being filled with all unrighteousness, sexual immorality, wickedness, covetousness, malice; full of envy, murder, strife, deceit, evil habits, secret slanderers,</span>
  <span class="verse" title="Romans 1:30" id="Romans-1-30">backbiters, hateful to God, insolent, haughty, boastful, inventors of evil things, disobedient to parents,</span>
  <span class="verse" title="Romans 1:31" id="Romans-1-31">without understanding, covenant breakers, without natural affection, unforgiving, unmerciful;</span>
  <span class="verse" title="Romans 1:32" id="Romans-1-32">who, knowing the ordinance of God, that those who practice such things are worthy of death, not only do the same, but also approve of those who practice them.</span>
</div>