<div class="chapter" id="Romans-002">
  <h2>Romans 2</h2>
  <span class="verse" title="Romans 2:1" id="Romans-2-1">Therefore you are without excuse, O man, whoever you are who judge. For in that which you judge another, you condemn yourself. For you who judge practice the same things.</span>
  <span class="verse" title="Romans 2:2" id="Romans-2-2">We know that the judgment of God is according to truth against those who practice such things.</span>
  <span class="verse" title="Romans 2:3" id="Romans-2-3">Do you think this, O man who judges those who practice such things, and do the same, that you will escape the judgment of God?</span>
  <span class="verse" title="Romans 2:4" id="Romans-2-4">Or do you despise the riches of his goodness, forbearance, and patience, not knowing that the goodness of God leads you to repentance?</span>
  <span class="verse" title="Romans 2:5" id="Romans-2-5">But according to your hardness and unrepentant heart you are treasuring up for yourself wrath in the day of wrath, revelation, and of the righteous judgment of God;</span>
  <span class="verse" title="Romans 2:6" id="Romans-2-6">who &#8220;will pay back to everyone according to their works:&#8221;</span>
  <span class="verse" title="Romans 2:7" id="Romans-2-7">to those who by patience in well-doing seek for glory, honor, and incorruptibility, eternal life;</span>
  <span class="verse" title="Romans 2:8" id="Romans-2-8">but to those who are self-seeking, and don&#8217;t obey the truth, but obey unrighteousness, will be wrath and indignation,</span>
  <span class="verse" title="Romans 2:9" id="Romans-2-9">oppression and anguish, on every soul of man who works evil, to the Jew first, and also to the Greek.</span>
  <span class="verse" title="Romans 2:10" id="Romans-2-10">But glory, honor, and peace go to every man who works good, to the Jew first, and also to the Greek.</span>
  <span class="verse" title="Romans 2:11" id="Romans-2-11">For there is no partiality with God.</span>
  <span class="verse" title="Romans 2:12" id="Romans-2-12">For as many as have sinned without law will also perish without the law. As many as have sinned under the law will be judged by the law.</span>
  <span class="verse" title="Romans 2:13" id="Romans-2-13">For it isn&#8217;t the hearers of the law who are righteous before God, but the doers of the law will be justified</span>
  <span class="verse" title="Romans 2:14" id="Romans-2-14">(for when Gentiles who don&#8217;t have the law do by nature the things of the law, these, not having the law, are a law to themselves,</span>
  <span class="verse" title="Romans 2:15" id="Romans-2-15">in that they show the work of the law written in their hearts, their conscience testifying with them, and their thoughts among themselves accusing or else excusing them)</span>
  <span class="verse" title="Romans 2:16" id="Romans-2-16">in the day when God will judge the secrets of men, according to my Good News, by Jesus Christ.</span>
  <span class="verse" title="Romans 2:17" id="Romans-2-17">Indeed you bear the name of a Jew, and rest on the law, and glory in God,</span>
  <span class="verse" title="Romans 2:18" id="Romans-2-18">and know his will, and approve the things that are excellent, being instructed out of the law,</span>
  <span class="verse" title="Romans 2:19" id="Romans-2-19">and are confident that you yourself are a guide of the blind, a light to those who are in darkness,</span>
  <span class="verse" title="Romans 2:20" id="Romans-2-20">a corrector of the foolish, a teacher of babies, having in the law the form of knowledge and of the truth.</span>
  <span class="verse" title="Romans 2:21" id="Romans-2-21">You therefore who teach another, don&#8217;t you teach yourself? You who preach that a man shouldn&#8217;t steal, do you steal?</span>
  <span class="verse" title="Romans 2:22" id="Romans-2-22">You who say a man shouldn&#8217;t commit adultery. Do you commit adultery? You who abhor idols, do you rob temples?</span>
  <span class="verse" title="Romans 2:23" id="Romans-2-23">You who glory in the law, through your disobedience of the law do you dishonor God?</span>
  <span class="verse" title="Romans 2:24" id="Romans-2-24">For &#8220;the name of God is blasphemed among the Gentiles because of you,&#8221; just as it is written.</span>
  <span class="verse" title="Romans 2:25" id="Romans-2-25">For circumcision indeed profits, if you are a doer of the law, but if you are a transgressor of the law, your circumcision has become uncircumcision.</span>
  <span class="verse" title="Romans 2:26" id="Romans-2-26">If therefore the uncircumcised keep the ordinances of the law, won&#8217;t his uncircumcision be accounted as circumcision?</span>
  <span class="verse" title="Romans 2:27" id="Romans-2-27">Won&#8217;t the uncircumcision which is by nature, if it fulfills the law, judge you, who with the letter and circumcision are a transgressor of the law?</span>
  <span class="verse" title="Romans 2:28" id="Romans-2-28">For he is not a Jew who is one outwardly, neither is that circumcision which is outward in the flesh;</span>
  <span class="verse" title="Romans 2:29" id="Romans-2-29">but he is a Jew who is one inwardly, and circumcision is that of the heart, in the spirit not in the letter; whose praise is not from men, but from God.</span>
</div>