<div class="chapter" id="Romans-003">
  <h2>Romans 3</h2>
  <span class="verse" title="Romans 3:1" id="Romans-3-1">Then what advantage does the Jew have? Or what is the profit of circumcision?</span>
  <span class="verse" title="Romans 3:2" id="Romans-3-2">Much in every way! Because first of all, they were entrusted with the oracles of God.</span>
  <span class="verse" title="Romans 3:3" id="Romans-3-3">For what if some were without faith? Will their lack of faith nullify the faithfulness of God?</span>
  <span class="verse" title="Romans 3:4" id="Romans-3-4">May it never be! Yes, let God be found true, but every man a liar. As it is written,  &#8220;That you might be justified in your words,<br/> <span class="indent">&nbsp;&nbsp;</span>and might prevail when you come into judgment.&#8221;<br/></span>
  <span class="verse" title="Romans 3:5" id="Romans-3-5">But if our unrighteousness commends the righteousness of God, what will we say? Is God unrighteous who inflicts wrath? I speak like men do.</span>
  <span class="verse" title="Romans 3:6" id="Romans-3-6">May it never be! For then how will God judge the world?</span>
  <span class="verse" title="Romans 3:7" id="Romans-3-7">For if the truth of God through my lie abounded to his glory, why am I also still judged as a sinner?</span>
  <span class="verse" title="Romans 3:8" id="Romans-3-8">Why not (as we are slanderously reported, and as some affirm that we say), &#8220;Let us do evil, that good may come?&#8221; Those who say so are justly condemned.</span>
  <span class="verse" title="Romans 3:9" id="Romans-3-9">What then? Are we better than they? No, in no way. For we previously warned both Jews and Greeks, that they are all under sin.</span>
  <span class="verse" title="Romans 3:10" id="Romans-3-10">As it is written,  &#8220;There is no one righteous;<br/> <span class="indent">&nbsp;&nbsp;</span>no, not one.<br/></span>
  <span class="verse" title="Romans 3:11" id="Romans-3-11">There is no one who understands.<br/> <span class="indent">&nbsp;&nbsp;</span>There is no one who seeks after God.<br/></span>
  <span class="verse" title="Romans 3:12" id="Romans-3-12">They have all turned aside.<br/> <span class="indent">&nbsp;&nbsp;</span>They have together become unprofitable.<br/>   There is no one who does good,<br/> <span class="indent">&nbsp;&nbsp;</span>no, not, so much as one.&#8221;<br/>   <br/></span>
  <span class="verse" title="Romans 3:13" id="Romans-3-13">&#8220;Their throat is an open tomb.<br/> <span class="indent">&nbsp;&nbsp;</span>With their tongues they have used deceit.&#8221;<br/>   <br/>   &#8220;The poison of vipers is under their lips;&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Romans 3:14" id="Romans-3-14">&#8220;whose mouth is full of cursing and bitterness.&#8221;<br/>   <br/></span>
  <span class="verse" title="Romans 3:15" id="Romans-3-15">&#8220;Their feet are swift to shed blood.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Romans 3:16" id="Romans-3-16">Destruction and misery are in their ways.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Romans 3:17" id="Romans-3-17">The way of peace, they haven&#8217;t known.&#8221;<br/>   <br/></span>
  <span class="verse" title="Romans 3:18" id="Romans-3-18">&#8220;There is no fear of God before their eyes.&#8221;<br/></span>
  <span class="verse" title="Romans 3:19" id="Romans-3-19">Now we know that whatever things the law says, it speaks to those who are under the law, that every mouth may be closed, and all the world may be brought under the judgment of God.</span>
  <span class="verse" title="Romans 3:20" id="Romans-3-20">Because by the works of the law, no flesh will be justified in his sight. For through the law comes the knowledge of sin.</span>
  <span class="verse" title="Romans 3:21" id="Romans-3-21">But now apart from the law, a righteousness of God has been revealed, being testified by the law and the prophets;</span>
  <span class="verse" title="Romans 3:22" id="Romans-3-22">even the righteousness of God through faith in Jesus Christ to all and on all those who believe. For there is no distinction,</span>
  <span class="verse" title="Romans 3:23" id="Romans-3-23">for all have sinned, and fall short of the glory of God;</span>
  <span class="verse" title="Romans 3:24" id="Romans-3-24">being justified freely by his grace through the redemption that is in Christ Jesus;</span>
  <span class="verse" title="Romans 3:25" id="Romans-3-25">whom God set forth to be an atoning sacrifice, through faith in his blood, for a demonstration of his righteousness through the passing over of prior sins, in God&#8217;s forbearance;</span>
  <span class="verse" title="Romans 3:26" id="Romans-3-26">to demonstrate his righteousness at this present time; that he might himself be just, and the justifier of him who has faith in Jesus.</span>
  <span class="verse" title="Romans 3:27" id="Romans-3-27">Where then is the boasting? It is excluded. By what kind of law? Of works? No, but by a law of faith.</span>
  <span class="verse" title="Romans 3:28" id="Romans-3-28">We maintain therefore that a man is justified by faith apart from the works of the law.</span>
  <span class="verse" title="Romans 3:29" id="Romans-3-29">Or is God the God of Jews only? Isn&#8217;t he the God of Gentiles also? Yes, of Gentiles also,</span>
  <span class="verse" title="Romans 3:30" id="Romans-3-30">since indeed there is one God who will justify the circumcised by faith, and the uncircumcised through faith.</span>
  <span class="verse" title="Romans 3:31" id="Romans-3-31">Do we then nullify the law through faith? May it never be! No, we establish the law.</span>
</div>