<div class="chapter" id="Romans-004">
  <h2>Romans 4</h2>
  <span class="verse" title="Romans 4:1" id="Romans-4-1">What then will we say that Abraham, our forefather, has found according to the flesh?</span>
  <span class="verse" title="Romans 4:2" id="Romans-4-2">For if Abraham was justified by works, he has something to boast about, but not toward God.</span>
  <span class="verse" title="Romans 4:3" id="Romans-4-3">For what does the Scripture say? &#8220;Abraham believed God, and it was accounted to him for righteousness.&#8221;</span>
  <span class="verse" title="Romans 4:4" id="Romans-4-4">Now to him who works, the reward is not counted as grace, but as something owed.</span>
  <span class="verse" title="Romans 4:5" id="Romans-4-5">But to him who doesn&#8217;t work, but believes in him who justifies the ungodly, his faith is accounted for righteousness.</span>
  <span class="verse" title="Romans 4:6" id="Romans-4-6">Even as David also pronounces blessing on the man to whom God counts righteousness apart from works,</span>
  <span class="verse" title="Romans 4:7" id="Romans-4-7">&#8220;Blessed are they whose iniquities are forgiven,<br/> <span class="indent">&nbsp;&nbsp;</span>whose sins are covered.<br/></span>
  <span class="verse" title="Romans 4:8" id="Romans-4-8">Blessed is the man whom the Lord will by no means charge with sin.&#8221;<br/></span>
  <span class="verse" title="Romans 4:9" id="Romans-4-9">Is this blessing then pronounced on the circumcised, or on the uncircumcised also? For we say that faith was accounted to Abraham for righteousness.</span>
  <span class="verse" title="Romans 4:10" id="Romans-4-10">How then was it counted? When he was in circumcision, or in uncircumcision? Not in circumcision, but in uncircumcision.</span>
  <span class="verse" title="Romans 4:11" id="Romans-4-11">He received the sign of circumcision, a seal of the righteousness of the faith which he had while he was in uncircumcision, that he might be the father of all those who believe, though they might be in uncircumcision, that righteousness might also be accounted to them.</span>
  <span class="verse" title="Romans 4:12" id="Romans-4-12">He is the father of circumcision to those who not only are of the circumcision, but who also walk in the steps of that faith of our father Abraham, which he had in uncircumcision.</span>
  <span class="verse" title="Romans 4:13" id="Romans-4-13">For the promise to Abraham and to his seed that he should be heir of the world wasn&#8217;t through the law, but through the righteousness of faith.</span>
  <span class="verse" title="Romans 4:14" id="Romans-4-14">For if those who are of the law are heirs, faith is made void, and the promise is made of no effect.</span>
  <span class="verse" title="Romans 4:15" id="Romans-4-15">For the law works wrath, for where there is no law, neither is there disobedience.</span>
  <span class="verse" title="Romans 4:16" id="Romans-4-16">For this cause it is of faith, that it may be according to grace, to the end that the promise may be sure to all the seed, not to that only which is of the law, but to that also which is of the faith of Abraham, who is the father of us all.</span>
  <span class="verse" title="Romans 4:17" id="Romans-4-17">As it is written, &#8220;I have made you a father of many nations.&#8221; This is in the presence of him whom he believed: God, who gives life to the dead, and calls the things that are not, as though they were.</span>
  <span class="verse" title="Romans 4:18" id="Romans-4-18">Who in hope believed against hope, to the end that he might become a father of many nations, according to that which had been spoken, &#8220;So will your seed be.&#8221;</span>
  <span class="verse" title="Romans 4:19" id="Romans-4-19">Without being weakened in faith, he didn&#8217;t consider his own body, already having been worn out, (he being about a hundred years old), and the deadness of Sarah&#8217;s womb.</span>
  <span class="verse" title="Romans 4:20" id="Romans-4-20">Yet, looking to the promise of God, he didn&#8217;t waver through unbelief, but grew strong through faith, giving glory to God,</span>
  <span class="verse" title="Romans 4:21" id="Romans-4-21">and being fully assured that what he had promised, he was also able to perform.</span>
  <span class="verse" title="Romans 4:22" id="Romans-4-22">Therefore it also was &#8220;reckoned to him for righteousness.&#8221;</span>
  <span class="verse" title="Romans 4:23" id="Romans-4-23">Now it was not written that it was accounted to him for his sake alone,</span>
  <span class="verse" title="Romans 4:24" id="Romans-4-24">but for our sake also, to whom it will be accounted, who believe in him who raised Jesus, our Lord, from the dead,</span>
  <span class="verse" title="Romans 4:25" id="Romans-4-25">who was delivered up for our trespasses, and was raised for our justification.</span>
</div>