<div class="chapter" id="Romans-005">
  <h2>Romans 5</h2>
  <span class="verse" title="Romans 5:1" id="Romans-5-1">Being therefore justified by faith, we have peace with God through our Lord Jesus Christ;</span>
  <span class="verse" title="Romans 5:2" id="Romans-5-2">through whom we also have our access by faith into this grace in which we stand. We rejoice in hope of the glory of God.</span>
  <span class="verse" title="Romans 5:3" id="Romans-5-3">Not only this, but we also rejoice in our sufferings, knowing that suffering works perseverance;</span>
  <span class="verse" title="Romans 5:4" id="Romans-5-4">and perseverance, proven character; and proven character, hope:</span>
  <span class="verse" title="Romans 5:5" id="Romans-5-5">and hope doesn&#8217;t disappoint us, because God&#8217;s love has been poured out into our hearts through the Holy Spirit who was given to us.</span>
  <span class="verse" title="Romans 5:6" id="Romans-5-6">For while we were yet weak, at the right time Christ died for the ungodly.</span>
  <span class="verse" title="Romans 5:7" id="Romans-5-7">For one will hardly die for a righteous man. Yet perhaps for a righteous person someone would even dare to die.</span>
  <span class="verse" title="Romans 5:8" id="Romans-5-8">But God commends his own love toward us, in that while we were yet sinners, Christ died for us.</span>
  <span class="verse" title="Romans 5:9" id="Romans-5-9">Much more then, being now justified by his blood, we will be saved from God&#8217;s wrath through him.</span>
  <span class="verse" title="Romans 5:10" id="Romans-5-10">For if, while we were enemies, we were reconciled to God through the death of his Son, much more, being reconciled, we will be saved by his life.</span>
  <span class="verse" title="Romans 5:11" id="Romans-5-11">Not only so, but we also rejoice in God through our Lord Jesus Christ, through whom we have now received the reconciliation.</span>
  <span class="verse" title="Romans 5:12" id="Romans-5-12">Therefore, as sin entered into the world through one man, and death through sin; and so death passed to all men, because all sinned.</span>
  <span class="verse" title="Romans 5:13" id="Romans-5-13">For until the law, sin was in the world; but sin is not charged when there is no law.</span>
  <span class="verse" title="Romans 5:14" id="Romans-5-14">Nevertheless death reigned from Adam until Moses, even over those whose sins weren&#8217;t like Adam&#8217;s disobedience, who is a foreshadowing of him who was to come.</span>
  <span class="verse" title="Romans 5:15" id="Romans-5-15">But the free gift isn&#8217;t like the trespass. For if by the trespass of the one the many died, much more did the grace of God, and the gift by the grace of the one man, Jesus Christ, abound to the many.</span>
  <span class="verse" title="Romans 5:16" id="Romans-5-16">The gift is not as through one who sinned: for the judgment came by one to condemnation, but the free gift came of many trespasses to justification.</span>
  <span class="verse" title="Romans 5:17" id="Romans-5-17">For if by the trespass of the one, death reigned through the one; so much more will those who receive the abundance of grace and of the gift of righteousness reign in life through the one, Jesus Christ.</span>
  <span class="verse" title="Romans 5:18" id="Romans-5-18">So then as through one trespass, all men were condemned; even so through one act of righteousness, all men were justified to life.</span>
  <span class="verse" title="Romans 5:19" id="Romans-5-19">For as through the one man&#8217;s disobedience many were made sinners, even so through the obedience of the one, many will be made righteous.</span>
  <span class="verse" title="Romans 5:20" id="Romans-5-20">The law came in besides, that the trespass might abound; but where sin abounded, grace abounded more exceedingly;</span>
  <span class="verse" title="Romans 5:21" id="Romans-5-21">that as sin reigned in death, even so grace might reign through righteousness to eternal life through Jesus Christ our Lord.</span>
</div>