<div class="chapter" id="Romans-006">
  <h2>Romans 6</h2>
  <span class="verse" title="Romans 6:1" id="Romans-6-1">What shall we say then? Shall we continue in sin, that grace may abound?</span>
  <span class="verse" title="Romans 6:2" id="Romans-6-2">May it never be! We who died to sin, how could we live in it any longer?</span>
  <span class="verse" title="Romans 6:3" id="Romans-6-3">Or don&#8217;t you know that all we who were baptized into Christ Jesus were baptized into his death?</span>
  <span class="verse" title="Romans 6:4" id="Romans-6-4">We were buried therefore with him through baptism to death, that just like Christ was raised from the dead through the glory of the Father, so we also might walk in newness of life.</span>
  <span class="verse" title="Romans 6:5" id="Romans-6-5">For if we have become united with him in the likeness of his death, we will also be part of his resurrection;</span>
  <span class="verse" title="Romans 6:6" id="Romans-6-6">knowing this, that our old man was crucified with him, that the body of sin might be done away with, so that we would no longer be in bondage to sin.</span>
  <span class="verse" title="Romans 6:7" id="Romans-6-7">For he who has died has been freed from sin.</span>
  <span class="verse" title="Romans 6:8" id="Romans-6-8">But if we died with Christ, we believe that we will also live with him;</span>
  <span class="verse" title="Romans 6:9" id="Romans-6-9">knowing that Christ, being raised from the dead, dies no more. Death no more has dominion over him!</span>
  <span class="verse" title="Romans 6:10" id="Romans-6-10">For the death that he died, he died to sin one time; but the life that he lives, he lives to God.</span>
  <span class="verse" title="Romans 6:11" id="Romans-6-11">Thus consider yourselves also to be dead to sin, but alive to God in Christ Jesus our Lord.</span>
  <span class="verse" title="Romans 6:12" id="Romans-6-12">Therefore don&#8217;t let sin reign in your mortal body, that you should obey it in its lusts.</span>
  <span class="verse" title="Romans 6:13" id="Romans-6-13">Neither present your members to sin as instruments of unrighteousness, but present yourselves to God, as alive from the dead, and your members as instruments of righteousness to God.</span>
  <span class="verse" title="Romans 6:14" id="Romans-6-14">For sin will not have dominion over you. For you are not under law, but under grace.</span>
  <span class="verse" title="Romans 6:15" id="Romans-6-15">What then? Shall we sin, because we are not under law, but under grace? May it never be!</span>
  <span class="verse" title="Romans 6:16" id="Romans-6-16">Don&#8217;t you know that to whom you present yourselves as servants to obedience, his servants you are whom you obey; whether of sin to death, or of obedience to righteousness?</span>
  <span class="verse" title="Romans 6:17" id="Romans-6-17">But thanks be to God, that, whereas you were bondservants of sin, you became obedient from the heart to that form of teaching whereunto you were delivered.</span>
  <span class="verse" title="Romans 6:18" id="Romans-6-18">Being made free from sin, you became bondservants of righteousness.</span>
  <span class="verse" title="Romans 6:19" id="Romans-6-19">I speak in human terms because of the weakness of your flesh, for as you presented your members as servants to uncleanness and to wickedness upon wickedness, even so now present your members as servants to righteousness for sanctification.</span>
  <span class="verse" title="Romans 6:20" id="Romans-6-20">For when you were servants of sin, you were free in regard to righteousness.</span>
  <span class="verse" title="Romans 6:21" id="Romans-6-21">What fruit then did you have at that time in the things of which you are now ashamed? For the end of those things is death.</span>
  <span class="verse" title="Romans 6:22" id="Romans-6-22">But now, being made free from sin, and having become servants of God, you have your fruit of sanctification, and the result of eternal life.</span>
  <span class="verse" title="Romans 6:23" id="Romans-6-23">For the wages of sin is death, but the free gift of God is eternal life in Christ Jesus our Lord.</span>
</div>