<div class="chapter" id="Romans-007">
  <h2>Romans 7</h2>
  <span class="verse" title="Romans 7:1" id="Romans-7-1">Or don&#8217;t you know, brothers (for I speak to men who know the law), that the law has dominion over a man for as long as he lives?</span>
  <span class="verse" title="Romans 7:2" id="Romans-7-2">For the woman that has a husband is bound by law to the husband while he lives, but if the husband dies, she is discharged from the law of the husband.</span>
  <span class="verse" title="Romans 7:3" id="Romans-7-3">So then if, while the husband lives, she is joined to another man, she would be called an adulteress. But if the husband dies, she is free from the law, so that she is no adulteress, though she is joined to another man.</span>
  <span class="verse" title="Romans 7:4" id="Romans-7-4">Therefore, my brothers, you also were made dead to the law through the body of Christ, that you would be joined to another, to him who was raised from the dead, that we might bring forth fruit to God.</span>
  <span class="verse" title="Romans 7:5" id="Romans-7-5">For when we were in the flesh, the sinful passions which were through the law, worked in our members to bring forth fruit to death.</span>
  <span class="verse" title="Romans 7:6" id="Romans-7-6">But now we have been discharged from the law, having died to that in which we were held; so that we serve in newness of the spirit, and not in oldness of the letter.</span>
  <span class="verse" title="Romans 7:7" id="Romans-7-7">What shall we say then? Is the law sin? May it never be! However, I wouldn&#8217;t have known sin, except through the law. For I wouldn&#8217;t have known coveting, unless the law had said, &#8220;You shall not covet.&#8221;</span>
  <span class="verse" title="Romans 7:8" id="Romans-7-8">But sin, finding occasion through the commandment, produced in me all kinds of coveting. For apart from the law, sin is dead.</span>
  <span class="verse" title="Romans 7:9" id="Romans-7-9">I was alive apart from the law once, but when the commandment came, sin revived, and I died.</span>
  <span class="verse" title="Romans 7:10" id="Romans-7-10">The commandment, which was for life, this I found to be for death;</span>
  <span class="verse" title="Romans 7:11" id="Romans-7-11">for sin, finding occasion through the commandment, deceived me, and through it killed me.</span>
  <span class="verse" title="Romans 7:12" id="Romans-7-12">Therefore the law indeed is holy, and the commandment holy, and righteous, and good.</span>
  <span class="verse" title="Romans 7:13" id="Romans-7-13">Did then that which is good become death to me? May it never be! But sin, that it might be shown to be sin, by working death to me through that which is good; that through the commandment sin might become exceeding sinful.</span>
  <span class="verse" title="Romans 7:14" id="Romans-7-14">For we know that the law is spiritual, but I am fleshly, sold under sin.</span>
  <span class="verse" title="Romans 7:15" id="Romans-7-15">For I don&#8217;t know what I am doing. For I don&#8217;t practice what I desire to do; but what I hate, that I do.</span>
  <span class="verse" title="Romans 7:16" id="Romans-7-16">But if what I don&#8217;t desire, that I do, I consent to the law that it is good.</span>
  <span class="verse" title="Romans 7:17" id="Romans-7-17">So now it is no more I that do it, but sin which dwells in me.</span>
  <span class="verse" title="Romans 7:18" id="Romans-7-18">For I know that in me, that is, in my flesh, dwells no good thing. For desire is present with me, but I don&#8217;t find it doing that which is good.</span>
  <span class="verse" title="Romans 7:19" id="Romans-7-19">For the good which I desire, I don&#8217;t do; but the evil which I don&#8217;t desire, that I practice.</span>
  <span class="verse" title="Romans 7:20" id="Romans-7-20">But if what I don&#8217;t desire, that I do, it is no more I that do it, but sin which dwells in me.</span>
  <span class="verse" title="Romans 7:21" id="Romans-7-21">I find then the law, that, to me, while I desire to do good, evil is present.</span>
  <span class="verse" title="Romans 7:22" id="Romans-7-22">For I delight in God&#8217;s law after the inward man,</span>
  <span class="verse" title="Romans 7:23" id="Romans-7-23">but I see a different law in my members, warring against the law of my mind, and bringing me into captivity under the law of sin which is in my members.</span>
  <span class="verse" title="Romans 7:24" id="Romans-7-24">What a wretched man I am! Who will deliver me out of the body of this death?</span>
  <span class="verse" title="Romans 7:25" id="Romans-7-25">I thank God through Jesus Christ, our Lord! So then with the mind, I myself serve God&#8217;s law, but with the flesh, the sin&#8217;s law.</span>
</div>