<div class="chapter" id="Romans-008">
  <h2>Romans 8</h2>
  <span class="verse" title="Romans 8:1" id="Romans-8-1">There is therefore now no condemnation to those who are in Christ Jesus, who don&#8217;t walk according to the flesh, but according to the Spirit.</span>
  <span class="verse" title="Romans 8:2" id="Romans-8-2">For the law of the Spirit of life in Christ Jesus made me free from the law of sin and of death.</span>
  <span class="verse" title="Romans 8:3" id="Romans-8-3">For what the law couldn&#8217;t do, in that it was weak through the flesh, God did, sending his own Son in the likeness of sinful flesh and for sin, he condemned sin in the flesh;</span>
  <span class="verse" title="Romans 8:4" id="Romans-8-4">that the ordinance of the law might be fulfilled in us, who walk not after the flesh, but after the Spirit.</span>
  <span class="verse" title="Romans 8:5" id="Romans-8-5">For those who live according to the flesh set their minds on the things of the flesh, but those who live according to the Spirit, the things of the Spirit.</span>
  <span class="verse" title="Romans 8:6" id="Romans-8-6">For the mind of the flesh is death, but the mind of the Spirit is life and peace;</span>
  <span class="verse" title="Romans 8:7" id="Romans-8-7">because the mind of the flesh is hostile towards God; for it is not subject to God&#8217;s law, neither indeed can it be.</span>
  <span class="verse" title="Romans 8:8" id="Romans-8-8">Those who are in the flesh can&#8217;t please God.</span>
  <span class="verse" title="Romans 8:9" id="Romans-8-9">But you are not in the flesh but in the Spirit, if it is so that the Spirit of God dwells in you. But if any man doesn&#8217;t have the Spirit of Christ, he is not his.</span>
  <span class="verse" title="Romans 8:10" id="Romans-8-10">If Christ is in you, the body is dead because of sin, but the spirit is alive because of righteousness.</span>
  <span class="verse" title="Romans 8:11" id="Romans-8-11">But if the Spirit of him who raised up Jesus from the dead dwells in you, he who raised up Christ Jesus from the dead will also give life to your mortal bodies through his Spirit who dwells in you.</span>
  <span class="verse" title="Romans 8:12" id="Romans-8-12">So then, brothers, we are debtors, not to the flesh, to live after the flesh.</span>
  <span class="verse" title="Romans 8:13" id="Romans-8-13">For if you live after the flesh, you must die; but if by the Spirit you put to death the deeds of the body, you will live.</span>
  <span class="verse" title="Romans 8:14" id="Romans-8-14">For as many as are led by the Spirit of God, these are children of God.</span>
  <span class="verse" title="Romans 8:15" id="Romans-8-15">For you didn&#8217;t receive the spirit of bondage again to fear, but you received the Spirit of adoption, by whom we cry, &#8220;Abba! Father!&#8221;</span>
  <span class="verse" title="Romans 8:16" id="Romans-8-16">The Spirit himself testifies with our spirit that we are children of God;</span>
  <span class="verse" title="Romans 8:17" id="Romans-8-17">and if children, then heirs; heirs of God, and joint heirs with Christ; if indeed we suffer with him, that we may also be glorified with him.</span>
  <span class="verse" title="Romans 8:18" id="Romans-8-18">For I consider that the sufferings of this present time are not worthy to be compared with the glory which will be revealed toward us.</span>
  <span class="verse" title="Romans 8:19" id="Romans-8-19">For the creation waits with eager expectation for the children of God to be revealed.</span>
  <span class="verse" title="Romans 8:20" id="Romans-8-20">For the creation was subjected to vanity, not of its own will, but because of him who subjected it, in hope</span>
  <span class="verse" title="Romans 8:21" id="Romans-8-21">that the creation itself also will be delivered from the bondage of decay into the liberty of the glory of the children of God.</span>
  <span class="verse" title="Romans 8:22" id="Romans-8-22">For we know that the whole creation groans and travails in pain together until now.</span>
  <span class="verse" title="Romans 8:23" id="Romans-8-23">Not only so, but ourselves also, who have the first fruits of the Spirit, even we ourselves groan within ourselves, waiting for adoption, the redemption of our body.</span>
  <span class="verse" title="Romans 8:24" id="Romans-8-24">For we were saved in hope, but hope that is seen is not hope. For who hopes for that which he sees?</span>
  <span class="verse" title="Romans 8:25" id="Romans-8-25">But if we hope for that which we don&#8217;t see, we wait for it with patience.</span>
  <span class="verse" title="Romans 8:26" id="Romans-8-26">In the same way, the Spirit also helps our weaknesses, for we don&#8217;t know how to pray as we ought. But the Spirit himself makes intercession for us with groanings which can&#8217;t be uttered.</span>
  <span class="verse" title="Romans 8:27" id="Romans-8-27">He who searches the hearts knows what is on the Spirit&#8217;s mind, because he makes intercession for the saints according to God.</span>
  <span class="verse" title="Romans 8:28" id="Romans-8-28">We know that all things work together for good for those who love God, to those who are called according to his purpose.</span>
  <span class="verse" title="Romans 8:29" id="Romans-8-29">For whom he foreknew, he also predestined to be conformed to the image of his Son, that he might be the firstborn among many brothers.</span>
  <span class="verse" title="Romans 8:30" id="Romans-8-30">Whom he predestined, those he also called. Whom he called, those he also justified. Whom he justified, those he also glorified.</span>
  <span class="verse" title="Romans 8:31" id="Romans-8-31">What then shall we say about these things? If God is for us, who can be against us?</span>
  <span class="verse" title="Romans 8:32" id="Romans-8-32">He who didn&#8217;t spare his own Son, but delivered him up for us all, how would he not also with him freely give us all things?</span>
  <span class="verse" title="Romans 8:33" id="Romans-8-33">Who could bring a charge against God&#8217;s chosen ones? It is God who justifies.</span>
  <span class="verse" title="Romans 8:34" id="Romans-8-34">Who is he who condemns? It is Christ who died, yes rather, who was raised from the dead, who is at the right hand of God, who also makes intercession for us.</span>
  <span class="verse" title="Romans 8:35" id="Romans-8-35">Who shall separate us from the love of Christ? Could oppression, or anguish, or persecution, or famine, or nakedness, or peril, or sword?</span>
  <span class="verse" title="Romans 8:36" id="Romans-8-36">Even as it is written, &#8220;For your sake we are killed all day long. We were accounted as sheep for the slaughter.&#8221;</span>
  <span class="verse" title="Romans 8:37" id="Romans-8-37">No, in all these things, we are more than conquerors through him who loved us.</span>
  <span class="verse" title="Romans 8:38" id="Romans-8-38">For I am persuaded, that neither death, nor life, nor angels, nor principalities, nor things present, nor things to come, nor powers,</span>
  <span class="verse" title="Romans 8:39" id="Romans-8-39">nor height, nor depth, nor any other created thing, will be able to separate us from the love of God, which is in Christ Jesus our Lord.</span>
</div>