<div class="chapter" id="Romans-009">
  <h2>Romans 9</h2>
  <span class="verse" title="Romans 9:1" id="Romans-9-1">I tell the truth in Christ. I am not lying, my conscience testifying with me in the Holy Spirit,</span>
  <span class="verse" title="Romans 9:2" id="Romans-9-2">that I have great sorrow and unceasing pain in my heart.</span>
  <span class="verse" title="Romans 9:3" id="Romans-9-3">For I could wish that I myself were accursed from Christ for my brothers&#8217; sake, my relatives according to the flesh,</span>
  <span class="verse" title="Romans 9:4" id="Romans-9-4">who are Israelites; whose is the adoption, the glory, the covenants, the giving of the law, the service, and the promises;</span>
  <span class="verse" title="Romans 9:5" id="Romans-9-5">of whom are the fathers, and from whom is Christ as concerning the flesh, who is over all, God, blessed forever. Amen.</span>
  <span class="verse" title="Romans 9:6" id="Romans-9-6">But it is not as though the word of God has come to nothing. For they are not all Israel, that are of Israel.</span>
  <span class="verse" title="Romans 9:7" id="Romans-9-7">Neither, because they are Abraham&#8217;s seed, are they all children. But, &#8220;In Isaac will your seed be called.&#8221;</span>
  <span class="verse" title="Romans 9:8" id="Romans-9-8">That is, it is not the children of the flesh who are children of God, but the children of the promise are counted as a seed.</span>
  <span class="verse" title="Romans 9:9" id="Romans-9-9">For this is a word of promise, &#8220;At the appointed time I will come, and Sarah will have a son.&#8221;</span>
  <span class="verse" title="Romans 9:10" id="Romans-9-10">Not only so, but Rebecca also conceived by one, by our father Isaac.</span>
  <span class="verse" title="Romans 9:11" id="Romans-9-11">For being not yet born, neither having done anything good or bad, that the purpose of God according to election might stand, not of works, but of him who calls,</span>
  <span class="verse" title="Romans 9:12" id="Romans-9-12">it was said to her, &#8220;The elder will serve the younger.&#8221;</span>
  <span class="verse" title="Romans 9:13" id="Romans-9-13">Even as it is written, &#8220;Jacob I loved, but Esau I hated.&#8221;</span>
  <span class="verse" title="Romans 9:14" id="Romans-9-14">What shall we say then? Is there unrighteousness with God? May it never be!</span>
  <span class="verse" title="Romans 9:15" id="Romans-9-15">For he said to Moses, &#8220;I will have mercy on whom I have mercy, and I will have compassion on whom I have compassion.&#8221;</span>
  <span class="verse" title="Romans 9:16" id="Romans-9-16">So then it is not of him who wills, nor of him who runs, but of God who has mercy.</span>
  <span class="verse" title="Romans 9:17" id="Romans-9-17">For the Scripture says to Pharaoh, &#8220;For this very purpose I caused you to be raised up, that I might show in you my power, and that my name might be proclaimed in all the earth.&#8221;</span>
  <span class="verse" title="Romans 9:18" id="Romans-9-18">So then, he has mercy on whom he desires, and he hardens whom he desires.</span>
  <span class="verse" title="Romans 9:19" id="Romans-9-19">You will say then to me, &#8220;Why does he still find fault? For who withstands his will?&#8221;</span>
  <span class="verse" title="Romans 9:20" id="Romans-9-20">But indeed, O man, who are you to reply against God? Will the thing formed ask him who formed it, &#8220;Why did you make me like this?&#8221;</span>
  <span class="verse" title="Romans 9:21" id="Romans-9-21">Or hasn&#8217;t the potter a right over the clay, from the same lump to make one part a vessel for honor, and another for dishonor?</span>
  <span class="verse" title="Romans 9:22" id="Romans-9-22">What if God, willing to show his wrath, and to make his power known, endured with much patience vessels of wrath made for destruction,</span>
  <span class="verse" title="Romans 9:23" id="Romans-9-23">and that he might make known the riches of his glory on vessels of mercy, which he prepared beforehand for glory,</span>
  <span class="verse" title="Romans 9:24" id="Romans-9-24">us, whom he also called, not from the Jews only, but also from the Gentiles?</span>
  <span class="verse" title="Romans 9:25" id="Romans-9-25">As he says also in Hosea,  &#8220;I will call them &#8216;my people,&#8217; which were not my people;<br/> <span class="indent">&nbsp;&nbsp;</span>and her &#8216;beloved,&#8217; who was not beloved.&#8221;<br/></span>
  <span class="verse" title="Romans 9:26" id="Romans-9-26">&#8220;It will be that in the place where it was said to them, &#8216;You are not my people,&#8217;<br/> <span class="indent">&nbsp;&nbsp;</span>There they will be called &#8216;children of the living God.&#8217;&#8221;<br/></span>
  <span class="verse" title="Romans 9:27" id="Romans-9-27">Isaiah cries concerning Israel,  &#8220;If the number of the children of Israel are as the sand of the sea,<br/> <span class="indent">&nbsp;&nbsp;</span>it is the remnant who will be saved;<br/></span>
  <span class="verse" title="Romans 9:28" id="Romans-9-28">for He will finish the work and cut it short in righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>because the LORD will make a short work upon the earth.&#8221;<br/></span>
  <span class="verse" title="Romans 9:29" id="Romans-9-29">As Isaiah has said before,  &#8220;Unless the Lord of Armies had left us a seed,<br/> <span class="indent">&nbsp;&nbsp;</span>we would have become like Sodom,<br/> <span class="indent">&nbsp;&nbsp;</span>and would have been made like Gomorrah.&#8221;<br/></span>
  <span class="verse" title="Romans 9:30" id="Romans-9-30">What shall we say then? That the Gentiles, who didn&#8217;t follow after righteousness, attained to righteousness, even the righteousness which is of faith;</span>
  <span class="verse" title="Romans 9:31" id="Romans-9-31">but Israel, following after a law of righteousness, didn&#8217;t arrive at the law of righteousness.</span>
  <span class="verse" title="Romans 9:32" id="Romans-9-32">Why? Because they didn&#8217;t seek it by faith, but as it were by works of the law. They stumbled over the stumbling stone;</span>
  <span class="verse" title="Romans 9:33" id="Romans-9-33">even as it is written,  &#8220;Behold, I lay in Zion a stumbling stone and a rock of offense;<br/> <span class="indent">&nbsp;&nbsp;</span>and no one who believes in him will be disappointed.&#8221;<br/></span>
</div>