<div class="chapter" id="Romans-010">
  <h2>Romans 10</h2>
  <span class="verse" title="Romans 10:1" id="Romans-10-1">Brothers, my heart&#8217;s desire and my prayer to God is for Israel, that they may be saved.</span>
  <span class="verse" title="Romans 10:2" id="Romans-10-2">For I testify about them that they have a zeal for God, but not according to knowledge.</span>
  <span class="verse" title="Romans 10:3" id="Romans-10-3">For being ignorant of God&#8217;s righteousness, and seeking to establish their own righteousness, they didn&#8217;t subject themselves to the righteousness of God.</span>
  <span class="verse" title="Romans 10:4" id="Romans-10-4">For Christ is the fulfillment of the law for righteousness to everyone who believes.</span>
  <span class="verse" title="Romans 10:5" id="Romans-10-5">For Moses writes about the righteousness of the law, &#8220;The one who does them will live by them.&#8221;</span>
  <span class="verse" title="Romans 10:6" id="Romans-10-6">But the righteousness which is of faith says this, &#8220;Don&#8217;t say in your heart, &#8216;Who will ascend into heaven?&#8217; (that is, to bring Christ down);</span>
  <span class="verse" title="Romans 10:7" id="Romans-10-7">or, &#8216;Who will descend into the abyss?&#8217; (that is, to bring Christ up from the dead.)&#8221;</span>
  <span class="verse" title="Romans 10:8" id="Romans-10-8">But what does it say? &#8220;The word is near you, in your mouth, and in your heart;&#8221; that is, the word of faith, which we preach:</span>
  <span class="verse" title="Romans 10:9" id="Romans-10-9">that if you will confess with your mouth that Jesus is Lord, and believe in your heart that God raised him from the dead, you will be saved.</span>
  <span class="verse" title="Romans 10:10" id="Romans-10-10">For with the heart, one believes unto righteousness; and with the mouth confession is made unto salvation.</span>
  <span class="verse" title="Romans 10:11" id="Romans-10-11">For the Scripture says, &#8220;Whoever believes in him will not be disappointed.&#8221;</span>
  <span class="verse" title="Romans 10:12" id="Romans-10-12">For there is no distinction between Jew and Greek; for the same Lord is Lord of all, and is rich to all who call on him.</span>
  <span class="verse" title="Romans 10:13" id="Romans-10-13">For, &#8220;Whoever will call on the name of the Lord will be saved.&#8221;</span>
  <span class="verse" title="Romans 10:14" id="Romans-10-14">How then will they call on him in whom they have not believed? How will they believe in him whom they have not heard? How will they hear without a preacher?</span>
  <span class="verse" title="Romans 10:15" id="Romans-10-15">And how will they preach unless they are sent? As it is written:  &#8220;How beautiful are the feet of those who preach the Good News of peace,<br/> <span class="indent">&nbsp;&nbsp;</span>who bring glad tidings of good things!&#8221;<br/></span>
  <span class="verse" title="Romans 10:16" id="Romans-10-16">But they didn&#8217;t all listen to the glad news. For Isaiah says, &#8220;Lord, who has believed our report?&#8221;</span>
  <span class="verse" title="Romans 10:17" id="Romans-10-17">So faith comes by hearing, and hearing by the word of God.</span>
  <span class="verse" title="Romans 10:18" id="Romans-10-18">But I say, didn&#8217;t they hear? Yes, most certainly,  &#8220;Their sound went out into all the earth,<br/> <span class="indent">&nbsp;&nbsp;</span>their words to the ends of the world.&#8221;<br/></span>
  <span class="verse" title="Romans 10:19" id="Romans-10-19">But I ask, didn&#8217;t Israel know? First Moses says,  &#8220;I will provoke you to jealousy with that which is no nation,<br/> <span class="indent">&nbsp;&nbsp;</span>with a nation void of understanding I will make you angry.&#8221;<br/></span>
  <span class="verse" title="Romans 10:20" id="Romans-10-20">Isaiah is very bold, and says,  &#8220;I was found by those who didn&#8217;t seek me.<br/> <span class="indent">&nbsp;&nbsp;</span>I was revealed to those who didn&#8217;t ask for me.&#8221;<br/></span>
  <span class="verse" title="Romans 10:21" id="Romans-10-21">But as to Israel he says, &#8220;All day long I stretched out my hands to a disobedient and contrary people.&#8221;</span>
</div>