<div class="chapter" id="Romans-011">
  <h2>Romans 11</h2>
  <span class="verse" title="Romans 11:1" id="Romans-11-1">I ask then, did God reject his people? May it never be! For I also am an Israelite, a descendant of Abraham, of the tribe of Benjamin.</span>
  <span class="verse" title="Romans 11:2" id="Romans-11-2">God didn&#8217;t reject his people, which he foreknew. Or don&#8217;t you know what the Scripture says about Elijah? How he pleads with God against Israel:</span>
  <span class="verse" title="Romans 11:3" id="Romans-11-3">&#8220;Lord, they have killed your prophets, they have broken down your altars; and I am left alone, and they seek my life.&#8221;</span>
  <span class="verse" title="Romans 11:4" id="Romans-11-4">But how does God answer him? &#8220;I have reserved for myself seven thousand men, who have not bowed the knee to Baal.&#8221;</span>
  <span class="verse" title="Romans 11:5" id="Romans-11-5">Even so then at this present time also there is a remnant according to the election of grace.</span>
  <span class="verse" title="Romans 11:6" id="Romans-11-6">And if by grace, then it is no longer of works; otherwise grace is no longer grace. But if it is of works, it is no longer grace; otherwise work is no longer work.</span>
  <span class="verse" title="Romans 11:7" id="Romans-11-7">What then? That which Israel seeks for, that he didn&#8217;t obtain, but the chosen ones obtained it, and the rest were hardened.</span>
  <span class="verse" title="Romans 11:8" id="Romans-11-8">According as it is written, &#8220;God gave them a spirit of stupor, eyes that they should not see, and ears that they should not hear, to this very day.&#8221;</span>
  <span class="verse" title="Romans 11:9" id="Romans-11-9">David says,  &#8220;Let their table be made a snare, and a trap,<br/> <span class="indent">&nbsp;&nbsp;</span>a stumbling block, and a retribution to them.<br/></span>
  <span class="verse" title="Romans 11:10" id="Romans-11-10">Let their eyes be darkened, that they may not see.<br/> <span class="indent">&nbsp;&nbsp;</span>Bow down their back always.&#8221;<br/></span>
  <span class="verse" title="Romans 11:11" id="Romans-11-11">I ask then, did they stumble that they might fall? May it never be! But by their fall salvation has come to the Gentiles, to provoke them to jealousy.</span>
  <span class="verse" title="Romans 11:12" id="Romans-11-12">Now if their fall is the riches of the world, and their loss the riches of the Gentiles; how much more their fullness?</span>
  <span class="verse" title="Romans 11:13" id="Romans-11-13">For I speak to you who are Gentiles. Since then as I am an apostle to Gentiles, I glorify my ministry;</span>
  <span class="verse" title="Romans 11:14" id="Romans-11-14">if by any means I may provoke to jealousy those who are my flesh, and may save some of them.</span>
  <span class="verse" title="Romans 11:15" id="Romans-11-15">For if the rejection of them is the reconciling of the world, what would their acceptance be, but life from the dead?</span>
  <span class="verse" title="Romans 11:16" id="Romans-11-16">If the first fruit is holy, so is the lump. If the root is holy, so are the branches.</span>
  <span class="verse" title="Romans 11:17" id="Romans-11-17">But if some of the branches were broken off, and you, being a wild olive, were grafted in among them, and became partaker with them of the root and of the richness of the olive tree;</span>
  <span class="verse" title="Romans 11:18" id="Romans-11-18">don&#8217;t boast over the branches. But if you boast, it is not you who support the root, but the root supports you.</span>
  <span class="verse" title="Romans 11:19" id="Romans-11-19">You will say then, &#8220;Branches were broken off, that I might be grafted in.&#8221;</span>
  <span class="verse" title="Romans 11:20" id="Romans-11-20">True; by their unbelief they were broken off, and you stand by your faith. Don&#8217;t be conceited, but fear;</span>
  <span class="verse" title="Romans 11:21" id="Romans-11-21">for if God didn&#8217;t spare the natural branches, neither will he spare you.</span>
  <span class="verse" title="Romans 11:22" id="Romans-11-22">See then the goodness and severity of God. Toward those who fell, severity; but toward you, goodness, if you continue in his goodness; otherwise you also will be cut off.</span>
  <span class="verse" title="Romans 11:23" id="Romans-11-23">They also, if they don&#8217;t continue in their unbelief, will be grafted in, for God is able to graft them in again.</span>
  <span class="verse" title="Romans 11:24" id="Romans-11-24">For if you were cut out of that which is by nature a wild olive tree, and were grafted contrary to nature into a good olive tree, how much more will these, which are the natural branches, be grafted into their own olive tree?</span>
  <span class="verse" title="Romans 11:25" id="Romans-11-25">For I don&#8217;t desire you to be ignorant, brothers, of this mystery, so that you won&#8217;t be wise in your own conceits, that a partial hardening has happened to Israel, until the fullness of the Gentiles has come in,</span>
  <span class="verse" title="Romans 11:26" id="Romans-11-26">and so all Israel will be saved. Even as it is written,  &#8220;There will come out of Zion the Deliverer,<br/> <span class="indent">&nbsp;&nbsp;</span>and he will turn away ungodliness from Jacob.<br/></span>
  <span class="verse" title="Romans 11:27" id="Romans-11-27">This is my covenant to them,<br/> <span class="indent">&nbsp;&nbsp;</span>when I will take away their sins.&#8221;<br/></span>
  <span class="verse" title="Romans 11:28" id="Romans-11-28">Concerning the Good News, they are enemies for your sake. But concerning the election, they are beloved for the fathers&#8217; sake.</span>
  <span class="verse" title="Romans 11:29" id="Romans-11-29">For the gifts and the calling of God are irrevocable.</span>
  <span class="verse" title="Romans 11:30" id="Romans-11-30">For as you in time past were disobedient to God, but now have obtained mercy by their disobedience,</span>
  <span class="verse" title="Romans 11:31" id="Romans-11-31">even so these also have now been disobedient, that by the mercy shown to you they may also obtain mercy.</span>
  <span class="verse" title="Romans 11:32" id="Romans-11-32">For God has shut up all to disobedience, that he might have mercy on all.</span>
  <span class="verse" title="Romans 11:33" id="Romans-11-33">Oh the depth of the riches both of the wisdom and the knowledge of God! How unsearchable are his judgments, and his ways past tracing out!</span>
  <span class="verse" title="Romans 11:34" id="Romans-11-34">&#8220;For who has known the mind of the Lord?<br/> <span class="indent">&nbsp;&nbsp;</span>Or who has been his counselor?&#8221;<br/></span>
  <span class="verse" title="Romans 11:35" id="Romans-11-35">&#8220;Or who has first given to him,<br/> <span class="indent">&nbsp;&nbsp;</span>and it will be repaid to him again?&#8221;<br/></span>
  <span class="verse" title="Romans 11:36" id="Romans-11-36">For of him, and through him, and to him, are all things. To him be the glory for ever! Amen.</span>
</div>