<div class="chapter" id="Romans-012">
  <h2>Romans 12</h2>
  <span class="verse" title="Romans 12:1" id="Romans-12-1">Therefore I urge you, brothers, by the mercies of God, to present your bodies a living sacrifice, holy, acceptable to God, which is your spiritual service.</span>
  <span class="verse" title="Romans 12:2" id="Romans-12-2">Don&#8217;t be conformed to this world, but be transformed by the renewing of your mind, so that you may prove what is the good, well-pleasing, and perfect will of God.</span>
  <span class="verse" title="Romans 12:3" id="Romans-12-3">For I say, through the grace that was given me, to every man who is among you, not to think of himself more highly than he ought to think; but to think reasonably, as God has apportioned to each person a measure of faith.</span>
  <span class="verse" title="Romans 12:4" id="Romans-12-4">For even as we have many members in one body, and all the members don&#8217;t have the same function,</span>
  <span class="verse" title="Romans 12:5" id="Romans-12-5">so we, who are many, are one body in Christ, and individually members one of another.</span>
  <span class="verse" title="Romans 12:6" id="Romans-12-6">Having gifts differing according to the grace that was given to us, if prophecy, let us prophesy according to the proportion of our faith;</span>
  <span class="verse" title="Romans 12:7" id="Romans-12-7">or service, let us give ourselves to service; or he who teaches, to his teaching;</span>
  <span class="verse" title="Romans 12:8" id="Romans-12-8">or he who exhorts, to his exhorting: he who gives, let him do it with liberality; he who rules, with diligence; he who shows mercy, with cheerfulness.</span>
  <span class="verse" title="Romans 12:9" id="Romans-12-9">Let love be without hypocrisy. Abhor that which is evil. Cling to that which is good.</span>
  <span class="verse" title="Romans 12:10" id="Romans-12-10">In love of the brothers be tenderly affectionate one to another; in honor preferring one another;</span>
  <span class="verse" title="Romans 12:11" id="Romans-12-11">not lagging in diligence; fervent in spirit; serving the Lord;</span>
  <span class="verse" title="Romans 12:12" id="Romans-12-12">rejoicing in hope; enduring in troubles; continuing steadfastly in prayer;</span>
  <span class="verse" title="Romans 12:13" id="Romans-12-13">contributing to the needs of the saints; given to hospitality.</span>
  <span class="verse" title="Romans 12:14" id="Romans-12-14">Bless those who persecute you; bless, and don&#8217;t curse.</span>
  <span class="verse" title="Romans 12:15" id="Romans-12-15">Rejoice with those who rejoice. Weep with those who weep.</span>
  <span class="verse" title="Romans 12:16" id="Romans-12-16">Be of the same mind one toward another. Don&#8217;t set your mind on high things, but associate with the humble. Don&#8217;t be wise in your own conceits.</span>
  <span class="verse" title="Romans 12:17" id="Romans-12-17">Repay no one evil for evil. Respect what is honorable in the sight of all men.</span>
  <span class="verse" title="Romans 12:18" id="Romans-12-18">If it is possible, as much as it is up to you, be at peace with all men.</span>
  <span class="verse" title="Romans 12:19" id="Romans-12-19">Don&#8217;t seek revenge yourselves, beloved, but give place to God&#8217;s wrath. For it is written, &#8220;Vengeance belongs to me; I will repay, says the Lord.&#8221;</span>
  <span class="verse" title="Romans 12:20" id="Romans-12-20">Therefore  &#8220;If your enemy is hungry, feed him.<br/> <span class="indent">&nbsp;&nbsp;</span>If he is thirsty, give him a drink;<br/> <span class="indent">&nbsp;&nbsp;</span>for in doing so, you will heap coals of fire on his head.&#8221;<br/></span>
  <span class="verse" title="Romans 12:21" id="Romans-12-21">Don&#8217;t be overcome by evil, but overcome evil with good.</span>
</div>