<div class="chapter" id="Romans-013">
  <h2>Romans 13</h2>
  <span class="verse" title="Romans 13:1" id="Romans-13-1">Let every soul be in subjection to the higher authorities, for there is no authority except from God, and those who exist are ordained by God.</span>
  <span class="verse" title="Romans 13:2" id="Romans-13-2">Therefore he who resists the authority, withstands the ordinance of God; and those who withstand will receive to themselves judgment.</span>
  <span class="verse" title="Romans 13:3" id="Romans-13-3">For rulers are not a terror to the good work, but to the evil. Do you desire to have no fear of the authority? Do that which is good, and you will have praise from the same,</span>
  <span class="verse" title="Romans 13:4" id="Romans-13-4">for he is a servant of God to you for good. But if you do that which is evil, be afraid, for he doesn&#8217;t bear the sword in vain; for he is a servant of God, an avenger for wrath to him who does evil.</span>
  <span class="verse" title="Romans 13:5" id="Romans-13-5">Therefore you need to be in subjection, not only because of the wrath, but also for conscience&#8217; sake.</span>
  <span class="verse" title="Romans 13:6" id="Romans-13-6">For this reason you also pay taxes, for they are servants of God&#8217;s service, attending continually on this very thing.</span>
  <span class="verse" title="Romans 13:7" id="Romans-13-7">Give therefore to everyone what you owe: taxes to whom taxes are due; customs to whom customs; respect to whom respect; honor to whom honor.</span>
  <span class="verse" title="Romans 13:8" id="Romans-13-8">Owe no one anything, except to love one another; for he who loves his neighbor has fulfilled the law.</span>
  <span class="verse" title="Romans 13:9" id="Romans-13-9">For the commandments, &#8220;You shall not commit adultery,&#8221; &#8220;You shall not murder,&#8221; &#8220;You shall not steal,&#8221; &#8220;You shall not give false testimony,&#8221; &#8220;You shall not covet,&#8221; and whatever other commandments there are, are all summed up in this saying, namely, &#8220;You shall love your neighbor as yourself.&#8221;</span>
  <span class="verse" title="Romans 13:10" id="Romans-13-10">Love doesn&#8217;t harm a neighbor. Love therefore is the fulfillment of the law.</span>
  <span class="verse" title="Romans 13:11" id="Romans-13-11">Do this, knowing the time, that it is already time for you to awaken out of sleep, for salvation is now nearer to us than when we first believed.</span>
  <span class="verse" title="Romans 13:12" id="Romans-13-12">The night is far gone, and the day is near. Let&#8217;s therefore throw off the works of darkness, and let&#8217;s put on the armor of light.</span>
  <span class="verse" title="Romans 13:13" id="Romans-13-13">Let us walk properly, as in the day; not in reveling and drunkenness, not in sexual promiscuity and lustful acts, and not in strife and jealousy.</span>
  <span class="verse" title="Romans 13:14" id="Romans-13-14">But put on the Lord Jesus Christ, and make no provision for the flesh, for its lusts.</span>
</div>