<div class="chapter" id="Romans-014">
  <h2>Romans 14</h2>
  <span class="verse" title="Romans 14:1" id="Romans-14-1">Now accept one who is weak in faith, but not for disputes over opinions.</span>
  <span class="verse" title="Romans 14:2" id="Romans-14-2">One man has faith to eat all things, but he who is weak eats only vegetables.</span>
  <span class="verse" title="Romans 14:3" id="Romans-14-3">Don&#8217;t let him who eats despise him who doesn&#8217;t eat. Don&#8217;t let him who doesn&#8217;t eat judge him who eats, for God has accepted him.</span>
  <span class="verse" title="Romans 14:4" id="Romans-14-4">Who are you who judge another&#8217;s servant? To his own lord he stands or falls. Yes, he will be made to stand, for God has power to make him stand.</span>
  <span class="verse" title="Romans 14:5" id="Romans-14-5">One man esteems one day as more important. Another esteems every day alike. Let each man be fully assured in his own mind.</span>
  <span class="verse" title="Romans 14:6" id="Romans-14-6">He who observes the day, observes it to the Lord; and he who does not observe the day, to the Lord he does not observe it. He who eats, eats to the Lord, for he gives God thanks. He who doesn&#8217;t eat, to the Lord he doesn&#8217;t eat, and gives God thanks.</span>
  <span class="verse" title="Romans 14:7" id="Romans-14-7">For none of us lives to himself, and none dies to himself.</span>
  <span class="verse" title="Romans 14:8" id="Romans-14-8">For if we live, we live to the Lord. Or if we die, we die to the Lord. If therefore we live or die, we are the Lord&#8217;s.</span>
  <span class="verse" title="Romans 14:9" id="Romans-14-9">For to this end Christ died, rose, and lived again, that he might be Lord of both the dead and the living.</span>
  <span class="verse" title="Romans 14:10" id="Romans-14-10">But you, why do you judge your brother? Or you again, why do you despise your brother? For we will all stand before the judgment seat of Christ.</span>
  <span class="verse" title="Romans 14:11" id="Romans-14-11">For it is written,  &#8220;&#8216;As I live,&#8217; says the Lord, &#8216;to me every knee will bow.<br/> <span class="indent">&nbsp;&nbsp;</span>Every tongue will confess to God.&#8217;&#8221;<br/></span>
  <span class="verse" title="Romans 14:12" id="Romans-14-12">So then each one of us will give account of himself to God.</span>
  <span class="verse" title="Romans 14:13" id="Romans-14-13">Therefore let&#8217;s not judge one another any more, but judge this rather, that no man put a stumbling block in his brother&#8217;s way, or an occasion for falling.</span>
  <span class="verse" title="Romans 14:14" id="Romans-14-14">I know, and am persuaded in the Lord Jesus, that nothing is unclean of itself; except that to him who considers anything to be unclean, to him it is unclean.</span>
  <span class="verse" title="Romans 14:15" id="Romans-14-15">Yet if because of food your brother is grieved, you walk no longer in love. Don&#8217;t destroy with your food him for whom Christ died.</span>
  <span class="verse" title="Romans 14:16" id="Romans-14-16">Then don&#8217;t let your good be slandered,</span>
  <span class="verse" title="Romans 14:17" id="Romans-14-17">for the Kingdom of God is not eating and drinking, but righteousness, peace, and joy in the Holy Spirit.</span>
  <span class="verse" title="Romans 14:18" id="Romans-14-18">For he who serves Christ in these things is acceptable to God and approved by men.</span>
  <span class="verse" title="Romans 14:19" id="Romans-14-19">So then, let us follow after things which make for peace, and things by which we may build one another up.</span>
  <span class="verse" title="Romans 14:20" id="Romans-14-20">Don&#8217;t overthrow God&#8217;s work for food&#8217;s sake. All things indeed are clean, however it is evil for that man who creates a stumbling block by eating.</span>
  <span class="verse" title="Romans 14:21" id="Romans-14-21">It is good to not eat meat, drink wine, nor do anything by which your brother stumbles, is offended, or is made weak.</span>
  <span class="verse" title="Romans 14:22" id="Romans-14-22">Do you have faith? Have it to yourself before God. Happy is he who doesn&#8217;t judge himself in that which he approves.</span>
  <span class="verse" title="Romans 14:23" id="Romans-14-23">But he who doubts is condemned if he eats, because it isn&#8217;t of faith; and whatever is not of faith is sin.</span>
  <span class="verse" title="Romans 14:24" id="Romans-14-24">Now to him who is able to establish you according to my Good News and the preaching of Jesus Christ, according to the revelation of the mystery which has been kept secret through long ages,</span>
  <span class="verse" title="Romans 14:25" id="Romans-14-25">but now is revealed, and by the Scriptures of the prophets, according to the commandment of the eternal God, is made known for obedience of faith to all the nations;</span>
  <span class="verse" title="Romans 14:26" id="Romans-14-26">to the only wise God, through Jesus Christ, to whom be the glory forever! Amen.</span>
</div>