<div class="chapter" id="Romans-015">
  <h2>Romans 15</h2>
  <span class="verse" title="Romans 15:1" id="Romans-15-1">Now we who are strong ought to bear the weaknesses of the weak, and not to please ourselves.</span>
  <span class="verse" title="Romans 15:2" id="Romans-15-2">Let each one of us please his neighbor for that which is good, to be building him up.</span>
  <span class="verse" title="Romans 15:3" id="Romans-15-3">For even Christ didn&#8217;t please himself. But, as it is written, &#8220;The reproaches of those who reproached you fell on me.&#8221;</span>
  <span class="verse" title="Romans 15:4" id="Romans-15-4">For whatever things were written before were written for our learning, that through patience and through encouragement of the Scriptures we might have hope.</span>
  <span class="verse" title="Romans 15:5" id="Romans-15-5">Now the God of patience and of encouragement grant you to be of the same mind one with another according to Christ Jesus,</span>
  <span class="verse" title="Romans 15:6" id="Romans-15-6">that with one accord you may with one mouth glorify the God and Father of our Lord Jesus Christ.</span>
  <span class="verse" title="Romans 15:7" id="Romans-15-7">Therefore accept one another, even as Christ also accepted you, to the glory of God.</span>
  <span class="verse" title="Romans 15:8" id="Romans-15-8">Now I say that Christ has been made a servant of the circumcision for the truth of God, that he might confirm the promises given to the fathers,</span>
  <span class="verse" title="Romans 15:9" id="Romans-15-9">and that the Gentiles might glorify God for his mercy. As it is written,  &#8220;Therefore will I give praise to you among the Gentiles,<br/> <span class="indent">&nbsp;&nbsp;</span>and sing to your name.&#8221;<br/></span>
  <span class="verse" title="Romans 15:10" id="Romans-15-10">Again he says,  &#8220;Rejoice, you Gentiles, with his people.&#8221;<br/></span>
  <span class="verse" title="Romans 15:11" id="Romans-15-11">Again,  &#8220;Praise the Lord, all you Gentiles!<br/> <span class="indent">&nbsp;&nbsp;</span>Let all the peoples praise him.&#8221;<br/></span>
  <span class="verse" title="Romans 15:12" id="Romans-15-12">Again, Isaiah says,  &#8220;There will be the root of Jesse,<br/> <span class="indent">&nbsp;&nbsp;</span>he who arises to rule over the Gentiles;<br/> <span class="indent">&nbsp;&nbsp;</span>in him the Gentiles will hope.&#8221;<br/></span>
  <span class="verse" title="Romans 15:13" id="Romans-15-13">Now may the God of hope fill you with all joy and peace in believing, that you may abound in hope, in the power of the Holy Spirit.</span>
  <span class="verse" title="Romans 15:14" id="Romans-15-14">I myself am also persuaded about you, my brothers, that you yourselves are full of goodness, filled with all knowledge, able also to admonish others.</span>
  <span class="verse" title="Romans 15:15" id="Romans-15-15">But I write the more boldly to you in part, as reminding you, because of the grace that was given to me by God,</span>
  <span class="verse" title="Romans 15:16" id="Romans-15-16">that I should be a servant of Christ Jesus to the Gentiles, serving as a priest the Good News of God, that the offering up of the Gentiles might be made acceptable, sanctified by the Holy Spirit.</span>
  <span class="verse" title="Romans 15:17" id="Romans-15-17">I have therefore my boasting in Christ Jesus in things pertaining to God.</span>
  <span class="verse" title="Romans 15:18" id="Romans-15-18">For I will not dare to speak of any things except those which Christ worked through me, for the obedience of the Gentiles, by word and deed,</span>
  <span class="verse" title="Romans 15:19" id="Romans-15-19">in the power of signs and wonders, in the power of God&#8217;s Spirit; so that from Jerusalem, and around as far as to Illyricum, I have fully preached the Good News of Christ;</span>
  <span class="verse" title="Romans 15:20" id="Romans-15-20">yes, making it my aim to preach the Good News, not where Christ was already named, that I might not build on another&#8217;s foundation.</span>
  <span class="verse" title="Romans 15:21" id="Romans-15-21">But, as it is written,  &#8220;They will see, to whom no news of him came.<br/> <span class="indent">&nbsp;&nbsp;</span>They who haven&#8217;t heard will understand.&#8221;<br/></span>
  <span class="verse" title="Romans 15:22" id="Romans-15-22">Therefore also I was hindered these many times from coming to you,</span>
  <span class="verse" title="Romans 15:23" id="Romans-15-23">but now, no longer having any place in these regions, and having these many years a longing to come to you,</span>
  <span class="verse" title="Romans 15:24" id="Romans-15-24">whenever I journey to Spain, I will come to you. For I hope to see you on my journey, and to be helped on my way there by you, if first I may enjoy your company for a while.</span>
  <span class="verse" title="Romans 15:25" id="Romans-15-25">But now, I say, I am going to Jerusalem, serving the saints.</span>
  <span class="verse" title="Romans 15:26" id="Romans-15-26">For it has been the good pleasure of Macedonia and Achaia to make a certain contribution for the poor among the saints who are at Jerusalem.</span>
  <span class="verse" title="Romans 15:27" id="Romans-15-27">Yes, it has been their good pleasure, and they are their debtors. For if the Gentiles have been made partakers of their spiritual things, they owe it to them also to serve them in fleshly things.</span>
  <span class="verse" title="Romans 15:28" id="Romans-15-28">When therefore I have accomplished this, and have sealed to them this fruit, I will go on by way of you to Spain.</span>
  <span class="verse" title="Romans 15:29" id="Romans-15-29">I know that, when I come to you, I will come in the fullness of the blessing of the Good News of Christ.</span>
  <span class="verse" title="Romans 15:30" id="Romans-15-30">Now I beg you, brothers, by our Lord Jesus Christ, and by the love of the Spirit, that you strive together with me in your prayers to God for me,</span>
  <span class="verse" title="Romans 15:31" id="Romans-15-31">that I may be delivered from those who are disobedient in Judea, and that my service which I have for Jerusalem may be acceptable to the saints;</span>
  <span class="verse" title="Romans 15:32" id="Romans-15-32">that I may come to you in joy through the will of God, and together with you, find rest.</span>
  <span class="verse" title="Romans 15:33" id="Romans-15-33">Now the God of peace be with you all. Amen.</span>
</div>