<div class="chapter" id="Romans-016">
  <h2>Romans 16</h2>
  <span class="verse" title="Romans 16:1" id="Romans-16-1">I commend to you Phoebe, our sister, who is a servant of the assembly that is at Cenchreae,</span>
  <span class="verse" title="Romans 16:2" id="Romans-16-2">that you receive her in the Lord, in a way worthy of the saints, and that you assist her in whatever matter she may need from you, for she herself also has been a helper of many, and of my own self.</span>
  <span class="verse" title="Romans 16:3" id="Romans-16-3">Greet Prisca and Aquila, my fellow workers in Christ Jesus,</span>
  <span class="verse" title="Romans 16:4" id="Romans-16-4">who for my life, laid down their own necks; to whom not only I give thanks, but also all the assemblies of the Gentiles.</span>
  <span class="verse" title="Romans 16:5" id="Romans-16-5">Greet the assembly that is in their house. Greet Epaenetus, my beloved, who is the first fruits of Achaia to Christ.</span>
  <span class="verse" title="Romans 16:6" id="Romans-16-6">Greet Mary, who labored much for us.</span>
  <span class="verse" title="Romans 16:7" id="Romans-16-7">Greet Andronicus and Junia, my relatives and my fellow prisoners, who are notable among the apostles, who also were in Christ before me.</span>
  <span class="verse" title="Romans 16:8" id="Romans-16-8">Greet Amplias, my beloved in the Lord.</span>
  <span class="verse" title="Romans 16:9" id="Romans-16-9">Greet Urbanus, our fellow worker in Christ, and Stachys, my beloved.</span>
  <span class="verse" title="Romans 16:10" id="Romans-16-10">Greet Apelles, the approved in Christ. Greet those who are of the household of Aristobulus.</span>
  <span class="verse" title="Romans 16:11" id="Romans-16-11">Greet Herodion, my kinsman. Greet them of the household of Narcissus, who are in the Lord.</span>
  <span class="verse" title="Romans 16:12" id="Romans-16-12">Greet Tryphaena and Tryphosa, who labor in the Lord. Greet Persis, the beloved, who labored much in the Lord.</span>
  <span class="verse" title="Romans 16:13" id="Romans-16-13">Greet Rufus, the chosen in the Lord, and his mother and mine.</span>
  <span class="verse" title="Romans 16:14" id="Romans-16-14">Greet Asyncritus, Phlegon, Hermes, Patrobas, Hermas, and the brothers who are with them.</span>
  <span class="verse" title="Romans 16:15" id="Romans-16-15">Greet Philologus and Julia, Nereus and his sister, and Olympas, and all the saints who are with them.</span>
  <span class="verse" title="Romans 16:16" id="Romans-16-16">Greet one another with a holy kiss. The assemblies of Christ greet you.</span>
  <span class="verse" title="Romans 16:17" id="Romans-16-17">Now I beg you, brothers, look out for those who are causing the divisions and occasions of stumbling, contrary to the doctrine which you learned, and turn away from them.</span>
  <span class="verse" title="Romans 16:18" id="Romans-16-18">For those who are such don&#8217;t serve our Lord, Jesus Christ, but their own belly; and by their smooth and flattering speech, they deceive the hearts of the innocent.</span>
  <span class="verse" title="Romans 16:19" id="Romans-16-19">For your obedience has become known to all. I rejoice therefore over you. But I desire to have you wise in that which is good, but innocent in that which is evil.</span>
  <span class="verse" title="Romans 16:20" id="Romans-16-20">And the God of peace will quickly crush Satan under your feet. The grace of our Lord Jesus Christ be with you.</span>
  <span class="verse" title="Romans 16:21" id="Romans-16-21">Timothy, my fellow worker, greets you, as do Lucius, Jason, and Sosipater, my relatives.</span>
  <span class="verse" title="Romans 16:22" id="Romans-16-22">I, Tertius, who write the letter, greet you in the Lord.</span>
  <span class="verse" title="Romans 16:23" id="Romans-16-23">Gaius, my host and host of the whole assembly, greets you. Erastus, the treasurer of the city, greets you, as does Quartus, the brother.</span>
  <span class="verse" title="Romans 16:24" id="Romans-16-24">The grace of our Lord Jesus Christ be with you all! Amen.</span>
</div>