<div class="chapter" id="Zechariah-002">
  <h2>Zechariah 2</h2>
  <span class="verse" title="Zechariah 2:1" id="Zechariah-2-1">I lifted up my eyes, and saw, and behold, a man with a measuring line in his hand.</span>
  <span class="verse" title="Zechariah 2:2" id="Zechariah-2-2">Then I asked, &#8220;Where are you going?&#8221; He said to me, &#8220;To measure Jerusalem, to see what is its breadth and what is its length.&#8221;</span>
  <span class="verse" title="Zechariah 2:3" id="Zechariah-2-3">Behold, the angel who talked with me went forth, and another angel went out to meet him,</span>
  <span class="verse" title="Zechariah 2:4" id="Zechariah-2-4">and said to him, &#8220;Run, speak to this young man, saying, &#8216;Jerusalem will be inhabited as villages without walls, because of the multitude of men and livestock in it.</span>
  <span class="verse" title="Zechariah 2:5" id="Zechariah-2-5">For I,&#8217; says Yahweh, &#8216;will be to her a wall of fire around it, and I will be the glory in the midst of her.</span>
  <span class="verse" title="Zechariah 2:6" id="Zechariah-2-6">Come! Come! Flee from the land of the north,&#8217; says Yahweh; &#8216;for I have spread you abroad as the four winds of the sky,&#8217; says Yahweh.</span>
  <span class="verse" title="Zechariah 2:7" id="Zechariah-2-7">&#8216;Come, Zion! Escape, you who dwell with the daughter of Babylon.&#8217;</span>
  <span class="verse" title="Zechariah 2:8" id="Zechariah-2-8">For thus says Yahweh of Armies: &#8216;For honor he has sent me to the nations which plundered you; for he who touches you touches the apple of his eye.</span>
  <span class="verse" title="Zechariah 2:9" id="Zechariah-2-9">For, behold, I will shake my hand over them, and they will be a spoil to those who served them; and you will know that Yahweh of Armies has sent me.</span>
  <span class="verse" title="Zechariah 2:10" id="Zechariah-2-10">Sing and rejoice, daughter of Zion; for, behold, I come, and I will dwell in the midst of you,&#8217; says Yahweh.</span>
  <span class="verse" title="Zechariah 2:11" id="Zechariah-2-11">Many nations shall join themselves to Yahweh in that day, and shall be my people; and I will dwell in the midst of you, and you shall know that Yahweh of Armies has sent me to you.</span>
  <span class="verse" title="Zechariah 2:12" id="Zechariah-2-12">Yahweh will inherit Judah as his portion in the holy land, and will again choose Jerusalem.</span>
  <span class="verse" title="Zechariah 2:13" id="Zechariah-2-13">Be silent, all flesh, before Yahweh; for he has roused himself from his holy habitation!&#8221;</span>
</div>