<div class="chapter" id="Zechariah-003">
  <h2>Zechariah 3</h2>
  <span class="verse" title="Zechariah 3:1" id="Zechariah-3-1">He showed me Joshua the high priest standing before the angel of Yahweh, and Satan standing at his right hand to be his adversary.</span>
  <span class="verse" title="Zechariah 3:2" id="Zechariah-3-2">Yahweh said to Satan, &#8220;Yahweh rebuke you, Satan! Yes, Yahweh who has chosen Jerusalem rebuke you! Isn&#8217;t this a burning stick plucked out of the fire?&#8221;</span>
  <span class="verse" title="Zechariah 3:3" id="Zechariah-3-3">Now Joshua was clothed with filthy garments, and was standing before the angel.</span>
  <span class="verse" title="Zechariah 3:4" id="Zechariah-3-4">He answered and spoke to those who stood before him, saying, &#8220;Take the filthy garments off of him.&#8221; To him he said, &#8220;Behold, I have caused your iniquity to pass from you, and I will clothe you with rich clothing.&#8221;</span>
  <span class="verse" title="Zechariah 3:5" id="Zechariah-3-5">I said, &#8220;Let them set a clean turban on his head.&#8221; So they set a clean turban on his head, and clothed him; and the angel of Yahweh was standing by.</span>
  <span class="verse" title="Zechariah 3:6" id="Zechariah-3-6">The angel of Yahweh protested to Joshua, saying,</span>
  <span class="verse" title="Zechariah 3:7" id="Zechariah-3-7">&#8220;Thus says Yahweh of Armies: &#8216;If you will walk in my ways, and if you will follow my instructions, then you also shall judge my house, and shall also keep my courts, and I will give you a place of access among these who stand by.</span>
  <span class="verse" title="Zechariah 3:8" id="Zechariah-3-8">Hear now, Joshua the high priest, you and your fellows who sit before you; for they are men who are a sign: for, behold, I will bring forth my servant, the Branch.</span>
  <span class="verse" title="Zechariah 3:9" id="Zechariah-3-9">For, behold, the stone that I have set before Joshua; on one stone are seven eyes: behold, I will engrave its engraving,&#8217; says Yahweh of Armies, &#8216;and I will remove the iniquity of that land in one day.</span>
  <span class="verse" title="Zechariah 3:10" id="Zechariah-3-10">In that day,&#8217; says Yahweh of Armies, &#8216;you will invite every man his neighbor under the vine and under the fig tree.&#8217;&#8221;</span>
</div>