<div class="chapter" id="Zechariah-004">
  <h2>Zechariah 4</h2>
  <span class="verse" title="Zechariah 4:1" id="Zechariah-4-1">The angel who talked with me came again, and wakened me, as a man who is wakened out of his sleep.</span>
  <span class="verse" title="Zechariah 4:2" id="Zechariah-4-2">He said to me, &#8220;What do you see?&#8221; I said, &#8220;I have seen, and behold, a lampstand all of gold, with its bowl on the top of it, and its seven lamps thereon; there are seven pipes to each of the lamps, which are on the top of it;</span>
  <span class="verse" title="Zechariah 4:3" id="Zechariah-4-3">and two olive trees by it, one on the right side of the bowl, and the other on the left side of it.&#8221;</span>
  <span class="verse" title="Zechariah 4:4" id="Zechariah-4-4">I answered and spoke to the angel who talked with me, saying, &#8220;What are these, my lord?&#8221;</span>
  <span class="verse" title="Zechariah 4:5" id="Zechariah-4-5">Then the angel who talked with me answered me, &#8220;Don&#8217;t you know what these are?&#8221; I said, &#8220;No, my lord.&#8221;</span>
  <span class="verse" title="Zechariah 4:6" id="Zechariah-4-6">Then he answered and spoke to me, saying, &#8220;This is the word of Yahweh to Zerubbabel, saying, &#8216;Not by might, nor by power, but by my Spirit,&#8217; says Yahweh of Armies.</span>
  <span class="verse" title="Zechariah 4:7" id="Zechariah-4-7">Who are you, great mountain? Before Zerubbabel you are a plain; and he will bring out the capstone with shouts of &#8216;Grace, grace, to it!&#8217;&#8221;</span>
  <span class="verse" title="Zechariah 4:8" id="Zechariah-4-8">Moreover the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Zechariah 4:9" id="Zechariah-4-9">&#8220;The hands of Zerubbabel have laid the foundation of this house. His hands shall also finish it; and you will know that Yahweh of Armies has sent me to you.</span>
  <span class="verse" title="Zechariah 4:10" id="Zechariah-4-10">Indeed, who despises the day of small things? For these seven shall rejoice, and shall see the plumb line in the hand of Zerubbabel. These are the eyes of Yahweh, which run back and forth through the whole earth.&#8221;</span>
  <span class="verse" title="Zechariah 4:11" id="Zechariah-4-11">Then I asked him, &#8220;What are these two olive trees on the right side of the lampstand and on the left side of it?&#8221;</span>
  <span class="verse" title="Zechariah 4:12" id="Zechariah-4-12">I asked him the second time, &#8220;What are these two olive branches, which are beside the two golden spouts, that pour the golden oil out of themselves?&#8221;</span>
  <span class="verse" title="Zechariah 4:13" id="Zechariah-4-13">He answered me, &#8220;Don&#8217;t you know what these are?&#8221; I said, &#8220;No, my lord.&#8221;</span>
  <span class="verse" title="Zechariah 4:14" id="Zechariah-4-14">Then he said, &#8220;These are the two anointed ones who stand by the Lord of the whole earth.&#8221;</span>
</div>