<div class="chapter" id="Zechariah-005">
  <h2>Zechariah 5</h2>
  <span class="verse" title="Zechariah 5:1" id="Zechariah-5-1">Then again I lifted up my eyes, and saw, and behold, a flying scroll.</span>
  <span class="verse" title="Zechariah 5:2" id="Zechariah-5-2">He said to me, &#8220;What do you see?&#8221; I answered, &#8220;I see a flying scroll; its length is twenty cubits, and its breadth ten cubits.&#8221;</span>
  <span class="verse" title="Zechariah 5:3" id="Zechariah-5-3">Then he said to me, &#8220;This is the curse that goes out over the surface of the whole land; for everyone who steals shall be cut off according to it on the one side; and everyone who swears falsely shall be cut off according to it on the other side.</span>
  <span class="verse" title="Zechariah 5:4" id="Zechariah-5-4">I will cause it to go out,&#8221; says Yahweh of Armies, &#8220;and it will enter into the house of the thief, and into the house of him who swears falsely by my name; and it will remain in the midst of his house, and will destroy it with its timber and its stones.&#8221;</span>
  <span class="verse" title="Zechariah 5:5" id="Zechariah-5-5">Then the angel who talked with me came forward, and said to me, &#8220;Lift up now your eyes, and see what is this that is appearing.&#8221;</span>
  <span class="verse" title="Zechariah 5:6" id="Zechariah-5-6">I said, &#8220;What is it?&#8221; He said, &#8220;This is the ephah basket that is appearing.&#8221; He said moreover, &#8220;This is their appearance in all the land</span>
  <span class="verse" title="Zechariah 5:7" id="Zechariah-5-7">(and behold, a talent of lead was lifted up); and this is a woman sitting in the midst of the ephah basket.&#8221;</span>
  <span class="verse" title="Zechariah 5:8" id="Zechariah-5-8">He said, &#8220;This is Wickedness;&#8221; and he threw her down into the midst of the ephah basket; and he threw the weight of lead on its mouth.</span>
  <span class="verse" title="Zechariah 5:9" id="Zechariah-5-9">Then lifted I up my eyes, and saw, and behold, there were two women, and the wind was in their wings. Now they had wings like the wings of a stork, and they lifted up the ephah basket between earth and the sky.</span>
  <span class="verse" title="Zechariah 5:10" id="Zechariah-5-10">Then I said to the angel who talked with me, &#8220;Where are these carrying the ephah basket?&#8221;</span>
  <span class="verse" title="Zechariah 5:11" id="Zechariah-5-11">He said to me, &#8220;To build her a house in the land of Shinar. When it is prepared, she will be set there in her own place.&#8221;</span>
</div>