<div class="chapter" id="Zechariah-006">
  <h2>Zechariah 6</h2>
  <span class="verse" title="Zechariah 6:1" id="Zechariah-6-1">Again I lifted up my eyes, and saw, and behold, four chariots came out from between two mountains; and the mountains were mountains of brass.</span>
  <span class="verse" title="Zechariah 6:2" id="Zechariah-6-2">In the first chariot were red horses; in the second chariot black horses;</span>
  <span class="verse" title="Zechariah 6:3" id="Zechariah-6-3">in the third chariot white horses; and in the fourth chariot dappled horses, all of them powerful.</span>
  <span class="verse" title="Zechariah 6:4" id="Zechariah-6-4">Then I asked the angel who talked with me, &#8220;What are these, my lord?&#8221;</span>
  <span class="verse" title="Zechariah 6:5" id="Zechariah-6-5">The angel answered me, &#8220;These are the four winds of the sky, which go forth from standing before the Lord of all the earth.</span>
  <span class="verse" title="Zechariah 6:6" id="Zechariah-6-6">The one with the black horses goes out toward the north country; and the white went out after them; and the dappled went forth toward the south country.&#8221;</span>
  <span class="verse" title="Zechariah 6:7" id="Zechariah-6-7">The strong went out, and sought to go that they might walk back and forth through the earth: and he said, &#8220;Go around and through the earth!&#8221; So they walked back and forth through the earth.</span>
  <span class="verse" title="Zechariah 6:8" id="Zechariah-6-8">Then he called to me, and spoke to me, saying, &#8220;Behold, those who go toward the north country have quieted my spirit in the north country.&#8221;</span>
  <span class="verse" title="Zechariah 6:9" id="Zechariah-6-9">The word of Yahweh came to me, saying,</span>
  <span class="verse" title="Zechariah 6:10" id="Zechariah-6-10">&#8220;Take of them of the captivity, even of Heldai, of Tobijah, and of Jedaiah; and come the same day, and go into the house of Josiah the son of Zephaniah, where they have come from Babylon.</span>
  <span class="verse" title="Zechariah 6:11" id="Zechariah-6-11">Yes, take silver and gold, and make crowns, and set them on the head of Joshua the son of Jehozadak, the high priest;</span>
  <span class="verse" title="Zechariah 6:12" id="Zechariah-6-12">and speak to him, saying, &#8216;Thus says Yahweh of Armies, &#8220;Behold, the man whose name is the Branch: and he shall grow up out of his place; and he shall build the temple of Yahweh;</span>
  <span class="verse" title="Zechariah 6:13" id="Zechariah-6-13">even he shall build the temple of Yahweh; and he shall bear the glory, and shall sit and rule on his throne; and he shall be a priest on his throne; and the counsel of peace shall be between them both.</span>
  <span class="verse" title="Zechariah 6:14" id="Zechariah-6-14">The crowns shall be to Helem, and to Tobijah, and to Jedaiah, and to Hen the son of Zephaniah, for a memorial in the temple of Yahweh.</span>
  <span class="verse" title="Zechariah 6:15" id="Zechariah-6-15">Those who are far off shall come and build in the temple of Yahweh; and you shall know that Yahweh of Armies has sent me to you. This will happen, if you will diligently obey the voice of Yahweh your God.&#8221;&#8217;&#8221;</span>
</div>