<div class="chapter" id="Zechariah-007">
  <h2>Zechariah 7</h2>
  <span class="verse" title="Zechariah 7:1" id="Zechariah-7-1">It happened in the fourth year of king Darius that the word of Yahweh came to Zechariah in the fourth day of the ninth month, the month of Chislev.</span>
  <span class="verse" title="Zechariah 7:2" id="Zechariah-7-2">The people of Bethel sent Sharezer and Regem Melech, and their men, to entreat Yahweh&#8217;s favor,</span>
  <span class="verse" title="Zechariah 7:3" id="Zechariah-7-3">and to speak to the priests of the house of Yahweh of Armies, and to the prophets, saying, &#8220;Should I weep in the fifth month, separating myself, as I have done these so many years?&#8221;</span>
  <span class="verse" title="Zechariah 7:4" id="Zechariah-7-4">Then the word of Yahweh of Armies came to me, saying,</span>
  <span class="verse" title="Zechariah 7:5" id="Zechariah-7-5">&#8220;Speak to all the people of the land, and to the priests, saying, &#8216;When you fasted and mourned in the fifth and in the seventh month for these seventy years, did you at all fast to me, really to me?</span>
  <span class="verse" title="Zechariah 7:6" id="Zechariah-7-6">When you eat, and when you drink, don&#8217;t you eat for yourselves, and drink for yourselves?</span>
  <span class="verse" title="Zechariah 7:7" id="Zechariah-7-7">Aren&#8217;t these the words which Yahweh proclaimed by the former prophets, when Jerusalem was inhabited and in prosperity, and its cities around her, and the South and the lowland were inhabited?&#8217;&#8221;</span>
  <span class="verse" title="Zechariah 7:8" id="Zechariah-7-8">The word of Yahweh came to Zechariah, saying,</span>
  <span class="verse" title="Zechariah 7:9" id="Zechariah-7-9">&#8220;Thus has Yahweh of Armies spoken, saying, &#8216;Execute true judgment, and show kindness and compassion every man to his brother.</span>
  <span class="verse" title="Zechariah 7:10" id="Zechariah-7-10">Don&#8217;t oppress the widow, nor the fatherless, the foreigner, nor the poor; and let none of you devise evil against his brother in your heart.&#8217;</span>
  <span class="verse" title="Zechariah 7:11" id="Zechariah-7-11">But they refused to listen, and turned their backs, and stopped their ears, that they might not hear.</span>
  <span class="verse" title="Zechariah 7:12" id="Zechariah-7-12">Yes, they made their hearts as hard as flint, lest they might hear the law, and the words which Yahweh of Armies had sent by his Spirit by the former prophets. Therefore great wrath came from Yahweh of Armies.</span>
  <span class="verse" title="Zechariah 7:13" id="Zechariah-7-13">It has come to pass that, as he called, and they refused to listen, so they will call, and I will not listen,&#8221; said Yahweh of Armies;</span>
  <span class="verse" title="Zechariah 7:14" id="Zechariah-7-14">&#8220;but I will scatter them with a whirlwind among all the nations which they have not known. Thus the land was desolate after them, so that no man passed through nor returned: for they made the pleasant land desolate.&#8221;</span>
</div>