.alert.alert-danger
  = icon 'fa fa-warning'
  %h2 Error Sending Email
  %p
    We could not connect to the SMTP mail server.
  %p
    If you are the server administrator, make sure you have
    set up your Email server properly
    <a href="https://github.com/seven1m/onebody/wiki/Email-Setup">using these instructions</a>.
