<% if person.groups.count > 0 %>
  <p><%= t('privacies.you_may_share_items') %></p>
  <ul>
    <% person.groups.find_all_by_hidden(false).each do |group| %>
      <li><%= link_to h(group.name), edit_group_membership_privacy_path(group, group.get_options_for(person)) %></li>
    <% end %>
  </ul>
<% end %>
