<div class="chapter" id="2 Peter-002">
  <h2>2 Peter 2</h2>
  <span class="verse" title="2 Peter 2:1" id="2_Peter-2-1">But false prophets also arose among the people, as false teachers will also be among you, who will secretly bring in destructive heresies, denying even the Master who bought them, bringing on themselves swift destruction.</span>
  <span class="verse" title="2 Peter 2:2" id="2_Peter-2-2">Many will follow their immoral ways, and as a result, the way of the truth will be maligned.</span>
  <span class="verse" title="2 Peter 2:3" id="2_Peter-2-3">In covetousness they will exploit you with deceptive words: whose sentence now from of old doesn&#8217;t linger, and their destruction will not slumber.</span>
  <span class="verse" title="2 Peter 2:4" id="2_Peter-2-4">For if God didn&#8217;t spare angels when they sinned, but cast them down to Tartarus, and committed them to pits of darkness, to be reserved for judgment;</span>
  <span class="verse" title="2 Peter 2:5" id="2_Peter-2-5">and didn&#8217;t spare the ancient world, but preserved Noah with seven others, a preacher of righteousness, when he brought a flood on the world of the ungodly;</span>
  <span class="verse" title="2 Peter 2:6" id="2_Peter-2-6">and turning the cities of Sodom and Gomorrah into ashes, condemned them to destruction, having made them an example to those who would live ungodly;</span>
  <span class="verse" title="2 Peter 2:7" id="2_Peter-2-7">and delivered righteous Lot, who was very distressed by the lustful life of the wicked</span>
  <span class="verse" title="2 Peter 2:8" id="2_Peter-2-8">(for that righteous man dwelling among them, was tormented in his righteous soul from day to day with seeing and hearing lawless deeds):</span>
  <span class="verse" title="2 Peter 2:9" id="2_Peter-2-9">the Lord knows how to deliver the godly out of temptation and to keep the unrighteous under punishment for the day of judgment;</span>
  <span class="verse" title="2 Peter 2:10" id="2_Peter-2-10">but chiefly those who walk after the flesh in the lust of defilement, and despise authority. Daring, self-willed, they are not afraid to speak evil of dignitaries;</span>
  <span class="verse" title="2 Peter 2:11" id="2_Peter-2-11">whereas angels, though greater in might and power, don&#8217;t bring a railing judgment against them before the Lord.</span>
  <span class="verse" title="2 Peter 2:12" id="2_Peter-2-12">But these, as unreasoning creatures, born natural animals to be taken and destroyed, speaking evil in matters about which they are ignorant, will in their destroying surely be destroyed,</span>
  <span class="verse" title="2 Peter 2:13" id="2_Peter-2-13">receiving the wages of unrighteousness; people who count it pleasure to revel in the daytime, spots and blemishes, reveling in their deceit while they feast with you;</span>
  <span class="verse" title="2 Peter 2:14" id="2_Peter-2-14">having eyes full of adultery, and who can&#8217;t cease from sin; enticing unsettled souls; having a heart trained in greed; children of cursing;</span>
  <span class="verse" title="2 Peter 2:15" id="2_Peter-2-15">forsaking the right way, they went astray, having followed the way of Balaam the son of Beor, who loved the wages of wrongdoing;</span>
  <span class="verse" title="2 Peter 2:16" id="2_Peter-2-16">but he was rebuked for his own disobedience. A mute donkey spoke with a man&#8217;s voice and stopped the madness of the prophet.</span>
  <span class="verse" title="2 Peter 2:17" id="2_Peter-2-17">These are wells without water, clouds driven by a storm; for whom the blackness of darkness has been reserved forever.</span>
  <span class="verse" title="2 Peter 2:18" id="2_Peter-2-18">For, uttering great swelling words of emptiness, they entice in the lusts of the flesh, by licentiousness, those who are indeed escaping from those who live in error;</span>
  <span class="verse" title="2 Peter 2:19" id="2_Peter-2-19">promising them liberty, while they themselves are bondservants of corruption; for a man is brought into bondage by whoever overcomes him.</span>
  <span class="verse" title="2 Peter 2:20" id="2_Peter-2-20">For if, after they have escaped the defilement of the world through the knowledge of the Lord and Savior Jesus Christ, they are again entangled in it and overcome, the last state has become worse for them than the first.</span>
  <span class="verse" title="2 Peter 2:21" id="2_Peter-2-21">For it would be better for them not to have known the way of righteousness, than, after knowing it, to turn back from the holy commandment delivered to them.</span>
  <span class="verse" title="2 Peter 2:22" id="2_Peter-2-22">But it has happened to them according to the true proverb, &#8220;The dog turns to his own vomit again,&#8221; and &#8220;the sow that has washed to wallowing in the mire.&#8221;</span>
</div>