<div class="chapter" id="2 Peter-003">
  <h2>2 Peter 3</h2>
  <span class="verse" title="2 Peter 3:1" id="2_Peter-3-1">This is now, beloved, the second letter that I have written to you; and in both of them I stir up your sincere mind by reminding you;</span>
  <span class="verse" title="2 Peter 3:2" id="2_Peter-3-2">that you should remember the words which were spoken before by the holy prophets, and the commandments of us, the apostles of the Lord and Savior:</span>
  <span class="verse" title="2 Peter 3:3" id="2_Peter-3-3">knowing this first, that in the last days mockers will come, walking after their own lusts,</span>
  <span class="verse" title="2 Peter 3:4" id="2_Peter-3-4">and saying, &#8220;Where is the promise of his coming? For, from the day that the fathers fell asleep, all things continue as they were from the beginning of the creation.&#8221;</span>
  <span class="verse" title="2 Peter 3:5" id="2_Peter-3-5">For this they willfully forget, that there were heavens from of old, and an earth formed out of water and amid water, by the word of God;</span>
  <span class="verse" title="2 Peter 3:6" id="2_Peter-3-6">by which means the world that then was, being overflowed with water, perished.</span>
  <span class="verse" title="2 Peter 3:7" id="2_Peter-3-7">But the heavens that now are, and the earth, by the same word have been stored up for fire, being reserved against the day of judgment and destruction of ungodly men.</span>
  <span class="verse" title="2 Peter 3:8" id="2_Peter-3-8">But don&#8217;t forget this one thing, beloved, that one day is with the Lord as a thousand years, and a thousand years as one day.</span>
  <span class="verse" title="2 Peter 3:9" id="2_Peter-3-9">The Lord is not slow concerning his promise, as some count slowness; but is patient with us, not wishing that any should perish, but that all should come to repentance.</span>
  <span class="verse" title="2 Peter 3:10" id="2_Peter-3-10">But the day of the Lord will come as a thief in the night; in which the heavens will pass away with a great noise, and the elements will be dissolved with fervent heat, and the earth and the works that are in it will be burned up.</span>
  <span class="verse" title="2 Peter 3:11" id="2_Peter-3-11">Therefore since all these things will be destroyed like this, what kind of people ought you to be in holy living and godliness,</span>
  <span class="verse" title="2 Peter 3:12" id="2_Peter-3-12">looking for and earnestly desiring the coming of the day of God, which will cause the burning heavens to be dissolved, and the elements will melt with fervent heat?</span>
  <span class="verse" title="2 Peter 3:13" id="2_Peter-3-13">But, according to his promise, we look for new heavens and a new earth, in which righteousness dwells.</span>
  <span class="verse" title="2 Peter 3:14" id="2_Peter-3-14">Therefore, beloved, seeing that you look for these things, be diligent to be found in peace, without blemish and blameless in his sight.</span>
  <span class="verse" title="2 Peter 3:15" id="2_Peter-3-15">Regard the patience of our Lord as salvation; even as our beloved brother Paul also, according to the wisdom given to him, wrote to you;</span>
  <span class="verse" title="2 Peter 3:16" id="2_Peter-3-16">as also in all of his letters, speaking in them of these things. In those, there are some things that are hard to understand, which the ignorant and unsettled twist, as they also do to the other Scriptures, to their own destruction.</span>
  <span class="verse" title="2 Peter 3:17" id="2_Peter-3-17">You therefore, beloved, knowing these things beforehand, beware, lest being carried away with the error of the wicked, you fall from your own steadfastness.</span>
  <span class="verse" title="2 Peter 3:18" id="2_Peter-3-18">But grow in the grace and knowledge of our Lord and Savior Jesus Christ. To him be the glory both now and forever. Amen.</span>
</div>