<div class="chapter" id="Ephesians-001">
  <h2>Ephesians 1</h2>
  <span class="verse" title="Ephesians 1:1" id="Ephesians-1-1">Paul, an apostle of Christ Jesus through the will of God, to the saints who are at Ephesus, and the faithful in Christ Jesus:</span>
  <span class="verse" title="Ephesians 1:2" id="Ephesians-1-2">Grace to you and peace from God our Father and the Lord Jesus Christ.</span>
  <span class="verse" title="Ephesians 1:3" id="Ephesians-1-3">Blessed be the God and Father of our Lord Jesus Christ, who has blessed us with every spiritual blessing in the heavenly places in Christ;</span>
  <span class="verse" title="Ephesians 1:4" id="Ephesians-1-4">even as he chose us in him before the foundation of the world, that we would be holy and without blemish before him in love;</span>
  <span class="verse" title="Ephesians 1:5" id="Ephesians-1-5">having predestined us for adoption as children through Jesus Christ to himself, according to the good pleasure of his desire,</span>
  <span class="verse" title="Ephesians 1:6" id="Ephesians-1-6">to the praise of the glory of his grace, by which he freely bestowed favor on us in the Beloved,</span>
  <span class="verse" title="Ephesians 1:7" id="Ephesians-1-7">in whom we have our redemption through his blood, the forgiveness of our trespasses, according to the riches of his grace,</span>
  <span class="verse" title="Ephesians 1:8" id="Ephesians-1-8">which he made to abound toward us in all wisdom and prudence,</span>
  <span class="verse" title="Ephesians 1:9" id="Ephesians-1-9">making known to us the mystery of his will, according to his good pleasure which he purposed in him</span>
  <span class="verse" title="Ephesians 1:10" id="Ephesians-1-10">to an administration of the fullness of the times, to sum up all things in Christ, the things in the heavens, and the things on the earth, in him;</span>
  <span class="verse" title="Ephesians 1:11" id="Ephesians-1-11">in whom also we were assigned an inheritance, having been foreordained according to the purpose of him who works all things after the counsel of his will;</span>
  <span class="verse" title="Ephesians 1:12" id="Ephesians-1-12">to the end that we should be to the praise of his glory, we who had before hoped in Christ:</span>
  <span class="verse" title="Ephesians 1:13" id="Ephesians-1-13">in whom you also, having heard the word of the truth, the Good News of your salvation—in whom, having also believed, you were sealed with the Holy Spirit of promise,</span>
  <span class="verse" title="Ephesians 1:14" id="Ephesians-1-14">who is a pledge of our inheritance, to the redemption of God&#8217;s own possession, to the praise of his glory.</span>
  <span class="verse" title="Ephesians 1:15" id="Ephesians-1-15">For this cause I also, having heard of the faith in the Lord Jesus which is among you, and the love which you have toward all the saints,</span>
  <span class="verse" title="Ephesians 1:16" id="Ephesians-1-16">don&#8217;t cease to give thanks for you, making mention of you in my prayers,</span>
  <span class="verse" title="Ephesians 1:17" id="Ephesians-1-17">that the God of our Lord Jesus Christ, the Father of glory, may give to you a spirit of wisdom and revelation in the knowledge of him;</span>
  <span class="verse" title="Ephesians 1:18" id="Ephesians-1-18">having the eyes of your hearts enlightened, that you may know what is the hope of his calling, and what are the riches of the glory of his inheritance in the saints,</span>
  <span class="verse" title="Ephesians 1:19" id="Ephesians-1-19">and what is the exceeding greatness of his power toward us who believe, according to that working of the strength of his might</span>
  <span class="verse" title="Ephesians 1:20" id="Ephesians-1-20">which he worked in Christ, when he raised him from the dead, and made him to sit at his right hand in the heavenly places,</span>
  <span class="verse" title="Ephesians 1:21" id="Ephesians-1-21">far above all rule, and authority, and power, and dominion, and every name that is named, not only in this age, but also in that which is to come.</span>
  <span class="verse" title="Ephesians 1:22" id="Ephesians-1-22">He put all things in subjection under his feet, and gave him to be head over all things for the assembly,</span>
  <span class="verse" title="Ephesians 1:23" id="Ephesians-1-23">which is his body, the fullness of him who fills all in all.</span>
</div>