<div class="chapter" id="Ephesians-002">
  <h2>Ephesians 2</h2>
  <span class="verse" title="Ephesians 2:1" id="Ephesians-2-1">You were made alive when you were dead in transgressions and sins,</span>
  <span class="verse" title="Ephesians 2:2" id="Ephesians-2-2">in which you once walked according to the course of this world, according to the prince of the power of the air, the spirit who now works in the children of disobedience;</span>
  <span class="verse" title="Ephesians 2:3" id="Ephesians-2-3">among whom we also all once lived in the lust of our flesh, doing the desires of the flesh and of the mind, and were by nature children of wrath, even as the rest.</span>
  <span class="verse" title="Ephesians 2:4" id="Ephesians-2-4">But God, being rich in mercy, for his great love with which he loved us,</span>
  <span class="verse" title="Ephesians 2:5" id="Ephesians-2-5">even when we were dead through our trespasses, made us alive together with Christ (by grace you have been saved),</span>
  <span class="verse" title="Ephesians 2:6" id="Ephesians-2-6">and raised us up with him, and made us to sit with him in the heavenly places in Christ Jesus,</span>
  <span class="verse" title="Ephesians 2:7" id="Ephesians-2-7">that in the ages to come he might show the exceeding riches of his grace in kindness toward us in Christ Jesus;</span>
  <span class="verse" title="Ephesians 2:8" id="Ephesians-2-8">for by grace you have been saved through faith, and that not of yourselves; it is the gift of God,</span>
  <span class="verse" title="Ephesians 2:9" id="Ephesians-2-9">not of works, that no one would boast.</span>
  <span class="verse" title="Ephesians 2:10" id="Ephesians-2-10">For we are his workmanship, created in Christ Jesus for good works, which God prepared before that we would walk in them.</span>
  <span class="verse" title="Ephesians 2:11" id="Ephesians-2-11">Therefore remember that once you, the Gentiles in the flesh, who are called &#8220;uncircumcision&#8221; by that which is called &#8220;circumcision,&#8221; (in the flesh, made by hands);</span>
  <span class="verse" title="Ephesians 2:12" id="Ephesians-2-12">that you were at that time separate from Christ, alienated from the commonwealth of Israel, and strangers from the covenants of the promise, having no hope and without God in the world.</span>
  <span class="verse" title="Ephesians 2:13" id="Ephesians-2-13">But now in Christ Jesus you who once were far off are made near in the blood of Christ.</span>
  <span class="verse" title="Ephesians 2:14" id="Ephesians-2-14">For he is our peace, who made both one, and broke down the middle wall of partition,</span>
  <span class="verse" title="Ephesians 2:15" id="Ephesians-2-15">having abolished in the flesh the hostility, the law of commandments contained in ordinances, that he might create in himself one new man of the two, making peace;</span>
  <span class="verse" title="Ephesians 2:16" id="Ephesians-2-16">and might reconcile them both in one body to God through the cross, having killed the hostility thereby.</span>
  <span class="verse" title="Ephesians 2:17" id="Ephesians-2-17">He came and preached peace to you who were far off and to those who were near.</span>
  <span class="verse" title="Ephesians 2:18" id="Ephesians-2-18">For through him we both have our access in one Spirit to the Father.</span>
  <span class="verse" title="Ephesians 2:19" id="Ephesians-2-19">So then you are no longer strangers and foreigners, but you are fellow citizens with the saints, and of the household of God,</span>
  <span class="verse" title="Ephesians 2:20" id="Ephesians-2-20">being built on the foundation of the apostles and prophets, Christ Jesus himself being the chief cornerstone;</span>
  <span class="verse" title="Ephesians 2:21" id="Ephesians-2-21">in whom the whole building, fitted together, grows into a holy temple in the Lord;</span>
  <span class="verse" title="Ephesians 2:22" id="Ephesians-2-22">in whom you also are built together for a habitation of God in the Spirit.</span>
</div>