<div class="chapter" id="Ephesians-003">
  <h2>Ephesians 3</h2>
  <span class="verse" title="Ephesians 3:1" id="Ephesians-3-1">For this cause I, Paul, am the prisoner of Christ Jesus on behalf of you Gentiles,</span>
  <span class="verse" title="Ephesians 3:2" id="Ephesians-3-2">if it is so that you have heard of the administration of that grace of God which was given me toward you;</span>
  <span class="verse" title="Ephesians 3:3" id="Ephesians-3-3">how that by revelation the mystery was made known to me, as I wrote before in few words,</span>
  <span class="verse" title="Ephesians 3:4" id="Ephesians-3-4">by which, when you read, you can perceive my understanding in the mystery of Christ;</span>
  <span class="verse" title="Ephesians 3:5" id="Ephesians-3-5">which in other generations was not made known to the children of men, as it has now been revealed to his holy apostles and prophets in the Spirit;</span>
  <span class="verse" title="Ephesians 3:6" id="Ephesians-3-6">that the Gentiles are fellow heirs, and fellow members of the body, and fellow partakers of his promise in Christ Jesus through the Good News,</span>
  <span class="verse" title="Ephesians 3:7" id="Ephesians-3-7">of which I was made a servant, according to the gift of that grace of God which was given me according to the working of his power.</span>
  <span class="verse" title="Ephesians 3:8" id="Ephesians-3-8">To me, the very least of all saints, was this grace given, to preach to the Gentiles the unsearchable riches of Christ,</span>
  <span class="verse" title="Ephesians 3:9" id="Ephesians-3-9">and to make all men see what is the administration of the mystery which for ages has been hidden in God, who created all things through Jesus Christ;</span>
  <span class="verse" title="Ephesians 3:10" id="Ephesians-3-10">to the intent that now through the assembly the manifold wisdom of God might be made known to the principalities and the powers in the heavenly places,</span>
  <span class="verse" title="Ephesians 3:11" id="Ephesians-3-11">according to the eternal purpose which he purposed in Christ Jesus our Lord;</span>
  <span class="verse" title="Ephesians 3:12" id="Ephesians-3-12">in whom we have boldness and access in confidence through our faith in him.</span>
  <span class="verse" title="Ephesians 3:13" id="Ephesians-3-13">Therefore I ask that you may not lose heart at my troubles for you, which are your glory.</span>
  <span class="verse" title="Ephesians 3:14" id="Ephesians-3-14">For this cause, I bow my knees to the Father of our Lord Jesus Christ,</span>
  <span class="verse" title="Ephesians 3:15" id="Ephesians-3-15">from whom every family in heaven and on earth is named,</span>
  <span class="verse" title="Ephesians 3:16" id="Ephesians-3-16">that he would grant you, according to the riches of his glory, that you may be strengthened with power through his Spirit in the inward man;</span>
  <span class="verse" title="Ephesians 3:17" id="Ephesians-3-17">that Christ may dwell in your hearts through faith; to the end that you, being rooted and grounded in love,</span>
  <span class="verse" title="Ephesians 3:18" id="Ephesians-3-18">may be strengthened to comprehend with all the saints what is the breadth and length and height and depth,</span>
  <span class="verse" title="Ephesians 3:19" id="Ephesians-3-19">and to know Christ&#8217;s love which surpasses knowledge, that you may be filled with all the fullness of God.</span>
  <span class="verse" title="Ephesians 3:20" id="Ephesians-3-20">Now to him who is able to do exceedingly abundantly above all that we ask or think, according to the power that works in us,</span>
  <span class="verse" title="Ephesians 3:21" id="Ephesians-3-21">to him be the glory in the assembly and in Christ Jesus to all generations forever and ever. Amen.</span>
</div>