<div class="chapter" id="Ephesians-004">
  <h2>Ephesians 4</h2>
  <span class="verse" title="Ephesians 4:1" id="Ephesians-4-1">I therefore, the prisoner in the Lord, beg you to walk worthily of the calling with which you were called,</span>
  <span class="verse" title="Ephesians 4:2" id="Ephesians-4-2">with all lowliness and humility, with patience, bearing with one another in love;</span>
  <span class="verse" title="Ephesians 4:3" id="Ephesians-4-3">being eager to keep the unity of the Spirit in the bond of peace.</span>
  <span class="verse" title="Ephesians 4:4" id="Ephesians-4-4">There is one body, and one Spirit, even as you also were called in one hope of your calling;</span>
  <span class="verse" title="Ephesians 4:5" id="Ephesians-4-5">one Lord, one faith, one baptism,</span>
  <span class="verse" title="Ephesians 4:6" id="Ephesians-4-6">one God and Father of all, who is over all, and through all, and in us all.</span>
  <span class="verse" title="Ephesians 4:7" id="Ephesians-4-7">But to each one of us was the grace given according to the measure of the gift of Christ.</span>
  <span class="verse" title="Ephesians 4:8" id="Ephesians-4-8">Therefore he says, &#8220;When he ascended on high, he led captivity captive, and gave gifts to men.&#8221;</span>
  <span class="verse" title="Ephesians 4:9" id="Ephesians-4-9">Now this, &#8220;He ascended,&#8221; what is it but that he also first descended into the lower parts of the earth?</span>
  <span class="verse" title="Ephesians 4:10" id="Ephesians-4-10">He who descended is the one who also ascended far above all the heavens, that he might fill all things.</span>
  <span class="verse" title="Ephesians 4:11" id="Ephesians-4-11">He gave some to be apostles; and some, prophets; and some, evangelists; and some, shepherds and teachers;</span>
  <span class="verse" title="Ephesians 4:12" id="Ephesians-4-12">for the perfecting of the saints, to the work of serving, to the building up of the body of Christ;</span>
  <span class="verse" title="Ephesians 4:13" id="Ephesians-4-13">until we all attain to the unity of the faith, and of the knowledge of the Son of God, to a full grown man, to the measure of the stature of the fullness of Christ;</span>
  <span class="verse" title="Ephesians 4:14" id="Ephesians-4-14">that we may no longer be children, tossed back and forth and carried about with every wind of doctrine, by the trickery of men, in craftiness, after the wiles of error;</span>
  <span class="verse" title="Ephesians 4:15" id="Ephesians-4-15">but speaking truth in love, we may grow up in all things into him, who is the head, Christ;</span>
  <span class="verse" title="Ephesians 4:16" id="Ephesians-4-16">from whom all the body, being fitted and knit together through that which every joint supplies, according to the working in measure of each individual part, makes the body increase to the building up of itself in love.</span>
  <span class="verse" title="Ephesians 4:17" id="Ephesians-4-17">This I say therefore, and testify in the Lord, that you no longer walk as the rest of the Gentiles also walk, in the futility of their mind,</span>
  <span class="verse" title="Ephesians 4:18" id="Ephesians-4-18">being darkened in their understanding, alienated from the life of God, because of the ignorance that is in them, because of the hardening of their hearts;</span>
  <span class="verse" title="Ephesians 4:19" id="Ephesians-4-19">who having become callous gave themselves up to lust, to work all uncleanness with greediness.</span>
  <span class="verse" title="Ephesians 4:20" id="Ephesians-4-20">But you did not learn Christ that way;</span>
  <span class="verse" title="Ephesians 4:21" id="Ephesians-4-21">if indeed you heard him, and were taught in him, even as truth is in Jesus:</span>
  <span class="verse" title="Ephesians 4:22" id="Ephesians-4-22">that you put away, as concerning your former way of life, the old man, that grows corrupt after the lusts of deceit;</span>
  <span class="verse" title="Ephesians 4:23" id="Ephesians-4-23">and that you be renewed in the spirit of your mind,</span>
  <span class="verse" title="Ephesians 4:24" id="Ephesians-4-24">and put on the new man, who in the likeness of God has been created in righteousness and holiness of truth.</span>
  <span class="verse" title="Ephesians 4:25" id="Ephesians-4-25">Therefore, putting away falsehood, speak truth each one with his neighbor. For we are members of one another.</span>
  <span class="verse" title="Ephesians 4:26" id="Ephesians-4-26">&#8220;Be angry, and don&#8217;t sin.&#8221; Don&#8217;t let the sun go down on your wrath,</span>
  <span class="verse" title="Ephesians 4:27" id="Ephesians-4-27">neither give place to the devil.</span>
  <span class="verse" title="Ephesians 4:28" id="Ephesians-4-28">Let him who stole steal no more; but rather let him labor, working with his hands the thing that is good, that he may have something to give to him who has need.</span>
  <span class="verse" title="Ephesians 4:29" id="Ephesians-4-29">Let no corrupt speech proceed out of your mouth, but such as is good for building up as the need may be, that it may give grace to those who hear.</span>
  <span class="verse" title="Ephesians 4:30" id="Ephesians-4-30">Don&#8217;t grieve the Holy Spirit of God, in whom you were sealed for the day of redemption.</span>
  <span class="verse" title="Ephesians 4:31" id="Ephesians-4-31">Let all bitterness, wrath, anger, outcry, and slander, be put away from you, with all malice.</span>
  <span class="verse" title="Ephesians 4:32" id="Ephesians-4-32">And be kind to one another, tenderhearted, forgiving each other, just as God also in Christ forgave you.</span>
</div>