<div class="chapter" id="Ephesians-005">
  <h2>Ephesians 5</h2>
  <span class="verse" title="Ephesians 5:1" id="Ephesians-5-1">Be therefore imitators of God, as beloved children.</span>
  <span class="verse" title="Ephesians 5:2" id="Ephesians-5-2">Walk in love, even as Christ also loved you, and gave himself up for us, an offering and a sacrifice to God for a sweet-smelling fragrance.</span>
  <span class="verse" title="Ephesians 5:3" id="Ephesians-5-3">But sexual immorality, and all uncleanness, or covetousness, let it not even be mentioned among you, as becomes saints;</span>
  <span class="verse" title="Ephesians 5:4" id="Ephesians-5-4">nor filthiness, nor foolish talking, nor jesting, which are not appropriate; but rather giving of thanks.</span>
  <span class="verse" title="Ephesians 5:5" id="Ephesians-5-5">Know this for sure, that no sexually immoral person, nor unclean person, nor covetous man, who is an idolater, has any inheritance in the Kingdom of Christ and God.</span>
  <span class="verse" title="Ephesians 5:6" id="Ephesians-5-6">Let no one deceive you with empty words. For because of these things, the wrath of God comes on the children of disobedience.</span>
  <span class="verse" title="Ephesians 5:7" id="Ephesians-5-7">Therefore don&#8217;t be partakers with them.</span>
  <span class="verse" title="Ephesians 5:8" id="Ephesians-5-8">For you were once darkness, but are now light in the Lord. Walk as children of light,</span>
  <span class="verse" title="Ephesians 5:9" id="Ephesians-5-9">for the fruit of the Spirit is in all goodness and righteousness and truth,</span>
  <span class="verse" title="Ephesians 5:10" id="Ephesians-5-10">proving what is well pleasing to the Lord.</span>
  <span class="verse" title="Ephesians 5:11" id="Ephesians-5-11">Have no fellowship with the unfruitful works of darkness, but rather even reprove them.</span>
  <span class="verse" title="Ephesians 5:12" id="Ephesians-5-12">For the things which are done by them in secret, it is a shame even to speak of.</span>
  <span class="verse" title="Ephesians 5:13" id="Ephesians-5-13">But all things, when they are reproved, are revealed by the light, for everything that reveals is light.</span>
  <span class="verse" title="Ephesians 5:14" id="Ephesians-5-14">Therefore he says, &#8220;Awake, you who sleep, and arise from the dead, and Christ will shine on you.&#8221;</span>
  <span class="verse" title="Ephesians 5:15" id="Ephesians-5-15">Therefore watch carefully how you walk, not as unwise, but as wise;</span>
  <span class="verse" title="Ephesians 5:16" id="Ephesians-5-16">redeeming the time, because the days are evil.</span>
  <span class="verse" title="Ephesians 5:17" id="Ephesians-5-17">Therefore don&#8217;t be foolish, but understand what the will of the Lord is.</span>
  <span class="verse" title="Ephesians 5:18" id="Ephesians-5-18">Don&#8217;t be drunken with wine, in which is dissipation, but be filled with the Spirit,</span>
  <span class="verse" title="Ephesians 5:19" id="Ephesians-5-19">speaking to one another in psalms, hymns, and spiritual songs; singing, and making melody in your heart to the Lord;</span>
  <span class="verse" title="Ephesians 5:20" id="Ephesians-5-20">giving thanks always concerning all things in the name of our Lord Jesus Christ, to God, even the Father;</span>
  <span class="verse" title="Ephesians 5:21" id="Ephesians-5-21">subjecting yourselves one to another in the fear of Christ.</span>
  <span class="verse" title="Ephesians 5:22" id="Ephesians-5-22">Wives, be subject to your own husbands, as to the Lord.</span>
  <span class="verse" title="Ephesians 5:23" id="Ephesians-5-23">For the husband is the head of the wife, and Christ also is the head of the assembly, being himself the savior of the body.</span>
  <span class="verse" title="Ephesians 5:24" id="Ephesians-5-24">But as the assembly is subject to Christ, so let the wives also be to their own husbands in everything.</span>
  <span class="verse" title="Ephesians 5:25" id="Ephesians-5-25">Husbands, love your wives, even as Christ also loved the assembly, and gave himself up for it;</span>
  <span class="verse" title="Ephesians 5:26" id="Ephesians-5-26">that he might sanctify it, having cleansed it by the washing of water with the word,</span>
  <span class="verse" title="Ephesians 5:27" id="Ephesians-5-27">that he might present the assembly to himself gloriously, not having spot or wrinkle or any such thing; but that it should be holy and without blemish.</span>
  <span class="verse" title="Ephesians 5:28" id="Ephesians-5-28">Even so husbands also ought to love their own wives as their own bodies. He who loves his own wife loves himself.</span>
  <span class="verse" title="Ephesians 5:29" id="Ephesians-5-29">For no man ever hated his own flesh; but nourishes and cherishes it, even as the Lord also does the assembly;</span>
  <span class="verse" title="Ephesians 5:30" id="Ephesians-5-30">because we are members of his body, of his flesh and bones.</span>
  <span class="verse" title="Ephesians 5:31" id="Ephesians-5-31">&#8220;For this cause a man will leave his father and mother, and will be joined to his wife. The two will become one flesh.&#8221;</span>
  <span class="verse" title="Ephesians 5:32" id="Ephesians-5-32">This mystery is great, but I speak concerning Christ and of the assembly.</span>
  <span class="verse" title="Ephesians 5:33" id="Ephesians-5-33">Nevertheless each of you must also love his own wife even as himself; and let the wife see that she respects her husband.</span>
</div>