<div class="chapter" id="Ephesians-006">
  <h2>Ephesians 6</h2>
  <span class="verse" title="Ephesians 6:1" id="Ephesians-6-1">Children, obey your parents in the Lord, for this is right.</span>
  <span class="verse" title="Ephesians 6:2" id="Ephesians-6-2">&#8220;Honor your father and mother,&#8221; which is the first commandment with a promise:</span>
  <span class="verse" title="Ephesians 6:3" id="Ephesians-6-3">&#8220;that it may be well with you, and you may live long on the earth.&#8221;</span>
  <span class="verse" title="Ephesians 6:4" id="Ephesians-6-4">You fathers, don&#8217;t provoke your children to wrath, but nurture them in the discipline and instruction of the Lord.</span>
  <span class="verse" title="Ephesians 6:5" id="Ephesians-6-5">Servants, be obedient to those who according to the flesh are your masters, with fear and trembling, in singleness of your heart, as to Christ;</span>
  <span class="verse" title="Ephesians 6:6" id="Ephesians-6-6">not in the way of service only when eyes are on you, as men pleasers; but as servants of Christ, doing the will of God from the heart;</span>
  <span class="verse" title="Ephesians 6:7" id="Ephesians-6-7">with good will doing service, as to the Lord, and not to men;</span>
  <span class="verse" title="Ephesians 6:8" id="Ephesians-6-8">knowing that whatever good thing each one does, he will receive the same again from the Lord, whether he is bound or free.</span>
  <span class="verse" title="Ephesians 6:9" id="Ephesians-6-9">You masters, do the same things to them, and give up threatening, knowing that he who is both their Master and yours is in heaven, and there is no partiality with him.</span>
  <span class="verse" title="Ephesians 6:10" id="Ephesians-6-10">Finally, be strong in the Lord, and in the strength of his might.</span>
  <span class="verse" title="Ephesians 6:11" id="Ephesians-6-11">Put on the whole armor of God, that you may be able to stand against the wiles of the devil.</span>
  <span class="verse" title="Ephesians 6:12" id="Ephesians-6-12">For our wrestling is not against flesh and blood, but against the principalities, against the powers, against the world&#8217;s rulers of the darkness of this age, and against the spiritual forces of wickedness in the heavenly places.</span>
  <span class="verse" title="Ephesians 6:13" id="Ephesians-6-13">Therefore, put on the whole armor of God, that you may be able to withstand in the evil day, and, having done all, to stand.</span>
  <span class="verse" title="Ephesians 6:14" id="Ephesians-6-14">Stand therefore, having the utility belt of truth buckled around your waist, and having put on the breastplate of righteousness,</span>
  <span class="verse" title="Ephesians 6:15" id="Ephesians-6-15">and having fitted your feet with the preparation of the Good News of peace;</span>
  <span class="verse" title="Ephesians 6:16" id="Ephesians-6-16">above all, taking up the shield of faith, with which you will be able to quench all the fiery darts of the evil one.</span>
  <span class="verse" title="Ephesians 6:17" id="Ephesians-6-17">And take the helmet of salvation, and the sword of the Spirit, which is the word of God;</span>
  <span class="verse" title="Ephesians 6:18" id="Ephesians-6-18">with all prayer and requests, praying at all times in the Spirit, and being watchful to this end in all perseverance and requests for all the saints:</span>
  <span class="verse" title="Ephesians 6:19" id="Ephesians-6-19">on my behalf, that utterance may be given to me in opening my mouth, to make known with boldness the mystery of the Good News,</span>
  <span class="verse" title="Ephesians 6:20" id="Ephesians-6-20">for which I am an ambassador in chains; that in it I may speak boldly, as I ought to speak.</span>
  <span class="verse" title="Ephesians 6:21" id="Ephesians-6-21">But that you also may know my affairs, how I am doing, Tychicus, the beloved brother and faithful servant in the Lord, will make known to you all things;</span>
  <span class="verse" title="Ephesians 6:22" id="Ephesians-6-22">whom I have sent to you for this very purpose, that you may know our state, and that he may comfort your hearts.</span>
  <span class="verse" title="Ephesians 6:23" id="Ephesians-6-23">Peace be to the brothers, and love with faith, from God the Father and the Lord Jesus Christ.</span>
  <span class="verse" title="Ephesians 6:24" id="Ephesians-6-24">Grace be with all those who love our Lord Jesus Christ with incorruptible love. Amen.</span>
</div>