<div class="chapter" id="Philippians-001">
  <h2>Philippians 1</h2>
  <span class="verse" title="Philippians 1:1" id="Philippians-1-1">Paul and Timothy, servants of Jesus Christ; To all the saints in Christ Jesus who are at Philippi, with the overseers and servants:</span>
  <span class="verse" title="Philippians 1:2" id="Philippians-1-2">Grace to you, and peace from God, our Father, and the Lord Jesus Christ.</span>
  <span class="verse" title="Philippians 1:3" id="Philippians-1-3">I thank my God whenever I remember you,</span>
  <span class="verse" title="Philippians 1:4" id="Philippians-1-4">always in every request of mine on behalf of you all making my requests with joy,</span>
  <span class="verse" title="Philippians 1:5" id="Philippians-1-5">for your partnership in furtherance of the Good News from the first day until now;</span>
  <span class="verse" title="Philippians 1:6" id="Philippians-1-6">being confident of this very thing, that he who began a good work in you will complete it until the day of Jesus Christ.</span>
  <span class="verse" title="Philippians 1:7" id="Philippians-1-7">It is even right for me to think this way on behalf of all of you, because I have you in my heart, because, both in my bonds and in the defense and confirmation of the Good News, you all are partakers with me of grace.</span>
  <span class="verse" title="Philippians 1:8" id="Philippians-1-8">For God is my witness, how I long after all of you in the tender mercies of Christ Jesus.</span>
  <span class="verse" title="Philippians 1:9" id="Philippians-1-9">This I pray, that your love may abound yet more and more in knowledge and all discernment;</span>
  <span class="verse" title="Philippians 1:10" id="Philippians-1-10">so that you may approve the things that are excellent; that you may be sincere and without offense to the day of Christ;</span>
  <span class="verse" title="Philippians 1:11" id="Philippians-1-11">being filled with the fruits of righteousness, which are through Jesus Christ, to the glory and praise of God.</span>
  <span class="verse" title="Philippians 1:12" id="Philippians-1-12">Now I desire to have you know, brothers, that the things which happened to me have turned out rather to the progress of the Good News;</span>
  <span class="verse" title="Philippians 1:13" id="Philippians-1-13">so that it became evident to the whole palace guard, and to all the rest, that my bonds are in Christ;</span>
  <span class="verse" title="Philippians 1:14" id="Philippians-1-14">and that most of the brothers in the Lord, being confident through my bonds, are more abundantly bold to speak the word of God without fear.</span>
  <span class="verse" title="Philippians 1:15" id="Philippians-1-15">Some indeed preach Christ even out of envy and strife, and some also out of good will.</span>
  <span class="verse" title="Philippians 1:16" id="Philippians-1-16">The former insincerely preach Christ from selfish ambition, thinking that they add affliction to my chains;</span>
  <span class="verse" title="Philippians 1:17" id="Philippians-1-17">but the latter out of love, knowing that I am appointed for the defense of the Good News.</span>
  <span class="verse" title="Philippians 1:18" id="Philippians-1-18">What does it matter? Only that in every way, whether in pretense or in truth, Christ is proclaimed. I rejoice in this, yes, and will rejoice.</span>
  <span class="verse" title="Philippians 1:19" id="Philippians-1-19">For I know that this will turn out to my salvation, through your supplication and the supply of the Spirit of Jesus Christ,</span>
  <span class="verse" title="Philippians 1:20" id="Philippians-1-20">according to my earnest expectation and hope, that I will in no way be disappointed, but with all boldness, as always, now also Christ will be magnified in my body, whether by life, or by death.</span>
  <span class="verse" title="Philippians 1:21" id="Philippians-1-21">For to me to live is Christ, and to die is gain.</span>
  <span class="verse" title="Philippians 1:22" id="Philippians-1-22">But if I live on in the flesh, this will bring fruit from my work; yet I don&#8217;t know what I will choose.</span>
  <span class="verse" title="Philippians 1:23" id="Philippians-1-23">But I am in a dilemma between the two, having the desire to depart and be with Christ, which is far better.</span>
  <span class="verse" title="Philippians 1:24" id="Philippians-1-24">Yet, to remain in the flesh is more needful for your sake.</span>
  <span class="verse" title="Philippians 1:25" id="Philippians-1-25">Having this confidence, I know that I will remain, yes, and remain with you all, for your progress and joy in the faith,</span>
  <span class="verse" title="Philippians 1:26" id="Philippians-1-26">that your rejoicing may abound in Christ Jesus in me through my presence with you again.</span>
  <span class="verse" title="Philippians 1:27" id="Philippians-1-27">Only let your way of life be worthy of the Good News of Christ, that, whether I come and see you or am absent, I may hear of your state, that you stand firm in one spirit, with one soul striving for the faith of the Good News;</span>
  <span class="verse" title="Philippians 1:28" id="Philippians-1-28">and in nothing frightened by the adversaries, which is for them a proof of destruction, but to you of salvation, and that from God.</span>
  <span class="verse" title="Philippians 1:29" id="Philippians-1-29">Because it has been granted to you on behalf of Christ, not only to believe in him, but also to suffer on his behalf,</span>
  <span class="verse" title="Philippians 1:30" id="Philippians-1-30">having the same conflict which you saw in me, and now hear is in me.</span>
</div>