<div class="chapter" id="Philippians-002">
  <h2>Philippians 2</h2>
  <span class="verse" title="Philippians 2:1" id="Philippians-2-1">If there is therefore any exhortation in Christ, if any consolation of love, if any fellowship of the Spirit, if any tender mercies and compassion,</span>
  <span class="verse" title="Philippians 2:2" id="Philippians-2-2">make my joy full, by being like-minded, having the same love, being of one accord, of one mind;</span>
  <span class="verse" title="Philippians 2:3" id="Philippians-2-3">doing nothing through rivalry or through conceit, but in humility, each counting others better than himself;</span>
  <span class="verse" title="Philippians 2:4" id="Philippians-2-4">each of you not just looking to his own things, but each of you also to the things of others.</span>
  <span class="verse" title="Philippians 2:5" id="Philippians-2-5">Have this in your mind, which was also in Christ Jesus,</span>
  <span class="verse" title="Philippians 2:6" id="Philippians-2-6">who, existing in the form of God, didn&#8217;t consider equality with God a thing to be grasped,</span>
  <span class="verse" title="Philippians 2:7" id="Philippians-2-7">but emptied himself, taking the form of a servant, being made in the likeness of men.</span>
  <span class="verse" title="Philippians 2:8" id="Philippians-2-8">And being found in human form, he humbled himself, becoming obedient to death, yes, the death of the cross.</span>
  <span class="verse" title="Philippians 2:9" id="Philippians-2-9">Therefore God also highly exalted him, and gave to him the name which is above every name;</span>
  <span class="verse" title="Philippians 2:10" id="Philippians-2-10">that at the name of Jesus every knee should bow, of those in heaven, those on earth, and those under the earth,</span>
  <span class="verse" title="Philippians 2:11" id="Philippians-2-11">and that every tongue should confess that Jesus Christ is Lord, to the glory of God the Father.</span>
  <span class="verse" title="Philippians 2:12" id="Philippians-2-12">So then, my beloved, even as you have always obeyed, not only in my presence, but now much more in my absence, work out your own salvation with fear and trembling.</span>
  <span class="verse" title="Philippians 2:13" id="Philippians-2-13">For it is God who works in you both to will and to work, for his good pleasure.</span>
  <span class="verse" title="Philippians 2:14" id="Philippians-2-14">Do all things without murmurings and disputes,</span>
  <span class="verse" title="Philippians 2:15" id="Philippians-2-15">that you may become blameless and harmless, children of God without blemish in the midst of a crooked and perverse generation, among whom you are seen as lights in the world,</span>
  <span class="verse" title="Philippians 2:16" id="Philippians-2-16">holding up the word of life; that I may have something to boast in the day of Christ, that I didn&#8217;t run in vain nor labor in vain.</span>
  <span class="verse" title="Philippians 2:17" id="Philippians-2-17">Yes, and if I am poured out on the sacrifice and service of your faith, I rejoice, and rejoice with you all.</span>
  <span class="verse" title="Philippians 2:18" id="Philippians-2-18">In the same way, you also rejoice, and rejoice with me.</span>
  <span class="verse" title="Philippians 2:19" id="Philippians-2-19">But I hope in the Lord Jesus to send Timothy to you soon, that I also may be cheered up when I know how you are doing.</span>
  <span class="verse" title="Philippians 2:20" id="Philippians-2-20">For I have no one else like-minded, who will truly care about you.</span>
  <span class="verse" title="Philippians 2:21" id="Philippians-2-21">For they all seek their own, not the things of Jesus Christ.</span>
  <span class="verse" title="Philippians 2:22" id="Philippians-2-22">But you know the proof of him, that, as a child serves a father, so he served with me in furtherance of the Good News.</span>
  <span class="verse" title="Philippians 2:23" id="Philippians-2-23">Therefore I hope to send him at once, as soon as I see how it will go with me.</span>
  <span class="verse" title="Philippians 2:24" id="Philippians-2-24">But I trust in the Lord that I myself also will come shortly.</span>
  <span class="verse" title="Philippians 2:25" id="Philippians-2-25">But I counted it necessary to send to you Epaphroditus, my brother, fellow worker, fellow soldier, and your apostle and servant of my need;</span>
  <span class="verse" title="Philippians 2:26" id="Philippians-2-26">since he longed for you all, and was very troubled, because you had heard that he was sick.</span>
  <span class="verse" title="Philippians 2:27" id="Philippians-2-27">For indeed he was sick, nearly to death, but God had mercy on him; and not on him only, but on me also, that I might not have sorrow on sorrow.</span>
  <span class="verse" title="Philippians 2:28" id="Philippians-2-28">I have sent him therefore the more diligently, that, when you see him again, you may rejoice, and that I may be the less sorrowful.</span>
  <span class="verse" title="Philippians 2:29" id="Philippians-2-29">Receive him therefore in the Lord with all joy, and hold such in honor,</span>
  <span class="verse" title="Philippians 2:30" id="Philippians-2-30">because for the work of Christ he came near to death, risking his life to supply that which was lacking in your service toward me.</span>
</div>