<div class="chapter" id="Philippians-003">
  <h2>Philippians 3</h2>
  <span class="verse" title="Philippians 3:1" id="Philippians-3-1">Finally, my brothers, rejoice in the Lord. To write the same things to you, to me indeed is not tiresome, but for you it is safe.</span>
  <span class="verse" title="Philippians 3:2" id="Philippians-3-2">Beware of the dogs, beware of the evil workers, beware of the false circumcision.</span>
  <span class="verse" title="Philippians 3:3" id="Philippians-3-3">For we are the circumcision, who worship God in the Spirit, and rejoice in Christ Jesus, and have no confidence in the flesh;</span>
  <span class="verse" title="Philippians 3:4" id="Philippians-3-4">though I myself might have confidence even in the flesh. If any other man thinks that he has confidence in the flesh, I yet more:</span>
  <span class="verse" title="Philippians 3:5" id="Philippians-3-5">circumcised the eighth day, of the stock of Israel, of the tribe of Benjamin, a Hebrew of Hebrews; concerning the law, a Pharisee;</span>
  <span class="verse" title="Philippians 3:6" id="Philippians-3-6">concerning zeal, persecuting the assembly; concerning the righteousness which is in the law, found blameless.</span>
  <span class="verse" title="Philippians 3:7" id="Philippians-3-7">However, what things were gain to me, these have I counted loss for Christ.</span>
  <span class="verse" title="Philippians 3:8" id="Philippians-3-8">Yes most certainly, and I count all things to be loss for the excellency of the knowledge of Christ Jesus, my Lord, for whom I suffered the loss of all things, and count them nothing but refuse, that I may gain Christ</span>
  <span class="verse" title="Philippians 3:9" id="Philippians-3-9">and be found in him, not having a righteousness of my own, that which is of the law, but that which is through faith in Christ, the righteousness which is from God by faith;</span>
  <span class="verse" title="Philippians 3:10" id="Philippians-3-10">that I may know him, and the power of his resurrection, and the fellowship of his sufferings, becoming conformed to his death;</span>
  <span class="verse" title="Philippians 3:11" id="Philippians-3-11">if by any means I may attain to the resurrection from the dead.</span>
  <span class="verse" title="Philippians 3:12" id="Philippians-3-12">Not that I have already obtained, or am already made perfect; but I press on, if it is so that I may take hold of that for which also I was taken hold of by Christ Jesus.</span>
  <span class="verse" title="Philippians 3:13" id="Philippians-3-13">Brothers, I don&#8217;t regard myself as yet having taken hold, but one thing I do. Forgetting the things which are behind, and stretching forward to the things which are before,</span>
  <span class="verse" title="Philippians 3:14" id="Philippians-3-14">I press on toward the goal for the prize of the high calling of God in Christ Jesus.</span>
  <span class="verse" title="Philippians 3:15" id="Philippians-3-15">Let us therefore, as many as are perfect, think this way. If in anything you think otherwise, God will also reveal that to you.</span>
  <span class="verse" title="Philippians 3:16" id="Philippians-3-16">Nevertheless, to the extent that we have already attained, let us walk by the same rule. Let us be of the same mind.</span>
  <span class="verse" title="Philippians 3:17" id="Philippians-3-17">Brothers, be imitators together of me, and note those who walk this way, even as you have us for an example.</span>
  <span class="verse" title="Philippians 3:18" id="Philippians-3-18">For many walk, of whom I told you often, and now tell you even weeping, as the enemies of the cross of Christ,</span>
  <span class="verse" title="Philippians 3:19" id="Philippians-3-19">whose end is destruction, whose god is the belly, and whose glory is in their shame, who think about earthly things.</span>
  <span class="verse" title="Philippians 3:20" id="Philippians-3-20">For our citizenship is in heaven, from where we also wait for a Savior, the Lord Jesus Christ;</span>
  <span class="verse" title="Philippians 3:21" id="Philippians-3-21">who will change the body of our humiliation to be conformed to the body of his glory, according to the working by which he is able even to subject all things to himself.</span>
</div>