<div class="chapter" id="Philippians-004">
  <h2>Philippians 4</h2>
  <span class="verse" title="Philippians 4:1" id="Philippians-4-1">Therefore, my brothers, beloved and longed for, my joy and crown, so stand firm in the Lord, my beloved.</span>
  <span class="verse" title="Philippians 4:2" id="Philippians-4-2">I exhort Euodia, and I exhort Syntyche, to think the same way in the Lord.</span>
  <span class="verse" title="Philippians 4:3" id="Philippians-4-3">Yes, I beg you also, true yokefellow, help these women, for they labored with me in the Good News, with Clement also, and the rest of my fellow workers, whose names are in the book of life.</span>
  <span class="verse" title="Philippians 4:4" id="Philippians-4-4">Rejoice in the Lord always! Again I will say, &#8220;Rejoice!&#8221;</span>
  <span class="verse" title="Philippians 4:5" id="Philippians-4-5">Let your gentleness be known to all men. The Lord is at hand.</span>
  <span class="verse" title="Philippians 4:6" id="Philippians-4-6">In nothing be anxious, but in everything, by prayer and petition with thanksgiving, let your requests be made known to God.</span>
  <span class="verse" title="Philippians 4:7" id="Philippians-4-7">And the peace of God, which surpasses all understanding, will guard your hearts and your thoughts in Christ Jesus.</span>
  <span class="verse" title="Philippians 4:8" id="Philippians-4-8">Finally, brothers, whatever things are true, whatever things are honorable, whatever things are just, whatever things are pure, whatever things are lovely, whatever things are of good report; if there is any virtue, and if there is any praise, think about these things.</span>
  <span class="verse" title="Philippians 4:9" id="Philippians-4-9">The things which you learned, received, heard, and saw in me: do these things, and the God of peace will be with you.</span>
  <span class="verse" title="Philippians 4:10" id="Philippians-4-10">But I rejoice in the Lord greatly, that now at length you have revived your thought for me; in which you did indeed take thought, but you lacked opportunity.</span>
  <span class="verse" title="Philippians 4:11" id="Philippians-4-11">Not that I speak in respect to lack, for I have learned in whatever state I am, to be content in it.</span>
  <span class="verse" title="Philippians 4:12" id="Philippians-4-12">I know how to be humbled, and I know also how to abound. In everything and in all things I have learned the secret both to be filled and to be hungry, both to abound and to be in need.</span>
  <span class="verse" title="Philippians 4:13" id="Philippians-4-13">I can do all things through Christ, who strengthens me.</span>
  <span class="verse" title="Philippians 4:14" id="Philippians-4-14">However you did well that you shared in my affliction.</span>
  <span class="verse" title="Philippians 4:15" id="Philippians-4-15">You yourselves also know, you Philippians, that in the beginning of the Good News, when I departed from Macedonia, no assembly shared with me in the matter of giving and receiving but you only.</span>
  <span class="verse" title="Philippians 4:16" id="Philippians-4-16">For even in Thessalonica you sent once and again to my need.</span>
  <span class="verse" title="Philippians 4:17" id="Philippians-4-17">Not that I seek for the gift, but I seek for the fruit that increases to your account.</span>
  <span class="verse" title="Philippians 4:18" id="Philippians-4-18">But I have all things, and abound. I am filled, having received from Epaphroditus the things that came from you, a sweet-smelling fragrance, an acceptable and well-pleasing sacrifice to God.</span>
  <span class="verse" title="Philippians 4:19" id="Philippians-4-19">My God will supply every need of yours according to his riches in glory in Christ Jesus.</span>
  <span class="verse" title="Philippians 4:20" id="Philippians-4-20">Now to our God and Father be the glory forever and ever! Amen.</span>
  <span class="verse" title="Philippians 4:21" id="Philippians-4-21">Greet every saint in Christ Jesus. The brothers who are with me greet you.</span>
  <span class="verse" title="Philippians 4:22" id="Philippians-4-22">All the saints greet you, especially those who are of Caesar&#8217;s household.</span>
  <span class="verse" title="Philippians 4:23" id="Philippians-4-23">The grace of the Lord Jesus Christ be with you all. Amen.</span>
</div>