<div class="chapter" id="Revelation-001">
  <h2>Revelation 1</h2>
  <span class="verse" title="Revelation 1:1" id="Revelation-1-1">This is the Revelation of Jesus Christ, which God gave him to show to his servants the things which must happen soon, which he sent and made known by his angel to his servant, John,</span>
  <span class="verse" title="Revelation 1:2" id="Revelation-1-2">who testified to God&#8217;s word, and of the testimony of Jesus Christ, about everything that he saw.</span>
  <span class="verse" title="Revelation 1:3" id="Revelation-1-3">Blessed is he who reads and those who hear the words of the prophecy, and keep the things that are written in it, for the time is at hand.</span>
  <span class="verse" title="Revelation 1:4" id="Revelation-1-4">John, to the seven assemblies that are in Asia: Grace to you and peace, from God, who is and who was and who is to come; and from the seven Spirits who are before his throne;</span>
  <span class="verse" title="Revelation 1:5" id="Revelation-1-5">and from Jesus Christ, the faithful witness, the firstborn of the dead, and the ruler of the kings of the earth. To him who loves us, and washed us from our sins by his blood;</span>
  <span class="verse" title="Revelation 1:6" id="Revelation-1-6">and he made us to be a Kingdom, priests to his God and Father; to him be the glory and the dominion forever and ever. Amen.</span>
  <span class="verse" title="Revelation 1:7" id="Revelation-1-7">Behold, he is coming with the clouds, and every eye will see him, including those who pierced him. All the tribes of the earth will mourn over him. Even so, Amen.</span>
  <span class="verse" title="Revelation 1:8" id="Revelation-1-8">&#8220;I am the Alpha and the Omega,&#8221; says the Lord God, &#8220;who is and who was and who is to come, the Almighty.&#8221;</span>
  <span class="verse" title="Revelation 1:9" id="Revelation-1-9">I John, your brother and partner with you in oppression, Kingdom, and perseverance in Christ Jesus, was on the isle that is called Patmos because of God&#8217;s Word and the testimony of Jesus Christ.</span>
  <span class="verse" title="Revelation 1:10" id="Revelation-1-10">I was in the Spirit on the Lord&#8217;s day, and I heard behind me a loud voice, like a trumpet</span>
  <span class="verse" title="Revelation 1:11" id="Revelation-1-11">saying, &#8220;What you see, write in a book and send to the seven assemblies: to Ephesus, Smyrna, Pergamum, Thyatira, Sardis, Philadelphia, and to Laodicea.&#8221;</span>
  <span class="verse" title="Revelation 1:12" id="Revelation-1-12">I turned to see the voice that spoke with me. Having turned, I saw seven golden lampstands.</span>
  <span class="verse" title="Revelation 1:13" id="Revelation-1-13">And among the lampstands was one like a son of man, clothed with a robe reaching down to his feet, and with a golden sash around his chest.</span>
  <span class="verse" title="Revelation 1:14" id="Revelation-1-14">His head and his hair were white as white wool, like snow. His eyes were like a flame of fire.</span>
  <span class="verse" title="Revelation 1:15" id="Revelation-1-15">His feet were like burnished brass, as if it had been refined in a furnace. His voice was like the voice of many waters.</span>
  <span class="verse" title="Revelation 1:16" id="Revelation-1-16">He had seven stars in his right hand. Out of his mouth proceeded a sharp two-edged sword. His face was like the sun shining at its brightest.</span>
  <span class="verse" title="Revelation 1:17" id="Revelation-1-17">When I saw him, I fell at his feet like a dead man. He laid his right hand on me, saying, &#8220;Don&#8217;t be afraid. I am the first and the last,</span>
  <span class="verse" title="Revelation 1:18" id="Revelation-1-18">and the Living one. I was dead, and behold, I am alive forevermore. Amen. I have the keys of Death and of Hades.</span>
  <span class="verse" title="Revelation 1:19" id="Revelation-1-19">Write therefore the things which you have seen, and the things which are, and the things which will happen hereafter;</span>
  <span class="verse" title="Revelation 1:20" id="Revelation-1-20">the mystery of the seven stars which you saw in my right hand, and the seven golden lampstands. The seven stars are the angels of the seven assemblies. The seven lampstands are seven assemblies.</span>
</div>