<div class="chapter" id="Revelation-002">
  <h2>Revelation 2</h2>
  <span class="verse" title="Revelation 2:1" id="Revelation-2-1">&#8220;To the angel of the assembly in Ephesus write: &#8220;He who holds the seven stars in his right hand, he who walks among the seven golden lampstands says these things:</span>
  <span class="verse" title="Revelation 2:2" id="Revelation-2-2">&#8220;I know your works, and your toil and perseverance, and that you can&#8217;t tolerate evil men, and have tested those who call themselves apostles, and they are not, and found them false.</span>
  <span class="verse" title="Revelation 2:3" id="Revelation-2-3">You have perseverance and have endured for my name&#8217;s sake, and have not grown weary.</span>
  <span class="verse" title="Revelation 2:4" id="Revelation-2-4">But I have this against you, that you left your first love.</span>
  <span class="verse" title="Revelation 2:5" id="Revelation-2-5">Remember therefore from where you have fallen, and repent and do the first works; or else I am coming to you swiftly, and will move your lampstand out of its place, unless you repent.</span>
  <span class="verse" title="Revelation 2:6" id="Revelation-2-6">But this you have, that you hate the works of the Nicolaitans, which I also hate.</span>
  <span class="verse" title="Revelation 2:7" id="Revelation-2-7">He who has an ear, let him hear what the Spirit says to the assemblies. To him who overcomes I will give to eat of the tree of life, which is in the Paradise of my God.</span>
  <span class="verse" title="Revelation 2:8" id="Revelation-2-8">&#8220;To the angel of the assembly in Smyrna write: &#8220;The first and the last, who was dead, and has come to life says these things:</span>
  <span class="verse" title="Revelation 2:9" id="Revelation-2-9">&#8220;I know your works, oppression, and your poverty (but you are rich), and the blasphemy of those who say they are Jews, and they are not, but are a synagogue of Satan.</span>
  <span class="verse" title="Revelation 2:10" id="Revelation-2-10">Don&#8217;t be afraid of the things which you are about to suffer. Behold, the devil is about to throw some of you into prison, that you may be tested; and you will have oppression for ten days. Be faithful to death, and I will give you the crown of life.</span>
  <span class="verse" title="Revelation 2:11" id="Revelation-2-11">He who has an ear, let him hear what the Spirit says to the assemblies. He who overcomes won&#8217;t be harmed by the second death.</span>
  <span class="verse" title="Revelation 2:12" id="Revelation-2-12">&#8220;To the angel of the assembly in Pergamum write: &#8220;He who has the sharp two-edged sword says these things:</span>
  <span class="verse" title="Revelation 2:13" id="Revelation-2-13">&#8220;I know your works and where you dwell, where Satan&#8217;s throne is. You hold firmly to my name, and didn&#8217;t deny my faith in the days of Antipas my witness, my faithful one, who was killed among you, where Satan dwells.</span>
  <span class="verse" title="Revelation 2:14" id="Revelation-2-14">But I have a few things against you, because you have there some who hold the teaching of Balaam, who taught Balak to throw a stumbling block before the children of Israel, to eat things sacrificed to idols, and to commit sexual immorality.</span>
  <span class="verse" title="Revelation 2:15" id="Revelation-2-15">So you also have some who hold to the teaching of the Nicolaitans likewise.</span>
  <span class="verse" title="Revelation 2:16" id="Revelation-2-16">Repent therefore, or else I am coming to you quickly, and I will make war against them with the sword of my mouth.</span>
  <span class="verse" title="Revelation 2:17" id="Revelation-2-17">He who has an ear, let him hear what the Spirit says to the assemblies. To him who overcomes, to him I will give of the hidden manna, and I will give him a white stone, and on the stone a new name written, which no one knows but he who receives it.</span>
  <span class="verse" title="Revelation 2:18" id="Revelation-2-18">&#8220;To the angel of the assembly in Thyatira write: &#8220;The Son of God, who has his eyes like a flame of fire, and his feet are like burnished brass, says these things:</span>
  <span class="verse" title="Revelation 2:19" id="Revelation-2-19">&#8220;I know your works, your love, faith, service, patient endurance, and that your last works are more than the first.</span>
  <span class="verse" title="Revelation 2:20" id="Revelation-2-20">But I have this against you, that you tolerate your woman, Jezebel, who calls herself a prophetess. She teaches and seduces my servants to commit sexual immorality, and to eat things sacrificed to idols.</span>
  <span class="verse" title="Revelation 2:21" id="Revelation-2-21">I gave her time to repent, but she refuses to repent of her sexual immorality.</span>
  <span class="verse" title="Revelation 2:22" id="Revelation-2-22">Behold, I will throw her into a bed, and those who commit adultery with her into great oppression, unless they repent of her works.</span>
  <span class="verse" title="Revelation 2:23" id="Revelation-2-23">I will kill her children with Death, and all the assemblies will know that I am he who searches the minds and hearts. I will give to each one of you according to your deeds.</span>
  <span class="verse" title="Revelation 2:24" id="Revelation-2-24">But to you I say, to the rest who are in Thyatira, as many as don&#8217;t have this teaching, who don&#8217;t know what some call &#8216;the deep things of Satan,&#8217; to you I say, I am not putting any other burden on you.</span>
  <span class="verse" title="Revelation 2:25" id="Revelation-2-25">Nevertheless, hold that which you have firmly until I come.</span>
  <span class="verse" title="Revelation 2:26" id="Revelation-2-26">He who overcomes, and he who keeps my works to the end, to him I will give authority over the nations.</span>
  <span class="verse" title="Revelation 2:27" id="Revelation-2-27">He will rule them with a rod of iron, shattering them like clay pots; as I also have received of my Father:</span>
  <span class="verse" title="Revelation 2:28" id="Revelation-2-28">and I will give him the morning star.</span>
  <span class="verse" title="Revelation 2:29" id="Revelation-2-29">He who has an ear, let him hear what the Spirit says to the assemblies.</span>
</div>