<div class="chapter" id="Revelation-003">
  <h2>Revelation 3</h2>
  <span class="verse" title="Revelation 3:1" id="Revelation-3-1">&#8220;And to the angel of the assembly in Sardis write: &#8220;He who has the seven Spirits of God, and the seven stars says these things: &#8220;I know your works, that you have a reputation of being alive, but you are dead.</span>
  <span class="verse" title="Revelation 3:2" id="Revelation-3-2">Wake up, and keep the things that remain, which you were about to throw away, for I have found no works of yours perfected before my God.</span>
  <span class="verse" title="Revelation 3:3" id="Revelation-3-3">Remember therefore how you have received and heard. Keep it, and repent. If therefore you won&#8217;t watch, I will come as a thief, and you won&#8217;t know what hour I will come upon you.</span>
  <span class="verse" title="Revelation 3:4" id="Revelation-3-4">Nevertheless you have a few names in Sardis that did not defile their garments. They will walk with me in white, for they are worthy.</span>
  <span class="verse" title="Revelation 3:5" id="Revelation-3-5">He who overcomes will be arrayed in white garments, and I will in no way blot his name out of the book of life, and I will confess his name before my Father, and before his angels.</span>
  <span class="verse" title="Revelation 3:6" id="Revelation-3-6">He who has an ear, let him hear what the Spirit says to the assemblies.</span>
  <span class="verse" title="Revelation 3:7" id="Revelation-3-7">&#8220;To the angel of the assembly in Philadelphia write: &#8220;He who is holy, he who is true, he who has the key of David, he who opens and no one can shut, and who shuts and no one opens, says these things:</span>
  <span class="verse" title="Revelation 3:8" id="Revelation-3-8">&#8220;I know your works (behold, I have set before you an open door, which no one can shut), that you have a little power, and kept my word, and didn&#8217;t deny my name.</span>
  <span class="verse" title="Revelation 3:9" id="Revelation-3-9">Behold, I give of the synagogue of Satan, of those who say they are Jews, and they are not, but lie. Behold, I will make them to come and worship before your feet, and to know that I have loved you.</span>
  <span class="verse" title="Revelation 3:10" id="Revelation-3-10">Because you kept my command to endure, I also will keep you from the hour of testing, which is to come on the whole world, to test those who dwell on the earth.</span>
  <span class="verse" title="Revelation 3:11" id="Revelation-3-11">I am coming quickly! Hold firmly that which you have, so that no one takes your crown.</span>
  <span class="verse" title="Revelation 3:12" id="Revelation-3-12">He who overcomes, I will make him a pillar in the temple of my God, and he will go out from there no more. I will write on him the name of my God, and the name of the city of my God, the new Jerusalem, which comes down out of heaven from my God, and my own new name.</span>
  <span class="verse" title="Revelation 3:13" id="Revelation-3-13">He who has an ear, let him hear what the Spirit says to the assemblies.</span>
  <span class="verse" title="Revelation 3:14" id="Revelation-3-14">&#8220;To the angel of the assembly in Laodicea write: &#8220;The Amen, the Faithful and True Witness, the Head of God&#8217;s creation, says these things:</span>
  <span class="verse" title="Revelation 3:15" id="Revelation-3-15">&#8220;I know your works, that you are neither cold nor hot. I wish you were cold or hot.</span>
  <span class="verse" title="Revelation 3:16" id="Revelation-3-16">So, because you are lukewarm, and neither hot nor cold, I will vomit you out of my mouth.</span>
  <span class="verse" title="Revelation 3:17" id="Revelation-3-17">Because you say, &#8216;I am rich, and have gotten riches, and have need of nothing;&#8217; and don&#8217;t know that you are the wretched one, miserable, poor, blind, and naked;</span>
  <span class="verse" title="Revelation 3:18" id="Revelation-3-18">I counsel you to buy from me gold refined by fire, that you may become rich; and white garments, that you may clothe yourself, and that the shame of your nakedness may not be revealed; and eye salve to anoint your eyes, that you may see.</span>
  <span class="verse" title="Revelation 3:19" id="Revelation-3-19">As many as I love, I reprove and chasten. Be zealous therefore, and repent.</span>
  <span class="verse" title="Revelation 3:20" id="Revelation-3-20">Behold, I stand at the door and knock. If anyone hears my voice and opens the door, then I will come in to him, and will dine with him, and he with me.</span>
  <span class="verse" title="Revelation 3:21" id="Revelation-3-21">He who overcomes, I will give to him to sit down with me on my throne, as I also overcame, and sat down with my Father on his throne.</span>
  <span class="verse" title="Revelation 3:22" id="Revelation-3-22">He who has an ear, let him hear what the Spirit says to the assemblies.&#8221;</span>
</div>