<div class="chapter" id="Revelation-006">
  <h2>Revelation 6</h2>
  <span class="verse" title="Revelation 6:1" id="Revelation-6-1">I saw that the Lamb opened one of the seven seals, and I heard one of the four living creatures saying, as with a voice of thunder, &#8220;Come and see!&#8221;</span>
  <span class="verse" title="Revelation 6:2" id="Revelation-6-2">And behold, a white horse, and he who sat on it had a bow. A crown was given to him, and he came forth conquering, and to conquer.</span>
  <span class="verse" title="Revelation 6:3" id="Revelation-6-3">When he opened the second seal, I heard the second living creature saying, &#8220;Come!&#8221;</span>
  <span class="verse" title="Revelation 6:4" id="Revelation-6-4">Another came forth, a red horse. To him who sat on it was given power to take peace from the earth, and that they should kill one another. There was given to him a great sword.</span>
  <span class="verse" title="Revelation 6:5" id="Revelation-6-5">When he opened the third seal, I heard the third living creature saying, &#8220;Come and see!&#8221; And behold, a black horse, and he who sat on it had a balance in his hand.</span>
  <span class="verse" title="Revelation 6:6" id="Revelation-6-6">I heard a voice in the midst of the four living creatures saying, &#8220;A choenix of wheat for a denarius, and three choenix of barley for a denarius! Don&#8217;t damage the oil and the wine!&#8221;</span>
  <span class="verse" title="Revelation 6:7" id="Revelation-6-7">When he opened the fourth seal, I heard the fourth living creature saying, &#8220;Come and see!&#8221;</span>
  <span class="verse" title="Revelation 6:8" id="Revelation-6-8">And behold, a pale horse, and he who sat on it, his name was Death. Hades followed with him. Authority over one fourth of the earth, to kill with the sword, with famine, with death, and by the wild animals of the earth was given to him.</span>
  <span class="verse" title="Revelation 6:9" id="Revelation-6-9">When he opened the fifth seal, I saw underneath the altar the souls of those who had been killed for the Word of God, and for the testimony of the Lamb which they had.</span>
  <span class="verse" title="Revelation 6:10" id="Revelation-6-10">They cried with a loud voice, saying, &#8220;How long, Master, the holy and true, until you judge and avenge our blood on those who dwell on the earth?&#8221;</span>
  <span class="verse" title="Revelation 6:11" id="Revelation-6-11">A long white robe was given to each of them. They were told that they should rest yet for a while, until their fellow servants and their brothers, who would also be killed even as they were, should complete their course.</span>
  <span class="verse" title="Revelation 6:12" id="Revelation-6-12">I saw when he opened the sixth seal, and there was a great earthquake. The sun became black as sackcloth made of hair, and the whole moon became as blood.</span>
  <span class="verse" title="Revelation 6:13" id="Revelation-6-13">The stars of the sky fell to the earth, like a fig tree dropping its unripe figs when it is shaken by a great wind.</span>
  <span class="verse" title="Revelation 6:14" id="Revelation-6-14">The sky was removed like a scroll when it is rolled up. Every mountain and island were moved out of their places.</span>
  <span class="verse" title="Revelation 6:15" id="Revelation-6-15">The kings of the earth, the princes, the commanding officers, the rich, the strong, and every slave and free person, hid themselves in the caves and in the rocks of the mountains.</span>
  <span class="verse" title="Revelation 6:16" id="Revelation-6-16">They told the mountains and the rocks, &#8220;Fall on us, and hide us from the face of him who sits on the throne, and from the wrath of the Lamb,</span>
  <span class="verse" title="Revelation 6:17" id="Revelation-6-17">for the great day of his wrath has come; and who is able to stand?&#8221;</span>
</div>