<div class="chapter" id="Revelation-007">
  <h2>Revelation 7</h2>
  <span class="verse" title="Revelation 7:1" id="Revelation-7-1">After this, I saw four angels standing at the four corners of the earth, holding the four winds of the earth, so that no wind would blow on the earth, or on the sea, or on any tree.</span>
  <span class="verse" title="Revelation 7:2" id="Revelation-7-2">I saw another angel ascend from the sunrise, having the seal of the living God. He cried with a loud voice to the four angels to whom it was given to harm the earth and the sea,</span>
  <span class="verse" title="Revelation 7:3" id="Revelation-7-3">saying, &#8220;Don&#8217;t harm the earth, neither the sea, nor the trees, until we have sealed the bondservants of our God on their foreheads!&#8221;</span>
  <span class="verse" title="Revelation 7:4" id="Revelation-7-4">I heard the number of those who were sealed, one hundred forty-four thousand, sealed out of every tribe of the children of Israel:</span>
  <span class="verse" title="Revelation 7:5" id="Revelation-7-5">of the tribe of Judah were sealed twelve thousand,<br/>   of the tribe of Reuben twelve thousand,<br/>   of the tribe of Gad twelve thousand,<br/></span>
  <span class="verse" title="Revelation 7:6" id="Revelation-7-6">of the tribe of Asher twelve thousand,<br/>   of the tribe of Naphtali twelve thousand,<br/>   of the tribe of Manasseh twelve thousand,<br/></span>
  <span class="verse" title="Revelation 7:7" id="Revelation-7-7">of the tribe of Simeon twelve thousand,<br/>   of the tribe of Levi twelve thousand,<br/>   of the tribe of Issachar twelve thousand,<br/></span>
  <span class="verse" title="Revelation 7:8" id="Revelation-7-8">of the tribe of Zebulun twelve thousand,<br/>   of the tribe of Joseph twelve thousand,<br/>   of the tribe of Benjamin were sealed twelve thousand.<br/></span>
  <span class="verse" title="Revelation 7:9" id="Revelation-7-9">After these things I looked, and behold, a great multitude, which no man could number, out of every nation and of all tribes, peoples, and languages, standing before the throne and before the Lamb, dressed in white robes, with palm branches in their hands.</span>
  <span class="verse" title="Revelation 7:10" id="Revelation-7-10">They cried with a loud voice, saying, &#8220;Salvation be to our God, who sits on the throne, and to the Lamb!&#8221;</span>
  <span class="verse" title="Revelation 7:11" id="Revelation-7-11">All the angels were standing around the throne, the elders, and the four living creatures; and they fell on their faces before his throne, and worshiped God,</span>
  <span class="verse" title="Revelation 7:12" id="Revelation-7-12">saying, &#8220;Amen! Blessing, glory, wisdom, thanksgiving, honor, power, and might, be to our God forever and ever! Amen.&#8221;</span>
  <span class="verse" title="Revelation 7:13" id="Revelation-7-13">One of the elders answered, saying to me, &#8220;These who are arrayed in white robes, who are they, and from where did they come?&#8221;</span>
  <span class="verse" title="Revelation 7:14" id="Revelation-7-14">I told him, &#8220;My lord, you know.&#8221; He said to me, &#8220;These are those who came out of the great tribulation. They washed their robes, and made them white in the Lamb&#8217;s blood.</span>
  <span class="verse" title="Revelation 7:15" id="Revelation-7-15">Therefore they are before the throne of God, they serve him day and night in his temple. He who sits on the throne will spread his tabernacle over them.</span>
  <span class="verse" title="Revelation 7:16" id="Revelation-7-16">They will never be hungry, neither thirsty any more; neither will the sun beat on them, nor any heat;</span>
  <span class="verse" title="Revelation 7:17" id="Revelation-7-17">for the Lamb who is in the midst of the throne shepherds them, and leads them to springs of waters of life. And God will wipe away every tear from their eyes.&#8221;</span>
</div>