<div class="chapter" id="Revelation-008">
  <h2>Revelation 8</h2>
  <span class="verse" title="Revelation 8:1" id="Revelation-8-1">When he opened the seventh seal, there was silence in heaven for about half an hour.</span>
  <span class="verse" title="Revelation 8:2" id="Revelation-8-2">I saw the seven angels who stand before God, and seven trumpets were given to them.</span>
  <span class="verse" title="Revelation 8:3" id="Revelation-8-3">Another angel came and stood over the altar, having a golden censer. Much incense was given to him, that he should add it to the prayers of all the saints on the golden altar which was before the throne.</span>
  <span class="verse" title="Revelation 8:4" id="Revelation-8-4">The smoke of the incense, with the prayers of the saints, went up before God out of the angel&#8217;s hand.</span>
  <span class="verse" title="Revelation 8:5" id="Revelation-8-5">The angel took the censer, and he filled it with the fire of the altar, and threw it on the earth. There followed thunders, sounds, lightnings, and an earthquake.</span>
  <span class="verse" title="Revelation 8:6" id="Revelation-8-6">The seven angels who had the seven trumpets prepared themselves to sound.</span>
  <span class="verse" title="Revelation 8:7" id="Revelation-8-7">The first sounded, and there followed hail and fire, mixed with blood, and they were thrown to the earth. One third of the earth was burnt up, and one third of the trees were burnt up, and all green grass was burnt up.</span>
  <span class="verse" title="Revelation 8:8" id="Revelation-8-8">The second angel sounded, and something like a great burning mountain was thrown into the sea. One third of the sea became blood,</span>
  <span class="verse" title="Revelation 8:9" id="Revelation-8-9">and one third of the living creatures which were in the sea died. One third of the ships were destroyed.</span>
  <span class="verse" title="Revelation 8:10" id="Revelation-8-10">The third angel sounded, and a great star fell from the sky, burning like a torch, and it fell on one third of the rivers, and on the springs of the waters.</span>
  <span class="verse" title="Revelation 8:11" id="Revelation-8-11">The name of the star is called &#8220;Wormwood.&#8221; One third of the waters became wormwood. Many people died from the waters, because they were made bitter.</span>
  <span class="verse" title="Revelation 8:12" id="Revelation-8-12">The fourth angel sounded, and one third of the sun was struck, and one third of the moon, and one third of the stars; so that one third of them would be darkened, and the day wouldn&#8217;t shine for one third of it, and the night in the same way.</span>
  <span class="verse" title="Revelation 8:13" id="Revelation-8-13">I saw, and I heard an eagle, flying in mid heaven, saying with a loud voice, &#8220;Woe! Woe! Woe for those who dwell on the earth, because of the other voices of the trumpets of the three angels, who are yet to sound!&#8221;</span>
</div>