<div class="chapter" id="Revelation-009">
  <h2>Revelation 9</h2>
  <span class="verse" title="Revelation 9:1" id="Revelation-9-1">The fifth angel sounded, and I saw a star from the sky which had fallen to the earth. The key to the pit of the abyss was given to him.</span>
  <span class="verse" title="Revelation 9:2" id="Revelation-9-2">He opened the pit of the abyss, and smoke went up out of the pit, like the smoke from a burning furnace. The sun and the air were darkened because of the smoke from the pit.</span>
  <span class="verse" title="Revelation 9:3" id="Revelation-9-3">Then out of the smoke came forth locusts on the earth, and power was given to them, as the scorpions of the earth have power.</span>
  <span class="verse" title="Revelation 9:4" id="Revelation-9-4">They were told that they should not hurt the grass of the earth, neither any green thing, neither any tree, but only those people who don&#8217;t have God&#8217;s seal on their foreheads.</span>
  <span class="verse" title="Revelation 9:5" id="Revelation-9-5">They were given power not to kill them, but to torment them for five months. Their torment was like the torment of a scorpion, when it strikes a person.</span>
  <span class="verse" title="Revelation 9:6" id="Revelation-9-6">In those days people will seek death, and will in no way find it. They will desire to die, and death will flee from them.</span>
  <span class="verse" title="Revelation 9:7" id="Revelation-9-7">The shapes of the locusts were like horses prepared for war. On their heads were something like golden crowns, and their faces were like people&#8217;s faces.</span>
  <span class="verse" title="Revelation 9:8" id="Revelation-9-8">They had hair like women&#8217;s hair, and their teeth were like those of lions.</span>
  <span class="verse" title="Revelation 9:9" id="Revelation-9-9">They had breastplates, like breastplates of iron. The sound of their wings was like the sound of chariots, or of many horses rushing to war.</span>
  <span class="verse" title="Revelation 9:10" id="Revelation-9-10">They have tails like those of scorpions, and stings. In their tails they have power to harm men for five months.</span>
  <span class="verse" title="Revelation 9:11" id="Revelation-9-11">They have over them as king the angel of the abyss. His name in Hebrew is &#8220;Abaddon,&#8221; but in Greek, he has the name &#8220;Apollyon.&#8221;</span>
  <span class="verse" title="Revelation 9:12" id="Revelation-9-12">The first woe is past. Behold, there are still two woes coming after this.</span>
  <span class="verse" title="Revelation 9:13" id="Revelation-9-13">The sixth angel sounded. I heard a voice from the horns of the golden altar which is before God,</span>
  <span class="verse" title="Revelation 9:14" id="Revelation-9-14">saying to the sixth angel who had one trumpet, &#8220;Free the four angels who are bound at the great river Euphrates!&#8221;</span>
  <span class="verse" title="Revelation 9:15" id="Revelation-9-15">The four angels were freed who had been prepared for that hour and day and month and year, so that they might kill one third of mankind.</span>
  <span class="verse" title="Revelation 9:16" id="Revelation-9-16">The number of the armies of the horsemen was two hundred million. I heard the number of them.</span>
  <span class="verse" title="Revelation 9:17" id="Revelation-9-17">Thus I saw the horses in the vision, and those who sat on them, having breastplates of fiery red, hyacinth blue, and sulfur yellow; and the heads of lions. Out of their mouths proceed fire, smoke, and sulfur.</span>
  <span class="verse" title="Revelation 9:18" id="Revelation-9-18">By these three plagues were one third of mankind killed: by the fire, the smoke, and the sulfur, which proceeded out of their mouths.</span>
  <span class="verse" title="Revelation 9:19" id="Revelation-9-19">For the power of the horses is in their mouths, and in their tails. For their tails are like serpents, and have heads, and with them they harm.</span>
  <span class="verse" title="Revelation 9:20" id="Revelation-9-20">The rest of mankind, who were not killed with these plagues, didn&#8217;t repent of the works of their hands, that they wouldn&#8217;t worship demons, and the idols of gold, and of silver, and of brass, and of stone, and of wood; which can neither see, nor hear, nor walk.</span>
  <span class="verse" title="Revelation 9:21" id="Revelation-9-21">They didn&#8217;t repent of their murders, nor of their sorceries, nor of their sexual immorality, nor of their thefts.</span>
</div>