<div class="chapter" id="Revelation-010">
  <h2>Revelation 10</h2>
  <span class="verse" title="Revelation 10:1" id="Revelation-10-1">I saw a mighty angel coming down out of the sky, clothed with a cloud. A rainbow was on his head. His face was like the sun, and his feet like pillars of fire.</span>
  <span class="verse" title="Revelation 10:2" id="Revelation-10-2">He had in his hand a little open book. He set his right foot on the sea, and his left on the land.</span>
  <span class="verse" title="Revelation 10:3" id="Revelation-10-3">He cried with a loud voice, as a lion roars. When he cried, the seven thunders uttered their voices.</span>
  <span class="verse" title="Revelation 10:4" id="Revelation-10-4">When the seven thunders sounded, I was about to write; but I heard a voice from the sky saying, &#8220;Seal up the things which the seven thunders said, and don&#8217;t write them.&#8221;</span>
  <span class="verse" title="Revelation 10:5" id="Revelation-10-5">The angel whom I saw standing on the sea and on the land lifted up his right hand to the sky,</span>
  <span class="verse" title="Revelation 10:6" id="Revelation-10-6">and swore by him who lives forever and ever, who created heaven and the things that are in it, the earth and the things that are in it, and the sea and the things that are in it, that there will no longer be delay,</span>
  <span class="verse" title="Revelation 10:7" id="Revelation-10-7">but in the days of the voice of the seventh angel, when he is about to sound, then the mystery of God is finished, as he declared to his servants, the prophets.</span>
  <span class="verse" title="Revelation 10:8" id="Revelation-10-8">The voice which I heard from heaven, again speaking with me, said, &#8220;Go, take the book which is open in the hand of the angel who stands on the sea and on the land.&#8221;</span>
  <span class="verse" title="Revelation 10:9" id="Revelation-10-9">I went to the angel, telling him to give me the little book. He said to me, &#8220;Take it, and eat it up. It will make your stomach bitter, but in your mouth it will be as sweet as honey.&#8221;</span>
  <span class="verse" title="Revelation 10:10" id="Revelation-10-10">I took the little book out of the angel&#8217;s hand, and ate it up. It was as sweet as honey in my mouth. When I had eaten it, my stomach was made bitter.</span>
  <span class="verse" title="Revelation 10:11" id="Revelation-10-11">They told me, &#8220;You must prophesy again over many peoples, nations, languages, and kings.&#8221;</span>
</div>