<div class="chapter" id="Revelation-012">
  <h2>Revelation 12</h2>
  <span class="verse" title="Revelation 12:1" id="Revelation-12-1">A great sign was seen in heaven: a woman clothed with the sun, and the moon under her feet, and on her head a crown of twelve stars.</span>
  <span class="verse" title="Revelation 12:2" id="Revelation-12-2">She was with child. She cried out in pain, laboring to give birth.</span>
  <span class="verse" title="Revelation 12:3" id="Revelation-12-3">Another sign was seen in heaven. Behold, a great red dragon, having seven heads and ten horns, and on his heads seven crowns.</span>
  <span class="verse" title="Revelation 12:4" id="Revelation-12-4">His tail drew one third of the stars of the sky, and threw them to the earth. The dragon stood before the woman who was about to give birth, so that when she gave birth he might devour her child.</span>
  <span class="verse" title="Revelation 12:5" id="Revelation-12-5">She gave birth to a son, a male child, who is to rule all the nations with a rod of iron. Her child was caught up to God, and to his throne.</span>
  <span class="verse" title="Revelation 12:6" id="Revelation-12-6">The woman fled into the wilderness, where she has a place prepared by God, that there they may nourish her one thousand two hundred sixty days.</span>
  <span class="verse" title="Revelation 12:7" id="Revelation-12-7">There was war in the sky. Michael and his angels made war on the dragon. The dragon and his angels made war.</span>
  <span class="verse" title="Revelation 12:8" id="Revelation-12-8">They didn&#8217;t prevail, neither was a place found for him any more in heaven.</span>
  <span class="verse" title="Revelation 12:9" id="Revelation-12-9">The great dragon was thrown down, the old serpent, he who is called the devil and Satan, the deceiver of the whole world. He was thrown down to the earth, and his angels were thrown down with him.</span>
  <span class="verse" title="Revelation 12:10" id="Revelation-12-10">I heard a loud voice in heaven, saying, &#8220;Now the salvation, the power, and the Kingdom of our God, and the authority of his Christ has come; for the accuser of our brothers has been thrown down, who accuses them before our God day and night.</span>
  <span class="verse" title="Revelation 12:11" id="Revelation-12-11">They overcame him because of the Lamb&#8217;s blood, and because of the word of their testimony. They didn&#8217;t love their life, even to death.</span>
  <span class="verse" title="Revelation 12:12" id="Revelation-12-12">Therefore rejoice, heavens, and you who dwell in them. Woe to the earth and to the sea, because the devil has gone down to you, having great wrath, knowing that he has but a short time.&#8221;</span>
  <span class="verse" title="Revelation 12:13" id="Revelation-12-13">When the dragon saw that he was thrown down to the earth, he persecuted the woman who gave birth to the male child.</span>
  <span class="verse" title="Revelation 12:14" id="Revelation-12-14">Two wings of the great eagle were given to the woman, that she might fly into the wilderness to her place, so that she might be nourished for a time, and times, and half a time, from the face of the serpent.</span>
  <span class="verse" title="Revelation 12:15" id="Revelation-12-15">The serpent spewed water out of his mouth after the woman like a river, that he might cause her to be carried away by the stream.</span>
  <span class="verse" title="Revelation 12:16" id="Revelation-12-16">The earth helped the woman, and the earth opened its mouth and swallowed up the river which the dragon spewed out of his mouth.</span>
  <span class="verse" title="Revelation 12:17" id="Revelation-12-17">The dragon grew angry with the woman, and went away to make war with the rest of her seed, who keep God&#8217;s commandments and hold Jesus&#8217; testimony.</span>
</div>