<div class="chapter" id="Revelation-015">
  <h2>Revelation 15</h2>
  <span class="verse" title="Revelation 15:1" id="Revelation-15-1">I saw another great and marvelous sign in the sky: seven angels having the seven last plagues, for in them God&#8217;s wrath is finished.</span>
  <span class="verse" title="Revelation 15:2" id="Revelation-15-2">I saw something like a sea of glass mixed with fire, and those who overcame the beast, his image, and the number of his name, standing on the sea of glass, having harps of God.</span>
  <span class="verse" title="Revelation 15:3" id="Revelation-15-3">They sang the song of Moses, the servant of God, and the song of the Lamb, saying,  &#8220;Great and marvelous are your works, Lord God, the Almighty!<br/> <span class="indent">&nbsp;&nbsp;</span>Righteous and true are your ways, you King of the nations.<br/></span>
  <span class="verse" title="Revelation 15:4" id="Revelation-15-4">Who wouldn&#8217;t fear you, Lord,<br/> <span class="indent">&nbsp;&nbsp;</span>and glorify your name?<br/>   For you only are holy.<br/> <span class="indent">&nbsp;&nbsp;</span>For all the nations will come and worship before you.<br/> <span class="indent">&nbsp;&nbsp;</span>For your righteous acts have been revealed.&#8221;<br/></span>
  <span class="verse" title="Revelation 15:5" id="Revelation-15-5">After these things I looked, and the temple of the tabernacle of the testimony in heaven was opened.</span>
  <span class="verse" title="Revelation 15:6" id="Revelation-15-6">The seven angels who had the seven plagues came out, clothed with pure, bright linen, and wearing golden sashes around their breasts.</span>
  <span class="verse" title="Revelation 15:7" id="Revelation-15-7">One of the four living creatures gave to the seven angels seven golden bowls full of the wrath of God, who lives forever and ever.</span>
  <span class="verse" title="Revelation 15:8" id="Revelation-15-8">The temple was filled with smoke from the glory of God, and from his power. No one was able to enter into the temple, until the seven plagues of the seven angels would be finished.</span>
</div>