<div class="chapter" id="Revelation-016">
  <h2>Revelation 16</h2>
  <span class="verse" title="Revelation 16:1" id="Revelation-16-1">I heard a loud voice out of the temple, saying to the seven angels, &#8220;Go and pour out the seven bowls of the wrath of God on the earth!&#8221;</span>
  <span class="verse" title="Revelation 16:2" id="Revelation-16-2">The first went, and poured out his bowl into the earth, and it became a harmful and evil sore on the people who had the mark of the beast, and who worshiped his image.</span>
  <span class="verse" title="Revelation 16:3" id="Revelation-16-3">The second angel poured out his bowl into the sea, and it became blood as of a dead man. Every living thing in the sea died.</span>
  <span class="verse" title="Revelation 16:4" id="Revelation-16-4">The third poured out his bowl into the rivers and springs of water, and they became blood.</span>
  <span class="verse" title="Revelation 16:5" id="Revelation-16-5">I heard the angel of the waters saying, &#8220;You are righteous, who are and who were, you Holy One, because you have judged these things.</span>
  <span class="verse" title="Revelation 16:6" id="Revelation-16-6">For they poured out the blood of the saints and the prophets, and you have given them blood to drink. They deserve this.&#8221;</span>
  <span class="verse" title="Revelation 16:7" id="Revelation-16-7">I heard the altar saying, &#8220;Yes, Lord God, the Almighty, true and righteous are your judgments.&#8221;</span>
  <span class="verse" title="Revelation 16:8" id="Revelation-16-8">The fourth poured out his bowl on the sun, and it was given to him to scorch men with fire.</span>
  <span class="verse" title="Revelation 16:9" id="Revelation-16-9">People were scorched with great heat, and people blasphemed the name of God who has the power over these plagues. They didn&#8217;t repent and give him glory.</span>
  <span class="verse" title="Revelation 16:10" id="Revelation-16-10">The fifth poured out his bowl on the throne of the beast, and his kingdom was darkened. They gnawed their tongues because of the pain,</span>
  <span class="verse" title="Revelation 16:11" id="Revelation-16-11">and they blasphemed the God of heaven because of their pains and their sores. They didn&#8217;t repent of their works.</span>
  <span class="verse" title="Revelation 16:12" id="Revelation-16-12">The sixth poured out his bowl on the great river, the Euphrates. Its water was dried up, that the way might be prepared for the kings that come from the sunrise.</span>
  <span class="verse" title="Revelation 16:13" id="Revelation-16-13">I saw coming out of the mouth of the dragon, and out of the mouth of the beast, and out of the mouth of the false prophet, three unclean spirits, something like frogs;</span>
  <span class="verse" title="Revelation 16:14" id="Revelation-16-14">for they are spirits of demons, performing signs; which go forth to the kings of the whole inhabited earth, to gather them together for the war of that great day of God, the Almighty.</span>
  <span class="verse" title="Revelation 16:15" id="Revelation-16-15">&#8220;Behold, I come like a thief. Blessed is he who watches, and keeps his clothes, so that he doesn&#8217;t walk naked, and they see his shame.&#8221;</span>
  <span class="verse" title="Revelation 16:16" id="Revelation-16-16">He gathered them together into the place which is called in Hebrew, Megiddo.</span>
  <span class="verse" title="Revelation 16:17" id="Revelation-16-17">The seventh poured out his bowl into the air. A loud voice came forth out of the temple of heaven, from the throne, saying, &#8220;It is done!&#8221;</span>
  <span class="verse" title="Revelation 16:18" id="Revelation-16-18">There were lightnings, sounds, and thunders; and there was a great earthquake, such as was not since there were men on the earth, so great an earthquake, so mighty.</span>
  <span class="verse" title="Revelation 16:19" id="Revelation-16-19">The great city was divided into three parts, and the cities of the nations fell. Babylon the great was remembered in the sight of God, to give to her the cup of the wine of the fierceness of his wrath.</span>
  <span class="verse" title="Revelation 16:20" id="Revelation-16-20">Every island fled away, and the mountains were not found.</span>
  <span class="verse" title="Revelation 16:21" id="Revelation-16-21">Great hailstones, about the weight of a talent, came down out of the sky on people. People blasphemed God because of the plague of the hail, for this plague is exceedingly severe.</span>
</div>