<div class="chapter" id="Revelation-021">
  <h2>Revelation 21</h2>
  <span class="verse" title="Revelation 21:1" id="Revelation-21-1">I saw a new heaven and a new earth: for the first heaven and the first earth have passed away, and the sea is no more.</span>
  <span class="verse" title="Revelation 21:2" id="Revelation-21-2">I saw the holy city, New Jerusalem, coming down out of heaven from God, prepared like a bride adorned for her husband.</span>
  <span class="verse" title="Revelation 21:3" id="Revelation-21-3">I heard a loud voice out of heaven saying, &#8220;Behold, God&#8217;s dwelling is with people, and he will dwell with them, and they will be his people, and God himself will be with them as their God.</span>
  <span class="verse" title="Revelation 21:4" id="Revelation-21-4">He will wipe away from them every tear from their eyes. Death will be no more; neither will there be mourning, nor crying, nor pain, any more. The first things have passed away.&#8221;</span>
  <span class="verse" title="Revelation 21:5" id="Revelation-21-5">He who sits on the throne said, &#8220;Behold, I am making all things new.&#8221; He said, &#8220;Write, for these words of God are faithful and true.&#8221;</span>
  <span class="verse" title="Revelation 21:6" id="Revelation-21-6">He said to me, &#8220;It is done! I am the Alpha and the Omega, the Beginning and the End. I will give freely to him who is thirsty from the spring of the water of life.</span>
  <span class="verse" title="Revelation 21:7" id="Revelation-21-7">He who overcomes, I will give him these things. I will be his God, and he will be my son.</span>
  <span class="verse" title="Revelation 21:8" id="Revelation-21-8">But for the cowardly, unbelieving, sinners, abominable, murderers, sexually immoral, sorcerers, idolaters, and all liars, their part is in the lake that burns with fire and sulfur, which is the second death.&#8221;</span>
  <span class="verse" title="Revelation 21:9" id="Revelation-21-9">One of the seven angels who had the seven bowls, who were loaded with the seven last plagues came, and he spoke with me, saying, &#8220;Come here. I will show you the wife, the Lamb&#8217;s bride.&#8221;</span>
  <span class="verse" title="Revelation 21:10" id="Revelation-21-10">He carried me away in the Spirit to a great and high mountain, and showed me the holy city, Jerusalem, coming down out of heaven from God,</span>
  <span class="verse" title="Revelation 21:11" id="Revelation-21-11">having the glory of God. Her light was like a most precious stone, as if it were a jasper stone, clear as crystal;</span>
  <span class="verse" title="Revelation 21:12" id="Revelation-21-12">having a great and high wall; having twelve gates, and at the gates twelve angels; and names written on them, which are the names of the twelve tribes of the children of Israel.</span>
  <span class="verse" title="Revelation 21:13" id="Revelation-21-13">On the east were three gates; and on the north three gates; and on the south three gates; and on the west three gates.</span>
  <span class="verse" title="Revelation 21:14" id="Revelation-21-14">The wall of the city had twelve foundations, and on them twelve names of the twelve Apostles of the Lamb.</span>
  <span class="verse" title="Revelation 21:15" id="Revelation-21-15">He who spoke with me had for a measure, a golden reed, to measure the city, its gates, and its walls.</span>
  <span class="verse" title="Revelation 21:16" id="Revelation-21-16">The city lies foursquare, and its length is as great as its breadth. He measured the city with the reed, Twelve thousand twelve stadia. Its length, breadth, and height are equal.</span>
  <span class="verse" title="Revelation 21:17" id="Revelation-21-17">Its wall is one hundred forty-four cubits, by the measure of a man, that is, of an angel.</span>
  <span class="verse" title="Revelation 21:18" id="Revelation-21-18">The construction of its wall was jasper. The city was pure gold, like pure glass.</span>
  <span class="verse" title="Revelation 21:19" id="Revelation-21-19">The foundations of the city&#8217;s wall were adorned with all kinds of precious stones. The first foundation was jasper; the second, sapphire; the third, chalcedony; the fourth, emerald;</span>
  <span class="verse" title="Revelation 21:20" id="Revelation-21-20">the fifth, sardonyx; the sixth, sardius; the seventh, chrysolite; the eighth, beryl; the ninth, topaz; the tenth, chrysoprasus; the eleventh, jacinth; and the twelfth, amethyst.</span>
  <span class="verse" title="Revelation 21:21" id="Revelation-21-21">The twelve gates were twelve pearls. Each one of the gates was made of one pearl. The street of the city was pure gold, like transparent glass.</span>
  <span class="verse" title="Revelation 21:22" id="Revelation-21-22">I saw no temple in it, for the Lord God, the Almighty, and the Lamb, are its temple.</span>
  <span class="verse" title="Revelation 21:23" id="Revelation-21-23">The city has no need for the sun, neither of the moon, to shine, for the very glory of God illuminated it, and its lamp is the Lamb.</span>
  <span class="verse" title="Revelation 21:24" id="Revelation-21-24">The nations will walk in its light. The kings of the earth bring the glory and honor of the nations into it.</span>
  <span class="verse" title="Revelation 21:25" id="Revelation-21-25">Its gates will in no way be shut by day (for there will be no night there),</span>
  <span class="verse" title="Revelation 21:26" id="Revelation-21-26">and they shall bring the glory and the honor of the nations into it so that they may enter.</span>
  <span class="verse" title="Revelation 21:27" id="Revelation-21-27">There will in no way enter into it anything profane, or one who causes an abomination or a lie, but only those who are written in the Lamb&#8217;s book of life.</span>
</div>