<div class="chapter" id="Revelation-022">
  <h2>Revelation 22</h2>
  <span class="verse" title="Revelation 22:1" id="Revelation-22-1">He showed me a river of water of life, clear as crystal, proceeding out of the throne of God and of the Lamb,</span>
  <span class="verse" title="Revelation 22:2" id="Revelation-22-2">in the middle of its street. On this side of the river and on that was the tree of life, bearing twelve kinds of fruits, yielding its fruit every month. The leaves of the tree were for the healing of the nations.</span>
  <span class="verse" title="Revelation 22:3" id="Revelation-22-3">There will be no curse any more. The throne of God and of the Lamb will be in it, and his servants serve him.</span>
  <span class="verse" title="Revelation 22:4" id="Revelation-22-4">They will see his face, and his name will be on their foreheads.</span>
  <span class="verse" title="Revelation 22:5" id="Revelation-22-5">There will be no night, and they need no lamp light; for the Lord God will illuminate them. They will reign forever and ever.</span>
  <span class="verse" title="Revelation 22:6" id="Revelation-22-6">He said to me, &#8220;These words are faithful and true. The Lord God of the spirits of the prophets sent his angel to show to his bondservants the things which must happen soon.&#8221;</span>
  <span class="verse" title="Revelation 22:7" id="Revelation-22-7">&#8220;Behold, I come quickly. Blessed is he who keeps the words of the prophecy of this book.&#8221;</span>
  <span class="verse" title="Revelation 22:8" id="Revelation-22-8">Now I, John, am the one who heard and saw these things. When I heard and saw, I fell down to worship before the feet of the angel who had shown me these things.</span>
  <span class="verse" title="Revelation 22:9" id="Revelation-22-9">He said to me, &#8220;See you don&#8217;t do it! I am a fellow bondservant with you and with your brothers, the prophets, and with those who keep the words of this book. Worship God.&#8221;</span>
  <span class="verse" title="Revelation 22:10" id="Revelation-22-10">He said to me, &#8220;Don&#8217;t seal up the words of the prophecy of this book, for the time is at hand.</span>
  <span class="verse" title="Revelation 22:11" id="Revelation-22-11">He who acts unjustly, let him act unjustly still. He who is filthy, let him be filthy still. He who is righteous, let him do righteousness still. He who is holy, let him be holy still.&#8221;</span>
  <span class="verse" title="Revelation 22:12" id="Revelation-22-12">&#8220;Behold, I come quickly. My reward is with me, to repay to each man according to his work.</span>
  <span class="verse" title="Revelation 22:13" id="Revelation-22-13">I am the Alpha and the Omega, the First and the Last, the Beginning and the End.</span>
  <span class="verse" title="Revelation 22:14" id="Revelation-22-14">Blessed are those who do his commandments, that they may have the right to the tree of life, and may enter in by the gates into the city.</span>
  <span class="verse" title="Revelation 22:15" id="Revelation-22-15">Outside are the dogs, the sorcerers, the sexually immoral, the murderers, the idolaters, and everyone who loves and practices falsehood.</span>
  <span class="verse" title="Revelation 22:16" id="Revelation-22-16">I, Jesus, have sent my angel to testify these things to you for the assemblies. I am the root and the offspring of David; the Bright and Morning Star.&#8221;</span>
  <span class="verse" title="Revelation 22:17" id="Revelation-22-17">The Spirit and the bride say, &#8220;Come!&#8221; He who hears, let him say, &#8220;Come!&#8221; He who is thirsty, let him come. He who desires, let him take the water of life freely.</span>
  <span class="verse" title="Revelation 22:18" id="Revelation-22-18">I testify to everyone who hears the words of the prophecy of this book, if anyone adds to them, may God add to him the plagues which are written in this book.</span>
  <span class="verse" title="Revelation 22:19" id="Revelation-22-19">If anyone takes away from the words of the book of this prophecy, may God take away his part from the tree of life, and out of the holy city, which are written in this book.</span>
  <span class="verse" title="Revelation 22:20" id="Revelation-22-20">He who testifies these things says, &#8220;Yes, I come quickly.&#8221; Amen! Yes, come, Lord Jesus.</span>
  <span class="verse" title="Revelation 22:21" id="Revelation-22-21">The grace of the Lord Jesus Christ be with all the saints. Amen.</span>
</div>