<div class="chapter" id="Matthew-001">
  <h2>Matthew 1</h2>
  <span class="verse" title="Matthew 1:1" id="Matthew-1-1"><span class="indent">&nbsp;&nbsp;</span>The book of the genealogy of Jesus Christ, the son of David, the son of Abraham.</span>
  <span class="verse" title="Matthew 1:2" id="Matthew-1-2">Abraham became the father of Isaac. Isaac became the father of Jacob. Jacob became the father of Judah and his brothers.</span>
  <span class="verse" title="Matthew 1:3" id="Matthew-1-3">Judah became the father of Perez and Zerah by Tamar. Perez became the father of Hezron. Hezron became the father of Ram.</span>
  <span class="verse" title="Matthew 1:4" id="Matthew-1-4">Ram became the father of Amminadab. Amminadab became the father of Nahshon. Nahshon became the father of Salmon.</span>
  <span class="verse" title="Matthew 1:5" id="Matthew-1-5">Salmon became the father of Boaz by Rahab. Boaz became the father of Obed by Ruth. Obed became the father of Jesse.</span>
  <span class="verse" title="Matthew 1:6" id="Matthew-1-6">Jesse became the father of King David. David became the father of Solomon by her who had been the wife of Uriah.</span>
  <span class="verse" title="Matthew 1:7" id="Matthew-1-7">Solomon became the father of Rehoboam. Rehoboam became the father of Abijah. Abijah became the father of Asa.</span>
  <span class="verse" title="Matthew 1:8" id="Matthew-1-8">Asa became the father of Jehoshaphat. Jehoshaphat became the father of Joram. Joram became the father of Uzziah.</span>
  <span class="verse" title="Matthew 1:9" id="Matthew-1-9">Uzziah became the father of Jotham. Jotham became the father of Ahaz. Ahaz became the father of Hezekiah.</span>
  <span class="verse" title="Matthew 1:10" id="Matthew-1-10">Hezekiah became the father of Manasseh. Manasseh became the father of Amon. Amon became the father of Josiah.</span>
  <span class="verse" title="Matthew 1:11" id="Matthew-1-11">Josiah became the father of Jechoniah and his brothers, at the time of the exile to Babylon.</span>
  <span class="verse" title="Matthew 1:12" id="Matthew-1-12">After the exile to Babylon, Jechoniah became the father of Shealtiel. Shealtiel became the father of Zerubbabel.</span>
  <span class="verse" title="Matthew 1:13" id="Matthew-1-13">Zerubbabel became the father of Abiud. Abiud became the father of Eliakim. Eliakim became the father of Azor.</span>
  <span class="verse" title="Matthew 1:14" id="Matthew-1-14">Azor became the father of Sadoc. Sadoc became the father of Achim. Achim became the father of Eliud.</span>
  <span class="verse" title="Matthew 1:15" id="Matthew-1-15">Eliud became the father of Eleazar. Eleazar became the father of Matthan. Matthan became the father of Jacob.</span>
  <span class="verse" title="Matthew 1:16" id="Matthew-1-16">Jacob became the father of Joseph, the husband of Mary, from whom was born Jesus, who is called Christ.</span>
  <span class="verse" title="Matthew 1:17" id="Matthew-1-17">So all the generations from Abraham to David are fourteen generations; from David to the exile to Babylon fourteen generations; and from the carrying away to Babylon to the Christ, fourteen generations.</span>
  <span class="verse" title="Matthew 1:18" id="Matthew-1-18">Now the birth of Jesus Christ was like this; for after his mother, Mary, was engaged to Joseph, before they came together, she was found pregnant by the Holy Spirit.</span>
  <span class="verse" title="Matthew 1:19" id="Matthew-1-19">Joseph, her husband, being a righteous man, and not willing to make her a public example, intended to put her away secretly.</span>
  <span class="verse" title="Matthew 1:20" id="Matthew-1-20">But when he thought about these things, behold, an angel of the Lord appeared to him in a dream, saying, &#8220;Joseph, son of David, don&#8217;t be afraid to take to yourself Mary, your wife, for that which is conceived in her is of the Holy Spirit.</span>
  <span class="verse" title="Matthew 1:21" id="Matthew-1-21">She shall bring forth a son. You shall call his name Jesus, for it is he who shall save his people from their sins.&#8221;</span>
  <span class="verse" title="Matthew 1:22" id="Matthew-1-22">Now all this has happened, that it might be fulfilled which was spoken by the Lord through the prophet, saying,</span>
  <span class="verse" title="Matthew 1:23" id="Matthew-1-23">&#8220;Behold, the virgin shall be with child,<br/> <span class="indent">&nbsp;&nbsp;</span>and shall bring forth a son.<br/>   They shall call his name Immanuel;&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>which is, being interpreted, &#8220;God with us.&#8221;<br/></span>
  <span class="verse" title="Matthew 1:24" id="Matthew-1-24">Joseph arose from his sleep, and did as the angel of the Lord commanded him, and took his wife to himself;</span>
  <span class="verse" title="Matthew 1:25" id="Matthew-1-25">and didn&#8217;t know her sexually until she had brought forth her firstborn son. He named him Jesus.</span>
</div>