<div class="chapter" id="Matthew-002">
  <h2>Matthew 2</h2>
  <span class="verse" title="Matthew 2:1" id="Matthew-2-1">Now when Jesus was born in Bethlehem of Judea in the days of King Herod, behold, wise men from the east came to Jerusalem, saying,</span>
  <span class="verse" title="Matthew 2:2" id="Matthew-2-2">&#8220;Where is he who is born King of the Jews? For we saw his star in the east, and have come to worship him.&#8221;</span>
  <span class="verse" title="Matthew 2:3" id="Matthew-2-3">When King Herod heard it, he was troubled, and all Jerusalem with him.</span>
  <span class="verse" title="Matthew 2:4" id="Matthew-2-4">Gathering together all the chief priests and scribes of the people, he asked them where the Christ would be born.</span>
  <span class="verse" title="Matthew 2:5" id="Matthew-2-5">They said to him, &#8220;In Bethlehem of Judea, for this is written through the prophet,</span>
  <span class="verse" title="Matthew 2:6" id="Matthew-2-6">&#8216;You Bethlehem, land of Judah,<br/> <span class="indent">&nbsp;&nbsp;</span>are in no way least among the princes of Judah:<br/>   for out of you shall come forth a governor,<br/> <span class="indent">&nbsp;&nbsp;</span>who shall shepherd my people, Israel.&#8217;&#8221;<br/></span>
  <span class="verse" title="Matthew 2:7" id="Matthew-2-7">Then Herod secretly called the wise men, and learned from them exactly what time the star appeared.</span>
  <span class="verse" title="Matthew 2:8" id="Matthew-2-8">He sent them to Bethlehem, and said, &#8220;Go and search diligently for the young child. When you have found him, bring me word, so that I also may come and worship him.&#8221;</span>
  <span class="verse" title="Matthew 2:9" id="Matthew-2-9">They, having heard the king, went their way; and behold, the star, which they saw in the east, went before them, until it came and stood over where the young child was.</span>
  <span class="verse" title="Matthew 2:10" id="Matthew-2-10">When they saw the star, they rejoiced with exceedingly great joy.</span>
  <span class="verse" title="Matthew 2:11" id="Matthew-2-11">They came into the house and saw the young child with Mary, his mother, and they fell down and worshiped him. Opening their treasures, they offered to him gifts: gold, frankincense, and myrrh.</span>
  <span class="verse" title="Matthew 2:12" id="Matthew-2-12">Being warned in a dream that they shouldn&#8217;t return to Herod, they went back to their own country another way.</span>
  <span class="verse" title="Matthew 2:13" id="Matthew-2-13">Now when they had departed, behold, an angel of the Lord appeared to Joseph in a dream, saying, &#8220;Arise and take the young child and his mother, and flee into Egypt, and stay there until I tell you, for Herod will seek the young child to destroy him.&#8221;</span>
  <span class="verse" title="Matthew 2:14" id="Matthew-2-14">He arose and took the young child and his mother by night, and departed into Egypt,</span>
  <span class="verse" title="Matthew 2:15" id="Matthew-2-15">and was there until the death of Herod; that it might be fulfilled which was spoken by the Lord through the prophet, saying, &#8220;Out of Egypt I called my son.&#8221;</span>
  <span class="verse" title="Matthew 2:16" id="Matthew-2-16">Then Herod, when he saw that he was mocked by the wise men, was exceedingly angry, and sent out, and killed all the male children who were in Bethlehem and in all the surrounding countryside, from two years old and under, according to the exact time which he had learned from the wise men.</span>
  <span class="verse" title="Matthew 2:17" id="Matthew-2-17">Then that which was spoken by Jeremiah the prophet was fulfilled, saying,</span>
  <span class="verse" title="Matthew 2:18" id="Matthew-2-18">&#8220;A voice was heard in Ramah,<br/> <span class="indent">&nbsp;&nbsp;</span>lamentation, weeping and great mourning,<br/>   Rachel weeping for her children;<br/> <span class="indent">&nbsp;&nbsp;</span>she wouldn&#8217;t be comforted,<br/> <span class="indent">&nbsp;&nbsp;</span>because they are no more.&#8221;<br/></span>
  <span class="verse" title="Matthew 2:19" id="Matthew-2-19">But when Herod was dead, behold, an angel of the Lord appeared in a dream to Joseph in Egypt, saying,</span>
  <span class="verse" title="Matthew 2:20" id="Matthew-2-20">&#8220;Arise and take the young child and his mother, and go into the land of Israel, for those who sought the young child&#8217;s life are dead.&#8221;</span>
  <span class="verse" title="Matthew 2:21" id="Matthew-2-21">He arose and took the young child and his mother, and came into the land of Israel.</span>
  <span class="verse" title="Matthew 2:22" id="Matthew-2-22">But when he heard that Archelaus was reigning over Judea in the place of his father, Herod, he was afraid to go there. Being warned in a dream, he withdrew into the region of Galilee,</span>
  <span class="verse" title="Matthew 2:23" id="Matthew-2-23">and came and lived in a city called Nazareth; that it might be fulfilled which was spoken through the prophets: &#8220;He will be called a Nazarene.&#8221;</span>
</div>