<div class="chapter" id="Matthew-003">
  <h2>Matthew 3</h2>
  <span class="verse" title="Matthew 3:1" id="Matthew-3-1">In those days, John the Baptizer came, preaching in the wilderness of Judea, saying,</span>
  <span class="verse" title="Matthew 3:2" id="Matthew-3-2">&#8220;Repent, for the Kingdom of Heaven is at hand!&#8221;</span>
  <span class="verse" title="Matthew 3:3" id="Matthew-3-3">For this is he who was spoken of by Isaiah the prophet, saying,  &#8220;The voice of one crying in the wilderness,<br/> <span class="indent">&nbsp;&nbsp;</span>make ready the way of the Lord.<br/> <span class="indent">&nbsp;&nbsp;</span>Make his paths straight.&#8221;<br/></span>
  <span class="verse" title="Matthew 3:4" id="Matthew-3-4">Now John himself wore clothing made of camel&#8217;s hair, with a leather belt around his waist. His food was locusts and wild honey.</span>
  <span class="verse" title="Matthew 3:5" id="Matthew-3-5">Then people from Jerusalem, all of Judea, and all the region around the Jordan went out to him.</span>
  <span class="verse" title="Matthew 3:6" id="Matthew-3-6">They were baptized by him in the Jordan, confessing their sins.</span>
  <span class="verse" title="Matthew 3:7" id="Matthew-3-7">But when he saw many of the Pharisees and Sadducees coming for his baptism, he said to them, &#8220;You offspring of vipers, who warned you to flee from the wrath to come?</span>
  <span class="verse" title="Matthew 3:8" id="Matthew-3-8">Therefore bring forth fruit worthy of repentance!</span>
  <span class="verse" title="Matthew 3:9" id="Matthew-3-9">Don&#8217;t think to yourselves, &#8216;We have Abraham for our father,&#8217; for I tell you that God is able to raise up children to Abraham from these stones.</span>
  <span class="verse" title="Matthew 3:10" id="Matthew-3-10">&#8220;Even now the axe lies at the root of the trees. Therefore, every tree that doesn&#8217;t bring forth good fruit is cut down, and cast into the fire.</span>
  <span class="verse" title="Matthew 3:11" id="Matthew-3-11">I indeed baptize you in water for repentance, but he who comes after me is mightier than I, whose shoes I am not worthy to carry. He will baptize you in the Holy Spirit.</span>
  <span class="verse" title="Matthew 3:12" id="Matthew-3-12">His winnowing fork is in his hand, and he will thoroughly cleanse his threshing floor. He will gather his wheat into the barn, but the chaff he will burn up with unquenchable fire.&#8221;</span>
  <span class="verse" title="Matthew 3:13" id="Matthew-3-13">Then Jesus came from Galilee to the Jordan to John, to be baptized by him.</span>
  <span class="verse" title="Matthew 3:14" id="Matthew-3-14">But John would have hindered him, saying, &#8220;I need to be baptized by you, and you come to me?&#8221;</span>
  <span class="verse" title="Matthew 3:15" id="Matthew-3-15">But Jesus, answering, said to him, &#8220;Allow it now, for this is the fitting way for us to fulfill all righteousness.&#8221; Then he allowed him.</span>
  <span class="verse" title="Matthew 3:16" id="Matthew-3-16">Jesus, when he was baptized, went up directly from the water: and behold, the heavens were opened to him. He saw the Spirit of God descending as a dove, and coming on him.</span>
  <span class="verse" title="Matthew 3:17" id="Matthew-3-17">Behold, a voice out of the heavens said, &#8220;This is my beloved Son, with whom I am well pleased.&#8221;</span>
</div>