<div class="chapter" id="Matthew-004">
  <h2>Matthew 4</h2>
  <span class="verse" title="Matthew 4:1" id="Matthew-4-1">Then Jesus was led up by the Spirit into the wilderness to be tempted by the devil.</span>
  <span class="verse" title="Matthew 4:2" id="Matthew-4-2">When he had fasted forty days and forty nights, he was hungry afterward.</span>
  <span class="verse" title="Matthew 4:3" id="Matthew-4-3">The tempter came and said to him, &#8220;If you are the Son of God, command that these stones become bread.&#8221;</span>
  <span class="verse" title="Matthew 4:4" id="Matthew-4-4">But he answered, &#8220;It is written, &#8216;Man shall not live by bread alone, but by every word that proceeds out of the mouth of God.&#8217;&#8221;</span>
  <span class="verse" title="Matthew 4:5" id="Matthew-4-5">Then the devil took him into the holy city. He set him on the pinnacle of the temple,</span>
  <span class="verse" title="Matthew 4:6" id="Matthew-4-6">and said to him, &#8220;If you are the Son of God, throw yourself down, for it is written, &#8216;He will put his angels in charge of you.&#8217; and,  &#8216;On their hands they will bear you up,<br/> <span class="indent">&nbsp;&nbsp;</span>so that you don&#8217;t dash your foot against a stone.&#8217;&#8221;<br/></span>
  <span class="verse" title="Matthew 4:7" id="Matthew-4-7">Jesus said to him, &#8220;Again, it is written, &#8216;You shall not test the Lord, your God.&#8217;&#8221;</span>
  <span class="verse" title="Matthew 4:8" id="Matthew-4-8">Again, the devil took him to an exceedingly high mountain, and showed him all the kingdoms of the world, and their glory.</span>
  <span class="verse" title="Matthew 4:9" id="Matthew-4-9">He said to him, &#8220;I will give you all of these things, if you will fall down and worship me.&#8221;</span>
  <span class="verse" title="Matthew 4:10" id="Matthew-4-10">Then Jesus said to him, &#8220;Get behind me, Satan! For it is written, &#8216;You shall worship the Lord your God, and you shall serve him only.&#8217;&#8221;</span>
  <span class="verse" title="Matthew 4:11" id="Matthew-4-11">Then the devil left him, and behold, angels came and served him.</span>
  <span class="verse" title="Matthew 4:12" id="Matthew-4-12">Now when Jesus heard that John was delivered up, he withdrew into Galilee.</span>
  <span class="verse" title="Matthew 4:13" id="Matthew-4-13">Leaving Nazareth, he came and lived in Capernaum, which is by the sea, in the region of Zebulun and Naphtali,</span>
  <span class="verse" title="Matthew 4:14" id="Matthew-4-14">that it might be fulfilled which was spoken through Isaiah the prophet, saying,</span>
  <span class="verse" title="Matthew 4:15" id="Matthew-4-15">&#8220;The land of Zebulun and the land of Naphtali,<br/> <span class="indent">&nbsp;&nbsp;</span>toward the sea, beyond the Jordan,<br/> <span class="indent">&nbsp;&nbsp;</span>Galilee of the Gentiles,<br/></span>
  <span class="verse" title="Matthew 4:16" id="Matthew-4-16">the people who sat in darkness saw a great light,<br/> <span class="indent">&nbsp;&nbsp;</span>to those who sat in the region and shadow of death,<br/> <span class="indent">&nbsp;&nbsp;</span>to them light has dawned.&#8221;<br/></span>
  <span class="verse" title="Matthew 4:17" id="Matthew-4-17">From that time, Jesus began to preach, and to say, &#8220;Repent! For the Kingdom of Heaven is at hand.&#8221;</span>
  <span class="verse" title="Matthew 4:18" id="Matthew-4-18">Walking by the sea of Galilee, he saw two brothers: Simon, who is called Peter, and Andrew, his brother, casting a net into the sea; for they were fishermen.</span>
  <span class="verse" title="Matthew 4:19" id="Matthew-4-19">He said to them, &#8220;Come after me, and I will make you fishers for men.&#8221;</span>
  <span class="verse" title="Matthew 4:20" id="Matthew-4-20">They immediately left their nets and followed him.</span>
  <span class="verse" title="Matthew 4:21" id="Matthew-4-21">Going on from there, he saw two other brothers, James the son of Zebedee, and John his brother, in the boat with Zebedee their father, mending their nets. He called them.</span>
  <span class="verse" title="Matthew 4:22" id="Matthew-4-22">They immediately left the boat and their father, and followed him.</span>
  <span class="verse" title="Matthew 4:23" id="Matthew-4-23">Jesus went about in all Galilee, teaching in their synagogues, preaching the Good News of the Kingdom, and healing every disease and every sickness among the people.</span>
  <span class="verse" title="Matthew 4:24" id="Matthew-4-24">The report about him went out into all Syria. They brought to him all who were sick, afflicted with various diseases and torments, possessed with demons, epileptics, and paralytics; and he healed them.</span>
  <span class="verse" title="Matthew 4:25" id="Matthew-4-25">Great multitudes from Galilee, Decapolis, Jerusalem, Judea and from beyond the Jordan followed him.</span>
</div>