<div class="chapter" id="Matthew-005">
  <h2>Matthew 5</h2>
  <span class="verse" title="Matthew 5:1" id="Matthew-5-1">Seeing the multitudes, he went up onto the mountain. When he had sat down, his disciples came to him.</span>
  <span class="verse" title="Matthew 5:2" id="Matthew-5-2">He opened his mouth and taught them, saying,</span>
  <span class="verse" title="Matthew 5:3" id="Matthew-5-3">&#8220;Blessed are the poor in spirit,<br/> <span class="indent">&nbsp;&nbsp;</span>for theirs is the Kingdom of Heaven.<br/></span>
  <span class="verse" title="Matthew 5:4" id="Matthew-5-4">Blessed are those who mourn,<br/> <span class="indent">&nbsp;&nbsp;</span>for they shall be comforted.<br/></span>
  <span class="verse" title="Matthew 5:5" id="Matthew-5-5">Blessed are the gentle,<br/> <span class="indent">&nbsp;&nbsp;</span>for they shall inherit the earth.<br/></span>
  <span class="verse" title="Matthew 5:6" id="Matthew-5-6">Blessed are those who hunger and thirst after righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>for they shall be filled.<br/></span>
  <span class="verse" title="Matthew 5:7" id="Matthew-5-7">Blessed are the merciful,<br/> <span class="indent">&nbsp;&nbsp;</span>for they shall obtain mercy.<br/></span>
  <span class="verse" title="Matthew 5:8" id="Matthew-5-8">Blessed are the pure in heart,<br/> <span class="indent">&nbsp;&nbsp;</span>for they shall see God.<br/></span>
  <span class="verse" title="Matthew 5:9" id="Matthew-5-9">Blessed are the peacemakers,<br/> <span class="indent">&nbsp;&nbsp;</span>for they shall be called children of God.<br/></span>
  <span class="verse" title="Matthew 5:10" id="Matthew-5-10">Blessed are those who have been persecuted for righteousness&#8217; sake,<br/> <span class="indent">&nbsp;&nbsp;</span>for theirs is the Kingdom of Heaven.<br/>   <br/></span>
  <span class="verse" title="Matthew 5:11" id="Matthew-5-11">&#8220;Blessed are you when people reproach you, persecute you, and say all kinds of evil against you falsely, for my sake.</span>
  <span class="verse" title="Matthew 5:12" id="Matthew-5-12">Rejoice, and be exceedingly glad, for great is your reward in heaven. For that is how they persecuted the prophets who were before you.</span>
  <span class="verse" title="Matthew 5:13" id="Matthew-5-13">&#8220;You are the salt of the earth, but if the salt has lost its flavor, with what will it be salted? It is then good for nothing, but to be cast out and trodden under the feet of men.</span>
  <span class="verse" title="Matthew 5:14" id="Matthew-5-14">You are the light of the world. A city located on a hill can&#8217;t be hidden.</span>
  <span class="verse" title="Matthew 5:15" id="Matthew-5-15">Neither do you light a lamp, and put it under a measuring basket, but on a stand; and it shines to all who are in the house.</span>
  <span class="verse" title="Matthew 5:16" id="Matthew-5-16">Even so, let your light shine before men; that they may see your good works, and glorify your Father who is in heaven.</span>
  <span class="verse" title="Matthew 5:17" id="Matthew-5-17">&#8220;Don&#8217;t think that I came to destroy the law or the prophets. I didn&#8217;t come to destroy, but to fulfill.</span>
  <span class="verse" title="Matthew 5:18" id="Matthew-5-18">For most certainly, I tell you, until heaven and earth pass away, not even one smallest letter or one tiny pen stroke shall in any way pass away from the law, until all things are accomplished.</span>
  <span class="verse" title="Matthew 5:19" id="Matthew-5-19">Whoever, therefore, shall break one of these least commandments, and teach others to do so, shall be called least in the Kingdom of Heaven; but whoever shall do and teach them shall be called great in the Kingdom of Heaven.</span>
  <span class="verse" title="Matthew 5:20" id="Matthew-5-20">For I tell you that unless your righteousness exceeds that of the scribes and Pharisees, there is no way you will enter into the Kingdom of Heaven.</span>
  <span class="verse" title="Matthew 5:21" id="Matthew-5-21">&#8220;You have heard that it was said to the ancient ones, &#8216;You shall not murder;&#8217; and &#8216;Whoever shall murder shall be in danger of the judgment.&#8217;</span>
  <span class="verse" title="Matthew 5:22" id="Matthew-5-22">But I tell you, that everyone who is angry with his brother without a cause shall be in danger of the judgment; and whoever shall say to his brother, &#8216;Raca!&#8217; shall be in danger of the council; and whoever shall say, &#8216;You fool!&#8217; shall be in danger of the fire of Gehenna.</span>
  <span class="verse" title="Matthew 5:23" id="Matthew-5-23">&#8220;If therefore you are offering your gift at the altar, and there remember that your brother has anything against you,</span>
  <span class="verse" title="Matthew 5:24" id="Matthew-5-24">leave your gift there before the altar, and go your way. First be reconciled to your brother, and then come and offer your gift.</span>
  <span class="verse" title="Matthew 5:25" id="Matthew-5-25">Agree with your adversary quickly, while you are with him in the way; lest perhaps the prosecutor deliver you to the judge, and the judge deliver you to the officer, and you be cast into prison.</span>
  <span class="verse" title="Matthew 5:26" id="Matthew-5-26">Most certainly I tell you, you shall by no means get out of there, until you have paid the last penny.</span>
  <span class="verse" title="Matthew 5:27" id="Matthew-5-27">&#8220;You have heard that it was said,  &#8216;You shall not commit adultery;&#8217;</span>
  <span class="verse" title="Matthew 5:28" id="Matthew-5-28">but I tell you that everyone who gazes at a woman to lust after her has committed adultery with her already in his heart.</span>
  <span class="verse" title="Matthew 5:29" id="Matthew-5-29">If your right eye causes you to stumble, pluck it out and throw it away from you. For it is more profitable for you that one of your members should perish, than for your whole body to be cast into Gehenna.</span>
  <span class="verse" title="Matthew 5:30" id="Matthew-5-30">If your right hand causes you to stumble, cut it off, and throw it away from you. For it is more profitable for you that one of your members should perish, than for your whole body to be cast into Gehenna.</span>
  <span class="verse" title="Matthew 5:31" id="Matthew-5-31">&#8220;It was also said, &#8216;Whoever shall put away his wife, let him give her a writing of divorce,&#8217;</span>
  <span class="verse" title="Matthew 5:32" id="Matthew-5-32">but I tell you that whoever puts away his wife, except for the cause of sexual immorality, makes her an adulteress; and whoever marries her when she is put away commits adultery.</span>
  <span class="verse" title="Matthew 5:33" id="Matthew-5-33">&#8220;Again you have heard that it was said to them of old time, &#8216;You shall not make false vows, but shall perform to the Lord your vows,&#8217;</span>
  <span class="verse" title="Matthew 5:34" id="Matthew-5-34">but I tell you, don&#8217;t swear at all: neither by heaven, for it is the throne of God;</span>
  <span class="verse" title="Matthew 5:35" id="Matthew-5-35">nor by the earth, for it is the footstool of his feet; nor by Jerusalem, for it is the city of the great King.</span>
  <span class="verse" title="Matthew 5:36" id="Matthew-5-36">Neither shall you swear by your head, for you can&#8217;t make one hair white or black.</span>
  <span class="verse" title="Matthew 5:37" id="Matthew-5-37">But let your &#8216;Yes&#8217; be &#8216;Yes&#8217; and your &#8216;No&#8217; be &#8216;No.&#8217; Whatever is more than these is of the evil one.</span>
  <span class="verse" title="Matthew 5:38" id="Matthew-5-38">&#8220;You have heard that it was said, &#8216;An eye for an eye, and a tooth for a tooth.&#8217;</span>
  <span class="verse" title="Matthew 5:39" id="Matthew-5-39">But I tell you, don&#8217;t resist him who is evil; but whoever strikes you on your right cheek, turn to him the other also.</span>
  <span class="verse" title="Matthew 5:40" id="Matthew-5-40">If anyone sues you to take away your coat, let him have your cloak also.</span>
  <span class="verse" title="Matthew 5:41" id="Matthew-5-41">Whoever compels you to go one mile, go with him two.</span>
  <span class="verse" title="Matthew 5:42" id="Matthew-5-42">Give to him who asks you, and don&#8217;t turn away him who desires to borrow from you.</span>
  <span class="verse" title="Matthew 5:43" id="Matthew-5-43">&#8220;You have heard that it was said, &#8216;You shall love your neighbor, and hate your enemy.&#8217;</span>
  <span class="verse" title="Matthew 5:44" id="Matthew-5-44">But I tell you, love your enemies, bless those who curse you, do good to those who hate you, and pray for those who mistreat you and persecute you,</span>
  <span class="verse" title="Matthew 5:45" id="Matthew-5-45">that you may be children of your Father who is in heaven. For he makes his sun to rise on the evil and the good, and sends rain on the just and the unjust.</span>
  <span class="verse" title="Matthew 5:46" id="Matthew-5-46">For if you love those who love you, what reward do you have? Don&#8217;t even the tax collectors do the same?</span>
  <span class="verse" title="Matthew 5:47" id="Matthew-5-47">If you only greet your friends, what more do you do than others? Don&#8217;t even the tax collectors do the same?</span>
  <span class="verse" title="Matthew 5:48" id="Matthew-5-48">Therefore you shall be perfect, just as your Father in heaven is perfect.</span>
</div>