<div class="chapter" id="Matthew-006">
  <h2>Matthew 6</h2>
  <span class="verse" title="Matthew 6:1" id="Matthew-6-1">&#8220;Be careful that you don&#8217;t do your charitable giving before men, to be seen by them, or else you have no reward from your Father who is in heaven.</span>
  <span class="verse" title="Matthew 6:2" id="Matthew-6-2">Therefore when you do merciful deeds, don&#8217;t sound a trumpet before yourself, as the hypocrites do in the synagogues and in the streets, that they may get glory from men. Most certainly I tell you, they have received their reward.</span>
  <span class="verse" title="Matthew 6:3" id="Matthew-6-3">But when you do merciful deeds, don&#8217;t let your left hand know what your right hand does,</span>
  <span class="verse" title="Matthew 6:4" id="Matthew-6-4">so that your merciful deeds may be in secret, then your Father who sees in secret will reward you openly.</span>
  <span class="verse" title="Matthew 6:5" id="Matthew-6-5">&#8220;When you pray, you shall not be as the hypocrites, for they love to stand and pray in the synagogues and in the corners of the streets, that they may be seen by men. Most certainly, I tell you, they have received their reward.</span>
  <span class="verse" title="Matthew 6:6" id="Matthew-6-6">But you, when you pray, enter into your inner room, and having shut your door, pray to your Father who is in secret, and your Father who sees in secret will reward you openly.</span>
  <span class="verse" title="Matthew 6:7" id="Matthew-6-7">In praying, don&#8217;t use vain repetitions, as the Gentiles do; for they think that they will be heard for their much speaking.</span>
  <span class="verse" title="Matthew 6:8" id="Matthew-6-8">Therefore don&#8217;t be like them, for your Father knows what things you need, before you ask him.</span>
  <span class="verse" title="Matthew 6:9" id="Matthew-6-9">Pray like this: &#8216;Our Father in heaven, may your name be kept holy.</span>
  <span class="verse" title="Matthew 6:10" id="Matthew-6-10">Let your Kingdom come. Let your will be done, as in heaven, so on earth.</span>
  <span class="verse" title="Matthew 6:11" id="Matthew-6-11">Give us today our daily bread.</span>
  <span class="verse" title="Matthew 6:12" id="Matthew-6-12">Forgive us our debts, as we also forgive our debtors.</span>
  <span class="verse" title="Matthew 6:13" id="Matthew-6-13">Bring us not into temptation, but deliver us from the evil one. For yours is the Kingdom, the power, and the glory forever. Amen.&#8217;</span>
  <span class="verse" title="Matthew 6:14" id="Matthew-6-14">&#8220;For if you forgive men their trespasses, your heavenly Father will also forgive you.</span>
  <span class="verse" title="Matthew 6:15" id="Matthew-6-15">But if you don&#8217;t forgive men their trespasses, neither will your Father forgive your trespasses.</span>
  <span class="verse" title="Matthew 6:16" id="Matthew-6-16">&#8220;Moreover when you fast, don&#8217;t be like the hypocrites, with sad faces. For they disfigure their faces, that they may be seen by men to be fasting. Most certainly I tell you, they have received their reward.</span>
  <span class="verse" title="Matthew 6:17" id="Matthew-6-17">But you, when you fast, anoint your head, and wash your face;</span>
  <span class="verse" title="Matthew 6:18" id="Matthew-6-18">so that you are not seen by men to be fasting, but by your Father who is in secret, and your Father, who sees in secret, will reward you.</span>
  <span class="verse" title="Matthew 6:19" id="Matthew-6-19">&#8220;Don&#8217;t lay up treasures for yourselves on the earth, where moth and rust consume, and where thieves break through and steal;</span>
  <span class="verse" title="Matthew 6:20" id="Matthew-6-20">but lay up for yourselves treasures in heaven, where neither moth nor rust consume, and where thieves don&#8217;t break through and steal;</span>
  <span class="verse" title="Matthew 6:21" id="Matthew-6-21">for where your treasure is, there your heart will be also.</span>
  <span class="verse" title="Matthew 6:22" id="Matthew-6-22">&#8220;The lamp of the body is the eye. If therefore your eye is sound, your whole body will be full of light.</span>
  <span class="verse" title="Matthew 6:23" id="Matthew-6-23">But if your eye is evil, your whole body will be full of darkness. If therefore the light that is in you is darkness, how great is the darkness!</span>
  <span class="verse" title="Matthew 6:24" id="Matthew-6-24">&#8220;No one can serve two masters, for either he will hate the one and love the other; or else he will be devoted to one and despise the other. You can&#8217;t serve both God and Mammon.</span>
  <span class="verse" title="Matthew 6:25" id="Matthew-6-25">Therefore, I tell you, don&#8217;t be anxious for your life: what you will eat, or what you will drink; nor yet for your body, what you will wear. Isn&#8217;t life more than food, and the body more than clothing?</span>
  <span class="verse" title="Matthew 6:26" id="Matthew-6-26">See the birds of the sky, that they don&#8217;t sow, neither do they reap, nor gather into barns. Your heavenly Father feeds them. Aren&#8217;t you of much more value than they?</span>
  <span class="verse" title="Matthew 6:27" id="Matthew-6-27">&#8220;Which of you, by being anxious, can add one moment to his lifespan?</span>
  <span class="verse" title="Matthew 6:28" id="Matthew-6-28">Why are you anxious about clothing? Consider the lilies of the field, how they grow. They don&#8217;t toil, neither do they spin,</span>
  <span class="verse" title="Matthew 6:29" id="Matthew-6-29">yet I tell you that even Solomon in all his glory was not dressed like one of these.</span>
  <span class="verse" title="Matthew 6:30" id="Matthew-6-30">But if God so clothes the grass of the field, which today exists, and tomorrow is thrown into the oven, won&#8217;t he much more clothe you, you of little faith?</span>
  <span class="verse" title="Matthew 6:31" id="Matthew-6-31">&#8220;Therefore don&#8217;t be anxious, saying, &#8216;What will we eat?&#8217;, &#8216;What will we drink?&#8217; or, &#8216;With what will we be clothed?&#8217;</span>
  <span class="verse" title="Matthew 6:32" id="Matthew-6-32">For the Gentiles seek after all these things; for your heavenly Father knows that you need all these things.</span>
  <span class="verse" title="Matthew 6:33" id="Matthew-6-33">But seek first God&#8217;s Kingdom, and his righteousness; and all these things will be given to you as well.</span>
  <span class="verse" title="Matthew 6:34" id="Matthew-6-34">Therefore don&#8217;t be anxious for tomorrow, for tomorrow will be anxious for itself. Each day&#8217;s own evil is sufficient.</span>
</div>