<div class="chapter" id="Matthew-007">
  <h2>Matthew 7</h2>
  <span class="verse" title="Matthew 7:1" id="Matthew-7-1">&#8220;Don&#8217;t judge, so that you won&#8217;t be judged.</span>
  <span class="verse" title="Matthew 7:2" id="Matthew-7-2">For with whatever judgment you judge, you will be judged; and with whatever measure you measure, it will be measured to you.</span>
  <span class="verse" title="Matthew 7:3" id="Matthew-7-3">Why do you see the speck that is in your brother&#8217;s eye, but don&#8217;t consider the beam that is in your own eye?</span>
  <span class="verse" title="Matthew 7:4" id="Matthew-7-4">Or how will you tell your brother, &#8216;Let me remove the speck from your eye;&#8217; and behold, the beam is in your own eye?</span>
  <span class="verse" title="Matthew 7:5" id="Matthew-7-5">You hypocrite! First remove the beam out of your own eye, and then you can see clearly to remove the speck out of your brother&#8217;s eye.</span>
  <span class="verse" title="Matthew 7:6" id="Matthew-7-6">&#8220;Don&#8217;t give that which is holy to the dogs, neither throw your pearls before the pigs, lest perhaps they trample them under their feet, and turn and tear you to pieces.</span>
  <span class="verse" title="Matthew 7:7" id="Matthew-7-7">&#8220;Ask, and it will be given you. Seek, and you will find. Knock, and it will be opened for you.</span>
  <span class="verse" title="Matthew 7:8" id="Matthew-7-8">For everyone who asks receives. He who seeks finds. To him who knocks it will be opened.</span>
  <span class="verse" title="Matthew 7:9" id="Matthew-7-9">Or who is there among you, who, if his son asks him for bread, will give him a stone?</span>
  <span class="verse" title="Matthew 7:10" id="Matthew-7-10">Or if he asks for a fish, who will give him a serpent?</span>
  <span class="verse" title="Matthew 7:11" id="Matthew-7-11">If you then, being evil, know how to give good gifts to your children, how much more will your Father who is in heaven give good things to those who ask him!</span>
  <span class="verse" title="Matthew 7:12" id="Matthew-7-12">Therefore whatever you desire for men to do to you, you shall also do to them; for this is the law and the prophets.</span>
  <span class="verse" title="Matthew 7:13" id="Matthew-7-13">&#8220;Enter in by the narrow gate; for wide is the gate and broad is the way that leads to destruction, and many are those who enter in by it.</span>
  <span class="verse" title="Matthew 7:14" id="Matthew-7-14">How narrow is the gate, and restricted is the way that leads to life! Few are those who find it.</span>
  <span class="verse" title="Matthew 7:15" id="Matthew-7-15">&#8220;Beware of false prophets, who come to you in sheep&#8217;s clothing, but inwardly are ravening wolves.</span>
  <span class="verse" title="Matthew 7:16" id="Matthew-7-16">By their fruits you will know them. Do you gather grapes from thorns, or figs from thistles?</span>
  <span class="verse" title="Matthew 7:17" id="Matthew-7-17">Even so, every good tree produces good fruit; but the corrupt tree produces evil fruit.</span>
  <span class="verse" title="Matthew 7:18" id="Matthew-7-18">A good tree can&#8217;t produce evil fruit, neither can a corrupt tree produce good fruit.</span>
  <span class="verse" title="Matthew 7:19" id="Matthew-7-19">Every tree that doesn&#8217;t grow good fruit is cut down, and thrown into the fire.</span>
  <span class="verse" title="Matthew 7:20" id="Matthew-7-20">Therefore, by their fruits you will know them.</span>
  <span class="verse" title="Matthew 7:21" id="Matthew-7-21">Not everyone who says to me, &#8216;Lord, Lord,&#8217; will enter into the Kingdom of Heaven; but he who does the will of my Father who is in heaven.</span>
  <span class="verse" title="Matthew 7:22" id="Matthew-7-22">Many will tell me in that day, &#8216;Lord, Lord, didn&#8217;t we prophesy in your name, in your name cast out demons, and in your name do many mighty works?&#8217;</span>
  <span class="verse" title="Matthew 7:23" id="Matthew-7-23">Then I will tell them, &#8216;I never knew you. Depart from me, you who work iniquity.&#8217;</span>
  <span class="verse" title="Matthew 7:24" id="Matthew-7-24">&#8220;Everyone therefore who hears these words of mine, and does them, I will liken him to a wise man, who built his house on a rock.</span>
  <span class="verse" title="Matthew 7:25" id="Matthew-7-25">The rain came down, the floods came, and the winds blew, and beat on that house; and it didn&#8217;t fall, for it was founded on the rock.</span>
  <span class="verse" title="Matthew 7:26" id="Matthew-7-26">Everyone who hears these words of mine, and doesn&#8217;t do them will be like a foolish man, who built his house on the sand.</span>
  <span class="verse" title="Matthew 7:27" id="Matthew-7-27">The rain came down, the floods came, and the winds blew, and beat on that house; and it fell—and great was its fall.&#8221;</span>
  <span class="verse" title="Matthew 7:28" id="Matthew-7-28">It happened, when Jesus had finished saying these things, that the multitudes were astonished at his teaching,</span>
  <span class="verse" title="Matthew 7:29" id="Matthew-7-29">for he taught them with authority, and not like the scribes.</span>
</div>