<div class="chapter" id="Matthew-008">
  <h2>Matthew 8</h2>
  <span class="verse" title="Matthew 8:1" id="Matthew-8-1">When he came down from the mountain, great multitudes followed him.</span>
  <span class="verse" title="Matthew 8:2" id="Matthew-8-2">Behold, a leper came to him and worshiped him, saying, &#8220;Lord, if you want to, you can make me clean.&#8221;</span>
  <span class="verse" title="Matthew 8:3" id="Matthew-8-3">Jesus stretched out his hand, and touched him, saying, &#8220;I want to. Be made clean.&#8221; Immediately his leprosy was cleansed.</span>
  <span class="verse" title="Matthew 8:4" id="Matthew-8-4">Jesus said to him, &#8220;See that you tell nobody, but go, show yourself to the priest, and offer the gift that Moses commanded, as a testimony to them.&#8221;</span>
  <span class="verse" title="Matthew 8:5" id="Matthew-8-5">When he came into Capernaum, a centurion came to him, asking him,</span>
  <span class="verse" title="Matthew 8:6" id="Matthew-8-6">and saying, &#8220;Lord, my servant lies in the house paralyzed, grievously tormented.&#8221;</span>
  <span class="verse" title="Matthew 8:7" id="Matthew-8-7">Jesus said to him, &#8220;I will come and heal him.&#8221;</span>
  <span class="verse" title="Matthew 8:8" id="Matthew-8-8">The centurion answered, &#8220;Lord, I&#8217;m not worthy for you to come under my roof. Just say the word, and my servant will be healed.</span>
  <span class="verse" title="Matthew 8:9" id="Matthew-8-9">For I am also a man under authority, having under myself soldiers. I tell this one, &#8216;Go,&#8217; and he goes; and tell another, &#8216;Come,&#8217; and he comes; and tell my servant, &#8216;Do this,&#8217; and he does it.&#8221;</span>
  <span class="verse" title="Matthew 8:10" id="Matthew-8-10">When Jesus heard it, he marveled, and said to those who followed, &#8220;Most certainly I tell you, I haven&#8217;t found so great a faith, not even in Israel.</span>
  <span class="verse" title="Matthew 8:11" id="Matthew-8-11">I tell you that many will come from the east and the west, and will sit down with Abraham, Isaac, and Jacob in the Kingdom of Heaven,</span>
  <span class="verse" title="Matthew 8:12" id="Matthew-8-12">but the children of the Kingdom will be thrown out into the outer darkness. There will be weeping and gnashing of teeth.&#8221;</span>
  <span class="verse" title="Matthew 8:13" id="Matthew-8-13">Jesus said to the centurion, &#8220;Go your way. Let it be done for you as you have believed.&#8221; His servant was healed in that hour.</span>
  <span class="verse" title="Matthew 8:14" id="Matthew-8-14">When Jesus came into Peter&#8217;s house, he saw his wife&#8217;s mother lying sick with a fever.</span>
  <span class="verse" title="Matthew 8:15" id="Matthew-8-15">He touched her hand, and the fever left her. She got up and served him.</span>
  <span class="verse" title="Matthew 8:16" id="Matthew-8-16">When evening came, they brought to him many possessed with demons. He cast out the spirits with a word, and healed all who were sick;</span>
  <span class="verse" title="Matthew 8:17" id="Matthew-8-17">that it might be fulfilled which was spoken through Isaiah the prophet, saying: &#8220;He took our infirmities, and bore our diseases.&#8221;</span>
  <span class="verse" title="Matthew 8:18" id="Matthew-8-18">Now when Jesus saw great multitudes around him, he gave the order to depart to the other side.</span>
  <span class="verse" title="Matthew 8:19" id="Matthew-8-19">A scribe came, and said to him, &#8220;Teacher, I will follow you wherever you go.&#8221;</span>
  <span class="verse" title="Matthew 8:20" id="Matthew-8-20">Jesus said to him, &#8220;The foxes have holes, and the birds of the sky have nests, but the Son of Man has nowhere to lay his head.&#8221;</span>
  <span class="verse" title="Matthew 8:21" id="Matthew-8-21">Another of his disciples said to him, &#8220;Lord, allow me first to go and bury my father.&#8221;</span>
  <span class="verse" title="Matthew 8:22" id="Matthew-8-22">But Jesus said to him, &#8220;Follow me, and leave the dead to bury their own dead.&#8221;</span>
  <span class="verse" title="Matthew 8:23" id="Matthew-8-23">When he got into a boat, his disciples followed him.</span>
  <span class="verse" title="Matthew 8:24" id="Matthew-8-24">Behold, a violent storm came up on the sea, so much that the boat was covered with the waves, but he was asleep.</span>
  <span class="verse" title="Matthew 8:25" id="Matthew-8-25">They came to him, and woke him up, saying, &#8220;Save us, Lord! We are dying!&#8221;</span>
  <span class="verse" title="Matthew 8:26" id="Matthew-8-26">He said to them, &#8220;Why are you fearful, O you of little faith?&#8221; Then he got up, rebuked the wind and the sea, and there was a great calm.</span>
  <span class="verse" title="Matthew 8:27" id="Matthew-8-27">The men marveled, saying, &#8220;What kind of man is this, that even the wind and the sea obey him?&#8221;</span>
  <span class="verse" title="Matthew 8:28" id="Matthew-8-28">When he came to the other side, into the country of the Gergesenes, two people possessed by demons met him there, coming out of the tombs, exceedingly fierce, so that nobody could pass that way.</span>
  <span class="verse" title="Matthew 8:29" id="Matthew-8-29">Behold, they cried out, saying, &#8220;What do we have to do with you, Jesus, Son of God? Have you come here to torment us before the time?&#8221;</span>
  <span class="verse" title="Matthew 8:30" id="Matthew-8-30">Now there was a herd of many pigs feeding far away from them.</span>
  <span class="verse" title="Matthew 8:31" id="Matthew-8-31">The demons begged him, saying, &#8220;If you cast us out, permit us to go away into the herd of pigs.&#8221;</span>
  <span class="verse" title="Matthew 8:32" id="Matthew-8-32">He said to them, &#8220;Go!&#8221; They came out, and went into the herd of pigs: and behold, the whole herd of pigs rushed down the cliff into the sea, and died in the water.</span>
  <span class="verse" title="Matthew 8:33" id="Matthew-8-33">Those who fed them fled, and went away into the city, and told everything, including what happened to those who were possessed with demons.</span>
  <span class="verse" title="Matthew 8:34" id="Matthew-8-34">Behold, all the city came out to meet Jesus. When they saw him, they begged that he would depart from their borders.</span>
</div>