<div class="chapter" id="Matthew-009">
  <h2>Matthew 9</h2>
  <span class="verse" title="Matthew 9:1" id="Matthew-9-1">He entered into a boat, and crossed over, and came into his own city.</span>
  <span class="verse" title="Matthew 9:2" id="Matthew-9-2">Behold, they brought to him a man who was paralyzed, lying on a bed. Jesus, seeing their faith, said to the paralytic, &#8220;Son, cheer up! Your sins are forgiven you.&#8221;</span>
  <span class="verse" title="Matthew 9:3" id="Matthew-9-3">Behold, some of the scribes said to themselves, &#8220;This man blasphemes.&#8221;</span>
  <span class="verse" title="Matthew 9:4" id="Matthew-9-4">Jesus, knowing their thoughts, said, &#8220;Why do you think evil in your hearts?</span>
  <span class="verse" title="Matthew 9:5" id="Matthew-9-5">For which is easier, to say, &#8216;Your sins are forgiven;&#8217; or to say, &#8216;Get up, and walk?&#8217;</span>
  <span class="verse" title="Matthew 9:6" id="Matthew-9-6">But that you may know that the Son of Man has authority on earth to forgive sins...&#8221; (then he said to the paralytic), &#8220;Get up, and take up your mat, and go up to your house.&#8221;</span>
  <span class="verse" title="Matthew 9:7" id="Matthew-9-7">He arose and departed to his house.</span>
  <span class="verse" title="Matthew 9:8" id="Matthew-9-8">But when the multitudes saw it, they marveled and glorified God, who had given such authority to men.</span>
  <span class="verse" title="Matthew 9:9" id="Matthew-9-9">As Jesus passed by from there, he saw a man called Matthew sitting at the tax collection office. He said to him, &#8220;Follow me.&#8221; He got up and followed him.</span>
  <span class="verse" title="Matthew 9:10" id="Matthew-9-10">It happened as he sat in the house, behold, many tax collectors and sinners came and sat down with Jesus and his disciples.</span>
  <span class="verse" title="Matthew 9:11" id="Matthew-9-11">When the Pharisees saw it, they said to his disciples, &#8220;Why does your teacher eat with tax collectors and sinners?&#8221;</span>
  <span class="verse" title="Matthew 9:12" id="Matthew-9-12">When Jesus heard it, he said to them, &#8220;Those who are healthy have no need for a physician, but those who are sick do.</span>
  <span class="verse" title="Matthew 9:13" id="Matthew-9-13">But you go and learn what this means: &#8216;I desire mercy, and not sacrifice,&#8217; for I came not to call the righteous, but sinners to repentance.&#8221;</span>
  <span class="verse" title="Matthew 9:14" id="Matthew-9-14">Then John&#8217;s disciples came to him, saying, &#8220;Why do we and the Pharisees fast often, but your disciples don&#8217;t fast?&#8221;</span>
  <span class="verse" title="Matthew 9:15" id="Matthew-9-15">Jesus said to them, &#8220;Can the friends of the bridegroom mourn, as long as the bridegroom is with them? But the days will come when the bridegroom will be taken away from them, and then they will fast.</span>
  <span class="verse" title="Matthew 9:16" id="Matthew-9-16">No one puts a piece of unshrunk cloth on an old garment; for the patch would tear away from the garment, and a worse hole is made.</span>
  <span class="verse" title="Matthew 9:17" id="Matthew-9-17">Neither do people put new wine into old wineskins, or else the skins would burst, and the wine be spilled, and the skins ruined. No, they put new wine into fresh wineskins, and both are preserved.&#8221;</span>
  <span class="verse" title="Matthew 9:18" id="Matthew-9-18">While he told these things to them, behold, a ruler came and worshiped him, saying, &#8220;My daughter has just died, but come and lay your hand on her, and she will live.&#8221;</span>
  <span class="verse" title="Matthew 9:19" id="Matthew-9-19">Jesus got up and followed him, as did his disciples.</span>
  <span class="verse" title="Matthew 9:20" id="Matthew-9-20">Behold, a woman who had an issue of blood for twelve years came behind him, and touched the fringe of his garment;</span>
  <span class="verse" title="Matthew 9:21" id="Matthew-9-21">for she said within herself, &#8220;If I just touch his garment, I will be made well.&#8221;</span>
  <span class="verse" title="Matthew 9:22" id="Matthew-9-22">But Jesus, turning around and seeing her, said, &#8220;Daughter, cheer up! Your faith has made you well.&#8221; And the woman was made well from that hour.</span>
  <span class="verse" title="Matthew 9:23" id="Matthew-9-23">When Jesus came into the ruler&#8217;s house, and saw the flute players, and the crowd in noisy disorder,</span>
  <span class="verse" title="Matthew 9:24" id="Matthew-9-24">he said to them, &#8220;Make room, because the girl isn&#8217;t dead, but sleeping.&#8221; They were ridiculing him.</span>
  <span class="verse" title="Matthew 9:25" id="Matthew-9-25">But when the crowd was put out, he entered in, took her by the hand, and the girl arose.</span>
  <span class="verse" title="Matthew 9:26" id="Matthew-9-26">The report of this went out into all that land.</span>
  <span class="verse" title="Matthew 9:27" id="Matthew-9-27">As Jesus passed by from there, two blind men followed him, calling out and saying, &#8220;Have mercy on us, son of David!&#8221;</span>
  <span class="verse" title="Matthew 9:28" id="Matthew-9-28">When he had come into the house, the blind men came to him. Jesus said to them, &#8220;Do you believe that I am able to do this?&#8221; They told him, &#8220;Yes, Lord.&#8221;</span>
  <span class="verse" title="Matthew 9:29" id="Matthew-9-29">Then he touched their eyes, saying, &#8220;According to your faith be it done to you.&#8221;</span>
  <span class="verse" title="Matthew 9:30" id="Matthew-9-30">Their eyes were opened. Jesus strictly commanded them, saying, &#8220;See that no one knows about this.&#8221;</span>
  <span class="verse" title="Matthew 9:31" id="Matthew-9-31">But they went out and spread abroad his fame in all that land.</span>
  <span class="verse" title="Matthew 9:32" id="Matthew-9-32">As they went out, behold, a mute man who was demon possessed was brought to him.</span>
  <span class="verse" title="Matthew 9:33" id="Matthew-9-33">When the demon was cast out, the mute man spoke. The multitudes marveled, saying, &#8220;Nothing like this has ever been seen in Israel!&#8221;</span>
  <span class="verse" title="Matthew 9:34" id="Matthew-9-34">But the Pharisees said, &#8220;By the prince of the demons, he casts out demons.&#8221;</span>
  <span class="verse" title="Matthew 9:35" id="Matthew-9-35">Jesus went about all the cities and the villages, teaching in their synagogues, and preaching the Good News of the Kingdom, and healing every disease and every sickness among the people.</span>
  <span class="verse" title="Matthew 9:36" id="Matthew-9-36">But when he saw the multitudes, he was moved with compassion for them, because they were harassed and scattered, like sheep without a shepherd.</span>
  <span class="verse" title="Matthew 9:37" id="Matthew-9-37">Then he said to his disciples, &#8220;The harvest indeed is plentiful, but the laborers are few.</span>
  <span class="verse" title="Matthew 9:38" id="Matthew-9-38">Pray therefore that the Lord of the harvest will send out laborers into his harvest.&#8221;</span>
</div>