<div class="chapter" id="Matthew-010">
  <h2>Matthew 10</h2>
  <span class="verse" title="Matthew 10:1" id="Matthew-10-1">He called to himself his twelve disciples, and gave them authority over unclean spirits, to cast them out, and to heal every disease and every sickness.</span>
  <span class="verse" title="Matthew 10:2" id="Matthew-10-2">Now the names of the twelve apostles are these. The first, Simon, who is called Peter; Andrew, his brother; James the son of Zebedee; John, his brother;</span>
  <span class="verse" title="Matthew 10:3" id="Matthew-10-3">Philip; Bartholomew; Thomas; Matthew the tax collector; James the son of Alphaeus; Lebbaeus, whose surname was Thaddaeus;</span>
  <span class="verse" title="Matthew 10:4" id="Matthew-10-4">Simon the Canaanite; and Judas Iscariot, who also betrayed him.</span>
  <span class="verse" title="Matthew 10:5" id="Matthew-10-5">Jesus sent these twelve out, and commanded them, saying, &#8220;Don&#8217;t go among the Gentiles, and don&#8217;t enter into any city of the Samaritans.</span>
  <span class="verse" title="Matthew 10:6" id="Matthew-10-6">Rather, go to the lost sheep of the house of Israel.</span>
  <span class="verse" title="Matthew 10:7" id="Matthew-10-7">As you go, preach, saying, &#8216;The Kingdom of Heaven is at hand!&#8217;</span>
  <span class="verse" title="Matthew 10:8" id="Matthew-10-8">Heal the sick, cleanse the lepers, and cast out demons. Freely you received, so freely give.</span>
  <span class="verse" title="Matthew 10:9" id="Matthew-10-9">Don&#8217;t take any gold, nor silver, nor brass in your money belts.</span>
  <span class="verse" title="Matthew 10:10" id="Matthew-10-10">Take no bag for your journey, neither two coats, nor shoes, nor staff: for the laborer is worthy of his food.</span>
  <span class="verse" title="Matthew 10:11" id="Matthew-10-11">Into whatever city or village you enter, find out who in it is worthy; and stay there until you go on.</span>
  <span class="verse" title="Matthew 10:12" id="Matthew-10-12">As you enter into the household, greet it.</span>
  <span class="verse" title="Matthew 10:13" id="Matthew-10-13">If the household is worthy, let your peace come on it, but if it isn&#8217;t worthy, let your peace return to you.</span>
  <span class="verse" title="Matthew 10:14" id="Matthew-10-14">Whoever doesn&#8217;t receive you, nor hear your words, as you go out of that house or that city, shake off the dust from your feet.</span>
  <span class="verse" title="Matthew 10:15" id="Matthew-10-15">Most certainly I tell you, it will be more tolerable for the land of Sodom and Gomorrah in the day of judgment than for that city.</span>
  <span class="verse" title="Matthew 10:16" id="Matthew-10-16">&#8220;Behold, I send you out as sheep in the midst of wolves. Therefore be wise as serpents, and harmless as doves.</span>
  <span class="verse" title="Matthew 10:17" id="Matthew-10-17">But beware of men: for they will deliver you up to councils, and in their synagogues they will scourge you.</span>
  <span class="verse" title="Matthew 10:18" id="Matthew-10-18">Yes, and you will be brought before governors and kings for my sake, for a testimony to them and to the nations.</span>
  <span class="verse" title="Matthew 10:19" id="Matthew-10-19">But when they deliver you up, don&#8217;t be anxious how or what you will say, for it will be given you in that hour what you will say.</span>
  <span class="verse" title="Matthew 10:20" id="Matthew-10-20">For it is not you who speak, but the Spirit of your Father who speaks in you.</span>
  <span class="verse" title="Matthew 10:21" id="Matthew-10-21">&#8220;Brother will deliver up brother to death, and the father his child. Children will rise up against parents, and cause them to be put to death.</span>
  <span class="verse" title="Matthew 10:22" id="Matthew-10-22">You will be hated by all men for my name&#8217;s sake, but he who endures to the end will be saved.</span>
  <span class="verse" title="Matthew 10:23" id="Matthew-10-23">But when they persecute you in this city, flee into the next, for most certainly I tell you, you will not have gone through the cities of Israel, until the Son of Man has come.</span>
  <span class="verse" title="Matthew 10:24" id="Matthew-10-24">&#8220;A disciple is not above his teacher, nor a servant above his lord.</span>
  <span class="verse" title="Matthew 10:25" id="Matthew-10-25">It is enough for the disciple that he be like his teacher, and the servant like his lord. If they have called the master of the house Beelzebul, how much more those of his household!</span>
  <span class="verse" title="Matthew 10:26" id="Matthew-10-26">Therefore don&#8217;t be afraid of them, for there is nothing covered that will not be revealed; and hidden that will not be known.</span>
  <span class="verse" title="Matthew 10:27" id="Matthew-10-27">What I tell you in the darkness, speak in the light; and what you hear whispered in the ear, proclaim on the housetops.</span>
  <span class="verse" title="Matthew 10:28" id="Matthew-10-28">Don&#8217;t be afraid of those who kill the body, but are not able to kill the soul. Rather, fear him who is able to destroy both soul and body in Gehenna.</span>
  <span class="verse" title="Matthew 10:29" id="Matthew-10-29">&#8220;Aren&#8217;t two sparrows sold for an assarion coin? Not one of them falls on the ground apart from your Father&#8217;s will,</span>
  <span class="verse" title="Matthew 10:30" id="Matthew-10-30">but the very hairs of your head are all numbered.</span>
  <span class="verse" title="Matthew 10:31" id="Matthew-10-31">Therefore don&#8217;t be afraid. You are of more value than many sparrows.</span>
  <span class="verse" title="Matthew 10:32" id="Matthew-10-32">Everyone therefore who confesses me before men, him I will also confess before my Father who is in heaven.</span>
  <span class="verse" title="Matthew 10:33" id="Matthew-10-33">But whoever denies me before men, him I will also deny before my Father who is in heaven.</span>
  <span class="verse" title="Matthew 10:34" id="Matthew-10-34">&#8220;Don&#8217;t think that I came to send peace on the earth. I didn&#8217;t come to send peace, but a sword.</span>
  <span class="verse" title="Matthew 10:35" id="Matthew-10-35">For I came to set a man at odds against his father, and a daughter against her mother, and a daughter-in-law against her mother-in-law.</span>
  <span class="verse" title="Matthew 10:36" id="Matthew-10-36">A man&#8217;s foes will be those of his own household.</span>
  <span class="verse" title="Matthew 10:37" id="Matthew-10-37">He who loves father or mother more than me is not worthy of me; and he who loves son or daughter more than me isn&#8217;t worthy of me.</span>
  <span class="verse" title="Matthew 10:38" id="Matthew-10-38">He who doesn&#8217;t take his cross and follow after me, isn&#8217;t worthy of me.</span>
  <span class="verse" title="Matthew 10:39" id="Matthew-10-39">He who seeks his life will lose it; and he who loses his life for my sake will find it.</span>
  <span class="verse" title="Matthew 10:40" id="Matthew-10-40">He who receives you receives me, and he who receives me receives him who sent me.</span>
  <span class="verse" title="Matthew 10:41" id="Matthew-10-41">He who receives a prophet in the name of a prophet will receive a prophet&#8217;s reward. He who receives a righteous man in the name of a righteous man will receive a righteous man&#8217;s reward.</span>
  <span class="verse" title="Matthew 10:42" id="Matthew-10-42">Whoever gives one of these little ones just a cup of cold water to drink in the name of a disciple, most certainly I tell you he will in no way lose his reward.&#8221;</span>
</div>