<div class="chapter" id="Matthew-011">
  <h2>Matthew 11</h2>
  <span class="verse" title="Matthew 11:1" id="Matthew-11-1">It happened that when Jesus had finished directing his twelve disciples, he departed from there to teach and preach in their cities.</span>
  <span class="verse" title="Matthew 11:2" id="Matthew-11-2">Now when John heard in the prison the works of Christ, he sent two of his disciples</span>
  <span class="verse" title="Matthew 11:3" id="Matthew-11-3">and said to him, &#8220;Are you he who comes, or should we look for another?&#8221;</span>
  <span class="verse" title="Matthew 11:4" id="Matthew-11-4">Jesus answered them, &#8220;Go and tell John the things which you hear and see:</span>
  <span class="verse" title="Matthew 11:5" id="Matthew-11-5">the blind receive their sight, the lame walk, the lepers are cleansed, the deaf hear, the dead are raised up, and the poor have good news preached to them.</span>
  <span class="verse" title="Matthew 11:6" id="Matthew-11-6">Blessed is he who finds no occasion for stumbling in me.&#8221;</span>
  <span class="verse" title="Matthew 11:7" id="Matthew-11-7">As these went their way, Jesus began to say to the multitudes concerning John, &#8220;What did you go out into the wilderness to see? A reed shaken by the wind?</span>
  <span class="verse" title="Matthew 11:8" id="Matthew-11-8">But what did you go out to see? A man in soft clothing? Behold, those who wear soft clothing are in king&#8217;s houses.</span>
  <span class="verse" title="Matthew 11:9" id="Matthew-11-9">But why did you go out? To see a prophet? Yes, I tell you, and much more than a prophet.</span>
  <span class="verse" title="Matthew 11:10" id="Matthew-11-10">For this is he, of whom it is written, &#8216;Behold, I send my messenger before your face, who will prepare your way before you.&#8217;</span>
  <span class="verse" title="Matthew 11:11" id="Matthew-11-11">Most certainly I tell you, among those who are born of women there has not arisen anyone greater than John the Baptizer; yet he who is least in the Kingdom of Heaven is greater than he.</span>
  <span class="verse" title="Matthew 11:12" id="Matthew-11-12">From the days of John the Baptizer until now, the Kingdom of Heaven suffers violence, and the violent take it by force.</span>
  <span class="verse" title="Matthew 11:13" id="Matthew-11-13">For all the prophets and the law prophesied until John.</span>
  <span class="verse" title="Matthew 11:14" id="Matthew-11-14">If you are willing to receive it, this is Elijah, who is to come.</span>
  <span class="verse" title="Matthew 11:15" id="Matthew-11-15">He who has ears to hear, let him hear.</span>
  <span class="verse" title="Matthew 11:16" id="Matthew-11-16">&#8220;But to what shall I compare this generation? It is like children sitting in the marketplaces, who call to their companions</span>
  <span class="verse" title="Matthew 11:17" id="Matthew-11-17">and say, &#8216;We played the flute for you, and you didn&#8217;t dance. We mourned for you, and you didn&#8217;t lament.&#8217;</span>
  <span class="verse" title="Matthew 11:18" id="Matthew-11-18">For John came neither eating nor drinking, and they say, &#8216;He has a demon.&#8217;</span>
  <span class="verse" title="Matthew 11:19" id="Matthew-11-19">The Son of Man came eating and drinking, and they say, &#8216;Behold, a gluttonous man and a drunkard, a friend of tax collectors and sinners!&#8217; But wisdom is justified by her children.&#8221;</span>
  <span class="verse" title="Matthew 11:20" id="Matthew-11-20">Then he began to denounce the cities in which most of his mighty works had been done, because they didn&#8217;t repent.</span>
  <span class="verse" title="Matthew 11:21" id="Matthew-11-21">&#8220;Woe to you, Chorazin! Woe to you, Bethsaida! For if the mighty works had been done in Tyre and Sidon which were done in you, they would have repented long ago in sackcloth and ashes.</span>
  <span class="verse" title="Matthew 11:22" id="Matthew-11-22">But I tell you, it will be more tolerable for Tyre and Sidon on the day of judgment than for you.</span>
  <span class="verse" title="Matthew 11:23" id="Matthew-11-23">You, Capernaum, who are exalted to heaven, you will go down to Hades. For if the mighty works had been done in Sodom which were done in you, it would have remained until this day.</span>
  <span class="verse" title="Matthew 11:24" id="Matthew-11-24">But I tell you that it will be more tolerable for the land of Sodom, on the day of judgment, than for you.&#8221;</span>
  <span class="verse" title="Matthew 11:25" id="Matthew-11-25">At that time, Jesus answered, &#8220;I thank you, Father, Lord of heaven and earth, that you hid these things from the wise and understanding, and revealed them to infants.</span>
  <span class="verse" title="Matthew 11:26" id="Matthew-11-26">Yes, Father, for so it was well-pleasing in your sight.</span>
  <span class="verse" title="Matthew 11:27" id="Matthew-11-27">All things have been delivered to me by my Father. No one knows the Son, except the Father; neither does anyone know the Father, except the Son, and he to whom the Son desires to reveal him.</span>
  <span class="verse" title="Matthew 11:28" id="Matthew-11-28">&#8220;Come to me, all you who labor and are heavily burdened, and I will give you rest.</span>
  <span class="verse" title="Matthew 11:29" id="Matthew-11-29">Take my yoke upon you, and learn from me, for I am gentle and lowly in heart; and you will find rest for your souls.</span>
  <span class="verse" title="Matthew 11:30" id="Matthew-11-30">For my yoke is easy, and my burden is light.&#8221;</span>
</div>