<div class="chapter" id="Matthew-012">
  <h2>Matthew 12</h2>
  <span class="verse" title="Matthew 12:1" id="Matthew-12-1">At that time, Jesus went on the Sabbath day through the grain fields. His disciples were hungry and began to pluck heads of grain and to eat.</span>
  <span class="verse" title="Matthew 12:2" id="Matthew-12-2">But the Pharisees, when they saw it, said to him, &#8220;Behold, your disciples do what is not lawful to do on the Sabbath.&#8221;</span>
  <span class="verse" title="Matthew 12:3" id="Matthew-12-3">But he said to them, &#8220;Haven&#8217;t you read what David did, when he was hungry, and those who were with him;</span>
  <span class="verse" title="Matthew 12:4" id="Matthew-12-4">how he entered into the house of God, and ate the show bread, which was not lawful for him to eat, neither for those who were with him, but only for the priests?</span>
  <span class="verse" title="Matthew 12:5" id="Matthew-12-5">Or have you not read in the law, that on the Sabbath day, the priests in the temple profane the Sabbath, and are guiltless?</span>
  <span class="verse" title="Matthew 12:6" id="Matthew-12-6">But I tell you that one greater than the temple is here.</span>
  <span class="verse" title="Matthew 12:7" id="Matthew-12-7">But if you had known what this means, &#8216;I desire mercy, and not sacrifice,&#8217; you would not have condemned the guiltless.</span>
  <span class="verse" title="Matthew 12:8" id="Matthew-12-8">For the Son of Man is Lord of the Sabbath.&#8221;</span>
  <span class="verse" title="Matthew 12:9" id="Matthew-12-9">He departed there, and went into their synagogue.</span>
  <span class="verse" title="Matthew 12:10" id="Matthew-12-10">And behold there was a man with a withered hand. They asked him, &#8220;Is it lawful to heal on the Sabbath day?&#8221; that they might accuse him.</span>
  <span class="verse" title="Matthew 12:11" id="Matthew-12-11">He said to them, &#8220;What man is there among you, who has one sheep, and if this one falls into a pit on the Sabbath day, won&#8217;t he grab on to it, and lift it out?</span>
  <span class="verse" title="Matthew 12:12" id="Matthew-12-12">Of how much more value then is a man than a sheep! Therefore it is lawful to do good on the Sabbath day.&#8221;</span>
  <span class="verse" title="Matthew 12:13" id="Matthew-12-13">Then he told the man, &#8220;Stretch out your hand.&#8221; He stretched it out; and it was restored whole, just like the other.</span>
  <span class="verse" title="Matthew 12:14" id="Matthew-12-14">But the Pharisees went out, and conspired against him, how they might destroy him.</span>
  <span class="verse" title="Matthew 12:15" id="Matthew-12-15">Jesus, perceiving that, withdrew from there. Great multitudes followed him; and he healed them all,</span>
  <span class="verse" title="Matthew 12:16" id="Matthew-12-16">and commanded them that they should not make him known:</span>
  <span class="verse" title="Matthew 12:17" id="Matthew-12-17">that it might be fulfilled which was spoken through Isaiah the prophet, saying,</span>
  <span class="verse" title="Matthew 12:18" id="Matthew-12-18">&#8220;Behold, my servant whom I have chosen;<br/> <span class="indent">&nbsp;&nbsp;</span>my beloved in whom my soul is well pleased:<br/>   I will put my Spirit on him.<br/> <span class="indent">&nbsp;&nbsp;</span>He will proclaim justice to the nations.<br/></span>
  <span class="verse" title="Matthew 12:19" id="Matthew-12-19">He will not strive, nor shout;<br/> <span class="indent">&nbsp;&nbsp;</span>neither will anyone hear his voice in the streets.<br/></span>
  <span class="verse" title="Matthew 12:20" id="Matthew-12-20">He won&#8217;t break a bruised reed.<br/> <span class="indent">&nbsp;&nbsp;</span>He won&#8217;t quench a smoking flax,<br/>   until he leads justice to victory.<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Matthew 12:21" id="Matthew-12-21">In his name, the nations will hope.&#8221;<br/></span>
  <span class="verse" title="Matthew 12:22" id="Matthew-12-22">Then one possessed by a demon, blind and mute, was brought to him and he healed him, so that the blind and mute man both spoke and saw.</span>
  <span class="verse" title="Matthew 12:23" id="Matthew-12-23">All the multitudes were amazed, and said, &#8220;Can this be the son of David?&#8221;</span>
  <span class="verse" title="Matthew 12:24" id="Matthew-12-24">But when the Pharisees heard it, they said, &#8220;This man does not cast out demons, except by Beelzebul, the prince of the demons.&#8221;</span>
  <span class="verse" title="Matthew 12:25" id="Matthew-12-25">Knowing their thoughts, Jesus said to them, &#8220;Every kingdom divided against itself is brought to desolation, and every city or house divided against itself will not stand.</span>
  <span class="verse" title="Matthew 12:26" id="Matthew-12-26">If Satan casts out Satan, he is divided against himself. How then will his kingdom stand?</span>
  <span class="verse" title="Matthew 12:27" id="Matthew-12-27">If I by Beelzebul cast out demons, by whom do your children cast them out? Therefore they will be your judges.</span>
  <span class="verse" title="Matthew 12:28" id="Matthew-12-28">But if I by the Spirit of God cast out demons, then the Kingdom of God has come upon you.</span>
  <span class="verse" title="Matthew 12:29" id="Matthew-12-29">Or how can one enter into the house of the strong man, and plunder his goods, unless he first bind the strong man? Then he will plunder his house.</span>
  <span class="verse" title="Matthew 12:30" id="Matthew-12-30">&#8220;He who is not with me is against me, and he who doesn&#8217;t gather with me, scatters.</span>
  <span class="verse" title="Matthew 12:31" id="Matthew-12-31">Therefore I tell you, every sin and blasphemy will be forgiven men, but the blasphemy against the Spirit will not be forgiven men.</span>
  <span class="verse" title="Matthew 12:32" id="Matthew-12-32">Whoever speaks a word against the Son of Man, it will be forgiven him; but whoever speaks against the Holy Spirit, it will not be forgiven him, neither in this age, nor in that which is to come.</span>
  <span class="verse" title="Matthew 12:33" id="Matthew-12-33">&#8220;Either make the tree good, and its fruit good, or make the tree corrupt, and its fruit corrupt; for the tree is known by its fruit.</span>
  <span class="verse" title="Matthew 12:34" id="Matthew-12-34">You offspring of vipers, how can you, being evil, speak good things? For out of the abundance of the heart, the mouth speaks.</span>
  <span class="verse" title="Matthew 12:35" id="Matthew-12-35">The good man out of his good treasure brings out good things, and the evil man out of his evil treasure brings out evil things.</span>
  <span class="verse" title="Matthew 12:36" id="Matthew-12-36">I tell you that every idle word that men speak, they will give account of it in the day of judgment.</span>
  <span class="verse" title="Matthew 12:37" id="Matthew-12-37">For by your words you will be justified, and by your words you will be condemned.&#8221;</span>
  <span class="verse" title="Matthew 12:38" id="Matthew-12-38">Then certain of the scribes and Pharisees answered, &#8220;Teacher, we want to see a sign from you.&#8221;</span>
  <span class="verse" title="Matthew 12:39" id="Matthew-12-39">But he answered them, &#8220;An evil and adulterous generation seeks after a sign, but no sign will be given it but the sign of Jonah the prophet.</span>
  <span class="verse" title="Matthew 12:40" id="Matthew-12-40">For as Jonah was three days and three nights in the belly of the whale, so will the Son of Man be three days and three nights in the heart of the earth.</span>
  <span class="verse" title="Matthew 12:41" id="Matthew-12-41">The men of Nineveh will stand up in the judgment with this generation, and will condemn it, for they repented at the preaching of Jonah; and behold, someone greater than Jonah is here.</span>
  <span class="verse" title="Matthew 12:42" id="Matthew-12-42">The queen of the south will rise up in the judgment with this generation, and will condemn it, for she came from the ends of the earth to hear the wisdom of Solomon; and behold, someone greater than Solomon is here.</span>
  <span class="verse" title="Matthew 12:43" id="Matthew-12-43">But the unclean spirit, when he is gone out of the man, passes through waterless places, seeking rest, and doesn&#8217;t find it.</span>
  <span class="verse" title="Matthew 12:44" id="Matthew-12-44">Then he says, &#8216;I will return into my house from which I came out,&#8217; and when he has come back, he finds it empty, swept, and put in order.</span>
  <span class="verse" title="Matthew 12:45" id="Matthew-12-45">Then he goes, and takes with himself seven other spirits more evil than he is, and they enter in and dwell there. The last state of that man becomes worse than the first. Even so will it be also to this evil generation.&#8221;</span>
  <span class="verse" title="Matthew 12:46" id="Matthew-12-46">While he was yet speaking to the multitudes, behold, his mother and his brothers stood outside, seeking to speak to him.</span>
  <span class="verse" title="Matthew 12:47" id="Matthew-12-47">One said to him, &#8220;Behold, your mother and your brothers stand outside, seeking to speak to you.&#8221;</span>
  <span class="verse" title="Matthew 12:48" id="Matthew-12-48">But he answered him who spoke to him, &#8220;Who is my mother? Who are my brothers?&#8221;</span>
  <span class="verse" title="Matthew 12:49" id="Matthew-12-49">He stretched out his hand towards his disciples, and said, &#8220;Behold, my mother and my brothers!</span>
  <span class="verse" title="Matthew 12:50" id="Matthew-12-50">For whoever does the will of my Father who is in heaven, he is my brother, and sister, and mother.&#8221;</span>
</div>