<div class="chapter" id="Matthew-013">
  <h2>Matthew 13</h2>
  <span class="verse" title="Matthew 13:1" id="Matthew-13-1">On that day Jesus went out of the house, and sat by the seaside.</span>
  <span class="verse" title="Matthew 13:2" id="Matthew-13-2">Great multitudes gathered to him, so that he entered into a boat, and sat, and all the multitude stood on the beach.</span>
  <span class="verse" title="Matthew 13:3" id="Matthew-13-3">He spoke to them many things in parables, saying, &#8220;Behold, a farmer went out to sow.</span>
  <span class="verse" title="Matthew 13:4" id="Matthew-13-4">As he sowed, some seeds fell by the roadside, and the birds came and devoured them.</span>
  <span class="verse" title="Matthew 13:5" id="Matthew-13-5">Others fell on rocky ground, where they didn&#8217;t have much soil, and immediately they sprang up, because they had no depth of earth.</span>
  <span class="verse" title="Matthew 13:6" id="Matthew-13-6">When the sun had risen, they were scorched. Because they had no root, they withered away.</span>
  <span class="verse" title="Matthew 13:7" id="Matthew-13-7">Others fell among thorns. The thorns grew up and choked them.</span>
  <span class="verse" title="Matthew 13:8" id="Matthew-13-8">Others fell on good soil, and yielded fruit: some one hundred times as much, some sixty, and some thirty.</span>
  <span class="verse" title="Matthew 13:9" id="Matthew-13-9">He who has ears to hear, let him hear.&#8221;</span>
  <span class="verse" title="Matthew 13:10" id="Matthew-13-10">The disciples came, and said to him, &#8220;Why do you speak to them in parables?&#8221;</span>
  <span class="verse" title="Matthew 13:11" id="Matthew-13-11">He answered them, &#8220;To you it is given to know the mysteries of the Kingdom of Heaven, but it is not given to them.</span>
  <span class="verse" title="Matthew 13:12" id="Matthew-13-12">For whoever has, to him will be given, and he will have abundance, but whoever doesn&#8217;t have, from him will be taken away even that which he has.</span>
  <span class="verse" title="Matthew 13:13" id="Matthew-13-13">Therefore I speak to them in parables, because seeing they don&#8217;t see, and hearing, they don&#8217;t hear, neither do they understand.</span>
  <span class="verse" title="Matthew 13:14" id="Matthew-13-14">In them the prophecy of Isaiah is fulfilled, which says,   &#8216;By hearing you will hear,<br/> <span class="indent">&nbsp;&nbsp;</span>and will in no way understand;<br/>   Seeing you will see,<br/> <span class="indent">&nbsp;&nbsp;</span>and will in no way perceive:<br/></span>
  <span class="verse" title="Matthew 13:15" id="Matthew-13-15">for this people&#8217;s heart has grown callous,<br/> <span class="indent">&nbsp;&nbsp;</span>their ears are dull of hearing,<br/> <span class="indent">&nbsp;&nbsp;</span>they have closed their eyes;<br/>   or else perhaps they might perceive with their eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>hear with their ears,<br/> <span class="indent">&nbsp;&nbsp;</span>understand with their heart,<br/>   and should turn again;<br/> <span class="indent">&nbsp;&nbsp;</span>and I would heal them.&#8217;<br/></span>
  <span class="verse" title="Matthew 13:16" id="Matthew-13-16">&#8220;But blessed are your eyes, for they see; and your ears, for they hear.</span>
  <span class="verse" title="Matthew 13:17" id="Matthew-13-17">For most certainly I tell you that many prophets and righteous men desired to see the things which you see, and didn&#8217;t see them; and to hear the things which you hear, and didn&#8217;t hear them.</span>
  <span class="verse" title="Matthew 13:18" id="Matthew-13-18">&#8220;Hear, then, the parable of the farmer.</span>
  <span class="verse" title="Matthew 13:19" id="Matthew-13-19">When anyone hears the word of the Kingdom, and doesn&#8217;t understand it, the evil one comes, and snatches away that which has been sown in his heart. This is what was sown by the roadside.</span>
  <span class="verse" title="Matthew 13:20" id="Matthew-13-20">What was sown on the rocky places, this is he who hears the word, and immediately with joy receives it;</span>
  <span class="verse" title="Matthew 13:21" id="Matthew-13-21">yet he has no root in himself, but endures for a while. When oppression or persecution arises because of the word, immediately he stumbles.</span>
  <span class="verse" title="Matthew 13:22" id="Matthew-13-22">What was sown among the thorns, this is he who hears the word, but the cares of this age and the deceitfulness of riches choke the word, and he becomes unfruitful.</span>
  <span class="verse" title="Matthew 13:23" id="Matthew-13-23">What was sown on the good ground, this is he who hears the word, and understands it, who most certainly bears fruit, and brings forth, some one hundred times as much, some sixty, and some thirty.&#8221;</span>
  <span class="verse" title="Matthew 13:24" id="Matthew-13-24">He set another parable before them, saying, &#8220;The Kingdom of Heaven is like a man who sowed good seed in his field,</span>
  <span class="verse" title="Matthew 13:25" id="Matthew-13-25">but while people slept, his enemy came and sowed darnel weeds also among the wheat, and went away.</span>
  <span class="verse" title="Matthew 13:26" id="Matthew-13-26">But when the blade sprang up and brought forth fruit, then the darnel weeds appeared also.</span>
  <span class="verse" title="Matthew 13:27" id="Matthew-13-27">The servants of the householder came and said to him, &#8216;Sir, didn&#8217;t you sow good seed in your field? Where did this darnel come from?&#8217;</span>
  <span class="verse" title="Matthew 13:28" id="Matthew-13-28">&#8220;He said to them, &#8216;An enemy has done this.&#8217; &#8220;The servants asked him, &#8216;Do you want us to go and gather them up?&#8217;</span>
  <span class="verse" title="Matthew 13:29" id="Matthew-13-29">&#8220;But he said, &#8216;No, lest perhaps while you gather up the darnel weeds, you root up the wheat with them.</span>
  <span class="verse" title="Matthew 13:30" id="Matthew-13-30">Let both grow together until the harvest, and in the harvest time I will tell the reapers, &#8220;First, gather up the darnel weeds, and bind them in bundles to burn them; but gather the wheat into my barn.&#8221;&#8217;&#8221;</span>
  <span class="verse" title="Matthew 13:31" id="Matthew-13-31">He set another parable before them, saying, &#8220;The Kingdom of Heaven is like a grain of mustard seed, which a man took, and sowed in his field;</span>
  <span class="verse" title="Matthew 13:32" id="Matthew-13-32">which indeed is smaller than all seeds. But when it is grown, it is greater than the herbs, and becomes a tree, so that the birds of the air come and lodge in its branches.&#8221;</span>
  <span class="verse" title="Matthew 13:33" id="Matthew-13-33">He spoke another parable to them. &#8220;The Kingdom of Heaven is like yeast, which a woman took, and hid in three measures of meal, until it was all leavened.&#8221;</span>
  <span class="verse" title="Matthew 13:34" id="Matthew-13-34">Jesus spoke all these things in parables to the multitudes; and without a parable, he didn&#8217;t speak to them,</span>
  <span class="verse" title="Matthew 13:35" id="Matthew-13-35">that it might be fulfilled which was spoken through the prophet, saying,   &#8220;I will open my mouth in parables;<br/> <span class="indent">&nbsp;&nbsp;</span>I will utter things hidden from the foundation of the world.&#8221;<br/></span>
  <span class="verse" title="Matthew 13:36" id="Matthew-13-36">Then Jesus sent the multitudes away, and went into the house. His disciples came to him, saying, &#8220;Explain to us the parable of the darnel weeds of the field.&#8221;</span>
  <span class="verse" title="Matthew 13:37" id="Matthew-13-37">He answered them, &#8220;He who sows the good seed is the Son of Man,</span>
  <span class="verse" title="Matthew 13:38" id="Matthew-13-38">the field is the world; and the good seed, these are the children of the Kingdom; and the darnel weeds are the children of the evil one.</span>
  <span class="verse" title="Matthew 13:39" id="Matthew-13-39">The enemy who sowed them is the devil. The harvest is the end of the age, and the reapers are angels.</span>
  <span class="verse" title="Matthew 13:40" id="Matthew-13-40">As therefore the darnel weeds are gathered up and burned with fire; so will it be at the end of this age.</span>
  <span class="verse" title="Matthew 13:41" id="Matthew-13-41">The Son of Man will send out his angels, and they will gather out of his Kingdom all things that cause stumbling, and those who do iniquity,</span>
  <span class="verse" title="Matthew 13:42" id="Matthew-13-42">and will cast them into the furnace of fire. There will be weeping and the gnashing of teeth.</span>
  <span class="verse" title="Matthew 13:43" id="Matthew-13-43">Then the righteous will shine forth like the sun in the Kingdom of their Father. He who has ears to hear, let him hear.</span>
  <span class="verse" title="Matthew 13:44" id="Matthew-13-44">&#8220;Again, the Kingdom of Heaven is like a treasure hidden in the field, which a man found, and hid. In his joy, he goes and sells all that he has, and buys that field.</span>
  <span class="verse" title="Matthew 13:45" id="Matthew-13-45">&#8220;Again, the Kingdom of Heaven is like a man who is a merchant seeking fine pearls,</span>
  <span class="verse" title="Matthew 13:46" id="Matthew-13-46">who having found one pearl of great price, he went and sold all that he had, and bought it.</span>
  <span class="verse" title="Matthew 13:47" id="Matthew-13-47">&#8220;Again, the Kingdom of Heaven is like a dragnet, that was cast into the sea, and gathered some fish of every kind,</span>
  <span class="verse" title="Matthew 13:48" id="Matthew-13-48">which, when it was filled, they drew up on the beach. They sat down, and gathered the good into containers, but the bad they threw away.</span>
  <span class="verse" title="Matthew 13:49" id="Matthew-13-49">So will it be in the end of the world. The angels will come forth, and separate the wicked from among the righteous,</span>
  <span class="verse" title="Matthew 13:50" id="Matthew-13-50">and will cast them into the furnace of fire. There will be the weeping and the gnashing of teeth.&#8221;</span>
  <span class="verse" title="Matthew 13:51" id="Matthew-13-51">Jesus said to them, &#8220;Have you understood all these things?&#8221; They answered him, &#8220;Yes, Lord.&#8221;</span>
  <span class="verse" title="Matthew 13:52" id="Matthew-13-52">He said to them, &#8220;Therefore, every scribe who has been made a disciple in the Kingdom of Heaven is like a man who is a householder, who brings out of his treasure new and old things.&#8221;</span>
  <span class="verse" title="Matthew 13:53" id="Matthew-13-53">It happened that when Jesus had finished these parables, he departed from there.</span>
  <span class="verse" title="Matthew 13:54" id="Matthew-13-54">Coming into his own country, he taught them in their synagogue, so that they were astonished, and said, &#8220;Where did this man get this wisdom, and these mighty works?</span>
  <span class="verse" title="Matthew 13:55" id="Matthew-13-55">Isn&#8217;t this the carpenter&#8217;s son? Isn&#8217;t his mother called Mary, and his brothers, James, Joses, Simon, and Judas?</span>
  <span class="verse" title="Matthew 13:56" id="Matthew-13-56">Aren&#8217;t all of his sisters with us? Where then did this man get all of these things?&#8221;</span>
  <span class="verse" title="Matthew 13:57" id="Matthew-13-57">They were offended by him. But Jesus said to them, &#8220;A prophet is not without honor, except in his own country, and in his own house.&#8221;</span>
  <span class="verse" title="Matthew 13:58" id="Matthew-13-58">He didn&#8217;t do many mighty works there because of their unbelief.</span>
</div>