<div class="chapter" id="Matthew-014">
  <h2>Matthew 14</h2>
  <span class="verse" title="Matthew 14:1" id="Matthew-14-1">At that time, Herod the tetrarch heard the report concerning Jesus,</span>
  <span class="verse" title="Matthew 14:2" id="Matthew-14-2">and said to his servants, &#8220;This is John the Baptizer. He is risen from the dead. That is why these powers work in him.&#8221;</span>
  <span class="verse" title="Matthew 14:3" id="Matthew-14-3">For Herod had laid hold of John, and bound him, and put him in prison for the sake of Herodias, his brother Philip&#8217;s wife.</span>
  <span class="verse" title="Matthew 14:4" id="Matthew-14-4">For John said to him, &#8220;It is not lawful for you to have her.&#8221;</span>
  <span class="verse" title="Matthew 14:5" id="Matthew-14-5">When he would have put him to death, he feared the multitude, because they counted him as a prophet.</span>
  <span class="verse" title="Matthew 14:6" id="Matthew-14-6">But when Herod&#8217;s birthday came, the daughter of Herodias danced among them and pleased Herod.</span>
  <span class="verse" title="Matthew 14:7" id="Matthew-14-7">Whereupon he promised with an oath to give her whatever she should ask.</span>
  <span class="verse" title="Matthew 14:8" id="Matthew-14-8">She, being prompted by her mother, said, &#8220;Give me here on a platter the head of John the Baptizer.&#8221;</span>
  <span class="verse" title="Matthew 14:9" id="Matthew-14-9">The king was grieved, but for the sake of his oaths, and of those who sat at the table with him, he commanded it to be given,</span>
  <span class="verse" title="Matthew 14:10" id="Matthew-14-10">and he sent and beheaded John in the prison.</span>
  <span class="verse" title="Matthew 14:11" id="Matthew-14-11">His head was brought on a platter, and given to the young lady: and she brought it to her mother.</span>
  <span class="verse" title="Matthew 14:12" id="Matthew-14-12">His disciples came, and took the body, and buried it; and they went and told Jesus.</span>
  <span class="verse" title="Matthew 14:13" id="Matthew-14-13">Now when Jesus heard this, he withdrew from there in a boat, to a deserted place apart. When the multitudes heard it, they followed him on foot from the cities.</span>
  <span class="verse" title="Matthew 14:14" id="Matthew-14-14">Jesus went out, and he saw a great multitude. He had compassion on them, and healed their sick.</span>
  <span class="verse" title="Matthew 14:15" id="Matthew-14-15">When evening had come, his disciples came to him, saying, &#8220;This place is deserted, and the hour is already late. Send the multitudes away, that they may go into the villages, and buy themselves food.&#8221;</span>
  <span class="verse" title="Matthew 14:16" id="Matthew-14-16">But Jesus said to them, &#8220;They don&#8217;t need to go away. You give them something to eat.&#8221;</span>
  <span class="verse" title="Matthew 14:17" id="Matthew-14-17">They told him, &#8220;We only have here five loaves and two fish.&#8221;</span>
  <span class="verse" title="Matthew 14:18" id="Matthew-14-18">He said, &#8220;Bring them here to me.&#8221;</span>
  <span class="verse" title="Matthew 14:19" id="Matthew-14-19">He commanded the multitudes to sit down on the grass; and he took the five loaves and the two fish, and looking up to heaven, he blessed, broke and gave the loaves to the disciples, and the disciples gave to the multitudes.</span>
  <span class="verse" title="Matthew 14:20" id="Matthew-14-20">They all ate, and were filled. They took up twelve baskets full of that which remained left over from the broken pieces.</span>
  <span class="verse" title="Matthew 14:21" id="Matthew-14-21">Those who ate were about five thousand men, besides women and children.</span>
  <span class="verse" title="Matthew 14:22" id="Matthew-14-22">Immediately Jesus made the disciples get into the boat, and to go ahead of him to the other side, while he sent the multitudes away.</span>
  <span class="verse" title="Matthew 14:23" id="Matthew-14-23">After he had sent the multitudes away, he went up into the mountain by himself to pray. When evening had come, he was there alone.</span>
  <span class="verse" title="Matthew 14:24" id="Matthew-14-24">But the boat was now in the middle of the sea, distressed by the waves, for the wind was contrary.</span>
  <span class="verse" title="Matthew 14:25" id="Matthew-14-25">In the fourth watch of the night, Jesus came to them, walking on the sea.</span>
  <span class="verse" title="Matthew 14:26" id="Matthew-14-26">When the disciples saw him walking on the sea, they were troubled, saying, &#8220;It&#8217;s a ghost!&#8221; and they cried out for fear.</span>
  <span class="verse" title="Matthew 14:27" id="Matthew-14-27">But immediately Jesus spoke to them, saying &#8220;Cheer up! It is I! Don&#8217;t be afraid.&#8221;</span>
  <span class="verse" title="Matthew 14:28" id="Matthew-14-28">Peter answered him and said, &#8220;Lord, if it is you, command me to come to you on the waters.&#8221;</span>
  <span class="verse" title="Matthew 14:29" id="Matthew-14-29">He said, &#8220;Come!&#8221; Peter stepped down from the boat, and walked on the waters to come to Jesus.</span>
  <span class="verse" title="Matthew 14:30" id="Matthew-14-30">But when he saw that the wind was strong, he was afraid, and beginning to sink, he cried out, saying, &#8220;Lord, save me!&#8221;</span>
  <span class="verse" title="Matthew 14:31" id="Matthew-14-31">Immediately Jesus stretched out his hand, took hold of him, and said to him, &#8220;You of little faith, why did you doubt?&#8221;</span>
  <span class="verse" title="Matthew 14:32" id="Matthew-14-32">When they got up into the boat, the wind ceased.</span>
  <span class="verse" title="Matthew 14:33" id="Matthew-14-33">Those who were in the boat came and worshiped him, saying, &#8220;You are truly the Son of God!&#8221;</span>
  <span class="verse" title="Matthew 14:34" id="Matthew-14-34">When they had crossed over, they came to the land of Gennesaret.</span>
  <span class="verse" title="Matthew 14:35" id="Matthew-14-35">When the people of that place recognized him, they sent into all that surrounding region, and brought to him all who were sick,</span>
  <span class="verse" title="Matthew 14:36" id="Matthew-14-36">and they begged him that they might just touch the fringe of his garment. As many as touched it were made whole.</span>
</div>