<div class="chapter" id="Matthew-015">
  <h2>Matthew 15</h2>
  <span class="verse" title="Matthew 15:1" id="Matthew-15-1">Then Pharisees and scribes came to Jesus from Jerusalem, saying,</span>
  <span class="verse" title="Matthew 15:2" id="Matthew-15-2">&#8220;Why do your disciples disobey the tradition of the elders? For they don&#8217;t wash their hands when they eat bread.&#8221;</span>
  <span class="verse" title="Matthew 15:3" id="Matthew-15-3">He answered them, &#8220;Why do you also disobey the commandment of God because of your tradition?</span>
  <span class="verse" title="Matthew 15:4" id="Matthew-15-4">For God commanded, &#8216;Honor your father and your mother,&#8217; and, &#8216;He who speaks evil of father or mother, let him be put to death.&#8217;</span>
  <span class="verse" title="Matthew 15:5" id="Matthew-15-5">But you say, &#8216;Whoever may tell his father or his mother, &#8220;Whatever help you might otherwise have gotten from me is a gift devoted to God,&#8221;</span>
  <span class="verse" title="Matthew 15:6" id="Matthew-15-6">he shall not honor his father or mother.&#8217; You have made the commandment of God void because of your tradition.</span>
  <span class="verse" title="Matthew 15:7" id="Matthew-15-7">You hypocrites! Well did Isaiah prophesy of you, saying,</span>
  <span class="verse" title="Matthew 15:8" id="Matthew-15-8">&#8216;These people draw near to me with their mouth,<br/> <span class="indent">&nbsp;&nbsp;</span>and honor me with their lips;<br/> <span class="indent">&nbsp;&nbsp;</span>but their heart is far from me.<br/></span>
  <span class="verse" title="Matthew 15:9" id="Matthew-15-9">And in vain do they worship me,<br/> <span class="indent">&nbsp;&nbsp;</span>teaching as doctrine rules made by men.&#8217;&#8221;<br/></span>
  <span class="verse" title="Matthew 15:10" id="Matthew-15-10">He summoned the multitude, and said to them, &#8220;Hear, and understand.</span>
  <span class="verse" title="Matthew 15:11" id="Matthew-15-11">That which enters into the mouth doesn&#8217;t defile the man; but that which proceeds out of the mouth, this defiles the man.&#8221;</span>
  <span class="verse" title="Matthew 15:12" id="Matthew-15-12">Then the disciples came, and said to him, &#8220;Do you know that the Pharisees were offended, when they heard this saying?&#8221;</span>
  <span class="verse" title="Matthew 15:13" id="Matthew-15-13">But he answered, &#8220;Every plant which my heavenly Father didn&#8217;t plant will be uprooted.</span>
  <span class="verse" title="Matthew 15:14" id="Matthew-15-14">Leave them alone. They are blind guides of the blind. If the blind guide the blind, both will fall into a pit.&#8221;</span>
  <span class="verse" title="Matthew 15:15" id="Matthew-15-15">Peter answered him, &#8220;Explain the parable to us.&#8221;</span>
  <span class="verse" title="Matthew 15:16" id="Matthew-15-16">So Jesus said, &#8220;Do you also still not understand?</span>
  <span class="verse" title="Matthew 15:17" id="Matthew-15-17">Don&#8217;t you understand that whatever goes into the mouth passes into the belly, and then out of the body?</span>
  <span class="verse" title="Matthew 15:18" id="Matthew-15-18">But the things which proceed out of the mouth come out of the heart, and they defile the man.</span>
  <span class="verse" title="Matthew 15:19" id="Matthew-15-19">For out of the heart come forth evil thoughts, murders, adulteries, sexual sins, thefts, false testimony, and blasphemies.</span>
  <span class="verse" title="Matthew 15:20" id="Matthew-15-20">These are the things which defile the man; but to eat with unwashed hands doesn&#8217;t defile the man.&#8221;</span>
  <span class="verse" title="Matthew 15:21" id="Matthew-15-21">Jesus went out from there, and withdrew into the region of Tyre and Sidon.</span>
  <span class="verse" title="Matthew 15:22" id="Matthew-15-22">Behold, a Canaanite woman came out from those borders, and cried, saying, &#8220;Have mercy on me, Lord, you son of David! My daughter is severely demonized!&#8221;</span>
  <span class="verse" title="Matthew 15:23" id="Matthew-15-23">But he answered her not a word. His disciples came and begged him, saying, &#8220;Send her away; for she cries after us.&#8221;</span>
  <span class="verse" title="Matthew 15:24" id="Matthew-15-24">But he answered, &#8220;I wasn&#8217;t sent to anyone but the lost sheep of the house of Israel.&#8221;</span>
  <span class="verse" title="Matthew 15:25" id="Matthew-15-25">But she came and worshiped him, saying, &#8220;Lord, help me.&#8221;</span>
  <span class="verse" title="Matthew 15:26" id="Matthew-15-26">But he answered, &#8220;It is not appropriate to take the children&#8217;s bread and throw it to the dogs.&#8221;</span>
  <span class="verse" title="Matthew 15:27" id="Matthew-15-27">But she said, &#8220;Yes, Lord, but even the dogs eat the crumbs which fall from their masters&#8217; table.&#8221;</span>
  <span class="verse" title="Matthew 15:28" id="Matthew-15-28">Then Jesus answered her, &#8220;Woman, great is your faith! Be it done to you even as you desire.&#8221; And her daughter was healed from that hour.</span>
  <span class="verse" title="Matthew 15:29" id="Matthew-15-29">Jesus departed there, and came near to the sea of Galilee; and he went up into the mountain, and sat there.</span>
  <span class="verse" title="Matthew 15:30" id="Matthew-15-30">Great multitudes came to him, having with them the lame, blind, mute, maimed, and many others, and they put them down at his feet. He healed them,</span>
  <span class="verse" title="Matthew 15:31" id="Matthew-15-31">so that the multitude wondered when they saw the mute speaking, injured whole, lame walking, and blind seeing—and they glorified the God of Israel.</span>
  <span class="verse" title="Matthew 15:32" id="Matthew-15-32">Jesus summoned his disciples and said, &#8220;I have compassion on the multitude, because they continue with me now three days and have nothing to eat. I don&#8217;t want to send them away fasting, or they might faint on the way.&#8221;</span>
  <span class="verse" title="Matthew 15:33" id="Matthew-15-33">The disciples said to him, &#8220;Where should we get so many loaves in a deserted place as to satisfy so great a multitude?&#8221;</span>
  <span class="verse" title="Matthew 15:34" id="Matthew-15-34">Jesus said to them, &#8220;How many loaves do you have?&#8221; They said, &#8220;Seven, and a few small fish.&#8221;</span>
  <span class="verse" title="Matthew 15:35" id="Matthew-15-35">He commanded the multitude to sit down on the ground;</span>
  <span class="verse" title="Matthew 15:36" id="Matthew-15-36">and he took the seven loaves and the fish. He gave thanks and broke them, and gave to the disciples, and the disciples to the multitudes.</span>
  <span class="verse" title="Matthew 15:37" id="Matthew-15-37">They all ate, and were filled. They took up seven baskets full of the broken pieces that were left over.</span>
  <span class="verse" title="Matthew 15:38" id="Matthew-15-38">Those who ate were four thousand men, besides women and children.</span>
  <span class="verse" title="Matthew 15:39" id="Matthew-15-39">Then he sent away the multitudes, got into the boat, and came into the borders of Magdala.</span>
</div>