<div class="chapter" id="Matthew-016">
  <h2>Matthew 16</h2>
  <span class="verse" title="Matthew 16:1" id="Matthew-16-1">The Pharisees and Sadducees came, and testing him, asked him to show them a sign from heaven.</span>
  <span class="verse" title="Matthew 16:2" id="Matthew-16-2">But he answered them, &#8220;When it is evening, you say, &#8216;It will be fair weather, for the sky is red.&#8217;</span>
  <span class="verse" title="Matthew 16:3" id="Matthew-16-3">In the morning, &#8216;It will be foul weather today, for the sky is red and threatening.&#8217; Hypocrites! You know how to discern the appearance of the sky, but you can&#8217;t discern the signs of the times!</span>
  <span class="verse" title="Matthew 16:4" id="Matthew-16-4">An evil and adulterous generation seeks after a sign, and there will be no sign given to it, except the sign of the prophet Jonah.&#8221; He left them, and departed.</span>
  <span class="verse" title="Matthew 16:5" id="Matthew-16-5">The disciples came to the other side and had forgotten to take bread.</span>
  <span class="verse" title="Matthew 16:6" id="Matthew-16-6">Jesus said to them, &#8220;Take heed and beware of the yeast of the Pharisees and Sadducees.&#8221;</span>
  <span class="verse" title="Matthew 16:7" id="Matthew-16-7">They reasoned among themselves, saying, &#8220;We brought no bread.&#8221;</span>
  <span class="verse" title="Matthew 16:8" id="Matthew-16-8">Jesus, perceiving it, said, &#8220;Why do you reason among yourselves, you of little faith, &#8216;because you have brought no bread?&#8217;</span>
  <span class="verse" title="Matthew 16:9" id="Matthew-16-9">Don&#8217;t you yet perceive, neither remember the five loaves for the five thousand, and how many baskets you took up?</span>
  <span class="verse" title="Matthew 16:10" id="Matthew-16-10">Nor the seven loaves for the four thousand, and how many baskets you took up?</span>
  <span class="verse" title="Matthew 16:11" id="Matthew-16-11">How is it that you don&#8217;t perceive that I didn&#8217;t speak to you concerning bread? But beware of the yeast of the Pharisees and Sadducees.&#8221;</span>
  <span class="verse" title="Matthew 16:12" id="Matthew-16-12">Then they understood that he didn&#8217;t tell them to beware of the yeast of bread, but of the teaching of the Pharisees and Sadducees.</span>
  <span class="verse" title="Matthew 16:13" id="Matthew-16-13">Now when Jesus came into the parts of Caesarea Philippi, he asked his disciples, saying, &#8220;Who do men say that I, the Son of Man, am?&#8221;</span>
  <span class="verse" title="Matthew 16:14" id="Matthew-16-14">They said, &#8220;Some say John the Baptizer, some, Elijah, and others, Jeremiah, or one of the prophets.&#8221;</span>
  <span class="verse" title="Matthew 16:15" id="Matthew-16-15">He said to them, &#8220;But who do you say that I am?&#8221;</span>
  <span class="verse" title="Matthew 16:16" id="Matthew-16-16">Simon Peter answered, &#8220;You are the Christ, the Son of the living God.&#8221;</span>
  <span class="verse" title="Matthew 16:17" id="Matthew-16-17">Jesus answered him, &#8220;Blessed are you, Simon Bar Jonah, for flesh and blood has not revealed this to you, but my Father who is in heaven.</span>
  <span class="verse" title="Matthew 16:18" id="Matthew-16-18">I also tell you that you are Peter, and on this rock I will build my assembly, and the gates of Hades will not prevail against it.</span>
  <span class="verse" title="Matthew 16:19" id="Matthew-16-19">I will give to you the keys of the Kingdom of Heaven, and whatever you bind on earth will have been bound in heaven; and whatever you release on earth will have been released in heaven.&#8221;</span>
  <span class="verse" title="Matthew 16:20" id="Matthew-16-20">Then he commanded the disciples that they should tell no one that he was Jesus the Christ.</span>
  <span class="verse" title="Matthew 16:21" id="Matthew-16-21">From that time, Jesus began to show his disciples that he must go to Jerusalem and suffer many things from the elders, chief priests, and scribes, and be killed, and the third day be raised up.</span>
  <span class="verse" title="Matthew 16:22" id="Matthew-16-22">Peter took him aside, and began to rebuke him, saying, &#8220;Far be it from you, Lord! This will never be done to you.&#8221;</span>
  <span class="verse" title="Matthew 16:23" id="Matthew-16-23">But he turned, and said to Peter, &#8220;Get behind me, Satan! You are a stumbling block to me, for you are not setting your mind on the things of God, but on the things of men.&#8221;</span>
  <span class="verse" title="Matthew 16:24" id="Matthew-16-24">Then Jesus said to his disciples, &#8220;If anyone desires to come after me, let him deny himself, and take up his cross, and follow me.</span>
  <span class="verse" title="Matthew 16:25" id="Matthew-16-25">For whoever desires to save his life will lose it, and whoever will lose his life for my sake will find it.</span>
  <span class="verse" title="Matthew 16:26" id="Matthew-16-26">For what will it profit a man, if he gains the whole world, and forfeits his life? Or what will a man give in exchange for his life?</span>
  <span class="verse" title="Matthew 16:27" id="Matthew-16-27">For the Son of Man will come in the glory of his Father with his angels, and then he will render to everyone according to his deeds.</span>
  <span class="verse" title="Matthew 16:28" id="Matthew-16-28">Most certainly I tell you, there are some standing here who will in no way taste of death, until they see the Son of Man coming in his Kingdom.&#8221;</span>
</div>