<div class="chapter" id="Matthew-017">
  <h2>Matthew 17</h2>
  <span class="verse" title="Matthew 17:1" id="Matthew-17-1">After six days, Jesus took with him Peter, James, and John his brother, and brought them up into a high mountain by themselves.</span>
  <span class="verse" title="Matthew 17:2" id="Matthew-17-2">He was transfigured before them. His face shone like the sun, and his garments became as white as the light.</span>
  <span class="verse" title="Matthew 17:3" id="Matthew-17-3">Behold, Moses and Elijah appeared to them talking with him.</span>
  <span class="verse" title="Matthew 17:4" id="Matthew-17-4">Peter answered, and said to Jesus, &#8220;Lord, it is good for us to be here. If you want, let&#8217;s make three tents here: one for you, one for Moses, and one for Elijah.&#8221;</span>
  <span class="verse" title="Matthew 17:5" id="Matthew-17-5">While he was still speaking, behold, a bright cloud overshadowed them. Behold, a voice came out of the cloud, saying, &#8220;This is my beloved Son, in whom I am well pleased. Listen to him.&#8221;</span>
  <span class="verse" title="Matthew 17:6" id="Matthew-17-6">When the disciples heard it, they fell on their faces, and were very afraid.</span>
  <span class="verse" title="Matthew 17:7" id="Matthew-17-7">Jesus came and touched them and said, &#8220;Get up, and don&#8217;t be afraid.&#8221;</span>
  <span class="verse" title="Matthew 17:8" id="Matthew-17-8">Lifting up their eyes, they saw no one, except Jesus alone.</span>
  <span class="verse" title="Matthew 17:9" id="Matthew-17-9">As they were coming down from the mountain, Jesus commanded them, saying, &#8220;Don&#8217;t tell anyone what you saw, until the Son of Man has risen from the dead.&#8221;</span>
  <span class="verse" title="Matthew 17:10" id="Matthew-17-10">His disciples asked him, saying, &#8220;Then why do the scribes say that Elijah must come first?&#8221;</span>
  <span class="verse" title="Matthew 17:11" id="Matthew-17-11">Jesus answered them, &#8220;Elijah indeed comes first, and will restore all things,</span>
  <span class="verse" title="Matthew 17:12" id="Matthew-17-12">but I tell you that Elijah has come already, and they didn&#8217;t recognize him, but did to him whatever they wanted to. Even so the Son of Man will also suffer by them.&#8221;</span>
  <span class="verse" title="Matthew 17:13" id="Matthew-17-13">Then the disciples understood that he spoke to them of John the Baptizer.</span>
  <span class="verse" title="Matthew 17:14" id="Matthew-17-14">When they came to the multitude, a man came to him, kneeling down to him, saying,</span>
  <span class="verse" title="Matthew 17:15" id="Matthew-17-15">&#8220;Lord, have mercy on my son, for he is epileptic, and suffers grievously; for he often falls into the fire, and often into the water.</span>
  <span class="verse" title="Matthew 17:16" id="Matthew-17-16">So I brought him to your disciples, and they could not cure him.&#8221;</span>
  <span class="verse" title="Matthew 17:17" id="Matthew-17-17">Jesus answered, &#8220;Faithless and perverse generation! How long will I be with you? How long will I bear with you? Bring him here to me.&#8221;</span>
  <span class="verse" title="Matthew 17:18" id="Matthew-17-18">Jesus rebuked him, the demon went out of him, and the boy was cured from that hour.</span>
  <span class="verse" title="Matthew 17:19" id="Matthew-17-19">Then the disciples came to Jesus privately, and said, &#8220;Why weren&#8217;t we able to cast it out?&#8221;</span>
  <span class="verse" title="Matthew 17:20" id="Matthew-17-20">He said to them, &#8220;Because of your unbelief. For most certainly I tell you, if you have faith as a grain of mustard seed, you will tell this mountain, &#8216;Move from here to there,&#8217; and it will move; and nothing will be impossible for you.</span>
  <span class="verse" title="Matthew 17:21" id="Matthew-17-21">But this kind doesn&#8217;t go out except by prayer and fasting.&#8221;</span>
  <span class="verse" title="Matthew 17:22" id="Matthew-17-22">While they were staying in Galilee, Jesus said to them, &#8220;The Son of Man is about to be delivered up into the hands of men,</span>
  <span class="verse" title="Matthew 17:23" id="Matthew-17-23">and they will kill him, and the third day he will be raised up.&#8221; They were exceedingly sorry.</span>
  <span class="verse" title="Matthew 17:24" id="Matthew-17-24">When they had come to Capernaum, those who collected the didrachma coins came to Peter, and said, &#8220;Doesn&#8217;t your teacher pay the didrachma?&#8221;</span>
  <span class="verse" title="Matthew 17:25" id="Matthew-17-25">He said, &#8220;Yes.&#8221; When he came into the house, Jesus anticipated him, saying, &#8220;What do you think, Simon? From whom do the kings of the earth receive toll or tribute? From their children, or from strangers?&#8221;</span>
  <span class="verse" title="Matthew 17:26" id="Matthew-17-26">Peter said to him, &#8220;From strangers.&#8221; Jesus said to him, &#8220;Therefore the children are exempt.</span>
  <span class="verse" title="Matthew 17:27" id="Matthew-17-27">But, lest we cause them to stumble, go to the sea, cast a hook, and take up the first fish that comes up. When you have opened its mouth, you will find a stater coin. Take that, and give it to them for me and you.&#8221;</span>
</div>