<div class="chapter" id="Matthew-018">
  <h2>Matthew 18</h2>
  <span class="verse" title="Matthew 18:1" id="Matthew-18-1">In that hour the disciples came to Jesus, saying, &#8220;Who then is greatest in the Kingdom of Heaven?&#8221;</span>
  <span class="verse" title="Matthew 18:2" id="Matthew-18-2">Jesus called a little child to himself, and set him in their midst,</span>
  <span class="verse" title="Matthew 18:3" id="Matthew-18-3">and said, &#8220;Most certainly I tell you, unless you turn, and become as little children, you will in no way enter into the Kingdom of Heaven.</span>
  <span class="verse" title="Matthew 18:4" id="Matthew-18-4">Whoever therefore humbles himself as this little child, the same is the greatest in the Kingdom of Heaven.</span>
  <span class="verse" title="Matthew 18:5" id="Matthew-18-5">Whoever receives one such little child in my name receives me,</span>
  <span class="verse" title="Matthew 18:6" id="Matthew-18-6">but whoever causes one of these little ones who believe in me to stumble, it would be better for him that a huge millstone should be hung around his neck, and that he should be sunk in the depths of the sea.</span>
  <span class="verse" title="Matthew 18:7" id="Matthew-18-7">&#8220;Woe to the world because of occasions of stumbling! For it must be that the occasions come, but woe to that person through whom the occasion comes!</span>
  <span class="verse" title="Matthew 18:8" id="Matthew-18-8">If your hand or your foot causes you to stumble, cut it off, and cast it from you. It is better for you to enter into life maimed or crippled, rather than having two hands or two feet to be cast into the eternal fire.</span>
  <span class="verse" title="Matthew 18:9" id="Matthew-18-9">If your eye causes you to stumble, pluck it out, and cast it from you. It is better for you to enter into life with one eye, rather than having two eyes to be cast into the Gehenna of fire.</span>
  <span class="verse" title="Matthew 18:10" id="Matthew-18-10">See that you don&#8217;t despise one of these little ones, for I tell you that in heaven their angels always see the face of my Father who is in heaven.</span>
  <span class="verse" title="Matthew 18:11" id="Matthew-18-11">For the Son of Man came to save that which was lost.</span>
  <span class="verse" title="Matthew 18:12" id="Matthew-18-12">&#8220;What do you think? If a man has one hundred sheep, and one of them goes astray, doesn&#8217;t he leave the ninety-nine, go to the mountains, and seek that which has gone astray?</span>
  <span class="verse" title="Matthew 18:13" id="Matthew-18-13">If he finds it, most certainly I tell you, he rejoices over it more than over the ninety-nine which have not gone astray.</span>
  <span class="verse" title="Matthew 18:14" id="Matthew-18-14">Even so it is not the will of your Father who is in heaven that one of these little ones should perish.</span>
  <span class="verse" title="Matthew 18:15" id="Matthew-18-15">&#8220;If your brother sins against you, go, show him his fault between you and him alone. If he listens to you, you have gained back your brother.</span>
  <span class="verse" title="Matthew 18:16" id="Matthew-18-16">But if he doesn&#8217;t listen, take one or two more with you, that at the mouth of two or three witnesses every word may be established.</span>
  <span class="verse" title="Matthew 18:17" id="Matthew-18-17">If he refuses to listen to them, tell it to the assembly. If he refuses to hear the assembly also, let him be to you as a Gentile or a tax collector.</span>
  <span class="verse" title="Matthew 18:18" id="Matthew-18-18">Most certainly I tell you, whatever things you bind on earth will have been bound in heaven, and whatever things you release on earth will have been released in heaven.</span>
  <span class="verse" title="Matthew 18:19" id="Matthew-18-19">Again, assuredly I tell you, that if two of you will agree on earth concerning anything that they will ask, it will be done for them by my Father who is in heaven.</span>
  <span class="verse" title="Matthew 18:20" id="Matthew-18-20">For where two or three are gathered together in my name, there I am in their midst.&#8221;</span>
  <span class="verse" title="Matthew 18:21" id="Matthew-18-21">Then Peter came and said to him, &#8220;Lord, how often shall my brother sin against me, and I forgive him? Until seven times?&#8221;</span>
  <span class="verse" title="Matthew 18:22" id="Matthew-18-22">Jesus said to him, &#8220;I don&#8217;t tell you until seven times, but, until seventy times seven.</span>
  <span class="verse" title="Matthew 18:23" id="Matthew-18-23">Therefore the Kingdom of Heaven is like a certain king, who wanted to reconcile accounts with his servants.</span>
  <span class="verse" title="Matthew 18:24" id="Matthew-18-24">When he had begun to reconcile, one was brought to him who owed him ten thousand talents.</span>
  <span class="verse" title="Matthew 18:25" id="Matthew-18-25">But because he couldn&#8217;t pay, his lord commanded him to be sold, with his wife, his children, and all that he had, and payment to be made.</span>
  <span class="verse" title="Matthew 18:26" id="Matthew-18-26">The servant therefore fell down and kneeled before him, saying, &#8216;Lord, have patience with me, and I will repay you all!&#8217;</span>
  <span class="verse" title="Matthew 18:27" id="Matthew-18-27">The lord of that servant, being moved with compassion, released him, and forgave him the debt.</span>
  <span class="verse" title="Matthew 18:28" id="Matthew-18-28">&#8220;But that servant went out, and found one of his fellow servants, who owed him one hundred denarii, and he grabbed him, and took him by the throat, saying, &#8216;Pay me what you owe!&#8217;</span>
  <span class="verse" title="Matthew 18:29" id="Matthew-18-29">&#8220;So his fellow servant fell down at his feet and begged him, saying, &#8216;Have patience with me, and I will repay you!&#8217;</span>
  <span class="verse" title="Matthew 18:30" id="Matthew-18-30">He would not, but went and cast him into prison, until he should pay back that which was due.</span>
  <span class="verse" title="Matthew 18:31" id="Matthew-18-31">So when his fellow servants saw what was done, they were exceedingly sorry, and came and told to their lord all that was done.</span>
  <span class="verse" title="Matthew 18:32" id="Matthew-18-32">Then his lord called him in, and said to him, &#8216;You wicked servant! I forgave you all that debt, because you begged me.</span>
  <span class="verse" title="Matthew 18:33" id="Matthew-18-33">Shouldn&#8217;t you also have had mercy on your fellow servant, even as I had mercy on you?&#8217;</span>
  <span class="verse" title="Matthew 18:34" id="Matthew-18-34">His lord was angry, and delivered him to the tormentors, until he should pay all that was due to him.</span>
  <span class="verse" title="Matthew 18:35" id="Matthew-18-35">So my heavenly Father will also do to you, if you don&#8217;t each forgive your brother from your hearts for his misdeeds.&#8221;</span>
</div>