<div class="chapter" id="Matthew-019">
  <h2>Matthew 19</h2>
  <span class="verse" title="Matthew 19:1" id="Matthew-19-1">It happened when Jesus had finished these words, he departed from Galilee, and came into the borders of Judea beyond the Jordan.</span>
  <span class="verse" title="Matthew 19:2" id="Matthew-19-2">Great multitudes followed him, and he healed them there.</span>
  <span class="verse" title="Matthew 19:3" id="Matthew-19-3">Pharisees came to him, testing him, and saying, &#8220;Is it lawful for a man to divorce his wife for any reason?&#8221;</span>
  <span class="verse" title="Matthew 19:4" id="Matthew-19-4">He answered, &#8220;Haven&#8217;t you read that he who made them from the beginning made them male and female,</span>
  <span class="verse" title="Matthew 19:5" id="Matthew-19-5">and said, &#8216;For this cause a man shall leave his father and mother, and shall join to his wife; and the two shall become one flesh?&#8217;</span>
  <span class="verse" title="Matthew 19:6" id="Matthew-19-6">So that they are no more two, but one flesh. What therefore God has joined together, don&#8217;t let man tear apart.&#8221;</span>
  <span class="verse" title="Matthew 19:7" id="Matthew-19-7">They asked him, &#8220;Why then did Moses command us to give her a bill of divorce, and divorce her?&#8221;</span>
  <span class="verse" title="Matthew 19:8" id="Matthew-19-8">He said to them, &#8220;Moses, because of the hardness of your hearts, allowed you to divorce your wives, but from the beginning it has not been so.</span>
  <span class="verse" title="Matthew 19:9" id="Matthew-19-9">I tell you that whoever divorces his wife, except for sexual immorality, and marries another, commits adultery; and he who marries her when she is divorced commits adultery.&#8221;</span>
  <span class="verse" title="Matthew 19:10" id="Matthew-19-10">His disciples said to him, &#8220;If this is the case of the man with his wife, it is not expedient to marry.&#8221;</span>
  <span class="verse" title="Matthew 19:11" id="Matthew-19-11">But he said to them, &#8220;Not all men can receive this saying, but those to whom it is given.</span>
  <span class="verse" title="Matthew 19:12" id="Matthew-19-12">For there are eunuchs who were born that way from their mother&#8217;s womb, and there are eunuchs who were made eunuchs by men; and there are eunuchs who made themselves eunuchs for the Kingdom of Heaven&#8217;s sake. He who is able to receive it, let him receive it.&#8221;</span>
  <span class="verse" title="Matthew 19:13" id="Matthew-19-13">Then little children were brought to him, that he should lay his hands on them and pray; and the disciples rebuked them.</span>
  <span class="verse" title="Matthew 19:14" id="Matthew-19-14">But Jesus said, &#8220;Allow the little children, and don&#8217;t forbid them to come to me; for the Kingdom of Heaven belongs to ones like these.&#8221;</span>
  <span class="verse" title="Matthew 19:15" id="Matthew-19-15">He laid his hands on them, and departed from there.</span>
  <span class="verse" title="Matthew 19:16" id="Matthew-19-16">Behold, one came to him and said, &#8220;Good teacher, what good thing shall I do, that I may have eternal life?&#8221;</span>
  <span class="verse" title="Matthew 19:17" id="Matthew-19-17">He said to him, &#8220;Why do you call me good? No one is good but one, that is, God. But if you want to enter into life, keep the commandments.&#8221;</span>
  <span class="verse" title="Matthew 19:18" id="Matthew-19-18">He said to him, &#8220;Which ones?&#8221; Jesus said, &#8220;&#8216;You shall not murder.&#8217; &#8216;You shall not commit adultery.&#8217; &#8216;You shall not steal.&#8217; &#8216;You shall not offer false testimony.&#8217;</span>
  <span class="verse" title="Matthew 19:19" id="Matthew-19-19">&#8216;Honor your father and mother.&#8217; And, &#8216;You shall love your neighbor as yourself.&#8217;&#8221;</span>
  <span class="verse" title="Matthew 19:20" id="Matthew-19-20">The young man said to him, &#8220;All these things I have observed from my youth. What do I still lack?&#8221;</span>
  <span class="verse" title="Matthew 19:21" id="Matthew-19-21">Jesus said to him, &#8220;If you want to be perfect, go, sell what you have, and give to the poor, and you will have treasure in heaven; and come, follow me.&#8221;</span>
  <span class="verse" title="Matthew 19:22" id="Matthew-19-22">But when the young man heard the saying, he went away sad, for he was one who had great possessions.</span>
  <span class="verse" title="Matthew 19:23" id="Matthew-19-23">Jesus said to his disciples, &#8220;Most certainly I say to you, a rich man will enter into the Kingdom of Heaven with difficulty.</span>
  <span class="verse" title="Matthew 19:24" id="Matthew-19-24">Again I tell you, it is easier for a camel to go through a needle&#8217;s eye, than for a rich man to enter into the Kingdom of God.&#8221;</span>
  <span class="verse" title="Matthew 19:25" id="Matthew-19-25">When the disciples heard it, they were exceedingly astonished, saying, &#8220;Who then can be saved?&#8221;</span>
  <span class="verse" title="Matthew 19:26" id="Matthew-19-26">Looking at them, Jesus said, &#8220;With men this is impossible, but with God all things are possible.&#8221;</span>
  <span class="verse" title="Matthew 19:27" id="Matthew-19-27">Then Peter answered, &#8220;Behold, we have left everything, and followed you. What then will we have?&#8221;</span>
  <span class="verse" title="Matthew 19:28" id="Matthew-19-28">Jesus said to them, &#8220;Most certainly I tell you that you who have followed me, in the regeneration when the Son of Man will sit on the throne of his glory, you also will sit on twelve thrones, judging the twelve tribes of Israel.</span>
  <span class="verse" title="Matthew 19:29" id="Matthew-19-29">Everyone who has left houses, or brothers, or sisters, or father, or mother, or wife, or children, or lands, for my name&#8217;s sake, will receive one hundred times, and will inherit eternal life.</span>
  <span class="verse" title="Matthew 19:30" id="Matthew-19-30">But many will be last who are first; and first who are last.</span>
</div>