<div class="chapter" id="Matthew-020">
  <h2>Matthew 20</h2>
  <span class="verse" title="Matthew 20:1" id="Matthew-20-1">&#8220;For the Kingdom of Heaven is like a man who was the master of a household, who went out early in the morning to hire laborers for his vineyard.</span>
  <span class="verse" title="Matthew 20:2" id="Matthew-20-2">When he had agreed with the laborers for a denarius a day, he sent them into his vineyard.</span>
  <span class="verse" title="Matthew 20:3" id="Matthew-20-3">He went out about the third hour, and saw others standing idle in the marketplace.</span>
  <span class="verse" title="Matthew 20:4" id="Matthew-20-4">To them he said, &#8216;You also go into the vineyard, and whatever is right I will give you.&#8217; So they went their way.</span>
  <span class="verse" title="Matthew 20:5" id="Matthew-20-5">Again he went out about the sixth and the ninth hour, and did likewise.</span>
  <span class="verse" title="Matthew 20:6" id="Matthew-20-6">About the eleventh hour he went out, and found others standing idle. He said to them, &#8216;Why do you stand here all day idle?&#8217;</span>
  <span class="verse" title="Matthew 20:7" id="Matthew-20-7">&#8220;They said to him, &#8216;Because no one has hired us.&#8217; &#8220;He said to them, &#8216;You also go into the vineyard, and you will receive whatever is right.&#8217;</span>
  <span class="verse" title="Matthew 20:8" id="Matthew-20-8">When evening had come, the lord of the vineyard said to his manager, &#8216;Call the laborers and pay them their wages, beginning from the last to the first.&#8217;</span>
  <span class="verse" title="Matthew 20:9" id="Matthew-20-9">&#8220;When those who were hired at about the eleventh hour came, they each received a denarius.</span>
  <span class="verse" title="Matthew 20:10" id="Matthew-20-10">When the first came, they supposed that they would receive more; and they likewise each received a denarius.</span>
  <span class="verse" title="Matthew 20:11" id="Matthew-20-11">When they received it, they murmured against the master of the household,</span>
  <span class="verse" title="Matthew 20:12" id="Matthew-20-12">saying, &#8216;These last have spent one hour, and you have made them equal to us, who have borne the burden of the day and the scorching heat!&#8217;</span>
  <span class="verse" title="Matthew 20:13" id="Matthew-20-13">&#8220;But he answered one of them, &#8216;Friend, I am doing you no wrong. Didn&#8217;t you agree with me for a denarius?</span>
  <span class="verse" title="Matthew 20:14" id="Matthew-20-14">Take that which is yours, and go your way. It is my desire to give to this last just as much as to you.</span>
  <span class="verse" title="Matthew 20:15" id="Matthew-20-15">Isn&#8217;t it lawful for me to do what I want to with what I own? Or is your eye evil, because I am good?&#8217;</span>
  <span class="verse" title="Matthew 20:16" id="Matthew-20-16">So the last will be first, and the first last. For many are called, but few are chosen.&#8221;</span>
  <span class="verse" title="Matthew 20:17" id="Matthew-20-17">As Jesus was going up to Jerusalem, he took the twelve disciples aside, and on the way he said to them,</span>
  <span class="verse" title="Matthew 20:18" id="Matthew-20-18">&#8220;Behold, we are going up to Jerusalem, and the Son of Man will be delivered to the chief priests and scribes, and they will condemn him to death,</span>
  <span class="verse" title="Matthew 20:19" id="Matthew-20-19">and will hand him over to the Gentiles to mock, to scourge, and to crucify; and the third day he will be raised up.&#8221;</span>
  <span class="verse" title="Matthew 20:20" id="Matthew-20-20">Then the mother of the sons of Zebedee came to him with her sons, kneeling and asking a certain thing of him.</span>
  <span class="verse" title="Matthew 20:21" id="Matthew-20-21">He said to her, &#8220;What do you want?&#8221; She said to him, &#8220;Command that these, my two sons, may sit, one on your right hand, and one on your left hand, in your Kingdom.&#8221;</span>
  <span class="verse" title="Matthew 20:22" id="Matthew-20-22">But Jesus answered, &#8220;You don&#8217;t know what you are asking. Are you able to drink the cup that I am about to drink, and be baptized with the baptism that I am baptized with?&#8221; They said to him, &#8220;We are able.&#8221;</span>
  <span class="verse" title="Matthew 20:23" id="Matthew-20-23">He said to them, &#8220;You will indeed drink my cup, and be baptized with the baptism that I am baptized with, but to sit on my right hand and on my left hand is not mine to give; but it is for whom it has been prepared by my Father.&#8221;</span>
  <span class="verse" title="Matthew 20:24" id="Matthew-20-24">When the ten heard it, they were indignant with the two brothers.</span>
  <span class="verse" title="Matthew 20:25" id="Matthew-20-25">But Jesus summoned them, and said, &#8220;You know that the rulers of the nations lord it over them, and their great ones exercise authority over them.</span>
  <span class="verse" title="Matthew 20:26" id="Matthew-20-26">It shall not be so among you, but whoever desires to become great among you shall be your servant.</span>
  <span class="verse" title="Matthew 20:27" id="Matthew-20-27">Whoever desires to be first among you shall be your bondservant,</span>
  <span class="verse" title="Matthew 20:28" id="Matthew-20-28">even as the Son of Man came not to be served, but to serve, and to give his life as a ransom for many.&#8221;</span>
  <span class="verse" title="Matthew 20:29" id="Matthew-20-29">As they went out from Jericho, a great multitude followed him.</span>
  <span class="verse" title="Matthew 20:30" id="Matthew-20-30">Behold, two blind men sitting by the road, when they heard that Jesus was passing by, cried out, &#8220;Lord, have mercy on us, you son of David!&#8221;</span>
  <span class="verse" title="Matthew 20:31" id="Matthew-20-31">The multitude rebuked them, telling them that they should be quiet, but they cried out even more, &#8220;Lord, have mercy on us, you son of David!&#8221;</span>
  <span class="verse" title="Matthew 20:32" id="Matthew-20-32">Jesus stood still, and called them, and asked, &#8220;What do you want me to do for you?&#8221;</span>
  <span class="verse" title="Matthew 20:33" id="Matthew-20-33">They told him, &#8220;Lord, that our eyes may be opened.&#8221;</span>
  <span class="verse" title="Matthew 20:34" id="Matthew-20-34">Jesus, being moved with compassion, touched their eyes; and immediately their eyes received their sight, and they followed him.</span>
</div>