<div class="chapter" id="Matthew-021">
  <h2>Matthew 21</h2>
  <span class="verse" title="Matthew 21:1" id="Matthew-21-1">When they drew near to Jerusalem, and came to Bethsphage, to the Mount of Olives, then Jesus sent two disciples,</span>
  <span class="verse" title="Matthew 21:2" id="Matthew-21-2">saying to them, &#8220;Go into the village that is opposite you, and immediately you will find a donkey tied, and a colt with her. Untie them, and bring them to me.</span>
  <span class="verse" title="Matthew 21:3" id="Matthew-21-3">If anyone says anything to you, you shall say, &#8216;The Lord needs them,&#8217; and immediately he will send them.&#8221;</span>
  <span class="verse" title="Matthew 21:4" id="Matthew-21-4">All this was done, that it might be fulfilled which was spoken through the prophet, saying,</span>
  <span class="verse" title="Matthew 21:5" id="Matthew-21-5">&#8220;Tell the daughter of Zion,<br/> <span class="indent">&nbsp;&nbsp;</span>behold, your King comes to you,<br/> <span class="indent">&nbsp;&nbsp;</span>humble, and riding on a donkey,<br/> <span class="indent">&nbsp;&nbsp;</span>on a colt, the foal of a donkey.&#8221;<br/></span>
  <span class="verse" title="Matthew 21:6" id="Matthew-21-6">The disciples went, and did just as Jesus commanded them,</span>
  <span class="verse" title="Matthew 21:7" id="Matthew-21-7">and brought the donkey and the colt, and laid their clothes on them; and he sat on them.</span>
  <span class="verse" title="Matthew 21:8" id="Matthew-21-8">A very great multitude spread their clothes on the road. Others cut branches from the trees, and spread them on the road.</span>
  <span class="verse" title="Matthew 21:9" id="Matthew-21-9">The multitudes who went before him, and who followed kept shouting, &#8220;Hosanna to the son of David! Blessed is he who comes in the name of the Lord! Hosanna in the highest!&#8221;</span>
  <span class="verse" title="Matthew 21:10" id="Matthew-21-10">When he had come into Jerusalem, all the city was stirred up, saying, &#8220;Who is this?&#8221;</span>
  <span class="verse" title="Matthew 21:11" id="Matthew-21-11">The multitudes said, &#8220;This is the prophet, Jesus, from Nazareth of Galilee.&#8221;</span>
  <span class="verse" title="Matthew 21:12" id="Matthew-21-12">Jesus entered into the temple of God, and drove out all of those who sold and bought in the temple, and overthrew the money changers&#8217; tables and the seats of those who sold the doves.</span>
  <span class="verse" title="Matthew 21:13" id="Matthew-21-13">He said to them, &#8220;It is written, &#8216;My house shall be called a house of prayer,&#8217; but you have made it a den of robbers!&#8221;</span>
  <span class="verse" title="Matthew 21:14" id="Matthew-21-14">The blind and the lame came to him in the temple, and he healed them.</span>
  <span class="verse" title="Matthew 21:15" id="Matthew-21-15">But when the chief priests and the scribes saw the wonderful things that he did, and the children who were crying in the temple and saying, &#8220;Hosanna to the son of David!&#8221; they were indignant,</span>
  <span class="verse" title="Matthew 21:16" id="Matthew-21-16">and said to him, &#8220;Do you hear what these are saying?&#8221; Jesus said to them, &#8220;Yes. Did you never read, &#8216;Out of the mouth of babes and nursing babies you have perfected praise?&#8217;&#8221;</span>
  <span class="verse" title="Matthew 21:17" id="Matthew-21-17">He left them, and went out of the city to Bethany, and lodged there.</span>
  <span class="verse" title="Matthew 21:18" id="Matthew-21-18">Now in the morning, as he returned to the city, he was hungry.</span>
  <span class="verse" title="Matthew 21:19" id="Matthew-21-19">Seeing a fig tree by the road, he came to it, and found nothing on it but leaves. He said to it, &#8220;Let there be no fruit from you forever!&#8221; Immediately the fig tree withered away.</span>
  <span class="verse" title="Matthew 21:20" id="Matthew-21-20">When the disciples saw it, they marveled, saying, &#8220;How did the fig tree immediately wither away?&#8221;</span>
  <span class="verse" title="Matthew 21:21" id="Matthew-21-21">Jesus answered them, &#8220;Most certainly I tell you, if you have faith, and don&#8217;t doubt, you will not only do what was done to the fig tree, but even if you told this mountain, &#8216;Be taken up and cast into the sea,&#8217; it would be done.</span>
  <span class="verse" title="Matthew 21:22" id="Matthew-21-22">All things, whatever you ask in prayer, believing, you will receive.&#8221;</span>
  <span class="verse" title="Matthew 21:23" id="Matthew-21-23">When he had come into the temple, the chief priests and the elders of the people came to him as he was teaching, and said, &#8220;By what authority do you do these things? Who gave you this authority?&#8221;</span>
  <span class="verse" title="Matthew 21:24" id="Matthew-21-24">Jesus answered them, &#8220;I also will ask you one question, which if you tell me, I likewise will tell you by what authority I do these things.</span>
  <span class="verse" title="Matthew 21:25" id="Matthew-21-25">The baptism of John, where was it from? From heaven or from men?&#8221; They reasoned with themselves, saying, &#8220;If we say, &#8216;From heaven,&#8217; he will ask us, &#8216;Why then did you not believe him?&#8217;</span>
  <span class="verse" title="Matthew 21:26" id="Matthew-21-26">But if we say, &#8216;From men,&#8217; we fear the multitude, for all hold John as a prophet.&#8221;</span>
  <span class="verse" title="Matthew 21:27" id="Matthew-21-27">They answered Jesus, and said, &#8220;We don&#8217;t know.&#8221; He also said to them, &#8220;Neither will I tell you by what authority I do these things.</span>
  <span class="verse" title="Matthew 21:28" id="Matthew-21-28">But what do you think? A man had two sons, and he came to the first, and said, &#8216;Son, go work today in my vineyard.&#8217;</span>
  <span class="verse" title="Matthew 21:29" id="Matthew-21-29">He answered, &#8216;I will not,&#8217; but afterward he changed his mind, and went.</span>
  <span class="verse" title="Matthew 21:30" id="Matthew-21-30">He came to the second, and said the same thing. He answered, &#8216;I go, sir,&#8217; but he didn&#8217;t go.</span>
  <span class="verse" title="Matthew 21:31" id="Matthew-21-31">Which of the two did the will of his father?&#8221; They said to him, &#8220;The first.&#8221; Jesus said to them, &#8220;Most certainly I tell you that the tax collectors and the prostitutes are entering into the Kingdom of God before you.</span>
  <span class="verse" title="Matthew 21:32" id="Matthew-21-32">For John came to you in the way of righteousness, and you didn&#8217;t believe him, but the tax collectors and the prostitutes believed him. When you saw it, you didn&#8217;t even repent afterward, that you might believe him.</span>
  <span class="verse" title="Matthew 21:33" id="Matthew-21-33">&#8220;Hear another parable. There was a man who was a master of a household, who planted a vineyard, set a hedge about it, dug a winepress in it, built a tower, leased it out to farmers, and went into another country.</span>
  <span class="verse" title="Matthew 21:34" id="Matthew-21-34">When the season for the fruit drew near, he sent his servants to the farmers, to receive his fruit.</span>
  <span class="verse" title="Matthew 21:35" id="Matthew-21-35">The farmers took his servants, beat one, killed another, and stoned another.</span>
  <span class="verse" title="Matthew 21:36" id="Matthew-21-36">Again, he sent other servants more than the first: and they treated them the same way.</span>
  <span class="verse" title="Matthew 21:37" id="Matthew-21-37">But afterward he sent to them his son, saying, &#8216;They will respect my son.&#8217;</span>
  <span class="verse" title="Matthew 21:38" id="Matthew-21-38">But the farmers, when they saw the son, said among themselves, &#8216;This is the heir. Come, let&#8217;s kill him, and seize his inheritance.&#8217;</span>
  <span class="verse" title="Matthew 21:39" id="Matthew-21-39">So they took him, and threw him out of the vineyard, and killed him.</span>
  <span class="verse" title="Matthew 21:40" id="Matthew-21-40">When therefore the lord of the vineyard comes, what will he do to those farmers?&#8221;</span>
  <span class="verse" title="Matthew 21:41" id="Matthew-21-41">They told him, &#8220;He will miserably destroy those miserable men, and will lease out the vineyard to other farmers, who will give him the fruit in its season.&#8221;</span>
  <span class="verse" title="Matthew 21:42" id="Matthew-21-42">Jesus said to them, &#8220;Did you never read in the Scriptures,  &#8216;The stone which the builders rejected,<br/> <span class="indent">&nbsp;&nbsp;</span>the same was made the head of the corner.<br/>   This was from the Lord.<br/> <span class="indent">&nbsp;&nbsp;</span>It is marvelous in our eyes?&#8217;<br/></span>
  <span class="verse" title="Matthew 21:43" id="Matthew-21-43">&#8220;Therefore I tell you, the Kingdom of God will be taken away from you, and will be given to a nation bringing forth its fruit.</span>
  <span class="verse" title="Matthew 21:44" id="Matthew-21-44">He who falls on this stone will be broken to pieces, but on whomever it will fall, it will scatter him as dust.&#8221;</span>
  <span class="verse" title="Matthew 21:45" id="Matthew-21-45">When the chief priests and the Pharisees heard his parables, they perceived that he spoke about them.</span>
  <span class="verse" title="Matthew 21:46" id="Matthew-21-46">When they sought to seize him, they feared the multitudes, because they considered him to be a prophet.</span>
</div>