<div class="chapter" id="Matthew-022">
  <h2>Matthew 22</h2>
  <span class="verse" title="Matthew 22:1" id="Matthew-22-1">Jesus answered and spoke again in parables to them, saying,</span>
  <span class="verse" title="Matthew 22:2" id="Matthew-22-2">&#8220;The Kingdom of Heaven is like a certain king, who made a marriage feast for his son,</span>
  <span class="verse" title="Matthew 22:3" id="Matthew-22-3">and sent out his servants to call those who were invited to the marriage feast, but they would not come.</span>
  <span class="verse" title="Matthew 22:4" id="Matthew-22-4">Again he sent out other servants, saying, &#8216;Tell those who are invited, &#8220;Behold, I have prepared my dinner. My cattle and my fatlings are killed, and all things are ready. Come to the marriage feast!&#8221;&#8217;</span>
  <span class="verse" title="Matthew 22:5" id="Matthew-22-5">But they made light of it, and went their ways, one to his own farm, another to his merchandise,</span>
  <span class="verse" title="Matthew 22:6" id="Matthew-22-6">and the rest grabbed his servants, and treated them shamefully, and killed them.</span>
  <span class="verse" title="Matthew 22:7" id="Matthew-22-7">When the king heard that, he was angry, and sent his armies, destroyed those murderers, and burned their city.</span>
  <span class="verse" title="Matthew 22:8" id="Matthew-22-8">&#8220;Then he said to his servants, &#8216;The wedding is ready, but those who were invited weren&#8217;t worthy.</span>
  <span class="verse" title="Matthew 22:9" id="Matthew-22-9">Go therefore to the intersections of the highways, and as many as you may find, invite to the marriage feast.&#8217;</span>
  <span class="verse" title="Matthew 22:10" id="Matthew-22-10">Those servants went out into the highways, and gathered together as many as they found, both bad and good. The wedding was filled with guests.</span>
  <span class="verse" title="Matthew 22:11" id="Matthew-22-11">But when the king came in to see the guests, he saw there a man who didn&#8217;t have on wedding clothing,</span>
  <span class="verse" title="Matthew 22:12" id="Matthew-22-12">and he said to him, &#8216;Friend, how did you come in here not wearing wedding clothing?&#8217; He was speechless.</span>
  <span class="verse" title="Matthew 22:13" id="Matthew-22-13">Then the king said to the servants, &#8216;Bind him hand and foot, take him away, and throw him into the outer darkness; there is where the weeping and grinding of teeth will be.&#8217;</span>
  <span class="verse" title="Matthew 22:14" id="Matthew-22-14">For many are called, but few chosen.&#8221;</span>
  <span class="verse" title="Matthew 22:15" id="Matthew-22-15">Then the Pharisees went and took counsel how they might entrap him in his talk.</span>
  <span class="verse" title="Matthew 22:16" id="Matthew-22-16">They sent their disciples to him, along with the Herodians, saying, &#8220;Teacher, we know that you are honest, and teach the way of God in truth, no matter whom you teach, for you aren&#8217;t partial to anyone.</span>
  <span class="verse" title="Matthew 22:17" id="Matthew-22-17">Tell us therefore, what do you think? Is it lawful to pay taxes to Caesar, or not?&#8221;</span>
  <span class="verse" title="Matthew 22:18" id="Matthew-22-18">But Jesus perceived their wickedness, and said, &#8220;Why do you test me, you hypocrites?</span>
  <span class="verse" title="Matthew 22:19" id="Matthew-22-19">Show me the tax money.&#8221; They brought to him a denarius.</span>
  <span class="verse" title="Matthew 22:20" id="Matthew-22-20">He asked them, &#8220;Whose is this image and inscription?&#8221;</span>
  <span class="verse" title="Matthew 22:21" id="Matthew-22-21">They said to him, &#8220;Caesar&#8217;s.&#8221; Then he said to them, &#8220;Give therefore to Caesar the things that are Caesar&#8217;s, and to God the things that are God&#8217;s.&#8221;</span>
  <span class="verse" title="Matthew 22:22" id="Matthew-22-22">When they heard it, they marveled, and left him, and went away.</span>
  <span class="verse" title="Matthew 22:23" id="Matthew-22-23">On that day Sadducees (those who say that there is no resurrection) came to him. They asked him,</span>
  <span class="verse" title="Matthew 22:24" id="Matthew-22-24">saying, &#8220;Teacher, Moses said, &#8216;If a man dies, having no children, his brother shall marry his wife, and raise up seed for his brother.&#8217;</span>
  <span class="verse" title="Matthew 22:25" id="Matthew-22-25">Now there were with us seven brothers. The first married and died, and having no seed left his wife to his brother.</span>
  <span class="verse" title="Matthew 22:26" id="Matthew-22-26">In the same way, the second also, and the third, to the seventh.</span>
  <span class="verse" title="Matthew 22:27" id="Matthew-22-27">After them all, the woman died.</span>
  <span class="verse" title="Matthew 22:28" id="Matthew-22-28">In the resurrection therefore, whose wife will she be of the seven? For they all had her.&#8221;</span>
  <span class="verse" title="Matthew 22:29" id="Matthew-22-29">But Jesus answered them, &#8220;You are mistaken, not knowing the Scriptures, nor the power of God.</span>
  <span class="verse" title="Matthew 22:30" id="Matthew-22-30">For in the resurrection they neither marry, nor are given in marriage, but are like God&#8217;s angels in heaven.</span>
  <span class="verse" title="Matthew 22:31" id="Matthew-22-31">But concerning the resurrection of the dead, haven&#8217;t you read that which was spoken to you by God, saying,</span>
  <span class="verse" title="Matthew 22:32" id="Matthew-22-32">&#8216;I am the God of Abraham, and the God of Isaac, and the God of Jacob?&#8217; God is not the God of the dead, but of the living.&#8221;</span>
  <span class="verse" title="Matthew 22:33" id="Matthew-22-33">When the multitudes heard it, they were astonished at his teaching.</span>
  <span class="verse" title="Matthew 22:34" id="Matthew-22-34">But the Pharisees, when they heard that he had silenced the Sadducees, gathered themselves together.</span>
  <span class="verse" title="Matthew 22:35" id="Matthew-22-35">One of them, a lawyer, asked him a question, testing him.</span>
  <span class="verse" title="Matthew 22:36" id="Matthew-22-36">&#8220;Teacher, which is the greatest commandment in the law?&#8221;</span>
  <span class="verse" title="Matthew 22:37" id="Matthew-22-37">Jesus said to him, &#8220;&#8216;You shall love the Lord your God with all your heart, with all your soul, and with all your mind.&#8217;</span>
  <span class="verse" title="Matthew 22:38" id="Matthew-22-38">This is the first and great commandment.</span>
  <span class="verse" title="Matthew 22:39" id="Matthew-22-39">A second likewise is this, &#8216;You shall love your neighbor as yourself.&#8217;</span>
  <span class="verse" title="Matthew 22:40" id="Matthew-22-40">The whole law and the prophets depend on these two commandments.&#8221;</span>
  <span class="verse" title="Matthew 22:41" id="Matthew-22-41">Now while the Pharisees were gathered together, Jesus asked them a question,</span>
  <span class="verse" title="Matthew 22:42" id="Matthew-22-42">saying, &#8220;What do you think of the Christ? Whose son is he?&#8221; They said to him, &#8220;Of David.&#8221;</span>
  <span class="verse" title="Matthew 22:43" id="Matthew-22-43">He said to them, &#8220;How then does David in the Spirit call him Lord, saying,</span>
  <span class="verse" title="Matthew 22:44" id="Matthew-22-44">&#8216;The Lord said to my Lord,<br/> <span class="indent">&nbsp;&nbsp;</span>sit on my right hand,<br/> <span class="indent">&nbsp;&nbsp;</span>until I make your enemies a footstool for your feet?&#8217;<br/></span>
  <span class="verse" title="Matthew 22:45" id="Matthew-22-45">&#8220;If then David calls him Lord, how is he his son?&#8221;</span>
  <span class="verse" title="Matthew 22:46" id="Matthew-22-46">No one was able to answer him a word, neither did any man dare ask him any more questions from that day forth.</span>
</div>