<div class="chapter" id="Matthew-023">
  <h2>Matthew 23</h2>
  <span class="verse" title="Matthew 23:1" id="Matthew-23-1">Then Jesus spoke to the multitudes and to his disciples,</span>
  <span class="verse" title="Matthew 23:2" id="Matthew-23-2">saying, &#8220;The scribes and the Pharisees sat on Moses&#8217; seat.</span>
  <span class="verse" title="Matthew 23:3" id="Matthew-23-3">All things therefore whatever they tell you to observe, observe and do, but don&#8217;t do their works; for they say, and don&#8217;t do.</span>
  <span class="verse" title="Matthew 23:4" id="Matthew-23-4">For they bind heavy burdens that are grievous to be borne, and lay them on men&#8217;s shoulders; but they themselves will not lift a finger to help them.</span>
  <span class="verse" title="Matthew 23:5" id="Matthew-23-5">But all their works they do to be seen by men. They make their phylacteries broad, enlarge the fringes of their garments,</span>
  <span class="verse" title="Matthew 23:6" id="Matthew-23-6">and love the place of honor at feasts, the best seats in the synagogues,</span>
  <span class="verse" title="Matthew 23:7" id="Matthew-23-7">the salutations in the marketplaces, and to be called &#8216;Rabbi, Rabbi&#8217; by men.</span>
  <span class="verse" title="Matthew 23:8" id="Matthew-23-8">But don&#8217;t you be called &#8216;Rabbi,&#8217; for one is your teacher, the Christ, and all of you are brothers.</span>
  <span class="verse" title="Matthew 23:9" id="Matthew-23-9">Call no man on the earth your father, for one is your Father, he who is in heaven.</span>
  <span class="verse" title="Matthew 23:10" id="Matthew-23-10">Neither be called masters, for one is your master, the Christ.</span>
  <span class="verse" title="Matthew 23:11" id="Matthew-23-11">But he who is greatest among you will be your servant.</span>
  <span class="verse" title="Matthew 23:12" id="Matthew-23-12">Whoever exalts himself will be humbled, and whoever humbles himself will be exalted.</span>
  <span class="verse" title="Matthew 23:13" id="Matthew-23-13">&#8220;Woe to you, scribes and Pharisees, hypocrites! For you devour widows&#8217; houses, and as a pretense you make long prayers. Therefore you will receive greater condemnation.</span>
  <span class="verse" title="Matthew 23:14" id="Matthew-23-14">&#8220;But woe to you, scribes and Pharisees, hypocrites! Because you shut up the Kingdom of Heaven against men; for you don&#8217;t enter in yourselves, neither do you allow those who are entering in to enter.</span>
  <span class="verse" title="Matthew 23:15" id="Matthew-23-15">Woe to you, scribes and Pharisees, hypocrites! For you travel around by sea and land to make one proselyte; and when he becomes one, you make him twice as much of a son of Gehenna as yourselves.</span>
  <span class="verse" title="Matthew 23:16" id="Matthew-23-16">&#8220;Woe to you, you blind guides, who say, &#8216;Whoever swears by the temple, it is nothing; but whoever swears by the gold of the temple, he is obligated.&#8217;</span>
  <span class="verse" title="Matthew 23:17" id="Matthew-23-17">You blind fools! For which is greater, the gold, or the temple that sanctifies the gold?</span>
  <span class="verse" title="Matthew 23:18" id="Matthew-23-18">&#8216;Whoever swears by the altar, it is nothing; but whoever swears by the gift that is on it, he is obligated?&#8217;</span>
  <span class="verse" title="Matthew 23:19" id="Matthew-23-19">You blind fools! For which is greater, the gift, or the altar that sanctifies the gift?</span>
  <span class="verse" title="Matthew 23:20" id="Matthew-23-20">He therefore who swears by the altar, swears by it, and by everything on it.</span>
  <span class="verse" title="Matthew 23:21" id="Matthew-23-21">He who swears by the temple, swears by it, and by him who was living in it.</span>
  <span class="verse" title="Matthew 23:22" id="Matthew-23-22">He who swears by heaven, swears by the throne of God, and by him who sits on it.</span>
  <span class="verse" title="Matthew 23:23" id="Matthew-23-23">&#8220;Woe to you, scribes and Pharisees, hypocrites! For you tithe mint, dill, and cumin, and have left undone the weightier matters of the law: justice, mercy, and faith. But you ought to have done these, and not to have left the other undone.</span>
  <span class="verse" title="Matthew 23:24" id="Matthew-23-24">You blind guides, who strain out a gnat, and swallow a camel!</span>
  <span class="verse" title="Matthew 23:25" id="Matthew-23-25">&#8220;Woe to you, scribes and Pharisees, hypocrites! For you clean the outside of the cup and of the platter, but within they are full of extortion and unrighteousness.</span>
  <span class="verse" title="Matthew 23:26" id="Matthew-23-26">You blind Pharisee, first clean the inside of the cup and of the platter, that its outside may become clean also.</span>
  <span class="verse" title="Matthew 23:27" id="Matthew-23-27">&#8220;Woe to you, scribes and Pharisees, hypocrites! For you are like whitened tombs, which outwardly appear beautiful, but inwardly are full of dead men&#8217;s bones, and of all uncleanness.</span>
  <span class="verse" title="Matthew 23:28" id="Matthew-23-28">Even so you also outwardly appear righteous to men, but inwardly you are full of hypocrisy and iniquity.</span>
  <span class="verse" title="Matthew 23:29" id="Matthew-23-29">&#8220;Woe to you, scribes and Pharisees, hypocrites! For you build the tombs of the prophets, and decorate the tombs of the righteous,</span>
  <span class="verse" title="Matthew 23:30" id="Matthew-23-30">and say, &#8216;If we had lived in the days of our fathers, we wouldn&#8217;t have been partakers with them in the blood of the prophets.&#8217;</span>
  <span class="verse" title="Matthew 23:31" id="Matthew-23-31">Therefore you testify to yourselves that you are children of those who killed the prophets.</span>
  <span class="verse" title="Matthew 23:32" id="Matthew-23-32">Fill up, then, the measure of your fathers.</span>
  <span class="verse" title="Matthew 23:33" id="Matthew-23-33">You serpents, you offspring of vipers, how will you escape the judgment of Gehenna?</span>
  <span class="verse" title="Matthew 23:34" id="Matthew-23-34">Therefore, behold, I send to you prophets, wise men, and scribes. Some of them you will kill and crucify; and some of them you will scourge in your synagogues, and persecute from city to city;</span>
  <span class="verse" title="Matthew 23:35" id="Matthew-23-35">that on you may come all the righteous blood shed on the earth, from the blood of righteous Abel to the blood of Zachariah son of Barachiah, whom you killed between the sanctuary and the altar.</span>
  <span class="verse" title="Matthew 23:36" id="Matthew-23-36">Most certainly I tell you, all these things will come upon this generation.</span>
  <span class="verse" title="Matthew 23:37" id="Matthew-23-37">&#8220;Jerusalem, Jerusalem, who kills the prophets, and stones those who are sent to her! How often I would have gathered your children together, even as a hen gathers her chicks under her wings, and you would not!</span>
  <span class="verse" title="Matthew 23:38" id="Matthew-23-38">Behold, your house is left to you desolate.</span>
  <span class="verse" title="Matthew 23:39" id="Matthew-23-39">For I tell you, you will not see me from now on, until you say, &#8216;Blessed is he who comes in the name of the Lord!&#8217;&#8221;</span>
</div>