<div class="chapter" id="Matthew-024">
  <h2>Matthew 24</h2>
  <span class="verse" title="Matthew 24:1" id="Matthew-24-1">Jesus went out from the temple, and was going on his way. His disciples came to him to show him the buildings of the temple.</span>
  <span class="verse" title="Matthew 24:2" id="Matthew-24-2">But he answered them, &#8220;You see all of these things, don&#8217;t you? Most certainly I tell you, there will not be left here one stone on another, that will not be thrown down.&#8221;</span>
  <span class="verse" title="Matthew 24:3" id="Matthew-24-3">As he sat on the Mount of Olives, the disciples came to him privately, saying, &#8220;Tell us, when will these things be? What is the sign of your coming, and of the end of the age?&#8221;</span>
  <span class="verse" title="Matthew 24:4" id="Matthew-24-4">Jesus answered them, &#8220;Be careful that no one leads you astray.</span>
  <span class="verse" title="Matthew 24:5" id="Matthew-24-5">For many will come in my name, saying, &#8216;I am the Christ,&#8217; and will lead many astray.</span>
  <span class="verse" title="Matthew 24:6" id="Matthew-24-6">You will hear of wars and rumors of wars. See that you aren&#8217;t troubled, for all this must happen, but the end is not yet.</span>
  <span class="verse" title="Matthew 24:7" id="Matthew-24-7">For nation will rise against nation, and kingdom against kingdom; and there will be famines, plagues, and earthquakes in various places.</span>
  <span class="verse" title="Matthew 24:8" id="Matthew-24-8">But all these things are the beginning of birth pains.</span>
  <span class="verse" title="Matthew 24:9" id="Matthew-24-9">Then they will deliver you up to oppression, and will kill you. You will be hated by all of the nations for my name&#8217;s sake.</span>
  <span class="verse" title="Matthew 24:10" id="Matthew-24-10">Then many will stumble, and will deliver up one another, and will hate one another.</span>
  <span class="verse" title="Matthew 24:11" id="Matthew-24-11">Many false prophets will arise, and will lead many astray.</span>
  <span class="verse" title="Matthew 24:12" id="Matthew-24-12">Because iniquity will be multiplied, the love of many will grow cold.</span>
  <span class="verse" title="Matthew 24:13" id="Matthew-24-13">But he who endures to the end, the same will be saved.</span>
  <span class="verse" title="Matthew 24:14" id="Matthew-24-14">This Good News of the Kingdom will be preached in the whole world for a testimony to all the nations, and then the end will come.</span>
  <span class="verse" title="Matthew 24:15" id="Matthew-24-15">&#8220;When, therefore, you see the abomination of desolation, which was spoken of through Daniel the prophet, standing in the holy place (let the reader understand),</span>
  <span class="verse" title="Matthew 24:16" id="Matthew-24-16">then let those who are in Judea flee to the mountains.</span>
  <span class="verse" title="Matthew 24:17" id="Matthew-24-17">Let him who is on the housetop not go down to take out things that are in his house.</span>
  <span class="verse" title="Matthew 24:18" id="Matthew-24-18">Let him who is in the field not return back to get his clothes.</span>
  <span class="verse" title="Matthew 24:19" id="Matthew-24-19">But woe to those who are with child and to nursing mothers in those days!</span>
  <span class="verse" title="Matthew 24:20" id="Matthew-24-20">Pray that your flight will not be in the winter, nor on a Sabbath,</span>
  <span class="verse" title="Matthew 24:21" id="Matthew-24-21">for then there will be great oppression, such as has not been from the beginning of the world until now, no, nor ever will be.</span>
  <span class="verse" title="Matthew 24:22" id="Matthew-24-22">Unless those days had been shortened, no flesh would have been saved. But for the sake of the chosen ones, those days will be shortened.</span>
  <span class="verse" title="Matthew 24:23" id="Matthew-24-23">&#8220;Then if any man tells you, &#8216;Behold, here is the Christ,&#8217; or, &#8216;There,&#8217; don&#8217;t believe it.</span>
  <span class="verse" title="Matthew 24:24" id="Matthew-24-24">For there will arise false christs, and false prophets, and they will show great signs and wonders, so as to lead astray, if possible, even the chosen ones.</span>
  <span class="verse" title="Matthew 24:25" id="Matthew-24-25">&#8220;Behold, I have told you beforehand.</span>
  <span class="verse" title="Matthew 24:26" id="Matthew-24-26">If therefore they tell you, &#8216;Behold, he is in the wilderness,&#8217; don&#8217;t go out; &#8216;Behold, he is in the inner rooms,&#8217; don&#8217;t believe it.</span>
  <span class="verse" title="Matthew 24:27" id="Matthew-24-27">For as the lightning flashes from the east, and is seen even to the west, so will be the coming of the Son of Man.</span>
  <span class="verse" title="Matthew 24:28" id="Matthew-24-28">For wherever the carcass is, there is where the vultures gather together.</span>
  <span class="verse" title="Matthew 24:29" id="Matthew-24-29">But immediately after the oppression of those days, the sun will be darkened, the moon will not give its light, the stars will fall from the sky, and the powers of the heavens will be shaken;</span>
  <span class="verse" title="Matthew 24:30" id="Matthew-24-30">and then the sign of the Son of Man will appear in the sky. Then all the tribes of the earth will mourn, and they will see the Son of Man coming on the clouds of the sky with power and great glory.</span>
  <span class="verse" title="Matthew 24:31" id="Matthew-24-31">He will send out his angels with a great sound of a trumpet, and they will gather together his chosen ones from the four winds, from one end of the sky to the other.</span>
  <span class="verse" title="Matthew 24:32" id="Matthew-24-32">&#8220;Now from the fig tree learn this parable. When its branch has now become tender, and puts forth its leaves, you know that the summer is near.</span>
  <span class="verse" title="Matthew 24:33" id="Matthew-24-33">Even so you also, when you see all these things, know that it is near, even at the doors.</span>
  <span class="verse" title="Matthew 24:34" id="Matthew-24-34">Most certainly I tell you, this generation will not pass away, until all these things are accomplished.</span>
  <span class="verse" title="Matthew 24:35" id="Matthew-24-35">Heaven and earth will pass away, but my words will not pass away.</span>
  <span class="verse" title="Matthew 24:36" id="Matthew-24-36">But no one knows of that day and hour, not even the angels of heaven, but my Father only.</span>
  <span class="verse" title="Matthew 24:37" id="Matthew-24-37">&#8220;As the days of Noah were, so will be the coming of the Son of Man.</span>
  <span class="verse" title="Matthew 24:38" id="Matthew-24-38">For as in those days which were before the flood they were eating and drinking, marrying and giving in marriage, until the day that Noah entered into the ship,</span>
  <span class="verse" title="Matthew 24:39" id="Matthew-24-39">and they didn&#8217;t know until the flood came, and took them all away, so will be the coming of the Son of Man.</span>
  <span class="verse" title="Matthew 24:40" id="Matthew-24-40">Then two men will be in the field: one will be taken and one will be left;</span>
  <span class="verse" title="Matthew 24:41" id="Matthew-24-41">two women grinding at the mill, one will be taken and one will be left.</span>
  <span class="verse" title="Matthew 24:42" id="Matthew-24-42">Watch therefore, for you don&#8217;t know in what hour your Lord comes.</span>
  <span class="verse" title="Matthew 24:43" id="Matthew-24-43">But know this, that if the master of the house had known in what watch of the night the thief was coming, he would have watched, and would not have allowed his house to be broken into.</span>
  <span class="verse" title="Matthew 24:44" id="Matthew-24-44">Therefore also be ready, for in an hour that you don&#8217;t expect, the Son of Man will come.</span>
  <span class="verse" title="Matthew 24:45" id="Matthew-24-45">&#8220;Who then is the faithful and wise servant, whom his lord has set over his household, to give them their food in due season?</span>
  <span class="verse" title="Matthew 24:46" id="Matthew-24-46">Blessed is that servant whom his lord finds doing so when he comes.</span>
  <span class="verse" title="Matthew 24:47" id="Matthew-24-47">Most certainly I tell you that he will set him over all that he has.</span>
  <span class="verse" title="Matthew 24:48" id="Matthew-24-48">But if that evil servant should say in his heart, &#8216;My lord is delaying his coming,&#8217;</span>
  <span class="verse" title="Matthew 24:49" id="Matthew-24-49">and begins to beat his fellow servants, and eat and drink with the drunkards,</span>
  <span class="verse" title="Matthew 24:50" id="Matthew-24-50">the lord of that servant will come in a day when he doesn&#8217;t expect it, and in an hour when he doesn&#8217;t know it,</span>
  <span class="verse" title="Matthew 24:51" id="Matthew-24-51">and will cut him in pieces, and appoint his portion with the hypocrites. There is where the weeping and grinding of teeth will be.</span>
</div>