<div class="chapter" id="Matthew-025">
  <h2>Matthew 25</h2>
  <span class="verse" title="Matthew 25:1" id="Matthew-25-1">&#8220;Then the Kingdom of Heaven will be like ten virgins, who took their lamps, and went out to meet the bridegroom.</span>
  <span class="verse" title="Matthew 25:2" id="Matthew-25-2">Five of them were foolish, and five were wise.</span>
  <span class="verse" title="Matthew 25:3" id="Matthew-25-3">Those who were foolish, when they took their lamps, took no oil with them,</span>
  <span class="verse" title="Matthew 25:4" id="Matthew-25-4">but the wise took oil in their vessels with their lamps.</span>
  <span class="verse" title="Matthew 25:5" id="Matthew-25-5">Now while the bridegroom delayed, they all slumbered and slept.</span>
  <span class="verse" title="Matthew 25:6" id="Matthew-25-6">But at midnight there was a cry, &#8216;Behold! The bridegroom is coming! Come out to meet him!&#8217;</span>
  <span class="verse" title="Matthew 25:7" id="Matthew-25-7">Then all those virgins arose, and trimmed their lamps.</span>
  <span class="verse" title="Matthew 25:8" id="Matthew-25-8">The foolish said to the wise, &#8216;Give us some of your oil, for our lamps are going out.&#8217;</span>
  <span class="verse" title="Matthew 25:9" id="Matthew-25-9">But the wise answered, saying, &#8216;What if there isn&#8217;t enough for us and you? You go rather to those who sell, and buy for yourselves.&#8217;</span>
  <span class="verse" title="Matthew 25:10" id="Matthew-25-10">While they went away to buy, the bridegroom came, and those who were ready went in with him to the marriage feast, and the door was shut.</span>
  <span class="verse" title="Matthew 25:11" id="Matthew-25-11">Afterward the other virgins also came, saying, &#8216;Lord, Lord, open to us.&#8217;</span>
  <span class="verse" title="Matthew 25:12" id="Matthew-25-12">But he answered, &#8216;Most certainly I tell you, I don&#8217;t know you.&#8217;</span>
  <span class="verse" title="Matthew 25:13" id="Matthew-25-13">Watch therefore, for you don&#8217;t know the day nor the hour in which the Son of Man is coming.</span>
  <span class="verse" title="Matthew 25:14" id="Matthew-25-14">&#8220;For it is like a man, going into another country, who called his own servants, and entrusted his goods to them.</span>
  <span class="verse" title="Matthew 25:15" id="Matthew-25-15">To one he gave five talents, to another two, to another one; to each according to his own ability. Then he went on his journey.</span>
  <span class="verse" title="Matthew 25:16" id="Matthew-25-16">Immediately he who received the five talents went and traded with them, and made another five talents.</span>
  <span class="verse" title="Matthew 25:17" id="Matthew-25-17">In the same way, he also who got the two gained another two.</span>
  <span class="verse" title="Matthew 25:18" id="Matthew-25-18">But he who received the one went away and dug in the earth, and hid his lord&#8217;s money.</span>
  <span class="verse" title="Matthew 25:19" id="Matthew-25-19">&#8220;Now after a long time the lord of those servants came, and reconciled accounts with them.</span>
  <span class="verse" title="Matthew 25:20" id="Matthew-25-20">He who received the five talents came and brought another five talents, saying, &#8216;Lord, you delivered to me five talents. Behold, I have gained another five talents besides them.&#8217;</span>
  <span class="verse" title="Matthew 25:21" id="Matthew-25-21">&#8220;His lord said to him, &#8216;Well done, good and faithful servant. You have been faithful over a few things, I will set you over many things. Enter into the joy of your lord.&#8217;</span>
  <span class="verse" title="Matthew 25:22" id="Matthew-25-22">&#8220;He also who got the two talents came and said, &#8216;Lord, you delivered to me two talents. Behold, I have gained another two talents besides them.&#8217;</span>
  <span class="verse" title="Matthew 25:23" id="Matthew-25-23">&#8220;His lord said to him, &#8216;Well done, good and faithful servant. You have been faithful over a few things, I will set you over many things. Enter into the joy of your lord.&#8217;</span>
  <span class="verse" title="Matthew 25:24" id="Matthew-25-24">&#8220;He also who had received the one talent came and said, &#8216;Lord, I knew you that you are a hard man, reaping where you did not sow, and gathering where you did not scatter.</span>
  <span class="verse" title="Matthew 25:25" id="Matthew-25-25">I was afraid, and went away and hid your talent in the earth. Behold, you have what is yours.&#8217;</span>
  <span class="verse" title="Matthew 25:26" id="Matthew-25-26">&#8220;But his lord answered him, &#8216;You wicked and slothful servant. You knew that I reap where I didn&#8217;t sow, and gather where I didn&#8217;t scatter.</span>
  <span class="verse" title="Matthew 25:27" id="Matthew-25-27">You ought therefore to have deposited my money with the bankers, and at my coming I should have received back my own with interest.</span>
  <span class="verse" title="Matthew 25:28" id="Matthew-25-28">Take away therefore the talent from him, and give it to him who has the ten talents.</span>
  <span class="verse" title="Matthew 25:29" id="Matthew-25-29">For to everyone who has will be given, and he will have abundance, but from him who doesn&#8217;t have, even that which he has will be taken away.</span>
  <span class="verse" title="Matthew 25:30" id="Matthew-25-30">Throw out the unprofitable servant into the outer darkness, where there will be weeping and gnashing of teeth.&#8217;</span>
  <span class="verse" title="Matthew 25:31" id="Matthew-25-31">&#8220;But when the Son of Man comes in his glory, and all the holy angels with him, then he will sit on the throne of his glory.</span>
  <span class="verse" title="Matthew 25:32" id="Matthew-25-32">Before him all the nations will be gathered, and he will separate them one from another, as a shepherd separates the sheep from the goats.</span>
  <span class="verse" title="Matthew 25:33" id="Matthew-25-33">He will set the sheep on his right hand, but the goats on the left.</span>
  <span class="verse" title="Matthew 25:34" id="Matthew-25-34">Then the King will tell those on his right hand, &#8216;Come, blessed of my Father, inherit the Kingdom prepared for you from the foundation of the world;</span>
  <span class="verse" title="Matthew 25:35" id="Matthew-25-35">for I was hungry, and you gave me food to eat. I was thirsty, and you gave me drink. I was a stranger, and you took me in.</span>
  <span class="verse" title="Matthew 25:36" id="Matthew-25-36">I was naked, and you clothed me. I was sick, and you visited me. I was in prison, and you came to me.&#8217;</span>
  <span class="verse" title="Matthew 25:37" id="Matthew-25-37">&#8220;Then the righteous will answer him, saying, &#8216;Lord, when did we see you hungry, and feed you; or thirsty, and give you a drink?</span>
  <span class="verse" title="Matthew 25:38" id="Matthew-25-38">When did we see you as a stranger, and take you in; or naked, and clothe you?</span>
  <span class="verse" title="Matthew 25:39" id="Matthew-25-39">When did we see you sick, or in prison, and come to you?&#8217;</span>
  <span class="verse" title="Matthew 25:40" id="Matthew-25-40">&#8220;The King will answer them, &#8216;Most certainly I tell you, inasmuch as you did it to one of the least of these my brothers, you did it to me.&#8217;</span>
  <span class="verse" title="Matthew 25:41" id="Matthew-25-41">Then he will say also to those on the left hand, &#8216;Depart from me, you cursed, into the eternal fire which is prepared for the devil and his angels;</span>
  <span class="verse" title="Matthew 25:42" id="Matthew-25-42">for I was hungry, and you didn&#8217;t give me food to eat; I was thirsty, and you gave me no drink;</span>
  <span class="verse" title="Matthew 25:43" id="Matthew-25-43">I was a stranger, and you didn&#8217;t take me in; naked, and you didn&#8217;t clothe me; sick, and in prison, and you didn&#8217;t visit me.&#8217;</span>
  <span class="verse" title="Matthew 25:44" id="Matthew-25-44">&#8220;Then they will also answer, saying, &#8216;Lord, when did we see you hungry, or thirsty, or a stranger, or naked, or sick, or in prison, and didn&#8217;t help you?&#8217;</span>
  <span class="verse" title="Matthew 25:45" id="Matthew-25-45">&#8220;Then he will answer them, saying, &#8216;Most certainly I tell you, inasmuch as you didn&#8217;t do it to one of the least of these, you didn&#8217;t do it to me.&#8217;</span>
  <span class="verse" title="Matthew 25:46" id="Matthew-25-46">These will go away into eternal punishment, but the righteous into eternal life.&#8221;</span>
</div>