<div class="chapter" id="Matthew-026">
  <h2>Matthew 26</h2>
  <span class="verse" title="Matthew 26:1" id="Matthew-26-1">It happened, when Jesus had finished all these words, that he said to his disciples,</span>
  <span class="verse" title="Matthew 26:2" id="Matthew-26-2">&#8220;You know that after two days the Passover is coming, and the Son of Man will be delivered up to be crucified.&#8221;</span>
  <span class="verse" title="Matthew 26:3" id="Matthew-26-3">Then the chief priests, the scribes, and the elders of the people were gathered together in the court of the high priest, who was called Caiaphas.</span>
  <span class="verse" title="Matthew 26:4" id="Matthew-26-4">They took counsel together that they might take Jesus by deceit, and kill him.</span>
  <span class="verse" title="Matthew 26:5" id="Matthew-26-5">But they said, &#8220;Not during the feast, lest a riot occur among the people.&#8221;</span>
  <span class="verse" title="Matthew 26:6" id="Matthew-26-6">Now when Jesus was in Bethany, in the house of Simon the leper,</span>
  <span class="verse" title="Matthew 26:7" id="Matthew-26-7">a woman came to him having an alabaster jar of very expensive ointment, and she poured it on his head as he sat at the table.</span>
  <span class="verse" title="Matthew 26:8" id="Matthew-26-8">But when his disciples saw this, they were indignant, saying, &#8220;Why this waste?</span>
  <span class="verse" title="Matthew 26:9" id="Matthew-26-9">For this ointment might have been sold for much, and given to the poor.&#8221;</span>
  <span class="verse" title="Matthew 26:10" id="Matthew-26-10">However, knowing this, Jesus said to them, &#8220;Why do you trouble the woman? Because she has done a good work for me.</span>
  <span class="verse" title="Matthew 26:11" id="Matthew-26-11">For you always have the poor with you; but you don&#8217;t always have me.</span>
  <span class="verse" title="Matthew 26:12" id="Matthew-26-12">For in pouring this ointment on my body, she did it to prepare me for burial.</span>
  <span class="verse" title="Matthew 26:13" id="Matthew-26-13">Most certainly I tell you, wherever this Good News is preached in the whole world, what this woman has done will also be spoken of as a memorial of her.&#8221;</span>
  <span class="verse" title="Matthew 26:14" id="Matthew-26-14">Then one of the twelve, who was called Judas Iscariot, went to the chief priests,</span>
  <span class="verse" title="Matthew 26:15" id="Matthew-26-15">and said, &#8220;What are you willing to give me, that I should deliver him to you?&#8221; They weighed out for him thirty pieces of silver.</span>
  <span class="verse" title="Matthew 26:16" id="Matthew-26-16">From that time he sought opportunity to betray him.</span>
  <span class="verse" title="Matthew 26:17" id="Matthew-26-17">Now on the first day of unleavened bread, the disciples came to Jesus, saying to him, &#8220;Where do you want us to prepare for you to eat the Passover?&#8221;</span>
  <span class="verse" title="Matthew 26:18" id="Matthew-26-18">He said, &#8220;Go into the city to a certain person, and tell him, &#8216;The Teacher says, &#8220;My time is at hand. I will keep the Passover at your house with my disciples.&#8221;&#8217;&#8221;</span>
  <span class="verse" title="Matthew 26:19" id="Matthew-26-19">The disciples did as Jesus commanded them, and they prepared the Passover.</span>
  <span class="verse" title="Matthew 26:20" id="Matthew-26-20">Now when evening had come, he was reclining at the table with the twelve disciples.</span>
  <span class="verse" title="Matthew 26:21" id="Matthew-26-21">As they were eating, he said, &#8220;Most certainly I tell you that one of you will betray me.&#8221;</span>
  <span class="verse" title="Matthew 26:22" id="Matthew-26-22">They were exceedingly sorrowful, and each began to ask him, &#8220;It isn&#8217;t me, is it, Lord?&#8221;</span>
  <span class="verse" title="Matthew 26:23" id="Matthew-26-23">He answered, &#8220;He who dipped his hand with me in the dish, the same will betray me.</span>
  <span class="verse" title="Matthew 26:24" id="Matthew-26-24">The Son of Man goes, even as it is written of him, but woe to that man through whom the Son of Man is betrayed! It would be better for that man if he had not been born.&#8221;</span>
  <span class="verse" title="Matthew 26:25" id="Matthew-26-25">Judas, who betrayed him, answered, &#8220;It isn&#8217;t me, is it, Rabbi?&#8221; He said to him, &#8220;You said it.&#8221;</span>
  <span class="verse" title="Matthew 26:26" id="Matthew-26-26">As they were eating, Jesus took bread, gave thanks for it, and broke it. He gave to the disciples, and said, &#8220;Take, eat; this is my body.&#8221;</span>
  <span class="verse" title="Matthew 26:27" id="Matthew-26-27">He took the cup, gave thanks, and gave to them, saying, &#8220;All of you drink it,</span>
  <span class="verse" title="Matthew 26:28" id="Matthew-26-28">for this is my blood of the new covenant, which is poured out for many for the remission of sins.</span>
  <span class="verse" title="Matthew 26:29" id="Matthew-26-29">But I tell you that I will not drink of this fruit of the vine from now on, until that day when I drink it anew with you in my Father&#8217;s Kingdom.&#8221;</span>
  <span class="verse" title="Matthew 26:30" id="Matthew-26-30">When they had sung a hymn, they went out to the Mount of Olives.</span>
  <span class="verse" title="Matthew 26:31" id="Matthew-26-31">Then Jesus said to them, &#8220;All of you will be made to stumble because of me tonight, for it is written, &#8216;I will strike the shepherd, and the sheep of the flock will be scattered.&#8217;</span>
  <span class="verse" title="Matthew 26:32" id="Matthew-26-32">But after I am raised up, I will go before you into Galilee.&#8221;</span>
  <span class="verse" title="Matthew 26:33" id="Matthew-26-33">But Peter answered him, &#8220;Even if all will be made to stumble because of you, I will never be made to stumble.&#8221;</span>
  <span class="verse" title="Matthew 26:34" id="Matthew-26-34">Jesus said to him, &#8220;Most certainly I tell you that tonight, before the rooster crows, you will deny me three times.&#8221;</span>
  <span class="verse" title="Matthew 26:35" id="Matthew-26-35">Peter said to him, &#8220;Even if I must die with you, I will not deny you.&#8221; All of the disciples also said likewise.</span>
  <span class="verse" title="Matthew 26:36" id="Matthew-26-36">Then Jesus came with them to a place called Gethsemane, and said to his disciples, &#8220;Sit here, while I go there and pray.&#8221;</span>
  <span class="verse" title="Matthew 26:37" id="Matthew-26-37">He took with him Peter and the two sons of Zebedee, and began to be sorrowful and severely troubled.</span>
  <span class="verse" title="Matthew 26:38" id="Matthew-26-38">Then he said to them, &#8220;My soul is exceedingly sorrowful, even to death. Stay here, and watch with me.&#8221;</span>
  <span class="verse" title="Matthew 26:39" id="Matthew-26-39">He went forward a little, fell on his face, and prayed, saying, &#8220;My Father, if it is possible, let this cup pass away from me; nevertheless, not what I desire, but what you desire.&#8221;</span>
  <span class="verse" title="Matthew 26:40" id="Matthew-26-40">He came to the disciples, and found them sleeping, and said to Peter, &#8220;What, couldn&#8217;t you watch with me for one hour?</span>
  <span class="verse" title="Matthew 26:41" id="Matthew-26-41">Watch and pray, that you don&#8217;t enter into temptation. The spirit indeed is willing, but the flesh is weak.&#8221;</span>
  <span class="verse" title="Matthew 26:42" id="Matthew-26-42">Again, a second time he went away, and prayed, saying, &#8220;My Father, if this cup can&#8217;t pass away from me unless I drink it, your desire be done.&#8221;</span>
  <span class="verse" title="Matthew 26:43" id="Matthew-26-43">He came again and found them sleeping, for their eyes were heavy.</span>
  <span class="verse" title="Matthew 26:44" id="Matthew-26-44">He left them again, went away, and prayed a third time, saying the same words.</span>
  <span class="verse" title="Matthew 26:45" id="Matthew-26-45">Then he came to his disciples, and said to them, &#8220;Sleep on now, and take your rest. Behold, the hour is at hand, and the Son of Man is betrayed into the hands of sinners.</span>
  <span class="verse" title="Matthew 26:46" id="Matthew-26-46">Arise, let&#8217;s be going. Behold, he who betrays me is at hand.&#8221;</span>
  <span class="verse" title="Matthew 26:47" id="Matthew-26-47">While he was still speaking, behold, Judas, one of the twelve, came, and with him a great multitude with swords and clubs, from the chief priest and elders of the people.</span>
  <span class="verse" title="Matthew 26:48" id="Matthew-26-48">Now he who betrayed him gave them a sign, saying, &#8220;Whoever I kiss, he is the one. Seize him.&#8221;</span>
  <span class="verse" title="Matthew 26:49" id="Matthew-26-49">Immediately he came to Jesus, and said, &#8220;Hail, Rabbi!&#8221; and kissed him.</span>
  <span class="verse" title="Matthew 26:50" id="Matthew-26-50">Jesus said to him, &#8220;Friend, why are you here?&#8221; Then they came and laid hands on Jesus, and took him.</span>
  <span class="verse" title="Matthew 26:51" id="Matthew-26-51">Behold, one of those who were with Jesus stretched out his hand, and drew his sword, and struck the servant of the high priest, and struck off his ear.</span>
  <span class="verse" title="Matthew 26:52" id="Matthew-26-52">Then Jesus said to him, &#8220;Put your sword back into its place, for all those who take the sword will die by the sword.</span>
  <span class="verse" title="Matthew 26:53" id="Matthew-26-53">Or do you think that I couldn&#8217;t ask my Father, and he would even now send me more than twelve legions of angels?</span>
  <span class="verse" title="Matthew 26:54" id="Matthew-26-54">How then would the Scriptures be fulfilled that it must be so?&#8221;</span>
  <span class="verse" title="Matthew 26:55" id="Matthew-26-55">In that hour Jesus said to the multitudes, &#8220;Have you come out as against a robber with swords and clubs to seize me? I sat daily in the temple teaching, and you didn&#8217;t arrest me.</span>
  <span class="verse" title="Matthew 26:56" id="Matthew-26-56">But all this has happened, that the Scriptures of the prophets might be fulfilled.&#8221; Then all the disciples left him, and fled.</span>
  <span class="verse" title="Matthew 26:57" id="Matthew-26-57">Those who had taken Jesus led him away to Caiaphas the high priest, where the scribes and the elders were gathered together.</span>
  <span class="verse" title="Matthew 26:58" id="Matthew-26-58">But Peter followed him from a distance, to the court of the high priest, and entered in and sat with the officers, to see the end.</span>
  <span class="verse" title="Matthew 26:59" id="Matthew-26-59">Now the chief priests, the elders, and the whole council sought false testimony against Jesus, that they might put him to death;</span>
  <span class="verse" title="Matthew 26:60" id="Matthew-26-60">and they found none. Even though many false witnesses came forward, they found none. But at last two false witnesses came forward,</span>
  <span class="verse" title="Matthew 26:61" id="Matthew-26-61">and said, &#8220;This man said, &#8216;I am able to destroy the temple of God, and to build it in three days.&#8217;&#8221;</span>
  <span class="verse" title="Matthew 26:62" id="Matthew-26-62">The high priest stood up, and said to him, &#8220;Have you no answer? What is this that these testify against you?&#8221;</span>
  <span class="verse" title="Matthew 26:63" id="Matthew-26-63">But Jesus held his peace. The high priest answered him, &#8220;I adjure you by the living God, that you tell us whether you are the Christ, the Son of God.&#8221;</span>
  <span class="verse" title="Matthew 26:64" id="Matthew-26-64">Jesus said to him, &#8220;You have said it. Nevertheless, I tell you, after this you will see the Son of Man sitting at the right hand of Power, and coming on the clouds of the sky.&#8221;</span>
  <span class="verse" title="Matthew 26:65" id="Matthew-26-65">Then the high priest tore his clothing, saying, &#8220;He has spoken blasphemy! Why do we need any more witnesses? Behold, now you have heard his blasphemy.</span>
  <span class="verse" title="Matthew 26:66" id="Matthew-26-66">What do you think?&#8221; They answered, &#8220;He is worthy of death!&#8221;</span>
  <span class="verse" title="Matthew 26:67" id="Matthew-26-67">Then they spit in his face and beat him with their fists, and some slapped him,</span>
  <span class="verse" title="Matthew 26:68" id="Matthew-26-68">saying, &#8220;Prophesy to us, you Christ! Who hit you?&#8221;</span>
  <span class="verse" title="Matthew 26:69" id="Matthew-26-69">Now Peter was sitting outside in the court, and a maid came to him, saying, &#8220;You were also with Jesus, the Galilean!&#8221;</span>
  <span class="verse" title="Matthew 26:70" id="Matthew-26-70">But he denied it before them all, saying, &#8220;I don&#8217;t know what you are talking about.&#8221;</span>
  <span class="verse" title="Matthew 26:71" id="Matthew-26-71">When he had gone out onto the porch, someone else saw him, and said to those who were there, &#8220;This man also was with Jesus of Nazareth.&#8221;</span>
  <span class="verse" title="Matthew 26:72" id="Matthew-26-72">Again he denied it with an oath, &#8220;I don&#8217;t know the man.&#8221;</span>
  <span class="verse" title="Matthew 26:73" id="Matthew-26-73">After a little while those who stood by came and said to Peter, &#8220;Surely you are also one of them, for your speech makes you known.&#8221;</span>
  <span class="verse" title="Matthew 26:74" id="Matthew-26-74">Then he began to curse and to swear, &#8220;I don&#8217;t know the man!&#8221; Immediately the rooster crowed.</span>
  <span class="verse" title="Matthew 26:75" id="Matthew-26-75">Peter remembered the word which Jesus had said to him, &#8220;Before the rooster crows, you will deny me three times.&#8221; He went out and wept bitterly.</span>
</div>