<div class="chapter" id="Matthew-027">
  <h2>Matthew 27</h2>
  <span class="verse" title="Matthew 27:1" id="Matthew-27-1">Now when morning had come, all the chief priests and the elders of the people took counsel against Jesus to put him to death:</span>
  <span class="verse" title="Matthew 27:2" id="Matthew-27-2">and they bound him, and led him away, and delivered him up to Pontius Pilate, the governor.</span>
  <span class="verse" title="Matthew 27:3" id="Matthew-27-3">Then Judas, who betrayed him, when he saw that Jesus was condemned, felt remorse, and brought back the thirty pieces of silver to the chief priests and elders,</span>
  <span class="verse" title="Matthew 27:4" id="Matthew-27-4">saying, &#8220;I have sinned in that I betrayed innocent blood.&#8221; But they said, &#8220;What is that to us? You see to it.&#8221;</span>
  <span class="verse" title="Matthew 27:5" id="Matthew-27-5">He threw down the pieces of silver in the sanctuary, and departed. He went away and hanged himself.</span>
  <span class="verse" title="Matthew 27:6" id="Matthew-27-6">The chief priests took the pieces of silver, and said, &#8220;It&#8217;s not lawful to put them into the treasury, since it is the price of blood.&#8221;</span>
  <span class="verse" title="Matthew 27:7" id="Matthew-27-7">They took counsel, and bought the potter&#8217;s field with them, to bury strangers in.</span>
  <span class="verse" title="Matthew 27:8" id="Matthew-27-8">Therefore that field was called &#8220;The Field of Blood&#8221; to this day.</span>
  <span class="verse" title="Matthew 27:9" id="Matthew-27-9">Then that which was spoken through Jeremiah the prophet was fulfilled, saying,  &#8220;They took the thirty pieces of silver,<br/> <span class="indent">&nbsp;&nbsp;</span>the price of him upon whom a price had been set,<br/> <span class="indent">&nbsp;&nbsp;</span>whom some of the children of Israel priced,<br/></span>
  <span class="verse" title="Matthew 27:10" id="Matthew-27-10">and they gave them for the potter&#8217;s field,<br/> <span class="indent">&nbsp;&nbsp;</span>as the Lord commanded me.&#8221;<br/></span>
  <span class="verse" title="Matthew 27:11" id="Matthew-27-11">Now Jesus stood before the governor: and the governor asked him, saying, &#8220;Are you the King of the Jews?&#8221; Jesus said to him, &#8220;So you say.&#8221;</span>
  <span class="verse" title="Matthew 27:12" id="Matthew-27-12">When he was accused by the chief priests and elders, he answered nothing.</span>
  <span class="verse" title="Matthew 27:13" id="Matthew-27-13">Then Pilate said to him, &#8220;Don&#8217;t you hear how many things they testify against you?&#8221;</span>
  <span class="verse" title="Matthew 27:14" id="Matthew-27-14">He gave him no answer, not even one word, so that the governor marveled greatly.</span>
  <span class="verse" title="Matthew 27:15" id="Matthew-27-15">Now at the feast the governor was accustomed to release to the multitude one prisoner, whom they desired.</span>
  <span class="verse" title="Matthew 27:16" id="Matthew-27-16">They had then a notable prisoner, called Barabbas.</span>
  <span class="verse" title="Matthew 27:17" id="Matthew-27-17">When therefore they were gathered together, Pilate said to them, &#8220;Whom do you want me to release to you? Barabbas, or Jesus, who is called Christ?&#8221;</span>
  <span class="verse" title="Matthew 27:18" id="Matthew-27-18">For he knew that because of envy they had delivered him up.</span>
  <span class="verse" title="Matthew 27:19" id="Matthew-27-19">While he was sitting on the judgment seat, his wife sent to him, saying, &#8220;Have nothing to do with that righteous man, for I have suffered many things this day in a dream because of him.&#8221;</span>
  <span class="verse" title="Matthew 27:20" id="Matthew-27-20">Now the chief priests and the elders persuaded the multitudes to ask for Barabbas, and destroy Jesus.</span>
  <span class="verse" title="Matthew 27:21" id="Matthew-27-21">But the governor answered them, &#8220;Which of the two do you want me to release to you?&#8221; They said, &#8220;Barabbas!&#8221;</span>
  <span class="verse" title="Matthew 27:22" id="Matthew-27-22">Pilate said to them, &#8220;What then shall I do to Jesus, who is called Christ?&#8221; They all said to him, &#8220;Let him be crucified!&#8221;</span>
  <span class="verse" title="Matthew 27:23" id="Matthew-27-23">But the governor said, &#8220;Why? What evil has he done?&#8221; But they cried out exceedingly, saying, &#8220;Let him be crucified!&#8221;</span>
  <span class="verse" title="Matthew 27:24" id="Matthew-27-24">So when Pilate saw that nothing was being gained, but rather that a disturbance was starting, he took water, and washed his hands before the multitude, saying, &#8220;I am innocent of the blood of this righteous person. You see to it.&#8221;</span>
  <span class="verse" title="Matthew 27:25" id="Matthew-27-25">All the people answered, &#8220;May his blood be on us, and on our children!&#8221;</span>
  <span class="verse" title="Matthew 27:26" id="Matthew-27-26">Then he released to them Barabbas, but Jesus he flogged and delivered to be crucified.</span>
  <span class="verse" title="Matthew 27:27" id="Matthew-27-27">Then the governor&#8217;s soldiers took Jesus into the Praetorium, and gathered the whole garrison together against him.</span>
  <span class="verse" title="Matthew 27:28" id="Matthew-27-28">They stripped him, and put a scarlet robe on him.</span>
  <span class="verse" title="Matthew 27:29" id="Matthew-27-29">They braided a crown of thorns and put it on his head, and a reed in his right hand; and they kneeled down before him, and mocked him, saying, &#8220;Hail, King of the Jews!&#8221;</span>
  <span class="verse" title="Matthew 27:30" id="Matthew-27-30">They spat on him, and took the reed and struck him on the head.</span>
  <span class="verse" title="Matthew 27:31" id="Matthew-27-31">When they had mocked him, they took the robe off of him, and put his clothes on him, and led him away to crucify him.</span>
  <span class="verse" title="Matthew 27:32" id="Matthew-27-32">As they came out, they found a man of Cyrene, Simon by name, and they compelled him to go with them, that he might carry his cross.</span>
  <span class="verse" title="Matthew 27:33" id="Matthew-27-33">They came to a place called &#8220;Golgotha,&#8221; that is to say, &#8220;The place of a skull.&#8221;</span>
  <span class="verse" title="Matthew 27:34" id="Matthew-27-34">They gave him sour wine to drink mixed with gall. When he had tasted it, he would not drink.</span>
  <span class="verse" title="Matthew 27:35" id="Matthew-27-35">When they had crucified him, they divided his clothing among them, casting lots,</span>
  <span class="verse" title="Matthew 27:36" id="Matthew-27-36">and they sat and watched him there.</span>
  <span class="verse" title="Matthew 27:37" id="Matthew-27-37">They set up over his head the accusation against him written, &#8220;THIS IS JESUS, THE KING OF THE JEWS.&#8221;</span>
  <span class="verse" title="Matthew 27:38" id="Matthew-27-38">Then there were two robbers crucified with him, one on his right hand and one on the left.</span>
  <span class="verse" title="Matthew 27:39" id="Matthew-27-39">Those who passed by blasphemed him, wagging their heads,</span>
  <span class="verse" title="Matthew 27:40" id="Matthew-27-40">and saying, &#8220;You who destroy the temple, and build it in three days, save yourself! If you are the Son of God, come down from the cross!&#8221;</span>
  <span class="verse" title="Matthew 27:41" id="Matthew-27-41">Likewise the chief priests also mocking, with the scribes, the Pharisees, and the elders, said,</span>
  <span class="verse" title="Matthew 27:42" id="Matthew-27-42">&#8220;He saved others, but he can&#8217;t save himself. If he is the King of Israel, let him come down from the cross now, and we will believe in him.</span>
  <span class="verse" title="Matthew 27:43" id="Matthew-27-43">He trusts in God. Let God deliver him now, if he wants him; for he said, &#8216;I am the Son of God.&#8217;&#8221;</span>
  <span class="verse" title="Matthew 27:44" id="Matthew-27-44">The robbers also who were crucified with him cast on him the same reproach.</span>
  <span class="verse" title="Matthew 27:45" id="Matthew-27-45">Now from the sixth hour there was darkness over all the land until the ninth hour.</span>
  <span class="verse" title="Matthew 27:46" id="Matthew-27-46">About the ninth hour Jesus cried with a loud voice, saying, &#8220;Eli, Eli, lima sabachthani?&#8221; That is, &#8220;My God, my God, why have you forsaken me?&#8221;</span>
  <span class="verse" title="Matthew 27:47" id="Matthew-27-47">Some of them who stood there, when they heard it, said, &#8220;This man is calling Elijah.&#8221;</span>
  <span class="verse" title="Matthew 27:48" id="Matthew-27-48">Immediately one of them ran, and took a sponge, and filled it with vinegar, and put it on a reed, and gave him a drink.</span>
  <span class="verse" title="Matthew 27:49" id="Matthew-27-49">The rest said, &#8220;Let him be. Let&#8217;s see whether Elijah comes to save him.&#8221;</span>
  <span class="verse" title="Matthew 27:50" id="Matthew-27-50">Jesus cried again with a loud voice, and yielded up his spirit.</span>
  <span class="verse" title="Matthew 27:51" id="Matthew-27-51">Behold, the veil of the temple was torn in two from the top to the bottom. The earth quaked and the rocks were split.</span>
  <span class="verse" title="Matthew 27:52" id="Matthew-27-52">The tombs were opened, and many bodies of the saints who had fallen asleep were raised;</span>
  <span class="verse" title="Matthew 27:53" id="Matthew-27-53">and coming out of the tombs after his resurrection, they entered into the holy city and appeared to many.</span>
  <span class="verse" title="Matthew 27:54" id="Matthew-27-54">Now the centurion, and those who were with him watching Jesus, when they saw the earthquake, and the things that were done, feared exceedingly, saying, &#8220;Truly this was the Son of God.&#8221;</span>
  <span class="verse" title="Matthew 27:55" id="Matthew-27-55">Many women were there watching from afar, who had followed Jesus from Galilee, serving him.</span>
  <span class="verse" title="Matthew 27:56" id="Matthew-27-56">Among them were Mary Magdalene, Mary the mother of James and Joses, and the mother of the sons of Zebedee.</span>
  <span class="verse" title="Matthew 27:57" id="Matthew-27-57">When evening had come, a rich man from Arimathaea, named Joseph, who himself was also Jesus&#8217; disciple came.</span>
  <span class="verse" title="Matthew 27:58" id="Matthew-27-58">This man went to Pilate, and asked for Jesus&#8217; body. Then Pilate commanded the body to be given up.</span>
  <span class="verse" title="Matthew 27:59" id="Matthew-27-59">Joseph took the body, and wrapped it in a clean linen cloth,</span>
  <span class="verse" title="Matthew 27:60" id="Matthew-27-60">and laid it in his own new tomb, which he had cut out in the rock, and he rolled a great stone to the door of the tomb, and departed.</span>
  <span class="verse" title="Matthew 27:61" id="Matthew-27-61">Mary Magdalene was there, and the other Mary, sitting opposite the tomb.</span>
  <span class="verse" title="Matthew 27:62" id="Matthew-27-62">Now on the next day, which was the day after the Preparation Day, the chief priests and the Pharisees were gathered together to Pilate,</span>
  <span class="verse" title="Matthew 27:63" id="Matthew-27-63">saying, &#8220;Sir, we remember what that deceiver said while he was still alive: &#8216;After three days I will rise again.&#8217;</span>
  <span class="verse" title="Matthew 27:64" id="Matthew-27-64">Command therefore that the tomb be made secure until the third day, lest perhaps his disciples come at night and steal him away, and tell the people, &#8216;He is risen from the dead;&#8217; and the last deception will be worse than the first.&#8221;</span>
  <span class="verse" title="Matthew 27:65" id="Matthew-27-65">Pilate said to them, &#8220;You have a guard. Go, make it as secure as you can.&#8221;</span>
  <span class="verse" title="Matthew 27:66" id="Matthew-27-66">So they went with the guard and made the tomb secure, sealing the stone.</span>
</div>