<div class="chapter" id="Matthew-028">
  <h2>Matthew 28</h2>
  <span class="verse" title="Matthew 28:1" id="Matthew-28-1">Now after the Sabbath, as it began to dawn on the first day of the week, Mary Magdalene and the other Mary came to see the tomb.</span>
  <span class="verse" title="Matthew 28:2" id="Matthew-28-2">Behold, there was a great earthquake, for an angel of the Lord descended from the sky, and came and rolled away the stone from the door, and sat on it.</span>
  <span class="verse" title="Matthew 28:3" id="Matthew-28-3">His appearance was like lightning, and his clothing white as snow.</span>
  <span class="verse" title="Matthew 28:4" id="Matthew-28-4">For fear of him, the guards shook, and became like dead men.</span>
  <span class="verse" title="Matthew 28:5" id="Matthew-28-5">The angel answered the women, &#8220;Don&#8217;t be afraid, for I know that you seek Jesus, who has been crucified.</span>
  <span class="verse" title="Matthew 28:6" id="Matthew-28-6">He is not here, for he has risen, just like he said. Come, see the place where the Lord was lying.</span>
  <span class="verse" title="Matthew 28:7" id="Matthew-28-7">Go quickly and tell his disciples, &#8216;He has risen from the dead, and behold, he goes before you into Galilee; there you will see him.&#8217; Behold, I have told you.&#8221;</span>
  <span class="verse" title="Matthew 28:8" id="Matthew-28-8">They departed quickly from the tomb with fear and great joy, and ran to bring his disciples word.</span>
  <span class="verse" title="Matthew 28:9" id="Matthew-28-9">As they went to tell his disciples, behold, Jesus met them, saying, &#8220;Rejoice!&#8221; They came and took hold of his feet, and worshiped him.</span>
  <span class="verse" title="Matthew 28:10" id="Matthew-28-10">Then Jesus said to them, &#8220;Don&#8217;t be afraid. Go tell my brothers that they should go into Galilee, and there they will see me.&#8221;</span>
  <span class="verse" title="Matthew 28:11" id="Matthew-28-11">Now while they were going, behold, some of the guards came into the city, and told the chief priests all the things that had happened.</span>
  <span class="verse" title="Matthew 28:12" id="Matthew-28-12">When they were assembled with the elders, and had taken counsel, they gave a large amount of silver to the soldiers,</span>
  <span class="verse" title="Matthew 28:13" id="Matthew-28-13">saying, &#8220;Say that his disciples came by night, and stole him away while we slept.</span>
  <span class="verse" title="Matthew 28:14" id="Matthew-28-14">If this comes to the governor&#8217;s ears, we will persuade him and make you free of worry.&#8221;</span>
  <span class="verse" title="Matthew 28:15" id="Matthew-28-15">So they took the money and did as they were told. This saying was spread abroad among the Jews, and continues until this day.</span>
  <span class="verse" title="Matthew 28:16" id="Matthew-28-16">But the eleven disciples went into Galilee, to the mountain where Jesus had sent them.</span>
  <span class="verse" title="Matthew 28:17" id="Matthew-28-17">When they saw him, they bowed down to him, but some doubted.</span>
  <span class="verse" title="Matthew 28:18" id="Matthew-28-18">Jesus came to them and spoke to them, saying, &#8220;All authority has been given to me in heaven and on earth.</span>
  <span class="verse" title="Matthew 28:19" id="Matthew-28-19">Go, and make disciples of all nations, baptizing them in the name of the Father and of the Son and of the Holy Spirit,</span>
  <span class="verse" title="Matthew 28:20" id="Matthew-28-20">teaching them to observe all things that I commanded you. Behold, I am with you always, even to the end of the age.&#8221; Amen.</span>
</div>