<div class="chapter" id="Joshua-004">
  <h2>Joshua 4</h2>
  <span class="verse" title="Joshua 4:1" id="Joshua-4-1">It happened, when all the nation had completely passed over the Jordan, that Yahweh spoke to Joshua, saying,</span>
  <span class="verse" title="Joshua 4:2" id="Joshua-4-2">&#8220;Take twelve men out of the people, out of every tribe a man,</span>
  <span class="verse" title="Joshua 4:3" id="Joshua-4-3">and command them, saying, &#8216;Take from out of the middle of the Jordan, out of the place where the priests&#8217; feet stood firm, twelve stones, and carry them over with you, and lay them down in the lodging place, where you will lodge tonight.&#8217;&#8221;</span>
  <span class="verse" title="Joshua 4:4" id="Joshua-4-4">Then Joshua called the twelve men, whom he had prepared of the children of Israel, out of every tribe a man.</span>
  <span class="verse" title="Joshua 4:5" id="Joshua-4-5">Joshua said to them, &#8220;Pass over before the ark of Yahweh your God into the middle of the Jordan, and each of you pick up a stone and put it on your shoulder, according to the number of the tribes of the children of Israel;</span>
  <span class="verse" title="Joshua 4:6" id="Joshua-4-6">that this may be a sign among you, that when your children ask in time to come, saying, &#8216;What do you mean by these stones?&#8217;</span>
  <span class="verse" title="Joshua 4:7" id="Joshua-4-7">then you shall tell them, &#8216;Because the waters of the Jordan were cut off before the ark of the covenant of Yahweh. When it passed over the Jordan, the waters of the Jordan were cut off. These stones shall be for a memorial to the children of Israel forever.&#8217;&#8221;</span>
  <span class="verse" title="Joshua 4:8" id="Joshua-4-8">The children of Israel did as Joshua commanded, and took up twelve stones out of the middle of the Jordan, as Yahweh spoke to Joshua, according to the number of the tribes of the children of Israel; and they carried them over with them to the place where they lodged, and laid them down there.</span>
  <span class="verse" title="Joshua 4:9" id="Joshua-4-9">Joshua set up twelve stones in the middle of the Jordan, in the place where the feet of the priests who bore the ark of the covenant stood; and they are there to this day.</span>
  <span class="verse" title="Joshua 4:10" id="Joshua-4-10">For the priests who bore the ark stood in the middle of the Jordan, until everything was finished that Yahweh commanded Joshua to speak to the people, according to all that Moses commanded Joshua; and the people hurried and passed over.</span>
  <span class="verse" title="Joshua 4:11" id="Joshua-4-11">It happened, when all the people had completely passed over, that the ark of Yahweh passed over, with the priests, in the presence of the people.</span>
  <span class="verse" title="Joshua 4:12" id="Joshua-4-12">The children of Reuben, and the children of Gad, and the half-tribe of Manasseh, passed over armed before the children of Israel, as Moses spoke to them.</span>
  <span class="verse" title="Joshua 4:13" id="Joshua-4-13">About forty thousand men, ready and armed for war passed over before Yahweh to battle, to the plains of Jericho.</span>
  <span class="verse" title="Joshua 4:14" id="Joshua-4-14">On that day, Yahweh magnified Joshua in the sight of all Israel; and they feared him, as they feared Moses, all the days of his life.</span>
  <span class="verse" title="Joshua 4:15" id="Joshua-4-15">Yahweh spoke to Joshua, saying,</span>
  <span class="verse" title="Joshua 4:16" id="Joshua-4-16">&#8220;Command the priests who bear the ark of the testimony, that they come up out of the Jordan.&#8221;</span>
  <span class="verse" title="Joshua 4:17" id="Joshua-4-17">Joshua therefore commanded the priests, saying, &#8220;Come up out of the Jordan!&#8221;</span>
  <span class="verse" title="Joshua 4:18" id="Joshua-4-18">It happened, when the priests who bore the ark of the covenant of Yahweh had come up out of the middle of the Jordan, and the soles of the priests&#8217; feet were lifted up to the dry ground, that the waters of the Jordan returned to their place, and went over all its banks, as before.</span>
  <span class="verse" title="Joshua 4:19" id="Joshua-4-19">The people came up out of the Jordan on the tenth day of the first month, and encamped in Gilgal, on the east border of Jericho.</span>
  <span class="verse" title="Joshua 4:20" id="Joshua-4-20">Joshua set up those twelve stones, which they took out of the Jordan, in Gilgal.</span>
  <span class="verse" title="Joshua 4:21" id="Joshua-4-21">He spoke to the children of Israel, saying, &#8220;When your children ask their fathers in time to come, saying, &#8216;What do these stones mean?&#8217;</span>
  <span class="verse" title="Joshua 4:22" id="Joshua-4-22">Then you shall let your children know, saying, &#8216;Israel came over this Jordan on dry land.</span>
  <span class="verse" title="Joshua 4:23" id="Joshua-4-23">For Yahweh your God dried up the waters of the Jordan from before you, until you had passed over, as Yahweh your God did to the Red Sea, which he dried up from before us, until we had passed over;</span>
  <span class="verse" title="Joshua 4:24" id="Joshua-4-24">that all the peoples of the earth may know the hand of Yahweh, that it is mighty; that you may fear Yahweh your God forever.&#8217;&#8221;</span>
</div>