<div class="chapter" id="Joshua-009">
  <h2>Joshua 9</h2>
  <span class="verse" title="Joshua 9:1" id="Joshua-9-1">It happened, when all the kings who were beyond the Jordan, in the hill country, and in the lowland, and on all the shore of the great sea in front of Lebanon, the Hittite, the Amorite, the Canaanite, the Perizzite, the Hivite, and the Jebusite, heard of it</span>
  <span class="verse" title="Joshua 9:2" id="Joshua-9-2">that they gathered themselves together to fight with Joshua and with Israel, with one accord.</span>
  <span class="verse" title="Joshua 9:3" id="Joshua-9-3">But when the inhabitants of Gibeon heard what Joshua had done to Jericho and to Ai,</span>
  <span class="verse" title="Joshua 9:4" id="Joshua-9-4">they also resorted to a ruse, and went and made as if they had been ambassadors, and took old sacks on their donkeys, and wineskins, old and torn and bound up,</span>
  <span class="verse" title="Joshua 9:5" id="Joshua-9-5">and old and patched shoes on their feet, and wore old garments. All the bread of their provision was dry and moldy.</span>
  <span class="verse" title="Joshua 9:6" id="Joshua-9-6">They went to Joshua to the camp at Gilgal, and said to him, and to the men of Israel, &#8220;We have come from a far country. Now therefore make a covenant with us.&#8221;</span>
  <span class="verse" title="Joshua 9:7" id="Joshua-9-7">The men of Israel said to the Hivites, &#8220;What if you live among us. How could we make a covenant with you?&#8221;</span>
  <span class="verse" title="Joshua 9:8" id="Joshua-9-8">They said to Joshua, &#8220;We are your servants.&#8221; Joshua said to them, &#8220;Who are you? Where do you come from?&#8221;</span>
  <span class="verse" title="Joshua 9:9" id="Joshua-9-9">They said to him, &#8220;Your servants have come from a very far country because of the name of Yahweh your God; for we have heard of his fame, all that he did in Egypt,</span>
  <span class="verse" title="Joshua 9:10" id="Joshua-9-10">and all that he did to the two kings of the Amorites who were beyond the Jordan, to Sihon king of Heshbon and to Og king of Bashan, who was at Ashtaroth.</span>
  <span class="verse" title="Joshua 9:11" id="Joshua-9-11">Our elders and all the inhabitants of our country spoke to us, saying, &#8216;Take provision in your hand for the journey, and go to meet them, and tell them, &#8220;We are your servants. Now make a covenant with us.&#8221;&#8217;</span>
  <span class="verse" title="Joshua 9:12" id="Joshua-9-12">This our bread we took hot for our provision out of our houses on the day we went out to go to you; but now, behold, it is dry, and has become moldy.</span>
  <span class="verse" title="Joshua 9:13" id="Joshua-9-13">These wineskins, which we filled, were new; and behold, they are torn. These our garments and our shoes have become old because of the very long journey.&#8221;</span>
  <span class="verse" title="Joshua 9:14" id="Joshua-9-14">The men sampled their provisions, and didn&#8217;t ask counsel from the mouth of Yahweh.</span>
  <span class="verse" title="Joshua 9:15" id="Joshua-9-15">Joshua made peace with them, and made a covenant with them, to let them live. The princes of the congregation swore to them.</span>
  <span class="verse" title="Joshua 9:16" id="Joshua-9-16">It happened at the end of three days after they had made a covenant with them, that they heard that they were their neighbors, and that they lived among them.</span>
  <span class="verse" title="Joshua 9:17" id="Joshua-9-17">The children of Israel traveled and came to their cities on the third day. Now their cities were Gibeon, Chephirah, Beeroth, and Kiriath Jearim.</span>
  <span class="verse" title="Joshua 9:18" id="Joshua-9-18">The children of Israel didn&#8217;t strike them, because the princes of the congregation had sworn to them by Yahweh, the God of Israel. All the congregation murmured against the princes.</span>
  <span class="verse" title="Joshua 9:19" id="Joshua-9-19">But all the princes said to all the congregation, &#8220;We have sworn to them by Yahweh, the God of Israel: now therefore we may not touch them.</span>
  <span class="verse" title="Joshua 9:20" id="Joshua-9-20">This we will do to them, and let them live; lest wrath be on us, because of the oath which we swore to them.&#8221;</span>
  <span class="verse" title="Joshua 9:21" id="Joshua-9-21">The princes said to them, &#8220;Let them live, so they became wood cutters and drawers of water for all the congregation, as the princes had spoken to them.&#8221;</span>
  <span class="verse" title="Joshua 9:22" id="Joshua-9-22">Joshua called for them, and he spoke to them, saying, &#8220;Why have you deceived us, saying, &#8216;We are very far from you,&#8217; when you live among us?</span>
  <span class="verse" title="Joshua 9:23" id="Joshua-9-23">Now therefore you are cursed, and some of you will never fail to be bondservants, both wood cutters and drawers of water for the house of my God.&#8221;</span>
  <span class="verse" title="Joshua 9:24" id="Joshua-9-24">They answered Joshua, and said, &#8220;Because your servants were certainly told how Yahweh your God commanded his servant Moses to give you all the land, and to destroy all the inhabitants of the land from before you. Therefore we were very afraid for our lives because of you, and have done this thing.</span>
  <span class="verse" title="Joshua 9:25" id="Joshua-9-25">Now, behold, we are in your hand. Do to us as it seems good and right to you to do.&#8221;</span>
  <span class="verse" title="Joshua 9:26" id="Joshua-9-26">He did so to them, and delivered them out of the hand of the children of Israel, so that they didn&#8217;t kill them.</span>
  <span class="verse" title="Joshua 9:27" id="Joshua-9-27">That day Joshua made them wood cutters and drawers of water for the congregation and for the altar of Yahweh, to this day, in the place which he should choose.</span>
</div>