<div class="chapter" id="Joshua-012">
  <h2>Joshua 12</h2>
  <span class="verse" title="Joshua 12:1" id="Joshua-12-1">Now these are the kings of the land, whom the children of Israel struck, and possessed their land beyond the Jordan toward the sunrise, from the valley of the Arnon to Mount Hermon, and all the Arabah eastward:</span>
  <span class="verse" title="Joshua 12:2" id="Joshua-12-2">Sihon king of the Amorites, who lived in Heshbon, and ruled from Aroer, which is on the edge of the valley of the Arnon, and the middle of the valley, and half Gilead, even to the river Jabbok, the border of the children of Ammon;</span>
  <span class="verse" title="Joshua 12:3" id="Joshua-12-3">and the Arabah to the sea of Chinneroth, eastward, and to the sea of the Arabah, even the Salt Sea, eastward, the way to Beth Jeshimoth; and on the south, under the slopes of Pisgah:</span>
  <span class="verse" title="Joshua 12:4" id="Joshua-12-4">and the border of Og king of Bashan, of the remnant of the Rephaim, who lived at Ashtaroth and at Edrei,</span>
  <span class="verse" title="Joshua 12:5" id="Joshua-12-5">and ruled in Mount Hermon, and in Salecah, and in all Bashan, to the border of the Geshurites and the Maacathites, and half Gilead, the border of Sihon king of Heshbon.</span>
  <span class="verse" title="Joshua 12:6" id="Joshua-12-6">Moses the servant of Yahweh and the children of Israel struck them. Moses the servant of Yahweh gave it for a possession to the Reubenites, and the Gadites, and the half-tribe of Manasseh.</span>
  <span class="verse" title="Joshua 12:7" id="Joshua-12-7">These are the kings of the land whom Joshua and the children of Israel struck beyond the Jordan westward, from Baal Gad in the valley of Lebanon even to Mount Halak, that goes up to Seir. Joshua gave it to the tribes of Israel for a possession according to their divisions;</span>
  <span class="verse" title="Joshua 12:8" id="Joshua-12-8">in the hill country, and in the lowland, and in the Arabah, and in the slopes, and in the wilderness, and in the South; the Hittite, the Amorite, and the Canaanite, the Perizzite, the Hivite, and the Jebusite:</span>
  <span class="verse" title="Joshua 12:9" id="Joshua-12-9">the king of Jericho, one; the king of Ai, which is beside Bethel, one;</span>
  <span class="verse" title="Joshua 12:10" id="Joshua-12-10">the king of Jerusalem, one; the king of Hebron, one;</span>
  <span class="verse" title="Joshua 12:11" id="Joshua-12-11">the king of Jarmuth, one; the king of Lachish, one;</span>
  <span class="verse" title="Joshua 12:12" id="Joshua-12-12">the king of Eglon, one; the king of Gezer, one;</span>
  <span class="verse" title="Joshua 12:13" id="Joshua-12-13">the king of Debir, one; the king of Geder, one;</span>
  <span class="verse" title="Joshua 12:14" id="Joshua-12-14">the king of Hormah, one; the king of Arad, one;</span>
  <span class="verse" title="Joshua 12:15" id="Joshua-12-15">the king of Libnah, one; the king of Adullam, one;</span>
  <span class="verse" title="Joshua 12:16" id="Joshua-12-16">the king of Makkedah, one; the king of Bethel, one;</span>
  <span class="verse" title="Joshua 12:17" id="Joshua-12-17">the king of Tappuah, one; the king of Hepher, one;</span>
  <span class="verse" title="Joshua 12:18" id="Joshua-12-18">the king of Aphek, one; the king of Lassharon, one;</span>
  <span class="verse" title="Joshua 12:19" id="Joshua-12-19">the king of Madon, one; the king of Hazor, one;</span>
  <span class="verse" title="Joshua 12:20" id="Joshua-12-20">the king of Shimron Meron, one; the king of Achshaph, one;</span>
  <span class="verse" title="Joshua 12:21" id="Joshua-12-21">the king of Taanach, one; the king of Megiddo, one;</span>
  <span class="verse" title="Joshua 12:22" id="Joshua-12-22">the king of Kedesh, one; the king of Jokneam in Carmel, one;</span>
  <span class="verse" title="Joshua 12:23" id="Joshua-12-23">the king of Dor in the height of Dor, one; the king of Goiim in Gilgal, one;</span>
  <span class="verse" title="Joshua 12:24" id="Joshua-12-24">the king of Tirzah, one: all the kings thirty-one.</span>
</div>