<div class="chapter" id="Joshua-013">
  <h2>Joshua 13</h2>
  <span class="verse" title="Joshua 13:1" id="Joshua-13-1">Now Joshua was old and well advanced in years. Yahweh said to him, &#8220;You are old and advanced in years, and there remains yet very much land to be possessed.</span>
  <span class="verse" title="Joshua 13:2" id="Joshua-13-2">&#8220;This is the land that still remains: all the regions of the Philistines, and all the Geshurites;</span>
  <span class="verse" title="Joshua 13:3" id="Joshua-13-3">from the Shihor, which is before Egypt, even to the border of Ekron northward, which is counted as Canaanite; the five lords of the Philistines; the Gazites, and the Ashdodites, the Ashkelonites, the Gittites, and the Ekronites; also the Avvim,</span>
  <span class="verse" title="Joshua 13:4" id="Joshua-13-4">on the south; all the land of the Canaanites, and Mearah that belongs to the Sidonians, to Aphek, to the border of the Amorites;</span>
  <span class="verse" title="Joshua 13:5" id="Joshua-13-5">and the land of the Gebalites, and all Lebanon, toward the sunrise, from Baal Gad under Mount Hermon to the entrance of Hamath;</span>
  <span class="verse" title="Joshua 13:6" id="Joshua-13-6">all the inhabitants of the hill country from Lebanon to Misrephoth Maim, even all the Sidonians; them will I drive out from before the children of Israel: only allocate it to Israel for an inheritance, as I have commanded you.</span>
  <span class="verse" title="Joshua 13:7" id="Joshua-13-7">Now therefore divide this land for an inheritance to the nine tribes and the half-tribe of Manasseh.&#8221;</span>
  <span class="verse" title="Joshua 13:8" id="Joshua-13-8">With him the Reubenites and the Gadites received their inheritance, which Moses gave them, beyond the Jordan eastward, even as Moses the servant of Yahweh gave them:</span>
  <span class="verse" title="Joshua 13:9" id="Joshua-13-9">from Aroer, that is on the edge of the valley of the Arnon, and the city that is in the middle of the valley, and all the plain of Medeba to Dibon;</span>
  <span class="verse" title="Joshua 13:10" id="Joshua-13-10">and all the cities of Sihon king of the Amorites, who reigned in Heshbon, to the border of the children of Ammon;</span>
  <span class="verse" title="Joshua 13:11" id="Joshua-13-11">and Gilead, and the border of the Geshurites and Maacathites, and all Mount Hermon, and all Bashan to Salecah;</span>
  <span class="verse" title="Joshua 13:12" id="Joshua-13-12">all the kingdom of Og in Bashan, who reigned in Ashtaroth and in Edrei (the same was left of the remnant of the Rephaim); for Moses attacked these, and drove them out.</span>
  <span class="verse" title="Joshua 13:13" id="Joshua-13-13">Nevertheless the children of Israel didn&#8217;t drive out the Geshurites, nor the Maacathites: but Geshur and Maacath dwell in the midst of Israel to this day.</span>
  <span class="verse" title="Joshua 13:14" id="Joshua-13-14">Only he gave no inheritance to the tribe of Levi. The offerings of Yahweh, the God of Israel, made by fire are his inheritance, as he spoke to him.</span>
  <span class="verse" title="Joshua 13:15" id="Joshua-13-15">Moses gave to the tribe of the children of Reuben according to their families.</span>
  <span class="verse" title="Joshua 13:16" id="Joshua-13-16">Their border was from Aroer, that is on the edge of the valley of the Arnon, and the city that is in the middle of the valley, and all the plain by Medeba;</span>
  <span class="verse" title="Joshua 13:17" id="Joshua-13-17">Heshbon, and all its cities that are in the plain; Dibon, Bamoth Baal, Beth Baal Meon,</span>
  <span class="verse" title="Joshua 13:18" id="Joshua-13-18">Jahaz, Kedemoth, Mephaath,</span>
  <span class="verse" title="Joshua 13:19" id="Joshua-13-19">Kiriathaim, Sibmah, Zereth Shahar in the mount of the valley,</span>
  <span class="verse" title="Joshua 13:20" id="Joshua-13-20">Beth Peor, the slopes of Pisgah, Beth Jeshimoth,</span>
  <span class="verse" title="Joshua 13:21" id="Joshua-13-21">all the cities of the plain, and all the kingdom of Sihon king of the Amorites, who reigned in Heshbon, whom Moses struck with the chiefs of Midian, Evi, Rekem, Zur, Hur, and Reba, the princes of Sihon, who lived in the land.</span>
  <span class="verse" title="Joshua 13:22" id="Joshua-13-22">The children of Israel alse killed Balaam also the son of Beor, the soothsayer, with the sword, among the rest of their slain.</span>
  <span class="verse" title="Joshua 13:23" id="Joshua-13-23">The border of the children of Reuben was the bank of the Jordan. This was the inheritance of the children of Reuben according to their families, the cities and its villages.</span>
  <span class="verse" title="Joshua 13:24" id="Joshua-13-24">Moses gave to the tribe of Gad, to the children of Gad, according to their families.</span>
  <span class="verse" title="Joshua 13:25" id="Joshua-13-25">Their border was Jazer, and all the cities of Gilead, and half the land of the children of Ammon, to Aroer that is before Rabbah;</span>
  <span class="verse" title="Joshua 13:26" id="Joshua-13-26">and from Heshbon to Ramath Mizpeh, and Betonim; and from Mahanaim to the border of Debir;</span>
  <span class="verse" title="Joshua 13:27" id="Joshua-13-27">and in the valley, Beth Haram, Beth Nimrah, Succoth, and Zaphon, the rest of the kingdom of Sihon king of Heshbon, the Jordan&#8217;s bank, to the uttermost part of the sea of Chinnereth beyond the Jordan eastward.</span>
  <span class="verse" title="Joshua 13:28" id="Joshua-13-28">This is the inheritance of the children of Gad according to their families, the cities and its villages.</span>
  <span class="verse" title="Joshua 13:29" id="Joshua-13-29">Moses gave an inheritance to the half-tribe of Manasseh. It was for the half-tribe of the children of Manasseh according to their families.</span>
  <span class="verse" title="Joshua 13:30" id="Joshua-13-30">Their border was from Mahanaim, all Bashan, all the kingdom of Og king of Bashan, and all the towns of Jair, which are in Bashan, sixty cities.</span>
  <span class="verse" title="Joshua 13:31" id="Joshua-13-31">Half Gilead, Ashtaroth, and Edrei, the cities of the kingdom of Og in Bashan, were for the children of Machir the son of Manasseh, even for the half of the children of Machir according to their families.</span>
  <span class="verse" title="Joshua 13:32" id="Joshua-13-32">These are the inheritances which Moses distributed in the plains of Moab, beyond the Jordan at Jericho, eastward.</span>
  <span class="verse" title="Joshua 13:33" id="Joshua-13-33">But to the tribe of Levi Moses gave no inheritance. Yahweh, the God of Israel, is their inheritance, as he spoke to them.</span>
</div>