<div class="chapter" id="Joshua-014">
  <h2>Joshua 14</h2>
  <span class="verse" title="Joshua 14:1" id="Joshua-14-1">These are the inheritances which the children of Israel took in the land of Canaan, which Eleazar the priest, Joshua the son of Nun, and the heads of the fathers&#8217; houses of the tribes of the children of Israel, distributed to them,</span>
  <span class="verse" title="Joshua 14:2" id="Joshua-14-2">by the lot of their inheritance, as Yahweh commanded by Moses, for the nine tribes, and for the half-tribe.</span>
  <span class="verse" title="Joshua 14:3" id="Joshua-14-3">For Moses had given the inheritance of the two tribes and the half-tribe beyond the Jordan; but to the Levites he gave no inheritance among them.</span>
  <span class="verse" title="Joshua 14:4" id="Joshua-14-4">For the children of Joseph were two tribes, Manasseh and Ephraim: and they gave no portion to the Levites in the land, except cities to dwell in, with their suburbs for their livestock and for their property.</span>
  <span class="verse" title="Joshua 14:5" id="Joshua-14-5">The children of Israel did as Yahweh commanded Moses, and they divided the land.</span>
  <span class="verse" title="Joshua 14:6" id="Joshua-14-6">Then the children of Judah drew near to Joshua in Gilgal. Caleb the son of Jephunneh the Kenizzite said to him, &#8220;You know the thing that Yahweh spoke to Moses the man of God concerning me and concerning you in Kadesh Barnea.</span>
  <span class="verse" title="Joshua 14:7" id="Joshua-14-7">I was forty years old when Moses the servant of Yahweh sent me from Kadesh Barnea to spy out the land. I brought him word again as it was in my heart.</span>
  <span class="verse" title="Joshua 14:8" id="Joshua-14-8">Nevertheless, my brothers who went up with me made the heart of the people melt; but I wholly followed Yahweh my God.</span>
  <span class="verse" title="Joshua 14:9" id="Joshua-14-9">Moses swore on that day, saying, &#8216;Surely the land where you walked shall be an inheritance to you and to your children forever, because you have wholly followed Yahweh my God.&#8217;</span>
  <span class="verse" title="Joshua 14:10" id="Joshua-14-10">&#8220;Now, behold, Yahweh has kept me alive, as he spoke, these forty-five years, from the time that Yahweh spoke this word to Moses, while Israel walked in the wilderness. Now, behold, I am eighty-five years old, today.</span>
  <span class="verse" title="Joshua 14:11" id="Joshua-14-11">As yet I am as strong today as I was in the day that Moses sent me: as my strength was then, even so is my strength now for war, to go out and to come in.</span>
  <span class="verse" title="Joshua 14:12" id="Joshua-14-12">Now therefore give me this hill country, of which Yahweh spoke in that day; for you heard in that day how the Anakim were there, and great and fortified cities. It may be that Yahweh will be with me, and I shall drive them out, as Yahweh spoke.&#8221;</span>
  <span class="verse" title="Joshua 14:13" id="Joshua-14-13">Joshua blessed him; and he gave Hebron to Caleb the son of Jephunneh for an inheritance.</span>
  <span class="verse" title="Joshua 14:14" id="Joshua-14-14">Therefore Hebron became the inheritance of Caleb the son of Jephunneh the Kenizzite to this day; because he wholly followed Yahweh, the God of Israel.</span>
  <span class="verse" title="Joshua 14:15" id="Joshua-14-15">Now the name of Hebron before was Kiriath Arba, after the greatest man among the Anakim. The land had rest from war.</span>
</div>