<div class="chapter" id="Joshua-015">
  <h2>Joshua 15</h2>
  <span class="verse" title="Joshua 15:1" id="Joshua-15-1">The lot for the tribe of the children of Judah according to their families was to the border of Edom, even to the wilderness of Zin southward, at the uttermost part of the south.</span>
  <span class="verse" title="Joshua 15:2" id="Joshua-15-2">Their south border was from the uttermost part of the Salt Sea, from the bay that looks southward;</span>
  <span class="verse" title="Joshua 15:3" id="Joshua-15-3">and it went out southward of the ascent of Akrabbim, and passed along to Zin, and went up by the south of Kadesh Barnea, and passed along by Hezron, went up to Addar, and turned about to Karka;</span>
  <span class="verse" title="Joshua 15:4" id="Joshua-15-4">and it passed along to Azmon, went out at the brook of Egypt; and the border ended at the sea. This shall be your south border.</span>
  <span class="verse" title="Joshua 15:5" id="Joshua-15-5">The east border was the Salt Sea, even to the end of the Jordan. The border of the north quarter was from the bay of the sea at the end of the Jordan.</span>
  <span class="verse" title="Joshua 15:6" id="Joshua-15-6">The border went up to Beth Hoglah, and passed along by the north of Beth Arabah; and the border went up to the stone of Bohan the son of Reuben.</span>
  <span class="verse" title="Joshua 15:7" id="Joshua-15-7">The border went up to Debir from the valley of Achor, and so northward, looking toward Gilgal, that is over against the ascent of Adummim, which is on the south side of the river. The border passed along to the waters of En Shemesh, and ended at En Rogel.</span>
  <span class="verse" title="Joshua 15:8" id="Joshua-15-8">The border went up by the valley of the son of Hinnom to the side of the Jebusite southward (the same is Jerusalem); and the border went up to the top of the mountain that lies before the valley of Hinnom westward, which is at the farthest part of the valley of Rephaim northward.</span>
  <span class="verse" title="Joshua 15:9" id="Joshua-15-9">The border extended from the top of the mountain to the spring of the waters of Nephtoah, and went out to the cities of Mount Ephron; and the border extended to Baalah (the same is Kiriath Jearim);</span>
  <span class="verse" title="Joshua 15:10" id="Joshua-15-10">and the border turned about from Baalah westward to Mount Seir, and passed along to the side of Mount Jearim on the north (the same is Chesalon), and went down to Beth Shemesh, and passed along by Timnah;</span>
  <span class="verse" title="Joshua 15:11" id="Joshua-15-11">and the border went out to the side of Ekron northward; and the border extended to Shikkeron, and passed along to Mount Baalah, and went out at Jabneel; and the goings out of the border were at the sea.</span>
  <span class="verse" title="Joshua 15:12" id="Joshua-15-12">The west border was to the shore of the great sea. This is the border of the children of Judah according to their families.</span>
  <span class="verse" title="Joshua 15:13" id="Joshua-15-13">To Caleb the son of Jephunneh he gave a portion among the children of Judah, according to the commandment of Yahweh to Joshua, even Kiriath Arba, named after the father of Anak (the same is Hebron).</span>
  <span class="verse" title="Joshua 15:14" id="Joshua-15-14">Caleb drove out the three sons of Anak: Sheshai, and Ahiman, and Talmai, the children of Anak.</span>
  <span class="verse" title="Joshua 15:15" id="Joshua-15-15">He went up against the inhabitants of Debir: now the name of Debir before was Kiriath Sepher.</span>
  <span class="verse" title="Joshua 15:16" id="Joshua-15-16">Caleb said, &#8220;He who strikes Kiriath Sepher, and takes it, to him will I give Achsah my daughter as wife.&#8221;</span>
  <span class="verse" title="Joshua 15:17" id="Joshua-15-17">Othniel the son of Kenaz, the brother of Caleb, took it: and he gave him Achsah his daughter as wife.</span>
  <span class="verse" title="Joshua 15:18" id="Joshua-15-18">It happened, when she came, that she had him ask her father fore a field. She got off of her donkey, and Caleb said, &#8220;What do you want?&#8221;</span>
  <span class="verse" title="Joshua 15:19" id="Joshua-15-19">She said, &#8220;Give me a blessing. Because you have set me in the land of the South, give me also springs of water.&#8221; He gave her the upper springs and the lower springs.</span>
  <span class="verse" title="Joshua 15:20" id="Joshua-15-20">This is the inheritance of the tribe of the children of Judah according to their families.</span>
  <span class="verse" title="Joshua 15:21" id="Joshua-15-21">The farthest cities of the tribe of the children of Judah toward the border of Edom in the South were Kabzeel, Eder, Jagur,</span>
  <span class="verse" title="Joshua 15:22" id="Joshua-15-22">Kinah, Dimonah, Adadah,</span>
  <span class="verse" title="Joshua 15:23" id="Joshua-15-23">Kedesh, Hazor, Ithnan,</span>
  <span class="verse" title="Joshua 15:24" id="Joshua-15-24">Ziph, Telem, Bealoth,</span>
  <span class="verse" title="Joshua 15:25" id="Joshua-15-25">Hazor Hadattah, Kerioth Hezron (the same is Hazor),</span>
  <span class="verse" title="Joshua 15:26" id="Joshua-15-26">Amam, Shema, Moladah,</span>
  <span class="verse" title="Joshua 15:27" id="Joshua-15-27">Hazar Gaddah, Heshmon, Beth Pelet,</span>
  <span class="verse" title="Joshua 15:28" id="Joshua-15-28">Hazar Shual, Beersheba, Biziothiah,</span>
  <span class="verse" title="Joshua 15:29" id="Joshua-15-29">Baalah, Iim, Ezem,</span>
  <span class="verse" title="Joshua 15:30" id="Joshua-15-30">Eltolad, Chesil, Hormah,</span>
  <span class="verse" title="Joshua 15:31" id="Joshua-15-31">Ziklag, Madmannah, Sansannah,</span>
  <span class="verse" title="Joshua 15:32" id="Joshua-15-32">Lebaoth, Shilhim, Ain, and Rimmon. All the cities are twenty-nine, with their villages.</span>
  <span class="verse" title="Joshua 15:33" id="Joshua-15-33">In the lowland, Eshtaol, Zorah, Ashnah,</span>
  <span class="verse" title="Joshua 15:34" id="Joshua-15-34">Zanoah, En Gannim, Tappuah, Enam,</span>
  <span class="verse" title="Joshua 15:35" id="Joshua-15-35">Jarmuth, Adullam, Socoh, Azekah,</span>
  <span class="verse" title="Joshua 15:36" id="Joshua-15-36">Shaaraim, Adithaim and Gederah (or Gederothaim); fourteen cities with their villages.</span>
  <span class="verse" title="Joshua 15:37" id="Joshua-15-37">Zenan, Hadashah, Migdal Gad,</span>
  <span class="verse" title="Joshua 15:38" id="Joshua-15-38">Dilean, Mizpeh, Joktheel,</span>
  <span class="verse" title="Joshua 15:39" id="Joshua-15-39">Lachish, Bozkath, Eglon,</span>
  <span class="verse" title="Joshua 15:40" id="Joshua-15-40">Cabbon, Lahmam, Chitlish,</span>
  <span class="verse" title="Joshua 15:41" id="Joshua-15-41">Gederoth, Beth Dagon, Naamah, and Makkedah; sixteen cities with their villages.</span>
  <span class="verse" title="Joshua 15:42" id="Joshua-15-42">Libnah, Ether, Ashan,</span>
  <span class="verse" title="Joshua 15:43" id="Joshua-15-43">Iphtah, Ashnah, Nezib,</span>
  <span class="verse" title="Joshua 15:44" id="Joshua-15-44">Keilah, Achzib, and Mareshah; nine cities with their villages.</span>
  <span class="verse" title="Joshua 15:45" id="Joshua-15-45">Ekron, with its towns and its villages;</span>
  <span class="verse" title="Joshua 15:46" id="Joshua-15-46">from Ekron even to the sea, all that were by the side of Ashdod, with their villages.</span>
  <span class="verse" title="Joshua 15:47" id="Joshua-15-47">Ashdod, its towns and its villages; Gaza, its towns and its villages; to the brook of Egypt, and the great sea with its coastline.</span>
  <span class="verse" title="Joshua 15:48" id="Joshua-15-48">In the hill country, Shamir, Jattir, Socoh,</span>
  <span class="verse" title="Joshua 15:49" id="Joshua-15-49">Dannah, Kiriath Sannah (which is Debir),</span>
  <span class="verse" title="Joshua 15:50" id="Joshua-15-50">Anab, Eshtemoh, Anim,</span>
  <span class="verse" title="Joshua 15:51" id="Joshua-15-51">Goshen, Holon, and Giloh; eleven cities with their villages.</span>
  <span class="verse" title="Joshua 15:52" id="Joshua-15-52">Arab, Dumah, Eshan,</span>
  <span class="verse" title="Joshua 15:53" id="Joshua-15-53">Janim, Beth Tappuah, Aphekah,</span>
  <span class="verse" title="Joshua 15:54" id="Joshua-15-54">Humtah, Kiriath Arba (the same is Hebron), and Zior; nine cities with their villages.</span>
  <span class="verse" title="Joshua 15:55" id="Joshua-15-55">Maon, Carmel, Ziph, Jutah,</span>
  <span class="verse" title="Joshua 15:56" id="Joshua-15-56">Jezreel, Jokdeam, Zanoah,</span>
  <span class="verse" title="Joshua 15:57" id="Joshua-15-57">Kain, Gibeah, and Timnah; ten cities with their villages.</span>
  <span class="verse" title="Joshua 15:58" id="Joshua-15-58">Halhul, Beth Zur, Gedor,</span>
  <span class="verse" title="Joshua 15:59" id="Joshua-15-59">Maarath, Beth Anoth, and Eltekon; six cities with their villages.</span>
  <span class="verse" title="Joshua 15:60" id="Joshua-15-60">Kiriath Baal (the same is Kiriath Jearim), and Rabbah; two cities with their villages.</span>
  <span class="verse" title="Joshua 15:61" id="Joshua-15-61">In the wilderness, Beth Arabah, Middin, Secacah,</span>
  <span class="verse" title="Joshua 15:62" id="Joshua-15-62">Nibshan, the City of Salt, and En Gedi; six cities with their villages.</span>
  <span class="verse" title="Joshua 15:63" id="Joshua-15-63">As for the Jebusites, the inhabitants of Jerusalem, the children of Judah couldn&#8217;t drive them out; but the Jebusites live with the children of Judah at Jerusalem to this day.</span>
</div>