<div class="chapter" id="Joshua-016">
  <h2>Joshua 16</h2>
  <span class="verse" title="Joshua 16:1" id="Joshua-16-1">The lot came out for the children of Joseph from the Jordan at Jericho, at the waters of Jericho on the east, even the wilderness, going up from Jericho through the hill country to Bethel.</span>
  <span class="verse" title="Joshua 16:2" id="Joshua-16-2">It went out from Bethel to Luz, and passed along to the border of the Archites to Ataroth;</span>
  <span class="verse" title="Joshua 16:3" id="Joshua-16-3">and it went down westward to the border of the Japhletites, to the border of Beth Horon the lower, even to Gezer; and ended at the sea.</span>
  <span class="verse" title="Joshua 16:4" id="Joshua-16-4">The children of Joseph, Manasseh and Ephraim, took their inheritance.</span>
  <span class="verse" title="Joshua 16:5" id="Joshua-16-5">This was the border of the children of Ephraim according to their families. The border of their inheritance eastward was Ataroth Addar, to Beth Horon the upper.</span>
  <span class="verse" title="Joshua 16:6" id="Joshua-16-6">The border went out westward at Michmethath on the north. The border turned about eastward to Taanath Shiloh, and passed along it on the east of Janoah.</span>
  <span class="verse" title="Joshua 16:7" id="Joshua-16-7">It went down from Janoah to Ataroth, to Naarah, reached to Jericho, and went out at the Jordan.</span>
  <span class="verse" title="Joshua 16:8" id="Joshua-16-8">From Tappuah the border went along westward to the brook of Kanah; and ended at the sea. This is the inheritance of the tribe of the children of Ephraim according to their families;</span>
  <span class="verse" title="Joshua 16:9" id="Joshua-16-9">together with the cities which were set apart for the children of Ephraim in the midst of the inheritance of the children of Manasseh, all the cities with their villages.</span>
  <span class="verse" title="Joshua 16:10" id="Joshua-16-10">They didn&#8217;t drive out the Canaanites who lived in Gezer; but the Canaanites dwell in the midst of Ephraim to this day, and have become servants to do forced labor.</span>
</div>