<div class="chapter" id="Joshua-018">
  <h2>Joshua 18</h2>
  <span class="verse" title="Joshua 18:1" id="Joshua-18-1">The whole congregation of the children of Israel assembled themselves together at Shiloh, and set up the Tent of Meeting there. The land was subdued before them.</span>
  <span class="verse" title="Joshua 18:2" id="Joshua-18-2">Seven tribes remained among the children of Israel, which had not yet divided their inheritance.</span>
  <span class="verse" title="Joshua 18:3" id="Joshua-18-3">Joshua said to the children of Israel, &#8220;How long will you neglect to go in to possess the land, which Yahweh, the God of your fathers, has given you?</span>
  <span class="verse" title="Joshua 18:4" id="Joshua-18-4">Appoint for yourselves three men from each tribe. I will send them, and they shall arise, walk through the land, and describe it according to their inheritance; and they shall come to me.</span>
  <span class="verse" title="Joshua 18:5" id="Joshua-18-5">They shall divide it into seven portions. Judah shall live in his borders on the south, and the house of Joseph shall live in their borders on the north.</span>
  <span class="verse" title="Joshua 18:6" id="Joshua-18-6">You shall survey the land into seven parts, and bring the description here to me; and I will cast lots for you here before Yahweh our God.</span>
  <span class="verse" title="Joshua 18:7" id="Joshua-18-7">For the Levites have no portion among you; for the priesthood of Yahweh is their inheritance. Gad, Reuben, and the half-tribe of Manasseh have received their inheritance beyond the Jordan eastward, which Moses the servant of Yahweh gave them.&#8221;</span>
  <span class="verse" title="Joshua 18:8" id="Joshua-18-8">The men arose and went. Joshua commanded those who went to survey the land, saying, &#8220;Go walk through the land, survey it, and come again to me. I will cast lots for you here before Yahweh in Shiloh.&#8221;</span>
  <span class="verse" title="Joshua 18:9" id="Joshua-18-9">The men went and passed through the land, and surveyed it by cities into seven portions in a book. They came to Joshua to the camp at Shiloh.</span>
  <span class="verse" title="Joshua 18:10" id="Joshua-18-10">Joshua cast lots for them in Shiloh before Yahweh. There Joshua divided the land to the children of Israel according to their divisions.</span>
  <span class="verse" title="Joshua 18:11" id="Joshua-18-11">The lot of the tribe of the children of Benjamin came up according to their families. The border of their lot went out between the children of Judah and the children of Joseph.</span>
  <span class="verse" title="Joshua 18:12" id="Joshua-18-12">Their border on the north quarter was from the Jordan. The border went up to the side of Jericho on the north, and went up through the hill country westward. It ended at the wilderness of Beth Aven.</span>
  <span class="verse" title="Joshua 18:13" id="Joshua-18-13">The border passed along from there to Luz, to the side of Luz (the same is Bethel), southward. The border went down to Ataroth Addar, by the mountain that lies on the south of Beth Horon the lower.</span>
  <span class="verse" title="Joshua 18:14" id="Joshua-18-14">The border extended, and turned around on the west quarter southward, from the mountain that lies before Beth Horon southward; and ended at Kiriath Baal (the same is Kiriath Jearim), a city of the children of Judah. This was the west quarter.</span>
  <span class="verse" title="Joshua 18:15" id="Joshua-18-15">The south quarter was from the farthest part of Kiriath Jearim. The border went out westward, and went out to the spring of the waters of Nephtoah.</span>
  <span class="verse" title="Joshua 18:16" id="Joshua-18-16">The border went down to the farthest part of the mountain that lies before the valley of the son of Hinnom, which is in the valley of Rephaim northward. It went down to the valley of Hinnom, to the side of the Jebusite southward, and went down to En Rogel.</span>
  <span class="verse" title="Joshua 18:17" id="Joshua-18-17">It extended northward, went out at En Shemesh, and went out to Geliloth, which is over against the ascent of Adummim. It went down to the stone of Bohan the son of Reuben.</span>
  <span class="verse" title="Joshua 18:18" id="Joshua-18-18">It passed along to the side over against the Arabah northward, and went down to the Arabah.</span>
  <span class="verse" title="Joshua 18:19" id="Joshua-18-19">The border passed along to the side of Beth Hoglah northward; and the border ended at the north bay of the Salt Sea, at the south end of the Jordan. This was the south border.</span>
  <span class="verse" title="Joshua 18:20" id="Joshua-18-20">The Jordan was its border on the east quarter. This was the inheritance of the children of Benjamin, by the borders around it, according to their families.</span>
  <span class="verse" title="Joshua 18:21" id="Joshua-18-21">Now the cities of the tribe of the children of Benjamin according to their families were Jericho, Beth Hoglah, Emek Keziz,</span>
  <span class="verse" title="Joshua 18:22" id="Joshua-18-22">Beth Arabah, Zemaraim, Bethel,</span>
  <span class="verse" title="Joshua 18:23" id="Joshua-18-23">Avvim, Parah, Ophrah,</span>
  <span class="verse" title="Joshua 18:24" id="Joshua-18-24">Chephar Ammoni, Ophni, and Geba; twelve cities with their villages.</span>
  <span class="verse" title="Joshua 18:25" id="Joshua-18-25">Gibeon, Ramah, Beeroth,</span>
  <span class="verse" title="Joshua 18:26" id="Joshua-18-26">Mizpeh, Chephirah, Mozah,</span>
  <span class="verse" title="Joshua 18:27" id="Joshua-18-27">Rekem, Irpeel, Taralah,</span>
  <span class="verse" title="Joshua 18:28" id="Joshua-18-28">Zelah, Eleph, the Jebusite (the same is Jerusalem), Gibeath, and Kiriath; fourteen cities with their villages. This is the inheritance of the children of Benjamin according to their families.</span>
</div>