<div class="chapter" id="Joshua-019">
  <h2>Joshua 19</h2>
  <span class="verse" title="Joshua 19:1" id="Joshua-19-1">The second lot came out for Simeon, even for the tribe of the children of Simeon according to their families. Their inheritance was in the midst of the inheritance of the children of Judah.</span>
  <span class="verse" title="Joshua 19:2" id="Joshua-19-2">They had for their inheritance Beersheba (or Sheba), Moladah,</span>
  <span class="verse" title="Joshua 19:3" id="Joshua-19-3">Hazar Shual, Balah, Ezem,</span>
  <span class="verse" title="Joshua 19:4" id="Joshua-19-4">Eltolad, Bethul, Hormah,</span>
  <span class="verse" title="Joshua 19:5" id="Joshua-19-5">Ziklag, Beth Marcaboth, Hazar Susah,</span>
  <span class="verse" title="Joshua 19:6" id="Joshua-19-6">Beth Lebaoth, and Sharuhen; thirteen cities with their villages;</span>
  <span class="verse" title="Joshua 19:7" id="Joshua-19-7">Ain, Rimmon, Ether, and Ashan; four cities with their villages;</span>
  <span class="verse" title="Joshua 19:8" id="Joshua-19-8">and all the villages that were around these cities to Baalath Beer, Ramah of the South. This is the inheritance of the tribe of the children of Simeon according to their families.</span>
  <span class="verse" title="Joshua 19:9" id="Joshua-19-9">Out of the part of the children of Judah was the inheritance of the children of Simeon; for the portion of the children of Judah was too much for them. Therefore the children of Simeon had inheritance in the midst of their inheritance.</span>
  <span class="verse" title="Joshua 19:10" id="Joshua-19-10">The third lot came up for the children of Zebulun according to their families. The border of their inheritance was to Sarid.</span>
  <span class="verse" title="Joshua 19:11" id="Joshua-19-11">Their border went up westward, even to Maralah, and reached to Dabbesheth. It reached to the brook that is before Jokneam.</span>
  <span class="verse" title="Joshua 19:12" id="Joshua-19-12">It turned from Sarid eastward toward the sunrise to the border of Chisloth Tabor. It went out to Daberath, and went up to Japhia.</span>
  <span class="verse" title="Joshua 19:13" id="Joshua-19-13">From there it passed along eastward to Gath Hepher, to Ethkazin; and it went out at Rimmon which stretches to Neah.</span>
  <span class="verse" title="Joshua 19:14" id="Joshua-19-14">The border turned around it on the north to Hannathon; and it ended at the valley of Iphtah El;</span>
  <span class="verse" title="Joshua 19:15" id="Joshua-19-15">Kattath, Nahalal, Shimron, Idalah, and Bethlehem: twelve cities with their villages.</span>
  <span class="verse" title="Joshua 19:16" id="Joshua-19-16">This is the inheritance of the children of Zebulun according to their families, these cities with their villages.</span>
  <span class="verse" title="Joshua 19:17" id="Joshua-19-17">The fourth lot came out for Issachar, even for the children of Issachar according to their families.</span>
  <span class="verse" title="Joshua 19:18" id="Joshua-19-18">Their border was to Jezreel, Chesulloth, Shunem,</span>
  <span class="verse" title="Joshua 19:19" id="Joshua-19-19">Hapharaim, Shion, Anaharath,</span>
  <span class="verse" title="Joshua 19:20" id="Joshua-19-20">Rabbith, Kishion, Ebez,</span>
  <span class="verse" title="Joshua 19:21" id="Joshua-19-21">Remeth, Engannim, En Haddah, and Beth Pazzez.</span>
  <span class="verse" title="Joshua 19:22" id="Joshua-19-22">The border reached to Tabor, Shahazumah, and Beth Shemesh. Their border ended at the Jordan: sixteen cities with their villages.</span>
  <span class="verse" title="Joshua 19:23" id="Joshua-19-23">This is the inheritance of the tribe of the children of Issachar according to their families, the cities with their villages.</span>
  <span class="verse" title="Joshua 19:24" id="Joshua-19-24">The fifth lot came out for the tribe of the children of Asher according to their families.</span>
  <span class="verse" title="Joshua 19:25" id="Joshua-19-25">Their border was Helkath, Hali, Beten, Achshaph,</span>
  <span class="verse" title="Joshua 19:26" id="Joshua-19-26">Allammelech, Amad, Mishal. It reached to Carmel westward, and to Shihorlibnath.</span>
  <span class="verse" title="Joshua 19:27" id="Joshua-19-27">It turned toward the sunrise to Beth Dagon, and reached to Zebulun, and to the valley of Iphtah El northward to Beth Emek and Neiel. It went out to Cabul on the left hand,</span>
  <span class="verse" title="Joshua 19:28" id="Joshua-19-28">and Ebron, Rehob, Hammon, and Kanah, even to great Sidon.</span>
  <span class="verse" title="Joshua 19:29" id="Joshua-19-29">The border turned to Ramah, to the fortified city of Tyre; and the border turned to Hosah. It ended at the sea by the region of Achzib;</span>
  <span class="verse" title="Joshua 19:30" id="Joshua-19-30">Ummah also, and Aphek, and Rehob: twenty-two cities with their villages.</span>
  <span class="verse" title="Joshua 19:31" id="Joshua-19-31">This is the inheritance of the tribe of the children of Asher according to their families, these cities with their villages.</span>
  <span class="verse" title="Joshua 19:32" id="Joshua-19-32">The sixth lot came out for the children of Naphtali, even for the children of Naphtali according to their families.</span>
  <span class="verse" title="Joshua 19:33" id="Joshua-19-33">Their border was from Heleph, from the oak in Zaanannim, Adaminekeb, and Jabneel, to Lakkum. It ended at the Jordan.</span>
  <span class="verse" title="Joshua 19:34" id="Joshua-19-34">The border turned westward to Aznoth Tabor, and went out from there to Hukkok. It reached to Zebulun on the south, and reached to Asher on the west, and to Judah at the Jordan toward the sunrise.</span>
  <span class="verse" title="Joshua 19:35" id="Joshua-19-35">The fortified cities were Ziddim, Zer, Hammath, Rakkath, Chinnereth,</span>
  <span class="verse" title="Joshua 19:36" id="Joshua-19-36">Adamah, Ramah, Hazor,</span>
  <span class="verse" title="Joshua 19:37" id="Joshua-19-37">Kedesh, Edrei, En Hazor,</span>
  <span class="verse" title="Joshua 19:38" id="Joshua-19-38">Iron, Migdal El, Horem, Beth Anath, and Beth Shemesh; nineteen cities with their villages.</span>
  <span class="verse" title="Joshua 19:39" id="Joshua-19-39">This is the inheritance of the tribe of the children of Naphtali according to their families, the cities with their villages.</span>
  <span class="verse" title="Joshua 19:40" id="Joshua-19-40">The seventh lot came out for the tribe of the children of Dan according to their families.</span>
  <span class="verse" title="Joshua 19:41" id="Joshua-19-41">The border of their inheritance was Zorah, Eshtaol, Irshemesh,</span>
  <span class="verse" title="Joshua 19:42" id="Joshua-19-42">Shaalabbin, Aijalon, Ithlah,</span>
  <span class="verse" title="Joshua 19:43" id="Joshua-19-43">Elon, Timnah, Ekron,</span>
  <span class="verse" title="Joshua 19:44" id="Joshua-19-44">Eltekeh, Gibbethon, Baalath,</span>
  <span class="verse" title="Joshua 19:45" id="Joshua-19-45">Jehud, Bene Berak, Gath Rimmon,</span>
  <span class="verse" title="Joshua 19:46" id="Joshua-19-46">Me Jarkon, and Rakkon, with the border over against Joppa.</span>
  <span class="verse" title="Joshua 19:47" id="Joshua-19-47">The border of the children of Dan went out beyond them; for the children of Dan went up and fought against Leshem, and took it, and struck it with the edge of the sword, and possessed it, and lived therein, and called Leshem, Dan, after the name of Dan their father.</span>
  <span class="verse" title="Joshua 19:48" id="Joshua-19-48">This is the inheritance of the tribe of the children of Dan according to their families, these cities with their villages.</span>
  <span class="verse" title="Joshua 19:49" id="Joshua-19-49">So they made an end of distributing the land for inheritance by its borders. The children of Israel gave an inheritance to Joshua the son of Nun in their midst.</span>
  <span class="verse" title="Joshua 19:50" id="Joshua-19-50">According to the commandment of Yahweh, they gave him the city which he asked, even Timnathserah in the hill country of Ephraim; and he built the city, and lived there.</span>
  <span class="verse" title="Joshua 19:51" id="Joshua-19-51">These are the inheritances, which Eleazar the priest, Joshua the son of Nun, and the heads of the fathers&#8217; houses of the tribes of the children of Israel, distributed for inheritance by lot in Shiloh before Yahweh, at the door of the Tent of Meeting. So they made an end of dividing the land.</span>
</div>