<div class="chapter" id="Joshua-020">
  <h2>Joshua 20</h2>
  <span class="verse" title="Joshua 20:1" id="Joshua-20-1">Yahweh spoke to Joshua, saying,</span>
  <span class="verse" title="Joshua 20:2" id="Joshua-20-2">&#8220;Speak to the children of Israel, saying, &#8216;Assign the cities of refuge, of which I spoke to you by Moses,</span>
  <span class="verse" title="Joshua 20:3" id="Joshua-20-3">that the manslayer who kills any person accidentally or unintentionally may flee there. They shall be to you for a refuge from the avenger of blood.</span>
  <span class="verse" title="Joshua 20:4" id="Joshua-20-4">He shall flee to one of those cities, and shall stand at the entrance of the gate of the city, and declare his cause in the ears of the elders of that city. They shall take him into the city with them, and give him a place, that he may live among them.</span>
  <span class="verse" title="Joshua 20:5" id="Joshua-20-5">If the avenger of blood pursue after him, then they shall not deliver up the manslayer into his hand; because he struck his neighbor unintentionally, and didn&#8217;t hate him before.</span>
  <span class="verse" title="Joshua 20:6" id="Joshua-20-6">He shall dwell in that city until he stands before the congregation for judgment, until the death of the high priest that shall be in those days. Then the manslayer shall return, and come to his own city, and to his own house, to the city he fled from.&#8217;&#8221;</span>
  <span class="verse" title="Joshua 20:7" id="Joshua-20-7">They set apart Kedesh in Galilee in the hill country of Naphtali, Shechem in the hill country of Ephraim, and Kiriath Arba (the same is Hebron) in the hill country of Judah.</span>
  <span class="verse" title="Joshua 20:8" id="Joshua-20-8">Beyond the Jordan at Jericho eastward, they assigned Bezer in the wilderness in the plain out of the tribe of Reuben, Ramoth in Gilead out of the tribe of Gad, and Golan in Bashan out of the tribe of Manasseh.</span>
  <span class="verse" title="Joshua 20:9" id="Joshua-20-9">These were the appointed cities for all the children of Israel, and for the alien who lives among them, that whoever kills any person unintentionally might flee there, and not die by the hand of the avenger of blood, until he stands before the congregation.</span>
</div>