<div class="chapter" id="Joshua-021">
  <h2>Joshua 21</h2>
  <span class="verse" title="Joshua 21:1" id="Joshua-21-1">Then the heads of fathers&#8217; houses of the Levites came near to Eleazar the priest, and to Joshua the son of Nun, and to the heads of fathers&#8217; houses of the tribes of the children of Israel.</span>
  <span class="verse" title="Joshua 21:2" id="Joshua-21-2">They spoke to them at Shiloh in the land of Canaan, saying, &#8220;Yahweh commanded Moses to give us cities to dwell in, with their suburbs for our livestock.&#8221;</span>
  <span class="verse" title="Joshua 21:3" id="Joshua-21-3">The children of Israel gave to the Levites out of their inheritance, according to the commandment of Yahweh, these cities with their suburbs.</span>
  <span class="verse" title="Joshua 21:4" id="Joshua-21-4">The lot came out for the families of the Kohathites. The children of Aaron the priest, who were of the Levites, had thirteen cities by lot out of the tribe of Judah, out of the tribe of the Simeonites, and out of the tribe of Benjamin.</span>
  <span class="verse" title="Joshua 21:5" id="Joshua-21-5">The rest of the children of Kohath had ten cities by lot out of the families of the tribe of Ephraim, out of the tribe of Dan, and out of the half-tribe of Manasseh.</span>
  <span class="verse" title="Joshua 21:6" id="Joshua-21-6">The children of Gershon had thirteen cities by lot out of the families of the tribe of Issachar, out of the tribe of Asher, out of the tribe of Naphtali, and out of the half-tribe of Manasseh in Bashan.</span>
  <span class="verse" title="Joshua 21:7" id="Joshua-21-7">The children of Merari according to their families had twelve cities out of the tribe of Reuben, out of the tribe of Gad, and out of the tribe of Zebulun.</span>
  <span class="verse" title="Joshua 21:8" id="Joshua-21-8">The children of Israel gave these cities with their suburbs by lot to the Levites, as Yahweh commanded by Moses.</span>
  <span class="verse" title="Joshua 21:9" id="Joshua-21-9">They gave out of the tribe of the children of Judah, and out of the tribe of the children of Simeon, these cities which are mentioned by name:</span>
  <span class="verse" title="Joshua 21:10" id="Joshua-21-10">and they were for the children of Aaron, of the families of the Kohathites, who were of the children of Levi; for theirs was the first lot.</span>
  <span class="verse" title="Joshua 21:11" id="Joshua-21-11">They gave them Kiriath Arba, named after the father of Anak (the same is Hebron), in the hill country of Judah, with its suburbs around it.</span>
  <span class="verse" title="Joshua 21:12" id="Joshua-21-12">But they gave the fields of the city and its villages to Caleb the son of Jephunneh for his possession.</span>
  <span class="verse" title="Joshua 21:13" id="Joshua-21-13">To the children of Aaron the priest they gave Hebron with its suburbs, the city of refuge for the manslayer, Libnah with its suburbs,</span>
  <span class="verse" title="Joshua 21:14" id="Joshua-21-14">Jattir with its suburbs, Eshtemoa with its suburbs,</span>
  <span class="verse" title="Joshua 21:15" id="Joshua-21-15">Holon with its suburbs, Debir with its suburbs,</span>
  <span class="verse" title="Joshua 21:16" id="Joshua-21-16">Ain with its suburbs, Juttah with its suburbs, and Beth Shemesh with its suburbs; nine cities out of those two tribes.</span>
  <span class="verse" title="Joshua 21:17" id="Joshua-21-17">Out of the tribe of Benjamin, Gibeon with its suburbs, Geba with its suburbs,</span>
  <span class="verse" title="Joshua 21:18" id="Joshua-21-18">Anathoth with its suburbs, and Almon with its suburbs; four cities.</span>
  <span class="verse" title="Joshua 21:19" id="Joshua-21-19">All the cities of the children of Aaron, the priests, were thirteen cities with their suburbs.</span>
  <span class="verse" title="Joshua 21:20" id="Joshua-21-20">The families of the children of Kohath, the Levites, even the rest of the children of Kohath, had the cities of their lot out of the tribe of Ephraim.</span>
  <span class="verse" title="Joshua 21:21" id="Joshua-21-21">They gave them Shechem with its suburbs in the hill country of Ephraim, the city of refuge for the manslayer, and Gezer with its suburbs,</span>
  <span class="verse" title="Joshua 21:22" id="Joshua-21-22">Kibzaim with its suburbs, and Beth Horon with its suburbs; four cities.</span>
  <span class="verse" title="Joshua 21:23" id="Joshua-21-23">Out of the tribe of Dan, Elteke with its suburbs, Gibbethon with its suburbs,</span>
  <span class="verse" title="Joshua 21:24" id="Joshua-21-24">Aijalon with its suburbs, Gath Rimmon with its suburbs; four cities.</span>
  <span class="verse" title="Joshua 21:25" id="Joshua-21-25">Out of the half-tribe of Manasseh, Taanach with its suburbs, and Gath Rimmon with its suburbs; two cities.</span>
  <span class="verse" title="Joshua 21:26" id="Joshua-21-26">All the cities of the families of the rest of the children of Kohath were ten with their suburbs.</span>
  <span class="verse" title="Joshua 21:27" id="Joshua-21-27">They gave to the children of Gershon, of the families of the Levites, out of the half-tribe of Manasseh Golan in Bashan with its suburbs, the city of refuge for the manslayer, and Be Eshterah with its suburbs; two cities.</span>
  <span class="verse" title="Joshua 21:28" id="Joshua-21-28">Out of the tribe of Issachar, Kishion with its suburbs, Daberath with its suburbs,</span>
  <span class="verse" title="Joshua 21:29" id="Joshua-21-29">Jarmuth with its suburbs, En Gannim with its suburbs; four cities.</span>
  <span class="verse" title="Joshua 21:30" id="Joshua-21-30">Out of the tribe of Asher, Mishal with its suburbs, Abdon with its suburbs,</span>
  <span class="verse" title="Joshua 21:31" id="Joshua-21-31">Helkath with its suburbs, and Rehob with its suburbs; four cities.</span>
  <span class="verse" title="Joshua 21:32" id="Joshua-21-32">Out of the tribe of Naphtali, Kedesh in Galilee with its suburbs, the city of refuge for the manslayer, Hammothdor with its suburbs, and Kartan with its suburbs; three cities.</span>
  <span class="verse" title="Joshua 21:33" id="Joshua-21-33">All the cities of the Gershonites according to their families were thirteen cities with their suburbs.</span>
  <span class="verse" title="Joshua 21:34" id="Joshua-21-34">To the families of the children of Merari, the rest of the Levites, out of the tribe of Zebulun, Jokneam with its suburbs, Kartah with its suburbs,</span>
  <span class="verse" title="Joshua 21:35" id="Joshua-21-35">Dimnah with its suburbs, and Nahalal with its suburbs; four cities.</span>
  <span class="verse" title="Joshua 21:36" id="Joshua-21-36">Out of the tribe of Reuben, Bezer with its suburbs, Jahaz with its suburbs,</span>
  <span class="verse" title="Joshua 21:37" id="Joshua-21-37">Kedemoth with its suburbs, and Mephaath with its suburbs; four cities.</span>
  <span class="verse" title="Joshua 21:38" id="Joshua-21-38">Out of the tribe of Gad, Ramoth in Gilead with its suburbs, the city of refuge for the manslayer, and Mahanaim with its suburbs,</span>
  <span class="verse" title="Joshua 21:39" id="Joshua-21-39">Heshbon with its suburbs, Jazer with its suburbs; four cities in all.</span>
  <span class="verse" title="Joshua 21:40" id="Joshua-21-40">All these were the cities of the children of Merari according to their families, even the rest of the families of the Levites. Their lot was twelve cities.</span>
  <span class="verse" title="Joshua 21:41" id="Joshua-21-41">All the cities of the Levites in the midst of the possession of the children of Israel were forty-eight cities with their suburbs.</span>
  <span class="verse" title="Joshua 21:42" id="Joshua-21-42">Each of these cities included their suburbs around them. It was this way with all these cities.</span>
  <span class="verse" title="Joshua 21:43" id="Joshua-21-43">So Yahweh gave to Israel all the land which he swore to give to their fathers. They possessed it, and lived in it.</span>
  <span class="verse" title="Joshua 21:44" id="Joshua-21-44">Yahweh gave them rest all around, according to all that he swore to their fathers. Not a man of all their enemies stood before them. Yahweh delivered all their enemies into their hand.</span>
  <span class="verse" title="Joshua 21:45" id="Joshua-21-45">Nothing failed of any good thing which Yahweh had spoken to the house of Israel. All came to pass.</span>
</div>