.year, .month, .day {
  border-radius: 0px !important;
  box-shadow: none;
  background-color: #FFF;
  background-image: none;
  font-size: 14px;
  height: 34px;
  border: 1px solid #CCC;
  text-align: center;
}

.birthday-select {
  display: block;
}

#signup_birthday_1i {
  width: 10%;
}

#signup_birthday_2i {
  width: 15%;
}

#signup_birthday_3i {
  width: 10%;
}
