tr.row-with-avatar {
  td, th {
    line-height: 2.3 !important;
    p {
      line-height: 1.8 !important;
    }
  }
}

th.avatar, td.avatar {
  width: 35px + 16px;
  &.small  { width: 75px  + 16px; }
  &.medium { width: 250px + 16px; }
}

img.avatar {
  &.tn     { width: 35px; }
  &.small  { width: 75px; }
  &.medium { width: 250px; }
}
