.checkin {
  .subsection th {
    text-align: left;
    background-color: #eee;
    padding: 2px 5px;
  }
  .subsection #add_row_link {
    float: right;
  }
  .subsection #add_row_link a {
    font-size: 10pt;
    font-weight: normal;
    text-decoration :none;
  }
}

.list-checkin {
  font-size: 22pt;
  li {
    margin-bottom: 15px;
  }
  label {
    font-weight: normal;
  }
  i {
    vertical-align: middle;
    font-size: 30pt;
  }
}

.list-checkin-status .status {
  @extend .callout;
  @extend .callout-info;
}