.checkin {
  .subsection th {
    text-align: left;
    background-color: #eee;
    padding: 2px 5px;
  }
  .subsection #add_row_link {
    float: right;
  }
  .subsection #add_row_link a {
    font-size: 10pt;
    font-weight: normal;
    text-decoration :none;
  }
}
