#map {
  height: 200px;
  margin-bottom: 25px;
  .leaflet-control-attribution {
    font-size: 9px;
  }
}

.content-header.map-overlay {
  position: relative;
  top: -225px; // #map height + margin-bottom
  padding-bottom: 15px;
  background-color: rgba(#fff, 0.8) !important;
  margin-bottom: -80px; // to account for lost vertical space in document flow
}

#directory_map {
  .leaflet-control-attribution {
    font-size: 9px;
  }
}

.directory_map {
  margin-top: 10px;
}
