#edit-privacy {
  .expand-link, .collapse-link {
    cursor: pointer;
  }

  form {
    overflow: auto;
  }

  th.name, td.name {
    width: 150px;
    font-weight: bold;
  }

  td.group-name {
    padding-left: 22px;
  }
}
