@media (max-width: 570px) {
  .profile .col-xs-6 {
    left: 0;
    width: auto;
  }
}

.testimony .box-title a {
  color: white !important;
}

.social-link {
  margin-bottom: 5px;
  .fa {
    display: inline-block;
    font-size: 15pt;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 3px;
    &.fa-twitter {
      color: #2FC2EF;
    }
    &.fa-facebook {
      box-sizing: border-box;
      color: #fff;
      background-color: #3B5998;
      padding: 2px;
      border-radius: 3px;
      overflow: hidden;
      padding-left: 6px;
    }
  }
}

.person-albums {
  margin-bottom: 15px;
  .thumbnail {
    margin-bottom: 0;
  }
  .thumbnail {
    height: 80px;
    width: 80px;
    font-size: 50pt;
    line-height: 0.8;
    vertical-align: middle;
    .fa {
      vertical-align: middle;
      margin-left: 2px;
    }
  }
}

.family-box {
  text-align: center !important;
  .box-header {
    padding: 5px 0;
    .box-title {
      float: none;
    }
  }
  .box-body {
    padding-top: 0;
  }
  .person {
    display: inline-block;
    margin: 0 5px 5px 5px;
    text-align: center;
    img {
      margin-bottom: 5px;
    }
  }
}