.stream .buttons {
  @extend .well;
  padding: 10px;
  background-color: #eee;
  border-radius: 3px;
  margin-bottom: 0;
  .btn {
    margin-bottom: 3px;
    margin-right: 5px;
  }
  .btn-group {
    margin-right: 5px;
    .btn {
      margin-right: 0;
    }
  }
}

.dropdown-toggle.bg-teal {
  border-left: 1px solid #27b1b2;
}
