<div class="chapter" id="2 Timothy-001">
  <h2>2 Timothy 1</h2>
  <span class="verse" title="2 Timothy 1:1" id="2_Timothy-1-1">Paul, an apostle of Jesus Christ through the will of God, according to the promise of the life which is in Christ Jesus,</span>
  <span class="verse" title="2 Timothy 1:2" id="2_Timothy-1-2">to Timothy, my beloved child: Grace, mercy, and peace, from God the Father and Christ Jesus our Lord.</span>
  <span class="verse" title="2 Timothy 1:3" id="2_Timothy-1-3">I thank God, whom I serve as my forefathers did, with a pure conscience. How unceasing is my memory of you in my petitions, night and day</span>
  <span class="verse" title="2 Timothy 1:4" id="2_Timothy-1-4">longing to see you, remembering your tears, that I may be filled with joy;</span>
  <span class="verse" title="2 Timothy 1:5" id="2_Timothy-1-5">having been reminded of the sincere faith that is in you; which lived first in your grandmother Lois, and your mother Eunice, and, I am persuaded, in you also.</span>
  <span class="verse" title="2 Timothy 1:6" id="2_Timothy-1-6">For this cause, I remind you that you should stir up the gift of God which is in you through the laying on of my hands.</span>
  <span class="verse" title="2 Timothy 1:7" id="2_Timothy-1-7">For God didn&#8217;t give us a spirit of fear, but of power, love, and self-control.</span>
  <span class="verse" title="2 Timothy 1:8" id="2_Timothy-1-8">Therefore don&#8217;t be ashamed of the testimony of our Lord, nor of me his prisoner; but endure hardship for the Good News according to the power of God,</span>
  <span class="verse" title="2 Timothy 1:9" id="2_Timothy-1-9">who saved us and called us with a holy calling, not according to our works, but according to his own purpose and grace, which was given to us in Christ Jesus before times eternal,</span>
  <span class="verse" title="2 Timothy 1:10" id="2_Timothy-1-10">but has now been revealed by the appearing of our Savior, Christ Jesus, who abolished death, and brought life and immortality to light through the Good News.</span>
  <span class="verse" title="2 Timothy 1:11" id="2_Timothy-1-11">For this, I was appointed as a preacher, an apostle, and a teacher of the Gentiles.</span>
  <span class="verse" title="2 Timothy 1:12" id="2_Timothy-1-12">For this cause I also suffer these things. Yet I am not ashamed, for I know him whom I have believed, and I am persuaded that he is able to guard that which I have committed to him against that day.</span>
  <span class="verse" title="2 Timothy 1:13" id="2_Timothy-1-13">Hold the pattern of sound words which you have heard from me, in faith and love which is in Christ Jesus.</span>
  <span class="verse" title="2 Timothy 1:14" id="2_Timothy-1-14">That good thing which was committed to you, guard through the Holy Spirit who dwells in us.</span>
  <span class="verse" title="2 Timothy 1:15" id="2_Timothy-1-15">This you know, that all who are in Asia turned away from me; of whom are Phygelus and Hermogenes.</span>
  <span class="verse" title="2 Timothy 1:16" id="2_Timothy-1-16">May the Lord grant mercy to the house of Onesiphorus, for he often refreshed me, and was not ashamed of my chain,</span>
  <span class="verse" title="2 Timothy 1:17" id="2_Timothy-1-17">but when he was in Rome, he sought me diligently, and found me</span>
  <span class="verse" title="2 Timothy 1:18" id="2_Timothy-1-18">(the Lord grant to him to find the Lord&#8217;s mercy in that day); and in how many things he served at Ephesus, you know very well.</span>
</div>