<div class="chapter" id="2 Timothy-002">
  <h2>2 Timothy 2</h2>
  <span class="verse" title="2 Timothy 2:1" id="2_Timothy-2-1">You therefore, my child, be strengthened in the grace that is in Christ Jesus.</span>
  <span class="verse" title="2 Timothy 2:2" id="2_Timothy-2-2">The things which you have heard from me among many witnesses, commit the same to faithful men, who will be able to teach others also.</span>
  <span class="verse" title="2 Timothy 2:3" id="2_Timothy-2-3">You therefore must endure hardship, as a good soldier of Christ Jesus.</span>
  <span class="verse" title="2 Timothy 2:4" id="2_Timothy-2-4">No soldier on duty entangles himself in the affairs of life, that he may please him who enrolled him as a soldier.</span>
  <span class="verse" title="2 Timothy 2:5" id="2_Timothy-2-5">Also, if anyone competes in athletics, he isn&#8217;t crowned unless he has competed by the rules.</span>
  <span class="verse" title="2 Timothy 2:6" id="2_Timothy-2-6">The farmers who labor must be the first to get a share of the crops.</span>
  <span class="verse" title="2 Timothy 2:7" id="2_Timothy-2-7">Consider what I say, and may the Lord give you understanding in all things.</span>
  <span class="verse" title="2 Timothy 2:8" id="2_Timothy-2-8">Remember Jesus Christ, risen from the dead, of the seed of David, according to my Good News,</span>
  <span class="verse" title="2 Timothy 2:9" id="2_Timothy-2-9">in which I suffer hardship to the point of chains as a criminal. But God&#8217;s word isn&#8217;t chained.</span>
  <span class="verse" title="2 Timothy 2:10" id="2_Timothy-2-10">Therefore I endure all things for the chosen ones&#8217; sake, that they also may obtain the salvation which is in Christ Jesus with eternal glory.</span>
  <span class="verse" title="2 Timothy 2:11" id="2_Timothy-2-11">This saying is faithful:  &#8220;For if we died with him,<br/> <span class="indent">&nbsp;&nbsp;</span>we will also live with him.<br/></span>
  <span class="verse" title="2 Timothy 2:12" id="2_Timothy-2-12">If we endure,<br/> <span class="indent">&nbsp;&nbsp;</span>we will also reign with him.<br/>   If we deny him,<br/> <span class="indent">&nbsp;&nbsp;</span>he also will deny us.<br/></span>
  <span class="verse" title="2 Timothy 2:13" id="2_Timothy-2-13">If we are faithless,<br/> <span class="indent">&nbsp;&nbsp;</span>he remains faithful.<br/> <span class="indent">&nbsp;&nbsp;</span>He can&#8217;t deny himself.&#8221;<br/></span>
  <span class="verse" title="2 Timothy 2:14" id="2_Timothy-2-14">Remind them of these things, charging them in the sight of the Lord, that they don&#8217;t argue about words, to no profit, to the subverting of those who hear.</span>
  <span class="verse" title="2 Timothy 2:15" id="2_Timothy-2-15">Give diligence to present yourself approved by God, a workman who doesn&#8217;t need to be ashamed, properly handling the Word of Truth.</span>
  <span class="verse" title="2 Timothy 2:16" id="2_Timothy-2-16">But shun empty chatter, for it will go further in ungodliness,</span>
  <span class="verse" title="2 Timothy 2:17" id="2_Timothy-2-17">and those words will consume like gangrene, of whom is Hymenaeus and Philetus;</span>
  <span class="verse" title="2 Timothy 2:18" id="2_Timothy-2-18">men who have erred concerning the truth, saying that the resurrection is already past, and overthrowing the faith of some.</span>
  <span class="verse" title="2 Timothy 2:19" id="2_Timothy-2-19">However God&#8217;s firm foundation stands, having this seal, &#8220;The Lord knows those who are his,&#8221; and, &#8220;Let every one who names the name of the Lord depart from unrighteousness.&#8221;</span>
  <span class="verse" title="2 Timothy 2:20" id="2_Timothy-2-20">Now in a large house there are not only vessels of gold and of silver, but also of wood and of clay. Some are for honor, and some for dishonor.</span>
  <span class="verse" title="2 Timothy 2:21" id="2_Timothy-2-21">If anyone therefore purges himself from these, he will be a vessel for honor, sanctified, and suitable for the master&#8217;s use, prepared for every good work.</span>
  <span class="verse" title="2 Timothy 2:22" id="2_Timothy-2-22">Flee from youthful lusts; but pursue righteousness, faith, love, and peace with those who call on the Lord out of a pure heart.</span>
  <span class="verse" title="2 Timothy 2:23" id="2_Timothy-2-23">But refuse foolish and ignorant questionings, knowing that they generate strife.</span>
  <span class="verse" title="2 Timothy 2:24" id="2_Timothy-2-24">The Lord&#8217;s servant must not quarrel, but be gentle towards all, able to teach, patient,</span>
  <span class="verse" title="2 Timothy 2:25" id="2_Timothy-2-25">in gentleness correcting those who oppose him: perhaps God may give them repentance leading to a full knowledge of the truth,</span>
  <span class="verse" title="2 Timothy 2:26" id="2_Timothy-2-26">and they may recover themselves out of the devil&#8217;s snare, having been taken captive by him to his will.</span>
</div>