<div class="chapter" id="2 Timothy-003">
  <h2>2 Timothy 3</h2>
  <span class="verse" title="2 Timothy 3:1" id="2_Timothy-3-1">But know this, that in the last days, grievous times will come.</span>
  <span class="verse" title="2 Timothy 3:2" id="2_Timothy-3-2">For men will be lovers of self, lovers of money, boastful, arrogant, blasphemers, disobedient to parents, unthankful, unholy,</span>
  <span class="verse" title="2 Timothy 3:3" id="2_Timothy-3-3">without natural affection, unforgiving, slanderers, without self-control, fierce, no lovers of good,</span>
  <span class="verse" title="2 Timothy 3:4" id="2_Timothy-3-4">traitors, headstrong, conceited, lovers of pleasure rather than lovers of God;</span>
  <span class="verse" title="2 Timothy 3:5" id="2_Timothy-3-5">holding a form of godliness, but having denied its power. Turn away from these, also.</span>
  <span class="verse" title="2 Timothy 3:6" id="2_Timothy-3-6">For some of these are people who creep into houses, and take captive gullible women loaded down with sins, led away by various lusts,</span>
  <span class="verse" title="2 Timothy 3:7" id="2_Timothy-3-7">always learning, and never able to come to the knowledge of the truth.</span>
  <span class="verse" title="2 Timothy 3:8" id="2_Timothy-3-8">Even as Jannes and Jambres opposed Moses, so do these also oppose the truth; men corrupted in mind, who concerning the faith, are rejected.</span>
  <span class="verse" title="2 Timothy 3:9" id="2_Timothy-3-9">But they will proceed no further. For their folly will be evident to all men, as theirs also came to be.</span>
  <span class="verse" title="2 Timothy 3:10" id="2_Timothy-3-10">But you did follow my teaching, conduct, purpose, faith, patience, love, steadfastness,</span>
  <span class="verse" title="2 Timothy 3:11" id="2_Timothy-3-11">persecutions, and sufferings: those things that happened to me at Antioch, Iconium, and Lystra. I endured those persecutions. Out of them all the Lord delivered me.</span>
  <span class="verse" title="2 Timothy 3:12" id="2_Timothy-3-12">Yes, and all who desire to live godly in Christ Jesus will suffer persecution.</span>
  <span class="verse" title="2 Timothy 3:13" id="2_Timothy-3-13">But evil men and impostors will grow worse and worse, deceiving and being deceived.</span>
  <span class="verse" title="2 Timothy 3:14" id="2_Timothy-3-14">But you remain in the things which you have learned and have been assured of, knowing from whom you have learned them.</span>
  <span class="verse" title="2 Timothy 3:15" id="2_Timothy-3-15">From infancy, you have known the holy Scriptures which are able to make you wise for salvation through faith, which is in Christ Jesus.</span>
  <span class="verse" title="2 Timothy 3:16" id="2_Timothy-3-16">Every Scripture is God-breathed and profitable for teaching, for reproof, for correction, and for instruction in righteousness,</span>
  <span class="verse" title="2 Timothy 3:17" id="2_Timothy-3-17">that the man of God may be complete, thoroughly equipped for every good work.</span>
</div>