<div class="chapter" id="2 Timothy-004">
  <h2>2 Timothy 4</h2>
  <span class="verse" title="2 Timothy 4:1" id="2_Timothy-4-1">I command you therefore before God and the Lord Jesus Christ, who will judge the living and the dead at his appearing and his Kingdom:</span>
  <span class="verse" title="2 Timothy 4:2" id="2_Timothy-4-2">preach the word; be urgent in season and out of season; reprove, rebuke, and exhort, with all patience and teaching.</span>
  <span class="verse" title="2 Timothy 4:3" id="2_Timothy-4-3">For the time will come when they will not listen to the sound doctrine, but, having itching ears, will heap up for themselves teachers after their own lusts;</span>
  <span class="verse" title="2 Timothy 4:4" id="2_Timothy-4-4">and will turn away their ears from the truth, and turn aside to fables.</span>
  <span class="verse" title="2 Timothy 4:5" id="2_Timothy-4-5">But you be sober in all things, suffer hardship, do the work of an evangelist, and fulfill your ministry.</span>
  <span class="verse" title="2 Timothy 4:6" id="2_Timothy-4-6">For I am already being offered, and the time of my departure has come.</span>
  <span class="verse" title="2 Timothy 4:7" id="2_Timothy-4-7">I have fought the good fight. I have finished the course. I have kept the faith.</span>
  <span class="verse" title="2 Timothy 4:8" id="2_Timothy-4-8">From now on, there is stored up for me the crown of righteousness, which the Lord, the righteous judge, will give to me on that day; and not to me only, but also to all those who have loved his appearing.</span>
  <span class="verse" title="2 Timothy 4:9" id="2_Timothy-4-9">Be diligent to come to me soon,</span>
  <span class="verse" title="2 Timothy 4:10" id="2_Timothy-4-10">for Demas left me, having loved this present world, and went to Thessalonica; Crescens to Galatia, and Titus to Dalmatia.</span>
  <span class="verse" title="2 Timothy 4:11" id="2_Timothy-4-11">Only Luke is with me. Take Mark, and bring him with you, for he is useful to me for service.</span>
  <span class="verse" title="2 Timothy 4:12" id="2_Timothy-4-12">But I sent Tychicus to Ephesus.</span>
  <span class="verse" title="2 Timothy 4:13" id="2_Timothy-4-13">Bring the cloak that I left at Troas with Carpus when you come, and the books, especially the parchments.</span>
  <span class="verse" title="2 Timothy 4:14" id="2_Timothy-4-14">Alexander, the coppersmith, did much evil to me. The Lord will repay him according to his works,</span>
  <span class="verse" title="2 Timothy 4:15" id="2_Timothy-4-15">of whom you also must beware; for he greatly opposed our words.</span>
  <span class="verse" title="2 Timothy 4:16" id="2_Timothy-4-16">At my first defense, no one came to help me, but all left me. May it not be held against them.</span>
  <span class="verse" title="2 Timothy 4:17" id="2_Timothy-4-17">But the Lord stood by me, and strengthened me, that through me the message might be fully proclaimed, and that all the Gentiles might hear; and I was delivered out of the mouth of the lion.</span>
  <span class="verse" title="2 Timothy 4:18" id="2_Timothy-4-18">And the Lord will deliver me from every evil work, and will preserve me for his heavenly Kingdom; to whom be the glory forever and ever. Amen.</span>
  <span class="verse" title="2 Timothy 4:19" id="2_Timothy-4-19">Greet Prisca and Aquila, and the house of Onesiphorus.</span>
  <span class="verse" title="2 Timothy 4:20" id="2_Timothy-4-20">Erastus remained at Corinth, but I left Trophimus at Miletus sick.</span>
  <span class="verse" title="2 Timothy 4:21" id="2_Timothy-4-21">Be diligent to come before winter. Eubulus salutes you, as do Pudens, Linus, Claudia, and all the brothers.</span>
  <span class="verse" title="2 Timothy 4:22" id="2_Timothy-4-22">The Lord Jesus Christ be with your spirit. Grace be with you. Amen.</span>
</div>