<%= render :partial => 'shares/subnav' %>

<h1>Pictures</h1>

<p><em>The ability to upload new pictures is currently disabled as we make some improvements. Please check back soon!</em></p>

<% if @pages.length > 1 %>
  <p class="page-nav">Page: <%= pagination_links @pages, :window_size => 5, :params => params %></p>
<% end %>

<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <div class="picture">
      <%= link_to image_tag(photo_with_size_path(picture, :size => 'medium', :type => 'picture'), :alt => 'click to enlarge'), picture, :title => 'click to enlarge' %>
    </div>
  <% end %>
  <br clear="both"/>
<% else %>
  <!--<p><em>No pictures yet!</em></p>-->
<% end %>

<% if @pages.length > 1 %>
  <p class="page-nav">Page: <%= pagination_links @pages, :window_size => 5, :params => params %></p>
<% end %>
