<p>
  <% @families.each do |family| %>
    <%= radio_button_tag 'id', family.id, @families.length == 1, :id => "family#{family.id}", :class => 'radiobutton', :onclick => "if(typeof(select_family) == 'function') select_family(this.value);" %>
    <%= label_tag "family#{family.id}", family.name, :class => 'inline' %>
    <br/>
  <% end %>
</p>