<p>
  <% @families.each do |family| %>
    <%= radio_button_tag 'id', family.id, @families.length == 1, :class => 'radiobutton', :onclick => "if(typeof(select_family) == 'function') select_family(this.value);" %>
    <%= render :partial => 'families/link', :locals => {:family => family} %>
    <br/>
  <% end %>
</p>