<p>
  <% @families.each do |family| %>
    <%= radio_button_tag 'id', family.id, @families.length == 1, id: "family#{family.id}", class: 'radiobutton' %>
    <%= label_tag "family#{family.id}", family.name, class: 'inline' %>
    <br/>
  <% end %>
  <% if @more %>
    <em><%= t('search.results_not_shown') %></em>
  <% end %>
</p>
