<li><%= link_to image_tag('book_addresses.png', :alt => 'Browse Directory', :class => 'icon') + ' Browse',     search_path(:browse => true) %></li>
<li><%= link_to image_tag('lorry.png', :alt => 'Businesses', :class => 'icon') + ' Businesses', search_path(:business => true) %></li>
<li><%= link_to image_tag('printer.png', :alt => 'Print Directory', :class => 'icon') + ' Print',      printable_directory_path %></li>
