<h2>OneBody Environment</h2>
<table>
  <tr>
    <td>Install method</td>
    <td>
      <% case @info.install_method when :git %>
        Git
      <% when :manual %>
        Tar.gz or Other
      <% end %>
    </td>
  </tr>
  <tr>
    <td>Your version</td>
    <td>
      <%=h @info.this_version %>
    </td>
  </tr>
  <tr>
    <td>Official stable version</td>
    <td>
      <%=h @info.released_version %>
    </td>
  </tr>
  <tr>
    <td>Official development version</td>
    <td>
      <%=h @info.development_version %>
    </td>
  </tr>
</table>

<h2>Ruby/Rails Environment</h2>
<%= Rails::Info.to_html %>

