<%= form_tag url, multipart: true, method: 'put' do %>
  <p><%= render partial: 'photo_fields' %></p>
  <p>
    <%= submit_tag t('photos.upload', name: name) %>
    <% if defined? delete and delete %>
      <%= link_to t('photos.remove'), url, method: 'delete', data: { confirm: t('are_you_sure') } %>
    <% end %>
  </p>
<% end %>
