<p>
  <% form_tag url, :multipart => true, :method => 'put' do %>
    <%= render :partial => 'photo_fields' %>
    <br/>
    Please choose a photo that won't offend others.<br/>
    <input type="submit" value="Upload <%= name %>" class="submit">
    <% if defined? delete and delete %>
      <br/>
      <%= link_to "Remove #{name}", url, :method => 'delete', :confirm => 'Are you sure?' %>
    <% end %>
  <% end %>
</p>
