<div class="chapter" id="Proverbs-001">
  <h2>Proverbs 1</h2>
  <span class="verse" title="Proverbs 1:1" id="Proverbs-1-1">The proverbs of Solomon, the son of David, king of Israel:</span>
  <span class="verse" title="Proverbs 1:2" id="Proverbs-1-2">to know wisdom and instruction;<br/> <span class="indent">&nbsp;&nbsp;</span>to discern the words of understanding;<br/></span>
  <span class="verse" title="Proverbs 1:3" id="Proverbs-1-3">to receive instruction in wise dealing,<br/> <span class="indent">&nbsp;&nbsp;</span>in righteousness, justice, and equity;<br/></span>
  <span class="verse" title="Proverbs 1:4" id="Proverbs-1-4">to give prudence to the simple,<br/> <span class="indent">&nbsp;&nbsp;</span>knowledge and discretion to the young man:<br/></span>
  <span class="verse" title="Proverbs 1:5" id="Proverbs-1-5">that the wise man may hear, and increase in learning;<br/> <span class="indent">&nbsp;&nbsp;</span>that the man of understanding may attain to sound counsel:<br/></span>
  <span class="verse" title="Proverbs 1:6" id="Proverbs-1-6">to understand a proverb, and parables,<br/> <span class="indent">&nbsp;&nbsp;</span>the words and riddles of the wise.<br/>   <br/></span>
  <span class="verse" title="Proverbs 1:7" id="Proverbs-1-7">The fear of Yahweh is the beginning of knowledge;<br/> <span class="indent">&nbsp;&nbsp;</span>but the foolish despise wisdom and instruction.<br/></span>
  <span class="verse" title="Proverbs 1:8" id="Proverbs-1-8">My son, listen to your father&#8217;s instruction,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t forsake your mother&#8217;s teaching:<br/></span>
  <span class="verse" title="Proverbs 1:9" id="Proverbs-1-9">for they will be a garland to grace your head,<br/> <span class="indent">&nbsp;&nbsp;</span>and chains around your neck.<br/></span>
  <span class="verse" title="Proverbs 1:10" id="Proverbs-1-10">My son, if sinners entice you, don&#8217;t consent.<br/></span>
  <span class="verse" title="Proverbs 1:11" id="Proverbs-1-11">If they say, &#8220;Come with us,<br/> <span class="indent">&nbsp;&nbsp;</span>Let&#8217;s lay in wait for blood;<br/> <span class="indent">&nbsp;&nbsp;</span>let&#8217;s lurk secretly for the innocent without cause;<br/></span>
  <span class="verse" title="Proverbs 1:12" id="Proverbs-1-12">let&#8217;s swallow them up alive like Sheol,<br/> <span class="indent">&nbsp;&nbsp;</span>and whole, like those who go down into the pit.<br/></span>
  <span class="verse" title="Proverbs 1:13" id="Proverbs-1-13">We&#8217;ll find all valuable wealth.<br/> <span class="indent">&nbsp;&nbsp;</span>We&#8217;ll fill our houses with spoil.<br/></span>
  <span class="verse" title="Proverbs 1:14" id="Proverbs-1-14">You shall cast your lot among us.<br/> <span class="indent">&nbsp;&nbsp;</span>We&#8217;ll all have one purse.&#8221;<br/></span>
  <span class="verse" title="Proverbs 1:15" id="Proverbs-1-15">My son, don&#8217;t walk in the way with them.<br/> <span class="indent">&nbsp;&nbsp;</span>Keep your foot from their path,<br/></span>
  <span class="verse" title="Proverbs 1:16" id="Proverbs-1-16">for their feet run to evil.<br/> <span class="indent">&nbsp;&nbsp;</span>They hurry to shed blood.<br/></span>
  <span class="verse" title="Proverbs 1:17" id="Proverbs-1-17">For in vain is the net spread in the sight of any bird:<br/></span>
  <span class="verse" title="Proverbs 1:18" id="Proverbs-1-18">but these lay wait for their own blood.<br/> <span class="indent">&nbsp;&nbsp;</span>They lurk secretly for their own lives.<br/></span>
  <span class="verse" title="Proverbs 1:19" id="Proverbs-1-19">So are the ways of everyone who is greedy for gain.<br/> <span class="indent">&nbsp;&nbsp;</span>It takes away the life of its owners.<br/>   <br/></span>
  <span class="verse" title="Proverbs 1:20" id="Proverbs-1-20">Wisdom calls aloud in the street.<br/> <span class="indent">&nbsp;&nbsp;</span>She utters her voice in the public squares.<br/></span>
  <span class="verse" title="Proverbs 1:21" id="Proverbs-1-21">She calls at the head of noisy places.<br/> <span class="indent">&nbsp;&nbsp;</span>At the entrance of the city gates, she utters her words:<br/></span>
  <span class="verse" title="Proverbs 1:22" id="Proverbs-1-22">&#8220;How long, you simple ones, will you love simplicity?<br/> <span class="indent">&nbsp;&nbsp;</span>How long will mockers delight themselves in mockery,<br/> <span class="indent">&nbsp;&nbsp;</span>and fools hate knowledge?<br/></span>
  <span class="verse" title="Proverbs 1:23" id="Proverbs-1-23">Turn at my reproof.<br/> <span class="indent">&nbsp;&nbsp;</span>Behold, I will pour out my spirit on you.<br/> <span class="indent">&nbsp;&nbsp;</span>I will make known my words to you.<br/></span>
  <span class="verse" title="Proverbs 1:24" id="Proverbs-1-24">Because I have called, and you have refused;<br/> <span class="indent">&nbsp;&nbsp;</span>I have stretched out my hand, and no one has paid attention;<br/></span>
  <span class="verse" title="Proverbs 1:25" id="Proverbs-1-25">but you have ignored all my counsel,<br/> <span class="indent">&nbsp;&nbsp;</span>and wanted none of my reproof;<br/></span>
  <span class="verse" title="Proverbs 1:26" id="Proverbs-1-26">I also will laugh at your disaster.<br/> <span class="indent">&nbsp;&nbsp;</span>I will mock when calamity overtakes you;<br/></span>
  <span class="verse" title="Proverbs 1:27" id="Proverbs-1-27">when calamity overtakes you like a storm,<br/> <span class="indent">&nbsp;&nbsp;</span>when your disaster comes on like a whirlwind;<br/> <span class="indent">&nbsp;&nbsp;</span>when distress and anguish come on you.<br/></span>
  <span class="verse" title="Proverbs 1:28" id="Proverbs-1-28">Then will they call on me, but I will not answer.<br/> <span class="indent">&nbsp;&nbsp;</span>They will seek me diligently, but they will not find me;<br/></span>
  <span class="verse" title="Proverbs 1:29" id="Proverbs-1-29">because they hated knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>and didn&#8217;t choose the fear of Yahweh.<br/></span>
  <span class="verse" title="Proverbs 1:30" id="Proverbs-1-30">They wanted none of my counsel.<br/> <span class="indent">&nbsp;&nbsp;</span>They despised all my reproof.<br/></span>
  <span class="verse" title="Proverbs 1:31" id="Proverbs-1-31">Therefore they will eat of the fruit of their own way,<br/> <span class="indent">&nbsp;&nbsp;</span>and be filled with their own schemes.<br/></span>
  <span class="verse" title="Proverbs 1:32" id="Proverbs-1-32">For the backsliding of the simple will kill them.<br/> <span class="indent">&nbsp;&nbsp;</span>The careless ease of fools will destroy them.<br/></span>
  <span class="verse" title="Proverbs 1:33" id="Proverbs-1-33">But whoever listens to me will dwell securely,<br/> <span class="indent">&nbsp;&nbsp;</span>and will be at ease, without fear of harm.&#8221;<br/></span>
</div>