<div class="chapter" id="Proverbs-002">
  <h2>Proverbs 2</h2>
  <span class="verse" title="Proverbs 2:1" id="Proverbs-2-1">My son, if you will receive my words,<br/> <span class="indent">&nbsp;&nbsp;</span>and store up my commandments within you;<br/></span>
  <span class="verse" title="Proverbs 2:2" id="Proverbs-2-2">So as to turn your ear to wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>and apply your heart to understanding;<br/></span>
  <span class="verse" title="Proverbs 2:3" id="Proverbs-2-3">Yes, if you call out for discernment,<br/> <span class="indent">&nbsp;&nbsp;</span>and lift up your voice for understanding;<br/></span>
  <span class="verse" title="Proverbs 2:4" id="Proverbs-2-4">If you seek her as silver,<br/> <span class="indent">&nbsp;&nbsp;</span>and search for her as for hidden treasures:<br/></span>
  <span class="verse" title="Proverbs 2:5" id="Proverbs-2-5">then you will understand the fear of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>and find the knowledge of God.<br/></span>
  <span class="verse" title="Proverbs 2:6" id="Proverbs-2-6">For Yahweh gives wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>Out of his mouth comes knowledge and understanding.<br/></span>
  <span class="verse" title="Proverbs 2:7" id="Proverbs-2-7">He lays up sound wisdom for the upright.<br/> <span class="indent">&nbsp;&nbsp;</span>He is a shield to those who walk in integrity;<br/></span>
  <span class="verse" title="Proverbs 2:8" id="Proverbs-2-8">that he may guard the paths of justice,<br/> <span class="indent">&nbsp;&nbsp;</span>and preserve the way of his saints.<br/></span>
  <span class="verse" title="Proverbs 2:9" id="Proverbs-2-9">Then you will understand righteousness and justice,<br/> <span class="indent">&nbsp;&nbsp;</span>equity and every good path.<br/></span>
  <span class="verse" title="Proverbs 2:10" id="Proverbs-2-10">For wisdom will enter into your heart.<br/> <span class="indent">&nbsp;&nbsp;</span>Knowledge will be pleasant to your soul.<br/></span>
  <span class="verse" title="Proverbs 2:11" id="Proverbs-2-11">Discretion will watch over you.<br/> <span class="indent">&nbsp;&nbsp;</span>Understanding will keep you,<br/></span>
  <span class="verse" title="Proverbs 2:12" id="Proverbs-2-12">to deliver you from the way of evil,<br/> <span class="indent">&nbsp;&nbsp;</span>from the men who speak perverse things;<br/></span>
  <span class="verse" title="Proverbs 2:13" id="Proverbs-2-13">who forsake the paths of uprightness,<br/> <span class="indent">&nbsp;&nbsp;</span>to walk in the ways of darkness;<br/></span>
  <span class="verse" title="Proverbs 2:14" id="Proverbs-2-14">who rejoice to do evil,<br/> <span class="indent">&nbsp;&nbsp;</span>and delight in the perverseness of evil;<br/></span>
  <span class="verse" title="Proverbs 2:15" id="Proverbs-2-15">who are crooked in their ways,<br/> <span class="indent">&nbsp;&nbsp;</span>and wayward in their paths:<br/></span>
  <span class="verse" title="Proverbs 2:16" id="Proverbs-2-16">To deliver you from the strange woman,<br/> <span class="indent">&nbsp;&nbsp;</span>even from the foreigner who flatters with her words;<br/></span>
  <span class="verse" title="Proverbs 2:17" id="Proverbs-2-17">who forsakes the friend of her youth,<br/> <span class="indent">&nbsp;&nbsp;</span>and forgets the covenant of her God:<br/></span>
  <span class="verse" title="Proverbs 2:18" id="Proverbs-2-18">for her house leads down to death,<br/> <span class="indent">&nbsp;&nbsp;</span>her paths to the dead.<br/></span>
  <span class="verse" title="Proverbs 2:19" id="Proverbs-2-19">None who go to her return again,<br/> <span class="indent">&nbsp;&nbsp;</span>neither do they attain to the paths of life:<br/></span>
  <span class="verse" title="Proverbs 2:20" id="Proverbs-2-20">that you may walk in the way of good men,<br/> <span class="indent">&nbsp;&nbsp;</span>and keep the paths of the righteous.<br/></span>
  <span class="verse" title="Proverbs 2:21" id="Proverbs-2-21">For the upright will dwell in the land.<br/> <span class="indent">&nbsp;&nbsp;</span>The perfect will remain in it.<br/></span>
  <span class="verse" title="Proverbs 2:22" id="Proverbs-2-22">But the wicked will be cut off from the land.<br/> <span class="indent">&nbsp;&nbsp;</span>The treacherous will be rooted out of it.<br/></span>
</div>