<div class="chapter" id="Proverbs-003">
  <h2>Proverbs 3</h2>
  <span class="verse" title="Proverbs 3:1" id="Proverbs-3-1">My son, don&#8217;t forget my teaching;<br/> <span class="indent">&nbsp;&nbsp;</span>but let your heart keep my commandments:<br/></span>
  <span class="verse" title="Proverbs 3:2" id="Proverbs-3-2">for length of days, and years of life,<br/> <span class="indent">&nbsp;&nbsp;</span>and peace, will they add to you.<br/></span>
  <span class="verse" title="Proverbs 3:3" id="Proverbs-3-3">Don&#8217;t let kindness and truth forsake you.<br/> <span class="indent">&nbsp;&nbsp;</span>Bind them around your neck.<br/> <span class="indent">&nbsp;&nbsp;</span>Write them on the tablet of your heart.<br/></span>
  <span class="verse" title="Proverbs 3:4" id="Proverbs-3-4">So you will find favor,<br/> <span class="indent">&nbsp;&nbsp;</span>and good understanding in the sight of God and man.<br/></span>
  <span class="verse" title="Proverbs 3:5" id="Proverbs-3-5">Trust in Yahweh with all your heart,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t lean on your own understanding.<br/></span>
  <span class="verse" title="Proverbs 3:6" id="Proverbs-3-6">In all your ways acknowledge him,<br/> <span class="indent">&nbsp;&nbsp;</span>and he will make your paths straight.<br/></span>
  <span class="verse" title="Proverbs 3:7" id="Proverbs-3-7">Don&#8217;t be wise in your own eyes.<br/> <span class="indent">&nbsp;&nbsp;</span>Fear Yahweh, and depart from evil.<br/></span>
  <span class="verse" title="Proverbs 3:8" id="Proverbs-3-8">It will be health to your body,<br/> <span class="indent">&nbsp;&nbsp;</span>and nourishment to your bones.<br/></span>
  <span class="verse" title="Proverbs 3:9" id="Proverbs-3-9">Honor Yahweh with your substance,<br/> <span class="indent">&nbsp;&nbsp;</span>with the first fruits of all your increase:<br/></span>
  <span class="verse" title="Proverbs 3:10" id="Proverbs-3-10">so your barns will be filled with plenty,<br/> <span class="indent">&nbsp;&nbsp;</span>and your vats will overflow with new wine.<br/></span>
  <span class="verse" title="Proverbs 3:11" id="Proverbs-3-11">My son, don&#8217;t despise Yahweh&#8217;s discipline,<br/> <span class="indent">&nbsp;&nbsp;</span>neither be weary of his reproof:<br/></span>
  <span class="verse" title="Proverbs 3:12" id="Proverbs-3-12">for whom Yahweh loves, he reproves;<br/> <span class="indent">&nbsp;&nbsp;</span>even as a father reproves the son in whom he delights.<br/>   <br/></span>
  <span class="verse" title="Proverbs 3:13" id="Proverbs-3-13">Happy is the man who finds wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>the man who gets understanding.<br/></span>
  <span class="verse" title="Proverbs 3:14" id="Proverbs-3-14">For her good profit is better than getting silver,<br/> <span class="indent">&nbsp;&nbsp;</span>and her return is better than fine gold.<br/></span>
  <span class="verse" title="Proverbs 3:15" id="Proverbs-3-15">She is more precious than rubies.<br/> <span class="indent">&nbsp;&nbsp;</span>None of the things you can desire are to be compared to her.<br/></span>
  <span class="verse" title="Proverbs 3:16" id="Proverbs-3-16">Length of days is in her right hand.<br/> <span class="indent">&nbsp;&nbsp;</span>In her left hand are riches and honor.<br/></span>
  <span class="verse" title="Proverbs 3:17" id="Proverbs-3-17">Her ways are ways of pleasantness.<br/> <span class="indent">&nbsp;&nbsp;</span>All her paths are peace.<br/></span>
  <span class="verse" title="Proverbs 3:18" id="Proverbs-3-18">She is a tree of life to those who lay hold of her.<br/> <span class="indent">&nbsp;&nbsp;</span>Happy is everyone who retains her.<br/></span>
  <span class="verse" title="Proverbs 3:19" id="Proverbs-3-19">By wisdom Yahweh founded the earth.<br/> <span class="indent">&nbsp;&nbsp;</span>By understanding, he established the heavens.<br/></span>
  <span class="verse" title="Proverbs 3:20" id="Proverbs-3-20">By his knowledge, the depths were broken up,<br/> <span class="indent">&nbsp;&nbsp;</span>and the skies drop down the dew.<br/></span>
  <span class="verse" title="Proverbs 3:21" id="Proverbs-3-21">My son, let them not depart from your eyes.<br/> <span class="indent">&nbsp;&nbsp;</span>Keep sound wisdom and discretion:<br/></span>
  <span class="verse" title="Proverbs 3:22" id="Proverbs-3-22">so they will be life to your soul,<br/> <span class="indent">&nbsp;&nbsp;</span>and grace for your neck.<br/></span>
  <span class="verse" title="Proverbs 3:23" id="Proverbs-3-23">Then you shall walk in your way securely.<br/> <span class="indent">&nbsp;&nbsp;</span>Your foot won&#8217;t stumble.<br/></span>
  <span class="verse" title="Proverbs 3:24" id="Proverbs-3-24">When you lie down, you will not be afraid.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, you will lie down, and your sleep will be sweet.<br/></span>
  <span class="verse" title="Proverbs 3:25" id="Proverbs-3-25">Don&#8217;t be afraid of sudden fear,<br/> <span class="indent">&nbsp;&nbsp;</span>neither of the desolation of the wicked, when it comes:<br/></span>
  <span class="verse" title="Proverbs 3:26" id="Proverbs-3-26">for Yahweh will be your confidence,<br/> <span class="indent">&nbsp;&nbsp;</span>and will keep your foot from being taken.<br/>   <br/></span>
  <span class="verse" title="Proverbs 3:27" id="Proverbs-3-27">Don&#8217;t withhold good from those to whom it is due,<br/> <span class="indent">&nbsp;&nbsp;</span>when it is in the power of your hand to do it.<br/></span>
  <span class="verse" title="Proverbs 3:28" id="Proverbs-3-28">Don&#8217;t say to your neighbor, &#8220;Go, and come again;<br/> <span class="indent">&nbsp;&nbsp;</span>tomorrow I will give it to you,&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>when you have it by you.<br/></span>
  <span class="verse" title="Proverbs 3:29" id="Proverbs-3-29">Don&#8217;t devise evil against your neighbor,<br/> <span class="indent">&nbsp;&nbsp;</span>since he dwells securely by you.<br/></span>
  <span class="verse" title="Proverbs 3:30" id="Proverbs-3-30">Don&#8217;t strive with a man without cause,<br/> <span class="indent">&nbsp;&nbsp;</span>if he has done you no harm.<br/></span>
  <span class="verse" title="Proverbs 3:31" id="Proverbs-3-31">Don&#8217;t envy the man of violence.<br/> <span class="indent">&nbsp;&nbsp;</span>Choose none of his ways.<br/></span>
  <span class="verse" title="Proverbs 3:32" id="Proverbs-3-32">For the perverse is an abomination to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>but his friendship is with the upright.<br/></span>
  <span class="verse" title="Proverbs 3:33" id="Proverbs-3-33">Yahweh&#8217;s curse is in the house of the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>but he blesses the habitation of the righteous.<br/></span>
  <span class="verse" title="Proverbs 3:34" id="Proverbs-3-34">Surely he mocks the mockers,<br/> <span class="indent">&nbsp;&nbsp;</span>but he gives grace to the humble.<br/></span>
  <span class="verse" title="Proverbs 3:35" id="Proverbs-3-35">The wise will inherit glory,<br/> <span class="indent">&nbsp;&nbsp;</span>but shame will be the promotion of fools.<br/></span>
</div>