<div class="chapter" id="Proverbs-004">
  <h2>Proverbs 4</h2>
  <span class="verse" title="Proverbs 4:1" id="Proverbs-4-1">Listen, sons, to a father&#8217;s instruction.<br/> <span class="indent">&nbsp;&nbsp;</span>Pay attention and know understanding;<br/></span>
  <span class="verse" title="Proverbs 4:2" id="Proverbs-4-2">for I give you sound learning.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t forsake my law.<br/></span>
  <span class="verse" title="Proverbs 4:3" id="Proverbs-4-3">For I was a son to my father,<br/> <span class="indent">&nbsp;&nbsp;</span>tender and an only child in the sight of my mother.<br/></span>
  <span class="verse" title="Proverbs 4:4" id="Proverbs-4-4">He taught me, and said to me:<br/> <span class="indent">&nbsp;&nbsp;</span>&#8220;Let your heart retain my words.<br/> <span class="indent">&nbsp;&nbsp;</span>Keep my commandments, and live.<br/></span>
  <span class="verse" title="Proverbs 4:5" id="Proverbs-4-5">Get wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>Get understanding.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t forget, neither swerve from the words of my mouth.<br/></span>
  <span class="verse" title="Proverbs 4:6" id="Proverbs-4-6">Don&#8217;t forsake her, and she will preserve you.<br/> <span class="indent">&nbsp;&nbsp;</span>Love her, and she will keep you.<br/></span>
  <span class="verse" title="Proverbs 4:7" id="Proverbs-4-7">Wisdom is supreme.<br/> <span class="indent">&nbsp;&nbsp;</span>Get wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, though it costs all your possessions, get understanding.<br/></span>
  <span class="verse" title="Proverbs 4:8" id="Proverbs-4-8">Esteem her, and she will exalt you.<br/> <span class="indent">&nbsp;&nbsp;</span>She will bring you to honor, when you embrace her.<br/></span>
  <span class="verse" title="Proverbs 4:9" id="Proverbs-4-9">She will give to your head a garland of grace.<br/> <span class="indent">&nbsp;&nbsp;</span>She will deliver a crown of splendor to you.&#8221;<br/>   <br/></span>
  <span class="verse" title="Proverbs 4:10" id="Proverbs-4-10">Listen, my son, and receive my sayings.<br/> <span class="indent">&nbsp;&nbsp;</span>The years of your life will be many.<br/></span>
  <span class="verse" title="Proverbs 4:11" id="Proverbs-4-11">I have taught you in the way of wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>I have led you in straight paths.<br/></span>
  <span class="verse" title="Proverbs 4:12" id="Proverbs-4-12">When you go, your steps will not be hampered.<br/> <span class="indent">&nbsp;&nbsp;</span>When you run, you will not stumble.<br/></span>
  <span class="verse" title="Proverbs 4:13" id="Proverbs-4-13">Take firm hold of instruction.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let her go.<br/> <span class="indent">&nbsp;&nbsp;</span>Keep her, for she is your life.<br/></span>
  <span class="verse" title="Proverbs 4:14" id="Proverbs-4-14">Don&#8217;t enter into the path of the wicked.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t walk in the way of evil men.<br/></span>
  <span class="verse" title="Proverbs 4:15" id="Proverbs-4-15">Avoid it, and don&#8217;t pass by it.<br/> <span class="indent">&nbsp;&nbsp;</span>Turn from it, and pass on.<br/></span>
  <span class="verse" title="Proverbs 4:16" id="Proverbs-4-16">For they don&#8217;t sleep, unless they do evil.<br/> <span class="indent">&nbsp;&nbsp;</span>Their sleep is taken away, unless they make someone fall.<br/></span>
  <span class="verse" title="Proverbs 4:17" id="Proverbs-4-17">For they eat the bread of wickedness,<br/> <span class="indent">&nbsp;&nbsp;</span>and drink the wine of violence.<br/></span>
  <span class="verse" title="Proverbs 4:18" id="Proverbs-4-18">But the path of the righteous is like the dawning light,<br/> <span class="indent">&nbsp;&nbsp;</span>that shines more and more until the perfect day.<br/></span>
  <span class="verse" title="Proverbs 4:19" id="Proverbs-4-19">The way of the wicked is like darkness.<br/> <span class="indent">&nbsp;&nbsp;</span>They don&#8217;t know what they stumble over.<br/>   <br/></span>
  <span class="verse" title="Proverbs 4:20" id="Proverbs-4-20">My son, attend to my words.<br/> <span class="indent">&nbsp;&nbsp;</span>Turn your ear to my sayings.<br/></span>
  <span class="verse" title="Proverbs 4:21" id="Proverbs-4-21">Let them not depart from your eyes.<br/> <span class="indent">&nbsp;&nbsp;</span>Keep them in the midst of your heart.<br/></span>
  <span class="verse" title="Proverbs 4:22" id="Proverbs-4-22">For they are life to those who find them,<br/> <span class="indent">&nbsp;&nbsp;</span>and health to their whole body.<br/></span>
  <span class="verse" title="Proverbs 4:23" id="Proverbs-4-23">Keep your heart with all diligence,<br/> <span class="indent">&nbsp;&nbsp;</span>for out of it is the wellspring of life.<br/></span>
  <span class="verse" title="Proverbs 4:24" id="Proverbs-4-24">Put away from yourself a perverse mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>Put corrupt lips far from you.<br/></span>
  <span class="verse" title="Proverbs 4:25" id="Proverbs-4-25">Let your eyes look straight ahead.<br/> <span class="indent">&nbsp;&nbsp;</span>Fix your gaze directly before you.<br/></span>
  <span class="verse" title="Proverbs 4:26" id="Proverbs-4-26">Make the path of your feet level.<br/> <span class="indent">&nbsp;&nbsp;</span>Let all of your ways be established.<br/></span>
  <span class="verse" title="Proverbs 4:27" id="Proverbs-4-27">Don&#8217;t turn to the right hand nor to the left.<br/> <span class="indent">&nbsp;&nbsp;</span>Remove your foot from evil.<br/></span>
</div>