<div class="chapter" id="Proverbs-005">
  <h2>Proverbs 5</h2>
  <span class="verse" title="Proverbs 5:1" id="Proverbs-5-1">My son, pay attention to my wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>Turn your ear to my understanding:<br/></span>
  <span class="verse" title="Proverbs 5:2" id="Proverbs-5-2">that you may maintain discretion,<br/> <span class="indent">&nbsp;&nbsp;</span>that your lips may preserve knowledge.<br/></span>
  <span class="verse" title="Proverbs 5:3" id="Proverbs-5-3">For the lips of an adulteress drip honey.<br/> <span class="indent">&nbsp;&nbsp;</span>Her mouth is smoother than oil,<br/></span>
  <span class="verse" title="Proverbs 5:4" id="Proverbs-5-4">But in the end she is as bitter as wormwood,<br/> <span class="indent">&nbsp;&nbsp;</span>and as sharp as a two-edged sword.<br/></span>
  <span class="verse" title="Proverbs 5:5" id="Proverbs-5-5">Her feet go down to death.<br/> <span class="indent">&nbsp;&nbsp;</span>Her steps lead straight to Sheol.<br/></span>
  <span class="verse" title="Proverbs 5:6" id="Proverbs-5-6">She gives no thought to the way of life.<br/> <span class="indent">&nbsp;&nbsp;</span>Her ways are crooked, and she doesn&#8217;t know it.<br/>   <br/></span>
  <span class="verse" title="Proverbs 5:7" id="Proverbs-5-7">Now therefore, my sons, listen to me.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t depart from the words of my mouth.<br/></span>
  <span class="verse" title="Proverbs 5:8" id="Proverbs-5-8">Remove your way far from her.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t come near the door of her house,<br/></span>
  <span class="verse" title="Proverbs 5:9" id="Proverbs-5-9">lest you give your honor to others,<br/> <span class="indent">&nbsp;&nbsp;</span>and your years to the cruel one;<br/></span>
  <span class="verse" title="Proverbs 5:10" id="Proverbs-5-10">lest strangers feast on your wealth,<br/> <span class="indent">&nbsp;&nbsp;</span>and your labors enrich another man&#8217;s house.<br/></span>
  <span class="verse" title="Proverbs 5:11" id="Proverbs-5-11">You will groan at your latter end,<br/> <span class="indent">&nbsp;&nbsp;</span>when your flesh and your body are consumed,<br/></span>
  <span class="verse" title="Proverbs 5:12" id="Proverbs-5-12">and say, &#8220;How I have hated instruction,<br/> <span class="indent">&nbsp;&nbsp;</span>and my heart despised reproof;<br/></span>
  <span class="verse" title="Proverbs 5:13" id="Proverbs-5-13">neither have I obeyed the voice of my teachers,<br/> <span class="indent">&nbsp;&nbsp;</span>nor turned my ear to those who instructed me!<br/></span>
  <span class="verse" title="Proverbs 5:14" id="Proverbs-5-14">I have come to the brink of utter ruin,<br/> <span class="indent">&nbsp;&nbsp;</span>in the midst of the gathered assembly.&#8221;<br/>   <br/></span>
  <span class="verse" title="Proverbs 5:15" id="Proverbs-5-15">Drink water out of your own cistern,<br/> <span class="indent">&nbsp;&nbsp;</span>running water out of your own well.<br/></span>
  <span class="verse" title="Proverbs 5:16" id="Proverbs-5-16">Should your springs overflow in the streets,<br/> <span class="indent">&nbsp;&nbsp;</span>streams of water in the public squares?<br/></span>
  <span class="verse" title="Proverbs 5:17" id="Proverbs-5-17">Let them be for yourself alone,<br/> <span class="indent">&nbsp;&nbsp;</span>not for strangers with you.<br/></span>
  <span class="verse" title="Proverbs 5:18" id="Proverbs-5-18">Let your spring be blessed.<br/> <span class="indent">&nbsp;&nbsp;</span>Rejoice in the wife of your youth.<br/></span>
  <span class="verse" title="Proverbs 5:19" id="Proverbs-5-19">A loving doe and a graceful deer—<br/> <span class="indent">&nbsp;&nbsp;</span>let her breasts satisfy you at all times.<br/> <span class="indent">&nbsp;&nbsp;</span>Be captivated always with her love.<br/></span>
  <span class="verse" title="Proverbs 5:20" id="Proverbs-5-20">For why should you, my son, be captivated with an adulteress?<br/> <span class="indent">&nbsp;&nbsp;</span>Why embrace the bosom of another?<br/></span>
  <span class="verse" title="Proverbs 5:21" id="Proverbs-5-21">For the ways of man are before the eyes of Yahweh.<br/> <span class="indent">&nbsp;&nbsp;</span>He examines all his paths.<br/></span>
  <span class="verse" title="Proverbs 5:22" id="Proverbs-5-22">The evil deeds of the wicked ensnare him.<br/> <span class="indent">&nbsp;&nbsp;</span>The cords of his sin hold him firmly.<br/></span>
  <span class="verse" title="Proverbs 5:23" id="Proverbs-5-23">He will die for lack of instruction.<br/> <span class="indent">&nbsp;&nbsp;</span>In the greatness of his folly, he will go astray.<br/></span>
</div>