<div class="chapter" id="Proverbs-006">
  <h2>Proverbs 6</h2>
  <span class="verse" title="Proverbs 6:1" id="Proverbs-6-1">My son, if you have become collateral for your neighbor,<br/> <span class="indent">&nbsp;&nbsp;</span>if you have struck your hands in pledge for a stranger;<br/></span>
  <span class="verse" title="Proverbs 6:2" id="Proverbs-6-2">You are trapped by the words of your mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>You are ensnared with the words of your mouth.<br/></span>
  <span class="verse" title="Proverbs 6:3" id="Proverbs-6-3">Do this now, my son, and deliver yourself,<br/> <span class="indent">&nbsp;&nbsp;</span>since you have come into the hand of your neighbor.<br/>   Go, humble yourself.<br/> <span class="indent">&nbsp;&nbsp;</span>Press your plea with your neighbor.<br/></span>
  <span class="verse" title="Proverbs 6:4" id="Proverbs-6-4">Give no sleep to your eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>nor slumber to your eyelids.<br/></span>
  <span class="verse" title="Proverbs 6:5" id="Proverbs-6-5">Free yourself, like a gazelle from the hand of the hunter,<br/> <span class="indent">&nbsp;&nbsp;</span>like a bird from the snare of the fowler.<br/>   <br/></span>
  <span class="verse" title="Proverbs 6:6" id="Proverbs-6-6">Go to the ant, you sluggard.<br/> <span class="indent">&nbsp;&nbsp;</span>Consider her ways, and be wise;<br/></span>
  <span class="verse" title="Proverbs 6:7" id="Proverbs-6-7">which having no chief, overseer, or ruler,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Proverbs 6:8" id="Proverbs-6-8">provides her bread in the summer,<br/> <span class="indent">&nbsp;&nbsp;</span>and gathers her food in the harvest.<br/></span>
  <span class="verse" title="Proverbs 6:9" id="Proverbs-6-9">How long will you sleep, sluggard?<br/> <span class="indent">&nbsp;&nbsp;</span>When will you arise out of your sleep?<br/></span>
  <span class="verse" title="Proverbs 6:10" id="Proverbs-6-10">A little sleep, a little slumber,<br/> <span class="indent">&nbsp;&nbsp;</span>a little folding of the hands to sleep:<br/></span>
  <span class="verse" title="Proverbs 6:11" id="Proverbs-6-11">so your poverty will come as a robber,<br/> <span class="indent">&nbsp;&nbsp;</span>and your scarcity as an armed man.<br/>   <br/></span>
  <span class="verse" title="Proverbs 6:12" id="Proverbs-6-12">A worthless person, a man of iniquity,<br/> <span class="indent">&nbsp;&nbsp;</span>is he who walks with a perverse mouth;<br/></span>
  <span class="verse" title="Proverbs 6:13" id="Proverbs-6-13">who winks with his eyes, who signals with his feet,<br/> <span class="indent">&nbsp;&nbsp;</span>who motions with his fingers;<br/></span>
  <span class="verse" title="Proverbs 6:14" id="Proverbs-6-14">in whose heart is perverseness,<br/> <span class="indent">&nbsp;&nbsp;</span>who devises evil continually,<br/> <span class="indent">&nbsp;&nbsp;</span>who always sows discord.<br/></span>
  <span class="verse" title="Proverbs 6:15" id="Proverbs-6-15">Therefore his calamity will come suddenly.<br/> <span class="indent">&nbsp;&nbsp;</span>He will be broken suddenly, and that without remedy.<br/>   <br/></span>
  <span class="verse" title="Proverbs 6:16" id="Proverbs-6-16">There are six things which Yahweh hates;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, seven which are an abomination to him:<br/></span>
  <span class="verse" title="Proverbs 6:17" id="Proverbs-6-17">haughty eyes, a lying tongue,<br/> <span class="indent">&nbsp;&nbsp;</span>hands that shed innocent blood;<br/></span>
  <span class="verse" title="Proverbs 6:18" id="Proverbs-6-18">a heart that devises wicked schemes,<br/> <span class="indent">&nbsp;&nbsp;</span>feet that are swift in running to mischief,<br/></span>
  <span class="verse" title="Proverbs 6:19" id="Proverbs-6-19">a false witness who utters lies,<br/> <span class="indent">&nbsp;&nbsp;</span>and he who sows discord among brothers.<br/>   <br/></span>
  <span class="verse" title="Proverbs 6:20" id="Proverbs-6-20">My son, keep your father&#8217;s commandment,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t forsake your mother&#8217;s teaching.<br/></span>
  <span class="verse" title="Proverbs 6:21" id="Proverbs-6-21">Bind them continually on your heart.<br/> <span class="indent">&nbsp;&nbsp;</span>Tie them around your neck.<br/></span>
  <span class="verse" title="Proverbs 6:22" id="Proverbs-6-22">When you walk, it will lead you.<br/> <span class="indent">&nbsp;&nbsp;</span>When you sleep, it will watch over you.<br/> <span class="indent">&nbsp;&nbsp;</span>When you awake, it will talk with you.<br/></span>
  <span class="verse" title="Proverbs 6:23" id="Proverbs-6-23">For the commandment is a lamp,<br/> <span class="indent">&nbsp;&nbsp;</span>and the law is light.<br/> <span class="indent">&nbsp;&nbsp;</span>Reproofs of instruction are the way of life,<br/></span>
  <span class="verse" title="Proverbs 6:24" id="Proverbs-6-24">to keep you from the immoral woman,<br/> <span class="indent">&nbsp;&nbsp;</span>from the flattery of the wayward wife&#8217;s tongue.<br/></span>
  <span class="verse" title="Proverbs 6:25" id="Proverbs-6-25">Don&#8217;t lust after her beauty in your heart,<br/> <span class="indent">&nbsp;&nbsp;</span>neither let her captivate you with her eyelids.<br/></span>
  <span class="verse" title="Proverbs 6:26" id="Proverbs-6-26">For a prostitute reduces you to a piece of bread.<br/> <span class="indent">&nbsp;&nbsp;</span>The adulteress hunts for your precious life.<br/></span>
  <span class="verse" title="Proverbs 6:27" id="Proverbs-6-27">Can a man scoop fire into his lap,<br/> <span class="indent">&nbsp;&nbsp;</span>and his clothes not be burned?<br/></span>
  <span class="verse" title="Proverbs 6:28" id="Proverbs-6-28">Or can one walk on hot coals,<br/> <span class="indent">&nbsp;&nbsp;</span>and his feet not be scorched?<br/></span>
  <span class="verse" title="Proverbs 6:29" id="Proverbs-6-29">So is he who goes in to his neighbor&#8217;s wife.<br/> <span class="indent">&nbsp;&nbsp;</span>Whoever touches her will not be unpunished.<br/></span>
  <span class="verse" title="Proverbs 6:30" id="Proverbs-6-30">Men don&#8217;t despise a thief,<br/> <span class="indent">&nbsp;&nbsp;</span>if he steals to satisfy himself when he is hungry:<br/></span>
  <span class="verse" title="Proverbs 6:31" id="Proverbs-6-31">but if he is found, he shall restore seven times.<br/> <span class="indent">&nbsp;&nbsp;</span>He shall give all the wealth of his house.<br/></span>
  <span class="verse" title="Proverbs 6:32" id="Proverbs-6-32">He who commits adultery with a woman is void of understanding.<br/> <span class="indent">&nbsp;&nbsp;</span>He who does it destroys his own soul.<br/></span>
  <span class="verse" title="Proverbs 6:33" id="Proverbs-6-33">He will get wounds and dishonor.<br/> <span class="indent">&nbsp;&nbsp;</span>His reproach will not be wiped away.<br/></span>
  <span class="verse" title="Proverbs 6:34" id="Proverbs-6-34">For jealousy arouses the fury of the husband.<br/> <span class="indent">&nbsp;&nbsp;</span>He won&#8217;t spare in the day of vengeance.<br/></span>
  <span class="verse" title="Proverbs 6:35" id="Proverbs-6-35">He won&#8217;t regard any ransom,<br/> <span class="indent">&nbsp;&nbsp;</span>neither will he rest content, though you give many gifts.<br/></span>
</div>