<div class="chapter" id="Proverbs-007">
  <h2>Proverbs 7</h2>
  <span class="verse" title="Proverbs 7:1" id="Proverbs-7-1">My son, keep my words.<br/> <span class="indent">&nbsp;&nbsp;</span>Lay up my commandments within you.<br/></span>
  <span class="verse" title="Proverbs 7:2" id="Proverbs-7-2">Keep my commandments and live!<br/> <span class="indent">&nbsp;&nbsp;</span>Guard my teaching as the apple of your eye.<br/></span>
  <span class="verse" title="Proverbs 7:3" id="Proverbs-7-3">Bind them on your fingers.<br/> <span class="indent">&nbsp;&nbsp;</span>Write them on the tablet of your heart.<br/></span>
  <span class="verse" title="Proverbs 7:4" id="Proverbs-7-4">Tell wisdom, &#8220;You are my sister.&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>Call understanding your relative,<br/></span>
  <span class="verse" title="Proverbs 7:5" id="Proverbs-7-5">that they may keep you from the strange woman,<br/> <span class="indent">&nbsp;&nbsp;</span>from the foreigner who flatters with her words.<br/></span>
  <span class="verse" title="Proverbs 7:6" id="Proverbs-7-6">For at the window of my house,<br/> <span class="indent">&nbsp;&nbsp;</span>I looked out through my lattice.<br/></span>
  <span class="verse" title="Proverbs 7:7" id="Proverbs-7-7">I saw among the simple ones.<br/> <span class="indent">&nbsp;&nbsp;</span>I discerned among the youths a young man void of understanding,<br/></span>
  <span class="verse" title="Proverbs 7:8" id="Proverbs-7-8">passing through the street near her corner,<br/> <span class="indent">&nbsp;&nbsp;</span>he went the way to her house,<br/></span>
  <span class="verse" title="Proverbs 7:9" id="Proverbs-7-9">in the twilight, in the evening of the day,<br/> <span class="indent">&nbsp;&nbsp;</span>in the middle of the night and in the darkness.<br/></span>
  <span class="verse" title="Proverbs 7:10" id="Proverbs-7-10">Behold, there a woman met him with the attire of a prostitute,<br/> <span class="indent">&nbsp;&nbsp;</span>and with crafty intent.<br/></span>
  <span class="verse" title="Proverbs 7:11" id="Proverbs-7-11">She is loud and defiant.<br/> <span class="indent">&nbsp;&nbsp;</span>Her feet don&#8217;t stay in her house.<br/></span>
  <span class="verse" title="Proverbs 7:12" id="Proverbs-7-12">Now she is in the streets, now in the squares,<br/> <span class="indent">&nbsp;&nbsp;</span>and lurking at every corner.<br/></span>
  <span class="verse" title="Proverbs 7:13" id="Proverbs-7-13">So she caught him, and kissed him.<br/> <span class="indent">&nbsp;&nbsp;</span>With an impudent face she said to him:<br/></span>
  <span class="verse" title="Proverbs 7:14" id="Proverbs-7-14">&#8220;Sacrifices of peace offerings are with me.<br/> <span class="indent">&nbsp;&nbsp;</span>This day I have paid my vows.<br/></span>
  <span class="verse" title="Proverbs 7:15" id="Proverbs-7-15">Therefore I came out to meet you,<br/> <span class="indent">&nbsp;&nbsp;</span>to diligently seek your face,<br/> <span class="indent">&nbsp;&nbsp;</span>and I have found you.<br/></span>
  <span class="verse" title="Proverbs 7:16" id="Proverbs-7-16">I have spread my couch with carpets of tapestry,<br/> <span class="indent">&nbsp;&nbsp;</span>with striped cloths of the yarn of Egypt.<br/></span>
  <span class="verse" title="Proverbs 7:17" id="Proverbs-7-17">I have perfumed my bed with myrrh, aloes, and cinnamon.<br/></span>
  <span class="verse" title="Proverbs 7:18" id="Proverbs-7-18">Come, let&#8217;s take our fill of loving until the morning.<br/> <span class="indent">&nbsp;&nbsp;</span>Let&#8217;s solace ourselves with loving.<br/></span>
  <span class="verse" title="Proverbs 7:19" id="Proverbs-7-19">For my husband isn&#8217;t at home.<br/> <span class="indent">&nbsp;&nbsp;</span>He has gone on a long journey.<br/></span>
  <span class="verse" title="Proverbs 7:20" id="Proverbs-7-20">He has taken a bag of money with him.<br/> <span class="indent">&nbsp;&nbsp;</span>He will come home at the full moon.&#8221;<br/></span>
  <span class="verse" title="Proverbs 7:21" id="Proverbs-7-21">With persuasive words, she led him astray.<br/> <span class="indent">&nbsp;&nbsp;</span>With the flattering of her lips, she seduced him.<br/></span>
  <span class="verse" title="Proverbs 7:22" id="Proverbs-7-22">He followed her immediately,<br/> <span class="indent">&nbsp;&nbsp;</span>as an ox goes to the slaughter,<br/> <span class="indent">&nbsp;&nbsp;</span>as a fool stepping into a noose.<br/></span>
  <span class="verse" title="Proverbs 7:23" id="Proverbs-7-23">Until an arrow strikes through his liver,<br/> <span class="indent">&nbsp;&nbsp;</span>as a bird hurries to the snare,<br/> <span class="indent">&nbsp;&nbsp;</span>and doesn&#8217;t know that it will cost his life.<br/></span>
  <span class="verse" title="Proverbs 7:24" id="Proverbs-7-24">Now therefore, sons, listen to me.<br/> <span class="indent">&nbsp;&nbsp;</span>Pay attention to the words of my mouth.<br/></span>
  <span class="verse" title="Proverbs 7:25" id="Proverbs-7-25">Don&#8217;t let your heart turn to her ways.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t go astray in her paths,<br/></span>
  <span class="verse" title="Proverbs 7:26" id="Proverbs-7-26">for she has thrown down many wounded.<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, all her slain are a mighty army.<br/></span>
  <span class="verse" title="Proverbs 7:27" id="Proverbs-7-27">Her house is the way to Sheol,<br/> <span class="indent">&nbsp;&nbsp;</span>going down to the rooms of death.<br/></span>
</div>