<div class="chapter" id="Proverbs-008">
  <h2>Proverbs 8</h2>
  <span class="verse" title="Proverbs 8:1" id="Proverbs-8-1">Doesn&#8217;t wisdom cry out?<br/> <span class="indent">&nbsp;&nbsp;</span>Doesn&#8217;t understanding raise her voice?<br/></span>
  <span class="verse" title="Proverbs 8:2" id="Proverbs-8-2">On the top of high places by the way,<br/> <span class="indent">&nbsp;&nbsp;</span>where the paths meet, she stands.<br/></span>
  <span class="verse" title="Proverbs 8:3" id="Proverbs-8-3">Beside the gates, at the entry of the city,<br/> <span class="indent">&nbsp;&nbsp;</span>at the entry doors, she cries aloud:<br/></span>
  <span class="verse" title="Proverbs 8:4" id="Proverbs-8-4">&#8220;To you men, I call!<br/> <span class="indent">&nbsp;&nbsp;</span>I send my voice to the sons of mankind.<br/></span>
  <span class="verse" title="Proverbs 8:5" id="Proverbs-8-5">You simple, understand prudence.<br/> <span class="indent">&nbsp;&nbsp;</span>You fools, be of an understanding heart.<br/></span>
  <span class="verse" title="Proverbs 8:6" id="Proverbs-8-6">Hear, for I will speak excellent things.<br/> <span class="indent">&nbsp;&nbsp;</span>The opening of my lips is for right things.<br/></span>
  <span class="verse" title="Proverbs 8:7" id="Proverbs-8-7">For my mouth speaks truth.<br/> <span class="indent">&nbsp;&nbsp;</span>Wickedness is an abomination to my lips.<br/></span>
  <span class="verse" title="Proverbs 8:8" id="Proverbs-8-8">All the words of my mouth are in righteousness.<br/> <span class="indent">&nbsp;&nbsp;</span>There is nothing crooked or perverse in them.<br/></span>
  <span class="verse" title="Proverbs 8:9" id="Proverbs-8-9">They are all plain to him who understands,<br/> <span class="indent">&nbsp;&nbsp;</span>right to those who find knowledge.<br/></span>
  <span class="verse" title="Proverbs 8:10" id="Proverbs-8-10">Receive my instruction rather than silver;<br/> <span class="indent">&nbsp;&nbsp;</span>knowledge rather than choice gold.<br/></span>
  <span class="verse" title="Proverbs 8:11" id="Proverbs-8-11">For wisdom is better than rubies.<br/> <span class="indent">&nbsp;&nbsp;</span>All the things that may be desired can&#8217;t be compared to it.<br/>   <br/></span>
  <span class="verse" title="Proverbs 8:12" id="Proverbs-8-12">&#8220;I, wisdom, have made prudence my dwelling.<br/> <span class="indent">&nbsp;&nbsp;</span>Find out knowledge and discretion.<br/></span>
  <span class="verse" title="Proverbs 8:13" id="Proverbs-8-13">The fear of Yahweh is to hate evil.<br/> <span class="indent">&nbsp;&nbsp;</span>I hate pride, arrogance, the evil way, and the perverse mouth.<br/></span>
  <span class="verse" title="Proverbs 8:14" id="Proverbs-8-14">Counsel and sound knowledge are mine.<br/> <span class="indent">&nbsp;&nbsp;</span>I have understanding and power.<br/></span>
  <span class="verse" title="Proverbs 8:15" id="Proverbs-8-15">By me kings reign,<br/> <span class="indent">&nbsp;&nbsp;</span>and princes decree justice.<br/></span>
  <span class="verse" title="Proverbs 8:16" id="Proverbs-8-16">By me princes rule;<br/> <span class="indent">&nbsp;&nbsp;</span>nobles, and all the righteous rulers of the earth.<br/></span>
  <span class="verse" title="Proverbs 8:17" id="Proverbs-8-17">I love those who love me.<br/> <span class="indent">&nbsp;&nbsp;</span>Those who seek me diligently will find me.<br/></span>
  <span class="verse" title="Proverbs 8:18" id="Proverbs-8-18">With me are riches, honor,<br/> <span class="indent">&nbsp;&nbsp;</span>enduring wealth, and prosperity.<br/></span>
  <span class="verse" title="Proverbs 8:19" id="Proverbs-8-19">My fruit is better than gold, yes, than fine gold;<br/> <span class="indent">&nbsp;&nbsp;</span>my yield than choice silver.<br/></span>
  <span class="verse" title="Proverbs 8:20" id="Proverbs-8-20">I walk in the way of righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>in the midst of the paths of justice;<br/></span>
  <span class="verse" title="Proverbs 8:21" id="Proverbs-8-21">That I may give wealth to those who love me.<br/> <span class="indent">&nbsp;&nbsp;</span>I fill their treasuries.<br/>   <br/></span>
  <span class="verse" title="Proverbs 8:22" id="Proverbs-8-22">&#8220;Yahweh possessed me in the beginning of his work,<br/> <span class="indent">&nbsp;&nbsp;</span>before his deeds of old.<br/></span>
  <span class="verse" title="Proverbs 8:23" id="Proverbs-8-23">I was set up from everlasting, from the beginning,<br/> <span class="indent">&nbsp;&nbsp;</span>before the earth existed.<br/></span>
  <span class="verse" title="Proverbs 8:24" id="Proverbs-8-24">When there were no depths, I was brought forth,<br/> <span class="indent">&nbsp;&nbsp;</span>when there were no springs abounding with water.<br/></span>
  <span class="verse" title="Proverbs 8:25" id="Proverbs-8-25">Before the mountains were settled in place,<br/> <span class="indent">&nbsp;&nbsp;</span>before the hills, I was brought forth;<br/></span>
  <span class="verse" title="Proverbs 8:26" id="Proverbs-8-26">while as yet he had not made the earth, nor the fields,<br/> <span class="indent">&nbsp;&nbsp;</span>nor the beginning of the dust of the world.<br/></span>
  <span class="verse" title="Proverbs 8:27" id="Proverbs-8-27">When he established the heavens, I was there;<br/> <span class="indent">&nbsp;&nbsp;</span>when he set a circle on the surface of the deep,<br/></span>
  <span class="verse" title="Proverbs 8:28" id="Proverbs-8-28">when he established the clouds above,<br/> <span class="indent">&nbsp;&nbsp;</span>when the springs of the deep became strong,<br/></span>
  <span class="verse" title="Proverbs 8:29" id="Proverbs-8-29">when he gave to the sea its boundary,<br/> <span class="indent">&nbsp;&nbsp;</span>that the waters should not violate his commandment,<br/> <span class="indent">&nbsp;&nbsp;</span>when he marked out the foundations of the earth;<br/></span>
  <span class="verse" title="Proverbs 8:30" id="Proverbs-8-30">then I was the craftsman by his side.<br/> <span class="indent">&nbsp;&nbsp;</span>I was a delight day by day,<br/> <span class="indent">&nbsp;&nbsp;</span>always rejoicing before him,<br/></span>
  <span class="verse" title="Proverbs 8:31" id="Proverbs-8-31">Rejoicing in his whole world.<br/> <span class="indent">&nbsp;&nbsp;</span>My delight was with the sons of men.<br/>   <br/></span>
  <span class="verse" title="Proverbs 8:32" id="Proverbs-8-32">&#8220;Now therefore, my sons, listen to me,<br/> <span class="indent">&nbsp;&nbsp;</span>for blessed are those who keep my ways.<br/></span>
  <span class="verse" title="Proverbs 8:33" id="Proverbs-8-33">Hear instruction, and be wise.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t refuse it.<br/></span>
  <span class="verse" title="Proverbs 8:34" id="Proverbs-8-34">Blessed is the man who hears me,<br/> <span class="indent">&nbsp;&nbsp;</span>watching daily at my gates,<br/> <span class="indent">&nbsp;&nbsp;</span>waiting at my door posts.<br/></span>
  <span class="verse" title="Proverbs 8:35" id="Proverbs-8-35">For whoever finds me, finds life,<br/> <span class="indent">&nbsp;&nbsp;</span>and will obtain favor from Yahweh.<br/></span>
  <span class="verse" title="Proverbs 8:36" id="Proverbs-8-36">But he who sins against me wrongs his own soul.<br/> <span class="indent">&nbsp;&nbsp;</span>All those who hate me love death.&#8221;<br/></span>
</div>