<div class="chapter" id="Proverbs-009">
  <h2>Proverbs 9</h2>
  <span class="verse" title="Proverbs 9:1" id="Proverbs-9-1">Wisdom has built her house.<br/> <span class="indent">&nbsp;&nbsp;</span>She has carved out her seven pillars.<br/></span>
  <span class="verse" title="Proverbs 9:2" id="Proverbs-9-2">She has prepared her meat.<br/> <span class="indent">&nbsp;&nbsp;</span>She has mixed her wine.<br/> <span class="indent">&nbsp;&nbsp;</span>She has also set her table.<br/></span>
  <span class="verse" title="Proverbs 9:3" id="Proverbs-9-3">She has sent out her maidens.<br/> <span class="indent">&nbsp;&nbsp;</span>She cries from the highest places of the city:<br/></span>
  <span class="verse" title="Proverbs 9:4" id="Proverbs-9-4">&#8220;Whoever is simple, let him turn in here!&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>As for him who is void of understanding, she says to him,<br/></span>
  <span class="verse" title="Proverbs 9:5" id="Proverbs-9-5">&#8220;Come, eat some of my bread,<br/> <span class="indent">&nbsp;&nbsp;</span>Drink some of the wine which I have mixed!<br/></span>
  <span class="verse" title="Proverbs 9:6" id="Proverbs-9-6">Leave your simple ways, and live.<br/> <span class="indent">&nbsp;&nbsp;</span>Walk in the way of understanding.&#8221;<br/>   <br/></span>
  <span class="verse" title="Proverbs 9:7" id="Proverbs-9-7">He who corrects a mocker invites insult.<br/> <span class="indent">&nbsp;&nbsp;</span>He who reproves a wicked man invites abuse.<br/></span>
  <span class="verse" title="Proverbs 9:8" id="Proverbs-9-8">Don&#8217;t reprove a scoffer, lest he hate you.<br/> <span class="indent">&nbsp;&nbsp;</span>Reprove a wise man, and he will love you.<br/></span>
  <span class="verse" title="Proverbs 9:9" id="Proverbs-9-9">Instruct a wise man, and he will be still wiser.<br/> <span class="indent">&nbsp;&nbsp;</span>Teach a righteous man, and he will increase in learning.<br/></span>
  <span class="verse" title="Proverbs 9:10" id="Proverbs-9-10">The fear of Yahweh is the beginning of wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>The knowledge of the Holy One is understanding.<br/></span>
  <span class="verse" title="Proverbs 9:11" id="Proverbs-9-11">For by me your days will be multiplied.<br/> <span class="indent">&nbsp;&nbsp;</span>The years of your life will be increased.<br/></span>
  <span class="verse" title="Proverbs 9:12" id="Proverbs-9-12">If you are wise, you are wise for yourself.<br/> <span class="indent">&nbsp;&nbsp;</span>If you mock, you alone will bear it.<br/>   <br/></span>
  <span class="verse" title="Proverbs 9:13" id="Proverbs-9-13">The foolish woman is loud,<br/> <span class="indent">&nbsp;&nbsp;</span>Undisciplined, and knows nothing.<br/></span>
  <span class="verse" title="Proverbs 9:14" id="Proverbs-9-14">She sits at the door of her house,<br/> <span class="indent">&nbsp;&nbsp;</span>on a seat in the high places of the city,<br/></span>
  <span class="verse" title="Proverbs 9:15" id="Proverbs-9-15">To call to those who pass by,<br/> <span class="indent">&nbsp;&nbsp;</span>who go straight on their ways,<br/></span>
  <span class="verse" title="Proverbs 9:16" id="Proverbs-9-16">&#8220;Whoever is simple, let him turn in here.&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>as for him who is void of understanding, she says to him,<br/></span>
  <span class="verse" title="Proverbs 9:17" id="Proverbs-9-17">&#8220;Stolen water is sweet.<br/> <span class="indent">&nbsp;&nbsp;</span>Food eaten in secret is pleasant.&#8221;<br/></span>
  <span class="verse" title="Proverbs 9:18" id="Proverbs-9-18">But he doesn&#8217;t know that the dead are there,<br/> <span class="indent">&nbsp;&nbsp;</span>that her guests are in the depths of Sheol.<br/></span>
</div>