<div class="chapter" id="Proverbs-010">
  <h2>Proverbs 10</h2>
  <span class="verse" title="Proverbs 10:1" id="Proverbs-10-1">The proverbs of Solomon.  A wise son makes a glad father;<br/> <span class="indent">&nbsp;&nbsp;</span>but a foolish son brings grief to his mother.<br/></span>
  <span class="verse" title="Proverbs 10:2" id="Proverbs-10-2">Treasures of wickedness profit nothing,<br/> <span class="indent">&nbsp;&nbsp;</span>but righteousness delivers from death.<br/></span>
  <span class="verse" title="Proverbs 10:3" id="Proverbs-10-3">Yahweh will not allow the soul of the righteous to go hungry,<br/> <span class="indent">&nbsp;&nbsp;</span>but he thrusts away the desire of the wicked.<br/></span>
  <span class="verse" title="Proverbs 10:4" id="Proverbs-10-4">He becomes poor who works with a lazy hand,<br/> <span class="indent">&nbsp;&nbsp;</span>but the hand of the diligent brings wealth.<br/></span>
  <span class="verse" title="Proverbs 10:5" id="Proverbs-10-5">He who gathers in summer is a wise son,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who sleeps during the harvest is a son who causes shame.<br/></span>
  <span class="verse" title="Proverbs 10:6" id="Proverbs-10-6">Blessings are on the head of the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>but violence covers the mouth of the wicked.<br/></span>
  <span class="verse" title="Proverbs 10:7" id="Proverbs-10-7">The memory of the righteous is blessed,<br/> <span class="indent">&nbsp;&nbsp;</span>but the name of the wicked will rot.<br/></span>
  <span class="verse" title="Proverbs 10:8" id="Proverbs-10-8">The wise in heart accept commandments,<br/> <span class="indent">&nbsp;&nbsp;</span>but a chattering fool will fall.<br/></span>
  <span class="verse" title="Proverbs 10:9" id="Proverbs-10-9">He who walks blamelessly walks surely,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who perverts his ways will be found out.<br/></span>
  <span class="verse" title="Proverbs 10:10" id="Proverbs-10-10">One winking with the eye causes sorrow,<br/> <span class="indent">&nbsp;&nbsp;</span>but a chattering fool will fall.<br/></span>
  <span class="verse" title="Proverbs 10:11" id="Proverbs-10-11">The mouth of the righteous is a spring of life,<br/> <span class="indent">&nbsp;&nbsp;</span>but violence covers the mouth of the wicked.<br/></span>
  <span class="verse" title="Proverbs 10:12" id="Proverbs-10-12">Hatred stirs up strife,<br/> <span class="indent">&nbsp;&nbsp;</span>but love covers all wrongs.<br/></span>
  <span class="verse" title="Proverbs 10:13" id="Proverbs-10-13">Wisdom is found on the lips of him who has discernment,<br/> <span class="indent">&nbsp;&nbsp;</span>but a rod is for the back of him who is void of understanding.<br/></span>
  <span class="verse" title="Proverbs 10:14" id="Proverbs-10-14">Wise men lay up knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>but the mouth of the foolish is near ruin.<br/></span>
  <span class="verse" title="Proverbs 10:15" id="Proverbs-10-15">The rich man&#8217;s wealth is his strong city.<br/> <span class="indent">&nbsp;&nbsp;</span>The destruction of the poor is their poverty.<br/></span>
  <span class="verse" title="Proverbs 10:16" id="Proverbs-10-16">The labor of the righteous leads to life.<br/> <span class="indent">&nbsp;&nbsp;</span>The increase of the wicked leads to sin.<br/></span>
  <span class="verse" title="Proverbs 10:17" id="Proverbs-10-17">He is in the way of life who heeds correction,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who forsakes reproof leads others astray.<br/></span>
  <span class="verse" title="Proverbs 10:18" id="Proverbs-10-18">He who hides hatred has lying lips.<br/> <span class="indent">&nbsp;&nbsp;</span>He who utters a slander is a fool.<br/></span>
  <span class="verse" title="Proverbs 10:19" id="Proverbs-10-19">In the multitude of words there is no lack of disobedience,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who restrains his lips does wisely.<br/></span>
  <span class="verse" title="Proverbs 10:20" id="Proverbs-10-20">The tongue of the righteous is like choice silver.<br/> <span class="indent">&nbsp;&nbsp;</span>The heart of the wicked is of little worth.<br/></span>
  <span class="verse" title="Proverbs 10:21" id="Proverbs-10-21">The lips of the righteous feed many,<br/> <span class="indent">&nbsp;&nbsp;</span>but the foolish die for lack of understanding.<br/></span>
  <span class="verse" title="Proverbs 10:22" id="Proverbs-10-22">Yahweh&#8217;s blessing brings wealth,<br/> <span class="indent">&nbsp;&nbsp;</span>and he adds no trouble to it.<br/></span>
  <span class="verse" title="Proverbs 10:23" id="Proverbs-10-23">It is a fool&#8217;s pleasure to do wickedness,<br/> <span class="indent">&nbsp;&nbsp;</span>but wisdom is a man of understanding&#8217;s pleasure.<br/></span>
  <span class="verse" title="Proverbs 10:24" id="Proverbs-10-24">What the wicked fear, will overtake them,<br/> <span class="indent">&nbsp;&nbsp;</span>but the desire of the righteous will be granted.<br/></span>
  <span class="verse" title="Proverbs 10:25" id="Proverbs-10-25">When the whirlwind passes, the wicked is no more;<br/> <span class="indent">&nbsp;&nbsp;</span>but the righteous stand firm forever.<br/></span>
  <span class="verse" title="Proverbs 10:26" id="Proverbs-10-26">As vinegar to the teeth, and as smoke to the eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>so is the sluggard to those who send him.<br/></span>
  <span class="verse" title="Proverbs 10:27" id="Proverbs-10-27">The fear of Yahweh prolongs days,<br/> <span class="indent">&nbsp;&nbsp;</span>but the years of the wicked shall be shortened.<br/></span>
  <span class="verse" title="Proverbs 10:28" id="Proverbs-10-28">The prospect of the righteous is joy,<br/> <span class="indent">&nbsp;&nbsp;</span>but the hope of the wicked will perish.<br/></span>
  <span class="verse" title="Proverbs 10:29" id="Proverbs-10-29">The way of Yahweh is a stronghold to the upright,<br/> <span class="indent">&nbsp;&nbsp;</span>but it is a destruction to the workers of iniquity.<br/></span>
  <span class="verse" title="Proverbs 10:30" id="Proverbs-10-30">The righteous will never be removed,<br/> <span class="indent">&nbsp;&nbsp;</span>but the wicked will not dwell in the land.<br/></span>
  <span class="verse" title="Proverbs 10:31" id="Proverbs-10-31">The mouth of the righteous brings forth wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>but the perverse tongue will be cut off.<br/></span>
  <span class="verse" title="Proverbs 10:32" id="Proverbs-10-32">The lips of the righteous know what is acceptable,<br/> <span class="indent">&nbsp;&nbsp;</span>but the mouth of the wicked is perverse.<br/></span>
</div>