<div class="chapter" id="Proverbs-011">
  <h2>Proverbs 11</h2>
  <span class="verse" title="Proverbs 11:1" id="Proverbs-11-1">A false balance is an abomination to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>but accurate weights are his delight.<br/></span>
  <span class="verse" title="Proverbs 11:2" id="Proverbs-11-2">When pride comes, then comes shame,<br/> <span class="indent">&nbsp;&nbsp;</span>but with humility comes wisdom.<br/></span>
  <span class="verse" title="Proverbs 11:3" id="Proverbs-11-3">The integrity of the upright shall guide them,<br/> <span class="indent">&nbsp;&nbsp;</span>but the perverseness of the treacherous shall destroy them.<br/></span>
  <span class="verse" title="Proverbs 11:4" id="Proverbs-11-4">Riches don&#8217;t profit in the day of wrath,<br/> <span class="indent">&nbsp;&nbsp;</span>but righteousness delivers from death.<br/></span>
  <span class="verse" title="Proverbs 11:5" id="Proverbs-11-5">The righteousness of the blameless will direct his way,<br/> <span class="indent">&nbsp;&nbsp;</span>but the wicked shall fall by his own wickedness.<br/></span>
  <span class="verse" title="Proverbs 11:6" id="Proverbs-11-6">The righteousness of the upright shall deliver them,<br/> <span class="indent">&nbsp;&nbsp;</span>but the unfaithful will be trapped by evil desires.<br/></span>
  <span class="verse" title="Proverbs 11:7" id="Proverbs-11-7">When a wicked man dies, hope perishes,<br/> <span class="indent">&nbsp;&nbsp;</span>and expectation of power comes to nothing.<br/></span>
  <span class="verse" title="Proverbs 11:8" id="Proverbs-11-8">A righteous person is delivered out of trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>and the wicked takes his place.<br/></span>
  <span class="verse" title="Proverbs 11:9" id="Proverbs-11-9">With his mouth the godless man destroys his neighbor,<br/> <span class="indent">&nbsp;&nbsp;</span>but the righteous will be delivered through knowledge.<br/></span>
  <span class="verse" title="Proverbs 11:10" id="Proverbs-11-10">When it goes well with the righteous, the city rejoices.<br/> <span class="indent">&nbsp;&nbsp;</span>When the wicked perish, there is shouting.<br/></span>
  <span class="verse" title="Proverbs 11:11" id="Proverbs-11-11">By the blessing of the upright, the city is exalted,<br/> <span class="indent">&nbsp;&nbsp;</span>but it is overthrown by the mouth of the wicked.<br/></span>
  <span class="verse" title="Proverbs 11:12" id="Proverbs-11-12">One who despises his neighbor is void of wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>but a man of understanding holds his peace.<br/></span>
  <span class="verse" title="Proverbs 11:13" id="Proverbs-11-13">One who brings gossip betrays a confidence,<br/> <span class="indent">&nbsp;&nbsp;</span>but one who is of a trustworthy spirit is one who keeps a secret.<br/></span>
  <span class="verse" title="Proverbs 11:14" id="Proverbs-11-14">Where there is no wise guidance, the nation falls,<br/> <span class="indent">&nbsp;&nbsp;</span>but in the multitude of counselors there is victory.<br/></span>
  <span class="verse" title="Proverbs 11:15" id="Proverbs-11-15">He who is collateral for a stranger will suffer for it,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who refuses pledges of collateral is secure.<br/></span>
  <span class="verse" title="Proverbs 11:16" id="Proverbs-11-16">A gracious woman obtains honor,<br/> <span class="indent">&nbsp;&nbsp;</span>but violent men obtain riches.<br/></span>
  <span class="verse" title="Proverbs 11:17" id="Proverbs-11-17">The merciful man does good to his own soul,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who is cruel troubles his own flesh.<br/></span>
  <span class="verse" title="Proverbs 11:18" id="Proverbs-11-18">Wicked people earn deceitful wages,<br/> <span class="indent">&nbsp;&nbsp;</span>but one who sows righteousness reaps a sure reward.<br/></span>
  <span class="verse" title="Proverbs 11:19" id="Proverbs-11-19">He who is truly righteous gets life.<br/> <span class="indent">&nbsp;&nbsp;</span>He who pursues evil gets death.<br/></span>
  <span class="verse" title="Proverbs 11:20" id="Proverbs-11-20">Those who are perverse in heart are an abomination to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>but those whose ways are blameless are his delight.<br/></span>
  <span class="verse" title="Proverbs 11:21" id="Proverbs-11-21">Most certainly, the evil man will not be unpunished,<br/> <span class="indent">&nbsp;&nbsp;</span>but the seed of the righteous will be delivered.<br/></span>
  <span class="verse" title="Proverbs 11:22" id="Proverbs-11-22">Like a gold ring in a pig&#8217;s snout,<br/> <span class="indent">&nbsp;&nbsp;</span>is a beautiful woman who lacks discretion.<br/></span>
  <span class="verse" title="Proverbs 11:23" id="Proverbs-11-23">The desire of the righteous is only good.<br/> <span class="indent">&nbsp;&nbsp;</span>The expectation of the wicked is wrath.<br/></span>
  <span class="verse" title="Proverbs 11:24" id="Proverbs-11-24">There is one who scatters, and increases yet more.<br/> <span class="indent">&nbsp;&nbsp;</span>There is one who withholds more than is appropriate, but gains poverty.<br/></span>
  <span class="verse" title="Proverbs 11:25" id="Proverbs-11-25">The liberal soul shall be made fat.<br/> <span class="indent">&nbsp;&nbsp;</span>He who waters shall be watered also himself.<br/></span>
  <span class="verse" title="Proverbs 11:26" id="Proverbs-11-26">People curse someone who withholds grain,<br/> <span class="indent">&nbsp;&nbsp;</span>but blessing will be on the head of him who sells it.<br/></span>
  <span class="verse" title="Proverbs 11:27" id="Proverbs-11-27">He who diligently seeks good seeks favor,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who searches after evil, it shall come to him.<br/></span>
  <span class="verse" title="Proverbs 11:28" id="Proverbs-11-28">He who trusts in his riches will fall,<br/> <span class="indent">&nbsp;&nbsp;</span>but the righteous shall flourish as the green leaf.<br/></span>
  <span class="verse" title="Proverbs 11:29" id="Proverbs-11-29">He who troubles his own house shall inherit the wind.<br/> <span class="indent">&nbsp;&nbsp;</span>The foolish shall be servant to the wise of heart.<br/></span>
  <span class="verse" title="Proverbs 11:30" id="Proverbs-11-30">The fruit of the righteous is a tree of life.<br/> <span class="indent">&nbsp;&nbsp;</span>He who is wise wins souls.<br/></span>
  <span class="verse" title="Proverbs 11:31" id="Proverbs-11-31">Behold, the righteous shall be repaid in the earth;<br/> <span class="indent">&nbsp;&nbsp;</span>how much more the wicked and the sinner!<br/></span>
</div>