<div class="chapter" id="Proverbs-012">
  <h2>Proverbs 12</h2>
  <span class="verse" title="Proverbs 12:1" id="Proverbs-12-1">Whoever loves correction loves knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who hates reproof is stupid.<br/></span>
  <span class="verse" title="Proverbs 12:2" id="Proverbs-12-2">A good man shall obtain favor from Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>but he will condemn a man of wicked devices.<br/></span>
  <span class="verse" title="Proverbs 12:3" id="Proverbs-12-3">A man shall not be established by wickedness,<br/> <span class="indent">&nbsp;&nbsp;</span>but the root of the righteous shall not be moved.<br/></span>
  <span class="verse" title="Proverbs 12:4" id="Proverbs-12-4">A worthy woman is the crown of her husband,<br/> <span class="indent">&nbsp;&nbsp;</span>but a disgraceful wife is as rottenness in his bones.<br/></span>
  <span class="verse" title="Proverbs 12:5" id="Proverbs-12-5">The thoughts of the righteous are just,<br/> <span class="indent">&nbsp;&nbsp;</span>but the advice of the wicked is deceitful.<br/></span>
  <span class="verse" title="Proverbs 12:6" id="Proverbs-12-6">The words of the wicked are about lying in wait for blood,<br/> <span class="indent">&nbsp;&nbsp;</span>but the speech of the upright rescues them.<br/></span>
  <span class="verse" title="Proverbs 12:7" id="Proverbs-12-7">The wicked are overthrown, and are no more,<br/> <span class="indent">&nbsp;&nbsp;</span>but the house of the righteous shall stand.<br/></span>
  <span class="verse" title="Proverbs 12:8" id="Proverbs-12-8">A man shall be commended according to his wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who has a warped mind shall be despised.<br/></span>
  <span class="verse" title="Proverbs 12:9" id="Proverbs-12-9">Better is he who is lightly esteemed, and has a servant,<br/> <span class="indent">&nbsp;&nbsp;</span>than he who honors himself, and lacks bread.<br/></span>
  <span class="verse" title="Proverbs 12:10" id="Proverbs-12-10">A righteous man respects the life of his animal,<br/> <span class="indent">&nbsp;&nbsp;</span>but the tender mercies of the wicked are cruel.<br/></span>
  <span class="verse" title="Proverbs 12:11" id="Proverbs-12-11">He who tills his land shall have plenty of bread,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who chases fantasies is void of understanding.<br/></span>
  <span class="verse" title="Proverbs 12:12" id="Proverbs-12-12">The wicked desires the plunder of evil men,<br/> <span class="indent">&nbsp;&nbsp;</span>but the root of the righteous flourishes.<br/></span>
  <span class="verse" title="Proverbs 12:13" id="Proverbs-12-13">An evil man is trapped by sinfulness of lips,<br/> <span class="indent">&nbsp;&nbsp;</span>but the righteous shall come out of trouble.<br/></span>
  <span class="verse" title="Proverbs 12:14" id="Proverbs-12-14">A man shall be satisfied with good by the fruit of his mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>The work of a man&#8217;s hands shall be rewarded to him.<br/></span>
  <span class="verse" title="Proverbs 12:15" id="Proverbs-12-15">The way of a fool is right in his own eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who is wise listens to counsel.<br/></span>
  <span class="verse" title="Proverbs 12:16" id="Proverbs-12-16">A fool shows his annoyance the same day,<br/> <span class="indent">&nbsp;&nbsp;</span>but one who overlooks an insult is prudent.<br/></span>
  <span class="verse" title="Proverbs 12:17" id="Proverbs-12-17">He who is truthful testifies honestly,<br/> <span class="indent">&nbsp;&nbsp;</span>but a false witness lies.<br/></span>
  <span class="verse" title="Proverbs 12:18" id="Proverbs-12-18">There is one who speaks rashly like the piercing of a sword,<br/> <span class="indent">&nbsp;&nbsp;</span>but the tongue of the wise heals.<br/></span>
  <span class="verse" title="Proverbs 12:19" id="Proverbs-12-19">Truth&#8217;s lips will be established forever,<br/> <span class="indent">&nbsp;&nbsp;</span>but a lying tongue is only momentary.<br/></span>
  <span class="verse" title="Proverbs 12:20" id="Proverbs-12-20">Deceit is in the heart of those who plot evil,<br/> <span class="indent">&nbsp;&nbsp;</span>but joy comes to the promoters of peace.<br/></span>
  <span class="verse" title="Proverbs 12:21" id="Proverbs-12-21">No mischief shall happen to the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>but the wicked shall be filled with evil.<br/></span>
  <span class="verse" title="Proverbs 12:22" id="Proverbs-12-22">Lying lips are an abomination to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>but those who do the truth are his delight.<br/></span>
  <span class="verse" title="Proverbs 12:23" id="Proverbs-12-23">A prudent man keeps his knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>but the hearts of fools proclaim foolishness.<br/></span>
  <span class="verse" title="Proverbs 12:24" id="Proverbs-12-24">The hands of the diligent ones shall rule,<br/> <span class="indent">&nbsp;&nbsp;</span>but laziness ends in slave labor.<br/></span>
  <span class="verse" title="Proverbs 12:25" id="Proverbs-12-25">Anxiety in a man&#8217;s heart weighs it down,<br/> <span class="indent">&nbsp;&nbsp;</span>but a kind word makes it glad.<br/></span>
  <span class="verse" title="Proverbs 12:26" id="Proverbs-12-26">A righteous person is cautious in friendship,<br/> <span class="indent">&nbsp;&nbsp;</span>but the way of the wicked leads them astray.<br/></span>
  <span class="verse" title="Proverbs 12:27" id="Proverbs-12-27">The slothful man doesn&#8217;t roast his game,<br/> <span class="indent">&nbsp;&nbsp;</span>but the possessions of diligent men are prized.<br/></span>
  <span class="verse" title="Proverbs 12:28" id="Proverbs-12-28">In the way of righteousness is life;<br/> <span class="indent">&nbsp;&nbsp;</span>in its path there is no death.<br/></span>
</div>