<div class="chapter" id="Proverbs-013">
  <h2>Proverbs 13</h2>
  <span class="verse" title="Proverbs 13:1" id="Proverbs-13-1">A wise son listens to his father&#8217;s instruction,<br/> <span class="indent">&nbsp;&nbsp;</span>but a scoffer doesn&#8217;t listen to rebuke.<br/></span>
  <span class="verse" title="Proverbs 13:2" id="Proverbs-13-2">By the fruit of his lips, a man enjoys good things;<br/> <span class="indent">&nbsp;&nbsp;</span>but the unfaithful crave violence.<br/></span>
  <span class="verse" title="Proverbs 13:3" id="Proverbs-13-3">He who guards his mouth guards his soul.<br/> <span class="indent">&nbsp;&nbsp;</span>One who opens wide his lips comes to ruin.<br/></span>
  <span class="verse" title="Proverbs 13:4" id="Proverbs-13-4">The soul of the sluggard desires, and has nothing,<br/> <span class="indent">&nbsp;&nbsp;</span>but the desire of the diligent shall be fully satisfied.<br/></span>
  <span class="verse" title="Proverbs 13:5" id="Proverbs-13-5">A righteous man hates lies,<br/> <span class="indent">&nbsp;&nbsp;</span>but a wicked man brings shame and disgrace.<br/></span>
  <span class="verse" title="Proverbs 13:6" id="Proverbs-13-6">Righteousness guards the way of integrity,<br/> <span class="indent">&nbsp;&nbsp;</span>but wickedness overthrows the sinner.<br/></span>
  <span class="verse" title="Proverbs 13:7" id="Proverbs-13-7">There are some who pretend to be rich, yet have nothing.<br/> <span class="indent">&nbsp;&nbsp;</span>There are some who pretend to be poor, yet have great wealth.<br/></span>
  <span class="verse" title="Proverbs 13:8" id="Proverbs-13-8">The ransom of a man&#8217;s life is his riches,<br/> <span class="indent">&nbsp;&nbsp;</span>but the poor hear no threats.<br/></span>
  <span class="verse" title="Proverbs 13:9" id="Proverbs-13-9">The light of the righteous shines brightly,<br/> <span class="indent">&nbsp;&nbsp;</span>but the lamp of the wicked is snuffed out.<br/></span>
  <span class="verse" title="Proverbs 13:10" id="Proverbs-13-10">Pride only breeds quarrels,<br/> <span class="indent">&nbsp;&nbsp;</span>but with ones who take advice is wisdom.<br/></span>
  <span class="verse" title="Proverbs 13:11" id="Proverbs-13-11">Wealth gained dishonestly dwindles away,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who gathers by hand makes it grow.<br/></span>
  <span class="verse" title="Proverbs 13:12" id="Proverbs-13-12">Hope deferred makes the heart sick,<br/> <span class="indent">&nbsp;&nbsp;</span>but when longing is fulfilled, it is a tree of life.<br/></span>
  <span class="verse" title="Proverbs 13:13" id="Proverbs-13-13">Whoever despises instruction will pay for it,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who respects a command will be rewarded.<br/></span>
  <span class="verse" title="Proverbs 13:14" id="Proverbs-13-14">The teaching of the wise is a spring of life,<br/> <span class="indent">&nbsp;&nbsp;</span>to turn from the snares of death.<br/></span>
  <span class="verse" title="Proverbs 13:15" id="Proverbs-13-15">Good understanding wins favor;<br/> <span class="indent">&nbsp;&nbsp;</span>but the way of the unfaithful is hard.<br/></span>
  <span class="verse" title="Proverbs 13:16" id="Proverbs-13-16">Every prudent man acts from knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>but a fool exposes folly.<br/></span>
  <span class="verse" title="Proverbs 13:17" id="Proverbs-13-17">A wicked messenger falls into trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>but a trustworthy envoy gains healing.<br/></span>
  <span class="verse" title="Proverbs 13:18" id="Proverbs-13-18">Poverty and shame come to him who refuses discipline,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who heeds correction shall be honored.<br/></span>
  <span class="verse" title="Proverbs 13:19" id="Proverbs-13-19">Longing fulfilled is sweet to the soul,<br/> <span class="indent">&nbsp;&nbsp;</span>but fools detest turning from evil.<br/></span>
  <span class="verse" title="Proverbs 13:20" id="Proverbs-13-20">One who walks with wise men grows wise,<br/> <span class="indent">&nbsp;&nbsp;</span>but a companion of fools suffers harm.<br/></span>
  <span class="verse" title="Proverbs 13:21" id="Proverbs-13-21">Misfortune pursues sinners,<br/> <span class="indent">&nbsp;&nbsp;</span>but prosperity rewards the righteous.<br/></span>
  <span class="verse" title="Proverbs 13:22" id="Proverbs-13-22">A good man leaves an inheritance to his children&#8217;s children,<br/> <span class="indent">&nbsp;&nbsp;</span>but the wealth of the sinner is stored for the righteous.<br/></span>
  <span class="verse" title="Proverbs 13:23" id="Proverbs-13-23">An abundance of food is in poor people&#8217;s fields,<br/> <span class="indent">&nbsp;&nbsp;</span>but injustice sweeps it away.<br/></span>
  <span class="verse" title="Proverbs 13:24" id="Proverbs-13-24">One who spares the rod hates his son,<br/> <span class="indent">&nbsp;&nbsp;</span>but one who loves him is careful to discipline him.<br/></span>
  <span class="verse" title="Proverbs 13:25" id="Proverbs-13-25">The righteous one eats to the satisfying of his soul,<br/> <span class="indent">&nbsp;&nbsp;</span>but the belly of the wicked goes hungry.<br/></span>
</div>