<div class="chapter" id="Proverbs-014">
  <h2>Proverbs 14</h2>
  <span class="verse" title="Proverbs 14:1" id="Proverbs-14-1">Every wise woman builds her house,<br/> <span class="indent">&nbsp;&nbsp;</span>but the foolish one tears it down with her own hands.<br/></span>
  <span class="verse" title="Proverbs 14:2" id="Proverbs-14-2">He who walks in his uprightness fears Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who is perverse in his ways despises him.<br/></span>
  <span class="verse" title="Proverbs 14:3" id="Proverbs-14-3">The fool&#8217;s talk brings a rod to his back,<br/> <span class="indent">&nbsp;&nbsp;</span>but the lips of the wise protect them.<br/></span>
  <span class="verse" title="Proverbs 14:4" id="Proverbs-14-4">Where no oxen are, the crib is clean,<br/> <span class="indent">&nbsp;&nbsp;</span>but much increase is by the strength of the ox.<br/></span>
  <span class="verse" title="Proverbs 14:5" id="Proverbs-14-5">A truthful witness will not lie,<br/> <span class="indent">&nbsp;&nbsp;</span>but a false witness pours out lies.<br/></span>
  <span class="verse" title="Proverbs 14:6" id="Proverbs-14-6">A scoffer seeks wisdom, and doesn&#8217;t find it,<br/> <span class="indent">&nbsp;&nbsp;</span>but knowledge comes easily to a discerning person.<br/></span>
  <span class="verse" title="Proverbs 14:7" id="Proverbs-14-7">Stay away from a foolish man,<br/> <span class="indent">&nbsp;&nbsp;</span>for you won&#8217;t find knowledge on his lips.<br/></span>
  <span class="verse" title="Proverbs 14:8" id="Proverbs-14-8">The wisdom of the prudent is to think about his way,<br/> <span class="indent">&nbsp;&nbsp;</span>but the folly of fools is deceit.<br/></span>
  <span class="verse" title="Proverbs 14:9" id="Proverbs-14-9">Fools mock at making atonement for sins,<br/> <span class="indent">&nbsp;&nbsp;</span>but among the upright there is good will.<br/></span>
  <span class="verse" title="Proverbs 14:10" id="Proverbs-14-10">The heart knows its own bitterness and joy;<br/> <span class="indent">&nbsp;&nbsp;</span>he will not share these with a stranger.<br/></span>
  <span class="verse" title="Proverbs 14:11" id="Proverbs-14-11">The house of the wicked will be overthrown,<br/> <span class="indent">&nbsp;&nbsp;</span>but the tent of the upright will flourish.<br/></span>
  <span class="verse" title="Proverbs 14:12" id="Proverbs-14-12">There is a way which seems right to a man,<br/> <span class="indent">&nbsp;&nbsp;</span>but in the end it leads to death.<br/></span>
  <span class="verse" title="Proverbs 14:13" id="Proverbs-14-13">Even in laughter the heart may be sorrowful,<br/> <span class="indent">&nbsp;&nbsp;</span>and mirth may end in heaviness.<br/></span>
  <span class="verse" title="Proverbs 14:14" id="Proverbs-14-14">The unfaithful will be repaid for his own ways;<br/> <span class="indent">&nbsp;&nbsp;</span>likewise a good man will be rewarded for his ways.<br/></span>
  <span class="verse" title="Proverbs 14:15" id="Proverbs-14-15">A simple man believes everything,<br/> <span class="indent">&nbsp;&nbsp;</span>but the prudent man carefully considers his ways.<br/></span>
  <span class="verse" title="Proverbs 14:16" id="Proverbs-14-16">A wise man fears, and shuns evil,<br/> <span class="indent">&nbsp;&nbsp;</span>but the fool is hotheaded and reckless.<br/></span>
  <span class="verse" title="Proverbs 14:17" id="Proverbs-14-17">He who is quick to become angry will commit folly,<br/> <span class="indent">&nbsp;&nbsp;</span>and a crafty man is hated.<br/></span>
  <span class="verse" title="Proverbs 14:18" id="Proverbs-14-18">The simple inherit folly,<br/> <span class="indent">&nbsp;&nbsp;</span>but the prudent are crowned with knowledge.<br/></span>
  <span class="verse" title="Proverbs 14:19" id="Proverbs-14-19">The evil bow down before the good,<br/> <span class="indent">&nbsp;&nbsp;</span>and the wicked at the gates of the righteous.<br/></span>
  <span class="verse" title="Proverbs 14:20" id="Proverbs-14-20">The poor person is shunned even by his own neighbor,<br/> <span class="indent">&nbsp;&nbsp;</span>but the rich person has many friends.<br/></span>
  <span class="verse" title="Proverbs 14:21" id="Proverbs-14-21">He who despises his neighbor sins,<br/> <span class="indent">&nbsp;&nbsp;</span>but blessed is he who has pity on the poor.<br/></span>
  <span class="verse" title="Proverbs 14:22" id="Proverbs-14-22">Don&#8217;t they go astray who plot evil?<br/> <span class="indent">&nbsp;&nbsp;</span>But love and faithfulness belong to those who plan good.<br/></span>
  <span class="verse" title="Proverbs 14:23" id="Proverbs-14-23">In all hard work there is profit,<br/> <span class="indent">&nbsp;&nbsp;</span>but the talk of the lips leads only to poverty.<br/></span>
  <span class="verse" title="Proverbs 14:24" id="Proverbs-14-24">The crown of the wise is their riches,<br/> <span class="indent">&nbsp;&nbsp;</span>but the folly of fools crowns them with folly.<br/></span>
  <span class="verse" title="Proverbs 14:25" id="Proverbs-14-25">A truthful witness saves souls,<br/> <span class="indent">&nbsp;&nbsp;</span>but a false witness is deceitful.<br/></span>
  <span class="verse" title="Proverbs 14:26" id="Proverbs-14-26">In the fear of Yahweh is a secure fortress,<br/> <span class="indent">&nbsp;&nbsp;</span>and he will be a refuge for his children.<br/></span>
  <span class="verse" title="Proverbs 14:27" id="Proverbs-14-27">The fear of Yahweh is a fountain of life,<br/> <span class="indent">&nbsp;&nbsp;</span>turning people from the snares of death.<br/></span>
  <span class="verse" title="Proverbs 14:28" id="Proverbs-14-28">In the multitude of people is the king&#8217;s glory,<br/> <span class="indent">&nbsp;&nbsp;</span>but in the lack of people is the destruction of the prince.<br/></span>
  <span class="verse" title="Proverbs 14:29" id="Proverbs-14-29">He who is slow to anger has great understanding,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who has a quick temper displays folly.<br/></span>
  <span class="verse" title="Proverbs 14:30" id="Proverbs-14-30">The life of the body is a heart at peace,<br/> <span class="indent">&nbsp;&nbsp;</span>but envy rots the bones.<br/></span>
  <span class="verse" title="Proverbs 14:31" id="Proverbs-14-31">He who oppresses the poor shows contempt for his Maker,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who is kind to the needy honors him.<br/></span>
  <span class="verse" title="Proverbs 14:32" id="Proverbs-14-32">The wicked is brought down in his calamity,<br/> <span class="indent">&nbsp;&nbsp;</span>but in death, the righteous has a refuge.<br/></span>
  <span class="verse" title="Proverbs 14:33" id="Proverbs-14-33">Wisdom rests in the heart of one who has understanding,<br/> <span class="indent">&nbsp;&nbsp;</span>and is even made known in the inward part of fools.<br/></span>
  <span class="verse" title="Proverbs 14:34" id="Proverbs-14-34">Righteousness exalts a nation,<br/> <span class="indent">&nbsp;&nbsp;</span>but sin is a disgrace to any people.<br/></span>
  <span class="verse" title="Proverbs 14:35" id="Proverbs-14-35">The king&#8217;s favor is toward a servant who deals wisely,<br/> <span class="indent">&nbsp;&nbsp;</span>but his wrath is toward one who causes shame.<br/></span>
</div>