<div class="chapter" id="Proverbs-015">
  <h2>Proverbs 15</h2>
  <span class="verse" title="Proverbs 15:1" id="Proverbs-15-1">A gentle answer turns away wrath,<br/> <span class="indent">&nbsp;&nbsp;</span>but a harsh word stirs up anger.<br/></span>
  <span class="verse" title="Proverbs 15:2" id="Proverbs-15-2">The tongue of the wise commends knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>but the mouth of fools gush out folly.<br/></span>
  <span class="verse" title="Proverbs 15:3" id="Proverbs-15-3">Yahweh&#8217;s eyes are everywhere,<br/> <span class="indent">&nbsp;&nbsp;</span>keeping watch on the evil and the good.<br/></span>
  <span class="verse" title="Proverbs 15:4" id="Proverbs-15-4">A gentle tongue is a tree of life,<br/> <span class="indent">&nbsp;&nbsp;</span>but deceit in it crushes the spirit.<br/></span>
  <span class="verse" title="Proverbs 15:5" id="Proverbs-15-5">A fool despises his father&#8217;s correction,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who heeds reproof shows prudence.<br/></span>
  <span class="verse" title="Proverbs 15:6" id="Proverbs-15-6">In the house of the righteous is much treasure,<br/> <span class="indent">&nbsp;&nbsp;</span>but the income of the wicked brings trouble.<br/></span>
  <span class="verse" title="Proverbs 15:7" id="Proverbs-15-7">The lips of the wise spread knowledge;<br/> <span class="indent">&nbsp;&nbsp;</span>not so with the heart of fools.<br/></span>
  <span class="verse" title="Proverbs 15:8" id="Proverbs-15-8">The sacrifice made by the wicked is an abomination to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>but the prayer of the upright is his delight.<br/></span>
  <span class="verse" title="Proverbs 15:9" id="Proverbs-15-9">The way of the wicked is an abomination to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>but he loves him who follows after righteousness.<br/></span>
  <span class="verse" title="Proverbs 15:10" id="Proverbs-15-10">There is stern discipline for one who forsakes the way:<br/> <span class="indent">&nbsp;&nbsp;</span>whoever hates reproof shall die.<br/></span>
  <span class="verse" title="Proverbs 15:11" id="Proverbs-15-11">Sheol and Abaddon are before Yahweh—<br/> <span class="indent">&nbsp;&nbsp;</span>how much more then the hearts of the children of men!<br/></span>
  <span class="verse" title="Proverbs 15:12" id="Proverbs-15-12">A scoffer doesn&#8217;t love to be reproved;<br/> <span class="indent">&nbsp;&nbsp;</span>he will not go to the wise.<br/></span>
  <span class="verse" title="Proverbs 15:13" id="Proverbs-15-13">A glad heart makes a cheerful face;<br/> <span class="indent">&nbsp;&nbsp;</span>but an aching heart breaks the spirit.<br/></span>
  <span class="verse" title="Proverbs 15:14" id="Proverbs-15-14">The heart of one who has understanding seeks knowledge,<br/> <span class="indent">&nbsp;&nbsp;</span>but the mouths of fools feed on folly.<br/></span>
  <span class="verse" title="Proverbs 15:15" id="Proverbs-15-15">All the days of the afflicted are wretched,<br/> <span class="indent">&nbsp;&nbsp;</span>but one who has a cheerful heart enjoys a continual feast.<br/></span>
  <span class="verse" title="Proverbs 15:16" id="Proverbs-15-16">Better is little, with the fear of Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>than great treasure with trouble.<br/></span>
  <span class="verse" title="Proverbs 15:17" id="Proverbs-15-17">Better is a dinner of herbs, where love is,<br/> <span class="indent">&nbsp;&nbsp;</span>than a fattened calf with hatred.<br/></span>
  <span class="verse" title="Proverbs 15:18" id="Proverbs-15-18">A wrathful man stirs up contention,<br/> <span class="indent">&nbsp;&nbsp;</span>but one who is slow to anger appeases strife.<br/></span>
  <span class="verse" title="Proverbs 15:19" id="Proverbs-15-19">The way of the sluggard is like a thorn patch,<br/> <span class="indent">&nbsp;&nbsp;</span>but the path of the upright is a highway.<br/></span>
  <span class="verse" title="Proverbs 15:20" id="Proverbs-15-20">A wise son makes a father glad,<br/> <span class="indent">&nbsp;&nbsp;</span>but a foolish man despises his mother.<br/></span>
  <span class="verse" title="Proverbs 15:21" id="Proverbs-15-21">Folly is joy to one who is void of wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>but a man of understanding keeps his way straight.<br/></span>
  <span class="verse" title="Proverbs 15:22" id="Proverbs-15-22">Where there is no counsel, plans fail;<br/> <span class="indent">&nbsp;&nbsp;</span>but in a multitude of counselors they are established.<br/></span>
  <span class="verse" title="Proverbs 15:23" id="Proverbs-15-23">Joy comes to a man with the reply of his mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>How good is a word at the right time!<br/></span>
  <span class="verse" title="Proverbs 15:24" id="Proverbs-15-24">The path of life leads upward for the wise,<br/> <span class="indent">&nbsp;&nbsp;</span>to keep him from going downward to Sheol.<br/></span>
  <span class="verse" title="Proverbs 15:25" id="Proverbs-15-25">Yahweh will uproot the house of the proud,<br/> <span class="indent">&nbsp;&nbsp;</span>but he will keep the widow&#8217;s borders intact.<br/></span>
  <span class="verse" title="Proverbs 15:26" id="Proverbs-15-26">Yahweh detests the thoughts of the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>but the thoughts of the pure are pleasing.<br/></span>
  <span class="verse" title="Proverbs 15:27" id="Proverbs-15-27">He who is greedy for gain troubles his own house,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who hates bribes will live.<br/></span>
  <span class="verse" title="Proverbs 15:28" id="Proverbs-15-28">The heart of the righteous weighs answers,<br/> <span class="indent">&nbsp;&nbsp;</span>but the mouth of the wicked gushes out evil.<br/></span>
  <span class="verse" title="Proverbs 15:29" id="Proverbs-15-29">Yahweh is far from the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>but he hears the prayer of the righteous.<br/></span>
  <span class="verse" title="Proverbs 15:30" id="Proverbs-15-30">The light of the eyes rejoices the heart.<br/> <span class="indent">&nbsp;&nbsp;</span>Good news gives health to the bones.<br/></span>
  <span class="verse" title="Proverbs 15:31" id="Proverbs-15-31">The ear that listens to reproof lives,<br/> <span class="indent">&nbsp;&nbsp;</span>and will be at home among the wise.<br/></span>
  <span class="verse" title="Proverbs 15:32" id="Proverbs-15-32">He who refuses correction despises his own soul,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who listens to reproof gets understanding.<br/></span>
  <span class="verse" title="Proverbs 15:33" id="Proverbs-15-33">The fear of Yahweh teaches wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>Before honor is humility.<br/></span>
</div>