<div class="chapter" id="Proverbs-016">
  <h2>Proverbs 16</h2>
  <span class="verse" title="Proverbs 16:1" id="Proverbs-16-1">The plans of the heart belong to man,<br/> <span class="indent">&nbsp;&nbsp;</span>but the answer of the tongue is from Yahweh.<br/></span>
  <span class="verse" title="Proverbs 16:2" id="Proverbs-16-2">All the ways of a man are clean in his own eyes;<br/> <span class="indent">&nbsp;&nbsp;</span>but Yahweh weighs the motives.<br/></span>
  <span class="verse" title="Proverbs 16:3" id="Proverbs-16-3">Commit your deeds to Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>and your plans shall succeed.<br/></span>
  <span class="verse" title="Proverbs 16:4" id="Proverbs-16-4">Yahweh has made everything for its own end—<br/> <span class="indent">&nbsp;&nbsp;</span>yes, even the wicked for the day of evil.<br/></span>
  <span class="verse" title="Proverbs 16:5" id="Proverbs-16-5">Everyone who is proud in heart is an abomination to Yahweh:<br/> <span class="indent">&nbsp;&nbsp;</span>they shall certainly not be unpunished.<br/></span>
  <span class="verse" title="Proverbs 16:6" id="Proverbs-16-6">By mercy and truth iniquity is atoned for.<br/> <span class="indent">&nbsp;&nbsp;</span>By the fear of Yahweh men depart from evil.<br/></span>
  <span class="verse" title="Proverbs 16:7" id="Proverbs-16-7">When a man&#8217;s ways please Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>he makes even his enemies to be at peace with him.<br/></span>
  <span class="verse" title="Proverbs 16:8" id="Proverbs-16-8">Better is a little with righteousness,<br/> <span class="indent">&nbsp;&nbsp;</span>than great revenues with injustice.<br/></span>
  <span class="verse" title="Proverbs 16:9" id="Proverbs-16-9">A man&#8217;s heart plans his course,<br/> <span class="indent">&nbsp;&nbsp;</span>but Yahweh directs his steps.<br/></span>
  <span class="verse" title="Proverbs 16:10" id="Proverbs-16-10">Inspired judgments are on the lips of the king.<br/> <span class="indent">&nbsp;&nbsp;</span>He shall not betray his mouth.<br/></span>
  <span class="verse" title="Proverbs 16:11" id="Proverbs-16-11">Honest balances and scales are Yahweh&#8217;s;<br/> <span class="indent">&nbsp;&nbsp;</span>all the weights in the bag are his work.<br/></span>
  <span class="verse" title="Proverbs 16:12" id="Proverbs-16-12">It is an abomination for kings to do wrong,<br/> <span class="indent">&nbsp;&nbsp;</span>for the throne is established by righteousness.<br/></span>
  <span class="verse" title="Proverbs 16:13" id="Proverbs-16-13">Righteous lips are the delight of kings.<br/> <span class="indent">&nbsp;&nbsp;</span>They value one who speaks the truth.<br/></span>
  <span class="verse" title="Proverbs 16:14" id="Proverbs-16-14">The king&#8217;s wrath is a messenger of death,<br/> <span class="indent">&nbsp;&nbsp;</span>but a wise man will pacify it.<br/></span>
  <span class="verse" title="Proverbs 16:15" id="Proverbs-16-15">In the light of the king&#8217;s face is life.<br/> <span class="indent">&nbsp;&nbsp;</span>His favor is like a cloud of the spring rain.<br/></span>
  <span class="verse" title="Proverbs 16:16" id="Proverbs-16-16">How much better it is to get wisdom than gold!<br/> <span class="indent">&nbsp;&nbsp;</span>Yes, to get understanding is to be chosen rather than silver.<br/></span>
  <span class="verse" title="Proverbs 16:17" id="Proverbs-16-17">The highway of the upright is to depart from evil.<br/> <span class="indent">&nbsp;&nbsp;</span>He who keeps his way preserves his soul.<br/></span>
  <span class="verse" title="Proverbs 16:18" id="Proverbs-16-18">Pride goes before destruction,<br/> <span class="indent">&nbsp;&nbsp;</span>and a haughty spirit before a fall.<br/></span>
  <span class="verse" title="Proverbs 16:19" id="Proverbs-16-19">It is better to be of a lowly spirit with the poor,<br/> <span class="indent">&nbsp;&nbsp;</span>than to divide the plunder with the proud.<br/></span>
  <span class="verse" title="Proverbs 16:20" id="Proverbs-16-20">He who heeds the Word finds prosperity.<br/> <span class="indent">&nbsp;&nbsp;</span>Whoever trusts in Yahweh is blessed.<br/></span>
  <span class="verse" title="Proverbs 16:21" id="Proverbs-16-21">The wise in heart shall be called prudent.<br/> <span class="indent">&nbsp;&nbsp;</span>Pleasantness of the lips promotes instruction.<br/></span>
  <span class="verse" title="Proverbs 16:22" id="Proverbs-16-22">Understanding is a fountain of life to one who has it,<br/> <span class="indent">&nbsp;&nbsp;</span>but the punishment of fools is their folly.<br/></span>
  <span class="verse" title="Proverbs 16:23" id="Proverbs-16-23">The heart of the wise instructs his mouth,<br/> <span class="indent">&nbsp;&nbsp;</span>and adds learning to his lips.<br/></span>
  <span class="verse" title="Proverbs 16:24" id="Proverbs-16-24">Pleasant words are a honeycomb,<br/> <span class="indent">&nbsp;&nbsp;</span>sweet to the soul, and health to the bones.<br/></span>
  <span class="verse" title="Proverbs 16:25" id="Proverbs-16-25">There is a way which seems right to a man,<br/> <span class="indent">&nbsp;&nbsp;</span>but in the end it leads to death.<br/></span>
  <span class="verse" title="Proverbs 16:26" id="Proverbs-16-26">The appetite of the laboring man labors for him;<br/> <span class="indent">&nbsp;&nbsp;</span>for his mouth urges him on.<br/></span>
  <span class="verse" title="Proverbs 16:27" id="Proverbs-16-27">A worthless man devises mischief.<br/> <span class="indent">&nbsp;&nbsp;</span>His speech is like a scorching fire.<br/></span>
  <span class="verse" title="Proverbs 16:28" id="Proverbs-16-28">A perverse man stirs up strife.<br/> <span class="indent">&nbsp;&nbsp;</span>A whisperer separates close friends.<br/></span>
  <span class="verse" title="Proverbs 16:29" id="Proverbs-16-29">A man of violence entices his neighbor,<br/> <span class="indent">&nbsp;&nbsp;</span>and leads him in a way that is not good.<br/></span>
  <span class="verse" title="Proverbs 16:30" id="Proverbs-16-30">One who winks his eyes to plot perversities,<br/> <span class="indent">&nbsp;&nbsp;</span>one who compresses his lips, is bent on evil.<br/></span>
  <span class="verse" title="Proverbs 16:31" id="Proverbs-16-31">Gray hair is a crown of glory.<br/> <span class="indent">&nbsp;&nbsp;</span>It is attained by a life of righteousness.<br/></span>
  <span class="verse" title="Proverbs 16:32" id="Proverbs-16-32">One who is slow to anger is better than the mighty;<br/> <span class="indent">&nbsp;&nbsp;</span>one who rules his spirit, than he who takes a city.<br/></span>
  <span class="verse" title="Proverbs 16:33" id="Proverbs-16-33">The lot is cast into the lap,<br/> <span class="indent">&nbsp;&nbsp;</span>but its every decision is from Yahweh.<br/></span>
</div>