<div class="chapter" id="Proverbs-017">
  <h2>Proverbs 17</h2>
  <span class="verse" title="Proverbs 17:1" id="Proverbs-17-1">Better is a dry morsel with quietness,<br/> <span class="indent">&nbsp;&nbsp;</span>than a house full of feasting with strife.<br/></span>
  <span class="verse" title="Proverbs 17:2" id="Proverbs-17-2">A servant who deals wisely will rule over a son who causes shame,<br/> <span class="indent">&nbsp;&nbsp;</span>and shall have a part in the inheritance among the brothers.<br/></span>
  <span class="verse" title="Proverbs 17:3" id="Proverbs-17-3">The refining pot is for silver, and the furnace for gold,<br/> <span class="indent">&nbsp;&nbsp;</span>but Yahweh tests the hearts.<br/></span>
  <span class="verse" title="Proverbs 17:4" id="Proverbs-17-4">An evildoer heeds wicked lips.<br/> <span class="indent">&nbsp;&nbsp;</span>A liar gives ear to a mischievous tongue.<br/></span>
  <span class="verse" title="Proverbs 17:5" id="Proverbs-17-5">Whoever mocks the poor reproaches his Maker.<br/> <span class="indent">&nbsp;&nbsp;</span>He who is glad at calamity shall not be unpunished.<br/></span>
  <span class="verse" title="Proverbs 17:6" id="Proverbs-17-6">Children&#8217;s children are the crown of old men;<br/> <span class="indent">&nbsp;&nbsp;</span>the glory of children are their parents.<br/></span>
  <span class="verse" title="Proverbs 17:7" id="Proverbs-17-7">Arrogant speech isn&#8217;t fitting for a fool,<br/> <span class="indent">&nbsp;&nbsp;</span>much less do lying lips fit a prince.<br/></span>
  <span class="verse" title="Proverbs 17:8" id="Proverbs-17-8">A bribe is a precious stone in the eyes of him who gives it;<br/> <span class="indent">&nbsp;&nbsp;</span>wherever he turns, he prospers.<br/></span>
  <span class="verse" title="Proverbs 17:9" id="Proverbs-17-9">He who covers an offense promotes love;<br/> <span class="indent">&nbsp;&nbsp;</span>but he who repeats a matter separates best friends.<br/></span>
  <span class="verse" title="Proverbs 17:10" id="Proverbs-17-10">A rebuke enters deeper into one who has understanding<br/> <span class="indent">&nbsp;&nbsp;</span>than a hundred lashes into a fool.<br/></span>
  <span class="verse" title="Proverbs 17:11" id="Proverbs-17-11">An evil man seeks only rebellion;<br/> <span class="indent">&nbsp;&nbsp;</span>therefore a cruel messenger shall be sent against him.<br/></span>
  <span class="verse" title="Proverbs 17:12" id="Proverbs-17-12">Let a bear robbed of her cubs meet a man,<br/> <span class="indent">&nbsp;&nbsp;</span>rather than a fool in his folly.<br/></span>
  <span class="verse" title="Proverbs 17:13" id="Proverbs-17-13">Whoever rewards evil for good,<br/> <span class="indent">&nbsp;&nbsp;</span>evil shall not depart from his house.<br/></span>
  <span class="verse" title="Proverbs 17:14" id="Proverbs-17-14">The beginning of strife is like breaching a dam,<br/> <span class="indent">&nbsp;&nbsp;</span>therefore stop contention before quarreling breaks out.<br/></span>
  <span class="verse" title="Proverbs 17:15" id="Proverbs-17-15">He who justifies the wicked, and he who condemns the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>both of them alike are an abomination to Yahweh.<br/></span>
  <span class="verse" title="Proverbs 17:16" id="Proverbs-17-16">Why is there money in the hand of a fool to buy wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>since he has no understanding?<br/></span>
  <span class="verse" title="Proverbs 17:17" id="Proverbs-17-17">A friend loves at all times;<br/> <span class="indent">&nbsp;&nbsp;</span>and a brother is born for adversity.<br/></span>
  <span class="verse" title="Proverbs 17:18" id="Proverbs-17-18">A man void of understanding strikes hands,<br/> <span class="indent">&nbsp;&nbsp;</span>and becomes collateral in the presence of his neighbor.<br/></span>
  <span class="verse" title="Proverbs 17:19" id="Proverbs-17-19">He who loves disobedience loves strife.<br/> <span class="indent">&nbsp;&nbsp;</span>One who builds a high gate seeks destruction.<br/></span>
  <span class="verse" title="Proverbs 17:20" id="Proverbs-17-20">One who has a perverse heart doesn&#8217;t find prosperity,<br/> <span class="indent">&nbsp;&nbsp;</span>and one who has a deceitful tongue falls into trouble.<br/></span>
  <span class="verse" title="Proverbs 17:21" id="Proverbs-17-21">He who becomes the father of a fool grieves.<br/> <span class="indent">&nbsp;&nbsp;</span>The father of a fool has no joy.<br/></span>
  <span class="verse" title="Proverbs 17:22" id="Proverbs-17-22">A cheerful heart makes good medicine,<br/> <span class="indent">&nbsp;&nbsp;</span>but a crushed spirit dries up the bones.<br/></span>
  <span class="verse" title="Proverbs 17:23" id="Proverbs-17-23">A wicked man receives a bribe in secret,<br/> <span class="indent">&nbsp;&nbsp;</span>to pervert the ways of justice.<br/></span>
  <span class="verse" title="Proverbs 17:24" id="Proverbs-17-24">Wisdom is before the face of one who has understanding,<br/> <span class="indent">&nbsp;&nbsp;</span>but the eyes of a fool wander to the ends of the earth.<br/></span>
  <span class="verse" title="Proverbs 17:25" id="Proverbs-17-25">A foolish son brings grief to his father,<br/> <span class="indent">&nbsp;&nbsp;</span>and bitterness to her who bore him.<br/></span>
  <span class="verse" title="Proverbs 17:26" id="Proverbs-17-26">Also to punish the righteous is not good,<br/> <span class="indent">&nbsp;&nbsp;</span>nor to flog officials for their integrity.<br/></span>
  <span class="verse" title="Proverbs 17:27" id="Proverbs-17-27">He who spares his words has knowledge.<br/> <span class="indent">&nbsp;&nbsp;</span>He who is even tempered is a man of understanding.<br/></span>
  <span class="verse" title="Proverbs 17:28" id="Proverbs-17-28">Even a fool, when he keeps silent, is counted wise.<br/> <span class="indent">&nbsp;&nbsp;</span>When he shuts his lips, he is thought to be discerning.<br/></span>
</div>