<div class="chapter" id="Proverbs-018">
  <h2>Proverbs 18</h2>
  <span class="verse" title="Proverbs 18:1" id="Proverbs-18-1">An unfriendly man pursues selfishness,<br/> <span class="indent">&nbsp;&nbsp;</span>and defies all sound judgment.<br/></span>
  <span class="verse" title="Proverbs 18:2" id="Proverbs-18-2">A fool has no delight in understanding,<br/> <span class="indent">&nbsp;&nbsp;</span>but only in revealing his own opinion.<br/></span>
  <span class="verse" title="Proverbs 18:3" id="Proverbs-18-3">When wickedness comes, contempt also comes,<br/> <span class="indent">&nbsp;&nbsp;</span>and with shame comes disgrace.<br/></span>
  <span class="verse" title="Proverbs 18:4" id="Proverbs-18-4">The words of a man&#8217;s mouth are like deep waters.<br/> <span class="indent">&nbsp;&nbsp;</span>The fountain of wisdom is like a flowing brook.<br/></span>
  <span class="verse" title="Proverbs 18:5" id="Proverbs-18-5">To be partial to the faces of the wicked is not good,<br/> <span class="indent">&nbsp;&nbsp;</span>nor to deprive the innocent of justice.<br/></span>
  <span class="verse" title="Proverbs 18:6" id="Proverbs-18-6">A fool&#8217;s lips come into strife,<br/> <span class="indent">&nbsp;&nbsp;</span>and his mouth invites beatings.<br/></span>
  <span class="verse" title="Proverbs 18:7" id="Proverbs-18-7">A fool&#8217;s mouth is his destruction,<br/> <span class="indent">&nbsp;&nbsp;</span>and his lips are a snare to his soul.<br/></span>
  <span class="verse" title="Proverbs 18:8" id="Proverbs-18-8">The words of a gossip are like dainty morsels:<br/> <span class="indent">&nbsp;&nbsp;</span>they go down into a person&#8217;s innermost parts.<br/></span>
  <span class="verse" title="Proverbs 18:9" id="Proverbs-18-9">One who is slack in his work<br/> <span class="indent">&nbsp;&nbsp;</span>is brother to him who is a master of destruction.<br/></span>
  <span class="verse" title="Proverbs 18:10" id="Proverbs-18-10">The name of Yahweh is a strong tower:<br/> <span class="indent">&nbsp;&nbsp;</span>the righteous run to him, and are safe.<br/></span>
  <span class="verse" title="Proverbs 18:11" id="Proverbs-18-11">The rich man&#8217;s wealth is his strong city,<br/> <span class="indent">&nbsp;&nbsp;</span>like an unscalable wall in his own imagination.<br/></span>
  <span class="verse" title="Proverbs 18:12" id="Proverbs-18-12">Before destruction the heart of man is proud,<br/> <span class="indent">&nbsp;&nbsp;</span>but before honor is humility.<br/></span>
  <span class="verse" title="Proverbs 18:13" id="Proverbs-18-13">He who gives answer before he hears,<br/> <span class="indent">&nbsp;&nbsp;</span>that is folly and shame to him.<br/></span>
  <span class="verse" title="Proverbs 18:14" id="Proverbs-18-14">A man&#8217;s spirit will sustain him in sickness,<br/> <span class="indent">&nbsp;&nbsp;</span>but a crushed spirit, who can bear?<br/></span>
  <span class="verse" title="Proverbs 18:15" id="Proverbs-18-15">The heart of the discerning gets knowledge.<br/> <span class="indent">&nbsp;&nbsp;</span>The ear of the wise seeks knowledge.<br/></span>
  <span class="verse" title="Proverbs 18:16" id="Proverbs-18-16">A man&#8217;s gift makes room for him,<br/> <span class="indent">&nbsp;&nbsp;</span>and brings him before great men.<br/></span>
  <span class="verse" title="Proverbs 18:17" id="Proverbs-18-17">He who pleads his cause first seems right;<br/> <span class="indent">&nbsp;&nbsp;</span>until another comes and questions him.<br/></span>
  <span class="verse" title="Proverbs 18:18" id="Proverbs-18-18">The lot settles disputes,<br/> <span class="indent">&nbsp;&nbsp;</span>and keeps strong ones apart.<br/></span>
  <span class="verse" title="Proverbs 18:19" id="Proverbs-18-19">A brother offended is more difficult than a fortified city;<br/> <span class="indent">&nbsp;&nbsp;</span>and disputes are like the bars of a castle.<br/></span>
  <span class="verse" title="Proverbs 18:20" id="Proverbs-18-20">A man&#8217;s stomach is filled with the fruit of his mouth.<br/> <span class="indent">&nbsp;&nbsp;</span>With the harvest of his lips he is satisfied.<br/></span>
  <span class="verse" title="Proverbs 18:21" id="Proverbs-18-21">Death and life are in the power of the tongue;<br/> <span class="indent">&nbsp;&nbsp;</span>those who love it will eat its fruit.<br/></span>
  <span class="verse" title="Proverbs 18:22" id="Proverbs-18-22">Whoever finds a wife finds a good thing,<br/> <span class="indent">&nbsp;&nbsp;</span>and obtains favor of Yahweh.<br/></span>
  <span class="verse" title="Proverbs 18:23" id="Proverbs-18-23">The poor plead for mercy,<br/> <span class="indent">&nbsp;&nbsp;</span>but the rich answer harshly.<br/></span>
  <span class="verse" title="Proverbs 18:24" id="Proverbs-18-24">A man of many companions may be ruined,<br/> <span class="indent">&nbsp;&nbsp;</span>but there is a friend who sticks closer than a brother.<br/></span>
</div>