<div class="chapter" id="Proverbs-019">
  <h2>Proverbs 19</h2>
  <span class="verse" title="Proverbs 19:1" id="Proverbs-19-1">Better is the poor who walks in his integrity<br/> <span class="indent">&nbsp;&nbsp;</span>than he who is perverse in his lips and is a fool.<br/></span>
  <span class="verse" title="Proverbs 19:2" id="Proverbs-19-2">It isn&#8217;t good to have zeal without knowledge;<br/> <span class="indent">&nbsp;&nbsp;</span>nor being hasty with one&#8217;s feet and missing the way.<br/></span>
  <span class="verse" title="Proverbs 19:3" id="Proverbs-19-3">The foolishness of man subverts his way;<br/> <span class="indent">&nbsp;&nbsp;</span>his heart rages against Yahweh.<br/></span>
  <span class="verse" title="Proverbs 19:4" id="Proverbs-19-4">Wealth adds many friends,<br/> <span class="indent">&nbsp;&nbsp;</span>but the poor is separated from his friend.<br/></span>
  <span class="verse" title="Proverbs 19:5" id="Proverbs-19-5">A false witness shall not be unpunished.<br/> <span class="indent">&nbsp;&nbsp;</span>He who pours out lies shall not go free.<br/></span>
  <span class="verse" title="Proverbs 19:6" id="Proverbs-19-6">Many will entreat the favor of a ruler,<br/> <span class="indent">&nbsp;&nbsp;</span>and everyone is a friend to a man who gives gifts.<br/></span>
  <span class="verse" title="Proverbs 19:7" id="Proverbs-19-7">All the relatives of the poor shun him:<br/> <span class="indent">&nbsp;&nbsp;</span>how much more do his friends avoid him!<br/> <span class="indent">&nbsp;&nbsp;</span>He pursues them with pleas, but they are gone.<br/></span>
  <span class="verse" title="Proverbs 19:8" id="Proverbs-19-8">He who gets wisdom loves his own soul.<br/> <span class="indent">&nbsp;&nbsp;</span>He who keeps understanding shall find good.<br/></span>
  <span class="verse" title="Proverbs 19:9" id="Proverbs-19-9">A false witness shall not be unpunished.<br/> <span class="indent">&nbsp;&nbsp;</span>He who utters lies shall perish.<br/></span>
  <span class="verse" title="Proverbs 19:10" id="Proverbs-19-10">Delicate living is not appropriate for a fool,<br/> <span class="indent">&nbsp;&nbsp;</span>much less for a servant to have rule over princes.<br/></span>
  <span class="verse" title="Proverbs 19:11" id="Proverbs-19-11">The discretion of a man makes him slow to anger.<br/> <span class="indent">&nbsp;&nbsp;</span>It is his glory to overlook an offense.<br/></span>
  <span class="verse" title="Proverbs 19:12" id="Proverbs-19-12">The king&#8217;s wrath is like the roaring of a lion,<br/> <span class="indent">&nbsp;&nbsp;</span>but his favor is like dew on the grass.<br/></span>
  <span class="verse" title="Proverbs 19:13" id="Proverbs-19-13">A foolish son is the calamity of his father.<br/> <span class="indent">&nbsp;&nbsp;</span>A wife&#8217;s quarrels are a continual dripping.<br/></span>
  <span class="verse" title="Proverbs 19:14" id="Proverbs-19-14">House and riches are an inheritance from fathers,<br/> <span class="indent">&nbsp;&nbsp;</span>but a prudent wife is from Yahweh.<br/></span>
  <span class="verse" title="Proverbs 19:15" id="Proverbs-19-15">Slothfulness casts into a deep sleep.<br/> <span class="indent">&nbsp;&nbsp;</span>The idle soul shall suffer hunger.<br/></span>
  <span class="verse" title="Proverbs 19:16" id="Proverbs-19-16">He who keeps the commandment keeps his soul,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who is contemptuous in his ways shall die.<br/></span>
  <span class="verse" title="Proverbs 19:17" id="Proverbs-19-17">He who has pity on the poor lends to Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span>he will reward him.<br/></span>
  <span class="verse" title="Proverbs 19:18" id="Proverbs-19-18">Discipline your son, for there is hope;<br/> <span class="indent">&nbsp;&nbsp;</span>don&#8217;t be a willing party to his death.<br/></span>
  <span class="verse" title="Proverbs 19:19" id="Proverbs-19-19">A hot-tempered man must pay the penalty,<br/> <span class="indent">&nbsp;&nbsp;</span>for if you rescue him, you must do it again.<br/></span>
  <span class="verse" title="Proverbs 19:20" id="Proverbs-19-20">Listen to counsel and receive instruction,<br/> <span class="indent">&nbsp;&nbsp;</span>that you may be wise in your latter end.<br/></span>
  <span class="verse" title="Proverbs 19:21" id="Proverbs-19-21">There are many plans in a man&#8217;s heart,<br/> <span class="indent">&nbsp;&nbsp;</span>but Yahweh&#8217;s counsel will prevail.<br/></span>
  <span class="verse" title="Proverbs 19:22" id="Proverbs-19-22">That which makes a man to be desired is his kindness.<br/> <span class="indent">&nbsp;&nbsp;</span>A poor man is better than a liar.<br/></span>
  <span class="verse" title="Proverbs 19:23" id="Proverbs-19-23">The fear of Yahweh leads to life, then contentment;<br/> <span class="indent">&nbsp;&nbsp;</span>he rests and will not be touched by trouble.<br/></span>
  <span class="verse" title="Proverbs 19:24" id="Proverbs-19-24">The sluggard buries his hand in the dish;<br/> <span class="indent">&nbsp;&nbsp;</span>he will not so much as bring it to his mouth again.<br/></span>
  <span class="verse" title="Proverbs 19:25" id="Proverbs-19-25">Flog a scoffer, and the simple will learn prudence;<br/> <span class="indent">&nbsp;&nbsp;</span>rebuke one who has understanding, and he will gain knowledge.<br/></span>
  <span class="verse" title="Proverbs 19:26" id="Proverbs-19-26">He who robs his father and drives away his mother,<br/> <span class="indent">&nbsp;&nbsp;</span>is a son who causes shame and brings reproach.<br/></span>
  <span class="verse" title="Proverbs 19:27" id="Proverbs-19-27">If you stop listening to instruction, my son,<br/> <span class="indent">&nbsp;&nbsp;</span>you will stray from the words of knowledge.<br/></span>
  <span class="verse" title="Proverbs 19:28" id="Proverbs-19-28">A corrupt witness mocks justice,<br/> <span class="indent">&nbsp;&nbsp;</span>and the mouth of the wicked gulps down iniquity.<br/></span>
  <span class="verse" title="Proverbs 19:29" id="Proverbs-19-29">Penalties are prepared for scoffers,<br/> <span class="indent">&nbsp;&nbsp;</span>and beatings for the backs of fools.<br/>   <br/></span>
</div>