<div class="chapter" id="Proverbs-020">
  <h2>Proverbs 20</h2>
  <span class="verse" title="Proverbs 20:1" id="Proverbs-20-1">Wine is a mocker, and beer is a brawler.<br/> <span class="indent">&nbsp;&nbsp;</span>Whoever is led astray by them is not wise.<br/></span>
  <span class="verse" title="Proverbs 20:2" id="Proverbs-20-2">The terror of a king is like the roaring of a lion.<br/> <span class="indent">&nbsp;&nbsp;</span>He who provokes him to anger forfeits his own life.<br/></span>
  <span class="verse" title="Proverbs 20:3" id="Proverbs-20-3">It is an honor for a man to keep aloof from strife;<br/> <span class="indent">&nbsp;&nbsp;</span>but every fool will be quarreling.<br/></span>
  <span class="verse" title="Proverbs 20:4" id="Proverbs-20-4">The sluggard will not plow by reason of the winter;<br/> <span class="indent">&nbsp;&nbsp;</span>therefore he shall beg in harvest, and have nothing.<br/></span>
  <span class="verse" title="Proverbs 20:5" id="Proverbs-20-5">Counsel in the heart of man is like deep water;<br/> <span class="indent">&nbsp;&nbsp;</span>but a man of understanding will draw it out.<br/></span>
  <span class="verse" title="Proverbs 20:6" id="Proverbs-20-6">Many men claim to be men of unfailing love,<br/> <span class="indent">&nbsp;&nbsp;</span>but who can find a faithful man?<br/></span>
  <span class="verse" title="Proverbs 20:7" id="Proverbs-20-7">A righteous man walks in integrity.<br/> <span class="indent">&nbsp;&nbsp;</span>Blessed are his children after him.<br/></span>
  <span class="verse" title="Proverbs 20:8" id="Proverbs-20-8">A king who sits on the throne of judgment<br/> <span class="indent">&nbsp;&nbsp;</span>scatters away all evil with his eyes.<br/></span>
  <span class="verse" title="Proverbs 20:9" id="Proverbs-20-9">Who can say, &#8220;I have made my heart pure.<br/> <span class="indent">&nbsp;&nbsp;</span>I am clean and without sin?&#8221;<br/></span>
  <span class="verse" title="Proverbs 20:10" id="Proverbs-20-10">Differing weights and differing measures,<br/> <span class="indent">&nbsp;&nbsp;</span>both of them alike are an abomination to Yahweh.<br/></span>
  <span class="verse" title="Proverbs 20:11" id="Proverbs-20-11">Even a child makes himself known by his doings,<br/> <span class="indent">&nbsp;&nbsp;</span>whether his work is pure, and whether it is right.<br/></span>
  <span class="verse" title="Proverbs 20:12" id="Proverbs-20-12">The hearing ear, and the seeing eye,<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh has made even both of them.<br/></span>
  <span class="verse" title="Proverbs 20:13" id="Proverbs-20-13">Don&#8217;t love sleep, lest you come to poverty.<br/> <span class="indent">&nbsp;&nbsp;</span>Open your eyes, and you shall be satisfied with bread.<br/></span>
  <span class="verse" title="Proverbs 20:14" id="Proverbs-20-14">&#8220;It&#8217;s no good, it&#8217;s no good,&#8221; says the buyer;<br/> <span class="indent">&nbsp;&nbsp;</span>but when he is gone his way, then he boasts.<br/></span>
  <span class="verse" title="Proverbs 20:15" id="Proverbs-20-15">There is gold and abundance of rubies;<br/> <span class="indent">&nbsp;&nbsp;</span>but the lips of knowledge are a rare jewel.<br/></span>
  <span class="verse" title="Proverbs 20:16" id="Proverbs-20-16">Take the garment of one who puts up collateral for a stranger;<br/> <span class="indent">&nbsp;&nbsp;</span>and hold him in pledge for a wayward woman.<br/></span>
  <span class="verse" title="Proverbs 20:17" id="Proverbs-20-17">Fraudulent food is sweet to a man,<br/> <span class="indent">&nbsp;&nbsp;</span>but afterwards his mouth is filled with gravel.<br/></span>
  <span class="verse" title="Proverbs 20:18" id="Proverbs-20-18">Plans are established by advice;<br/> <span class="indent">&nbsp;&nbsp;</span>by wise guidance you wage war!<br/></span>
  <span class="verse" title="Proverbs 20:19" id="Proverbs-20-19">He who goes about as a tale-bearer reveals secrets;<br/> <span class="indent">&nbsp;&nbsp;</span>therefore don&#8217;t keep company with him who opens wide his lips.<br/></span>
  <span class="verse" title="Proverbs 20:20" id="Proverbs-20-20">Whoever curses his father or his mother,<br/> <span class="indent">&nbsp;&nbsp;</span>his lamp shall be put out in blackness of darkness.<br/></span>
  <span class="verse" title="Proverbs 20:21" id="Proverbs-20-21">An inheritance quickly gained at the beginning,<br/> <span class="indent">&nbsp;&nbsp;</span>won&#8217;t be blessed in the end.<br/></span>
  <span class="verse" title="Proverbs 20:22" id="Proverbs-20-22">Don&#8217;t say, &#8220;I will pay back evil.&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>Wait for Yahweh, and he will save you.<br/></span>
  <span class="verse" title="Proverbs 20:23" id="Proverbs-20-23">Yahweh detests differing weights,<br/> <span class="indent">&nbsp;&nbsp;</span>and dishonest scales are not pleasing.<br/></span>
  <span class="verse" title="Proverbs 20:24" id="Proverbs-20-24">A man&#8217;s steps are from Yahweh;<br/> <span class="indent">&nbsp;&nbsp;</span>how then can man understand his way?<br/></span>
  <span class="verse" title="Proverbs 20:25" id="Proverbs-20-25">It is a snare to a man to make a rash dedication,<br/> <span class="indent">&nbsp;&nbsp;</span>then later to consider his vows.<br/></span>
  <span class="verse" title="Proverbs 20:26" id="Proverbs-20-26">A wise king winnows out the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>and drives the threshing wheel over them.<br/></span>
  <span class="verse" title="Proverbs 20:27" id="Proverbs-20-27">The spirit of man is Yahweh&#8217;s lamp,<br/> <span class="indent">&nbsp;&nbsp;</span>searching all his innermost parts.<br/></span>
  <span class="verse" title="Proverbs 20:28" id="Proverbs-20-28">Love and faithfulness keep the king safe.<br/> <span class="indent">&nbsp;&nbsp;</span>His throne is sustained by love.<br/></span>
  <span class="verse" title="Proverbs 20:29" id="Proverbs-20-29">The glory of young men is their strength.<br/> <span class="indent">&nbsp;&nbsp;</span>The splendor of old men is their gray hair.<br/></span>
  <span class="verse" title="Proverbs 20:30" id="Proverbs-20-30">Wounding blows cleanse away evil,<br/> <span class="indent">&nbsp;&nbsp;</span>and beatings purge the innermost parts.<br/>   <br/></span>
</div>