<div class="chapter" id="Proverbs-021">
  <h2>Proverbs 21</h2>
  <span class="verse" title="Proverbs 21:1" id="Proverbs-21-1">The king&#8217;s heart is in Yahweh&#8217;s hand like the watercourses.<br/> <span class="indent">&nbsp;&nbsp;</span>He turns it wherever he desires.<br/></span>
  <span class="verse" title="Proverbs 21:2" id="Proverbs-21-2">Every way of a man is right in his own eyes,<br/> <span class="indent">&nbsp;&nbsp;</span>but Yahweh weighs the hearts.<br/></span>
  <span class="verse" title="Proverbs 21:3" id="Proverbs-21-3">To do righteousness and justice<br/> <span class="indent">&nbsp;&nbsp;</span>is more acceptable to Yahweh than sacrifice.<br/></span>
  <span class="verse" title="Proverbs 21:4" id="Proverbs-21-4">A high look, and a proud heart,<br/> <span class="indent">&nbsp;&nbsp;</span>the lamp of the wicked, is sin.<br/></span>
  <span class="verse" title="Proverbs 21:5" id="Proverbs-21-5">The plans of the diligent surely lead to profit;<br/> <span class="indent">&nbsp;&nbsp;</span>and everyone who is hasty surely rushes to poverty.<br/></span>
  <span class="verse" title="Proverbs 21:6" id="Proverbs-21-6">Getting treasures by a lying tongue<br/> <span class="indent">&nbsp;&nbsp;</span>is a fleeting vapor for those who seek death.<br/></span>
  <span class="verse" title="Proverbs 21:7" id="Proverbs-21-7">The violence of the wicked will drive them away,<br/> <span class="indent">&nbsp;&nbsp;</span>because they refuse to do what is right.<br/></span>
  <span class="verse" title="Proverbs 21:8" id="Proverbs-21-8">The way of the guilty is devious,<br/> <span class="indent">&nbsp;&nbsp;</span>but the conduct of the innocent is upright.<br/></span>
  <span class="verse" title="Proverbs 21:9" id="Proverbs-21-9">It is better to dwell in the corner of the housetop,<br/> <span class="indent">&nbsp;&nbsp;</span>than to share a house with a contentious woman.<br/></span>
  <span class="verse" title="Proverbs 21:10" id="Proverbs-21-10">The soul of the wicked desires evil;<br/> <span class="indent">&nbsp;&nbsp;</span>his neighbor finds no mercy in his eyes.<br/></span>
  <span class="verse" title="Proverbs 21:11" id="Proverbs-21-11">When the mocker is punished, the simple gains wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>When the wise is instructed, he receives knowledge.<br/></span>
  <span class="verse" title="Proverbs 21:12" id="Proverbs-21-12">The Righteous One considers the house of the wicked,<br/> <span class="indent">&nbsp;&nbsp;</span>and brings the wicked to ruin.<br/></span>
  <span class="verse" title="Proverbs 21:13" id="Proverbs-21-13">Whoever stops his ears at the cry of the poor,<br/> <span class="indent">&nbsp;&nbsp;</span>he will also cry out, but shall not be heard.<br/></span>
  <span class="verse" title="Proverbs 21:14" id="Proverbs-21-14">A gift in secret pacifies anger;<br/> <span class="indent">&nbsp;&nbsp;</span>and a bribe in the cloak, strong wrath.<br/></span>
  <span class="verse" title="Proverbs 21:15" id="Proverbs-21-15">It is joy to the righteous to do justice;<br/> <span class="indent">&nbsp;&nbsp;</span>but it is a destruction to the workers of iniquity.<br/></span>
  <span class="verse" title="Proverbs 21:16" id="Proverbs-21-16">The man who wanders out of the way of understanding<br/> <span class="indent">&nbsp;&nbsp;</span>shall rest in the assembly of the dead.<br/></span>
  <span class="verse" title="Proverbs 21:17" id="Proverbs-21-17">He who loves pleasure shall be a poor man.<br/> <span class="indent">&nbsp;&nbsp;</span>He who loves wine and oil shall not be rich.<br/></span>
  <span class="verse" title="Proverbs 21:18" id="Proverbs-21-18">The wicked is a ransom for the righteous;<br/> <span class="indent">&nbsp;&nbsp;</span>the treacherous for the upright.<br/></span>
  <span class="verse" title="Proverbs 21:19" id="Proverbs-21-19">It is better to dwell in a desert land,<br/> <span class="indent">&nbsp;&nbsp;</span>than with a contentious and fretful woman.<br/></span>
  <span class="verse" title="Proverbs 21:20" id="Proverbs-21-20">There is precious treasure and oil in the dwelling of the wise;<br/> <span class="indent">&nbsp;&nbsp;</span>but a foolish man swallows it up.<br/></span>
  <span class="verse" title="Proverbs 21:21" id="Proverbs-21-21">He who follows after righteousness and kindness<br/> <span class="indent">&nbsp;&nbsp;</span>finds life, righteousness, and honor.<br/></span>
  <span class="verse" title="Proverbs 21:22" id="Proverbs-21-22">A wise man scales the city of the mighty,<br/> <span class="indent">&nbsp;&nbsp;</span>and brings down the strength of its confidence.<br/></span>
  <span class="verse" title="Proverbs 21:23" id="Proverbs-21-23">Whoever guards his mouth and his tongue<br/> <span class="indent">&nbsp;&nbsp;</span>keeps his soul from troubles.<br/></span>
  <span class="verse" title="Proverbs 21:24" id="Proverbs-21-24">The proud and haughty man, &#8220;scoffer&#8221; is his name;<br/> <span class="indent">&nbsp;&nbsp;</span>he works in the arrogance of pride.<br/></span>
  <span class="verse" title="Proverbs 21:25" id="Proverbs-21-25">The desire of the sluggard kills him,<br/> <span class="indent">&nbsp;&nbsp;</span>for his hands refuse to labor.<br/></span>
  <span class="verse" title="Proverbs 21:26" id="Proverbs-21-26">There are those who covet greedily all day long;<br/> <span class="indent">&nbsp;&nbsp;</span>but the righteous give and don&#8217;t withhold.<br/></span>
  <span class="verse" title="Proverbs 21:27" id="Proverbs-21-27">The sacrifice of the wicked is an abomination:<br/> <span class="indent">&nbsp;&nbsp;</span>how much more, when he brings it with a wicked mind!<br/></span>
  <span class="verse" title="Proverbs 21:28" id="Proverbs-21-28">A false witness will perish,<br/> <span class="indent">&nbsp;&nbsp;</span>and a man who listens speaks to eternity.<br/></span>
  <span class="verse" title="Proverbs 21:29" id="Proverbs-21-29">A wicked man hardens his face;<br/> <span class="indent">&nbsp;&nbsp;</span>but as for the upright, he establishes his ways.<br/></span>
  <span class="verse" title="Proverbs 21:30" id="Proverbs-21-30">There is no wisdom nor understanding<br/> <span class="indent">&nbsp;&nbsp;</span>nor counsel against Yahweh.<br/></span>
  <span class="verse" title="Proverbs 21:31" id="Proverbs-21-31">The horse is prepared for the day of battle;<br/> <span class="indent">&nbsp;&nbsp;</span>but victory is with Yahweh.<br/>   <br/></span>
</div>