<div class="chapter" id="Proverbs-022">
  <h2>Proverbs 22</h2>
  <span class="verse" title="Proverbs 22:1" id="Proverbs-22-1">A good name is more desirable than great riches,<br/> <span class="indent">&nbsp;&nbsp;</span>and loving favor is better than silver and gold.<br/></span>
  <span class="verse" title="Proverbs 22:2" id="Proverbs-22-2">The rich and the poor have this in common:<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh is the maker of them all.<br/></span>
  <span class="verse" title="Proverbs 22:3" id="Proverbs-22-3">A prudent man sees danger, and hides himself;<br/> <span class="indent">&nbsp;&nbsp;</span>but the simple pass on, and suffer for it.<br/></span>
  <span class="verse" title="Proverbs 22:4" id="Proverbs-22-4">The result of humility and the fear of Yahweh<br/> <span class="indent">&nbsp;&nbsp;</span>is wealth, honor, and life.<br/></span>
  <span class="verse" title="Proverbs 22:5" id="Proverbs-22-5">Thorns and snares are in the path of the wicked:<br/> <span class="indent">&nbsp;&nbsp;</span>whoever guards his soul stays from them.<br/></span>
  <span class="verse" title="Proverbs 22:6" id="Proverbs-22-6">Train up a child in the way he should go,<br/> <span class="indent">&nbsp;&nbsp;</span>and when he is old he will not depart from it.<br/></span>
  <span class="verse" title="Proverbs 22:7" id="Proverbs-22-7">The rich rule over the poor.<br/> <span class="indent">&nbsp;&nbsp;</span>The borrower is servant to the lender.<br/></span>
  <span class="verse" title="Proverbs 22:8" id="Proverbs-22-8">He who sows wickedness reaps trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>and the rod of his fury will be destroyed.<br/></span>
  <span class="verse" title="Proverbs 22:9" id="Proverbs-22-9">He who has a generous eye will be blessed;<br/> <span class="indent">&nbsp;&nbsp;</span>for he shares his food with the poor.<br/></span>
  <span class="verse" title="Proverbs 22:10" id="Proverbs-22-10">Drive out the mocker, and strife will go out;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, quarrels and insults will stop.<br/></span>
  <span class="verse" title="Proverbs 22:11" id="Proverbs-22-11">He who loves purity of heart and speaks gracefully<br/> <span class="indent">&nbsp;&nbsp;</span>is the king&#8217;s friend.<br/></span>
  <span class="verse" title="Proverbs 22:12" id="Proverbs-22-12">The eyes of Yahweh watch over knowledge;<br/> <span class="indent">&nbsp;&nbsp;</span>but he frustrates the words of the unfaithful.<br/></span>
  <span class="verse" title="Proverbs 22:13" id="Proverbs-22-13">The sluggard says, &#8220;There is a lion outside!<br/> <span class="indent">&nbsp;&nbsp;</span>I will be killed in the streets!&#8221;<br/></span>
  <span class="verse" title="Proverbs 22:14" id="Proverbs-22-14">The mouth of an adulteress is a deep pit:<br/> <span class="indent">&nbsp;&nbsp;</span>he who is under Yahweh&#8217;s wrath will fall into it.<br/></span>
  <span class="verse" title="Proverbs 22:15" id="Proverbs-22-15">Folly is bound up in the heart of a child:<br/> <span class="indent">&nbsp;&nbsp;</span>the rod of discipline drives it far from him.<br/></span>
  <span class="verse" title="Proverbs 22:16" id="Proverbs-22-16">Whoever oppresses the poor for his own increase and whoever gives to the rich,<br/> <span class="indent">&nbsp;&nbsp;</span>both come to poverty.<br/>   <br/></span>
  <span class="verse" title="Proverbs 22:17" id="Proverbs-22-17">Turn your ear, and listen to the words of the wise.<br/> <span class="indent">&nbsp;&nbsp;</span>Apply your heart to my teaching.<br/></span>
  <span class="verse" title="Proverbs 22:18" id="Proverbs-22-18">For it is a pleasant thing if you keep them within you,<br/> <span class="indent">&nbsp;&nbsp;</span>if all of them are ready on your lips.<br/></span>
  <span class="verse" title="Proverbs 22:19" id="Proverbs-22-19">That your trust may be in Yahweh,<br/> <span class="indent">&nbsp;&nbsp;</span>I teach you today, even you.<br/></span>
  <span class="verse" title="Proverbs 22:20" id="Proverbs-22-20">Haven&#8217;t I written to you thirty excellent things<br/> <span class="indent">&nbsp;&nbsp;</span>of counsel and knowledge,<br/></span>
  <span class="verse" title="Proverbs 22:21" id="Proverbs-22-21">To teach you truth, reliable words,<br/> <span class="indent">&nbsp;&nbsp;</span>to give sound answers to the ones who sent you?<br/>   <br/></span>
  <span class="verse" title="Proverbs 22:22" id="Proverbs-22-22">Don&#8217;t exploit the poor, because he is poor;<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t crush the needy in court;<br/></span>
  <span class="verse" title="Proverbs 22:23" id="Proverbs-22-23">for Yahweh will plead their case,<br/> <span class="indent">&nbsp;&nbsp;</span>and plunder the life of those who plunder them.<br/>   <br/></span>
  <span class="verse" title="Proverbs 22:24" id="Proverbs-22-24">Don&#8217;t befriend a hot-tempered man,<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t associate with one who harbors anger:<br/></span>
  <span class="verse" title="Proverbs 22:25" id="Proverbs-22-25">lest you learn his ways,<br/> <span class="indent">&nbsp;&nbsp;</span>and ensnare your soul.<br/>   <br/></span>
  <span class="verse" title="Proverbs 22:26" id="Proverbs-22-26">Don&#8217;t you be one of those who strike hands,<br/> <span class="indent">&nbsp;&nbsp;</span>of those who are collateral for debts.<br/></span>
  <span class="verse" title="Proverbs 22:27" id="Proverbs-22-27">If you don&#8217;t have means to pay,<br/> <span class="indent">&nbsp;&nbsp;</span>why should he take away your bed from under you?<br/>   <br/></span>
  <span class="verse" title="Proverbs 22:28" id="Proverbs-22-28">Don&#8217;t move the ancient boundary stone,<br/> <span class="indent">&nbsp;&nbsp;</span>which your fathers have set up.<br/>   <br/></span>
  <span class="verse" title="Proverbs 22:29" id="Proverbs-22-29">Do you see a man skilled in his work?<br/> <span class="indent">&nbsp;&nbsp;</span>He will serve kings.<br/> <span class="indent">&nbsp;&nbsp;</span>He won&#8217;t serve obscure men.<br/>   <br/></span>
</div>