<div class="chapter" id="Proverbs-024">
  <h2>Proverbs 24</h2>
  <span class="verse" title="Proverbs 24:1" id="Proverbs-24-1">Don&#8217;t be envious of evil men;<br/> <span class="indent">&nbsp;&nbsp;</span>neither desire to be with them:<br/></span>
  <span class="verse" title="Proverbs 24:2" id="Proverbs-24-2">for their hearts plot violence,<br/> <span class="indent">&nbsp;&nbsp;</span>and their lips talk about mischief.<br/></span>
  <span class="verse" title="Proverbs 24:3" id="Proverbs-24-3">Through wisdom a house is built;<br/> <span class="indent">&nbsp;&nbsp;</span>by understanding it is established;<br/></span>
  <span class="verse" title="Proverbs 24:4" id="Proverbs-24-4">by knowledge the rooms are filled<br/> <span class="indent">&nbsp;&nbsp;</span>with all rare and beautiful treasure.<br/></span>
  <span class="verse" title="Proverbs 24:5" id="Proverbs-24-5">A wise man has great power;<br/> <span class="indent">&nbsp;&nbsp;</span>and a knowledgeable man increases strength;<br/></span>
  <span class="verse" title="Proverbs 24:6" id="Proverbs-24-6">for by wise guidance you wage your war;<br/> <span class="indent">&nbsp;&nbsp;</span>and victory is in many advisors.<br/></span>
  <span class="verse" title="Proverbs 24:7" id="Proverbs-24-7">Wisdom is too high for a fool:<br/> <span class="indent">&nbsp;&nbsp;</span>he doesn&#8217;t open his mouth in the gate.<br/></span>
  <span class="verse" title="Proverbs 24:8" id="Proverbs-24-8">One who plots to do evil<br/> <span class="indent">&nbsp;&nbsp;</span>will be called a schemer.<br/></span>
  <span class="verse" title="Proverbs 24:9" id="Proverbs-24-9">The schemes of folly are sin.<br/> <span class="indent">&nbsp;&nbsp;</span>The mocker is detested by men.<br/></span>
  <span class="verse" title="Proverbs 24:10" id="Proverbs-24-10">If you falter in the time of trouble,<br/> <span class="indent">&nbsp;&nbsp;</span>your strength is small.<br/></span>
  <span class="verse" title="Proverbs 24:11" id="Proverbs-24-11">Rescue those who are being led away to death!<br/> <span class="indent">&nbsp;&nbsp;</span>Indeed, hold back those who are staggering to the slaughter!<br/></span>
  <span class="verse" title="Proverbs 24:12" id="Proverbs-24-12">If you say, &#8220;Behold, we didn&#8217;t know this;&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>doesn&#8217;t he who weighs the hearts consider it?<br/>   He who keeps your soul, doesn&#8217;t he know it?<br/> <span class="indent">&nbsp;&nbsp;</span>Shall he not render to every man according to his work?<br/></span>
  <span class="verse" title="Proverbs 24:13" id="Proverbs-24-13">My son, eat honey, for it is good;<br/> <span class="indent">&nbsp;&nbsp;</span>the droppings of the honeycomb, which are sweet to your taste:<br/></span>
  <span class="verse" title="Proverbs 24:14" id="Proverbs-24-14">so you shall know wisdom to be to your soul;<br/> <span class="indent">&nbsp;&nbsp;</span>if you have found it, then there will be a reward,<br/> <span class="indent">&nbsp;&nbsp;</span>your hope will not be cut off.<br/></span>
  <span class="verse" title="Proverbs 24:15" id="Proverbs-24-15">Don&#8217;t lay in wait, wicked man, against the habitation of the righteous.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t destroy his resting place:<br/></span>
  <span class="verse" title="Proverbs 24:16" id="Proverbs-24-16">for a righteous man falls seven times, and rises up again;<br/> <span class="indent">&nbsp;&nbsp;</span>but the wicked are overthrown by calamity.<br/></span>
  <span class="verse" title="Proverbs 24:17" id="Proverbs-24-17">Don&#8217;t rejoice when your enemy falls.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t let your heart be glad when he is overthrown;<br/></span>
  <span class="verse" title="Proverbs 24:18" id="Proverbs-24-18">lest Yahweh see it, and it displease him,<br/> <span class="indent">&nbsp;&nbsp;</span>and he turn away his wrath from him.<br/></span>
  <span class="verse" title="Proverbs 24:19" id="Proverbs-24-19">Don&#8217;t fret yourself because of evildoers;<br/> <span class="indent">&nbsp;&nbsp;</span>neither be envious of the wicked:<br/></span>
  <span class="verse" title="Proverbs 24:20" id="Proverbs-24-20">for there will be no reward to the evil man;<br/> <span class="indent">&nbsp;&nbsp;</span>and the lamp of the wicked shall be snuffed out.<br/></span>
  <span class="verse" title="Proverbs 24:21" id="Proverbs-24-21">My son, fear Yahweh and the king.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t join those who are rebellious:<br/></span>
  <span class="verse" title="Proverbs 24:22" id="Proverbs-24-22">for their calamity will rise suddenly;<br/> <span class="indent">&nbsp;&nbsp;</span>the destruction from them both—who knows?<br/>   <br/></span>
  <span class="verse" title="Proverbs 24:23" id="Proverbs-24-23">These also are sayings of the wise.  To show partiality in judgment is not good.<br/></span>
  <span class="verse" title="Proverbs 24:24" id="Proverbs-24-24">He who says to the wicked, &#8220;You are righteous;&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>peoples shall curse him, and nations shall abhor him—<br/></span>
  <span class="verse" title="Proverbs 24:25" id="Proverbs-24-25">but it will go well with those who convict the guilty,<br/> <span class="indent">&nbsp;&nbsp;</span>and a rich blessing will come on them.<br/></span>
  <span class="verse" title="Proverbs 24:26" id="Proverbs-24-26">An honest answer<br/> <span class="indent">&nbsp;&nbsp;</span>is like a kiss on the lips.<br/></span>
  <span class="verse" title="Proverbs 24:27" id="Proverbs-24-27">Prepare your work outside,<br/> <span class="indent">&nbsp;&nbsp;</span>and get your fields ready.<br/> <span class="indent">&nbsp;&nbsp;</span>Afterwards, build your house.<br/></span>
  <span class="verse" title="Proverbs 24:28" id="Proverbs-24-28">Don&#8217;t be a witness against your neighbor without cause.<br/> <span class="indent">&nbsp;&nbsp;</span>Don&#8217;t deceive with your lips.<br/></span>
  <span class="verse" title="Proverbs 24:29" id="Proverbs-24-29">Don&#8217;t say, &#8220;I will do to him as he has done to me;<br/> <span class="indent">&nbsp;&nbsp;</span>I will render to the man according to his work.&#8221;<br/></span>
  <span class="verse" title="Proverbs 24:30" id="Proverbs-24-30">I went by the field of the sluggard,<br/> <span class="indent">&nbsp;&nbsp;</span>by the vineyard of the man void of understanding;<br/></span>
  <span class="verse" title="Proverbs 24:31" id="Proverbs-24-31">Behold, it was all grown over with thorns.<br/> <span class="indent">&nbsp;&nbsp;</span>Its surface was covered with nettles,<br/> <span class="indent">&nbsp;&nbsp;</span>and its stone wall was broken down.<br/></span>
  <span class="verse" title="Proverbs 24:32" id="Proverbs-24-32">Then I saw, and considered well.<br/> <span class="indent">&nbsp;&nbsp;</span>I saw, and received instruction:<br/></span>
  <span class="verse" title="Proverbs 24:33" id="Proverbs-24-33">a little sleep, a little slumber,<br/> <span class="indent">&nbsp;&nbsp;</span>a little folding of the hands to sleep;<br/></span>
  <span class="verse" title="Proverbs 24:34" id="Proverbs-24-34">so your poverty will come as a robber,<br/> <span class="indent">&nbsp;&nbsp;</span>and your want as an armed man.<br/></span>
</div>