<div class="chapter" id="Proverbs-026">
  <h2>Proverbs 26</h2>
  <span class="verse" title="Proverbs 26:1" id="Proverbs-26-1">Like snow in summer, and as rain in harvest,<br/> <span class="indent">&nbsp;&nbsp;</span>so honor is not fitting for a fool.<br/></span>
  <span class="verse" title="Proverbs 26:2" id="Proverbs-26-2">Like a fluttering sparrow,<br/> <span class="indent">&nbsp;&nbsp;</span>like a darting swallow,<br/> <span class="indent">&nbsp;&nbsp;</span>so the undeserved curse doesn&#8217;t come to rest.<br/></span>
  <span class="verse" title="Proverbs 26:3" id="Proverbs-26-3">A whip is for the horse,<br/> <span class="indent">&nbsp;&nbsp;</span>a bridle for the donkey,<br/> <span class="indent">&nbsp;&nbsp;</span>and a rod for the back of fools!<br/></span>
  <span class="verse" title="Proverbs 26:4" id="Proverbs-26-4">Don&#8217;t answer a fool according to his folly,<br/> <span class="indent">&nbsp;&nbsp;</span>lest you also be like him.<br/></span>
  <span class="verse" title="Proverbs 26:5" id="Proverbs-26-5">Answer a fool according to his folly,<br/> <span class="indent">&nbsp;&nbsp;</span>lest he be wise in his own eyes.<br/></span>
  <span class="verse" title="Proverbs 26:6" id="Proverbs-26-6">One who sends a message by the hand of a fool<br/> <span class="indent">&nbsp;&nbsp;</span>is cutting off feet and drinking violence.<br/></span>
  <span class="verse" title="Proverbs 26:7" id="Proverbs-26-7">Like the legs of the lame that hang loose:<br/> <span class="indent">&nbsp;&nbsp;</span>so is a parable in the mouth of fools.<br/></span>
  <span class="verse" title="Proverbs 26:8" id="Proverbs-26-8">As one who binds a stone in a sling,<br/> <span class="indent">&nbsp;&nbsp;</span>so is he who gives honor to a fool.<br/></span>
  <span class="verse" title="Proverbs 26:9" id="Proverbs-26-9">Like a thornbush that goes into the hand of a drunkard,<br/> <span class="indent">&nbsp;&nbsp;</span>so is a parable in the mouth of fools.<br/></span>
  <span class="verse" title="Proverbs 26:10" id="Proverbs-26-10">As an archer who wounds all,<br/> <span class="indent">&nbsp;&nbsp;</span>so is he who hires a fool<br/> <span class="indent">&nbsp;&nbsp;</span>or he who hires those who pass by.<br/></span>
  <span class="verse" title="Proverbs 26:11" id="Proverbs-26-11">As a dog that returns to his vomit,<br/> <span class="indent">&nbsp;&nbsp;</span>so is a fool who repeats his folly.<br/></span>
  <span class="verse" title="Proverbs 26:12" id="Proverbs-26-12">Do you see a man wise in his own eyes?<br/> <span class="indent">&nbsp;&nbsp;</span>There is more hope for a fool than for him.<br/></span>
  <span class="verse" title="Proverbs 26:13" id="Proverbs-26-13">The sluggard says, &#8220;There is a lion in the road!<br/> <span class="indent">&nbsp;&nbsp;</span>A fierce lion roams the streets!&#8221;<br/></span>
  <span class="verse" title="Proverbs 26:14" id="Proverbs-26-14">As the door turns on its hinges,<br/> <span class="indent">&nbsp;&nbsp;</span>so does the sluggard on his bed.<br/></span>
  <span class="verse" title="Proverbs 26:15" id="Proverbs-26-15">The sluggard buries his hand in the dish.<br/> <span class="indent">&nbsp;&nbsp;</span>He is too lazy to bring it back to his mouth.<br/></span>
  <span class="verse" title="Proverbs 26:16" id="Proverbs-26-16">The sluggard is wiser in his own eyes<br/> <span class="indent">&nbsp;&nbsp;</span>than seven men who answer with discretion.<br/></span>
  <span class="verse" title="Proverbs 26:17" id="Proverbs-26-17">Like one who grabs a dog&#8217;s ears<br/> <span class="indent">&nbsp;&nbsp;</span>is one who passes by and meddles in a quarrel not his own.<br/></span>
  <span class="verse" title="Proverbs 26:18" id="Proverbs-26-18">Like a madman who shoots torches, arrows, and death,<br/> <span class="indent">&nbsp;&nbsp;</span></span>
  <span class="verse" title="Proverbs 26:19" id="Proverbs-26-19">is the man who deceives his neighbor and says, &#8220;Am I not joking?&#8221;<br/></span>
  <span class="verse" title="Proverbs 26:20" id="Proverbs-26-20">For lack of wood a fire goes out.<br/> <span class="indent">&nbsp;&nbsp;</span>Without gossip, a quarrel dies down.<br/></span>
  <span class="verse" title="Proverbs 26:21" id="Proverbs-26-21">As coals are to hot embers,<br/> <span class="indent">&nbsp;&nbsp;</span>and wood to fire,<br/> <span class="indent">&nbsp;&nbsp;</span>so is a contentious man to kindling strife.<br/></span>
  <span class="verse" title="Proverbs 26:22" id="Proverbs-26-22">The words of a whisperer are as dainty morsels,<br/> <span class="indent">&nbsp;&nbsp;</span>they go down into the innermost parts.<br/></span>
  <span class="verse" title="Proverbs 26:23" id="Proverbs-26-23">Like silver dross on an earthen vessel<br/> <span class="indent">&nbsp;&nbsp;</span>are the lips of a fervent one with an evil heart.<br/></span>
  <span class="verse" title="Proverbs 26:24" id="Proverbs-26-24">A malicious man disguises himself with his lips,<br/> <span class="indent">&nbsp;&nbsp;</span>but he harbors evil in his heart.<br/></span>
  <span class="verse" title="Proverbs 26:25" id="Proverbs-26-25">When his speech is charming, don&#8217;t believe him;<br/> <span class="indent">&nbsp;&nbsp;</span>for there are seven abominations in his heart.<br/></span>
  <span class="verse" title="Proverbs 26:26" id="Proverbs-26-26">His malice may be concealed by deception,<br/> <span class="indent">&nbsp;&nbsp;</span>but his wickedness will be exposed in the assembly.<br/></span>
  <span class="verse" title="Proverbs 26:27" id="Proverbs-26-27">Whoever digs a pit shall fall into it.<br/> <span class="indent">&nbsp;&nbsp;</span>Whoever rolls a stone, it will come back on him.<br/></span>
  <span class="verse" title="Proverbs 26:28" id="Proverbs-26-28">A lying tongue hates those it hurts;<br/> <span class="indent">&nbsp;&nbsp;</span>and a flattering mouth works ruin.<br/></span>
</div>