<div class="chapter" id="Proverbs-028">
  <h2>Proverbs 28</h2>
  <span class="verse" title="Proverbs 28:1" id="Proverbs-28-1">The wicked flee when no one pursues;<br/> <span class="indent">&nbsp;&nbsp;</span>but the righteous are as bold as a lion.<br/></span>
  <span class="verse" title="Proverbs 28:2" id="Proverbs-28-2">In rebellion, a land has many rulers,<br/> <span class="indent">&nbsp;&nbsp;</span>but order is maintained by a man of understanding and knowledge.<br/></span>
  <span class="verse" title="Proverbs 28:3" id="Proverbs-28-3">A needy man who oppresses the poor<br/> <span class="indent">&nbsp;&nbsp;</span>is like a driving rain which leaves no crops.<br/></span>
  <span class="verse" title="Proverbs 28:4" id="Proverbs-28-4">Those who forsake the law praise the wicked;<br/> <span class="indent">&nbsp;&nbsp;</span>but those who keep the law contend with them.<br/></span>
  <span class="verse" title="Proverbs 28:5" id="Proverbs-28-5">Evil men don&#8217;t understand justice;<br/> <span class="indent">&nbsp;&nbsp;</span>but those who seek Yahweh understand it fully.<br/></span>
  <span class="verse" title="Proverbs 28:6" id="Proverbs-28-6">Better is the poor who walks in his integrity,<br/> <span class="indent">&nbsp;&nbsp;</span>than he who is perverse in his ways, and he is rich.<br/></span>
  <span class="verse" title="Proverbs 28:7" id="Proverbs-28-7">Whoever keeps the law is a wise son;<br/> <span class="indent">&nbsp;&nbsp;</span>but he who is a companion of gluttons shames his father.<br/></span>
  <span class="verse" title="Proverbs 28:8" id="Proverbs-28-8">He who increases his wealth by excessive interest<br/> <span class="indent">&nbsp;&nbsp;</span>gathers it for one who has pity on the poor.<br/></span>
  <span class="verse" title="Proverbs 28:9" id="Proverbs-28-9">He who turns away his ear from hearing the law,<br/> <span class="indent">&nbsp;&nbsp;</span>even his prayer is an abomination.<br/></span>
  <span class="verse" title="Proverbs 28:10" id="Proverbs-28-10">Whoever causes the upright to go astray in an evil way,<br/> <span class="indent">&nbsp;&nbsp;</span>he will fall into his own trap;<br/> <span class="indent">&nbsp;&nbsp;</span>but the blameless will inherit good.<br/></span>
  <span class="verse" title="Proverbs 28:11" id="Proverbs-28-11">The rich man is wise in his own eyes;<br/> <span class="indent">&nbsp;&nbsp;</span>but the poor who has understanding sees through him.<br/></span>
  <span class="verse" title="Proverbs 28:12" id="Proverbs-28-12">When the righteous triumph, there is great glory;<br/> <span class="indent">&nbsp;&nbsp;</span>but when the wicked rise, men hide themselves.<br/></span>
  <span class="verse" title="Proverbs 28:13" id="Proverbs-28-13">He who conceals his sins doesn&#8217;t prosper,<br/> <span class="indent">&nbsp;&nbsp;</span>but whoever confesses and renounces them finds mercy.<br/></span>
  <span class="verse" title="Proverbs 28:14" id="Proverbs-28-14">Blessed is the man who always fears;<br/> <span class="indent">&nbsp;&nbsp;</span>but one who hardens his heart falls into trouble.<br/></span>
  <span class="verse" title="Proverbs 28:15" id="Proverbs-28-15">As a roaring lion or a charging bear,<br/> <span class="indent">&nbsp;&nbsp;</span>so is a wicked ruler over helpless people.<br/></span>
  <span class="verse" title="Proverbs 28:16" id="Proverbs-28-16">A tyrannical ruler lacks judgment.<br/> <span class="indent">&nbsp;&nbsp;</span>One who hates ill-gotten gain will have long days.<br/></span>
  <span class="verse" title="Proverbs 28:17" id="Proverbs-28-17">A man who is tormented by life blood will be a fugitive until death;<br/> <span class="indent">&nbsp;&nbsp;</span>no one will support him.<br/></span>
  <span class="verse" title="Proverbs 28:18" id="Proverbs-28-18">Whoever walks blamelessly is kept safe;<br/> <span class="indent">&nbsp;&nbsp;</span>but one with perverse ways will fall suddenly.<br/></span>
  <span class="verse" title="Proverbs 28:19" id="Proverbs-28-19">One who works his land will have an abundance of food;<br/> <span class="indent">&nbsp;&nbsp;</span>but one who chases fantasies will have his fill of poverty.<br/></span>
  <span class="verse" title="Proverbs 28:20" id="Proverbs-28-20">A faithful man is rich with blessings;<br/> <span class="indent">&nbsp;&nbsp;</span>but one who is eager to be rich will not go unpunished.<br/></span>
  <span class="verse" title="Proverbs 28:21" id="Proverbs-28-21">To show partiality is not good;<br/> <span class="indent">&nbsp;&nbsp;</span>yet a man will do wrong for a piece of bread.<br/></span>
  <span class="verse" title="Proverbs 28:22" id="Proverbs-28-22">A stingy man hurries after riches,<br/> <span class="indent">&nbsp;&nbsp;</span>and doesn&#8217;t know that poverty waits for him.<br/></span>
  <span class="verse" title="Proverbs 28:23" id="Proverbs-28-23">One who rebukes a man will afterward find more favor<br/> <span class="indent">&nbsp;&nbsp;</span>than one who flatters with the tongue.<br/></span>
  <span class="verse" title="Proverbs 28:24" id="Proverbs-28-24">Whoever robs his father or his mother, and says, &#8220;It&#8217;s not wrong.&#8221;<br/> <span class="indent">&nbsp;&nbsp;</span>He is a partner with a destroyer.<br/></span>
  <span class="verse" title="Proverbs 28:25" id="Proverbs-28-25">One who is greedy stirs up strife;<br/> <span class="indent">&nbsp;&nbsp;</span>but one who trusts in Yahweh will prosper.<br/></span>
  <span class="verse" title="Proverbs 28:26" id="Proverbs-28-26">One who trusts in himself is a fool;<br/> <span class="indent">&nbsp;&nbsp;</span>but one who walks in wisdom is kept safe.<br/></span>
  <span class="verse" title="Proverbs 28:27" id="Proverbs-28-27">One who gives to the poor has no lack;<br/> <span class="indent">&nbsp;&nbsp;</span>but one who closes his eyes will have many curses.<br/></span>
  <span class="verse" title="Proverbs 28:28" id="Proverbs-28-28">When the wicked rise, men hide themselves;<br/> <span class="indent">&nbsp;&nbsp;</span>but when they perish, the righteous thrive.<br/></span>
</div>