<div class="chapter" id="Proverbs-029">
  <h2>Proverbs 29</h2>
  <span class="verse" title="Proverbs 29:1" id="Proverbs-29-1">He who is often rebuked and stiffens his neck<br/> <span class="indent">&nbsp;&nbsp;</span>will be destroyed suddenly, with no remedy.<br/></span>
  <span class="verse" title="Proverbs 29:2" id="Proverbs-29-2">When the righteous thrive, the people rejoice;<br/> <span class="indent">&nbsp;&nbsp;</span>but when the wicked rule, the people groan.<br/></span>
  <span class="verse" title="Proverbs 29:3" id="Proverbs-29-3">Whoever loves wisdom brings joy to his father;<br/> <span class="indent">&nbsp;&nbsp;</span>but a companion of prostitutes squanders his wealth.<br/></span>
  <span class="verse" title="Proverbs 29:4" id="Proverbs-29-4">The king by justice makes the land stable,<br/> <span class="indent">&nbsp;&nbsp;</span>but he who takes bribes tears it down.<br/></span>
  <span class="verse" title="Proverbs 29:5" id="Proverbs-29-5">A man who flatters his neighbor<br/> <span class="indent">&nbsp;&nbsp;</span>spreads a net for his feet.<br/></span>
  <span class="verse" title="Proverbs 29:6" id="Proverbs-29-6">An evil man is snared by his sin,<br/> <span class="indent">&nbsp;&nbsp;</span>but the righteous can sing and be glad.<br/></span>
  <span class="verse" title="Proverbs 29:7" id="Proverbs-29-7">The righteous care about justice for the poor.<br/> <span class="indent">&nbsp;&nbsp;</span>The wicked aren&#8217;t concerned about knowledge.<br/></span>
  <span class="verse" title="Proverbs 29:8" id="Proverbs-29-8">Mockers stir up a city,<br/> <span class="indent">&nbsp;&nbsp;</span>but wise men turn away anger.<br/></span>
  <span class="verse" title="Proverbs 29:9" id="Proverbs-29-9">If a wise man goes to court with a foolish man,<br/> <span class="indent">&nbsp;&nbsp;</span>the fool rages or scoffs, and there is no peace.<br/></span>
  <span class="verse" title="Proverbs 29:10" id="Proverbs-29-10">The bloodthirsty hate a man of integrity;<br/> <span class="indent">&nbsp;&nbsp;</span>and they seek the life of the upright.<br/></span>
  <span class="verse" title="Proverbs 29:11" id="Proverbs-29-11">A fool vents all of his anger,<br/> <span class="indent">&nbsp;&nbsp;</span>but a wise man brings himself under control.<br/></span>
  <span class="verse" title="Proverbs 29:12" id="Proverbs-29-12">If a ruler listens to lies,<br/> <span class="indent">&nbsp;&nbsp;</span>all of his officials are wicked.<br/></span>
  <span class="verse" title="Proverbs 29:13" id="Proverbs-29-13">The poor man and the oppressor have this in common:<br/> <span class="indent">&nbsp;&nbsp;</span>Yahweh gives sight to the eyes of both.<br/></span>
  <span class="verse" title="Proverbs 29:14" id="Proverbs-29-14">The king who fairly judges the poor,<br/> <span class="indent">&nbsp;&nbsp;</span>his throne shall be established forever.<br/></span>
  <span class="verse" title="Proverbs 29:15" id="Proverbs-29-15">The rod of correction gives wisdom,<br/> <span class="indent">&nbsp;&nbsp;</span>but a child left to himself causes shame to his mother.<br/></span>
  <span class="verse" title="Proverbs 29:16" id="Proverbs-29-16">When the wicked increase, sin increases;<br/> <span class="indent">&nbsp;&nbsp;</span>but the righteous will see their downfall.<br/></span>
  <span class="verse" title="Proverbs 29:17" id="Proverbs-29-17">Correct your son, and he will give you peace;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, he will bring delight to your soul.<br/></span>
  <span class="verse" title="Proverbs 29:18" id="Proverbs-29-18">Where there is no revelation, the people cast off restraint;<br/> <span class="indent">&nbsp;&nbsp;</span>but one who keeps the law is blessed.<br/></span>
  <span class="verse" title="Proverbs 29:19" id="Proverbs-29-19">A servant can&#8217;t be corrected by words.<br/> <span class="indent">&nbsp;&nbsp;</span>Though he understands, yet he will not respond.<br/></span>
  <span class="verse" title="Proverbs 29:20" id="Proverbs-29-20">Do you see a man who is hasty in his words?<br/> <span class="indent">&nbsp;&nbsp;</span>There is more hope for a fool than for him.<br/></span>
  <span class="verse" title="Proverbs 29:21" id="Proverbs-29-21">He who pampers his servant from youth<br/> <span class="indent">&nbsp;&nbsp;</span>will have him become a son in the end.<br/></span>
  <span class="verse" title="Proverbs 29:22" id="Proverbs-29-22">An angry man stirs up strife,<br/> <span class="indent">&nbsp;&nbsp;</span>and a wrathful man abounds in sin.<br/></span>
  <span class="verse" title="Proverbs 29:23" id="Proverbs-29-23">A man&#8217;s pride brings him low,<br/> <span class="indent">&nbsp;&nbsp;</span>but one of lowly spirit gains honor.<br/></span>
  <span class="verse" title="Proverbs 29:24" id="Proverbs-29-24">Whoever is an accomplice of a thief is an enemy of his own soul.<br/> <span class="indent">&nbsp;&nbsp;</span>He takes an oath, but dares not testify.<br/></span>
  <span class="verse" title="Proverbs 29:25" id="Proverbs-29-25">The fear of man proves to be a snare,<br/> <span class="indent">&nbsp;&nbsp;</span>but whoever puts his trust in Yahweh is kept safe.<br/></span>
  <span class="verse" title="Proverbs 29:26" id="Proverbs-29-26">Many seek the ruler&#8217;s favor,<br/> <span class="indent">&nbsp;&nbsp;</span>but a man&#8217;s justice comes from Yahweh.<br/></span>
  <span class="verse" title="Proverbs 29:27" id="Proverbs-29-27">A dishonest man detests the righteous,<br/> <span class="indent">&nbsp;&nbsp;</span>and the upright in their ways detest the wicked.<br/>   <br/></span>
</div>