<div class="chapter" id="Proverbs-031">
  <h2>Proverbs 31</h2>
  <span class="verse" title="Proverbs 31:1" id="Proverbs-31-1">The words of king Lemuel; the oracle which his mother taught him.</span>
  <span class="verse" title="Proverbs 31:2" id="Proverbs-31-2">&#8220;Oh, my son!<br/> <span class="indent">&nbsp;&nbsp;</span>Oh, son of my womb!<br/> <span class="indent">&nbsp;&nbsp;</span>Oh, son of my vows!<br/></span>
  <span class="verse" title="Proverbs 31:3" id="Proverbs-31-3">Don&#8217;t give your strength to women,<br/> <span class="indent">&nbsp;&nbsp;</span>nor your ways to that which destroys kings.<br/></span>
  <span class="verse" title="Proverbs 31:4" id="Proverbs-31-4">It is not for kings, Lemuel;<br/> <span class="indent">&nbsp;&nbsp;</span>it is not for kings to drink wine;<br/> <span class="indent">&nbsp;&nbsp;</span>nor for princes to say, &#8216;Where is strong drink?&#8217;<br/></span>
  <span class="verse" title="Proverbs 31:5" id="Proverbs-31-5">lest they drink, and forget the law,<br/> <span class="indent">&nbsp;&nbsp;</span>and pervert the justice due to anyone who is afflicted.<br/></span>
  <span class="verse" title="Proverbs 31:6" id="Proverbs-31-6">Give strong drink to him who is ready to perish;<br/> <span class="indent">&nbsp;&nbsp;</span>and wine to the bitter in soul:<br/></span>
  <span class="verse" title="Proverbs 31:7" id="Proverbs-31-7">Let him drink, and forget his poverty,<br/> <span class="indent">&nbsp;&nbsp;</span>and remember his misery no more.<br/></span>
  <span class="verse" title="Proverbs 31:8" id="Proverbs-31-8">Open your mouth for the mute,<br/> <span class="indent">&nbsp;&nbsp;</span>in the cause of all who are left desolate.<br/></span>
  <span class="verse" title="Proverbs 31:9" id="Proverbs-31-9">Open your mouth, judge righteously,<br/> <span class="indent">&nbsp;&nbsp;</span>and serve justice to the poor and needy.&#8221;<br/>   <br/></span>
  <span class="verse" title="Proverbs 31:10" id="Proverbs-31-10">Who can find a worthy woman?<br/> <span class="indent">&nbsp;&nbsp;</span>For her price is far above rubies.<br/></span>
  <span class="verse" title="Proverbs 31:11" id="Proverbs-31-11">The heart of her husband trusts in her.<br/> <span class="indent">&nbsp;&nbsp;</span>He shall have no lack of gain.<br/></span>
  <span class="verse" title="Proverbs 31:12" id="Proverbs-31-12">She does him good, and not harm,<br/> <span class="indent">&nbsp;&nbsp;</span>all the days of her life.<br/></span>
  <span class="verse" title="Proverbs 31:13" id="Proverbs-31-13">She seeks wool and flax,<br/> <span class="indent">&nbsp;&nbsp;</span>and works eagerly with her hands.<br/></span>
  <span class="verse" title="Proverbs 31:14" id="Proverbs-31-14">She is like the merchant ships.<br/> <span class="indent">&nbsp;&nbsp;</span>She brings her bread from afar.<br/></span>
  <span class="verse" title="Proverbs 31:15" id="Proverbs-31-15">She rises also while it is yet night,<br/> <span class="indent">&nbsp;&nbsp;</span>gives food to her household,<br/> <span class="indent">&nbsp;&nbsp;</span>and portions for her servant girls.<br/></span>
  <span class="verse" title="Proverbs 31:16" id="Proverbs-31-16">She considers a field, and buys it.<br/> <span class="indent">&nbsp;&nbsp;</span>With the fruit of her hands, she plants a vineyard.<br/></span>
  <span class="verse" title="Proverbs 31:17" id="Proverbs-31-17">She arms her waist with strength,<br/> <span class="indent">&nbsp;&nbsp;</span>and makes her arms strong.<br/></span>
  <span class="verse" title="Proverbs 31:18" id="Proverbs-31-18">She perceives that her merchandise is profitable.<br/> <span class="indent">&nbsp;&nbsp;</span>Her lamp doesn&#8217;t go out by night.<br/></span>
  <span class="verse" title="Proverbs 31:19" id="Proverbs-31-19">She lays her hands to the distaff,<br/> <span class="indent">&nbsp;&nbsp;</span>and her hands hold the spindle.<br/></span>
  <span class="verse" title="Proverbs 31:20" id="Proverbs-31-20">She opens her arms to the poor;<br/> <span class="indent">&nbsp;&nbsp;</span>yes, she extends her hands to the needy.<br/></span>
  <span class="verse" title="Proverbs 31:21" id="Proverbs-31-21">She is not afraid of the snow for her household;<br/> <span class="indent">&nbsp;&nbsp;</span>for all her household are clothed with scarlet.<br/></span>
  <span class="verse" title="Proverbs 31:22" id="Proverbs-31-22">She makes for herself carpets of tapestry.<br/> <span class="indent">&nbsp;&nbsp;</span>Her clothing is fine linen and purple.<br/></span>
  <span class="verse" title="Proverbs 31:23" id="Proverbs-31-23">Her husband is respected in the gates,<br/> <span class="indent">&nbsp;&nbsp;</span>when he sits among the elders of the land.<br/></span>
  <span class="verse" title="Proverbs 31:24" id="Proverbs-31-24">She makes linen garments and sells them,<br/> <span class="indent">&nbsp;&nbsp;</span>and delivers sashes to the merchant.<br/></span>
  <span class="verse" title="Proverbs 31:25" id="Proverbs-31-25">Strength and dignity are her clothing.<br/> <span class="indent">&nbsp;&nbsp;</span>She laughs at the time to come.<br/></span>
  <span class="verse" title="Proverbs 31:26" id="Proverbs-31-26">She opens her mouth with wisdom.<br/> <span class="indent">&nbsp;&nbsp;</span>Faithful instruction is on her tongue.<br/></span>
  <span class="verse" title="Proverbs 31:27" id="Proverbs-31-27">She looks well to the ways of her household,<br/> <span class="indent">&nbsp;&nbsp;</span>and doesn&#8217;t eat the bread of idleness.<br/></span>
  <span class="verse" title="Proverbs 31:28" id="Proverbs-31-28">Her children rise up and call her blessed.<br/> <span class="indent">&nbsp;&nbsp;</span>Her husband also praises her:<br/></span>
  <span class="verse" title="Proverbs 31:29" id="Proverbs-31-29">&#8220;Many women do noble things,<br/> <span class="indent">&nbsp;&nbsp;</span>but you excel them all.&#8221;<br/></span>
  <span class="verse" title="Proverbs 31:30" id="Proverbs-31-30">Charm is deceitful, and beauty is vain;<br/> <span class="indent">&nbsp;&nbsp;</span>but a woman who fears Yahweh, she shall be praised.<br/></span>
  <span class="verse" title="Proverbs 31:31" id="Proverbs-31-31">Give her of the fruit of her hands!<br/> <span class="indent">&nbsp;&nbsp;</span>Let her works praise her in the gates!<br/></span>
</div>