<% if (setup = @info.cron_setup) == true %>
  <h2 class="status">Cron: <strong class="go">Configured</strong> <%= image_tag 'checkmark.png', :alt => 'Up-to-date', :class => 'icon' %></h2>
<% elsif setup.is_a? Array %>
  <h2 class="status">Cron: <strong class="stop">Not Set Up</strong></h2>
  <p>Looks like a few things are missing from your <code>/etc/crontab</code> file:</p>
  <ul>
    <% setup.each do |missing| %>
      <li><%=h missing %></li>
    <% end %>
  </ul>
  <p>See <%= link_to 'CronSetup', 'http://beonebody.org/trac/wiki/CronSetup' %> 
    on the wiki for help getting it all set up.</p>
<% else %>
  <h2 class="status">Cron: <strong>Not Found</strong></h2>
  <p>The <code>/etc/crontab</code> file could not be found. Perhaps you're on Windows or your file is inaccessible?</p>
<% end %>