<h1><%= t('admin.group_membership_requests') %></h1>

<table>
  <% @reqs_by_group.each do |group, reqs| %>
    <tr>
      <td><%= group ? link_to(h(group.name), group) : '(' + t('groups.deleted') + ')' %></td>
      <td><%= link_to t('admin.request', :count => reqs.length), group_memberships_path(group) %></td>
    </tr>
  <% end %>
</table>
