<div class="chapter" id="Deuteronomy-006">
  <h2>Deuteronomy 6</h2>
  <span class="verse" title="Deuteronomy 6:1" id="Deuteronomy-6-1">Now this is the commandment, the statutes, and the ordinances, which Yahweh your God commanded to teach you, that you might do them in the land where you go over to possess it;</span>
  <span class="verse" title="Deuteronomy 6:2" id="Deuteronomy-6-2">that you might fear Yahweh your God, to keep all his statutes and his commandments, which I command you, you, and your son, and your son&#8217;s son, all the days of your life; and that your days may be prolonged.</span>
  <span class="verse" title="Deuteronomy 6:3" id="Deuteronomy-6-3">Hear therefore, Israel, and observe to do it; that it may be well with you, and that you may increase mightily, as Yahweh, the God of your fathers, has promised to you, in a land flowing with milk and honey.</span>
  <span class="verse" title="Deuteronomy 6:4" id="Deuteronomy-6-4">Hear, Israel: Yahweh is our God; Yahweh is one:</span>
  <span class="verse" title="Deuteronomy 6:5" id="Deuteronomy-6-5">and you shall love Yahweh your God with all your heart, and with all your soul, and with all your might.</span>
  <span class="verse" title="Deuteronomy 6:6" id="Deuteronomy-6-6">These words, which I command you this day, shall be on your heart;</span>
  <span class="verse" title="Deuteronomy 6:7" id="Deuteronomy-6-7">and you shall teach them diligently to your children, and shall talk of them when you sit in your house, and when you walk by the way, and when you lie down, and when you rise up.</span>
  <span class="verse" title="Deuteronomy 6:8" id="Deuteronomy-6-8">You shall bind them for a sign on your hand, and they shall be for symbols between your eyes.</span>
  <span class="verse" title="Deuteronomy 6:9" id="Deuteronomy-6-9">You shall write them on the door posts of your house, and on your gates.</span>
  <span class="verse" title="Deuteronomy 6:10" id="Deuteronomy-6-10">It shall be, when Yahweh your God shall bring you into the land which he swore to your fathers, to Abraham, to Isaac, and to Jacob, to give you, great and goodly cities, which you didn&#8217;t build,</span>
  <span class="verse" title="Deuteronomy 6:11" id="Deuteronomy-6-11">and houses full of all good things, which you didn&#8217;t fill, and cisterns dug out, which you didn&#8217;t dig, vineyards and olive trees, which you didn&#8217;t plant, and you shall eat and be full;</span>
  <span class="verse" title="Deuteronomy 6:12" id="Deuteronomy-6-12">then beware lest you forget Yahweh, who brought you forth out of the land of Egypt, out of the house of bondage.</span>
  <span class="verse" title="Deuteronomy 6:13" id="Deuteronomy-6-13">You shall fear Yahweh your God; and you shall serve him, and shall swear by his name.</span>
  <span class="verse" title="Deuteronomy 6:14" id="Deuteronomy-6-14">You shall not go after other gods, of the gods of the peoples who are around you;</span>
  <span class="verse" title="Deuteronomy 6:15" id="Deuteronomy-6-15">for Yahweh your God in the midst of you is a jealous God; lest the anger of Yahweh your God be kindled against you, and he destroy you from off the face of the earth.</span>
  <span class="verse" title="Deuteronomy 6:16" id="Deuteronomy-6-16">You shall not tempt Yahweh your God, as you tempted him in Massah.</span>
  <span class="verse" title="Deuteronomy 6:17" id="Deuteronomy-6-17">You shall diligently keep the commandments of Yahweh your God, and his testimonies, and his statutes, which he has commanded you.</span>
  <span class="verse" title="Deuteronomy 6:18" id="Deuteronomy-6-18">You shall do that which is right and good in the sight of Yahweh; that it may be well with you, and that you may go in and possess the good land which Yahweh swore to your fathers,</span>
  <span class="verse" title="Deuteronomy 6:19" id="Deuteronomy-6-19">to thrust out all your enemies from before you, as Yahweh has spoken.</span>
  <span class="verse" title="Deuteronomy 6:20" id="Deuteronomy-6-20">When your son asks you in time to come, saying, &#8220;What do the testimonies, the statutes, and the ordinances, which Yahweh our God has commanded you mean?&#8221;</span>
  <span class="verse" title="Deuteronomy 6:21" id="Deuteronomy-6-21">then you shall tell your son, &#8220;We were Pharaoh&#8217;s bondservants in Egypt: and Yahweh brought us out of Egypt with a mighty hand;</span>
  <span class="verse" title="Deuteronomy 6:22" id="Deuteronomy-6-22">and Yahweh showed great and awesome signs and wonders on Egypt, on Pharaoh, and on all his house, before our eyes;</span>
  <span class="verse" title="Deuteronomy 6:23" id="Deuteronomy-6-23">and he brought us out from there, that he might bring us in, to give us the land which he swore to our fathers.</span>
  <span class="verse" title="Deuteronomy 6:24" id="Deuteronomy-6-24">Yahweh commanded us to do all these statutes, to fear Yahweh our God, for our good always, that he might preserve us alive, as at this day.</span>
  <span class="verse" title="Deuteronomy 6:25" id="Deuteronomy-6-25">It shall be righteousness to us, if we observe to do all this commandment before Yahweh our God, as he has commanded us.&#8221;</span>
</div>