<div class="chapter" id="Deuteronomy-008">
  <h2>Deuteronomy 8</h2>
  <span class="verse" title="Deuteronomy 8:1" id="Deuteronomy-8-1">You shall observe to do all the commandment which I command you this day, that you may live, and multiply, and go in and possess the land which Yahweh swore to your fathers.</span>
  <span class="verse" title="Deuteronomy 8:2" id="Deuteronomy-8-2">You shall remember all the way which Yahweh your God has led you these forty years in the wilderness, that he might humble you, to prove you, to know what was in your heart, whether you would keep his commandments, or not.</span>
  <span class="verse" title="Deuteronomy 8:3" id="Deuteronomy-8-3">He humbled you, and allowed you to be hungry, and fed you with manna, which you didn&#8217;t know, neither did your fathers know; that he might make you know that man does not live by bread only, but man lives by everything that proceeds out of the mouth of Yahweh.</span>
  <span class="verse" title="Deuteronomy 8:4" id="Deuteronomy-8-4">Your clothing didn&#8217;t grow old on you, neither did your foot swell, these forty years.</span>
  <span class="verse" title="Deuteronomy 8:5" id="Deuteronomy-8-5">You shall consider in your heart that as a man chastens his son, so Yahweh your God chastens you.</span>
  <span class="verse" title="Deuteronomy 8:6" id="Deuteronomy-8-6">You shall keep the commandments of Yahweh your God, to walk in his ways, and to fear him.</span>
  <span class="verse" title="Deuteronomy 8:7" id="Deuteronomy-8-7">For Yahweh your God brings you into a good land, a land of brooks of water, of springs, and underground water flowing into valleys and hills;</span>
  <span class="verse" title="Deuteronomy 8:8" id="Deuteronomy-8-8">a land of wheat and barley, and vines and fig trees and pomegranates; a land of olive trees and honey;</span>
  <span class="verse" title="Deuteronomy 8:9" id="Deuteronomy-8-9">a land in which you shall eat bread without scarceness, you shall not lack anything in it; a land whose stones are iron, and out of whose hills you may dig copper.</span>
  <span class="verse" title="Deuteronomy 8:10" id="Deuteronomy-8-10">You shall eat and be full, and you shall bless Yahweh your God for the good land which he has given you.</span>
  <span class="verse" title="Deuteronomy 8:11" id="Deuteronomy-8-11">Beware lest you forget Yahweh your God, in not keeping his commandments, and his ordinances, and his statutes, which I command you this day:</span>
  <span class="verse" title="Deuteronomy 8:12" id="Deuteronomy-8-12">lest, when you have eaten and are full, and have built goodly houses, and lived therein;</span>
  <span class="verse" title="Deuteronomy 8:13" id="Deuteronomy-8-13">and when your herds and your flocks multiply, and your silver and your gold is multiplied, and all that you have is multiplied;</span>
  <span class="verse" title="Deuteronomy 8:14" id="Deuteronomy-8-14">then your heart be lifted up, and you forget Yahweh your God, who brought you forth out of the land of Egypt, out of the house of bondage;</span>
  <span class="verse" title="Deuteronomy 8:15" id="Deuteronomy-8-15">who led you through the great and terrible wilderness, with fiery serpents and scorpions, and thirsty ground where there was no water; who brought you forth water out of the rock of flint;</span>
  <span class="verse" title="Deuteronomy 8:16" id="Deuteronomy-8-16">who fed you in the wilderness with manna, which your fathers didn&#8217;t know; that he might humble you, and that he might prove you, to do you good at your latter end:</span>
  <span class="verse" title="Deuteronomy 8:17" id="Deuteronomy-8-17">and lest you say in your heart, &#8220;My power and the might of my hand has gotten me this wealth.&#8221;</span>
  <span class="verse" title="Deuteronomy 8:18" id="Deuteronomy-8-18">But you shall remember Yahweh your God, for it is he who gives you power to get wealth; that he may establish his covenant which he swore to your fathers, as at this day.</span>
  <span class="verse" title="Deuteronomy 8:19" id="Deuteronomy-8-19">It shall be, if you shall forget Yahweh your God, and walk after other gods, and serve them, and worship them, I testify against you this day that you shall surely perish.</span>
  <span class="verse" title="Deuteronomy 8:20" id="Deuteronomy-8-20">As the nations that Yahweh makes to perish before you, so you shall perish; because you wouldn&#8217;t listen to the voice of Yahweh your God.</span>
</div>