<div class="chapter" id="Deuteronomy-010">
  <h2>Deuteronomy 10</h2>
  <span class="verse" title="Deuteronomy 10:1" id="Deuteronomy-10-1">At that time Yahweh said to me, &#8220;Cut two tables of stone like the first, and come up to me onto the mountain, and make an ark of wood.</span>
  <span class="verse" title="Deuteronomy 10:2" id="Deuteronomy-10-2">I will write on the tables the words that were on the first tables which you broke, and you shall put them in the ark.&#8221;</span>
  <span class="verse" title="Deuteronomy 10:3" id="Deuteronomy-10-3">So I made an ark of acacia wood, and cut two tables of stone like the first, and went up onto the mountain, having the two tables in my hand.</span>
  <span class="verse" title="Deuteronomy 10:4" id="Deuteronomy-10-4">He wrote on the tables, according to the first writing, the ten commandments, which Yahweh spoke to you on the mountain out of the midst of the fire in the day of the assembly: and Yahweh gave them to me.</span>
  <span class="verse" title="Deuteronomy 10:5" id="Deuteronomy-10-5">I turned and came down from the mountain, and put the tables in the ark which I had made; and there they are as Yahweh commanded me.</span>
  <span class="verse" title="Deuteronomy 10:6" id="Deuteronomy-10-6">(The children of Israel traveled from Beeroth Bene Jaakan to Moserah. There Aaron died, and there he was buried; and Eleazar his son ministered in the priest&#8217;s office in his place.</span>
  <span class="verse" title="Deuteronomy 10:7" id="Deuteronomy-10-7">From there they traveled to Gudgodah; and from Gudgodah to Jotbathah, a land of brooks of water.</span>
  <span class="verse" title="Deuteronomy 10:8" id="Deuteronomy-10-8">At that time Yahweh set apart the tribe of Levi, to bear the ark of the covenant of Yahweh, to stand before Yahweh to minister to him, and to bless in his name, to this day.</span>
  <span class="verse" title="Deuteronomy 10:9" id="Deuteronomy-10-9">Therefore Levi has no portion nor inheritance with his brothers; Yahweh is his inheritance, according as Yahweh your God spoke to him.)</span>
  <span class="verse" title="Deuteronomy 10:10" id="Deuteronomy-10-10">I stayed on the mountain, as at the first time, forty days and forty nights: and Yahweh listened to me that time also; Yahweh would not destroy you.</span>
  <span class="verse" title="Deuteronomy 10:11" id="Deuteronomy-10-11">Yahweh said to me, &#8220;Arise, take your journey before the people; and they shall go in and possess the land, which I swore to their fathers to give to them.&#8221;</span>
  <span class="verse" title="Deuteronomy 10:12" id="Deuteronomy-10-12">Now, Israel, what does Yahweh your God require of you, but to fear Yahweh your God, to walk in all his ways, and to love him, and to serve Yahweh your God with all your heart and with all your soul,</span>
  <span class="verse" title="Deuteronomy 10:13" id="Deuteronomy-10-13">to keep the commandments of Yahweh, and his statutes, which I command you this day for your good?</span>
  <span class="verse" title="Deuteronomy 10:14" id="Deuteronomy-10-14">Behold, to Yahweh your God belongs heaven and the heaven of heavens, the earth, with all that is therein.</span>
  <span class="verse" title="Deuteronomy 10:15" id="Deuteronomy-10-15">Only Yahweh had a delight in your fathers to love them, and he chose their seed after them, even you above all peoples, as at this day.</span>
  <span class="verse" title="Deuteronomy 10:16" id="Deuteronomy-10-16">Circumcise therefore the foreskin of your heart, and be no more stiff-necked.</span>
  <span class="verse" title="Deuteronomy 10:17" id="Deuteronomy-10-17">For Yahweh your God, he is God of gods, and Lord of lords, the great God, the mighty, and the awesome, who doesn&#8217;t respect persons, nor takes reward.</span>
  <span class="verse" title="Deuteronomy 10:18" id="Deuteronomy-10-18">He does execute justice for the fatherless and widow, and loves the foreigner, in giving him food and clothing.</span>
  <span class="verse" title="Deuteronomy 10:19" id="Deuteronomy-10-19">Therefore love the foreigner; for you were foreigners in the land of Egypt.</span>
  <span class="verse" title="Deuteronomy 10:20" id="Deuteronomy-10-20">You shall fear Yahweh your God; you shall serve him; and you shall cling to him, and you shall swear by his name.</span>
  <span class="verse" title="Deuteronomy 10:21" id="Deuteronomy-10-21">He is your praise, and he is your God, who has done for you these great and awesome things, which your eyes have seen.</span>
  <span class="verse" title="Deuteronomy 10:22" id="Deuteronomy-10-22">Your fathers went down into Egypt with seventy persons; and now Yahweh your God has made you as the stars of the sky for multitude.</span>
</div>