<div class="chapter" id="Deuteronomy-014">
  <h2>Deuteronomy 14</h2>
  <span class="verse" title="Deuteronomy 14:1" id="Deuteronomy-14-1">You are the children of Yahweh your God: you shall not cut yourselves, nor make any baldness between your eyes for the dead.</span>
  <span class="verse" title="Deuteronomy 14:2" id="Deuteronomy-14-2">For you are a holy people to Yahweh your God, and Yahweh has chosen you to be a people for his own possession, above all peoples who are on the face of the earth.</span>
  <span class="verse" title="Deuteronomy 14:3" id="Deuteronomy-14-3">You shall not eat any abominable thing.</span>
  <span class="verse" title="Deuteronomy 14:4" id="Deuteronomy-14-4">These are the animals which you may eat: the ox, the sheep, and the goat,</span>
  <span class="verse" title="Deuteronomy 14:5" id="Deuteronomy-14-5">the hart, and the gazelle, and the roebuck, and the wild goat, and the ibex, and the antelope, and the chamois.</span>
  <span class="verse" title="Deuteronomy 14:6" id="Deuteronomy-14-6">Every animal that parts the hoof, and has the hoof cloven in two and chews the cud, among the animals, that may you eat.</span>
  <span class="verse" title="Deuteronomy 14:7" id="Deuteronomy-14-7">Nevertheless these you shall not eat of them that chew the cud, or of those who have the hoof cloven: the camel, and the hare, and the rabbit; because they chew the cud but don&#8217;t part the hoof, they are unclean to you.</span>
  <span class="verse" title="Deuteronomy 14:8" id="Deuteronomy-14-8">The pig, because it has a split hoof but doesn&#8217;t chew the cud, is unclean to you: of their flesh you shall not eat, and their carcasses you shall not touch.</span>
  <span class="verse" title="Deuteronomy 14:9" id="Deuteronomy-14-9">These you may eat of all that are in the waters: whatever has fins and scales may you eat;</span>
  <span class="verse" title="Deuteronomy 14:10" id="Deuteronomy-14-10">and whatever doesn&#8217;t have fins and scales you shall not eat; it is unclean to you.</span>
  <span class="verse" title="Deuteronomy 14:11" id="Deuteronomy-14-11">Of all clean birds you may eat.</span>
  <span class="verse" title="Deuteronomy 14:12" id="Deuteronomy-14-12">But these are they of which you shall not eat: the eagle, and the vulture, and the osprey,</span>
  <span class="verse" title="Deuteronomy 14:13" id="Deuteronomy-14-13">and the red kite, and the falcon, and the kite after its kind,</span>
  <span class="verse" title="Deuteronomy 14:14" id="Deuteronomy-14-14">and every raven after its kind,</span>
  <span class="verse" title="Deuteronomy 14:15" id="Deuteronomy-14-15">and the ostrich, and the owl, and the seagull, and the hawk after its kind,</span>
  <span class="verse" title="Deuteronomy 14:16" id="Deuteronomy-14-16">the little owl, and the great owl, and the horned owl,</span>
  <span class="verse" title="Deuteronomy 14:17" id="Deuteronomy-14-17">and the pelican, and the vulture, and the cormorant,</span>
  <span class="verse" title="Deuteronomy 14:18" id="Deuteronomy-14-18">and the stork, and the heron after its kind, and the hoopoe, and the bat.</span>
  <span class="verse" title="Deuteronomy 14:19" id="Deuteronomy-14-19">All winged creeping things are unclean to you: they shall not be eaten.</span>
  <span class="verse" title="Deuteronomy 14:20" id="Deuteronomy-14-20">Of all clean birds you may eat.</span>
  <span class="verse" title="Deuteronomy 14:21" id="Deuteronomy-14-21">You shall not eat of anything that dies of itself: you may give it to the foreigner living among you who is within your gates, that he may eat it; or you may sell it to a foreigner: for you are a holy people to Yahweh your God. You shall not boil a young goat in its mother&#8217;s milk.</span>
  <span class="verse" title="Deuteronomy 14:22" id="Deuteronomy-14-22">You shall surely tithe all the increase of your seed, that which comes forth from the field year by year.</span>
  <span class="verse" title="Deuteronomy 14:23" id="Deuteronomy-14-23">You shall eat before Yahweh your God, in the place which he shall choose, to cause his name to dwell there, the tithe of your grain, of your new wine, and of your oil, and the firstborn of your herd and of your flock; that you may learn to fear Yahweh your God always.</span>
  <span class="verse" title="Deuteronomy 14:24" id="Deuteronomy-14-24">If the way is too long for you, so that you are not able to carry it, because the place is too far from you, which Yahweh your God shall choose, to set his name there, when Yahweh your God shall bless you;</span>
  <span class="verse" title="Deuteronomy 14:25" id="Deuteronomy-14-25">then you shall turn it into money, and bind up the money in your hand, and shall go to the place which Yahweh your God shall choose:</span>
  <span class="verse" title="Deuteronomy 14:26" id="Deuteronomy-14-26">and you shall bestow the money for whatever your soul desires, for cattle, or for sheep, or for wine, or for strong drink, or for whatever your soul asks of you; and you shall eat there before Yahweh your God, and you shall rejoice, you and your household.</span>
  <span class="verse" title="Deuteronomy 14:27" id="Deuteronomy-14-27">The Levite who is within your gates, you shall not forsake him; for he has no portion nor inheritance with you.</span>
  <span class="verse" title="Deuteronomy 14:28" id="Deuteronomy-14-28">At the end of every three years you shall bring forth all the tithe of your increase in the same year, and shall lay it up within your gates:</span>
  <span class="verse" title="Deuteronomy 14:29" id="Deuteronomy-14-29">and the Levite, because he has no portion nor inheritance with you, and the foreigner living among you, and the fatherless, and the widow, who are within your gates, shall come, and shall eat and be satisfied; that Yahweh your God may bless you in all the work of your hand which you do.</span>
</div>