<div class="chapter" id="Deuteronomy-018">
  <h2>Deuteronomy 18</h2>
  <span class="verse" title="Deuteronomy 18:1" id="Deuteronomy-18-1">The priests the Levites, all the tribe of Levi, shall have no portion nor inheritance with Israel: they shall eat the offerings of Yahweh made by fire, and his inheritance.</span>
  <span class="verse" title="Deuteronomy 18:2" id="Deuteronomy-18-2">They shall have no inheritance among their brothers: Yahweh is their inheritance, as he has spoken to them.</span>
  <span class="verse" title="Deuteronomy 18:3" id="Deuteronomy-18-3">This shall be the priests&#8217; due from the people, from those who offer a sacrifice, whether it be ox or sheep, that they shall give to the priest the shoulder, and the two cheeks, and the maw.</span>
  <span class="verse" title="Deuteronomy 18:4" id="Deuteronomy-18-4">The first fruits of your grain, of your new wine, and of your oil, and the first of the fleece of your sheep, you shall give him.</span>
  <span class="verse" title="Deuteronomy 18:5" id="Deuteronomy-18-5">For Yahweh your God has chosen him out of all your tribes, to stand to minister in the name of Yahweh, him and his sons for ever.</span>
  <span class="verse" title="Deuteronomy 18:6" id="Deuteronomy-18-6">If a Levite comes from any of your gates out of all Israel, where he lives as a foreigner, and comes with all the desire of his soul to the place which Yahweh shall choose;</span>
  <span class="verse" title="Deuteronomy 18:7" id="Deuteronomy-18-7">then he shall minister in the name of Yahweh his God, as all his brothers the Levites do, who stand there before Yahweh.</span>
  <span class="verse" title="Deuteronomy 18:8" id="Deuteronomy-18-8">They shall have like portions to eat, besides that which comes of the sale of his patrimony.</span>
  <span class="verse" title="Deuteronomy 18:9" id="Deuteronomy-18-9">When you have come into the land which Yahweh your God gives you, you shall not learn to do after the abominations of those nations.</span>
  <span class="verse" title="Deuteronomy 18:10" id="Deuteronomy-18-10">There shall not be found with you anyone who makes his son or his daughter to pass through the fire, one who uses divination, one who practices sorcery, or an enchanter, or a sorcerer,</span>
  <span class="verse" title="Deuteronomy 18:11" id="Deuteronomy-18-11">or a charmer, or a consulter with a familiar spirit, or a wizard, or a necromancer.</span>
  <span class="verse" title="Deuteronomy 18:12" id="Deuteronomy-18-12">For whoever does these things is an abomination to Yahweh: and because of these abominations Yahweh your God does drive them out from before you.</span>
  <span class="verse" title="Deuteronomy 18:13" id="Deuteronomy-18-13">You shall be perfect with Yahweh your God.</span>
  <span class="verse" title="Deuteronomy 18:14" id="Deuteronomy-18-14">For these nations, that you shall dispossess, listen to those who practice sorcery, and to diviners; but as for you, Yahweh your God has not allowed you so to do.</span>
  <span class="verse" title="Deuteronomy 18:15" id="Deuteronomy-18-15">Yahweh your God will raise up to you a prophet from the midst of you, of your brothers, like me. You shall listen to him.</span>
  <span class="verse" title="Deuteronomy 18:16" id="Deuteronomy-18-16">This is according to all that you desired of Yahweh your God in Horeb in the day of the assembly, saying, &#8220;Let me not hear again the voice of Yahweh my God, neither let me see this great fire any more, that I not die.&#8221;</span>
  <span class="verse" title="Deuteronomy 18:17" id="Deuteronomy-18-17">Yahweh said to me, &#8220;They have well said that which they have spoken.</span>
  <span class="verse" title="Deuteronomy 18:18" id="Deuteronomy-18-18">I will raise them up a prophet from among their brothers, like you; and I will put my words in his mouth, and he shall speak to them all that I shall command him.</span>
  <span class="verse" title="Deuteronomy 18:19" id="Deuteronomy-18-19">It shall happen, that whoever will not listen to my words which he shall speak in my name, I will require it of him.</span>
  <span class="verse" title="Deuteronomy 18:20" id="Deuteronomy-18-20">But the prophet, who shall speak a word presumptuously in my name, which I have not commanded him to speak, or who shall speak in the name of other gods, that same prophet shall die.&#8221;</span>
  <span class="verse" title="Deuteronomy 18:21" id="Deuteronomy-18-21">If you say in your heart, &#8220;How shall we know the word which Yahweh has not spoken?&#8221;</span>
  <span class="verse" title="Deuteronomy 18:22" id="Deuteronomy-18-22">when a prophet speaks in the name of Yahweh, if the thing doesn&#8217;t follow, nor happen, that is the thing which Yahweh has not spoken: the prophet has spoken it presumptuously, you shall not be afraid of him.</span>
</div>