<div class="chapter" id="Deuteronomy-023">
  <h2>Deuteronomy 23</h2>
  <span class="verse" title="Deuteronomy 23:1" id="Deuteronomy-23-1">He who is wounded in the stones, or has his privy member cut off, shall not enter into the assembly of Yahweh.</span>
  <span class="verse" title="Deuteronomy 23:2" id="Deuteronomy-23-2">A bastard shall not enter into the assembly of Yahweh; even to the tenth generation shall none of his enter into the assembly of Yahweh.</span>
  <span class="verse" title="Deuteronomy 23:3" id="Deuteronomy-23-3">An Ammonite or a Moabite shall not enter into the assembly of Yahweh; even to the tenth generation shall none belonging to them enter into the assembly of Yahweh forever:</span>
  <span class="verse" title="Deuteronomy 23:4" id="Deuteronomy-23-4">because they didn&#8217;t meet you with bread and with water in the way, when you came forth out of Egypt, and because they hired against you Balaam the son of Beor from Pethor of Mesopotamia, to curse you.</span>
  <span class="verse" title="Deuteronomy 23:5" id="Deuteronomy-23-5">Nevertheless Yahweh your God wouldn&#8217;t listen to Balaam; but Yahweh your God turned the curse into a blessing to you, because Yahweh your God loved you.</span>
  <span class="verse" title="Deuteronomy 23:6" id="Deuteronomy-23-6">You shall not seek their peace nor their prosperity all your days forever.</span>
  <span class="verse" title="Deuteronomy 23:7" id="Deuteronomy-23-7">You shall not abhor an Edomite; for he is your brother: you shall not abhor an Egyptian, because you lived as a foreigner in his land.</span>
  <span class="verse" title="Deuteronomy 23:8" id="Deuteronomy-23-8">The children of the third generation who are born to them shall enter into the assembly of Yahweh.</span>
  <span class="verse" title="Deuteronomy 23:9" id="Deuteronomy-23-9">When you go forth in camp against your enemies, then you shall keep yourselves from every evil thing.</span>
  <span class="verse" title="Deuteronomy 23:10" id="Deuteronomy-23-10">If there is among you any man who is not clean by reason of that which happens him by night, then shall he go outside of the camp. He shall not come within the camp:</span>
  <span class="verse" title="Deuteronomy 23:11" id="Deuteronomy-23-11">but it shall be, when evening comes on, he shall bathe himself in water; and when the sun is down, he shall come within the camp.</span>
  <span class="verse" title="Deuteronomy 23:12" id="Deuteronomy-23-12">You shall have a place also outside of the camp, where you shall go forth abroad:</span>
  <span class="verse" title="Deuteronomy 23:13" id="Deuteronomy-23-13">and you shall have a paddle among your weapons; and it shall be, when you sit down abroad, you shall dig therewith, and shall turn back and cover that which comes from you:</span>
  <span class="verse" title="Deuteronomy 23:14" id="Deuteronomy-23-14">for Yahweh your God walks in the midst of your camp, to deliver you, and to give up your enemies before you; therefore your camp shall be holy, that he may not see an unclean thing in you, and turn away from you.</span>
  <span class="verse" title="Deuteronomy 23:15" id="Deuteronomy-23-15">You shall not deliver to his master a servant who is escaped from his master to you:</span>
  <span class="verse" title="Deuteronomy 23:16" id="Deuteronomy-23-16">he shall dwell with you, in the midst of you, in the place which he shall choose within one of your gates, where it pleases him best: you shall not oppress him.</span>
  <span class="verse" title="Deuteronomy 23:17" id="Deuteronomy-23-17">There shall be no prostitute of the daughters of Israel, neither shall there be a sodomite of the sons of Israel.</span>
  <span class="verse" title="Deuteronomy 23:18" id="Deuteronomy-23-18">You shall not bring the hire of a prostitute, or the wages of a dog, into the house of Yahweh your God for any vow: for even both these are an abomination to Yahweh your God.</span>
  <span class="verse" title="Deuteronomy 23:19" id="Deuteronomy-23-19">You shall not lend on interest to your brother; interest of money, interest of food, interest of anything that is lent on interest:</span>
  <span class="verse" title="Deuteronomy 23:20" id="Deuteronomy-23-20">to a foreigner you may lend on interest; but to your brother you shall not lend on interest, that Yahweh your God may bless you in all that you put your hand to, in the land where you go in to possess it.</span>
  <span class="verse" title="Deuteronomy 23:21" id="Deuteronomy-23-21">When you shall vow a vow to Yahweh your God, you shall not be slack to pay it: for Yahweh your God will surely require it of you; and it would be sin in you.</span>
  <span class="verse" title="Deuteronomy 23:22" id="Deuteronomy-23-22">But if you shall forbear to vow, it shall be no sin in you.</span>
  <span class="verse" title="Deuteronomy 23:23" id="Deuteronomy-23-23">That which is gone out of your lips you shall observe and do; according as you have vowed to Yahweh your God, a freewill offering, which you have promised with your mouth.</span>
  <span class="verse" title="Deuteronomy 23:24" id="Deuteronomy-23-24">When you come into your neighbor&#8217;s vineyard, then you may eat of grapes your fill at your own pleasure; but you shall not put any in your vessel.</span>
  <span class="verse" title="Deuteronomy 23:25" id="Deuteronomy-23-25">When you come into your neighbor&#8217;s standing grain, then you may pluck the ears with your hand; but you shall not move a sickle to your neighbor&#8217;s standing grain.</span>
</div>