<div class="chapter" id="Deuteronomy-027">
  <h2>Deuteronomy 27</h2>
  <span class="verse" title="Deuteronomy 27:1" id="Deuteronomy-27-1">Moses and the elders of Israel commanded the people, saying, &#8220;Keep all the commandment which I command you this day.</span>
  <span class="verse" title="Deuteronomy 27:2" id="Deuteronomy-27-2">It shall be on the day when you shall pass over the Jordan to the land which Yahweh your God gives you, that you shall set yourself up great stones, and plaster them with plaster:</span>
  <span class="verse" title="Deuteronomy 27:3" id="Deuteronomy-27-3">and you shall write on them all the words of this law, when you have passed over; that you may go in to the land which Yahweh your God gives you, a land flowing with milk and honey, as Yahweh, the God of your fathers, has promised you.</span>
  <span class="verse" title="Deuteronomy 27:4" id="Deuteronomy-27-4">It shall be, when you have passed over the Jordan, that you shall set up these stones, which I command you this day, in Mount Ebal, and you shall plaster them with plaster.</span>
  <span class="verse" title="Deuteronomy 27:5" id="Deuteronomy-27-5">There you shall build an altar to Yahweh your God, an altar of stones: you shall lift up no iron on them.</span>
  <span class="verse" title="Deuteronomy 27:6" id="Deuteronomy-27-6">You shall build the altar of Yahweh your God of uncut stones; and you shall offer burnt offerings thereon to Yahweh your God:</span>
  <span class="verse" title="Deuteronomy 27:7" id="Deuteronomy-27-7">and you shall sacrifice peace offerings, and shall eat there; and you shall rejoice before Yahweh your God.</span>
  <span class="verse" title="Deuteronomy 27:8" id="Deuteronomy-27-8">You shall write on the stones all the words of this law very plainly.&#8221;</span>
  <span class="verse" title="Deuteronomy 27:9" id="Deuteronomy-27-9">Moses and the priests the Levites spoke to all Israel, saying, &#8220;Keep silence, and listen, Israel: this day you have become the people of Yahweh your God.</span>
  <span class="verse" title="Deuteronomy 27:10" id="Deuteronomy-27-10">You shall therefore obey the voice of Yahweh your God, and do his commandments and his statutes, which I command you this day.&#8221;</span>
  <span class="verse" title="Deuteronomy 27:11" id="Deuteronomy-27-11">Moses commanded the people the same day, saying,</span>
  <span class="verse" title="Deuteronomy 27:12" id="Deuteronomy-27-12">&#8220;These shall stand on Mount Gerizim to bless the people, when you have passed over the Jordan: Simeon, and Levi, and Judah, and Issachar, and Joseph, and Benjamin.</span>
  <span class="verse" title="Deuteronomy 27:13" id="Deuteronomy-27-13">These shall stand on Mount Ebal for the curse: Reuben, Gad, and Asher, and Zebulun, Dan, and Naphtali.</span>
  <span class="verse" title="Deuteronomy 27:14" id="Deuteronomy-27-14">The Levites shall answer, and tell all the men of Israel with a loud voice,</span>
  <span class="verse" title="Deuteronomy 27:15" id="Deuteronomy-27-15">&#8216;Cursed is the man who makes an engraved or molten image, an abomination to Yahweh, the work of the hands of the craftsman, and sets it up in secret.&#8217; All the people shall answer and say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:16" id="Deuteronomy-27-16">&#8216;Cursed is he who sets light by his father or his mother.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:17" id="Deuteronomy-27-17">&#8216;Cursed is he who removes his neighbor&#8217;s landmark.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:18" id="Deuteronomy-27-18">&#8216;Cursed is he who makes the blind to wander out of the way.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:19" id="Deuteronomy-27-19">&#8216;Cursed is he who the foreigner, fatherless, and widow of justice.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:20" id="Deuteronomy-27-20">&#8216;Cursed is he who lies with his father&#8217;s wife, because he has uncovered his father&#8217;s skirt.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:21" id="Deuteronomy-27-21">&#8216;Cursed is he who lies with any kind of animal.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:22" id="Deuteronomy-27-22">&#8216;Cursed is he who lies with his sister, the daughter of his father, or the daughter of his mother.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:23" id="Deuteronomy-27-23">&#8216;Cursed is he who lies with his mother-in-law.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:24" id="Deuteronomy-27-24">&#8216;Cursed is he who strikes his neighbor in secret.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:25" id="Deuteronomy-27-25">&#8216;Cursed is he who takes a bribe to kill an innocent person.&#8217; All the people shall say, &#8216;Amen.&#8217;</span>
  <span class="verse" title="Deuteronomy 27:26" id="Deuteronomy-27-26">&#8216;Cursed is he who doesn&#8217;t confirm the words of this law to do them.&#8217; All the people shall say, &#8216;Amen.&#8217;&#8221;</span>
</div>