<div class="chapter" id="Deuteronomy-034">
  <h2>Deuteronomy 34</h2>
  <span class="verse" title="Deuteronomy 34:1" id="Deuteronomy-34-1">Moses went up from the plains of Moab to Mount Nebo, to the top of Pisgah, that is over against Jericho. Yahweh showed him all the land of Gilead, to Dan,</span>
  <span class="verse" title="Deuteronomy 34:2" id="Deuteronomy-34-2">and all Naphtali, and the land of Ephraim and Manasseh, and all the land of Judah, to the hinder sea,</span>
  <span class="verse" title="Deuteronomy 34:3" id="Deuteronomy-34-3">and the South, and the Plain of the valley of Jericho the city of palm trees, to Zoar.</span>
  <span class="verse" title="Deuteronomy 34:4" id="Deuteronomy-34-4">Yahweh said to him, &#8220;This is the land which I swore to Abraham, to Isaac, and to Jacob, saying, &#8216;I will give it to your seed.&#8217; I have caused you to see it with your eyes, but you shall not go over there.&#8221;</span>
  <span class="verse" title="Deuteronomy 34:5" id="Deuteronomy-34-5">So Moses the servant of Yahweh died there in the land of Moab, according to the word of Yahweh.</span>
  <span class="verse" title="Deuteronomy 34:6" id="Deuteronomy-34-6">He buried him in the valley in the land of Moab over against Beth Peor: but no man knows of his tomb to this day.</span>
  <span class="verse" title="Deuteronomy 34:7" id="Deuteronomy-34-7">Moses was one hundred twenty years old when he died: his eye was not dim, nor his natural force abated.</span>
  <span class="verse" title="Deuteronomy 34:8" id="Deuteronomy-34-8">The children of Israel wept for Moses in the plains of Moab thirty days: so the days of weeping in the mourning for Moses were ended.</span>
  <span class="verse" title="Deuteronomy 34:9" id="Deuteronomy-34-9">Joshua the son of Nun was full of the spirit of wisdom; for Moses had laid his hands on him: and the children of Israel listened to him, and did as Yahweh commanded Moses.</span>
  <span class="verse" title="Deuteronomy 34:10" id="Deuteronomy-34-10">There has not arisen a prophet since in Israel like Moses, whom Yahweh knew face to face,</span>
  <span class="verse" title="Deuteronomy 34:11" id="Deuteronomy-34-11">in all the signs and the wonders, which Yahweh sent him to do in the land of Egypt, to Pharaoh, and to all his servants, and to all his land,</span>
  <span class="verse" title="Deuteronomy 34:12" id="Deuteronomy-34-12">and in all the mighty hand, and in all the great terror, which Moses worked in the sight of all Israel.</span>
</div>