<div class="chapter" id="Ecclesiastes-001">
  <h2>Ecclesiastes 1</h2>
  <span class="verse" title="Ecclesiastes 1:1" id="Ecclesiastes-1-1">The words of the Preacher, the son of David, king in Jerusalem:</span>
  <span class="verse" title="Ecclesiastes 1:2" id="Ecclesiastes-1-2">&#8220;Vanity of vanities,&#8221; says the Preacher; &#8220;Vanity of vanities, all is vanity.&#8221;</span>
  <span class="verse" title="Ecclesiastes 1:3" id="Ecclesiastes-1-3">What does man gain from all his labor in which he labors under the sun?</span>
  <span class="verse" title="Ecclesiastes 1:4" id="Ecclesiastes-1-4">One generation goes, and another generation comes; but the earth remains forever.</span>
  <span class="verse" title="Ecclesiastes 1:5" id="Ecclesiastes-1-5">The sun also rises, and the sun goes down, and hurries to its place where it rises.</span>
  <span class="verse" title="Ecclesiastes 1:6" id="Ecclesiastes-1-6">The wind goes toward the south, and turns around to the north. It turns around continually as it goes, and the wind returns again to its courses.</span>
  <span class="verse" title="Ecclesiastes 1:7" id="Ecclesiastes-1-7">All the rivers run into the sea, yet the sea is not full. To the place where the rivers flow, there they flow again.</span>
  <span class="verse" title="Ecclesiastes 1:8" id="Ecclesiastes-1-8">All things are full of weariness beyond uttering. The eye is not satisfied with seeing, nor the ear filled with hearing.</span>
  <span class="verse" title="Ecclesiastes 1:9" id="Ecclesiastes-1-9">That which has been is that which shall be; and that which has been done is that which shall be done: and there is no new thing under the sun.</span>
  <span class="verse" title="Ecclesiastes 1:10" id="Ecclesiastes-1-10">Is there a thing of which it may be said, &#8220;Behold, this is new?&#8221; It has been long ago, in the ages which were before us.</span>
  <span class="verse" title="Ecclesiastes 1:11" id="Ecclesiastes-1-11">There is no memory of the former; neither shall there be any memory of the latter that are to come, among those that shall come after.</span>
  <span class="verse" title="Ecclesiastes 1:12" id="Ecclesiastes-1-12">I, the Preacher, was king over Israel in Jerusalem.</span>
  <span class="verse" title="Ecclesiastes 1:13" id="Ecclesiastes-1-13">I applied my heart to seek and to search out by wisdom concerning all that is done under the sky. It is a heavy burden that God has given to the sons of men to be afflicted with.</span>
  <span class="verse" title="Ecclesiastes 1:14" id="Ecclesiastes-1-14">I have seen all the works that are done under the sun; and behold, all is vanity and a chasing after wind.</span>
  <span class="verse" title="Ecclesiastes 1:15" id="Ecclesiastes-1-15">That which is crooked can&#8217;t be made straight; and that which is lacking can&#8217;t be counted.</span>
  <span class="verse" title="Ecclesiastes 1:16" id="Ecclesiastes-1-16">I said to myself, &#8220;Behold, I have obtained for myself great wisdom above all who were before me in Jerusalem. Yes, my heart has had great experience of wisdom and knowledge.&#8221;</span>
  <span class="verse" title="Ecclesiastes 1:17" id="Ecclesiastes-1-17">I applied my heart to know wisdom, and to know madness and folly. I perceived that this also was a chasing after wind.</span>
  <span class="verse" title="Ecclesiastes 1:18" id="Ecclesiastes-1-18">For in much wisdom is much grief; and he who increases knowledge increases sorrow.</span>
</div>