<div class="chapter" id="Ecclesiastes-002">
  <h2>Ecclesiastes 2</h2>
  <span class="verse" title="Ecclesiastes 2:1" id="Ecclesiastes-2-1">I said in my heart, &#8220;Come now, I will test you with mirth: therefore enjoy pleasure;&#8221; and behold, this also was vanity.</span>
  <span class="verse" title="Ecclesiastes 2:2" id="Ecclesiastes-2-2">I said of laughter, &#8220;It is foolishness;&#8221; and of mirth, &#8220;What does it accomplish?&#8221;</span>
  <span class="verse" title="Ecclesiastes 2:3" id="Ecclesiastes-2-3">I searched in my heart how to cheer my flesh with wine, my heart yet guiding me with wisdom, and how to lay hold of folly, until I might see what it was good for the sons of men that they should do under heaven all the days of their lives.</span>
  <span class="verse" title="Ecclesiastes 2:4" id="Ecclesiastes-2-4">I made myself great works. I built myself houses. I planted myself vineyards.</span>
  <span class="verse" title="Ecclesiastes 2:5" id="Ecclesiastes-2-5">I made myself gardens and parks, and I planted trees in them of all kinds of fruit.</span>
  <span class="verse" title="Ecclesiastes 2:6" id="Ecclesiastes-2-6">I made myself pools of water, to water from it the forest where trees were reared.</span>
  <span class="verse" title="Ecclesiastes 2:7" id="Ecclesiastes-2-7">I bought male servants and female servants, and had servants born in my house. I also had great possessions of herds and flocks, above all who were before me in Jerusalem;</span>
  <span class="verse" title="Ecclesiastes 2:8" id="Ecclesiastes-2-8">I also gathered silver and gold for myself, and the treasure of kings and of the provinces. I got myself male and female singers, and the delights of the sons of men—musical instruments, and that of all sorts.</span>
  <span class="verse" title="Ecclesiastes 2:9" id="Ecclesiastes-2-9">So I was great, and increased more than all who were before me in Jerusalem. My wisdom also remained with me.</span>
  <span class="verse" title="Ecclesiastes 2:10" id="Ecclesiastes-2-10">Whatever my eyes desired, I didn&#8217;t keep from them. I didn&#8217;t withhold my heart from any joy, for my heart rejoiced because of all my labor, and this was my portion from all my labor.</span>
  <span class="verse" title="Ecclesiastes 2:11" id="Ecclesiastes-2-11">Then I looked at all the works that my hands had worked, and at the labor that I had labored to do; and behold, all was vanity and a chasing after wind, and there was no profit under the sun.</span>
  <span class="verse" title="Ecclesiastes 2:12" id="Ecclesiastes-2-12">I turned myself to consider wisdom, madness, and folly: for what can the king&#8217;s successor do? Just that which has been done long ago.</span>
  <span class="verse" title="Ecclesiastes 2:13" id="Ecclesiastes-2-13">Then I saw that wisdom excels folly, as far as light excels darkness.</span>
  <span class="verse" title="Ecclesiastes 2:14" id="Ecclesiastes-2-14">The wise man&#8217;s eyes are in his head, and the fool walks in darkness—and yet I perceived that one event happens to them all.</span>
  <span class="verse" title="Ecclesiastes 2:15" id="Ecclesiastes-2-15">Then I said in my heart, &#8220;As it happens to the fool, so will it happen even to me; and why was I then more wise?&#8221; Then I said in my heart that this also is vanity.</span>
  <span class="verse" title="Ecclesiastes 2:16" id="Ecclesiastes-2-16">For of the wise man, even as of the fool, there is no memory for ever, since in the days to come all will have been long forgotten. Indeed, the wise man must die just like the fool!</span>
  <span class="verse" title="Ecclesiastes 2:17" id="Ecclesiastes-2-17">So I hated life, because the work that is worked under the sun was grievous to me; for all is vanity and a chasing after wind.</span>
  <span class="verse" title="Ecclesiastes 2:18" id="Ecclesiastes-2-18">I hated all my labor in which I labored under the sun, because I must leave it to the man who comes after me.</span>
  <span class="verse" title="Ecclesiastes 2:19" id="Ecclesiastes-2-19">Who knows whether he will be a wise man or a fool? Yet he will have rule over all of my labor in which I have labored, and in which I have shown myself wise under the sun. This also is vanity.</span>
  <span class="verse" title="Ecclesiastes 2:20" id="Ecclesiastes-2-20">Therefore I began to cause my heart to despair concerning all the labor in which I had labored under the sun.</span>
  <span class="verse" title="Ecclesiastes 2:21" id="Ecclesiastes-2-21">For there is a man whose labor is with wisdom, with knowledge, and with skillfulness; yet he shall leave it for his portion to a man who has not labored for it. This also is vanity and a great evil.</span>
  <span class="verse" title="Ecclesiastes 2:22" id="Ecclesiastes-2-22">For what has a man of all his labor, and of the striving of his heart, in which he labors under the sun?</span>
  <span class="verse" title="Ecclesiastes 2:23" id="Ecclesiastes-2-23">For all his days are sorrows, and his travail is grief; yes, even in the night his heart takes no rest. This also is vanity.</span>
  <span class="verse" title="Ecclesiastes 2:24" id="Ecclesiastes-2-24">There is nothing better for a man than that he should eat and drink, and make his soul enjoy good in his labor. This also I saw, that it is from the hand of God.</span>
  <span class="verse" title="Ecclesiastes 2:25" id="Ecclesiastes-2-25">For who can eat, or who can have enjoyment, more than I?</span>
  <span class="verse" title="Ecclesiastes 2:26" id="Ecclesiastes-2-26">For to the man who pleases him, God gives wisdom, knowledge, and joy; but to the sinner he gives travail, to gather and to heap up, that he may give to him who pleases God. This also is vanity and a chasing after wind.</span>
</div>