<div class="chapter" id="Ecclesiastes-003">
  <h2>Ecclesiastes 3</h2>
  <span class="verse" title="Ecclesiastes 3:1" id="Ecclesiastes-3-1">For everything there is a season, and a time for every purpose under heaven:</span>
  <span class="verse" title="Ecclesiastes 3:2" id="Ecclesiastes-3-2">a time to be born,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to die;<br/>   a time to plant,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to pluck up that which is planted;<br/></span>
  <span class="verse" title="Ecclesiastes 3:3" id="Ecclesiastes-3-3">a time to kill,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to heal;<br/>   a time to break down,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to build up;<br/></span>
  <span class="verse" title="Ecclesiastes 3:4" id="Ecclesiastes-3-4">a time to weep,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to laugh;<br/>   a time to mourn,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to dance;<br/></span>
  <span class="verse" title="Ecclesiastes 3:5" id="Ecclesiastes-3-5">a time to cast away stones,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to gather stones together;<br/>   a time to embrace,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to refrain from embracing;<br/></span>
  <span class="verse" title="Ecclesiastes 3:6" id="Ecclesiastes-3-6">a time to seek,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to lose;<br/>   a time to keep,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to cast away;<br/></span>
  <span class="verse" title="Ecclesiastes 3:7" id="Ecclesiastes-3-7">a time to tear,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to sew;<br/>   a time to keep silence,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to speak;<br/></span>
  <span class="verse" title="Ecclesiastes 3:8" id="Ecclesiastes-3-8">a time to love,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time to hate;<br/>   a time for war,<br/> <span class="indent">&nbsp;&nbsp;</span>and a time for peace.<br/></span>
  <span class="verse" title="Ecclesiastes 3:9" id="Ecclesiastes-3-9">What profit has he who works in that in which he labors?</span>
  <span class="verse" title="Ecclesiastes 3:10" id="Ecclesiastes-3-10">I have seen the burden which God has given to the sons of men to be afflicted with.</span>
  <span class="verse" title="Ecclesiastes 3:11" id="Ecclesiastes-3-11">He has made everything beautiful in its time. He has also set eternity in their hearts, yet so that man can&#8217;t find out the work that God has done from the beginning even to the end.</span>
  <span class="verse" title="Ecclesiastes 3:12" id="Ecclesiastes-3-12">I know that there is nothing better for them than to rejoice, and to do good as long as they live.</span>
  <span class="verse" title="Ecclesiastes 3:13" id="Ecclesiastes-3-13">Also that every man should eat and drink, and enjoy good in all his labor, is the gift of God.</span>
  <span class="verse" title="Ecclesiastes 3:14" id="Ecclesiastes-3-14">I know that whatever God does, it shall be forever. Nothing can be added to it, nor anything taken from it; and God has done it, that men should fear before him.</span>
  <span class="verse" title="Ecclesiastes 3:15" id="Ecclesiastes-3-15">That which is has been long ago, and that which is to be has been long ago: and God seeks again that which is passed away.</span>
  <span class="verse" title="Ecclesiastes 3:16" id="Ecclesiastes-3-16">Moreover I saw under the sun, in the place of justice, that wickedness was there; and in the place of righteousness, that wickedness was there.</span>
  <span class="verse" title="Ecclesiastes 3:17" id="Ecclesiastes-3-17">I said in my heart, &#8220;God will judge the righteous and the wicked; for there is a time there for every purpose and for every work.&#8221;</span>
  <span class="verse" title="Ecclesiastes 3:18" id="Ecclesiastes-3-18">I said in my heart, &#8220;As for the sons of men, God tests them, so that they may see that they themselves are like animals.</span>
  <span class="verse" title="Ecclesiastes 3:19" id="Ecclesiastes-3-19">For that which happens to the sons of men happens to animals. Even one thing happens to them. As the one dies, so the other dies. Yes, they have all one breath; and man has no advantage over the animals: for all is vanity.</span>
  <span class="verse" title="Ecclesiastes 3:20" id="Ecclesiastes-3-20">All go to one place. All are from the dust, and all turn to dust again.</span>
  <span class="verse" title="Ecclesiastes 3:21" id="Ecclesiastes-3-21">Who knows the spirit of man, whether it goes upward, and the spirit of the animal, whether it goes downward to the earth?&#8221;</span>
  <span class="verse" title="Ecclesiastes 3:22" id="Ecclesiastes-3-22">Therefore I saw that there is nothing better, than that a man should rejoice in his works; for that is his portion: for who can bring him to see what will be after him?</span>
</div>