<div class="chapter" id="Ecclesiastes-004">
  <h2>Ecclesiastes 4</h2>
  <span class="verse" title="Ecclesiastes 4:1" id="Ecclesiastes-4-1">Then I returned and saw all the oppressions that are done under the sun: and behold, the tears of those who were oppressed, and they had no comforter; and on the side of their oppressors there was power; but they had no comforter.</span>
  <span class="verse" title="Ecclesiastes 4:2" id="Ecclesiastes-4-2">Therefore I praised the dead who have been long dead more than the living who are yet alive.</span>
  <span class="verse" title="Ecclesiastes 4:3" id="Ecclesiastes-4-3">Yes, better than them both is him who has not yet been, who has not seen the evil work that is done under the sun.</span>
  <span class="verse" title="Ecclesiastes 4:4" id="Ecclesiastes-4-4">Then I saw all the labor and achievement that is the envy of a man&#8217;s neighbor. This also is vanity and a striving after wind.</span>
  <span class="verse" title="Ecclesiastes 4:5" id="Ecclesiastes-4-5">The fool folds his hands together and ruins himself.</span>
  <span class="verse" title="Ecclesiastes 4:6" id="Ecclesiastes-4-6">Better is a handful, with quietness, than two handfuls with labor and chasing after wind.</span>
  <span class="verse" title="Ecclesiastes 4:7" id="Ecclesiastes-4-7">Then I returned and saw vanity under the sun.</span>
  <span class="verse" title="Ecclesiastes 4:8" id="Ecclesiastes-4-8">There is one who is alone, and he has neither son nor brother. There is no end to all of his labor, neither are his eyes satisfied with wealth. &#8220;For whom then, do I labor, and deprive my soul of enjoyment?&#8221; This also is vanity. Yes, it is a miserable business.</span>
  <span class="verse" title="Ecclesiastes 4:9" id="Ecclesiastes-4-9">Two are better than one, because they have a good reward for their labor.</span>
  <span class="verse" title="Ecclesiastes 4:10" id="Ecclesiastes-4-10">For if they fall, the one will lift up his fellow; but woe to him who is alone when he falls, and doesn&#8217;t have another to lift him up.</span>
  <span class="verse" title="Ecclesiastes 4:11" id="Ecclesiastes-4-11">Again, if two lie together, then they have warmth; but how can one keep warm alone?</span>
  <span class="verse" title="Ecclesiastes 4:12" id="Ecclesiastes-4-12">If a man prevails against one who is alone, two shall withstand him; and a threefold cord is not quickly broken.</span>
  <span class="verse" title="Ecclesiastes 4:13" id="Ecclesiastes-4-13">Better is a poor and wise youth than an old and foolish king who doesn&#8217;t know how to receive admonition any more.</span>
  <span class="verse" title="Ecclesiastes 4:14" id="Ecclesiastes-4-14">For out of prison he came forth to be king; yes, even in his kingdom he was born poor.</span>
  <span class="verse" title="Ecclesiastes 4:15" id="Ecclesiastes-4-15">I saw all the living who walk under the sun, that they were with the youth, the other, who succeeded him.</span>
  <span class="verse" title="Ecclesiastes 4:16" id="Ecclesiastes-4-16">There was no end of all the people, even of all them over whom he was—yet those who come after shall not rejoice in him. Surely this also is vanity and a chasing after wind.</span>
</div>