<div class="chapter" id="Ecclesiastes-005">
  <h2>Ecclesiastes 5</h2>
  <span class="verse" title="Ecclesiastes 5:1" id="Ecclesiastes-5-1">Guard your steps when you go to God&#8217;s house; for to draw near to listen is better than to give the sacrifice of fools, for they don&#8217;t know that they do evil.</span>
  <span class="verse" title="Ecclesiastes 5:2" id="Ecclesiastes-5-2">Don&#8217;t be rash with your mouth, and don&#8217;t let your heart be hasty to utter anything before God; for God is in heaven, and you on earth. Therefore let your words be few.</span>
  <span class="verse" title="Ecclesiastes 5:3" id="Ecclesiastes-5-3">For as a dream comes with a multitude of cares, so a fool&#8217;s speech with a multitude of words.</span>
  <span class="verse" title="Ecclesiastes 5:4" id="Ecclesiastes-5-4">When you vow a vow to God, don&#8217;t defer to pay it; for he has no pleasure in fools. Pay that which you vow.</span>
  <span class="verse" title="Ecclesiastes 5:5" id="Ecclesiastes-5-5">It is better that you should not vow, than that you should vow and not pay.</span>
  <span class="verse" title="Ecclesiastes 5:6" id="Ecclesiastes-5-6">Don&#8217;t allow your mouth to lead you into sin. Don&#8217;t protest before the messenger that this was a mistake. Why should God be angry at your voice, and destroy the work of your hands?</span>
  <span class="verse" title="Ecclesiastes 5:7" id="Ecclesiastes-5-7">For in the multitude of dreams there are vanities, as well as in many words: but you must fear God.</span>
  <span class="verse" title="Ecclesiastes 5:8" id="Ecclesiastes-5-8">If you see the oppression of the poor, and the violent taking away of justice and righteousness in a district, don&#8217;t marvel at the matter: for one official is eyed by a higher one; and there are officials over them.</span>
  <span class="verse" title="Ecclesiastes 5:9" id="Ecclesiastes-5-9">Moreover the profit of the earth is for all. The king profits from the field.</span>
  <span class="verse" title="Ecclesiastes 5:10" id="Ecclesiastes-5-10">He who loves silver shall not be satisfied with silver; nor he who loves abundance, with increase: this also is vanity.</span>
  <span class="verse" title="Ecclesiastes 5:11" id="Ecclesiastes-5-11">When goods increase, those who eat them are increased; and what advantage is there to its owner, except to feast on them with his eyes?</span>
  <span class="verse" title="Ecclesiastes 5:12" id="Ecclesiastes-5-12">The sleep of a laboring man is sweet, whether he eats little or much; but the abundance of the rich will not allow him to sleep.</span>
  <span class="verse" title="Ecclesiastes 5:13" id="Ecclesiastes-5-13">There is a grievous evil which I have seen under the sun: wealth kept by its owner to his harm.</span>
  <span class="verse" title="Ecclesiastes 5:14" id="Ecclesiastes-5-14">Those riches perish by misfortune, and if he has fathered a son, there is nothing in his hand.</span>
  <span class="verse" title="Ecclesiastes 5:15" id="Ecclesiastes-5-15">As he came forth from his mother&#8217;s womb, naked shall he go again as he came, and shall take nothing for his labor, which he may carry away in his hand.</span>
  <span class="verse" title="Ecclesiastes 5:16" id="Ecclesiastes-5-16">This also is a grievous evil, that in all points as he came, so shall he go. And what profit does he have who labors for the wind?</span>
  <span class="verse" title="Ecclesiastes 5:17" id="Ecclesiastes-5-17">All his days he also eats in darkness, he is frustrated, and has sickness and wrath.</span>
  <span class="verse" title="Ecclesiastes 5:18" id="Ecclesiastes-5-18">Behold, that which I have seen to be good and proper is for one to eat and to drink, and to enjoy good in all his labor, in which he labors under the sun, all the days of his life which God has given him; for this is his portion.</span>
  <span class="verse" title="Ecclesiastes 5:19" id="Ecclesiastes-5-19">Every man also to whom God has given riches and wealth, and has given him power to eat of it, and to take his portion, and to rejoice in his labor—this is the gift of God.</span>
  <span class="verse" title="Ecclesiastes 5:20" id="Ecclesiastes-5-20">For he shall not often reflect on the days of his life; because God occupies him with the joy of his heart.</span>
</div>