<div class="chapter" id="Ecclesiastes-006">
  <h2>Ecclesiastes 6</h2>
  <span class="verse" title="Ecclesiastes 6:1" id="Ecclesiastes-6-1">There is an evil which I have seen under the sun, and it is heavy on men:</span>
  <span class="verse" title="Ecclesiastes 6:2" id="Ecclesiastes-6-2">a man to whom God gives riches, wealth, and honor, so that he lacks nothing for his soul of all that he desires, yet God gives him no power to eat of it, but an alien eats it. This is vanity, and it is an evil disease.</span>
  <span class="verse" title="Ecclesiastes 6:3" id="Ecclesiastes-6-3">If a man fathers a hundred children, and lives many years, so that the days of his years are many, but his soul is not filled with good, and moreover he has no burial; I say, that a stillborn child is better than he:</span>
  <span class="verse" title="Ecclesiastes 6:4" id="Ecclesiastes-6-4">for it comes in vanity, and departs in darkness, and its name is covered with darkness.</span>
  <span class="verse" title="Ecclesiastes 6:5" id="Ecclesiastes-6-5">Moreover it has not seen the sun nor known it. This has rest rather than the other.</span>
  <span class="verse" title="Ecclesiastes 6:6" id="Ecclesiastes-6-6">Yes, though he live a thousand years twice told, and yet fails to enjoy good, don&#8217;t all go to one place?</span>
  <span class="verse" title="Ecclesiastes 6:7" id="Ecclesiastes-6-7">All the labor of man is for his mouth, and yet the appetite is not filled.</span>
  <span class="verse" title="Ecclesiastes 6:8" id="Ecclesiastes-6-8">For what advantage has the wise more than the fool? What has the poor man, that knows how to walk before the living?</span>
  <span class="verse" title="Ecclesiastes 6:9" id="Ecclesiastes-6-9">Better is the sight of the eyes than the wandering of the desire. This also is vanity and a chasing after wind.</span>
  <span class="verse" title="Ecclesiastes 6:10" id="Ecclesiastes-6-10">Whatever has been, its name was given long ago; and it is known what man is; neither can he contend with him who is mightier than he.</span>
  <span class="verse" title="Ecclesiastes 6:11" id="Ecclesiastes-6-11">For there are many words that create vanity. What does that profit man?</span>
  <span class="verse" title="Ecclesiastes 6:12" id="Ecclesiastes-6-12">For who knows what is good for man in life, all the days of his vain life which he spends like a shadow? For who can tell a man what will be after him under the sun?</span>
</div>