<div class="chapter" id="Ecclesiastes-007">
  <h2>Ecclesiastes 7</h2>
  <span class="verse" title="Ecclesiastes 7:1" id="Ecclesiastes-7-1">A good name is better than fine perfume; and the day of death better than the day of one&#8217;s birth.</span>
  <span class="verse" title="Ecclesiastes 7:2" id="Ecclesiastes-7-2">It is better to go to the house of mourning than to go to the house of feasting: for that is the end of all men, and the living should take this to heart.</span>
  <span class="verse" title="Ecclesiastes 7:3" id="Ecclesiastes-7-3">Sorrow is better than laughter; for by the sadness of the face the heart is made good.</span>
  <span class="verse" title="Ecclesiastes 7:4" id="Ecclesiastes-7-4">The heart of the wise is in the house of mourning; but the heart of fools is in the house of mirth.</span>
  <span class="verse" title="Ecclesiastes 7:5" id="Ecclesiastes-7-5">It is better to hear the rebuke of the wise, than for a man to hear the song of fools.</span>
  <span class="verse" title="Ecclesiastes 7:6" id="Ecclesiastes-7-6">For as the crackling of thorns under a pot, so is the laughter of the fool. This also is vanity.</span>
  <span class="verse" title="Ecclesiastes 7:7" id="Ecclesiastes-7-7">Surely extortion makes the wise man foolish; and a bribe destroys the understanding.</span>
  <span class="verse" title="Ecclesiastes 7:8" id="Ecclesiastes-7-8">Better is the end of a thing than its beginning. The patient in spirit is better than the proud in spirit.</span>
  <span class="verse" title="Ecclesiastes 7:9" id="Ecclesiastes-7-9">Don&#8217;t be hasty in your spirit to be angry, for anger rests in the bosom of fools.</span>
  <span class="verse" title="Ecclesiastes 7:10" id="Ecclesiastes-7-10">Don&#8217;t say, &#8220;Why were the former days better than these?&#8221; For you do not ask wisely about this.</span>
  <span class="verse" title="Ecclesiastes 7:11" id="Ecclesiastes-7-11">Wisdom is as good as an inheritance. Yes, it is more excellent for those who see the sun.</span>
  <span class="verse" title="Ecclesiastes 7:12" id="Ecclesiastes-7-12">For wisdom is a defense, even as money is a defense; but the excellency of knowledge is that wisdom preserves the life of him who has it.</span>
  <span class="verse" title="Ecclesiastes 7:13" id="Ecclesiastes-7-13">Consider the work of God, for who can make that straight, which he has made crooked?</span>
  <span class="verse" title="Ecclesiastes 7:14" id="Ecclesiastes-7-14">In the day of prosperity be joyful, and in the day of adversity consider; yes, God has made the one side by side with the other, to the end that man should not find out anything after him.</span>
  <span class="verse" title="Ecclesiastes 7:15" id="Ecclesiastes-7-15">All this have I seen in my days of vanity: there is a righteous man who perishes in his righteousness, and there is a wicked man who lives long in his evildoing.</span>
  <span class="verse" title="Ecclesiastes 7:16" id="Ecclesiastes-7-16">Don&#8217;t be overly righteous, neither make yourself overly wise. Why should you destroy yourself?</span>
  <span class="verse" title="Ecclesiastes 7:17" id="Ecclesiastes-7-17">Don&#8217;t be too wicked, neither be foolish. Why should you die before your time?</span>
  <span class="verse" title="Ecclesiastes 7:18" id="Ecclesiastes-7-18">It is good that you should take hold of this. Yes, also from that don&#8217;t withdraw your hand; for he who fears God will come forth from them all.</span>
  <span class="verse" title="Ecclesiastes 7:19" id="Ecclesiastes-7-19">Wisdom is a strength to the wise man more than ten rulers who are in a city.</span>
  <span class="verse" title="Ecclesiastes 7:20" id="Ecclesiastes-7-20">Surely there is not a righteous man on earth, who does good and doesn&#8217;t sin.</span>
  <span class="verse" title="Ecclesiastes 7:21" id="Ecclesiastes-7-21">Also don&#8217;t take heed to all words that are spoken, lest you hear your servant curse you;</span>
  <span class="verse" title="Ecclesiastes 7:22" id="Ecclesiastes-7-22">for often your own heart knows that you yourself have likewise cursed others.</span>
  <span class="verse" title="Ecclesiastes 7:23" id="Ecclesiastes-7-23">All this have I proved in wisdom. I said, &#8220;I will be wise;&#8221; but it was far from me.</span>
  <span class="verse" title="Ecclesiastes 7:24" id="Ecclesiastes-7-24">That which is, is far off and exceedingly deep. Who can find it out?</span>
  <span class="verse" title="Ecclesiastes 7:25" id="Ecclesiastes-7-25">I turned around, and my heart sought to know and to search out, and to seek wisdom and the scheme of things, and to know that wickedness is stupidity, and that foolishness is madness.</span>
  <span class="verse" title="Ecclesiastes 7:26" id="Ecclesiastes-7-26">I find more bitter than death the woman whose heart is snares and traps, whose hands are chains. Whoever pleases God shall escape from her; but the sinner will be ensnared by her.</span>
  <span class="verse" title="Ecclesiastes 7:27" id="Ecclesiastes-7-27">&#8220;Behold, I have found this,&#8221; says the Preacher, &#8220;one to another, to find out the scheme;</span>
  <span class="verse" title="Ecclesiastes 7:28" id="Ecclesiastes-7-28">which my soul still seeks; but I have not found. One man among a thousand have I found; but I have not found a woman among all those.</span>
  <span class="verse" title="Ecclesiastes 7:29" id="Ecclesiastes-7-29">Behold, this only have I found: that God made man upright; but they search for many schemes.&#8221;</span>
</div>