<div class="chapter" id="Ecclesiastes-008">
  <h2>Ecclesiastes 8</h2>
  <span class="verse" title="Ecclesiastes 8:1" id="Ecclesiastes-8-1">Who is like the wise man? And who knows the interpretation of a thing? A man&#8217;s wisdom makes his face shine, and the hardness of his face is changed.</span>
  <span class="verse" title="Ecclesiastes 8:2" id="Ecclesiastes-8-2">I say, &#8220;Keep the king&#8217;s command!&#8221; because of the oath to God.</span>
  <span class="verse" title="Ecclesiastes 8:3" id="Ecclesiastes-8-3">Don&#8217;t be hasty to go out of his presence. Don&#8217;t persist in an evil thing, for he does whatever pleases him,</span>
  <span class="verse" title="Ecclesiastes 8:4" id="Ecclesiastes-8-4">for the king&#8217;s word is supreme. Who can say to him, &#8220;What are you doing?&#8221;</span>
  <span class="verse" title="Ecclesiastes 8:5" id="Ecclesiastes-8-5">Whoever keeps the commandment shall not come to harm, and his wise heart will know the time and procedure.</span>
  <span class="verse" title="Ecclesiastes 8:6" id="Ecclesiastes-8-6">For there is a time and procedure for every purpose, although the misery of man is heavy on him.</span>
  <span class="verse" title="Ecclesiastes 8:7" id="Ecclesiastes-8-7">For he doesn&#8217;t know that which will be; for who can tell him how it will be?</span>
  <span class="verse" title="Ecclesiastes 8:8" id="Ecclesiastes-8-8">There is no man who has power over the spirit to contain the spirit; neither does he have power over the day of death. There is no discharge in war; neither shall wickedness deliver those who practice it.</span>
  <span class="verse" title="Ecclesiastes 8:9" id="Ecclesiastes-8-9">All this have I seen, and applied my mind to every work that is done under the sun. There is a time in which one man has power over another to his hurt.</span>
  <span class="verse" title="Ecclesiastes 8:10" id="Ecclesiastes-8-10">So I saw the wicked buried. Indeed they came also from holiness. They went and were forgotten in the city where they did this. This also is vanity.</span>
  <span class="verse" title="Ecclesiastes 8:11" id="Ecclesiastes-8-11">Because sentence against an evil work is not executed speedily, therefore the heart of the sons of men is fully set in them to do evil.</span>
  <span class="verse" title="Ecclesiastes 8:12" id="Ecclesiastes-8-12">Though a sinner commits crimes a hundred times, and lives long, yet surely I know that it will be better with those who fear God, who are reverent before him.</span>
  <span class="verse" title="Ecclesiastes 8:13" id="Ecclesiastes-8-13">But it shall not be well with the wicked, neither shall he lengthen days like a shadow; because he doesn&#8217;t fear God.</span>
  <span class="verse" title="Ecclesiastes 8:14" id="Ecclesiastes-8-14">There is a vanity which is done on the earth, that there are righteous men to whom it happens according to the work of the wicked. Again, there are wicked men to whom it happens according to the work of the righteous. I said that this also is vanity.</span>
  <span class="verse" title="Ecclesiastes 8:15" id="Ecclesiastes-8-15">Then I commended mirth, because a man has no better thing under the sun, than to eat, and to drink, and to be joyful: for that will accompany him in his labor all the days of his life which God has given him under the sun.</span>
  <span class="verse" title="Ecclesiastes 8:16" id="Ecclesiastes-8-16">When I applied my heart to know wisdom, and to see the business that is done on the earth (for also there is that neither day nor night sees sleep with his eyes),</span>
  <span class="verse" title="Ecclesiastes 8:17" id="Ecclesiastes-8-17">then I saw all the work of God, that man can&#8217;t find out the work that is done under the sun, because however much a man labors to seek it out, yet he won&#8217;t find it. Yes even though a wise man thinks he can comprehend it, he won&#8217;t be able to find it.</span>
</div>