<div class="chapter" id="Ecclesiastes-010">
  <h2>Ecclesiastes 10</h2>
  <span class="verse" title="Ecclesiastes 10:1" id="Ecclesiastes-10-1">Dead flies cause the oil of the perfumer to send forth an evil odor; so does a little folly outweigh wisdom and honor.</span>
  <span class="verse" title="Ecclesiastes 10:2" id="Ecclesiastes-10-2">A wise man&#8217;s heart is at his right hand, but a fool&#8217;s heart at his left.</span>
  <span class="verse" title="Ecclesiastes 10:3" id="Ecclesiastes-10-3">Yes also, when the fool walks by the way, his understanding fails him, and he says to everyone that he is a fool.</span>
  <span class="verse" title="Ecclesiastes 10:4" id="Ecclesiastes-10-4">If the spirit of the ruler rises up against you, don&#8217;t leave your place; for gentleness lays great offenses to rest.</span>
  <span class="verse" title="Ecclesiastes 10:5" id="Ecclesiastes-10-5">There is an evil which I have seen under the sun, the sort of error which proceeds from the ruler.</span>
  <span class="verse" title="Ecclesiastes 10:6" id="Ecclesiastes-10-6">Folly is set in great dignity, and the rich sit in a low place.</span>
  <span class="verse" title="Ecclesiastes 10:7" id="Ecclesiastes-10-7">I have seen servants on horses, and princes walking like servants on the earth.</span>
  <span class="verse" title="Ecclesiastes 10:8" id="Ecclesiastes-10-8">He who digs a pit may fall into it; and whoever breaks through a wall may be bitten by a snake.</span>
  <span class="verse" title="Ecclesiastes 10:9" id="Ecclesiastes-10-9">Whoever carves out stones may be injured by them. Whoever splits wood may be endangered thereby.</span>
  <span class="verse" title="Ecclesiastes 10:10" id="Ecclesiastes-10-10">If the axe is blunt, and one doesn&#8217;t sharpen the edge, then he must use more strength; but skill brings success.</span>
  <span class="verse" title="Ecclesiastes 10:11" id="Ecclesiastes-10-11">If the snake bites before it is charmed, then is there no profit for the charmer&#8217;s tongue.</span>
  <span class="verse" title="Ecclesiastes 10:12" id="Ecclesiastes-10-12">The words of a wise man&#8217;s mouth are gracious; but a fool is swallowed by his own lips.</span>
  <span class="verse" title="Ecclesiastes 10:13" id="Ecclesiastes-10-13">The beginning of the words of his mouth is foolishness; and the end of his talk is mischievous madness.</span>
  <span class="verse" title="Ecclesiastes 10:14" id="Ecclesiastes-10-14">A fool also multiplies words. Man doesn&#8217;t know what will be; and that which will be after him, who can tell him?</span>
  <span class="verse" title="Ecclesiastes 10:15" id="Ecclesiastes-10-15">The labor of fools wearies every one of them; for he doesn&#8217;t know how to go to the city.</span>
  <span class="verse" title="Ecclesiastes 10:16" id="Ecclesiastes-10-16">Woe to you, land, when your king is a child,<br/> <span class="indent">&nbsp;&nbsp;</span>and your princes eat in the morning!</span>
  <span class="verse" title="Ecclesiastes 10:17" id="Ecclesiastes-10-17">Happy are you, land, when your king is the son of nobles,<br/> <span class="indent">&nbsp;&nbsp;</span>and your princes eat in due season,<br/> <span class="indent">&nbsp;&nbsp;</span>for strength, and not for drunkenness!<br/></span>
  <span class="verse" title="Ecclesiastes 10:18" id="Ecclesiastes-10-18">By slothfulness the roof sinks in;<br/> <span class="indent">&nbsp;&nbsp;</span>and through idleness of the hands the house leaks.<br/></span>
  <span class="verse" title="Ecclesiastes 10:19" id="Ecclesiastes-10-19">A feast is made for laughter,<br/> <span class="indent">&nbsp;&nbsp;</span>and wine makes the life glad;<br/> <span class="indent">&nbsp;&nbsp;</span>and money is the answer for all things.<br/></span>
  <span class="verse" title="Ecclesiastes 10:20" id="Ecclesiastes-10-20">Don&#8217;t curse the king, no, not in your thoughts;<br/> <span class="indent">&nbsp;&nbsp;</span>and don&#8217;t curse the rich in your bedroom:<br/> <span class="indent">&nbsp;&nbsp;</span>for a bird of the sky may carry your voice,<br/> <span class="indent">&nbsp;&nbsp;</span>and that which has wings may tell the matter.<br/></span>
</div>