<% content_for :wide do %>
  <p>
    Please be careful to enter the correct code. If you make a
    mistake, you will have to start over.
  </p>

  <form method="post">
    <%= hidden_field_tag :id, params[:id] %>
    <p><label for="code">Enter the code:</label>
    <%= text_field_tag :code, params[:code] %></p>
    <p><%= submit_tag 'Check Code' %></p>
  </form>
<% end %>