@import "bootstrap";
@import "font-awesome";
@import "ionicons";
@import "admin_lte";

// global //

.half {
  @extend .col-md-6
}

img.img-full {
  width: 100%;
}

th.avatar, td.avatar {
  width: 35px;
}

// layout //

.content-header .breadcrumb {
  margin-bottom: 10px;
}

.user-panel > .image img {
  width: 45px;
  height: 45px;
}

// session //

.form-box .alert {
  margin-left: 0;
}

// profile //

@media (max-width: 570px) {
  .profile .col-xs-6 {
    left: 0;
    width: auto;
  }
}

// timeline //

.timeline-load-more {
  position: relative;
  z-index: 2;
}

.timeline-pic {
  @extend .img-thumbnail;
  margin: 0 10px 10px 0;
  &.small { height: 75px; }
  &.medium { height: 250px; }
}

// share //

.stream .buttons {
  padding: 7px;
  background-color: #eee;
  border-radius: 3px;
}

.dropdown-toggle.bg-teal {
  border-left: 1px solid #27b1b2;
}
