* {
  display: none;
}

html, body {
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 2in; // 4in
  height: 1in;  // 2.31in
}

body {
  -moz-box-model: border-box;
  box-model: border-box;
  width: 2in; // 4in
  height: 1in;  // 2.31in
  padding: 0.25in;
}

#print-area {
  /*-webkit-transform: rotate(90deg);
  -moz-transform:rotate(90deg);*/
  display: block;
  width: 2in; // 4in
  height: 1in;  // 2.31in
  border: 1px solid black;
  overflow: hidden;
  h1, h2, h3, h4, h5, h6, ul, li, p, div { display: block; }
}

.right {
  float: right;
  font-size: 12pt;
}

@page {
  /*size: landscape;*/
  margin: 0;
  padding: 0;
}
