<div class="chapter" id="Zephaniah-001">
  <h2>Zephaniah 1</h2>
  <span class="verse" title="Zephaniah 1:1" id="Zephaniah-1-1">The word of Yahweh which came to Zephaniah, the son of Cushi, the son of Gedaliah, the son of Amariah, the son of Hezekiah, in the days of Josiah, the son of Amon, king of Judah.</span>
  <span class="verse" title="Zephaniah 1:2" id="Zephaniah-1-2">I will utterly sweep away everything off of the surface of the earth, says Yahweh.</span>
  <span class="verse" title="Zephaniah 1:3" id="Zephaniah-1-3">I will sweep away man and animal. I will sweep away the birds of the sky, the fish of the sea, and the heaps of rubble with the wicked. I will cut off man from the surface of the earth, says Yahweh.</span>
  <span class="verse" title="Zephaniah 1:4" id="Zephaniah-1-4">I will stretch out my hand against Judah, and against all the inhabitants of Jerusalem. I will cut off the remnant of Baal from this place: the name of the idolatrous and pagan priests,</span>
  <span class="verse" title="Zephaniah 1:5" id="Zephaniah-1-5">those who worship the army of the sky on the housetops, those who worship and swear by Yahweh and also swear by Malcam,</span>
  <span class="verse" title="Zephaniah 1:6" id="Zephaniah-1-6">those who have turned back from following Yahweh, and those who haven&#8217;t sought Yahweh nor inquired after him.</span>
  <span class="verse" title="Zephaniah 1:7" id="Zephaniah-1-7">Be silent at the presence of the Lord Yahweh, for the day of Yahweh is at hand. For Yahweh has prepared a sacrifice. He has consecrated his guests.</span>
  <span class="verse" title="Zephaniah 1:8" id="Zephaniah-1-8">It will happen in the day of Yahweh&#8217;s sacrifice, that I will punish the princes, the king&#8217;s sons, and all those who are clothed with foreign clothing.</span>
  <span class="verse" title="Zephaniah 1:9" id="Zephaniah-1-9">In that day, I will punish all those who leap over the threshold, who fill their master&#8217;s house with violence and deceit.</span>
  <span class="verse" title="Zephaniah 1:10" id="Zephaniah-1-10">In that day, says Yahweh, there will be the noise of a cry from the fish gate, a wailing from the second quarter, and a great crashing from the hills.</span>
  <span class="verse" title="Zephaniah 1:11" id="Zephaniah-1-11">Wail, you inhabitants of Maktesh, for all the people of Canaan are undone! All those who were loaded with silver are cut off.</span>
  <span class="verse" title="Zephaniah 1:12" id="Zephaniah-1-12">It will happen at that time, that I will search Jerusalem with lamps, and I will punish the men who are settled on their dregs, who say in their heart, &#8220;Yahweh will not do good, neither will he do evil.&#8221;</span>
  <span class="verse" title="Zephaniah 1:13" id="Zephaniah-1-13">Their wealth will become a spoil, and their houses a desolation. Yes, they will build houses, but won&#8217;t inhabit them. They will plant vineyards, but won&#8217;t drink their wine.</span>
  <span class="verse" title="Zephaniah 1:14" id="Zephaniah-1-14">The great day of Yahweh is near. It is near, and hurries greatly, the voice of the day of Yahweh. The mighty man cries there bitterly.</span>
  <span class="verse" title="Zephaniah 1:15" id="Zephaniah-1-15">That day is a day of wrath, a day of distress and anguish, a day of trouble and ruin, a day of darkness and gloom, a day of clouds and blackness,</span>
  <span class="verse" title="Zephaniah 1:16" id="Zephaniah-1-16">a day of the trumpet and alarm, against the fortified cities, and against the high battlements.</span>
  <span class="verse" title="Zephaniah 1:17" id="Zephaniah-1-17">I will bring distress on men, that they will walk like blind men, because they have sinned against Yahweh, and their blood will be poured out like dust, and their flesh like dung.</span>
  <span class="verse" title="Zephaniah 1:18" id="Zephaniah-1-18">Neither their silver nor their gold will be able to deliver them in the day of Yahweh&#8217;s wrath, but the whole land will be devoured by the fire of his jealousy; for he will make an end, yes, a terrible end, of all those who dwell in the land.</span>
</div>