<div class="chapter" id="Zephaniah-002">
  <h2>Zephaniah 2</h2>
  <span class="verse" title="Zephaniah 2:1" id="Zephaniah-2-1">Gather yourselves together, yes, gather together, you nation that has no shame,</span>
  <span class="verse" title="Zephaniah 2:2" id="Zephaniah-2-2">before the appointed time when the day passes as the chaff, before the fierce anger of Yahweh comes on you, before the day of Yahweh&#8217;s anger comes on you.</span>
  <span class="verse" title="Zephaniah 2:3" id="Zephaniah-2-3">Seek Yahweh, all you humble of the land, who have kept his ordinances. Seek righteousness. Seek humility. It may be that you will be hidden in the day of Yahweh&#8217;s anger.</span>
  <span class="verse" title="Zephaniah 2:4" id="Zephaniah-2-4">For Gaza will be forsaken, and Ashkelon a desolation. They will drive out Ashdod at noonday, and Ekron will be rooted up.</span>
  <span class="verse" title="Zephaniah 2:5" id="Zephaniah-2-5">Woe to the inhabitants of the sea coast, the nation of the Cherethites! The word of Yahweh is against you, Canaan, the land of the Philistines. I will destroy you, that there will be no inhabitant.</span>
  <span class="verse" title="Zephaniah 2:6" id="Zephaniah-2-6">The sea coast will be pastures, with cottages for shepherds and folds for flocks.</span>
  <span class="verse" title="Zephaniah 2:7" id="Zephaniah-2-7">The coast will be for the remnant of the house of Judah. They will find pasture. In the houses of Ashkelon, they will lie down in the evening, for Yahweh, their God, will visit them, and restore them.</span>
  <span class="verse" title="Zephaniah 2:8" id="Zephaniah-2-8">I have heard the reproach of Moab, and the insults of the children of Ammon, with which they have reproached my people, and magnified themselves against their border.</span>
  <span class="verse" title="Zephaniah 2:9" id="Zephaniah-2-9">Therefore as I live, says Yahweh of Armies, the God of Israel, surely Moab will be as Sodom, and the children of Ammon as Gomorrah, a possession of nettles, and salt pits, and a perpetual desolation. The remnant of my people will plunder them, and the survivors of my nation will inherit them.</span>
  <span class="verse" title="Zephaniah 2:10" id="Zephaniah-2-10">This they will have for their pride, because they have reproached and magnified themselves against the people of Yahweh of Armies.</span>
  <span class="verse" title="Zephaniah 2:11" id="Zephaniah-2-11">Yahweh will be awesome to them, for he will famish all the gods of the land. Men will worship him, everyone from his place, even all the shores of the nations.</span>
  <span class="verse" title="Zephaniah 2:12" id="Zephaniah-2-12">You Cushites also, you will be killed by my sword.</span>
  <span class="verse" title="Zephaniah 2:13" id="Zephaniah-2-13">He will stretch out his hand against the north, destroy Assyria, and will make Nineveh a desolation, as dry as the wilderness.</span>
  <span class="verse" title="Zephaniah 2:14" id="Zephaniah-2-14">Herds will lie down in the midst of her, all the animals of the nations. Both the pelican and the porcupine will lodge in its capitals. Their calls will echo through the windows. Desolation will be in the thresholds, for he has laid bare the cedar beams.</span>
  <span class="verse" title="Zephaniah 2:15" id="Zephaniah-2-15">This is the joyous city that lived carelessly, that said in her heart, &#8220;I am, and there is none besides me.&#8221; How she has become a desolation, a place for animals to lie down in! Everyone who passes by her will hiss, and shake their fists.</span>
</div>