<div class="chapter" id="Daniel-001">
  <h2>Daniel 1</h2>
  <span class="verse" title="Daniel 1:1" id="Daniel-1-1">In the third year of the reign of Jehoiakim king of Judah came Nebuchadnezzar king of Babylon to Jerusalem, and besieged it.</span>
  <span class="verse" title="Daniel 1:2" id="Daniel-1-2">The Lord gave Jehoiakim king of Judah into his hand, with part of the vessels of the house of God; and he carried them into the land of Shinar to the house of his god: and he brought the vessels into the treasure house of his god.</span>
  <span class="verse" title="Daniel 1:3" id="Daniel-1-3">The king spoke to Ashpenaz the master of his eunuchs, that he should bring in certain of the children of Israel, even of the seed royal and of the nobles;</span>
  <span class="verse" title="Daniel 1:4" id="Daniel-1-4">youths in whom was no blemish, but well-favored, and skillful in all wisdom, and endowed with knowledge, and understanding science, and such as had ability to stand in the king&#8217;s palace; and that he should teach them the learning and the language of the Chaldeans.</span>
  <span class="verse" title="Daniel 1:5" id="Daniel-1-5">The king appointed for them a daily portion of the king&#8217;s dainties, and of the wine which he drank, and that they should be nourished three years; that at its end they should stand before the king.</span>
  <span class="verse" title="Daniel 1:6" id="Daniel-1-6">Now among these were, of the children of Judah, Daniel, Hananiah, Mishael, and Azariah.</span>
  <span class="verse" title="Daniel 1:7" id="Daniel-1-7">The prince of the eunuchs gave names to them: to Daniel he gave the name of Belteshazzar; and to Hananiah, of Shadrach; and to Mishael, of Meshach; and to Azariah, of Abednego.</span>
  <span class="verse" title="Daniel 1:8" id="Daniel-1-8">But Daniel purposed in his heart that he would not defile himself with the king&#8217;s dainties, nor with the wine which he drank: therefore he requested of the prince of the eunuchs that he might not defile himself.</span>
  <span class="verse" title="Daniel 1:9" id="Daniel-1-9">Now God made Daniel to find kindness and compassion in the sight of the prince of the eunuchs.</span>
  <span class="verse" title="Daniel 1:10" id="Daniel-1-10">The prince of the eunuchs said to Daniel, I fear my lord the king, who has appointed your food and your drink: for why should he see your faces worse looking than the youths who are of your own age? so would you endanger my head with the king.</span>
  <span class="verse" title="Daniel 1:11" id="Daniel-1-11">Then Daniel said to the steward whom the prince of the eunuchs had appointed over Daniel, Hananiah, Mishael, and Azariah:</span>
  <span class="verse" title="Daniel 1:12" id="Daniel-1-12">Test your servants, I beg you, ten days; and let them give us vegetables to eat, and water to drink.</span>
  <span class="verse" title="Daniel 1:13" id="Daniel-1-13">Then let our faces be looked on before you, and the face of the youths who eat of the king&#8217;s dainties; and as you see, deal with your servants.</span>
  <span class="verse" title="Daniel 1:14" id="Daniel-1-14">So he listened to them in this matter, and proved them ten days.</span>
  <span class="verse" title="Daniel 1:15" id="Daniel-1-15">At the end of ten days their faces appeared fairer, and they were fatter in flesh, than all the youths who ate of the king&#8217;s dainties.</span>
  <span class="verse" title="Daniel 1:16" id="Daniel-1-16">So the steward took away their dainties, and the wine that they should drink, and gave them pulse.</span>
  <span class="verse" title="Daniel 1:17" id="Daniel-1-17">Now as for these four youths, God gave them knowledge and skill in all learning and wisdom: and Daniel had understanding in all visions and dreams.</span>
  <span class="verse" title="Daniel 1:18" id="Daniel-1-18">At the end of the days which the king had appointed for bringing them in, the prince of the eunuchs brought them in before Nebuchadnezzar.</span>
  <span class="verse" title="Daniel 1:19" id="Daniel-1-19">The king talked with them; and among them all was found none like Daniel, Hananiah, Mishael, and Azariah: therefore stood they before the king.</span>
  <span class="verse" title="Daniel 1:20" id="Daniel-1-20">In every matter of wisdom and understanding, concerning which the king inquired of them, he found them ten times better than all the magicians and enchanters who were in all his realm.</span>
  <span class="verse" title="Daniel 1:21" id="Daniel-1-21">Daniel continued even to the first year of king Cyrus.</span>
</div>