<div class="chapter" id="Daniel-010">
  <h2>Daniel 10</h2>
  <span class="verse" title="Daniel 10:1" id="Daniel-10-1">In the third year of Cyrus king of Persia a thing was revealed to Daniel, whose name was called Belteshazzar; and the thing was true, even a great warfare: and he understood the thing, and had understanding of the vision.</span>
  <span class="verse" title="Daniel 10:2" id="Daniel-10-2">In those days I, Daniel, was mourning three whole weeks.</span>
  <span class="verse" title="Daniel 10:3" id="Daniel-10-3">I ate no pleasant bread, neither came flesh nor wine into my mouth, neither did I anoint myself at all, until three whole weeks were fulfilled.</span>
  <span class="verse" title="Daniel 10:4" id="Daniel-10-4">In the four and twentieth day of the first month, as I was by the side of the great river, which is Hiddekel,</span>
  <span class="verse" title="Daniel 10:5" id="Daniel-10-5">I lifted up my eyes, and looked, and behold, a man clothed in linen, whose thighs were adorned with pure gold of Uphaz:</span>
  <span class="verse" title="Daniel 10:6" id="Daniel-10-6">his body also was like the beryl, and his face as the appearance of lightning, and his eyes as flaming torches, and his arms and his feet like burnished brass, and the voice of his words like the voice of a multitude.</span>
  <span class="verse" title="Daniel 10:7" id="Daniel-10-7">I, Daniel, alone saw the vision; for the men who were with me didn&#8217;t see the vision; but a great quaking fell on them, and they fled to hide themselves.</span>
  <span class="verse" title="Daniel 10:8" id="Daniel-10-8">So I was left alone, and saw this great vision, and there remained no strength in me; for my comeliness was turned in me into corruption, and I retained no strength.</span>
  <span class="verse" title="Daniel 10:9" id="Daniel-10-9">Yet heard I the voice of his words; and when I heard the voice of his words, then was I fallen into a deep sleep on my face, with my face toward the ground.</span>
  <span class="verse" title="Daniel 10:10" id="Daniel-10-10">Behold, a hand touched me, which set me on my knees and on the palms of my hands.</span>
  <span class="verse" title="Daniel 10:11" id="Daniel-10-11">He said to me, Daniel, you man greatly beloved, understand the words that I speak to you, and stand upright; for am I now sent to you. When he had spoken this word to me, I stood trembling.</span>
  <span class="verse" title="Daniel 10:12" id="Daniel-10-12">Then he said to me, Don&#8217;t be afraid, Daniel; for from the first day that you set your heart to understand, and to humble yourself before your God, your words were heard: and I have come for your words&#8217; sake.</span>
  <span class="verse" title="Daniel 10:13" id="Daniel-10-13">But the prince of the kingdom of Persia withstood me twenty-one days; but, behold, Michael, one of the chief princes, came to help me: and I remained there with the kings of Persia.</span>
  <span class="verse" title="Daniel 10:14" id="Daniel-10-14">Now I have come to make you understand what shall happen to your people in the latter days; for the vision is yet for many days:</span>
  <span class="verse" title="Daniel 10:15" id="Daniel-10-15">and when he had spoken to me according to these words, I set my face toward the ground, and was mute.</span>
  <span class="verse" title="Daniel 10:16" id="Daniel-10-16">Behold, one in the likeness of the sons of men touched my lips: then I opened my mouth, and spoke and said to him who stood before me, my lord, by reason of the vision my sorrows are turned on me, and I retain no strength.</span>
  <span class="verse" title="Daniel 10:17" id="Daniel-10-17">For how can the servant of this my lord talk with this my lord? for as for me, immediately there remained no strength in me, neither was there breath left in me.</span>
  <span class="verse" title="Daniel 10:18" id="Daniel-10-18">Then there touched me again one like the appearance of a man, and he strengthened me.</span>
  <span class="verse" title="Daniel 10:19" id="Daniel-10-19">He said, &#8220;Greatly beloved man, don&#8217;t be afraid: peace be to you, be strong, yes, be strong.&#8221; When he spoke to me, I was strengthened, and said, &#8220;Let my lord speak; for you have strengthened me.&#8221;</span>
  <span class="verse" title="Daniel 10:20" id="Daniel-10-20">Then he said, &#8220;Do you know why I have come to you? Now I will return to fight with the prince of Persia. When I go forth, behold, the prince of Greece shall come.</span>
  <span class="verse" title="Daniel 10:21" id="Daniel-10-21">But I will tell you that which is inscribed in the writing of truth: and there is none who holds with me against these, but Michael your prince.&#8221;</span>
</div>