<div class="chapter" id="Daniel-012">
  <h2>Daniel 12</h2>
  <span class="verse" title="Daniel 12:1" id="Daniel-12-1">&#8220;At that time shall Michael stand up, the great prince who stands for the children of your people; and there shall be a time of trouble, such as never was since there was a nation even to that same time: and at that time your people shall be delivered, everyone who shall be found written in the book.</span>
  <span class="verse" title="Daniel 12:2" id="Daniel-12-2">Many of those who sleep in the dust of the earth shall awake, some to everlasting life, and some to shame and everlasting contempt.</span>
  <span class="verse" title="Daniel 12:3" id="Daniel-12-3">Those who are wise shall shine as the brightness of the expanse; and those who turn many to righteousness as the stars forever and ever.</span>
  <span class="verse" title="Daniel 12:4" id="Daniel-12-4">But you, Daniel, shut up the words, and seal the book, even to the time of the end: many shall run back and forth, and knowledge shall be increased.&#8221;</span>
  <span class="verse" title="Daniel 12:5" id="Daniel-12-5">Then I, Daniel, looked, and behold, two others stood, one on the river bank on this side, and the other on the river bank on that side.</span>
  <span class="verse" title="Daniel 12:6" id="Daniel-12-6">One said to the man clothed in linen, who was above the waters of the river, How long shall it be to the end of these wonders?</span>
  <span class="verse" title="Daniel 12:7" id="Daniel-12-7">I heard the man clothed in linen, who was above the waters of the river, when he held up his right hand and his left hand to heaven, and swore by him who lives forever that it shall be for a time, times, and a half; and when they have made an end of breaking in pieces the power of the holy people, all these things shall be finished.</span>
  <span class="verse" title="Daniel 12:8" id="Daniel-12-8">I heard, but I didn&#8217;t understand: then I said, my lord, what shall be the issue of these things?</span>
  <span class="verse" title="Daniel 12:9" id="Daniel-12-9">He said, Go your way, Daniel; for the words are shut up and sealed until the time of the end.</span>
  <span class="verse" title="Daniel 12:10" id="Daniel-12-10">Many shall purify themselves, and make themselves white, and be refined; but the wicked shall do wickedly; and none of the wicked shall understand; but those who are wise shall understand.</span>
  <span class="verse" title="Daniel 12:11" id="Daniel-12-11">From the time that the continual burnt offering shall be taken away, and the abomination that makes desolate set up, there shall be one thousand two hundred ninety days.</span>
  <span class="verse" title="Daniel 12:12" id="Daniel-12-12">Blessed is he who waits, and comes to the one thousand three hundred thirty-five days.</span>
  <span class="verse" title="Daniel 12:13" id="Daniel-12-13">But go you your way until the end; for you shall rest, and shall stand in your lot, at the end of the days.</span>
</div>