<div class="chapter" id="2 Kings-021">
  <h2>2 Kings 21</h2>
  <span class="verse" title="2 Kings 21:1" id="2_Kings-21-1">Manasseh was twelve years old when he began to reign; and he reigned fifty-five years in Jerusalem: and his mother&#8217;s name was Hephzibah.</span>
  <span class="verse" title="2 Kings 21:2" id="2_Kings-21-2">He did that which was evil in the sight of Yahweh, after the abominations of the nations whom Yahweh cast out before the children of Israel.</span>
  <span class="verse" title="2 Kings 21:3" id="2_Kings-21-3">For he built again the high places which Hezekiah his father had destroyed; and he reared up altars for Baal, and made an Asherah, as did Ahab king of Israel, and worshiped all the army of the sky, and served them.</span>
  <span class="verse" title="2 Kings 21:4" id="2_Kings-21-4">He built altars in the house of Yahweh, of which Yahweh said, &#8220;I will put my name in Jerusalem.&#8221;</span>
  <span class="verse" title="2 Kings 21:5" id="2_Kings-21-5">He built altars for all the army of the sky in the two courts of the house of Yahweh.</span>
  <span class="verse" title="2 Kings 21:6" id="2_Kings-21-6">He made his son to pass through the fire, and practiced sorcery, and used enchantments, and dealt with those who had familiar spirits, and with wizards: he worked much evil in the sight of Yahweh, to provoke him to anger.</span>
  <span class="verse" title="2 Kings 21:7" id="2_Kings-21-7">He set the engraved image of Asherah, that he had made, in the house of which Yahweh said to David and to Solomon his son, &#8220;In this house, and in Jerusalem, which I have chosen out of all the tribes of Israel, will I put my name forever;</span>
  <span class="verse" title="2 Kings 21:8" id="2_Kings-21-8">neither will I cause the feet of Israel to wander any more out of the land which I gave their fathers, if only they will observe to do according to all that I have commanded them, and according to all the law that my servant Moses commanded them.&#8221;</span>
  <span class="verse" title="2 Kings 21:9" id="2_Kings-21-9">But they didn&#8217;t listen: and Manasseh seduced them to do that which is evil more than the nations did whom Yahweh destroyed before the children of Israel.</span>
  <span class="verse" title="2 Kings 21:10" id="2_Kings-21-10">Yahweh spoke by his servants the prophets, saying,</span>
  <span class="verse" title="2 Kings 21:11" id="2_Kings-21-11">&#8220;Because Manasseh king of Judah has done these abominations, and has done wickedly above all that the Amorites did, who were before him, and has made Judah also to sin with his idols;</span>
  <span class="verse" title="2 Kings 21:12" id="2_Kings-21-12">therefore thus says Yahweh, the God of Israel, &#8216;Behold, I bring such evil on Jerusalem and Judah, that whoever hears of it, both his ears shall tingle.</span>
  <span class="verse" title="2 Kings 21:13" id="2_Kings-21-13">I will stretch over Jerusalem the line of Samaria, and the plummet of the house of Ahab; and I will wipe Jerusalem as a man wipes a dish, wiping it and turning it upside down.</span>
  <span class="verse" title="2 Kings 21:14" id="2_Kings-21-14">I will cast off the remnant of my inheritance, and deliver them into the hand of their enemies. They will become a prey and a spoil to all their enemies;</span>
  <span class="verse" title="2 Kings 21:15" id="2_Kings-21-15">because they have done that which is evil in my sight, and have provoked me to anger, since the day their fathers came forth out of Egypt, even to this day.&#8217;&#8221;</span>
  <span class="verse" title="2 Kings 21:16" id="2_Kings-21-16">Moreover Manasseh shed innocent blood very much, until he had filled Jerusalem from one end to another; besides his sin with which he made Judah to sin, in doing that which was evil in the sight of Yahweh.</span>
  <span class="verse" title="2 Kings 21:17" id="2_Kings-21-17">Now the rest of the acts of Manasseh, and all that he did, and his sin that he sinned, aren&#8217;t they written in the book of the chronicles of the kings of Judah?</span>
  <span class="verse" title="2 Kings 21:18" id="2_Kings-21-18">Manasseh slept with his fathers, and was buried in the garden of his own house, in the garden of Uzza: and Amon his son reigned in his place.</span>
  <span class="verse" title="2 Kings 21:19" id="2_Kings-21-19">Amon was twenty-two years old when he began to reign; and he reigned two years in Jerusalem: and his mother&#8217;s name was Meshullemeth the daughter of Haruz of Jotbah.</span>
  <span class="verse" title="2 Kings 21:20" id="2_Kings-21-20">He did that which was evil in the sight of Yahweh, as Manasseh his father did.</span>
  <span class="verse" title="2 Kings 21:21" id="2_Kings-21-21">He walked in all the way that his father walked in, and served the idols that his father served, and worshiped them:</span>
  <span class="verse" title="2 Kings 21:22" id="2_Kings-21-22">and he forsook Yahweh, the God of his fathers, and didn&#8217;t walk in the way of Yahweh.</span>
  <span class="verse" title="2 Kings 21:23" id="2_Kings-21-23">The servants of Amon conspired against him, and put the king to death in his own house.</span>
  <span class="verse" title="2 Kings 21:24" id="2_Kings-21-24">But the people of the land killed all those who had conspired against king Amon; and the people of the land made Josiah his son king in his place.</span>
  <span class="verse" title="2 Kings 21:25" id="2_Kings-21-25">Now the rest of the acts of Amon which he did, aren&#8217;t they written in the book of the chronicles of the kings of Judah?</span>
  <span class="verse" title="2 Kings 21:26" id="2_Kings-21-26">He was buried in his tomb in the garden of Uzza: and Josiah his son reigned in his place.</span>
</div>