<div class="chapter" id="2 Kings-024">
  <h2>2 Kings 24</h2>
  <span class="verse" title="2 Kings 24:1" id="2_Kings-24-1">In his days Nebuchadnezzar king of Babylon came up, and Jehoiakim became his servant three years: then he turned and rebelled against him.</span>
  <span class="verse" title="2 Kings 24:2" id="2_Kings-24-2">Yahweh sent against him bands of the Chaldeans, and bands of the Syrians, and bands of the Moabites, and bands of the children of Ammon, and sent them against Judah to destroy it, according to the word of Yahweh, which he spoke by his servants the prophets.</span>
  <span class="verse" title="2 Kings 24:3" id="2_Kings-24-3">Surely at the commandment of Yahweh came this on Judah, to remove them out of his sight, for the sins of Manasseh, according to all that he did,</span>
  <span class="verse" title="2 Kings 24:4" id="2_Kings-24-4">and also for the innocent blood that he shed; for he filled Jerusalem with innocent blood: and Yahweh would not pardon.</span>
  <span class="verse" title="2 Kings 24:5" id="2_Kings-24-5">Now the rest of the acts of Jehoiakim, and all that he did, aren&#8217;t they written in the book of the chronicles of the kings of Judah?</span>
  <span class="verse" title="2 Kings 24:6" id="2_Kings-24-6">So Jehoiakim slept with his fathers; and Jehoiachin his son reigned in his place.</span>
  <span class="verse" title="2 Kings 24:7" id="2_Kings-24-7">The king of Egypt didn&#8217;t come again out of his land any more; for the king of Babylon had taken, from the brook of Egypt to the river Euphrates, all that pertained to the king of Egypt.</span>
  <span class="verse" title="2 Kings 24:8" id="2_Kings-24-8">Jehoiachin was eighteen years old when he began to reign; and he reigned in Jerusalem three months: and his mother&#8217;s name was Nehushta the daughter of Elnathan of Jerusalem.</span>
  <span class="verse" title="2 Kings 24:9" id="2_Kings-24-9">He did that which was evil in the sight of Yahweh, according to all that his father had done.</span>
  <span class="verse" title="2 Kings 24:10" id="2_Kings-24-10">At that time the servants of Nebuchadnezzar king of Babylon came up to Jerusalem, and the city was besieged.</span>
  <span class="verse" title="2 Kings 24:11" id="2_Kings-24-11">Nebuchadnezzar king of Babylon came to the city, while his servants were besieging it;</span>
  <span class="verse" title="2 Kings 24:12" id="2_Kings-24-12">and Jehoiachin the king of Judah went out to the king of Babylon, he, and his mother, and his servants, and his princes, and his officers: and the king of Babylon took him in the eighth year of his reign.</span>
  <span class="verse" title="2 Kings 24:13" id="2_Kings-24-13">He carried out there all the treasures of the house of Yahweh, and the treasures of the king&#8217;s house, and cut in pieces all the vessels of gold, which Solomon king of Israel had made in the temple of Yahweh, as Yahweh had said.</span>
  <span class="verse" title="2 Kings 24:14" id="2_Kings-24-14">He carried away all Jerusalem, and all the princes, and all the mighty men of valor, even ten thousand captives, and all the craftsmen and the smiths; none remained, except the poorest sort of the people of the land.</span>
  <span class="verse" title="2 Kings 24:15" id="2_Kings-24-15">He carried away Jehoiachin to Babylon; and the king&#8217;s mother, and the king&#8217;s wives, and his officers, and the chief men of the land, carried he into captivity from Jerusalem to Babylon.</span>
  <span class="verse" title="2 Kings 24:16" id="2_Kings-24-16">All the men of might, even seven thousand, and the craftsmen and the smiths one thousand, all of them strong and apt for war, even them the king of Babylon brought captive to Babylon.</span>
  <span class="verse" title="2 Kings 24:17" id="2_Kings-24-17">The king of Babylon made Mattaniah, Jehoiachin&#8217;s father&#8217;s brother, king is his place, and changed his name to Zedekiah.</span>
  <span class="verse" title="2 Kings 24:18" id="2_Kings-24-18">Zedekiah was twenty-one years old when he began to reign; and he reigned eleven years in Jerusalem: and his mother&#8217;s name was Hamutal the daughter of Jeremiah of Libnah.</span>
  <span class="verse" title="2 Kings 24:19" id="2_Kings-24-19">He did that which was evil in the sight of Yahweh, according to all that Jehoiakim had done.</span>
  <span class="verse" title="2 Kings 24:20" id="2_Kings-24-20">For through the anger of Yahweh, it happened in Jerusalem and Judah, until he had cast them out from his presence. Zedekiah rebelled against the king of Babylon.</span>
</div>