<div class="chapter" id="Lamentations-003">
  <h2>Lamentations 3</h2>
  <span class="verse" title="Lamentations 3:1" id="Lamentations-3-1">I am the man that has seen affliction by the rod of his wrath.<br/></span>
  <span class="verse" title="Lamentations 3:2" id="Lamentations-3-2">He has led me and caused me to walk in darkness, and not in light.<br/></span>
  <span class="verse" title="Lamentations 3:3" id="Lamentations-3-3">Surely against me he turns his hand again and again all the day.<br/></span>
  <span class="verse" title="Lamentations 3:4" id="Lamentations-3-4">My flesh and my skin has he made old; he has broken my bones.<br/></span>
  <span class="verse" title="Lamentations 3:5" id="Lamentations-3-5">He has built against me, and surrounded me with gall and travail.<br/></span>
  <span class="verse" title="Lamentations 3:6" id="Lamentations-3-6">He has made me to dwell in dark places, as those that have been long dead.<br/></span>
  <span class="verse" title="Lamentations 3:7" id="Lamentations-3-7">He has walled me about, that I can&#8217;t go forth; he has made my chain heavy.<br/></span>
  <span class="verse" title="Lamentations 3:8" id="Lamentations-3-8">Yes, when I cry, and call for help, he shuts out my prayer.<br/></span>
  <span class="verse" title="Lamentations 3:9" id="Lamentations-3-9">He has walled up my ways with cut stone; he has made my paths crooked.<br/></span>
  <span class="verse" title="Lamentations 3:10" id="Lamentations-3-10">He is to me as a bear lying in wait, as a lion in secret places.<br/></span>
  <span class="verse" title="Lamentations 3:11" id="Lamentations-3-11">He has turned aside my ways, and pulled me in pieces; he has made me desolate.<br/></span>
  <span class="verse" title="Lamentations 3:12" id="Lamentations-3-12">He has bent his bow, and set me as a mark for the arrow.<br/></span>
  <span class="verse" title="Lamentations 3:13" id="Lamentations-3-13">He has caused the shafts of his quiver to enter into my kidneys.<br/></span>
  <span class="verse" title="Lamentations 3:14" id="Lamentations-3-14">I am become a derision to all my people, and their song all the day. <br/></span>
  <span class="verse" title="Lamentations 3:15" id="Lamentations-3-15">He has filled me with bitterness, he has sated me with wormwood.<br/></span>
  <span class="verse" title="Lamentations 3:16" id="Lamentations-3-16">He has also broken my teeth with gravel stones; he has covered me with ashes.<br/></span>
  <span class="verse" title="Lamentations 3:17" id="Lamentations-3-17">You have removed my soul far off from peace; I forgot prosperity.<br/></span>
  <span class="verse" title="Lamentations 3:18" id="Lamentations-3-18">I said, My strength is perished, and my expectation from Yahweh.<br/></span>
  <span class="verse" title="Lamentations 3:19" id="Lamentations-3-19">Remember my affliction and my misery, the wormwood and the gall.<br/></span>
  <span class="verse" title="Lamentations 3:20" id="Lamentations-3-20">My soul still remembers them, and is bowed down within me.<br/></span>
  <span class="verse" title="Lamentations 3:21" id="Lamentations-3-21">This I recall to my mind; therefore have I hope.<br/></span>
  <span class="verse" title="Lamentations 3:22" id="Lamentations-3-22">It is because of Yahweh&#8217;s loving kindnesses that we are not consumed, because his compassion doesn&#8217;t fail.<br/></span>
  <span class="verse" title="Lamentations 3:23" id="Lamentations-3-23">They are new every morning; great is your faithfulness.<br/></span>
  <span class="verse" title="Lamentations 3:24" id="Lamentations-3-24">Yahweh is my portion, says my soul; therefore will I hope in him.<br/></span>
  <span class="verse" title="Lamentations 3:25" id="Lamentations-3-25">Yahweh is good to those who wait for him, to the soul that seeks him.<br/></span>
  <span class="verse" title="Lamentations 3:26" id="Lamentations-3-26">It is good that a man should hope and quietly wait for the salvation of Yahweh.<br/></span>
  <span class="verse" title="Lamentations 3:27" id="Lamentations-3-27">It is good for a man that he bear the yoke in his youth.<br/></span>
  <span class="verse" title="Lamentations 3:28" id="Lamentations-3-28">Let him sit alone and keep silence, because he has laid it on him.<br/></span>
  <span class="verse" title="Lamentations 3:29" id="Lamentations-3-29">Let him put his mouth in the dust, if so be there may be hope.<br/></span>
  <span class="verse" title="Lamentations 3:30" id="Lamentations-3-30">Let him give his cheek to him who strikes him; let him be filled full with reproach.<br/></span>
  <span class="verse" title="Lamentations 3:31" id="Lamentations-3-31">For the Lord will not cast off forever.<br/></span>
  <span class="verse" title="Lamentations 3:32" id="Lamentations-3-32">For though he cause grief, yet he will have compassion according to the multitude of his loving kindnesses.<br/></span>
  <span class="verse" title="Lamentations 3:33" id="Lamentations-3-33">For he does not afflict willingly, nor grieve the children of men.<br/></span>
  <span class="verse" title="Lamentations 3:34" id="Lamentations-3-34">To crush under foot all the prisoners of the earth,<br/></span>
  <span class="verse" title="Lamentations 3:35" id="Lamentations-3-35">To turn aside the right of a man before the face of the Most High,<br/></span>
  <span class="verse" title="Lamentations 3:36" id="Lamentations-3-36">To subvert a man in his cause, the Lord doesn&#8217;t approve.<br/></span>
  <span class="verse" title="Lamentations 3:37" id="Lamentations-3-37">Who is he who says, and it comes to pass, when the Lord doesn&#8217;t command it?<br/></span>
  <span class="verse" title="Lamentations 3:38" id="Lamentations-3-38">Doesn&#8217;t evil and good come out of the mouth of the Most High?<br/></span>
  <span class="verse" title="Lamentations 3:39" id="Lamentations-3-39">Why does a living man complain, a man for the punishment of his sins?<br/>   <br/></span>
  <span class="verse" title="Lamentations 3:40" id="Lamentations-3-40">Let us search and try our ways, and turn again to Yahweh.<br/></span>
  <span class="verse" title="Lamentations 3:41" id="Lamentations-3-41">Let us lift up our heart with our hands to God in the heavens.<br/></span>
  <span class="verse" title="Lamentations 3:42" id="Lamentations-3-42">We have transgressed and have rebelled; you have not pardoned.<br/></span>
  <span class="verse" title="Lamentations 3:43" id="Lamentations-3-43">You have covered with anger and pursued us; you have killed, you have not pitied.<br/></span>
  <span class="verse" title="Lamentations 3:44" id="Lamentations-3-44">You have covered yourself with a cloud, so that no prayer can pass through.<br/></span>
  <span class="verse" title="Lamentations 3:45" id="Lamentations-3-45">You have made us an off-scouring and refuse in the midst of the peoples.<br/></span>
  <span class="verse" title="Lamentations 3:46" id="Lamentations-3-46">All our enemies have opened their mouth wide against us.<br/></span>
  <span class="verse" title="Lamentations 3:47" id="Lamentations-3-47">Fear and the pit have come on us, devastation and destruction.<br/></span>
  <span class="verse" title="Lamentations 3:48" id="Lamentations-3-48">My eye runs down with streams of water, for the destruction of the daughter of my people.<br/></span>
  <span class="verse" title="Lamentations 3:49" id="Lamentations-3-49">My eye pours down, and doesn&#8217;t cease, without any intermission,<br/></span>
  <span class="verse" title="Lamentations 3:50" id="Lamentations-3-50">Until Yahweh look down, and see from heaven.<br/></span>
  <span class="verse" title="Lamentations 3:51" id="Lamentations-3-51">My eye affects my soul, because of all the daughters of my city.<br/></span>
  <span class="verse" title="Lamentations 3:52" id="Lamentations-3-52">They have chased me relentlessly like a bird, those who are my enemies without cause.<br/></span>
  <span class="verse" title="Lamentations 3:53" id="Lamentations-3-53">They have cut off my life in the dungeon, and have cast a stone on me.<br/></span>
  <span class="verse" title="Lamentations 3:54" id="Lamentations-3-54">Waters flowed over my head; I said, I am cut off.<br/>   <br/></span>
  <span class="verse" title="Lamentations 3:55" id="Lamentations-3-55">I called on your name, Yahweh, out of the lowest dungeon.<br/></span>
  <span class="verse" title="Lamentations 3:56" id="Lamentations-3-56">You heard my voice; don&#8217;t hide your ear at my breathing, at my cry.<br/></span>
  <span class="verse" title="Lamentations 3:57" id="Lamentations-3-57">You drew near in the day that I called on you; you said, Don&#8217;t be afraid.<br/></span>
  <span class="verse" title="Lamentations 3:58" id="Lamentations-3-58">Lord, you have pleaded the causes of my soul; you have redeemed my life.<br/></span>
  <span class="verse" title="Lamentations 3:59" id="Lamentations-3-59">Yahweh, you have seen my wrong. Judge my cause.<br/></span>
  <span class="verse" title="Lamentations 3:60" id="Lamentations-3-60">You have seen all their vengeance and all their devices against me.<br/></span>
  <span class="verse" title="Lamentations 3:61" id="Lamentations-3-61">You have heard their reproach, Yahweh, and all their devices against me,<br/></span>
  <span class="verse" title="Lamentations 3:62" id="Lamentations-3-62">The lips of those that rose up against me, and their device against me all the day.<br/></span>
  <span class="verse" title="Lamentations 3:63" id="Lamentations-3-63">You see their sitting down, and their rising up; I am their song.<br/></span>
  <span class="verse" title="Lamentations 3:64" id="Lamentations-3-64">You will render to them a recompense, Yahweh, according to the work of their hands.<br/></span>
  <span class="verse" title="Lamentations 3:65" id="Lamentations-3-65">You will give them hardness of heart, your curse to them.<br/></span>
  <span class="verse" title="Lamentations 3:66" id="Lamentations-3-66">You will pursue them in anger, and destroy them from under the heavens of Yahweh.<br/></span>
</div>