<div class="chapter" id="Lamentations-005">
  <h2>Lamentations 5</h2>
  <span class="verse" title="Lamentations 5:1" id="Lamentations-5-1">Remember, Yahweh, what has come on us:<br/>   Look, and see our reproach.<br/></span>
  <span class="verse" title="Lamentations 5:2" id="Lamentations-5-2">Our inheritance is turned to strangers,<br/>   Our houses to aliens.<br/></span>
  <span class="verse" title="Lamentations 5:3" id="Lamentations-5-3">We are orphans and fatherless;<br/>   Our mothers are as widows.<br/></span>
  <span class="verse" title="Lamentations 5:4" id="Lamentations-5-4">We have drunken our water for money;<br/>   Our wood is sold to us.<br/></span>
  <span class="verse" title="Lamentations 5:5" id="Lamentations-5-5">Our pursuers are on our necks:<br/>   We are weary, and have no rest.<br/></span>
  <span class="verse" title="Lamentations 5:6" id="Lamentations-5-6">We have given the hand to the Egyptians,<br/>   To the Assyrians, to be satisfied with bread.<br/></span>
  <span class="verse" title="Lamentations 5:7" id="Lamentations-5-7">Our fathers sinned, and are no more;<br/>   We have borne their iniquities.<br/></span>
  <span class="verse" title="Lamentations 5:8" id="Lamentations-5-8">Servants rule over us:<br/>   There is none to deliver us out of their hand.<br/></span>
  <span class="verse" title="Lamentations 5:9" id="Lamentations-5-9">We get our bread at the peril of our lives,<br/>   Because of the sword of the wilderness.<br/></span>
  <span class="verse" title="Lamentations 5:10" id="Lamentations-5-10">Our skin is black like an oven,<br/>   Because of the burning heat of famine.<br/></span>
  <span class="verse" title="Lamentations 5:11" id="Lamentations-5-11">They ravished the women in Zion,<br/>   The virgins in the cities of Judah.<br/></span>
  <span class="verse" title="Lamentations 5:12" id="Lamentations-5-12">Princes were hanged up by their hand:<br/>   The faces of elders were not honored.<br/></span>
  <span class="verse" title="Lamentations 5:13" id="Lamentations-5-13">The young men bare the mill;<br/>   The children stumbled under the wood.<br/></span>
  <span class="verse" title="Lamentations 5:14" id="Lamentations-5-14">The elders have ceased from the gate,<br/>   The young men from their music.<br/></span>
  <span class="verse" title="Lamentations 5:15" id="Lamentations-5-15">The joy of our heart is ceased;<br/>   Our dance is turned into mourning.<br/></span>
  <span class="verse" title="Lamentations 5:16" id="Lamentations-5-16">The crown is fallen from our head:<br/>   Woe to us! for we have sinned.<br/></span>
  <span class="verse" title="Lamentations 5:17" id="Lamentations-5-17">For this our heart is faint;<br/>   For these things our eyes are dim;<br/></span>
  <span class="verse" title="Lamentations 5:18" id="Lamentations-5-18">For the mountain of Zion, which is desolate:<br/>   The foxes walk on it.<br/>   <br/></span>
  <span class="verse" title="Lamentations 5:19" id="Lamentations-5-19">You, Yahweh, remain forever;<br/>   Your throne is from generation to generation.<br/></span>
  <span class="verse" title="Lamentations 5:20" id="Lamentations-5-20">Why do you forget us forever,<br/>   And forsake us so long time?<br/></span>
  <span class="verse" title="Lamentations 5:21" id="Lamentations-5-21">Turn us to yourself, Yahweh, and we shall be turned.<br/>   Renew our days as of old.<br/></span>
  <span class="verse" title="Lamentations 5:22" id="Lamentations-5-22">But you have utterly rejected us;<br/>   You are very angry against us.<br/></span>
</div>