<% content_for :sidebar do %>
  <h2><%= t('nav.podcasts') %></h2>
  <p><%= link_to @base_url %></p>
<% end %>

<iframe
  id="sermondrop_details_widget"
  src="<%= @base_url %>/sermons?format=widget&amp;s=large"
  scrolling="no"
  allowtransparency="true"
  marginwidth="0"
  marginheight="0"
  frameborder="0"
  vspace="0"
  hspace="0"
  style="overflow:visible;"
  height="1800"
  width="605">
</iframe>
