<div class="chapter" id="Nehemiah-007">
  <h2>Nehemiah 7</h2>
  <span class="verse" title="Nehemiah 7:1" id="Nehemiah-7-1">Now it happened, when the wall was built, and I had set up the doors, and the porters and the singers and the Levites were appointed,</span>
  <span class="verse" title="Nehemiah 7:2" id="Nehemiah-7-2">that I put my brother Hanani, and Hananiah the governor of the castle, in charge of Jerusalem; for he was a faithful man, and feared God above many.</span>
  <span class="verse" title="Nehemiah 7:3" id="Nehemiah-7-3">I said to them, &#8220;Don&#8217;t let the gates of Jerusalem be opened until the sun is hot; and while they stand guard, let them shut the doors, and you bar them: and appoint watches of the inhabitants of Jerusalem, everyone in his watch, with everyone near his house.&#8221;</span>
  <span class="verse" title="Nehemiah 7:4" id="Nehemiah-7-4">Now the city was wide and large; but the people were few therein, and the houses were not built.</span>
  <span class="verse" title="Nehemiah 7:5" id="Nehemiah-7-5">My God put into my heart to gather together the nobles, and the rulers, and the people, that they might be reckoned by genealogy. I found the book of the genealogy of those who came up at the first, and I found written therein:</span>
  <span class="verse" title="Nehemiah 7:6" id="Nehemiah-7-6">These are the children of the province, who went up out of the captivity of those who had been carried away, whom Nebuchadnezzar the king of Babylon had carried away, and who returned to Jerusalem and to Judah, everyone to his city;</span>
  <span class="verse" title="Nehemiah 7:7" id="Nehemiah-7-7">who came with Zerubbabel, Jeshua, Nehemiah, Azariah, Raamiah, Nahamani, Mordecai, Bilshan, Mispereth, Bigvai, Nehum, Baanah. The number of the men of the people of Israel:</span>
  <span class="verse" title="Nehemiah 7:8" id="Nehemiah-7-8">The children of Parosh, two thousand one hundred seventy-two.</span>
  <span class="verse" title="Nehemiah 7:9" id="Nehemiah-7-9">The children of Shephatiah, three hundred seventy-two.</span>
  <span class="verse" title="Nehemiah 7:10" id="Nehemiah-7-10">The children of Arah, six hundred fifty-two.</span>
  <span class="verse" title="Nehemiah 7:11" id="Nehemiah-7-11">The children of Pahathmoab, of the children of Jeshua and Joab, two thousand eight hundred eighteen.</span>
  <span class="verse" title="Nehemiah 7:12" id="Nehemiah-7-12">The children of Elam, one thousand two hundred fifty-four.</span>
  <span class="verse" title="Nehemiah 7:13" id="Nehemiah-7-13">The children of Zattu, eight hundred forty-five.</span>
  <span class="verse" title="Nehemiah 7:14" id="Nehemiah-7-14">The children of Zaccai, seven hundred sixty.</span>
  <span class="verse" title="Nehemiah 7:15" id="Nehemiah-7-15">The children of Binnui, six hundred forty-eight.</span>
  <span class="verse" title="Nehemiah 7:16" id="Nehemiah-7-16">The children of Bebai, six hundred twenty-eight.</span>
  <span class="verse" title="Nehemiah 7:17" id="Nehemiah-7-17">The children of Azgad, two thousand three hundred twenty-two.</span>
  <span class="verse" title="Nehemiah 7:18" id="Nehemiah-7-18">The children of Adonikam, six hundred sixty-seven.</span>
  <span class="verse" title="Nehemiah 7:19" id="Nehemiah-7-19">The children of Bigvai, two thousand sixty-seven.</span>
  <span class="verse" title="Nehemiah 7:20" id="Nehemiah-7-20">The children of Adin, six hundred fifty-five.</span>
  <span class="verse" title="Nehemiah 7:21" id="Nehemiah-7-21">The children of Ater, of Hezekiah, ninety-eight.</span>
  <span class="verse" title="Nehemiah 7:22" id="Nehemiah-7-22">The children of Hashum, three hundred Twenty-eight.</span>
  <span class="verse" title="Nehemiah 7:23" id="Nehemiah-7-23">The children of Bezai, three hundred twenty-four.</span>
  <span class="verse" title="Nehemiah 7:24" id="Nehemiah-7-24">The children of Hariph, one hundred twelve.</span>
  <span class="verse" title="Nehemiah 7:25" id="Nehemiah-7-25">The children of Gibeon, ninety-five.</span>
  <span class="verse" title="Nehemiah 7:26" id="Nehemiah-7-26">The men of Bethlehem and Netophah, one hundred eighty-eight.</span>
  <span class="verse" title="Nehemiah 7:27" id="Nehemiah-7-27">The men of Anathoth, one hundred twenty-eight.</span>
  <span class="verse" title="Nehemiah 7:28" id="Nehemiah-7-28">The men of Beth Azmaveth, forty-two.</span>
  <span class="verse" title="Nehemiah 7:29" id="Nehemiah-7-29">The men of Kiriath Jearim, Chephirah, and Beeroth, seven hundred forty-three.</span>
  <span class="verse" title="Nehemiah 7:30" id="Nehemiah-7-30">The men of Ramah and Geba, six hundred twenty-one.</span>
  <span class="verse" title="Nehemiah 7:31" id="Nehemiah-7-31">The men of Michmas, one hundred and twenty-two.</span>
  <span class="verse" title="Nehemiah 7:32" id="Nehemiah-7-32">The men of Bethel and Ai, a hundred twenty-three.</span>
  <span class="verse" title="Nehemiah 7:33" id="Nehemiah-7-33">The men of the other Nebo, fifty-two.</span>
  <span class="verse" title="Nehemiah 7:34" id="Nehemiah-7-34">The children of the other Elam, one thousand two hundred fifty-four.</span>
  <span class="verse" title="Nehemiah 7:35" id="Nehemiah-7-35">The children of Harim, three hundred twenty.</span>
  <span class="verse" title="Nehemiah 7:36" id="Nehemiah-7-36">The children of Jericho, three hundred forty-five.</span>
  <span class="verse" title="Nehemiah 7:37" id="Nehemiah-7-37">The children of Lod, Hadid, and Ono, seven hundred twenty-one.</span>
  <span class="verse" title="Nehemiah 7:38" id="Nehemiah-7-38">The children of Senaah, three thousand nine hundred thirty.</span>
  <span class="verse" title="Nehemiah 7:39" id="Nehemiah-7-39">The priests: The children of Jedaiah, of the house of Jeshua, nine hundred seventy-three.</span>
  <span class="verse" title="Nehemiah 7:40" id="Nehemiah-7-40">The children of Immer, one thousand fifty-two.</span>
  <span class="verse" title="Nehemiah 7:41" id="Nehemiah-7-41">The children of Pashhur, one thousand two hundred forty-seven.</span>
  <span class="verse" title="Nehemiah 7:42" id="Nehemiah-7-42">The children of Harim, one thousand seventeen.</span>
  <span class="verse" title="Nehemiah 7:43" id="Nehemiah-7-43">The Levites: the children of Jeshua, of Kadmiel, of the children of Hodevah, seventy-four.</span>
  <span class="verse" title="Nehemiah 7:44" id="Nehemiah-7-44">The singers: the children of Asaph, one hundred forty-eight.</span>
  <span class="verse" title="Nehemiah 7:45" id="Nehemiah-7-45">The porters: the children of Shallum, the children of Ater, the children of Talmon, the children of Akkub, the children of Hatita, the children of Shobai, one hundred thirty-eight.</span>
  <span class="verse" title="Nehemiah 7:46" id="Nehemiah-7-46">The Nethinim: the children of Ziha, the children of Hasupha, the children of Tabbaoth,</span>
  <span class="verse" title="Nehemiah 7:47" id="Nehemiah-7-47">the children of Keros, the children of Sia, the children of Padon,</span>
  <span class="verse" title="Nehemiah 7:48" id="Nehemiah-7-48">the children of Lebana, the children of Hagaba, the children of Salmai,</span>
  <span class="verse" title="Nehemiah 7:49" id="Nehemiah-7-49">the children of Hanan, the children of Giddel, the children of Gahar,</span>
  <span class="verse" title="Nehemiah 7:50" id="Nehemiah-7-50">the children of Reaiah, the children of Rezin, the children of Nekoda,</span>
  <span class="verse" title="Nehemiah 7:51" id="Nehemiah-7-51">the children of Gazzam, the children of Uzza, the children of Paseah.</span>
  <span class="verse" title="Nehemiah 7:52" id="Nehemiah-7-52">The children of Besai, the children of Meunim, the children of Nephushesim,</span>
  <span class="verse" title="Nehemiah 7:53" id="Nehemiah-7-53">the children of Bakbuk, the children of Hakupha, the children of Harhur,</span>
  <span class="verse" title="Nehemiah 7:54" id="Nehemiah-7-54">the children of Bazlith, the children of Mehida, the children of Harsha,</span>
  <span class="verse" title="Nehemiah 7:55" id="Nehemiah-7-55">the children of Barkos, the children of Sisera, the children of Temah,</span>
  <span class="verse" title="Nehemiah 7:56" id="Nehemiah-7-56">the children of Neziah, the children of Hatipha.</span>
  <span class="verse" title="Nehemiah 7:57" id="Nehemiah-7-57">The children of Solomon&#8217;s servants: the children of Sotai, the children of Sophereth, the children of Perida,</span>
  <span class="verse" title="Nehemiah 7:58" id="Nehemiah-7-58">the children of Jaala, the children of Darkon, the children of Giddel,</span>
  <span class="verse" title="Nehemiah 7:59" id="Nehemiah-7-59">the children of Shephatiah, the children of Hattil, the children of Pochereth Hazzebaim, the children of Amon.</span>
  <span class="verse" title="Nehemiah 7:60" id="Nehemiah-7-60">All the Nethinim, and the children of Solomon&#8217;s servants, were three hundred ninety-two.</span>
  <span class="verse" title="Nehemiah 7:61" id="Nehemiah-7-61">These were those who went up from Tel Melah, Tel Harsha, Cherub, Addon, and Immer; but they could not show their fathers&#8217; houses, nor their seed, whether they were of Israel:</span>
  <span class="verse" title="Nehemiah 7:62" id="Nehemiah-7-62">The children of Delaiah, the children of Tobiah, the children of Nekoda, six hundred forty-two.</span>
  <span class="verse" title="Nehemiah 7:63" id="Nehemiah-7-63">Of the priests: the children of Hobaiah, the children of Hakkoz, the children of Barzillai, who took a wife of the daughters of Barzillai the Gileadite, and was called after their name.</span>
  <span class="verse" title="Nehemiah 7:64" id="Nehemiah-7-64">These searched for their geneological records, but couldn&#8217;t find them. Therefore were they deemed polluted and put from the priesthood.</span>
  <span class="verse" title="Nehemiah 7:65" id="Nehemiah-7-65">The governor said to them, that they should not eat of the most holy things, until there stood up a priest with Urim and Thummim.</span>
  <span class="verse" title="Nehemiah 7:66" id="Nehemiah-7-66">The whole assembly together was forty-two thousand three hundred sixty,</span>
  <span class="verse" title="Nehemiah 7:67" id="Nehemiah-7-67">besides their male servants and their female servants, of whom there were seven thousand three hundred thirty-seven: and they had two hundred forty-five singing men and singing women.</span>
  <span class="verse" title="Nehemiah 7:68" id="Nehemiah-7-68">Their horses were seven hundred thirty-six; their mules, two hundred forty-five;</span>
  <span class="verse" title="Nehemiah 7:69" id="Nehemiah-7-69">their camels, four hundred thirty-five; their donkeys, six thousand seven hundred twenty.</span>
  <span class="verse" title="Nehemiah 7:70" id="Nehemiah-7-70">Some from among the heads of fathers&#8217; households gave to the work. The governor gave to the treasury one thousand darics of gold, fifty basins, and five hundred thirty priests&#8217; garments.</span>
  <span class="verse" title="Nehemiah 7:71" id="Nehemiah-7-71">Some of the heads of fathers&#8217; households gave into the treasury of the work twenty thousand darics of gold, and two thousand two hundred minas of silver.</span>
  <span class="verse" title="Nehemiah 7:72" id="Nehemiah-7-72">That which the rest of the people gave was twenty thousand darics of gold, and two thousand minas of silver, and sixty-seven priests&#8217; garments.</span>
  <span class="verse" title="Nehemiah 7:73" id="Nehemiah-7-73">So the priests, and the Levites, and the porters, and the singers, and some of the people, and the Nethinim, and all Israel, lived in their cities. When the seventh month had come, the children of Israel were in their cities.</span>
</div>