<div class="chapter" id="Nehemiah-010">
  <h2>Nehemiah 10</h2>
  <span class="verse" title="Nehemiah 10:1" id="Nehemiah-10-1">Now those who sealed were: Nehemiah the governor, the son of Hacaliah, and Zedekiah,</span>
  <span class="verse" title="Nehemiah 10:2" id="Nehemiah-10-2">Seraiah, Azariah, Jeremiah,</span>
  <span class="verse" title="Nehemiah 10:3" id="Nehemiah-10-3">Pashhur, Amariah, Malchijah,</span>
  <span class="verse" title="Nehemiah 10:4" id="Nehemiah-10-4">Hattush, Shebaniah, Malluch,</span>
  <span class="verse" title="Nehemiah 10:5" id="Nehemiah-10-5">Harim, Meremoth, Obadiah,</span>
  <span class="verse" title="Nehemiah 10:6" id="Nehemiah-10-6">Daniel, Ginnethon, Baruch,</span>
  <span class="verse" title="Nehemiah 10:7" id="Nehemiah-10-7">Meshullam, Abijah, Mijamin,</span>
  <span class="verse" title="Nehemiah 10:8" id="Nehemiah-10-8">Maaziah, Bilgai, Shemaiah; these were the priests.</span>
  <span class="verse" title="Nehemiah 10:9" id="Nehemiah-10-9">The Levites: namely, Jeshua the son of Azaniah, Binnui of the sons of Henadad, Kadmiel;</span>
  <span class="verse" title="Nehemiah 10:10" id="Nehemiah-10-10">and their brothers, Shebaniah, Hodiah, Kelita, Pelaiah, Hanan,</span>
  <span class="verse" title="Nehemiah 10:11" id="Nehemiah-10-11">Mica, Rehob, Hashabiah,</span>
  <span class="verse" title="Nehemiah 10:12" id="Nehemiah-10-12">Zaccur, Sherebiah, Shebaniah,</span>
  <span class="verse" title="Nehemiah 10:13" id="Nehemiah-10-13">Hodiah, Bani, Beninu.</span>
  <span class="verse" title="Nehemiah 10:14" id="Nehemiah-10-14">The chiefs of the people: Parosh, Pahathmoab, Elam, Zattu, Bani,</span>
  <span class="verse" title="Nehemiah 10:15" id="Nehemiah-10-15">Bunni, Azgad, Bebai,</span>
  <span class="verse" title="Nehemiah 10:16" id="Nehemiah-10-16">Adonijah, Bigvai, Adin,</span>
  <span class="verse" title="Nehemiah 10:17" id="Nehemiah-10-17">Ater, Hezekiah, Azzur,</span>
  <span class="verse" title="Nehemiah 10:18" id="Nehemiah-10-18">Hodiah, Hashum, Bezai,</span>
  <span class="verse" title="Nehemiah 10:19" id="Nehemiah-10-19">Hariph, Anathoth, Nobai,</span>
  <span class="verse" title="Nehemiah 10:20" id="Nehemiah-10-20">Magpiash, Meshullam, Hezir,</span>
  <span class="verse" title="Nehemiah 10:21" id="Nehemiah-10-21">Meshezabel, Zadok, Jaddua,</span>
  <span class="verse" title="Nehemiah 10:22" id="Nehemiah-10-22">Pelatiah, Hanan, Anaiah,</span>
  <span class="verse" title="Nehemiah 10:23" id="Nehemiah-10-23">Hoshea, Hananiah, Hasshub,</span>
  <span class="verse" title="Nehemiah 10:24" id="Nehemiah-10-24">Hallohesh, Pilha, Shobek,</span>
  <span class="verse" title="Nehemiah 10:25" id="Nehemiah-10-25">Rehum, Hashabnah, Maaseiah,</span>
  <span class="verse" title="Nehemiah 10:26" id="Nehemiah-10-26">and Ahiah, Hanan, Anan,</span>
  <span class="verse" title="Nehemiah 10:27" id="Nehemiah-10-27">Malluch, Harim, Baanah.</span>
  <span class="verse" title="Nehemiah 10:28" id="Nehemiah-10-28">The rest of the people, the priests, the Levites, the porters, the singers, the Nethinim, and all those who had separated themselves from the peoples of the lands to the law of God, their wives, their sons, and their daughters, everyone who had knowledge, and understanding—</span>
  <span class="verse" title="Nehemiah 10:29" id="Nehemiah-10-29">they joined with their brothers, their nobles, and entered into a curse, and into an oath, to walk in God&#8217;s law, which was given by Moses the servant of God, and to observe and do all the commandments of Yahweh our Lord, and his ordinances and his statutes;</span>
  <span class="verse" title="Nehemiah 10:30" id="Nehemiah-10-30">and that we would not give our daughters to the peoples of the land, nor take their daughters for our sons;</span>
  <span class="verse" title="Nehemiah 10:31" id="Nehemiah-10-31">and if the peoples of the land bring wares or any grain on the Sabbath day to sell, that we would not buy of them on the Sabbath, or on a holy day; and that we would forego the seventh year, and the exaction of every debt.</span>
  <span class="verse" title="Nehemiah 10:32" id="Nehemiah-10-32">Also we made ordinances for ourselves, to charge ourselves yearly with the third part of a shekel for the service of the house of our God;</span>
  <span class="verse" title="Nehemiah 10:33" id="Nehemiah-10-33">for the show bread, and for the continual meal offering, and for the continual burnt offering, for the Sabbaths, for the new moons, for the set feasts, and for the holy things, and for the sin offerings to make atonement for Israel, and for all the work of the house of our God.</span>
  <span class="verse" title="Nehemiah 10:34" id="Nehemiah-10-34">We cast lots, the priests, the Levites, and the people, for the wood offering, to bring it into the house of our God, according to our fathers&#8217; houses, at times appointed, year by year, to burn on the altar of Yahweh our God, as it is written in the law;</span>
  <span class="verse" title="Nehemiah 10:35" id="Nehemiah-10-35">and to bring the first fruits of our ground, and the first fruits of all fruit of all kinds of trees, year by year, to the house of Yahweh;</span>
  <span class="verse" title="Nehemiah 10:36" id="Nehemiah-10-36">also the firstborn of our sons, and of our livestock, as it is written in the law, and the firstborn of our herds and of our flocks, to bring to the house of our God, to the priests who minister in the house of our God;</span>
  <span class="verse" title="Nehemiah 10:37" id="Nehemiah-10-37">and that we should bring the first fruits of our dough, and our wave offerings, and the fruit of all kinds of trees, the new wine and the oil, to the priests, to the rooms of the house of our God; and the tithes of our ground to the Levites; for they, the Levites, take the tithes in all the cities of our tillage.</span>
  <span class="verse" title="Nehemiah 10:38" id="Nehemiah-10-38">The priest the son of Aaron shall be with the Levites, when the Levites take tithes: and the Levites shall bring up the tithe of the tithes to the house of our God, to the rooms, into the treasure house.</span>
  <span class="verse" title="Nehemiah 10:39" id="Nehemiah-10-39">For the children of Israel and the children of Levi shall bring the wave offering of the grain, of the new wine, and of the oil, to the rooms, where are the vessels of the sanctuary, and the priests who minister, and the porters, and the singers. We will not forsake the house of our God.</span>
</div>