<div class="chapter" id="Nehemiah-011">
  <h2>Nehemiah 11</h2>
  <span class="verse" title="Nehemiah 11:1" id="Nehemiah-11-1">The princes of the people lived in Jerusalem: the rest of the people also cast lots, to bring one of ten to dwell in Jerusalem the holy city, and nine parts in the other cities.</span>
  <span class="verse" title="Nehemiah 11:2" id="Nehemiah-11-2">The people blessed all the men who willingly offered themselves to dwell in Jerusalem.</span>
  <span class="verse" title="Nehemiah 11:3" id="Nehemiah-11-3">Now these are the chiefs of the province who lived in Jerusalem; but in the cities of Judah everyone lived in his possession in their cities: Israel, the priests, and the Levites, and the Nethinim, and the children of Solomon&#8217;s servants.</span>
  <span class="verse" title="Nehemiah 11:4" id="Nehemiah-11-4">In Jerusalem lived certain of the children of Judah, and of the children of Benjamin. Of the children of Judah: Athaiah the son of Uzziah, the son of Zechariah, the son of Amariah, the son of Shephatiah, the son of Mahalalel, of the children of Perez;</span>
  <span class="verse" title="Nehemiah 11:5" id="Nehemiah-11-5">and Maaseiah the son of Baruch, the son of Colhozeh, the son of Hazaiah, the son of Adaiah, the son of Joiarib, the son of Zechariah, the son of the Shilonite.</span>
  <span class="verse" title="Nehemiah 11:6" id="Nehemiah-11-6">All the sons of Perez who lived in Jerusalem were four hundred sixty-eight valiant men.</span>
  <span class="verse" title="Nehemiah 11:7" id="Nehemiah-11-7">These are the sons of Benjamin: Sallu the son of Meshullam, the son of Joed, the son of Pedaiah, the son of Kolaiah, the son of Maaseiah, the son of Ithiel, the son of Jeshaiah.</span>
  <span class="verse" title="Nehemiah 11:8" id="Nehemiah-11-8">After him Gabbai, Sallai, nine hundred twenty-eight.</span>
  <span class="verse" title="Nehemiah 11:9" id="Nehemiah-11-9">Joel the son of Zichri was their overseer; and Judah the son of Hassenuah was second over the city.</span>
  <span class="verse" title="Nehemiah 11:10" id="Nehemiah-11-10">Of the priests: Jedaiah the son of Joiarib, Jachin,</span>
  <span class="verse" title="Nehemiah 11:11" id="Nehemiah-11-11">Seraiah the son of Hilkiah, the son of Meshullam, the son of Zadok, the son of Meraioth, the son of Ahitub, the ruler of the house of God,</span>
  <span class="verse" title="Nehemiah 11:12" id="Nehemiah-11-12">and their brothers who did the work of the house, eight hundred twenty-two; and Adaiah the son of Jeroham, the son of Pelaliah, the son of Amzi, the son of Zechariah, the son of Pashhur, the son of Malchijah,</span>
  <span class="verse" title="Nehemiah 11:13" id="Nehemiah-11-13">and his brothers, chiefs of fathers&#8217; households, two hundred forty-two; and Amashsai the son of Azarel, the son of Ahzai, the son of Meshillemoth, the son of Immer,</span>
  <span class="verse" title="Nehemiah 11:14" id="Nehemiah-11-14">and their brothers, mighty men of valor, one hundred twenty-eight; and their overseer was Zabdiel, the son of Haggedolim.</span>
  <span class="verse" title="Nehemiah 11:15" id="Nehemiah-11-15">Of the Levites: Shemaiah the son of Hasshub, the son of Azrikam, the son of Hashabiah, the son of Bunni;</span>
  <span class="verse" title="Nehemiah 11:16" id="Nehemiah-11-16">and Shabbethai and Jozabad, of the chiefs of the Levites, who had the oversight of the outward business of the house of God;</span>
  <span class="verse" title="Nehemiah 11:17" id="Nehemiah-11-17">and Mattaniah the son of Mica, the son of Zabdi, the son of Asaph, who was the chief to begin the thanksgiving in prayer, and Bakbukiah, the second among his brothers; and Abda the son of Shammua, the son of Galal, the son of Jeduthun.</span>
  <span class="verse" title="Nehemiah 11:18" id="Nehemiah-11-18">All the Levites in the holy city were two hundred eighty-four.</span>
  <span class="verse" title="Nehemiah 11:19" id="Nehemiah-11-19">Moreover the porters, Akkub, Talmon, and their brothers, who kept watch at the gates, were one hundred seventy-two.</span>
  <span class="verse" title="Nehemiah 11:20" id="Nehemiah-11-20">The residue of Israel, of the priests, the Levites, were in all the cities of Judah, everyone in his inheritance.</span>
  <span class="verse" title="Nehemiah 11:21" id="Nehemiah-11-21">But the Nethinim lived in Ophel: and Ziha and Gishpa were over the Nethinim.</span>
  <span class="verse" title="Nehemiah 11:22" id="Nehemiah-11-22">The overseer also of the Levites at Jerusalem was Uzzi the son of Bani, the son of Hashabiah, the son of Mattaniah, the son of Mica, of the sons of Asaph, the singers, over the business of the house of God.</span>
  <span class="verse" title="Nehemiah 11:23" id="Nehemiah-11-23">For there was a commandment from the king concerning them, and a settled provision for the singers, as every day required.</span>
  <span class="verse" title="Nehemiah 11:24" id="Nehemiah-11-24">Pethahiah the son of Meshezabel, of the children of Zerah the son of Judah, was at the king&#8217;s hand in all matters concerning the people.</span>
  <span class="verse" title="Nehemiah 11:25" id="Nehemiah-11-25">As for the villages, with their fields, some of the children of Judah lived in Kiriath Arba and its towns, and in Dibon and its towns, and in Jekabzeel and its villages,</span>
  <span class="verse" title="Nehemiah 11:26" id="Nehemiah-11-26">and in Jeshua, and in Moladah, and Beth Pelet,</span>
  <span class="verse" title="Nehemiah 11:27" id="Nehemiah-11-27">and in Hazar Shual, and in Beersheba and its towns,</span>
  <span class="verse" title="Nehemiah 11:28" id="Nehemiah-11-28">and in Ziklag, and in Meconah and in its towns,</span>
  <span class="verse" title="Nehemiah 11:29" id="Nehemiah-11-29">and in En Rimmon, and in Zorah, and in Jarmuth,</span>
  <span class="verse" title="Nehemiah 11:30" id="Nehemiah-11-30">Zanoah, Adullam, and their villages, Lachish and its fields, Azekah and its towns. So they encamped from Beersheba to the valley of Hinnom.</span>
  <span class="verse" title="Nehemiah 11:31" id="Nehemiah-11-31">The children of Benjamin also lived from Geba onward, at Michmash and Aija, and at Bethel and its towns,</span>
  <span class="verse" title="Nehemiah 11:32" id="Nehemiah-11-32">at Anathoth, Nob, Ananiah,</span>
  <span class="verse" title="Nehemiah 11:33" id="Nehemiah-11-33">Hazor, Ramah, Gittaim,</span>
  <span class="verse" title="Nehemiah 11:34" id="Nehemiah-11-34">Hadid, Zeboim, Neballat,</span>
  <span class="verse" title="Nehemiah 11:35" id="Nehemiah-11-35">Lod, and Ono, the valley of craftsmen.</span>
  <span class="verse" title="Nehemiah 11:36" id="Nehemiah-11-36">Of the Levites, certain divisions in Judah settled in Benjamin&#8217;s territory.</span>
</div>