<div class="chapter" id="Nehemiah-012">
  <h2>Nehemiah 12</h2>
  <span class="verse" title="Nehemiah 12:1" id="Nehemiah-12-1">Now these are the priests and the Levites who went up with Zerubbabel the son of Shealtiel, and Jeshua: Seraiah, Jeremiah, Ezra,</span>
  <span class="verse" title="Nehemiah 12:2" id="Nehemiah-12-2">Amariah, Malluch, Hattush,</span>
  <span class="verse" title="Nehemiah 12:3" id="Nehemiah-12-3">Shecaniah, Rehum, Meremoth,</span>
  <span class="verse" title="Nehemiah 12:4" id="Nehemiah-12-4">Iddo, Ginnethoi, Abijah,</span>
  <span class="verse" title="Nehemiah 12:5" id="Nehemiah-12-5">Mijamin, Maadiah, Bilgah,</span>
  <span class="verse" title="Nehemiah 12:6" id="Nehemiah-12-6">Shemaiah, and Joiarib, Jedaiah.</span>
  <span class="verse" title="Nehemiah 12:7" id="Nehemiah-12-7">Sallu, Amok, Hilkiah, Jedaiah. These were the chiefs of the priests and of their brothers in the days of Jeshua.</span>
  <span class="verse" title="Nehemiah 12:8" id="Nehemiah-12-8">Moreover the Levites: Jeshua, Binnui, Kadmiel, Sherebiah, Judah, and Mattaniah, who was over the thanksgiving, he and his brothers.</span>
  <span class="verse" title="Nehemiah 12:9" id="Nehemiah-12-9">Also Bakbukiah and Unno, their brothers, were over against them according to their offices.</span>
  <span class="verse" title="Nehemiah 12:10" id="Nehemiah-12-10">Jeshua became the father of Joiakim, and Joiakim became the father of Eliashib, and Eliashib became the father of Joiada,</span>
  <span class="verse" title="Nehemiah 12:11" id="Nehemiah-12-11">and Joiada became the father of Jonathan, and Jonathan became the father of Jaddua.</span>
  <span class="verse" title="Nehemiah 12:12" id="Nehemiah-12-12">In the days of Joiakim were priests, heads of fathers&#8217; households: of Seraiah, Meraiah; of Jeremiah, Hananiah;</span>
  <span class="verse" title="Nehemiah 12:13" id="Nehemiah-12-13">of Ezra, Meshullam; of Amariah, Jehohanan;</span>
  <span class="verse" title="Nehemiah 12:14" id="Nehemiah-12-14">of Malluchi, Jonathan; of Shebaniah, Joseph;</span>
  <span class="verse" title="Nehemiah 12:15" id="Nehemiah-12-15">of Harim, Adna; of Meraioth, Helkai;</span>
  <span class="verse" title="Nehemiah 12:16" id="Nehemiah-12-16">of Iddo, Zechariah; of Ginnethon, Meshullam;</span>
  <span class="verse" title="Nehemiah 12:17" id="Nehemiah-12-17">of Abijah, Zichri; of Miniamin, of Moadiah, Piltai;</span>
  <span class="verse" title="Nehemiah 12:18" id="Nehemiah-12-18">of Bilgah, Shammua; of Shemaiah, Jehonathan;</span>
  <span class="verse" title="Nehemiah 12:19" id="Nehemiah-12-19">and of Joiarib, Mattenai; of Jedaiah, Uzzi;</span>
  <span class="verse" title="Nehemiah 12:20" id="Nehemiah-12-20">of Sallai, Kallai; of Amok, Eber;</span>
  <span class="verse" title="Nehemiah 12:21" id="Nehemiah-12-21">of Hilkiah, Hashabiah; of Jedaiah, Nethanel.</span>
  <span class="verse" title="Nehemiah 12:22" id="Nehemiah-12-22">As for the Levites, in the days of Eliashib, Joiada, and Johanan, and Jaddua, there were recorded the heads of fathers&#8217; households; also the priests, in the reign of Darius the Persian.</span>
  <span class="verse" title="Nehemiah 12:23" id="Nehemiah-12-23">The sons of Levi, heads of fathers&#8217; households, were written in the book of the chronicles, even until the days of Johanan the son of Eliashib.</span>
  <span class="verse" title="Nehemiah 12:24" id="Nehemiah-12-24">The chiefs of the Levites: Hashabiah, Sherebiah, and Jeshua the son of Kadmiel, with their brothers over against them, to praise and give thanks, according to the commandment of David the man of God, watch next to watch.</span>
  <span class="verse" title="Nehemiah 12:25" id="Nehemiah-12-25">Mattaniah, and Bakbukiah, Obadiah, Meshullam, Talmon, Akkub, were porters keeping the watch at the storehouses of the gates.</span>
  <span class="verse" title="Nehemiah 12:26" id="Nehemiah-12-26">These were in the days of Joiakim the son of Jeshua, the son of Jozadak, and in the days of Nehemiah the governor, and of Ezra the priest the scribe.</span>
  <span class="verse" title="Nehemiah 12:27" id="Nehemiah-12-27">At the dedication of the wall of Jerusalem they sought the Levites out of all their places, to bring them to Jerusalem, to keep the dedication with gladness, both with giving thanks, and with singing, with cymbals, stringed instruments, and with harps.</span>
  <span class="verse" title="Nehemiah 12:28" id="Nehemiah-12-28">The sons of the singers gathered themselves together, both out of the plain around Jerusalem, and from the villages of the Netophathites;</span>
  <span class="verse" title="Nehemiah 12:29" id="Nehemiah-12-29">also from Beth Gilgal, and out of the fields of Geba and Azmaveth: for the singers had built them villages around Jerusalem.</span>
  <span class="verse" title="Nehemiah 12:30" id="Nehemiah-12-30">The priests and the Levites purified themselves; and they purified the people, and the gates, and the wall.</span>
  <span class="verse" title="Nehemiah 12:31" id="Nehemiah-12-31">Then I brought up the princes of Judah on the wall, and appointed two great companies who gave thanks and went in procession. One went on the right hand on the wall toward the dung gate;</span>
  <span class="verse" title="Nehemiah 12:32" id="Nehemiah-12-32">and after them went Hoshaiah, and half of the princes of Judah,</span>
  <span class="verse" title="Nehemiah 12:33" id="Nehemiah-12-33">and Azariah, Ezra, and Meshullam,</span>
  <span class="verse" title="Nehemiah 12:34" id="Nehemiah-12-34">Judah, and Benjamin, and Shemaiah, and Jeremiah,</span>
  <span class="verse" title="Nehemiah 12:35" id="Nehemiah-12-35">and certain of the priests&#8217; sons with trumpets: Zechariah the son of Jonathan, the son of Shemaiah, the son of Mattaniah, the son of Micaiah, the son of Zaccur, the son of Asaph;</span>
  <span class="verse" title="Nehemiah 12:36" id="Nehemiah-12-36">and his brothers, Shemaiah, and Azarel, Milalai, Gilalai, Maai, Nethanel, and Judah, Hanani, with the musical instruments of David the man of God; and Ezra the scribe was before them.</span>
  <span class="verse" title="Nehemiah 12:37" id="Nehemiah-12-37">By the spring gate, and straight before them, they went up by the stairs of the city of David, at the ascent of the wall, above the house of David, even to the water gate eastward.</span>
  <span class="verse" title="Nehemiah 12:38" id="Nehemiah-12-38">The other company of those who gave thanks went to meet them, and I after them, with the half of the people, on the wall, above the tower of the furnaces, even to the broad wall,</span>
  <span class="verse" title="Nehemiah 12:39" id="Nehemiah-12-39">and above the gate of Ephraim, and by the old gate, and by the fish gate, and the tower of Hananel, and the tower of Hammeah, even to the sheep gate: and they stood still in the gate of the guard.</span>
  <span class="verse" title="Nehemiah 12:40" id="Nehemiah-12-40">So stood the two companies of those who gave thanks in the house of God, and I, and the half of the rulers with me;</span>
  <span class="verse" title="Nehemiah 12:41" id="Nehemiah-12-41">and the priests, Eliakim, Maaseiah, Miniamin, Micaiah, Elioenai, Zechariah, and Hananiah, with trumpets;</span>
  <span class="verse" title="Nehemiah 12:42" id="Nehemiah-12-42">and Maaseiah, and Shemaiah, and Eleazar, and Uzzi, and Jehohanan, and Malchijah, and Elam, and Ezer. The singers sang loud, with Jezrahiah their overseer.</span>
  <span class="verse" title="Nehemiah 12:43" id="Nehemiah-12-43">They offered great sacrifices that day, and rejoiced; for God had made them rejoice with great joy; and the women also and the children rejoiced: so that the joy of Jerusalem was heard even afar off.</span>
  <span class="verse" title="Nehemiah 12:44" id="Nehemiah-12-44">On that day were men appointed over the rooms for the treasures, for the wave offerings, for the first fruits, and for the tithes, to gather into them, according to the fields of the cities, the portions appointed by the law for the priests and Levites: for Judah rejoiced for the priests and for the Levites who waited.</span>
  <span class="verse" title="Nehemiah 12:45" id="Nehemiah-12-45">They performed the duty of their God, and the duty of the purification, and so did the singers and the porters, according to the commandment of David, and of Solomon his son.</span>
  <span class="verse" title="Nehemiah 12:46" id="Nehemiah-12-46">For in the days of David and Asaph of old there was a chief of the singers, and songs of praise and thanksgiving to God.</span>
  <span class="verse" title="Nehemiah 12:47" id="Nehemiah-12-47">All Israel in the days of Zerubbabel, and in the days of Nehemiah, gave the portions of the singers and the porters, as every day required: and they set apart that which was for the Levites; and the Levites set apart that which was for the sons of Aaron.</span>
</div>