- @title = t('checkin.interface.heading')

.center
  #time.headline.text-center
  .lockscreen-name= @title
  .lockscreen-item
    .lockscreen-image
      = image_tag 'barcode.png'
    .lockscreen-credentials
      = form_tag checkin_interface_path do
        .input-group
          %input.form-control#barcode{ placeholder: t('checkin.interface.barcode.placeholder'), type: "password" }
          .input-group-btn
            %button.btn.btn-flat
              %i.fa.fa-arrow-right.text-muted

- content_for :js do
  :javascript
    $('#barcode')[0].focus();
    $(document).on('click', function() { $('#barcode')[0].focus() });

    $(startTime);

    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();

      // add a zero in front of numbers<10
      m = checkTime(m);
      s = checkTime(s);

      //Check for PM and AM
      var day_or_night = (h > 11) ? "PM" : "AM";

      //Convert to 12 hours system
      if (h > 12) h -= 12;

      //Add time to the headline and update every 500 milliseconds
      $('#time').html(h + ":" + m + ":" + s + " " + day_or_night);
      setTimeout(function() { startTime() }, 500);
    }

    function checkTime(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    }

