<div class="chapter" id="Ezekiel-002">
  <h2>Ezekiel 2</h2>
  <span class="verse" title="Ezekiel 2:1" id="Ezekiel-2-1">He said to me, Son of man, stand on your feet, and I will speak with you.</span>
  <span class="verse" title="Ezekiel 2:2" id="Ezekiel-2-2">The Spirit entered into me when he spoke to me, and set me on my feet; and I heard him who spoke to me.</span>
  <span class="verse" title="Ezekiel 2:3" id="Ezekiel-2-3">He said to me, Son of man, I send you to the children of Israel, to a nation of rebels who have rebelled against me. They and their fathers have transgressed against me even to this very day.</span>
  <span class="verse" title="Ezekiel 2:4" id="Ezekiel-2-4">The children are impudent and stiff-hearted: I am sending you to them; and you shall tell them, Thus says the Lord Yahweh.</span>
  <span class="verse" title="Ezekiel 2:5" id="Ezekiel-2-5">They, whether they will hear, or whether they will forbear, (for they are a rebellious house), yet shall know that there has been a prophet among them.</span>
  <span class="verse" title="Ezekiel 2:6" id="Ezekiel-2-6">You, son of man, don&#8217;t be afraid of them, neither be afraid of their words, though briers and thorns are with you, and you do dwell among scorpions: don&#8217;t be afraid of their words, nor be dismayed at their looks, though they are a rebellious house.</span>
  <span class="verse" title="Ezekiel 2:7" id="Ezekiel-2-7">You shall speak my words to them, whether they will hear, or whether they will forbear; for they are most rebellious.</span>
  <span class="verse" title="Ezekiel 2:8" id="Ezekiel-2-8">But you, son of man, hear what I tell you; don&#8217;t be rebellious like that rebellious house: open your mouth, and eat that which I give you.</span>
  <span class="verse" title="Ezekiel 2:9" id="Ezekiel-2-9">When I looked, behold, a hand was put forth to me; and, behold, a scroll of a book was therein;</span>
  <span class="verse" title="Ezekiel 2:10" id="Ezekiel-2-10">He spread it before me: and it was written within and without; and there were written therein lamentations, and mourning, and woe.</span>
</div>