<div class="chapter" id="Ezekiel-003">
  <h2>Ezekiel 3</h2>
  <span class="verse" title="Ezekiel 3:1" id="Ezekiel-3-1">He said to me, Son of man, eat that which you find. Eat this scroll, and go, speak to the house of Israel.</span>
  <span class="verse" title="Ezekiel 3:2" id="Ezekiel-3-2">So I opened my mouth, and he caused me to eat the scroll.</span>
  <span class="verse" title="Ezekiel 3:3" id="Ezekiel-3-3">He said to me, Son of man, cause your belly to eat, and fill your bowels with this scroll that I give you. Then I ate it; and it was as sweet as honey in my mouth.</span>
  <span class="verse" title="Ezekiel 3:4" id="Ezekiel-3-4">He said to me, Son of man, go to the house of Israel, and speak my words to them.</span>
  <span class="verse" title="Ezekiel 3:5" id="Ezekiel-3-5">For you are not sent to a people of a strange speech and of a hard language, but to the house of Israel;</span>
  <span class="verse" title="Ezekiel 3:6" id="Ezekiel-3-6">not to many peoples of a strange speech and of a hard language, whose words you can not understand. Surely, if I sent you to them, they would listen to you.</span>
  <span class="verse" title="Ezekiel 3:7" id="Ezekiel-3-7">But the house of Israel will not listen to you; for they will not listen to me: for all the house of Israel are obstinate and hard-hearted.</span>
  <span class="verse" title="Ezekiel 3:8" id="Ezekiel-3-8">Behold, I have made your face hard against their faces, and your forehead hard against their foreheads.</span>
  <span class="verse" title="Ezekiel 3:9" id="Ezekiel-3-9">As an adamant harder than flint have I made your forehead: don&#8217;t be afraid of them, neither be dismayed at their looks, though they are a rebellious house.</span>
  <span class="verse" title="Ezekiel 3:10" id="Ezekiel-3-10">Moreover he said to me, Son of man, all my words that I shall speak to you receive in your heart, and hear with your ears.</span>
  <span class="verse" title="Ezekiel 3:11" id="Ezekiel-3-11">Go to them of the captivity, to the children of your people, and speak to them, and tell them, Thus says the Lord Yahweh; whether they will hear, or whether they will forbear.</span>
  <span class="verse" title="Ezekiel 3:12" id="Ezekiel-3-12">Then the Spirit lifted me up, and I heard behind me the voice of a great rushing, saying, Blessed be the glory of Yahweh from his place.</span>
  <span class="verse" title="Ezekiel 3:13" id="Ezekiel-3-13">I heard the noise of the wings of the living creatures as they touched one another, and the noise of the wheels beside them, even the noise of a great rushing.</span>
  <span class="verse" title="Ezekiel 3:14" id="Ezekiel-3-14">So the Spirit lifted me up, and took me away; and I went in bitterness, in the heat of my spirit; and the hand of Yahweh was strong on me.</span>
  <span class="verse" title="Ezekiel 3:15" id="Ezekiel-3-15">Then I came to them of the captivity at Tel Aviv, that lived by the river Chebar, and to where they lived; and I sat there overwhelmed among them seven days.</span>
  <span class="verse" title="Ezekiel 3:16" id="Ezekiel-3-16">It happened at the end of seven days, that the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 3:17" id="Ezekiel-3-17">Son of man, I have made you a watchman to the house of Israel: therefore hear the word from my mouth, and give them warning from me.</span>
  <span class="verse" title="Ezekiel 3:18" id="Ezekiel-3-18">When I tell the wicked, You shall surely die; and you give him no warning, nor speak to warn the wicked from his wicked way, to save his life; the same wicked man shall die in his iniquity; but his blood will I require at your hand.</span>
  <span class="verse" title="Ezekiel 3:19" id="Ezekiel-3-19">Yet if you warn the wicked, and he doesn&#8217;t turn from his wickedness, nor from his wicked way, he shall die in his iniquity; but you have delivered your soul.</span>
  <span class="verse" title="Ezekiel 3:20" id="Ezekiel-3-20">Again, when a righteous man does turn from his righteousness, and commit iniquity, and I lay a stumbling block before him, he shall die: because you have not given him warning, he shall die in his sin, and his righteous deeds which he has done shall not be remembered; but his blood will I require at your hand.</span>
  <span class="verse" title="Ezekiel 3:21" id="Ezekiel-3-21">Nevertheless if you warn the righteous man, that the righteous not sin, and he does not sin, he shall surely live, because he took warning; and you have delivered your soul.</span>
  <span class="verse" title="Ezekiel 3:22" id="Ezekiel-3-22">The hand of Yahweh was there on me; and he said to me, Arise, go forth into the plain, and I will there talk with you.</span>
  <span class="verse" title="Ezekiel 3:23" id="Ezekiel-3-23">Then I arose, and went forth into the plain: and behold, the glory of Yahweh stood there, as the glory which I saw by the river Chebar; and I fell on my face.</span>
  <span class="verse" title="Ezekiel 3:24" id="Ezekiel-3-24">Then the Spirit entered into me, and set me on my feet; and he spoke with me, and said to me, Go, shut yourself inside your house.</span>
  <span class="verse" title="Ezekiel 3:25" id="Ezekiel-3-25">But you, son of man, behold, they shall lay bands on you, and shall bind you with them, and you shall not go out among them:</span>
  <span class="verse" title="Ezekiel 3:26" id="Ezekiel-3-26">and I will make your tongue stick to the roof of your mouth, that you shall be mute, and shall not be to them a reprover; for they are a rebellious house.</span>
  <span class="verse" title="Ezekiel 3:27" id="Ezekiel-3-27">But when I speak with you, I will open your mouth, and you shall tell them, Thus says the Lord Yahweh: He who hears, let him hear; and he who forbears, let him forbear: for they are a rebellious house.</span>
</div>