<div class="chapter" id="Ezekiel-004">
  <h2>Ezekiel 4</h2>
  <span class="verse" title="Ezekiel 4:1" id="Ezekiel-4-1">You also, son of man, take a tile, and lay it before yourself, and portray on it a city, even Jerusalem:</span>
  <span class="verse" title="Ezekiel 4:2" id="Ezekiel-4-2">and lay siege against it, and build forts against it, and cast up a mound against it; set camps also against it, and plant battering rams against it all around.</span>
  <span class="verse" title="Ezekiel 4:3" id="Ezekiel-4-3">Take for yourself an iron pan, and set it for a wall of iron between you and the city: and set your face toward it, and it shall be besieged, and you shall lay siege against it. This shall be a sign to the house of Israel.</span>
  <span class="verse" title="Ezekiel 4:4" id="Ezekiel-4-4">Moreover lie on your left side, and lay the iniquity of the house of Israel on it; according to the number of the days that you shall lie on it, you shall bear their iniquity.</span>
  <span class="verse" title="Ezekiel 4:5" id="Ezekiel-4-5">For I have appointed the years of their iniquity to be to you a number of days, even three hundred ninety days: so you shall bear the iniquity of the house of Israel.</span>
  <span class="verse" title="Ezekiel 4:6" id="Ezekiel-4-6">Again, when you have accomplished these, you shall lie on your right side, and shall bear the iniquity of the house of Judah: forty days, each day for a year, have I appointed it to you.</span>
  <span class="verse" title="Ezekiel 4:7" id="Ezekiel-4-7">You shall set your face toward the siege of Jerusalem, with your arm uncovered; and you shall prophesy against it.</span>
  <span class="verse" title="Ezekiel 4:8" id="Ezekiel-4-8">Behold, I lay bands on you, and you shall not turn you from one side to the other, until you have accomplished the days of your siege.</span>
  <span class="verse" title="Ezekiel 4:9" id="Ezekiel-4-9">Take for yourself also wheat, and barley, and beans, and lentils, and millet, and spelt, and put them in one vessel, and make bread of it; according to the number of the days that you shall lie on your side, even three hundred ninety days, you shall eat of it.</span>
  <span class="verse" title="Ezekiel 4:10" id="Ezekiel-4-10">Your food which you shall eat shall be by weight, twenty shekels a day: from time to time you shall eat it.</span>
  <span class="verse" title="Ezekiel 4:11" id="Ezekiel-4-11">You shall drink water by measure, the sixth part of a hin: from time to time you shall drink.</span>
  <span class="verse" title="Ezekiel 4:12" id="Ezekiel-4-12">You shall eat it as barley cakes, and you shall bake it in their sight with dung that comes out of man.</span>
  <span class="verse" title="Ezekiel 4:13" id="Ezekiel-4-13">Yahweh said, Even thus shall the children of Israel eat their bread unclean, among the nations where I will drive them.</span>
  <span class="verse" title="Ezekiel 4:14" id="Ezekiel-4-14">Then I said, Ah Lord Yahweh! behold, my soul has not been polluted; for from my youth up even until now have I not eaten of that which dies of itself, or is torn of animals; neither came there abominable flesh into my mouth.</span>
  <span class="verse" title="Ezekiel 4:15" id="Ezekiel-4-15">Then he said to me, Behold, I have given you cow&#8217;s dung for man&#8217;s dung, and you shall prepare your bread thereon.</span>
  <span class="verse" title="Ezekiel 4:16" id="Ezekiel-4-16">Moreover he said to me, Son of man, behold, I will break the staff of bread in Jerusalem: and they shall eat bread by weight, and with fearfulness; and they shall drink water by measure, and in dismay:</span>
  <span class="verse" title="Ezekiel 4:17" id="Ezekiel-4-17">that they may want bread and water, and be dismayed one with another, and pine away in their iniquity.</span>
</div>