<div class="chapter" id="Ezekiel-007">
  <h2>Ezekiel 7</h2>
  <span class="verse" title="Ezekiel 7:1" id="Ezekiel-7-1">Moreover the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 7:2" id="Ezekiel-7-2">You, son of man, thus says the Lord Yahweh to the land of Israel, An end: the end has come on the four corners of the land.</span>
  <span class="verse" title="Ezekiel 7:3" id="Ezekiel-7-3">Now is the end on you, and I will send my anger on you, and will judge you according to your ways; and I will bring on you all your abominations.</span>
  <span class="verse" title="Ezekiel 7:4" id="Ezekiel-7-4">My eye shall not spare you, neither will I have pity; but I will bring your ways on you, and your abominations shall be in the midst of you: and you shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 7:5" id="Ezekiel-7-5">Thus says the Lord Yahweh: An evil, an only evil; behold, it comes.</span>
  <span class="verse" title="Ezekiel 7:6" id="Ezekiel-7-6">An end has come, the end has come; it awakes against you; behold, it comes.</span>
  <span class="verse" title="Ezekiel 7:7" id="Ezekiel-7-7">Your doom has come to you, inhabitant of the land: the time has come, the day is near, a day of tumult, and not of joyful shouting, on the mountains.</span>
  <span class="verse" title="Ezekiel 7:8" id="Ezekiel-7-8">Now will I shortly pour out my wrath on you, and accomplish my anger against you, and will judge you according to your ways; and I will bring on you all your abominations.</span>
  <span class="verse" title="Ezekiel 7:9" id="Ezekiel-7-9">My eye shall not spare, neither will I have pity: I will bring on you according to your ways; and your abominations shall be in the midst of you; and you shall know that I, Yahweh, do strike.</span>
  <span class="verse" title="Ezekiel 7:10" id="Ezekiel-7-10">Behold, the day, behold, it comes: your doom is gone forth; the rod has blossomed, pride has budded.</span>
  <span class="verse" title="Ezekiel 7:11" id="Ezekiel-7-11">Violence has risen up into a rod of wickedness. None of them shall remain, nor of their multitude, nor of their wealth. There shall be nothing of value among them.</span>
  <span class="verse" title="Ezekiel 7:12" id="Ezekiel-7-12">The time has come, the day draws near: don&#8217;t let the buyer rejoice, nor the seller mourn; for wrath is on all its multitude.</span>
  <span class="verse" title="Ezekiel 7:13" id="Ezekiel-7-13">For the seller shall not return to that which is sold, although they be yet alive: for the vision is touching the whole multitude of it, none shall return; neither shall any strengthen himself in the iniquity of his life.</span>
  <span class="verse" title="Ezekiel 7:14" id="Ezekiel-7-14">They have blown the trumpet, and have made all ready; but none goes to the battle; for my wrath is on all its multitude.</span>
  <span class="verse" title="Ezekiel 7:15" id="Ezekiel-7-15">The sword is outside, and the pestilence and the famine within: he who is in the field shall die with the sword: and he who is in the city, famine and pestilence shall devour him.</span>
  <span class="verse" title="Ezekiel 7:16" id="Ezekiel-7-16">But those of those who escape shall escape, and shall be on the mountains like doves of the valleys, all of them moaning, every one in his iniquity.</span>
  <span class="verse" title="Ezekiel 7:17" id="Ezekiel-7-17">All hands shall be feeble, and all knees shall be weak as water.</span>
  <span class="verse" title="Ezekiel 7:18" id="Ezekiel-7-18">They shall also clothe themselves with sackcloth, and horror shall cover them; and shame shall be on all faces, and baldness on all their heads.</span>
  <span class="verse" title="Ezekiel 7:19" id="Ezekiel-7-19">They shall cast their silver in the streets, and their gold shall be as an unclean thing; their silver and their gold shall not be able to deliver them in the day of the wrath of Yahweh: they shall not satisfy their souls, neither fill their bowels; because it has been the stumbling block of their iniquity.</span>
  <span class="verse" title="Ezekiel 7:20" id="Ezekiel-7-20">As for the beauty of his ornament, he set it in majesty; but they made the images of their abominations and their detestable things therein: therefore have I made it to them as an unclean thing.</span>
  <span class="verse" title="Ezekiel 7:21" id="Ezekiel-7-21">I will give it into the hands of the strangers for a prey, and to the wicked of the earth for a spoil; and they shall profane it.</span>
  <span class="verse" title="Ezekiel 7:22" id="Ezekiel-7-22">My face will I turn also from them, and they shall profane my secret place; and robbers shall enter into it, and profane it.</span>
  <span class="verse" title="Ezekiel 7:23" id="Ezekiel-7-23">Make the chain; for the land is full of bloody crimes, and the city is full of violence.</span>
  <span class="verse" title="Ezekiel 7:24" id="Ezekiel-7-24">Therefore I will bring the worst of the nations, and they shall possess their houses: I will also make the pride of the strong to cease; and their holy places shall be profaned.</span>
  <span class="verse" title="Ezekiel 7:25" id="Ezekiel-7-25">Destruction comes; and they shall seek peace, and there shall be none.</span>
  <span class="verse" title="Ezekiel 7:26" id="Ezekiel-7-26">Mischief shall come on mischief, and rumor shall be on rumor; and they shall seek a vision of the prophet; but the law shall perish from the priest, and counsel from the elders.</span>
  <span class="verse" title="Ezekiel 7:27" id="Ezekiel-7-27">The king shall mourn, and the prince shall be clothed with desolation, and the hands of the people of the land shall be troubled: I will do to them after their way, and according to their own judgments will I judge them; and they shall know that I am Yahweh.</span>
</div>