<div class="chapter" id="Ezekiel-009">
  <h2>Ezekiel 9</h2>
  <span class="verse" title="Ezekiel 9:1" id="Ezekiel-9-1">Then he cried in my ears with a loud voice, saying, Cause those who are in charge of the city to draw near, every man with his destroying weapon in his hand.</span>
  <span class="verse" title="Ezekiel 9:2" id="Ezekiel-9-2">Behold, six men came from the way of the upper gate, which lies toward the north, every man with his slaughter weapon in his hand; and one man in their midst clothed in linen, with a writer&#8217;s inkhorn by his side. They went in, and stood beside the bronze altar.</span>
  <span class="verse" title="Ezekiel 9:3" id="Ezekiel-9-3">The glory of the God of Israel was gone up from the cherub, whereupon it was, to the threshold of the house: and he called to the man clothed in linen, who had the writer&#8217;s inkhorn by his side.</span>
  <span class="verse" title="Ezekiel 9:4" id="Ezekiel-9-4">Yahweh said to him, Go through the midst of the city, through the midst of Jerusalem, and set a mark on the foreheads of the men that sigh and that cry over all the abominations that are done in its midst.</span>
  <span class="verse" title="Ezekiel 9:5" id="Ezekiel-9-5">To the others he said in my hearing, Go through the city after him, and strike: don&#8217;t let your eye spare, neither have pity;</span>
  <span class="verse" title="Ezekiel 9:6" id="Ezekiel-9-6">kill utterly the old man, the young man and the virgin, and little children and women; but don&#8217;t come near any man on whom is the mark: and begin at my sanctuary. Then they began at the old men that were before the house.</span>
  <span class="verse" title="Ezekiel 9:7" id="Ezekiel-9-7">He said to them, Defile the house, and fill the courts with the slain. Go forth! They went forth, and struck in the city.</span>
  <span class="verse" title="Ezekiel 9:8" id="Ezekiel-9-8">It happened, while they were smiting, and I was left, that I fell on my face, and cried, and said, Ah Lord Yahweh! will you destroy all the residue of Israel in your pouring out of your wrath on Jerusalem?</span>
  <span class="verse" title="Ezekiel 9:9" id="Ezekiel-9-9">Then he said to me, The iniquity of the house of Israel and Judah is exceedingly great, and the land is full of blood, and the city full of perversion: for they say, Yahweh has forsaken the land, and Yahweh doesn&#8217;t see.</span>
  <span class="verse" title="Ezekiel 9:10" id="Ezekiel-9-10">As for me also, my eye shall not spare, neither will I have pity, but I will bring their way on their head.</span>
  <span class="verse" title="Ezekiel 9:11" id="Ezekiel-9-11">Behold, the man clothed in linen, who had the inkhorn by his side, reported the matter, saying, I have done as you have commanded me.</span>
</div>