<div class="chapter" id="Ezekiel-010">
  <h2>Ezekiel 10</h2>
  <span class="verse" title="Ezekiel 10:1" id="Ezekiel-10-1">Then I looked, and see, in the expanse that was over the head of the cherubim there appeared above them as it were a sapphire stone, as the appearance of the likeness of a throne.</span>
  <span class="verse" title="Ezekiel 10:2" id="Ezekiel-10-2">He spoke to the man clothed in linen, and said, Go in between the whirling wheels, even under the cherub, and fill both your hands with coals of fire from between the cherubim, and scatter them over the city. He went in as I watched.</span>
  <span class="verse" title="Ezekiel 10:3" id="Ezekiel-10-3">Now the cherubim stood on the right side of the house, when the man went in; and the cloud filled the inner court.</span>
  <span class="verse" title="Ezekiel 10:4" id="Ezekiel-10-4">The glory of Yahweh mounted up from the cherub, and stood over the threshold of the house; and the house was filled with the cloud, and the court was full of the brightness of Yahweh&#8217;s glory.</span>
  <span class="verse" title="Ezekiel 10:5" id="Ezekiel-10-5">The sound of the wings of the cherubim was heard even to the outer court, as the voice of God Almighty when he speaks.</span>
  <span class="verse" title="Ezekiel 10:6" id="Ezekiel-10-6">It came to pass, when he commanded the man clothed in linen, saying, Take fire from between the whirling wheels, from between the cherubim, that he went in, and stood beside a wheel.</span>
  <span class="verse" title="Ezekiel 10:7" id="Ezekiel-10-7">The cherub stretched forth his hand from between the cherubim to the fire that was between the cherubim, and took of it, and put it into the hands of him who was clothed in linen, who took it and went out.</span>
  <span class="verse" title="Ezekiel 10:8" id="Ezekiel-10-8">There appeared in the cherubim the form of a man&#8217;s hand under their wings.</span>
  <span class="verse" title="Ezekiel 10:9" id="Ezekiel-10-9">I looked, and behold, four wheels beside the cherubim, one wheel beside one cherub, and another wheel beside another cherub; and the appearance of the wheels was like a beryl stone.</span>
  <span class="verse" title="Ezekiel 10:10" id="Ezekiel-10-10">As for their appearance, the four of them had one likeness, like a wheel within a wheel.</span>
  <span class="verse" title="Ezekiel 10:11" id="Ezekiel-10-11">When they went, they went in their four directions: they didn&#8217;t turn as they went, but to the place where the head looked they followed it; they didn&#8217;t turn as they went.</span>
  <span class="verse" title="Ezekiel 10:12" id="Ezekiel-10-12">Their whole body, and their backs, and their hands, and their wings, and the wheels, were full of eyes all around, even the wheels that the four of them had.</span>
  <span class="verse" title="Ezekiel 10:13" id="Ezekiel-10-13">As for the wheels, they were called in my hearing, the whirling wheels.</span>
  <span class="verse" title="Ezekiel 10:14" id="Ezekiel-10-14">Every one had four faces: the first face was the face of the cherub, and the second face was the face of a man, and the third face the face of a lion, and the fourth the face of an eagle.</span>
  <span class="verse" title="Ezekiel 10:15" id="Ezekiel-10-15">The cherubim mounted up: this is the living creature that I saw by the river Chebar.</span>
  <span class="verse" title="Ezekiel 10:16" id="Ezekiel-10-16">When the cherubim went, the wheels went beside them; and when the cherubim lifted up their wings to mount up from the earth, the wheels also didn&#8217;t turn from beside them.</span>
  <span class="verse" title="Ezekiel 10:17" id="Ezekiel-10-17">When they stood, these stood; and when they mounted up, these mounted up with them: for the spirit of the living creature was in them.</span>
  <span class="verse" title="Ezekiel 10:18" id="Ezekiel-10-18">The glory of Yahweh went forth from over the threshold of the house, and stood over the cherubim.</span>
  <span class="verse" title="Ezekiel 10:19" id="Ezekiel-10-19">The cherubim lifted up their wings, and mounted up from the earth in my sight when they went forth, and the wheels beside them: and they stood at the door of the east gate of Yahweh&#8217;s house; and the glory of the God of Israel was over them above.</span>
  <span class="verse" title="Ezekiel 10:20" id="Ezekiel-10-20">This is the living creature that I saw under the God of Israel by the river Chebar; and I knew that they were cherubim.</span>
  <span class="verse" title="Ezekiel 10:21" id="Ezekiel-10-21">Every one had four faces, and every one four wings; and the likeness of the hands of a man was under their wings.</span>
  <span class="verse" title="Ezekiel 10:22" id="Ezekiel-10-22">As for the likeness of their faces, they were the faces which I saw by the river Chebar, their appearances and themselves; they went every one straight forward.</span>
</div>