<div class="chapter" id="Ezekiel-011">
  <h2>Ezekiel 11</h2>
  <span class="verse" title="Ezekiel 11:1" id="Ezekiel-11-1">Moreover the Spirit lifted me up, and brought me to the east gate of Yahweh&#8217;s house, which looks eastward: and see, at the door of the gate twenty-five men; and I saw in their midst Jaazaniah the son of Azzur, and Pelatiah the son of Benaiah, princes of the people.</span>
  <span class="verse" title="Ezekiel 11:2" id="Ezekiel-11-2">He said to me, Son of man, these are the men who devise iniquity, and who give wicked counsel in this city;</span>
  <span class="verse" title="Ezekiel 11:3" id="Ezekiel-11-3">who say, The time is not near to build houses: this is the caldron, and we are the meat.</span>
  <span class="verse" title="Ezekiel 11:4" id="Ezekiel-11-4">Therefore prophesy against them, prophesy, son of man.</span>
  <span class="verse" title="Ezekiel 11:5" id="Ezekiel-11-5">The Spirit of Yahweh fell on me, and he said to me, Speak, Thus says Yahweh: Thus you have said, house of Israel; for I know the things that come into your mind.</span>
  <span class="verse" title="Ezekiel 11:6" id="Ezekiel-11-6">You have multiplied your slain in this city, and you have filled its streets with the slain.</span>
  <span class="verse" title="Ezekiel 11:7" id="Ezekiel-11-7">Therefore thus says the Lord Yahweh: Your slain whom you have laid in its midst, they are the meat, and this is the caldron; but you shall be brought out of its midst.</span>
  <span class="verse" title="Ezekiel 11:8" id="Ezekiel-11-8">You have feared the sword; and I will bring the sword on you, says the Lord Yahweh.</span>
  <span class="verse" title="Ezekiel 11:9" id="Ezekiel-11-9">I will bring you forth out of its midst, and deliver you into the hands of strangers, and will execute judgments among you.</span>
  <span class="verse" title="Ezekiel 11:10" id="Ezekiel-11-10">You shall fall by the sword; I will judge you in the border of Israel; and you shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 11:11" id="Ezekiel-11-11">This shall not be your caldron, neither shall you be the meat in its midst; I will judge you in the border of Israel;</span>
  <span class="verse" title="Ezekiel 11:12" id="Ezekiel-11-12">and you shall know that I am Yahweh: for you have not walked in my statutes, neither have you executed my ordinances, but have done after the ordinances of the nations that are around you.</span>
  <span class="verse" title="Ezekiel 11:13" id="Ezekiel-11-13">It happened, when I prophesied, that Pelatiah the son of Benaiah died. Then fell I down on my face, and cried with a loud voice, and said, Ah Lord Yahweh! will you make a full end of the remnant of Israel?</span>
  <span class="verse" title="Ezekiel 11:14" id="Ezekiel-11-14">The word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 11:15" id="Ezekiel-11-15">Son of man, your brothers, even your brothers, the men of your relatives, and all the house of Israel, all of them, to whom the inhabitants of Jerusalem have said, Go far away from Yahweh. This land has been given to us for a possession.</span>
  <span class="verse" title="Ezekiel 11:16" id="Ezekiel-11-16">Therefore say, Thus says the Lord Yahweh: Whereas I have removed them far off among the nations, and whereas I have scattered them among the countries, yet will I be to them a sanctuary for a little while in the countries where they have come.</span>
  <span class="verse" title="Ezekiel 11:17" id="Ezekiel-11-17">Therefore say, Thus says the Lord Yahweh: I will gather you from the peoples, and assemble you out of the countries where you have been scattered, and I will give you the land of Israel.</span>
  <span class="verse" title="Ezekiel 11:18" id="Ezekiel-11-18">They shall come there, and they shall take away all the detestable things of it and all its abominations from there.</span>
  <span class="verse" title="Ezekiel 11:19" id="Ezekiel-11-19">I will give them one heart, and I will put a new spirit within you; and I will take the stony heart out of their flesh, and will give them a heart of flesh;</span>
  <span class="verse" title="Ezekiel 11:20" id="Ezekiel-11-20">that they may walk in my statutes, and keep my ordinances, and do them: and they shall be my people, and I will be their God.</span>
  <span class="verse" title="Ezekiel 11:21" id="Ezekiel-11-21">But as for them whose heart walks after the heart of their detestable things and their abominations, I will bring their way on their own heads, says the Lord Yahweh.</span>
  <span class="verse" title="Ezekiel 11:22" id="Ezekiel-11-22">Then the cherubim lifted up their wings, and the wheels were beside them; and the glory of the God of Israel was over them above.</span>
  <span class="verse" title="Ezekiel 11:23" id="Ezekiel-11-23">The glory of Yahweh went up from the midst of the city, and stood on the mountain which is on the east side of the city.</span>
  <span class="verse" title="Ezekiel 11:24" id="Ezekiel-11-24">The Spirit lifted me up, and brought me in the vision by the Spirit of God into Chaldea, to them of the captivity. So the vision that I had seen went up from me.</span>
  <span class="verse" title="Ezekiel 11:25" id="Ezekiel-11-25">Then I spoke to them of the captivity all the things that Yahweh had shown me.</span>
</div>