<div class="chapter" id="Ezekiel-012">
  <h2>Ezekiel 12</h2>
  <span class="verse" title="Ezekiel 12:1" id="Ezekiel-12-1">The word of Yahweh also came to me, saying,</span>
  <span class="verse" title="Ezekiel 12:2" id="Ezekiel-12-2">Son of man, you dwell in the midst of the rebellious house, who have eyes to see, and don&#8217;t see, who have ears to hear, and don&#8217;t hear; for they are a rebellious house.</span>
  <span class="verse" title="Ezekiel 12:3" id="Ezekiel-12-3">Therefore, you son of man, prepare your stuff for moving, and move by day in their sight; and you shall move from your place to another place in their sight: it may be they will consider, though they are a rebellious house.</span>
  <span class="verse" title="Ezekiel 12:4" id="Ezekiel-12-4">You shall bring forth your stuff by day in their sight, as stuff for moving; and you shall go forth yourself at even in their sight, as when men go forth into exile.</span>
  <span class="verse" title="Ezekiel 12:5" id="Ezekiel-12-5">Dig through the wall in their sight, and carry your stuff out that way.</span>
  <span class="verse" title="Ezekiel 12:6" id="Ezekiel-12-6">In their sight you shall bear it on your shoulder, and carry it forth in the dark; you shall cover your face, so that you don&#8217;t see the land: for I have set you for a sign to the house of Israel.</span>
  <span class="verse" title="Ezekiel 12:7" id="Ezekiel-12-7">I did so as I was commanded: I brought forth my stuff by day, as stuff for removing, and in the even I dug through the wall with my hand; I brought it forth in the dark, and bore it on my shoulder in their sight.</span>
  <span class="verse" title="Ezekiel 12:8" id="Ezekiel-12-8">In the morning came the word of Yahweh to me, saying,</span>
  <span class="verse" title="Ezekiel 12:9" id="Ezekiel-12-9">Son of man, has not the house of Israel, the rebellious house, said to you, What are you doing?</span>
  <span class="verse" title="Ezekiel 12:10" id="Ezekiel-12-10">Say to them, Thus says the Lord Yahweh: This burden concerns the prince in Jerusalem, and all the house of Israel among whom they are.</span>
  <span class="verse" title="Ezekiel 12:11" id="Ezekiel-12-11">Say, I am your sign: like as I have done, so shall it be done to them; they shall go into exile, into captivity.</span>
  <span class="verse" title="Ezekiel 12:12" id="Ezekiel-12-12">The prince who is among them shall bear on his shoulder in the dark, and shall go forth: they shall dig through the wall to carry out thereby: he shall cover his face, because he shall not see the land with his eyes.</span>
  <span class="verse" title="Ezekiel 12:13" id="Ezekiel-12-13">My net also will I spread on him, and he shall be taken in my snare; and I will bring him to Babylon to the land of the Chaldeans; yet shall he not see it, though he shall die there.</span>
  <span class="verse" title="Ezekiel 12:14" id="Ezekiel-12-14">I will scatter toward every wind all who are around him to help him, and all his bands; and I will draw out the sword after them.</span>
  <span class="verse" title="Ezekiel 12:15" id="Ezekiel-12-15">They shall know that I am Yahweh, when I shall disperse them among the nations, and scatter them through the countries.</span>
  <span class="verse" title="Ezekiel 12:16" id="Ezekiel-12-16">But I will leave a few men of them from the sword, from the famine, and from the pestilence; that they may declare all their abominations among the nations where they come; and they shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 12:17" id="Ezekiel-12-17">Moreover the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 12:18" id="Ezekiel-12-18">Son of man, eat your bread with quaking, and drink your water with trembling and with fearfulness;</span>
  <span class="verse" title="Ezekiel 12:19" id="Ezekiel-12-19">and tell the people of the land, Thus says the Lord Yahweh concerning the inhabitants of Jerusalem, and the land of Israel: They shall eat their bread with fearfulness, and drink their water in dismay, that her land may be desolate, and all that is therein, because of the violence of all those who dwell therein.</span>
  <span class="verse" title="Ezekiel 12:20" id="Ezekiel-12-20">The cities that are inhabited shall be laid waste, and the land shall be a desolation; and you shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 12:21" id="Ezekiel-12-21">The word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 12:22" id="Ezekiel-12-22">Son of man, what is this proverb that you have in the land of Israel, saying, The days are prolonged, and every vision fails?</span>
  <span class="verse" title="Ezekiel 12:23" id="Ezekiel-12-23">Tell them therefore, Thus says the Lord Yahweh: I will make this proverb to cease, and they shall no more use it as a proverb in Israel; but tell them, The days are at hand, and the fulfillment of every vision.</span>
  <span class="verse" title="Ezekiel 12:24" id="Ezekiel-12-24">For there shall be no more any false vision nor flattering divination within the house of Israel.</span>
  <span class="verse" title="Ezekiel 12:25" id="Ezekiel-12-25">For I am Yahweh; I will speak, and the word that I shall speak shall be performed; it shall be no more deferred: for in your days, rebellious house, will I speak the word, and will perform it, says the Lord Yahweh.</span>
  <span class="verse" title="Ezekiel 12:26" id="Ezekiel-12-26">Again the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 12:27" id="Ezekiel-12-27">Son of man, behold, they of the house of Israel say, The vision that he sees is for many day to come, and he prophesies of times that are far off.</span>
  <span class="verse" title="Ezekiel 12:28" id="Ezekiel-12-28">Therefore tell them, Thus says the Lord Yahweh: None of my words shall be deferred any more, but the word which I shall speak shall be performed, says the Lord Yahweh.</span>
</div>