<div class="chapter" id="Ezekiel-015">
  <h2>Ezekiel 15</h2>
  <span class="verse" title="Ezekiel 15:1" id="Ezekiel-15-1">The word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 15:2" id="Ezekiel-15-2">Son of man, what is the vine tree more than any tree, the vine-branch which is among the trees of the forest?</span>
  <span class="verse" title="Ezekiel 15:3" id="Ezekiel-15-3">Shall wood be taken of it to make any work? or will men take a pin of it to hang any vessel thereon?</span>
  <span class="verse" title="Ezekiel 15:4" id="Ezekiel-15-4">Behold, it is cast into the fire for fuel; the fire has devoured both its ends, and its midst is burned: is it profitable for any work?</span>
  <span class="verse" title="Ezekiel 15:5" id="Ezekiel-15-5">Behold, when it was whole, it was meet for no work: how much less, when the fire has devoured it, and it is burned, shall it yet be meet for any work!</span>
  <span class="verse" title="Ezekiel 15:6" id="Ezekiel-15-6">Therefore thus says the Lord Yahweh: As the vine tree among the trees of the forest, which I have given to the fire for fuel, so will I give the inhabitants of Jerusalem.</span>
  <span class="verse" title="Ezekiel 15:7" id="Ezekiel-15-7">I will set my face against them; they shall go forth from the fire, but the fire shall devour them; and you shall know that I am Yahweh, when I set my face against them.</span>
  <span class="verse" title="Ezekiel 15:8" id="Ezekiel-15-8">I will make the land desolate, because they have committed a trespass, says the Lord Yahweh.</span>
</div>