<div class="chapter" id="Ezekiel-019">
  <h2>Ezekiel 19</h2>
  <span class="verse" title="Ezekiel 19:1" id="Ezekiel-19-1">Moreover, take up a lamentation for the princes of Israel,</span>
  <span class="verse" title="Ezekiel 19:2" id="Ezekiel-19-2">and say, What was your mother? A lioness: she couched among lions, in the midst of the young lions she nourished her cubs.</span>
  <span class="verse" title="Ezekiel 19:3" id="Ezekiel-19-3">She brought up one of her cubs: he became a young lion, and he learned to catch the prey; he devoured men.</span>
  <span class="verse" title="Ezekiel 19:4" id="Ezekiel-19-4">The nations also heard of him; he was taken in their pit; and they brought him with hooks to the land of Egypt.</span>
  <span class="verse" title="Ezekiel 19:5" id="Ezekiel-19-5">Now when she saw that she had waited, and her hope was lost, then she took another of her cubs, and made him a young lion.</span>
  <span class="verse" title="Ezekiel 19:6" id="Ezekiel-19-6">He went up and down among the lions; he became a young lion, and he learned to catch the prey; he devoured men.</span>
  <span class="verse" title="Ezekiel 19:7" id="Ezekiel-19-7">He knew their palaces, and laid waste their cities; and the land was desolate, and its fullness, because of the noise of his roaring.</span>
  <span class="verse" title="Ezekiel 19:8" id="Ezekiel-19-8">Then the nations set against him on every side from the provinces; and they spread their net over him; he was taken in their pit.</span>
  <span class="verse" title="Ezekiel 19:9" id="Ezekiel-19-9">They put him in a cage with hooks, and brought him to the king of Babylon; they brought him into strongholds, that his voice should no more be heard on the mountains of Israel.</span>
  <span class="verse" title="Ezekiel 19:10" id="Ezekiel-19-10">Your mother was like a vine, in your blood, planted by the waters: it was fruitful and full of branches by reason of many waters.</span>
  <span class="verse" title="Ezekiel 19:11" id="Ezekiel-19-11">It had strong rods for the scepters of those who bore rule, and their stature was exalted among the thick boughs, and they were seen in their height with the multitude of their branches.</span>
  <span class="verse" title="Ezekiel 19:12" id="Ezekiel-19-12">But it was plucked up in fury, it was cast down to the ground, and the east wind dried up its fruit: its strong rods were broken off and withered; the fire consumed them.</span>
  <span class="verse" title="Ezekiel 19:13" id="Ezekiel-19-13">Now it is planted in the wilderness, in a dry and thirsty land.</span>
  <span class="verse" title="Ezekiel 19:14" id="Ezekiel-19-14">Fire is gone out of the rods of its branches, it has devoured its fruit, so that there is in it no strong rod to be a scepter to rule. This is a lamentation, and shall be for a lamentation.</span>
</div>