<div class="chapter" id="Ezekiel-022">
  <h2>Ezekiel 22</h2>
  <span class="verse" title="Ezekiel 22:1" id="Ezekiel-22-1">Moreover the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 22:2" id="Ezekiel-22-2">You, son of man, will you judge, will you judge the bloody city? then cause her to know all her abominations.</span>
  <span class="verse" title="Ezekiel 22:3" id="Ezekiel-22-3">You shall say, Thus says the Lord Yahweh: A city that sheds blood in the midst of her, that her time may come, and that makes idols against herself to defile her!</span>
  <span class="verse" title="Ezekiel 22:4" id="Ezekiel-22-4">You have become guilty in your blood that you have shed, and are defiled in your idols which you have made; and you have caused your days to draw near, and have come even to your years: therefore have I made you a reproach to the nations, and a mocking to all the countries.</span>
  <span class="verse" title="Ezekiel 22:5" id="Ezekiel-22-5">Those who are near, and those who are far from you, shall mock you, you infamous one and full of tumult.</span>
  <span class="verse" title="Ezekiel 22:6" id="Ezekiel-22-6">Behold, the princes of Israel, everyone according to his power, have been in you to shed blood.</span>
  <span class="verse" title="Ezekiel 22:7" id="Ezekiel-22-7">In you have they set light by father and mother; in the midst of you have they dealt by oppression with the foreigner; in you have they wronged the fatherless and the widow.</span>
  <span class="verse" title="Ezekiel 22:8" id="Ezekiel-22-8">You have despised my holy things, and have profaned my Sabbaths.</span>
  <span class="verse" title="Ezekiel 22:9" id="Ezekiel-22-9">Slanderous men have been in you to shed blood; and in you they have eaten on the mountains: in the midst of you they have committed lewdness.</span>
  <span class="verse" title="Ezekiel 22:10" id="Ezekiel-22-10">In you have they uncovered their fathers&#8217; nakedness; in you have they humbled her who was unclean in her impurity.</span>
  <span class="verse" title="Ezekiel 22:11" id="Ezekiel-22-11">One has committed abomination with his neighbor&#8217;s wife; and another has lewdly defiled his daughter-in-law; and another in you has humbled his sister, his father&#8217;s daughter.</span>
  <span class="verse" title="Ezekiel 22:12" id="Ezekiel-22-12">In you have they taken bribes to shed blood; you have taken interest and increase, and you have greedily gained of your neighbors by oppression, and have forgotten me, says the Lord Yahweh.</span>
  <span class="verse" title="Ezekiel 22:13" id="Ezekiel-22-13">Behold, therefore, I have struck my hand at your dishonest gain which you have made, and at your blood which has been in the midst of you.</span>
  <span class="verse" title="Ezekiel 22:14" id="Ezekiel-22-14">Can your heart endure, or can your hands be strong, in the days that I shall deal with you? I, Yahweh, have spoken it, and will do it.</span>
  <span class="verse" title="Ezekiel 22:15" id="Ezekiel-22-15">I will scatter you among the nations, and disperse you through the countries; and I will consume your filthiness out of you.</span>
  <span class="verse" title="Ezekiel 22:16" id="Ezekiel-22-16">You shall be profaned in yourself, in the sight of the nations; and you shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 22:17" id="Ezekiel-22-17">The word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 22:18" id="Ezekiel-22-18">Son of man, the house of Israel has become dross to me: all of them are brass and tin and iron and lead, in the midst of the furnace; they are the dross of silver.</span>
  <span class="verse" title="Ezekiel 22:19" id="Ezekiel-22-19">Therefore thus says the Lord Yahweh: Because you have all become dross, therefore, behold, I will gather you into the midst of Jerusalem.</span>
  <span class="verse" title="Ezekiel 22:20" id="Ezekiel-22-20">As they gather silver and brass and iron and lead and tin into the midst of the furnace, to blow the fire on it, to melt it; so will I gather you in my anger and in my wrath, and I will lay you there, and melt you.</span>
  <span class="verse" title="Ezekiel 22:21" id="Ezekiel-22-21">Yes, I will gather you, and blow on you with the fire of my wrath, and you shall be melted in its midst.</span>
  <span class="verse" title="Ezekiel 22:22" id="Ezekiel-22-22">As silver is melted in the midst of the furnace, so you will be melted in its midst; and you will know that I, Yahweh, have poured out my wrath on you.</span>
  <span class="verse" title="Ezekiel 22:23" id="Ezekiel-22-23">The word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 22:24" id="Ezekiel-22-24">Son of man, tell her, You are a land that is not cleansed, nor rained on in the day of indignation.</span>
  <span class="verse" title="Ezekiel 22:25" id="Ezekiel-22-25">There is a conspiracy of her prophets in its midst, like a roaring lion ravening the prey: they have devoured souls; they take treasure and precious things; they have made her widows many in its midst.</span>
  <span class="verse" title="Ezekiel 22:26" id="Ezekiel-22-26">Her priests have done violence to my law, and have profaned my holy things: they have made no distinction between the holy and the common, neither have they caused men to discern between the unclean and the clean, and have hidden their eyes from my Sabbaths, and I am profaned among them.</span>
  <span class="verse" title="Ezekiel 22:27" id="Ezekiel-22-27">Her princes in its midst are like wolves ravening the prey, to shed blood, and to destroy souls, that they may get dishonest gain.</span>
  <span class="verse" title="Ezekiel 22:28" id="Ezekiel-22-28">Her prophets have plastered for them with whitewash, seeing false visions, and divining lies to them, saying, Thus says the Lord Yahweh, when Yahweh has not spoken.</span>
  <span class="verse" title="Ezekiel 22:29" id="Ezekiel-22-29">The people of the land have used oppression, and exercised robbery; yes, they have troubled the poor and needy, and have oppressed the foreigner wrongfully.</span>
  <span class="verse" title="Ezekiel 22:30" id="Ezekiel-22-30">I sought for a man among them, who should build up the wall, and stand in the gap before me for the land, that I should not destroy it; but I found none.</span>
  <span class="verse" title="Ezekiel 22:31" id="Ezekiel-22-31">Therefore have I poured out my indignation on them; I have consumed them with the fire of my wrath: their own way have I brought on their heads, says the Lord Yahweh.</span>
</div>