<div class="chapter" id="Ezekiel-024">
  <h2>Ezekiel 24</h2>
  <span class="verse" title="Ezekiel 24:1" id="Ezekiel-24-1">Again, in the ninth year, in the tenth month, in the tenth day of the month, the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 24:2" id="Ezekiel-24-2">Son of man, write the name of the day, even of this same day: the king of Babylon drew close to Jerusalem this same day.</span>
  <span class="verse" title="Ezekiel 24:3" id="Ezekiel-24-3">Utter a parable to the rebellious house, and tell them, Thus says the Lord Yahweh, Set on the caldron, set it on, and also pour water into it:</span>
  <span class="verse" title="Ezekiel 24:4" id="Ezekiel-24-4">gather its pieces into it, even every good piece, the thigh, and the shoulder; fill it with the choice bones.</span>
  <span class="verse" title="Ezekiel 24:5" id="Ezekiel-24-5">Take the choice of the flock, and also a pile of wood for the bones under the caldron; make it boil well; yes, let its bones be boiled in its midst.</span>
  <span class="verse" title="Ezekiel 24:6" id="Ezekiel-24-6">Therefore thus says the Lord Yahweh: Woe to the bloody city, to the caldron whose rust is therein, and whose rust is not gone out of it! take out of it piece after piece; No lot is fallen on it.</span>
  <span class="verse" title="Ezekiel 24:7" id="Ezekiel-24-7">For her blood is in the midst of her; she set it on the bare rock; she didn&#8217;t pour it on the ground, to cover it with dust.</span>
  <span class="verse" title="Ezekiel 24:8" id="Ezekiel-24-8">That it may cause wrath to come up to take vengeance, I have set her blood on the bare rock, that it should not be covered.</span>
  <span class="verse" title="Ezekiel 24:9" id="Ezekiel-24-9">Therefore thus says the Lord Yahweh: Woe to the bloody city! I also will make the pile great.</span>
  <span class="verse" title="Ezekiel 24:10" id="Ezekiel-24-10">Heap on the wood, make the fire hot, boil well the flesh, and make thick the broth, and let the bones be burned.</span>
  <span class="verse" title="Ezekiel 24:11" id="Ezekiel-24-11">Then set it empty on its coals, that it may be hot, and its brass may burn, and that its filthiness may be molten in it, that its rust may be consumed.</span>
  <span class="verse" title="Ezekiel 24:12" id="Ezekiel-24-12">She has wearied herself with toil; yet her great rust doesn&#8217;t go forth out of her; her rust doesn&#8217;t go forth by fire.</span>
  <span class="verse" title="Ezekiel 24:13" id="Ezekiel-24-13">In your filthiness is lewdness: because I have cleansed you and you weren&#8217;t cleansed, you shall not be cleansed from your filthiness any more, until I have caused my wrath toward you to rest.</span>
  <span class="verse" title="Ezekiel 24:14" id="Ezekiel-24-14">I, Yahweh, have spoken it: it shall happen, and I will do it: I will not go back, neither will I spare, neither will I repent; according to your ways, and according to your doings, shall they judge you, says the Lord Yahweh.</span>
  <span class="verse" title="Ezekiel 24:15" id="Ezekiel-24-15">Also the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 24:16" id="Ezekiel-24-16">Son of man, behold, I will take away from you the desire of your eyes with a stroke: yet you shall neither mourn nor weep, neither shall your tears run down.</span>
  <span class="verse" title="Ezekiel 24:17" id="Ezekiel-24-17">Sigh, but not aloud, make no mourning for the dead; bind your headdress on you, and put your shoes on your feet, and don&#8217;t cover your lips, and don&#8217;t eat men&#8217;s bread.</span>
  <span class="verse" title="Ezekiel 24:18" id="Ezekiel-24-18">So I spoke to the people in the morning; and at even my wife died; and I did in the morning as I was commanded.</span>
  <span class="verse" title="Ezekiel 24:19" id="Ezekiel-24-19">The people said to me, Won&#8217;t you tell us what these things are to us, that you do so?</span>
  <span class="verse" title="Ezekiel 24:20" id="Ezekiel-24-20">Then I said to them, The word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 24:21" id="Ezekiel-24-21">Speak to the house of Israel, Thus says the Lord Yahweh: Behold, I will profane my sanctuary, the pride of your power, the desire of your eyes, and that which your soul pities; and your sons and your daughters whom you have left behind shall fall by the sword.</span>
  <span class="verse" title="Ezekiel 24:22" id="Ezekiel-24-22">You shall do as I have done: you shall not cover your lips, nor eat the bread of men.</span>
  <span class="verse" title="Ezekiel 24:23" id="Ezekiel-24-23">Your tires shall be on your heads, and your shoes on your feet: you shall not mourn nor weep; but you shall pine away in your iniquities, and moan one toward another.</span>
  <span class="verse" title="Ezekiel 24:24" id="Ezekiel-24-24">Thus Ezekiel shall be a sign to you; according to all that he has done, you will do. When this comes, then you will know that I am the Lord Yahweh.</span>
  <span class="verse" title="Ezekiel 24:25" id="Ezekiel-24-25">You, son of man, shall it not be in the day when I take from them their strength, the joy of their glory, the desire of their eyes, and that whereupon they set their heart, their sons and their daughters,</span>
  <span class="verse" title="Ezekiel 24:26" id="Ezekiel-24-26">that in that day he who escapes shall come to you, to cause you to hear it with your ears?</span>
  <span class="verse" title="Ezekiel 24:27" id="Ezekiel-24-27">In that day your mouth will be opened to him who has escaped, and you shall speak, and be no more mute: so you will be a sign to them; and they shall know that I am Yahweh.</span>
</div>