<div class="chapter" id="Ezekiel-025">
  <h2>Ezekiel 25</h2>
  <span class="verse" title="Ezekiel 25:1" id="Ezekiel-25-1">The word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 25:2" id="Ezekiel-25-2">Son of man, set your face toward the children of Ammon, and prophesy against them:</span>
  <span class="verse" title="Ezekiel 25:3" id="Ezekiel-25-3">and tell the children of Ammon, Hear the word of the Lord Yahweh: Thus says the Lord Yahweh, Because you said, Aha, against my sanctuary, when it was profaned; and against the land of Israel, when it was made desolate; and against the house of Judah, when they went into captivity:</span>
  <span class="verse" title="Ezekiel 25:4" id="Ezekiel-25-4">therefore, behold, I will deliver you to the children of the east for a possession, and they shall set their encampments in you, and make their dwellings in you; they shall eat your fruit, and they shall drink your milk.</span>
  <span class="verse" title="Ezekiel 25:5" id="Ezekiel-25-5">I will make Rabbah a stable for camels, and the children of Ammon a resting place for flocks: and you shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 25:6" id="Ezekiel-25-6">For thus says the Lord Yahweh: Because you have clapped your hands, and stamped with the feet, and rejoiced with all the despite of your soul against the land of Israel;</span>
  <span class="verse" title="Ezekiel 25:7" id="Ezekiel-25-7">therefore, behold, I have stretched out my hand on you, and will deliver you for a spoil to the nations; and I will cut you off from the peoples, and I will cause you to perish out of the countries: I will destroy you; and you shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 25:8" id="Ezekiel-25-8">Thus says the Lord Yahweh: Because Moab and Seir say, Behold, the house of Judah is like all the nations;</span>
  <span class="verse" title="Ezekiel 25:9" id="Ezekiel-25-9">therefore, behold, I will open the side of Moab from the cities, from his cities which are on his frontiers, the glory of the country, Beth Jeshimoth, Baal Meon, and Kiriathaim,</span>
  <span class="verse" title="Ezekiel 25:10" id="Ezekiel-25-10">to the children of the east, to go against the children of Ammon; and I will give them for a possession, that the children of Ammon may not be remembered among the nations.</span>
  <span class="verse" title="Ezekiel 25:11" id="Ezekiel-25-11">and I will execute judgments on Moab; and they shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 25:12" id="Ezekiel-25-12">Thus says the Lord Yahweh: Because Edom has dealt against the house of Judah by taking vengeance, and has greatly offended, and revenged himself on them;</span>
  <span class="verse" title="Ezekiel 25:13" id="Ezekiel-25-13">therefore thus says the Lord Yahweh, I will stretch out my hand on Edom, and will cut off man and animal from it; and I will make it desolate from Teman; even to Dedan shall they fall by the sword.</span>
  <span class="verse" title="Ezekiel 25:14" id="Ezekiel-25-14">I will lay my vengeance on Edom by the hand of my people Israel; and they shall do in Edom according to my anger and according to my wrath; and they shall know my vengeance, says the Lord Yahweh.</span>
  <span class="verse" title="Ezekiel 25:15" id="Ezekiel-25-15">Thus says the Lord Yahweh: Because the Philistines have dealt by revenge, and have taken vengeance with despite of soul to destroy with perpetual enmity;</span>
  <span class="verse" title="Ezekiel 25:16" id="Ezekiel-25-16">therefore thus says the Lord Yahweh, Behold, I will stretch out my hand on the Philistines, and I will cut off the Cherethites, and destroy the remnant of the sea coast.</span>
  <span class="verse" title="Ezekiel 25:17" id="Ezekiel-25-17">I will execute great vengeance on them with wrathful rebukes; and they shall know that I am Yahweh, when I shall lay my vengeance on them.</span>
</div>