<div class="chapter" id="Ezekiel-027">
  <h2>Ezekiel 27</h2>
  <span class="verse" title="Ezekiel 27:1" id="Ezekiel-27-1">The word of Yahweh came again to me, saying,</span>
  <span class="verse" title="Ezekiel 27:2" id="Ezekiel-27-2">You, son of man, take up a lamentation over Tyre;</span>
  <span class="verse" title="Ezekiel 27:3" id="Ezekiel-27-3">and tell Tyre, you who dwell at the entry of the sea, who are the merchant of the peoples to many islands, thus says the Lord Yahweh: You, Tyre, have said, I am perfect in beauty.</span>
  <span class="verse" title="Ezekiel 27:4" id="Ezekiel-27-4">Your borders are in the heart of the seas; your builders have perfected your beauty.</span>
  <span class="verse" title="Ezekiel 27:5" id="Ezekiel-27-5">They have made all your planks of fir trees from Senir; they have taken a cedar from Lebanon to make a mast for you.</span>
  <span class="verse" title="Ezekiel 27:6" id="Ezekiel-27-6">Of the oaks of Bashan have they made your oars; they have made your benches of ivory inlaid in boxwood, from the islands of Kittim.</span>
  <span class="verse" title="Ezekiel 27:7" id="Ezekiel-27-7">Of fine linen with embroidered work from Egypt was your sail, that it might be to you for a banner; blue and purple from the islands of Elishah was your awning.</span>
  <span class="verse" title="Ezekiel 27:8" id="Ezekiel-27-8">The inhabitants of Sidon and Arvad were your rowers: your wise men, Tyre, were in you, they were your pilots.</span>
  <span class="verse" title="Ezekiel 27:9" id="Ezekiel-27-9">The old men of Gebal and the wise men of it were in you your repairers of ship seams: all the ships of the sea with their mariners were in you to deal in your merchandise.</span>
  <span class="verse" title="Ezekiel 27:10" id="Ezekiel-27-10">Persia and Lud and Put were in your army, your men of war: they hanged the shield and helmet in you; they set forth your comeliness.</span>
  <span class="verse" title="Ezekiel 27:11" id="Ezekiel-27-11">The men of Arvad with your army were on your walls all around, and valorous men were in your towers; they hanged their shields on your walls all around; they have perfected your beauty.</span>
  <span class="verse" title="Ezekiel 27:12" id="Ezekiel-27-12">Tarshish was your merchant by reason of the multitude of all kinds of riches; with silver, iron, tin, and lead, they traded for your wares.</span>
  <span class="verse" title="Ezekiel 27:13" id="Ezekiel-27-13">Javan, Tubal, and Meshech, they were your traffickers; they traded the persons of men and vessels of brass for your merchandise.</span>
  <span class="verse" title="Ezekiel 27:14" id="Ezekiel-27-14">They of the house of Togarmah traded for your wares with horses and war horses and mules.</span>
  <span class="verse" title="Ezekiel 27:15" id="Ezekiel-27-15">The men of Dedan were your traffickers; many islands were the market of your hand: they brought you in exchange horns of ivory and ebony.</span>
  <span class="verse" title="Ezekiel 27:16" id="Ezekiel-27-16">Syria was your merchant by reason of the multitude of your handiworks: they traded for your wares with emeralds, purple, and embroidered work, and fine linen, and coral, and rubies.</span>
  <span class="verse" title="Ezekiel 27:17" id="Ezekiel-27-17">Judah, and the land of Israel, they were your traffickers: they traded for your merchandise wheat of Minnith, and confections, and honey, and oil, and balm.</span>
  <span class="verse" title="Ezekiel 27:18" id="Ezekiel-27-18">Damascus was your merchant for the multitude of your handiworks, by reason of the multitude of all kinds of riches, with the wine of Helbon, and white wool.</span>
  <span class="verse" title="Ezekiel 27:19" id="Ezekiel-27-19">Vedan and Javan traded with yarn for your wares: bright iron, cassia, and calamus, were among your merchandise.</span>
  <span class="verse" title="Ezekiel 27:20" id="Ezekiel-27-20">Dedan was your trafficker in precious cloths for riding.</span>
  <span class="verse" title="Ezekiel 27:21" id="Ezekiel-27-21">Arabia, and all the princes of Kedar, they were the merchants of your hand; in lambs, and rams, and goats, in these were they your merchants.</span>
  <span class="verse" title="Ezekiel 27:22" id="Ezekiel-27-22">The traffickers of Sheba and Raamah, they were your traffickers; they traded for your wares with the chief of all spices, and with all precious stones, and gold.</span>
  <span class="verse" title="Ezekiel 27:23" id="Ezekiel-27-23">Haran and Canneh and Eden, the traffickers of Sheba, Asshur and Chilmad, were your traffickers.</span>
  <span class="verse" title="Ezekiel 27:24" id="Ezekiel-27-24">These were your traffickers in choice wares, in wrappings of blue and embroidered work, and in chests of rich clothing, bound with cords and made of cedar, among your merchandise.</span>
  <span class="verse" title="Ezekiel 27:25" id="Ezekiel-27-25">The ships of Tarshish were your caravans for your merchandise: and you were replenished, and made very glorious in the heart of the seas.</span>
  <span class="verse" title="Ezekiel 27:26" id="Ezekiel-27-26">Your rowers have brought you into great waters: the east wind has broken you in the heart of the seas.</span>
  <span class="verse" title="Ezekiel 27:27" id="Ezekiel-27-27">Your riches, and your wares, your merchandise, your mariners, and your pilots, your repairers of ship seams, and the dealers in your merchandise, and all your men of war, who are in you, with all your company which is in the midst of you, shall fall into the heart of the seas in the day of your ruin.</span>
  <span class="verse" title="Ezekiel 27:28" id="Ezekiel-27-28">At the sound of the cry of your pilots the suburbs shall shake.</span>
  <span class="verse" title="Ezekiel 27:29" id="Ezekiel-27-29">All who handled the oar, the mariners, and all the pilots of the sea, shall come down from their ships; they shall stand on the land,</span>
  <span class="verse" title="Ezekiel 27:30" id="Ezekiel-27-30">and shall cause their voice to be heard over you, and shall cry bitterly, and shall cast up dust on their heads, they shall wallow themselves in the ashes:</span>
  <span class="verse" title="Ezekiel 27:31" id="Ezekiel-27-31">and they shall make themselves bald for you, and clothe them with sackcloth, and they shall weep for you in bitterness of soul with bitter mourning.</span>
  <span class="verse" title="Ezekiel 27:32" id="Ezekiel-27-32">In their wailing they shall take up a lamentation for you, and lament over you, saying, Who is there like Tyre, like her who is brought to silence in the midst of the sea?</span>
  <span class="verse" title="Ezekiel 27:33" id="Ezekiel-27-33">When your wares went forth out of the seas, you filled many peoples; you enriched the kings of the earth with the multitude of your riches and of your merchandise.</span>
  <span class="verse" title="Ezekiel 27:34" id="Ezekiel-27-34">In the time that you were broken by the seas in the depths of the waters, your merchandise and all your company fell in your midst.</span>
  <span class="verse" title="Ezekiel 27:35" id="Ezekiel-27-35">All the inhabitants of the islands are astonished at you, and their kings are horribly afraid; they are troubled in their face.</span>
  <span class="verse" title="Ezekiel 27:36" id="Ezekiel-27-36">The merchants among the peoples hiss at you; you are become a terror, and you shall nevermore have any being.</span>
</div>