<div class="chapter" id="Ezekiel-030">
  <h2>Ezekiel 30</h2>
  <span class="verse" title="Ezekiel 30:1" id="Ezekiel-30-1">The word of Yahweh came again to me, saying,</span>
  <span class="verse" title="Ezekiel 30:2" id="Ezekiel-30-2">Son of man, prophesy, and say, Thus says the Lord Yahweh: Wail, Alas for the day!</span>
  <span class="verse" title="Ezekiel 30:3" id="Ezekiel-30-3">For the day is near, even the day of Yahweh is near; it shall be a day of clouds, a time of the nations.</span>
  <span class="verse" title="Ezekiel 30:4" id="Ezekiel-30-4">A sword shall come on Egypt, and anguish shall be in Ethiopia, when the slain shall fall in Egypt; and they shall take away her multitude, and her foundations shall be broken down.</span>
  <span class="verse" title="Ezekiel 30:5" id="Ezekiel-30-5">Ethiopia, and Put, and Lud, and all the mixed people, and Cub, and the children of the land that is allied with them, shall fall with them by the sword.</span>
  <span class="verse" title="Ezekiel 30:6" id="Ezekiel-30-6">Thus says Yahweh: They also who uphold Egypt shall fall; and the pride of her power shall come down: from the tower of Seveneh shall they fall in it by the sword, says the Lord Yahweh.</span>
  <span class="verse" title="Ezekiel 30:7" id="Ezekiel-30-7">They shall be desolate in the midst of the countries that are desolate; and her cities shall be in the midst of the cities that are wasted.</span>
  <span class="verse" title="Ezekiel 30:8" id="Ezekiel-30-8">They shall know that I am Yahweh, when I have set a fire in Egypt, and all her helpers are destroyed.</span>
  <span class="verse" title="Ezekiel 30:9" id="Ezekiel-30-9">In that day shall messengers go forth from before me in ships to make the careless Ethiopians afraid; and there shall be anguish on them, as in the day of Egypt; for, behold, it comes.</span>
  <span class="verse" title="Ezekiel 30:10" id="Ezekiel-30-10">Thus says the Lord Yahweh: I will also make the multitude of Egypt to cease, by the hand of Nebuchadnezzar king of Babylon.</span>
  <span class="verse" title="Ezekiel 30:11" id="Ezekiel-30-11">He and his people with him, the terrible of the nations, shall be brought in to destroy the land; and they shall draw their swords against Egypt, and fill the land with the slain.</span>
  <span class="verse" title="Ezekiel 30:12" id="Ezekiel-30-12">I will make the rivers dry, and will sell the land into the hand of evil men; and I will make the land desolate, and all that is therein, by the hand of strangers: I, Yahweh, have spoken it.</span>
  <span class="verse" title="Ezekiel 30:13" id="Ezekiel-30-13">Thus says the Lord Yahweh: I will also destroy the idols, and I will cause the images to cease from Memphis; and there shall be no more a prince from the land of Egypt: and I will put a fear in the land of Egypt.</span>
  <span class="verse" title="Ezekiel 30:14" id="Ezekiel-30-14">I will make Pathros desolate, and will set a fire in Zoan, and will execute judgments on No.</span>
  <span class="verse" title="Ezekiel 30:15" id="Ezekiel-30-15">I will pour my wrath on Sin, the stronghold of Egypt; and I will cut off the multitude of No.</span>
  <span class="verse" title="Ezekiel 30:16" id="Ezekiel-30-16">I will set a fire in Egypt: Sin shall be in great anguish, and No shall be broken up; and Memphis shall have adversaries in the daytime.</span>
  <span class="verse" title="Ezekiel 30:17" id="Ezekiel-30-17">The young men of Aven and of Pibeseth shall fall by the sword; and these cities shall go into captivity.</span>
  <span class="verse" title="Ezekiel 30:18" id="Ezekiel-30-18">At Tehaphnehes also the day shall withdraw itself, when I shall break there the yokes of Egypt, and the pride of her power shall cease in her: as for her, a cloud shall cover her, and her daughters shall go into captivity.</span>
  <span class="verse" title="Ezekiel 30:19" id="Ezekiel-30-19">Thus will I execute judgments on Egypt; and they shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 30:20" id="Ezekiel-30-20">It happened in the eleventh year, in the first month, in the seventh day of the month, that the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 30:21" id="Ezekiel-30-21">Son of man, I have broken the arm of Pharaoh king of Egypt; and behold, it has not been bound up, to apply healing medicines, to put a bandage to bind it, that it be strong to hold the sword.</span>
  <span class="verse" title="Ezekiel 30:22" id="Ezekiel-30-22">Therefore thus says the Lord Yahweh: Behold, I am against Pharaoh king of Egypt, and will break his arms, the strong arm, and that which was broken; and I will cause the sword to fall out of his hand.</span>
  <span class="verse" title="Ezekiel 30:23" id="Ezekiel-30-23">I will scatter the Egyptians among the nations, and will disperse them through the countries.</span>
  <span class="verse" title="Ezekiel 30:24" id="Ezekiel-30-24">I will strengthen the arms of the king of Babylon, and put my sword in his hand: but I will break the arms of Pharaoh, and he shall groan before him with the groanings of a deadly wounded man.</span>
  <span class="verse" title="Ezekiel 30:25" id="Ezekiel-30-25">I will hold up the arms of the king of Babylon; and the arms of Pharaoh shall fall down; and they shall know that I am Yahweh, when I shall put my sword into the hand of the king of Babylon, and he shall stretch it out on the land of Egypt.</span>
  <span class="verse" title="Ezekiel 30:26" id="Ezekiel-30-26">I will scatter the Egyptians among the nations, and disperse them through the countries; and they shall know that I am Yahweh.</span>
</div>