<div class="chapter" id="Ezekiel-035">
  <h2>Ezekiel 35</h2>
  <span class="verse" title="Ezekiel 35:1" id="Ezekiel-35-1">Moreover the word of Yahweh came to me, saying,</span>
  <span class="verse" title="Ezekiel 35:2" id="Ezekiel-35-2">Son of man, set your face against Mount Seir, and prophesy against it,</span>
  <span class="verse" title="Ezekiel 35:3" id="Ezekiel-35-3">and tell it, Thus says the Lord Yahweh: Behold, I am against you, Mount Seir, and I will stretch out my hand against you, and I will make you a desolation and an astonishment.</span>
  <span class="verse" title="Ezekiel 35:4" id="Ezekiel-35-4">I will lay your cities waste, and you shall be desolate; and you shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 35:5" id="Ezekiel-35-5">Because you have had a perpetual enmity, and have given over the children of Israel to the power of the sword in the time of their calamity, in the time of the iniquity of the end;</span>
  <span class="verse" title="Ezekiel 35:6" id="Ezekiel-35-6">therefore, as I live, says the Lord Yahweh, I will prepare you for blood, and blood shall pursue you: since you have not hated blood, therefore blood shall pursue you.</span>
  <span class="verse" title="Ezekiel 35:7" id="Ezekiel-35-7">Thus will I make Mount Seir an astonishment and a desolation; and I will cut off from it him who passes through and him who returns.</span>
  <span class="verse" title="Ezekiel 35:8" id="Ezekiel-35-8">I will fill its mountains with its slain: in your hills and in your valleys and in all your watercourses shall they fall who are slain with the sword.</span>
  <span class="verse" title="Ezekiel 35:9" id="Ezekiel-35-9">I will make you a perpetual desolation, and your cities shall not be inhabited; and you shall know that I am Yahweh.</span>
  <span class="verse" title="Ezekiel 35:10" id="Ezekiel-35-10">Because you have said, These two nations and these two countries shall be mine, and we will possess it; whereas Yahweh was there:</span>
  <span class="verse" title="Ezekiel 35:11" id="Ezekiel-35-11">therefore, as I live, says the Lord Yahweh, I will do according to your anger, and according to your envy which you have shown out of your hatred against them; and I will make myself known among them, when I shall judge you.</span>
  <span class="verse" title="Ezekiel 35:12" id="Ezekiel-35-12">You shall know that I, Yahweh, have heard all your insults which you have spoken against the mountains of Israel, saying, They are laid desolate, they have been given us to devour.</span>
  <span class="verse" title="Ezekiel 35:13" id="Ezekiel-35-13">You have magnified yourselves against me with your mouth, and have multiplied your words against me: I have heard it.</span>
  <span class="verse" title="Ezekiel 35:14" id="Ezekiel-35-14">Thus says the Lord Yahweh: When the whole earth rejoices, I will make you desolate.</span>
  <span class="verse" title="Ezekiel 35:15" id="Ezekiel-35-15">As you rejoiced over the inheritance of the house of Israel, because it was desolate, so will I do to you: you shall be desolate, Mount Seir, and all Edom, even all of it; and they shall know that I am Yahweh.</span>
</div>