<div class="chapter" id="Ezekiel-042">
  <h2>Ezekiel 42</h2>
  <span class="verse" title="Ezekiel 42:1" id="Ezekiel-42-1">Then he brought me forth into the outer court, the way toward the north: and he brought me into the room that was over against the separate place, and which was over against the building toward the north.</span>
  <span class="verse" title="Ezekiel 42:2" id="Ezekiel-42-2">Before the length of one hundred cubits was the north door, and the breadth was fifty cubits.</span>
  <span class="verse" title="Ezekiel 42:3" id="Ezekiel-42-3">Over against the twenty cubits which belonged to the inner court, and over against the pavement which belonged to the outer court, was gallery against gallery in the third story.</span>
  <span class="verse" title="Ezekiel 42:4" id="Ezekiel-42-4">Before the rooms was a walk of ten cubits&#8217; breadth inward, a way of one cubit; and their doors were toward the north.</span>
  <span class="verse" title="Ezekiel 42:5" id="Ezekiel-42-5">Now the upper rooms were shorter; for the galleries took away from these, more than from the lower and the middle, in the building.</span>
  <span class="verse" title="Ezekiel 42:6" id="Ezekiel-42-6">For they were in three stories, and they didn&#8217;t have pillars as the pillars of the courts: therefore the uppermost was straitened more than the lowest and the middle from the ground.</span>
  <span class="verse" title="Ezekiel 42:7" id="Ezekiel-42-7">The wall that was outside by the side of the rooms, toward the outer court before the rooms, its length was fifty cubits.</span>
  <span class="verse" title="Ezekiel 42:8" id="Ezekiel-42-8">For the length of the rooms that were in the outer court was fifty cubits: and behold, before the temple were one hundred cubits.</span>
  <span class="verse" title="Ezekiel 42:9" id="Ezekiel-42-9">From under these rooms was the entry on the east side, as one goes into them from the outer court.</span>
  <span class="verse" title="Ezekiel 42:10" id="Ezekiel-42-10">In the thickness of the wall of the court toward the east, before the separate place, and before the building, there were rooms.</span>
  <span class="verse" title="Ezekiel 42:11" id="Ezekiel-42-11">The way before them was like the appearance of the way of the rooms which were toward the north; according to their length so was their breadth: and all their exits were both according to their fashions, and according to their doors.</span>
  <span class="verse" title="Ezekiel 42:12" id="Ezekiel-42-12">According to the doors of the rooms that were toward the south was a door at the head of the way, even the way directly before the wall toward the east, as one enters into them.</span>
  <span class="verse" title="Ezekiel 42:13" id="Ezekiel-42-13">Then he said to me, The north rooms and the south rooms, which are before the separate place, they are the holy rooms, where the priests who are near to Yahweh shall eat the most holy things: there shall they lay the most holy things, and the meal offering, and the sin offering, and the trespass offering; for the place is holy.</span>
  <span class="verse" title="Ezekiel 42:14" id="Ezekiel-42-14">When the priests enter in, then shall they not go out of the holy place into the outer court, but there they shall lay their garments in which they minister; for they are holy: and they shall put on other garments, and shall approach to that which pertains to the people.</span>
  <span class="verse" title="Ezekiel 42:15" id="Ezekiel-42-15">Now when he had made an end of measuring the inner house, he brought me forth by the way of the gate whose prospect is toward the east, and measured it all around.</span>
  <span class="verse" title="Ezekiel 42:16" id="Ezekiel-42-16">He measured on the east side with the measuring reed five hundred reeds, with the measuring reed all around.</span>
  <span class="verse" title="Ezekiel 42:17" id="Ezekiel-42-17">He measured on the north side five hundred reeds with the measuring reed all around.</span>
  <span class="verse" title="Ezekiel 42:18" id="Ezekiel-42-18">He measured on the south side five hundred reeds with the measuring reed.</span>
  <span class="verse" title="Ezekiel 42:19" id="Ezekiel-42-19">He turned about to the west side, and measured five hundred reeds with the measuring reed.</span>
  <span class="verse" title="Ezekiel 42:20" id="Ezekiel-42-20">He measured it on the four sides: it had a wall around it, the length five hundred, and the breadth five hundred, to make a separation between that which was holy and that which was common.</span>
</div>