%ul.footer-links
  %li.hidden-xs
    %strong
      = t('footer.powered_by')
      = link_to t('footer.onebody_name'), 'https://github.com/seven1m/onebody', rel: 'nofollow'
  %li= link_to t('footer.help'), page_for_public_path('help')
  %li= link_to t('footer.privacy_policy'), page_for_public_path('help/privacy_policy')
