%ul.footer-links
  %li.hidden-xs
    = link_to t('footer.powered_by'), 'http://church.io/', :rel => 'nofollow'
  %li= link_to t('footer.help'), page_for_public_path('help')
  %li= link_to t('footer.privacy_policy'), page_for_public_path('help/privacy_policy')
