%ul.footer-links
  %li.hidden-xs
    %strong
      = t('footer.powered_by')
      = link_to t('footer.churchio_onebody'), 'http://church.io/', rel: 'nofollow'
  %li= link_to t('footer.help'), page_for_public_path('help')
  %li= link_to t('footer.privacy_policy'), page_for_public_path('help/privacy_policy')
