%ul.nav.navbar-nav
  %li.dropdown.user.user-menu
    = link_to @logged_in, :class => 'dropdown', 'data-toggle' => "control-sidebar" do
      = avatar_tag @logged_in, class: 'user-image'
      = @logged_in.name
      %i.fa.fa-gears
