<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= Setting.get(:name, :site) %></title>
  <%= yield :head %>
</head>
 
<body>

  <p class="very-strong">
    This is the fallback template used in case your selected theme cannot be found.
    Please check that your Theme setting points to a real directory inside the themes/ directory.
  </p>

  <%= yield %>

</body>
</html>
