<p>
  First, we need to verify you are who you say you are.
  Please choose one of the following options to verify
  your identity. You only have to do this once, and it
  only takes a few minutes.
</p>

<ul>
  <li>
    <%= link_to 'Verify by email.', new_account_path(:email => true) %><br/>
    We send you an email, you click the link inside, and you're done.
  </li>
  <li>
    <%= link_to 'Verify by mobile phone.', new_account_path(:mobile => true) %><br/>
    We send you a text message, you type the code it contains, and you're done.
    <span style="color:#f00;">Text messaging fees may apply.</span>
  </li>
  <li>
    <%= link_to 'Verify by birthday.', new_account_path(:birthday => true) %><br/>
    These submissions are reviewed by a real person and may take a few
    days to be approved.
  </li>
  <li>
    Call <%= Setting.get(:contact, :community_office_phone) %> during business hours.
  </li>
</ul>
